<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>A simple, clean, and responsive HTML invoice template</title>
        <style type="text/css">.invoice-box{
                max-width:800px;
                margin:auto;
                padding:30px;                
                box-shadow:0 0 10px rgba(0, 0, 0, .15);
                font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;                
            }

            tr.top td { border-top: thin solid black; }
            tr.bottom td { border-bottom: thin solid black; }
            tr.row td:first-child { border-left: thin solid black; }
            tr.row td:last-child { border-right: thin solid black; }

            .invoice-box table{
                width:100%;
                line-height:inherit;
                text-align:left;
            }

            .invoice-box table td{
                padding:5px;
                vertical-align:top;
            }




            .invoice-box table tr.top table td{
                padding-bottom:20px;
                float:left;
            }



            .invoice-box table tr.information table td{
                padding-bottom:40px;
                float:right;
            }

            .invoice-box table tr.heading td{
                background:#eee;
                border-bottom:1px solid #ddd;
                font-weight:bold;
            }

            .invoice-box table tr.details td{
                padding-bottom:20px;
            }

            .invoice-box table tr.item td{
                border-bottom:1px solid #eee;
            }

            .invoice-box table tr.item.last td{
                border-bottom:none;
            }

            .invoice-box table tr.total td:nth-child(2){
                border-top:2px solid #eee;
                font-weight:bold;
            }

            @media only screen and (max-width: 600px) {
                .invoice-box table tr.top table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }

                .invoice-box table tr.information table td{
                    width:100%;
                    display:block;
                    text-align:center;
                }
            }
        </style>
    </head>
    <body>
        <div class="invoice-box">
            <div class="top">
                <table>
                    <tbody>
                        <tr colspan="3" style="margin-left: -50px !important;">
                            <td class="title">
                                <div style="color: rgb(5, 116, 249); font-size: 20px; font-weight: bold;"><span style="font-family:comic sans ms,cursive;">&nbsp;&nbsp; </span></div>

                                <div style="color: rgb(5, 116, 249); font-size: 20px; font-weight: bold;"><span style="color:#000000;"><span style="font-family: comic sans ms,cursive;">Tax invoice&nbsp;</span></span></div>
                            </td>
                            <td class="title"><span><img height="120" src="http://temp.tilecleaners.com.au/pic/octopusPro.jpg" width="120" /></span>
                                <div style="color: rgb(5, 116, 249); font-size: 20px; font-weight: bold;"><span style="font-family:comic sans ms,cursive;">&nbsp;&nbsp;&nbsp; </span></div>
                            </td>
                            <td style="float: right;">
                                <div style="font-size: 12px; font-weight: bold;">&nbsp;</div>

                                <div style="font-size: 12px; font-weight: bold;"><span style="font-family:comic sans ms,cursive;">From:</span></div>

                                <div style="font-size: 10px;"><span style="font-family:comic sans ms,cursive;">Octopuspro Pty Ltd<br />
                                        <bold>ABN</bold> 15611602861<br />                                        
                                        Australia</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            &nbsp;

            <?php
//           $date_array = explode("-", $this->issued_date);
//            $var_day = $date_array[0];
//            $var_month = $date_array[1];
//            $var_year = $date_array[2];
//            $new_issued_date = "$var_year/$var_month/$var_day";
            ?>

            <div class="top">
                <table>
                    <tbody>
                        <tr colspan="3">
                            <td class="title" style="padding-right: 50px; ">
                                <div style="font-size: 12px; font-weight: bold;"><span style="font-family:comic sans ms,cursive;">Bill To:&nbsp;</span></div>

                                <div style="font-size: 10px;"><span style="font-family:comic sans ms,cursive;"><?php echo $this->first_name; ?> <?php echo $this->last_name; ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                        <?php echo $this->company_name; ?><br />
                                        <?php echo $this->company_suburb; ?> <?php echo $this->company_street_address; ?><br />
                                        Australia</span></div>
                            </td>
                            <td>
                                <div style="font-size: 12px; font-weight: bold; text-align: left;"><span style="font-family:comic sans ms,cursive;">Details:</span></div>

                                <div style="font-size: 10px;"><span style="font-family:comic sans ms,cursive;">Invoice Number: <?php echo $this->invoice_num; ?><br />
                                        Issued Date: <?php echo $this->issued_date; ?>
                                    </span></div>
                            </td>
                            <td>
                                <div style="font-size: 12px; font-weight: bold; text-align: left;"><span style="font-family:comic sans ms,cursive;">Description:</span></div>

                                <div style="font-size: 10px;"><span style="font-family:comic sans ms,cursive;"><?php echo $this->description; ?></span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span style="font-family:comic sans ms,cursive;">&nbsp;</span>

            <table cellpadding="0">
                <tbody>
                    <tr class="bottom" style="font-weight: bold;">
                        <td><span style="font-family: comic sans ms,cursive;"><span style="font-size: 14px;">#</span></span></td>
                        <td><span style="font-family: comic sans ms,cursive;"><span style="font-size: 14px;">Number of user</span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">Price per User</span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">period</span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:14px;">Total</span></span></td>
                    </tr>
                    <tr class="bottom">
                        <td><span style="font-family: comic sans ms,cursive;"><span style="font-size: 11px;">Account Details</span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;"><?php echo $this->number_of_user; ?></span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">$<?php echo number_format(abs($this->price_per_user), 2, '.', ''); ?></span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;"><?php echo $this->from; ?> to <?php echo $this->to; ?></span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">$<?php echo number_format(abs($this->amount_without_tax), 2, '.', ''); ?></span></span></td>
                    </tr>                   
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">Sub Total:</span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">$<?php echo number_format(abs($this->amount_without_tax), 2, '.', ''); ?></span></span></td>
                    </tr>
                    <tr class="item last">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">Positive Amount (AUD):</span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">$<?php echo number_format(abs($this->account_positive_amount), 2, '.', ''); ?></span></span></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">10% GST:</span></span></td>
                        <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">$<?php echo number_format(abs(($this->amount_without_tax * 0.1)), 2, '.', ''); ?></span></span></td>
                    </tr>
                    <tr class="item last ">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="top"><strong><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">Amount due in (AUD):</span></span></strong></td>
                        <td><strong><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;">$<?php echo number_format(abs($this->amount_with_tax), 2, '.', ''); ?></span></span></strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>
        <p>&nbsp;</p>




        <p><span style="font-size:11px;">* The invoice amount is not subject to GST because the supply of services provided by non-resident entity from outside of Australia is not connected with Australia.</span></p>

        <hr />
        <table cellpadding="0">
            <tbody>
                <tr>
                    <td><span style="font-family: comic sans ms,cursive;"><span style="font-size: 11px;">Bill to:</span></span></td>
                    <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;"><?php echo $this->company_name; ?></span></span></td>						
                </tr>
                <tr>
                    <td><span style="font-family: comic sans ms,cursive;"><span style="font-size: 11px;">Invoice Number:</span></span></td>
                    <td><span style="font-family:comic sans ms,cursive;"><span style="font-size:11px;"><?php echo $this->invoice_num; ?></span></span></td>                        
                </tr>
            </tbody>
        </table>

        <p><strong><span style="font-size:11px;">You will be automatically charged for the amount due. No action is required on your part.</span></strong></p>
    </body>
</html>
