<form id="form" method="<?php echo $this->escape($this->form->getMethod());?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction());?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        <tr>
            <td class="input_type" valign="top">Name :</td>
            <td><?php echo $this->form->getElement('name')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Phone Key :</td>
            <td><?php echo $this->form->getElement('phone_key')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Country :</td>
            <td><?php echo $this->form->getElement('country_id')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Postcode Key :</td>
            <td><?php echo $this->form->getElement('postcode_key')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">State :</td>
            <td><?php echo $this->form->getElement('state')->render(); ?></td>
        </tr>
        
        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>
