<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb();

			?>
            <div class="head">
                <div class="list_title">
                    All Cities
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsCitiesDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this City?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsCitiesDelete'))): ?>                     
                                <input type="submit" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Name</b></td>
                                <td><b>Phone Key</b></td>
                                <td><b>Postcode Key</b></td>
                                <td><b>State</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['city_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <span class="details_info_name"><?php echo $this->escape($row['city_name']) ?></span>    
                                            </div>
                                            <div class="booking_time_cont">
                                                <span style="color: #A1A1A1;">Country:</span> <?php echo $this->escape(ucfirst($row['country_name'])) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsCitiesEdit'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['city_id']), 'settingsCitiesEdit')); ?>','250','450');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsCitiesDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['city_id']), 'settingsCitiesDelete')); ?>" onclick="return confirm('are you sure you want to delete this City?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['phone_key']) ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['postcode_key']) ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['state']) ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no City.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsCitiesAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsCitiesAdd')); ?>','250','450');" class="btn_a">
                            <div class="text_pos">
                                New City
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search City
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCitiesList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                            <div class="search">
                                <select name="fltr[country_id]">
                                    <option value="0">Select One</option>
                                    <?php $countriesObj = new Model_Countries(); ?>
                                    <?php foreach ($countriesObj->getCountriesAsArray() as $country) : ?>
                                    <option value="<?php echo $this->escape($country['id']); ?>" <?php echo $this->escape((!empty($this->filters['country_id']) && $this->filters['country_id'] == $country['id'])||CheckAuth::getCountryId()==$country['id'] ? 'selected' : '' ); ?>><?php echo $this->escape($country['name']); ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="search">
                                <select name="fltr[state]">
                                    <option value="">Select One</option>
                                    <?php $citiesObj = new Model_Cities(); ?>
                                    <?php foreach ($citiesObj->getStateAsArray() as $state) : ?>
                                        <option value="<?php echo $this->escape($state); ?>" <?php echo $this->escape(!empty($this->filters['state']) && $this->filters['state'] == $state ? 'selected' : '' ); ?>><?php echo $this->escape($state); ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsCitiesList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

