<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            
			<div class="head">
                <div class="list_title">
                   All Notifications
                </div>
               
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): 
				
			?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsUserDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this User?');">
                    

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="user_info_details" style="padding-left: 20px;"><b>Notification</b></td>
                                
                            </tr>

                            <?php $count = 0; ?>
                            <?php $modelAuthRole = new Model_AuthRole(); ?>
                            <?php foreach ($this->data as $row) :?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                   
                                    <td style="padding: 20px;" >
                                        <?php //$roleName = $modelAuthRole->getRoleName($row['role_id']); ?>
										
                                        <div class="details_info_l"  style="font-size: 14px;">
											
                                            
                                            <div>
												<div>
                                                    <b><?php echo $this->escape($row['contractor_name']) ?></b>
                                                </div>
												<div>
												<a
										href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" target="_blank"
										class="a_black"><b><?php echo $this->escape($row['notification_text']) ?></b></a>
                                                    
                                                </div>
												<div>
                                                    <span style="color: #A1A1A1;">send_date</span> <?php 
													echo $this->escape(getDateFormating($row['send_date']));
													
													?>
                                                </div>
                                                <div>
                                                    <span style="color: #A1A1A1;">seen </span> <?php echo $this->escape($row['seen'])?'yes':'Not yet' ?>
                                                </div>
												 
												
                                            </div>
                                        </div>
                                        
                                    </td>
                                    
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no User.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                
               
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
 function filter(url){
        window.location = url;
    }
</script>
