<div class="ibox float-e-margins">
	<div class="ibox-content">
				<div class="row">
					<div class="col-md-5">
						<h3>All Attachments</h3>
					</div>
					<div class="col-md-7 "></div>
				</div>
     </div>
	 
	 <div class="ibox-content">
				<div class="row">
					<div class="col-md-6">
				<?php if (CheckAuth::checkCredential(array('attachmentFileUpload'))): ?>
                   
                        <a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Inquiry File Upload','<?php echo $this->escape($this->url(array('inquiry_id' => $this->inquiry_id),'inquiryFileUpload')); ?>');" class="btn btn-white">
                                Upload file
                        </a>
                  
                <?php endif; ?>
					</div>
					<div class="col-md-3 col-md-offset-3">
						
						<form id="search_form" action="<?php echo $this->escape($this->url(array(), 'inquiryAttachment')); ?>" method="GET" >
							<div class="input-group">
									<div class="input-group">
                                    <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" class="form-control"/>
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-primary">Search</button></span> 
									</div>						
							</div>
							
                        </form>
					</div>
				</div>
     </div>
</div>	

<div class="ibox float-e-margins no-margin-b">
<div class="ibox-content">
   <?php if ($this->inquiryAttachment): ?>
   <form action="<?php echo $this->escape($this->url(array(), 'inquiryFileUploadDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete these files?');">
 
	<?php if (CheckAuth::checkCredential(array('attachmentFileDelete'))): ?>
         <input class="btn btn-danger"  type="submit" value="Delete"/>
	<?php endif; ?> 
	     <table class="table table-bordered">
		 <thead>
				<tr>
					<th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" /></th>
                    <th>Name</th>     
                    <th>Size</th>
                    <th>Work Order</th>
                    <th>Description</th>
				</tr>
		</thead>
		
		<tbody>
			 <?php $count = 0; ?>
                     <?php foreach ($this->inquiryAttachment as $row) : ?>
                                <tr>
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['attachment_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['file_name']) ?>    
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('attachmentFileDownload'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['attachment_id']), 'inquiryFileDownload')); ?>"  class="details_info_opt">Download</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('attachmentFileDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['attachment_id']), 'inquiryFileUploadDelete')); ?>" onclick="return confirm('are you sure you want to delete this file?');" class="details_info_opt">Delete</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('attachmentFileEditDescription'))): ?>
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' File Description','<?php echo $this->escape($this->url(array('id' => $row['attachment_id']), 'inquiryFileEditDescription')); ?>');"class="details_info_opt">Description Edit</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['size']) ?>    
                                        </div>
                                    </td>
                                    <td>
                                        <div style="  margin: 10px 0px 5px 20px; font-size: 12px;">
                                            <?php if (CheckAuth::checkCredential(array('attachmentFileEditWorkOrder'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['attachment_id'], 'work_order' => $row['work_order']), 'inquirygFileEditWorkOrder')); ?>" class="a_link_black"><?php echo $this->escape(!empty($row['work_order']) ? 'Yes' : 'No') ?></a>
                                            <?php else: ?>
                                                <?php echo $this->escape(!empty($row['work_order']) ? 'Yes' : 'No') ?>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Description','<?php echo $this->escape($this->url(array('id' => $row['attachment_id']), 'inquiryFileViewDescription')); ?>');" class="a_link_black"><?php echo nl2br($this->escape(mb_strlen($row['description']) > 50 ? mb_substr($row['description'], 0, 50) . '...' : $row['description'])) ?></a>
                                        </div>
                                    </td>

                                </tr>
                            <?php endforeach; ?>
		</tbody>
		 </table>
		    </form>

 
	
	  
	
            
                 

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                   
             
            <?php else: ?>
               <div class="inquiry-no-result">
                     		<span class="fa fa-ban">
                            	</span><br><h3 class="font-bold">
                                	There are no files.</h3>
               </div>
            <?php endif; ?>
  
    </div>
</div>