<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Image Attachment
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsImageAttachmentDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Image Attachment?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsImageAttachmentDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td class="details"><b>Image</b></td>
                                <td class="details"><b>Service Name</b></td>
                                <td class="details"><b>Tile Type</b></td>
                                <td class="details"><b>Description</b></td>
                            </tr>

                            <?php
                            $modelServices = new Model_Services();
                            $modelAttributeListValue = new Model_AttributeListValue();
                            ?>
                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php echo ($count % 2 != 0) ? 'tr_cont_1' : 'tr_cont_2'; ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $row['thumbnail_path'])); ?>"/>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsImageAttachmentEdit'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsImageAttachmentEdit')); ?>','370','450');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsImageAttachmentDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsImageAttachmentDelete')); ?>" onclick="return confirm('are you sure you want to delete this Image Attachment?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php
                                            if ($row['service_id']) {
                                                $service = $modelServices->getById($row['service_id']);
                                                echo $this->escape($service['service_name']);
                                            } else {
                                                echo '-';
                                            }
                                            ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php
                                            if ($row['attribute_list_value_id']) {
                                                $floor = $modelAttributeListValue->getById($row['attribute_list_value_id']);
                                                echo $this->escape($floor['attribute_value']);
                                            } else {
                                                echo '-';
                                            }
                                            ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php
                                            if ($row['description']) {
                                                echo "<a class=\"details_info_opt\" onclick=\"showPopupWindow('" . $this->escape($this->url(array('id' => $row['id']), 'settingsImageAttachmentDescription')) . "','300','450');\" href=\"javascript:;\">";
                                                echo $this->escape(mb_substr($row['description'], 0, 30));
                                                echo (strlen($row['description']) > 30) ? ' ...' : '';
                                                echo '</a>';
                                            } else {
                                                echo '-';
                                            }
                                            ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Image Attachment.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsImageAttachmentAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsImageAttachmentAdd')); ?>','300','450');" class="btn_a">
                            <div class="text_pos">
                                New Image
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Image
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsImageAttachmentList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsImageAttachmentList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
