<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    
    <div class="form-group">
        <label class="col-md-3">Label Title :</label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('label_name')->render(); ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-9 col-md-offset-3 ">
          
            <?php echo $this->form->getElement('button')->render(); ?>
            
        </div>
    </div>

</form>