<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsAttributeValueAdd'))): ?>
                <div class="btn_cont">
                        <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi(' New Attribute Value','<?php echo $this->escape($this->url(array('attribute_id' => $this->attribute_id), 'settingsAttributeValueAdd')); ?>');" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('attribute_id' => $this->attribute_id), 'settingsAttributeValueAdd')); ?>','250','450');" class="btn btn-white">
				<div class="text_pos">
                             New Attribute Value
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                <div class="button_actions">
                    <h5>  Search Attribute Value </h5>
                </div>
                    <form class="form-inline" id="search_form" action="<?php echo $this->escape($this->url(array('attribute_id' => $this->attribute_id), 'settingsAttributeValueList')); ?>" method="GET" >
                            <input name="fltr[keywords]" class="form-control" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                             <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span a_margin-responsive">or</span>
                             <button class="a_advance btn btn-white a_margin-responsive" type="reset" >Reset</button>                                    
                    </form>
                    
            </div>
        </div>
</div>
<div style="margin-top:10px;" class="ibox float-e-margins no-margin-b">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title">
                        <h5>Attribute Value</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					
        <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array('attribute_id' => $this->attribute_id), 'settingsAttributeValueDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Attribute Value?');">
                    
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsAttributeValueDelete'))): ?>

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <th>Attribute Name</th>
                                    <th>Attribute Value</th>
									 <?php if ($this->attribute['is_price_attribute']): ?>
                                    <th>Unit Price</th>
									<?php endif; ?>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td>
                                            <div>
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['attribute_value_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> 
                                                
                                                    <span><?php echo $this->escape($row['attribute_name']) ?></span>    
                                                
                                                
                                            
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('settingsAttributeValueEdit'))): ?>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['attribute_value_id']), 'settingsAttributeValueEdit')); ?>');" class="details_info_opt">Edit</a>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsAttributeValueDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('attribute_id' => $this->attribute_id, 'id' => $row['attribute_value_id']), 'settingsAttributeValueDelete')); ?>" onclick="return confirm('are you sure you want to delete this Attribute Value?');" class="details_info_opt"> | Delete</a>
                                            <?php endif; ?>
                                            </div></td>
                                        <td>
                                                <?php echo $this->escape($row['attribute_value']) ?>
                                            
                                        </td>
										<?php if ($this->attribute['is_price_attribute']): ?>
                                        <td> 
                                                <?php echo $this->escape($row['unit_price']) ?>
                                        </td>
										
										<?php endif; ?>
                                        
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div class="ibox-content" class="noRowsMessageDIV">There are no Attribute Value.</div>
        <?php endif; ?>

    
    
</div>
<div style="clear:both"></div>



