<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeAdd'))): ?>
                <div class="btn_cont">
                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('New Customer Types','<?php echo $this->escape($this->url(array(), 'settingsCustomerTypeAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                           New Customer Types
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div>
                    <h5> Search Customer Types</h5>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCustomerTypeList')); ?>" method="GET" class="form-inline" role="form">
                            <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsCustomerTypeList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
					</form>
			</div>
        </div>
    </div>
<div style="margin-top:10px;" class="no-margin-b">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div>
        <?php if ($this->data): ?>
                        <form action="<?php echo $this->escape($this->url(array(), 'settingsCustomerTypeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Customer Type?');">


                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>All Customer Types</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="customer_type_table" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td>Name</td>
                                <td><b>Core</b></td>
                                <td>Work Order is Required</td>
                                <td>As Booking Address</td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $count += 1; ?>
                                    <tr class="<?php
                                    if ($count % 2 != 0) {
                                        echo 'tr_cont_1';
                                    } else {
                                        echo 'tr_cont_2';
                                    }
                                    ?>">
                                    <tr class="gradeX">
                                         <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['customer_type_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['customer_type']) ?>    
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (!$row['is_core']): ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeEdit')) && CheckAuth::checkIfCanHandelAllCompany('customer_type', $row['customer_type_id'])): ?>
                                                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['customer_type_id']), 'settingsCustomerTypeEdit')); ?>');" class="details_info_opt">Edit</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeDelete')) && CheckAuth::checkIfCanHandelAllCompany('customer_type', $row['customer_type_id'])): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_type_id']), 'settingsCustomerTypeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Customer Type?');" class="details_info_opt">Delete</a>
                                                    <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeChangeWorkOrder'))): ?>
                                                        <span class="details_breaks">|</span>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeChangeWorkOrder'))): ?>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Work Order','<?php echo $this->escape($this->url(array('id' => $row['customer_type_id']), 'settingsCustomerTypeChangeWorkOrder')); ?>');" class="details_info_opt">Modify Work Order</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeAsBookingAddress'))): ?>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Modify As Booking Address','<?php echo $this->escape($this->url(array('id' => $row['customer_type_id']), 'settingsCustomerTypeAsBookingAddress')); ?>');" class="details_info_opt">Modify As Booking Address</a>
                                            <?php endif; ?>
                                        </div></td>
                                        <td>
                                        <?php if ($row['is_core']) { ?>
                                            <div class="details_info_l"> YES</div>
                                        <?php } else { ?>
                                            <div class="details_info_l">NO</div>
                                        <?php }; ?>
                                    </td>
                                    <td>
                                        <?php if ($row['is_work_order']) { ?>
                                            <div class="details_info_l"> YES</div>
                                        <?php } else { ?>
                                            <div class="details_info_l">NO</div>
                                        <?php }; ?>
                                    </td>
                                    <td>
                                        <?php if ($row['as_booking_address']) { ?>
                                            <div class="details_info_l"> YES</div>
                                        <?php } else { ?>
                                            <div class="details_info_l">NO</div>
                                        <?php }; ?>
                                    </td>
                                       

                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
         <div style="" class="noRowsMessageDIV">There are no Customer Types.</div>
        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>
