

<?php if(isset($this->is_first_time) && $this->is_first_time == 1):?>
<?php if(isset($this->data) && !empty($this->data)) : ?>

 <table class="table table-bordered responsive-table" id="booking-awaiting-u-responsive-tb">
                        <thead>
							<tr>
                                    <th class="table-booking">Booking#</th>
                                    <th class="table-details">Details</th>
									<th>Amount</th>
                                    <th>Technician</th>
                                    <th>Users</th>
                                 
                            </tr>
                        </thead>
						<tbody id="result">
						
<?php else :?>

   <h3 class="font-bold">No Bookings</h3>
                 <div class="error-desc"> <br>
                   <a class="btn btn-primary m-t" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[convert_status]">View all Booking</a>
				 </div>		

 <?php endif;?>				 
<?php endif;?>

 <?php if(isset($this->data) && !empty($this->data)) : ?>	
  <?php $count = 0; ?>
                        <?php
                        $modelBookingStatus = new Model_BookingStatus();
                        $modelBookingAddress = new Model_BookingAddress();
                        ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                  					  if ($count % 2 != 0) {
                     				   echo $this->escape('tr_cont_1');
                 					   } else {
                 				       echo $this->escape('tr_cont_2');
                					    }
                            ?>">
                                <td>
                                    <div class="details_info_l inline">
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                            <?php else: ?>
                                                <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                            <?php endif; ?>
                                        </div>
                                        <div>
                                            <?php //echo $this->escape($row['convert_status']); ?>
                                        </div>
                                      
                                    </div>
									
									<div class="details_info_l mobile-none-display"  id="label_<?php echo $row['booking_id'] ?>">
										<?php if($row['labels']):?>
										<span><i class="fa fa-tag"></i>&nbsp;<b>Label(s):</b></span>
										
                                        <?php foreach ($row['labels'] as $label): ?>
                                            <div class="label_box">
                                                <?php echo $this->escape($label); ?> 
                                            </div>
                                        <?php endforeach; endif; ?>
									</div> 
									<div class="float-r mobile-on-display inline">
                                        <b>$ <?php echo $this->escape(number_format($row['qoute'], 2)); ?></b>
                                    </div>
				
                                </td>
                                <td>
                                    <div class="details_info_l">
									    <b>
											<?php
											$bookingStatus = $modelBookingStatus->getById($row['status_id']);
											echo $this->escape($bookingStatus['name']);
											?>
										</b>
                                     
                                        <div class="booking_time_cont">
											<span class="glyphicon glyphicon-time"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time"></span>
											<span><?php echo $this->escape(getBookingDateFormating($row['booking_start'],$row['booking_end'])) ?></span>
											<?php 
												//print_r($row['multiple_days']);
												if(!empty($row['multiple_days'])){
													foreach($row['multiple_days'] as $day){
														?>
														</br>
														<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time" ></span>
														<span> <?php echo $this->escape(getBookingDateFormating($day['booking_start'],$row['booking_end'])); ?>
														</span>
														<?php
													}
												}
												?>
										
											<div>
                                               
                                            
                                                <?php if ($row['is_accepted']): ?>
                                                    <span class="time_start_color"><i class="fa fa-user"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Customer"></i> </span>
                                                    <span>
                                                        <?php if (CheckAuth::checkCredential(array('customerView')) && $row['is_accepted']): ?>
                                                            <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                                <?php echo $this->escape($row['customer_name']); ?>
                                                            </a>    
                                                        <?php else: ?>
                                                            <span class="span_black">
                                                                <?php echo $this->escape($row['customer_name']); ?>
                                                            </span>    
                                                        <?php endif; ?>                  
                                                    </span>
                                                <?php endif; ?>                  
                                            </div>
                                            <div id="address_list">
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                        <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Address"></span></span>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                            <?php echo $this->escape($lineAddress); ?>
                                                        </a>
                                                    <?php endif; ?> 
                                                <?php else: ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="City"></span></span>
                                                        <?php echo ($row['city_name'] ? $this->escape($row['city_name']) : ''); ?>
                                                        <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                    <?php endif; ?> 
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="details_info_l actions-list">

                                        <?php
                                        $actions = array();

                                        if (CheckAuth::getRoleName() == 'contractor') {
                                            if ($row['not_accepted']) {
                                                $popupConfig = "'Accept','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                $actions[] = '<a class="a_accept"  href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                            }

                                            if ($row['not_accepted_or_rejected']) {
                                                $popupConfig = "'Reject','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                $actions[] = '<a class="a_reject"  href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt"><i class="fa fa-pencil-square-o">&nbsp;</i>Edit</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'estimate' && $row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                            $onclick = "'Add complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                            $actions[] = '<a href="javascript:;"  data-toggle="modal" data-target="#popupi"  onclick="popupi(' . $onclick . ');" class="details_info_opt">Add complaint</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                            $popupConfig = "'Booking Discussion','{$this->escape($this->url(array('id' => $row['booking_id'],'process'=> 'send','type'=> 'booking'), 'itemDiscussion'))}'";
                                            $actions[] = '<a href="javascript:;"  data-toggle="modal" data-target="#popupi"  onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingLabel'))) {
                                            $popupConfig = " 'Booking Label','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingSelectLabel'))}'";
                                            $actions[] = '<a href="javascript:;" data-backdrop="static" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                        }

                                        $line_actions = array_slice($actions, 0, 1);
                                        $drop_down_actions = array_slice($actions, 1);
                                        ?>

                                       
										<?php echo implode('&nbsp;', $line_actions); ?>
                                       <div class="btn-group">
											
											 <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions  <span class="caret"></span></button>
												   <ul class="dropdown-menu">
															<?php foreach ($drop_down_actions as $drop_down_action): ?>
															 <li> <?php echo $drop_down_action; ?> </li>
														<?php endforeach; ?>
												   </ul>
											 </div>

                                    </div>
                                 
                                </td>
                              
								
								 <td class="details_info_r mobile-none-display">
                                    <div class="details_info_l">
                                        $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
                                    </div>
                                </td>
								
								
                                <td  class="Technician">
                            
											 <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
																	
													<div>
													<div>
														<b>
															<span class="booking_view_contractor_pic">	
																 <?php
																$contractor_pic = new Model_User(); 
                                                                $contractor_infoo = $contractor_pic->getById($contractor_id);
                                                                if ($contractor_infoo['avatar']):
                                                                    echo '<img class="contractor_pic" src="/uploads/user_pic/thumb_small/' . $contractor_infoo['avatar'] . '"/>';
                                                                else:
                                                                    echo'<img src="/pic/contractor_pic.png" width="34px" height="34px">';
                                                                endif;
                                                                ?>
															</span>
																				  <?php $mm = $this->escape($contractor_name); 
																				  $contractor=(explode('-',$mm,2));
																				 

																			  
																			?>
																			<?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))):?>
																			<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList'));?>"><?php echo $contractor[0]; ?> </a>
																			<?php else:?>
																			<?php echo $contractor[0];  endif;?> 
																			
																			
																			<?php 
																			$prevContractor = 0;	
																				foreach ($row['services'] as $key => $service): 
																					
																				   if($service['contractor_id'] == $contractor_id):
																					if(!($prevContractor == $contractor_id)):
																				  
																								echo '<a href="'. $this->escape($this->url(array('booking_id' => $row['booking_id'], 'contractor_id' => $contractor_id), 'contractorBookingLocation')).'">('.number_format($service['distance'], 2).' KM Away) <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>'; 
																					endif;
																					$prevContractor = $contractor_id;
																					endif;
																				endforeach;
																			?> 																
														</b>
													</div>
														
														
												<table class="table services_booking_box" border="0">
													<tbody>
														  <?php foreach ($row['services'] as $key => $service): ?>
									
															<?php if($service['contractor_id'] == $contractor_id):?>	
									
						
														<tr class="technician-tr">
															<td class="technician-td">
																<span style="display:inline-block;">
																	<i class="fa fa-star">&nbsp;</i>
																	<b> <?php echo $this->escape($service['info']['service_name']).'</br>'; ?></b>
																</span>
															</td>
															<td class="technician-td">
																
															<span class="float-r services_status" style=" background-color: <?php if ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;">
																			
																			
																				<?php if ($service['is_accepted']): ?>
															<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
																										?>
															<a href="#" data-toggle="modal" data-target="#popupi"
																onclick="popupi('Reject Service','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
																class="details_info_opt"> <img height="10" width="10"
																src="/pic/white_accepted.png" 
																title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
															</a>
															<?php else: ?>
															<img height="10" width="10"
																src="/pic/white_accepted.png" 
																title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
															<?php endif; ?>
															
															<?php elseif ($service['is_rejected']): ?>
															<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
															<a href="#" data-toggle="modal" data-target="#popupi"
																onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
																class="details_info_opt"> <img height="10" width="10"
																src="/pic/white_rejected.png"
																title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
															</a>
														<?php else: ?>
															<img height="10" width="10"
																src="/pic/white_rejected.png"
																title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
														<?php endif; ?>
														<?php else: ?>
														<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
														<a href="#" data-toggle="modal" data-target="#popupi"
															onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
															class="details_info_opt"> <img height="10" width="10"
															src="/pic/white_unknown.png"
															title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
															alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
														</a>
														<?php else: ?>
														<img height="10" width="10"
															src="/pic/white_unknown.png"
															title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
															alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
														<?php endif; ?>
														<?php endif; ?>
														
														
														
																							
																	
																																																					
																</span>
															</td>
															
												
														</tr>
														<?php endif;?>
														<?php endforeach ?>
												  </tbody>
										
											</table>
											
											<?php endforeach;?>
									</div>
                                </td>
								
								
								
								
                                <td class="users">
                                 
                                        <?php foreach ($row['booking_users'] as $booking_user) : ?>
                                            <div>
											<i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="User">&nbsp;</i>
                                                <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
                                            </div> 
                                        <?php endforeach; ?>
                           
                                </td>
								
									 <?php if($row['labels']): ?> 
										<td class="mobile-on-display">
											<ul class="Booking_labels">
												<?php foreach ($row['labels'] as $label): ?>
													<li> <?php echo $this->escape($label); ?> </li>
												<?php endforeach;?>
											</ul>	
										</td>
									  <?php  endif; ?>
                              
                            </tr>
                        <?php endforeach; ?>
<?php endif;?>						


<?php if(isset($this->is_first_time) && $this->is_first_time == 1 && (isset($this->data) && !empty($this->data))):?>
  </tbody>
 </table>
<?php endif;?>		 