<form id="bookings_for_date" class="form-horizontal"  method="post" onsubmit="submit_to_booking( );return false;">
    
    <div class="form-group">
		    <label class="col-md-4" valign="top">Date:</label>
            <div class="col-md-8">
			  <input class="text_input form-control" size="29" id="bookings_date" name="bookings_date" size="10" type="text" value="" required />
			</div>
	</div>
        
        
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4" id="button_cont">
			<input type="submit"  class="btn btn-primary" value="submit"  />
			</div>
						
        </div>
   
</form>

<script  type="text/javascript">

    $(document).ready(function() {
        $('#bookings_date').datepicker({
            format: 'dd-mm-yyyy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    });
    
    function submit_to_booking(){
       $('#button_cont').html('<img src="/pic/loading-4.gif">');
       var url = '<?php echo $this->escape($this->url(array(), 'bookingForOneDate')); ?>';
       var bookings_date = document.getElementById('bookings_date').value;
 
        $.ajax({
            type: "POST",
            data: {'bookings_date': bookings_date},
            url: url,
            dataType: "json",
            success: function (msg) {
				window.location = msg.url;               
            }
        });
    }
</script>