<?php
$status_colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<table class="table">
    <tr>
        <td class="left_side">
                <div>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                        <tr class="bg_table">
                            <td style="text-align:center; width: 10%;"><b>Booking#</b></td>
                            <td class="details" style="text-align:center; width: 15%;"><b>Details</b></td>
                            <td style="text-align:center; width: 10%;"><b>Customer</b></td>
                            <td style="text-align:center; width: 30%;" ><b>Technician</b></td>
                            <td style="text-align:center; width: 10%;"><b>Complaint</b></td>
                            <td style="text-align:center; width: 15%" ><b>Services</b></td>
                            <td class="head_title" style="text-align:center; width: 10%"><b>Amount</b></td>
                        </tr>
				<?php if ($this->data): ?>
                        <?php $count = 0; ?>
                        <?php
                        $modelBookingStatus = new Model_BookingStatus();
                        $modelBookingAddress = new Model_BookingAddress();
                        ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                    if ($count % 2 != 0) {
                        echo $this->escape('tr_cont_1');
                    } else {
                        echo $this->escape('tr_cont_2');
                    }
					?> "
					
                            >
                                <td>
                                    <div class="details_info_l">
                                        <div style="font-size: 14px;">
                                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                            <?php else: ?>
                                                <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                            <?php endif; ?>
                                        </div>
                                        <div style="font-size: 11px; font-weight: bold;">
                                            <?php echo $this->escape($row['convert_status']); ?>
                                        </div>
                                        <div style="margin-top: 5px;">
                                            <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $row['is_accepted']): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l" style="width:420px">
										<?php $bookingStatus = $modelBookingStatus->getById($row['status_id']); ?>
                                        <div style="font-weight:bold; color:<?php echo $status_colors[$bookingStatus['color']];  ?>">
                                            <?php
                                                echo $this->escape($bookingStatus['name']);
                                            ?>
                                        </div>
                                        <div class="booking_time_cont">
                                            <img src="/pic/time.png" /><?php
											$date1 = new DateTime($row['booking_start']);
											$date2 = new DateTime($row['booking_end']);
											//$date = new DateTime($earr[0].$earr[1]);
											//echo $date1->format('Y-m-d');
											if($date1->format('Y-m-d') == $date2->format('Y-m-d')){
												echo $this->escape(getDateFormating(strtotime($row['booking_start'])));
												echo ' to ';
												echo $date2->format('H:i');
											}
											else{
												echo $this->escape(getDateFormating(strtotime($row['booking_start'])));
												echo ' to ';
												echo $this->escape(getDateFormating(strtotime($row['booking_end'])));
											
											}
											//echo $this->escape(getDateFormating($date1));
											//echo $this->escape(getDateFormating($date2));
										
											?>
							<?php 	
									/**
									 * MultipleDays
									 */
									$modelBookingMultipleDays = new Model_BookingMultipleDays();
									$multipleDays = $modelBookingMultipleDays->getByBookingId($row['booking_id']);
									
							 ?>
									<div id="multiple_days">
										<?php if (count($multipleDays)){ ?>
											<?php foreach ($multipleDays as $key => $multipleDay){ ?>
                                        <?php
                                        $sarr = explode(" ", $multipleDay['booking_start']);
                                        $earr = explode(" ", $multipleDay['booking_end']);
										//print_r($sarr);
										//print_r($earr);
										
                                        ?>
                                         <img src="/pic/time.png" />
											<?php if($sarr[0] == $earr[0]){ 
													$date = new DateTime($earr[0].$earr[1]);
													//echo $date->format('H:i');
													echo $this->escape(getDateFormating(strtotime($sarr[0].$sarr[1])));
													echo ' to ';
													echo $this->escape($date->format('H:i')).'</br>';
													
											 } else{
													
													echo $this->escape(getDateFormating(strtotime($sarr[0].$sarr[1])));
													echo ' to ';
													echo $this->escape(getDateFormating(strtotime($earr[0].$earr[1]))).'</br>';
													                                    
											} 
										 } 
										 } ?>
									</div>
							
                                            <div id="address_list">
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                        <img src="/pic/address.png" />
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                            <?php echo $this->escape($lineAddress); ?>
                                                        </a>
                                                    <?php endif; ?> 
                                                <?php else: ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <span class="time_start_color" >Address :</span>
                                                        <?php echo ($row['city_name'] ? $this->escape($row['city_name']) : ''); ?>
                                                        <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                    <?php endif; ?> 
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="details_info_l">

                                        <?php
                                        $actions = array();

                                        if (CheckAuth::getRoleName() == 'contractor') {
                                            if ($row['not_accepted']) {
                                                $popupConfig = "'{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}','200','400'";
                                                $actions[] = '<a class="a_accept"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Accept</a>';
                                            }

                                            if ($row['not_accepted_or_rejected']) {
                                                $popupConfig = "'{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}','200','400'";
                                                $actions[] = '<a class="a_reject"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Reject</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt">Edit</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                            $popupConfig = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDiscussion'))}','470','700','Booking Discussion'";
                                            $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                        }
										if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                            $onclick = "'{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                            $actions[] = '<a href="javascript:;" onclick="AddEditComplaint(' . $onclick . ');" class="details_info_opt">Add complaint</a>';
                                        }

                                       

                                        $line_actions = array_slice($actions, 0, 3);
                                        $drop_down_actions = array_slice($actions, 3);
                                        ?>

                                        <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                        <?php if ($drop_down_actions): ?>
                                            <a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="menu_<?php echo $this->escape($row['booking_id']) ?>"><span class="ui-icon ui-icon-triangle-1-s"></span>Actions</a>
                                            <div id="search-engines" class="hidden">
                                                <ul>
                                                    <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                        <li>
                                                            <?php echo $drop_down_action; ?>
                                                        </li>
                                                    <?php endforeach; ?>
                                                </ul>
                                            </div>
                                            <div class="clearb"></div>
                                            <script>
                                                $(function(){
                                                    // MENU	
                                                    $('#menu_<?php echo $this->escape($row['booking_id']) ?>').fgmenu({ 
                                                        content: $('#menu_<?php echo $this->escape($row['booking_id']) ?>').next().html(), // grab content from this page
                                                        showSpeed: 100 
                                                    });
                                                });
                                            </script>
                                        <?php endif; ?>

                                    </div>
                                    
                                </td>
                                <td class="details_info_l">
									<div class="details_info_l">
                                    <?php if ($row['is_accepted']){ ?>
                                         	<span>
                                                <?php if (CheckAuth::checkCredential(array('customerView')) && $row['is_accepted']){ ?>
                                                 <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                    <?php echo $this->escape($row['customer_name']); ?>
                                                 </a>    
                                                    <?php }else{ ?>
                                                 <span class="span_black">
                                                    <?php echo $this->escape($row['customer_name']); ?>
                                                 </span>    
                                                        <?php } ?>                  
                                            </span>
                                    <?php } ?> 
									</div>
                                </td>
                                <td  class="details_info_l">
                                    <div class="details_info_l clearb">
                                        <table align="center" cellpadding="3" style="float: left;" id="satisfaction">
                                            <tr>
                                                <td>Services No.</td>
                                                <?php foreach ($row['services'] as $key => $service): ?>
                                                    <td style="text-align: center;"><a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black"><?php echo $this->escape($key + 1); ?></a></td>
                                                <?php endforeach ?>
                                            </tr>
                                            <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                                                <tr>
                                                    <td>
                                                        <?php echo $this->escape($contractor_name); ?>
                                                    </td>
                                                    <?php foreach ($row['services'] as $key => $service): ?>
                                                        <td style="text-align: center; background-color: <?php if ($service['contractor_id'] != $contractor_id): ?>transparent<?php elseif ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;">
                                                            <?php if ($service['contractor_id'] != $contractor_id): ?>
                                                                <a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black">-</a>
                                                            <?php elseif ($service['is_accepted']): ?>
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                            <?php elseif ($service['is_rejected']): ?>
                                                                <img height="10" width="10" src="/pic/white_rejected.png" border="0" title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                            <?php else: ?>
                                                                <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>','200','400');" class="details_info_opt" >
                                                                        <img height="10" width="10" src="/pic/white_unknown.png" border="0" title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                                    </a>
                                                                <?php else: ?>
                                                                    <img height="10" width="10" src="/pic/white_unknown.png" border="0" title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                        </td>
                                                    <?php endforeach ?>
                                                </tr>
                                            <?php endforeach ?>
                                        </table>
                                    </div>
                                </td>
								<td>
								<div class="details_info_l" 
									<?php if(isset($row['complaint_status'])){  ?>					
									style="text-align: center; float: left; margin: 12px; padding: 2px 4px; background-color:<?php if($row['complaint_status']=='closed'){ echo '#22aa99';} else if($row['complaint_status']=='open') echo '#ff0000'; ?>;" 
									<?php } ?>
								>
								<?php if(isset($row['complaint_status'])){  ?>
									<a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></a>
                                <?php } ?>
								 <?php if (CheckAuth::checkCredential(array('complaintConvertStatus'))){ ?>
									<a class="a_white" href="javascript:;"
										onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $complaint['complaint_id'],'process'=> ($this->complaint['complaint_status'] == 'open') ? 'close' : 'open'), 'complaintDisscussion')); ?>','470','700','complaint Discussion');" > <?php echo $this->escape(strtoupper($complaint['complaint_status'])); ?></a>
									 <?php } ?>
								</div>
								</td>
                                <td class="details_info_l">
                                    <div class="details_info_l" style="text-align:center;">
                                       <?php foreach ($row['services'] as $key => $service){ ?>
                                          <?php echo $this->escape($service['info']['service_name']).'</br>'; ?>  
										<?php } ?>
                                    </div>
                                </td>
                                <td class="details_info_r">
                                    <div class="details_info_l">
                                        $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>

                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                </div>


            <?php endif; ?>
        </td>
    </tr>
</table>
<script type="text/javascript">
    function AddEditComplaint(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=270&width=500');
        });
    }
</script>