<?php
$status_colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <h3>Booking(s)</h3>
      </div>
	   <div class="list_title col-md-12">
                  <?php 
				  $model_user = new Model_User();
				  if(isset($this->contractorId)) {
					$contractor = $model_user->getById($this->contractorId);
					echo 'Hi '.$contractor['username'].', please update the following jobs';
						}
					?> 
                </div>
                <div class="clearb"></div>
	</div>
   </div>
</div>


<div class="ibox float-e-margins no-margin-b">
<?php if ($this->data): ?>
<div class="ibox-content">
	<table class="table table-bordered responsive-table" id="booking-default-responsive-table">
      <thead>
        <tr>
		  <th>Booking#</th>
          <th>Details</th>
          <th>Customer</th>
           <th>Technician</th>
          <th>Complaints</th>
         <!-- <th>Services</th>-->
          <th>Amount</th>
		  
        </tr>
      </thead>
	  <tbody>
				
						
                        <?php $count = 0; ?>
                        <?php
                        $modelBookingStatus = new Model_BookingStatus();
                        $modelBookingAddress = new Model_BookingAddress();
						
						
                        ?>
						<?php foreach ($this->data as $row) : ?>
						
                            <tr>
                                <td>
                                    <div class="details_info_l">
									
										<ul class="mobile-two-position-item"> 
											<li>
												<?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
													<a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name">
													<b><?php echo $this->escape($row['booking_num']) ?></b>
													</a>
												<?php else: ?>
													<span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
												<?php endif; ?>
											</li>
											
											<li>
												<b>
												<?php echo $this->escape($row['convert_status']); ?>
												</b>
											</li>
										</ul>
										<ul class="mobile-two-position-item mobile-on-display"> 
											<li> 	
												<div class="details_info_l ">
													<?php if ($row['is_accepted']){ ?>
													<i class="fa fa-user"></i>
														<span>
															<?php if (CheckAuth::checkCredential(array('customerView')) && $row['is_accepted']){ ?>
															 <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
																<?php echo $this->escape($row['customer_name']); ?>
															 </a>    
																<?php }else{ ?>
															 <span class="span_black">
																<?php echo $this->escape($row['customer_name']); ?>
															 </span>    
																	<?php } ?>                  
														</span>
													<?php } ?> 
												</div>
											</li>
											<li>
												<b>
													$ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
												</b>		 
											</li>
										</ul>
                                        <?php /*<div style="margin-top: 5px;">
                                            <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $row['is_accepted']): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                            <?php endif; ?>
                                        </div>
										*/?>
                                    </div>
							
									<div class="details_info_l mobile-none-display" id="label_<?php echo $row['booking_id'] ?>">
										<?php if ($row['labels']):?>  
													<span><i class="fa fa-tag"></i>&nbsp;<b>Label(s):</b></span>
												<?php foreach ($row['labels'] as $label): ?>
												
													<div class="label_box">
														<?php echo $this->escape($label); ?> 
													</div>
												<?php endforeach; ?>
										<?php endif; ?>
									</div> 
                                </td>
                                <td>
                                    <div class="details_info_l">
									
									
											<div>
											<?php $bookingStatus = $modelBookingStatus->getById($row['status_id']); ?>
												<b>
													<span style=" color:<?php echo $status_colors[$bookingStatus['color']];  ?>">
														<?php
																echo $this->escape($bookingStatus['name']);
														?>
													</span>
												</b>
											&nbsp;
                                            </div>
                                        <div class="booking_time_cont">
											<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                            <span><?php echo $this->escape(getBookingDateFormating($row['booking_start'],$row['booking_end'])) ?></span>
											
											<?php 	
									          $modelBookingMultipleDays = new Model_BookingMultipleDays();
									          $multipleDays = $modelBookingMultipleDays->getByBookingId($row['booking_id']);
							                ?>
											
											<div id="multiple_days">
										<?php if (count($multipleDays)){ ?>
											<?php foreach ($multipleDays as $key => $multipleDay){ 
											echo '<div>';
											echo '<span class="glyphicon glyphicon-time" aria-hidden="true"></span>';
											echo '<span>&nbsp;'.$this->escape(getBookingDateFormating($multipleDay['booking_start'],$multipleDay['booking_end'])).'</span>';
										   echo '</div>';
										  } 
										 } ?>
									</div>
											
									
                                            <div id="address_list">
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                        <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                            <?php echo $this->escape($lineAddress); ?>
                                                        </a>
                                                    <?php endif; ?> 
                                                <?php else: ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
                                                        <?php echo ($row['city_name'] ? $this->escape($row['city_name']) : ''); ?>
                                                        <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                    <?php endif; ?> 
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="details_info_l actions-list">
									
                                        <?php
                                        $actions = array();

                                        if (CheckAuth::getRoleName() == 'contractor') {
                                            if ($row['not_accepted']) {
                                                $popupConfig = "'Accept Service','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                $actions[] = '<a class="a_accept"  href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                            }

                                            if ($row['not_accepted_or_rejected']) {
                                                $popupConfig = "'Reject Service','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                $actions[] = '<a class="a_reject"  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt"><i class="fa fa-edit"></i>&nbsp;Edit</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'estimate' && $row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                            $onclick = "'Add complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                            $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $onclick . ');" class="details_info_opt">Add complaint</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                            $popupConfig = "'Booking Discussion' ,'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDiscussion'))}'";
                                            $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingLabel'))) {
                                            $popupConfig = "'Booking Label','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingSelectLabel'))}'";
                                            $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                        }

                                        $line_actions = array_slice($actions, 0, 1);
                                        $drop_down_actions = array_slice($actions, 1);
                                        ?>

                                        <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                        <?php if ($drop_down_actions): ?>
										<div class="btn-group ">
										<a data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions  <span class="caret"></span></a>
										
										<ul class="dropdown-menu">
											<?php foreach ($drop_down_actions as $drop_down_action): ?>
													<li> <?php echo $drop_down_action; ?> </li>
											<?php endforeach; ?>
										</ul>
			    </div><!-- action button -->
                                           
                                        <?php endif; ?>

                                    </div>
                                  
                                </td>
                                <td class="details_info_l mobile-none-display">
                                    <div class="details_info_l">
                                    <?php if ($row['is_accepted']){ ?>
                                         	<span>
                                                <?php if (CheckAuth::checkCredential(array('customerView')) && $row['is_accepted']){ ?>
                                                 <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                    <?php echo $this->escape($row['customer_name']); ?>
                                                 </a>    
                                                    <?php }else{ ?>
                                                 <span class="span_black">
                                                    <?php echo $this->escape($row['customer_name']); ?>
                                                 </span>    
                                                        <?php } ?>                  
                                            </span>
                                    <?php } ?> 
									</div>
                                </td>
								
								<!-- technician column -->
                                <td  class="details_info_l">
                                    <div class="details_info_l clearb">
											
													<?php
													$modelBooking = new Model_Booking();
													if (!empty($row['services_temp']) && !$modelBooking->checkCanEditBookingDetails($row['booking_id'])) {
													$services = $row['services_temp'];
													} else {
													$services = $row['services'];
													}
													?>
										<?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
														<table class="table table-bordered" align="center" cellpadding="3" id="satisfaction">
											<thead  class="technician-th">
													<tr class="technician-tr">
																	<th class="technician-th">
																		<?php $mm = $this->escape($contractor_name); 
																			  $contractor=(explode('-',$mm,2));
																			  echo $contractor[0];
																		      //echo $this->escape($contractor_name); 
																			   foreach ($services as $key => $service): 	
						                                                        if($service['contractor_id'] == $contractor_id):
											                                        echo '('.number_format($service['distance'], 2).' KM Away)'; 
											                                    endif;
										                                    endforeach;
																		?> 
																	</th>
																
																	<th style="text-align:center;">
																		Accept
																	</th>
																	
																	<? /*<?php foreach ($services as $key => $service): ?>
																		<th class="technician-th" style="text-align: center;">
																			<a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black"><?php echo $this->escape($key + 1); ?></a>
																		</th>
																	<?php endforeach ?>
																	
																	*/?>
																	
																</tr>
														</thead>
														
														
														<tbody>
														
														
														
															
															
															
															<?php foreach ($services as $key => $service): ?>
															 <?php if($service['contractor_id'] == $contractor_id):?>
															<tr class="technician-tr"> 
															<td class="technician-td"><?php echo $this->escape($service['info']['service_name']).'</br>'; ?>  </td>
															<td class="technician-td" style="text-align: center; background-color: <?php if ($service['contractor_id'] != $contractor_id): ?>transparent<?php elseif ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;"><?php if ($service['contractor_id'] != $contractor_id): ?>
															
															
															<a title="<?php echo $this->escape($service['info']['service_name']); ?>" 
															alt="<?php echo $this->escape($service['info']['service_name']); ?>" 
															>-</a>
															<?php elseif ($service['is_accepted']): ?>
															<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
															?>
															<a href="#" data-toggle="modal" data-target="#popupi"
																	onclick="popupi('Reject Service','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
																	class="details_info_opt"> <img height="10" width="10"
																	src="/pic/white_accepted.png" 
																	title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																	alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> </a>
															<?php else: ?>
															<img height="10" width="10"
																	src="/pic/white_accepted.png" 
																	title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																	alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
															<?php endif; ?>
															<?php elseif ($service['is_rejected']): ?>
															<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
															<a href="#" data-toggle="modal" data-target="#popupi"
																	onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
																	class="details_info_opt"> <img height="10" width="10"
																		src="/pic/white_rejected.png"
																		title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																		alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"> </a>
															<?php else: ?>
															<img height="10" width="10"
																	src="/pic/white_rejected.png"
																	title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																	alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
															<?php endif; ?>
															<?php else: ?>
															<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
															<a href="#" data-toggle="modal" data-target="#popupi"
																			onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
																			class="details_info_opt"> <img height="10" width="10"
																				src="/pic/white_unknown.png"
																				title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																				alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> </a>
															<?php else: ?>
															<img height="10" width="10"
																			src="/pic/white_unknown.png"
																			title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																			alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
															<?php endif; ?>
															<?php endif; ?>
															</td>
															</tr>
															<?php endif; ?>
														<?php endforeach ?>
											</tbody>
											</table>
												<?php endforeach ?>
                                    </div>
                                </td>
								
								
								
								<td>
								<div class="details_info_l" 
									<?php if(isset($row['complaint_status'])){  ?>					
									style="text-align: center; padding: 2px 4px; background-color:<?php if($row['complaint_status']=='closed'){ echo '#22aa99';} else if($row['complaint_status']=='open') echo '#ff0000'; ?>;" 
									<?php } ?> >
								<?php if(isset($row['complaint_status'])){  ?>
									<a  class="strocked-text"   target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name">
									<b><?php // echo $this->escape($row['complaint_num']) ?></b>
									<b>Complaint - <?php echo $row['name']; ?>	</b></a>
                                <?php } ?>
								</div>
								</td>
								
								<!-- services column -->
								<?php 
								/*
                                <td class="mobile-none-display">
                                    <div class="details_info_l">
                                       <?php foreach ($row['services'] as $key => $service){ ?>
                                          <?php echo $this->escape($service['info']['service_name']).'</br>'; ?>  
										<?php } ?>
                                    </div>
                                </td>
								*/ 
								?>
								
								
                                <td class="details_info_r mobile-none-display">
                                    <div class="details_info_l">
									<b>
                                        $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
									</b>
								   </div>
                                </td>
								
									
										<?php if ($row['labels']):?>  
										<td class="mobile-on-display">
										<div class="details_info_l mobile-none-display" id="label_<?php echo $row['booking_id'] ?>">
													<span><i class="fa fa-tag"></i>&nbsp;<b>Label(s):</b></span>
												<?php foreach ($row['labels'] as $label): ?>
												
													<div class="label_box">
														<?php echo $this->escape($label); ?> 
													</div>
												<?php endforeach; ?>
											</div> 
										</td>
										<?php endif; ?>
									
                            </tr>
                        <?php endforeach; ?>

	  </tbody>
   
	</table>
</div>
<div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
<?php endif;?>
</div>


<script type="text/javascript">
    function AddEditComplaint(url) {
        $(document).ready(function() {
           // tb_show("", url+'?height=270&width=500');
        });
    }
</script>