
<div class="ibox row">
  <div class="ibox-content">
		<div class="row padding-left-right">
			  <div class="col-md-5">
					<h3>All  Awaiting Accept Bookings </h3>
							<ol class='breadcrumb'>
								<li><a href="/">Home</a></li>
								<li><a href="/booking">Bookings</a></li>
								<li>Awaiting Accept</li>
									
							</ol>
			  </div>
			  <div class="col-md-7 ">
					<div class="float-lg-r">
						<?php
							if (CheckAuth::checkCredential(array('canSeeAllContractorReport'))){
								$modelUser = new Model_User();
								$options = $modelUser->getAllContractor(true);
							 ?>
							<select class="form-control" id="fltr['service_history_contractor_id']" onchange="filter('<?php echo $this->escape($this->url(array(), 'awaitingAcceptBooking')); ?>?fltr[contractor_id]='+$(this).val());">
								<option value="">Select Technician</option>
								<?php foreach ($options as $key=>$value){ ?>
									<?php $selected = isset($this->filters['contractor_id']) && $this->filters['contractor_id'] == $key ? 'selected="selected"' : ''; ?>
									<option value="<?php echo $key; ?>" <?php echo $selected; ?> ><?php echo $value; ?></option>
								<?php } ?>
							</select>
							<?php } ?>
					</div>
			  </div>
		</div>
	
	</div>
</div>





<div class="ibox float-e-margins no-margin-b">
      
      <div class="ibox-content">
         
            <?php if ($this->data): ?>
               
                    <table class="table table-bordered responsive-table" id="waiting-booking-responsive-table">
                    
                                <thead>
                                        <tr>
                                    
                                          <th class="table-booking">Booking#</th>
                                          <th class="table-details">Details</th>
										  <th class="table-amount">Amount</th>
                                          <th>Technician</th>
                                          <th>Users</th>
                                          
                                        </tr>
                                </thead>
                				<tbody>
                        <?php $count = 0; ?>
                        <?php
                        $modelBookingStatus = new Model_BookingStatus();
                        $modelBookingAddress = new Model_BookingAddress();
                        ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
								if ($count % 2 != 0) {
								echo $this->escape('tr_cont_1');
								} else {
									echo $this->escape('tr_cont_2');
									}
                            ?>">
                                <td>
										
											<div class="inline">
												<?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
													<a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
												<?php else: ?>
													<span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
												<?php endif; ?>
											</div>
										
											<div class="details_info_l mobile-none-display"  id="label_<?php echo $row['booking_id'] ?>">
												<?php if($row['labels']): ?> <span><i class="fa fa-tag"></i>&nbsp;<b>Label(s):</b></span>
												<?php foreach ($row['labels'] as $label): ?>
													<div class="label_box">
														<?php echo $this->escape($label); ?> 
													</div>
												<?php endforeach; endif;?>
											</div> 
											
											 <div class="float-r  mobile-on-display inline">
												$ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
											 </div>
										
                                </td>
                                <td>
									<div>
										<div>
											<b>
												<?php
												$bookingStatus = $modelBookingStatus->getById($row['status_id']);
												echo $this->escape($bookingStatus['name']);
												?>
											</b>
										</div>
									
									    <div class="booking_time_cont"> 
												<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time"></span>
												<span><?php echo $this->escape(getBookingDateFormating($row['booking_start'],$row['booking_end'])) ?></span>
												<?php 
												//print_r($row['multiple_days']);
												if(!empty($row['multiple_days'])){
													foreach($row['multiple_days'] as $day){
														?>
														</br>
														<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time" ></span>
														<span> <?php echo $this->escape(getBookingDateFormating($day['booking_start'],$row['booking_end'])); ?>
														</span>
														<?php
													}
												}
												?>
										</div>
									
										<div>
                                               
                                              
                                                <?php if ($row['is_accepted']): ?>
                                                  <i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Customer">&nbsp;</i>
                                                    <span>
                                                        <?php if (CheckAuth::checkCredential(array('customerView')) && $row['is_accepted']): ?>
                                                            <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                                <?php echo $this->escape($row['customer_name']); ?>
                                                            </a>    
                                                        <?php else: ?>
                                                            <span class="span_black">
                                                                <?php echo $this->escape($row['customer_name']); ?>
                                                            </span>    
                                                        <?php endif; ?>                  
                                                    </span>
                                                <?php endif; ?> 
												
										</div>
										<div id="address_list">
										
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                       <span class="glyphicon glyphicon-map-marker" aria-hidden="true" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Address"></span>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                            <?php echo $this->escape($lineAddress); ?>
                                                        </a>
                                                    <?php endif; ?> 
                                                <?php else: ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                       <span class="glyphicon glyphicon-map-marker" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="City"></span>
                                                        <?php echo ($row['city_name'] ? $this->escape($row['city_name']) : ''); ?>
                                                        <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                    <?php endif; ?> 
                                                <?php endif; ?>
												
										</div>
										
                                 
                                    <div class="details_info_l actions-list">

                                        <?php
                                        $actions = array();

                                        if (CheckAuth::getRoleName() == 'contractor') {
                                            if ($row['not_accepted']) {
                                                $popupConfig = "'Accept','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                $actions[] = '<a class="a_accept" data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                            }

                                            if ($row['not_accepted_or_rejected']) {
                                                $popupConfig = "'Reject','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                $actions[] = '<a class="a_reject"  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt"> <i class="fa fa-pencil-square-o">&nbsp;</i>Edit</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'estimate' && $row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                            $onclick = "'{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                            $actions[] = '<a href="javascript:;" onclick="AddEditComplaint(' . $onclick . ');" class="details_info_opt">Add complaint</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                            $popupConfig = "'Booking Discussion','{$this->escape($this->url(array('id' => $row['booking_id'], 'process'=>'send','type' =>'booking'), 'itemDiscussion'))}'";
                                            $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingLabel'))) {
                                            $popupConfig = "'Booking Label','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingSelectLabel'))}'";
                                            $actions[] = '<a href="#"  data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                        }

											$line_actions = array_slice($actions, 0, 1);
											$drop_down_actions = array_slice($actions, 1);
											?>

                                        <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                        <?php if ($drop_down_actions): ?>
                                          	<div class="btn-group "> 
										   <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions <span class="caret"></span></button>
												<ul class="dropdown-menu">
                                            
                                                    <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                        <li>
                                                            <?php echo $drop_down_action; ?>
                                                        </li>
                                                    <?php endforeach; ?>
                                                </ul>
											</div>
                                            
                                       
                                        <?php endif; ?>

                                    </div>
									</div>
                                </td>
								
                          
                                <?php // <td>   echo $this->escape($row['city_name']); </td>?>    
                                
								 <td class="details_info_r mobile-none-display">
                                    <div class="details_info_l">
                                        $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
                                    </div>
                                </td>
								
								
                                <td  class="details_info_l">
                  
											 <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
																	
													<div>
													<div>
														<b>
															<span class="booking_view_contractor_pic">	
																			<img src="http://temp.tilecleaners.com.au/pic/contractor_pic.png" width="34px" height="34px">
															</span>
																				  <?php $mm = $this->escape($contractor_name); 
																				  $contractor=(explode('-',$mm,2));
																				 

																			  
																			?>
																			<?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))):?>
																			<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList'));?>"><?php echo $contractor[0]; ?> </a>
																			<?php else:?>
																			<?php echo $contractor[0];  endif;?> 
																			
																			
																			<?php 
																			$prevContractor = 0;	
																				foreach ($row['services'] as $key => $service): 
																					
																				   if($service['contractor_id'] == $contractor_id):
																					if(!($prevContractor == $contractor_id)):
																				  
																								echo '<a href="'. $this->escape($this->url(array('booking_id' => $row['booking_id'], 'contractor_id' => $contractor_id), 'contractorBookingLocation')).'">('.number_format($service['distance'], 2).' KM Away) <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>'; 
																					endif;
																					$prevContractor = $contractor_id;
																					endif;
																				endforeach;
																			?> 																
														</b>
													</div>
														
														
												<table class="table services_booking_box" border="0">
													<tbody>
														  <?php foreach ($row['services'] as $key => $service){ ?>
									
															<?php
															

															// if($service['contractor_id'] == $contractor_id){?>	
									
						
														<tr class="technician-tr">
															<td class="technician-td">
																<span style="display:inline-block;">
																	<i class="fa fa-star">&nbsp;</i>
																	<b> <?php echo $this->escape($service['info']['service_name']).'</br>'; ?></b>
																</span>
															</td>
															<td class="technician-td">
																
															<span class="float-r services_status" style=" background-color: <?php if ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;">
																			
																			
															<?php if ($service['is_accepted']){ ?>
															<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
																										?>
															<a href="#" data-toggle="modal" data-target="#popupi"
																onclick="popupi('Reject Service','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
																class="details_info_opt"> <img height="10" width="10"
																src="/pic/white_accepted.png" 
																title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
															</a>
															<?php } else{ ?>
															<img height="10" width="10"
																src="/pic/white_accepted.png" 
																title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
															<?php } ?>
															<?php } 
															 
															
															elseif ($service['is_rejected']){ ?>
															<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){ ?>
															<a href="#" data-toggle="modal" data-target="#popupi"
																onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
																class="details_info_opt"> <img height="10" width="10"
																src="/pic/white_rejected.png"
																title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
															</a>
															<?php } else{ ?>
															<img height="10" width="10"
																src="/pic/white_rejected.png"
																title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
															<?php } ?>
															
															<?php } else{ ?>
														<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices')) && CheckAuth::checkCredential(array('canSeeAllBooking')) ){ ?>
														<a href="#" data-toggle="modal" data-target="#popupi"
															onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
															class="details_info_opt"> <img height="10" width="10"
															src="/pic/white_unknown.png"
															title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
															alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
														</a>
														<?php } else{ ?>
														<a href="#" data-toggle="modal" data-target="#popupi"
															onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices')); ?>');"
															class="details_info_opt"> <img height="10" width="10"
															src="/pic/white_unknown.png"
															title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
															alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
														</a>
															<?php } ?>
														<?php } ?>
																				
																</span>
															</td>
															
												
														</tr>
															<?php } ?>
														<?php // } ?>
												  </tbody>
										
												</table>
											
														  <?php endforeach;?>
									</div>
                                </td>
								
								
								
                                <td class="users">
									<div>
									<?php foreach ($row['booking_users'] as $booking_user) : ?>
										<div>
											<i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="User">&nbsp;</i>
											<?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
										</div> 
									<?php endforeach; ?>
									</div>
                                </td>
								
								 <?php if($row['labels']): ?> 
										<td class="mobile-on-display">
											<ul class="Booking_labels">
												<?php foreach ($row['labels'] as $label): ?>
													<li> <?php echo $this->escape($label); ?> </li>
												<?php endforeach;?>
											</ul>	
										</td>
									  <?php  endif; ?>
                               
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>

               
        


            
			
			
			
        </td>
    </tr>
</table>
</div>
					<div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                  
                  
                  <?php else: ?>
                  <div class="ibox-content">
                          <div class="error-desc"> 
                                    There are no Awaiting Accept Bookings 
                          </div>
				   </div>
                  
                
               
            <?php endif; ?>
 </div>
<script type="text/javascript">
    function AddEditComplaint(url) {
        $(document).ready(function() {
            popupi('Complaint', url);
        });
    }
	
    	function filter(url){
        window.location = url;
    }

		 $(document).ready(function() {
		 
				$('[data-toggle="tooltip"]').tooltip();
		 });
</script>