


<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
         	 <h3>All  Awaiting Update Bookings</h3>
      </div>
	  <div class="col-md-5 pull-right">
							<?php
							if (CheckAuth::checkCredential(array('canSeeAllContractorReport'))){
								$modelUser = new Model_User();
								$options = $modelUser->getAllContractor(true);
							 ?>
							<select class="form-control" id="fltr['service_history_contractor_id']" onchange="filter('<?php echo $this->escape($this->url(array(), 'awaitingUpdateBooking')); ?>?fltr[contractor_id]='+$(this).val());">
								<option value="">Select Contractor</option>
								<?php foreach ($options as $key=>$value){ ?>
									<?php $selected = isset($this->filters['contractor_id']) && $this->filters['contractor_id'] == $key ? 'selected="selected"' : ''; ?>
									<option value="<?php echo $key; ?>" <?php echo $selected; ?> ><?php echo $value; ?></option>
								<?php } ?>
							</select>
							<?php } ?>
					</div>
    </div>
  </div>
</div>
 

<div class="ibox float-e-margins no-margin-b">
      
      <div class="ibox-content">
      
            <?php if ($this->data): ?>
           
                    <table class="table table-bordered responsive-table" id="booking-responsive-table">
                        <thead>
                      	  <tr>
                                    <th class="table-booking">Booking#</th>
                                    <th class="table-details">Details</th>
                                    <th>City</th>
                                    <th>Technician</th>
                                    <th>Users</th>
                                    <th class="table-amount">Amount</th>
                            </tr>
                        </thead>
						<tbody>
                        <?php $count = 0; ?>
                        <?php
                        $modelBookingStatus = new Model_BookingStatus();
                        $modelBookingAddress = new Model_BookingAddress();
                        ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                  					  if ($count % 2 != 0) {
                     				   echo $this->escape('tr_cont_1');
                 					   } else {
                 				       echo $this->escape('tr_cont_2');
                					    }
                            ?>">
                                <td>
                                    <div class="details_info_l">
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                            <?php else: ?>
                                                <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                            <?php endif; ?>
                                        </div>
                                        <div>
                                            <?php echo $this->escape($row['convert_status']); ?>
                                        </div>
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $row['is_accepted']): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_link_black"><?php echo $this->escape($row['title']) ?></a>    
                                            <?php endif; ?>
                                        </div>
                                        <div class="booking_time_cont">
                                            <span class="time_start_color">Start Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_start']))) ?> 
                                            <span class="time_end">End Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_end']))) ?>
                                            <div>
                                                <span class="time_start_color">Status : </span>
                                                <span>
                                                    <?php
                                                    $bookingStatus = $modelBookingStatus->getById($row['status_id']);
                                                    echo $this->escape($bookingStatus['name']);
                                                    ?>
                                                </span>
                                                <?php if ($row['is_accepted']): ?>
                                                    <span class="time_start_color">Customer Name : </span>
                                                    <span>
                                                        <?php if (CheckAuth::checkCredential(array('customerView')) && $row['is_accepted']): ?>
                                                            <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                                <?php echo $this->escape($row['customer_name']); ?>
                                                            </a>    
                                                        <?php else: ?>
                                                            <span class="span_black">
                                                                <?php echo $this->escape($row['customer_name']); ?>
                                                            </span>    
                                                        <?php endif; ?>                  
                                                    </span>
                                                <?php endif; ?>                  
                                            </div>
                                            <div id="address_list">
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                        <span class="time_start_color" >Address :</span>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                            <?php echo $this->escape($lineAddress); ?>
                                                        </a>
                                                    <?php endif; ?> 
                                                <?php else: ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <span class="time_start_color" >Address :</span>
                                                        <?php echo ($row['city_name'] ? $this->escape($row['city_name']) : ''); ?>
                                                        <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                    <?php endif; ?> 
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="details_info_l">

                                        <?php
                                        $actions = array();
if (CheckAuth::getRoleName() == 'contractor') {
                                            if ($row['not_accepted']) {
                                                $popupConfig = "'Accept','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                $actions[] = '<a class="a_accept"  href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                            }

                                            if ($row['not_accepted_or_rejected']) {
                                                $popupConfig = "'Reject','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                $actions[] = '<a class="a_reject"  href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt"><i class="fa fa-pencil-square-o">&nbsp;</i>Edit</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'estimate' && $row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                            $onclick = "'Add complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                            $actions[] = '<a href="javascript:;"  data-toggle="modal" data-target="#popupi"  onclick="popupi(' . $onclick . ');" class="details_info_opt">Add complaint</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                            $popupConfig = "'Booking Discussion','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDiscussion'))}'";
                                            $actions[] = '<a href="javascript:;"  data-toggle="modal" data-target="#popupi"  onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingLabel'))) {
                                            $popupConfig = " 'Booking Label','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingSelectLabel'))}'";
                                            $actions[] = '<a href="javascript:;" data-backdrop="static" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                        }

                                        $line_actions = array_slice($actions, 0, 1);
                                        $drop_down_actions = array_slice($actions, 1);
                                        ?>

                                      
										<?php echo implode('&nbsp;', $line_actions); ?>
                                       <div class="btn-group create-new-div">
											 <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions  <span class="caret"></span></button>
												   <ul class="dropdown-menu">
															<?php foreach ($drop_down_actions as $drop_down_action): ?>
															 <li> <?php echo $drop_down_action; ?> </li>
														<?php endforeach; ?>
												   </ul>
											 </div>

                                    </div>
                                    <div class="details_info_l"  id="label_<?php echo $row['booking_id'] ?>">
                                        <?php foreach ($row['labels'] as $label): ?>
                                            <div class="label_box">
                                                <?php echo $this->escape($label); ?> 
                                            </div>
                                        <?php endforeach; ?>
                                    </div> 
                                </td>
                                <td class="details_info_l">
                                    <div class="details_info_l">
                                        <?php echo $this->escape($row['city_name']); ?>    
                                    </div>
                                </td>
                                <td  class="Technician">
                            
                                        <table class="table table-bordered" align="center" cellpadding="3"  id="satisfaction">
                                          <thead  class="technician-th">
                                       		   	 <tr>
                                                      <th>Services No.</th>
                                                       <?php foreach ($row['services'] as $key => $service): ?>
                                                      <th><a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black"><?php echo $this->escape($key + 1); ?></a></th>
                                                      <?php endforeach ?>
                                           		 </tr>
                                          </thead>
                                          <tbody>
                                          
                                            <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                                                <tr>
                                                    <td>
                                                        <?php echo $this->escape($contractor_name); ?>
                                                    </td>
                                                    <?php foreach ($row['services'] as $key => $service): ?>
                                                        <td style="background-color: <?php if ($service['contractor_id'] != $contractor_id): ?>transparent<?php elseif ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;">
                                                            <?php if ($service['contractor_id'] != $contractor_id): ?>
                                                                <a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black">-</a>
                                                            <?php elseif ($service['is_accepted']): ?>
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                            <?php elseif ($service['is_rejected']): ?>
                                                                <img height="10" width="10" src="/pic/white_rejected.png" border="0" title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                            <?php else: ?>
                                                                <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>','200','400');" class="details_info_opt" >
                                                                        <img height="10" width="10" src="/pic/white_unknown.png" border="0" title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                                    </a>
                                                                <?php else: ?>
                                                                    <img height="10" width="10" src="/pic/white_unknown.png" border="0" title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                        </td>
                                                    <?php endforeach ?>
                                                </tr>
                                            <?php endforeach ?>
                                          </tbody>
                                         
                                          
                                        </table>
                                  
                                </td>
                                <td class="details_info_l">
                                    <div class="details_info_l">
                                        <?php foreach ($row['booking_users'] as $booking_user) : ?>
                                            <div>
                                                <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
                                            </div> 
                                        <?php endforeach; ?>
                                    </div>
                                </td>
                                <td class="details_info_r">
                                    <div class="details_info_l">
                                        $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>

      
      </div>
          			 <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                 <?php endif; ?>
</div>
<script type="text/javascript">
    	function filter(url){
        window.location = url;
    }
</script>