<?php
$status_colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);

$convert_status = !empty($this->filters['convert_status']) ? $this->filters['convert_status'] : 'booking';
?>

<div class="ibox row">
    <div class="ibox-content">
        <div class="row padding-left-right">
            <div class="col-md-5">
                <h3>All Bookings</h3>
                <ol class="breadcrumb">

                    <li><a href="/">Home</a> </li>
                    <li><a href="/booking">Bookings</a> </li>
                    <li class="active"><strong>Bookings list</strong></li>


                </ol>
            </div>
            <div class="col-md-7 ">
                <ul class="inline-list float-lg-r">
<?php if (CheckAuth::checkCredential(array('booking'))): ?>
    <?php
    $filterLink = array();
    if ($this->sub_menu == 'my_bookings') {
        $filterLink['my_bookings'] = true;
    }
    ?>

                        <li>
                        <?php echo FilterLink::generate_link('All', array_merge($filterLink, array('fltr' => array('convert_status' => 'all'))), empty($this->filters['convert_status']) && empty($this->filters['acceptance']), true); ?>
                        </li>
                        |
                            <?php /* |
                              <li>
                              <?php echo FilterLink::generate_link('booking', array('fltr' => array('convert_status' => 'booking')), isset($this->filters['convert_status']) && $this->filters['convert_status'] == 'booking'); ?>
                              </li>
                              |
                              <li><?php echo FilterLink::generate_link('invoice', array('fltr' => array('convert_status' => 'invoice')), isset($this->filters['convert_status']) && $this->filters['convert_status'] == 'invoice'); ?></li>
                              | */ ?>
                        <li><?php echo FilterLink::generate_link('To Follow', array('sort' => 'to_follow', 'method' => 'asc', 'fltr' => array('to_follow' => 'true', 'convert_status' => $convert_status)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true); ?></li>
                        <?php if (CheckAuth::checkCredential(array('bookingFilterLabel'))): ?>
                            <li>

                                <a class="btn btn-white"  data-toggle="modal" data-target="#popupi" href="#"
                                   onclick="popupi('Filter by label', '<?php echo $this->escape($this->url(array(), 'filterBookingLabel')); ?>');">Filter By Label(s)</a>

                            </li>
    <?php endif; ?>

                    <?php endif; ?>
                </ul>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row padding-left-right">
            <div class="col-md-5">
<?php if (CheckAuth::checkCredential(array('booking'))): ?>
                    <div class="btn-group">

                        <button class="btn btn-white"><i class="icon-accept"></i><?php echo FilterLink::generate_link('Accepted', array('fltr' => array('acceptance' => 'accepted')), isset($this->filters['acceptance']) && $this->filters['acceptance'] == 'accepted'); ?>
                        </button> 
                        <button class="btn btn-white">
                            <i class="icon-reject"></i>
    <?php echo FilterLink::generate_link('Rejected', array('fltr' => array('acceptance' => 'rejected')), isset($this->filters['acceptance']) && $this->filters['acceptance'] == 'rejected'); ?>
                        </button>
                        <button class="btn btn-white">
                            <i class="icon-unknown"></i>
    <?php echo FilterLink::generate_link('Unknown', array('fltr' => array('acceptance' => 'unknown')), isset($this->filters['acceptance']) && $this->filters['acceptance'] == 'unknown'); ?>

                        </button>
                    </div>
<?php endif; ?>

            </div>
            <div class="col-md-7 ">
                <div class="btn-group float-lg-r">
<?php
$yesterday = getTimePeriodByName('yesterday');
$today = getTimePeriodByName('today');
$tomorrow = getTimePeriodByName('tomorrow');

$todayFormat = mktime();
$todayDay = date('d', $todayFormat);
$m = date('m', $todayFormat);
$y = date('Y', $todayFormat);
$yesterdayFormat = mktime(0, 0, 0, $m, ($todayDay - 1), $y);
$yesterdayDay = date('d', $yesterdayFormat);
$tomorrowFormat = mktime(0, 0, 0, $m, ($todayDay + 1), $y);
$tomorrowDay = date('d', $tomorrowFormat);
?>
                    <button class="btn btn-white bookingDateicon" type="button"> <?php echo FilterLink::generate_link($yesterdayDay . str_repeat('&nbsp;', 3) . 'Yesterday', array('fltr' => array('booking_start_between' => $yesterday['start'], 'booking_end_between' => $yesterday['end'], 'multiple_booking_start_between' => $yesterday['start'], 'multiple_booking_end_between' => $yesterday['end'])), (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] == $yesterday['start']) || (isset($this->filters['multiple_booking_start_between']) && $this->filters['multiple_booking_start_between'] == $yesterday['start'])); ?> </button>
                    <button class="btn btn-white bookingDateicon" type="button"> <?php echo FilterLink::generate_link($todayDay . str_repeat('&nbsp;', 8) . 'Today', array('fltr' => array('booking_start_between' => $today['start'], 'booking_end_between' => $today['end'], 'multiple_booking_start_between' => $today['start'], 'multiple_booking_end_between' => $today['end'])), (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] == $today['start']) || (isset($this->filters['multiple_booking_start_between']) && $this->filters['multiple_booking_start_between'] == $today['start'])); ?> </button>
                    <button class="btn btn-white bookingDateicon" type="button"> <?php echo FilterLink::generate_link($tomorrowDay . str_repeat('&nbsp;', 3) . 'Tomorrow', array('fltr' => array('booking_start_between' => $tomorrow['start'], 'booking_end_between' => $tomorrow['end'], 'multiple_booking_start_between' => $tomorrow['start'], 'multiple_booking_end_between' => $tomorrow['end'])), (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] == $tomorrow['start']) || (isset($this->filters['multiple_booking_start_between']) && $this->filters['multiple_booking_start_between'] == $tomorrow['start'])); ?> </button>

                    <button class="btn btn-white bookingForOneDateicon" id="bookings_date" type="button" style=" height:39px; ">				
                    </button>

                    <input id="bookings_date_datepicker"  style="border:none; height:41px; width:1px; opacity: 0;"   />

<?php echo $this->allStatus->render(); ?> 

                </div> 
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins no-margin-b">
<?php if ($this->data): ?>
        <div class="ibox-content">
            <form method="POST" id="form" action="<?php echo $this->escape($this->url(array(), 'bookingDeleteBtn')); ?>" onsubmit="return confirm('Are you sure you want to delete this Booking ?');">
        <?php if (CheckAuth::checkCredential(array('bookingDelete')) && !$this->isDeleted): ?>
                    <input class="btn btn-danger" type="submit" value="Delete"/>
                <?php endif; ?>
                <table class="table table-bordered responsive-table" id="booking-responsive-table">
                    <thead>
                        <tr>
                            <th> 
    <?php if (!$this->isDeleted): ?>
                                    <input type="checkbox" name="checkboxall" id="checkboxall"/>
                                <?php endif; ?>
                            </th>
                            <th class="table-booking"><?php echo SortOrder::generate_link('Booking#', 'created') ?></th>
                            <th class="table-details">Details</th>				 
                            <th style="width:15%;">Customer</th>				 
                            <th class="table-amount">Amount</th>
                            <th style="width:31%;">Services</th>
                            <th style="width:11%;">Users</th>
                            <th style="width:15%;">Confirmation</th>

                        </tr>
                    </thead>
                    <tbody>
    <?php $count = 0; ?>

                        <?php
                        $modelBookingStatus = new Model_BookingStatus();
                        $modelBookingAddress = new Model_BookingAddress();
                        $modelClaimOwner = new Model_ClaimOwner();
                        $loggedUser = CheckAuth::getLoggedUser();
                        ?>

                        <?php foreach ($this->data as $row) : ?>


                            <?php $count += 1; ?>
                            <tr class="<?php if ($count % 2 != 0) {
                        echo $this->escape('tr_cont_1');
                    } else {
                        echo $this->escape('tr_cont_2');
                    } ?>"> 

                                <!-- delete check -->

        <?php $bookingStatus = $modelBookingStatus->getById($row['status_id']); ?>
                                <td class="checkbox_booking_cont white_color" style="background-color: <?php echo $this->escape($status_colors[$bookingStatus['color']]); ?>">

                                    <div class="inline mobile-on-display  float-l">
                                        <div>
        <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name white_color">
                                                    <b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                            <?php else: ?>
                                                <span class="details_info_name white_color"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
        <?php endif; ?>
                                        </div>

                                    </div>

                                    <div class="inline float-l">
        <?php if (!$this->isDeleted): ?>
                                            <span><input type="checkbox" id="delete-check" name="ids[]" value="<?php echo $this->escape($row['booking_id']); ?>" class="checkbox_input_pos"/>
                                            </span>
        <?php endif; ?>
                                    </div>


                                    <div class="inline float-r mobile-on-display  "> 
                                        <b>   
                                            <?php
                                            $modelBooking = new Model_Booking();
                                            $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                                            ?>
                                            $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2));
                                            ?>	
                                        </b>
                                    </div>

                                    <div class="clearfix">
                                    </div>
                                </td>

                                <!-- booking column-->
                                <td class="booking  mobile-none-display">
                                    <div class="details_info_l">

                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                            <?php else: ?>
                                                <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                        <?php endif; ?>
                                        </div>
                                        <?php
                                        $color = '#A1A1A1';
                                        switch ($row['convert_status']) {
                                            case 'booking':
                                                $color = '#A1A1A1';
                                                break;

                                            case 'estimate':
                                                $color = '#4F8BC3';
                                                break;

                                            case 'invoice':
                                                $color = '#BCD68F';
                                                break;
                                        }
                                        ?>


                                        <?php /* <div style="color: <?php echo $this->escape($color); ?>;"> <?php echo $this->escape($row['convert_status']); ?> </div> 

                                          <div>
                                          <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $row['is_accepted']): ?>
                                          <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" ></a>
                                          <?php endif; ?>
                                          </div> */ ?>
                                        <div>
                                            <?php if (!empty($row['have_attachment'])): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"><img src="/pic/icons/attach.png"></a>
        <?php endif; ?>
                                        </div>
                                    </div>
                                    <div class="details_info_l"  id="label_<?php echo $row['booking_id'] ?>">
                                        <br/>
                                        <?php if ($row['labels']): ?> <span><i class="fa fa-tag"></i>&nbsp;<b>Label(s):</b></span>
                                            <?php foreach ($row['labels'] as $label): ?>
                                                <div class="label_box"> <?php echo $this->escape($label); ?> </div>
            <?php endforeach;
        endif; ?>

                                    </div>

                                </td>

                                <!-- Details column -->
                                <td class="details"><div class="details_info_l">
                                        <b>
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Booking Status Description', '<?php echo $this->escape($this->url(array('id' => $bookingStatus['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>');">
        <?php echo $this->escape($bookingStatus['name']) ?></a>

                                        </b>
                                        <div class="hidden-block">
                                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_link_black"><?php echo $this->escape($bookingStatus['name']) . " - " . $this->escape($row['title']) ?></a>
        <?php endif; ?>
                                        </div>
                                        <div class="booking_time_cont"> 


                                            <span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time" ></span>
                                            <span><?php echo $this->escape(getBookingDateFormating($row['booking_start'], $row['booking_end'])) ?>
                                            </span>
                                            <?php
                                            //print_r($row['multiple_days']);
                                            if (!empty($row['multiple_days'])) {
                                                foreach ($row['multiple_days'] as $day) {
                                                    ?>
                                                    </br>
                                                    <span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time" ></span>
                                                    <span> <?php echo $this->escape(getBookingDateFormating($day['booking_start'], $row['booking_end'])); ?>
                                                    </span>
                                                    <?php
                                                }
                                            }
                                            ?>




                                            <div>
                                                <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $bookingAddress): ?>
                                                    <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Address"></span><!--Address :--></span>
                                                    <?php if ($row['is_accepted']): ?>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>"> <?php echo $this->escape($lineAddress); ?> </a>
                                                    <?php else: ?>
                                                        <?php $lineAddress = get_some_details_line_address($bookingAddress); ?>
                                                        <?php echo $this->escape($lineAddress); ?>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php /*
                                                      <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                                                      <?php if ($bookingAddress && $row['is_accepted']): ?>
                                                      <span class="time_start_color" >Address :</span>
                                                      <?php echo ($row['city_name'] ? $this->escape($row['city_name']) : ''); ?>
                                                      <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                      <?php endif; ?>
                                                     */ ?>
                                            <?php endif; ?>
                                            </div>

                                            <?php if (!empty($row['to_follow'])): ?>
                                                <span class="time_start_color"><span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Deferred To"></span> Deferred To : </span> <?php echo $this->escape(getDateFormating($row['to_follow'])) ?>
        <?php endif; ?>
                                        </div>
                                    </div>
                                    <div class="details_info_l actions-list">
                                        <?php
                                        $actions = array();

                                        if ($this->isDeleted) {
                                            if (CheckAuth::checkCredential(array('bookingDeleteForever')) && $row['convert_status'] == "booking") {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDeleteForever'))}','Are you sure you want to delete this Booking Forever ?'";
                                                $actions[] = '<a href="#" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete Forever</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('bookingUndelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingUndelete'))}','Are you sure you want to UnDelete this Booking ?'";
                                                $actions[] = '<a href="#" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">UnDelete</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('bookingHistory'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingHistory')) . '" class="details_info_opt">Booking History</a>';
                                            }
                                        } else {
                                            if (CheckAuth::getRoleName() == 'contractor') {
                                                if ($row['not_accepted']) {
                                                    $popupConfig = "'Accept','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                    $actions[] = '<a class="a_accept"  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                                }

                                                if ($row['not_accepted_or_rejected']) {
                                                    $popupConfig = "'Reject','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                    $actions[] = '<a class="a_reject"  data-toggle="modal" data-target="#popupi"   href="#"  onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                                }
                                            }

                                            if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                                $actions[] = '<a   href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" ><i class="fa fa-pencil-square-o"></i> Edit</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
                                                if ($row['convert_status'] != 'estimate' && $row['convert_status'] != 'invoice') {
                                                    $popupConfig = "'Convert To Estimate','{$this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate'))}'";
                                                    $actions[] = '<a   data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Convert To Estimate</a>';
                                                }
                                            }



                                            if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $row['is_accepted']) {
                                                if ($row['convert_status'] != 'invoice') {
                                                    $actions[] = '<a   href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                                }
                                            }

                                            $findAvailabilityParams = array();
                                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                            $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking_start'])));
                                            $findAvailabilityParams[] = 'city_id=' . urlencode($row['city_id']);
                                            foreach ($row['services'] as $service) {
                                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                            }
                                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                            $popupConfig = "'Find Availability','{$this->escape($this->url(array(), 'findAvailability'))}','{$findAvailabilityParams}'";
                                            $actions[] = '<a  data-toggle="modal" data-target="#fn_nearest"   href="#" onclick="fn_popupi_with_parm(' . $popupConfig . ');">Find Availability</a>';

                                            $nearestBookingParams = array();
                                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking_start'])));
                                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking_start'])));
                                            $nearestBookingParams[] = 'city_id=' . urlencode($row['city_id']);
                                            $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                            $nearestBookingParams = implode("&", $nearestBookingParams);
                                            $popupConfig = "'Nearest Bookings','{$this->escape($this->url(array(), 'getRelatedAddress'))}','{$nearestBookingParams}'";
                                            $actions[] = '<a  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi_with_parm(' . $popupConfig . ');">Nearest Bookings</a>';

                                            if (CheckAuth::checkCredential(array('canAcceptAdminServices')) && $row['not_accepted']) {
                                                $popupConfig = "'Accept Admin Services','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices'))}'";
                                                $actions[] = '<a class="details_info_opt"  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Admin Accept Service</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('bookingHistory'))) {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingHistory')) . '" class="details_info_opt">Booking History</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('complaintAdd'))) {

                                                $popupConfig = "'Add complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                                $actions[] = '<a class="details_info_opt"  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Add Complaint</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('attachment'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                                $popupConfig = "'Booking Discussion','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDiscussion'))}'";
                                                $actions[] = '<a data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('bookingLabel'))) {
                                                $popupConfig = "'Booking Label','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingSelectLabel'))}'";
                                                $actions[] = '<a data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('bookingDelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDelete'))}','Are you sure you want to delete this Booking ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('claimOwner')) && $row['created_by'] != $loggedUser['user_id']) {
                                                $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                                if (empty($claimOwner)) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                                }
                                            }
                                        }

                                        $line_actions = array_slice($actions, 0, 1);
                                        $drop_down_actions = array_slice($actions, 1);
                                        ?>
                                        <?php //echo implode('&ensp;<span class="details_breaks">|</span>', $line_actions); ?>
        <?php echo implode('&ensp;', $line_actions); ?>
        <?php if ($drop_down_actions): ?>
                                            <!-- action button --> 
                                            <div class="btn-group ">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                        <li> <?php echo $drop_down_action; ?></li>
            <?php endforeach; ?>
                                                </ul>
                                            </div>


        <?php endif; ?>
                                    </div>



                                </td>
                                <!--By islam -->
                                <td><div class="details_info_l" >
                                            <?php if ($row['is_accepted']): ?>
                                            <div id="city_list_inquiry"> 
                                                <?php
                                                //print_r($row['customer']);
                                                if (!empty($row['customer_name'])):
                                                    ?>
                                                    <div> <i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Customer"></i><!--Customer :-->
                                                        <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                            <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black"><?php echo $this->escape($row['customer_name']); ?></a>
                                                    <?php else: ?>
                                                        <?php echo $this->escape($row['customer_name']) ?>
                                                    <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                                <?php //if (!empty($row['to_follow'])): ?>
                                                <?php if (!empty($row['customer']['customer_commercial_info']['business_name'])): ?>
                                                    <div><span style="color: #A1A1A1;" ><i class="fa fa-building"></i> Business Name :</span> <?php echo $this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name'])) ?></div>
                                                <?php endif; ?>
                                                <?php
                                                //by islam
                                                if (0) {
                                                    ?>
                                                    <?php if (!empty($row['customer']['email1'])): ?>
                                                        <div> <i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Email">&nbsp;</i>  <?php echo $this->escape($row['customer']['email1']) ?></div>
                                                    <?php endif; ?>
                                                    <?php if (!empty($row['customer']['email2'])): ?>
                                                        <div> <i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Email">&nbsp;</i>  <?php echo $this->escape($row['customer']['email2']) ?></div>
                                                    <?php endif; ?>
                                                    <?php if (!empty($row['customer']['email3'])): ?>
                                                        <div>	 <i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Email">&nbsp;</i> <?php echo $this->escape($row['customer']['email3']) ?></div>
                                                    <?php endif; ?>
                                                <?php }
                                                ?>
                                                <?php if (!empty($row['customer']['mobile1'])): ?>
                                                    <div> <i class="fa fa-mobile-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Mobile">&nbsp;</i> <?php echo $this->escape($row['customer']['mobile1']) ?></div>
                                                <?php endif; ?>
                                                <?php if (!empty($row['customer']['mobile2'])): ?>
                                                    <div> <i class="fa fa-mobile-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Mobile">&nbsp;</i><?php echo $this->escape($row['customer']['mobile2']) ?></div>
                                                <?php endif; ?>
                                                <?php if (!empty($row['customer']['mobile3'])): ?>
                                                    <div> <i class="fa fa-mobile-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Mobile">&nbsp;</i> <?php echo $this->escape($row['customer']['mobile3']) ?></div>
                                                <?php endif; ?>
                                                <?php if (!empty($row['customer']['phone1'])): ?>
                                                    <div> <i class="fa fa-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Phone">&nbsp;</i> <?php echo $this->escape($row['customer']['phone1']) ?></div>
                                                <?php endif; ?>
                                                <?php if (!empty($row['customer']['phone2'])): ?>
                                                    <div> <i class="fa fa-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Phone">&nbsp;</i> <?php echo $this->escape($row['customer']['phone2']) ?></div>
                                                <?php endif; ?>
                                                <?php if (!empty($row['customer']['phone3'])): ?>
                                                    <div> <i class="fa fa-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Phone">&nbsp;</i> <?php echo $this->escape($row['customer']['phone3']) ?></div>
                                                <?php endif; ?>
                                                <?php if (!empty($row['customer']['fax'])): ?>
                                                    <div> <i class="fa fa-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Fax">&nbsp;</i> <?php echo $this->escape($row['customer']['fax']) ?></div>
                                                <?php endif; ?>
                                                <?php if (!empty($row['customer']['po_box'])): ?>
                                                    <div><span style="color: #A1A1A1;" ><i class="fa fa-inbox" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="PO Box"></i> PO Box :</span> <?php echo $this->escape($row['customer']['po_box']) ?></div>
                                                <?php endif; ?>
                                                <?php if (!empty($row['customer']['customer_contacts'])): ?>
                                                    <?php foreach ($row['customer']['customer_contacts'] as $customerContact): ?>
                                                        <div><span style="color: #A1A1A1;" ><?php echo $this->escape($customerContact['contact_label']) ?> :</span> <?php echo $this->escape($customerContact['contact']) ?></div>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
        <?php endif; ?>
                                        </div>
        <?php //endif;  ?>

                                </td>

                                <!-- amount column -->
                                <td class="amount mobile-none-display"><div class="details_info_l">
                                        <?php
                                        $modelBooking = new Model_Booking();
                                        $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                                        ?>
                                        $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?> </div>

                                </td>



                                <!-- Technician column -->
                                <td class="Technician">
                                    <?php
                                    $modelBooking = new Model_Booking();
                                    if (!empty($row['services_temp']) && !$modelBooking->checkCanEditBookingDetails($row['booking_id'])) {
                                        $services = $row['services_temp'];
                                    } else {
                                        $services = $row['services'];
                                    }
                                    $contractor_pic = new Model_User();
                                    ?>

        <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>




                                        <div>
                                            <!-- booking-box-header -->
                                            <div>
                                                <b>

                                                    <?php
                                                    $mm = $this->escape($contractor_name);
                                                    $contractor = (explode('-', $mm, 2));
                                                    ?>
            <?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))): ?>
                                                        <a href="<?php if (CheckAuth::getRoleName() == 'contractor') {
                    echo $this->escape($this->url(array(), 'myAccount'));
                } else {
                    echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList'));
                } ?>">
                                                            <span class="booking_view_contractor_pic">	
                                                                <?php
                                                                $contractor_infoo = $contractor_pic->getById($contractor_id);
                                                                if ($contractor_infoo['avatar']):
                                                                    echo '<img class="contractor_pic" src="/uploads/user_pic/thumb_small/' . $contractor_infoo['avatar'] . '"/>';
                                                                else:
                                                                    echo'<img src="/pic/contractor_pic.png" width="34px" height="34px">';
                                                                endif;
                                                                ?>

                                                            </span>
                                                            <?php echo $contractor[0]; ?> </a>
                                                        <?php else: ?>
                                                        <span class="booking_view_contractor_pic">	
                                                            <?php
                                                            $contractor_infoo = $contractor_pic->getById($contractor_id);
                                                            if ($contractor_infoo['avatar']):
                                                                echo '<img class="contractor_pic" src="/uploads/user_pic/thumb_small/' . $contractor_infoo['avatar'] . '"/>';
                                                            else:
                                                                echo'<img src="/pic/contractor_pic.png" width="34px" height="34px">';
                                                            endif;
                                                            ?>

                                                        </span>
                                                        <?php echo $contractor[0];
                                                    endif; ?> 


                                                    <?php
                                                    $prevContractor = 0;
                                                    foreach ($services as $key => $service):

                                                        if ($service['contractor_id'] == $contractor_id):
                                                            if (!($prevContractor == $contractor_id)):

                                                                echo '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id'], 'contractor_id' => $contractor_id), 'contractorBookingLocation')) . '">(' . number_format($service['distance'], 2) . ' KM Away) <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>';
                                                            endif;
                                                            $prevContractor = $contractor_id;
                                                        endif;
                                                    endforeach;
                                                    ?> 	





                                                </b>
                                            </div>
                                            <table class="table services_booking_box" border="0">
                                                <tbody>
            <?php foreach ($services as $key => $service): ?>

                <?php if ($service['contractor_id'] == $contractor_id): ?>	


                                                            <tr class="technician-tr">
                                                                <td class="technician-td">
                                                                    <span style="display:inline-block;">
                                                                        <i class="fa fa-star">&nbsp;</i>
                                                                        <b> <?php echo $this->escape($service['info']['service_name']) . '</br>'; ?></b>
                                                                    </span>
                                                                </td>
                                                                <td class="technician-td">

                                                                    <span class="float-r services_status" style=" background-color: <?php if ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;">


                    <?php if ($service['is_accepted']): ?>
                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
                            ?>
                                                                                <a href="#" data-toggle="modal" data-target="#popupi"
                                                                                   onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
                                                                                   class="details_info_opt"> <img height="10" width="10"
                                                                                                               src="/pic/white_accepted.png" 
                                                                                                               title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
                                                                                                               alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
                                                                                </a>
                                                                            <?php else: ?>
                                                                                <img height="10" width="10"
                                                                                     src="/pic/white_accepted.png" 
                                                                                     title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
                                                                                     alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                        <?php endif; ?>

                    <?php elseif ($service['is_rejected']): ?>
                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                                                                <a href="#" data-toggle="modal" data-target="#popupi"
                                                                                   onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                                                                                   class="details_info_opt"> <img height="10" width="10"
                                                                                                               src="/pic/white_rejected.png"
                                                                                                               title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
                                                                                                               alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
                                                                                </a>
                                                                                 <?php else: ?>
                                                                                <img height="10" width="10"
                                                                                     src="/pic/white_rejected.png"
                                                                                     title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
                                                                                     alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
                        <?php endif; ?>
                    <?php else: ?>
                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                                                                <a href="#" data-toggle="modal" data-target="#popupi"
                                                                                   onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                                                                                   class="details_info_opt"> <img height="10" width="10"
                                                                                                               src="/pic/white_unknown.png"
                                                                                                               title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
                                                                                                               alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> 
                                                                                </a>
                                                                                 <?php else: ?>
                                                                                <img height="10" width="10"
                                                                                     src="/pic/white_unknown.png"
                                                                                     title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
                                                                                     alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                        <?php endif; ?>
                    <?php endif; ?>






                                                                    </span>
                                                                </td>


                                                            </tr>
                                            <?php endif; ?>
                                        <?php endforeach ?>
                                                </tbody>

                                            </table>
                                        </div>

                                    <?php endforeach ?>
                                </td>
                                <!-- users column -->
                                <td class="users ">
        <?php foreach ($row['booking_users'] as $booking_user) : ?>
                                        <div><i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="User">&nbsp;</i><?php echo $this->escape(ucfirst($booking_user['user']['username'])); ?>&nbsp;&nbsp; 
                                        </div>
        <?php endforeach; ?>
                                </td>

                                <!-- confirmation column -->

                                <td class="Confirmation"><?php $modelUser = new Model_User(); ?>
                                    <div  id = "reminder_<?php echo $this->escape($row['booking_id']); ?>" class="reminder_booking">

                                            <?php if (isset($row['reminder']) && $row['reminder']): ?>

            <?php foreach ($row['reminder'] as $reminder): ?>

                                                <div>

                                                    <?php if($reminder['user_role'] == 9){
                     $modelCustomer = new Model_Customer();
                      $user = $modelCustomer->getById($reminder['user_id']);
                        $username = $user['first_name'] .' '.$user['last_name'];
                }else{
                    $user = $modelUser->getById($reminder['user_id']);
                    $username = $user['username'];
                } ?>

                                                    <a href="#" data-toggle="modal" data-target="#popupi" style="color:black;" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'bookingReminderView')); ?>');" class="details_info_opt"> <i class="fa fa-thumbs-up ">&nbsp;</i><?php echo $this->escape($reminder['type'] . ' - ' . $username . ' - ' . getDateFormating($reminder['created'])); ?></a>

                                                <?php if (CheckAuth::checkCredential(array('bookingReminderDelete'))): ?>

                                                        <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $row['booking_id'], 'reminder_id' => $reminder['id']), 'bookingReminderDelete')); ?>', 'booking');" ><img height="10" width="10" src="/pic/remove.png" ></a>
                <?php endif; ?>

                                                </div>
                                            <?php endforeach; ?>

        <?php endif; ?>


                                <?php if (CheckAuth::checkCredential(array('bookingReminderAdd'))): ?>
                                            <div> <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');" class="btn btn-white"><i class="fa fa-thumbs-up">&nbsp;</i>Confirm Booking </a> </div>
                                        <?php endif; ?>
                                    </div>
                                </td>

        <?php if ($row['labels']): ?> 
                                    <td class="mobile-on-display">
                                        <ul class="Booking_labels">
            <?php foreach ($row['labels'] as $label): ?>
                                                <li> <?php echo $this->escape($label); ?> </li>
                                <?php endforeach; ?>
                                        </ul>	
                                    </td>
        <?php endif; ?>


                            </tr>
            <?php endforeach; ?>
                    </tbody>
                </table>
            </form>
        </div>

        <div>
            <?php if (count($this->pageLinks) > 3): ?>
                <ul class="pagination">
            <?php foreach ($this->pageLinks as $pageLink) : ?>
                        <li><?php echo $pageLink; ?></li>
        <?php endforeach; ?>
                </ul>
    <?php endif; ?>
        </div>

    <?php else: ?>
        <div class="ibox-content">
            <h3 class="font-bold">There are no <?php echo $this->escape((!empty($this->filters['convert_status']) ? ucfirst($this->filters['convert_status']) : 'All')); ?></h3>
            <div class="error-desc"> <br>
                <a class="btn btn-primary m-t" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[convert_status]">View all Booking</a> </div>
        </div>
<?php endif; ?>



</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('[data-toggle="tooltip"]').tooltip();
    });


    $("#bookings_date_datepicker").datepicker({
        format: 'dd-mm-yyyy',
        changeMonth: true,
        changeYear: true,
        todayBtn: "linked",
        todayHighlight: true,
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
        constrainInput: true,
        showOn: 'button',
        showButtonPanel: true
    });

    $('#bookings_date').click(function ()
    {
        $('#bookings_date_datepicker').datepicker("show");
    });


    $("#bookings_date_datepicker").change(function () {
        var bookings_date = $("#bookings_date_datepicker").val();
        var url = '<?php echo $this->escape($this->url(array(), 'bookingForOneDate')); ?>';
        $.ajax({
            type: "POST",
            data: {'bookings_date': bookings_date},
            url: url,
            dataType: "json",
            success: function (msg) {
                window.location = msg.url;
            }
        });
    });

</script>
