<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->url(array('to'=>$this->to,'id'=>$this->id), 'replySmsByTwilio')); ?><?php //echo $this->escape($this->form->getAction()); ?>">
			  <div class="form-group  hidden">
                    <label class="col-md-3">To: </label>
                    <div class="col-md-9">
                      <input type="text" name="to" id="to" value="<?php echo $this->to ?>"/> 
                    </div>
                </div>
				
				 <div class="form-group hidden">
                    <label class="col-md-3">Smd Id: </label>
                    <div class="col-md-9">
                      <input type="text" name="id" id="id" value="<?php echo $this->id ?>"/> 
                    </div>
                </div>
				
				<div class="form-group hidden">
                    <label class="col-md-3">User Id: </label>
                    <div class="col-md-9">
                      <input type="text" name="user_id" id="user_id" value="<?php echo $this->user_id ?>"/> 
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3">Message<span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                       <?php echo ($this->form->getElement('message')->render()); ?> 
                    </div>
					<span id="dateError" class="help-inline" style="color:#ff0000"></span>

                </div>
				<?php if($this->sender_type){?>
				<div class="form-group">
                <label class="col-md-3">Sender Type</label>
                <div class="col-md-9">
				<select class="select_field form-control" id="sender_type" name="sender_type">
				<option label="Select Type" value="">Select Type</option>
				<option label="Contractor" value="contractor">Contractor</option>
				<option label="Customer" value="customer">Customer</option>
			    </select>
			    </div>
                  <span id="dateError1" class="help-inline" style="color:#ff0000"></span>
                </div>
				<?php }?>
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
            </form>
		<?php  if ($this->lastMessages){ ?>
          <table class="table table-bordered  responsive-table"  id="last_sms">
            <thead>			
				<tr>
				<th>Receive Time</th>
				<th>Body</th>
				<!--<th>Copy In Text</th>-->
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->lastMessages as $sms){ ?>	
				<tr>
				<td><?php echo $this->escape($sms['receive_time'])?></td>
				<td><?php echo $this->escape($sms['message'])?></td>
				<!--<td><button type='button' class='btn btn-default' style="font-size: 15px;">
				Copy In Sms</button>-->
				</td>
				</tr>
				<?php
				}?>
			</table>
			<?php 
				}?>
      	
   <script>
   
	 $( document ).ready(function() {
	   var userName="<?php echo "hi:".$this->userName;?>";
	   var smsContent="<?php if($this->bookingNum) echo $this->bookingNum; else if($this->estimateNum) echo $this->estimateNum; else if($this->complaintNum) echo $this->complaintNum; else if($this->inquiryNum) echo $this->inquiryNum;  else if($this->invoiceNum) echo $this->invoiceNum; else echo "";?>";
	   $("textarea#message").val(userName+ " , " +smsContent);
	   

		});

        
		$('#sender_type').change(function () {
		     var senderSelect=$("#sender_type").val();
			if(senderSelect==""){
			document.getElementById("dateError1").innerHTML = "You must select Sender Type";
             return false;
			 }	
			else
		    document.getElementById("dateError1").innerHTML = "";
		 });
		 
		 
		$('#button').on('click', function()
		{
			var sender="<?php echo $this->sender_type;?>";
			if(sender!='')
			{
		     var senderSelect=$("#sender_type").val();
             if(senderSelect==""){
			document.getElementById("dateError1").innerHTML = "You must select Sender Type";
             return false;
			 }	
            else
             {
			   document.getElementById("dateError1").innerHTML = "";
              }	
				
			}
		});
   </script>