<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->url(array('to'=>$this->to,'id'=>$this->id), 'replySmsByTwilio')); ?><?php //echo $this->escape($this->form->getAction()); ?>">
			  <div class="form-group  hidden">
                    <label class="col-md-3">To: </label>
                    <div class="col-md-9">
                      <input type="text" name="to" id="to" value="<?php echo $this->to ?>"/> 
                    </div>
                </div>
				
				 <div class="form-group hidden">
                    <label class="col-md-3">Smd Id: </label>
                    <div class="col-md-9">
                      <input type="text" name="id" id="id" value="<?php echo $this->id ?>"/> 
                    </div>
                </div>
				
				<div class="form-group hidden">
                    <label class="col-md-3">User Id: </label>
                    <div class="col-md-9">
                      <input type="text" name="user_id" id="user_id" value="<?php echo $this->user_id ?>"/> 
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2">Message<span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-10">
                       <?php echo ($this->form->getElement('message')->render()); ?> 
                    </div>
					<span id="dateError" class="help-inline" style="color:#ff0000"></span>

                </div>
                
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
             
            </form>
      
   <script>

   
	 $( document ).ready(function() {
	   var userName="<?php echo "hi:".$this->userName;?>";
	   var smsContent="<?php if($this->bookingNum) echo $this->bookingNum; else if($this->estimateNum) echo $this->estimateNum; else if($this->complaintNum) echo $this->complaintNum; else if($this->inquiryNum) echo $this->inquiryNum;  else if($this->invoiceNum) echo $this->invoiceNum; else echo "";?>";
	   $("textarea#message").val(userName+ " , " +smsContent);
	   

});

   </script>