<?php $model_bookingProduct = new Model_BookingProduct();
      $modelBookingDiscussion = new Model_BookingDiscussion();?>
<div style="float: left; width: 48%;">
                            <div style="background-color: #F3F3F4;border-color: #E7EAEC;border-style: solid solid none;border-width: 4px 0px 0px;color: inherit;margin-bottom: 0px;padding: 12px 15px 0px;height:29px;font-weight: bold;">
								  Scheduled Visits	
							</div>
                            <div style="background-color:#F3F3F4 !important;">
                               <div  style="margin-bottom: 12px;padding: 12px;">
							   <?php foreach ($this->MainExtraInfo as $key => $mainExtraInfo) { ?>
                                        <div style="background-color: #788492 !important;color: #FFF;height:55px;padding: 0px 5px;">
                                            <span>
											    <div style="float: left;line-height: 58px;padding-right: 5px;"><img src="http://cm.tilecleaners.com.au/pic/fa-calendar-o.png"></div>
                                                <div style="float:left;line-height:55px">
                                                    <b> 
													<?php echo date('l, M d, Y', strtotime($mainExtraInfo['booking_start'])) ?>
													</b>
                                                </div> 
                                            </span>
                                            <div style="float:right;height:55px">
                                                <div style="float: left;line-height: 55px;padding-left: 5px;"><img src="http://cm.tilecleaners.com.au/pic/fa-clock.png" style="width: 16px;height: 16px;"></div>
                                                <ul style="border-left: 1px solid;margin-top: 9px;list-style:none;padding-left: 26px;font-weight:bold">
                                                   <li>
                                                        <span>
                                                            <?php echo date('H:ia', strtotime($mainExtraInfo['booking_start'])); ?>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span><?php echo date('H:ia', strtotime($mainExtraInfo['booking_end'])); ?>
                                                        </span>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div style="clear:both"></div>
                                        </div>
                                        <div style="background-color: #FFF;padding: 15px 20px 20px;border-color: #E7EAEC;border-style: solid solid none;border-width: 1px 0px;<?php
                                        if (strtotime($mainExtraInfo['booking_start']) > time()) {
                                            echo 'display:none';
                                        }
                                        ?>">
										<?php
                                                 if (isset($mainExtraInfo['visited_extra_info_id']) && $mainExtraInfo['visited_extra_info_id'] != 0) {

                                                     $bookingProduct = $model_bookingProduct->getByVisitedExtraInfoId($mainExtraInfo['visited_extra_info_id']);
                                                     ?>
													 
											 <div><em>Site Attended</em> : <?php if ($mainExtraInfo['is_visited'] == 1) { echo 'Yes'; }else{ echo 'No';}?>
                                                        </div>
														
														<?php if (!empty($mainExtraInfo['onsite_client_name'])) { ?>
                                                    <div> 
                                                        <div style="float:left;padding-left:5px"><img src="http://cm.tilecleaners.com.au/pic/fa-map-marker-g.png"></div> <div style="float:left"><em>Check In :</em>&nbsp;<span><?php echo date('H:ia', strtotime($mainExtraInfo['job_start'])); ?></span></div>
														<div style="float:left;padding-left:5px"><img src="http://cm.tilecleaners.com.au/pic/fa-map-marker-g.png"></div>
                                                        <div><em>Check Out :</em>&nbsp;<span><?php echo date('H:ia', strtotime($mainExtraInfo['job_end'])); ?></span></div>
                                                        <div style="clear:both"><em>Onsite Client Name :</em>&nbsp;<?= $mainExtraInfo['onsite_client_name'] ?></div>
                                                    </div>

                                                    <?php
                                                 }
												}
												?>
												
												    <?php if (isset($bookingProduct) && !empty($bookingProduct)) { ?>
                                                       <h4 style="background-color: #CCC;padding:12px;margin-bottom:0px">Products Used</h4>
                                                <?php
                                                foreach ($bookingProduct as $key => $products) {
                                                    ?>
													
													<ul style="list-style:none;padding-left:0px;">
                                                        <li><em>Product Name</em> : <span><?= $products['product'] ?></span></li>
                                                        <li><em>Product Ltr</em> : <span><?= $products['ltr'] ?></span></li>
                                                    </ul>
                                                    <hr style="margin-top:0px;margin-bottom:0px;"/>
                                                <?php }
                                                 }
												?>
                                                <?php
                                                $notes = $modelBookingDiscussion->getNotesByVisitExtraInfoId($mainExtraInfo['visited_extra_info_id']);

                                                if (trim($notes['user_message']) != "") {
                                                    ?>
													<h4 style="background-color: #CCC;padding:12px;margin-bottom:0px">Notes</h4>
                                                    <p>
                                                        <?= $notes['user_message'] ?></span></li>
                                                    </p>
                                                    <?php
                                                }
												?>
											
											 
										</div>
                                    </div>
									<?php } ?>
                            
                               <div  style="margin-bottom: 12px;padding: 12px;">
							   <?php foreach ($this->multipleDaysWithVisitedExtraInfo as $key => $multipleDaysVisitedExtraInfo) { ?>
                                        <div style="background-color: #788492 !important;color: #FFF;height:55px;padding: 0px 5px;">
                                            <span>
											    <div style="float: left;line-height: 58px;padding-right: 5px;"><img src="http://cm.tilecleaners.com.au/pic/fa-calendar-o.png"></div>
                                                <div style="float:left;line-height:55px">
                                                    <b> 
													<?php echo date('l, M d, Y', strtotime($multipleDaysVisitedExtraInfo['booking_start'])) ?>
													</b>
                                                </div> 
                                            </span>
                                            <div style="float:right;height:55px">
                                                <div style="float: left;line-height: 55px;padding-left: 5px;"><img src="http://cm.tilecleaners.com.au/pic/fa-clock.png" style="width: 16px;height: 16px;"></div>
                                                <ul style="border-left: 1px solid;margin-top: 9px;list-style:none;padding-left: 26px;">
                                                   <li>
                                                        <span>
                                                            <?php echo date('H:ia', strtotime($multipleDaysVisitedExtraInfo['booking_start'])); ?>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span><?php echo date('H:ia', strtotime($multipleDaysVisitedExtraInfo['booking_end'])); ?>
                                                        </span>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div style="clear:both"></div>
                                        </div>
                                        <div style="background-color: #FFF;padding: 15px 20px 20px;border-color: #E7EAEC;border-style: solid solid none;border-width: 1px 0px;<?php
                                        if (strtotime($multipleDaysVisitedExtraInfo['booking_start']) > time()) {
                                            echo 'display:none';
                                        }
                                        ?>">
										<?php
                                                 if (isset($multipleDaysVisitedExtraInfo['visited_extra_info_id']) && $multipleDaysVisitedExtraInfo['visited_extra_info_id'] != 0) {

                                                     $bookingProduct = $model_bookingProduct->getByVisitedExtraInfoId($multipleDaysVisitedExtraInfo['visited_extra_info_id']);
                                                     ?>
													 
											 <div><em>Site Attended</em> : <?php if ($multipleDaysVisitedExtraInfo['is_visited'] == 1) { echo 'Yes'; }else{ echo 'No';}?>
                                                        </div>
														
														<?php if (!empty($multipleDaysVisitedExtraInfo['onsite_client_name'])) { ?>
                                                    <div> 														
														<div style="float:left;padding-left:5px"><img src="http://cm.tilecleaners.com.au/pic/fa-map-marker-g.png"></div> <div style="float:left"><em>Check In :</em>&nbsp;<span><?php echo date('H:ia', strtotime($multipleDaysVisitedExtraInfo['job_start'])); ?></span></div>
														<div style="float:left;padding-left:5px"><img src="http://cm.tilecleaners.com.au/pic/fa-map-marker-g.png"></div>
                                                        <div><em>Check Out :</em>&nbsp;<span><?php echo date('H:ia', strtotime($multipleDaysVisitedExtraInfo['job_end'])); ?></span></div>
                                                        <div style="clear:both"><em>Onsite Client Name :</em>&nbsp;<?= $multipleDaysVisitedExtraInfo['onsite_client_name'] ?></div>
														
                                                    </div>

                                                    <?php
                                                 }
												}
												?>
												
												    <?php if (isset($bookingProduct) && !empty($bookingProduct)) { ?>
                                                       <h4 style="background-color: #CCC;padding:12px;margin-bottom:0px">Products Used</h4>
                                                <?php
                                                foreach ($bookingProduct as $key => $products) {
                                                    ?>
													
													<ul style="list-style:none;padding-left:0px;">
                                                        <li><em>Product Name</em> : <span><?= $products['product'] ?></span></li>
                                                        <li><em>Product Ltr</em> : <span><?= $products['ltr'] ?></span></li>
                                                    </ul>
                                                    <hr style="margin-top:0px;margin-bottom:0px;"/>
                                                <?php }
                                                 }
												?>
                                                <?php
                                                $notes = $modelBookingDiscussion->getNotesByVisitExtraInfoId($multipleDaysVisitedExtraInfo['visited_extra_info_id']);

                                                if (trim($notes['user_message']) != "") {
                                                    ?>
													<h4 style="background-color: #CCC;padding:12px;margin-bottom:0px">Notes</h4>
                                                    <p>
                                                        <?= $notes['user_message'] ?></span></li>
                                                    </p>
                                                    <?php
                                                }
												?>
											
											 
										</div>
                                    </div>
									<?php } ?>
                            </div>
							
							

                        </div>
						<div style="clear:both"></div>