<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->url(array('booking_id'=>'$this->id','type'=>$this->type), 'sendBookingAsSmsByTwilio')); ?><?php //echo $this->escape($this->form->getAction()); ?>">
			  <div class="form-group hidden " >
                    <label class="col-md-3">ID: </label>
                    <div class="col-md-9">
                      <input type="text" name="booking_id" id="booking_id" value="<?php echo $this->id ?>"/> 
					  <input type="hidden" value="<?= $this->message;?>" id="sms_message" name="sms_message"/>
                    </div>
                </div>

				 <div class="form-group hidden" >
                    <label class="col-md-3">User ID: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                      <input type="text" name="user_id" id="user_id"  value=""/> 
                    </div>
					
                </div>
            	<div class="form-group">
						<label class="col-md-2 control-label">To </label>
						<div class="col-md-6">
						<select class="form-control" name="mobile_no" id="mobile_no">
						<option value="0">Please Select mobile number</option>
						<?php if($this->type=='contractor'){
						$contractor=$this->contractors;
						$user_id1=array();
						for($i=0;$i<count($contractor);$i++)
					    {
						$user_id_ext =$contractor[$i]['user_id'];
						if(in_array($user_id_ext,$user_id1))
							continue;
						array_push($user_id1,$user_id_ext);
						
						   echo '<option role='.$i.' value='.$contractor[$i]['mobile1'].','.$contractor[$i]['mobile2'].','.$contractor[$i]['mobile3'].'>
						   '.$contractor[$i]['mobile1'].','.$contractor[$i]['mobile2'].','.$contractor[$i]['mobile3'].'</option>';
						}}
						else//to_customer $customer['mobile1']
						{
						echo '<option  selected value='.$this->to_customer[0].','.$this->to_customer[1].','.$this->to_customer[2].' >
						'.$this->to_customer[0].','.$this->to_customer[1].','.$this->to_customer[2].'</option>';
                         }
							?>
						</select>
						</div>
						<span id="dateError" class="help-inline" style="color:#ff0000"></span>

						</div>
				
                <div class="form-group">
                    <label class="col-md-2">Message<span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-6">
                       <?php echo ($this->form->getElement('message')->render()); ?> 
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
             
            </form>
      
   <script>
		   $( document ).ready(function() {
			var type="<?php echo $this->type ?>";
			if(type=='customer'){
			var smstext= $('#sms_message').val();
			$('#message').val(smstext);
			}
			
		});


		$('#mobile_no').on('change', function() {
				document.getElementById("dateError").innerHTML = "";
				if(mobile_no==0){
					document.getElementById("dateError").innerHTML = "You must choose mobile number";
					return false;
					}
			var option = $('option:selected', $('#mobile_no')).attr('role');
			var booking_id=$('#booking_id').val();//
			var url = "<?php echo $this->escape($this->url(array('booking_id'=>'$this->id','type'=>$this->type),'sendBookingAsSmsByTwilio')); ?>";
					$.ajax({
								type: "POST",
								url: url,
								dataType: "json",
								data: { 
								'id' :booking_id,
								'getemp'     :1,
								'user_id'    :option,
								},
								success: function(result)
								{
								$("textarea#message").val(result.message);
								$("#user_id").val(result.user_id);
								
								}

							});

		   });
		   
			$('#button').on('click', function() {
				  if($("#mobile_no").val()==0)
				{
				document.getElementById("dateError").innerHTML = "You must choose mobile number";
				return false;
				}
				
			 });

	 
   </script>
 