

<!-- TinyMCE -->
<script type="text/javascript">
    $(document).ready(function(){
        tinyMCE.init({
            // General options
            plugins : '-example', // - tells TinyMCE to skip the loading of the plugin
            mode : "textareas",
            theme : "advanced", 
            relative_urls : false,
            convert_urls : false,

            // Theme options
            theme_advanced_buttons1 : "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : false
        });
    });
</script>
<!-- /TinyMCE -->
 
<form class="form-horizontal" form id="form" method="POST" onsubmit="tinyMCE.triggerSave(); do_submit_confirmation('<?php echo $this->escape($this->url(array(), 'sendBookingConfirmationAsEmail')); ?>','#form','#content_modal_popup');return false;">
	 
	 
	 <div class="col-md-8">
	  <div class="form-group">
				<label class="col-md-3">To</label>
				<div class="col-md-9 ">
				   <input type="text" name="to" value="<?php echo $this->escape($this->to); ?>" class="form-control" />
				
                </div>
		</div>
	
				    <?php if (isset($this->error_mesages['to']) && !empty($this->error_mesages['to'])): ?>
                    <div style=" color: red;">
                        <?php echo $this->escape($this->error_mesages['to']); ?>
                    </div>
                <?php endif; ?>

		
		
		
		
		 <div class="form-group">
				<label class="col-md-3">Cc</label>
					<div class="col-md-9 ">
					   <input type="text" name="cc"  value="<?php echo $this->escape($this->cc); ?>" class="form-control"/>
					
					</div>
		</div>

				<?php if (isset($this->error_mesages['cc']) && !empty($this->error_mesages['cc'])): ?>
                    <div class="col-md-12" style=" color: red;">
                        <?php echo $this->escape($this->error_mesages['cc']); ?>
                    </div>
                <?php endif; ?>

				
		<div class="form-group">
				<label class="col-md-3">Subject</label>
				<div class="col-md-9 ">
				 <input type="text" name="subject" value="<?php echo $this->escape($this->subject); ?>" style=" height: 40px; ;" class="form-control" />
                </div>
		</div>		
	
				 <?php if (isset($this->error_mesages['subject']) && !empty($this->error_mesages['subject'])): ?>
                    <div style="color:red;" class="col-md-12">
                        <?php echo $this->escape($this->error_mesages['subject']); ?>
                    </div>
                <?php endif; ?>

		
		
		
		</div>
		
		
		 <div class="col-md-4">
                <div class="form-group">
				<div style="color: #666666; font-weight: bold;" class="col-md-9">
                    Attachment
                   </div>
				   
				   <div class="col-md-12" style="height:100px;overflow:auto">
				    
					<div class="row">
						 <div class="col-md-1"><input type="checkbox" name="pdf_attachment" id="pdf_attachment" value="true" checked/></div>
						 <div class="col-md-9">
						   <img src="/pic/icons/export-as-pdf.png"  style="vertical-align: middle;" /> <span><?php echo $this->escape(isset($this->booking['estimate']['estimate_num']) ? $this->booking['estimate']['estimate_num'] : $this->booking['booking_num']); ?>.pdf</span>
						 </div>
						 				 
						 </div>
					
					<?php if(isset($this->AttributeListValueAttachments) && !empty($this->AttributeListValueAttachments)){
					  foreach($this->AttributeListValueAttachments as $AttributeListValueAttachment){
					    foreach($AttributeListValueAttachment['attachments'] as $attachment){?>
						 <div class="row">
						 <div class="col-md-1">
						   <input type="checkbox" name="attachment[]"  value="<?php echo $attachment['attachment_id'];?>" value="true" checked/>
						 </div>	
						 <div class="col-md-9">
						   <?php $type = explode("/",$attachment['type']);
						    if($type[0] == 'image'){
							  echo '<i class="fa fa-file-image-o" style="font-size:17px;margin-left:6px;"></i>';
							 }else{
							  echo '<i class="fa fa-file-text-o " style="font-size:17px;margin-left:6px;"></i>';
							 }
							?>
						   &nbsp; <span><?php echo $AttributeListValueAttachment['attribute_name'].'-'.$attachment['file_name']; ?></span>
						 </div>
						 				 
						 </div>
						
					<?php	
					   }   
					  }
					?>
					    
					
					<?php } ?>
					
                </div>
				   
                </div>
			
              
            </div>
	
		
		
		 
		
		         
				 
			 <div class="form-group">
				<div class="col-md-12 ">
					<textarea name="body" id="body" style="width:100%; height:250px;" class="form-control"><?php echo $this->body; ?></textarea>
			    </div>
		    </div>
			
			
			<div class="form-group">
			
				<div class="col-md-9" id="button_cont">
				 <input type="submit" value="Send" class="btn btn-primary" /> 
				 or
				 <a href="<?php echo $this->escape($this->goToUrl) ?>" class="btn btn-danger">Cancel</a>
				</div>
			 
			</div>

    <input type="hidden" name="go_to_url" value="<?php echo $this->escape($this->goToUrl) ?>"/>
    <input type="hidden" name="id" value="<?php echo $this->escape($this->booking['booking_id']) ?>"/>
</form>
<script type="text/javascript">

    function do_submit_confirmation(url,form,content){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize(),
            success: function(msg) {
			   console.log(msg);
                if(msg == 1) {
				    console.log(msg);
                    window.location = '<?php echo $this->escape($this->goToUrl) ?>';
                } else {
                    $(content).html(msg);
                }
            }
        });
    }

</script>