<?php
$loggedUser = CheckAuth::getLoggedUser ();

$modelUser = new Model_User ();
$modelBooking = new Model_Booking ();
$modelServices = new Model_Services ();
$modelUserInfo = new Model_UserInfo ();
$modelAuthRole = new Model_AuthRole ();
$modelClaimOwner = new Model_ClaimOwner ();
$modelPropertyType = new Model_PropertyType ();
$modelBookingStatus = new Model_BookingStatus ();
$modelAttributeType = new Model_AttributeType ();
$modelContractorInfo = new Model_ContractorInfo ();
$modelBookingAddress = new Model_BookingAddress ();
$modelServiceAttribute = new Model_ServiceAttribute ();
$modelAttributeListValue = new Model_AttributeListValue ();
$modelServiceAttributeValue = new Model_ServiceAttributeValue ();
$modelServiceAttributeValueTemp = new Model_ServiceAttributeValueTemp ();
$modelCustomerFeedback = new Model_CustomerFeedback ();
$weatherStatue=new Model_WeatherStatus();

$colors = array (
		'0' => '#888888',
		'1' => '#cc3333',
		'2' => '#dd4477',
		'3' => '#994499',
		'4' => '#6633cc',
		'5' => '#336699',
		'6' => '#3366cc',
		'7' => '#22aa99',
		'8' => '#329262',
		'9' => '#109618',
		'10' => '#66aa00',
		'11' => '#aaaa11',
		'12' => '#d6ae00',
		'13' => '#ee8800',
		'14' => '#dd5511',
		'15' => '#a87070',
		'16' => '#8c6d8c',
		'17' => '#627487',
		'18' => '#7083a8',
		'19' => '#5c8d87',
		'20' => '#898951',
		'21' => '#b08b59',
		'-1' => '#7a367a' 
);
?>
<table class="table">
	<tr>
		<td class="left_side">
			<div>
				
				<?php if($this->booking['is_change']){ ?>
				<div class="status_container" style="background-color: red; color: white;">
					<?php if(CheckAuth::checkCredential(array('canApproveBooking'))){ ?>
					<a class="a_white" href="<?php echo $this->url(array('id' => $this->booking['booking_id']), 'approvedService'); ?>" >AWAITING APPROVAL</a>	
					<?php }else{ ?>
					<div class="a_white" > AWAITING APPROVAL </div>
					<?php } ?>
				</div>
				<?php } ?>
				
				<div class="clearb"></div>
				
				
				<div class="details_info_l floatLeft" style="padding-left: 20px;">
                    <?php if (isset($this->bookingLabels)): ?>
                        <?php foreach ($this->bookingLabels as $label): ?>
                            <div class="label_box">
                                <?php echo $this->escape($label['label']['label_name']); ?> 
                            </div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
				<div class="clearb"></div>
			</div>
			<div>
			<div class="details_info_container" style="float:left;" >
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td colspan="2" height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Booking Details: </b>
									</div>
								</td>
							</tr>
							<tr>
								<td class="labelText"><b>Booking#</b></td>
								<td class="valueText"><b>
                                        <?php if (CheckAuth::checkCredential(array('bookingView')) && !$this->booking['is_deleted']): ?>
                                            <a
										href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>"
										class="a_black"><?php echo $this->escape($this->booking['booking_num']) ?></a>
                                        <?php else: ?>
                                            <span><?php echo $this->escape($this->booking['booking_num']) ?></span>
                                        <?php endif; ?>
                                    </b></td>
							</tr>
							<tr>
								<td class="labelText"><b>Booking Status</b></td>
								<?php $status = $modelBookingStatus->getById($this->booking['status_id']); ?>
								<td class="valueText" style="text-align:center; background-color: <?php echo $this->escape($colors[$status['color']]) ?>;">
									<a class="a_white" href="javascript:;"
										onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $status['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>','300','600');"><?php echo $this->escape($status['name']) ?></a>
								</td>
							</tr>
                            <?php if (CheckAuth::checkCredential(array('invoiceView')) && $this->bookingInvoice && !$this->bookingInvoice['is_deleted']): ?>
                                <tr>
								<td class="labelText"><b>Invoice#</b></td>
								<td class="valueText"><b> <a
										href="<?php echo $this->escape($this->url(array('id' => $this->bookingInvoice['id']), 'invoiceView')); ?>"
										class="a_black"><?php echo $this->escape($this->bookingInvoice['invoice_num']) ?></a>
								</b></td>
							</tr>
                            <?php endif; ?>
                            <?php if (CheckAuth::checkCredential(array('estimateView')) && $this->bookingEstimate && !$this->bookingEstimate['is_deleted']): ?>
                                <tr>
								<td class="labelText"><b>Estimate#</b></td>
								<td class="valueText"><b> <a
										href="<?php echo $this->escape($this->url(array('id' => $this->bookingEstimate['id']), 'estimateView')); ?>"
										class="a_black"><?php echo $this->escape($this->bookingEstimate['estimate_num']) ?></a>
								</b></td>
							</tr>
                            <?php endif; ?>
                            <tr>
								<td class="labelText"><b>Title</b></td>
								<td class="valueText"><?php echo wordwrap($this->escape($this->booking['title']), 70, "<br />\n"); ?></td>
							</tr>
							<tr>
								<td class="labelText"><b>Booking Address</b></td>
								<td class="valueText"><a class="a_link"
									href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingLocation')); ?>"> 
                                        <?php echo wordwrap($this->escape($this->lineAddress), 70, "<br />\n"); ?>
                                    </a></td>
							</tr>
							<tr>
							<td class="labelText"><b>Weather Status</b></td>
								<td class="valueText" >
								<?php
											$createDate = new DateTime($this->booking['booking_start']);
											$strip = $createDate->format('Y-m-d');
											$status=$weatherStatue->getByDateAndCityId($strip,$this->booking['city_id']);		
											 if ($status['status']) { ?>
												<img align="top" src=<?php echo $status['img_link'];?> title="<?php echo $status['status'] ?>"/></br>
												<?php echo $status['temperature']; ?>
												<?php } 
											else
												echo '?';
										?>
								</td>
							</tr>
							<tr>
								<td class="labelText"><b>From</b></td>
								<td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['booking_start'])) ?></td>
							</tr>
							<tr>
								<td class="labelText"><b>To</b></td>
								<td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['booking_end'])) ?></td>
							</tr>
                            <?php if (!empty($this->multipleDays)): ?>
                                <?php foreach ($this->multipleDays as $day): ?>
                                    <tr>
								<td class="labelText"><b>From</b></td>
								<td class="valueText"><?php echo $this->escape(getDateFormating($day['booking_start'])) ?></td>
							</tr>
							<tr>
								<td class="labelText"><b>To</b></td>
								<td class="valueText"><?php echo $this->escape(getDateFormating($day['booking_end'])) ?></td>
							</tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                            <tr>
								<td class="labelText"><b>Property Type</b></td>
                                <?php $propertyType = $modelPropertyType->getById($this->booking['property_type_id'])?>
                                <td class="valueText"><?php echo $this->escape($propertyType['property_type']); ?></td>
							</tr>
							<tr>
								<td class="labelText"><b>Owner</b></td>
                                <?php $owner = $modelUser->getById($this->booking['created_by']); ?>
                                <td class="valueText">
									<div style="float: left;"><?php echo $this->escape(ucwords($owner['username'])); ?></div>
                                    <?php if (CheckAuth::checkCredential(array('claimOwner')) && $this->booking['created_by'] != $loggedUser['user_id']) : ?>                                    
                                        <div
										style="padding-left: 10px; float: left;">                                       
                                            <?php $claimOwner = $modelClaimOwner->getByBookingAndUserId($this->booking['booking_id'], $loggedUser['user_id']); ?>
                                            <?php if (empty($claimOwner)) : ?>
                                                <a
											href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendClaimOwner')); ?>"
											class="details_info_opt">Claim Ownership</a>
                                            <?php else : ?>
                                                <b>Claim Pending</b>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
									<div class="clearBoth"></div>
								</td>
							</tr>
							<?php if (!empty($this->booking['to_follow'])): ?>
                                <tr>
								<td class="labelText"><b>Deferred Status</b></td>
								<td class="valueText">
										<div style="margin-top: 10px;">
                                            <?php if (!empty($this->booking['is_to_follow'])): ?>
                                                <div style="float: left;">
                                                    Active
                                                </div>
                                                <div style="float: left; margin-left: 10px;">
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'removeFollowUpBooking')) ?>" class="a_link">Remove Follow UP</a>
                                                </div>
                                            <?php else: ?>
                                                <div style="float: left;">
                                                    Not Active
                                                </div>
                                                <div style="float: left; margin-left: 10px;">
                                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'followUpBooking')) ?>','100','400','Follow Booking')" class="a_link">Add Follow UP</a>
                                                </div>
                                            <?php endif; ?>
                                            <div class="clearBoth"></div>
                                        </div>
								</td>
							</tr>
                            <?php endif; ?>
							
                            <?php if (!empty($this->booking['to_follow'])): ?>
                                <tr>
								<td class="labelText"><b>Deferred To</b></td>
								<td class="valueText">
									<div
										id="follow_date_container_<?php echo $this->escape($this->booking['booking_id']) ?>"
										class="details_info_l">
										<div
											id="follow_date_value_<?php echo $this->escape($this->booking['booking_id']) ?>"
											style="float: left; width: 165px;">
                                                <?php echo $this->escape(getDateFormating($this->booking['to_follow']))?>
                                            </div>
										<div
											id="follow_date_button_<?php echo $this->escape($this->booking['booking_id']) ?>"
											style="float: left; margin-left: 10px;">
											<a href="javascript:;"
												onclick="change_follow_date(<?php echo $this->escape($this->booking['booking_id']) ?>)"
												class="a_link"> Edit</a>
										</div>
										<div class="clearBoth"></div>
									</div>
								</td>
							</tr>
                            <?php endif; ?>
							
                            <?php
							
							foreach ($this->contractorsDistance as $contractorDistance): ?> 
                                <tr>
								<td class="labelText"><b>Distance To <?php echo $this->escape(ucwords($contractorDistance['name'])) ?></b></td>
								<td class="valueText">
									<div style="float: left;">  <?php echo number_format($contractorDistance['distance'], 2); ?> KM</div>
									<div style="padding-left: 10px; float: left;">
										<a class="a_link"
											href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id'], 'contractor_id' => $contractorDistance['contractor_id']), 'contractorBookingLocation')); ?>">
											View Map</a>
									</div>
									<div class="clearBoth"></div>
								</td>
							</tr>
                            <?php endforeach; ?>
							<tr>
								<td class="labelText"><b>Convert to Booking Duration</b></td>
								<td class="valueText">
									<?php 
									if(isset($this->booking['convert_to_booking_duration'])&& $this->booking['convert_to_booking_duration'] != 0){
										//// convert duration from hrs to days
										$duration_in_days = floor($this->booking['convert_to_booking_duration']/24);
										$reminder_hrs = (int)$this->booking['convert_to_booking_duration']%24;
										echo  $duration_in_days.' days and '. $reminder_hrs.' hrs';
									}
									else{
										echo '0';
									}
									?>
									
								</td>
							</tr>
                        </tbody>
					</table>
				</div>
				<div style="float: right; margin-top: 0px;">
				<div class="details_info_l" style="float: right; margin-top: 0px;" >
						<table align="center" cellpadding="3" style="float: left;"
							id="satisfaction">
                 <?php
						$modelBooking = new Model_Booking ();
						$row = $this->booking;
						$services = $this->bookingServices;
						if (! empty ( $row ['services_temp'] ) && ! $modelBooking->checkCanEditBookingDetails ( $row ['booking_id'] )) {
							$services = $row ['services_temp'];
						} else {
							$services = $row ['services'];
						}
					?>
                    <tr>
						<td>Services No.</td>
						<?php foreach ($services as $key => $service): ?>
						<td style="text-align: center;"><a
									title="<?php echo $this->escape($service['info']['service_name']); ?>"
									alt="<?php echo $this->escape($service['info']['service_name']); ?>"
									class="a_link_black"><?php echo $this->escape($key + 1); ?></a></td>
						<?php endforeach ?>
						
						<td>Distance To</td>
                    </tr>
                    <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                    <tr>
						<td>
							<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $this->escape($contractor_name ? ucwords($contractor_name) : '') ?></a>
                                    
                        </td>
                        <?php foreach ($services as $key => $service): ?>
                        <td style="text-align: center; background-color: <?php if ($service['contractor_id'] != $contractor_id): ?>transparent<?php elseif ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;">
                        <?php if ($service['contractor_id'] != $contractor_id): ?>
                        <a
									title="<?php echo $this->escape($service['info']['service_name']); ?>"
									alt="<?php echo $this->escape($service['info']['service_name']); ?>"
									class="a_link_black">-</a>
                        <?php elseif ($service['is_accepted']): ?>
								<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
								?>
								<a href="javascript:;"
											onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>','200','400');"
											class="details_info_opt"> <img height="10" width="10"
												src="/pic/white_accepted.png" border="0"
												title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
												alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
								</a>
								<?php else: ?>
								<img height="10" width="10"
											src="/pic/white_accepted.png" border="0"
											title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
											alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
								<?php endif; ?>
                        <?php elseif ($service['is_rejected']): ?>
						<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
								<a href="javascript:;"
									onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>','200','400');"
									class="details_info_opt"> <img height="10" width="10"
										src="/pic/white_rejected.png" border="0"
										title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
										alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
								</a>
								<?php else: ?>
								<img height="10" width="10"
									src="/pic/white_rejected.png" border="0"
									title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
									alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
								<?php endif; ?>
                        <?php else: ?>
                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                        <a href="javascript:;"
									onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>','200','400');"
									class="details_info_opt"> <img height="10" width="10"
										src="/pic/white_unknown.png" border="0"
										title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
										alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
								</a>
                        <?php else: ?>
                        <img height="10" width="10"
									src="/pic/white_unknown.png" border="0"
									title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
									alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                        <?php endif; ?>
                        <?php endif; ?>
                        </td>
                        <?php endforeach ?>
						<td>
						<?php 
						
						foreach ($this->contractorsDistance as $contractorDistance){
							$length=strlen($contractorDistance['name']);
							//////get contractor_name only from original contractor_name which is equal contractor_name-company_name
							$contractor_name = substr($this->escape($contractor_name), 0, $length);
							if(strtolower($contractor_name) == $this->escape(strtolower($contractorDistance['name']))){
							echo number_format($contractorDistance['distance'], 2).'KM'; 
							?>
							<a class="a_link" href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id'], 'contractor_id' => $contractorDistance['contractor_id']), 'contractorBookingLocation')); ?>">
											<img src="/pic/icons/google-map.png" alt="view map" /></a>
							<?php
							}
							}
						?> 
						</td>
                        </tr>
						<!-- By Islam -->
						<tr>
						<td>
							<?php echo 'Area'; ?>
                        </td>
                        <?php foreach ($services as $key => $service): 
						$serviceAttributeInfo = $modelServiceAttribute->getByAttributeIdAndServiceId ( '48',$service['service_id']);
						$serviceAttributeValue=$modelServiceAttributeValue->getByBookingIdAndServiceAttributeId($row ['booking_id'],$serviceAttributeInfo['service_attribute_id']);
						$attributeListValue = $modelAttributeListValue->getById ( $serviceAttributeValue ['value'] );
							
						?>
                        <td style="text-align: center; background-color: <?php if ($attributeListValue['attribute_value'] == 'Indoor'): ?>#00FF00<?php else: ?>#FF00FF<?php endif; ?>;">
							<a
								title="<?php if ($attributeListValue['attribute_value'] == 'Indoor') 
									echo 'Indoor';
								elseif ($attributeListValue['attribute_value'] == 'Outdoor')
									echo 'Outdoor';
								else
									echo 'Indoor/Outdoor';
										?>"
								alt="<?php echo $attributeListValue['attribute_value']; ?>"
								class="a_link_black"><?php if ($attributeListValue['attribute_value'] == 'Indoor') 
									echo 'I';
								elseif ($attributeListValue['attribute_value'] == 'Outdoor')
									echo 'O';
								else
									echo 'I/O';	?></a>
                        
                        </td>
                        <?php endforeach ?>
						</tr>
			
						
						<!--End By Islam -->
						
                        <?php endforeach ?>
                       </table>
					</div>
					</br>
					<?php if($this->questions){ ?>
				
				<div class="customer_info_container" style="float: right; margin-top: 30px;"  >
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td colspan="2" height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Update Booking Questions: </b>
									</div>
								</td>
							</tr>
							<?php foreach($this->questions as $question){
							?>
							<tr>
								<td class="labelText"><b><?php echo $question['question_text']; ?></b></td>
								
								<td class="valueText"><b><?php echo $question['answer_text']? $question['answer_text'] : 'No Answer' ; ?></b></td>
							</tr>
						
							<?php
							}
							?>
							
						</tbody>
					</table>
				</div>					
				<?php } ?>
				
				
					
				</div>
					
					
					
				
				<div class="clearBoth"></div>
				<div class="customer_info_container"  style="float:left; padding-top:30px;"  >
                    <?php
					$customerView = new Zend_View ();
					$customerView->setScriptPath ( APPLICATION_PATH . '/modules/default/views/scripts/common-views' );
					$customerView->customer_id = $this->booking ['customer_id'];
					$customerView->allDetails = $this->isAccepted;
					echo $customerView->render ( 'customer_info.phtml' );
					?>
				</div>	
				
				
				</br>
					
				
				<div class="clearBoth"></div>
			</div>
			<div class="book_view_info_cont">

				<div>
                    <?php if (isset($status['name']) && ('COMPLETED' == $status['name'] || 'FAILED' == $status['name'])): ?>
                        <div class="margin_t_30">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td class="labelText" style="width: 150px;"><b>Onsite Client
											Name</b></td>
									<td class="valueText"><?php echo $this->escape(isset($this->booking['onsite_client_name']) ? $this->booking['onsite_client_name'] : "") ?></td>
								</tr>
								<tr>
									<td class="labelText" style="width: 150px;"><b>Job Start Time</b></td>
									<td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['job_start_time'])) ?></td>
								</tr>
								<tr>
									<td class="labelText" style="width: 150px;"><b>Job Finish Time</b></td>
									<td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['job_finish_time'])) ?></td>
								</tr>
								<tr>
									<td class="labelText" style="width: 150px;"><b>Customer
											Satisfaction</b></td>
									<td class="valueText">
										<table cellpadding="3" id="satisfaction">
											<tr>
												<td rowspan="2"
													style="width: 60px; text-align: center; color: gray;"><label>Very
														Dissatisfied</label></td>
												<td><label style="margin-left: 6px;">1</label></td>
												<td><label style="margin-left: 6px;">2</label></td>
												<td><label style="margin-left: 6px;">3</label></td>
												<td><label style="margin-left: 6px;">4</label></td>
												<td><label style="margin-left: 6px;">5</label></td>
												<td rowspan="2"
													style="width: 60px; text-align: center; color: gray;"><label>Very
														Satisfied</label></td>
											</tr>
											<tr>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 1) ? 'background-color: #7EAF1F;' : ''; ?>" >
                                                        <?php if ($this->booking['satisfaction'] == 1): ?>
                                                            <img
													height="10" width="10" src="/pic/white_accepted.png"
													border="0" />
                                                        <?php endif; ?>
                                                    </td>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 2) ? 'background-color: #7EAF1F;' : ''; ?>">
                                                        <?php if ($this->booking['satisfaction'] == 2): ?>
                                                            <div
														style="background-color: #7EAF1F;">
														<img height="10" width="10" src="/pic/white_accepted.png"
															border="0" />
													</div>
                                                        <?php endif; ?>
                                                    </td>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 3) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->booking['satisfaction'] == 3): ?>
                                                            <div
														style="background-color: #7EAF1F;">
														<img height="10" width="10" src="/pic/white_accepted.png"
															border="0" />
													</div>
                                                        <?php endif; ?>
                                                    </td>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 4) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->booking['satisfaction'] == 4): ?>
                                                            <div
														style="background-color: #7EAF1F;">
														<img height="10" width="10" src="/pic/white_accepted.png"
															border="0" />
													</div>
                                                        <?php endif; ?>
                                                    </td>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 5) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->booking['satisfaction'] == 5): ?>
                                                            <div
														style="background-color: #7EAF1F;">
														<img height="10" width="10" src="/pic/white_accepted.png"
															border="0" />
													</div>
                                                        <?php endif; ?>
                                                    </td>
											</tr>
										</table>

									</td>
								</tr>
								<tr>
									<td class="labelText" style="width: 150px;"><b>Products Name</b></td>
									<td class="valueText">
                                            <?php $modelBookingProduct = new Model_BookingProduct(); ?>
                                            <?php $modelProduct = new Model_Product(); ?>
                                            <?php $bookingProducts = $modelBookingProduct->getByBookingId($this->booking['booking_id']); ?>
                                            <?php ?>
                                            <?php foreach ($bookingProducts as $bookingProduct) : ?>
                                                <?php $product = $modelProduct->getById($bookingProduct['product_id']); ?>
                                                <div>
                                                    <?php echo $this->escape(count($bookingProducts) > 1) ? '&#187;' : ''; ?>
                                                    <?php echo $this->escape($product['product']) ?> <b><?php echo $this->escape(!empty($bookingProduct['ltr']) ? '(' . $bookingProduct['ltr'] . 'Ltr)' : ''); ?></b>
										</div>
                                            <?php endforeach; ?>
                                        </td>
								</tr>
							</tbody>
						</table>
					</div>
                    <?php endif; ?>
                   <?php if($this->booking['description']){ ?>
					<table width="100%" cellspacing="0" cellpadding="0" border="0" style="float:left; padding-top:30px;">
						<tbody>
							<tr>
								<td height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Description: (Company Use Only) </b>
									</div>
								</td>
							</tr>
							<tr>
								<td class="defaultInnerBg padding10 txt-lft" >
									<?php 
									$description = wordwrap ( $this->booking ['description'], 90, "\n", true );
																								
									echo nl2br($this->escape($description)); ?>
								</td>
							</tr>
						</tbody>
					</table>
					<?php } ?>
					
					<div style="clear: both;">
					</div>
					<div>
                        <?php if ($this->bookingServices): ?>
                            <table class="book_view_info_table_cont" style="margin-top:30px;" >
                            <table class="book_view_info_table_cont" style="margin-top:30px;" >
							<tr class="book_view_info_table_head"
								style="background-color: #A1A1A1;">
								<td class="txt_white">DESCRIPTION</td>
								<td class="txt_white" width="110">UNIT PRICE</td>
								<td class="txt_white" width="110">QTY</td>
								<td class="txt_white" width="90">TOTAL</td>
							</tr>
                                <?php foreach ($this->bookingServices as $key => $bookingService): ?>
                                    <?php
									$serviceId = $bookingService ['service_id'];
									$clone = $bookingService ['clone'];
									$bookingId = $bookingService ['booking_id'];
									$contractorId = $bookingService ['contractor_id'];
									$serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
									$serviceDetails = $modelServices->getById ( $serviceId );
									$user = $modelUser->getById ( $contractorId );
								    $userInfo = 0;
									$contractorInfo = 0;
									$roleName = $modelAuthRole->getRoleName ( $user ['role_id'] );
									?>
                                    <?php if ('contractor' == $roleName): ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                    <?php else: ?>
                                        <?php $userInfo = $modelUserInfo->getByUserId($contractorId)?>
                                    <?php endif; ?>
                                    <tr style="border-bottom: 1px solid #A1A1A1; background-color:<?php echo $this->escape(($contractorId != $loggedUser['user_id']) && !$modelBooking->checkCanEditBookingDetails($bookingId) ? 'rosybrown' : (($key % 2 != 0) ? '#ECECEC' : '')) ?>;">
								<td style="text-align: left;">
									<div style="clear: both;">
										<span style="float: left;"> &#187; <b>Technician :</b>&ensp;
										</span> <span style="float: left; width: 80%;">
                                                    <?php echo $this->escape($userInfo ? $userInfo['first_name'] . ' ' . $userInfo['last_name'] : (ucwords($user['username']) . ($contractorInfo ? ' - ' . ucwords($contractorInfo['business_name']) : '')))?>
                                                </span>
									</div>
									<div style="clear: both;">
										<span style="float: left;"> &#187; <b>Service :</b>&ensp;
										</span> <span style="float: left; width: 80%;">
                                                    <?php echo $this->escape($serviceDetails['service_name']); ?>
                                                </span>
									</div>
                                            <?php if ($this->priceArray[$serviceAndClone] <= $serviceDetails['min_price']): ?>
                                                <div
										style="clear: both;">
										<span style="float: left;"> &#187; <b>Min Price :</b>&ensp;
										</span> <span style="float: left; width: 80%;">
                                                        <?php echo $this->escape($serviceDetails['min_price']); ?>
                                                    </span>
									</div>
                                            <?php endif; ?>
                                            <?php
																										$serviceAttribute = $modelServiceAttribute->getAttributeByServiceId ( $serviceId );
																										
																										$unit_price = 0;
																										$qty = 0;
																										
																										foreach ( $serviceAttribute as $attribute ) {
																											// $serviceAttribute = $modelServiceAttribute->getByAttributeIdAndServiceId($attribute['attribute_id'], $attribute['service_id']);
																											
																											if (! empty ( $this->isTemp )) {
																												$value = $modelServiceAttributeValueTemp->getByBookingIdAndServiceAttributeIdAndClone ( $bookingId, $attribute ['service_attribute_id'], $clone );
																											} else {
																												$value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone ( $bookingId, $attribute ['service_attribute_id'], $clone );
																											}
																											switch ($attribute ['attribute_name']) {
																												case 'Quantity' :
																													$qty = $value ['value'];
																													break;
																												case 'Price' :
																													$unit_price = $value ['value'];
																													break;
																												default :
																													if ($value ['value']) {
																														$att = $modelAttributeType->getById ( $attribute ['attribute_type_id'] );
																														?>
                                                            <div
										style="clear: both;">
										<span style="float: left;"> &#187; <b><?php echo $this->escape($attribute['attribute_name']); ?> :</b>&ensp;
										</span> <span style="float: left; width: 80%;">
                                                                    <?php
																														if ($att ['is_list']) {
																															if ($value ['is_serialized_array']) {
																																$values = unserialize ( $value ['value'] );
																																foreach ( $values as $value ) {
																																	$attributeListValue = $modelAttributeListValue->getById ( $value );
																																	if ($attributeListValue ['unit_price']) {
																																		echo '<div>' . $this->escape ( $attributeListValue ['attribute_value'] ) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape ( number_format ( $attributeListValue ['unit_price'], 2 ) ) . ')</b></div>';
																																	} else {
																																		echo '<div>' . $this->escape ( $attributeListValue ['attribute_value'] ) . '</div>';
																																	}
																																}
																															} else {
																																$attributeListValue = $modelAttributeListValue->getById ( $value ['value'] );
																																if ($attributeListValue ['unit_price']) {
																																	echo $this->escape ( $attributeListValue ['attribute_value'] ) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape ( number_format ( $attributeListValue ['unit_price'], 2 ) ) . ')</b>';
																																} else {
																																	echo $this->escape ( $attributeListValue ['attribute_value'] );
																																}
																															}
																														} else {
																															echo nl2br ( $this->escape ( $value ['value'] ) );
																														}
																														?>
                                                                </span>
									</div>
                                                            <?php
																													}
																													break;
																											}
																										}
																										?>
                                        </td>
								<td><?php echo $this->escape($unit_price); ?></td>
								<td><?php echo $this->escape($qty); ?></td>
								<td><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
							</tr>
                                <?php endforeach; ?>
                                <?php
																									$totalAmountDetails = $modelBooking->getTotalAmountBookingDetails ( $this->booking ['booking_id'] );
																									$rowspan = 9;
																									$rowspan = ! empty ( $totalAmountDetails ['call_out_fee'] ) ? $rowspan + 1 : $rowspan;
																									?>
                                <tr>
								<td colspan="2" rowspan="<?php echo $rowspan; ?>"></td>
								<td style="padding: 10px;">Sub Total:</td>
								<td style="padding: 10px;">
                                        <?php echo $this->escape(number_format($totalAmountDetails['sub_total'], 2)); ?>
                                    </td>
							</tr>
                                <?php if ($totalAmountDetails['call_out_fee']): ?>
                                    <tr
								style="border-bottom: 1px solid #A1A1A1;">
								<td style="padding: 10px;">Call Out Fee:</td>
								<td style="padding: 10px;">
                                            <?php echo $this->escape(number_format($totalAmountDetails['call_out_fee'], 2)); ?>
                                        </td>
							</tr>
                                <?php endif; ?>
                                <tr>
								<td style="padding: 10px;">Discount:</td>
								<td style="padding: 10px;">
                                        <?php echo $this->escape(number_format($totalAmountDetails['total_discount'], 2)); ?>
                                    </td>
							</tr>
							<tr style="border-bottom: 1px solid #A1A1A1;">
								<td style="padding: 10px;">
                                        GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                                    </td>
								<td style="padding: 10px;">
                                        <?php echo $this->escape(number_format($totalAmountDetails['gst'], 2)); ?>
                                    </td>
							</tr>
							<tr>
								<td style="padding: 10px;">Total:</td>
								<td style="padding: 10px;">
                                        $<?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?>
                                    </td>
							</tr>
							<tr style="border-bottom: 1px solid #A1A1A1;">
								<td style="padding: 10px;">Refund:</td>
								<td style="padding: 10px;">
                                        (-) <?php echo $this->escape(number_format($totalAmountDetails['refund'], 2)); ?>
                                    </td>
							</tr>
							<tr>
								<td style="padding: 10px;">Total Amount:</td>
								<td style="padding: 10px;">
                                        $<?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>
                                    </td>
							</tr>
							<tr style="border-bottom: 1px solid #A1A1A1;">
								<td style="padding: 10px;">Paid Amount:</td>
								<td style="padding: 10px;">
                                        (-) <?php echo $this->escape(number_format($totalAmountDetails['paid_amount'], 2)); ?>
                                    </td>
							</tr>
							<tr style="border-bottom: 1px solid #A1A1A1;">
								<td style="padding: 10px;">Balance Due:</td>
								<td style="padding: 10px;">
                                        $<?php echo $this->escape(number_format($totalAmountDetails['balance_due'], 2)); ?>
                                    </td>
							</tr>
							<tr>
								<td style="padding: 10px;"></td>
								<td style="padding: 10px;"></td>
							</tr>
						</table>
                        <?php endif; ?>
                    </div>
				</div>
			</div>

            <?php
												$view = new Zend_View ();
												$view->setScriptPath ( APPLICATION_PATH . '/modules/default/views/scripts/common-views' );
												
												$view->bookingId = $this->bookingId;
												$view->view = 'booking';
												
												echo $view->render ( 'tabs.phtml' );
												?>

        </td>
		<td class="right_side">
			<div class="right_side_cont">

                <?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                    <div class="btn_cont">
					<a
						href="<?php echo $this->escape($this->url(array(), 'bookingAdd')); ?>"
						class="btn_a">
						<div class="text_pos">New Booking</div>
					</a>
				</div>
                <?php endif; ?>
                <?php
																$color = '#A1A1A1';
																switch ($this->booking ['convert_status']) {
																	case 'booking' :
																		$color = '#A1A1A1';
																		break;
																	
																	case 'estimate' :
																		$color = '#4F8BC3';
																		break;
																	
																	case 'invoice' :
																		$color = '#BCD68F';
																		break;
																}
																?>
                <?php if (!empty($this->isWorkOrder)): ?>
                    <div class="typeprice"
					style="background-color: red; color: white;">work Order Attachment
					File Required</div>
                <?php endif; ?>
                <div class="typeprice" style="background-color: <?php echo $this->escape($color); ?>;">
					<div id="convert_status" class="whitefont"><?php echo $this->escape(ucfirst($this->booking['convert_status'])) ?></div>
					<div class="whitefont largefont"><?php echo $this->escape("$" . number_format($this->booking['qoute'], 2)) ?></div>
				</div>
                <?php if (!$this->booking['is_deleted']): ?>
                    <?php if (CheckAuth::checkCredentialOr(array('bookingLabel', 'convertBookingToInvoice', 'bookingEdit', 'PaymentAdd', 'bookingPaymentList', 'convertBookingToEstimate'))): ?>
                        <div class="gray-border-bottom">
					<ul class="links">
						<li class="edit">
                                    <?php if (CheckAuth::checkCredential(array('bookingEdit')) && $this->isAccepted): ?>
                                        <a
							href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingEdit')); ?>">Edit</a>
                                    <?php endif; ?>
                                </li>
						<li class="add-payment">
                                    <?php if (CheckAuth::checkCredential(array('PaymentAdd')) && $this->isAccepted): ?>
                                        <a
							href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'checkStatusToAddPayment')); ?>"
							onclick="return confirm('are you sure you want to convert this Booking to invoice?\nso you add the payment ');">Add
								Payment</a>
                                    <?php endif; ?>
                                </li>
						<li class="approve-payment">
                                    <?php if (CheckAuth::checkCredential(array('bookingPaymentList'))): ?>
                                        <a
							href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'bookingPaymentList')); ?>">View
								Payments</a>
                                    <?php endif; ?>
                                </li>
						<li class="add-payment">
                                    <?php if (CheckAuth::checkCredential(array('refundAdd')) && $this->booking['paid_amount'] > 0): ?>
                                        <a
							href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'refundAdd')); ?>"
							onclick="return confirm('are you sure you want to convert this Booking to invoice?\nso you add the Refund ');">Add
								Refund</a>
                                    <?php endif; ?>
                                </li>
						<li class="approve-payment">
                                    <?php if (CheckAuth::checkCredential(array('bookingRefundList'))): ?>
                                        <a
							href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'bookingRefundList')); ?>">View
								Refunds</a>
                                    <?php endif; ?>
                                </li>
                                <?php if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $this->isAccepted): ?>
                                    <?php if ($this->booking['convert_status'] != 'estimate' && $this->booking['convert_status'] != 'invoice'): ?>
                                        <li class="convert-to-open"><a
							href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'convertBookingToEstimate')); ?>','100','300','Convert To Estimate');">Convert
								to Estimate</a></li>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $this->isAccepted): ?>
                                    <?php if ($this->booking['convert_status'] != 'invoice'): ?>
                                        <li class="convert-to-open"><a
							href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'convertBookingToInvoice')); ?>">Convert
								to Invoice</a></li>
                                    <?php endif; ?>  
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('bookingLabel'))): ?>
                                    <li class="labels"><a
							href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingSelectLabel')); ?>','250','200','Booking Label');"
							class="details_info_opt">Label</a></li>
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('setContractorShare'))): ?>
                                    <li class="edit"><a
							href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id'], 'flag' => 0), 'setContractorShare')); ?>','450','600','Contractor Share');"
							class="details_info_opt">Set Technician Share</a></li>
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                    <li class="convert-to-open"><a
							class="details_info_opt" href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $this->booking['booking_id']), 'resendAdminServices')) ?>','200','400');">Push
								to Technician Calender</a></li>
                                <?php endif; ?>  
                            </ul>
				</div>    
                    <?php endif; ?>

                <div class="gray-border-bottom">
					<ul class="links">
						<li class="navigation">
                                <?php
																	$bookingAddress = $modelBookingAddress->getByBookingId ( $this->booking ['booking_id'] );
																	$nearestBookingParams = array ();
																	$nearestBookingParams [] = 'unit_lot_number=' . urlencode ( $bookingAddress ['unit_lot_number'] );
																	$nearestBookingParams [] = 'street_number=' . urlencode ( $bookingAddress ['street_number'] );
																	$nearestBookingParams [] = 'street_address=' . urlencode ( $bookingAddress ['street_address'] );
																	$nearestBookingParams [] = 'suburb=' . urlencode ( $bookingAddress ['suburb'] );
																	$nearestBookingParams [] = 'state=' . urlencode ( $bookingAddress ['state'] );
																	$nearestBookingParams [] = 'postcode=' . urlencode ( $bookingAddress ['postcode'] );
																	$nearestBookingParams [] = 'stpartdate=' . urlencode ( date ( 'Y-m-d', strtotime ( $this->booking ['booking_start'] ) ) );
																	$nearestBookingParams [] = 'stparttime=' . urlencode ( date ( 'H:i:s', strtotime ( $this->booking ['booking_start'] ) ) );
																	$nearestBookingParams [] = 'city_id=' . urlencode ( $this->booking ['city_id'] );
																	$nearestBookingParams [] = 'booking_id=' . urlencode ( $this->booking ['booking_id'] );
																	$nearestBookingParams = implode ( "&", $nearestBookingParams );
																	?>
                                <a href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>','500','900','Nearest Bookings','<?php echo $this->escape($nearestBookingParams) ?>');">Nearest
								Booking</a>
						</li>
						<li class="navigation">
                                <?php
																	$findAvailabilityParams = array ();
																	$findAvailabilityParams [] = 'unit_lot_number=' . urlencode ( $bookingAddress ['unit_lot_number'] );
																	$findAvailabilityParams [] = 'street_number=' . urlencode ( $bookingAddress ['street_number'] );
																	$findAvailabilityParams [] = 'street_address=' . urlencode ( $bookingAddress ['street_address'] );
																	$findAvailabilityParams [] = 'suburb=' . urlencode ( $bookingAddress ['suburb'] );
																	$findAvailabilityParams [] = 'state=' . urlencode ( $bookingAddress ['state'] );
																	$findAvailabilityParams [] = 'postcode=' . urlencode ( $bookingAddress ['postcode'] );
																	$findAvailabilityParams [] = 'booking_id=' . urlencode ( $this->booking ['booking_id'] );
																	$findAvailabilityParams [] = 'stpartdate=' . urlencode ( date ( 'Y-m-d', strtotime ( $this->booking ['booking_start'] ) ) );
																	$findAvailabilityParams [] = 'city_id=' . urlencode ( $this->booking ['city_id'] );
																	foreach ( $this->bookingServices as $service ) {
																		$findAvailabilityParams [] = 'services[]=' . urlencode ( $service ['service_id'] );
																	}
																	$findAvailabilityParams = implode ( "&", $findAvailabilityParams );
																	?>
                                <a href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>','500','1000','Find Availability','<?php echo $this->escape($findAvailabilityParams) ?>');">Find
								Availability</a>
						</li>
					</ul>
				</div>

				<div class="gray-border-bottom">
                    <ul class="links">
						<?php if($this->booking['pause_emails']){ ?>
						<li class="resume">
							<a onClick="return confirm('Are you sure you want to resume emails of this booking?')" href="<?php echo $this->url(array('id' => $this->booking['booking_id'],'process'=>'resume'), 'pauseResumeBookingEmails'); ?>" >Resume Emails</a>						
						</li>
						<?php }else{ ?>
						<li class="pause">
							<a onClick="return confirm('Are you sure you want to pause emails of this booking?')" href="<?php echo $this->url(array('id' => $this->booking['booking_id'],'process'=>'pause'), 'pauseResumeBookingEmails'); ?>" >Pause Emails</a>						
						</li>
						<?php } ?>
                    </ul>
                </div>
				
				
                    <?php if (CheckAuth::checkCredentialOr(array('sendEmail', 'sendBookingAsEmail', 'sendWorkOrderRequestEmail', 'downloadBooking', 'sendBookingAsSms'))): ?>
                        <div class="gray-border-bottom">
					<h2 style="margin: 15px 0 0 0;">Customer</h2>
					<ul class="links" style="margin-top: 5px;">
						<li class="print"><a href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingCustomerPreview')); ?>','750','800','Booking Customer Previrew');"
							class="details_info_opt">Preview Booking</a></li>
						<li class="send-email">
                                    <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
                                        <a href="javascript:;"
							onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['customer_id'], 'type' => 'booking', 'reference_id' => $this->booking['booking_id']), 'sendEmail')); ?>');">Send
								Email</a>
                                    <?php endif; ?>
                                </li>
                                <?php
																		$onHold = $modelBookingStatus->getByStatusName ( 'ON HOLD' );
																		if ($this->booking ['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential ( array (
																				'sendBookingAsEmail' 
																		) )) :
																			?>
                                    <li class="email"><a
							href="javascript:;"
							onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder
								On Hold</a></li>
                                <?php endif; ?>
                                <?php
																		$tentative = $modelBookingStatus->getByStatusName ( 'TENTATIVE' );
																		if ($this->booking ['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential ( array (
																				'sendBookingAsEmail' 
																		) )) :
																			?>
                                    <li class="email"><a
							href="javascript:;"
							onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder
								Tentative</a></li>
                                <?php endif; ?>
                                <li class="email">
                                    <?php if (CheckAuth::checkCredential(array('sendBookingAsEmail'))): ?>
                                        <a href="javascript:;"
							onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendBookingAsEmail')); ?>')">Email
								Booking</a>
                                    <?php endif; ?>
                                </li>
						<li class="email">
                                    <?php if (CheckAuth::checkCredential(array('sendWorkOrderRequestEmail')) && !empty($this->customerType['is_work_order'])): ?>
                                        <a href="javascript:;"
							onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendWorkOrderRequestEmail')); ?>')">Request
								Work Order</a>
                                    <?php endif; ?>
                                </li>
						<li class="email">
                                    <?php if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))): ?>
                                        <?php $customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($this->booking['booking_id'], $this->booking['status_id']); ?>
                                        <?php if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1): ?>
                                            <a href="javascript:;"
							onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendRequestBookingFeedback')); ?>')">Request
								Feedback</a>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </li>
						<li class="export-as-pdf">
                                    <?php if (CheckAuth::checkCredential(array('downloadBooking'))): ?>
                                        <a
							href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'downloadBooking')); ?>">Export
								as PDF</a>
                                    <?php endif; ?>
                                </li>
						<li class="send-email">
                                    <?php if (CheckAuth::checkCredential(array('sendBookingAsSms'))): ?>
                                        <a href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendBookingAsSms')); ?>', 340, 790, 'SMS Booking')">SMS
								Booking</a>
                                    <?php endif; ?>
                                </li>
					</ul>
				</div>  
                    <?php endif; ?>

                    <?php if (CheckAuth::checkCredentialOr(array('sendBookingAsEmailToContractor', 'sendReminderUpdateBookingToContractor', 'downloadContractorBooking', 'sendBookingAsSmsToContractor'))): ?>
                        <div class="gray-border-bottom">
					<h2 style="margin: 15px 0 0 0;">Technician</h2>
					<ul class="links" style="margin-top: 5px;">
						<li class="print"><a href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingPreview')); ?>','850','800','Booking Previrew');"
							class="details_info_opt">Preview Booking</a></li>
						<li class="email">
                                    <?php if (CheckAuth::checkCredential(array('sendBookingAsEmailToContractor'))): ?>
                                        <a href="javascript:;"
							onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendBookingAsEmailToContractor')); ?>')">Email
								Booking</a>
                                    <?php endif; ?>
                                </li>
						<li class="email">
                                    <?php
																		$inProcess = $modelBookingStatus->getByStatusName ( 'IN PROGRESS' );
																		$awaitingUpdate = $modelBookingStatus->getByStatusName ( 'AWAITING UPDATE' );
																		?>
                                    <?php if (CheckAuth::checkCredential(array('sendReminderUpdateBookingToContractor')) && ($this->booking['status_id'] == $inProcess['booking_status_id'] || $awaitingUpdate['booking_status_id'])): ?>
                                        <a href="javascript:;"
							onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendReminderUpdateBookingToContractor')); ?>')">Request
								Update</a>
                                    <?php endif; ?>
                                </li>
						<li class="export-as-pdf">
                                    <?php if (CheckAuth::checkCredential(array('downloadContractorBooking'))): ?>
                                        <a
							href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'downloadContractorBooking')); ?>">Export
								as PDF</a>
                                    <?php endif; ?>
                                </li>
						<li class="send-email">
                                    <?php if (CheckAuth::checkCredential(array('sendBookingAsSmsToContractor'))): ?>
                                        <a href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendBookingAsSmsToContractor')); ?>', 340, 790, 'SMS Booking To Technician')">SMS
								Booking</a>
                                    <?php endif; ?>
                                </li>
					</ul>
				</div>  
                    <?php endif; ?>
                    <div>
					<ul class="links">
						<li class="make-recurring">
                                <?php if (CheckAuth::checkCredential(array('complaintAdd'))): ?>
                                    <a href="javascript:;"
							onclick="AddEditComplaint('<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'complaintAdd')); ?>');">Add
								Complaint</a>
                                <?php endif; ?>
                            </li>
						<li class="make-recurring">
                                <?php if (CheckAuth::checkCredential(array('attachment'))): ?>
                                    <a
							href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingAttachment')); ?>"
							class="details_info_opt">Files Attachment</a>
                                <?php endif; ?>
                            </li>
						<li class="delete">
                                <?php if (CheckAuth::checkCredential(array('bookingDelete')) or $this->canDelete): ?>
                                    <a
							href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingDelete')); ?>"
							onclick="return confirm('are you sure you want to delete this Booking?');">Delete</a>
                                <?php endif; ?>
                            </li>
					</ul>
				</div> 
                <?php else: ?>
                    <div>
					<ul class="links">
						<li class="undelete">
                                <?php if (CheckAuth::checkCredential(array('bookingUndelete'))): ?>
                                    <a
							href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingUndelete')); ?>"
							onclick="return confirm('are you sure you want to restore this Booking?');">UnDelete</a>
                                <?php endif; ?>
                            </li>
					</ul>
				</div>
                <?php endif; ?>
                <div class="createdTimeDiv">
					Created On <br />
                    <?php echo $this->escape(getDateFormating($this->booking['created'])); ?>
                </div>
			</div>
		</td>
	</tr>
</table>

<script>
    
    function AddEditComplaint(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=270&width=500');
        });
    }
    
    function sendEmail(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=510&width=800');
        });
    }
    
    function disableContractorShare(contractor_id){
        $('#contractor_shares['+contractor_id+']').val(0);
    }
    
    
    function change_follow_date(booking_id){
       
        var value = $('#follow_date_value_'+booking_id).html().trim();
        $('#follow_date_value_'+booking_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="follow_date_'+booking_id+'" readonly="readonly" value="'+value+'" />');
        $('#follow_date_button_'+booking_id).css('padding-top','2px');
        $('#follow_date_button_'+booking_id).html('<a href="javascript:;" onclick="save_follow_date('+booking_id+')" class="a_link">Save</a>');
        $('#follow_date_'+booking_id).datetimepicker({
            ampm: true,
            timeFormat: 'hh:mm tt',
            dateFormat: 'MM dd ,yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    }
    
    function save_follow_date(booking_id){
        $('#follow_date_button_'+booking_id).css('padding-top','0');
        $('#follow_date_button_'+booking_id).html('<img src="/pic/loading-4.gif">');
        $('#label_'+booking_id).remove();
        
        var follow_date = $('#follow_date_'+booking_id).val();
        if(follow_date != ''){
            $.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array(), 'modifyFollowDate')); ?>',
                data:{
                    'follow_date':follow_date,
                    'booking_id':booking_id
                },
                success: function(result) {
                    if(result == '1'){
                        $('#follow_date_value_'+booking_id).html(follow_date);
                        $('#follow_date_button_'+booking_id).html('<a href="javascript:;" onclick="change_follow_date('+booking_id+')" class="a_link">Edit</a>');
                    }
                }
            
            });
        }else{
            $('#follow_date_value_'+booking_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="follow_date_'+booking_id+'" readonly="readonly" />');
            $('#follow_date_button_'+booking_id).css('padding-top','2px');
            $('#follow_date_button_'+booking_id).html('<a href="javascript:;" onclick="save_follow_date('+booking_id+')" class="a_link">Save</a>');
            $('#follow_date_container_'+booking_id).after('<label id="label_'+booking_id+'"class="error">Field required</label>');
            $('#follow_date_'+booking_id).datetimepicker({
                ampm: true,
                timeFormat: 'hh:mm tt',
                dateFormat: 'MM dd ,yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true
            });
        }
    }
</script>