<div class="ibox no-margin-b">
 <?php if ($this->data): ?>
 <div>
 <input type="hidden" name="sid_incoming" id="sid_incoming" value="<?php echo $this->sid_incoming; ?>"></div>
  <table class="table table-bordered  responsive-table" id="recent_sms">
            <thead>
                <tr>
					<th>User Type</th>
					<th>From</th>
					<th>To</th>
					<th>Message</th>
					<th>Select</th>
					
                </tr>
                </thead>
                <tbody>
                <?php 
				foreach ($this->data as $sms): ?>
                            <tr >
			                 <td>
							 <?php 
							 $user_type;
							 if (!empty($sms['reference_id'])){
							 if($sms['reference_id']== -1)
							 $user_type="contractor";
							 else if($sms['reference_id']== -2)
							 $user_type="customer";
							 else{
							$modelSmsTemplate = new Model_SmsTemplate();
							 $modelSmsTemplateinfo=$modelSmsTemplate->getById($sms['reference_id']);
							 $user_type=$this->escape($modelSmsTemplateinfo['type']);
							 }
							 echo $user_type;
							 
							 }
							
							 ?>

							  </td>
                                <td> 
                                 <?php echo $this->escape($sms['from']) ?>

                                </td>
                                <td>
                                 <?php echo $this->escape($sms['to']) ?>
                                </td>
								<td>
                                <?php echo $this->escape($sms['message']) ?>
                                    
                                </td>
                                <td>
								<a href="<?php echo $this->escape($this->url(array('sid' => $sms['id'],'incoming_sid'=>$this->sid_incoming), 'convertSmsDependOnOtherSms')); ?>" class="btn btn-info" role="button">Select</a>

                                </td>
					           
                            </tr>
                        <?php endforeach; ?>
                </tbody>
            </table>
			<div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no Sms.</div>
                <?php endif; ?>

</div>
