<style>
    .available-tech-box{
        float:left;
        margin-left: 10px;
    }

</style>

<?php if (CheckAuth::getRoleName() != 'customer') { ?>
    <?php
    $contractor_pic = new Model_User();
    if ($this->contractorDistances) {
        ?>
        <div class="ibox float-e-margins  fadeInRight" >

            <div class="ibox-title">
                <b>Available Technicians</b>
            </div>

            <div class="ibox-content" style='overflow:hidden;'>
                <div>

                    <?php foreach ($this->contractorDistances as $contractorDistance): ?>
                        <div class='col-md-6' style="text-align:center;margin-top:10px">

                            <?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))) { ?>
                                <a class="black_color" target="_blank" href="<?php echo $this->escape($this->url(array('contractor_id' => $contractorDistance['contractor_id']), 'settingsContractorInfoList')); ?>"  >
                                    <?php
                                    $contractor_inf3 = $contractor_pic->getById($contractorDistance['contractor_id']);
                                    $modelContractorRate = new Model_ContractorRate();
                                    $contractorRate = $modelContractorRate->getRateByContractor($contractorDistance['contractor_id']);
                                    if ($contractor_inf3['avatar']):
                                        echo '<img class="contractor_pic_small" src="/uploads/user_pic/thumb_small/' . $contractor_inf3['avatar'] . '"/>';
                                    else:
                                        echo'<img class="contractor_pic_small" src="/pic/contractor_pic.png" width="34px" height="34px">';
                                    endif;
                                    ?>
                                    <b><?php echo $contractorDistance['name']; ?></b>
                                     
                                         
                                </a>
                            <div class="star-rating-<?= $contractorDistance['contractor_id'] ?>" > 
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="contractor_rate" class="rating-value" value="<?= round($contractorRate); ?>">
                                    </div>
                                    <script>
                                        var $star_rating = $('.star-rating-' +<?= $contractorDistance['contractor_id'] ?> + ' .fa');
                                        console.log($star_rating);
                                        var SetRatingStar = function () {
                                            return $star_rating.each(function () {
                                                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                                                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                                                } else {
                                                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                                                }
                                            });
                                        };

                                        $star_rating.on('click', function () {
                                            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
                                            return SetRatingStar();
                                        });

                                        SetRatingStar();
                                    </script>
                            <?php } else { ?>
                                <b><?php echo $contractorDistance['name']; ?></b>
                            <?php } //view calendar   ?>
                            <?php $calendar_link = 'https://www.google.com/calendar/embed?src=' . $contractorDistance['email1']; ?>																	

                            <a target="_blank" class="a_link" href="#" onclick="window.open('<?php echo $calendar_link; ?>', '_blank');" >
                                <img src="/pic/gc.png"/>
                            </a>
                            <?php // our calendar    ?>
                            <?php $calendar_link = '/calendar?status=current&contractor=' . $contractorDistance['contractor_id']; ?>
                            <a target="_blank" class="a_link" href="#" onclick="window.open('<?php echo $calendar_link; ?>', '_blank')" >
                                <i class="fa fa-calendar"></i> 
                            </a>



                            <?php echo number_format($contractorDistance['distance'], 2); ?> KM
                           
                        </div>
                    <?php endforeach; ?>



                </div>
            </div>
        </div>
        <?php
    }
}
?>