<style>
    .available-tech-box{
        float:left;
        margin-left: 10px;
    }

</style>

<?php if (CheckAuth::getRoleName() != 'customer') { ?>
    <?php
    $contractor_pic = new Model_User();
    if ($this->contractorDistances) {
	foreach ($this->contractorDistances as $key=>$contractorDistance){
	  $modelContractorRate = new Model_ContractorRate();
      $contractorRate = $modelContractorRate->getRateByContractor($contractorDistance['contractor_id']);
	  $this->contractorDistances[$key]['contractor_rate'] = $contractorRate;
      $distance[$key]  = $contractorDistance['distance'];
      $rate[$key] = $contractorRate;
	}

		// Sort the data with rate descending, distance ascending
		array_multisort($distance, SORT_ASC, $rate, SORT_DESC, $this->contractorDistances);


	
        ?>
        <div class="ibox float-e-margins  fadeInRight" >

            <div class="ibox-title">
                <b>Available Technicians</b>
            </div>

            <div class="ibox-content" style='overflow:hidden;padding:5px; margin:0px;'>
			<div class="" style="padding:0px; margin:0px;">
            <table class="table table-hover" v-align="middle" width="100%" style="text-align:center; vertical-align:middle;">
   
			  <tr class="info" style="font-weight:bold;">
			  <td width="1%" style="vertical-align:middle;"></td>
			  <td width="49%" align="left" style="vertical-align:middle;">Technician</td>
			  <td width="30%" style="vertical-align:middle;">Distance (KM)</td>
			  <td width="20%" style="vertical-align:middle;" colspan="2">Calendar</td>
			  </tr>
			  
                    <?php foreach ($this->contractorDistances as $contractorDistance): ?>
					<tr>
					<td style="vertical-align:middle;">
					<?php 
					$contractor_inf3 = $contractor_pic->getById($contractorDistance['contractor_id']);
                                    $contractorRate = $contractorDistance['contractor_rate'];
									$dir = get_config('user_picture_path').$contractor_inf3['avatar'];
									$dir_default_pic = get_config('user_default_picture_path');
									
					if (CheckAuth::checkCredential(array('settingsContractorInfoList'))) { ?>
                                <a class="black_color" target="_blank" href="<?php echo $this->escape($this->url(array('contractor_id' => $contractorDistance['contractor_id']), 'settingsContractorInfoList')); ?>"  >
                                    <?php
                                    if (isset($contractor_inf3['avatar']) && !empty($contractor_inf3['avatar'])):
                                        echo '<img class="contractor_pic_small" src="'.$this->baseUrl($dir).'" width="30" height="30"/>';
                                    else:
                                        echo'<img class="contractor_pic_small" src="'.$this->baseUrl($dir_default_pic).'" width="30" height="30">';
                                    endif;
                                    ?>
                                </a>
							<?php }
							else { 
							if (isset($contractor_inf3['avatar']) && !empty($contractor_inf3['avatar'])):
                                        echo '<img class="contractor_pic_small" src="'.$this->baseUrl($dir).'" width="35" height="35"/>';
                                    else:
                                        echo'<img class="contractor_pic_small" src="'.$this->baseUrl($dir_default_pic).'" width="35" height="35">';
                                    endif;
							}
							
							?>
					</td>
                            <td align="left" style="vertical-align:middle;">
							<table>
							<tr>
							<td>
                            <?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))) { ?>
                                <a class="black_color" target="_blank" href="<?php echo $this->escape($this->url(array('contractor_id' => $contractorDistance['contractor_id']), 'settingsContractorInfoList')); ?>"  >
                                    <?php
                                    $contractor_inf3 = $contractor_pic->getById($contractorDistance['contractor_id']);
                                    $modelContractorRate = new Model_ContractorRate();
                                    $contractorRate = $modelContractorRate->getRateByContractor($contractorDistance['contractor_id']);
									$dir = get_config('user_picture_path').$contractor_inf3['avatar'];
									$dir_default_pic = get_config('user_default_picture_path');
                                  ?>
                                    <b><?php if(isset($contractor_inf3['display_name']) && !empty($contractor_inf3['display_name'])) {echo $contractor_inf3['display_name'];} else {echo $contractorDistance['name'];} ?></b>
                                     
                                         
                                </a>
							<?php }
							else { if(isset($contractor_inf3['display_name']) && !empty($contractor_inf3['display_name'])) {echo $contractor_inf3['display_name'];} else {echo $contractorDistance['name'];} }
							
							?>
							</td>
							</tr>
							<tr>
							<td>
							<?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))) { ?>
                            <div class="star-rating-<?= $contractorDistance['contractor_id'] ?>" style="vertical-align:middle;"> 
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="contractor_rate" class="rating-value" value="<?= round($contractorRate); ?>">
                                    </div>
                                    <script>
                                        var $star_rating = $('.star-rating-' +<?= $contractorDistance['contractor_id'] ?> + ' .fa');
                                        console.log($star_rating);
                                        var SetRatingStar = function () {
                                            return $star_rating.each(function () {
                                                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                                                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                                                } else {
                                                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                                                }
                                            });
                                        };

                                        $star_rating.on('click', function () {
                                            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
                                            return SetRatingStar();
                                        });

                                        SetRatingStar();
                                    </script>
                            <?php }  ?>
							</td>
							</tr>
							</table>
							</td>
							
							<td style="vertical-align:middle;">
								<?php echo number_format($contractorDistance['distance'], 2); ?>
							</td>
							<td style="vertical-align:middle;">
								<?php // our calendar    ?>
								<?php $calendar_link = '/calendar?status=current&contractor=' . $contractorDistance['contractor_id']; ?>
								<a target="_blank" class="a_link" href="#" onclick="window.open('<?php echo $calendar_link; ?>', '_blank')" >
									<i class="fa fa-calendar" style="font-size:20px;"></i> 
								</a>
							</td>
							<td style="vertical-align:middle;">
									 <?php  //view calendar   ?>
								<?php $calendar_link = 'https://www.google.com/calendar/embed?src=' . $contractorDistance['email1']; ?>																	

								<a target="_blank" class="a_link" href="#" onclick="window.open('<?php echo $calendar_link; ?>', '_blank');" >
									<img src="/pic/gc.png" width="20" height="20"/>
								</a>
								</td>
								
						   
						   </tr>
						  
						   

                    <?php endforeach; ?>


				</table>
              </div>
            </div>
        </div>
        <?php
    }
}
?>