	<div class="ibox float-e-margins">
							 
					<?php if ($this->type == 'booking') : ?>
            		<div class="ibox-title">
									Booking Address
							</div>
		<?php else : ?>
                   <!---<h3>Inquiry Address</h3>--->
       <?php endif; ?>
	<div class="ibox-content">
		 <div class="form-group">
		  <label class="col-md-2 control-label">Unit / Lot No.</label>
		  <div class="col-lg-6">
	<input class="text_input form-control" name="unit_lot_number"   type="text" value="<?php echo $this->escape(isset($this->customer['unit_lot_number']) ? $this->customer['unit_lot_number'] : "") ?>" />
		  </div>		 
		 </div>
		 
		 <div class="form-group">
		    <label class="col-lg-2 control-label">Street Number</label>
			<div class="col-lg-6">
    <input class="text_input required form-control" name="street_number"   type="text" value="<?php echo $this->escape(isset($this->customer['street_number']) ? $this->customer['street_number'] : "") ?>" />

			</div>
		 </div>
		 
		 <div class="form-group">
		  <label class="col-lg-2 control-label">Street Name</label>
			<div class="col-lg-6">
	<input class="text_input required form-control" name="street_address"   type="text" value="<?php echo $this->escape(isset($this->customer['street_address']) ? $this->customer['street_address'] : "") ?>" />
			</div>
		 </div>
		 
		 <div class="form-group">
		  <label class="col-lg-2 control-label">Suburb</label>
			<div class="col-lg-6">
	<input class="text_input required form-control" name="suburb"   type="text" value="<?php echo $this->escape(isset($this->customer['suburb']) ? $this->customer['suburb'] : "") ?>" />
			</div>
		 </div>
		 
		 <div class="form-group">
		  <label class="col-lg-2 control-label">Post code</label>
			<div class="col-lg-6">
    <input class="text_input required form-control" name="postcode"   type="text" value="<?php echo $this->escape(isset($this->customer['postcode']) ? $this->customer['postcode'] : "") ?>" />
			</div>
		 </div>
		 
		 <div class="form-group">
		  <label class="col-lg-2 control-label">P.O. box</label>
		   <div class="col-lg-6">
		  	<input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->customer['po_box']) ? $this->customer['po_box'] : "") ?>" />	
		 </div>
		 </div>
		 </div>
		 </div>
		 
		 