  
  <div class="form-group">
	<label class="col-lg-3 control-label">Why <?php echo $this->escape(ucwords(strtolower($this->bookingStatus['name']))); ?> ?</label>
	<div class="col-lg-9">
        <textarea class="long_text required btextarea form-control"  id="why" name="why"></textarea>
	 </div>
  </div>