<?php
$modelAuthRole = new Model_AuthRole();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$loggedUser = CheckAuth::getLoggedUser();
$dateTimeObj= get_settings_date_format();//Rand
$JsDateFormat= dateFormat_zend_to_js($dateTimeObj['date_format']);
?>
<div class="form-group">
	<label class="col-lg-2 control-label">Why <?php echo $this->escape(ucwords(strtolower($this->bookingStatus['name']))); ?> ?</label>
	<div class="col-lg-6">
        <textarea class="long_text btextarea form-control"  id="why" name="why"></textarea>
	 </div>
  </div>
  
  <?php if($contractorRoleId != $loggedUser['role_id'] ){?> 
  <div class="form-group">
	<label class="col-lg-2 control-label">To Follow</label>
	<div class="col-lg-6" id="dateOn">
                      <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                     <input name="is_to_follow" type="hidden" value="1"/>
                     <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required form-control"  readonly="readonly"  value="" />
		                   </div>
					 </div>
  </div>
  <?php } ?>
  
  <?php // here get all questions of this status
if($this->questions){
	foreach($this->questions as $question){
?>


	<?php if($question['question_type'] == 'text'){ ?>
	<div class="form-group">
	 <div class="col-md-2"></div>
	 <div class="col-md-6">
	  	<textarea class="long_text required form-control"  id="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" ><?php echo $question['answer_text']; ?></textarea>
	 </div>
	</div>
	<?php } ?>
	<?php if($question['question_type'] == 'boolean'){ ?>
	<div class="form-group">
	 <label class="col-md-2 control-label"><?php echo $question['question_text'] ?></label>
	 <div class="col-md-6">
	         <label style="margin-left: 6px;" >Yes</label>
			 <input type="radio" class="required" id="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" value="yes" <?php if($question['answer_text'] == 'yes'){ ?> checked <?php } ?> />
			 <label style="margin-left: 6px;" >NO</label>
			 <input type="radio" class="required" id="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" value="no" <?php if($question['answer_text'] == 'no'){ ?> checked <?php } ?> />

	 </div>
	</div>

			 	<?php } ?>
	<?php if($question['question_type'] == 'date'){ ?>
	<div class="form-group">
	   <label class="col-md-2 control-label"><?php echo $question['question_text'] ?></label>
	   <div class="col-md-6">
	     <input <?php if($contractorRoleId != $loggedUser['role_id'] ){?> disabled <?php } ?> id="date_input" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>"  class="form-control" type="text" value="<?php echo $question['answer_text']; ?>" />

	   </div>
	</div>
        
	<?php } ?>

<?php
}
}
?>

  <script type="text/javascript">
    $(document).ready(function() {
	$('#dateOn .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'<?=$JsDateFormat?>'//'yyyy-mm-dd'
            });	
    });
</script>