	<div class="ibox float-e-margins">
							 
					<?php if ($this->type == 'booking') : ?>
            		<div class="ibox-title">
									Booking Address
					</div>
		<?php else : ?>
                   <!---<h3>Inquiry Address</h3>--->
       <?php endif; ?>
	<div class="ibox-content">
	
	
	
							<div class="form-group">
									
										<label class="col-md-2 control-label">
												<i class="fa fa-map-marker fa-lg">&nbsp;</i>
										</label>
									
										<div class="col-md-6">
										
											<div class="inline col-md-3 col-xs-3 no-padding">
												
													<input class="text_input form-control" placeholder="Unit / Lot No." name="unit_lot_number"   type="text" value="<?php echo $this->escape(isset($this->customer['unit_lot_number']) ? $this->customer['unit_lot_number'] : "") ?>" />
												
											</div>
											
											<div class="inline col-md-3 col-xs-3  padding-left-no-right">
												
													 <input class="text_input required form-control" placeholder="Street Number" name="street_number"   type="text" value="<?php echo $this->escape(isset($this->customer['street_number']) ? $this->customer['street_number'] : "") ?>" />
											</div>
											
											<div class="inline col-md-6 col-xs-6 padding-left-no-right">
												
													<input class="text_input required form-control" name="street_address" placeholder="Street Name"   type="text" value="<?php echo $this->escape(isset($this->customer['street_address']) ? $this->customer['street_address'] : "") ?>" />
											
											</div>
										
										</div>
							</div>
	
	
							<div class="form-group">
										
										<div class="col-md-6 col-md-offset-2">
												
												<div class="inline col-md-9 col-xs-9 no-padding">
														<input class="text_input required form-control" name="suburb" placeholder="Suburb"   type="text" value="<?php echo $this->escape(isset($this->customer['suburb']) ? $this->customer['suburb'] : "") ?>" />
												</div>
													
												<div class="inline col-md-3 col-xs-3 padding-left-no-right">
													   <input class="text_input required form-control" name="postcode" placeholder="Post code" type="text" value="<?php echo $this->escape(isset($this->customer['postcode']) ? $this->customer['postcode'] : "") ?>" />	
												</div>
										</div>
							</div>
	
	
		 <div class="form-group">
		  <label class="col-lg-2 control-label">P.O. box</label>
		   <div class="col-lg-6">
		  	<input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->customer['po_box']) ? $this->customer['po_box'] : "") ?>" />	
		 </div>
		 </div>
		 
		 
		 </div>
		 
		 </div>
		 
		 