<div>

 <div class="form-group">
	<label class="col-md-2 control-label"><i class="fa fa-user fa-lg onsite_client_icon"></i></label>
	<div class="col-md-6">
        <input placeholder="Onsite Client Name" MaxLength="200" class="required text_input form-control" id="onsite_client_name" name="onsite_client_name"  type="text" value="" />
	 </div>
  </div>
  
  
  <div class="form-group">
	<label class="col-md-2 control-label">Check-In Time</label>
	<div class="col-md-6">
	
			 <div class='input-group date' id='job_start_time'>
                  <input MaxLength="200" class="required text_input form-control" id="job_start_time"  name="job_start_time"   type="text" value="<?php echo $this->escape($this->start) ?>" />
                 
                    <span class="input-group-addon">
						<i class="fa fa-calendar"></i>
                    </span>
                </div>

	
	 </div>
  </div>
  
  
  <div class="form-group">
	<label class="col-md-2 control-label">Check-Out Time</label>
	<div class="col-md-6">
	<div class='input-group date' id='datetimepicker22'>
        <input MaxLength="200" class="required text_input form-control" id="job_finish_time"  name="job_finish_time"   type="text" value="<?php echo $this->escape($this->end) ?>" />
                       <span class="input-group-addon"><i class="fa fa-calendar"></i>
                       </span>
                </div>
	
	 </div>
  </div>
  
  <!-- custome statisfacetion -->
				  <div class="form-group">
				    <label class="col-lg-2 control-label">Customer Satisfaction</label>
					<div class="col-lg-6">
					
					   <table align="center" id="satisfaction" class="table table-bordered">
					    <tbody><tr>
                                                <td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_1">Very Dissatisfied</label></td>
                                                <td>
                                                    <label for="satisfaction_1" style="margin-left: 6px;">1</label>
                                                </td>
                                                <td>            
                                                    <label for="satisfaction_2" style="margin-left: 6px;">2</label>
                                                </td>
                                                <td>            
                                                    <label for="satisfaction_3" style="margin-left: 6px;">3</label>
                                                </td>
                                                <td>            
                                                    <label for="satisfaction_4" style="margin-left: 6px;">4</label>
                                                </td>
                                                <td>            
                                                    <label for="satisfaction_5" style="margin-left: 6px;">5</label>
                                                </td>
                                                <td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_5">Very Satisfied</label></td>
                                            </tr>
											<tr>
                                                <td>
							<input type="radio" class="required" id="satisfaction_1" name="satisfaction" value="1"/>
                                                </td>
                                                <td>
							<input type="radio" id="satisfaction_2" name="satisfaction" value="2"/>
                                                </td>
                                                <td>            
							<input type="radio" id="satisfaction_3" name="satisfaction" value="3"/> 
                                                </td>
                                                <td>            
						 <input type="radio" id="satisfaction_4" name="satisfaction" value="4"/> 
                                                </td>
                                                <td>            
						<input type="radio" id="satisfaction_5" name="satisfaction" value="5"/> 
                                                </td>
                                            </tr>
						</tbody>					
					   
					   </table>                          
					</div>
				  </div>
				  
				  
					<div class="col-md-9 Products_mobile">
						<div class="col-md-9  col-xs-9 products">
							<span><b><i class="fa fa-dropbox">&nbsp;</i>Products Used</b></span>
						</div>
						
						
								<a  class="add_product_form_mobile col-md-3 col-xs-3" onclick="add_more_product();">
									<b>Add </b>
									<i class="fa fa-plus"></i>
								</a>
								 
						
					</div>  
					<div class="clearfix"></div>
					
				 <div class="col-md-8  products_fieldset">
				  <div class="form-group">
				    <label class="col-md-3 control-label">Product Name</label>
					
					<div class="col-md-9">
							<div class="col-md-8 col-xs-11" style="padding:0px">
							    
								<select name="product[]" class="required dropdown form-control">
									<option value="">Select One</option>
									<?php foreach ($this->products as $product): ?>
										<option value="<?php echo $this->escape($product['id']); ?>"><?php echo $this->escape($product['product']); ?></option>
									<?php endforeach; ?>
								</select>
							</div>
							
							<div class="col-md-1 col-xs-6 ltr">		
								<label class="control-label">Ltr</label>
							</div>
							
						<div class="col-md-2 col-xs-4" style="padding:0px">
							   <input type="text" name="ltr[]" class="required text_input product_ltr form-control"/>		
						</div>
							
					</div>
					
				   </div>
				   
				  <div id="more_product">
					<!-- more products generated here -->
				  </div>
			  </div>
			  <div class="clearfix"></div>
			  <br/>
			  <div class="form-group">
				<label class="col-md-2 control-label">Extra Comments</label>
				<div class="col-md-6">
				   <textarea class="long_text btextarea form-control"  id="extra_comments" name="extra_comments"></textarea>
				 </div>
			  </div>


</div>


<script type="text/javascript">
        $(document).ready(function() {
		   $('#job_start_time').datetimepicker({
			   format:'D-M-YYYY LT'
				});
			});
 $(document).ready(function() {
  $('#datetimepicker11').datetimepicker({
  format:'D-M-YYYY LT'
  
  });

  $('#datetimepicker22').datetimepicker({
  format:'D-M-YYYY LT'
  
  });
    });

</script>