<label class="col-md-12">search customer <span style="font-size: 9px;color:#808080">(at least three characters)</span></label>
<div class="col-md-12"><input type="text" class="form-control" name="customer-like" id="customer-like" onkeyup="customerSearch();"/></div>
<div class="default_customerlist_customer_result col-md-12" id="customerResult" style="height:200px; overflow: auto;">

</div>
<div style="clear: both;"></div>
