
<?php if(isset($this->images) && !empty($this->images)){
		foreach($this->images as $image){ 
			if($image['flag'] == 1){
				$parts = explode("public",$image['original_path']);
				$originalParts = $image['large_path']?explode("public",$image['large_path']):$parts;
				//$thumb_path = $parts[1];
				$thumb_path = $parts?$this->baseUrl($parts[1]):'';
				$original_path = $originalParts?$this->baseUrl($originalParts[1]):'';
			}else{
				//$thumb_path = $image['original_path'];
				$thumb_path = $this->escape($this->baseUrl('/uploads/image_attachment/' . $image['original_path']));
				$original_path = $this->escape($this->baseUrl('/uploads/image_attachment/' . $image['large_path']));
			}
			
			?>
			
			
			
			
				<img style="padding-bottom:10px;padding-left:10px;height: 145px !important; width: 145px !important;" src="<?php echo $thumb_path; ?>" original="<?php echo $original_path; ?>" />
				
			
<?php }}?>
<script>
$("img").click(function(){
		//console.log($(this).length);
		var source = $(this).attr('original');
		//$('.modal-body').html($(this));
		$('.modal-body').html('<img class="img-responsive" src = "'+ source+'"/>');
        $("#myModal").modal();
    });
</script>