
<div class="ibox no-margin-b">
	<div class="ibox-content" id="attachments">
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Image</h4>
				  </div>
				  <div class="modal-body" align="center">
					
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				  </div>
				</div>

			</div>
		</div>
		<div id="images" style="text-align: center">
			<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>
		</div>
			
			
					
		
		
	</div>
</div>
<script>
//$(document).ready(function(){
    $("img").click(function(){
		//console.log($(this).length);
		var source = $(this).attr('original');
		//$('.modal-body').html($(this));
		$('.modal-body').html('<img class="img-responsive" src = "'+ source+'"/>');
        $("#myModal").modal();
    });
//});


</script>
<script type="text/javascript">
		var page_number = 0;
		var loading = false;
		var is_last_request = 0;
		function getData(page_number, is_first_time){
		  if (typeof(is_first_time)==='undefined') is_first_time = 0;
		  if(is_first_time == 0 && !($('#loading_img').length > 0)){$('#images').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');}
		  $.ajax({
				type: "POST",
				dataType: "JSON",
				data: {'is_first_time': is_first_time , 'page_number': page_number},
				url: "<?php echo $this->url(array(), 'getSystemAttachments'); ?>",
				success: function (result) {
				is_last_request = result.is_last_request;
				$("#attachments").append(result.data);				
				if(is_first_time == 1){
					$('#images').html(result.data);
				}else{
					$("#images").append(result.data);
				}
				  //$('#attachment').append(result.data);
				  $('#loading_img').remove();
				  loading = false;
				  //console.log(is_last_request);
				}
			});
	   
	   }
	   

		$(document).ready(function () {
			//$("#activLog").click(function(){
				getData(page_number, 1);
		$(window).scroll(function () { //detect page scroll
		//console.log($(window).scrollTop() + $(window).height());
		//console.log(" t " + $(document).height())
		
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 1)  //user scrolled to bottom of the page?
					{
							//console.log("scroll test")	;					
						   if(loading == false && is_last_request == 0){
							  loading = true;
							  page_number++;					  
							  getData(page_number);
							}
					}
				});
			});
			
		//});
	</script>


