
<?php
$MAP_OBJECT_Booking = new GoogleMapAPI();
echo $MAP_OBJECT_Booking->getHeaderJS(); 
echo $MAP_OBJECT_Booking->getMapJS(); 
?>
<div class="ibox float-e-margins">
	<div class="ibox-content">
	 
    	<div class="row">
        	<div class="col-md-1">
			   <a href="<?php echo $this->escape($this->url(array('id' => $this->booking_id), 'bookingView')); ?>" class="btn btn-white">View booking</a>
            	
            </div>
            <div class="col-md-12 ">
			<h3>Nearest Booking On Map</h3>
			</div>
        </div>
    </div>
</div>





<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="row">
		        <div style="text-align: center;">
                 <?php
				 $modelBookingAddress = new Model_BookingAddress();
				 $bookingAdress = $modelBookingAddress->getByBookingId($this->booking_id);
				 $there_is_related_address = 0;
					 if ($this->relatedAddresses){	
					 
						$there_is_related_address = 1;
					foreach ($this->relatedAddresses as $key => $relatedAddress){
						
						$booking_id = $relatedAddress['booking']['booking_id'];
						$html = '<table class=&quot;table&quot;><tr class=&quot;info&quot;><td><b>Bok-num #</b></td><td><a href=&quot;'.$this->escape($this->url(array('id' => $relatedAddress['booking']['booking_id']), 'bookingView')).'&quot;>'.$relatedAddress['booking']['booking_num'].'  </a>&nbsp;&nbsp;<i class=&quot;fa fa-calendar&quot; aria-hidden=&quot;true&quot;></i>&nbsp;'.date('l d/m/Y', strtotime($relatedAddress['booking']['booking_start'])).'</td></tr><tr><td><b>Start Time</b></td><td>'.date('h:i A', strtotime($relatedAddress['booking']['booking_start'])).'</td></tr>
						 <tr><td><b>End Time </b></td><td>'.date('h:i A', strtotime($relatedAddress['booking']['booking_end'])).'</td></tr>
						 <tr><td><b> Booking Address </b></td><td>'.$relatedAddress['address']['line_address'].'</td></tr>
						 </table>';
						 
						?>
						
						<div class="booking_id" value="<?=$booking_id?>"></div>
						<div id="booking_Address_<?=$booking_id?>" value="<?=$relatedAddress['address']['line_address']?>"></div>
						<div id="booking_html_<?=$booking_id?>" value="<?=$html?>"></div>
						<div value = "<?=$html?>"></div>
						<?php
                                 
					  }
					  
					 ?>
					 <div id="mapBooking"  style="height:700px;width:100%"></div>
					 <div id="main_booking_lat" value="<?=$bookingAdress['lat']?>"></div>
						<div id="main_booking_lon" value="<?=$bookingAdress['lon']?>"></div>
						<!--<div onclick="testDrawMap(1);"> Click ME</div>-->
					 
					 
					 
					 <?php }else{ 
					 $there_is_related_address = 0;
					 ?>
                       <div class="inquiry-no-result">
                     		<span class="fa fa-ban">
                            	</span><br><h3 class="font-bold">
                                 There is no Related Address.</h3>
                     </div>
					<?php } ?>
                      
					  <div id="there_is_related_address" value="<?=$there_is_related_address?>"></div>
            </div>
		</div>
		</div>
</div>

<script>

//////////// added By Rand : draw the map ////////////////////////
$(document).ready(function(){
	there_is_related_address = parseFloat($('#there_is_related_address').attr('value'));
	 if(there_is_related_address == 1){
	 var booking_addresses = [];
				  $.each($('.booking_id'), function (index, value) { 
		              
			          booking_addresses[$(this).attr('value')]=$(this).attr('value');
				  });
			DrawMap(booking_addresses); // draw the map
	 }
			  });

			  
	function DrawMap(booking_addresses){
		 //console.log(booking_addresses);
		bookinglat = parseFloat($('#main_booking_lat').attr('value'));
		bookinglon = parseFloat($('#main_booking_lon').attr('value'));
			//alert('lat is '+bookinglat+ ' lon is '+bookinglon);	
				myOptions = {
					zoom: 8,
					center: new google.maps.LatLng(bookinglat, bookinglon),
					mapTypeId: google.maps.MapTypeId.MyMapApp
				}
				
				mapBooking = new google.maps.Map(document.getElementById("mapBooking"), myOptions);
			
		
		if(booking_addresses != null){
		$.each(booking_addresses, function (index, value) {
			          booking_id=value;
		if (booking_id != null){
			
					    booking_Address = $('#booking_Address_'+booking_id).attr('value');
						booking_html  = $('#booking_html_'+booking_id).attr('value');
						
                          console.log(booking_Address);
				drawNearMarker(mapBooking,booking_Address,booking_html);
								
	           	}
					  });
	      }
							
	}
	
function drawNearMarker(map,booking_Address,booking_html){
						  /// marker
						  var geocoder = new google.maps.Geocoder();
						  if(booking_Address!=null){
							 
			
		  var infowindow = new google.maps.InfoWindow({
          content: booking_html
        });
				         /// Add contractor on map
						 geocoder.geocode( { 'address': booking_Address}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
					   console.log(results[0].geometry.location);
						var marker = new google.maps.Marker({
							map: map,
							position: results[0].geometry.location
							
						});
						
						 marker.addListener('click', function(e) {
						     console.log(e.latLng);
                             infowindow.open(map, marker);
        });
					  }
								});
						  }
	}
///////// END by Rand ///////////////// 	

</script>