<?php
$modelUser = new Model_User();
$modelBookingAddress = new Model_BookingAddress();
$nearestBookingParams = array();
$nearestBookingParams[] = 'unit_lot_number=' . urlencode($this->unit_lot_number);
$nearestBookingParams[] = 'street_number=' . urlencode($this->street_number);
$nearestBookingParams[] = 'street_address=' . urlencode($this->street_address);
$nearestBookingParams[] = 'suburb=' . urlencode($this->suburb);
$nearestBookingParams[] = 'state=' . urlencode($this->state);
$nearestBookingParams[] = 'postcode=' . urlencode($this->postcode);
$nearestBookingParams[] = 'stpartdate=' . urlencode($this->stpartdate);
$nearestBookingParams[] = 'stparttime=' . urlencode($this->stparttime);
$nearestBookingParams[] = 'city_id=' . urlencode($this->city_id);
$nearestBookingParams[] = 'booking_id=' . urlencode($this->booking_id);
$nearestBookingParams = implode("&", $nearestBookingParams);
?>
<div id="related_address_cont">
    <?php if ($this->relatedAddresses): ?>

        <div class="btn-group" style="margin-bottom:10px;"> 
            <a class="btn btn-primary btn-outline "  target="_blank"
               href="<?php echo $this->escape($this->url(array(), 'getRelatedAddressByMaps')) . '?' . $nearestBookingParams . '&type=map' ?>">Nearest
                Booking On Map
            </a>
        </div>

        <table class="table table-bordered responsive-table" id="relatedAddressTable" style="font-size:12px;">
            <thead>
                <tr style="background-color: #ACD2E7">
                    <th style="width: 60px;">
                        <?php if ($this->order_by == 'booking_start' && $this->method == 'ASC'): ?>
                            <a  style="text-decoration: none; color: black;" href="javascript:;" onclick="getRelatedAddress('&order_by=booking_start&method=DESC'); return false;">Date <img style="vertical-align: middle;" src="<?php echo $this->escape($this->baseUrl('/pic/up_arrow.png')); ?>" border="0"/></a>
                        <?php else: ?>
                            <a style="text-decoration: none; color: black;" href="javascript:;" onclick="getRelatedAddress('&order_by=booking_start&method=ASC'); return false;">Date <img style="vertical-align: middle;" src="<?php echo $this->escape($this->baseUrl('/pic/down_arrow.png')); ?>" border="0"/></a>
                        <?php endif; ?>
                    </th>
                    <th>Start Time</th>
                    <th>End Time</th>

                    <th>Booking Number</th>
                    <th>Booking Address</th>
                    <th>Technician(s)</th> 
                    <th>
                        <?php if ($this->order_by == 'distance' && $this->method == 'ASC'): ?>
                            <a style="text-decoration: none; color: black;" href="javascript:;" onclick="getRelatedAddress('&order_by=distance&method=DESC'); return false;">Distance <img style="vertical-align: middle;" src="<?php echo $this->escape($this->baseUrl('/pic/up_arrow.png')); ?>" border="0"/></a>
                        <?php else: ?>
                            <a style="text-decoration: none; color: black;" href="javascript:;" onclick="getRelatedAddress('&order_by=distance&method=ASC'); return false;">Distance <img style="vertical-align: middle;" src="<?php echo $this->escape($this->baseUrl('/pic/down_arrow.png')); ?>" border="0"/></a>
                        <?php endif; ?>
                    </th>
                </tr>
            </thead>



            <tbody>
                <?php foreach ($this->relatedAddresses as $key => $relatedAddress): ?>
                    <tr>
                        <td><?php 
						$dateFormated = getNewDateFormat(strtotime($relatedAddress['booking']['booking_start'])); 
						if($dateFormated)
							echo $dateFormated;
						else
							echo date('l d/m/Y', strtotime($relatedAddress['booking']['booking_start']));
						?>
						</td>
                        <td>
						<?php 
						$dateFormated = getNewDateFormat(strtotime($relatedAddress['booking']['booking_start']), 'time');
						if($dateFormated)
							echo $dateFormated;
						else
							echo date('h:i A', strtotime($relatedAddress['booking']['booking_start']));
						?>
						</td>
                        <td>
						<?php 
						$dateFormated = getNewDateFormat(strtotime($relatedAddress['booking']['booking_end']), 'time');
						if($dateFormated)
							echo $dateFormated;
						else
							echo date('h:i A', strtotime($relatedAddress['booking']['booking_end']));
						?>
						</td>

                        <td>	<?php if (CheckAuth::checkCredential(array('bookingView'))) { ?>
                                <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $relatedAddress['booking']['booking_id']), 'bookingView')); ?>" style="text-decoration: none;" ><b><?php echo $relatedAddress['booking']['booking_num']; ?></b></a>
                            <?php } else {
                                ?>
                                <span><b><?php echo $relatedAddress['booking']['booking_num']; ?></b>
                                </span>
                            <?php } ?></td>
                        <td><?php echo $relatedAddress['address']['line_address']; ?></td>
                        <td>
                            <ul class="contractor_list">
                                <?php $bookingStart = date('m/d/Y', strtotime($relatedAddress['booking']['booking_start'])); ?>
                                <?php foreach ($relatedAddress['contractors'] as $contractor_id => $contractor_name): ?>
                                    <?php
                                    $distance = 0;
                                    $contractors = $modelUser->getById($contractor_id);
                                    $contractorAddress = get_line_address($contractors);
                                    $distance = $modelBookingAddress->getDistanceByTwoAddress($contractorAddress, $this->bookingAddress);
                                     $modelContractorRate = new Model_ContractorRate();
                                    $contractorRate = $modelContractorRate->getRateByContractor($contractor_id);
									$dir = get_config('user_picture_path').$contractors['avatar'];
									$dir_default_pic = get_config('user_default_picture_path');
                                    ?>
                                    <li style='text-align: center;'><a href="javascript:;" style="text-decoration: none; color:#056FC3;" onclick="getContractorAvailability('<?php echo $this->escape($bookingStart) ?>', '<?php echo $this->escape($contractor_id) ?>', '<?php echo $this->escape($key) ?>')"><?php
                                    if (isset($contractors['avatar']) && !empty($contractors['avatar']) ) {
                                        echo '<img style="display:block;margin:0 auto;" class="img-circle ImgDimension" src="'.$this->baseUrl($dir).'" width="34" height="34"/>';
                                    } else {
                                        echo'<img style="display:block;margin:0 auto;" src="'.$this->baseUrl($dir_default_pic).'" class="img-circle ImgDimension" width="34" height="34"/>';
                                    }
									
									if(isset($contractors['display_name']) && !empty($contractors['display_name'])) {
									   echo '<label style="display:block;">'.$contractors['display_name'].'<label>'; } 
									else {echo '<label style="display:block;">'.$contractor_name.'<label>';}
                                    
                                    
                                    ?></a>
                                        &ensp;
                                         <div class="star-rating-<?= $contractor_id ?>" style='margin-top: -22px;'> 
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="contractor_rate" class="rating-value" value="<?= round($contractorRate); ?>">
                                    </div>
                                    <script>
                                        var $star_rating = $('.star-rating-' +<?= $contractor_id ?> + ' .fa');
                                        console.log($star_rating);
                                        var SetRatingStar = function () {
                                            return $star_rating.each(function () {
                                                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                                                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                                                } else {
                                                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                                                }
                                            });
                                        };

                                        $star_rating.on('click', function () {
                                            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
                                            return SetRatingStar();
                                        });

                                        SetRatingStar();
                                    </script>
                                        
                                        <span><?php echo '(' . number_format($distance, 2) . ' KM)'; ?></span>
										<?php
										$calendar_link = 'https://www.google.com/calendar/embed?src=' . $contractors['email1'];
										?>	
										<a target="_blank" class="a_link" href="#" onclick="window.open('<?php echo $calendar_link; ?>								', '_blank');">
											<i class="fa fa-calendar-o"></i>
										</a>
				                        <?php $calendar_link = '/calendar?status=current&contractor=' . $contractors['user_id']; ?>
										<a target="_blank" class="a_link" href="#" onclick="window.open('<?php echo $calendar_link; ?>', '_blank')" >
											<i class="fa fa-calendar"></i> 
										</a>	
										</li>
                                        <?php endforeach; ?>
                            </ul>
                        </td>
                        <td><?php echo number_format($relatedAddress['distance'], 2); ?> KM</td>
                    </tr>
                    <tr id="contractor_availability_container_<?php echo $this->escape($key) ?>" style="display: none;">
                        <td id="contractor_availability_<?php echo $this->escape($key) ?>" colspan="7"></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

    <?php else : ?>


        <div class="inquiry-no-result">
            <span class="fa fa-ban">
            </span><br><h3 class="font-bold">
                There is no Related Address.</h3>
        </div>
    <?php endif; ?>
</div>
<script>

    var url = "<?php echo $nearestBookingParams; ?>";

    function getRelatedAddress(query_url) {
        query_url = typeof (query_url) != 'undefined' ? query_url : '';
        $.ajax({
            type: "POST",
            url: "/ajax/getRelatedAddress",
            data: url + query_url,
            success: function (result) {
                $('#content_modal_popup2').html(result);
            }
        });
    }

    function getContractorAvailability(booking_strat, contractor_id, row_num) {
        $('#contractor_availability_container_' + row_num).show();
        $('#contractor_availability_' + row_num).html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "/ajax/findAvailability",
            data: 'stpartdate=' + booking_strat + '&contractor_id=' + contractor_id + '&row_num=' + row_num,
            success: function (result) {
                $('#contractor_availability_' + row_num).html(result);
            }
        });
    }

</script>
