<?php

// customer details

$modelCustomer = new Model_Customer();
$customer = $modelCustomer->getById($this->customer_id);
$modelCustomer->fill($customer, array('customer_commercial_info', 'customer_contacts'));
?>

	<div class="ibox float-e-margins" >
			
			<div class="ibox-title">
			
				Customer Info 
				
				<span class="float-r">
					<?php if ($this->allDetails): ?>
					
						<?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                            <a  class="a_link" data-toggle="modal" data-target="#popupi" href="#" onclick="popupi('Edit customer','<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'customerEdit')); ?>');"><span class="fa fa-edit"></span>Edit&nbsp;</a>
						<?php endif; ?>
						
						 <?php $duplicateCount = count($modelCustomer->getAllDuplicateCustomer($customer['customer_id'])); ?>
                    <?php if ($duplicateCount > 1): ?>
                  
                            <?php if (CheckAuth::checkCredential(array('fixDuplicateCustomer'))): ?>
                                <a  href="<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'fixDuplicateCustomer')); ?>">
                                    Similar(<?php echo $this->escape($duplicateCount) ?>)
                                </a>
                            <?php else: ?>
                                  <span >  Similar(<?php echo $this->escape($duplicateCount) ?>)</span>
                            <?php endif; ?>
                       
                    <?php endif; ?>
					<?php endif;?>
				</span>
				
				
			</div>
			
			
			<div class="ibox-content">
									
									<table class="table table_no_top_border" id="customer_info-table">
										 <?php if ($this->allDetails): ?>
											<?php if (!empty($customer['customer_commercial_info']['business_name'])): ?>
													<tr>
														
														<td><b><i class="fa fa-university" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Business Name"></i> &nbsp; <?php echo $this->escape(ucfirst($customer['customer_commercial_info']['business_name'])); ?> </td>
													</tr>
											<?php endif; ?>
										 
											<tr>
												
											<?php $customer_names = get_customer_names($customer); ?>
												<?php if (CheckAuth::checkCredential(array('customerView'))): ?>
												<td>
												<div>
												<i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Name">&nbsp;</i><b></b>&nbsp;
												   <a href="<?php echo $this->url(array('id' => $customer['customer_id']), 'customerView'); ?>" class="a_link_black">
														<?php echo $this->escape(get_customer_name($customer)); ?>
													</a> 
												</div>	
													
												<?php if($customer_names['customer_name2']): ?>
													<div>
													<i class="fa fa-user ">&nbsp;</i>
													<a href="<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'customerView')); ?>" class="details_info_name"><?php echo $this->escape($customer_names['customer_name2']); ?></a></div>
												  <?php endif;?>
												  
												  <?php if($customer_names['customer_name3']): ?>
													<div>
													<i class="fa fa-user ">&nbsp;</i>
													<a href="<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'customerView')); ?>" class="details_info_name"><?php echo $this->escape($customer_names['customer_name3']); ?></a></div>
												  <?php endif;?>	
												
												
												</td>
												
												
												
												<?php else: ?>
												<td>   
												  <div>
													<i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Name">&nbsp;</i><b></b>&nbsp;
													<span class="span_black">
														<?php echo $this->escape(get_customer_name($customer)); ?>
													</span> 
												</div>	
													<?php if($customer_names['customer_name2']): ?>
														<div>
														<i class="fa fa-user ">&nbsp;</i>
														<span class="a_black"><?php echo $this->escape(get_customer_name($customer_names['customer_name2'])); ?></span></div>
													  <?php endif; ?>
													  
													  <?php if($customer_names['customer_name3']): ?>
														<div>
														<i class="fa fa-user ">&nbsp;</i>
														<span class="a_black"><?php echo $this->escape(get_customer_name($customer_names['customer_name3'])); ?></span></div>
													  <?php endif; ?>						
												</td>
												<?php endif; ?>
										 
										</tr>
											<?php if ($customer['phone1']): ?>
												<tr><td><i class="fa fa-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Phone">&nbsp;</i>&nbsp;<?php echo $this->escape($customer['phone1']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['phone2']): ?>
											   <tr> <td> <i class="fa fa-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Phone">&nbsp;</i>&nbsp;<?php echo $this->escape($customer['phone2']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['phone3']): ?>
												<tr><td><i class="fa fa-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Phone">&nbsp;</i>&nbsp;<?php echo $this->escape($customer['phone3']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['mobile1']): ?>
												<tr><td><i class="fa fa-mobile-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Mobile">&nbsp;</i>&nbsp;<?php echo $this->escape($customer['mobile1']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['mobile2']): ?>
												<tr><td><i class="fa fa-mobile-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Mobile">&nbsp;</i>&nbsp;<?php echo $this->escape($customer['mobile2']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['mobile3']): ?>
												<tr><td><i class="fa fa-mobile-phone" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Mobile">&nbsp;</i>&nbsp;<?php echo $this->escape($customer['mobile3']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['fax']): ?>
												<tr><td><b aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Fax">Fax :</b>&nbsp;<?php echo $this->escape($customer['fax']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['po_box']): ?>
												<tr><td><b aria-hidden="true" data-toggle="tooltip" data-placement="top" title="PO Box">PO Box :&nbsp;</b><?php echo $this->escape($customer['po_box']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['customer_contacts']): ?>
												<?php foreach ($customer['customer_contacts'] as $customerContact): ?>
												   <tr><td>&nbsp;<?php echo $this->escape($customerContact['contact_label']) ?>:</b> <?php echo $this->escape($customerContact['contact']) ?></td></tr>
												<?php endforeach; ?>
											<?php endif; ?>
											   <?php if ($customer['email1']): ?>
											   <tr><td><i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Email">&nbsp;</i>&nbsp;<?php echo $this->escape($customer['email1']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['email2']): ?>
												<tr><td><i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Email">&nbsp;</i>&nbsp;<?php echo $this->escape($customer['email2']) ?></td></tr>
											<?php endif; ?>
											<?php if ($customer['email3']): ?>
												<tr><td><i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Email">&nbsp;</i>&nbsp;<?php echo $this->escape($customer['email3']) ?></td></tr>
											<?php endif; ?>
											<?php $lineAddress = get_line_address($customer); ?>
											
										
												
														<tr class="toggler"> 	
														
															<td><i class="fa fa-map-marker" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Address"></i>&nbsp;
																<a class ="a_link" href="<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'customerLocation')); ?>"> 
																	<?php echo $this->escape($lineAddress); ?>
																</a>
															</td>
														</tr>
														<tr class="toggler">
															
															<td><i class="fa fa-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="City"></i>&nbsp; <?php echo $this->escape($customer['country_name'] . ' - ' . $customer['city_name']) ?></td>
														</tr>
											
										
														

										
											
											<?php else: ?> 
											 
											<?php if ($customer['suburb']): ?>
												<tr><td><b>Suburb :</b><?php echo $this->escape($customer['suburb']); ?></td></tr>
											<?php endif; ?>
												<tr><td><b>State :</b><?php echo $this->escape($customer['state']); ?></td></tr>
											<?php if ($customer['postcode']): ?>
												<tr><td><b>Postcode :</b><?php echo $this->escape($customer['postcode']); ?></td></tr>
											<?php endif; ?>
												<tr class="toggler">
														
														
														<td><i class="fa fa-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="City"></i>&nbsp;
															<?php echo $this->escape($customer['country_name'] . ' - ' . $customer['city_name']) ?>
														</td>
												</tr>
										</td>
									</tr>
								<?php endif; ?>
							</table>
				</div>
		</div>

		<script type="text/javascript">
		
		$(document).ready(function() {
			 
				$('[data-toggle="tooltip"]').tooltip();
				
		});
			$('#customer_info-table').find('.toggler').hide().end().append('<div class="float-r"><b class="show_more"> More <i class="fa fa-chevron-down"></i></b> </div>');
			  $('.show_more').click(function(){
					  $('.toggler').toggle(200);
					  if ($(this).hasClass('expanded')){
						  $(this).html('More <i class="fa fa-chevron-down"></i> ');
						  $(this).removeClass('expanded');
					  } else{
						  $(this).html('Less <i class="fa fa-chevron-up"></i>');
						  $(this).addClass('expanded');
					  }
				 });
		</script>


