<?php if ($this->bookings) : ?>
    <table border="0" cellspacing="0" cellpadding="0" align="center" style=" width: 100%;">

        <tr style="background-color: #B3D0F7; height: 30px;">
            <td style="padding-left: 10px; width: 100px;">Booking#</td>
            <td><b>Details</b></td>
            <td><b>Customer</b></td>
            <td style="text-align: left; padding-left: 10px;"><b>Action</b></td>
        </tr>

        <?php foreach ($this->bookings as $row) : ?>

            <tr style ="text-align: left; vertical-align: top; ">
                <td style="padding-left: 10px; border-bottom: 1px solid #E0E0E0;" >
                    <div style ="margin: 10px 0px 5px 0px;font-size: 12px;">
                        <span style="color: #00309E;">
                            <b>
                                <?php echo $this->escape($row['booking_num']) ?>
                            </b>
                        </span>
                    </div>
                </td> 
                <td style=" border-bottom: 1px solid #E0E0E0;">
                    <div style ="margin: 10px 0px 5px 0px;font-size: 12px;">
                        <div><?php echo $this->escape($row['status']['name'] . " - " . $row['title']) ?></div>
                        <div style ="font-size: 12px;color: black; margin-top: 5px;">
                            <span style=" color: #A1A1A1;">Start Time : </span><?php echo $this->escape(getDateFormating($row['booking_start'])) ?>
                            <span style="color: #A1A1A1; margin-left: 10px;">End Time : </span><?php echo $this->escape(getDateFormating($row['booking_end'])) ?>
                            <div>
                                <span style=" color: #A1A1A1;">Status : </span>
                                <span style="font-size: 10px; font-weight: bold;"><?php echo $this->escape($row['status']['name']) ?></span>
                            </div>
                            <div style ="margin-top: 5px;">
                                <span style=" color: #A1A1A1;" >Address :</span><?php echo $this->escape($row['address']['line_address']) ?>
                            </div>
                        </div>
                    </div>
                </td>
                <td style = " border-bottom: 1px solid #E0E0E0;">
                    <div style = "margin: 10px 0px 5px 0px;font-size: 12px;">
                        <div style = "margin-top: 5px;  margin-right: 15px;">
                            <?php if (!empty($row['customer_name'])) : ?>
                                <div> 
                                    <span style = "color: #A1A1A1;">Customer :</span><?php echo $this->escape($row['customer_name']) ?> 
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['customer_commercial_info']['business_name'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Business Name :</span><?php echo $this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name'])) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['email1'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Email :</span><?php echo $this->escape($row['customer']['email1']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['email2'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Email :</span><?php echo $this->escape($row['customer']['email2']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['email3'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Email :</span><?php echo $this->escape($row['customer']['email3']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['mobile1'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Mobile :</span><?php echo $this->escape($row['customer']['mobile1']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['mobile2'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Mobile :</span><?php echo $this->escape($row['customer']['mobile2']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['mobile3'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Mobile :</span><?php echo $this->escape($row['customer']['mobile3']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['phone1'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Phone :</span><?php echo $this->escape($row['customer']['phone1']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['phone2'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Phone :</span><?php echo $this->escape($row['customer']['phone2']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['phone3'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Phone :</span><?php echo $this->escape($row['customer']['phone3']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['fax'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >Fax :</span><?php echo $this->escape($row['customer']['fax']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['po_box'])) : ?>
                                <div>
                                    <span style="color: #A1A1A1;" >PO Box :</span><?php echo $this->escape($row['customer']['po_box']) ?>
                                </div>
                            <?php endif; ?>
                            <?php if (!empty($row['customer']['customer_contacts'])) : ?>
                                <?php foreach ($row['customer']['customer_contacts'] as $customerContact) : ?>
                                    <div>
                                        <span style="color: #A1A1A1;" ><?php echo $this->escape($customerContact['contact_label']) ?>:</span><?php echo $this->escape($customerContact['contact']) ?>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </td>
                <td  style="text-align: left; padding-left: 25px; padding-bottom: 25px;color: black;font-size: 12px; border-bottom: 1px solid #E0E0E0;">
                    <div style ="margin: 10px 0px 5px 0px; font-size: 12px;">
                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) ?>"style="font-size: 12px; color: #457BD9; text-decoration: none;">Edit</a>
                    </div>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>