<?php
$dateTimeObj= get_settings_date_format();
$modelAuthRole = new Model_AuthRole();
$modelContractorInfo = new Model_ContractorInfo();
$modelBooking = new Model_Booking();
$modelBookingInvoice = new Model_BookingInvoice();
$modelPaymentType = new Model_PaymentType();
$modelUser = new Model_User();
$modelCustomer = new Model_Customer();
if (isset($this->bookingId) && $this->bookingId) {
    $bookingId = !empty($this->bookingId) ? $this->bookingId : 0;
    $booking = $modelBooking->getById($bookingId);
    $invoice = $modelBookingInvoice->getByBookingId($bookingId);
}
?>
<?php if ($this->type == 'history') { ?>
    <div class="ibox-content tab_padding">
        <?php if ($this->bookingLogs): ?>
            <div>
                <ul>
                    <?php $modelUser = new Model_User(); ?>
                    <?php
					
					foreach ($this->bookingLogs as $key => $bookingLog): ?>
                        <?php
                        $user = $modelUser->getById($bookingLog['log_user_id']);
                        if (empty($user)) {
                            $customer = $modelCustomer->getById($bookingLog['log_user_id']);
                            if (!empty($customer)) {
                                $user['username'] = 'Customer(' . $customer['first_name'] . ' ' . $customer['last_name'] . ')';
                            }
                        }
                        ?>

                        <li >
                            <label class="control-label"> <a class="a_link_black" href="<?php echo $this->escape($this->url(array('id' => $bookingLog['log_id']), 'logBookingView')); ?>" target = '_blank'> 
												
							<?php echo '<b>' . (!empty($user['username']) ? $this->escape(strtoupper($user['username'])) : 'Server') . '</b>' . (($key == 0) ? ' added ' : ' changed ') . '<b>' . $this->escape($bookingLog['booking_num']) . '</b> at <b>  ' . $this->escape(getDateFormating($bookingLog['log_created'])) 
							.'</b>'
                            .(!empty($bookingLog['os']) ? "<b>  From ".$this->escape(strtoupper($bookingLog['os'])) : '').'</b>' ?> </a></label>
                            <?php if (!empty($bookingLog['history_details'])): ?>
                                <ul style ="padding-left: 20px;list-style-type:circle"> 
                                    <?php foreach ($bookingLog['history_details'] as $historyDetails): ?>
                                        <li>
                                            <?php echo $historyDetails ?>
											
                                        </li>
                                    <?php endforeach; ?>
									<li>
                                     Chanhed  By: <?php echo $bookingLog['os']; ?>
									</li>
                                </ul>
                            <?php endif; ?>
                        </li>
                        <?php ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php else: ?>

            <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There is no History.</h3></div>

        <?php endif; ?>
    </div>
<?php }else if ($this->type == 'payment') { ?>
   
    <div class="tab_padding float_none">
        <?php if ($this->bookingPayments):
            ?>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><b>Date</b></th>
                        <th><b>Payment Details</b></th>
                        <th><b>Amount</b></th>
                        <th><b>Contractor</b></th>
                        <th><b>Approval</b></th>
                        <th><b>Action</b></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->bookingPayments as $bookingPayment): ?>
                        <?php $paymentType = $modelPaymentType->getById($bookingPayment['payment_type_id']); ?>
                        <tr>
                            <td>
                                <?php echo $this->escape(getDateFormating($bookingPayment['received_date'])) ?>
                            </td>
                            <td>
                                <span>Amount received by </span><b><?php echo $this->escape($paymentType['payment_type']) ?></b>
                            </td>
                            <td>
                                $<?php echo $this->escape(number_format($bookingPayment['amount'], 2)); ?>
                                <?php $modelRefund = new Model_Refund();
                                $totalAllRefund = $modelRefund->getTotalRefund(array('booking_id' => $bookingId ,'payment_transaction_id' => $bookingPayment['reference'], 'is_approved' => 'all'));
                                $is_fully_refunded = $bookingPayment['amount'] - $totalAllRefund;
                                if($is_fully_refunded <= 0) { ?>
                                <br><span style = "color: green;">Refunded</span>
                            <?php } ?>
                            </td>
                            <td>
                                <a href="<?php echo $this->escape($this->url(array('contractor_id' => $bookingPayment['contractor_id']), 'settingsContractorInfoList')); ?>">

                                    <?php
                                    $modelUser = new Model_User();
                                    $contractor = $modelUser->getById($bookingPayment['contractor_id']);
                                    echo (!empty($contractor['username']) ? $this->escape($contractor['username']) : 'Server');
                                    ?>
                                </a>

                            </td>
                            <td>
                                <?php echo $this->escape($bookingPayment['is_approved'] ? 'APPROVED' : 'UNAPPROVED'); ?>
                                <?php if ($bookingPayment['is_rejected'] == 1) { ?>
                                    <span class="label label-danger">Rejected</span>
                                <?php } ?>
                            </td>
                            <td>
						
                                <a href="<?php echo $this->escape($this->url(array('id' => $bookingPayment['payment_id']), 'editPayment')); ?>"><img src="/pic/icons/edit.png" title="Edit" alt="Edit"/></a>
                                <a href="javascript:;"onclick="deletePayment('<?= $this->escape($this->url(array(), 'paymentDelete')).'?booking_id=' . $bookingId . '&id=' . $bookingPayment['payment_id'] . '';?>')"><img src="/pic/icons/delete.png" title="Delete" alt="Delete"/></a>



                                <?php 
                                    if (isset($paymentType) && $paymentType['payment_type'] == 'Credit Card') {
                                        $modelRefund = new Model_Refund();
                                        $totalAllRefund = $modelRefund->getTotalRefund(array('booking_id' => $bookingId ,'payment_transaction_id' => $bookingPayment['reference'], 'is_approved' => 'all'));
                                        if( $bookingPayment['amount']  >= $totalAllRefund +0.01 ) { 
                                        ?> 
                                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Refund Payment', '<?php echo $this->escape($this->url(array('booking_id' => $bookingId, 'payment_id' => $bookingPayment['payment_id']), 'refundAddByEway')); ?>');">
                                    <img src="/pic/icons/refund.png" title="Refund Payment" alt="Refund Payments"/></i>
                                    </a>
                                    <?php }
                                } ?>



                                <?php if ($bookingPayment['is_rejected'] !== 1) { ?>
                                                <!--                                                <a title="Rejected" class="details_info_opt" data-toggle="tooltip" data-placement="bottom" style="color: #000000 !important; cursor:default;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>                   -->
                                    <a title="Reject" href="#" data-toggle="modal" style="color: #000000 !important;" data-target="#popupi" onclick="popupi('Invoice Discussion', '<?php echo $this->escape($this->url(array('id' => $invoice['id'], 'payment_id' => $bookingPayment['payment_id']), 'rejectPayment')) ?>');">
                                        <span class=" glyphicon glyphicon-flash" aria-hidden="true"></span>
                                    </a>
                                <?php } ?>
                            </td> 


                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php else: ?>
            <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Payments.</h3></div>
        <?php endif; ?>
    </div>
<?php }else if ($this->type == 'refund') { ?>
    <div class="tab_padding float_none">
        <?php if ($this->bookingRefunds): ?>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><b>Date</b></th>
                        <th><b>Payment Details</b></th>
                        <th><b>Amount</b></th>
                        <th><b>Approval</b></th>
                        <th><b>Action</b></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->bookingRefunds as $bookingRefund): ?>
                        <?php $paymentType = $modelPaymentType->getById($bookingRefund['payment_type_id']); ?>
                        <tr>
                            <td>
                                <?php echo $this->escape(getDateFormating($bookingRefund['received_date'])) ?>
                            </td>
                            <td>
                                <span>Amount Refunded by </span><b><?php echo $this->escape($paymentType['payment_type']) ?></b>
                            </td>
                            <td>
                                $<?php echo $this->escape(number_format($bookingRefund['amount'], 2)); ?>
                            </td>
                            <td>
                                <?php echo $this->escape($bookingRefund['is_approved'] ? 'APPROVED' : 'UNAPPROVED'); ?>
                            </td>
                            <td>
                                <a href="<?php echo $this->escape($this->url(array('id' => $bookingRefund['refund_id']), 'editRefund')); ?>"><img src="/pic/icons/edit.png" title="Edit" alt="Edit"/></a>
                                <a href="<?php echo $this->escape($this->url(array('booking_id' => $bookingId, 'id' => $bookingRefund['refund_id']), 'refundDelete')); ?>"onclick="return confirm('are you sure you want to delete this Refund?');"><img src="/pic/icons/delete.png" title="Delete" alt="Delete"/></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php else: ?>
            <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Refunds.</h3></div>


        <?php endif; ?>
    </div>		
<?php }else if ($this->type == 'complaint') { ?>

    <div  class="tab_padding float_none">
        <?php if ($this->bookingComplaints): ?>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><b>Date</b></th>
                        <th><b>Comment</b></th>
                        <th><b>User</b></th>
                        <th><b>Action</b></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->bookingComplaints as $complaint): ?>
                        <?php $user = $modelUser->getById($complaint['user_id']) ?>
                        <tr>
                            <td>
                                <?php echo $this->escape(getDateFormating($complaint['created'])) ?>
                            </td>
                            <td>
                                <?php if (CheckAuth::checkCredential(array('complaintView'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $complaint['complaint_id']), 'complaintView')); ?>" class="details_info_opt">
                                        <?php
                                        echo $this->escape(substr($complaint['comment'], 0, 50));
                                        echo $this->escape((strlen($complaint['comment']) > 50 ? '...' : ''));
                                        ?>
                                    </a>
                                <?php else: ?>
                                    <span class="a_black">
                                        <?php
                                        echo $this->escape(substr($complaint['comment'], 0, 50));
                                        echo $this->escape((strlen($complaint['comment']) > 50 ? '...' : ''));
                                        ?>
                                    </span>
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php echo $this->escape($user['username']); ?>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Complaint', '<?php echo $this->escape($this->url(array('id' => $complaint['complaint_id']), 'complaintEdit')); ?>');"><img src="/pic/icons/edit.png" title="Edit" alt="Edit"/></a>
                                <a href="<?php echo $this->escape($this->url(array('id' => $complaint['complaint_id']), 'complaintDelete')); ?>" onclick="return confirm('are you sure you want to delete this complaint?');"><img src="/pic/icons/delete.png" title="Delete" alt="Delete"/></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php else: ?>
            <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Complaints.</h3></div>
        <?php endif; ?>
    </div>

<?php }else if ($this->type == 'email') { ?>
    <?php if ($this->bookingEmailLogs || $this->invoiceEmailLogs || $this->estimateEmailLogs || $this->inquiryEmailLogs || $this->complaintEmailLogs): ?>
        <?php if ($this->bookingEmailLogs): ?>
            <h3>Booking</h3>
            <h4>Local</h4>
            <table class="table table-bordered">
                <thead>
                    <tr class="header-details-summary">
                        <th></th>
                        <th><b>Date</b></th>
                        <th><b> Subject</b></th>
                        <th><b>Sender</b></th>
                        <th><b>To</b></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->bookingEmailLogs as $emailLog): ?>
                        <?php $user = $modelUser->getById($emailLog['user_id'])

                          						?>
                        <tr> 
                            <td>
                                <?php if (!empty($emailLog['attachment_path']) && file_exists($emailLog['attachment_path'])) { ?>
									<div class="dropdown">											
                                        <img data-toggle="dropdown" border="0" src="/pic/icons/export-as-pdf.png">
                                        <ul class="dropdown-menu companies_list" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><input type="hidden" value="1">
                                                <?php
                                                $parts = explode("public", $emailLog['attachment_path']);
                                                ?>
                                                <a role="menuitem" tabindex="-1" target="_blank" href="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $parts[1]; ?>">open</a>
                                            </li>
                                            <li role="presentation"><input type="hidden" value="1">
                                                <a role="menuitem" tabindex="-1" href="<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'downloadEmailPdfFile')); ?>">download</a>
                                            </li>
                                        </ul>
                                    <?php } ?>
                            </td>											
                            <td>
                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#popupi" class="details_info_opt"
                                   onclick="popupi('Email', '<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>');" >
                                       <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                </a>
                            </td>
                            <td>
                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                <?php else: ?>
                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php echo $this->escape($emailLog['to']); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>
        <div class="loader">
        </div>
        <div id="GmailEmailsBookingDiv" style="display:none;" >
            <?php
            if (!$this->bookingEmailLogs) {
                echo "<h3 id='bookingTitle' style='display:none;'>Booking</h3>";
            }
            ?>
            <h4>Gmail</h4>
            <table class="table table-bordered" id="GmailEmailsBooking" >
                <thead>
                    <tr class="header-details-summary">
                        <th><b>Date</b></th>
                        <th><b> Subject</b></th>
                        <th><b>Sender</b></th>
                        <th><b>To</b></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>



        <?php if ($this->invoiceEmailLogs): ?>
            <h3>Invoice</h3>
            <h4>Local</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th><b>Date</b></th>
                        <th><b> Subject</b></th>
                        <th><b>Sender</b></th>
                        <th><b>To</b></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->invoiceEmailLogs as $emailLog): ?>
                        <?php $user = $modelUser->getById($emailLog['user_id']) ?>
                        <tr>
                            <td>
                                <?php if (!empty($emailLog['attachment_path']) && file_exists($emailLog['attachment_path'])) { ?>
                                    <div class="dropdown">											
                                        <img data-toggle="dropdown" border="0" src="/pic/icons/export-as-pdf.png">
                                        <ul class="dropdown-menu companies_list" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><input type="hidden" value="1">
                                                <?php
                                                $parts = explode("public", $emailLog['attachment_path']);
                                                ?>
                                                <a role="menuitem" tabindex="-1" target="_blank" href="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $parts[1]; ?>">open</a>
                                            </li>
                                            <li role="presentation"><input type="hidden" value="1">
                                                <a role="menuitem" tabindex="-1" href="<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'downloadEmailPdfFile')); ?>">download</a>
                                            </li>
                                        </ul>
                                    <?php } ?>
                            </td>	
                            <td>
                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#popupi" class="details_info_opt"
                                   onclick="popupi('Email', '<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>');" >
                                       <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                </a>
                            </td>
                            <td>
                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                <?php else: ?>
                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php echo $this->escape($emailLog['to']); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>
        <div class="loader">
        </div>
        <div id="GmailEmailsInvoiceDiv" style="display:none;" >
            <?php
            if (!$invoiceEmailLogs) {
                echo "<h3 id='invoiceTitle' style='display:none;'>Invoice</h3>";
            }
            ?>
            <h4>Gmail</h4>
            <table class="table table-bordered" id="GmailEmailsInvoice">
                <thead>
                    <tr class="header-details-summary" >
                        <th><b>Date</b></th>
                        <th><b> Subject</b></th>
                        <th><b>Sender</b></th>
                        <th><b>To</b></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>




        <?php if ($this->estimateEmailLogs): ?>
            <h3>Estimate</h3>
            <h4>Local</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th><b>Date</b></th>
                        <th><b> Subject</b></th>
                        <th>Sender</b></th>
                        <th><b>To</b></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->estimateEmailLogs as $emailLog): ?>
                        <?php $user = $modelUser->getById($emailLog['user_id']) ?>
                        <tr>
                            <td>
                                <?php if (!empty($emailLog['attachment_path']) && file_exists($emailLog['attachment_path'])) { ?>
                                    <div class="dropdown">											
                                        <img data-toggle="dropdown" border="0" src="/pic/icons/export-as-pdf.png">
                                        <ul class="dropdown-menu companies_list" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><input type="hidden" value="1">
                                                <?php
                                                $parts = explode("public", $emailLog['attachment_path']);
                                                ?>
                                                <a role="menuitem" tabindex="-1" target="_blank" href="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $parts[1]; ?>">open</a>
                                            </li>
                                            <li role="presentation"><input type="hidden" value="1">
                                                <a role="menuitem" tabindex="-1" href="<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'downloadEmailPdfFile')); ?>">download</a>
                                            </li>
                                        </ul>
                                    <?php } ?>
                            </td>	

                            <td>
                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#popupi" 
                                   class="details_info_opt" 
                                   onclick="popupi('Email', '<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>');" >
                                       <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                </a>
                            </td>
                            <td>
                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                <?php else: ?>
                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php echo $this->escape($emailLog['to']); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>
        <div class="loader"></div>
        <div id="GmailEmailsEstimateDiv" style="display:none;" >
            <?php
            if (!$this->estimateEmailLogs) {
                echo "<h3 id='estimateTitle' style='display:none;'>Estimate</h3>";
            }
            ?>
            <h4>Gmail</h4>
            <table class="table table-bordered" id="GmailEmailsEstimate">
                <thead>
                    <tr class="header-details-summary">
                        <th><b>Date</b></th>
                        <th><b> Subject</b></th>
                        <th><b>Sender</b></th>
                        <th><b>To</b></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>



        <?php if ($this->inquiryEmailLogs): ?>
            <h3>Inquiry</h3>
            <table class="table table-bordered">
                <thead>
                    <tr class="header-details-summary">
                        <th></th>
                        <th width="130"><b>Date</b></th>
                        <th><b> Subject</b></th>
                        <th><b>Sender</b></th>
                        <th><b>To</b></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->inquiryEmailLogs as $emailLog): ?>
                        <?php $user = $modelUser->getById($emailLog['user_id']) ?>

                        <tr>
                            <td>
                                <?php if (!empty($emailLog['attachment_path']) && file_exists($emailLog['attachment_path'])) { ?>
                                    <div class="dropdown">											
                                        <img data-toggle="dropdown" border="0" src="/pic/icons/export-as-pdf.png">
                                        <ul class="dropdown-menu companies_list" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><input type="hidden" value="1">
                                                <?php
                                                $parts = explode("public", $emailLog['attachment_path']);
                                                ?>
                                                <a role="menuitem" tabindex="-1" target="_blank" href="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $parts[1]; ?>">open</a>
                                            </li>
                                            <li role="presentation"><input type="hidden" value="1">
                                                <a role="menuitem" tabindex="-1" href="<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'downloadEmailPdfFile')); ?>">download</a>
                                            </li>
                                        </ul>
                                    <?php } ?>
                            </td>	

                            <td>
                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#popupi" class="details_info_opt" onclick="popupi('Email', '<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>');" >
                                    <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                </a>
                            </td>
                            <td>
                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                <?php else: ?>
                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php echo $this->escape($emailLog['to']); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>

        <?php if ($this->complaintEmailLogs): ?>
            <h3>Complaint</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th ><b>Date</b></th>
                        <th><b> Subject</b></th>
                        <th><b>Sender</b></th>
                        <th><b>To</b></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->complaintEmailLogs as $emailLog): ?>
                        <?php $user = $modelUser->getById($emailLog['user_id']) ?>

                        <tr>
                            <td>
                                <?php if (!empty($emailLog['attachment_path']) && file_exists($emailLog['attachment_path'])) { ?>
                                    <div class="dropdown">											
                                        <img data-toggle="dropdown" border="0" src="/pic/icons/export-as-pdf.png">
                                        <ul class="dropdown-menu companies_list" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><input type="hidden" value="1">
                                                <?php
                                                $parts = explode("public", $emailLog['attachment_path']);
                                                ?>
                                                <a role="menuitem" tabindex="-1" target="_blank" href="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $parts[1]; ?>">open</a>
                                            </li>
                                            <li role="presentation"><input type="hidden" value="1">
                                                <a role="menuitem" tabindex="-1" href="<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'downloadEmailPdfFile')); ?>">download</a>
                                            </li>
                                        </ul>
                                    <?php } ?>
                            </td>	

                            <td>
                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#popupi" class="details_info_opt" onclick="popupi('Email', '<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>');" >
                                    <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                </a>
                            </td>
                            <td>
                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                <?php else: ?>
                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php echo $this->escape($emailLog['to']); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>
        <div class="loader"></div>
        <div id="GmailEmailsComplaintDiv" style="display:none;">
            <?php
            if (!$this->complaintEmailLogs) {
                echo "<h3 id='complaintTitle' style='display:none;'>Complaint</h3>";
            }
            ?>
            <h4>Gmail</h4>
            <table class="table table-bordered" id="GmailEmailsComplaint">
                <thead>
                    <tr class="header-details-summary">
                        <th><b>Date</b></th>
                        <th><b> Subject</b></th>
                        <th><b>Sender</b></th>
                        <th><b>To</b></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    <?php else: ?>

        <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Email History.</h3></div>

    <?php endif; ?>

<?php }

       /*******************sms****************/
        	else if($this->type == 'sms'){ ?>
<?php //$modelUser = new Model_User();?>
<?php if ($this->bookingSmsLogs || $this->invoiceSmsLogs || $this->estimateSmsLogs || $this->inquirySmsLogs || $this->complaintSmsLogs): ?>
                        <?php if ($this->bookingSmsLogs): ?>
                            <h3>Booking</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="header-details-summary">
                                        <th><b>Send Date</b></th>
                                        <th><b> Sms Type</b></th>
                                        <th><b>Message</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->bookingSmsLogs as $smsLog): ?>
                                        <?php //$user = $modelUser->getById($smsLog['user_id']) ?>
                                        <tr> 
                                           	<td>
                                                <?php
												
												$sydney = new DateTimeZone('Australia/Sydney');
														$gmt = new DateTimeZone('GMT');
														$date = new DateTime($smsLog['send_time'], $gmt);
														$date->setTimezone($sydney);
														if($smsLog['send_time'] != '0000-00-00 00:00:00'){
															//$dateTimeObj= get_settings_date_format();
															if(!empty($dateTimeObj))
															echo getDateFormating($smsLog['send_time'],'all');
															else															
															echo $date->format('Y-m-d H:i:s');
														
														}else{
															echo '';
														}
														

												//echo $this->escape(getDateFormating($smsLog['send_time'])) 
												?>
                                            </td>
                                            
                                            <td>
                                                <?php echo $this->escape($smsLog['sms_type']); ?>
                                            </td>
											<td>
                                                <?php echo $this->escape($smsLog['message']); ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        <?php endif; ?>
                        <div class="loader">
                        </div>
                        <div id="SmsBookingDiv" style="display:none;" >
                            <?php
                            if (!$this->bookingSmsLogs) {
                                echo "<h3 id='bookingTitle' style='display:none;'>Booking</h3>";
                            }
                            ?>
                            <table class="table table-bordered" id="SmsBooking" >
                                <thead>
                                    <tr class="header-details-summary">
                                        <th><b>Send Date</b></th>
                                        <th><b> Sms Type</b></th>
                                        <th><b>Message</b></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>



                        <?php if ($this->invoiceSmsLogs): ?>
                            <h3>Invoice</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><b>Send Date</b></th>
                                        <th><b> Sms Type</b></th>
                                        <th><b>Message</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->invoiceSmsLogs as $smsLog): ?>
                                        <?php // $user = $modelUser->getById($smsLog['user_id']) ?>
                                        <tr> 
                                           	<td>
											
                                                <?php 
												$sydney = new DateTimeZone('Australia/Sydney');
														$gmt = new DateTimeZone('GMT');
														$date = new DateTime($smsLog['send_time'], $gmt);
														$date->setTimezone($sydney);
                                                        //$dateTimeObj= get_settings_date_format();
														if(!empty($dateTimeObj))
														echo getDateFormating($smsLog['send_time'],'all');
														else															
														echo $date->format('Y-m-d H:i:s');

														//echo $this->escape(getDateFormating($smsLog['send_time'])) 
														?>
                                            </td>
                                            
                                            <td>
                                                <?php echo $this->escape($smsLog['sms_type']); ?>
                                            </td>
											<td>
                                                <?php echo $this->escape($smsLog['message']); ?>
                                            </td>
                                        </tr>
                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        <?php endif; ?>
                        <div class="loader">
                        </div>
                        <div id="SmsInvoiceDiv" style="display:none;" >
                            <?php
                            if (!$this->invoiceSmsLogs) {
                                echo "<h3 id='invoiceTitle' style='display:none;'>Invoice</h3>";
                            }
                            ?>
                            <table class="table table-bordered" id="SmsInvoice">
                                <thead>
                                    <tr class="header-details-summary" >
                                        <th><b>Send Date</b></th>
                                        <th><b>Sms Type</b></th>
                                        <th><b>Message</b></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>




                        <?php if ($this->estimateSmsLogs): ?>
                            <h3>Estimate</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><b>Send Date</b></th>
                                        <th><b>Sms Type</b></th>
                                        <th>Message</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->estimateSmsLogs as $smsLog): ?>
                                        <?php //$user = $modelUser->getById($smsLog['user_id']) ?>
                                     <tr> 
                                           	<td>
                                                <?php
                                                        $sydney = new DateTimeZone('Australia/Sydney');
														$gmt = new DateTimeZone('GMT');
														$date = new DateTime($smsLog['send_time'], $gmt);
														$date->setTimezone($sydney);
														//$dateTimeObj= get_settings_date_format();
														if(!empty($dateTimeObj))
														echo getDateFormating($smsLog['send_time'],'all');
														else															
														echo $date->format('Y-m-d H:i:s');
												//echo $this->escape(getDateFormating($smsLog['send_time'])) 
												?>
                                            </td>
                                            
                                            <td>
                                                <?php echo $this->escape($smsLog['sms_type']); ?>
                                            </td>
											<td>
                                                <?php echo $this->escape($smsLog['message']); ?>
                                            </td>
                                        </tr>

                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        <?php endif; ?>
                        <div class="loader"></div>
                        <div id="SmsEstimateDiv" style="display:none;" >
                            <?php
                            if (!$this->estimateSmsLogs) {
                                echo "<h3 id='estimateTitle' style='display:none;'>Estimate</h3>";
                            }
                            ?>
                            <table class="table table-bordered" id="SmsEstimate">
                                <thead>
                                    <tr class="header-details-summary">
                                        <th><b>Send Date</b></th>
                                        <th><b>Sms Type</b></th>
                                        <th><b>Message</b></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <?php if ($this->inquirySmsLogs): ?>
                            <h3>Inquiry</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="header-details-summary">
                                        <th ><b>Send Date</b></th>
                                        <th><b> Sms Type</b></th>
                                        <th><b>Message</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($this->inquirySmsLogs as $smsLog): ?>
                                        <?php //$user = $modelUser->getById($smsLog['user_id']) ?>

                                        <tr> 
                                           	<td>
                                                <?php 
												$sydney = new DateTimeZone('Australia/Sydney');
														$gmt = new DateTimeZone('GMT');
														$date = new DateTime($smsLog['send_time'], $gmt);
														$date->setTimezone($sydney);
														//$dateTimeObj= get_settings_date_format();
														if(!empty($dateTimeObj))
														echo getDateFormating($smsLog['send_time'],'all');
														else															
														echo $date->format('Y-m-d H:i:s');

												//echo $this->escape(getDateFormating($smsLog['send_time'])) 
												?>
                                            </td>
                                            
                                            <td>
                                                <?php echo $this->escape($smsLog['sms_type']); ?>
                                            </td>
											<td>
                                                <?php echo $this->escape($smsLog['message']); ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        <?php endif; ?>

                        <?php if ($this->complaintSmsLogs): ?>
                            <h3>Complaint</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><b>Send Date</b></th>
                                        <th><b> Sms Type</b></th>
                                        <th><b>Message</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php 
									foreach ($this->complaintSmsLogs as $smsLog): ?>
                                        <?php //$user = $modelUser->getById($smsLog['user_id']) ?>

                                            <tr> 
                                           	<td>
                                                <?php 
												$sydney = new DateTimeZone('Australia/Sydney');
														$gmt = new DateTimeZone('GMT');
														$date = new DateTime($smsLog['send_time'], $gmt);
														$date->setTimezone($sydney);
														//$dateTimeObj= get_settings_date_format();
														if(!empty($dateTimeObj))
														echo getDateFormating($smsLog['send_time'],'all');
														else															
														echo $date->format('Y-m-d H:i:s');
                                                 //echo $this->escape(getDateFormating($smsLog['send_time'])) 
												 ?>
                                            </td>
                                            
                                            <td>
                                                <?php echo $this->escape($smsLog['sms_type']); ?>
                                            </td>
											<td>
                                                <?php echo $this->escape($smsLog['message']); ?>
                                            </td>
                                        </tr>

                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        <?php endif; ?>
                        <div class="loader"></div>
                        <div id="SmsComplaintDiv" style="display:none;">
                            <?php
                            if (!$this->complaintSmsLogs) {
                                echo "<h3 id='complaintTitle' style='display:none;'>Complaint</h3>";
                            }
                            ?>
                            <table class="table table-bordered" id="SmsComplaint">
                                <thead>
                                    <tr class="header-details-summary">
                                        <th><b>Send Date</b></th>
                                        <th><b>Sms Type</b></th>
                                        <th><b>Message</b></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    <?php else: ?>

                        <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no SMS History.</h3></div>

                    <?php endif; ?>
                <?php }



      /********************sms***************/

   else if ($this->type == 'attachments') { ?>

    <div class="tab_padding float_none">
        <?php if ($this->bookingAttachments): ?>
            <table class="table table-bordered">
                <thead>
                    <tr class="header-details-summary">
                        <th><b>Date</b></th>
                        <th><b>Attachment</b></th>
                        <th><b>Description</b></th>
                        <th><b>Size</b></th>
                        <th><b>User</b></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->bookingAttachments as $bookingAttachment): ?>
                        <?php $user = $modelUser->getById($bookingAttachment['created_by']) ?>
                        <tr>
                            <td>
                                <?php echo $this->escape(getDateFormating($bookingAttachment['created'])) ?>
                            </td>
                            <td>
                                <?php if (CheckAuth::checkCredential(array('attachmentFileDownload'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $bookingAttachment['attachment_id']), 'bookingFileDownload')); ?>" class="details_info_opt"><?php echo $this->escape($bookingAttachment['file_name']) ?></a>
                                <?php else: ?>
                                    <?php echo $this->escape($bookingAttachment['file_name']) ?>
                                <?php endif; ?>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Description', '<?php echo $this->escape($this->url(array('id' => $bookingAttachment['attachment_id']), 'bookingFileViewDescription')); ?>');" class="a_link_black"><?php echo nl2br($this->escape(mb_strlen($bookingAttachment['description']) > 50 ? mb_substr($bookingAttachment['description'], 0, 50) . '...' : $bookingAttachment['description'])) ?></a>
                            </td>
                            <td>
                                <?php echo $this->escape($bookingAttachment['size']) ?>
                            </td>
                            <td>
                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                <?php else: ?>
                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php else: ?>

            <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Attachment Files.</h3></div>

        <?php endif; ?>
    </div>	

<?php }else if ($this->type == 'contacts') { ?>
    <?php $modelUser = new Model_User(); ?>
    <div class="tab_padding float_none">
        <?php if ($this->bookingContactHistorys || $this->inquiryContactHistorys): ?>
            <?php if ($this->bookingContactHistorys): ?>
                <h3>Estimate</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr class="header-details-summary">
                            <th ><b>Date</b></th>
                            <th><b>Comment</b></th>
                            <th><b>User</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->bookingContactHistorys as $contactHistory): ?>
                            <?php $user = $modelUser->getById($contactHistory['user_id']) ?>
                            <tr>
                                <td>
                                    <?php echo $this->escape(getDateFormating($contactHistory['created'])) ?>
                                </td>
                                <td>
                                    <?php echo nl2br($this->escape($contactHistory['comment'])); ?>
                                </td>
                                <td>
                                    <?php echo $this->escape($user['username']); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif;
            ?>

            <?php if ($this->inquiryContactHistorys): ?>
                <h3>Inquiry</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><b>Date</b></th>
                            <th><b>Comment</b></th>
                            <th><b>User</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->inquiryContactHistorys as $contactHistory): ?>
                            <?php $user = $modelUser->getById($contactHistory['user_id']) ?>
                            <tr>
                                <td>
                                    <?php echo $this->escape(getDateFormating($contactHistory['created'])) ?>
                                </td>
                                <td>
                                    <?php echo nl2br($this->escape($contactHistory['comment'])); ?>
                                </td>
                                <td>
                                    <?php echo $this->escape($user['username']); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>
        <?php else: ?>

            <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Contact History.</h3></div>

        <?php endif; ?>
    </div>

<?php }else if ($this->type == 'confirmation') { ?>
    <?php $modelUser = new Model_User(); ?>
    <div style="background-color:white;" class="tab_padding float_none">
        <?php if ($this->bookingRemindersWithCustomer || $this->bookingRemindersWithTechnician): ?>
            <div style="background-color:white;" class="tab_padding float_none">

                <?php if ($this->bookingRemindersWithCustomer) { ?>
                    <?php if (CheckAuth::getRoleName() != 'customer') { ?>
                        <div class="tabs-details-label"><h3>Customer</h3></div>
                    <?php } else { ?>
                        <div class="tabs-details-label"><h3>Confirmation History</h3></div>
                    <?php } ?>
                    <ul class="disc_b" id="booking_discussion">

                        <?php foreach ($this->bookingRemindersWithCustomer as $bookingReminderWithCustomer) { ?>
                            <?php
                            if ($bookingReminderWithCustomer['user_role'] == 9) {
                                $modelCustomer = new Model_Customer();
                                $user = $modelCustomer->getById($bookingReminderWithCustomer['user_id']);
                                $username = $user['first_name'] . ' ' . $user['last_name'];
                            } else {
                                $user = $modelUser->getById($bookingReminderWithCustomer['user_id']);
                                $username = $user['username'];
                            }
                            //$user = $modelUser->getById($bookingReminderWithCustomer['user_id'])
                            ?>
                            <li>
                                <div class="normal_font"> 
                                    <?php if (CheckAuth::getRoleName() != 'customer') { ?>
                                        <span>
                                            <i class="fa fa-user"></i>
                                            <b> <?php echo $this->escape(ucwords($username)); ?>
                                                wrote on </b>
                                        </span>
                                    <?php } ?> 


                                    <span >
                                        <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                                        <?php if (CheckAuth::getRoleName() == 'customer') { ?>
                                            <b> 
                                            <?php } ?>
                                            <?php
                                            $loggedUser = CheckAuth::getLoggedUser();
                                            if (CheckAuth::getRoleName() == 'customer') {
                                                echo 'Customer (' . $loggedUser['username'] . ') - ';
                                            }
                                            echo $this->escape(getDateFormating($bookingReminderWithCustomer['created']))
                                            ?>
                                            <?php if (CheckAuth::getRoleName() == 'customer') { ?>
                                            </b> 
                                        <?php } ?>
                                    </span>
                                </div>


                                <div class="disc_message">

                                    <?php echo nl2br($this->escape(wordwrap($bookingReminderWithCustomer['comment'], 20, " ", true))); ?>


                                    <div style="clear:both"></div>

                                </div>

                            </li>
                        <?php }; ?>
                    </ul>


                <?php } ?>
                <?php if ((CheckAuth::getRoleName() != 'customer') && $this->bookingRemindersWithTechnician) { ?>
                    <h3>Technician</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><b>Date</b></th>
                                <th><b>Comment</b></th>
                                <th><b>User</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->bookingRemindersWithTechnician as $bookingReminderWithTechnician) { ?>
                                <?php
                                if ($bookingReminderWithTechnician['user_role'] == 9) {
                                    $modelCustomer = new Model_Customer();
                                    $user = $modelCustomer->getById($bookingReminderWithTechnician['user_id']);
                                    $username = $user['first_name'] . ' ' . $user['last_name'];
                                } else {
                                    $user = $modelUser->getById($bookingReminderWithTechnician['user_id']);
                                    $username = $user['username'];
                                }
//$user = $modelUser->getById($bookingReminderWithTechnician['user_id']) 
                                ?>
                                <tr>
                                    <td>
                                        <?php echo $this->escape(getDateFormating($bookingReminderWithTechnician['created'])) ?>
                                    </td>
                                    <td>
                                        <?php echo nl2br($this->escape($bookingReminderWithTechnician['comment'])); ?>
                                    </td>
                                    <td>
                                        <?php echo $this->escape($user['username']); ?>
                                    </td>
                                </tr>
                            <?php } ?>

                        </tbody>
                    </table>

                    <?php
                }
                ?>
            </div>
        <?php else: ?>

            <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">No confirmation.</h3></div>

        <?php endif; ?>
    </div>
<?php } ?>

<script>
  
   function deletePayment(url) {
        if (confirm('are you sure you want to delete this Payment?')) {
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'json',
                success: function (result) {                 
				 if(result == 1){
				   window.location.reload();
				 }
                }
            });
        }
    }

</script>