<?php
$loggedUser = CheckAuth::getLoggedUser ();

$modelUser = new Model_User();
$modelBooking = new Model_Booking();
$modelServices = new Model_Services();
$modelUserInfo = new Model_UserInfo();
$modelAuthRole = new Model_AuthRole();
$modelClaimOwner = new Model_ClaimOwner();
$modelPropertyType = new Model_PropertyType();
$modelBookingStatus = new Model_BookingStatus();
$modelAttributeType = new Model_AttributeType();
$modelContractorInfo = new Model_ContractorInfo();
$modelBookingAddress = new Model_BookingAddress();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelAttributeListValue = new Model_AttributeListValue();
$modelServiceAttributeValue = new Model_ServiceAttributeValue();
$modelServiceAttributeValueTemp = new Model_ServiceAttributeValueTemp();
$modelCustomerFeedback = new Model_CustomerFeedback();
$weatherStatue=new Model_WeatherStatus();
$status = $modelBookingStatus->getById($this->booking['status_id']);
					
							
$colors = array (
		'0' => '#888888',
		'1' => '#cc3333',
		'2' => '#dd4477',
		'3' => '#994499',
		'4' => '#6633cc',
		'5' => '#336699',
		'6' => '#3366cc',
		'7' => '#22aa99',
		'8' => '#329262',
		'9' => '#109618',
		'10' => '#66aa00',
		'11' => '#aaaa11',
		'12' => '#d6ae00',
		'13' => '#ee8800',
		'14' => '#dd5511',
		'15' => '#a87070',
		'16' => '#8c6d8c',
		'17' => '#627487',
		'18' => '#7083a8',
		'19' => '#5c8d87',
		'20' => '#898951',
		'21' => '#b08b59',
		'-1' => '#7a367a' 
);
///get contractor role id to check it before displaying contractor block
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
?>
    <?php
			$color = '#A1A1A1';
				switch ($this->booking ['convert_status']) {
				  case 'booking' :
			$color = '#A1A1A1';
			break;
			case 'estimate' :
			$color = '#4F8BC3';
			break;
			case 'invoice' :
			$color = '#BCD68F';
			break;
			}
	?>
	
<?php if (!empty($this->isWorkOrder)): ?>
	
				<div class="alert alert-warning alert-dismissible fade in col-md-12" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					<span class="typeprice">Work Order Attachment File Required</span>
				</div>
				
<?php endif; ?>

<div class="ibox float-e-margins">
		<div class="ibox-content">
				<div class="row">
					<div class="col-md-5">
						<h3>Booking Details</h3>
					</div>
					<div class="col-md-3 col-md-offset-4">
					
							<div class="createdTimeDiv">
								Created On&nbsp;<?php echo $this->escape(getDateFormating($this->booking['created'])); ?>
							</div>
					
					</div>
				</div>
        </div>
		
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-12">
			<nav>
				<div class="pull-left">
				<!-- booking button -->
				<div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle " aria-expanded="false">Booking&nbsp <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                        <!-- add new booking -->
                                        <?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'bookingAdd')); ?>"><span class="fa fa-plus"></span>&nbsp New Booking</a></li>
                                        <?php endif; ?>


                                        <?php if (!$this->booking['is_deleted']): ?>


                                        <!-- add complaintAdd -->
                                        <?php if (CheckAuth::checkCredential(array('complaintAdd'))): ?>
                                        <li>
                                        <a href="#" data-toggle="modal" data-target="#popupi" 
										onclick="popupi('Add Complaint','<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'complaintAdd')); ?>');">
                                        <span class="fa fa-plus"></span>&nbsp Add Complaint </a>
                                        </li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredential(array('bookingEdit')) && $this->isAccepted): ?>
                                        <li><a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingEdit')); ?>"><span class="fa fa-edit"></span>&nbsp Edit</a></li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredential(array('bookingDelete')) or $this->canDelete): ?>
                                        <li><a
                                        href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingDelete')); ?>"
                                        onclick="return confirm('are you sure you want to delete this Booking?');"><span class="fa fa-times"></span>&nbsp Delete</a>
                                        </li>
                                        <?php endif; ?>

                                        <li class="divider"></li> 
                                        <?php if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $this->isAccepted): ?>
                                        <?php if ($this->booking['convert_status'] != 'estimate' && $this->booking['convert_status'] != 'invoice'): ?>
                                        <li class="convert-to-open">
                                        <a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Convert To Estimate','<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'convertBookingToEstimate')); ?>');"><span class="fa fa-exchange"></span>&nbsp Convert to Estimate</a>
                                        </li>

                                        <?php endif; ?>
                                        <?php endif; ?>


                                        <?php if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $this->isAccepted): ?>
                                        <?php if ($this->booking['convert_status'] != 'invoice'): ?>
                                        <li class="convert-to-open">
                                        <a class="" href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'convertBookingToInvoice')); ?>"><span class="fa fa-exchange"></span>&nbsp Convert to Invoice</a>
                                        </li>

                                        <?php endif; ?>  
                                        <?php endif; ?>

                                        <li class="divider"></li>


                                        <?php if (CheckAuth::checkCredential(array('setContractorShare'))): ?>
                                        <li class="edit"><a href="#" data-toggle="modal" data-target="#popupi"
                                        onclick="popupi('Contractor Share','<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id'], 'flag' => 0), 'setContractorShare')); ?>');"
                                        class="details_info_opt">Set Technician Share</a></li>
                                        <?php endif; ?>


                                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                        <li class="convert-to-open"><a
                                        class="details_info_opt" href="#" data-toggle="modal" data-target="#popupi"
                                        onclick="popupi('Push to technician calender','<?php echo $this->escape($this->url(array('bookingId' => $this->booking['booking_id']), 'resendAdminServices')) ?>');">Push
                                        to Technician Calender</a></li>
                                        <?php endif; ?>  


                                        <li class="divider"></li>
                                        <?php if (CheckAuth::checkCredential(array('attachment'))): ?>
                                        <li class="make-recurring">
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"><span class="fa fa-upload"></span>&nbsp Files Attachment</a>
                                        </li>
                                        <?php endif; ?>


                                        <?php else: ?>

                                        <?php if (CheckAuth::checkCredential(array('bookingUndelete'))): ?>
                                        <li>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingUndelete')); ?>"
                                        onclick="return confirm('are you sure you want to restore this Booking?');">UnDelete</a>
                                        </li>
                                        <?php endif; ?>

                                        <?php endif; ?>
                                        </ul>
                </div>
				
				<!-- payment button -->
				   <?php if (!$this->booking['is_deleted']): ?>
					<div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" aria-expanded="false">Payment&nbsp <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              
								<?php if (CheckAuth::checkCredential(array('PaymentAdd')) && $this->isAccepted): ?>
                                    <li> 
										<a href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'checkStatusToAddPayment')); ?>"
										onclick="return confirm('are you sure you want to convert this Booking to invoice?\nso you add the payment ');">Add
										Payment</a>
									</li>
                                <?php endif; ?>
								
								   <?php if (CheckAuth::checkCredential(array('bookingPaymentList'))): ?>
                                       <li> <a
							href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'bookingPaymentList')); ?>">View
								Payments</a>
										</li>
                                    <?php endif; ?>
									
							<li class="divider"></li> 
							  <?php if (CheckAuth::checkCredential(array('refundAdd')) && $this->booking['paid_amount'] > 0): ?>
                                        <li><a
											href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'refundAdd')); ?>"
											onclick="return confirm('are you sure you want to convert this Booking to invoice?\nso you add the Refund ');">Add
											Refund</a></li>
                               <?php endif; ?>
                        
                                    <?php if (CheckAuth::checkCredential(array('bookingRefundList'))): ?>
                                       <li> <a
							href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id']), 'bookingRefundList')); ?>">View
								Refunds</a></li>
                                    <?php endif; ?>
                               
                            </ul>
					</div>
				  
					<!-- Email button -->
					

						<div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false">Email&nbsp <span class="caret"></span></button>
                            <ul class="dropdown-menu">
							
									<?php if($this->booking['pause_emails']){ ?>
										<li class="resume">
											<a onClick="return confirm('Are you sure you want to resume emails of this booking?')" href="<?php echo $this->url(array('id' => $this->booking['booking_id'],'process'=>'resume'), 'pauseResumeBookingEmails'); ?>" >Resume Emails</a>						
										</li>
										<?php }else{ ?>
										<li class="pause">
											<a onClick="return confirm('Are you sure you want to pause emails of this booking?')" href="<?php echo $this->url(array('id' => $this->booking['booking_id'],'process'=>'pause'), 'pauseResumeBookingEmails'); ?>" >Pause Emails</a>						
										</li>
										<?php } ?>
										
								
                            </ul>
						</div>
						
						
						
						<!-- customer button -->
						<div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" aria-expanded="false">Customer&nbsp <span class="caret"></span></button>
                            <ul class="dropdown-menu">
									
								<li class="print">
									<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Booking Customer Preview','<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingCustomerPreview')); ?>');" class="details_info_opt">Preview Booking</a>
								</li>
						
                            <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
                                <li class="send-email">
									<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' => $this->booking['customer_id'], 'type' => 'booking', 'reference_id' => $this->booking['booking_id']), 'sendEmail')); ?>');">Send Email</a>
								</li>
							<?php endif; ?>
                              
                            <?php
								$onHold = $modelBookingStatus->getByStatusName ( 'ON HOLD' );
								if ($this->booking ['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential ( array (
								'sendBookingAsEmail') )) :
							?>
                             
								<li class="email">
									<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder On Hold</a>
								</li>
                            
							<?php endif; ?>
                            
							<?php
								$tentative = $modelBookingStatus->getByStatusName ( 'TENTATIVE' );
								if ($this->booking ['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential ( array (
								'sendBookingAsEmail' ) )) : ?>
                            
								<li class="email">
									<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder Tentative</a>
								</li>
							
							<?php endif; ?>
                             
							 
                            <?php if (CheckAuth::checkCredential(array('sendBookingAsEmail'))): ?>
									<li class="email">
										<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendBookingAsEmail')); ?>')">Email Booking</a>
									</li>
							<?php endif; ?>
                              
						
                            <?php if (CheckAuth::checkCredential(array('sendWorkOrderRequestEmail')) && !empty($this->customerType['is_work_order'])): ?>
									<li class="email">
										<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendWorkOrderRequestEmail')); ?>')">Request Work Order</a>
									</li>
							<?php endif; ?>
                              
                               
							<?php if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))): ?>
                                        <?php $customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($this->booking['booking_id'], $this->booking['status_id']); ?>
                                        <?php if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1): ?>
											<li class="email">   
												<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendRequestBookingFeedback')); ?>')">Request Feedback</a>
											</li>
										<?php endif; ?>
                            <?php endif; ?>
							
							
                            <?php if (CheckAuth::checkCredential(array('downloadBooking'))): ?>
                                 <li class="export-as-pdf">
									<a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'downloadBooking')); ?>">Export as PDF</a>
								</li>
							<?php endif; ?>
                                
						
                            <?php if (CheckAuth::checkCredential(array('sendBookingAsSms'))): ?>
                                <li class="send-email">
									<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('SMS Booking','<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendBookingAsSms')); ?>')">SMS Booking</a>
								</li>
							<?php endif; ?>
             
							
								
                            </ul>
						</div>
						<!-- technician button -->
						<div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" aria-expanded="false">Technician&nbsp <span class="caret"></span></button>
                            <ul class="dropdown-menu">
							
							<li class="print">
							<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Booking Preview','<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingPreview')); ?>');" class="details_info_opt">Preview Booking</a>
							</li>
							
						
							<?php if (CheckAuth::checkCredential(array('sendBookingAsEmailToContractor'))): ?>
								<li class="email">
									<a href="javascript:;"  data-toggle="modal" data-target="#popupi" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendBookingAsEmailToContractor')); ?>')">Email Booking</a>
								</li>
								
							<?php endif; ?>
                               
							<?php
								$inProcess = $modelBookingStatus->getByStatusName ( 'IN PROGRESS' );
								$awaitingUpdate = $modelBookingStatus->getByStatusName ( 'AWAITING UPDATE' );
							?>
                             <?php if (CheckAuth::checkCredential(array('sendReminderUpdateBookingToContractor')) && ($this->booking['status_id'] == $inProcess['booking_status_id'] || $awaitingUpdate['booking_status_id'])): ?>
                                <li class="email">
										<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendReminderUpdateBookingToContractor')); ?>')">Request Update</a>
								</li>
								
							 <?php endif; ?>
                              
						
                            <?php if (CheckAuth::checkCredential(array('downloadContractorBooking'))): ?>
                                <li class="export-as-pdf">  
									<a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'downloadContractorBooking')); ?>">Export as PDF</a>
								</li>
								
							<?php endif; ?>
                               
							<?php if (CheckAuth::checkCredential(array('sendBookingAsSmsToContractor'))): ?>
                                <li class="send-email">
									<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('SMS Booking To Technician','<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendBookingAsSmsToContractor')); ?>')">SMS Booking</a>
								</li>
							<?php endif; ?>
							
                            </ul>
						</div>
						
						
							<!-- label button -->
						  <?php if (CheckAuth::checkCredential(array('bookingLabel'))): ?>
                          <div class="btn-group"> <button class="btn btn-danger "
							href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Booking Label','<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingSelectLabel')); ?>');"><i class="fa fa-tag">&nbsp label</i> </button></div>
											
                          <?php endif; ?>
						  &nbsp;
						  </div>
						    <div class="pull-left">
							
						    <?php
								    $bookingAddress = $modelBookingAddress->getByBookingId ( $this->booking ['booking_id'] );
									$nearestBookingParams = array ();
									$nearestBookingParams [] = 'unit_lot_number=' . urlencode ( $bookingAddress ['unit_lot_number'] );
									$nearestBookingParams [] = 'street_number=' . urlencode ( $bookingAddress ['street_number'] );
									$nearestBookingParams [] = 'street_address=' . urlencode ( $bookingAddress ['street_address'] );
									$nearestBookingParams [] = 'suburb=' . urlencode ( $bookingAddress ['suburb'] );
									$nearestBookingParams [] = 'state=' . urlencode ( $bookingAddress ['state'] );
									$nearestBookingParams [] = 'postcode=' . urlencode ( $bookingAddress ['postcode'] );
									$nearestBookingParams [] = 'stpartdate=' . urlencode ( date ( 'Y-m-d', strtotime ( $this->booking ['booking_start'] ) ) );
									$nearestBookingParams [] = 'stparttime=' . urlencode ( date ( 'H:i:s', strtotime ( $this->booking ['booking_start'] ) ) );
									$nearestBookingParams [] = 'city_id=' . urlencode ( $this->booking ['city_id'] );
									$nearestBookingParams [] = 'booking_id=' . urlencode ( $this->booking ['booking_id'] );
									$nearestBookingParams = implode ( "&", $nearestBookingParams );
						     ?>
							 
							 
							<!-- nearest booking -->
								<div class="btn-group"> 
									<button class="btn btn-info btn-outline " href="#" data-toggle="modal" data-target="#fn_nearest"
										onclick="fn_popupi_with_parm('Nearest Bookings','<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>','<?php echo $this->escape($nearestBookingParams) ?>');">Nearest
											Booking
												</button>
							    </div>
											
													<?php
																	$findAvailabilityParams = array ();
																	$findAvailabilityParams [] = 'unit_lot_number=' . urlencode ( $bookingAddress ['unit_lot_number'] );
																	$findAvailabilityParams [] = 'street_number=' . urlencode ( $bookingAddress ['street_number'] );
																	$findAvailabilityParams [] = 'street_address=' . urlencode ( $bookingAddress ['street_address'] );
																	$findAvailabilityParams [] = 'suburb=' . urlencode ( $bookingAddress ['suburb'] );
																	$findAvailabilityParams [] = 'state=' . urlencode ( $bookingAddress ['state'] );
																	$findAvailabilityParams [] = 'postcode=' . urlencode ( $bookingAddress ['postcode'] );
																	$findAvailabilityParams [] = 'booking_id=' . urlencode ( $this->booking ['booking_id'] );
																	$findAvailabilityParams [] = 'stpartdate=' . urlencode ( date ( 'Y-m-d', strtotime ( $this->booking ['booking_start'] ) ) );
																	$findAvailabilityParams [] = 'city_id=' . urlencode ( $this->booking ['city_id'] );
																	if($this->bookingServices){
																	foreach ( $this->bookingServices as $service ) {
																		$findAvailabilityParams [] = 'services[]=' . urlencode ( $service ['service_id'] );
																	}
																	}
																	$findAvailabilityParams = implode ( "&", $findAvailabilityParams );
																	?>
								<!-- find Availability -->
								<div class="btn-group"> 
									<button class="btn btn-info btn-outline" href="#" data-toggle="modal" data-target="#fn_nearest"
											onclick="fn_popupi_with_parm('Find Availability','<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>','<?php echo $this->escape($findAvailabilityParams) ?>');">Find
											Availability
									</button>
							    </div>
						 
				  <?php endif; ?>
				  
				  </div>
						  
						  
				</nav>
			</div>
			
		</div>
	</div>
</div>
<div class="no-margin-b">

			
		
<div class="content">

  <div class="row"> 
   <div class="col-md-6">
  <!-- status -->
  	<?php if($this->booking['is_change']){ ?>
				
				<div class="content  white-bg awaiting_approval">
					<div style="background-color: #DD4B39; height: 22px; width: 22px; float: left;"></div>
						<div class="status_container">
							<?php if(CheckAuth::checkCredential(array('canApproveBooking'))){ ?>
							<a class="a_white" href="<?php echo $this->url(array('id' => $this->booking['booking_id']), 'approvedService'); ?>" >&nbsp;AWAITING APPROVAL</a>	
							<?php }else{ ?>
							<div class="a_white" > AWAITING APPROVAL </div>
							<?php } ?>
						</div>
				</div>
	    <?php } ?>
   </div>
  </div>

	<div class="row">
		<div class="col-md-6">
		<div class="panel panel-primary no-border-color-reduis col-md-12">
	
		
	
			<h4 class="panel-heading">
		
							<?php if (CheckAuth::checkCredential(array('bookingView')) && !$this->booking['is_deleted']): ?>
								<b> <a  style="color:#FFF;" href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>"
									class="a_black"><?php echo $this->escape($this->booking['booking_num']) ?></a>
									<?php else: ?>
									<span><?php echo $this->escape($this->booking['booking_num']) ?></span>
								</b>
						   <?php endif; ?>

							
						
							
							<?php if (CheckAuth::checkCredential(array('estimateView')) && $this->bookingEstimate && !$this->bookingEstimate['is_deleted']): ?>
									<span  class="float-r">
										<b> <a style="color:#FFF"
										href="<?php echo $this->escape($this->url(array('id' => $this->bookingEstimate['id']), 'estimateView')); ?>"
										class="a_black"><?php echo $this->escape($this->bookingEstimate['estimate_num']) ?></a>
										</b>
									</span>
							<?php endif; ?>
							
			</h4>
		
			<!-- Table -->
			<div class="panel-body">
			<table class="table">
				<tbody>
						
						<tr>
							<?php $status = $modelBookingStatus->getById($this->booking['status_id']);?>
							<td  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Booking Status" style="text-align:center; background-color: <?php echo $this->escape($colors[$status['color']]) ?>;">
								<a class="strocked-text" href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Booking Status Description','<?php echo $this->escape($this->url(array('id' => $status['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>');"><?php echo $this->escape($status['name']) ?></a>
							</td>
						</tr>
						
						
						<tr>
							<td> <h3> <i class="fa fa-dollar" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Total">&nbsp;</i><?php echo $this->escape("" . number_format($this->booking['qoute'], 2)) ?> </h3>
								
							  <?php if (CheckAuth::checkCredential(array('invoiceView')) && $this->bookingInvoice && !$this->bookingInvoice['is_deleted']): ?>
                                
								<div>
									<b> <a style="color:#FFF"
											href="<?php echo $this->escape($this->url(array('id' => $this->bookingInvoice['id']), 'invoiceView')); ?>"
											class="a_black"><?php echo $this->escape($this->bookingInvoice['invoice_num']) ?></a>
									</b>
								</div>
							<?php endif; ?></td>
						</tr>
				
					
					
						
						<tr>
							<td>
								<span class="glyphicon glyphicon-map-marker"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Booking Address"></span>
						
								<a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingLocation')); ?>"> 
									<?php echo wordwrap($this->escape($this->lineAddress), 70, "<br />\n"); ?>
								</a>
							</td>
						</tr>
						
				
						
						<tr>
							<td>
								<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time" ></span>
								<?php echo $this->escape(getBookingDateFormating($this->booking['booking_start'],$this->booking['booking_end'])) ?>
							</td>
						</tr>
						
						
						
						
					
						<?php if (!empty($this->multipleDays)): ?>
                            <?php foreach ($this->multipleDays as $day): ?>
									<tr>
										<td class="valueText">
											<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time" ></span>
											<?php echo $this->escape(getBookingDateFormating($day['booking_start'],$day['booking_end'])) ?>
										</td>
									</tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
								
						<tr>
							<td>
								<span class="glyphicon glyphicon-certificate" aria-hidden="true"  data-toggle="tooltip" data-placement="top" title="Weather Status"></span>
									<?php
									$createDate = new DateTime($this->booking['booking_start']);
									$strip = $createDate->format('Y-m-d');
									$status=$weatherStatue->getByDateAndCityId($strip,$this->booking['city_id']);		
									if ($status['status']) { ?>
									<img align="top" src=<?php echo $status['img_link'];?> title="<?php echo $status['status'] ?>"/></br>
									<?php echo $status['temperature']; ?>
									<?php }else { echo "?";}?>
							</td>
						</tr>
						
						
						<tr>
						
							<td class="valueText">
								<span class="fa fa-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Property Type" ></span>
												
									
									<?php $propertyType = $modelPropertyType->getById($this->booking['property_type_id'])?>
									<?php echo $this->escape($propertyType['property_type']); ?>
							</td>
						</tr>
						
						
					
						
						
						
						
						<?php if (!empty($this->booking['to_follow'])): ?>
                            <tr>
								<th class="labelText"><b>Deferred To</b></th>
								<td class="valueText">
									<div
										id="follow_date_container_<?php echo $this->escape($this->booking['booking_id']) ?>"
										class="details_info_l">
										<div
											id="follow_date_value_<?php echo $this->escape($this->booking['booking_id']) ?>"
											style="float: left; width: 165px;">
                                                <?php echo $this->escape(getDateFormating($this->booking['to_follow']))?>
                                            </div>
										<div
											id="follow_date_button_<?php echo $this->escape($this->booking['booking_id']) ?>"
											style="float: left; margin-left: 10px;">
											<a href="javascript:;"
												onclick="change_follow_date(<?php echo $this->escape($this->booking['booking_id']) ?>)"
												class="a_link"> Edit</a>
										</div>
										<input type="hidden" id="hidden_deffer_to" value="<?php echo date("d-m-Y H:i A",$this->escape($this->booking['to_follow']));?>" />
										
									
									</div>
								</td>
							</tr>
                        <?php endif; ?>
						
						
						
						<?php
							
							foreach ($this->contractorsDistance as $contractorDistance): ?> 
                            <tr>
							
								<td>
									<div> 	
									
										<span class="glyphicon glyphicon-map-marker"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Distance To <?php echo $this->escape(ucwords($contractorDistance['name'])) ?>"></span>
										 <?php echo number_format($contractorDistance['distance'], 2); ?> KM</div>
										<div style="padding-left:14px;">
											<a class="a_link"
												href="<?php echo $this->escape($this->url(array('booking_id' => $this->booking['booking_id'], 'contractor_id' => $contractorDistance['contractor_id']), 'contractorBookingLocation')); ?>">
												View Map</a>
										</div>
										
								</td>
							</tr>
                            <?php endforeach; ?>
						
						
						
						
						<tr>
							
							<td>
								<div>
								
								<span class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Owner" ></span>
									<?php $owner = $modelUser->getById($this->booking['created_by']); ?>
									<?php echo $this->escape(ucwords($owner['username'])); ?>
								</div>
                                    <?php if (CheckAuth::checkCredential(array('claimOwner')) && $this->booking['created_by'] != $loggedUser['user_id']) : ?>                                    
								
								<div style="padding-left:14px;">                                       
										<?php $claimOwner = $modelClaimOwner->getByBookingAndUserId($this->booking['booking_id'], $loggedUser['user_id']); ?>
										<?php if (empty($claimOwner)) : ?>
										<a
										href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendClaimOwner')); ?>"
										class="details_info_opt">Claim Ownership</a>
										<?php else : ?>
											<b>Claim Pending</b>
										<?php endif; ?>
									<?php endif; ?>
								</div>
							</td>		
							
						</tr>
						
						
						
						<tr>
							<td>
							<span class="fa fa-exchange" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Convert to Booking Duration">&nbsp;</span>
							
							
									<?php 
									if(isset($this->booking['convert_to_booking_duration'])&& $this->booking['convert_to_booking_duration'] != 0){
										//// convert duration from hrs to days
										$duration_in_days = floor($this->booking['convert_to_booking_duration']/24);
										$reminder_hrs = (int)$this->booking['convert_to_booking_duration']%24;
										echo  $duration_in_days.' days and '. $reminder_hrs.' hrs';
									}
									else{
										echo '0';
									}
									?>
							</td>
								
						</tr>
					
					
					
				
				
				</table>
				<script>
					 $('[data-toggle="tooltip"]').tooltip();
				</script>
		
			</div>
	</div>
		</div>
		<div class="col-md-5 col-md-offset-1">
		<!-- label here -->
		 <?php if (isset($this->bookingLabels)): ?>
	    <table class="table table-bordered white-bg">
			<tr>
			<th> Booking Label </th>
				  <td id="label_<?php echo $this->booking['booking_id']?>">
				 <?php foreach ($this->bookingLabels as $label): ?>
						<div class="label_box" >
							<?php echo $this->escape($label['label']['label_name']); ?> 
						</div>
				  <?php endforeach; ?>
				 </td>
			</tr>
		</table>
		<?php endif;?>
		<?php
					if($loggedUser['role_id'] != $contractorRoleId){
					if ($this->contractorDistances){ 
					?>
					<div>
					  <table  class="table table-bordered white-bg">
					    <thead>
								<tr>
									<th class="curveLGrnLBg billToPadding txt-lft" >Contractor Name</th>
									<th class="curveLGrnLBg billToPadding txt-lft" >Distance from home</th>
								</tr>
						</thead>
						<tbody>
						  <?php foreach ($this->contractorDistances as $contractorDistance): ?>
									<tr>
										<td>
										<?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))){ ?>
                                                <a target="_blank" href="<?php echo $this->escape($this->url(array('contractor_id' => $contractorDistance['contractor_id']), 'settingsContractorInfoList')); ?>" style="text-decoration: none; background-color: #F7F7F7; text-align: center;" class="labelText" ><b><?php echo $contractorDistance['name']; ?></b></a>
                                        <?php } else{ ?>
                                                 <b><?php echo $contractorDistance['name']; ?></b>
                                        <?php } //view calendar ?>
										<?php $calendar_link = 'https://www.google.com/calendar/embed?src='.$contractorDistance['email1'];  ?>																	
																											
										<a target="_blank" class="a_link" href="#" onclick="window.open('<?php echo $calendar_link;?>','_blank');" >
												<i class="fa fa-calendar-o"></i>
										</a>
										<?php // our calendar ?>
										<?php $calendar_link = '/calendar?status=current&contractor='.$contractorDistance['contractor_id'];  ?>
										<a target="_blank" class="a_link" href="#" onclick="window.open('<?php echo $calendar_link; ?>','_blank')" >
											<i class="fa fa-calendar"></i> 
										</a>
											
										</td>
										<td><?php echo number_format($contractorDistance['distance'], 2); ?> KM</td>
									</tr>
								<?php endforeach; ?>
						 
						</tbody>	
					  
					  </table>
					
					</div>
			<?php }
			 }
			?>
			
             <?php if($this->questions){ ?>	
				<div style="margin-top: 30px;"  >
					<table  class="table table-bordered white-bg">
						<tbody>
							<tr>
								<td colspan="2" height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Update Booking Questions: </b>
									</div>
								</td>
							</tr>
							<?php foreach($this->questions as $question){
							?>
							<tr>
								<td class="labelText"><b><?php echo $question['question_text']; ?></b></td>
								
								<td class="valueText"><b><?php echo $question['answer_text']? $question['answer_text'] : 'No Answer' ; ?></b></td>
							</tr>
						
							<?php
							}
							?>
							
						</tbody>
					</table>
				</div>					
				<?php } ?>
			
			<div>
						
                 <?php
						$modelBooking = new Model_Booking ();
						$row = $this->booking;
						$services = $this->bookingServices;
						if (! empty ( $row ['services_temp'] ) && ! $modelBooking->checkCanEditBookingDetails ( $row ['booking_id'] )) {
							$services = $row ['services_temp'];
						} else {
							$services = $row ['services'];
						}
					?>
					
					
						<?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
						<table   id="satisfaction" class="table table-bordered white-bg">
						
							<thead>
									<th>
											  <?php 
												$mm = $this->escape($contractor_name); 
												$contractor=(explode('-',$mm,2));
												echo $contractor[0];
										      ?>
									</th>
									
									<th style="text-align: center;">Accept</th>
							</thead>
						
						
						
						<tbody>
						
							  <?php foreach ($services as $key => $service): ?>
							   	
									<tr>
									 <?php if($service['contractor_id'] == $contractor_id):?>
										<td>
											<?php echo $this->escape($service['info']['service_name']).'</br>'; ?>
										</td>
								  
								  
								  
										<td style="text-align: center; background-color: <?php if ($service['contractor_id'] != $contractor_id): ?>transparent<?php elseif ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;">
										<?php if ($service['contractor_id'] != $contractor_id): ?>
												<a
												title="<?php echo $this->escape($service['info']['service_name']); ?>"
												alt="<?php echo $this->escape($service['info']['service_name']); ?>"
												class="a_link_black">-</a>
										<?php elseif ($service['is_accepted']): ?>
											<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
											?>
											<a href="#" data-toggle="modal" data-target="#popupi"
														onclick="popupi('Reject Service','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
														class="details_info_opt"> <img height="10" width="10"
															src="/pic/white_accepted.png" border="0"
															title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
															alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
											</a>
											<?php else: ?>
											<img height="10" width="10"
														src="/pic/white_accepted.png" border="0"
														title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
														alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
											<?php endif; ?>
											<?php elseif ($service['is_rejected']): ?>
											<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
											<a href="#" data-toggle="modal" data-target="#popupi"
												onclick="popupi('Accept Admin service','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
												class="details_info_opt"> <img height="10" width="10"
													src="/pic/white_rejected.png" border="0"
													title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
													alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
											</a>
											<?php else: ?>
											<img height="10" width="10"
												src="/pic/white_rejected.png" border="0"
												title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
												alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
											<?php endif; ?>
										
											<?php else: ?>
											
											<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
											
											<a href="#" data-toggle="modal" data-target="#popupi"
													onclick="popupi('Accept Admin Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
													class="details_info_opt"> <img height="10" width="10"
													src="/pic/white_unknown.png" border="0"
													title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
													alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
											</a>
											<?php else: ?>
												<img height="10" width="10"
												 src="/pic/white_unknown.png" border="0"
												 title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
												 alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
											<?php endif; ?>
											<?php endif; ?>
											</td>
									
									<?php endif;?>
								</tr>
                        <?php endforeach ?>
						</tbody>
                       </table>
						<?php endforeach;?>
			</div>
			
			
			 <?php if (isset($status['name']) && ('COMPLETED' == $status['name'] || 'FAILED' == $status['name'])): ?>
                  <div>     
						<table cellspacing="0" cellpadding="0" border="0" class="table table-bordered white-bg">
							<tbody>
								<tr>
									<th><b>Onsite Client
											Name</b></th>
									<td class="valueText"><?php echo $this->escape(isset($this->booking['onsite_client_name']) ? $this->booking['onsite_client_name'] : "") ?></td>
								</tr>
								<tr>
									<th ><b>Job Start Time</b></th>
									<td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['job_start_time'])) ?></td>
								</tr>
								<tr>
									<th><b>Job Finish Time</b></th>
									<td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['job_finish_time'])) ?></td>
								</tr>
								<tr>
									<th><b>Customer Satisfaction</b></th>
									<td class="valueText">
										<table cellpadding="3" id="satisfaction" class="table table-bordered white-bg">
											<thead>
												<th rowspan="2"><label>Very
														Dissatisfied</label></th>
												<th><label>1</label></th>
												<th><label>2</label></th>
												<th><label>3</label></th>
												<th><label>4</label></th>
												<th><label>5</label></th>
												<th rowspan="2"><label>Very
														Satisfied</label></th>
											</thead>
											<tbody>
											<tr>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 1) ? 'background-color: #7EAF1F;' : ''; ?>" >
                                                        <?php if ($this->booking['satisfaction'] == 1): ?>
                                                            <img
													height="10" width="10" src="/pic/white_accepted.png"
													border="0" />
                                                        <?php endif; ?>
                                                    </td>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 2) ? 'background-color: #7EAF1F;' : ''; ?>">
                                                        <?php if ($this->booking['satisfaction'] == 2): ?>
                                                            <div
														style="background-color: #7EAF1F;">
														<img height="10" width="10" src="/pic/white_accepted.png"
															border="0" />
													</div>
                                                        <?php endif; ?>
                                                    </td>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 3) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->booking['satisfaction'] == 3): ?>
                                                            <div
														style="background-color: #7EAF1F;">
														<img height="10" width="10" src="/pic/white_accepted.png"
															border="0" />
													</div>
                                                        <?php endif; ?>
                                                    </td>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 4) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->booking['satisfaction'] == 4): ?>
                                                            <div
														style="background-color: #7EAF1F;">
														<img height="10" width="10" src="/pic/white_accepted.png"
															border="0" />
													</div>
                                                        <?php endif; ?>
                                                    </td>
												<td style="<?php echo $this->escape($this->booking['satisfaction'] == 5) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->booking['satisfaction'] == 5): ?>
                                                            <div
														style="background-color: #7EAF1F;">
														<img height="10" width="10" src="/pic/white_accepted.png"
															border="0" />
													</div>
													</div>
                                                        <?php endif; ?>
                                                    </td>
											</tr>
											</tbody>
										</table>

									</td>
								</tr>
								<tr>
									<th><b>Products Name</b></th>
									<td class="valueText">
                                            <?php $modelBookingProduct = new Model_BookingProduct(); ?>
                                            <?php $modelProduct = new Model_Product(); ?>
                                            <?php $bookingProducts = $modelBookingProduct->getByBookingId($this->booking['booking_id']); ?>
                                            <?php ?>
                                            <?php foreach ($bookingProducts as $bookingProduct) : ?>
                                                <?php $product = $modelProduct->getById($bookingProduct['product_id']); ?>
                                                <div>
                                                    <?php echo $this->escape(count($bookingProducts) > 1) ? '&#187;' : ''; ?>
                                                    <?php echo $this->escape($product['product']) ?> <b><?php echo $this->escape(!empty($bookingProduct['ltr']) ? '(' . $bookingProduct['ltr'] . 'Ltr)' : ''); ?></b>
										</div>
                                            <?php endforeach; ?>
                                        </td>
								</tr>
							</tbody>
						</table>
					</div>
                    <?php endif; ?>
				<!-- customer info table panel -->

                    <?php
					$customerView = new Zend_View ();
					$customerView->setScriptPath ( APPLICATION_PATH . '/modules/default/views/scripts/common-views' );
					$customerView->customer_id = $this->booking ['customer_id'];
					$customerView->allDetails = $this->isAccepted;
					echo $customerView->render ( 'customer_info.phtml' );
					?>
		</div>
	</div>
	
</div>		
		<!-- description table -->		
	<div class="content">
		<div class="row">
		
				<div class="col-md-12">
					<div class="panel panel-primary no-border-color-reduis col-md-12">
					<h4 class="panel-heading">Description <?php $description = wordwrap ( $this->booking ['description'], 90, "\n", true );?></h4>
						<div class="panel-body">
							<p><?php echo nl2br($this->escape($description)); ?></p>
						</div>
				
				</div>
			</div>
		</div>
	</div>
	
<?php if ($this->bookingServices): ?>
<div class="ibox no-margin-b">
<div class="content">
		<div class="row">
		
		<div class="col-md-12">	
		<div class="panel panel-primary no-border-color-reduis col-md-12 services_panel">
							<?php foreach ($this->bookingServices as $key => $bookingService): ?>
                            <?php
							
							$isAccepted = $bookingService['is_accepted'];
							$isrejected = $bookingService['is_rejected'];
							
							$serviceId = $bookingService ['service_id'];
							$clone = $bookingService ['clone'];
							$bookingId = $bookingService ['booking_id'];
							$contractorId = $bookingService ['contractor_id'];
							$serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
							$serviceDetails = $modelServices->getById ( $serviceId );
							$user = $modelUser->getById($contractorId );
							$userInfo = 0;
							$contractorInfo = 0;
							$roleName = $modelAuthRole->getRoleName ( $user ['role_id'] );
							?>
                            <?php if ('contractor' == $roleName): ?>
								<?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                            <?php else: ?>
                                <?php $userInfo = $modelUserInfo->getByUserId($contractorId)?>
                            <?php endif; ?>
				
				
								
								<div class="panel-heading">
										<span><h4><i class="fa fa-star">&nbsp;</i>
											<b><?php echo $this->escape($serviceDetails['service_name']); ?></b></h4>
											
											
											
											
										<?php if($isAccepted ==1):?>
												<span class="float-r accepted_services">
													<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):?>
														
														<a href="#" data-toggle="modal" data-target="#popupi"
															onclick="popupi('Reject Service','<?php echo $this->escape($this->url(array('bookingId' => $bookingId ), 'rejectAdminServices')); ?>');"> 
															<img height="12" width="12"
															src="/pic/white_accepted.png" border="0"
															alt="Accept">
														</a>
													<?php else: ?>
														<img height="12" width="12"
															src="/pic/white_accepted.png" border="0"
															alt="Accept">
													<?php endif;?>
												</span>
												
												
										<?php elseif($isrejected == 1):?>
											<span class="float-r reject_services">
											<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
													<a href="#" data-toggle="modal" data-target="#popupi"
													   onclick="popupi('Accept Admin service','<?php echo $this->escape($this->url(array('bookingId' => $bookingId), 'acceptAdminServices')); ?>');"
													> 
													<img height="12" width="12"
													src="/pic/white_rejected.png" border="0"
													alt="Accept">
													</a>
											<?php else:?>
													
													<img height="12" width="12"
													src="/pic/white_rejected.png" border="0"
													alt="Accept">
											
											<?php endif;?>
											</span>
										<?php elseif($isrejected==0 && $isAccepted==0 ):?>
											
											<span class="float-r unknown_services">
											<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
													<a href="#" data-toggle="modal" data-target="#popupi"
													   onclick="popupi('Accept Admin service','<?php echo $this->escape($this->url(array('bookingId' => $bookingId), 'acceptAdminServices')); ?>');"
													> 
													<img height="12" width="12"
														 src="/pic/white_unknown.png" border="0"
														 alt="Accept">
													</a>
											<?php else:?>
														<img height="12" width="12"
														 src="/pic/white_unknown.png" border="0"
														 alt="Accept">
											<?php endif;?>	
											</span>
											
										<?php endif; ?>
											
										</span>
								</div>
								
								
								
								<div class="panel-body">
										
									
							
									<?php 
											$serviceAttribute = $modelServiceAttribute->getAttributeByServiceId ( $serviceId );
											$unit_price = 0;
											$qty = 0;
												foreach ( $serviceAttribute as $attribute ) {
													if (! empty ( $this->isTemp )) {
													$value = $modelServiceAttributeValueTemp->getByBookingIdAndServiceAttributeIdAndClone ( $bookingId, $attribute ['service_attribute_id'], $clone );
													} else {
													$value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone ( $bookingId, $attribute ['service_attribute_id'], $clone );
													}
													switch ($attribute ['attribute_name']) {
													case 'Quantity' :
														$qty = $value ['value'];
														break;
													case 'Price' :
														$unit_price = $value ['value'];
													break;		
												}
												}
									?>
									<div>
										<ul class="display-mobile">
												<li>
													<div>UNIT PRICE</div>
													<div><b><?php echo $this->escape($unit_price); ?></b></div>
												</li>
												
												<li>
													<div>QTY</div>
													<div><b><?php echo $this->escape($qty); ?></b></div>
												</li>
												
												<li>
													<div>TOTAL</div>
													<div><b><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></b></div>
												</li>
										</ul>
								<?php /*	<table class="table invoice-table no-margin-b mobile-display">
										<thead>
											<th>UNIT PRICE</th>
											<th>QTY</th>
											<th>TOTAL</th>
											
										</thead>
										<tbody>								
											<td><?php echo $this->escape($unit_price); ?></td>
											<td><?php echo $this->escape($qty); ?></td>
											<td><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
										</tbody>
									</table>
									*/?>
									
									</div>
									<div class="clearfix"></div>
									
									<table class="table invoice-table">
										
										
										<thead>										
												<th>
													Technician:	
													<span class="normal_font"> 
													<?php echo $this->escape($userInfo ? $userInfo['first_name'] . ' ' . $userInfo['last_name'] : (ucwords($user['username']) . ($contractorInfo ? ' - ' . ucwords($contractorInfo['business_name']) : '')))?>
													</span>
												</th>
												<th style="width:10%;" class="mobile-none-display" >UNIT PRICE</th>											
												<th class="mobile-none-display">QTY</th>
												<th class="mobile-none-display">TOTAL</th>
										</thead>
										<tbody>
											<td>
											
											<p id="service_desc">
											<?php if ($this->priceArray[$serviceAndClone] <= $serviceDetails['min_price']): ?>
														<div><b>Min-price: </b> <span class="normal_font"><?php echo $this->escape($serviceDetails['min_price']); ?></span></div>
											 <?php endif;?>
											<?php
												
													foreach ( $serviceAttribute as $attribute ) {
													// $serviceAttribute = $modelServiceAttribute->getByAttributeIdAndServiceId($attribute['attribute_id'], $attribute['service_id']);
													if (! empty ( $this->isTemp )) {
													$value = $modelServiceAttributeValueTemp->getByBookingIdAndServiceAttributeIdAndClone ( $bookingId, $attribute ['service_attribute_id'], $clone );
													} else {
													$value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone ( $bookingId, $attribute ['service_attribute_id'], $clone );
													}
													switch ($attribute ['attribute_name']) {
													case 'Quantity' :
														$qty = $value ['value'];
														break;
													case 'Price' :
														$unit_price = $value ['value'];
													break;
													default :
													if ($value ['value']) {
													 $att = $modelAttributeType->getById ( $attribute ['attribute_type_id'] );
											    ?> 
													<?php if($attribute['attribute_name'] != "Description"){
															echo '<b>'.$this->escape($attribute['attribute_name']).'</b>'; ?> :
														<span class="normal_font">
																	<?php
																			if ($att ['is_list']) {
																			if ($value ['is_serialized_array']) {
																			$values = unserialize ( $value ['value'] );
																			foreach ( $values as $value ) {
																			$attributeListValue = $modelAttributeListValue->getById ( $value );
																			if($attributeListValue['description']){
																				$desc = $attributeListValue['description'];
																			}
																			if ($attributeListValue ['unit_price']) {
																				echo '<div>' . $this->escape ( $attributeListValue ['attribute_value'] ) . '&ensp;&ensp;&ensp;Price(' . $this->escape ( number_format ( $attributeListValue ['unit_price'], 2 ) ) . ')</div>';
																			
																				} else {
																				echo '<div>' . $this->escape ( $attributeListValue ['attribute_value'] ) . '</div>';
																				}
																				}
																				} else {
																				$attributeListValue = $modelAttributeListValue->getById ( $value ['value'] );
																				if ($attributeListValue ['unit_price']) {
																				echo $this->escape ( $attributeListValue ['attribute_value'] ) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape ( number_format ( $attributeListValue ['unit_price'], 2 ) ) . ')</b>';
																				} else {
																				echo $this->escape ( $attributeListValue ['attribute_value'] ).'<br/>';
																				}
																				}
																				} else {
																					if($attribute['attribute_name'] == 'Description'){
																							  $description = nl2br ( $this->escape ( $value ['value'] ) ).'<br/>';
																							 }
																							 else{
																							  echo nl2br ( $this->escape ( $value ['value'] ) ).'<br/>';
																							 }
																			
																				}

																	}else{
																		
																		
																		
																	}
																	}
																			break;
																				}
																			}
																	?>
																	<div><b>Description : </b><span class="normal_font" id="descriptions"><?php echo $description ;?></span></div>
														</span>
												</p>
												
											</td>
									
										


											<td class="mobile-none-display"><?php echo $this->escape($unit_price); ?></td>
											<td class="mobile-none-display"><?php echo $this->escape($qty); ?></td>
											<td class="mobile-none-display"><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
										</tbody>
									
									</table>
							
									
									
								</div>
				
			<?php endforeach;?>
		</div>
		</div>
		</div>
</div>





	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<div class="ibox no-margin-b">	
		<div class="row">
						<?php
						$totalAmountDetails = $modelBooking->getTotalAmountBookingDetails ( $this->booking ['booking_id'] );
						$rowspan = 9;
						$rowspan = ! empty ( $totalAmountDetails ['call_out_fee'] ) ? $rowspan + 1 : $rowspan;
						?>

				<div class="col-md-4 col-md-offset-8">	
				
			<table class="table table-bordered white-bg">
				<tr>
					<th><label>Sub Total:</label></th>
					<td><?php echo $this->escape(number_format($totalAmountDetails['sub_total'], 2)); ?></td>
				</tr>
				<?php if ($totalAmountDetails['call_out_fee']): ?>
				<tr>
					<th><label>Call Out Fee:</label></th>
					<td><?php echo $this->escape(number_format($totalAmountDetails['call_out_fee'], 2)); ?></td>
				</tr>
				<?php endif; ?>
				<tr>
					<th><label>Discount:</label></th>
					<td><?php echo $this->escape(number_format($totalAmountDetails['total_discount'], 2)); ?></td>
				</tr>
				<tr>
					<th><label>GST (<?php echo (100 * get_config('gst_tax')); ?>%):</label></th>
					<td><?php echo $this->escape(number_format($totalAmountDetails['gst'], 2)); ?></td>
				</tr>
				
				<tr>
					<th><label>Total:</label></th>
					<td>$<?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?></td>
				</tr>
				
				
				<tr>
					<th><label>Refund:</label> </th>
					<td>(-) <?php echo $this->escape(number_format($totalAmountDetails['refund'], 2)); ?></td>
				</tr>
				<tr>
					<th><label>Total Amount:</label> </th>
					<td>$<?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?></td>
				</tr>
				
				<tr>
					<th><label>Paid Amount:</label> </th>
					<td>(-) <?php echo $this->escape(number_format($totalAmountDetails['paid_amount'], 2)); ?></td>
				</tr>
				<tr>
					<th><label>Balance Due:</label></th>
					<td>$<?php echo $this->escape(number_format($totalAmountDetails['balance_due'], 2)); ?></td>
				</tr>
				
				
				
			</table>
		
				</div>
				
				
		</div>
	
</div>
<?php endif;?>
<!-- tabs div -->
	  <?php
					$view = new Zend_View ();
					$view->setScriptPath ( APPLICATION_PATH . '/modules/default/views/scripts/common-views' );
					$view->bookingId = $this->bookingId;
					$view->view = 'booking';
					echo $view->render ( 'tabs.phtml' );
					
					$go_to_url_pre =  explode('?', $_SERVER['REQUEST_URI'], 2);
					$go_to_url =  'http://' . $_SERVER['HTTP_HOST'] . $go_to_url_pre[0];
					
					
					
					$parametrs = array ();
					$parametrs [] = 'id=' . urlencode ($this->bookingId);
					$parametrs [] = 'go_to_url=' . urlencode ($go_to_url);
					
					$param = implode('&', $parametrs);
					
					
					// var_dump($db->getProfiler()->getQueryProfiles());
					
		?>
		
		
</div>	
<script>


			var tdElem = document.getElementById('descriptions').innerText;
			
			if ($(window).width() < 500) {
				   var res = tdElem .substring(0,100);
					document.getElementById("descriptions").innerHTML = res + '<a  onclick="test()"> More</a>' ;
				
			   }
			   
			   
		     function myFunction(){
				    var res = tdElem .substring(0,100);
					document.getElementById("descriptions").innerHTML = res + '<a  onclick="test()"> More</a>' ;
			 }
			 
			 
			 
			function test(){

				document.getElementById("descriptions").innerHTML = tdElem + '<a  onclick="myFunction()"> Less</a>' ;
			}
			
		 $(document).ready(function() {
			
			 
			 
		 <?php 
		    $session = new Zend_Session_Namespace();
            $viewPopup = $session->viewPopup;
		?>
		<?php if($viewPopup && $viewPopup == '1'):?>
		<?php 
		    $session = new Zend_Session_Namespace();
            $session->viewPopup = '0';
			$viewPopup = $session->viewPopup;
		?>
	  $('#popupi').modal('show');
	  popupi_with_parm('Booking Confirmation','<?php echo $this->escape($this->url(array(), 'sendBookingConfirmationAsEmail')) ?>','<?php echo $this->escape($param) ?>');
	   
	<?php endif;?>
	
	 $.ajax({
                type: "POST",
                 url:'<?php echo $this->escape($this->url(array('type'=>'booking','type_id'=>$this->booking['booking_id']), 'updateFullTextSearchByTypeAndTypeId')); ?>',
                success: function(result) {
					console.log(result);
                }
            });
	
   });
    
    function sendEmail(url) {
        $(document).ready(function() {
            popupi("Send Email",url);
        });
    }
    
    function disableContractorShare(contractor_id){
        $('#contractor_shares['+contractor_id+']').val(0);
    }
    
    
    function change_follow_date(booking_id){
       
        var value = $('#hidden_deffer_to').val();
        $('#follow_date_value_'+booking_id).html('<div class="input-group date" id="datetimepicker2"><input class="form-control" type="text"  id="follow_date_'+booking_id+'"  value="'+value+'" /><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>');
        $('#follow_date_button_'+booking_id).css('padding-top','2px');
        $('#follow_date_button_'+booking_id).html('<a href="javascript:;" onclick="save_follow_date('+booking_id+')" class="a_link">Save</a>');
           $('#datetimepicker2').datetimepicker({
            format: 'D-M-YYYY LT'
        });
    }
    
    function save_follow_date(booking_id){
        $('#follow_date_button_'+booking_id).css('padding-top','0');
        $('#follow_date_button_'+booking_id).html('<img src="/pic/loading-4.gif">');
        $('#label_'+booking_id).remove();
        
        var follow_date = $('#follow_date_'+booking_id).val();
        if(follow_date != ''){
            $.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array(), 'modifyFollowDate')); ?>',
                data:{
                    'follow_date':follow_date,
                    'booking_id':booking_id
                },
				dataType: 'json',
                success: function(result) {
                    if(result.st == 2){
                        $('#follow_date_value_'+booking_id).html(result.msg);
                        $('#follow_date_button_'+booking_id).html('<a href="javascript:;" onclick="change_follow_date('+booking_id+')" class="a_link">Edit</a>');
						$('#hidden_deffer_to').val(follow_date);
                    }
                }
            
            });
        }else{
            $('#follow_date_value_'+booking_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="follow_date_'+booking_id+'" readonly="readonly" />');
            $('#follow_date_button_'+booking_id).css('padding-top','2px');
            $('#follow_date_button_'+booking_id).html('<a href="javascript:;" onclick="save_follow_date('+booking_id+')" class="a_link">Save</a>');
            $('#follow_date_container_'+booking_id).after('<label id="label_'+booking_id+'"class="error">Field required</label>');
             $('#follow_date_'+inquiry_id).datetimepicker({
                 format:'D-M-YYYY LT'
            });
        }
    }
</script>