<div class="row">
   <div class="col-md-8">
    <div class="ibox float-e-margins">
    <div class="ibox-title">
	 Search Results for <span style="font-size: 18px; font-weight: normal; color: #2666B0;">"<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>"</span>
	</div>
	<div class="ibox-content">
	 <?php if (count($this->inquiryData) || count($this->bookingData) || count($this->estimateData) || count($this->invoiceData) || count($this->customerData) || count($this->complaintData)) : ?>
	 <div class="row">
	  <div class="col-md-4">
		 <table class="table table-striped table-bordered">
		 <thead>
		  <th>Inquiry</th>
		 </thead>
		 <tbody>
		  <?php if (count($this->inquiryData)): ?>
		    <?php foreach ($this->inquiryData as $inquiry): ?>
			 <tr>
			 <td><a href="<?php echo $this->escape($this->url(array('id' => $inquiry['inquiry_id']), 'inquiryView')); ?>"><?php echo $inquiry['inquiry_num']; ?></a>
			 </td>
			 </tr>
			 <?php endforeach; ?>
			 <?php else: ?>
                        <tr><td>There are no Inquiry Result.</td></tr>
                <?php endif; ?>
		 </tbody>
		 </table>		 
		       <div>
                    <?php if (count($this->inquiryPageLinks) > 3): ?>
                        <ul class="pagination" style="margin-left: 0px;">
                            <?php  foreach ($this->inquiryPageLinks as $inquiryPageLink) : ?>
                                        <li><?php echo $inquiryPageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
				
		</div>
		<div class="col-md-4">
		 <table class="table table-striped table-bordered">
		 <thead>
		  <th>Booking</th>
		 </thead>
		 <tbody>
		  <?php if (count($this->bookingData)): ?>
		    <?php foreach ($this->bookingData as $booking): ?>
			 <tr>
              <td>
<a href="<?php echo $this->escape($this->url(array('id' => $booking['booking_id']), 'bookingView')); ?>"><?php echo $booking['booking_num']; ?></a>
			   
			  </td>
			 </tr>
			 <?php endforeach; ?>
			 <?php else: ?>
                        <tr><td>There are no Booking Result.</td></tr>
                <?php endif; ?>
		 </tbody>
		 </table>		 
		       <div>
                    <?php if (count($this->bookingPageLinks) > 3): ?>
                        <ul class="pagination" style="margin-left: 0px;">
                            <?php  foreach ($this->bookingPageLinks as $bookingPageLink) : ?>
                                        <li><?php echo $bookingPageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
				
		</div>
		
		<div class="col-md-4">
		 <table class="table table-striped table-bordered">
		 <thead>
		  <th>Estimate</th>
		 </thead>
		 <tbody>
		  <?php if (count($this->estimateData)): ?>
		    <?php foreach ($this->estimateData as $estimate): ?>
			 <tr>
                <td><a href="<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'estimateView')); ?>"><?php echo $estimate['estimate_num']; ?></a>
			    </td>
			 </tr>
			 <?php endforeach; ?>
			 <?php else: ?>
                        <tr><td>There are no Estimate Result.</td></tr>
                <?php endif; ?>
		 </tbody>
		 </table>		 
		       <div>
                    <?php if (count($this->estimatePageLinks) > 3): ?>
                        <ul class="pagination" style="margin-left: 0px;">
                            <?php  foreach ($this->estimatePageLinks as $estimatePageLink) : ?>
                                        <li><?php echo $estimatePageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
				
		</div>
		
	 </div>
	 <div class="row">
	  <div class="col-md-4">
		 <table class="table table-striped table-bordered">
		 <thead>
		  <th>Invoice</th>
		 </thead>
		 <tbody>
		  <?php if (count($this->invoiceData)): ?>
		    <?php foreach ($this->invoiceData as $invoice): ?>
			 <tr>
               <td><a href="<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'invoiceView')); ?>"><?php echo $invoice['invoice_num']; ?></a>
			   </td>
			 </tr>
			 <?php endforeach; ?>
			 <?php else: ?>
                        <tr><td>There are no Invoice Result.</td></tr>
                <?php endif; ?>
		 </tbody>
		 </table>		 
		       <div>
                    <?php if (count($this->invoicePageLinks) > 3): ?>
                        <ul class="pagination" style="margin-left: 0px;">
                            <?php  foreach ($this->invoicePageLinks as $invoicePageLink) : ?>
                                        <li><?php echo $invoicePageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
				
		</div>
		
		<div class="col-md-4">
		 <table class="table table-striped table-bordered">
		 <thead>
		  <th>Customer</th>
		 </thead>
		 <tbody>
		  <?php if (count($this->customerData)): ?>
		    <?php foreach ($this->customerData as $customer): ?>
			 <tr>
               <td> <a href="<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'customerView')); ?>"><?php echo get_customer_name($customer); ?></a>
			   </td>
			 </tr>
			 <?php endforeach; ?>
			 <?php else: ?>
                        <tr><td>There are no Customer Result.</td></tr>
                <?php endif; ?>
		 </tbody>
		 </table>		 
		       <div>
                    <?php if (count($this->customerPageLinks) > 3): ?>
                        <ul class="pagination" style="margin-left: 0px;">
                            <?php  foreach ($this->customerPageLinks as $customerPageLink) : ?>
                                        <li><?php echo $customerPageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
				
		</div>
		
		<div class="col-md-4">
		 <table class="table table-striped table-bordered">
		 <thead>
		  <th>Complaint</th>
		 </thead>
		 <tbody>
		  <?php if (count($this->complaintData)): ?>
		    <?php foreach ($this->complaintData as $complaint): ?>
			 <tr>
               <td> <a href="<?php echo $this->escape($this->url(array('id' => $complaint['complaint_id']), 'complaintView')); ?>"><?php echo $complaint['complaint_num']; ?></a>
			   </td>
			 </tr>
			 <?php endforeach; ?>
			 <?php else: ?>
                        <tr><td>There are no Complaint Result.</td></tr>
                <?php endif; ?>
		 </tbody>
		 </table>		 
		       <div>
                    <?php if (count($this->complaintPageLinks) > 3): ?>
                        <ul class="pagination" style="margin-left: 0px;">
                            <?php  foreach ($this->complaintPageLinks as $complaintPageLink) : ?>
                                        <li><?php echo $complaintPageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
				
		</div>
	 </div>
	 <?php else: ?>
                <div class="result_no_rows_message">There are no Result.</div>
            <?php endif; ?> 
	</div>
	
	</div>
   
   </div>
   <div class="col-md-4">
    <?php echo $this->render('search/search.phtml'); ?>
   </div>
   
</div>   

 <div style="clear:both"></div>