<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Search Results for <span style="font-size: 18px; font-weight: normal; color: #2666B0;">"<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>"</span>
                </div>
                <div class="clearb"></div>
            </div>

            <?php if (count($this->inquiryData) || count($this->bookingData) || count($this->estimateData) || count($this->invoiceData) || count($this->customerData) || count($this->complaintData)) : ?>

                <div class="result_box">
                    <div class="result_menu_cont">
                        Inquiry
                    </div>
                    <?php if (count($this->inquiryData)): ?>
                        <div class="result_cont">
                            <?php foreach ($this->inquiryData as $inquiry): ?>
                                <div>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $inquiry['inquiry_id']), 'inquiryView')); ?>"><?php echo $inquiry['inquiry_num']; ?></a>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <?php if (count($this->inquiryPageLinks) > 3): ?>
                            <div>
                                <ul class="pagination">
                                    <?php foreach ($this->inquiryPageLinks as $inquiryPageLink) : ?>
                                        <li><?php echo $inquiryPageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endif; ?>
                    <?php else: ?>
                        <div class="result_no_rows_message">There are no Inquiry Result.</div>
                    <?php endif; ?>
                </div>

                <div class="result_box">
                    <div class="result_menu_cont">
                        Booking
                    </div>
                    <?php if (count($this->bookingData)): ?>
                        <div class="result_cont">
                            <?php foreach ($this->bookingData as $booking): ?>
                                <div>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $booking['booking_id']), 'bookingView')); ?>"><?php echo $booking['booking_num']; ?></a>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <?php if (count($this->bookingPageLinks) > 3): ?>
                            <div>
                                <ul class="pagination">
                                    <?php foreach ($this->bookingPageLinks as $bookingPageLink) : ?>
                                        <li><?php echo $bookingPageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endif; ?>
                    <?php else: ?>
                        <div class="result_no_rows_message">There are no Booking Result.</div>
                    <?php endif; ?>
                </div>

                <div class="result_box">
                    <div class="result_menu_cont">
                        Estimate
                    </div>
                    <?php if (count($this->estimateData)): ?>
                        <div class="result_cont">
                            <?php foreach ($this->estimateData as $estimate): ?>
                                <div>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'estimateView')); ?>"><?php echo $estimate['estimate_num']; ?></a>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <?php if (count($this->estimatePageLinks) > 3): ?>
                            <div>
                                <ul class="pagination">
                                    <?php foreach ($this->estimatePageLinks as $estimatePageLink) : ?>
                                        <li><?php echo $estimatePageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endif; ?>
                    <?php else: ?>
                        <div class="result_no_rows_message">There are no Estimate Result.</div>
                    <?php endif; ?>

                </div>

                <div class="clearb"></div>

                <div class="result_box">
                    <div class="result_menu_cont">
                        Invoice
                    </div>
                    <?php if (count($this->invoiceData)): ?>
                        <div class="result_cont">
                            <?php foreach ($this->invoiceData as $invoice): ?>
                                <div>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'invoiceView')); ?>"><?php echo $invoice['invoice_num']; ?></a>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <?php if (count($this->invoicePageLinks) > 3): ?>
                            <div>
                                <ul class="pagination">
                                    <?php foreach ($this->invoicePageLinks as $invoicePageLink) : ?>
                                        <li><?php echo $invoicePageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endif; ?>
                    <?php else: ?>
                        <div class="result_no_rows_message">There are no Invoice Result.</div>
                    <?php endif; ?>

                </div>

                <div class="result_box">
                    <div class="result_menu_cont">
                        Customer
                    </div>
                    <?php if (count($this->customerData)): ?>
                        <div class="result_cont">
                            <?php foreach ($this->customerData as $customer): ?>
                                <div>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'customerView')); ?>"><?php echo get_customer_name($customer); ?></a>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <?php if (count($this->customerPageLinks) > 3): ?>
                            <div>
                                <ul class="pagination">
                                    <?php foreach ($this->customerPageLinks as $customerPageLink) : ?>
                                        <li><?php echo $customerPageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endif; ?>
                    <?php else: ?>
                        <div class="result_no_rows_message">There are no Customer Result.</div>
                    <?php endif; ?>

                </div>

                <div class="result_box">
                    <div class="result_menu_cont">
                        Complaint
                    </div>
                    <?php if (count($this->complaintData)): ?>
                        <div class="result_cont">
                            <?php foreach ($this->complaintData as $complaint): ?>
                                <div>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $complaint['complaint_id']), 'complaintView')); ?>"><?php echo $complaint['complaint_num']; ?></a>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <?php if (count($this->complaintPageLinks) > 3): ?>
                            <div>
                                <ul class="pagination">
                                    <?php foreach ($this->complaintPageLinks as $complaintPageLink) : ?>
                                        <li><?php echo $complaintPageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endif; ?>
                    <?php else: ?>
                        <div class="result_no_rows_message">There are no Complaint Result.</div>
                    <?php endif; ?>
                </div>
            <?php else: ?>
                <div class="result_no_rows_message">There are no Result.</div>
            <?php endif; ?>            
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php echo $this->render('search/search.phtml'); ?>
            </div>
        </td>
    </tr>
</table>
