<form id="search_form" action="<?php echo $this->escape($this->url(array(), 'search')); ?>" method="GET" >
    <div class="search">
        <div style="margin-bottom: 5px;">
            Search 
        </div>
        <div id="search">
            <div class="filter_border_top"></div>
            <div class="filter_book_cont">
                <span class="formLabel">Inquiry#</span>
                <input name="fltr[inquiry_num]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['inquiry_num']) ? $this->filters['inquiry_num'] : '')); ?>" />
            </div>
            
            <div class="filter_book_cont">
                <span class="formLabel">Booking#</span>
                <input name="fltr[booking_num]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['booking_num']) ? $this->filters['booking_num'] : '')); ?>" />
            </div>
            
            <div style="margin-bottom: 15px;">
                <span class="formLabel">Estimate#</span>
                <input name="fltr[estimate_num]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['estimate_num']) ? $this->filters['estimate_num'] : '')); ?>" />
            </div>
            
            <div style="margin-bottom: 15px;">
                <span class="formLabel">Invoice#</span>
                <input name="fltr[invoice_num]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['invoice_num']) ? $this->filters['invoice_num'] : '')); ?>" />
            </div>
            
            <div class="filter_book_cont">
                <span class="formLabel">Business Name</span>
                <input name="fltr[bussiness_name]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['bussiness_name']) ? $this->filters['bussiness_name'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Address</span>
                <input name="fltr[address]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['address']) ? $this->filters['address'] : '')); ?>" />
            </div>
            <div class="filter_book_cont">
                <span class="formLabel">Email</span>
                <input name="fltr[email]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['email']) ? $this->filters['email'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Mobile/Phone#</span>
                <input name="fltr[mobile/phone]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['mobile/phone']) ? $this->filters['mobile/phone'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Booking Start Time</span>
                <input name="fltr[booking_start]" type="text" style="width: 100%;" id="booking_start_time"  readonly="readonly" value="<?php echo $this->escape((!empty($this->filters['booking_start']) ? $this->filters['booking_start'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Booking End Time</span>
                <input name="fltr[booking_end]" type="text" id="booking_end_time" style="width: 100%;" readonly="readonly" value="<?php echo $this->escape((!empty($this->filters['booking_end']) ? $this->filters['booking_end'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Customer Name</span>
                <?php
                $modelCustomer = new Model_Customer();
                $customers = $modelCustomer->getAllCustomer(true, array('have_booking' => true));

                $customer = new Zend_Form_Element_Select('customer_id');
                $customer->setBelongsTo('fltr');
                $customer->setDecorators(array('ViewHelper'));
                $customer->setAttrib("style", "width: 100%;");
                $customer->setAttrib("id", "customer_id");
                $customer->setValue((!empty($this->filters['customer_id']) ? $this->filters['customer_id'] : ''));
                $customer->addMultiOption('', 'Select One');
                $customer->addMultiOptions($customers);
                echo $customer->render();
                ?>
            </div>

            <?php if (CheckAuth::checkCredential(array('canSeeAllContractorBooking'))) : ?>
                <div style="margin-bottom: 15px;">
                    <span class="formLabel">Technician Name</span>
                    <?php
                    $modelUser = new Model_User();
                    $allContractor = $modelUser->getAllContractor(TRUE);

                    $contractor = new Zend_Form_Element_Select('contractor_id');
                    $contractor->setBelongsTo('fltr');
                    $contractor->setDecorators(array('ViewHelper'));
                    $contractor->setAttrib("style", "width: 100%;");
                    $contractor->setValue((!empty($this->filters['contractor_id']) ? $this->filters['contractor_id'] : ''));
                    $contractor->addMultiOption('', 'Select One');
                    $contractor->addMultiOptions($allContractor);
                    echo $contractor->render();
                    ?>
                </div>
            <?php endif; ?>

            <div style="margin-bottom: 15px;">
                <span class="formLabel">Service Name</span>
                <?php
                $modelServices = new Model_Services();
                $allService = $modelServices->getAllService();

                $service = new Zend_Form_Element_Select('service_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttrib("style", "width: 100%;");
                $service->setValue((!empty($this->filters['service_id']) ? $this->filters['service_id'] : ''));
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allService);
                echo $service->render();
                ?>
            </div>

            <div style="margin-bottom: 15px;">
                <span class="formLabel">Booking Total Range</span>
                <table border="0">
                    <tr>
                        <td style="text-align: left;"><input name="fltr[qoute_from]" type="text" style="width: 94px;" value="<?php echo $this->escape((!empty($this->filters['qoute_from']) ? $this->filters['qoute_from'] : '')); ?>" /></td>
                        <td>-</td>
                        <td style="text-align: left;"><input name="fltr[qoute_to]" type="text" style="width: 94px;" value="<?php echo $this->escape((!empty($this->filters['qoute_to']) ? $this->filters['qoute_to'] : '')); ?>" /></td>
                    </tr>
                </table>
            </div>
            
            <?php
            $country_id = (!empty($this->filters['country_id']) ? $this->filters['country_id'] : CheckAuth::getCountryId());
            ?>

            <div style="margin-bottom: 15px;">
                <span class="formLabel">Country</span>
                <?php
                $modelCountries = new Model_Countries();
                $allCountries = $modelCountries->getAllCountries();

                $service = new Zend_Form_Element_Select('country_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttribs(array("id" => "country", "class" => "right-side-input-text", "onchange" => "getStateByCountryId();"));
                $service->setValue($country_id);
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allCountries);
                echo $service->render();
                ?>
                <div style="clear: both;"></div>
            </div>

            <div id="display_state" style=";margin-bottom: 15px;<?php echo $this->escape(empty($country_id) ? "display: none;" : ""); ?>">
                <span class="formLabel">State</span>
                <div id="state_cont">
                    <?php
                    $modelCities = new Model_Cities();
                    $allState = $modelCities->getStateByCountryId(($country_id), TRUE);

                    $service = new Zend_Form_Element_Select('state');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "fltr-state", "class" => "right-side-input-text", "onchange" => "getCitiesByCountryId();"));
                    $service->setValue((!empty($this->filters['state']) ? $this->filters['state'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allState);
                    echo $service->render();
                    ?>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div id="display_city" style="margin-bottom: 15px;<?php echo $this->escape(empty($this->filters['state']) || empty($country_id) ? "display: none;" : ""); ?>">
                <span class="formLabel">City</span> 
                <div id="city_cont">
                    <?php
                    $allCities = $modelCities->getCitiesByCountryIdAndState($country_id, (!empty($this->filters['state']) ? $this->filters['state'] : ''), TRUE);

                    $service = new Zend_Form_Element_Select('city_id');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "city_id", "class" => "right-side-input-text"));
                    $service->setValue((!empty($this->filters['city_id']) ? $this->filters['city_id'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allCities);
                    echo $service->render();
                    ?>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div style="margin-top: 5px; padding-bottom: 10px;">
                <input type="submit" value="Search" /> <span class="or_span">or</span>
                <a href="<?php echo $_SERVER['REQUEST_URI']; ?>" style="color: red;" class="a_advance" >Cancel</a>
            </div>

        </div>
        <div class="filter_bottom_border"></div>
    </div>
    <input type="hidden" name="fltr[submit]" value="on"/>
    <input type="hidden" name="fltr[keywords]" value="<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>"/>
</form>
<script type="text/javascript">
    //
    //fun to get all city in selected country
    //
    function getStateByCountryId(){
      
        if($('#country').val()){
            $('#display_state').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country').val()+"&onChange=getCitiesByCountryId&class=right-side-input-text&name=state&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#display_state').css('display','none');
            $('#display_city').css('display','none');
        }
    }
    
    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId(){
        if($('#fltr-state').val()){
            $('#display_city').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country').val()+"&state="+$('#fltr-state').val()+"&class=right-side-input-text&name=city_id&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#display_city').css('display','none');
        }
    }
    
    $(document).ready(function() {
        $('#booking_start_time,#booking_end_time').datetimepicker({
            ampm: true,
            timeFormat: 'hh:mm TT',
            dateFormat: 'dd-mm-yy'
        });
    });
   

    $(function() {
        $( "#customer_id" ).combobox();
    });
	
</script>

