<div class="ibox float-e-margins">
 <div class="ibox-content">
<form id="search_form" action="<?php echo $this->escape($this->url(array(), 'search')); ?>" method="GET" role="form">
	  <div class="form-group">
        <label class="control-label">Inquiry#</label>
        <input  class="form-control" name="fltr[inquiry_num]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['inquiry_num']) ? $this->filters['inquiry_num'] : '')); ?>" />
       </div>
	   <div class="form-group">
        <label class="control-label">Booking#</label>
        <input  class="form-control" name="fltr[booking_num]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['booking_num']) ? $this->filters['booking_num'] : '')); ?>" />
       </div>
	   <div class="form-group">
        <label class="control-label">Estimate#</label>
        <input  class="form-control" name="fltr[inquiry_num]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['estimate_num']) ? $this->filters['estimate_num'] : '')); ?>" />
       </div>	 
	  
	  <div class="form-group">
        <label class="control-label">Invoice#</label>
        <input  class="form-control" name="fltr[inquiry_num]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['invoice_num']) ? $this->filters['invoice_num'] : '')); ?>" />
	   <div class="form-group">
        <label class="control-label">Business Name</label>
        <input  class="form-control" name="fltr[booking_num]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['bussiness_name']) ? $this->filters['bussiness_name'] : '')); ?>" />
       </div>
	   <div class="form-group">
        <label class="control-label">Address</label>
        <input  class="form-control" name="fltr[inquiry_num]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['address']) ? $this->filters['address'] : '')); ?>" />
       </div>
	  <div class="form-group">
        <label class="control-label">Email</label>
        <input  class="form-control" name="fltr[inquiry_num]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['email']) ? $this->filters['email'] : '')); ?>" />
       </div>
	   <div class="form-group">
        <label class="control-label">Mobile/Phone#</label>
        <input  class="form-control" name="fltr[booking_num]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['mobile/phone']) ? $this->filters['mobile/phone'] : '')); ?>" />
       </div>
	   <div class="form-group" id="date1">
        <label class="control-label">Booking Start Time</label>
		<div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		  <input type="text" value="<?php echo $this->escape((!empty($this->filters['booking_start']) ? $this->filters['booking_start'] : '')); ?>" class="form-control" name="fltr[booking_start]" id="booking_start_time" >
        </div>
		</div>
	   
	   <div class="form-group" id="date2">
        <label class="control-label">Booking End Time</label>
		<div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		  <input type="text" name="fltr[booking_end]" class="form-control" id="booking_end_time"  value="<?php echo $this->escape((!empty($this->filters['booking_end']) ? $this->filters['booking_end'] : '')); ?>" >
        </div>
       </div>
	   
	   <?php
	    $customer_name = '';
	   if(!empty($this->filters['customer_id'])){
		    $customer_id = (int) $this->filters['customer_id'];
		    $modelCustomer = new Model_Customer();
            $customer = $modelCustomer->getById($customer_id);
            $customerName = get_customer_name($customer);
		}
		?>
	   
	   <div class="form-group">
	        <input type="hidden" id="customer_id" name="customer_id" class="text_input required" value="<?php echo $this->escape((!empty($this->filters['customer_id']) ? $this->filters['customer_id'] : ''));?>"/>
                    <label class="control-label">Customer Name</label>
					<div class="input-group" style="display:block">
					<input type="text" onkeyup="customerSearchInput()" id="auto_customer_id" class="form-control " value="<?php echo $this->escape((!empty($customerName) ? $customerName : ''));?>" autocomplete="off"/>
                    <div class="searchCustomerInputResult" id="customerResultInput"></div>
                    </div>
                </div>
	   
	   <?php if (CheckAuth::checkCredential(array('canSeeAllContractorBooking'))) : ?>
                <div class="form-group">
                    <label class="control-label" style="margin-top:15px">Technician Name</label>
                    <?php
                    $modelUser = new Model_User();
                    $allContractor = $modelUser->getAllContractor(TRUE);

                    $contractor = new Zend_Form_Element_Select('contractor_id');
                    $contractor->setBelongsTo('fltr');
                    $contractor->setDecorators(array('ViewHelper'));
                    $contractor->setAttrib("style", "width: 100%;");
                    $contractor->setAttrib("class", "form-control");
                    $contractor->setValue((!empty($this->filters['contractor_id']) ? $this->filters['contractor_id'] : ''));
                    $contractor->addMultiOption('', 'Select One');
                    $contractor->addMultiOptions($allContractor);
                    echo $contractor->render();
                    ?>
                </div>
            <?php endif; ?>
			
			 <div class="form-group">
		    <label class="control-label">Service Name</label>
			<?php
                $modelServices = new Model_Services();
                $allService = $modelServices->getAllService();

                $service = new Zend_Form_Element_Select('service_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttrib("style", "width: 100%;");
				$service->setAttrib("class", "form-control");
                $service->setValue((!empty($this->filters['service_id']) ? $this->filters['service_id'] : ''));
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allService);
                echo $service->render();
                ?>
		 </div>
		 <div class="form-group">
		  <label class="control-label" style="display:block">Booking Total Range</label>
		  <div class="col-md-5" style="padding:0px"><input name="fltr[qoute_from]" class="form-control" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['qoute_from']) ? $this->filters['qoute_from'] : '')); ?>" />
           </div>
		  <div class="col-md-2"> - </div>
		  <div class="col-md-5" style="padding:0px"> <input name="fltr[qoute_to]" class="form-control" type="text" style="width:100%;" value="<?php echo $this->escape((!empty($this->filters['qoute_to']) ? $this->filters['qoute_to'] : '')); ?>" />
		   </div>
		   <div style="clear:both"></div>
		 </div>
		    <?php
            $country_id = (!empty($this->filters['country_id']) ? $this->filters['country_id'] : CheckAuth::getCountryId());
            ?>
			
		
			
		 <div class="form-group">
		    <label class="control-label" >Country</label>
			<?php
                $modelCountries = new Model_Countries();
                $allCountries = $modelCountries->getAllCountries();

                $service = new Zend_Form_Element_Select('country_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttribs(array("id" => "country", "class" => "right-side-input-text", "onchange" => "getStateByCountryId();"));
                $service->setAttrib("class", "form-control");
				$service->setValue($country_id);
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allCountries);
                echo $service->render();
                ?>
		 </div>
		 <div class="form-group" id="display_state" style="<?php echo $this->escape(empty($country_id) ? "display: none;" : ""); ?>">
		 <label class="control-label" >State</label>
		 <div id="state_cont">
		 <?php
                    $modelCities = new Model_Cities();
                    $allState = $modelCities->getStateByCountryId(($country_id), TRUE);

                    $service = new Zend_Form_Element_Select('state');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "fltr-state", "class" => "right-side-input-text", "onchange" => "getCitiesByCountryId();"));
                    $service->setAttrib("class", "form-control");
					$service->setValue((!empty($this->filters['state']) ? $this->filters['state'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allState);
                    echo $service->render();
                    ?>
					</div>
		 </div>
		 
		 <div class="form-group">
		 <label class="control-label" >City</label>
		 <div id="city_cont">
		 <?php
                    $allCities = $modelCities->getCitiesByCountryIdAndState($country_id, (!empty($this->filters['state']) ? $this->filters['state'] : ''), TRUE);

                    $service = new Zend_Form_Element_Select('city_id');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "city_id"));
					$service->setAttrib("class", "form-control");
                    $service->setValue((!empty($this->filters['city_id']) ? $this->filters['city_id'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allCities);
                    echo $service->render();
                    ?>
					</div>
		 </div>
	   
	   
	            <input type="submit" value="Search"  class="btn btn-primary"/> <span class="or_span">or</span>
                <a href="<?php echo $_SERVER['REQUEST_URI']; ?>"  class=" btn btn-default">Cancel</a>
	
        <div class="filter_bottom_border"></div>
    </div>
    <input type="hidden" name="fltr[submit]" value="on"/>
    <input type="hidden" name="fltr[keywords]" value="<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>"/>
</form>
</div>
</div>
<script type="text/javascript">
    //
    //fun to get all city in selected country
    //
    function getStateByCountryId(){
      
        if($('#country').val()){
            $('#display_state').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country').val()+"&onChange=getCitiesByCountryId&class=right-side-input-text&name=state&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#display_state').css('display','none');
            $('#display_city').css('display','none');
        }
    }
    
    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId(){
	
        if($('#fltr-state').val()){
            $('#display_city').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country').val()+"&state="+$('#fltr-state').val()+"&class=right-side-input-text&name=city_id&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#display_city').css('display','none');
        }
    }
    
    $(document).ready(function() {
        
		$('#date1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
		$('#date2 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });	
			
    });
   

	
	
	function customerSearchInput() {

        var query = $('#auto_customer_id').val();
        if (query.length > 2) {
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerSearch')); ?>",
                data: "customer-like=" + $('#auto_customer_id').val(),
                success: function (msg) {
                    $('#customerResultInput').show();
                    $('#customerResultInput').html(msg);
                }
            });
        } else {
            $('#customerResultInput').hide();
            $('#customerResultInput').html('');
        }
    }
	
	function select_customer(customer_id, customer_name) {

        if (customer_id) {

            $('#customer_id').val(customer_id);
            $("#auto_customer_id").val(customer_name);
            $('#customerResultInput').hide();
            $("#popupi").modal('hide');
        }
    }
	
</script>

