<div class="col-lg-12 wrapper-content" style="padding-right: 26px;padding-left: 26px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsPropertyTypeAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Property Types','<?php echo $this->escape($this->url(array(), 'settingsPropertyTypeAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Property Types
                        </div>
                    </a>
                </div>
            <?php endif; ?>
        </div>
    </div>
<div class="col-lg-12 wrapper-content">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div class="col-lg-12">
        <?php if ($this->data): ?>



            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>  Property Typess</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <td>Name</td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                               
                                <tr class="gradeX">
                                    <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['property_type']) ?>    
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsPropertyTypeEdit'))): ?>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsPropertyTypeEdit')); ?>');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsPropertyTypeDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsPropertyTypeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Property Type?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>




            <div>
                <?php if (count($this->pageLinks) > 3): ?>
                    <ul class="pagination">
                        <?php foreach ($this->pageLinks as $pageLink) : ?>
                            <li><?php echo $pageLink; ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>


            </form>

        <?php else: ?>
                           <div style="" class="noRowsMessageDIV">There are no  Property Types.</div>

        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>

