    <div class="col-lg-12 wrapper-content">
        <div class="right_side_cont ibox-content ">
            <?php if (CheckAuth::checkCredential(array('settingsPaymentTypeAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Payment Type','<?php echo $this->escape($this->url(array(), 'settingsPaymentTypeAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Payment Type
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                <div class="button_actions">
                    <h5>  Search Payment Type </h5>
                </div>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsPaymentTypeList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />                    
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                        <button class="a_advance btn btn-white a_margin-responsive" type="reset" >Reset</button>           
					</form>
                     </div>
        </div>
    </div>

<div class="col-lg-12 wrapper-content">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
	<div class="ibox-title">
                        <h5>All Payment Types</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
		<div class="ibox-content">			
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsPaymentTypeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Payment Type?');">
                    
                    
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsPaymentTypeDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover " id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Payment Type</b></td>
                                    <td><b>Core</b></td>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $count += 1; ?>
                                    <tr class="<?php
                                    if ($count % 2 != 0) {
                                        echo 'tr_cont_1';
                                    } else {
                                        echo 'tr_cont_2';
                                    }
                                    ?>"
                                    <tr class="gradeX">
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l">
                                            <span class="details_info_name"><?php echo $this->escape($row['payment_type']) ?></span>    
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (!$row['is_core']): ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsPaymentTypeEdit'))): ?>
                                                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsPaymentTypeEdit')); ?>');" class="details_info_opt">Edit</a>
													<span class="details_breaks">|</span>
                                                <?php endif; ?>

                                                <?php if (CheckAuth::checkCredential(array('settingsPaymentTypeDelete'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsPaymentTypeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Payment Type?');" class="details_info_opt">Delete</a>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div></td>
                                        <td><?php if ($row['is_core']) { ?>
                                            <div class="details_info_l"> YES</div>
                                        <?php } else { ?>
                                            <div class="details_info_l">NO</div>
                                        <?php }; ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    
               




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>
			

        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no Payment Type.</div>
        <?php endif; ?>
      </div>
   
</div>

<div style="clear:both;"></div>

