<form  id="customer_form" class="form-horizontal"  method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="doSubmit('<?php echo $this->escape($this->form->getAction()); ?>');
        return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <div id="customerResult"></div>
    <h3>Customer Information : </h3>
    <br/>
    <div class="form-group">

        <label class="col-lg-3 control-label">Customer Type <span style="color:#ff0000">*</span>:</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('customer_type_id')->render()); ?>
        </div>
    </div>

    <div id="customer_name_block" class="form-group" <?php if (!$this->form->getElement('customer_type_id')->getValue() || ($this->form->getElement('customer_type_id')->getValue() == $this->residentialId)) { ?>style="display:none;"<?php } ?>>

        <label class="col-lg-3 control-label">Business Name <span style="color:#ff0000">*</span>:</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('customer_business_name')->render()); ?>
        </div>
    </div>

    <div class="form-group">

        <label class="col-lg-3 control-label">Title :</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('title')->render()); ?>
        </div>
    </div>

    <div class="form-group">

        <label class="col-lg-3 control-label">First Name <span style="color:#ff0000">*</span>:</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('first_name')->render()); ?>
        </div>
    </div>


    <div class="form-group">

        <label class="col-lg-3 control-label">Last Name:</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('last_name')->render()); ?>
        </div>
    </div>




    <div class="form-group">

        <label class="col-lg-3 control-label">Email 1:</label>

        <div class="col-lg-9">
            <div class="input-group">
<?php echo ($this->form->getElement('email1')->render()); ?>
                <span class="input-group-btn">
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email_2').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>   


    <div class="form-group" id="email_2" style="display: <?php echo!$this->form->getElement('email2')->getValue() ? 'none' : 'table-row'; ?>;">

        <label class="col-lg-3 control-label">Email 2:</label>

        <div class="col-lg-9">
            <div class="input-group">
<?php echo ($this->form->getElement('email2')->render()); ?>
                <span class="input-group-btn">
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email_3').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email2').val('');
                            $('#email_2').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>         




    <div class="form-group" id="email_3" style="display: <?php echo!$this->form->getElement('email3')->getValue() ? 'none' : 'table-row'; ?>;">

        <label class="col-lg-3 control-label">Email 3:</label>

        <div class="col-lg-9">
            <div class="input-group">
<?php echo ($this->form->getElement('email3')->render()); ?>
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email3').val('');
                            $('#email_3').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>   


    <div class="form-group">

        <label class="col-lg-3 control-label">Mobile 1 <span style="color:#ff0000">*</span>:</label>

        <div class="col-lg-9">
            <div class="input-group">
<?php echo ($this->form->getElement('mobile1')->render()); ?>
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile_2').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>  


    <div class="form-group" id="mobile_2" style="display:<?php echo!$this->form->getElement('mobile2')->getValue() ? 'none' : 'table-row'; ?>;">

        <label class="col-lg-3 control-label">Mobile 2: </label>

        <div class="col-lg-9">
            <div class="input-group">
<?php echo ($this->form->getElement('mobile2')->render()); ?>
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile_3').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile2').val('');
                            $('#mobile_2').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>  


    <div class="form-group" id="mobile_3" style="display: <?php echo!$this->form->getElement('mobile3')->getValue() ? 'none' : 'table-row'; ?>;">

        <label class="col-lg-3 control-label">Mobile 3:</label>

        <div class="col-lg-9">
            <div class="input-group">
<?php echo ($this->form->getElement('mobile3')->render()); ?>
                <span class="input-group-btn">


                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile3').val('');
                            $('#mobile_3').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>  



    <div class="form-group">

        <label class="col-lg-3 control-label">Phone 1: </label>

        <div class="col-lg-9">
            <div class="input-group">
<?php echo ($this->form->getElement('phone1')->render()); ?>
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone_2').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>  



    <div class="form-group" id="phone_2" style="display: <?php echo!$this->form->getElement('phone2')->getValue() ? 'none' : 'table-row'; ?>;">

        <label class="col-lg-3 control-label">Phone 2: </label>

        <div class="col-lg-9">
            <div class="input-group">
<?php echo ($this->form->getElement('phone2')->render()); ?>
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone_3').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;"  onclick="$('#phone2').val('');
                            $('#phone_2').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>  


    <div class="form-group" id="phone_3" style="display: <?php echo!$this->form->getElement('phone3')->getValue() ? 'none' : 'table-row'; ?>;">

        <label class="col-lg-3 control-label">Phone 3:</label>

        <div class="col-lg-9">
            <div class="input-group">
<?php echo ($this->form->getElement('phone3')->render()); ?>
                <span class="input-group-btn">


                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone3').val('');
                            $('#phone_3').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>  


    <div class="form-group">

        <label class="col-lg-3 control-label">Fax:</label>

        <div class="col-lg-9">
        <?php echo ($this->form->getElement('fax')->render()); ?>
        </div>
    </div>


    <div id ="contact_label_block" style="display:<?php echo (empty($this->customer_contacts) ? 'none' : 'block') ?>;" >
<?php if ($this->customer_contacts): ?>
    <?php foreach ($this->customer_contacts as $key => $customer_contact): ?>
                <table id="customer_contact_<?php echo($key); ?>" class="tabel">
                    <tr>
                        <td class="contact_label" valign="top"><?php echo ($this->form->getElement("contact_label_{$key}")->render()); ?></td>
                        <td valign="top"><?php echo ($this->form->getElement("info_{$key}")->render()); ?></td>
                        <td valign="top">
                            <a href="#" style="text-decoration: none; float: left;" onclick="getCustomerContact()">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a href="#"  onclick="$('#customer_contact_<?php echo($key); ?>').remove();">
                                <i class="fa fa-minus"></i>
                            </a>
                        </td>
                    </tr>
                </table>
    <?php endforeach; ?>
<?php endif; ?>
    </div>


    <div id="more_contact" >
        <a href="#" id="more_contact_link" onclick="getCustomerContact()">More Contact</a>
    </div>

    <hr/>
    <h3>Customer Address Details : </h3>
    <div class="form-group">

        <label class="col-lg-4 control-label">As Booking Address :</label>

        <div class="col-lg-8">
<?php echo ($this->form->getElement('as_booking_address')->render()); ?>
        </div>
    </div>

    <div class="form-group">

        <label class="col-lg-3 control-label">Unit / Lot No :</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('unit_lot_number')->render()); ?>
        </div>
    </div>

    <div class="form-group">

        <label class="col-lg-3 control-label">Street No :</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('street_number')->render()); ?>
        </div>
    </div>

    <div class="form-group">

        <label class="col-lg-3 control-label">Street Name :</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('street_address')->render()); ?>
        </div>
    </div>


    <div class="form-group">

        <label class="col-lg-3 control-label">Suburb :</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('suburb')->render()); ?>
        </div>
    </div>

    <div class="form-group">

        <label class="col-lg-3 control-label">Postcode :</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('postcode')->render()); ?>
        </div>
    </div>

    <div class="form-group">

        <label class="col-lg-3 control-label">PO Box :</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('po_box')->render()); ?>
        </div>
    </div>


    <div class="form-group">

        <label class="col-lg-3 control-label">Country <span style="color:#ff0000">*</span>:</label>

        <div class="col-lg-9">
<?php echo ($this->form->getElement('customer_country_id')->render()); ?>
        </div>
    </div>


    <div class="form-group" id="customer_state_block" <?php if (!$this->form->getElement('customer_country_id')->getValue()) { ?>style="display: none;"<?php } ?>>

        <label class="col-lg-3 control-label">State <span style="color:#ff0000">*</span>:</label>

        <div class="col-lg-9" id="customer_state_cont">
<?php echo $this->form->getElement('customer_state')->render(); ?>
        </div>
    </div>



    <div class="form-group" id="customer_city_block" <?php if (!$this->form->getElement('customer_state')->getValue()) { ?>style="display: none;"<?php } ?>>

        <label class="col-lg-3 control-label">City <span style="color:#ff0000">*</span>:</label>

        <div class="col-lg-9" id="customer_city_cont">
			<?php echo ($this->form->getElement('customer_city_id')->render()); ?>
        </div>
    </div>

<?php echo ($this->form->getElement('asJson')->render()); ?>
    <div id="button_cont" class="customer_save_button col-md-offset-3">
<?php echo $this->form->getElement('button')->render(); ?>
    </div>
    <input type="hidden" id="contact_counter" name="contact_counter" value= "<?php echo (isset($this->contacts_counter) ? $this->contacts_counter : 0) ?>"/>
</form>



<script type="text/javascript">
    function doSubmit(url) {
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $('#customer_form').serialize(),
            success: function (data) {
                try {
                    var json = eval('(' + data + ')');
                    if (json.asJson == '1') {

                        $('#customer_id').val(json.customer_id);
                        $("#auto_customer_id").val(json.customer_name);

						//we don't need to drow the city drop list we just need to change it's content, so we will use new request instead of dropDownCity
						// dropDownCity create new select element, but we need to change its content only
						$.ajax({
							type: "POST",
							url:  "<?php echo $this->url(array(), 'getCitiesByState'); ?>",
							data: "state="+json.state,
							success: function(cities) {
								var jsson = eval('('+cities+')');
								cities_droplist = '<option value="">Select One</option>';
								$.each(jsson, function(key,value) {
									if(key == json.city_id){									
									cities_droplist = cities_droplist+'<option value="'+key+'" selected="selected">'+value+'</option>';
									}else{
									cities_droplist = cities_droplist+'<option value="'+key+'">'+value+'</option>';
									}
								});
								///now delete all old options and set new ones
								$('#city_id')
									.find('option')
									.remove()
									.end()
									.append(cities_droplist)
								;
								$('#state option[value='+json.state+']').attr("selected","selected");
								//then load the services according to new city
								getServices();
							}
						});
						////end By Islam
						
						
						
                        //tb_remove
                        try {
                            if (json.asBookingAddress == '1') {
                                //get Booking Address if in Booking
                                try {

                                    getBookingAddress();
                                } catch (e) {
                                }

                                //get Inquiry Address if in Inquiry
                                try {
                                    getInquiryAddress();
                                } catch (e) {
                                }
                            }

                            showEditCustomer();
                            $("#popupi").modal('hide');

                        } catch (e) {
                            $("#popupi").modal('hide');
                        }

                    } else {
                        window.location.reload();
                    }
                } catch (e) {
                    $('#content_modal_popup').html(data);
                }
            }
        });

    }

    function getCustomerContact() {
        contact_counter = $('#contact_counter').val();
        $('#more_contact').html('<img src="/pic/loading-4.gif">');
        $('#contact_label_block').css('display', 'block');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->url(array(), 'getCustomerContact'); ?>",
            data: "contact_counter=" + contact_counter,
            success: function (data) {
                $('#contact_label_block').append(data);
                $('#contact_counter').val(contact_counter);
                $('#more_contact').html('<a href="javascript:;" id="more_contact_link"  onclick="getCustomerContact()">More Contact</a>');
            }
        });
        contact_counter++;
    }

    function getState() {
        if ($('#customer_country_id').val()) {
            $('#customer_state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id=" + $('#customer_country_id').val() + "&name=customer_state",
                success: function (msg) {
					
					$('#customer_state_cont').parent().show();
                    $('#customer_state_cont').html(msg);
                }
            });
        } else {
            $('#customer_state_block').css('display', 'none');
            $('#customer_city_block').css('display', 'none');
        }
    }

    function getCities() {
        if ($('#customer_state').val()) {
            $('#customer_city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id=" + $('#customer_country_id').val() + "&state=" + $('#customer_state').val() + "&name=customer_city_id",
                success: function (msg) {
					$('#customer_city_cont').parent().show();
                    $('#customer_city_cont').html(msg);
                }
            });
        } else {
            $('#customer_city_block').css('display', 'none');
        }
    }

    function getCommercialBusinessName() {
        if ($('#customer_type_id').val() != <?php echo $this->escape($this->residentialId) ?>) {
            $('#customer_name_block').css('display', 'block');
        } else {
            $('#customer_name_block').css('display', 'none');
            $('#customer_business_name').val('');
        }

        var haveBookingAddress = new Array();

<?php if ($this->haveBookingAddress): ?>
    <?php foreach ($this->haveBookingAddress as $haveBookingAddress): ?>
                haveBookingAddress['<?php echo $this->escape($haveBookingAddress); ?>'] = '<?php echo $this->escape($haveBookingAddress); ?>';
    <?php endforeach; ?>
<?php endif; ?>

        if (haveBookingAddress.indexOf($('#customer_type_id').val()) != -1) {
            //alert('Value exists in array.');
            $('#as_booking_address').attr('checked', 'checked');
        } else {
            $('#as_booking_address').removeAttr('checked');
        }
    }

    function customerSearch() {
        var emailQuery = $('#email1').val();
        var mobileQuery = $('#mobile1').val();
        var phoneQuery = $('#phone1').val();
        var asjson = $('#asJson').val();
        if (emailQuery.length > 2 || mobileQuery.length > 2 || phoneQuery.length > 2) {
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerLike')); ?>",
                data: "customer-email=" + $('#email1').val() + "&customer-mobile=" + $('#mobile1').val() + "&customer-phone=" + $('#phone1').val() + "&asJson=" + asjson,
                success: function (msg) {
                    $('#customerResult').html(msg);
                }
            });
        } else {
            $('#customerResult').html('');
        }
    }
</script>