<form  id="customer_form" class="form-horizontal"  method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="doSubmit('<?php echo $this->escape($this->form->getAction()); ?>');
        return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <div id="customerResult"></div>
    <h3>Customer Information</h3>
    <br/>
    <div class="form-group">
        <label class="col-md-2 control-label no-padding-right">Type<span style="color:#ff0000">*</span>:</label>
        <div class="col-md-10">
            <?php echo ($this->form->getElement('customer_type_id')->render()); ?>
        </div>
    </div>

    <div id="customer_name_block" class="form-group" <?php if (!$this->form->getElement('customer_type_id')->getValue() || ($this->form->getElement('customer_type_id')->getValue() == $this->residentialId)) { ?>style="display:none;"<?php } ?>>

        <label class="col-md-2 control-label no-padding-right">Business Name <span style="color:#ff0000">*</span>:</label>

        <div class="col-md-10">
            <?php echo ($this->form->getElement('customer_business_name')->render()); ?>
        </div>
    </div>




    <div class="form-group" id="customer_state_block" <?php if (!$this->form->getElement('customer_country_id')->getValue()) { ?>style="display: none;"<?php } ?>>

        <label class="col-md-2 control-label no-padding-right">State <span style="color:#ff0000">*</span>:</label>

        <div class="col-md-10" id="customer_state_cont">
            <?php echo $this->form->getElement('customer_state')->render(); ?>
        </div>
    </div>



    <div class="form-group" id="customer_city_block" <?php if (!$this->form->getElement('customer_state')->getValue()) { ?>style="display: none;"<?php } ?>>

        <label class="col-md-2 control-label no-padding-right">City <span style="color:#ff0000">*</span>:</label>

        <div class="col-md-10" id="customer_city_cont">
            <?php echo ($this->form->getElement('customer_city_id')->render()); ?>
        </div>
    </div>


    <div class="clearfix"></div>

    <div class="panel panel-primary">
        <div class="panel-heading">Primary Contact</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-md-2  col-xs-12 no-padding-right"><i class="fa fa-user fa-lg">&nbsp;</i>

                </label>
                <div class="col-md-10  col-xs-12">
                    <div class="inline col-md-2  col-xs-4 no-padding">
                        <?php echo ($this->form->getElement('title')->setAttrib('placeholder', 'title')->render()); ?>
                    </div>
                    <div class="inline col-md-5  col-xs-4 padding-left-no-right">
                        <?php echo ($this->form->getElement('first_name')->setAttrib('placeholder', 'First Name')->render()); ?>
                    </div>
                    <div class="input-group">
                        <?php echo ($this->form->getElement('last_name')->setAttrib('Placeholder', 'Last Name')->render()); ?>
                        <span class="input-group-btn">
                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#name_2').show();">
                                <i class="fa fa-plus"></i> 
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" id="name_2" style="display: <?php echo ($this->form->getElement('first_name2')->getValue()) || ($this->form->getElement('last_name2')->getValue()) ? 'block' : 'none'; ?>;">
                <label class="control-label col-md-2  col-xs-12 no-padding-right"><i class="fa fa-user fa-lg">&nbsp;</i>

                </label>
                <div class="col-md-10  col-xs-12">
                    <div class="inline col-md-2  col-xs-4 no-padding">
                        <?php echo ($this->form->getElement('title2')->setAttrib('placeholder', 'title')->render()); ?>
                    </div>
                    <div class="inline col-md-5  col-xs-3 padding-left-no-right">
                        <?php echo ($this->form->getElement('first_name2')->setAttrib('placeholder', 'First Name')->render()); ?>
                    </div>
                    <div class="input-group">
                        <?php echo ($this->form->getElement('last_name2')->setAttrib('Placeholder', 'Last Name')->render()); ?>
                        <span class="input-group-btn">
                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#name_3').show();">
                                <i class="fa fa-plus"></i> 
                            </a>
                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#first_name2').val('');$('#last_name2').val('');$('#name_2').hide();">
                                <i class="fa fa-minus"></i> 
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" id="name_3" style="display: <?php echo ($this->form->getElement('first_name3')->getValue()) || ($this->form->getElement('last_name3')->getValue()) ? 'block' : 'none'; ?>;">
                <label class="control-label col-md-2  col-xs-12 no-padding-right"><i class="fa fa-user fa-lg">&nbsp;</i>

                </label>
                <div class="col-md-10  col-xs-12">
                    <div class="inline col-md-2  col-xs-4 no-padding">
                        <?php echo ($this->form->getElement('title3')->setAttrib('placeholder', 'title')->render()); ?>
                    </div>
                    <div class="inline col-md-5  col-xs-4 padding-left-no-right">
                        <?php echo ($this->form->getElement('first_name3')->setAttrib('placeholder', 'First Name')->render()); ?>
                    </div>
                    <div class="input-group">
                        <?php echo ($this->form->getElement('last_name3')->setAttrib('Placeholder', 'Last Name')->render()); ?>
                        <span class="input-group-btn">
                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#first_name3').val('');$('#last_name3').val('');$('#name_3').hide();">
                                <i class="fa fa-minus"></i> 
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group ">

                <label class="col-md-2 control-label no-padding-right">Email 1:</label>

                <div class="col-md-10">
                    <div class="input-group">
                        <?php echo ($this->form->getElement('email1')->render()); ?>
                        <span class="input-group-btn">
                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email_2').show();">
                                <i class="fa fa-plus"></i> 
                            </a>
                        </span>
                    </div>
                </div>
            </div>   


            <div class="form-group" id="email_2" style="display: <?php echo!$this->form->getElement('email2')->getValue() ? 'none' : 'block'; ?>;">

                <label class="col-md-2 control-label no-padding-right">Email 2:</label>

                <div class="col-md-10">
                    <div class="input-group">
                        <?php echo ($this->form->getElement('email2')->render()); ?>
                        <span class="input-group-btn">
                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email_3').show();">
                                <i class="fa fa-plus"></i> 
                            </a>
                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email2').val('');
                                    $('#email_2').hide();">
                                <i class="fa fa-minus"></i> 
                            </a>
                        </span>
                    </div>
                </div>
            </div>         




            <div class="form-group" id="email_3" style="display: <?php echo!$this->form->getElement('email3')->getValue() ? 'none' : 'block'; ?>;">

                <label class="col-md-2 control-label no-padding-right">Email 3:</label>

                <div class="col-md-10">
                    <div class="input-group">
                        <?php echo ($this->form->getElement('email3')->render()); ?>
                        <span class="input-group-btn">

                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email3').val('');
                                    $('#email_3').hide();">
                                <i class="fa fa-minus"></i> 
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" id="mobile_1">

                <label class="col-md-2 control-label no-padding-right" >Mobile 1 <span style="color:#ff0000">*</span>:</label>

                <div class="col-md-10">
                    <div id="international_key_1">

                        <?php if ((int) $this->form->getElement('international_key_1')->getValue() != 0) { ?>
                            <div class="inline col-md-2  col-xs-4 no-padding" >
                                <?php echo ($this->form->getElement('international_key_1')->render()); ?>
                            </div>
                        <?php } ?>
                    </div>
                    <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_1">
                        <?php echo ($this->form->getElement('city_key_1')->render()); ?>
                    </div>

                    <div class="input-group">
                        <?php echo ($this->form->getElement('mobile1')->render()); ?>
                        <span class="input-group-btn">

                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile_2').show();">
                                <i class="fa fa-plus"></i> 
                            </a>
                        </span>
                    </div>
                    <div id="international_key1_link">
                        <a href="javascript:void(0);" onclick="addInternationalKey(1, '<?= $this->form->getElement('international_key_1')->getValue() ?>');">Add Country Code</a>
                    </div>
                </div>
            </div>  


            <div class="form-group" id="mobile_2" style="display:<?php echo!$this->form->getElement('mobile2')->getValue() ? 'none' : 'block'; ?>;">

                <label class="col-md-2 control-label no-padding-right">Mobile 2: </label>

                <div class="col-md-10">
                    <div id="international_key_2">
                        <?php if ((int) $this->form->getElement('international_key_2')->getValue() != 0) { ?>
                            <div class="inline col-md-2  col-xs-4 no-padding">
                                <?php echo ($this->form->getElement('international_key_2')->render()); ?>
                            </div>
                        <?php } ?>
                    </div>
                    <div class="inline col-md-1  col-xs-2 no-padding" id= "city_key_2">
                        <?php echo ($this->form->getElement('city_key_2')->render()); ?>
                    </div>
                    <div class="input-group">
                        <?php echo ($this->form->getElement('mobile2')->render()); ?>
                        <span class="input-group-btn">

                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile_3').show();">
                                <i class="fa fa-plus"></i> 
                            </a>
                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile2').val('');
                                    $('#mobile_2').hide();">
                                <i class="fa fa-minus"></i> 
                            </a>
                        </span>
                    </div>
                    <div id="international_key2_link">
                        <a href="javascript:void(0);" onclick="addInternationalKey(2, '<?= $this->form->getElement('international_key_2')->getValue() ?>');">Add Country Code</a>
                    </div>
                </div>
            </div>  


            <div class="form-group" id="mobile_3" style="display: <?php echo!$this->form->getElement('mobile3')->getValue() ? 'none' : 'block'; ?>;">

                <label class="col-md-2 control-label no-padding-right">Mobile 3:</label>

                <div class="col-md-10">
                    <div id="international_key_3">
                        <?php if ((int) $this->form->getElement('international_key_3')->getValue() != 0) { ?>
                            <div class="inline col-md-2  col-xs-4 no-padding">
                                <?php echo ($this->form->getElement('international_key_3')->render()); ?>
                            </div>
                        <?php } ?>
                    </div>
                    <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_3">
                        <?php echo ($this->form->getElement('city_key_3')->render()); ?>
                    </div>
                    <div class="input-group">
                        <?php echo ($this->form->getElement('mobile3')->render()); ?>
                        <span class="input-group-btn">


                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile3').val('');
                                    $('#mobile_3').hide();">
                                <i class="fa fa-minus"></i> 
                            </a>
                        </span>
                    </div>
                    <div id="international_key3_link">
                        <a href="javascript:void(0);" onclick="addInternationalKey(3, '<?= $this->form->getElement('international_key_3')->getValue() ?>');">Add Country Code</a>
                    </div>
                </div>
            </div>  



            <div class="form-group" id="phone_1">

                <label class="col-md-2 control-label no-padding-right">Phone 1: </label>

                <div class="col-md-10">
                    <div id="international_key_4">
                        <?php if ((int) $this->form->getElement('international_key_4')->getValue() != 0) { ?>
                            <div class="inline col-md-2  col-xs-4 no-padding" >
                                <?php echo ($this->form->getElement('international_key_4')->render()); ?>
                            </div>
                        <?php } ?>
                    </div>
                    <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_4">
                        <?php echo ($this->form->getElement('city_key_4')->render()); ?>
                    </div>
                    <div class="input-group">
                        <?php echo ($this->form->getElement('phone1')->render()); ?>
                        <span class="input-group-btn">

                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone_2').show();">
                                <i class="fa fa-plus"></i> 
                            </a>
                        </span>
                    </div>
                    <div id="international_key4_link">
                        <a href="javascript:void(0);" onclick="addInternationalKey(4, '<?= $this->form->getElement('international_key_4')->getValue() ?>');">Add Country Code</a>
                    </div>
                </div>
            </div>  



            <div class="form-group" id="phone_2" style="display: <?php echo!$this->form->getElement('phone2')->getValue() ? 'none' : 'block'; ?>;">

                <label class="col-md-2 control-label no-padding-right">Phone 2: </label>

                <div class="col-md-10">
                    <div id="international_key_5">
                        <?php if ((int) $this->form->getElement('international_key_5')->getValue() != 0) { ?>
                            <div class="inline col-md-2  col-xs-4 no-padding">
                                <?php echo ($this->form->getElement('international_key_5')->render()); ?>
                            </div>
                        <?php } ?>
                    </div>
                    <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_5">
                        <?php echo ($this->form->getElement('city_key_5')->render()); ?>
                    </div>
                    <div class="input-group">
                        <?php echo ($this->form->getElement('phone2')->render()); ?>
                        <span class="input-group-btn">

                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone_3').show();">
                                <i class="fa fa-plus"></i> 
                            </a>
                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;"  onclick="$('#phone2').val('');
                                    $('#phone_2').hide();">
                                <i class="fa fa-minus"></i> 
                            </a>
                        </span>
                    </div>
                    <div id="international_key5_link">
                        <a href="javascript:void(0);" onclick="addInternationalKey(5, '<?= $this->form->getElement('international_key_5')->getValue() ?>');">Add Country Code</a>
                    </div>
                </div>
            </div>  


            <div class="form-group" id="phone_3" style="display: <?php echo!$this->form->getElement('phone3')->getValue() ? 'none' : 'block'; ?>;">
                <label class="col-md-2 control-label no-padding-right">Phone 3:</label>

                <div class="col-md-10">
                    <div id="international_key_6">
                        <?php if ((int) $this->form->getElement('international_key_6')->getValue() != 0) { ?>
                            <div class="inline col-md-2  col-xs-4 no-padding">
                                <?php echo ($this->form->getElement('international_key_6')->render()); ?>
                            </div>
                        <?php } ?>
                    </div>
                    <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_6">
                        <?php echo ($this->form->getElement('city_key_6')->render()); ?>
                    </div>
                    <div class="input-group">
                        <?php echo ($this->form->getElement('phone3')->render()); ?>
                        <span class="input-group-btn">


                            <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone3').val('');
                                    $('#phone_3').hide();">
                                <i class="fa fa-minus"></i> 
                            </a>
                        </span>
                    </div>
                    <div id="international_key6_link">

                        <a href="javascript:void(0);" onclick="addInternationalKey(6, '<?= $this->form->getElement('international_key_6')->getValue() ?>');">Add Country Code</a>
                    </div>
                </div>
            </div>  


            <div class="form-group">

                <label class="col-md-2 control-label no-padding-right">Fax:</label>

                <div class="col-md-10">
                    <?php echo ($this->form->getElement('fax')->render()); ?>
                </div>
            </div>

        </div>
    </div> 


    <div id ="contact_label_block" style="display:<?php echo (empty($this->customer_contacts) ? 'none' : 'block') ?>;" >
        <?php if ($this->customer_contacts): ?>
            <?php
            foreach ($this->customer_contacts as $key => $customer_contact):
                if (!empty($customer_contact['contact'])) {
                    ?>
                    <div class="form-group" id="customer_contact_<?php echo($key); ?>">
                        <label class="col-md-2 col-xs-4 no-padding"><?php echo ($this->form->getElement("contact_label_{$key}")->render()); ?></label>
                        <div class="col-md-10 col-xs-8">
                            <div class="input-group">
                                <?php echo ($this->form->getElement("info_{$key}")->render()); ?>
                                <span class="input-group-btn">	
                                    <a class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#customer_contact_<?php echo($key); ?>').remove();">
                                        <i class="fa fa-minus"></i> 
                                    </a>
                                </span>
                            </div>
                        </div>  
                    </div>
                    <?php
                } else {
                    $this->customer_contact = $customer_contact;
                    $this->contact_counter = $key;
                    echo $this->render('index/customer-secondary-contact.phtml');
                }
                ?>			
            <?php endforeach; ?>
        <?php endif; ?>
    </div>


    <div id="more_contact" style="margin-bottom:10px">
        <div class="col-md-10" style="padding-left: 0px;">
            <a class="btn btn-white" href="#" id="more_contact_link" onclick="getCustomerContact()"><i class="fa fa-plus">&nbsp;</i>Add Another Contact</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <hr/>
    <h3>Billing Address</h3>

    <style>
        div.pac-container {
            z-index: 99999999999 !important;
        }
    </style>
    <div class="form-group" id="fullAddress">
        <label class="col-md-2 control-label no-padding-right"><i class="fa fa-home fa-lg">&nbsp;</i></label>
        <div class="col-md-10">
            <?php echo ($this->form->getElement('fullAddress')->render()); ?>
        </div>
    </div>

    <div class="form-group">



        <div class="col-md-10 col-xs-12 col-md-offset-2">


            <div class="inline col-md-3 col-xs-3 no-padding">
                <?php echo ($this->form->getElement('unit_lot_number')->render()); ?>
            </div>

            <div class="inline col-md-3 col-xs-3 padding-left-no-right">
                <?php echo ($this->form->getElement('street_number')->render()); ?>

            </div>

            <div class="inline col-md-6 col-xs-6 padding-left-no-right">
                <?php echo ($this->form->getElement('street_address')->render()); ?>

            </div>


        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="inline col-md-9 col-xs-9 no-padding">
                <?php echo ($this->form->getElement('suburb')->render()); ?>

            </div>

            <div class="inline col-md-3 col-xs-3 padding-left-no-right">
                <?php echo ($this->form->getElement('postcode')->render()); ?>

            </div>
        </div>

    </div>
    <div class="clearfix"></div>

    <div class="form-group" id="po_box">
        <label class="col-md-2 control-label no-padding-right">P.O. box</label>
        <div class="col-md-10">
            <?php echo ($this->form->getElement('po_box')->render()); ?>
        </div>
    </div>

    <div class="form-group country_dropdow">

        <label class="col-md-2 control-label no-padding-right">Country <span style="color:#ff0000">*</span>:</label>

        <div class="col-md-10">
            <?php echo ($this->form->getElement('customer_country_id')->render()); ?>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 col-xs-3 no-padding-right">
            <span class="float-r control-label ">
                <?php echo ($this->form->getElement('as_booking_address')->render()); ?>
            </span>
        </div>
        <div class="col-md-10 col-xs-9">
            <label class="control-label" for="as_booking_address">Copy to Booking Address</label>
        </div>
    </div>

    <?php echo ($this->form->getElement('asJson')->render()); ?>


    <div id="button_cont" class="customer_save_button col-md-offset-2 col-xs-offset-3">	
        <?php echo $this->form->getElement('button')->render(); ?>
    </div>

    <input type="hidden" id="contact_counter" name="contact_counter" value= "<?php echo (isset($this->contacts_counter) ? $this->contacts_counter : 0) ?>"/>
    <input type="hidden" id="contact_counter" name="contact_counter" value= "<?php echo (isset($this->contacts_counter) ? $this->contacts_counter : 0) ?>"/>
</form>




<script type="text/javascript">
    var contact_counter = parseInt($('#contact_counter').val());
    $(document).ready(function () {

        var x = $('#customer_country_id').length;
        if (x < 2) {
            $('.country_dropdow').css('display', 'none');
        }
    });


    function doSubmit(url) {
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        if ($('#mobile1_0').length) {
            if (!$('#mobile1_0').val()) {
                $('#mobile1_0_error').html('<ul class="errors"><li>Please enter the mobile1</li></ul>');
                $('#button_cont').html('<input type="submit" name="button" id="button" value="Save" class="btn btn-primary">');
                return false;
            }
        }
        if ($('#mobile1_1').length) {
            if (!$('#mobile1_1').val()) {
                $('#mobile1_1_error').html('<ul class="errors"><li>Please enter the mobile1</li></ul>');
                $('#button_cont').html('<input type="submit" name="button" id="button" value="Save" class="btn btn-primary">');
                return false;
            }
        }
        $.ajax({
            type: "POST",
            url: url,
            data: $('#customer_form').serialize(),
            success: function (data) {
                try {
                    var json = eval('(' + data + ')');
                    if (json.asJson == '1') {

                        $('#customer_id').val(json.customer_id);
                        $("#auto_customer_id").val(json.customer_name);
                        //By islam for eway payment
                        var zero = '0';
                        var customer_phone1 = zero.concat(json.customer_phone1.slice(json.customer_phone1.length - 9, json.customer_phone1.length));
                        var customer_mobile1 = zero.concat(json.customer_mobile1.slice(json.customer_mobile1.length - 9, json.customer_mobile1.length));
                        $("#customer_name").text(json.customer_name);
                        $("#customer_phone").text(customer_phone1);
                        $("#customer_mobile1").text(customer_mobile1);
                        $("#customer_fax").text(json.customer_fax);
                        $("#customer_po_box").text(json.customer_po_box);
                        $("#customer_email1").text(json.customer_email1);
                        $("#customer_address").text(json.customer_address);

                        //we don't need to drow the city drop list we just need to change it's content, so we will use new request instead of dropDownCity
                        // dropDownCity create new select element, but we need to change its content only
                        $.ajax({
                            type: "POST",
                            url: "<?php echo $this->url(array(), 'getCitiesByState'); ?>",
                            data: "state=" + json.state,
                            success: function (cities) {
                                var jsson = eval('(' + cities + ')');
                                cities_droplist = '<option value="">Select One</option>';
                                $.each(jsson, function (key, value) {
                                    if (key == json.city_id) {
                                        cities_droplist = cities_droplist + '<option value="' + key + '" selected="selected">' + value + '</option>';
                                    } else {
                                        cities_droplist = cities_droplist + '<option value="' + key + '">' + value + '</option>';
                                    }
                                });
                                ///now delete all old options and set new ones
                                $('#city_id')
                                        .find('option')
                                        .remove()
                                        .end()
                                        .append(cities_droplist)
                                        ;
                                $('#state option[value=' + json.state + ']').attr("selected", "selected");
                                //then load the services according to new city
                                getServices();
                            }
                        });
                        ////end By Islam



                        //tb_remove
                        try {
                            console.log('booking address');
                            if (json.asBookingAddress == '1') {
                                //get Booking Address if in Booking
                                try {
                                    console.log('after booking address');
                                    getBookingAddress();
                                } catch (e) {
                                    console.log('first:' + e);
                                }

                                //get Inquiry Address if in Inquiry
                                try {
                                    getInquiryAddress();
                                } catch (e) {
                                    console.log('second: ' + e);
                                }
                            }

                            showEditCustomer();
                            $("#popupi").modal('hide');

                        } catch (e) {
                            console.log('last: ' + e);
                            $("#popupi").modal('hide');
                        }

                    } else {
                        window.location.reload();
                    }
                } catch (e) {
                    $('#content_modal_popup').html(data);
                }
            }
        });

    }

    function getCustomerContact() {
        if (contact_counter < 2) {
            $('#more_contact').html('<img src="/pic/loading-4.gif">');
            $('#contact_label_block').css('display', 'block');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'getCustomerContact'); ?>",
                data: "contact_counter=" + contact_counter,
                success: function (data) {
                    $('#contact_label_block').append(data);
                    contact_counter = contact_counter + 1;
                    $('#more_contact').html('<div class="col-md-10" style="padding-left: 0px;"><a  class="btn btn-white" href="javascript:;" id="more_contact_link"  onclick="getCustomerContact()"><i class="fa fa-plus">&nbsp;</i>More Contact</a></div><div class="clearfix"></div>');
                    $('#contact_count').val(contact_counter);

                }
            });
        }
    }

    function getState() {
        if ($('#customer_country_id').val()) {
            $('#customer_state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id=" + $('#customer_country_id').val() + "&name=customer_state",
                success: function (msg) {

                    $('#customer_state_cont').parent().show();
                    $('#customer_state_cont').html(msg);
                }
            });
        } else {
            $('#customer_state_block').css('display', 'none');
            $('#customer_city_block').css('display', 'none');
        }
    }

    function getCities() {
        if ($('#customer_state').val()) {
            $('#customer_city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id=" + $('#customer_country_id').val() + "&state=" + $('#customer_state').val() + "&getStateCode=1&name=customer_city_id",
                dataType: 'json',
                success: function (msg) {
                    $('#customer_city_block').css('display', 'block');
                    $('#customer_city_cont').html(msg.cities);

                    //change code key by state IBM
                    $('#mobile_1').css('display', 'block');

                    $('#phone_1').css('display', 'block');
                    $("input[name='city_key_4']").val(msg.code);
                    $("input[name='city_key_5']").val(msg.code);
                    $("input[name='city_key_6']").val(msg.code);
                    // $('#phone1_key').html(msg.code);
                    // $('#phone_2').css('display', 'block');

                }
            });
        } else {
            $('#customer_city_block').css('display', 'none');
            $('#mobile_1').css('display', 'none');
            $('#mobile_2').css('display', 'none');
            $('#mobile_3').css('display', 'none');
            $('#phone_1').css('display', 'none');
            $('#phone_2').css('display', 'none');
            $('#phone_3').css('display', 'none');
        }
    }

    function getCommercialBusinessName() {
        if ($('#customer_type_id').val() != <?php echo $this->escape($this->residentialId) ?>) {
            $('#customer_name_block').css('display', 'block');
        } else {
            $('#po_box').hide();
            $('#customer_name_block').css('display', 'none');
            $('#customer_business_name').val('');
        }

        var haveBookingAddress = new Array();

<?php if ($this->haveBookingAddress): ?>
    <?php foreach ($this->haveBookingAddress as $haveBookingAddress): ?>
                haveBookingAddress['<?php echo $this->escape($haveBookingAddress); ?>'] = '<?php echo $this->escape($haveBookingAddress); ?>';
    <?php endforeach; ?>
<?php endif; ?>

        if (haveBookingAddress.indexOf($('#customer_type_id').val()) != -1) {
            //alert('Value exists in array.');
            $('#as_booking_address').attr('checked', 'checked');
        } else {
            $('#as_booking_address').removeAttr('checked');
        }
    }

    function customerSearch() {
        var emailQuery = $('#email1').val();
        var mobileQuery = $('#mobile1').val();
        var phoneQuery = $('#phone1').val();
        var asjson = $('#asJson').val();
        if (emailQuery.length > 2 || mobileQuery.length > 2 || phoneQuery.length > 2) {
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerLike')); ?>",
                data: "customer-email=" + $('#email1').val() + "&customer-mobile=" + $('#mobile1').val() + "&customer-phone=" + $('#phone1').val() + "&asJson=" + asjson,
                success: function (msg) {
                    $('#customerResult').html(msg);
                }
            });
        } else {
            $('#customerResult').html('');
        }
    }

    function addInternationalKey(key, value) {
        var keys = {};
        keys["0061"] = "Australia(+61)";
        keys["0093"] = "Afghanistan(+93)";
        keys["00355"] = "Albania(+355)";
        keys["00213"] = "Algeria(+213)";
        keys["001"] = "American Samoa(+1)";
        keys["00376"] = "Andorra(+376)";
        keys["00244"] = "Angola(+244)";
        keys["001"] = "Anguilla(+1)";
        keys["001"] = "Antigua(+1)";
        keys["0054"] = "Argentina(+54)";
        keys["00374"] = "Armenia(+374)";
        keys["00297"] = "Aruba(+297)";
        keys["0043"] = "Austria(+43)";
        keys["00994"] = "Azerbaijan(+994)";
        keys["00973"] = "Bahrain(+973)";
        keys["00880"] = "Bangladesh(+880)";
        keys["001"] = "Barbados(+1)";
        keys["00375"] = "Belarus(+375)";
        keys["0032"] = "Belgium(+32)";
        keys["00501"] = "Belize(+501)";
        keys["00229"] = "Benin(+229)";
        keys["001"] = "Bermuda(+1)";
        keys["00975"] = "Bhutan(+975)";
        keys["00591"] = "Bolivia(+591)";
        keys["00387"] = "Bosnia and Herzegovina(+387)";
        keys["00267"] = "Botswana(+267)";
        keys["0055"] = "Brazil(+55)";
        keys["00246"] = "British Indian Ocean Territory(+246)";
        keys["001"] = "British Virgin Islands(+1)";
        keys["00673"] = "Brunei(+673)";
        keys["00359"] = "Bulgaria(+359)";
        keys["00226"] = "Burkina Faso(+226)";
        keys["0095"] = "Burma Myanmar(+95)";
        keys["00257"] = "Burundi(+257)";
        keys["00855"] = "Cambodia(+855)";
        keys["00237"] = "Cameroon(+237)";
        keys["001"] = "Canada(+1)";
        keys["00238"] = "Cape Verde(+238)";
        keys["001"] = "Cayman Islands(+1)";
        keys["00236"] = "Central African Republic(+236)";
        keys["00235"] = "Chad(+235)";
        keys["0056"] = "Chile(+56)";
        keys["0086"] = "China(+86)";
        keys["0057"] = "Colombia(+57)";
        keys["00269"] = "Comoros(+269)";
        keys["00682"] = "Cook Islands(+682)";
        keys["00506"] = "Costa Rica(+506)";
        keys["00225"] = "C?te d'Ivoire(+225)";
        keys["00385"] = "Croatia(+385)";
        keys["0053"] = "Cuba(+53)";
        keys["00357"] = "Cyprus(+357)";
        keys["00420"] = "Czech Republic(+420)";
        keys["00243"] = "Democratic Republic of Congo(+243)";
        keys["0045"] = "Denmark(+45)";
        keys["00253"] = "Djibouti(+253)";
        keys["001"] = "Dominica(+1)";
        keys["001"] = "Dominican Republic(+1)";
        keys["00593"] = "Ecuador(+593)";
        keys["0020"] = "Egypt(+20)";
        keys["00503"] = "El Salvador(+503)";
        keys["00240"] = "Equatorial Guinea(+240)";
        keys["00291"] = "Eritrea(+291)";
        keys["00372"] = "Estonia(+372)";
        keys["00251"] = "Ethiopia(+251)";
        keys["00500"] = "Falkland Islands(+500)";
        keys["00298"] = "Faroe Islands(+298)";
        keys["00691"] = "Federated States of Micronesia(+691)";
        keys["00679"] = "Fiji(+679)";
        keys["00358"] = "Finland(+358)";
        keys["0033"] = "France(+33)";
        keys["00594"] = "French Guiana(+594)";
        keys["00689"] = "French Polynesia(+689)";
        keys["00241"] = "Gabon(+241)";
        keys["00995"] = "Georgia(+995)";
        keys["0049"] = "Germany(+49)";
        keys["00233"] = "Ghana(+233)";
        keys["00350"] = "Gibraltar(+350)";
        keys["0030"] = "Greece(+30)";
        keys["00299"] = "Greenland(+299)";
        keys["001"] = "Grenada(+1)";
        keys["00590"] = "Guadeloupe(+590)";
        keys["001"] = "Guam(+1)";
        keys["00502"] = "Guatemala(+502)";
        keys["00224"] = "Guinea(+224)";
        keys["00245"] = "Guinea-Bissau(+245)";
        keys["00592"] = "Guyana(+592)";
        keys["00509"] = "Haiti(+509)";
        keys["00504"] = "Honduras(+504)";
        keys["00852"] = "Hong Kong(+852)";
        keys["0036"] = "Hungary(+36)";
        keys["00354"] = "Iceland(+354)";
        keys["0091"] = "India(+91)";
        keys["0062"] = "Indonesia(+62)";
        keys["0098"] = "Iran(+98)";
        keys["00964"] = "Iraq(+964)";
        keys["00353"] = "Ireland(+353)";
        keys["00972"] = "Israel(+972)";
        keys["0039"] = "Italy(+39)";
        keys["001"] = "Jamaica(+1)";
        keys["0081"] = "Japan(+81)";
        keys["00962"] = "Jordan(+962)";
        keys["007"] = "Kazakhstan(+7)";
        keys["00254"] = "Kenya(+254)";
        keys["00686"] = "Kiribati(+686)";
        keys["00381"] = "Kosovo(+381)";
        keys["00965"] = "Kuwait(+965)";
        keys["00996"] = "Kyrgyzstan(+996)";
        keys["00856"] = "Laos(+856)";
        keys["00371"] = "Latvia(+371)";
        keys["00961"] = "Lebanon(+961)";
        keys["00266"] = "Lesotho(+266)";
        keys["00231"] = "Liberia(+231)";
        keys["00218"] = "Libya(+218)";
        keys["00423"] = "Liechtenstein(+423)";
        keys["00370"] = "Lithuania(+370)";
        keys["00352"] = "Luxembourg(+352)";
        keys["00853"] = "Macau(+853)";
        keys["00389"] = "Macedonia(+389)";
        keys["00261"] = "Madagascar(+261)";
        keys["00265"] = "Malawi(+265)";
        keys["0060"] = "Malaysia(+60)";
        keys["00960"] = "Maldives(+960)";
        keys["00223"] = "Mali(+223)";
        keys["00356"] = "Malta(+356)";
        keys["00692"] = "Marshall Islands(+692)";
        keys["00596"] = "Martinique(+596)";
        keys["00222"] = "Mauritania(+222)";
        keys["00230"] = "Mauritius(+230)";
        keys["00262"] = "Mayotte(+262)";
        keys["0052"] = "Mexico(+52)";
        keys["00373"] = "Moldova(+373)";
        keys["00377"] = "Monaco(+377)";
        keys["00976"] = "Mongolia(+976)";
        keys["00382"] = "Montenegro(+382)";
        keys["001"] = "Montserrat(+1)";
        keys["00212"] = "Morocco(+212)";
        keys["00258"] = "Mozambique(+258)";
        keys["00264"] = "Namibia(+264)";
        keys["00674"] = "Nauru(+674)";
        keys["00977"] = "Nepal(+977)";
        keys["0031"] = "Netherlands(+31)";
        keys["00599"] = "Netherlands Antilles(+599)";
        keys["00687"] = "New Caledonia(+687)";
        keys["0064"] = "New Zealand(+64)";
        keys["00505"] = "Nicaragua(+505)";
        keys["00227"] = "Niger(+227)";
        keys["00234"] = "Nigeria(+234)";
        keys["00683"] = "Niue(+683)";
        keys["00672"] = "Norfolk Island(+672)";
        keys["00850"] = "North Korea(+850)";
        keys["001"] = "Northern Mariana Islands(+1)";
        keys["0047"] = "Norway(+47)";
        keys["00968"] = "Oman(+968)";
        keys["0092"] = "Pakistan(+92)";
        keys["00680"] = "Palau(+680)";
        keys["00970"] = "Palestine(+970)";
        keys["00507"] = "Panama(+507)";
        keys["00675"] = "Papua New Guinea(+675)";
        keys["00595"] = "Paraguay(+595)";
        keys["0051"] = "Peru(+51)";
        keys["0063"] = "Philippines(+63)";
        keys["0048"] = "Poland(+48)";
        keys["00351"] = "Portugal(+351)";
        keys["001"] = "Puerto Rico(+1)";
        keys["00974"] = "Qatar(+974)";
        keys["00242"] = "Republic of the Congo(+242)";
        keys["00262"] = "R?union(+262)";
        keys["0040"] = "Romania(+40)";
        keys["007"] = "Russia(+7)";
        keys["00250"] = "Rwanda(+250)";
        keys["00590"] = "Saint Barth?lemy(+590)";
        keys["00290"] = "Saint Helena(+290)";
        keys["001"] = "Saint Kitts and Nevis(+1)";
        keys["00590"] = "Saint Martin(+590)";
        keys["00508"] = "Saint Pierre and Miquelon(+508)";
        keys["001"] = "Saint Vincent and the Grenadines(+1)";
        keys["00685"] = "Samoa(+685)";
        keys["00378"] = "San Marino(+378)";
        keys["00239"] = "S?o Tom? and Pr?ncipe(+239)";
        keys["00966"] = "Saudi Arabia(+966)";
        keys["00221"] = "Senegal(+221)";
        keys["00381"] = "Serbia(+381)";
        keys["00248"] = "Seychelles(+248)";
        keys["00232"] = "Sierra Leone(+232)";
        keys["0065"] = "Singapore(+65)";
        keys["00421"] = "Slovakia(+421)";
        keys["00386"] = "Slovenia(+386)";
        keys["00677"] = "Solomon Islands(+677)";
        keys["00252"] = "Somalia(+252)";
        keys["0027"] = "South Africa(+27)";
        keys["0082"] = "South Korea(+82)";
        keys["0034"] = "Spain(+34)";
        keys["0094"] = "Sri Lanka(+94)";
        keys["001"] = "St. Lucia(+1)";
        keys["00249"] = "Sudan(+249)";
        keys["00597"] = "Suriname(+597)";
        keys["00268"] = "Swaziland(+268)";
        keys["0046"] = "Sweden(+46)";
        keys["0041"] = "Switzerland(+41)";
        keys["00963"] = "Syria(+963)";
        keys["00886"] = "Taiwan(+886)";
        keys["00992"] = "Tajikistan(+992)";
        keys["00255"] = "Tanzania(+255)";
        keys["0066"] = "Thailand(+66)";
        keys["001"] = "The Bahamas(+1)";
        keys["00220"] = "The Gambia(+220)";
        keys["00670"] = "Timor-Leste(+670)";
        keys["00228"] = "Togo(+228)";
        keys["00690"] = "Tokelau(+690)";
        keys["00676"] = "Tonga(+676)";
        keys["001"] = "Trinidad and Tobago(+1)";
        keys["00216"] = "Tunisia(+216)";
        keys["0090"] = "Turkey(+90)";
        keys["00993"] = "Turkmenistan(+993)";
        keys["001"] = "Turks and Caicos Islands(+1)";
        keys["00688"] = "Tuvalu(+688)";
        keys["00256"] = "Uganda(+256)";
        keys["00380"] = "Ukraine(+380)";
        keys["00971"] = "United Arab Emirates(+971)";
        keys["0044"] = "United Kingdom(+44)";
        keys["001"] = "United States(+1)";
        keys["00598"] = "Uruguay(+598)";
        keys["001"] = "US Virgin Islands(+1)";
        keys["00998"] = "Uzbekistan(+998)";
        keys["00678"] = "Vanuatu(+678)";
        keys["0039"] = "Vatican City(+39)";
        keys["0058"] = "Venezuela(+58)";
        keys["0084"] = "Vietnam(+84)";
        keys["00681"] = "Wallis and Futuna(+681)";
        keys["00967"] = "Yemen(+967)";
        keys["00260"] = "Zambia(+260)";
        keys["00263"] = "Zimbabwe(+263)";

        var select = ' <div class="inline col-md-4  col-xs-4 no-padding" ><select name="international_key_' + key + '"  style="padding-bottom:3px;" class="text_field form-control">';
        $.each(keys, function (id, singleKey) {
            var selected = '';
            if (value == id) {
                selected = "selected";
            }
            select += '<option ' + selected + ' value="' + id + '">' + singleKey + '</option>';
        });
        ;
        select += '</select></div>';
        $('#city_key_' + key + ' input').removeAttr("readonly");
        $("#international_key_" + key + "").show();
        $("#international_key_" + key + "").html(select);
        $('#international_key' + key + '_link').html('<a href="javascript:void(0);" onclick="hideInternationalKey(\'' + key + '\',\'' + value + '\');">Hide Country Code</a>');
    }
    function hideInternationalKey(key, value) {
        $('#city_key_' + key + ' input').attr("readonly", 'true');
        $("#international_key_" + key + "").hide();
        $('#international_key' + key + '_link').html('<a href="javascript:void(0);" onclick="addInternationalKey(\'' + key + '\',\'' + value + '\');">Add Country Code</a>');
    }

    function removeContactBox(key) {
        $('#contact_box_' + key).remove();
        contact_counter = contact_counter - 1;
        $('#contact_count').val(contact_counter);
    }

</script>

<script>


    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        //administrative_area_level_1: 'short_name',
        //country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
     
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }

    $('#customer_form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

</script>

<?php

function convert_to_user_date($date, $format = 'n/j/Y g:i A', $userTimeZone = 'Asia/Gaza', $serverTimeZone = 'UTC') {
    try {
        $dateTime = new DateTime($date, new DateTimeZone($serverTimeZone));
        $dateTime->setTimezone(new DateTimeZone($userTimeZone));
        return $dateTime->format($format);
    } catch (Exception $e) {
        return '';
    }
}

function convert_to_server_date($date, $format = 'n/j/Y g:i A', $userTimeZone = 'Asia/Gaza', $serverTimeZone = 'UTC') {
    try {
        $dateTime = new DateTime($date, new DateTimeZone($userTimeZone));
        $dateTime->setTimezone(new DateTimeZone($serverTimeZone));
        return $dateTime->format($format);
    } catch (Exception $e) {
        return '';
    }
}

////example usage
//$serverDate = '2016-10-12 10:08:22'; //utc time
//echo convert_to_user_date($serverDate) . "<br>";
//$userDate = '2016-10-12 12:08:22'; //gaza time
//echo convert_to_server_date($userDate) . "<br>";
?>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRIxwij2AXtXl2_5GT-otEgzyuSBPW190&libraries=places&callback=initAutocomplete" async defer>
</script>

