<style>
        .btnGroupMap{
        cursor: default !important; margin-bottom: 0px !important;
        background: white !important;
        font-size: 11px !important;
        padding: 7px 5px !important;
    }
    .btnGroupContainer{
        float:right; right: 0;
        z-index: 1;  position: absolute;
        top:127px; height:auto; margin-top:10px;
        margin-right:25px;
    }
    @media only screen and (max-width: 500px) {
        .btnGroupContainer{
            float:left !important; left: 0 !important;
            top:210px; height:auto; 
            margin-left:20px;
            max-width: 300px !important;

        }
    }
    
</style>

<?php if ($this->is_address): ?>
    <?php echo $this->MAP_OBJECT->getHeaderJS(); ?>
    <?php echo $this->MAP_OBJECT->getMapJS(); ?>
<?php endif; ?>
<div class="ibox float-e-margins">
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-1">
			   <a  id="Closebtn" href="<?php echo isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '' ?>" class="btn btn-white">Back</a>
            	
            </div>
            <div class="col-md-10 ">
			<h3>    <?php if ($this->line_address): ?>
                    <div style="margin-left: 10px; font-size: 20px; float: left; padding-top: 5px; color: #999999">
                        <a href="http://maps.google.com.au/maps?q=<?php echo urlencode($this->escape($this->line_address)); ?>" target="_blank" class="a_link"><?php echo $this->escape($this->line_address); ?></a>
                    </div>
                <?php endif; ?></h3>
			</div>

		        <div style="text-align: center;">
                 <?php if ($this->is_address): ?>

<?php $modelUser = new Model_User();
$modelBookingAddress = new Model_BookingAddress();
    $bookingAddress = $modelBookingAddress->getByBookingId($this->booking['booking_id']); 
                        $lineAddress = get_line_address($bookingAddress); ?>

                            <div align="left"  class="FontSize btnGroupContainer">
				<div class="btn-group" style="box-shadow: 5px 5px 5px #dad4d4 !important; font-family: Roboto, Arial, sans-serif !important;">
                                <?php
                                $modelPropertyType = new Model_PropertyType();
                                $propertyType = $modelPropertyType->getById($this->booking['property_type_id']);
                                if (!empty($propertyType)) {
                                    ?>                                   
                                        <button type="button" class="btn btnGroupMap" style="border-right: 2px solid #dad4d4 !important;"><span class="fa fa-home" title="Property Type" ></span> <?php echo $this->escape($propertyType['property_type']);
                                }
                                ?></button>
                                    <button type="button" class="btn btnGroupMap" ><span class="glyphicon glyphicon-map-marker"></span><?= urlencode($lineAddress) ?></button>
                                </div>
                            </div>
                                                <div id="map_<?=$this->booking['booking_id']?>" style="width:100%; height:500px;"></div>
						<div id="mapID_<?=$this->booking['booking_id']?>" class="map1" value="<?=$this->booking['booking_id']?>"></div>
						<div id="bookingAddress_<?=$this->booking['booking_id']?>" value="<?=$lineAddress?>"></div>
						<div id="is_drawn_<?=$this->booking['booking_id']?>" value="0"></div>
                                   
                                                
                                                                       
                          <?php  foreach($this->contractorDistances as $key=>$value) 
                             {
                        $contractorDistances = array();

                                        $contractor = $modelUser->getById($this->contractorDistances[$key]['contractor_id']);                                                                                
                                        $dir = get_config('user_picture_path').$contractor['avatar'];
                                        $dir_default_pic = get_config('user_default_picture_path');
                                         $modelContractorRate = new Model_ContractorRate();
                                $contractorRate = $modelContractorRate->getRateByContractor($this->contractorDistances[$key]['contractor_id']);
                                        $lineAddressArray = array(
                                                                'unit_lot_number' => $contractor['unit_lot_number'],
                                                                'street_number' => $contractor['street_number'],
                                                                'street_address' => $contractor['street_address'],
                                                                'suburb' => $contractor['suburb'],
                                                                'state' => $contractor['state'],
                                                                'postcode' => $contractor['postcode']
                                                        );
                                                        $contractorAddress = get_line_address($lineAddressArray);?>
                                        <div></div>

                                        <div id="contractor_<?=$this->booking['booking_id']?>_<?=$contractor['user_id']?>" class="AvailablecontractorDiv_<?=$this->booking['booking_id']?>" value="<?=$contractor['user_id']?>"></div>
                                        <div id="contractorAddress_<?=$this->booking['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$contractorAddress?>"></div>
                                        <div id="contractorDistance_<?=$this->booking['booking_id']?>_<?=$contractor['user_id']?>" value="<?=number_format($this->contractorDistances[$key]['distance'],2).' KM'?>"></div>
                                        <div id="contractorName_<?=$this->booking['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$contractor['username']?>"></div>
                                        <div id="contractorRate_<?=$this->booking['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$contractorRate?>"></div>
                                        <div id="contractorURL_<?=$this->booking['booking_id']?>_<?=$contractor['user_id']?>" value="http://temp.tilecleaners.com.au/settings/contractor-info/<?=$contractor['user_id']?>"></div>
                                       <?php  
                                             if (isset($contractor['avatar']) && !empty($contractor['avatar'])){
                                                ?> <div id="contractorImage_<?=$this->booking['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$this->baseUrl($dir)?>" /></div>
                                <?php }else{
                                                    ?> <div id="contractorImage_<?=$this->booking['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$this->baseUrl($dir_default_pic)?>" /></div>                                                                   

                                        <?php 	} 
                                }
                ?>
                                                
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no Address for this Booking.
                        <div style="font-size:12px; margin-top:6px;">
                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>">View booking</a>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
		</div>
		</div>
</div>

<script>
    	   $(document).ready(function () {
        		  $.each($('.map1'), function (index, value) { 
				  id=$(this).attr('value');
				  is_map_drawn = ($('#is_drawn_'+id).attr('value')); 
				  if(is_map_drawn == 0){
					  $('#is_drawn_'+id).attr('value',1);
				  bookingAddress = $('#bookingAddress_'+id).attr('value');
				  var contractorsIds = [];
				  $.each($('.AvailablecontractorDiv_'+id), function (index, value) { 
		
			          contractorsIds[$(this).attr('value')]=$(this).attr('value');
				  });
				drawPositionFromAddress(bookingAddress,id,contractorsIds); 
				  }
			  });
				
				
	      
    });
	var infoWindows = [];
function drawPositionFromAddress(Address,id,contractorsIds){
		var maps =[];
				var myOptions=[];
				myOptions[id] = {
					zoom: 11,
					center: new google.maps.LatLng(-34.397, 150.644),
					draggable: true,
					zoomControl: true,
				    zoomControlOptions: {
					  position: google.maps.ControlPosition.LEFT_CENTER
				       },
					mapTypeId: google.maps.MapTypeId.MyMapApp
				}
				maps[id] = new google.maps.Map(document.getElementById("map_"+id), myOptions[id]);
                              
			 var geocoder2 = new google.maps.Geocoder();
				        
						setTimeout(geocoder2.geocode( { 'address': Address}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
						  maps[id].setCenter(results[0].geometry.location);
						  console.log('this is booking lat and lon : '+results[0].geometry.location);
						var marker = new google.maps.Marker({
							map: maps[id],
							position: results[0].geometry.location
						});

						marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
					  }
								}),2500);
						  		
		if(contractorsIds != null){
               
		$.each(contractorsIds, function (index, value) {
			          ContractorId=value;
		if (ContractorId != null){
					    ContractorAddress = $('#contractorAddress_'+id+'_'+ContractorId).attr('value');
						contractorName = $('#contractorName_'+id+'_'+ContractorId).attr('value');
						ContractorDistance = $('#contractorDistance_'+id+'_'+ContractorId).attr('value');
                                                ContractorImage = $('#contractorImage_'+id+'_'+ContractorId).attr('value');
                                             ContractorRate = $('#contractorRate_'+id+'_'+ContractorId).attr('value');
                                              ContractorURL = $('#contractorURL_'+id+'_'+ContractorId).attr('value');
						   setTimeout(drawContractorMarker(maps[id],ContractorAddress,contractorName,ContractorDistance,ContractorImage,ContractorId,ContractorRate,ContractorURL),2500);
                     			
	           	}
                        
					  });
	      }
              
							
	}
	
function drawContractorMarker(map,conractorAddress,contractorName,Distance,ContractorImage,ContractorId,ContractorRate,ContractorURL){

						  var geocoder2 = new google.maps.Geocoder();
						  if(conractorAddress!=null){

                             
						
                                                   var infowindow = new google.maps.InfoWindow({
                                                       
						          
						  content: '<a class="black_color" target="_blank" href="'+ContractorURL+'"  >'+
                                                          '<div style="margin-right:20px;"><center><img src="'+ContractorImage+'" style="border-radius: 50%; height:50px;" ></a>' +
                                                          
                                                          '<br><a class="black_color" target="_blank" href="'+ContractorURL+'"  >'+contractorName+'</a>'+
                                                          '<div class="star-rating-'+ContractorId+'" style="margin-bottom:0px !important;" >'+ 
                                                            '<span class="fa fa-star-o" data-rating="1"></span>'+
                                                            '<span class="fa fa-star-o" data-rating="2"></span>'+
                                                            '<span class="fa fa-star-o" data-rating="3"></span>'+
                                                            '<span class="fa fa-star-o" data-rating="4"></span>'+
                                                            '<span class="fa fa-star-o" data-rating="5"></span>'+
                                                            '<input type="hidden" name="contractor_rate" class="rating-value" value="'+ContractorRate+'">'+
                                                        '</div> '+Distance+' Away </center></div>'
                                                          
                                               
                                                                                                           
						});
                                                
                                                google.maps.event.addListener(infowindow,'domready',function(){
    
    $(".gm-style-iw").css("left", function() { 
  return ($(this).parent().width() - $(this).find(">:first-child").width()) / 2;
}).next("div").remove();
                                                            var $star_rating = $('.star-rating-' +ContractorId+ ' .fa');
                                        console.log($star_rating);
                                        var SetRatingStar = function () {
                                            return $star_rating.each(function () {
                                                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                                                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                                                } else {
                                                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                                                }
                                            });
                                        };

                                        $star_rating.on('click', function () {
                                            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
                                            return SetRatingStar();
                                        });

                                        SetRatingStar();
                                                });
                                                
                                                
                                    
                                        
                                                         infoWindows.push(infowindow);    
						 geocoder2.geocode( { 'address': conractorAddress}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
						var marker = new google.maps.Marker({
							map: map,
							position: results[0].geometry.location,
                                                       
						});
                                          
						 marker.addListener('click', function() {
                                                   
        
                                                        closeAllInfoWindows();

                                                            infowindow.open(map,marker);

                             });
                             map.addListener('click', function() {
				infowindow.close();
			});
					  }
								});
						  }
	}
    // loading inquiry data
  
	function closeAllInfoWindows() {
  for (var i=0;i<infoWindows.length;i++) {
     infoWindows[i].close();
  }
}
    
    
</script>
