<?php  $key = $this->contact_counter;
$modelCustomer = new Model_Customer();
$customer = $modelCustomer->getById($this->customer_contact['customer_id']);
$city_obj = new Model_Cities();
$city = $city_obj->getById((!empty($customer['city_id']) ? $customer['city_id'] : CheckAuth::getCityId()));
?>

<div class="panel panel-default" id="contact_box_<?= $key;?>">
	 <div class="panel-heading">Secondary Contact
	 <a class="float-r" href="javascript:;" onclick="removeContactBox('<?= $key;?>')"><i class="fa fa-minus-circle fa-lg" style="color:red;"></i></a>
	 </div>
     <div class="panel-body">
	    <div class="form-group">
        <label class="control-label col-md-2  col-xs-12 no-padding-right"><i class="fa fa-user fa-lg">&nbsp;</i>

        </label>
        <div class="col-md-10  col-xs-12">
            <div class="inline col-md-2  col-xs-4 no-padding">
			    <select name="title_<?php echo $key; ?>" id="title_<?php echo $key; ?>" class="select_field form-control" placeholder="title">
					<option value="" label="Title" selected="selected">Title</option>
					<option value="dr" label="Dr." <?= isset($this->customer_contact['title']) && $this->customer_contact['title'] == 'dr' ? 'selected':'' ?>>Dr.</option>
					<option value="mr" label="Mr." <?= isset($this->customer_contact['title']) && $this->customer_contact['title'] == 'mr' ? 'selected':'' ?>>Mr.</option>
					<option value="mrs" label="Mrs." <?= isset($this->customer_contact['title']) && $this->customer_contact['title'] == 'mrs' ? 'selected':'' ?>>Mrs.</option>
					<option value="miss" label="Miss." <?= isset($this->customer_contact['title']) && $this->customer_contact['title'] == 'miss' ? 'selected':'' ?>>Miss.</option>
					<option value="ms" label="Ms." <?= isset($this->customer_contact['title']) && $this->customer_contact['title'] == 'ms' ? 'selected':'' ?>>Ms.</option>
				</select>
            </div>
            <div class="inline col-md-5  col-xs-4 padding-left-no-right">
				<input type="text" name="first_name_<?php echo $key; ?>" id="first_name_<?php echo $key; ?>" value="<?= isset($this->customer_contact['first_name']) ?$this->customer_contact['first_name'] : '' ?>" class="text_field form-control" placeholder="First Name">
            </div>
            <div class="inline col-md-5  col-xs-4 padding-left-no-right">
				<input type="text" name="last_name_<?php echo $key; ?>" id="last_name_<?php echo $key; ?>" value="<?= isset($this->customer_contact['last_name']) ?$this->customer_contact['last_name'] : '' ?>" class="text_field form-control" placeholder="Last Name">

            </div>
        </div>
    </div>
	
	<div class="form-group ">

        <label class="col-md-2 control-label no-padding-right">Email 1:</label>

        <div class="col-md-10">
            <div class="input-group">
			<?php if (CheckAuth::getRoleName() != 'customer') {?>
			    <input type="text" name="email1_<?php echo $key; ?>" id="email1_<?php echo $key; ?>" value="<?= isset($this->customer_contact['email1']) ?$this->customer_contact['email1'] : '' ?>" class="text_field form-control" onkeyup="customerSearch();">
            <?php }else{?>
			   <input type="text" name="email1_<?php echo $key; ?>" id="email1_<?php echo $key; ?>" value="<?= isset($this->customer_contact['email1']) ?$this->customer_contact['email1'] : '' ?>" class="text_field form-control">
			<?php } ?>
                <span class="input-group-btn">
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#s_email_2_<?= $key;?>').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>   


    <div class="form-group" id="s_email_2_<?= $key;?>" style="display: <?php echo!isset($this->customer_contact['email2']) || empty($this->customer_contact['email2'])  ? 'none' : 'block'; ?>;">

        <label class="col-md-2 control-label no-padding-right">Email 2:</label>

        <div class="col-md-10">
            <div class="input-group">
			<input type="text" name="email2_<?php echo $key; ?>" id="email2_<?php echo $key; ?>" value="<?= isset($this->customer_contact['email2']) ?$this->customer_contact['email2'] : '' ?>" class="text_field form-control">
                <span class="input-group-btn">
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#s_email_3_<?= $key;?>').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#s_email2_<?= $key;?>').val('');
                            $('#s_email_2_<?= $key;?>').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>         




    <div class="form-group" id="s_email_3_<?= $key;?>" style="display: <?php echo !isset($this->cutomer_contact['email3'])? 'none' : 'block'; ?>;">

        <label class="col-md-2 control-label no-padding-right">Email 3:</label>

        <div class="col-md-10">
            <div class="input-group">
				<input type="text" name="email3_<?php echo $key; ?>" id="email3_<?php echo $key; ?>" value="<?= isset($this->customer_contact['email3']) ?$this->customer_contact['email3'] : '' ?>" class="text_field form-control">
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#s_email3_<?= $key;?>').val('');
                            $('#s_email_3_<?= $key;?>').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
        </div>
    </div>
	
		   <div class="form-group" id="mobile_1">

        <label class="col-md-2 control-label no-padding-right" >Mobile 1 <span style="color:#ff0000">*</span>:</label>

        <div class="col-md-10">
            <div id="international_key_1_<?php echo $key?>">

                <?php if ((int) substr($this->customer_contact['mobile1'], 0, -9) != 0) { ?>
                    <div class="inline col-md-2  col-xs-4 no-padding" >
					    <input type="text" name="international_key_1_<?php echo $key?>" id="international_key_1_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile1'])&& !empty($this->customer_contact['mobile1']) ? substr($this->customer_contact['mobile1'], 0, -9)  : '' ?>" class="text_field form-control" readonly="readonly">
                    </div>
                <?php } ?>
            </div>
            <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_1_<?php echo $key?>">
                <input type="text" name="city_key_1_<?php echo $key?>" id="city_key_1_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile1'])&& !empty($this->customer_contact['mobile1']) ?'0'.substr($this->customer_contact['mobile1'], -9, -8)  : '04' ?>" class="text_field form-control" readonly="readonly">
            </div>

            <div class="input-group">
	
			<?php if (CheckAuth::getRoleName() != 'customer') {?>
			<input type="text" name="mobile1_<?php echo $key?>" id="mobile1_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile1'])? substr($this->customer_contact['mobile1'], -8, 8)  : '' ?>" class="text_field form-control" onkeyup="customerSearch();">
			<div id="mobile1_<?php echo $key?>_error"></div>
			<?php }else{?>
                <input type="text" name="mobile1_<?php echo $key?>" id="mobile1_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile1'])? substr($this->customer_contact['mobile1'], -8, 8) : '' ?>" class="text_field form-control">
			<?php }?>	
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#s_mobile_2_<?= $key;?>').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                </span>
            </div>
            <div id="international_key1_<?php echo $key?>_link">
                <a href="javascript:void(0);" onclick="addInternationalKey('1_<?php echo $key?>', '<?= substr($this->customer_contact['mobile1'], 0, -9);?>');">Add Country Code</a>
            </div>
        </div>
    </div>  
   
   

    <div class="form-group" id="s_mobile_2_<?= $key;?>" style="display:<?php echo !isset($this->customer_contact['mobile2']) || empty($this->customer_contact['mobile2']) ? 'none' : 'block'; ?>;">

        <label class="col-md-2 control-label no-padding-right">Mobile 2: </label>

        <div class="col-md-10">
            <div id="international_key_2_<?php echo $key?>">
                <?php if ((int) substr($this->customer_contact['mobile2'], 0, -9) != 0) { ?>
                    <div class="inline col-md-2  col-xs-4 no-padding">
						<input type="text" name="international_key_2_<?php echo $key?>" id="international_key_2_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile2'])&& !empty($this->customer_contact['mobile2']) ? substr($this->customer_contact['mobile2'], 0, -9)  : '' ?>" class="text_field form-control" readonly="readonly">
                    </div>
                <?php } ?>
            </div>
            <div class="inline col-md-1  col-xs-2 no-padding" id= "city_key_2_<?php echo $key?>">
                <input type="text" name="city_key_2_<?php echo $key?>" id="city_key_2_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile2'])&& !empty($this->customer_contact['mobile2']) ?'0'.substr($this->customer_contact['mobile2'], -9, -8)  : '04' ?>" class="text_field form-control" readonly="readonly">
            </div>
            <div class="input-group">
                <input type="text" name="mobile2_<?php echo $key?>" id="mobile2_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile2']) ?substr($this->customer_contact['mobile2'], -8, 8)  : '' ?>" class="text_field form-control">
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#s_mobile_3_<?= $key;?>').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile2_<?= $key;?>').val('');
                            $('#s_mobile_2_<?= $key;?>').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
            <div id="international_key2_<?php echo $key?>_link">
                <a href="javascript:void(0);" onclick="addInternationalKey('2_<?php echo $key?>', '<?= substr($this->customer_contact['mobile2'], 0, -9); ?>');">Add Country Code</a>
            </div>
        </div>
    </div>  


    <div class="form-group" id="s_mobile_3_<?= $key;?>" style="display: <?php echo!isset($this->customer_contact['mobile3']) || empty($this->customer_contact['mobile3']) ? 'none' : 'block'; ?>;">

        <label class="col-md-2 control-label no-padding-right">Mobile 3:</label>

        <div class="col-md-10">
            <div id="international_key_3_<?php echo $key?>">
                <?php if ((int) substr($this->customer_contact['mobile3'], 0, -9) != 0) { ?>
                    <div class="inline col-md-2  col-xs-4 no-padding">
                        <input type="text" name="international_key_3_<?php echo $key?>" id="international_key_3_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile3'])&& !empty($this->customer_contact['mobile3']) ? substr($this->customer_contact['mobile3'], 0, -9)  : '' ?>" class="text_field form-control" readonly="readonly">
                    </div>
                <?php } ?>
            </div>
            <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_3_<?php echo $key?>">
				<input type="text" name="city_key_3_<?php echo $key?>" id="city_key_3_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile3'])&& !empty($this->customer_contact['mobile3']) ?'0'.substr($this->customer_contact['mobile3'], -9, -8)  : '04' ?>" class="text_field form-control" readonly="readonly">
            </div>
            <div class="input-group">
			    <input type="text" name="mobile3_<?php echo $key?>" id="mobile3_<?php echo $key?>" value="<?= isset($this->customer_contact['mobile3']) ?substr($this->customer_contact['mobile3'], -8, 8)  : '' ?>" class="text_field form-control">
                <span class="input-group-btn">
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile3_<?= $key;?>').val('');
                            $('#s_mobile_3_<?= $key;?>').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
            <div id="international_key3_<?php echo $key?>_link">
                <a href="javascript:void(0);" onclick="addInternationalKey('3_<?php echo $key?>', '<?= substr($this->customer_contact['mobile3'], 0, -9) ?>');">Add Country Code</a>
            </div>
        </div>
    </div> 
	
	<div class="form-group" id="s_phone_1">

        <label class="col-md-2 control-label no-padding-right">Phone 1: </label>

        <div class="col-md-10">
            <div id="international_key_4_<?php echo $key?>">
                <?php if ((int) substr($this->customer_contact['phone1'], 0, -9) != 0) { ?>
                    <div class="inline col-md-2  col-xs-4 no-padding" >
						<input type="text" name="international_key_4_<?php echo $key?>" id="international_key_4_<?php echo $key?>" value="<?= isset($this->customer_contact['phone1'])&& !empty($this->customer_contact['phone1']) ? substr($this->customer_contact['phone1'], 0, -9)  : '' ?>" class="text_field form-control" readonly="readonly">
                    </div>
                <?php } ?>
            </div>
            <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_4_<?php echo $key?>">
                <input type="text" name="city_key_4_<?php echo $key?>" id="city_key_4_<?php echo $key?>" value="<?= isset($this->customer_contact['phone1'])&& !empty($this->customer_contact['phone1']) ?'0'.substr($this->customer_contact['phone1'], -9, -8)  :  $city['phone_key'] ?>" class="text_field form-control" readonly="readonly">
            </div>
            <div class="input-group"> 
                <?php if (CheckAuth::getRoleName() != 'customer') {?>
                 <input type="text" name="phone1_<?php echo $key?>" id="phone1_<?php echo $key?>" value="<?= isset($this->customer_contact['phone1']) ?substr($this->customer_contact['phone1'], -8, 8)  : '' ?>" class="text_field form-control" onkeyup="customerSearch();">
				 <?php }else{?>
				  <input type="text" name="phone1_<?php echo $key?>" id="phone1_<?php echo $key?>" value="<?= isset($this->customer_contact['phone1']) ?substr($this->customer_contact['phone1'], -8, 8)  : '' ?>" class="text_field form-control" >
				 <?php } ?>
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#s_phone_2_<?= $key;?>').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                </span>
            </div>
            <div id="international_key4_<?php echo $key?>_link">
                <a href="javascript:void(0);" onclick="addInternationalKey('4_<?php echo $key?>', '<?= substr($this->customer_contact['phone1'], 0, -9); ?>');">Add Country Code</a>
            </div>
        </div>
    </div>  



    <div class="form-group" id="s_phone_2_<?= $key;?>" style="display: <?php echo!isset($this->customer_contact['phone2']) || empty($this->customer_contact['phone2']) ? 'none' : 'block'; ?>;">

        <label class="col-md-2 control-label no-padding-right">Phone 2: </label>

        <div class="col-md-10">
            <div id="international_key_5_<?php echo $key?>">
                <?php if ((int) substr($this->customer_contact['phone2'], 0, -9) != 0) { ?>
                    <div class="inline col-md-2  col-xs-4 no-padding">
                        <input type="text" name="international_key_5_<?php echo $key?>" id="international_key_5_<?php echo $key?>" value="<?= isset($this->customer_contact['phone2'])&& !empty($this->customer_contact['phone2']) ? substr($this->customer_contact['phone2'], 0, -9)  : '' ?>" class="text_field form-control" readonly="readonly">
                    </div>
                <?php } ?>
            </div>
            <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_5_<?php echo $key?>">
				<input type="text" name="city_key_5_<?php echo $key?>" id="city_key_5_<?php echo $key?>" value="<?= isset($this->customer_contact['phone2'])&& !empty($this->customer_contact['phone2']) ?'0'.substr($this->customer_contact['phone2'], -9, -8)  :  $city['phone_key'] ?>" class="text_field form-control" readonly="readonly">
            </div>
            <div class="input-group">
				<input type="text" name="phone2_<?php echo $key?>" id="phone2_<?php echo $key?>" value="<?= isset($this->customer_contact['phone2']) ?substr($this->customer_contact['phone2'], -8, 8)  : '' ?>" class="text_field form-control">
                <span class="input-group-btn">

                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#s_phone_3_<?= $key;?>').show();">
                        <i class="fa fa-plus"></i> 
                    </a>
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;"  onclick="$('#phone2_<?= $key;?>').val('');
                            $('#s_phone_2_<?= $key;?>').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
            <div id="international_key5_<?php echo $key?>_link">
                <a href="javascript:void(0);" onclick="addInternationalKey('5_<?php echo $key?>', '<?= substr($this->customer_contact['phone2'], 0, -9) ?>');">Add Country Code</a>
            </div>
        </div>
    </div>  


    <div class="form-group" id="s_phone_3_<?= $key;?>" style="display: <?php echo!isset($this->customer_contact['phone3']) || empty($this->customer_contact['phone3']) ? 'none' : 'block'; ?>;">

        <label class="col-md-2 control-label no-padding-right">Phone 3:</label>

        <div class="col-md-10">
            <div id="international_key_6_<?php echo $key?>">
                <?php if ((int) substr($this->customer_contact['phone3'], 0, -9) != 0) { ?>
                    <div class="inline col-md-2  col-xs-4 no-padding">
						<input type="text" name="international_key_6_<?php echo $key?>" id="international_key_6_<?php echo $key?>" value="<?= isset($this->customer_contact['phone3'])&& !empty($this->customer_contact['phone3']) ? substr($this->customer_contact['phone3'], 0, -9)  : '' ?>" class="text_field form-control" readonly="readonly">
                    </div>
                <?php } ?>
            </div>
            <div class="inline col-md-1  col-xs-2 no-padding" id="city_key_6_<?php echo $key?>">
				<input type="text" name="city_key_6_<?php echo $key?>" id="city_key_6_<?php echo $key?>" value="<?= isset($this->customer_contact['phone3'])&& !empty($this->customer_contact['phone3']) ?'0'.substr($this->customer_contact['phone3'], -9, -8)  :  $city['phone_key'] ?>" class="text_field form-control" readonly="readonly">
            </div>
            <div class="input-group">
				<input type="text" name="phone3_<?php echo $key?>" id="phone3_<?php echo $key?>" value="<?= isset($this->customer_contact['phone3']) ?substr($this->customer_contact['phone3'], -8, 8)  : '' ?>" class="text_field form-control">
                <span class="input-group-btn">
                    <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone3_<?= $key;?>').val('');
                            $('#s_phone_3_<?= $key;?>').hide();">
                        <i class="fa fa-minus"></i> 
                    </a>
                </span>
            </div>
            <div id="international_key6_<?php echo $key?>_link">

                <a href="javascript:void(0);" onclick="addInternationalKey('6_<?php echo $key?>', '<?= substr($this->customer_contact['phone3'], 0, -9) ?>');">Add Country Code</a>
            </div>
        </div>
    </div> 
	
	 </div>
</div>	 
	 
	 