<?php $modelCustomerType = new Model_CustomerType(); ?>
<?php if(isset($this->is_first_time) && $this->is_first_time == 1):?>
 <?php if ($this->data): ?>
   
   
  <?php if($this->isDeleted):?>
  
   <form id="form" action="<?php echo $this->escape($this->url(array(), 'customerDeleteForeverBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Customer?');">
   <?php if (CheckAuth::checkCredential(array('showDeletedCustomer', 'deleteCustomerForever'))): ?>
        <input type="submit" value="Delete Forever"  class="btn  btn-danger"/>
    <?php endif; ?> 
  <?php else: ?>
  <form id="form" action="<?php echo $this->escape($this->url(array(), 'customerDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Customer?');">
  <?php if (CheckAuth::checkCredential(array('customerDelete'))): ?>
          	<input class="btn  btn-danger" type="submit" value="Delete"/>
        <?php endif; ?> 
  <?php endif; ?>
  
      <table class="table table-bordered responsive-table" id="customer-responsive-table">
        <thead>
          <tr>
            <th class="checkbox_booking_cont">
            		<input type="checkbox" name="checkboxall" id="checkboxallcustomer"/>
            </th>
            <th><b>Details</b></th>
            <th><b>Customer Info</b></th>
            <th><b>Customer Type</b></th>
          </tr>
        </thead>
        <tbody id="result">
		
		<?php else:?>
		
		<h3>There are no Customers. </h3>
                    <div style="font-size:12px; margin-top:6px;">
                        <a href="<?php echo $this->escape($this->url(array(), 'customerList')); ?>">View all Customers</a>
                    </div>
					
<?php endif;?>
<?php endif;?>


 <?php if ($this->data): ?>
    <?php $count = 0; ?>
          <?php foreach ($this->data as $row) : ?>
          <?php $count += 1; ?>
          <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
            <td class="checkbox_booking_cont"><div class="details_info_l">
                <input type="checkbox" name="ids[]" class="customer_ids" id="delete-check" value="<?php echo $this->escape($row['customer_id']) ?>"/>
              </div></td>
            <td>
			
			<?php if($this->isDeleted):?>
			 
			  <div class="details_info_l">
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="a_black">
                                                    <?php echo $this->escape(get_customer_name($row)); ?>
                                                </a>    
                                            <?php else: ?>
                                                <span class="a_black">
                                                    <?php echo $this->escape(get_customer_name($row)); ?>
                                                </span>    
                                            <?php endif; ?>
                                        </div>
                                        <div class="booking_time_cont">
                                            <span> Date:</span><?php echo $this->escape(getDateFormating( $row['created'])) ?>
                                        </div>
           </div>
                             
                                        <?php if (CheckAuth::checkCredential(array('showDeletedCustomer', 'deleteCustomerForever'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerDeleteForever')); ?>" onclick="return confirm('are you sure you want to delete this Customer?');" class="details_info_opt">Delete Forever</a>
                                        <?php endif; ?>
                                        <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                            <span class="details_breaks">|</span>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="details_info_opt">View Details</a>
                                        <?php endif; ?>
                                        <?php if (CheckAuth::checkCredential(array('showCustomerLocation'))): ?>
                                            <span class="details_breaks">|</span>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerLocation')); ?>" class="details_info_opt">View Location</a>
                                        <?php endif; ?>
			
			
			<?php else: ?>
			<div class="details_info_l">
                <div style="font-size: 14px;">
				<?php $customer_names = get_customer_names($row); ?>
                  <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                  <div>
				  <i class="fa fa-user">&nbsp;</i>
				  <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="details_info_name"><?php echo $this->escape(get_customer_name($row)); ?></a></div>
				  
				  <?php if($customer_names['customer_name2']): ?>
				    <div>
					<i class="fa fa-user ">&nbsp;</i>
					<a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="details_info_name"><?php echo $this->escape($customer_names['customer_name2']); ?></a></div>
				  <?php endif;?>
				  
				  <?php if($customer_names['customer_name3']): ?>
				    <div>
					<i class="fa fa-user ">&nbsp;</i>
					<a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="details_info_name"><?php echo $this->escape($customer_names['customer_name3']); ?></a></div>
				  <?php endif;?>
                  <?php else: ?>
                  <div>
				  <i class="fa fa-user ">&nbsp;</i>
				  <span class="a_black"><?php echo $this->escape(get_customer_name($row)); ?></span></div>
				  <?php if($customer_names['customer_name2']): ?>
				    <div>
					<i class="fa fa-user ">&nbsp;</i>
					<span class="a_black"><?php echo $this->escape(get_customer_name($customer_names['customer_name2'])); ?></span></div>
				  <?php endif; ?>
				  
				  <?php if($customer_names['customer_name3']): ?>
				    <div>
					<i class="fa fa-user ">&nbsp;</i>
					<span class="a_black"><?php echo $this->escape(get_customer_name($customer_names['customer_name3'])); ?></span></div>
				  <?php endif; ?>
                  <?php endif; ?>
                </div>
                <div class="booking_time_cont"> 
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					<?php echo $this->escape(getDateFormating($row['created'])) ?>
				</div>
                <div id="address_list">
                  <?php $lineAddress = get_line_address($row); ?>
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerLocation')); ?>"> <?php echo $this->escape($lineAddress); ?> </a> </div>
              </div>
              <div class="details_info_l">
					<ul class="inline-list">
						<?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
						<li><a href="javascript:;" data-target="#popupi" data-toggle="modal" onclick="AddEditCustomer('Edit Customer','<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerEdit')); ?>');" class="details_info_opt btn btn-white"><i class="fa fa-pencil-square-o">&nbsp;</i>Edit</a> 
						</li>
						<?php endif; ?>
						<?php if (CheckAuth::checkCredential(array('customerDelete'))): ?>
						<li><a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerDelete').'?currentPage='.$this->currentPage); ?>" onclick="return confirm('are you sure you want to delete this Customer?');" class="details_info_opt btn btn-white">Delete</a>
						</li>
					   <?php endif; ?>
						<li><a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="details_info_opt btn btn-white">View Details</a>
						</li>
					   <?php if (CheckAuth::checkCredential(array('showCustomerLocation'))): ?>
						<li> <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerLocation')); ?>" class="details_info_opt btn btn-white">View Location</a>
						</li>
						<?php endif; ?>
					</ul>
              </div>
			  <?php endif;?>
			 </td>
            <td class="details_info_l" style="vertical-align: top;"><div class="details_info_l" style="font-size: 12px;">
                <?php if ($row['email1']): ?>
                <div><i class="fa fa-envelope">&nbsp;</i> <?php echo $this->escape($row['email1']) ?></div>
                <?php endif; ?>
                <?php if ($row['email2']): ?>
                <div><i class="fa fa-envelope">&nbsp;</i><?php echo $this->escape($row['email2']) ?></div>
                <?php endif; ?>
                <?php if ($row['email3']): ?>
                <div><i class="fa fa-envelope">&nbsp;</i><?php echo $this->escape($row['email3']) ?></div>
                <?php endif; ?>
                <?php if ($row['mobile1updated']): ?>
                <div><i class="fa fa-mobile-phone">&nbsp;</i><?php echo $this->escape($row['mobile1updated']) ?></div>
                <?php endif; ?>
                <?php if ($row['mobile2updated']): ?>
                <div><i class="fa fa-mobile-phone">&nbsp;</i><?php echo $this->escape($row['mobile2updated']) ?></div>
                <?php endif; ?>
                <?php if ($row['mobile3updated']): ?>
                <div><i class="fa fa-mobile-phone">&nbsp;</i><?php echo $this->escape($row['mobile3updated']) ?></div>
                <?php endif; ?>
                <?php if ($row['phone1updated']): ?>
                <div><i class="fa fa-phone">&nbsp;</i><?php echo $this->escape($row['phone1updated']) ?></div>
                <?php endif; ?>
                <?php if ($row['phone2updated']): ?>
                <div><i class="fa fa-phone">&nbsp;</i> <?php echo $this->escape($row['phone2updated']) ?></div>
                <?php endif; ?>
                <?php if ($row['phone3updated']): ?>
                <div><i class="fa fa-phone">&nbsp;</i> <?php echo $this->escape($row['phone3updated']) ?></div>
                <?php endif; ?>
                <?php if ($row['fax']): ?>
                <div><i class="fa fa-phone">&nbsp;</i> <b>Fax :</b> <?php echo $this->escape($row['fax']) ?></div>
                <?php endif; ?>
                <?php if ($row['po_box']): ?>
                <div><i class="fa fa-inbox">&nbsp;</i><b>PO Box :</b> <?php echo $this->escape($row['po_box']) ?></div>
                <?php endif; ?>
                <div><i class="fa fa-home"></i><b>City :</b> <?php echo $this->escape($row['country_name'] . ' - ' . $row['city_name']) ?></div>
              </div>
			</td>
            <td><div class="details_info_l" style="font-size: 14px; margin-left: 30px">
                <?php
                       $customerType = $modelCustomerType->getById($row['customer_type_id']);
                 ?>
                <?php echo $this->escape($customerType['customer_type']) ?></div></td>
          </tr>
          <?php endforeach; ?>
 <?php endif;?>
 
 <?php if(isset($this->is_first_time) && $this->is_first_time == 1 && (isset($this->data) && !empty($this->data))):?>

</tbody>   
</table>			 
 </form>
 <?php endif;?>