<form id="search_form" action="<?php echo $this->escape($this->url(array(), 'customerList')); ?>" method="GET" >
    <div class="search">
        <div style="margin-bottom: 5px;">
            Search Customers
        </div>
        <div id="search">
            <div class="filter_border_top"></div>

            <div class="filter_book_cont">
                <span class="formLabel">Keywords</span>
                <input name="fltr[keywords]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
            </div>

            <?php if (!empty($this->filters['customer_id'])): ?>
                <?php
                $modelCustomer = new Model_Customer();
                $customer = $modelCustomer->getById($this->filters['customer_id']);
                $customerName = get_customer_name($customer);
                ?>
            <?php endif; ?>
            <div class="filter_book_cont">
                <span class="formLabel">Customer Name</span>
                <input type="text" id="auto_customer_id" style="width: 100%; padding:1px 1px 1px 0 ;" value="<?php echo $this->escape(isset($customerName) ? $customerName : ''); ?>"/>
                <input type="hidden" id="customer_id" name="fltr[customer_id]" class="text_input" value="<?php echo $this->escape(!empty($this->filters['customer_id']) ? $this->filters['customer_id'] : ''); ?>"/>
            </div>
         
            <div style="margin-bottom: 15px;">
                <span class="formLabel">Email</span>
                <input name="fltr[email]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['email']) ? $this->filters['email'] : '')); ?>" />
            </div>
            <div style="margin-bottom: 15px;">
                <span class="formLabel">Mobile#</span>
                <input name="fltr[mobile]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['mobile']) ? $this->filters['mobile'] : '')); ?>" />
            </div>
            <div class="filter_book_cont">
                <span class="formLabel">Phone#</span>
                <input name="fltr[phone]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['phone']) ? $this->filters['phone'] : '')); ?>" />
            </div>
            <div class="filter_book_cont">
                <span class="formLabel">Business Name</span>
                <input name="fltr[bussiness_name]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['bussiness_name']) ? $this->filters['bussiness_name'] : '')); ?>" />
            </div>
            <?php
            $country_id = (!empty($this->filters['country_id']) ? $this->filters['country_id'] : CheckAuth::getCountryId());
            ?>
            <div style="margin-bottom: 15px;">
                <span class="formLabel">Country</span>
                <?php
                $modelCountries = new Model_Countries();
                $allCountries = $modelCountries->getAllCountries();

                $service = new Zend_Form_Element_Select('country_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttribs(array("id" => "country", "class" => "right-side-input-text", "onchange" => "getStateByCountryId();"));
                $service->setValue($country_id);
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allCountries);
                echo $service->render();
                ?>
                <div style="clear: both;"></div>
            </div>

            <div id="display_state" style=";margin-bottom: 15px;<?php echo $this->escape(empty($country_id) ? "display: none;" : ""); ?>">
                <span class="formLabel">State</span>
                <div id="state_cont">
                    <?php
                    $modelCities = new Model_Cities();
                    $allState = $modelCities->getStateByCountryId(($country_id), TRUE);

                    $service = new Zend_Form_Element_Select('state');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "fltr-state", "class" => "right-side-input-text", "onchange" => "getCitiesByCountryId();"));
                    $service->setValue((!empty($this->filters['state']) ? $this->filters['state'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allState);
                    echo $service->render();
                    ?>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div id="display_city" style="margin-bottom: 15px;<?php echo $this->escape(empty($this->filters['state']) || empty($country_id) ? "display: none;" : ""); ?>">
                <span class="formLabel">City</span> 
                <div id="city_cont">
                    <?php
                    $allCities = $modelCities->getCitiesByCountryIdAndState($country_id, (!empty($this->filters['state']) ? $this->filters['state'] : ''), TRUE);

                    $service = new Zend_Form_Element_Select('city_id');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "city_id", "class" => "right-side-input-text"));
                    $service->setValue((!empty($this->filters['city_id']) ? $this->filters['city_id'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allCities);
                    echo $service->render();
                    ?>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div style="margin-bottom: 15px;">
                <span class="formLabel">Customer Have</span>
                <div class="have_cont">
                    <input id="fltr-have_inquiry" type="checkbox" value="1" <?php echo (!empty($this->filters['have_inquiry']) ? 'checked="checked"' : ''); ?> name="fltr[have_inquiry]">
                    <label for="fltr-have_inquiry">Have Inquiry</label>
                </div>
                <div class="have_cont">
                    <input id="fltr-have_booking" type="checkbox" value="1" <?php echo (!empty($this->filters['have_booking']) ? 'checked="checked"' : ''); ?> name="fltr[have_booking]">
                    <label for="fltr-have_booking">Have Booking</label>
                </div>
                <div class="have_cont">
                    <input id="fltr-have_estimate" type="checkbox" value="1" <?php echo (!empty($this->filters['have_estimate']) ? 'checked="checked"' : ''); ?> name="fltr[have_estimate]">
                    <label for="fltr-have_estimate">Have Estimate</label>
                </div>
                <div class="have_cont">
                    <input id="fltr-have_invoice" type="checkbox" value="1" <?php echo (!empty($this->filters['have_invoice']) ? 'checked="checked"' : ''); ?> name="fltr[have_invoice]">
                    <label for="fltr-have_invoice">Have Invoice</label>
                </div>
                <div class="have_cont">
                    <input id="fltr-have_complaint" type="checkbox" value="1" <?php echo (!empty($this->filters['have_complaint']) ? 'checked="checked"' : ''); ?> name="fltr[have_complaint]">
                    <label for="fltr-have_complaint">Have Complaint</label>
                </div>
                <div class="have_cont">
                    <input id="fltr-have_nothing" type="checkbox" value="1" <?php echo (!empty($this->filters['have_nothing']) ? 'checked="checked"' : ''); ?> name="fltr[have_nothing]">
                    <label for="fltr-have_nothing">Have Nothing</label>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div style="margin-top: 5px; padding-bottom: 10px;">
                <input type="submit" value="Search" /> <span class="or_span">or</span>
                <a href="<?php echo $this->escape($this->url(array(), 'customerList')); ?>" style="color: red;" class="a_advance" >Cancel</a>
            </div>

            <input type="hidden" name="fltr[convert_status]" value="<?php echo $this->escape(isset($this->filters['convert_status']) ? $this->filters['convert_status'] : ''); ?>"/>
            <input type="hidden" name="fltr[submit]" value="on"/>

        </div>
        <div class="filter_bottom_border"></div>
    </div>
</form>
<script type="text/javascript">
    //
    //fun to get all city in selected country
    //
    function getStateByCountryId(){
      
        if($('#country').val()){
            $('#display_state').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country').val()+"&onChange=getCitiesByCountryId&class=right-side-input-text&name=state&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#display_state').css('display','none');
            $('#display_city').css('display','none');
        }
    }
    
    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId(){
        if($('#fltr-state').val()){
            $('#display_city').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country').val()+"&state="+$('#fltr-state').val()+"&class=right-side-input-text&name=city_id&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#display_city').css('display','none');
        }
    }
    
    // auto complete customer search
    $(function() {
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });
	
</script>
