		<div class="form-group" id="customer_contact_<?php echo($this->contact_counter); ?>">
        
        	<label class="col-md-2 col-xs-4 no-padding">
			 
				<?php echo ($this->formObjects["contact_label_{$this->contact_counter}"]->render()); ?>
			
			</label>

             <div class="col-md-10 col-xs-8">
				  <div class="input-group">
						
						<?php echo ($this->formObjects["info_{$this->contact_counter}"]->render()); ?>
						
						<span class="input-group-btn">
						
							 <a  class="btn btn-m btn-primary " href="#" style="text-decoration: none;" onclick="getCustomerContact()"></i> 
								 <i class="fa fa-plus"></i> 
							 </a>
							 <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;"  
								 onclick="$('#customer_contact_<?php echo($this->contact_counter); ?>').remove();">
								 <i class="fa fa-minus"></i> 
							 </a>
					  </span>
					  
				</div>
             </div>
        </div>  