<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-5">
                <h3>All Customers</h3>

                <ol class="breadcrumb" style="font-size:13px;" >
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/customers">Customers</a>
                    </li>
                     <?php if ($this->is_deleted){ ?>
                    <li class="active">
                        <strong>Deleted Customers</strong>
                    </li>
                    <?php }else { ?>
                    <li class="active">
                        <strong>Customers List</strong>
                    </li>
                    <?php }?>
                </ol>

                

                </div>
                <div class="col-md-7 ">
                    <ul class="inline-list float-lg-r">
                        <?php $modelCustomerType = new Model_CustomerType(); ?>
    <?php $customerType = $modelCustomerType->getAll(); ?>
                        <select style="width: 150px;" class="form-control" id="customer_type" onchange="filter('<?php echo $this->escape($this->url(array(), 'customerList')); ?>?fltr[customer_type_id]=' + $('#customer_type').val());">
                            <option value="">Select One</option>
                            <?php foreach ($customerType as $type): ?>
                            <?php $selected = isset($this->filters['customer_type_id']) && $this->filters['customer_type_id'] == $type['customer_type_id'] ? 'selected="selected"' : ''; ?>
                            <option value="<?php echo $type['customer_type_id']; ?>" <?php echo $selected; ?> ><?php echo $type['customer_type']; ?></option>
    <?php endforeach; ?>
                        </select>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="ibox float-e-margins no-margin-b"> 

        <div class="ibox-content" id="customer_data">
            <div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>		       
        </div>
    </div>



    <script type="text/javascript">
        function AddEditCustomer(title, url) {
            $(document).ready(function () {
                popupi(title, url);
            });
        }

        function getData(filters, page_number, is_first_time) {
            if (typeof (is_first_time) === 'undefined')
                is_first_time = 0;
            if (is_first_time == 0 && !($('#loading_img').length > 0)) {
                $('#form').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {'fltr': filters, 'is_first_time': is_first_time, 'page_number': page_number},
                url: "<?php echo $this->url(array(), 'customerList'); ?>",
                success: function (result) {
                    is_last_request = result.is_last_request;

                    if (is_first_time == 1) {
                        $('#customer_data').html(result.data);
                    } else {
                        $("#result").append(result.data);
                        $('#loading_img').remove();
                        loading = false;
                    }

                    if (result.is_last_request == 0) {
                        $('#customer_data').append('<div class="row"><div class="col-md-6 col-md-offset-5"><a class="btn btn-primary" href="javascript:;" id="load_more"> Load More  </a></div></div>');
                    }


                }
            });

        }

        var filters = <?php echo json_encode($this->filters); ?>;
    var page_number = 0;
    var loading = false;
    var is_last_request = 0;
    $(document).ready(function () {
        getData(filters, page_number, 1);
        $('#customer_data').on('click', '#load_more', function () {
            $(this).remove();
            if (loading == false && is_last_request == 0) {
                loading = true;
                page_number++;
                getData(filters, page_number);
            }

        });
        $(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {
                $('#load_more').remove();
                if (loading == false && is_last_request == 0) {

                    loading = true;
                    page_number++;
                    getData(filters, page_number);
                }
            }
        });

        $("#checkboxallcustomer").click(function () {
            var checked_status = this.checked;
            $(".customer_ids").each(function () {
                this.checked = checked_status;
            });
        });
    });

    function filter(url) {
        window.location = url;
    }
</script>
