<?php if ($this->is_address): ?>
    <?php echo $this->MAP_OBJECT->getHeaderJS(); ?>
    <?php echo $this->MAP_OBJECT->getMapJS(); ?>
<?php endif; ?>

<div class="ibox float-e-margins">
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-5">
            	<h3>Inquiry Location</h3>
            </div>
            <div class="col-md-2 col-md-offset-5 ">
					<a href="<?php echo isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '' ?>" >Back</a>
			</div>
        </div>
   </div>
 </div>
 
 <div class="ibox no-margin-b">
  <div class="ibox-content">
    <?php if ($this->line_address): ?>
	            <div class="row">
                    <div style="margin-left: 10px; font-size: 20px; float: left; padding-top: 5px; color: #999999">
                        (<a href="http://maps.google.com.au/maps?q=<?php echo urlencode($this->escape($this->line_address)); ?>" target="_blank" class="a_link"><?php echo $this->escape($this->line_address); ?></a>)
                    </div>
				</div>	
                <?php endif; ?>
				
            </div>
			<div class="ibox-content">
		     <div class="row">
              <div style="text-align: center;">
                <?php if ($this->is_address): ?>
                    <?php echo $this->MAP_OBJECT->printOnLoad(); ?>
                    <?php echo $this->MAP_OBJECT->printMap(); ?>
                    <div id="map_directions"></div>
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no Address for this Inquiry.
                        <div style="font-size:12px; margin-top:6px;">
                            <?php if (CheckAuth::checkCredential(array('inquiryView'))): ?>
                                <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryView')); ?>">View Inquiry</a>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
         </div>
		</div> 
  </div>