<!-- TinyMCE -->
<script type="text/javascript">
    tinyMCE.init({
        // General options
        plugins: '-example', // - tells TinyMCE to skip the loading of the plugin
        mode: "textareas",
        theme: "advanced",
        relative_urls: false,
        convert_urls: false,
        // Theme options
        theme_advanced_buttons1: "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
        theme_advanced_buttons2: "",
        theme_advanced_buttons3: "",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: false
    });
</script>
<!-- /TinyMCE -->
<form id="form-customer" onsubmit="tinyMCE.triggerSave();
        do_submit('<?php echo $this->escape($this->url(array('id' => $this->customer_id, 'type' => $this->type, 'reference_id' => $this->reference_id), 'sendEmail')); ?>', '#form-customer', '#content_modal_popup');
        return false;" method="POST" class="form-horizontal">
    <div class="row">
        <div class="col-md-8">

            <div class="form-group">
                <label class="control-label col-md-3">To</label>
                <div class="col-md-9">
                    <input type="text" name="to" value="<?php echo $this->escape($this->to); ?>"  class="form-control"/>
                </div>
            </div>

            <?php if (isset($this->error_mesages['to']) && !empty($this->error_mesages['to'])): ?>
                <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                    <?php echo $this->escape($this->error_mesages['to']); ?>
                </div>
            <?php endif; ?>

            <div class="form-group">
                <label class="control-label col-md-3">Cc</label>
                <div class="col-md-9">
                    <input type="text" name="cc"  value="<?php echo $this->escape($this->cc); ?>"  class="form-control"/>
                </div>
            </div>

            <?php if (isset($this->error_mesages['cc']) && !empty($this->error_mesages['cc'])): ?>
                <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                    <?php echo $this->escape($this->error_mesages['cc']); ?>
                </div>
            <?php endif; ?>

            <div class="form-group">
                <label class="control-label col-md-3">Subject</label>
                <div class="col-md-9">
                    <input type="text" name="subject" id="subject" value="<?php echo $this->escape($this->subject); ?>"  class="form-control"/>
                </div>
            </div>

            <?php if (isset($this->error_mesages['subject']) && !empty($this->error_mesages['subject'])): ?>
                <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                    <?php echo $this->escape($this->error_mesages['subject']); ?>
                </div>
            <?php endif; ?>

            <div class="form-group">
                <label class="control-label col-md-3">Canned Responses</label>
                <div class="col-md-9">
                    <select name="canned-responses" id="canned_responses" onchange="fillCannedResponse();" class="form-control">
                        <option value="">Select One</option>
                        <?php foreach ($this->cannedResponses as $cannedResponse): ?>
                            <option value="<?php echo $this->escape($cannedResponse['id']); ?>" <?php echo $this->escape(isset($this->cannedResponsesValue) ? ($this->cannedResponsesValue == $cannedResponse['id'] ? "selected" : "") : ""); ?> ><?php echo $this->escape($cannedResponse['name']); ?></option>
                        <?php endforeach; ?>
                    </select> 
                </div>
            </div>

            <div style="clear: both;"></div>




        </div>
        <div class="col-md-4">
            <div style="color: #666666; font-weight: bold;">
                Attachment<a style="float:right" href="">Add</a>
            </div>                   
            <div style="border: 1px solid #A1A1A1; height: 80px;">
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="col-md-12">
        <div class="form-group">
            <textarea name="body" id="body"  class="form-control" style="height:500px;"><?php echo $this->body; ?></textarea>
        </div>
    </div>

    <div id="button_cont">
        <input type="submit" value="Send" class="btn btn-primary"/> or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" class="btn btn-danger">Cancel</a>
    </div>


    <div style="clear: both;"></div>

</form>

<script type="text/javascript">
    function fillCannedResponse() {
        if ($('#canned_responses').val()) {
            val = $('#canned_responses').val();
            $.ajax({
                type: "POST",
                url: "/ajax/fill_canned_response",
                data: "id=" + val,
                dataType: "json",
                success: function (msg) {
                    tinyMCE.activeEditor.setContent(msg.body);
                    $('#subject').val(msg.subject);
                }
            });
        } else {
            tinyMCE.activeEditor.setContent('');
            $('#subject').val('');
        }
    }
</script>
