<style>
    #form-customer label{
        text-align: left;
    }
</style>
<form id="form-customer" method="POST" action="<?php echo $this->escape($this->url(array('id'=>$this->customer_id,'user_type' => 'customer', 'type' => $this->type,'reference_id' => $this->referenceId),'sendSms'))?>"  class="form-horizontal">
<div class="row hidden">
<div><input type="text" name="customer_id" id="customer_id" value="<?php echo $this->customer_id?>"/>Customer Id</div>
<div><input type="text" name="type" id="type" value="<?php echo $this->type?>"/>Type</div>
<div><input type="text" name="type_id" id="type_id" value="<?php echo $this->referenceId?>"/>Type ID</div>
<div><input type="text" name="user_type" id="user_type" value="<?php echo $this->user_type?>"/>Type ID</div>

</div>
    <div class="row">
        <div class="col-md-12">
        <div class="form-group">
		<label class="control-label col-md-3">To</label>
		<div class="col-md-6">
		<select name="to" id="to" class="form-control">
					<option value="">Select One</option>
					<?php
					$all_mobiles='';
					$to_mobile=$this->to;
					$modelSmsHistorty=new Model_SmsHistorty();
					foreach($to_mobile as $key=>$value)
						{
						 $mobile=$modelSmsHistorty->getMobileFormat($value);
						 if($mobile!='')
						 {
						 $mobile_format=$mobile.',';
						 $all_mobiles.=$mobile_format;
						 }
						 else
						 $mobile_format='';
					   if($mobile_format!=''){?>	
					  <option value="<?php echo $mobile_format; ?>" >
					  <?php echo $this->escape($mobile_format); ?>
					  </option>
						<?php  } } ?>
					  <option value="<?php echo $all_mobiles; ?>" >
					  ALL</option>
					  </select>
                       </div>
						<?php if (CheckAuth::checkCredential(array('customerEdit'))){ ?>
						<div class="col-md-3 edit">
						<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Customer','<?php echo $this->escape($this->url(array('id' => $this->customer_id), 'customerEdit')); ?>');"><i class="fa fa-edit"></i>&nbsp; Edit</a>
						</div>
				<?php } ?>
					<span id="dateError" class="help-inline" style="color:#ff0000"></span>

				</div>

             <div class="form-group">
                <label class="control-label col-md-3">Canned Responses</label>
                <div class="col-md-6">
                    <select name="canned_responses" id="canned_responses" onchange="fillCannedResponse();" class="form-control">
                        <option value="">Select One</option>
                        <?php foreach ($this->cannedResponses as $cannedResponse){ ?>
                            <option value="<?php echo $this->escape($cannedResponse['id']); ?>" <?php echo $this->escape(isset($this->cannedResponsesValue) ? ($this->cannedResponsesValue == $cannedResponse['id'] ? "selected" : "") : ""); ?> ><?php echo $this->escape($cannedResponse['name']); ?></option>
                        <?php } ?>
						<option value="-5">New SMS</option>
                    </select> 
                </div>
				<span id="dateError1" class="help-inline" style="color:#ff0000"></span>
            </div>

            <div style="clear: both;"></div>

        </div>

    </div>
    <div style="clear: both;"></div>
		 
	 <div class="form-group">
                    <label class="col-md-3">Message:</label>
                    <div class="col-md-6">
                       
<textarea cols="80" rows="7" class="textarea_field form-control" id="body" name="body"></textarea> 
                    </div>
				<span id="dateError2" class="help-inline" style="color:#ff0000"></span>

                </div>
				
    <div id="button_cont" class="col-md-offset-4">
        <input type="submit" value="Send" class="btn btn-primary"/> or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" class="btn btn-danger">Cancel</a>
    </div>


    <div style="clear: both;"></div>

</form>

<script type="text/javascript">
    function fillCannedResponse() {
		if($('#canned_responses').val()==-5)
		{
		  $('#body').val('');
		}
        if ($('#canned_responses').val() && $('#canned_responses').val()!=-5 ) {
			if ($('#canned_responses').val()) {
            val = $('#canned_responses').val();
			$.ajax({
                type: "POST",
                url: "/ajax/fill_canned_response",
                data: {id : val , type : "<?php echo $this->type?>" ,type_id : "<?php echo $this->reference_id?>"},
                dataType: "json",
                success: function (msg) {
                   // tinyMCE.activeEditor.setContent(msg.body);
                    $('#body').val(msg.body);
                }
            });
        } else {
            //tinyMCE.activeEditor.setContent('');
           // $('#subject').val('');
                    $('#body').val('');
        }
    }
	}
	
				$('#button_cont').on('click', function() {
				  if($("#to").val()=='')
				{
				document.getElementById("dateError").innerHTML = "choose mobile number";
				return false;
				}
				
				if($("#canned_responses").val()==0)
				{
				document.getElementById("dateError1").innerHTML = "select sms type";
				return false;
				}
				if($("#body").val()=='')
				{
				document.getElementById("dateError2").innerHTML = "text sms must be filled";
				return false;
				}
			 });
			 
			$('#to').on('change', function() {
		    document.getElementById("dateError").innerHTML = "";
		    if($("#to").val()==''){
			document.getElementById("dateError").innerHTML = "choose mobile number";
			return false;
			}
			 });
			 
			 $('#canned_responses').on('change', function() {
		    document.getElementById("dateError1").innerHTML = "";
		    if($("#canned_responses").val()==0){
			document.getElementById("dateError1").innerHTML = "select sms type";
			return false;
			}
			 });


</script>
