<div class="ibox float-e-margins">
      <div class="ibox-content">
            <div class="row">
                  <div class="col-md-5">
                    <h3>  All Customers</h3>
                  </div>
                  <div class="col-md-7 ">
                  
                      <div class="float-lg-r">
                      <?php $modelCustomerType = new Model_CustomerType(); ?>
                      <?php $customerType = $modelCustomerType->getAll(); ?>
                      <select id="customer_type" onchange="filter('<?php echo $this->escape($this->url(array(), 'showDeletedCustomer')); ?>?fltr[customer_type_id]='+$('#customer_type').val());">
                              <option value="">Select One</option>
                              <?php foreach ($customerType as $type): ?>
                              <?php $selected = isset($this->filters['customer_type_id']) && $this->filters['customer_type_id'] == $type['customer_type_id'] ? 'selected="selected"' : ''; ?>
                              <option value="<?php echo $type['customer_type_id']; ?>" <?php echo $selected; ?> ><?php echo $type['customer_type']; ?></option>
                          <?php endforeach; ?>
                      </select>
                      </div>
                  </div>
              </div>
       </div>
       <div class="ibox-content">
       		<div class="row">
            		<div class="col-md-5">
                       
								  <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                                  <a  href="javascript:;" onclick="AddEditCustomer('Add Customer','<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');" class="btn btn-white" data-target="#popupi" data-toggle="modal">
                                  <i class="fa fa-plus"></i>
                                  &nbsp;
                                  New Customer
                                  </a>
                                  <?php endif; ?>
                        
                    </div>
                    <div class="col-md-7">
                      
                        <ul class="inline-list float-lg-r">
                              <li> 
                              <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'showDeletedCustomer')); ?>" method="GET" >
                              <input name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" placeholder="Search Customers" class="form-control" />
                          </form>
                              </li>
                              <li>
                                    <a href="javascript:;" onclick="$('#search_form').submit();" class="btn btn-primary">Search</a> 
                                    <span class="or_span">or</span>
                              </li>
                              <li>    
                                  <a href="<?php echo $this->escape($this->url(array(), 'customerList')); ?>" class="btn btn-white" >Reset</a>
                              </li>
                        </ul>
            	   </div>
            
            </div>
       </div>
 </div>

<div class="ibox float-e-margins no-margin-b"> 
		
      <div class="ibox-content">
         
      
    
            <form action="<?php echo $this->escape($this->url(array(), 'customerDeleteForeverBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Customer?');">
               
                        <?php if (CheckAuth::checkCredential(array('showDeletedCustomer', 'deleteCustomerForever'))): ?>
                            <input type="submit" value="Delete Forever"  class="btn  btn-danger"/>
                        <?php endif; ?>
          

          
                    <table class="table table-bordered  responsive-table" id="deleted_customer">
                        <thead>
                            <th class="checkbox_booking_cont">
                            		<input type="checkbox" name="checkboxall"  id="checkboxall"/>
                            </th>
                            <th>Details</th>
                            <th>Customer Info</th>
                            <th>Customer Type</th>
                        </thead>
						<tbody>
                        <?php $count = 0; ?>
                        <?php $customerType_obj = new Model_CustomerType(); ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                            ?>">
                                <td class="checkbox_booking_cont">
                                    <div class="details_info_l">
                                        <input type="checkbox" name="ids[]" id="delete-check" value="<?php echo $this->escape($row['customer_id']) ?>" />
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="a_black">
                                                    <?php echo $this->escape(get_customer_name($row)); ?>
                                                </a>    
                                            <?php else: ?>
                                                <span class="a_black">
                                                    <?php echo $this->escape(get_customer_name($row)); ?>
                                                </span>    
                                            <?php endif; ?>
                                        </div>
                                        <div class="booking_time_cont">
                                            <span> Date:</span><?php echo $this->escape(getDateFormating( $row['created'])) ?>
                                        </div>
                                    </div>
                             
                                        <?php if (CheckAuth::checkCredential(array('showDeletedCustomer', 'deleteCustomerForever'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerDeleteForever')); ?>" onclick="return confirm('are you sure you want to delete this Customer?');" class="details_info_opt">Delete Forever</a>
                                        <?php endif; ?>
                                        <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                            <span class="details_breaks">|</span>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="details_info_opt">View Details</a>
                                        <?php endif; ?>
                                        <?php if (CheckAuth::checkCredential(array('showCustomerLocation'))): ?>
                                            <span class="details_breaks">|</span>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerLocation')); ?>" class="details_info_opt">View Location</a>
                                        <?php endif; ?>
                                </td>
                                <td class="details_info_l">
                                    <div class="details_info_l">
                                        <div>&#187;Email :<?php echo $this->escape($row['email1']) ?></div>
                                        <div>&#187;Mobile :<?php echo $this->escape($row['mobile1']) ?></div>
                                        <div>&#187;Phone :<?php echo $this->escape($row['phone1']) ?></div>
                                        <div>&#187;Fax :<?php echo $this->escape($row['fax']) ?></div>
                                        <div>&#187;City :<?php echo $this->escape($row['country_name'] . ' - ' . $row['city_name']) ?></div> 
                                        <div>&#187;PO Box :<?php echo $this->escape($row['po_box']) ?></div>
                                    </div>
                                </td>
                                <td>

                                    <div class="details_info_l">
                                        <?php
                                        $customerType = $customerType_obj->getById($row['customer_type_id']);
                                        ?>
                                        <?php echo $this->escape($customerType['customer_type']) ?></div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
       </form>
  </div>    
</div>
    


<script type="text/javascript">
    function AddEditCustomer(title,url) {
        $(document).ready(function() {
            popupi(title, url);
        });
    }
    
    function filter(url){
        window.location = url;
    }
</script>