
			
<div class="ibox float-e-margins no-margin-b">
		<div class="row wrapper border-bottom white-bg">
				
				<div class="col-md-5">
							<div class="createdTimeDiv">
								<span class="booking_title">Customer Details</span> 
								<span class="booking_created_date">
									<i> Created </i><?php echo $this->escape(date(get_config('date'), $this->customer['created'])); ?>
								
								</span>
							</div>
					
						<ol class='breadcrumb'>
									<?php
									function breadcrumbs($separator = '  ', $home = 'Home') {

										$path = array_filter(explode('/', parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH)));
										$base_url = substr($_SERVER['SERVER_PROTOCOL'], 0, strpos($_SERVER['SERVER_PROTOCOL'], '/')) . '://' . $_SERVER['HTTP_HOST'] . '/';
										$breadcrumbs = array("<li><a href=\"$base_url\">$home</a></li>");
										$tmp = array_keys($path);
										$last = end($tmp);
										unset($tmp);

										foreach ($path as $x => $crumb) {
											$title = ucwords(str_replace(array('.php', '_'), array('', ' '), $crumb));
										if ($x == 1){
												$breadcrumbs[]  = "<li><a href=\"$base_url$crumb\">$title</a></li>";
												$breadcrumbs[]  = "<li>Customer details</li>";
										}

										return implode($separator, $breadcrumbs);
									}	
									}	
									echo breadcrumbs();

									?>
								</ol>
				</div>	
				<div class="col-md-7">
							<nav class="float-r">
									<?php if (!$this->customer['is_deleted']): ?>
										<div class="btn-group">
											<button data-toggle="dropdown" class="btn btn-success dropdown-toggle " aria-expanded="false">Customer&nbsp;<i class="caret"></i></button>
														<ul class="dropdown-menu dropdown-menu-right">
											
											
														<?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
															<li>
																<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('New Customer','<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');">
																	<i class="fa fa-plus"></i>&nbsp;
																		New Customer
																	</a>
															</li>
														<?php endif; ?>
														
														
														<?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
															<li class="edit">
																<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Customer','<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerEdit')); ?>');"><i class="fa fa-edit"></i>&nbsp; Edit</a>
															</li>
													   <?php endif; ?>
													
													
													<?php if (get_config('under_construction')): ?>
															<li class="statement">
																<a href="#" >Statement</a>
															</li>
													<?php endif; ?>
												 

														  <li class="merge-customer">
															<a href="<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'fixDuplicateCustomer')); ?>"><i class="fa fa-compress"></i>&nbsp; Merge Customer</a>
														  </li>
													<?php if (get_config('under_construction')): ?>
															<li class="divider"></li>
																<li class="stop-all-remainders">
																	<a href="#">Stop All Remainders</a>
																</li>
																<li class="mark-as-inactive">
																	<a href="#">Mark As Inactive</a>
																</li>
															<li class="divider"></li>
													<?php endif; ?>
												  
														<?php if (CheckAuth::checkCredential(array('customerDelete'))): ?>
															 <li class="delete">
															 <a href="<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerDelete')); ?>" onclick="return confirm('are you sure you want to delete this Customer?');"><i class="fa fa-times"></i>&nbsp; Delete</a>
															</li>
														<?php endif; ?>
													
										
											</ul>
									</div>
										 <!-- email button -->
										<div class="btn-group">
													<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false">Email&nbsp;<span class="caret"></span></button>
													<ul class="dropdown-menu dropdown-menu-right">
													
														<?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
														   <li class="email">
															<a   href="#" data-toggle="modal" data-target="#popupi"
															onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id'], 'type' => 'customer', 'reference_id' => $this->customer['customer_id']), 'sendEmail')); ?>');">Send Email</a>
															</li>
														<?php endif; ?>
													
													</ul>
										</div>
										
									
									 <!-- SMS button to customer -->
										<div class="btn-group">
													<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false">SMS&nbsp;<span class="caret"></span></button>
													<ul class="dropdown-menu dropdown-menu-right">
																
													<?php if ($this->customer['pause_customer_sms']) { ?>
													<li class="resume">
														<a onClick="return confirm('Are you sure you want to resume SMS of this customer?')" href="<?php echo $this->url(array('id' => $this->customer['customer_id'], 'process' => 'resume'), 'pauseResumeCustomerSms'); ?>" >Resume SMS</a>
													</li>
												<?php } else { ?>
													<li class="pause">
														<a onClick="return confirm('Are you sure you want to pause SMS of this customer?')" href="<?php echo $this->url(array('id' => $this->customer['customer_id'], 'process' => 'pause'), 'pauseResumeCustomerSms'); ?>" >Pause SMS</a>
													</li>
												<?php } ?>

												
													</ul>
										</div>
										
									
											<?php if (get_config('under_construction')): ?>
												<div class="btn-group">
												 <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle " aria-expanded="false">Create&nbsp;<i class="caret"></i></button>
										   
													<ul class="dropdown-menu">
														<li class="create-invoice">
															<a href="#">Create Invoice</a>
														</li>
														<li class="create-estimate">
															<a href="#">Create Estimate</a>
														</li>
														<li class="add-payment">
															<a href="#">Create Credit Note</a>
														</li>
														<li class="record-expense">
															<a href="#">Record Expense</a>
														</li>
														<li class="create-recurring-invoice">
															<a href="#">Create Recurring Invoice</a>
														</li>
														<li class="create-recurring-expense">
															<a href="#">Create Recurring Expense</a>
														</li>
														<li class="create-project">
															<a href="#">Create Project</a>
														</li>
														<li class="record-payment">
															<a href="#">Record Payment</a>
														</li>
													</ul>
												</div>
											<?php endif; ?>
									</nav>	
						<?php else: ?>
							 <nav class="float-r">
											<?php if (CheckAuth::checkCredential(array('deleteCustomerForever'))): ?>
												<button class="btn btn-danger" href="<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerDeleteForever')); ?>" onclick="return confirm('are you sure you want to Delete this Customer Forever?');">Delete Forever</button>
											<?php endif; ?>
								  
									 
											<?php if (CheckAuth::checkCredential(array('customerUndelete'))): ?>
												  <button class="btn btn-success" href="<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerUndelete')); ?>" onclick="return confirm('are you sure you want to restore this Customer?');">UnDelete</button>
											<?php endif; ?>
								 
							   
							 </nav>
						<?php endif;?>
				</div>
		</div>

		
		
			<div class="row">			
				<div class="wrapper wrapper-content">
					<div class="row">
						<div class="col-md-5">
									<?php
									$customerView = new Zend_View();
									$customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
									$customerView->customer_id = $this->customer['customer_id'];
									$customerView->allDetails = true;
									echo $customerView->render('customer_info.phtml');
									?>
						</div>
						
						<div class="col-md-5">
						</div>
					</div>
				</div>
			</div>

			
			

		


<div class="tabbable">
		<ul class="nav nav-tabs"  id="myTab">
			
			
			
		    <?php if (CheckAuth::checkCredential(array('paymentCheckStatus'))): ?>
						 <li>
							<a href="#tabs-inquiry" data-toggle="tab">Inquiry</a>
						 </li>
			<?php endif;?>
			<?php if (CheckAuth::checkCredential(array('bookingDiscussion'))): ?>
                        <li class="active">
							<a href="#tabs-booking" data-toggle="tab">Booking</a>
						</li>
            <?php endif; ?>

            <?php if (CheckAuth::checkCredential(array('BookingHistory'))): ?>
						 <li>
							<a href="#tabs-Estimates" data-toggle="tab">Estimates</a>
						</li>
            <?php endif; ?>
            <?php if (CheckAuth::checkCredential(array('Complaint'))): ?>
						<li>
							<a href="#tabs-invoices" data-toggle="tab">Invoices</a>
						</li>
            <?php endif; ?>
            <?php if (CheckAuth::checkCredential(array('emailDetails'))): ?>
						<li>
							<a href="#tabs-History" data-toggle="tab">Mail History</a>
						</li>
              
            <?php endif; ?>
			
			
			
			
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="tabs-inquiry">
							<?php if (!$this->customer['is_deleted']): ?>
                             <div  class="tabs_button" >
										<b>
										
											<a class="upper" href="<?php echo  $this->escape($this->url(array('customer_id' => $this->customer['customer_id']), 'inquiryAddToCustomerID')); ?>">Add Inquiry &nbsp;<i class="fa fa-plus"></i> </a>
										</b>
							</div>
						  <?php endif; ?>
							   <?php if ($this->inquiriesStatus): ?>
							   <div class="tab_padding">
							   <table class="table table-bordered">
                                 
                                      <thead>
										<tr>
											<th><b>Status</b></th>
											<th><b>Inquires Count</b></th>
										
										</tr>
									  </thead>
                                    <tbody>
									<?php foreach ($this->inquiriesStatus as $status_key => $inquirystatus): ?>
                                        <?php
                                        $color = '#A1A1A1';
                                        switch (lcfirst($inquirystatus['name'])) {
                                            case 'inquiry':
                                                $color = '#A1A1A1';
                                                break;
                                            case 'estimate':
                                                $color = '#4F8BC3';
                                                break;
                                            case 'booking':
                                                $color = '#BCD68F';
                                                break;
                                        }
                                        ?>
										<tr>
                                            
                                                <?php if ($inquirystatus['total']) : ?>
												<td style="background-color: <?php echo $color ?>;"  class="white_color">
                                                       <div class="inline " >
                                                           <b> <?php echo $this->escape($inquirystatus['name']); ?></b>
                                                        </div>
														<a class="strocked-text float-r inline " href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]=<?php echo $this->escape($inquirystatus['name']) ?>&fltr[customer_id]=<?php echo $this->escape($this->customer['customer_id']) ?>"> 
													
                                                            <b>Show All</b>
                                                       
														</a>
												</td>
                                                <?php else: ?>
												<td style="background-color: <?php echo $color ?>;" class="white_color" >
                                                    <div class="customer_tabs_info" >
                                                        <b><?php echo $this->escape($inquirystatus['name']); ?></b>
                                                    </div>
												</td>
                                                <?php endif; ?>
                                            
                                            <td>
                                                <div class="booking_time_cont">
                                                    <b><?php echo $this->escape($inquirystatus['total']); ?></b>
                                                </div>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
									</tbody>
							</table>
							</div>
							 <?php else: ?>
                                <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Inquiry.</h3></div>
                            <?php endif; ?>
							
					</div>
			
			
			
			<div class="tab-pane active" id="tabs-booking" style="height:auto;">
				
							<?php if (CheckAuth::checkCredential(array('booking'))): ?>
				   
								   <div  class="tabs_button" >
									
										<?php if (!$this->customer['is_deleted']): ?>
											<b><a class="upper" href="<?php echo $this->escape($this->url(array('customer_id' => $this->customer['customer_id']), 'bookingAddToCustomerId')); ?>"> Create Booking &nbsp;<i class="fa fa-plus"></i></a>
											</b>
										<?php endif; ?> 
										
									</div>
					  
							<?php if ($this->bookingStatuses): ?>
								    <div class="tab_padding">
									
									<table class="table table-bordered">
									<thead>
										
											<tr>
												<th><b>Status</b></th>
												<th><b>Booking count</b></th>
												<th><b>Ammount</b></th>
											</tr>
									</thead>
									<tbody>
									<?php foreach ($this->bookingStatuses as $key => $bookingStatuse): ?>
										<?php
										//
										//colors from the color picker
										//
									  
										$colors = array(
											'0' => '#888888',
											'1' => '#cc3333',
											'2' => '#dd4477',
											'3' => '#994499',
											'4' => '#6633cc',
											'5' => '#336699',
											'6' => '#3366cc',
											'7' => '#22aa99',
											'8' => '#329262',
											'9' => '#109618',
											'10' => '#66aa00',
											'11' => '#aaaa11',
											'12' => '#d6ae00',
											'13' => '#ee8800',
											'14' => '#dd5511',
											'15' => '#a87070',
											'16' => '#8c6d8c',
											'17' => '#627487',
											'18' => '#7083a8',
											'19' => '#5c8d87',
											'20' => '#898951',
											'21' => '#b08b59',
											'-1' => '#7a367a'
										);
										?>
										<tr>
											
												<?php if ($bookingStatuse['Ammount']) : ?>
												<td class="white_color" style="background-color: <?php echo $colors[$bookingStatuse['color']] ?>;">
														
															<b><?php echo $this->escape($bookingStatuse['name']); ?></b>
													

													
														<a class="float-r white_color" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[status]=<?php echo $this->escape($bookingStatuse['booking_status_id']) ?>&fltr[customer_id]=<?php echo $this->escape($this->customer['customer_id']) ?>"> 
															Show All
														</a>
												</td>
												<?php else: ?>
													<td style="color:#FFF; background-color: <?php echo $colors[$bookingStatuse['color']] ?>">
														
															<?php echo $this->escape($bookingStatuse['name']); ?>
													
													</td>
												<?php endif ?>
											
											<td>
												<div class="booking_time_cont">
													<?php echo $this->escape($bookingStatuse['total']); ?>
												</div>
											</td>
											<td>
												<?php echo $this->escape($bookingStatuse['Ammount']); ?>
											</td>
										</tr>
										</a>
									<?php endforeach; ?>
									</tbody>
								</table>
							<?php else: ?>
									<div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Booking</h3></div>
							<?php endif; ?>
						</div>
					
						<?php endif; ?>
				</div>	
				
				
				<div class="tab-pane" id="tabs-Estimates">
				

						<?php if (CheckAuth::checkCredential(array('estimates'))): ?>
							
								  <div  class="tabs_button" >
									<?php if (!$this->customer['is_deleted']): ?>
										<b><a class="upper" href="<?php echo $this->escape($this->url(array('customer_id' => $this->customer['customer_id']), 'estimateAddToCustomerId')); ?>" class="a_link"> create Estimate &nbsp;<i class="fa fa-plus"></i></a>
										</b>
									<?php endif; ?>
								</div>
							  
									<?php if ($this->estimatesType): ?>
									  <div class="tab_padding">
										<table  class="table table-bordered">
											<thead>
													<tr>
														<th>Status</th>
														<th>Estimates count</th>
														<th>Ammount</th>
													</tr>
											</thead>
											<tbody>
											<?php foreach ($this->estimatesType as $estimatesType): ?>
												<?php
												$color = '#A1A1A1';
												switch (lcfirst($estimatesType['name'])) {
													case 'draft':
														$color = '#A1A1A1';
														break;

													case 'booking':
														$color = '#BCD68F';
														break;
												}
												?> <tr>
												
														<?php if ($estimatesType['total']) : ?>
															<td style="background-color: <?php echo $color ?>;" class="white_color">
																		<b><?php echo $this->escape($estimatesType['name']); ?></b>
																
																
																<a class="float-r" href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>?fltr[estimate_type]=<?php echo $this->escape($estimatesType['name']) ?>&fltr[customer_id]=<?php echo $this->escape($this->customer['customer_id']) ?>"> 
																	show all
																</a>
															</td>
														<?php else: ?>
															<td style="background-color: <?php echo $color ?>;" class="white_color">
															
																	<b><?php echo $this->escape($estimatesType['name']); ?></b>
															
															</td>
														<?php endif ?>
												
													<td>
														<div class="booking_time_cont">
															<?php echo $this->escape($estimatesType['total']); ?>
														</div>
													</td>
													<td>
														<?php echo $this->escape($estimatesType['Ammount']); ?>
													</td>
												</tr>
											<?php endforeach; ?>
											</tbody>
										</table>
									<?php else: ?>
										 <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no estimates</h3></div>
									<?php endif; ?>
									</div>
						   
						<?php endif; ?>
				
				</div>
				<div class="tab-pane" id="tabs-invoices">
				
									
					<?php if (CheckAuth::checkCredential(array('invoices'))): ?>
						
							 <div  class="tabs_button" >
								<?php if (!$this->customer['is_deleted']): ?>
									<b>
										<a class="upper" href="<?php echo $this->escape($this->url(array('customer_id' => $this->customer['customer_id']), 'bookingAddToCustomerId')); ?>" class="a_link">create Booking &nbsp;<i class="fa fa-plus"></i></a>
									</b>
								<?php endif; ?> 
							</div>
							<div>
							<?php if ($this->invoicesType): ?>
								<div class="tab_padding">
										<table  class="table table-bordered">
										<thead>
											<th>Status</th>
											<th>Invoices count</th>
											<th>Ammount</th>
											<th>Balance</th>
										</thead>
										<tbody>
										<?php foreach ($this->invoicesType as $invoiceType): ?>
											<?php
											$color = '#A1A1A1';
											switch (lcfirst($invoiceType['name'])) {
												case 'draft':
													$color = '#A1A1A1';
													break;

												case 'open':
													$color = '#4F8BC3';
													break;

												case 'overdue':
													$color = 'red';
													break;

												case 'closed':
													$color = '#BCD68F';
													break;

												case 'void':
													$color = '#00004E';
													break;
											}
											?> 
											
											<tr>
												
													<?php if ($invoiceType['total']) : ?>
														<td style="background-color: <?php echo $color ?>;" class="white_color">
															<b>
																<?php echo $this->escape($invoiceType['name']); ?>
															</b>
															
															<a  class="float-r" href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>?fltr[invoice_type]=<?php echo $this->escape($invoiceType['name']) ?>&fltr[customer_id]=<?php echo $this->escape($this->customer['customer_id']) ?>"> 
																Show All
															
															</a>
														</td>
													<?php else: ?>
													<td style="background-color: <?php echo $color ?>;" class="white_color">
														<b><?php echo $this->escape($invoiceType['name']); ?></b>
													
													</td>
													<?php endif ?>
											
												<td>
													<div class="booking_time_cont">
														<?php echo $this->escape($invoiceType['total']); ?>
													</div>
												</td>
												<td style="text-align: center;">
													<?php echo $this->escape($invoiceType['Ammount']); ?>
												</td>
												<td style="text-align: center;">
													<?php echo $this->escape($invoiceType['Ammount'] - $invoiceType['balance']); ?>
												</td>

											</tr>
										<?php endforeach; ?>
										</tbody>
									</table>
								<?php else: ?>
								   <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no invoice</h3></div>
								<?php endif; ?>
							</div>
							</div>
						
					<?php endif; ?>
	
				</div>
				<div class="tab-pane" id="tabs-History">
					
					
					
        <?php if ($this->emailLog): ?>
		<div class="tab_padding">
           	<table  class="table table-bordered">
                <thead>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Sender</th>
                    <th>Type</th>
                </thead>
				<tbody>
                <?php $userObj = new Model_User(); ?>
                <?php foreach ($this->emailLog as $emailLog): ?>
                    <?php $user = $userObj->getById($emailLog['user_id']) ?>

                    <tr>
                        <td>
                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>','470','800','Email');" ><?php echo $this->escape(getDateFormating($emailLog['created'])) ?></a>
                        </td>
                        <td>
                            <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                        </td>

                        <td>
                            <?php echo $this->escape($user['username']); ?>
                        </td>
                        <td>
                            <?php echo $this->escape($emailLog['type']); ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
				</tbody>
            </table>
        <?php else: ?>
          <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There is no History</h3></div>
        <?php endif; ?>
    </div>
    </div>
		</div>
</div>

 
<script>
$(document).ready(function(){

		$.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array('type'=>'customer','type_id'=>$this->customer['customer_id']), 'updateFullTextSearchByTypeAndTypeId')); ?>',
                success: function(result) {
					console.log(result);
                }
            });
	
			});
			   /* function selectTap(tap){
					$('.all-tap').removeClass('selected');
					$(tap).addClass('selected');
					
					id = $(tap).html().toLowerCase().replace(' ', '-');
					$('#booking-action').html($('#'+id).html());
				}
			 */
	$('.nav-pills, .nav-tabs').tabdrop();

</script>


