<!-- TinyMCE -->
<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
   /* tinyMCE.init({
        // General options  
        mode: "textareas",
        theme: "advanced",
        relative_urls: false,
        convert_urls: false,
        plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",
        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true
    });*/
	    	 tinyMCE.init({
				mode : "textareas",
				theme : "advanced",
				force_br_newlines : true,
				theme_advanced_buttons1 : "link,unlink,",
				theme_advanced_buttons2 : "",
				theme_advanced_buttons3 : "",
				theme_advanced_buttons4 : "",
				theme_advanced_toolbar_location : "top",
				theme_advanced_toolbar_align : "left",
				theme_advanced_statusbar_location : "",
				theme_advanced_resizing : true
		});

</script>
<!-- /TinyMCE -->
<div class="wrapper-content no-margin-b">
          <div class="row ibox-content">
            <form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" class="form-horizontal">

                <input type="hidden" id="template_id" value="<?php echo $this->template_id; ?>">
                <div class="form-group">
                    <label class="col-lg-2"> Message</label> 
                    <div class="col-lg-10">  
                        <?php echo $this->form->getElement('message')->render(); ?>
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="col-lg-2">Name</label> 
                    <div class="col-lg-10"> 
                        <?php echo $this->form->getElement('name')->render(); ?>
                    </div>
                </div>

				<div class="form-group">
                    <label class="col-lg-2"> Message Type</label> 
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('type')->render(); ?>
                    </div>
                </div>
				
                <div class="form-group">
						<div class="col-lg-10 col-md-offset-2">
						<input type="submit" value="Save" class="btn btn-primary">
						</div>
				</div>
				
            </form>

</div>
<div class="clearfix"></div>
</div>

