<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsSmsTemplateAdd'))): ?>
                <div class="btn_cont" style="float: right;">
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsSmsTemplateAdd')); ?>" class="btn btn-white">
                        <div class="text_pos" >
                            New SMS Template
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div>
                    <h5>  Search SMS Template </h5>
               
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsSmsTemplateList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                    
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsSmsTemplateList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                   </form>
					</div>
				</div>
			</div>
     <div style="margin-top:10px;" class="">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div >
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsSmsTemplateDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Booking Status?');">
                <div class="ibox float-e-margins no-margin-b">
                    <div class="ibox-title">
                        <h5> All SMS Template </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsSmsTemplateEdit'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Name</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td>
                                               <div>
                                                <?php echo $this->escape($row['name']) ?>
                                                </div>
                                            
                                                <?php if (CheckAuth::checkCredential(array('settingsSmsTemplateEdit'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsSmsTemplateEdit')); ?>" class="details_info_opt">Edit</a>
                                                    <span>|</span>
                                                <?php endif; ?>

                                                <?php if (CheckAuth::checkCredential(array('settingsSmsTemplateDelete'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsSmsTemplateDelete')); ?>" onclick="return confirm('are you sure you want to delete this Sms Template?');" class="details_info_opt">Delete</a>
                                                <?php endif; ?>
                                            </div>
                                        </td>


                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>

                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>
        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no SMS Template.</div>
        <?php endif; ?>
    </div>
</div>
<div style="clear:both"></div>
