<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Filter Reports</h5>
</div>
 <div class="ibox-content">
            <form id="search_form" action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
                <div class="col-lg-6">
                <div class="form-group">
                    <label> Service Name </label>
                    <?php if (!CheckAuth::checkCredential(array('canSeeAllServices'))): ?>
                    <?php else : ?>
                        <?php echo $this->form->getElement('service_id'); ?>
                    <?php endif; ?>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <?php echo $this->form->getElement('attribute_value_id'); ?>
                </div>
                    </div>
                <div class="col-lg-6">
                <div class="form-group">
                    <label>Start Date</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>                     
                        <?php echo $this->form->getElement('booking_start_between'); ?>

                    </div>
                </div>
                    
                <div class="form-group">
                    <label>End Date</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <div>
                            <?php echo $this->form->getElement('booking_end_between'); ?>
                        </div>
                    </div>
                </div>
                    </div>
                <div class="cancel_link_cont">
                    <?php echo $this->form->getElement('button'); ?> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->form->getAction()); ?>" class="" >Cancel</a>
                </div>
                <?php echo $this->form->getElement('type'); ?>

            </form>
			
			<div class="input-group-btn">
                <?php echo $this->form->getElement('as_xls'); ?>
            </div>
			
        </div>


    </div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
			format:'yyyy-mm-dd'
        });

    });


</script>
