<div class="ibox float-e-margins">
<div class="ibox-content">
<div class="row">
	<div class="col-md-12">
	
    <h3>Filter Reports</h3>
</div>
</div>
</div>
 <div class="ibox-content">           
            <form id="search_form"  action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>">
                <div class="row">
				<div class="col-lg-5">
                <div class="form-group">
                    <label> Contractor Name </label>

                    <?php if (!CheckAuth::checkCredential(array('canSeeAllContractorReport'))): ?>
                        <?php $LoggedUser = Zend_Auth::getInstance()->getIdentity(); ?>
                        <?php echo $LoggedUser->username; ?>
                    <?php else : ?>
                        <?php echo $this->form->getElement('contractor_id'); ?>
                    <?php endif; ?>
                </div>
                <div class="form-group">
                    <label>Contractor Payment Status</label>
                    <?php echo $this->form->getElement('paid_status'); ?>
                </div>
			<div class=" form-group filter_book_cont">
                <label>Booking Payment Status</label>
		                    <?php echo $this->form->getElement('customer_payment_status'); ?>
				                </div>
				</div>				
                <div class="col-lg-5 col-lg-offset-1">
                <div class="form-group">
                    <label>Customer Inv#</label>
                    <?php echo $this->form->getElement('customer_inv'); ?>
                </div>

                <div class="form-group">
                    <label>Booking Status</label>
                    <?php echo $this->form->getElement('booking_status'); ?>
                </div>

                <div class="form-group">
                    <label>Start Date</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>                     
                        <?php echo $this->form->getElement('booking_start_between'); ?>

                    </div>
                </div>
               
                <div class="form-group">
                    <label>End Date</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <div>
                            <?php echo $this->form->getElement('booking_end_between'); ?>
                        </div>
                    </div>
                </div>
                     </div>
               </div> 
				<div>
                    <?php echo $this->form->getElement('button'); ?> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->form->getAction()); ?>" class="btn btn-default" >Cancel</a>
                    <span class="or_span">or</span>
                    <a href="" class="btn btn-danger" onClick="resetDate(); return false;">Reset</a>
                </div>
                <?php echo $this->form->getElement('type'); ?>

            </form>
        

            <div style="margin-top: 20px;">
                <?php echo $this->form->getElement('as_xls'); ?>
            </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
			format:'yyyy-mm-dd'
        });

    });


	function resetDate(){
		$('#start_time').val('');
		$('#end_time').val('');
	
	}
</script>



