<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Filter Reports</h5>
</div>
 <div class="ibox-content">
    <form id="search_form" class="form-inline" role="form" action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
     <div class="form-group">
        <label class="control-label">Employee Name</label>
         <?php if (CheckAuth::checkCredential(array('canSeeAllReports'))): ?>
                        <?php echo $this->form->getElement('created_by'); ?>
                    <?php else : ?>
                        <?php $LoggedUser = Zend_Auth::getInstance()->getIdentity(); ?>
                        <?php echo $LoggedUser->username; ?>
                    <?php endif; ?>
		</div>
	  
	  <div class="form-group" id="date1">
        <label class="control-label">Start Date</label>
		<div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		  <?php echo $this->form->getElement('booking_start_between'); ?>
		</div>
		</div>
		<div class="form-group" id="date2">
        <label class="control-label">End Date</label>
		<div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		  <?php echo $this->form->getElement('booking_end_between'); ?>
		</div>
		</div>

	    <div style="margin-top:10px;">
                <?php echo $this->form->getElement('button'); ?> <span class="or_span">or</span>
                <a href="<?php echo $this->escape($this->form->getAction()); ?>" class="btn btn-default" >Cancel</a>
            </div>
	
	<?php echo $this->form->getElement('type'); ?>
	</form>
	<div style="margin-top: 10px;">
    <?php echo $this->form->getElement('as_xls'); ?>
</div>
 </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
       $('#date2 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'yyyy-mm-dd'
            });	
	$('#date1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'yyyy-mm-dd'
            });	
    });
</script>

