<style>
    #search_form label{
        width:150px;
        text-align: center;
    }
    #search_form input[type='text'] {
        width:169px !important;
    }
    #search_form select{
        width: 231px;
    }
    #search_form .form-group{
        margin:5px 0px;
    }
</style>

<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Filter Reports</h5>
</div>
 <div class="ibox-content">
    <form id="search_form" class="form-inline" role="form" action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
	
	<?php if (CheckAuth::checkCredential(array('canSeeAllReports'))): ?>
	<div class="form-group">
                    <label class="control-label"> Employee Status </label>
                    <?php echo $this->form->getElement('active'); ?>
    </div>
	<?php endif; ?>			
     <div class="form-group">
        <label class="control-label">Employee Name</label>
         <?php if (CheckAuth::checkCredential(array('canSeeAllReports'))): ?>
                        <?php echo $this->form->getElement('created_by'); ?>
                    <?php else : ?>
                        <?php $LoggedUser = Zend_Auth::getInstance()->getIdentity(); ?>
                        <?php echo $LoggedUser->username; ?>
                    <?php endif; ?>
		</div>
	  
	  <div class="form-group" id="date1">
        <label class="control-label">Start Date</label>
		<div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		  <?php echo $this->form->getElement('booking_start_between'); ?>
		</div>
		</div>
		<div class="form-group" id="date2">
        <label class="control-label">End Date</label>
		<div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		  <?php echo $this->form->getElement('booking_end_between'); ?>
		</div>
		</div>

            <div class="form-group">
                <label class="control-label">Date Type</label>
                <div class="input-group ">
                    <?php echo $this->form->getElement('report_status'); ?>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Select By</label>
                <div class="input-group ">
                    <?php echo $this->form->getElement('claim_owner'); ?>
                </div>
            </div>
            <div id="date_error" style="display:none;"><p class='error' style='color:red;'>Date must be less than 3 Months</p></div>
            <div style="margin-top:10px;">
                <?php echo $this->form->getElement('button'); ?> <span class="or_span">or</span>
                <a href="<?php echo $this->escape($this->form->getAction()); ?>" class="btn btn-default" >Cancel</a>
            </div>
	
	<?php echo $this->form->getElement('type'); ?>
	</form>
	<div style="margin-top: 10px;">
    <?php echo $this->form->getElement('as_xls'); ?>
</div>
 </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
       $('#date2 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'yyyy-mm-dd'
            });	
	$('#date1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'yyyy-mm-dd'
            });	
    });

    function checkdate() {
        var start_date = $('#start_time').val();
        var end_date = $('#end_time').val();

        var arrs = start_date.split("-");
        var year = arrs[0];
        var month = arrs[1];
        var day = arrs[2];


        var arrs2 = end_date.split("-");
        var year2 = arrs2[0];
        var month2 = arrs2[1];
        var day2 = arrs2[2];
        var different = monthDiff(new Date(year, month, day), new Date(year2, month2, day2));
        console.log(different);

        if (different > '3') {
            $('#date_error').show();
        } else {
            $('#date_error').hide();
        }
    }

    function monthDiff(d1, d2) {
        var months;
        months = (d2.getFullYear() - d1.getFullYear()) * 12;
        months -= d1.getMonth() + 1;
        months += d2.getMonth();
        return months <= 0 ? 0 : months;
    }
	
	
	function getContracotrsByStatus(){        
        if($('#active').val()){
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'getContractorsByStatus'); ?>",
                data: "status="+$('#active').val()+"&type=employees",
                success: function(contractors) {
					var json = eval('('+contractors+')');
                    contractor_droplist = '<option value="">Select One</option>';
					$.each(json, function(key,value) {
						contractor_droplist = contractor_droplist+'<option value="'+key+'">'+value+'</option>';
					});
					///now delete all old options and set new ones
					$('#fltr-created_by')
						.find('option')
						.remove()
						.end()
						.append(contractor_droplist);
								
                }
            });
        }else{
            console.log('active is empty....');
        }

    }
	
</script>

