<style>
	option[disabled=disabled], .stateOption{
		background-color: #1ab394;
		color:white;
	}
</style>

<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="row">
			<div class="col-md-12">
				<h3>Filter Reports</h3>
			</div>
		</div>
	</div>
	 <div class="ibox-content">
		<div class="row">
			<div class="col-md-12">
			<form id="search_form" class="form-horizontal" action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
			   <div class="row">
			    <div class="col-md-5">
				 <div class="form-group">
				<label>Contractor</label>
				<?php $LoggedUser=CheckAuth::getLoggedUser();
				$modelAuthRole = new Model_AuthRole();
					 if ($LoggedUser['role_id'] == $modelAuthRole->getRoleIdByName('contractor') && !CheckAuth::checkCredential(array('canSeePaymentsToAllContractors'))){ 
                        echo $LoggedUser['username'];
                     }else { ?>
                        <?php echo $this->form->getElement('contractor_id'); ?>
                    <?php } ?> 
				</div>
				
				<div class="form-group">
						<label> Date Range</label>
						<?php echo $this->form->getElement('date_range'); ?>
					</div>
				
				</div>
			    <div class="col-md-5 col-md-offset-1">
				 <div class="form-group">
						<label>From</label>
						<?php echo $this->form->getElement('payment_created_between'); ?>
					</div>
				 <div class="form-group">
						<label>To</label>
						<?php echo $this->form->getElement('payment_end_between'); ?>
					</div>
				</div>
			   </div>

				   <div class="form-group">
						<?php echo $this->form->getElement('button'); ?> <span class="or_span">or</span>
						<a href="<?php echo $this->escape($this->form->getAction()); ?>"  class="a_advance btn btn-danger" >Cancel</a>
					</div>
			

 
 
					<?php echo $this->form->getElement('type'); ?>
				</form>
						<div style="margin-top: 20px;">
							<?php echo $this->form->getElement('as_xls'); ?>
						</div>
			</div>
		</div>
	 </div>
</div>


		
			
			
   


<?php
$today = getTimePeriodByName('today');
$yesterday = getTimePeriodByName('yesterday');
$this_week = getTimePeriodByName('this_week');
$last_week = getTimePeriodByName('last_week');
$this_month = getTimePeriodByName('this_month');
$last_month = getTimePeriodByName('last_month');
$this_quarter = getTimePeriodByName('this_quarter');
$last_quarter = getTimePeriodByName('last_quarter');
$this_year = getTimePeriodByName('this_year');
$last_year = getTimePeriodByName('last_year');
?>
<script type="text/javascript">
    
    $(document).ready(function() {
        $('#header').width($('.table').width());
        $('#menu_cont').width($('.table').width());
        $('#body_cont').width($('.table').width());
        
        $("#start_time").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
        
        $("#end_time").datepicker({
            format: 'yyyy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });
    
    function selectFromToDate(){
        
        var dateRange = $("#date_range").val();
        
        var fromDate = '';
        var toDate = '';

        switch(dateRange){
            case '0': //'today'
                fromDate = '<?php echo date('Y-m-d', strtotime($today['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($today['end'])); ?>'; 
                break;
            case '1': //'yesterday'
                fromDate = '<?php echo date('Y-m-d', strtotime($yesterday['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($yesterday['end'])); ?>'; 
                break;
            case '2': //'this week'
                fromDate = '<?php echo date('Y-m-d', strtotime($this_week['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($this_week['end'])); ?>'; 
                break;
            case '3': //'previous week'
                fromDate = '<?php echo date('Y-m-d', strtotime($last_week['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($last_week['end'])); ?>';        
                break;
            case '4': //'this month'
                fromDate = '<?php echo date('Y-m-d', strtotime($this_month['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($this_month['end'])); ?>';  
                break;
            case '5': //'previous month'
                fromDate = '<?php echo date('Y-m-d', strtotime($last_month['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($last_month['end'])); ?>'; 
                break;
            case '6': //'this quarter'
                fromDate = '<?php echo date('Y-m-d', strtotime($this_quarter['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($this_quarter['end'])); ?>'; 
                break;
            case '7': //'previous quarter'
                fromDate = '<?php echo date('Y-m-d', strtotime($last_quarter['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($last_quarter['end'])); ?>';
                break;          
            case '8': //'this year'
                fromDate = '<?php echo date('Y-m-d', strtotime($this_year['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($this_year['end'])); ?>';
                break;
            case '9': //'previous year'
                fromDate = '<?php echo date('Y-m-d', strtotime($last_year['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($last_year['end'])); ?>';
                break;
            }
           
            $("#start_time").val(fromDate)
            $("#end_time").val(toDate)
        }
 
        function selectFilterOption(option){
            $("#date_range").val(option);
        }

</script>