<form id="form_edit_amount_paid" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="edit_amount_paid('<?php echo $this->escape($this->form->getAction()); ?>');return false;">
    <table>
        <tr>
            <td class="input_type" valign="top">Contractor Invoice Number:</td>
            <td><?php echo ($this->form->getElement('paid_amount')->render()); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top"> </td>
            <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
        </tr>
    </table>
</form>

<script type="text/javascript">
function edit_amount_paid(url){
       
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form_edit_amount_paid').serialize(),
            dataType : "json",
            success: function(data) {
			console.log(data.is_updated);
			console.log(data);
				if(data.is_updated == 1){
					 console.log(data);
					 $('#amount_paid_to_contractor_div_'+data.booking_id+'_'+data.contractor_id).text(data.new_paid_amount);
					
					 paid_amount_difference=parseFloat(data.new_paid_amount)- parseFloat(data.old_paid_amount);
			
					/*old_invoices_received_from_contractor=$('#Invoices_received_from_contractor').html();
					old_invoices_received_from_contractor=parseFloat(old_invoices_received_from_contractor.replace(",",""));
					new_invoices_received_from_contractor = old_invoices_received_from_contractor + paid_amount_difference;
					$('#Invoices_received_from_contractor').html($.format.number(new_invoices_received_from_contractor, '#,##0.00#'));
					*/
					/////
					old_paid_to_contractor=$('#paid_to_contractor').html();
					old_paid_to_contractor=parseFloat(old_paid_to_contractor.replace(",",""));
					new_paid_to_contractor = old_paid_to_contractor + paid_amount_difference;
					$('#paid_to_contractor').html($.format.number(new_paid_to_contractor, '#,##0.00#'));
					/////
					required_contractor_payment = $('#required_contractor_payment').html();
					required_contractor_payment = parseFloat(required_contractor_payment.replace(",",""));
					balance_due_to_contractor = required_contractor_payment - new_paid_to_contractor;
					$('#balance_due_to_contractor').html($.format.number(balance_due_to_contractor, '#,##0.00#'));
					
					//////
					/*old_total_payment_to_contractor_from_DB=$('#total_payment_to_contractor_from_DB').html();
					old_total_payment_to_contractor_from_DB=parseFloat(old_total_payment_to_contractor_from_DB.replace(",",""));
					new_total_payment_to_contractor_from_DB = old_total_payment_to_contractor_from_DB + paid_amount_difference;
					$('#total_payment_to_contractor_from_DB').html($.format.number(new_total_payment_to_contractor_from_DB, '#,##0.00#'));
					
					
					
					/////
					old_total_amount_paid_from_DB=$('#total_amount_paid_from_DB').html();
					old_total_amount_paid_from_DB=parseFloat(old_total_amount_paid_from_DB.replace(",",""));
					new_total_amount_paid_from_DB = old_total_amount_paid_from_DB + paid_amount_difference;
					$('#total_amount_paid_from_DB').html($.format.number(new_total_amount_paid_from_DB, '#,##0.00#'));*/
			
			
					 tb_remove();
				}
                else{
					 alert('not updated, please try again');
				}
				
            }
            
        });
    }
   </script> 