<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod());?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction());?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <div class="form-group">
            <label class="col-md-4">Attribute :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('attribute_id')->render(); ?></div>
        </div>
         <div class="form-group">
			<div class="col-md-8 col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
</form>