<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeAttributeAdd'))): ?>
                <div class="btn_cont">
                        <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Inquiry Attribute','<?php echo $this->escape($this->url(array('inquiry_type_id' => $this->inquiry_type_id), 'settingsInquiryTypeAttributeAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                             New Inquiry Attribute 
                        </div>
                    </a>
                </div>
            <?php endif; ?>

           
        </div>
</div>
<div style="margin-top:10px;" class="ibox float-e-margins ">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title">
                        <h5>All Inquiries Type</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					
        <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array('inquiry_type_id' => $this->inquiry_type_id), 'settingsInquiryTypeAttributeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Inquiry Type Attribute?');">
                    
                    <div class="ibox-content no-margin-b">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeAttributeDelete'))): ?>

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <th>Attribute</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td>
                                            <div>
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['inquiry_type_attribute_id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                            </div>
                                        </td>
                                        <td> 
                                                
                                                    <span><?php echo $this->escape($row['attribute_name']) ?></span>    
                                                
                                                </br>
                                                    <span style="color: #A1A1A1;">Inquiry Type:</span> <?php echo $this->escape($row['inquiry_name']) ?>
                                                
                                            
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeAttributeDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('inquiry_type_id' => $this->inquiry_type_id, 'id' => $row['inquiry_type_attribute_id']), 'settingsInquiryTypeAttributeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Inquiry Type Attribute?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                            </div></td>
                                      
                                        
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div class="ibox-content" class="noRowsMessageDIV">There are no Inquiry Type.</div>
        <?php endif; ?>

    
    
</div>
<div style="clear:both"></div>


