
<form id="form_condition_report" method="<?php echo $this->escape($this->form->getMethod()); ?>"  onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_condition_report','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        
        <tr>
            <td class="input_type" valign="top">Condition Report: <span style="color:#ff0000">*</span>: </td>
            <td><?php echo ($this->form->getElement('report')->render()); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top"> </td>
            <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
        </tr>

    </table>
</form>

