<div class="col-lg-12 wrapper-content" style="padding-right: 26px;">
        <div class="right_side_cont ibox-content">
            
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New Question','<?php echo $this->escape($this->url(array(), 'settingsBookingUpdateQuestionsAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Question
                        </div>
                    </a>
                </div>
            

        </div>
    </div>
<div class="col-lg-12 wrapper-content">

    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div class="col-lg-12">
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsUserDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this User?');">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Update Booking Question</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                       
                        <table class="table table-striped table-bordered table-hover responsive-table user-settings-table" id="editable" >
                            <thead>
                                <tr>
                                    
                                    <th>Question</th>
                                    <th>Type</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                
                                
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td>
                                            <div class="details_info_l">
												<?php echo $this->escape($row['question_text']) ?>    
											</div>
									<div class="details_info_l">
                                        <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Booking status','<?php echo $this->escape($this->url(array('question_id' => $row['update_booking_question_id']), 'settingsBookingUpdateQuestionsViewStatus')); ?>');" class="details_info_opt">View Booking Status</a>
                                        <span class="details_breaks">|</span>
										<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Question','<?php echo $this->escape($this->url(array('question_id' => $row['update_booking_question_id']), 'settingsBookingUpdateQuestionsEdit')); ?>');" class="details_info_opt">Edit</a>
                                        <span class="details_breaks">|</span>
										<a href="<?php echo $this->escape($this->url(array('question_id' => $row['update_booking_question_id']), 'settingsBookingUpdateQuestionsDelete')); ?>" onclick="return confirm('are you sure you want to delete this Question?');" class="details_info_opt">Delete</a>
                                        
                                    </div>
									
                                        </td>
                                        <td>
                                           <div class="details_info_l">
												<?php echo $this->escape($row['question_type']) ?>    
                                           </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no Questions.</div>

        <?php endif; ?>

    </div>
</div>
<div style="clear:both;"></div>


