<?php if(isset($this->update_booking_question['question_text'])){ ?>
<form id="form" method="post" onsubmit="do_submit('<?php echo $this->url(array(), 'settingsBookingUpdateQuestionsEdit') ?>','#form','#TB_ajaxContent');return false;">
<?php } else {?>
<form id="form" method="post" onsubmit="do_submit('<?php echo $this->url(array(), 'settingsBookingUpdateQuestionsAdd') ?>','#form','#TB_ajaxContent');return false;">
 <?php } ?>
 <div style="padding: 10px;">
		<table>
        <tr>
            <td class="input_type" valign="top">Question :</td>
            <td>
			<textarea rows="4" cols="30" name="question" id="question" ><?php echo $this->update_booking_question['question_text']? $this->update_booking_question['question_text'] : ''; ?></textarea>
			</td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Question Type :</td>
            <td>
			<select name="type" id="type" >
			  <option value="boolean" <?php if($this->update_booking_question['question_type']=='boolean'){ ?>selected <? }?> >Boolean</option>
			  <option value="text" <?php if($this->update_booking_question['question_type']=='text'){ ?>selected <? }?> >Text</option>
			  <option value="date" <?php if($this->update_booking_question['question_type']=='date'){ ?>selected <? }?> >Date</option>
			  <option value="multiple" <?php if($this->update_booking_question['question_type']=='multiple'){ ?>selected <? }?> >Multiple</option>
			</select>
			</td>
        </tr>
        <tr>
            <td class="input_type" valign="top"></td>
            <td><input type="submit" name="save"  style="margin: 3px;" value="save" /></td>
        </tr>
    </table>
  </div>
</form>

