<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                   Update Booking Question
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>

                <div>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                        <tr class="bg_table">
                            <td style="padding-left:25px; font-weight: bold; width:50%;" >Question</td>
                            <td style="padding-left:25px; font-weight: bold;" >Type</td>
                        </tr>

                        <?php $count = 0; ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                    if ($count % 2 != 0) {
                        echo 'tr_cont_1';
                    } else {
                        echo 'tr_cont_2';
                    }
                            ?>"  >
                                <td style="padding-left:30px;" >
                                    <div class="details_info_l">
                                        <?php echo $this->escape($row['question_text']) ?>    
                                        
                                    </div>
									<div class="details_info_l">
                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('question_id' => $row['update_booking_question_id']), 'settingsBookingUpdateQuestionsViewStatus')); ?>','330','450','Booking status');" class="details_info_opt">View Booking Status</a>
                                        <span class="details_breaks">|</span>
										<a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('question_id' => $row['update_booking_question_id']), 'settingsBookingUpdateQuestionsEdit')); ?>','250','450','Edit Question');" class="details_info_opt">Edit</a>
                                        <span class="details_breaks">|</span>
										<a href="<?php echo $this->escape($this->url(array('question_id' => $row['update_booking_question_id']), 'settingsBookingUpdateQuestionsDelete')); ?>" onclick="return confirm('are you sure you want to delete this Question?');" class="details_info_opt">Delete</a>
                                        
                                    </div>
									
                                </td>
								<td style="padding-left:30px;" >
									<div class="details_info_l">
                                        <?php echo $this->escape($row['question_type']) ?>    
                                        
                                    </div>
								</td>
                            </tr>
                        <?php endforeach; ?>
                    </table>

                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                </div>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Questions.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsBookingUpdateQuestionsAdd')); ?>','250','450','New Question');" class="btn_a">
                            <div class="text_pos">
                                New Question
                            </div>
                        </a>
                    </div>
                
            </div>
        </td>
    </tr>
</table>

