<div style="margin-top:10px;">
  <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsCustomerContactLabelAdd'))): ?>
                <div class="btn_cont">
                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('New contact label','<?php echo $this->escape($this->url(array(), 'settingsCustomerContactLabelAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                                 New Contact Label
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div>
                <div class="button_actions">
                    <h5>  Search Contact Label </h5>
                </div>
                <div class="button_actions">
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCustomerContactLabelList')); ?>" method="GET" >
                        <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                    </form>
                </div>
                <div class="filter_border_bottom center">
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsCustomerContactLabelList')); ?>" class="a_advance btn btn-white" >Reset</a>
                </div>
            </div>
        </div>
</div>

<div style="margin-top:10px;" class="">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div >
        <?php if ($this->data): ?>
                            <form action="<?php echo $this->escape($this->url(array(), 'settingsLabelTypeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Label Type?');">

                <div class="ibox float-e-margins no-margin-b">
                    <div class="ibox-title">
                        <h5> All Customer Contact Label </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsCustomerContactLabelDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover " id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Name</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $count += 1; ?>
                                    
                                    <tr class="gradeX">
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>

                                       <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['contact_label']) ?>    
                                        </div>
                                        <div class="details_info_l">
                                          
                                                <?php if (CheckAuth::checkCredential(array('settingsCustomerContactLabelEdit'))): ?>
                                                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit customer contact label','<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCustomerContactLabelEdit')); ?>');" class="details_info_opt">Edit</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsCustomerContactLabelDelete'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCustomerContactLabelDelete')); ?>" onclick="return confirm('are you sure you want to delete this Contact Label ?');" class="details_info_opt">Delete</a>
                                                <?php endif; ?>
                                           
                                        </div>
                                    </td>


                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
                       <div style="" class="noRowsMessageDIV">There are no Customer Contact Label.</div>


        <?php endif; ?>

    </div>
    
</div>
