<?php
//
// Style Sheet
//
ViewHelper::setStyleSheet('/js/jquery-cron/jqCron/jqCron.css');

//
// JavaScript
//
ViewHelper::setJavaScript('/js/jquery-cron/jqCron/jqCron.js');
?>

<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsCronJobAdd')) && get_config('under_construction')): ?>
                <div class="btn_cont">
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsCronJobAdd')); ?>"   class="btn btn-white">
                        <div class="text_pos">
                            New Cron Job
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div>
                    <h5>   Search Cron Job </h5>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCronJobList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />                 
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsCronJobList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                    </form>
            </div>
        </div>
    </div>

<div style="margin-top:10px;" class="">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div>
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsCannedResponsesDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this canned response?');">

                <div class="ibox float-e-margins no-margin-b">
                    <div class="ibox-title">
                        <h5> All Cron Jobs </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsCronJobDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover responsive-table setting-cronjob-table change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Cronjob Name</b></td>
                                    <td><b>Every</b></td>
                                    <td><b>Is Running</b></td>
                                    <td><b>Description</b></td>
                                    <td><b>Email Template</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $count += 1; ?>

                                    <tr class="gradeX">
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="details_info_l">
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Cron Job view','<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronJobView')); ?>');" class="a_link_black"> <?php echo $this->escape($row['cronjob_name']) ?> </a>   
                                            </div>
                                            <div class="details_info_l">
                                                <?php if (CheckAuth::checkCredential(array('settingsCronJobEdit'))): ?>
                                                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Cron Job','<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronJobEdit')); ?>');" class="details_info_opt">Edit</a>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsCronJobDelete')) && get_config('under_construction')): ?>
                                                    <span class="details_breaks">|</span>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronJobDelete')); ?>" onclick="return confirm('are you sure you want to delete this Cron Job?');" class="details_info_opt">Delete</a>
                                                <?php endif; ?>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="details_info_l" style="font-size: 12px;">
                                                <div style="margin-bottom: 10px;">
                                                    <?php echo $this->escape($row['every']) ?>
                                                </div>
                                                <div id="cron_<?php echo $this->escape($count) ?>"></div>
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#cron_<?php echo $this->escape($count) ?>').jqCron({
                                                            enabled_minute: true,
                                                            multiple_dom: true,
                                                            multiple_month: true,
                                                            multiple_mins: true,
                                                            multiple_dow: true,
                                                            multiple_time_hours: true,
                                                            multiple_time_minutes: true,
                                                            default_period: 'week',
                                                            default_value: "<?php echo $this->escape($row['every']) ?>",
                                                            no_reset_button: false,
                                                            lang: 'en'
                                                        }).jqCronGetInstance().disable();
                                                    });
                                                </script>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="details_info_l">
                                                <?php echo $this->escape($row['running'] ? 'YES' : 'NO') ?>    
                                            </div>
                                            <?php if (CheckAuth::checkCredential(array('settingsCronJobRunNow'))) { ?>
                                                <div class="details_info_l">
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronJobRunNow')); ?>" class="a_advance_search" >Run Now</a>
                                                </div>
                                            <?php } ?>
                                        </td>
                                        <td>
                                            <div class="details_info_l">
                                                <?php if (CheckAuth::checkCredential(array('settingsCronjobAddDescription'))): ?>
                                                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Cron Job description','<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronjobAddDescription')); ?>');" class="details_info_opt">Description</a>
                                                <?php endif; ?>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="details_info_l">
                                                <?php if (!empty($row['name'])) { ?>
                                                    <?php if (CheckAuth::checkCredential(array('settingsEmailTemplateEdit'))) { ?>
                                                        <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['email_template_id']), 'settingsEmailTemplateEdit')); ?>" class="details_info_opt"><?php echo str_replace("_", " ", $this->escape($row['name'])); ?></a>
                                                        <?php
                                                    } else {
                                                        echo str_replace("_", " ", $this->escape($row['name']));
                                                    }
                                                    ?>
                                                <?php } ?>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
                            <div style="" class="noRowsMessageDIV">There are no Cron Jobs.</div>


        <?php endif; ?>

    </div>
</div>



