<?php if (isset($this->is_first_time) && $this->is_first_time == 1): ?>
    <?php if (isset($this->data) && !empty($this->data)) : ?>
        <form method="POST" id="form" onsubmit="return confirm('Are you sure you want to delete this Invoice ?');">
            <?php if (CheckAuth::checkCredential(array('convertToOpen'))): ?>
                <input type="button" class="btn  btn-white" onclick="doSubmit('<?php echo $this->escape($this->url(array(), 'convertToOpen')); ?>');" value="Convert to Open"/>
            <?php endif; ?>

            <?php if (CheckAuth::checkCredential(array('invoiceDelete'))): ?>
                <input type="button" class="btn  btn-danger" onclick="doSubmit('<?php echo $this->escape($this->url(array(), 'invoiceDeleteBtn')); ?>');" value="Delete"/>
                <a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Import payments xls', '<?php echo $this->escape($this->url(array(), 'importBankPayments')); ?>')" class="btn btn-primary pull-right"><i class="fa fa-upload" aria-hidden="true"></i> Import payments xls</a>
            <?php endif; ?>
                

            <!-- End-fixed nav -->
            <table id="invoice-responsive-table" class="table table-bordered responsive-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" name="checkboxall" id="checkboxall"/></th>
                        <th><?php echo SortOrder::generate_link('Invoice#', 'created') ?></th>
                        <th class="details">Details</th>
                        <!-- <th>City</th>-->
                        <th>Amount</th>
                        <th>Technician</th>
                        <th>Users</th>

                    </tr>
                </thead>
                <tbody id="result">
                <?php else: ?>
                <h3 class="font-bold">There are no <?php echo $this->escape((!empty($this->filters['invoice_type']) ? ucfirst($this->filters['invoice_type']) : 'All')); ?> Invoices.
                </h3>
                <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                    <div> <br>
                        <a class="btn btn-primary m-t" href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>">View all Invoices</a> </div>	
                <?php endif; ?>
            <?php endif; ?>
        <?php endif; ?>

        <?php
        if (isset($this->data) && !empty($this->data)):
            $modelBookingAddress = new Model_BookingAddress();
            $count = 0;
            $modelCustomer = new Model_Customer();
            $modelUser = new Model_User();
            $modelClaimOwner = new Model_ClaimOwner();
            $loggedUser = CheckAuth::getLoggedUser();
            foreach ($this->data as $row) :
                $count += 1;
                ?>
                <tr class="<?php
                if ($count % 2 != 0) {
                    echo $this->escape('tr_cont_1');
                } else {
                    echo $this->escape('tr_cont_2');
                }
                ?>">
                    <td>
                        <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>"/>
                    </td>
                    <!-- invoice -->
                    <td>
                        <div class="details_info_l">
                            <div style="font-size: 14px;">
                                <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'invoiceView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['invoice_num']) ?></b></a>
                                <?php else: ?>
                                    <span class="details_info_name"><b><?php echo $this->escape($row['invoice_num']) ?></b></span>
                                <?php endif; ?>
                            </div>
                            <?php
                            $color = '#A1A1A1';
                            switch ($row['invoice_type']) {
                                case 'draft':
                                    $color = '#A1A1A1';
                                    break;

                                case 'open':
                                    $color = '#4F8BC3';
                                    break;

                                case 'overdue':
                                    $color = 'red';
                                    break;

                                case 'closed':
                                    $color = '#BCD68F';
                                    break;

                                case 'void':
                                    $color = '#00004E';
                                    break;
                            }
                            ?>
                            <div style="color: <?php echo $this->escape($color); ?>;>
                            <?php echo $this->escape($row['invoice_type']); ?>
                                 </div>

                                 <?php /*
                                   <div>
                                   <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                   <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                   <?php endif; ?>
                                   </div>
                                  */ ?>

                                 <div>
                                 <?php if (!empty($row['have_attachment'])): ?>
                                     <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"><img src="/pic/icons/attach.png" border="0"></a>
                                 <?php endif; ?>
                            </div>
                            <br/>
                            <div class="details_info_l"  id="label_<?php echo $row['id'] ?>">										 
                                <?php if ($row['labels']): ?> <span><i class="fa fa-tag"></i>&nbsp;<b>Label(s):</b></span>
                                    <?php foreach ($row['labels'] as $label): ?>
                                        <div class="label_box">
                                            <?php echo $this->escape($label); ?> 
                                        </div>
                                    <?php
                                    endforeach;
                                endif;
                                ?>
                            </div>  
                        </div>
                    </td>
                    <!--end -- invoice -->


                    <td>
                        <div class="details_info_l">
                            <div> 
                                <i class="fa fa-file-text-o"></i>
                                <span>
                                        <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                        <a href="<?php echo $this->url(array('id' => $row['booking_id']), 'bookingView'); ?>" class="a_link_black">
                                        <?php echo $this->escape($row['booking']['booking_num']); ?>
                                        </a>    
                                        <?php else: ?>
                                        <span class="span_black">
                                        <?php echo $this->escape($row['booking']['booking_num']); ?>
                                        </span>    
        <?php endif; ?>
                                </span>
                            </div>
                            <div>
                                <?php if (CheckAuth::checkCredential(array('invoiceView'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'invoiceView')); ?>" class="a_link_black"><?php //echo $this->escape($row['booking']['title']); ?></a>    
                                <?php else: ?>
                                    <span class="span_black"><?php echo $this->escape($row['title']); ?></span>    
        <?php endif; ?>
                            </div>
                            <div>
                                <div>
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <?php echo $this->escape(getDateFormating($row['created'])) ?>

                                    <?php if ($row['invoice_type'] != 'closed'): ?>
                                        <?php
                                        $message = '';
                                        $cdate = $row['created'];
                                        $today = time();
                                        $difference = $today - $cdate;
                                        if ($difference < 0) {
                                            $difference = 0;
                                        }
                                        $ago = (int) floor($difference / 60 / 60 / 24);
                                        $due = $row['due_date'];

                                        if ($ago > $due) {
                                            $message = "overdue for " . ($ago - $due) . " day(s)";
                                        } else {
                                            $due = $due - $ago;
                                            $message = "due in " . $due . " day(s)";
                                        }
                                        ?>
                                        <?php /* <span style="color: #A1A1A1; margin-left: 10px;">Balance: </span> $<?php echo $this->escape(number_format($row['booking']['qoute'] - $row['booking']['paid_amount'], 2)) ?> 
                                         */
                                        ?>
                                        &ensp;
                                        <span>   <span class="glyphicon glyphicon-time" aria-hidden="true"></span>  <?php echo $this->escape($message); ?></span>
        <?php endif; ?>
                                </div>
                                <div>
                                    <span><i class="fa fa-user"></i></span>
                                        <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                        <a href="<?php echo $this->url(array('id' => $row['booking']['customer_id']), 'customerView'); ?>" class="a_link_black">
                                        <?php echo $this->escape($row['customer_name']); ?>
                                        </a>    
                                        <?php else: ?>
                                        <span class="span_black">
                                        <?php echo $this->escape($row['customer_name']); ?>
                                        </span>    
        <?php endif; ?>

                                </div>
                                <div id="address_list">
                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                                    <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
            <?php if ($bookingAddress): ?>
                                            <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                            <?php echo $this->escape($lineAddress); ?>
                                            </a>
                                        <?php endif; ?> 
        <?php endif; ?>
                                </div>
                            </div>
                        </div>
                        <div class="details_info_l actions-list">
                            <?php
                            $actions = array();

                            if (CheckAuth::checkCredential(array('bookingEdit'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt"> <i class="fa fa-pencil-square-o">&nbsp;</i>Edit</a>';
                            }

                            if (CheckAuth::checkCredential(array('paymentList'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingPaymentList')) . '" class="details_info_opt">Payment</a>';
                            }

                            if ($row['invoice_type'] != 'closed') {
                                if (CheckAuth::checkCredential(array('paymentAdd'))) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'checkStatusToAddPayment')) . '" class="details_info_opt">Add Payment</a>';
                                }
                            }
                            if ($row['booking']['paid_amount'] > 0) {
                                if (CheckAuth::checkCredential(array('refundAdd'))) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'refundAdd')) . '" class="details_info_opt">Add Refund</a>';
                                }
                            }

                            if (CheckAuth::checkCredential(array('statment'))) {
                                $popupConfig = "'Invoice Previrew','{$this->escape($this->url(array('id' => $row['id']), 'statment'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Statement Preview</a>';
                            }

                            if (CheckAuth::checkCredential(array('refundList'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingRefundList')) . '" class="details_info_opt">Refund</a>';
                            }
                            // Find Availability
                            $findAvailabilityParams = array();
                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                            $findAvailabilityParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                            foreach ($row['services'] as $service) {
                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                            }
                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                            $popupConfig = "'Find Availability','{$this->escape($this->url(array(), 'findAvailability'))}','{$findAvailabilityParams}'";
                            $actions[] = '<a   href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi_with_parm(' . $popupConfig . ');" class="details_info_opt">Find Availability</a>';

                            //Nearest Booking
                            $nearestBookingParams = array();
                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking']['booking_start'])));
                            $nearestBookingParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                            $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                            $nearestBookingParams = implode("&", $nearestBookingParams);
                            $popupConfig = "'Nearest Bookings','{$this->escape($this->url(array(), 'getRelatedAddress'))}','{$nearestBookingParams}'";
                            $actions[] = '<a class="details_info_opt"   href="#" data-toggle="modal" data-target="#popupi" onclick="popupi_with_parm(' . $popupConfig . ');">Nearest Bookings</a>';


                            if (CheckAuth::checkCredential(array('invoices', 'setDueDate'))) {
                                $popupConfig = "'Set Due Date','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'setDueDate'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Set Due Date</a>';
                            }

                            if ($row['invoice_type'] == 'draft') {
                                if (CheckAuth::checkCredential(array('convertToOpen'))) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['id']), 'convertToOpenLink')) . '" class="details_info_opt">Convert to Open</a>';
                                }
                            } else {
                                if (CheckAuth::checkCredential(array('convert'))) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('type' => 'draft', 'id' => $row['id']), 'convert')) . '" class="details_info_opt">Convert to Draft</a>';
                                }
                            }

                            if (CheckAuth::checkCredential(array('convert'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('type' => 'void', 'id' => $row['id']), 'convert')) . '" class="details_info_opt">Convert to Void</a>';
                            }
                            if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                $popupConfig = "'Add Complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Add complaint</a>';
                            }

                            if (CheckAuth::checkCredential(array('invoiceDiscussion'))) {
                                $popupConfig = "'Invoice Discussion','{$this->escape($this->url(array('id' => $row['id']), 'invoiceDisscussion'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Invoice Discussion</a>';
                            }

                            if (CheckAuth::checkCredential(array('invoiceLabel'))) {
                                $popupConfig = "'Invoice Label','{$this->escape($this->url(array('id' => $row['id']), 'invoiceSelectLabel'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" 
												onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                            }

                            if (CheckAuth::checkCredential(array('attachment'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                            }

                            if (CheckAuth::checkCredential(array('invoiceDelete'))) {
                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'invoiceDelete'))}','Are you sure you want to delete this invoice ?'";
                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                            }
                            if (CheckAuth::checkCredential(array('claimOwner')) && $row['booking']['created_by'] != $loggedUser['user_id']) {
                                $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                if (empty($claimOwner)) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                }
                            }

                            $line_actions = array_slice($actions, 0, 1);
                            $drop_down_actions = array_slice($actions, 1);
                            ?>

                            <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

        <?php if ($drop_down_actions): ?>

                                <div class="btn-group ">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions  <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                            <li> <?php echo $drop_down_action; ?> </li>
            <?php endforeach; ?>
                                    </ul>
                                </div>		
                                <div class="clearb"></div>

        <?php endif; ?>
                        </div>

                    </td>


                    <td class="details_info_r">

                        <?php
                        $modelBooking = new Model_Booking();
                        $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                        ?>
                        $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>

                    </td>

                        <!--  <td>
        <?php //echo $this->escape($row['city_name']);    ?>    
                        </td>
                    -->

                    <td>

        <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                            <div><?php $user = $modelUser->getById($contractor_id); ?>
                                <a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $this->escape(ucwords($user['username']) . ($contractor_name ? ' - ' . ucwords($contractor_name) : '')); ?></a>
                            </div>
        <?php endforeach ?>

                    </td>

                    <td>

                        <?php foreach ($row['booking_users'] as $booking_user) : ?>

                            <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>

        <?php endforeach; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>

<?php if (isset($this->is_first_time) && $this->is_first_time == 1 && (isset($this->data) && !empty($this->data))): ?>
            </tbody>
        </table>
    </form>
<?php endif; ?>
