<!-- Draw node for Invoices -->
<style>
table {border: 0px;}
#button:active {
    background-color: #FFFFFF !important;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

.tech {
	border-radius: 7px;
  background: #e9fde6;
  border-style: solid;
  border-color:#48bc5a;
    border-width:1px;
    
	padding:2px;
}


@media only screen and (min-width: 1025px)
{
	.IconSize
	{
		font-size:12px;
	}
	.statusBorder
{
	margin-bottom:5px;/*10px;*/
	box-shadow: 0px 1px 1px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-width:0px;
  border-left-style: solid;
    border-left-width:1px;
    padding:1px;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}

   .minDivHeight 
   {
	min-height:160px;
   }
   .ShowEditIcon
	{
		display:inline;
	}
	.ChangeEditPosition
	{
		display:none;
	}
	.ShowButtonIcon
	{
		display:inline;
	}
	.ButtonMargins
	{
		margin:10px;
	}
	.BookingBoxHeight
	{
		padding-bottom:0px;
	}
	.Customer-confirm-button
	{
		background:#0CB225;
		padding:3px; 
		font-size:10px;
	}
	.avialabilty_nearest
	{
		margin:2px;
		padding:2px;
		font-size: 12px;
	}
	.echoWord
	{
		display:inline;
	}
	.ImgDimension
	{
		width:35px;
		height:35px;
	}
	.scroll
	{
    max-height:160px;
	overflow: auto; 
	overflow-y: scroll;
	overflow-x: hidden;
	}
	
	.hiddenHeight
	{
		min-height:155px;
	}
}
@media only screen and (min-width: 850px) and (max-width: 1024.9px) 
{
	.statusBorder
{
	
	margin-bottom:5px;/*10px;*/
	box-shadow: 0px 1px 1px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-width:0px;
  border-left-style: solid;
    border-left-width:1px;
    padding:1px;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}
	.FontSize 
	  {
		  font-size:8px;
	  }
  .IconSize
	{
		font-size:10px;
	}
	
   .minDivHeight 
   {
	min-height:160px;
   }
   .ShowEditIcon
	{
		display:inline;
	}
	.ChangeEditPosition
	{
		display:none;
	}
	.ShowButtonIcon
	{
		display:none;
	}
	.ButtonMargins
	{
		margin:0px;
	}
	.BookingBoxHeight
	{
		padding-bottom:0px;
	}
	.Customer-confirm-button
	{
		background:#0CB225;
		padding:2px; 
		font-size:8px;
	}
	.avialabilty_nearest
	{
		margin:0px;
		padding:0px;
		font-size: 7px;
	}
	.echoWord
	{
		display:none;
	}
	.ImgDimension
	{
		width:25px;
		height:25px;
	}
	.scroll
	{
    max-height:160px;
	overflow: auto; 
	overflow-y: scroll;
	overflow-x: hidden;
	}
	
	.hiddenHeight
	{
		min-height:155px;
	}
}
@media only screen and (max-width: 849.5px) and (min-width: 768px) {
		.statusBorder
{
	
	margin-bottom:5px;/*10px;*/
	box-shadow: 0px 1px 1px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-width:0px;
  border-left-style: solid;
    border-left-width:1px;
    padding:1px;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}
	.FontSize 
	  {
		  font-size:7px;
	  }
  .IconSize
	{
		font-size:8px;
	}
	
   .minDivHeight 
   {
	min-height:160px;
   }
   .ShowEditIcon
	{
		display:inline;
	}
	.ChangeEditPosition
	{
		display:none;
	}
	.ShowButtonIcon
	{
		display:none;
	}
	.ButtonMargins
	{
		margin:0px;
	}
	.BookingBoxHeight
	{
		padding-bottom:0px; margin-bottom:0px;
	}
	.Customer-confirm-button
	{
		background:#0CB225;
		padding:1px; 
		font-size:7px;
	}
	.avialabilty_nearest
	{
		margin:0px;
		padding:0px;
		font-size: 7px;
	}
	.echoWord
	{
		display:none;
	}
	.ImgDimension
	{
		width:25px;
		height:25px;
	}
	.scroll
	{
    max-height:160px;
	overflow: auto; 
	overflow-y: scroll;
	overflow-x: hidden;
	}
	.hiddenHeight
	{
		min-height:155px;
	}
}
	


@media only screen and (max-width: 767px) {
		.statusBorder
{
	margin:0px;
	margin-bottom:5px;/*10px;*/
	box-shadow: 0px 0px 0px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-width:0px;
  border-top-style: solid;
    /*padding:1px;*/
	border-top-color: #0CB225;
	border-top-width: 5px;
	
}
	.ShowEditIcon
	{
		display:none;
	}
	
	.ChangeEditPosition
	{
		display:inline;
	}
	.FontSize 
  {
	  font-size:13px;
  }
	.minDivHeight {
		min-height:60px;
	}
	.changeBG{
		
		color: #EC2319;
	}
    .IconSize
	{
		font-size:14px;
	}
	
	.ShowButtonIcon
	{
		display:inline;
	}
	.echoWord
	{
		display:inline;
	}
	.ButtonMargins
	{
		margin:10px;
	}
	
	.BookingBoxHeight
	{
		padding-bottom:0px;
	}
	
	.Customer-confirm-button
	{
		background:#0CB225;
		padding:2px; 
		font-size:8px;
	}
	.avialabilty_nearest
	{
		margin:2px;
		padding:5px;
		font-size: 12px;
	}
	
	.ImgDimension
	{
		width:40px;
		height:40px;
	}
	
	
	.hiddenHeight
	{
		min-height:50px;
	}
	.moveActionButton
	{
		margin-right:60px;
	}
}

</style>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ container: 'body' });
	 $('[data-toggle="dropdown"]').dropdown({ container: 'body' });
});

function removeScroll(booking_id,contractor_id)
{
	if ($('#contractor_'+booking_id+'_'+contractor_id).attr('value') == 0)
	{
	$('#contractor_'+booking_id+'_'+contractor_id).addClass("scroll");
	$('#contractor_'+booking_id+'_'+contractor_id).attr('value',1);
	console.log('add : '+$('#contractor_'+booking_id+'_'+contractor_id).attr('value'));
	}
	else 
	{
		$('#contractor_'+booking_id+'_'+contractor_id).removeClass("scroll");
	    $('#contractor_'+booking_id+'_'+contractor_id).attr('value',0);
	console.log('remove : '+$('#contractor_'+booking_id+'_'+contractor_id).attr('value'));
	}
	
}
</script>

  
        <?php
        if (isset($this->data) && !empty($this->data)){ ?>
<div id="result"> 
       <?php
        	$modelBookingAddress = new Model_BookingAddress();
            $modelCustomer = new Model_Customer();
            $modelUser = new Model_User();
            $modelClaimOwner = new Model_ClaimOwner();
            $loggedUser = CheckAuth::getLoggedUser();
            $modelBooking = new Model_Booking();///////////////////////////////////////////
			$modelBookingEstimate = new Model_BookingEstimate();
            foreach ($this->data as $row) {
				$estimate = $modelBookingEstimate->getByBookingId($row['booking_id']);
				switch ($row['invoice_type']) {
                                case 'draft':
                                    $color = '#A1A1A1';
                                    break;

                                case 'open':
                                    $color = '#4F8BC3';
                                    break;

                                case 'overdue':
                                    $color = 'red';
                                    break;

                                case 'closed':
                                    $color = '#BCD68F';
                                    break;

                                case 'void':
                                    $color = '#00004E';
                                    break;
                            }
								 $statusColor='border-left-color:'.$color.';'.'border-top-color:'.$color.';';
                ?>
                <div class="row statusBorder " style="cell-spacing:2px; <?=$statusColor?> margin: 0; margin-bottom:10px; font-size:11px; vertical-align:middle; padding-bottom:0px;">  <!-- start main div -->
				
				 <!-- start invoice box -->
		    <div class="col-sm-3 minDivHeight " width="100%" style=" padding:2px;margin:0px; border:0px; border-width:0px;"> 
			
			<div width="100%"  style="top:0px; bottom:0px; left:3px; right:0px; border:0px; border-width:0px; padding:2px;">
		<table width="100%" style="top:0px; bottom:0px; border:0px; border-width:0px;" height="100%">
		<tr>
		<td colspan="10">
		<table width="100%">
			<tr height="20%">
			<td width="60%">
			<table width="100%">
			<tr>
			<td  style="color:<?=$color?>;font-weight: bold;"width="50%" height="10" class="FontSize">
			   <div width="5%" style="float:left; padding-right:2px;" valign="middle"  class="ShowEditIcon">        
					  <a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
					  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
					  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
					  </a>
                </div>
				
				<div style="float:left; display:inline;" valign="middle" >
				<div>
				<b>
				<?php if (CheckAuth::checkCredential(array('invoices'))): ?>
				<a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'invoiceView')); ?>" style="color:<?=$color?>;" class="a_link_black"><?php echo $this->escape($row['invoice_num']); ?></a>
                    <?php 
					else: ?>
					<?php echo $this->escape($row['invoice_num']); ?>
				<?php	endif; ?>
					</b>
                                        <div class="hidden-block">
                                            <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
												<a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'invoiceView')); ?>" style="color:<?=$color?>;" class="a_link_black"><?php echo $this->escape($row['invoice_num']) ?></a>
													<?php 
													else: ?>
													<?php echo $this->escape($row['invoice_num']) ?>
												<?php	endif; ?>
                                        </div>
										
								<?php if (!empty($row['have_attachment'])): ?>
                                     <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')); ?>">
										  <i class="fa fa-paperclip IconSize" style="font-weight:bold;"></i>
										  </a>
										 
                                 <?php endif; ?></div>
				   
				<div> <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
															<a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'invoiceView')); ?>" class="details_info_name" style="color:<?=$color?>"><b><?php
															echo $this->escape($row['invoice_type']);
                                                    ?>
													</b></a> 
                                                <?php else: ?>
                                                    <span class="a_black">
															<?php
															echo $this->escape($row['invoice_type']);
															?>
													</span> 
                                                <?php endif; ?>
				</div>
			   </div>
			   
			   <div class="ChangeEditPosition" width="5%" style="float:left; padding-left:2px;" valign="middle" >
                            
                  <a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
				  
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
				  </a>
                </div>
				
			</td>
			
			</tr>
			<tr height="10%">
			
			<td valign="top" style="color:<?=$color?>; font-weight: bold;" class="FontSize">
			</td>
		
			
			</tr>
			
			</table>
			</td>
			<td width="40%" align="right">
			<?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
			<!------ Actions Button --------->
  <div class="details_info_l actions-list IconSize">
                                        <?php
										
										$actions = array();

                            if (CheckAuth::checkCredential(array('bookingEdit'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt"> <i class="fa fa-pencil-square-o">&nbsp;</i>Edit</a>';
                            }

                            if (CheckAuth::checkCredential(array('paymentList'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingPaymentList')) . '" class="details_info_opt">Payment</a>';
                            }

                            if ($row['invoice_type'] != 'closed') {
                                if (CheckAuth::checkCredential(array('paymentAdd'))) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'checkStatusToAddPayment')) . '" class="details_info_opt">Add Payment</a>';
                                }
                            }
                            if ($row['booking']['paid_amount'] > 0) {
                                if (CheckAuth::checkCredential(array('refundAdd'))) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'refundAdd')) . '" class="details_info_opt">Add Refund</a>';
                                }
                            }

                            if (CheckAuth::checkCredential(array('statment'))) {
                                $popupConfig = "'Invoice Previrew','{$this->escape($this->url(array('id' => $row['id']), 'statment'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Statement Preview</a>';
                            }

                            if (CheckAuth::checkCredential(array('refundList'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingRefundList')) . '" class="details_info_opt">Refund</a>';
                            }
                            // Find Availability
                            $findAvailabilityParams = array();
                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                            $findAvailabilityParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                            foreach ($row['services'] as $service) {
                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                            }
                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                            $popupConfig = "'Find Availability','{$this->escape($this->url(array(), 'findAvailability'))}','{$findAvailabilityParams}'";
                            $actions[] = '<a   href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi_with_parm(' . $popupConfig . ');" class="details_info_opt">Find Availability</a>';

                            //Nearest Booking
                            $nearestBookingParams = array();
                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking']['booking_start'])));
                            $nearestBookingParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                            $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                            $nearestBookingParams = implode("&", $nearestBookingParams);
                            $popupConfig = "'Nearest Bookings','{$this->escape($this->url(array(), 'getRelatedAddress'))}','{$nearestBookingParams}'";
                            $actions[] = '<a class="details_info_opt"   href="#" data-toggle="modal" data-target="#popupi" onclick="popupi_with_parm(' . $popupConfig . ');">Nearest Bookings</a>';


                            if (CheckAuth::checkCredential(array('invoices', 'setDueDate'))) {
                                $popupConfig = "'Set Due Date','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'setDueDate'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Set Due Date</a>';
                            }

                            if ($row['invoice_type'] == 'draft') {
                                if (CheckAuth::checkCredential(array('convertToOpen'))) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['id']), 'convertToOpenLink')) . '" class="details_info_opt">Convert to Open</a>';
                                }
                            } else {
                                if (CheckAuth::checkCredential(array('convert'))) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('type' => 'draft', 'id' => $row['id']), 'convert')) . '" class="details_info_opt">Convert to Draft</a>';
                                }
                            }

                            if (CheckAuth::checkCredential(array('convert'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('type' => 'void', 'id' => $row['id']), 'convert')) . '" class="details_info_opt">Convert to Void</a>';
                            }
                            if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                $popupConfig = "'Add Complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Add complaint</a>';
                            }

                            if (CheckAuth::checkCredential(array('invoiceDiscussion'))) {
                                $popupConfig = "'Invoice Discussion','{$this->escape($this->url(array('id' => $row['id'], 'process' => 'send', 'type' => 'invoice'), 'itemDiscussion'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Invoice Discussion</a>';
                            }

                            if (CheckAuth::checkCredential(array('invoiceLabel'))) {
                                $popupConfig = "'Invoice Label','{$this->escape($this->url(array('id' => $row['id']), 'invoiceSelectLabel'))}'";
                                $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" 
												onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                            }

                            if (CheckAuth::checkCredential(array('attachment'))) {
                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                            }

                            if (CheckAuth::checkCredential(array('invoiceDelete'))) {
                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'invoiceDelete'))}','Are you sure you want to delete this invoice ?'";
                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                            }
                            if (CheckAuth::checkCredential(array('claimOwner')) && $row['booking']['created_by'] != $loggedUser['user_id']) {
                                $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                if (empty($claimOwner)) {
                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                }
                            }

                            $drop_down_actions = $actions;
                                        ?>
        <?php if ($drop_down_actions): ?>
                                            <!-- action button --> 
                                            <div class="btn-group">
			                                        
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn FontSize" style="background-color:#00B0D8;padding:3px; padding-left:5px; padding-right:5px; z-index:0">Actions <span class="caret"></span></button>
                                                <ul class="dropdown-menu" style="right: 0; left: auto;">
                                                    <?php foreach ($drop_down_actions as $drop_down_action){ ?>
                                                        <li> <?php echo $drop_down_action; ?></li>
                                                    <?php } ?>
                                                </ul>
                                            </div>


        <?php endif; ?>
                                    </div>
									

			</td>
			
			</tr>
		
			</table>
			</td>
			</tr>
			<tr height="20%">
			<td width="1%" style="padding-right:2px;">
			<a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                </a></td>
			<td colspan="4" style="font-size:10px;" >
			<span class="FontSize"><?php echo $this->escape(getDateFormating($row['created'])) ?></span>
			
			</td>
			</tr>
			<tr>
			<td width="1%" style="padding-right:2px;">
			<a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                </a></td>
			<td colspan="4">
                                <span >
                                    <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                        <a href="<?php echo $this->url(array('id' => $row['booking_id']), 'bookingView'); ?>" class="a_link_black FontSize" style="color:#676A6C;">
                                            <?php echo $this->escape($row['booking']['booking_num']);
                                            
                                            //$booking_test = $modelBooking->getById($row['booking_id']);
                                            if ($row['booking']['is_change']) {?> 
                                                <span style="background-color:#000"> <img  src="<?php echo $this->escape($this->baseUrl('/pic/office_approve.png')); ?>" width="20" height="20" /> </span>
                                       <?php } else{?>
                                        
                                         <?php } ?>   
                                        </a>    
                                    <?php else: ?>
                                        <span class="span_black FontSize">
                                            <?php echo $this->escape($row['booking']['booking_num']); 
                                           // $booking_test = $modelBooking->getById($row['booking_id']);
                                             if ($row['booking']['is_change']) {?> 
                                                <span style="background-color:#000"> <img  src="<?php echo $this->escape($this->baseUrl('/pic/office_approve.png')); ?>" width="20" height="20" /> </span>
                                       <?php } ?>

                                        </span>    
                                    <?php endif; ?>
                                </span>
			</td>
			</tr>
			
			<tr>
			<td width="1%" style="padding-right:2px;">
			<a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                </a></td>
			<td colspan="4" class="FontSize">
                                    <?php
                        $modelBooking = new Model_Booking();
                        $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                        ?>
                        $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>

                                    <?php if ($row['invoice_type'] != 'closed'): ?>
                                        <?php
                                        $message = '';
                                        $cdate = $row['created'];
                                        $today = time();
                                        $difference = $today - $cdate;
                                        if ($difference < 0) {
                                            $difference = 0;
                                        }
                                        $ago = (int) floor($difference / 60 / 60 / 24);
                                        $due = $row['due_date'];

                                        if ($ago > $due) {
                                            $message = "overdue for " . ($ago - $due) . " day(s)";
                                        } else {
                                            $due = $due - $ago;
                                            $message = "due in " . $due . " day(s)";
                                        }
                                        ?>
                                        &ensp;
                                        <span>   <span class="glyphicon glyphicon-time" aria-hidden="true"></span>  <?php echo $this->escape($message); ?></span>
                                    <?php endif; ?>
			
			</td>
			</tr>
			<tr height="20%">
			<td colspan="5" style="padding-left:10px;"> 
			<div class="details_info_l"  id="label_<?php echo $row['id'] ?>">										 
                                <?php if ($row['labels']): ?> <span><i class="fa fa-tag"></i>&nbsp;<b>Label(s):</b></span>
                                    <?php foreach ($row['labels'] as $label): ?>
                                        <div class="label_box">
                                            <?php echo $this->escape($label); ?> 
                                        </div>
                                        <?php
                                    endforeach;
                                endif;
                                ?>
                            </div>  
			</td>
			</tr>
			
			<tr>
			<td colspan="5" height="50" valign="middle">
			 <?php 
			 $AuthRoleModel = new Model_AuthRole();
			 foreach ($row['booking_users'] as $booking_user) { 
			   
			   $Auth =  $AuthRoleModel->getById($booking_user['user']['role_id']);
			   $dir = get_config('user_picture_path').$booking_user['user']['avatar'];
			   $dir_default_pic = get_config('user_default_picture_path');
                $display_name='';
								   if(isset($booking_user['user']['display_name']) && !empty($booking_user['user']['display_name'])){
									   $display_name = $booking_user['user']['display_name'];
								   }
								   elseif(isset($booking_user['user']['first_name']) && !empty($booking_user['user']['first_name'])){
									   $display_name = $booking_user['user']['first_name'].' '.$booking_user['user']['last_name'];
								   }
								   else
								   {
									   $display_name = $booking_user['user']['username'];
								   }
			 ?>
                                        <div style="display:inline;" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content=" <?=$display_name?><br /> <?=$Auth['role_name']?>">
                                            <?php
											if (isset($booking_user['user']['avatar']) && !empty($booking_user['user']['avatar']) ):
                                                                    echo '<img class="img-circle ImgDimension" src="'.$this->baseUrl($dir).'"/>';
                                                                else:
                                                                    echo'<img src="'.$this->baseUrl($dir_default_pic).'" class="img-circle ImgDimension">';
                                                                endif;
                                            ?>																
                                        </div>
			 <?php } ?>
			</td>
			</tr>
			</table>
			</div>
			

</div>
		   <!-- end invoice box -->
		   
		   <!-- start customer box -->
<?php	
$customerContact = new Model_CustomerContact();
   $customerContactList = $customerContact->getByCustomerId($row['customer']['customer_id']);
   $SecondaryContactsCount = count($customerContactList);
		   $customerBoxHeight = 'padding-bottom:40px; padding-top:10px;';
 $confrimBoxPadding = 'padding-bottom:10px; margin-bottom:10px;';
 $hiddenClass = 'hiddenHeight';
 if ($SecondaryContactsCount >= 1 )
 {
	 $customerBoxHeight = 'height:50px; padding-bottom:30px; padding-top:5px;';
	 $hiddenClass = '';
	 $confrimBoxPadding = 'margin-bottom:3px;';
 }
 else 
 {
	 $customerBoxHeight = 'padding-bottom:40px; padding-top:10px;';
	 $hiddenClass = 'hiddenHeight';
	 $confrimBoxPadding = 'padding-bottom:10px; margin-bottom:10px;';
 }
 ?>
 <div class="col-sm-3 minDivHeight" width="100%" style=" padding:5px;margin:0px; border:0px; border-width:0px; "> 

	  <div class= "<?=$hiddenClass?>" style=" <?=$customerBoxHeight?> position: relative; border-radius:10px; background: #FFFFFF; box-shadow: 3px 3px 0px #e5e7ea; ">
		<span class="FontSize" style="font-weight:bold; padding-left:5px; font-size:10px;">
              <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black" style="color:#0CB225;"><span class="glyphicon glyphicon-user" style="color:#0CB225;"></span></a> 
			  <?php } 
			  else { ?>
                <span class="glyphicon glyphicon-user" style="color:#0CB225;"></span>
			  <?php  }?>			  
			  <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black FontSize" style="color:#0CB225;"><?=$row['customer']['first_name'].' '.$row['customer']['last_name']?></a> 
			  <?php } 
			  else { echo $row['customer']['first_name'].' '.$row['customer']['last_name']; }?> 
			  </span>
			  
	<div height="30" valign="middle" align="center" width="100%"  style="position: absolute; bottom: 0;width: 100%; height:30px;  margin:0px;  <?=$confrimBoxPadding?>" >
			  
		<table width="100%" style="margin-top:5px;">
			  <tr>
			  <td align="left" style="padding-left:5px;" width="" class="FontSize"></td>
			 <td align="right" style="padding-right:5px;" width="100%">
			 
			  <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
			  <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
			  <?php $modelBookingStatus = new Model_BookingStatus(); ?>
			                      <ul class="dropdown-menu" style="color: #000000; z-index:20;right: 50%; ">
								  

															<?php if (CheckAuth::checkCredential(array('sendEmail'))){ ?>
																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' =>$row['customer']['customer_id'], 'type' => 'booking', 'reference_id' => $row['booking_id']), 'sendEmail')); ?>');">Send Email</a>
																</li>
															<?php }
															
															$onHold = $modelBookingStatus->getByStatusName('ON HOLD');
															if ($row['booking']['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential(array(
																		'sendBookingAsEmail'))) {
																?>

																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder On Hold</a>
																</li>

																		<?php }
															$tentative = $modelBookingStatus->getByStatusName('TENTATIVE');
															if ($row['booking']['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential(array(
																		'sendBookingAsEmail'))) {
																?>

																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder Tentative</a>
																</li>

																		<?php }
																		
																		if (CheckAuth::checkCredential(array('sendBookingAsEmail'))){ ?>
																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmail')); ?>');">Email Booking</a>
																</li>
																		<?php }
                                                                           $modelCustomerFeedback = new Model_CustomerFeedback();
																			 $modelBookingStatus = new Model_BookingStatus();
																		   $status = $modelBookingStatus->getById($row['booking']['status_id']); 
																		   
																		if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))){ 
																		
																		$customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($row['booking_id'], $row['booking']['status_id']); 
																		if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1){ ?>
																	<li >   
																		<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Request Feedback','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendRequestBookingFeedback')) ?>');" class="details_info_opt" >Request Feedback</a>
																	</li>
																		<?php } } ?>
																		
																		<?php 
																		if(isset($row['booking']['original_inquiry_id']) && $row['booking']['original_inquiry_id']!=null){
																		if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
																			<li>
																		 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Advertising Email','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Inquiry</a>
																		 </li>
																		<?php    }}
																		 $modelBookingEstimate = new Model_BookingEstimate();
																		 
	                                                                     $estimate = $modelBookingEstimate->getByBookingId($row['booking_id']);
																		if (isset($estimate['id']) && $estimate['id']!=null) {
																			if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
																			<li class="email">
																				<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
																			</li>
																		<?php } }?>
																	
																	<?php 
																	if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){  ?>
																				<li>
																				<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $row['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
																				</li>
																	<?php } ?>
																	
																	<?php 
																	if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
																					<li>
																					<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Statement Email','<?php echo $this->url(array('id' => $row['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
																					</li>
																	<?php } ?>
																			
																		

														</ul>
			  </a>
			  </div>
			  <div class="btn-group" style=" display:inline;border-radius:100%;">
			  <a data-toggle="modal" data-target="#popupi" onclick="popupi('Invoice Discussion', '<?php echo $this->escape($this->url(array('id' => $row['id'], 'process' => 'send', 'type' => 'invoice'), 'itemDiscussion')); ?>');">
			   <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
				  <!--<i class="fa fa-comment" aria-hidden="true"></i>-->
                </span>
			   </a>
			   </div>
			   <div class="btn-group" style=" display:inline;border-radius:100%;">
			  <a data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Mobile: <?=$row['customer']['mobile1']?> <br /> Work: <?=$row['customer']['phone1']?>">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
			  </div>
			  </td>
			  </tr>
			  </table>
			  </div>
			  </div>
			  <!-- IF THERE IS OTHER CONTACTS --> 
			  <?php 
			  if(!empty($customerContactList))
			  {
				  foreach($customerContactList as $secondaryContact) {
					  
				  
				  ?>
		    <div style="border-radius:10px; background: #FFFFFF; margin-top:5px; box-shadow: 3px 3px 0px #e5e7ea; min-height:50px; padding-top:5px;">
			<span class="FontSize" style="font-weight:bold; padding-left:5px; font-size:10px;">
              <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black" style="color:#0CB225;"><span class="glyphicon glyphicon-user" style="color:#0CB225;"></span></a> 
			  <?php } 
			  else { ?>
                <span class="glyphicon glyphicon-user" style="color:#0CB225;"></span>
			  <?php  }?>			  
			  <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black FontSize" style="color:#0CB225;"><?=$secondaryContact['first_name']?> <?=$secondaryContact['last_name']?></a> 
			  <?php } 
			  else { echo $secondaryContact['first_name'].' '.$secondaryContact['last_name']; }?> 
			  </span>
			<table width="100%" style="border-radius:10px; background: #FFFFFF; margin-top:5px;">
			
			  <tr>
			  	  
			  <td align="left" style="padding-left:5px;" width="" class="FontSize"></td>
			  <td align="right" style="padding-right:5px;" width="100%">
			  <div class="btn-group" id="button" style=" display:inline;border-radius:100%; background-color:#ffffff;">
			  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
			  <ul class="dropdown-menu" style="color: #000000; z-index:20;right: 50%; ">
								  

															<?php if (CheckAuth::checkCredential(array('sendEmail'))){ ?>
																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' =>$row['customer']['customer_id'], 'type' => 'booking', 'reference_id' => $row['booking_id']), 'sendEmail')); ?>');">Send Email</a>
																</li>
															<?php }
															
															$onHold = $modelBookingStatus->getByStatusName('ON HOLD');
															if ($row['booking']['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential(array(
																		'sendBookingAsEmail'))) {
																?>

																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder On Hold</a>
																</li>

																		<?php }
															$tentative = $modelBookingStatus->getByStatusName('TENTATIVE');
															if ($row['booking']['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential(array(
																		'sendBookingAsEmail'))) {
																?>

																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder Tentative</a>
																</li>

																		<?php }
																		
																		if (CheckAuth::checkCredential(array('sendBookingAsEmail'))){ ?>
																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmail')); ?>');">Email Booking</a>
																</li>
																		<?php }

																		if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))){ 
																		
																		$customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($row['booking_id'], $row['booking']['status_id']); 
																		if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1){ ?>
																	<li >   
																		<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Request Feedback','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendRequestBookingFeedback')) ?>');" class="details_info_opt" >Request Feedback</a>
																	</li>
																		<?php } } ?>
																		
																		<?php 
																		if(isset($row['booking']['original_inquiry_id']) && $row['booking']['original_inquiry_id']!=null){
																		if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
																			<li>
																		 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Advertising Email','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Inquiry</a>
																		 </li>
																		<?php    }}
																		 
																		if (isset($estimate['id']) && $estimate['id']!=null) {
																			if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
																			<li class="email">
																				<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
																			</li>
																		<?php } }?>
																	
																	<?php 
																	if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){  ?>
																				<li>
																				<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $row['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
																				</li>
																	<?php } ?>
																	
																	<?php 
																	if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
																					<li>
																					<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Statement Email','<?php echo $this->url(array('id' => $row['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
																					</li>
																	<?php } ?>
																			
																		

														</ul>
			  </a>
			  </div>
			  <div class="btn-group" id="button" style=" display:inline;border-radius:100%; background-color:#ffffff;">
			  <a href="#"  data-toggle="modal" data-target="#popupi" onclick="popupi('Invoice Discussion', '<?php echo $this->escape($this->url(array('id' => $row['id'], 'process' => 'send', 'type' => 'invoice'), 'itemDiscussion')); ?>');">
			   <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
                </span>
			   </a>
			   </div>
			   <div class="btn-group" id="button" style=" display:inline;border-radius:100%; background-color:#ffffff;">
			  <a href="#"  data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom" data-content="Mobile: <?=$secondaryContact['mobile1']?> <br \>Work: <?=$secondaryContact['phone1']?>">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
			  </div>
			  </td>
			  </tr>
			  </table>
			  </div>
			<?php	  
			  }
			  }
			  ?>
			  <!-- END SECONDARY CONTACTS -->
			  
</div>	
		   
		   <!-- end customer box -->
		   
		   <!------------------START CONTRACTOR  BOX --------------------------->
 <?php 
$classScroll = '';
$minDivHeight = 'minDivHeight';
if (count($row['contractors']) > 1)
{
$classScroll = 'scroll';
$minDivHeight = '';	
}
else 
{ $classScroll = '';
$minDivHeight = 'minDivHeight';
}	
?>
  <div id="contractor_<?=$row['booking_id']?>_<?=$row['booking_id']?>" value="1" class="col-sm-3 minDivHeight <?=$classScroll?>" width="100%" style=" padding:5px;margin:0px; border:0px; border-width:0px;">
 
  <?php foreach ($row['contractors'] as $contractor_id => $contractor_name){ ?>
    <?php 
	$mm = $this->escape($contractor_name);
	$contractor = (explode('-', $mm, 2));
	 $modelBooking = new Model_Booking();
     $modelContractorServiceBooking = new Model_ContractorServiceBooking();
	 $contractorServices = $modelContractorServiceBooking->getByBookingIdAndContractorId($row['booking_id'], $contractor_id);
	if($contractor[0] == "Enquiries ")
	{
		 ////////////// if there is no contractors //////////////////////////////////////////////
		 
		?>
		
		
				 
				
			<div class="minDivHeight" style="background-color:#ffffff; border-radius: 10px; padding:5px; padding-bottom: 45px; position: relative;">
		<div>		
		    <table width="100%" style=" margin: auto;" valign="top">
			<tr>
			<td colspan="3" style="padding-top:5px; padding-bottom:10px;" class="FontSize"><strong>SERVICES</strong></td>
			</tr>
			<tr>
			<td colspan="3" valign="top">
			<table class="FontSize">
						<?php 
						
						foreach($contractorServices as $service){
							
							$bookingServicesIds[$service['service_id']]=$service['service_id'];
			$serviceModule = new Model_Services();
				$serviceName = $serviceModule->getById($service['service_id']);
			?>
			<tr>
			
			<td colspan="3" valign="top">
			<?php 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Accept Admin service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                            class="details_info_opt"  style="color:#939292;"><span class="glyphicon glyphicon-star" style="color:#939292;"></span> <?=$serviceName['service_name']?> </a>  
			<?php 
			}
			else 
			{ ?>
				<a href="#"  style="color:#939292;"><span class="glyphicon glyphicon-star" style="color:#939292;"></span> <?=$serviceName['service_name']?> </a> 
			<?php } ?>
							
				</td>
			</tr>
			<?php
			}
			?>
			</table>
			</td>
			</tr>
			</table>
			</div>
			<div align="right" style="position: absolute; bottom: 0;width: 100%;float:right; text-align:right; height:45px; z-index:10; margin-bottom:0px; padding-right:10px; left:0">
			<table width="100%" style="margin-left:5px;margin-right:5px;"> 
			<tr>
			<td width="50%" align="left">
			 <?php
                           $nearestBookingParams = array();
                                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking']['booking_start'])));
                                            $nearestBookingParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                            $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                            $nearestBookingParams = implode("&", $nearestBookingParams);
                            ?>
			<button class="btn btn-primary create-btn btn-xs avialabilty_nearest"  href="#" data-toggle="modal" data-target="#fn_nearest" style="background-color:#00B0D8;"
                                    onclick="fn_popupi_with_parm('Nearest Booking', '<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>', '<?php echo $this->escape($nearestBookingParams) ?>');">
									<span class="glyphicon glyphicon-map-marker ShowButtonIcon " style="margin-right:5px;"></span>Nearest Booking</button>
									
		</td>
		<td width="50%" align="right">
			 <?php
                           
                                            $findAvailabilityParams = array();
                                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                            $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                            $findAvailabilityParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                            foreach ($contractorServices as $service) {
                                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                            }
                                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                            ?>
							<button  class="btn btn-primary create-btn btn-xs avialabilty_nearest" style="background-color:#00B0D8;"  href="#" data-toggle="modal" data-target="#fn_nearest" onclick="fn_popupi_with_parm('Find Availability', '<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>', '<?php echo $this->escape($findAvailabilityParams) ?>');">
							<i class="fa fa-calendar ShowButtonIcon" style="margin-right:3px;"></i> Find Availability</button>
			
			</td>
			  </tr>
			  </table>
			</div>
			</div>
	<?php	
	}
	?>
	
	
	<?php if ($contractor[0] != "Enquiries ") { ?>
 	<div width="100%" class="tech <?=$minDivHeight?>" style=" vertical-align: middle; position: relative;padding:5px; padding-bottom:40px; height:100%; margin-bottom:3px;">
			<div width="100%" >
			<table width="100%" >
			<tr>
			<td colspan="2" valign="center">
	                                  <?php
                                   
                                    $contractor_pic = new Model_User();
									$contractor_infoo = $contractor_pic->getById($contractor_id);
									$display_name='';
								   if(isset($contractor_infoo['display_name']) && !empty($contractor_infoo['display_name'])){
									   $display_name = $contractor_infoo['display_name'];
								   }
								   else
								   {
									   $display_name = $contractor_infoo['username'];
								   }
                                    ?>
                                        <div>
                                            <!-- booking-box-header -->
                                            <div>
											<table width="100%">
											<tr>
											<td align="left">
											<table>
												<tr>
												
												<td colspan="2" valign="top" class="FontSize" >
												   <strong><span class="glyphicon glyphicon-user" style="color:#48bc5a;"></span>
												<?php
																						
																						?>
												<?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))): ?>
																							<a href="<?php if (CheckAuth::getRoleName() == 'contractor') {
														echo $this->escape($this->url(array(), 'myAccount'));
													} else {
														echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList'));
													} ?>">
																							<span style="color:#48bc5a;"><?php echo $display_name; ?></span> </a>
																							<?php else: ?>
																						   
																							<span style="color:#48bc5a;"><?php echo $display_name;?></span>
																					<?php	endif; ?> </strong>
													</td>
												</tr>
												
												<?php
													
															?>
															
												<tr>
												<td style="color:#48bc5a; font-size:10px;" colspan="2" valign="top">  
												<span style="font-size:10px; font-weight:normal;">
																						<?php
																						$prevContractor = 0;
																						foreach ($contractorServices as $key => $service):

																							if ($service['contractor_id'] == $contractor_id):
																								if (!($prevContractor == $contractor_id)):

																									echo '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id'], 'contractor_id' => $contractor_id), 'contractorBookingLocation')) . '">(' . number_format($service['distance'], 2) . ' KM Away) <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>';
																								endif;
																								$prevContractor = $contractor_id;
																							endif;
																						endforeach;
																						?> 	
																					   </span>
												   </td>
												</tr>
												</table>
                                                </td>
												<td align="right">
												<span>	
                                                                <?php
                                                                
																$dir = get_config('user_picture_path').$contractor_infoo['avatar'];
								                                $dir_default_pic = get_config('user_default_picture_path');

                                                                if (isset($contractor_infoo['avatar']) && !empty($contractor_infoo['avatar'])):
                                                                    echo '<img class="img-circle ImgDimension" src="'.$this->baseUrl($dir). '"/>';
                                                                else:
                                                                    echo'<img src="'.$this->baseUrl($dir_default_pic). '" class="img-circle ImgDimension">';
                                                                endif;
                                                                ?>

                                                            </span>
												</td>
												</tr>
                                            </div>
                                            <table border="0" style="padding-top:10px;">
                                                <tbody>
            <?php foreach ($contractorServices as $key => $service){
			
			if($service['is_accepted']){
					$glycon="glyphicon-ok-sign";
					$glyconColor="#0CB225";
				}
				else if($service['is_rejected']){
					$glycon="glyphicon-remove-sign";
					$glyconColor="#EC1302";
				}
				else{
					$glycon="glyphicon-question-sign";
					$glyconColor="#6919B2";
				}
				
			?>

			
                <?php if ($service['contractor_id'] == $contractor_id): ?>	


                                                            <tr>
                                                                <td  >

                                                                   

                    <?php if ($service['is_accepted']): ?>
                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
                            ?>
                                                                                <a href="#" data-toggle="modal" data-target="#popupi"
                                                                                   onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
                                                                                   class="" style="color:#858585;"><i class="fa fa-check-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?>
                                                                                </a>
                                                                            <?php else: ?>
                                                                               <i class="fa fa-check-circle" aria-hidden="true" ></i> &nbsp <?=$service['service_name']?>
                        <?php endif; ?>

                    <?php elseif ($service['is_rejected']): ?>
                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                                                                <a href="#" data-toggle="modal" data-target="#popupi"
                                                                                   onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                                                                                   class="details_info_opt" style="color:#858585;">
																				   <i class="fa fa-times-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
																				   </a>
                                                                                 <?php else: ?>
                                                                                <i class="fa fa-times-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
                        <?php endif; ?>
                    <?php else: ?>
                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                                                                <a href="#" data-toggle="modal" data-target="#popupi"
                                                                                   onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                                                                                   class="details_info_opt" style="color:#858585;">
																				   <i class="fa fa-question-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
							
                                                                                </a>
                                                                                 <?php else: ?>
                                                                                <i class="fa fa-question-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
							
                        <?php endif; ?>
                    <?php endif; ?>

                                                                </td>


                                                            </tr>
                                            <?php endif; ?>
			              <?php } ?>
                                                </tbody>

                                            </table>
                                        </div>

                                     
			</td>
            </tr>
            </table>			
			</div>
			<!--------- the box of confirmation --------------------->
			<div height="40" valign="middle" align="center" width="100%"  style="position: absolute; bottom: 0;width: 100%; height:40px;  margin:0px; margin-bottom:3px;" >
			  <table width="100%" height="100%" >
			  <tr>
			 <td width="100%" align="right" style="padding-right:10px;">
			 <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
			<a  data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
			  <span  onclick="removeScroll(<?=$row['booking_id']?>,<?=$contractor_id?>)" class="fa-stack fa-lg IconSize" style="margin:0px; padding:0px;  z-index:1;">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;margin:0px; padding:0px;" ></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
			  
                            <!--  right: 50%; left: auto; top:auto; bottom:100% --> 
                                <ul class="dropdown-menu dropup" style="color: #000000; z-index:20; right: 50%; ">
                                     <?php if (CheckAuth::checkCredential(array('sendBookingAsEmailToContractor'))){ ?>
                                        <li class="email">
                                            <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmailToContractor')); ?>')">Email Booking</a>
                                        </li>

                                    <?php } ?>
									<?php 
												if($row['booking']['original_inquiry_id']!=null){
												if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
													<li>
                                                 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Enquiry','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Enquiry</a>
												 </li>
												<?php    }}
											
											if (isset($estimate['id']) && $estimate['id']!=null) {
													if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
													<li class="email">
														<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
													</li>
													<?php }}?>
									<?php 
											if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){?>
														<li>
														<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $row['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
														</li>
											<?php }
											?>
											
											<?php 
											if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
															<li>
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Statement','<?php echo $this->url(array('id' => $row['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
															</li>
											<?php } ?>
													
													
													
                                </ul>
							  
							  
                           </a>
			  </div>
			  <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
			   <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'contractorDiscussion')); ?>');">
			   <span class="fa-stack fa-lg IconSize" style="margin:0px; padding:0px;">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;margin:0px; padding:0px;"></i>
				  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
                </span></a>
				</div>
				<div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
			  <a  data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Mobile: <?=$contractor_infoo['mobile1']?> <br \>Work: <?=$contractor_infoo['phone1']?>">
			  <span class="fa-stack fa-lg IconSize" style="margin:0px; padding:0px;">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;margin:0px; padding:0px;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
			  </div>
			  </td>
			  </tr>

			  </table>
			</div>
			<!--------- end of confirmation---------------->
			
			</div>
			<?php if ($contractor_id != 1) {
																	$contractor = $modelUser->getById($contractor_id);
																	$distance = $modelBookingAddress->getDistanceByTwoAddress($contractor, $bookingAddress);
																	$lineAddressArray = array(
																							'unit_lot_number' => $contractor['unit_lot_number'],
																							'street_number' => $contractor['street_number'],
																							'street_address' => $contractor['street_address'],
																							'suburb' => $contractor['suburb'],
																							'state' => $contractor['state'],
																							'postcode' => $contractor['postcode']
																						);
																			$contractorAddress = get_line_address($lineAddressArray);
																			$html = '<br \><b>Contractor: </b> '.$contractor['username'].'<br \><b>Distance: </b> '.number_format($distance,2).' KM';
																	?>
																	<div id="contractor_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" class="AvailablecontractorDiv_<?=$row['booking_id']?>" value="<?=$contractor['user_id']?>"></div>
																	<div id="contractorAddress_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$contractorAddress?>"></div>
																	<div id="contractorDistance_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" value="<?=number_format($distance,2).' KM'?>"></div>
																	<div id="contractorName_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$contractor['username']?>"></div>
																	<div id="contractorHtml_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$html?>"></div>
						
																	
																	
																	<?php
																}
          } ?>
           <?php } ?>  
	</div>
		   
		   <!-- end contractor box -->
		
		   <!-- start map box -->
		   <?php 
		   $booking_address = get_line_address($bookingAddress);
		   ?>
		   <div class="col-sm-3"  style="border-radius: 10px; margin:0px; padding:5px; height:170px;">
			<div align="left" style="float:left; border-radius: 5px; z-index: 2;  background-color:#ffffff; position: absolute; top:0px; height:20px; vertical-align: middle; margin-top:10px; margin-left:10px; padding:3px;">
			<span class="glyphicon glyphicon-map-marker"></span> &nbsp <?=$booking_address?> &nbsp </div>
			<div id="map_<?=$row['booking_id']?>" style="width:100%; height:160px; border-radius: 10px;"></div>
			
			</div>
			<div id="mapID_<?=$row['booking_id']?>" class="map1" value="<?=$row['booking_id']?>"></div>
			<div id="bookingAddress_<?=$row['booking_id']?>" value="<?=$booking_address?>"></div>
			
			<div id="isDrawn_<?=$row['booking_id']?>" value="0"></div>
		   <!-- end map box -->
		   
				</div>  <!-- end main div -->
            <?php } // end main foreach ?>
</div>
<div style="width:100%; text-align:center;" ><a id="seeMore" class="btn btn-primary m-t" onclick="seeMore();">See More</a> </div>
        <?php } // end main if ?> 
<?php if (!isset($this->data) && empty($this->data)) { ?>

<h3 class="font-bold">There are no <?php echo $this->escape((!empty($this->filters['invoice_type']) ? ucfirst($this->filters['invoice_type']) : 'All')); ?> Invoices.
                </h3>
                <?php if (CheckAuth::checkCredential(array('invoices'))){ ?>
                    <div> <br>
                        <a class="btn btn-primary m-t" href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>">View all Invoices</a> </div>	
                <?php } ?>

<?php } ?>
      