<form id="form_edit_invoice_number" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="edit_invoice_number('<?php echo $this->escape($this->form->getAction()); ?>');return false;">
    <div class="success_message" id="success_message" style="font-size:14px;" ></div>
	<div id="editForm">
		<div class="form-group">
            <label class="col-md-4" valign="top">Invoice Number:</label>
            <div class="col-md-8"><?php echo ($this->form->getElement('invoice_number')->render()); ?></div>
    </div>
          
            <div class="form-group">
			<div class="col-md-8 col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
    </div>
    
</form>


<script type="text/javascript">
$( document ).ready(function() {
    console.log( "ready!" );
	$("#invoice_number").keyup(function(){
		$.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(), 'checkDuplicateInvoice')); ?>',
            data: $('#form_edit_invoice_number').serialize(),
            dataType : "json",
            success: function(data) {
				console.log(data.is_duplicate);
				console.log(data.invoice_number);
				console.log('islam');
				if(data.is_duplicate){
					$('#duplicate_message').html('This invoice number already exists in the system, you can not have duplicate invoice numbers.' 
+'</br>Please enter a different invoice number.');
				}
				else{
					$('#duplicate_message').html('');
				}
				
            }
            
        });
	})
});
function edit_invoice_number(url){
       
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form_edit_invoice_number').serialize(),
            dataType : "json",
            success: function(data) {
				$('#booking_invoice_id_'+data.invoiceId).html(data.invoice_number);
				document.querySelector('#success_message').innerHTML = "Your invoice has been updated to "+data.invoice_number;
					$('#form_edit_invoice_number #editForm').remove();
					location.reload(true);
					
            }
            
        });
    }
</script>