
<h4>
    Keywords
</h4>

<table class="table">
    <tbody id="keywords_box">
        <?php
        foreach ($this->keywords as $key => $keyword) {
            echo '<tr><td>' . $keyword['keyword'] . '</td><td><a href="javascript;" onclick="deleteKeyword(this , \'' . $keyword['id'] . '\');return false;"><i class="fa fa-times" aria-hidden="true"></i></a></td></tr>';
        }
        ?>
    </tbody>
</table>


<form method="POST" action="" class="form-horizontal" id="form" onsubmit="saveKeyword('<?php echo $this->escape($this->url(array(), 'ignoredKeywords')) ?>', 'form');return false;">
    <div class="form-group">
        <lable class="col-md-3">Keyword</lable>
        <div class="col-md-8">
            <input type="text" name="keyword" id="keyword" class="form-control"/>
        </div>
    </div>
    <div class="" id="button_cont">
        <input type="submit" value="Send" class="btn btn-primary"/>
    </div>
</form>
<script>
    function saveKeyword(url, form) {
        $('#button_cont').html('<img src="/pic/loading-4.gif"');
        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize(),
            dataType: 'json',
            success: function (msg) {
                if (msg.status == 1) {
                    $('#button_cont').html('<input type="submit" value="Send" class="btn btn-primary"/>');
                    $('#keywords_box').append("<tr><td>" + msg.data.keyword + "</td><td><a href='javascript;' onclick='deleteKeyword(this,\"" + msg.data.id + "\");return false;'><i class='fa fa-times' aria-hidden='true'></i></a></td></tr>");
                    $("#keyword").val("");

                }
            }
        });
    }
    function deleteKeyword(that, keyword_id) {
        if (confirm('are you sure you want to delete this keyword?')) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'ignoredKeywords')); ?>',
                data: {keyword_id: keyword_id},
                dataType: 'json',
                success: function (result) {
                    $(that).parents('tr').remove();
                }
            });
        }
    }
</script>