<form method="POST" class="form-horizontal"  id="discussion_form" onsubmit="sendDiscussion();return false;" enctype="multipart/form-data">
    <div class="form-group">
        <label class="col-md-4">Import Bank Payments</label>
        <div class="col-md-8">
    <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
        <div class="dz-message"></div>
    </div>
        </div>
    </div>

    <div class="form-group"  id="button_cont">
        <div class="col-lg-9">
            <input type="submit" value="send" class="btn btn-primary" id="save_btn" style="display:block"/>
            <img src="/pic/loading-4.gif" style="display:none" id="loading_img">
        </div>
    </div>
</form>

<script type="text/javascript">
    function sendDiscussion() {
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'importBankPayments')); ?>",
            data: $('#discussion_form').serialize(),
            success: function (msg) {
                if (msg == 1) {
                    window.location.reload()
                } else {
                    $('#discussion').html(msg);
                }
            }
        });
    }


    var postMaxSize = '<?php echo str_replace('M', '', ini_get('post_max_size')); ?>';
    var totalSizes = 0;
    var photoDropzone = new Dropzone("#discussion_form", {
        url: '<?php echo $this->escape($this->url(array(), 'importBankPayments')); ?>',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 100,
        maxFilesize: 10,
        acceptedFiles: "",
        previewsContainer: '#dropzonePreview',
        clickable: '#dropzonePreview',
        addRemoveLinks: true,
        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            var submitButton = document.querySelector('input[type=submit]');
            
            myDropzone = this; // closure		
            submitButton.addEventListener("click", function (e) {

                e.preventDefault();
                e.stopPropagation();
                if (myDropzone.getQueuedFiles().length === 0) {
                    sendDiscussion();
                } else {
                    
                    $('#loading_img').show();
                    $('#save_btn').hide();
                    myDropzone.processQueue();
                }
            });

            this.on("successmultiple", function (files, response) {
                if (response == 1) {
                    window.location.reload();
                } else {
                    $('#content_modal_popup').html(response);
                }

            });
            this.on("errormultiple", function (files, response) {
                $('#loading_img').hide();
                $('#save_btn').show();
            });

            this.on("addedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes + MegaSize;
                if (totalSizes > postMaxSize) {
                    this.removeFile(file);
                    alert('Total files size is too big , Max total file size (30M)');
                }

            });

            this.on("removedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes - MegaSize;
                console.log(totalSizes);
            });
        }
    });
</script>