
<div class="ibox float-e-margins no-margin-b">
		<div class="row wrapper border-bottom white-bg">
				
				<div class="col-md-4">
					<h3><?php echo $this->escape((!empty($this->filters['invoice_type']) ? ucfirst($this->filters['invoice_type']) : 'All')); ?> Invoices</h3>
				
						<ol class="breadcrumb">
							<?php
							function breadcrumbs($separator = '', $home = 'Home') {

								$path = array_filter(explode('/', parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH)));
								$base_url = substr($_SERVER['SERVER_PROTOCOL'], 0, strpos($_SERVER['SERVER_PROTOCOL'], '/')) . '://' . $_SERVER['HTTP_HOST'] . '/';
								$breadcrumbs = array("<li><a href=\"$base_url\">$home</a></li>");
								$tmp = array_keys($path);
								$last = end($tmp);
								unset($tmp);

								foreach ($path as $x => $crumb) {
									$title = ucwords(str_replace(array('.php', '_'), array('', ' '), $crumb));
								if ($x == 1){
										
										$breadcrumbs[]  = "<li><a href=\"$base_url$crumb\">$title</a></li>";
										$breadcrumbs[]  = '<li class="active"><strong>Invoices list</strong></li>';
								}
								}

								return implode($separator, $breadcrumbs);
							}	
							echo breadcrumbs();

							?>
							
					</ol>
				
				
				
				
				
				</div>
				<div class="col-md-8">
							
						
						   <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                              <ul class="inline-list float-lg-r" style="margin-right:4px;">
									 <li><?php echo FilterLink::generate_link('ِAll', array('fltr' => array('invoice_type' => 'all')), empty($this->filters['invoice_type']) || $this->filters['invoice_type'] == 'all', true); ?>
									 </li> |
									 <li><?php echo FilterLink::generate_link('Draft', array('fltr' => array('invoice_type' => 'draft')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'draft'); ?>
									 </li>|
									 <li><?php echo FilterLink::generate_link('Open', array('fltr' => array('invoice_type' => 'open')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'open'); ?>
									 </li> |
									  <li><?php echo FilterLink::generate_link('Unpaid', array('fltr' => array('invoice_type' => 'unpaid')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'unpaid'); ?>
									  </li>|
									  <li><?php echo FilterLink::generate_link('Overdue', array('fltr' => array('invoice_type' => 'overdue')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'overdue'); ?>
									  </li>|
									  <li><?php echo FilterLink::generate_link('Closed', array('fltr' => array('invoice_type' => 'closed')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'closed'); ?>
									  </li>|
									 <li> <?php echo FilterLink::generate_link('Void', array('fltr' => array('invoice_type' => 'void')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'void'); ?>
									  </li>|
									  <?php echo FilterLink::generate_link('Unpaid <span style="color: black;">(Ignore Approval)</span>', array('fltr' => array('not_paid' => true, 'invoice_type' => 'all')), isset($this->filters['not_paid']) && $this->filters['not_paid'] == true); ?>
			  
									<?php if (CheckAuth::checkCredential(array('invoiceFilterLabel'))): ?>
										<a  class="btn btn-white" href="#" data-toggle="modal" data-target="#popupi" id="label_filter"  onclick="popupi('Filter by label','<?php echo $this->escape($this->url(array(), 'filterInvoiceLabel')); ?>')"
										>Filter By Label(s)</a>
									<?php endif; ?>
							   </ul>
					 <?php endif; ?>	
              	
				</div>
		</div>
		<div class="row">
				<div class="wrapper wrapper-content">
				
				
				
				
<div class="ibox float-e-margins no-margin-b">

<div class="ibox-content" id="invoice_data">
		 <div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>	
        </div>
</div>
							
                </div>
			</div>
		</div>


     
    

<script type="text/javascript">
    
	var filters = <?php echo json_encode($this->filters); ?>;
	var page_number = 0;
	var loading = false;
	var is_last_request = 0; 
    function doSubmit(url){
        $('#form').attr("action", url);
        $('#form').submit();
    }
	
	function getData(filters ,page_number, is_first_time){
      if (typeof(is_first_time)==='undefined') is_first_time = 0;
	  if(is_first_time == 0 && !($('#loading_img').length > 0)){$('#form').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');}
	  $.ajax({
            type: "POST",
			dataType: "JSON",
            data: {'fltr': filters , 'is_first_time':is_first_time , 'page_number': page_number},
            url: "<?php echo $this->url(array(), 'invoices'); ?>",
            success: function (result) {
			  is_last_request = result.is_last_request;
			  if(is_first_time == 1){
			   $('#invoice_data').html(result.data);
			  }else{
			   $("#result").append(result.data);
			  }
			  
			  if(result.is_last_request == 0){
			    $('#invoice_data').append('<div class="row"><div class="col-md-6 col-md-offset-5"><a class="btn btn-primary" href="javascript:;" id="load_more"> Load More  </a></div></div>');
			   }
			   
			  $('#loading_img').remove();
			  loading = false;
			  console.log(loading);
			  
			}
		});
   
   }
	
	
	// loading invoice data
	$(document).ready(function () {
	 getData(filters,page_number, 1);
	   $('#invoice_data').on('click','#load_more',function(){    
				 $(this).remove();
				  if (loading == false && is_last_request == 0) {
							loading = true;
							page_number++;
							getData(filters,page_number);
						}
			   
			});
			
		$(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {       $('#load_more').remove();
                   if(loading == false && is_last_request == 0){
					  loading = true;
                      page_number++;					  
					  getData(filters,page_number);
                    }
            }
    });
  });


</script>