<?php
$MAP_OBJECT_Booking = new GoogleMapAPI();
echo $MAP_OBJECT_Booking->getHeaderJS(); 
echo $MAP_OBJECT_Booking->getMapJS(); 

?>
<div class="ibox float-e-margins no-margin-b">
    <div class="row wrapper border-bottom white-bg">
        <div class="col-md-4">
            <h3><?php echo $this->escape((!empty($this->filters['invoice_type']) ? ucfirst($this->filters['invoice_type']) : 'All')); ?> Invoices</h3>

            <ol class="breadcrumb">
                <?php

                function breadcrumbs($separator = '', $home = 'Home') {

                    $path = array_filter(explode('/', parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH)));
                    $base_url = substr($_SERVER['SERVER_PROTOCOL'], 0, strpos($_SERVER['SERVER_PROTOCOL'], '/')) . '://' . $_SERVER['HTTP_HOST'] . '/';
                    $breadcrumbs = array("<li><a href=\"$base_url\">$home</a></li>");
                    $tmp = array_keys($path);
                    $last = end($tmp);
                    unset($tmp);

                    foreach ($path as $x => $crumb) {
                        $title = ucwords(str_replace(array('.php', '_'), array('', ' '), $crumb));
                        if ($x == 1) {

                            $breadcrumbs[] = "<li><a href=\"$base_url$crumb\">$title</a></li>";
                            $breadcrumbs[] = '<li class="active"><strong>Invoices list</strong></li>';
                        }
                    }

                    return implode($separator, $breadcrumbs);
                }

                echo breadcrumbs();
                ?>

            </ol>





        </div>
        <div class="col-md-8">							
            <div class="col-lg-12">
<?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                    <ul class="inline-list float-lg-r" style="margin-right:4px;">
                        <li class="main_link"><?php echo FilterLink::generate_link('All', array('fltr' => array('invoice_type' => 'all'), 'page_name' => 'All'), empty($this->filters['invoice_type']) || $this->filters['invoice_type'] == 'all', true) ?>
                        </li> |
                        <li class="main_link"><?php echo FilterLink::generate_link('Draft', array('fltr' => array('invoice_type' => 'draft'), 'page_name' => 'Draft'), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'draft'); ?>
                        </li>|
                        <li class="main_link"><?php echo FilterLink::generate_link('open', array('fltr' => array('invoice_type' => 'open'), 'page_name' => 'Open'), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'open'); ?>
                        </li> |
                        <li class="main_link"><?php echo FilterLink::generate_link('Unpaid', array('fltr' => array('invoice_type' => 'unpaid'), 'page_name' => 'Unpaid'), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'unpaid'); ?>
                        </li>|
                        <li class="main_link"><?php echo FilterLink::generate_link('Overdue', array('fltr' => array('invoice_type' => 'overdue'), 'page_name' => 'Overdue'), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'overdue'); ?>
                        </li>|
                        <li class="main_link"><?php echo FilterLink::generate_link('Closed', array('fltr' => array('invoice_type' => 'closed'), 'page_name' => 'Closed'), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'closed'); ?>
                        </li>|
                        <li class="main_link"> <?php echo FilterLink::generate_link('Void', array('fltr' => array('invoice_type' => 'void'), 'page_name' => 'Void'), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'void'); ?>
                        </li>|
                        <li class="main_link">
    <?php echo FilterLink::generate_link('Unpaid <span style="color: black;">(Ignore Approval)</span>', array('fltr' => array('not_paid' => true, 'invoice_type' => 'all'), 'page_name' => 'Unpaid Ignore Approval'), isset($this->filters['not_paid']) && $this->filters['not_paid'] == true); ?>
                        </li>

    <?php if (CheckAuth::checkCredential(array('invoiceFilterLabel'))): ?>
                            <a  class="btn btn-white" href="#" data-toggle="modal" data-target="#popupi" id="label_filter"  onclick="popupi('Filter by label', '<?php echo $this->escape($this->url(array(), 'filterInvoiceLabel')); ?>')"
                                >Filter By Label(s)</a>
    <?php endif; ?>
                    </ul>
                </div>
                <!-- <ul> -->
                <div class="col-lg-12">
                    <ul class="inline-list float-lg-r">				   				
                        <li>										
                            <div class="form-group">
                                <?php
                                $user_name = '';
                                if (isset($this->filters['contractor_id'])) {
                                    $modelUser = new Model_User();
                                    $user = $modelUser->getById($this->filters['contractor_id']);
                                    $user_name = $user['username'];
                                }
                                ?>
                                <!-- <label>Filter By Technician</label> -->
                                <input type="text" style="width:230px;" name="technician_name" id="technician_name" value="<?= $user_name; ?>" class="form-control" placeholder="Filter By Technician">
                                <input type="hidden" name="contractor_id" id="contractor_id" value="<?= isset($this->filters['contractor_id']) ? $this->filters['contractor_id'] : ''; ?>"/>
                                <div style="height: 200px;overflow-y: auto;overflow-x:hidden;position: absolute;" id="technician_result"></div>
                            </div>
                        </li>
                        <!-- <li>
                                <a class="btn btn-white searchIcon" href="" id="contractorId_fltr" style="display: none;"><span class="fa fa-search"></span>
                                </a>
                        </li> -->
                    </ul>	
                </div>
<?php endif; ?>	

        </div>
    </div>
    <div class="row">
        <div class="wrapper wrapper-content" style="padding:0px; margin:0px; background-color:#F9F9F7;">				
            <div class="ibox float-e-margins no-margin-b" style="padding:0px; margin:0px; background-color:#F9F9F7;">
                <div class="ibox-content" id="invoice_data" style="padding:0px; margin:0px; background-color:#F9F9F7;">
                    <div class="row" style="display:block" id="loading_img">
                        <div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>	
                </div>
            </div>							
        </div>
    </div>
</div>




<script type="text/javascript">

    var filters_size = <?php echo sizeof($this->filters); ?>;
    var filters = <?php echo json_encode($this->filters); ?>;
    var page_number = 0;
    var loading = false;
    var is_last_request = 0;
    function doSubmit(url) {
        $('#form').attr("action", url);
        $('#form').submit();
    }

    function getData(filters, page_number, is_first_time) {
        if (typeof (is_first_time) === 'undefined')
            is_first_time = 0;
        if (is_first_time == 0 && !($('#loading_img').length > 0)) {
			$('#seeMore').remove();
            $('#result').append('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
        }
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {'fltr': filters, 'is_first_time': is_first_time, 'page_number': page_number},
            url: "<?php echo $this->url(array(), 'invoices'); ?>",
            success: function (result) {
                is_last_request = result.is_last_request;
                if (is_first_time == 1) {
                    $('#invoice_data').html(result.data);
                } else {
                    $("#result").append(result.data);
                }
				/////// ADDED BY RAND //////
				$.each($('.map1'), function (index, value) { 
				  id=$(this).attr('value');
				  isDrawn = $('#isDrawn_'+id).attr('value');
				  if(isDrawn == 0){
				  $('#isDrawn_'+id).attr('value',1);
				  invoiceAddress = $('#bookingAddress_'+id).attr('value');
				  var contractorsIds = [];
				  $.each($('.AvailablecontractorDiv_'+id), function (index, value) { 
		
			          contractorsIds[$(this).attr('value')]=$(this).attr('value');
				  });
				drawPositionFromAddress(invoiceAddress,id,contractorsIds); // draw the map
				  }
			  });
				/// END BY RAND /////// 

                $('#loading_img').remove();
                loading = false;
                console.log(loading);

            }
        });

    }

function drawPositionFromAddress(Address,id,contractorsIds){
		var maps =[];
				var myOptions=[];
				myOptions[id] = {
					zoom: 12,
					center: new google.maps.LatLng(-34.397, 150.644),
					draggable: false,
					scaleControl: true,
					zoomControl: true,
				    zoomControlOptions: {
					  position: google.maps.ControlPosition.LEFT_CENTER
				       },
					mapTypeId: google.maps.MapTypeId.MyMapApp
				}
				maps[id] = new google.maps.Map(document.getElementById("map_"+id), myOptions[id]);
			 var geocoder2 = new google.maps.Geocoder();
				         /// Add contractor on map
						 geocoder2.geocode( { 'address': Address}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
						  maps[id].setCenter(results[0].geometry.location);
						  console.log('this is booking lat and lon : '+results[0].geometry.location);
						var marker = new google.maps.Marker({
							map: maps[id],
							position: results[0].geometry.location
						});
						marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
					  }
								});
						  		
		if(contractorsIds != null){
		$.each(contractorsIds, function (index, value) {
			          ContractorId=value;
		if (ContractorId != null){
					    ContractorAddress = $('#contractorAddress_'+id+'_'+ContractorId).attr('value');
						contractorName = $('#contractorName_'+id+'_'+ContractorId).attr('value');
						ContractorDistance = $('#contractorDistance_'+id+'_'+ContractorId).attr('value');
						ContractorHtml = $('#contractorHtml_'+id+'_'+ContractorId).attr('value');
                          
						   drawContractorMarker(maps[id],ContractorAddress,contractorName,ContractorDistance,ContractorHtml);
								
	           	}
					  });
	      }
							
	}
	
function drawContractorMarker(map,conractorAddress,contractorName,Distance,ContractorHtml){

						  var geocoder2 = new google.maps.Geocoder();
						  if(conractorAddress!=null){
				         /// Add contractor on map
						 var infowindow = new google.maps.InfoWindow({
						  content: ContractorHtml
						});
						 geocoder2.geocode( { 'address': conractorAddress}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
						var marker = new google.maps.Marker({
							map: map,
							position: results[0].geometry.location
						});
						 marker.addListener('click', function() {
                             infowindow.open(map, marker);
                             });
					  }
								});
						  }
	}
	
    // loading invoice data
    $(document).ready(function () {
        getData(filters, page_number, 1);
        $(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {
                if (loading == false && is_last_request == 0) {
                    loading = true;
                    page_number++;
                    getData(filters, page_number);
                }
            }
        });
    });

    /***************IBM*/
    $(function () {
        $("#technician_name").keyup(function () {
            var query_value = $(this).val();
            var dataString = /*'search='+*/ query_value;
            if (query_value == '') {
                $(".main_link a").each(function () {
                    var _href = $(this).attr("href");
                    _href = _href.replace(/&?fltr%5Bcontractor_id%5D=([^&]$|[^&]*)/i, "")
                    $(this).attr("href", _href);
                });
            }
            if (query_value != '') {
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: "<?php echo $this->url(array(), 'invoiceByContractor'); ?>",
                    data: {'contractor_name': dataString},
                    cache: false,
                    success: function (data)
                    {
                        $("#technician_result").html('');
                        $.each(data, function (index, result) {
                            $("#technician_result").append('<div class="show"><span id="a" style="width:230px;" class="form-control s">' + result.username +
                                    '<span id="cont" style="display: none;">' + result.username + '</span>' +
                                    '<span id="cont_id" style="display: none;">' + result.user_id + '</span></span></div>');
                        });

                    }
                });
            }
            return false;
        });

        jQuery("#technician_result").on("click", function (e) {
            var $clicked = $(e.target);
            var $name = $clicked.find('#cont').html();
            var $id = $clicked.find('#cont_id').html();

            var decoded_name = $("<span>").html($name).html();
            var decoded_id = $("<span>").html($id).text();
            // console.log(decoded_id);

            $("#technician_name").val(decoded_name);
            $('#contractor_id').val(decoded_id);
            var filters = <?php echo json_encode($this->filters); ?>;
            console.log(filters_size);
            if (filters_size > 0) {
                var search_href = "?";
                delete filters['contractor_id'];
                filters['contractor_id'] = decoded_id;
                $.each(filters, function (index, filter) {
                    search_href = search_href + 'fltr[' + index + ']=' + filter + '&';
                });
                search_href = search_href.substring(0, search_href.length - 1);
            } else {
                search_href = "?fltr[contractor_id]=" + decoded_id;
            }

            location.href = search_href;
            $('#contractorId_fltr').attr('href', search_href);
            $(".main_link a").each(function () {
                var _href = $(this).attr("href");
                $(this).attr("href", _href + "&fltr[contractor_id]=" + decoded_id);
            });

        });

        jQuery(document).on("click", function (e) {
            var $clickeddd = $(e.target);
            console.log($clickeddd);
            if ($clickeddd.hasClass("form-control s")) {
                jQuery("#technician_result").fadeOut();
            }
            if ($clickeddd.hasClass("col-lg-12")) {

                console.log($("#technician_name").val());
                jQuery("#technician_result").fadeOut();
                $("#technician_name").val('');
            }
        });
        $('#technician_name').click(function () {
            jQuery("#technician_result").fadeIn();
        });
    });
    /*****************/
	function seeMore(){
	   $('#seeMore').remove();
	    if(loading == false){
					  loading = true;
                      page_number++;					  
					  getData(filters,page_number);
                    }
		
   }
</script>