<div class="ibox float-e-margins no-margin-b">
    <div class="row wrapper border-bottom white-bg">

        <div class="col-md-4">
            <h3><?php if (isset($this->filters['pending_payment']) && ($this->filters['pending_payment'] == 'true')) {
    echo 'Pending Payments';
} else {
    echo $this->escape((!empty($this->filters['invoice_type']) ? ucfirst($this->filters['invoice_type']) : 'All')) . ' Invoices';
} ?> </h3>

            <ol class="breadcrumb" style="font-size:13px;" >
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/invoices">Invoices</a>
                </li>
                <li class="active">
                    <strong><?php if (isset($this->filters['pending_payment']) && ($this->filters['pending_payment'] == 'true')) {
    echo 'Pending Payments';
} else {
    echo $this->escape((!empty($this->filters['invoice_type']) ? ucfirst($this->filters['invoice_type']) : 'All')) . ' Invoices';
} ?> </strong>
                </li>
            </ol>

            <?php
            if (my_ip()) {
                
            }
            ?>





        </div>
        <div class="col-md-8">							
            <div class="col-lg-12">
<?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                    <ul class="inline-list float-lg-r" style="margin-right:4px;">
                        <li class="main_link"><?php echo FilterLink::generate_link('All', array('fltr' => array('invoice_type' => 'all')), empty($this->filters['invoice_type']) || $this->filters['invoice_type'] == 'all', true) ?>
                        </li> |
                        <li class="main_link"><?php echo FilterLink::generate_link('Draft', array('fltr' => array('invoice_type' => 'draft')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'draft'); ?>
                        </li>|
                        <li class="main_link"><?php echo FilterLink::generate_link('Open', array('fltr' => array('invoice_type' => 'open')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'open'); ?>
                        </li> |
                        <li class="main_link"><?php echo FilterLink::generate_link('Unpaid', array('fltr' => array('invoice_type' => 'unpaid')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'unpaid'); ?>
                        </li>|
                        <li class="main_link"><?php echo FilterLink::generate_link('Overdue', array('fltr' => array('invoice_type' => 'overdue')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'overdue'); ?>
                        </li>|
                        <li class="main_link"><?php echo FilterLink::generate_link('Closed', array('fltr' => array('invoice_type' => 'closed')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'closed'); ?>
                        </li>|
                        <li class="main_link"> <?php echo FilterLink::generate_link('Void', array('fltr' => array('invoice_type' => 'void')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'void'); ?>
                        </li>|
                        <li class="main_link">
    <?php echo FilterLink::generate_link('Unpaid <span style="color: black;">(Ignore Approval)</span>', array('fltr' => array('not_paid' => true, 'invoice_type' => 'all')), isset($this->filters['not_paid']) && $this->filters['not_paid'] == true); ?>
                        </li>

    <?php if (CheckAuth::checkCredential(array('invoiceFilterLabel'))): ?>
                            <a  class="btn btn-white" href="#" data-toggle="modal" data-target="#popupi" id="label_filter"  onclick="popupi('Filter by label', '<?php echo $this->escape($this->url(array(), 'filterInvoiceLabel')); ?>')"
                                >Filter By Label(s)</a>
    <?php endif; ?>
                    </ul>
                </div>
                <!-- <ul> -->
                <div class="col-lg-12">
                    <ul class="inline-list float-lg-r">				   				
                        <li>										
                            <div class="form-group">
                                <?php
                                $user_name = '';
                                if (isset($this->filters['contractor_id'])) {
                                    $modelUser = new Model_User();
                                    $user = $modelUser->getById($this->filters['contractor_id']);
                                    $user_name = $user['username'];
                                }
                                ?>
                                <!-- <label>Filter By Technician</label> -->
                                <input type="text" style="width:230px;" name="technician_name" id="technician_name" value="<?= $user_name; ?>" class="form-control" placeholder="Filter By Technician">
                                <input type="hidden" name="contractor_id" id="contractor_id" value="<?= isset($this->filters['contractor_id']) ? $this->filters['contractor_id'] : ''; ?>"/>
                                <div style="height: 200px;overflow-y: auto;overflow-x:hidden;position: absolute;" id="technician_result"></div>
                            </div>
                        </li>
                        <!-- <li>
                                <a class="btn btn-white searchIcon" href="" id="contractorId_fltr" style="display: none;"><span class="fa fa-search"></span>
                                </a>
                        </li> -->
                    </ul>	
                </div>
<?php endif; ?>	

        </div>
    </div>
    <div class="row">
        <div class="wrapper wrapper-content">				
            <div class="ibox float-e-margins no-margin-b">
                <div class="ibox-content" id="invoice_data">
                    <div class="row" style="display:block" id="loading_img">
                        <div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>	
                </div>
            </div>							
        </div>
    </div>
</div>




<script type="text/javascript">

    var filters_size = <?php echo sizeof($this->filters); ?>;
    var filters = <?php echo json_encode($this->filters); ?>;
    var page_number = 0;
    var loading = false;
    var is_last_request = 0;
    function doSubmit(url) {
        $('#form').attr("action", url);
        $('#form').submit();
    }

    function getData(filters, page_number, is_first_time) {
        if (typeof (is_first_time) === 'undefined')
            is_first_time = 0;
        if (is_first_time == 0 && !($('#loading_img').length > 0)) {
            $('#form').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
        }
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {'fltr': filters, 'is_first_time': is_first_time, 'page_number': page_number},
            url: "<?php echo $this->url(array(), 'invoices'); ?>",
            success: function (result) {
                is_last_request = result.is_last_request;
                if (is_first_time == 1) {
                    $('#invoice_data').html(result.data);
                } else {
                    $("#result").append(result.data);
                }

                $('#loading_img').remove();
                loading = false;
                console.log(loading);

            }
        });

    }


    // loading invoice data
    $(document).ready(function () {
        getData(filters, page_number, 1);
        $(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {
                if (loading == false && is_last_request == 0) {
                    loading = true;
                    page_number++;
                    getData(filters, page_number);
                }
            }
        });
    });

    /***************IBM*/
    $(function () {
        $("#technician_name").keyup(function () {
            var query_value = $(this).val();
            var dataString = /*'search='+*/ query_value;
            if (query_value == '') {
                $(".main_link a").each(function () {
                    var _href = $(this).attr("href");
                    _href = _href.replace(/&?fltr%5Bcontractor_id%5D=([^&]$|[^&]*)/i, "")
                    $(this).attr("href", _href);
                });
            }
            if (query_value != '') {
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: "<?php echo $this->url(array(), 'invoiceByContractor'); ?>",
                    data: {'contractor_name': dataString},
                    cache: false,
                    success: function (data)
                    {
                        $("#technician_result").html('');
                        $.each(data, function (index, result) {
                            $("#technician_result").append('<div class="show"><span id="a" style="width:230px;" class="form-control s">' + result.username +
                                    '<span id="cont" style="display: none;">' + result.username + '</span>' +
                                    '<span id="cont_id" style="display: none;">' + result.user_id + '</span></span></div>');
                        });

                    }
                });
            }
            return false;
        });

        jQuery("#technician_result").on("click", function (e) {
            var $clicked = $(e.target);
            var $name = $clicked.find('#cont').html();
            var $id = $clicked.find('#cont_id').html();

            var decoded_name = $("<span>").html($name).html();
            var decoded_id = $("<span>").html($id).text();
            // console.log(decoded_id);

            $("#technician_name").val(decoded_name);
            $('#contractor_id').val(decoded_id);
            var filters = <?php echo json_encode($this->filters); ?>;
            console.log(filters_size);
            if (filters_size > 0) {
                var search_href = "?";
                delete filters['contractor_id'];
                filters['contractor_id'] = decoded_id;
                $.each(filters, function (index, filter) {
                    search_href = search_href + 'fltr[' + index + ']=' + filter + '&';
                });
                search_href = search_href.substring(0, search_href.length - 1);
            } else {
                search_href = "?fltr[contractor_id]=" + decoded_id;
            }

            location.href = search_href;
            $('#contractorId_fltr').attr('href', search_href);
            $(".main_link a").each(function () {
                var _href = $(this).attr("href");
                $(this).attr("href", _href + "&fltr[contractor_id]=" + decoded_id);
            });

        });

        jQuery(document).on("click", function (e) {
            var $clickeddd = $(e.target);
            console.log($clickeddd);
            if ($clickeddd.hasClass("form-control s")) {
                jQuery("#technician_result").fadeOut();
            }
            if ($clickeddd.hasClass("col-lg-12")) {

                console.log($("#technician_name").val());
                jQuery("#technician_result").fadeOut();
                $("#technician_name").val('');
            }
        });
        $('#technician_name').click(function () {
            jQuery("#technician_result").fadeIn();
        });
    });
</script>
