<?php
$modelServices = new Model_Services();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelUser = new Model_User();
$modelContractorInfo = new Model_ContractorInfo();
$modelContractorOwner = new Model_ContractorOwner();
$modelUserInfo = new Model_UserInfo();
$modelAuthRole = new Model_AuthRole();
$modelAttributeType = new Model_AttributeType();
$modelServiceAttributeValue = new Model_ServiceAttributeValue();
$modelAttributeListValue = new Model_AttributeListValue();
$modelCompanies = new Model_Companies();
$modelBank = new Model_Bank();
$modelCompanyInvoiceNote = new Model_CompanyInvoiceNote();

$companyId = CheckAuth::getCompanySession();
if(empty($companyId)){
    $companyId = $this->booking['company_id'];
}
$company = $modelCompanies->getById($companyId);
       
	   // 29/06/2015 D.A
		$trading_name_id='';
		$trading_name_logo='';  
		
		$modelBooking = new Model_Booking();
	    $booking = $modelBooking->getById($this->invoice['booking_id']);
		if(isset($booking['trading_name_id']) && $booking['trading_name_id'] != 0){
		     	$trading_name_id=$booking['trading_name_id'];
		}else{
			    $modelTradingName = new Model_TradingName();
                $trading_Name = $modelTradingName->getDefualtTradingName($companyId);
				$trading_name_id=$trading_Name['trading_name_id'];
		}
						   
        $modelTradingName = new Model_TradingName();
        $tradingName = $modelTradingName->getById($trading_name_id);
        
		
        $modelEmailTemplate = new Model_EmailTemplate();
        $template = $modelEmailTemplate->getByName('send_invoice_as_email');
       
	    $trading_name_folder= str_ireplace(" ","_", $tradingName['trading_name']);		
				  
        $trading_namesImagesobj = new Model_TradingNameImages();
        $trading_namesImages = $trading_namesImagesobj->getByTradingnameIdandTemplateId($trading_name_id,$template['id']);
                   
        if($trading_namesImages){           
                $trading_name_logo= $trading_namesImages[0]['trading_name_img'];                          
        }

?>
<div style="background-color: white; font-family: arial; font-size: 12px;">

    <div align="center">
       <?php if (!empty($trading_name_logo)) : ?>
            <?php if (file_exists(get_config('trading_names') . '/' . $trading_name_folder.'/'.$template['name'] . '/' . $trading_name_logo)): ?>
                <img src="<?php echo 'http://cm.tilecleaners.com.au/uploads/trading_names_img/' . $trading_name_folder.'/'.$template['name'] . '/' . $trading_name_logo; ?>" border="0"/>
            <?php else : ?>
                <img src="<?php echo $this->escape($this->baseUrl('/pic/tile_logo.png')); ?>" border="0"/>
            <?php endif; ?>
        <?php else : ?>
            <img src="<?php echo $this->escape($this->baseUrl('/pic/tile_logo.png')); ?>" border="0"/>
        <?php endif; ?>
		</div>
    <div style="text-align: center; font-weight: bold;">
        <?php echo (!empty($tradingName['website_url']) ? $this->escape($tradingName['website_url']) : 'Trading name Website') ?>
        |
        <?php echo (!empty($tradingName['trading_name']) ? $this->escape($tradingName['trading_name']) : 'Trading Name') ?>
        | 
        ABN:<?php echo (!empty($company['company_abn']) ? $this->escape($company['company_abn']) : 'Company ABN') ?>
    </div>
    <div style="text-align: center; margin-top: 5px;">
        Phone: <?php echo (!empty($tradingName['phone']) ? $this->escape($tradingName['phone']) : 'Trading name Phone') ?> (Sales & Equiries) 
        | 
        Email: <?php echo (!empty($tradingName['email']) ? $this->escape($tradingName['email']) : 'Trading name Email') ?>
    </div>

    <div style="margin-top: 20px;">
        <b>Tax Invoice No.: <?php echo $this->escape($this->invoice['invoice_num']) ?></b>
    </div>

    <?php
    //get booking address
    $modelBookingAddress = new Model_BookingAddress();
    $bookingAddress = $modelBookingAddress->getByBookingId($this->invoice['booking_id']);
    $lineBookingAddress = get_line_address($bookingAddress);
    $lineCustomerAddress = get_line_address($this->customer);
    $businessName = $this->customer['customer_commercial_info']['business_name'];
    ?>
    <table border="1" cellspacing="0" cellpadding="2" style="margin-top: 5px; width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;">
        <?php if (!empty($this->customer['customer_commercial_info']['business_name'])): ?>
            <tr>
                <td colspan="3" style="width: 70%;">Business Name : <?php echo $this->escape(ucfirst($businessName)); ?></td>
                <td  rowspan="2"  style="width: 30%;">Date of Issue : <?php echo $this->escape(getDateFormating($this->invoice['created'], false)) ?></td>
            </tr>
        <?php endif; ?>
        <tr>
            <td colspan="3" style="width: 70%;">Customer : <?php echo $this->escape(get_customer_name($this->customer)); ?></td>
            <?php if (empty($businessName)): ?>
                <td style="width: 30%;">Date of Issue : <?php echo $this->escape(getDateFormating($this->invoice['created'], false)) ?></td>
            <?php endif; ?>
        </tr>
        <?php if ((!empty($businessName) && $lineBookingAddress == $lineCustomerAddress) || empty($businessName)) : ?>

            <tr>
                <td colspan="3" style="vertical-align: top;">
                    <span>Address :</span>
                    <?php echo $this->escape($lineBookingAddress); ?>
                </td>
                <td style="width: 30%;">Job #: <?php echo $this->escape($this->booking['booking_num']) ?></td>
            </tr>

        <?php else: ?> 
            <tr>
                <td colspan="3" style="vertical-align: top;">
                    <span> Business  Address :</span>
                    <?php echo $this->escape($lineCustomerAddress); ?>
                </td>
                <td  rowspan="2" style="width: 30%;">Job #: <?php echo $this->escape($this->booking['booking_num']) ?></td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align: top;">
                    <span> Booking Address :</span>
                    <?php echo $this->escape($lineBookingAddress); ?>
                </td>

            </tr>
        <?php endif; ?>
        <tr>
            <td colspan="3">
                <?php
                $phones = array();
                if (!empty($this->customer['phone1'])) {
                    $phones[] = $this->customer['phone1'];
                }
                if (!empty($this->customer['phone2'])) {
                    $phones[] = $this->customer['phone2'];
                }
                if (!empty($this->customer['phone3'])) {
                    $phones[] = $this->customer['phone3'];
                }
                ?>
                Phone : <?php echo $this->escape(implode(" - ", $phones)); ?>
            </td>
            <td rowspan="<?php echo $this->escape(isset($this->customerContacts) ? count($this->customerContacts) + 3 : 3) ?>" style=" width: 30%;">  
                <div style="clear: both;">
                    <b style="float: left;">Technician :</b>
                    <?php
                    $contractors = array();
                    if ($this->bookingServices) {
                        foreach ($this->bookingServices as $bookingService) {
                            $contractorId = $bookingService['contractor_id'];
                            $user = $modelUser->getById($contractorId);
                            $userInfo = '';
                            $contractor = '';
                            $roleName = $modelAuthRole->getRoleName($user['role_id']);
                            if ('contractor' == $roleName) {
                                $contractorInfo = $modelContractorInfo->getByContractorId($contractorId);
                                $contractorOwner = $modelContractorOwner->getByContractorInfoId($contractorInfo['contractor_info_id']);
                                $contractor = isset($contractorOwner[0]['name']) ? $contractorOwner[0]['name'] : '';
                            } else {
                                $userInfo = $modelUserInfo->getByUserId($contractorId);
                            }
                            $contractorName = $userInfo ? ($userInfo['first_name'] . ' ' . $userInfo['last_name']) : ($contractor ? $contractor : '');
                            $contractors[$contractorId] = $this->escape($contractorName);
                        }
                    }
                    ?>
                    <div style="float: left; margin-left: 10px;">
                        <?php echo implode('<br/>', $contractors); ?>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <?php
                $mobiles = array();
                if (!empty($this->customer['mobile1'])) {
                    $mobiles[] = $this->customer['mobile1'];
                }
                if (!empty($this->customer['mobile2'])) {
                    $mobiles[] = $this->customer['mobile2'];
                }
                if (!empty($this->customer['mobile3'])) {
                    $mobiles[] = $this->customer['mobile3'];
                }
                ?>
                Mobile : <?php echo $this->escape(implode(" - ", $mobiles)); ?>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <?php
                $emails = array();
                if (!empty($this->customer['email1'])) {
                    $emails[] = $this->customer['email1'];
                }
                if (!empty($this->customer['email2'])) {
                    $emails[] = $this->customer['email2'];
                }
                if (!empty($this->customer['email3'])) {
                    $emails[] = $this->customer['email3'];
                }
                ?>
                Email : <?php echo $this->escape(implode(" - ", $emails)); ?>
            </td>
        </tr>
        <?php if (isset($this->customerContacts) && !empty($this->customerContacts)): ?>
            <?php foreach ($this->customerContacts as $customerContact): ?>
                <tr>
                    <td colspan="3"><?php echo $this->escape($customerContact['contact_label']) ?>: <?php echo $this->escape($customerContact['contact']) ?></td>
                </tr>    
            <?php endforeach; ?>
        <?php endif; ?>

    </table>

    <?php if (!empty($this->bookingServices)): ?>

        <table border="1" style="margin-top: 20px; width: 100%; border-collapse: collapse; text-align: center; font-size: 12px;">
            <tr style="background-color: black; height: 30px;">
                <td style="color: white;">DESCRIPTION</td>
                <td style="color: white;" width="110">UNIT PRICE</td>
                <td style="color: white;" width="110">QTY</td>
                <td style="color: white;" width="90">TOTAL</td>
            </tr>
            <?php foreach ($this->bookingServices as $bookingService): ?>
                <?php
                $serviceId = $bookingService['service_id'];
                $clone = $bookingService['clone'];
                $bookingId = $bookingService['booking_id'];
                $contractorId = $bookingService['contractor_id'];
                $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                $serviceDetails = $modelServices->getById($serviceId);
                ?>
                <?php $serviceDetails = $modelServices->getById($serviceId); ?>
                <tr>
                    <td style="text-align: left;">
                        <div style="clear: both;">
                            <span style="float: left;">
                                &#187; <b>Service :</b>&ensp;
                            </span>
                            <span style="float: left; width: 80%;">
                                <?php echo $this->escape($serviceDetails['service_name']); ?>
                            </span>
                        </div>
                        <?php if ($this->priceArray[$serviceAndClone] <= $serviceDetails['min_price']): ?>
                            <div style="clear: both;">
                                <span style="float: left;">
                                    &#187; <b>Min Price :</b>&ensp;
                                </span>
                                <span style="float: left; width: 80%;">
                                    <?php echo $this->escape($serviceDetails['min_price']); ?>
                                </span>
                            </div>
                        <?php endif; ?>
                        <?php
                        $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);

                        $unit_price = 0;
                        $qty = 0;

                        foreach ($serviceAttribute as $attribute) {
                            $serviceAttribute = $modelServiceAttribute->getByAttributeIdAndServiceId($attribute['attribute_id'], $attribute['service_id']);
                            $value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $serviceAttribute['service_attribute_id'], $clone);
                            switch ($attribute['attribute_name']) {
                                case 'Quantity':
                                    $qty = $value['value'];
                                    break;
                                case 'Price':
                                    $unit_price = $value['value'];
                                    break;
                                default :
                                    if ($value['value']) {
                                        $att = $modelAttributeType->getById($attribute['attribute_type_id']);
                                        ?>
                                        <div style="clear: both;">
                                            <span style="float: left;">
                                                &#187; <b><?php echo $this->escape($attribute['attribute_name']); ?> :</b>&ensp;
                                            </span>
                                            <span style="float: left; width: 80%;"> 
                                                <?php
                                                if ($att['is_list']) {
                                                    if ($value['is_serialized_array']) {
                                                        $values = unserialize($value['value']);
                                                        foreach ($values as $value) {
                                                            $attributeListValue = $modelAttributeListValue->getById($value);
                                                            if ($attributeListValue['unit_price']) {
                                                                echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</b></div>';
                                                            } else {
                                                                echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</div>';
                                                            }
                                                        }
                                                    } else {
                                                        $attributeListValue = $modelAttributeListValue->getById($value['value']);
                                                        if ($attributeListValue['unit_price']) {
                                                            echo $this->escape($attributeListValue['attribute_value']) . '</b>';
                                                        } else {
                                                            echo $this->escape($attributeListValue['attribute_value']);
                                                        }
                                                    }
                                                } else {
                                                    echo nl2br($this->escape($value['value']));
                                                }
                                                ?>
                                            </span>
                                        </div>
                                        <?php
                                    }
                                    break;
                            }
                        }
                        ?>
                    </td>
                    <td><?php echo $this->escape($unit_price); ?></td>
                    <td><?php echo $this->escape($qty); ?></td>
                    <td><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
                </tr>
            <?php endforeach; ?>
            <?php
            $subTotal = !empty($this->booking['sub_total']) ? $this->booking['sub_total'] : 0;
            $totalDiscount = !empty($this->booking['total_discount']) ? $this->booking['total_discount'] : 0;
            $callOutFee = !empty($this->booking['call_out_fee']) ? $this->booking['call_out_fee'] : 0;
            $gst = !empty($this->booking['gst']) ? $this->booking['gst'] : 0;

            $paidAmount = !empty($this->booking['paid_amount']) ? $this->booking['paid_amount'] : 0;
            $refund = !empty($this->booking['refund']) ? $this->booking['refund'] : 0;
            $qoute = !empty($this->booking['qoute']) ? $this->booking['qoute'] : 0;

            $total = $subTotal + $callOutFee + $gst - $totalDiscount;
            $balanceDue = $qoute - $paidAmount;

            $rowspan = 5;
            $rowspan = $totalDiscount ? $rowspan + 1 : $rowspan;
            $rowspan = $callOutFee ? $rowspan + 1 : $rowspan;
            $rowspan = $refund ? $rowspan + 2 : $rowspan;
            ?>
            <tr>
                <td colspan="2" rowspan="<?php echo $rowspan; ?>" style="background-color: white;"></td>
                <td style="padding: 5px;">
                    Sub Total:
                </td>
                <td style="padding: 5px;">
                    <?php echo $this->escape(number_format($subTotal, 2)); ?>
                </td>
            </tr>
            <?php if ($callOutFee): ?>
                <tr style="border-bottom: 1px solid #A1A1A1;">
                    <td style="padding: 10px;">
                        Call Out Fee:
                    </td>
                    <td style="padding: 10px;">
                        <?php echo $this->escape(number_format($callOutFee, 2)); ?>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if ($totalDiscount): ?>
                <tr>
                    <td style="padding: 5px;">
                        Discount:
                    </td>
                    <td style="padding: 5px;">
                        <?php echo $this->escape(number_format($totalDiscount, 2)); ?>
                    </td>
                </tr>
            <?php endif; ?>
            <tr>
                <td style="padding: 5px;">
                    GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                </td>
                <td style="padding: 5px;">
                    <?php echo $this->escape(number_format($gst, 2)); ?>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;">
                    Total:
                </td>
                <td style="padding: 5px;">
                    $<?php echo $this->escape(number_format($total, 2)); ?>
                </td>
            </tr> 
            <?php if ($refund): ?>
                <tr>
                    <td style="padding: 5px;">
                        Refund:
                    </td>
                    <td style="padding: 5px;">
                        (-) <?php echo $this->escape(number_format($refund, 2)); ?>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;">
                        Total Amount:
                    </td>
                    <td style="padding: 5px;">
                        $<?php echo $this->escape(number_format($qoute, 2)); ?>
                    </td>
                </tr> 
            <?php endif; ?>
            <tr>
                <td style="padding: 5px;">
                    Paid Amount:
                </td>
                <td style="padding: 5px;">
                    (-) <?php echo $this->escape(number_format($paidAmount, 2)); ?>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;">
                    Balance Due:
                </td>
                <td style="padding: 5px;">
                    $<?php echo $this->escape(number_format($balanceDue, 2)); ?>
                </td>
            </tr>
        </table>
    <?php endif; ?>

    <div style="margin-top: 20px; font-weight: bold;">
        Payment Terms: <?php echo ($this->invoice['due_date'] == 1 ? $this->escape($this->invoice['due_date']) . ' day' : $this->escape($this->invoice['due_date']) . ' day(s)') ?></br>
    </div>

    <div style="margin-top: 20px; font-weight: bold;">
        PAYMENT OPTIONS
    </div>

    <div>
        <div style="float: left; width: 250px;">
            <?php
            $modelPaymentType = new Model_PaymentType();
            $paymentTypes = $modelPaymentType->getAll(array('company_id' => $this->booking['company_id']));
            $modelPayment = new Model_Payment();
            $payments = $modelPayment->getAll(array('booking_id' => $this->invoice['booking_id'], 'is_approved' => 'yes'));

            $user_payments = array();
            foreach ($payments as $payment) {
                $user_payments[$payment['payment_type_id']] = $payment['payment_type_id'];
            }
            ?>
            <table border="1" style="width: 100%; border-collapse: collapse; font-size: 12px;">
                <?php
                if ($paymentTypes)
                    foreach ($paymentTypes as $paymentType):
                        ?>
                        <tr>
                            <td style="width: 90%;"><?php print_r($paymentType['payment_type']) ?></td>
                            <td style="width: 10%; text-align: center;">
                                <?php if (in_array($paymentType['id'], $user_payments)): ?>
                                    <img height="10" width="10" src="<?php echo $this->escape($this->baseUrl('/pic/checked.png')); ?>" border="0"/>
                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>

            </table>
        </div>
        <div style="float: right; width: 280px; border: 1px solid black; padding: 10px">
            <?php $bank = $modelBank->getByCompanyId($companyId); ?>
            Bank :<?php echo (!empty($bank['bank_name']) ? $this->escape($bank['bank_name']) : 'Bank Name') ?> </br>
            Account Name: <?php echo (!empty($bank['account_name']) ? $this->escape($bank['account_name']) : 'account Name') ?></br>
            BSB:  <?php echo (!empty($bank['bsb']) ? $this->escape($bank['bsb']) : 'BSB') ?></br>
            A/C: <?php echo (!empty($bank['account_number']) ? $this->escape($bank['account_number']) : 'Account Number') ?></br>
            Payment Reference: <?php echo $this->escape($this->invoice['invoice_num']) ?></br>
        </div>
        <div style="clear: both;"></div>
    </div>

    <div style="margin-top: 20px;">
        <div style="float: left; width: 300px; font-weight: bold;">
            No personal cheques accepted
        </div>
        <div style="float: right;">
            <div>
                *Please use your invoice number as reference for your payment
            </div>
            <div>
                *Remittance to be emailed to <?php echo (!empty($company['company_accounts_email']) ? $this->escape($company['company_accounts_email']) : 'Company Accounts Email') ?>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <?php if (!empty($this->invoice['condition_report'])): ?>
        <div style="margin-top: 20px; border-bottom: 1px dotted black; font-weight: bold;">
            CONDITION REPORT  
        </div>
        <?php
        $condition_report = wordwrap($this->invoice['condition_report'], 115, "\n", true);
        $condition_reports = explode("\n", $condition_report);
        ?>
        <?php foreach ($condition_reports as $report): ?>
            <?php $report = trim($report); ?>
            <div style="<?php echo (empty($report) ? 'margin-top: 20px;' : 'line-height: 20px;'); ?> border-bottom: 1px dotted black;"><?php echo $this->escape($report); ?></div>
        <?php endforeach; ?>
    <?php else: ?>
        <div style="margin-top: 20px; border-bottom: 1px dotted black; font-weight: bold;">
            CONDITION REPORT  
        </div>
        <div style="margin-top: 20px; border-bottom: 1px dotted black;"></div>
        <div style="margin-top: 20px; border-bottom: 1px dotted black;"></div>
    <?php endif; ?>
    <div style="margin-top: 20px; font-weight: bold;">
        CLIENT ACKNOWLEDGEMENT
    </div>
    <div>
        I acknowledge that works carried out by <?php echo (!empty($company['company_name']) ? $this->escape($company['company_name']) : 'Company Name') ?> at the above address has been carried out in a professional manner and completed to my satisfaction.
    </div>

    <div style="margin-top: 20px; border-bottom: 1px dotted black;">
        SIGNED AND DATED:
    </div>

    <div style="margin-top: 20px; text-align: left;">
        <?php
        $InvoiceNote = $modelCompanyInvoiceNote->getByCompanyId($companyId);

        if ($InvoiceNote) {
            foreach ($InvoiceNote AS $note) {
                echo '**' . $note['note'] . '<br>';
            }
        }
        ?>						
    </div>

    <div style="margin-top: 20px; text-align: center;">
        <?php echo $this->escape($tradingName['website_url']) ?>
    </div>
    <div style="text-align: center;">
        Phone: <?php echo (!empty($tradingName['phone']) ? $this->escape($tradingName['phone']) : 'Trading name Phone') ?> (Sales & Equiries)
        | 
        Email: <?php echo (!empty($tradingName['email']) ? $this->escape($tradingName['email']) : 'Trading name Email') ?>
    </div>

</div>