<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->url(array('id'=>$this->id), 'sendInvoiceAsSms')); ?><?php //echo $this->escape($this->form->getAction()); ?>">
 
			  <div class="form-group hidden " >
                    <label class="col-md-3">ID: </label>
                    <div class="col-md-9">
                    <input type="text" name="invoice_id" id="invoice_id" value="<?php echo $this->id ?>"/> 
                    </div>
                </div>
				
				 <div class="form-group  hidden" >
                    <label class="col-md-3">message: </label>
                    <div class="col-md-9">
                      <input type="text" name="message_id" id="message_id" value="<?php echo $this->message ?>"/> 
                    </div>
                </div>
				
            <div class="form-group">
						<label class="col-md-2 control-label">To </label>
						<div class="col-md-6">
						<input class="form-control" name="mobile_no" id="mobile_no"
						value="<?php echo $this->to_customer[0].','.$this->to_customer[1].','.$this->to_customer[2];?>">
						</div>
						</div>
						
   	            
                <div class="form-group">
                    <label class="col-md-2">Message<span style="color:#ff0000">*</span>: </label>
                    <div class="col-md-6">
                       <?php echo ($this->form->getElement('message')->render()); ?> 
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
             
            </form>
      
   <script>
   $( document ).ready(function() {
   var smstext='<?php echo $this->message ?>';
    $('#message').val(smstext);

});
      $('#button').on('click', function() {
		 if($("#mobile_no").val()==0)
		{
		document.getElementById("dateError").innerHTML = "You must choose mobile number";
		return false;
		}

     });

   </script>