<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->url(array('id'=>$this->id), 'sendInvoiceAsSms')); ?><?php //echo $this->escape($this->form->getAction()); ?>">
 
			  <div class="form-group hidden " >
                    <label class="col-md-3">ID: </label>
                    <div class="col-md-9">
                    <input type="text" name="invoice_id" id="invoice_id" value="<?php echo $this->id ?>"/> 
                    </div>
                </div>
				
				 <div class="form-group  hidden" >
                    <label class="col-md-3">message: </label>
                    <div class="col-md-9">
                      <input type="text" name="message_id" id="message_id" value="<?php echo $this->message ?>"/> 
                    </div>
                </div>
				
            <div class="form-group">
						<label class="col-md-2 control-label">To </label>
						<div class="col-md-6">
					    <?php
						$modelSmsHistorty=new Model_SmsHistorty(); 
						if($this->to_customer[0]!=''){
						$mobile1=$modelSmsHistorty->getMobileFormat($this->to_customer[0]);
						if($mobile1!='')
						$mobile1withsplit=$mobile1.',';
					    else
						$mobile1withsplit="";
                        }
						else
						$mobile1withsplit="";
						if($this->to_customer[1]!=''){
						$mobile2=$modelSmsHistorty->getMobileFormat($this->to_customer[1]);
						if($mobile2!='')
						$mobile2withsplit=$mobile2.',';
					    else
						$mobile2withsplit="";
						}
						else
						$mobile2withsplit="";
						if($this->to_customer[2]!=''){
						$mobile3=$modelSmsHistorty->getMobileFormat($this->to_customer[2]);
						if($mobile3!='')
						$mobile3withsplit=$mobile3;
						}
						else
						$mobile3withsplit="";?>
					   <input class="form-control" name="mobile_no" id="mobile_no"
						value="<?php echo $mobile1withsplit.$mobile2withsplit.$mobile3withsplit?>">
						</div>
						<span id="dateError" class="help-inline" style="color:#ff0000"></span>

						</div>
   	            
                <div class="form-group">
                    <label class="col-md-2">Message<span style="color:#ff0000">*</span>: </label>
                    <div class="col-md-6">
                       <?php echo ($this->form->getElement('message')->render()); ?> 
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
             
            </form>
      
   <script>
   $( document ).ready(function() {
    var smstext=$('#message_id').val();
    $('#message').val(smstext);
    });
	$('#button').on('click', function() {
	 if($("#mobile_no").val()=='')
	{
	document.getElementById("dateError").innerHTML = "You must Enter mobile number";
	return false;
	}
		 });
   </script>