<form class="form-horizontal" id="form_due_date" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_due_date','#content_modal_popup');return false;">    
	<div class="form-group">
                    <label class="col-md-3">Due Date:</label>
                    <div class="col-md-9"><?php echo ($this->form->getElement('due_date_id')->render()); ?></div>
                    
    </div>
    
	<div id="button_cont">
	<?php echo $this->form->getElement('button')->render(); ?>
	</div>	
</form>
