<?php
$loggedUser = CheckAuth::getLoggedUser ();

$modelUser = new Model_User();
$modelClaimOwner = new Model_ClaimOwner();
$modelBookingStatus = new Model_BookingStatus();
$modelBooking = new Model_Booking();
       $loggedUser = CheckAuth::getLoggedUser();
?>
		 <?php if (!empty($this->isWorkOrder)){ ?>

                <div class="alert alert-warning alert-dismissible fade in col-md-12" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <span class="typeprice">Work Order Attachment File Required</span>
               </div>
 <?php } ?>
 

			
<div class="ibox float-e-margins no-margin-b">
		<div class="row wrapper border-bottom white-bg">
				
				<div class="col-md-5">
							<div class="createdTimeDiv">
								<span class="booking_title">Booking Invoice Details</span> 
								<span class="booking_created_date">
									<i> Created </i><?php echo $this->escape(getDateFormating($this->invoice['created'])); ?>
								
								</span>
							</div>
					
							<ol class="breadcrumb" style="font-size:13px;" >
								<li>
									<a href="/">Home</a>
								</li>
								<li>
								   <a href="/invoices">Invoices</a>
								</li>
								<li class="active">
									<strong>Invoice Details</strong>
								</li>
							</ol>
				</div>	
				<div class="col-md-7">
				
					<ul class="top_nav">
							<li><!-- invoice button -->
								<div class="btn-group">
											<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle " aria-expanded="false">Invoice&nbsp<span class="caret"></span></button>
															<?php
															$color = '#A1A1A1';
															switch ($this->invoice['invoice_type']) {
																case 'draft':
																		$color = '#A1A1A1';
																		break;

																case 'open':
																		$color = '#4F8BC3';
																		break;

																case 'overdue':
																		$color = 'red';
																		break;

																case 'closed':
																		$color = '#BCD68F';
																		break;

																case 'void':
																		$color = '#00004E';
																		break;
															}
															?>
								
															<ul class="dropdown-menu">

															<?php if ($this->isAccepted): ?>
															<li>
															<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Invoice Preview','<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoicePreview')); ?>');" class="details_info_opt"><i class="fa fa-eye"></i>&nbsp Preview Invoice </a>
															</li>
															<?php endif;?>
															<?php if ($this->isAccepted): ?>
															<li class="print">

															<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Invoice Preview','<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'statment')); ?>');" class="details_info_opt"><i class="fa fa-eye"></i>&nbsp Statement Preview</a>
															</li>
															<?php endif; ?>
															<?php if (CheckAuth::checkCredential(array('bookingEdit')) && $this->isAccepted): ?>
															<li>
															<a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['booking_id']), 'bookingEdit')); ?>">
															<i class="fa fa-edit"></i>&nbsp Edit</a>
															</li>
															<?php endif; ?>

															<?php if (CheckAuth::checkCredential(array('invoiceDelete'))): ?>
															<li><a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoiceDelete')); ?>" onclick="return confirm('are you sure you want to delete this Invoice?');"><i class="fa fa-trash"></i>&nbsp Delete</a>
															</li>
															<?php endif; ?>

															<?php if (CheckAuth::checkCredential(array('convert'))): ?>
															<li class="void">
															<a href="<?php echo $this->escape($this->url(array('type' => 'void', 'id' => $this->invoice['id']), 'convert')); ?>">
															<i class="fa fa-minus-circle"></i>&nbsp Void</a>
															</li>
															<?php endif; ?>



															<?php if (CheckAuth::checkCredential(array('editInvoiceNumber')) && $this->isAccepted): ?>
															<li>
															<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Invoice Number','<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'editInvoiceNumber')); ?>');" class="details_info_opt"><i class="fa fa-edit"></i>&nbsp Edit Invoice Number</a>
															</li>
															<?php endif; ?>

															
															<?php if (CheckAuth::checkCredential(array('complaintAdd'))): ?>
															<li class="make-recurring">
															<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Complaint','<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'complaintAdd')); ?>');"><i class="fa fa-plus"></i> &nbsp Add Complaint</a>

															</li>
															<?php endif; ?>


															<?php if ($this->isAccepted): ?>				
															<?php if (CheckAuth::checkCredential(array('complaintAdd'))): ?>
															<li class="make-recurring">
															<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Invoice Condition Report','<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoiceConditionReport')); ?>');" class="details_info_opt"><i class="fa fa-plus"></i> &nbsp Add Condition Report</a>
															</li>
															<?php endif; ?>
															<?php endif; ?>






															<li class="divider"></li>
															<?php if ($this->isAccepted): ?>
															<?php if ($this->invoice['invoice_type'] == 'draft'): ?>
															<?php if (CheckAuth::checkCredential(array('convertToOpen'))): ?>
															<li>
															<a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'convertToOpenLink')); ?>"><span class="fa fa-exchange"></span>&nbsp Convert to Open</a>
															</li>
															<?php endif; ?>
															<?php else: ?>
															<?php if (CheckAuth::checkCredential(array('convert'))): ?>
															<li>
															<a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id'], 'type' => 'draft'), 'convert')); ?>"><span class="fa fa-exchange"></span>&nbsp Convert to draft</a>
															</li>
															<?php endif; ?>
															<?php endif; ?>
															<?php endif; ?>

															<li class="divider"></li>

															<?php if ($this->isAccepted): ?>
																	<?php if (CheckAuth::checkCredential(array('downloadInvoice'))): ?>

																	<li>
																			<a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'downloadInvoice')); ?>"><i class="fa fa-external-link"></i> &nbsp Export as PDF</a>
																			</li>
																	<?php endif; ?>
															<?php endif; ?>

															<?php if (CheckAuth::checkCredential(array('attachment'))): ?>
															<li class="make-recurring">                               
															<a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"><i class="fa fa-upload"></i>&nbsp File Attachments</a>
															</li>
															<?php endif; ?>
														

														</ul>
													</div>
							</li>
							
							<li>
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Payment&nbsp <span class="caret"></span></button>
										<ul class="dropdown-menu">
												
														   <?php if (CheckAuth::checkCredential(array('paymentCheckStatus')) && $this->isAccepted): ?>
										<li class="add-payment">
											<a href="<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'checkStatusToAddPayment')); ?>">
											<i class="fa fa-plus"></i>&nbsp Add Payment</a>
										 </li>
									   <?php endif; ?>
								  
									   <?php if (CheckAuth::checkCredential(array('refundAdd')) && $this->isAccepted && !empty($this->payment)): ?>
										 <li class="add-payment">
											<a href="<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'refundAdd')); ?>">
											<i class="fa fa-plus"></i>&nbsp Add Refund</a>
											</li>
										<?php endif; ?>
										
										<li class="divider"></li>
										
										<?php if (CheckAuth::checkCredential(array('bookingPaymentList')) && $this->isAccepted): ?>
										 <li class="approve-payment">
											<a href="<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'bookingPaymentList')); ?>">
											<i class="fa fa-eye"></i>&nbsp View Payments</a>
										
										 </li>
										<?php endif; ?>
										
										<?php if (CheckAuth::checkCredential(array('bookingRefundList')) && $this->isAccepted): ?>
										
										<li class="approve-payment">
											<a href="<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'bookingRefundList')); ?>">
											<i class="fa fa-eye"></i>&nbsp View Refunds</a>
										</li>						   
										<?php endif; ?>
								
								
										
										
										
										</ul>
									</div>
							</li>
							
							
							
							 <?php if ($this->isAccepted): ?>
								<li> 
									 <!-- email button -->
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Email&nbsp <span class="caret"></span></button>
										<ul class="dropdown-menu">
										
													<?php if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))): ?>
														<li>
														<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
														</li>
													<?php endif; ?>
													
													<?php if ($this->invoice['invoice_type'] == 'overdue' && CheckAuth::checkCredential(array('sendInvoiceAsEmail'))): ?>
														<li class="email">
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder overdue Invoice','<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'sendReminderOverdueInvoiceAsEmail')); ?>')">Reminder Overdue Invoice</a>
														</li>
													<?php endif; ?>
													
													 <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
															<li class="send-email">
																<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' => $this->invoice['booking']['customer_id'], 'type' => 'invoice', 'reference_id' => $this->invoice['id']), 'sendEmail')); ?>');">Send Email</a>
															</li>
													<?php endif; ?>
													
													<?php if (CheckAuth::checkCredential(array('sendWorkOrderRequestEmail')) && !empty($this->customerType['is_work_order'])): ?>
															<li>
																<a  href="#" data-toggle="modal" data-target="#popupi" data-toggle="modal" data-target="#popupi" onclick="popupi('Request work order Email','<?php echo $this->escape($this->url(array('id' => $this->invoice['booking_id']), 'sendWorkOrderRequestEmail')); ?>')">Request Work Order Email</a>
															</li>
													<?php endif; ?>
													
													 <?php if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))): ?>
															<li>
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Statement Email','<?php echo $this->url(array('id' => $this->invoice['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
															</li>
													<?php endif; ?>
										</ul>
									</div>
									<?php endif; ?>
									
								</li>
						
								
								
						 
								<li>  	 
										<?php
										$modelBookingAddress = new Model_BookingAddress();
										$bookingAddress = $modelBookingAddress->getByBookingId($this->invoice['booking']['booking_id']);
										$nearestBookingParams = array();
										$nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
										$nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
										$nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
										$nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
										$nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
										$nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
										$nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->invoice['booking']['booking_start'])));
										$nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($this->invoice['booking']['booking_start'])));
										$nearestBookingParams[] = 'city_id=' . urlencode($this->invoice['booking']['city_id']);
										$nearestBookingParams[] = 'booking_id=' . urlencode($this->invoice['booking']['booking_id']);
										$nearestBookingParams = implode("&", $nearestBookingParams);
										?>
									   
							
									<!-- nearest booking -->
											<div class="btn-group"> 
												<button class="btn btn-primary btn-outline " href="#" data-toggle="modal" data-target="#fn_nearest"
													onclick="fn_popupi_with_parm('Nearest Bookings','<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>','<?php echo $this->escape($nearestBookingParams) ?>');">Nearest
														Booking
															</button>
											</div>
											
								</li>
								<li>
									
										<?php
										$findAvailabilityParams = array();
										$findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
										$findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
										$findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
										$findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
										$findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
										$findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
										$findAvailabilityParams[] = 'booking_id=' . urlencode($this->invoice['booking']['booking_id']);
										$findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->invoice['booking']['booking_start'])));
										$findAvailabilityParams[] = 'city_id=' . urlencode($this->invoice['booking']['city_id']);
										foreach ($this->bookingServices as $service) {
											$findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
										}
										$findAvailabilityParams = implode("&", $findAvailabilityParams);
										?>

										<!-- find Availability -->
										<div class="btn-group"> 
												<button class="btn btn-primary btn-outline" href="#" data-toggle="modal" data-target="#fn_nearest"
														onclick="fn_popupi_with_parm('Find Availability','<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>','<?php echo $this->escape($findAvailabilityParams) ?>');">Find
														Availability
												</button>
										</div>
								</li>
							
					</ul>
			
				</div>
					
				
			</div>	


			<div class="row wrapper" style="background-color: <?php echo $this->escape($color); ?>;">
					<div class="strocked-text" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Invoice Type">
						<b><?php echo $this->escape(ucfirst($this->invoice['invoice_type'])) ?></b>
					</div>
			</div>

			<div class="row">
				<div class="wrapper wrapper-content">
			
					<div class="row">	
						
						<div class="col-md-5">
									
									<div class="ibox">
										<div class="ibox-title">
												<div class="inline" id="<?php echo $this->escape('booking_invoice_id_' . $this->invoice['id']); ?>"  >
													<b><?php echo $this->escape($this->invoice['invoice_num']) ?>
														
													<?php if (CheckAuth::checkCredential(array('editInvoiceNumber')) && $this->isAccepted){ ?>
														<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Invoice Number','<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'editInvoiceNumber')); ?>');">
															<i class="fa fa-edit"></i>
												
														</a>
													<?php } ?>
												</b>
												</div>
												&nbsp;
												<div class="inline">
													<?php if (CheckAuth::checkCredential(array('bookingView')) && !$this->booking['is_deleted']): ?>
														<a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>" class="a_black"><b><?php echo $this->escape($this->booking['booking_num']) ?></b></a>
													<?php else: ?>
														<span><b><?php echo $this->escape($this->booking['booking_num']) ?></b></span>
													<?php endif; ?>
												</div>
												
												<div class="inline float-r">
														<?php 	
															$bookingId =  $this->booking['booking_id'];
															$totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($bookingId);
														?>
													<span class="fa fa-dollar" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Total">&nbsp;</span><?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?>
												</div>
												
											
										</div>
										<div class="ibox-content">
										
											<table class="table table_no_top_border">
				
													<tbody>
														<tr>
														
															<td class="valueText">
																<i class="fa fa-map-marker" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Invoice Address"></i>
																	<?php echo wordwrap($this->escape($this->lineAddress), 70, "<br />\n"); ?>
																		<a class="a_link" href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingLocation')); ?>"> 
																			Show Map 
																		</a>
															</td>
														</tr>
																
																
														<tr>
															<td class="valueText">
																<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Time"></span>
																<?php echo $this->escape(getBookingDateFormating($this->booking['booking_start'],$this->booking['booking_end'])) ?>
															</td>
														</tr>
															
															 
																
																
																<?php if (!empty($this->invoice['multiple_days'])): ?>
																	<?php foreach ($this->invoice['multiple_days']as $day): ?>
																		<tr>
																			<td>
																				<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Time"></span>
																				<?php echo $this->escape(getBookingDateFormating($day['booking_start'],$day['booking_end'])) ?>
																			</td>
																	    </tr>
																	
																	<?php endforeach; ?>
																<?php endif; ?>
															
																<tr>
																	
																	
																	<td>
																		<i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Owner">
																		</i>&nbsp;
																		<?php $owner = $modelUser->getById($this->booking['created_by']); ?>
																			<div class="inline">
																				<?php echo $this->escape(ucwords($owner['username'])); ?>
																			</div>
																		<?php if (CheckAuth::checkCredential(array('claimOwner')) && $this->booking['created_by'] != $loggedUser['user_id']) : ?>
																			<div class="inline"> 
																				&nbsp;
																				<?php 
																				
																				$claimOwner = $modelClaimOwner->getByBookingAndUserId($this->booking['booking_id'], $loggedUser['user_id']); ?>
																					<?php if (empty($claimOwner)) : ?>
																						<a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendClaimOwner')); ?>" class="details_info_opt">Claim Ownership</a>
																					<?php else : ?>
																						<b>Claim Pending</b>
																					<?php endif; ?>
																				<?php endif; ?>
																			</div>
																		
																	</td>
																</tr>
													</tbody>
												</table>
														
														
														
														
			<div>
														
					
					  <?php
                        $modelBooking = new Model_Booking();
                        $loggedUser = CheckAuth::getLoggedUser();
						?>
						<?php if ($this->bookingServices): ?>
                            <?php
                            $modelServices = new Model_Services();
                            $modelServiceAttribute = new Model_ServiceAttribute();
                            $modelUser = new Model_User();
                            $modelContractorInfo = new Model_ContractorInfo();
                            $modelUserInfo = new Model_UserInfo();
                            $modelAuthRole = new Model_AuthRole();
                            $modelServiceAttributeValue = new Model_ServiceAttributeValue();
                            $modelAttributeType = new Model_AttributeType();
                            $modelAttributeListValue = new Model_AttributeListValue();
                            $modelServiceAttributeValueTemp = new Model_ServiceAttributeValueTemp();
							$counter_services =1; ?>
							<table class="table table_no_top_border">
							<?php foreach ($this->bookingServices as $key => $bookingService): ?>
						
								<?php
								$isAccepted = $bookingService['is_accepted'];
								$isrejected = $bookingService['is_rejected'];
								
								$serviceId = $bookingService['service_id'];
								$clone = $bookingService['clone'];
								$bookingId = $bookingService['booking_id'];
								$contractorId = $bookingService['contractor_id'];
								$serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
								$serviceDetails = $modelServices->getById($serviceId);
								$user = $modelUser->getById($contractorId);
								$userInfo = 0;
								$contractorInfo = 0;
								$roleName = $modelAuthRole->getRoleName($user['role_id']);
								 
	
								$totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($bookingId);
								$rowspan = 9;
								$rowspan = !empty($totalAmountDetails['call_out_fee']) ? $rowspan + 1 : $rowspan;
								?>
								<?php if ('contractor' == $roleName): ?>
									<?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
								<?php else: ?>
									<?php $userInfo = $modelUserInfo->getByUserId($contractorId) ?>
								<?php endif; ?>
						
								
								
									<tr>
										<td class="lineheight22">
										
											<span class="inline">
												<i class="fa fa-star">&nbsp;</i>
												<b><a href="#services_<?php echo $counter_services;?>"><?php echo $this->escape($serviceDetails['service_name']); ?></a></b>
											</span>
												
												
												
												<?php if($isAccepted ==1):?>
														<span class="float-r accepted_services">														
															<img height="12" width="12"
															src="/pic/white_accepted.png" border="0"
															alt="Accept">													
														</span>
												<?php elseif($isrejected == 1):?>
														<span class="float-r reject_services">
															<img height="12" width="12"
															src="/pic/white_rejected.png" border="0"
															alt="Accept">
														</span>
												<?php elseif($isrejected==0 && $isAccepted==0 ):?>
													
													<span class="float-r unknown_services">
														<img height="12" width="12"
														 src="/pic/white_unknown.png" border="0"
														 alt="Accept">
													</span>
													
												<?php endif; ?>
										</td>
										
									</tr>
									<?php $counter_services++?>
					<?php endforeach; ?>
						</table>
					<?php endif;?>
														
														
		</div>
															
															
															
															
															
															
															
															<?php if ($this->bookingServices): ?>	
																	<table class="table table-bordered white-bg">
																		<tr>
																			<th><label>Sub Total:</label></th>
																			<td><?php echo $this->escape(number_format($totalAmountDetails['sub_total'], 2)); ?></td>
																		</tr>
																		<?php if ($totalAmountDetails['call_out_fee']): ?>
																		<tr>
																			<th><label>Call Out Fee:</label></th>
																			<td><?php echo $this->escape(number_format($totalAmountDetails['call_out_fee'], 2)); ?></td>
																		</tr>
																		<?php endif; ?>
																		<tr>
																			<th><label>Discount:</label></th>
																			<td><?php echo $this->escape(number_format($totalAmountDetails['total_discount'], 2)); ?></td>
																		</tr>
																		<tr>
																			<th><label>GST (<?php echo (100 * get_config('gst_tax')); ?>%):</label></th>
																			<td><?php echo $this->escape(number_format($totalAmountDetails['gst'], 2)); ?></td>
																		</tr>
																		
																		<tr>
																			<th><label>Total:</label></th>
																			<td>$<?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?></td>
																		</tr>
																		
																		
																		<tr>
																			<th><label>Refund:</label> </th>
																			<td>(-) <?php echo $this->escape(number_format($totalAmountDetails['refund'], 2)); ?></td>
																		</tr>
																		<tr>
																			<th><label>Total Amount:</label> </th>
																			<td>$<?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?></td>
																		</tr>
																		
																		<tr>
																			<th><label>Paid Amount:</label> </th>
																			<td>(-) <?php echo $this->escape(number_format($totalAmountDetails['paid_amount'], 2)); ?></td>
																		</tr>
																		<tr>
																			<th><label>Balance Due:</label></th>
																			<td>$<?php echo $this->escape(number_format($totalAmountDetails['balance_due'], 2)); ?></td>
																		</tr>
																		
																		
																		
																	</table>
																<?php endif;?>
																								
																								
										</div>
									</div>
									
											<?php if(nl2br($this->escape($this->booking['description']))){ ?>
									
									
									
									
											<div class="ibox">
												<div class="ibox-title">
													<b>Payment to Technician</b>
												</div>
												<div class="ibox-content">
												
												  <table class="table table_no_top_border">
											
																	<tbody>
																		
																				<tr>
																					<th class="labelText"><b>Technician Name:</b></th>
																					<td class="valueText"> <?php echo $this->contractorName; ?></td>
																				</tr>
																				<tr>
																					<th class="labelText"><b>Payment Status:</b></th>
																					<?php if (!empty($this->bookingContractorPayment['contractor_invoice_num'])) {?>
																					<td class="valueText"><?php echo 'paid'; ?></td>
																					<?php } 
																					else{ ?>
																					<td class="valueText"><?php echo 'unpaid'; ?></td>
																					<?php } ?>
																				</tr>
																				<tr>
																					<th class="labelText"><b>Contractor Invoice Number:</b></th>
																					<td class="valueText">
																					
																					<?php 
																					if(isset($this->bookingContractorPayment['contractor_invoice_num'])){
																						$fltr = array();
																						$fltr['contractor_id']=$this->bookingContractorPayment['contractor_id'];
																						$fltr['Inv']= $this->bookingContractorPayment['contractor_invoice_num'];
																						$url=implode('&amp;', array_map(function($key, $val) {
																							return 'fltr[' . urlencode($key) . ']=' . urlencode($val);
																						},
																						array_keys($fltr), $fltr)
																						);
																					?>
																					<div id="<?php echo $this->escape('contractor_invoice_num_' . $this->bookingContractorPayment['payment_to_contractor_id']); ?>" >
																						<a target="_blank" href="<?php echo $this->escape($this->url(array(), 'reportContractorsBookingsSummary')).'?'.$url; ?>" > <?php echo $this->bookingContractorPayment['contractor_invoice_num']; ?> </a>
																					</div>	
																					<?php if (CheckAuth::checkCredential(array('ContractorsBookingSummaryWithModifyInvoiceNumber'))){ ?>
																						<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Technician Invoice','<?php echo $this->escape($this->url(array('payment_to_contractor_id' => $this->bookingContractorPayment['payment_to_contractor_id'] , 'invoice_id'=> $this->invoice['id']), 'editPaymentToContractor1')); ?>');"><img src="/pic/icons/edit.png" /></a>
																					<?php } ?>	
																					<div  id="<?php echo $this->escape('unpaid_link_' . $this->booking['booking_id'] . '_' . $this->booking['contractor_id']); ?>">
																						<?php 
																							if( isset($this->bookingContractorPayment['payment_to_contractor'])){
																								if (CheckAuth::checkCredential(array('ContractorsBookingSummaryWithModifyInvoiceNumber'))) { ?><a href = "javascript:;" onclick= "unpaid_contractor('<?php //echo $this->escape($this->url(array('id' => $this->bookingContractorPayment['booking_contractor_payment_id']), 'unPaidContractor')); ?>')"/>Delete Payment</a>				
																								<?php }
																							}
																						?>
																					</div>
																					<?php } ?>           
																					</td>
																				</tr>				   
																		</tbody>
														  </table>
												</div>
											</div>
									
									
									<div class="ibox">
										<div class="ibox-title">
											<b>Description</b> (Company Use Only) <?php
												$description = $this->booking['description'];
											?>
											
										</div>
										<div class="ibox-content">
											<p>	<?php echo $this->escape($description); ?></p>
										</div>
									</div>
								<?php } ?>
							
						<?php if(nl2br($this->escape($this->invoice['condition_report']))){ ?>
									<div class="ibox">
										<div class="ibox-title">
												Condition Report: <?php
												$condition_report = $this->invoice['condition_report'];
												?>
										</div>
										<div class="ibox-content">
												<p>	<?php echo $this->escape($condition_report); ?></p>
										</div>
									</div>	
						<?php } ?>
						</div>
						
						<div class="col-md-7">
								<div class="ibox">
											<div class="ibox-content">	
													<ul class="Booking_label">
														
														 <?php if ($this->isAccepted): ?>
															<?php if (CheckAuth::checkCredential(array('invoiceLabel'))): ?>
																	<li class="inline">
																		 <button class="btn btn-primary btn-outline labels_btn" href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Invoice label','<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoiceSelectLabel')); ?>');" class="details_info_opt">
																				<b><i class="fa fa-tag"></i>&nbsp; Label <i class="fa fa-plus"></i></b>
																		 </button>
																	</li>	
															<?php endif; ?>
														<?php endif; ?>
														<span  id="label_<?php echo $this->invoice['id'];?>" class="Booking_labels">
															<?php foreach($this->invoice['labels']  as $label):?>
																<li> <?php echo $label;?></li>
															<?php endforeach;?>
														</span>
													</ul>	
											</div>
									</div>
								
							<!-- customer information -->
								<?php
								$customerView = new Zend_View();
								$customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
								$customerView->customer_id = $this->booking['customer_id'];
								$customerView->allDetails = $this->isAccepted;
								echo $customerView->render('customer_info.phtml');
								?>
						
						
						
						
						
							
					
							
							
							
							
					<?php $status = $modelBookingStatus->getById($this->booking['status_id']); ?>
						<?php if (isset($status['name']) && ('COMPLETED' == $status['name'] || 'FAILED' == $status['name'])): ?>
                       
							<div class="ibox float-e-margins" >
									
											<div class="ibox-title">
												<b>Customer Satisfaction</b>
											</div>
									
									
									<div class="ibox-content">
											<table  id="satisfaction" class="table table-bordered white-bg satisfaction_table" >
													
														<tbody>
														<tr>
																<td rowspan="2" class="middle_align"><label>Very Dissatisfied</label></td>
																<td><label>1</label></td>
																<td><label>2</label></td>
																<td><label>3</label></td>
																<td><label>4</label></td>
																<td><label>5</label></td>
																<td rowspan="2" class="middle_align"><label>Very Satisfied</label></td>
														</tr>
														<tr>
														
																	<td style="<?php echo $this->escape($this->booking['satisfaction'] == 1) ? 'background-color: #7EAF1F;' : ''; ?>" >
																		<?php if ($this->booking['satisfaction'] == 1): ?>
																			<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																		<?php endif; ?>
																	</td>
																	<td style="<?php echo $this->escape($this->booking['satisfaction'] == 2) ? 'background-color: #7EAF1F;' : ''; ?>">
																		<?php if ($this->booking['satisfaction'] == 2): ?>
																			<div style=" background-color: #7EAF1F;">
																				<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																			</div>
																		<?php endif; ?>
																	</td>
																	<td style="<?php echo $this->escape($this->booking['satisfaction'] == 3) ? 'background-color: #7EAF1F;' : ''; ?>">            
																		<?php if ($this->booking['satisfaction'] == 3): ?>
																			<div style=" background-color: #7EAF1F;">
																				<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																			</div>
																		<?php endif; ?>
																	</td>
																	<td style="<?php echo $this->escape($this->booking['satisfaction'] == 4) ? 'background-color: #7EAF1F;' : ''; ?>">            
																		<?php if ($this->booking['satisfaction'] == 4): ?>
																			<div style=" background-color: #7EAF1F;">
																				<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																			</div>
																		<?php endif; ?>
																	</td>
																	<td style="<?php echo $this->escape($this->booking['satisfaction'] == 5) ? 'background-color: #7EAF1F;' : ''; ?>">            
																		<?php if ($this->booking['satisfaction'] == 5): ?>
																			<div style=" background-color: #7EAF1F;">
																				<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																			</div>
																		<?php endif; ?>
																	</td>
														
														
														</tr>
														</tbody>
													</table>
									</div>
							</div>
	
			
						
								<div class="ibox float-e-margins  fadeInRight" >
						
										<div class="ibox-title">
										Technician Update Details
										</div>
										<div class="ibox-content">
										  <table class="table table_no_top_border">
							
													<tbody>
														<tr>
															<th class="labelText"><b>Onsite Client Name</b></th> 
															<td class="valueText"><?php echo $this->escape(isset($this->booking['onsite_client_name']) ? $this->booking['onsite_client_name'] : "") ?></td>
														</tr>
														
														<tr>
															<th class="labelText"><b>Job Start Time</b></th> 
															<td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['job_start_time'])); ?></td>
														</tr>
														
														<tr>
															<th class="labelText"><b>Job Finish Time</b></th> 
															<td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['job_finish_time'])) ?></td>
														</tr>
														
																
														<tr>
															<th class="labelText"><b>Products Name</b></th> 
															<td class="valueText">
																<?php $modelBookingProduct = new Model_BookingProduct(); ?>
																<?php $modelProduct = new Model_Product(); ?>
																<?php $bookingProducts = $modelBookingProduct->getByBookingId($this->booking['booking_id']); ?>
																
																<?php foreach ($bookingProducts as $bookingProduct) : ?>
																	<?php $product = $modelProduct->getById($bookingProduct['product_id']); ?>
																	<div>
																		<?php echo $this->escape(count($bookingProducts) > 1) ? '&#187;' : ''; ?>
																		<?php echo $this->escape($product['product']) ?> <b><?php echo $this->escape(!empty($bookingProduct['ltr']) ? '(' . $bookingProduct['ltr'] . 'Ltr)' : ''); ?></b> 
																	</div>
																<?php endforeach; ?>
															</td>
														</tr>
													</tbody>
												</table>
										</div>
								</div>
							<?php endif;?>
							
							
							
									
							<?php
								$view = new Zend_View();
								$view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');

								$view->bookingId = $this->booking['booking_id'];
								$view->view = 'invoice';

								echo $view->render('tabs.phtml');
							?>
							
							
							
						</div>
					</div>
					
					
					
					
					
					
				
					
				</div>
			</div>
			</div>
			</div>
				<div class="ibox services no-margin-b row"> 
					
							<div class="ibox-title col-md-12 col-lg-12 col-sm-12 col-xs-12 services_head black-gray">
									<div class="inline">&nbsp;
										<i class="fa fa-star">&nbsp;</i>
										Services 
									</div>
								
									
							</div>	
							
							<div class="ibox-content services_content" style="background-color:#788492 !important;">
					
					  <?php
                        $modelBooking = new Model_Booking();
                        $loggedUser = CheckAuth::getLoggedUser();
						?>

						
						
						
						<?php if ($this->bookingServices): ?>
                            <?php
                            $modelServices = new Model_Services();
                            $modelServiceAttribute = new Model_ServiceAttribute();
                            $modelUser = new Model_User();
                            $modelContractorInfo = new Model_ContractorInfo();
                            $modelUserInfo = new Model_UserInfo();
                            $modelAuthRole = new Model_AuthRole();
                            $modelServiceAttributeValue = new Model_ServiceAttributeValue();
                            $modelAttributeType = new Model_AttributeType();
                            $modelAttributeListValue = new Model_AttributeListValue();
                            $modelServiceAttributeValueTemp = new Model_ServiceAttributeValueTemp();
                            $service_countt =1 ; ?>
							
							<?php foreach ($this->bookingServices as $key => $bookingService): ?>
							
							
								
											
			
				
								<?php
								$isAccepted = $bookingService['is_accepted'];
								$isrejected = $bookingService['is_rejected'];
								
								$serviceId = $bookingService['service_id'];
								$clone = $bookingService['clone'];
								$bookingId = $bookingService['booking_id'];
								$contractorId = $bookingService['contractor_id'];
								$serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
								$serviceDetails = $modelServices->getById($serviceId);
								$user = $modelUser->getById($contractorId);
								$userInfo = 0;
								$contractorInfo = 0;
								$roleName = $modelAuthRole->getRoleName($user['role_id']);
								 
	
								$totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($bookingId);
								$rowspan = 9;
								$rowspan = !empty($totalAmountDetails['call_out_fee']) ? $rowspan + 1 : $rowspan;
								?>
								<?php if ('contractor' == $roleName): ?>
									<?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
								<?php else: ?>
									<?php $userInfo = $modelUserInfo->getByUserId($contractorId) ?>
								<?php endif; ?>
								<div class="ibox" id="services_<?php echo $service_countt;?>">
									
									<div class="ibox-title spec_height">
									
									
										<div>
												<div class="inline">
														<i class="fa fa-star">&nbsp;</i>
														<b><?php echo $this->escape($serviceDetails['service_name']); ?></b>
														
														<a class="collapse-link" style="color:#ccc;">
																<i class="fa fa-chevron-up"></i>
														</a>
												</div>	
												
													<?php if($isAccepted ==1):?>
														<div class="float-r accepted_services">
														
																<img height="12" width="12"
																	src="/pic/white_accepted.png" border="0"
																	alt="Accept">
														
														</div>
														<?php elseif($isrejected == 1):?>
														<div class="float-r reject_services">
																<img height="12" width="12"
																src="/pic/white_rejected.png" border="0"
																alt="Accept">
														</div>
												<?php elseif($isrejected==0 && $isAccepted==0 ):?>
													
													<div class="float-r unknown_services">
																<img height="12" width="12"
																 src="/pic/white_unknown.png" border="0"
																 alt="Accept">
													</div>
													
												<?php endif; ?>
											</div>
									</div>
									<div class="ibox-content">
												<?php 
														$serviceAttribute = $modelServiceAttribute->getAttributeByServiceId ( $serviceId );
														$unit_price = 0;
														$qty = 0;
															foreach ( $serviceAttribute as $attribute ) {
																if (! empty ( $this->isTemp )) {
																$value = $modelServiceAttributeValueTemp->getByBookingIdAndServiceAttributeIdAndClone ( $bookingId, $attribute ['service_attribute_id'], $clone );
																} else {
																$value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone ( $bookingId, $attribute ['service_attribute_id'], $clone );
																}
																switch ($attribute ['attribute_name']) {
																case 'Quantity' :
																	$qty = $value ['value'];
																	break;
																case 'Price' :
																	$unit_price = $value ['value'];
																break;		
															}
															}
												?>
												<div>
													<ul class="display-mobile">
															<li>
																<div>UNIT PRICE</div>
																<div><b><?php echo $this->escape($unit_price); ?></b></div>
															</li>
															
															<li>
																<div>QTY</div>
																<div><b><?php echo $this->escape($qty); ?></b></div>
															</li>
															
															<li>
																<div>TOTAL</div>
																<div><b><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></b></div>
															</li>
													</ul>
										
												
												</div>
									<table class="table invoice-table">
										
										
										<thead>										
												<th>
													Technician:	
													<span class="normal_font"> 
														<?php echo $this->escape($userInfo ? $userInfo['first_name'] . ' ' . $userInfo['last_name'] : (ucwords($user['username']) . ($contractorInfo ? ' - ' . ucwords($contractorInfo['business_name']) : ''))) ?>
													</span>
												</th>
												<th  class="mobile-none-display service_price centerize" >UNIT PRICE</th>											
												<th class="mobile-none-display service_qty centerize">QTY</th>
												<th class="mobile-none-display service_total centerize">TOTAL</th>
										</thead>
											
											
										<tbody>
												<td>
														<?php
														$serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);

														$unit_price = 0;
														$qty = 0;

														foreach ($serviceAttribute as $attribute) {
															//$serviceAttribute = $modelServiceAttribute->getByAttributeIdAndServiceId($attribute['attribute_id'], $attribute['service_id']);
															if (!empty($this->isTemp)) {
																$value = $modelServiceAttributeValueTemp->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute['service_attribute_id'], $clone);
															} else {
																$value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute['service_attribute_id'], $clone);
															}
															switch ($attribute['attribute_name']) {
																case 'Quantity':
																	$qty = $value['value'];
																	break;
																case 'Price':
																	$unit_price = $value['value'];
																	break;
																default :
																	if ($value['value']) {
																		$att = $modelAttributeType->getById($attribute['attribute_type_id']);
																		?>
																		<div>
																			<span>
																				<b><?php echo $this->escape($attribute['attribute_name']); ?> :</b>&ensp;
																			</span>
																			<span>
																				<?php
																				if ($att['is_list']) {
																					if ($value['is_serialized_array']) {
																						$values = unserialize($value['value']);
																						foreach ($values as $value) {
																							$attributeListValue = $modelAttributeListValue->getById($value);
																							if ($attributeListValue['unit_price']) {
																								echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b></div>';
																							} else {
																								echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</div>';
																							}
																						}
																					} else {
																						$attributeListValue = $modelAttributeListValue->getById($value['value']);
																						if ($attributeListValue['unit_price']) {
																							echo $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b>';
																						} else {
																							echo $this->escape($attributeListValue['attribute_value']);
																						}
																					}
																				} else {
																					
																					if($attribute['attribute_name'] == 'Description'){
																												  $description = nl2br ( $this->escape ( $value ['value'] ) ).'<br/>';
																												 }
																												 else{
																												  echo nl2br ( $this->escape ( $value ['value'] ) ).'<br/>';
																												 }
																				
																				}
																				?>
																			</span>
																		</div>
																		<?php
																	}
																	break;
															}
														}
														?>
															<?php if ($this->priceArray[$serviceAndClone] <= $serviceDetails['min_price']): ?>
																<div >
																	<span>
																		 <b>Min Price :</b>&ensp;
																	</span>
																	<span>
																		<?php echo $this->escape($serviceDetails['min_price']); ?>
																	</span>
																</div>
															<?php endif; ?>
															
															<div>
																<b>Description :</b>
																<span class="normal_font more_desc" id="descriptions"><?php echo $description ;?></span>
															</div>
												</td>
												<td class="mobile-none-display service_price centerize"><?php echo $this->escape($unit_price); ?></td>
												<td class="mobile-none-display service_qty centerize"><?php echo $this->escape($qty); ?></td>
												<td class="mobile-none-display service_total centerize"><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
										</tbody>
									</table>
						</div>
						
								</div>
								<?php $service_countt++;?>
					<?php endforeach; ?>		
					<?php endif;?>
				</div>
			</div>
		
	
 



		




	
	 
<script type="text/javascript">
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
		$.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array('type'=>'booking_invoice','type_id'=> $this->invoice['id']), 'updateFullTextSearchByTypeAndTypeId')); ?>',
                success: function(result) {
					console.log(result);
                    
                }
            });
	});
   
	function unpaid_contractor(url){
       
        $.ajax({
            type: "POST",
            url: url,
            dataType : "json",
            success: function(data) {
                
                //$('#status_'+data.booking_id+'_'+data.contractor_id).html('unpaid');
                //$('#unpaid_link_'+data.booking_id+'_'+data.contractor_id).html('');
                $('#contractor_invoice_num_'+data.booking_id+'_'+data.contractor_id).html('');
				
            }
            
        });
    }
</script>

		<script>
		
					function UpdateTableHeaders() {
					  var fixedwidth = $('.services').width();
					   $(".services").each(function() {
						   var el             = $(this),
							   offset         = el.offset(),
							   scrollTop      = $(window).scrollTop(),
							   floatingHeader = $(".floatingHeader", this)
						   
						   if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
							   floatingHeader.css({
								"visibility": "visible","width":fixedwidth
							   });
						   } else {
							   floatingHeader.css({
								"visibility": "hidden"
							   });      
						   };
					   });
					}

					// DOM Ready      
					$(function() {

					   var clonedHeaderRow;

					   $(".services").each(function() {
						   clonedHeaderRow = $(".services_head", this);
						   clonedHeaderRow
							 .before(clonedHeaderRow.clone())
							
							.addClass("floatingHeader");
							 // .css("width", clonedHeaderRow.width())
							//.css({'position': 'fixed','top':'0','z-index':'1000'});
					   });
					   
					   $(window)
						.scroll(UpdateTableHeaders)
						.trigger("scroll");
					   
					});
	</script>


