<table border="0" cellspacing="0" cellpadding="0" >
    <?php foreach ($this->labels as $label): ?>
        <tr>
            <td>
                <input type="checkbox" id="label_<?php echo $this->escape($label['id']); ?>" name="label_ids[]"  value="<?php echo $this->escape($label['id']); ?>"/>
            </td>&nbsp;
            <td>
                <label for="label_<?php echo $this->escape($label['id']); ?>"><?php echo $this->escape($label['label_name']); ?></label>
            </td>
        </tr>
    <?php endforeach; ?>
</table>