<form id="label-form" method="POST" onsubmit="submit_label('<?php echo $this->escape($this->url(array('id' => $this->bookingId), 'bookingSelectLabel')); ?>','#label-form');return false;">
    <div style="margin-top: 10px;">
        <input type="text"  name="label-like" id="label-like" onkeyup="labelSearch();" class="form-control"/>
    </div>
    <div style="overflow: auto; height: 170px; margin-top: 10px;" id="tabelResult">
        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
            <?php foreach ($this->labels as $label): ?>
                <?php $checked = isset($this->label_ids) && in_array($label['id'], $this->label_ids) ? 'checked="checked"' : ''; ?>
                <tr>
                    <td style="width: 30px;">
                        <input type="checkbox" id="label_<?php echo $this->escape($label['id']); ?>" name="label_ids[]"  value="<?php echo $this->escape($label['id']); ?>" <?php echo $checked; ?>/>
                    </td>
                    <td>
                        <label for="label_<?php echo $this->escape($label['id']); ?>"><?php echo $this->escape($label['label_name']); ?></label>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
    <div  id="button_cont">
        <input type="submit" class="btn btn-primary" value="Apply" id="button" name="button"/> 
        <?php if (CheckAuth::checkCredential(array('bookingAddLabel'))): ?>
        <span class="or_span">or</span>
            <a href="#" onclick="popupi('Add booking label','<?php echo $this->escape($this->url(array('id' => $this->bookingId), 'bookingAddLabel')); ?>');">Add Label</a>
        <?php endif; ?>
    </div>
</form>

