<script type="text/javascript">

    var selected_service = new Array();
<?php if ($this->selectedServices): ?>
    <?php foreach ($this->selectedServices as $selectedService): ?>
        <?php
        $selectedServiceArray = explode('_', $selectedService);
        $serviceId = isset($selectedServiceArray[0]) ? $selectedServiceArray[0] : '';
        $clone = isset($selectedServiceArray[1]) ? $selectedServiceArray[1] : '';
        $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
        ?>
            selected_service['<?php echo $this->escape($serviceAndClone); ?>'] = '<?php echo $this->escape($serviceAndClone); ?>';
    <?php endforeach; ?>
<?php endif; ?>

    //
    //fun to get all city in selected country
    //
    function getStateByCountryId() {
        if ($('#country').val()) {
            $('#state_block').css('display', 'block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id=" + $('#country').val() + "&onChange=getCitiesByCountryId",
                success: function (msg) {
                    $('#state_cont').html(msg);
                }
            });
        } else {
            $('#state_block').css('display', 'none');
            $('#city_block').css('display', 'none');
        }
    }

    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId() {
        if ($('#state').val()) {
            $('#city_block').css('display', 'block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id=" + $('#country').val() + "&state=" + $('#state').val() + "&onChange=getServices&isOnChange=1",
                success: function (msg) {
                    $('#city_cont').html(msg);
                }
            });
        } else {
            $('#city_block').css('display', 'none');
        }
    }


    //
    //fun to get all service Available in selected city
    //
    function getServices() {

        //selected_service = new Array();

        if ($('#city_id').val()) {
            $('#keywordsResult').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'servicesAvailable')); ?>",
                data: "city_id=" + $('#city_id').val() + '&type=inquiry',
                success: function (msg) {
                    $('#keywordsResult').html(msg);
                }
            });
        }
    }

    //
    //in search box any key pressed will call this fun to get service like this key 
    //
    function searchServices() {
        $('#keywordsResult').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'searchServices')); ?>",
            data: "city_id=" + $('#city_id').val() + "&" + $('#fmEdit').serialize(),
            success: function (msg) {
                $('#keywordsResult').html(msg);
            }
        });
    }

    //
    //fun call when any service checked 
    //
    function checkService(service_id, service_name) {

        var clone = 0;
        var service = service_id;
        while (selected_service[service]) {
            clone++
            service = service_id + '_' + clone;
        }

        selected_service[service] = service;

        //
        //add servise in featured block
        //
        $('#selectedServices').append(
			'<div class="ibox" class="service_auto_generate_title" id="service_checked_' + service + '">' +
				'<div class="ibox-title service_auto_generate_title">'+
					'<div class="inline">' +
						'<i class="fa fa-star fa-lg">&nbsp;</i>' +
						'<b>' + $('#' + service_name).html() + '</b>' +
					'</div>' +
					'<div class="inline float-r">' +
						'<ul class="new_service_operation">' +
						'<li>' +
						'<a href="javascript:;" onclick="checkService(\'' + service_id + '\',\'' + service_name + '\')">' +
						'<img src="/pic/icons/clone.png"/> Clone</a></li>' +
						'<li> &nbsp;&nbsp;<a href="javascript:;" onclick="removeService_1(\'' + service + '\')">' +
						'<i class="fa fa-minus-circle fa-lg" style="color:#FFF;"></i></a></li>' +
						'</ul>' +
					'</div>'+
					 '<input type="hidden" name="services[]" value="' + service + '"/>' +
				'</div>'+
				'<div class="ibox-content"><div id="attribute_' + service + '" class="inquiry_attribute_full_width"></div>'+
				'<div class="clearfix"></div></div>'+
			'</div>');
			
        //
        //get all servise atribute by service_id
        //
        $('#attribute_' + service).html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'drowAttribute')); ?>",
            data: "service_id=" + service_id + "&clone=" + clone + "&without_pricing=1",
            success: function (msg) {
				var obj = JSON.parse(msg);
                $('#attribute_' + service).html(obj.first);
                $('#attribute_' + service).append(obj.second);
            }
        });
		
		
		$(document).ready(function () {
            target = $('#service_checked_' + service);
            $('html,body').animate({
                scrollTop: target.offset().top
            }, 1500);



        });
    }

    //
    //fun call when any service removed
    //
	
	    function removeService_1(service) {

        popupi_alert('<i class="fa fa-warning" "></i>&nbsp;Confirm', 'Are you sure you want to delete this Service ??');

        $('.modal-footer').show();

        $('#popupi .modal-footer').html('<a type="button" class="btn btn-danger" data-dismiss="modal"  onclick = "removeService(\'' + service + '\')" >Ok</a> <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>');
    }
    function removeService(service) {
        $('#service_checked_' + service).remove();
        selected_service[service] = '';
    }


    //
    //select radio customer
    //
    function select_customer(customer_id, customer_name) {
		//console.log('by islam222222');
        if (customer_id) {

            $('#customer_id').val(customer_id);
            $("#auto_customer_id").val(customer_name);
            console.log("select_customer_function");
            console.log(customer_id);
			//fillCustomerDetails();
            getInquiryAddress();
            showEditCustomer();
            $('#customerResultInput').hide();
            $("#popupi").modal('hide');
        }
    }
	
	
	
	 function customerSearch(){
        var query = $('#customer-like').val();
        if (query.length >2){
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerSearch')); ?>",
                data: "customer-like="+$('#customer-like').val(),
                success: function(msg) {
                    $('#customerResult').html(msg);
                }
            });
        }else{
            $('#customerResult').html('');
        }
    }
	
	
function customerSearchInput() {
        var query = $('#auto_customer_id').val();
        if (query.length > 2) {
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerSearch')); ?>",
                data: "customer-like=" + $('#auto_customer_id').val(),
                success: function (msg) {
                    $('#customerResultInput').show();
                    $('#customerResultInput').html(msg);
                }
            });
        } else {
            $('#customerResultInput').hide();
            $('#customerResultInput').html('');
        }
    }
    //
    //function that will display the booking address
    //
    function getInquiryAddress() {
        if ($('#customer_id').val()) {
            $("#popupi").modal('hide');
            $('#inquiry_address').css('display', 'block');
            $('#inquiry_address').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'InquiryAddressBlock')); ?>",
                data: "customer_id=" + $('#customer_id').val() + "&type=inquiry",
                success: function (msg) {
                    $('#inquiry_address').html(msg);
                }
            });
        } else {
            $('#inquiry_address').css('display', 'none');
        }
    }
	
	///By islam
	function fillCustomerDetails() {
        if ($('#customer_id').val()) {
            /*$("#popupi").modal('hide');
            $('#inquiry_address').css('display', 'block');
            $('#inquiry_address').html('<img src="/pic/loading-4.gif">');*/
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerInfoAsJson')); ?>",
                data: "id=" + $('#customer_id').val(),
                success: function (msg) {
					var obj = JSON.parse(msg);
					if(obj.success == 1){
						 console.log(obj.success);
						 console.log(obj.customer);
						 $('#unit_lot_number').val(obj.customer.unit_lot_number);
						 $('#street_number').val(obj.customer.street_number);
						 $('#street_address').val(obj.customer.street_address);
						 $('#suburb').val(obj.customer.suburb);
						 $('#postcode').val(obj.customer.postcode);
						 $('#po_box').val(obj.customer.po_box);
						 if(obj.customer.state != ''){
							 $('#customer_state option[value='+obj.customer.state+']').attr("selected","selected");
						 }
						 if(obj.customer.city_id != ''){
							 $('#customer_city_id option[value='+obj.customer.state+']').attr("selected","selected");
						 }
						 
					}
                  
                }
            });
        } else {
           console.log('No customer id');
        }
    }

    $(document).ready(function () {
        /* $("#deferred_date").datetimepicker({
         ampm: true,
         timeFormat: 'hh:mm TT',
         dateFormat: 'yy-mm-dd'
         });*/
		 
		/* $('#comment').summernote({height: 200,
	 onkeyup: function(e) {
        $("textarea[name='comment']").html($("#comment").code());
      }});*/
      $('.note-insert').hide();	  
	  
    });
	
	
    //to show the attribute div
    function getInquiryTypeAttributes() {
        var inquiry_type_id = $('#inquiry_type_id').val();

        if (inquiry_type_id) {
            $('#inquiry_attributes').show(500);
            $('#inquiry_attributes').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'inquiryTypeAttributes')); ?>",
                data: "inquiry_type_id=" + inquiry_type_id,
                success: function (msg) {
                    if (msg == '0') {
                        $('#inquiry_attributes').hide(500);
                    } else {
                        $('#inquiry_attributes').html(msg);
                    }
                }
            });
        } else {
            $('#inquiry_attributes').hide(500);
        }
    }



    // auto complete customer search
    /*$(function() {
     $( "#auto_customer_id" ).autocomplete({
     
     source: function( request, response ) {
     $("#customer_id" ).val('');
     $("#edit_customer" ).css('display','none');
     $('#inquiry_address').css('display','none');
     
     $.ajax({
     url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
     dataType:"json",
     data: {
     limit: 50,
     fltr: {
     full_name_search: request.term
     }
     },
     success: function( data ) {
     response( $.map( data, function( item ) {
     return {
     label: item.customer_name,
     value: item.customer_name,
     customer_id:item.customer_id
     }
     }));
     }
     });
     },
     minLength: 1,
     select: function( event, ui ) {
     var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
     $('#customer_id').val(customer_id);
     //
     // get Booking Address
     //
     getAddress('#customer_id','#inquiry_address','<?php echo $this->escape($this->url(array(), 'InquiryAddressBlock')); ?>');
     showEditCustomer();
     },
     open: function() {
     $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
     },
     close: function() {
     $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
     }
     });
     }); */

    function check_is_to_follow(is_to_follow) {
        if ($(is_to_follow).is(':checked')) {
            $('#deferred_date_cont').show();
        } else {
            $('#deferred_date_cont').hide();
        }
    }


</script>
<script>

    function UpdateTableHeaders() {
        var fixedwidth = $('.services').width();
        $(".services").each(function () {
            var el = $(this),
                    offset = el.offset(),
                    scrollTop = $(window).scrollTop(),
                    floatingHeader = $(".floatingHeader", this)

            if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
                floatingHeader.css({
                    "visibility": "visible", "width": fixedwidth
                });
            } else {
                floatingHeader.css({
                    "visibility": "hidden"
                });
            }
            ;
        });
    }

  
    $(function () {

        var clonedHeaderRow;

        $(".services").each(function () {
            clonedHeaderRow = $(".services_head", this);
            clonedHeaderRow
                    .before(clonedHeaderRow.clone())

                    .addClass("floatingHeader");
            // .css("width", clonedHeaderRow.width())
            //.css({'position': 'fixed','top':'0','z-index':'1000'});
        });

        $(window)
                .scroll(UpdateTableHeaders)
                .trigger("scroll");   

    });
</script>
