<?php
$modelAuthRole = new Model_AuthRole();
$modelUser = new Model_User();

$superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$loggedUser = CheckAuth::getLoggedUser();
$user_id = $loggedUser['user_id'];
$user = $modelUser->getById($user_id);

?>

<?php if(isset($this->is_first_time) && $this->is_first_time == 1):?>
<?php if(isset($this->data) && !empty($this->data)) : ?>

  <?php if($this->isDeleted):?>
    <form class="form" action="<?php echo $this->escape($this->url(array(), 'inquiryDeleteForeverBtn')); ?>" method="POST" onsubmit="return confirm('Are you sure you want to delete this inquiry ?');">
		<?php if (CheckAuth::checkCredential(array('inquiryDelete'))): ?>
					     <input class="btn btn-danger" type="submit" value="Delete Forever"/>
		<?php endif; ?>	
  
  <?php else:?>
  <form action="<?php echo $this->escape($this->url(array(), 'inquiryDeleteBtn')); ?>" method="POST" onsubmit="return confirm('Are you sure you want to delete this inquiry ?');" id="fmInquiries" class="form" >
                        <?php if (isset($this->filters['is_spam']) && $this->filters['is_spam'] == 1 && ($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('inquiryMarkAsSpam')))) { ?>
                            <input type="button" value="Delete For Ever" onclick="doInquiruesDelete('<?php echo $this->escape($this->url(array(), 'inquiryDeleteForeverBtn').'?is_spam=1'); ?>');" class="btn btn-danger"/>
                        <?php } else {
                            ?>
                            <input class="btn btn-danger" type="button" onclick="doInquiruesDelete('<?php echo $this->escape($this->url(array(), 'inquiryDeleteBtn')); ?>');" value="Delete"/>
                        <?php } ?>

    <?php
    ////check if this page is the index and view all inquires not only the spam if it views spam only we don't need mark as spam button
    if (!isset($this->filters['is_spam']) && ($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('inquiryMarkAsSpam')))) {
        ?>

                            <input type="button" value="Mark As Spam" onClick="mark_as_spam(); return false;" class="btn btn-danger" />

    <?php } ?>
	
	<?php endif;?>

                        <table class="table table-bordered responsive-table" id="inquiry-responsive-table" border="0" cellspacing="0" cellpadding="0">

                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" /></th>
                                    <th><?php echo SortOrder::generate_link('Inquiry#', 'created') ?></th>
                                    <th><b>Details</b></th>
									<?php if($this->isDeleted):?>
									 <th><b>Customer Name</b></th>
									 <th><b>Services / Deferred to</b></th>
									<?php else:?>
                                    <th class="inquiry-service-column"><b>Services</b></th>
                                    <th><b><?php echo SortOrder::generate_link('Failed Contact Attempts', 'latest_reminder_created') ?></b></th>
									<?php endif;?>
                                </tr>
                            </thead>

                            <tbody id="result">

<?php else: ?>

    <?php if (isset($this->filters['to_follow']) && $this->filters['to_follow'] == true): ?>
                        <ul>
                            <li><?php echo FilterLink::generate_link('all', array('sort' => 'deferred_date', 'method' => 'asc', 'fltr' => array('status' => 'inquiry', 'to_follow' => true)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true && !isset($this->filters['to_follow_date']), true); ?>
                            </li>
                            |<li><?php echo FilterLink::generate_link('past', array('fltr' => array('status' => 'inquiry', 'to_follow_date' => 'past')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'past'); ?>
                            </li>
                            |<li>
        <?php echo FilterLink::generate_link('today', array('fltr' => array('status' => 'inquiry', 'to_follow_date' => 'today')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'today'); ?>
                            </li>
                            |<li><?php echo FilterLink::generate_link('future', array('fltr' => array('status' => 'inquiry', 'to_follow_date' => 'future')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'future'); ?>
                            </li>
                        </ul>
    <?php endif; ?>

  <span class="fa fa-ban"></span>
                    <br/>
                    <h3 class="font-bold">There are no inquiries.</h3>

 <?php endif;?>		
<?php endif;?>	



<?php if(isset($this->data) && !empty($this->data)) :?>
<?php $modelInquiryAddress = new Model_InquiryAddress ?>
    <?php $modelUser = new Model_User(); ?>
	<?php $modelCustomer = new Model_Customer(); ?>
    <?php $counter = 0; ?>
    <?php foreach ($this->data as $row) : ?>
        <?php $counter += 1; ?>

                                    <tr id="<?php echo $this->escape('inquiry_' . $row['inquiry_id']); ?>" class="<?php if ($counter % 2 != 0) {
            echo $this->escape('tr_cont_1');
        } else {
            echo $this->escape('tr_cont_2');
        } ?>">	
                                        <td class="checkbox_booking_cont">
                                            <input type="checkbox" id="delete-check" name="ids[]" value="<?php echo $this->escape($row['inquiry_id']); ?>" />
                                        </td>
										
										<?php if($this->isDeleted):?>
										
										<td>
                                        <div class="details_info_l">
                                          
                                                <?php if (CheckAuth::checkCredential(array('inquiryView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['inquiry_num']) ?></b></a>
                                                <?php endif; ?>
                                          
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['status']) {
                                                case 'inquiry':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'booking':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>;">
                                                <?php echo $this->escape(ucfirst($row['status'])); ?>
                                            
                                                <?php if (CheckAuth::checkCredential(array('customerLocation'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                           
                                                <?php if (CheckAuth::checkCredential(array('inquiryView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryView')); ?>" class="a_link_black"><?php echo $this->escape($row['title']) ?></a>    
                                                <?php endif; ?>
                                            
                                            
                                                <span style="color: #A1A1A1;">Date:</span><?php echo $this->escape(getDateFormating( $row['created'])) ?>
                                           
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('inquiryDeleteForever'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryDeleteForever')); ?>" onclick="return confirm('Are you sure you want to delete this inquiry ?');" class="details_info_opt">Delete Forever</a>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('inquiryUndelete'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryUndelete')); ?>" onclick="return confirm('are you sure you want to restore this inquiry?');" class="details_info_opt">UnDelete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            
                                                <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                    <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </a>    
                                                <?php else: ?>
                                                    <span class="span_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </span>    
                                                <?php endif; ?>
                                       
                                        </div>
                                    </td>

                                    <?php if ($row['deferred_date']): ?>
                                        <td class="details_info_l">
                                         
                                                <?php echo $this->escape(date(get_config('date'), $row['deferred_date'])) ?>
                                           
                                        </td>
                                    <?php else: ?>
                                        <td class="details_info_l">
                                            <div class="details_info_l">
                                                <?php foreach ($row['allService'] as $serviceName): ?>
                                                    
                                                        <?php echo $this->escape($serviceName); ?>
														
														
                                                <?php endforeach; ?>
                                            </div>
                                        </td>
                                    <?php endif; ?>
										
										<?php else: ?>
                                        <td>
                                            <div>
                                            <?php if (CheckAuth::checkCredential(array('inquiryView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryView')); ?>" 
                                                       class="details_info_name">
                                                        <b><?php echo $this->escape($row['inquiry_num']); ?></b>
                                                    </a>
                                            <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['status']) {
                                                case 'inquiry': {
                                                        if (isset($row['labels']) && !empty($row['labels'])) {
                                                            $color = '#009900';
                                                            break;
                                                        } else {
                                                            $color = '#A1A1A1';
                                                            break;
                                                        }
                                                    }
                                                case 'estimate':
                                                    $color = '#4F8BC3';
                                                    break;
                                                case 'booking':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>

                                            <div>
                                                <div style="color:<?php echo $this->escape($color); ?>">
                                                    <?php echo $this->escape(ucfirst($row['status'])); ?>
        <?php /*  <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryLocation')); ?>" 				
          > <img src="/pic/icons/location.png" border="0"/>
          </a>
         */ ?>
                                                </div>
                                                <div>
                                                        <?php if (!empty($row['have_attachment'])): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryAttachment')); ?>" class="details_info_opt"><img src="/pic/icons/attach.png" border="0"></a>
                                                    <?php endif; ?>
                                                </div>
                                                <div class="details_info_l">
        <?php if ($row['labels']): ?>
                                                        <span><i class="fa fa-tag"></i>&nbsp;<b>Label(s):</b></span>

            <?php foreach ($row['labels'] as $label): ?>
                                                            <div class="label_box">
                <?php echo $this->escape($label); ?> 
                                                            </div>
            <?php endforeach;
        endif; ?>
                                                </div> 
                                            </div>


                                        </td>
                                        <td class="inquiry-details"><!-- details -->
                                            <div class="details_info_l">
                                                <div class="customer_date_details">
                                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                                </div>
                                                <div id="address_list_inquiry">
                                                    <?php $address = $modelInquiryAddress->getByInquiryId($row['inquiry_id']); ?>
        <?php $lineAddress = get_line_address($address); ?>
                                                    <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryLocation')); ?>">
                                                        <?php echo $this->escape($lineAddress); ?><?php echo!empty($row['customer']['city_name']) ? " | " . $this->escape($row['customer']['city_name']) : '' ?>
                                                    </a>
                                                </div>

                                                <div id="city_list_inquiry">

                                                    <?php if (!empty($row['customer_name'])): ?>
                                                        <div>
                                                            <span><i class="fa fa-user"></i></span>
                                                        <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                                <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black"><?php echo $this->escape($row['customer_name']); ?></a>
                                                        <?php else: ?>
                                                            <?php echo $this->escape($row['customer_name']) ?>
                                                        <?php endif; ?>
                                                        </div>   
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['customer_commercial_info']['business_name'])): ?>
                                                        <div><span><i class="fa fa-building"></i> Business Name :</span> <?php echo $this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name'])) ?></div>
                                                    <?php endif; ?> 
                                                    <?php /*
                                                      <?php if (!empty($row['customer']['email1'])): ?>
                                                      <div><span><i class="fa fa-envelope">&nbsp;</i></span> <?php echo $this->escape($row['customer']['email1']) ?></div>
                                                      <?php endif; ?>

                                                      <?php if (!empty($row['customer']['email2'])): ?>
                                                      <div><span><i class="fa fa-envelope">&nbsp;</i></span> <?php echo $this->escape($row['customer']['email2']) ?></div>
                                                      <?php endif; ?>

                                                      <?php if (!empty($row['customer']['email3'])): ?>
                                                      <div><span><i class="fa fa-envelope">&nbsp;</i></span> <?php echo $this->escape($row['customer']['email3']) ?></div>
                                                      <?php endif; ?>
                                                     */ ?>
                                                    <?php if (!empty($row['customer']['mobile1updated'])): ?>
                                                        <div><span><i class="fa fa-mobile-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['mobile1updated']) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['mobile2updated'])): ?>
                                                        <div><span><i class="fa fa-mobile-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['mobile2updated']) ?></div>
                                                    <?php endif; ?>
                                                    <?php if (!empty($row['customer']['mobile3updated'])): ?>
                                                        <div><span><i class="fa fa-mobile-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['mobile3updated']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['phone1updated'])): ?>
                                                        <div><span><i class="fa fa-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['phone1']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['phone2updated'])): ?>
                                                        <div><span><i class="fa fa-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['phone2']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['phone3updated'])): ?>
                                                        <div><span><i class="fa fa-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['phone3']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['fax'])): ?>
                                                        <div><span>Fax :</span> <?php echo $this->escape($row['customer']['fax']) ?></div>
                                                    <?php endif; ?>

                                                <?php if (!empty($row['customer']['po_box'])): ?>
                                                        <div><span>PO Box :</span> <?php echo $this->escape($row['customer']['po_box']) ?></div>
        <?php endif; ?>

                                                    <?php if (!empty($row['customer']['customer_contacts'])): ?>
                                                    <?php foreach ($row['customer']['customer_contacts'] as $customerContact): ?>
                                                            <div><span><?php echo $this->escape($customerContact['contact_label']) ?> :</span> <?php echo $this->escape($customerContact['contact']) ?></div>
            <?php endforeach; ?>
        <?php endif; ?>

                                                </div>
                                                <?php if (!empty($row['deferred_date'])): ?>
                                                    <div class="deferred">
                                                        <span class="deferred_color"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Deferred To :</span>
                                                    <?php echo $this->escape(getDateFormating($row['deferred_date'])) ?>
                                                    </div>
                                                <?php endif; ?>

                                            </div>
                                            <div class="details_info_l actions-list">
                                                <?php
                                                $actions = array();

                                                if ($row['status'] == 'inquiry') {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryEdit')) . '" class="details_info_opt"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('inquiryConvertToBooking')) && $row['status'] == 'inquiry') {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryConvertToBooking')) . '" class="details_info_opt">Convert To Booking</a>';
                                                } elseif ($row['status'] == 'booking') {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryConvertToBooking')) . '" class="details_info_opt">Convert To Booking</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('inquiryConvertToEstimate')) && $row['status'] == 'inquiry') {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryConvertToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
                                                } elseif ($row['status'] == 'estimate') {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryConvertToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('inquiryEdit'))) {
                                                    if (isset($row['is_to_follow']) && $row['is_to_follow']) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'removeFollowUpInquiry')) . '" class="details_info_opt">Remove Follow Up</a>';
                                                    } else {
                                                        $popupConfig = "'Follow Up Inquiry','{$this->escape($this->url(array('id' => $row['inquiry_id']), 'followUpInquiry'))}'";
                                                        $actions[] = '<a class="details_info_opt"  data-toggle="modal" data-target="#popupi" herf="#" onclick="popupi(' . $popupConfig . ');">Follow Up</a>';
                                                    }
                                                }

                                                $findAvailabilityParams = array();
                                                $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($address['unit_lot_number']);
                                                $findAvailabilityParams[] = 'street_number=' . urlencode($address['street_number']);
                                                $findAvailabilityParams[] = 'street_address=' . urlencode($address['street_address']);
                                                $findAvailabilityParams[] = 'suburb=' . urlencode($address['suburb']);
                                                $findAvailabilityParams[] = 'state=' . urlencode($address['state']);
                                                $findAvailabilityParams[] = 'postcode=' . urlencode($address['postcode']);
                                                $findAvailabilityParams[] = 'city_id=' . urlencode($row['city_id']);
                                                foreach ($row['service_attribute'] as $service) {
                                                    $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                                }
                                                $findAvailabilityParams = implode("&", $findAvailabilityParams);

                                                $popupConfig = "'Find Availability','{$this->escape($this->url(array(), 'findAvailability'))}','{$findAvailabilityParams}'";

                                                $actions[] = '<a  data-toggle="modal" data-target="#popupi" class="details_info_opt"  href="#" onclick="popupi_with_parm(' . $popupConfig . ');">Find Availability</a>';



                                                $nearestBookingParams = array();
                                                $nearestBookingParams[] = 'unit_lot_number=' . urlencode($address['unit_lot_number']);
                                                $nearestBookingParams[] = 'street_number=' . urlencode($address['street_number']);
                                                $nearestBookingParams[] = 'street_address=' . urlencode($address['street_address']);
                                                $nearestBookingParams[] = 'suburb=' . urlencode($address['suburb']);
                                                $nearestBookingParams[] = 'state=' . urlencode($address['state']);
                                                $nearestBookingParams[] = 'postcode=' . urlencode($address['postcode']);
                                                $nearestBookingParams[] = 'city_id=' . urlencode($row['city_id']);

                                                $nearestBookingParams = implode("&", $nearestBookingParams);
                                                $popupConfig = "'Nearest Bookings','{$this->escape($this->url(array(), 'getRelatedAddress'))}','{$nearestBookingParams}'";
                                                $actions[] = '<a class="details_info_opt"  data-toggle="modal" data-target="#popupi" herf="#" onclick="popupi_with_parm(' . $popupConfig . ');">Nearest Bookings</a>';


                                                if (CheckAuth::checkCredential(array('inquiryDiscussion'))) {
                                                    $popupConfig = "'Inquiry Discussion','{$this->escape($this->url(array('id' => $row['inquiry_id'],'process'=>'send','type'=>'inquiry'), 'itemDiscussion'))}'";
                                                    $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Inquiry Discussion</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('inquiryLabel'))) {
                                                    $popupConfig = "'Search Label','{$this->escape($this->url(array('inquiry_id' => $row['inquiry_id']), 'inquirySelectLabel'))}'";
                                                    $actions[] = '<a data-toggle="modal" data-target="#popupi" href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('attachment'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) {
                                                    $popupConfig = "'Advertising Email','{$this->escape($this->url(array('id' => $row['inquiry_id']), 'sendInquiryAdvertisingEmail'))}'";
                                                    $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Advertising Email</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('inquiryDelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryDelete'))}','Are you sure you want to delete this inquiry ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                                }

                                                $line_actions = array_slice($actions, 0, 1);
                                                $drop_down_actions = array_slice($actions, 1);
                                                ?>

                                                        <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                                        <?php if ($drop_down_actions): ?>





                                                    <div class="btn-group ">
                                                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions  <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                                <li> <?php echo $drop_down_action; ?> </li>
                                                <?php endforeach; ?>
                                                        </ul>
                                                    </div>

                                            <?php endif; ?>
                                            </div>
                                            <div class="details_info_l"></div>
                                        </td>
                                        <td class="details_info_l">
                                            <?php
                                            $modelOriginalInquiry = new Model_OriginalInquiry();
                                            $tradingNameObj = new Model_TradingName();
                                            //var_dump($row['trading_name']);
                                            $originalInquiry = $modelOriginalInquiry->getById($row['original_inquiry_id']);
                                            //var_dump($originalInquiry);
                                            if (!empty($originalInquiry)) {
                                                $trading_names = $tradingNameObj->getTradingNameByWebsite($originalInquiry['website']);



                                                if (!empty($trading_names)) {
                                                    ?>
                                                    <div class="">Trading Name : <b><?= $trading_names['trading_name'] ?></b></div>
                                                        <?php } else if ($row['website_url'] == $originalInquiry['website']) {
                                                            ?>
                                                    <div class="">Trading Name : <b><?= $row['trading_name'] ?></b></div>
                                                        <?php }
                                                    } else {
                                                        ?>
                                                <div class="">Trading Name : <b><?= $row['trading_name'] ?></b></div>
                                                        <?php }
                                                        ?>

                                                        <?php foreach ($row['service_attribute'] as $service_attribute): ?>
                                                <div class="details_info_l">
                                                    <div>
                                                            <?php echo '<i class="fa fa-star"></i>&nbsp;' . $this->escape($service_attribute['service_name']); ?>
                                                    </div>
                                                    <div>
                                                            <?php if (isset($service_attribute['attributes'])) { ?>
                                                            <?php foreach ($service_attribute['attributes'] as $attribute): ?>

                                                                <div>
                    <?php
                    if (is_array($attribute['value'])) {
                        foreach ($attribute['value'] as $value) {
                            echo $this->escape($value) . '<br/>';
                        }
                    } else {
                        echo $this->escape($attribute['value']);
                    }
                    ?>
                                                                </div>
                                                    <?php endforeach; ?>
                                                <?php } ?>
                                                    </div>
                                                </div>
                                            <?php endforeach; ?>

                                            <?php
                                            $service_ids = array();
                                            foreach ($row['service_attribute'] as $service) {
                                                $service_ids[] = $service['service_id'];
                                            }
                                            $service_ids_string = serialize($service_ids);
                                            ?>

                                            <?php //D.A 24/10/2015 Inquiry Photos Count ?>
        <?php
        $modelImage = new Model_Image();
        $photoCount = count($modelImage->getAll($row['inquiry_id'], 'inquiry', 'i.created desc'));
        //$photoCount = $modelImageAttachment->inquiryPhotosCount($row['inquiry_id'], 'inquiry', 'iu.created desc');
        ?>
                                            <div> 
        <?php if ($photoCount) { ?>
                                                    <i class="fa fa-camera"></i> &nbsp;
                                                    <a href="<?php echo $this->escape($this->url(array('itemid' => $row['inquiry_id'], 'type' => 'inquiry'), 'ItemAttachmentList')); ?>" class="details_info_opt"><?php echo $photoCount ?><?php if ($photoCount == 1) {
                echo str_repeat('&nbsp;', 1) . 'Photo';
            } else {
                echo str_repeat('&nbsp;', 1) . 'Photos';
            } ?> </a>
                                                    <?php } ?>
                                            </div>

                                                    <?php //D.A 24/10/2015 Inquiry Photos Count End ?>
                                            <a class="details_info_opt"  href="#" onclick="popupi('Distance to Contractors', '<?php echo $this->escape($this->url(array('inquiry_id' => $row['inquiry_id'], 'service_ids' => $service_ids_string), 'getAllContractorDistances')); ?>');" data-target="#popupi" data-toggle="modal">
                                                <span class="maps-icon"></span>Distance to Contractors</a>



                                        </td>



                                        <td class="inquiry-history">
                                            <div  id = "reminder_<?php echo $this->escape($row['inquiry_id']); ?>" class="details_info_l">
        <?php if (isset($row['reminder']) && $row['reminder']): ?>
            <?php foreach ($row['reminder'] as $reminder): ?>
                                                        <div>
                                            <?php $user = $modelUser->getById($reminder['user_id']); ?>
                                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Note', '<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'inquiryReminderView')); ?>');" class="details_info_opt"><?php echo $this->escape($user['username'] . ' - ' . getDateFormating($reminder['created'])); ?></a>
                <?php if (CheckAuth::checkCredential(array('inquiryReminderDelete'))): ?>
                                                                <a href="#" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $row['inquiry_id'], 'reminder_id' => $reminder['id']), 'inquiryReminderDelete')); ?>');" ><img height="10" width="10" src="/pic/remove.png" border="0" ></a>
                <?php endif; ?>
                                                        </div>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php if (CheckAuth::checkCredential(array('inquiryReminderAdd'))): ?>
                                                    <div>
                                                        <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Add note', '<?php echo $this->escape($this->url(array('inquiry_id' => $row['inquiry_id']), 'inquiryReminderAdd')); ?>', '180', '400', 'Add Note');" class="details_info_opt btn btn-white"> <i class="fa fa-plus"></i> Add Note</a>
                                                    </div>
                            <?php endif; ?>
                                            </div>
                                        </td>									
							<?php endif; ?>			
                                    </tr>
                <?php endforeach; ?>
				<?php endif;?>
				
				
<?php if(isset($this->is_first_time) && $this->is_first_time == 1 && (isset($this->data) && !empty($this->data))):?>
  </tbody>
 </table>
</form>
<?php endif;?>


