<?php
$modelServiceAttribute = new Model_ServiceAttribute();
$modelAuthRole = new Model_AuthRole();
$loggedUser = CheckAuth::getLoggedUser();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');

if ($this->originalInquiry) {

    $tradingNameObj = new Model_TradingName();
    $trading_names = $tradingNameObj->getTradingNameByWebsite($this->originalInquiry['website']);
}
//Walaa
	$dateTimeObj= get_settings_date_format();
	if($dateTimeObj){
		$momentJsDateFormat = timeFormat_zend_to_Momentjs($dateTimeObj['date_format']);
		//echo '  *** $momentJsDateFormat   '.$momentJsDateFormat;
		$momentJsTimeFormat= timeFormat_zend_to_Momentjs($dateTimeObj['time_format']);
		//echo '  *** $momentJsTimeFormat   '.$momentJsTimeFormat;
		$timeZoneString  =  get_timeZone($dateTimeObj['time_format']);
		//echo '  *** $JsTimeFormat   '.$timeZoneString;
	}else{
		$momentJsDateFormat = 'D-M-YYYY';
		$momentJsTimeFormat = 'LT';
		$timeZoneString = '';
	}
	
?>
<div class="ibox float-e-margins">
    <div class="ibox-content row">
        <div class="row">
            <div class="col-md-4">
                <h3>Edit Inquiry</h3>
                
                 <ol class="breadcrumb" style="font-size:13px;" >
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/inquiry">Inquiries</a>
                    </li>

                    <li >
                        <strong>Edit Inquiry</strong>
                    </li>                </ol>
            </div>
            <div class='col-md-4'>
                   <div class="btn-group">
                        <a href="#" data-toggle="modal" data-target="#popupi" onclick="NearestBooking2()" class="btn btn-white btn_a"><span class="glyphicon glyphicon-map-marker"></span> Nearest Booking</a>
                    </div>

                    <div class="btn-group">
                        <a href="#" data-toggle="modal" data-target="#popupi" onclick="find_availability2()" class="btn btn-white btn_a"><i class="fa fa-calendar"></i> Find Availability</a>
                    </div>
            </div>
            <div class="col-md-4 ">
                 <nav> 
                    <div class="btn-group pull-right">
                        <a href="javascript:;" onclick="$('#fmEdit').submit();" class="btn btn-primary btn_a ">
                            <i class="fa fa-check "></i> Save Changes
                        </a>		
                    </div>

                </nav>
            </div>
        </div>
       

    </div>  
</div>  
<form class="form-horizontal" id="fmEdit" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" >

    <div class="row">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">

                    <div class="ibox" >
                        <div class="ibox-content" >


                            <div class="form-group">
                                <label class="col-md-2 control-label">Customer</label>

                                <div class="col-md-10">


                                    <div class="input-group col-md-7" style="position: relative;">
                                        <?php echo $this->form->getElement('auto_customer_id')->render(); ?>
                                        <?php echo $this->form->getElement('customer_id')->render(); ?>
                                        <div class="searchCustomerInputResult" id="customerResultInput"></div>


                                        <span class="input-group-btn">

                                            <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                                                <a  class="btn btn-m btn-primary " href="#" data-toggle="modal" data-target="#popupi" onclick="editCustomer()" style="display: <?php if ($this->form->getElement('customer_id')->getValue()): ?><?php else: ?>none<?php endif; ?>;" id="edit_customer"><i class="fa fa-pencil-square-o"></i></a>										
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                                                <a  class="btn btn-m btn-primary " onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');"  
                                                    data-toggle="modal" data-target="#popupi" href="#"><i class="fa fa-plus"></i></a>
                                                <?php endif; ?>
                                            <a class="btn btn-m btn-primary " href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Customer List', '<?php echo $this->escape($this->url(array(), 'dropDownCustomerList')); ?>');">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </span> 

                                    </div>
                                </div>
                            </div>

                            <?php if ($contractorRoleId != $loggedUser['role_id']) { ?>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Trading Name</label>

                                    <div class="col-md-6">
                                        <select class="form-control" name="trading_name">
                                            <option value="0">Please Select Trading Name</option>
                                            <?php
                                            $selected = "";
                                            foreach ($this->tradingNames as $key => $tr_names) {
                                                if (isset($trading_names) && !empty($trading_names) && ($trading_names['trading_name_id'] == $tr_names['trading_name_id'])) {
                                                    $selected = 'selected';
                                                    echo '<option ' . $selected . ' value=' . $trading_names['trading_name_id'] . '>' . $trading_names['trading_name'] . '</option>';
                                                } else if (empty($trading_names) && $this->inquiry['trading_name_id'] == $tr_names['trading_name_id']) {
                                                    $selected = 'selected';
                                                    echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                                } else {
                                                    $selected = '';
                                                    echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>



                                </div>	

                            <?php } ?>
                        </div>


                    </div>		 



                    <div class="ibox">
                        <div class="ibox-title"><h3>Inquiry Address</h3></div>
                        <div class="ibox-content" >

                            <?php if (CheckAuth::checkCredential(array('canSeeInquiryAddress'))) : ?>


                                <div class="row">


                                    <div class="col-md-12">
                                        <div id="inquiry_address">



                                            <div class="form-group">

                                                <label class="col-md-2 control-label">
                                                    <i class="fa fa-map-marker fa-lg">&nbsp;</i>
                                                </label>

                                                <div class="col-md-6">

                                                    <div class="inline col-md-3 col-xs-3 no-padding">

                                                        <input class="form-control" name="unit_lot_number" placeholder="Unit / Lot No." type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['unit_lot_number']) ? $this->inquiryAddress['unit_lot_number'] : "") ?>" /> 

                                                    </div>

                                                    <div class="inline col-md-6 col-xs-6 padding-left-no-right">

                                                        <input placeholder="Street Number"  class="form-control" name="street_number"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['street_number']) ? $this->inquiryAddress['street_number'] : "") ?>" />

                                                    </div>

                                                    <div class="inline col-md-3 col-xs-3  padding-left-no-right">

                                                        <input placeholder="Street Name" class="form-control" name="street_address"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['street_address']) ? $this->inquiryAddress['street_address'] : "") ?>" /> 
                                                    </div>



                                                </div>
                                            </div>


                                            <div class="form-group">

                                                <div class="col-md-6 col-md-offset-2">

                                                    <div class="inline col-md-9 col-xs-9 no-padding">

                                                        <input placeholder="Suburb" class="form-control" name="suburb"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['suburb']) ? $this->inquiryAddress['suburb'] : "") ?>" />
                                                    </div>

                                                    <div class="inline col-md-3 col-xs-3 padding-left-no-right">
                                                        <input placeholder="Post code" class="form-control" name="postcode"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['postcode']) ? $this->inquiryAddress['postcode'] : "") ?>" />
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">P.O. box</label>
                                                <div class="col-lg-6">


                                                    <input class="form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['po_box']) ? $this->inquiryAddress['po_box'] : "") ?>" />
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>

                            <?php endif; ?>	

                            <div class="row">
                                <div class="col-md-12">

                                    <hr/>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Country</label>
                                        <div class="col-md-6">
                                            <?php echo $this->form->getElement('country_id')->render(); ?>
                                        </div>
                                    </div>	

                                    <div id="state_block" class="form-group" style=" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>display: none;<?php } ?>">
                                        <label class="col-md-2 control-label">State</label>

                                        <div class="col-md-6"  id="state_cont">
                                            <?php echo $this->form->getElement('state')->render(); ?> 
                                        </div>
                                    </div>	

                                    <div id="city_block" class="form-group"  
                                         style=" <?php if (!$this->form->getElement('state')->getValue() || !$this->form->getElement('country_id')->getValue()) { ?>display: none;<?php } ?>">
                                        <label class="col-md-2 control-label">City</label>

                                        <div class="col-md-6" id="city_cont">
                                            <?php echo $this->form->getElement('city_id')->render(); ?>
                                        </div>
                                    </div>	



                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Inquiry type</label>

                                        <div class="col-md-6"> 
                                            <?php echo $this->form->getElement('inquiry_type_id')->render(); ?> 
                                        </div>
                                    </div>	

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Property Type</label>

                                        <div class="col-md-6">
                                            <?php echo $this->form->getElement('property_type')->render(); ?> 
                                        </div>
                                    </div>	

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Period Required</label>

                                        <div class="col-md-6">
                                            <?php echo $this->form->getElement('required_type')->render(); ?>
                                        </div>
                                    </div>	
                                    <hr/>

                                    <?php
                                    $inquiryTypeId = $this->form->getElement('inquiry_type_id')->getValue();

                                    $inquiryTypeId = (int) ($inquiryTypeId ? $inquiryTypeId : 0);

                                    $modelInquiryTypeAttribute = new Model_InquiryTypeAttribute();
                                    $inquiryTypeAttribute = $modelInquiryTypeAttribute->getAttributeByInquiryTypeId($inquiryTypeId);
                                    ?>

                                    <div id="inquiry_attributes" style=" background-color: #F7F7F7;   padding: 40px 0px; <?php if (empty($inquiryTypeAttribute)) { ?>display: none;<?php } ?>">
                                        <?php
                                        if ($inquiryTypeAttribute) {
                                            foreach ($inquiryTypeAttribute as $key => $attribute) {
                                                $html = '';
                                                if ($key == 0) {
                                                    $html .= '<div>';
                                                } else {
                                                    $html .= '<div class="form-group">';
                                                }
                                                $html .= '<label class="col-md-2 control-label">' . $attribute['attribute_name'] . '</label>';
                                                $html .= '<div class="col-md-6">';
                                                $html .= drowInquiryTypeAttribute($attribute, $this->inquiryId);
                                                $html .= '</div>';
                                                $html .= '<div style="clear: both;"></div>';
                                                $html .= '</div>';
                                                $html .= '</div>';

                                                echo $html;
                                            }
                                        }
                                        ?>

                                    </div>




                                    <div class="form-group">
                                        <label class="col-md-2 control-label">To Follow</label>
                                        <div class="col-md-6">
                                            <label class="control-label" >
<?php $checked = (isset($this->is_to_follow) && !empty($this->is_to_follow)) ? 'checked="checked"' : ""; ?>
                                                <input name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" <?php echo $checked ?>/>
                                                Confirm
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group" id="deferred_date_cont" <?php echo (isset($this->is_to_follow) && !empty($this->is_to_follow)) ? '' : 'style="display: none;"'; ?>>

                                        <div class="col-md-6 col-md-offset-2"> 
                                            <div class='input-group date' id='datapicker22'>
<?php echo $this->form->getElement('deferred_date')->render(); ?>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                                </span>
                                            </div>

                                            <script type="text/javascript">
												
                                                $(document).ready(function () {
													$('#datapicker22').datetimepicker({
                                                        format: '<?=$momentJsDateFormat . " " . $momentJsTimeFormat?>'
														//format: 'D-M-YYYY LT'

                                                    });
													var time = $("#datapicker22").find("input").val();
													if(time){
														var date = adjust_time_format(time, '<?=$timeZoneString?>');
														$("#datapicker22").find("input").val(date);		
													}
													
													$("#datapicker22").on("dp.change", function(e) {
														var time = $("#datapicker22").find("input").val();
														
														var date = adjust_time_format(time, '<?=$timeZoneString?>');
														console.log("time: " + time + " ,date: " + date);
														$("#datapicker22").find("input").val(date);	
													});
                                                });

                                            </script>

                                        </div>
                                    </div>





                                </div>

                            </div>  		  
                        </div>  		  
                    </div>  		  
                </div>	  
            </div>	  
        </div>	

        <div class="ibox no-margin-b">
            <div class="ibox-title">
                Comment
            </div>

            <div class="ibox-content">
                <div class="col-md-8 col-md-offset-1">
<?php echo ($this->form->getElement('comment')->render()); ?>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <div class="ibox services no-margin-b"> 

            <div class="ibox-title col-md-12 col-lg-12 col-sm-12 col-xs-12 services_head black-gray">
                <div class="inline">&nbsp;
                    <i class="fa fa-star">&nbsp;</i>
                    Services 
                </div>
                <div class="inline add_new_service ">
                    <a  class="" data-toggle="modal" data-target="#spec"><i class="fa fa-plus">&nbsp;</i>Add Service</a> 
                    &nbsp;  
                </div>

            </div>	
            <div class="ibox-content services_content" style="background-color:#788492 !important;">
                <div>
<?php echo $this->escape($this->errServices); ?>
                </div>
                    <?php if ($this->selectedServices): ?>
                    <?php $modelServices = new Model_Services(); ?>
                    <?php foreach ($this->selectedServices as $selectedService): ?>
                        <?php
                        $selectedServiceArray = explode('_', $selectedService);
                        $serviceId = isset($selectedServiceArray[0]) ? $selectedServiceArray[0] : '';
                        $clone = isset($selectedServiceArray[1]) ? $selectedServiceArray[1] : '';
                        $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');

                        $service = $modelServices->getById($serviceId);
                        ?>
                        <div  class="ibox" id="service_checked_<?php echo $this->escape($serviceAndClone); ?>">


                            <div class="ibox-title service_auto_generate_title">
                                <div class="inline">
                                    <i class="fa fa-star fa-lg">&nbsp;</i>
                                    <b><?php echo $this->escape($service['service_name']); ?></b>
                                </div>
                                <div class="inline float-r">
                                    <ul class="new_service_operation">
                                        <li>
                                            <a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceId); ?>', 'service_name_<?php echo $this->escape($serviceId); ?>');">
                                                <img src="/pic/icons/clone.png"/> Clone</a>
                                        </li>
                                        <li> &nbsp;&nbsp;<a href="javascript:;" onclick="removeService_1('<?php echo $this->escape($serviceAndClone); ?>');">
                                                <i class="fa fa-minus-circle fa-lg" style="color:#FFF;"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <input type="hidden" value="<?php echo $this->escape($serviceAndClone); ?>" name="services[]">
                            </div>
                            <div class="ibox-content" id="attribute_<?php echo $this->escape($serviceAndClone); ?>">

        <?php
        $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId, 0);
        foreach ($serviceAttribute as $key => $attribute):
            ?>

                                    <div  class="form-group" <?php //if ($key != 0):  ?><?php //endif;  ?>>
                                        <label class=" col-md-2 control-label"> 
                                            <?php echo $this->escape($attribute['attribute_name']); ?> :
                                        </label>

                                        <div class="calender_service_slctd_service_booking_service col-md-6">
                                            <?php echo drowAttribute($attribute, 0, $this->escape(isset($this->inquiry['inquiry_id']) ? $this->inquiry['inquiry_id'] : 0), $clone); ?>
                                        </div>
                                    </div>

                                <?php endforeach; ?>
                                <input type="hidden" value="<?php echo $this->escape($serviceAndClone); ?>" name="services[]">
                            </div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <div id="selectedServices">
                </div>
            </div>
        </div>		
    </div>	








    <div class="modal fade" id="spec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Add new services</h4>
                </div>

                <div class="modal-body">
                    <!-- Add services -->
                    <div class="form-group">
                        <div class="">

                            <input MaxLength="200" id="search"  name="keywords" onkeyup="searchServices();" autocomplete="off" class="default_inquiry_services_input_search"  type="text" placeholder="Type Service Name to Search"
                                   style="border:1px solid #000; border-bottom:0px;"	/>

                            <div class="default_inquiry_services_keyword_resault" id="keywordsResult">
                                <?php if ($this->all_servicesAvailabile): ?>
                                    <?php foreach ($this->all_servicesAvailabile as $serviceAvailabile): ?>
                                        <div id="service_result_<?php echo $this->escape($serviceAvailabile['service_id']); ?>">
                                            <a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceAvailabile['service_id']); ?>', 'service_name_<?php echo $this->escape($serviceAvailabile['service_id']); ?>');">
                                                <ul class="service-list">
                                                    <li><img style="margin: 2px;" src="/pic/arrow_down.png" border="0"/></li>
                                                    &nbsp;<li>  <div id="service_name_<?php echo $this->escape($serviceAvailabile['service_id']); ?>" style="float: left;"><?php echo $this->escape($serviceAvailabile['service_name']); ?></div></li>
                                                </ul>
                                            </a>

                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>	
</form>
<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>
<script>

// add editor of service attribute default value 
    $(".default_value_textarea").summernote({height: 210});

    $('.note-editable').focusout(function () {
        var attr_id = $(this).parents('.note-editor').parent().find('textarea').attr('id');
         $("#"+attr_id).val($(this).html());
    });
</script>