<?php $modelServiceAttribute = new Model_ServiceAttribute(); ?>
<div class="ibox float-e-margins">
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-5">
            	<h3>Edit Inquiry</h3>
            </div>
            <div class="col-md-7 ">
            </div>
         </div>
          	<div class="row">
        	<div class="col-md-8">
            
            <nav> 
          	 	 <div class="btn-group">
            		  <a href="javascript:;" onclick="$('#fmEdit').submit();" class="btn btn-white btn_a">
                            Save
                       </a>		
           		 </div>
                 

				 
                 <div class="btn-group">
                     <a href="#" data-toggle="modal" data-target="#popupi" onclick="NearestBooking2()" class="btn btn-white btn_a">Nearest Booking</a>
                 </div>
                 
                 <div class="btn-group">
                		<a href="#" data-toggle="modal" data-target="#popupi" onclick="find_availability2()" class="btn btn-white btn_a">Find Availability</a>
                 </div>
                 
            </nav>
            
          
            </div>
            <div class="col-md-4 ">
            
            </div>
         </div>
         
    </div>  
</div>  
    <form class="form-horizontal" id="fmEdit" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" >
      <div class="ibox no-margin-b" >
        <div class="ibox-content" >
		 <div class="row">
             	  <div class="col-md-12">
              
              
                  <div class="form-group">
                          <label class="col-lg-2 control-label">Select customer</label>

                          <div class="col-lg-10">
                          
                          
                          <div class="input-group col-md-7" style="position: relative;">
                                           <?php echo $this->form->getElement('auto_customer_id')->render(); ?>
                                            <?php echo $this->form->getElement('customer_id')->render(); ?>
											<div class="searchCustomerInputResult" id="customerResultInput"></div>
                                            <span class="input-group-btn">
                                                <a class="btn btn-m btn-primary " href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Customer List','<?php echo $this->escape($this->url(array(), 'dropDownCustomerList')); ?>');">
                                 <i class="fa fa-search"></i>
                           		 </a>
                                            </span> 
                                            
                          </div>
                                            
                                            
                                            
                             
                      		
                         <div>      
                            <ul class="inline-list">
                           <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
								   <li><a onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');"  
								   data-toggle="modal" data-target="#popupi" href="#">new customer</a></li>
                           <?php endif; ?>
                             
                             <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                                  &nbsp; &nbsp;<li><a href="#" data-toggle="modal" data-target="#popupi" onclick="editCustomer()" style="display: <?php if ($this->form->getElement('customer_id')->getValue()): ?>block<?php else: ?>none<?php endif; ?>;" id="edit_customer">edit customer</a>
								</li>
							<?php endif; ?> 
                             </ul>
                          </div>
                            
                          </div>
                  </div>
                  
                  
                   <div>
                    
                  
                      
              	 </div>
        </div>
				 
		 </div>		 
		
		
		</div>
		
		<div class="ibox-content" >
		 
		 <?php if (CheckAuth::checkCredential(array('canSeeInquiryAddress'))) : ?>
		 
		 <div class="row">
        		<div class="col-md-12">
            		<h3>Inquiry Address</h3>
           		</div>
        </div>
		
		<div class="row">
		  <div class="col-md-8">
		   <div id="inquiry_address">
		   <div class="form-group">
                <label class="col-lg-3 control-label">Unit / Lot No.</label>
					<div class="col-lg-9">
                         <input class="text_input form-control" name="unit_lot_number"  type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['unit_lot_number']) ? $this->inquiryAddress['unit_lot_number'] : "") ?>" /> 
                    </div>
           </div>
					 
                              <div class="form-group">
                    					<label class="col-lg-3 control-label">Street Number</label>

                                    <div class="col-lg-9">
                                    <input class="text_input form-control" name="street_number"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['street_number']) ? $this->inquiryAddress['street_number'] : "") ?>" />
                                    </div>
                                </div>	
                                <div class="form-group">
                    					<label class="col-lg-3 control-label">Street Name</label>

                                    <div class="col-lg-9">
                                           <input class="text_input form-control" name="street_address"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['street_address']) ? $this->inquiryAddress['street_address'] : "") ?>" /> 
                                    </div>
                                </div>	
                                
                                <div class="form-group">
                    					<label class="col-lg-3 control-label">Suburb</label>

                                    <div class="col-lg-9"><input class="text_input form-control" name="suburb"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['suburb']) ? $this->inquiryAddress['suburb'] : "") ?>" />
                                    </div>
                                </div>	
                                
                                <div class="form-group">
                    					<label class="col-lg-3 control-label">Post code</label>

                                    <div class="col-lg-9">      
                                     <input class="text_input form-control" name="postcode"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['postcode']) ? $this->inquiryAddress['postcode'] : "") ?>" />
                                    </div>
                                </div>	
                                
                                <div class="form-group">
                    					<label class="col-lg-3 control-label">P.O. box</label>

                                    <div class="col-lg-9">
                                    <input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['po_box']) ? $this->inquiryAddress['po_box'] : "") ?>" />
                                    </div>
                                </div>		   
		  
		  </div>
		
		</div>
		</div>
		
		<?php endif; ?>	
		
		<div class="row">
		 <div class="col-md-8">
		  
		  <hr/>
                             
                               <div class="form-group">
                    					 <label class="col-lg-3 control-label">Country</label>
                                    <div class="col-lg-9">
                                  	    <?php echo $this->form->getElement('country_id')->render(); ?>
                                    </div>
                                </div>	
                                 
                                  <div id="state_block" class="form-group" style=" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>display: none;<?php } ?>">
                    					<label class="col-lg-3 control-label">State</label>

                                    <div class="col-lg-9"  id="state_cont">
									<?php echo $this->form->getElement('state')->render(); ?> 
                                    </div>
                                </div>	
                              
                                     <div id="city_block" class="form-group"  
                                     style=" <?php if (!$this->form->getElement('state')->getValue() || !$this->form->getElement('country_id')->getValue()) { ?>display: none;<?php } ?>">
                    					<label class="col-lg-3 control-label">City</label>

                                    <div class="col-lg-9" id="city_cont">
									   <?php echo $this->form->getElement('city_id')->render(); ?>
                                    </div>
                                </div>	
                                
                                
                                
                                  <div class="form-group">
                    					<label class="col-lg-3 control-label">Inquiry type</label>

                                    <div class="col-lg-9"> 
											<?php echo $this->form->getElement('inquiry_type_id')->render(); ?> 
                                    </div>
                               	 </div>	
                                
                                  <div class="form-group">
                    					<label class="col-lg-3 control-label">Property Type</label>

                                    <div class="col-lg-9">
                                      <?php echo $this->form->getElement('property_type')->render(); ?> 
                                    </div>
                                </div>	
                       
     							<div class="form-group">
                    					<label class="col-lg-3 control-label">Period Required</label>

                                    <div class="col-lg-9">
                                        <?php echo $this->form->getElement('required_type')->render(); ?>
                                    </div>
                                </div>	
                             <hr/>
							 
							 <?php
                $inquiryTypeId = $this->form->getElement('inquiry_type_id')->getValue();

                $inquiryTypeId = (int) ($inquiryTypeId ? $inquiryTypeId : 0);

                $modelInquiryTypeAttribute = new Model_InquiryTypeAttribute();
                $inquiryTypeAttribute = $modelInquiryTypeAttribute->getAttributeByInquiryTypeId($inquiryTypeId);
                ?>
				
				<div id="inquiry_attributes" style="margin-top: 20px; background-color: #F7F7F7; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; width: 100%; padding: 40px 0px; <?php if (empty($inquiryTypeAttribute)) { ?>display: none;<?php } ?>">
                    <?php
                    if ($inquiryTypeAttribute) {
                        foreach ($inquiryTypeAttribute as $key => $attribute) {
                            $html = '';
                            if ($key == 0) {
                                $html .= '<div>';
                            } else {
                                $html .= '<div class="form-group">';
                            }
                            $html .= '<label class="col-lg-3 control-label">' . $attribute['attribute_name'] . '</label>';
                            $html .= '<div class="col-lg-9">';
                            $html .= drowInquiryTypeAttribute($attribute, $this->inquiryId);
                            $html .= '</div>';
                            $html .= '<div style="clear: both;"></div>';
                            $html .= '</div>';
                            $html .= '</div>';

                            echo $html;
                        }
                    }
					
                    ?>
					<hr/>
			  </div>
			  
			  
			  
			  <div>
			    <div class="form-group">
				 <label class="col-md-3 control-label">To Follow</label>
							 <div class="col-md-9">
													<label class="control-label" >
													   <?php $checked = (isset($this->is_to_follow) && !empty($this->is_to_follow)) ? 'checked="checked"' : ""; ?>
														<input name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" <?php echo $checked ?>/>
																Confirm
													 </label>
							 </div>
				</div>
				
				<div class="form-group" id="deferred_date_cont" <?php echo (isset($this->is_to_follow) && !empty($this->is_to_follow)) ? '' : 'style="display: none;"'; ?>>
				 <div class="col-lg-3"></div>
				 <div class="col-lg-8"> 
				  <div class='input-group date' id='datapicker22'>
                   <?php echo $this->form->getElement('deferred_date')->render(); ?>
                       <span class="input-group-addon"><i class="fa fa-calendar"></i>
                       </span>
                </div>
				  
				<script type="text/javascript">
					
					 $(document).ready(function() {
							$('#datapicker22').datetimepicker({
							format:'D-M-YYYY LT'
				  
							});
						});

				</script>
				  
				 </div>
				</div>
			  
			  </div>
			  
			  <hr/>
			  
			  <div class="form-group">
				   <label class="col-md-3 control-label">Comment</label>
				   <div class="col-md-9">
						<?php echo ($this->form->getElement('comment')->render()); ?>
				   </div>
			  </div>
	           		  
			  
			   <div id="services">
			   
			   
                    <div class="col-md-9 col-md-offset-3">
                        <!-- <input MaxLength="200" id="auto_search" style="border: none;" class="default_inquiry_services_input_service_name" onfocus="$('#search').css('display','block');$('#auto_search').css('display','none');$('#search').focus();" type="text" value="" /> 
						 --> <!-- removed from next btn onblur="if(!$('#search').val()){$('#auto_search').css('display','block');$('#search').css('display','none');}"-->
						<input MaxLength="200" id="search"  name="keywords" onkeyup="searchServices();" autocomplete="off" class="default_inquiry_services_input_search"  type="text" placeholder="Type Service Name to Search"  />
							<div class="default_inquiry_services_keyword_resault" id="keywordsResult">
								<?php if ($this->all_servicesAvailabile): ?>
									<?php foreach ($this->all_servicesAvailabile as $serviceAvailabile): ?>
										<div id="service_result_<?php echo $this->escape($serviceAvailabile['service_id']); ?>">
											<a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceAvailabile['service_id']); ?>','service_name_<?php echo $this->escape($serviceAvailabile['service_id']); ?>');">
												  <ul class="service-list">
														<li><img style="margin: 2px;" src="/pic/arrow_down.png" border="0"/></li>
														&nbsp;<li>  <div id="service_name_<?php echo $this->escape($serviceAvailabile['service_id']); ?>" style="float: left;"><?php echo $this->escape($serviceAvailabile['service_name']); ?></div></li>
												  </ul>
											</a>
											
										</div>
									<?php endforeach; ?>
								<?php endif; ?>
							</div>
					</div>
					&nbsp;
						
						<div class="row">
                            <div class="col-md-offset-3 col-md-8">
							
                                <h3>services</h3>

                            </div>
                        </div>
						
                        
                        <div class="default_inquiry_services_slctd_service" id="selectedServices">
                            <?php if ($this->selectedServices): ?>
                                <?php $modelServices = new Model_Services(); ?>
                                <?php foreach ($this->selectedServices as $selectedService): ?>
                                    <?php
                                    $selectedServiceArray = explode('_', $selectedService);
                                    $serviceId = isset($selectedServiceArray[0]) ? $selectedServiceArray[0] : '';
                                    $clone = isset($selectedServiceArray[1]) ? $selectedServiceArray[1] : '';
                                    $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');

                                    $service = $modelServices->getById($serviceId);
                                    ?>
                                    <div id="service_checked_<?php echo $this->escape($serviceAndClone); ?>">
											&nbsp;
											<div class="col-md-9 col-md-offset-3">
											   <div class="content">
													<div class="row">	
														<div class="col-md-6">
															<b><?php echo $this->escape($service['service_name']); ?></b>
														</div>											
														<div class="col-md-6">
															<ul class="inline-list">
																<li><a href="javascript:;" onclick="removeService('<?php echo $this->escape($serviceAndClone); ?>');"><img src="/pic/icons/delete.png" border="0" style="vertical-align: middle;"/>Remove</a></li>
																&nbsp;<li><a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceId); ?>','service_name_<?php echo $this->escape($serviceId); ?>');"><img src="/pic/icons/clone.png" border="0" style="vertical-align: middle;"/>Clone</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<br/>
										&nbsp;
                                        <div>
                                            <div  id="attribute_<?php echo $this->escape($serviceAndClone); ?>">
                                                <?php
                                                $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId, 0);
												
                                                foreach ($serviceAttribute as $key => $attribute):
												
                                                    ?>
                                                    <div  class="form-group" <?php //if ($key != 0): ?><?php //endif; ?>>
                                                        <label class=" col-md-3 control-label"> 
                                                            <?php echo $this->escape($attribute['attribute_name']); ?> :
                                                        </label>
														
														
														
                                                        <div class="calender_service_slctd_service_booking_service col-md-9">
                                                            <?php echo drowAttribute($attribute, 0, $this->escape(isset($this->inquiry['inquiry_id']) ? $this->inquiry['inquiry_id'] : 0), $clone); ?>
                                                        </div>
														
														
                                                     
                                                    </div>
                                                <?php endforeach; ?>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <input type="hidden" value="<?php echo $this->escape($serviceAndClone); ?>" name="services[]">
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <div class="red_color" style="font-size: 12px;">
					<?php echo $this->escape($this->errServices); ?>
				</div>
			  
		 
		 </div>
		</div>
		
	  </div>	
	</div>	
</form>
<?php /* <!-- 
<div class="col-md-3">
                  <?php //if ($this->originalInquiry): ?>
                    <div style="color: #6E6D6D; font-size: 14px; font-weight: bold; width: 200px;">
                        <div style="margin-bottom: 5px;">
                            Original Inquiry
                        </div>
                        <div class="filter_border_top"></div>
                        <div style="font-size: 12px; font-weight: normal;">
                            <div style="margin-top: 5px">
                                <div>
                                    Property Type : <?php echo $this->escape($this->originalInquiry['property_type']); ?>
                                </div>
                                <div>
                                    Name : <?php echo $this->escape($this->originalInquiry['name']); ?>
                                </div>
                                <div>
                                    Email : <?php echo $this->escape($this->originalInquiry['email']); ?>
                                </div>
                                <div>
                                    Mobile : <?php echo $this->escape($this->originalInquiry['mobile']); ?>
                                </div>
                                <div>
                                    Phone : <?php echo $this->escape($this->originalInquiry['phone']); ?>
                                </div>
                            </div>
                            <div style="margin-top: 5px">
                                <div>
                                    Address : <?php echo $this->escape($this->originalInquiry['address']); ?>
                                </div>
                                <div>
                                    City : <?php echo $this->escape($this->originalInquiry['city']); ?>
                                </div>
                                <div>
                                    Postcode : <?php echo $this->escape($this->originalInquiry['postcode']); ?>
                                </div>
                            </div>
                            <div style="margin-top: 5px">
                                <div>
                                    Service : <?php echo $this->escape($this->originalInquiry['service']); ?>
                                </div>
                                <div>                               
                                    Floor : <?php echo $this->escape($this->originalInquiry['floor']); ?>
                                </div> 
                                <div>
                                    Required : <?php echo $this->escape($this->originalInquiry['required']); ?>
                                </div>
                                <div>
                                    Comment : <?php echo $this->escape($this->originalInquiry['comment']); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
                 </div>
--> */?>
<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>