	<?php
	//Rand
    $dateTimeObj= get_settings_date_format();
	$db_foramt = 0;
	if($dateTimeObj)
	{
		$JsDateFormat= dateFormat_zend_to_js($dateTimeObj['date_format']);
		$timeZoneString  =  get_timeZone($dateTimeObj['time_format']);
		$db_foramt = 1;
	}
	else
	{
		$JsDateFormat= 'dd/mm/yyyy';
		$db_foramt = 0;
	
	}
	//end Rand
	?>
<form id="search_form" action="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>" method="GET" >
	
    	<div class="form-group">
			<label for="Keywords" class="control-label">Keywords</label>
            <input type="text" name="fltr[keywords]" class="form-control"  id="Keywords" value="<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>">
		</div>
		
		<div class="form-group">
		  <?php if (!empty($this->filters['customer_id'])): ?>
                <?php
                $modelCustomer = new Model_Customer();
                $customer = $modelCustomer->getById($this->filters['customer_id']);
                $customerName = get_customer_name($customer);
                ?>
            <?php endif; ?>
			  <label for="auto_customer_id" class="control-label">Customer Name</label>
                
                <input type="text" id="auto_customer_id" name="fltr[customer_name]" class="form-control" value="<?php echo $this->escape(isset($customerName) ? $customerName : ''); ?>"/>

                <input type="hidden" id="customer_id" name="fltr[customer_id]" class="text_input" value="<?php echo $this->escape(!empty($this->filters['customer_id']) ? $this->filters['customer_id'] : ''); ?>"/>
		</div>
		
		<?php if(CheckAuth::getRoleName() != 'contractor'){ ?>
		<div class="form-group">
		
			<label  class="control-label">Users</label>
                <?php
                $modelUser = new Model_User();
                $users = $modelUser->getAllEmployee(true);

                $user = new Zend_Form_Element_Select('user_id');
                $user->setBelongsTo('fltr');
                $user->setDecorators(array('ViewHelper'));
                $user->setAttrib("class", "form-control");
                $user->setValue((!empty($this->filters['user_id']) ? $this->filters['user_id'] : ''));
                $user->addMultiOption('', 'Select One');
                $user->addMultiOptions($users);
                echo $user->render();
            ?>
		</div>
		<?php }?>
		
		<div class="form-group">
			<label for="inquiry" class="control-label">Inquiry#</label>
            <input name="fltr[inquiry_num]" type="text" id="inquiry" class="form-control" value="<?php echo$this->escape((!empty($this->filters['inquiry_num']) ? $this->filters['inquiry_num'] : '')); ?>" />
			
			
		</div>
        <div class="form-group">
        <label class="control-label" id="business-name">business Name</label>
       <input name="fltr[bussiness_name]" type="text" id="business-name" class="form-control" value="<?php echo$this->escape((!empty($this->filters['bussiness_name']) ? $this->filters['bussiness_name'] : '')); ?>" />
        </div>
		
	
		<div class="form-group">
			 <label id="address" class="control-label">Address</label>
             <input name="fltr[address]" type="text" id="address" class="form-control" value="<?php echo$this->escape((!empty($this->filters['address']) ? $this->filters['address'] : '')); ?>" />
		</div>
		
		<div class="form-group">
				<label class="control-label">Email</label>
                <input name="fltr[email]" type="text" class="form-control" value="<?php echo$this->escape((!empty($this->filters['email']) ? $this->filters['email'] : '')); ?>" />
		</div>	
		
		<div class="form-group">
				<label class="control-label">Mobile/Phone#</label>
                <input name="fltr[mobile/phone]" type="text" class="form-control"  value="<?php echo$this->escape((!empty($this->filters['mobile/phone']) ? $this->filters['mobile/phone'] : '')); ?>" />
		</div>	
		
		<div class="form-group">
			<label class="control-label">Inquiry Date</label>
                <table border="0">
                    <tr>
                        <td class="txt_align_l"><input id="date_from" readonly name="fltr[created_from]" type="text" class="form-control"   value="<?php echo $this->escape((!empty($this->filters['created_from']) ? (($db_foramt ==1)?getNewDateFormat($this->filters['created_from']):$this->filters['created_from']) : '')); ?>" /></td>
                        <td>-</td>
                        <td class="txt_align_l"><input id="date_to" readonly name="fltr[created_to]" type="text" class="form-control"   value="<?php echo $this->escape((!empty($this->filters['created_to']) ? (($db_foramt ==1)?getNewDateFormat($this->filters['created_to']):$this->filters['created_to']) : '')); ?>" /></td>
                    </tr>
				</table>
		</div>
		
		<div class="form-group">
		   <label class="control-label">Inquiry Deferred To</label>
            <input id="deferred_to" readonly name="fltr[deferred_to]" type="text" class="form-control" value="<?php echo $this->escape((!empty($this->filters['deferred_to']) ? (($db_foramt ==1)?getNewDateFormat($this->filters['deferred_to']):$this->filters['deferred_to']) : '')); ?>" />
             
                
		</div>
		<div class="form-group">
			<?php
            $InquiryTypeObj = new Model_InquiryType();
            $InquiryTypes = $InquiryTypeObj->getAll();
            ?>
            
                <label class="control-label">Inquiry Type</label>
                <select name="fltr[inquiry_type_id]" class="form-control" >
                    <option value="">Select One</option>
                    <?php if ($InquiryTypes): ?>
                        <?php foreach ($InquiryTypes as $type): ?>
                            <?php
                            $selected = isset($this->filters['inquiry_type_id']) && $this->filters['inquiry_type_id'] == $type['inquiry_type_id'] ? 'selected="selected"' : ''
                            ?>
                            <option value="<?php echo $this->escape($type['inquiry_type_id']); ?>" <?php echo $this->escape($selected); ?> ><?php echo $this->escape($type['inquiry_name']); ?></option>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </select>
		</div>
		<div class="form-group">
		
		 <label class="control-label">Status</label>
                <select name="fltr[status]" class="form-control" >
                    <option value="">Select One</option>
                    <option value="inquiry" <?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'inquiry' ? 'selected="selected"' : ''); ?> >Inquiry</option>
                    <option value="booking" <?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'booking' ? 'selected="selected"' : ''); ?> >Booking</option>
                </select>
		</div>
		<div class="form-group">
			 <label class="control-label">Service Name</label>
                <?php
                $modelServices = new Model_Services();
                $allService = $modelServices->getAllService();

                $service = new Zend_Form_Element_Select('service_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttrib("class", "form-control");
                $service->setValue((!empty($this->filters['service_id']) ? $this->filters['service_id'] : ''));
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allService);
                echo $service->render();
                ?>
		</div>
		<div class="form-group">
		
			<?php
				$country_id = (!empty($this->filters['country_id']) ? $this->filters['country_id'] : CheckAuth::getCountryId());
            ?>

		</div>
		<div>
		
		        <label class="control-label">Country</label>
				
                <?php
                $modelCountries = new Model_Countries();
                $allCountries = $modelCountries->getAllCountries();

                $service = new Zend_Form_Element_Select('country_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttribs(array("id" => "country", "class" => "form-control", "onchange" => "getStateByCountryId();"));
                $service->setValue($country_id);
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allCountries);
                echo $service->render();
                ?>
		</div>
		<div  id="display_state" style="<?php echo $this->escape(empty($country_id) ? "display: none;" : ""); ?>">
		
			<label class="control-label">State</label>
                <div id="state_cont">
                    <?php
                    $modelCities = new Model_Cities();
                    $allState = $modelCities->getStateByCountryId($country_id, TRUE);

                    $service = new Zend_Form_Element_Select('state');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "fltr-state", "class" => "form-control", "onchange" => "getCitiesByCountryId();"));
                    $service->setValue((!empty($this->filters['state']) ? $this->filters['state'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allState);
                    echo $service->render();
                    ?>
                </div>
		</div>
		<div id="display_city" style="<?php echo $this->escape(empty($this->filters['state']) || empty($country_id) ? "display: none;" : ""); ?>">
                <label class="control-label">City</label> 
                <div id="city_cont">
                    <?php
                    $allCities = $modelCities->getCitiesByCountryIdAndState($country_id, (!empty($this->filters['state']) ? $this->filters['state'] : ''), TRUE);

                    $service = new Zend_Form_Element_Select('city_id');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "city_id", "class" => "form-control"));
                    $service->setValue((!empty($this->filters['city_id']) ? $this->filters['city_id'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allCities);
                    echo $service->render();
                    ?>
                </div>
		</div>
	<div class="modal-footer">
				<input type="submit" value="Search" class="btn btn-primary" id="adv-search"/>
				
				
			</div>
	
            <input type="hidden" name="fltr[status]" value="all"/>
            <input type="hidden" name="fltr[submit]" value="on"/>
	
</form>
			
<script type="text/javascript">
    //
    //fun to get all city in selected country
    //
    function getStateByCountryId(){
      
        if($('#country').val()){
            $('#display_state').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country').val()+"&onChange=getCitiesByCountryId&class=form-control&name=state&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#display_state').css('display','none');
            $('#display_city').css('display','none');
        }
    }
    
    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId(){
        if($('#fltr-state').val()){
            $('#display_city').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country').val()+"&state="+$('#fltr-state').val()+"&class=form-control&name=city_id&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#display_city').css('display','none');
        }
    }
    
    $(document).ready(function() {
        $("#date_from,#date_to,#deferred_to").datepicker({
            format: '<?=$JsDateFormat?>',//Rand 'dd-mm-yyyy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            autoclose:true
        });

    });

    
    /*auto complete customer search
    $(function() {
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term,
                            have_inquiry :true
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    }); */
	
</script>
