<div id="related_address_cont">
    <?php if ($this->contractorDistances): ?>
        <table  class="related_address table table-bordered">
            <thead>
                <tr style="background-color: #ACD2E7">
                    
                    <th>Contractor Name</th>
                    <th>Distance</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->contractorDistances as $contractorDistance): ?>
                    <tr>
                        <td><?php echo $contractorDistance['name']; ?></td>
                        <td><?php echo number_format($contractorDistance['distance'], 2); ?> KM</td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

    <?php else : ?>
        <div style="font-size: 12px;">
            There is no contractor distances.
        </div>
    <?php endif; ?>
</div>
