<?php
$MAP_OBJECT_Booking = new GoogleMapAPI();
echo $MAP_OBJECT_Booking->getHeaderJS(); 
echo $MAP_OBJECT_Booking->getMapJS(); 

$modelAuthRole = new Model_AuthRole();
$modelUser = new Model_User();

$superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$loggedUser = CheckAuth::getLoggedUser();
$user_id = $loggedUser['user_id'];
$user = $modelUser->getById($user_id);


ViewHelper::setStyleSheet('/css/daterangepicker-bs3.css');
ViewHelper::setJavaScript('/js/date_range/daterangepicker.js');


?>
<div class="ibox float-e-margins no-margin-b">

<?php if ($this->isDeleted): ?>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-5">
                    <h3>Deleted Inquiries</h3>
                </div>
                <div class="col-md-7 ">

                    <ul class="inline-list float-lg-r">

                        <li>
                            <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]&page_name=All - Deleted Inquiries " style="<?php echo $this->escape(empty($this->filters['status']) ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">all</a>
                        </li> |

                        <li>
                            <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]=inquiry&page_name=Inquiry - Deleted Inquiries" style="<?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'inquiry' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">inquiry</a> 
                        </li>|

                        <li>
                            <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]=booking&page_name=Booking - Deleted Inquiries" style="<?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'booking' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">booking</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
<!--
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-5">
                    <ul class="inline-list">
    <?php if (CheckAuth::checkCredential(array('inquiryAdd'))): ?>
                            <li> 	
                                <a class="btn btn-white" href="<?php echo $this->escape($this->url(array(), 'inquiryAdd')); ?>">
                                    <span class="fa fa-plus"></span>&nbspNew Inquiry
                                </a>
                            </li>
    <?php endif; ?>
                        <li>
                            <!-- search button --><!--
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                <span class="fa fa-search"></span>&nbsp Advance Search
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="exampleModalLabel">Search Inquiry</h4>
                                        </div>

                                        <div class="modal-body">
    <?php echo $this->render('index/filters.phtml'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-md-7">


                </div>
            </div>
        </div> -->
<?php else: ?>
        <div class="row wrapper border-bottom white-bg">

            <div class="col-md-3">


    <?php if (isset($this->filters['is_spam']) && $this->filters['is_spam'] == 1) { ?>		
                    <h3>Spam Inquiries </h3>
                <?php } else { ?>
                    <h3>All Inquiries</h3> 
                <?php } ?>



                <ol class="breadcrumb">
    <?php

    function breadcrumbs($separator = '', $home = 'Home') {

        $path = array_filter(explode('/', parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH)));
        $base_url = substr($_SERVER['SERVER_PROTOCOL'], 0, strpos($_SERVER['SERVER_PROTOCOL'], '/')) . '://' . $_SERVER['HTTP_HOST'] . '/';
        $breadcrumbs = array("<li><a href=\"$base_url\">$home</a></li>");
        $tmp = array_keys($path);
        $last = end($tmp);
        unset($tmp);

        foreach ($path as $x => $crumb) {
            $title = ucwords(str_replace(array('.php', '_'), array('', ' '), $crumb));
            if ($x == 1) {

                $breadcrumbs[] = "<li><a href=\"$base_url$crumb\">Inquiries</a></li>";
                $breadcrumbs[] = '<li class="active"><strong>Inquiries list</strong></li>';
            }
        }

        return implode($separator, $breadcrumbs);
    }

    echo breadcrumbs();
    ?>

                </ol>
            </div>
            <div class="col-md-9">
    <?php if (isset($this->filters['is_spam']) && $this->filters['is_spam'] == 1) {
        
    } else {
        ?>		
                    <ul class="inline-list float-lg-r"> 
                    <?php
                    //if (CheckAuth::checkCredential(array('inquiry'))){
                    if (0) {
                        ?>
                            <?php
                            $filterLink = array();
                            if ($this->sub_menu == 'my_inquiries') {
                                $filterLink['my_inquiries'] = true;
                            }
                            ?>
                            <li>
                            <?php echo FilterLink::generate_link('All', array_merge($filterLink, array('fltr' => array('status' => 'all'))), isset($this->filters['status']) && $this->filters['status'] == 'all', true); ?>
                            </li>
                            |
                            <li>
            <?php echo FilterLink::generate_link('Unlabeled', array_merge($filterLink, array('fltr' => array('status' => 'inquiry', 'unlabeled' => true))), isset($this->filters['unlabeled']) && $this->filters['unlabeled'] == true, true); ?>
                            </li>
                            |
                            <li>
            <?php echo FilterLink::generate_link('Prospect', array_merge($filterLink, array('fltr' => array('status' => 'inquiry', 'un_reminded' => true))), isset($this->filters['un_reminded']) && $this->filters['un_reminded'] == true, true); ?>
                            </li>
                            |
                            <li>
            <?php echo FilterLink::generate_link('To follow', array_merge($filterLink, array('sort' => 'deferred_date', 'method' => 'asc', 'fltr' => array('status' => 'inquiry', 'to_follow' => true))), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true, true); ?>
                            </li>
                            |
                            <li>
            <?php echo FilterLink::generate_link('Inquiry', array('fltr' => array('status' => 'inquiry')), isset($this->filters['status']) && $this->filters['status'] == 'inquiry'); ?>
                            </li>
                            |
                            <li>
            <?php echo FilterLink::generate_link('Estimate', array('fltr' => array('status' => 'estimate')), isset($this->filters['status']) && $this->filters['status'] == 'estimate'); ?>
                            </li>
                            |
                            <li>
            <?php echo FilterLink::generate_link('Booking', array('fltr' => array('status' => 'booking')), isset($this->filters['status']) && $this->filters['status'] == 'booking'); ?>
                            </li>

        <?php } ?>

                        <?php if (CheckAuth::checkCredential(array('InquiryFilterLabel'))): ?>

                            <li style="margin-top: 0px;">

                                <a  class="btn btn-white"  data-toggle="modal" data-target="#popupi" href="#"  onclick="popupi('Filter by label', '<?php echo $this->escape($this->url(array(), 'filterInquiryLabel')); ?>')">filter by label(s)</a>

                            </li>
        <?php endif; ?>
                    </ul>

    <?php } ?>

                <?php if (isset($this->filters['to_follow']) && $this->filters['to_follow'] == true): ?>



                    <div class="btn-group" style="margin-right:4px;float: right;">
                        <button class="btn btn-white" type="button"> 
                            <?php echo FilterLink::generate_link('All', array('sort' => 'deferred_date', 'method' => 'desc', 'fltr' => array('status' => 'inquiry', 'to_follow' => true), 'page_name' => 'All inquiries To follow'), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true && !isset($this->filters['to_follow_date']), true); ?>
                        </button>

                        <button class="btn btn-white" type="button">
                        <?php echo FilterLink::generate_link('Past', array('sort' => 'deferred_date', 'method' => 'desc','fltr' => array('to_follow' => true, 'status' => 'inquiry', 'to_follow_date' => 'past'), 'page_name' => 'Past inquiries To follow'), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'past', true); ?>
                        </button>

                        <button class="btn btn-white" type="button">
                        <?php echo FilterLink::generate_link('Today', array('sort' => 'deferred_date', 'method' => 'desc','fltr' => array('to_follow' => true, 'status' => 'inquiry', 'to_follow_date' => 'today'), 'page_name' => 'Today inquiries To follow'), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'today', true); ?>
                       </button>

                        <button class="btn btn-white" type="button">
                        <?php echo FilterLink::generate_link('Future', array('sort' => 'deferred_date', 'method' => 'desc','fltr' => array('to_follow' => true,'status' => 'inquiry', 'to_follow_date' => 'future'), 'page_name' => 'Future inquiries To follow'), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'future', true); ?>
                        </button>
                        <div id="inquiryrange" class="btn-group btn btn-white pull-right" style="background: #fff; cursor: pointer; padding: 6px 10px; border: 1px solid #e7eaec">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span></span> <b class="caret"></b>
                        </div>

                    </div>
                    


    <?php endif; ?>
            </div>
        </div>

<?php endif; ?>

    <div class="row" style="padding:5px; margin:0px; background-color:#F9F9F7;">
        <div class="" style="padding:0px; margin:0px;background-color:#F9F9F7;">
            <div class="ibox-content" id="inquiry_data" style="padding:0px; margin:0px;background-color:#F9F9F7;">
                <div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>	
            </div>


        </div>
    </div>
</div>




<script type="text/javascript" >

    var filters = <?php echo json_encode($this->filters); ?>;
    console.log(filters);
    var page_number = 0;
    var loading = false;
    var sort = '<?php echo $this->orderBy; ?>';
    var method = '<?php echo $this->sortingMethod; ?>';
    var is_last_request = 0;

    function getData(filters, page_number, is_first_time) {
        if (typeof (is_first_time) === 'undefined')
            is_first_time = 0;
        if (is_first_time == 0 && !($('#loading_img').length > 0)) {
			$('#seeMore').remove();
            $('#result').append('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
        }
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {'fltr': filters, 'is_first_time': is_first_time, 'page_number': page_number, 'sort': sort, 'method': method},
            url: "<?php echo $this->url(array(), 'inquiry'); ?>",
            success: function (result) {
                is_last_request = result.is_last_request;
                if (is_first_time == 1) {
                    $('#inquiry_data').html(result.data);
                } else {
					$('#seeMore').remove();
                    $("#result").append(result.data);
                }
				/////// ADDED BY RAND //////
				$.each($('.map1'), function (index, value) { 
				  id=$(this).attr('value');
				  is_map_drawn = ($('#is_drawn_'+id).attr('value')); 
				  if(is_map_drawn == 0){
					  $('#is_drawn_'+id).attr('value',1);
				  inquiryAddress = $('#inquiryAddress_'+id).attr('value');
				  var contractorsIds = [];
				  $.each($('.AvailablecontractorDiv_'+id), function (index, value) { 
		
			          contractorsIds[$(this).attr('value')]=$(this).attr('value');
				  });
				drawPositionFromAddress(inquiryAddress,id,contractorsIds); // draw the map
				  }
			  });
				/// END BY RAND /////// 

                $('#loading_img').remove();
                loading = false;
            }
        });

    }
function drawPositionFromAddress(Address,id,contractorsIds){
		var maps =[];
				var myOptions=[];
				myOptions[id] = {
					zoom: 12,
					center: new google.maps.LatLng(-34.397, 150.644),
					draggable: false,
					zoomControl: true,
				    zoomControlOptions: {
					  position: google.maps.ControlPosition.LEFT_CENTER
				       },
					mapTypeId: google.maps.MapTypeId.MyMapApp
				}
				maps[id] = new google.maps.Map(document.getElementById("map_"+id), myOptions[id]);
			 var geocoder2 = new google.maps.Geocoder();
				         /// Add contractor on map
						setTimeout(geocoder2.geocode( { 'address': Address}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
						  maps[id].setCenter(results[0].geometry.location);
						  console.log('this is inquiry lat and lon : '+results[0].geometry.location);
						var marker = new google.maps.Marker({
							map: maps[id],
							position: results[0].geometry.location
						});
						marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
					  }
								}),2500);
						  		
		if(contractorsIds != null){
		$.each(contractorsIds, function (index, value) {
			          ContractorId=value;
		if (ContractorId != null){
					    ContractorAddress = $('#contractorAddress_'+id+'_'+ContractorId).attr('value');
						contractorName = $('#contractorName_'+id+'_'+ContractorId).attr('value');
						ContractorDistance = $('#contractorDistance_'+id+'_'+ContractorId).attr('value');
						ContractorHtml = $('#contractorHtml_'+id+'_'+ContractorId).attr('value');
                          
						   setTimeout(drawContractorMarker(maps[id],ContractorAddress,contractorName,ContractorDistance,ContractorHtml),2500);
								
	           	}
					  });
	      }
							
	}
	
function drawContractorMarker(map,conractorAddress,contractorName,Distance,ContractorHtml){

						  var geocoder2 = new google.maps.Geocoder();
						  if(conractorAddress!=null){
				         /// Add contractor on map
						 var infowindow = new google.maps.InfoWindow({
						  content: ContractorHtml
						});
						 geocoder2.geocode( { 'address': conractorAddress}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
						var marker = new google.maps.Marker({
							map: map,
							position: results[0].geometry.location
						});
						 marker.addListener('click', function() {
                             infowindow.open(map, marker);
                             });
					  }
								});
						  }
	}
    // loading inquiry data
    $(document).ready(function () {
        getData(filters, page_number, 1);
        $(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {
                if (loading == false && is_last_request == 0) {
                    loading = true;
                    page_number++;
                    getData(filters, page_number);
                }
            }
        });
    });

    function filter(url) {
        window.location = url;
    }

    function mark_as_spam() {
        var is_confirmed = confirm('Are you sure you want to mark this inquiry as spam?');
        if (is_confirmed) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'inquiryMarkAsSpam')); ?>',
			    data: $('#fmInquiries').serialize(),
                dataType: "json",
                success: function (data) {

                    if (data.are_marked) {
						$.each(data.ids, function (id, item) {
                            $('#inquiry_' + item).remove();
                        });
                        alert('The selected Inquiries have been marked as spam');

                    } else {
                        alert('Error, please try again later ');
                    }

                }

            });
        }
    }
    function delete_inquiries() {
        var is_confirmed = confirm('Are you sure you want to delete this inquiry?');
        if (is_confirmed) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'inquiryDeleteBtn')); ?>',
                data: $('#fmInquiries').serialize(),
                dataType: "json",
                success: function (data) {
                    //alert('sccess');
                    console.log(data.are_deleted);
                    console.log(data.ids);
                    if (data.are_deleted) {
                        $.each(data.ids, function (id, item) {
                            $('#inquiry_' + item).remove();
                        });
                        alert('The selected Inquiries have been deleted');

                    } else {
                        alert('Error, please try again later ');
                    }

                }

            });
        }
    }


    function delete_spam() {
        var is_confirmed = confirm('Are you sure you want to delete this inquiry for ever ?');
        if (is_confirmed) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'inquiryDeleteSpam')); ?>',
                data: $('#fmInquiries').serialize(),
                dataType: "json",
                success: function (data) {
                    //alert('sccess');
                    console.log(data.are_deleted);
                    console.log(data.ids);
                    if (data.are_deleted) {
                        $.each(data.ids, function (id, item) {
                            $('#inquiry_' + item).remove();
                        });
                        alert('The selected Inquiries have been deleted');

                    } else {
                        alert('Error, please try again later ');
                    }

                }

            });

        }
    }

    function doInquiruesDelete(url) {
        console.log('by islam.....');
        $('#fmInquiries').attr("action", url);
        $('#fmInquiries').submit();
    }




    /*************IBM*/
 $('#inquiryrange span').html(moment()./*subtract(29, 'days').*/format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

    $('#inquiryrange').daterangepicker({
        format: 'MM/DD/YYYY',
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        // dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            // 'Today': [moment(), moment()],
            // 'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            // 'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            // 'Next Month': [moment().add(1, 'month').startOf('month'), moment().add(1, 'month').endOf('month')],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'left',
        drops: 'down',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-primary',
        cancelClass: 'btn-default',
        separator: ' to ',
        locale: {
            applyLabel: 'Apply',
            cancelLabel: 'Cancel',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
    }, function(start, end, label) {
        // console.log(start.toISOString(), end.toISOString(), label);
        $('#inquiryrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }); 

    $('#inquiryrange').on('apply.daterangepicker', function(ev, picker) {

       var start_date = picker.startDate.format('YYYY-MM-DD');
       var end_date = picker.endDate.format('YYYY-MM-DD');

       url = "?fltr[to_follow]=true" +"&sort=deferred_date&method=desc&fltr[status]=inquiry" + "&fltr[startDateRange]=" +start_date + "&fltr[endDateRange]=" +end_date ;        

        window.location = url;

    });

/****End*****/

function seeMore(){
	   $('#seeMore').remove();
	    if(loading == false){
					  loading = true;
                      page_number++;					  
					  getData(filters,page_number);
                    }
		
   }

</script>