<!-- TinyMCE -->
<script type="text/javascript">
    $(document).ready(function() {
        tinyMCE.init({
            // General options
            plugins : '-example', // - tells TinyMCE to skip the loading of the plugin
            mode : "textareas",
            theme : "advanced", 
            relative_urls : false,
            convert_urls : false,

            // Theme options
            theme_advanced_buttons1 : "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : false
        });
    });
</script>
<!-- /TinyMCE -->
<form id="form_advertising" class="form-horizontal" method="POST" onsubmit="tinyMCE.triggerSave(); do_submit('<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'sendInquiryAdvertisingEmail')); ?>','#form_advertising','#content_modal_popup');return false;">


		<div class="form-group">
				<label class="col-lg-2 control-label">To</label>
				<div class="col-lg-10">
					<input class="form-control" type="text" name="to" value="<?php echo $this->escape($this->to); ?>" />
					 <?php if (isset($this->error_mesages['to']) && !empty($this->error_mesages['to'])): ?>
					 <span style="color: red;" ><?php echo $this->escape($this->error_mesages['to']); ?></span>
					   <?php endif; ?>
				</div>
        </div>
		
		<div class="form-group">
				<label class="col-lg-2 control-label">Cc</label>
				<div class="col-lg-10">
					<input class="form-control" type="text" name="cc"  value="<?php echo $this->escape($this->cc); ?>" />
					    <?php if (isset($this->error_mesages['cc']) && !empty($this->error_mesages['cc'])): ?>
					 <span style="color: red;" > <?php echo $this->escape($this->error_mesages['cc']); ?></span>
					   <?php endif; ?>
				</div>
        </div>
		
		<div class="form-group">
				<label class="col-lg-2 control-label">Subject</label>
				<div class="col-lg-10">
					<input class="form-control" type="text" name="subject" value="<?php echo $this->escape($this->subject); ?>" />
					  <?php if (isset($this->error_mesages['subject']) && !empty($this->error_mesages['subject'])): ?>
					 <span style="color: red;" >  <?php echo $this->escape($this->error_mesages['subject']); ?></span>
					   <?php endif; ?>
				</div>
        </div>
		
		<div class="form-group">
				<label class="col-lg-2 control-label">body</label>
				<div class="col-lg-10">
					<textarea class="form-control" name="body" id="body" style="height:200px"><?php echo $this->body; ?></textarea>
				</div>
        </div>
		
		<div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-primary" type="submit" value="Send" >Send</button>
					or <a class="btn btn-danger" class="close" data-dismiss="modal" aria-label="Close" href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>">Cancel</a>
                </div>
         </div>
   
</form>