
<div class="ibox float-e-margins">
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-5">
            	<h3>Deleted Inquiries</h3>
            </div>
            <div class="col-md-7 ">
            
                    <ul class="inline-list float-lg-r">
                              
                                <li>
                                <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status] " style="<?php echo $this->escape(empty($this->filters['status']) ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">all</a>
                                </li> |
                               
                                <li>
                                <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]=inquiry" style="<?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'inquiry' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">inquiry</a> 
                                </li>|
                                
                                <li>
                                <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]=booking" style="<?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'booking' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">booking</a>
                                </li>
                        
                        </ul>
            </div>
       </div>
     </div>
     
     <div class="ibox-content">
                <div class="row">
                		<div class="col-md-5">
                            <ul class="inline-list">
									<?php if (CheckAuth::checkCredential(array('inquiryAdd'))): ?>
                                        <li> 	
                                            <a class="btn btn-white" href="<?php echo $this->escape($this->url(array(), 'inquiryAdd')); ?>">
                                                <span class="fa fa-plus"></span>&nbspNew Inquiry
                                            </a>
                                        </li>
                                    <?php endif;?>
                                    <li>
                                     <!-- search button -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                            <span class="fa fa-search"></span>&nbsp Advance Search
                                    </button>
                                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          
                                             <div class="modal-dialog">
                                                  <div class="modal-content">
                                          
                                                      <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            <h4 class="modal-title" id="exampleModalLabel">Search Inquiry</h4>
                                                      </div>
                                          
                                                       <div class="modal-body">
                                                           <?php echo $this->render('index/filters.phtml'); ?>
                                                       </div>
                                                  </div>
                                           </div>
                                          </div>
									</li>
                            </ul>
                        </div>
                        
                        <div class="col-md-7">
                        
    	
                        </div>
                </div>
     </div>
</div>
            


				
<div class="ibox float-e-margins no-margin-b">
	<?php if ($this->data): ?>
	   <div class="ibox-content">
                <form action="<?php echo $this->escape($this->url(array(), 'inquiryDeleteForeverBtn')); ?>" method="POST" onsubmit="return confirm('Are you sure you want to delete this inquiry ?');">
		<?php if (CheckAuth::checkCredential(array('inquiryDelete'))): ?>
					     <input class="btn btn-danger" type="submit" value="Delete Forever"/>
		<?php endif; ?>			          
					
                       
						
						<table class="table table-bordered responsive-table" id="deleted-inquiry-table" border="0" cellspacing="0" cellpadding="0">
						
							<thead>
								 <tr>
									<th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" /></th>
									<th><b>Inquiry#</b></th>
									<th><b>Details</b></th>
									<th><b>Customer Name</b></th>
									<th><b>Services / Deferred to</b></th>
								
								</tr>
							</thead>
							
							
							<tbody>
	
							<?php $count = 0; ?>
                            <?php $modelUser = new Model_User(); ?>
                            <?php $modelService = new Model_Services(); ?>
                            <?php $modelInquiryService = new Model_InquiryService(); ?>
                            <?php $modelInquiryType = new Model_InquiryType(); ?>
                            <?php $modelCustomer = new Model_Customer(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                         <input type="checkbox"  id="delete-check" name="ids[]" value="<?php echo $this->escape($row['inquiry_id']) ?>"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                          
                                                <?php if (CheckAuth::checkCredential(array('inquiryView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['inquiry_num']) ?></b></a>
                                                <?php endif; ?>
                                          
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['status']) {
                                                case 'inquiry':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'booking':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>;">
                                                <?php echo $this->escape(ucfirst($row['status'])); ?>
                                            
                                                <?php if (CheckAuth::checkCredential(array('customerLocation'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                           
                                                <?php if (CheckAuth::checkCredential(array('inquiryView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryView')); ?>" class="a_link_black"><?php echo $this->escape($row['title']) ?></a>    
                                                <?php endif; ?>
                                            
                                            
                                                <span style="color: #A1A1A1;">Date:</span><?php echo $this->escape(getDateFormating( $row['created'])) ?>
                                           
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('inquiryDeleteForever'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryDeleteForever')); ?>" onclick="return confirm('Are you sure you want to delete this inquiry ?');" class="details_info_opt">Delete Forever</a>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('inquiryUndelete'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryUndelete')); ?>" onclick="return confirm('are you sure you want to restore this inquiry?');" class="details_info_opt">UnDelete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            
                                                <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                    <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </a>    
                                                <?php else: ?>
                                                    <span class="span_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </span>    
                                                <?php endif; ?>
                                       
                                        </div>
                                    </td>

                                    <?php if ($row['deferred_date']): ?>
                                        <td class="details_info_l">
                                         
                                                <?php echo $this->escape(date(get_config('date'), $row['deferred_date'])) ?>
                                           
                                        </td>
                                    <?php else: ?>
                                        <td class="details_info_l">
                                            <div class="details_info_l">
                                                <?php foreach ($row['allService'] as $serviceName): ?>
                                                    
                                                        <?php echo $this->escape($serviceName); ?>
														
														
                                                <?php endforeach; ?>
                                            </div>
                                        </td>
                                    <?php endif; ?>

                                </tr>
							</tbody>
                            <?php endforeach; ?>
                        </table>
	</form>
    </div>
       				  	<div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
       	<?php else: ?>
								
          <div class="ibox-content">
              <span class="fa fa-ban"></span>
                  <br/>
                  <h3 class="font-bold">There are no Inquiry.</h3>
          </div>
	  <?php endif; ?>             
</div>
    
                   
	