<style>
    .icons-right a, .icons-left a{
        font-size:20px;
    }

    .product-gallery li, .product-gallery > div{
        width:100px;
        height:100px;
    }

    #productContainer, #productContent, .sidebar{
        min-height: 0px;
        width: auto;
    }

</style>
<?php if (!empty($this->isWorkOrder)): ?>

    <div class="alert alert-warning alert-dismissible fade in col-md-12" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <span class="typeprice">work Order Attachment File Required</span>
    </div>

<?php endif; ?>
<?php
$modelAuthRole = new Model_AuthRole();
$modelUser = new Model_User();
$superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$loggedUser = CheckAuth::getLoggedUser();
$user_id = $loggedUser['user_id'];
$user = $modelUser->getById($user_id);
?>

<div class="ibox float-e-margins no-margin-b">
    <div class="row wrapper border-bottom white-bg">

        <div class="col-md-5">
            <div class="createdTimeDiv">
                <span class="booking_title">Inquiry Details</span> 
                <span class="booking_created_date">
                    <i> Created </i><?php echo $this->escape(getDateFormating($this->inquiry['created'])); ?>
                </span>
            </div>

            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/inquiry">Inquiries</a>
                </li>
                <li class="active">
                    <strong>Inquiry Details</strong>
                </li>
            </ol>
        </div>
        <div class="col-md-7">


            <nav>
                <div class="inline float-r">


                    <!-- Email button -->

                    <?php if (CheckAuth::checkCredentialOr(array('sendEmail'))): ?>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Email&nbsp <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li class="resume">
                                    <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
                                        <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email', '<?php echo $this->escape($this->url(array('id' => $this->inquiry['customer_id'], 'type' => 'inquiry', 'reference_id' => $this->inquiry['inquiry_id']), 'sendEmail')); ?>');">Send Email</a>
                                    <?php endif; ?>
                                </li>
                            </ul>
                        </div>
                    <?php endif; ?>


                    <!-- Inquiry button -->
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle " aria-expanded="false">Inquiry&nbsp<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <!-- add new booking -->

                            <?php if (!$this->inquiry['is_deleted']): ?>
                                <?php if (CheckAuth::checkCredentialOr(array('inquiryEdit', 'inquiryConvertToBooking', 'inquiryConvertToEstimate', 'inquiryLabel'))): ?>

                                    <li class="edit">
                                        <?php if (CheckAuth::checkCredential(array('inquiryEdit')) && $this->inquiry['status'] == 'inquiry'): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryEdit')); ?>"><span class="fa fa-edit"></span>&nbsp Edit</a>
                                        <?php endif; ?>
                                    </li>



                                    <li class="delete">
                                        <?php if (CheckAuth::checkCredential(array('inquiryDelete'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryDelete')); ?>" onclick="return confirm('are you sure you want to delete this inquiry?');"><span class="fa fa-times"></span>&nbsp Delete</a>
                                        <?php endif; ?>
                                    </li>



                                    <li class="divider"></li>
                                    <li class="convert-to-open">
                                        <?php if (CheckAuth::checkCredential(array('inquiryConvertToBooking')) && $this->inquiry['status'] == 'inquiry'): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryConvertToBooking')); ?>"><span class="fa fa-exchange"></span>&nbsp Convert To Booking</a>
                                        <?php endif; ?>
                                    </li>


                                    <li class="convert-to-open">
                                        <?php if (CheckAuth::checkCredential(array('inquiryConvertToEstimate')) && $this->inquiry['status'] == 'inquiry'): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryConvertToEstimate')); ?>"><span class="fa fa-exchange"></span>&nbsp Convert To Estimate</a>
                                        <?php endif; ?>
                                    </li>


                                    <li class="divider"></li>
                                    <li class="make-recurring">
                                        <?php if (CheckAuth::checkCredential(array('attachment'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryAttachment')); ?>" class="details_info_opt"><span class="fa fa-upload"></span>&nbsp File Attachments</a>
                                        <?php endif; ?>
                                    </li>
									
									<li class="edit">
                                        <?php 
										//D.A 10/09/2015 inquiry Cache Clear
										if (CheckAuth::checkCredential(array('inquiryEdit'))){?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryCacheClear')); ?>"><span class="fa fa-times"></span>&nbsp Clear Cache</a>
                                        <?php }  ?>
                                    </li>

                                <?php endif; ?>
                            <?php endif; ?>
                        </ul>
                    </div>
                    <?php if (!$this->inquiry['is_deleted']): ?>

                        <?php if ($this->originalInquiry): ?>

                            <div class="btn-group">
                                <button class="btn btn-primary" href="#" id="toggle_org_inquiry" onclick="toggle_inquiry()">

                                    <i class="fa fa-inbox"></i>&nbsp Orignial Inquiry</i></button>

                            <?php endif; ?>



                        </div>

                        <div class="inline">


                            <?php
                            $modelInquiryAddress = new Model_InquiryAddress();
                            $address = $modelInquiryAddress->getByInquiryId($this->inquiry['inquiry_id']);
                            $nearestBookingParams = array();
                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($address['unit_lot_number']);
                            $nearestBookingParams[] = 'street_number=' . urlencode($address['street_number']);
                            $nearestBookingParams[] = 'street_address=' . urlencode($address['street_address']);
                            $nearestBookingParams[] = 'suburb=' . urlencode($address['suburb']);
                            $nearestBookingParams[] = 'state=' . urlencode($address['state']);
                            $nearestBookingParams[] = 'postcode=' . urlencode($address['postcode']);
                            $nearestBookingParams[] = 'city_id=' . urlencode($this->inquiry['city_id']);
                            $nearestBookingParams = implode("&", $nearestBookingParams);
                            ?>
                            <!-- nearest booking -->
                            <div class="btn-group"> 
                                <button class="btn btn-info btn-outline "
                                        data-toggle="modal" data-target="#fn_nearest" href="#"
                                        onclick="fn_popupi_with_parm('Nearest Booking', '<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>', '<?php echo $this->escape($nearestBookingParams) ?>')">
                                    Nearest Booking
                                </button>


                            </div>




                            <?php
                            $findAvailabilityParams = array();
                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($address['unit_lot_number']);
                            $findAvailabilityParams[] = 'street_number=' . urlencode($address['street_number']);
                            $findAvailabilityParams[] = 'street_address=' . urlencode($address['street_address']);
                            $findAvailabilityParams[] = 'suburb=' . urlencode($address['suburb']);
                            $findAvailabilityParams[] = 'state=' . urlencode($address['state']);
                            $findAvailabilityParams[] = 'postcode=' . urlencode($address['postcode']);
                            $findAvailabilityParams[] = 'city_id=' . urlencode($this->inquiry['city_id']);
                            foreach ($this->services as $service) {
                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                            }
                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                            ?>

                            <!-- find avialbility -->
                            <div class="btn-group"> 


                                <a class="btn btn-info btn-outline"  
                                   data-toggle="modal" data-target="#fn_nearest" href="#"
                                   onclick="fn_popupi_with_parm('Find Availability', '<?php echo $this->escape($this->url(array(), 'findAvailability')); ?>', '<?php echo $this->escape($findAvailabilityParams) ?>')">
                                    Find Availability
                                </a>  

                            </div>

                        <?php else: ?>

                            <div class="btn-group"> 
                                <?php if (CheckAuth::checkCredential(array('inquiryDeleteForever'))): ?>
                                    <button class="btn btn-danger" href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryDeleteForever')); ?>" onclick="return confirm('are you sure you want to delete this inquiry?');">Delete Forever</button>
                                <?php endif; ?>
                            </div>
                            <div class="btn-group"> 
                                <?php if (CheckAuth::checkCredential(array('inquiryUndelete'))): ?>
                                    <button class="btn btn-info btn-outline" href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryUndelete')); ?>" onclick="return confirm('are you sure you want to restore this inquiry?');">UnDelete</button>
                                <?php endif; ?>

                            </div> 

                        <?php endif; ?>  <!-- end of undeleted -->  
                    </div>
                </div>



            </nav>
        </div>
    </div>
    <?php
    $color = '#A1A1A1';
    switch ($this->inquiry['status']) {
        case 'estimate':
            $color = '#A1A1A1';
            break;

        case 'booking':
            $color = '#BCD68F';
            break;
    }
    ?>		
    <div class="row wrapper" style="background-color: <?php echo $this->escape($color); ?>;" >

        <div class="strocked-text" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="inquiry Type">
            <?php echo ucfirst($this->inquiry['status']); ?>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">	
        <div class="wrapper wrapper-content">




            <div class="col-md-5">
                <div class="ibox">
                    <div class="ibox-title">
                        <?php echo $this->escape($this->inquiry['inquiry_num']); ?>


                        <?php if (isset($this->estimate) && !empty($this->estimate)): ?>
                            <b>
                                <?php if (CheckAuth::checkCredential(array('estimateView')) && !$this->estimate['is_deleted']): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->estimate['id']), 'estimateView')); ?>" class="a_black"><?php echo $this->escape($this->estimate['estimate_num']) ?></a>
                                <?php else: ?>
                                    <span><?php echo $this->escape($this->estimate['estimate_num']) ?></span>
                                <?php endif; ?>
                            </b>
                        <?php elseif (isset($this->booking) && !empty($this->booking)): ?>
                            <b>
                                <?php if (CheckAuth::checkCredential(array('bookingView')) && !$this->booking['is_deleted']): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>" class="a_black"><?php echo $this->escape($this->booking['booking_num']) ?></a>
                                <?php else: ?>
                                    <span><?php echo $this->escape($this->booking['booking_num']) ?></span>
                                <?php endif; ?>
                            </b>

                            <?php if (isset($this->invoice) && !empty($this->invoice)): ?>

                                <b>
                                    <?php if (CheckAuth::checkCredential(array('invoiceView')) && !$this->invoice['is_deleted']): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoiceView')); ?>" class="a_black"><?php echo $this->escape($this->invoice['invoice_num']) ?></a>
                                    <?php else: ?>
                                        <span><?php echo $this->escape($this->invoice['invoice_num']) ?></span>
                                    <?php endif; ?>
                                </b>

                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                    <div class="ibox-content">


                        <table class="table table_no_top_border">
                            <tbody>


                                <tr>
                                    <td valign="top" class="valueText">
                                        <b>Inquiry Type :</b>
                                        <?php echo $this->escape($this->inquiry_type['inquiry_name']); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" class="valueText">
                                        <b>Property Type :</b>
                                        <?php $modelPropertyType = new Model_PropertyType(); ?>
                                        <?php $propertyType = $modelPropertyType->getById($this->inquiry['property_type_id']) ?>
                                        <?php echo $this->escape($propertyType['property_type']); ?></td>
                                </tr>
                                <?php if ($this->originalInquiry) { ?>
                                    <?php if ($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeSearchEngineReferer'))) { ?>
                                        <tr>
                                            <td valign="top" class="valueText">
                                                <b>Search Engine Referer : </b>
                                                <?php echo $this->escape($this->originalInquiry['search_engine_referer']); ?>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php if ($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeKeywordReferer'))) { ?>
                                        <tr>
                                            <td valign="top" class="valueText"> 
                                                <b>keyword Referer : </b>
                                                <?php echo $this->escape($this->originalInquiry['keyword_referer']); ?>
                                            </td>
                                        </tr>
                                    <?php } ?>

                                    <?php if ($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeIpAddress'))) { ?>
                                        <tr>

                                            <td>
                                                <b>IP Address : </b>
                                                <?php
                                                echo $this->escape($this->originalInquiry['ip_address']);
                                                if (isset($this->originalInquiry['ip_address'])) {

                                                    // test if this ip is blocked, if yes show un block button instead of block button
                                                    $modelBannedIpAddress = new Model_BannedIpAddress();
                                                    $isBanned = $modelBannedIpAddress->isBannedIP($this->originalInquiry['ip_address']);
                                                    if ($isBanned) {
                                                        ?>
                                                        <input id="unblock_btn" type="button" class="btn btn-danger" value="unBlock IP Address" onClick="remove_banned_ip('<?php echo $this->escape($this->url(array('ip' => $this->originalInquiry['ip_address']), 'removeBannedIp')); ?>');
                                                                                                                                return false;" />
                                                        <?php
                                                    } else {
                                                        ?>
                                                        <input id="block_btn" type="button" class="btn btn-primary" value="Block IP Address" onClick="add_banned_ip('<?php echo $this->escape($this->url(array('ip' => $this->originalInquiry['ip_address']), 'addBannedIp')); ?>');
                                                                                                                                return false;" />
                                                        <?php
                                                    }
                                                }
                                                ?>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php if ($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeePageUrl'))) { ?>
                                        <tr>
                                            <td valign="top" class="valueText">
                                                <b>Page Url : </b>
                                                <?php echo $this->escape($this->originalInquiry['page_url']); ?>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                    <?php if ($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeWebsite'))) { ?>
                                        <tr>
                                            <td valign="top" class="valueText">
                                                <b>website</b>
                                                <?php echo $this->escape($this->originalInquiry['website']); ?>
                                            </td>
                                        </tr>
                                        <?php
                                        $tradingNameObj = new Model_TradingName();
                                        $trading_names = $tradingNameObj->getTradingNameByWebsite($this->originalInquiry['website']);

                                        if (!empty($trading_names)) {
                                            ?>
                                            <tr>
                                                <td valign="top" class="valueText"><b>Trading Name : </b>
                                                    <?php echo $trading_names['trading_name']; ?></td>
                                            </tr>
                                        <?php } else if ($this->inquiry['website_url'] == $this->originalInquiry['website']) {
                                            ?>	
                                            <tr>
                                                <td valign="top" class="valueText">
                                                    <b>Trading Name : </b>
                                                    <?php echo $this->inquiry['trading_name'] ?>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    <?php } ?>

                                <?php } else if (isset($this->inquiry['trading_name'])) { ?>
                                    <tr>
                                        <td valign="top" class="valueText"><b>Trading Name : </b>
                                            <?php echo $this->inquiry['trading_name'] ?></td>
                                    </tr>
                                <?php } ?>

                                <tr>

                                    <td>

                                        <b class="inline">Deferred To :</b>

                                        <?php if ($this->inquiry['deferred_date']):; ?>
                                            <div class="details_info_l inline" id="follow_date_container_<?php echo $this->escape($this->inquiry['inquiry_id']) ?>" 
                                                 >
                                                <div class="inline" id="follow_date_value_<?php echo $this->escape($this->inquiry['inquiry_id']) ?>" >
                                                    <?php echo $this->escape(getDateFormating($this->inquiry['deferred_date'])); ?>
                                                </div>
                                                <div  class="inline" id="follow_date_button_<?php echo $this->escape($this->inquiry['inquiry_id']) ?>" >
                                                    <a href="javascript:;" onclick="change_follow_date(<?php echo $this->escape($this->inquiry['inquiry_id']) ?>)" class="a_link btn btn-xs btn-white">
                                                        <span class="fa fa-edit"></span> Edit</a>
                                                </div>

                                                <input type="hidden" id="hidden_deffer_to" value="<?php echo date("d-m-Y H:i A", $this->escape($this->inquiry['deferred_date'])) ?>" />
                                            </div>

                                        <?php else : ?>
                                            <?php echo "Immediately"; ?>
                                        <?php endif; ?>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <?php
                $view = new Zend_View();
                $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common');
                $view->contractorDistances = $this->contractorDistances;
                $view->view = 'inquiry';
                echo $view->render('availableTechnicians.phtml');
                ?>



            </div>
            <div class="col-md-7">


                <div class="ibox" id="org-inquiry">

                    <div class="ibox-content">

                        <table class="table table_no_top_border">
                            <thead><th colspan="2"> Original Inquiry</th></thead>
                            <tr><th>Property Type :</th><td><?php echo $this->escape($this->originalInquiry['property_type']); ?></td></tr>
                            <tr><th>Name:</th><td><?php echo $this->escape($this->originalInquiry['name']); ?></td></tr>
                            <tr><th>Email:</th><td><?php echo $this->escape($this->originalInquiry['email']); ?></td></tr>
                            <tr><th>Mobile:</th><td><?php echo $this->escape($this->originalInquiry['mobile']); ?></td></tr>
                            <tr><th>Phone:</th><td><?php echo $this->escape($this->originalInquiry['phone']); ?></td></tr>
                            <tr><th>Address:</th><td><?php echo $this->escape($this->originalInquiry['address']); ?></td></tr>
                            <tr><th>City:</th><td><?php echo $this->escape($this->originalInquiry['city']); ?></td></tr>
                            <tr><th>Postcode:</th><td><?php echo $this->escape($this->originalInquiry['postcode']); ?></td></tr>
                            <tr><th>Service:</th><td><?php echo $this->escape($this->originalInquiry['service']); ?></td></tr>
                            <tr><th>Floor:</th><td><?php echo $this->escape($this->originalInquiry['floor']); ?></td></tr>
                            <tr><th>Required:</th><td><?php echo $this->escape($this->originalInquiry['required']); ?></td></tr>
                            <tr><th>Comment :</th><td><?php echo $this->escape($this->originalInquiry['comment']); ?></td></tr>
                        </table>


                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-content">




                        <ul class="Booking_label">

                            <?php if (CheckAuth::checkCredential(array('inquiryLabel'))): ?>

                                <li class="inline">
                                    <button class="btn btn-primary  btn-outline labels_btn" 
                                            data-toggle="modal" data-target="#popupi"   
                                            onclick="popupi('Inquiry Label', '<?php echo $this->escape($this->url(array('inquiry_id' => $this->inquiry['inquiry_id']), 'inquirySelectLabel')); ?>')">
                                        <b><i class="fa fa-tag"></i>&nbsp Label <i class="fa fa-plus"></i></b>
                                    </button>
                                </li>
                            <?php endif; ?>
                            <span id="label_<?php echo $this->inquiry['inquiry_id'] ?>" class="Booking_labels">
                                <?php if (isset($this->inquiryLabels)): ?>
                                    <?php foreach ($this->inquiryLabels as $label): ?>
                                        <li>
                                            <?php echo $this->escape($label['label']['label_name']); ?> 
                                        </li>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </span>
                        </ul>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <?php if ($this->photo): ?>
                            <a href="<?php echo $this->escape($this->url(array('itemid' => $this->inquiry['inquiry_id'], 'type' => $this->type), 'ItemAttachmentList')); ?>" class="details_info_opt"><span class="fa fa-th"></span> Photos </a>
                        <?php else: ?>
                            Photos
                        <?php endif; ?>
                        <span class="float-r">
                            <a class="a_link " data-toggle="modal" data-target="#popupi" href="#" onclick="popupi('Add Photos', '<?php echo $this->escape($this->url(array('type' => $this->type, 'itemid' => $this->inquiry['inquiry_id']), 'ItemImageAttachmentAttach')); ?>');"><i class="fa fa-camera"></i> Add photos&nbsp;</a>

                        </span>
                    </div>
                    <div class="ibox-content">
                        <div class="add_photo_button"><a style="margin-top:30%;display: block;" class="a_link " data-toggle="modal" data-target="#popupi" href="#" onclick="popupi('Add Photos', '<?php echo $this->escape($this->url(array('type' => $this->type, 'itemid' => $this->inquiry['inquiry_id']), 'ItemImageAttachmentAttach')); ?>');">
                                <i class="fa fa-camera fa-4x"></i><br/> Add Photos&nbsp;</a>

                        </div>
                        <?php
                        if ($this->photo):
                            $modelServices = new Model_Services();
                            ?>
                            <div id="productContainer">
                                <div id="productContent">
                                    <ul  class="product-gallery" >
                                        <?php $number = $this->photoCount; ?>
                                        <?php foreach ($this->photo as $photo): ?>
                                            <?php
                                            list($width, $height) = getimagesize($this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['compressed_path'])));
                                            ?>
                                            <li class="gallery-img" count="<?php echo $this->photoCount; ?>" number="<?php echo ($number--); ?>">
                                                <div class="viewImage" style="display:none;">
                                                    <div></div>
                                                </div>
                                                <img width = "150" height="150" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['small_path'])); ?>" imagewidth = "<?php echo $width ?>" imageheight = "<?php echo $height ?>" original="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['compressed_path'])); ?>"/>
                                                <div class="icons-left"></div>
                                                <div class="icons-right">
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $photo['image_id'], 'type' => $this->type, 'itemId' => $this->inquiry['inquiry_id']), 'ItemImageAttachmentDelete')); ?>" onclick="return confirmImageDelete($(this))" class="details_info_opt del"><span class="fa fa-times"></span> </a>
                                                </div>

                                                <div class="content">
                                                    <div style="height:80%;overflow:auto;" class="discussions" >
                                                        <?php
                                                        $modelInquiryDiscussion = new Model_InquiryDiscussion();
                                                        $modelUser = new Model_User();
                                                        $modelAuthRole = new Model_AuthRole();
                                                        $modelContractorInfo = new Model_ContractorInfo();
                                                        $imageDiscussions = $modelInquiryDiscussion->getByImageId($photo['image_id'], 'DESC');
                                                        ?>
                                                        <ul class="disc_b">
                                                            <?php if ($imageDiscussions): ?>
                                                                <?php foreach ($imageDiscussions as $imageDiscussion): ?>
                                                                    <?php $user = $modelUser->getById($imageDiscussion['user_id']); ?>
                                                                    <li>
                                                                        <div class="normal_font"> 
                                                                            <span>
                                                                                <i class="fa fa-user"></i>
                                                                                <b><?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                                                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                                                                        <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>

                                                                                    <?php else: ?>
                                                                                        <?php echo $this->escape(ucwords($user['username'])); ?>
                                                                                    <?php endif; ?>
                                                                                </b>
                                                                            </span>

                                                                            <span >
                                                                                <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                                                                                <?php echo $this->escape(getDateFormating($imageDiscussion['created'])) ?>
                                                                            </span>
                                                                        </div>
                                                                        <div class="disc_message">
                                                                            <?php echo nl2br($this->escape(wordwrap($imageDiscussion['user_message'], 20, " ", true))); ?>
                                                                        </div>


                                                                    </li>
                                                                <?php endforeach; ?>
                                                            <?php endif; ?>


                                                        </ul>
                                                    </div>
                                                    <div class="comment_body">
                                                        <div class="errMsg">&ensp;</div>
                                                        <input type="hidden" value= "<?php echo $photo['image_id']; ?>" name="imageId" id="imageId"/>
                                                        <div class="form-group">
                                                            <label class="col-md-3"> 
                                                                Comment 
                                                            </label>
                                                            <div class="col-md-7" style="padding-left:0px;">
                                                                <textarea name="discussion" class="form-control discussion_image" style="font-size:12px;"></textarea>               								
                                                            </div>
                                                            <div class="col-md-2" style="padding-left:0px;"><a class="btn btn-primary addComment" style="line-height:32px;"><i class="fa fa-comment"></i> Post</a></div>
                                                        </div>
                                                        <div style="clear:both"></div>
                                                    </div>
                                                </div>


                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>										
                       
                        <?php endif; ?>
                        <div style="clear:both"></div>
                    </div>
                </div>

                <!-- customer information -->
                <?php
                $customerView = new Zend_View();
                $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                $customerView->customer_id = $this->inquiry['customer_id'];
                $customerView->allDetails = true;
                echo $customerView->render('customer_info.phtml');
                ?>
                <div class="ibox" id="comment-block">
                    <div class="ibox-title">
                        <b>Comment<?php $description = wordwrap($this->booking ['description'], 90, "\n", true); ?></b>
                        <span class="float-r">
                            <a class="a_link"  id="edit_comment"><span class="fa fa-edit"></span></a>
                        </span>	
                    </div>

                    <div class="ibox-content">
                        <div class="inquiry-comment">  <?php
                            $comment = wordwrap($this->inquiry['comment'], 90, "\n", true);
                            echo $comment;
                            ?>
                        </div>
                    </div>
                </div>
                <!--tabs section  -->
                <?php
                $view = new Zend_View();
                $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');

                $view->inquiryId = $this->inquiry['inquiry_id'];
                $view->view = 'inquiry';

                echo $view->render('tabs.phtml');
                ?>
                <!-- orginal inquiry section-->
                <?php if ($this->originalInquiry): ?>
                    <br/>

                <?php endif; ?>
            </div>
        </div>



        <div class="ibox services1 no-margin-b"> 

            <div class="ibox-title col-md-12 col-lg-12 col-sm-12 col-xs-12 services_head black-gray">
                <div class="inline">&nbsp;
                    <i class="icon-services">&nbsp;</i>
                    Services 
                </div>


            </div>	

            <div class="ibox-content services_content" style="background-color:#788492 !important;">	 
                <?php foreach ($this->services as $key => $service): ?>
                    <div class="ibox">
                        <div class="ibox-title">
                            <span><h4><i class="fa fa-star">&nbsp;</i>
                                    <b><?php echo $this->escape($service['service_name']); ?></b>
									
									<div class="float-r">
                                        <a class="a_link " data-toggle="modal" data-target="#popupi" href="#" onclick="popupi('Image Attachment', '<?php echo $this->escape($this->url(array('type' => $this->type, 'itemid' => $this->inquiry['inquiry_id'], 'serviceid' => $service['service_id']), 'ItemImageAttachmentAttachByService')); ?>');"><span class="fa fa-camera"></span> Add photos&nbsp;</a>
                             </div>
									
									
									</h4>
                            </span>
							
							
							
                        </div>

                        <div class="ibox-content">


                            <?php if (isset($service['attributes']) && $service['attributes']): ?>
                                <?php foreach ($service['attributes'] as $attribute) { ?> 
                                    <div>
                                        <div>
                                            <?php if (isset($attribute['value'])): ?>
                                                <b><?php echo $this->escape($attribute['attribute_name']); ?></b>

                                                <?php
                                                if (is_array($attribute['value'])) {
                                                    foreach ($attribute['value'] as $value) {
                                                        echo $this->escape($value) . '<br/>';
                                                    }
                                                } else {
                                                    echo $this->escape($attribute['value']);
                                                }
                                                ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>

                                <?php } ?>
                            <?php endif; ?>



                        </div>
                    </div>
                <?php endforeach; ?>



            </div>
        </div>
    </div>


</div>












<script>
     
      $(".floatingHeader").css('display','none');
      function UpdateTableHeaders() {
        var fixedwidth = $('.services1').width();
        $(".services1").each(function () {
            var el = $(this),
                    offset = el.offset(),
                    scrollTop = $(window).scrollTop(),
                    floatingHeader = $(".floatingHeader", this)

            if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
                floatingHeader.css({
                    "display": "block"
                });
            } else {
                floatingHeader.css({
                    "display": "none"
                });
            }
            ;
        });
    }

    // DOM Ready      
    $(function () {

        var clonedHeaderRow;

        $(".services1").each(function () {
            clonedHeaderRow = $(".services_head", this);
            clonedHeaderRow
                    .before(clonedHeaderRow.clone())

                    .addClass("floatingHeader");
            // .css("width", clonedHeaderRow.width())
            //.css({'position': 'fixed','top':'0','z-index':'1000'});
        });

        $(window)
                .scroll(UpdateTableHeaders)
                .trigger("scroll");

    });
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array('type' => 'inquiry', 'type_id' => $this->inquiry['inquiry_id']), 'updateFullTextSearchByTypeAndTypeId')); ?>',
            success: function (result) {
                console.log(result);
            }
        });

        // to edit comment 

        $('#comment-block').on('click', '#edit_comment', function (e) {
            $('.inquiry-comment').summernote({focus: true});
            $('.note-insert').hide();
            $(this).after('&nbsp;&nbsp;<a class="a_link"  id="save_description"><span class="fa fa-floppy-o"></span>&nbsp;Save&nbsp;</a>');
            $(this).html('<span class="fa fa-ban"></span>');
            $(this).attr('id', 'cancel_edit');
        });

        $('#comment-block').on('click', '#save_description', function (e) {
            editDescription();
        });

        $('#comment-block').on('click', '#cancel_edit', function (e) {
            var description = $('.inquiry-comment').html();
            $('.inquiry-comment').destroy();
            $('.inquiry-comment').html(description);
            $(this).html('<span class="fa fa-edit"></span>');
            $(this).attr('id', 'edit_comment');
            $('#save_description').remove();
        });

        function editDescription() {
            newdescription = $('.inquiry-comment').code(); //save HTML If you need(aHTML: array).
            $.ajax({
                type: "POST",
                data: {'comment': newdescription},
                url: "<?php echo $this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryEditDescription'); ?>",
                success: function (msg) {
                    var new_description = $('#description').val();
                    $('.inquiry-comment').destroy();
                    $('#save_description').remove();
                    $('#cancel_edit').html('<span class="fa fa-edit"></span>');
                    $('#cancel_edit').attr('id', 'edit_comment');
                }
            });

        }

        $('.gallery-img').Am2_SimpleSlider();

        $('body').on('click', '.addComment', function (e) {

            parent = $(this).parents('.comment_body');
            comment = parent.find('.discussion_image').val();
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'submitInquiryDiscussion')); ?>",
                data: {'discussion': comment, 'imageId': parent.find('#imageId').val()},
                dataType: "json",
                success: function (msg) {
                    if (msg.success == 1) {
                        getCommentData(parent.find('#imageId').val(), parent);
                        //$('#discussions').removeClass('empty');
                    } else {
                        parent.parents('.product-desc').find('.errMsg').html(msg.errMsg);
                    }
                }
            });

        });


    });

    var count = 0;
    function getCommentData(ImageId, parent) {

        $.ajax({
            type: "POST",
            data: {'id': ImageId},
            url: "<?php echo $this->escape($this->url(array(), 'allInquiryImageDiscussion')); ?>",
            dataType: "json",
            success: function (msg) {
                if (count != msg.count) {
                    //alert($('#discussions').html());
                    var li_index = parent.parents('.product-information1').find('#image_num').val();

                    parent.parents('body').find('.gallery-img:eq(' + li_index + ') .discussions ul').html('');
                    parent.parents('.product-desc').find('.discussions ul').html('');
                    //alert(parent.parents('body').find('.gallery-img:eq('+li_index+') .discussions ul').html());

                    $.each(msg.discussions, function (index, discussion) {
                        parent.parents('.product-desc').find('.discussions ul').append(
                                '<li><div class="normal_font"> <span><i class="fa fa-user"></i>' +
                                '<b> ' + discussion.user.username + ' </b></span>' +
                                '<span ><i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' +
                                discussion.discussion_date + ' </span></div><div class="disc_message">' +
                                discussion.user_message + '</div></li>');

                        parent.parents('body').find('.gallery-img:eq(' + li_index + ') .discussions ul').append(
                                '<li><div class="normal_font"> <span><i class="fa fa-user"></i>' +
                                '<b> ' + discussion.user.username + ' </b></span>' +
                                '<span ><i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' +
                                discussion.discussion_date + ' </span></div><div class="disc_message">' +
                                discussion.user_message + '</div></li>');


                    });


                }

                parent.parents('.product-desc').find('.errMsg').html('');
                count = msg.count;
            }
        });
    }


    function confirmImageDelete(deleteLink) {
        var deletCommentFlag = 0;

        if (!($('#deleteComment').length))
        {
            $div1 = $('<div id="deleteComment" class="modal fade"><div class="modal-dialog"><div class="modal-content"> <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">Confirmation Message</h4></div><div class="modal-body"> <p>Are you sure you want to continue?</p> </div><div class="modal-footer"><a type="button" class="btn btn-danger" id="okBtn">OK</a><a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a></div></div></div></div>').appendTo('body');
        }

        $("#confirm .modal-title").html('Delete Image');
        $("#confirm .modal-body").html('Are you sure you want to delete this Image Attachment?');
        $('#confirm').modal('show');

        $('body').on('click', '#confirm #okBtn', function () {

            $comments = deleteLink.parents('.gallery-img').find('.discussions ul li').length;

            if ($comments) {
                $('#confirm').modal('hide');
                $('#deleteComment').modal('show');
                $("#deleteComment .modal-title").html('Delete Image Comments');
                $("#deleteComment .modal-body").html('Are you sure you want to delete this Image Comments?');
                $("#deleteComment a:eq(0)").text('Yes');
                $("#deleteComment a:eq(1)").text('No');
                var _href = deleteLink.attr("href");
                $('#deleteComment a:eq(0)').attr("href", _href);
                $('#deleteComment a:eq(1)').attr("href", _href);
            } else {
                var _href = deleteLink.attr("href");
                window.location.href = _href;
            }
        });

        var deletCommentFlag = 'false';
        $('body').on('click', '#deleteComment #okBtn', function () {
            var deletCommentFlag = 'true';
            $('#deleteComment').modal('hide');
            var _href = $(this).attr("href");
            $(this).attr("href", _href + '?deleteComments=' + deletCommentFlag);
        });

        $('body').on('click', '#deleteComment a:eq(1)', function () {
            var deletCommentFlag = 'false';
            $('#deleteComment').modal('hide');

        });


        return false;
    }
    function toggle_inquiry() {
        $('#org-inquiry').toggle();


    }
    function sendEmail(title, url) {
        $(document).ready(function () {
            //  tb_show("", url+'?height=510&width=800');
        });
    }



    function change_follow_date(inquiry_id) {

        var value = $('#hidden_deffer_to').val();

        $('#follow_date_value_' + inquiry_id).html('<div class="input-group date" id="datetimepicker2"><input type="text" class="form-control" id="follow_date_' + inquiry_id + '"  value="' + value + '" /><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>');
        $('#follow_date_button_' + inquiry_id).css('padding-top', '2px');
        $('#follow_date_button_' + inquiry_id).html('<a href="javascript:;" onclick="save_follow_date(' + inquiry_id + ')" class="a_link btn btn-xs btn-white"> <i class="fa fa-check "></i> Save</a>');

        $('#datetimepicker2').datetimepicker({
            format: 'D-M-YYYY LT'
        });
    }

    function save_follow_date(inquiry_id) {
        $('#follow_date_button_' + inquiry_id).css('padding-top', '0');
        $('#follow_date_button_' + inquiry_id).html('<img src="/pic/loading-4.gif">');
        $('#label_' + inquiry_id).remove();

        var follow_date = $('#follow_date_' + inquiry_id).val();



        if (follow_date != '') {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'modifyInquiryFollowDate')); ?>',
                data: {
                    'follow_date': follow_date,
                    'inquiry_id': inquiry_id
                },
                dataType: 'json',
                success: function (result) {
                    if (result.st == 1) {

                        $('#follow_date_value_' + inquiry_id).html(result.msg);
                        $('#follow_date_button_' + inquiry_id).html('<a href="javascript:;" onclick="change_follow_date(' + inquiry_id + ')" class="a_link btn btn-xs btn-white"><span class="fa fa-edit"></span> Edit</a>');
                        $('#hidden_deffer_to').val(follow_date);
                    }
                }

            });
        } else {
            $('#follow_date_value_' + inquiry_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="follow_date_' + inquiry_id + '" readonly="readonly" />');
            $('#follow_date_button_' + inquiry_id).css('padding-top', '2px');
            $('#follow_date_button_' + inquiry_id).html('<a href="javascript:;" onclick="save_follow_date(' + inquiry_id + ')" class="a_link">Save</a>');
            $('#follow_date_container_' + inquiry_id).after('<label id="label_' + inquiry_id + '"class="error">Field required</label>');
            $('#follow_date_' + inquiry_id).datetimepicker({
                format: 'D-M-YYYY LT'
            });
        }
    }

    function add_banned_ip(url) {
        var is_confirmed = confirm('Are you sure you want to add this ip to banned ip ?');
        if (is_confirmed) {
            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                success: function (data) {
                    if (data.done) {
                        alert('this ip ' + data.ip + ' is blocked successfully.');
                        $('#block_btn').remove();
                    }
                    else {
                        alert('Error,You don\'t have permission ');
                    }

                }

            });

        }
    }

    function remove_banned_ip(url) {
        var is_confirmed = confirm('Are you sure you want to un block this IP ?');
        if (is_confirmed) {
            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                success: function (data) {
                    if (data.done) {
                        alert('this ip ' + data.ip + ' is removed from banned IP list.');
                        $('#unblock_btn').remove();
                    }
                    else {
                        alert('Error,You don\'t have permission ');
                    }

                }

            });

        }
    }



</script>
<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>







