
<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Refund History Report
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->refunds): ?>
                <div id="data_table">
                    <div class="filter_payment">
                        <div>
                            Refunds History                         
                        </div>
                        <div>
                            <?php echo $this->escape(isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between'] ? 'From : ' . $this->fltr['payment_created_between'] : '') ?>
                            <?php echo $this->escape((isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between']) && (isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between']) ? ' - ' : '') ?>
                            <?php echo $this->escape(isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between'] ? 'To : ' . $this->fltr['payment_end_between'] : '') ?>
                        </div>
                    </div>
                    <table border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table">
                        <tr style="background-color: black; color: white;">
                            <td>INV#</td>
                            <td>Date</td>
                            <td>Reference#</td>
                            <td>Customer</td>
                            <td>Refund method</td>
                            <td>Notes</td>
                            <td>Status</td>
                            <td>Amount</td>
                        </tr>
                        <?php foreach ($this->refunds AS $refund): ?>    
                            <tr cellpadding="100" style="text-align: center; vertical-align: top; <?php echo $this->escape(empty($refund['is_approved']) ? 'background-color: red; color: white;' : '') ?>"> 
                                <td><?php if (!empty($refund['invoice']['invoice_num'])): ?>
                                        <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $refund['invoice']['id']), 'invoiceView')); ?>" class="a_black"> <?php echo $this->escape($refund['invoice']['invoice_num']) ?></a>
                                    <?php endif; ?>
                                </td>
                                <td><?php echo $this->escape(date(get_config('date'), $refund['received_date'])) ?></td>
                                <td><?php echo $this->escape($refund['reference']) ?></td>
                                <td><?php echo $this->escape($refund['customer']) ?></td>
                                <td><?php echo $this->escape($refund['payment_type']) ?></td>
                                <td><?php echo $this->escape($refund['description']) ?></td>   
                                <td><?php echo $this->escape(!empty($refund['is_approved']) ? 'Approved' : 'Unapproved') ?></td> 
                                <td>$<?php echo $this->escape(number_format($refund['amount'], 2)) ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </table>
                </div>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">
                    <b>There are no refunds recorded in the selected date range.</b>
                    <div><?php echo $this->escape(isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between'] ? 'From : ' . $this->fltr['payment_created_between'] : '') ?>
                        <?php echo $this->escape((isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between']) && (isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between']) ? ' - ' : '') ?>
                        <?php echo $this->escape(isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between'] ? 'To : ' . $this->fltr['payment_end_between'] : '') ?>
                    </div>      
                </div> 
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php echo $this->render('index/payment_filters.phtml'); ?>
            </div>
        </td>
    </tr>
</table>
