<div class="ibox float-e-margins no-margin-b">
    <div class="row wrapper border-bottom white-bg">
        <div class="col-md-3">
            <h3>All plans</h3>
        </div>
        <div class="col-md-9 ">
        </div>
    </div>

    <div class="row">
        <div class="wrapper wrapper-content animated fadeInUp">
        	<div class="row">
	        	<div class="col-lg-12"> 
		            <div class="ibox float-e-margins">

		            	<div class="ibox-title">
				            <h5>Manage plans  </h5>
				            <div class="ibox-tools">
				                <a href="#" class="btn btn-primary btn-xs" data-target="#popupi" data-toggle="modal" onclick="addPlan('<?php echo $this->escape($this->url(array(), 'addPlan')); ?>');">Create new plan</a>
				            </div>
		        		</div>

		                <div class="ibox-content" id="plan_data">



		                    <div class="row" style="display:block" id="loading_img">
		                    	<div class="col-md-6 col-md-offset-5"> 
		                    		<img src="/pic/loading-4.gif"> 
		                    	</div>
		                    </div>
		                </div>
		            </div>
		        </div>
	        </div>	
        </div>
    </div>		
</div>


<script type="text/javascript">

    var filters = <?php echo json_encode($this->filters); ?>;
    var page_number = 0;
    var loading = false;
    var is_last_request = 0;
    function getData(filters, page_number, is_first_time) {
        if (typeof (is_first_time) === 'undefined')
            is_first_time = 0;
        if (is_first_time == 0 && !($('#loading_img').length > 0)) {
            $('#form').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
        }
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {'fltr': filters, 'is_first_time': is_first_time, 'page_number': page_number},
            url: "<?php echo $this->url(array(), 'plan'); ?>",
            success: function (result) {
                is_last_request = result.is_last_request;

                if (is_first_time == 1) {
                    $('#plan_data').html(result.data);
                } else {
                    $("#result").append(result.data);
                }

                $('#loading_img').remove();
                loading = false;
            }
        });

    }

    function addPlan(url) {
        $(document).ready(function () {
            popupi("Add plan", url);
        });
    }


    $(document).ready(function () {
        getData(filters, page_number, 1);
        $(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {
                if (loading == false && is_last_request == 0) {
                    loading = true;
                    page_number++;
                    getData(filters, page_number);
                }
            }
        });
    });

</script>
