<form id="search_form" action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
    <div class="search">
        <div class="button_actions">
            Filter Reports
        </div>
        <div id="search">
            <div class="filter_border_top"></div>

            <div class="filter_book_cont">
                <span class="formLabel">Service Name</span>
                <div class="button_actions">
                    <?php if (!CheckAuth::checkCredential(array('canSeeAllServices'))): ?>
                    <?php else : ?>
                        <?php echo $this->form->getElement('service_id'); ?>
                    <?php endif; ?>
                </div>
            </div>
            <div class="filter_book_cont">
                <span class="formLabel">Tile</span>
                <div class="button_actions">
                    <?php echo $this->form->getElement('attribute_value_id'); ?>
                </div>
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Start Date</span>
                <?php echo $this->form->getElement('booking_start_between'); ?>
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">End Date</span>
                <?php echo $this->form->getElement('booking_end_between'); ?>
            </div>

            <div class="cancel_link_cont">
                <?php echo $this->form->getElement('button'); ?> <span class="or_span">or</span>
                <a href="<?php echo $this->escape($this->form->getAction()); ?>" style="color: red;" class="a_advance" >Cancel</a>
            </div>
        </div>
        <div class="filter_bottom_border"></div>
    </div>
    <?php echo $this->form->getElement('type'); ?>
</form>

<div style="margin-top: 20px;">
    <?php echo $this->form->getElement('as_xls'); ?>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#header').width($('.table').width());
        $('#menu_cont').width($('.table').width());
        $('#body_cont').width($('.table').width());
        
        $("#start_time").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
        
        $("#end_time").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });
</script>