<table class="table">
    <tr>
        <td class="left_side">
            <form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">
                <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
                <table>
                    <tr>
                        <td class="input_type" valign="top">&nbsp;</td>
                        <td><?php echo ($this->form->getElement('booking_id')->render()); ?></td>
                    </tr>
                    <tr>
                        <td class="input_type" valign="top">Complaint Type: <span style="color:#ff0000">*</span>: </td>
                        <td><?php echo ($this->form->getElement('complaint_type_id')->render()); ?></td>
                    </tr>

                    <tr>
                        <td class="input_type" valign="top">Comment: <span style="color:#ff0000">*</span>: </td>
                        <td><?php echo ($this->form->getElement('comment')->render()); ?></td>
                    </tr>
                    <tr>
                        <td class="input_type" valign="top"> </td>
                        <td><?php echo $this->form->getElement('button')->render(); ?></td>
                    </tr>

                </table>
            </form>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                
            </div>
        </td>
    </tr>
</table>