<form id="search_form" action="<?php echo $this->escape($this->url(array(), 'complaint')); ?>" method="GET" >
    <div class="search">
        <div style="margin-bottom: 5px;">
            Search Complaint
        </div>
        <div id="search">
            <div class="filter_border_top"></div>

            <div class="filter_book_cont">
                <span class="formLabel">Keywords</span>
                <input name="fltr[keywords]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Complaint#</span>
                <input name="fltr[complaint_num]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['complaint_num']) ? $this->filters['complaint_num'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Booking#</span>
                <input name="fltr[booking_num]" type="text" style="width: 100%;" value="<?php echo $this->escape((!empty($this->filters['booking_num']) ? $this->filters['booking_num'] : '')); ?>" />
            </div>

            <?php if (!empty($this->filters['customer_id'])): ?>
                <?php
                $modelCustomer = new Model_Customer();
                $customer = $modelCustomer->getById($this->filters['customer_id']);
                $customerName = get_customer_name($customer);
                ?>
            <?php endif; ?>
            <div class="filter_book_cont">
                <span class="formLabel">Customer Name</span>
                <input type="text" id="auto_customer_id" style="width: 100%; padding:1px 1px 1px 0 ;" value="<?php echo $this->escape(isset($customerName) ? $customerName : ''); ?>"/>
                <input type="hidden" id="customer_id" name="fltr[customer_id]" class="text_input" value="<?php echo $this->escape(!empty($this->filters['customer_id']) ? $this->filters['customer_id'] : ''); ?>"/>
            </div>
            <?php if (CheckAuth::checkCredential(array('canSeeAllContractorBooking'))) : ?>
                <div style="margin-bottom: 15px;">
                    <span class="formLabel">Technician Name</span>
                    <?php
                    $modelUser = new Model_User();
                    $allContractor = $modelUser->getAllContractor(TRUE);

                    $contractor = new Zend_Form_Element_Select('contractor_id');
                    $contractor->setBelongsTo('fltr');
                    $contractor->setDecorators(array('ViewHelper'));
                    $contractor->setAttrib("style", "width: 100%;");
                    $contractor->setValue((!empty($this->filters['contractor_id']) ? $this->filters['contractor_id'] : ''));
                    $contractor->addMultiOption('', 'Select One');
                    $contractor->addMultiOptions($allContractor);
                    echo $contractor->render();
                    ?>
                </div>
            <?php endif; ?>
            <?php if (CheckAuth::checkCredential(array('canSeeAllEmployee'))) : ?>
                <div style="margin-bottom: 15px;">
                    <span class="formLabel">User</span>
                    <?php
                    $modelUser = new Model_User();
                    $allEmployee = $modelUser->getAllEmployee();
                    $userName = array();
                    foreach ($allEmployee as $employee) {
                        $userName[$employee['user_id']] = $employee['username'];
                    }
                    $user = new Zend_Form_Element_Select('user_id');
                    $user->setBelongsTo('fltr');
                    $user->setDecorators(array('ViewHelper'));
                    $user->setAttrib("style", "width: 100%;");
                    $user->setValue((!empty($this->filters['user_id']) ? $this->filters['user_id'] : ''));
                    $user->addMultiOption('', 'Select One');
                    $user->addMultiOptions($userName);
                    echo $user->render();
                    ?>
                </div>
                <div class="filter_book_cont">
                    <span class="formLabel">Comment</span>
                    <textarea  class="textarea_field" name="fltr[comment]" rows="4" cols="25"  style="width: 100%;"><?php echo $this->escape((!empty($this->filters['comment']) ? $this->filters['comment'] : '')); ?></textarea>
                </div>
            <?php endif; ?>


            <div style="margin-top: 5px; padding-bottom: 10px;">
                <input type="submit" value="Search" /> <span class="or_span">or</span>
                <a href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>" style="color: red;" class="a_advance" >Cancel</a>
            </div>

            <input type="hidden" name="fltr[complaintStatus]" value=""/>
            <input type="hidden" name="fltr[submit]" value="on"/>

        </div>
        <div class="filter_bottom_border"></div>
    </div>
</form>
<script type="text/javascript">

    // auto complete customer search
    $(function() {
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term,
                            have_complaint :true
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });
	
</script>
