<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    All Complaint
                </div>
                <div class="sort_booking_cont">
                    <?php if (CheckAuth::checkCredential(array('complaint'))): ?>
                        <?php echo FilterLink::generate_link('all', array('fltr' => array('complaintStatus' => 'all')), isset($this->filters['complaintStatus']) && $this->filters['complaintStatus'] == 'all', true); ?>
                        |
                        <?php echo FilterLink::generate_link('open', array('fltr' => array('complaintStatus' => 'open')), isset($this->filters['complaintStatus']) && $this->filters['complaintStatus'] == 'open'); ?>
                        |
                        <?php echo FilterLink::generate_link('closed', array('fltr' => array('complaintStatus' => 'closed')), isset($this->filters['complaintStatus']) && $this->filters['complaintStatus'] == 'closed'); ?>
                        <?php echo $this->allComplaintType->render(); ?>
                    <?php endif; ?>
                </div>

                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'complaintDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Complaint?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('complaintDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td style="width: 100px;"><?php echo SortOrder::generate_link('Complaint#', 'created') ?></td>
                                <td style="width: 180px;"><b>Details</b></td>
                                <td><b>Customer</b></td>
                                <td><b>Technician</b></td>
                                <td><b>User</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php $userObj = new Model_User(); ?>
                            <?php $complaintTypeObj = new Model_ComplaintType(); ?>
                            <?php $modelUser = new Model_User(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['complaint_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('complaintView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></span>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                        <?php
                                        switch ($row['complaint_status']) {

                                            case 'open':
                                                $color = '#4F8BC3';
                                                break;

                                            case 'closed':
                                                $color = '#BCD68F';
                                                break;
                                        }
                                        ?>
                                        <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                            <?php echo $this->escape($row['complaint_status']); ?>
                                        </div>

                                    </td>


                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('complaintView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name"><b><?php
                                        $complaintType = $complaintTypeObj->getById($row['complaint_type_id']);
                                        echo $this->escape($complaintType['name'])
                                                    ?></b></a> 
                                                <?php else: ?>
                                                    <span class="a_black"><?php
                                        $complaintType = $complaintTypeObj->getById($row['complaint_type_id']);
                                        echo $this->escape($complaintType['name'])
                                                    ?></span> 
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('complaintEdit'))): ?>
                                                <a href="javascript:;" onclick="AddEditComplaint('<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintEdit')); ?>');" class="details_info_opt">Edit</a>
                                            <?php endif; ?>
                                                
                                            <?php if (CheckAuth::checkCredential(array('complaintConvertStatus'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['complaint_id'],'process'=> ($row['complaint_status'] == 'open') ? 'close' : 'open'), 'complaintDisscussion')); ?>','400','700','complaint Discussion');" class="details_info_opt"><?php echo $row['complaint_status'] == 'open' ? 'Close' : 'Open' ?></a>
                                            <?php endif; ?>
                                                
                                            <?php if (CheckAuth::checkCredential(array('complaintDiscussion'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['complaint_id'],'process'=>'send'), 'complaintDisscussion')); ?>','470','700','complaint Discussion');" class="details_info_opt">Discussion</a>
                                            <?php endif; ?>


                                            <?php if (CheckAuth::checkCredential(array('complaintDelete'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintDelete')); ?>" onclick="return confirm('are you sure you want to delete this complaint?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l" style="font-size: 12px;">
                                            <div>&#187; <b>Name :</b> <?php echo $this->escape(get_customer_name($row['customer'])); ?></div>
                                            <?php if ($row['customer']['email1']): ?>
                                                <div>&#187; <b>Email :</b> <?php echo $this->escape($row['customer']['email1']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['email2']): ?>
                                                <div>&#187; <b>Email :</b> <?php echo $this->escape($row['customer']['email2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['email3']): ?>
                                                <div>&#187; <b>Email :</b> <?php echo $this->escape($row['customer']['email3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['mobile1']): ?>
                                                <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['customer']['mobile1']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['mobile2']): ?>
                                                <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['customer']['mobile2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['mobile3']): ?>
                                                <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['customer']['mobile3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['phone1']): ?>
                                                <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['customer']['phone1']) ?></div>
                                            <?php endif; ?>    
                                            <?php if ($row['customer']['phone2']): ?>
                                                <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['customer']['phone2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['phone3']): ?>
                                                <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['customer']['phone3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['fax']): ?>
                                                <div>&#187; <b>Fax :</b> <?php echo $this->escape($row['customer']['fax']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['po_box']): ?>
                                                <div>&#187; <b>PO Box :</b> <?php echo $this->escape($row['customer']['po_box']) ?></div>
                                            <?php endif; ?>
                                            <div>&#187; <b>City :</b> <?php echo $this->escape($row['customer']['country_name'] . ' - ' . $row['customer']['city']) ?></div> 
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                                                <div>
                                                    <?php $user = $modelUser->getById($contractor_id); ?>
													<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $this->escape(ucwords($user['username']) . ($contractor_name ? ' - ' . ucwords($contractor_name) : '')); ?></a>
                                    
                                                    
                                                </div>
                                            <?php endforeach ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php foreach ($row['booking_users'] as $booking_user) : ?>
                                                <div style ="float: left; margin: 2px; padding: 2px 4px; background-color:#DDDDDD;">
                                                    <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
                                                </div> 
                                            <?php endforeach; ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Complaint.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <?php /*
              <td class="right_side" style="display: <?php echo isset($this->filters['submit']) && $this->filters['submit'] == 'on' ? 'table-cell' : 'none'; ?>;">
             */ ?>
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('complaintAdd'))): ?>
                    <div class="btn_cont">
                        <a href="<?php echo $this->escape($this->url(array(), 'createComplaint')); ?>" class="btn_a">
                            <div class="text_pos">
                                New Complaint
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <?php echo $this->render('index/filters.phtml'); ?>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    
    function fltr(url,id){
        id = $('#'+id).val();
        
        var filter = "?";
        if(id){
            filter = filter + "fltr[complaintType]="+id;
        }
        
        filter = filter + "<?php echo isset($this->filters['complaintStatus']) ? '&fltr[complaintStatus]' . ($this->filters['complaintStatus'] ? '=' . $this->escape($this->filters['complaintStatus']) : '') : ''; ?>";
        
        if(filter == "?"){
            filter = "";
        }
        window.location = url+filter;
    }
    
    function AddEditComplaint(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=270&width=500');
        });
    }
   
</script>
