<?php
$colors = array (
		'0' => '#888888',
		'1' => '#cc3333',
		'2' => '#dd4477',
		'3' => '#994499',
		'4' => '#6633cc',
		'5' => '#336699',
		'6' => '#3366cc',
		'7' => '#22aa99',
		'8' => '#329262',
		'9' => '#109618',
		'10' => '#66aa00',
		'11' => '#aaaa11',
		'12' => '#d6ae00',
		'13' => '#ee8800',
		'14' => '#dd5511',
		'15' => '#a87070',
		'16' => '#8c6d8c',
		'17' => '#627487',
		'18' => '#7083a8',
		'19' => '#5c8d87',
		'20' => '#898951',
		'21' => '#b08b59',
		'-1' => '#7a367a' 
);

?>



<table class="table">
    <tr>
        <td class="left_side">
            
            <div>
                <div class="details_info_l floatLeft" >
					
                </div>
                <div class="clearb"></div>
           
                <div class="details_info_container" style="float: left;">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
							<tr>
								<td colspan="2" height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Complaint Details : </b>
									</div>
								</td>
							</tr>
							<tr>
                                <td class="labelText"><b>Complaint Status</b></td> 
								<td class="labelText" style="text-align:center; color: #FFF; background-color:<?php if($this->complaint['complaint_status']=='open'){ echo '#ff0000';} else echo '#22aa99'; ?>;" >
									 <?php if (CheckAuth::checkCredential(array('complaintConvertStatus'))){ ?>
									<a class="a_white" href="javascript:;"
										onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id'],'process'=> ($this->complaint['complaint_status'] == 'open') ? 'close' : 'open'), 'complaintDisscussion')); ?>','470','700','complaint Discussion');" > <?php echo $this->escape(strtoupper($this->complaint['complaint_status'])); ?></a>
									 <?php }
									 else{ ?>
										<?php echo $this->escape($this->complaint['complaint_status']) ?>
									 <?php } ?>
								</td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>Complaint #</b></td> 
                                <td class="valueText">
                                    <b>
                                       <span><b><?php echo $this->escape($this->complaint['complaint_num']) ?></b></span>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>Booking #</b></td> 
                                <td class="valueText">
                                    <b>
                                        <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>" class="a_black"><b><?php echo $this->escape($this->booking['booking_num']) ?></b></a>
                                        <?php else: ?>
                                            <span><b><?php echo $this->escape($this->booking['booking_num']) ?></b></span>
                                        <?php endif; ?>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>Title</b></td>
                                <td class="valueText"><?php echo wordwrap($this->escape($this->booking['title']), 30, "<br />\n"); ?></td>
                            </tr> 
							<tr>
                                <td class="labelText"><b>Date</b></td> 
                                <td class="valueText"><?php echo $this->escape(getDateFormating($this->complaint['created'])) ?></td>
                            </tr>
                             <tr>
                                <td class="labelText"><b>Status</b></td> 
								<td class="valueText" style="text-align:center; background-color: <?php echo $this->escape($colors[$this->status['color']]) ?>;">
									<a class="a_white" href="javascript:;"
										onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->status['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>','300','600');"><?php echo $this->escape($this->status['name']) ?></a>
								</td>
                            </tr>

                            <tr>
                                <td class="labelText"><b>Created By</b></td>
                                <td class="valueText"><?php echo $this->escape(ucfirst($this->createdBy['first_name'])) . " " . $this->escape(ucfirst($this->createdBy['last_name'])); ?></td>
                            </tr>

                            <tr>
                                <td class="labelText"><b>Complaint Type</b></td>
                                <td class="valueText"><?php echo $this->escape(ucfirst($this->complaintType['name'])); ?></td>
                            </tr>
							<tr>
                                <td class="labelText"><b>To Follow</b></td> 
                                <td class="valueText"><?php
								if(!empty($this->complaint['to_follow'])){
								echo $this->escape(getDateFormating($this->complaint['to_follow']));
								}
								?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearBoth"></div>
				<div class="customer_info_container" style="float: left; margin-top: 30px;">
                    <?php
                    $customerView = new Zend_View();
                    $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                    $customerView->customer_id = $this->booking['customer_id'];
                    $customerView->allDetails = $this->booking['is_accepted'];
                    echo $customerView->render('customer_info.phtml');
                    ?>
                </div> 
				<div class="clearBoth"></div>
            </div>
            <div class="padding10 txt-lft curveLGrnLBg" style="margin-top: 30px;">
                <b>Comment :</b>
            </div>
            <div class="defaultInnerBg padding10 txt-lft">
                <p><?php echo nl2br($this->escape($this->complaint['comment'])); ?></p>
            </div>
            
            <?php
            $view = new Zend_View();
            $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');

            $view->bookingId = $this->booking['booking_id'];
            $view->complaintId = $this->complaint['complaint_id'];
            $view->view = 'complaint';

            echo $view->render('tabs.phtml');
            ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <div class="gray-border-bottom">
                    <?php if (CheckAuth::checkCredential(array('complaintEmailReplay'))): ?>
                        <ul class="links">
                            <li class="send-email">
                                <a href="javascript:;" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'complaintReplay')); ?>');">Reply Email To Customer</a>
                            </li>
                            <li class="send-email">
                                <a href="javascript:;" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'complaintReplayToContractor')); ?>');">Resend Email To Technician</a>
                            </li>
							
                        <?php endif; ?>
                    </ul>
                </div>  
            </div>
        </td>
    </tr>
</table>
<script>
	$(document).ready(function() {
		
		$.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array('type'=>'complaint','type_id'=> $this->complaint['complaint_id']), 'updateFullTextSearchByTypeAndTypeId')); ?>',
                success: function(result) {
					console.log(result);
                    
                }
            });
	});
    function sendEmail(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=510&width=800');
        });
    }
</script>