<form id="form" enctype="multipart/form-data" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h2>Company Invoice Notes :</h2>
    <table>

        <tr>
            <td class="input_type" valign="top">Note :</td>
            <td><?php echo $this->form->getElement('note')->render(); ?></td>
        </tr>
        <tr>
            <td><?php echo $this->form->getElement('button')->render(); ?></td>
        </tr>

    </table>
</form>
