
<form class="form-horizontal" id="form_condition_report" method="<?php echo $this->escape($this->form->getMethod()); ?>"  onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_condition_report','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
   


		<div class="form-group">
				<label class="col-md-3">Condition Report: <span style="color:#ff0000">*</span>: </label>
				<div class="col-md-9 ">
				   
				<?php echo ($this->form->getElement('report')->render()); ?>
                </div>
		</div>
	
		<div class="form-group">
				
				<div class="col-md-9 col-md-offset-3">
				   
					<?php echo $this->form->getElement('button')->render(); ?>
                </div>
		</div>
 
</form>

