<form class="form-horizontal" id="form" >
                <div class="form-group hidden" >
                    <label class="col-md-3">ID: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                      <input type="text" name="booking_id" id="booking_id" value="<?php echo $this->id ?>"/> 
                    </div>
                    </div>
					
					 <div class="form-group hidden" >
                    <label class="col-md-3">start time: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                      <input type="text" name="start_time" id="start_time" value="<?php echo $this->stime ?>"/> 
                    </div>
                    </div>
					 <div class="form-group hidden" >
                    <label class="col-md-3">end_time: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                      <input type="text" name="end_time" id="end_time" value="<?php echo $this->etime ?>"/> 
                    </div>
                    </div>
					
					 <div class="form-group">
					<label class="col-md-4">Date <span style="color:#ff0000">*</span>:</label>

					<div id="date2" class="col-md-4">
					<div class="input-group date">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
					<input type="text"  name="booking_date" id="booking_date" class="required date addRequired text_input sdatepicker form-control" required="required" readonly="" maxlength="10">
					</div>
					<span id="dateError" class="help-inline" style="color:#ff0000"></span>
					</div>
					</div>
					
					 <div class="form-group checkbox" >
                    <div class="col-md-9">
                    <label><input type="checkbox" name="chk_multiple" id="chk_multiple">Is Multiple Repeating Booking</label>
                    </div>
                    </div>
					
				
					<div class="form-group hidden" id="multiple">

					<div class="form-group " id="to_date">
					<label class="col-md-4">To Date <span style="color:#ff0000">*</span>:</label>

					<div id="date2" class="col-md-4">
					<div class="input-group date">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
					<input type="text"  name="booking_end_date" id="booking_end_date" class="required date addRequired text_input sdatepicker form-control" required="required" readonly="" maxlength="10">
					</div>
					<span id="dateError1" class="help-inline" style="color:#ff0000"></span>
					</div>
					</div>
						
					<div class="form-group" id="freqnt">
                    <div class="col-md-4"> 
					<label >Booking Frequency  <span style="color:#ff0000">*</span>:</label></div>
                    <div class="col-md-5"> 
					<?php echo $this->form->getElement('recurrencesTypeId')->render(); ?>
					<br/>
					<span id="dateError4" class="help-inline" style="color:#ff0000"></span>
					</div>
					</div>
					
					
					<div class="form-group hidden" id="ck">
                    <div class="col-md-3"> 
					<label >Select Date  <span style="color:#ff0000">*</span>:</label></div>
                    <div class="col-md-9"> 
					<?php echo $this->form->getElement('work_days[]')->render(); ?>
					<span id="dateError2" class="help-inline" style="color:#ff0000"></span>

					</div>
					</div>
					
					
					<div class="form-group hidden" id="monthlyck">
                    <div class="col-md-3"> 
					<label >Select Weeks  <span style="color:#ff0000">*</span>:</label>
					</div>
                    <div class="col-md-9"> 
                    <label><input type="checkbox"  id="first" >First&nbsp;&nbsp;</label>
					<label><input type="checkbox"  id="second">Second&nbsp;&nbsp;</label>
					<label><input type="checkbox"  id="third" >Third &nbsp;&nbsp;&nbsp;</label>
					<label><input type="checkbox"  id="fourth"> Forth&nbsp;&nbsp;</label>
                    <label><input type="checkbox"  id="fifth" >Five&nbsp;&nbsp;&nbsp;</label>
					<br/>
					<span id="dateError3" class="help-inline" style="color:#ff0000"></span>

					</div>
					</div>
					
					
					<div class="form-group hidden" id="month_no" >
                    <label class="col-md-4">Number of Month : <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-5">
                      <input type="text" name="month_nu" id="month_nu" /> 
                    </div>
                    </div>
      	  </div>
	            <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">  
                        <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
            </form>
			
<div id="here_table"></div>
      
<div class="modal fade" id="deleteBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p> Are you sure you want to delete this booking?</p>
                <input type="hidden" name="modalbookingId" id="modalbookingId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel">cancel</button>
                <button type="button" class="btn btn-danger confirmBookingDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

	<script type="text/javascript">
	$(document).ready(function () {
		$('#date2 .input-group.date').datepicker({
		todayBtn: "linked",
		todayHighlight: true,
		keyboardNavigation: false,
		forceParse: false,
		calendarWeeks: true,
		autoclose: true,
		format: 'dd/mm/yyyy'
		}).val('');
		
		$('#recurrencesTypeId').on('change', function() {
		document.getElementById("dateError4").innerHTML = "";
		var id=this.value;
		if(id==2 || id==3 ||id==4){
		$("#ck").removeClass("hidden"); //$(selector);
		if(id==4)
			$("#monthlyck").removeClass("hidden"); //$(selector);
			else
			$("#monthlyck").addClass("hidden"); //$(selector);
		
		}
    	 else
		 $("#ck").addClass("hidden"); //$(selector);
			
         });
			
    	$('#booking_date').change(function () {
		document.getElementById("dateError").innerHTML = "";
		if($('#booking_date').val() < $('#booking_end_date').val())
		document.getElementById("dateError").innerHTML = "";
		
		 });
		 
		 $('#booking_end_date').change(function () {
		document.getElementById("dateError1").innerHTML = "";
		 });
		 
		 $('#chk_multiple').change(function () {
    		  if(this.checked)
         $("#multiple").removeClass("hidden"); //$(selector);
	     else
		$("#multiple").addClass("hidden"); //$(selector);
		 });
			});
		
      $('#button').on('click', function () {
	
		var weekday1 = new Array(7);
		weekday1[0]=  0;
		weekday1[1] = 1;
		weekday1[2] = 2;
		weekday1[3] = 3;
		weekday1[4] = 4;
		weekday1[5] = 5;
		weekday1[6] = 6;
    	customizedstart=[];
		customizedend=[];
		customizedstart1=[];
		customizedend1=[];
		var frequency = $('select[name="recurrencesTypeId"]').val();
		var start_time = $('input[name="start_time"]').val();
		var spartstart = start_time.split(":");
		var end_time = $('input[name="end_time"]').val();
		var splitend = end_time.split(":");
		var booking_id = $('input[name="booking_id"]').val();
		custformdarray=[];

		var val = [];
        $(':checkbox:checked').each(function(i){
          val[i] = $(this).val();
        });
			
		var starts = $('#booking_date').datepicker({ dateFormat: 'dd/mm/yyyy' }).val();
		var newDate2 = starts.split('/');
		var dateformatsconvet = newDate2[1] + "/" + newDate2[0] + "/" + newDate2[2];
		var ends = $('#booking_end_date').datepicker({ dateFormat: 'dd/mm/yyyy' }).val();
		var newDates2 = ends.split('/');
		dateformatscovts = newDates2[1] + "/" + newDates2[0] + "/" + newDates2[2];
		currentDate = new Date(dateformatsconvet),
        between = [];
		var datecount=0;
		while (currentDate <= new Date(dateformatscovts)) {
        between.push(new Date(currentDate));
        currentDate.setDate(currentDate.getDate() + 1);
		datecount=datecount+ parseInt(1);
		}
		customizedbetweenformat1 = [];
		var check_single=document.getElementById("chk_multiple").checked;
         if(check_single && ends!='' &&frequency=='')
		{
			document.getElementById("dateError4").innerHTML = "Frequenty type must be entered";
			return false;
		}
		if(!check_single && ends=='')
		{
			if(starts=='')
			{
		document.getElementById("dateError").innerHTML = "Start date required";
			return false;
			}
			var newDates3 = starts.split('/');
			var dateformatscovt1= newDates3[2] + "-" + newDates3[1] + "-" + newDates3[0];
			customizedbetweenformat1.push(dateformatscovt1);
		}
	   if(frequency==1){
		 if(starts=='')
			document.getElementById("dateError").innerHTML = "Start date required";
		
		if(ends=='')
			document.getElementById("dateError1").innerHTML = "End date required";
   	   if(process(starts)> process(ends)){
			document.getElementById("dateError").innerHTML = "Start date must be less than end date";
			   }
			 			   
			if(starts=='' || ends=='' || process(starts)> process(ends) )
				return false;
			/******************array for Daily*******/////////////
		for(i=0;i<between.length;i++)
		{   
			var date = between[i];
			var day = date.getDate();
			var monthIndex = date.getMonth()+1;
			var year = date.getFullYear();
			betweenformats = year+ "-" + monthIndex + "-" + day;
			customizedbetweenformat1.push(betweenformats);
		
		}
				
         }

		else  if(frequency==4)
		{
		
			if(starts=='')
			document.getElementById("dateError").innerHTML = "Start date required";
		if(ends=='')
			document.getElementById("dateError1").innerHTML = "End date required";
		if(process(starts)> process(ends))
			document.getElementById("dateError").innerHTML = "Start date must be less than end date";
			else
			document.getElementById("dateError").innerHTML = "";
            var d1=document.getElementById("work_days-0").checked;
			var d2 =document.getElementById("work_days-1").checked;
			var d3=document.getElementById("work_days-2").checked;
			var d4 =document.getElementById("work_days-3").checked;
			var d5=document.getElementById("work_days-4").checked;
			var d6=document.getElementById("work_days-5").checked;
			var d7=document.getElementById("work_days-6").checked;

			var daynum=false;
		//first  second third  fourth fifth
		    if(d1 || d2|| d3|| d4|| d5 || d6 ||d7)
				daynum=true;
			
			if (daynum == false)
		{
		  document.getElementById("dateError2").innerHTML = "You must choose at least one day";
		} 
		else
		document.getElementById("dateError2").innerHTML = "";
		customizedbetweenformat4=[];
		var wk1=document.getElementById("first").checked;
		var wk2 =document.getElementById("second").checked;
		var wk3=document.getElementById("third").checked;
		var wk4 =document.getElementById("fourth").checked;
		var wk5=document.getElementById("fifth").checked;
		var weeknum=false;
	//first  second third  fourth fifth
		    if(wk1 || wk2|| wk4|| wk3|| wk5)
				weeknum=true;
			if (weeknum == false)
			{
			  document.getElementById("dateError3").innerHTML = "Interval between start and end date must be at least one week";

			//  return false;
			} 
				
			if(datecount<28)
			document.getElementById("dateError1").innerHTML = "Interval between start and end date must be at least month";
		   else
			document.getElementById("dateError1").innerHTML = "";

	   	   if(starts=='' || ends=='' || process(starts)> process(ends) || daynum==false ||weeknum==false ||datecount<28)
				return false;
			if(wk1)
			{
			  wk1=1;
			}
			if(wk2)
			{
			 wk2=2;
			}
			if(wk3)
			{
			 wk3=3;
			}
			
			if(wk4)
			{
			wk4=4;
			}
			if(wk5)
			{
			wk5=5;
			}
		
		date2=new Date(newDates2[2]+'/'+newDates2[1]+'/'+newDates2[0]);
		date1=new Date(newDate2[2]+'/'+newDate2[1]+'/'+newDate2[0]);
		var d2year=date2.getFullYear();
		var d1year=date1.getFullYear();
	    var Nomonths;
        Nomonths= (date2.getFullYear() - date1.getFullYear()) * 12;
		var dimonth=date1.getMonth();
			
		Nomonths-= date1.getMonth() + parseInt(1);
		var dimonth2=date2.getMonth();
		Nomonths+= date2.getMonth();
	    Nomonths <= 0 ? 0 : Nomonths;
		 no_month=Nomonths+1;
		first_month=newDate2[1];
		 month_array=[];
		for(i=0;i<no_month;i++)
		 
		 {
			 month_array.push(first_month);
			 if(first_month<12)
				 first_month++;
			 else
				 first_month=1;
		}
		 var addmonthl =parseInt(newDates2[1]);
		 if(month_array[month_array.length-1] != addmonthl)
		 {
			month_array.push(addmonthl);
			no_month = parseInt(no_month) + parseInt(1);

		 }

		 var addmonthf =parseInt(newDate2[1]);
		 if(month_array[0] != addmonthf)
		 {
			month_array.push(addmonthf);
			no_month = parseInt(no_month) + parseInt(1);

		 }
		 monthlengths=[];
		var counter=0;
		 var year2=0;
			for(i=0;i<no_month;i++)
			{
				/******************************************************/
				 monthlengths=[];
			
				var year=newDate2[2];
				if(year2>year){
				datestart=month_array[counter] +'/1' + '/'+year2;
				year=year2;
				}
			   else
				datestart=month_array[counter] +'/1' + '/'+year;
				var month_add1=month_array[counter];
				var c = parseInt(month_add1) + parseInt(1);
				if(month_add1==12){
				year2 = parseInt(1) + parseInt(year);
				datends= 1 +'/1' + '/'+year2;
				}
			   else
			  datends= c +'/1' + '/'+year;
			  datestart1 = new Date(datestart);
			  datends1 = new Date(datends);
			var monthLength = (datends1 - datestart1) / (1000 * 60 * 60 * 24);
				/*******************************************************/
			var currentDate1;
			currentDate1 = new Date(datestart1);
			if(wk1==1)
			{
			between1 = [];
			var counts=0;
			while (counts < 7) {
			between1.push(new Date(currentDate1));
			currentDate1.setDate(currentDate1.getDate() + 1);
		  counts++;
         }
				for(var k=0;k<between1.length;k++){
					var dateToday = between1[k];
					var todayDate = dateToday.toLocaleDateString("en-GB"); //returns 05-12-2014
					var todayDateNumber = dateToday.getDate(); //returns 5 if 05-12-2014
					var todaysDay = weekday1[dateToday.getDay()]; // returns Tuesday main
				for(var j = 0; j < val.length; j++) {
						
			   if(val[j] == todaysDay) {
				customizedbetweenformat4.push(between1[k]);
	
				}
				
					}

					}
				}
		        		
			if(wk2==2)
				{
				datestart=month_array[counter] +'/8' + '/'+year;
				datestart1 = new Date(datestart),
				currentDate1 = new Date(datestart1);
				between2 = [];
				var counts=7;
				while (counts < 14) 
				{
				between2.push(new Date(currentDate1));
				currentDate1.setDate(currentDate1.getDate() + 1);
				counts++;

			   }
			
				for(var k1=0;k1<between2.length;k1++){
					var dateToday = between2[k1];
					var todayDate = dateToday.toLocaleDateString("en-GB"); //returns 05-12-2014
					var todayDateNumber = dateToday.getDate(); //returns 5 if 05-12-2014
     				var todaysDay = weekday1[dateToday.getDay()]; // returns Tuesday main
					
				for(var j = 0; j < val.length; j++) {
						
			   if(val[j] == todaysDay) {
					customizedbetweenformat4.push(between2[k1]);
					
				}
					}

					}

				}
			
			if(wk3==3)
			{
				
				datestart=month_array[counter] +'/15' + '/'+year;
				datestart1 = new Date(datestart),
				currentDate1 = new Date(datestart1);
				between3 = [];
				var counts=14;
				while (counts < 21) 
				{
				between3.push(new Date(currentDate1));
				currentDate1.setDate(currentDate1.getDate() + 1);
				counts++;

	               }
				for(var k2=0;k2<between3.length;k2++){
					var dateToday = between3[k2];
					var todayDate = dateToday.toLocaleDateString("en-GB"); //returns 05-12-2014
					var todayDateNumber = dateToday.getDate(); //returns 5 if 05-12-2014
				var todaysDay = weekday1[dateToday.getDay()]; // returns Tuesday main
				for(var j = 0; j < val.length; j++) {
				if(val[j] == todaysDay) {
			   customizedbetweenformat4.push(between3[k2]);
	
				}
				
					}

					}

				}
				
				if(wk4==4)
				{
					datestart=month_array[counter] +'/22' + '/'+year;
				    datestart1 = new Date(datestart),
					currentDate1 = new Date(datestart1);
					between4 = [];
					var counts=21;
					while(counts < 28) 
					{
					between4.push(new Date(currentDate1));
					currentDate1.setDate(currentDate1.getDate() + 1);
				    counts++;
	               }

				for(var k3=0;k3<between4.length;k3++){
				var dateToday = between4[k3];
				var todayDate = dateToday.toLocaleDateString("en-GB"); //returns 05-12-2014
				var todayDateNumber = dateToday.getDate(); //returns 5 if 05-12-2014
				var todaysDay = weekday1[dateToday.getDay()]; // returns Tuesday main
				for(var j = 0; j < val.length; j++) {
			   if(val[j] == todaysDay) {
			  customizedbetweenformat4.push(between4[k3]);
				}
					}

					}

				}
				if(wk5==5)
				{
					datestart=month_array[counter] +'/29' + '/'+year;
				    datestart1 = new Date(datestart),
					currentDate1 = new Date(datestart1);
					between5 = [];
					var counts=28;
					while(counts < monthLength) 
					{
					between5.push(new Date(currentDate1));
					currentDate1.setDate(currentDate1.getDate() + 1);
				  counts++;

	               }
				for(var k4=0;k4<between5.length;k4++){
					var dateToday = between5[k4];
					var todayDate = dateToday.toLocaleDateString("en-GB"); //returns 05-12-2014
					var todayDateNumber = dateToday.getDate(); //returns 5 if 05-12-2014
					var todaysDay = weekday1[dateToday.getDay()]; // returns Tuesday main
				for(var j = 0; j < val.length; j++) {
			   if(val[j] == todaysDay) {
					customizedbetweenformat4.push(between5[k4]);
				}
					}

					}

				}
			counter = parseInt(counter) + parseInt(1);

			}	
		for(i=0;i<customizedbetweenformat4.length;i++)
		{   

    		var date = customizedbetweenformat4[i];
			var day = date.getDate();
			var monthIndex = date.getMonth()+1;
			var year = date.getFullYear();
			betweenformats = year+ "-" + monthIndex + "-" + day;
			customizedbetweenformat1.push(betweenformats);
		
		}
			}//end if else
					
		else 
		{
			if(frequency==2 || frequency==3){
			if(starts=='')
			document.getElementById("dateError").innerHTML = "Start date required";
		
		if(ends=='')
			document.getElementById("dateError1").innerHTML = "End date required";
		
		if(process(starts)> process(ends))
			document.getElementById("dateError").innerHTML = "Start date must be less than end date";
			else
			document.getElementById("dateError").innerHTML = "";
		    var d1=document.getElementById("work_days-0").checked;
			var d2 =document.getElementById("work_days-1").checked;
			var d3=document.getElementById("work_days-2").checked;
			var d4 =document.getElementById("work_days-3").checked;
			var d5=document.getElementById("work_days-4").checked;
			var d6=document.getElementById("work_days-5").checked;
			var d7=document.getElementById("work_days-6").checked;
		    var counts=true;
			var daynum=false;
		//first  second third  fourth fifth
		    if(d1 || d2|| d3|| d4|| d5 || d6 ||d7)
				daynum=true;
			if (daynum == false)
		{
		  document.getElementById("dateError2").innerHTML = "You must choose at least one day";
		} 
		else
		document.getElementById("dateError2").innerHTML = "";
		if(datecount<7&& frequency==2)
		{
			document.getElementById("dateError1").innerHTML = "Interval between start and end date must be at least one week";
			counts=false;
		}
		else if(datecount<14&& frequency==3){
			
			document.getElementById("dateError1").innerHTML = "Interval between start and end date must be at least two weeks";
			counts=false;
		}
		else
			document.getElementById("dateError1").innerHTML = "";
		
	   	if(starts=='' || ends=='' || process(starts)> process(ends) || daynum==false ||weeknum==false ||counts==false)
				return false;
		
		  custmbetweenformat5=[];
		  for(i=0;i<between.length;i++){
		var dateToday = between[i];
		var todayDate = dateToday.toLocaleDateString("en-GB");
		var todayDateNumber = dateToday.getDate(); 
    	var todaysDay = weekday1[dateToday.getDay()];
		for(var j = 0; j < val.length; j++) {
	   if(val[j] == todaysDay) {
       custmbetweenformat5.push(between[i]);
        }
	
		}

		}
		betweenformates = [];  
		//////////main	
		for(var i1=0;i1<custmbetweenformat5.length;i1++)
		{   

			var date = custmbetweenformat5[i1];
			var day = date.getDate();
			var monthIndex = date.getMonth()+1;
			var year = date.getFullYear();
			betweenformats = year+ "-" + monthIndex + "-" + day;
			customizedbetweenformat1.push(betweenformats);
	
		}
	  customizedfornight=[];
	  customizedfornight2=[];
		    if(frequency==3)
		  {
				  var firstitem=0;
				 first_index=[];
				 customizedindexfirst=[];
				 customizedfornight=[];
				 customizedfornight2=[];
				 lastindex=[];
				  var firstelm=customizedbetweenformat1[0];
			  
			  for(var n=0; n<custmbetweenformat5.length;n++)
			  {
				  var day=custmbetweenformat5[n].getDay();
				 first_index.push(day);
			  }
		  if(first_index[0]==first_index[1])
		  
		  {
		var mm=0;
		while(mm<first_index.length)
		{
			
		for(m1=0;m1<custmbetweenformat5.length;m1++)
		{
		if(mm % 2 == 0)
		customizedfornight.push(custmbetweenformat5[m1]);
		mm=mm+ parseInt(1);					
		}

	}//////////while
			/////////////////////////////////
			if(customizedfornight.length>0)
		   customizedbetweenformat1=[];
								
			for(i5=0;i5<customizedfornight.length;i5++)
			{   
				var date = customizedfornight[i5];
				var day = date.getDate();
				var monthIndex = date.getMonth()+1;
				var year = date.getFullYear();
				betweenformats = year+ "-" + monthIndex + "-" + day;
			   customizedbetweenformat1.push(betweenformats);
			   }
					  
				  }//////////////////if array is the same 
			   else	
			 {
				
				  for(var m2=0;m2<first_index.length;m2++)
				  {
				   if(first_index[0]==first_index[m2])
				
					customizedindexfirst.push(m2);		
		  }
		
		 var diffindex=customizedindexfirst[1]-customizedindexfirst[0];
		 for(var cst=0;cst<customizedindexfirst.length;cst++)
			  {
				  
				  if(cst % 2 == 0)
				  {
					  var c=customizedindexfirst[cst];
					if(c<diffindex)
					{
					while(c<diffindex)
					{
					lastindex.push(c);
					c= c + parseInt(1);
				  }
				  }
				  else{
				  
				  var diff2= c + diffindex
				  //////////////////
				  while(c <diff2 )
					{
					lastindex.push(c);
					c= c + parseInt(1);
				
				  }
				  }
			  }
			  
		  }
		if(lastindex.length >0)
			  {  
			  for(var m2=0;m2<custmbetweenformat5.length;m2++)
				  {
					 if(jQuery.inArray(m2, lastindex) != -1)
					{
					customizedfornight2.push(custmbetweenformat5[m2]);		
					}
					  
				  }  
				  }
		 if(customizedfornight2.length>0)
		customizedbetweenformat1=[];								
		for(i6=0;i6<customizedfornight2.length;i6++)
		{   
			var date = customizedfornight2[i6];
			var day = date.getDate();
			var monthIndex = date.getMonth()+1;
			var year = date.getFullYear();
			betweenformats = year+ "-" + monthIndex + "-" + day;
			customizedbetweenformat1.push(betweenformats);
		
		}
	    
		  }
		  }
		}
		}
	
	   custmbetweenformat1view=[];
	   for(z1=0;z1<customizedbetweenformat1.length;z1++){
		var newDate3 = customizedbetweenformat1[z1].split('-');
		dateview = newDate3[2] + "/" + newDate3[1] + "/" + newDate3[0];
		custmbetweenformat1view.push(dateview);
		}
		for(var c3=0;c3<custmbetweenformat1view.length;c3++)
		{
		var datestme1=custmbetweenformat1view[c3]+ " " +spartstart[0]+":"+spartstart[1];
			customizedstart1.push(datestme1);
		}
		   for(var c4=0;c4<custmbetweenformat1view.length;c4++)
		   {
			var txt="&nbsp;&nbsp;&nbsp;";
		    var datendtme2=custmbetweenformat1view[c4]+ " " +splitend[0]+":"+splitend[1];
			customizedend1.push(datendtme2);
		    }
		
		 /**************************************************/
			for(var c=0;c<customizedbetweenformat1.length;c++)
			{
			var datestme=customizedbetweenformat1[c]+ " " +start_time;
			customizedstart.push(datestme);
				
			}
				for(var c1=0;c1<customizedbetweenformat1.length;c1++)
		   {
			var txt="&nbsp;&nbsp;&nbsp;";
			var datendtme=customizedbetweenformat1[c1]+ " " +end_time;
			customizedend.push(datendtme);
			
			}
		  var content = "<table class='table table-bordered responsive-table' width=100%>";
			content+= '<tr><th>#</th>';
			content+= '<th>Start date</th>';
			content += '<th>End date</th>';
			content += '<th>Delete</th></tr>';
			var j=1;
			for(var i=0; i<customizedstart1.length; i++)
			{
				content += '<tr class="datarow" id="class_'+i+'" ><td class="hidden">'+ i +'</td><td >'+ j +'</td><td>'+ customizedstart1[i] +'</td>';
				content += '<td>' + customizedend1[i] +'</td>';
				content += '<td><a href="#" class="deleteBookingspBtn" data-toggle="modal" data-target="#deleteBookModal" data-role="'+i+'">Delete</a></td></tr>';
			   j=j+ parseInt(1);
			}
			content += "</table>";
			content +='<button name="button1" id="button1" type="button" class="button btn btn-primary center-block">Create Booking</button>';
			  $("#form").addClass("hidden"); 
			$('#here_table').append(content);
			
			$('.deleteBookingspBtn').on('click', function()
			{
						
			var id = $(this).attr('data-role');

								  
			$(".modal-body #modalbookingId").val(id);
		
		
			});

			 $(".confirmBookingDelete").click(function(){
			 var parantid = $(".modal-body #modalbookingId").val();
				$('#class_'+parantid).remove();
				custformdarray.push(parantid);
				y1 = jQuery.grep(customizedstart, function(value) {
				  return value != customizedstart[parantid];
				});
				
				z = jQuery.grep(customizedend, function(value) {
				  return value != customizedend[parantid];
				});
				customizedstart=y1;
				customizedend=z;
				$('#deleteBookModal').modal('hide');

					});	
		
			 $(".cancel").click(function(){
				 
				$('#deleteBookModal').modal('hide');
				});
				
				$('#button1').on('click', function()
				{
				if(customizedstart.length>0){
				 var url = "<?php echo $this->escape($this->url(array('booking_id'=>'booking_id'), 'recurring')); ?>";
				 var url1 = "<?php echo $this->escape($this->url(array(), 'calendar')); ?>";
						$.ajax({
						type: "POST",
						url: url,
						dataType: "html",
						data: { 
						'booking_id':booking_id,
						'customized_start':customizedstart,
						'customized_end':customizedend
								},
						success: function(result) {
								if(result == 1){
									
							window.location = url1;


								}
							}

					});
							}
					
						});
					
				});

			function process(date){
			   var parts = date.split("/");
			   return new Date(parts[2], parts[1] - 1, parts[0]);
			}
				</script >
