<?php
$modelServices = new Model_Services();
$modelContractorService = new Model_ContractorService();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelBookingStatus = new Model_BookingStatus();
?>

<div class="ibox float-e-margins" style="margin-top:25px;">
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-5">
            	<?php If (isset($this->toEstimate) && $this->toEstimate): ?>
                     <h3>
                        New Estimate
                    </h3>
                <?php else: ?>
                    <h3>
                        New Booking
                    </h3>
                <?php endif; ?>
            </div>
            <div class="col-md-7 ">
            </div>
         </div>
         <div class="row">
        	<div class="col-md-8">         
                 <nav>
                    <a  class="btn  btn-white" id="Closebtn" href="<?php echo isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '' ?>"><i class="fa fa-long-arrow-left"></i>&nbsp;Back</a>
    	            <a  class="btn  btn-white" id="save_btn_cont" href="javascript:void(0);" onclick="save_booking(); return false;" class="btn_a">
                    <i class="fa fa-check "></i>&nbsp;Save</a>
                    <a  class="btn  btn-white" href="#" data-toggle="modal" data-target="#popupi" onclick="NearestBooking2('Nearest Booking')">Nearest Booking</a>
                    <a  class="btn  btn-white" href="#" data-toggle="modal" data-target="#popupi" onclick="find_availability2('Find Availability')">Find Availability</a>
                </nav>
            
           
            </div>
      </div>
</div>
</div>

<form action="<?php echo $this->escape($this->url(array(), 'addBooking')); ?>"  id="fmEdit" method="post" class="form-horizontal">
            <input type="hidden" name="inquiry_id" value="<?php echo $this->escape(isset($this->event['inquiry_id']) ? $this->event['inquiry_id'] : "" ) ?>" />
        	<input type="hidden" name="toEstimate" value="<?php echo $this->escape(isset($this->toEstimate) ? $this->toEstimate : 0 ) ?>" />

			
<div class="ibox no-margin-b" >
      <div class="ibox-content" >
	    <div class="row">
		 <div class="col-md-12">
		   <div class="form-group">
		    <label class="col-lg-2 control-label">Select customer</label>
			 <div class="col-lg-10" style="margin-top: 15px;">
			    <div class="input-group col-md-7">
				 <input type="text" onkeyup="customerSearchInput()" id="auto_customer_id" class="edit-form-search autocomplete_search form-control" value="<?php echo $this->escape($this->customer_name ? $this->customer_name : '') ?>" autocomplete="off"/>
    		     <div class="searchCustomerInputResult" id="customerResultInput"></div>
				 <input type="hidden" id="customer_id" name="customer_id" class="text_input required" value="<?php echo $this->escape(isset($this->event['customer_id']) && !empty($this->event['customer_id']) ? $this->event['customer_id'] : '') ?>"/>
				 <span class="input-group-btn">
				   <a style="line-height: 1.33;padding:8px 12px;" class="btn btn-m btn-primary "  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Customer list','<?php echo $this->escape($this->url(array(), 'dropDownCustomerList')); ?>');">
                     <i class="fa fa-search"></i>
     		       </a>
				 </span>
				
				</div>
				<div>
				 <ul class="inline-list">
		          <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
     	            <li><a href="#" data-toggle="modal" data-target="#popupi"onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');">new customer</a>
					</li>
				 <?php endif; ?>
                  <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                    &nbsp;<li><a href="#" data-toggle="modal" id="edit_customer" data-target="#popupi" onclick="editCustomer();" style="display: <?php if (isset($this->event['customer_id']) && $this->event['customer_id']): ?>block<?php else: ?>none<?php endif; ?>;" >
                    edit customer</a></li>
                  <?php endif; ?> 

                </ul>
					
				</div>
			 </div>
			 
			
		   </div>
		   <?php if(0){ ?>
		    <div class="form-group">
            <label class="col-lg-2 control-label">Trading Name </label>
			<div class="col-lg-6">
            <select class="form-control" name="trading_name">
                <option>Please Select Trading Name</option>
                <?php
                foreach ($this->tradingNames as $key => $tr_names) {
                    echo '<option value='.$tr_names['trading_name_id'].'>'.$tr_names['trading_name'].'</option>';
                }?>
            </select>
			</div>
            </div>
		   <?php } ?>
		 
		 </div>
		</div>
	  
	  </div>
	  
	  
	  <div class="ibox-content" >
      		<div class="row" style="display:none;">
        		<div class="col-md-12">
            		<h3>Booking Address</h3>
           		</div>
            </div>
			<div class="row">
        		<div class="col-md-8">
				<div id="booking_address">
				 <div class="form-group">
				  <label class="col-lg-3 control-label">Unit / Lot No.</label>
				  <div class="col-lg-9">
				  <input class="text_input form-control" name="unit_lot_number"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['unit_lot_number']) ? $this->bookingAddress['unit_lot_number'] : "") ?>" />
			      </div>
				 </div>
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label">Street Number</label>
				  <div class="col-lg-9">
			       <input class="text_input required form-control" name="street_number"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_number']) ? $this->bookingAddress['street_number'] : "") ?>" />
			      </div>
				 </div>
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label">Street Name</label>
				  <div class="col-lg-9">
			        <input class="text_input required form-control" name="street_address"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_address']) ? $this->bookingAddress['street_address'] : "") ?>" />
			      </div>
				 </div>
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label">Suburb</label>
				  <div class="col-lg-9">
			       <input class="text_input required form-control" name="suburb"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['suburb']) ? $this->bookingAddress['suburb'] : "") ?>" />
			      </div>
				 </div>
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label">Post code</label>
				  <div class="col-lg-9">
                    <input class="text_input required form-control" name="postcode"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['postcode']) ? $this->bookingAddress['postcode'] : "") ?>" />
			      </div>
				 </div>
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label">P.O. box</label>
				  <div class="col-lg-9">
                    <input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['po_box']) ? $this->bookingAddress['po_box'] : "") ?>" />
			        <?php if ($this->isTempAddress && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>   
				  <span class="service_clone">
					<img src="/pic/icons/ignore.png"/>
					<a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreBookingAddress')); ?>" >Ignore Address Changes</a>
				  </span>
            
			    <?php endif ?>  
				  </div>
				 </div>
				 </div>
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label">Booking Status</label>
				  <div class="col-lg-9">
				  <?php
                                $modelBookingStatus = new Model_BookingStatus();
                                if (isset($this->toEstimate) && $this->toEstimate) {
                                    $bookingStatus = $modelBookingStatus->getByStatusName('QUOTED');
                                } else {
                                    $bookingStatus = $modelBookingStatus->getByStatusName('TO DO');
                                }
                                $bookingStatusDefault = $bookingStatus['booking_status_id'];
                                $selectedBookingStatus = isset($this->event['status_id']) ? $this->event['status_id'] : $bookingStatusDefault;
                                ?>
                <select class="required dropdown form-control"  id="bookingStatus" onchange="check_booking_status();" name="bookingStatus">
				<option value="">Select One</option>
				<?php foreach ($this->bookingStatus as $status): ?>
				<?php $selected = ($selectedBookingStatus == $status['booking_status_id'] ? 'selected="selected"' : ""); ?>
                 <option value="<?php echo $this->escape($status['booking_status_id']); ?>" <?php echo $selected; ?>><?php echo $this->escape($status['name']); ?></option>
				<?php endforeach; ?>
       
			    </select>
                <i id="booking_status_loading"></i>
                <input id="previous_status_value" name="previous_status_value" type="hidden" value="<?php echo $this->escape($this->event['status_id']) ?>" />
               
			      </div>
				 </div>
				 
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label">Title</label>
				  <div class="col-lg-9">
                 <?php if ($this->canEditDetails): ?>                   
			      <input  readonly="readonly"  id="booking_title"  class="text_input form-control" name="title"  style="display:<?php echo $this->escape(isset($this->event['title']) && $this->event['title'] ? 'inline-block' : 'none') ?>;" onblur= "if(!$('#booking_title').val()){$('#auto_booking_title').css('display','block');$('#booking_title').css('display','none');}" type="text" value="<?php echo $this->escape(isset($this->event['title']) ? $this->event['title'] : "") ?>" />
                 <?php else: ?>
					<input  readonly class="text_input form-control" id="Subject"  type="text" value="<?php echo $this->escape(isset($this->event['title']) ? $this->event['title'] : "") ?>" />
			     <?php endif; ?>
			      </div>
				 </div>
				 
				 <?php $quoted = $modelBookingStatus->getByStatusName('QUOTED');
					
				 ?>
				 <div id ="booking_time" style="display: <?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? 'none' : 'block') ?>">
				   <div class="form-group" >
				  <div class="row">
				  <label class="col-lg-3 control-label"> Time</label>
				  <div class="col-md-9" style="padding-left: 22px;">
					  <label for="IsAllDayEvent" class="checkup">
                            <?php $checked = (isset($this->event['is_all_day_event']) && $this->event['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                            <input id="IsAllDayEvent" name="isAllDayEvent" type="checkbox" value="1" <?php echo $checked; ?> onchange="IsAllDayEventChecked();"/> 
                            All Day Event
                            </label>
					 </div>
				  </div>
				  <div class="row">
				  <div class="col-lg-3"></div>
				  <div class="col-lg-9" style="padding-left: 22px;padding-right: 32px;">
                        <?php if (isset($this->event)) {
                                        if (isset($this->event['booking_start']) && $this->event['booking_start']) {
                                            $sarr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_start'])));
                                        }
                                        if (isset($this->event['booking_end']) && $this->event['booking_end']) {
                                            $earr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_end'])));
                                        }
                                    } else {
                                        $sarr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
                                        $earr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
                                    }
                                    if (isset($this->toEstimate) && $this->toEstimate) {
                                        $sarr = explode(" ", php2JsTime(time()));
                                        $earr = explode(" ", php2JsTime(time() + 10800));
                                    }
                        ?>
					<div class="row add-booking">
					
					
					<div class="row" style="margin:0px">
					 <div class="col-md-6" id="date11">
                      <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
            					    <input MaxLength="10" readonly class="<?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? '' : 'required  ends_before_starts') ?> date text_input sdatepicker form-control"  id="stpartdate" name="stpartdate"  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />  
		                   </div>
					 </div>
					 
					 <script type="text/javascript">
    $(document).ready(function() {
	$('#date11 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'mm/dd/yyyy'
            });	
    });
</script>
					 
					  <div class="col-md-6" id="startTimeDiv">
			            <div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
				<input MaxLength="5" readonly  class="<?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? '' : 'required') ?> time text_input stimepicker form-control" id="stparttime" name="stparttime"  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />                     
				
                    </div>
				</div>
			</div>
					 
			<script type="text/javascript">
                  $('.clockpicker1').clockpicker();
                </script>		 
					
					 
					 

					 <div class="col-md-12">To</div>
					 <div class="row" style="margin:0px">
					    <div class="col-md-6" id="date2">
                      <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
					    <input MaxLength="10" readonly  class="<?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? '' : 'required') ?> date text_input sdatepicker form-control"  id="etpartdate" name="etpartdate"  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />

		                   </div>
					 </div>
					 <div class="col-md-6" id="endTimeDiv">
			           <div class="input-group clockpicker2" data-placement="bottom" data-align="top" data-autoclose="true">
					         <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                             <input MaxLength="5" readonly class="<?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? '' : 'required') ?> time text_input stimepicker form-control" id="etparttime" name="etparttime"  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />
                             
                    </div>
					 </div>
					 
					 
                <script type="text/javascript">
                  $('.clockpicker2').clockpicker();
                </script>
					 
					 </div>
					  
					 
					 <script type="text/javascript">
    $(document).ready(function() {
	$('#date2 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'mm/dd/yyyy'
            });	
    });
</script>
					 
					 
				 </div>			
				</div>
				  
				  </div>
				  
			</div>	
			
			<div id="multiple_days"></div>
			<div class="row">
			<div class="col-md-3"></div>
			  <div class="col-md-9"><label><a href="javascript:;" onclick="add_more_time();">Add more time</a></label></div>
			</div>
		  </div>
		  
		  
		  

		  <?php $country_id = isset($this->bookingCity['country_id']) ? $this->bookingCity['country_id'] : 0; ?>
		  <div class="form-group" style="display:<?php echo!empty($country_id) ? 'none' : 'block'; ?>;">
		  
				  <label class="col-lg-3 control-label">Country</label>
				  <div class="col-lg-9">
                    <select class="required dropdown form-control" id="country" name="country" onchange="getStateByCountryId();">
                      <option value="">Select One</option>
                      <?php foreach ($this->countries as $country): ?>
                      <?php $selected = $country_id == $country['country_id'] ? 'selected="selected"' : ''; ?>
                      <option value="<?php echo $this->escape($country['country_id']); ?>" <?php echo $selected ?>><?php echo $this->escape($country['country_name']); ?></option>
                      <?php endforeach; ?>
					</select>
			      </div>
				 </div> 
				 
				 
				 <div class="form-group" id="display_state" style=" <?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>">
		  
				  <label class="col-lg-3 control-label">State</label>
				  <div class="col-lg-9" id="state_cont">
                    <select id="state" class="dropdown form-control" onchange="$('#state').addClass('required');getCitiesByCountryId();" name="state">      
                      <option value="">Select One</option>
                      <?php foreach ($this->states as $state): ?>
                      <option value="<?php echo $this->escape($state); ?>" <?php echo $this->escape(isset($this->bookingCity['state']) ? ($this->bookingCity['state'] == $state ? "selected" : "") : ''); ?>><?php echo $this->escape($state); ?>
                      </option>
                     <?php endforeach; ?>
			       </select>
			      </div>
				 </div>
				 
				 
				 <div class="form-group" id="display_city" style=" <?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>">
		  
				  <label class="col-lg-3 control-label">City</label>
				  <div class="col-lg-9" id="city_cont">
                      <select id="city_id" class="dropdown form-control" onchange="$('#city_id').addClass('required');getServices();" name="city_id">
						<option value="">Select One</option>
						
						<?php foreach ($this->cities as $city): ?>
						<option value="<?php echo $this->escape($city['city_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['city_id']) ? ($this->bookingCity['city_id'] == $city['city_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($city['city_name']); ?></option>
						<?php endforeach; ?>
					 </select>
			      </div>
				 </div>
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label" >Property Type</label>
				  <div class="col-lg-9" >
                   <select id="property_type" class="select_field form-control" name="property_type">
					<option value="">Select One</option>
					<?php foreach ($this->propertyTypes as $propertyType): ?>
					<option value="<?php echo $this->escape($propertyType['id']); ?>" <?php echo $this->escape(isset($this->event['property_type_id']) ? ($this->event['property_type_id'] == $propertyType['id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($propertyType['property_type']); ?></option>
					<?php endforeach; ?>
				</select>
			      </div>
				 </div>
				 
				 <div id="block_booking_completed" >
					
					<?php
					$status_id = isset($this->event['status_id']) ? $this->event['status_id'] : 0;
					if ($status_id) {
					$bookingStatus = $modelBookingStatus->getById($status_id);
					}
					?>
					<?php $productCounter = 0; ?>
					<?php if (isset($bookingStatus['name']) && ('COMPLETED' == $bookingStatus['name'] || 'FAILED' == $bookingStatus['name'])): ?>
                   <div class="form-group">
				  <label class="col-lg-3 control-label" >Onsite Client Name</label>
				  <div class="col-lg-9" >
   					<input MaxLength="200" class="required text_input form-control" id="onsite_client_name" name="onsite_client_name"  type="text" value="<?php echo $this->escape(isset($this->event['onsite_client_name']) ? $this->event['onsite_client_name'] : "") ?>" />
			      </div>
				 </div>
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label" >Job Start Time</label>
				  <div class="col-lg-9" >
                    <input MaxLength="200" class="required text_input form-control" id="job_start_time" readonly name="job_start_time"  type="text" value="<?php echo $this->escape(isset($this->event['job_start_time']) ? date('d-m-Y h:i A', $this->event['job_start_time']) : date('d-m-Y h:i A', strtotime($sarr[0] . ' ' . $sarr[1]))) ?>" />
			      </div>
				 </div>
				 
				 <div class="form-group">
				  <label class="col-lg-3 control-label" >Job Finish Time</label>
				  <div class="col-lg-9" >
                     <input MaxLength="200" class="required text_input form-control" id="job_finish_time" readonly name="job_finish_time"   type="text" value="<?php echo $this->escape(isset($this->event['job_finish_time']) ? date('d-m-Y h:i A', $this->event['job_finish_time']) : date('d-m-Y h:i A', strtotime($earr[0] . ' ' . $earr[1]))) ?>" />
                     
			      </div>
				 </div>
				 <div class="form-group">
				    <label class="col-lg-3 control-label">Customer Satisfaction</label>
					<div class="col-lg-9">
					
					   <table align="center" id="satisfaction" class="table table-bordered">
					    <tbody><tr>
                                                <td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_1">Very Dissatisfied</label></td>
                                                <td>
                                                    <label for="satisfaction_1" style="margin-left: 6px;">1</label>
                                                </td>
                                                <td>            
                                                    <label for="satisfaction_2" style="margin-left: 6px;">2</label>
                                                </td>
                                                <td>            
                                                    <label for="satisfaction_3" style="margin-left: 6px;">3</label>
                                                </td>
                                                <td>            
                                                    <label for="satisfaction_4" style="margin-left: 6px;">4</label>
                                                </td>
                                                <td>            
                                                    <label for="satisfaction_5" style="margin-left: 6px;">5</label>
                                                </td>
                                                <td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_5">Very Satisfied</label></td>
                                            </tr>
											<tr>
                                                <td>
							<input type="radio" class="required" id="satisfaction_1" name="satisfaction" value="1"/>
                                                </td>
                                                <td>
							<input type="radio" id="satisfaction_2" name="satisfaction" value="2"/>
                                                </td>
                                                <td>            
							<input type="radio" id="satisfaction_3" name="satisfaction" value="3"/> 
                                                </td>
                                                <td>            
						 <input type="radio" id="satisfaction_4" name="satisfaction" value="4"/> 
                                                </td>
                                                <td>            
						<input type="radio" id="satisfaction_5" name="satisfaction" value="5"/> 
                                                </td>
                                            </tr>
						</tbody>					
					   
					   </table>                          
					</div>
				  </div>
				 
				 <!-- Product Name -->
				 <?php if ($this->allBookingProduct): ?>
                   <?php foreach ($this->allBookingProduct as $bookingProduct): ?>
		             <div  id="product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>">
					   <div class="form-group">
				  <label class="col-lg-3 control-label" >Product Name</label>
				  <div class="col-lg-9" >
                        <div class="col-lg-6">
						 <select name="product[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]"  class="form-control <?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>dropdown">
								<option value="">Select One</option>
								<?php foreach ($this->products as $product): ?>
								<?php $selected = $bookingProduct['product_id'] == $product['id'] ? 'selected="selected"' : ''; ?>
								<option value="<?php echo $this->escape($product['id']); ?>" <?php echo $this->escape($selected); ?>><?php echo $this->escape($product['product']); ?></option>
								<?php endforeach; ?>
							</select>
						</div>
                        <div class="col-lg-6">
						  &ensp;
							Ltr
							&ensp;
							<input type="text" name="ltr[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="form-control <?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>text_input product_ltr" value="<?php echo $this->escape(isset($bookingProduct['ltr']) ? $bookingProduct['ltr'] : ''); ?>" />
              
						</div>						
			      </div>
				 </div>  
					   <?php if ($productCounter): ?>
              
						<div class="calender_txt_input">
						<a href="javascript:;" onclick="$('#product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>').remove();">
						<img src="/pic/remove.png" /></a>
						</div>
				 
						<?php endif; ?>
					 </div>
					 
					      <?php $productCounter++; ?>
						<?php endforeach; ?>
					<?php endif; ?>                 
					<!-- end-Product Name -->
					
					
					<!-- add more product link-->
					<div id="more_product">
						<!-- more products generated here -->
					</div>
					
					<?php if ('COMPLETED' == $bookingStatus['name']): ?>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Extra Comments</label>
                                    <div class="col-lg-9">
                                        <textarea class="long_text form-control"  id="extra_comments" name="extra_comments"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                                    
                                </div>
                            <?php endif; ?>
							
							<?php if ('FAILED' == $bookingStatus['name']): ?>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</label>
                                    <div class="col-lg-9">
                                        <textarea class="long_text form-control required" id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                                    
                                </div>
                                <input name="confirmResetAttribut" id="confirmResetAttribut" type="hidden" value="0"/>
                            <?php endif; ?>
							
							<?php elseif (isset($bookingStatus['name']) && 'TO DO' != $bookingStatus['name'] && 'IN PROGRESS' != $bookingStatus['name'] && 'QUOTED' != $bookingStatus['name']) : ?>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</label>
                                <div class="col-lg-9">
                                    <textarea class="long_text required form-control"  id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                </div>
                            
                            </div>
                        <?php endif; ?>
						<?php if (isset($bookingStatus['name']) && 'ON HOLD' == $bookingStatus['name']): ?>
                            <div id="deferred_date_cont" class="form-group">
                                <label class="col-lg-3 control-label">To Follow</label>
                                <div class="col-lg-9" id="dateOn">
                                   <div class="input-group date">
                                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	
                                    <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required"  readonly="readonly"  value="" />
                                  </div>
								</div>
                            </div>
  <script type="text/javascript">
    $(document).ready(function() {
	$('#dateOn .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'yyyy-mm-dd'
            });	
    });
</script>		

                <?php elseif (isset($bookingStatus['name']) && 'QUOTED' == $bookingStatus['name']) : ?>
                            <div class="calender_slct_customer_cont extra_field">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">To Follow</label>
                                    <div class="col-lg-9">
                                        <label>
                                            <input name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" checked="checked"/>
                                            Confirm
                                        </label>
                                    </div>
                                </div>
                                <div id="deferred_date_cont" class="form-group">
                                    <div class="col-lg-3"></div>
                                    <div class="col-md-8" id="dateQ">
                      <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
<input name="to_follow" type="text" id="to_follow" class="text_field date_time required form-control"  readonly="readonly"  value="" />

		                   </div>
					 </div>
									
									
                                </div>
                            </div>
<script type="text/javascript">
    $(document).ready(function() {
	$('#dateQ .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'dd-mm-yyyy'
            });	
    });
</script>							
							
                        <?php endif; ?>			
                </div>
				
				 
                    

					<!-- end more product link -->
					
					<hr>
					
			    <div class="form-group">
				  <label class="col-lg-3 control-label" >Description</label>
				  <div class="col-lg-9" >
					<textarea class="form-control" id="description" name="description" rows="5"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description'] : ""); ?></textarea>
				  </div>
				 </div>
				 
				 <!-- Add services -->
                
                 <div class="calender_slct_customer_cont col-md-offset-3">
                 
                 
						<!--<input MaxLength="200" id="auto_search"  onfocus="$('#search').css('display','block');$('#auto_search').css('display','none');$('#search').focus();" type="text"  />
						-->
						<input MaxLength="200" id="search" name="keywords" onkeyup="searchServices();" autocomplete="off"  onblur="if(!$('#search').val()){$('#auto_search').css('display','block');$('#search').css('display','none');}" type="text" placeholder="Type Service Name to Search" />
                         
                
               
						<div class="calender_service_opt_slct " id="keywordsResult">
                                <?php if ($this->serviceAvailable): ?>
                                   
                                    <?php foreach ($this->serviceAvailable as $serviceAvailable): ?>
                                        <?php $serviceDetails = $modelServices->getById($serviceAvailable['service_id']); ?>
                                        
                                        <div id="service_result_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
                                            
                                            <a href="javascript:;" 
                                            onclick="checkService('<?php echo $this->escape($serviceAvailable['service_id']); ?>','service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>','min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>');">
                                            
                                           <ul class="service-list">
                                                
                                                <li><img  src="/pic/arrow_down.png" border="0"/></li>
                                                
                                                 <li  id="service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
												 <?php echo $this->escape($serviceDetails['service_name']); ?></li>
                                                 
                                                 <li class="calender_minimum_price_txt">Minimum Price:</li>
                                                 
                                                 <li id="min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
												 <?php echo $this->escape($serviceDetails['min_price']); ?></li>    
                                            </ul>
                                            
                                           </a>
                                           
                                        </div>
                                        
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div> 
                   
                        </div><!-- end  search services -->
						
						<!-- services desc --> 
													<div id="services">   
															
														<div class="service-description-with-invoice"> 
														
														
														
														 
														 
															    <div class="calender_service_slctd_service" id="selectedServices">
															 
																
															 
															 
															 
															 
															    </div>
															
															
														</div>
												    
													
													
													
													
													
													
													
													
                                                    
                                                    
                                                    <div class="row">
													 <div class="col-md-4 col-md-offset-8 col-xs-7 col-xs-offset-5">
													  <table class="table table-bordered">
													  <tr>
													   <th>Sub Total :</th>
													   <td>
													    <input type="text"  style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" readonly id="sub_total"  value="<?php echo $this->escape(isset($this->subTotal) ? number_format($this->subTotal, 2) : ""); ?>" name="sub_total" />
													   </td>
													  </tr>
													  <tr style="display:<?php echo (!empty($this->callOutFee) ? 'block' : 'none'); ?>;">
													   <th> Call Out Fee: 
													    <?php if ($this->callOutFeeTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
														 <span class="service_clone" style="font-weight: normal;">
													     <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreCallOutFee')); ?>" >Ignore</a>
														 </span>
														 <?php endif ?>
													   </th>
													   <td>
													    <input type="text"  id="call_out_fee" style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(!empty($this->callOutFee) ? number_format($this->callOutFee, 2) : "0"); ?>" name="call_out_fee"/>
													   </td>
													  </tr>
													  <tr>
													   <th>Discount:
													    <?php if ($this->totalDiscountTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
														<span class="service_clone" style="font-weight: normal;">
														<img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreTotalDiscount')); ?>" >Ignore</a>
														</span>
														<?php endif ?>
													   </th>
													   <td>
													    <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" id="total_discount" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(isset($this->totalDiscount) ? number_format($this->totalDiscount, 2) : ""); ?>" name="total_discount"/>
													   </td>
													  </tr>
													  <tr>
													    <th>
														  GST (<?php echo (100 * get_config('gst_tax')); ?>%):
														</th>
														<td>
														  <input readonly  style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;"  id="gst" type="text" value="<?php echo $this->escape(isset($this->gstTax) ? number_format($this->gstTax, 2) : ""); ?>" name="gst"/></em>													
														</td>
													  </tr>
													  <tr>
													   <th>Total:</th>
													   <td>
													    <input readonly  class="required" id="total_qoute" type="text"  style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" value="<?php echo $this->escape(isset($this->totalQoute) ? number_format($this->totalQoute, 2) : ""); ?>"name="total_qoute"/>
											     	    <input id="timezone" name="timezone" type="hidden" value="" />
													   </td>
													  </tr>
													  </table>
													 </div>
													</div>
                                                    
													
	 										</div>
					
				
	 </div>	
  </div>	  
 </div>
</div>
</form>


<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>