<?php
$modelServices = new Model_Services();
$modelContractorService = new Model_ContractorService();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelBookingStatus = new Model_BookingStatus();
$modelOrigoinalInquiry = new Model_OriginalInquiry();
$tradingNameObj = new Model_TradingName();
if (isset($this->event['original_inquiry_id']) && $this->event['original_inquiry_id']) {
    $org_inquiry = $modelOrigoinalInquiry->getById($this->event['original_inquiry_id']);
    $trading_names = $tradingNameObj->getTradingNameByWebsite($org_inquiry['website']);
}

$modelAuthRole = new Model_AuthRole();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$adminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$loggedUser = CheckAuth::getLoggedUser();
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>
<div class="ibox no-margin-b">
    <div class="ibox-content row">
        <div class="row">
            <div class="col-md-5">
                <?php If (isset($this->toEstimate) && $this->toEstimate): ?>
                    <h3>
                        New Estimate
                    </h3>
                <?php else: ?>
                    <h3>
                        New Booking
                    </h3>
                <?php endif; ?>

            </div>
            <div class="col-md-7 ">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <a  class="btn  btn-white" id="Closebtn" href="<?php echo isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '' ?>"><i class="fa fa-long-arrow-left"></i>&nbsp;Back</a>
                    <span id="save_btn_cont" >							
                        <a class="btn  btn-white" href="javascript:void(0);" onclick="save_booking(); return false;"><i class="fa fa-check "></i>&nbsp;Save</a>		

                    </span>
                    <a  class="btn  btn-white" href="#" data-toggle="modal" data-target="#popupi" onclick="NearestBooking2('Nearest Booking')">Nearest Booking</a>
                    <a  class="btn  btn-white" href="#" data-toggle="modal" data-target="#popupi" onclick="find_availability2('Find Availability')">Find Availability</a>
                </nav>
            </div>
        </div>

    </div>
</div>


<form action="<?php echo $this->escape($this->url(array(), 'addBooking')); ?>"  id="fmEdit" method="post" class="form-horizontal">
    <input type="hidden" name="inquiry_id" value="<?php echo $this->escape(isset($this->event['inquiry_id']) ? $this->event['inquiry_id'] : "" ) ?>" />
    <input type="hidden" name="toEstimate" value="<?php echo $this->escape(isset($this->toEstimate) ? $this->toEstimate : 0 ) ?>" />

    <div class="ibox">

        <div class="ibox-content row top_status_add_edit" style="<?php
        if (isset($this->toEstimate) && $this->toEstimate) {
            echo 'background-color: rgb(51, 102, 153)';
        } else {
            echo 'background-color: rgb(34, 170, 153)';
        }
        ?>">
            <div class="col-md-12">
                <div class="form-group no-margin-b">
                    <label class="col-md-2 col-xs-2 control-label status_label">
                        Status <i id="booking_status_loading">&nbsp;</i> 
                    </label>


                    <div class="col-md-6 col-xs-10">

                        <?php
                        if (isset($this->toEstimate) && $this->toEstimate) {
                            $bookingStatus = $modelBookingStatus->getByStatusName('QUOTED');
                        } else {
                            $bookingStatus = $modelBookingStatus->getByStatusName('TO DO');
                        }
                        $bookingStatusDefault = $bookingStatus['booking_status_id'];
                        $selectedBookingStatus = isset($this->event['status_id']) ? $this->event['status_id'] : $bookingStatusDefault;
                        ?>
                        <select class="required dropdown form-control"  id="bookingStatus" onchange="check_booking_status();" name="bookingStatus">
                            <option value="">Select One</option>
                            <?php foreach ($this->bookingStatus as $status): ?>

                                <?php $statuss = $modelBookingStatus->getById($status['booking_status_id']); ?>

                                <?php $selected = ($selectedBookingStatus == $status['booking_status_id'] ? 'selected="selected"' : ""); ?>
                                <option  bcolor="<?php echo $this->escape($colors[$statuss['color']]) ?>;" value="<?php echo $this->escape($status['booking_status_id']); ?>" <?php echo $selected; ?>><?php echo $this->escape($status['name']); ?></option>
<?php endforeach; ?>

                        </select>
                        <i id="booking_status_loading"></i>
                        <input id="previous_status_value" name="previous_status_value" type="hidden" value="<?php echo $this->escape($this->event['status_id']) ?>" />

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">
                    <div  class="ibox float-e-margins">

                        <div class="ibox-content">

                            <div class="form-group">
                                <label class="control-label col-md-2">Customer</label>

                                <div class="col-md-6">
                                    <input type="hidden" id="customer_id" name="customer_id" class="text_input required" value="<?php echo $this->escape(isset($this->event['customer_id']) && !empty($this->event['customer_id']) ? $this->event['customer_id'] : '') ?>"/>



                                    <div class="input-group ">


                                        <input type="text" onkeyup="customerSearchInput()" id="auto_customer_id" class="form-control " value="<?php echo $this->escape($this->customer_name ? $this->customer_name : '') ?>" autocomplete="off"/>
                                        <div class="searchCustomerInputResult" id="customerResultInput"></div>
                                        <span class="input-group-btn">  

<?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                                                <a  class="btn btn-primary" data-toggle="modal" id="edit_customer" data-target="#popupi" onclick="editCustomer();" style="display: <?php if (isset($this->event['customer_id']) && $this->event['customer_id']): ?><?php else: ?>none<?php endif; ?>;" >
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </a>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                                                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#popupi"onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');" ><i class="fa fa-plus"></i></a>

<?php endif; ?>

                                            <a class="btn btn-primary"  data-toggle="modal" data-target="#popupi" onclick="popupi('Customer list', '<?php echo $this->escape($this->url(array(), 'dropDownCustomerList')); ?>');"><i class="fa fa-search"></i>
                                            </a>


                                        </span> 									
                                    </div>
                                </div>
                            </div>

<?php if ($loggedUser['role_id'] != $contractorRoleId) : ?>



                                <div class="form-group">

                                    <label class="control-label col-md-2">
                                        Trading Name
                                    </label>
                                    <div class="col-md-6">

                                        <select class="form-control" name="trading_name">
                                            <option  value="0">Please Select Trading Name</option>

                                            <?php
                                            $selected = "";
                                            foreach ($this->tradingNames as $key => $tr_names) {
                                                if (isset($trading_names) && !empty($trading_names) && ($trading_names['trading_name_id'] == $tr_names['trading_name_id'])) {
                                                    $selected = 'selected';
                                                    echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                                } else if (empty($trading_names) && $this->booking['trading_name_id'] == $tr_names['trading_name_id']) {
                                                    $selected = 'selected';
                                                    echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                                } else if (empty($trading_names) && $this->event['trading_name_id'] == $tr_names['trading_name_id']) {
                                                    $selected = 'selected';
                                                    echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                                } else {
                                                    $selected = '';
                                                    echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>

<?php endif; ?>

                        </div>
                    </div>



                    <div >
                        <div class="ibox float-e-margins">


                            <div class="ibox-title">
<?php If (isset($this->toEstimate) && $this->toEstimate): ?>
                                    <h3>
                                        Estimate Address
                                    </h3>
                                <?php else: ?>
                                    <h3>
                                        Booking Address
                                    </h3>
                                <?php endif; ?>
                            </div>

                            <div class="ibox-content">


                                <div id="booking_address">


                                    <div class="form-group">

                                        <label class="col-md-2 control-label">
                                            <i class="fa fa-map-marker fa-lg">&nbsp;</i>
                                        </label>

                                        <div class="col-md-6">

                                            <div class="inline col-md-3 col-xs-3 no-padding">

                                                <input class="text_input form-control" placeholder="Unit / Lot No." name="unit_lot_number"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['unit_lot_number']) ? $this->bookingAddress['unit_lot_number'] : "") ?>"/>

                                            </div>

                                            <div class="inline col-md-3 col-xs-3  padding-left-no-right">

                                                <input class="text_input required form-control" placeholder="Street Number" name="street_number"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_number']) ? $this->bookingAddress['street_number'] : "") ?>" />
                                            </div>

                                            <div class="inline col-md-6 col-xs-6 padding-left-no-right">

                                                <input class="text_input required form-control" name="street_address" placeholder="Street Name"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_address']) ? $this->bookingAddress['street_address'] : "") ?>" />

                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-group">

                                        <div class="col-md-6 col-md-offset-2">

                                            <div class="inline col-md-9 col-xs-9 no-padding">
                                                <input class="text_input required form-control" name="suburb" placeholder="Suburb"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['suburb']) ? $this->bookingAddress['suburb'] : "") ?>" />
                                            </div>

                                            <div class="inline col-md-3 col-xs-3 padding-left-no-right">
                                                <input class="text_input required form-control" name="postcode" placeholder="Post code" type="text"  value="<?php echo $this->escape(isset($this->bookingAddress['postcode']) ? $this->bookingAddress['postcode'] : "") ?>" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">P.O. box</label>
                                        <div class="col-lg-6">
                                            <input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['po_box']) ? $this->bookingAddress['po_box'] : "") ?>" />
                                        </div>
                                    </div>


                                </div>









<?php $country_id = isset($this->bookingCity['country_id']) ? $this->bookingCity['country_id'] : 0; ?>
                                <div class="form-group" style="display:<?php echo!empty($country_id) ? 'none' : 'block'; ?>;">

                                    <label class="col-md-2 control-label">Country</label>
                                    <div class="col-md-6">
                                        <select class="required dropdown form-control" id="country" name="country" onchange="getStateByCountryId();">
                                            <option value="">Select One</option>
<?php foreach ($this->countries as $country): ?>
    <?php $selected = $country_id == $country['country_id'] ? 'selected="selected"' : ''; ?>
                                                <option value="<?php echo $this->escape($country['country_id']); ?>" <?php echo $selected ?>><?php echo $this->escape($country['country_name']); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div> 


                                <div class="form-group" id="display_state" style="<?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>">

                                    <label class="col-lg-2 control-label">State</label>
                                    <div class="col-lg-6" id="state_cont">
                                        <select id="state" class="dropdown form-control" onchange="$('#state').addClass('required');
                                                getCitiesByCountryId();" name="state">      
                                            <option value="">Select One</option>
<?php foreach ($this->states as $state): ?>
                                                <option value="<?php echo $this->escape($state); ?>" <?php echo $this->escape(isset($this->bookingCity['state']) ? ($this->bookingCity['state'] == $state ? "selected" : "") : ''); ?>><?php echo $this->escape($state); ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group" id="display_city" style=" <?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>">

                                    <label class="col-lg-2 control-label">City</label>
                                    <div class="col-lg-6" id="city_cont">
                                        <select id="city_id" class="dropdown form-control" onchange="$('#city_id').addClass('required');
                                                getServices();" name="city_id">
                                            <option value="">Select One</option>

                                                <?php foreach ($this->cities as $city): ?>
                                                <option value="<?php echo $this->escape($city['city_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['city_id']) ? ($this->bookingCity['city_id'] == $city['city_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($city['city_name']); ?></option>
<?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" >Property Type</label>
                                    <div class="col-lg-6" >
                                        <select id="property_type" class="select_field form-control" name="property_type">
                                            <option value="">Select One</option>
<?php foreach ($this->propertyTypes as $propertyType): ?>
                                                <option value="<?php echo $this->escape($propertyType['id']); ?>" <?php echo $this->escape(isset($this->event['property_type_id']) ? ($this->event['property_type_id'] == $propertyType['id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($propertyType['property_type']); ?></option>
<?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<?php $quoted = $modelBookingStatus->getByStatusName('QUOTED'); ?>

                    <div  class="ibox" id="block_booking_completed" >

                    <?php
                    $status_id = isset($this->event['status_id']) ? $this->event['status_id'] : 0;
                    if ($status_id) {
                        $bookingStatus = $modelBookingStatus->getById($status_id);
                    }
                    ?>
                        <?php $productCounter = 0; ?>
                        <?php if (isset($bookingStatus['name']) && ('COMPLETED' == $bookingStatus['name'] || 'FAILED' == $bookingStatus['name'])): ?>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" >Onsite Client Name</label>
                                    <div class="col-md-6" >
                                        <input MaxLength="200" class="required text_input form-control" id="onsite_client_name" name="onsite_client_name"  type="text" value="<?php echo $this->escape(isset($this->event['onsite_client_name']) ? $this->event['onsite_client_name'] : "") ?>" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" >Job Start Time</label>
                                    <div class="col-md-6" >
                                        <input MaxLength="200" class="required text_input form-control" id="job_start_time" readonly name="job_start_time"  type="text" value="<?php echo $this->escape(isset($this->event['job_start_time']) ? date('d-m-Y h:i A', $this->event['job_start_time']) : date('d-m-Y h:i A', strtotime($sarr[0] . ' ' . $sarr[1]))) ?>" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" >Job Finish Time</label>
                                    <div class="col-md-6" >
                                        <input MaxLength="200" class="required text_input form-control" id="job_finish_time" readonly name="job_finish_time"   type="text" value="<?php echo $this->escape(isset($this->event['job_finish_time']) ? date('d-m-Y h:i A', $this->event['job_finish_time']) : date('d-m-Y h:i A', strtotime($earr[0] . ' ' . $earr[1]))) ?>" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Customer Satisfaction</label>
                                    <div class="col-md-6">

                                        <table align="center" id="satisfaction" class="table table-bordered">
                                            <tbody><tr>
                                                    <td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_1">Very Dissatisfied</label></td>
                                                    <td>
                                                        <label for="satisfaction_1" style="margin-left: 6px;">1</label>
                                                    </td>
                                                    <td>            
                                                        <label for="satisfaction_2" style="margin-left: 6px;">2</label>
                                                    </td>
                                                    <td>            
                                                        <label for="satisfaction_3" style="margin-left: 6px;">3</label>
                                                    </td>
                                                    <td>            
                                                        <label for="satisfaction_4" style="margin-left: 6px;">4</label>
                                                    </td>
                                                    <td>            
                                                        <label for="satisfaction_5" style="margin-left: 6px;">5</label>
                                                    </td>
                                                    <td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_5">Very Satisfied</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="radio" class="required" id="satisfaction_1" name="satisfaction" value="1"/>
                                                    </td>
                                                    <td>
                                                        <input type="radio" id="satisfaction_2" name="satisfaction" value="2"/>
                                                    </td>
                                                    <td>            
                                                        <input type="radio" id="satisfaction_3" name="satisfaction" value="3"/> 
                                                    </td>
                                                    <td>            
                                                        <input type="radio" id="satisfaction_4" name="satisfaction" value="4"/> 
                                                    </td>
                                                    <td>            
                                                        <input type="radio" id="satisfaction_5" name="satisfaction" value="5"/> 
                                                    </td>
                                                </tr>
                                            </tbody>					

                                        </table>                          
                                    </div>
                                </div>
                            </div>

                            <!-- Product Name -->
    <?php if ($this->allBookingProduct): ?>
                                <div class="ibox-content">
        <?php foreach ($this->allBookingProduct as $bookingProduct): ?>
                                        <div  id="product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>">
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label" >Product Name</label>
                                                <div class="col-lg-9" >
                                                    <div class="col-lg-6">
                                                        <select name="product[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]"  class="form-control <?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>dropdown">
                                                            <option value="">Select One</option>
            <?php foreach ($this->products as $product): ?>
                <?php $selected = $bookingProduct['product_id'] == $product['id'] ? 'selected="selected"' : ''; ?>
                                                                <option value="<?php echo $this->escape($product['id']); ?>" <?php echo $this->escape($selected); ?>><?php echo $this->escape($product['product']); ?></option>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        &ensp;
                                                        Ltr
                                                        &ensp;
                                                        <input type="text" name="ltr[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="form-control <?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>text_input product_ltr" value="<?php echo $this->escape(isset($bookingProduct['ltr']) ? $bookingProduct['ltr'] : ''); ?>" />

                                                    </div>						
                                                </div>
                                            </div>  
            <?php if ($productCounter): ?>

                                                <div class="calender_txt_input">
                                                    <a href="javascript:;" onclick="$('#product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>').remove();">
                                                        <img src="/pic/remove.png" /></a>
                                                </div>

            <?php endif; ?>
                                        </div>

                                            <?php $productCounter++; ?>
                                        <?php endforeach; ?>
                                </div>
                                <?php endif; ?>                 
                            <!-- end-Product Name -->


                            <!-- add more product link-->
                            <div id="more_product">
                                <!-- more products generated here -->
                            </div>

    <?php if ('COMPLETED' == $bookingStatus['name']): ?>
                                <div class="ibox-content">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Extra Comments</label>
                                        <div class="col-md-6">
                                            <textarea class="long_text form-control"  id="extra_comments" name="extra_comments"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                        </div>

                                    </div>
                                </div>
    <?php endif; ?>

    <?php if ('FAILED' == $bookingStatus['name']): ?>
                                <div class="ibox-content">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</label>
                                        <div class="col-md-6">
                                            <textarea class="long_text form-control required" id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                        </div>

                                    </div>
                                    <input name="confirmResetAttribut" id="confirmResetAttribut" type="hidden" value="0"/>
                                </div>
    <?php endif; ?>

<?php elseif (isset($bookingStatus['name']) && 'TO DO' != $bookingStatus['name'] && 'IN PROGRESS' != $bookingStatus['name'] && 'QUOTED' != $bookingStatus['name']) : ?>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</label>
                                    <div class="col-md-6">
                                        <textarea class="long_text required form-control"  id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>

                                </div>
                            </div>
<?php endif; ?>
<?php if (isset($bookingStatus['name']) && 'ON HOLD' == $bookingStatus['name']): ?>
                            <div class="ibox-content">
                                <div id="deferred_date_cont" class="form-group">
                                    <label class="col-md-2 control-label">To Follow</label>
                                    <div class="col-md-6" id="dateOn">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	
                                            <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required"  readonly="readonly"  value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#dateOn .input-group.date').datepicker({
                                        todayBtn: "linked",
                                        todayHighlight: true,
                                        keyboardNavigation: false,
                                        forceParse: false,
                                        calendarWeeks: true,
                                        autoclose: true,
                                        format: 'yyyy-mm-dd'
                                    });
                                });
                            </script>		

<?php elseif (isset($bookingStatus['name']) && 'QUOTED' == $bookingStatus['name']) : ?>

                            <div class="ibox-content">                           
                                <div class="calender_slct_customer_cont extra_field">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">To Follow</label> 
                                        <div class="col-lg-9">
                                            <label>
                                                <input name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" checked="checked"/>
                                                Confirm
                                            </label>
                                        </div>
                                    </div>
                                    <div id="deferred_date_cont" class="form-group">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-6" >
                                            <div class="input-group date" id="to_follow_picker">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                <input name="to_follow" type="text" id="to_follow" class="text_field date_time required form-control"  readonly="readonly"  value="" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


<?php endif; ?>			



                    </div>
                    <div class="ibox">

                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-md-2 control-label" >Description</label>
                                <div class="col-md-7" >
                                    <textarea class="form-control" id="description" name="description" rows="5"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description'] : ""); ?></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>	
            </div>	  
        </div>

<?php //if (isset($bookingStatus['name']) && 'QUOTED' != $bookingStatus['name']) {   ?>

        <div id="booking_time" style="display: <?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? 'none' : 'block') ?>" >
            <div class="ibox services no-margin-b"> 
                <div class="ibox-title col-md-12 col-lg-12 col-sm-12 col-xs-12 services_head white-gray">
                    <div class="inline">&nbsp;
                        <i class="fa fa-calendar">&nbsp;</i>
                        Scheduled Visits
                    </div>


                </div>	
                <div class="ibox-content services_content" style="background-color:#d9dee1 !important;">
                    <div  class="ibox" >
                        <div class="ibox-title first_visit_header">
                            First Visit 
                            &nbsp;
                            <a class="collapse-link chevron_up">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                        <div class="ibox-content">
                            <div class="form-group" >
                                <div class="row">
                                    <label class="col-lg-2 control-label"> Time</label>
                                    <div class="col-md-6" style="padding-left: 22px;">
                                        <label for="IsAllDayEvent" class="checkup">
<?php $checked = (isset($this->event['is_all_day_event']) && $this->event['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                            <input id="IsAllDayEvent" name="isAllDayEvent" type="checkbox" value="1" <?php echo $checked; ?> onchange="IsAllDayEventChecked();"/> 
                                            All Day Event
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-6" style="padding-left: 22px;padding-right: 32px;">
<?php
if (isset($this->event)) {
    if (isset($this->event['booking_start']) && $this->event['booking_start']) {
        $sarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($this->event['booking_start'])));
    }
    if (isset($this->event['booking_end']) && $this->event['booking_end']) {
        $earr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($this->event['booking_end'])));
    }
} else {
    $sarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
    $earr = explode(" ", date('d/m/Y H:i', mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
}
if (isset($this->toEstimate) && $this->toEstimate) {
    $sarr = explode(" ", php2JsTime(time()));
    $earr = explode(" ", php2JsTime(time() + 10800));
}



$current_date = date('d/m/Y', time());
$current_time = date('H:i', time());
?>
                                        <div class="row add-booking">


                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date11">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" readonly class="<?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? '' : 'required  ends_before_starts date') ?> addRequired  text_input sdatepicker form-control"  id="stpartdate" name="stpartdate"  type="text" value="<?php echo $this->escape(isset($this->event) || (isset($this->toEstimate) && $this->toEstimate) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />
                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#date11 .input-group.date').datepicker({
                                                            todayBtn: "linked",
                                                            todayHighlight: true,
                                                            keyboardNavigation: false,
                                                            forceParse: false,
                                                            calendarWeeks: true,
                                                            autoclose: true,
                                                            format: 'dd/mm/yyyy'
                                                        });
                                                    });
                                                </script>

                                                <div class="col-md-6" id="startTimeDiv">
                                                    <div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5" readonly  class="<?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? '' : 'required') ?> addRequired time text_input stimepicker form-control" id="stparttime" name="stparttime"  type="text" value="<?php echo $this->escape(isset($this->event) || (isset($this->toEstimate) && $this->toEstimate) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />

                                                    </div>
                                                </div>
                                            </div>

                                            <script type="text/javascript">
                                                $('.clockpicker1').clockpicker();
                                            </script>		 




                                            <div class="col-md-12">To</div>
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date2">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" readonly  class="<?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? '' : 'required date') ?> addRequired text_input sdatepicker form-control"  id="etpartdate" name="etpartdate"  type="text" value="<?php echo $this->escape(isset($this->event) || (isset($this->toEstimate) && $this->toEstimate) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />

                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="endTimeDiv">
                                                    <div class="input-group clockpicker2" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5" readonly class="<?php echo $this->escape($selectedBookingStatus == $quoted['booking_status_id'] ? '' : 'required') ?> addRequired time text_input stimepicker form-control" id="etparttime" name="etparttime"  type="text" value="<?php echo $this->escape(isset($this->event) || (isset($this->toEstimate) && $this->toEstimate) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />

                                                    </div>
                                                </div>


                                                <script type="text/javascript">
                                                    $('.clockpicker2').clockpicker();
                                                </script>

                                            </div>


                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $('#date2 .input-group.date').datepicker({
                                                        todayBtn: "linked",
                                                        todayHighlight: true,
                                                        keyboardNavigation: false,
                                                        forceParse: false,
                                                        calendarWeeks: true,
                                                        autoclose: true,
                                                        format: 'dd/mm/yyyy'
                                                    });

                                                });
                                            </script>
                                        </div>			
                                    </div>

                                </div>

                            </div>	
                        </div>    


                    </div>
                    <!-- End Time -->
                    <div id="multiple_days"></div>   
                </div>
            </div>



            <div class="col-md-12">
                <!-- schedule next visit -->
                <a class="btn btn-primary col-md-12 col-xs-12 schedule_next_visit "  onclick="add_more_time();" >
                    <span class="float-l">&nbsp; &nbsp;<i class="fa fa-calendar fa-lg">&nbsp;&nbsp;</i><b>Schedule Next Visit</b></span>
                    <span class="fa fa-plus float-r"></span></a>

            </div>
        </div>
<?php //}  ?>
        <div class="ibox services no-margin-b"> 

            <div class="ibox-title col-md-12 col-lg-12 col-sm-12 col-xs-12 services_head black-gray">
                <div class="inline">&nbsp;
                    <i class="icon-services">&nbsp;</i>
                    Services 
                </div>
                <div class="inline add_new_service ">
                    <a  class="" data-toggle="modal" data-target="#spec"><i class="fa fa-plus">&nbsp;</i>Add Service</a> 
                    &nbsp;  
                </div>

            </div>	
            <div class="ibox-content services_content" style="background-color:#788492 !important;">

<?php if ($this->bookingServices): ?>
    <?php foreach ($this->bookingServices as $bookingService): ?>
        <?php
        $serviceId = isset($bookingService['service_id']) ? $bookingService['service_id'] : 0;
        $clone = isset($bookingService['clone']) ? $bookingService['clone'] : 0;
        $bookingId = isset($bookingService['booking_id']) ? $bookingService['booking_id'] : 0;
        $inquiryId = isset($bookingService['inquiry_id']) ? $bookingService['inquiry_id'] : 0;
        $contractorId = isset($bookingService['contractor_id']) ? $bookingService['contractor_id'] : 0;
        $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
        $serviceDetails = $modelServices->getById($serviceId);
        ?>
                        <div  class="ibox"  id="service_checked_<?php echo $this->escape($serviceAndClone); ?>" style="display: <?php echo isset($display) && $display ? $display : 'block'; ?>;">

                            <div class="ibox-title service_auto_generate_title">

                                <div class="inline">
                                    <i class="fa fa-star fa-lg">&nbsp;</i>
                                    <b> <?php echo $this->escape($serviceDetails['service_name']); ?></b>
                                </div>

                                <div class="inline float-r">

                                    <ul class="new_service_operation">

                                        <li>
                                            <a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceId); ?>', 'service_name_<?php echo $this->escape($serviceId); ?>', 'min_price_<?php echo $this->escape($serviceId); ?>')">
                                                <img src="/pic/icons/clone.png"/>Clone</a>
                                        </li>

                                        <li>
                                            &nbsp;
                                            &nbsp;
                                            <a href="javascript:;" onclick="removeService_1('<?php echo $this->escape($serviceAndClone); ?>')">
                                                <i class="fa fa-minus-circle fa-lg" style="color:#FFF;"></i></a>
                                        </li>
                                    </ul>
                                </div>	

                                <div class="clearfix"></div>
                            </div>

                            <div class="ibox-content">
                                <div class="row" id="attribute_<?php echo $this->escape($serviceAndClone); ?>">
        <?php $counter = 0; ?>    
        <?php
        $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);
        $counterr = 0;
        $attributess = array();
        foreach ($serviceAttribute as $attribute):
            ?>

                                        <?php
                                        $attribute_name = $this->escape($attribute['attribute_name']) . ':';
                                        ;

                                        if ($bookingId) {
                                            $attribute_field = drowAttribute($attribute, $bookingId, 0, $clone);
                                        } else {
                                            $attribute_field = drowAttribute($attribute, 0, $this->escape(isset($inquiryId) ? $inquiryId : 0), $clone);
                                        }

                                        if ($counterr < 3) {
                                            $attributess[] = '<div  class="form-group attributes_group col-md-4">
																	 <label class="control-label col-md-3">' . $attribute_name . '</label>
																	 <div class="col-md-9">' . $attribute_field . '
																	 </div></div>';
                                        } else {
                                            $attributess[] = '<div  class="form-group services_attributes_with_background">
																	 <label class="control-label col-md-2">' . $attribute_name . '</label>
																	 <div class="col-md-10">' . $attribute_field . '
																	 </div></div>';
                                        }
                                        ?> 

                                        <?php
                                        $counterr++;
                                    endforeach;
                                    ?>
                                    <?php
                                    $first_attribute = array_slice($attributess, 0, 3);
                                    echo implode('&ensp;', $first_attribute);
                                    ?>

                                    <div class="form-group  col-md-4 col-sm-4 service_amount">
                                        <label class="control-label col-md-3 ">Amount</label>
                                        <div class="col-md-9 " id="min_price_total_<?php echo $this->escape($serviceAndClone); ?>">
                                            <p class="service_total_amount">
        <?php echo $this->escape($this->priceArray[$serviceAndClone] >= $serviceDetails['min_price'] ? number_format($this->priceArray[$serviceAndClone], 2) : number_format($serviceDetails['min_price'], 2)); ?>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="form-group  col-md-4 col-sm-4  this_service_total">
                                        <label class="control-label col-md-3">Total</label>
                                        <div  class="col-md-9 "  id="total_<?php echo $this->escape($serviceAndClone); ?>" >

                                            <p class="service_total_amount">
        <?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?>
                                            </p>

                                        </div>
                                    </div>	


                                    <div class="col-md-4 col-sm-12 col-xs-12  service_consider_min_price">
                                        <span class="consider_min_price">

                                            <b class="inline " style="">Minimum Price: $ <?php echo $this->escape($serviceDetails['min_price']); ?></b>

                                            <div class="switch inline">
                                                <div class="onoffswitch custome_service_switch">

                                                    <input class="checkbox_consider_min_price onoffswitch-checkbox" id="checkbox_consider_min_price_<?php echo $this->escape($serviceAndClone); ?>"  onclick="countServicePrice(<?php echo "'" . $this->escape($serviceId) . "'" . ($clone ? ",'" . $this->escape($clone) . "'" : ""); ?>);" 
                                                           type="checkbox" checked="checked"/>			

                                                    <label class="onoffswitch-label" for="checkbox_consider_min_price_<?php echo $this->escape($serviceAndClone); ?>">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>	
                                        </span>
                                    </div>

                                </div>

                                <div class="ibox-content">
                                    <div class="row col-md-10">
                                        <div class="form-group">
                                            <label class="cx-label col-md-2 control-label">Technician :</label>
                                            <div class="col-md-10">

                                                <span id="contractor_<?php echo $this->escape($serviceAndClone); ?>">



        <?php if (!CheckAuth::checkCredential(array('CanAssignContractorToBooking'))) : ?>

            <?php $modelUser = new Model_User(); ?>
            <?php $user = $modelUser->getById($contractorId); ?>
                                                        <?php $modelContractorInfo = new Model_ContractorInfo(); ?>
                                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                                        <?php echo $this->escape(ucwords($user['username']) . (!empty($contractorInfo['business_name']) ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                        <input type="hidden" value="<?php echo $this->escape($contractorId); ?>" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                    <?php else: ?>
                                                        <?php $cityId = !empty($this->bookingCity['city_id']) ? $this->bookingCity['city_id'] : 0; ?>
                                                        <?php $contractorService = $modelContractorService->getContractorByServiceIdAndCityId($serviceId, $cityId, TRUE); ?>

                                                        <select class="required dropdown form-control" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                            <option value="">Select</option>
                                                        <?php foreach ($contractorService as $contractor_id => $contractor_name): ?>
                                                                <option value="<?php echo $this->escape($contractor_id); ?>" <?php echo $this->escape(isset($contractorId) ? ($contractorId == $contractor_id ? "selected" : "") : ""); ?>><?php echo $this->escape($contractor_name); ?></option>
            <?php endforeach; ?>
                                                        </select>
                                                        <?php endif; ?>

                                                </span>
                                            </div>
                                        </div>

        <?php
        $other_attribute = array_slice($attributess, 3);
        echo implode($other_attribute);
        ?>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>

                            <input type="hidden" value="<?php echo $this->escape($serviceAndClone); ?>" name="services[]">
                            <input type="hidden" id="min_<?php echo $this->escape($serviceAndClone); ?>" value="<?php echo $this->escape($serviceDetails['min_price']); ?>"/>
                            <input type="hidden" name="consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" id="consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" value="<?php echo isset($bookingService['consider_min_price']) && $bookingService['consider_min_price'] ? '1' : '0'; ?>" />  	                                         
                        </div>
    <?php endforeach; ?>
<?php endif; ?>





                <div id="selectedServices">


                </div>
            </div>
        </div>	
        <div class="col-md-5 col-md-offset-7 white-bg padding">

            <div class="form-group col-md-12">
                <label class="control-label col-md-3">Sub Total:</label>
                <div class="col-md-9 col-xs-12">
                    <input type="text"  class="form-control " readonly id="sub_total"  value="<?php echo $this->escape(isset($this->subTotal) ? number_format($this->subTotal, 2) : ""); ?>" name="sub_total" />
                </div>
            </div>


            <div class="form-group col-md-12">
                <label class="control-label col-md-3 ">  
                    GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                </label>
                <div class="col-md-9">
                    <input readonly class="form-control" id="gst" type="text" value="<?php echo $this->escape(isset($this->gstTax) ? number_format($this->gstTax, 2) : ""); ?>" name="gst"/>
                </div>
            </div>





            <div class="form-group col-md-12" style="display:<?php echo (!empty($this->callOutFee) ? 'block' : 'none'); ?>;">
                <label class="control-label col-md-3 ">  
                    Call Out Fee: 
<?php if ($this->callOutFeeTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                        <span class="service_clone" style="font-weight: normal;">
                            <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreCallOutFee')); ?>" >Ignore</a>
                        </span>
                    <?php endif ?>
                </label>
                <div class="col-md-9 ">
                    <input type="text"  class="form-control"  id="call_out_fee"  onkeyup="changeTotalQoute();" value="<?php echo $this->escape(!empty($this->callOutFee) ? number_format($this->callOutFee, 2) : "0"); ?>" name="call_out_fee" />
                </div>
            </div>




            <div class="form-group col-md-12">
                <label class="control-label col-md-3 ">Discount:
<?php if ($this->totalDiscountTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                        <span class="service_clone" style="font-weight: normal;">
                            <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreTotalDiscount')); ?>" >Ignore</a>
                        </span>
                    <?php endif ?>


                </label>
                <div class="col-md-9 ">
                    <input type="text" class="form-control" id="total_discount" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(isset($this->totalDiscount) ? number_format($this->totalDiscount, 2) : ""); ?>" name="total_discount"/>
                </div>
            </div>



            <div class="form-group col-md-12">
                <label class="control-label col-md-3 ">  
                    Total:
                </label>
                <div class="col-md-9 ">
                    <input readonly  class="form-control required" id="total_qoute" type="text"  value="<?php echo $this->escape(isset($this->totalQoute) ? number_format($this->totalQoute, 2) : ""); ?>" name="total_qoute"/>
                    <input id="timezone" name="timezone" type="hidden" value="" />
                </div>
            </div>




        </div>				

    </div>




    <div class="modal fade" id="spec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Add new services</h4>
                </div>

                <div class="modal-body">



                    <!-- Add services -->
                    <div class="form-group">
                        <div class="">
                            <input MaxLength="200" id="search" name="keywords" onkeyup="searchServices();" autocomplete="off"  type="text" placeholder="Type Service Name to Search" />
                            <div class="calender_service_opt_slct " id="keywordsResult">
<?php if ($this->serviceAvailable): ?>

    <?php foreach ($this->serviceAvailable as $serviceAvailable): ?>
        <?php $serviceDetails = $modelServices->getById($serviceAvailable['service_id']); ?>

                                        <div id="service_result_<?php echo $this->escape($serviceAvailable['service_id']); ?>">

                                            <a href="javascript:;" 
                                               onclick="checkService('<?php echo $this->escape($serviceAvailable['service_id']); ?>', 'service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>', 'min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>');">

                                                <ul class="service-list">

                                                    <li><img  src="/pic/arrow_down.png" border="0"/></li>

                                                    <li  id="service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
        <?php echo $this->escape($serviceDetails['service_name']); ?></li>

                                                    <li class="calender_minimum_price_txt">Minimum Price:</li>

                                                    <li id="min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
                                                        <?php echo $this->escape($serviceDetails['min_price']); ?></li>    
                                                </ul>

                                            </a>

                                        </div>

    <?php endforeach; ?>
<?php endif; ?>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    function UpdateTableHeaders() {
        var fixedwidth = $('.services').width();
        $(".services").each(function () {
            var el = $(this),
                    offset = el.offset(),
                    scrollTop = $(window).scrollTop(),
                    floatingHeader = $(".floatingHeader", this)

            if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
                floatingHeader.css({
                    "display": "block", "width": fixedwidth
                });
            } else {
                floatingHeader.css({
                    "display": "none"
                });
            }
            ;
        });
    }


    $(function () {

        var clonedHeaderRow;

        $(".services").each(function () {
            clonedHeaderRow = $(".services_head", this);
            clonedHeaderRow
                    .before(clonedHeaderRow.clone())
                    .addClass("floatingHeader");
        });

        $(window)
                .scroll(UpdateTableHeaders)
                .trigger("scroll");

    });
</script>
<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>