<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<?php
// Style Sheet
//ViewHelper::setStyleSheet('/plugins/wbCalendar/css/main.css');
// JavaScript
ViewHelper::setJavaScript('/plugins/wbCalendar/src/Plugins/jquery.form.js');
ViewHelper::setJavaScript('/plugins/wbCalendar/src/Plugins/jquery.validate.js');
ViewHelper::setJavaScript('/plugins/wbCalendar/src/Plugins/datepicker_lang_US.js');
ViewHelper::setJavaScript('/js/date.format.js');

$to_do = $modelBookingStatus->getByStatusName('TO DO');
$in_process = $modelBookingStatus->getByStatusName('IN PROGRESS');
$to_visit = $modelBookingStatus->getByStatusName('TO VISIT');
$quoted = $modelBookingStatus->getByStatusName('QUOTED');
$failed = $modelBookingStatus->getByStatusName('FAILED');
$completed = $modelBookingStatus->getByStatusName('COMPLETED'); 

$modelCompanies = new Model_Companies();
$company = $modelCompanies->getById(CheckAuth::getCompanySession());
$callOutFee = $company['call_out_fee'];
?>
<script type="text/javascript">
    
    //
    // check_booking_status
    //
    var to_do = <?php echo $this->escape($to_do['booking_status_id']); ?>;
    var in_process = <?php echo $this->escape($in_process['booking_status_id']); ?>;
    var quoted = <?php echo $this->escape($quoted['booking_status_id']); ?>;
    var failed = <?php echo $this->escape($failed['booking_status_id']); ?>;
    var completed = <?php echo $this->escape($completed['booking_status_id']); ?>;
    var convert_status = '<?php echo $this->escape(isset($this->event['convert_status']) ? $this->event['convert_status'] : ''); ?>';
	var bookingId = '<?php echo $this->event['booking_id']; ?>';

 
    var callOutFee = <?php echo $this->escape($callOutFee); ?>;
    
    //
    //when update the total qoute array will fill from database
    //
    var total_qoute = new Array();
	
	var visits_arr = ['First Visit','Second Visit','Third Visit','Fourth Visit','Fifth Visit','Sixth Visit','Seventh Visit','Eighth Visit','Ninth Visit'];

<?php if ($this->bookingServices): ?>
    <?php foreach ($this->bookingServices as $bookingService): ?>
        <?php
        $serviceId = isset($bookingService['service_id']) ? $bookingService['service_id'] : 0;
        $clone = isset($bookingService['clone']) ? $bookingService['clone'] : 0;
        $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
        $serviceDetails = $modelServices->getById($serviceId);
        ?>
        total_qoute['<?php echo $this->escape($serviceAndClone); ?>']=<?php echo $this->escape(isset($this->priceArray[$serviceAndClone]) && $this->priceArray[$serviceAndClone] >= $serviceDetails['min_price'] ? $this->priceArray[$serviceAndClone] : $serviceDetails['min_price']); ?>;
    <?php endforeach; ?>
<?php endif; ?>
    
    
    //
    //when update the selected service array will fill from database
    //
    var selected_service = new Array();

<?php if ($this->thisBookingServices): ?>
    <?php foreach ($this->thisBookingServices as $thisBookingService): ?>
                selected_service['<?php echo $this->escape($thisBookingService); ?>']='<?php echo $this->escape($thisBookingService); ?>';
    <?php endforeach; ?>
<?php endif; ?>
    
    
<?php if ($productCounter): ?>
        var product_counter = <?php echo $this->escape($productCounter - 1); ?>;
<?php else: ?>
        var product_counter = 0;
<?php endif; ?>    
    
<?php if (count($this->multipleDays)): ?>
        var time_counter = <?php echo count($this->multipleDays); ?>;
<?php else: ?>
        var time_counter = 0;
<?php endif; ?>
    
    var gst_tax = <?php echo get_config('gst_tax'); ?>;
    var total_gst_tax = <?php echo (1 + get_config('gst_tax')); ?>;
    
    if (!DateAdd || typeof (DateDiff) != "function") {
        var DateAdd = function(interval, number, idate) {
            number = parseInt(number);
            var date;
            if (typeof (idate) == "string") {
                date = idate.split(/\D/);
                eval("var date = new Date(" + date.join(",") + ")");
            }
            if (typeof (idate) == "object") {
                date = new Date(idate.toString());
            }
            switch (interval) {
                case "y": date.setFullYear(date.getFullYear() + number); break;
                case "m": date.setMonth(date.getMonth() + number); break;
                case "d": date.setDate(date.getDate() + number); break;
                case "w": date.setDate(date.getDate() + 7 * number); break;
                case "h": date.setHours(date.getHours() + number); break;
                case "n": date.setMinutes(date.getMinutes() + number); break;
                case "s": date.setSeconds(date.getSeconds() + number); break;
                case "l": date.setMilliseconds(date.getMilliseconds() + number); break;
            }
            return date;
        }
    };
    
    function getHM(date)
    {
        var hour =date.getHours();
        var minute= date.getMinutes();
        var ret = (hour>9?hour:"0"+hour)+":"+(minute>9?minute:"0"+minute);
        return ret;
    }
    
    //Save btn do submit
    function save_booking() {
        $("#save_btn_cont a").html('<img src="/pic/loading-4.gif">');
        $('[disabled]').each(function(i) {
            d_name = $(this).attr("name");
            d_val = $(this).val();
            if(d_name && !$('#temp_' + d_name).attr("name")){
                $(this).after('<input id="temp_' + d_name + '" type="hidden" name="' + d_name + '" value="' + d_val + '" />');
            }
        });

        $("#fmEdit").submit(); 
    }
    
    $(document).ready(function() {
		
   
		 
        //debugger;
        var DATA_FEED_URL = "calendar-manage";
		
        /*date picker
		
        $("#stpartdate,#etpartdate").datepicker({
            showButtonPanel: true
        });
		
		
        $(".more_stpartdate,.more_etpartdate").datepicker({
            showButtonPanel: true
        });
        	
        //time picker
		
		
        $("#stparttime,#etparttime").timepicker({ timeFormat: "hh:mm" });
        $(".more_stparttime,.more_etparttime").timepicker({ timeFormat: "hh:mm" });
        */
        var check = $("#IsAllDayEvent").click(function(e) {
            if (this.checked) {
			
                $("#stparttime").val("00:00").parents('#startTimeDiv').hide();
                $("#etparttime").val("00:00").parents('#endTimeDiv').hide();
            }else {
                var d = new Date();
                var p = 60 - d.getMinutes();
                if (p > 30) p = p - 30;
                d = DateAdd("n", p, d);
                $("#stparttime").val(getHM(d)).parents('#startTimeDiv').show();
                $("#etparttime").val(getHM(DateAdd("h", 3, d))).parents('#endTimeDiv').show();
            }
        });
       if(check[0]){
        if (check[0].checked) {
            $("#stparttime").val("00:00").parents('#startTimeDiv').hide();
            $("#etparttime").val("00:00").parents('#endTimeDiv').hide();
        }
	   }
		
		
        
        $(".multi_isAllDayEvent").each(function() {
            if($(this).is(':checked')){
                var currentId = $(this).attr('id');
            
                var arr = currentId.split('_');
                var counter = arr[1];
                
                $("#stparttime_"+counter).val("00:00").hide();
                $("#etparttime_"+counter).val("00:00").hide();
            }
        });
        
        //Close btn to back
        $("#Closebtn").click(function() { 
            setMessage("Close",'success');
            var url = '<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')); ?>';
            window.location = url;
        });
        
        //Delete btn to delete
        $("#Deletebtn").click(function() {
            if (confirm("Are you sure to remove this event")) {
                var param = [{ "name": "calendarId", value: <?php echo $this->escape(isset($_GET["booking_id"]) ? $_GET["booking_id"] : 0); ?>}];
                $.post(DATA_FEED_URL + "?method=remove",
                param,
                function(data){
                    if (data.IsSuccess) {
                        setMessage(data.Msg,'success');
                        var url = '<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')); ?>';
                        window.location = url;
                    }
                    else {
                        alert("Error occurs.\r\n" + data.Msg);
                    }
                }
                ,"json");
            }
        });
        
        //to define parameters of ajaxform
        var options = {
            beforeSubmit: function() {
                return true;
            },
            dataType: "json",
            
            success: function(data) {
			//alert(data.IsSuccess);
                if (data.IsSuccess) {
                    
                    var go_to_url = '<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')); ?>';
                    
                    if(data.url){
                        go_to_url = data.url
                    }
                    
                    setMessage(data.Msg,'success');
                    
                    if(data.send_booking_confirm && (data.status == 'TO DO' || data.status == 'QUOTED')){
						//alert(go_to_url);
						data_url2 = data.url;
							
						//alert(data_url2);
                       // showPopupWindowWithGoTo('<?php echo $this->escape($this->url(array(), 'sendBookingConfirmationAsEmail')); ?>',go_to_url,'510','800','Booking Confirmation','id='+data.Data+'&go_to_url='+encodeURIComponent(go_to_url));
					   window.location = data_url2;
                    } else {
                        window.location = go_to_url;  
                    }
                    
                } else {
                    //set error in view
                    $.each(data.Msg, function(key,value) {
						$('.alert_box').append('<div class="alert alert-danger alert-dismissible fade in col-md-12" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span class="typeprice"> '+value+'</span></div>');
                        $("[name='"+key+"']").after('<label for="'+key+'" generated="true" class="error">'+value+'</label>');
                    });
					
                    //return save btn in view 
                    $("#save_btn_cont").html(
                     '<a  class="btn  btn-white"  href="javascript:void(0);" onclick="save_booking(); return false;" class="btn_a"><i class="fa fa-check "></i>&nbsp;Save</a>'                  
					);
                }
            },
			error : function(){
				alert("Error");
			}
        };
		
     /*   
      $.validator.addMethod("date", function(value, element) {
            var arrs = value.split(i18n.datepicker.dateformat.separator);
            var year = arrs[i18n.datepicker.dateformat.year_index];
            var month = arrs[i18n.datepicker.dateformat.month_index];
            var day = arrs[i18n.datepicker.dateformat.day_index];
            var standvalue = [year,month,day].join("-");
            return this.optional(element) || /^(?:(?:1[6-9]|[2-9]\d)?\d{2}[\/\-\.](?:0?[1,3-9]|1[0-2])[\/\-\.](?:29|30))(?: (?:0?\d|1\d|2[0-3])\:(?:0?\d|[1-5]\d)\:(?:0?\d|[1-5]\d)(?: \d{1,3})?)?$|^(?:(?:1[6-9]|[2-9]\d)?\d{2}[\/\-\.](?:0?[1,3,5,7,8]|1[02])[\/\-\.]31)(?: (?:0?\d|1\d|2[0-3])\:(?:0?\d|[1-5]\d)\:(?:0?\d|[1-5]\d)(?: \d{1,3})?)?$|^(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])[\/\-\.]0?2[\/\-\.]29)(?: (?:0?\d|1\d|2[0-3])\:(?:0?\d|[1-5]\d)\:(?:0?\d|[1-5]\d)(?: \d{1,3})?)?$|^(?:(?:16|[2468][048]|[3579][26])00[\/\-\.]0?2[\/\-\.]29)(?: (?:0?\d|1\d|2[0-3])\:(?:0?\d|[1-5]\d)\:(?:0?\d|[1-5]\d)(?: \d{1,3})?)?$|^(?:(?:1[6-9]|[2-9]\d)?\d{2}[\/\-\.](?:0?[1-9]|1[0-2])[\/\-\.](?:0?[1-9]|1\d|2[0-8]))(?: (?:0?\d|1\d|2[0-3])\:(?:0?\d|[1-5]\d)\:(?:0?\d|[1-5]\d)(?:\d{1,3})?)?$/.test(standvalue);
        }, "Invalid date format");
		*/
        $.validator.addMethod("time", function(value, element) {
            return this.optional(element) || /^([0-1]?[0-9]|2[0-3]):([0-5][0-9])$/.test(value);
        }, "Invalid time format");
        $.validator.addMethod("quantity", function(value, element) {
            return this.optional(element) || /^[0-9]*$/.test(value);
        }, "Invalid quantity format");
        $.validator.addMethod("safe", function(value, element) {
            return this.optional(element) || /^[^$\<\>]+$/.test(value);
        }, "$<> not allowed");
        $.validator.addMethod("ends_before_starts", function() {
            var stpartdate = $("#stpartdate").val();
            var stparttime = $("#stparttime").val();
            var etpartdate = $("#etpartdate").val();
            var etparttime = $("#etparttime").val();
			
			
			var arrs = stpartdate.split(i18n.datepicker.dateformat.separator);
            var year = arrs[2];
            var month = arrs[1];
            var day = arrs[0];
            var standvalue = [year,month,day].join("-");
			
			
			
			
			var arrs2 = etpartdate.split(i18n.datepicker.dateformat.separator);
            var year2 = arrs2[2];
            var month2 = arrs2[1];
            var day2 = arrs2[0];
            var estandvalue = [year2,month2,day2].join("-");
			
			
            var start_time = standvalue + ' '+ stparttime;
            var end_time = estandvalue + ' '+ etparttime;
			
			
			
            var sd=new Date(start_time);
            var ed=new Date(end_time);

            if(ed >= sd){
                return true;
            }
            return false;
        }, "End Before Start ");
        $.validator.addMethod("more_ends_before_starts", function(value, element) {
            
            var currentId = $(element).attr('id');
            
            var arr = currentId.split('_');
            var counter = arr[1];
            
            var stpartdate = $("#stpartdate_"+counter).val();
            var stparttime = $("#stparttime_"+counter).val();
            var etpartdate = $("#etpartdate_"+counter).val();
            var etparttime = $("#etparttime_"+counter).val();
            
            var start_time = stpartdate + ' '+ stparttime;
            var end_time = etpartdate + ' '+ etparttime;
            
			var arrs = stpartdate.split(i18n.datepicker.dateformat.separator);
            var year = arrs[2];
            var month = arrs[1];
            var day = arrs[0];
            var standvalue = [year,month,day].join("-");
			
			var arrs2 = etpartdate.split(i18n.datepicker.dateformat.separator);
            var year2 = arrs2[2];
            var month2 = arrs2[1];
            var day2 = arrs2[0];
            var estandvalue = [year2,month2,day2].join("-");
           
			var start_time = standvalue + ' '+ stparttime;
            var end_time = estandvalue + ' '+ etparttime;
            var sd=new Date(start_time);
            var ed=new Date(end_time);

            if(ed >= sd){
                return true;
            }
            return false;
        }, "End Before Start");
        
  $.validator.addMethod(
    "date",
    function(value, element) {
        // put your own logic here, this is just a (crappy) example
        return value.match(/^\d\d?\/\d\d?\/\d\d\d\d$/);
    },
    "Invalid Date Format"
);
        
        $("#fmEdit").validate({
		    rules:{
			  myDate : {
                australianDate : true
              }
			},
            submitHandler: function(form) { 
                $("#fmEdit").ajaxSubmit(options); 
            }
            ,
            invalidHandler: function(form, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    $("#save_btn_cont").html(
                    '<a  class="btn  btn-white"  href="javascript:void(0);" onclick="save_booking(); return false;" class="btn_a"><i class="fa fa-check "></i>&nbsp;Save</a>'                    
                );
                }
            }
        });
    });

    //
    //fun to get all city in selected country
    //
    function getStateByCountryId(){
        if($('#country').val()){
            $('#display_state').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country').val()+"&onChange=getCitiesByCountryId",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#display_state').css('display','none');
            $('#display_city').css('display','none');
        }
    }
    
    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId(){
        if($('#state').val()){
            $('#display_city').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country').val()+"&state="+$('#state').val()+"&onChange=getServices&isOnChange=1",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#display_city').css('display','none');
        }
    }
    //
    //function that will display the booking address
    //
    function getBookingAddress(){
		
        if($('#customer_id').val()){
			$("#popupi").modal('hide');
            $('#booking_address').css('display','block');
            $('#booking_address').html('<img src="/pic/loading-4.gif">');
			
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'bookingAddressBlock')); ?>",
                data: "customer_id="+$('#customer_id').val(),
                success: function(msg) {
                    $('#booking_address').html(msg);
                }
            });
        }else{
            $('#booking_address').css('display','none');
        }
    }
    
    
 
    //
    //fun to get all service Available in selected city
    //
    function getServices(){
        // reset total array
        //total_qoute = new Array();
        //selected_service = new Array();

        if($('#city_id').val()){
            $('#keywordsResult').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'servicesAvailable')); ?>",
                data: "city_id="+$('#city_id').val(),
                success: function(msg) {
                    $('#keywordsResult').html(msg);
                }
            });
        }
    }

    //
    //in search box any key pressed will call this fun to get service like this key 
    //
	
    function searchServices(){
        $('#keywordsResult').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'searchServices')); ?>",
            data: "city_id="+$('#city_id').val()+"&"+$('#fmEdit').serialize(),
            success: function(msg) {
                $('#keywordsResult').html(msg);
            }
        });
    }
    
    //
    //fun call when any service checked 
    //
    function checkService(service_id,service_name,min_price){          
        
        var clone = 0;
        var service = service_id;
        while (selected_service[service]) {
            clone++
            service = service_id + '_' + clone;
        }
        
        selected_service[service] = service;
        
        //
        //add servise in featured block
        //
        $('#selectedServices').append(
		'<div  class="service-autogenerated-div serviceContainer" id="service_checked_'+service+'" style="margin-bottom:0px;padding-top:10px">'+
		'<div class="row">'+
		'<div class="col-md-7">'+
		'<h3> Service </h3>'+
		'<ul class="service-det-list">'+
		          '<li><a href="javascript:;" onclick="removeService(\''+service+'\')"><img src="/pic/icons/delete.png"/>Remove</a></li>'+
		          '<li><a href="javascript:;" onclick="checkService(\''+service_id+'\',\''+service_name+'\',\''+min_price+'\')"><img src="/pic/icons/clone.png"/>Clone</a></li>'+
		          '<li><b>'+$('#'+service_name).html()+'</b></li>'+
		       '</ul>'+
		'</div>'+
		'<div class="col-md-3 col-xs-6">'+
		'<h3>Total</h3>'+
		'<div id="min_price_total_'+service+'" style="margin-top:16px">0.00</div>'+
		'</div>'+
		'<div class="col-md-2 col-xs-6">'+
		'<h3>Amount</h3>'+
		'<div id="total_'+service+'" style="margin-top:16px">0.00</div>'+
		'</div>'+
		'</div>'+	   
		   '<div class="">'+
		       '<div class="row" style="margin:0px">'+
		        '<div class="col-md-10 col-xs-12">'+
		          '<div class="form-group">'+ 
		             '<label class="cx-label col-md-3">Technician :</label>'+
		               '<div class="col-md-9 col-xs-12"><span id="contractor_'+service+'" class="col-md-9 col-xs-12"></span>'+
		                '</div></div>'+
		              '<div class="form-group">'+
		               '<label class="checkup min-price col-md-12 col-xs-12">'+
               '<input class="checkbox_consider_min_price" id="checkbox_consider_min_price_'+service+'" onclick="' + ( clone ? 'countServicePrice(\''+service_id+'\',\''+clone+'\');' : 'countServicePrice(\''+service_id+'\');' ) + '" checked="checked" type="checkbox"/>'+
               '&nbsp Consider Minimum Price ($ '+$('#'+min_price).html()+')'+
               '</label>'+
		        '</div>'+
		         '<div id="attribute_'+service+'"></div>'+
		          '</div>'+
		'</div>'+
			
		       '<input type="hidden" id="min_'+service+'" value="'+$('#'+min_price).html()+'"/>'+
               '<input type="hidden" name="services[]" value="'+service+'"/>'+
			   '<input name="consider_min_price_'+service+'" id="consider_min_price_'+service+'" value="1" type="hidden"/>'+

		   '</div>'+		   
			'</div>');
        //
        //get all servise atribute by service_id
        //
        $('#attribute_'+service).html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(),'drowAttribute')); ?>",
            data: "service_id="+service_id+"&clone="+clone,
            success: function(msg) {
                $('#attribute_'+service).html(msg);
            }
        });

        //
        //get all contractor available by service_id
        //
        $('#contractor_'+service).html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'contractor')); ?>",
            data: "service_id="+service_id+"&clone="+clone+"&city_id="+$('#city_id').val(),
            success: function(msg) {
                $('#contractor_'+service).html(msg);
            }
        });
    }
	 function add_more_product_with_value(value){
		
		  product_counter++;
        $('#more_product_'+value).append(
        '<div  id="product_item_'+product_counter+'">'+
		    '<div class="form-group">'+
            '<label class="col-md-3 control-label" >Product Name</label>'+
            '<div class="col-md-9" >'+
			'<div class="col-md-8 col-xs-11" style="padding:0px">'+
		    '<select name="date_product_'+value+'[]" class="form-control dropdown">'+
            '<option value="">Select One</option>'+
            '<?php foreach ($this->products as $product): ?>'+
                '<option value="<?php echo $this->escape($product['id']); ?>"><?php echo $this->escape($product['product']); ?></option>'+
                '<?php endforeach; ?>'+
            '</select>'+
			'</div><div class="col-xs-1 display_on_mobile" style="padding:6px;">'+
			'<a  href="javascript:;" onclick="$(\'#product_item_'+product_counter+'\').remove();">'+
			'<i class="fa fa-minus-circle fa-lg" style="color:Red;"></i></a></div>'+
			'<div class="col-md-1 col-xs-6" style="text-align:right; padding:7px;">'+
            ' <label class="control-label">Ltr</label> </div>'+
			'<div class="col-md-2 col-xs-4" style="padding:0px">'+
            '<input type="text" name="date_ltr_'+value+'[]" class="form-control" />'+
            '</div>'+
            '<div class="mobile_display_none"><a style="position:absolute; padding:7px" href="javascript:;" onclick="$(\'#product_item_'+product_counter+'\').remove();">'+
            '<i class="fa fa-minus-circle fa-lg" style="color:Red; "></i></a>'+
            '</div></div></div></div>'
			);
	 }    
    function add_more_product(){
        product_counter++;
        $('#more_product').append(
        '<div  id="product_item_'+product_counter+'">'+
		    '<div class="form-group">'+
            '<label class="col-lg-3 control-label" >Product Name</label>'+
            '<div class="col-lg-9" >'+
			'<div class="col-lg-9" style="padding:0px">'+
		   '<select name="product['+product_counter+']" class="required dropdown form-control">'+
            '<option value="">Select One</option>'+
            '<?php foreach ($this->products as $product): ?>'+
                '<option value="<?php echo $this->escape($product['id']); ?>"><?php echo $this->escape($product['product']); ?></option>'+
                '<?php endforeach; ?>'+
            '</select>'+
			'</div>'+
			'<div class="col-md-1">'+
            ' Ltr </div>'+
			'<div class="col-md-2" style="padding:0px">'+
            '<input type="text" name="ltr['+product_counter+']" class="required text_input form-control" />'+
            '</div>'+
            '<a style="position:absolute" href="javascript:;" onclick="$(\'#product_item_'+product_counter+'\').remove();">'+
            '<img src="/pic/remove.png" />'+
    
            '</div></div></div>'
    );
    }
	function show_visited_extra_info(value , type){
		
		//alert(value);
		$('#date_visited_'+value).val($('#date_visited_'+value).is(':checked'));
		//product_counter++;
		if($('#date_visited_'+value).is(':checked')){		
			$('.block_booking_extra_info_'+value).show();
			$('.block_booking_extra_info_'+value).find('input[type=text]').addClass('required');			
			$('.block_booking_extra_info_'+value).find('select').addClass('required');			
			}else{
			$('.block_booking_extra_info_'+value).find('.required').removeClass('required');	
			$('.block_booking_extra_info_'+value).hide();
		}
		
			//alert('Is checked');
		/*	
		if(type == 'first_date'){
			var job_start = $('#stpartdate').val() +' '+ $('#stparttime').val();
			var job_finish = $('#etpartdate').val() +' '+ $('#etparttime').val();
		}else{
			var job_start = $('#stpartdate_'+product_counter).val() +' '+ $('#stparttime_'+product_counter).val();
			var job_finish = $('#etpartdate_'+product_counter).val() +' '+ $('#etparttime_'+product_counter).val();
			
			if(job_start == 'undefined undefined' || job_finish == 'undefined undefined'){
				job_start = '';
				job_finish = '';
			}
		}
			
		
		
			 
		$('#block_booking_extra_info_box').append('<hr/><div class="block_booking_extra_info_'+value+'" style=""><div class="extra_field"><div class="form-group"><label class="col-lg-3 control-label" >Onsite Client Name</label><div class="col-lg-9" ><input MaxLength="200" class="form-control" id="onsite_client_name_'+value+'" name="onsite_client_name_'+value+'"  type="text" value="" /></div></div><div class="form-group"><label class="col-lg-3 control-label" >Job Start Time</label><div class="col-lg-9" ><div class="input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span><input MaxLength="200" class=" text_input form-control" id="job_start_time_'+value+'"  name="job_start_time_'+value+'"  type="text" value="'+job_start+'" /></div></div></div><div class="form-group"><label class="col-lg-3 control-label" >Job Finish Time</label><div class="col-lg-9" id="date_salim"><div class="input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span><input MaxLength="200" class="form-control" id="job_finish_time_'+value+'" name="job_finish_time_'+value+'"   type="text" value="'+job_finish+'" /></div></div></div></div>'+'<?php if ($this->products): ?>'+'<div  id="product_item_'+value+'">'+'<div class="form-group"><label class="col-lg-3 control-label" >Product Name</label><div class="col-lg-9" ><div class="col-lg-9" style="padding:0px"><select name="date_product['+value+']"  class="form-control required dropdown"><option value="">Select One</option>'+'<?php foreach ($this->products as $product): ?>'+'<option value="<?php echo $this->escape($product['id']); ?>"><?php echo $this->escape($product['product']); ?></option><?php endforeach; ?></select></div><div class="col-md-1">Ltr</div><div class="col-md-2" style="padding:0px">   <input type="text" name="date_ltr['+value+']" class="required form-control" value="" />   </div><div class="calender_txt_input"><a style="position:absolute" href="javascript:;" "onclick="$(\'#product_item_'+value+'\').remove();">'+'<img src="/pic/remove.png" /></a></div></div></div></div><?php endif; ?><div id="more_product_'+value+'"></div><div class="row"><div class="col-md-9 col-md-offset-3"><a href="javascript:;" onclick="add_more_product_with_value('+value+');"><label>add More Product</label></a></div></div><br/><div class="form-group"><label class="col-md-3 control-label"> Extra Comments</label><div class="col-md-9"><textarea class="long_text btextarea form-control" id="extra_comments_'+value+'" name="extra_comments_'+value+'"></textarea></div></div><hr/></div>');
			
			$('#job_finish_time_'+value+' , #job_start_time_'+value+'').datetimepicker({
				format:'D-M-YYYY LT'
			});
			 */
			 
			
	}
	 
	 
    
    function add_more_time(){
        time_counter++;
		var title_count = time_counter;
	
		title = visits_arr[title_count++];
		
        $('#multiple_days').append(
		'<div class="ibox float-e-margins" >'+
		'<div class="ibox-title">'+title+'</div>'+
		'<div class="ibox-content">'+
		'<div id="multiple_day_'+time_counter+'">'+
         '<div class="form-group"><div class="row">'+
		 '<label class="col-lg-2 control-label">More Time</label>'+
		 '<div class="col-md-6" style="padding-left: 22px;">'+
			'<label for="isAllDayEvent_'+time_counter+'" class="checkup">'+
                            '<input id="isAllDayEvent_'+time_counter+'" onchange="changeIsAllDayEvent('+time_counter+');" name="multi_new_isAllDayEvent['+time_counter+']" type="checkbox" value="1" />'+ 
                            ' All Day Event'+
                            '</label>'+
							'<a href="javascript:;" onclick="$(\'#multiple_day_'+time_counter+'\').parents(\'.ibox\').remove();" class="pull-right" style="margin-right:22px;">'+
                            '<img src="/pic/remove.png" />'+
                            '</a></div></div>'+
							'<div class="row">'+
				             '<div class="col-lg-2"></div>'+
				                '<div class="col-lg-6" >'+
								'<div class="row" style="margin:0px">'+
					 '<div class="col-md-6" id="date'+time_counter+'">'+
                      '<div class="input-group date">'+
                           '<span class="input-group-addon"><i class="fa fa-calendar"></i></span>'+	  
            '<input MaxLength="10" class="required date text_input more_stpartdate more_ends_before_starts form-control" onchange="changeStpartdate('+time_counter+');" id="stpartdate_'+time_counter+'" name="multi_new_stpartdate['+time_counter+']"   type="text" value="" />'+

		                   '</div></div>'+
						   '<div class="col-md-6" id="startTimeDiv">'+
             '<div class="input-group clockpicker'+time_counter+'" data-placement="bottom" data-align="top" data-autoclose="true">'+
			 '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>'+
                         '<input MaxLength="5"  class="required time text_input more_stparttime form-control" onchange="changeStparttime('+time_counter+');" id="stparttime_'+time_counter+'" name="multi_new_stparttime['+time_counter+']"   type="text" value="" />'+
			 
                    '</div></div>'+
			'<div class="col-md-12">To</div>'+
			'<div class="row" style="margin:0px">'+
				'<div class="col-md-6" id="date'+time_counter+'">'+
                      '<div class="input-group date">'+
                          '<span class="input-group-addon"><i class="fa fa-calendar"></i></span>'+	  
            '<input MaxLength="10" class="required date text_input more_etpartdate form-control" id="etpartdate_'+time_counter+'" name="multi_new_etpartdate['+time_counter+']"   type="text" value="" />'+

		                  '</div>'+
					 '</div>'+
					 '<div class="col-md-6" id="endTimeDiv">'+
             '<div class="input-group clockpicker'+time_counter+'" data-placement="bottom" data-align="top" data-autoclose="true">'+
			 '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>'+
            '<input MaxLength="5" class="required time text_input more_etparttime form-control" id="etparttime_'+time_counter+'" name="multi_new_etparttime['+time_counter+']"   type="text" value="" />'+
			 			 
                    '</div></div></div>'+
					
					 '<div class="row Attended_'+time_counter+'" style="margin:0px; " >'+
                                                '<div class="col-md-6"></div>'+
												'<div class="col-md-4 col-md-offset-2 date_visited_icon pull-right" style="padding-top: 10px; ">'+
												'<label for="date_visited" class="checkup date_is_visited" style="align: right;" >  Attended </label>'+
												'<div class="switch"  style="float: right; padding-left: 10px; " >'+
												    '<div class="onoffswitch">'+
													  '<input  name="is_visited" type="checkbox" checked="true" class="onoffswitch-checkbox" id="date_visited_'+time_counter+'" onchange="show_visited_extra_info('+time_counter+', \'multi_date\')" value="true">'+
													   '<label class="onoffswitch-label" for="date_visited_'+time_counter+'">'+
													   '<span class="onoffswitch-inner"></span>'+
													   '<span class="onoffswitch-switch"></span>'+
													  '</label></div></div></div></div>'
													 +'</div></div></div></div>'+
				

				'<div class="block_booking_extra_info_'+time_counter+'">'+
		'<div class="extra_field">'+
			'<div class="form-group">'+
				'<label class="col-md-2 col-xs-2 control-label">'+
					'<i class="fa fa-user fa-lg onsite_client_icon"></i>'+
				'</label>'+
				'<div class="col-md-6 col-xs-10">'+
					'<input placeholder="Onsite Client Name" maxlength="200" class="form-control required " id="onsite_client_name_new['+time_counter+']" name="onsite_client_name_new['+time_counter+']" type="text" value="">'+
				'</div>'+
			'</div>'+
								
											
								
			'<div class="form-group">'+
				'<label class="col-md-2 control-label">Check-In Time</label>'+
					'<div class="col-md-6">'+
						'<div class="input-group date">'+
							'<span class="input-group-addon">'+
								'<i class="fa fa-calendar"></i>'+
							'</span>'+
							'<input maxlength="200" class="required text_input form-control dateTime'+time_counter+'" id="job_start_time_new['+time_counter+']" name="job_start_time_new['+time_counter+']" type="text" value="">'+
						'</div>'+
					'</div>'+
			'</div>'+
								
			'<div class="form-group">'+
				'<label class="col-md-2 control-label">Check-Out Time</label>'+
					'<div class="col-md-6" id="date_salim">'+
						'<div class="input-group date">'+
							'<span class="input-group-addon">'+
								'<i class="fa fa-calendar"></i>'+
							'</span>'+
							'<input maxlength="200" class="required  form-control dateTime'+time_counter+'" id="job_finish_time_new['+time_counter+']" name="job_finish_time_new['+time_counter+']" type="text" value="">'+
							'</div>'+
						'</div>'+
					'</div>'+
			'</div>'+
			
			
			'<div class="col-md-12  products_fieldset no_padding" style="margin-bottom:20px;">'+
				'<div class="col-md-12 Products_mobile">'+
					'<div class="col-md-9  col-xs-9 products">'+
						'<span><b><i class="fa fa-dropbox">&nbsp;</i>Products Used</b></span>'+
					'</div>'+
					'<div class="add_product_form_mobile col-md-3 col-xs-3">'+
						'<a onclick="add_more_product_with_value('+time_counter+');">'+
							'Add'+
						'<i class="fa fa-plus"></i>'+
						'</a>'+
					'</div>'+
				'</div>'+
			'<div class="clearfix"></div>'+
				'<fieldset class="col-md-8">'+
				'<legend style="width:auto !important; border-bottom:0px" class="display_mobile_none">Products</legend>'+
					'<div id="product_item_'+time_counter+'">'+
						'<div class="form-group">'+
							'<label class="col-md-3 control-label">Product Name</label>'+
							'<div class="col-md-9">'+
							'<div class="col-md-8 col-xs-11" style="padding:0px">'+
								'<select name="date_product_new_'+time_counter+'[]" class="required form-control dropdown">'+
									'<option value="">Select One</option>'+	
									'<?php foreach ($this->products as $product): ?>'+
									'<option value="<?php echo $this->escape($product['id']); ?>"><?php echo $this->escape($product['product']); ?></option>'+
									'<?php endforeach; ?>'+
								'</select>'+
							'</div>'+											
							'<div class="col-md-1 col-xs-6" style="text-align:right; padding:7px;">'+
								'<label class="control-label">Ltr</label>'+
							'</div>'+
							'<div class="col-md-2 col-xs-4" style="padding:0px">'+
								'<input type="text" name="date_ltr_new_'+time_counter+'[]" class="required form-control" value="">'+
							'</div>'+
							'</div>'+
						'</div>'+
					'</div>'+
					'<div id="more_product_13158"></div>'+
								
					'<div class="row add_more_product_btn">'+
						'<div class="col-md-12">'+
							'<a onclick="add_more_product_with_value('+'13158'+');">'+
								'<label class="btn btn-primary col-md-12"><i class="fa fa-plus">&nbsp;</i>Add More Product</label>'+
							'</a>'+
						'</div>'+
					'</div>'+
					'<br>'+
					'</fieldset>'+
			'</div>'+
					
					'<div class="form-group">'+
						'<label class="col-md-2 control-label"> Extra Comments</label>'+
							'<div class="col-md-6">'+
								'<textarea class="long_text btextarea form-control" id="extra_comments_new['+time_counter+']" name="extra_comments_new['+time_counter+']">'+													'</textarea>'+
							'</div>'+
					'</div>'+
				'</div>'+
					'</div></div></div>'

		);
        
        $('#date'+time_counter+' .input-group.date').datepicker({
                todayBtn: "linked",
				todayHighlight: true,
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'dd/mm/yyyy'
            });	
       $('.clockpicker'+time_counter).clockpicker();
		$('.dateTime'+time_counter).datetimepicker({
			format:'D-M-YYYY LT'
		});
        
    }
    
	
	
	
	
    function changeIsAllDayEvent(counter){
        if ($("#isAllDayEvent_"+counter).is(':checked')) {
            
            $("#stparttime_"+counter).val("00:00").parents('#startTimeDiv').hide();
            $("#etparttime_"+counter).val("00:00").parents('#endTimeDiv').hide();
            
        } else {
            var d = new Date();
            var p = 60 - d.getMinutes();
            if (p > 30) p = p - 30;
            d = DateAdd("n", p, d);
            $("#stparttime_"+counter).val(getHM(d)).parents('#startTimeDiv').show();
            $("#etparttime_"+counter).val(getHM(DateAdd("h", 3, d))).parents('#endTimeDiv').show();
        }
    }
	
	function IsAllDayEventChecked(){
        if ($("#IsAllDayEvent").is(':checked')) {
            
            $("#stparttime").val("00:00").parents('#startTimeDiv').hide();
            $("#etparttime").val("00:00").parents('#endTimeDiv').hide();
            
        } else {
            var d = new Date();
            var p = 60 - d.getMinutes();
            if (p > 30) p = p - 30;
            d = DateAdd("n", p, d);
            $("#stparttime").val(getHM(d)).parents('#startTimeDiv').show();
            $("#etparttime").val(getHM(DateAdd("h", 3, d))).parents('#endTimeDiv').show();
        }
    }
    function getCurrentDate(){	  
	    var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();

		if(dd<10) {
			dd='0'+dd
		} 
		if(mm<10) {
			mm='0'+mm
		} 
		today = dd+'/'+mm+'/'+yyyy;
		return today;
	}
    
	
	function changeStpartdate(counter){
        var stpartdate = $("#stpartdate_"+counter).val();
		var current_date = getCurrentDate();
		if(stpartdate > current_date){
		  $('.block_booking_extra_info_'+counter).hide();
		  $('.Attended_'+counter).hide();
		}else{
		  $('.block_booking_extra_info_'+counter).show();
		  $('.Attended_'+counter).show();
		}
        if(stpartdate){
                                
            var startTime = $("#stparttime_"+counter).val();
            var endTime = $("#etparttime_"+counter).val();
            if(endTime < startTime){               
				var start = stpartdate.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3"); 
                var mydate= new Date(start);
                var year=mydate.getFullYear();
                var month=mydate.getMonth()+1;
                var day=mydate.getDate()+1
                $("#etpartdate_"+counter).val(day+"/"+month+"/"+year);

            }else{             
                $("#etpartdate_"+counter).val(stpartdate);
            }
        }
    }
    
    function changeStparttime(counter){
        var stparttime = $("#stparttime_"+counter).val();
            
        var stpartdate = $("#stpartdate_"+counter).val();

        if(stparttime){
            if(stpartdate) {
			    var start = stpartdate.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3"); 
                var start_addHours = new Date(start+' '+stparttime).addHours(3);
                $("#etparttime_"+counter).val(dateFormat(start_addHours,"HH:MM"));
                $("#etpartdate_"+counter).val(dateFormat(start_addHours,'dd/mm/yyyy'));
            } else {
                $("#etparttime_"+counter).val(stparttime);
            }
        }
    }

    //
    //fun call when any service removed
    //
    function removeService(service){
        //if(confirm("are you sure you wont delete this service?")){
        $('#service_checked_'+service).remove();
        
        selected_service[service]='';        
        total_qoute[service]=0;
                
        var sub_qoute = 0;
        for(x in total_qoute){
            sub_qoute = sub_qoute + total_qoute[x];
        }
        $('#sub_total').val(sub_qoute.toFixed(2));
        
        var total_discount = getFloatNumber('total_discount');
        var call_out_fee = getFloatNumber('call_out_fee');
        
        var total = ((sub_qoute+call_out_fee)-total_discount);
        $('#total_qoute').val((total*total_gst_tax).toFixed(2));
        $('#gst').val((total*gst_tax).toFixed(2));
        //}
    }
    
    function changeIsMinPrice(checkbox_id,id){
        if($('#'+checkbox_id).is(':checked')){
            $('#'+id).val(1);
        } else {
            $('#'+id).val(0);
        }
    }

    //
    //fun call when any quantity service fill
    //
    function countServicePrice(service_id,clone){
        clone = typeof(clone) != 'undefined' ? clone : 0;
  
        var service = 0;
        
        if(clone){   
            service = service_id+'_'+clone;
        } else {
            service = service_id;
        }
        
        var min_price = $('#min_'+service).val();
        
        changeIsMinPrice('checkbox_consider_min_price_'+service,'consider_min_price_'+service);
        var consider_min_price = $('#consider_min_price_'+service).val();
                
        $('#total_'+service).html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'countServicePrice')); ?>",
            data: $('#fmEdit').serialize()+"&service_id="+service_id+"&clone="+clone,
            success: function(msg) {
                $('#total_'+service).html(parseFloat(msg).toFixed(2));

                if(parseFloat(msg) < parseFloat(min_price) && consider_min_price == 1){
                    $('#min_price_total_'+service).html(parseFloat(min_price).toFixed(2));
                    total_qoute[service] = parseFloat(min_price);
                    $('#total_'+service).css('background-color','rosybrown');
                }else{
                    $('#min_price_total_'+service).html(parseFloat(msg).toFixed(2));
                    total_qoute[service] = parseFloat(msg);
                    $('#total_'+service).css('background-color','white');
                }

                var sub_qoute = 0;
                for(x in total_qoute){
                    sub_qoute = sub_qoute + total_qoute[x];
                }
                $('#sub_total').val(sub_qoute.toFixed(2));
                
                var total_discount = getFloatNumber('total_discount');
                var call_out_fee = getFloatNumber('call_out_fee');
        
                var total = ((sub_qoute+call_out_fee)-total_discount);
                $('#total_qoute').val((total*total_gst_tax).toFixed(2));
                $('#gst').val((total*gst_tax).toFixed(2));
            }
        });
    }
    
    //
    //changeTotalQoute
    //
    function changeTotalQoute(){
        var sub_qoute = getFloatNumber('sub_total');
        var total_discount = getFloatNumber('total_discount');
        var call_out_fee = getFloatNumber('call_out_fee');
        
        var total = ((sub_qoute+call_out_fee)-total_discount);
        $('#total_qoute').val((total*total_gst_tax).toFixed(2));
        $('#gst').val((total*gst_tax).toFixed(2));
    }
    
    function getFloatNumber(id){
        return parseFloat($('#'+id).val().replace(',', '')) ? parseFloat($('#'+id).val().replace(',', '')) : 0;
    }
                       
    //
    //select radio customer
    //
	  function select_customer(customer_id, customer_name) {
        if (customer_id) {

            $('#customer_id').val(customer_id);
            $("#auto_customer_id").val(customer_name);
            
            getBookingAddress();
            showEditCustomer();
            $('#customerResultInput').hide();
            $("#popupi").modal('hide');
        }
    }
   
	
	
    function customerSearch(){
        var query = $('#customer-like').val();
        if (query.length >2){
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerSearch')); ?>",
                data: "customer-like="+$('#customer-like').val(),
                success: function(msg) {
                    $('#customerResult').html(msg);
                }
            });
        }else{
            $('#customerResult').html('');
        }
    }
	
function customerSearchInput() {
   
        var query = $('#auto_customer_id').val();
        if (query.length > 2) {
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerSearch')); ?>",
                data: "customer-like=" + $('#auto_customer_id').val(),
                success: function (msg) {
                    $('#customerResultInput').show();
                    $('#customerResultInput').html(msg);
                }
            });
        } else {
            $('#customerResultInput').hide();
            $('#customerResultInput').html('');
        }
    }

    function change_status_bg_color(){
		var e = document.getElementById("bookingStatus");
		var color = e.options[e.selectedIndex].getAttribute('bcolor'); 
			color = color.replace(/;/g,"");
			//color = color.replace(/;\s$/,"");
			//alert(color);
		 $('.top_status_add_edit').css('background-color',''+color+'');
	}
	
	
    function check_booking_status(){
                
        var status_id = $('#bookingStatus').val();
        var stpartdate = $('#stpartdate').val();
        var stparttime = $('#stparttime').val();
        var etpartdate = $('#etpartdate').val();
        var etparttime = $('#etparttime').val();
        ///view check boxes for old dates
		//to_visit
		/*if(in_process == status_id || to_do == status_id ){
			$('.check_box_label').css('display','block');
		}
		*/
						
        $('#booking_status_loading').show().html('<img src="/pic/loading-4.gif">');

        if(status_id) {
            $.ajax({
                url: "<?php echo $this->escape($this->url(array(), 'checkBookingStatus')); ?>",
                dataType:"json",
                data:{
                    status_id : status_id,
                    start : stpartdate+' '+stparttime,
                    end : etpartdate+' '+etparttime,
                    booking_id : <?php echo (!empty($this->event['booking_id']) ? $this->escape($this->event['booking_id']) : '0'); ?>
                },
                success: function(data) {
                    if(data.is_success == '1'){
			 $('#booking_status_extra').find(".ibox-content").html(data.body);
                        $('#block_booking_completed').html(data.body);
                        $('#previous_status_value').val(status_id);

                        //  no display for time  if status is qouted
                        if (quoted == status_id){
                            $('#booking_time').hide();
                        } else {
                            $('#booking_time').show();
                        }
                    
                        if(failed == status_id){
                            $('#call_out_fee').val(callOutFee);
                            $('#call_out_fee_cont').show();
                            
                            var message = 'Note that the default Call out fees value will be added to the invoice, Quantity & Discount values will be set to 0.';
                            confirm_message(message,failed_confirm_return,'Notice');
							
							
                        } else {
                            $('#call_out_fee').val(0);
                            $('#call_out_fee_cont').hide();
                        }
                    } else {
                        popupi_alert('Notice', data.msg);
                        $('#bookingStatus').val($('#previous_status_value').val());
                    }
                    console.log('before recount');
                    //recount Service Price
                    recountServicePrice();
                    
                    $('#booking_status_loading').hide().html('');
                }
            });
				change_status_bg_color();
			
        } else {
            $('#booking_status_loading').hide().html('');
            $('#block_booking_completed').html('');
            $('#previous_status_value').val(0);
            $('#call_out_fee').val(0);
            $('#call_out_fee_cont').hide();
            
            //recount Service Price
            recountServicePrice();
        }
    }
    
    function failed_confirm_return(is_confirm){
		
        if(is_confirm){
            $('#confirmResetAttribut').val(1);
            $('.quantity_attribute').val(0);
            $('.discount_attribute').val(0);
            $('.checkbox_consider_min_price').attr('checked',false);
        } else {
            $('#confirmResetAttribut').val(0);
        }
        
        //recount Service Price
        recountServicePrice();
    }
	
	
    
    function recountServicePrice(){
		console.log('in recountServicePrice ');
        $("[name='services[]']").each(function() {
            var service_clone = $(this).val();
            if(service_clone){
                var service = service_clone.split('_');
                    
                var service_id = service[0];
                var clone = service[1];
                    
                if(clone){
                    countServicePrice(service_id,clone);
                } else {
                    countServicePrice(service_id);
                }
            }
        });
    }
    

    Date.prototype.addHours= function(h){
        this.setHours(this.getHours()+h);
        return this;
    }
    
    $(document).ready(function() {
    
    $('#description').summernote({height: 200,
	 onkeyup: function(e) {
        $("textarea[name='description']").html($("#description").code());
      }});
	  
	  $('.note-insert').hide();

    	  
	
     
		 
    $('#to_follow_picker ').datepicker({
                todayBtn: "linked",
				todayHighlight: true,
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'dd-mm-yyyy'
            });
    
        $('#to_follow').datepicker({
            dateFormat: 'dd-mm-yy',
			todayHighlight: true,
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
        /*$('#job_start_time,#job_finish_time').datetimepicker({
            ampm: true,
            timeFormat: 'hh:mm TT',
            dateFormat: 'dd-mm-yy'
        });*/

        $("#stpartdate").change(function(){
            var stpartdate = $("#stpartdate").val();
			var current_date = getCurrentDate();
			if(stpartdate > current_date){
			  $('.block_booking_extra_info_'+bookingId).hide();
			   $('.Attended_'+bookingId).hide();
			}else{
			  $('.block_booking_extra_info_'+bookingId).show();
			   $('.Attended_'+bookingId).show();
			}
            if(stpartdate){
                var startTime = $("#stparttime").val();
                var endTime = $("#etparttime").val();
                if(endTime < startTime){
                    
                    var start = stpartdate.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3");
                    var mydate= new Date(start);
                    var year=mydate.getFullYear();
                    var month=mydate.getMonth()+1;
                    var day=mydate.getDate()+1
					
                    $("#etpartdate").val(day+"/"+month+"/"+year);
					
                }else{             
                    $("#etpartdate").val(stpartdate);
                }
            }
        });

        $("#stparttime").change(function(){
            var stparttime = $("#stparttime").val();
            
            var stpartdate = $("#stpartdate").val();

            if(stparttime){
                if(stpartdate) {
				    var start = stpartdate.replace( /(\d{2})\/(\d{2})\/(\d{4})/, "$2/$1/$3");
                    var start_addHours = new Date(start+' '+stparttime).addHours(3);
                    $("#etparttime").val(dateFormat(start_addHours,"HH:MM"));
                    $("#etpartdate").val(dateFormat(start_addHours,'dd/mm/yyyy'));
                } else {
                    $("#etparttime").val(stparttime);
                }
            }
        });
    });

   
    // auto complete customer search
    /*$(function() {
		
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $("#edit_customer" ).css('display','none');
                $('#booking_address').css('display','none');
                
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
                //
                // get Booking Address
                //
                getBookingAddress();
                showEditCustomer();
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });*/
    
    
    function check_is_to_follow(is_to_follow){
        if($(is_to_follow).is(':checked')){
            $('#to_follow').addClass('required');
            $('#deferred_date_cont').show();
           
        } else {
            $('#to_follow').removeClass('required');
            $('#deferred_date_cont').hide();
            
        }
    }
      
   

</script>