<?php
$modelServices = new Model_Services();
$modelContractorService = new Model_ContractorService();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelBookingStatus = new Model_BookingStatus();
?>
<?php if ($this->errorMessages): ?>
                <div class="col-md-12" style="color: red;">
                    <?php foreach ($this->errorMessages as $errorMessage): ?>
                        <div><?php echo $errorMessage; ?></div>
                    <?php endforeach; ?>
                </div>
<?php endif; ?>
<div class="ibox float-e-margins" style="margin-top:25px;">
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-5">
            	  <?php If (isset($this->fromEstimate) && $this->fromEstimate): ?>
                    <h3>
                        Edit Estimate
                    </h3>
                <?php else: ?>
                    <h3>
                        Edit Booking
                    </h3>
                <?php endif; ?>
            </div>
            <div class="col-md-7 ">
            </div>
         </div>
         <div class="row">
        	<div class="col-md-8">         
                 <nav>
				 
				     <a  class="btn  btn-white" id="Closebtn" href="<?php echo isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '' ?>"><i class="fa fa-long-arrow-left"></i>&nbsp;Back</a>
					 
					 
				        <?php if (CheckAuth::checkCredential(array('bookingDelete'))): ?>
                            <a class="btn  btn-danger" id="Deletebtn" href="#" onclick="return confirm('are you sure you want to delete this Estimate?');">Delete</a>
						<?php endif; ?>
                
						<?php if ($this->is_temp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
							<a  class="btn  btn-white" id="Closebtn" href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreAll')); ?>">Ignore All Changes</a>
						<?php endif; ?>
						<span id="save_btn_cont">
						<a  class="btn  btn-white"  href="javascript:void(0);" onclick="save_booking(); return false;" class="btn_a"><i class="fa fa-check "></i>&nbsp;Save</a>
						</span>
						<a  class="btn  btn-white" href="#" data-toggle="modal" data-target="#popupi" onclick="NearestBooking2('Nearest Booking')">Nearest Booking</a>
						<a  class="btn  btn-white" href="#" data-toggle="modal" data-target="#popupi" onclick="find_availability2('Find Availability')">Find Availability</a>
                </nav>
            
           
            </div>
      </div>
</div>
</div>
   <form action="<?php echo $this->escape($this->url(array(), 'copyBooking')); ?>" class="form-horizontal" id="fmEdit" method="post">
                    <input type="hidden" id="booking_id" name="booking_id" value="<?php echo $this->escape(isset($this->event['booking_id']) ? $this->event['booking_id'] : "" ) ?>" />
					<input type="hidden" name="inquiry_id" value="<?php echo $this->escape(isset($this->event['inquiry_id']) ? $this->event['inquiry_id'] : "" ) ?>" />
                    <input type="hidden" name="toEstimate" value="<?php echo $this->escape(isset($this->toEstimate) ? $this->toEstimate : 0 ) ?>" />
                   
<div class="ibox no-margin-b">
      <div class="ibox-content">
	    <div class="row">
				<div class="col-md-12">
							<div class="form-group">
									<label class="col-md-2 control-label">Select customer</label>
									<div class="col-md-10">
									
									<div class="input-group col-md-7">
										<?php if ($this->canEditDetails): ?>
                                            <input type="text" id="auto_customer_id" class="edit-form-search autocomplete_search form-control" value="<?php echo $this->escape($this->customer_name ? $this->customer_name : '') ?>"/>
                                            <input type="hidden" id="customer_id" name="customer_id" class="text_input required" value="<?php echo $this->escape(isset($this->event['customer_id']) && !empty($this->event['customer_id']) ? $this->event['customer_id'] : '') ?>" />
                                        <?php else: ?>
										
                                            <?php
                                            $customerId = $this->escape(isset($this->event['customer_id']) ? $this->event['customer_id'] : 0);

                                            $modelCustomer = new Model_Customer();
                                            $customer = $modelCustomer->getById($customerId);
                                            ?>
											
                                         <input class="text_input form-control" readonly="readonly" style="background-color: lightgray;" type="text" value="<?php echo $this->escape(get_customer_name($customer)); ?>" />
                                        <?php endif; ?>
										 <span class="input-group-btn">
											  <?php if ($this->canEditDetails): ?>
														
												<a style="line-height: 1.33;padding:8px 12px;" class="btn btn-m btn-primary "  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Customer list','<?php echo $this->escape($this->url(array(), 'dropDownCustomerList')); ?>');">
												<i class="fa fa-search"></i>
												</a>
											 <?php endif; ?>
										 </span>
									</div>
									
									
									<div>
										<ul class="inline-list">
										  <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                                             	<li>            <a href="#" data-toggle="modal" data-target="#popupi"onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');">new customer</a>
												&nbsp;
												</li>
										 <?php endif; ?>
                                          <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                                               <li> <a href="#" data-toggle="modal" id="edit_customer" data-target="#popupi" onclick="editCustomer();" style="display: <?php if (isset($this->event['customer_id']) && $this->event['customer_id']): ?>block<?php else: ?>none<?php endif; ?>;" >
														edit customer</a>
												</li>
										 <?php endif; ?>
										</ul>
									</div>
									
									
									
									</div>	
							</div>	
				</div>
		</div>
	</div>
	
	     <div class="ibox-content">
			<div class="row">
				<div class="col-md-8">
				
				
						 <div class="form-group">
							<label class="col-md-3 control-label">Unit / Lot No.</label>
							<div class="col-md-9">
							<input class="text_input form-control" name="unit_lot_number"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['unit_lot_number']) ? $this->bookingAddress['unit_lot_number'] : "") ?>" />
							</div>
						 </div>
						
						
						 <div class="form-group">
							<label class="col-md-3 control-label">Street Number</label>
							<div class="col-md-9">
							<input class="form-control" name="street_number" type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_number']) ? $this->bookingAddress['street_number'] : "") ?>" /> 
							</div>
						</div>
						
						
						<div class="form-group">
							<label class="col-md-3 control-label">Street Name</label>
							<div class="col-md-9">
							<input class="text_input required form-control" name="street_address"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_address']) ? $this->bookingAddress['street_address'] : "") ?>" />
                             
							</div>
						</div>
						
						
						
						<div class="form-group">
							<label class="col-md-3 control-label">Suburb</label>
							<div class="col-md-9">
							<input class="text_input required form-control" name="suburb"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['suburb']) ? $this->bookingAddress['suburb'] : "") ?>" />
                              
							</div>
						</div>
						
						
						<div class="form-group">
							<label class="col-md-3 control-label">Post code</label>
							<div class="col-md-9">
							 <input class="text_input required form-control" name="postcode"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['postcode']) ? $this->bookingAddress['postcode'] : "") ?>" />
                              
							</div>
						</div>
						
						
						<div class="form-group">
							<label class="col-md-3 control-label">P.O. box</label>
							<div class="col-md-9">
							 <input class="text_input form-control" name="po_box"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['po_box']) ? $this->bookingAddress['po_box'] : "") ?>" />
							</div>
						</div>
						
						
						<?php if ($this->isTempAddress && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
							<div class="form-group">
								<div class="col-md-9 col-md-offset-3">
									<a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreBookingAddress')); ?>" >Ignore Address Changes</a>
								</div>
							</div>
						<?php endif ?>
						
						
						
						<div class="form-group">
									<label class="col-md-3 control-label">Booking Status</label>
									<div class="col-md-9">
											
										<select class="required dropdown form-control" id="bookingStatus" onchange="check_booking_status();" name="bookingStatus">
												<option value="">Select One</option>
												<?php foreach ($this->bookingStatus as $status): ?>
													<option value="<?php echo $this->escape($status['booking_status_id']); ?>" <?php echo $this->escape(isset($this->event['status_id']) ? ($this->event['status_id'] == $status['booking_status_id'] ? "selected" : "") : ""); ?>><?php echo $this->escape($status['name']); ?></option>
												<?php endforeach; ?>
										</select>
										  <span  id="booking_status_loading"></span>
									</div>
						</div>
						
						
						<input id="previous_status_value" name="previous_status_value" type="hidden" value="<?php echo $this->escape($this->event['status_id']) ?>" />
						
						
						
						<!----<div class="form-group">
							<label class="col-md-3 control-label">Title</label>
							<div class="col-md-9">
								   <?php //if ($this->canEditDetails): ?>
                                    <input  readonly="readonly" MaxLength="200" id="auto_booking_title" class="text_input form-control" style="display:<?php //echo $this->escape(isset($this->event['title']) && $this->event['title'] ? 'none' : 'block') ?>;" onfocus="$('#booking_title').css('display','block');$('#auto_booking_title').css('display','none');$('#booking_title').focus();" type="text" value="will be auto Generated" />
                                    <input  readonly="readonly" MaxLength="200" id="booking_title" class="text_input form-control" name="title"  style="display:<?php //echo $this->escape(isset($this->event['title']) && $this->event['title'] ? 'block' : 'none') ?>;" onblur="if(!$('#booking_title').val()){$('#auto_booking_title').css('display','block');$('#booking_title').css('display','none');}" type="text" value="<?php //echo $this->escape(isset($this->event['title']) ? $this->event['title'] : "") ?>" />
                                <?php //else: ?>
                                    <input MaxLength="200" readonly="readonly" class="text_input form-control" id="Subject" type="text" value="<?php //echo $this->escape(isset($this->event['title']) ? $this->event['title'] : "") ?>" />
                                <?php //endif; ?>
							</div>
						</div>---->
						     <?php /*
                          <div class="margin_t_5">
                          <div class="calender_info_txt_cont">Invoice#</div>
                          <div class="calender_txt_input">
                          <input MaxLength="200" id="auto_invoice" class="text_input" style="width: 200px; color: gray; display:<?php echo $this->escape(isset($this->event['invoice_num']) && $this->event['invoice_num'] ? 'none' : 'block') ?>;" onfocus="$('#invoice_num').css('display','block');$('#auto_invoice').css('display','none');$('#invoice_num').focus();" type="text" value="will be auto Generated" />
                          <input MaxLength="200" id="invoice_num" class="text_input" name="invoice_num"  style="width: 200px; display:<?php echo $this->escape(isset($this->event['invoice_num']) && $this->event['invoice_num'] ? 'block' : 'none') ?>;" onblur="if(!$('#invoice_num').val()){$('#auto_invoice').css('display','block');$('#invoice_num').css('display','none');}" type="text" value="<?php echo $this->escape(isset($this->event['invoice_num']) ? $this->event['invoice_num'] : "") ?>" />
                          </div>
                          <div style="clear: both;"></div>
                          </div>

                          <div class="margin_t_5" style="display:<?php echo $this->escape(isset($this->estimate['estimate_num']) && $this->estimate['estimate_num'] ? 'block' : 'none') ?>;">
                          <div class="calender_info_txt_cont">Estimate#</div>
                          <div class="calender_txt_input">

                          <input id="estimate_num" class="text_input" name="estimate_num"  style="width: 200px;" value="<?php echo $this->escape(isset($this->estimate['estimate_num']) && $this->estimate['estimate_num'] ? $this->estimate['estimate_num'] : '') ?>"/>
                          <!--  <input MaxLength="200" id="auto_estimate" class="text_input" style="width: 200px; color: gray; display:<?php echo $this->escape(isset($this->event['estimate_num']) && $this->event['estimate_num'] ? 'none' : 'block') ?>;" onfocus="$('#estimate_num').css('display','block');$('#auto_estimate').css('display','none');$('#estimate_num').focus();" type="text" value="will be auto Generated" />
                          <input MaxLength="200" id="estimate_num" class="text_input" name="estimate_num"  style="width: 200px; display:<?php echo $this->escape(isset($this->event['estimate_num']) && $this->event['estimate_num'] ? 'block' : 'none') ?>;" onblur="if(!$('#estimate_num').val()){$('#auto_estimate').css('display','block');$('#estimate_num').css('display','none');}" type="text" value="<?php echo $this->escape(isset($this->event['estimate_num']) ? $this->event['estimate_num'] : "") ?>" /> -->
                          </div>
                          <div style="clear: both;"></div>
                          </div>
                         */ ?>
						 <?php $quoted = $modelBookingStatus->getByStatusName('QUOTED'); ?>
						  <div id ="booking_time" style="display: <?php echo $this->escape($this->event['status_id'] == $quoted['booking_status_id'] ? 'none' : 'block') ?>">
                          	
							   <div class="form-group" style="display: block">
										  <div class="row">
										  <label class="col-lg-3 control-label"> Time</label>
										  <div class="col-md-9" style="padding-left: 22px;">
											  <label for="IsAllDayEvent" class="checkup">
																				<input id="IsAllDayEvent" name="isAllDayEvent" type="checkbox" value="1" onchange="IsAllDayEventChecked();"> 
													All Day Event
													</label>
											 </div>
										  </div>
										  
										  <div class="row">
												<div class="col-lg-3"></div>
												<div class="col-lg-9" style="padding-left: 22px;padding-right: 32px;">
                                    <?php if ($this->canEditDetails): ?>
                                        <?php
                                        if (isset($this->event)) {
                                            if ($this->event['booking_start']) {
                                                $sarr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_start'])));
                                            }
                                            if ($this->event['booking_end']) {
                                                $earr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_end'])));
                                            }
                                        } else {
                                            $sarr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
                                            $earr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
                                        }
                                        ?>
                                      	<div class="row add-booking">
					
					
					<div class="row" style="margin:0px">
					 <div class="col-md-6" id="date11">
                      <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
            					    <input MaxLength="10" readonly class="required date text_input ends_before_starts sdatepicker form-control" id="stpartdate" name="stpartdate"  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />  
		                   </div>
					 </div>
					 
					 <script type="text/javascript">
    $(document).ready(function() {
	$('#date11 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'mm/dd/yyyy'
            });	
    });
</script>
					 
					  <div class="col-md-6" id="startTimeDiv">
			            <div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
				<input MaxLength="5" readonly class="required time text_input stimepicker form-control" id="stparttime" name="stparttime"  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />                     
				
                    </div>
				</div>
			</div>
					 
			<script type="text/javascript">
                  $('.clockpicker1').clockpicker();
                </script>
				 <div class="col-md-12">To</div>
					 <div class="row" style="margin:0px">
					    <div class="col-md-6" id="date2">
                      <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
					    <input MaxLength="10" readonly class="required date text_input sdatepicker form-control" id="etpartdate" name="etpartdate"  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />

		                   </div>
					 </div>
					 <div class="col-md-6" id="endTimeDiv">
			           <div class="input-group clockpicker2" data-placement="bottom" data-align="top" data-autoclose="true">
					         <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                             <input MaxLength="5" readonly class="required time text_input stimepicker form-control" id="etparttime" name="etparttime"  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />
                             
                    </div>
					 </div>
					 
					 
                <script type="text/javascript">
                  $('.clockpicker2').clockpicker();
                </script>
					 
					 </div>
					  
					 
					 <script type="text/javascript">
    $(document).ready(function() {
	$('#date2 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'mm/dd/yyyy'
            });	
    });
</script>
					 
                  </div>                         
				  
				  
                                    <?php else: ?>
                                        <?php
                                        if (isset($this->event)) {
                                            if ($this->event['booking_start']) {
                                                $sarr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_start'])));
                                            }
                                            if ($this->event['booking_end']) {
                                                $earr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_end'])));
                                            }
                                        } else {
                                            $sarr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
                                            $earr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
                                        }
                                        ?>
                                        <div style="float: left;">
                                            <input MaxLength="10" class="required date text_input" id="stpartdate" name="stpartdate" readonly style="padding-left:2px;width:100px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <input MaxLength="5"  class="required time text_input" id="stparttime" name="stparttime" readonly style="padding-left:2px;width:60px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />
                                        </div>
                                        <div style="color: #9C0000; font-size: 14px; float: left; padding-left: 5px;">
                                            To
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <input MaxLength="10" class="required date text_input" id="etpartdate" name="etpartdate" readonly style="padding-left:2px;width:100px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <input MaxLength="5" class="required time text_input" id="etparttime" name="etparttime" readonly style="padding-left:2px;width:60px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />
                                        </div>
                                      
                                    <?php endif; ?>
                                </div>
                                <div style="clear: both;"></div>
                            </div>

							
							
							
							
							
							
							
							
							
							
							
							
                            <div id="multiple_days">
                                <?php if (count($this->multipleDays)): ?>
                                    <?php foreach ($this->multipleDays as $key => $multipleDay): ?>
                                        <?php
                                        $sarr = explode(" ", php2JsTime(mySql2PhpTime($multipleDay['booking_start'])));
                                        $earr = explode(" ", php2JsTime(mySql2PhpTime($multipleDay['booking_end'])));
                                        ?>
                                        <div id="multiple_day_<?php echo $key + 1; ?>">
                                            <div class="calender_info_txt2_cont">More Time</div>
                                            <div  class="calender_txt_input2">
                                                <div style="float: left;">
                                                    <input MaxLength="10" class="required date text_input more_stpartdate more_ends_before_starts" onchange="changeStpartdate('<?php echo $key + 1; ?>');" id="stpartdate_<?php echo $key + 1; ?>" name="multi_stpartdate[<?php echo $key + 1; ?>]" readonly style="padding-left:2px;width:100px;" type="text" value="<?php echo (isset($sarr[0]) ? $sarr[0] : ""); ?>" />
                                                </div>
                                                <div style="float: left; padding-left: 5px;">
                                                    <input MaxLength="5"  class="required time text_input more_stparttime" onchange="changeStparttime('<?php echo $key + 1; ?>');" id="stparttime_<?php echo $key + 1; ?>" name="multi_stparttime[<?php echo $key + 1; ?>]" readonly style="padding-left:2px;width:60px;" type="text" value="<?php echo (isset($sarr[1]) ? $sarr[1] : ""); ?>" />
                                                </div>
                                                <div style="color: #9C0000; font-size: 14px; float: left; padding-left: 5px;">
                                                    To
                                                </div>
                                                <div style="float: left; padding-left: 5px;">
                                                    <input MaxLength="10" class="required date text_input more_etpartdate" id="etpartdate_<?php echo $key + 1; ?>" name="multi_etpartdate[<?php echo $key + 1; ?>]" readonly style="padding-left:2px;width:100px;" type="text" value="<?php echo (isset($earr[0]) ? $earr[0] : ""); ?>" />
                                                </div>
                                                <div style="float: left; padding-left: 5px;">
                                                    <input MaxLength="5" class="required time text_input more_etparttime" id="etparttime_<?php echo $key + 1; ?>" name="multi_etparttime[<?php echo $key + 1; ?>]" readonly style="padding-left:2px;width:60px;" type="text" value="<?php echo (isset($earr[1]) ? $earr[1] : ""); ?>" />
                                                </div>
                                                <div style="float: left; padding-left: 5px;">
                                                    <label class="checkp">
                                                        <?php $checked = (isset($multipleDay['is_all_day_event']) && $multipleDay['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                                        <input id="isAllDayEvent_<?php echo $key + 1; ?>" class="multi_isAllDayEvent" onchange="changeIsAllDayEvent('<?php echo $key + 1; ?>');" name="multi_isAllDayEvent[<?php echo $key + 1; ?>]" type="checkbox" <?php echo $checked; ?> value="1"/> All Day Event
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="calender_txt_input2">
                                                <a href="javascript:;" onclick="$('#multiple_day_<?php echo $key + 1; ?>').remove();">
                                                    <img src="/pic/remove.png" border="0" style="vertical-align: middle;" />
                                                </a>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>

                          	<div id="multiple_days"></div>
								<div class="form-group">
									
									<div class="col-md-9 col-md-offset-3"><label><a href="javascript:;" onclick="add_more_time();">Add more time</a></label></div>
								</div>
							
							
                        </div>
						
						
						
						
						
						<div class="form-group">
                           
						   <label class="col-md-3 control-label">Country </label>
                            <div class="col-md-9">
                                <?php if ($this->canEditDetails): ?>
                                    <select class="required dropdown form-control" id="country" name="country" onchange="getStateByCountryId();">
                                        <option value="">Select One</option>
                                        <?php foreach ($this->countries as $country): ?>
                                            <option value="<?php echo $this->escape($country['country_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['country_id']) ? ($this->bookingCity['country_id'] == $country['country_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($country['country_name']); ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                <?php else: ?>
                                    <?php
                                    $country_id = $this->escape(isset($this->bookingCity['country_id']) ? $this->bookingCity['country_id'] : 0);
                                    $modelCountries = new Model_Countries();
                                    $country = $modelCountries->getById($country_id);
                                    ?>
                                    <input class="text_input form-control" readonly="readonly" style="background-color: lightgray;" type="text" value="<?php echo $this->escape($country['country_name']); ?>" />
                                <?php endif; ?>
                            </div>
                           
                        </div>
						
						
						
						
						<div  class="form-group" id="display_state" style="<?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>">
                             <label class="col-md-3 control-label">State</label>
                          
                                <div class="col-md-9" id="state_cont">
                                    <?php if ($this->canEditDetails): ?>
                                        <select id="state" class="dropdown form-control" onchange="$('#state').addClass('required');getCitiesByCountryId();" name="state">
                                            <option value="">Select One</option>
                                            <?php foreach ($this->states as $state): ?>
                                                <option value="<?php echo $this->escape($state); ?>" <?php echo $this->escape(isset($this->bookingCity['state']) ? ($this->bookingCity['state'] == $state ? "selected" : "") : ''); ?>><?php echo $this->escape($state); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    <?php else: ?>
                                        <input name="state" class="text_input form-control" readonly="readonly" style="width: 200px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->bookingCity['state']) ? $this->bookingCity['state'] : ''); ?>" />
                                    <?php endif; ?>
                                </div>
                     
						</div>
						
						
						
						<div class="form-group" id="display_city" style="<?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>">
						<label class="col-md-3 control-label">City</label>
					  
							<div class="col-md-9" id="city_cont">
								<?php if ($this->canEditDetails): ?>
									<select id="city_id" class="dropdown form-control" onchange="$('#city_id').addClass('required');getServices();" name="city_id">
										<option value="">Select One</option>
										<?php foreach ($this->cities as $city): ?>
											<option value="<?php echo $this->escape($city['city_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['city_id']) ? ($this->bookingCity['city_id'] == $city['city_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($city['city_name']); ?></option>
										<?php endforeach; ?>
									</select>
								<?php else: ?>
									<?php
									$city_id = $this->escape(isset($this->bookingCity['city_id']) ? $this->bookingCity['city_id'] : 0);
									$modelCities = new Model_Cities();
									$city = $modelCities->getById($city_id);
									?>
									<input class="text_input form-control" readonly="readonly" type="text" value="<?php echo $this->escape($city['city_name']); ?>" />
									<input type="hidden"  id="city_id" name="city_id" value="<?php echo $this->escape($city_id); ?>"/>
								<?php endif; ?>
							</div>
						</div>
						
						
						
						
							
                       <div class="form-group">
                            <label class="col-md-3 control-label">Property Type</label>
                            <div class="col-md-9">
                                <?php if ($this->canEditDetails): ?>
                                    <select id="property_type" class="select_field form-control" name="property_type">
                                        <option value="">Select One</option>
                                        <?php foreach ($this->propertyTypes as $propertyType): ?>
                                            <option value="<?php echo $this->escape($propertyType['id']); ?>" <?php echo $this->escape(isset($this->event['property_type_id']) ? ($this->event['property_type_id'] == $propertyType['id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($propertyType['property_type']); ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                <?php else: ?>
                                    <?php
                                    $property_type_id = $this->escape(isset($this->event['property_type_id']) ? $this->event['property_type_id'] : 0);
                                    $modelPropertyType = new Model_PropertyType();
                                    $property_type = $modelPropertyType->getById($property_type_id);
                                    ?>
                                    <input class="text_input form-control" readonly="readonly" type="text" value="<?php echo $this->escape($property_type['property_type']); ?>" />
                                <?php endif; ?>
                            </div>
                       
                        </div>
						
						
						
						<div id="block_booking_completed" >
                      
						<?php
                        $status_id = isset($this->event['status_id']) ? $this->event['status_id'] : 0;
                        $bookingStatus = $modelBookingStatus->getById($status_id);
                        ?>
                        <?php $productCounter = 0; ?>
                        <?php if (isset($bookingStatus['name']) && ('COMPLETED' == $bookingStatus['name'] || 'FAILED' == $bookingStatus['name'])): ?>
						
							<div class="form-group">
								<label class="col-md-3 control-label">Onsite Client Name</label>
								 <div class="col-md-9">
									<input MaxLength="200" class="required text_input form-control" id="onsite_client_name" name="onsite_client_name"  type="text" value="<?php echo $this->escape(isset($this->event['onsite_client_name']) ? $this->event['onsite_client_name'] : "") ?>" />
								 </div>
						 
							</div>
							
							
							<div class="form-group">
								<label class="col-md-3 control-label">Job Start Time</label>
								 <div class="col-md-9">
									<input MaxLength="200" class="required text_input form-control" id="job_start_time" readonly="readonly" name="job_start_time"  type="text" value="<?php echo $this->escape(isset($this->event['job_start_time']) ? date('d-m-Y h:i A', $this->event['job_start_time']) : date('d-m-Y h:i A', strtotime($sarr[0] . ' ' . $sarr[1]))) ?>" />
								 </div>
							</div>
							
							
							<div class="form-group">
									<label class="col-md-3 control-label">Job Finish Time<</label>
                                     <div class="col-md-9">
                                        <input MaxLength="200" class="required text_input form-control" id="job_finish_time" readonly="readonly" name="job_finish_time"   type="text" value="<?php echo $this->escape(isset($this->event['job_finish_time']) ? date('d-m-Y h:i A', $this->event['job_finish_time']) : date('d-m-Y h:i A', strtotime($earr[0] . ' ' . $earr[1]))) ?>" />
                                  
									</div>
                            </div>
							
							
							<div class="form-group">
									<label class="col-lg-3 control-label">Customer Satisfaction</label>
									<div class="col-lg-9">
											<table align="center" id="satisfaction" class="table table-bordered">
											<tbody><tr>
																	<td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_1">Very Dissatisfied</label></td>
																	<td>
																		<label for="satisfaction_1" style="margin-left: 6px;">1</label>
																	</td>
																	<td>            
																		<label for="satisfaction_2" style="margin-left: 6px;">2</label>
																	</td>
																	<td>            
																		<label for="satisfaction_3" style="margin-left: 6px;">3</label>
																	</td>
																	<td>            
																		<label for="satisfaction_4" style="margin-left: 6px;">4</label>
																	</td>
																	<td>            
																		<label for="satisfaction_5" style="margin-left: 6px;">5</label>
																	</td>
																	<td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_5">Very Satisfied</label></td>
																</tr>
																<tr>
																	<td>
																			<input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 1 ? 'checked="checked"' : '') : ''); ?> class="required" id="satisfaction_1" name="satisfaction" value="1"/>
																   
																	</td>
																	<td>
																			<input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 2 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_2" name="satisfaction" value="2"/>
																	
																	</td>
																	<td>            
																			<input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 3 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_3" name="satisfaction" value="3"/> 
																   
																	</td>
																	<td>            
																		
																			<input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 4 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_4" name="satisfaction" value="4"/> 
																   
																	</td>
																	<td>            
																			<input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 5 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_5" name="satisfaction" value="5"/> 
																	</td>
																</tr>
											</tbody>		
										</table>                          
									</div>
							</div>
							
							 <!-- Product Name -->
				 <?php if ($this->allBookingProduct): ?>
                   <?php foreach ($this->allBookingProduct as $bookingProduct): ?>
		             <div  id="product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>">
					   <div class="form-group">
				  <label class="col-lg-3 control-label" >Product Name</label>
				  <div class="col-lg-9" >
                        <div class="col-lg-6">
						 <select name="product[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]"  class="form-control <?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>dropdown">
								<option value="">Select One</option>
								<?php foreach ($this->products as $product): ?>
								<?php $selected = $bookingProduct['product_id'] == $product['id'] ? 'selected="selected"' : ''; ?>
								<option value="<?php echo $this->escape($product['id']); ?>" <?php echo $this->escape($selected); ?>><?php echo $this->escape($product['product']); ?></option>
								<?php endforeach; ?>
							</select>
						</div>
                        <div class="col-lg-6">
						  &ensp;
							Ltr
							&ensp;
							<input type="text" name="ltr[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="form-control <?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>text_input product_ltr" value="<?php echo $this->escape(isset($bookingProduct['ltr']) ? $bookingProduct['ltr'] : ''); ?>" />
              
						</div>						
			      </div>
				 </div>  
					   <?php if ($productCounter): ?>
              
						<div class="calender_txt_input">
						<a href="javascript:;" onclick="$('#product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>').remove();">
						<img src="/pic/remove.png" /></a>
						</div>
				 
						<?php endif; ?>
					 </div>
					 
					      <?php $productCounter++; ?>
						<?php endforeach; ?>
					<?php endif; ?>                 
					<!-- end-Product Name -->
					
					
					<!-- add more product link-->
					<div id="more_product">
						<!-- more products generated here -->
					</div>
                    

					<!-- end more product link -->
					
					<hr>
						





							<?php if ('COMPLETED' == $bookingStatus['name']): ?>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Extra Comments</label>
                                    <div  class="col-md-9">
                                        <textarea class="long_text form-control" id="extra_comments" name="extra_comments"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <?php if ('FAILED' == $bookingStatus['name']): ?>
                                <div class="form-group"> 
                                    <label class="col-md-3 control-label">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</label>
                                    <div  class="col-md-9">
                                        <textarea class="long_text required" id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                             
                                </div>
                                <input name="confirmResetAttribut" id="confirmResetAttribut" type="hidden" value="0"/>
                            <?php endif; ?>
                        <?php elseif (isset($bookingStatus['name']) && 'TO DO' != $bookingStatus['name'] && 'IN PROGRESS' != $bookingStatus['name'] && 'QUOTED' != $bookingStatus['name']) : ?>
                            <div class="form-group">
                                <div class="calender_slct_customer_txt">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</div>
                                   <div  class="col-md-9">
                                    <textarea class="long_text required form-control"  id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                </div>
                            </div>
							
                        <?php endif; ?>
                        <?php if (isset($bookingStatus['name']) && 'ON HOLD' == $bookingStatus['name']): ?>
                            <div id="deferred_date_cont" class="form-group">
                                 <label class="col-md-3 control-label">To Follow</label>
                                <div class="calender_slct_customer_dropdown col-md-9">
                                    <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required form-control"  readonly="readonly"  value="<?php echo $this->escape(isset($this->event['to_follow']) ? date('d-m-Y', $this->event['to_follow']) : ''); ?>" />
                                </div>
                            </div>
                        <?php elseif (isset($bookingStatus['name']) && 'QUOTED' == $bookingStatus['name']) : ?>
                            <div class="calender_slct_customer_cont extra_field">
                                <div class="button_actions">
                                    <label class="col-md-3 control-label">To Follow</label>
                                    <div class="col-md-9">
                                        <label>
                                            <input name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" <?php echo $this->escape(isset($this->event['is_to_follow']) && $this->event['is_to_follow'] ? 'checked="checked"' : ''); ?>/>
                                            Confirm
                                        </label>
                                    </div>
                                 
                                </div>
                                <div id="deferred_date_cont" class="button_actions" <?php echo isset($this->event['is_to_follow']) && $this->event['is_to_follow'] ? '' : 'style="display: none;"'; ?>>
                                   
                                    <div class="col-md-9 col-md-offset-3">
                                        <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required"  readonly="readonly"  value="<?php echo $this->escape(isset($this->event['to_follow']) ? date('d-m-Y', $this->event['to_follow']) : ''); ?>" />
                                    </div>
                                 
                                </div>
                            </div>

					 <?php endif; ?>	
				</div>
			</div>
		</div>
</div>
                <div class="row">	
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2 control-label">Description</label>
							<div class="col-md-6">
								<?php if ($this->canEditDetails): ?>
									<textarea class="form-control" id="description" name="description" rows="5"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description'] : ""); ?></textarea>
								<?php else: ?>
									<textarea class="form-control" id="description" readonly rows="5"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description'] : ""); ?></textarea>
								<?php endif; ?>

							</div>
						</div>
					</div>
			</div>
		
				<hr/> 
       

        <div class="row">
            <div class="calender_slct_customer_cont col-md-offset-2 col-md-6" >


                    <!-- <input MaxLength="200" id="auto_search"  onfocus="$('#search').css('display', 'block');
                                $('#auto_search').css('display', 'none');
                                $('#search').focus();" type="text" value="Type Service Name to Search" />-->

                <input class="form-control" MaxLength="200" id="search" name="keywords" onkeyup="searchServices();" autocomplete="off"  type="text" placeholder="Type Service Name to Search" />



                <div class="calender_service_opt_slct" id="keywordsResult">
                    <?php if ($this->serviceAvailable): ?>
                        <?php foreach ($this->serviceAvailable as $serviceAvailable): ?>
                            <?php $serviceDetails = $modelServices->getById($serviceAvailable['service_id']); ?>

                            <div id="service_result_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
                                <a href="javascript:;" 
                                   onclick="checkService('<?php echo $this->escape($serviceAvailable['service_id']); ?>', 'service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>', 'min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>');">
                                    <ul class="service-list">
                                        <li><img  src="/pic/arrow_down.png" border="0"/></li>
                                        <li  id="service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
                                            <?php echo $this->escape($serviceDetails['service_name']); ?></li>
                                        <li class="calender_minimum_price_txt">Minimum Price:</li>
                                        <li id="min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
                                            <?php echo $this->escape($serviceDetails['min_price']); ?></li>    
                                    </ul>
                                </a>
                            </div>

                        <?php endforeach; ?>
                    <?php endif; ?>
                </div> 

            </div><!-- end  search services -->
        </div>


        <div class="row">
            <div class="col-md-10">
                <div id="services" class="no-margin-b">   

                    <div class="service-description-with-invoice"> 

                        <div class="calender_service_slctd_service" id="selectedServices">
                            <?php if ($this->bookingServices): ?>
                                <?php $user = CheckAuth::getLoggedUser(); ?>
                                <?php foreach ($this->bookingServices as $bookingService): ?>
                                    <?php
                                    $serviceId = isset($bookingService['service_id']) ? $bookingService['service_id'] : 0;
                                    $clone = isset($bookingService['clone']) ? $bookingService['clone'] : 0;
                                    $bookingId = isset($bookingService['booking_id']) ? $bookingService['booking_id'] : 0;
                                    $contractorId = isset($bookingService['contractor_id']) ? $bookingService['contractor_id'] : 0;
                                    $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                                    $serviceDetails = $modelServices->getById($serviceId);
                                    $disable = false;
                                    //$display = 'block';
                                    $style = '';
                                    if (!CheckAuth::checkCredential(array('CanAssignContractorToBooking'))) {
                                        if ($contractorId != $user['user_id']) {
                                            $disable = true;
                                            //$display = 'none';
                                            $style = 'ground-color: gainsboro;';
                                        }
                                    }
                                    ?>

                                    <div  class="service-autogenerated-div serviceContainer"  id="service_checked_<?php echo $this->escape($serviceAndClone); ?>" style="display: <?php echo isset($display) && $display ? $display : 'block'; ?>;margin-bottom:0px;padding-top:10px">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <h3> Service </h3>
                                                <ul class="service-det-list">

        <?php if (!$disable) : ?>
                                                        <li><a href="javascript:;" onclick="removeService('<?php echo $this->escape($serviceAndClone); ?>')"><img src="/pic/icons/delete.png"/>Remove</a></li>
                                                        <li><a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceId); ?>', 'service_name_<?php echo $this->escape($serviceId); ?>', 'min_price_<?php echo $this->escape($serviceId); ?>')"><img src="/pic/icons/clone.png"/>Clone</a></li>
            <?php if ($this->isTempService && $bookingService['is_change'] && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                                            <li><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id'], 'service_id' => $serviceId, 'clone' => $clone), 'ignoreService')); ?>"><img src="/pic/icons/ignore.png" border="0"/>Ignore</a></li>
            <?php endif ?>
                                                    <?php endif ?>
                                                    <li><b><?php echo $this->escape($serviceDetails['service_name']); ?></b></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 col-xs-6">
                                                <h3>Amount</h3>
                                                <div id="min_price_total_<?php echo $this->escape($serviceAndClone); ?>"><?php echo $this->escape($this->priceArray[$serviceAndClone] < $serviceDetails['min_price'] && $bookingService['consider_min_price'] == 1 ? number_format($serviceDetails['min_price'], 2) : number_format($this->priceArray[$serviceAndClone], 2)); ?></div>
                                            </div>
                                            <div class="col-md-2 col-xs-6">
                                                <h3>Total</h3>
                                                <div style="<?php echo $this->escape($this->priceArray[$serviceAndClone] >= $serviceDetails['min_price'] ? 'background-color : white;' : 'background-color : rosybrown;'); ?>" id="total_<?php echo $this->escape($serviceAndClone); ?>"><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-10 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="cx-label col-md-3">Technician :</label>
                                                        <div class="col-md-9 col-xs-12"><span id="contractor_<?php echo $this->escape($serviceAndClone); ?>" class="col-md-9 col-xs-12">
        <?php if (!CheckAuth::checkCredential(array('CanAssignContractorToBooking'))) : ?>

            <?php $modelUser = new Model_User(); ?>
            <?php $user = $modelUser->getById($contractorId); ?>
            <?php $modelContractorInfo = new Model_ContractorInfo(); ?>
            <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                                                    <?php echo $this->escape(ucwords($user['username']) . (!empty($contractorInfo['business_name']) ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                                    <input type="hidden" value="<?php echo $this->escape($contractorId); ?>" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                                <?php else: ?>
                                                                    <?php $cityId = !empty($this->bookingCity['city_id']) ? $this->bookingCity['city_id'] : 0; ?>
                                                                    <?php $contractorService = $modelContractorService->getContractorByServiceIdAndCityId($serviceId, $cityId, TRUE); ?>

                                                                    <select class="required dropdown form-control" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                                        <option value="">Select One</option>
                                                                    <?php foreach ($contractorService as $contractor_id => $contractor_name): ?>
                                                                            <option value="<?php echo $this->escape($contractor_id); ?>" <?php echo $this->escape(isset($contractorId) ? ($contractorId == $contractor_id ? "selected" : "") : ""); ?>><?php echo $this->escape($contractor_name); ?></option>
                                                                    <?php endforeach; ?>
                                                                    </select>
        <?php endif; ?>



                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="checkup min-price col-md-12 col-xs-12">
                                                            <input <?php if ($disable) : ?>disabled="disabled"<?php endif; ?> class="checkbox_consider_min_price" id="checkbox_consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" onclick="countServicePrice(<?php echo "'" . $this->escape($serviceId) . "'" . ($clone ? ",'" . $this->escape($clone) . "'" : ""); ?>);" <?php echo isset($bookingService['consider_min_price']) && $bookingService['consider_min_price'] ? 'checked="checked"' : ''; ?> type="checkbox"/>
                                                            Consider Minimum Price ($ <?php echo $this->escape($serviceDetails['min_price']); ?>)
                                                        </label>
                                                    </div>				 
                                                    <div  id="attribute_<?php echo $this->escape($serviceAndClone); ?>">
        <?php $counter = 0; ?>    
        <?php
        $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);
        foreach ($serviceAttribute as $attribute):
            ?>
            <?php $counter++; ?>
                                                            <div  class="form-group" <?php if ($counter != 1): ?><?php endif; ?>>
                                                                <label class="control-label col-md-3"><?php echo $this->escape($attribute['attribute_name']); ?> : </label>

                                                                <div class="col-md-9"> 
                                                            <?php echo drowAttribute($attribute, $bookingId, 0, $clone, $this->is_temp, $disable, $style); ?>
                                                                </div>

                                                            </div>
        <?php endforeach; ?>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" value="<?php echo $this->escape($serviceAndClone); ?>" name="services[]">
                                        <input type="hidden" id="min_<?php echo $this->escape($serviceAndClone); ?>" value="<?php echo $this->escape($serviceDetails['min_price']); ?>"/>
                                        <input name="consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" id="consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" value="<?php echo isset($bookingService['consider_min_price']) && $bookingService['consider_min_price'] ? '1' : '0'; ?>" type="hidden"/>                                           
                                    </div>  
    <?php endforeach; ?>
<?php endif; ?>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-8 col-xs-7 col-xs-offset-5">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Sub Total :</th>
                                    <td>
                                        <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" readonly id="sub_total" value="<?php echo $this->escape(isset($this->subTotal) ? number_format($this->subTotal, 2) : ""); ?>" name="sub_total" />
                                    </td>
                                </tr>
                                <tr style="display:<?php echo (!empty($this->callOutFee) ? 'block' : 'none'); ?>;">
                                    <th> Call Out Fee: 
<?php if ($this->callOutFeeTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                            <span class="service_clone" style="font-weight: normal;">
                                                <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreCallOutFee')); ?>" >Ignore</a>
                                            </span>
<?php endif ?>
                                    </th>
                                    <td>
                                        <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" id="call_out_fee" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(!empty($this->callOutFee) ? number_format($this->callOutFee, 2) : "0"); ?>" name="call_out_fee"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Discount:
<?php if ($this->totalDiscountTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                            <span class="service_clone" style="font-weight: normal;">
                                                <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreTotalDiscount')); ?>" >Ignore</a>
                                            </span>
<?php endif ?>
                                    </th>
                                    <td>
                                        <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" id="total_discount" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(isset($this->totalDiscount) ? number_format($this->totalDiscount, 2) : ""); ?>" name="total_discount"/>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                                    </th>
                                    <td>
                                        <input readonly  style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" id="gst" type="text" value="<?php echo $this->escape(isset($this->gstTax) ? number_format($this->gstTax, 2) : ""); ?>" name="gst"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td>
                                        <input readonly style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" class="required" id="total_qoute" type="text"  value="<?php echo $this->escape(isset($this->totalQoute) ? number_format($this->totalQoute, 2) : ""); ?>"name="total_qoute"/>
                                        <input id="timezone" name="timezone" type="hidden" value="" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>                                                   

                </div>




            </div>
        </div>

    </div>
         </div>
</form>

<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>