<?php
$modelServices = new Model_Services();
$modelContractorService = new Model_ContractorService();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelBookingStatus = new Model_BookingStatus();

$modelAuthRole = new Model_AuthRole();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$adminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$loggedUser = CheckAuth::getLoggedUser();

$InProcess = $modelBookingStatus->getByStatusName('IN PROGRESS');
$ToDo = $modelBookingStatus->getByStatusName('TO DO');
$ToVisit = $modelBookingStatus->getByStatusName('TO VISIT');

$statuss = $modelBookingStatus->getById($this->event['status_id']);

//var_dump($this->event['status_id']);
//exit;
   $colors = array (
		'0' => '#888888',
		'1' => '#cc3333',
		'2' => '#dd4477',
		'3' => '#994499',
		'4' => '#6633cc',
		'5' => '#336699',
		'6' => '#3366cc',
		'7' => '#22aa99',
		'8' => '#329262',
		'9' => '#109618',
		'10' => '#66aa00',
		'11' => '#aaaa11',
		'12' => '#d6ae00',
		'13' => '#ee8800',
		'14' => '#dd5511',
		'15' => '#a87070',
		'16' => '#8c6d8c',
		'17' => '#627487',
		'18' => '#7083a8',
		'19' => '#5c8d87',
		'20' => '#898951',
		'21' => '#b08b59',
		'-1' => '#7a367a' 
); 
 ?>
<div class="ibox  no-margin-b">
    <div class="ibox-content row ">
	
        <div class="row">
            <div class="col-md-5">
                <?php If (isset($this->fromEstimate) && $this->fromEstimate): ?>
                    <h3>
                        Edit Estimate
                    </h3>
                <?php else: ?>
                    <h3>
                        Edit Booking
                    </h3>
                <?php endif; ?>
            </div>
            <div class="col-md-7 ">
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">         
                <nav>
                    <a href="<?php echo $this->escape($this->url(array(), 'booking')); ?>" class="btn btn-white btn-bitbucket"><i class="fa fa-long-arrow-left"></i>&nbsp;Back</a>
                    <span id="save_btn_cont" ><a href="javascript:void(0);" onclick="check_befor_save_booking();
                            return false;" class="btn btn-white "><i class="fa fa-check "></i> Save </a></span>
                       <?php if (CheckAuth::checkCredential(array('bookingDelete'))): ?>
                        <a href="javascript:void(0);" onclick="return confirm('are you sure you want to delete this Estimate?');" class="btn  btn-white"><i class="fa fa-times "></i>&nbsp;Delete</a>                
                    <?php endif; ?>     

                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="NearestBooking2('Nearest Booking')" class="btn  btn-white">Nearest Booking</a>
                    <?php
                    $bookingAddress = $this->bookingAddress;
                    $findAvailabilityParams = array();
                    $findAvailabilityParams [] = 'unit_lot_number=' . urlencode($bookingAddress ['unit_lot_number']);
                    $findAvailabilityParams [] = 'street_number=' . urlencode($bookingAddress ['street_number']);
                    $findAvailabilityParams [] = 'street_address=' . urlencode($bookingAddress ['street_address']);
                    $findAvailabilityParams [] = 'suburb=' . urlencode($bookingAddress ['suburb']);
                    $findAvailabilityParams [] = 'state=' . urlencode($bookingAddress ['state']);
                    $findAvailabilityParams [] = 'postcode=' . urlencode($bookingAddress ['postcode']);
                    $findAvailabilityParams [] = 'booking_id=' . urlencode($this->booking ['booking_id']);
                    $findAvailabilityParams [] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->booking ['booking_start'])));
                    $findAvailabilityParams [] = 'city_id=' . urlencode($this->booking ['city_id']);
                    foreach ($this->bookingServices as $service) {
                        $findAvailabilityParams [] = 'services[]=' . urlencode($service ['service_id']);
                    }
                    $findAvailabilityParams = implode("&", $findAvailabilityParams);
                    ?>
                    <a href="#" data-toggle="modal" data-target="#popupi" class="btn  btn-white" onclick="popupi_with_parm('Find Availability', '<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>', '<?php echo $this->escape($findAvailabilityParams) ?>');">
                        Find Availability</a>
                    <?php if ($this->is_temp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                        <a  id="Closebtn" class="btn  btn-white" href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreAll')); ?>">
                            Ignore All Changes</a>
                    <?php endif; ?>
                </nav>


            </div>
        </div>
    </div>
</div>

<!-- error notification -->

<?php if ($this->errorMessages){ ?>

    <?php foreach ($this->errorMessages as $errorMessage){ ?>
        <div class="alert alert-danger"><?php echo $errorMessage; ?></div>
    <?php } ?>

<?php } ?>

<!-- end error notification -->
<form action="<?php echo $this->escape($this->url(array(), 'editBooking')); ?>" class="form-horizontal" id="fmEdit" method="post">
<input type="hidden" id="booking_id" name="booking_id" value="<?php echo $this->escape(isset($this->event['booking_id']) ? $this->event['booking_id'] : "" ) ?>" />

<div class="ibox">
	<div class="ibox-content row top_status_add_edit" style="background-color: <?php echo $this->escape($colors[$statuss['color']])?>;">
		<div class="col-md-12">
			<div class="form-group no-margin-b">
				<label class="col-md-2 col-xs-2 control-label status_label">Status <i id="booking_status_loading">&nbsp;</i> </label>
			
				<div class="col-md-6 col-xs-10">
					
							<select class="required dropdown  form-control"  id="bookingStatus" onchange="check_booking_status();" name="bookingStatus">
									<option value="">Select One</option>
									
									<?php foreach ($this->bookingStatus as $status): ?>
										
										<?php $statuss = $modelBookingStatus->getById($status['booking_status_id']);?>
										
										<option  bcolor="<?php echo $this->escape($colors[$statuss['color']])?>;" value="<?php echo $this->escape($status['booking_status_id']); ?>"<?php echo $this->escape(isset($this->event['status_id']) ? ($this->event['status_id'] == $status['booking_status_id'] ? "selected" : "") : ""); ?> >	
											
											<?php echo $this->escape($status['name']); ?>
										
										</option>
										
									<?php endforeach; ?>
									
							</select>
							
							<input id="previous_status_value" name="previous_status_value" type="hidden" value="<?php echo $this->escape($this->event['status_id']) ?>" />						
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="row">
		<div class="wrapper wrapper-content">
			<div class="row">
				<div class="col-md-12">
							<div class="ibox float-e-margins">
							
								<?php
									$customerId = $this->escape(isset($this->event['customer_id']) ? $this->event['customer_id'] : 0);

									$modelCustomer = new Model_Customer();
									$customer = $modelCustomer->getById($customerId);
									?>
									
									
							<div class="ibox-title">
									Customer
									
							</div>
								
							<div class="ibox-content">
							
								
							
									<div class="col-md-7 input-group">
										<?php if ($this->canEditDetails): ?>
												<input placeholder="Customer Name" name="search" onkeyup= 'customerSearchInput()' class="form-control" type="text"  value="<?php echo $this->escape($this->customer_name ? $this->customer_name : '') ?>" id="auto_customer_id" autocomplete="off" />	
												<div class="searchCustomerInputResult" id="customerResultInput"></div>
												<input type="hidden" id="customer_id" name="customer_id" class="text_input required" value="<?php echo $this->escape(isset($this->event['customer_id']) && !empty($this->event['customer_id']) ? $this->event['customer_id'] : '') ?>" />
												
											<?php else: ?>
											
												<input class="text_input edit-form-search autocomplete_search form-control" readonly  type="text" value="<?php echo $this->escape(get_customer_name($customer)); ?>" />

											<?php endif; ?>	
								
										<span class="input-group-btn">  
															<!-- new customer and edit customer links -->

												<?php if ($this->canEditDetails): ?>

												
													<?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
														<?php if (isset($this->event['customer_id']) && $this->event['customer_id']) ; ?>
														<button class="btn btn-primary" data-toggle="modal" data-target="#popupi" type="button" onclick="editCustomer();" id="edit_customer">
															
																<i class="fa fa-pencil-square-o"></i>
														</button>
													<?php endif; ?>
													
													
													<?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
														<button class="btn btn-primary" data-toggle="modal" data-target="#popupi" type="button" onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');">
															<i class="fa fa-plus">
															</i>
															
														</button>
													<?php endif; ?>

												
													<button  class="btn  btn-primary "   data-toggle="modal" data-target="#popupi" onclick="popupi('Customer list', '<?php echo $this->escape($this->url(array(), 'dropDownCustomerList')); ?>');">
															<i class="fa fa-search"></i>
														
													</button>
												
												<?php endif; ?>
											
										</span> 
																		
								
								
								</div>
								</div>
								
							</div>
						
<?php if ($this->canEditDetails){ ?>
						<div class="ibox float-e-margins">
								
							<div class="ibox-title">
									Trading Name
							</div>
								
							<div class="ibox-content">
							<div class="col-md-7">
							<select class="form-control" name="trading_name">
                                <option>Please Select Trading Name</option>
                                <?php
                                $selected = "";
                                foreach ($this->tradingNames as $key => $tr_names) {
                                    if ($this->booking['trading_name_id'] == $tr_names['trading_name_id']) {

                                        $selected = 'selected';
                                        echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                    } else {
                                        $selected = '';
                                        echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                    }
                                }
                                ?>
                            </select>
							</div>
								<div class="clearfix"></div>
							</div>
								
						</div>	
<?php } ?>

						<div id="booking_address">	
						<div class="ibox float-e-margins">
							
							<div class="ibox-title">
									Booking Address
							</div>
								
							<div class="ibox-content">
							<div class="form-group">
                            <label class="col-md-2 control-label">Unit / Lot No.</label>
                            <div class="col-md-6">
                                <input class="text_input form-control" name="unit_lot_number"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['unit_lot_number']) ? $this->bookingAddress['unit_lot_number'] : "") ?>" />
                            </div>		 
							</div>

							<div class="form-group">
								<label class="col-md-2 control-label">Street Number</label>
								<div class="col-md-6">
									<input class="text_input required form-control" name="street_number"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_number']) ? $this->bookingAddress['street_number'] : "") ?>" />			 
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-2 control-label">Street Name</label>
								<div class="col-md-6">
									<input class="text_input required form-control" name="street_address"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_address']) ? $this->bookingAddress['street_address'] : "") ?>" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-2 control-label">Suburb</label>
								<div class="col-md-6">
									<input class="text_input required form-control" name="suburb"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['suburb']) ? $this->bookingAddress['suburb'] : "") ?>" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-2 control-label">Post code</label>
								<div class="col-md-6">
									<input class="text_input required form-control" name="postcode"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['postcode']) ? $this->bookingAddress['postcode'] : "") ?>" />
								</div>
							</div>

							<div class="form-group" style="display: none;">
								<label class="col-md-2 control-label">P.O. box</label>

								<?php if ($this->isTempAddress && !CheckAuth::checkCredential(array('canEditBookingDetails'))){ ?>		  
									<div class="col-lg-7">
										<input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['po_box']) ? $this->bookingAddress['po_box'] : "") ?>" />
									</div>
									<div class="col-md-2">
										<span class="service_clone" style="font-weight: normal; float: left; margin-left: 10px;">
											<img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/>
											<a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreBookingAddress')); ?>" >Ignore Address Changes</a>
										</span>


									</div>
								<?php } else{ ?>

									<div class="col-md-6">
										<input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['po_box']) ? $this->bookingAddress['po_box'] : "") ?>" />
									</div>

								<?php } ?>
							</div>
							
							<?php if ($this->canEditDetails){ ?>
								<div class="form-group">
									<label class="col-md-2 control-label">Country</label>
									<div class="col-md-6">
										<select class="required dropdown form-control" id="country" name="country" onchange="getStateByCountryId();">
											<option value="">Select One</option>

											<?php foreach ($this->countries as $country): ?>
												<option value="<?php echo $this->escape($country['country_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['country_id']) ? ($this->bookingCity['country_id'] == $country['country_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($country['country_name']); ?></option>
											<?php endforeach; ?>
										</select> 
									</div>
								</div>
							<?php } ?>
							<?php //else: ?>

								<?php /*
								$country_id = $this->escape(isset($this->bookingCity['country_id']) ? $this->bookingCity['country_id'] : 0);
								$modelCountries = new Model_Countries();
								$country = $modelCountries->getById($country_id);
								*/
								?>
								<!------<div class="form-group">
									<label class="col-md-3 control-label">Country</label>
									<div class="col-md-9">
										<input class="text_input form-control" readonly  type="text" value="<?php // echo $this->escape($country['country_name']); ?>" />
									</div>
								</div> --->
							<?php //endif; ?>
							<!--  end select country options -->	

							<div id="display_state" class="form-group" style="<?php if(!$this->bookingCity['city_id'] || $loggedUser['role_id'] ==	 $contractorRoleId ){ 
							echo  "display: none"; }else{ echo "";} ?>" class="form-group">
								<label class="col-md-2 control-label">State</label>
								<div id="state_cont" class="col-md-6">
									<?php if ($this->canEditDetails): ?>
										<select id="state" class="dropdown form-control" onchange="$('#state').addClass('required');
													getCitiesByCountryId();" name="state">
											<option value="">Select One</option>
											<?php foreach ($this->states as $state): ?>
												<option value="<?php echo $this->escape($state); ?>" <?php echo $this->escape(isset($this->bookingCity['state']) ? ($this->bookingCity['state'] == $state ? "selected" : "") : ''); ?>><?php echo $this->escape($state); ?></option>
											<?php endforeach; ?>
										</select>
									<?php else: ?>
										<input name="state" class="text_input form-control" readonly  type="text" value="<?php echo $this->escape(isset($this->bookingCity['state']) ? $this->bookingCity['state'] : ''); ?>" />
									<?php endif; ?>
								</div> 

							</div>	

							<!-- city -->
							<div id="display_city" class="form-group" style="<?php if(!$this->bookingCity['city_id'] || $loggedUser['role_id'] ==	 $contractorRoleId ){ 
							echo  "display: none"; }else{echo "";}  ?>" class="form-group">
								<label class="col-md-2 control-label">City</label>
								<div id="city_cont" class="col-md-6">
									<?php if ($this->canEditDetails): ?>
										<select id="city_id"  onchange="$('#city_id').addClass('required');
													getServices();" name="city_id" class="form-control">
											<option value="">Select One</option>
											<?php foreach ($this->cities as $city): ?>
												<option value="<?php echo $this->escape($city['city_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['city_id']) ? ($this->bookingCity['city_id'] == $city['city_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($city['city_name']); ?></option>
											<?php endforeach; ?>
										</select>

									<?php else: ?>

										<?php
										$city_id = $this->escape(isset($this->bookingCity['city_id']) ? $this->bookingCity['city_id'] : 0);
										$modelCities = new Model_Cities();
										$city = $modelCities->getById($city_id);
										?>
										<input class="text_input form-control" readonly  type="text" value="<?php echo $this->escape($city['city_name']); ?>" />
										<input type="hidden"  id="city_id" name="city_id" value="<?php echo $this->escape($city_id); ?>"/>
									<?php endif; ?>
								</div>
							</div>	

							<div class="form-group">
								<label class="col-md-2 control-label">Property Type</label>
								<div class="col-md-6">
									<?php if ($this->canEditDetails): ?>
										<select id="property_type" class="select_field form-control" name="property_type">
											<option value="">Select One</option>
											<?php foreach ($this->propertyTypes as $propertyType): ?>
												<option value="<?php echo $this->escape($propertyType['id']); ?>" <?php echo $this->escape(isset($this->event['property_type_id']) ? ($this->event['property_type_id'] == $propertyType['id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($propertyType['property_type']); ?></option>
											<?php endforeach; ?>
										</select>
									<?php else: ?>
										<?php
										$property_type_id = $this->escape(isset($this->event['property_type_id']) ? $this->event['property_type_id'] : 0);
										$modelPropertyType = new Model_PropertyType();
										$property_type = $modelPropertyType->getById($property_type_id);
										?>
										<input class="text_input form-control" readonly  type="text" value="<?php echo $this->escape($property_type['property_type']); ?>" />
									<?php endif; ?>


								</div>
								
							</div>
								<div class="clearfix"></div>
							</div>							
						</div>	
						</div>
						
						
						
						
						<!-- Quoted -->
						<?php $quoted = $modelBookingStatus->getByStatusName('QUOTED'); ?>
						<div class="ibox float-e-margins" id ="booking_time" style="display: <?php echo $this->escape($this->event['status_id'] == $quoted['booking_status_id'] ? 'none' : 'block') ?>" >
								
							<div class="ibox-title first_visit_header">
									First Visit 
									<div class="ibox-tools">
										<a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
									</div>
							</div>
								
							<div class="ibox-content">
							<?php if ($this->canEditDetails){ ?>
							<div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label"> Time </label>


                                    <?php
                                     if (isset($this->event)) {
										 $current_time = time();
										$event_time = strtotime($this->event['booking_start']);
										 
										$readonly = '';
										
                                        if ($this->event['booking_start']) {
											//echo $this->event['booking_start'];
                                            $sarr = explode(" ", date('d/m/Y H:i' , mySql2PhpTime($this->event['booking_start'])));
                                        }
                                        if ($this->event['booking_end']) {
                                            $earr = explode(" ",date('d/m/Y H:i' ,mySql2PhpTime($this->event['booking_end'])));
                                        }
                                    } else {
										
                                        $sarr = explode(" ", date('d/m/Y H:i' ,mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
                                        $earr = explode(" ",date('d/m/Y H:i' ,mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
                                    }
									
                                    ?>	  

                                    <div class="col-md-9" >
                                        <label for="IsAllDayEvent" class="checkup">
                                            <?php $checked = (isset($this->event['is_all_day_event']) && $this->event['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                            <input id="IsAllDayEvent" name="isAllDayEvent" type="checkbox" value="1" <?php echo $checked; ?> /> 
												  All Day Event
                                        </label>
                                    </div>


                                </div>

                                <div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-6" style="padding-left: 22px;padding-right: 32px;">
                                        <div class="row">
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date11">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" class="<?php echo $this->escape($this->event['status_id'] == $quoted['booking_status_id'] ? '' : 'required  ends_before_starts date') ?>  text_input sdatepicker form-control" id="stpartdate" name="stpartdate" <?=$readonly?> type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />  

                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#date11 .input-group.date').datepicker({
                                                            todayBtn: "linked",
															todayHighlight: true,
                                                            keyboardNavigation: false,
                                                            forceParse: false,
                                                            calendarWeeks: true,
                                                            autoclose: true,
                                                              format:'dd/mm/yyyy'
                                                        });
														$('.sdatepicker').datepicker({
                                                            todayBtn: "linked",
															todayHighlight: true,
                                                            keyboardNavigation: false,
                                                            forceParse: false,
                                                            calendarWeeks: true,
                                                            autoclose: true,
                                                              format:'dd/mm/yyyy'
                                                        });
														
														$('.multitimepick').clockpicker();
                                                   // $('#stparttime').clockpicker();
														
                                                    });
                                                </script>

                                                <div class="col-md-6" id="startTimeDiv">
                                                    <div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5"  class="required time text_input stimepicker form-control" id="stparttime" name="stparttime" <?=$readonly?> type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />                               

                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    $('.clockpicker1').clockpicker(); 
                                                </script>

                                            </div>

                                            <div class="col-md-12">To</div>
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date2">
                                                    <div class="input-group date" id="date22">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" class="required date text_input sdatepicker form-control" id="etpartdate" name="etpartdate" <?=$readonly?> type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="endTimeDiv">
                                                    <div class="input-group clockpicker2" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5" class="required time text_input stimepicker form-control" id="etparttime" name="etparttime" <?=$readonly?> type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />

                                                    </div>
                                                </div>


                                                <script type="text/javascript">
                                                    $('.clockpicker2').clockpicker();
                                                </script>

                                            </div>


                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $('#date22').datepicker({
                                                        todayBtn: "linked",
														todayHighlight: true,
                                                        keyboardNavigation: false,
                                                        forceParse: false,
                                                        calendarWeeks: true,
                                                        autoclose: true,
                                                          format:'dd/mm/yyyy'
                                                    });
                                                });
                                            </script>
											
											<div class="row Attended_<?= $this->event['booking_id']?>" style="margin:0px; <?php 
												if($event_time <= $current_time){ echo '';} else {echo 'display:none';}?>" >
                                                <div class="col-md-6">                                                   
                                                </div>
											<div class="col-md-4 col-md-offset-2 date_visited_icon pull-right" style="padding-top: 10px; ">
											    <input type="hidden" value= "<?= isset($this->event['visited_extra_info_id']) ? $this->event['visited_extra_info_id'] : ''?>" name="visited_extra_info_<?= $this->event['booking_id']?>"/>
												<label for="date_visited" class="checkup date_is_visited" style="align: right;" >  Attended </label>
												<div class="switch"  style="float: right; padding-left: 10px; " >
												    <div class="onoffswitch">
													  <input name="is_visited" type="checkbox" checked="true" class="onoffswitch-checkbox" id="date_visited_<?= $this->event['booking_id']?>" onchange="show_visited_extra_info(<?= $this->event['booking_id'] ?> , 'first_date')" value="true">
													   <label class="onoffswitch-label" for="date_visited_<?= $this->event['booking_id']?>">
													   <span class="onoffswitch-inner"></span>
													  <span class="onoffswitch-switch"></span>
													  </label>
													</div>
												</div>
											</div>
											</div>
	
                                        </div>

                                    </div>

                                </div>
                            </div>
							
							
							<?php } else{
								?>
							<?php //if($this->event['visited_extra_info_id'] == null) :?>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label"> Time</label>


                                    <?php
                                    if (isset($this->event)) {
										$current_time = time();
										$event_time = strtotime($this->event['booking_start']);
                                        if ($this->event['booking_start']) {
                                            $sarr = explode(" ", date('d/m/Y H:i' ,mySql2PhpTime($this->event['booking_start'])));
                                        }
                                        if ($this->event['booking_end']) {
                                            $earr = explode(" ", date('d/m/Y H:i' ,mySql2PhpTime($this->event['booking_end'])));
                                        }
                                    } else {
                                        $sarr = explode(" ",date('d/m/Y H:i' ,mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
                                        $earr = explode(" ", date('d/m/Y H:i' ,mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
                                    }
									 
									 									
										
                                    ?>  

                                    <div class="col-md-9" style="padding-left: 22px;">
                                        <label for="IsAllDayEvent" class="checkup">
                                            <?php $checked = (isset($this->event['is_all_day_event']) && $this->event['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                            <input id="IsAllDayEvent" name="isAllDayEvent" type="checkbox" value="1" <?php echo $checked; ?> /> 
                                            All Day Event
                                        </label>
                                    </div>


                                </div>

                                <div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-6" style="padding-left: 22px;padding-right: 32px;">
                                        <div class="row">
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date11">
                                                    <div class="input-group date <?php 
													if($event_time < $current_time){
														echo '';
														$readonly = 'readonly';
														$clockpicker = '';
													}else{
														echo 'date_Enabled';
														$clockpicker = 'clockpicker1';
														$readonly = '';
													} ?>" >
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" class="required date text_input sdatepicker form-control" id="stpartdate" name="stpartdate" <?=$readonly?>  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />                            
                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    /*$(document).ready(function () {
                                                        $('#date1 .input-group.date').datepicker({
                                                            todayBtn: "linked",
                                                            keyboardNavigation: false,
                                                            forceParse: false,
                                                            calendarWeeks: true,
                                                            autoclose: true,
                                                              format:'mm/dd/yyyy'
                                                        });
                                                    });*/
                                                </script>

                                                <div class="col-md-6" id="startTimeDiv">
                                                    <div class="input-group <?=$clockpicker?>" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5"  class="required time text_input stimepicker form-control" id="stparttime" name="stparttime" <?=$readonly?> type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />

                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    $('.clockpicker1').clockpicker();
                                                            </script>

                                            </div>

                                            <div class="col-md-12">To</div>
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date2">
                                                    <div class="input-group date <?php 
													if($event_time < $current_time){
														echo '';
														$readonly = 'readonly';
														$clockpicker = '';
													}else{
														echo 'date_Enabled';
														$clockpicker = 'clockpicker1';
														$readonly = '';
													} ?>" >
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" class="required date text_input sdatepicker form-control" id="etpartdate" name="etpartdate" <?=$readonly?>  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />

                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="endTimeDiv">
                                                    <div class="input-group <?=$clockpicker?>" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5" class="required time text_input stimepicker form-control" id="etparttime" name="etparttime" <?=$readonly?> type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />

                                                    </div>
                                                </div>


                                                <script type="text/javascript">
                                                    $('.clockpicker2').clockpicker();
                                                    
                                                </script>

                                            </div>


                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                   $('.date_Enabled').datepicker({
                                                        todayBtn: "linked",
														todayHighlight: true,
                                                        keyboardNavigation: false,
                                                        forceParse: false,
                                                        calendarWeeks: true,
                                                        autoclose: true,
                                                          format:'dd/mm/yyyy',
														  //disabled : true
														 
                                                    });
													
                                                });
                                            </script>

										<div class="row Attended_<?= $this->event['booking_id'];?>" style="margin:0px; <?php
											if($event_time <= $current_time) { echo 'display:block';} else{
											echo'display:none';}?>" >
                                                <div class="col-md-6">                                                   
                                                </div>
										
										<div class="col-md-4 col-md-offset-2 date_visited_icon pull-right" style="padding-top: 10px;"  > 
											    <input type="hidden" value= "<?= isset($this->event['visited_extra_info_id']) ? $this->event['visited_extra_info_id'] : ''?>" name="visited_extra_info_<?= $this->event['booking_id']?>"/>
												<label for="date_visited" class="checkup date_is_visited" style="align: right;" >  Attended </label> 
												<div class="switch"  style="float: right; padding-left: 10px; " >
												    <div class="onoffswitch">
													  <input name="is_visited" type="checkbox" checked="true" class="onoffswitch-checkbox" id="date_visited_<?= $this->event['booking_id']?>" onclick="show_visited_extra_info(<?= $this->event['booking_id'] ?> , 'first_date')" value="true">
													   <label class="onoffswitch-label" for="date_visited_<?= $this->event['booking_id']?>">
													   <span class="onoffswitch-inner"></span>
													  <span class="onoffswitch-switch"></span>
													  </label>
													</div>
												</div>
										</div>
										</div>
											
										
										<div class="switch pull-right" style="padding-top: 10px;">
                                            <div class="onoffswitch">
												  <input type="checkbox" checked="" class="onoffswitch-checkbox" id="example1">
												   <label class="onoffswitch-label" for="example1">
												   <span class="onoffswitch-inner"></span>
												  <span class="onoffswitch-switch"></span>
												</label>
											</div>
										</div>
											
                                        </div>

                                    </div>

                                </div>
                            </div>	
							<?php } ?>
							
							<?php //by islam extra info for past dates ?>
					
							<?php 
							$multipleDaysExtraInfo = $this->multipleDaysExtraInfo;
							
							if ($this->event){
								
										$current_time = time();
										$event_time = strtotime($this->event['booking_start']);
								if($event_time <= $current_time) {
									if( isset($this->event['visited_extra_info_id']) && $this->event['visited_extra_info_id'] != NULL){
										$visited_extra_info_id = $this->event['visited_extra_info_id'];
									}
									else{
										$visited_extra_info_id = 0;
									}
										
									
									
							?>
									
							
								<div class="block_booking_extra_info_<?=$this->event['booking_id']?>" >
								<div class="extra_field">
								<div class="form-group">
									<label class="col-md-2 col-xs-2 control-label" >
										<i class="fa fa-user fa-lg onsite_client_icon"></i>
									</label>
									<div class="col-md-6 col-xs-10">
										<input placeholder="Onsite Client Name" MaxLength="200" class="required form-control" id="onsite_client_name_<?=$this->event['booking_id'] ?>" name="onsite_client_name_<?=$this->event['booking_id']?>"  type="text" 
										value="<?php echo isset($multipleDaysExtraInfo[$visited_extra_info_id]['onsite_client_name'])? $multipleDaysExtraInfo[$visited_extra_info_id]['onsite_client_name'] : ''; ?>" />
									</div>
								</div>
								
								<?php
								if(isset($multipleDaysExtraInfo[$visited_extra_info_id]['job_start']) && !empty($multipleDaysExtraInfo[$visited_extra_info_id]['job_start']) && $multipleDaysExtraInfo[$visited_extra_info_id]['job_start'] != NULL){
								
								$job_start = explode(" ", date('d/m/Y H:i' , mySql2PhpTime($multipleDaysExtraInfo[$visited_extra_info_id]['job_start'])));
								}
								if(isset($multipleDaysExtraInfo[$visited_extra_info_id]['job_end']) && !empty($multipleDaysExtraInfo[$visited_extra_info_id]['job_end'])
									&& $multipleDaysExtraInfo[$visited_extra_info_id]['job_end'] != NULL ){
								
								$job_end = explode(" ", date('d/m/Y H:i' , mySql2PhpTime($multipleDaysExtraInfo[$visited_extra_info_id]['job_end'])));
								}
								?>
			
								
								<div class="form-group">
									<label class="col-md-2 control-label" >Check-In Time</label>
									<div class="col-md-6" >
										<div class="input-group date">
											<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
											</span>
											<input MaxLength="200" class="required text_input form-control" id="job_start_time_<?=$this->event['booking_id']?>"  name="job_start_time_<?=$this->event['booking_id']?>"  type="text" value="<?php echo $this->escape(isset($job_start[0]) ? $job_start[0] : "");
											?>" />
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2 control-label" >Check-Out Time</label>
									<div class="col-md-6" id="date_salim">
										<div class="input-group date">
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
											<input MaxLength="200" class="required form-control" id="job_finish_time_<?=$this->event['booking_id']?>" name="job_finish_time_<?=$this->event['booking_id']?>"   type="text" value="<?php echo $this->escape(isset($job_end[0]) ? $job_end[0] : "");
											?>"
											 />
										</div>
									</div>
								</div>
								</div>
								<script>
									$('#job_finish_time_<?=$this->event['booking_id']?> , #job_start_time_<?=$this->event['booking_id']?>').datetimepicker({
										format:'D-M-YYYY LT'
										});
								</script>

							   
								
								<div class="col-md-12  products_fieldset no_padding" style="margin-bottom:20px;">
									 <!--this  Section display only on mobile view -->
									<div class="col-md-12 Products_mobile">
											<div class="col-md-9  col-xs-9 products">
												<span><b><i class="fa fa-dropbox">&nbsp;</i>Products Used</b></span>
											</div>
											
											<div class="add_product_form_mobile col-md-3 col-xs-3">
													<a onclick="add_more_product_with_value('<?=$this->event['booking_id']?>');">
														Add
														<i class="fa fa-plus"></i>
													</a>
													 
											</div>
									</div>
									<div class="clearfix"></div>
								<!--  end -->
									<fieldset class="col-md-8">
										
									<legend style="width:auto !important; border-bottom:0px" class="display_mobile_none">Products</legend>
								
								<?php if ($this->products){
									
									?>
								<div  id="product_item_<?=$this->event['booking_id']?>">
									<div class="form-group">
										<label class="col-md-3 control-label" >Product Name</label>
										<div class="col-md-9" >
											<div class="col-md-8 col-xs-11" style="padding:0px">
												<select name='date_product_<?=$this->event['booking_id']?>[]' class="required form-control dropdown">
													<option value="">Select One</option>
													<?php foreach ($this->products as $product){ ?>
														<option value="<?php echo $product['id']; ?>"
														<?php if(isset($multipleDaysExtraInfo[$visited_extra_info_id]['id'])&& $multipleDaysExtraInfo[$visited_extra_info_id]['id'] == $this->escape($product['id'])){ echo 'selected';}   ?>
														>
															<?php echo $this->escape($product['product']); ?>
														</option>
													<?php } ?>
												</select>
											</div>											
											<div class="col-xs-1 display_on_mobile" style="padding:6px;">
													<a href="javascript:;" onclick="$('#product_item_<?=$this->event['booking_id']?>').remove();"><i class="fa fa-minus-circle fa-lg" style="color:Red;"></i></a>
											</div>
											
											<div class="col-md-1 col-xs-6" style="text-align:right; padding:7px;">
														<label class="control-label">Ltr</label>
											</div>
											<div class="col-md-2 col-xs-4" style="padding:0px">
												<input type="text" name='date_ltr_<?=$this->event['booking_id']?>[]' class="required form-control" <?php if(isset($multipleDaysExtraInfo[$visited_extra_info_id]['ltr'])){?>										
												value="<?php echo $multipleDaysExtraInfo[$visited_extra_info_id]['ltr']; ?>"
												<?php
												}else {
												?> 
												value=" "
												<?php } ?> />
<div class="calender_txt_input mobile_display_none">
												<a style="position:absolute; padding:7px;" href="javascript:;" onclick="$('#product_item_<?=$this->event['booking_id']?>').remove();"><i class="fa fa-minus-circle fa-lg" style="color:Red;"></i></a>
										
											</div>										
										</div>
									</div>
								</div>
								<?php } ?>
								<div id="more_product_<?=$this->event['booking_id']?>"></div>
								
								<div class="row add_more_product_btn">
									<div class="col-md-12">
										<a onclick="add_more_product_with_value('<?=$this->event['booking_id']?>');">
										<label class="btn btn-primary col-md-12"><i class="fa fa-plus">&nbsp;</i>Add More Product</label>
										</a>
									</div>
								</div>
								
								<br/>
								
								</fieldset>
								</div>
								
								
								
								<div class="form-group">
									<label class="col-md-2 control-label"> Extra Comments</label>
									<div class="col-md-6">
										<textarea class="long_text btextarea form-control" id="extra_comments_<?=$this->event['booking_id']?>" name="extra_comments_<?=$this->event['booking_id']?>">
										<?php echo isset($multipleDaysExtraInfo[$visited_extra_info_id]['user_message'])?$multipleDaysExtraInfo[$visited_extra_info_id]['user_message'] : ''; ?>
										</textarea>
									</div>
								</div>
								</div>
							</div>
								<?php } ///end check time
							} // end check if event
							?>
							
							<div class="clearfix"></div>
							</div>
						
						
						
						
						<?php 
						$visits_arr = array('First Visit','Second Visit','Third Visit','Fourth Visit','Fifth Visit','Sixth Visit','Seventh Visit','Eighth Visit','Ninth Visit');
						$visit_num = 0;
						if (count($this->multipleDays)){
							?>
                            <?php foreach ($this->multipleDays as $key => $multipleDay){ 
								$visit_num++;
								$current_time = time();
								$event_time_mutiple = strtotime($multipleDay['booking_start']);
								
								$readonly = '';
								$clockpicker = 'clockpicker1';
									
							?>
							<?php
							$div_display = "display:block";
							if($event_time_mutiple > $current_time){
									$div_display = "display:none";
							}?>
							
                                <?php
                                $sarr = explode(" ", date('d/m/Y H:i' , mySql2PhpTime($multipleDay['booking_start'])));
                                $earr = explode(" ", date('d/m/Y H:i' , mySql2PhpTime($multipleDay['booking_end'])));
                                ?>
						<div class="ibox float-e-margins" >
								
							<div class="ibox-title first_visit_header">
								<?=$visits_arr[$visit_num]; ?>
								
								<div class="ibox-tools">
										<a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
								</div>
							</div>
								
							<div class="ibox-content">
							<div id="multiple_day_<?php echo $key + 1; ?>" >
                                    <div class="row">
                                        <label class="col-md-2 control-label">More Time</label>
                                        <div class="col-md-6" style="padding-left: 22px;">
                                            <label class="checkup">
                                                <?php $checked = (isset($multipleDay['is_all_day_event']) && $multipleDay['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                                <input id="isAllDayEvent_<?php echo $multipleDay['id']; ?>" class="multi_isAllDayEvent" onchange="changeIsAllDayEvent('<?php echo $multipleDay['id']; ?>');" name="multi_isAllDayEvent[<?php echo $multipleDay['id']; ?>]" type="checkbox" <?php echo $checked; ?> value="1"/> All Day Event
                                            </label>
											
                                            <a href="javascript:;" onclick="$('#multiple_day_<?php echo $key + 1; ?>').remove();" class="pull-right" style="margin-right:22px;">
                                                <img src="/pic/remove.png" border="0" style="vertical-align: middle;" />
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                       
                                        <div class="col-md-6 col-md-offset-2" style="padding-left: 22px; padding-right: 32px;">
                                            <div class="row">
                                                <div class="row" style="margin:0px">
                                                    <div class="col-md-6" id="date1">
                                                        <div class="input-group date <?php 
													if($event_time_mutiple < $current_time && $loggedUser['role_id']==	 $contractorRoleId ){
														echo '';
														$readonly = 'readonly';
														$clockpicker = '';
													}else if($event_time_mutiple >= $current_time && $loggedUser['role_id'] ==	 $contractorRoleId){
														echo 'date_Enabled';
														$clockpicker = 'clockpicker1';
														$readonly = '';
													} ?>" >
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                            <input MaxLength="10" class="required date text_input more_stpartdate more_ends_before_starts sdatepicker form-control" onchange="changeStpartdate('<?php echo $multipleDay['id']; ?>');" id="stpartdate_<?php echo $multipleDay['id']; ?>" name="multi_stpartdate[<?php echo $multipleDay['id']; ?>]" <?=$readonly?>  type="text" value="<?php echo (isset($sarr[0]) ? $sarr[0] : ""); ?>" />        

                                                        </div>
                                                    </div>



                                                    <div class="col-md-6" id="startTimeDiv">
                                                        <div class="input-group <?=$clockpicker?>" data-placement="bottom" data-align="top" data-autoclose="true">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                            <input MaxLength="5"  class="required time text_input more_stparttime etparttime stimepicker form-control" onchange="changeStparttime('<?php echo $multipleDay['id']; ?>');" id="stparttime_<?php echo $multipleDay['id']; ?>" name="multi_stparttime[<?php echo $multipleDay['id'] ?>]" <?=$readonly?>  type="text" value="<?php echo (isset($sarr[1]) ? $sarr[1] : ""); ?>" />

                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="col-md-12">To</div>
                                                <div class="row" style="margin:0px">
                                                    <div class="col-md-6" id="date2">
                                                        <div class="input-group date <?php 
													if($event_time_mutiple < $current_time && $loggedUser['role_id']==	 $contractorRoleId){
														echo '';
														$readonly = 'readonly';
														$clockpicker = '';
													}else if($event_time_mutiple >= $current_time && $loggedUser['role_id'] == $contractorRoleId){
														echo 'date_Enabled';
														$readonly = '';
														$clockpicker = 'clockpicker1';
													} 
													?>">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                            <input MaxLength="10" class="required date text_input more_etpartdate sdatepicker form-control" id="etpartdate_<?php echo $multipleDay['id']; ?>" name="multi_etpartdate[<?php echo $multipleDay['id']; ?>]" <?=$readonly?>  type="text" value="<?php echo (isset($earr[0]) ? $earr[0] : ""); ?>" />             

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" id="endTimeDiv">
                                                        <div class="input-group  <?=$clockpicker?>" data-placement="bottom" data-align="top" data-autoclose="true">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                            <input MaxLength="5" class="required time text_input more_etparttime stimepicker form-control" id="etparttime_<?php echo $multipleDay['id']; ?>" name="multi_etparttime[<?php echo $multipleDay['id']; ?>]" <?=$readonly?>  type="text" value="<?php echo (isset($earr[1]) ? $earr[1] : ""); ?>" />

                                                        </div>
                                                    </div>

                                                </div>

											<div class="row Attended_<?= $multipleDay['id']; ?>" style="margin:0px" style="<?php
											if($event_time_mutiple <= $current_time) { echo 'display:block';} else{
											echo'display:none';}?>" >
                                                <div class="col-md-6">                                                   
                                                </div>	
											
											<div class="col-md-4 col-md-offset-2 date_visited_icon pull-right" style="padding-top: 10px; <?=$div_display?>"  >
											    <input type="hidden" name="visited_extra_info_<?= $multipleDay['id'] ?>" value="<?= $multipleDay['visited_extra_info_id'] ?>"/>
												<label for="date_visited" class="checkup date_is_visited" style="align: right;" >  Attended </label>
												<div class="switch"  style="float: right; padding-left: 10px; " >
												    <div class="onoffswitch">
													  <input name="is_multiple_visited_<?= $multipleDay['id']?>" type="checkbox" checked="true" class="onoffswitch-checkbox" id="date_visited_<?= $multipleDay['id'] ?>" onchange="show_visited_extra_info(<?= $multipleDay['id'] ?> , 'multi_date')" value="true">
													   <label class="onoffswitch-label" for="date_visited_<?= $multipleDay['id'] ?>">
													   <span class="onoffswitch-inner"></span>
													  <span class="onoffswitch-switch"></span>
													  </label>
													</div>
												</div>
											</div>
											</div>

                                            </div>
								<script>
									$(document).ready(function() {
										var elem = document.querySelector('.js-switch_<?=$multipleDay['id']?>');
										var switchery = new Switchery(elem);
									});
								
									
								</script>
                                        </div>

                                    </div>
                                </div>
								<script type="text/javascript">
                                     $('.clockpicker1').clockpicker();
                                 </script>
                                 <script type="text/javascript">
                                      $('.clockpicker2').clockpicker();
                                  </script>
								  
								  <?php //By Islam move the extra info after the date itself ?>
							<?php
							$multipleDaysExtraInfo = $this->multipleDaysExtraInfo;
							
							$current_time = time();
								$event_time_mutiple = strtotime($multipleDay['booking_start']);
								if($event_time_mutiple <= $current_time) {
									$visited_extra_info_id = $multipleDay['visited_extra_info_id'];

							?>
									
							
								<div class="block_booking_extra_info_<?=$multipleDay['id'];?>" style="<?=$div_display?>" >
								<div class="extra_field">
								<div class="form-group">
									<label class="col-md-2 col-xs-2 control-label">
										<i class="fa fa-user fa-lg onsite_client_icon"></i>
									</label>
									<div class="col-md-6 col-xs-10">
													<input placeholder="Onsite Client Name" MaxLength="200" class="required form-control" id="onsite_client_name_<?=$multipleDay['id']?>" name="onsite_client_name_<?=$multipleDay['id']?>"  type="text" 
													value="<?php echo isset($multipleDaysExtraInfo[$visited_extra_info_id]['onsite_client_name'])? $multipleDaysExtraInfo[$visited_extra_info_id]['onsite_client_name'] : ''; ?>"/>
									</div>
								</div>
								<?php
								if(isset($multipleDaysExtraInfo[$visited_extra_info_id]['job_start']) && !empty($multipleDaysExtraInfo[$visited_extra_info_id]['job_start'])
									&& $multipleDaysExtraInfo[$visited_extra_info_id]['job_start'] != NULL){
								
								$job_start = explode(" ", date('d/m/Y H:i' , mySql2PhpTime($multipleDaysExtraInfo[$visited_extra_info_id]['job_start'])));
								}
								if(isset($multipleDaysExtraInfo[$visited_extra_info_id]['job_end']) && !empty($multipleDaysExtraInfo[$visited_extra_info_id]['job_end'])
									&& $multipleDaysExtraInfo[$visited_extra_info_id]['job_end'] != NULL){
								
								$job_end = explode(" ", date('d/m/Y H:i' , mySql2PhpTime($multipleDaysExtraInfo[$visited_extra_info_id]['job_end'])));
								}
								?>
								<div class="form-group">
									<label class="col-md-2 control-label" >Check-In Time</label>
									<div class="col-md-6" >
										<div class="input-group date">
											<span class="input-group-addon">
											<i class="fa fa-calendar"></i>
											</span>
											<input MaxLength="200" class="required text_input form-control" id="job_start_time_<?=$multipleDay['id']?>"  name="job_start_time_<?=$multipleDay['id']?>"  type="text" value="<?php echo $this->escape(isset($job_start[0]) ? $job_start[0] : "");
											?>" />
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2 control-label" >Check-Out Time</label>
									<div class="col-md-6" id="date_salim">
										<div class="input-group date">
											<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</span>
											<input MaxLength="200" class="required form-control" id="job_finish_time_<?=$multipleDay['id']?>" name="job_finish_time_<?=$multipleDay['id']?>"   type="text" value="<?php echo $this->escape(isset($job_end[0]) ? $job_end[0] : "");
											?>" />
										</div>
									</div>
								</div>
								</div>
								<script>
									$('#job_finish_time_<?=$multipleDay['id']?> , #job_start_time_<?=$multipleDay['id']?>').datetimepicker({
										format:'D-M-YYYY LT'
										});
								</script>
								
								
								   <!--this  Section display only on mobile view -->
									<div class="col-md-12 Products_mobile">
											<div class="col-md-9  col-xs-9 products">
												<span><b><i class="fa fa-dropbox">&nbsp;</i>Products Used</b></span>
											</div>
											
											<div class="add_product_form_mobile col-md-3 col-xs-3">
													<a onclick="add_more_product_with_value('<?=$multipleDay['id']?>');">
														Add
														<i class="fa fa-plus"></i>
													</a>
													 
											</div>
									</div>
									<div class="clearfix"></div>
								<!--  end --> 
								<div class="col-md-12  products_fieldset no_padding" style="margin-bottom:20px;">
								<fieldset class="col-md-8">
									<legend style="width:auto !important; border-bottom:0px" class="display_mobile_none" >Products</legend>
								<?php if ($this->products){ 
								
								?>
								<div  id="product_item_<?=$multipleDay['id']?>">
									<div class="form-group">
									
										<label class="col-md-3 control-label" >Product Name</label>
										<div class="col-md-9" >
											<div class="col-md-8 col-xs-11" style="padding:0px">
											
												<select name="date_product_<?=$multipleDay['id']?>[]"  class="required form-control dropdown">
													<option value="">Select One</option>
													<?php foreach ($this->products as $product){ 
													
													?>
														<option value="<?php echo $product['id']; ?>"
														<?php if(isset($multipleDaysExtraInfo[$visited_extra_info_id]['id'])&& $multipleDaysExtraInfo[$visited_extra_info_id]['id'] == $this->escape($product['id'])){ echo 'selected';}   ?>
														>
															<?php echo $this->escape($product['product']); ?>
														</option>
													<?php } ?>
												</select>
											</div>
											
											<div class="col-xs-1 display_on_mobile" style="padding:6px;">
												<a href="javascript:;" onclick="$('#product_item_<?=$multipleDay['id']?>').remove();"><i class="fa fa-minus-circle fa-lg" style="color:Red;"></i></a>
											</div>
											
											
						
											<div class="col-md-1 col-xs-6" style="text-align:right; padding:7px;">		
											<label class="control-label">Ltr</label></div>
											
											<div class="col-md-2 col-xs-4" style="padding:0px">
												<input type="text" name="date_ltr_<?=$multipleDay['id']?>[]" class="required form-control" <?php if(isset($multipleDaysExtraInfo[$visited_extra_info_id]['ltr'])){?>										
												value="<?php echo $multipleDaysExtraInfo[$visited_extra_info_id]['ltr']; ?>"
												<?php } else { ?> value=" " <?php } ?> />
											</div>
											<div class="calender_txt_input mobile_display_none">
												<a style="position:absolute; padding:7px;" onclick="$('#product_item_<?=$multipleDay['id']?>').remove();"><i class="fa fa-minus-circle fa-lg" style="color:Red;"></i></a>
											</div>
											
										</div>
									</div>
								</div>
								<?php } ?>
								<div id="more_product_<?=$multipleDay['id']?>"></div>
									<div class="row add_more_product_btn">
										<div class="col-md-12">
											<a  onclick="add_more_product_with_value('<?=$multipleDay['id']?>');">
													<label class="btn btn-primary col-md-12"><i class="fa fa-plus">&nbsp; &nbsp;</i>Add more product</label>
											</a>
										</div>
									</div>
								</fieldset>
								</div>	
									
									
									
								<br/>
								<div class="form-group">
									<label class="col-md-2 control-label"> Extra Comments</label>
									<div class="col-md-6">
										<textarea class="long_text btextarea form-control" id="extra_comments_<?=$multipleDay['id']?>" name="extra_comments_<?=$multipleDay['id']?>">
										<?php echo isset($multipleDaysExtraInfo[$visited_extra_info_id]['user_message'])?$multipleDaysExtraInfo[$visited_extra_info_id]['user_message'] : ''; ?>
										</textarea>
									</div>
								</div>
								
							</div>
							
							<?php } ?>
							
							
							</div>
								
						</div>
						
							<?php 
							} // end foreach
						} //end if count($this->multipleDays)
							?>
							
                         <div id="multiple_days"></div>
						<div class="ibox">
						<div class="ibox-content">
                           			
						
								<a class="btn btn-primary col-md-12"  onclick="add_more_time();" ><i class="fa fa-info-circle fa-lg">&nbsp;</i>Schedule Next visit </a>
							
							
							<div class="clearfix"></div>
                        </div>	
                        </div>	
						
						
						
					<div id="booking_status_extra" class="ibox">
					
					<div class="ibox-title">
					</div>
					<div class="ibox-content">
					<?php
                        $status_id = isset($this->event['status_id']) ? $this->event['status_id'] : 0;
                        $bookingStatus = $modelBookingStatus->getById($status_id);
                        ?>
					
					
					
					
							<?php if ('FAILED' == $bookingStatus['name']){?>
							
									
											
								
							
                                <div class="form-group">
                                   <label class="col-md-2">
								   Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?
								   </label>
                                    <div class="col-md-6">
									
                                        <textarea class="long_text required btextarea form-control" id="why" 
										name="why">
                                            <?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?>
                                        </textarea>
                                        <input name="confirmResetAttribut" id="confirmResetAttribut" type="hidden" value="0"/>
                                    </div>
									<div class="clearfix"></div>
                                </div>
							
						
                         
                            <!-- end why textarea-->

                           
							<?php } else if (isset($bookingStatus['name']) && 'TO DO' != $bookingStatus['name'] && 'IN PROGRESS' != $bookingStatus['name'] && 'QUOTED' != $bookingStatus['name']) { ?>
						
						
						
                            <div class="form-group">
                                <label class="col-md-2">
								Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?
								</label>
                                <div class="col-md-6">
								
                                    <textarea class="long_text required btextarea form-control"  id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>					    
                                </div>                    
                            </div>  
							<div class="clearfix"></div>
						
						
                        <?php } ?>
                        <!-- end if-->

                        <!-- On hold booking status --> 
                        <?php if (isset($bookingStatus['name']) && 'ON HOLD' == $bookingStatus['name']){ ?>
                            <div class="form-group">
                                <label class="col-md-3 control-label">To Follow</label>
                                <div class="col-md-9">
                                    <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required form-control"  readonly="readonly"  
                                           value="<?php echo $this->escape(isset($this->event['to_follow']) ? date('d-m-Y', $this->event['to_follow']) : ''); ?>" />
                                </div>
                            </div>                               
                        <?php } elseif (isset($bookingStatus['name']) && 'QUOTED' == $bookingStatus['name']) { ?>
							
							
						
                                <div class="form-group">
                                    <label class="col-md-2 control-label">To Follow</label>
                                    <div class="col-md-6">
                                        <label class="control-label" >
                                            <?php 
											
											$checked = (isset($this->event['is_to_follow']) && !empty($this->event['is_to_follow'])) ? 'checked="checked"' : ""; ?>
                                            <input name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" <?php echo $checked ?>/>
                                            Confirm
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" id="deferred_date_cont" <?php echo (isset($this->event['is_to_follow']) && !empty($this->event['is_to_follow'])) ? '' : 'style="display: none;"'; ?>>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-6"> 
                                        <div class='input-group date' id='id='to_follow_picker'>
                                            <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required form-control"  readonly="readonly"  value="<?php echo $this->escape(isset($this->event['to_follow']) ? date('d-m-Y', $this->event['to_follow']) : ''); ?>" />
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                            </span>
                                        </div>

                                        

                                    </div>
                                </div>
								
								<?php } 
								
								 if ($this->questions) {
                        ?>
						
						
                        <div id="questions" name="questions"  >
                            <?php
                            foreach ($this->questions as $question) {
                                ?>

                                
                                        <?php if ($question['question_type'] == 'text') { ?>
										<div class="form-group">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-6"><textarea class="long_text required form-control"  id="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" ><?php echo $question['answer_text']; ?></textarea></div>
                                        </div>
										<?php } ?>
                                        <?php if ($question['question_type'] == 'boolean') { ?>
										<div class="form-group">
                                            <label class="col-md-2 control-label"><?php echo $question['question_text'] ?></label>
                                            <div class="col-md-6">
                                                <label style="margin-left: 6px;" >Yes</label>
                                                <input type="radio" class="required" id="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" value="yes" <?php if ($question['answer_text'] == 'yes') { ?> checked <?php } ?> />
                                                <label style="margin-left: 6px;" >NO</label>
                                                <input type="radio" class="required" id="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" value="no" <?php if ($question['answer_text'] == 'no') { ?> checked <?php } ?> />
                                            </div>
										</div>	
                                        <?php } ?>
                                        <?php if ($question['question_type'] == 'date') { ?>
										<div class="form-group">
                                            <label class="col-md-2 control-label"><?php echo $question['question_text'] ?></label>
                                            <div class="col-md-6">
                                                <input <?php if ($contractorRoleId != $loggedUser['role_id']) { ?> disabled <?php } ?> id="date_input" name="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" class="form-control" type="text" value="<?php echo $question['answer_text']; ?>" />
                                            </div>
										</div>	
                                        <?php } ?>
                                    

                                <?php
                            }
                            ?>
                        </div>
						
						
                        <?php
                    }
                    ?>
			</div>
					</div>
								
							
			

					<div class="ibox float-e-margins">	
							<div class="ibox-title">
									
							</div>	
							<div class="ibox-content">
								<label class="col-md-2 control-label"> Description </label>
								<div class="col-md-6">	
                              							
								<?php if ($this->canEditDetails){ ?>
									<textarea class="form-control" id="description" name="description" rows="5"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description']  : ""); ?></textarea>
								<?php }else{ ?>
									<textarea class="form-control" id="description" readonly rows="5"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description']  : ""); ?></textarea>
								<?php } ?>
								</div>
								<div class="clearfix"></div>
							</div>
					</div>
					
					
					<div class="ibox float-e-margins">
							<div class="ibox-title">
									Services
							</div>	
							<div class="ibox-content">
							<div class="row"> <!-- Services popup -->
	
	
								<div class="col-md-12">
									<a  class="btn btn-primary col-md-12 col-sm-12 col-xs-12" data-toggle="modal" data-target="#spec"><i class="fa fa-plus">&nbsp;</i>Add new service</a> 
								</div>
	
								
								<div class="modal fade" id="spec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
									<div class="modal-dialog">
										  <div class="modal-content">
										  
												<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
														</button>
													   <h4 class="modal-title" id="exampleModalLabel">Add new service(s)</h4>
												</div>
												
												<div class="modal-body">
												   
												   
												   
													   <!-- Add services -->
																<div class="calender_slct_customer_cont" >


																<!-- <input MaxLength="200" id="auto_search"  onfocus="$('#search').css('display', 'block');
																			$('#auto_search').css('display', 'none');
																			$('#search').focus();" type="text" value="Type Service Name to Search" />-->

																<input  style="border:1px solid #ccc" class="form-control" MaxLength="200" id="search" name="keywords" onkeyup="searchServices();" autocomplete="off"  type="text" placeholder="Type Service Name to Search" />



																<div class="calender_service_opt_slct" id="keywordsResult">
																	<?php if ($this->serviceAvailable): ?>
																		<?php foreach ($this->serviceAvailable as $serviceAvailable): ?>
																			<?php $serviceDetails = $modelServices->getById($serviceAvailable['service_id']); ?>

																				<div id="service_result_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
																					<a href="javascript:;" 
																					   onclick="checkService('<?php echo $this->escape($serviceAvailable['service_id']); ?>', 'service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>', 'min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>');">
																						<ul class="service-list">
																							<li><img  src="/pic/arrow_down.png" border="0"/></li>
																							<li  id="service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
																								<?php echo $this->escape($serviceDetails['service_name']); ?></li>
																							<li class="calender_minimum_price_txt">Minimum Price:</li>
																							<li id="min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
																								<?php echo $this->escape($serviceDetails['min_price']); ?></li>    
																						</ul>
																					</a>
																				</div>

																		<?php endforeach; ?>
																	<?php endif; ?>
																</div> 

															</div>
															
															
												</div>
										  </div>
									</div>
								</div>
								<div class="clearfix"></div>
								</div>
							</div>	
						</div>
					</div>
				</div>
					
</div>
					
					
					<div class="ibox services no-margin-b"> 
					
							<div class="ibox-title col-md-12 col-lg-12 col-sm-12 col-xs-12 services_head">
									<div>&nbsp;
										<i class="fa fa-star">&nbsp;</i>
										Services 
									</div>
									
							</div>	
							
							<div class="ibox-content services_content" style="background-color:#788492 !important;">
								
								
								
								
								
								   <?php if ($this->bookingServices): ?>
										<?php $user = CheckAuth::getLoggedUser(); ?>
										<?php foreach ($this->bookingServices as $bookingService): ?>
											<?php
											$serviceId = isset($bookingService['service_id']) ? $bookingService['service_id'] : 0;
											$clone = isset($bookingService['clone']) ? $bookingService['clone'] : 0;
											$bookingId = isset($bookingService['booking_id']) ? $bookingService['booking_id'] : 0;
											$contractorId = isset($bookingService['contractor_id']) ? $bookingService['contractor_id'] : 0;
											$serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
											$serviceDetails = $modelServices->getById($serviceId);
											$disable = false;
											//$display = 'block';
											$style = '';
											if (!CheckAuth::checkCredential(array('CanAssignContractorToBooking'))) {
												if ($contractorId != $user['user_id']) {
													$disable = true;
													//$display = 'none';
													$style = 'ground-color: gainsboro;';
												}
											}
											?>
											
													
												<div class="ibox"  id="service_checked_<?php echo $this->escape($serviceAndClone); ?>" style="display: <?php echo isset($display) && $display ? $display : 'block';?>"  >
													
													<div class="ibox-title service_auto_generate_title">
													
															<div class="inline">
																	<i class="fa fa-star">&nbsp;</i>
																	<b> <?php echo $this->escape($serviceDetails['service_name']); ?></b>
															</div>
															
															<div class="inline float-r">
																<?php if (!$disable) : ?>
																		<ul class="new_service_operation">
																				   <li>
																						<a href="javascript:;" onclick="removeService('<?php echo $this->escape($serviceAndClone); ?>')">
																						<img src="/pic/icons/delete.png"/>Remove</a>
																				   </li>
																				   
																				   <li>
																						<a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceId); ?>', 'service_name_<?php echo $this->escape($serviceId); ?>', 'min_price_<?php echo $this->escape($serviceId); ?>')"><img src="/pic/icons/clone.png"/>Clone</a>
																				   </li>
																				   
																				  <?php if ($this->isTempService && $bookingService['is_change'] && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
																				   <li>
																						<a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id'], 'service_id' => $serviceId, 'clone' => $clone), 'ignoreService')); ?>"><img src="/pic/icons/ignore.png" border="0"/>Ignore</a>
																				   </li>
																				 <?php endif ?>
																		</ul>
																<?php endif ?>
															</div>	
															
															<div class="clearfix"></div>
													</div>
													
													<div class="ibox-content">
																<div  class="row" id="attribute_<?php echo $this->escape($serviceAndClone); ?>">
																			<?php
																			$attributess= array();
																			$serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);
																			$counterr=0;
																			foreach ($serviceAttribute as $attribute):
																			?>
																	
																					
																				<?php 
																					$attribute_name = $this->escape($attribute['attribute_name']).':'; ;
																					$attribute_field = drowAttribute($attribute, $bookingId, 0, $clone, $this->is_temp, $disable, $style);
																					
																					if($counterr < 3){
																							$attributess[]='<div  class="form-group attributes_group col-md-4">
																							 <label class="control-label col-md-3">'.$attribute_name.'</label>
																							 <div class="col-md-9">'.$attribute_field.'
																							 </div></div>'; 
																					}else{
																						$attributess[]='<div  class="form-group services_attributes_with_background">
																							 <label class="control-label col-md-2">'.$attribute_name.'</label>
																							 <div class="col-md-10">'.$attribute_field.'
																							 </div></div>'; 
																						
																					}?> 
																							
																			<?php 
																				$counterr++; 
																				endforeach; ?>
																			
																			<?php 
																				$first_attribute = array_slice($attributess, 0, 3); 
																				 echo implode('&ensp;', $first_attribute); 
																			?>
																			
																			
																			<div class="form-group  col-md-4 col-sm-4 service_amount">
																				<label class="control-label col-md-3 ">Amount</label>
																				 <div class="col-md-9 " id="min_price_total_<?php echo $this->escape($serviceAndClone); ?>" >
																					<p class="service_total_amount"><?php echo $this->escape($this->priceArray[$serviceAndClone] < $serviceDetails['min_price'] && $bookingService['consider_min_price'] == 1 ? number_format($serviceDetails['min_price'], 2) : number_format($this->priceArray[$serviceAndClone], 2)); ?></p>
																				</div>
																			</div>
																			
																			
																			<div class="form-group  col-md-4 col-sm-4  this_service_total">
																				<label class="control-label col-md-3">Total</label>
																				<div  class="col-md-9 "  id="total_<?php echo $this->escape($serviceAndClone); ?>" >
																					<p class="service_total_amount"><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></p>
																				
																				</div>
																			</div>
																			
																			
																			<div class="col-md-4 col-sm-12 col-xs-12  service_consider_min_price">
																					<span class="consider_min_price">
																					
																					<b class="inline " style="">Minimum Price: $ <?php echo $this->escape($serviceDetails['min_price']); ?></b>
																					
																					<div class="switch inline">
																						<div class="onoffswitch custome_service_switch">
																						<input <?php if ($disable) : ?>disabled="disabled"<?php endif; ?> class="checkbox_consider_min_price onoffswitch-checkbox" id="checkbox_consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" onclick="countServicePrice(<?php echo "'" . $this->escape($serviceId) . "'" . ($clone ? ",'" . $this->escape($clone) . "checked='checked'" : ""); ?>);" <?php echo isset($bookingService['consider_min_price']) && $bookingService['consider_min_price'] ? 'checked="checked"' : ''; ?> type="checkbox"/>																			
																							<label class="onoffswitch-label" for="checkbox_consider_min_price_<?php echo $this->escape($serviceAndClone); ?>">
																								<span class="onoffswitch-inner"></span>
																								<span class="onoffswitch-switch"></span>
																							</label>
																						</div>
																					</div>	
																					</span>
																			</div>	
																			
																				
																</div>
													
							
																	 
														
												
													<div class="ibox-content">
														<div class="row col-md-10">
															<div class="form-group">
																<label class="cx-label col-md-2 control-label">Technician :</label>
																	   <div class="col-md-10">
																	   
																			<span id="contractor_<?php echo $this->escape($serviceAndClone); ?>" >
																				<?php if (!CheckAuth::checkCredential(array('CanAssignContractorToBooking'))) : ?>

                                                            <?php $modelUser = new Model_User(); ?>
                                                            <?php $user = $modelUser->getById($contractorId); ?>
                                                            <?php $modelContractorInfo = new Model_ContractorInfo(); ?>
                                                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                                            <?php echo $this->escape(ucwords($user['username']) . (!empty($contractorInfo['business_name']) ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                            <input type="hidden" value="<?php echo $this->escape($contractorId); ?>" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                        <?php else: ?>
                                                            <?php $cityId = !empty($this->bookingCity['city_id']) ? $this->bookingCity['city_id'] : 0; ?>
                                                            <?php $contractorService = $modelContractorService->getContractorByServiceIdAndCityId($serviceId, $cityId, TRUE); ?>

                                                            <select class="required dropdown form-control" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                                <option value="">Select One</option>
                                                                <?php foreach ($contractorService as $contractor_id => $contractor_name): ?>
                                                                    <option value="<?php echo $this->escape($contractor_id); ?>" <?php echo $this->escape(isset($contractorId) ? ($contractorId == $contractor_id ? "selected" : "") : ""); ?>><?php echo $this->escape($contractor_name); ?></option>
                                                                <?php endforeach; ?>
                                                            </select>
                                                        <?php endif; ?>

																			
											   
																			</span>
																	  </div>
															   </div>
															   
															   <?php
																	$other_attribute = array_slice($attributess,3); 
																	echo implode($other_attribute);
																?>
														</div>
														
														
														
													</div>
														
									
								
								
									
											<input type="hidden" value="<?php echo $this->escape($serviceAndClone); ?>" name="services[]">
											<input type="hidden" id="min_<?php echo $this->escape($serviceAndClone); ?>" value="<?php echo $this->escape($serviceDetails['min_price']); ?>"/>
											<input name="consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" id="consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" value="<?php echo isset($bookingService['consider_min_price']) && $bookingService['consider_min_price'] ? '1' : '0'; ?>" type="hidden"/>                                           
												<div class="clearfix"></div> 
											
													</div>
												</div>
									<?php endforeach ; ?> 
									<?php endif;?>
								
								<div class="clearfix"></div>
								
								<div id="selectedServices">
									
									
								</div>
							</div>
								
						</div>
					
					
			
					
						<div class="col-md-5 col-md-offset-7 white-bg padding">
						
							<div class="form-group col-md-12">
									<label class="control-label col-md-3">Sub Total:</label>
									<div class="col-md-9 col-xs-12">
										 <input type="text"  readonly id="sub_total" class="input_readonly"
											value="<?php echo $this->escape(isset($this->subTotal) ? number_format($this->subTotal, 2) : ""); ?>" name="sub_total" />
									</div>
							</div>
							
							
							<div class="form-group col-md-12">
									<label class="control-label col-md-3 ">Discount:
									   <?php if ($this->totalDiscountTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                            <span class="service_clone" style="font-weight: normal;">
                                                <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreTotalDiscount')); ?>" >Ignore</a>
                                            </span>
                                        <?php endif ?>
										
										
									</label>
									<div class="col-md-9 ">
										  <input type="text" class="form-control" id="total_discount" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(isset($this->totalDiscount) ? number_format($this->totalDiscount, 2) : ""); ?>" name="total_discount"/>
									</div>
							</div>
							
							
							
							
							<div class="form-group col-md-12" style="display:<?php echo (!empty($this->callOutFee) ? 'block' : 'none'); ?>;">
									<label class="control-label col-md-3 ">  
											Call Out Fee: 
                                        <?php if ($this->callOutFeeTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                            <span class="service_clone" style="font-weight: normal;">
                                                <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreCallOutFee')); ?>" >Ignore</a>
                                            </span>
                                        <?php endif ?>
									</label>
									<div class="col-md-9 ">
										  <input type="text"  class="form-control" id="call_out_fee" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(!empty($this->callOutFee) ? number_format($this->callOutFee, 2) : "0"); ?>" name="call_out_fee"/>
									</div>
							</div>
							
							
							
							
							
							<div class="form-group col-md-12">
									<label class="control-label col-md-3 ">  
											GST (<?php echo (100 * get_config('gst_tax')); ?>%):
									</label>
									<div class="col-md-9">
										   <input readonly class="input_readonly" id="gst" type="text" value="<?php echo $this->escape(isset($this->gstTax) ? number_format($this->gstTax, 2) : ""); ?>" name="gst"/>
									</div>
							</div>
							
							
							<div class="form-group col-md-12">
									<label class="control-label col-md-3 ">  
											Total:
									</label>
									<div class="col-md-9 ">
										  <input readonly class="required input_readonly" id="total_qoute" type="text"  value="<?php echo $this->escape(isset($this->totalQoute) ? number_format($this->totalQoute, 2) : ""); ?>"name="total_qoute"/>
                                        <input id="timezone" name="timezone" type="hidden" value="" />
									</div>
							</div>
							
							
						
					
						</div>
						
					
						<div class="clearfix"></div>
						
		
				
				<!-- end  main block -->
				<?php $productCounter = 0; ?>
				
			<?php if($loggedUser['role_id'] == 1){?>
	<script>
		function check_befor_save_booking(){
		var status = $('#bookingStatus').val();
	
		if(status == 15){
			alert('You can`t edit booking with status AWAITING UPDATE , Please change status ');
			 $("#save_btn_cont").html(
                    '<a id="save_btn_cont" href="javascript:void(0);" id="save_btn_cont" onclick="save_booking(); return false;" class="btn_a">'+
                        '<div class="text_pos"><i class="fa fa-check "></i>'+
                        ' Save '+
                        '</div>'+
                        '</a>'
					);
		}else{
			save_booking();
		}
			}
	</script>
		<?php }else{ ?>
				<script>
				function check_befor_save_booking(){
					save_booking();
				}
				</script>
		<?php }?>
	
				
				
			</div>
		</div>
	</div>
	</form>
	<script>
		
					function UpdateTableHeaders() {
					   $(".services").each(function() {
					   
						   var el             = $(this),
							   offset         = el.offset(),
							   scrollTop      = $(window).scrollTop(),
							   floatingHeader = $(".floatingHeader", this)
						   
						   if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
							   floatingHeader.css({
								"visibility": "visible"
							   });
						   } else {
							   floatingHeader.css({
								"visibility": "hidden"
							   });      
						   };
					   });
					}

					// DOM Ready      
					$(function() {

					   var clonedHeaderRow;

					   $(".services").each(function() {
						   clonedHeaderRow = $(".services_head", this);
						   clonedHeaderRow
							 .before(clonedHeaderRow.clone())
							// .css("width", clonedHeaderRow.width())
							//.css({'position': 'fixed','top':'0','z-index':'1000'});
							.addClass("floatingHeader");
							 
					   });
					   
					   $(window)
						.scroll(UpdateTableHeaders)
						.trigger("scroll");
					   
					});
	</script>
	
<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>
