<?php
$modelServices = new Model_Services();
$modelContractorService = new Model_ContractorService();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelBookingStatus = new Model_BookingStatus();

$modelAuthRole = new Model_AuthRole();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$loggedUser = CheckAuth::getLoggedUser();


?>

<div class="ibox float-e-margins" style="margin-top:25px;">
    <div class="ibox-content">
	
        <div class="row">
            <div class="col-md-5">
                <?php If (isset($this->fromEstimate) && $this->fromEstimate): ?>
                    <h3>
                        Edit Estimate
                    </h3>
                <?php else: ?>
                    <h3>
                        Edit Booking
                    </h3>
                <?php endif; ?>
            </div>
            <div class="col-md-7 ">
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">         
                <nav>
                    <a href="<?php echo $this->escape($this->url(array(), 'booking')); ?>" class="btn btn-white btn-bitbucket"><i class="fa fa-long-arrow-left"></i>&nbsp;Back</a>
                    <a href="javascript:void(0);" onclick="check_befor_save_booking();
                            return false;" id="save_btn_cont" class="btn btn-white "><i class="fa fa-check "></i> Save </a>
                       <?php if (CheckAuth::checkCredential(array('bookingDelete'))): ?>
                        <a href="javascript:void(0);" onclick="return confirm('are you sure you want to delete this Estimate?');" class="btn  btn-white"><i class="fa fa-times "></i>&nbsp;Delete</a>                
                    <?php endif; ?>     

                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="NearestBooking2('Nearest Booking')" class="btn  btn-white">Nearest Booking</a>
                    <?php
                    $bookingAddress = $this->bookingAddress;
                    $findAvailabilityParams = array();
                    $findAvailabilityParams [] = 'unit_lot_number=' . urlencode($bookingAddress ['unit_lot_number']);
                    $findAvailabilityParams [] = 'street_number=' . urlencode($bookingAddress ['street_number']);
                    $findAvailabilityParams [] = 'street_address=' . urlencode($bookingAddress ['street_address']);
                    $findAvailabilityParams [] = 'suburb=' . urlencode($bookingAddress ['suburb']);
                    $findAvailabilityParams [] = 'state=' . urlencode($bookingAddress ['state']);
                    $findAvailabilityParams [] = 'postcode=' . urlencode($bookingAddress ['postcode']);
                    $findAvailabilityParams [] = 'booking_id=' . urlencode($this->booking ['booking_id']);
                    $findAvailabilityParams [] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->booking ['booking_start'])));
                    $findAvailabilityParams [] = 'city_id=' . urlencode($this->booking ['city_id']);
                    foreach ($this->bookingServices as $service) {
                        $findAvailabilityParams [] = 'services[]=' . urlencode($service ['service_id']);
                    }
                    $findAvailabilityParams = implode("&", $findAvailabilityParams);
                    ?>
                    <a href="#" data-toggle="modal" data-target="#popupi" class="btn  btn-white" onclick="popupi_with_parm('Find Availability', '<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>', '<?php echo $this->escape($findAvailabilityParams) ?>');">
                        Find Availability</a>
                    <?php if ($this->is_temp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                        <a  id="Closebtn" class="btn  btn-white" href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreAll')); ?>">
                            Ignore All Changes</a>
                    <?php endif; ?>
                </nav>


            </div>
        </div>
    </div>
</div>


<!-- error notification -->

<?php if ($this->errorMessages): ?>

    <?php foreach ($this->errorMessages as $errorMessage): ?>
        <div class="alert alert-danger"><?php echo $errorMessage; ?></div>
    <?php endforeach; ?>

<?php endif; ?>

<!-- end error notification -->

<form action="<?php echo $this->escape($this->url(array(), 'editBooking')); ?>" class="form-horizontal" id="fmEdit" method="post">
    <input type="hidden" id="booking_id" name="booking_id" value="<?php echo $this->escape(isset($this->event['booking_id']) ? $this->event['booking_id'] : "" ) ?>" />
    <div class="ibox no-margin-b" >
        <div class="ibox-content" >
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Select customer</label>
                       


					   <div class="col-lg-10" style="margin-top: 15px;">
                            <div class="input-group col-md-7 " style="position: relative;">
                                <?php if ($this->canEditDetails): ?>
                                    <input placeholder="Customer Name" name="search" onkeyup= 'customerSearchInput()' class="edit-form-search autocomplete_search form-control" type="text"  value="<?php echo $this->escape($this->customer_name ? $this->customer_name : '') ?>" id="auto_customer_id" autocomplete="off" />	
                                    <div class="searchCustomerInputResult" id="customerResultInput"></div>
                                    <input type="hidden" id="customer_id" name="customer_id" class="text_input required" value="<?php echo $this->escape(isset($this->event['customer_id']) && !empty($this->event['customer_id']) ? $this->event['customer_id'] : '') ?>" />
                                    <?php if ($this->canEditDetails): ?> 
                                        <span class="input-group-btn">
                                            <a style="line-height: 1.33;padding:8px 12px;" class="btn btn-m btn-primary "  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Customer list', '<?php echo $this->escape($this->url(array(), 'dropDownCustomerList')); ?>');">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </span>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <?php
                                    $customerId = $this->escape(isset($this->event['customer_id']) ? $this->event['customer_id'] : 0);

                                    $modelCustomer = new Model_Customer();
                                    $customer = $modelCustomer->getById($customerId);
                                    ?>
                                    <input class="text_input edit-form-search autocomplete_search form-control" readonly  type="text" value="<?php echo $this->escape(get_customer_name($customer)); ?>" />

                                <?php endif; ?>	 

                            </div>
                            <div>
                                <ul class="inline-list">

                                    <!-- new customer and edit customer links -->

                                    <?php if ($this->canEditDetails): ?>

                                        <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                                            <li><a href="#" data-toggle="modal" data-target="#popupi" onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');">
                                                    new customer
                                                </a></li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                                            <?php if (isset($this->event['customer_id']) && $this->event['customer_id']) ; ?>
                                            &nbsp; <li><a href="#" data-toggle="modal" data-target="#popupi"onclick="editCustomer();" id="edit_customer">edit customer</a>
                                            </li>
                                        <?php endif; ?>
                                    <?php endif; ?>

                                </ul> 

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Trading Name </label>
                        <div class="col-lg-6">
                            <select class="form-control" name="trading_name">
                                <option>Please Select Trading Name</option>
                                <?php
                                $selected = "";
                                foreach ($this->tradingNames as $key => $tr_names) {
                                    if ($this->booking['trading_names_id'] == $tr_names['trading_name_id']) {

                                        $selected = 'selected';
                                        echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                    } else {
                                        $selected = '';
                                        echo '<option ' . $selected . ' value=' . $tr_names['trading_name_id'] . '>' . $tr_names['trading_name'] . '</option>';
                                    }
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

        </div>
		
        <div class="ibox-content" >	   
            <div class="row">
                <div class="col-md-8">
                    <div id="booking_address">
                        <h3>Booking Address</h3>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Unit / Lot No.</label>
                            <div class="col-lg-9">
                                <input class="text_input form-control" name="unit_lot_number"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['unit_lot_number']) ? $this->bookingAddress['unit_lot_number'] : "") ?>" />
                            </div>		 
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Street Number</label>
                            <div class="col-lg-9">
                                <input class="text_input required form-control" name="street_number"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_number']) ? $this->bookingAddress['street_number'] : "") ?>" />			 
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Street Name</label>
                            <div class="col-lg-9">
                                <input class="text_input required form-control" name="street_address"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_address']) ? $this->bookingAddress['street_address'] : "") ?>" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Suburb</label>
                            <div class="col-lg-9">
                                <input class="text_input required form-control" name="suburb"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['suburb']) ? $this->bookingAddress['suburb'] : "") ?>" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Post code</label>
                            <div class="col-lg-9">
                                <input class="text_input required form-control" name="postcode"  type="text" value="<?php echo $this->escape(isset($this->bookingAddress['postcode']) ? $this->bookingAddress['postcode'] : "") ?>" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">P.O. box</label>

                            <?php if ($this->isTempAddress && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>		  
                                <div class="col-lg-7">
                                    <input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['po_box']) ? $this->bookingAddress['po_box'] : "") ?>" />
                                </div>
                                <div class="col-md-2">
                                    <span class="service_clone" style="font-weight: normal; float: left; margin-left: 10px;">
                                        <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreBookingAddress')); ?>" >Ignore Address Changes</a>
                                    </span>


                                </div>
                            <?php else: ?>

                                <div class="col-lg-9">
                                    <input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->bookingAddress['po_box']) ? $this->bookingAddress['po_box'] : "") ?>" />
                                </div>

                            <?php endif; ?>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Booking Status</label>
                        <div class="col-lg-9">
						
						
                            <select class="required dropdown form-control"  id="bookingStatus" onchange="check_booking_status();" name="bookingStatus">
                                <option value="">Select One</option>
								
                                <?php foreach ($this->bookingStatus as $status): ?>
								
                                    <option value="<?php echo $this->escape($status['booking_status_id']); ?>" <?php echo $this->escape(isset($this->event['status_id']) ? ($this->event['status_id'] == $status['booking_status_id'] ? "selected" : "") : ""); ?>><?php echo $this->escape($status['name']); ?></option>
                                <?php endforeach; ?>

                            </select>

                            <i id="booking_status_loading"></i>
                            <input id="previous_status_value" name="previous_status_value" type="hidden" value="<?php echo $this->escape($this->event['status_id']) ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Title</label>
                        <div class="col-lg-9">
                            <?php if ($this->canEditDetails): ?>
                                <?php /*  <input  readonly="readonly" MaxLength="200" id="auto_booking_title" class="text_input" 
                                  display:<?php echo $this->escape(isset($this->event['title']) && $this->event['title'] ? 'none' : 'block') ?>;"
                                  onfocus="$('#booking_title').css('display','block');$('#auto_booking_title').css('display','none');$('#booking_title').focus();"
                                  type="text" value="will be auto Generated" />

                                 */ ?>
                                <input  readonly="readonly"  id="booking_title" class="text_input form-control" name="title"  
                                        style="display:<?php echo $this->escape(isset($this->event['title']) && $this->event['title'] ? 'inline-block' : 'none') ?>;" 
                                        onblur="if (!$('#booking_title').val()) {
                                                        $('#auto_booking_title').css('display', 'block');
                                                        $('#booking_title').css('display', 'none');
                                                    }" 
                                        type="text" value="<?php echo $this->escape(isset($this->event['title']) ? $this->event['title'] : "") ?>" />

                            <?php else: ?>


                                <input  readonly class="text_input form-control" id="Subject"  type="text" value="<?php echo $this->escape(isset($this->event['title']) ? $this->event['title'] : "") ?>" />
                            <?php endif; ?>
                        </div>
                    </div>


                    <!-- Quoted -->
                    <?php $quoted = $modelBookingStatus->getByStatusName('QUOTED'); ?>
                    <div id ="booking_time" style="display: <?php echo $this->escape($this->event['status_id'] == $quoted['booking_status_id'] ? 'none' : 'block') ?>">

                        <?php if ($this->canEditDetails): ?>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-lg-3 control-label"> Time</label>


                                    <?php
                                    if (isset($this->event)) {

                                        if ($this->event['booking_start']) {
                                            $sarr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_start'])));
                                        }
                                        if ($this->event['booking_end']) {
                                            $earr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_end'])));
                                        }
                                    } else {
                                        $sarr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
                                        $earr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
                                    }
                                    ?>	  

                                    <div class="col-md-9" style="padding-left: 22px;">
                                        <label for="IsAllDayEvent" class="checkup">
                                            <?php $checked = (isset($this->event['is_all_day_event']) && $this->event['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                            <input id="IsAllDayEvent" name="isAllDayEvent" type="checkbox" value="1" <?php echo $checked; ?> /> 
                                            All Day Event
                                        </label>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-9" style="padding-left: 22px;padding-right: 32px;">
                                        <div class="row">
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date11">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" class="required date text_input ends_before_starts sdatepicker form-control" id="stpartdate" name="stpartdate" readonly type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />  

                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#date11 .input-group.date').datepicker({
                                                            todayBtn: "linked",
                                                            keyboardNavigation: false,
                                                            forceParse: false,
                                                            calendarWeeks: true,
                                                            autoclose: true,
                                                            format: 'mm/dd/yyyy'
                                                        });
                                                    });
                                                </script>

                                                <div class="col-md-6" id="startTimeDiv">
                                                    <div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5"  class="required time text_input stimepicker form-control" id="stparttime" name="stparttime" readonly type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />                               

                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    $('.clockpicker1').clockpicker();
                                                </script>

                                            </div>

                                            <div class="col-md-12">To</div>
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date2">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" class="required date text_input sdatepicker form-control" id="etpartdate" name="etpartdate" readonly type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />

                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="endTimeDiv">
                                                    <div class="input-group clockpicker2" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5" class="required time text_input stimepicker form-control" id="etparttime" name="etparttime" readonly type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />

                                                    </div>
                                                </div>


                                                <script type="text/javascript">
                                                    $('.clockpicker2').clockpicker();
                                                </script>

                                            </div>


                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $('#date2 .input-group.date').datepicker({
                                                        todayBtn: "linked",
                                                        keyboardNavigation: false,
                                                        forceParse: false,
                                                        calendarWeeks: true,
                                                        autoclose: true,
                                                        format: 'mm/dd/yyyy'
                                                    });
                                                });
                                            </script>


                                        </div>

                                    </div>

                                </div>
                            </div>
                        <?php else: ?>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-lg-3 control-label"> Time</label>


                                    <?php
                                    if (isset($this->event)) {
                                        if ($this->event['booking_start']) {
                                            $sarr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_start'])));
                                        }
                                        if ($this->event['booking_end']) {
                                            $earr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_end'])));
                                        }
                                    } else {
                                        $sarr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
                                        $earr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
                                    }
                                    ?>  

                                    <div class="col-md-9" style="padding-left: 22px;">
                                        <label for="IsAllDayEvent" class="checkup">
                                            <?php $checked = (isset($this->event['is_all_day_event']) && $this->event['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                            <input id="IsAllDayEvent" name="isAllDayEvent" type="checkbox" value="1" <?php echo $checked; ?> /> 
                                            All Day Event
                                        </label>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-9" style="padding-left: 22px;padding-right: 32px;">
                                        <div class="row">
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date1">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" class="required date text_input sdatepicker form-control" id="stpartdate" name="stpartdate" readonly  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />                            
                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#date1 .input-group.date').datepicker({
                                                            todayBtn: "linked",
                                                            keyboardNavigation: false,
                                                            forceParse: false,
                                                            calendarWeeks: true,
                                                            autoclose: true,
                                                            format: 'mm/dd/yyyy'
                                                        });
                                                    });
                                                </script>

                                                <div class="col-md-6" id="startTimeDiv">
                                                    <div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5"  class="required time text_input stimepicker form-control" id="stparttime" name="stparttime" readonly type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />

                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    $('.clockpicker1').clockpicker();
                                                </script>

                                            </div>

                                            <div class="col-md-12">To</div>
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date2">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input MaxLength="10" class="required date text_input sdatepicker form-control" id="etpartdate" name="etpartdate" readonly  type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />

                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="endTimeDiv">
                                                    <div class="input-group clockpicker2" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input MaxLength="5" class="required time text_input stimepicker form-control" id="etparttime" name="etparttime" readonly type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />

                                                    </div>
                                                </div>


                                                <script type="text/javascript">
                                                    $('.clockpicker2').clockpicker();
                                                </script>

                                            </div>


                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $('#date2 .input-group.date').datepicker({
                                                        todayBtn: "linked",
                                                        keyboardNavigation: false,
                                                        forceParse: false,
                                                        calendarWeeks: true,
                                                        autoclose: true,
                                                        format: 'mm/dd/yyyy'
                                                    });
                                                });
                                            </script>


                                        </div>

                                    </div>

                                </div>
                            </div>					  



                        <?php endif; ?>


                        <?php if (count($this->multipleDays)): ?>
                            <?php foreach ($this->multipleDays as $key => $multipleDay): ?>
                                <?php
                                $sarr = explode(" ", php2JsTime(mySql2PhpTime($multipleDay['booking_start'])));
                                $earr = explode(" ", php2JsTime(mySql2PhpTime($multipleDay['booking_end'])));
                                ?>




                                <div id="multiple_day_<?php echo $key + 1; ?>">
                                    <div class="row">
                                        <label class="col-lg-3 control-label">More Time</label>
                                        <div class="col-md-9" style="padding-left: 22px;">
                                            <label class="checkup">
                                                <?php $checked = (isset($multipleDay['is_all_day_event']) && $multipleDay['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                                <input id="isAllDayEvent_<?php echo $key + 1; ?>" class="multi_isAllDayEvent" onchange="changeIsAllDayEvent('<?php echo $key + 1; ?>');" name="multi_isAllDayEvent[<?php echo $key + 1; ?>]" type="checkbox" <?php echo $checked; ?> value="1"/> All Day Event
                                            </label>
                                            <a href="javascript:;" onclick="$('#multiple_day_<?php echo $key + 1; ?>').remove();">
                                                <img src="/pic/remove.png" border="0" style="vertical-align: middle;" />
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                       
                                        <div class="col-lg-9 col-md-offset-3" style="padding-left: 22px;padding-right: 32px;">
                                            <div class="row">
                                                <div class="row" style="margin:0px">
                                                    <div class="col-md-6" id="date1">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                            <input MaxLength="10" class="required date text_input more_stpartdate more_ends_before_starts sdatepicker form-control" onchange="changeStpartdate('<?php echo $key + 1; ?>');" id="stpartdate_<?php echo $key + 1; ?>" name="multi_stpartdate[<?php echo $key + 1; ?>]" readonly  type="text" value="<?php echo (isset($sarr[0]) ? $sarr[0] : ""); ?>" />        

                                                        </div>
                                                    </div>



                                                    <div class="col-md-6" id="startTimeDiv">
                                                        <div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                            <input MaxLength="5"  class="required time text_input more_stparttime etparttime stimepicker form-control" onchange="changeStparttime('<?php echo $key + 1; ?>');" id="stparttime_<?php echo $key + 1; ?>" name="multi_stparttime[<?php echo $key + 1; ?>]" readonly  type="text" value="<?php echo (isset($sarr[1]) ? $sarr[1] : ""); ?>" />

                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="col-md-12">To</div>
                                                <div class="row" style="margin:0px">
                                                    <div class="col-md-6" id="date2">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                            <input MaxLength="10" class="required date text_input more_etpartdate sdatepicker form-control" id="etpartdate_<?php echo $key + 1; ?>" name="multi_etpartdate[<?php echo $key + 1; ?>]" readonly  type="text" value="<?php echo (isset($earr[0]) ? $earr[0] : ""); ?>" />             

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" id="endTimeDiv">
                                                        <div class="input-group clockpicker2" data-placement="bottom" data-align="top" data-autoclose="true">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                            <input MaxLength="5" class="required time text_input more_etparttime stimepicker form-control" id="etparttime_<?php echo $key + 1; ?>" name="multi_etparttime[<?php echo $key + 1; ?>]" readonly  type="text" value="<?php echo (isset($earr[1]) ? $earr[1] : ""); ?>" />

                                                        </div>
                                                    </div>

                                                </div>




                                            </div>

                                        </div>

                                    </div>
                                </div>



                            <?php endforeach; ?>
                        <?php endif; ?>


                        <div id="multiple_days"></div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9"><label><a href="javascript:;" onclick="add_more_time();">Add more time</a></label></div>
                        </div> 

                    </div>

                    <?php if ($this->canEditDetails): ?>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Country</label>
                            <div class="col-md-9">
                                <select class="required dropdown form-control" id="country" name="country" onchange="getStateByCountryId();">
                                    <option value="">Select One</option>

                                    <?php foreach ($this->countries as $country): ?>
                                        <option value="<?php echo $this->escape($country['country_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['country_id']) ? ($this->bookingCity['country_id'] == $country['country_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($country['country_name']); ?></option>
                                    <?php endforeach; ?>
                                </select> 
                            </div>

                        </div>



                    <?php else: ?>

                        <?php
                        $country_id = $this->escape(isset($this->bookingCity['country_id']) ? $this->bookingCity['country_id'] : 0);
                        $modelCountries = new Model_Countries();
                        $country = $modelCountries->getById($country_id);
                        ?>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Country</label>
                            <div class="col-md-9">
                                <input class="text_input form-control" readonly  type="text" value="<?php echo $this->escape($country['country_name']); ?>" />
                            </div>
                        </div>
                    <?php endif; ?>
                    <!--  end select country options -->	

                    <div id="display_state" style="<?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>" class="form-group">
                        <label class="col-lg-3 control-label">State</label>
                        <div id="state_cont" class="col-lg-9">
                            <?php if ($this->canEditDetails): ?>
                                <select id="state" class="dropdown form-control" onchange="$('#state').addClass('required');
                                            getCitiesByCountryId();" name="state">
                                    <option value="">Select One</option>
                                    <?php foreach ($this->states as $state): ?>
                                        <option value="<?php echo $this->escape($state); ?>" <?php echo $this->escape(isset($this->bookingCity['state']) ? ($this->bookingCity['state'] == $state ? "selected" : "") : ''); ?>><?php echo $this->escape($state); ?></option>
                                    <?php endforeach; ?>
                                </select>
                            <?php else: ?>
                                <input name="state" class="text_input form-control" readonly  type="text" value="<?php echo $this->escape(isset($this->bookingCity['state']) ? $this->bookingCity['state'] : ''); ?>" />
                            <?php endif; ?>
                        </div> 

                    </div>	

                    <!-- city -->
                    <div id="display_city" style="<?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>" class="form-group">
                        <label class="col-lg-3 control-label">City</label>
                        <div id="city_cont" class="col-lg-9">
                            <?php if ($this->canEditDetails): ?>
                                <select id="city_id"  onchange="$('#city_id').addClass('required');
                                            getServices();" name="city_id" class="form-control">
                                    <option value="">Select One</option>
                                    <?php foreach ($this->cities as $city): ?>
                                        <option value="<?php echo $this->escape($city['city_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['city_id']) ? ($this->bookingCity['city_id'] == $city['city_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($city['city_name']); ?></option>
                                    <?php endforeach; ?>
                                </select>

                            <?php else: ?>

                                <?php
                                $city_id = $this->escape(isset($this->bookingCity['city_id']) ? $this->bookingCity['city_id'] : 0);
                                $modelCities = new Model_Cities();
                                $city = $modelCities->getById($city_id);
                                ?>
                                <input class="text_input form-control" readonly  type="text" value="<?php echo $this->escape($city['city_name']); ?>" />
                                <input type="hidden"  id="city_id" name="city_id" value="<?php echo $this->escape($city_id); ?>"/>
                            <?php endif; ?>
                        </div>
                    </div>	

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Property Type</label>
                        <div class="col-lg-9">
                            <?php if ($this->canEditDetails): ?>
                                <select id="property_type" class="select_field form-control" name="property_type">
                                    <option value="">Select One</option>
                                    <?php foreach ($this->propertyTypes as $propertyType): ?>
                                        <option value="<?php echo $this->escape($propertyType['id']); ?>" <?php echo $this->escape(isset($this->event['property_type_id']) ? ($this->event['property_type_id'] == $propertyType['id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($propertyType['property_type']); ?></option>
                                    <?php endforeach; ?>
                                </select>
                            <?php else: ?>
                                <?php
                                $property_type_id = $this->escape(isset($this->event['property_type_id']) ? $this->event['property_type_id'] : 0);
                                $modelPropertyType = new Model_PropertyType();
                                $property_type = $modelPropertyType->getById($property_type_id);
                                ?>
                                <input class="text_input form-control" readonly  type="text" value="<?php echo $this->escape($property_type['property_type']); ?>" />
                            <?php endif; ?>


                        </div>
                    </div>

                    <div id="block_booking_completed" >
                        <?php
                        $status_id = isset($this->event['status_id']) ? $this->event['status_id'] : 0;
                        $bookingStatus = $modelBookingStatus->getById($status_id);
                        ?>
                        <?php $productCounter = 0; ?>
                        <?php if (isset($bookingStatus['name']) && ('COMPLETED' == $bookingStatus['name'] || 'FAILED' == $bookingStatus['name'])): ?>
                            <div class="extra_field">

                                <div class="form-group">
                                    <label class="col-lg-3 control-label" >Onsite Client Name</label>
                                    <div class="col-lg-9" >
                                        <input MaxLength="200" class="required text_input form-control" id="onsite_client_name" name="onsite_client_name"  type="text" value="<?php echo $this->escape(isset($this->event['onsite_client_name']) ? $this->event['onsite_client_name'] : "") ?>" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label" >Job Start Time</label>
                                    <div class="col-lg-9" >
                                        <input MaxLength="200" class="required text_input form-control" id="job_start_time" readonly name="job_start_time"  type="text" value="<?php echo $this->escape(isset($this->event['job_start_time']) ? date('d-m-Y h:i A', $this->event['job_start_time']) : date('d-m-Y h:i A', strtotime($sarr[0] . ' ' . $sarr[1]))) ?>" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-3 control-label" >Job Finish Time</label>
                                    <div class="col-lg-9" >
                                        <input MaxLength="200" class="required text_input form-control" id="job_finish_time" readonly name="job_finish_time"   type="text" value="<?php echo $this->escape(isset($this->event['job_finish_time']) ? date('d-m-Y h:i A', $this->event['job_finish_time']) : date('d-m-Y h:i A', strtotime($earr[0] . ' ' . $earr[1]))) ?>" />

                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Customer Satisfaction</label>
                                    <div class="col-lg-9">

                                        <table align="center" id="satisfaction" class="table table-bordered">
                                            <tbody><tr>
                                                    <td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_1">Very Dissatisfied</label></td>
                                                    <td>
                                                        <label for="satisfaction_1" style="margin-left: 6px;">1</label>
                                                    </td>
                                                    <td>            
                                                        <label for="satisfaction_2" style="margin-left: 6px;">2</label>
                                                    </td>
                                                    <td>            
                                                        <label for="satisfaction_3" style="margin-left: 6px;">3</label>
                                                    </td>
                                                    <td>            
                                                        <label for="satisfaction_4" style="margin-left: 6px;">4</label>
                                                    </td>
                                                    <td>            
                                                        <label for="satisfaction_5" style="margin-left: 6px;">5</label>
                                                    </td>
                                                    <td style="width: 60px; text-align: center; color: gray;" rowspan="2"><label for="satisfaction_5">Very Satisfied</label></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 1 ? 'checked="checked"' : '') : ''); ?> class="required" id="satisfaction_1" name="satisfaction" value="1"/>
                                                    </td>
                                                    <td>
                                                        <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 2 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_2" name="satisfaction" value="2"/>
                                                    </td>
                                                    <td>            
                                                        <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 3 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_3" name="satisfaction" value="3"/> 
                                                    </td>
                                                    <td>            
                                                        <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 4 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_4" name="satisfaction" value="4"/> 
                                                    </td>
                                                    <td>            
                                                        <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 5 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_5" name="satisfaction" value="5"/> 
                                                    </td>
                                                </tr>
                                            </tbody>					

                                        </table>                          
                                    </div>
                                </div>



                            </div>





                            <!-- Product Name -->
                            <?php if ($this->allBookingProduct): ?>
                                <?php foreach ($this->allBookingProduct as $bookingProduct): ?>
                                    <div  id="product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Product Name</label>
                                            <div class="col-md-9">
                                                <div class="col-md-9" style="padding:0px">
                                                    <select name="product[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]"  class="form-control <?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>dropdown form-control">
                                                        <option value="">Select One</option>
                                                        <?php foreach ($this->products as $product): ?>
                                                            <?php $selected = $bookingProduct['product_id'] == $product['id'] ? 'selected="selected"' : ''; ?>
                                                            <option value="<?php echo $this->escape($product['id']); ?>" <?php echo $this->escape($selected); ?>><?php echo $this->escape($product['product']); ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </div>
                                                <div class="col-md-1">Ltr</div>
                                                <div class="col-md-2" style="padding:0px">
                                                    <input type="text" name="ltr[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="<?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>text_input form-control" value="<?php echo $this->escape(isset($bookingProduct['ltr']) ? $bookingProduct['ltr'] : ''); ?>" />

                                                </div>
                                                <?php if ($productCounter): ?>
                                                    <a style="position:absolute" href="javascript:;" onclick="$('#product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>').remove();">
                                                        <img src="/pic/remove.png" />
                                                    </a>

                                                <?php endif; ?>

                                            </div>
                                        </div>	
                                        <?php $productCounter++; ?>
                                    <?php endforeach; ?>
                                <?php endif; ?>                 
                                <!-- end-Product Name -->

                            </div>

                            <!-- add more product link-->
                            <div id="more_product">
                                <!-- more products generated here -->
                            </div>
							
							
							
							
                            <div class="row">
                                <div class="col-md-9 col-md-offset-3"><a href="javascript:;" onclick="add_more_product();"><label>add More Product</label></a></div>
                            </div>

                            <!-- extra comment -->
                            <br/>
                            <?php if ('COMPLETED' == $bookingStatus['name']): ?>    
                                <div class="form-group">
                                    <label class="col-md-3 control-label"> Extra Comments</label>
                                    <div class="col-md-9">
                                        <textarea class="long_text btextarea form-control" id="extra_comments " name="extra_comments"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?>        
                                        </textarea>
                                    </div>
                                </div>
                            <?php endif; ?>

                            <!--end extra comment -->

                            <!-- why textarea -->

                            <?php if ('FAILED' == $bookingStatus['name']): ?>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</label>
                                    <div class="col-lg-9">
                                        <textarea class="long_text required btextarea form-control" id="why" name="why">
                                            <?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?>
                                        </textarea>
                                        <input name="confirmResetAttribut" id="confirmResetAttribut" type="hidden" value="0"/>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <!-- end why textarea-->

                            <!-- if booking status IN PROGRESS-->
                        <?php elseif (isset($bookingStatus['name']) && 'TO DO' != $bookingStatus['name'] && 'IN PROGRESS' != $bookingStatus['name'] && 'QUOTED' != $bookingStatus['name']) : ?>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</label>
                                <div class="col-lg-9">
                                    <textarea class="long_text required btextarea form-control"  id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>					    
                                </div>                    
                            </div>            

                        <?php endif; ?>
                        <!-- end if-->

                        <!-- On hold booking status --> 
                        <?php if (isset($bookingStatus['name']) && 'ON HOLD' == $bookingStatus['name']): ?>
                            <div class="form-group">
                                <label class="col-md-3 control-label">To Follow</label>
                                <div class="col-md-9">
                                    <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required form-control"  readonly="readonly"  
                                           value="<?php echo $this->escape(isset($this->event['to_follow']) ? date('d-m-Y', $this->event['to_follow']) : ''); ?>" />
                                </div>
                            </div>                               
                        <?php elseif (isset($bookingStatus['name']) && 'QUOTED' == $bookingStatus['name']) : ?>


                                <div class="form-group">
                                    <label class="col-md-3 control-label">To Follow</label>
                                    <div class="col-md-8">
                                        <label class="control-label" >
                                            <?php $checked = (isset($this->is_to_follow) && !empty($this->is_to_follow)) ? 'checked="checked"' : ""; ?>
                                            <input name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" <?php echo $checked ?>/>
                                            Confirm
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" id="deferred_date_cont" <?php echo (isset($this->is_to_follow) && !empty($this->is_to_follow)) ? '' : 'style="display: none;"'; ?>>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-8"> 
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required form-control"  readonly="readonly"  value="<?php echo $this->escape(isset($this->event['to_follow']) ? date('d-m-Y', $this->event['to_follow']) : ''); ?>" />
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                            </span>
                                        </div>

                                        <script type="text/javascript">

                                            $(document).ready(function () {
                                                $('#datetimepicker2').datetimepicker({
                                                    format: 'D-M-YYYY LT'

                                                });
                                            });

                                        </script>

                                    </div>
                                </div>

                           
								
                            <hr/>

                        <?php endif; ?>
                        <!-- end on hold booking status -->	

                    </div>		
                    <?php
// here get all questions of this status

                    if ($this->questions) {
                        ?>
                        <div id="questions" name="questions" >
                            <?php
                            foreach ($this->questions as $question) {
                                ?>

                                
                                        <?php if ($question['question_type'] == 'text') { ?>
										<div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9"><textarea class="long_text required form-control"  id="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" ><?php echo $question['answer_text']; ?></textarea></div>
                                        </div>
										<?php } ?>
                                        <?php if ($question['question_type'] == 'boolean') { ?>
										<div class="form-group">
                                            <label class="col-md-3 control-label"><?php echo $question['question_text'] ?></label>
                                            <div class="col-md-9">
                                                <label style="margin-left: 6px;" >Yes</label>
                                                <input type="radio" class="required" id="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" value="yes" <?php if ($question['answer_text'] == 'yes') { ?> checked <?php } ?> />
                                                <label style="margin-left: 6px;" >NO</label>
                                                <input type="radio" class="required" id="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" value="no" <?php if ($question['answer_text'] == 'no') { ?> checked <?php } ?> />
                                            </div>
										</div>	
                                        <?php } ?>
                                        <?php if ($question['question_type'] == 'date') { ?>
										<div class="form-group">
                                            <label class="col-md-3 control-label"><?php echo $question['question_text'] ?></label>
                                            <div class="col-md-9">
                                                <input <?php if ($contractorRoleId != $loggedUser['role_id']) { ?> disabled <?php } ?> id="date_input" name="<?php echo $question['update_booking_question_id'] ? 'question_' . $question['update_booking_question_id'] : ''; ?>" class="form-control" type="text" value="<?php echo $question['answer_text']; ?>" />
                                            </div>
										</div>	
                                        <?php } ?>
                                    

                                <?php
                            }
                            ?>
                        </div>
                        <?php
                    }
                    ?>






                  
                </div>
             
					
					
		  
            <div class="row">	
					<div class="col-md-12">
						<div class="form-group">
							<label class="col-md-2 control-label">Description</label>
							<div class="col-md-6">
								<?php if ($this->canEditDetails): ?>
									<textarea class="long_text btextarea form-control" id="description" name="description" rows="15"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description'] : ""); ?></textarea>
								<?php else: ?>
									<textarea class="long_text btextarea form-control" id="description" readonly rows="15"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description'] : ""); ?></textarea>
								<?php endif; ?>

							</div>
						</div>
					</div>
			</div>
		
				<hr/> 
                <!-- Add services -->
 	   
            <div class="row">
                <div class="calender_slct_customer_cont col-md-offset-2 col-md-6" >


                    <!-- <input MaxLength="200" id="auto_search"  onfocus="$('#search').css('display', 'block');
                                $('#auto_search').css('display', 'none');
                                $('#search').focus();" type="text" value="Type Service Name to Search" />-->

                    <input class="form-control" MaxLength="200" id="search" name="keywords" onkeyup="searchServices();" autocomplete="off"  type="text" placeholder="Type Service Name to Search" />



                    <div class="calender_service_opt_slct" id="keywordsResult">
                        <?php if ($this->serviceAvailable): ?>
                            <?php foreach ($this->serviceAvailable as $serviceAvailable): ?>
                                <?php $serviceDetails = $modelServices->getById($serviceAvailable['service_id']); ?>

									<div id="service_result_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
										<a href="javascript:;" 
										   onclick="checkService('<?php echo $this->escape($serviceAvailable['service_id']); ?>', 'service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>', 'min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>');">
											<ul class="service-list">
												<li><img  src="/pic/arrow_down.png" border="0"/></li>
												<li  id="service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
													<?php echo $this->escape($serviceDetails['service_name']); ?></li>
												<li class="calender_minimum_price_txt">Minimum Price:</li>
												<li id="min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
													<?php echo $this->escape($serviceDetails['min_price']); ?></li>    
											</ul>
										</a>
									</div>

                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div> 

                </div><!-- end  search services -->
			</div>

 	   
            <div class="row">
				<div class="col-md-10">
					<div id="services" class="no-margin-b">   

                    <div class="service-description-with-invoice"> 

                        <div class="row service-header-list">
                            <div class="col-md-5 col-xs-5"><h4>Services</h4></div>
                            <div class="col-md-3 col-md-offset-1 col-xs-3"><h4>Total</h4></div>
                            <div class="col-md-3 col-xs-3"><h4>Amount</h4></div>
                        </div>



                        <div class="calender_service_slctd_service" id="selectedServices">



                            <?php if ($this->bookingServices): ?>
                                <?php $user = CheckAuth::getLoggedUser(); ?>
                                <?php foreach ($this->bookingServices as $bookingService): ?>
                                    <?php
                                    $serviceId = isset($bookingService['service_id']) ? $bookingService['service_id'] : 0;
                                    $clone = isset($bookingService['clone']) ? $bookingService['clone'] : 0;
                                    $bookingId = isset($bookingService['booking_id']) ? $bookingService['booking_id'] : 0;
                                    $contractorId = isset($bookingService['contractor_id']) ? $bookingService['contractor_id'] : 0;
                                    $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                                    $serviceDetails = $modelServices->getById($serviceId);
                                    $disable = false;
                                    //$display = 'block';
                                    $style = '';
                                    if (!CheckAuth::checkCredential(array('CanAssignContractorToBooking'))) {
                                        if ($contractorId != $user['user_id']) {
                                            $disable = true;
                                            //$display = 'none';
                                            $style = 'ground-color: gainsboro;';
                                        }
                                    }
                                    ?>
                                    <div class="service-autogenerated-div" id="service_checked_<?php echo $this->escape($serviceAndClone); ?>" style="display: <?php echo isset($display) && $display ? $display : 'block'; ?>;">

                                        <ul class="service-det-list">

                                            <?php if (!$disable) : ?>
                                                <li><a href="javascript:;" onclick="removeService('<?php echo $this->escape($serviceAndClone); ?>')"><img src="/pic/icons/delete.png"/>Remove</a></li>
                                                <li><a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceId); ?>', 'service_name_<?php echo $this->escape($serviceId); ?>', 'min_price_<?php echo $this->escape($serviceId); ?>')"><img src="/pic/icons/clone.png"/>Clone</a></li>
                                                <?php if ($this->isTempService && $bookingService['is_change'] && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                                    <li><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id'], 'service_id' => $serviceId, 'clone' => $clone), 'ignoreService')); ?>"><img src="/pic/icons/ignore.png" border="0"/>Ignore</a></li>
                                                <?php endif ?>
                                            <?php endif ?>
                                            <li><b><?php echo $this->escape($serviceDetails['service_name']); ?></b></li>

                                        </ul>

                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="form-group">
                                                    <label class="cx-label control-label">Technician :</label>
                                                    <span class="contractor_contaner" id="contractor_<?php echo $this->escape($serviceAndClone); ?>">

                                                        <?php if (!CheckAuth::checkCredential(array('CanAssignContractorToBooking'))) : ?>

                                                            <?php $modelUser = new Model_User(); ?>
                                                            <?php $user = $modelUser->getById($contractorId); ?>
                                                            <?php $modelContractorInfo = new Model_ContractorInfo(); ?>
                                                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                                            <?php echo $this->escape(ucwords($user['username']) . (!empty($contractorInfo['business_name']) ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                            <input type="hidden" value="<?php echo $this->escape($contractorId); ?>" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                        <?php else: ?>
                                                            <?php $cityId = !empty($this->bookingCity['city_id']) ? $this->bookingCity['city_id'] : 0; ?>
                                                            <?php $contractorService = $modelContractorService->getContractorByServiceIdAndCityId($serviceId, $cityId, TRUE); ?>

                                                            <select class="required dropdown form-control" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                                <option value="">Select One</option>
                                                                <?php foreach ($contractorService as $contractor_id => $contractor_name): ?>
                                                                    <option value="<?php echo $this->escape($contractor_id); ?>" <?php echo $this->escape(isset($contractorId) ? ($contractorId == $contractor_id ? "selected" : "") : ""); ?>><?php echo $this->escape($contractor_name); ?></option>
                                                                <?php endforeach; ?>
                                                            </select>
                                                        <?php endif; ?>

                                                    </span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="checkup min-price">
                                                        <input <?php if ($disable) : ?>disabled="disabled"<?php endif; ?> class="checkbox_consider_min_price" id="checkbox_consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" onclick="countServicePrice(<?php echo "'" . $this->escape($serviceId) . "'" . ($clone ? ",'" . $this->escape($clone) . "'" : ""); ?>);" <?php echo isset($bookingService['consider_min_price']) && $bookingService['consider_min_price'] ? 'checked="checked"' : ''; ?> type="checkbox"/>
                                                        Consider Minimum Price ($ <?php echo $this->escape($serviceDetails['min_price']); ?>)
                                                    </label>
                                                </div>

                                                <div  id="attribute_<?php echo $this->escape($serviceAndClone); ?>">
                                                    <?php $counter = 0; ?>    
                                                    <?php
                                                    $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);
                                                    foreach ($serviceAttribute as $attribute):
                                                        ?>
                                                        <?php $counter++; ?>
                                                        <div  class="form-group" <?php if ($counter != 1): ?><?php endif; ?>>
                                                            <label class="control-label"><?php echo $this->escape($attribute['attribute_name']); ?> : </label>

                                                            <div class="calender_service_slctd_service_booking_service"> 
                                                                <?php echo drowAttribute($attribute, $bookingId, 0, $clone, $this->is_temp, $disable, $style); ?>
                                                            </div>

                                                        </div>
                                                    <?php endforeach; ?>
                                                </div>

                                            </div>

                                            <input type="hidden" value="<?php echo $this->escape($serviceAndClone); ?>" name="services[]">
                                            <input type="hidden" id="min_<?php echo $this->escape($serviceAndClone); ?>" value="<?php echo $this->escape($serviceDetails['min_price']); ?>"/>

                                            <div class="calender_service_min_price_total col-md-3 col-md-offset-1" id="min_price_total_<?php echo $this->escape($serviceAndClone); ?>"><?php echo $this->escape($this->priceArray[$serviceAndClone] < $serviceDetails['min_price'] && $bookingService['consider_min_price'] == 1 ? number_format($serviceDetails['min_price'], 2) : number_format($this->priceArray[$serviceAndClone], 2)); ?>
                                            </div>
                                            <div class="col-md-3" <?php echo $this->escape($this->priceArray[$serviceAndClone] >= $serviceDetails['min_price'] ? 'ground-color : white;' : 'ground-color : rosybrown;'); ?>" id="total_<?php echo $this->escape($serviceAndClone); ?>"><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></div>

                                        </div>




                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-8 col-xs-7 col-xs-offset-5">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Sub Total :</th>
                                    <td>
                                        <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" readonly id="sub_total" value="<?php echo $this->escape(isset($this->subTotal) ? number_format($this->subTotal, 2) : ""); ?>" name="sub_total" />
                                    </td>
                                </tr>
                                <tr style="display:<?php echo (!empty($this->callOutFee) ? 'block' : 'none'); ?>;">
                                    <th> Call Out Fee: 
                                        <?php if ($this->callOutFeeTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                            <span class="service_clone" style="font-weight: normal;">
                                                <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreCallOutFee')); ?>" >Ignore</a>
                                            </span>
                                        <?php endif ?>
                                    </th>
                                    <td>
                                        <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" id="call_out_fee" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(!empty($this->callOutFee) ? number_format($this->callOutFee, 2) : "0"); ?>" name="call_out_fee"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Discount:
                                        <?php if ($this->totalDiscountTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                            <span class="service_clone" style="font-weight: normal;">
                                                <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreTotalDiscount')); ?>" >Ignore</a>
                                            </span>
                                        <?php endif ?>
                                    </th>
                                    <td>
                                        <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" id="total_discount" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(isset($this->totalDiscount) ? number_format($this->totalDiscount, 2) : ""); ?>" name="total_discount"/>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                                    </th>
                                    <td>
                                        <input readonly  style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" id="gst" type="text" value="<?php echo $this->escape(isset($this->gstTax) ? number_format($this->gstTax, 2) : ""); ?>" name="gst"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td>
                                        <input readonly style="width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: medium none;" class="required" id="total_qoute" type="text"  value="<?php echo $this->escape(isset($this->totalQoute) ? number_format($this->totalQoute, 2) : ""); ?>"name="total_qoute"/>
                                        <input id="timezone" name="timezone" type="hidden" value="" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>                                                   

                </div>

				
				
				
				</div>
				</div>
				</div>
           
        </div>
    </div>
	 <?php if($loggedUser['role_id'] == 1){?>
	<script>
			function check_befor_save_booking(){
		var status = $('#bookingStatus').val();
	
		if(status == 15){
			alert('You can`t edit booking with status AWAITING UPDATE , Please change status ');
			 $("#save_btn_cont").html(
                    '<a id="save_btn_cont" href="javascript:void(0);" id="save_btn_cont" onclick="save_booking(); return false;" class="btn_a">'+
                        '<div class="text_pos"><i class="fa fa-check "></i>'+
                        ' Save '+
                        '</div>'+
                        '</a>'
					);
		}else{
			save_booking();
		}
			}
	</script>
		<?php }else{ ?>
				<script>
				function check_befor_save_booking(){
					save_booking();
				}
				</script>
		<?php }?>


</form>

<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>