<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        <tr>
            <td style="font-weight: bold;" valign="top">Service :</td>
            <td><div id="service_id-cont"><?php echo $this->form->getElement('service_id')->render(); ?></div></td>
        </tr>
        <tr><td valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>
<script type="text/javascript">
    $('#form').submit(function () {
        var message = 'By updating these services you will be updating all their city availability to profile default setttings, do you want to proceed?';
        confirm_message(message, false, 'Notice');
        $(".modal-footer").show();
        $('#confirm #okBtn').click(function () {
		   console.log('hereeee');
            $("#confirm").modal("hide");
            do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#TB_ajaxContent');
            return true;
        });
        return false;
//        do_submit('<?php // echo $this->escape($this->form->getAction());     ?>', '#form', '#TB_ajaxContent');
    });
    $(document).ready(function () {

        $("label[for='service_id-all']").css('font-weight', 'bold');
        $("#service_id-all").click(function ()
        {
            var checked_status = this.checked;
            $("#service_id-cont input[type='checkbox']").each(function ()
            {
                this.checked = checked_status;
            });
        });
    });
</script>