<?php if ($this->data): ?>
    <form action="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Contractor Service?');">

        <div>
            <ul class="disc_b ">
                <?php $count = 0; ?>
                <?php $modelAvailability = new Model_ContractorServiceAvailability(); ?>
                <?php $modelCities = new Model_Cities(); ?>
                <?php foreach ($this->data as $row) : ?>
                    <li>
                        <div class="inline" style="font-size: 13px;">
                            <div><b><?php echo $this->escape($row['service_name']) ?></b>
                                <div class="inline">
                                    <?php $cities = $modelAvailability->getCitiesByContractorServiceId($row['contractor_service_id']) ?>
                                    <?php if ($cities): ?>
                                        (
                                        <?php foreach ($cities as $cityId): ?>
                                            <?php $city = $modelCities->getById($cityId['city_id']) ?>
                                            <span style="color:gray;">
                                                <?php echo $this->escape(ucfirst($city['city_name'])); ?>
                                            </span>,
                                        <?php endforeach; ?>
                                        )
                                    <?php endif; ?>
                                    <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                        <a class="btn" href="<?php echo $this->escape($this->url(array('contractor_service_id' => $row['contractor_service_id']), 'settingsContractorServiceAvailabilityList')); ?>" class="details_info_opt"><i class="fa fa-pencil"></i></a>
                                    <?php endif; ?>
                                    <div class="float-r inline">

                                        <?php if (CheckAuth::checkCredential(array('settingsContractorServiceDelete'))): ?>
                                            <a class="btn" href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id, 'id' => $row['contractor_service_id']), 'settingsContractorServiceDelete')); ?>" onclick="return confirm('are you sure you want to delete this Contractor Service?');" class="details_info_opt"><i class="fa fa-trash-o"></i></a>
                                        <?php endif; ?>


                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="clearfix"></div>

                    </li>
                <?php endforeach; ?>

            </ul>

        </div>


    </form>

<?php else: ?>
    <div style="" class="noRowsMessageDIV">No Services.</div>
<?php endif; ?>