<div>    
    <form method="POST"  class="form-horizontal" id="Approved_form" action="<?php echo $this->escape($this->url(array('id' => $this->complaintId), 'approvedComplaint')); ?>">
	  
	  <div class="ibox no-margin-b">
	    <div class="ibox-content">
        <div class="row">
          <div class="col-md-5">
            <h3>Approve Complaint <?php if (CheckAuth::checkCredential(array('complaintView'))): ?>
          	(<a href="<?php echo $this->escape($this->url(array('id' => $this->complaintId), 'complaintView')); ?>" target="_blank" class="details_info_name"><?php echo $this->escape($this->old_complaint['complaint_num']) ?></a>)
           
            <?php endif; ?>
            </h3>
          </div>
            <div class="col-md-5 float-lg-r">
             <input type="submit" value="Approved" class="btn btn-primary float-r"/>
            </div> 
          </div>
          
       </div>
	   
	   <!-- complaint status -->
	   <div class="ibox-content">
          	
        <div class="row">
        	<div class="col-md-6">
                               <input type="radio" name="status_id"  id="old_status" value="old_status" checked="checked"/>
                               <label for="old_status">
                               Old Status <span>(<?php echo $this->escape($this->old_complaint['complaint_status']); ?>)</span>
                               </label>
            
            			   
     				 
        	</div>
            <div class="col-md-6">
                     <input type="radio" name="status_id"   id="new_status" value="new_status"/>
                    <label for="new_status">New Status <span>(<?php echo $this->escape($this->new_complaint['complaint_status']); ?>)</span></label>
        
            </div>
        </div>
        </div>
		
		
		<!-- complaint comment -->
		
		<div class="ibox-content">
          	
        <div class="row">
        	<div class="col-md-6">
                 <?php $modelComplaintDiscussion = new Model_ComplaintDiscussion();
				       $lastDiscussion = $modelComplaintDiscussion->getLastDiscussionByComplaintId($this->complaintId);
					   $lastComment  = $modelComplaintDiscussion->getById($lastDiscussion['discussion']);
					   
				 ?> 
                 <textarea class="form-control" rows='15' disabled="disabled"><?php echo $this->escape($this->old_complaint['comment']); ?></textarea>					 
     				 
        	</div>
            <div class="col-md-6">
              	<textarea class="form-control" rows='15'  disabled="disabled"><?php echo $this->escape($lastComment['user_message']); ?></textarea>		      
            </div>
        </div>
        </div>
		
		
	   
	  </div> 
	
	</form>
</div>	