<div class="ibox float-e-margins no-margin-b">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-5">
                <h3>Unapproved Complaints </h3>
                
                  <ol class="breadcrumb" style="font-size:13px;" >
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/complaint">Complaints</a>
                    </li>
                    
                    <li class="active">
                        <strong>Unapproved Complaints</strong>
                    </li>
                    
                </ol>
            </div>
        </div>

    </div>

    <div class="ibox-content">

        <?php if (CheckAuth::checkCredential(array('canApproveComplaint'))): ?>
            <?php if ($this->countUnapprovedComplaint): ?>

                <table class="table table-bordered responsive-table" >
                    <thead>
                        <tr>
                            <th  class="table-booking"><b>Booking#</b></th>
                            <th class="table-details"><b>complaint#</b></th>
                            <th><b>Contractor</b></th>
                            <th ><b>Owner</b></th>
                            <th><b>Approve</b></th>
                            <th class="table-amount"><b> Old status</b></th>
                            <th class="table-amount"><b> New status</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->unapprovedComplaint as $row) : ?>
                            <?php
                            $modelComplaintTemp = new Model_ComplaintTemp();
                            $complaintTemp = $modelComplaintTemp->getByComplaintId($row['complaint_id']);
                            ?>
                            <tr>
                                <td >
                                    <div>
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                <?php
                                                $modelBooking = new Model_Booking();
                                                $booking = $modelBooking->getById($row['booking_id']);
                                                ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($booking['booking_num']) ?></b></a>
                                            <?php else: ?>
                                                <span class="details_info_name"><b><?php echo $this->escape($booking['booking_num']) ?></b></span>
                                        <?php endif; ?>
                                        </div>
                                        <?php
                                        $color = '#A1A1A1';
                                        switch ($booking['convert_status']) {
                                            case 'booking':
                                                $color = '#A1A1A1';
                                                break;

                                            case 'estimate':
                                                $color = '#4F8BC3';
                                                break;

                                            case 'invoice':
                                                $color = '#BCD68F';
                                                break;
                                        }
                                        ?>
                                        <div style="color: <?php echo $this->escape($color); ?>;">
            <?php echo $this->escape($booking['convert_status']); ?>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <?php if (CheckAuth::checkCredential(array('complaintView'))): ?>											
                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></a>
                                    <?php else: ?>
                                        <span class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></span>
            <?php endif; ?>
                                </td>

                                <td>
                                    <div class="details_info_l"> 
                                        <?php
                                        $modelUser = new Model_User();
                                        $contractor = $modelUser->getById($complaintTemp['user_id']);
                                        echo $contractor['username'];
                                        ?>
                                    </div>
                                </td>
                                <?php
                                $modelUser = new Model_User();
                                $owner = $modelUser->getById($row['user_id']);
                                ?>
                                <td>
                                    <div class="details_info_l"> 
            <?php echo $owner['username']; ?>
                                    </div>
                                </td>

                                <td>
                                    <div class="details_info_l"> 
                                        <a class="details_info_opt" href="<?php echo $this->url(array('id' => $row['complaint_id']), 'approvedComplaint') ?>">
                                            Approve
                                        </a> 
                                    </div>
                                </td>



                                <td>
                                    <div class="details_info_l"> 
            <?php echo $this->escape($row['complaint_status']); ?>
                                    </div>
                                </td>

                                <td>
                                    <div class="details_info_l"> 
            <?php echo $this->escape($complaintTemp['complaint_status']); ?>
                                    </div>
                                </td>

                            </tr>
        <?php endforeach; ?>

                    </tbody>
                </table>

                <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                        <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
            <?php endforeach; ?>
                        </ul>
                <?php endif; ?>
                </div>		

    <?php else: ?>
                <div>
                    <a class="btn btn-primary" href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>">View all Complaints</a> 
                </div>

                <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Unapproved Complaints.</h3></div>



    <?php endif; ?>

<?php endif; ?>


    </div>


</div>