

<style>

    @media all  and (max-width: 801px) {

        .h1big{ font-size: 16px!important; }
        .h1big1{  font-size: 14px !important; }
        .h2big2{  font-size:12px !important; }
        .contant1{width: 90% !important;}
        .breadcrumb > li { font-size:10px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:11px !important;}
        .textcolored{margin: 10px 0px 0px 12px !important; color: #f8ac59; font-size: 11px !important;}
    }
    @media all and (max-width: 450px) {

        .h1big{ font-size: 14px !important;}
        .h1big1{ font-size: 12px !important; }
        .h2big2{ font-size:10px !important; }
        .contant1{width: 100% !important;}
        .breadcrumb > li { font-size:9px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:9px !important;}
        .textcolored{margin: 10px 0px 0px 12px !important; color: #f8ac59; font-size: 9px !important;}
    }
    @media all and (max-width: 320px) {

        .h1big{ font-size: 12px !important;}
        .h1big1{ font-size: 10px !important; }
        .h2big2{ font-size:9px !important;  }
        .contant1{width: 100% !important;}
        .breadcrumb > li { font-size:8px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:8px !important;}
        .textcolored{margin: 10px 0px 0px 12px !important; color: #f8ac59; font-size: 8px !important;}
    }

    .h1big{display: inline-block; font-size: 67px; font-weight: 100; }
    .h1big1{color: #000000; margin-top: 0px; margin-bottom: 20px; font-size: 27px; font-weight: 100; }
    .h2big2{color: #000000; margin-top: 0px; margin-bottom: 0px; font-size:20px; font-weight: 100; }
    .contant1{width: 75%; margin:auto; margin-top: 10px;}
    .row1{background: #767371; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}
    .row2{background: #1ab394; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}
    .textcolored{margin: -15px 0px 0px 12px; color: #1ab394; font-size: 14px;}



</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <div class="h2big2">Pay For Your Account </div>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                Payment
            </li>
            <li >
                <strong>SUB_<?php echo $this->accountId + 1000; ?></strong>
            </li>
        </ol>
    </div>
</div>

<?php
$id = $this->accountId;
$account = new Model_Account();
$accountInfo = $account->getById($id);
$user = $account->getUserById($accountInfo['created_by']);
$company = $account->getCompanyById($accountInfo['company_id']);
$plan = $account->getPlanById($accountInfo['plan_id']);
$users = $account->getUsersByCompanyId($company['company_id']);
?>


<div class="row row wrapper white-bg contant1" >
    <table class="table-responsive">
        <tbody>
        <div class="pull-right" style="margin-top: 90px;"><span class="label label-primary"><?php echo $this->statusAccount; ?></span></div>
        <tr>
        <div class="h1big1">SUB_<?php echo $this->accountId + 1000; ?></div>
        <p>Select and pay for how many users you need</p>
        <?php if (strcasecmp($accountInfo['account_status'], 'subscriber-trial') == 0) { ?>
            <div class="h2big2">Expire Trial subscription date: <?php echo $this->escape(getDateFormating($accountInfo['trial_end_date'])) ?></div>
        <?php } else { ?>
            <div class="h2big2">Expire subscription date: <?php echo $this->escape(getDateFormating($accountInfo['to'])) ?></div>
        <?php } ?>
        </tr>
        </tbody>
    </table>
    <hr>
    <form name="addUser" id="addUser" method="post" action="<?php echo $this->escape($this->url(array(), 'payForUsersSubscription')); ?>">
        <input type="hidden" id="nbrOfUser" name="nbrOfUser" value="0">
        <input type="hidden" id="maxUser" name="maxUser" value="0">
        <input type="hidden" id="planId" name="planId" value="0">
        <input type="hidden" id="planIdInLoad" name="planIdInLoad" value="0">
        <input type="hidden" id="finalPlanId" name="finalPlanId" value="0">
        <input type="hidden" id="ExistOfUser" name="ExistOfUser" value="<?php echo count($users); ?>">
        <input type="hidden" id="appropaction" name="appropaction" value="paySunbscription">
        <input type="hidden" class="form-control" name="operation" value= "pre-transaction" />
        <input type="hidden" id="totalAmount" name="totalAmount" value="0">
        <input type="hidden" id="subFrom" name="subFrom" value="0">
        <input type="hidden" id="subTo" name="subTo" value="0">
        <input type="hidden" id="period" name="period" value="0">

        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="textcolored"><?php echo count($users); ?> Currently used</div> 

                        <div><p id="prdqty" class="h1big" >0</p> users</div>

                    </div>
                    <div class="col-xs-6" style="margin-top: 25px;">
                        <a class="btn" id="btn-inc1" onclick="qty('minus'); calculateTotalAmountOnAddUser();"  style="background-color: #ffc656"><i style="color: white;" class="fa fa-minus" aria-hidden="true"></i></a>   
                        <div id="btn-inc2" style="display: inline-block;">
                            <a class="btn" onclick="qty('plus'); calculateTotalAmountOnAddUser();"   style="background-color: #ffc656" ><i style="color: white;" class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div style="display: block !important;">
                        <label class="col-xs-4">Select Plan : </label> 
                        <div class="col-xs-8">
                            <?php echo $this->form->getElement('plan_id')->render(); ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="margin-top: 8px;">
                <table class="table-bordered-responsive" style="width: 80% !important;">
                    <tbody>
                        <tr style="border-bottom: 4px solid white;">
                            <td id="max_user"  class="h1big1 row1" name="max_users" >Max Users : <?php echo $plan['max_users']; ?></td>
                        </tr>
                        <tr style="border-bottom: 4px solid white;">
                            <td  id="plan_name" class="h1big1 row2">Selected Plan : <?php echo $plan['name']; ?></td>
                        </tr>
                        <tr style="border-bottom: 4px solid white;">
                            <td id="charge_amount"  class="h1big1 row1">Per user : <?php echo $plan['charge_amount'] ?>$</td>
                        </tr>
                        <tr>
                            <?php //if (strcasecmp($accountInfo['account_status'], 'Subscriber-trial') != 0) { ?>  
                            <td id="totalAmount1" class="h1big1 row2">Total Amount :<?php echo $this->totalAmount; ?>$</td>
                            <?php //} ?>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <hr>
        <div>

            <a onclick="document.getElementById('addUser').submit();" class="btn btn-primary btn-rounded btn-outline" style="width: 45% !important; display: block; margin: 0 auto;" href="#"><i class="fa fa-info-circle" ></i> Pay Now</a>

        </div>

    </form>
</div>
<script type="text/javascript">

//Onload calculate.....................
    function calculateTotalAmountOnLoad() {
        var accountId = '<?php echo $accountInfo['id']; ?>';
        var planId = '<?php echo $accountInfo['plan_id'] ?>';
        var newPlanId = '0';
        var nbrOfUserToAdd = '0';
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'calculateRealAddUserChangePlan')); ?>",
            data: {accountId: accountId, newPlanId: newPlanId, oldPlanId: planId, nbrOfUserToAdd: nbrOfUserToAdd},
            success: function (data) {
                var tmp = data.split(",");
                var result = parseFloat(tmp[3]).toFixed(2);
                $('#max_user').html('Max Users :' + tmp[0]);
                $('#plan_name').html('Selected Plan :' + tmp[1]);
                $('#charge_amount').html('Per user :' + tmp[2] + '$');

                $('#totalAmount1').html('Total Amount :' + result + '$');
                document.getElementById("totalAmount").value = result;
                document.getElementById("maxUser").value = tmp[0];

                document.getElementById("finalPlanId").value = planId;
                document.getElementById("planId").value = planId;

                document.getElementById("subFrom").value = tmp[5];
                document.getElementById("subTo").value = tmp[6];
                document.getElementById("period").value = tmp[7];
            }
        });
    }
    window.onload = calculateTotalAmountOnLoad;


//change plan calculate..............
    function calculateTotalAmountOnChangePlan(value) {
        var accountId = '<?php echo $accountInfo['id']; ?>';
        var planId1 = '<?php echo $accountInfo['plan_id'] ?>';
        document.getElementById("nbrOfUser").value = '0';
        $('#prdqty').text('0');
        $('#nbrOfUser').val('0');
        var nbrOfUserToAdd = document.getElementById("nbrOfUser").value;

        document.getElementById("planId").value = planId1;
        document.getElementById("planIdInLoad").value = value;
        document.getElementById("finalPlanId").value = value;

        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'calculateRealAddUserChangePlan')); ?>",
            data: {accountId: accountId, newPlanId: value, oldPlanId: planId1, nbrOfUserToAdd: nbrOfUserToAdd},
            success: function (data) {

                var tmp = data.split(",");
                if (tmp[0] > <?php echo count($users); ?>) {
                    var result = parseFloat(tmp[3]).toFixed(2);
                    $('#max_user').html('Max Users :' + tmp[0]);
                    $('#plan_name').html('Selected Plan :' + tmp[1]);
                    $('#charge_amount').html('Per user :' + tmp[2] + '$');
                    if ((value === planId1) && ('<?php echo $this->statusAccount; ?>' !== 'Trial Account')) {
                        $('#totalAmount1').html('Total Amount : 0 $');
                        document.getElementById("totalAmount").value = '0';
                    } else if ((value === planId1) && ('<?php echo $this->statusAccount; ?>' === 'Trial Account')) {
                        $('#totalAmount1').html('Total Amount :' + result + '$');
                        document.getElementById("totalAmount").value = result;
                    } else {
                        $('#totalAmount1').html('Total Amount :' + result + '$');
                        document.getElementById("totalAmount").value = result;
                    }

                    document.getElementById("maxUser").value = tmp[0];
                    document.getElementById("subFrom").value = tmp[5];
                    document.getElementById("subTo").value = tmp[6];
                    document.getElementById("period").value = tmp[7];
                } else {
                    $('#popupi').modal();
                    popupi('information', '<?php echo $this->escape($this->url(array('isGreaterThan' => 'no'), 'changePlanMessegeRealAccount')); ?>');
                    document.getElementById("planId").value = planId1;
                    document.getElementById("planIdInLoad").value = '0';
                    document.getElementById("finalPlanId").value = planId1;
                    document.getElementById("maxUser").value = '<?php echo $plan['max_users']; ?>';
                    if ('<?php echo $this->statusAccount; ?>' !== 'Trial Account') {
                        document.getElementById("period").value = tmp[7];
                    } else {
                        document.getElementById("period").value = 'month';
                    }
                }
            }
        });
    }

//add users calculate.................
    function calculateTotalAmountOnAddUser() {
        var max = document.getElementById("maxUser").value;
        var nbrOfUserToAdd = document.getElementById("nbrOfUser").value;
        if (nbrOfUserToAdd > max - <?php echo count($users); ?>) {
            $('#prdqty').text(nbrOfUserToAdd - '1');
            $('#popupi').modal();
            popupi('information', '<?php echo $this->escape($this->url(array('isGreaterThan' => 'yes'), 'changePlanMessegeRealAccount')); ?>');
        } else {
            var accountId = '<?php echo $accountInfo['id']; ?>';
            var planId1 = document.getElementById("planId").value;
            var newPlan = document.getElementById("planIdInLoad").value;
            //document.getElementById("planIdInLoad").value = newPlan;

            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'calculateRealAddUserChangePlan')); ?>",
                data: {accountId: accountId, newPlanId: newPlan, oldPlanId: planId1, nbrOfUserToAdd: nbrOfUserToAdd},
                success: function (data) {

                    var tmp = data.split(",");
                    var result = parseFloat(tmp[3]).toFixed(2);
                    $('#max_user').html('Max Users :' + tmp[0]);
                    $('#plan_name').html('Selected Plan :' + tmp[1]);
                    $('#charge_amount').html('Per user :' + tmp[2] + '$');
                    $('#totalAmount1').html('Total Amount :' + result + '$');
                    document.getElementById("totalAmount").value = result;
                    document.getElementById("subFrom").value = tmp[5];
                    document.getElementById("subTo").value = tmp[6];
                    document.getElementById("period").value = tmp[7];
                }
            });
        }
    }

//add users Counter.........................................  
    function qty(val) {
        var max = document.getElementById("maxUser").value;
        var nbrOfUserToAdd = document.getElementById("nbrOfUser").value;
        pqty = $('#prdqty').text();
        document.getElementById("nbrOfUser").value = parseFloat(pqty);
        if (val === "plus") {
            if (nbrOfUserToAdd <= max - <?php echo count($users); ?>) {
                var newVal = parseFloat(pqty) + 1;
            } else {
                newVal = parseFloat(pqty);
            }

        } else {
            if (pqty >= 1) {
                newVal = parseFloat(pqty) - 1;
            } else {
                newVal = 0;
            }
        }
        $('#prdqty').text(newVal);
        document.getElementById("nbrOfUser").value = newVal;
    }


</script>





