
	
	<?php
	  if($this->data == 'true'){
		  ?>
		   
		   
		    <section>
             <div class="contBig col-lg-offset-3 col-lg-5 col-sm-offset-2 col-sm-8  col-xs-offset-1 col-xs-10">
			      <div class="outbiglogo" >
				    <div class="inbiglogo">
					</div>
				  </div>
				  <div class="headnewaccount">
				    Check Your Email
				  </div>
				  
				  <div class="bodycheck" style="padding-top:30px ">
				    We've sent a verification email to your inbox 
				  </div>
				  
				  <div class="yelloemail">
				    <?php echo $this->email ;?>
				  </div>
				  
			 <div class="bodycheck">	  
				  please follow the instructions in the email 
to activate your account
				 </div>  
				 
				 
				 <div class="btncont  col-sm-offset-3 col-sm-6" style="padding-top:30px;"> 
				      <input type="button" class="btn" value="GO BACK" onclick="goback()">
				 </div>
				  
				  
				  
			 </div>
    
         </section>
		 
		 <script>
		   function goback(){
			  
			   window.location="http://www.octopuspro.com/";
			   
		   }
		 </script>
		 
		 
		 <style>
		 
		 .bodycheck {
			text-align: center;
			font-size: 21px;
			color: #9ea2a6;
			font-family: 'Open Sans', sans-serif;
          }
		  
		  .yelloemail {
			text-align: center;
			font-size: 21px;
			color: #0091d7;
			font-family: 'Open Sans', sans-serif;
          }
         
		 .bodycheck {
			text-align: center;
			font-size: 21px;
			color: #9ea2a6;
			font-family: 'Open Sans', sans-serif;
         }
		    
		 </style>
		 
	
	
		  
		  <?php
	  }
	  else{
		  
	  
	?>
	
 <section>
             <div class="contBig col-lg-offset-3 col-lg-5 col-sm-offset-2 col-sm-8  col-xs-offset-1 col-xs-10">
			      <div class="outbiglogo" >
				    <div class="inbiglogo">
					</div>
				  </div>
				  <div class="headnewaccount">
				    Create Your Account
				  </div> 
						
<div class="alert_box" >
<?php if ($this->messages && count($this->messages)) : ?>

    <?php foreach ($this->messages as $key => $message) : ?>
        <?php if (isset($message['type']) && 'success' == $this->escape($message['type'])): ?>

        <?php else: ?>
        
        	    <div class="alert alert-danger alert-dismissible fade in col-md-12" role="alert" style="margin-top: 5px;">
					<span class="typeprice">   <?php echo nl2br($message['message']); ?> </span>
				</div>
         
     
        
      
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>
</div>

 <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" 
	    action=" <?php echo $this->escape($this->form->getAction()); ?>" > 
                            
				 <div class="cont-input">
				    
					 <?php echo $this->form->getElement('company_name')->render(); ?>
				  </div>
				  
				   <div class="cont-input">
				    
					 <?php echo $this->form->getElement('username_email')->render(); ?>
				  </div>
				  
				   <div class="cont-input">
				    <?php echo $this->form->getElement('password')->render(); ?>
				  </div>
				  
				   <div class="cont-input">
				    <?php echo $this->form->getElement('password_confirm')->render(); ?>
				   </div>
				   
				   
				   <div class="btncont  col-sm-offset-3 col-sm-6"> 
				      <input type="submit" class="btn" value="SUBMIT">
				   </div>
				</form>			
              </div>
    
         </section>
		 
		
						

	  <?php } ?>
	  
	  
	   <style>
	
	
	body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #fff url(<?php echo $this->escape($this->baseUrl('bd.png')); ?>) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
    }    
	
	ul{
		list-style-type:none;
		margin-left:2px;
		padding-left:0;
	}
	.errors li{
		color:#f00;
	}
	
	 .alert_box{
		 margin-right:10px;
		 margin-left:10px;
	 }
	 .btncont input[type=button], input[type=reset], input[type=submit]{
	   background: url(<?php echo $this->escape($this->baseUrl('btn.jpg')); ?>) repeat-x;
	   color:#fff;
	   width:100%;
	   margin:8px 0px;
	   font-family: 'Montserrat', sans-serif;
	 }
	 
	  .btncont input:hover{
	   background: #33c2ff;
	   color:#fff;
	  
	 }
	 
   .cont-input{
	 margin:10px;
   }
	 .inputstyle{
	    text-align:center ;
		background:#f1f1f1;
		width:100%;
		border:none;
		padding:5px;
		font-size:17px;
		font-family: 'Open Sans', sans-serif;
	 }
	 
   .contBig{
    background: #fff ;
   
	 vertical-align: middle;
	
    border-radius:18px;
    position: absolute;
    
    top:18.5%;
    left: 0;
    right: 0;
    margin: auto;
	}	
	
	.outbiglogo{
	  position:relative;
	}
	
	.inbiglogo{
	   background :url(<?php echo $this->escape($this->baseUrl('octbiglogo.png')); ?>) no-repeat;
	   height:172px; 
	   width:230px;
	   position: absolute;
       top:63px;
       bottom: 0;
       left: 0;
       right: 0;
      margin: auto;
	}
	
	.headnewaccount{
	   padding-top:145px ; 
	   text-align:center;
	   font-size:21px;
	   color:#0091d7;
	   font-family: 'Open Sans', sans-serif;
	}
	</style>                    
		 
		 
		 
  
          