
  <style>
.cont-out {
    border-bottom: 1px solid #43b3c6;
    padding: 10px 0px;
}

.cont-out div {
    display: inline-block;
    vertical-align: middle;
}


.msg-verify{
	margin:20px;
	text-align:center;
	font-size:16px;
	line-height:25px;
}

.cont-out div{
	 display:inline-block;
	 vertical-align:middle;
}

.cont-out{
	border-bottom:1px solid #43b3c6;
	padding: 10px 0px;
}

.msg-verify p{
	margin:20px;
	text-align:center;
	font-size:16px;
	line-height:25px;
}

#container_demo{
	 margin:30px;
	 border:1px solid #ffcccc;
	 border-radius:5px;
	 padding:20px;
}

  </style>
  <div>
            <!-- Codrops top bar -->
            <div class="codrops-top">
               
            </div><!--/ Codrops top bar -->
           
           <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <div class="cont-out">
							  <div class="part-icon">
								   <img src="<?php echo $this->escape($this->baseUrl('/pic/complete.png')); ?>" width="50px" height="50px">
							  </div>
							  <div class="part-text">
							    Verify your account 
							  </div>
							</div>
							<div class="cont-out">
							  <div class="part-icon">
							    
								   <img src="<?php echo $this->escape($this->baseUrl('/pic/complete.png')); ?>" width="50px" height="50px">

							  </div>
							  <div class="part-text">
							    add your company information
							  </div>
							</div>
							
							<div class="cont-out">
							  <div class="part-icon">
								   <img src="<?php echo $this->escape($this->baseUrl('/pic/complete.png')); ?>" width="50px" height="50px">
							  </div>
							  
							  <div class="part-text">
							   complete your information 
							  </div>
							  
							 
							</div>
							
							<div class="cont-out">
							  <div class="part-icon">
								   <img src="<?php echo $this->escape($this->baseUrl('/pic/notcomplete.png')); ?>" width="43px" height="43px">
							  </div>
							  
							  <div class="part-text">
							    add Users 
							  </div>
							  
							  
							   <a href="javascript:void(0);" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Users ', '<?php echo $this->escape($this->url(array(), 'toaddusers')); ?>');" >
								<div class="btn btn-primary">
									Start
								 </div>
                              </a>
							</div>
							
							<div class="cont-out">
							  <div class="part-icon">
							    
								   <img src="<?php echo $this->escape($this->baseUrl('/pic/notcomplete.png')); ?>" width="43px" height="43px">
								 
							     
							  </div>
							  <div class="part-text">
							    configure the settings 
							  </div>
							</div>
							
                        </div>

                    </div>
                </div>  
            </section>
			
			
  </div>