<style>
body{
	margin:0;
	padding:0;
}
.col-lg-4 {
	background:#D5EBFF;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.col-lg-4 h3 {
	color:#0358A7;
	font-size:24px;
	margin:20px;
	
}
ul.list-group {
	width:90%;
	list-style:none;
	float:left;
}
ul.list-group li {
	list-style:none;
	border-bottom:#03F solid 1px;
	padding:10px;
	color:#FFF;
	float:left;
	width:100%;
}

ul.list-group li:nth-child(even) {
	background:#FFF;
}

ul.list-group li span {
	float:left;
}


ul.list-group li span:first-child {
	width:200px;
	font-weight:bold;
}

ul.list-group li span:last-child {
	width:200px;
	margin-right:10px;
	float:right;
}

ul.list-group li:hover {
	background:#FFFF51;
	color:#666;
}

ul.list-group li:hover a {
	color:#666;
}

ul.list-group li a {
	text-decoration:none;
	color:#06F;
}
</style>
<div class="col-lg-4">
            <h3>Inbox</h3>
            <ul class="list-group">
                <?php if(count($this->emails) > 0) { ?>
                    <?php foreach($this->emails as $msgList) { 
					
					$messageId = $msgList->getId(); // Grab first Message


        $optParamsGet = array();
        $optParamsGet['format'] = 'full'; // Display message in payload
		//get service
		
        $message = $this->service->users_messages->get('me',$messageId,$optParamsGet);
        $messagePayload = $message->getPayload();
        $headers = $message->getPayload()->getHeaders();
        //$parts = $message->getPayload()->getParts();

        //$body = $parts[0]['body'];
       // $rawData = $body->data;
       // $sanitizedData = strtr($rawData,'-_', '+/');
       // $decodedMessage = base64_decode($sanitizedData);
		
		//var_dump($headers);
		
		foreach( $headers as $header ) {
			if('Date' == $header->name){
				$headerArry['date'] = $header->value;
			} elseif('From' == $header->name){
				$headerArry['from'] = $header->value;
			} elseif('To' == $header->name){
				$headerArry['to'] = $header->value;
			} elseif('Subject' == $header->name){
				$headerArry['sub'] = $header->value;
			}
			elseif('Delivered-To' == $header->name){
				$headerArry['deliver'] = $header->value;
			}
					}
					
		$dateTime=$headerArry['date'];			
		$date=explode(' ',$dateTime);
		
		//if($headerArry['From']=='Ayman Labadi'){
					
					?>
                        <li class="list-group-item">
                        <a href="<?php echo $this->escape($this->url(array('id' => $messageId), 'gmailEmailsView'));?>">
                        <span><?php echo  $headerArry['from'];?></span>
                        <span><?php echo  $headerArry['sub'];?></span>
                        <span><?php if($dateTime!=''){ echo   $date[0].' '.$date[1].' '.$date[2].' '.$date[3]; } ?></span>
                         </a>
                        </li>
                    <?php  } //} ?>
                <?php } else { ?>
                    <li class="list-group-item">Your inbox is empty.</li>
                <?php } ?>
                <!--<li class="list-group-item">
                    <a href="https://mail.google.com/mail/u/0/?tab=wm&pli=1#inbox" target="_blank">See all messages</a>
                </li>-->
            </ul>
        </div>