<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All User Roles
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsAuthRoleDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Auth Role?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsAuthRoleDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Role Name</b></td>
                                <td><b>Default Page</b></td>
                                <td><b>Core</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php $authRoleCredentialObj = new Model_AuthRoleCredential(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['role_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <span class="details_info_name"><?php echo $this->escape($row['view_role_name']) ?></span>
                                        </div>
                                        <div class="details_info_l">

                                            <div>
                                                <?php if ($row['is_core'] != 1) : ?>
                                                    <?php if (CheckAuth::checkCredential(array('settingsAuthRoleEdit'))): ?>
                                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['role_id']), 'settingsAuthRoleEdit')); ?>','150','450')" class="details_info_opt">Edit</a>
                                                        <span class="details_breaks">|</span>
                                                    <?php endif; ?>

                                                    <?php if (CheckAuth::checkCredential(array('settingsAuthRoleDelete'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['role_id']), 'settingsAuthRoleDelete')); ?>" onclick="return confirm('are you sure you want to delete this Auth Role?');" class="details_info_opt">Delete</a>
                                                        <span class="details_breaks">|</span>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                                <?php if (CheckAuth::checkCredential(array('settingsAuthRoleAssign'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('role_id' => $row['role_id']), 'settingsAuthRoleCredentialList')); ?>" class="details_info_opt">Assign Credential</a>
                                                <?php endif; ?>
                                            </div>

                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['default_page']) ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['is_core'] == 1 ? 'Yes' : 'No') ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Role.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsAuthRoleAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsAuthRoleAdd')); ?>','150','450');" class="btn_a">
                        <div class="text_pos">
                            New Role
                        </div>
                    </a>
                </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Roles
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsAuthRoleList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsAuthRoleList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
        </td>
    </tr>
</table>
