

<style>

    @media all  and (max-width: 801px) {

        .h1big{ font-size: 16px!important; }
        .h1big1{  font-size: 14px !important; }
        .h2big2{  font-size:12px !important; }
        .contant1{width: 90% !important;}
        .breadcrumb > li { font-size:10px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:11px !important;}

    }
    @media all and (max-width: 450px) {

        .h1big{ font-size: 14px !important; }
        .h1big1{ font-size: 12px !important; }
        .h2big2{ font-size:10px !important; }
        .contant1{width: 100% !important;}
        .breadcrumb > li { font-size:9px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:9px !important;}

    }
    @media all and (max-width: 320px) {

        .h1big{ font-size: 12px !important; }
        .h1big1{ font-size: 10px !important; }
        .h2big2{ font-size:9px !important;  }
        .contant1{width: 100% !important;}
        .breadcrumb > li { font-size:8px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:8px !important;}

    }

    .h1big{display: inline-block; font-size: 67px; font-weight: 100; }
    .h1big1{color: #000000; margin-top: 0px; margin-bottom: 20px; font-size: 27px; font-weight: 100; }
    .h2big2{color: #000000; margin-top: 0px; margin-bottom: 0px; font-size:20px; font-weight: 100; }
    .contant1{width: 75%; margin:auto; margin-top: 10px;}
    .row1{background: #767371; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}
    .row2{background: #1ab394; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}




</style>

      <div id="result"></div>
<div class="row wrapper white-bg contant1">
    <div class="row">
  
    </div>
    <div class="row">
        <label class="col-sm-3 control-label">COUNTRY</label>

        <div class="col-sm-9 ">
            <select class=" form-control m-b" id="countryCode" name="countryCode">
                <option value="">select one..</option>
                <?php foreach ($this->data as $da) { ?>
                    <option value="<?= $da['code'] ?>"><?= $da['name'] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-3  control-label">CAPABILITIES</label>

        <div class="col-sm-9 ">
            <div class="checkbox">
                <label >
                    <input id="radio_button" type="radio" value="both" checked="checked"> Both |
                </label>
                <label class="col-md-offset-1">
                    <input id="voice" type="checkbox" value="voice" > Voice
                </label>
                <label class="col-md-offset-1">
                    <input id="sms" type="checkbox" value="sms"> SMS
                </label>
            </div>
        </div>
    </div>
        <div class="row">
        <label class="col-sm-3  control-label">TYPE</label>

        <div class="col-sm-9 ">
            <div class="checkbox">             
                <label class="col-md-offset-1">
                    <input id="local" type="checkbox" value="Local" checked="checked"> LOCAL
                </label>
                <label class="col-md-offset-1">
                    <input id="mobile" type="checkbox" value="Mobile"> MOBILE
                </label>
            </div>
        </div>
    </div>
          <div class="row">
        <label class="col-sm-4  control-label">CAN USE BY CONTRACTOR</label>

        <div class="col-sm-8 ">
            <div class="checkbox">             
                <label class="col-md-offset-1">
                    <input id="canUseYes" type="checkbox" value="1" checked="checked"> YES
                </label>
                <label class="col-md-offset-1">
                    <input id="canUseNO" type="checkbox" value="0"> NO
                </label>
            </div>
        </div>
    </div>
    <div id="payBtn">

        <div id="loader" class="pull-right" style="display: none;"><img src="/pic/loading-4.gif"></div>
        <a class="btn btn-primary" style="width: 15% !important; display:inline; "  onclick="sendRequest();"><i class="fa fa-info-circle" ></i> Send Request</a>
        <br> 
    </div>
</div>






<script>

    $(document).ready(function () {
        $('#radio_button').click(function () {
            if ($('#radio_button').is(':checked')) {
                $('#sms').attr('checked', false);
                $('#voice').attr('checked', false);
            }
        });
        $('#sms').click(function () {
            if ($('#voice').not(':checked').length && $('#sms').not(':checked').length) {
                document.getElementById("radio_button").checked = true;
            } else {
                $('#radio_button').attr('checked', false);
            }

        });
        $('#voice').click(function () {
            if ($('#voice').not(':checked').length && $('#sms').not(':checked').length) {
                document.getElementById("radio_button").checked = true;
            } else {
                $('#radio_button').attr('checked', false);
            }
        });
          $('#local').click(function () {
            if ($('#local').is(':checked')) {
                $('#mobile').attr('checked', false);
            }
        });
             $('#mobile').click(function () {
            if ($('#mobile').is(':checked')) {
                $('#local').attr('checked', false);
            }
        });
              $('#voice').click(function () {
            if ($('#voice').is(':checked')) {
                $('#sms').attr('checked', false);
            }
        });
             $('#sms').click(function () {
            if ($('#sms').is(':checked')) {
                $('#voice').attr('checked', false);
            }
        });
                    $('#canUseYes').click(function () {
            if ($('#canUseYes').is(':checked')) {
                $('#canUseNO').attr('checked', false);
            }
        });
             $('#canUseNO').click(function () {
            if ($('#canUseNO').is(':checked')) {
                $('#canUseYes').attr('checked', false);
            }
        });
    });




    function sendRequest() {

        var CountryCode = $('#countryCode').val();
        var capability = '';
        if ($('#radio_button').is(':checked')) {
            capability = 'both';
        }else if($('#voice').is(':checked') && $('#sms').not(':checked').length ){
            capability = 'voice';
        }else if($('#sms').is(':checked') && $('#voice').not(':checked').length ){
            capability = 'sms';
        }else if($('#sms').is(':checked') && $('#voice').is(':checked')){
            capability = 'both';
        }
        var type = '';
        if($('#mobile').is(':checked')){
            type = 'Mobile';
        }else if($('#local').is(':checked')){
            type = 'Local';
        }
        var canUsebyContractor = '';
         if($('#canUseYes').is(':checked')){
            canUsebyContractor = 1;
        }else if($('#canUseNO').is(':checked')){
            canUsebyContractor = 0;
        }
        
  
 $('#loader').css('display','block');
 if(CountryCode === ''){
     $('#result').html('<div class="alert alert-danger">Country field is required.</div>');
      $('#loader').css('display','none');
 }else{
        $.ajax({

            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'CheckAvailabilityTwilioNumber'));?>",
            data: {CountryCode: CountryCode, capability: capability,type:type,canUsebyContractor:canUsebyContractor },
            success: function (data) {
                
                var res = parseInt(data);
                if(res == 1){
                    

                    $('#result').html('<div class="alert alert-danger">There are no phone numbers that match your search criteria.</div>');
                     $('#loader').css('display','none');
                }else{
                     window.location.reload();
                }

            }
        });
        }
    }

</script>



