
<div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
               
            </div><!--/ Codrops top bar -->
           
           <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="mysuperscript.php" autocomplete="on"> 
                               
                                <div class="msg-verify">
							    <p>
								
                               
							   <?php // if($this->data=='active_prev') { ?>
							       your account is active 
							   <?php // } ?>
								</p>
                                
                                
								 
                               
                            </form>
                        </div>

                      
						
                    </div>
                </div>  
            </section>
        </div>