
      <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" 
	     onsubmit="doSbmit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
			
	
		<script>
		$(document).ready(function() {
		
		$('#date1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'dd-mm-yyyy'
            });
        
    });
     </script>

    
        
       
        <h3>Address Details :</h3>
        
          <div class="form-group">
            <label class="col-lg-4">
              Company Unit / Lot No :   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_unit_lot_no')->render(); ?>
            </div>
        </div>

         <div class="form-group">
            <label class="col-lg-4">
              Company Street Number :   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_street_no')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-4">
               Company Street Name :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_street_address')->render(); ?>
            </div>
        </div>
        
         <div class="form-group">
            <label class="col-lg-4">
               Company Suburb :   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_suburb')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-4">
              Company Postcode :</label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_postcode')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-4">
                Company PO Box (Postal Address):   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_po_box')->render(); ?>
            </div>
        </div>
      
        <div class="form-group">
            <label class="col-lg-4">
                 Country :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('country_id')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
               Company State :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_state')->render(); ?>
            </div>
        </div>
		<div class="form-group"  <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-lg-4">
                  City : </label>
            <div class="col-lg-8" id="city">
                <?php echo $this->form->getElement('city_id')->render(); ?>
            </div>
        </div>
        
         
          <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		  </div>
		  </div>
		  </div>
		  </div>
    </form>
	
	
<script type="text/javascript">

 function doSbmit(url){
		
		 
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form').serialize(),
            success: function (data) {
                try {
                    var json = eval('(' + data + ')');
                    console.log(json);
					
					
                    if (json.success==true) {
                    
					 window.location=json.url;
                 
					} 
                } catch (e) {
                    $('#content_modal_popup').html(data);
                }
            }
        });
	}
	
	
    function getCitiesByState() {
		console.log($('#state').val());
        if ($('#state').val()) {
            $('#city_block').css('display', 'block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id=" + $('#country_id').val() + "&state=" + $('#state').val(),
                success: function (msg) {
					console.log(msg);
                    $('#city_block').css('display', 'block');
                    $('#city').html(msg);
                }
            });
        } else {
            $('#city_block').css('display', 'none');
        }
    }
	
</script>

