
      <form id="form" class="form-horizontal" method="POST" 
	     onsubmit="doSbmit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
			
			
        
       <h3>Company Information :</h3>

        <div class="form-group">
            <label class="col-lg-4">   Company Name :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_name')->render(); ?>
            </div>
        </div>
        <input type="hidden" name="company-process" value="1">
        <div class="form-group">
            <label class="col-lg-4">
                Business Name :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_business_name')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                    Company ABN (Australian Business Number) :</label>
                <div class="col-lg-8">
                    <?php echo $this->form->getElement('company_abn')->render(); ?>
                </div>
            </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company ACN (Australian Company Number) : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_acn')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
               Company GST (Goods and Services Tax) : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_gst')->render(); ?>
            </div>
        </div>  
       <div class="form-group">
            <label class="col-lg-4">
               Company GST Date Registered : </label>
            <div class="col-lg-8" id="date1">
			 <div class="input-group date">
			  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>   
                <?php echo $this->form->getElement('company_gst_date_registered')->render(); ?>
				</div>
            </div>
        </div>  
		<script>
		$(document).ready(function() {
		
		$('#date1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'dd-mm-yyyy'
            });
        
    });
     </script>

 
         
          <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		  </div>
		  </div>
		  </div>
		  </div>
    </form>
	
	
<script type="text/javascript">

 function doSbmit(url){
		
		 
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form').serialize(),
            success: function (data) {
                try {
                    var json = eval('(' + data + ')');
                    console.log(json);
					
					
                    if (json.success==true) {
                    
					 window.location=json.url;
                 
					} 
                } catch (e) {
                    $('#content_modal_popup').html(data);
                }
            }
        });
	}
	
	
    function getCitiesByState() {
		console.log($('#state').val());
        if ($('#state').val()) {
            $('#city_block').css('display', 'block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id=" + $('#country_id').val() + "&state=" + $('#state').val(),
                success: function (msg) {
					console.log(msg);
                    $('#city_block').css('display', 'block');
                    $('#city').html(msg);
                }
            });
        } else {
            $('#city_block').css('display', 'none');
        }
    }
	
</script>

