<!--new subscription page by mohamed-->
<style>
    .m .row div{
        padding:5px 10px;  
        font-size:14px;
    }
    .bb{
        font-weight:bold;
    }
</style>

<div class="m ibox">
    <div class="ibox ibox-content">

        <div class="input-group">
            <h3>Subscription Information</h3>       
        </div>

        <hr>
        <div class="row">
            <div class="bb col-sm-3"> 
                Company Name 
            </div>
            <div class="col-sm-5">
                <?php
                if (isset($this->company_name)) {

                    echo $this->escape($this->company_name);
                }
                ?>
            </div>
        </div>	 


        <div class="row">
            <div class="bb col-sm-3"> 
                Plan Name 
            </div>
            <div class="col-sm-5">
                <?php
                if (isset($this->plan_name)) {

                    echo $this->escape($this->plan_name);
                }
                ?>
            </div>
        </div>	

        <div class="row">	  
            <div class="bb col-sm-3"> 
                Maximum Users / Plan 
            </div>
            <div class="col-sm-5">
                <?php
                if (isset($this->plan_name)) {

                    echo $this->escape($this->max_plan);
                }
                ?>
            </div>
        </div>   

        <hr>
        <!--*****************************************************    paid or active account    ******************************************-->
        <?php if ((strtotime($this->trial_end_date) < time()) && $this->CustomerTokenID != null && (time() >= strtotime($this->from) && time() <= strtotime($this->to))) { ?>

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Account Status 
                </div>
                <div class="col-sm-5">
                    <span class="label label-primary"><?php echo $this->escape($this->account_status); ?></span>
                </div>
            </div>

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Start Date
                </div>
                <div class="col-sm-5">
                    <?php
                    echo $this->escape($this->from);
                    ?>
                </div>
            </div> 	

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    End Date
                </div>
                <div class="col-sm-5">
                    <?php
                    echo $this->escape($this->to);
                    ?>
                </div>
            </div> 

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    last payment amount
                </div>
                <div class="col-sm-5">
                    $ <?php echo abs($this->escape($this->last_payment) * 100); ?>  
                </div>
            </div> 

        <?php } else { ?>

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Account Status 
                </div>
                <div class="col-sm-5">
                    <span class="label label-primary"><?php echo $this->escape($this->account_status); ?></span>
                </div>
            </div> 

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Trial End Date
                </div>
                <div class="col-sm-5">

                    <?php
                    echo $this->escape($this->trial_end_date);
                    ?>
                </div>
            </div>
        <?php } ?>


        <div class="row">	  
            <div class="bb col-sm-3"> 
                Remainder Days
            </div>
            <div class="col-sm-5">
                <?php
                echo $this->escape($this->remind_days);
                ?>   
            </div>
        </div> 
        <hr>

        <div class="row">	  
            <div class="bb col-sm-3"> 
                Active users you have
            </div>
            <div class="col-sm-5">
                <?php
                echo $this->escape($this->company_users_active);
                ?>  Users
            </div>


        </div> 

        <hr>
        <?php if ($this->twilioNumberRow['twilio_number']) { ?>
            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Phone Number
                </div>
                <div class="col-sm-5">
                    <?php
                    echo $this->escape($this->twilioNumberRow['twilio_number']);
                    ?> 
                </div>
            </div> 
               <div class="row">	  
                <div class="bb col-sm-3"> 
                    Reminder Phone Days
                </div>
                <div class="col-sm-5">
                    <?php
                    echo $this->escape($this->remindTwilioDays);
                    ?> 
                </div>
            </div> 
            <hr>
        <?php } ?>

        <div class="row">
            <!-- ****************** trial Or suspended and want add billing info ************ -->
            <?php if (((strtotime($this->trial_end_date) >= time()) || (strtotime($this->trial_end_date) < time())) && $this->CustomerTokenID == null) { ?>

                <form name="addBillingInfo" id="addBillingInfo" method="post" action="<?php echo $this->escape($this->url(array(), 'manageBillingInformation')); ?>">
                    <input type="hidden" class="form-control" name="nameFlag" value= "add_billing_info" />            
                    <input type="hidden" class="form-control" name="operation" value= "pre_add_billing" />
                    <!-- ************ trial and want to add billing info or change his plan*******-->
                    <?php if (strtotime($this->trial_end_date) >= time()) { ?>
                        <a  class="btn btn-primary  col-sm-5 col-sm-offset-1" onclick="document.getElementById('addBillingInfo').submit();"  ><i class="fa fa-info-circle" ></i> Add Billing Information </a>       
                        <a  class="btn btn-primary  col-md-5"  data-toggle="modal" data-target="#popupi" onClick="popupi('Change Plan', '<?php echo $this->escape($this->url(array(), 'changePlanTrialSubscription')); ?>');"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Change Plan</a>                       
                        <!-- ************ suspended and want to add billing info or change his plan*******-->
                    <?php } else { ?>
                        <a  class="btn btn-primary  col-sm-4 col-sm-offset-1" onclick="document.getElementById('addBillingInfo').submit();"  href="#"><i class="fa fa-info-circle" ></i> Become Premium </a>                               
                        <a  class="btn btn-primary  col-md-5"  data-toggle="modal" data-target="#popupi" onClick="popupi('Change Plan', '<?php echo $this->escape($this->url(array(), 'changePlanTrialSubscription')); ?>');"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Change Plan</a> 
                    <?php } ?>
                </form>
                <!-- ****************** trial Or paid and want update billing info ************ -->
            <?php } elseif (((strtotime($this->trial_end_date) >= time()) || (strtotime($this->trial_end_date) < time())) && $this->CustomerTokenID != null) { ?>
                <form name="updateBillingInfo" id="updateBillingInfo" method="post" action="<?php echo $this->escape($this->url(array(), 'manageBillingInformation')); ?>">          
                    <input type="hidden" class="form-control" name="nameFlag" value= "update_billing_info" />            
                    <input type="hidden" class="form-control" name="operation" value= "pre_add_billing" />
                    <!-- ************ trial and want to update billing info or change his plan *******-->
                     <?php $accountModel = new Model_Account();  
                    $res = $accountModel->checkAccountIfhaveRequestBefor($this->account_id);
                    ?>
                    <?php if (strtotime($this->trial_end_date) >= time()) { 
                        if($res == false) {?>                   
                        <a  class="btn btn-primary  col-sm-3 col-sm-offset-1" onclick="document.getElementById('updateBillingInfo').submit();"  ><i class="fa fa-info-circle" ></i> Update Billing Information </a>       
                        <a  class="btn btn-primary  col-sm-2 col-sm-offset-1"  data-toggle="modal" data-target="#popupi" onClick="popupi('Change Plan', '<?php echo $this->escape($this->url(array(), 'changePlanTrialSubscription')); ?>');"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Change Plan</a>                       
                        <a  class="btn btn-primary  col-sm-3 col-sm-offset-1"  data-toggle="modal" data-target="#popupi" onClick="popupi('Phone Capabilities', '<?php echo $this->escape($this->url(array('id'=>$this->account_id), 'CheckAvailabilityTwilioNumber')); ?>');"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Request Phone Number</a>
                        <?php }else{ ?>
                        <a  class="btn btn-primary  col-sm-4 col-sm-offset-2" onclick="document.getElementById('updateBillingInfo').submit();"  ><i class="fa fa-info-circle" ></i> Update Billing Information </a>       
                        <a  class="btn btn-primary  col-sm-4 col-sm-offset-2"  data-toggle="modal" data-target="#popupi" onClick="popupi('Change Plan', '<?php echo $this->escape($this->url(array(), 'changePlanTrialSubscription')); ?>');"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Change Plan</a>                       
                        <?php } ?>
                        <!-- ************ paid and want to update billing info or change his plan*******-->
                    <?php } else { 
                        if($res == false) {?> 
                        <a  class="btn btn-primary  col-sm-3 col-sm-offset-1" onclick="document.getElementById('updateBillingInfo').submit();"  ><i class="fa fa-info-circle" ></i> Update Billing Information </a>       
                        <a  class="btn btn-primary  col-sm-2 col-sm-offset-1"  href="<?php echo $this->escape($this->url(array(), 'changePlanSubscription')); ?>"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Change Plan</a> 
                        <a  class="btn btn-primary col-sm-3 col-sm-offset-1"   data-toggle="modal" data-target="#popupi" onClick="popupi('Phone Capabilities', '<?php echo $this->escape($this->url(array('id'=>$this->account_id), 'CheckAvailabilityTwilioNumber')); ?>');"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Request Phone Number</a>
                        <?php }else{ ?>
                        <a  class="btn btn-primary  col-sm-4 col-sm-offset-1" onclick="document.getElementById('updateBillingInfo').submit();"  ><i class="fa fa-info-circle" ></i> Update Billing Information </a>       
                        <a  class="btn btn-primary  col-sm-4 col-sm-offset-1"  href="<?php echo $this->escape($this->url(array(), 'changePlanSubscription')); ?>"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Change Plan</a> 
                        <?php } ?>
                    <?php } ?>
                </form>
            <?php } ?>
                
                 

        </div> 

    </div>
</div>

<form name="purchasePhoneNumber" id="purchasePhoneNumber" method="post" action="<?php //echo $this->escape($this->url(array(), 'pagesubscription')); ?>">
     <input type="hidden" class="form-control" name="twilioAdd" value= "1" />            
     <input type="hidden" class="form-control" name="companyID" value= "<?php //echo $this->escape($this->company_id); ?>" />
</form>







