<div class="container-fluid">
    
    <?php if(strcmp($this->isGreaterThan, 'yes') !=0){?>    
        <p>You have reached your maximum allowed number of users under your plan and you have to upgrade your plan if you want to add any more users.</p>     
    <?php }else{?>
        <p>The actual registered users is greater than the maximum number of users in the selected Plan.</p>
    <?php } ?>
        
        <div class="form-group">
            <div class="pull-right" id="button_cont">
                <button type="button"  class="btn btn-white" data-dismiss="modal">Cancel</button>
            </div>
        </div>
  
</div>