<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Services
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsServicesDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Services?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Service</b></td>
                                <td><b>Attribute</b></td>
                                <td><b>Price Equasion</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php $modelServiceAttribute = new Model_ServiceAttribute(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['service_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php echo $this->escape($row['service_name']) ?> 
                                            </div>
                                            <div class="booking_time_cont">
                                                <span style="color: #A1A1A1;">From :</span> <?php echo $this->escape($row['company_name']) ?>
                                                <span style="color: #A1A1A1;">Min Price :</span> <?php echo $this->escape(number_format($row['min_price'], 2)) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['service_id']), 'settingsServicesEdit')); ?>','220','450');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['service_id']), 'settingsServicesDelete')); ?>" onclick="return confirm('are you sure you want to delete this Services?');" class="details_info_opt">Delete</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('service_id' => $row['service_id']), 'settingsServiceAttributeList')); ?>" class="details_info_opt">Assign Attribute</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td>
                                        <?php $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($row['service_id']); ?>
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php if ($serviceAttribute): ?>
                                                <?php foreach ($serviceAttribute as $attribute): ?>
                                                    <div>
                                                        <?php echo $this->escape($attribute['attribute_name']); ?>
                                                    </div>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td><div class="details_info_l" style="font-size: 14px;"><?php echo $this->escape($row['price_equasion']) ?></div></td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Service.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsServicesAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsServicesAdd')); ?>','220','450');" class="btn_a">
                            <div class="text_pos">
                                New Service
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Services
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsServicesList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="settings_border_btm_style">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsServicesList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

