			<div class="col-md-5">
				<img src="/uploads/images/eWay.png" alt="Eway Logo" width="250" height="80">
			</div>

	<form class="form-horizontal" id="form_refund" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="refund_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_refund','#content_modal_popup');return false;">

	                
               <!-- <?php echo $this->form->getAction();?> -->



 		<div class="ibox no-margin-b" >
		   <div class="error_message" style="color:red"></div>
			<div class="ibox-content" >
			
				<div class="row">
					<div class="col-md-16">

					<!-- /********* Invoice Information *************/ -->
						<span style="font-size: 15px;"><strong> <i class="fa fa-star">&nbsp;</i> INVOICE INFORMATION: </strong></span><br></br>
					  	<div class="form-group">
							<label class="col-md-3">Invoice#</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('invoice_num')->render(); ?>									
							</div>
						</div>
							  
						<div class="form-group">
							<label class="col-md-3">Invoice Amount</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('invoice_amount')->render(); ?>	
							</div>
						</div>

						<!-- /********* Payment Information *************/ -->
						<span style="font-size: 15px;"><strong> <i class="fa fa-star">&nbsp;</i> PAYMENT INFORMATION: </strong></span><br></br>

						<div class="form-group">
							<label class="col-md-3">Transaction ID:</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('payment_transaction_id')->render(); ?>		
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3">Total amount:</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('payment_amount')->render(); ?>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3">Payment Date:</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('payment_date')->render(); ?>
							</div>
						</div>

		


						<!-- /********* Refund Information *************/ -->					
						<span style="font-size: 15px;"><strong> <i class="fa fa-star">&nbsp;</i> REFUND SUMMARY: </strong></span><br></br>

						<div class="form-group">
							<label class="col-md-3">Refunded To Date: </label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('refunded_to_date')->render(); ?>
								<span class="hint">Amount including the <b>bank charges</b>.</span>
							</div>
						</div>
								


						<div class="form-group">
							<label class="col-md-3">Amount to Refund: </label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('avalible_refund')->render(); ?>
							</div>
						</div>
						
					
					 	<div class="form-group">
							<label class="col-md-3">Acknowledgment</label>
							<div class="col-md-9">
								 <?php echo $this->form->getElement('is_acknowledgment')->render(); ?>
								 <span> Notify customer of the refund via email </span>
							</div>
						</div>

						<!-- /*********************************************************************************/ -->
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Received Date</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('received_date')->render(); ?>									
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Bank Charges</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('bank_charges')->render(); ?>									
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Amount Withheld</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('amount_withheld')->render(); ?>									
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Reference</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('reference')->render(); ?>									
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Withholding Tax</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('withholding_tax')->render(); ?>									
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Is Acknowledgment#6</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('is_acknowledgment')->render(); ?>									
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Amount</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('amount')->render(); ?>									
							</div>
						</div>
						
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Customer Name</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('customer_name')->render(); ?>									
							</div>
						</div>
						
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Description</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('description')->render(); ?>									
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Payment Type</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('payment_type_id')->render(); ?>									
							</div>
						</div>
						<div class="form-group" style="display: none;">
							<label class="col-md-3">Contractor Id</label>
							<div class="col-md-9">
								<?php echo $this->form->getElement('contractor_id')->render(); ?>									
							</div>
						</div>

						<!-- /***********************************************************/ -->

						<div class="form-group">                    
				            <div class="col-md-9 col-md-offset-3" id="button_refund">
				              <?php echo $this->form->getElement('refund_button')->render(); ?>
				            </div>
				        </div>
		 
					</div>
					
				</div>
			</div>
		</div>		
	</form>



<script>

    // function refund_submit(url,form,content){
    //     $('#button_refund').html('<img src="/pic/loading-4.gif">');
    //     $.ajax({
    //         type: "POST",
    //         url: url,
    //         data: $(form).serialize(),
    //         dataType: "JSON",
    //    		cache: false,
    //         success: function(data) {
    //             if(data.IfSuccess) {
    //             	console.log(data.goToUrl);
    //             	window.location = data.goToUrl;					
				// 	//$('#popupi').modal('show');
				// 	 //popupi('complaint Acknowledgement', data.url);
				// 	//showPopupWindowWithGoTo(data.url,data.goToUrl,'510','800','complaint Acknowledgement','goToUrl='+encodeURIComponent(data.goToUrl));
    //             } 
    //             else {  
    //                 console.log(data);            	
    //                $(content).html(data.view);
				//    // console.log(data.url);
				//    // $('.error_message').html(data.error_msg);
				//    // $('#button_refund').html('<input type="submit" name="refund_button" id="refund_button" value="Process Refund" class="button btn btn-primary">');
    //             } 
    //         },
    //         error: function(result) {
    //                 alert("Error: Data Not Found!!");
    //             }
    //     });
    // }


function refund_submit(url,form,content){
        $('#button_refund').html('<img src="/pic/loading-4.gif">');
        
        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize(),
            dataType: "JSON",
       		cache: false,

            success: function(result) {
                if(result.typeMsg == 'sucsses_refund') {
                	window.location = result.goToUrl;	
                	  console.log("this is  .. Correct in Refund ");				
					//$('#popupi').modal('show');
					 //popupi('complaint Acknowledgement', data.url);
					//showPopupWindowWithGoTo(data.url,data.goToUrl,'510','800','complaint Acknowledgement','goToUrl='+encodeURIComponent(data.goToUrl));
                }
                else if(result.typeMsg == 'error_refund') {
	                window.location = result.goToUrl; 
	                console.log("this is  .. Error in Refund ");
                }
                else {
                	$(content).html(result.view);
                }
            },
            error: function(result) {
            	alert(result.typeMsg);
                    alert("Error: Data Not Found!!");
                    // window.location = data.goToUrl;
                }
        });
    }

</script>