   <?php
    $dateTimeObj= get_settings_date_format();
	if(!empty($dateTimeObj))
	$JsDateFormat= dateFormat_zend_to_js($dateTimeObj['date_format']);
?>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-5">
                <h3>Edit Refund</h3>
                <ol class="breadcrumb" style="font-size:13px;" >
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/invoices">Invoices</a>
                </li>
                
                <li >
                    <a href="/refund?fltr[is_approved]=no">Refunds</a>
                </li>
                <li class="active">
                    <strong>Edit Refund</strong>
                </li>
            </ol>
            </div>

        </div>
    </div>

    <div class="ibox-content">
        <div class="row">
            <div class="col-md-5">
                <nav>
                    <a href="javascript:;" onclick="$('#form').submit();" class="btn btn-primary">
                        Save
                    </a>


                    <a href="<?php echo $this->escape($this->url(array('id' => $this->bookingInvoice['id']), 'invoiceView')); ?>" class="btn btn-white">

                        No Refund
                    </a>

                </nav>

            </div>
        </div>
    </div>

</div>
<form  class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">

    <div class="ibox no-margin-b" >
        <div class="ibox-content" >
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-md-3">Invoice#</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control"  style="background-color: gainsboro" value= "<?php echo $this->escape($this->bookingInvoice['invoice_num']) ?>" readonly="readonly"/>
                            <span> 
                                <?php if (CheckAuth::checkCredential(array('editInvoiceNumber'))): ?>
                                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Invoice Number', '<?php echo $this->escape($this->url(array('id' => $this->bookingInvoice['id']), 'editInvoiceNumber')); ?>');">Edit Invoice Number</a>
                                <?php endif; ?>
                            </span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3">Invoice Type</label>
                        <div class="col-md-9">
                            <input type="text"  class="form-control" style="background-color: gainsboro" value= " <?php echo $this->escape($this->bookingInvoice['invoice_type']) ?>" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Invoice Amount</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" style="background-color: gainsboro" value= "<?php echo $this->escape(number_format($this->bookingInvoice['booking']['qoute'], 2, '.', '')) ?>" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Invoice Date</label>
                        <div class="col-md-9">

                            <input type="text" class="form-control" style="background-color: gainsboro" value= "<?php 
							//echo $this->escape(date("d M Y", $this->bookingInvoice['created']));
							if(!empty($dateTimeObj))
							echo getNewDateFormat($this->bookingInvoice['created']);
                            else
							echo $this->escape(date('d M Y', $this->bookingInvoice['created']));

							//echo getNewDateFormat($this->bookingInvoice['created']);

							?>" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Customer Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control"  style="background-color: gainsboro"  value= "<?php echo $this->escape($this->bookingInvoice['customer_name']) ?>" readonly="readonly"/>

                        </div>
                    </div>



                    <div class="form-group">
                        <label class="col-md-3">Received Date</label>
                        <div class="col-md-9">
                            <?php echo $this->form->getElement('received_date')->render(); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Payment Type</label>
                        <div class="col-md-9">
                            <?php echo $this->form->getElement('payment_type_id')->render(); ?>
                        </div>
                    </div>
                    <div class="form-group" id="contractors" >
                        <div class="col-md-3">Technician</div>
                        <div class="col-md-9">
                            <?php echo $this->form->getElement('contractor_id')->render(); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">Refund Amount</label>
                        <div class="col-md-9">
                            <?php echo $this->form->getElement('amount')->render(); ?>
                            <span class="hint">Amount paid by the customer including the <b>bank charges</b>.</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3">Refund Reference #</label>
                        <div class="col-md-9">
                            <?php echo $this->form->getElement('reference')->render(); ?>
                        </div>
                    </div>	

                    <div class="calender_slct_customer_cont" style="display: none;">

                        <div class="form-group">
                            <label class="col-md-3">Withholding Tax</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('withholding_tax')->render(); ?>
                                <span>Yes, the customer has deducted withholding tax</span>
                            </div>
                        </div>


                        <div class="form-group" id="amount_withheld_block" style="<?php if (!$this->form->getElement('withholding_tax')->getValue()): ?>display: none;<?php endif; ?>">
                            <label class="col-md-3">Amount Withheld</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('amount_withheld')->render(); ?>

                            </div>
                        </div>
                    </div>

                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">Bank Charges</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('bank_charges')->render(); ?>

                            </div>
                        </div>



                    </div>


                    <div class="form-group">
                        <label class="col-md-3">Description</label>
                        <div class="col-md-9">
                            <?php echo $this->form->getElement('description')->render(); ?>
                        </div>
                    </div>	
                    <div class="form-group">
                        <label class="col-md-3">Acknowledgment</label>
                        <div class="col-md-9">
                            <?php echo $this->form->getElement('is_acknowledgment')->render(); ?>
                            <span>Thank your customer for the refund via email</span>
                        </div>
                    </div>	

                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">invoice_num</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('invoice_num')->render(); ?>					
                            </div>
                        </div>
                    </div>
                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">invoice_amount</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('invoice_amount')->render(); ?>					
                            </div>
                        </div>
                    </div>
                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">payment_transaction_id</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('payment_transaction_id')->render(); ?>					
                            </div>
                        </div>
                    </div>

                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">payment_amount</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('payment_amount')->render(); ?>					
                            </div>
                        </div>
                    </div>


                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">payment_date</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('payment_date')->render(); ?>					
                            </div>
                        </div>
                    </div>

                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">customer_name</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('customer_name')->render(); ?>					
                            </div>
                        </div>
                    </div>

                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">refunded_to_date</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('refunded_to_date')->render(); ?>					
                            </div>
                        </div>
                    </div>

                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">avalible_refund</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('avalible_refund')->render(); ?>					
                            </div>
                        </div>
                    </div>

                    <div class="calender_slct_customer_cont" style="display: none;">
                        <div class="form-group">
                            <label class="col-md-3">Bank Charges</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('bank_charges')->render(); ?>					
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</form>

<script>
    $(document).ready(function () {
        $("#received_date").datepicker({
            //format: 'd M yyyy',
		   //format:'<?=$JsDateFormat?>',
		format:'<? if(!empty($dateTimeObj)) echo $JsDateFormat; else echo"d M yyyy" ?>',

        });
    });
</script>