<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-5">
                <h3>New Refunds</h3>
                
                <ol class="breadcrumb" style="font-size:13px;" >
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/invoices">Invoices</a>
                </li>
                <li class="active">
                    <strong>New Refunds</strong>
                </li>
            </ol>
            </div>
            <div class="col-md-7">


                <?php if (CheckAuth::checkCredential(array('bookingRefundList')) || CheckAuth::checkCredential(array('refundList'))): ?>
                    <ul class="inline-list float-lg-r">
                        <li> <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingRefundList') : $this->url(array(), 'refundList')); ?>?fltr[is_approved]=all" style="<?php echo $this->escape(isset($this->filters['is_approved']) && $this->filters['is_approved'] == 'all' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">all</a> |</li>
                        <li> <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingRefundList') : $this->url(array(), 'refundList')); ?>?fltr[is_approved]=yes" style="<?php echo $this->escape(isset($this->filters['is_approved']) && $this->filters['is_approved'] == 'yes' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">approved</a> |</li>
                        <li><a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingRefundList') : $this->url(array(), 'refundList')); ?>?fltr[is_approved]=no" style="<?php echo $this->escape(isset($this->filters['is_approved']) && $this->filters['is_approved'] == 'no' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">unapproved</a></li>
                    </ul>
                <?php endif; ?>


            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">

            <div class="col-md-5">

                <form id="search_form">
                    <div class="input-group">
                        <h4>   Search refund </h4>
                        <ul class="inline-list">
                            <li> 
                                <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />

                            </li>
                            <li>
                                <span class="input-group-btn">
                                    <input type="submit" name="button" id="button" value="Search" class="btn btn-primary">
                                </span>     
                            </li>         
                        </ul>                   
                    </div>
                </form>
            </div>



            <div class="col-md-7">

                <div  class="rhsCustomerName rhsPanel" id="RHSDIV">
                    <div style="" class="f11 ffva">
                        <b>How do I record a refund received from a customer?</b>
                        <br>
                        <br>
                        To do this,
                        <ol class="invoice_index_ol_style">
                            <li class="f11">Go to an invoice</li>
                            <li class="f11">Click on <b>Add Refund</b> link</li>
                            <li class="f11">Please enter the refund details</li>
                            <li class="f11">Click on <b>Save</b>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="ibox float-e-margins no-margin-b">   
    <div class="ibox-title">
        <h5>Refund</h5>
    </div>
    <div class="ibox-content">        
        <?php if ($this->data): ?>

            <form action="" sortingMethod="POST" onsubmit="return confirm('are you sure you want to delete this Refund?');">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>

                                <?php if ($this->orderBy == 'received_date' && $this->sortingMethod == 'ASC'): ?>
                                    <a style="text-decoration: none; color: black;" href="<?php echo $this->escape($this->url(array(), 'refundList')); ?>?sort=received_date&method=DESC&page=<?php echo $this->escape($this->currentPage) ?><?php echo $this->escape(!empty($this->filters['is_approved']) ? '&fltr[is_approved]=' . $this->filters['is_approved'] : '') ?>">Date <img src="<?php echo $this->escape($this->baseUrl('/pic/up_arrow.png')); ?>" border="0"/></a>
                                <?php else: ?>
                                    <a style="text-decoration: none; color: black;" href="<?php echo $this->escape($this->url(array(), 'refundList')); ?>?sort=received_date&method=ASC&page=<?php echo $this->escape($this->currentPage) ?><?php echo $this->escape(!empty($this->filters['is_approved']) ? '&fltr[is_approved]=' . $this->filters['is_approved'] : '') ?>">Date <img src="<?php echo $this->escape($this->baseUrl('/pic/down_arrow.png')); ?>" border="0"/></a>
                                <?php endif; ?>


                            </th>
                            <th>

                                <?php if ($this->orderBy == 'payment_type_id' && $this->sortingMethod == 'ASC'): ?>
                                    <a style="text-decoration: none; color: black;" href="<?php echo $this->escape($this->url(array(), 'refundList')); ?>?sort=payment_type_id&method=DESC&page=<?php echo $this->escape($this->currentPage) ?><?php echo $this->escape(!empty($this->filters['is_approved']) ? '&fltr[is_approved]=' . $this->filters['is_approved'] : '') ?>">Refund Details <img src="<?php echo $this->escape($this->baseUrl('/pic/up_arrow.png')); ?>" border="0"/></a>
                                <?php else: ?>
                                    <a style="text-decoration: none; color: black;" href="<?php echo $this->escape($this->url(array(), 'refundList')); ?>?sort=payment_type_id&method=ASC&page=<?php echo $this->escape($this->currentPage) ?><?php echo $this->escape(!empty($this->filters['is_approved']) ? '&fltr[is_approved]=' . $this->filters['is_approved'] : '') ?>">Refund Details <img src="<?php echo $this->escape($this->baseUrl('/pic/down_arrow.png')); ?>" border="0"/></a>
                                <?php endif; ?>



                            </th>
                            <th><b>Reference#</b></th>
                            <th>
                                <?php if ($this->orderBy == 'amount' && $this->sortingMethod == 'ASC'): ?>
                                    <a style="text-decoration: none; color: black;" href="<?php echo $this->escape($this->url(array(), 'refundList')); ?>?sort=amount&method=DESC&page=<?php echo $this->escape($this->currentPage) ?><?php echo $this->escape(!empty($this->filters['is_approved']) ? '&fltr[is_approved]=' . $this->filters['is_approved'] : '') ?>">Amount Paid <img src="<?php echo $this->escape($this->baseUrl('/pic/up_arrow.png')); ?>" border="0"/></a>
                                <?php else: ?>
                                    <a style="text-decoration: none; color: black;" href="<?php echo $this->escape($this->url(array(), 'refundList')); ?>?sort=amount&method=ASC&page=<?php echo $this->escape($this->currentPage) ?><?php echo $this->escape(!empty($this->filters['is_approved']) ? '&fltr[is_approved]=' . $this->filters['is_approved'] : '') ?>">Amount Paid <img src="<?php echo $this->escape($this->baseUrl('/pic/down_arrow.png')); ?>" border="0"/></a>
                                <?php endif; ?>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <?php $count = 0; ?>
                        <?php $modelCustomer = new Model_Customer(); ?>
                        <?php $modelPaymentType = new Model_PaymentType(); ?>
                        <?php $modelBookingInvoice = new Model_BookingInvoice(); ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                            if ($count % 2 != 0) {
                                echo 'tr_cont_1';
                            } else {
                                echo 'tr_cont_2';
                            }
                            ?>">
                                <td class="details_info_l">
                                    <div class="details_info_l">
										<?php 
										    $dateTimeObj= get_settings_date_format();
                                            if(!empty($dateTimeObj)) 
										    echo getNewDateFormat($row['received_date'],'all');
										    else
                                         echo $this->escape(getDateFormating($row['received_date'])); ?>
                                    </div>
                                    <div class="details_info_l">
                                        <?php echo $this->escape($row['is_approved'] ? 'APPROVED' : 'UNAPPROVED'); ?>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))): ?>
                                                <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                    <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                    <?php echo $this->escape(get_customer_name($customer)); ?>
                                                </a>
                                            <?php endif; ?>
                                        </div>
                                        <div class="booking_time_cont">
                                            <?php
                                            $invoice = $modelBookingInvoice->getByBookingId($row['booking_id']);
                                            $paymentType = $modelPaymentType->getById($row['payment_type_id']);
                                            ?>

                                            <span>Amount refunded by </span>
                                            <b><?php echo $this->escape($paymentType['payment_type']) ?></b>

                                            <span> for </span>

                                            <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'invoiceView')); ?>" class="a_link_black"><b><?php echo $this->escape($invoice['invoice_num']) ?></b></a>
                                            <?php else: ?>
                                                <span><b><?php echo $this->escape($invoice['invoice_num']) ?></b></span>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    <div class="details_info_l">
                                        <?php
                                        $actions = array();

                                        if (0 === $row['is_approved']) {
                                            if (CheckAuth::checkCredential(array('editRefund'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['refund_id']), 'editRefund')) . '"  class="details_info_opt">Edit</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('refundDelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['refund_id']), 'refundDelete'))}','Are you sure you want to delete this Refund ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('refundApprove'))) {
                                            if (0 === $row['is_approved']) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['refund_id']), 'refundApprove')) . '" onclick="return confirm(\'Are you sure you want to Approve this Refund?\');" class="details_info_opt">Approve</a>';
                                            } else {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['refund_id']), 'refundUnapprove')) . '" onclick="return confirm(\'Are you sure you want to Unapprove this Refund?\');" class="details_info_opt">Unapprove</a>';
                                            }
                                        }
                                        ?>
                                        <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $actions); ?>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <?php echo $this->escape($row['reference']); ?>
                                    </div>
                                </td>
                                <td class="details_info_r">
                                    <div class="details_info_l">
                                        $ <?php echo $this->escape(number_format($row['amount'], 2)); ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>



            </form>

            <div>
                <?php if (count($this->pageLinks) > 3): ?>
                    <ul class="pagination">
                        <?php foreach ($this->pageLinks as $pageLink) : ?>
                            <li><?php echo $pageLink; ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>

        <?php else: ?>
            <?php if (CheckAuth::checkCredential(array('refundList'))): ?>
                <div> 
                    <a class="btn btn-primary" href="<?php echo $this->escape($this->url(array(), 'refundList')); ?>">View all Refund</a>
                </div>
            <?php endif; ?>
            <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Refund.</h3></div>

        <?php endif; ?>
    </div>	
</div>


<script type="text/javascript">
    function AddEditAttributeValue(url) {
        $(document).ready(function () {
            popupi("", url);
        });
    }
</script>

