   <?php
    $dateTimeObj= get_settings_date_format();
	if(!empty($dateTimeObj))
	$JsDateFormat= dateFormat_zend_to_js($dateTimeObj['date_format']);
?>
            <div class="col-md-5">
                <h3>Add Refund By Eway</h3>
            </div>

    <form class="form-horizontal" id="form_refund" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="refund_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_refund','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
               <?php echo $this->form->getAction();?>



        <div class="ibox no-margin-b" >
            <div class="ibox-content" >
                <div class="row">
                    <div class="col-md-16">
                        <div class="form-group">
                            <label class="col-md-3">Invoice#</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control"  style="background-color: gainsboro" value= "<?php echo $this->escape($this->bookingInvoice['invoice_num']) ?>" readonly="readonly"/>
                                <!-- <span> 
                                        <?php if (CheckAuth::checkCredential(array('editInvoiceNumber'))): ?>
                                        <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Invoice Number','<?php echo $this->escape($this->url(array('id' => $this->bookingInvoice['id']), 'editInvoiceNumber')); ?>');">Edit Invoice Number</a>
                                        <?php endif; ?>
                                </span>      -->                                
                            </div>
                        </div>
                              
                        <div class="form-group">
                            <label class="col-md-3">Invoice Amount</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" style="background-color: gainsboro" value= "<?php echo $this->escape(number_format($this->bookingInvoice['booking']['qoute'], 2, '.', '')) ?>" readonly="readonly"/>
                            </div>
                        </div>
                                
                        <div class="form-group">
                            <label class="col-md-3">Invoice Date</label>
                            <div class="col-md-9">
                            
                                <input type="text" class="form-control" style="background-color: gainsboro" value= "<?php if(!empty($dateTimeObj))
								echo getNewDateFormat($this->bookingInvoice['created']);
								else
								echo $this->escape(getDateFormating($this->bookingInvoice['created'])) ?>" readonly="readonly"/>
								</div>
                        </div>
                                
                        <div class="form-group">
                            <label class="col-md-3">Customer Name</label>
                            <div class="col-md-9">
                            <input type="text" class="form-control"  style="background-color: gainsboro"  value= "<?php echo $this->escape($this->bookingInvoice['customer_name']) ?>" readonly="readonly"/>
        
                            </div>
                        </div>
                                
                        <!-- <div class="form-group">
                            <label class="col-md-3">Invoice Type</label>
                            <div class="col-md-9">
                                <input type="text"  class="form-control" style="background-color: gainsboro" value= " <?php echo $this->escape($this->bookingInvoice['invoice_type']) ?>" readonly="readonly"/>
                            </div>
                        </div> -->
                                
                        <div class="form-group">
                            <label class="col-md-3">Received Date</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('received_date')->render(); ?>
                            </div>
                        </div>
                                
                        <div class="form-group">
                            <label class="col-md-3">Payment Type</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('payment_type_id')->render(); ?>
                            </div>
                        </div>
                        <div class="form-group" id="contractors" >
                            <div class="col-md-3">Technician</div>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('contractor_id')->render(); ?>
                            </div>
                           
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Refund Amount</label>
                            <div class="col-md-9">
                                <?php echo $this->form->getElement('amount')->render(); ?>
                                <span class="hint">Amount paid by the customer including the <b>bank charges</b>.</span>
                            </div>
                        </div>
                                
                        <div class="form-group">
                            <label class="col-md-3">Refund Reference #</label>
                            <div class="col-md-9">
                                 <?php echo $this->form->getElement('reference')->render(); ?>
                            </div>
                        </div>  
                                
                        <div class="calender_slct_customer_cont" style="display: none;">        
                            <div class="form-group">
                                <label class="col-md-3">Withholding Tax</label>
                                <div class="col-md-9">
                                    <?php echo $this->form->getElement('withholding_tax')->render(); ?>
                                    <span>Yes, the customer has deducted withholding tax</span>
                                </div>
                            </div>
                            <div class="form-group" id="amount_withheld_block" style="<?php if (!$this->form->getElement('withholding_tax')->getValue()): ?>display: none;<?php endif; ?>">
                                <label class="col-md-3">Amount Withheld</label>
                                <div class="col-md-9">
                                    <?php echo $this->form->getElement('amount_withheld')->render(); ?>
                                    
                                </div>
                            </div>
                        </div>
                                 
                                 
                        <div class="calender_slct_customer_cont" style="display: none;">
                            <div class="form-group">
                                    <label class="col-md-3">Bank Charges</label>
                                    <div class="col-md-9">
                                        <?php echo $this->form->getElement('bank_charges')->render(); ?>
                                    </div>
                            </div>
                        </div>
                                   
                       <div class="form-group" style="display: none;">
                            <label class="col-md-3">Description</label>
                            <div class="col-md-9">
                                 <?php echo $this->form->getElement('description')->render(); ?>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="col-md-3">Acknowledgment</label>
                            <div class="col-md-9">
                                 <?php echo $this->form->getElement('is_acknowledgment')->render(); ?>
                                 <span>Thank your customer for the refund via email</span>
                            </div>
                        </div>
                        <div class="form-group">                    
                            <div class="col-md-9 col-md-offset-3">
                              <?php echo $this->form->getElement('refund_button')->render(); ?>
                            </div>
                        </div>
         
                    </div>
                    
                </div>
            </div>
        </div>      
    </form>



<script>
    $(document).ready(function() {
        $("#received_date").datepicker({
            //dateFormat: 'dd-mm-yy',
		  // dateFormat:'<?=$JsDateFormat?>',
		    dateFormat:'<? if(!empty($dateTimeObj)) echo $JsDateFormat; else echo"dd-mm-yy" ?>',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    });

    function refund_submit(url,form,content){
        
        $('#refund_button').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize(),
            dataType: "json",
            success: function(data) {
                alert("inner 2  !!!!!");
                 console.log(data);
                if(data.IsSuccess) {
                    alert("inner 3  !!!!!");
                   console.log(data.url);
                   //alert(data.url);
                    window.location = data.goToUrl;
                    //$('#popupi').modal('show');
                     //popupi('complaint Acknowledgement', data.url);
                    //showPopupWindowWithGoTo(data.url,data.goToUrl,'510','800','complaint Acknowledgement','goToUrl='+encodeURIComponent(data.goToUrl));
                } else {
                    console.log('error side');
                    alert("error side 4 !!!!!");
                    $(content).html(data.view);
                }
            }
            alert("inner 5  !!!!!");
        });
        alert("inner 6   !!!!!");
    }
</script>