<?php if ($this->inquiryDiscussions): ?>
    <div id="discussions" class="discussion_container">
        <?php foreach ($this->inquiryDiscussions as $inquiryDiscussion): ?>
			<table class="table">
				<tr>
					<td>
						<?php echo $this->escape($inquiryDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($inquiryDiscussion['user']['role_name']); ?></span>)
					</td>
					<td>
						<?php echo $this->escape(getDateFormating($inquiryDiscussion['created'])); ?>
					</td>
					<td>
					    <?php echo nl2br($this->escape($inquiryDiscussion['user_message'])); ?>
					</td>
				</tr>
            </table>
			
        <?php endforeach; ?>
    </div>
<?php else: ?>
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Inquiry</p>
    </div>
<?php endif; ?>

<form method="POST" class="form-horizontal" id="discussion_form" onsubmit="sendInquiryDiscussion();return false;">



		<div class="form-group">
				<label class="col-lg-2 control-label">Discussion</label>
				<div class="col-lg-10">
					<textarea cols="" rows="" id="disc" name="discussion" class="descussion_txtarea form-control"></textarea>
				</div>
        </div>
		<div class="form-group"  id="button_cont">
                <div class="col-lg-offset-2 col-lg-10">
					<button type="submit" value="send" class="btn btn-primary" >Send</button>
					<a href="#" onclick="getData(); return false;" class="btn btn-white">Refresh</a>
                </div>
         </div>
   
</form>

<script type="text/javascript">
    function sendInquiryDiscussion(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'submitInquiryDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
                if(msg.success == 1){
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
                return_button();
            }
        });   
    }
    
    setTimeout('scrollDown()', 1);
    
    var count = 0;
    function getData(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'allInquiryDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
                if(count != msg.count){
                    
                    $('#discussions').html('');
                    $.each(msg.discussions, function(index, discussion) {
                        $('#discussions').append(
                        '<table class="table"><tr><td>'+
						discussion.user.username+'(<span class="red_color">'+discussion.user.role_name+'</span>)</td>'+
						'<td>'+discussion.discussion_date+'</td>'+
					    '<td>'+discussion.user_message+'</td></tr></table>'
                    );
                    });
                    
                    scrollDown();
                }
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                return_button();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<div class="col-lg-offset-2 col-lg-10">'+
					'<button type="submit" value="send" class="btn btn-primary" >Send</button>'+
					'<a href="#" onclick="getData(); return false;" class="btn btn-white" style="margin-left:7px">Refresh</a>'+
                '</div>');
    }
</script>