<style>
	.delete{
        display:none;
        float:right;
        cursor:pointer;
    }
	.commentBox:hover .delete{
        display:block;
    }
</style>
<?php 
$loggedUser = CheckAuth::getLoggedUser();
?>
<?php if ($this->inquiryDiscussions): ?>
        <ul id="discussions" class="discussion_container disc_b">
        <?php foreach ($this->inquiryDiscussions as $inquiryDiscussion): ?>
			
					<li class="commentBox">
					<?php if(CheckAuth::checkCredential(array('deleteCommentFromInquiryDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $inquiryDiscussion['discussion_id']; ?>"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $inquiryDiscussion['user_id']){?>
										<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $inquiryDiscussion['discussion_id']; ?>"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
						<div style = "float:left;">
							<div class="normal_font"> 
								<span>
								<i class="fa fa-user"></i>
									<b>	
									<?php echo $this->escape($inquiryDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($inquiryDiscussion['user']['role_name']); ?></span>)
									</b>
								</span>

								<span>
								&nbsp;
									<i class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;</i>
									<?php echo $this->escape(getDateFormating($inquiryDiscussion['created'])); ?>
								</span>
							</div>


							<div class="disc_message">
							    <?php echo nl2br($this->escape($inquiryDiscussion['user_message'])); ?>
							</div>
						</div>
						<div style = "clear:both;"></div> 
					</li>
			
        <?php endforeach; ?>
		</ul>
<?php else: ?>
<div class="ibox-content" id="popup_inquiry_discussions">
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Inquiry</p>
    </div>
</div>
<?php endif; ?>

<form method="POST" class="form-horizontal" id="discussion_form" onsubmit="sendInquiryDiscussion();return false;">



		<div class="form-group">
				<label class="col-lg-2 control-label">Discussion</label>
				<div class="col-lg-10">
					<textarea cols="" rows="" id="disc" name="discussion" class="descussion_txtarea form-control"></textarea>
				</div>
        </div>
		<div class="form-group"  id="button_cont">
                <div class="col-lg-offset-2 col-lg-10">
					<button type="submit" value="send" class="btn btn-primary" >Send</button>
					<a href="#" onclick="getData(); return false;" class="btn btn-white">Refresh</a>
                </div>
         </div>
   
</form>

<script type="text/javascript">
	var countAllDiscussion = $('#allDiscussionsCount').attr('count');
    function sendInquiryDiscussion(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'submitInquiryDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
                if(msg.success == 1){
						if($('#disc_tab').find('.no_result').length > 0){
						$('#disc_tab').html('<ul class="disc_b" id="Inquiry_discussion"></ul>')
						}
                    getData();
                    $('#discussions').removeClass('empty');
					
					countAllDiscussion++;
					$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
					$('#allDiscussionsCount').attr('count', countAllDiscussion);
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
                return_button();
            }
        });   
    }
    
    setTimeout('scrollDown()', 1);
    
    //var count = 0;
    function getData(){ 
		var count = 0;
		var loggedUserId = '<?php echo $loggedUser['user_id']; ?>';
		var canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromInquiryDashboard'));?>';
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'allInquiryDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
			
			    console.log(msg);
                if(count != msg.count){
                    
                     if($('ul#discussions').length > 0){
						$('ul#discussions').html('');
					}else{
						$('div#discussions').remove();
						$('#popup_inquiry_discussions').html('<ul class="disc_b discussion_container" id="discussions">');
					}
					
					if($('#Inquiry_discussion').length > 0){
						$('#Inquiry_discussion').html('');
					}else{
						$('#disc_tab').append('<ul class="disc_b" id="Inquiry_discussion"></ul>');
					}
					$('#Inquiry_discussion').html('<h4>Inquiry</h4>');
                    
        
                    $.each(msg.discussions, function(index, discussion) {
						var comment_text = '<li class="commentBox">';
						if(canDeleteComment){
							comment_text = comment_text + '<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="inquiry"><i class="glyphicon glyphicon-remove"></i></span>'
						}else{
							if(loggedUserId == discussion.user_id){
								comment_text = comment_text + '<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="inquiry"><i class="glyphicon glyphicon-remove"></i></span>'									
							}
						}
				
				
                 		$('#discussions').append(comment_text + 
                        '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b> </span>'+
						' <span> &nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
					    ''+discussion.user_message+'</div></div><div style="clear:both;"></div></li>'
                    );
					
					
					if(discussion.thumbnail_path){
					 
					  $('#Inquiry_discussion').append(comment_text + 
                        '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message"><input class="image_id" type="hidden" value = "'+ discussion.image_id +'"/>'+
					    '<img  style="margin-right: 10px;" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/')); ?>'+discussion.thumbnail_path+'"/>'+											 
						''+discussion.user_message+'</div></div><div style="clear:both;"></div></li>'
                    );
					   
					 
					}else if (discussion.grouped_images){
					  
					   $('#Inquiry_discussion').append(comment_text + 
                        '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
						'<div style="  width:auto;float: left;margin-right: 10px;" id="group'+index+'"></div><input class="group_id" type="hidden" value = "'+ discussion.group_id +'"/>'+
					    ''+discussion.user_message+'</div><div style="clear:both"></div></div><div style="clear:both;"></div></li>'); 
						
						for(var i = 0 ; i < discussion.grouped_images.length ; i ++){						  
						  $('#group'+index).append('<img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/'));?>'+discussion.grouped_images[i].thumbnail_path+'"/>');				
						}
					}else{  
					   $('#Inquiry_discussion').append(comment_text + 
                        '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
					    ''+discussion.user_message+'</div></div><div style="clear:both;"></div></li>'
                    ); 
					}
					
					
					
                    });
                    
                    scrollDown();
                }else{
						$('#popup_inquiry_discussions, #discussions, #Inquiry_discussion').html('');
						$('#popup_inquiry_discussions, #discussions').html('<div id="discussions" class="empty discussion_container"><p>No Discussion for this Inquiry</p></div>');
						
				}
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                return_button();
				$('[data-toggle="tooltip"]').tooltip();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<div class="col-lg-offset-2 col-lg-10">'+
					'<button type="submit" value="send" class="btn btn-primary" >Send</button>'+
					'<a href="#" onclick="getData(); return false;" class="btn btn-white" style="margin-left:7px">Refresh</a>'+
                '</div>');
    }
	
	$('#discussions, #popup_inquiry_discussions').on('click','.delete',function(){
		var delete_class = $(this);
		var discussion_id = delete_class.attr("discussionId");
		var inquiry_id = '<?php echo $this->inquiry['inquiry_id'] ?>'
		if(delete_class.closest('li').has("img").length > 0){
			//alert('contain images');
			var confirmResult = confirm( 'This comment contains images, do you want to delete those images as well?');
			if(confirmResult){
				$.ajax({
					url: "<?php echo $this->escape($this->url(array(), 'updateDeletedInquiryComment')); ?>",
					type: "POST",
					data: {discussion_id: discussion_id, have_images: 1, inquiry_id: inquiry_id, image_id: $(this).closest('li').find('.image_id').val(), group_id: $(this).closest('li').find('.group_id').val()},
					success: function (data) {
						if(data == 1){
							getData();	
							countAllDiscussion--;
							$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
							$('#allDiscussionsCount').attr('count', countAllDiscussion);

							if(countAllDiscussion == 0){
								$('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
							}
						}
					}
				});
			}	
		}else{
			//alert('doesnot contain');
			$.ajax({
				url: "<?php echo $this->escape($this->url(array(), 'updateDeletedInquiryComment')); ?>",
				type: "POST",
				data: {discussion_id: discussion_id},
				success: function (data) {
					if(data == 1){
						getData();
						countAllDiscussion--;
						$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
						$('#allDiscussionsCount').attr('count', countAllDiscussion);
						
						if(countAllDiscussion == 0){
							$('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
						}
					}
				}
			});
		}	
	});
	
	$('[data-toggle="tooltip"]').tooltip();
</script>