<form id="form_edit_invoice_number" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_edit_invoice_number','#TB_ajaxContent');return false;">
    <table>
        <tr>
            <td class="input_type" valign="top">Invoice Number:</td>
            <td><?php echo ($this->form->getElement('invoice_number')->render()); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top"> </td>
            <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
        </tr>
    </table>
</form>
