<form id="form_edit_invoice_number" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="edit_invoice_number('<?php echo $this->escape($this->form->getAction()); ?>');return false;">
    <div class="success_message" id="success_message" style="font-size:14px;" ></div>
	
	<table>
        <tr>
            <td class="input_type" valign="top">Invoice Number:</td>
            <td><?php echo ($this->form->getElement('invoice_number')->render()); ?>
			<div class="duplicate_message" id="duplicate_message" style="font-size:10px; font-weight:bold; color: red;" ></div>
			</td>
        </tr>
        <tr>
            <td class="input_type" valign="top"> </td>
            <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
        </tr>
    </table>
</form>


<script type="text/javascript">

$( document ).ready(function() {
    console.log( "ready!" );
	$("#invoice_number").keyup(function(){
		$.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(), 'checkDuplicateInvoice')); ?>',
            data: $('#form_edit_invoice_number').serialize(),
            dataType : "json",
            success: function(data) {
				console.log(data.is_duplicate);
				console.log(data.invoice_number);
				console.log('islam');
				if(data.is_duplicate){
					$('#duplicate_message').html('This invoice number already exists in the system, you can not have duplicate invoice numbers.' 
+'</br>Please enter a different invoice number.');
				}
				else{
					$('#duplicate_message').html('');
				}
				
            }
            
        });
	})
});


function edit_invoice_number(url){
       
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form_edit_invoice_number').serialize(),
            dataType : "json",
            success: function(data) {
				$('#booking_invoice_id_'+data.invoiceId).html(data.invoice_number);
				document.querySelector('#success_message').innerHTML = "Your invoice has been updated to "+data.invoice_number;
					$('#form_edit_invoice_number tr').remove();
					
            }
            
        });
    }
</script>