<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    <?php echo $this->escape((!empty($this->filters['invoice_type']) ? ucfirst($this->filters['invoice_type']) : 'All')); ?> Invoices
                </div>
                <div style="float: right; font-size: 12px; padding-top: 10px;">
                    <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                        <?php echo FilterLink::generate_link('all', array('fltr' => array('invoice_type' => 'all')), empty($this->filters['invoice_type']) || $this->filters['invoice_type'] == 'all', true); ?>
                        |
                        <?php echo FilterLink::generate_link('draft', array('fltr' => array('invoice_type' => 'draft')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'draft'); ?>
                        |
                        <?php echo FilterLink::generate_link('open', array('fltr' => array('invoice_type' => 'open')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'open'); ?>
                        |
                        <?php echo FilterLink::generate_link('unpaid', array('fltr' => array('invoice_type' => 'unpaid')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'unpaid'); ?>
                        |
                        <?php echo FilterLink::generate_link('overdue', array('fltr' => array('invoice_type' => 'overdue')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'overdue'); ?>
                        |
                        <?php echo FilterLink::generate_link('closed', array('fltr' => array('invoice_type' => 'closed')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'closed'); ?>
                        |
                        <?php echo FilterLink::generate_link('void', array('fltr' => array('invoice_type' => 'void')), isset($this->filters['invoice_type']) && $this->filters['invoice_type'] == 'void'); ?>
                        |
                        <?php echo FilterLink::generate_link('unpaid <span style="color: black;">(Ignore Approval)</span>', array('fltr' => array('not_paid' => true, 'invoice_type' => 'all')), isset($this->filters['not_paid']) && $this->filters['not_paid'] == true); ?>

                        <?php if (CheckAuth::checkCredential(array('invoiceFilterLabel'))): ?>
                            <input type="button" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'filterInvoiceLabel')); ?>','250','200','Invoices Label');" value="Filter By Label(s)"/>
                        <?php endif; ?>
                    <?php endif; ?>

                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form method="POST" id="form" onsubmit="return confirm('Are you sure you want to delete this Invoice ?');">
                    <div class="button_actions">
                        <?php if (CheckAuth::checkCredential(array('convertToOpen'))): ?>
                            <div class="button_pos_l">
                                <input type="button" onclick="doSubmit('<?php echo $this->escape($this->url(array(), 'convertToOpen')); ?>');" value="Convert to Open"/>
                            </div>
                        <?php endif; ?>
                        <?php if (CheckAuth::checkCredential(array('invoiceDelete'))): ?>
                            <div class="button_pos_l">
                                <input type="button" onclick="doSubmit('<?php echo $this->escape($this->url(array(), 'invoiceDeleteBtn')); ?>');" value="Delete"/>
                            </div>
                        <?php endif; ?>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td style="width: 40px; text-align: center;"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td style="width: 100px;"><?php echo SortOrder::generate_link('Invoice#', 'created') ?></td>
                                <td class="details"><b>Details</b></td>
                                <td><b>City</b></td>
                                <td><b>Technician</b></td>
                                <td><b>Users</b></td>
                                <td class="head_title"><b>Amount</b></td>
                            </tr>
                            <?php $modelBookingAddress = new Model_BookingAddress(); ?>
                            <?php $count = 0; ?>
                            <?php $modelCustomer = new Model_Customer(); ?>
                            <?php $modelUser = new Model_User(); ?>
                            <?php $modelClaimOwner = new Model_ClaimOwner();
                            $loggedUser = CheckAuth::getLoggedUser(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                    <td style="width: 40px; text-align: center;">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'invoiceView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['invoice_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span class="details_info_name"><b><?php echo $this->escape($row['invoice_num']) ?></b></span>
                                                <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['invoice_type']) {
                                                case 'draft':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'open':
                                                    $color = '#4F8BC3';
                                                    break;

                                                case 'overdue':
                                                    $color = 'red';
                                                    break;

                                                case 'closed':
                                                    $color = '#BCD68F';
                                                    break;

                                                case 'void':
                                                    $color = '#00004E';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                <?php echo $this->escape($row['invoice_type']); ?>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <?php if (!empty($row['have_attachment'])): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"><img src="/pic/icons/attach.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('invoiceView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'invoiceView')); ?>" class="a_link_black"><?php echo $this->escape($row['booking']['title']); ?></a>    
                                                <?php else: ?>
                                                    <span class="span_black"><?php echo $this->escape($row['title']); ?></span>    
                                                <?php endif; ?>
                                            </div>
                                            <div style="font-size: 12px; color: black; margin-top: 5px;">
                                                <div>
                                                    <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                                    <?php if ($row['invoice_type'] != 'closed'): ?>
                                                        <?php
                                                        $message = '';
                                                        $cdate = $row['created'];
                                                        $today = time();
                                                        $difference = $today - $cdate;
                                                        if ($difference < 0) {
                                                            $difference = 0;
                                                        }
                                                        $ago = (int) floor($difference / 60 / 60 / 24);
                                                        $due = $row['due_date'];

                                                        if ($ago > $due) {
                                                            $message = "overdue for " . ($ago - $due) . " day(s)";
                                                        } else {
                                                            $due = $due - $ago;
                                                            $message = "due in " . $due . " day(s)";
                                                        }
                                                        ?>
                                                        <span style="color: #A1A1A1; margin-left: 10px;">Balance: </span> $<?php echo $this->escape(number_format($row['booking']['qoute'] - $row['booking']['paid_amount'], 2)) ?> 
                                                        &ensp;
                                                        <span><?php echo $this->escape($message); ?></span>
                                                    <?php endif; ?>
                                                </div>
                                                <div>
                                                    <span style="color: #A1A1A1;">Customer Name:</span>
                                                    <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                        <a href="<?php echo $this->url(array('id' => $row['booking']['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                            <?php echo $this->escape($row['customer_name']); ?>
                                                        </a>    
                                                    <?php else: ?>
                                                        <span class="span_black">
                                                            <?php echo $this->escape($row['customer_name']); ?>
                                                        </span>    
                                                    <?php endif; ?>
                                                    <span style="color: #A1A1A1; margin-left: 10px;">Booking#:</span>
                                                    <span>
                                                        <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                            <a href="<?php echo $this->url(array('id' => $row['booking_id']), 'bookingView'); ?>" class="a_link_black">
                                                                <?php echo $this->escape($row['booking']['booking_num']); ?>
                                                            </a>    
                                                        <?php else: ?>
                                                            <span class="span_black">
                                                                <?php echo $this->escape($row['booking']['booking_num']); ?>
                                                            </span>    
                                                        <?php endif; ?>
                                                    </span>
                                                </div>
                                                <div id="address_list">
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                                                    <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                        <?php if ($bookingAddress): ?>
                                                            <span class="time_start_color" >Address :</span>
                                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                                <?php echo $this->escape($lineAddress); ?>
                                                            </a>
                                                        <?php endif; ?> 
                                                    <?php endif; ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php
                                            $actions = array();

                                            if (CheckAuth::checkCredential(array('bookingEdit'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt">Edit</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('paymentList'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingPaymentList')) . '" class="details_info_opt">Payment</a>';
                                            }

                                            if ($row['invoice_type'] != 'closed') {
                                                if (CheckAuth::checkCredential(array('paymentAdd'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'checkStatusToAddPayment')) . '" class="details_info_opt">Add Payment</a>';
                                                }
                                            }
                                            if ($row['booking']['paid_amount'] > 0) {
                                                if (CheckAuth::checkCredential(array('refundAdd'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'refundAdd')) . '" class="details_info_opt">Add Refund</a>';
                                                }
                                            }

                                            if (CheckAuth::checkCredential(array('statment'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('id' => $row['id']), 'statment'))}','850','800','Invoice Previrew'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Statement Preview</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('refundList'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingRefundList')) . '" class="details_info_opt">Refund</a>';
                                            }
                                            // Find Availability
                                            $findAvailabilityParams = array();
                                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                            $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                            $findAvailabilityParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                            foreach ($row['services'] as $service) {
                                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                            }
                                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                            $popupConfig = "'{$this->escape($this->url(array(), 'findAvailability'))}','500','1000','Find Availability','{$findAvailabilityParams}'";
                                            $actions[] = '<a   href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Find Availability</a>';

                                            //Nearest Booking
                                            $nearestBookingParams = array();
                                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking']['booking_start'])));
                                            $nearestBookingParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                            $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                            $nearestBookingParams = implode("&", $nearestBookingParams);
                                            $popupConfig = "'{$this->escape($this->url(array(), 'getRelatedAddress'))}','500','900','Nearest Bookings','{$nearestBookingParams}'";
                                            $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Nearest Bookings</a>';


                                            if (CheckAuth::checkCredential(array('invoices', 'setDueDate'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'setDueDate'))}','100','450'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Set Due Date</a>';
                                            }

                                            if ($row['invoice_type'] == 'draft') {
                                                if (CheckAuth::checkCredential(array('convertToOpen'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['id']), 'convertToOpenLink')) . '" class="details_info_opt">Convert to Open</a>';
                                                }
                                            } else {
                                                if (CheckAuth::checkCredential(array('convert'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('type' => 'draft', 'id' => $row['id']), 'convert')) . '" class="details_info_opt">Convert to Draft</a>';
                                                }
                                            }

                                            if (CheckAuth::checkCredential(array('convert'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('type' => 'void', 'id' => $row['id']), 'convert')) . '" class="details_info_opt">Convert to Void</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}','270','500'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Add complaint</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('invoiceDiscussion'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('id' => $row['id']), 'invoiceDisscussion'))}','470','700','Invoice Discussion'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Invoice Discussion</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('invoiceLabel'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('id' => $row['id']), 'invoiceSelectLabel'))}','250','200','Invoice Label'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('attachment'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('invoiceDelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'invoiceDelete'))}','Are you sure you want to delete this invoice ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('claimOwner')) && $row['booking']['created_by'] != $loggedUser['user_id']) {
                                                $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                                if (empty($claimOwner)) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                                }
                                            }

                                            $line_actions = array_slice($actions, 0, 3);
                                            $drop_down_actions = array_slice($actions, 3);
                                            ?>

                                            <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                            <?php if ($drop_down_actions): ?>
                                                <a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="menu_<?php echo $this->escape($row['id']) ?>"><span class="ui-icon ui-icon-triangle-1-s"></span>Actions</a>
                                                <div id="search-engines" class="hidden">
                                                    <ul>
                                                        <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                            <li>
                                                                <?php echo $drop_down_action; ?>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    </ul>
                                                </div>
                                                <div class="clearb"></div>
                                                <script>
                                                    $(function(){
                                                        // MENU	
                                                        $('#menu_<?php echo $this->escape($row['id']) ?>').fgmenu({ 
                                                            content: $('#menu_<?php echo $this->escape($row['id']) ?>').next().html(), // grab content from this page
                                                            showSpeed: 100 
                                                        });
                                                    });
                                                </script>
                                            <?php endif; ?>
                                        </div>
                                        <div class="details_info_l" style="width: 400px;" id="label_<?php echo $row['id'] ?>">
                                            <?php foreach ($row['labels'] as $label): ?>
                                                <div class="label_box">
                                                    <?php echo $this->escape($label); ?> 
                                                </div>
                                            <?php endforeach; ?>
                                        </div>  
                                    </td>

                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['city_name']); ?>    
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                                                <div><?php $user = $modelUser->getById($contractor_id); ?>
												<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"> <?php echo $this->escape(ucwords($user['username']) . ($contractor_name ? ' - ' . ucwords($contractor_name) : '')); ?></a>
                                    			                                                 
                                                </div>
                                            <?php endforeach ?>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l" >
                                            <?php foreach ($row['booking_users'] as $booking_user) : ?>
                                                <div style ="float: left; margin: 2px; padding: 2px 4px; background-color:#DDDDDD;">
                                                    <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
                                                </div> 
                                            <?php endforeach; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_r">
                                        <div class="details_info_l">
                                            <?php
                                            $modelBooking = new Model_Booking();
                                            $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                                            ?>
                                            $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no <?php echo $this->escape((!empty($this->filters['invoice_type']) ? ucfirst($this->filters['invoice_type']) : 'All')); ?> Invoices.
                    <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                        <div style="font-size:12px; margin-top:6px;">
                            <a href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>">View all Invoices</a>
                        </div>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <?php /*
              <td class="right_side" style="display: <?php echo isset($this->filters['submit']) && $this->filters['submit'] == 'on' ? 'table-cell' : 'none'; ?>;">
             */ ?>
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                    <div class="btn_cont">
                        <a href="<?php echo $this->escape($this->url(array(), 'bookingAdd')); ?>" class="btn_a">
                            <div class="text_pos">
                                New Booking
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <?php echo $this->render('index/filters.phtml'); ?>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    
    function doSubmit(url){
        $('#form').attr("action", url);
        $('#form').submit();
    }

</script>
