<?php
$loggedUser = CheckAuth::getLoggedUser();
$modelUser = new Model_User();
$modelClaimOwner = new Model_ClaimOwner();
$modelBookingStatus = new Model_BookingStatus();
?>
<table class="table">
    <tr>
        <td class="left_side">
            <div>
				
                <div class="details_info_l floatLeft" style="padding-left:  20px;">
                    <?php if (isset($this->invoice['labels'])): ?>
                        <?php foreach ($this->invoice['labels'] as $label): ?>
                            <div class="label_box">
                                <?php echo $this->escape($label); ?> 
                            </div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
                <div class="clearb"></div>
            </div>
            <div>
				<div class="details_info_container" >
				<?php $status = $modelBookingStatus->getById($this->booking['status_id']); ?>
                    <?php if (isset($status['name']) && ('COMPLETED' == $status['name'] || 'FAILED' == $status['name'])): ?>
                        <div >
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
									<tr>
										<td colspan="2" height="30" class="curveLGrnLBg billToPadding txt-lft" >
											<div class="info_title" >
												<b> Booking Update Details: </b>
											</div>
										</td>
									</tr>
                                    <tr>
                                        <td class="labelText"  style="width: 150px;"><b>Onsite Client Name</b></td> 
                                        <td class="valueText"><?php echo $this->escape(isset($this->booking['onsite_client_name']) ? $this->booking['onsite_client_name'] : "") ?></td>
                                    </tr>
                                    <tr>
                                        <td class="labelText"  style="width: 150px;"><b>Job Start Time</b></td> 
                                        <td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['job_start_time'])); ?></td>
                                    </tr>
                                    <tr>
                                        <td class="labelText"  style="width: 150px;"><b>Job Finish Time</b></td> 
                                        <td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['job_finish_time'])) ?></td>
                                    </tr>
                                    <tr>
                                        <td class="labelText"  style="width: 150px;"><b>Customer Satisfaction</b></td> 
                                        <td class="valueText">
                                            <table cellpadding="3" id="satisfaction">
                                                <tr>
                                                    <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label>Very Dissatisfied</label></td>
                                                    <td>
                                                        <label style="margin-left: 6px;">1</label>
                                                    </td>
                                                    <td>            
                                                        <label style="margin-left: 6px;">2</label>
                                                    </td>
                                                    <td>            
                                                        <label style="margin-left: 6px;">3</label>
                                                    </td>
                                                    <td>            
                                                        <label style="margin-left: 6px;">4</label>
                                                    </td>
                                                    <td>            
                                                        <label style="margin-left: 6px;">5</label>
                                                    </td>
                                                    <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label>Very Satisfied</label></td>
                                                </tr>
                                                <tr>
                                                    <td style="<?php echo $this->escape($this->booking['satisfaction'] == 1) ? 'background-color: #7EAF1F;' : ''; ?>" >
                                                        <?php if ($this->booking['satisfaction'] == 1): ?>
                                                            <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                        <?php endif; ?>
                                                    </td>
                                                    <td style="<?php echo $this->escape($this->booking['satisfaction'] == 2) ? 'background-color: #7EAF1F;' : ''; ?>">
                                                        <?php if ($this->booking['satisfaction'] == 2): ?>
                                                            <div style=" background-color: #7EAF1F;">
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                            </div>
                                                        <?php endif; ?>
                                                    </td>
                                                    <td style="<?php echo $this->escape($this->booking['satisfaction'] == 3) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->booking['satisfaction'] == 3): ?>
                                                            <div style=" background-color: #7EAF1F;">
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                            </div>
                                                        <?php endif; ?>
                                                    </td>
                                                    <td style="<?php echo $this->escape($this->booking['satisfaction'] == 4) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->booking['satisfaction'] == 4): ?>
                                                            <div style=" background-color: #7EAF1F;">
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                            </div>
                                                        <?php endif; ?>
                                                    </td>
                                                    <td style="<?php echo $this->escape($this->booking['satisfaction'] == 5) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->booking['satisfaction'] == 5): ?>
                                                            <div style=" background-color: #7EAF1F;">
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                            </div>
                                                        <?php endif; ?>
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="labelText"  style="width: 150px;"><b>Products Name</b></td> 
                                        <td class="valueText">
                                            <?php $modelBookingProduct = new Model_BookingProduct(); ?>
                                            <?php $modelProduct = new Model_Product(); ?>
                                            <?php $bookingProducts = $modelBookingProduct->getByBookingId($this->booking['booking_id']); ?>
                                            
                                            <?php foreach ($bookingProducts as $bookingProduct) : ?>
                                                <?php $product = $modelProduct->getById($bookingProduct['product_id']); ?>
                                                <div>
                                                    <?php echo $this->escape(count($bookingProducts) > 1) ? '&#187;' : ''; ?>
                                                    <?php echo $this->escape($product['product']) ?> <b><?php echo $this->escape(!empty($bookingProduct['ltr']) ? '(' . $bookingProduct['ltr'] . 'Ltr)' : ''); ?></b> 
                                                </div>
                                            <?php endforeach; ?>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <?php endif; ?>
				
					<!-- By Islam Contractor payment Details -->
				<div <?php if (isset($status['name']) && ('COMPLETED' == $status['name'] || 'FAILED' == $status['name'])){ ?> class="margin_t_30" <?php } ?>>
				  <table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody>
					<tr>
						<td colspan="2" height="30" class="curveLGrnLBg billToPadding txt-lft" >
							<div class="info_title" >
								<b> Payment to Technician: </b>
							</div>
						</td>
					</tr>
					
					<tr>
						<td class="labelText"  style="width: 150px;"><b>Technician Name:</b></td>
						<td class="valueText">
						<?php if(isset($this->bookingContractorPayment['contractor_id'])){ ?>
							<a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->bookingContractorPayment['contractor_id']), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $this->contractorName; ?></a>
                         <?php }
						 else{ 
						   echo $this->contractorName;
							}
						   ?>
						
						</td>
					</tr>
					<tr>
						<td class="labelText"  style="width: 150px;"><b>Payment Status:</b></td>
						<?php if (!empty($this->bookingContractorPayment['contractor_invoice_num'])) {?>
                        <td class="valueText"><?php echo 'paid'; ?></td>
						<?php } 
						else{ ?>
						<td class="valueText"><?php echo 'unpaid'; ?></td>
						<?php } ?>
					</tr>
					<tr>
						<td class="labelText"  style="width: 150px;"><b>Contractor Invoice Number:</b></td>
						<td class="valueText">
						
						<?php 
						if(isset($this->bookingContractorPayment['contractor_invoice_num'])){
							$fltr = array();
							$fltr['contractor_id']=$this->bookingContractorPayment['contractor_id'];
							$fltr['Inv']= $this->bookingContractorPayment['contractor_invoice_num'];
							$url=implode('&amp;', array_map(function($key, $val) {
								return 'fltr[' . urlencode($key) . ']=' . urlencode($val);
							},
							array_keys($fltr), $fltr)
							);
						?>
						<a target="_blank" href="<?php echo $this->escape($this->url(array(), 'reportContractorsBookingsSummary')).'?'.$url; ?>" > <?php echo $this->bookingContractorPayment['contractor_invoice_num']; ?> </a>
                        <?php } ?>           
						</td>
					</tr>				   
					</tbody>
				  </table>
                </div> 
				<!-- End Contractor payment Details -->
				</div>
				
                <div class="customer_info_container" >
					<div>
					
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
							<tr>
								<td colspan="2" height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
										<b> Invoice Details: </b>
									</div>
								</td>
							</tr>
                            <tr>
                                <td class="labelText"><b>Invoice#</b></td>
                                <td class="valueText">
									<div id="<?php echo $this->escape('booking_invoice_id_' . $this->invoice['id']); ?>"  >
										<?php echo $this->escape($this->invoice['invoice_num']) ?>
									</div>
                                    <div>        
									 <?php if (CheckAuth::checkCredential(array('editInvoiceNumber')) && $this->isAccepted){ ?>
										<a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'editInvoiceNumber')); ?>','100','450','Edit Invoice Number');"><img src="/pic/icons/edit.png" style="vertical-align: bottom;" /></a>
									<?php } ?>
									</div>
                                </td>
                            </tr>
                            <tr>
                                <td  class="labelText"><b>Booking#</b></td> 
                                <td  class="valueText">
                                    <?php if (CheckAuth::checkCredential(array('bookingView')) && !$this->booking['is_deleted']): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>" class="a_black"><b><?php echo $this->escape($this->booking['booking_num']) ?></b></a>
                                    <?php else: ?>
                                        <span><b><?php echo $this->escape($this->booking['booking_num']) ?></b></span>
                                    <?php endif; ?>
                                </td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>Title</b></td>
                                <td class="valueText"><?php echo wordwrap($this->escape($this->booking['title']), 70, "<br />\n"); ?></td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>Invoice Address</b></td>
                                <td class="valueText">
                                    <a class="a_link" href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingLocation')); ?>"> 
                                        <?php echo wordwrap($this->escape($this->lineAddress), 70, "<br />\n"); ?>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>From</b></td>
                                <td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['booking_start'])) ?></td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>To</b></td>
                                <td class="valueText"><?php echo $this->escape(getDateFormating($this->booking['booking_end'])) ?></td>
                            </tr>
                            <?php if (!empty($this->invoice['multiple_days'])): ?>
                                <?php foreach ($this->invoice['multiple_days']as $day): ?>
                                    <tr>
                                        <td class="labelText"><b>From</b></td>
                                        <td class="valueText"><?php echo $this->escape(getDateFormating($day['booking_start'])) ?></td>
                                    </tr>
                                    <tr>
                                        <td class="labelText"><b>To</b></td>
                                        <td class="valueText"><?php echo $this->escape(getDateFormating($day['booking_end'])) ?></td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                            <tr>
                                <td class="labelText"><b>Invoice Type</b></td> 
                                <td class="valueText">
                                    <?php echo $this->escape(ucfirst($this->invoice['invoice_type'])) ?>
                                </td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>Owner</b></td>
                                <?php $owner = $modelUser->getById($this->booking['created_by']); ?>
                                <td class="valueText">
                                    <div style="float: left;"><?php echo $this->escape(ucwords($owner['username'])); ?></div>
                                    <?php if (CheckAuth::checkCredential(array('claimOwner')) && $this->booking['created_by'] != $loggedUser['user_id']) : ?>
                                        <div style="padding-left: 10px; float: left">                                       
                                            <?php $claimOwner = $modelClaimOwner->getByBookingAndUserId($this->booking['booking_id'], $loggedUser['user_id']); ?>
                                            <?php if (empty($claimOwner)) : ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendClaimOwner')); ?>" class="details_info_opt">Claim Ownership</a>
                                            <?php else : ?>
                                                <b>Claim Pending</b>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
					</div>
					</br>
				<div>
                    <?php
                    $customerView = new Zend_View();
                    $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                    $customerView->customer_id = $this->booking['customer_id'];
                    $customerView->allDetails = $this->isAccepted;
                    echo $customerView->render('customer_info.phtml');
                    ?>
                </div> 
                </div>
                <div class="clearBoth"></div>
				
            </div>
			
			<?php if(nl2br($this->escape($this->booking['description']))){ ?>
					<table width="100%" cellspacing="0" cellpadding="0" border="0" style="float:left; padding-top:30px;">
						<tbody>
							<tr>
								<td height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Description: (Company Use Only) </b>
									</div>
								</td>
							</tr>
							<tr>
								<td class="defaultInnerBg padding10 txt-lft">
								<?php
									$description = wordwrap($this->booking['description'], 90, "\n", true);
								?>
									<?php echo nl2br($this->escape($description)); ?>
								</td>
							</tr>
						</tbody>
					</table>
			<?php } ?>
			
			<?php if(nl2br($this->escape($this->invoice['condition_report']))){ ?>
					<table width="100%" cellspacing="0" cellpadding="0" border="0" style="float:left; padding-top:30px;">
						<tbody>
							<tr>
								<td height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Condition Report: </b>
									</div>
								</td>
							</tr>
							<tr>
								<td class="defaultInnerBg padding10 txt-lft">
								<?php
									$condition_report = wordwrap($this->invoice['condition_report'], 90, "\n", true);
								?>
									<?php echo nl2br($this->escape($condition_report)); ?>
								</td>
							</tr>
						</tbody>
					</table>
			<?php } ?>
			 <div class="clearBoth"></div>
            <div class="book_view_info_cont" style="margin-top:30px; clear: both;" >
                        <?php
                        $modelBooking = new Model_Booking();
                        $loggedUser = CheckAuth::getLoggedUser();
                        ?>
                        <?php if ($this->bookingServices): ?>
                            <?php
                            $modelServices = new Model_Services();
                            $modelServiceAttribute = new Model_ServiceAttribute();
                            $modelUser = new Model_User();
                            $modelContractorInfo = new Model_ContractorInfo();
                            $modelUserInfo = new Model_UserInfo();
                            $modelAuthRole = new Model_AuthRole();
                            $modelServiceAttributeValue = new Model_ServiceAttributeValue();
                            $modelAttributeType = new Model_AttributeType();
                            $modelAttributeListValue = new Model_AttributeListValue();
                            $modelServiceAttributeValueTemp = new Model_ServiceAttributeValueTemp();
                            ?>
                            <table class="book_view_info_table_cont" style="margin-top:30px;">
                                <tr class="book_view_info_table_head" style="background-color: #A1A1A1;">
                                    <td class="txt_white">DESCRIPTION</td>
                                    <td class="txt_white" width="110">UNIT PRICE</td>
                                    <td class="txt_white" width="110">QTY</td>
                                    <td class="txt_white" width="90">TOTAL</td>
                                </tr>
                                <?php foreach ($this->bookingServices as $key => $bookingService): ?>
                                    <?php
                                    $serviceId = $bookingService['service_id'];
                                    $clone = $bookingService['clone'];
                                    $bookingId = $bookingService['booking_id'];
                                    $contractorId = $bookingService['contractor_id'];
                                    $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                                    $serviceDetails = $modelServices->getById($serviceId);
                                    $user = $modelUser->getById($contractorId);
                                    $userInfo = 0;
                                    $contractorInfo = 0;
                                    $roleName = $modelAuthRole->getRoleName($user['role_id']);
                                    ?>
                                    <?php if ('contractor' == $roleName): ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                    <?php else: ?>
                                        <?php $userInfo = $modelUserInfo->getByUserId($contractorId) ?>
                                    <?php endif; ?>
                                    <tr style="border-bottom: 1px solid #A1A1A1;  background-color:<?php echo $this->escape(($contractorId != $loggedUser['user_id']) && !$modelBooking->checkCanEditBookingDetails($bookingId) ? 'rosybrown' : (($key % 2 != 0) ? '#ECECEC' : '')) ?>;">
                                        <td style="text-align: left;">
                                            <div style="clear: both;">
                                                <span style="float: left;">
                                                    &#187; <b>Technician :</b>&ensp;
                                                </span>
                                                <span style="float: left; width: 80%;">
													<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractorId), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $this->escape($userInfo ? $userInfo['first_name'] . ' ' . $userInfo['last_name'] : (ucwords($user['username']) . ($contractorInfo ? ' - ' . ucwords($contractorInfo['business_name']) : ''))) ?></a>
                                    			
                                                    
                                                </span>
                                            </div>
                                            <div style="clear: both;">
                                                <span style="float: left;">
                                                    &#187; <b>Service :</b>&ensp;
                                                </span>
                                                <span style="float: left; width: 80%;">
                                                    <?php echo $this->escape($serviceDetails['service_name']); ?>
                                                </span>
                                            </div>
                                            <?php if ($this->priceArray[$serviceAndClone] <= $serviceDetails['min_price']): ?>
                                                <div style="clear: both;">
                                                    <span style="float: left;">
                                                        &#187; <b>Min Price :</b>&ensp;
                                                    </span>
                                                    <span style="float: left; width: 80%;">
                                                        <?php echo $this->escape($serviceDetails['min_price']); ?>
                                                    </span>
                                                </div>
                                            <?php endif; ?>
                                            <?php
                                            $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);

                                            $unit_price = 0;
                                            $qty = 0;

                                            foreach ($serviceAttribute as $attribute) {
                                                //$serviceAttribute = $modelServiceAttribute->getByAttributeIdAndServiceId($attribute['attribute_id'], $attribute['service_id']);
                                                if (!empty($this->isTemp)) {
                                                    $value = $modelServiceAttributeValueTemp->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute['service_attribute_id'], $clone);
                                                } else {
                                                    $value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute['service_attribute_id'], $clone);
                                                }
                                                switch ($attribute['attribute_name']) {
                                                    case 'Quantity':
                                                        $qty = $value['value'];
                                                        break;
                                                    case 'Price':
                                                        $unit_price = $value['value'];
                                                        break;
                                                    default :
                                                        if ($value['value']) {
                                                            $att = $modelAttributeType->getById($attribute['attribute_type_id']);
                                                            ?>
                                                            <div style="clear: both;">
                                                                <span style="float: left;">
                                                                    &#187; <b><?php echo $this->escape($attribute['attribute_name']); ?> :</b>&ensp;
                                                                </span>
                                                                <span style="float: left; width: 80%;">
                                                                    <?php
                                                                    if ($att['is_list']) {
                                                                        if ($value['is_serialized_array']) {
                                                                            $values = unserialize($value['value']);
                                                                            foreach ($values as $value) {
                                                                                $attributeListValue = $modelAttributeListValue->getById($value);
                                                                                if ($attributeListValue['unit_price']) {
                                                                                    echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b></div>';
                                                                                } else {
                                                                                    echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</div>';
                                                                                }
                                                                            }
                                                                        } else {
                                                                            $attributeListValue = $modelAttributeListValue->getById($value['value']);
                                                                            if ($attributeListValue['unit_price']) {
                                                                                echo $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b>';
                                                                            } else {
                                                                                echo $this->escape($attributeListValue['attribute_value']);
                                                                            }
                                                                        }
                                                                    } else {
                                                                        echo nl2br($this->escape($value['value']));
                                                                    }
                                                                    ?>
                                                                </span>
                                                            </div>
                                                            <?php
                                                        }
                                                        break;
                                                }
                                            }
                                            ?>
                                        </td>
                                        <td><?php echo $this->escape($unit_price); ?></td>
                                        <td><?php echo $this->escape($qty); ?></td>
                                        <td><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
                                    </tr>
                                <?php endforeach; ?>
                                <?php
                                $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($bookingId);
                                $rowspan = 9;
                                $rowspan = !empty($totalAmountDetails['call_out_fee']) ? $rowspan + 1 : $rowspan;
                                ?>
                                <tr>
                                    <td colspan="2" rowspan="<?php echo $rowspan; ?>"></td>
                                    <td style="padding: 10px;">
                                        Sub Total:
                                    </td>
                                    <td style="padding: 10px;">
                                        <?php echo $this->escape(number_format($totalAmountDetails['sub_total'], 2)); ?>
                                    </td>
                                </tr>
                                <?php if ($totalAmountDetails['call_out_fee']): ?>
                                    <tr style="border-bottom: 1px solid #A1A1A1;">
                                        <td style="padding: 10px;">
                                            Call Out Fee:
                                        </td>
                                        <td style="padding: 10px;">
                                            <?php echo $this->escape(number_format($totalAmountDetails['call_out_fee'], 2)); ?>
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <tr>
                                    <td style="padding: 10px;">
                                        Discount:
                                    </td>
                                    <td style="padding: 10px;">
                                        <?php echo $this->escape(number_format($totalAmountDetails['total_discount'], 2)); ?>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #A1A1A1;">
                                    <td style="padding: 10px;">
                                        GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                                    </td>
                                    <td style="padding: 10px;">
                                        <?php echo $this->escape(number_format($totalAmountDetails['gst'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px;">
                                        Total:
                                    </td>
                                    <td style="padding: 10px;">
                                        $<?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #A1A1A1;">
                                    <td style="padding: 10px;">
                                        Refund:
                                    </td>
                                    <td style="padding: 10px;">
                                        (-) <?php echo $this->escape(number_format($totalAmountDetails['refund'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px;">
                                        Total Amount:
                                    </td>
                                    <td style="padding: 10px;">
                                        $<?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #A1A1A1;">
                                    <td style="padding: 10px;">
                                        Paid Amount:
                                    </td>
                                    <td style="padding: 10px;">
                                        (-) <?php echo $this->escape(number_format($totalAmountDetails['paid_amount'], 2)); ?>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #A1A1A1;">
                                    <td style="padding: 10px;">
                                        Balance Due:
                                    </td>
                                    <td style="padding: 10px;">
                                        $<?php echo $this->escape(number_format($totalAmountDetails['balance_due'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px;"></td>
                                    <td style="padding: 10px;"></td>
                                </tr>
                            </table>
                        <?php endif; ?>
            </div> 

            <?php
            $view = new Zend_View();
            $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');

            $view->bookingId = $this->booking['booking_id'];
            $view->view = 'invoice';

            echo $view->render('tabs.phtml');
            ?>
        </td>
		
        <td class="right_side">         
            <div class="right_side_cont">

                <?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                    <div class="btn_cont">
                        <a href="<?php echo $this->escape($this->url(array(), 'bookingAdd')); ?>" class="btn_a">
                            <div class="text_pos">
                                New Booking
                            </div>
                        </a>
                    </div>
                <?php endif; ?>
                <?php
                $color = '#A1A1A1';
                switch ($this->invoice['invoice_type']) {
                    case 'draft':
                        $color = '#A1A1A1';
                        break;

                    case 'open':
                        $color = '#4F8BC3';
                        break;

                    case 'overdue':
                        $color = 'red';
                        break;

                    case 'closed':
                        $color = '#BCD68F';
                        break;

                    case 'void':
                        $color = '#00004E';
                        break;
                }
                ?>
                <?php if (!empty($this->isWorkOrder)): ?>
                    <div class="typeprice" style="background-color: red; color: white;">
                        work Order Attachment File Required
                    </div>
                <?php endif; ?>
                <div class="typeprice" style="background-color: <?php echo $this->escape($color); ?>;">
                    <div id="convert_status" style="margin-bottom: 5px; font-weight: bold;" class="whitefont"><?php echo $this->escape(ucfirst($this->invoice['invoice_type'])) ?></div>

                    <div id="convert_status" class="whitefont" style="font-size: 16px;">Total Amount</div>
                    <div class="whitefont largefont" style="font-size: 20px;">$<?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?></div>
                    <div id="convert_status" class="whitefont" style="font-size: 16px;">Paid Amount (-)</div>
                    <div class="whitefont largefont"style="font-size: 20px;">$<?php echo $this->escape(number_format($totalAmountDetails['paid_amount'], 2)); ?></div>
                    <div id="convert_status" class="whitefont" style="font-size: 16px;">Balance Due</div>
                    <div class="whitefont largefont">$<?php echo $this->escape(number_format($totalAmountDetails['balance_due'], 2)); ?></div>
                </div>
                <div class="gray-border-bottom">
                    <ul class="links">
                        <li class="edit">
                            <?php if (CheckAuth::checkCredential(array('bookingEdit')) && $this->isAccepted): ?>
                                <a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['booking_id']), 'bookingEdit')); ?>">Edit</a>
                            <?php endif; ?>
                        </li>
                        <li class="edit">
                            <?php if (CheckAuth::checkCredential(array('editInvoiceNumber')) && $this->isAccepted): ?>
                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'editInvoiceNumber')); ?>','100','450','Edit Invoice Number');" class="details_info_opt">Edit Invoice Number</a>
                            <?php endif; ?>
                        </li>
                        <li class="add-payment">
                            <?php if (CheckAuth::checkCredential(array('paymentCheckStatus')) && $this->isAccepted): ?>
                                <a href="<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'checkStatusToAddPayment')); ?>">Add Payment</a>
                            <?php endif; ?>
                        </li>
                        <li class="approve-payment">
                            <?php if (CheckAuth::checkCredential(array('bookingPaymentList')) && $this->isAccepted): ?>
                                <a href="<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'bookingPaymentList')); ?>">View Payments</a>
                            <?php endif; ?>
                        </li>
                        <li class="add-payment">
                            <?php if (CheckAuth::checkCredential(array('refundAdd')) && $this->isAccepted && $this->invoice['booking']['paid_amount'] > 0): ?>
                                <a href="<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'refundAdd')); ?>">Add Refund</a>
                            <?php endif; ?>
                        </li>
                        <li class="approve-payment">
                            <?php if (CheckAuth::checkCredential(array('bookingRefundList')) && $this->isAccepted): ?>
                                <a href="<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'bookingRefundList')); ?>">View Refunds</a>
                            <?php endif; ?>
                        </li>
                    </ul>
                </div>    
                <?php if ($this->isAccepted): ?>
                    <div class="gray-border-bottom">
                        <ul class="links">
                            <li class="print">
                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoicePreview')); ?>','850','800','Invoice Previrew');" class="details_info_opt">Preview Invoice </a>
                            </li>
                            <li class="email">
                                <?php if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))): ?>
                                    <a  href="javascript:;" onclick="emailInvoice('<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
                                <?php endif; ?>
                            </li>
                            <?php if ($this->invoice['invoice_type'] == 'overdue' && CheckAuth::checkCredential(array('sendInvoiceAsEmail'))): ?>
                                <li class="email">
                                    <a  href="javascript:;" onclick="emailInvoice('<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'sendReminderOverdueInvoiceAsEmail')); ?>')">Reminder Overdue Invoice</a>
                                </li>
                            <?php endif; ?>
                            <li class="send-email">
                                <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
                                    <a   href="javascript:;" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->invoice['booking']['customer_id'], 'type' => 'invoice', 'reference_id' => $this->invoice['id']), 'sendEmail')); ?>');">Send Email</a>
                                <?php endif; ?>
                            </li>
                            <li class="email">
                                <?php if (CheckAuth::checkCredential(array('sendWorkOrderRequestEmail')) && !empty($this->customerType['is_work_order'])): ?>
                                    <a  href="javascript:;" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->invoice['booking_id']), 'sendWorkOrderRequestEmail')); ?>')">Request Work Order Email</a>
                                <?php endif; ?>
                            </li>
                            <li class="export-as-pdf">
                                <?php if (CheckAuth::checkCredential(array('downloadInvoice'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'downloadInvoice')); ?>">Export as PDF</a>
                                <?php endif; ?>
                            </li>
                            <li class="convert-to-open">
                                <?php if ($this->invoice['invoice_type'] == 'draft'): ?>
                                    <?php if (CheckAuth::checkCredential(array('convertToOpen'))): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'convertToOpenLink')); ?>">Convert to Open</a>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <?php if (CheckAuth::checkCredential(array('convert'))): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id'], 'type' => 'draft'), 'convert')); ?>">Convert to draft</a>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </li>
                            <li class="labels">
                                <?php if (CheckAuth::checkCredential(array('invoiceLabel'))): ?>
                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoiceSelectLabel')); ?>','250','200','Invoice Label');" class="details_info_opt">Label</a>
                                <?php endif; ?>  
                            </li>
                            <li class="print">
                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'statment')); ?>','850','800','Invoice Previrew');" class="details_info_opt">Statement Preview</a>
                            </li>
                            <li class="email">
                                <?php if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))): ?>
                                    <a  href="javascript:;" onclick="emailInvoice('<?php echo $this->url(array('id' => $this->invoice['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
                                <?php endif; ?>
                            </li>
                            <li class="make-recurring">
                                <?php if (CheckAuth::checkCredential(array('complaintAdd'))): ?>
                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoiceConditionReport')); ?>','270','500','Invoice Condition Report');" class="details_info_opt">Add Condition Report</a>
                                <?php endif; ?>
                            </li>
                        </ul>
                    </div>  
                <?php endif; ?>
                <div class="gray-border-bottom">
                    <ul class="links">
                        <li class="navigation">
                            <?php
                            $modelBookingAddress = new Model_BookingAddress();
                            $bookingAddress = $modelBookingAddress->getByBookingId($this->invoice['booking']['booking_id']);
                            $nearestBookingParams = array();
                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->invoice['booking']['booking_start'])));
                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($this->invoice['booking']['booking_start'])));
                            $nearestBookingParams[] = 'city_id=' . urlencode($this->invoice['booking']['city_id']);
                            $nearestBookingParams[] = 'booking_id=' . urlencode($this->invoice['booking']['booking_id']);
                            $nearestBookingParams = implode("&", $nearestBookingParams);
                            ?>
                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>','500','900','Nearest Bookings','<?php echo $this->escape($nearestBookingParams) ?>');">Nearest Booking</a>
                        </li>
                        <li class="navigation">
                            <?php
                            $findAvailabilityParams = array();
                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $findAvailabilityParams[] = 'booking_id=' . urlencode($this->invoice['booking']['booking_id']);
                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->invoice['booking']['booking_start'])));
                            $findAvailabilityParams[] = 'city_id=' . urlencode($this->invoice['booking']['city_id']);
                            foreach ($this->bookingServices as $service) {
                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                            }
                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                            ?>
                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>','500','1000','Find Availability','<?php echo $this->escape($findAvailabilityParams) ?>');">Find Availability</a>
                        </li>
                    </ul>
                </div> 
				<div class="gray-border-bottom">
                    <ul class="links">
						<?php if($this->booking['pause_emails']){ ?>
						<li class="resume">
							<a onClick="return confirm('Are you sure you want to resume emails of this invoice?')" href="<?php echo $this->url(array('id' => $this->booking['booking_id'],'process'=>'resume'), 'pauseResumeBookingEmails'); ?>" >Resume Emails</a>						
						</li>
						<?php }else{ ?>
						<li class="pause">
							<a onClick="return confirm('Are you sure you want to pause emails of this invoice?')" href="<?php echo $this->url(array('id' => $this->booking['booking_id'],'process'=>'pause'), 'pauseResumeBookingEmails'); ?>" >Pause Emails</a>						
						</li>
						<?php } ?>
                    </ul>
                </div>
                <div>
                    <ul class="links">
                        
                        <li class="make-recurring">
                            <?php if (CheckAuth::checkCredential(array('complaintAdd'))): ?>
                                <a href="javascript:;" onclick="AddEditComplaint('<?php echo $this->escape($this->url(array('booking_id' => $this->invoice['booking_id']), 'complaintAdd')); ?>');">Add Complaint</a>
                            <?php endif; ?>
                        </li>
                        <li class="make-recurring">
                            <?php if (CheckAuth::checkCredential(array('attachment'))): ?>
                                <a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt">Files Attachment</a>
                            <?php endif; ?>
                        </li>

                        <li class="void">
                            <?php if (CheckAuth::checkCredential(array('convert'))): ?>
                                <a href="<?php echo $this->escape($this->url(array('type' => 'void', 'id' => $this->invoice['id']), 'convert')); ?>">Void</a>
                            <?php endif; ?>
                        </li>
                        <li class="delete">
                            <?php if (CheckAuth::checkCredential(array('invoiceDelete'))): ?>
                                <a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoiceDelete')); ?>" onclick="return confirm('are you sure you want to delete this Invoice?');">Delete</a>
                            <?php endif; ?>
                        </li>
                    </ul>
                </div> 
               <div class="createdTimeDiv">
                    Created On
                    <br/>
                    <?php echo $this->escape(getDateFormating($this->invoice['created'])); ?>
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    function AddEditComplaint(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=270&width=500');
        });
    }

    function sendEmail(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=510&width=800');
        });
    }
    
    function emailInvoice(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=510&width=800');
        });
    }

</script>

