<div class="col-lg-12 wrapper-content" style="padding-right: 26px;padding-left: 26px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsAuthRoleAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Role','<?php echo $this->escape($this->url(array(), 'settingsAuthRoleAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Role
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                    <h5>    Search Roles </h5>
                <div class="button_actions">
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsAuthRoleList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsCitiesList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 wrapper-content">

    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div class="col-lg-12">
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsAuthRoleDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Auth Role?');">



                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> All User Roles</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsAuthRoleDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover responsive-table" id="user_role_tabel" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Role Name</b></td>
                                    <td><b>Default Page</b></td>
                                    <td><b>Core</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php $authRoleCredentialObj = new Model_AuthRoleCredential(); ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $count += 1; ?>
                                    <tr class="<?php
                                    if ($count % 2 != 0) {
                                        echo 'tr_cont_1';
                                    } else {
                                        echo 'tr_cont_2';
                                    }
                                    ?>">
                                    <tr class="gradeX">
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['role_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l">
                                            <span class="details_info_name"><?php echo $this->escape($row['view_role_name']) ?></span>
                                        </div>
                                             <div class="details_info_l">

                                            <div>
                                                <?php if ($row['is_core'] != 1) : ?>
                                                    <?php if (CheckAuth::checkCredential(array('settingsAuthRoleEdit'))): ?>
                                                        <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['role_id']), 'settingsAuthRoleEdit')); ?>')" class="details_info_opt">Edit</a>
                                                        <span class="details_breaks">|</span>
                                                    <?php endif; ?>

                                                    <?php if (CheckAuth::checkCredential(array('settingsAuthRoleDelete'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['role_id']), 'settingsAuthRoleDelete')); ?>" onclick="return confirm('are you sure you want to delete this Auth Role?');" class="details_info_opt">Delete</a>
                                                        <span class="details_breaks">|</span>
                                                    <?php endif; ?>
                                                <?php endif; ?>

                                                <?php if (CheckAuth::checkCredential(array('settingsAuthRoleAssign'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('role_id' => $row['role_id']), 'settingsAuthRoleCredentialList')); ?>" class="details_info_opt">Assign Credential</a>
                                                <?php endif; ?>
                                            </div>

                                        </div>
                                            </td>
                                        <td><div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['default_page']) ?>
                                        </div>
                                        </td>
                                        <td> <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['is_core'] == 1 ? 'Yes' : 'No') ?>
                                        </div></td>
                                       
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no Role.</div>
        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>

