<?php
$modelAuthRole = new Model_AuthRole();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$loggedUser = CheckAuth::getLoggedUser();
?>

<div class="calender_slct_customer_cont extra_field">

    <div class="button_actions">
        <div class="calender_slct_customer_txt">Onsite Client Name</div>
        <div class="calender_slct_customer_dropdown">
            <input MaxLength="200" class="required text_input" id="onsite_client_name" name="onsite_client_name"  style="width: 200px;" type="text" value="" />
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="button_actions">
        <div class="calender_slct_customer_txt">Job Start Time</div>
        <div class="calender_slct_customer_dropdown">
            <input MaxLength="200" class="required text_input" id="job_start_time" readonly="readonly" name="job_start_time"  style="width: 200px;" type="text" value="<?php echo $this->escape($this->start) ?>" />
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="button_actions">
        <div class="calender_slct_customer_txt">Job Finish Time</div>
        <div class="calender_slct_customer_dropdown">
            <input MaxLength="200" class="required text_input" id="job_finish_time" readonly="readonly" name="job_finish_time"  style="width: 200px;" type="text" value="<?php echo $this->escape($this->end) ?>" />
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="button_actions">
        <div class="calender_slct_customer_txt">Customer Satisfaction</div>
        <div class="calender_slct_customer_dropdown">
            <table align="center" cellpadding="3" id="satisfaction">
                <tr>
                    <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label for="satisfaction_1">Very Dissatisfied</label></td>
                    <td>
                        <label style="margin-left: 6px;" for="satisfaction_1">1</label>
                    </td>
                    <td>            
                        <label style="margin-left: 6px;" for="satisfaction_2">2</label>
                    </td>
                    <td>            
                        <label style="margin-left: 6px;" for="satisfaction_3">3</label>
                    </td>
                    <td>            
                        <label style="margin-left: 6px;" for="satisfaction_4">4</label>
                    </td>
                    <td>            
                        <label style="margin-left: 6px;" for="satisfaction_5">5</label>
                    </td>
                    <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label for="satisfaction_5">Very Satisfied</label></td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" class="required" id="satisfaction_1" name="satisfaction" value="1"/>
                    </td>
                    <td>
                        <input type="radio" id="satisfaction_2" name="satisfaction" value="2"/>
                    </td>
                    <td>            
                        <input type="radio" id="satisfaction_3" name="satisfaction" value="3"/> 
                    </td>
                    <td>            
                        <input type="radio" id="satisfaction_4" name="satisfaction" value="4"/> 
                    </td>
                    <td>            
                        <input type="radio" id="satisfaction_5" name="satisfaction" value="5"/> 
                    </td>
                </tr>
            </table>

        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="button_actions">
        <div class="calender_slct_customer_txt">Product Name</div>
        <div class="calender_slct_customer_dropdown">
            <select name="product[]" class="dropdown">
                <option value="">Select One</option>
                <?php foreach ($this->products as $product): ?>
                    <option value="<?php echo $this->escape($product['id']); ?>"><?php echo $this->escape($product['product']); ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="calender_slct_customer_dropdown">
            Ltr
        </div>
        <div class="calender_slct_customer_dropdown">
            <input type="text" name="ltr[]" class="text_input" style="width: 100px;"/>
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="button_actions" id="more_product"></div>

    <div class="calender_add_more_product">
        <a href="javascript:;" onclick="add_more_product();">add More Product</a>
    </div>
</div>

<div class="calender_slct_customer_cont extra_field">
    <div class="calender_slct_customer_txt">Why <?php echo $this->escape(ucwords(strtolower($this->bookingStatus['name']))); ?> ?</div>
    <div class="calender_slct_customer_dropdown">
        <textarea class="long_text required" style="width: 530px;" id="why" name="why"></textarea>
    </div>
    <div style="clear: both;"></div>
</div>
<input name="confirmResetAttribut" id="confirmResetAttribut" type="hidden" value="0"/>


<?php // here get all questions of this status
if($this->questions){
	foreach($this->questions as $question){
?>

<div class="calender_slct_customer_cont extra_field">
    <div class="calender_slct_customer_txt"><?php //echo $question['question'] ?></div>
    <div class="calender_slct_customer_dropdown">
	<?php if($question['question_type'] == 'text'){ ?>
			<textarea class="long_text required" style="width: 530px;" id="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" ><?php echo $question['answer_text']; ?></textarea>
	<?php } ?>
	<?php if($question['question_type'] == 'boolean'){ ?>
			 <label style="color: #9C0000; font-size: 14px; margin-left: 100px;" ><?php echo $question['question_text'] ?></label>
			 <label style="margin-left: 6px;" >Yes</label>
			 <input type="radio" class="required" id="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" value="yes" <?php if($question['answer_text'] == 'yes'){ ?> checked <?php } ?> />
			 <label style="margin-left: 6px;" >NO</label>
			 <input type="radio" class="required" id="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" value="no" <?php if($question['answer_text'] == 'no'){ ?> checked <?php } ?> />
	<?php } ?>
	<?php if($question['question_type'] == 'date'){ ?>
			<div class="calender_slct_customer_txt"><?php echo $question['question_text'] ?></div>
			<input <?php if($contractorRoleId != $loggedUser['role_id'] ){?> disabled <?php } ?> id="date_input" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>"  style="width: 200px; margin-left: 6px;" type="text" value="<?php echo $question['answer_text']; ?>" />
        
	<?php } ?>
    </div>
    <div style="clear: both;"></div>
</div>

<?php
}
}
?>
<script type="text/javascript">
    $(document).ready(function() {
        $('#job_start_time').datetimepicker({
            ampm: true,
            timeFormat: 'hh:mm TT',
            dateFormat: 'dd-mm-yy'
        });
		
		$('#date_input').datepicker({
             dateFormat: 'dd/mm/yy'
        });
    });
    
    $(document).ready(function() {
        $('#job_finish_time').datetimepicker({
            ampm: true,
            timeFormat: 'hh:mm TT',
            dateFormat: 'dd-mm-yy'
        });
    });
</script>