<div class="calender_slct_customer_cont extra_field">
    <div class="calender_slct_customer_txt">Why <?php echo $this->escape(ucwords(strtolower($this->bookingStatus['name']))); ?> ?</div>
    <div class="calender_slct_customer_dropdown">
        <textarea class="long_text required" style="width: 530px;" id="why" name="why"></textarea>
    </div>
    <div style="clear: both;"></div>
</div>