<div class="calender_slct_customer_cont extra_field">
    <div class="calender_slct_customer_txt">Why <?php echo $this->escape(ucwords(strtolower($this->bookingStatus['name']))); ?> ?</div>
    <div class="calender_slct_customer_dropdown">
        <textarea class="long_text" style="width: 530px;" id="why" name="why"></textarea>
    </div>
    <div style="clear: both;"></div>
</div>

<div id="deferred_date_cont" class="calender_slct_customer_cont extra_field">
    <div class="calender_slct_customer_txt">To Follow</div>
    <div class="calender_slct_customer_dropdown">
        <input name="is_to_follow" type="hidden" value="1"/>
        <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required"  readonly="readonly"  value="" />
    </div>
    <div style="clear: both;"></div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#to_follow').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    });
</script>