<div>
    <div style="margin-left: 5px; float: left;">
        <div style="background-color: #DD4B39; height: 12px; width: 12px; float: left; margin-top: 2px;"></div>
        <div style="margin-left: 5px; float: left; color: #9C0000; font-size: 12px;">Not Available</div>
        <div style="clear: both;"></div>
    </div>
    <div style="margin-left: 10px; float: left;">
        <div style="background-color: #999999; height: 12px; width: 12px; float: left; margin-top: 2px;"></div>
        <div style="margin-left: 5px; float: left; color: #9C0000; font-size: 12px;">Booking in System</div>
        <div style="clear: both;"></div>
    </div>
    <div style="margin-left: 10px; float: left;">
        <div style="background-color: #123432; height: 12px; width: 12px; float: left; margin-top: 2px;"></div>
        <div style="margin-left: 5px; float: left; color: #9C0000; font-size: 12px;">This Booking</div>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
</div>
<table cellpadding="3" cellspacing="5" align="center" class="related_address"  style="width:100%">
    <tbody>
        <?php foreach ($this->availableContractors as $availableContractor): ?>
            <tr>
                <td width="99%">
                    <?php
                    $hoursWidth = (100 / 24);
                    $timeLineWidth = (100 / (24 * 60));
                    $timeLineBookings = array();
                    foreach ($availableContractor['booking'] as $booking) {

                        $start = date('H', strtotime($booking['booking_start'])) * 60 + date('i', strtotime($booking['booking_start']));
                        $end = date('H', strtotime($booking['booking_end'])) * 60 + date('i', strtotime($booking['booking_end']));

                        $booking_start = date('Y-m-d', strtotime($booking['booking_start']));
                        $booking_end = date('Y-m-d', strtotime($booking['booking_end']));
                        $filter_date = date('Y-m-d', strtotime($this->filter_date));
                        if ($booking_start < $filter_date) {
                            $start = 0;
                        }
                        if ($filter_date < $booking_end) {
                            $end = 1440;
                        }

                        $timeLineBookings[] = array('start' => $start, 'end' => $end, 'booking_id' => $booking['booking_id']);
                    }
                    ?>
                    <div style=" height: 10px; width: 100%; margin-bottom: 4px;">
                        <?php for ($i = 0; $i < 24; $i++): ?>
                            <div style=" float: left; height: 1px; font-size: 10px; width: <?php echo $hoursWidth . '%'; ?>;"><?php echo $this->escape($i) ?>:00</div>
                        <?php endfor; ?>
                    </div>

                    <div style=" height: 10px; width: 100%; margin-bottom: 4px; margin-left: 6px;">
                        <?php for ($i = 0; $i < 24; $i++): ?>
                            <div style="float: left; width: <?php echo $hoursWidth . '%'; ?>;">|</div>
                        <?php endfor; ?>
                    </div>

                    <div style="border:1px solid #48AAE6; height: 20px; width: 100%; position: relative; margin-left: 6px;">
                        <?php ?>
                        <?php foreach ($timeLineBookings as $key => $timeLineBooking): ?>
                            <div style="position: absolute; z-index: <?php echo $key + 100; ?>; width: 100%;">
                                <div style="float: left; height: 20px; width: <?php echo ($timeLineWidth * $timeLineBooking['start']) . '%'; ?>;">&ensp;</div>
                                <div style="float: left; height: 20px; background-color: <?php echo $timeLineBooking['booking_id'] == sha1('google') ? '#DD4B39' : ($this->booking_id == $timeLineBooking['booking_id'] ? '#123432' : '#999999') ?> ; width: <?php echo ($timeLineWidth * ($timeLineBooking['end'] - $timeLineBooking['start'])) . '%'; ?>;">&ensp;</div>
                            </div>
                            <?php ?>
                        <?php endforeach; ?>
                    </div>
                </td>
                <td width="1%">
                    <a href="javascript:;" onclick="$('#contractor_availability_container_<?php echo $this->escape($this->row_num)?>').hide();">
                        <img src="/pic/remove.png" />
                    </a>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
