search customer <span style="font-size: 9px;color:#808080">(at least three characters)</span>
<div><input type="text" style="width: 100%;" name="customer-like" id="customer-like" onkeyup="customerSearch();"/></div>
<div class="default_customerlist_customer_result" id="customerResult">

</div>
<script>
    function customerSearch(){
        var query = $('#customer-like').val();
        if (query.length >2){
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerSearch')); ?>",
                data: "customer-like="+$('#customer-like').val(),
                success: function(msg) {
                    $('#customerResult').html(msg);
                }
            });
        }else{
            $('#customerResult').html('');
        }
    }
</script>