<?php
$modelUser = new model_user();
$modelBookingAddress = new Model_BookingAddress();
?>
<div id="related_address_cont">

    <div>
        <div style="margin-left: 5px; float: left;">
            <div style="background-color: #DD4B39; height: 22px; width: 22px; float: left;"></div>
            <div style="margin-left: 5px; float: left; color: #9C0000; margin-top: 3px; font-size: 14px;">Not Available</div>
            <div style="clear: both;"></div>
        </div>
        <div style="margin-left: 10px; float: left;">
            <div style="background-color: #999999; height: 22px; width: 22px; float: left;"></div>
            <div style="margin-left: 5px; float: left; color: #9C0000; margin-top: 3px; font-size: 14px;">Booking in System</div>
            <div style="clear: both;"></div>
        </div>
        <div style="margin-left: 10px; float: left;">
            <div style="background-color: #123432; height: 22px; width: 22px; float: left;"></div>
            <div style="margin-left: 5px; float: left; color: #9C0000; margin-top: 3px; font-size: 14px;">This Booking</div>
            <div style="clear: both;"></div>
        </div>
        <div style="margin-right: 5px; float: right;">
            <div style="float: left; color: #9C0000; margin-top: 3px; font-size: 14px;">Time</div>
            <div style="float: left; margin-left: 5px;">
                <input MaxLength="10" class="required date text_input" id="startdate" name="startdate" readonly style="padding-left:2px;width:100px;" type="text" value="<?php echo $this->escape(isset($this->filter_date) ? $this->filter_date : ""); ?>" />
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
    </div>

    <div id="time_availability" style="text-align: center;">
        <?php if ($this->availableContractors): ?>
            <table cellpadding="3" cellspacing="5" align="center" class="related_address"  style="width:100%">
                <thead>
                    <tr style="background-color: #ACD2E7">
                        <td style="width: 17%;">Technician </td>
                        <td style="text-align: center; width: 90%;">Time Availability</td>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->availableContractors as $availableContractor): ?>

                        <tr>
                            <?php
                            $contractors = $modelUser->getById($availableContractor['contractor_id']);
                            $contractorAddress = get_line_address($contractors);
                            $distance = $modelBookingAddress->getDistanceByTwoAddress($contractorAddress, $this->bookingAddress);
                            ?>
                            <td><?php echo $this->escape($availableContractor['username']); ?>&ensp;<span style="color: #056FC3;"><?php echo '(' . number_format($distance, 2) . ' KM)'; ?></span></td>
                            <td>
                                <?php
                                $hoursWidth = (100 / 24);
                                $timeLineWidth = (100 / (24 * 60));
                                $timeLineBookings = array();
                                foreach ($availableContractor['booking'] as $booking) {

                                    $start = date('H', strtotime($booking['booking_start'])) * 60 + date('i', strtotime($booking['booking_start']));
                                    $end = date('H', strtotime($booking['booking_end'])) * 60 + date('i', strtotime($booking['booking_end']));

                                    $booking_start = date('Y-m-d', strtotime($booking['booking_start']));
                                    $booking_end = date('Y-m-d', strtotime($booking['booking_end']));
                                    $filter_date = date('Y-m-d', strtotime($this->filter_date));
                                    if ($booking_start < $filter_date) {
                                        $start = 0;
                                    }
                                    if ($filter_date < $booking_end) {
                                        $end = 1440;
                                    }

                                    $timeLineBookings[] = array('start' => $start, 'end' => $end, 'booking_id' => $booking['booking_id']);
                                }
                                ?>
                                <div style=" height: 10px; width: 100%; margin-bottom: 4px;">
                                    <?php for ($i = 0; $i < 24; $i++): ?>
                                        <div style=" float: left; height: 1px; font-size: 10px; width: <?php echo $hoursWidth . '%'; ?>;"><?php echo $this->escape($i) ?>:00</div>
                                    <?php endfor; ?>
                                </div>

                                <div style=" height: 10px; width: 100%; margin-bottom: 4px; margin-left: 6px;">
                                    <?php for ($i = 0; $i < 24; $i++): ?>
                                        <div style="float: left; width: <?php echo $hoursWidth . '%'; ?>;">|</div>
                                    <?php endfor; ?>
                                </div>

                                <div style="border:1px solid #48AAE6; height: 20px; width: 100%; position: relative; margin-left: 6px;">
                                    <?php ?>
                                    <?php foreach ($timeLineBookings as $key => $timeLineBooking): ?>
                                        <div style="position: absolute; z-index: <?php echo $key + 100; ?>; width: 100%;">
                                            <div style="float: left; height: 20px; width: <?php echo ($timeLineWidth * $timeLineBooking['start']) . '%'; ?>;">&ensp;</div>
                                            <div style="float: left; height: 20px; background-color: <?php echo $timeLineBooking['booking_id'] == sha1('google') ? '#DD4B39' : ($this->booking_id == $timeLineBooking['booking_id'] ? '#123432' : '#999999') ?> ; width: <?php echo ($timeLineWidth * ($timeLineBooking['end'] - $timeLineBooking['start'])) . '%'; ?>;">&ensp;</div>
                                        </div>
                                        <?php ?>
                                    <?php endforeach; ?>
                                </div>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>

        <?php else : ?>
            <div style="font-size: 12px;">
                There is no Find Availability.
            </div>
        <?php endif; ?>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function() {
        //debugger;
        var DATA_FEED_URL = "calendar-manage";

        //date picker
        $("#startdate").datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    
    });
    
    $('#startdate').change(function(){
        $('#time_availability').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "/ajax/findAvailability",
            data:  'stpartdate='+ $('#startdate').val()+'&booking_id=<?php echo $this->escape($this->booking_id); ?>'+'&city_id=<?php echo $this->escape($this->city_id); ?>'+'&services=<?php echo $this->service_ids; ?>',
            success: function(result) {
                $('#TB_ajaxContent').html(result);
            }
        });
    });
</script>