<?php if ($this->services): ?>
    <div class="default_inquiry_services_cont">
        <input MaxLength="200" id="auto_search"  class="default_inquiry_services_input_service_name" onfocus="$('#search').css('display','block');$('#auto_search').css('display','none');$('#search').focus();" type="text" value="Type Service Name to Search" />
        <input MaxLength="200" id="search" name="keywords" onkeyup="searchServices();" autocomplete="off" class="default_inquiry_services_input_search" onblur="if(!$('#search').val()){$('#auto_search').css('display','block');$('#search').css('display','none');}" type="text" />
        <div id="keywordsResult" class="default_inquiry_services_keyword_resault">
            <?php foreach ($this->services as $service): ?>
                <div id="service_result_<?php echo $this->escape($service['service_id']); ?>">
                    <a href="javascript:;" style="text-decoration: none; color: black; font-size: 12px;" onclick="checkService('<?php echo $this->escape($service['service_id']); ?>','service_name_<?php echo $this->escape($service['service_id']); ?>');">
                        <div class="float_l_r"><img style="margin: 2px;" src="/pic/arrow_down.png" border="0"/></div>
                        <div class="calender_service_price_opt ">
                            <div class="float_l_r" id="service_name_<?php echo $this->escape($service['service_id']); ?>"><?php echo $this->escape($service['service_name']); ?></div>
                            <div style="clear: both;"></div>
                        </div>
                    </a>
                    <div style="clear: both;"></div>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="calender_service_total">
            <div id="services_title" class="calender_service_total_service_txt">Services</div>
            <div style="clear: both;"></div>
        </div>
        <div id="selectedServices" class="default_inquiry_services_slctd_service">

        </div>
    </div>
<?php else: ?>
    <div class="default_inquiry_services_cont">
        There is No Service Available in this City
    </div>
<?php endif; ?>