<?php
$modelUser = new Model_user();
$modelBookingAddress = new Model_BookingAddress();
$nearestBookingParams = array();
$nearestBookingParams[] = 'unit_lot_number=' . urlencode($this->unit_lot_number);
$nearestBookingParams[] = 'street_number=' . urlencode($this->street_number);
$nearestBookingParams[] = 'street_address=' . urlencode($this->street_address);
$nearestBookingParams[] = 'suburb=' . urlencode($this->suburb);
$nearestBookingParams[] = 'state=' . urlencode($this->state);
$nearestBookingParams[] = 'postcode=' . urlencode($this->postcode);
$nearestBookingParams[] = 'stpartdate=' . urlencode($this->stpartdate);
$nearestBookingParams[] = 'stparttime=' . urlencode($this->stparttime);
$nearestBookingParams[] = 'city_id=' . urlencode($this->city_id);
$nearestBookingParams[] = 'booking_id=' . urlencode($this->booking_id);

$nearestBookingParams = implode("&", $nearestBookingParams);

?>
<div id="related_address_cont">
    <?php if ($this->relatedAddresses): ?>
        <table cellpadding="3" cellspacing="5" align="center" class="related_address">
            <thead>
                <tr style="background-color: #ACD2E7">
                    <td style="width: 60px;">
                        <?php if ($this->order_by == 'booking_start' && $this->method == 'ASC'): ?>
                            <a  style="text-decoration: none; color: black;" href="javascript:;" onclick="getRelatedAddress('&order_by=booking_start&method=DESC'); return false;">Date <img style="vertical-align: middle;" src="<?php echo $this->escape($this->baseUrl('/pic/up_arrow.png')); ?>" border="0"/></a>
                        <?php else: ?>
                            <a style="text-decoration: none; color: black;" href="javascript:;" onclick="getRelatedAddress('&order_by=booking_start&method=ASC'); return false;">Date <img style="vertical-align: middle;" src="<?php echo $this->escape($this->baseUrl('/pic/down_arrow.png')); ?>" border="0"/></a>
                        <?php endif; ?>
                    </td>
                    <td style="text-align: center; width: 30px;">Start Time</td>
                    <td style="text-align: center; width: 30px;">End Time</td>
                    <td style="text-align: center; width: 30px;">Booking Status</td>
                    <td>Booking Number</td>
                    <td>Booking Address</td>
                    <td>Technician(s)</td> 
                    <td>
                        <?php if ($this->order_by == 'distance' && $this->method == 'ASC'): ?>
                            <a style="text-decoration: none; color: black;" href="javascript:;" onclick="getRelatedAddress('&order_by=distance&method=DESC'); return false;">Distance <img style="vertical-align: middle;" src="<?php echo $this->escape($this->baseUrl('/pic/up_arrow.png')); ?>" border="0"/></a>
                        <?php else: ?>
                            <a style="text-decoration: none; color: black;" href="javascript:;" onclick="getRelatedAddress('&order_by=distance&method=ASC'); return false;">Distance <img style="vertical-align: middle;" src="<?php echo $this->escape($this->baseUrl('/pic/down_arrow.png')); ?>" border="0"/></a>
                        <?php endif; ?>
                    </td>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->relatedAddresses as $key => $relatedAddress): ?>
                    <tr>
                        <td><?php echo date('l d/m/Y', strtotime($relatedAddress['booking']['booking_start'])); ?></td>
                        <td><?php echo date('h:i A', strtotime($relatedAddress['booking']['booking_start'])); ?></td>
                        <td><?php echo date('h:i A', strtotime($relatedAddress['booking']['booking_end'])); ?></td>
                        <td><?php echo $relatedAddress['status_name']; ?></td>
						<td>
						<?php if (CheckAuth::checkCredential(array('bookingView'))){ ?>
                            <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $relatedAddress['booking']['booking_id']), 'bookingView')); ?>" style="text-decoration: none;" ><b><?php echo $relatedAddress['booking']['booking_num']; ?></b></a>
                            <?php }
							else{ ?>
                             <span><b><?php echo $relatedAddress['booking']['booking_num']; ?></b></span>
                        <?php } ?>
						</td>
                        <td><?php echo $relatedAddress['address']['line_address']; ?></td>
                        <td>
                            <ul class="contractor_list">
                                <?php $bookingStart = date('m/d/Y', strtotime($relatedAddress['booking']['booking_start'])); ?>
                                <?php foreach ($relatedAddress['contractors'] as $contractor_id => $contractor_name): ?>
                                    <?php
                                    $contractors = $modelUser->getById($contractor_id);
                                    $contractorAddress = get_line_address($contractors);
                                    $distance = $modelBookingAddress->getDistanceByTwoAddress($contractorAddress, $this->bookingAddress);
                                    ?>
                                    <li><a href="javascript:;" style="text-decoration: none; color:#056FC3;" onclick="getContractorAvailability('<?php echo $this->escape($bookingStart) ?>','<?php echo $this->escape($contractor_id) ?>','<?php echo $this->escape($key) ?>')"><?php echo $contractor_name; ?></a>&ensp;<span><?php echo '(' . number_format($distance, 2) . ' KM)'; ?></span></li>
                                <?php endforeach; ?>
                            </ul>
                        </td>
                        <td><?php echo number_format($relatedAddress['distance'], 2); ?> KM</td>
                    </tr>
                    <tr id="contractor_availability_container_<?php echo $this->escape($key) ?>" style="display: none;">
                        <td id="contractor_availability_<?php echo $this->escape($key) ?>" colspan="7"></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

    <?php else : ?>
        <div style="font-size: 12px;">
            There is no Related Address.
        </div>
    <?php endif; ?>
</div>
<script>
    
    var url = "<?php echo $nearestBookingParams; ?>";
    
    function getRelatedAddress(query_url){
        query_url = typeof(query_url) != 'undefined' ? query_url : '';
        $.ajax({
            type: "POST",
            url: "/ajax/getRelatedAddress",
            data: url+query_url,
            success: function(result) {
                $('#TB_ajaxContent').html(result);
            }
        });
    }
    
    function getContractorAvailability(booking_strat,contractor_id,row_num){
        $('#contractor_availability_container_'+row_num).show();
        $('#contractor_availability_'+row_num).html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "/ajax/findAvailability",
            data:  'stpartdate='+ booking_strat+'&contractor_id='+contractor_id+'&row_num='+row_num,
            success: function(result) {
                $('#contractor_availability_'+row_num).html(result);
            }
        });
    }
    
</script>
