<?php foreach ($this->services as $service): ?>
    <div id="service_result_<?php echo $this->escape($service['service_id']); ?>">
        <a href="javascript:;" style="text-decoration: none; color: black; font-size: 12px;" onclick="checkService('<?php echo $this->escape($service['service_id']); ?>','service_name_<?php echo $this->escape($service['service_id']); ?>','min_price_<?php echo $this->escape($service['service_id']); ?>');">
            <div class="float_l_r"><img style="margin: 2px;" src="/pic/arrow_down.png" border="0"/></div>
            <div class="calender_service_price_opt ">
                <div class="float_l_r" id="service_name_<?php echo $this->escape($service['service_id']); ?>"><?php echo $this->escape($service['service_name']); ?></div>
                <div class="calender_minimum_price_txt">Minimum Price: </div>
                <div class="float_l_r" id="min_price_<?php echo $this->escape($service['service_id']); ?>"><?php echo $this->escape($service['min_price']); ?></div>
                <div style="clear: both;"></div>
            </div>
        </a>
        <div style="clear: both;"></div>
    </div>
<?php endforeach; ?>