<?php if ($this->services): ?>
    <div class="calender_service_name_cont">
        <input MaxLength="200" id="auto_search"  style="width: 100%; height: 30px; font-size: 14px; border:none; padding: 0; margin: 0; color: gray; display:block;" onfocus="$('#search').css('display','block');$('#auto_search').css('display','none');$('#search').focus();" type="text" value="Type Service Name to Search" />
        <input MaxLength="200" id="search" name="keywords" onkeyup="searchServices();" autocomplete="off" style="width: 100%; height: 30px; font-size: 14px; border:none; padding: 0; margin: 0; display:none;" onblur="if(!$('#search').val()){$('#auto_search').css('display','block');$('#search').css('display','none');}" type="text" />
        <div id="keywordsResult" class="calender_service_opt_slct">
            <?php foreach ($this->services as $service): ?>
                <div id="service_result_<?php echo $this->escape($service['service_id']); ?>">
                    <a href="javascript:;" style="text-decoration: none; color: black; font-size: 12px;" onclick="checkService('<?php echo $this->escape($service['service_id']); ?>','service_name_<?php echo $this->escape($service['service_id']); ?>','min_price_<?php echo $this->escape($service['service_id']); ?>');">
                        <div class="float_l_r"><img style="margin: 2px;" src="/pic/arrow_down.png" border="0"/></div>
                        <div class="calender_service_price_opt ">
                            <div class="float_l_r" id="service_name_<?php echo $this->escape($service['service_id']); ?>"><?php echo $this->escape($service['service_name']); ?></div>
                            <div class="calender_minimum_price_txt">Minimum Price: </div>
                            <div class="float_l_r" id="min_price_<?php echo $this->escape($service['service_id']); ?>"><?php echo $this->escape($service['min_price']); ?></div>
                            <div style="clear: both;"></div>
                        </div>
                    </a>
                    <div style="clear: both;"></div>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="calender_service_total">
            <div id="services_title" class="calender_service_total_service_txt">Services</div>
            <div id="amount_title" class="calender_service_total_amount_total_txt">Amount</div>
            <div id="total_title" class="calender_service_total_amount_total_txt">Total</div>
            <div style="clear: both;"></div>
        </div>
        <div id="selectedServices" class="calender_service_slctd_service">

        </div>
    </div>
    <div id="sub_total_cont" class="calender_service_total_box">
        <div class="float_r_l"><input readonly type="text" id="sub_total" name="sub_total" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left:  1px solid #ACD2E7; border-top: none; text-align: center;"/></div>
        <div class="calender_service_subtotal_txt">Sub Total:</div>
        <div style="clear: both;"></div>
    </div>
    <div id="total_discount_cont" class="calender_service_total_box">
        <div class="float_r_l"><input type="text" id="total_discount" onkeyup="discount();" name="total_discount" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left:  1px solid #ACD2E7; border-top: none; text-align: center;"/></div>
        <div class="calender_service_subtotal_txt">Discount:</div>
        <div style="clear: both;"></div>
    </div>
    <div id="total_qoute_cont" class="calender_service_total_box">
        <div class="float_r_l"><input readonly type="text" id="gst" name="gst" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left:  1px solid #ACD2E7; border-top: none; text-align: center;"/></div>
        <div class="calender_service_subtotal_txt">GST (<?php echo (100 * get_config('gst_tax')); ?>%):</div>
        <div style="clear: both;"></div>
    </div>
    <div id="total_qoute_cont" class="calender_service_total_box">
        <div class="float_r_l"><input readonly class="required" type="text" id="total_qoute" name="total_qoute" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left:  1px solid #ACD2E7; border-top: none; text-align: center;"/></div>
        <div class="calender_service_subtotal_txt">Total:</div>
        <div style="clear: both;"></div>
    </div>
<?php else: ?>
    <div class="calender_service_name_cont">
        There is No Service Available in this City
    </div>
<?php endif; ?>