<div class="menu_postion">
    <div class="sub_cont">
        <?php if (CheckAuth::isLoggedIn()): ?>
            <?php $url = isset($_SERVER['REQUEST_URI']) ? $_SERVER['REQUEST_URI'] : ''; ?>

            <?php if (strpos($url, 'dashboard')): ?>
                <?php $dashboardStatus = CheckAuth::getDashboardStatusDropdown(); ?>
                <?php if ($dashboardStatus): ?>
                    <div style="float: left;">
                        <?php echo $dashboardStatus ?>
                    </div>
                <?php endif; ?>
            <?php endif; ?>   

            <?php if (strpos($url, 'missedCall')): ?>
                <div class="sub_button <?php if (isset($this->sub_menu) && $this->sub_menu == 'missedCalls') { ?>sub_button_selected<?php } ?>">
                    <?php if (CheckAuth::checkCredential(array('missedCall'))): ?>
                        <a href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>">
                            Inbox
                        </a>
                    <?php endif; ?>
                </div>
                <div class="sub_button <?php if (isset($this->sub_menu) && $this->sub_menu == 'missedCallSent') { ?>sub_button_selected<?php } ?>">
                    <?php if (CheckAuth::checkCredential(array('missedCallSent'))): ?>
                        <a href="<?php echo $this->escape($this->url(array(), 'missedCallSent')); ?>">
                            Sent 
                        </a>
                    <?php endif; ?>
                </div>
                <div class="sub_button <?php if (isset($this->sub_menu) && $this->sub_menu == 'read_missedCalls') { ?>sub_button_selected<?php } ?>">
                    <?php if (CheckAuth::checkCredential(array('missedCall'))): ?>
                        <a href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>?is_read=yes">
                            Read
                        </a>
                    <?php endif; ?>
                </div>
                <div class="sub_button <?php if (isset($this->sub_menu) && $this->sub_menu == 'unread_missedCalls') { ?>sub_button_selected<?php } ?>">
                    <?php if (CheckAuth::checkCredential(array('missedCall'))): ?>
                        <a href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>?is_read= no">
                            Unread
                        </a>
                    <?php endif; ?>
                </div>
            <?php endif; ?>   
        <?php endif; ?>
    </div>
</div>