<?php

// customer details

$modelCustomer = new Model_Customer();
$customer = $modelCustomer->getById($this->customer_id);
$modelCustomer->fill($customer, array('customer_commercial_info', 'customer_contacts'));
?>

<table width="100%" cellspacing="0" cellpadding="0" border="0" height="142">
    <tbody>
        <tr>
            <td height="30" class="curveLGrnLBg billToPadding txt-lft"> 
                <div class="info_title" style="width: 180px;">
                    <b>Customer Info :</b>
                </div>
                <?php if ($this->allDetails): ?>
                    <div class="customer_similar">  
                        <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                            <a  class="a_link" href="javascript:;" onclick="AddEditCustomer('<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'customerEdit')); ?>');">Edit</a>
                        <?php endif; ?>
                    </div>
                    <?php $duplicateCount = count($modelCustomer->getAllDuplicateCustomer($customer['customer_id'])); ?>
                    <?php if ($duplicateCount > 1): ?>
                        <div class="customer_similar">
                            <?php if (CheckAuth::checkCredential(array('fixDuplicateCustomer'))): ?>
                                <a class="a_link" href="<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'fixDuplicateCustomer')); ?>">
                                    Similar(<?php echo $this->escape($duplicateCount) ?>)
                                </a>
                            <?php else: ?>
                                <span class="span_link">
                                    Similar(<?php echo $this->escape($duplicateCount) ?>)
                                </span>    
                            <?php endif; ?>
                        </div> 
                    <?php endif; ?>
                <?php endif; ?>
            </td>
        </tr>
        <?php if ($this->allDetails): ?>
            <tr height="112">
                <td valign="top" class="defaultInnerBg padding10 txt-lft"> 
                    <?php if (!empty($customer['customer_commercial_info']['business_name'])): ?>
                        <div class="customer_info_text">&#187; <b>Business Name:</b> 
							<a href="<?php echo $this->url(array('name' => $customer['customer_commercial_info']['business_name']), 'businessView'); ?>" class="a_link_black">
                            <?php echo $this->escape(ucfirst($customer['customer_commercial_info']['business_name'])); ?>
							</a>
						</div>
                    <?php endif; ?>
                    <div class="customer_info_text">&#187; <b>Name :</b> 
                        <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                            <a href="<?php echo $this->url(array('id' => $customer['customer_id']), 'customerView'); ?>" class="a_link_black">
                                <?php echo $this->escape(get_customer_name($customer)); ?>
                            </a>    
                        <?php else: ?>
                            <span class="span_black">
                                <?php echo $this->escape(get_customer_name($customer)); ?>
                            </span>    
                        <?php endif; ?>
                    </div>
                    <?php if ($customer['email1']): ?>
                        <div class="customer_info_text">&#187; <b>Email :</b> <?php echo $this->escape($customer['email1']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['email2']): ?>
                        <div class="customer_info_text">&#187; <b>Email :</b> <?php echo $this->escape($customer['email2']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['email3']): ?>
                        <div class="customer_info_text">&#187; <b>Email :</b> <?php echo $this->escape($customer['email3']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['phone1']): ?>
                        <div class="customer_info_text">&#187; <b>Phone :</b> <?php echo $this->escape($customer['phone1']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['phone2']): ?>
                        <div class="customer_info_text">&#187; <b>Phone :</b> <?php echo $this->escape($customer['phone2']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['phone3']): ?>
                        <div class="customer_info_text">&#187; <b>Phone :</b> <?php echo $this->escape($customer['phone3']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['mobile1']): ?>
                        <div class="customer_info_text">&#187; <b>Mobile :</b> <?php echo $this->escape($customer['mobile1']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['mobile2']): ?>
                        <div class="customer_info_text">&#187; <b>Mobile :</b> <?php echo $this->escape($customer['mobile2']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['mobile3']): ?>
                        <div class="customer_info_text">&#187; <b>Mobile :</b> <?php echo $this->escape($customer['mobile3']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['fax']): ?>
                        <div class="customer_info_text">&#187; <b>Fax :</b> <?php echo $this->escape($customer['fax']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['po_box']): ?>
                        <div class="customer_info_text">&#187; <b>PO Box :</b><?php echo $this->escape($customer['po_box']) ?></div>
                    <?php endif; ?>
                    <?php if ($customer['customer_contacts']): ?>
                        <?php foreach ($customer['customer_contacts'] as $customerContact): ?>
                            <div class="customer_info_text">&#187; <b><?php echo $this->escape($customerContact['contact_label']) ?>:</b> <?php echo $this->escape($customerContact['contact']) ?></div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <div class="customer_info_text">&#187; <b>City :</b><?php echo $this->escape($customer['country_name'] . ' - ' . $customer['city_name']) ?></div> 
                    <?php $lineAddress = get_line_address($customer); ?>
                    <div class="customer_info_text">&#187; <b>Address :</b>
                        <a class ="a_link" href="<?php echo $this->escape($this->url(array('id' => $customer['customer_id']), 'customerLocation')); ?>"> 
                            <?php echo $this->escape($lineAddress); ?>
                        </a>
                    </div> 
                </td>
            </tr>
        <?php else: ?>
            <tr height="112">
                <td valign="top" class="defaultInnerBg padding10 txt-lft">
                    <div class="customer_info_text">&#187; <b>City :</b> <?php echo $this->escape($customer['country_name'] . ' - ' . $customer['city_name']) ?></div> 
                    <?php if ($customer['suburb']): ?>
                        <div class="customer_info_text">&#187; <b>Suburb :</b> <?php echo $this->escape($customer['suburb']); ?></div>
                    <?php endif; ?>
                    <div class="customer_info_text">&#187; <b>State :</b> <?php echo $this->escape($customer['state']); ?></div>
                    <?php if ($customer['postcode']): ?>
                        <div class="customer_info_text">&#187; <b>Postcode :</b> <?php echo $this->escape($customer['postcode']); ?></div>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endif; ?>
    </tbody>
</table>

<script type="text/javascript">
    function AddEditCustomer(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=630&width=560');
        });
    }
</script>