<?php 

// Load Model
$modelUser = new Model_User();
$modelAuthRole = new Model_AuthRole();
$modelEmailLog = new Model_EmailLog();
$modelContractorInfo = new Model_ContractorInfo();


?>

<?php if (CheckAuth::checkCredential(array('emailDetails'))): ?>
                <div id="tabs-email-history">
                    <div style="margin-top: 15px;">
                        <?php if ($this->bookingEmailLogs || $this->invoiceEmailLogs || $this->estimateEmailLogs || $this->inquiryEmailLogs || $this->complaintEmailLogs): ?>
                            <?php if ($this->bookingEmailLogs): ?>
                                <div class="tabs-details-label">Booking</div>
                                <table class="details-summary" style="margin-top: 5px;">
                                    <tr class="header-details-summary">
                                        <td width="130"><b>Date</b></td>
                                        <td><b> Subject</b></td>
                                        <td width="60" style="text-align: center;"><b>Sender</b></td>
                                        <td width="60" style="text-align: center;"><b>To</b></td>
                                    </tr>
                                    <?php foreach ($this->bookingEmailLogs as $emailLog): ?>
                                        <?php $user = $modelUser->getById($emailLog['user_id']) ?>
                                        <tr>
                                            <td>
                                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="details_info_opt" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>','470','800','Email');" >
                                                    <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                                </a>
                                            </td>
                                            <td style="text-align: center; width: 100px;">
                                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                <?php else: ?>
                                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                                <?php endif; ?>
                                            </td>
                                            <td>
                                                <?php echo $this->escape($emailLog['to']); ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                            <?php endif; ?>

                            <?php if ($this->invoiceEmailLogs): ?>
                                <div class="tabs-details-label">Invoice</div>
                                <table class="details-summary" style="margin-top: 5px;">
                                    <tr class="header-details-summary">
                                        <td width="130"><b>Date</b></td>
                                        <td><b> Subject</b></td>
                                        <td width="60" style="text-align: center;"><b>Sender</b></td>
                                        <td width="60" style="text-align: center;"><b>To</b></td>
                                    </tr>
                                    <?php foreach ($this->invoiceEmailLogs as $emailLog): ?>
                                        <?php $user = $modelUser->getById($emailLog['user_id']) ?>
                                        <tr>
                                            <td>
                                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="details_info_opt" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>','470','800','Email');" >
                                                    <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                                </a>
                                            </td>
                                            <td style="text-align: center; width: 100px;">
                                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                <?php else: ?>
                                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                                <?php endif; ?>
                                            </td>
                                            <td>
                                                <?php echo $this->escape($emailLog['to']); ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                            <?php endif; ?>

                            <?php if ($this->estimateEmailLogs): ?>
                                <div class="tabs-details-label">Estimate</div>
                                <table class="details-summary" style="margin-top: 5px;">
                                    <tr class="header-details-summary">
                                        <td width="130"><b>Date</b></td>
                                        <td><b> Subject</b></td>
                                        <td width="60" style="text-align: center;"><b>Sender</b></td>
                                        <td width="60" style="text-align: center;"><b>To</b></td>
                                    </tr>
                                    <?php foreach ($this->estimateEmailLogs as $emailLog): ?>
                                        <?php $user = $modelUser->getById($emailLog['user_id']) ?>
                                        <tr>
                                            <td>
                                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="details_info_opt" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>','470','800','Email');" >
                                                    <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                                </a>
                                            </td>
                                            <td style="text-align: center; width: 100px;">
                                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                <?php else: ?>
                                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                                <?php endif; ?>
                                            </td>
                                            <td>
                                                <?php echo $this->escape($emailLog['to']); ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                            <?php endif; ?>

                            <?php if ($this->inquiryEmailLogs): ?>
                                <div class="tabs-details-label">Inquiry</div>
                                <table class="details-summary" style="margin-top: 5px;">
                                    <tr class="header-details-summary">
                                        <td width="130"><b>Date</b></td>
                                        <td><b> Subject</b></td>
                                        <td width="60" style="text-align: center;"><b>Sender</b></td>
                                        <td width="60" style="text-align: center;"><b>To</b></td>
                                    </tr>
                                    <?php foreach ($this->inquiryEmailLogs as $emailLog): ?>
                                        <?php $user = $modelUser->getById($emailLog['user_id']) ?>

                                        <tr>
                                            <td>
                                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="details_info_opt" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>','470','800','Email');" >
                                                    <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                                </a>
                                            </td>
                                            <td style="text-align: center; width: 100px;">
                                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                <?php else: ?>
                                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                                <?php endif; ?>
                                            </td>
                                            <td>
                                                <?php echo $this->escape($emailLog['to']); ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                            <?php endif; ?>

                            <?php if ($this->complaintEmailLogs): ?>
                                <div class="tabs-details-label">Complaint</div>
                                <table class="details-summary" style="margin-top: 5px;">
                                    <tr class="header-details-summary">
                                        <td width="130"><b>Date</b></td>
                                        <td><b> Subject</b></td>
                                        <td width="60" style="text-align: center;"><b>Sender</b></td>
                                        <td width="60" style="text-align: center;"><b>To</b></td>
                                    </tr>
                                    <?php foreach ($this->complaintEmailLogs as $emailLog): ?>
                                        <?php $user = $modelUser->getById($emailLog['user_id']) ?>

                                        <tr>
                                            <td>
                                                <?php echo $this->escape(getDateFormating($emailLog['created'])) ?>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="details_info_opt" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>','470','800','Email');" >
                                                    <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                                                </a>
                                            </td>
                                            <td style="text-align: center; width: 100px;">
                                                <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                                    <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                <?php else: ?>
                                                    <?php echo $this->escape(ucwords($user['username'])); ?>
                                                <?php endif; ?>
                                            </td>
                                            <td>
                                                <?php echo $this->escape($emailLog['to']); ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                            <?php endif; ?>

							<?php if ($this->allGmailEmails): ?>
                                <div class="tabs-details-label">Gmail</div>
                                <table class="details-summary" style="margin-top: 5px;">
                                    <tr class="header-details-summary">
                                        <td width="130"><b>Date</b></td>
                                        <td><b> Subject</b></td>
                                        <td width="60" style="text-align: center;"><b>Sender</b></td>
                                        <td width="60" style="text-align: center;"><b>To</b></td>
                                    </tr>
                                    <?php foreach ($this->allGmailEmails as $GmailEmail): ?>
                                        <?php //$user = $modelUser->getById($emailLog['user_id']) ?>
                                        <tr> 
                                            <td>
                                                <?php echo $this->escape(getDateFormating($GmailEmail['date'])) ?>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="details_info_opt" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $GmailEmail['id']), 'gmailMsgDetails')); ?>','470','800','Email');" >
                                                    <?php echo $this->escape($GmailEmail['sub'] ? $GmailEmail['sub'] : '(No Subject)'); ?>
                                                </a>
                                            </td>
                                            <td style="text-align: center; width: 100px;">
                                               <?php echo $this->escape($GmailEmail['from']); ?>
                                            </td>
                                            <td>
                                                <?php echo $this->escape($GmailEmail['to']); ?>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                            <?php endif; ?>
							
							
                        <?php else: ?>
                            <div class="noRowsMessageDIV">There are no Email History.</div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif; ?>
