<?php
$modelServices = new Model_Services();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelContractorInfo = new Model_ContractorInfo();
$modelAuthRole = new Model_AuthRole();
$modelAttributeType = new Model_AttributeType();
$modelServiceAttributeValue = new Model_ServiceAttributeValue();
$modelAttributeListValue = new Model_AttributeListValue();
$modelCompanies = new Model_Companies();

$companyId = CheckAuth::getCompanySession();
if(empty($companyId)){
    $companyId = $this->booking['company_id'];
}
$company = $modelCompanies->getById($companyId);
?>
<div style="background-color: white; font-family: arial; font-size: 12px;">

    <div align="center">
        <?php if (!empty($company['company_invoice_logo'])) : ?>
            <?php if (file_exists(str_replace('\\', '/', get_config('company_logo') . '/' . $company['company_invoice_logo']))): ?>
                <a href="<?php echo $this->escape('http://' . $company['company_website']); ?>">  <img src="<?php echo $this->escape($this->baseUrl('/uploads/company_logo/' . $company['company_invoice_logo'])); ?>" border="0"/></a>
            <?php else : ?>
                <a href="<?php echo $this->escape('http://' . $company['company_website']); ?>"> <img src="<?php echo $this->escape($this->baseUrl('/pic/tile_logo.png')); ?>" border="0"/></a>
            <?php endif; ?>
        <?php else : ?>
            <a href="<?php echo $this->escape('http://' . $company['company_website']); ?>">  <img src="<?php echo $this->escape($this->baseUrl('/pic/tile_logo.png')); ?>" border="0"/></a>
        <?php endif; ?>
    </div>
    <div style="text-align: center; font-weight: bold;">
        <a style="text-decoration: none;" href="<?php echo $this->escape('http://' . $company['company_website']); ?>">
            <?php echo (!empty($company['company_website']) ? $this->escape($company['company_website']) : 'Company Website') ?>
            |
            <?php echo (!empty($company['company_name']) ? $this->escape($company['company_name']) : 'Company Name') ?>
            | 
            ABN:<?php echo (!empty($company['company_abn']) ? $this->escape($company['company_abn']) : 'Company ABN') ?>
        </a>
    </div>
    <div style="text-align: center; margin-top: 5px;">
        Phone: <?php echo (!empty($company['company_phone1']) ? $this->escape($company['company_phone1']) : 'Company Phone') ?> (Sales & Equiries) 
        | 
        Email: <?php echo (!empty($company['company_invoices_email']) ? $this->escape($company['company_invoices_email']) : 'Company Invoices Email') ?>
    </div>

    <div style="margin-top: 20px;">
        <b>Booking No.: <?php echo $this->escape($this->booking['booking_num']) ?></b>
    </div>

    <?php
    $bookingAddress = array();
    $customer = array();
    $bookingDiscussions = array();
    $bookingComplaints = array();
    $allEmailLog = array();
    $bookingAddress = $this->booking['address'];
    $customer = $this->booking['customer'];
    $bookingDiscussions = $this->booking['discussion'];
    $bookingComplaints = $this->booking['complaint'];
    $allEmailLog = $this->booking['email_log'];
    $lineBookingAddress = get_line_address($bookingAddress);
    $lineCustomerAddress = get_line_address($customer);
    $businessName = $this->booking['customer_commercial_info']['business_name'];
    ?>
    <?php //echo $this->escape(isset($this->booking['customer_contacts'])?count($this->booking['customer_contacts'])+3:3);die('lll'); ?>
    <table border="1" cellspacing="0" cellpadding="2" style="margin-top: 5px; width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;">
        <?php if (!empty($this->booking['customer_commercial_info']['business_name'])): ?>
            <tr>
                <td colspan="3" style="width: 70%;">Business Name : <?php echo $this->escape($this->booking['customer_commercial_info']['business_name']); ?></td>
                <td rowspan="2" style="width: 30%;">From : <?php echo $this->escape(getDateFormating(strtotime($this->booking['booking_start']), false)); ?></td>
            </tr>
        <?php endif; ?>
        <tr>
            <td colspan="3" style="width: 70%;">Customer : <?php echo $this->escape(get_customer_name($customer)); ?></td>
            <?php if (empty($businessName)): ?>
                <td style="width: 30%;">From : <?php echo $this->escape(getDateFormating(strtotime($this->booking['booking_start']), false)); ?></td>
            <?php endif; ?>
        </tr>
        <?php if ((!empty($businessName) && $lineBookingAddress == $lineCustomerAddress) || empty($businessName)) : ?>
            <tr>
                <td colspan="3" style="vertical-align: top;">
                    <span>Address :</span>
                    <?php echo $this->escape($lineBookingAddress); ?>
                </td>
                <?php if (empty($businessName)): ?>
                    <td style="width: 30%;">To: <?php echo $this->escape(getDateFormating(strtotime($this->booking['booking_end']), false)); ?></td>
                <?php else: ?>
                    <td  rowspan="2" style="width: 30%;">To: <?php echo $this->escape(getDateFormating(strtotime($this->booking['booking_end']), false)); ?></td>
                <?php endif; ?>
            </tr>
        <?php else: ?> 
            <tr>
                <td colspan="3" style="vertical-align: top;">
                    <span>Business Address :</span>
                    <?php echo $this->escape($lineCustomerAddress); ?>
                </td>
                <td  rowspan="2" style="width: 30%;">
                    To: <?php echo $this->escape(getDateFormating(strtotime($this->booking['booking_end']), false)); ?>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align: top;">
                    <span>Booking Address:</span>
                    <?php echo $this->escape($lineBookingAddress); ?>
                </td>
            </tr>
        <?php endif; ?>
        <tr>
            <td colspan="3">
                <?php
                $phones = array();
                if (!empty($customer['phone1'])) {
                    $phones[] = $customer['phone1'];
                }
                if (!empty($customer['phone2'])) {
                    $phones[] = $customer['phone2'];
                }
                if (!empty($customer['phone3'])) {
                    $phones[] = $customer['phone3'];
                }
                ?>

                Phone : <?php echo $this->escape(implode(" - ", $phones)); ?>
            </td>
            <?php if ((!empty($businessName) && $lineBookingAddress != $lineCustomerAddress) || empty($businessName)): ?>
                <td rowspan="<?php echo $this->escape(isset($this->booking['customer_contacts']) ? count($this->booking['customer_contacts']) + 3 : 3) ?>"style=" width: 30%;">  
                    <div style="clear: both;">
                        <b style="float: left;">Technician :</b>

                        <div style="float: left; margin-left: 10px;">
                            <?php echo implode('<br/>', $this->booking['name_contractors']); ?>
                        </div>
                    </div>
                </td>
            <?php endif; ?>
        </tr>
        <tr>
            <td colspan="3">
                <?php
                $mobiles = array();
                if (!empty($customer['mobile1'])) {
                    $mobiles[] = $customer['mobile1'];
                }
                if (!empty($customer['mobile2'])) {
                    $mobiles[] = $customer['mobile2'];
                }
                if (!empty($customer['mobile3'])) {
                    $mobiles[] = $customer['mobile3'];
                }
                ?>
                Mobile : <?php echo $this->escape(implode(" - ", $mobiles)); ?>
            </td>
            <?php if (!empty($businessName) && $lineBookingAddress == $lineCustomerAddress): ?>
                <td rowspan="<?php echo $this->escape(isset($this->booking['customer_contacts']) ? count($this->booking['customer_contacts']) + 2 : 2) ?>" style=" width: 30%;">  
                    <div style="clear: both;">
                        <b style="float: left;">Technician :</b>

                        <div style="float: left; margin-left: 10px;">
                            <?php echo implode('<br/>', $this->booking['contractors']); ?>
                        </div>
                    </div>
                </td>
            <?php endif; ?>
        </tr>
        <tr>
            <td colspan="3">
                <?php
                $emails = array();
                if (!empty($customer['email1'])) {
                    $emails[] = $customer['email1'];
                }
                if (!empty($customer['email2'])) {
                    $emails[] = $customer['email2'];
                }
                if (!empty($customer['email3'])) {
                    $emails[] = $customer['email3'];
                }
                ?>
                Email : <?php echo $this->escape(implode(" - ", $emails)); ?>
            </td>
        </tr>
        <?php if (isset($this->booking['customer_contacts']) && !empty($this->booking['customer_contacts'])): ?>
            <?php foreach ($this->booking['customer_contacts'] as $customerContact): ?>
                <tr>
                    <td colspan="3"><?php echo $this->escape($customerContact['contact_label']) ?>: <?php echo $this->escape($customerContact['contact']) ?></td>
                </tr>    
            <?php endforeach; ?>
        <?php endif; ?>
    </table>

    <?php if (!empty($this->bookingServices)): ?>

        <table border="1" style="margin-top: 20px; width: 100%; border-collapse: collapse; text-align: center; font-size: 12px;">
            <tr style="background-color: black; height: 30px;">
                <td style="color: white;">DESCRIPTION</td>
                <td style="color: white;" width="110">UNIT PRICE</td>
                <td style="color: white;" width="110">QTY</td>
                <td style="color: white;" width="90">TOTAL</td>
            </tr>
            <?php foreach ($this->bookingServices as $bookingService): ?>
                <?php
                $serviceId = $bookingService['service_id'];
                $clone = $bookingService['clone'];
                $bookingId = $bookingService['booking_id'];
                $contractorId = $bookingService['contractor_id'];
                $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                $serviceDetails = $modelServices->getById($serviceId);
                ?>
                <?php $serviceDetails = $modelServices->getById($serviceId); ?>
                <tr>
                    <td style="text-align: left;">
                        <div style="clear: both;">
                            <span style="float: left;">
                                &#187; <b>Service :</b>&ensp;
                            </span>
                            <span style="float: left; width: 80%;">
                                <?php echo $this->escape($serviceDetails['service_name']); ?>
                            </span>
                        </div>
                        <?php if ($this->priceArray[$serviceAndClone] <= $serviceDetails['min_price']): ?>
                            <div style="clear: both;">
                                <span style="float: left;">
                                    &#187; <b>Min Price :</b>&ensp;
                                </span>
                                <span style="float: left; width: 80%;">
                                    <?php echo $this->escape($serviceDetails['min_price']); ?>
                                </span>
                            </div>
                        <?php endif; ?>
                        <?php
                        $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);

                        $unit_price = 0;
                        $qty = 0;

                        foreach ($serviceAttribute as $attribute) {
                            $serviceAttribute = $modelServiceAttribute->getByAttributeIdAndServiceId($attribute['attribute_id'], $attribute['service_id']);
                            $value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $serviceAttribute['service_attribute_id'], $clone);
                            switch ($attribute['attribute_name']) {
                                case 'Quantity':
                                    $qty = $value['value'];
                                    break;
                                case 'Price':
                                    $unit_price = $value['value'];
                                    break;
                                default :
                                    if ($value['value']) {
                                        $att = $modelAttributeType->getById($attribute['attribute_type_id']);
                                        ?>
                                        <div style="clear: both;">
                                            <span style="float: left;">
                                                &#187; <b><?php echo $this->escape($attribute['attribute_name']); ?> :</b>&ensp;
                                            </span>
                                            <span style="float: left; width: 80%;"> 
                                                <?php
                                                if ($att['is_list']) {
                                                    if ($value['is_serialized_array']) {
                                                        $values = unserialize($value['value']);
                                                        foreach ($values as $value) {
                                                            $attributeListValue = $modelAttributeListValue->getById($value);
                                                            if ($attributeListValue['unit_price']) {
                                                                echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</b></div>';
                                                            } else {
                                                                echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</div>';
                                                            }
                                                        }
                                                    } else {
                                                        $attributeListValue = $modelAttributeListValue->getById($value['value']);
                                                        if ($attributeListValue['unit_price']) {
                                                            echo $this->escape($attributeListValue['attribute_value']) . '</b>';
                                                        } else {
                                                            echo $this->escape($attributeListValue['attribute_value']);
                                                        }
                                                    }
                                                } else {
                                                    echo nl2br($this->escape($value['value']));
                                                }
                                                ?>
                                            </span>
                                        </div>
                                        <?php
                                    }
                                    break;
                            }
                        }
                        ?>
                    </td>
                    <td><?php echo $this->escape($unit_price); ?></td>
                    <td><?php echo $this->escape($qty); ?></td>
                    <td><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
                </tr>
            <?php endforeach; ?>
            <?php
            $subTotal = !empty($this->booking['sub_total']) ? $this->booking['sub_total'] : 0;
            $totalDiscount = !empty($this->booking['total_discount']) ? $this->booking['total_discount'] : 0;
            $callOutFee = !empty($this->booking['call_out_fee']) ? $this->booking['call_out_fee'] : 0;
            $gst = !empty($this->booking['gst']) ? $this->booking['gst'] : 0;

            $paidAmount = !empty($this->booking['paid_amount']) ? $this->booking['paid_amount'] : 0;
            $refund = !empty($this->booking['refund']) ? $this->booking['refund'] : 0;
            $qoute = !empty($this->booking['qoute']) ? $this->booking['qoute'] : 0;

            $total = $subTotal + $callOutFee + $gst - $totalDiscount;
            $balanceDue = $qoute - $paidAmount;

            $rowspan = 5;
            $rowspan = $totalDiscount ? $rowspan + 1 : $rowspan;
            $rowspan = $callOutFee ? $rowspan + 1 : $rowspan;
            $rowspan = $refund ? $rowspan + 2 : $rowspan;
            ?>
            <tr>
                <td colspan="2" rowspan="<?php echo $rowspan; ?>" style="background-color: white;"></td>
                <td style="padding: 5px;">
                    Sub Total:
                </td>
                <td style="padding: 5px;">
                    <?php echo $this->escape(number_format($subTotal, 2)); ?>
                </td>
            </tr>
            <?php if ($callOutFee): ?>
                <tr style="border-bottom: 1px solid #A1A1A1;">
                    <td style="padding: 10px;">
                        Call Out Fee:
                    </td>
                    <td style="padding: 10px;">
                        <?php echo $this->escape(number_format($callOutFee, 2)); ?>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if ($totalDiscount): ?>
                <tr>
                    <td style="padding: 5px;">
                        Discount:
                    </td>
                    <td style="padding: 5px;">
                        <?php echo $this->escape(number_format($totalDiscount, 2)); ?>
                    </td>
                </tr>
            <?php endif; ?>
            <tr>
                <td style="padding: 5px;">
                    GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                </td>
                <td style="padding: 5px;">
                    <?php echo $this->escape(number_format($gst, 2)); ?>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;">
                    Total:
                </td>
                <td style="padding: 5px;">
                    $<?php echo $this->escape(number_format($total, 2)); ?>
                </td>
            </tr> 
            <?php if ($refund): ?>
                <tr>
                    <td style="padding: 5px;">
                        Refund:
                    </td>
                    <td style="padding: 5px;">
                        (-) <?php echo $this->escape(number_format($refund, 2)); ?>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;">
                        Total Amount:
                    </td>
                    <td style="padding: 5px;">
                        $<?php echo $this->escape(number_format($qoute, 2)); ?>
                    </td>
                </tr> 
            <?php endif; ?>
            <tr>
                <td style="padding: 5px;">
                    Paid Amount:
                </td>
                <td style="padding: 5px;">
                    (-) <?php echo $this->escape(number_format($paidAmount, 2)); ?>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;">
                    Balance Due:
                </td>
                <td style="padding: 5px;">
                    $<?php echo $this->escape(number_format($balanceDue, 2)); ?>
                </td>
            </tr>
        </table>
    <?php endif; ?>

    <?php if ($bookingDiscussions): ?>
        <div style="margin-top: 20px;">
            <b>Booking Discussion</b>
        </div>
        <table  border="1" cellspacing="0" cellpadding="2" style="margin-top: 5px; width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;">
            <tr style="background-color: black; height: 30px;">
                <td style="color: white; text-align: center;" width="130"><b>Date</b></td>
                <td style="color: white; text-align: center;"><b>Message</b></td>
                <td width="60" style="text-align: center; color: white;"><b>User</b></td>
            </tr>
            <?php $userObj = new Model_User(); ?>
            <?php foreach ($bookingDiscussions as $bookingDiscussion): ?>
                <?php $user = $userObj->getById($bookingDiscussion['user_id']) ?>
                <tr>
                    <td>
                        <?php echo $this->escape(getDateFormating($bookingDiscussion['created'], false)) ?>
                    </td>
                    <td>
                        <?php echo nl2br($this->escape($bookingDiscussion['user_message'])); ?>
                    </td>
                    <td style="text-align: center; width: 100px;">
                        <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                            <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>

                        <?php else: ?>
                            <?php echo $this->escape(ucwords($user['username'])); ?>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>

    <?php if ($bookingComplaints): ?>
        <div style="margin-top: 20px;">
            <b>Booking Complaint</b>
        </div>
        <table  border="1" cellspacing="0" cellpadding="2" style="margin-top: 5px; width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;">
            <tr style="background-color: black; height: 30px;">

                <td  style="color: white; text-align: center;" width="130"><b>Date</b></td>
                <td style="color: white; text-align: center;"><b>Comment</b></td>
                <td width="60" style="text-align: center; color: white;"><b>User</b></td>
            </tr>
            <?php $userObj = new Model_User(); ?>
            <?php foreach ($bookingComplaints as $complaint): ?>
                <?php $user = $userObj->getById($complaint['user_id']) ?>
                <tr>
                    <td>
                        <?php echo $this->escape(getDateFormating($complaint['created'], false)) ?>
                    </td>
                    <td>
                        <span class="a_black">
                            <?php
                            echo $this->escape(substr($complaint['comment'], 0, 50));
                            echo $this->escape((strlen($complaint['comment']) > 50 ? '...' : ''));
                            ?>
                        </span> 
                    </td>
                    <td style="text-align: center;">
                        <?php echo $this->escape($user['username']); ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>

    <?php if ($allEmailLog): ?>
        <div style="margin-top: 20px;">
            <b>Email History</b>
        </div>

        <table border="1" cellspacing="0" cellpadding="2" style="margin-top: 5px; width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;">
            <tr  style="background-color: black; height: 30px;">
                <td  style="color: white; text-align: center;" width="130"><b>Date</b></td>
                <td style="color: white; text-align: center;"><b> Subject</b></td>
                <td width="60" style="text-align: center; color: white;"><b>Sender</b></td>
                <td width="60" style="text-align: center; color: white;"><b>Type</b></td>
            </tr>
            <?php $userObj = new Model_User(); ?>
            <?php foreach ($allEmailLog as $emailLog): ?>
                <?php $user = $userObj->getById($emailLog['user_id']) ?>

                <tr>
                    <td>
                        <?php echo $this->escape(getDateFormating($emailLog['created'], false)) ?>
                    </td>
                    <td>
                        <?php echo $this->escape($emailLog['subject']); ?>
                    </td>

                    <td style="text-align: center; width: 100px;">
                        <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                            <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>

                        <?php else: ?>
                            <?php echo $this->escape(ucwords($user['username'])); ?>
                        <?php endif; ?>
                    </td>
                    <td>
                        <?php echo $this->escape($emailLog['type']); ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>


    <?php if ($this->bookingServices): ?>

        <div style="margin-top: 20px;">
            <b>To Do Services</b>
        </div>
        <table border="1" cellspacing="0" cellpadding="2" style="margin-top: 5px; width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;">
            <tr  style="background-color: black; height: 30px;">
                <td  style="color: white; text-align: center;width:10px;" ><b>No.</b></td>
                <td style="color: white; text-align: center;"><b> Service</b></td>
                <td style="text-align: center; color: white; width:60px;"><b>Completed</b></td>
                <td style="text-align: center; color: white;width:60px;"><b>Canceled</b></td>
                <td style="text-align: center; color: white;width:60px;"><b>Change Request</b></td>
                <td style="text-align: center; color: white; width : 330px;"><b>Comments</b></td>
            </tr>
            <?php foreach ($this->bookingServices as $key => $bookingService): ?>
                <?php
                $serviceId = $bookingService['service_id'];
                $clone = $bookingService['clone'];
                $bookingId = $bookingService['booking_id'];
                $contractorId = $bookingService['contractor_id'];
                $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                $serviceDetails = $modelServices->getById($serviceId);
                ?>
                <?php $serviceDetails = $modelServices->getById($serviceId); ?>
                <tr style=" height: 100px;">
                    <td style="text-align: center">
                        <?php echo $this->escape(++$key); ?>
                    </td>
                    <td style="padding-left: 5px;">
                        <?php echo $this->escape($serviceDetails['service_name']); ?>
                    </td>
                    <td style="text-align: center">
                        <input type="checkbox"/>
                    </td>
                    <td style="text-align: center">
                        <input type="checkbox"/>
                    </td>
                    <td style="text-align: center">
                        <input type="checkbox"/>
                    </td>
                    <td>

                    </td>
                </tr>
            <?php endforeach; ?>
            <?php for ($x = ++$key; $x < $key + 1; $x++): ?>   
                <tr style=" height: 100px;">
                    <td style="text-align: center">
                        <?php echo $this->escape($x); ?>
                    </td>
                    <td>
                    </td>
                    <td style="text-align: center">
                        <input type="checkbox"/>
                    </td>
                    <td style="text-align: center">
                        <input type="checkbox"/>
                    </td>
                    <td style="text-align: center">
                        <input type="checkbox"/>
                    </td>
                    <td>
                    </td>
                </tr>
            <?php endfor; ?>

        </table>
    <?php endif; ?>

    <div style="margin-top: 20px; border-bottom: 1px dotted black; font-weight: bold;">
        Comment 
    </div>
    <div style="margin-top: 20px; border-bottom: 1px dotted black;"></div>
    <div style="margin-top: 20px; border-bottom: 1px dotted black;"></div>
    <div style="margin-top: 20px; border-bottom: 1px dotted black;"></div>
    <div style="margin-top: 20px; border-bottom: 1px dotted black;"></div>
    <div style="margin-top: 20px; border-bottom: 1px dotted black;"></div>


    <div style="margin-top: 20px; border-bottom: 1px dotted black;">
        SIGNED AND DATED:
    </div>

    <div style="margin-top: 20px; text-align: center;">
        <a style="text-decoration: none;" href="<?php echo $this->escape('http://' . $company['company_website']); ?>">
            <?php echo $this->escape($company['company_website']) ?>
        </a>
    </div>
    <div style="text-align: center;">
        Phone:<?php echo (!empty($company['company_phone1']) ? $this->escape($company['company_phone1']) : 'Company Phone') ?> (Sales & Equiries)
        | 
        Email: <?php echo (!empty($company['company_invoices_email']) ? $this->escape($company['company_invoices_email']) : 'Company Invoices Email') ?>
    </div>

</div>
