<?php if ($this->is_address): ?>
    <?php echo $this->MAP_OBJECT->getHeaderJS(); ?>
    <?php echo $this->MAP_OBJECT->getMapJS(); ?>
<?php endif; ?>
<div class="ibox float-e-margins">
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-1">
			   <a  id="Closebtn" href="<?php echo isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '' ?>" class="btn btn-white">Back</a>
            	
            </div>
            <div class="col-md-10 ">
			<h3>Booking Location</h3>
			</div>
        </div>
    </div>
</div>

<div class="ibox no-margin-b">
		<div class="ibox-content">
		<div class="row">
	     <?php if ($this->line_address): ?>
                    <div style="margin-left: 10px; font-size: 20px; float: left; padding-top: 5px; color: #999999">
                        (<a href="http://maps.google.com.au/maps?q=<?php echo urlencode($this->escape($this->line_address)); ?>" target="_blank" class="a_link"><?php echo $this->escape($this->line_address); ?></a>)
                    </div>
                <?php endif; ?>
		</div>

		</div>
		
		<div class="ibox-content">
		<div class="row">
		        <div style="text-align: center;">
                 <?php if ($this->is_address): ?>
                    <?php echo $this->MAP_OBJECT->printOnLoad(); ?>
                    <?php echo $this->MAP_OBJECT->printMap(); ?>
                    <div id="map_directions"></div>
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">
						<span class="fa fa-ban"></span>
							<br>
						<h3 class="font-bold">
                                	There are no Address for this Booking.
						</h3>
									
								
				
                        <div style="font-size:12px; margin-top:6px;">
                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>">View booking</a>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
		</div>
		</div>
</div>
