<?php
$status_colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <h3></h3>
      </div>
	   <div class="list_title col-md-12">
                  <?php 
				  $model_user = new Model_User();
				  if(isset($this->contractorId)) {
					$contractor = $model_user->getById($this->contractorId);
					echo 'Hi '.$contractor['username'].', please update the following jobs';
						}
					?> 
                </div>
                <div class="clearb"></div>
	</div>
   </div>
</div>


<div class="ibox float-e-margins no-margin-b">
<?php if ($this->data): ?>
<div class="ibox-content">
	<table class="table table-bordered responsive-table" id="booking-responsive-table">
      <thead>
        <tr>
		  <th>Booking#</th>
          <th>Details</th>
          <th>Customer</th>
          <th>Technician</th>
          <th>Complaint</th>
          <th>Services</th>
          <th>Amount</th>
		  
        </tr>
      </thead>
	  <tbody>
		<tr>
						
                        <?php $count = 0; ?>
                        <?php
                        $modelBookingStatus = new Model_BookingStatus();
                        $modelBookingAddress = new Model_BookingAddress();
                        ?>
                        <?php foreach ($this->data as $row) : ?>
                            <tr>
                                <td>
                                    <div class="details_info_l">
                                        <div style="font-size: 14px;">
                                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                            <?php else: ?>
                                                <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                            <?php endif; ?>
                                        </div>
                                        <div style="font-size: 11px; font-weight: bold;">
                                            <?php echo $this->escape($row['convert_status']); ?>
                                        </div>
                                        <div style="margin-top: 5px;">
                                            <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $row['is_accepted']): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <div class="booking_time_cont">
											<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                            <span><?php echo $this->escape(getBookingDateFormating($row['booking_start'],$row['booking_end'])) ?></span>
											
											<?php 	
									          $modelBookingMultipleDays = new Model_BookingMultipleDays();
									          $multipleDays = $modelBookingMultipleDays->getByBookingId($row['booking_id']);
							                ?>
											
											<div id="multiple_days">
										<?php if (count($multipleDays)){ ?>
											<?php foreach ($multipleDays as $key => $multipleDay){ 
											echo '<div>';
											echo '<span class="glyphicon glyphicon-time" aria-hidden="true"></span>';
											echo '<span>&nbsp;'.$this->escape(getBookingDateFormating($multipleDay['booking_start'],$multipleDay['booking_end'])).'</span>';
										   echo '</div>';
										  } 
										 } ?>
									</div>
											
											<div>
											<?php $bookingStatus = $modelBookingStatus->getById($row['status_id']); ?>
                                                <span class="time_start_color">Status : </span>
                                                <span style="font-size: 10px; font-weight: bold; color:<?php echo $status_colors[$bookingStatus['color']];  ?>">
                                                    <?php
                                                    echo $this->escape($bookingStatus['name']);
                                                    ?>
                                                </span>
                                                                 
                                            </div>
                                            <div id="address_list">
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                        <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Address :</span>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                            <?php echo $this->escape($lineAddress); ?>
                                                        </a>
                                                    <?php endif; ?> 
                                                <?php else: ?>
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if ($bookingAddress): ?>
                                                        <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Address :</span>
                                                        <?php echo ($row['city_name'] ? $this->escape($row['city_name']) : ''); ?>
                                                        <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                    <?php endif; ?> 
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="details_info_l">

                                        <?php
                                        $actions = array();

                                        if (CheckAuth::getRoleName() == 'contractor') {
                                            if ($row['not_accepted']) {
                                                $popupConfig = "'Accept Service','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                $actions[] = '<a class="a_accept"  href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                            }

                                            if ($row['not_accepted_or_rejected']) {
                                                $popupConfig = "'Reject Service','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                $actions[] = '<a class="a_reject"  href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt">Edit</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'estimate' && $row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $row['is_accepted']) {
                                            if ($row['convert_status'] != 'invoice') {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                            }
                                        }

                                        if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                            $onclick = "'Add complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                            $actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $onclick . ');" class="details_info_opt">Add complaint</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                            $popupConfig = "'Booking Discussion' ,'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDiscussion'))}'";
                                            $actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                        }

                                        if (CheckAuth::checkCredential(array('bookingLabel'))) {
                                            $popupConfig = "'Booking Label','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingSelectLabel'))}'";
                                            $actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                        }

                                        $line_actions = array_slice($actions, 0, 3);
                                        $drop_down_actions = array_slice($actions, 3);
                                        ?>

                                        <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                        <?php if ($drop_down_actions): ?>
										<div class="btn-group ">
							<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions  <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<?php foreach ($drop_down_actions as $drop_down_action): ?>
							<li> <?php echo $drop_down_action; ?> </li>
						<?php endforeach; ?>
					</ul>
			    </div><!-- action button -->
                                           
                                        <?php endif; ?>

                                    </div>
                                    <div class="details_info_l" style="width: 400px;" id="label_<?php echo $row['booking_id'] ?>">
                                        <?php foreach ($row['labels'] as $label): ?>
                                            <div class="label_box">
                                                <?php echo $this->escape($label); ?> 
                                            </div>
                                        <?php endforeach; ?>
                                    </div> 
                                </td>
                                <td class="details_info_l">
                                    <div class="details_info_l">
                                    <?php if ($row['is_accepted']){ ?>
                                         	<span>
                                                <?php if (CheckAuth::checkCredential(array('customerView')) && $row['is_accepted']){ ?>
                                                 <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                    <?php echo $this->escape($row['customer_name']); ?>
                                                 </a>    
                                                    <?php }else{ ?>
                                                 <span class="span_black">
                                                    <?php echo $this->escape($row['customer_name']); ?>
                                                 </span>    
                                                        <?php } ?>                  
                                            </span>
                                    <?php } ?> 
									</div>
                                </td>
                                <td  class="details_info_l">
                                    <div class="details_info_l clearb">
                                        <table align="center" cellpadding="3" style="float: left;" id="satisfaction">
                                            <tr>
                                                <td>Services No.</td>
                                                <?php foreach ($row['services'] as $key => $service): ?>
                                                    <td style="text-align: center;"><a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black"><?php echo $this->escape($key + 1); ?></a></td>
                                                <?php endforeach ?>
                                            </tr>
                                            <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                                                <tr>
                                                    <td>
                                                        <?php echo $this->escape($contractor_name); ?>
                                                    </td>
                                                    <?php foreach ($row['services'] as $key => $service): ?>
                                                        <td style="text-align: center; background-color: <?php if ($service['contractor_id'] != $contractor_id): ?>transparent<?php elseif ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;">
                                                            <?php if ($service['contractor_id'] != $contractor_id): ?>
                                                                <a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black">-</a>
                                                            <?php elseif ($service['is_accepted']): ?>
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                            <?php elseif ($service['is_rejected']): ?>
                                                                <img height="10" width="10" src="/pic/white_rejected.png" border="0" title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                            <?php else: ?>
                                                                <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                                                    <a href="javascript:;" data-target="#popupi" data-toggle="modal" onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');" class="details_info_opt" >
                                                                        <img height="10" width="10" src="/pic/white_unknown.png" border="0" title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                                    </a>
                                                                <?php else: ?>
                                                                    <img height="10" width="10" src="/pic/white_unknown.png" border="0" title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)" alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                        </td>
                                                    <?php endforeach ?>
                                                </tr>
                                            <?php endforeach ?>
                                        </table>
                                    </div>
                                </td>
								<td>
								<div class="details_info_l" 
									<?php if(isset($row['complaint_status'])){  ?>					
									style="text-align: center; float: left; margin: 12px; padding: 2px 4px; background-color:<?php if($row['complaint_status']=='closed'){ echo '#22aa99';} else if($row['complaint_status']=='open') echo '#ff0000'; ?>;" 
									<?php } ?>
								>
								<?php if(isset($row['complaint_status'])){  ?>
									<a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></a>
                                <?php } ?>
								</div>
								</td>
                                <td class="details_info_l">
                                    <div class="details_info_l" style="text-align:center;">
                                       <?php foreach ($row['services'] as $key => $service){ ?>
                                          <?php echo $this->escape($service['info']['service_name']).'</br>'; ?>  
										<?php } ?>
                                    </div>
                                </td>
                                <td class="details_info_r">
                                    <div class="details_info_l">
                                        $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
		</tr>
	  </tbody>
      <tbody>
	</table>
</div>
<div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
<?php endif;?>
</div>


<script type="text/javascript">
    function AddEditComplaint(url) {
        $(document).ready(function() {
           // tb_show("", url+'?height=270&width=500');
        });
    }
</script>