<?php if ($this->bookingDiscussions): ?>
    <div id="discussions" class="discussion_container">
        <?php foreach ($this->bookingDiscussions as $bookingDiscussion): ?>
			<table class="table">
				<tr>
					<td>
						<?php echo $this->escape($bookingDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($bookingDiscussion['user']['role_name']); ?></span>)
					</td>
					<td>
						<?php echo $this->escape(getDateFormating($bookingDiscussion['created'])); ?>
					</td>
					<td>
					    <?php echo nl2br($this->escape($bookingDiscussion['user_message'])); ?>
					</td>
				</tr>
            </table>
			
        <?php endforeach; ?>
    </div>
<?php else: ?>
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Booking</p>
    </div>
<?php endif; ?>


<form method="POST" class="form-horizontal"  id="discussion_form" onsubmit="sendDiscussion();return false;">



		<div class="form-group">
				<label class="col-lg-2 control-label">Discussion</label>
				<div class="col-lg-10">
					<textarea cols="" rows="" id="disc" name="discussion" class="descussion_txtarea form-control"></textarea>
				</div>
        </div>
		<div class="form-group"  id="button_cont">
                <div class="col-lg-offset-2 col-lg-10">
					<button type="submit" value="send" class="btn btn-primary" >Send</button>
                </div>
         </div>
   
</form>

<script type="text/javascript">
    function sendDiscussion(){
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'sendDiscussion')); ?>",
            data: $('#discussion_form').serialize()+"&booking_id=<?php echo $this->escape($this->booking['booking_id']); ?>",
            success: function(msg) {
                if(msg == 1){
                    window.location.reload()
                }else {
                    $('#discussion').html(msg);
                }
            }
        });
    }
</script>