<form id="search_form" action="<?php echo $this->escape($this->url(array(), 'booking')); ?>" method="GET" >
   
   
   <div class="form-group">
        <label for="Keywords" class="control-label">Keywords</label>
             <input name="fltr[keywords]" type="text" id="Keywords"  class="form-control" value="<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
   
    </div>
  
   	<div class="form-group">
    		<?php if (!empty($this->filters['customer_id'])): ?>
                <?php
                $modelCustomer = new Model_Customer();
                $customer = $modelCustomer->getById($this->filters['customer_id']);
                $customerName = get_customer_name($customer);
                ?>
            <?php endif; ?>
    </div>
 
   
    
            
            <div class="form-group">
                <label class="formLabel">Customer Name</label>
                <input type="text" id="auto_customer_id"  class="form-control" value="<?php echo $this->escape(isset($customerName) ? $customerName : ''); ?>"/>
                <input type="hidden" id="customer_id" name="fltr[customer_id]"  class="form-control" value="<?php echo $this->escape(!empty($this->filters['customer_id']) ? $this->filters['customer_id'] : ''); ?>"/>
            </div>

            <div style="form-group">
                <label class="control-label">Users</label>
                <?php
                $modelUser = new Model_User();
                $users = $modelUser->getAllEmployee(true);

                $user = new Zend_Form_Element_Select('user_id');
                $user->setBelongsTo('fltr');
                $user->setDecorators(array('ViewHelper'));
                $user->setAttrib("class", "form-control");
                $user->setValue((!empty($this->filters['user_id']) ? $this->filters['user_id'] : ''));
                $user->addMultiOption('', 'Select One');
                $user->addMultiOptions($users);
                echo $user->render();
                ?>
            </div>

            <div class="form-group">
                <label class="formLabel">Booking#</label>
                <input name="fltr[booking_num]" type="text"  class="form-control" value="<?php echo $this->escape((!empty($this->filters['booking_num']) ? $this->filters['booking_num'] : '')); ?>" />
            </div>

            <div class="form-group">
                <label class="formLabel">Business Name</label>
                <input name="fltr[bussiness_name]" type="text"  class="form-control" value="<?php echo$this->escape((!empty($this->filters['bussiness_name']) ? $this->filters['bussiness_name'] : '')); ?>" />
            </div>

            <div class="form-group">
                <label class="formLabel">Address</label>
                <input name="fltr[address]" type="text"  class="form-control" value="<?php echo$this->escape((!empty($this->filters['address']) ? $this->filters['address'] : '')); ?>" />
            </div>
            <div class="form-group">
                <label class="formLabel">Email</label>
                <input name="fltr[email]" type="text"  class="form-control" value="<?php echo$this->escape((!empty($this->filters['email']) ? $this->filters['email'] : '')); ?>" />
            </div>

            <div class="form-group">
                <label class="formLabel">Mobile/Phone#</label>
                <input name="fltr[mobile/phone]" type="text"  class="form-control" value="<?php echo$this->escape((!empty($this->filters['mobile/phone']) ? $this->filters['mobile/phone'] : '')); ?>" />
            </div>

            <div class="form-group">
                <label class="formLabel">Booking Date</label>
                <input name="fltr[date]" type="text"  class="form-control" id="date"  readonly="readonly" value="<?php echo $this->escape((!empty($this->filters['date']) ? $this->filters['date'] : '')); ?>" />
            </div>

            
            <?php if (CheckAuth::checkCredential(array('canSeeAllContractorBooking'))) : ?>
                <div class="form-group">
                    <label class="formLabel">Technician Name</label>
                    <?php
                    $modelUser = new Model_User();
                    $allContractor = $modelUser->getAllContractor(TRUE);

                    $contractor = new Zend_Form_Element_Select('contractor_id');
                    $contractor->setBelongsTo('fltr');
                    $contractor->setDecorators(array('ViewHelper'));
                   $contractor->setAttrib("class", "form-control");
                    $contractor->setValue((!empty($this->filters['contractor_id']) ? $this->filters['contractor_id'] : ''));
                    $contractor->addMultiOption('', 'Select One');
                    $contractor->addMultiOptions($allContractor);
                    echo $contractor->render();
                    ?>
                </div>
            <?php endif; ?>

            <div class="form-group">
                <label class="formLabel">Service Name</label>
                <?php
                $modelServices = new Model_Services();
                $allService = $modelServices->getAllService();

                $service = new Zend_Form_Element_Select('service_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                 $service->setAttrib("class", "form-control");
                $service->setValue((!empty($this->filters['service_id']) ? $this->filters['service_id'] : ''));
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allService);
                echo $service->render();
                ?>
            </div>

            <div class="form-group">
                <label class="formLabel">Booking Total Range</label>
                <table border="0">
                    <tr>
                        <td style="text-align: left;"><input name="fltr[qoute_from]" type="text"  class="form-control" value="<?php echo $this->escape((!empty($this->filters['qoute_from']) ? $this->filters['qoute_from'] : '')); ?>" /></td>
                        <td>-</td>
                        <td style="text-align: left;"><input name="fltr[qoute_to]" type="text"  class="form-control" value="<?php echo $this->escape((!empty($this->filters['qoute_to']) ? $this->filters['qoute_to'] : '')); ?>" /></td>
                    </tr>
                </table>
            </div>
            <?php
            $country_id = (!empty($this->filters['country_id']) ? $this->filters['country_id'] : CheckAuth::getCountryId());
            ?>

            <div class="form-group">
                <label class="formLabel">Country</label>
                <?php
                $modelCountries = new Model_Countries();
                $allCountries = $modelCountries->getAllCountries();

                $service = new Zend_Form_Element_Select('country_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttribs(array("id" => "country", "class" => "form-control", "onchange" => "getStateByCountryId();"));
                $service->setValue($country_id);
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allCountries);
                echo $service->render();
                ?>
             
            </div>

            <div id="display_state" style=" <?php  echo $this->escape(empty($country_id) ? "display: none;" : ""); ?>" class="form-group">
                <label class="formLabel">State</label>
                <div id="state_cont">
                    <?php
                    $modelCities = new Model_Cities();
                    $allState = $modelCities->getStateByCountryId(($country_id), TRUE);

                    $service = new Zend_Form_Element_Select('state');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "fltr-state", "class" => "form-control", "onchange" => "getCitiesByCountryId();"));
                    $service->setValue((!empty($this->filters['state']) ? $this->filters['state'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allState);
                    echo $service->render();
                    ?>
                </div>
             
            </div>

            <div id="display_city" style=" <?php echo $this->escape(empty($this->filters['state']) || empty($country_id) ? "display: none;" : ""); ?>"
            class="form-group">
                <label class="formLabel">City</label> 
                <div id="city_cont">
                    <?php
                    $allCities = $modelCities->getCitiesByCountryIdAndState($country_id, (!empty($this->filters['state']) ? $this->filters['state'] : ''), TRUE);

                    $service = new Zend_Form_Element_Select('city_id');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "city_id", "class" => "form-control"));
                    $service->setValue((!empty($this->filters['city_id']) ? $this->filters['city_id'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allCities);
                    echo $service->render();
                    ?>
                </div>
                
            </div>

           

            <input type="hidden" name="fltr[convert_status]" value="all"/>
            <input type="hidden" name="fltr[submit]" value="on"/>

     <div class="modal-footer">
				<input type="submit" value="Search" class="btn btn-primary" id="adv-search"/>
				 <a href="<?php echo $this->escape($this->url(array(), 'booking')); ?>"  class="a_advance btn btn-white" data-dismiss="modal">Cancel</a>
	 </div>
     
   
</form>
<script type="text/java">
    //
    //fun to get all city in selected country
    //
    function getStateByCountryId(){
      
        if($('#country').val()){
            $('#display_state').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country').val()+"&onChange=getCitiesByCountryId&class=right-side-input-text&name=state&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#display_state').css('display','none');
            $('#display_city').css('display','none');
        }
    }
    
    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId(){
        if($('#fltr-state').val()){
            $('#display_city').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country').val()+"&state="+$('#fltr-state').val()+"&class=right-side-input-text&name=city_id&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#display_city').css('display','none');
        }
    }
    
    $(document).ready(function() {
        $('#date').datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    });
   
    // auto complete customer search
    $(function() {
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term,
                            have_booking :true
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });
</script>

