<?php
$status_colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);

$modelServiceAttribute = new Model_ServiceAttribute ();
$modelAttributeListValue = new Model_AttributeListValue ();
$modelServiceAttributeValue = new Model_ServiceAttributeValue ();
$weatherStatue=new Model_WeatherStatus();

$convert_status = !empty($this->filters['convert_status']) ? $this->filters['convert_status'] : 'booking';
?>
<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    All Bookings
                </div>
                <div class="sort_booking_cont">
                    <?php if (CheckAuth::checkCredential(array('booking'))): ?>
                        <?php
                        $filterLink = array();
                        if ($this->sub_menu == 'my_bookings') {
                            $filterLink['my_bookings'] = true;
                        }
                        ?>
                        <?php echo FilterLink::generate_link('all', array_merge($filterLink, array('fltr' => array('convert_status' => 'all'))), empty($this->filters['convert_status']) && empty($this->filters['acceptance']), true); ?>
                        |
                        <?php echo FilterLink::generate_link('booking', array('fltr' => array('convert_status' => 'booking')), isset($this->filters['convert_status']) && $this->filters['convert_status'] == 'booking'); ?>
                        |
                        <?php echo FilterLink::generate_link('invoice', array('fltr' => array('convert_status' => 'invoice')), isset($this->filters['convert_status']) && $this->filters['convert_status'] == 'invoice'); ?>
                        |
                        <?php echo FilterLink::generate_link('to follow', array('sort' => 'to_follow', 'method' => 'asc', 'fltr' => array('to_follow' => 'true', 'convert_status' => $convert_status)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true); ?>
                        <?php if (CheckAuth::checkCredential(array('bookingFilterLabel'))): ?>
                            <input type="button" class="filter_btn_style" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'filterBookingLabel')); ?>','250','200','Booking Label','<?php if ($this->sub_menu == 'my_bookings') { ?>&my_bookings=true<?php } ?>');" value="Filter By Label(s)"/>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
                <div class="clearb"></div>
                <div style="font-size: 12px; border-top: 1px solid #CCCCCC; margin-top: 5px; padding: 5px 0 2px 0;">
                    <div style="float: left;">
					<?php
                        $yesterday = getTimePeriodByName('yesterday');
                        $today = getTimePeriodByName('today');
                        $tomorrow = getTimePeriodByName('tomorrow');
                        ?>
                        <?php if (CheckAuth::checkCredential(array('booking'))): ?>
                            <?php echo FilterLink::generate_link('Indoors', array('fltr' => array('convert_status' => $convert_status, 'booking_start_between' => $tomorrow['start'], 'booking_end_between' => $tomorrow['end'], 'Area' => 'Indoor')), isset($this->filters['Area']) && $this->filters['Area'] == 'Indoor'); ?>
                  			|
                            <?php echo FilterLink::generate_link('Outdoors', array('fltr' => array('convert_status' => $convert_status, 'booking_start_between' => $tomorrow['start'], 'booking_end_between' => $tomorrow['end'],'Area' => 'Outdoor')), isset($this->filters['Area']) && $this->filters['Area'] == 'Outdoor'); ?>
							|
                            <?php echo FilterLink::generate_link('In/Outdoors', array('fltr' => array('convert_status' => $convert_status, 'booking_start_between' => $tomorrow['start'], 'booking_end_between' => $tomorrow['end'],'Area' => 'Indoor & Outdoor')), isset($this->filters['Area']) && $this->filters['Area'] == 'Indoor & Outdoor'); ?>
						<?php endif; ?>
                    </div>
					<div class="clearb"></div>				
					
					
					<div style="float: left;">
                        <?php if (CheckAuth::checkCredential(array('booking'))): ?>
                            <?php echo FilterLink::generate_link('accepted', array('fltr' => array('acceptance' => 'accepted')), isset($this->filters['acceptance']) && $this->filters['acceptance'] == 'accepted'); ?>
                            |
                            <?php echo FilterLink::generate_link('rejected', array('fltr' => array('acceptance' => 'rejected')), isset($this->filters['acceptance']) && $this->filters['acceptance'] == 'rejected'); ?>
                            |
                            <?php echo FilterLink::generate_link('unknown', array('fltr' => array('acceptance' => 'unknown')), isset($this->filters['acceptance']) && $this->filters['acceptance'] == 'unknown'); ?>
                        <?php endif; ?>
                    </div>
                    <div style="float: right;">
                        <?php echo $this->allStatus->render(); ?>
                    </div>
                    <div style="float:right; margin-right: 8px;">
                        
                        <?php echo FilterLink::generate_link('yesterday', array('fltr' => array('convert_status' => $convert_status, 'booking_start_between' => $yesterday['start'], 'booking_end_between' => $yesterday['end'])), isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] == $yesterday['start']); ?>
                        |
                        <?php echo FilterLink::generate_link('today', array('fltr' => array('convert_status' => $convert_status, 'booking_start_between' => $today['start'], 'booking_end_between' => $today['end'])), isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] == $today['start']); ?>
                        |
                        <?php echo FilterLink::generate_link('tomorrow', array('fltr' => array('convert_status' => $convert_status, 'booking_start_between' => $tomorrow['start'], 'booking_end_between' => $tomorrow['end'])), isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] == $tomorrow['start']); ?>
                    </div>
                    <div class="clearb"></div>
                </div>
            </div>
            <?php if ($this->data): ?>
                <form method="POST" id="form" action="<?php echo $this->escape($this->url(array(), 'bookingDeleteBtn')); ?>" onsubmit="return confirm('Are you sure you want to delete this Booking ?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('bookingDelete')) && !$this->isDeleted): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">

                                <td class="checkbox_booking_cont">
                                    <?php if (!$this->isDeleted): ?>
                                        <input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" />
                                    <?php endif; ?>
                                </td>

                                <td style="padding-left: 10px; width: 100px;"><?php echo SortOrder::generate_link('Booking#', 'created') ?></td>
                                <td class="details"><b>Details</b></td>
                                <td><b>City</b></td>
                                <td><b>Technician</b></td>
                                <td><b>Users</b></td>
                                <td><b>Confirmation</b></td>
                                <td class="head_title"><b>Amount</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php
                            $modelBookingStatus = new Model_BookingStatus();
                            $modelBookingAddress = new Model_BookingAddress();
                            $modelClaimOwner = new Model_ClaimOwner();
                            $loggedUser = CheckAuth::getLoggedUser();
                            ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                        <?php $bookingStatus = $modelBookingStatus->getById($row['status_id']); ?>
                                    <td  class="checkbox_booking_cont" style="background-color: <?php echo $this->escape($status_colors[$bookingStatus['color']]) ?>;">
                                        <?php if (!$this->isDeleted): ?>
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['booking_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        <?php endif; ?>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                                <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['convert_status']) {
                                                case 'booking':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'estimate':
                                                    $color = '#4F8BC3';
                                                    break;

                                                case 'invoice':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                <?php echo $this->escape($row['convert_status']); ?>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $row['is_accepted']): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <?php if (!empty($row['have_attachment'])): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"><img src="/pic/icons/attach.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_link_black"><?php echo $this->escape($bookingStatus['name']) . " - " . $this->escape($row['title']) ?></a>    
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <span class="time_start_color">Start Time : </span> <?php echo $this->escape(getDateFormating($row['booking_start'])) ?> 
                                                <span class="time_end">End Time : </span> <?php echo $this->escape(getDateFormating($row['booking_end'])) ?>
                                                <div>
                                                    <span class="time_start_color">Status : </span>
                                                    <span style="font-size: 10px; font-weight: bold;">
                                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $bookingStatus['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>','300','600');" class="a_link_black"><?php echo $this->escape($bookingStatus['name']) ?></a>
                                                    </span>
                                                </div>
                                                <div id="address_list">
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $bookingAddress): ?>
                                                        <span class="time_start_color" >Address :</span>
                                                        <?php if ($row['is_accepted']): ?>
                                                            <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                                <?php echo $this->escape($lineAddress); ?>
                                                            </a>
                                                        <?php else: ?>
                                                            <?php $lineAddress = get_some_details_line_address($bookingAddress); ?>
                                                            <?php echo $this->escape($lineAddress); ?>
                                                        <?php endif; ?> 
                                                    <?php else: ?>
                                                        <?php /*
                                                          <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                                                          <?php if ($bookingAddress && $row['is_accepted']): ?>
                                                          <span class="time_start_color" >Address :</span>
                                                          <?php echo ($row['city_name'] ? $this->escape($row['city_name']) : ''); ?>
                                                          <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                          <?php endif; ?>
                                                         */ ?>
                                                    <?php endif; ?>
                                                </div>
                                                <?php if ($row['is_accepted']): ?>
                                                    <div id="city_list_inquiry">
                                                        <?php if (!empty($row['customer_name'])): ?>
                                                            <div>
                                                                <span style="color: #A1A1A1;">Customer :</span>
                                                                <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                                    <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black"><?php echo $this->escape($row['customer_name']); ?></a>
                                                                <?php else: ?>
                                                                    <?php echo $this->escape($row['customer_name']) ?>
                                                                <?php endif; ?>
                                                            </div>   
                                                        <?php endif; ?>
                                                        <?php if (!empty($row['to_follow'])): ?>
                                                            <?php if (!empty($row['customer']['customer_commercial_info']['business_name'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Business Name :</span> <?php echo $this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name'])) ?></div>
                                                            <?php endif; ?> 

                                                            <?php if (!empty($row['customer']['email1'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email1']) ?></div>
                                                            <?php endif; ?> 

                                                            <?php if (!empty($row['customer']['email2'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email2']) ?></div>
                                                            <?php endif; ?> 

                                                            <?php if (!empty($row['customer']['email3'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email3']) ?></div>
                                                            <?php endif; ?> 

                                                            <?php if (!empty($row['customer']['mobile1'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile1']) ?></div>
                                                            <?php endif; ?> 

                                                            <?php if (!empty($row['customer']['mobile2'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile2']) ?></div>
                                                            <?php endif; ?>

                                                            <?php if (!empty($row['customer']['mobile3'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile3']) ?></div>
                                                            <?php endif; ?>

                                                            <?php if (!empty($row['customer']['phone1'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone1']) ?></div>
                                                            <?php endif; ?>

                                                            <?php if (!empty($row['customer']['phone2'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone2']) ?></div>
                                                            <?php endif; ?>

                                                            <?php if (!empty($row['customer']['phone3'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone3']) ?></div>
                                                            <?php endif; ?>

                                                            <?php if (!empty($row['customer']['fax'])): ?>
                                                                <div><span style="color: #A1A1A1;" >Fax :</span> <?php echo $this->escape($row['customer']['fax']) ?></div>
                                                            <?php endif; ?>

                                                            <?php if (!empty($row['customer']['po_box'])): ?>
                                                                <div><span style="color: #A1A1A1;" >PO Box :</span> <?php echo $this->escape($row['customer']['po_box']) ?></div>
                                                            <?php endif; ?>

                                                            <?php if (!empty($row['customer']['customer_contacts'])): ?>
                                                                <?php foreach ($row['customer']['customer_contacts'] as $customerContact): ?>
                                                                    <div><span style="color: #A1A1A1;" ><?php echo $this->escape($customerContact['contact_label']) ?> :</span> <?php echo $this->escape($customerContact['contact']) ?></div>
                                                                <?php endforeach; ?>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                                <?php if (!empty($row['to_follow'])): ?>
                                                    <span class="time_start_color">Deferred To : </span> <?php echo $this->escape(getDateFormating($row['to_follow'])) ?> 
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php
                                            $actions = array();

                                            if ($this->isDeleted) {
                                                if (CheckAuth::checkCredential(array('bookingDeleteForever')) && $row['convert_status'] == "booking") {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDeleteForever'))}','Are you sure you want to delete this Booking Forever ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete Forever</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('bookingUndelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingUndelete'))}','Are you sure you want to UnDelete this Booking ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">UnDelete</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('bookingHistory'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingHistory')) . '" class="details_info_opt">Booking History</a>';
                                                }
                                            } else {
                                                if (CheckAuth::getRoleName() == 'contractor') {
                                                    if ($row['not_accepted']) {
                                                        $popupConfig = "'{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}','200','400'";
                                                        $actions[] = '<a class="a_accept"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Accept</a>';
                                                    }

                                                    if ($row['not_accepted_or_rejected']) {
                                                        $popupConfig = "'{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}','200','400'";
                                                        $actions[] = '<a class="a_reject"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Reject</a>';
                                                    }
                                                }

                                                if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt">Edit</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
                                                    if ($row['convert_status'] != 'estimate' && $row['convert_status'] != 'invoice') {
                                                        $popupConfig = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate'))}','100','300','Convert To Estimate'";
                                                        $actions[] = '<a class="details_info_opt"   href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Convert To Estimate</a>';
                                                    }
                                                }

//                                                if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
//                                                    if ($row['convert_status'] != 'estimate' && $row['convert_status'] != 'invoice') {
//                                                        $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
//                                                    }
//                                                }

                                                if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $row['is_accepted']) {
                                                    if ($row['convert_status'] != 'invoice') {
                                                        $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                                    }
                                                }

                                                $findAvailabilityParams = array();
                                                $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking_start'])));
                                                $findAvailabilityParams[] = 'city_id=' . urlencode($row['city_id']);
                                                foreach ($row['services'] as $service) {
                                                    $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                                }
                                                $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                                $popupConfig = "'{$this->escape($this->url(array(), 'findAvailability'))}','500','1000','Find Availability','{$findAvailabilityParams}'";
                                                $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Find Availability</a>';

                                                $nearestBookingParams = array();
                                                $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking_start'])));
                                                $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking_start'])));
                                                $nearestBookingParams[] = 'city_id=' . urlencode($row['city_id']);
                                                $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                $nearestBookingParams = implode("&", $nearestBookingParams);
                                                $popupConfig = "'{$this->escape($this->url(array(), 'getRelatedAddress'))}','500','900','Nearest Bookings','{$nearestBookingParams}'";
                                                $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Nearest Bookings</a>';

                                                if (CheckAuth::checkCredential(array('canAcceptAdminServices')) && $row['not_accepted']) {
                                                    $popupConfig = "'{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices'))}','200','400'";
                                                    $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Admin Accept Service</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('bookingHistory'))) {
                                                    $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingHistory')) . '" class="details_info_opt">Booking History</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                                    $popupConfig = "'{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}','270','500'";
                                                    $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Add Complaint</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('attachment'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                                    $popupConfig = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDiscussion'))}','470','700','Booking Discussion'";
                                                    $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('bookingLabel'))) {
                                                    $popupConfig = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingSelectLabel'))}','250','200','Booking Label'";
                                                    $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('bookingDelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDelete'))}','Are you sure you want to delete this Booking ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('claimOwner')) && $row['created_by'] != $loggedUser['user_id']) {
                                                    $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                                    if (empty($claimOwner)) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                                    }
                                                }
                                            }

                                            $line_actions = array_slice($actions, 0, 3);
                                            $drop_down_actions = array_slice($actions, 3);
                                            ?>

                                            <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                            <?php if ($drop_down_actions): ?>
                                                <a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="menu_<?php echo $this->escape($row['booking_id']) ?>"><span class="ui-icon ui-icon-triangle-1-s"></span>Actions</a>
                                                <div id="search-engines" class="hidden">
                                                    <ul>
                                                        <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                            <li>
                                                                <?php echo $drop_down_action; ?>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    </ul>
                                                </div>
                                                <div class="clearb"></div>
                                                <script>
                                                    $(function(){
                                                        // MENU	
                                                        $('#menu_<?php echo $this->escape($row['booking_id']) ?>').fgmenu({ 
                                                            content: $('#menu_<?php echo $this->escape($row['booking_id']) ?>').next().html(), // grab content from this page
                                                            showSpeed: 100 
                                                        });
                                                    });
                                                </script>
                                            <?php endif; ?>
                                        </div>
                                        <div class="details_info_l" style="width: 400px;" id="label_<?php echo $row['booking_id'] ?>">
                                            <?php foreach ($row['labels'] as $label): ?>
                                                <div class="label_box">
                                                    <?php echo $this->escape($label); ?> 
                                                </div>
                                            <?php endforeach; ?>
                                        </div> 
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['city_name']); ?>    
                                        </div>
										<div class="details_info_l">
																	
										<?php
											$createDate = new DateTime($row['booking_start']);
											$strip = $createDate->format('Y-m-d');
											$status=$weatherStatue->getByDateAndCityId($strip,$row['city_id']);		
											 if ($status['status']) { ?>
												<img align="top" src=<?php echo $status['img_link'];?> title="<?php echo $status['status'] ?>"/></br>
												<?php echo $status['temperature']; ?>
												<?php } 
											else
												echo '?';
										?>
										</div>
										
                                    </td>
                                    <td>
                                        <div class="details_info_l clearb">
                                            <table align="center" cellpadding="3" style="float: left;" id="satisfaction">
                                                <?php
                                                $modelBooking = new Model_Booking();
                                                if (!empty($row['services_temp']) && !$modelBooking->checkCanEditBookingDetails($row['booking_id'])) {
                                                    $services = $row['services_temp'];
                                                } else {
                                                    $services = $row['services'];
                                                }
                                                ?>
                                                <tr>
                                                    <td>Services No.</td>
                                                    <?php foreach ($services as $key => $service): ?>
                                                        <td style="text-align: center;"><a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black"><?php echo $this->escape($key + 1); ?></a></td>
                                                    <?php endforeach ?>
													<td>Distance</td>
                                                </tr>
                                                <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                                                    <tr>
                                                        <td>
                                                            <?php echo $this->escape($contractor_name); ?>
                                                        </td>
                                                        <?php foreach ($services as $key => $service): ?>
                                                            <td style="text-align: center; background-color: <?php if ($service['contractor_id'] != $contractor_id): ?>transparent<?php elseif ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;">
                                                                <?php if ($service['contractor_id'] != $contractor_id): ?>
                                                                    <a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black">-</a>
                                                            <?php elseif ($service['is_accepted']): ?>
                                                                    <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
																	?>
																	<a href="javascript:;"
																			onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>','200','400');"
																			class="details_info_opt"> <img height="10" width="10"
																			src="/pic/white_accepted.png" border="0"
																			title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																			alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
																	</a>
																	<?php else: ?>
																	<img height="10" width="10"
																			src="/pic/white_accepted.png" border="0"
																			title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																			alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
																	<?php endif; ?>
                                                            <?php elseif ($service['is_rejected']): ?>
                                                                    <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
																		<a href="javascript:;"
																			onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>','200','400');"
																			class="details_info_opt"> <img height="10" width="10"
																				src="/pic/white_rejected.png" border="0"
																				title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																				alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
																		</a>
																		<?php else: ?>
																		<img height="10" width="10"
																			src="/pic/white_rejected.png" border="0"
																			title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																			alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
																		<?php endif; ?>
                                                            <?php else: ?>
                                                                     <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
																		<a href="javascript:;"
																					onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>','200','400');"
																					class="details_info_opt"> <img height="10" width="10"
																						src="/pic/white_unknown.png" border="0"
																						title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																						alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
																				</a>
																		<?php else: ?>
																		<img height="10" width="10"
																					src="/pic/white_unknown.png" border="0"
																					title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																					alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
																
																<?php endif; ?>
                                                                <?php endif; ?>
                                                            </td>
                                                        <?php endforeach ?>
														<td>
															<?php 
																echo number_format($this->contractorsDistance[$row['booking_id']][$contractor_id]['distance'], 2).'KM'; 
															?> 
														</td>
                                                    </tr>
													
													<!-- By Islam -->
													<tr>
													<td>
														<?php echo 'Area'; ?>
													</td>
													<?php foreach ($services as $key => $service): 
													$serviceAttributeInfo = $modelServiceAttribute->getByAttributeIdAndServiceId ( 48,$service['service_id']);
													$serviceAttributeValue=$modelServiceAttributeValue->getByBookingIdAndServiceAttributeId($row ['booking_id'],$serviceAttributeInfo['service_attribute_id']);
													$attributeListValue = $modelAttributeListValue->getById ( $serviceAttributeValue ['value'] );
														
													?>
													<td style="text-align: center; background-color: <?php if ($attributeListValue['attribute_value'] == 'Indoor'): ?>#00FF00<?php else: ?>#FF00FF<?php endif; ?>;">
													<a 
																title="<?php if ($attributeListValue['attribute_value'] == 'Indoor') 
																	echo 'Indoor';
																elseif ($attributeListValue['attribute_value'] == 'Outdoor')
																	echo 'Outdoor';
																else
																	echo 'Indoor/Outdoor';
																?>"
																alt="<?php echo $attributeListValue['attribute_value']; ?>"
																class="a_link_black"><?php if ($attributeListValue['attribute_value'] == 'Indoor') 
																	echo 'I';
																elseif ($attributeListValue['attribute_value'] == 'Outdoor')
																	echo 'O';
																else
																	echo 'I/O';	?></a>
													
													</td>
													<?php endforeach ?>
													</tr>
													<!--End By Islam -->
                                                <?php endforeach ?>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l" >
                                            <?php foreach ($row['booking_users'] as $booking_user) : ?>
                                                <div style ="float: left; margin: 2px; padding: 2px 4px; background-color:#DDDDDD;">
                                                    <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
                                                </div> 
                                            <?php endforeach; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <?php $modelUser = new Model_User(); ?>
                                        <div  id = "reminder_<?php echo $this->escape($row['booking_id']); ?>" class="details_info_l">
                                            <?php if (isset($row['reminder']) && $row['reminder']): ?>
                                                <?php foreach ($row['reminder'] as $reminder): ?>
                                                    <div style = "font-size: 12px;">
                                                        <?php $user = $modelUser->getById($reminder['user_id']); ?>
                                                        <a href="javascript:;" style="color:black;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'bookingReminderView')); ?>','180','400','Confirm Booking');" class="details_info_opt"><?php echo $this->escape($reminder['type'] . ' - ' . $user['username'] . ' - ' . getDateFormating($reminder['created'])); ?></a>
                                                        <?php if (CheckAuth::checkCredential(array('bookingReminderDelete'))): ?>
                                                            <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $row['booking_id'], 'reminder_id' => $reminder['id']), 'bookingReminderDelete')); ?>','booking');" ><img height="10" width="10" src="/pic/remove.png" border="0" ></a>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('bookingReminderAdd'))): ?>
                                                <div style = "font-size: 12px;">
                                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>','180','400','Confirm Booking');" class="details_info_opt">Confirm Booking</a>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_r">
                                        <div class="details_info_l">
                                            <?php
                                            $modelBooking = new Model_Booking();
                                            $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                                            ?>
                                            $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no <?php echo $this->escape((!empty($this->filters['convert_status']) ? ucfirst($this->filters['convert_status']) : 'All')); ?>s.
                    <div style="font-size:12px; margin-top:6px;">
                        <a href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[convert_status]">View all Booking</a>
                    </div>
                </div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <?php /*
              <td class="right_side" style="display: <?php echo isset($this->filters['submit']) && $this->filters['submit'] == 'on' ? 'table-cell' : 'none'; ?>;">
             */ ?>
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                    <div class="btn_cont">
                        <a href="<?php echo $this->escape($this->url(array(), 'bookingAdd')); ?>" class="btn_a">
                            <div class="text_pos">
                                New Booking
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <?php echo $this->render('index/filters.phtml'); ?>
                <?php //include APPLICATION_PATH . '/modules/default/views/scripts/search/search.phtml'     ?>
            </div>
        </td>
    </tr>
</table>
