<?php
$status_colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);

$convert_status = !empty($this->filters['convert_status']) ? $this->filters['convert_status'] : 'booking';
?>

<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <h3>All Booking</h3>
      </div>
      <div class="col-md-7 ">
        <ul class="inline-list float-lg-r">
          <?php if (CheckAuth::checkCredential(array('booking'))): ?>
          <?php
                                    $filterLink = array();
                                    if ($this->sub_menu == 'my_bookings') {
                                        $filterLink['my_bookings'] = true;
                                    }
                                    ?>
  
          <li>
		  		<?php echo FilterLink::generate_link('all', array_merge($filterLink, array('fltr' => array('convert_status' => 'all'))), empty($this->filters['convert_status']) && empty($this->filters['acceptance']), true); ?>
          </li>
          |
          <li>
		  			<?php echo FilterLink::generate_link('booking', array('fltr' => array('convert_status' => 'booking')), isset($this->filters['convert_status']) && $this->filters['convert_status'] == 'booking'); ?>
                    </li>
          |
          <li><?php echo FilterLink::generate_link('invoice', array('fltr' => array('convert_status' => 'invoice')), isset($this->filters['convert_status']) && $this->filters['convert_status'] == 'invoice'); ?></li>
          |
          <li><?php echo FilterLink::generate_link('to follow', array('sort' => 'to_follow', 'method' => 'asc', 'fltr' => array('to_follow' => 'true', 'convert_status' => $convert_status)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true); ?></li>
          <?php if (CheckAuth::checkCredential(array('bookingFilterLabel'))): ?>
          <li>
   
               <a class="btn btn-white"  data-toggle="modal" data-target="#popupi" href="#"
                   onclick="popupi('Filter by label','<?php echo $this->escape($this->url(array(), 'filterBookingLabel')); ?>');">Filter By Label(s)</a>

          </li>
          <?php endif; ?>
        
          <?php endif; ?>
        </ul>
      </div>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <ul class="inline-list">
         
          <?php if (CheckAuth::checkCredential(array('booking'))): ?>
          <li><?php echo FilterLink::generate_link('accepted', array('fltr' => array('acceptance' => 'accepted')), isset($this->filters['acceptance']) && $this->filters['acceptance'] == 'accepted'); ?></li>
          |
          <li><?php echo FilterLink::generate_link('rejected', array('fltr' => array('acceptance' => 'rejected')), isset($this->filters['acceptance']) && $this->filters['acceptance'] == 'rejected'); ?></li>
          |
          <li><?php echo FilterLink::generate_link('unknown', array('fltr' => array('acceptance' => 'unknown')), isset($this->filters['acceptance']) && $this->filters['acceptance'] == 'unknown'); ?></li>
          <?php endif; ?>
        </ul>
		<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#spec">Advance Search</a> 
      </div>
      <div class="col-md-7 ">
			<div class="btn-group float-lg-r">
				  <?php
							$yesterday = getTimePeriodByName('yesterday');
							$today = getTimePeriodByName('today');
							$tomorrow = getTimePeriodByName('tomorrow');
					?>
				  <button class="btn btn-white" type="button"> <?php echo FilterLink::generate_link('yesterday', array('fltr' => array('convert_status' => $convert_status, 'booking_start_between' => $yesterday['start'], 'booking_end_between' => $yesterday['end'])), isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] == $yesterday['start']); ?> </button>
				  <button class="btn btn-white" type="button"> <?php echo FilterLink::generate_link('today', array('fltr' => array('convert_status' => $convert_status, 'booking_start_between' => $today['start'], 'booking_end_between' => $today['end'])), isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] == $today['start']); ?> </button>
				  <button class="btn btn-white" type="button"> <?php echo FilterLink::generate_link('tomorrow', array('fltr' => array('convert_status' => $convert_status, 'booking_start_between' => $tomorrow['start'], 'booking_end_between' => $tomorrow['end'])), isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] == $tomorrow['start']); ?> </button>
				
				 <?php echo $this->allStatus->render(); ?> 
			</div>
      </div>
    </div>
  </div>
</div>
<div class="ibox float-e-margins no-margin-b">
<?php if ($this->data): ?>
<div class="ibox-content">
  <form method="POST" id="form" action="<?php echo $this->escape($this->url(array(),'bookingDeleteBtn')); ?>" onsubmit="return confirm('Are you sure you want to delete this Booking ?');">
    <input class="btn btn-danger" type="submit" value="Delete"/>
    <table class="table table-bordered responsive-table" id="booking-responsive-table">
      <thead>
        <tr>
          <th> <?php if (!$this->isDeleted): ?>
            <input type="checkbox" name="checkboxall" id="checkboxall"/>
            <?php endif; ?>
          </th>
          <th class="table-booking"><?php echo SortOrder::generate_link('Booking#','created')?></th>
          <th class="table-details">Details</th>
          <th>City</th>
          <th>Technician</th>
          <th>Users</th>
          <th>Confirmation</th>
          <th class="table-amount">Amount</th>
        </tr>
      </thead>
      <tbody>
        <?php $count = 0; ?>
        <?php
                                        $modelBookingStatus = new Model_BookingStatus();
                                        $modelBookingAddress = new Model_BookingAddress();
                                        $modelClaimOwner = new Model_ClaimOwner();
                                        $loggedUser = CheckAuth::getLoggedUser();
                                        ?>
        <?php foreach ($this->data as $row) : ?>
        <?php $count += 1; ?>
        <tr class="<?php if ($count % 2 != 0) { echo $this->escape('tr_cont_1');} else { echo $this->escape('tr_cont_2');}?>"> 
          
          <!-- delete check -->
          
          <?php $bookingStatus = $modelBookingStatus->getById($row['status_id']); ?>
          <td  class="checkbox_booking_cont" style="background-color: <?php echo $this->escape($status_colors[$bookingStatus['color']]); ?>"><?php if (!$this->isDeleted): ?>
            <input type="checkbox" id="delete-check" name="ids[]" value="<?php echo $this->escape($row['booking_id']);?>" class="checkbox_input_pos"/>
            <?php endif; ?>
		  </td>
          
          <!-- booking column-->
          <td class="booking"><div class="details_info_l">
              <div>
                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']),'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                <?php else: ?>
                <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                <?php endif; ?>
              </div>
              <?php
					$color = '#A1A1A1';
					switch ($row['convert_status']) {
					case 'booking':
					$color = '#A1A1A1';
					break;

					case 'estimate':
					$color = '#4F8BC3';
					break;

					case 'invoice':
					$color = '#BCD68F';
					break;
					}
			 ?>
              <div style="color: <?php echo $this->escape($color); ?>;"> <?php echo $this->escape($row['convert_status']); ?> </div>
              <div>
                <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $row['is_accepted']): ?>
                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" ></a>
                <?php endif; ?>
              </div>
              <div>
                <?php if (!empty($row['have_attachment'])): ?>
                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"><img src="/pic/icons/attach.png"></a>
                <?php endif; ?>
              </div>
            </div>
		 </td>
          
          <!-- Details column -->
          <td class="details"><div class="details_info_l">
              <div class="hidden-block">
                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_link_black"><?php echo $this->escape($bookingStatus['name']) . " - " . $this->escape($row['title']) ?></a>
                <?php endif; ?>
              </div>
              <div class="booking_time_cont"> 
					
					
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					<span><?php echo $this->escape(getBookingDateFormating($row['booking_start'],$row['booking_end'])) ?></span>
			
                <div> <span class="time_start_color">Status : </span> <span style="font-size: 10px; font-weight: bold;">

				<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Booking Status Description','<?php echo $this->escape($this->url(array('id' => $bookingStatus['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>');">
				<?php echo $this->escape($bookingStatus['name']) ?></a> </span> </div>
               
			   <div>
                  <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                  <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $bookingAddress): ?>
                  <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Address :</span>
                  <?php if ($row['is_accepted']): ?>
                  <?php $lineAddress = get_line_address($bookingAddress); ?>
                  <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>"> <?php echo $this->escape($lineAddress); ?> </a>
                  <?php else: ?>
                  <?php $lineAddress = get_some_details_line_address($bookingAddress); ?>
                  <?php echo $this->escape($lineAddress); ?>
                  <?php endif; ?>
                  <?php else: ?>
                  <?php /*
                                                          <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                                                          <?php if ($bookingAddress && $row['is_accepted']): ?>
                                                          <span class="time_start_color" >Address :</span>
                                                          <?php echo ($row['city_name'] ? $this->escape($row['city_name']) : ''); ?>
                                                          <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                          <?php endif; ?>
                                                         */?>
                  <?php endif; ?>
                </div>
                <?php if ($row['is_accepted']): ?>
                <div id="city_list_inquiry">
                  <?php if (!empty($row['customer_name'])): ?>
                  <div> <span style="color: #A1A1A1;">Customer :</span>
                    <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                    <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black"><?php echo $this->escape($row['customer_name']); ?></a>
                    <?php else: ?>
                    <?php echo $this->escape($row['customer_name']) ?>
                    <?php endif; ?>
                  </div>
                  <?php endif; ?>
                  <?php if (!empty($row['to_follow'])): ?>
                  <?php if (!empty($row['customer']['customer_commercial_info']['business_name'])): ?>
                  <div><span style="color: #A1A1A1;" >Business Name :</span> <?php echo $this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name'])) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['email1'])): ?>
                  <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email1']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['email2'])): ?>
                  <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email2']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['email3'])): ?>
                  <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email3']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['mobile1'])): ?>
                  <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile1']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['mobile2'])): ?>
                  <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile2']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['mobile3'])): ?>
                  <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile3']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['phone1'])): ?>
                  <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone1']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['phone2'])): ?>
                  <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone2']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['phone3'])): ?>
                  <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone3']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['fax'])): ?>
                  <div><span style="color: #A1A1A1;" >Fax :</span> <?php echo $this->escape($row['customer']['fax']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['po_box'])): ?>
                  <div><span style="color: #A1A1A1;" >PO Box :</span> <?php echo $this->escape($row['customer']['po_box']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['customer_contacts'])): ?>
                  <?php foreach ($row['customer']['customer_contacts'] as $customerContact): ?>
                  <div><span style="color: #A1A1A1;" ><?php echo $this->escape($customerContact['contact_label']) ?> :</span> <?php echo $this->escape($customerContact['contact']) ?></div>
                  <?php endforeach; ?>
                  <?php endif; ?>
                  <?php endif; ?>
                </div>
                <?php endif; ?>
                <?php if (!empty($row['to_follow'])): ?>
                <span class="time_start_color">Deferred To : </span> <?php echo $this->escape(getDateFormating($row['to_follow'])) ?>
                <?php endif; ?>
              </div>
            </div>
            <div class="details_info_l actions-list">
										<?php
                                            $actions = array();

                                            if ($this->isDeleted) {
                                                if (CheckAuth::checkCredential(array('bookingDeleteForever')) && $row['convert_status'] == "booking") {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDeleteForever'))}','Are you sure you want to delete this Booking Forever ?'";
                                                    $actions[] = '<a href="#" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete Forever</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('bookingUndelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingUndelete'))}','Are you sure you want to UnDelete this Booking ?'";
                                                    $actions[] = '<a href="#" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">UnDelete</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('bookingHistory'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingHistory')) . '" class="details_info_opt">Booking History</a>';
                                                }
                                            } else {
                                                if (CheckAuth::getRoleName() == 'contractor') {
                                                    if ($row['not_accepted']) {
                                                        $popupConfig = "'Accept','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                        $actions[] = '<a class="a_accept"  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                                    }

                                                    if ($row['not_accepted_or_rejected']) {
                                                        $popupConfig = "'Reject','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                        $actions[] = '<a class="a_reject"  data-toggle="modal" data-target="#popupi"   href="#"  onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                                    }
                                                }

                                                if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                                    $actions[] = '<a   href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt"><i class="fa fa-pencil-square-o"></i> Edit</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
                                                    if ($row['convert_status'] != 'estimate' && $row['convert_status'] != 'invoice') {
                                                        $popupConfig = "'Convert To Estimate','{$this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate'))}'";
                                                        $actions[] = '<a   data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Convert To Estimate</a>';
                                                    }
                                                }

                                        

                                                if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $row['is_accepted']) {
                                                    if ($row['convert_status'] != 'invoice') {
                                                        $actions[] = '<a   href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                                    }
                                                }

                                                $findAvailabilityParams = array();
                                                $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking_start'])));
                                                $findAvailabilityParams[] = 'city_id=' . urlencode($row['city_id']);
                                                foreach ($row['services'] as $service) {
                                                    $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                                }
                                                $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                                $popupConfig = "'Find Availability','{$this->escape($this->url(array(), 'findAvailability'))}','{$findAvailabilityParams}'";
                                                $actions[] = '<a  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi_with_parm(' . $popupConfig . ');">Find Availability</a>';

                                                $nearestBookingParams = array();
                                                $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking_start'])));
                                                $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking_start'])));
                                                $nearestBookingParams[] = 'city_id=' . urlencode($row['city_id']);
                                                $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                $nearestBookingParams = implode("&", $nearestBookingParams);
                                                $popupConfig = "'Nearest Bookings','{$this->escape($this->url(array(), 'getRelatedAddress'))}','{$nearestBookingParams}'";
                                                $actions[] = '<a  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi_with_parm(' . $popupConfig . ');">Nearest Bookings</a>';

                                                if (CheckAuth::checkCredential(array('canAcceptAdminServices')) && $row['not_accepted']) {
                                                    $popupConfig = "'Accept Admin Services','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices'))}'";
                                                    $actions[] = '<a class="details_info_opt"  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Admin Accept Service</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('bookingHistory'))) {
                                                    $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingHistory')) . '" class="details_info_opt">Booking History</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                                  
                                                    $popupConfig = "'Add complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                                    $actions[] = '<a class="details_info_opt"  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Add Complaint</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('attachment'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                                    $popupConfig = "'Booking Discussion','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDiscussion'))}'";
                                                    $actions[] = '<a data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('bookingLabel'))) {
                                                    $popupConfig = "'Booking Label','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingSelectLabel'))}'";
                                                    $actions[] = '<a data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                                }

                                                if (CheckAuth::checkCredential(array('bookingDelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDelete'))}','Are you sure you want to delete this Booking ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('claimOwner')) && $row['created_by'] != $loggedUser['user_id']) {
                                                    $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                                    if (empty($claimOwner)) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                                    }
                                                }
                                            }

                                            $line_actions = array_slice($actions, 0, 1);
                                            $drop_down_actions = array_slice($actions, 1);
                                            ?>
              <?php //echo implode('&ensp;<span class="details_breaks">|</span>', $line_actions); ?>
			  <?php echo implode('&ensp;', $line_actions); ?>
              <?php if ($drop_down_actions): ?>
              <!-- action button --> 
				<div class="btn-group ">
					<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<?php foreach ($drop_down_actions as $drop_down_action): ?>
							<li> <?php echo $drop_down_action; ?></li>
						<?php endforeach; ?>
					</ul>
			    </div>
	
				<!-- action button -->
              <?php endif; ?>
            </div>
          
            <div class="details_info_l"  id="label_<?php echo $row['booking_id'] ?>">
              <?php foreach ($row['labels'] as $label): ?>
              <div class="label_box"> <?php echo $this->escape($label); ?> </div>
              <?php endforeach; ?>
				</div>
			
			</td>
          
          <!-- city column -->
          <td class="city"><?php echo $this->escape($row['city_name']); ?></td>
          
          <!-- Technician column -->
          <td class="Technician">
          <table class="table table-bordered" align="center" cellpadding="3" id="satisfaction">
              <?php
                                                $modelBooking = new Model_Booking();
                                                if (!empty($row['services_temp']) && !$modelBooking->checkCanEditBookingDetails($row['booking_id'])) {
                                                    $services = $row['services_temp'];
                                                } else {
                                                    $services = $row['services'];
                                                }
                                                ?>
              <thead  class="technician-th">
                <tr class="technician-tr">
                  <th class="technician-th">Services No.</th>
                  <?php foreach ($services as $key => $service): ?>
                  <th class="technician-th" style="text-align: center;"><a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black"><?php echo $this->escape($key + 1); ?></a></th>
                  <?php endforeach ?>
		  <td>Distance</td>
                </tr>
              </thead>
              <tbody>
                <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                <tr class="technician-tr">
                  <td class="technician-td"><?php echo $this->escape($contractor_name); ?></td>
                  <?php foreach ($services as $key => $service): ?>
                  <td class="technician-td" style="text-align: center; background-color: <?php if ($service['contractor_id'] != $contractor_id): ?>transparent<?php elseif ($service['is_accepted']): ?>#7EAF1F<?php elseif ($service['is_rejected']): ?>red<?php else: ?>#3B5998<?php endif; ?>;"><?php if ($service['contractor_id'] != $contractor_id): ?>
                    <a title="<?php echo $this->escape($service['info']['service_name']); ?>" alt="<?php echo $this->escape($service['info']['service_name']); ?>" class="a_link_black">-</a>
                    <?php elseif ($service['is_accepted']): ?>
                    <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
																	?>
                    <a href="#" data-toggle="modal" data-target="#popupi"
																			onclick="popupi('Reject Service','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
																			class="details_info_opt"> <img height="10" width="10"
																			src="/pic/white_accepted.png" 
																			title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																			alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> </a>
                    <?php else: ?>
                    <img height="10" width="10"
																			src="/pic/white_accepted.png" 
																			title="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																			alt="Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                    <?php endif; ?>
                    <?php elseif ($service['is_rejected']): ?>
                    <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                    <a href="#" data-toggle="modal" data-target="#popupi"
																			onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
																			class="details_info_opt"> <img height="10" width="10"
																				src="/pic/white_rejected.png"
																				title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																				alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"> </a>
                    <?php else: ?>
                    <img height="10" width="10"
																			src="/pic/white_rejected.png"
																			title="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)"
																			alt="Rejected (<?php echo $this->escape($service['info']['service_name']); ?>)">
                    <?php endif; ?>
                    <?php else: ?>
                    <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                    <a href="#" data-toggle="modal" data-target="#popupi"
																					onclick="popupi('Accept Services','<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
																					class="details_info_opt"> <img height="10" width="10"
																						src="/pic/white_unknown.png"
																						title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																						alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"> </a>
                    <?php else: ?>
                    <img height="10" width="10"
																					src="/pic/white_unknown.png"
																					title="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)"
																					alt="Not Accepted (<?php echo $this->escape($service['info']['service_name']); ?>)">
                    <?php endif; ?>
                    <?php endif; ?></td>
                  <?php endforeach ?>
		  <td>
															<?php 
																echo number_format($service['distance'], 2).'KM'; 
															?> 
														</td>
                </tr>
                <?php endforeach ?>
              </tbody>
            </table></td>
          <!-- users column -->
          <td class="users"><?php foreach ($row['booking_users'] as $booking_user) : ?>
            <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
            <?php endforeach; ?></td>
          
          <!-- confirmation column -->
          
          <td class="Confirmation"><?php $modelUser = new Model_User(); ?>
            <div  id = "reminder_<?php echo $this->escape($row['booking_id']); ?>" class="details_info_l">
              <?php if (isset($row['reminder']) && $row['reminder']): ?>
              <?php foreach ($row['reminder'] as $reminder): ?>
              <?php $user = $modelUser->getById($reminder['user_id']); ?>
              <a href="#" data-toggle="modal" data-target="#popupi" style="color:black;" onclick="popupi('Confirm Booking','<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'bookingReminderView')); ?>');" class="details_info_opt"><?php echo $this->escape($reminder['type'] . ' - ' . $user['username'] . ' - ' . getDateFormating($reminder['created'])); ?></a>
              <?php if (CheckAuth::checkCredential(array('bookingReminderDelete'))): ?>
              <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $row['booking_id'], 'reminder_id' => $reminder['id']), 'bookingReminderDelete')); ?>','booking');" ><img height="10" width="10" src="/pic/remove.png" ></a>
              <?php endif; ?>
              <?php endforeach; ?>
              <?php endif; ?>
              <?php if (CheckAuth::checkCredential(array('bookingReminderAdd'))): ?>
              <div> <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking','<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');" class="details_info_opt">Confirm Booking</a> </div>
              <?php endif; ?>
            </div></td>
          <!-- amount column -->
          <td class="amount"><div class="details_info_l">
              <?php
                                            $modelBooking = new Model_Booking();
                                            $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                                            ?>
              $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?> </div></td>
        </tr>
        <?php endforeach; ?>
      </tbody>
    </table>
  </form>
</div>
  
<div>
  <?php if (count($this->pageLinks) > 3): ?>
  <ul class="pagination">
    <?php foreach ($this->pageLinks as $pageLink) : ?>
    <li><?php echo $pageLink; ?></li>
    <?php endforeach; ?>
  </ul>
  <?php endif; ?>
</div>

<?php else: ?>
<div class="ibox-content">
  <h3 class="font-bold">There are no <?php echo $this->escape((!empty($this->filters['convert_status']) ? ucfirst($this->filters['convert_status']) : 'All')); ?></h3>
  <div class="error-desc"> <br>
    <a class="btn btn-primary m-t" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[convert_status]">View all Booking</a> </div>
</div>
<?php endif; ?>
<div class="modal fade" id="spec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
        <div class="modal-dialog">
              <div class="modal-content">
              
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                           <h4 class="modal-title" id="exampleModalLabel">Advance Search</h4>
                    </div>
                    
                    <div class="modal-body">
                               <?php echo $this->render('index/filters.phtml'); ?>
  
                    </div>

              </div>
        </div>
</div>


</div>
