<!-- TinyMCE -->
<script type="text/javascript">
    $(document).ready(function() {
        tinyMCE.init({
            // General options
            plugins : '-example', // - tells TinyMCE to skip the loading of the plugin
            mode : "textareas",
            theme : "advanced",
            relative_urls : false,
            convert_urls : false,

            // Theme options
            theme_advanced_buttons1 : "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : false
        });
    });
</script>
<!-- /TinyMCE -->

<form class="form-horizontal" id="form" method="POST" onsubmit="tinyMCE.triggerSave(); do_submit('<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendWorkOrderRequestEmail')); ?>','#form','#content_modal_popup');return false;">
        <div class="col-md-8">
                <div class="form-group">
                    <label class="col-md-3">To</label>
                    <div class="col-md-9"><input type="text" name="to" class="form-control" value="<?php echo $this->escape($this->to); ?>" /></div>
                    
                </div>
                <?php if (isset($this->error_mesages['to']) && !empty($this->error_mesages['to'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['to']); ?>
                    </div>
                <?php endif; ?>
                <div class="form-group">
                    <label class="col-md-3">Cc</label>
                    <div class="col-md-9"><input type="text" class="form-control" name="cc"  class="form-control" value="<?php echo $this->escape($this->cc); ?>"  /></div>
                    
                </div>
                <?php if (isset($this->error_mesages['cc']) && !empty($this->error_mesages['cc'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['cc']); ?>
                    </div>
                <?php endif; ?>

                <div class="form-group">
                    <label class="col-md-3">Subject</label>
                    <div class="col-md-9"><input type="text" name="subject"  class="form-control" value="<?php echo $this->escape($this->subject); ?>" /></div>
                </div>
                <?php if (isset($this->error_mesages['subject']) && !empty($this->error_mesages['subject'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['subject']); ?>
                    </div>
                <?php endif; ?>
            </div>
             <div class="col-md-4">
                <div class="form-group">
				<div style="color: #666666; font-weight: bold;">
                    <div class="col-md-9"> Attachment</div>
					
                    <div class="col-md-1"><input type="checkbox" name="pdf_attachment" id="pdf_attachment" value="true"/></div>
                   </div>
                </div>
                <div>
                    <div><img src="/pic/icons/export-as-pdf.png"  style="vertical-align: middle;" /> <span><?php echo $this->escape($this->booking['booking_num']); ?>.pdf</span></div>
                </div>
            </div>
            <div style="clear: both;"></div>
		<div class="col-md-12">
			<div class="form-group">
           
                <textarea name="body" id="body" class="form-control" style="height: 300px;"><?php echo $this->body; ?></textarea>
            </div>
			
			</div>

            <div id="button_cont">
                <input type="submit" class="btn btn-primary" value="Send" /> or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" class="btn btn-danger">Cancel</a>
            </div>
			<div style="clear: both;"></div>
        
</form>