
    <form id="form_contractor_share" method="post" onsubmit="change_contractor_share('<?php echo $this->escape($this->url(array('id' => $this->booking_id,'flag' => $this->flag), 'setContractorShare')); ?>','#form_contractor_share','#content_modal_popup');return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <table class="table">
				<tbody>
     
                    <tr>
                        <td>Sub Total :</td><td><?php echo $this->escape($this->bookingQoute); ?></td>
                    </tr>  
                    <tr>
                        <td>Discount :</td><td><?php echo $this->escape($this->booking['total_discount']); ?></td>
                    </tr>
                    <tr>
                        <td>GST :</td><td><?php echo $this->escape($this->booking['gst']); ?></td>
                    </tr>
                    <tr>
                        <td>Total :</td><td><?php echo $this->escape($this->bookingQoute + $this->booking['gst'] - $this->booking['total_discount']); ?></td>
                    </tr>
                    <tr>
                        <td>Refund :</td><td><?php echo $this->escape($this->totalRefund); ?></td>
                    </tr>
                    <tr>
                        <td>Total Without Tax :</td><td><?php echo $this->escape($this->totalWithoutTax); ?></td>
                    </tr>
                    <tr>
                        <td>Total With Tax:</td><td><?php echo $this->escape($this->total); ?></td>
                    </tr>
              
            
            <?php foreach ($this->contractors as $contractor): ?>
                <tr>
                    
                        <tr>
                            <td>Contractor :</td>  
                            <td><?php echo $this->escape(ucwords($contractor['contractor_name'])); ?></td>
                        </tr>
                        <tr >
                            <td>Commission :</td>  
                            <td><?php echo $this->escape($contractor['commission']); ?> %</td>
                            
                        </tr>
                        <tr>
                            <td>Registered GST :</td>  
                            <td><?php echo $this->escape(!empty($contractor['have_gst']) ? 'Yes' : 'No'); ?></td>
                            
                        </tr>
                        <tr>
                            <td>Services Qoute :</td>  
                            <td><?php echo $this->escape(number_format($contractor['services_qoute'], 2)); ?></td>
                            
                        </tr>
                        <?php if (isset($contractor['services_qoute_with_tax']) && !empty($contractor['services_qoute_with_tax'])): ?>
                            <tr>
                                <td>Services Qoute With Tax :</td>  
                                <td><?php echo $this->escape(number_format($contractor['services_qoute_with_tax'], 2)); ?></td>
                          
                            </tr>
                        <?php endif; ?>
                        <tr>
                            <td>Contractor Share :</td>  
                            <td><?php echo $this->escape(number_format($contractor['contractor_share'], 2)); ?></td>
                            
                        </tr>
                        <tr>
                            <td>Discount :</td>  
                            <td><?php echo $this->escape(number_format($contractor['discount'], 2)); ?></td>
                        </tr>
                        <tr>
                            <td>Refund :</td>  
                            <td><?php echo $this->escape(number_format($contractor['refund'], 2)); ?></td>
                            
                        </tr>
                        <tr>
                            <td>Total Contractor Share :</td>  
                            <td><?php echo $this->escape(number_format($contractor['total_contractor_share'], 2)); ?></td>
                
                        </tr>
                        <tr>
                            <td>Contractor Share :</td>  
                            <td><input class="form-control" id="contractor_shares[<?php echo $this->escape($contractor['contractor_id']); ?>]" name="contractor_shares[<?php echo $this->escape($contractor['contractor_id']); ?>]"  style="width: 250px;" type="text" value="<?php echo $this->escape($contractor['old_contractor_share']); ?>"/></td>
                           
                        </tr>

                    </td>
                </tr>
            <?php endforeach; ?>
	
            <tr>
                <td id="button_cont">
                    <input type="submit" value="Save" class="btn btn-primary"/> or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" class="btn btn-danger">Cancel</a>
                </td>
            </tr>
			 </tbody>
        </table>
    </form>

<script type="text/javascript">
function change_contractor_share(url,form,content){
    $('#button_cont').html('<img src="/pic/loading-4.gif">');
    $.ajax({
        type: "POST",
        url: url,
        data: $(form).serialize(),
		dataType : "json",
        success: function(data) {
            if(data.msg == '1') {
                window.location.reload();
            }
			else if(data.msg == 'done'){
				tb_remove();
				alert('ok done ........');
				console.log($('#contractor_share_'+data.booking.booking_id+'_'+data.booking.contractor_id).html());
				console.log($('input[name="contractor_shares[8]"]').val());
				old_contractor_share = parseFloat(($('#contractor_share_'+data.booking.booking_id+'_'+data.booking.contractor_id).html()).replace(",",""));
				new_contractor_share = parseFloat(($('input[name="contractor_shares['+data.booking.contractor_id+']"]').val()).replace(",",""));
				contractor_share_difference = new_contractor_share- old_contractor_share;
				
			$('#contractor_share_'+data.booking.booking_id+'_'+data.booking.contractor_id).html(new_contractor_share);
			
			cash_payment = parseFloat(($('#cash_payment_'+data.booking.booking_id+'_'+data.booking.contractor_id).html()).replace(",",""));
			payment_to_contractor = new_contractor_share - cash_payment;
			$('#payment_'+data.booking.booking_id+'_'+data.booking.contractor_id).html(payment_to_contractor);
			
			
			old_company_share=$('#company_share_'+data.booking.booking_id+'_'+data.booking.contractor_id).html();
			old_company_share=parseFloat(old_company_share.replace(",",""));
			new_company_share=old_company_share-contractor_share_difference;
			$('#company_share_'+data.booking.booking_id+'_'+data.booking.contractor_id).html($.format.number(new_company_share, '#,##0.00#'));
			
			
			///////
			old_total_company_share=$('#company_share').html();
			old_total_company_share=parseFloat(old_total_company_share.replace(",",""));
			new_total_company_share = old_total_company_share - contractor_share_difference;
			$('#company_share').html($.format.number(new_total_company_share, '#,##0.00#'));
			//////
			old_total_contractor_share=$('#contractor_share').html();
			old_total_contractor_share=parseFloat(old_total_contractor_share.replace(",",""));
			new_total_contractor_share = old_total_contractor_share + contractor_share_difference;
			$('#contractor_share').html($.format.number(new_total_contractor_share, '#,##0.00#'));
			/////
			cash_received = $('#cash_received').html();
			cash_received=parseFloat(cash_received.replace(",",""));
			new_required_contractor_payment= new_total_contractor_share - cash_received;
			$('#required_contractor_payment').html($.format.number(new_required_contractor_payment, '#,##0.00#'));
			/////
			paid_to_contractor = $('#paid_to_contractor').html();
			paid_to_contractor=parseFloat(paid_to_contractor.replace(",",""));
			balance_due_to_contractor = new_required_contractor_payment -paid_to_contractor;
			$('#balance_due_to_contractor').html($.format.number(balance_due_to_contractor, '#,##0.00#'));
			
			
			}
			else {
                $(content).html(msg);
            }
        }
    });
}
</script>