<div class="col-lg-12 wrapper-content" style="padding-right: 26px;padding-left: 26px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeAdd'))): ?>
                <div class="btn_cont">
                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('New inquiry type','<?php echo $this->escape($this->url(array(), 'settingsInquiryTypeAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                           New Inquiry Types
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div>
                    <h5>Search Inquiry Types </h5>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsInquiryTypeList')); ?>" method="GET" class="form-inline" role="form">
                            <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsInquiryTypeList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                   </form>
            </div>
        </div>
    </div>
<div class="col-lg-12 wrapper-content">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div class="col-lg-12">
        <?php if ($this->data): ?>
                            <form action="<?php echo $this->escape($this->url(array(), 'settingsInquiryTypeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Inquiry Type?');">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> All Inquiries Types</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settings'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover " id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $count += 1; ?>
                                    <tr class="<?php
                                    if ($count % 2 != 0) {
                                        echo 'tr_cont_1';
                                    } else {
                                        echo 'tr_cont_2';
                                    }
                                    ?>">
                                    <tr class="gradeX">
                                         <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['inquiry_type_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                        <td><div class="details_info_l">
                                            <?php echo $this->escape($row['inquiry_name']) ?>    
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeEdit'))): ?>
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit inquiry type','<?php echo $this->escape($this->url(array('id' => $row['inquiry_type_id']), 'settingsInquiryTypeEdit')); ?>');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_type_id']), 'settingsInquiryTypeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Inquiry Type?');" class="details_info_opt">Delete</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeAttributeList'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('inquiry_type_id' => $row['inquiry_type_id']), 'settingsInquiryTypeAttributeList')); ?>" class="details_info_opt">Assign Attribute</a>
                                            <?php endif; ?>
                                        </div></td>
                                       

                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
                            <div style="" class="noRowsMessageDIV">There are no Inquiry Types.</div>


        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>


