<form id="accept_form" method="POST" onsubmit="do_submit('<?php echo $this->escape($this->url(array('bookingId' => $this->bookingId), 'acceptServices')); ?>','#accept_form','#TB_ajaxContent'); return false;">
    <div>
        <div>
            <label for="checkboxallServices">
                <input type="checkbox" id="checkboxallServices" />
                <b>Accept All</b>
            </label>
        </div>
        <?php if ($this->notAcceptedBookings): ?>
            <?php foreach ($this->notAcceptedBookings as $notAcceptedBooking): ?>
                <div>
                    <label for="<?php echo 'checkbox_' . $this->escape($notAcceptedBooking['id']); ?>">
                        <input type="checkbox" id="<?php echo 'checkbox_' . $this->escape($notAcceptedBooking['id']); ?>" name="accepted[]" value="<?php echo $this->escape($notAcceptedBooking['id']); ?>"/>
                        <?php echo $this->escape($notAcceptedBooking['service']['service_name'] . ($notAcceptedBooking['clone'] ? ' ' . $notAcceptedBooking['clone'] : '')); ?>
                    </label>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
    <div style="margin-top: 10px;">
        <div style="float: left;" id="button_cont">
            <input type="submit" value="Accept"/> 
        </div>
        <div style="float: left; color: red; margin-left: 10px; margin-top: 2px;">
            <?php echo $this->escape($this->errorMsg); ?>
        </div>
        <div style="clear: both;"></div>
    </div>
</form>
<script type="text/javascript">
    //checked all checkboxs
    $(document).ready(function(){
        $("#checkboxallServices").click(function(){
            var checked_status = this.checked;
            $("#accept_form input[type='checkbox']").each(function(){
                this.checked = checked_status;
            });
        });
    });
</script>