<?php
$modelUser = new Model_User();
$modelAuthRole = new Model_AuthRole();
$modelContractorInfo = new Model_ContractorInfo();
$modelBookingEstimate = new Model_BookingEstimate();
$modelBookingInvoice = new Model_BookingInvoice();
$modelInquiry = new Model_Inquiry();
$modelComplaint = new Model_Complaint();
?>
<table class="table" >
    <tr>
        <td class="left_side">
            <div>
                <?php if ($this->cronjobHistory): ?>
                    <table class="details-summary">
                        <tr class="header-details-summary">
                            <td width="150"><b>Cronjob name</b></td>
                            <td width="100"><b>Start time(GMT) </b></td>
                            <td width="100"><b>Start time(Sydney) </b></td>
                            <td width="100"><b>Every </b></td>
                        </tr>
                        <?php foreach ($this->cronjobHistory as $cronjob){ ?>
                            <tr>
                                <td> 
                                    <?php if (!empty($cronjob['cronjob_name'])){ 
                                        echo $cronjob['cronjob_name'];
                                    } ?>
                                </td>
                                <td>
                                    <?php if (!empty($cronjob['start_time'])){ 
                                        echo $cronjob['start_time'];
                                    } ?>
                                </td>
								<td>
                                    <?php if (!empty($cronjob['start_time'])){ 
									$sydney = new DateTimeZone('Australia/Sydney');
									$gmt = new DateTimeZone('GMT');
									$date = new DateTime($cronjob['start_time'], $gmt);
									$date->setTimezone($sydney);
									echo $date->format('Y-m-d H:i:s');

                                    } ?>
                                </td>
								<td>
                                    <?php if (!empty($cronjob['every'])){ 
                                        echo $cronjob['every'];
                                    } ?>
                                </td>
                               
                            </tr>
                        <?php } ?>
                    </table>
                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no Emails.</div>
                <?php endif; ?>
            </div>
        </td>
        <td class="right_side">
            <?php echo $this->render('dashboard/right_side_link.phtml'); ?>
        </td>
        <td class="filter_character_container">
            <div>
                <div class="first_filter_character">
                    M
                </div>
                <div class="filter_character_pos">
                    Y
                </div>

                <div class="first_filter_character">
                    D
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    S
                </div>
                <div class="filter_character_pos">
                    H
                </div>
                <div class="filter_character_pos">
                    B
                </div>
                <div class="filter_character_pos">
                    O
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">                            

                    R
                </div>
                <div class="filter_character_pos">
                    D
                </div>
            </div>
        </td>
    </tr>
</table>