<?php
ViewHelper::setUrlJavaScript('https://www.google.com/jsapi');
//echo $this->googleMapAPI->getHeaderJS();
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>
<table class="table" >
    <tr>
        <td class="left_side">
            <div id="dashBoard">
                       

                <div style="margin-top: 40px;">
                    <b>Inquiries</b>
                    <table style="margin-top: 5px;" width="100%" cellspacing="0" cellpadding="0" border="0" class="dashBoardBorder">
                        <tbody>
                            <tr>
                                <td align="center" style="padding:10px;"> 
                                    <table width="100%" cellspacing="0" cellpadding="3" border="0">
                                        <tbody>
                                            <tr>
                                                <td nowrap="" align="right" style="padding-right:12px;" class="bottomRight"></td> 
                                                <?php foreach ($this->inquiryTypes as $inquiryType): ?>
                                                    <td valign="top" align="right" class="bottomBorder"> 
                                                        <span style="color:#808080; font-size:16px;"> Inquiries By <?php echo $this->escape(ucwords($inquiryType['inquiry_name'])); ?> </span>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td valign="top" align="right" class="bottomBorder"> 
                                                    <span style="color:#808080; font-size:16px;"> All Inquires</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder"> Last Year </td>
                                                <?php foreach ($this->lastYearInquiryTypes as $lastYearInquiryType): ?>
                                                    <td  align="right" class="bottomBorder">
                                                        <?php echo $this->escape($lastYearInquiryType['count']); ?>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td  align="right" class="bottomBorder">
                                                    <?php echo $this->escape($this->allLastYearInquiries); ?>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <td  align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder"> Last Quarter </td>
                                                <?php foreach ($this->lastQuarterInquiryTypes as $lastQuarterInquiryType): ?>
                                                    <td  align="right" class="bottomBorder">
                                                        <?php echo $this->escape($lastQuarterInquiryType['count']); ?>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td align="right" class="bottomBorder">
                                                    <?php echo $this->escape($this->allLastQuarterInquiries); ?>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <td align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder"> Last Month </td>
                                                <?php foreach ($this->lastMonthInquiryTypes as $lastMonthInquiryType): ?>
                                                    <td  align="right" class="bottomBorder">
                                                        <?php echo $this->escape($lastMonthInquiryType['count']); ?>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td  align="right" class="bottomBorder">
                                                    <?php echo $this->escape($this->allLastMonthInquiries); ?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder"> Last Week </td>
                                                <?php foreach ($this->lastWeekInquiryTypes as $lastWeekInquiryType): ?>
                                                    <td  align="right" class="bottomBorder">
                                                        <?php echo $this->escape($lastWeekInquiryType['count']); ?>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td  align="right" class="bottomBorder">
                                                    <?php echo $this->escape($this->allLastWeekInquiries); ?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder"> Today </td>
                                                <?php foreach ($this->todayInquiryTypes as $todayInquiryType): ?>
                                                    <td  align="right" class="bottomBorder">
                                                        <?php echo $this->escape($todayInquiryType['count']); ?>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td  align="right" class="bottomBorder">
                                                    <?php echo $this->escape($this->allTodayInquiries); ?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder"> This Week </td>
                                                <?php foreach ($this->thisWeekInquiryTypes as $thisWeekInquiryType): ?>
                                                    <td  align="right" class="bottomBorder">
                                                        <?php echo $this->escape($thisWeekInquiryType['count']); ?>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td  align="right" class="bottomBorder">
                                                    <?php echo $this->escape($this->allThisWeekInquiries); ?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder"> This Month </td>
                                                <?php foreach ($this->thisMonthInquiryTypes as $thisMonthInquiryType): ?>
                                                    <td  align="right" class="bottomBorder">
                                                        <?php echo $this->escape($thisMonthInquiryType['count']); ?>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td align="right" class="bottomBorder">
                                                    <?php echo $this->escape($this->allThisMonthInquiries); ?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder"> This Quarter </td>
                                                <?php foreach ($this->thisQuarterInquiryTypes as $thisQuarterInquiryType): ?>
                                                    <td  align="right" class="bottomBorder">
                                                        <?php echo $this->escape($thisQuarterInquiryType['count']); ?>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td  align="right" class="bottomBorder">
                                                    <?php echo $this->escape($this->allThisQuarterInquiries); ?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;"> This Year </td>
                                                <?php foreach ($this->thisYearInquiryTypes as $thisYearInquiryType): ?>
                                                    <td  align="right" class="bottomBorder">
                                                        <?php echo $this->escape($thisYearInquiryType['count']); ?>
                                                    </td>
                                                <?php endforeach; ?>
                                                <td  align="right" class="bottomBorder">
                                                    <?php echo $this->escape($this->allThisYearInquiries); ?>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="background-color: #F7F7F7; margin-top: 20px; border: 2px solid #ECECEC;font-size: 18px; width: 100%;"> 
                    <div style="float:left;">

                        <div style="margin: 10px 0 0 10px; font-size: 12px;">
                            <span style="font-weight: bold; color: #2666B0;">Total Bookings :</span>
                            <span><?php echo $this->escape($this->totalBooking) ?></span>
                        </div>

                        <?php foreach ($this->allBookingStatus as $bookingStatus) : ?>
                            <div style="margin: 10px 0 0 10px; font-size: 12px;">
                                <span style="font-weight: bold; color: #2666B0;">Total <?php echo $this->escape($bookingStatus['name']) ?> Bookings :</span>
                                <span><?php echo $this->escape($bookingStatus['total']) ?></span>
                            </div>
                        <?php endforeach; ?>

                    </div>
                    <div style="float:right; margin: 5px;">
                        <div id="chart_div"></div>
                    </div>
                    <div style="clear : both"></div>
                </div>

                <div style="background-color: #F7F7F7; margin-top: 20px; border: 2px solid #ECECEC;font-size: 18px; width: 100%;"> 
                    <div>
                        <div style="float:left;">
                            <div style="margin: 8px 0 0 10px; font-size: 12px;">
                                <span style="font-weight: bold; color: #2666B0;">Total Service :</span>
                                <span><?php echo $this->escape($this->totalService) ?></span>
                            </div>

                        </div>
                        <div style="float:right; margin: 5px;">

                        </div>
                        <div style="clear : both"></div>
                    </div>

                    <div style="margin-top: 5px;">
                        <div style="float:left;">
                            <div style="margin: 8px 0 0 10px; font-size: 12px;">
                                <span style="font-weight: bold; color: #2666B0;">Total Service Accepted :</span>
                                <span><?php echo $this->escape($this->totalServiceAccepted) ?></span>
                            </div>

                        </div>
                        <div style="float:right; margin: 5px;">
                            <div class="progress_bar">
                                <div class="progress_bar_value" style="background-color: #48AAE6; width: <?php echo $this->escape($this->totalServiceAcceptedPer . '%') ?>;">
                                    <div class="progress_bar_text">
                                        <?php echo $this->escape($this->totalServiceAcceptedPer) ?>%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear : both"></div>
                    </div>

                    <div>
                        <div style="float:left;">
                            <div style="margin: 8px 0 0 10px; font-size: 12px;">
                                <span style="font-weight: bold; color: #2666B0;">Total Service Rejected :</span>
                                <span><?php echo $this->escape($this->totalServiceRejected) ?></span>
                            </div>

                        </div>
                        <div style="float:right; margin: 5px;">
                            <div class="progress_bar">
                                <div class="progress_bar_value" style="background-color: #48AAE6; width: <?php echo $this->escape($this->totalServiceRejectedPer . '%') ?>;">
                                    <div class="progress_bar_text">
                                        <?php echo $this->escape($this->totalServiceRejectedPer) ?>%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear : both"></div>
                    </div>

                    <div>
                        <div style="float:left;">
                            <div style="margin: 8px 0 0 10px; font-size: 12px;">
                                <span style="font-weight: bold; color: #2666B0;">Total Service Not Accepted Nor Rejected :</span>
                                <span><?php echo $this->escape($this->totalServiceNotAcceptedAndRejected) ?></span>
                            </div>

                        </div>
                        <div style="float:right; margin: 5px;">
                            <div class="progress_bar">
                                <div class="progress_bar_value" style="background-color: #48AAE6; width: <?php echo $this->escape($this->totalServiceNotAcceptedAndRejectedPer . '%') ?>;">
                                    <div class="progress_bar_text">
                                        <?php echo $this->escape($this->totalServiceNotAcceptedAndRejectedPer) ?>%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear : both"></div>
                    </div>
                </div>

                <?php /*
                  <div style="background-color: #F7F7F7; margin-top: 20px; border: 2px solid #ECECEC;font-size: 18px; width: 100%;">
                  <div style="float:left;">

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Country :</span>
                  <span>
                  <?php echo $this->escape($this->cityStateCountry['country_name']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">State :</span>
                  <span>
                  <?php echo $this->escape($this->cityStateCountry['state']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">City :</span>
                  <span>
                  <?php echo $this->escape($this->cityStateCountry['city_name']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Unit/Lot Number :</span>
                  <span>
                  <?php echo $this->escape($this->user['unit_lot_number']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Street Number :</span>
                  <span>
                  <?php echo $this->escape($this->user['street_number']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Street Name :</span>
                  <span>
                  <?php echo $this->escape($this->user['street_address']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Suburb :</span>
                  <span>
                  <?php echo $this->escape($this->user['suburb']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Postcode :</span>
                  <span>
                  <?php echo $this->escape($this->user['postcode']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">State :</span>
                  <span>
                  <?php echo $this->escape($this->user['state']); ?>
                  </span>
                  </div>

                  </div>
                  <div style="float:right; margin: 5px;">
                  <?php if ($this->is_address): ?>
                  <?php echo $this->googleMapAPI->getMapJS(); ?>
                  <?php $this->googleMapAPI->printOnLoad(); ?>
                  <?php $this->googleMapAPI->printMap(); ?>
                  <?php //<a href="javascript:;" onclick="getDistance()">get Distance</a>   ?>
                  <?php else: ?>
                  <div class="noRowsMessageDIV" style="width: 300px;">
                  There are no Address.
                  </div>
                  <?php endif; ?>
                  </div>
                  <div style="clear : both"></div>
                  </div>
                 */ ?>
            </div>
        </td>
        <td class="right_side">
            <?php echo $this->render('dashboard/right_side_link.phtml'); ?>
        </td>
        <td class="filter_character_container">
            <div>
                <div class="first_filter_character">
                    M
                </div>
                <div class="filter_character_pos">
                    Y
                </div>

                <div class="first_filter_character">
                    D
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    S
                </div>
                <div class="filter_character_pos">
                    H
                </div>
                <div class="filter_character_pos">
                    B
                </div>
                <div class="filter_character_pos">
                    O
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    R
                </div>
                <div class="filter_character_pos">
                    D
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    function AcceptServices(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=200&width=400');
        });
    }
        
    //span jscontent="distance['text']"
    function getDistance(){
        alert($('#map_directions span[jsdisplay="distance"]').html());
    }
        
    $(document).ready(function(){
        $(function() {
            $( "#accordion" ).accordion({
                autoHeight: false,
                navigation: true
            });
        });
    });

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Status of bookings');
        data.addColumn('number', 'No. od booking');
        data.addRows([
<?php foreach ($this->allBookingStatus as $bookingStatus) : ?>
                ['<?php echo $this->escape($bookingStatus['name']) ?>',<?php echo $this->escape($bookingStatus['total']) ?>],
<?php endforeach; ?>
        ]);

        var options = {
            width: 450, height: 300,
            title: 'My Booking Status'
        };


        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
	
    function test(item){
            
        $(item).addClass('selected');
    }
</script>