<?php
$modelContractorInfo = new Model_ContractorInfo();
$modelAuthRole = new Model_AuthRole();
$modelUser = new Model_User();
?>
<table class="table" >
    <tr>
        <td class="left_side">
            <form action="" method="GET">
                <div style="margin-bottom: 20px;">
                    <div style="float: left; width: 200px;">
                        <div style="margin-bottom: 10px;">
                            <span style="font-size: 12px;">Start Date</span>
                            <input type="text" style="width: 100%;" readonly="readonly" value="<?php echo!empty($this->from) ? $this->from : ''; ?>" id="start_time" name="fltr[from]">
                        </div>
                        <div style="margin-bottom: 10px;">
                            <span style="font-size: 12px;">End Date</span>
                            <input type="text" style="width: 100%;" readonly="readonly" value="<?php echo!empty($this->to) ? $this->to : ''; ?>" id="end_time" name="fltr[to]">       
                        </div>
                        <?php if (CheckAuth::checkCredential(array('loggedUsersActivity')) && $this->myDashboard) : ?>
                            <div style="margin-bottom: 10px;">
                                <span style="font-size: 12px;">User</span>
                                <?php
                                $modelUser = new Model_User();
                                $users = $modelUser->getAllEmployee(true);
                                $user = new Zend_Form_Element_Select('user_id');
                                $user->setDecorators(array('ViewHelper'));
                                $user->setBelongsTo('fltr');
                                $user->setAttrib("style", "width: 202px;");
                                $user->setValue((!empty($this->user_id) ? $this->user_id : ''));
                                $user->addMultiOption('', 'Select One');
                                $user->addMultiOptions($users);
                                echo $user->render();
                                ?>
                            </div>
                        <?php endif; ?>
                        <div>
                            <input type="submit" class="button" value="Search" id="button" name="button">
                        </div>
                    </div>
                    <div class="clearBoth"></div>
                </div>
            </form>
            <div>
                <?php if ($this->logUserEvents): ?>
                    <table class="details-summary">
                        <tr class="header-details-summary">
                            <td><b>History</b></td>
                            <td><b>Event On</b></td> 
                            <td><b>Date</b></td> 
                        </tr>
                        <?php foreach ($this->logUserEvents as $logUserEvent): ?>
                            <?php $user = $modelUser->getById($logUserEvent['user_id']) ?>
                            <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                <?php $username = ucwords($user['username'] . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                            <?php else: ?>
                                <?php $username = ucwords($user['username']); ?>
                            <?php endif; ?>
                            <tr>
                                 <td>
									<?php if($logUserEvent['event'] == 'login'){ 
										$history = '';
                                        $history .= '<b>';
                                        $history .= $this->escape($username);
                                        $history .= '</b>';
                                        $history .= ' has logged in from ';
										$history .= '<b>';
                                        $history .= $logUserEvent['user_device_type'];
                                        $history .= '</b>';
										$history .= ', his device IP is  ';
										$history .= '<b>';
                                        $history .= $logUserEvent['user_device_ip'];
                                        $history .= '</b>';
                                       
									   echo $history;
                                        
									 } else{?>
                                    <a href="<?php echo $this->escape($logUserEvent['action']); ?>" <?php echo isset($logUserEvent['onclick']) && $logUserEvent['onclick'] ? 'onclick="' . $this->escape($logUserEvent['onclick']) . '"' : '' ?> class="a_black">
                                        <?php
                                        $history = '';
                                        $history .= '<b>';
                                        $history .= $this->escape(ucwords(str_replace('_', ' ', $logUserEvent['event_name'])));
                                        $history .= '</b>';
                                        $history .= ' has Been ';
                                        $history .= '<b>';
                                        $history .= $this->escape(ucwords($logUserEvent['event']));
                                        $history .= '</b>';
                                        $history .= ' By ';
                                        $history .= '<u>';
                                        $history .= '<i>';
                                        $history .= $this->escape($username);
                                        $history .= '</i>';
                                        $history .= '</u>';

                                        echo $history;
                                        ?>
                                    </a>
									<?php } ?>
                                </td>
                                <td>
                                    <?php echo isset($logUserEvent['event_on']) ? $this->escape($logUserEvent['event_on']) : ''; ?>
                                </td>
                                <td>
                                    <?php echo $this->escape(getDateFormating($logUserEvent['created'])); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no History.</div>
                <?php endif; ?>
            </div>
            <div>
                <?php if (count($this->pageLinks) > 3): ?>
                    <ul class="pagination">
                        <?php foreach ($this->pageLinks as $pageLink) : ?>
                            <li><?php echo $pageLink; ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>
        </td>
        <td class="right_side">
            <?php echo $this->render('dashboard/right_side_link.phtml'); ?>
        </td>
        <td class="filter_character_container">
            <div>
                <div class="first_filter_character">
                    M
                </div>
                <div class="filter_character_pos">
                    Y
                </div>

                <div class="first_filter_character">
                    D
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    S
                </div>
                <div class="filter_character_pos">
                    H
                </div>
                <div class="filter_character_pos">
                    B
                </div>
                <div class="filter_character_pos">
                    O
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    R
                </div>
                <div class="filter_character_pos">
                    D
                </div>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function() {
        $("#start_time").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
        $("#end_time").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });
</script>