<?php
ViewHelper::setUrlJavaScript('https://www.google.com/jsapi');
//echo $this->googleMapAPI->getHeaderJS();
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>
<table class="table" >
    <tr>
        <td class="left_side">
            <div id="dashBoard">
                <div>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td height="20" align="left" colspan="2">
                                    <b>Open Invoices</b>
                                </td>
                                <td align="left">
                                    <b>Overdue Invoices</b>
                                </td>
                            </tr>
                            <tr>
                                <td width="20%" valign="top"> 
                                    <table width="100%" height="100px" cellspacing="0" cellpadding="0" border="0" class="dashBoardBorder">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="cursor:pointer; padding:10px;"> 
                                                    <div style="width:100%; padding:0px; margin:0px;">
                                                        <div>
                                                            <span style="vertical-align:top;" class="Largefont2">
                                                                $ <?php echo $this->escape(number_format($this->invoicesTotalAmount, 2)); ?>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="4%"></td> 
                                <td valign="top"> 
                                    <table width="100%" cellspacing="0" cellpadding="5" border="0" class="dashBoardBorder">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="100%" height="82" cellspacing="0" cellpadding="5" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="25%" align="right" class="bottomRight" style="cursor:pointer"> 
                                                                    <span class="fontBlue f11">1 - 15 Days</span> 
                                                                </td>
                                                                <td width="25%" align="right" class="bottomRight" style="cursor:pointer"> 
                                                                    <span class="fontBlue f11">16 - 30 Days</span>
                                                                </td>
                                                                <td width="25%" align="right" class="bottomRight" style="cursor:pointer"> 
                                                                    <span class="fontBlue f11">31 - 45 Days</span> 
                                                                </td>
                                                                <td width="25%" align="right" class="bottomBorder" style="cursor:pointer">
                                                                    <span class="fontBlue f11">Above 45 Days</span> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="rightBorder" style="cursor:pointer; height:48px;"> 
                                                                    <div align="right" style="padding:0px; margin:0px;">
                                                                        <div align="right">
                                                                            <span style="vertical-align:top;" class="Largefont">
                                                                                $ <?php echo $this->escape(number_format($this->due15, 2)); ?>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="rightBorder" style="cursor:pointer">
                                                                    <div style="padding:0px; margin:0px;">
                                                                        <div align="right">
                                                                            <span style="vertical-align:bottom;" class="Largefont">
                                                                                $ <?php echo $this->escape(number_format($this->due30, 2)); ?>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="rightBorder" style="cursor:pointer"> 
                                                                    <div style="padding:0px; margin:0px;">
                                                                        <div align="right">
                                                                            <span style="vertical-align:bottom;" class="Largefont">
                                                                                $ <?php echo $this->escape(number_format($this->due45, 2)); ?>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td style="cursor:pointer"> 
                                                                    <div style="padding:0px; margin:0px;">
                                                                        <div align="right">
                                                                            <span style="vertical-align:bottom;" class="Largefont">
                                                                                $ <?php echo $this->escape(number_format($this->dueAbove, 2)); ?>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="margin-top: 40px;">
                    <b>Past Bookings</b>
                    <table style="margin-top: 5px;" width="100%" cellspacing="0" cellpadding="0" border="0" class="dashBoardBorder">
                        <tbody>
                            <tr>
                                <td align="center" style="padding:10px;"> 
                                    <table width="100%" cellspacing="0" cellpadding="3" border="0">
                                        <tbody>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder"></td>
                                                <?php foreach ($this->pastBookingStatus as $pastBookingStatus): ?>
                                                    <td valign="top" align="right" class="bottomBorder"> 
                                                        <div style="font-size: 0; height: 4px; overflow:hidden; width:90%; <?php echo 'background-color:' . $this->escape($colors[$pastBookingStatus['color']]) . ';' ?>"></div>
                                                        <span style="color:#808080; font-size:12px; padding:0;">
                                                            <div style="float: right;"><?php echo $this->escape($pastBookingStatus['name']); ?></div>
                                                        </span> 
                                                    </td>
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">Last week</td>
                                                <?php foreach ($this->lastWeekAllPastBookingStatus as $lastWeekAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($lastWeekAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($lastWeekAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">Last Month</td>
                                                <?php foreach ($this->lastMonthAllPastBookingStatus as $lastMonthAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($lastMonthAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($lastMonthAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">Last Quarter</td>
                                                <?php foreach ($this->lastQuarterAllPastBookingStatus as $lastQuarterAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($lastQuarterAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($lastQuarterAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">Last Year</td>
                                                <?php foreach ($this->lastYearAllPastBookingStatus as $lastYearAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($lastYearAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($lastYearAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">Today</td>
                                                <?php foreach ($this->todayAllPastBookingStatus as $todayAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($todayAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($todayAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">This Week</td>
                                                <?php foreach ($this->thisWeekAllPastBookingStatus as $thisWeekAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($thisWeekAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($thisWeekAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">This Month</td>
                                                <?php foreach ($this->thisMonthAllPastBookingStatus as $thisMonthAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($thisMonthAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($thisMonthAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">This Quarter</td>
                                                <?php foreach ($this->thisQuarterAllPastBookingStatus as $thisQuarterAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($thisQuarterAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($thisQuarterAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">This Year</td>
                                                <?php foreach ($this->thisYearAllPastBookingStatus as $thisYearAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($thisYearAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($thisYearAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                


                <?php /*
                  <div style="background-color: #F7F7F7; margin-top: 20px; border: 2px solid #ECECEC;font-size: 18px; width: 100%;">
                  <div style="float:left;">

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Country :</span>
                  <span>
                  <?php echo $this->escape($this->cityStateCountry['country_name']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">State :</span>
                  <span>
                  <?php echo $this->escape($this->cityStateCountry['state']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">City :</span>
                  <span>
                  <?php echo $this->escape($this->cityStateCountry['city_name']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Unit/Lot Number :</span>
                  <span>
                  <?php echo $this->escape($this->user['unit_lot_number']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Street Number :</span>
                  <span>
                  <?php echo $this->escape($this->user['street_number']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Street Name :</span>
                  <span>
                  <?php echo $this->escape($this->user['street_address']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Suburb :</span>
                  <span>
                  <?php echo $this->escape($this->user['suburb']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">Postcode :</span>
                  <span>
                  <?php echo $this->escape($this->user['postcode']); ?>
                  </span>
                  </div>

                  <div style="margin: 10px 0 0 10px; font-size: 12px;">
                  <span style="font-weight: bold; color: #2666B0;">State :</span>
                  <span>
                  <?php echo $this->escape($this->user['state']); ?>
                  </span>
                  </div>

                  </div>
                  <div style="float:right; margin: 5px;">
                  <?php if ($this->is_address): ?>
                  <?php echo $this->googleMapAPI->getMapJS(); ?>
                  <?php $this->googleMapAPI->printOnLoad(); ?>
                  <?php $this->googleMapAPI->printMap(); ?>
                  <?php //<a href="javascript:;" onclick="getDistance()">get Distance</a>   ?>
                  <?php else: ?>
                  <div class="noRowsMessageDIV" style="width: 300px;">
                  There are no Address.
                  </div>
                  <?php endif; ?>
                  </div>
                  <div style="clear : both"></div>
                  </div>
                 */ ?>
            </div>
        </td>
        <td class="right_side">
            <?php echo $this->render('dashboard/right_side_link.phtml'); ?>
        </td>
        <td class="filter_character_container">
            <div>
                <div class="first_filter_character">
                    M
                </div>
                <div class="filter_character_pos">
                    Y
                </div>

                <div class="first_filter_character">
                    D
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    S
                </div>
                <div class="filter_character_pos">
                    H
                </div>
                <div class="filter_character_pos">
                    B
                </div>
                <div class="filter_character_pos">
                    O
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    R
                </div>
                <div class="filter_character_pos">
                    D
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    function AcceptServices(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=200&width=400');
        });
    }
        
    //span jscontent="distance['text']"
    function getDistance(){
        alert($('#map_directions span[jsdisplay="distance"]').html());
    }
        
    $(document).ready(function(){
        $(function() {
            $( "#accordion" ).accordion({
                autoHeight: false,
                navigation: true
            });
        });
    });

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Status of bookings');
        data.addColumn('number', 'No. od booking');
        data.addRows([
<?php foreach ($this->allBookingStatus as $bookingStatus) : ?>
                ['<?php echo $this->escape($bookingStatus['name']) ?>',<?php echo $this->escape($bookingStatus['total']) ?>],
<?php endforeach; ?>
        ]);

        var options = {
            width: 450, height: 300,
            title: 'My Booking Status'
        };


        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
	
    function test(item){
            
        $(item).addClass('selected');
    }
</script>