<?php
$modelContractorInfo = new Model_ContractorInfo();
$modelAuthRole = new Model_AuthRole();
$modelUser = new Model_User();
?>
<table class="table" >
    <tr>
        <td class="left_side">
            <div>
                <?php if ($this->bookingLogs): ?>
                    <table class="details-summary">
                        <tr class="header-details-summary">
                            <td>Booking#</td>
                            <td><b>History</b></td>
                            <td>Date</td>
                        </tr>
                        <?php foreach ($this->bookingLogs as $bookingLog): ?>
                            <?php $user = $modelUser->getById($bookingLog['log_user_id']) ?>
                            <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                <?php $username = ucwords($user['username'] . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                            <?php else: ?>
                                <?php $username = ucwords($user['username']); ?>
                            <?php endif; ?>
                            <tr>
                                <td>
                                    <a class="a_link_black" href="<?php echo $this->escape($this->url(array('id' => $bookingLog['booking_id']), 'bookingHistory')) ?>"><?php echo $this->escape($bookingLog['booking_num']); ?></a>
                                </td>
                                <td>
                                    <a class="a_link_black" href="<?php echo $this->escape($this->url(array('id' => $bookingLog['booking_id']), 'bookingHistory')) ?>"> <?php echo $this->escape('This Booking ( ' . $bookingLog['booking_num'] . ' ) has been modified by ' . (!empty($user['username']) ? $username : 'Server')) ?> </a>
                                </td>
                                <td>
                                    <?php echo $this->escape(getDateFormating($bookingLog['log_created'])); ?>
                                </td>

                            </tr>
                        <?php endforeach; ?>
                    </table>
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no History.</div>
                <?php endif; ?>
            </div>
        </td>
        <td class="right_side">
            <?php echo $this->render('dashboard/right_side_link.phtml'); ?>
        </td>
        <td class="filter_character_container">
            <div>
                <div class="first_filter_character">
                    M
                </div>
                <div class="filter_character_pos">
                    Y
                </div>

                <div class="first_filter_character">
                    D
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    S
                </div>
                <div class="filter_character_pos">
                    H
                </div>
                <div class="filter_character_pos">
                    B
                </div>
                <div class="filter_character_pos">
                    O
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    R
                </div>
                <div class="filter_character_pos">
                    D
                </div>
            </div>
        </td>
    </tr>
</table>