<?php
$modelUser = new Model_User();
$modelAuthRole = new Model_AuthRole();
$modelContractorInfo = new Model_ContractorInfo();
$modelBookingEstimate = new Model_BookingEstimate();
$modelBookingInvoice = new Model_BookingInvoice();
$modelInquiry = new Model_Inquiry();
$modelComplaint = new Model_Complaint();
?>
<table class="table" >
    <tr>
        <td class="left_side">
            <div>
                <?php if ($this->bookingEmails): ?>
                    <table class="details-summary">
                        <tr class="header-details-summary">
                            <td></td>
                            <td width="170"><b>Date</b></td>
                            <td width="100"><b>Event On</b></td>
                            <td><b>Subject</b></td>
                            <td><b>Sender</b></td>
                            <td width="60" style="text-align: center;"><b>To</b></td>
                            <td></td>
                        </tr>
                        <?php foreach ($this->bookingEmails as $email): ?>
                            <tr>
                                <td> 
                                    <?php if (!empty($email['attachment_path']) && file_exists($email['attachment_path'])): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $email['email_log_id']), 'downloadEmailPdfFile')); ?>"><img border="0" src="/pic/icons/export-as-pdf.png"></a>
                                    <?php endif; ?>
                                </td>
                                <td>
                                    <?php echo $this->escape(getDateFormating($email['created'])) ?>
                                </td>
                                <td>
                                    <div>
                                        <?php if (!empty($email['reference_id'])): ?>
                                            <?php if ($email['type'] == 'booking'): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'bookingView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($email['booking']['booking_num']); ?> </a>    
                                            <?php elseif ($email['type'] == 'estimate'): ?>
                                                <?php $estimate = $modelBookingEstimate->getById($email['reference_id']); ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'estimateView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($estimate['estimate_num']); ?> </a>    
                                            <?php elseif ($email['type'] == 'invoice'): ?>
                                                <?php $invoice = $modelBookingInvoice->getById($email['reference_id']); ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'invoiceView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($invoice['invoice_num']); ?> </a>                                           
                                            <?php elseif ($email['type'] == 'complaint'): ?>
                                                <?php $complaint = $modelComplaint->getById($email['reference_id']); ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'complaintView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($complaint['complaint_num']); ?> </a>                                           
                                            <?php elseif ($email['type'] == 'inquiry'): ?>
                                                <?php $inquiry = $modelInquiry->getById($email['reference_id']); ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'inquiryView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($inquiry['inquiry_num']); ?> </a>                                                                                  
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:;"  class="a_black" style="font-weight: bold;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $email['email_log_id']), 'emailDetails')); ?>','470','800','Email');" >
                                        <?php echo $this->escape($email['subject'] ? $email['subject'] : '(No Subject)'); ?>
                                    </a>
                                </td>
                                <td>
                                    <?php $user = $modelUser->getById($email['user_id']) ?>
                                    <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                        <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                    <?php else: ?>
                                        <?php echo $this->escape(ucwords($user['username'])); ?>
                                    <?php endif; ?>
                                </td>
                                <td style="text-align: center;">
                                    <?php echo $this->escape($email['to']); ?>
                                </td>
                                <td style="text-align: center;">
                                    <a href="javascript:;" class="a_link" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $email['email_log_id']), 'replayRecentEmail')); ?>','520','800','Email');" >Resend Email</a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>
                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no Emails.</div>
                <?php endif; ?>
            </div>
        </td>
        <td class="right_side">
            <?php echo $this->render('dashboard/right_side_link.phtml'); ?>
        </td>
        <td class="filter_character_container">
            <div>
                <div class="first_filter_character">
                    M
                </div>
                <div class="filter_character_pos">
                    Y
                </div>

                <div class="first_filter_character">
                    D
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    S
                </div>
                <div class="filter_character_pos">
                    H
                </div>
                <div class="filter_character_pos">
                    B
                </div>
                <div class="filter_character_pos">
                    O
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">                            

                    R
                </div>
                <div class="filter_character_pos">
                    D
                </div>
            </div>
        </td>
    </tr>
</table>