<?php
$modelBookingStatus = new Model_BookingStatus();
$modelCustomer = new Model_Customer();
$modelUser = new Model_User();
?>
<table class="table" >
    <tr>
        <td class="left_side">
            <div>
                <?php if ($this->recent) { ?>
                    <table class="details-summary">
                        <tr class="header-details-summary">
                            <td><b>Date</b></td>
                            <td><b>Booking#</b></td>
                            <td class="details"><b>Details</b></td>     
                            <?php if (CheckAuth::getRoleName() != 'contractor') : ?>
                                <td><b>Customer Name</b></td>
                            <?php else : ?>
                                <td><b>Action</b></td>
                            <?php endif ?>
                            <td class="head_title"><b>Amount</b></td>
                        </tr>
                        <?php $count = 0; ?>
                        <?php foreach ($this->recent as $row): ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                    if ($count % 2 != 0) {
                        echo $this->escape('tr_cont_1');
                    } else {
                        echo $this->escape('tr_cont_2');
                    }
                            ?>">
                                <td>
                                    <div class="details_info_l">
                                        <?php if ($this->convert_status == 'booking'): ?>
                                            <?php echo $this->escape(getDateFormating($row['created'])); ?>
                                        <?php elseif ($this->convert_status == 'estimate'): ?>
                                            <?php echo $this->escape(getDateFormating($row['estimate']['created'])); ?>
                                        <?php elseif ($this->convert_status == 'invoice'): ?>
                                            <?php echo $this->escape(getDateFormating($row['job_finish_time'])); ?>
                                        <?php endif; ?>
                                    </div>
                                    <div class="details_info_l">
                                        <?php $user = $modelUser->getById($row['created_by']); ?>
                                        <span class="time_start_color">By : </span><?php echo $this->escape($user['username']); ?>
                                    </div>
                                </td>
                                <td>
                                    <div style="float :left;">
                                        <div class="details_info_l">
                                            <?php if ($this->convert_status == 'booking'): ?>
                                                <div style="font-size: 12px;">
                                                    <?php if (CheckAuth::checkCredential(array('bookingView'))) : ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                                    <?php endif; ?>
                                                </div>
                                            <?php elseif ($this->convert_status == 'estimate'): ?>
                                                <div style="font-size: 12px;">
                                                    <?php if (CheckAuth::checkCredential(array('estimateView'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['estimate']['id']), 'estimateView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['estimate']['estimate_num']) ?></b></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><b><?php echo $this->escape($row['estimate']['estimate_num']) ?></b></span>
                                                    <?php endif; ?>
                                                </div>
                                            <?php elseif ($this->convert_status == 'invoice'): ?>
                                                <div style="font-size: 12px;">
                                                    <?php if (CheckAuth::checkCredential(array('invoiceView'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['invoice']['id']), 'invoiceView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['invoice']['invoice_num']) ?></b></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><b><?php echo $this->escape($row['invoice']['invoice_num']) ?></b></span>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>

                                            <?php if ($this->convert_status == 'estimate'): ?>
                                                <?php
                                                $color = '#A1A1A1';
                                                switch ($row['estimate']['estimate_type']) {
                                                    case 'draft':
                                                        $color = '#A1A1A1';
                                                        break;
                                                    case 'booking':
                                                        $color = '#BCD68F';
                                                        break;
                                                }
                                                ?>
                                                <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                    <?php echo $this->escape($row['estimate']['estimate_type']); ?>
                                                </div>
                                            <?php elseif ($this->convert_status == 'invoice'): ?>
                                                <?php
                                                $color = '#A1A1A1';
                                                switch ($row['invoice']['invoice_type']) {
                                                    case 'draft':
                                                        $color = '#A1A1A1';
                                                        break;

                                                    case 'open':
                                                        $color = '#4F8BC3';
                                                        break;

                                                    case 'overdue':
                                                        $color = 'red';
                                                        break;

                                                    case 'closed':
                                                        $color = '#BCD68F';
                                                        break;

                                                    case 'void':
                                                        $color = '#00004E';
                                                        break;
                                                }
                                                ?>
                                                <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                    <?php echo $this->escape($row['invoice']['invoice_type']); ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>

                                </td>    
                                <td>
                                    <div class="details_info_l">
                                        <div>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_black"><?php echo $this->escape($row['title']) ?></a>    
                                        </div>
                                        <div class="booking_time_cont">
                                            <?php if ($row['convert_status'] != 'estimate') : ?>
                                                <div>
                                                    <span class="time_start_color">Start Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_start']))) ?> 
                                                    <span class="time_end">End Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_end']))) ?>
                                                </div>
                                            <?php else : ?>
                                                <div>
                                                    <span class="time_start_color">Date : </span><?php echo $this->escape(getDateFormating($row['estimate']['created'])) ?>
                                                </div>
                                            <?php endif; ?>
                                            <div>
                                                <span class="time_start_color">Status : </span>
                                                <span style="font-size: 10px; font-weight: bold;">
                                                    <?php
                                                    $bookingStatus = $modelBookingStatus->getById($row['status_id']);
                                                    echo $this->escape($bookingStatus['name']);
                                                    ?>
                                                </span>
                                            </div>
                                        </div>
                                        <?php $modelBookingAddress = new Model_BookingAddress(); ?>
                                        <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                        <div  id="address_list">
                                            <span class="time_start_color" >Address :</span>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                <?php echo $this->escape($lineAddress); ?>
                                            </a>
                                        </div> 
                                        <?php if (!empty($row['status_discussion'])): ?>
                                            <div  id="address_list">
                                                <span class="time_start_color" >Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> :</span>
                                                <a  href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['status_discussion']['discussion_id'], 'status_id' => $row['status_id']), 'showStatusDiscussion')); ?>','300','500','Status Discussion');">   
                                                    <?php echo $this->escape(substr($row['status_discussion']['user_message'], 0, 150)); ?>
                                                    <?php echo $this->escape((strlen($row['status_discussion']['user_message']) > 150 ? '...' : '')); ?>
                                                </a>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </td>
                                <?php if (CheckAuth::getRoleName() != 'contractor') { ?>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                    <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </a>    
                                                <?php else: ?>
                                                    <span class="span_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </span>    
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </td>
                                <?php } else { ?>
                                    <td>
                                        <?php if ($row['not_accepted']): ?>
                                            <div class="details_info_l">
                                                <a class="a_accept" href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices')); ?>','200','400');">Accept</a>
                                            </div>
                                        <?php endif; ?>

                                        <?php if ($row['not_accepted_or_rejected']) : ?>
                                            <div class="details_info_l" style="margin-top: 13px;">            
                                                <a class="a_reject"  href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices')); ?>','200','400');">Reject&nbsp;</a>
                                            </div>
                                        <?php endif; ?>
                                    </td>
                                <?php } ?>
                                <td class="details_info_r">
                                    <div class="details_info_l">
                                        $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>
                <?php } else { ?>
                    <div style="" class="noRowsMessageDIV">There are no Bookings.</div>
                <?php } ?>
            </div>
        </td>
        <td class="right_side">
            <?php echo $this->render('dashboard/right_side_link.phtml'); ?>
        </td>
        <td class="filter_character_container">
            <div>
                <div class="first_filter_character">
                    M
                </div>
                <div class="filter_character_pos">
                    Y
                </div>

                <div class="first_filter_character">
                    D
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    S
                </div>
                <div class="filter_character_pos">
                    H
                </div>
                <div class="filter_character_pos">
                    B
                </div>
                <div class="filter_character_pos">
                    O
                </div>
                <div class="filter_character_pos">
                    A
                </div>
                <div class="filter_character_pos">
                    R
                </div>
                <div class="filter_character_pos">
                    D
                </div>
            </div>
        </td>
    </tr>
</table>