<!-- TinyMCE -->
<script type="text/javascript">
    $(document).ready(function() {
        tinyMCE.init({
            // General options
            plugins : '-example', // - tells TinyMCE to skip the loading of the plugin
            mode : "textareas",
            theme : "advanced",
            relative_urls : false,
            convert_urls : false,

            // Theme options
            theme_advanced_buttons1 : "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : false
        });
    });
</script>
<!-- /TinyMCE -->
<form  form id="form" method="POST" onsubmit="tinyMCE.triggerSave(); do_submit('<?php echo $this->escape($this->url(array('id' => $this->email_log_id), 'replayRecentEmail')); ?>','#form','#TB_ajaxContent');return false;">
    <div style="border: 1px solid #EFEFEF; background-color: #F7F7F7; width: 100%; font-size: 11px;">
        <div style="padding: 10px;">
            <div style="float: left; width: 70%; margin-top: 10px;">
                <div>
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">To</div>
                    <div style="float: left; width: 80%;"><input type="text" name="to" value="<?php echo $this->escape($this->to); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                    <div style="clear: both;"></div>
                </div>
                <?php if (isset($this->error_mesages['to']) && !empty($this->error_mesages['to'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['to']); ?>
                    </div>
                <?php endif; ?>
                <div style="margin-top: 10px;">
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">Cc</div>
                    <div style="float: left; width: 80%;"><input type="text" name="cc"  value="<?php echo $this->escape($this->cc); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                    <div style="clear: both;"></div>
                </div>
                <?php if (isset($this->error_mesages['cc']) && !empty($this->error_mesages['cc'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['cc']); ?>
                    </div>
                <?php endif; ?>

                <div style="margin-top: 10px;">
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">Subject</div>
                    <div style="float: left; width: 80%;"><input type="text" name="subject" value="<?php echo $this->escape($this->subject); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                    <div style="clear: both;"></div>
                </div>
                <?php if (isset($this->error_mesages['subject']) && !empty($this->error_mesages['subject'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['subject']); ?>
                    </div>
                <?php endif; ?>
            </div>
            <?php if (!empty($this->pdf_num)) : ?>
                <div style="float: right; width: 25%;">
                    <div style="color: #666666; font-weight: bold;">
                        <div class="floatLeft"> Attachment</div>
                        <div class="floatLeft"><input type="checkbox" name="pdf_attachment" id="pdf_attachment" value="true"/></div>
                        <div class="clearBoth"></div>
                    </div>
                    <div style="border: 1px solid #A1A1A1; height: 80px;">
                        <div><img src="/pic/icons/export-as-pdf.png"  style="vertical-align: middle;" /> <span><?php echo $this->escape($this->pdf_num); ?>.pdf</span></div>
                    </div>
                </div>
            <?php else : ?>
                <div style="float: right; width: 25%;">
                    <div style="color: #666666; font-weight: bold;">
                        <div class="floatLeft"> Attachment</div>
                        <div class="clearBoth"></div>
                    </div>
                    <div style="border: 1px solid #A1A1A1; height: 80px;">
                    </div>
                </div>
            <?php endif; ?>
            <div style="clear: both;"></div>

            <div style="margin-top: 10px;">
                <textarea name="body" id="body" style="width: 780px; height: 340px; padding: 10px;"><?php echo $this->body; ?></textarea>
            </div>
            <div id="button_cont" style="margin-top: 10px;">
                <input type="submit" value="Send" /> or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" style="color: red;">Cancel</a>
            </div>
        </div>
    </div>
</form>