<div class="right_side_cont">
    <div class="gray-border-bottom">
        <ul class="links" style="list-style: circle; margin-left: 16px;">
            <li>
                <a href="<?php echo $this->escape($this->url(array(), 'dashboard')); ?>">My Dashboard</a>
            </li>
            <li>
                <a href="<?php echo $this->escape($this->url(array(), 'logUserActivity')); ?>">User Activity</a>
            </li>
            <li>
                <a href="<?php echo $this->escape($this->url(array(), 'recentHistory')); ?>">Recent Bookings History</a>
            </li>
            <li>
                <a href="<?php echo $this->escape($this->url(array('convert_status' => 'booking'), 'recentByConvertStatus')); ?>">Recent Bookings</a>
            </li>
            <li>
                <a href="<?php echo $this->escape($this->url(array('convert_status' => 'estimate'), 'recentByConvertStatus')); ?>">Recent Estimates</a>
            </li>
            <li>
                <a href="<?php echo $this->escape($this->url(array('convert_status' => 'invoice'), 'recentByConvertStatus')); ?>">Recent Invoices</a>
            </li>
            <?php
            $modelBookingStatus = new Model_BookingStatus();
            $bookingStatuss = $modelBookingStatus->getAll(array('withoutQouted' => true))
            ?>
            <?php foreach ($bookingStatuss as $bookingStatus): ?>
                <li>
                    <a href="<?php echo $this->escape($this->url(array('status_id' => $bookingStatus['booking_status_id']), 'recentByBookingStatus')); ?>">Recent <?php echo $this->escape($bookingStatus['name']) ?></a>
                </li>
            <?php endforeach; ?>
            <li>
                <a href="<?php echo $this->escape($this->url(array(), 'recentDiscussions')); ?>">Recent Discussions</a>
            </li>
            <li>
                <a href="<?php echo $this->escape($this->url(array(), 'recentComplaints')); ?>">Recent Complaints</a>
            </li>
            <li>
                <a href="<?php echo $this->escape($this->url(array(), 'recentEmails')); ?>">Recent Emails</a>
            </li>
        </ul>
    </div> 
</div>