
<div style="border: 1px solid #EFEFEF;  background-color: #F7F7F7; width: 100%; font-size: 11px; height: 100% ">
    <div style="padding: 10px;">
       
        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
          Why <?php echo $this->escape(ucwords(strtolower($this->bookingStatus['name']))); ?> :
        </div>
        <div style="border: 1px solid #ACD2E7; padding: 10px;">
            <?php echo nl2br($this->escape($this->statusDiscussion['user_message'])); ?>
        </div> 
    </div>
</div>
