<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>

    <h1>Contact Details :</h1>
    <table>

        <tr>
            <td class="input_type" valign="top">Employee Name :</td>
            <td><?php echo $this->form->getElement('name')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Email 1 <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('email1')->render(); ?></td>
            <td valign="top" style="width: 64px;">
                <a href="javascript:;" style="text-decoration: none;" onclick="$('#email_2').show();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            </td>
        </tr>
        <tr id="email_2" style="display: <?php echo!$this->form->getElement('email2')->getValue() ? 'none' : 'table-row'; ?>;">
            <td class="input_type" valign="top">Email 2: </td>
            <td><?php echo $this->form->getElement('email2')->render(); ?></td>
            <td valign="top" style="width: 64px;">
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#email_3').show();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#email2').val('');$('#email_2').hide();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            </td>
        </tr>
        <tr id="email_3" style="display: <?php echo!$this->form->getElement('email3')->getValue() ? 'none' : 'table-row'; ?>;">
            <td class="input_type" valign="top">Email 3: </td>
            <td><?php echo $this->form->getElement('email3')->render(); ?></td>
            <td valign="top" style="width: 64px;">
                <a href="javascript:;" style="text-decoration: none;" onclick="$('#email3').val('');$('#email_3').hide();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            </td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Mobile 1 <span style="color:#ff0000">*</span>:</td>
            <td><?php echo ($this->form->getElement('mobile1')->render()); ?></td>
            <td valign="top" style="width: 64px;">
                <a href="javascript:;" style="text-decoration: none;" onclick="$('#mobile_2').show();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            </td>
        </tr>
        <tr id="mobile_2" style="display: <?php echo!$this->form->getElement('mobile2')->getValue() ? 'none' : 'table-row'; ?>;">
            <td class="input_type" valign="top">Mobile 2:</td>
            <td><?php echo ($this->form->getElement('mobile2')->render()); ?></td>
            <td valign="top" style="width: 64px;">
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#mobile_3').show();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#mobile2').val('');$('#mobile_2').hide();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            </td>
        </tr>
        <tr id="mobile_3" style="display: <?php echo!$this->form->getElement('mobile3')->getValue() ? 'none' : 'table-row'; ?>;">
            <td class="input_type" valign="top">Mobile 3:</td>
            <td><?php echo ($this->form->getElement('mobile3')->render()); ?></td>
            <td valign="top" style="width: 64px;">
                <a href="javascript:;" style="text-decoration: none;" onclick="$('#mobile3').val('');$('#mobile_3').hide();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            </td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Phone 1:</td>
            <td><?php echo ($this->form->getElement('phone1')->render()); ?></td>
            <td valign="top" style="width: 64px;">
                <a href="javascript:;"  style="text-decoration: none;" onclick="$('#phone_2').show();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            </td>
        </tr>
        <tr id="phone_2" style="display: <?php echo!$this->form->getElement('phone2')->getValue() ? 'none' : 'table-row'; ?>;">
            <td class="input_type" valign="top">Phone 2:</td>
            <td><?php echo ($this->form->getElement('phone2')->render()); ?></td>
            <td valign="top" style="width: 64px;">
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#phone_3').show();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#phone2').val('');$('#phone_2').hide();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            </td>
        </tr>
        <tr id="phone_3" style="display: <?php echo!$this->form->getElement('phone3')->getValue() ? 'none' : 'table-row'; ?>;">
            <td class="input_type" valign="top">Phone 3:</td>
            <td><?php echo ($this->form->getElement('phone3')->render()); ?></td>
            <td valign="top" style="width: 64px;">
                <a href="javascript:;" style="text-decoration: none;" onclick="$('#phone3').val('');$('#phone_3').hide();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            </td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Fax: </td>
            <td><?php echo $this->form->getElement('fax')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Emergency Phone: </td>
            <td><?php echo $this->form->getElement('emergency_phone')->render(); ?></td>
        </tr>
    </table>

    <h1>Address Details :</h1>

    <table>
        <tr>
            <td class="input_type" valign="top">Unit / Lot Number :</td>
            <td><?php echo $this->form->getElement('unit_lot_number')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Street Number :</td>
            <td><?php echo $this->form->getElement('street_number')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Street Name :</td>
            <td><?php echo $this->form->getElement('street_address')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Suburb :</td>
            <td><?php echo $this->form->getElement('suburb')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Postcode :</td>
            <td><?php echo $this->form->getElement('postcode')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">PO Box (Postal Address):</td>
            <td><?php echo $this->form->getElement('po_box')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Country :</td>
            <td><?php echo $this->form->getElement('country_id')->render(); ?></td>
        </tr>

        <tr id="state_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <td class="input_type" valign="top">State :</td>
            <td id="state_cont"><?php echo $this->form->getElement('state')->render(); ?></td>
        </tr>

        <tr id="city_block" <?php if (!$this->form->getElement('state')->getValue()) { ?>style="display: none;"<?php } ?>>
            <td class="input_type" valign="top">City :</td>
            <td id="city"><?php echo $this->form->getElement('city_id')->render(); ?></td>
        </tr>

        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>


<script type="text/javascript">
    
    function getState(){
        if($('#country_id').val()){
            $('#state_block').css('display','table-row');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country_id').val(),
                success: function(msg) {
                    $('#state_block').css('display','table-row');
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#state_block').css('display','none');
            $('#city_block').css('display','none');
        }
    }
    
    function getCities(){
        if($('#state').val()){
            $('#city_block').css('display','table-row');
            $('#city').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id="+$('#country_id').val()+"&state="+$('#state').val(),
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
</script>