<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Upload Avatar
                </div>
                <div class="clearb"></div>
            </div>
            <form id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" enctype="<?php echo $this->escape($this->form->getEnctype()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>">
                <?php echo $this->escape($this->message); ?>
                <table>
                    <tr>
                        <td class="input_type" valign="top">Avatar Upload :</td>
                        <td><?php echo $this->form->getElement('image')->render(); ?></td>
                    </tr>
                </table>
            </form>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <div class="btn_cont">
                    <a href="javascript:;" onclick="$('#<?php echo $this->escape($this->form->getName()); ?>').submit();" class="btn_a">
                        <div class="text_pos">
                            Upload
                        </div>
                    </a>
                </div>
            </div>
        </td>
    </tr>
</table>