<div style="border: 1px solid #EFEFEF;  background-color: #F7F7F7; width: 100%; font-size: 11px; height: 100% ">
    <div style="padding: 10px;">
        <div style="text-align: center;">
            <h1><?php echo $this->escape($this->contractorEmployee['name']); ?></h1>
        </div>
        <h2>Contact Details :</h2>
        <div style="border: 1px solid #ACD2E7; padding: 10px;">
            <div style="float: left; padding: 10px 10px;" >
                <?php if ($this->contractorEmployee['email1']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Email:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['email1']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['email2']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Email:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['email2']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['email3']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Email:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['email3']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['phone1']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Phone:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['phone1']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['phone2']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Phone:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['phone2']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['phone3']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Phone:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['phone3']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['mobile1']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Mobile:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['mobile1']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['mobile2']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Mobile:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['mobile2']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['mobile3']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Mobile:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['mobile3']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['fax']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Fax:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['fax']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php if ($this->contractorEmployee['emergency_phone']): ?>
                    <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                        <div style="float: left;">Emergency Phone:</div>
                        <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->contractorEmployee['emergency_phone']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                <?php endif; ?>
                <?php $modelCity = new Model_Cities(); ?>
                <?php $city = $modelCity->getById($this->contractorEmployee['city_id']); ?>
                <?php $modelCountries = new Model_Countries(); ?>
                <?php $country = $modelCountries->getById($city['country_id']); ?>
                <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                    <div style="float: left;">City:</div>
                    <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($country['country_name'] . ' - ' . $city['city_name']) ?></div>
                    <div style="clear: both;"></div>
                </div>
                <?php $lineAddress = get_line_address($this->contractorEmployee); ?>
                <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
                    <div style="float: left;">Address:</div>
                    <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($lineAddress); ?></div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div style="float: right; padding: 10px 10px;"> 
                <?php if (!empty($this->contractorEmployee['large_avatar_path'])): ?>
                    <img src="<?php echo $this->baseUrl('/uploads/avatar/' . $this->contractorEmployee['large_avatar_path']) ?>"/>
                <?php else: ?>
                    <img  style=" border: 1px solid rgb(204, 204, 204); "src="<?php echo $this->baseUrl('/pic/avatar-large.jpg') ?>"/> 
                <?php endif; ?>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
