
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Quantity Range : </label>
            <div class="col-lg-4" style="display:inline;"> 
            <?php echo $this->form->getElement('min_size_range')->render(); ?>
            </div>
			<div class="col-lg-1"><span style="display:inline; font-size:25px; font-wieght:bold;"> - </span></div>
			<div class="col-lg-4" style="display:inline;"> 
            <?php echo $this->form->getElement('max_size_range')->render(); ?>
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-lg-3">Discount Range (%) : </label>
            <div class="col-lg-4" style="display:inline;"> 
            <?php echo $this->form->getElement('min_discount_range')->render(); ?>
            </div>
			<div class="col-lg-1"><span style="display:inline; font-size:25px; font-wieght:bold;"> - </span></div>
			<div class="col-lg-4" style="display:inline;"> 
            <?php echo $this->form->getElement('max_discount_range')->render(); ?>
            </div>
        </div>
		

       <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
       
    </form>
