<form id="search_form" action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
    <div class="search">
        <div class="button_actions">
            Filter Reports
        </div>
        <div id="search">
            <div class="filter_border_top"></div>

            <div class="filter_book_cont">
                <span class="formLabel">Customer Name</span>
                <div class="button_actions">
                    <?php echo $this->form->getElement('customer_id'); ?>
                    <?php echo $this->form->getElement('auto_customer_id'); ?>
                </div>
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Start Date</span>
                <?php echo $this->form->getElement('booking_start_between'); ?>
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">End Date</span>
                <?php echo $this->form->getElement('booking_end_between'); ?>
            </div>

            <div class="cancel_link_cont">
                <?php echo $this->form->getElement('button'); ?> <span class="or_span">or</span>
                <a href="<?php echo $this->escape($this->form->getAction()); ?>" style="color: red;" class="a_advance" >Cancel</a>
            </div>
        </div>
        <div class="filter_bottom_border"></div>
    </div>
    <?php echo $this->form->getElement('type'); ?>
</form>

<div style="margin-top: 20px;">
    <?php echo $this->form->getElement('as_xls'); ?>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#header').width($('.table').width());
        $('#menu_cont').width($('.table').width());
        $('#body_cont').width($('.table').width());
        
        $("#start_time").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
        
        $("#end_time").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });
    
    // auto complete customer search
    $(function() {
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });
	
</script>
