<?php if(isset($this->reject_booking_question['question_text'])){ ?>
<form id="form"  class="form-horizontal" method="post" onsubmit="do_submit('<?php echo $this->url(array(), 'settingsBookingRejectQuestionsEdit') ?>','#form','#content_modal_popup');return false;">
<?php } else {?>
<form id="form" class="form-horizontal" method="post" onsubmit="do_submit('<?php echo $this->url(array(), 'settingsBookingRejectQuestionsAdd') ?>','#form','#content_modal_popup');return false;">
 <?php } ?>

    <div id="msg" style="color: #ff0000; font-size: 15px; text-align: center; margin-bottom: 10px;">

    </div>
		<div class="form-group">
        <label class="col-md-4">Question :</label>
            <div class="col-md-8">
			<textarea required="required" rows="4" class="form-control" cols="30" name="question" id="question" ><?php echo $this->reject_booking_question['question_text']? $this->reject_booking_question['question_text'] : ''; ?></textarea>
			</div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Question Type :</label>
            <div class="col-md-8">
				<select name="type" id="type" class="form-control">
				  <option value="text" <?php if($this->reject_booking_question['question_type']=='text'){ ?> selected <?php }?> >Text</option>
				  <option value="multiple" <?php if($this->reject_booking_question['question_type']=='multiple'){ ?>selected <?php }?> >Multiple</option>
				</select>
			</div>
		</div>


    <?php if(isset($this->reject_booking_question['question_type']) && $this->reject_booking_question['question_type']=="multiple"){ ?>
    <div class="form-group">
        <div class="col-md-8" id="button_cont">
            <input type='button' value='Add Option' id='add_option' class="btn btn-primary" style="display: inline;" >
        </div>
    </div>
    <?php } else {?>
        <div class="form-group">
            <div class="col-md-8" id="button_cont">
                <input type='button' value='Add Option' id='add_option' class="btn btn-primary" style="display: none;" >
            </div>
        </div>
    <?php } ?>

    <div id='TextBoxesGroup'>

    </div>


        <div class="form-group">
            <div class="col-md-8 " id="button_cont">
                <input type='button' value='Remove Option' id='remove_option' class="btn btn-primary" style="display: none;" >
            </div>
        </div>


    <?php if ($this->reject_booking_options): ?>
        <table class="table table-striped table-bordered table-hover responsive-table user-settings-table" id="editable" >
            <thead>
            <tr>
                <th>Question Options</th>
            </tr>
            </thead>
            <tbody>

            <?php foreach ($this->reject_booking_options as $row) : ?>
                <tr>
                    <td>
                        <div id="<?php echo $this->escape($row['id']) ?>">
                            <div class="details_info_l" id="option<?php echo $this->escape($row['id']) ?>">
                                <?php echo $this->escape($row['option']) ?>
                                <input type="hidden" id="quesoption<?php echo $this->escape($row['id']) ?>" value="<?php echo $this->escape($row['option']) ?>">
                            </div>
                            <div class="details_info_l">
                                <div class="inline" style ="padding:1.3em;"> <a  href="" onclick="updateOption( <?php echo $this->escape($row['id']) ?> );return false;">edit</a> | <a href="" onclick="deleteoption(<?php echo $this->escape($row['id']) ?>);return false;">delete</a> </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    <?php endif; ?>

      <div class="form-group">
	   	  <div class="col-md-8 col-md-offset-4" id="button_cont"> <input type="submit" name="save"  class="btn btn-primary" value="save" /></div>
	   </div>
   <div class="clearb"></div>
</form>

    <script type="text/javascript">
        $( ".form-control" ).change(function() {

            if(this.value == "multiple"){
                document.getElementById("add_option").style.display="inline";
                //document.getElementById("remove_option").style.display="inline";
            }else{
                document.getElementById("add_option").style.display="none";
                //document.getElementById("remove_option").style.display="none";
            }
        });


        $(document).ready(function(){

            var counter = 1;

            $("#add_option").click(function () {
                document.getElementById("remove_option").style.display="inline";
                if(counter>10){
                    alert("Only 10 Options allow");
                    return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'TextBoxDiv' + counter);

                newTextBoxDiv.after().html('<label>Option #'+ counter + ' : </label>' +
                    '<input type="text" required="required" size="50" name="option[' + counter +
                    ']" id="option' + counter + '" value="" >');

                newTextBoxDiv.appendTo("#TextBoxesGroup");

                counter++;
            });

            $("#remove_option").click(function () {

                if(counter==1){
                    alert("No more options to remove");
                    return false;
                }

                counter--;
                $("#TextBoxDiv" + counter).remove();
                if(counter==1){
                    document.getElementById("remove_option").style.display="none";
                }

            });

        });

        function deleteoption(id)
        {
            var result = confirm("are you sure you want to delete this option?");
            if (result) {
                var option_id=id;
                $.ajax({
                    url:'<?php echo $this->escape($this->url(array(),'settingsBookingRejectQuestionsDeleteOption')); ?>',
                    type: 'POST',
                    dataType: 'json',
                    data: { option_id: option_id },
                    success: function(result){
                        $('#msg').empty();
                        $('#msg').append( result.msg );
                        $('#'+id).remove();
                    }
                });
            }
        }

        function updateOption(id)
        {
            var option_last_value = document.getElementById("quesoption"+id).value;
            var newTextBox = $(document.createElement('div')).attr("id", 'TextBox' + id);
            newTextBox.after().html('<label>Edit Option: </label>' +
                '<input type="text" required="required" size="40" name="editOption[' + id +
                ']" id="editOption' + id + '" value="' + option_last_value + '" >'+'<input type="button" value="Edit Option" id="edit_option" onclick="updateQuestionOption(' + id + ');return false;"  >');

            newTextBox.appendTo('#'+id);
        }

        function updateQuestionOption(id)
        {
            var result = confirm("are you sure you want to update this option?");
            if (result) {
                var option_id=id;
                var option_val = document.getElementById("editOption"+id).value;
                $.ajax({
                    url:'<?php echo $this->escape($this->url(array(),'settingsBookingRejectQuestionseditOption')); ?>',
                    type: 'POST',
                    dataType: 'json',
                    data: { option_id: option_id, option_val: option_val},
                    success: function(result){
                        $('#msg').empty();
                        $('#msg').append( result.msg );
                        $('#option'+id).empty();
                        $('#option'+id).html(option_val);
                        $('#TextBox'+id).remove();
                    }
                });
            }
        }

    </script>
