
<div class="col-lg-12 wrapper-content">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	<div class="col-lg-12">
		<?php echo $this->render('index/contractor_filters.phtml'); ?>
        
</div>
    <div class="col-lg-12">
     <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> Overdue Invoices Report</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
					<?php if ($this->data): ?>
                <?php
                $modelContractorInfo = new Model_ContractorInfo();
                $modelAuthRole = new Model_AuthRole();
                ?>
                <div id="data_table">
                    <?php if ((isset($this->user['username']) && $this->user['username']) || (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) || (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'])): ?>
                        <div class="filter_criteria">
                            <div>
                                <?php if ($this->user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($this->user['user_id']); ?>
                                    <?php echo $this->escape(($this->user['username'] ? ucwords($this->user['username']) : '') . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                <?php else: ?>
                                    <?php echo $this->escape($this->user['username'] ? ucwords($this->user['username']) : '') ?>
                                <?php endif; ?>

                            </div>
                            <div>
                                <?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
                                <?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
                                <?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?>
                            </div>
                        </div>
                    <?php endif; ?>
                        <table class="table table-striped table-bordered overdue_invoices responsive-table" style="font-size:10px;" id="overdue_invoices_table">
                            <thead>
                                <tr>
                            <th>Date</th>
                            <th>Job#</th>
                            <th>Inv#</th>
                            <th>Contractor</th>
                            <th>Customer Info</th>
                            <th>Job Status</th>
                            <th>Job Nature</th>
                            <th>Address</th>
                            <th>State</th>
                            <th>Amount</th>
                            <th>Approved Amount</th>
                            <th>Unapproved Amount</th>
                            <th>Unpaid</th>
                            <th>Office Payment</th>
                            <th>Cash Payment</th>
                            <th>Booked By</th>
                            <th>Overdue</th>
                            <?php /* <th>Date of Booking</th> */ ?>
                            <th>Comments</th>  
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($this->data AS $row): ?>    
                            <tr cellpadding="100" style="text-align: center; vertical-align: top;"> 
                                <td><?php echo $this->escape(date(get_config('date'), strtotime($row['booking_start']))); ?></td>
                                <td><?php if (!empty($row['booking_num'])): ?>
                                        <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_black"> <?php echo $this->escape($row['booking_num']) ?></a>
                                    <?php endif; ?>
                                </td>
                                <td><?php if (!empty($row['invoice']['invoice_num'])): ?>
                                        <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['invoice']['id']), 'invoiceView')); ?>" class="a_black"> <?php echo $this->escape($row['invoice']['invoice_num']) ?></a>
                                    <?php endif; ?>
                                </td>
                                <td>
                                    <?php
                                    $contractors_counter = 0;
                                    $contractors_total = count($row['contractors']);
                                    ?>

                                    <?php foreach ($row['contractors'] AS $contractor_id => $contractor_name): ?>
                                        <?php $contractors_counter++; ?>
                                        <?php echo (1 < $contractors_total ? " *" : '') . $this->escape(($contractor_name ? ucwords($contractor_name) : '')) . ($contractors_counter < $contractors_total ? "<br>" : ''); ?>
                                    <?php endforeach; ?>
                                </td>   
                                <td style="text-align: left;">
                                    <?php
                                    $customer_info = array();
                                    if (!empty($row['customer']['customer_commercial_info']['business_name'])) {
                                        $customer_info[] = "<b>Business Name :</b> {$this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name']))}";
                                    }
                                    if ($row['customer_name']) {
                                        $customer_info[] = "<b>Name :</b> {$this->escape($row['customer_name'])}";
                                    }
                                    if ($row['customer']['email1']) {
                                        $customer_info[] = "<b>Email :</b> {$this->escape($row['customer']['email1'])}";
                                    }
                                    if ($row['customer']['email2']) {
                                        $customer_info[] = "<b>Email :</b> {$this->escape($row['customer']['email2'])}";
                                    }
                                    if ($row['customer']['email3']) {
                                        $customer_info[] = "<b>Email :</b> {$this->escape($row['customer']['email3'])}";
                                    }
                                    if ($row['customer']['mobile1']) {
                                        $customer_info[] = "<b>Mobile :</b> {$this->escape($row['customer']['mobile1'])}";
                                    }
                                    if ($row['customer']['mobile2']) {
                                        $customer_info[] = "<b>Mobile :</b> {$this->escape($row['customer']['mobile2'])}";
                                    }
                                    if ($row['customer']['mobile3']) {
                                        $customer_info[] = "<b>Mobile :</b> {$this->escape($row['customer']['mobile3'])}";
                                    }
                                    if ($row['customer']['phone1']) {
                                        $customer_info[] = "<b>Phone :</b> {$this->escape($row['customer']['phone1'])}";
                                    }
                                    if ($row['customer']['phone2']) {
                                        $customer_info[] = "<b>Phone :</b> {$this->escape($row['customer']['phone2'])}";
                                    }
                                    if ($row['customer']['phone3']) {
                                        $customer_info[] = "<b>Phone :</b> {$this->escape($row['customer']['phone3'])}";
                                    }
                                    if ($row['customer']['fax']) {
                                        $customer_info[] = "<b>Fax :</b> {$this->escape($row['customer']['fax'])}";
                                    }
                                    if ($row['customer']['po_box']) {
                                        $customer_info[] = "<b>PO Box :</b> {$this->escape($row['customer']['po_box'])}";
                                    }
                                    if ($row['customer']['customer_contacts']) {
                                        foreach ($row['customer']['customer_contacts'] as $customerContact) {
                                            $customer_info[] = "<b>{$this->escape($customerContact['contact_label'])} :</b> {$this->escape($customerContact['contact'])}";
                                        }
                                    }
                                    $customer_info[] = "<b>City :</b> {$this->escape($row['customer']['country_name'] . ' - ' . $row['customer']['city_name'])}";
                                    $customer_info[] = "<b>Address :</b> {$this->escape(get_line_address($row['customer']))}";
                                    ?>
                                    <?php echo implode('<br>', $customer_info); ?>
                                </td>
                                <td><?php echo $this->escape($row['status']['name']); ?></td>
                                <td>
                                    <?php
                                    $services_counter = 0;
                                    $services_total = count($row['services']);
                                    ?>
                                    <?php foreach ($row['services'] AS $service): ?>
                                        <?php $services_counter++; ?>
                                        <?php echo (1 < $services_total ? " *" : '') . $this->escape($service['info']['service_name']) . ($services_counter < $services_total ? "<br>" : ''); ?>
                                    <?php endforeach; ?>
                                </td>
                                <td style="text-align: left;">
                                    <?php echo $this->escape($row['address']['line_address']); ?>
                                </td>
                                <td><?php echo $this->escape(strtoupper($row['address']['state'])); ?></td>
                                <td>$<?php echo $this->escape((!empty($row['qoute']) && $row['convert_status'] == 'invoice' ) ? number_format($row['qoute'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['approved_ammount']) && $row['convert_status'] == 'invoice' ) ? number_format($row['approved_ammount'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['unapproved_ammount']) && $row['convert_status'] == 'invoice' ) ? number_format($row['unapproved_ammount'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['qoute']) && $row['convert_status'] == 'invoice' ) ? number_format($row['qoute'] - $row['paid_amount'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['total_without_cash']) && $row['convert_status'] == 'invoice' ) ? number_format($row['total_without_cash'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['cash_payment']) && $row['convert_status'] == 'invoice' ) ? number_format($row['cash_payment'], 2) : number_format(0, 2)) ?></td>
                                <td><?php echo $this->escape(ucwords($row['created_by']['username'])) ?></td>
                                <td><?php echo $this->escape(!empty($row['due']) ? ($row['due']) . " day(s)" : ''); ?></td>
                                <td style="text-align: left;"><?php echo(!empty($row['status_discussion']) ? nl2br($this->escape($row['status_discussion']['user_message'])) : '') ?></td>
                            </tr>
                        <?php endforeach; ?>
                          </tbody>


                        </table>
                </div>
                    <?php else: ?>
                    <div class="noRowsMessageDIV">Please Select Contractor And Date Range.</div>
                   <?php endif; ?>

                    </div>
                </div>
    </div>
	
    
</div>
<div style="clear:both"></div>


