
<div class="col-lg-12 wrapper-content">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	<div class="col-lg-12">
		  <?php echo $this->render('index/payment_filters.phtml'); ?>
        
</div>
    <div class="col-lg-12">
     <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Payment Received Report</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
					<?php if ($this->payments): ?>
					<div id="data_table">
					<h5> Payments Received </h5>
					<div style="margin-bottom:10px;">
                            <?php echo $this->escape(isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between'] ? 'From : ' . $this->fltr['payment_created_between'] : '') ?>
                            <?php echo $this->escape((isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between']) && (isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between']) ? ' - ' : '') ?>
                            <?php echo $this->escape(isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between'] ? 'To : ' . $this->fltr['payment_end_between'] : '') ?>
                    </div>
                        <table class="table table-bordered responsive-table" id="payement-receive">
                            <thead>
                                <tr>
                            <th>INV#</th>
                            <th>Date</th>
                            <th>Reference#</th>
                            <th>Customer</th>
                            <th>payment method</th>
                            <th>Notes</th>
                            <th>Status</th>
                            <th>Amount</th>  
                                </tr>
                            </thead>
                            <tbody>
                               <?php foreach ($this->payments AS $payment): ?>    
							     <tr cellpadding="100" style="text-align: center; vertical-align: top; <?php echo $this->escape(empty($payment['is_approved']) ? 'background-color: red; color: white;' : '') ?>"> 
                                <td><?php if (!empty($payment['invoice']['invoice_num'])): ?>
                                        <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $payment['invoice']['id']), 'invoiceView')); ?>" class="a_black"> <?php echo $this->escape($payment['invoice']['invoice_num']) ?></a>
                                    <?php endif; ?>
                                </td>
                                <td><?php echo $this->escape(date(get_config('date'), $payment['received_date'])) ?></td>
                                <td><?php echo $this->escape($payment['reference']) ?></td>
                                <td><?php echo $this->escape($payment['customer']) ?></td>
                                <td><?php echo $this->escape($payment['payment_type']) ?></td>
                                <td style="height:34px;"><?php echo $this->escape($payment['description']) ?></td>   
                                <td><?php echo $this->escape(!empty($payment['is_approved']) ? 'Approved' : 'Unapproved') ?></td> 
                                <td>$<?php echo $this->escape(number_format($payment['amount'], 2)) ?></td>
                            </tr>
                          <?php endforeach; ?>
                          </tbody>


                        </table>
                    </div>
					<?php else: ?>
                    <div>
                    <b>There are no payments recorded in the selected date range.</b>
                    <div><?php echo $this->escape(isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between'] ? 'From : ' . $this->fltr['payment_created_between'] : '') ?>
                        <?php echo $this->escape((isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between']) && (isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between']) ? ' - ' : '') ?>
                        <?php echo $this->escape(isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between'] ? 'To : ' . $this->fltr['payment_end_between'] : '') ?>
                    </div>      
                </div> 
            <?php endif; ?>

                    </div>
                </div>
    </div>
	
    
</div>
<div style="clear:both"></div>


