ul{
 list-style-type:none;
 padding:0px;
 margin:0px;
}


 
div#calendar div.dates-box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color:   #0cb7ee ;      
}
 
 
div#calendar div.picker-header a.prev,div#calendar div.picker-header a.next{ 
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
	font-weight:bold;
	font-size:20px;
}
 
div#calendar div.picker-header span.title{
    color:#FFF;
    font-size:18px;
     padding:20px 20%;
}
 
 

 
 
 
 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border-top:none;
	background-color:#f0f0f0;
	
}
 
 
 
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    width:100%

}
 
div#calendar ul.label li{
    margin: 0px;
    padding: 0px 21px;
    float: left;
    list-style-type: none;
    width: 14.28%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color: #000;
}
 
 
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    width:100%;

}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin: 0px;
    padding: 0px;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    list-style-type: none;
    width: 14.28%;
    height: 50px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #848587;
    text-align: center;
    cursor: pointer;
    border: 1px solid #e0e0e0;
	font-weight:bold;
}


.calendar-times{

 position:relative;
 margin-top:17px;

}

.calendar-times ul li
{
 font-size:12px;
 color:#404143;
 font-weight:bold;
 padding-bottom:10px;
 border-top: 1px solid #e8e8e8;
 padding-top: 10px;
}

.calendar-times ul li:last-child{
 border-bottom: 1px solid #e8e8e8;
}

.calendar-times ul 
{
    padding-left: 24px;
}

.current-month{
  padding-left: 10px;
  text-align :center;
}

 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}  


.shadowAndBackground{
box-shadow: inset -6px 34px 14px -30px #ABABAB;
-webkit-box-shadow: inset -6px 34px 14px -30px #ABABAB;
-moz-box-shadow: inset -6px 34px 14px -30px #ABABAB;
-o-box-shadow: inset -6px 34px 14px -30px #ABABAB;
background-color:#d7d7d7 !important;
}   

.mask{
 background-color:#e8e8e8 !important;
}

.today{
 background-color:#0db9ee !important;
 color:#fff !important;
}

.service-time 
{
    height: 105;
    position: absolute;
    top: 17px;
    background-color: #0db7ee;
    width: 80%;
    opacity: 0.2;
    left: 66px;
}

.unavailable-time{
  position: absolute;
  background-color: #e8e8e8;
  left: 66px;
  width: 80%;
}

#availability .box-content{
 padding:0px;
}

.dates-box{
border-top: 1px solid #0fc9f2;
}


@media (max-width: 517px) {


  div#calendar ul.label li{
  padding:0px 12px;
}

 
}

@media (max-width: 360px) {


div#calendar ul.label li {
    padding: 0px 0px;
}

@media (min-device-width: 320px) AND  (max-device-width: 480px){
.calendar-times{
 height:auto;
 overflow:hidden;
 }
}

 
}


