

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  
  src: url('../fonts/fontello.eot') format('embedded-opentype'), url('../fonts/fontello.woff') format('woff'), url('../fonts/fontello.ttf') format('truetype'), url('../fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
} 
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74523241#fontello') format('svg');
  }
}
*/
.icon-link:before{
font-size:114% !important;
color:#afafb1;
}
  .icon-2x{
  font-size:200%;
  }
 [class^="icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
 /*speak: none;*/
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
 
  /* you can be more comfortable with increased icons size */
   font-size: 135%; 
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  margin-right:0.25em; 
  vertical-align: middle;
}
.icon-date:before  {margin-right:0.2em;
				  font-size:100%;}
.icon-accept:before,.icon-reject:before,.icon-unknown:before{ margin-right:0.1em;
																font-size:125%;}

.icon-map:before { content: '\e800'; } /* '' */
.icon-discussion:before { content: '\e801'; } /* '' */
.icon-driver:before { content: '\e802'; } /* '' */
.icon-services:before { content: '\e803'; } /* '' */
.icon-payment:before { content: '\e804'; } /* '' */
.icon-insurance:before { content: '\e805'; } /* '' */
.icon-contractor-info:before { content: '\e806'; } /* '' */
.icon-Apparatus:before { content: '\e807'; } /* '' */
.icon-Chemicals:before { content: '\e808'; } /* '' */
.icon-vehicle:before { content: '\e809'; } /* '' */
.icon-gmail3:before { content: '\e80a'; } /* '' */
.icon-send-email:before { content: '\e80b'; } /* '' */
.icon-Employee :before { content: '\e80c'; } /* '' */
.icon-tools :before { content: '\e80d'; } /* '' */
.icon-cogwheel:before { content: '\e80e'; } /* '' */
.icon-booking:before { content: '\e80f'; } /* '' */
.icon-gallary:before { content: '\e810'; } /* '' */
.icon-bell:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-mail-alt:before { content: '\e813'; } /* '' */
.icon-types:before { content: '\e814'; } /* '' */
.icon-location-setting:before { content: '\e815'; } /* '' */
.icon-user-setting:before { content: '\e816'; } /* '' */
.icon-label-setting:before { content: '\e817'; } /* '' */
.icon-secuirty-setting:before { content: '\e818'; } /* '' */
.icon-service-setting:before { content: '\e819'; } /* '' */
.icon-public-setting:before { content: '\e81a'; } /* '' */
.icon-link:before { content:'\e81b'; } /* '' */
.icon-building:before { content: '\e81c'; } /* '' */






.icon-cube:before { content: '\e823'; } /* '' */
.icon-accept:before { content: '\e81d';
					  color:#7EAF1F;} /* '' */
.icon-reject:before { content: '\e81e'; 
					 color:red;} /* '' */
.icon-unknown:before { content: '\e81f'; 
					  color:#3B5998;} /* '' */
.icon-date:before { content: '\e820';
					} /* '' */
			
.icon-chick-out:before { content: '\e821'; margin-right:-0.2em;  color:#38b050;} /* '' */
.icon-check-in:before { content: '\e822'; margin-right:-0.2em; color:#38b050; } /* '' */
.icon-send-email:before { content: '\e80b'; } /* '' */		
