@charset "utf-8";
/* CSS Document */


/*
.panel-heading .accordion-toggle:after {
    
    font-family: 'FontAwesome';  
    content: "\f107";    
    float: right;        
    color: grey;        
}
.panel-heading .accordion-toggle.collapsed:after {
  
    content: "\f104";   
}
*/ 




/*  Complaint TOOGLE SWICH */
/* TOOGLE SWICH */
/* SWITCHES */
.complaint_switch{ margin-top:4px;}
.complaintswitch {
    position: relative;
    width:85px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.complaintswitch-checkbox {
    display: none;
}
.complaintswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    /*border: 1px solid #48cb95;*/
    border-radius: 13px;
}
.complaintswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    background:transparent;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.complaintswitch-inner:before,
.complaintswitch-inner:after {
    display: block;
    vertical-align:middle;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.complaintswitch-inner:before {
    content: "Resolved";
    padding-left: 7px;
    background-color: #48cb95;
    color: #FFFFFF;
}
.complaintswitch-inner:after {
    content: "Open";
    padding-right: 7px;
    background-color: #fa6658;
    color: #FFFFFF;
    text-align: right;
}
.complaintswitch-switch {
    display: block;

    margin: 0px;


    background: url('/pic/opencomplaint.png');
    background-size: 22px 22px;
    width:22px;
    height:22px;
    border-radius:50% !important;
    position: absolute;
    top:0.5px;
    bottom:0;
    left:0.9px;
    right: 36px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    /*-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);*/
}
.complaintswitch-checkbox:checked + .complaintswitch-label .complaintswitch-inner {
    margin-left: 0;
}
.complaintswitch-checkbox:checked + .complaintswitch-label .complaintswitch-switch {
    right: 0.9px;
    left:auto;
    background: url('/pic/closecomplaint.png');
    background-size: 22px 22px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}


 .contractor-box #preview img{ margin: 0 auto;}


.icons-right a, .icons-left a{
    font-size:20px;
}

.product-gallery li, .product-gallery > div{
    width:150px !important;
    height:150px !important;
}
.add_photo_button{
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid #E7EAEC;
    float:left;
    margin-top:10px;
    margin-left:10px;
}


#productContainer, #productContent, .sidebar{
    min-height: 0px;
    width: auto;
}
.maps-icon{
    background: url('/pic/map-icon.png') 0px 6px no-repeat;
    width: 30px;
    height: 30px;
    background-size: 21px;
    display: inline-block;
    /* padding-top: 10px; */
    margin-bottom:-8px;
}

.yesterdayBookingDateicon{
    background: url('/pic/bookingDate.png') 82px 0px no-repeat;
    width: 122px;
    height: 39px;
    background-size: 36px;
    display: inline-block;
    /* padding-top: 10px; */
}

.todayBookingDateicon{
    background: url('/pic/bookingDate.png') 58px 0px no-repeat;
    width: 98px;
    height: 39px;
    background-size: 36px;
    display: inline-block;
}	

.tomorrowBookingDateicon{
    background: url('/pic/bookingDate.png') 87px 0px no-repeat;
    width: 127px;
    height: 39px;
    background-size: 36px;
    display: inline-block;
}

.inquiryPhotosCount{
    background: url('/pic/inquiryPhotosCount.png') 0px 6px no-repeat;
	display: inline-block;
    margin-bottom:-8px;
    width: 30px;
    height:30px;
    background-size: 21px;
}
	
.bookingForOneDateicon{
	background: url('/pic/calendarIconDate.png') 7px 3px no-repeat;
	width: 45px;
	height: 39px;
	background-size: 30px;
	display: inline-block;
	/* padding-top: 10px; */
}

.note-editor{
    border: 1px solid rgb(224, 223, 223);
}

.note-resizebar{
    display:none;
}
.site_attended_accept .icon-accept:before,.site_attended_reject .icon-reject:before{ color:#FFF ; vertical-align:baseline; margin-right:0px;}
.site_attended_reject,.site_attended_accept{padding: 2px 5px;
                                            border-radius: 17px;
                                            color:#fff;}
.site_attended_accept{
    background-color:#3fb350;
} 
.site_attended_reject{ background-color:red;}
.schedual_date{border-left: 1px solid #fff;
               padding-left: 7px;
               padding-bottom: 4px;}
.time_icon_checkin{line-height: 0.77;
                   padding: 10px;
                   font-size:1.2em;
                   border-left:1px solid ;}
.active_contractor_toggle{ width:120px; 
                           margin:5px auto 5px auto;}
.active_contractor_toggle .onoffswitch-inner:before{

    padding-left:0px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color:transparent;
}
.company-logo img{ margin:0 auto;}
.home-profile{margin-top:2px;}
.home-profile img{

    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display:inline-block;
}
.setting-box{
    width:100%;
    background-color:#FFF;
    padding:2px;
    margin:7px;
    float:left;
    display:inline-block;
    -webkit-box-shadow: 2px 2px 9px 0px rgba(209,202,209,0.76);
    -moz-box-shadow: 2px 2px 9px 0px rgba(209,202,209,0.76);
    box-shadow: 2px 2px 9px 0px rgba(209,202,209,0.76);
    vertical-align: top;
}
.setting-header{ background-color:#28b193;
                 color:#fff;
                 padding: 7px;}

.setting-list li a,.setting-list li a:active,.setting-list li a:hover { color:#000; 
}
.setting-list li {padding:7px; 
                  padding-left:18px;
                  font-size: 14px;
                  font-weight: 600;
}
.setting-list li:nth-child(odd){
    background-color:#f3f3f5;

}
.contractor_booking_list li:nth-child(even){
    background-color:#f9f9f9;

}
.contractor_booking_list li a,.contractor_booking_list li a:active , .contractor_booking_list li a:hover{ color:#000; font-size:15px; display:block;} 


.contractor_booking_list li {

    padding:10px 50px; 
    font-weight:600;

}
.contractor_booking_list li  .badge{
    float:right;
    font-size:15px;
    color:#FFF;
}
.panel-heading .accordion-toggle  .collapse_arrow{
    margin-right:12px;
}
.panel-heading .accordion-toggle  .collapse_arrow:before{
    font-family: 'Glyphicons Halflings';
    color: #FFF;
    float: left; 
    content: "\2212";
}
.panel-heading  .accordion-toggle.collapsed  .collapse_arrow:before{

    content:"\2b";	
}

.contractor_pic_small{
    border-radius: 50%;
    width:30px;
    height:30px;
}
.contractor_pic{     
    border-radius: 50%;
    width: 45px;
    height: 46px;
}
.contractor_gr:hover{color:#000;}
.contractor_gr:active{color:#000;}
.con_dropdown{ left:-108px;}
.contractor_gr {
    color:#000;
    width:56px;
}


.panel-group .panel{ border-radius:0px;}
.panel-group .panel-heading{border-radius:0px !important;}


#service_id-cont input[type="checkbox"]{
    margin-right:5px;
}
.inquiry_attribute_full_width > .form-group{ 
    width:75% !important;
}
.chevron_up{ color:#FFF;}
.chevron_up:hover{color:#FFF;}
.service_auto_generate_title{ border-top-right-radius:20px;
                              padding:10px;
                              background-color:black;
                              color:#FFF;
}
.service_auto_generate_title a{ color:#FFF;}

::-webkit-input-placeholder {
    color: #ccc !important ;
    font-size:14.5px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ccc !important;  
    font-size:14.5px;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ccc !important; 
    font-size:14.5px;   
}

:-ms-input-placeholder {  
    color: #ccc !important;  
    font-size:14.5px;
}


/* products in visit section  Add_Edit Booking*/onoffswitch

.Products_mobile{ display:block;
                  margin-left: -35px;
                  margin-right: -35px;
}

.products{ background-color:#000;
           padding:7px;
           color:#fff;
}

.add_product_form_mobile { 
    background-color:#1ab394;
    padding: 7px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    color:#fff;
    text-align:center;
    text-decoration:none;
}

.add_product_form_mobile:hover,.add_product_form_mobile:focus{ color:#fff;}

.add_product_form_mobile  .fa-plus{
    color:#3ab54a;
    background-color:#FFF;
    padding: 1.5px 2.7px;
    border-radius:50%;
    float:right;
}

.products_fieldset{background-color:#efeff1;
                   padding:20px 7px !important;}	
.schedule_next_visit{
    border-radius:20px !important; 
    margin-bottom:20px !important;
    margin-top:20px;
}	
.schedule_next_visit span:last-child{ color:#3ab54a;
                                      background-color:#FFF;
                                      padding: 1.5px 2.7px;
                                      border-radius:50%;}				   
/* end add-product visit section */



.input_readonly{
    padding: 7px 12px;
    width: 100%;
    background-color: #eee;
    border: none;

}
.padding{padding-top:20px; 
         padding-bottom:15px;}
.padding-top{ padding-top:13px;}
.no-padding-left{ padding-left:0px;}
.no-padding-right{ padding-right:0px;}
.padding-left-no-right{ padding-right:0px;
                        padding-left:7px;}
.custome_service_switch  .onoffswitch-label {  border-radius: 9px !important;}
.custome_service_switch .onoffswitch-switch { width: 20px !important; border-radius:50% !important;}
.service_total_amount{ 

    padding: 7px 12px;
    width: 100%;
    background-color: #eee;
}

.service_consider_min_price{ padding-top: 6px;}
.service_consider_min_price b{ vertical-align:top;}

.add_new_service{ position:absolute;
                  right:19px;
}

.floatingHeader {
    position: fixed;
    top:0;
    display:none;
    z-index:1000; 

}

.services_head{ 
    border:none !important;

}
 .topLinks{
        margin-right:5px;
        margin-bottom: 5px;
       
    }
.black-gray{ background-color:#788492 !important; color:#FFF;}
.white-gray{ background-color:#d9dee1 !important; color:#788492; }
.services_head a{ color:#FFF;}
.services_head a:focus{ color:#FFF;}
.services_head a:active{ color:#FFF;}

.services_head a{ border:1px solid #FFF;
                  padding:5px 8px; 
                  border-radius:6px;
}

.services_content{ border:none;
                   padding-top:0px;
                   padding-bottom:5px;
}

.service_auto_generate_title{ border:none !important;
                              /*border-top-right-radius:15px;*/
                              height:auto !important;
}
.schedual_header {height: 60px;
                  padding:10px;
}
.sechedual_header_title{    line-height: 2.5;}
.first_visit_header ,.schedual_header { background-color:#788492 !important;
                                        color:#FFF;}

.top_status_add_edit{
    color:#FFF;
}

.top_status_add_edit select{ color:#000;}

/* services comment */
.display_on_mobile { display:none;}

.mobile_display_none{ display:block;}




.new_service_operation li { display:inline-block;}
.services_booking_box td{ vertical-align:middle !important;}
.advance_search_list{ padding:6px 0px;}
.advance_search_list a{ text-decoration:none;
                        color:inherit;}
.advance_search_list a:hover{ text-decoration:none;}

.advance_search_list li{ padding:6px 5px;
}

.advance_search_list li:hover{ background-color:#f5f5f5;
}


.reminder_booking .btn{ margin-top:7px;}
.breadcrumb{ margin-bottom:8px;}
.breadcrumb li:last-of-type{ font-weight:bold;}
.estimate_right_list{ width:100%; direction:rtl;}
.padding-left-right{ padding-left:20px;
                     padding-right:20px;}
.breadcrumb{ font-size:13px;}
.white_color{ color:#FFF;}
.white_color a:hover{color:#FFF;}
.white_color a{text-decoration:none;}

.top_nav{ float:right;
}
.top_nav > li{ display:inline-block;
               clear:right;
}

.tab_padding{ padding:15px;}
.service_price,.service_qty,.service_total{ min-width:9%; 
                                            width:9%;
                                            text-align:center;}
.service_price{min-width:13%;} 
.btn-float-r{ float:right;
              clear:both;
              margin-left:4px !important; }
.centerize{ text-align:center !important;}
.lineheight22{ line-height:2.5 !important;}

.table_no_top_border tbody  tr:first-child  td{ border-top:none !important; }
.table_no_top_border tbody  tr:first-child  th{ border-top:none !important; }
.tab-pane{height:354px;
          overflow: auto;
}
#org-inquiry{ display:none;}
.est_services:last-child{ margin-bottom:0px;
                          padding-bottom:10px;}
.breadcrumb{ font-size:13px;}
.labels_btn{margin-bottom:1px !important;}
.middle_align{ vertical-align:middle !important;}

.satisfaction_table{ text-align:center;
                     vertical-align:middle;}
.booking_created_date{ font-size:11px !important;}
.booking_title{ font-size:16px;}
#customer_info-table { margin-bottom:7px !important;}

.booking_label li:first-child{ display:inline-block;
                               margin-right:6px;}
.Booking_labels li { display:inline-block; 
                     padding:3px 5px;
                     background-color:#ccc;
                     margin-right:2px;
                     margin-top:3px;
                     margin-bottom:4px;
}
.booking_status_center{ display:inline-block; 
                        margin-left:43.5%; 
                        float:left;}
.black_color{ color:#000;
              text-decoration:none;
}
.tabs_button{ background-color:#CCC; 
              padding:12px;
} 
.float_none{ float:none !important;}
.inlines{ display:inline;}
.upper{ text-transform: uppercase;
}
.createdTimeDiv{ line-height: 2.5;}
.createdTimeDiv > span { font-size:16px;}
.wrapper{ padding:13px 20px !important;}
#booking_box_header{ background-color:#2f4050 !important;
                     color:#e0e0e0 !important;
                     border-radius:0px;}
.services_inbox_table b { line-height:2.5;}
.booking_box{ float:left;
              background-color:#fff;
              border:2px solid #fff}
.booking-box-header{background-color:#2f4050; 
                    color:#e0e0e0;
                    padding:8px 18px;
}

.booking-box-header a{ color:#e0e0e0;}

.booking-box-body{ padding:7px 14px;}
.booking-box-body table span{ margin-right:10px;}
.booking_services h4{ display:inline;}

.tabbable{ padding-bottom:25px;}
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;

}

/* end services description */
.disc_b{ }
.disc_b .disc_message { padding:8px 14px;
                        overflow:break-word !important;}
.disc_b li{ padding:10px 5px;
            border-bottom: 1px solid #f3f3f4;}
.display-mobile{ display:none !important;}
#service_desc::first-word{ font-weight:bold !important; }
.service_desc::first-word{ font-weight:bold ;}
.panel-heading h4{ display:inline-block;}
.spec_height{ height:58px;
              line-height:2.3;}
.services_status{ position:relative;
                  padding:10px;
                  border-radius:50%;
                  border:2px solid #FFF; }
.services_status img{ display:block; 
                      margin-left:auto;
                      margin-right:auto;}
.accepted_services {background-color:#7EAF1F;}
.reject_services{ background-color:red;}
.unknown_services{ background-color:#3B5998;}
.accepted_services,.reject_services ,.unknown_services{	padding:10px;
                                                        border-radius:50%;
                                                        border:2px solid #FFF; 
}

.accepted_services img ,.reject_services img,.unknown_services img{ display:block; 
                                                                    margin-left:auto;
                                                                    margin-right:auto;

}

.services_panel .panel-body{ text-align:justify;}
.normal_font{ font-weight:normal !important;}
.services_list{ padding : 15px 20px;
                width:100%; 
}
.services_list li {   margin-left:25px;
                      margin-right:25px;
}
.bg_green{ 
    background-color:#18a689;	
    color:#fff;
    padding:7px
}
.profile-box{ padding: 20px ; 
              margin-bottom:20px;
}
.no_padding{padding:0px !important; }


.profile_bg_green  .profile-cog{ color:#000; 
                                 top: -48px;
                                 right:  -58px;}
.profile-cog button { border-radius:50% !important;
                      font-size: 19px;
                      padding: 3px 7px !important;
                      background-color:#fff;
                      border:1px solid #18a689;}
.profile_bg_green{
    background:url('/pic/cbg.png');
    background-color:#18a689;
    text-align:center;
    display:block;
    padding:15px 0px;
    color:#FFF;
    position:relative;
}
.contractor_right_side{position:absolute;
                       top:2px;
                       left:2px;}
.contractor_right_side li{margin-bottom:2px;
}
.contractor_right_side li .btn { width:155px; 
                                 background-color:#f3f3f4 !important;
                                 text-align:left;
}						
.span_file_input{
    position:relative;
    overflow:hidden;
}
#contractor_profile{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    cursor:pointer;
}
.profile_bg_green > div  .profile_preview{ position:relative; 
                                           height:180px;}
.profile_bg_green  #loader_view{ background-color: #000;
                                 position: absolute;
                                 width: 156px;
                                 top: 6px;
                                 height: 157px;
                                 right: 5px;
                                 opacity: 0.6;
                                 display: none;
                                 border-radius: 50%;
}
#loader_view img{ position:absolute;
                  top:44%; 
                  left:40%; 
}
.profile_bg_green > div  #preview img{
    border-radius:50%;
    border:6px solid #FFF;
    margin-left:auto;
    margin-right:auto;
    width:170px;
    height:170px;
}
.profile_bg_green .profile_pic{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:170px;
    border-radius:50%;

}
.contractor_profile_list li a{ color:#898A8C;
                               font-size:14px; 
                               padding-left:4px;
}
.contractor_profile_list li{
    padding:20px 18px;
    border-bottom:1px solid #18a689;
    font-size:16px;
    color:#898A8C;}
.contractor_profile_list li:hover{
    background-color:#E8E8E8;
    border-left:5px solid #18a689;
}

/* end contractor myaccount */
/* login form  */ 
.form-signin input[type="email"]{margin-bottom:8px;}
.login_logo{text-align:center;
            margin-bottom:15px;}
.login_logo > a > img{
    display:block; 
    margin-left:auto;
    margin-right:auto;
    margin-bottom:8px;
}
.form-signin {
    max-width: 380px;
    padding:35px;
    margin: 0 auto;
    margin-top:8%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
}
.form-signin input[type="email"],.form-signin input[type="password"]{padding:0.75em 0.5em;}
.form-signin .login-btn{margin-top:25px;}
/* end login form */
.inquiry-service-column{width:50%;
                        min-width:40%;}
#button_cont { padding:10px 0px; }
.actions-list  >.dropdown-menu{ right:0px; 
                                left:auto;
                                position:absolute;

}

/*search cutome */
.fa-phone{font-size:16px !important; }
.fa-mobile-phone{font-size:22px !important;}
#notify_list li a:hover,
#contractor_notification li a:hover{ background-color:inherit !important;
                                     color:#000;}

/*for search */
#search-small-size-form{
    padding: 10px;
    border: 1px solid #EFEFEF;
    background-color: white;

}
table{border-collapse: collapse;
      border-spacing: 0;}
select {word-wrap: break-word !important;
        word-break:break-all !important;}

select  option {word-wrap:break-word !important;
                word-break: break-all !important;
                width: 100% !important;
                position:relative;}
.fa-width  .modal-dialog { width:74% !important;}
.n-width  .modal-dialog { width:74% !important;}
#fn_nearest .modal-dialog{ width:74% !important;}


.fc-day-grid-container.fc-scroller{ height:auto !important; }
.fc-time-grid-container.fc-scroller{height:auto !important;}
.fc-time-grid-container{height:auto !important;
                        overflow:auto !important;}
.margin-b{ margin-bottom:15px;}
.awaiting_approval{ padding:15px; 
                    margin-bottom:15px;}
.orginal_inquriy tbody th{ width:20%;}
.table{ 
    word-wrap: break-word;
}
.width_for_availability{ min-width:200px;
                         overflow-x:scroll;
                         overflow:scroll;
}
.searchCustomerInputResult{
    position: absolute;
    width:100%;
    top:36px;
    right:0px;
    display: none;
    z-index: 100;
    background: white;
    border:1px solid #e5e6e7;
    border-top: none;
    padding:7px;
    height: 200px;
    overflow: auto;
}



.actions-list{margin-top:4px;
              margin-bottom:4px;}

.actions-list > a:first-child{ color:inherit;
                               background:#FFF;
                               border:1px solid #e7eaec;
                               padding:4px 12px; 
                               display:inline-block;
                               font-size:14px;
                               font-weight:normal;
                               cursor:pointer;
                               margin:0px;
                               border-radius:3px;
}
.actions-list a:first-child:hover,
.actions-list a:first-child:active,
.actions-list a:first-child:focus{ color: inherit;
                                   border: 1px solid #d2d2d2; }
.hidden-block{display:none;}

.strocked-text{
    text-align:center;
    color:#FFF !important;}

/* customize scroll bar for customer form */
#notification-list-b{ margin:0px 4px;}

#notification-list {left: -165px !important;}
#notification-list a{ box-shadow:none;
                      -webkit-box-shadow:none;

}
#notification-list a i { font-style:normal;
                         margin-right:2px;
}
#search-small-size-form{ width:280px !important;
                         position:absolute;
                         top:34.2px;
                         left:-125px;
                         z-index: 1;
}
#second-create-new,.searchIcon{ border-radius:3px !important;}
#second-create-new,#notification-list-b,#setting-b,#btn-mobile-size{ display:none !important;}
#second-create-new,#first-create-new{   margin-right: 5px;
                                        margin-left: 5px;
}
.no-border-color-reduis{border:none !important;
                        border-radius:0px !important;}
#top-menu{
    padding:10px 15px;

}
#top-menu > li{ float:left;
                display:inline;
}
#customer_form{ 


}

.setting-m{ left:-130px;}

/* scroll bar customize style*/ 

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar:horizontal {
    height: 9px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background:#fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(26, 179, 148, 1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}



/* booking view tabs */
.nav-tabs,
.nav-pills {
    position: relative;
}
.inline-list li{ display:inline-block;
                 margin-top:5px;}
.color-white{ color:#fff !important;}
.float-lg-r{float:right;}
.no-margin-b{ margin-bottom:0px;}
ul{	-moz-padding-start:0px;
    -webkit-padding-start:0px;
    padding-start:0px; 
    -webkit-margin-before:0px;
    -o-padding-start:0px;
    list-style:none;
    -webkit-margin-after:0px;
}


.nav-tabs  a{
    background-color:#2f4050 !important;
    color:#e0e0e0 !important;
}
.nav-tabs li.active > a {	background-color:#fff !important;
                          color:#000 !important;}

.tab-content{background-color:#fff !important;
}
.inline-block{ display:inline-block;}
.bg-white{ background-color:#fff;}
/* customer info  color white */ 
.color-white{ color:#fff;} 

#search-form{ padding-left:0; padding-right: 0px;}






.checkbox {
    margin-bottom: 30px;
}

.form-myaccount {
    max-width: 100%;
    padding: 15px 35px 45px;
    margin: 0 auto;
    margin-top:8%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
}
.form-myaccount input[type="email"],.form-myaccount input[type="password"]{padding:0.75em 0.5em;}



.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 5px;

}
/* */

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;  
}

input[type="password"] {
    margin-bottom: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.search{ border:1px solid #1ab394;
         background: none repeat scroll 0px 0px transparent;}

/* create new btn */
.create-new-div{  

    margin: 14px 5px 5px 10px;
} 
.action-btn{
    float:none !important;
}
.create-btn{
    padding:4px 12px;
    line-height: 1.42;	
}
.navbar-top-links.navbar-right{
    -moz-padding-start:0px;

}
/* count notification label */
.count-info .label {
    right:auto;
    top: -2px;
    left: 11px;
    padding: 2px 3px;
}
/* booking form header div*/
.fnav
{	
    padding:12px 0px;
    /*background-color: slategrey;*/

    position: -webkit-sticky;
    background-color:#F3F3F4;
    border-bottom:1px solid #e7eaec;
}
.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 200;
    border-bottom:2.5px solid #e7eaec;

}

.long_text{
    height:100px !important;
    white-space: normal !important;
}


/* edit form for booking , estimate and etc ..  */
.fform {padding:10px 40px;
        margin-top:15px;}

.editsearch{ width:50%;}

.edit-form-search{ 
    width:40%;
    border:none;
    border: 1px solid #ccc;
    padding:6px;
}

.select-edit-form{ box-sizing:inherit;}

.edit-links{ padding:5px 0;  
             padding-left:140px;
}
.edit-links a{margin-right:20px; 
              font-size:14px;
              clear:right;

}
.select-edit-form label{ margin-right:20px; 
                         clear:right; 
                         font-size:14px;
}

.Booking-edit { padding-top:10px;}

.Booking-edit h2{ margin-bottom:30px;}

.Booking-edit label,


.Booking-edit label.checkup{ width:auto !important;
                             margin-left:5px;
                             padding-top:5px;
} 

.Booking-edit label.checkup input{ width:auto !important;}		


.product_ltr{ width:100px !important; }
.Booking-edit .btextarea{ margin-left:223px;
                          width:34%;
                          height:150px;}

.Booking-edit.snd-section{ margin-top:20px;}

.calender_service_opt_slct,
.default_inquiry_services_keyword_resault{ height:280px;
                                           overflow: scroll;
                                           outline:none;}

.Booking-edit input.sdatepicker{ width:123px;}

.Booking-edit input.stimepicker{ width:63px;}

.Booking-edit.to{ font-size:16px;}


/* satisfaction customize */
.satisfaction{ list-style:none; 
               position:relative;
               box-sizing:content-box;
               display:inline-block;
               -moz-padding-start:0px;
}

.satisfaction li{ display:inline-block;
                  text-align:left !important;
                  margin-right:13px;}
.satisfaction li:first-child{ color:red;}
.satisfaction li:last-child{ color:green;}
.satisfaction label.rate{ width:auto !important;
                          float:left !important;
                          margin-left:0px !important;}
.Booking-edit.f_left{float:left; display:inline;}

/* Follow confirm */
.Booking-edit #deferred_date_cont { display:inline-table; 
}
.Booking-edit #deferred_date_cont input{ width:170px;
                                         margin-left:10px;
                                         padding:2px;}


.calender_service_opt_slct,
.default_inquiry_services_keyword_resault{ overflow-x:auto;
                                           border:1px solid #999;}
#auto_search,#search{
    width:100%; 
    height:30px; 
    font-size:14px; 
    border:none; 
    padding:0; 
    margin:0; 
    color:gray; 
}
#auto_search{ display:block;}

#keywordsResult a{ text-decoration:none; 
                   color:black;}
.service-list{ padding:4px; 
               display:inline-block;
               width:100%;}
.service-list li{ display:inline; 
                  margin:0px 4px; }
.service-list li:nth-child(2){ display:inline-block; width:190px;}
.service-list:hover{ background-color:#CCC;} 


.service-description-with-invoice{ background-color:#fff;
                                   margin-top:30px;
                                   margin-left:70px;
                                   width:90%;
                                   display:block;}
/* service invoice  */							   

.service-header-list{ width:100%; 
                      display:block;
                      padding:4px 6px;
                      border-bottom:1px solid #ebebeb;
}
.service-header-list li{ display:inline-block;
                         margin:0px 6px;
}
.service-header-list li:nth-child(2),
.service-header-list li:last-child{float:right;
                                   margin-right:20px;}

.service-chieckedd{ 
    display:inline-block;
}
.service-det-list,.part-amount-total{ -moz-padding-start:0px;
                                      margin-left:-15px; margin-top:16px}	
.part-amount-total{ float:right;}
.service-det-list li,.part-amount-total li{ 
    display:inline-block;
    margin-right:8px;
    clear:right;}	
.part-amount-total li{ margin-right:25px;}	

.total-amount{ float:right;
               display:inline-block;
               width:20%;
}	


.Booking-edit label.cx-label{ margin-left:10px; 
                              width:auto;}

.service-autogenerated-div{ border-bottom:1px solid #000;
                            padding-bottom:20px;
                            margin-bottom:20px;} 							  






.f-left{ float:left;
         margin-right:5px;}
.float-l{float:left;}
.float-r{float:right;
         /* clear:right;*/}


/* --End-- satisfaction customize */
/* invoice */
.final-invoice{ display:block; 
                width:25%;
                background-color:#fff; 
                padding:35px;
                list-style:none;
                margin:auto 4% auto auto;

}


.final-invoice strong{ width:100px;
                       display:inline-block;
}
.final-invoice em{ font-style:normal;}
.final-invoice em input{ width:80px;}


/* end invoice */

/* inquiry services*/
.default_inquiry_services_cont{

}



.min-price{ float:left;
            width:100%;
}

.min-price input{width:auto; float:left; }

.min-price label{ margin-left:0px;
                  width:auto;
                  padding:0px 5px;}
.pd{ margin:0 20px;}
.red-label{ color:#933;}

.service-edit{ margin-top:15px; 
               margin-left:37%;
}

.calender_service_slctd_service_booking_service >textarea{ 
    height:200px;
}

/* end --- edit form for booking , estimate and etc ..  */	



/* booking  view page */ 


.booking-view .book-title{padding:1.5em 1em;}
.booking-view .tabs{ padding:1em;
}

.booking-view #list-group label{ width:40%;}

/*end of booking view page */


/* booking header */



.booking-header{ background-color:#fff;}


.booking-links-header1{
    border-bottom:1px solid #E7EAEC; 
    padding:0.5em;

}
.booking-links-header2{

    border-bottom:1px solid #000; 
    padding:0.8em 0.75em;

}

.booking-links-header1 h3{ display:inline-block;}

.booking-links-header1 li,.booking-links-header2 li  {display:inline-block;}

.booking-links-header1 span ,.booking-links-header2 span:last-child{ float:right;
                                                                     display:inline-block;
}
/* booking table */



.booking-table-h1,.booking-table-h2{ background-color:#fff;	   

                                     width:100%;
                                     padding:10px 5px 0px 10px;
}
.booking-table-h1{border-bottom:1px solid #E7EAEC;}
.booking-table-h2{border-bottom:1px solid #999;}
.booking-table-h2{
    padding:8px 5px 8px 10px;
    margin-bottom:15px;
}

.booking-table h3{ display:inline-block; 
                   float:left;}

.sort_booking_cont,
.sort_booking_cont2_right{ float:right; 
                           position:relative;

}
.sort_booking_cont2_right >.btn-group{ margin-right:15px;}

.sort_booking_cont2_left{ float:left; 
                          -moz-padding-start:0px;
                          display:inline-block;
                          padding:0px;}					
.sort_booking_cont li,
.sort_booking_cont2_left li{ display:inline;
                             padding:0 4px 0 4px;
}





.table-amount{width:11%;}
.table-booking{ width:9%;}
.table-details{ width:35%;}
/* booking view  */

/* book-table-view */


.block{ display:inline-block !important;}

.b-setting-links li,.bd-flist li{ display:inline-block; }

.zero-margin-bottom{ margin-bottom:0px;
                     display:block !important;}
/* table specification */

/* view  booking */

.view-first-header{ border-bottom:1px solid #E7EAEC; }
.view-customer-list,.view-technician-list { margin:0px; }
.view-customer-list li,.view-technician-list li{ display:inline-block; padding:0px 5px;} 
/*.view-technician-list li:not(:first-of-type) { border-right:1px solid #000;}
.view-customer-list li:not(:first-of-type){ border-right:1px solid #000;}
.view-technician-list li:last-child{ border-right:none;}
.view-customer-list li:last-child{ border-right:none;}
*/
/* End-view-booking */

.b-setting-links li{ padding:2px 5px;}

/* estimate */
.estimate-amount{width:8%;}
.estimate-contact-history{width:23%;}

.estimate-chechbox{ background-color:#2A9;}


/* inquiry header  */

#content{
}

.inquiry-details{width:45%;}
.inquiry-history{width:25%;}	

.nav-header1 h3{ display:inline-block;
                 clear:left;}
.nav-header1 ul{ float:right;
                 clear:right;} 
.nav-header1 ul li{ display:inline-block;
                    padding-left:0.2em;
                    padding-top:0.2em;}

.nav-header1,.nav-header2,.booking-nav-h2{ position:relative;
                                           padding:0.75em ;
                                           background-color:#fff;
                                           border-bottom:1px solid #E7EAEC;
}

.booking-nav-h2 ul{ display:inline-block;}
.booking-nav-h2 ul li { display:inline-block;}										
.booking-nav-h2 .btn-group{float:right; display:inline-block;}


.booking-nav-h2{ min-height:50px;}
.all-my-inquiry{min-height:50px;}
.all-my-inquiry2{min-height:40px;}		  


.nav-header2 ul{ display:inline-block; }
.nav-header2 ul li{ display:inline-block;}
.nav-header2 .btn-group{ display:inline-block;}
.inquiry-no-result{ margin:0 auto;
                    text-align:center;
                    font-size:3em;
                    padding:2.5em 0em;}
/* inquiry deleted page */
.inquiry-no-result .inquiry-ban{font-size:3em;}


/* paging */
.pagination{ margin-left:40%;}

/* checkbox */
#delete-check{  
    margin:0.2em;
    outline:none;
    appearance:none !important;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #a8a8a8;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;

}

.notification input[type=checkbox]:checked,#delete-check:active,#delete-check:checked{
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    background-color: #fff;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color:#18A689;
    outline:none !important;
    -webkit-appearance:none;
    -webkit-outline:none;
    -moz-outline:none;
    -o-outline:none;
}

#delete-check:checked:after{
    content: '\2716';
    font-size: 17px;
    font-weight:normal;
    position: absolute;
    top: -5px;
    left: -1px;
    color: RED;
}



@media (min-width:768px) {

}
@media (min-width:992px) {

}
@media (min-width:1200px) {
}

@media (max-width:768px) {
    .setting-box{ width:100%;}
    .contractor_booking_list li{

        padding:10px;
    }
    .services_head {
        margin-bottom:-1px !important;
    }
    .ltr{ text-align:right; padding:7px;}
    .attributes_group:first-child,
    .attributes_group:nth-of-type(2){ width:50%;
                                      display:inline-block;
                                      padding-right:10px;
    }
    .attributes_group:nth-of-type(3){ float:left;
                                      width:33.3%;}
    .services_content{border:none !important;}

    .this_service_total,.service_amount{ float:left;}



    .status_label{padding:7px;}
    .consider_min_price{float:right;}




    .display_on_mobile { display:block;}
    .mobile_display_none{ display:none;}









    .onsite_client_icon{ padding: 10px 17px;}
    .custom_date_sm_mobil{ padding-left:10px !important;
                           padding-right:4px  !important;
    }

    .custom_time_sm_mobil{ padding-left:5px  !important;
                           padding-right:4px  !important;
    }
    .first_visit_header .collapse-link { 
        color:#FFF;
    }



    #booking_box_details{ width:100% !important;}
    .booking_box{ width:100% !important;}
    .display-mobile{ display:table !important;
                     width:100%;
                     margin-top:5px;
                     margin-bottom:6px;
                     text-align:center;
    }


    .display-mobile li { display:table-cell;
                         padding:5px; 
                         width:33%;
                         border-right:1px solid #ecefee;
    }

    .display-mobile li:last-of-type{ border-right:none;}


    .btn-group{
        margin-bottom:6px;
    }
    .pagination{ margin-left:25% !important; }
    #fn_nearest .modal-dialog{ width:auto !important;}
    .fa-width  .modal-dialog { width:auto !important;}
    .n-width  .modal-dialog { width:auto !important;}
    .customer_save_button > input[type="submit"]{ width:100% !important;
                                                  padding:12px 12px !important;}
    .nav-header1 ul{ font-size:10px;}
    .float-lg-r{float:inherit;}
    .all-my-inquiry{min-height:100px;}
    .inquiry-details{width:auto;}
    .inquiry-history{width:auto;}

    #second-create-new,#notification-list-b,#setting-b,#btn-mobile-size{ display:block !important;}
    #first-create-new,#search-btn-primary,#notify_list{ display:none;}
    .row { padding-bottom:10px;}
}
@media (max-width:520px) {
    .dashboard_customer{padding-left:25px !important;}
}
@media (max-width:561px) {

    .contractor-box #preview img{max-width: 30% !important;}
    .services_content{border:none !important;}
    .attributes_group:first-child,
    .attributes_group:nth-of-type(2){ width:56%;}
    .attributes_group:nth-of-type(3){ width:42% !important;
                                      padding-right:10px !important;
                                      float:left;}
    .this_service_total,.service_amount{ width:40% !important;
                                         padding-right:10px !important;
                                         float:left;}


    .service_auto_generate_title{ font-size: 0.95em;}
    /*.services_content{border:none !important;}
    .attributes_group:nth-of-type(3){ width:42% !important;
                                                                      float:left;}
            .this_service_total,.service_amount{ width:40% !important;
                                                                                 float:left;}*/
    /* booking view */
    .col-xs-1, .col-sm-1, 
    .col-md-1, .col-lg-1, 
    .col-xs-2, .col-sm-2, 
    .col-md-2, .col-lg-2, 
    .col-xs-3, .col-sm-3,
    .col-md-3, .col-lg-3, 
    .col-xs-4, .col-sm-4, 
    .col-md-4, .col-lg-4, 
    .col-xs-5, .col-sm-5,
    .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, 
    .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, 
    .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8,
    .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, 
    .col-md-9, .col-lg-9, 
    .col-xs-10, .col-sm-10,
    .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, 
    .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12,
    .col-md-12, .col-lg-12,.btn-group{
        margin-bottom:2px;
    }

    #first-table-db{font-size:7.25px !important;}
    /* end booking view */
    /* edit form for booking and estimates */
    body.modal-open { position: fixed !important; }
    .pagination{ margin-left:0px !important; }

    .fform {padding:0px 5px;
            margin-top:15px;}

    .edit-form-search{ 
        width:83%;}
    .edit-links{  
        padding-left:5px;
    }
    .Booking-edit h2{ font-size:16px;}
    .Booking-edit label,.Booking-edit.to{ margin-left:0px;
                                          width:85px; 
                                          font-size:12px;}
    .Booking-edit input{     width:65%; 
                             padding:1px;}
    .Booking-edit select {   width:60%;
                             padding:1px;}
    .btextarea{ margin-left:2px;
                width:100% !important;}

    .calender_slct_customer_cont
    {margin-left:5px;
     width:99%;}
    .service-description-with-invoice{
        margin-top:15px;
        margin-left:5px;
        width:99%;}

    .service-list{ padding:2px;}
    .service-list li{  
        margin:0px 1px; 
        font-size:10px;}
    .service-list li:nth-child(2){ display:inline-block; width:50%;}

    .service-chieckedd{ width:55%;}
    .service-det-list{ margin-left:2px;}
    .service-det-list li{ margin-right:2px;
                          font-size:11px;}
    .service-det-list li:last-child{ margin-left:3px;}

    .service-header-list li:nth-child(2),.service-header-list li:last-child{ margin-right:5px;
                                                                             font-size:11px;}

    .part-amount-total{ margin-left:0px;
                        font-size:11px;}

    .part-amount-total > li{ margin-right:7px;}
    .service-chieckedd label.checkup{ font-size:10px;}

    .total-amount{ float:right;
                   display:inline-block;
                   width:45%;
    }
    .final-invoice{ width:100%;
                    margin-left:0px;} 

    .Booking-edit .btextarea{ margin-left:0px; }
    .service-edit{ margin-top:5px; 
                   margin-left:10px;
    }
    .calender_service_slctd_service_booking_service > textarea{ width:95%;
                                                                margin-right:5px;}

    .sort_booking_cont{-moz-padding-start:0px; }

    #status-fltr{ margin-top:5px;}

    /* booking table */
    .table-bordered{ border-top:none; }
    .booking-total{float:right;
                   width:100%;
    }

    .contractor_right_side{position:relative;}
}






@media (max-width: 480px){

    .services_content{border-top:0px !important;
                      border:none;}
    .add_new_service{ right:0px;}
    .services_head { padding-left:0px; 	
                     padding-right:0px;
                     margin-bottom:-1px !important;
    }
    .consider_min_price{float:right;}

    .Products_mobile{ margin-left: -22px;
                      margin-right: -22px;
    }

    .satisfaction_table{ font-size:11px;}
    .booking_status_center{ margin-left:33%;}
    .services_panel .panel-body{ padding:0px !important;}
    .form-signin {padding: 27px 14px;}
    input[type="password"] {margin-bottom:10px;}
    #top-menu{padding:10px !important;}
    .nav-header1{min-height:130px;}
    .nav-header2{min-height:110px;}
    .booking-nav-h2{min-height:100px;}
    #feedback-form thead,.small_font_size_tb thead{ font-size:11px;}
    #feedback-form tbody,.small_font_size_tb tbody{ font-size:10px;}
    #feedback-form tbody tr td,.small_font_size_tb tbody tr td{padding: 5px;}

    .ibox-content{	padding-right:8px !important;
                   padding-left:8px !important;}
    .orginal_inquriy tbody th{ width:25%;}
    .rating_tag{display: block !important; width:100%;}
    .stars-mobile{display: block !important;}
    
    .contractor-box #preview img{
	  max-width: 32% !important;
	}
        
        .topLinks.topLinkBack{
            float:left !important;
        }
        .topLinks{
           
            margin-right: 0px !important;
        }
        .save-and-back{
            margin-bottom: 0px !important;
        }
        .nearst-and-find{
             margin-top:10px !important;
        }
        .no-padding-b-mobile{
            padding-bottom: 0px !important;
        }
        .wrapper{ padding:13px 0px !important;}
        

}							

@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {
    .final-invoice{ display:block; 
                    width:34%;
                    padding:13px;
                    margin:auto 2% auto auto;
    }

.contractor-box #preview img{max-width: 32% !important;}
}

.rate-ex1-cnt{
	/*width:225px;*/
        /*height: 40px;*/
	border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;
}
.rate-ex1-cnt .rate-btn{
	width: 45px; height:40px;
	float: left;
	background: url(/pic/rate-btn.png) no-repeat;
	cursor: pointer;
}
.rate-ex1-cnt .rate-btn:hover, .rate-ex1-cnt  .rate-btn-hover, .rate-ex1-cnt  .rate-btn-active{
	background: url(/pic/rate-btn-hover.png) no-repeat;
}

.rating_tag{
    margin-left: 10px;
    display: block;
    float: left;
    line-height: 30px;
    font-weight: bold;
}

.seen_by{
 color:#999;
 font-size:11px;
}




