
		a:hover { color: none;  }
               
		
		@font-face {
			  font-family: 'EncodeSansCondensedRegular';
			  src: url('../fonts/EncodeSansCondensed-400-Regular.ttf');
			  font-weight: normal;
			  font-style: normal;
			}
		
		@font-face {
			  font-family: 'MyriadPro';
			  src: url('../fonts/MyriadPro-Regular.otf');
			  font-weight: normal;
			  font-style: normal;
			} 
		
		  body , input, button, select, textarea{
		   background-color:#eff4fa;
		   font-family : 'MyriadPro';
		  }
    .error{
      color:red;
    }

.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

.logo{
 padding-top:20px;
}

.reponsive-menu{
  display:none;
 }

.box-footer , #additional_service{
 cursor:pointer;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contact-sub-container{
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 0px 30px;
    position: relative;
    margin-bottom:20px;

}

.delete-sub-container{
    position: absolute;
    right: -4px;
    top: -7px;
}

  /* scroll bar customize style*/ 

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar:horizontal {
    height: 9px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background:#fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(12, 183, 238); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(12, 183, 238); 
}

		  
		  a{
		   text-decoration : none;
		  }
		  
		  ul{
		   margin:0px;
		   padding:0px;
		   list-style-type: none;	
		  }

                 .form-control{
                    height: auto;
                    font-size: 18px;
                  }
		  
		  .container{
		   width :931px;
                   padding-right: 15px;
                   padding-left: 15px;
		   margin:auto;
		   position:relative;
           
		  }

                @media (max-width:360px){
                  .container {
                    width:300px;
                   }
                 
                 }
                 @media (min-width:360px){
                  .container {
                    width:335px;
                   }
                 
       
                 }
                
                @media (min-width:480px){
                  .container {
                    width:458px;
                   }
                 }
              
                @media (min-width:568px){
                  .container {
                    width:556px;
                   }
                 }
 
                 @media (min-width: 768px) {
                  .container {
                   width: 750px;
                   }
                 }
                @media (min-width: 992px) {
                 .container {
                   width: 970px;
                  }
                }
                 
                        
		  
		  .header{
		   height: 150px;
		   background-color:#2958c0;
		   border-top: 5px solid #0cb7ee;
		  }
		  
		  .menu {
		   margin-top:5px;
		   float:right;
		  }
		  
		  .float-r {
		   float:right;
		  }
		  .float-l {
		   float:left;
		  }
		  
                 

		  
		  .menu li , .sub-menu li{
		   float:left;
		  }
		  
		  .menu li a {
		   color:#0cb7ee;
		  }
		  .menu li a, .sub-menu li a , .reponsive-menu li a{		   
		   font-weight:bold;
		   text-decoration:none;
		   margin-left: 20px;
		  }
		  
		  .sub-menu > ul:first-child , .reponsive-menu > ul:first-child{
		   margin-bottom:10px;
		   padding-left:40px;
		  }
		  
		  .sub-menu li a , .reponsive-menu li a {
		   font-weight:normal;
		   margin-left: 0px;
		   text-align: center;
           display: inline-block;
		  }
		  
		  .circle{
		   position:relative;
		  }
		  
		  .circle , .small-circle{
		   background-color: #1976cd;
           display: block;
           width: 50px;
           height: 50px;
           border-radius: 100%;
           margin: auto;
		   color:#ffffff;
                   text-align:center;
		  }
		  
		  .sub-menu ul .small-circle , .reponsive-menu ul .small-circle{
		        width: 12px;
				height: 12px;
				padding: 0px;
				margin-right: 4px;
		  }
		  
		  .sub-menu ul.small-circles , .reponsive-menu ul.small-circles {
		    position: absolute;
            top: 22px;
            right: -62px;
		  }
		  
		  .next-step
		  {
		    position: absolute;
			top: -11px;
			right: 25px;
			width: 80;
			height: 80;
			background-color: #01B5F0;
			box-shadow: -1px 0px 3px #18428d;
                        text-align: center;
		  }
		  
		  .sub-menu >ul>li{
		    margin-right: 62px;
		  }
		  
		  .sub-menu > ul > li:last-child{
		   padding-right:0px;
		  }
		  
		 .sub-menu .icons , .reponsive-menu icons{
                   line-height:50px;
		 }
		 
		 .box{
		  background-color:#ffffff;
		  border-radius:10px;
		  position: absolute;
		  left: 0px;
	      right: 15px;
		  top: -45px;
		 }
		 
		 .box-footer, .box-title{
		   background-color:#01b5f0;
		   color:#ffffff;
		 }
		 
		 .box-title {		   
		   border-top-left-radius:10px;
		   border-top-right-radius:10px;
		 }
		 
		 .box-footer {		   
		   border-bottom-left-radius:10px;
		   border-bottom-right-radius:10px;
		   position:relative;
		 }
		 
		 .confirm-box{
		   border-bottom-left-radius:10px;
		   border-bottom-right-radius:10px;
		 }
		 
		 .box-title h3 {
		  line-height:60px;
		  padding-left:25px;
		  text-shadow: -1px -1px #18428d;
		  margin:0px;
		  font-family: 'EncodeSansCondensedRegular';
		 }

#myModal .box-title h3 , #myModal .box-footer h3{
                  line-height:35px;
                 }
		 .box-title span{
		  font-weight: bold;
          text-shadow: none;
          font-size: 18px;
		 }
		  
		 .plus,.delete-service , .delete-sub-container{
		      text-decoration: none;
                      width: 30px;
                      background-color: #5bc0de;
                      display: inline-block;
                      color: #fff;
                      text-align: center;
                      border-radius: 50%;  
		 }

                .plus i , .delete-service i , .delete-sub-container i{
                   line-height:30px;
                  }

                  .summary .plus i{
                   font-size:19px;
                  }
		 
		 .marked{
		  color:#49c059;
		 }
		 .marked-circle{
		  background-color:#49c059;
		 }
		 
		 .disabled{	  
		  color:#1976cd;
		 }
		 
		 .disabled-circle{
		   background-color:#1976cd;
		 }
		 
		 .active-circle{
		  background-color: #0bb5ee;
          box-shadow: -1px 1px 4px #18428d;
          border: 1px solid #18428d;
		 }
		 .active{
		  color: #0bb5ee;
		 }
		 
		 
		 .box-content , .box-content2{
		  background-color:#ffffff;
		  padding : 30px 15px 0px 30px;
		  font-family: 'EncodeSansCondensedRegular';
		 }
		 
		
		 
		 .box-content2{
		  padding-top: 10px;
		  text-align: right;
		  padding-right: 23px;
		  padding-bottom: 30px;
		  color:#68caf2;		  
		 }

		 .box-content2 h5{
		  color:#959494;
		 }
		 
		 .box-content2 .total-details{
		    font-size: 21px;
		 }
		 
		 .primary-contact h4 , .secondary-contact h4 , .booking-address h4 ,.service-attributes{
		   color:#959494;
		 }
		 
		 .box-footer h3{
		   line-height:60px;
		   font-family: 'EncodeSansCondensedRegular';
		   padding-left:30px;
		   margin-bottom:0px;
		 }
		 
		 .box-footer a i{
		    line-height:80px;
		 }
 		 
		 
               
                 .additional-icon{
                   text-align:right;
                   font-size:18px;
                   padding-right:30px;  
	           margin-bottom:15px;
                   cursor:pointer;
                 }
		 .service-details{
		   font-family: 'EncodeSansCondensedRegular';
		   color:#68caf2;
		   margin-bottom: 20px;
		 }
		 
		 .service-details h4
		 {
		  margin-top:0px;		 		  
		 }
		 
		 
		 .divider
		 {
		    height: 1px;
			margin: 9px 0;
			overflow: hidden;
			background-color: #e5e5e5;
		 }
		 
		 #Quote-details .box-content{
		  padding:15px;
		 }
		 .service-box{
		  border: 1px solid #01b5f0;
		  border-radius : 15px;
		  padding:15px;
		  font-family: 'EncodeSansCondensedRegular' !important;
          color: #68caf2;
		  position:relative;
		  margin-bottom:12px;
		 }
		 
		 .floor-box{
		  width:132px;
		  height:132px;
		  border-radius:13px;
		  overflow: hidden;
		  position: relative;
		  margin-right:20px;
		  margin-bottom:15px;
		 }
		 
		 .floor-name{
		    display: block;
			background-color: #01b5f0;
			position: absolute;
			bottom: 0px;
			width: 100%;
			text-align: center;
			line-height: 30px;
			color: #ffffff;
			font-size: 18px;
		}
		
		.details , .details h4{
		 font-size:19px;
		}
		
		.service-box select{
		 border-radius: 15px;
		 color:#5d5d5d;
		}
		
		.service-box .delete-service{
		    position: absolute;
            top: 0px;
            right: 0px;
		}
		
		.email-quote{
		 margin-bottom:15px;
		}

                 .login{
                  clear:both; 
                 }
		
		 .email-quote a ,.faqs a , .login a{
		   font-family: 'EncodeSansCondensedRegular';
		   color:#ffffff;
		   font-size: 23px;
           border-radius: 20px;
		 }
		 
		 .arrow{
		    position: absolute;
			display: block;
			color: #01b5f0;
		 }
		 
		 #confirmed-booking .box-title , #login-customer .box-title , #select-postCode .box-title{
		  padding:15px;
		  padding-right:30px;
		  text-align :center;
		  font-family: 'EncodeSansCondensedRegular';
		  font-size: 23px;
		 }
		 
		 .right-col{
		  background-color:#cbeefb;		  
		  color:#01b5f0;
		 }
		 
		 .right-col .need-to-know{
		  padding:40px;
		  padding-bottom:20px;
		  line-height: 30px;
          font-size: 18px;
		 }
		 .right-col h4{
		  font-size: 23px;
		 }
		
		.right-col .download-app{
		 margin-top:35px;
		 font-size: 18px;
		}
		.download-app ul{
		  max-width: 260px;
                  margin: 0 auto;
		}

                .download-app li{
		 margin-bottom:20px;
		}
			
		

                .welcome-back{
                 width:265px;
		 height:319px;
		 background:url('../pic/welcome-back.png') no-repeat 0px 0px;
		 margin: 0px auto;
                 
                }
.welcome{
                 width:265px;
		 height:319px;
		 background:url('../pic/tile-cleaner.png') no-repeat 0px 0px;
		 margin: 0px auto;
                 
                }
                 

		
		.left-col .bok-num{
		 font-size: 53px;
		 text-shadow: -1px -1px #18428d;
		}
		
		.login a{
		 background-color:#2158bd;
		 padding-left:10%;
		 padding-right:10%;
		}
		
		.left-col p:last-child{
		 font-size:16px;
		 margin-top:20px;
		}

               .thank-you img{
                  max-width:100%;
               }

               .welcome-text{
                 margin-top:60px;
               }

               #login-customer .box-title , #select-postCode .box-title{
                 padding-left: 40px;
                 font-size:22px;
                }

               #login-customer input , #select-postCode input{
               font-size: 18px;
               color: #9c9c9c;
               border-radius: 18px;
               text-align: center;
               padding: 20px 12px;
              }
              
              .margin-input{
                margin-left:10%;
               }
            
          
            #confirm-booking .box-footer , #confirm-booking .next-step
            { 
                background-color:#49c059;
            }
            

           #myModal .modal-title{
              text-align : center;   
          }

           #myModal .modal-content{
            border-radius : 10px 
          }

          #myModal .box-footer 
          {
            padding:12px;
            margin-top:0px;
            text-align:center;
          }
          #myModal .box-footer h3{
           margin-top:0px;
          }
          
          .select-value{
            padding: 10px;
            background-color: #d1f1fc;
            text-align: center;
            font-size: 23px;
            color: #0cb7ee;
            font-family: 'EncodeSansCondensedRegular';
          }
         
          #myModal .modal-footer{
           padding:0px;
         }

         .select-options{
           height: 300px;
           overflow: auto;
           padding: 0px 30px;
          }
         
        .select-options li {
          margin-left:20px;
         float:left;
         width:120px;
         height:200px;
        }
       
       .select-options .option-image{
          border: 10px solid #fdfefe;
          box-shadow: 0px 5px 5px #dce0e0;
          width:120px;
          height:120px;
          overflow:hidden;
          font-family: 'EncodeSansCondensedRegular';
        }

     .selected-value .option-image{
      border-color:#01b5f0;
     }

     .selected-value .option-text{
      color:#01b5f0;
     }

      .select-options .option-text{
         text-align: center;
         margin-top: 10px;
         color: #8d8d8d;
         font-size: 20px;
      }
		
 .summary{
   color: #0db7ee;
   font-size:25px;
   font-family: 'EncodeSansCondensedRegular';
   line-height: 35px;
  }

  .payment-details{
   margin-top:10px;
}
  .payment-types a  {
   display: block;
   float:left;
   margin-right: 5px;
  }
  
  .service-item{
    padding:10px 0px;
    margin-bottom:20px;
   }

  .all-services .service-item{
    margin-right:0px;
  }

  .all-services{
    overflow:auto;
   height:500px;
  }
 
   .all-services li{
     padding:0px 10px;
   }
  .service-item p{
    font-family: 'EncodeSansCondensedRegular';
    font-size:18px;
  }

  .service-item h3
  {
   color:#a6a6a6;
   font-family: 'EncodeSansCondensedRegular';
  }

  .service-item img{
    width: 130px;
    height: 125px;
    border-radius:10px;
  }

  .service-item:hover {
   background-color:#d1f1fc;
   color:#08abe4;
   cursor:pointer;
 }
  
  .service-item:hover h3{
   color:#08abe4;
 }

  .service-item:hover img{
   border-radius:0px;
   border:6px solid #01b5f0;
 }

 .input-group{
  margin-bottom:15px;
}

.attribute_content{
  
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 15px;
    color: #5d5d5d;
    font-size: 16px;
    font-weight: bold;

}

.attribute_content span{
 display:inline-block;
 float:right;
}

 .loader {
  display: none;
  background-color: #000;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  opacity: 0.8;
  z-index:100000000000;
}
 .loader img , .loading img{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
}

.loading{
 min-height:70px;
 position:relative;
}



 .reponsive-menu , .row .responsive-arrow{
  display:none;
 }

.faqs-body{
    background-color: #f8fafd;
    color: #01b5f0;
    border-radius: 5px;
    padding: 25px 40px;
    font-size: 18px;
    height:500px;
    overflow:auto;
    display:none;
}

.faqs-body h4{
 font-size:20px;
}

.faqs-body li{
 mrgin-top:25px;
}

.faqs-body a{
 color: #01b5f0;
}


 



@media (max-width: 985px) {
  
 .sub-menu , .row .normal-arrow {
 display:none ;
}
 .reponsive-menu , .row .responsive-arrow{
  display:block;
 }

  .reponsive-menu >ul>li {
    margin-bottom: 62px;
}

 .reponsive-menu ul.small-circles {
    top: 70px;
    right: 19px;
}

.reponsive-menu ul .small-circle {
 margin-bottom:4px;
}

 .reponsive-menu .available-text {
 position: absolute;
 left: 13px;
}

 .reponsive-menu >ul>li{
		    margin-bottom:62px;
		  }

.reponsive-menu i {
 line-height:50px;
}

}


@media (max-width: 992px) {



 .confirm-box .right-col{
   margin-left:15px; 
 }
 
.margin-input{
 margin-left:0px;
}

 #confirm-booking .box{
  position:relative;
}

 .box-Qoute{
  margin-top:30px;
}

 .box-footer h3{
  font-size:20px;
  margin-top:0px;
}

}

@media (max-width: 768px) {
  .summary{
   font-size:20px;
 }

  .additional-icon{
   text-align:left;
  }

   .box-title h3 
  {
  font-size:20px;
  }

.welcome-text {
    margin-top: 10px;
  }
            
.left-col .bok-num {
    font-size: 30px;
}
  

}

@media (max-width: 517px) {

   .box-footer h3 
  {
   font-size: 18px;
    max-width: 200px;
    line-height: 30px;
  }

  div#calendar ul.label li{
  padding:0px 12px;
}

   .service-name h3 , .additional-icon {
    font-size:18px;
   }

 
}

@media (max-width: 360px) {

   .box-footer h3 
  {
   font-size: 16px;
  }

  .box-title h3 , .service-name h3 ,.additional-icon {
     font-size: 16px;
  }


}





// by Yasmeen



