/* 
	Generic Styling, for Desktops/Laptops 
	*/
.responsive-table { 
		
	background-color:#fff;
		
}

.serviceContainer{
 padding-left:10px;
 
}
#selectedServices  > div{ padding:20px 12px !important;
						border-bottom:1px solid #000;
					    }
.serviceContainer:nth-of-type(even),#selectedServices  > div:nth-of-type(even){ 
	background-color:#F5F5F5; 
 }


table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}
		

/* make the toolbar wrap */
.mceToolbar td {
    display:table-row;
    float: left;
}
.mceToolbar td:nth-of-type(11){
    clear: left;
}

	.responsive-table  >thead{ display: table-header-group;
							vertical-align: middle;
							border:none !important;
							
							}
							
	.responsive-table >thead th{     background-color:#31BC86 !important;
							       font-weight: bold;
							       color: #FFF;
								   white-space: nowrap;
								   padding:0.75em;
								   text-align:left;
								   border:none !important;
								}


      .responsive-table tr:nth-of-type(even){ 
										background-color:#F5F5F5; 
										}
	
		
	
	
	  .responsive-table td{ 
		padding: 6px; 
		border: 1px solid #ccc; 
		/*text-align: left; */
	  }
	
	
	/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	
      .big-table thead th{
	   padding: 7px 5px !important;
	  }

      .overdue_invoices thead th{
	   padding: 5px 3px !important;
	  }

      #relatedAddressTable>thead th{white-space: normal !important;}

     .responsive{
      display:inline;
     }
	@media only screen and (max-width:480px) {
			.user-settings-table td  , #user_role_tabel td{
				font-size:10px !important;
			}
	}

	.responsive .responsive-select{ width:205px !important;}



	@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px){

	.add-booking .col-md-6,.add-booking .col-md-1,#multiple_days .col-md-6,#multiple_days .col-md-1{
	 margin-bottom:15px !important;
	}
	
	#services  {
	 font-size:10px;
	}
	
		/* Force table to not be like tables anymore */
		.responsive-table > table, .responsive-table thead:not(.technician-th) , .responsive-table > tbody,
		.responsive-table th:not(.technician-th),
		.responsive-table td:not(.technician-td), .responsive-table tr:not(.technician-tr)
		{ 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.responsive-table > thead { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.responsive-table tr { border: 1px solid #ccc; }
		
		.responsive-table> tbody > tr > td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
			white-space: -pre-wrap;      /* Opera 4-6 */
			white-space: -o-pre-wrap;    /* Opera 7 */
			white-space: pre-wrap;       /* css-3 */
			word-wrap: break-word;       /* Internet Explorer 5.5+ */
			word-break: break-all;
			white-space: normal;
		}
		
		.responsive-table >tbody > tr > td:before { 
			/* Now like a table header */
			position: absolute;
			display:block;
			/* Top/left values mimic padding */
			top:6px;
			left:6px;
			padding-right: 10px; 
			white-space: nowrap;
		}

        .a_margin-responsive{
		 margin-top:15px !important;
		}
		
		.change-table-font{
	      font-size:11px;
	    }
		#booking-responsive-table >tbody >tr >td,#booking-default-responsive-table >tbody >tr >td {padding-left:20%; }
		#booking-responsive-table >tbody >tr >td:before,#booking-default-responsive-table>tbody >tr >td:before{width:20% !important; }	
		
		
		
		
		#cronjob_table>tbody >tr >td {padding-left:25%; }
		#cronjob_table >tbody >tr >td:before{width:20% !important; }
		
		
		#estimate-responsive-table> tbody > tr > td { 
			padding-left:23%; 
		}
		#estimate-responsive-table>tbody >tr > td:before { 
			width:23% !important; 
		}
	    #invoice-responsive-table> tbody > tr > td { 
			padding-left:20%; 
		}
		#invoice-responsive-table>tbody >tr > td:before { 
			width:20% !important; 
		}
		
		#inquiry-responsive-table > tbody > tr > td{ padding-left:20%;}
		#inquiry-responsive-table > tbody > tr > td:before{ width:20%;}
		
		#waiting-booking-responsive-table > tbody > tr > td{ padding-left:20%;}
		#waiting-booking-responsive-table > tbody > tr > td:before{ width:20%;}
				
		#deleted-inquiry-table>tbody >tr >td{padding-left:20%;}
		#deleted-inquiry-table >tbody>tr>td:before{width:20%;}

		
		#customer-responsive-table > tbody > tr > td {padding-left:25%;}
		#customer-responsive-table > tbody > tr > td:before{ width:25%;}
		
		#complain-table>tbody>tr>td{padding-left:20%;}
		#complain-table>tbody>tr>td:before{ width:20%;}
		
		#booking-status-table>tbody>tr>td{ padding-left:20%;}
		#booking-status-table>tbody>tr>td:before{ width:20% !important;}
                
        #convert-status-table>tbody>tr>td{padding-left:20%;}
		#convert-status-table>tbody>tr>td:before{ width:20% !important;}
		
		#city_table>tbody>tr>td{padding-left:30%;}
		#city_table>tbody>tr>td:before{ width:30% !important;}
		
		#bank_table>tbody>tr>td{padding-left:35%;}
		#bank_table>tbody>tr>td:before{ width:35% !important;}
		
		#attribute_table>tbody>tr>td{padding-left:40%;}
		#attribute_table>tbody>tr>td:before{ width:40% !important;}
		
		
		
		
		#attach_img_table>tbody>tr>td{padding-left:40%;}
		#attach_img_table>tbody>tr>td:before{ width:40% !important;}
		
		
        .user-settings-table>tbody>tr>td{padding-left:34%;}
		.user-settings-table>tbody>tr>td:before{ width:34%;} 

        .setting-companies-table>tbody>tr>td{padding-left:30%;}
		.setting-companies-table>tbody>tr>td:before{ width:30%;} 

        .setting-services-table>tbody>tr>td{padding-left:25%;}
		.setting-services-table>tbody>tr>td:before{ width:25%;}

        .setting-bookingstatus>tbody>tr>td{padding-left:25%;}
		.setting-bookingstatus>tbody>tr>td:before{ width:25%;}

        .setting-cronjob-table>tbody>tr>td{padding-left:35%;}
		.setting-cronjob-table>tbody>tr>td:before{ width:35%;}

        #employee-report>tbody>tr>td{padding-left:35%;}
		#employee-report>tbody>tr>td:before{ width:35%;}
		
		#payement-receive>tbody>tr>td,#overdue_invoices_table>tbody>tr>td{padding-left:35%;}
		#payement-receive>tbody>tr>td:before,#overdue_invoices_table>tbody>tr>td:before{ width:35%;}

        .common-reports>tbody>tr>td{padding-left:35%;}
		.common-reports>tbody>tr>td:before{ width:35%;}

        .contractors-reports>tbody>tr>td{padding-left:35%;}
		.contractors-reports>tbody>tr>td:before{ width:35%;}
		
        #contractor-details-summary>tbody>tr>td{padding-left:35%;}
		#contractor-details-summary>tbody>tr>td:before{ width:35%;}
                
        #contractor-booking-payement-report>tbody>tr>td{padding-left:35%;}
		#contractor-booking-payement-report>tbody>tr>td:before{ width:35%;}

        #contractors-payement-summary-reports>tbody>tr>td{padding-left:35%;}
		#contractors-payement-summary-reports>tbody>tr>td:before{ width:35%;}

        #refund-history-report>tbody>tr>td{padding-left:35%;}
		#refund-history-report>tbody>tr>td:before{ width:35%;}

		#saved-reports>tbody>tr>td{padding-left:25%;}
		#saved-reports>tbody>tr>td:before{ width:25%;}
		
		
		#user_role_tabel>tbody>tr>td{padding-left:35%;}
		#user_role_tabel>tbody>tr>td:before{ width:35%;}
		
		#customer_type_table>tbody>tr>td{padding-left:50%;}
		#customer_type_table>tbody>tr>td:before{ width:50%;}
		
		#future_dash_header_table>tbody>tr>td{padding-left:50%;}
		#future_dash_header_table>tbody>tr>td:before{ width:50%;}
		
		
		#future_dash_table>tbody>tr>td{padding-left:40%;}
		#future_dash_table>tbody>tr>td:before{ width:40%;}
		
		
		#past_dash_table>tbody>tr>td{padding-left:40%;}
		#past_dash_table>tbody>tr>td:before{ width:40%;}
		
		
		#completed_dash_table>tbody>tr>td{padding-left:50%;}
		#completed_dash_table>tbody>tr>td:before{ width:50%;}
		
		#inquiry_dash_header_table>tbody>tr>td{padding-left:50%;}
		#inquiry_dash_header_table>tbody>tr>td:before{ width:50%;}

		#employee-report,#overdue_invoices_table {
		 font-size:12px !important;
		}

        #UnapporvedPaymentTable>tbody>tr>td{padding-left:25%;}
		#UnapporvedPaymentTable>tbody>tr>td:before{ width:25%;}
               
        #Claim-table>tbody>tr>td{padding-left:25%;}
		#Claim-table>tbody>tr>td:before{ width:25%;}

        #relatedAddressTable>tbody>tr>td{padding-left:25%;}
		#relatedAddressTable>tbody>tr>td:before{ width:25%;}

        #recent_emails>tbody>tr>td{padding-left:25%;}
		#recent_emails>tbody>tr>td:before{ width:25%;}

        #recent_complaints>tbody>tr>td{padding-left:25%;}
		#recent_complaints>tbody>tr>td:before{ width:25%;}

		
        #recent_discussions>tbody>tr>td{padding-left:25%;}
		#recent_discussions>tbody>tr>td:before{ width:25%;}

        #user_activity>tbody>tr>td{padding-left:25%;}
		#user_activity>tbody>tr>td:before{ width:25%;}

		
        #deleted_customer>tbody>tr>td{padding-left:28%;}
		#deleted_customer>tbody>tr>td:before{ width:25%;}

		
		/* recent emails table in dashboard */
		#recent_emails > tbody > tr > td:nth-of-type(2):before{ content: "Date";}
		#recent_emails> tbody > tr > td:nth-of-type(3):before{ content: "Event On";}
		#recent_emails > tbody > tr > td:nth-of-type(4):before{ content: "Subject";}
		#recent_emails > tbody > tr > td:nth-of-type(5):before{ content: "Sender";}
		#recent_emails > tbody > tr > td:nth-of-type(6):before{ content: "Cron job";}
		#recent_emails > tbody > tr > td:nth-of-type(7):before{ content: "To";}
		/* booking list data */
								 
		#booking-responsive-table > tbody > tr > td:nth-of-type(1):before{ content: "Delete ?"; }
		#booking-responsive-table > tbody > tr > td:nth-of-type(2):before{ content: "Booking";}
		#booking-responsive-table > tbody > tr > td:nth-of-type(3):before{ content: "Details";}
		#booking-responsive-table > tbody > tr > td:nth-of-type(4):before{ content: "Amount";}
		#booking-responsive-table > tbody > tr > td:nth-of-type(5):before{ content: "Technician";}
		#booking-responsive-table > tbody > tr > td:nth-of-type(6):before{ content: "Users";}
		#booking-responsive-table > tbody > tr > td:nth-of-type(7):before{ content: "Confirmation";}
		
		#waiting-booking-responsive-table > tbody > tr > td:nth-of-type(1):before{ content: "Booking#";}
		#waiting-booking-responsive-table > tbody > tr > td:nth-of-type(2):before{ content: "Details";}
		#waiting-booking-responsive-table > tbody > tr > td:nth-of-type(3):before{ content:"Amount";}
		#waiting-booking-responsive-table > tbody > tr > td:nth-of-type(4):before{ content:"Technician";}
		#waiting-booking-responsive-table > tbody > tr > td:nth-of-type(5):before{ content:"Users";}
		
		
		
		
		#booking-default-responsive-table > tbody > tr > td:nth-of-type(1):before{ content:"Booking#";}
		#booking-default-responsive-table > tbody > tr > td:nth-of-type(2):before{ content:"Details";}
		#booking-default-responsive-table > tbody > tr > td:nth-of-type(3):before{ content:"Customer";}
		#booking-default-responsive-table > tbody > tr > td:nth-of-type(4):before{ content:"Technician";}
		#booking-default-responsive-table > tbody > tr > td:nth-of-type(5):before{ content:"Complaint";}
		#booking-default-responsive-table > tbody > tr > td:nth-of-type(6):before{ content:"Services";}
		#booking-default-responsive-table > tbody > tr > td:nth-of-type(7):before{ content:"Amount";}
		
		/* estimate list data */
		#estimate-responsive-table > tbody > tr > td:nth-of-type(1):before{ content: "Delete ?";}
		#estimate-responsive-table > tbody > tr > td:nth-of-type(2):before{ content:"Estimate";}
		#estimate-responsive-table > tbody > tr > td:nth-of-type(3):before{	content:"Details";}
		#estimate-responsive-table > tbody > tr > td:nth-of-type(4):before{	content:"City";}
		#estimate-responsive-table > tbody > tr > td:nth-of-type(5):before{ content:"Technician";}
		#estimate-responsive-table > tbody > tr > td:nth-of-type(6):before{ content:"Users";}
		#estimate-responsive-table > tbody > tr > td:nth-of-type(7):before{ content:"Amount";}
		#estimate-responsive-table > tbody > tr > td:nth-of-type(8):before{ content:"Contact History";}
		
		
		#invoice-responsive-table >tbody >tr >td:nth-of-type(1):before{ content: "Delete ?";}
		#invoice-responsive-table >tbody >tr >td:nth-of-type(2):before{ content:"Invoice";}
		#invoice-responsive-table >tbody >tr >td:nth-of-type(3):before{	content:"Details";}
		#invoice-responsive-table >tbody >tr >td:nth-of-type(4):before{	content:"City";}
		#invoice-responsive-table >tbody >tr >td:nth-of-type(5):before{ content:"Technician";}
		#invoice-responsive-table >tbody >tr >td:nth-of-type(6):before{ content:"Users";}
		#invoice-responsive-table >tbody >tr >td:nth-of-type(7):before{ content:"Amount";}
		
		#inquiry-responsive-table >tbody >tr >td:nth-of-type(1):before{ content:"Delete";}
		#inquiry-responsive-table >tbody >tr >td:nth-of-type(2):before{ content:"Inquiry";}
		#inquiry-responsive-table >tbody >tr >td:nth-of-type(3):before{ content:"Details";}
		#inquiry-responsive-table >tbody >tr >td:nth-of-type(4):before{ content:"Services";}
		#inquiry-responsive-table >tbody >tr >td:nth-of-type(5):before{ content:"Labels";}
		#inquiry-responsive-table >tbody >tr >td:nth-of-type(6):before{ content:"Contact History";}
		
		#inquiry-responsive-table .inquiry-label{  display:block;}
		
		
		
		#deleted-inquiry-table >tbody >tr >td:nth-of-type(1):before{ content:"Delete ?";}
		#deleted-inquiry-table >tbody >tr >td:nth-of-type(2):before{ content:"Inquiry";}
		#deleted-inquiry-table >tbody >tr >td:nth-of-type(3):before{ content:"Details";}
		#deleted-inquiry-table >tbody >tr >td:nth-of-type(4):before{ content:"Customer Name";}
		#deleted-inquiry-table >tbody >tr  >td:nth-of-type(5):before{ content:"Services/Deferred to";}
		
		
		#cronjob_table >tbody >tr >td:nth-of-type(1):before{ content:"Cronjob name";}
		#cronjob_table >tbody >tr >td:nth-of-type(2):before{ content:"Start time(GMT)";}
		#cronjob_table>tbody >tr >td:nth-of-type(3):before{ content:"Start time(Sydney)";}
		#cronjob_table >tbody >tr >td:nth-of-type(4):before{ content:"Every";}
		
		
		
		
		#customer-responsive-table > tbody > tr > td:nth-of-type(1):before{ content:"Delete ?";}
		#customer-responsive-table > tbody > tr > td:nth-of-type(2):before{ content:"Details";}
		#customer-responsive-table > tbody > tr > td:nth-of-type(3):before{ content:"Customer Info";}
		#customer-responsive-table > tbody > tr > td:nth-of-type(4):before{ content:"Customer Type";}
		
		
		
		#complain-table>tbody>tr>td:nth-of-type(1):before{ content:"Delete ?";}
		#complain-table>tbody>tr>td:nth-of-type(2):before{content:"Complaint";}
		#complain-table>tbody>tr>td:nth-of-type(3):before{content:"Details";}
		#complain-table>tbody>tr>td:nth-of-type(4):before{content:"Customer";}
		#complain-table>tbody>tr>td:nth-of-type(5):before{content:"Technician";}
		#complain-table>tbody>tr>td:nth-of-type(6):before{content:"User";}
		
		/* booking-status-table data*/
		
		#booking-status-table>tbody>tr>td:nth-of-type(1):before{ content:"Date";}
		#booking-status-table>tbody>tr>td:nth-of-type(2):before{content:"Booking#";}
		#booking-status-table>tbody>tr>td:nth-of-type(3):before{content:"Details";}
		#booking-status-table>tbody>tr>td:nth-of-type(4):before{content:"Customer Name";}
		#booking-status-table>tbody>tr>td:nth-of-type(5):before{content:"Amount";}

        #convert-status-table>tbody>tr>td:nth-of-type(1):before{ content:"Date";}
		#convert-status-table>tbody>tr>td:nth-of-type(2):before{content:"Booking#";}
		#convert-status-table>tbody>tr>td:nth-of-type(3):before{content:"Details";}
		#convert-status-table>tbody>tr>td:nth-of-type(4):before{content:"customer Name ";}
		#convert-status-table>tbody>tr>td:nth-of-type(5):before{content:"Action";}
        #convert-status-table>tbody>tr>td:nth-of-type(6):before{content:"Amount";}
		
		/*.responsive-dashboard-table >th{transform:rotate(90deg); transform-origin:left top 0;}*/

                /* settings tables */
		
		.user-settings-table>tbody>tr>td:nth-of-type(1):before{ content:"Delete ?";}
		.user-settings-table>tbody>tr>td:nth-of-type(2):before{ content:"User Info";}
		.user-settings-table>tbody>tr>td:nth-of-type(3):before{content:"Contact Details";}
		.user-settings-table>tbody>tr>td:nth-of-type(4):before{content:"Address Details";}

        .setting-companies-table>tbody>tr>td:nth-of-type(1):before{ content:"Delete ?";}
		.setting-companies-table>tbody>tr>td:nth-of-type(2):before{content:"Information";}
		.setting-companies-table>tbody>tr>td:nth-of-type(3):before{content:"Contact Details";}
		.setting-companies-table>tbody>tr>td:nth-of-type(4):before{content:"Address Details";}

        .setting-services-table>tbody>tr>td:nth-of-type(1):before{ content:"Delete ?";}
		.setting-services-table>tbody>tr>td:nth-of-type(2):before{content:"Service";}
		.setting-services-table>tbody>tr>td:nth-of-type(3):before{content:"Attribute";}
		.setting-services-table>tbody>tr>td:nth-of-type(4):before{content:"Price Equasion";}

        .setting-bookingstatus>tbody>tr>td:nth-of-type(1):before{ content:"Delete ?";}
		.setting-bookingstatus>tbody>tr>td:nth-of-type(2):before{content:"Name";}
		.setting-bookingstatus>tbody>tr>td:nth-of-type(3):before{content:"Color";}
		.setting-bookingstatus>tbody>tr>td:nth-of-type(4):before{content:"Actions";}
		.setting-bookingstatus>tbody>tr>td:nth-of-type(5):before{content:"Description";}

        .setting-cronjob-table>tbody>tr>td:nth-of-type(1):before{ content:"Delete ?";}
		.setting-cronjob-table>tbody>tr>td:nth-of-type(2):before{content:"Cronjob Name";}
		.setting-cronjob-table>tbody>tr>td:nth-of-type(3):before{content:"Every";}
		.setting-cronjob-table>tbody>tr>td:nth-of-type(4):before{content:"Is Running";}
		.setting-cronjob-table>tbody>tr>td:nth-of-type(5):before{content:"Description";}
		.setting-cronjob-table>tbody>tr>td:nth-of-type(6):before{content:"Email Template";}

/* reports tables*/
		
		
		#employee-report>tbody>tr>td:nth-of-type(1):before{ content:"EMPLOYEE";}
		#employee-report>tbody>tr>td:nth-of-type(2):before{content:"BOOKINGS";}
		#employee-report>tbody>tr>td:nth-of-type(3):before{content:"IN PROCESS";}
		#employee-report>tbody>tr>td:nth-of-type(4):before{content:"COMPLETED";}
		#employee-report>tbody>tr>td:nth-of-type(5):before{content:"FAILED";}
		#employee-report>tbody>tr>td:nth-of-type(6):before{content:"QUOTED";}
		#employee-report>tbody>tr>td:nth-of-type(7):before{content:"TO DO";}
		#employee-report>tbody>tr>td:nth-of-type(8):before{content:"ON HOLD";}
		#employee-report>tbody>tr>td:nth-of-type(9):before{content:"CANCELLED";}
		#employee-report>tbody>tr>td:nth-of-type(10):before{content:"AWAITING UPDATE";}
		#employee-report>tbody>tr>td:nth-of-type(11):before{content:"TENTATIVE";}
		#employee-report>tbody>tr>td:nth-of-type(12):before{content:"TO VISIT";}
		#employee-report>tbody>tr>td:nth-of-type(13):before{content:"COMPLAINT";}
		#employee-report>tbody>tr>td:nth-of-type(14):before{content:"Complete Amount";}
		#employee-report>tbody>tr>td:nth-of-type(15):before{content:"Quoted Amount";}
		
		#payement-receive>tbody>tr>td:nth-of-type(1):before{ content:"INV#";}
		#payement-receive>tbody>tr>td:nth-of-type(2):before{content:"Date";}
		#payement-receive>tbody>tr>td:nth-of-type(3):before{content:"Reference#";}
		#payement-receive>tbody>tr>td:nth-of-type(4):before{content:"Customer";}
		#payement-receive>tbody>tr>td:nth-of-type(5):before{content:"payment method";}
		#payement-receive>tbody>tr>td:nth-of-type(6):before{content:"Notes";}
		#payement-receive>tbody>tr>td:nth-of-type(7):before{content:"Status";}
		#payement-receive>tbody>tr>td:nth-of-type(8):before{content:"Amount";}

        #overdue_invoices_table>tbody>tr>td:nth-of-type(1):before{ content:"Date";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(2):before{ content:"Job#";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(3):before{content:"Inv#";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(4):before{content:"Contractor";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(5):before{content:"Customer Info";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(6):before{content:"Job Status";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(7):before{content:"Job Nature";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(8):before{content:"Address";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(9):before{content:"State";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(10):before{content:"Amount";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(11):before{content:"Approved Amount";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(12):before{content:"Unapproved Amount";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(13):before{content:"Unpaid";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(14):before{content:"Office Payment";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(15):before{content:"Cash Payment";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(16):before{content:"Booked By";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(17):before{content:"Overdue";}
		#overdue_invoices_table>tbody>tr>td:nth-of-type(18):before{content:"Comments";}
              /*  .responsive .responsive-select{ width:100% !important;}*/

        #refund-history-report>tbody>tr>td:nth-of-type(9):before{content:"INV#";}
		#refund-history-report>tbody>tr>td:nth-of-type(10):before{content:"Date";}
		#refund-history-report>tbody>tr>td:nth-of-type(10):before{content:"Reference#";}
		#refund-history-report>tbody>tr>td:nth-of-type(10):before{content:"Customer";}
		#refund-history-report>tbody>tr>td:nth-of-type(10):before{content:"Refund method";}
		#refund-history-report>tbody>tr>td:nth-of-type(10):before{content:"Notes";}
		#refund-history-report>tbody>tr>td:nth-of-type(10):before{content:"Status";}
		#refund-history-report>tbody>tr>td:nth-of-type(10):before{content:"Amount";}

        .common-reports>tbody>tr>td:nth-of-type(1):before{ content:"Date";}
		.common-reports>tbody>tr>td:nth-of-type(2):before{ content:"Job#";}
		.common-reports>tbody>tr>td:nth-of-type(3):before{content:"Inv#";}
		.common-reports>tbody>tr>td:nth-of-type(4):before{content:"Contractor";}
		.common-reports>tbody>tr>td:nth-of-type(5):before{content:"Job Status";}
		.common-reports>tbody>tr>td:nth-of-type(6):before{content:"Job Nature";}
		.common-reports>tbody>tr>td:nth-of-type(7):before{content:"Address";}
		.common-reports>tbody>tr>td:nth-of-type(8):before{content:"State";}
		.common-reports>tbody>tr>td:nth-of-type(9):before{content:"Amount";}
		.common-reports>tbody>tr>td:nth-of-type(10):before{content:"Approved Amount";}
		.common-reports>tbody>tr>td:nth-of-type(11):before{content:"Unapproved Amount";}
		.common-reports>tbody>tr>td:nth-of-type(12):before{content:"Approved Refund";}
		.common-reports>tbody>tr>td:nth-of-type(13):before{content:"Unapproved Refund";}
		.common-reports>tbody>tr>td:nth-of-type(14):before{content:"Unpaid";}
		.common-reports>tbody>tr>td:nth-of-type(15):before{content:"Office Payment";}
		.common-reports>tbody>tr>td:nth-of-type(16):before{content:"Cash Payment";}
		.common-reports>tbody>tr>td:nth-of-type(17):before{content:"Booked By";}
		.common-reports>tbody>tr>td:nth-of-type(18):before{content:"Comments";}
		.common-reports>tbody>tr>td:nth-of-type(19):before{content:"Company Share";}
		.common-reports>tbody>tr>td:nth-of-type(20):before{content:"Operator Share";}
		.common-reports>tbody>tr>td:nth-of-type(21):before{content:"PAYMENT TO Operator";}


        .contractors-reports>tbody>tr>td:nth-of-type(1):before{ content:"Contractor";}
		.contractors-reports>tbody>tr>td:nth-of-type(2):before{ content:"Commission";}
		.contractors-reports>tbody>tr>td:nth-of-type(3):before{content:"Registered GST";}
		.contractors-reports>tbody>tr>td:nth-of-type(4):before{content:"Amount";}
		.contractors-reports>tbody>tr>td:nth-of-type(5):before{content:"Cash Payments";}
		.contractors-reports>tbody>tr>td:nth-of-type(6):before{content:"Refunds (-)";}
		.contractors-reports>tbody>tr>td:nth-of-type(7):before{content:"Unpaid";}
		.contractors-reports>tbody>tr>td:nth-of-type(8):before{content:"Total Office";}
		.contractors-reports>tbody>tr>td:nth-of-type(9):before{content:"Company Share";}
		.contractors-reports>tbody>tr>td:nth-of-type(10):before{content:"Operator Share";}
		.contractors-reports>tbody>tr>td:nth-of-type(11):before{content:"PAYMENT TO SC";}
		.contractors-reports>tbody>tr>td:nth-of-type(12):before{content:"Invoice#";}
		.contractors-reports>tbody>tr>td:nth-of-type(13):before{content:"Amount Paid";}
		.contractors-reports>tbody>tr>td:nth-of-type(14):before{content:"Date Paid";}
		.contractors-reports>tbody>tr>td:nth-of-type(15):before{content:"Outstanding";}

                
        #contractor-details-summary>tbody>tr>td:nth-of-type(1):before{ content:"Contractor";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(2):before{ content:"Commission";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(3):before{ content:"Registered GST";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(4):before{ content:"No of Jobs";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(5):before{ content:"IN PROCESS";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(6):before{ content:"QUOTED";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(7):before{ content:"TO DO";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(8):before{ content:"ON HOLD";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(9):before{ content:"CANCELLED";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(10):before{ content:"AWAITING UPDATE";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(11):before{ content:"TENTATIVE";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(12):before{ content:"TO VISIT";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(13):before{ content:"IN PROCESS (invoice)";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(14):before{ content:"FAILED (invoice)";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(15):before{ content:"COMPLETED (invoice)";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(16):before{ content:"Amount";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(17):before{ content:"Amount";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(18):before{ content:"CHEQUE";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(19):before{ content:"CC Payments";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(20):before{ content:"EFT";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(21):before{ content:"C-D Payments";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(22):before{ content:"adfasdf";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(23):before{ content:"ffsdfsd";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(24):before{content:"dgdgda";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(25):before{content:"asdfadsf";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(26):before{content:"Cash Payments";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(27):before{content:"Refunds (-)";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(28):before{content:"Unpaid";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(29):before{content:"Total Office";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(30):before{content:"Company Share";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(31):before{content:"Operator Share";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(32):before{content:"PAYMENT TO SC";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(33):before{content:"Invoice#";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(34):before{content:"Amount Paid";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(35):before{content:"Date Paid";}
		#contractor-details-summary>tbody>tr>td:nth-of-type(36):before{content:"Outstanding";}

        #contractor-booking-payement-report>tbody>tr>td:nth-of-type(1):before{ content:"Date";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(2):before{ content:"Job#";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(3):before{ content:"Inv#";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(4):before{ content:"Contractor";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(5):before{ content:"Job Status";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(6):before{ content:"Job Nature";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(7):before{ content:"Address";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(8):before{ content:"State";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(9):before{ content:"Amount";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(10):before{ content:"Approved Payment";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(11):before{ content:"Unapproved Payment";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(12):before{ content:"Approved Refund";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(13):before{ content:"Unapproved Refund";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(14):before{ content:"Unpaid";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(15):before{ content:"Office Payment";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(16):before{ content:"Cash Payment";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(17):before{ content:"Booked By";}
		#contractor-booking-payement-report>tbody>tr>td:nth-of-type(18):before{ content:"Comments";}


                #contractors-payement-summary-reports>tbody>tr>td:nth-of-type(1):before{ content:"Contractor";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(2):before{ content:"Commission";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(3):before{ content:"Registered GST";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(4):before{ content:"No of Jobs";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(5):before{ content:"IN PROCESS (invoice)";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(6):before{ content:"FAILED (invoice)";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(7):before{ content:"COMPLETED (invoice)";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(8):before{ content:"Amount";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(9):before{ content:"CHEQUE";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(10):before{ content:"CC Payments";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(11):before{ content:"EFT";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(12):before{ content:"C-D Payments";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(13):before{ content:"adfasdf";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(14):before{ content:"ffsdfsd";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(15):before{content:"dgdgda";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(16):before{content:"asdfadsf";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(17):before{content:"Cash Payments";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(18):before{content:"Refunds (-)";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(19):before{content:"Unpaid";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(20):before{content:"Total Office";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(21):before{content:"Company Share";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(22):before{content:"Operator Share";}
		#contractors-payement-summary-reports>tbody>tr>td:nth-of-type(23):before{content:"PAYMENT TO SC";}
		
		
	
		
		  #saved-reports> tbody > tr > td:nth-of-type(1):before{ content: "Delete ?";}
		  #saved-reports>tbody>tr>td:nth-of-type(2):before{ content:"Report Type";}
		#saved-reports>tbody>tr>td:nth-of-type(3):before{ content:"Filters";}
		#saved-reports>tbody>tr>td:nth-of-type(4):before{content:"User";}
		
		
		#city_table > tbody > tr > td:nth-of-type(1):before{ content: "Delete ?"; }
		#city_table> tbody > tr > td:nth-of-type(2):before{ content: "Name";}
		#city_table > tbody > tr > td:nth-of-type(3):before{ content: "Phone Key";}
		#city_table> tbody > tr > td:nth-of-type(4):before{ content: "Postcode Key";}
		#city_table> tbody > tr > td:nth-of-type(5):before{ content: "State";}
		#city_table> tbody > tr > td:nth-of-type(6):before{ content: "Timezone";}
		
		#bank_table > tbody > tr > td:nth-of-type(1):before{ content: "Delete ?"; }
		#bank_table> tbody > tr > td:nth-of-type(2):before{ content: "Company";}
		#bank_table > tbody > tr > td:nth-of-type(3):before{ content: "Bank Name";}
		#bank_table> tbody > tr > td:nth-of-type(4):before{ content: "BSB";}
		#bank_table> tbody > tr > td:nth-of-type(5):before{ content: "Account Name";}
		
		
		
		#user_role_tabel > tbody > tr > td:nth-of-type(1):before{ content: "Delete ?"; }
		#user_role_tabel> tbody > tr > td:nth-of-type(2):before{ content: "Role Name";}
		#user_role_tabel > tbody > tr > td:nth-of-type(3):before{ content: "Default Page";}
		#user_role_tabel> tbody > tr > td:nth-of-type(4):before{ content: "Core";}
		
		
		
		
		#attribute_table > tbody > tr > td:nth-of-type(1):before{ content: "Delete ?"; }
		#attribute_table> tbody > tr > td:nth-of-type(2):before{ content: "NAME";}
		#attribute_table > tbody > tr > td:nth-of-type(3):before{ content: "Details";}
		#attribute_table> tbody > tr > td:nth-of-type(4):before{ content: "Attribute Value";}
		
		#attach_img_table > tbody > tr > td:nth-of-type(1):before{ content: "Delete ?"; }
		#attach_img_table> tbody > tr > td:nth-of-type(2):before{ content: "Image";}
		#attach_img_table > tbody > tr > td:nth-of-type(3):before{ content: "Service Name";}
		#attach_img_table> tbody > tr > td:nth-of-type(4):before{ content: "Tile Type";}
		#attach_img_table> tbody > tr > td:nth-of-type(5):before{ content: "Description";}
		
		
		#customer_type_table > tbody > tr > td:nth-of-type(1):before{ content: "Delete ?"; }
		#customer_type_table> tbody > tr > td:nth-of-type(2):before{ content: "Name";}
		#customer_type_table > tbody > tr > td:nth-of-type(3):before{ content: "Core";}
		#customer_type_table> tbody > tr > td:nth-of-type(4):before{ content: "Work Order is Required";}
		#customer_type_table> tbody > tr > td:nth-of-type(5):before{ content: "As Booking Address";}
		
		#future_dash_header_table > tbody > tr > td:nth-of-type(1):before{ content: "Open Invoices"; }
		#future_dash_header_table> tbody > tr > td:nth-of-type(2):before{ content: "Overdue Invoices";}
		
		#future_dash_table > tbody > tr > td:nth-of-type(1):before{ content: ""; }
		#future_dash_table> tbody > tr > td:nth-of-type(2):before{ content: "IN PROCESS";}
		#future_dash_table> tbody > tr > td:nth-of-type(3):before{ content: "TO DO";}
		#future_dash_table> tbody > tr > td:nth-of-type(4):before{ content: "ON HOLD";}
		#future_dash_table> tbody > tr > td:nth-of-type(5):before{ content: "CANCELLED";}
		#future_dash_table> tbody > tr > td:nth-of-type(6):before{ content: "TENTATIVE";}
		#future_dash_table> tbody > tr > td:nth-of-type(7):before{ content: "TO VISIT";}
		
		#past_dash_table > tbody > tr > td:nth-of-type(1):before{ content: ""; }
		#past_dash_table> tbody > tr > td:nth-of-type(2):before{ content: "IN PROCESS";}
		#past_dash_table> tbody > tr > td:nth-of-type(3):before{ content: "FAILED";}
		#past_dash_table> tbody > tr > td:nth-of-type(4):before{ content: "QUOTED";}
		#past_dash_table> tbody > tr > td:nth-of-type(5):before{ content: "TO DO";}
		#past_dash_table> tbody > tr > td:nth-of-type(6):before{ content: "ON HOLD";}
		#past_dash_table> tbody > tr > td:nth-of-type(7):before{ content: "CANCELLED";}
		#past_dash_table> tbody > tr > td:nth-of-type(8):before{ content: "AWAITING UPDATE";}
		#past_dash_table> tbody > tr > td:nth-of-type(9):before{ content: "TENTATIVE";}
		
		#completed_dash_table > tbody > tr > td:nth-of-type(1):before{ content: ""; }
		#completed_dash_table> tbody > tr > td:nth-of-type(2):before{ content: "Sales";}
		#completed_dash_table> tbody > tr > td:nth-of-type(3):before{ content: "Receipts";}
		#completed_dash_table> tbody > tr > td:nth-of-type(4):before{ content: "Due";}
		
		
		
		#inquiry_dash_header_table > tbody > tr > td:nth-of-type(1):before{ content: ""; }
		#inquiry_dash_header_table> tbody > tr > td:nth-of-type(2):before{ content: "Inquiries By Website";}
		#inquiry_dash_header_table> tbody > tr > td:nth-of-type(3):before{ content: "Inquiries By Phone";}
		#inquiry_dash_header_table> tbody > tr > td:nth-of-type(4):before{ content: "All Inquires";}

        #UnapporvedPaymentTable > tbody > tr > td:nth-of-type(1):before{ content: "Mark"; }
		#UnapporvedPaymentTable> tbody > tr > td:nth-of-type(2):before{ content: "Date";}
		#UnapporvedPaymentTable > tbody > tr > td:nth-of-type(3):before{ content: "Payment Details";}
		#UnapporvedPaymentTable> tbody > tr > td:nth-of-type(4):before{ content: "Technician";}
		#UnapporvedPaymentTable> tbody > tr > td:nth-of-type(5):before{ content: "Reference#";}
		#UnapporvedPaymentTable> tbody > tr > td:nth-of-type(6):before{ content: "Amount Paid";}

		#Claim-table> tbody > tr > td:nth-of-type(1):before{ content: " ";}
		#Claim-table> tbody > tr > td:nth-of-type(2):before{ content: "Claim On";}
		#Claim-table> tbody > tr > td:nth-of-type(3):before{ content: "Details";}
		#Claim-table> tbody > tr > td:nth-of-type(4):before{ content: "City";}
		#Claim-table> tbody > tr > td:nth-of-type(5):before{ content: "Users";}
		#Claim-table> tbody > tr > td:nth-of-type(6):before{ content: "Amount";}

		#relatedAddressTable> tbody > tr > td:nth-of-type(1):before{ content: "Date";}
		#relatedAddressTable> tbody > tr > td:nth-of-type(2):before{ content: "Start Time";}
		#relatedAddressTable> tbody > tr > td:nth-of-type(3):before{ content: "End Time";}
		#relatedAddressTable> tbody > tr > td:nth-of-type(4):before{ content: "Booking Number";}
		#relatedAddressTable> tbody > tr > td:nth-of-type(5):before{ content: "Booking Address";}
		#relatedAddressTable> tbody > tr > td:nth-of-type(6):before{ content: "Technician(s)";}
		#relatedAddressTable> tbody > tr > td:nth-of-type(7):before{ content: "Distance";}	
		
		
		
		#recent_complaints> tbody > tr > td:nth-of-type(1):before{ content:"Date";}
		#recent_complaints> tbody > tr > td:nth-of-type(2):before{ content:"Booking#";}
		#recent_complaints> tbody > tr > td:nth-of-type(3):before{ content:"Complaint";}
		#recent_complaints> tbody > tr > td:nth-of-type(4):before{ content:"User";}

		#recent_discussions> tbody > tr > td:nth-of-type(1):before{ content:"Date";}
		#recent_discussions> tbody > tr > td:nth-of-type(2):before{ content:"Booking#";}
		#recent_discussions> tbody > tr > td:nth-of-type(3):before{ content:"Message";}
		#recent_discussions> tbody > tr > td:nth-of-type(4):before{ content:"User";}

		#user_activity> tbody > tr > td:nth-of-type(1):before{ content:"History";}
		#user_activity> tbody > tr > td:nth-of-type(2):before{ content:"Event On";}
		#user_activity> tbody > tr > td:nth-of-type(3):before{ content:"Date";}
	

		#deleted_customer> tbody > tr > td:nth-of-type(1):before{ content:"Delete ?";}
		#deleted_customer> tbody > tr > td:nth-of-type(2):before{ content:"Details";}
		#deleted_customer> tbody > tr > td:nth-of-type(3):before{ content:"Customer Info";}
		#deleted_customer> tbody > tr > td:nth-of-type(4):before{ content:"Customer Type";}
	

		
	}
	
	
	@media only screen and (max-device-width : 500px) {
	
		
		.responsive-table > tbody > tr > td:before{font-size:9px;} 
		
		.responsive-table > tbody > tr > td {display:block;
							 			 font-size:10px;}
										 
		#booking-responsive-table > tbody > tr > td { padding-left:23%;}									  
		#estimate-responsive-table > tbody > tr > td { padding-left:27%;}
		#invoice-responsive-table > tbody > tr > td { padding-left:20%;}
	    #inquiry-responsive-table > tbody > tr > td{ padding-left:35%;}
		#deleted-inquiry-table>tbody>tr>td{padding-left:30%;}
		#customer-responsive-table > tbody > tr > td{padding-left:27%;}
		#complain-table>tbody>tr>td {padding-left:20%;}
		
        #booking-status-table>tbody>tr>td{ padding-left:25% !important;}
		#booking-status-table>tbody>tr>td:before{width:24%;}	
		
		 #convert-status-table>tbody>tr>td:nth-of-type(4){padding-left:30.5% !important;}
		 #booking-status-table>tbody>tr>td:nth-of-type(4){padding-left:31% !important;}
	 	 #cronjob_table>tbody >tr >td {padding-left:32%; }
		 #relatedAddressTable>tbody>tr>td:nth-of-type(4){padding-left:34.5% !important;}
		 #relatedAddressTable>tbody>tr>td:nth-of-type(5){padding-left:34.5% !important;}
		 #relatedAddressTable>tbody>tr>td:nth-of-type(6){padding-left:34.5% !important;}
		 
        .user-settings-table>tbody>tr>td{padding-left:35%;}
        .setting-services-table>tbody>tr>td{padding-left:30%;}
        .setting-bookingstatus>tbody>tr>td{padding-left:30%;}		
	
     	
	
	}

	