.wrapper{
 padding :0px;
}

.sign-up{

                max-width: 480px;
                padding: 35px;
                margin: 0 auto;
                margin-top: 8%;
                background-color: #fff;

            }
		
			
            .header{
                width: 100%;
				padding: 10px 0px 10px 28px;
				position: absolute;
				top: 0;
				z-index: 1;
                border-bottom: 1px solid rgba(255,255,255,.4);
				background-color: rgba(188, 192, 195, 0.61);
            }
			
			.logo-text{
			 float:left;
			}
			
			.logo{
			 float:left;
			}
			
			.logo-text h1{
			margin-top: 2px;
			margin-bottom: 2px;
            color: #fff;
            font-weight: bold;
            border-bottom: 2px solid #3B88C0;
            margin-left: 5px;
            font-size: 36px;
			}
			
			.logo-text p{
			 color: #fff;
             font-weight: bold;
             font-size: 16px;
             letter-spacing: 3px;
			 margin-left:5px;
			}
			
			.logo-text p span{
			 font-weight:normal;
             font-size: 10px;
             letter-spacing: 1px;
			}
			
			.sub-content{
			 height: 665px;
                         padding-top: 112px;
                         position: relative;
                         padding-left: 0;
                         padding-right: 0;
                         margin-bottom: 0;
                         background : url('/pic/sign-up-background.jpg')  center center no-repeat #0F3559;
			}

            .form-box-container{
                background-color: #f1f1f1;
                box-shadow: 0 2px 5px rgba(0,0,0,.15);
                border: 1px solid rgba(200,200,200,.4);
                box-sizing: border-box;
                padding: 36px;
                width: 362px;
            }
            .row{
                margin:0px;
            }
            .subtitle{
                text-align: center;
                margin-bottom: 20px;
            }
            .subtitle:after{
                content: "";
                display: block;
                height: 1px;
                margin-top: -12px;
                background-color: #ccc;

            }
            .subtitle>span{
                padding: 0 20px;
                background-color: #f1f1f1;

            }
            .login-btn,.sign-up-btn{
                width: 100%;
                height: 40px;
                line-height: 27px;
            }
			.login-btn{
			  word-
			}
			.sign-up-btn{
			 margin-top:15px;
			}
            .sign-up-form input{
                width: 100% !important;
                margin: 6px 0px !important;
                border-radius: 0px !important;
                padding: 10px;
                height: 40px;
            }
           
            .form-row{
                padding:0px !important;
            }
            .sign-up-form .input-with-plus{
                width: 100% !important;
            }
			
			.sign-up-form .right-input{
			 padding-right:0px;
			 padding-left:2px;
			}
			
			.sign-up-form .left-input{
			  padding-right:2px;
			  padding-left:0px;
			}
			
			.input-with-plus .input-group-btn {
			  width: 1% !important;
			}
			.input-group-btn a{
			 padding:12px;
			}

                        .feature-row{
			 margin: 50px 0px;
			}
                         
                        .feature-row h3
			{
			 margin: 10px 0;
                         font-weight: 300;
                         font-size: 34px;
			}
                        
                        .feature-row p
                        {
                        font-size: 15px ;
                        line-height: 25px;
                       }
			
			.ads_1{
			 background: url(/pic/GROWING_INDUSTRY.png) center bottom no-repeat;
			 height: 190px;
			 width: 190px;							
			}
			
			.ads_2{
			 background: url(/pic/FLEXIBLE_WORK_HOURS.png) center bottom no-repeat;
			 width: 190px;
			 height:190px;
			}
			
			.ads_4{
			 background: url(/pic/AUSTRALIA_WIDE_COMPANY.png) center bottom no-repeat;
			 width: 190px;
			 height:190px;
			}
			
			.ads_5{
			 background: url(/pic/TECHNOLOGY_COMPANY_1.png) center bottom no-repeat;
			 width: 190px;
			 height:190px;
			}
			
			.ads_6{
			 background: url(/pic/NATIONWIDE_SALES_TEAM_AND_CUSTOMER_SERVICE.png) center bottom no-repeat;
			 width: 190px;
			 height:190px;
			}
			
			.ads_7{
			 background: url(/pic/DISCOUNTED_PREMIUM_PRODUCTS.png) center bottom no-repeat;
			 width: 190px;
			 height:190px;
			}
			.ads_8{
			 background: url(/pic/CONSISTENT_WORK.png) center bottom no-repeat;
			 width: 190px;
			 height:190px;
			}
			
			.ads_9{
			 background: url(/pic/ONGOING_SUPPORT_AND_TRAINING.png) center bottom no-repeat;
			 width: 190px;
			 height:190px;
			}
			
			.ads_3{
			 background: url(/pic/GOOD_REMUNERATION.png) center bottom no-repeat;
			 width: 190px;
			 height:190px;
			}
			
			.ads-container{
			 margin:0px auto;
			 padding-bottom: 50px;
                         padding: 0 9px;
                         max-width: 80%;
                        
			}
			
			
                         
                        @media (max-width:1400px) {
                         .sub-content{
                         background-position :-252px center;
                         }		 				
			}
			
                      
			
			@media (max-width:992px) {
			 			
                        .form-box-container
                        {
                         margin: 0 auto;
                         width:auto;
                         margin-bottom: 4em;
                        }
                        .sub-content
                        {
                         height: auto;
                         background-size: cover;
                         background-position :initial;
                        }
                        .ads{
                          margin: auto;
                         }
                         .feature-row h3
			{
                         text-align : center;
                        }
                        .subtitle > span {
                         padding: 0 4px;
                        }
                         .login-btn
                        {
                         font-size: 13px;
                        }
			 				
			}
                     




                       

			


			@media (max-width:515px) 
			{			 		
			.logo-text{
			 width:70%;
			}
			
			.logo{
			 width:30%;
			}
			
			.logo-text h1{
			  font-size: 30px;
			}
			.logo-text p{
             font-size: 10px;
             letter-spacing: 3px;
			}
			
			}
			
			@media (max-width:400px) 
			{			 		
			.logo-text h1{
			  font-size: 20px;
			  margin-right: 23px;
			}
			
			.logo{
			 width:30%;
			 }
			 
			 .logo img{
			  width:90%;
			 }
			}
			
			
		
		