 .gallery-img{
  position:relative;
 }
/* 
 .over{
  width:100%;
  height:100%;
  background-color:black;
  color:white;
  position:absolute;
  top:0;
  left:0;
  opacity: 0.7;  
  text-align:left;
  display:block !important;
 }
 
 .icons-right , .icons-left{
  bottom: 0px;
  position: absolute;
  z-index: 10;
  padding:2px;
  display:none;
 }
 
 .icons-right{
  right: 8px;
 }
 
 .icons-left{
  left: 8px;
 }
 
 
 
 .icons-right a, .icons-left a{
  color:white;
   
 }*/
 
 
 .over div{
  margin-left: 13%;
  margin-top: 20%;
 }
 
 .product-gallery{
  text-align:left;
 }
 
 .product-gallery li, .product-gallery > div{
  width:150px;
  height:150px;
 }
 
/* .product-image1 {
  text-align:center;
  background-color:#F8F9FA ;
 }
 
 .product-information1 { 
  margin-top: 20px;
 }
 

 .discussions{
   max-height: 200px;
   overflow: auto;
 }
 
  #productContainer, #productContent, .sidebar{
  float:none;
  width:auto;
 }
 
 .gallery-nav-btns {
  width: 93%;
  margin-left: 1%;
  top:36%;
  opacity: 0;
 }*/
 
 
 
 .product-gallery-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index:2;
}
.product-gallery-popup .product-popup-content {
    position: absolute;
    width: 980px;
    height: 580px;
    top: 50%;
    left: 50%;
    margin-left: -490px;
    margin-top: -290px;
    background-color: #fff;
    overflow: hidden;
}

.product-gallery {
    text-align: center;
}
.product-gallery li,
.product-gallery > div {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 250px;
    width: 280px;
    overflow: hidden;
}