<table class="table">
    <tr>
        <td class="left_side">
            <div>
                <form id="customer_form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="doSubmit('<?php echo $this->escape($this->form->getAction()); ?>');return false;">
                    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
                    <table>
                        <tr>
                            <td class="input_type" valign="top">Page Title :</td>
                            <td><?php echo ($this->form->getElement('title')->render()); ?></td>
                        </tr>

                        <tr>
                            <td class="input_type" valign="top">Menu Title :</td>
                            <td><?php echo ($this->form->getElement('menu_title')->render()); ?></td>
                        </tr>

                        <tr>
                            <td class="input_type" valign="top">Company :</td>
                            <td><?php echo ($this->form->getElement('company_id')->render()); ?></td>
                        </tr>

                        <tr>
                            <td class="input_type" valign="top">order :</td>
                            <td><?php echo ($this->form->getElement('order')->render()); ?></td>
                        </tr>

                        <tr>
                            <td class="input_type" valign="top">Description :</td>
                            <td><?php echo ($this->form->getElement('description')->render()); ?></td>
                        </tr>


                    </table>
                    <table>
                        <tr><td><?php echo $this->form->getElement('button')->render(); ?></td></tr>
                    </table>
                </form>
            </div>
        </td>
        <td class="right_side">
            <div class="right_side_cont">

            </div>
        </td>
    </tr>
</table>