<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Company Pages
                </div>
                <div class="clearb"></div>
            </div>
            <div>
                <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                    <tr class="bg_table">
                        <td><b>Information</b></td>
                        <td><b>Action</b></td>
                    </tr>

                    <?php $count = 0; ?>
                    <?php foreach ($this->data as $row) : ?>
                        <?php $count += 1; ?>
                        <tr class="<?php
                    if ($count % 2 != 0) {
                        echo 'tr_cont_1';
                    } else {
                        echo 'tr_cont_2';
                    }
                        ?>">
                            <td>
                                <div class="details_info_l" style="font-size: 12px;">
                                    <div>&#187; <b>Page Title :</b> <?php echo $this->escape($row['title']) ?></div>
                                    <div>&#187; <b>Page Menu Title :</b> <?php echo $this->escape($row['menu_title']) ?></div>
                                    <div>&#187; <b>Description :</b> <?php echo $this->escape($row['description']) ?></div>
                                </div>
                            </td>
                            <td class="details_info_l">
                                <div class="details_info_l" style="font-size: 12px;">
                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'pageEdit')); ?>" class="a_list">Edit</a>
                                    <span class="details_breaks">|</span>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'pageDelete')); ?>" onclick="return confirm('are you sure you want to delete this Page?');" class="a_list">Delete</a>
                                    <span class="details_breaks">|</span>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'pageBlock')); ?>" class="a_list">Page Block</a>
                                </div>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <div class="btn_cont">
                    <a href="<?php echo $this->escape($this->url(array(), 'pageAdd')); ?>" class="btn_a">
                        <div class="text_pos">
                            New Page
                        </div>
                    </a>
                </div>
            </div>
        </td>
    </tr>
</table>