<form class="form-horizontal" id="form-label" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="submit_label('<?php echo $this->escape($this->form->getAction()); ?>','#form-label');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    
		<div class="form-group">
			<label class="col-md-3">Label Title :</label>
			<div class="col-md-9">
					<?php echo $this->form->getElement('label_name')->render(); ?>
			</div>
		</div>
	
		<div class="form-group">
			
				<div class="col-md-9 col-md-offset-3" id="button_cont">
						<?php echo $this->form->getElement('button')->render(); ?>
				</div>
		</div>

</form>