<form id="label-form" method="POST" onsubmit="filter_label('<?php echo $this->escape($this->url(array(), 'filterInvoiceLabel')); ?>','#label-form');return false;">
    <div >
        <input class="form-control" type="text" name="label-like" id="label-like" onkeyup="labelSearch();"/>
    </div>
    <div style="overflow: auto; height: 170px;" id="tabelResult">
        <table >
            <?php foreach ($this->labels as $label): ?>
                <?php $checked = isset($this->label_ids) && in_array($label['id'], $this->label_ids) ? 'checked="checked"' : ''; ?>
                <tr>
                    <td class="col-lg-2" >
                        <input type="checkbox" id="label_<?php echo $this->escape($label['id']); ?>" name="label_ids[]"  value="<?php echo $this->escape($label['id']); ?>" <?php echo $checked; ?>/>
                    </td>
                    <td>
                        <label for="label_<?php echo $this->escape($label['id']); ?>"><?php echo $this->escape($label['label_name']); ?></label>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
    <div  id="button_cont">
        <input type="submit" class="btn btn-primary" value="Filter" id="button" name="button"/>
    </div>
</form>

<script>
    function labelSearch(){
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'invoiceSearchLabel')); ?>",
            data: "label-like="+$('#label-like').val(),
            success: function(msg) {
                $('#tabelResult').html(msg);
            }
        });
    }
</script>