
<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">
                <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
              
                <div class="form-group">
                    <label class="col-md-3">&nbsp;</label>
                    <div class="col-md-9">
                       <?php echo ($this->form->getElement('booking_id')->render()); ?> 
                    </div>
                </div>
               
                <div class="form-group">
                    <label class="col-md-3">Complaint Type2: <span style="color:#ff0000">*</span>: </label>
                    <div class="col-md-9"><?php echo ($this->form->getElement('complaint_type_id')->render()); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Comment: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                       <?php echo ($this->form->getElement('comment')->render()); ?> 
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
              <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <button type="submit" value="Save" class="btn btn-primary"></button>
                    </div>
                </div>
            </form>
      
   