
<form class="form-horizontal" id="form_complaint" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="complaint_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_complaint','#content_modal_popup');return false;">
                <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
               
                <div class="form-group">
                    <label class="col-md-3">&nbsp;</label>
                    <div class="col-md-9">
                        <?php echo ($this->form->getElement('booking_id')->render()); ?>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="col-md-3">Complaint Type: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                        <?php echo ($this->form->getElement('complaint_type_id')->render()); ?>
                    </div>
                </div>
                
                  
                <div class="form-group">
                    <label class="col-md-3">To Follow:</label>
                    <div class="col-md-9">
                        <?php echo ($this->form->getElement('to_follow')->render()); ?>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3">Defered Date:</label>
                    <div class="col-md-9">
                        <?php echo ($this->form->getElement('to_follow_date')->render()); ?>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3">Comment: <span style="color:#ff0000">*</span>: </label>
                    <div class="col-md-9">
                       <?php echo ($this->form->getElement('comment')->render()); ?> 
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9" id="button_cont">
                      <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
         
            </form>
    
<script type="text/javascript">
	$(document).ready(function() {
        $('#to_follow_date').datepicker({
            dateFormat: 'dd-mm-yy'
        });
	});
    function complaint_submit(url,form,content){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize(),
            dataType: "json",
            success: function(data) {
                if(data.IsSuccess) {
				   console.log(data.url);
				   //alert(data.url);
					window.location = data.goToUrl+'?ViewPOP=true';
					//$('#popupi').modal('show');
					 //popupi('complaint Acknowledgement', data.url);
					//showPopupWindowWithGoTo(data.url,data.goToUrl,'510','800','complaint Acknowledgement','goToUrl='+encodeURIComponent(data.goToUrl));
                } else {
                    $(content).html(data.view);
                }
            }
        });
    }
</script>