<table class="table">
    <tr>
        <td class="left_side">
            <form id="form_complaint" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="complaint_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_complaint','#TB_ajaxContent');return false;">
                <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
                <table>
                    <tr>
                        <td class="input_type" valign="top">&nbsp;</td>
                        <td><?php echo ($this->form->getElement('booking_id')->render()); ?></td>
                    </tr>
                    <tr>
                        <td class="input_type" valign="top">Complaint Type: <span style="color:#ff0000">*</span>: </td>
                        <td><?php echo ($this->form->getElement('complaint_type_id')->render()); ?></td>
                    </tr>

                    <tr>
                        <td class="input_type" valign="top">Comment: <span style="color:#ff0000">*</span>: </td>
                        <td><?php echo ($this->form->getElement('comment')->render()); ?></td>
                    </tr>
                    <tr>
                        <td class="input_type" valign="top"> </td>
                        <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
<script type="text/javascript">
    function complaint_submit(url,form,content){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize(),
            dataType: "json",
            success: function(data) {
                if(data.IsSuccess) {
                    showPopupWindowWithGoTo(data.url,data.goToUrl,'510','800','complaint Acknowledgement','goToUrl='+encodeURIComponent(data.goToUrl));
                } else {
                    $(content).html(data.view);
                }
            }
        });
    }
</script>