<div style="width: 500px;">
    <div style="background-color: #B3D0F7; border-bottom: 1px solid #EEEEEE; font-size: 14px;font-weight: bold;">
        <div style="float: left; padding: 4px 10px; text-align: left;"> <?php echo $this->escape($this->complaint['complaint_num']); ?></div>
        <div style="float: right; text-align: right; padding: 4px 10px;"> <?php echo $this->escape($this->complaint['complaint_type']['name']); ?> </div>
        <div style=" clear: both;"></div>
    </div>
    <div style="background-color: #F7F7F7; border-bottom: 1px solid #EEEEEE;">
        <div style="padding: 4px 10px; text-align: left;"> <?php echo $this->escape(nl2br($this->complaint['comment'])); ?></div>
    </div>
</div>