<div style="float: left; width: 48%;">
	<div style="clear: both;margin-bottom: 25px;margin-top: 0px;padding: 0px;">
		<div style="background-color: #F3F3F4;border-color: #E7EAEC;border-style: solid solid none;border-width: 4px 0px 0px;color: inherit;margin-bottom: 0px;padding: 14px 15px 7px;height:29px;font-weight: bold;">
		 <div style="float:left">Complaint Discussion</div>
		 <div style="float:right"><b><a style="text-decoration:none;color:black" href="<?php echo $this->complaintLink; ?>" >+ Add Comment </a>
                                    </b></div>
	</div>
	<div style="background-color: #F7F7F7;padding: 15px 20px 20px;border-color: #E7EAEC;border-style: solid solid none;border-width: 1px 0px;">
	 <?php foreach ($this->complaint['complaint_photo_discussions'] as $key => $complaintDiscussion): ?>
        <div style="padding: 4px 10px; text-align: left;">
            <div style="margin-top: 2px; border-bottom: 1px solid #E7E7E7; ">
                <div>
                    <?php echo $this->escape($complaintDiscussion['user']['username']) ?> (<span><?php echo $this->escape($complaintDiscussion['user']['role_name']); ?> </span>)
					<span style="font-size: 12px;"><?php echo $this->escape(getDateFormating($complaintDiscussion['created'], false)); ?> </span>
                </div> 
                
                <div style="padding: 10px;"> <?php echo $this->escape(nl2br($complaintDiscussion['user_message'])); ?> </div>
            </div>
        </div>
    <?php endforeach; ?>
	 
	</div>
	</div>
</div>