<div class="ibox float-e-margins">
      <div class="ibox-content">
            <div class="row">
                  <div class="col-md-5">
                    <h3>Add Complaint</h3>
                  </div>
                  
             </div>
      </div>
</div>

<div class="ibox float-e-margins">
      <div class="ibox-content">
	    <div class="col-m-8">
		  <?php if ($this->data): ?>
		  <form method="POST" id="form">
		    <table class="table table-bordered responsive-table" id="createComplaint-table">
			   <thead>
			    <tr>
				 <th>Booking#</th>
				 <th>Details</th>
				 <th>City</th>
				 <th>Status</th>
				 <th>Technician</th>
				 <th></th>
				</tr>
			   </thead>
			   <?php
                    $modelBookingStatus = new Model_BookingStatus();
                    $modelBookingAddress = new Model_BookingAddress();
               ?>
			   <tbody>
			    <?php foreach ($this->data as $row) : ?>
			    <tr>
				  <td>
                    <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                                <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['convert_status']) {
                                                case 'booking':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'estimate':
                                                    $color = '#4F8BC3';
                                                    break;

                                                case 'invoice':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                <?php echo $this->escape($row['convert_status']); ?>
                                            </div>
                                        </div>
                  </td>
				  <td>
				    <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_opt"><?php echo $this->escape($row['title']) ?></a>    
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <span class="time_start_color">Start Time : </span><?php echo $this->escape(getDateFormating( strtotime($row['booking_start']))) ?> 
                                                <span class="time_end">End Time : </span><?php echo $this->escape(getDateFormating( strtotime($row['booking_end']))) ?>
                                                <div>
                                                    <span class="time_start_color">Status : </span>
                                                    <span style="font-size: 10px; font-weight: bold;">
                                                        <?php $bookingStatus = $modelBookingStatus->getById($row['status_id']);
                                                        echo $this->escape($bookingStatus['name']); ?>
                                                    </span>
                                                    <span class="time_start_color" style="margin-left: 20px;">Customer Name : </span>
                                                    <span>
                                                        <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                            <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                                <?php echo $this->escape($row['customer_name']); ?>
                                                            </a>    
                                                        <?php else: ?>
                                                            <span class="span_black">
                                                                <?php echo $this->escape($row['customer_name']); ?>
                                                            </span>    
                                                        <?php endif; ?>                  
                                                    </span>
                                                </div>
                                                <div id="address_list">
                                                    <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                        <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                        <?php if ($bookingAddress): ?>
                                                            <span class="time_start_color" >Address :</span>
                                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                                <?php echo ($bookingAddress['street_number'] ? $this->escape($bookingAddress['street_number']) : ''); ?>
                                                                <?php echo ($bookingAddress['street_address'] ? $this->escape($bookingAddress['street_address']) : ''); ?>
                                                                <?php echo ($bookingAddress['suburb'] ? $this->escape($bookingAddress['suburb']) : ''); ?>
                                                                <?php echo ($bookingAddress['state'] ? $this->escape($bookingAddress['state']) : ''); ?>
                                                                <?php echo ($bookingAddress['postcode'] ? $this->escape($bookingAddress['postcode']) : ''); ?>
                                                            </a>
                                                        <?php endif; ?> 
                                                    <?php endif; ?>
                                                </div>
                                            </div>
                                        </div>
				  
				  </td>
				  <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['city_name']); ?>    
                                        </div>
                                    </td>
						<td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['status']['name']); ?>    
                                        </div>
                                    </td>
									<td>
									<div class="details_info_l">
                                            <?php foreach ($row['contractors'] as $contractor): ?>
                                                <div><?php echo $this->escape($contractor) ?></div>
                                            <?php endforeach ?>
                                        </div>
									</td>
									<td style="width: 112px;">
                                                <?php if (CheckAuth::checkCredential(array('complaintAdd'))): ?>
                                                    <a style ="padding-left: 4px;" href="#" data-target="#popupi" data-toggle="modal" onclick="AddEditComplaint('<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd')); ?>');">Add Complaint</a>
                                               <?php endif; ?>
                                    </td>
									
				 </tr>
				 <?php endforeach; ?>
                </tbody>				 
			   </table>
			   <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
		  </form>
		  
		  <?php else: ?>
                <div style="" class="noRowsMessageDIV"> There are no Booking.
                    <div style="font-size:12px; margin-top:6px;">
                        <a href="<?php echo $this->escape($this->url(array(), 'createComplaint')); ?>?fltr[convert_status]">View all Booking</a>
                    </div>
                </div>
            <?php endif; ?>	
		  </div>
		</div>
</div>		

<script type="text/javascript">
    function AddEditComplaint(url) {
        $(document).ready(function() {
            popupi("Add complaint", url);
        });
    }
</script>