<?php if(isset($this->is_first_time) && $this->is_first_time == 1):?>
<?php if(isset($this->data) && !empty($this->data)) : ?>
 
   <form id="form" action="<?php echo $this->escape($this->url(array(), 'complaintDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Complaint?');">
  
  
                <?php if (CheckAuth::checkCredential(array('complaintDelete'))): ?>
					<input class="btn  btn-danger" type="submit" value="Delete"/>
                <?php endif; ?>

        
        <table class="table table-bordered responsive-table" id="complain-table" border="0" cellspacing="0" cellpadding="0">
						
						<thead>
							<tr>
								
                                
                                <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></th>
                                <th><?php echo SortOrder::generate_link('Complaint#', 'created') ?></th>
                                <th><b>Details</b></th>
                                <th><b>Customer</b></th>
                                <th><b>Technician</b></th>
                                <th><b>User</b></th>
							</tr>
                                
                                
							</thead>
							<tbody id="result">

<?php else:?>

			  <h3 class="font-bold">There are no Complaint. </h3>


<?php endif;?>
<?php endif;?>


<?php if(isset($this->data) && !empty($this->data)) : ?>
<?php $count = 0; ?>
                            <?php $userObj = new Model_User(); ?>
                            <?php $complaintTypeObj = new Model_ComplaintType(); ?>
                            <?php $modelUser = new Model_User(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                
                                
                                
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" id="delete-check" value="<?php echo $this->escape($row['complaint_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('complaintView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></span>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                        <?php
                                        switch ($row['complaint_status']) {

                                            case 'open':
                                                $color = '#4F8BC3';
                                                break;

                                            case 'closed':
                                                $color = '#BCD68F';
                                                break;
                                        }
                                        ?>
										<?php if (CheckAuth::checkCredential(array('complaintConvertStatus'))): ?>
										
												<div class="switch inline complaint_switch">
												
													<div class="complaintswitch custome_service_switch ">
														<input  type="checkbox"<?php if ($row['complaint_status'] == 'closed') echo 'checked="true"'; ?>  class="complaintswitch-checkbox" id="active_input_<?php echo $row['complaint_id']; ?>" data-toggle="modal" data-target="#popupi" onclick="popupi('complaint Discussion', '<?php echo $this->escape($this->url(array('id' => $row['complaint_id'], 'process' => ($row['complaint_status'] == 'open') ? 'close' : 'open', 'type' => 'complaint'), 'itemDiscussion')); ?>', 'complaint Discussion');" 
	
														<?php if($row['complaint_status'] == 'closed') echo 'value="true"'; else 'value="false"';?>>
														<label class="complaintswitch-label" for="active_input_<?php echo $row['complaint_id'];?>">
															<span class="complaintswitch-inner"></span>
															<span class="complaintswitch-switch"></span>
														</label>
													</div>
												</div>
											
										<?php endif; ?>
                                        <div style="color: <?php //echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                            <?php //echo $this->escape($row['complaint_status']); ?>
                                        </div>

                                    </td>


                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('complaintView'))): ?>
															<a href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name"><b><?php
															$complaintType = $complaintTypeObj->getById($row['complaint_type_id']);
															echo $this->escape($complaintType['name']);
                                                    ?>
													</b></a> 
                                                <?php else: ?>
                                                    <span class="a_black">
															<?php
															$complaintType = $complaintTypeObj->getById($row['complaint_type_id']);
															echo $this->escape($complaintType['name'])
															?>
													</span> 
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                            </div>
											
																  <!--                            added by mohamed-->
											<div class="booking_time_cont">
												<span class="glyphicon glyphicon-time" aria-hidden="true"></span> Created on: <?php echo $this->escape(getDateFormating($row['created'])) ?>
											</div>
									  
											<?php if (!empty($row['to_follow']) && $row['is_to_follow'] == 1): ?>
												<span class="time_start_color"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Deferred To : </span> <?php echo $this->escape(getDateFormating($row['to_follow'])) ?>
											<?php endif; ?>

											<!--                            added by mohamed-->
											
											
											
											
										
												
											
                                        </div>
                                        <div class="details_info_l">
								
											<ul class="inline-list">
                                            <?php if (CheckAuth::checkCredential(array('complaintEdit'))): ?>
                                                <li><a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintEdit')); ?>');" class="details_info_opt btn btn-white"><i class="fa fa-pencil-square-o">&nbsp;</i>Edit</a>
												</li>
										  <?php endif; ?>
                                                
                                   		
                                                
                                            <?php if (CheckAuth::checkCredential(array('complaintDiscussion'))): ?>
												<li>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('complaint Discussion', '<?php echo $this->escape($this->url(array('id' => $row['complaint_id'], 'process' => 'send', 'type' => 'complaint'), 'itemDiscussion')); ?>', 'complaint Discussion');" class="details_info_opt btn btn-white">Discussion</a>
  
   											    </li>
											<?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('complaintDelete'))): ?>
												<li>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintDelete')); ?>" onclick="return confirm('are you sure you want to delete this complaint?');" class="details_info_opt btn btn-white">Delete</a>
												</li>
											<?php endif; ?>
											
								
											</ul>
                                        </div>
                                    </td>
									
									
									
									
                                    <td>
                                        <div class="details_info_l" >
                                            <div><b><i class="fa fa-user"></i></b> <?php echo $this->escape(get_customer_name($row['customer'])); ?></div>
                                            <?php if ($row['customer']['email1']): ?>
                                                <div><i class="fa fa-envelope">&nbsp;</i> <?php echo $this->escape($row['customer']['email1']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['email2']): ?>
                                                <div><i class="fa fa-envelope">&nbsp;</i> <?php echo $this->escape($row['customer']['email2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['email3']): ?>
                                                <div><i class="fa fa-envelope">&nbsp;</i> <?php echo $this->escape($row['customer']['email3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['mobile1updated']): ?>
                                                <div><i class="fa fa-mobile-phone">&nbsp;</i> <?php echo $this->escape($row['customer']['mobile1updated']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['mobile2updated']): ?>
                                                <div><i class="fa fa-mobile-phone">&nbsp;</i> <?php echo $this->escape($row['customer']['mobile2updated']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['mobile3updated']): ?>
                                                <div><i class="fa fa-mobile-phone">&nbsp;</i> <?php echo $this->escape($row['customer']['mobile3updated']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['phone1updated']): ?>
                                                <div><i class="fa fa-phone">&nbsp;</i> <?php echo $this->escape($row['customer']['phone1updated']) ?></div>
                                            <?php endif; ?>    
                                            <?php if ($row['customer']['phone2updated']): ?>
                                                <div><i class="fa fa-phone">&nbsp;</i> <?php echo $this->escape($row['customer']['phone2updated']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['phone3updated']): ?>
                                                <div><i class="fa fa-phone">&nbsp;</i> <?php echo $this->escape($row['customer']['phone3updated']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['fax']): ?>
                                                <div><i class="fa fa-phone">&nbsp;</i><b>Fax :</b> <?php echo $this->escape($row['customer']['fax']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['customer']['po_box']): ?>
                                                <div><i class="fa fa-inbox"></i><b>PO Box :</b> <?php echo $this->escape($row['customer']['po_box']) ?></div>
                                            <?php endif; ?>
                                            <div><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <?php echo $this->escape($row['customer']['country_name'] . ' - ' . $row['customer']['city']) ?></div> 
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                                                <div>
                                                    <?php $user = $modelUser->getById($contractor_id); ?>
                                                    <?php echo $this->escape(ucwords($user['username']) . ($contractor_name ? ' - ' . ucwords($contractor_name) : '')); ?>
                                                </div>
                                            <?php endforeach ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php foreach ($row['booking_users'] as $booking_user) : ?>
                                                <div style ="margin: 2px; padding: 2px 4px; background-color:#DDDDDD;">
                                                    <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
                                                </div> 
                                            <?php endforeach; ?>
                                        </div>
                                    </td>
                                    
                                
                                </tr>
								
 <?php endforeach; ?>
<?php endif;?>

<?php if(isset($this->is_first_time) && $this->is_first_time == 1 && (isset($this->data) && !empty($this->data))):?>
  </tbody>
 </table>
</form>
<?php endif;?>