<div class="ibox float-e-margins">
 <div class="ibox-content">
    <div class="row">
        	<div class="col-md-5">
            	<h3>Edit Complaint</h3>
            </div>
            <div class="col-md-7 ">
            </div>
    </div>
	
	<div class="row">
        	<div class="col-md-8">
            
            <nav> 
          	 	 <div class="btn-group">
            		  <a href="javascript:;" onclick="$('#form').submit();" class="btn btn-white btn_a">
                            Save
                       </a>		
           		 </div> 
            </nav>
            
          
            </div>
            <div class="col-md-4 ">
            
            </div>
         </div>
	
 </div>
</div>
    <form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">
	 <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
	  <div class="ibox no-margin-b" >
        <div class="ibox-content" >
		 <div class="row">
             	  <div class="col-md-12">
				    
					<div class="form-group">
                    <label class="col-md-3">&nbsp;</label>
                    <div class="col-md-9">
                        <?php echo ($this->form->getElement('booking_id')->render()); ?>
                    </div>
                  </div>
				  
				  <div class="form-group">
                    <label class="col-md-3">Complaint Type: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                        <?php echo ($this->form->getElement('complaint_type_id')->render()); ?>
                    </div>
                </div>
				
				
				<div class="form-group">
                    <label class="col-md-3">Comment: <span style="color:#ff0000">*</span>: </label>
                    <div class="col-md-9">
                       <?php echo ($this->form->getElement('comment')->render()); ?> 
                    </div>
                </div>
				
				  
				  </div>
		</div>
	</div>
   </div>	
	  
	
	</form>
	
	