<?php
$MAP_OBJECT_Booking = new GoogleMapAPI();
echo $MAP_OBJECT_Booking->getHeaderJS(); 
echo $MAP_OBJECT_Booking->getMapJS(); 

?>

<div class="ibox float-e-margins no-margin-b">
    <div class="row wrapper border-bottom white-bg">


        <div class="col-md-3">
            <h3>All Complaint</h3>

            <ol class="breadcrumb">
                <?php

                function breadcrumbs($separator = '', $home = 'Home') {

                    $path = array_filter(explode('/', parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH)));
                    $base_url = substr($_SERVER['SERVER_PROTOCOL'], 0, strpos($_SERVER['SERVER_PROTOCOL'], '/')) . '://' . $_SERVER['HTTP_HOST'] . '/';
                    $breadcrumbs = array("<li><a href=\"$base_url\">$home</a></li>");
                    $tmp = array_keys($path);
                    $last = end($tmp);
                    unset($tmp);

                    foreach ($path as $x => $crumb) {
                        $title = ucwords(str_replace(array('.php', '_'), array('', ' '), $crumb));
                        if ($x == 1) {
                            $breadcrumbs[] = "<li><a href=\"$base_url$crumb\">$title</a></li>";
                        } elseif ($x > 1 && $x < $last) {
                            $tmp = "<li><a href=\"$base_url";
                            for ($i = 1; $i <= $x; $i++) {
                                $tmp .= $path[$i] . '/';
                            }
                            $tmp .= "\">$title</a></li>";
                            $breadcrumbs[] = $tmp;
                            unset($tmp);
                        } else {
                            $breadcrumbs[] = "$title";
                        }
                    }

                    return implode($separator, $breadcrumbs);
                }

                echo breadcrumbs();
                ?>
            </ol>
        </div>
        <div class="col-md-9 ">
<?php if (CheckAuth::checkCredential(array('complaint'))): ?>

                <ul class="inline-list float-lg-r">
                    <li>
    <?php echo FilterLink::generate_link('All', array('fltr' => array('complaintStatus' => 'all')), isset($this->filters['complaintStatus']) && $this->filters['complaintStatus'] == 'all', true); ?>
                    </li>
                    |
                    <li> 
    <?php echo FilterLink::generate_link('Open', array('fltr' => array('complaintStatus' => 'open')), isset($this->filters['complaintStatus']) && $this->filters['complaintStatus'] == 'open'); ?>
                    </li>
                    |
                    <li>     
    <?php echo FilterLink::generate_link('Closed', array('fltr' => array('complaintStatus' => 'closed')), isset($this->filters['complaintStatus']) && $this->filters['complaintStatus'] == 'closed'); ?>
                    </li>
                    <li>
    <?php echo $this->allComplaintType->render(); ?>
                    </li>
                </ul>
                <!--add by mohamed-->

                <div class="container-table" >
                    <div class="row vertical-center-row">
                        <div class="text-center col-md-8 " >
                            <div class="btn-group" style="margin-right:4px;">
                  <?php if (isset($this->filters['to_follow']) && $this->filters['to_follow'] == true): ?>
                         <label class="btn  btn-white"> <?php echo FilterLink::generate_link('all', array('sort' => 'to_follow', 'fltr' => array('to_follow' => true)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true && !isset($this->filters['to_follow_date']), true); ?> </label>
                        <label class="btn  btn-white"> <?php echo FilterLink::generate_link('past', array('fltr' => array('to_follow_date' => 'past')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'past'); ?> </label>
                        <label class="btn  btn-white"> <?php echo FilterLink::generate_link('today', array('fltr' => array('to_follow_date' => 'today')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'today'); ?> </label>
                        <label class="btn  btn-white"> <?php echo FilterLink::generate_link('future', array('fltr' => array('to_follow_date' => 'future')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'future'); ?> </label>
                 <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>

                <!--add by mohamed-->
<?php endif; ?>

        </div>
    </div>

    <div class="row">
        <div class="wrapper wrapper-content">

            <div class="ibox float-e-margins no-margin-b" style="padding:0px; margin:0px; background-color:#F9F9F7;"> 
                <div class="ibox-content" id="complaint_data" style="padding:0px; margin:0px;">
                    <div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>
                </div>
            </div>	
        </div>
    </div>		
</div>


<script type="text/javascript">

    var filters = <?php echo json_encode($this->filters); ?>;
    var page_number = 0;
    var loading = false;
    var is_last_request = 0;
    function getData(filters, page_number, is_first_time) {
        if (typeof (is_first_time) === 'undefined')
            is_first_time = 0;
        if (is_first_time == 0 && !($('#loading_img').length > 0)) {
			$('#seeMore').remove();
            $('#result').append('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
        }
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {'fltr': filters, 'is_first_time': is_first_time, 'page_number': page_number},
            url: "<?php echo $this->url(array(), 'complaint'); ?>",
            success: function (result) {
                is_last_request = result.is_last_request;

                if (is_first_time == 1) {
                    $('#complaint_data').html(result.data);
                } else {
                    $("#result").append(result.data);
                }
               
			   		/////// ADDED BY RAND //////
				$.each($('.map1'), function (index, value) { 
				  id=$(this).attr('value');
				   is_map_drawn = ($('#is_drawn_'+id).attr('value')); 
				  if(is_map_drawn == 0){
					  $('#is_drawn_'+id).attr('value',1);
				  inquiryAddress = $('#bookingAddress_'+id).attr('value');
				  var contractorsIds = [];
				  $.each($('.AvailablecontractorDiv_'+id), function (index, value) { 
		
			          contractorsIds[$(this).attr('value')]=$(this).attr('value');
				  });
				drawPositionFromAddress(inquiryAddress,id,contractorsIds); // draw the map
				  }
			  });
				/// END BY RAND /////// 
				
                $('#loading_img').remove();
                loading = false;
            }
        });

    }
	
	function drawPositionFromAddress(Address,id,contractorsIds){
		var maps =[];
				var myOptions=[];
				myOptions[id] = {
					zoom: 12,
					center: new google.maps.LatLng(-34.397, 150.644),
					draggable: false,
					scaleControl: true,
					zoomControl: true,
				    zoomControlOptions: {
					  position: google.maps.ControlPosition.LEFT_CENTER
				       },
					mapTypeId: google.maps.MapTypeId.MyMapApp
				}
				maps[id] = new google.maps.Map(document.getElementById("map_"+id), myOptions[id]);
			 var geocoder2 = new google.maps.Geocoder();
				         /// Add contractor on map
						 geocoder2.geocode( { 'address': Address}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
						  maps[id].setCenter(results[0].geometry.location);
						  console.log('this is booking lat and lon : '+results[0].geometry.location);
						var marker = new google.maps.Marker({
							map: maps[id],
							position: results[0].geometry.location
						});
						marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
					  }
								});
						  		
		if(contractorsIds != null){
		$.each(contractorsIds, function (index, value) {
			          ContractorId=value;
		if (ContractorId != null){
					    ContractorAddress = $('#contractorAddress_'+id+'_'+ContractorId).attr('value');
						contractorName = $('#contractorName_'+id+'_'+ContractorId).attr('value');
						ContractorDistance = $('#contractorDistance_'+id+'_'+ContractorId).attr('value');
						ContractorHtml = $('#contractorHtml_'+id+'_'+ContractorId).attr('value');
                          
						   drawContractorMarker(maps[id],ContractorAddress,contractorName,ContractorDistance,ContractorHtml);
								
	           	}
					  });
	      }
							
	}
	
function drawContractorMarker(map,conractorAddress,contractorName,Distance,ContractorHtml){

						  var geocoder2 = new google.maps.Geocoder();
						  if(conractorAddress!=null){
				         /// Add contractor on map
						 var infowindow = new google.maps.InfoWindow({
						  content: ContractorHtml
						});
						 geocoder2.geocode( { 'address': conractorAddress}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
						var marker = new google.maps.Marker({
							map: map,
							position: results[0].geometry.location
						});
						 marker.addListener('click', function() {
                             infowindow.open(map, marker);
                             });
					  }
								});
						  }
	}
	
    function fltr(url, id) {
        id = $('#' + id).val();

        var filter = "?";
        if (id) {
            filter = filter + "fltr[complaintType]=" + id;
        }

        filter = filter + "<?php echo isset($this->filters['complaintStatus']) ? '&fltr[complaintStatus]' . ($this->filters['complaintStatus'] ? '=' . $this->escape($this->filters['complaintStatus']) : '') : ''; ?>";

        if (filter == "?") {
            filter = "";
        }
        window.location = url + filter;
    }

    function AddEditComplaint(url) {
        $(document).ready(function () {
            popupi("", url);
        });
    }

    $(document).ready(function () {
        getData(filters, page_number, 1);
        $(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {
                if (loading == false && is_last_request == 0) {
                    loading = true;
                    page_number++;
                    getData(filters, page_number);
                }
            }
        });
    });
	
	function seeMore(){
	   $('#seeMore').remove();
	    if(loading == false){
					  loading = true;
                      page_number++;					  
					  getData(filters,page_number);
                    }
		
   }

</script>
