<!-- TinyMCE -->
<script type="text/javascript">
    $(document).ready(function() {
        tinyMCE.init({
            // General options
            plugins : '-example', // - tells TinyMCE to skip the loading of the plugin
            mode : "textareas",
            theme : "advanced",
            relative_urls : false,
            convert_urls : false,

            // Theme options
            theme_advanced_buttons1 : "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : false
        });
    });
</script>
<!-- /TinyMCE -->
<form  class="form-horizontal" id="complaint_email_form" method="POST" onsubmit="tinyMCE.triggerSave(); do_submit_acknowledgement('<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'sendComplaintAcknowledgementAsEmail')); ?>','#complaint_email_form','#content_modal_popup');return false;">

            
			<div class="col-md-8">
			 <div class="form-group">
                    <label class="col-md-3">To</label>
                    <div class="col-md-9"><input type="text" name="to" value="<?php echo $this->escape($this->to); ?>" class="form-control" /></div>
                    
             </div>
			  <?php if (isset($this->error_mesages['to']) && !empty($this->error_mesages['to'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['to']); ?>
                    </div>
                <?php endif; ?>
			<div class="form-group">
                    <label class="col-md-3">Cc</label>
                    <div class="col-md-9" ><input type="text" name="cc" class="form-control" /></div>                  
            </div>
			<?php if (isset($this->error_mesages['cc']) && !empty($this->error_mesages['cc'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['cc']); ?>
                    </div>
                <?php endif; ?>
			
              <div class="form-group">
                    <label class="col-md-3">Subject</label>
                    <div class="col-md-9"><input type="text" name="subject" value="<?php echo $this->escape($this->subject); ?>" class="form-control" /></div>
             </div>
               
			   <?php if (isset($this->error_mesages['subject']) && !empty($this->error_mesages['subject'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['subject']); ?>
                    </div>
                <?php endif; ?>		
				
			</div>
			<div class="col-md-4">
			 <div>
                    <div class="col-md-9">Attachment</div>
                    <div class="col-md-2"></div>
                    
              </div>
			  <div style="border: 1px solid #A1A1A1; height: 80px;">
                    <div></div>
                </div>
			</div>
			<div style="clear: both;"></div>
	
		<div class="col-md-12">
					
			
							 <textarea name="body" id="body"><?php echo $this->body;?></textarea>
				
				
		</div>
		
  
	
	
	<div id="button_cont" style="margin-top: 10px;">
                <input type="submit" value="Send" class="btn btn-primary" /> or <a href="<?php echo $this->escape($this->goToUrl) ?>" class="btn btn-danger">Cancel</a>
                <input type="hidden" name="goToUrl" value="<?php echo $this->escape($this->goToUrl) ?>"/>
	</div>

            
</form>
<script type="text/javascript">

    function do_submit_acknowledgement(url,form,content){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize(),
            success: function(msg) {
                if(msg == '1') {
                    window.location = '<?php echo $this->escape($this->goToUrl) ?>';
                } else {
                    $(content).html(msg);
                }
            }
        });
    }

</script>