<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->url(array('id'=>$this->id), 'sendComplaintAsSms')); ?><?php //echo $this->escape($this->form->getAction()); ?>">
			  <div class="form-group hidden " >
                    <label class="col-md-3">ID: </label>
                    <div class="col-md-9">
                      <input type="text" name="complaint_id" id="complaint_id" value="<?php echo $this->id ?>"/> 
                    </div>
                </div>
				
				 <div class="form-group hidden" >
                    <label class="col-md-3">User ID: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                      <input type="text" name="user_id" id="user_id"  value=""/> 
                    </div>
					
                </div>
            	<div class="form-group">
						<label class="col-md-2 control-label">To </label>
						<div class="col-md-6">
						<select class="form-control" name="mobile_no" id="mobile_no">
						<option value="0">Please Select mobile number</option>
						<?php 	$contractor=$this->contractors;
						$user_id1=array();
						$modelSmsHistorty = new Model_SmsHistorty();

						for($i=0;$i<count($contractor);$i++)
					    {
						$mobile1finalFormat='';
						$mobile2finalFormat='';
						$mobile3finalFormat='';
						$user_id_ext =$contractor[$i]['user_id'];
						if(in_array($user_id_ext,$user_id1))
							continue;
						array_push($user_id1,$user_id_ext);
					
					?>
                     <option role="<?php echo $i;?>"
					 value="<?php  if($contractor[$i]['mobile1']!='')
					 {
						 $mobile1=$modelSmsHistorty->getMobileFormat($contractor[$i]['mobile1']);
						if($mobile1!='')
						{
						$mobile1withsplit=$mobile1.',';
						echo $mobile1withsplit;
						$mobile1finalFormat=$mobile1withsplit;
						}
				     }
					 else{
						$mobile1withsplit='';
						echo $mobile1withsplit;
						$mobile1finalFormat=$mobile1withsplit;


						}
						
						if($contractor[$i]['mobile2']!=''){
							$mobile2=$modelSmsHistorty->getMobileFormat($contractor[$i]['mobile2']);
						    if($mobile2!=''){
							$mobile2withsplit=$mobile2.',';
						    echo $mobile2withsplit;
						$mobile2finalFormat=$mobile2withsplit;
                        }

						}
						else{
						    $mobile2withsplit='';
						    echo $mobile2withsplit;
						$mobile2finalFormat=$mobile2withsplit;


                        }
						if($contractor[$i]['mobile3']!=''){
							$mobile3=$modelSmsHistorty->getMobileFormat($contractor[$i]['mobile3']);
						    if($mobile3!=''){
							$mobile3withsplit=$mobile3.',';
                             echo $mobile3withsplit;
						$mobile3finalFormat=$mobile3withsplit;
                        }

						}else{
						    $mobile3withsplit='';
                            echo $mobile3withsplit;
						    $mobile3finalFormat=$mobile3withsplit;

							}
					 
					 ?>"
					
					>	
					<?php echo $mobile1finalFormat.$mobile2finalFormat.$mobile3finalFormat;

                      ?>
					
					</option>
					
						<?php }	?>
						</select>
						</div>
						<span id="dateError" class="help-inline" style="color:#ff0000"></span>

						</div>
                <div class="form-group">
                    <label class="col-md-2">Message<span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-6">
                       <?php echo ($this->form->getElement('message')->render()); ?> 
                    </div>
                </div>
               
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
             
            </form>
      
   <script>
   
  $('#mobile_no').on('change', function() {
		document.getElementById("dateError").innerHTML = "";
		var mobile_no= $('#mobile_no').val();
		if(mobile_no==0){
			document.getElementById("dateError").innerHTML = "You must choose mobile number";
			$("textarea#message").val("");
			return false;
			}
			
	var option = $('option:selected', $('#mobile_no')).attr('role');
          
	 var complaint_id=$('#complaint_id').val();
		var url = "<?php echo $this->escape($this->url(array('id'=>$this->id), 'sendComplaintAsSms')); ?>";
	        $.ajax({
						type: "POST",
						url: url,
						dataType: "json",
						data: { 
						'complaint_id' :complaint_id,
						'to_get_Template'     :1,
						'user_id'    :option,
						},
						success: function(result)
						{
						$("textarea#message").val(result.message);
						$("#user_id").val(result.user_id);
						
						}

					});

   });
   $('#button').on('click', function() {
				  if($("#mobile_no").val()==0)
				{
				document.getElementById("dateError").innerHTML = "You must choose mobile number";
				return false;
				}
				
			 });
   </script>