<div class="ibox float-e-margins">
	<div class="ibox-content">
				<div class="row">
					<div class="col-md-5">
						<h3>Complaint Details</h3>
					</div>
					<div class="col-md-7 "></div>
				</div>
        </div>
		
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-12">
			 <?php if (CheckAuth::checkCredential(array('complaintEmailReplay'))): ?>
			 <nav>
                 <a href="#" data-toggle="modal" data-target="#fn_nearest" onclick="fn_popupi_with_parm('Replay Email to customer','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'complaintReplay')); ?>');" class="btn btn-info btn-outline">Reply Email To Customer</a>
			     <a href="#" data-toggle="modal" data-target="#fn_nearest" onclick="fn_popupi_with_parm('Resend Email to Technician','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'complaintReplayToContractor')); ?>');" class="btn btn-info btn-outline">Resend Email To Technician</a>

			 </nav>
			 <?php endif; ?>
			</div>
		</div>
    </div>
	
</div>		

<?php
$colors = array (
		'0' => '#888888',
		'1' => '#cc3333',
		'2' => '#dd4477',
		'3' => '#994499',
		'4' => '#6633cc',
		'5' => '#336699',
		'6' => '#3366cc',
		'7' => '#22aa99',
		'8' => '#329262',
		'9' => '#109618',
		'10' => '#66aa00',
		'11' => '#aaaa11',
		'12' => '#d6ae00',
		'13' => '#ee8800',
		'14' => '#dd5511',
		'15' => '#a87070',
		'16' => '#8c6d8c',
		'17' => '#627487',
		'18' => '#7083a8',
		'19' => '#5c8d87',
		'20' => '#898951',
		'21' => '#b08b59',
		'-1' => '#7a367a' 
);

?>

<div class="no-margin-b">

			
		
<div class="content">
	<div class="row">
		<div class="col-md-6">
		<div class="panel panel-primary no-border-color-reduis col-md-12">
		 <h4 class="panel-heading">Complaint Details : </h4>
		 <div class="panel-body">
		     <table class="table">
                        <tbody>
                            <tr>
                                <th>Complaint Status</th> 
                                <td style="text-align:center; color:#FFF; background-color:<?php if($this->complaint['complaint_status']=='open'){ echo '#ff0000';} else echo '#22aa99'; ?>;">
                                 <?php if (CheckAuth::checkCredential(array('complaintConvertStatus'))){ ?>
									<a class="a_white" href="javascript:;" style="color:#FFF" 
									data-toggle="modal" data-target="#popupi" onclick="popupi('complaint Discussion','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id'],'process'=> ($this->complaint['complaint_status'] == 'open') ? 'close' : 'open'), 'complaintDisscussion')); ?>','470','700','complaint Discussion');" > <?php echo $this->escape(strtoupper($this->complaint['complaint_status'])); ?></a>
									 <?php }
									 else{ ?>
										<?php echo $this->escape($this->complaint['complaint_status']) ?>
									 <?php } ?>
								
								</td>
                            </tr>
							
							<tr>
                                <th>Complaint #</th> 
                                <td>
                                    <b>
                                       <span><b><?php echo $this->escape($this->complaint['complaint_num']) ?></b></span>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <th>Booking #</th> 
                                <td>
                                    <b>
                                        <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>" class="a_black"><b><?php echo $this->escape($this->booking['booking_num']) ?></b></a>
                                        <?php else: ?>
                                            <span><b><?php echo $this->escape($this->booking['booking_num']) ?></b></span>
                                        <?php endif; ?>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                               <th>Date</th>

                                <td class="valueText">
                                    <div
                                        id="date_container_<?php echo $this->escape($this->complaint['complaint_id']) ?>"
                                        class="details_info_l">
                                        <div
                                            id="date_value_<?php echo $this->escape($this->complaint['complaint_id']) ?>"
                                            style="float: left; width: 165px;">
                                            <?php echo $this->escape(getDateFormating($this->complaint['created']))?>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Status</th> 
                                <td style=" text-align:center; background-color: <?php echo $this->escape($colors[$this->status['color']]) ?>;">
								    <a style="color:#fff" href="javascript:;"
										 data-toggle="modal" data-target="#popupi" 
										onclick="popupi('<?php echo $this->escape($this->status['name']) ?>','<?php echo $this->escape($this->url(array('id' => $this->status['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>');"><?php echo $this->escape($this->status['name']) ?></a>
								</td>
                            </tr>

                            <tr>
                                <th>Created By</th>
                                <td><?php echo $this->escape(ucfirst($this->createdBy['first_name'])) . " " . $this->escape(ucfirst($this->createdBy['last_name'])); ?></td>
                            </tr>

                            <tr>
                                <th>Complaint Type</th>
                                <td><?php echo $this->escape(ucfirst($this->complaintType['name'])); ?></td>
                            </tr>
							<?php if (!empty($this->complaint['to_follow'])): ?>
                                <tr>
                                    <th class="labelText"><b>To Follow</b></th>
                                    <td class="valueText">
                                        <div
                                            id="follow_date_container_<?php echo $this->escape($this->complaint['complaint_id']) ?>"
                                            class="details_info_l">
                                            <div
                                                id="follow_date_value_<?php echo $this->escape($this->complaint['complaint_id']) ?>"
                                                style="float: left; width: 165px;">
                                                <?php echo $this->escape(getDateFormating($this->complaint['to_follow']))?>
                                            </div>
                                            <div
                                                id="follow_date_button_<?php echo $this->escape($this->complaint['complaint_id']) ?>"
                                                style="float: left; margin-left: 10px;">
                                                <a href="javascript:;"
                                                   onclick="change_follow_date(<?php echo $this->escape($this->complaint['complaint_id']) ?>)"
                                                   class="a_link"> Edit</a>
                                            </div>
                                            <input type="hidden" id="hidden_deffer_to" value="<?php echo date("d-m-Y H:i A",$this->escape($this->complaint['to_follow']));?>" />


                                        </div>
                                    </td>
                                </tr>
                            <?php endif; ?>
                        </tbody>
                    </table>
		 </div>
		</div>
		</div>
		
		<div class="col-md-5 col-md-offset-1">
		 <?php
                    $customerView = new Zend_View();
                    $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                    $customerView->customer_id = $this->booking['customer_id'];
                    $customerView->allDetails = $this->booking['is_accepted'];
                    echo $customerView->render('customer_info.phtml');
                    ?>
		
		</div>
		
		
	</div>	
</div>	

<div class="content">
		<div class="row">
		
				<div class="col-md-12">
					<div class="panel panel-primary no-border-color-reduis col-md-12">
					<h4 class="panel-heading">Comment :</h4>
						<div class="panel-body">
							<p><?php echo nl2br($this->escape($this->complaint['comment'])); ?></p>
						</div>
				
				</div>
			</div>
		</div>
	</div>
	

	
	
	<?php
            $view = new Zend_View();
            $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');

            $view->bookingId = $this->booking['booking_id'];
            $view->complaintId = $this->complaint['complaint_id'];
            $view->view = 'complaint';

            echo $view->render('tabs.phtml');
            ?>
			
			
<script>
	$(document).ready(function() {
		
	<?php 
		    $session = new Zend_Session_Namespace();
            $vpopup = $session->popup;
	if($vpopup && $vpopup == '1'):
		    $session = new Zend_Session_Namespace();
            $session->popup = '0';
			$vpopup = $session->popup;
		?>
	   $('#popupi').modal('show');
	   popupi('complaint Acknowledgement','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'sendComplaintAcknowledgementAsEmail')); ?>');
	   
	<?php endif;?>
	
	
		
		$.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array('type'=>'complaint','type_id'=> $this->complaint['complaint_id']), 'updateFullTextSearchByTypeAndTypeId')); ?>',
                success: function(result) {
					console.log(result);
                    
                }
            });
	
	});
    function sendEmail(url) {
        $(document).ready(function() {
            popupi("", url);
        });
    }
	
	
	//04/05/2015 D.A
    function change_follow_date(complaint_id){

        var value = $('#hidden_deffer_to').val();
        $('#follow_date_value_'+complaint_id).html('<div class="input-group date" id="datetimepicker2"><input class="form-control" type="text"  id="follow_date_'+complaint_id+'"  value="'+value+'" /><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>');
        $('#follow_date_button_'+complaint_id).css('padding-top','2px');
        $('#follow_date_button_'+complaint_id).html('<a href="javascript:;" onclick="save_follow_date('+complaint_id+')" class="a_link">Save</a>');
        $('#datetimepicker2').datetimepicker({
            format: 'D-M-YYYY LT'
        });
    }


    function save_follow_date(complaint_id){
        $('#follow_date_button_'+complaint_id).css('padding-top','0');
        $('#follow_date_button_'+complaint_id).html('<img src="/pic/loading-4.gif">');
        $('#label_'+complaint_id).remove();

        var follow_date = $('#follow_date_'+complaint_id).val();

        if(follow_date != ''){
            $.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array(), 'modifyFollowDateComplaint')); ?>',
                data:{
                    'follow_date':follow_date,
                    'complaint_id':complaint_id
                },
                dataType: 'json',
                success: function(result) {
                    if(result.st == 2){

                        $('#follow_date_value_'+complaint_id).html(result.msg);
                        $('#follow_date_button_'+complaint_id).html('<a href="javascript:;" onclick="change_follow_date('+complaint_id+')" class="a_link">Edit</a>');
                        $('#hidden_deffer_to').val(follow_date);
                    }
                }

            });
        }else{
            $('#follow_date_value_'+complaint_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="follow_date_'+complaint_id+'" readonly="readonly" />');
            $('#follow_date_button_'+complaint_id).css('padding-top','2px');
            $('#follow_date_button_'+complaint_id).html('<a href="javascript:;" onclick="save_follow_date('+complaint_id+')" class="a_link">Save</a>');
            $('#follow_date_container_'+complaint_id).after('<label id="label_'+complaint_id+'"class="error">Field required</label>');
            $('#follow_date_'+inquiry_id).datetimepicker({
                format:'D-M-YYYY LT'
            });
        }
    }

</script>
