
		<?php
									$colors = array (
											'0' => '#888888',
											'1' => '#cc3333',
											'2' => '#dd4477',
											'3' => '#994499',
											'4' => '#6633cc',
											'5' => '#336699',
											'6' => '#3366cc',
											'7' => '#22aa99',
											'8' => '#329262',
											'9' => '#109618',
											'10' => '#66aa00',
											'11' => '#aaaa11',
											'12' => '#d6ae00',
											'13' => '#ee8800',
											'14' => '#dd5511',
											'15' => '#a87070',
											'16' => '#8c6d8c',
											'17' => '#627487',
											'18' => '#7083a8',
											'19' => '#5c8d87',
											'20' => '#898951',
											'21' => '#b08b59',
											'-1' => '#7a367a' 
									);?>
<div class="ibox float-e-margins no-margin-b">
		<div class="row wrapper border-bottom white-bg">
				
				<div class="col-md-5">
							<div class="createdTimeDiv">
								<span class="booking_title">Complaint Details</span> 
								<span class="booking_created_date">
									<i> Created </i>	<?php 
																$modelUser = new Model_User();
															  echo $this->escape(getDateFormating($this->complaint['created'])); ?>
								</span>
							
							</div>
					
							<ol class="breadcrumb" style="font-size:13px;" >
								<li>
									<a href="/">Home</a>
								</li>
								<li>
								   <a href="/complaint">Complaints</a>
								</li>
								<li class="active">
									<strong>Complaint Details</strong>
								</li>
							</ol>
				</div>	
				<div class="col-md-7">
				    <nav class="float-r">
					 <?php if (CheckAuth::checkCredential(array('complaintEmailReplay'))): ?>
							 
								 <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Acknowledgement','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'complaintReplay')); ?>');" class="btn btn-info btn-outline">Email Acknowledgement</a>
								 <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Technician','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'complaintReplayToContractor')); ?>');" class="btn btn-info btn-outline">Email Technician</a>
								 
								 
								<!--send sms-->
								<?php if (CheckAuth::checkCredential(array('complaintEmailReplay'))): ?>
									<a 	data-toggle="modal" data-target="#popupi" onclick="popupi('SMS Complaint ','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']) , 'sendComplaintAsSms')); ?>');" class="btn btn-info btn-outline" > 
											SMS Technician</a>
								<?php endif;?>
								

								<?php if (CheckAuth::checkCredential(array('complaintConvertStatus'))): ?>
									<a class="btn btn-primary"	data-toggle="modal" data-target="#popupi" onclick="popupi('complaint Discussion','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id'],'process'=> ($this->complaint['complaint_status'] == 'open') ? 'close' : 'open','type'=>'complaint'), 'itemDiscussion')); ?>');" > 
										<?php if($this->complaint['complaint_status']=='open'){ echo "Close Complaint";} 
										elseif($this->complaint['complaint_status']=='closed'){echo 'Open Complaint';}?>
									</a>
								<?php endif;?>
							<?php endif; ?>	
								 <?php if ($this->complaint['pause_emails']) { ?>
                                  
                                        <a class="btn btn-info btn-outline" onClick="return confirm('Are you sure you want to resume emails of this complaint?')" href="<?php echo $this->url(array('id' => $this->complaint['booking_id'], 'process' => 'resume'), 'pauseResumeBookingEmails'); ?>" >Resume Emails</a>						
                                   
                                <?php } else { ?>
                                        <a class="btn btn-info btn-outline" onClick="return confirm('Are you sure you want to pause emails of this complaint?')" href="<?php echo $this->url(array('id' => $this->complaint['booking_id'], 'process' => 'pause'), 'pauseResumeBookingEmails'); ?>" >Pause Emails</a>						
                                    
                                <?php } ?>
								
							 </nav>
					
				</div>
		</div>
		
			<div class="row wrapper" style="background-color:<?php if($this->complaint['complaint_status']=='open'){ echo '#ff0000';} else echo '#22aa99'; ?>;">
					<div class="strocked-text" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Complaint Status">
						<b>
								<?php if (CheckAuth::checkCredential(array('complaintConvertStatus'))){ ?>
								<a class="a_white" href="javascript:;" style="color:#FFF" 
								data-toggle="modal" data-target="#popupi" onclick="popupi('complaint Discussion','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id'],'process'=> ($this->complaint['complaint_status'] == 'open') ? 'close' : 'open','type'=>'complaint'), 'itemDiscussion')); ?>');" > <?php echo $this->escape(strtoupper($this->complaint['complaint_status'])); ?></a>
										 <?php }
										 else{ ?>
									<?php echo $this->escape($this->complaint['complaint_status']) ?>
									<?php } ?>
						</b>
					</div>
					
				<?php if(!($this->complaint['is_approved'])){ ?>
					<?php if (CheckAuth::getRoleName()!='customer'){?>
						
						<div style="display:inline-block; float:right;">
							
								<div class="status_container" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Awaiting Office Approval">
									<?php if(CheckAuth::checkCredential(array('canApproveComplaint'))){ ?>
									<a  style="text-decoration:none; color:#FFF;" href="<?php echo $this->url(array('id' => $this->complaint['complaint_id']), 'approvedComplaint'); ?>" > <img src="<?php echo $this->escape($this->baseUrl('/pic/office_approve.png')); ?>" width="20" height="20" />  </a>	
									<?php }else{ ?>
										<div> <img  src="<?php echo $this->escape($this->baseUrl('/pic/office_approve.png')); ?>" width="20" height="20" /> </div>
									<?php } ?>
								</div>
						</div>
						<?php } ?>
					<?php } ?>	
			</div>
	
			<div class="row">
				<div class="wrapper wrapper-content">
						<div class="col-md-5">
						
								<div class="ibox">
										<div class="ibox-title">
											<div class="inline">
													<b><?php echo $this->escape($this->complaint['complaint_num']) ?></b>
											</div>
											<div class="inline float-r">
												   <b>
														<?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
															<a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>" class="a_black"><b><?php echo $this->escape($this->booking['booking_num']) ?></b></a>
														<?php else: ?>
															<span><b><?php echo $this->escape($this->booking['booking_num']) ?></b></span>
														<?php endif; ?>
													</b>
											</div>
										</div>
									
										<div class="ibox-content">
											<table class="table table_no_top_border">
												<tbody>
													<tr>
														<td>
															<i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Created By" ></i>
															<?php echo $this->escape(ucfirst($this->createdBy['first_name'])) . " " . $this->escape(ucfirst($this->createdBy['last_name'])); ?>
														</td>
													</tr>

													<tr>
														<td>
														
															<i class="fa fa-meh-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Complaint Type"></i>
															<?php echo $this->escape(ucfirst($this->complaintType['name'])); ?>
														
														</td>
													</tr>
													<tr>
														
														<td>
															<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="To Follow"></span>
															
															<?php
																if(!empty($this->complaint['to_follow'])){
																echo $this->escape(getDateFormating($this->complaint['to_follow']));
																}
														    ?>
															
														</td>
													</tr>
													
													<tr style="background-color: <?php echo $this->escape($colors[$this->status['color']]) ?>;">
														
														<td>
															<div class="strocked-text">
																<span  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Status" > <a  class="strocked-text" 
																	 data-toggle="modal" data-target="#popupi" onclick="popupi('<?php echo $this->escape($this->status['name']) ?>','<?php echo $this->escape($this->url(array('id' => $this->status['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>');"><?php echo $this->escape($this->status['name']) ?></a>
																</span>
															
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
								</div>
						</div>
						<div class="col-md-7">
					
								<div class="ibox">
                        <div class="ibox-title">
                            <?php if ($this->photo): ?>
                                <a href="<?php echo $this->escape($this->url(array('itemid' => $this->complaint['complaint_id'], 'type' => $this->type), 'ItemAttachmentList')); ?>" class="details_info_opt"><span class="fa fa-th"></span> Photos </a>
                            <?php else: ?>
                                Photos
                            <?php endif; ?>
                            <span class="float-r">
                                <a class="a_link " data-toggle="modal" data-target="#popupi" href="#" onclick="popupi('Add Photos', '<?php echo $this->escape($this->url(array('type' => $this->type, 'itemid' => $this->complaint['complaint_id']), 'ItemImageAttachmentAttach')); ?>');"><i class="fa fa-camera"></i> Add photos&nbsp;</a>

                            </span>
                        </div>
                        <div class="ibox-content">
                            <div class="add_photo_button"><a style="margin-top:30%;display: block;" class="a_link " data-toggle="modal" data-target="#popupi" href="#" onclick="popupi('Add Photos', '<?php echo $this->escape($this->url(array('type' => $this->type, 'itemid' => $this->complaint['complaint_id']), 'ItemImageAttachmentAttach')); ?>');">
                                    <i class="fa fa-camera fa-4x"></i><br/> Add Photos&nbsp;</a>

                            </div>
                            <?php
							if ($this->photo):?>
                                <div id="productContainer">
                                    <div id="productContent">
                                        <ul  class="product-gallery" >
                                            <?php $number = $this->photoCount; ?>
                                            <?php foreach ($this->photo as $photo): ?>
                                                <?php
                                                list($width, $height) = getimagesize($this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['compressed_path'])));
                                                $service_name = '';                                               
                                                ?>

                                                <li class="gallery-img" count="<?php echo $this->photoCount; ?>" number="<?php echo $number; ?>">
                                                    <div class="viewImage" style="display:none;">
                                                        <div><?php echo $service_name; ?></div>
                                                    </div>

                                                    <img width = "150" height="150" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['thumbnail_path'])); ?>" imagewidth = "<?php echo $width ?>" imageheight = "<?php echo $height ?>" original="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['compressed_path'])); ?>"/>
                                                    <div class="icons-left">
                                                        <a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Attachment Image', '<?php echo $this->escape($this->url(array('id' => $photo['image_id'], 'type' => $this->type, 'itemid' => $this->complaint['complaint_id']), 'ItemImageAttachmentEdit')); ?> ');" class="details_info_opt editImage"><span class="fa fa-edit"></span> </a>
                                                    </div>


                                                    <div class="icons-right">
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $photo['image_id'], 'type' => $this->type, 'itemId' =>$this->complaint['complaint_id']), 'ItemImageAttachmentDelete')); ?>" onclick="return confirmImageDelete($(this))" class="details_info_opt del"><span class="fa fa-times"></span> </a>
                                                    </div>





                                                    <div class="content">

                                                        <div style="height:80%;overflow:auto;" class="discussions">


                                                            <?php
                                                            $modelUser = new Model_User();
                                                            $modelAuthRole = new Model_AuthRole();
                                                            $modelContractorInfo = new Model_ContractorInfo();
															$modelComplaintDiscussion = new Model_ComplaintDiscussion();
                                                            $imageDiscussions = $modelComplaintDiscussion->getDiscussionByImageId($photo['image_id'],'DESC');
                                                            ?>
                                                            <ul class="disc_b">
                                                                <?php if ($imageDiscussions): ?>
                                                                    <?php foreach ($imageDiscussions as $imageDiscussion): ?>
                                                                        <?php $user = $modelUser->getById($imageDiscussion['user_id']); ?>
                                                                        <li>
                                                                            <div class="normal_font"> 
                                                                                <span>
                                                                                    <i class="fa fa-user"></i>
                                                                                    <b><?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                                                                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                                                                            <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>

                                                                                        <?php else: ?>
                                                                                            <?php echo $this->escape(ucwords($user['username'])); ?>
                                                                                        <?php endif; ?>
                                                                                    </b>
                                                                                </span>

                                                                                <span >
                                                                                    <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                                                                                    <?php echo $this->escape(getDateFormating($imageDiscussion['created'])) ?>
                                                                                </span>
                                                                            </div>
                                                                            <div class="disc_message">
                                                                                <?php echo nl2br($this->escape(wordwrap($imageDiscussion['user_message'], 20, " ", true))); ?>
                                                                            </div>


                                                                        </li>
                                                                    <?php endforeach; ?>
                                                                <?php endif; ?>


                                                            </ul>
                                                        </div>
                                                        <div class="comment_body">
                                                            <div class="errMsg">&ensp;</div>
                                                            <input type="hidden" value= "<?php echo $photo['image_id']; ?>" name="imageId" id="imageId"/>
                                                            <div class="form-group">
                                                                <label class="col-md-3 col-xs-12"> 
                                                                    Comment 
                                                                </label>
                                                                <div class="col-md-7 col-xs-12" style="padding-left:0px;">
                                                                    <textarea name="discussion" class="form-control discussion_image" style="font-size:12px;"></textarea>               								
                                                                </div>
                                                                <div class="col-md-2 col-xs-12"><a class="btn btn-primary addComment" style="line-height:32px;"><i class="fa fa-comment"></i> Post</a></div>
                                                            </div>
                                                            <div style="clear:both"></div>
                                                        </div>
                                                    </div>


                                                </li>

                                                <?php $number = $number - 1; ?>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                </div>										
                           
                            <?php endif; ?>
                            <div style="clear:both"></div>
                        </div>
                    </div>
						
						</div>
						
						<div class="col-md-5">
							 <?php
									$customerView = new Zend_View();
									$customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
									$customerView->customer_id = $this->booking['customer_id'];
									$customerView->allDetails = $this->booking['is_accepted'];
									echo $customerView->render('customer_info.phtml');
									?>
						</div>
						<div class="col-md-12">
								<div class="ibox">
									<div class="ibox-title">
										<b>Comment</b>
									</div>
									
									<div class="ibox-content">
									
										<p><?php echo nl2br($this->escape($this->complaint['comment'])); ?></p>
									</div>
								
								</div>
						</div>
						
						
						<div class="col-md-12">
															
																

							
								<?php
								
									$view = new Zend_View();
									$view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');

									$view->bookingId = $this->booking['booking_id'];
									$view->complaintId = $this->complaint['complaint_id'];
									$view->view = 'complaint';

									echo $view->render('tabs.phtml');
									?>
						</div>
				</div>
			</div>
		

</div>
		


			
			
<script>
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
		$('.gallery-img').Am2_SimpleSlider();
	<?php 
		    $session = new Zend_Session_Namespace();
            $vpopup = $session->popup;
	if($vpopup && $vpopup == '1'):
		    $session = new Zend_Session_Namespace();
            $session->popup = '0';
			$vpopup = $session->popup;
		?>
	   $('#popupi').modal('show');
	   popupi('complaint Acknowledgement','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'sendComplaintAcknowledgementAsEmail')); ?>');
	   
	<?php endif;?>
	
	
		
		$.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array('type'=>'complaint','type_id'=> $this->complaint['complaint_id']), 'updateFullTextSearchByTypeAndTypeId')); ?>',
                success: function(result) {
					console.log(result);
                    
                }
            });
	
	});
    function sendEmail(url) {
        $(document).ready(function() {
            popupi("", url);
        });
    }
	
	/// for image gallary



    $('body').on('click', '.addComment', function (e) {


        parent = $(this).parents('.comment_body');
        comment = parent.find('.discussion_image').val();

        var url = '<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id'] ,'process' => 'send','type'=>'complaint'), 'submitDiscussion')); ?>';

        $.ajax({
            type: "POST",
            url: url,
            data: {'discussion': comment, 'imageId': parent.find('#imageId').val()},
            dataType: "json",
            success: function (msg) {
                if (msg.success == 1) {

                    getCommentData(parent.find('#imageId').val(), parent);
                    //$('#discussions').removeClass('empty');
                } else {
                    parent.parents('.product-desc').find('.errMsg').html(msg.errMsg);
                }
            }
        });

    });


    var count = 0;
    function getCommentData(ImageId, parent) {
        var url = '<?php echo $this->escape($this->url(array('type'=>'complaint'), 'allItemImageDiscussion')); ?>';

        $.ajax({
            type: "POST",
            data: {'id': ImageId},
            url: url,
            dataType: "json",
            success: function (msg) {

                if (count != msg.count) {
                    //alert($('#discussions').html());
                    var li_index = parent.parents('.product-information1').find('#image_num').val();

                    parent.parents('body').find('.gallery-img:eq(' + li_index + ') .discussions ul').html('');
                    parent.parents('.product-desc').find('.discussions ul').html('');
                    //alert(parent.parents('body').find('.gallery-img:eq('+li_index+') .discussions ul').html());

                    $.each(msg.discussions, function (index, discussion) {
                        parent.parents('.product-desc').find('.discussions ul').append(
                                '<li><div class="normal_font"> <span><i class="fa fa-user"></i>' +
                                '<b> ' + discussion.user.username + ' </b></span>' +
                                '<span ><i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' +
                                discussion.discussion_date + ' </span></div><div class="disc_message">' +
                                discussion.user_message + '</div></li>');

                        parent.parents('body').find('.gallery-img:eq(' + li_index + ') .discussions ul').append(
                                '<li><div class="normal_font"> <span><i class="fa fa-user"></i>' +
                                '<b> ' + discussion.user.username + ' </b></span>' +
                                '<span ><i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' +
                                discussion.discussion_date + ' </span></div><div class="disc_message">' +
                                discussion.user_message + '</div></li>');


                    });


                }

                parent.parents('.product-desc').find('.errMsg').html('');
                count = msg.count;
            }
        });
    }


    function confirmImageDelete(deleteLink) {
        var deletCommentFlag = 0;

        $div = $('<div id="deleteImage" class="modal fade"><div class="modal-dialog"><div class="modal-content"> <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">Confirmation Message</h4></div><div class="modal-body"> <p>Are you sure you want to continue?</p> </div><div class="modal-footer"><a type="button" class="btn btn-danger" id="okBtn">OK</a><a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a></div></div></div></div>').appendTo('body');

        if (!($('#deleteComment').length))
        {
            $div1 = $('<div id="deleteComment" class="modal fade"><div class="modal-dialog"><div class="modal-content"> <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">Confirmation Message</h4></div><div class="modal-body"> <p>Are you sure you want to continue?</p> </div><div class="modal-footer"><a type="button" class="btn btn-danger" id="okBtn">OK</a><a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a></div></div></div></div>').appendTo('body');
        }

        $("#deleteImage .modal-title").html('Delete Image');
        $("#deleteImage .modal-body").html('Are you sure you want to delete this Image Attachment?');
        $('#deleteImage').modal('show');

        $('body').on('click', '#deleteImage #okBtn', function () {

            $comments = deleteLink.parents('.gallery-img').find('.discussions ul li').length;

            if ($comments) {
                $('#deleteImage').modal('hide');
                $('#deleteComment').modal('show');
                $("#deleteComment .modal-title").html('Delete Image Comments');
                $("#deleteComment .modal-body").html('Are you sure you want to delete this Image Comments?');
                $("#deleteComment a:eq(0)").text('Yes');
                $("#deleteComment a:eq(1)").text('No');
                var _href = deleteLink.attr("href");
                $('#deleteComment a:eq(0)').attr("href", _href);
                $('#deleteComment a:eq(1)').attr("href", _href);
            } else {
                var _href = deleteLink.attr("href");
                $('#deleteImage').remove();
                window.location.href = _href;
            }
        });

        var deletCommentFlag = 'false';
        $('body').on('click', '#deleteComment #okBtn', function () {
            var deletCommentFlag = 'true';
            $('#deleteComment').modal('hide');
            $('#deleteComment').remove();
            var _href = $(this).attr("href");
            $(this).attr("href", _href + '?deleteComments=' + deletCommentFlag);
        });

        $('body').on('click', '#deleteComment a:eq(1)', function () {
            var deletCommentFlag = 'false';
            $('#deleteComment').modal('hide');
            $('#deleteComment').remove();
			var _href = $(this).attr("href");
			window.location.href =  _href + '?deleteComments=' + deletCommentFlag;
        });


        return false;
    }
	
									
	jQuery(window).load(function () {
	    var bookingId = '<?php echo $this->booking['booking_id'];?>';
	    var complaintId = '<?php echo $this->complaint['complaint_id'];?>';
	   $.ajax({
				url: "<?php echo $this->escape($this->url(array(), 'getTabsCount')); ?>",
				type: "POST",
				data: {booking_id: bookingId,complaint_id:complaintId},
				dataType : "JSON",
				success: function (data) {
					 $.each(data, function(index, count) {
					   content = $('#myTab #'+index).html();
					   content = content + '('+count+')';
					   $('#myTab #'+index).html(content);
					 });
				}
			});
	 
	});								
	
</script>
