<div class="ibox float-e-margins">
	<div class="ibox-content">
				<div class="row">
					<div class="col-md-5">
						<h3>Complaint Details</h3>
					</div>
					<div class="col-md-7 "></div>
				</div>
        </div>
		
	<div class="ibox-content">
    	<div class="row">
        	<div class="col-md-12">
			 <?php if (CheckAuth::checkCredential(array('complaintEmailReplay'))): ?>
			 <nav>
                 <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Replay Email to customer','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'complaintReplay')); ?>');" class="btn btn-info btn-outline">Reply Email To Customer</a>
			     <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Resend Email to Technician','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'complaintReplayToContractor')); ?>');" class="btn btn-info btn-outline">Resend Email To Technician</a>

			 </nav>
			 <?php endif; ?>
			</div>
		</div>
    </div>
	
</div>		

<?php
$colors = array (
		'0' => '#888888',
		'1' => '#cc3333',
		'2' => '#dd4477',
		'3' => '#994499',
		'4' => '#6633cc',
		'5' => '#336699',
		'6' => '#3366cc',
		'7' => '#22aa99',
		'8' => '#329262',
		'9' => '#109618',
		'10' => '#66aa00',
		'11' => '#aaaa11',
		'12' => '#d6ae00',
		'13' => '#ee8800',
		'14' => '#dd5511',
		'15' => '#a87070',
		'16' => '#8c6d8c',
		'17' => '#627487',
		'18' => '#7083a8',
		'19' => '#5c8d87',
		'20' => '#898951',
		'21' => '#b08b59',
		'-1' => '#7a367a' 
);

?>

<div class="no-margin-b">

			
		
<div class="content">
	<div class="row">
		<div class="col-md-6">
		<div class="panel panel-primary no-border-color-reduis col-md-12">
		 <h4 class="panel-heading">Complaint Details : </h4>
		 <div class="panel-body">
		     <table class="table">
                        <tbody>
                            <tr>
                                <th>Complaint Status</th> 
                                <td style="text-align:center; color:#FFF; background-color:<?php if($this->complaint['complaint_status']=='open'){ echo '#ff0000';} else echo '#22aa99'; ?>;">
                                 <?php if (CheckAuth::checkCredential(array('complaintConvertStatus'))){ ?>
									<a class="a_white" href="javascript:;" style="color:#FFF" 
									data-toggle="modal" data-target="#popupi" onclick="popupi('complaint Discussion','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id'],'process'=> ($this->complaint['complaint_status'] == 'open') ? 'close' : 'open'), 'complaintDisscussion')); ?>','470','700','complaint Discussion');" > <?php echo $this->escape(strtoupper($this->complaint['complaint_status'])); ?></a>
									 <?php }
									 else{ ?>
										<?php echo $this->escape($this->complaint['complaint_status']) ?>
									 <?php } ?>
								
								</td>
                            </tr>
							
							<tr>
                                <th>Complaint #</th> 
                                <td>
                                    <b>
                                       <span><b><?php echo $this->escape($this->complaint['complaint_num']) ?></b></span>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <th>Booking #</th> 
                                <td>
                                    <b>
                                        <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>" class="a_black"><b><?php echo $this->escape($this->booking['booking_num']) ?></b></a>
                                        <?php else: ?>
                                            <span><b><?php echo $this->escape($this->booking['booking_num']) ?></b></span>
                                        <?php endif; ?>
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td><?php echo wordwrap($this->escape($this->booking['title']), 30, "<br />\n"); ?></td>
                            </tr> <tr>
                                <th>Date</th> 
                                <td><?php 
								$modelUser = new Model_User();
								echo "timezone";//echo $modelUser->covertToUserTimezone($this->complaint['created']); ?></td>
                            </tr>
                            <tr>
                                <th>Status</th> 
                                <td style=" text-align:center; background-color: <?php echo $this->escape($colors[$this->status['color']]) ?>;">
								    <a style="color:#fff" href="javascript:;"
										 data-toggle="modal" data-target="#popupi" 
										onclick="popupi('<?php echo $this->escape($this->status['name']) ?>','<?php echo $this->escape($this->url(array('id' => $this->status['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>');"><?php echo $this->escape($this->status['name']) ?></a>
								</td>
                            </tr>

                            <tr>
                                <th>Created By</th>
                                <td><?php echo $this->escape(ucfirst($this->createdBy['first_name'])) . " " . $this->escape(ucfirst($this->createdBy['last_name'])); ?></td>
                            </tr>

                            <tr>
                                <th>Complaint Type</th>
                                <td><?php echo $this->escape(ucfirst($this->complaintType['name'])); ?></td>
                            </tr>
							<tr>
                                <th>To Follow</th>
                                <td><?php //echo !empty($this->complaint['to_follow']) ? date('Y-m-d',$this->complaint['to_follow']) : '';
								echo "timezone";//echo $modelUser->covertToUserTimezone($this->complaint['to_follow']); ?></td>
                            </tr>
                        </tbody>
                    </table>
		 </div>
		</div>
		</div>
		
		<div class="col-md-5 col-md-offset-1">
		 <?php
                    $customerView = new Zend_View();
                    $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                    $customerView->customer_id = $this->booking['customer_id'];
                    $customerView->allDetails = $this->booking['is_accepted'];
                    echo $customerView->render('customer_info.phtml');
                    ?>
		
		</div>
		
		
	</div>	
</div>	

<div class="content">
		<div class="row">
		
				<div class="col-md-12">
					<div class="panel panel-primary no-border-color-reduis col-md-12">
					<h4 class="panel-heading">Comment :</h4>
						<div class="panel-body">
							<p><?php echo nl2br($this->escape($this->complaint['comment'])); ?></p>
						</div>
				
				</div>
			</div>
		</div>
	</div>
	

	
	
	<?php
            $view = new Zend_View();
            $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');

            $view->bookingId = $this->booking['booking_id'];
            $view->complaintId = $this->complaint['complaint_id'];
            $view->view = 'complaint';

            echo $view->render('tabs.phtml');
            ?>
			
			
<script>
	$(document).ready(function() {
	
	<?php if(isset($_GET['ViewPOP']) && $_GET['ViewPOP'] == 'true'):?>
	   $('#popupi').modal('show');
	   popupi('complaint Acknowledgement','<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'sendComplaintAcknowledgementAsEmail')); ?>');
	   
	<?php endif;?>
		
	});
    function sendEmail(url) {
        $(document).ready(function() {
            popupi("", url);
        });
    }
</script>
