<div class="col-lg-12 wrapper-content">
    <div class="col-lg-12">
        <?php echo $this->render('index/filters.phtml'); ?>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Contractors Detailed Summary Report
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>

            <div class="ibox-content">
                <?php if ($this->data): ?>
                    <?php
                    $modelContractorInfo = new Model_ContractorInfo();
                    $modelAuthRole = new Model_AuthRole();
                    ?>
                    <div class="">
                        <?php if ((isset($this->user['username']) && $this->user['username']) || (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) || (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'])): ?>
                            <div class="filter_criteria">
                                <div>
                                    <?php if ($this->user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($this->user['user_id']); ?>
                                        <?php echo $this->escape(($this->user['username'] ? ucwords($this->user['username']) : '') . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                    <?php else: ?>
                                        <?php echo $this->escape($this->user['username'] ? ucwords($this->user['username']) : '') ?>
                                    <?php endif; ?>
                                </div>
                                <div>
                                    <?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
                                    <?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
                                    <?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                        <td>Contractor</td>
                        <td>Commission</td>
                        <td>Registered GST</td>
                        <td>No of Jobs</td>
                        <?php foreach ($this->bookingStatuses AS $bookingStatus): ?>
                            <td><?php echo $this->escape($bookingStatus['name']) ?></td>
                        <?php endforeach; ?>
                        <td>Amount</td>
                        <?php foreach ($this->paymentTypes AS $paymentTypes): ?>
                            <td><?php echo $this->escape(get_shortcut($paymentTypes['payment_type'], 'Payments')); ?></td>
                        <?php endforeach; ?>
                        <td>Cash Payments</td>
                        <td>Refunds (-)</td>
                        <td>Unpaid</td>
                        <td>Total Office</td>
                        <td>Company Share</td>
                        <td>Operator Share</td>
                        <td>PAYMENT TO SC</td>
                        <td>Invoice#</td>
                        <td>Amount Paid</td>
                        <td>Date Paid</td>
                        <td>Outstanding</td>
                        </thead>
                        <tbody>
                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="gradeX">
                                    <td><?php if ($row['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($row['user_id']); ?>
                                            <?php echo $this->escape(($row['username'] ? ucwords($row['username']) : '') . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                        <?php else: ?>
                                            <?php echo $this->escape($row['username'] ? ucwords($row['username']) : '') ?>
                                        <?php endif; ?></td>
                                    <td>
                                        <?php echo (!empty($row['commission']) ? $this->escape($row['commission']) . "%" : 0 ) ?>
                                    </td>
                                    <td>
                                        <?php echo (!empty($row['registerd_gst']) ? 'Yes' : 'No') ?>
                                    </td>
                                    <td>
                                        <?php echo $this->escape($row['total_booking']) ?>
                                    </td>
                                    <?php foreach ($row['booking_statuses'] AS $bookingStatus): ?>
                                        <td>
                                            <?php echo '(' . $this->escape($bookingStatus['total_number']) . ') ' . ($bookingStatus['total_amount'] ? $this->escape(number_format($bookingStatus['total_amount'], 2)) : number_format(0, 2)) ?>
                                        </td>
                                    <?php endforeach; ?>
                                    <td>
                                        $<?php echo $row['total_amount_services'] ? $this->escape(number_format($row['total_amount_services'], 2)) : number_format(0, 2) ?>
                                    </td>
                                    <?php foreach ($row['payment_types'] AS $paymentTypes): ?>
                                        <td>
                                            $<?php echo (!empty($paymentTypes['amount']) ? $this->escape(number_format($paymentTypes['amount'], 2)) : number_format(0, 2)) ?>
                                        </td>
                                    <?php endforeach; ?>
                                    <td>
                                        $<?php echo $row['cashPayment'] ? $this->escape(number_format($row['cashPayment'], 2)) : number_format(0, 2) ?>
                                    </td>
                                    <td>
                                        $<?php echo $row['total_refund'] ? $this->escape(number_format($row['total_refund'], 2)) : number_format(0, 2) ?>
                                    </td>
                                    <td>
                                        $<?php echo $row['unpaid'] ? $this->escape(number_format($row['unpaid'], 2)) : number_format(0, 2) ?>
                                    </td>
                                    <td>
                                        $<?php echo $row['totalOffice'] ? $this->escape(number_format($row['totalOffice'], 2)) : number_format(0, 2) ?>
                                    </td>
                                    <td>
                                        $<?php echo $row['company_share'] ? $this->escape(number_format($row['company_share'], 2)) : number_format(0, 2) ?>
                                    </td>
                                    <td>
                                        $<?php echo $row['operator_share'] ? $this->escape(number_format($row['operator_share'], 2)) : number_format(0, 2) ?>
                                    </td>
                                    <td>
                                        $<?php echo $row['payment_to_sub_contractor'] ? $this->escape(number_format($row['payment_to_sub_contractor'], 2)) : number_format(0, 2) ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>


                    </table>
               <?php else: ?>
                <div style="" class="noRowsMessageDIV">Please Select Contractor And Date Range.</div>
            <?php endif; ?>

            </div>


        </div>

    </div>

</div>