<?php 
$status_colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);

?>
<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="row">
            <div class="col-md-5">
              <h3>Bookings Feedback</h3>
            </div>
      		<div class="col-md-7 ">
      				<div class="inline-list float-lg-r">
    			 		 <?php echo $this->feedbackStatus->render(); ?>
                   </div>
 			</div>
 		</div>
	</div>
</div>
 
            
          
<div class="ibox no-margin-b">
            <?php if ($this->data): ?>
			<div class="ibox-content">
                <form method="POST" id="feedback-form" action="<?php echo $this->escape($this->url(array(), 'feedbackList')); ?>">
                
                        <table  class="table table-bordered">
                            <thead>
                                <th></th>
                                <th>Booking#</th>
                                <th>FeedBack</th>
                                <th>Created</th>
                                <th >Status</th>
                            </thead>
                            <tbody>
                            <?php $count = 0; ?>
                            <?php
                            $modelBookingStatus = new Model_BookingStatus();
                            ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                        <?php $bookingStatus = $modelBookingStatus->getById($row['status_id']); ?>
                                    <td style="background-color: <?php echo $this->escape($status_colors[$bookingStatus['color']]) ?>;"></td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking']['booking_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span class="details_info_name"><b><?php echo $this->escape($row['booking']['booking_num']) ?></b></span>
                                                <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['booking']['convert_status']) {
                                                case 'booking':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'estimate':
                                                    $color = '#4F8BC3';
                                                    break;

                                                case 'invoice':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>">
                                                <?php echo $this->escape($row['booking']['convert_status']); ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Feedback','<?php echo $this->escape($this->url(array('id' => $row['id']), 'feedbackView')); ?>');"class="a_link_black"> <?php echo $this->escape(strlen($row['feedback']) < 300 ? $row['feedback'] : substr($row['feedback'], 0, 300) . '...'); ?></a>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="details_info_l">
                                            <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                        </div> 
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Booking Status Description','<?php echo $this->escape($this->url(array('id' => $bookingStatus['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>');" class="a_link_black"><?php echo $this->escape($bookingStatus['name']) ?></a>
                                        </div>
                               
                                    </td>
                                    </tr>
                                    <?php endforeach; ?>
                                    </tbody>
                                    </table>
                          </form>
        </div>
</div>
                          
			
     
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
            <?php else: ?>
              
			    <div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Bookings FeedBack.</h3></div>
        
            <?php endif; ?>
   
