
<table class="table">
    <tr>
        <td class="left_side">
		 <form id="fmReport">
            <div class="head">
                <div class="list_title">
                    Payment To Contractors Report
<?php

/*
$mongo = new Model_Mongo();
					$x = array("contractor_mobile_info_id" => 15, "contractor_id" => 41, "notification_text" => "Your booking BOK-7932 has been updated, please check it.", "send_date" => "10-07-2014", "seen" => 0, "booking_id" => 7938 );
					$y = array("contractor_mobile_info_id" => 15, "contractor_id" => 41, "notification_text" => "Your booking BOK-3369 has been updated, please check it.", "send_date" => "12-07-2014", "seen" => 0, "booking_id" => 3373 );
					$z = array("contractor_mobile_info_id" => 15, "contractor_id" => 41, "notification_text" =>"you have new comment on booking number BOK-8608, please check it.", "send_date" => "13-07-2014", "seen" => 0, "booking_id" => 8614 );
					$w = array("contractor_mobile_info_id" => 15, "contractor_id" => 41, "notification_text" => "you have new comment on booking number BOK-8549, please check it.", "send_date" => "13-07-2014", "seen" => 0, "booking_id" => 8555 );

					$mongo->insertNotification($x);			
					$mongo->insertNotification($y);			
					$mongo->insertNotification($z);			
					$mongo->insertNotification($w);	*/
/*$str ='a:2:{s:5:"table";s:14:"BookingInvoice";s:14:"update_records";a:2:{i:0;a:3:{i:0;i:1234;i:1;s:3:"564";i:2;a:1:{s:16:"overdue_reminded";s:4:"done";}}i:1;a:3:{i:0;i:3573;i:1;s:3:"564";i:2;a:1:{s:16:"overdue_reminded";s:4:"done";}}}}';
$ret= unserialize($str);
		//print_r($ret);
		$table = $ret['table'];
		echo 'table'.$table;
		
		if($table == 'BookingInvoice'){
			$model = new Model_BookingInvoice();
		}
		elseif($table == 'Booking'){
			$model = new Model_Booking();
		}
		elseif($table == 'BookingEstimate'){
			$model = new Model_BookingEstimate();
		}
		elseif($table == 'Inquiry'){
			$model = new Model_Inquiry();
		}
		$update_records = $ret['update_records'];
		//$modelCronjobDataTemp = new Model_CronjobDataTemp();
		foreach($update_records as $ele){
			$ref_id = $ele[0];
			$updated = $ele[1];
			
			$update_array = $ele[2];
			print_r($update_array);
			foreach ($update_array as $key => $val){
				if(!empty($update_array)){
				foreach ($update_array as $key => $val){
					$model->updateById($ref_id, array($key => $val));	
				}
			}
			}
			echo '<br/>';
		
		}







//Reminder Overdue Invoice
 //$modelBooking = new Model_Booking();
 //$modelBooking->cronJob('Reminder_Overdue_Invoice' ,'BookingInvoice', 'reminder_overdue_invoice', 'overdue_reminded',1);
//Reminder Estimates
/*$modelBookingEstimate = new Model_BookingEstimate();
$modelBookingEstimate->cronJobReminderQuotedBooking();*/
/*$modelBookingInvoice = new Model_BookingInvoice();
$modelBookingInvoice->cronJobReminderOverdueInvoice();*/
/*
$modelBooking = new Model_Booking();
$modelBooking->cronJobReminderOnHoldBooking();
$modelBooking->cronJobReminderTentativeBooking();*/
/*
$modelCronjobDataTemp = new Model_CronjobDataTemp();
		$invoices = $modelCronjobDataTemp->getDataByEmailTypeAndCompanyId('overdue_reminded',1);
		//print_r($invoices);
		foreach ($invoices as $invoice) {
			$data = unserialize($invoice['email_info']);
			print_r($data);
			echo '*********************************';
            $template_params = unserialize($invoice['email_content_parms']);
			print_r($template_params);
			echo '*********************************';
			$email_log = unserialize($invoice['email_log']);
			print_r($email_log);
			echo '*********************************';
			$companyId = 1;
			try {
				print_r($data);
				print_r($template_params);
				print_r($email_log);
					EmailNotification::sendEmail($data, 'reminder_overdue_invoice', $template_params, $email_log, $companyId);
					$overdueReminded = 'done';
					} 
				catch( Zend_Mail_Transport_Exception $e ) {
					$overdueReminded = 'error';
					}
		}
*/

//load models
		/*$modelPaymentToContractors = new Model_PaymentToContractors();
		$modelContractorServiceBooking = new Model_ContractorServiceBooking();
		
		$paymentToContractorId = 1582;
		$payment = $modelPaymentToContractors->getById($paymentToContractorId);
		
		$filters = array();
		$filters['payment_to_contractor_id'] = $paymentToContractorId;
		$filters['paid_status'] =1;
		$filters['customer_payment_status'] =1;
		$bookings = $modelContractorServiceBooking->test($filters);
		
		$view = new Zend_View();
				$error_mesages = array();
				$view->setScriptPath(APPLICATION_PATH . '/modules/reports/views/scripts/payment-report');
				$view->payment = $payment;
				$view->bookings = $bookings;
			
			
				$bodyInvoice = $view->render('payment-as-email.phtml');
				
                        // Create pdf
                        $pdfPath = createPdfPath();
                        $destination = $pdfPath['fullDir'] . '12345.pdf';
                        wkhtmltopdf($bodyInvoice, $destination);
						

/*$iosNotification = new Model_IosUserNotificationSetting();
					$stttings = $iosNotification->getAllIosSettingNamesByUserId(8);*/
/*
$mongo = new Model_Mongo();
		$mongo->insertNotification();
/*
$dbhost = 'localhost';  
$dbname = 'mydb';  
  
// Connect to test database  
$con = new Mongo("mongodb://$dbhost");
//$con = new Mongo;
$db = $con->demo;

$doc1 = array(
        '_id' => new MongoId('4cb4ab6d7addf98506010001'),
        'id' => 1,
        'desc' => "ONE",
);
$doc2 = array(
        '_id' => new MongoId('4cb4ab6d7addf98506010002'),
        'id' => 2,
        'desc' => "TWO",
);
$doc3 = array(
        '_id' => new MongoId('4cb4ab6d7addf98506010002'), // same _id as above
        'id' => 3,
        'desc' => "THREE",
);
$doc4 = array(
        '_id' => new MongoId('4cb4ab6d7addf98506010004'),
        'id' => 4,
        'desc' => "FOUR",
);

$c = $db->selectCollection('c');
$c->batchInsert(
    array($doc1, $doc2, $doc3, $doc4),
    array('continueOnError' => true)
);

$docs = $c->find();
foreach ($docs as $doc) {
    var_dump($doc['desc']);
}*/
?>
					<?php 
					//**********Test new DB connection
					//echo extension_loaded("mongo") ? "loaded\n" : "not loaded\n";
					//phpinfo(8);
					//$mongo = new Model_Mongo();
					/*
					try{
					$db = new Zend_Db_Adapter_Pdo_Mysql(array(
							'host'     => '107.22.250.170',
							'username' => 'cleaning_service',
							'password' => '123cleaning_service_123',
							'dbname'   => 'cleaning_service'
						));
					
					echo $db->getConnection()
							->getAttribute(PDO::MYSQL_ATTR_USE_BUFFERED_QUERY);
							}
						catch(Exception $e){
							echo $e->__toString();
						}
						*/	
					/*$sql = 'SELECT * FROM booking WHERE booking_id = ?';
 
					$result = $db->fetchAll($sql, 2);
					
					print_r($result);*/
					///**************
					
					$filters = $this->fltr;
					$modelPaymentAttachment = new Model_PaymentAttachment();
					$modelBookingContractorPayment = new Model_BookingContractorPayment();
					$modelAuthRole = new Model_AuthRole();
					
					$superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
					$loggedUser = CheckAuth::getLoggedUser();
					
					$user_id = $loggedUser['user_id'];
						 
					$modelUser = new Model_User();
					$user = $modelUser->getById($user_id);
					
					?>
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->payments):
				//print_r($this->payments);	?>
                <div id="data_table">
                    <div class="filter_payment">
                        <div>
                            Payments To Contractors                           
                        </div>
                        <div>
							
                            <?php echo $this->escape(isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between'] ? 'From : ' . $this->fltr['payment_created_between'] : '') ?>
                            <?php echo $this->escape((isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between']) && (isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between']) ? ' - ' : '') ?>
                            <?php echo $this->escape(isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between'] ? 'To : ' . $this->fltr['payment_end_between'] : '') ?>
                        </div>
                    </div>
                    <table id="myTable" border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table" >
						<thead> 
                        <tr style="background-color: black; color: white;">
							<th></th>
                            <th>INV#</th>
							<th>Num of </br> Bookings</th>
							<th>Contractor</th>
                            <th>Date of Payment</th>
                            <th>Reference#</th>
							<th>Invoice Total Amount</th>
                            <th>EFT to Contractor</th>
							<th>Cash Received by Contractor</th>	
							<th>Amount Due</th>
							<th>Invoice Total Amount </br>(Calculated)</th>
							<th>Amount Due </br>(Calculated)</th>
							<th>Description</th>
							<th>Date Created</th>
							<th>Created By</th>
							<th>Attachments</th>
							
							<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canEditDeletePaymentToContractor'))){ ?>
							<th></th>
							<?php } ?>
							
                        </tr>
						</thead> 
						<tbody> 
                        <?php $count = 0;
						foreach ($this->payments AS $payment){ 
							if(($payment['contractor_invoice_num'] =='999999999' && $user['username'] =='Ayman') || $payment['contractor_invoice_num'] !='999999999' ){
							$count++;
						?>    
									
                            <tr id="<?php echo $this->escape('payment_' . $payment['payment_to_contractor_id']); ?>" name="record" cellpadding="100" style="text-align: center; vertical-align: top; "> 
								<td>  
                                    <input type="checkbox" name="payment_to_contractors[]" id="<?php echo 'checkbox_'.$this->escape($payment['payment_to_contractor_id']); ?>"  value="<?php echo $this->escape($payment['payment_to_contractor_id']); ?>" />
                                </td>
                                <td><?php if (!empty($payment['contractor_invoice_num'])): ?>
                                        <?php 
											$fltr = array();
											$fltr['contractor_id']=$payment['contractor_id'];
											$fltr['Inv']=$payment['contractor_invoice_num'];
											$url=implode('&amp;', array_map(function($key, $val) {
													return 'fltr[' . urlencode($key) . ']=' . urlencode($val);
												  },
												  array_keys($fltr), $fltr)
												);
											?>
									<a target="_blank" href="<?php echo $this->escape($this->url(array(), 'reportContractorsBookingsSummary')).'?'.$url; ?>" > <?php echo $payment['contractor_invoice_num']; ?> </a>
                                    <?php endif; ?>
                                </td>
								<td><?php echo $this->escape($payment['bookings']) ?></td>
								<td><?php echo $this->escape($payment['username']) ?></td>
                                <td><?php 
								$datetime = strtotime($payment['date_of_payment']);
									echo isset($payment['date_of_payment']) ? date("d M Y", $datetime) : '';
								?></td>
                                <td><?php echo $this->escape($payment['payment_reference']) ?></td>  
								<td id="<?php echo 'invoice_total_amount_'.$count;?>"><?php echo $this->escape(number_format($payment['invoice_total_amount'], 2)) ?></td>								
                                <td id="<?php echo 'amount_paid_'.$count;?>" ><?php echo $this->escape(number_format($payment['amount_paid'], 2)) ?></td>
								<td id="<?php echo 'cash_paid_'.$count;?>" ><?php echo $this->escape(number_format($payment['cash_paid'], 2)) ?></td>
								<td id="<?php echo 'amount_due_'.$count;?>" ></td> 
								<td id="<?php echo 'calculated_invoice_total_amount_'.$count;?>" ><?php
								$breakdown_total_payment = $modelBookingContractorPayment->getTotalPaymentByPaymentToContractorId($payment['payment_to_contractor_id']);
								echo $this->escape(number_format($breakdown_total_payment['calculated_amount'], 2)) ?></td>
								 
								<td id="<?php echo 'calculated_amount_due_'.$count;?>" ></td>  
								<td><?php echo !empty($payment['description']) ? $payment['description'] : ''; ?></td>
								<td><?php $datetime = strtotime($payment['date_created']);
									echo isset($payment['date_created']) ? date("d M Y", $datetime) : '';
							    ?></td>
								<td><?php echo !empty($payment['created_by_user']) ? $payment['created_by_user'] : ''; ?></td>
								
							<td  id="<?php echo $this->escape('attachments_' . $payment['payment_to_contractor_id']); ?>"  >
											
								<?php
							$attachments=$modelPaymentAttachment->getByPaymentToContractorId($payment['payment_to_contractor_id']);
							
							if(!empty($attachments)){							
							?>
							
							
							<?php foreach($attachments as $a=>$attachment){ 
							///////prepare new file name
							 $company_name= str_replace(" ","_",$payment['company_name']);
							 $company_name= str_replace(",","",$company_name);
							 $file_name= $payment['contractor_invoice_num'].'_'.$payment['username'].'_'.$company_name;
									  
							?>
								<div id="<?php echo $this->escape('attachment_' . $attachment['attachment_id']); ?>" style="height:80px; float:left; width:150px; background-color:#DFE1E3; text-align:center; border:1px solid #999; font-size:14px; margin:5px; display:inline-block; padding-top: 10px; line-height:23px; " >
								<?php //if the user click in the file name the file will open in google viewer 
								$filenameArr=explode(".", $attachment['file_name']);
								$ext= end($filenameArr);
									if( $ext=='pdf' || $ext=='doc' || $ext=='xls' ||$ext=='ppt'|| $ext=='docx' || $ext=='xlsx' ||$ext=='pptx' ){
									 ?>
									<a href="https://docs.google.com/viewer?url=http://cm.tilecleaners.com.au/uploads/payment_attachment/<?php echo $attachment['path'] ?>" class="details_info_opt" target="_blank" ><?php echo $attachment['file_name']; ?></a></br>
									 <?php
									}
									else{										     
									?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $attachment['attachment_id'],'file_name' => $file_name), 'paymentAttachmentDownload')); ?>" class="details_info_opt" target="_blank"><?php echo $attachment['file_name']; ?></a></br>
                                <?php }
								
								 echo $attachment['path'];
									  // now when the user click on download icon the file will download
									 
									  ?>
									  </br>
									<a href="<?php echo $this->escape($this->url(array('id' => $attachment['attachment_id'],'file_name' => $file_name ), 'paymentAttachmentDownload')); ?>" class="details_info_opt" ><img src="/pic/icons/download.png"></a>
                                    <a  id="<?php echo $this->escape('upload_to_GDrive_' . $attachment['attachment_id']); ?>" onClick="upload_attachment_to_Gdrive('<?php echo $this->escape($this->url(array('contractor_id' => $loggedUser['user_id'],'attachment_id' => $attachment['attachment_id'],'file_name' => $file_name), 'uploadDocumentToGoogleDrive')); ?>',$(this))" href="javascript:;" class="details_info_opt" ><img src="/pic/icons/drive.png"></a>
                                   
								   <?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canEditDeletePaymentToContractor'))){ ?>
									<a onClick="delete_attachment('<?php echo $this->escape($this->url(array('attachment_id' => $attachment['attachment_id']), 'deletePaymentToContractorAttachment')); ?>')" href="javascript:;" class="details_info_opt" ><img src="/pic/icons/delete1.png"></a>
                                  
									<?php } ?>
									
									
									 
									 
								</div>
								<?php } ?>
							
							
							<?php } ?>
								
								</td>
							
							<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canEditDeletePaymentToContractor'))){ ?>
									<td><a href="javascript:;"  onClick="delete_payment('<?php echo $this->escape($this->url(array('id' => $payment['payment_to_contractor_id']), 'deletePaymentToContractors')); ?>')"  class="details_info_opt" >Delete</a>
									</br> 
									<a  href="javascript:;" onclick="sendEmail('<?php echo $this->escape($this->url(array('id'=> $payment['payment_to_contractor_id']), 'sendpaymentAsEmail')); ?>');">Send Email</a> 
									<!-- <a  href="<?php //echo $this->escape($this->url(array('id'=> $payment['payment_to_contractor_id']), 'sendpaymentAsEmail')); ?>">Send Email</a>-->
									</td>
								
							<?php } ?>
								
								
							</tr>
							
                        <?php }
						}
						?>
						</tbody> 
                    </table>
                </div>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">
                    <b>There are no payments recorded in the selected date range.</b>
                    <div><?php echo $this->escape(isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between'] ? 'From : ' . $this->fltr['payment_created_between'] : '') ?>
                        <?php echo $this->escape((isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between']) && (isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between']) ? ' - ' : '') ?>
                        <?php echo $this->escape(isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between'] ? 'To : ' . $this->fltr['payment_end_between'] : '') ?>
                    </div>      
                </div> 
            <?php endif; ?>
			</form>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php echo $this->render('index/payment_to_contractors_filters.phtml'); ?>
				 <?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canEditDeletePaymentToContractor'))){ ?>
					 <input class="button" type="submit" value="edit" name="button" style=" width: 111px;" onclick="submit_payment()" />
				 <?php } ?>
            </div>
			
        </td>
    </tr>
</table>
<script type="text/javascript" >
$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
		var count = 0;
		$('tr[name="record"]').each(function(index) {
			count++;
			invoice_total_amount_str = $('#invoice_total_amount_'+count).html();
			amount_paid_str = $('#amount_paid_'+count).html();
			cash_paid_str = $('#cash_paid_'+count).html();
			calculated_invoice_total_amount_str = $('#calculated_invoice_total_amount_'+count).html();
			
			invoice_total_amount = parseFloat(invoice_total_amount_str.replace(",",""));
			amount_paid = parseFloat(amount_paid_str.replace(",",""));
			cash_paid = parseFloat(cash_paid_str.replace(",",""));
			calculated_invoice_total_amount = parseFloat(calculated_invoice_total_amount_str.replace(",",""));
			amount_due = invoice_total_amount - (amount_paid + cash_paid);
			calculated_amount_due = calculated_invoice_total_amount - (amount_paid + cash_paid);
			
			$('#amount_due_'+count).html(amount_due);
			$('#calculated_amount_due_'+count).html(calculated_amount_due);
			
		});
		
    } 
); 

function submit_payment(){
        showPopupWindow('<?php echo $this->escape($this->url(array('contractor_id'=> $filters['contractor_id'],'date_range'=> !empty($filters['date_range'])? $filters['date_range'] : '','payment_created_between' => $filters['payment_created_between'],'payment_end_between' => $filters['payment_end_between'] ), 'editPaymentToContractor')); ?>', '500', '500', 'edit payment to contractor');
       
    }
function delete_attachment(url){
	var r = confirm("Are you sure you want to delete this attachment?");
	if (r == true)
	  {
	 $.ajax({
            type: "POST",
            url: url,
            dataType : "json",
            success: function(data) {
                if(data.isDeleted){
					$('#attachment_'+data.attachmentId).remove();
					alert('the file is deleted sccessfully');
				}
				else{
					alert('the file is not deleted, please try again');
				}
               
            }
            
        });
	 }

}


function upload_attachment_to_Gdrive(url,this_link){
this_link.html('<img src="/pic/loading-4.gif">');

	 $.ajax({
            type: "POST",
            url: url,
            dataType : "json",
            success: function(data) {
                if(data.retVal == 'success'){
					$('a#upload_to_GDrive_'+data.attachmentId).html('<img src="/pic/icons/drive.png">');
					alert('the file is uploaded to google drive sccessfully');
				}
				else if (data.retVal == 'fail'){
					$('a#upload_to_GDrive_'+data.attachmentId).html('<img src="/pic/icons/drive.png">');
					alert('un supported file type');
				}
				else{
					$('a#upload_to_GDrive_'+data.attachmentId).html('<img src="/pic/icons/drive.png">');
					alert('invalid Gmail account');
				}
               
            }
            
        });

}

function delete_payment(url){
	var r = confirm("Are you sure you want to delete this payment with all it's attachments?");
	if (r == true)
	  {
	 $.ajax({
            type: "POST",
            url: url,
            dataType : "json",
            success: function(data) {
			console.log('tessssst1111');
			console.log(data.isDeletedPayment);
			if(data.isDeletedPayment){
				$('#payment_'+data.payment_to_contractors_id).remove();
				$('#attachments_'+data.payment_to_contractors_id).remove();
				alert('this payment is deleted successfully ');
				
			}
			else {
			   alert('this payment is not deleted, please try again ');
			}
              
               
            }
            
        });
	}
}

function sendEmail(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=510&width=800');
        });
    }

</script>
