
<div class="ibox">
	<div class="ibox-content">
	<?php echo $this->render('index/payment_to_contractors_filters.phtml'); ?>
	 <?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canEditDeletePaymentToContractor'))){ ?>
		 <input class="button btn btn-primary" type="submit" value="edit" name="button"  onclick="submit_payment()" />
	 <?php } ?>
	</div>
</div>
<?php

		$filters = $this->fltr;
		$modelPaymentAttachment = new Model_PaymentAttachment();
		$modelBookingContractorPayment = new Model_BookingContractorPayment();
		$modelAuthRole = new Model_AuthRole();
		
		$superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
		$loggedUser = CheckAuth::getLoggedUser();
		
		$user_id = $loggedUser['user_id'];
			 
		$modelUser = new Model_User();
		$user = $modelUser->getById($user_id);
					
?>
<div class="ibox no-margin-b">
	
	<div class="ibox-content">
		<div class="row">
			<h3> Payment To Contractors Report</h3>
		</div>
	</div>
	<div class="ibox-content">
		<div class="row">
		<form id="fmReport">
 <?php if ($this->payments):?>
		 <div id="data_table">
                    <div class="filter_payment">
                        <div>
                            Payments To Contractors                           
                        </div>
                        <div>
                            <?php echo $this->escape(isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between'] ? 'From : ' . $this->fltr['payment_created_between'] : '') ?>
                            <?php echo $this->escape((isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between']) && (isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between']) ? ' - ' : '') ?>
                            <?php echo $this->escape(isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between'] ? 'To : ' . $this->fltr['payment_end_between'] : '') ?>
                        </div>
                    </div>
                    <table id="myTable" border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table table table-bordered" >
						<thead> 
								<thead>
									<tr>
										<th></th>
										<th>INV#</th>
										<th>Contractor</th>
										<th>Payment Date</th>
										<th>Reference#</th>
										<th>Invoice Total Amount</th>
										<th>EFT To Contractor</th>
										<th>Cash received by Contractor</th>	
										<th>Calculated Amount</th>
										<th>Description</th>
										<th>Create Date</th>
										<th>Created By</th>
										<th>Attachments</th>
										
										<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canEditDeletePaymentToContractor'))){ ?>
										<th>delete</th>
										<?php } ?>
										
									</tr>
								</thead>
						</thead> 
						<tbody> 
                        <?php foreach ($this->payments AS $payment){ 
							if(($payment['contractor_invoice_num'] =='999999999' && $user['username'] =='Ayman') || $payment['contractor_invoice_num'] !='999999999' ){
							
						?>    
									
                            <tr id="<?php echo $this->escape('payment_' . $payment['payment_to_contractor_id']); ?>" cellpadding="100" style="text-align: center; vertical-align: top; "> 
								<td>  
                                    <input type="checkbox" name="payment_to_contractors[]" id="<?php echo 'checkbox_'.$this->escape($payment['payment_to_contractor_id']); ?>"  value="<?php echo $this->escape($payment['payment_to_contractor_id']); ?>" />
                                </td>
                                <td><?php if (!empty($payment['contractor_invoice_num'])): ?>
                                        <?php 
											$fltr = array();
											$fltr['contractor_id']=$payment['contractor_id'];
											$fltr['Inv']=$payment['contractor_invoice_num'];
											$url=implode('&amp;', array_map(function($key, $val) {
													return 'fltr[' . urlencode($key) . ']=' . urlencode($val);
												  },
												  array_keys($fltr), $fltr)
												);
											?>
									<a target="_blank" href="<?php echo $this->escape($this->url(array(), 'reportContractorsBookingsSummary')).'?'.$url; ?>" > <?php echo $payment['contractor_invoice_num']; ?> </a>
                                    <?php endif; ?>
                                </td>
								<td><?php echo $this->escape($payment['username']) ?></td>
                                <td><?php 
								$datetime = strtotime($payment['date_of_payment']);
									echo isset($payment['date_of_payment']) ? date("d M Y", $datetime) : '';
								?></td>
                                <td><?php echo $this->escape($payment['payment_reference']) ?></td>  
								<td>$<?php echo $this->escape(number_format($payment['invoice_total_amount'], 2)) ?></td>								
                                <td>$<?php echo $this->escape(number_format($payment['amount_paid'], 2)) ?></td>
								<td>$<?php echo $this->escape(number_format($payment['cash_paid'], 2)) ?></td>
								<td>$<?php
								$breakdown_total_payment = $modelBookingContractorPayment->getTotalPaymentByPaymentToContractorId($payment['payment_to_contractor_id']);
								echo $this->escape(number_format($breakdown_total_payment['calculated_amount'], 2)) ?></td>
								<td><?php echo !empty($payment['description']) ? $payment['description'] : ''; ?></td>
								<td><?php $datetime = strtotime($payment['date_created']);
									echo isset($payment['date_created']) ? date("d M Y", $datetime) : '';
							    ?></td>
								<td><?php echo !empty($payment['created_by_user']) ? $payment['created_by_user'] : ''; ?></td>
								
							<td  id="<?php echo $this->escape('attachments_' . $payment['payment_to_contractor_id']); ?>"  >
								<?php
							$attachments=$modelPaymentAttachment->getByPaymentToContractorId($payment['payment_to_contractor_id']);
							
							if(!empty($attachments)){							
							?>
							
							
							<?php foreach($attachments as $a=>$attachment){ 
							///////prepare new file name
							 $company_name= str_replace(" ","_",$payment['company_name']);
							 $company_name= str_replace(",","",$company_name);
							 $file_name= $payment['contractor_invoice_num'].'_'.$payment['username'].'_'.$company_name;
									  
							?>
								<div id="<?php echo $this->escape('attachment_' . $attachment['attachment_id']); ?>" style="height:80px; float:left; width:150px; background-color:#DFE1E3; text-align:center; border:1px solid #999; font-size:14px; margin:5px; display:inline-block; padding-top: 10px; line-height:23px; " >
								<?php //if the user click in the file name the file will open in google viewer 
								$filenameArr=explode(".", $attachment['file_name']);
								$ext= end($filenameArr);
									if( $ext=='pdf' || $ext=='doc' || $ext=='xls' ||$ext=='ppt'|| $ext=='docx' || $ext=='xlsx' ||$ext=='pptx' ){
									 ?>
									<a href="https://docs.google.com/viewer?url=http://cm.tilecleaners.com.au/uploads/payment_attachment/<?php echo $attachment['path'] ?>" class="details_info_opt" target="_blank" ><?php echo $attachment['file_name']; ?></a></br>
									 <?php
									}
									else{										     
									?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $attachment['attachment_id'],'file_name' => $file_name), 'paymentAttachmentDownload')); ?>" class="details_info_opt" target="_blank"><?php echo $attachment['file_name']; ?></a></br>
                                <?php }
								
								 echo $attachment['path'];
									  // now when the user click on download icon the file will download
									 
									  ?>
									  </br>
									<a href="<?php echo $this->escape($this->url(array('id' => $attachment['attachment_id'],'file_name' => $file_name ), 'paymentAttachmentDownload')); ?>" class="details_info_opt" ><img src="/pic/icons/download.png"></a>
                                    <a  id="<?php echo $this->escape('upload_to_GDrive_' . $attachment['attachment_id']); ?>" onClick="upload_attachment_to_Gdrive('<?php echo $this->escape($this->url(array('contractor_id' => $loggedUser['user_id'],'attachment_id' => $attachment['attachment_id'],'file_name' => $file_name), 'uploadDocumentToGoogleDrive')); ?>',$(this))" href="javascript:;" class="details_info_opt" ><img src="/pic/icons/drive.png"></a>
                                   
								   <?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canEditDeletePaymentToContractor'))){ ?>
									<a onClick="delete_attachment('<?php echo $this->escape($this->url(array('attachment_id' => $attachment['attachment_id']), 'deletePaymentToContractorAttachment')); ?>')" href="javascript:;" class="details_info_opt" ><img src="/pic/icons/delete1.png"></a>
                                  
									<?php } ?>
									
									
									 
									 
								</div>
								<?php } ?>
							
							
							<?php } ?>
								
								</td>
							
							<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canEditDeletePaymentToContractor'))){ ?>
									<td><a href="javascript:;"  onClick="delete_payment('<?php echo $this->escape($this->url(array('id' => $payment['payment_to_contractor_id']), 'deletePaymentToContractors')); ?>')"  class="details_info_opt" >Delete</a></td>
								
							<?php } ?>
								
								
							</tr>
							
                        <?php }
						}
						?>
						</tbody> 
                    </table>
			</form>
		</div>
		    <?php else: ?>
                <div style="" class="noRowsMessageDIV ibox">
				<div class="ibox-content">
                    <b>There are no payments recorded in the selected date range.</b>
						<div>
							<?php echo $this->escape(isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between'] ? 'From : ' . $this->fltr['payment_created_between'] : '') ?>
							<?php echo $this->escape((isset($this->fltr['payment_created_between']) && $this->fltr['payment_created_between']) && (isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between']) ? ' - ' : '') ?>
							<?php echo $this->escape(isset($this->fltr['payment_end_between']) && $this->fltr['payment_end_between'] ? 'To : ' . $this->fltr['payment_end_between'] : '') ?>
						</div>      
					</div> 
				</div>
            <?php endif; ?>
			
	</div>
</div>




		

<script>
$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
); 

function submit_payment(){
        showPopupWindow('<?php echo $this->escape($this->url(array('contractor_id'=> $filters['contractor_id'],'date_range'=> !empty($filters['date_range'])? $filters['date_range'] : '','payment_created_between' => $filters['payment_created_between'],'payment_end_between' => $filters['payment_end_between'] ), 'editPaymentToContractor')); ?>', '500', '500', 'edit payment to contractor');
       
    }
function delete_attachment(url){
	var r = confirm("Are you sure you want to delete this attachment?");
	if (r == true)
	  {
	 $.ajax({
            type: "POST",
            url: url,
            dataType : "json",
            success: function(data) {
                if(data.isDeleted){
					$('#attachment_'+data.attachmentId).remove();
					alert('the file is deleted sccessfully');
				}
				else{
					alert('the file is not deleted, please try again');
				}
               
            }
            
        });
	 }

}


function upload_attachment_to_Gdrive(url,this_link){
this_link.html('<img src="/pic/loading-4.gif">');

	 $.ajax({
            type: "POST",
            url: url,
            dataType : "json",
            success: function(data) {
                if(data.retVal == 'success'){
					$('a#upload_to_GDrive_'+data.attachmentId).html('<img src="/pic/icons/drive.png">');
					alert('the file is uploaded to google drive sccessfully');
				}
				else if (data.retVal == 'fail'){
					$('a#upload_to_GDrive_'+data.attachmentId).html('<img src="/pic/icons/drive.png">');
					alert('un supported file type');
				}
				else{
					$('a#upload_to_GDrive_'+data.attachmentId).html('<img src="/pic/icons/drive.png">');
					alert('invalid Gmail account');
				}
               
            }
            
        });

}

function delete_payment(url){
	var r = confirm("Are you sure you want to delete this payment with all it's attachments?");
	if (r == true)
	  {
	 $.ajax({
            type: "POST",
            url: url,
            dataType : "json",
            success: function(data) {
			console.log('tessssst1111');
			console.log(data.isDeletedPayment);
			if(data.isDeletedPayment){
				$('#payment_'+data.payment_to_contractors_id).remove();
				$('#attachments_'+data.payment_to_contractors_id).remove();
				alert('this payment is deleted successfully ');
				
			}
			else {
			   alert('this payment is not deleted, please try again ');
			}
              
               
            }
            
        });
	}
}

</script>
