<!-- TinyMCE -->
<script type="text/javascript">
    $(document).ready(function() {
        tinyMCE.init({
            // General options
            plugins : '-example', // - tells TinyMCE to skip the loading of the plugin
            mode : "textareas",
            theme : "advanced",
            relative_urls : false,
            convert_urls : false,

            // Theme options
            theme_advanced_buttons1 : "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : false
        });
    });
</script>
<!-- /TinyMCE -->
<form method="POST" id="form" onsubmit="tinyMCE.triggerSave(); do_submit('<?php echo $this->escape($this->url(array('id' => 540), 'sendEstimateAsEmail')); ?>','#form','#TB_ajaxContent');return false;">
    <div style="border: 1px solid #EFEFEF; background-color: #F7F7F7; width: 100%; font-size: 11px;">
        <div style="padding: 10px;">
            <div style="float: left; width: 70%; margin-top: 10px;">
                <div>
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">To</div>
                    <div style="float: left; width: 80%;"><input type="text" name="to" value="<?php echo $this->escape($this->to); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                    <div style="clear: both;"></div>
                </div>
                <?php if (isset($this->error_mesages['to']) && !empty($this->error_mesages['to'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['to']); ?>
                    </div>
                <?php endif; ?>
                <div style="margin-top: 10px;">
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">Cc</div>
                    <div style="float: left; width: 80%;"><input type="text" name="cc" value="<?php echo $this->escape($this->cc); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                    <div style="clear: both;"></div>
                </div>
                <?php if (isset($this->error_mesages['cc']) && !empty($this->error_mesages['cc'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['cc']); ?>
                    </div>
                <?php endif; ?>
                <div style="margin-top: 10px;">
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">Subject</div>
                    <div style="float: left; width: 80%;"><input type="text" name="subject" value="<?php echo $this->escape($this->subject); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                    <div style="clear: both;"></div>
                </div>
                <?php if (isset($this->error_mesages['subject']) && !empty($this->error_mesages['subject'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['subject']); ?>
                    </div>
                <?php endif; ?>
            </div>
            <div style="float: right; width: 25%;">
                <div style="color: #666666; font-weight: bold;">
                    <div class="floatLeft">Attachment</div>
                    <div class="floatLeft"><input type="checkbox" checked="checked" name="pdf_attachment" id="pdf_attachment" value="true"/></div>
                    <div class="clearBoth"></div>
                </div>
                <div style="border: 1px solid #A1A1A1; height: 80px;">
                    <div><img src="/pic/icons/export-as-pdf.png" style="vertical-align: middle;" /> <span><?php echo $this->escape($this->attachment); ?>.pdf</span></div>
                </div>
            </div>
            <div style="clear: both;"></div>

            <div style="margin-top: 10px;">
                <textarea name="body" id="body" style="width: 780px; height: 340px; padding: 10px;">
				<?php /// get invoice and it's breakdown booking
				$modelPaymentAttachment = new Model_PaymentAttachment();
				$payment = $this->payment;
				$modelAuthRole = new Model_AuthRole();
					
					$superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
					$loggedUser = CheckAuth::getLoggedUser();
					
					$user_id = $loggedUser['user_id'];
						 
					$modelUser = new Model_User();
					$user = $modelUser->getById($user_id);
					
				?>
				<table id="myTable" border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table" >
						 
                        <tr style="background-color: black; color: white;">
                            <td style="color: white;" >INV#</td>
                            <td style="color: white;" >Date of Payment</td>
							<td style="color: white;" >Invoice Total Amount</td>
							<td style="color: white;" >Invoice Total Amount</td>
							<td style="color: white;" >Cash Received by Contractor</td>
							<td style="color: white;" >Description</td>
							<td style="color: white;" >Date Created</td>
							<td style="color: white;" >Attachments</td>
                        </tr>
						 
						<tbody> 
                        <?php $count = 0;
							$count++;
						?>    
									
                            <tr id="<?php echo $this->escape('payment_' . $payment['payment_to_contractor_id']); ?>" name="record" cellpadding="100" style="text-align: center; vertical-align: top; "> 
								
                                <td>
                                <?php echo $payment['contractor_invoice_num']; ?> 
                                    
                                </td>
                                <td><?php 
								$datetime = strtotime($payment['date_of_payment']);
									echo isset($payment['date_of_payment']) ? date("d M Y", $datetime) : '';
								?></td>
								<td id="<?php echo 'invoice_total_amount_'.$count;?>"><?php echo $this->escape(number_format($payment['invoice_total_amount'], 2)) ?></td>								
                                <td id="<?php echo 'amount_paid_'.$count;?>" ><?php echo $this->escape(number_format($payment['amount_paid'], 2)) ?></td>
								<td id="<?php echo 'cash_paid_'.$count;?>" ><?php echo $this->escape(number_format($payment['cash_paid'], 2)) ?></td>
								<td><?php echo !empty($payment['description']) ? $payment['description'] : ''; ?></td>
								<td><?php $datetime = strtotime($payment['date_created']);
									echo isset($payment['date_created']) ? date("d M Y", $datetime) : '';
							    ?></td>
								
							<td  id="<?php echo $this->escape('attachments_' . $payment['payment_to_contractor_id']); ?>"  >
											
								<?php
							$attachments=$modelPaymentAttachment->getByPaymentToContractorId($payment['payment_to_contractor_id']);
							
							if(!empty($attachments)){							
							?>
							
							
							<?php foreach($attachments as $a=>$attachment){ 
							///////prepare new file name
							
							 $file_name= $payment['contractor_invoice_num'];
									  
							?>
								<div id="<?php echo $this->escape('attachment_' . $attachment['attachment_id']); ?>" style="height:80px; float:left; width:150px; background-color:#DFE1E3; text-align:center; border:1px solid #999; font-size:14px; margin:5px; display:inline-block; padding-top: 10px; line-height:23px; " >
								<?php //if the user click in the file name the file will open in google viewer 
								$filenameArr=explode(".", $attachment['file_name']);
								$ext= end($filenameArr);
									if( $ext=='pdf' || $ext=='doc' || $ext=='xls' ||$ext=='ppt'|| $ext=='docx' || $ext=='xlsx' ||$ext=='pptx' ){
									 ?>
									<a href="https://docs.google.com/viewer?url=http://cm.tilecleaners.com.au/uploads/payment_attachment/<?php echo $attachment['path'] ?>" class="details_info_opt" target="_blank" ><?php echo $attachment['file_name']; ?></a></br>
									 <?php
									}
									else{										     
									?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $attachment['attachment_id'],'file_name' => $file_name), 'paymentAttachmentDownload')); ?>" class="details_info_opt" target="_blank"><?php echo $attachment['file_name']; ?></a></br>
                                <?php }
								
								 echo $attachment['path'];
								 
									  ?>
									  </br>
									 
								</div>
								<?php } ?>
							
							
							<?php } ?>
								
								</td>
								
							</tr>
						</tbody> 
                    </table>
					<?php /// now the breakdown(bookings) of this invoice.... ?>
	<div style="font-size: 16px;font-weight: bold; padding-top: 25px; padding-bottom: 15px;">
                            bookings Summary
                        </div>
                        <table id="bookings_Summary" border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table">
                            <tr style="background-color: black; color: white;">
								<td style="color: white;">Contractor Inv#</td>
								<td style="color: white;">Contractor Invoice Payment Status</td>
                                <td style="color: white;" >Date</td>
                                <td style="color: white;" >Job#</td>
                                <td style="color: white;" >Inv#</td>
                                <td style="color: white;" >Job Status</td>
								<td style="color: white;" >Complaint Status</td>
                                <td style="color: white;" >Job Nature</td>
                                <td style="color: white;" >Address</td>
                                <td style="color: white;" >State</td>
                                <td style="color: white;" >Amount</td>
                                <td style="color: white;" >Approved Payment</td>
                                <td style="color: white;" >Unapproved Payment</td>
                                <td style="color: white;" >Approved Refund</td>
                                <td style="color: white;" >Unapproved Refund</td>
                                <td style="color: white;" >Unpaid</td>
                                <td style="color: white;" >Office Payment</td>
                                <td style="color: white;" >Cash Payment</td>
                                <td style="color: white;" >Booked By</td>
                                <?php /* <td>Date of Booking</td> */ ?>
                                <td style="color: white;" >Comments</td>
                                <td style="color: white;" >Company Share</td>
                                <td style="color: white;" >Contractor Share</td>
                                <td style="color: white;" >PAYMENT TO Contractor</td>
								<td style="color: white;" >Amount Paid To Contractor</td>
                            </tr>
                            <?php ////general parms for first table 
							$modelBookingContractorPayment = new Model_BookingContractorPayment();
							
							$contractor_invoice_numbers=array();
							$cash_payments=0;
							$office_payments=0;
							/////$approved_refund= refund included
							$refunds_included=0;
							$amount=0;
							$contractor_share=0;
							$company_share=0;
							$approved_payment=0;
							$unpaid=0;
							
							
							
							
							$bookings =$this->bookings;
							function calculate_net_amount($gross_amount, $tax_rate){
							$divisor= ($tax_rate/100)+1;
							$net_price= $gross_amount/ $divisor;
							$tax= $gross_amount-$net_price;
							//echo '$net_price is '.$net_price;
							//echo '$tax is '.$tax;
							return $tax;
							}
					
							foreach ($this->bookings AS $row){
							$commission=50;
							$registerd_gst= 1;
							?>  
							
                                <tr name="record" id="<?php echo $this->escape('record_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" cellpadding="100" style="text-align: center; vertical-align: top; background-color:<?php if($row['complaint_status']=='closed'){ echo '#22aa99';} else if($row['complaint_status']=='open') echo '#ff0000'; ?>;" > 
								
                                    <?php $bookingContractorPayment = $modelBookingContractorPayment->getBybookingIdAndContractorId($row['booking_id'], $row['contractor_id']); ?>
                                   
                                    <td id="<?php echo $this->escape('contractor_invoice_num_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>">   
                                       
                                            <?php
                                            //if (!empty($bookingContractorPayment)) { && isset($row['payment_to_contractor']) && $row['payment_to_contractor'] !=0 
											if(isset($row['contractor_INV']) && !empty($row['contractor_INV'])){
												$contractor_invoice_numbers[]=$row['contractor_INV'];
												?>
												<div id="<?php echo $this->escape('contractor_invoice_num_' . $row['payment_to_contractor_id']); ?>" >
													<?php
													 echo FilterLink::generate_link($row['contractor_INV'], array('fltr' => array('contractor_id' => $this->filters['contractor_id'],'Inv' => $row['contractor_INV']))); 
													?>
												</div>
											<?php }
											?>
                                    </td>
									<td>   
                                        <?php if ($row['convert_status'] == 'invoice' ) { ?>
                                            <div style="padding-top: 5px;" id="<?php echo $this->escape('status_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>">
                                                <?php 
													echo isset($row['contractor_invoice_payment_status']) ? $this->escape($row['contractor_invoice_payment_status']) : '';
												 ?>
                                            </div>
                                        <?php } ?>
                                    </td>
									
                                    <td><?php  $datetime = strtotime($row['start_date']);
									echo isset($row['start_date']) ? date("d M Y", $datetime) : ''; ?>
									</td>
									<td><?php if (!empty($row['booking_id'])){ ?>
                                            <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_black"> <?php echo $this->escape($row['job#']) ?></a>
                                        <?php } 
										else{
										echo isset($row['job#']) ? $this->escape($row['job#']) : '';
										}
										?>
                                    </td>
									
									<td><?php if (!empty($row['INV#'])){ ?>
											<div id="<?php echo $this->escape('booking_invoice_id_' . $row['booking_invoice_id']); ?>"  >
                                            <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking_invoice_id']), 'invoiceView')); ?>" class="a_black"> <?php echo $this->escape($row['INV#']) ?></a>
											</div>
										<?php 
										} ?>
                                    </td>
									
                                    <td><?php  echo isset($row['job_status']) ? $this->escape($row['job_status']) : ''; ?></td>
									<td><?php if(isset($row['complaint_status']) && !empty($row['complaint_status'])){ ?>
										<a href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></a>
                                    <?php
									}
									?>
									</td>
									<td><?php  echo isset($row['job_nature']) ? $this->escape($row['job_nature']) : ''; ?></td>
                                    <td>
                                        <?php  echo isset($row['address']) ? $this->escape($row['address']) : ''; ?>
                                    </td>
                                    <td style="text-align: left;">
                                       <?php  echo isset($row['state']) ? $this->escape($row['state']) : ''; ?>
                                    </td>
                                    
                                    <td name="amount"><?php echo $this->escape((!empty($row['qoute'])) ? number_format($row['qoute'], 2) : number_format(0, 2)); 
									?>
									</td>
                                    <td name="approved_payment"><?php echo $this->escape((!empty($row['approved_payment'])) ? number_format($row['approved_payment'], 2) : number_format(0, 2));
									?>
									</td>
                                    <td name="unapproved_payment"><?php echo $this->escape((!empty($row['unapproved_payment'])) ? number_format($row['unapproved_payment'], 2) : number_format(0, 2)) ?></td>
                                    <td name="approved_refund"><?php echo $this->escape((!empty($row['approved_refund'])) ? number_format($row['approved_refund'], 2) : number_format(0, 2));?></td>
                                    <td name="unapproved_refund"><?php echo $this->escape((!empty($row['unapproved_refund'])) ? number_format($row['unapproved_refund'], 2) : number_format(0, 2)) ?></td>
                                    <td name="unpaid"><?php 
									if(isset($row['approved_payment']) && !empty($row['approved_payment'])){
										$job_unpaid=$row['qoute']-($row['approved_payment']-$row['approved_refund']);
									}
									else if($row['convert_status'] == 'invoice'){
										$job_unpaid=$row['qoute'];
									}
									else
									$job_unpaid=0;
										$unpaid=$unpaid+$job_unpaid;
										echo number_format($job_unpaid, 2); ?></td>
									<td name="office_payment" ><?php echo $this->escape((!empty($row['office_payment']) ) ? number_format($row['office_payment'], 2) : number_format(0, 2));
									?>
									</td>
                                    <td name="cash_payment" id="<?php echo $this->escape('cash_payment_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" ><?php echo $this->escape((!empty($row['cash_payment'])) ? number_format($row['cash_payment'], 2) : number_format(0, 2));	?></td>
                                    
									<td><?php  echo isset($row['booked_by']) ? $this->escape($row['booked_by']) : ''; ?></td>
									<td style="text-align: left;"><?php  echo isset($row['comments']) ? $this->escape($row['comments']) : ''; ?></td>
											
											<?php  if(isset($row['approved_payment']) && !empty($row['approved_payment'])){
												$calculated_contractor_share= $row['qoute']*$commission/100;
												/////not registerd gst
												if($registerd_gst == 0){
													$tax= calculate_net_amount($calculated_contractor_share, 10);
													$calculated_contractor_share =$calculated_contractor_share-$tax;
												}
												
													$calculated_company_share=$row['qoute']-$calculated_contractor_share;
											}
											else{
											$calculated_contractor_share=0;
											$calculated_company_share=0;}?>
											
									<td name="company_share" id="<?php echo $this->escape('company_share_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
									<?php if(isset($row['contractor_share'])){
										echo number_format($row['qoute']-$row['contractor_share'],2);
										$company_share=$company_share +($row['qoute']-$row['contractor_share']);
										}
										else{
										echo  number_format($calculated_company_share,2);
										$company_share=$company_share +$calculated_company_share;
										}?>
									</td>
									<td name="contractor_share"  >
									<?php
									if(isset($row['contractor_share'])){
											
											$current_contractor_share = $row['contractor_share'];
											$contractor_share=$contractor_share+$row['contractor_share'];
											$payment_to_contractor=$row['contractor_share'] -$row['cash_payment'];
										}
										else{
										
											$current_contractor_share = $calculated_contractor_share;
											$contractor_share=$contractor_share+$calculated_contractor_share;
											$payment_to_contractor=$calculated_contractor_share -$row['cash_payment'];
										}
									?>
									<div id="<?php echo $this->escape('contractor_share_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
										<?php echo number_format($current_contractor_share,2); ?>
									</div>
									</td>
									
                                    
                                    <td name="payment_to_contractor" id="<?php echo $this->escape('payment_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
									<?php echo number_format($payment_to_contractor, 2) ?>
									
                                  	</td>
									<td name="amount_paid_to_contractor" id="<?php echo $this->escape('amount_paid_to_contractor_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
									<div id="<?php echo $this->escape('amount_paid_to_contractor_div_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
										<?php if ($row['convert_status'] == 'invoice' && !empty($row['payment_to_contractor'])){ 
											 echo $this->escape((!empty($row['payment_to_contractor'])) ? number_format($row['payment_to_contractor'], 2) : number_format(0, 2));
											} 
											else 
											echo '0.00';
										?>
										</br>
										<?php if ($row['convert_status'] == 'invoice'){ ?>
										<?php if (CheckAuth::checkCredential(array('ContractorsBookingSummaryWithModifyInvoiceNumber'))){ ?>
										<a href="javascript:;" 
											onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['booking_id'],'contractor_id'=>$row['contractor_id'],'old_paid_amount'=> $this->escape((!empty($row['payment_to_contractor'])) ? $row['payment_to_contractor'] : 0)), 'editPaidAmount')); ?>','150','500','Edit Paid Amount');"
											class="details_info_opt"><img src="/pic/icons/edit.png" alt="edit" />
										</a>
										<?php } ?>
										<?php } ?>
									</div>
									
									</td>
                                </tr>
                            <?php 
							}				
							?>
                        </table>
				
				
				</textarea>
            </div>

            <div id="button_cont" style="margin-top: 10px;">
                <input type="submit" value="Send" /> or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" style="color: red;">Cancel</a>
            </div>
        </div>
    </div>
</form>




<script type="text/javascript">

$( document ).ready(function() { 
   $('#contractor_share').html('<?php echo $this->escape((!empty($contractor_share) ) ? number_format($contractor_share, 2) : number_format(0, 2)); ?>');  
   $('#company_share').html('<?php echo $this->escape((!empty($company_share) ) ? number_format($company_share, 2) : number_format(0, 2)); ?>');  
   $('#required_contractor_payment').html('<?php echo $this->escape((!empty($required_contractor_payment) ) ? number_format($required_contractor_payment, 2) : number_format(0, 2)); ?>');  
   $('#unpaid').html('<?php echo $this->escape((!empty($unpaid) ) ? number_format($unpaid, 2) : number_format(0, 2)); ?>');  
    $('#Invoices_received_from_contractor').html('<?php echo $this->escape((!empty($Invoices_received_from_contractor) ) ? number_format($Invoices_received_from_contractor, 2) : number_format(0, 2)); ?>');  
   //$('#paid_to_contractor').html('<?php echo $this->escape((!empty($paid_to_contractor) ) ? number_format($paid_to_contractor, 2) : number_format(0, 2)); ?>');  
   $('#balance_due_to_contractor').html('<?php echo $this->escape((!empty($balance_due_to_contractor) ) ? number_format($balance_due_to_contractor, 2) : number_format(0, 2)); ?>');  
   $('#cash_received').html('<?php echo $this->escape((!empty($cash_payments) ) ? number_format($cash_payments, 2) : number_format(0, 2)); ?>');
   
   $('#total_payment_to_contractor_from_DB').html('<?php echo $this->escape((!empty($total_payment_to_contractor_from_DB) ) ? number_format($total_payment_to_contractor_from_DB, 2) : number_format(0, 2)); ?>');  
   $('#total_amount_paid_from_DB').html('<?php echo $this->escape((!empty($total_amount_paid_from_DB) ) ? number_format($total_amount_paid_from_DB, 2) : number_format(0, 2)); ?>');
   
   });	
   
 </script>
   