<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    Modify Employees
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorEmployeeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Contractor Employee?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsContractorEmployeeDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Employee Details</b></td>
                                <td><div style="float: right; margin-right:25px;"><b>Avatar</b></div></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['contractor_employee_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['contractor_employee_id']), 'settingsContractorEmployeeview')); ?>','500','650','Employee Details');"class="details_info_name"><?php echo $this->escape($row['name']) ?></a> 
                                            </div>
                                            <div class="booking_time_cont">
                                                <span style="color: #A1A1A1;">Contractor:</span> <?php echo $this->escape($row['username']) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorEmployeeEdit'))): ?>
                                                <a  href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['contractor_employee_id']), 'settingsContractorEmployeeEdit')); ?>','600','550','Employee Details');"class="details_info_opt">Edit</a>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorEmployeeDelete'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id, 'id' => $row['contractor_employee_id']), 'settingsContractorEmployeeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Contractor Employee?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorEmployeePhotoUpload'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id, 'id' => $row['contractor_employee_id']), 'settingsContractorEmployeePhotoUpload')); ?>" class="details_info_opt">upload Avatar</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td>
                                        <?php if (!empty($row['small_avatar_path'])): ?>
                                            <div style="float:  right; padding: 10px 10px;"> 
                                                <img src="<?php echo $this->baseUrl('/uploads/avatar/' . $row['small_avatar_path']) ?>"/>
                                            </div>
                                        <?php else: ?>
                                            <div style="float:right;  padding: 10px 10px;">
                                                <img  style=" border: 1px solid rgb(204, 204, 204); "src="<?php echo $this->baseUrl('/pic/avatar-small.jpg') ?>"/> 
                                            </div>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>
                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Employees.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsContractorEmployeeAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorEmployeeAdd')); ?>','600','550','Employee Details');" class="btn_a">
                            <div class="text_pos">
                                New Employee
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Employees
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorEmployeeList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorEmployeeList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>