<?php
$modelServices = new Model_Services();
$modelContractorService = new Model_ContractorService();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelBookingStatus = new Model_BookingStatus();
?>
<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <?php If (isset($this->fromEstimate) && $this->fromEstimate): ?>
                    <div class="list_title">
                        Edit Estimate
                    </div>
                <?php else: ?>
                    <div class="list_title">
                        Edit Booking
                    </div>
                <?php endif; ?>
                <div class="clearb"></div>
            </div>
            <?php if ($this->errorMessages): ?>
                <div style="color: red;">
                    <?php foreach ($this->errorMessages as $errorMessage): ?>
                        <div><?php echo $errorMessage; ?></div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <div class="calender_cont">
                <form action="<?php echo $this->escape($this->url(array(), 'editBooking')); ?>" class="fform" id="fmEdit" method="post">
                    <input type="hidden" id="booking_id" name="booking_id" value="<?php echo $this->escape(isset($this->event['booking_id']) ? $this->event['booking_id'] : "" ) ?>" />

                    <div class="calender_slct_customer_cont">
                        <div class="calender_slct_customer_txt">Select Customer</div>
                        <div class="calender_slct_customer_dropdown">
                            <div>
                                <div class="float_l_r">
                                    <div>
                                        <?php if ($this->canEditDetails): ?>
                                            <input type="text" id="auto_customer_id" class="autocomplete_search" value="<?php echo $this->escape($this->customer_name ? $this->customer_name : '') ?>"/>
                                            <input type="hidden" id="customer_id" name="customer_id" class="text_input required" value="<?php echo $this->escape(isset($this->event['customer_id']) && !empty($this->event['customer_id']) ? $this->event['customer_id'] : '') ?>" />
                                        <?php else: ?>
                                            <?php
                                            $customerId = $this->escape(isset($this->event['customer_id']) ? $this->event['customer_id'] : 0);

                                            $modelCustomer = new Model_Customer();
                                            $customer = $modelCustomer->getById($customerId);
                                            ?>
                                            <input class="text_input" readonly="readonly" style="width: 200px; background-color: lightgray;" type="text" value="<?php echo $this->escape(get_customer_name($customer)); ?>" />
                                        <?php endif; ?>
                                    </div>
                                    <?php if ($this->canEditDetails): ?>
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                                                <div class="new_customer_btn float_l_r"><a href="javascript:;" onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');">new customer</a></div>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                                                <div class="new_customer_btn float_l_r margin_l_10" id="edit_customer" style="display: <?php if (isset($this->event['customer_id']) && $this->event['customer_id']): ?>block<?php else: ?>none<?php endif; ?>;"><a href="javascript:;" onclick="editCustomer();">edit customer</a></div>
                                            <?php endif; ?>
                                            <div style="clear: both;"></div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <?php if ($this->canEditDetails): ?>
                                    <div class="calender_lens_cont"><a href="javascript:;" onclick="customer_search('<?php echo $this->escape($this->url(array(), 'dropDownCustomerList')); ?>');"><img style="border: 1px solid lightgray;" src="/pic/lens.png" width="23" height="23"/></a></div>
                                <?php endif; ?>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="calender_info_desc_cont" style="text-align: center; padding-top:20px;">
                        <div id="booking_address" style="float: left;">
                            <div style ="font-size: 16px; font-weight: bold; float: left; padding-bottom:20px; padding-left:10px;">Booking Address</div>
                            <div style="clear: both;"></div>
                            <div>
                                <div class="calender_info_txt_cont">Unit / Lot No.</div>
                                <div class="calender_txt_input">
                                    <input class="text_input" name="unit_lot_number"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->bookingAddress['unit_lot_number']) ? $this->bookingAddress['unit_lot_number'] : "") ?>" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                            <div class="margin_t_5">
                                <div class="calender_info_txt_cont">Street Number</div>
                                <div class="calender_txt_input">
                                    <input class="text_input required" name="street_number"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_number']) ? $this->bookingAddress['street_number'] : "") ?>" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                            <div class="margin_t_5">
                                <div class="calender_info_txt_cont">Street Name</div>
                                <div class="calender_txt_input">
                                    <input class="text_input required" name="street_address"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->bookingAddress['street_address']) ? $this->bookingAddress['street_address'] : "") ?>" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                            <div class="margin_t_5">
                                <div class="calender_info_txt_cont">Suburb</div>
                                <div class="calender_txt_input">
                                    <input class="text_input required" name="suburb"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->bookingAddress['suburb']) ? $this->bookingAddress['suburb'] : "") ?>" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                            <div class="margin_t_5">
                                <div class="calender_info_txt_cont">Post code</div>
                                <div class="calender_txt_input">
                                    <input class="text_input required" name="postcode"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->bookingAddress['postcode']) ? $this->bookingAddress['postcode'] : "") ?>" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                            <div class="margin_t_5">
                                <div class="calender_info_txt_cont">P.O. box</div>
                                <div class="calender_txt_input">
                                    <input class="text_input" name="po_box"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->bookingAddress['po_box']) ? $this->bookingAddress['po_box'] : "") ?>" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>

                        <div style="float: left; margin-left: 100px;">
                            <div style="margin: 66px 0 0 0;">
                                <?php if ($this->isTempAddress && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                    <span class="service_clone" style="font-weight: normal; float: left; margin-left: 10px;">
                                        <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreBookingAddress')); ?>" >Ignore Address Changes</a>
                                    </span>
                                <?php endif ?>
                                <div class="clearb"></div>
                            </div>
                        </div>
                        <div class="clearb"></div>
                    </div>

                    <div class="calender_info_desc_cont">

                        <div>
                            <div class="calender_info_txt2_cont">Booking Status</div>
                            <div class="calender_txt_input2">
                                <select class="required dropdown" style="width: 204px;" id="bookingStatus" onchange="check_booking_status();" name="bookingStatus">
                                    <option value="">Select One</option>
                                    <?php foreach ($this->bookingStatus as $status): ?>
                                        <option value="<?php echo $this->escape($status['booking_status_id']); ?>" <?php echo $this->escape(isset($this->event['status_id']) ? ($this->event['status_id'] == $status['booking_status_id'] ? "selected" : "") : ""); ?>><?php echo $this->escape($status['name']); ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div style="float: left; display: none; margin: 5px 2px;" id="booking_status_loading"></div>
                            <div style="clear: both;"></div>
                        </div>
                        <input id="previous_status_value" name="previous_status_value" type="hidden" value="<?php echo $this->escape($this->event['status_id']) ?>" />
                        <div class="margin_t_5">
                            <div class="calender_info_txt_cont">Title</div>
                            <div class="calender_txt_input">
                                <?php if ($this->canEditDetails): ?>
                                    <input  readonly="readonly" MaxLength="200" id="auto_booking_title" class="text_input" style="width: 200px; color: gray; display:<?php echo $this->escape(isset($this->event['title']) && $this->event['title'] ? 'none' : 'block') ?>;" onfocus="$('#booking_title').css('display','block');$('#auto_booking_title').css('display','none');$('#booking_title').focus();" type="text" value="will be auto Generated" />
                                    <input  readonly="readonly" MaxLength="200" id="booking_title" class="text_input" name="title"  style="width: 200px; display:<?php echo $this->escape(isset($this->event['title']) && $this->event['title'] ? 'block' : 'none') ?>;" onblur="if(!$('#booking_title').val()){$('#auto_booking_title').css('display','block');$('#booking_title').css('display','none');}" type="text" value="<?php echo $this->escape(isset($this->event['title']) ? $this->event['title'] : "") ?>" />
                                <?php else: ?>
                                    <input MaxLength="200" readonly="readonly" class="text_input" id="Subject" style="width: 200px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->event['title']) ? $this->event['title'] : "") ?>" />
                                <?php endif; ?>
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <?php /*
                          <div class="margin_t_5">
                          <div class="calender_info_txt_cont">Invoice#</div>
                          <div class="calender_txt_input">
                          <input MaxLength="200" id="auto_invoice" class="text_input" style="width: 200px; color: gray; display:<?php echo $this->escape(isset($this->event['invoice_num']) && $this->event['invoice_num'] ? 'none' : 'block') ?>;" onfocus="$('#invoice_num').css('display','block');$('#auto_invoice').css('display','none');$('#invoice_num').focus();" type="text" value="will be auto Generated" />
                          <input MaxLength="200" id="invoice_num" class="text_input" name="invoice_num"  style="width: 200px; display:<?php echo $this->escape(isset($this->event['invoice_num']) && $this->event['invoice_num'] ? 'block' : 'none') ?>;" onblur="if(!$('#invoice_num').val()){$('#auto_invoice').css('display','block');$('#invoice_num').css('display','none');}" type="text" value="<?php echo $this->escape(isset($this->event['invoice_num']) ? $this->event['invoice_num'] : "") ?>" />
                          </div>
                          <div style="clear: both;"></div>
                          </div>

                          <div class="margin_t_5" style="display:<?php echo $this->escape(isset($this->estimate['estimate_num']) && $this->estimate['estimate_num'] ? 'block' : 'none') ?>;">
                          <div class="calender_info_txt_cont">Estimate#</div>
                          <div class="calender_txt_input">

                          <input id="estimate_num" class="text_input" name="estimate_num"  style="width: 200px;" value="<?php echo $this->escape(isset($this->estimate['estimate_num']) && $this->estimate['estimate_num'] ? $this->estimate['estimate_num'] : '') ?>"/>
                          <!--  <input MaxLength="200" id="auto_estimate" class="text_input" style="width: 200px; color: gray; display:<?php echo $this->escape(isset($this->event['estimate_num']) && $this->event['estimate_num'] ? 'none' : 'block') ?>;" onfocus="$('#estimate_num').css('display','block');$('#auto_estimate').css('display','none');$('#estimate_num').focus();" type="text" value="will be auto Generated" />
                          <input MaxLength="200" id="estimate_num" class="text_input" name="estimate_num"  style="width: 200px; display:<?php echo $this->escape(isset($this->event['estimate_num']) && $this->event['estimate_num'] ? 'block' : 'none') ?>;" onblur="if(!$('#estimate_num').val()){$('#auto_estimate').css('display','block');$('#estimate_num').css('display','none');}" type="text" value="<?php echo $this->escape(isset($this->event['estimate_num']) ? $this->event['estimate_num'] : "") ?>" /> -->
                          </div>
                          <div style="clear: both;"></div>
                          </div>
                         */ ?>
                        <?php $quoted = $modelBookingStatus->getByStatusName('QUOTED'); ?>
                        <div id ="booking_time" style="display: <?php echo $this->escape($this->event['status_id'] == $quoted['booking_status_id'] ? 'none' : 'block') ?>">
                            <div>
                                <div class="calender_info_txt2_cont">Time</div>
                                <div class="calender_txt_input2">
                                    <?php if ($this->canEditDetails): ?>
                                        <?php
                                        if (isset($this->event)) {
                                            if ($this->event['booking_start']) {
                                                $sarr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_start'])));
                                            }
                                            if ($this->event['booking_end']) {
                                                $earr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_end'])));
                                            }
                                        } else {
                                            $sarr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
                                            $earr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
                                        }
                                        ?>
                                        <div style="float: left;">
                                            <input MaxLength="10" class="required date text_input ends_before_starts" id="stpartdate" name="stpartdate" readonly style="padding-left:2px;width:100px;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <input MaxLength="5"  class="required time text_input" id="stparttime" name="stparttime" readonly style="padding-left:2px;width:60px;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />
                                        </div>
                                        <div style="color: #9C0000; font-size: 14px; float: left; padding-left: 5px;">
                                            To
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <input MaxLength="10" class="required date text_input" id="etpartdate" name="etpartdate" readonly style="padding-left:2px;width:100px;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <input MaxLength="5" class="required time text_input" id="etparttime" name="etparttime" readonly style="padding-left:2px;width:60px;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <label class="checkp">
                                                <?php $checked = (isset($this->event['is_all_day_event']) && $this->event['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                                <input id="IsAllDayEvent" name="isAllDayEvent" type="checkbox" value="1" <?php echo $checked; ?> /> All Day Event
                                            </label>
                                        </div>
                                    <?php else: ?>
                                        <?php
                                        if (isset($this->event)) {
                                            if ($this->event['booking_start']) {
                                                $sarr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_start'])));
                                            }
                                            if ($this->event['booking_end']) {
                                                $earr = explode(" ", php2JsTime(mySql2PhpTime($this->event['booking_end'])));
                                            }
                                        } else {
                                            $sarr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['start']) ? $_GET['start'] : '')));
                                            $earr = explode(" ", php2JsTime(mySql2PhpTime(isset($_GET['end']) ? $_GET['end'] : '')));
                                        }
                                        ?>
                                        <div style="float: left;">
                                            <input MaxLength="10" class="required date text_input" id="stpartdate" name="stpartdate" readonly style="padding-left:2px;width:100px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[0]) ? $sarr[0] : "") : (isset($_GET['start']) ? $sarr[0] : "")); ?>" />
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <input MaxLength="5"  class="required time text_input" id="stparttime" name="stparttime" readonly style="padding-left:2px;width:60px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($sarr[1]) ? $sarr[1] : "") : (isset($_GET['start']) ? $sarr[1] : "")); ?>" />
                                        </div>
                                        <div style="color: #9C0000; font-size: 14px; float: left; padding-left: 5px;">
                                            To
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <input MaxLength="10" class="required date text_input" id="etpartdate" name="etpartdate" readonly style="padding-left:2px;width:100px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[0]) ? $earr[0] : "") : (isset($_GET['end']) ? $earr[0] : "")); ?>" />
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <input MaxLength="5" class="required time text_input" id="etparttime" name="etparttime" readonly style="padding-left:2px;width:60px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->event) ? (isset($earr[1]) ? $earr[1] : "") : (isset($_GET['end']) ? $earr[1] : "")); ?>" />
                                        </div>
                                        <div style="float: left; padding-left: 5px;">
                                            <label class="checkp" style="display: none;">
                                                <?php $checked = (isset($this->event['is_all_day_event']) && $this->event['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                                <input id="IsAllDayEvent" type="checkbox" value="1" <?php echo $checked; ?> /> All Day Event
                                            </label>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <div style="clear: both;"></div>
                            </div>

                            <div id="multiple_days">
                                <?php if (count($this->multipleDays)): ?>
                                    <?php foreach ($this->multipleDays as $key => $multipleDay): ?>
                                        <?php
                                        $sarr = explode(" ", php2JsTime(mySql2PhpTime($multipleDay['booking_start'])));
                                        $earr = explode(" ", php2JsTime(mySql2PhpTime($multipleDay['booking_end'])));
                                        ?>
                                        <div id="multiple_day_<?php echo $key + 1; ?>">
                                            <div class="calender_info_txt2_cont">More Time</div>
                                            <div  class="calender_txt_input2">
                                                <div style="float: left;">
                                                    <input MaxLength="10" class="required date text_input more_stpartdate more_ends_before_starts" onchange="changeStpartdate('<?php echo $key + 1; ?>');" id="stpartdate_<?php echo $key + 1; ?>" name="multi_stpartdate[<?php echo $key + 1; ?>]" readonly style="padding-left:2px;width:100px;" type="text" value="<?php echo (isset($sarr[0]) ? $sarr[0] : ""); ?>" />
                                                </div>
                                                <div style="float: left; padding-left: 5px;">
                                                    <input MaxLength="5"  class="required time text_input more_stparttime" onchange="changeStparttime('<?php echo $key + 1; ?>');" id="stparttime_<?php echo $key + 1; ?>" name="multi_stparttime[<?php echo $key + 1; ?>]" readonly style="padding-left:2px;width:60px;" type="text" value="<?php echo (isset($sarr[1]) ? $sarr[1] : ""); ?>" />
                                                </div>
                                                <div style="color: #9C0000; font-size: 14px; float: left; padding-left: 5px;">
                                                    To
                                                </div>
                                                <div style="float: left; padding-left: 5px;">
                                                    <input MaxLength="10" class="required date text_input more_etpartdate" id="etpartdate_<?php echo $key + 1; ?>" name="multi_etpartdate[<?php echo $key + 1; ?>]" readonly style="padding-left:2px;width:100px;" type="text" value="<?php echo (isset($earr[0]) ? $earr[0] : ""); ?>" />
                                                </div>
                                                <div style="float: left; padding-left: 5px;">
                                                    <input MaxLength="5" class="required time text_input more_etparttime" id="etparttime_<?php echo $key + 1; ?>" name="multi_etparttime[<?php echo $key + 1; ?>]" readonly style="padding-left:2px;width:60px;" type="text" value="<?php echo (isset($earr[1]) ? $earr[1] : ""); ?>" />
                                                </div>
                                                <div style="float: left; padding-left: 5px;">
                                                    <label class="checkp">
                                                        <?php $checked = (isset($multipleDay['is_all_day_event']) && $multipleDay['is_all_day_event'] != 0) ? 'checked="checked"' : ""; ?>
                                                        <input id="isAllDayEvent_<?php echo $key + 1; ?>" class="multi_isAllDayEvent" onchange="changeIsAllDayEvent('<?php echo $key + 1; ?>');" name="multi_isAllDayEvent[<?php echo $key + 1; ?>]" type="checkbox" <?php echo $checked; ?> value="1"/> All Day Event
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="calender_txt_input2">
                                                <a href="javascript:;" onclick="$('#multiple_day_<?php echo $key + 1; ?>').remove();">
                                                    <img src="/pic/remove.png" border="0" style="vertical-align: middle;" />
                                                </a>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>

                            <div class="calender_add_more_product" style="margin-top: 5px;">
                                <a href="javascript:;" onclick="add_more_time();">add More Time</a>
                            </div>
                        </div>
                        <div>
                            <div class="calender_info_txt2_cont">Country</div>
                            <div class="calender_txt_input2">
                                <?php if ($this->canEditDetails): ?>
                                    <select class="required dropdown" id="country" name="country" onchange="getStateByCountryId();">
                                        <option value="">Select One</option>
                                        <?php foreach ($this->countries as $country): ?>
                                            <option value="<?php echo $this->escape($country['country_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['country_id']) ? ($this->bookingCity['country_id'] == $country['country_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($country['country_name']); ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                <?php else: ?>
                                    <?php
                                    $country_id = $this->escape(isset($this->bookingCity['country_id']) ? $this->bookingCity['country_id'] : 0);
                                    $modelCountries = new Model_Countries();
                                    $country = $modelCountries->getById($country_id);
                                    ?>
                                    <input class="text_input" readonly="readonly" style="width: 200px; background-color: lightgray;" type="text" value="<?php echo $this->escape($country['country_name']); ?>" />
                                <?php endif; ?>
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <div id="display_state" style="<?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>">
                            <div class="calender_info_txt2_cont">State</div>
                            <div class="calender_txt_input2">
                                <div id="state_cont">
                                    <?php if ($this->canEditDetails): ?>
                                        <select id="state" class="dropdown" onchange="$('#state').addClass('required');getCitiesByCountryId();" name="state">
                                            <option value="">Select One</option>
                                            <?php foreach ($this->states as $state): ?>
                                                <option value="<?php echo $this->escape($state); ?>" <?php echo $this->escape(isset($this->bookingCity['state']) ? ($this->bookingCity['state'] == $state ? "selected" : "") : ''); ?>><?php echo $this->escape($state); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    <?php else: ?>
                                        <input name="state" class="text_input" readonly="readonly" style="width: 200px; background-color: lightgray;" type="text" value="<?php echo $this->escape(isset($this->bookingCity['state']) ? $this->bookingCity['state'] : ''); ?>" />
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <div id="display_city" style="<?php echo $this->escape(!$this->bookingCity['city_id'] ? "display: none;" : ""); ?>">
                            <div class="calender_info_txt2_cont">City</div>
                            <div class="calender_txt_input2">
                                <div id="city_cont">
                                    <?php if ($this->canEditDetails): ?>
                                        <select id="city_id" class="dropdown" onchange="$('#city_id').addClass('required');getServices();" name="city_id">
                                            <option value="">Select One</option>
                                            <?php foreach ($this->cities as $city): ?>
                                                <option value="<?php echo $this->escape($city['city_id']); ?>" <?php echo $this->escape(isset($this->bookingCity['city_id']) ? ($this->bookingCity['city_id'] == $city['city_id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($city['city_name']); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    <?php else: ?>
                                        <?php
                                        $city_id = $this->escape(isset($this->bookingCity['city_id']) ? $this->bookingCity['city_id'] : 0);
                                        $modelCities = new Model_Cities();
                                        $city = $modelCities->getById($city_id);
                                        ?>
                                        <input class="text_input" readonly="readonly" style="width: 200px; background-color: lightgray;" type="text" value="<?php echo $this->escape($city['city_name']); ?>" />
                                        <input type="hidden"  id="city_id" name="city_id" value="<?php echo $this->escape($city_id); ?>"/>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div style="margin-top: 5px;">
                            <div class="calender_slct_customer_txt">Property Type</div>
                            <div class="calender_slct_customer_dropdown">
                                <?php if ($this->canEditDetails): ?>
                                    <select id="property_type" class="select_field" name="property_type">
                                        <option value="">Select One</option>
                                        <?php foreach ($this->propertyTypes as $propertyType): ?>
                                            <option value="<?php echo $this->escape($propertyType['id']); ?>" <?php echo $this->escape(isset($this->event['property_type_id']) ? ($this->event['property_type_id'] == $propertyType['id'] ? "selected" : "") : ''); ?>><?php echo $this->escape($propertyType['property_type']); ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                <?php else: ?>
                                    <?php
                                    $property_type_id = $this->escape(isset($this->event['property_type_id']) ? $this->event['property_type_id'] : 0);
                                    $modelPropertyType = new Model_PropertyType();
                                    $property_type = $modelPropertyType->getById($property_type_id);
                                    ?>
                                    <input class="text_input" readonly="readonly" style="width: 200px; background-color: lightgray;" type="text" value="<?php echo $this->escape($property_type['property_type']); ?>" />
                                <?php endif; ?>
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                    </div>

                    <div id="block_booking_completed" >
                        <?php
                        $status_id = isset($this->event['status_id']) ? $this->event['status_id'] : 0;
                        $bookingStatus = $modelBookingStatus->getById($status_id);
                        ?>
                        <?php $productCounter = 0; ?>
                        <?php if (isset($bookingStatus['name']) && ('COMPLETED' == $bookingStatus['name'] || 'FAILED' == $bookingStatus['name'])): ?>
                            <div class="calender_slct_customer_cont extra_field">

                                <div style="margin-bottom: 5px;">
                                    <div class="calender_slct_customer_txt">Onsite Client Name</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <input MaxLength="200" class="required text_input" id="onsite_client_name" name="onsite_client_name"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->event['onsite_client_name']) ? $this->event['onsite_client_name'] : "") ?>" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <div style="margin-bottom: 5px;">
                                    <div class="calender_slct_customer_txt">Job Start Time</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <input MaxLength="200" class="required text_input" id="job_start_time" readonly="readonly" name="job_start_time"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->event['job_start_time']) ? date('d-m-Y h:i A', $this->event['job_start_time']) : date('d-m-Y h:i A', strtotime($sarr[0] . ' ' . $sarr[1]))) ?>" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <div style="margin-bottom: 5px;">
                                    <div class="calender_slct_customer_txt">Job Finish Time</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <input MaxLength="200" class="required text_input" id="job_finish_time" readonly="readonly" name="job_finish_time"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->event['job_finish_time']) ? date('d-m-Y h:i A', $this->event['job_finish_time']) : date('d-m-Y h:i A', strtotime($earr[0] . ' ' . $earr[1]))) ?>" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <div style="margin-bottom: 5px;">
                                    <div class="calender_slct_customer_txt">Customer Satisfaction</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <table align="center" cellpadding="3" id="satisfaction">
                                            <tr>
                                                <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label for="satisfaction_1">Very Dissatisfied</label></td>
                                                <td>
                                                    <label style="margin-left: 6px;" for="satisfaction_1">1</label>
                                                </td>
                                                <td>            
                                                    <label style="margin-left: 6px;" for="satisfaction_2">2</label>
                                                </td>
                                                <td>            
                                                    <label style="margin-left: 6px;" for="satisfaction_3">3</label>
                                                </td>
                                                <td>            
                                                    <label style="margin-left: 6px;" for="satisfaction_4">4</label>
                                                </td>
                                                <td>            
                                                    <label style="margin-left: 6px;" for="satisfaction_5">5</label>
                                                </td>
                                                <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label for="satisfaction_5">Very Satisfied</label></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 1 ? 'checked="checked"' : '') : ''); ?> class="required" id="satisfaction_1" name="satisfaction" value="1"/>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 2 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_2" name="satisfaction" value="2"/>
                                                </td>
                                                <td>            
                                                    <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 3 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_3" name="satisfaction" value="3"/> 
                                                </td>
                                                <td>            
                                                    <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 4 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_4" name="satisfaction" value="4"/> 
                                                </td>
                                                <td>            
                                                    <input type="radio" <?php echo $this->escape(isset($this->event['satisfaction']) ? ($this->event['satisfaction'] == 5 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_5" name="satisfaction" value="5"/> 
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <?php if ($this->allBookingProduct): ?>
                                    <?php foreach ($this->allBookingProduct as $bookingProduct): ?>
                                        <div style="margin-bottom: 5px;" id="product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>">
                                            <div class="calender_info_txt_cont">Product Name</div>
                                            <div class="calender_txt_input">
                                                <select name="product[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="<?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>dropdown">
                                                    <option value="">Select One</option>
                                                    <?php foreach ($this->products as $product): ?>
                                                        <?php $selected = $bookingProduct['product_id'] == $product['id'] ? 'selected="selected"' : ''; ?>
                                                        <option value="<?php echo $this->escape($product['id']); ?>" <?php echo $this->escape($selected); ?>><?php echo $this->escape($product['product']); ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                            <div class="calender_txt_input">
                                                Ltr
                                            </div>
                                            <div class="calender_txt_input">
                                                <input type="text" name="ltr[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="<?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>text_input" value="<?php echo $this->escape(isset($bookingProduct['ltr']) ? $bookingProduct['ltr'] : ''); ?>" style="width: 100px;"/>
                                            </div>
                                            <?php if ($productCounter): ?>
                                                <div class="calender_txt_input">
                                                    <a href="javascript:;" onclick="$('#product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>').remove();">
                                                        <img src="/pic/remove.png" />
                                                    </a>
                                                </div>
                                            <?php endif; ?>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <?php $productCounter++; ?>
                                    <?php endforeach; ?>
                                <?php endif; ?>

								<?php if (isset($bookingStatus['name']) && 'QUOTED' == $bookingStatus['name']) { ?>
								<div class="calender_slct_customer_cont" style="margin-bottom: 20px;">
											<div class="calender_slct_customer_txt">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</div>
											<div class="calender_slct_customer_dropdown">
												<textarea class="long_text required" style="width: 530px;" id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
											</div>
								<div style="clear: both;"></div>
								</div>
								<?php } ?>

                                <div style="margin-bottom: 5px;" id="more_product"></div>

                                <div class="calender_add_more_product">
                                    <a href="javascript:;" onclick="add_more_product();">add More Product</a>
                                </div>
                            </div>
                            <?php if ('COMPLETED' == $bookingStatus['name']): ?>
                                <div class="calender_slct_customer_cont extra_field">
                                    <div class="calender_slct_customer_txt">Extra Comments</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <textarea class="long_text" style="width: 530px;" id="extra_comments" name="extra_comments"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            <?php endif; ?>
                            <?php if ('FAILED' == $bookingStatus['name']): ?>
                                <div class="calender_slct_customer_cont extra_field"> 
                                    <div class="calender_slct_customer_txt">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <textarea class="long_text required" style="width: 530px;" id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <input name="confirmResetAttribut" id="confirmResetAttribut" type="hidden" value="0"/>
                            <?php endif; ?>
                        <?php elseif (isset($bookingStatus['name']) && 'TO DO' != $bookingStatus['name'] && 'IN PROGRESS' != $bookingStatus['name'] && 'QUOTED' != $bookingStatus['name']) : ?>
                            <div class="calender_slct_customer_cont extra_field">
                                <div class="calender_slct_customer_txt">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</div>
                                <div class="calender_slct_customer_dropdown">
                                    <textarea class="long_text required" style="width: 530px;" id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        <?php endif; ?>
                        <?php if (isset($bookingStatus['name']) && 'ON HOLD' == $bookingStatus['name']): ?>
                            <div id="deferred_date_cont" class="calender_slct_customer_cont extra_field">
                                <div class="calender_slct_customer_txt">To Follow</div>
                                <div class="calender_slct_customer_dropdown">
                                    <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required"  readonly="readonly"  value="<?php echo $this->escape(isset($this->event['to_follow']) ? date('d-m-Y', $this->event['to_follow']) : ''); ?>" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        <?php elseif (isset($bookingStatus['name']) && 'QUOTED' == $bookingStatus['name']) : ?>
                            <div class="calender_slct_customer_cont extra_field">
                                <div class="button_actions">
                                    <div class="calender_slct_customer_txt">To Follow</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <label>
                                            <input name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" <?php echo $this->escape(isset($this->event['is_to_follow']) && $this->event['is_to_follow'] ? 'checked="checked"' : ''); ?>/>
                                            Confirm
                                        </label>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="deferred_date_cont" class="button_actions" <?php echo isset($this->event['is_to_follow']) && $this->event['is_to_follow'] ? '' : 'style="display: none;"'; ?>>
                                    <div class="calender_slct_customer_txt">&ensp;</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <input name="to_follow" type="text"  id="to_follow" class="text_field date_time required"  readonly="readonly"  value="<?php echo $this->escape(isset($this->event['to_follow']) ? date('d-m-Y', $this->event['to_follow']) : ''); ?>" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
					
					
					<?php // here get all questions of this status
									
				if($this->questions){
					foreach($this->questions as $question){
				?>

				<div class="calender_slct_customer_cont extra_field">
					<div class="calender_slct_customer_txt"><?php //echo $question['question'] ?></div>
					<div class="calender_slct_customer_dropdown">
					<?php if($question['question_type'] == 'text'){ ?>
							<textarea class="long_text required" style="width: 530px;" id="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" ><?php echo $question['answer_text']; ?></textarea>
					<?php } ?>
					<?php if($question['question_type'] == 'boolean'){ ?>
							 <label style="color: #9C0000; font-size: 14px; margin-left: 100px;" ><?php echo $question['question_text'] ?></label>
							 <label style="margin-left: 6px;" >Yes</label>
							 <input type="radio" class="required" id="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" value="yes" <?php if($question['answer_text'] == 'yes'){ ?> checked <?php } ?> />
							 <label style="margin-left: 6px;" >NO</label>
							 <input type="radio" class="required" id="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>" value="no" <?php if($question['answer_text'] == 'no'){ ?> checked <?php } ?> />
					<?php } ?>
					<?php if($question['question_type'] == 'date'){ ?>
							<div class="calender_slct_customer_txt"><?php echo $question['question_text'] ?></div>
							<input id="date_input" name="<?php echo $question['update_booking_question_id']? 'question_'.$question['update_booking_question_id'] : ''; ?>"  style="width: 200px; margin-left: 6px;" type="text" value="<?php echo $question['answer_text']; ?>" />
						
					<?php } ?>
					</div>
					<div style="clear: both;"></div>
				</div>

				<?php
				}
				}
				?>


                    <div class="calender_slct_customer_cont">
                        <div class="calender_slct_customer_txt">Description</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php if ($this->canEditDetails): ?>
                                <textarea class="long_text" style="width: 530px;" id="description" name="description"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description'] : ""); ?></textarea>
                            <?php else: ?>
                                <textarea class="long_text" style="width: 530px; background-color: lightgray;" id="description" readonly="readonly"><?php echo $this->escape(isset($this->event['description']) ? $this->event['description'] : ""); ?></textarea>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div> 
                    </div>

                    <div id="services" style="margin-top: 20px; padding: 2px;">
                        <div class="calender_service_name_cont">
                            <input MaxLength="200" id="auto_search"  style="width: 100%; height: 30px; font-size: 14px; border:none; padding: 0; margin: 0; color: gray; display:block;" onfocus="$('#search').css('display','block');$('#auto_search').css('display','none');$('#search').focus();" type="text" value="Type Service Name to Search" />
                            <input MaxLength="200" id="search" name="keywords" onkeyup="searchServices();" autocomplete="off" style="width: 100%; height: 30px; font-size: 14px; border:none; padding: 0; margin: 0; display:none;" onblur="if(!$('#search').val()){$('#auto_search').css('display','block');$('#search').css('display','none');}" type="text" />
                            <div class="calender_service_opt_slct" id="keywordsResult">
                                <?php if ($this->serviceAvailable): ?>
                                    <?php foreach ($this->serviceAvailable as $serviceAvailable): ?>
                                        <?php $serviceDetails = $modelServices->getById($serviceAvailable['service_id']); ?>
                                        <div id="service_result_<?php echo $this->escape($serviceAvailable['service_id']); ?>">
                                            <a href="javascript:;" style="text-decoration: none; color: black; font-size: 12px;" onclick="checkService('<?php echo $this->escape($serviceAvailable['service_id']); ?>','service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>','min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>');">
                                                <div class="float_l_r"><img style="margin: 2px;" src="/pic/arrow_down.png" border="0"/></div>
                                                <div class="calender_service_price_opt">
                                                    <div class="float_l_r" id="service_name_<?php echo $this->escape($serviceAvailable['service_id']); ?>"><?php echo $this->escape($serviceDetails['service_name']); ?></div>
                                                    <div class="calender_minimum_price_txt">Minimum Price:</div>
                                                    <div class="float_l_r" id="min_price_<?php echo $this->escape($serviceAvailable['service_id']); ?>"><?php echo $this->escape($serviceDetails['min_price']); ?></div>
                                                    <div style="clear: both;"></div>
                                                </div>
                                            </a>
                                            <div style="clear: both;"></div>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>
                            <div class="calender_service_total">
                                <div class="calender_service_total_service_txt">Services</div>
                                <div class="calender_service_total_amount_total_txt">Amount</div>
                                <div class="calender_service_total_amount_total_txt">Total</div>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="calender_service_slctd_service" id="selectedServices">
                                <?php if ($this->bookingServices): ?>
                                    <?php $user = CheckAuth::getLoggedUser(); ?>
                                    <?php foreach ($this->bookingServices as $bookingService): ?>
                                        <?php
                                        $serviceId = isset($bookingService['service_id']) ? $bookingService['service_id'] : 0;
                                        $clone = isset($bookingService['clone']) ? $bookingService['clone'] : 0;
                                        $bookingId = isset($bookingService['booking_id']) ? $bookingService['booking_id'] : 0;
                                        $contractorId = isset($bookingService['contractor_id']) ? $bookingService['contractor_id'] : 0;
                                        $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                                        $serviceDetails = $modelServices->getById($serviceId);

                                        $disable = false;
                                        //$display = 'block';
                                        $style = '';
                                        if (!CheckAuth::checkCredential(array('CanAssignContractorToBooking'))) {
                                            if ($contractorId != $user['user_id']) {
                                                $disable = true;
                                                //$display = 'none';
                                                $style = 'background-color: gainsboro;';
                                            }
                                        }
                                        ?>
                                        <div id="service_checked_<?php echo $this->escape($serviceAndClone); ?>" style="margin-top: 4px; display: <?php echo isset($display) && $display ? $display : 'block'; ?>;">
                                            <div>
                                                <?php if (!$disable) : ?>
                                                    <div style="float: left;" class="service_clone"><img src="/pic/icons/delete.png" border="0" style="vertical-align: middle;"/><a href="javascript:;" onclick="removeService('<?php echo $this->escape($serviceAndClone); ?>')">Remove</a></div>
                                                    <div style="float: left; padding: 0px 5px;" class="service_clone"><img src="/pic/icons/clone.png" border="0" style="vertical-align: middle;"/><a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceId); ?>','service_name_<?php echo $this->escape($serviceId); ?>','min_price_<?php echo $this->escape($serviceId); ?>')">Clone</a></div>
                                                    <?php if ($this->isTempService && $bookingService['is_change'] && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                                        <div style="float: left; padding: 0px 5px;" class="service_clone"><img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id'], 'service_id' => $serviceId, 'clone' => $clone), 'ignoreService')); ?>">Ignore</a></div>
                                                    <?php endif ?>
                                                <?php endif ?>
                                                <div style="float: left; padding: 0px 5px;"><b><?php echo $this->escape($serviceDetails['service_name']); ?></b></div>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <div style="margin-top: 4px;">
                                                <div class="calender_service_min_price_total" style="font-size: 12px; padding: 3px 5px;" id="min_price_total_<?php echo $this->escape($serviceAndClone); ?>"><?php echo $this->escape($this->priceArray[$serviceAndClone] < $serviceDetails['min_price'] && $bookingService['consider_min_price'] == 1 ? number_format($serviceDetails['min_price'], 2) : number_format($this->priceArray[$serviceAndClone], 2)); ?></div>
                                                <div style="float: right; padding: 3px 5px; width: 60px; font-size: 12px; text-align: center; <?php echo $this->escape($this->priceArray[$serviceAndClone] >= $serviceDetails['min_price'] ? 'background-color : white;' : 'background-color : rosybrown;'); ?>" id="total_<?php echo $this->escape($serviceAndClone); ?>"><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></div>
                                                <div class="calender_service_slctd_service_attribute" id="attribute_<?php echo $this->escape($serviceAndClone); ?>">
                                                    <?php $counter = 0; ?>    
                                                    <?php
                                                    $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);
                                                    foreach ($serviceAttribute as $attribute):
                                                        ?>
                                                        <?php $counter++; ?>
                                                        <div <?php if ($counter != 1): ?>style="margin-top: 5px;"<?php endif; ?>>
                                                            <div class="float_l_r" style="font-size: 12px;">
                                                                <?php echo $this->escape($attribute['attribute_name']); ?> :
                                                            </div>
                                                            <div class="calender_service_slctd_service_booking_service"> 
                                                                <?php echo drowAttribute($attribute, $bookingId, 0, $clone, $this->is_temp, $disable, $style); ?>
                                                            </div>
                                                            <div style="clear: both"></div>
                                                        </div>
                                                    <?php endforeach; ?>
                                                </div>
                                                <div style="float: left;">
                                                    <div class="float-left-padding-5" style="font-size: 12px;">Technician :</div>
                                                    <div class="contractor_contaner" id="contractor_<?php echo $this->escape($serviceAndClone); ?>" style="font-size: 12px;">
                                                        <?php if (!CheckAuth::checkCredential(array('CanAssignContractorToBooking'))) : ?>
                                                            <?php $modelUser = new Model_User(); ?>
                                                            <?php $user = $modelUser->getById($contractorId); ?>
                                                            <?php $modelContractorInfo = new Model_ContractorInfo(); ?>
                                                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                                            <?php echo $this->escape(ucwords($user['username']) . (!empty($contractorInfo['business_name']) ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                                            <input type="hidden" value="<?php echo $this->escape($contractorId); ?>" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                        <?php else: ?>
                                                            <?php $cityId = !empty($this->bookingCity['city_id']) ? $this->bookingCity['city_id'] : 0; ?>
                                                            <?php $contractorService = $modelContractorService->getContractorByServiceIdAndCityId($serviceId, $cityId, TRUE); ?>
                                                            <select class="required dropdown" name="contractor_<?php echo $this->escape($serviceAndClone); ?>">
                                                                <option value="">Select One</option>
                                                                <?php foreach ($contractorService as $contractor_id => $contractor_name): ?>
                                                                    <option value="<?php echo $this->escape($contractor_id); ?>" <?php echo $this->escape(isset($contractorId) ? ($contractorId == $contractor_id ? "selected" : "") : ""); ?>><?php echo $this->escape($contractor_name); ?></option>
                                                                <?php endforeach; ?>
                                                            </select>
                                                        <?php endif; ?>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                    <div class="float-left-padding-5" style="font-size: 12px;">
                                                        <input name="consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" id="consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" value="<?php echo isset($bookingService['consider_min_price']) && $bookingService['consider_min_price'] ? '1' : '0'; ?>" type="hidden"/>
                                                        <label>
                                                            <input <?php if ($disable) : ?>disabled="disabled"<?php endif; ?> class="checkbox_consider_min_price" id="checkbox_consider_min_price_<?php echo $this->escape($serviceAndClone); ?>" onclick="countServicePrice(<?php echo "'" . $this->escape($serviceId) . "'" . ($clone ? ",'" . $this->escape($clone) . "'" : ""); ?>);" <?php echo isset($bookingService['consider_min_price']) && $bookingService['consider_min_price'] ? 'checked="checked"' : ''; ?> type="checkbox"/>
                                                            Consider Minimum Price ($ <?php echo $this->escape($serviceDetails['min_price']); ?>)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </div>
                                            <input type="hidden" value="<?php echo $this->escape($serviceAndClone); ?>" name="services[]">
                                            <input type="hidden" id="min_<?php echo $this->escape($serviceAndClone); ?>" value="<?php echo $this->escape($serviceDetails['min_price']); ?>"/>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div class="calender_service_total_box">
                            <div class="float_r_l" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left:  1px solid #ACD2E7; border-top: none;">
                                <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border: none; text-align: center;" readonly id="sub_total" value="<?php echo $this->escape(isset($this->subTotal) ? number_format($this->subTotal, 2) : ""); ?>" name="sub_total" />
                            </div>
                            <div class="calender_service_subtotal_txt">Sub Total:</div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="calender_service_total_box" id="call_out_fee_cont" style="display:<?php echo (!empty($this->callOutFee) ? 'block' : 'none'); ?>;">
                            <div class="float_r_l" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left:  1px solid #ACD2E7; border-top: none;">
                                <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border: none; text-align: center;" id="call_out_fee" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(!empty($this->callOutFee) ? number_format($this->callOutFee, 2) : "0"); ?>" name="call_out_fee"/>
                            </div>
                            <div class="calender_service_subtotal_txt">
                                Call Out Fee:
                                <?php if ($this->callOutFeeTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                    <span class="service_clone" style="font-weight: normal;">
                                        <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreCallOutFee')); ?>" >Ignore</a>
                                    </span>
                                <?php endif ?>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="calender_service_total_box">
                            <div class="float_r_l" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left:  1px solid #ACD2E7; border-top: none;">
                                <input type="text" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border: none; text-align: center;" id="total_discount" onkeyup="changeTotalQoute();" value="<?php echo $this->escape(isset($this->totalDiscount) ? number_format($this->totalDiscount, 2) : ""); ?>" name="total_discount"/>
                            </div>
                            <div class="calender_service_subtotal_txt">
                                Discount:
                                <?php if ($this->totalDiscountTemp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                                    <span class="service_clone" style="font-weight: normal;">
                                        <img src="/pic/icons/ignore.png" border="0" style="vertical-align: middle; margin-right: 3px;"/><a href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreTotalDiscount')); ?>" >Ignore</a>
                                    </span>
                                <?php endif ?>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="calender_service_total_box">
                            <div class="float_r_l" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left:  1px solid #ACD2E7; border-top: none;">
                                <input readonly  style="width: 70px; height: 30px; margin: 0px; padding: 0px; border: none; text-align: center;" id="gst" type="text" value="<?php echo $this->escape(isset($this->gstTax) ? number_format($this->gstTax, 2) : ""); ?>" name="gst"/>
                            </div>
                            <div class="calender_service_subtotal_txt">GST (<?php echo (100 * get_config('gst_tax')); ?>%):</div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="calender_service_total_box">
                            <div class="float_r_l" style="width: 70px; height: 30px; margin: 0px; padding: 0px; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left:  1px solid #ACD2E7; border-top: none;">
                                <input readonly  style="width: 70px; height: 30px; margin: 0px; padding: 0px; border: none; text-align: center;" class="required" id="total_qoute" type="text" value="<?php echo $this->escape(isset($this->totalQoute) ? number_format($this->totalQoute, 2) : ""); ?>" name="total_qoute"/>
                            </div>
                            <div class="calender_service_subtotal_txt">Total:</div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>

                    <input id="timezone" name="timezone" type="hidden" value="" />
                </form>
            </div>
        </td>
        <td class="right_side">
            <div class="right_side_cont">

                <div class="btn_cont" id="save_btn_cont">
                    <a id="Savebtn"  href="javascript:void(0);" onclick="save_booking(); return false;" class="btn_a">
                        <div class="text_pos">
                            Save
                        </div>
                    </a>
                </div>
                <ul class="links"> 
                    <?php if (CheckAuth::checkCredential(array('bookingDelete'))): ?>
                        <li class="delete">
                            <a id="Deletebtn" href="javascript:void(0);" onclick="return confirm('are you sure you want to delete this Estimate?');">Delete</a>
                        </li>
                    <?php endif; ?>
                    <li class="back">
                        <a  id="Closebtn" href="javascript:void(0);">Back</a>
                    </li>
                    <?php if ($this->is_temp && !CheckAuth::checkCredential(array('canEditBookingDetails'))): ?>
                        <li class="ignore">
                            <a  id="Closebtn" href="<?php echo $this->escape($this->url(array('id' => $this->event['booking_id']), 'ignoreAll')); ?>">Ignore All Changes</a>
                        </li>
                    <?php endif; ?>
                    <li class="navigation">
                        <a href="javascript:;" onclick="NearestBooking()">Nearest Booking</a>
                    </li>
                    <li class="navigation">
					<?php
																	$bookingAddress = $this->bookingAddress;
																	$findAvailabilityParams = array ();
																	$findAvailabilityParams [] = 'unit_lot_number=' . urlencode ( $bookingAddress ['unit_lot_number'] );
																	$findAvailabilityParams [] = 'street_number=' . urlencode ( $bookingAddress ['street_number'] );
																	$findAvailabilityParams [] = 'street_address=' . urlencode ( $bookingAddress ['street_address'] );
																	$findAvailabilityParams [] = 'suburb=' . urlencode ( $bookingAddress ['suburb'] );
																	$findAvailabilityParams [] = 'state=' . urlencode ( $bookingAddress ['state'] );
																	$findAvailabilityParams [] = 'postcode=' . urlencode ( $bookingAddress ['postcode'] );
																	$findAvailabilityParams [] = 'booking_id=' . urlencode ( $this->booking ['booking_id'] );
																	$findAvailabilityParams [] = 'stpartdate=' . urlencode ( date ( 'Y-m-d', strtotime ( $this->booking ['booking_start'] ) ) );
																	$findAvailabilityParams [] = 'city_id=' . urlencode ( $this->booking ['city_id'] );
																	foreach ( $this->bookingServices as $service ) {
																		$findAvailabilityParams [] = 'services[]=' . urlencode ( $service ['service_id'] );
																	}
																	$findAvailabilityParams = implode ( "&", $findAvailabilityParams );
																	?>
                        <a href="javascript:;"
							onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>','500','1000','Find Availability','<?php echo $this->escape($findAvailabilityParams) ?>');">Find
								Availability</a>
                    </li>
                </ul> 

            </div>
        </td>
    </tr>
</table>

<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>