<?php 
	
        ViewHelper::setStyleSheet('/css/fullcalendar.css');
		//ViewHelper::setStyleSheet('/css/fullcalendar.print.css');
		ViewHelper::setJavaScript('/js/full_calendar/moment.min.js');
		ViewHelper::setJavaScript('/js/full_calendar/fullcalendar.js');
		ViewHelper::setJavaScript('/js/full_calendar/jquery.qtip-dm-min.js');
?>




<div class="ibox no-margin-b">
	<div class="ibox-content">
          <div class="row">
				<div class="col-md-3">
					<?php if (isset($this->select_active)) : ?>
                    
                      <?php echo $this->select_active->render(); ?>
                     
                    <?php endif; ?>
              </div>
          		<div class="col-md-3">
                       <?php if (isset($this->select_city)) : ?>
                              
                            <?php echo $this->select_city->render(); ?>
                              
                            <?php endif; ?>

              </div>
              <div class="col-md-3">
				<?php if (isset($this->select_contractor)) : ?>
                
                  <?php echo $this->select_contractor->render(); ?>
                  
                <?php endif; ?>
              </div>
              <div class="col-md-3">
				  <?php if (isset($this->select_status)) : ?>
                  
                        <?php echo $this->select_status->render(); ?>
                  
                  <?php endif; ?>
              </div>
              
              
          
          </div>
    </div>
	
	 
	
	<!-- these code for old way it's work correctly also -->
	<div class="popover top" role="tooltip" id='tooltip' style="display:none;">
			<div class="arrow" style="left: 50%;"></div>
			<div class="popover-content">
					<div><b>Description:</b> <span class="event-dedgdfsc"></span></div>
			</div>
	</div>
	
	
<div id="popover-contents" class="hide">
    <div><b>Description:</b> <span class="event-desc"></span></div>
</div>	

<div id="popover-contents2" class="hide">
	
    <div><b><span class="glyphicon glyphicon-time" aria-hidden="true"></span></b> <span class="date"></span> </div>
	&nbsp;
	<div> <a href="#" class="btn btn-primary" id="cal_href"><i class="fa fa-plus"></i>&nbsp;add booking</a></div>
</div>
	

	
	<div class="ibox-content">
		<div id="calendar" class="white-bg"></div>
	</div>
	



<script>

 $(document).ready(function() {
		var fltr_url = 'calendar-manage?method=list';
		//var data_link ="http://test.tilecleaners.com.au/calendar-manage?method=list";
		var DATA_FEED_URL = "calendar-manage";
		$('#calendar').fullCalendar({			
			 	header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
					},
				defaultDate: '2013-11-01',
				businessHours: true, 
				editable: false,
				selectable: true,
				events: fltr_url // here adding fillter   like these  DATA_FEED_URL + "?method=list" + fltr_url
				,
				eventClick: function(event) {
    						if (event.id) {
							  window.open("/booking/view/"+event.id,"_self");
						  return false;
  					  }
				},
				eventMouseover:function(event,jsEvent,view,allDay) {
				
									
									$('.event-desc').html(event.title);
									 $popover = $(this).children().popover({
									    placement: 'top',
										content: function () {
										return $("#popover-contents").html();
											},
										container:'body',
										html: true	
									});
									 
									$(this).children().popover('show');
						
						/*  popover depend on bootstrap style -- Abdallah
						   this way it's work also 
						$('.event-desc').html(event.title);
					
						$("#tooltip").fadeIn("fast");
									 
						$("#tooltip").show();
						$("#tooltip").hide(); 
						on mouse out use hide */
					
				},
				eventMouseout: function(calEvent,jsEvent) {
						$(this).children().popover('hide');
					},
				dayClick:function(date, jsEvent, view) {
								 $('.date').html(date.format("MMM Do YYYY"));
								 $('#cal_href').attr('href','booking-add?start='+date.format()+'&end='+date.format());
								 $popover = $(this).popover({
									    placement: 'top',
										content: function () {
										return $("#popover-contents2").html();
											},
										container:'body',
										html: true	
									});
									 $('.popover.in').remove(); // to remove popover when click on  another one 
									$(this).popover('show');

								}

		
				
		
				
				
        							
            
        });
		
		
		/*$("#contractor").on("change",function(){
			fltr_url += '&contractor='+$("#contractor").val();
			$('#calendar').fullCalendar( 'removeEvents' );
			$('#calendar').fullCalendar('addEventSource', fltr_url);
			
		});
		
		$("#status").on("change",function(){
			fltr_url += '&status='+$('#status').val();
			$('#calendar').fullCalendar( 'removeEvents' );
			$('#calendar').fullCalendar('addEventSource', fltr_url);
			
		});
		$("#city").on("change",function(){
			fltr_url += '&city='+$('#city').val();
			$('#calendar').fullCalendar( 'removeEvents' );
			$('#calendar').fullCalendar('addEventSource', fltr_url);
			
		});*/
		
 
 });
 
    
		 
	function changeUrl(url,fltr_id){		
         fltr_url = 'calendar-manage?method=list';
		if($("#contractor").val() != ''){
			fltr_url += '&contractor='+$("#contractor").val();
		}
		if($("#status").val() != ''){
			fltr_url += '&status='+$("#status").val();
		}
		if($("#city").val() != ''){
			fltr_url += '&city='+$("#city").val();
		}
		$('#calendar').fullCalendar( 'removeEvents' );
			$('#calendar').fullCalendar('addEventSource', fltr_url);
		
    }	
	
	function changeContractorsList(url,fltr_id){		
         fltr_url = 'calendar-manage?method=list';
		if($("#contractor").val() != ''){
			fltr_url += '&contractor='+$("#contractor").val();
		}
		if($("#status").val() != ''){
			fltr_url += '&status='+$("#status").val();
		}
		if($("#city").val() != ''){
			fltr_url += '&city='+$("#city").val();
		}
		$('#calendar').fullCalendar( 'removeEvents' );
			$('#calendar').fullCalendar('addEventSource', fltr_url);
		
    }	
	
	function getContracotrsByStatus(){        
        if($('#active').val()){
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'getContractorsByStatus'); ?>",
                data: "status="+$('#active').val(),
                success: function(contractors) {
					var json = eval('('+contractors+')');
                    contractor_droplist = '<option value="">ALL TECHNICIANS</option>';
					$.each(json, function(key,value) {
						contractor_droplist = contractor_droplist+'<option value="'+key+'">'+value+'</option>';
					});
					///now delete all old options and set new ones
					$('#contractor')
						.find('option')
						.remove()
						.end()
						.append(contractor_droplist);
								
                }
            });
        }else{
            console.log('active is empty....');
        }

    }
	

</script>