<?php
$modelUser = new Model_User();
$modelUserInfo = new Model_UserInfo();
$modelAuthRole = new Model_AuthRole();
$modelPropertyType = new Model_PropertyType();
$modelBookingStatus = new Model_BookingStatus();
$modelAttributeType = new Model_AttributeType();
$modelContractorInfo = new Model_ContractorInfo();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelAttributeListValue = new Model_AttributeListValue();
$modelServiceAttributeValueLog = new Model_ServiceAttributeValueLog();
$modelBookingLog = new Model_BookingLog();

$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>
<div class="ibox float-e-margins no-margin-b">
	<div class="row wrapper border-bottom white-bg">
					
					<div class="col-md-5">
							<div class="createdTimeDiv">
								<span class="booking_title">Log Details</span> 
							</div>
					
						
					</div>
					
					
	</div>
		<?php $status = $modelBookingStatus->getById($this->bookingLog['status_id']); ?>
		<div class="row wrapper" style="background-color: <?php echo $this->escape($colors[$status['color']]) ?>;">

				<div class="strocked-text booking_status_center" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Status">
					<b> <?php echo $this->escape($status['name']) ?></b>
				</div>

		</div>
		<div class="row">
				<div class="wrapper wrapper-content">
			
					<div class="row">
						<div class="col-md-5">
						
							<div class="ibox">
								<div class="ibox-title">
								
								            <?php if (empty($this->bookingLog['estimate_log'])): ?>					 
													<b> <?php echo $this->escape($this->bookingLog['booking_num']) ?> </b>
											<?php endif; ?>
											<?php if (!empty($this->bookingLog['invoice_log'])): ?>
													<b><?php echo $this->escape($this->bookingLog['invoice_log']['invoice_num']) ?> </b>
											<?php endif; ?>
											<?php ?>
											<?php if (!empty($this->bookingLog['estimate_log'])): ?>
													<b><?php echo $this->escape($this->bookingLog['estimate_log']['estimate_num']) ?></b>
											<?php endif; ?>

								</div>
								
								<div class="ibox-content">
									<table class="table table_no_top_border">
										 <tbody>
												<tr>
													<td>
														<span class="glyphicon glyphicon-map-marker"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Address"></span>
														<?php echo wordwrap($this->escape($this->bookingLog['address_log']), 70, "<br />\n"); ?> 
													</td>
												</tr>
												
												
												
												
												
											  <?php if ($this->bookingLog['convert_status'] != 'estimate'): ?>
													<tr>
														<td>
															<div>
																<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time" ></span>
																<?php echo $this->escape(getBookingDateFormating($this->bookingLog['booking_start'],$this->bookingLog['booking_end'])) ?>
															</div>
														</td>
													</tr>
													
													<?php if (!empty($this->bookingLog['multiple_days_log'])): ?>
														<?php foreach ($this->bookingLog['multiple_days_log'] as $day): ?>
															<tr>
																<td>
																	<div>
																		<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Time" ></span>
																		<?php echo $this->escape(getBookingDateFormating($day['booking_start'],$day['booking_end'])) ?>
																	</div>
																</td>
															</tr>
														<?php endforeach; ?>
													<?php endif; ?>
								
													<?php else: ?>
														<tr>
															<td>
																<div>
																	<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Date" ></span>
																	<?php echo $this->escape(getDateFormating($this->bookingLog['booking_start'])) ?>
																</div>
															</td>
														</tr>
														<tr>	
															<td>
																<b> <span class="fa fa-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Estimate Type:" ></span>
																E</b> 
																<?php echo $this->escape(ucfirst($this->bookingLog['estimate_log']['estimate_type'])) ?>
															</td>                               
														</tr>
													<?php endif; ?>
																		  
													<?php if ($this->bookingLog['convert_status'] == 'booking'): ?>
														<tr>
															 <td>		
																 <span class="fa fa-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Property Type" ></span>
																 <?php $propertyType = $modelPropertyType->getById($this->bookingLog['property_type_id']) ?>
																 <?php echo $this->escape($propertyType['property_type']); ?>
															</td> 
														</tr>
													<?php endif; ?>
									   
													<?php if ($this->bookingLog['convert_status'] == 'invoice'): ?>
														<tr>
															<td>
																<b> <span class="fa fa-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Invoice Type:" ></span>
																I</b> 
																<?php echo $this->escape(ucfirst($this->bookingLog['invoice_log']['invoice_type'])) ?>
															</td>
														</tr>
													<?php endif; ?>
													<tr>
														<td> 
															<span class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Owner" ></span>
															&nbsp;
															<?php $owner = $modelUser->getById($this->bookingLog['created_by']); ?>
													
															<?php echo $this->escape(ucwords($owner['username'])); ?>
														
														</td>
													</tr>
													<?php if (!empty($this->bookingLog['to_follow'])): ?>
														<tr>
															<td>
														
																<div id="follow_date_container_<?php echo $this->escape($this->bookingLog['booking_id']) ?>" class="details_info_l">
																	<div id="follow_date_value_<?php echo $this->escape($this->bookingLog['booking_id']) ?>">
																		<span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Draft To" ></span>
																		<?php echo $this->escape(getDateFormating($this->bookingLog['to_follow'])) ?>
																	</div>
															
																</div>
															</td>                               
														</tr>
													<?php endif; ?>

											
										 </tbody>
									</table>
							

								<table class="table table-bordered ">
									<tbody>
											<?php
												$totalAmountDetails = $modelBookingLog->getTotalAmountBookingLogDetails($this->bookingLog['log_id']);
												$rowspan = 9;
												$rowspan = !empty($totalAmountDetails['call_out_fee']) ? $rowspan + 1 : $rowspan;
												?>
												<tr>
										   
													<td>
														<b>Sub Total:</b>
													</td>
													<td>
														<?php echo $this->escape(number_format($totalAmountDetails['sub_total'], 2)); ?>
													</td>
												</tr>
												<?php if ($totalAmountDetails['call_out_fee']): ?>
													<tr>
														<td>
															<b>Call Out Fee:</b>
														</td>
														<td >
															<?php echo $this->escape(number_format($totalAmountDetails['call_out_fee'], 2)); ?>
														</td>
													</tr>
												<?php endif; ?>
												<tr>
													<td>
														<b>Discount:</b>
													</td>
													<td>
														<?php echo $this->escape(number_format($totalAmountDetails['total_discount'], 2)); ?>
													</td>
												</tr>
												<tr>
													<td>
														<b>GST (<?php echo (100 * get_config('gst_tax')); ?>%):</b>
													</td>
													<td >
														<?php echo $this->escape(number_format($totalAmountDetails['gst'], 2)); ?>
													</td>
												</tr>
												<tr>
													<td >
														<b>Total:</b>
													</td>
													<td>
														$<?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?>
													</td>
												</tr>
												<tr>
													<td>
														<b>Refund:</b>
													</td>
													<td>
														(-) <?php echo $this->escape(number_format($totalAmountDetails['refund'], 2)); ?>
													</td>
												</tr>
												<tr>
													<td>
														<b>Total Amount:</b>
													</td>
													<td>
														$<?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>
													</td>
												</tr>
												<tr>
													<td>
														<b>Paid Amount:</b>
													</td>
													<td>
														(-) <?php echo $this->escape(number_format($totalAmountDetails['paid_amount'], 2)); ?>
													</td>
												</tr>
												<tr>
													<td>
														<b>Balance Due:</b>
													</td>
													<td>
														$<?php echo $this->escape(number_format($totalAmountDetails['balance_due'], 2)); ?>
													</td>
												</tr>
										</tbody>
									</table>
								</div>
							</div>

						
						</div>
						<div class="col-md-7">
							<?php
							$customerView = new Zend_View();
							$customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
							$customerView->customer_id = $this->bookingLog['customer_id'];
							$customerView->allDetails = true;
							echo $customerView->render('customer_info.phtml');
							?>
							
									
							<div class="ibox float-e-margins  fadeInRight" >
									<div class="ibox-title">
											<b>Description :</b>
									</div>
									<div class="ibox-content">
										<?php $description = wordwrap($this->bookingLog['description'], 90, "\n", true); ?>
										<p><?php echo $this->escape($description); ?></p>
									</div>
							</div>	
							
							<?php if (isset($status['name']) && ('COMPLETED' == $status['name'] || 'FAILED' == $status['name'])): ?>
								

									
						<?php $status = $modelBookingStatus->getById($this->booking['status_id']);
						
						if (isset($status['name']) && ('COMPLETED' == $status['name'] || 'FAILED' == $status['name'])): ?>	
			
							<div class="ibox float-e-margins" >
									
											<div class="ibox-title">
												<b>Customer Satisfaction</b>
											</div>
									
									
									<div class="ibox-content">
											<table  id="satisfaction" class="table table-bordered white-bg satisfaction_table" >
													
														<tbody>
														<tr>
																<td rowspan="2" class="middle_align"><label>Very Dissatisfied</label></td>
																<td><label>1</label></td>
																<td><label>2</label></td>
																<td><label>3</label></td>
																<td><label>4</label></td>
																<td><label>5</label></td>
																<td rowspan="2" class="middle_align"><label>Very Satisfied</label></td>
														</tr>
														<tr>
																<td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 1) ? 'background-color: #7EAF1F;' : ''; ?>" >
																			<?php if ($this->bookingLog['satisfaction'] == 1): ?>
																				<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																			<?php endif; ?>
																</td>
																<td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 2) ? 'background-color: #7EAF1F;' : ''; ?>">
																		<?php if ($this->bookingLog['satisfaction'] == 2): ?>
																			<div style=" background-color: #7EAF1F;">
																				<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																			</div>
																		<?php endif; ?>
																</td>
																<td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 3) ? 'background-color: #7EAF1F;' : ''; ?>">            
																		<?php if ($this->bookingLog['satisfaction'] == 3): ?>
																		<div style=" background-color: #7EAF1F;">
																			<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																		</div>
																	<?php endif; ?>
																</td>
																<td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 4) ? 'background-color: #7EAF1F;' : ''; ?>">            
																		<?php if ($this->bookingLog['satisfaction'] == 4): ?>
																			<div style=" background-color: #7EAF1F;">
																				<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																			</div>
																		<?php endif; ?>
																</td>
																<td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 5) ? 'background-color: #7EAF1F;' : ''; ?>">            
																	<?php if ($this->bookingLog['satisfaction'] == 5): ?>
																		<div style=" background-color: #7EAF1F;">
																			<img height="10" width="10" src="/pic/white_accepted.png" border="0" />
																		</div>
																	<?php endif; ?>
																</td>
														</tr>
														</tbody>
													</table>
									</div>
							</div>
							<?php endif;?>
	
	
								<div class="ibox float-e-margins  fadeInRight" >
						
										<div class="ibox-title">
											<b>Technician Update Details</b>
										</div>
												
										<div class="ibox-content">
											<table class="table">
													<tbody>
														<tr>
															<th>Onsite Client Name</th> 
															<td><?php echo $this->escape(isset($this->bookingLog['onsite_client_name']) ? $this->bookingLog['onsite_client_name'] : "") ?></td>
														</tr>
														<tr>
															<th>Job Start Time</th> 
															<td><?php echo $this->escape(getDateFormating($this->bookingLog['job_start_time'])) ?></td>
														</tr>
														<tr>
															<th>Job Finish Time</th> 
															<td><?php echo $this->escape(getDateFormating($this->bookingLog['job_finish_time'])) ?></td>
														</tr>
												
														<tr>
															<th>Products Name</th> 
															<td>
																<?php $modelProduct = new Model_Product(); ?>
																<?php foreach ($this->bookingLog['booking_product_log'] as $bookingProduct) : ?>
																	<?php $product = $modelProduct->getById($bookingProduct['product_id']); ?>
																	<div>
																		<?php echo $this->escape(count($this->bookingLog['booking_product_log']) > 1) ? '&#187;' : ''; ?>
																		<?php echo $this->escape($product['product']) ?> <b><?php echo $this->escape(!empty($bookingProduct['ltr']) ? '(' . $bookingProduct['ltr'] . 'Ltr)' : ''); ?></b> 
																	</div>
																<?php endforeach; ?>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
								
								<?php endif; ?>
								
						</div>
						
					</div>
					
				
				
		
		
				    
					<?php if ($this->bookingLog['booking_service_log']): ?>
                                <?php foreach ($this->bookingLog['booking_service_log'] as $key => $bookingService): ?>
                                    <?php
											$serviceId = $bookingService['service_id'];
											$clone = $bookingService['clone'];
											$bookingId = $bookingService['booking_id'];
											$contractorId = $bookingService['contractor_id'];
											$user = $modelUser->getById($contractorId);
											$userInfo = 0;
											$contractorInfo = 0;
											$roleName = $modelAuthRole->getRoleName($user['role_id']);
                                    ?>
                                    <?php if ('contractor' == $roleName): ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                    <?php else: ?>
                                        <?php $userInfo = $modelUserInfo->getByUserId($contractorId) ?>
                                    <?php endif; ?>
									
									
									<div class="ibox float-e-margins">
				
										<div class="ibox-title spec_height">
											<div class="inline">
													<i class="fa fa-star">&nbsp;</i>
													<b><?php echo $this->escape($bookingService['service_details']['service_name']); ?> </b>
													<a class="collapse-link" style="color:#ccc;">
														<i class="fa fa-chevron-up"></i>
													</a>
											</div>	
											
										</div>
										<div class="ibox-content">
											<?php
											$serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);

											$unit_price = 0;
											$qty = 0;

											foreach ($serviceAttribute as $attribute) {

												//$value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute['service_attribute_id'], $clone);
												$value = $modelServiceAttributeValueLog->getServiceAttributeValueLog($bookingId, $attribute['service_attribute_id'], $clone, $this->bookingLog['log_id']);

												switch ($attribute['attribute_name']) {
													case 'Quantity':
														$qty = $value['value'];
														break;
													case 'Price':
														$unit_price = $value['value'];
												break;}
											}
											?>
						
										<div>
											<ul class="display-mobile">
													<li>
														<div>UNIT PRICE</div>
														<div><b><?php echo $this->escape($unit_price); ?></b></div>
													</li>
													
													<li>
														<div>QTY</div>
														<div><b><?php echo $this->escape($qty); ?></b></div>
													</li>
													
													<li>
														<div>TOTAL</div>
														<div><b><?php echo $this->escape(number_format($bookingService['priceArray'], 2)); ?></b></div>
													</li>
											</ul>
										</div>
										
										
												
										<table class="table invoice-table">
											
											
												<thead>										
														<th>
															Technician:	
															<span class="normal_font"> 
															 <?php echo $this->escape($userInfo ? $userInfo['first_name'] . ' ' . $userInfo['last_name'] : (ucwords($user['username']) . ($contractorInfo ? ' - ' . ucwords($contractorInfo['business_name']) : ''))) ?>
															</span>
														</th>
														<th class="mobile-none-display service_price centerize" >UNIT PRICE</th>											
														<th class="mobile-none-display service_qty centerize">QTY</th>
														<th class="mobile-none-display service_total centerize">TOTAL</th>
												</thead>
												<tbody>
														 <tr>
															<td>
														   
																<div>
															
																<?php if ($bookingService['priceArray'] <= $bookingService['service_details']['min_price']): ?>
																	<div>
																		
																			<b>Min Price :</b>&ensp;
																			<?php echo $this->escape($bookingService['service_details']['min_price']); ?>
																		
																	</div>
																<?php endif; ?>
																<?php
																$serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);

																$unit_price = 0;
																$qty = 0;

																foreach ($serviceAttribute as $attribute) {

																	//$value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute['service_attribute_id'], $clone);
																	$value = $modelServiceAttributeValueLog->getServiceAttributeValueLog($bookingId, $attribute['service_attribute_id'], $clone, $this->bookingLog['log_id']);

																	switch ($attribute['attribute_name']) {
																		case 'Quantity':
																			$qty = $value['value'];
																			break;
																		case 'Price':
																			$unit_price = $value['value'];
																			break;
																		default :
																			if ($value['value']) {
																				$att = $modelAttributeType->getById($attribute['attribute_type_id']);
																				?>
																				<div>
																					<span>
																						<b> <?php if($attribute['attribute_name'] != 'Description'){ echo $this->escape($attribute['attribute_name']).' :'; } ?> </b>
																					</span>
																					<span>
																						<?php
																						if ($att['is_list']) {
																							if ($value['is_serialized_array']) {
																								$values = unserialize($value['value']);
																								foreach ($values as $value) {
																									$attributeListValue = $modelAttributeListValue->getById($value);
																									if ($attributeListValue['unit_price']) {
																										echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b></div>';
																									} else {
																										echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</div>';
																									}
																								}
																							} else {
																								$attributeListValue = $modelAttributeListValue->getById($value['value']);
																								if ($attributeListValue['unit_price']) {
																									echo $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b>';
																								} else {
																									echo $this->escape($attributeListValue['attribute_value']);
																								}
																							}
																						} else {
																							
																								if($attribute['attribute_name'] == 'Description'){
																								    $description =  $this->escape ( $value ['value'] ) .'<br/>';
																										 }else{																													 
																											echo nl2br($this->escape($value['value']));
																										 }

																								}
																						?>
																					</span>
																				</div>
																				<?php
																			}
																			break;
																	}
																}
																?>
																
													
																	<div>
																		<b>Description :</b>
																		<span class="normal_font more_desc" id="descriptions"><?php echo $description ;?></span>
																	</div>
																</div>
															</td>
															<td class="mobile-none-display centerize"><?php echo $this->escape($unit_price); ?></td>
															<td class="mobile-none-display centerize"><?php echo $this->escape($qty); ?></td>
															<td class="mobile-none-display centerize"><?php echo $this->escape(number_format($bookingService['priceArray'], 2)); ?></td>
														</tr>
																
																
													</tbody>
												</table>
										</div>
										
                                   
                                  
                                <?php endforeach; ?>
                                
                            </table>
												
					</div>
					
				<?php endif; ?>
				</div>
		
				
				
			</div>				
</div>




 

		

	

	
<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
	
});
</script>