<?php
$modelUser = new Model_User();
$modelUserInfo = new Model_UserInfo();
$modelAuthRole = new Model_AuthRole();
$modelPropertyType = new Model_PropertyType();
$modelBookingStatus = new Model_BookingStatus();
$modelAttributeType = new Model_AttributeType();
$modelContractorInfo = new Model_ContractorInfo();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelAttributeListValue = new Model_AttributeListValue();
$modelServiceAttributeValueLog = new Model_ServiceAttributeValueLog();
$modelBookingLog = new Model_BookingLog();

$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<div class="ibox float-e-margins">
	<div class="ibox-content">
				<div class="row">
					<div class="col-md-5">
						<h3>Log Details</h3>
					</div>
					<div class="col-md-7 "></div>
				</div>
        </div>
</div>

<div class="booking-view no-margin-b">
 <div class="content">
  <div class="row">
    <div class="col-md-6">
	 <div class="panel panel-primary col-lg-12">
	 <h4 class="panel-heading">Details:</h4>
	   <div class="panel-body">
			<table class="table">
			<tbody>
			    <?php $status = $modelBookingStatus->getById($this->bookingLog['status_id']); ?>
				<tr>
                  <th>Status</th> 
                  <td style="color:#fff ; background-color: <?php echo $this->escape($colors[$status['color']]) ?>;">
				     <?php echo $this->escape($status['name']) ?>
					</td>
                </tr>
                            <?php if (empty($this->bookingLog['estimate_log'])): ?>
                                <tr>
                                    <th>Booking#</th> 
                                    <td> <b> <?php echo $this->escape($this->bookingLog['booking_num']) ?> </b></td>
                                </tr>
                            <?php endif; ?>
                            <?php if (!empty($this->bookingLog['invoice_log'])): ?>
                                <tr>
                                    <th>Invoice#</th> 
                                    <td><b><?php echo $this->escape($this->bookingLog['invoice_log']['invoice_num']) ?> </b></td>
                                </tr>
                            <?php endif; ?>
                            <?php ?>
                            <?php if (!empty($this->bookingLog['estimate_log'])): ?>
                                <tr>
                                    <th>Estimate#</th> 
                                    <td><b><?php echo $this->escape($this->bookingLog['estimate_log']['estimate_num']) ?></b></td>
                                </tr>
                            <?php endif; ?>
                            <tr>
                                <th><b>Title</b></th>
                                <td><?php echo wordwrap($this->escape($this->bookingLog['title']), 70, "<br />\n"); ?></td>
                            </tr>
                            <tr>
                                <th><?php echo ucfirst($this->escape($this->bookingLog['convert_status'])) ?> Address</th>
                                <td> <?php echo wordwrap($this->escape($this->bookingLog['address_log']), 70, "<br />\n"); ?> </td>
                            </tr>
                            <?php if ($this->bookingLog['convert_status'] != 'estimate'): ?>
                                <tr>
                                    <th>From</th>
                                    <td><?php echo $this->escape(getDateFormating($this->bookingLog['booking_start'])) ?></td>
                                </tr>
                                <tr>
                                    <th>To</th>
                                    <td><?php echo $this->escape(getDateFormating($this->bookingLog['booking_end'])) ?></td>
                                </tr>
                                <?php if (!empty($this->bookingLog['multiple_days_log'])): ?>
                                    <?php foreach ($this->bookingLog['multiple_days_log'] as $day): ?>
                                        <tr>
                                            <th>From</th>
                                            <td><?php echo $this->escape(getDateFormating($day['booking_start'])) ?></td>
                                        </tr>
                                        <tr>
                                            <th>To</th>
                                            <td><?php echo $this->escape(getDateFormating($day['booking_end'])) ?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            <?php else: ?>
                                <tr>
                                    <th>Date</th>
                                    <td class="valueText"><?php echo $this->escape(getDateFormating($this->bookingLog['booking_start'])) ?></td>
                                </tr>
                                <tr>
                                    <th>Estimate Type</th> 
                                    <td>
                                        <?php echo $this->escape(ucfirst($this->bookingLog['estimate_log']['estimate_type'])) ?>
                                    </td>                               

                                </tr>
                            <?php endif; ?>
                            <?php if ($this->bookingLog['convert_status'] == 'booking'): ?>
                                <tr>
                                    <th>Property Type</th>
                                    <?php $propertyType = $modelPropertyType->getById($this->bookingLog['property_type_id']) ?>
                                    <td><?php echo $this->escape($propertyType['property_type']); ?></td>
                                </tr>
                            <?php endif; ?>
                            <?php if ($this->bookingLog['convert_status'] == 'invoice'): ?>
                                <tr>
                                    <th>Invoice Type</th> 
                                    <td class="valueText">
                                        <?php echo $this->escape(ucfirst($this->bookingLog['invoice_log']['invoice_type'])) ?>
                                    </td>
                                </tr>
                            <?php endif; ?>
                            <tr>
                                <th>Owner</th>
                                <?php $owner = $modelUser->getById($this->bookingLog['created_by']); ?>
                                <td>
                                    <div style="float: left;"><?php echo $this->escape(ucwords($owner['username'])); ?></div>
                                    <div class="clearBoth"></div>
                                </td>
                            </tr>
                            <?php if (!empty($this->bookingLog['to_follow'])): ?>
                                <tr>
                                    <th>Deferred To</th> 
                                    <td>
                                        <div id="follow_date_container_<?php echo $this->escape($this->bookingLog['booking_id']) ?>" class="details_info_l">
                                            <div id="follow_date_value_<?php echo $this->escape($this->bookingLog['booking_id']) ?>" style="float: left; width: 165px;">
                                                <?php echo $this->escape(getDateFormating($this->bookingLog['to_follow'])) ?>
                                            </div>
                                            <div class="clearBoth"></div>
                                        </div>
                                    </td>                               
                                </tr>
                            <?php endif; ?>

                        </tbody>
                    </table>
		</div>	
	  
	 </div>
	
	</div>
	
	<div class="col-md-5 col-md-offset-1">
	 
	 <?php
                    $customerView = new Zend_View();
                    $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                    $customerView->customer_id = $this->bookingLog['customer_id'];
                    $customerView->allDetails = true;
                    echo $customerView->render('customer_info.phtml');
                    ?>
					
		<?php if (isset($status['name']) && ('COMPLETED' == $status['name'] || 'FAILED' == $status['name'])): ?>
               <div class="panel panel-primary col-md-12">
                			
				<div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Onsite Client Name</th> 
                                        <td><?php echo $this->escape(isset($this->bookingLog['onsite_client_name']) ? $this->bookingLog['onsite_client_name'] : "") ?></td>
                                    </tr>
                                    <tr>
                                        <th>Job Start Time</th> 
                                        <td><?php echo $this->escape(getDateFormating($this->bookingLog['job_start_time'])) ?></td>
                                    </tr>
                                    <tr>
                                        <th>Job Finish Time</th> 
                                        <td><?php echo $this->escape(getDateFormating($this->bookingLog['job_finish_time'])) ?></td>
                                    </tr>
                                    <tr>
                                        <th>Customer Satisfaction</th> 
                                        <td>
                                            <table cellpadding="3" id="satisfaction">
                                                <tr>
                                                    <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label>Very Dissatisfied</label></td>
                                                    <td>
                                                        <label style="margin-left: 6px;">1</label>
                                                    </td>
                                                    <td>            
                                                        <label style="margin-left: 6px;">2</label>
                                                    </td>
                                                    <td>            
                                                        <label style="margin-left: 6px;">3</label>
                                                    </td>
                                                    <td>            
                                                        <label style="margin-left: 6px;">4</label>
                                                    </td>
                                                    <td>            
                                                        <label style="margin-left: 6px;">5</label>
                                                    </td>
                                                    <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label>Very Satisfied</label></td>
                                                </tr>
                                                <tr>
                                                    <td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 1) ? 'background-color: #7EAF1F;' : ''; ?>" >
                                                        <?php if ($this->bookingLog['satisfaction'] == 1): ?>
                                                            <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                        <?php endif; ?>
                                                    </td>
                                                    <td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 2) ? 'background-color: #7EAF1F;' : ''; ?>">
                                                        <?php if ($this->bookingLog['satisfaction'] == 2): ?>
                                                            <div style=" background-color: #7EAF1F;">
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                            </div>
                                                        <?php endif; ?>
                                                    </td>
                                                    <td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 3) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->bookingLog['satisfaction'] == 3): ?>
                                                            <div style=" background-color: #7EAF1F;">
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                            </div>
                                                        <?php endif; ?>
                                                    </td>
                                                    <td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 4) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->bookingLog['satisfaction'] == 4): ?>
                                                            <div style=" background-color: #7EAF1F;">
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                            </div>
                                                        <?php endif; ?>
                                                    </td>
                                                    <td style="<?php echo $this->escape($this->bookingLog['satisfaction'] == 5) ? 'background-color: #7EAF1F;' : ''; ?>">            
                                                        <?php if ($this->bookingLog['satisfaction'] == 5): ?>
                                                            <div style=" background-color: #7EAF1F;">
                                                                <img height="10" width="10" src="/pic/white_accepted.png" border="0" />
                                                            </div>
                                                        <?php endif; ?>
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Products Name</th> 
                                        <td>
                                            <?php $modelProduct = new Model_Product(); ?>
                                            <?php foreach ($this->bookingLog['booking_product_log'] as $bookingProduct) : ?>
                                                <?php $product = $modelProduct->getById($bookingProduct['product_id']); ?>
                                                <div>
                                                    <?php echo $this->escape(count($this->bookingLog['booking_product_log']) > 1) ? '&#187;' : ''; ?>
                                                    <?php echo $this->escape($product['product']) ?> <b><?php echo $this->escape(!empty($bookingProduct['ltr']) ? '(' . $bookingProduct['ltr'] . 'Ltr)' : ''); ?></b> 
                                                </div>
                                            <?php endforeach; ?>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
					 </div>	
                    <?php endif; ?>
	
	
	</div>
	
  </div>
 </div>
 
 <div class="content">
		<div class="row">
		
				<div class="col-md-12">
					<div class="panel panel-primary col-md-12">
					<h4 class="panel-heading">Description <?php
                        $description = wordwrap($this->bookingLog['description'], 90, "\n", true);
                        ?>
						</h4>
						<div class="panel-body">
							<p><?php echo nl2br($this->escape($description)); ?></p>
						</div>
				
				</div>
			</div>
		</div>
	</div>
 
 <div class="content">
		<div class="row">
		
				<div class="col-md-12">
					<?php if ($this->bookingLog['booking_service_log']): ?>

				 <div>
                        
                            <table class="table table-bordered white-bg">
							<thead style="background-color: #A1A1A1;">
                                    <th>DESCRIPTION</th>
                                    <th width="110">UNIT PRICE</th>
                                    <th width="110">QTY</th>
                                    <th width="90">TOTAL</th>
                                
							</thead>	
                                <?php foreach ($this->bookingLog['booking_service_log'] as $key => $bookingService): ?>
                                    <?php
                                    $serviceId = $bookingService['service_id'];
                                    $clone = $bookingService['clone'];
                                    $bookingId = $bookingService['booking_id'];
                                    $contractorId = $bookingService['contractor_id'];
                                    $user = $modelUser->getById($contractorId);
                                    $userInfo = 0;
                                    $contractorInfo = 0;
                                    $roleName = $modelAuthRole->getRoleName($user['role_id']);
                                    ?>
                                    <?php if ('contractor' == $roleName): ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                    <?php else: ?>
                                        <?php $userInfo = $modelUserInfo->getByUserId($contractorId) ?>
                                    <?php endif; ?>
                                    <tr style="border-bottom: 1px solid #A1A1A1; background-color:<?php echo $this->escape(($key % 2 != 0) ? '#ECECEC' : ''); ?>">
                                        <td style="text-align: left;">
                                            <div style="clear: both;">
                                                <span style="float: left;">
                                                    &#187; <b>Technician :</b>&ensp;
                                                </span>
                                                <span style="float: left; width: 80%;">
                                                    <?php echo $this->escape($userInfo ? $userInfo['first_name'] . ' ' . $userInfo['last_name'] : (ucwords($user['username']) . ($contractorInfo ? ' - ' . ucwords($contractorInfo['business_name']) : ''))) ?>
                                                </span>
                                            </div>
                                            <div style="clear: both;">
                                                <span style="float: left;">
                                                    &#187; <b>Service :</b>&ensp;
                                                </span>
                                                <span style="float: left; width: 80%;">
                                                    <?php echo $this->escape($bookingService['service_details']['service_name']); ?>
                                                </span>
                                            </div>
                                            <?php if ($bookingService['priceArray'] <= $bookingService['service_details']['min_price']): ?>
                                                <div style="clear: both;">
                                                    <span style="float: left;">
                                                        &#187; <b>Min Price :</b>&ensp;
                                                    </span>
                                                    <span style="float: left; width: 80%;">
                                                        <?php echo $this->escape($bookingService['service_details']['min_price']); ?>
                                                    </span>
                                                </div>
                                            <?php endif; ?>
                                            <?php
                                            $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);

                                            $unit_price = 0;
                                            $qty = 0;

                                            foreach ($serviceAttribute as $attribute) {

                                                //$value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute['service_attribute_id'], $clone);
                                                $value = $modelServiceAttributeValueLog->getServiceAttributeValueLog($bookingId, $attribute['service_attribute_id'], $clone, $this->bookingLog['log_id']);

                                                switch ($attribute['attribute_name']) {
                                                    case 'Quantity':
                                                        $qty = $value['value'];
                                                        break;
                                                    case 'Price':
                                                        $unit_price = $value['value'];
                                                        break;
                                                    default :
                                                        if ($value['value']) {
                                                            $att = $modelAttributeType->getById($attribute['attribute_type_id']);
                                                            ?>
                                                            <div style="clear: both;">
                                                                <span style="float: left;">
                                                                    &#187; <b><?php echo $this->escape($attribute['attribute_name']); ?> :</b>&ensp;
                                                                </span>
                                                                <span style="float: left; width: 80%;">
                                                                    <?php
                                                                    if ($att['is_list']) {
                                                                        if ($value['is_serialized_array']) {
                                                                            $values = unserialize($value['value']);
                                                                            foreach ($values as $value) {
                                                                                $attributeListValue = $modelAttributeListValue->getById($value);
                                                                                if ($attributeListValue['unit_price']) {
                                                                                    echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b></div>';
                                                                                } else {
                                                                                    echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</div>';
                                                                                }
                                                                            }
                                                                        } else {
                                                                            $attributeListValue = $modelAttributeListValue->getById($value['value']);
                                                                            if ($attributeListValue['unit_price']) {
                                                                                echo $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b>';
                                                                            } else {
                                                                                echo $this->escape($attributeListValue['attribute_value']);
                                                                            }
                                                                        }
                                                                    } else {
                                                                        echo nl2br($this->escape($value['value']));
                                                                    }
                                                                    ?>
                                                                </span>
                                                            </div>
                                                            <?php
                                                        }
                                                        break;
                                                }
                                            }
                                            ?>
                                        </td>
                                        <td><?php echo $this->escape($unit_price); ?></td>
                                        <td><?php echo $this->escape($qty); ?></td>
                                        <td><?php echo $this->escape(number_format($bookingService['priceArray'], 2)); ?></td>
                                    </tr>
                                <?php endforeach; ?>
                                
                            </table>
							<div class="row">
                              <div class="col-md-4  col-md-offset-8">
                         		<table class="table table-bordered white-bg">
							 <tbody>
							<?php
                                $totalAmountDetails = $modelBookingLog->getTotalAmountBookingLogDetails($this->bookingLog['log_id']);
                                $rowspan = 9;
                                $rowspan = !empty($totalAmountDetails['call_out_fee']) ? $rowspan + 1 : $rowspan;
                                ?>
                                <tr>
                           
                                    <td>
                                        Sub Total:
                                    </td>
                                    <td>
                                        <?php echo $this->escape(number_format($totalAmountDetails['sub_total'], 2)); ?>
                                    </td>
                                </tr>
                                <?php if ($totalAmountDetails['call_out_fee']): ?>
                                    <tr>
                                        <td>
                                            Call Out Fee:
                                        </td>
                                        <td >
                                            <?php echo $this->escape(number_format($totalAmountDetails['call_out_fee'], 2)); ?>
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <tr>
                                    <td>
                                        Discount:
                                    </td>
                                    <td>
                                        <?php echo $this->escape(number_format($totalAmountDetails['total_discount'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                                    </td>
                                    <td >
                                        <?php echo $this->escape(number_format($totalAmountDetails['gst'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        Total:
                                    </td>
                                    <td>
                                        $<?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Refund:
                                    </td>
                                    <td>
                                        (-) <?php echo $this->escape(number_format($totalAmountDetails['refund'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total Amount:
                                    </td>
                                    <td>
                                        $<?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Paid Amount:
                                    </td>
                                    <td>
                                        (-) <?php echo $this->escape(number_format($totalAmountDetails['paid_amount'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Balance Due:
                                    </td>
                                    <td>
                                        $<?php echo $this->escape(number_format($totalAmountDetails['balance_due'], 2)); ?>
                                    </td>
                                </tr>
								 </tbody>
								</table>
							</div>
                        </div>							
                </div>
					
<?php endif; ?>
			</div>
		</div>
	</div>

	

</div>		