<div style="margin-top:10px;" class="">
<div class="ibox float-e-margins no-margin-b">
                    <div class="ibox-title">
                        <h5> Add New Mailing List</h5>                    
</div>
<div class="ibox-content">
<form id="addForm" action="<?php echo $this->escape($this->form->getAction()); ?>"  method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="return checkFilters()">
   
   <div class="col-md-8">
   <div class="form-group">
        <label for="Keywords" class="control-label">List Name</label>
        <?php echo ($this->form->getElement('name')->render()); ?>   
    </div>

	
			<div  class="form-group">
                <label class="formLabel">Country</label>
                <div>
                    <?php echo ($this->form->getElement('country_id')->render()); ?>
                </div>
             
            </div>


            <div id="display_state"  class="form-group">
                <label class="formLabel">State</label>
                <div id="state_cont">
                    <?php echo ($this->form->getElement('state')->render()); ?>
                </div>
             
            </div>

            <div id="display_city" class="form-group">
                <label class="formLabel">City</label> 
                <div id="city_cont">
                    <?php echo ($this->form->getElement('city_id')->render()); ?>  
					
                </div>
                
            </div>
			
			
			<div class="form-group" >
                <label class="formLabel">suburb</label>
                <?php echo ($this->form->getElement('suburb')->render()); ?>  
            </div>
  
 
            <div class="form-group">
                <label class="control-label">Customer Type</label>
                <?php echo ($this->form->getElement('customer_type_id')->render()); ?>
            </div>
			
			<div class="form-group">
                <label class="formLabel">Booking Status</label>
                <?php echo ($this->form->getElement('status')->render()); ?>
				
            </div>
			

            <div class="form-group">
                <label class="formLabel">Booking Date</label>
				<div class="input-group date" id="booking_date">				
                <?php echo ($this->form->getElement('booking_date')->render()); ?>
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
            </div>
			
			<div class="form-group">
                <label class="formLabel">Enquiry Date</label>
				<div class="input-group date" id="enquiry_date">			
                <?php echo ($this->form->getElement('enquiry_date')->render()); ?>
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
            </div>
			
			<div class="form-group">
                <label class="formLabel">Estimate Date</label>
				<div class="input-group date" id="estimate_date">
                <?php echo ($this->form->getElement('estimate_date')->render()); ?>
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
            </div>
			
			<div class="form-group">
                <label class="formLabel">Deferred Date</label>
				<div class="input-group date" id="deferred_date">				
                <?php echo ($this->form->getElement('deferred_date')->render()); ?>
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
            </div>

            
            <div class="form-group">
                <label class="formLabel">Label Name</label>
                <?php echo ($this->form->getElement('label_id')->render()); ?>
            </div>
			
			<div class="form-group">
                <label class="formLabel">Service Name</label>
                <?php echo ($this->form->getElement('service_id')->render()); ?>
            </div>


 
		   <div id="button_cont">
			    <?php echo ($this->form->getElement('button')->render()); ?>
			</div>	
	 
    
   </div>
   
</form>
<div style="clear:both"></div> 
</div>
</div>
<script type="text/JavaScript">
    //
    //fun to get all city in selected country
    //
	
	$(document).ready(function() {
	
	/*$('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'dd-mm-yyyy'
            });	*/
			
	$('.input-group.date').datetimepicker({
            format: 'D-M-YYYY LT'
        });

    
    

			
    });
	
	
	
	function checkFilters(){
	  if(!$('#fltr-state').val() && !$('#fltr-city_id').val() && !$('#fltr-suburb').val() && !$('#fltr-customer_type_id').val() && !$('#fltr-status').val() && !$('#fltr-booking_date').val() && !$('#fltr-enquiry_date').val() && !$('#fltr-deferred_date').val() && !$('#fltr-label_id').val() && !$('#fltr-service_id').val()){
	    popupi_alert('Error', "<p style='color:red'>You should add at least one filter to be able to save this mailing list.</p>");
		return false;
	  }

	}
    
 
   
    /* auto complete customer search
    $(function() {
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term,
                            have_booking :true
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });*/
		function getStateByCountryId(){
      
        if($('#country').val()){
            $('#display_state').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country').val()+"&onChange=getCitiesByCountryId&class=form-control&name=state&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#display_state').css('display','none');
            $('#display_city').css('display','none');
        }
    }
	
	
	    function getCitiesByCountryId(){
        if($('#fltr-state').val()){
            $('#display_city').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country').val()+"&state="+$('#fltr-state').val()+"&class=form-control&name=city_id&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#display_city').css('display','none');
        }
    }
</script>

