<?php $customertObj = new Model_Customer();?>
<table class="table table-bordered">
        <tbody>
		
			<tr>
				<td class="col-md-6">Mailing List Name :</td>
				<td class="col-md-6"><?php echo (isset($this->name) ? $this->name : ''); ?></td>   
			</tr>
			<tr>
				<td class="col-md-6">Mailing List Customers :</td>
				<td class="col-md-6"  style="height: 250px;overflow: auto;"><?php if($this->customers){
					   foreach($this->customers as $row){
						$customer = $customertObj->getById($row['customer_id']);		
						echo get_customer_name($customer);
						}
					}
				?>
				</td> 
			</tr>
		</tbody>
</table>		

