<div style="margin-top:10px;">
    <div class="right_side_cont ibox-content">
        <?php if (CheckAuth::checkCredential(array('settingsMailingListAdd'))): ?>
            <div class="btn_cont">
                <a href="<?php echo $this->escape($this->url(array(), 'settingsMailingListAdd')); ?>" class="btn btn-white">
                    <div class="text_pos">
                        New Mailing List
                    </div>
                </a>

    <!-- <a href="<?php //echo $this->escape($this->url(array(), 'settingsMailingListUnsubscribe'));  ?>" class="btn btn-white">
    <div class="text_pos">
    Unsubscribe
    </div>
    </a> -->

                <a href="<?php echo $this->escape($this->url(array(), 'settingsMailingListSendEmail')); ?>" class="btn btn-white">
                    <div class="text_pos">
                        Send Email
                    </div>
                </a>
            </div>
        <?php endif; ?>

        <div>
            <h5>  Search Mailing List </h5>

            <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsMailingList')); ?>" method="GET" class="form-inline" role="form">
                <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />

                <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                <a href="<?php echo $this->escape($this->url(array(), 'settingsMailingList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
            </form>
        </div>
    </div>
</div>
<div style="margin-top:10px;" class="">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div >
        <div class="ibox float-e-margins no-margin-b">
            <div class="ibox-title">
                <h5> All Mailing List</h5>                    
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsMailingListDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Mailing List?');">         
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsMailingListEdit'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Name</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>

                                <?php foreach ($this->data as $row) : ?>

                                    <tr>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>

                                        <td>
                                            <div>
                                                <?php echo $this->escape($row['name']) ?>
                                            </div>

                                            <?php if (CheckAuth::checkCredential(array('settingsMailingListEdit'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['mailing_list_id']), 'settingsMailingListEdit')); ?>" class="details_info_opt">Edit</a>
                                                <span>|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsMailingListDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['mailing_list_id']), 'settingsMailingListDelete')); ?>" onclick="return confirm('are you sure you want to delete this Mailing List?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>

                                            <span>|</span>
                                            <a  href="<?php echo $this->url(array('mailing_list_id' => $row['mailing_list_id']), 'downloadCustomersMailingList'); ?>" > Download Customers Data </a>
                                           
                                             <a style="float: right;" class="btn btn-success btn-xs" type="button" href="<?php echo $this->escape($this->url(array('name' => $row['name']), 'syncEmailsToMailChimp')); ?>" onclick="return confirm('You want to sync emails to mailChimp');" > <i class="fa fa-upload"></i>&nbsp;&nbsp;Sync emails to mailChimp
                                                </a> 
                                        </td>


                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>
                    </div>	







                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>



                </form>

            <?php else: ?>
                <div class="ibox-content">
                    <div style="" class="noRowsMessageDIV">There are no Mailing List.</div>
                </div>
            <?php endif; ?>

        </div>
    </div>	

</div>
</div>
<div style="clear:both"></div>





