
<?php $loggedUser = CheckAuth::getLoggedUser(); ?>
 <?php if ($loggedUser){
      $class = '';
	  $style = '';
	  $main_style = '';
   }else{    	
	 $class = 'form-signin';
     $style = 'margin:auto;max-width:800px';
     $main_style = 'margin-top:8%';
   }?>

<div class="ibox float-e-margins <?php echo $class; ?>" style="margin-top:5px;<?php echo $style; ?>;<?php echo $main_style; ?>">
                    <div class="ibox-title" style="border-top:#fff;">
                        <h5>Unsubscribe</h5>                    
                    </div>
<div class="ibox-content <?php echo $class; ?>" style="<?php echo $style; ?>">
   <form id="unsubscribeForm" class="form-horizontal" method="POST"  Action="<?php echo $this->escape($this->form->getAction()); ?>">

		<?php if(isset($this->trading_name) && $this->trading_name){?>
		<div class="form-group">
				<label class="col-md-4 control-label" style="text-align:left">From</label>
				<div class="col-md-6">
					<h4><?php echo $this->trading_name['trading_name']; ?></h4>
				</div>
        </div>
		<?php } ?>
		
		
		<div class="form-group">
				<label class="col-md-4 control-label" style="text-align:left">Email Address</label>
				<div class="col-md-6">
					 <?php echo $this->form->getElement('email_address')->render(); ?>
				</div>
        </div>
		
		
		
		<div class="form-group">
				<label class="col-md-4 control-label" style="text-align:left">Please let us know why you are unsubscribing ? </label>
				<div class="col-md-6">
				    
					<?php $modelUnsubscribeReason = new Model_UnsubscribeReason();
                          $allReasons = $modelUnsubscribeReason->getAll();
						  foreach($allReasons as $reason):?>
						    <div class="radio">
								  <label for="why-<?= $reason['reason_text']; ?>"><input type="radio" name="why" id="why-<?= $reason['reason_text']; ?>" value="<?= $reason['unsubscribe_reason_id']; ?>"> <?= $reason['reason_text']; ?></label>
								</div>
				        <?php endforeach;?>
					
					<div class="radio">
					  <label for="why-Other" class="col-md-3"><input type="radio" name="why" id="why-Other" value="Other"> Other</label>
					 <div class="col-md-9" ><input  type="text" value="" name="other-reason" id="other-reason" class="form-control"/></div>  
					</div>
					
				</div>
        </div>
		
		<div class="form-group">
						<div class="col-lg-10 ">
							<a href="javascript:;" onclick="$('#unsubscribeForm').submit()" class="btn btn-primary">
								<div class="text_pos">
									Unsubscribe
								</div>
							</a>
						</div>
				</div>
	   	
	</form>	
</div>

</div>


