<?php
//
// JavaScript
//
ViewHelper::setJavaScript('/js/checkboxtree-0.5.2/jquery.checkboxtree.js');

//
// Style Sheet
//
ViewHelper::setStyleSheet('/js/checkboxtree-0.5.2/jquery.checkboxtree.css');
?>

<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb();  ?>
            <div class="head">
                <div class="list_title">
                    <?php
                    $role_obj = new Model_AuthRole();
                    $role = $role_obj->getById($this->role_id);
                    ?>
                    Assign Credential for <?php echo $this->escape($role['view_role_name']); ?>
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->all_credential): ?>
                <form action="" method="POST">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <input type="submit" value="save" />
                            <input type="hidden" readonly name="role_id" value="<?php echo $this->escape($this->role_id); ?>"/>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Credential</b></td>
                                <td><a href="javascript:;" id="clase_all" class="a_list" style="font-size: 12px;">Clase All</a></td>
                                <td><a href="javascript:;" id="open_all" class="a_list" style="font-size: 12px;">Open All</a></td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <div>
                                        <?php //check box tree  ?>
                                        <ul id="tree">
                                            <?php $modelAuthCredential = new Model_AuthCredential(); ?>
                                            <?php $background_color = array('#CCCCCC', '#FFD087', '#BEB9EE', '#73D8BC', '#FFDB5C'); ?>
                                            <?php foreach ($this->all_credential as $key => $credential): ?>
                                                <?php $color = $key % 5; ?>
                                                <li class="tree_box" style="border-radius: 7px 7px 7px 7px; padding: 7px; margin: 20px 40px 20px 0; background-color: <?php echo isset($background_color[$color]) ? $background_color[$color] : ''; ?>;">
                                                    <input type="checkbox" id="credential_<?php echo $this->escape($credential['credential_id']); ?>" name="credentials[]" <?php echo $this->escape($this->old_credentials ? (in_array($credential['credential_id'], $this->old_credentials) ? 'checked' : '') : ''); ?> value="<?php echo $this->escape($credential['credential_id']); ?>"/><label for="credential_<?php echo $this->escape($credential['credential_id']); ?>"><?php echo $this->escape(spaceBeforeCapital(ucfirst($credential['credential_name']))); ?></label>
                                                    <?php if ($credential['childs']) : ?>
                                                        <?php echo $modelAuthCredential->drowChilds($credential['credential_id'], $credential['childs'], $this->old_credentials); ?>
                                                    <?php endif; ?>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php ViewHelper::setJavaScript('/plugins/wbCalendar/src/Plugins/jquery.calendar.js');
                                    foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There is no Credential</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont"></div>
        </td>
    </tr>
</table>



<script type="text/javascript">
    $(document).ready(function() {
        $('#tree').checkboxTree();
    });
    
    $('#clase_all').click(function(){ 
        $('.tree_box').removeClass('collapsed');
        $('.tree_box').addClass('expanded');
        $('#tree').checkboxTree('collapse', $('.tree_box'));
    });
    
    $('#open_all').click(function(){ 
        $('.tree_box').removeClass('expanded');
        $('.tree_box').addClass('collapsed');
        $('#tree').checkboxTree('expand', $('.tree_box'));
    });
</script>