<html>
    <head>
        <title>
            <?php echo isset($this->templateData['subject']) ? $this->templateData['subject'] : '' ?>
        </title>
    </head>
    <body>
        <div style="width: 740px; text-align: center;">
            <div>
                <a href="http://www.tilecleaners.com.au/" target="_blank"><img alt="Tile Cleaners" src="<?php echo $this->escape($this->baseUrl('/pic/logo_tile_cleaners_lrg.jpg')); ?>" style="border:0;"></a>
            </div>
            <div>
                <table style="min-height:37px;background-color:#0966c2" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td style="width:75px;border-right:1px solid #ffffff"><a href="http://www.tilecleaners.com.au/" style="color:#ffffff;min-height:37px;line-height:37px;padding:0 10px;text-decoration:none;font-family:Arial,Verdana,Sans-Serif;font-size:12px" target="_blank">About Us</a></td>

                            <td style="width:75px;border-right:1px solid #ffffff"><a href="http://www.tilecleaners.com.au/" style="color:#ffffff;min-height:37px;line-height:37px;padding:0 10px;text-decoration:none;font-family:Arial,Verdana,Sans-Serif;font-size:12px" target="_blank">Price List</a></td>

                            <td style="width:55px;border-right:1px solid #ffffff"><a href="http://www.tilecleaners.com.au/Tile-Cleaning-FAQs" style="color:#ffffff;min-height:37px;line-height:37px;padding:0 10px;text-decoration:none;font-family:Arial,Verdana,Sans-Serif;font-size:12px" target="_blank">F.A.Q's</a></td>

                            <td style="width:84px;border-right:1px solid #ffffff"><a href="http://www.tilecleaners.com.au/" style="color:#ffffff;min-height:37px;line-height:37px;padding:0 10px;text-decoration:none;font-family:Arial,Verdana,Sans-Serif;font-size:12px" target="_blank">Contact us</a></td>

                            <td style="text-align:right"><img src=<?php echo $this->escape($this->baseUrl('/pic/phone_icon.gif')); ?>></td>
                            <td style="width:126px;color:#ffffff;text-align:right;font-family:Arial;font-size:14pt;font-weight:bold;line-height:17px;padding:10px 7px 7pt 0px;font-family:Arial,Verdana,Sans-Serif">1300 771 201</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: left;">
                <?php echo isset($this->templateData['body']) ? $this->templateData['body'] : '' ?>
            </div>
            <div>
                <div style="background-color:#0966c2;padding:0 10px;text-align:left;min-height:35px;line-height:35px"><p style="color:#ffffff;font-family:Arial,Verdana,Sans-Serif;font-size:12px">© Copyrights: <a href="http://www.tilecleaners.com.au" style="color:#ffffff;text-decoration:none;font-family:Arial,Verdana,Sans-Serif;font-size:12px" target="_blank">TileCleaners.com.au</a> (Commercial &amp; Residential) All Rights Reserved 2005-2012 Phone : 1300 771 201</p>
                    <span class="HOEnZb"><font color="#888888"></font></span>
                </div>
            </div>
        </div>
    </body>
</html>


