<html>
    <head>
        <title>
            <?php echo isset($this->templateData['subject']) ? $this->templateData['subject'] : '' ?>
        </title>
        <style type="text/css">
            a[href^=tel]{
                color:#fff !important;
                text-decoration:none !important;
            }
            span>a[href^=tel]{
                color:black !important;
            }
            @font-face {
                font-family: phoneFont;
                src:url(<?php echo realpath(APPLICATION_PATH . '/../puplic/fonts/FreightSans_Medium.ttf') ?>);
            }

            @media only screen and (max-width: 480px) {
                /*body     { width: 100% !important; -webkit-text-size-adjust: none; }*/
                .table_style table             { width: 100% !important; }
                .table_style img             { width: 100% !important; height:initial !important;}
                .scaleHeader    { width: 300px !important; height: 188px !important; }
                .scaleFullwidth   { width: 300px !important; height: 127px !important; }
                .scaleSeperator   { width: 300px !important; }
                .scaleFollowus    { width: 240px !important; }
                .fullWidth     { width: 320px !important; }
                .mobileImage    { margin: 20px auto; }
                .center     { text-align: center !important; }
                .tableCenter    { margin-left: auto !important; margin-right: auto !important; float: none !important; }
                .columnMargin    { margin-bottom: 20px !important; }
                .button     { margin-left: auto !important; margin-right: auto !important; float: none !important; }
                #header_no {width:68% !important; font-size: 12px !important;}
                #no_div {font-size: 12px !important;}
                #no_div a{font-size: 12px !important;}
                td#number{
                    padding-left: 5px !important;
                    background-position: bottom !important;
                    text-align: center !important;
                }

            }
        </style>
    </head>
    <body>
        <div>
            <?php echo isset($this->templateData['body']) ? $this->templateData['body'] : '' ?>
        </div>

        <?php //$signature_logo = isset($this->templateData['signature_logo']) ? $this->templateData['signature_logo'] : '' ?>
        <?php //if (file_exists(str_replace('\\', '/', get_config('company_logo') . '/' . $signature_logo))): ?>
        <!------<div>
            <img src="<?php //echo $this->escape($this->baseUrl('/uploads/company_logo/' . $signature_logo));        ?>"/>
        </div>------>
        <?php //endif; ?>
    </body>
</html>
