<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h1>User Information :</h1>
    <table>
        
        <tr>
            <td class="input_type" valign="top">First Name <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('first_name')->render(); ?></td>
        </tr>
         <tr>
            <td class="input_type" valign="top">Last Name <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('last_name')->render(); ?></td>
        </tr>

        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>