<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>

            <h3 style="color: #48AAE6;">User Information :</h3>
            
            <div>
                <div class="contractor_info_tit">Name : </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->userInfo['first_name']) ?> <?php echo $this->escape($this->userInfo['last_name']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >Role : </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['role_name']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >Username : </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['username']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <h3 style="color: #48AAE6;">Contact Details :</h3>

            <div>
                <div class="contractor_info_tit" >Email 1: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email1']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Email 2: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email2']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Email 3: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email3']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Mobile 1: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile1']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Mobile 2: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile2']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Mobile 3: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile3']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Phone 1: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone1']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Phone 2: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone2']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Phone 3: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone3']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Fax: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['fax']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Emergency Phone: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['emergency_phone']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <h3 style="color: #48AAE6;">Address Details :</h3>

            <div>
                <div class="contractor_info_tit" >Unit / Lot Number :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['unit_lot_number']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >Street Number :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['street_number']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >Street Name :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['street_address']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit">Suburb :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['suburb']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit">Postcode :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['postcode']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit">PO Box (Postal Address):</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['po_box']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >City :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['country_name'] . ' - ' . $this->user['city_name']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit">State :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['state']) ?></div>
                <div style="clear: both;"></div>
            </div>

        </td>
        <td class="right_side">

            <div style=" font-size: 14px;">
                <div class="settings_modify_user_info_cont">
                    <?php if (CheckAuth::checkCredential(array('settingsUserInfoAdd','settingsUserInfoEdit'))): ?>
                    <a href="javascript:;" class="contractor_a_link" onclick="AddEditUserInfo('<?php echo $this->escape($this->url(array('user_id' => $this->user_id), 'settingsUserInfoAdd')); ?>');">Modify User Info</a>
                    <?php endif;?>
                </div>
                <div style="clear: both;"></div>
            </div>

        </td>
    </tr>
</table>

<script type="text/javascript">
    function AddEditUserInfo(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=200&width=450');
        });
    }
</script>