<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Banks Accounts
                </div>
                <div class="clearb"></div>
            </div>
            <?php $companyObj = new Model_Companies(); ?>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsBankDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Bank?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsBankDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Company</b></td>
                                <td><b>Bank Name</b></td>
                                <td><b>BSB</b></td>
                                <td><b>Account Name</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $company = $companyObj->getById($row['company_id']); ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['bank_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <span class="details_info_name"><?php echo $this->escape($company['company_name']) ?></span>    
                                        </div>
                                        <div class="details_info_l">

                                            <?php if (CheckAuth::checkCredential(array('settingsBankEdit'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['bank_id']), 'settingsBankEdit')); ?>','210','450');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsBankDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['bank_id']), 'settingsBankDelete')); ?>" onclick="return confirm('are you sure you want to delete this Bank?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['bank_name']) ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['bsb']) ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['account_name']) ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Bank.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsBankAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsBankAdd')); ?>','210','450');" class="btn_a">
                            <div class="text_pos">
                                New Bank
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Bank
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsBankList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                            <div class="search">
                                <select name="fltr[company_id]" style="width: 150px;">
                                    <option value="0">Select One</option>
                                    <?php foreach ($companyObj->getCompaniesAsArray() as $c) : ?>
                                        <option value="<?php echo $this->escape($c['id']); ?>" <?php echo $this->escape(!empty($this->filters['company_id']) && $this->filters['company_id'] == $c['id'] ? 'selected' : '' ); ?>><?php echo $this->escape($c['name']); ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsBankList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
