<?php foreach ($this->serviceAttribute as $key => $attribute): ?>
    <div <?php if ($key != 0): ?>class="attribute_cont"<?php endif; ?>>
        <div class="float_l_r" style="font-size: 12px;">
            <?php echo $this->escape($attribute['attribute_name']); ?> :
        </div>
        <div class="calender_service_slctd_service_booking_service">
            <?php echo drowAttribute($attribute,0,0,$this->clone); ?>
        </div>
        <div style="clear: both"></div>
    </div>
<?php endforeach; ?>


