<div class="login_body">
    <div class="login_box_pos">
        <div class="login_box" style="width: 100%;">
            <div class="login_box_padding">
                <div class="signin_txt">
                    <img border="0" alt="Success Icon" src="<?php echo $this->escape($this->baseUrl('/pic/success.gif')); ?>" style="vertical-align: text-bottom;"/> The cancellation process has been completed
                </div>
                <div class="feild_input_pos" style="width: 100%;">
                    <p>Thank you for calling <?php echo $this->escape($this->company['company_name']);?></p>
                </div>
                <div class="login_box_foot"></div>
            </div>
        </div>
    </div>
</div>