<div class="ibox float-e-margins no-margin-b">
   <div class="ibox-title"> Change Password</div>
    <div class="ibox-content">
<form class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" >       
    
     <div class="row">
	 <div class="col-md-8">
		<div class="form-group">

        <label for="password" class="col-md-3">Old Password:</label>
        <div class="col-md-8">
            <?php echo $this->form->getElement('old_password')->render(); ?>
        </div>
    </div>
	 <div class="form-group">
        <label for="password" class="col-md-3">New Password:</label>
        <div class="col-md-8">
            <?php echo $this->form->getElement('new_password')->render(); ?>
        </div>
    </div>
	 <div class="form-group">
        <label for="password" class="col-md-3">New Password Confirm:</label>
        <div class="col-md-8">
            <?php echo $this->form->getElement('confirm_new_password')->render(); ?>
        </div>
    </div>
		
    
     <div class="form-group">
			<div class="col-md-8 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
    </div>
  </div>

</form>
</div>
</div>

