
<div class="ibox float-e-margins no-margin-b">
   <div class="ibox-title"> Change Email</div>
    <div class="ibox-content">
<form class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" >       

<div class="row">
    <div class="col-md-8">
	 <div class="form-group">

        <label for="password" class="col-md-3">Old Email:</label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('old_email')->render(); ?>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-md-3">New Email:</label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('new_email')->render(); ?>
        </div>
    </div>


    <div class="form-group">
        <label for="password" class="col-md-3">New Email Confirm:</label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('confirm_new_email')->render(); ?>
        </div>
    </div>
   <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
    
  </div>
  </div>
</form>
</div>



