<!--
	NOTES:
	1. All tokens are represented by '$' sign in the template.
	2. You can write your code only wherever mentioned.
	3. "DO NOT" alter the tokens in the template html as they are required during publishing.
-->
<!--
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RECOVER_STRYframe2</title>-->
<!-- write your code here -->


<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

<script src="http://temp.tilecleaners.com.au/js/RECOVER_STRYframe2.js"></script>


<!-- write your code here -->
<style>
canvas {
    margin: auto;
    width: 100%;
	height: 100%
}
</style>


<!--</head>-->



<div onload="init();" style="background-color:#78d7e0;margin:0px;">

		<a style="float:right;" href="<?php echo $this->escape($this->url(array(), 'completeProfile')); ?>?flag=0"   class="btn btn-white">
                        <div class="text_pos">
                            Skip >>>
                        </div>
                    </a>
	
	<center ><canvas id="video-canvas" width="414" height="628" style="background-color:#FFFFFF"></canvas></center>
</div>
</html>
<!--
<body onload="init();" style="background-color:#78d7e0;margin:0px;">
	<center ><canvas id="canvas" width="414" height="628" style="background-color:#FFFFFF"></canvas></center>
</body>
-->
<script>

$(document).ready(function(){
	init();
});

var canvas, stage, exportRoot;
function init() {
	// --- write your JS code here ---
	
	canvas = document.getElementById("video-canvas");
	images = images||{};

	var loader = new createjs.LoadQueue(false);
	loader.addEventListener("fileload", handleFileLoad);
	loader.addEventListener("complete", handleComplete);
	loader.loadManifest(lib.properties.manifest);
}

function handleFileLoad(evt) {
	if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
}

function handleComplete(evt) {
	exportRoot = new lib.RECOVER_STRYframe2();

	stage = new createjs.Stage(canvas);
	stage.addChild(exportRoot);
	stage.update();

	createjs.Ticker.setFPS(lib.properties.fps);
	createjs.Ticker.addEventListener("tick", stage);
}
</script>

<script type="text/javascript">
var idleTime = 0;
$(document).ready(function () {
    //Increment the idle time counter every minute.
    var idleInterval = setInterval(timerIncrement, 1000); // 1 second
});

function timerIncrement() {
    idleTime = idleTime + 1;
	//console.log("idleTime: " + idleTime);
    if (idleTime > 49) { // 50 seconds
		//console.log("idleTime > 49");
        var urlTest = '<?php echo $this->escape($this->url(array(), 'completeProfile')); ?>';
		window.location = urlTest
    }
}
</script>   



