
<form class="form-signin" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" class="form-horizontal">
			<div class="login_logo">
					<a href="" style="text-decoration: none;">
						<img class="img-responsive" src="<?php   echo $this->baseUrl('/uploads/company_logo/2012/03/07/logo_1.png');?>"/>
                    </a>
					<h4>Tile Cleaners Pty Ltd</h4>
			</div>
				
 <p style="color:red;"><?php echo $this->authError;?></p>
        

<!--<strong>Please, Enter any Email or Contact related to the booking</strong>-->
<br>
<?php echo $this->form->contact;?>
<br>
<!--<strong>Please, Enter Booking Number</strong>-->
<?php echo $this->form->number;?>
<!--<br>-->
<?php echo $this->form->button;?>
</form>
