<form class="form-signin form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">       
    
<div class="login_logo">
					
							<a href="/" style="text-decoration: none;">
							
						   
							<img class="img-responsive" src="<?php   echo $this->baseUrl('/uploads/company_logo/2012/03/07/logo_1.png');?>"/>
							 </a>
							<h4>Tile Cleaners Pty Ltd</h4>
				</div>
				
         	 <h4>Forgot Password? Let's find your account</h4>	
	        <br/>
		
  <div class="form-group">
    <label class="control-label col-md-2" for="email">Email:</label>
    <div class="col-md-10">
      <?php echo $this->form->getElement('email')->render(); ?>
    </div>
  </div>
	
	<div class="form-group"> 
    <div class="col-md-offset-2 col-md-10">
       <?php echo $this->form->getElement('button')->render(); ?>
    </div>
  </div>
    

</form>


