<form class="form-horizontal form-signin" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">

      <div class="login_logo">
					
							<a href="/" style="text-decoration: none;">
							
						   
							<img class="img-responsive" src="<?php   echo $this->baseUrl('/uploads/company_logo/2012/03/07/logo_1.png');?>"/>
							 </a>
							<h4>Tile Cleaners Pty Ltd</h4>
				</div>
				
         	 <h4>Forget Password</h4>
    		<br/>

		 <div class="form-group">
					<label class="col-md-3">Password:</label>
					<div class="col-md-9 ">
							<?php echo $this->form->getElement('password')->render(); ?>
					</div>
		</div>
		
		
		<div class="form-group">
				<label class="col-md-3">Password Confirm:</label>
				<div class="col-md-9 ">
							<?php echo $this->form->getElement('password_confirm')->render(); ?>
                </div>
		</div>
	
			
		<div class="form-group">
	
				<div class="col-md-9 col-md-offset-3">
					<?php echo $this->form->getElement('button')->render(); ?>
                </div>
		</div>
	
</form>