

<form class="form-signin" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">       
     
				<div class="parent-img">
						<div class="picture-img">
						
						</div>
				</div>
	
         	 <h2 class="form-signin-heading">Please login</h2>
      
              <input type="email" class="form-control"  name="email" placeholder="Email Address" />
				<br/>
			  <input type="password" class="form-control" name="password" placeholder="Password" />   
				
				
				<div class="content">
				<div class="row">
					<div class="forget_pass float-r">
                        <a href="<?php echo $this->escape($this->url(array(), 'forgetPassword')); ?>" class="a_pass">
                            Forgot Password?
                        </a>
                    </div>
			   </div>
			   </div>
			   
			  <label class="checkbox">
			  
			  <input type="checkbox" value="remember-me"  name="keep_sign">keep me signed in
			  
			  </label>
			


			  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    
    </form>
 