  
<?php if (isset($this->tilecleaner)) { ?>

<form class="form-signin" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">

<div class="login_logo">

<a href="/" style="text-decoration: none;">


<img class="img-responsive" src="<?php echo $this->baseUrl('/uploads/company_logo/2012/03/07/logo_1.png'); ?>"/>
<?php /* if (!empty($company['company_logo'])) : ?>
<?php var_dump($company['company_logo']); exit();?>
<?php if (file_exists(str_replace('\\', '/', get_config('company_logo') . '/' . $company['company_logo']))): ?>
<img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/uploads/company_logo/' . $company['company_logo'])); ?>" border="0"/>

<?php else : ?>
<img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/logo.png')); ?>" border="0"/>
<?php endif; ?>
<?php else : ?>
<img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/logo.png')); ?>" border="0"/>
<?php endif; */ ?>
</a>
<h4>Tile Cleaners Pty Ltd</h4>
</div>

<h4>Please login</h4>

<input type="email" class="form-control"  name="email" placeholder="Email Address" />
<input type="password" class="form-control" name="password" placeholder="Password" />


<div class="content">
<div class="row">

</div>
</div>
<div>
<div class="float-l">
<label>
<input type="checkbox" value="remember-me"  name="keep_sign" style="float:left;"> &nbsp;Keep me signed in
</label>
</div>
<div class="float-r">
<a href="<?php echo $this->escape($this->url(array(), 'forgetPassword')); ?>" class="a_pass">
Forgot Password?
</a>
</div>

</div>
<div class="clearfix"></div>
<button class="btn btn-lg btn-primary btn-block login-btn" type="submit">Login</button>

</form>

<?php }else { ?>
 
  
    <section>
             <div class="col-lg-offset-4 col-lg-4 col-sm-offset-2 col-sm-8  col-xs-offset-1 col-xs-10">
               <div class="contBig">
			      <div class="outbiglogo" >
				    <div class="inbiglogo">
					</div>
				  </div>
				  <div class="headnewaccount"> 
				   Welcome to Octopuspro
				  </div> 
						


 <form id="form" class="form-horizontal" method="POST" 
	    action=" <?php echo $this->escape($this->form->getAction()); ?>"  > 
                            
    
         <div class="cont-input">
              <input type="email" class="inputstyle"  name="email" placeholder="Email Address" />
         </div>
         <div class="cont-input">
			  <input type="password" class="inputstyle" name="password" placeholder="Password" />   		
		</div>		
				<div class="content">
					<div class="row">
					
				   </div>
			   </div>
			   <div>
					<div class="center-check">
							<label>
								<input type="checkbox" value="remember-me"  name="keep_sign" style="float:left"> &nbsp; keep me signed in
							</label>
					</div>
					
				
				</div>
				<div class="clearfix"></div>

				  <div class="btncont  col-sm-offset-3 col-sm-6"> 
				      <input  type="submit" class="btn" value="Login" id="subNewAccount">
				   </div>

<div class="clearfix"></div>
				   <div class="center-check">
								<a href="<?php echo $this->escape($this->url(array(), 'forgetPassword')); ?>" class="a_pass">
										Forgot your Password?
								</a>
					</div>
				   
				</form>			
              </div>
              <div class="sec-center">
             Don't have login ? <a href="http://admin.octopuspro.com/signup">Try Octopuspro for free </a> 
           </div>
            </div>
            
         </section>

	  
	  
	   <style>
	   .center-check{
          text-align: center;

	   }

	   .cen-text{
	   	    margin: 38px;
    text-align: center;
    line-height: 23px;
    font-size: 17px;
	   }
	
	
	body{
		font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
		background: #fff url(<?php echo $this->escape($this->baseUrl('bd.jpg')); ?>) no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
		font-weight: 400;
		font-size: 15px;
		color: #1d3c41;
    }    
	
	ul{
		list-style-type:none;
		margin-left:2px;
		padding-left:0;
	}
	.errors li{
		color:#f00;
	}
	
	 .alert_box{
		 margin-right:10px;
		 margin-left:10px;
	 }
	 .btncont input[type=button], input[type=reset], input[type=submit]{
	   background: url(<?php echo $this->escape($this->baseUrl('btn.jpg')); ?>) repeat-x;
	   color:#fff;
	   width:100%;
	   margin:15px 0px;
	   font-family: 'Montserrat', sans-serif;

	 }

	 input[type=submit] {
    background: url(http://temp.tilecleaners.com.au/btn.jpg) repeat-x;
    color: #fff;
    width: 100%;
    margin: 15px 0px;
    font-family: 'Montserrat', sans-serif;
}
	 
	 .btncont input:hover{
	   background: #33c2ff;
	   color:#fff;

	 }
	 
   .cont-input{
	 margin:10px;
   }
	 .inputstyle{
	    text-align:center ;
		background:#f1f1f1;
		width:100%;
		border:none;
		padding:5px;
		font-size:17px;
		font-family: 'Open Sans', sans-serif;
	 }
	 
   .contBig{
    background: #fff ;
	/*vertical-align: middle;*/
    border-radius:18px;
   /* position: absolute;*/
   // overflow: hidden;
   min-height: 420px;
    margin:120px auto 5px;
	}	
	
	.outbiglogo{
	  position:relative;
	}
	
	.inbiglogo{
	   background :url(<?php echo $this->escape($this->baseUrl('octbiglogo.png')); ?>) no-repeat;
	   height:172px; 
	   width:230px;
	   position: absolute;
       top:49px;
       bottom: 0;
       left: 0;
       right: 0;
      margin: auto;
	}
	
	.headnewaccount{
	   padding-top:130px ;  
	   text-align:center;
	   font-size:21px;
	   color:#0091d7;
	   font-family: 'Open Sans', sans-serif;
	}
	.sec-center{
		text-align: center;
		color : #79D7F3;
	}
	</style>                    
 

<?php } ?>
