

<form class="form-signin" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">

<div class="login_logo">

<a href="/" style="text-decoration: none;">


<img class="img-responsive" src="<?php echo $this->baseUrl('/uploads/company_logo/2012/03/07/logo_1.png'); ?>"/>
<?php /* if (!empty($company['company_logo'])) : ?>
<?php var_dump($company['company_logo']); exit();?>
<?php if (file_exists(str_replace('\\', '/', get_config('company_logo') . '/' . $company['company_logo']))): ?>
<img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/uploads/company_logo/' . $company['company_logo'])); ?>" border="0"/>

<?php else : ?>
<img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/logo.png')); ?>" border="0"/>
<?php endif; ?>
<?php else : ?>
<img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/logo.png')); ?>" border="0"/>
<?php endif; */ ?>
</a>
<h4>Tile Cleaners Pty Ltd</h4>
</div>

<h4>Please login</h4>

<input type="email" class="form-control"  name="email" placeholder="Email Address" />
<input type="password" class="form-control" name="password" placeholder="Password" />


<div class="content">
<div class="row">

</div>
</div>
<div>
<div class="float-l">
<label>
<input type="checkbox" value="remember-me"  name="keep_sign">keep me signed in
</label>
</div>
<div class="float-r">
<a href="<?php echo $this->escape($this->url(array(), 'forgetPassword')); ?>" class="a_pass">
Forget Password?
</a>
</div>

</div>
<div class="clearfix"></div>
<button class="btn btn-lg btn-primary btn-block login-btn" type="submit">Login</button>

</form>
