<?php 
		ViewHelper::setStyleSheet('/css/jquery.mThumbnailScroller.css');
		ViewHelper::setJavaScript('/js/jquery.mThumbnailScroller.min.js');
		ViewHelper::setStyleSheet('/plugins/fancybox/jquery.fancybox.css');
		ViewHelper::setJavaScript('/plugins/fancybox/jquery.fancybox.js');
		
?>

<div class="ibox no-margin-b">
	<div class="ibox-content ">
	
			<div class="profile_bg_green">
					<div>
						<img class="img-responsive" src="<?php   echo $this->baseUrl('/pic/contractor_pic.png');?>" width="130" height="90"/>
						<div class="btn-group profile-cog">
                            <button data-toggle="dropdown" class="btn  btn-xs dropdown-toggle"><i class="fa fa-cog"></i></button>
                            <ul class="dropdown-menu">
						
						
						<li>
								<a href="#">
									<input type="file" name="profile_image" accept="image/x-png, image/jpg, image/jpeg" title="Update photo" />
								</a>
						</li>
								
							
						<li>
							<a href="<?php echo $this->escape($this->url(array(), 'myAccount')); ?>" class="contractor_a_link">My Account</a>
						</li>
						
						<li>
							<a href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>" class="contractor_a_link"> My Messages</a>
						</li>
						
						<li>
							<a href="<?php echo $this->escape($this->url(array(), 'changePassword')); ?>" class="contractor_a_link">Change My Password</a>
						</li>
						
						<li>
							<a href="<?php echo $this->escape($this->url(array(), 'changeEmail')); ?>"  class="contractor_a_link">Change My Email</a>
						</li>
						
						<li>
							<a href="javascript:;" class="contractor_a_link"  data-toggle="modal" data-target="#popupi" onclick="popupi('Change My Info','<?php echo $this->escape($this->url(array(), 'changeAccountInfo')); ?>');">Change My Info</a>
						</li> 
						<?php if ('contractor' == CheckAuth::getRoleName()): ?>
							<li>
								<a href="javascript:;" class="contractor_a_link" data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Contractor Info','<?php echo $this->escape($this->url(array(), 'modfyContractorInfo')); ?>');">Modify Contractor Info</a>

							</li>
							<li>
								<a href="<?php echo $this->escape($this->url(array(), 'contractorOwnerList')); ?>" class="contractor_a_link">Modify Owner (s)</a>


							</li>
							<li>
								<a href="<?php echo $this->escape($this->url(array(), 'contractorEmployeeList')); ?>" class="contractor_a_link">Modify Employee (s)</a>


							</li>
							<li>
								<a href="<?php echo $this->escape($this->url(array(), 'declarationOfEquipmentList')); ?>" class="contractor_a_link">Modify Equipment List</a>


							</li>
							<li>
								<a href="<?php echo $this->escape($this->url(array(), 'declarationOfChemicalsList')); ?>" class="contractor_a_link">Modify Chemicals List</a>



							</li>
							<li>
								<a href="<?php echo $this->escape($this->url(array(), 'declarationOfOtherApparatusList')); ?>" class="contractor_a_link">Modify Other Apparatus List</a>



							</li>
							<li>
								<a href="<?php echo $this->escape($this->url(array(), 'contractorVehicleList')); ?>" class="contractor_a_link">Modify Vehicle List</a>


							</li>
							<?php if (CheckAuth::checkCredential(array('settingsContractorGmailAdd', 'settingsContractorGmailEdit'))): ?>
								<li>
									<a href="#" class="contractor_a_link" data-toggle="modal" data-target="#popupi"  onclick="popupi('Modify Gmail Accounts','<?php echo $this->escape($this->url(array('contractor_id' => $this->user['user_id']), 'settingsContractorGmailAdd')); ?>');">Modify Gmail Accounts</a>
								</li>
							<?php endif; ?>
						<?php else: ?>
							<li>
								<a href="#" class="contractor_a_link"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify User Info','<?php echo $this->escape($this->url(array(), 'modfyUserInfo')); ?>');">Modify User Info</a>
							</li>
						<?php endif; ?>
                            </ul>
                        </div>
						<h4><?php echo $this->escape($this->user['username']) ?></h4>
						
					</div>
			</div>
	</div>
	

	<div class="ibox-content" style="display:none;">
	
			<div role="tabpanel">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#myaccount" aria-controls="home" role="tab" data-toggle="tab">My Account</a></li>
				<li role="presentation"><a href="#contact_details" aria-controls="profile" role="tab" data-toggle="tab">Contact Details</a></li>
				<li role="presentation"><a href="#Address_details" aria-controls="messages" role="tab" data-toggle="tab">Address Details</a></li>
				<?php if ('contractor' != $this->role['role_name']): ?>
				<li role="presentation"><a href="#discussion_details" aria-controls="messages" role="tab" data-toggle="tab">Contractor Discussion</a></li>
				<?php endif;?>
				
				
				<?php if ('contractor' == $this->role['role_name']): ?>
				
				
							<li role="presentation"><a href="#Insurance" aria-controls="settings" role="tab" data-toggle="tab">Insurance</a></li>
							<li role="presentation"><a href="#drivers_licence" aria-controls="settings" role="tab" data-toggle="tab">Drivers Licence</a></li>
							
							<?php if ($this->contractorVehicle): ?>	
							<li role="presentation"><a href="#vehicle" aria-controls="settings" role="tab" data-toggle="tab">Vehicle</a></li>
							<?php endif;?>
							
							<?php if ($this->contractorOwner): ?>
							<li role="presentation"><a href="#owner" aria-controls="settings" role="tab" data-toggle="tab">Owner(s)</a></li>
							<?php endif;?>
							 <?php if ($this->contractorEmployee): ?>
							 <li role="presentation"><a href="#Employee" aria-controls="settings" role="tab" data-toggle="tab">Employee</a></li>
							 <?php endif;?>
								
							<?php if ($this->declarationOfEquipment): ?>
							 <li role="presentation"><a href="#Equipment" aria-controls="settings" role="tab" data-toggle="tab">Equipment</a></li>
							<?php endif;?>
							
							<?php if ($this->declarationOfChemicals): ?>
							 <li role="presentation"><a href="#Chemicals" aria-controls="settings" role="tab" data-toggle="tab">Chemicals</a></li> 
							<?php endif;?>
							
							<?php if ($this->declarationOfOtherApparatus): ?>
								<li role="presentation"><a href="#Apparatus" aria-controls="settings" role="tab" data-toggle="tab">Apparatus</a></li> 
							<?php endif;?>
				
				<?php endif;?>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="myaccount">
								<table class="table table-bordered">
										<tbody>
											<?php if ('contractor' != $this->role['role_name']): ?>
												<tr>

													<th>Name :</th>
													<td><?php echo $this->escape($this->userInfo['first_name']) ?> <?php echo $this->escape($this->userInfo['last_name']) ?></td>


												</tr>
											<?php endif; ?>
												<tr>
													<th>Role :</th>
													<td><?php echo $this->escape($this->role['view_role_name']) ?></td>
												</tr>
												<tr>
													<th>Username :</th>
													<td><?php echo $this->escape($this->user['username']) ?></td>
												</tr>
											<?php if ('contractor' == $this->role['role_name']): ?>
											<tr>
												<th>Business Name :</th>
												<td><?php echo $this->escape($this->contractorInfo['business_name']) ?></td>
											</tr>
											<tr>
												<th>TFN (Tax File Number) :</th>
												<td><?php echo $this->escape($this->contractorInfo['tfn']) ?></td>
											</tr>
											<tr>
												<th>ABN (Australian Business Number) :</th>
												<td><?php echo $this->escape($this->contractorInfo['abn']) ?></td>
											</tr>
											<tr>
												<th>ACN (Australian Company Number) :</th>
												<td><?php echo $this->escape($this->user['username']) ?></td>
											</tr>
											<tr>
												<th>GST (Goods and Services Tax) :</th>
												<td><?php echo $this->escape($this->contractorInfo['gst'] ? 'yes' : 'no') ?></td>
											</tr>
											<tr>
												<th>GST Date Registered :</th>
												<td><?php echo $this->escape(date(get_config('date'), $this->contractorInfo['gst_date_registered'])) ?></td>
											</tr>

										<?php endif; ?>
									</tbody>
									
								</table>
							</div>
				<div role="tabpanel" class="tab-pane" id="contact_details">
						<table class="table table-bordered">
														<tbody>

														<tr>
															<td>Email 1:</td>
															<td> <?php echo $this->escape($this->user['email1']) ?></td>
														</tr>
														<tr>
															<td>Email 2:</td>
															<td> <?php echo $this->escape($this->user['email2']) ?></td>
														</tr>
														<tr>
															<td>Email 3:</td>
															<td> <?php echo $this->escape($this->user['email3']) ?></td>
														</tr>
														<tr>
															<td>Mobile 1:</td>
															<td> <?php echo $this->escape($this->user['mobile1']) ?></td>
														</tr>
														<tr>
															<td>Mobile 2:</td>
															<td> <?php echo $this->escape($this->user['mobile2']) ?></td>
														</tr>
														<tr>
															<td>Mobile 3:</td>
															<td> <?php echo $this->escape($this->user['mobile3']) ?></td>
														</tr>
														<tr>
															<td>Phone 1:</td>
															<td> <?php echo $this->escape($this->user['phone1']) ?></td>
														</tr>
														<tr>
															<td>Phone 2:</td>
															<td> <?php echo $this->escape($this->user['mobile3']) ?></td>
														</tr>
														<tr>
															<td>Phone 3:</td>
															<td> <?php echo $this->escape($this->user['mobile3']) ?></td>
														</tr>
														<tr>
															<td>Fax : </td>
															<td><?php echo $this->escape($this->user['fax']) ?></td>
														</tr>
														<tr>
															<td>Emergency Phone:  </td>
															<td><?php echo $this->escape($this->user['emergency_phone']) ?></td>
														</tr>
													</tbody>
												</table>
				
				
				
				
				
				
				</div>
				<div role="tabpanel" class="tab-pane" id="Address_details">
				
					<table class="table table-bordered">
						<tbody>

							<tr>
								<td>Unit / Lot No :</td>
								<td> <?php echo $this->escape($this->user['unit_lot_number']) ?></td>
							</tr>
							<tr>
								<td>Street Number :</td>
								<td> <?php echo $this->escape($this->user['street_number']) ?></td>
							</tr>
							<tr>
								<td>Street Name :</td>
								<td> <?php echo $this->escape($this->user['street_address']) ?></td>
							</tr>
							<tr>
								<td>Suburb :</td>
								<td> <?php echo $this->escape($this->user['suburb']) ?></td>
							</tr>
							<tr>
								<td>Postcode :</td>
								<td> <?php echo $this->escape($this->user['postcode']) ?></td>
							</tr>
							<tr>
								<td>PO Box (Postal Address):</td>
								<td> <?php echo $this->escape($this->user['po_box']) ?></td>
							</tr>
							<tr>
								<td>City :</td>
								<td> <?php echo $this->escape($this->user['country_name']) ?></td>
							</tr>
							<tr>
								<td>State :</td>
								<td> <?php echo $this->escape($this->user['state']) ?></td>
							</tr>
						</tbody>
					</table>
				
				
				
				</div>
				
				
					<?php if ('contractor' == $this->role['role_name']): ?>
				<div role="tabpanel" class="tab-pane" id="Insurance">			
					
				</div>
				<div role="tabpanel" class="tab-pane" id="drivers_licence">

				</div>				
			
				
				
					<?php if ($this->contractorOwner): ?>
					<div role="tabpanel" class="tab-pane" id="owner">	
					
					
					</div>
					<?php endif;?>
					
					
					<?php if ($this->contractorEmployee): ?>
				
					<div role="tabpanel" class="tab-pane" id="Employee">
					
					
					</div>
					<?php endif;?>
				
					<?php if ($this->declarationOfEquipment): ?>
					
					<div role="tabpanel" class="tab-pane" id="Equipment">
					
					</div>
					<?php endif;?>
					
					<?php if ($this->declarationOfChemicals): ?>
						<div role="tabpanel" class="tab-pane" id="Chemicals">
						
						</div>
					<?php endif;?>
					
									
				<?php if ($this->declarationOfOtherApparatus): ?>
				   	<div role="tabpanel" class="tab-pane" id="Apparatus">
						<table class="table table-bordered">
							<tbody>
								<?php $counter = 1; ?>
								<?php foreach ($this->declarationOfOtherApparatus as $otherApparatus): ?>
									<tr>
										<td><?php echo $this->escape($counter); ?> )</td>
										<td><?php echo $this->escape($otherApparatus['other_apparatus']) ?></td>
									</tr>
									<?php $counter++; ?>
								<?php endforeach; ?>
							</tbody>
						</table>
					</div>
				<?php endif; ?>
			<?php endif;?>	
			
			<?php if ('contractor' != $this->role['role_name']): ?>
					<div role="tabpanel" class="tab-pane" id="discussion_details">
						<table class="table table-bordered">
							<tbody>
								
								<?php foreach ($this->declarationOfOtherApparatus as $otherApparatus): ?>
									<tr>
										<td><?php echo $this->escape($counter); ?> )</td>
										<td><?php echo $this->escape($otherApparatus['other_apparatus']) ?></td>
									</tr>
								
								<?php endforeach; ?>
							</tbody>
						</table>
					</div>
			<?php endif;?>

			</div>
	
	
	
	
	
	
	
	
	
	
	
	
	</div>
</div>


	<div class="ibox-content">

		<div class="panel-group" id="accordion">
  
			  
			  <div class="panel panel-primary">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					  <i class="fa fa-file-text-o"></i> My Account
					</a>
				  </h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
				  <div class="panel-body">
					<table class="table">
										<tbody>
											<?php if ('contractor' != $this->role['role_name']): ?>
												<tr>

													<th>Name :</th>
													<td><?php echo $this->escape($this->userInfo['first_name']) ?> <?php echo $this->escape($this->userInfo['last_name']) ?></td>


												</tr>
											<?php endif; ?>
												<tr>
													<th>Role :</th>
													<td><?php echo $this->escape($this->role['view_role_name']) ?></td>
												</tr>
												<tr>
													<th>Username :</th>
													<td><?php echo $this->escape($this->user['username']) ?></td>
												</tr>
											<?php if ('contractor' == $this->role['role_name']): ?>
											<tr>
												<th>Business Name :</th>
												<td><?php echo $this->escape($this->contractorInfo['business_name']) ?></td>
											</tr>
											<tr>
												<th>TFN (Tax File Number) :</th>
												<td><?php echo $this->escape($this->contractorInfo['tfn']) ?></td>
											</tr>
											<tr>
												<th>ABN (Australian Business Number) :</th>
												<td><?php echo $this->escape($this->contractorInfo['abn']) ?></td>
											</tr>
											<tr>
												<th>ACN (Australian Company Number) :</th>
												<td><?php echo $this->escape($this->user['username']) ?></td>
											</tr>
											<tr>
												<th>GST (Goods and Services Tax) :</th>
												<td><?php echo $this->escape($this->contractorInfo['gst'] ? 'yes' : 'no') ?></td>
											</tr>
											<tr>
												<th>GST Date Registered :</th>
												<td><?php echo $this->escape(date(get_config('date'), $this->contractorInfo['gst_date_registered'])) ?></td>
											</tr>

										<?php endif; ?>
									</tbody>
									
								</table>
				  </div>
				</div>
			  </div>
			  
				  
	  
			  <div class="panel panel-primary">
				<div class="panel-heading">
				  <h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					  Contact Details
					</a>
				  </h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
				  <div class="panel-body">
					<table class="table">
						<tbody>

									<tr>
										<td>Email 1:</td>
										<td> <?php echo $this->escape($this->user['email1']) ?></td>
									</tr>
									<tr>
										<td>Email 2:</td>
										<td> <?php echo $this->escape($this->user['email2']) ?></td>
									</tr>
									<tr>
										<td>Email 3:</td>
										<td> <?php echo $this->escape($this->user['email3']) ?></td>
									</tr>
									<tr>
										<td>Mobile 1:</td>
										<td> <?php echo $this->escape($this->user['mobile1']) ?></td>
									</tr>
									<tr>
										<td>Mobile 2:</td>
										<td> <?php echo $this->escape($this->user['mobile2']) ?></td>
									</tr>
									<tr>
										<td>Mobile 3:</td>
										<td> <?php echo $this->escape($this->user['mobile3']) ?></td>
									</tr>
									<tr>
										<td>Phone 1:</td>
										<td> <?php echo $this->escape($this->user['phone1']) ?></td>
									</tr>
									<tr>
										<td>Phone 2:</td>
										<td> <?php echo $this->escape($this->user['mobile3']) ?></td>
									</tr>
									<tr>
										<td>Phone 3:</td>
										<td> <?php echo $this->escape($this->user['mobile3']) ?></td>
									</tr>
									<tr>
										<td>Fax : </td>
										<td><?php echo $this->escape($this->user['fax']) ?></td>
									</tr>
									<tr>
										<td>Emergency Phone:  </td>
										<td><?php echo $this->escape($this->user['emergency_phone']) ?></td>
									</tr>
					</tbody>
				</table>
			  </div>
			</div>
		  </div>
	  
		  
		  
		
	    
			   <div class="panel panel-primary">
				
				
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
						  <i class="fa fa-map-marker">&nbsp;</i>Address Details
						</a>
					  </h4>
					</div>
				
					
					<div id="collapsefour" class="panel-collapse collapse">
					  <div class="panel-body">
							<table class="table">
							<tbody>

								<tr>
									<td>Unit / Lot No :</td>
									<td> <?php echo $this->escape($this->user['unit_lot_number']) ?></td>
								</tr>
								<tr>
									<td>Street Number :</td>
									<td> <?php echo $this->escape($this->user['street_number']) ?></td>
								</tr>
								<tr>
									<td>Street Name :</td>
									<td> <?php echo $this->escape($this->user['street_address']) ?></td>
								</tr>
								<tr>
									<td>Suburb :</td>
									<td> <?php echo $this->escape($this->user['suburb']) ?></td>
								</tr>
								<tr>
									<td>Postcode :</td>
									<td> <?php echo $this->escape($this->user['postcode']) ?></td>
								</tr>
								<tr>
									<td>PO Box (Postal Address):</td>
									<td> <?php echo $this->escape($this->user['po_box']) ?></td>
								</tr>
								<tr>
									<td>City :</td>
									<td> <?php echo $this->escape($this->user['country_name']) ?></td>
								</tr>
								<tr>
									<td>State :</td>
									<td> <?php echo $this->escape($this->user['state']) ?></td>
								</tr>
							</tbody>
						</table>

					 </div>
					</div>
					
					
			  </div>
			  
			  	<?php if ('contractor' != $this->role['role_name']): ?>
			   <div class="panel panel-primary">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						 Contractor Discussion
						</a>
					  </h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
					  <div class="panel-body">
							

					 </div>
					</div>
				</div>
				<?php endif;?>
				
				
				
				
				
				<?php if ('contractor' == $this->role['role_name']): ?>
				
					    <div class="panel panel-primary">
								<div class="panel-heading">
								  <h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
									Insurance
									</a>
								  </h4>
								</div>
								<div id="collapsefive" class="panel-collapse collapse">
										<div class="panel-body">
											<table class="table table-bordered">
												<tbody>
													<tr>
														<td>Insurance Policy Number :</td>
														<td> <?php echo $this->escape($this->contractorInfo['insurance_policy_number']) ?></td>
													</tr>
													<tr>
														<td>Insurance Policy Start :</td>
														<td> <?php echo $this->escape($this->contractorInfo['insurance_policy_start']) ?></td>
													</tr>
													<tr>
														<td>Insurance Policy Expiry :</td>
														<td> <?php echo $this->escape($this->contractorInfo['insurance_policy_expiry']) ?></td>
													</tr>
													<tr>
														<td>Insurance Listed Services Covered  :</td>
														<td> <?php echo $this->escape($this->contractorInfo['insurance_listed_services_covered']) ?></td>
													</tr>
												</tbody>
											</table>
										</div>
								</div>
						</div>
						
						
						  
						
						
						<div class="panel panel-primary">
								<div class="panel-heading">
								  <h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
										Drivers Licence
									</a>
								  </h4>
								</div>
								<div id="collapseseven" class="panel-collapse collapse">
										<div class="panel-body">
											<table class="table table-bordered">
												<tbody>
													<tr>
														<td>Drivers Licence Number :</td>
														<td> <?php echo $this->escape($this->contractorInfo['drivers_licence_number']) ?></td>
													</tr>
													<tr>
														<td>Drivers Licence Expiry :</td>
														<td> <?php echo $this->escape($this->contractorInfo['drivers_licence_expiry']) ?></td>
													</tr>
												</tbody>
											</table>
										</div>
								</div>
						</div>
						
					 
							  



						<?php if ($this->contractorVehicle): ?>			
									<div class="panel panel-primary">
											<div class="panel-heading">
											  <h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseight">
												Vehicle
												</a>
											  </h4>
											</div>
											<div id="collapseight" class="panel-collapse collapse">
													<div class="panel-body">
															<table class="table">
																<tbody>
																	<?php $counter = 1; ?>
																	<?php foreach ($this->contractorVehicle as $vehicle): ?>
																		<tr>
																			<td><?php echo $this->escape($counter); ?> )</td>
																			<td> Registration No. : <?php echo $this->escape($vehicle['registration_number']) ?></td>
																			<td>Make : <?php echo $this->escape(date('Y', $vehicle['make'])) ?></td>
																			<td>Model : <?php echo $this->escape($vehicle['model']) ?></td>
																			<td>Color : <?php echo $this->escape($vehicle['colour']) ?></td>
																		</tr>
																		<?php $counter++; ?>
																	<?php endforeach; ?>

																</tbody>
															</table>
													</div>
											</div>
									</div>   
						<?php endif;?>

						
				
					
						<?php if ($this->contractorOwner): ?>
						  <div class="panel panel-primary">
								<div class="panel-heading">
								  <h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsenine">
												Owner(s)
										</a>
								  </h4>
								</div>
								<div id="collapsenine" class="panel-collapse collapse">
										<div class="panel-body">
											<table class="table">
												<tbody>
													<?php $counter = 1; ?>
													<?php foreach ($this->contractorOwner as $owner): ?>
														<tr>
															<td><?php echo $this->escape($counter); ?> )</td>
															<td><a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $owner['contractor_owner_id']), 'contractorOwnerview')); ?>', '500', '650', 'Owner Details');"class="details_info_name"><?php echo $this->escape($owner['name']) ?></a></td>
														</tr>
														<?php $counter++; ?>
													<?php endforeach; ?>
												</tbody>
											</table>
										</div>
								</div>
						</div>   
						<?php endif;?>
						
						
					 <?php if ($this->contractorEmployee): ?>
							  <div class="panel panel-primary">
									<div class="panel-heading">
									  <h4 class="panel-title">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseten">
												Employee
											</a>
									  </h4>
									</div>
									<div id="collapseten" class="panel-collapse collapse">
											<div class="panel-body">
												<table class="table">
														<tbody>
															<?php $counter = 1; ?>
															<?php foreach ($this->contractorEmployee as $employee): ?>
																<tr>
																	<td><?php echo $this->escape($counter); ?> )</td>
																	<td><a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $employee['contractor_employee_id']), 'contractorEmployeeview')); ?>', '500', '650', 'Employee Details');"class="details_info_name"><?php echo $this->escape($employee['name']) ?></a></td>
																</tr>
																<?php $counter++; ?>
															<?php endforeach; ?>
														</tbody>
												</table>
											</div>
									</div>
							</div>   
						<?php endif;?>
							
						<?php if ($this->declarationOfEquipment): ?>	
						
									<div class="panel panel-primary">
											
											<div class="panel-heading">
											  <h4 class="panel-title">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseeleven">
														Equipment
													</a>
											  </h4>
											</div>
											
											<div id="collapseeleven" class="panel-collapse collapse">
												<div class="panel-body">
													<table class="table table-bordered">
														<tbody>
															<?php $counter = 1; ?>
															<?php foreach ($this->declarationOfEquipment as $equipment): ?>
																<tr>
																	<td><?php echo $this->escape($counter); ?> )</td>
																	<td><?php echo $this->escape($equipment['equipment']) ?></td>
																</tr>
																<?php $counter++; ?>
															<?php endforeach; ?>
														</tbody>
													</table>
												</div>
											</div>
									</div>
							<?php endif;?>
							
							
						
							
							
							<?php if ($this->declarationOfOtherApparatus): ?>
								<div class="panel panel-primary">
										
										<div class="panel-heading">
										  <h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsetowolev">
												Apparatus
												</a>
										  </h4>
										</div>
										
										<div id="collapsetowolev" class="panel-collapse collapse">
											<div class="panel-body">
												<table class="table table-bordered">
													<tbody>
														<?php $counter = 1; ?>
														<?php foreach ($this->declarationOfChemicals as $chemicals): ?>
															<tr>
																<td><?php echo $this->escape($counter); ?> )</td>
																<td><?php echo $this->escape($chemicals['chemicals']) ?></td>
															</tr>
															<?php $counter++; ?>
														<?php endforeach; ?>
													</tbody>
												</table>
											</div>
										</div>
								</div>
							<?php endif;?>
							
							<?php if ($this->declarationOfChemicals): ?>
								<div class="panel panel-primary">
										
										<div class="panel-heading">
										  <h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsethreeteen">
												Chemicals
												</a>
										  </h4>
										</div>
										
										<div id="collapsethreeteen" class="panel-collapse collapse">
											<div class="panel-body">
												<table class="table table-bordered">
													<tbody>
														<?php $counter = 1; ?>
														<?php foreach ($this->declarationOfChemicals as $chemicals): ?>
															<tr>
																<td><?php echo $this->escape($counter); ?> )</td>
																<td><?php echo $this->escape($chemicals['chemicals']) ?></td>
															</tr>
															<?php $counter++; ?>
														<?php endforeach; ?>
													</tbody>
												</table>
											</div>
										</div>
								</div>
							<?php endif;?>

				<?php endif;?>
	  
  
		</div>
	</div>


</div>

