
<div class="white-bg booking-view-button-header">
    <nav>
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle " aria-expanded="false">User Menu&nbsp<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <a href="<?php echo $this->escape($this->url(array(), 'myAccount')); ?>" class="contractor_a_link">My Account</a>

                </li>
                <li>
                    <a href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>" class="contractor_a_link"> My Messages</a>

                </li>
                <li>
                    <a href="<?php echo $this->escape($this->url(array(), 'changePassword')); ?>" class="contractor_a_link">Change My Password</a>

                </li>
                <li>
                    <a href="<?php echo $this->escape($this->url(array(), 'changeEmail')); ?>"  class="contractor_a_link">Change My Email</a>


                </li>
                <li>
                    <a href="javascript:;" class="contractor_a_link"  data-toggle="modal" data-target="#popupi" onclick="popupi('Change My Info','<?php echo $this->escape($this->url(array(), 'changeAccountInfo')); ?>');">Change My Info</a>

                </li> 
                <?php if ('contractor' == CheckAuth::getRoleName()): ?>
                    <li>
                        <a href="javascript:;" class="contractor_a_link" data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Contractor Info','<?php echo $this->escape($this->url(array(), 'modfyContractorInfo')); ?>');">Modify Contractor Info</a>

                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'contractorOwnerList')); ?>" class="contractor_a_link">Modify Owner (s)</a>


                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'contractorEmployeeList')); ?>" class="contractor_a_link">Modify Employee (s)</a>


                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'declarationOfEquipmentList')); ?>" class="contractor_a_link">Modify Equipment List</a>


                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'declarationOfChemicalsList')); ?>" class="contractor_a_link">Modify Chemicals List</a>



                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'declarationOfOtherApparatusList')); ?>" class="contractor_a_link">Modify Other Apparatus List</a>



                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'contractorVehicleList')); ?>" class="contractor_a_link">Modify Vehicle List</a>


                    </li>
                    <?php if (CheckAuth::checkCredential(array('settingsContractorGmailAdd', 'settingsContractorGmailEdit'))): ?>
                        <li>
                            <a href="javascript:;" class="contractor_a_link" data-toggle="modal" data-target="#popupi"  onclick="popupi('Modify Gmail Accounts','<?php echo $this->escape($this->url(array('contractor_id' => $this->user['user_id']), 'settingsContractorGmailAdd')); ?>');">Modify Gmail Accounts</a>
                        </li>
                    <?php endif; ?>
                <?php else: ?>
                    <li>
                        <a href="javascript:;" class="contractor_a_link"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify User Info','<?php echo $this->escape($this->url(array(), 'modfyUserInfo')); ?>');">Modify User Info</a>
                    </li>
                <?php endif; ?>

            </ul>
        </div>

    </nav>
</div>



<script type="text/javascript">
    
    function AddEditContractorInfo(url) {
        $(document).ready(function () {
            tb_show("", url + '?height=500&width=450');
        });
    }

    

    function AddGmailAccounts(url) {
        $(document).ready(function () {
            tb_show("", url + '?height=150&width=450');
        });
    }
</script>