<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <div class="form-group">
		<label class="col-lg-3">Country :</label>
		<div class="col-lg-9">
				<?php echo $this->form->getElement('country_id')->render(); ?>
		</div>
	</div>
	<div class="form-group" id="city_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
		<label class="col-lg-3">City : </label>
		<div class="col-lg-9 " id="city">
			<?php echo $this->form->getElement('city_id')->render(); ?>
		</div>
	</div>
           
          <div class="form-group">
			<div class="col-md-8 col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
    </table>
</form>
<script type="text/javascript">
    function getCities(){
        if($('#country_id').val()){
            $('#city_block').css('display','table-row');
            $('#city').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country_id').val()+'&MultiCheckbox=1',
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
    $(document).ready(function(){ 
        $("label[for='city_id-all']").css('font-weight','bold');
    
        $("#city_id-all").click(function(){
            var checked_status = this.checked;
        
            $("#city_id-cont input[type='checkbox']").each(function(){
                this.checked = checked_status;
            });
        });
    });
</script>