<div class="col-lg-12 wrapper-content">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsContractorServiceAvailabilityAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New City','<?php echo $this->escape($this->url(array('contractor_service_id' => $this->contractor_service_id), 'settingsContractorServiceAvailabilityAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New City
                        </div>
                    </a>
                </div> 
            <?php endif; ?>

            <div >
                <div class="button_actions">
                    <h5>    Search Cities </h5>
                </div>
                <form id="search_form" action="<?php echo $this->escape($this->url(array('contractor_service_id' => $this->contractor_service_id), 'settingsContractorServiceAvailabilityList')); ?>" method="GET" class="form-inline" role="form">
                            <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        
                    
                             <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span a_margin-responsive">or</span>
                             <button class="a_advance btn btn-white a_margin-responsive" type="reset" >Reset</button>
                                      
                    </form>
                    
            </div>
        </div>
</div>
<div class="col-lg-12 wrapper-content ibox float-e-margins">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title">
                        <h5> All Attributes</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array('contractor_service_id' => $this->contractor_service_id), 'settingsContractorServiceAvailabilityDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Contractor Service Availability?');">
                    
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsContractorServiceAvailabilityDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>City</b></td>
                                </tr>
                            </thead>
                            <tbody>
                               <?php $count = 0; ?>
                           
                           
                            <?php foreach ($this->data as $row) : ?>
                               
                                    <tr>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> 
                                              <div class="details_info_l">
                                            <span class="details_info_name"><?php echo $this->escape($row['city_name']) ?></span>    
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorServiceAvailabilityDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_service_id' => $this->contractor_service_id, 'id' => $row['id']), 'settingsContractorServiceAvailabilityDelete')); ?>" onclick="return confirm('are you sure you want to delete this Contractor Service Availability?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div></td>
                                         
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no Service.</div>
        <?php endif; ?>

    
    
</div>
<div style="clear:both"></div>




