<?php if ($this->inquiryDiscussions): ?>
    <div id="discussions" class="discussion_container">
        <?php foreach ($this->inquiryDiscussions as $inquiryDiscussion): ?>
            <div class="descession_cont">
                <div>
                    <?php echo $this->escape($inquiryDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($inquiryDiscussion['user']['role_name']); ?></span>)
                </div>
                <div style="font-size: 12px; color: grey;">
                    <?php echo $this->escape(getDateFormating( $inquiryDiscussion['created'])); ?>
                </div>
                <div class="padd_10">
                    <?php echo nl2br($this->escape($inquiryDiscussion['user_message'])); ?>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
<?php else: ?>
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Inquiry</p>
    </div>
<?php endif; ?>

<form method="POST" id="discussion_form" onsubmit="sendInquiryDiscussion();return false;">
    <div style="clear: both;">
        <div id="discussion">Discussion <span class="required_discussion">*</span></div><div id="errMsg">&ensp;</div>
    </div>
    <table style="width: 100%">
        <tr>
            <td style="width: 85%">
                <div>
                    <textarea cols="" rows="" id="disc" name="discussion" class="descussion_txtarea"></textarea>
                </div>
            </td>
            <td style="width: 15%; text-align: center;" id="button_cont">
                <a onclick="$('#discussion_form').submit(); return false;"> 
                    <div class="discussion_submit">
                        Send  
                    </div>
                </a>
                <a onclick="getData(); return false;">
                    <div class="discussion_refresh">
                        Refresh  
                    </div>
                </a>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function sendInquiryDiscussion(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'submitInquiryDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
                if(msg.success == 1){
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
                return_button();
            }
        });   
    }
    
    setTimeout('scrollDown()', 1);
    
    var count = 0;
    function getData(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'allInquiryDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
                if(count != msg.count){
                    
                    $('#discussions').html('');
                    $.each(msg.discussions, function(index, discussion) {
                        $('#discussions').append(
                        '<div class="descession_cont">'+
                            '<div>'+discussion.user.username+' (<span class="red_color">'+discussion.user.role_name+'</span>)'+'</div>'+
                            '<div  style="font-size: 12px; color: grey;">'+discussion.discussion_date+'</div>'+
                            '<div class="padd_10">'+discussion.user_message+'</div>'+
                            '</div>'
                    );
                    });
                    
                    scrollDown();
                }
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                return_button();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<a onclick="$(\'#discussion_form\').submit(); return false;"> '+
            '<div class="discussion_submit">'+
            'Send'+
            '</div>'+
            '</a>'+
            '<a onclick="getData(); return false;">'+
            '<div class="discussion_refresh">'+
            'Refresh'+
            '</div>'+
            '</a>');
    }
</script>