<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    New Message
                </div>
                <div class="clearb"></div>
            </div>
            <div class="calender_cont">
                <form action="<?php echo $this->escape($this->form->getAction()); ?>" class="fform" id="fmAdd" method="post">
                    <input type="hidden" name="inquiry_id" value="<?php echo $this->escape(isset($this->event['inquiry_id']) ? $this->event['inquiry_id'] : "" ) ?>" />
                    <input type="hidden" name="toEstimate" value="<?php echo $this->escape(isset($this->toEstimate) ? $this->toEstimate : 0 ) ?>" />
                    <div class="calender_slct_customer_cont">
                        <div class="calender_slct_customer_txt">Reference Customer</div>
                        <div class="calender_slct_customer_dropdown">
                            <div>
                                <div class="float_l_r">
                                    <div>
                                        <?php echo $this->form->getElement('auto_customer_id')->render(); ?>
                                        <input type="hidden" id="customer_id" name="customer_id" class="text_input required" value="<?php echo $this->escape(isset($this->event['customer_id']) && !empty($this->event['customer_id']) ? $this->event['customer_id'] : '') ?>"/>
                                    </div>
                                    <div>
                                        <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                                            <div class="new_customer_btn float_l_r"><a href="javascript:;" onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');">new customer</a></div>
                                        <?php endif; ?>
                                        <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                                            <div class="new_customer_btn float_l_r margin_l_10" id="edit_customer" style="display: <?php if (isset($this->event['customer_id']) && $this->event['customer_id']): ?>block<?php else: ?>none<?php endif; ?>;"><a href="javascript:;" onclick="editCustomer();">edit customer</a></div>
                                        <?php endif; ?>
                                        <div style="clear: both;"></div>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="calender_slct_customer_cont">
                        <div class="calender_slct_customer_txt">To Employee</div>
                        <div class="calender_slct_customer_dropdown">
                            <div>
                                <div class="float_l_r">
                                    <div>
                                        <?php echo $this->form->getElement('employee_id')->render(); ?>
                                    </div>

                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="calender_slct_customer_cont">
                        <div class="calender_info_txt_cont">Message</div>
                        <div class="calender_txt_input">
                            <?php echo $this->form->getElement('comment')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                </form>
            </div>
        </td>
        <td class="right_side">
            <div class="right_side_cont">

                <div class="btn_cont" id="save_btn_cont">
                    <a id="Savebtn"  href="javascript:;" onclick="$('#fmAdd').submit();" class="btn_a">
                        <div class="text_pos">
                            Save
                        </div>
                    </a>
                </div>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">

    // auto complete customer search
    $(function() {
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $("#edit_customer" ).css('display','none');
             
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
                showEditCustomer();
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });
    
    
  
</script>