<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Messages
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <div>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                        <tr class="bg_table">
                            <td></td>
                            <td><b>Customer</b></td>
                            <td><b>From</b></td>
                            <td style="width: 600px;"><b>Message</b></td>
                            <td style="width:160px;"><b><?php echo SortOrder::generate_link('created', 'created') ?></b></td>
                        </tr>

                        <?php $count = 0; ?>
                        <?php
                        ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                    if ($count % 2 != 0) {
                        echo $this->escape('tr_cont_1');
                    } else {
                        echo $this->escape('tr_cont_2');
                    }
                            ?>">
                                <td>
                                    <div class="details_info_l">
                                        <div style="font-size: 14px; padding-left: 10px;">
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'missedCallView')); ?>" class="a_black">
                                                <?php if (!empty($row['is_read'])): ?>
                                                    <img border="0" src="/pic/read_message.png">
                                                <?php else: ?>
                                                    <img border="0" src="/pic/unread_message.png">
                                                <?php endif; ?>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <?php echo $this->escape($row['customer_name']) ?>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <?php echo $this->escape($row['created_by']['username']) ?>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'missedCallView')); ?>" class="a_black">
                                            <?php
                                            echo $this->escape(substr($row['comment'], 0, 50));
                                            echo $this->escape((strlen($row['comment']) > 50 ? '...' : ''));
                                            ?>
                                        </a>
                                    </div>
                                </td>
                                <td class="details_info_l" >
                                    <div style=" margin: 10px 20px 5px 0px; font-size: 12px;">
                                        <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>

                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                </div>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Messages</div>
            <?php endif; ?>
        </td>
    </tr>
</table>
