<form id="form_convert_to_estimate" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="submit_to_estimate('<?php echo $this->escape($this->form->getAction()); ?>','#form_convert_to_estimate','#TB_ajaxContent');return false;">
    <table>
        <tr>
            <td class="input_type" valign="top"> <div class="margin_t_5">To Follow:</div></td>
            <td><div class="margin_t_5"><?php echo ($this->form->getElement('to_follow')->render()); ?></div></td>
        </tr>
        <tr>
            <td style="font-weight: bold; width: 230px;"valign="top">Active:</td>
            <td><?php echo $this->form->getElement('is_to_follow')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top"> </td>
            <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
        </tr>
    </table>
</form>

<script  type="text/javascript">

    $(document).ready(function() {
        $('#to_follow').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    });
    
    function submit_to_estimate(url,form,content){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize(),
            success: function(msg) {
                if(msg == '1') {
                    window.location='<?php echo $this->escape($this->url(array(), 'estimates')); ?>'
                } else {
                    $(content).html(msg);
                }
            }
        });
    }
</script>