<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    All Estimates
                </div>
                <div class="sort_booking_cont">
                    <?php if (CheckAuth::checkCredential(array('estimates'))): ?>
                        <?php
                        $filterLink = array();
                        if ($this->sub_menu == 'my_estimates') {
                            $filterLink['my_estimates'] = true;
                        }
                        ?>
                        <?php echo FilterLink::generate_link('all', array_merge($filterLink, array('fltr' => array('estimate_type' => 'all'))), isset($this->filters['estimate_type']) && $this->filters['estimate_type'] == 'all', true); ?>
                        |
                        <?php echo FilterLink::generate_link('draft', array('fltr' => array('estimate_type' => 'draft')), isset($this->filters['estimate_type']) && $this->filters['estimate_type'] == 'draft', true); ?>
                        |
                        <?php echo FilterLink::generate_link('booking', array('fltr' => array('estimate_type' => 'booking')), isset($this->filters['estimate_type']) && $this->filters['estimate_type'] == 'booking', true); ?>
                        |
                        <?php echo FilterLink::generate_link('to follow', array('sort' => 'to_follow', 'method' => 'asc', 'fltr' => array('to_follow' => true, 'estimate_type' => 'draft')), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true); ?>
                        <?php if (CheckAuth::checkCredential(array('estimateFilterLabel'))): ?>
                            <input type="button" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'filterEstimateLabel')); ?>','250','200','Estimates Label','<?php if ($this->sub_menu == 'my_estimates') { ?>my_estimates=true<?php } ?>');" value="Filter By Label(s)"/>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form method="POST" id="form" onsubmit="return confirm('Are you sure you want to delete this Estimate ?');">
                    <div class="button_actions">
                        <?php if (!$this->isDeleted): ?>
                            <div class="button_pos_l">
                                <?php if (CheckAuth::checkCredential(array('estimateDelete'))): ?>
                                    <div class="button_pos_l">
                                        <input type="button" onclick="doEstimateDelete('<?php echo $this->escape($this->url(array(), 'estimateDeleteBtn')); ?>');" value="Delete"/>
                                    </div>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                        <?php if (isset($this->filters['to_follow']) && $this->filters['to_follow'] == true): ?>
                            <div style="font-size: 12px; float: right; margin-top: 3px;">
                                <?php echo FilterLink::generate_link('all', array('sort' => 'to_follow', 'method' => 'asc', 'fltr' => array('to_follow' => true)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true && !isset($this->filters['to_follow_date']), true); ?>
                                |
                                <?php echo FilterLink::generate_link('past', array('fltr' => array('to_follow_date' => 'past')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'past'); ?>
                                |
                                <?php echo FilterLink::generate_link('today', array('fltr' => array('to_follow_date' => 'today')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'today'); ?>
                                |
                                <?php echo FilterLink::generate_link('future', array('fltr' => array('to_follow_date' => 'future')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'future'); ?>
                            </div>
                        <?php endif; ?>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <?php if (!$this->isDeleted): ?><td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td><?php endif; ?>
                                <td style="width: 100px;"><?php echo SortOrder::generate_link('Estimate#', 'created') ?></td>
                                <td class="details"><b>Details</b></td>
                                <td><b>City</b></td>
                                <td><b>Technician</b></td>
                                <td><b>Users</b></td>
                                <td class="head_title"><b>Amount</b></td>
                                <td><b>Contact History</b></td>
                            </tr>
                            <?php
                            $modelBookingAddress = new Model_BookingAddress();
                            $modelUser = new Model_User();
                            $modelClaimOwner = new Model_ClaimOwner();
                            $loggedUser = CheckAuth::getLoggedUser();
                            ?>
                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">

                                    <?php if (!$this->isDeleted): ?>
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                            </div>
                                        </td>
                                    <?php endif; ?>
                                    <td>
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('estimateView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'estimateView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['estimate_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span class="details_info_name"><b><?php echo $this->escape($row['estimate_num']) ?></b></span>
                                                <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['estimate_type']) {
                                                case 'draft':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'booking':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                <?php echo $this->escape($row['estimate_type']); ?>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $row['isAccepted']): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <?php if (!empty($row['have_attachment'])): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"><img src="/pic/icons/attach.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('estimateView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'estimateView')); ?>" class="a_link_black"><?php echo $this->escape($row['booking']['title']) ?></a>    
                                                <?php else: ?>
                                                    <span class="span_black"><?php echo $this->escape($row['booking']['title']) ?></span>    
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                            </div>

                                            <div id="address_list">
                                                <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $bookingAddress): ?>
                                                    <span class="time_start_color" >Address :</span>
                                                    <?php if ($row['isAccepted']): ?>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                            <?php echo $this->escape($lineAddress); ?>
                                                        </a>
                                                    <?php else: ?>
                                                        <?php $lineAddress = get_some_details_line_address($bookingAddress); ?>
                                                        <?php echo $this->escape($lineAddress); ?>
                                                    <?php endif; ?> 
                                                <?php endif; ?>
                                            </div>
                                            <?php if ($row['isAccepted']): ?>
                                                <div id="city_list_inquiry">
                                                    <?php if (!empty($row['customer_name'])): ?>
                                                        <div>
                                                            <span style="color: #A1A1A1;">Customer :</span>
                                                            <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                                <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black"><?php echo $this->escape($row['customer_name']); ?></a>
                                                            <?php else: ?>
                                                                <?php echo $this->escape($row['customer_name']) ?>
                                                            <?php endif; ?>
                                                        </div>   
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['customer_commercial_info']['business_name'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Business Name :</span> <?php echo $this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name'])) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['email1'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email1']) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['email2'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email2']) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['email3'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email3']) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['mobile1'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile1']) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['mobile2'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile2']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['mobile3'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile3']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['phone1'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone1']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['phone2'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone2']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['phone3'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone3']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['fax'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Fax :</span> <?php echo $this->escape($row['customer']['fax']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['po_box'])): ?>
                                                        <div><span style="color: #A1A1A1;" >PO Box :</span> <?php echo $this->escape($row['customer']['po_box']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['customer_contacts'])): ?>
                                                        <?php foreach ($row['customer']['customer_contacts'] as $customerContact): ?>
                                                            <div><span style="color: #A1A1A1;" ><?php echo $this->escape($customerContact['contact_label']) ?> :</span> <?php echo $this->escape($customerContact['contact']) ?></div>
                                                        <?php endforeach; ?>
                                                    <?php endif; ?>

                                                </div>
                                            <?php endif; ?>
                                            <?php if (!empty($row['booking']['to_follow'])): ?>
                                                <span class="time_start_color">Deferred To : </span> <?php echo $this->escape(getDateFormating($row['booking']['to_follow'])) ?> 
                                            <?php endif; ?>
                                        </div>
                                        <div class="details_info_l">
                                            <?php
                                            $actions = array();

                                            if ($this->isDeleted) {
                                                if (CheckAuth::checkCredential(array('estimateUndelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateUndelete'))}','Are you sure you want to UnDelete this Estimate ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">UnDelete</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('estimateDeleteForEver'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateDeleteForEver'))}','Are you sure you want to Delete this Estimate For Ever ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete For Ever</a>';
                                                }
                                            } else {

                                                if ($row['estimate_type'] != 'booking') {

                                                    if (CheckAuth::getRoleName() == 'contractor') {
                                                        if ($row['not_accepted']) {
                                                            $popupConfig = "'{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}','200','400'";
                                                            $actions[] = '<a class="a_accept"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Accept</a>';
                                                        }

                                                        if ($row['not_accepted_or_rejected']) {
                                                            $popupConfig = "'{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}','200','400'";
                                                            $actions[] = '<a class="a_reject"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Reject</a>';
                                                        }
                                                    }

                                                    if (CheckAuth::checkCredential(array('bookingEdit')) && $row['isAccepted']) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt">Edit</a>';
                                                    }

                                                    // if (CheckAuth::checkCredential(array('convertBookingToInvoice'))) {
                                                    //  $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                                    //  }

                                                    if (CheckAuth::checkCredential(array('convertEstimateToBooking')) && $row['isAccepted']) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertEstimateToBooking')) . '" class="details_info_opt">Convert To Booking</a>';
                                                    }


                                                    if (CheckAuth::checkCredential(array('bookingEdit'))) {
                                                        if (isset($row['booking']['is_to_follow']) && $row['booking']['is_to_follow']) {
                                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['id']), 'removeFollowUpEstimate')) . '" class="details_info_opt">Remove Follow Up</a>';
                                                        } else {
                                                            $popupConfig = "'{$this->escape($this->url(array('id' => $row['id']), 'followUpEstimate'))}','100','400','Follow Estimate'";
                                                            $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Follow Up</a>';
                                                        }
                                                    }


                                                    // Find Availability
                                                    $findAvailabilityParams = array();
                                                    $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                    $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                    $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                    $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                    $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                    $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                    $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                    $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                                    $findAvailabilityParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                                    foreach ($row['services'] as $service) {
                                                        $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                                    }
                                                    $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                                    $popupConfig = "'{$this->escape($this->url(array(), 'findAvailability'))}','500','1000','Find Availability','{$findAvailabilityParams}'";
                                                    $actions[] = '<a   href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Find Availability</a>';

                                                    //Nearest Booking
                                                    $nearestBookingParams = array();
                                                    $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                    $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                    $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                    $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                    $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                    $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                    $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                                    $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking']['booking_start'])));
                                                    $nearestBookingParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                                    $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                    $nearestBookingParams = implode("&", $nearestBookingParams);
                                                    $popupConfig = "'{$this->escape($this->url(array(), 'getRelatedAddress'))}','500','900','Nearest Bookings','{$nearestBookingParams}'";
                                                    $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Nearest Bookings</a>';


                                                    if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                                        $popupConfig = "'{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}','270','500'";
                                                        $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Add Complaint</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('estimateDiscussion'))) {
                                                        $popupConfig = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateDisscussion'))}','470','700','Estimate Discussion'";
                                                        $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Estimate Discussion</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('estimateLabel'))) {
                                                        $popupConfig = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateSelectLabel'))}','250','200','Estimate Label'";
                                                        $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('attachment'))) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('sendAdvertisingEmail'))) {
                                                        $popupConfig = "'{$this->escape($this->url(array('id' => $row['id']), 'sendAdvertisingEmail'))}','510','800','Advertising Email'";
                                                        $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Advertising Email</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('claimOwner')) && $row['booking']['created_by'] != $loggedUser['user_id']) {
                                                        $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                                        if (empty($claimOwner)) {
                                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                                        }
                                                    }
                                                }

                                                if (CheckAuth::checkCredential(array('estimateDelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateDelete'))}','Are you sure you want to delete this Estimate ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                                }
                                            }

                                            $line_actions = array_slice($actions, 0, 3);
                                            $drop_down_actions = array_slice($actions, 3);
                                            ?>

                                            <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                            <?php if ($drop_down_actions): ?>
                                                <a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="menu_<?php echo $this->escape($row['id']) ?>"><span class="ui-icon ui-icon-triangle-1-s"></span>Actions</a>
                                                <div id="search-engines" class="hidden">
                                                    <ul>
                                                        <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                            <li>
                                                                <?php echo $drop_down_action; ?>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    </ul>
                                                </div>
                                                <div class="clearb"></div>
                                                <script>
                                                    $(function(){
                                                        // MENU	
                                                        $('#menu_<?php echo $this->escape($row['id']) ?>').fgmenu({ 
                                                            content: $('#menu_<?php echo $this->escape($row['id']) ?>').next().html(), // grab content from this page
                                                            showSpeed: 100 
                                                        });
                                                    });
                                                </script>
                                            <?php endif; ?>
                                        </div>
                                        <div class="details_info_l" style="width: 400px;" id="label_<?php echo $row['id'] ?>">
                                            <?php foreach ($row['labels'] as $label): ?>
                                                <div class="label_box">
                                                    <?php echo $this->escape($label); ?> 
                                                </div>
                                            <?php endforeach; ?>
                                        </div>  
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['city']['city_name']); ?>    
                                        </div>
                                    </td>
                                    <td>
																	
                                        <div class="details_info_l">
										
                                            <?php 
											
											$id=$row['booking_id'];
											
											foreach ($row['contractors'] as $contractor_id => $contractor_name){ ?>
                                                <?php $user = $modelUser->getById($contractor_id); ?>
                                                <div>
												<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $this->escape(ucwords($user['username']) . ($contractor_name ? ' - ' . ucwords($contractor_name) : '')); ?></a>
                                    			</div>
                                            <?php } ?>
                                        </div>
										<div style="text-align: center; text-color=#ffff; background-color:<?php if ($row['booking']['visited']): ?>#7a367a<?php else: ?>transparent<?php endif; ?>;">
										<?php if($row['booking']['visited']){ ?>
												<font color="ffffff"><?php echo 'Quoted Onsite'; ?></font>
												
										<?php }  ?>
										
										</div>
                                    </td>
                                    <td>
                                        <div class="details_info_l" >
                                            <?php foreach ($row['booking_users'] as $booking_user) : ?>
                                                <div style ="float: left; margin: 2px; padding: 2px 4px; background-color:#DDDDDD;">
                                                    <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
                                                </div> 
                                            <?php endforeach; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_r">
                                        <div class="details_info_l">
                                            <?php
                                            $modelBooking = new Model_Booking();
                                            $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                                            ?>
                                            $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div  id = "contact_history_<?php echo $this->escape($row['booking_id']); ?>" class="details_info_l">
                                            <?php
                                            $inquiryContactHistory = array();
                                            if (!empty($row['booking']['original_inquiry_id'])) {
                                                $modelInquiryReminder = new Model_InquiryReminder();
                                                $inquiryContactHistory = $modelInquiryReminder->getContactHistory($row['booking']['original_inquiry_id']);
                                            }
                                            ?>
                                            <?php if ($inquiryContactHistory): ?>
                                                <?php foreach ($inquiryContactHistory as $reminder): ?>
                                                    <div style = "font-size: 12px;">
                                                        <?php $user = $modelUser->getById($reminder['user_id']); ?>
                                                        <a href="javascript:;" style="color:black;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'inquiryReminderView')); ?>','180','400','ADD Note');" class="details_info_opt"><?php echo $this->escape($user['username'] . ' - ' . getDateFormating($reminder['created'])); ?></a>
                                                        <?php if (CheckAuth::checkCredential(array('inquiryReminderDelete'))): ?>
                                                            <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $reminder['inquiry_id'], 'reminder_id' => $reminder['id']), 'inquiryReminderDelete')); ?>');" ><img height="10" width="10" src="/pic/remove.png" border="0" ></a>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                            <?php if (isset($row['booking_contact_history']) && $row['booking_contact_history']): ?>
                                                <?php foreach ($row['booking_contact_history'] as $contactHistory): ?>
                                                    <div style = "font-size: 12px;">
                                                        <?php $user = $modelUser->getById($contactHistory['user_id']); ?>
                                                        <a href="javascript:;" style="color:black;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $contactHistory['id']), 'bookingContactHistoryView')); ?>','180','400','ADD Note');" class="details_info_opt"><?php echo $this->escape($user['username'] . ' - ' . getDateFormating($contactHistory['created'])); ?></a>
                                                        <?php if (CheckAuth::checkCredential(array('bookingContactHistoryDelete'))): ?>
                                                            <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $row['booking_id'], 'contact_history_id' => $contactHistory['id']), 'bookingContactHistoryDelete')); ?>');" ><img height="10" width="10" src="/pic/remove.png" border="0" ></a>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('bookingContactHistoryAdd'))): ?>
                                                <div style = "font-size: 12px;">
                                                    <a href="javascript:;"  onclick="showPopupWindow('<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingContactHistoryAdd')); ?>','180','400','Add Note');" class="details_info_opt">Add Note</a>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div class="button_actions">
                    <?php if (isset($this->filters['to_follow']) && $this->filters['to_follow'] == true): ?>
                        <div style="font-size: 12px; float: right; margin-top: 3px;">
                            <?php echo FilterLink::generate_link('all', array('sort' => 'to_follow', 'method' => 'asc', 'fltr' => array('to_follow' => true)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true && !isset($this->filters['to_follow_date']), true); ?>
                            |
                            <?php echo FilterLink::generate_link('past', array('fltr' => array('to_follow_date' => 'past')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'past'); ?>
                            |
                            <?php echo FilterLink::generate_link('today', array('fltr' => array('to_follow_date' => 'today')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'today'); ?>
                            |
                            <?php echo FilterLink::generate_link('future', array('fltr' => array('to_follow_date' => 'future')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'future'); ?>
                        </div>
                    <?php endif; ?>
                    <div style="clear: both;"></div>
                </div>
                <div style="" class="noRowsMessageDIV">There are no <?php echo $this->escape((!empty($this->filters['estimate_type']) ? ucfirst($this->filters['estimate_type']) : '')); ?> Estimates.
                    <div style="font-size:12px; margin-top:6px;">
                        <a href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>">View all Estimates</a>
                    </div>
                </div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <?php /*
              <td class="right_side" style="display: <?php echo isset($this->filters['submit']) && $this->filters['submit'] == 'on' ? 'table-cell' : 'none'; ?>;">
             */ ?>
            <div class="right_side_cont">
                <div class="btn_cont">
                    <?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                        <a href="<?php echo $this->escape($this->url(array(), 'estimateAdd')); ?>" class="btn_a">
                            <div class="text_pos">
                                New Estimate
                            </div>
                        </a>
                    <?php endif; ?>
                </div>

                <?php echo $this->render('index/filters.phtml'); ?>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    function AddComplaint(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=270&width=500');
        });
    }
    
    function doEstimateDelete(url){
        $('#form').attr("action", url);
        $('#form').submit();
    }
</script>
