<?php
$loggedUser = CheckAuth::getLoggedUser();
$modelUser = new Model_User();
$modelClaimOwner = new Model_ClaimOwner();
?>   
<table class="table">
    <tr>
        <td class="left_side">
            <div>
				
                <div class="details_info_l floatLeft" style="padding-left:  20px;">
                    <?php if (isset($this->estimateParams['labels'])): ?>
                        <?php foreach ($this->estimateParams['labels'] as $label): ?>
                            <div class="label_box">
                                <?php echo $this->escape($label); ?> 
                            </div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
                <div class="clearb"></div>
            </div>

            <div>
                
                <div class="customer_info_container" >
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
							<tr>
								<td colspan="2" height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
										<b> Estimate Details: </b>
									</div>
								</td>
							</tr>
                            <tr>
                                <td class="labelText"><b>Estimate#</b></td>
                                <td class="valueText">
                                    <span><b><?php echo $this->escape($this->estimateParams['estimate_num']) ?></b></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>Title</b></td>
                                <td class="valueText"><?php echo wordwrap($this->escape($this->estimateParams['booking']['title']), 70, "<br />\n"); ?></td>
                            </tr>
                            <tr>
                                <td class="labelText" style="width: 110px;"><b>Estimate Address</b></td>
                                <td class="valueText">
                                    <a class="a_link" href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking']['booking_id']), 'bookingLocation')); ?>"> 
                                        <?php echo wordwrap($this->escape(get_line_address($this->estimateParams['booking_address'])), 70, "<br />\n"); ?>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>Date</b></td>
                                <td class="valueText"><?php echo $this->escape(getDateFormating($this->estimateParams['created'], false)) ?></td>
                            </tr>
                            <tr>
                                <td class="labelText"><b>Estimate Type</b></td> 
                                <td class="valueText">
                                    <?php echo $this->escape(ucfirst($this->estimateParams['estimate_type'])) ?>
                                </td>                               
                            </tr>
                            <tr>
                                <td class="labelText"><b>Owner</b></td>
                                <?php $owner = $modelUser->getById($this->estimateParams['booking']['created_by']); ?>
                                <td class="valueText">
                                    <div style="float: left;"><?php echo $this->escape(ucwords($owner['username'])); ?></div>
                                    <?php if (CheckAuth::checkCredential(array('claimOwner')) && $this->estimateParams['booking']['created_by'] != $loggedUser['user_id']) : ?>
                                        <div style="padding-left: 10px; float: left">                                       
                                            <?php $claimOwner = $modelClaimOwner->getByBookingAndUserId($this->estimateParams['booking']['booking_id'], $loggedUser['user_id']); ?>
                                            <?php if (empty($claimOwner)) : ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking']['booking_id']), 'sendClaimOwner')); ?>" class="details_info_opt">Claim Ownership</a>
                                            <?php else : ?>
                                                <b>Claim Pending</b>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                    <div class="clearBoth"></div>
                                </td>
                            </tr>
                            <?php if (!empty($this->estimateParams['booking']['to_follow'])): ?>
                                <tr>
                                    <td class="labelText">
                                        <div><b>Deferred To</b> </div>
                                        <div style="margin-top: 10px;"><b>Deferred Status</b> </div>
                                    </td> 
                                    <td class="valueText">
                                        <div id="follow_date_container_<?php echo $this->escape($this->estimateParams['booking_id']) ?>">
                                            <div id="follow_date_value_<?php echo $this->escape($this->estimateParams['booking_id']) ?>" style="float: left; width: 165px;">
                                                <?php echo $this->escape(getDateFormating($this->estimateParams['booking']['to_follow'])) ?>
                                            </div>
                                            <div  id="follow_date_button_<?php echo $this->escape($this->estimateParams['booking_id']) ?>" style="float: left; margin-left: 5px;">
                                                <a href="javascript:;" onclick="change_follow_date(<?php echo $this->escape($this->estimateParams['booking_id']) ?>)" class="a_link">Edit</a>
                                            </div>
                                            <div class="clearBoth"></div>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <?php if (!empty($this->estimateParams['booking']['is_to_follow'])): ?>
                                                <div style="float: left;">
                                                    Active
                                                </div>
                                                <div style="float: left; margin-left: 10px;">
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'removeFollowUpEstimate')) ?>" class="a_link">Remove Follow UP</a>
                                                </div>
                                            <?php else: ?>
                                                <div style="float: left;">
                                                    Not Active
                                                </div>
                                                <div style="float: left; margin-left: 10px;">
                                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'followUpEstimate')) ?>','100','400','Follow Estimate')" class="a_link">Add Follow UP</a>
                                                </div>
                                            <?php endif; ?>
                                            <div class="clearBoth"></div>
                                        </div>
                                    </td>                               
                                </tr>
                            <?php endif; ?>
                        </tbody>
                    </table>
                </div>
					
				<?php if($this->questions){ ?>
				
				<div class="customer_info_container" style="float: right; margin-top: 0px;"  >
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td colspan="2" height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Update Booking Questions: </b>
									</div>
								</td>
							</tr>
							<?php foreach($this->questions as $question){
							?>
							<tr>
								<td class="labelText"><b><?php echo $question['question_text']; ?></b></td>
								
								<td class="valueText"><b><?php echo $question['answer_text']? $question['answer_text'] : 'No Answer' ; ?></b></td>
							</tr>
						
							<?php
							}
							?>
							
						</tbody>
					</table>
				</div>					
				<?php } ?>
				
				
                <div class="clearBoth"></div>
				<div class="details_info_container" style="float:left; margin-top:30px;" >
                    <?php
                    $customerView = new Zend_View();
                    $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                    $customerView->customer_id = $this->estimateParams['booking']['customer_id'];
                    $customerView->allDetails = $this->estimateParams['isAccepted'];
                    echo $customerView->render('customer_info.phtml');
                    ?>
                </div> 
				
            </div>

			
			<?php if(nl2br($this->escape($this->estimateParams['booking']['description']))){ ?>
					<table width="100%" cellspacing="0" cellpadding="0" border="0" style="float:left; padding-top:30px;">
						<tbody>
							<tr>
								<td height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Description: (Company Use Only) </b>
									</div>
								</td>
							</tr>
							<tr>
								<td class="defaultInnerBg padding10 txt-lft">
								<?php
									$description = wordwrap($this->estimateParams['booking']['description'], 90, "\n", true);
								?>
									<?php echo nl2br($this->escape($description)); ?>
								</td>
							</tr>
						</tbody>
					</table>
			<?php } ?>
			 <div class="clearBoth"></div>
            <div class="book_view_info_cont" style="margin-top:30px;" >
 
                    <div>
                        <?php
                        $modelBooking = new Model_Booking();
                        $loggedUser = CheckAuth::getLoggedUser();
                        ?>
                        <?php if ($this->bookingServices): ?>
                            <?php
                            $modelBooking = new Model_Booking();
                            $modelServices = new Model_Services();
                            $modelServiceAttribute = new Model_ServiceAttribute();
                            $modelUser = new Model_User();
                            $modelContractorInfo = new Model_ContractorInfo();
                            $modelUserInfo = new Model_UserInfo();
                            $modelAuthRole = new Model_AuthRole();
                            $modelServiceAttributeValue = new Model_ServiceAttributeValue();
                            $modelAttributeType = new Model_AttributeType();
                            $modelAttributeListValue = new Model_AttributeListValue();
                            $modelServiceAttributeValueTemp = new Model_ServiceAttributeValueTemp();
                            ?>
                            <table class="book_view_info_table_cont" >
                                <tr class="book_view_info_table_head" style="background-color: #A1A1A1;">
                                    <td class="txt_white">DESCRIPTION</td>
                                    <td class="txt_white" width="110">UNIT PRICE</td>
                                    <td class="txt_white" width="110">QTY</td>
                                    <td class="txt_white" width="90">TOTAL</td>
                                </tr>
                                <?php foreach ($this->bookingServices as $key => $bookingService): ?>
                                    <?php
                                    $serviceId = $bookingService['service_id'];
                                    $clone = $bookingService['clone'];
                                    $bookingId = $bookingService['booking_id'];
                                    $contractorId = $bookingService['contractor_id'];
                                    $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                                    $serviceDetails = $modelServices->getById($serviceId);
                                    $user = $modelUser->getById($contractorId);
                                    $userInfo = 0;
                                    $contractorInfo = 0;
                                    $roleName = $modelAuthRole->getRoleName($user['role_id']);
                                    ?>
                                    <?php if ('contractor' == $roleName): ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                                    <?php else: ?>
                                        <?php $userInfo = $modelUserInfo->getByUserId($contractorId) ?>
                                    <?php endif; ?>
                                    <tr style="border-bottom: 1px solid #A1A1A1; background-color:<?php echo $this->escape(($contractorId != $loggedUser['user_id']) && !$modelBooking->checkCanEditBookingDetails($bookingId) ? 'rosybrown' : (($key % 2 != 0) ? '#ECECEC' : '')) ?>;">
                                        <td style="text-align: left;">
                                            <div style="clear: both;">
                                                <span style="float: left;">
                                                    &#187; <b>Technician :</b>&ensp;
                                                </span>
                                                <span style="float: left; width: 80%;">
                                                    <?php echo $this->escape($userInfo ? $userInfo['first_name'] . ' ' . $userInfo['last_name'] : (ucwords($user['username']) . ($contractorInfo ? ' - ' . ucwords($contractorInfo['business_name']) : ''))) ?>
                                                </span>
                                            </div>
                                            <div style="clear: both;">
                                                <span style="float: left;">
                                                    &#187; <b>Service :</b>&ensp;
                                                </span>
                                                <span style="float: left; width: 80%;">
                                                    <?php echo $this->escape($serviceDetails['service_name']); ?>
                                                </span>
                                            </div>
                                            <?php if ($this->priceArray[$serviceAndClone] <= $serviceDetails['min_price']): ?>
                                                <div style="clear: both;">
                                                    <span style="float: left;">
                                                        &#187; <b>Min Price :</b>&ensp;
                                                    </span>
                                                    <span style="float: left; width: 80%;">
                                                        <?php echo $this->escape($serviceDetails['min_price']); ?>
                                                    </span>
                                                </div>
                                            <?php endif; ?>
                                            <?php
                                            $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);

                                            $unit_price = 0;
                                            $qty = 0;

                                            foreach ($serviceAttribute as $attribute) {
                                                //  $serviceAttribute = $modelServiceAttribute->getByAttributeIdAndServiceId($attribute['attribute_id'], $attribute['service_id']);

                                                if (!empty($this->isTemp)) {
                                                    $value = $modelServiceAttributeValueTemp->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute['service_attribute_id'], $clone);
                                                } else {
                                                    $value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute['service_attribute_id'], $clone);
                                                }
                                                switch ($attribute['attribute_name']) {
                                                    case 'Quantity':
                                                        $qty = $value['value'];
                                                        break;
                                                    case 'Price':
                                                        $unit_price = $value['value'];
                                                        break;
                                                    default :
                                                        if ($value['value']) {
                                                            $att = $modelAttributeType->getById($attribute['attribute_type_id']);
                                                            ?>
                                                            <div style="clear: both;">
                                                                <span style="float: left;">
                                                                    &#187; <b><?php echo $this->escape($attribute['attribute_name']); ?> :</b>&ensp;
                                                                </span>
                                                                <span style="float: left; width: 80%;">
                                                                    <?php
                                                                    if ($att['is_list']) {
                                                                        if ($value['is_serialized_array']) {
                                                                            $values = unserialize($value['value']);
                                                                            foreach ($values as $value) {
                                                                                $attributeListValue = $modelAttributeListValue->getById($value);
                                                                                if ($attributeListValue['unit_price']) {
                                                                                    echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b></div>';
                                                                                } else {
                                                                                    echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</div>';
                                                                                }
                                                                            }
                                                                        } else {
                                                                            $attributeListValue = $modelAttributeListValue->getById($value['value']);
                                                                            if ($attributeListValue['unit_price']) {
                                                                                echo $this->escape($attributeListValue['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue['unit_price'], 2)) . ')</b>';
                                                                            } else {
                                                                                echo $this->escape($attributeListValue['attribute_value']);
                                                                            }
                                                                        }
                                                                    } else {
                                                                        echo nl2br($this->escape($value['value']));
                                                                    }
                                                                    ?>
                                                                </span>
                                                            </div>
                                                            <?php
                                                        }
                                                        break;
                                                }
                                            }
                                            ?>
                                        </td>
                                        <td><?php echo $this->escape($unit_price); ?></td>
                                        <td><?php echo $this->escape($qty); ?></td>
                                        <td><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
                                    </tr>
                                <?php endforeach; ?>
                                <?php
                                $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($bookingId);
                                $rowspan = 9;
                                $rowspan = !empty($totalAmountDetails['call_out_fee']) ? $rowspan + 1 : $rowspan;
                                ?>
                                <tr>
                                    <td colspan="2" rowspan="<?php echo $rowspan; ?>"></td>
                                    <td style="padding: 10px;">
                                        Sub Total:
                                    </td>
                                    <td style="padding: 10px;">
                                        <?php echo $this->escape(number_format($totalAmountDetails['sub_total'], 2)); ?>
                                    </td>
                                </tr>
                                <?php if ($totalAmountDetails['call_out_fee']): ?>
                                    <tr style="border-bottom: 1px solid #A1A1A1;">
                                        <td style="padding: 10px;">
                                            Call Out Fee:
                                        </td>
                                        <td style="padding: 10px;">
                                            <?php echo $this->escape(number_format($totalAmountDetails['call_out_fee'], 2)); ?>
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <tr>
                                    <td style="padding: 10px;">
                                        Discount:
                                    </td>
                                    <td style="padding: 10px;">
                                        <?php echo $this->escape(number_format($totalAmountDetails['total_discount'], 2)); ?>
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #A1A1A1;">
                                    <td style="padding: 10px;">
                                        GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                                    </td>
                                    <td style="padding: 10px;">
                                        <?php echo $this->escape(number_format($totalAmountDetails['gst'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px;">
                                        Total:
                                    </td>
                                    <td style="padding: 10px;">
                                        $<?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px;"></td>
                                    <td style="padding: 10px;"></td>
                                </tr>
                            </table>
                        <?php endif; ?>
                    </div>
                
            </div> 
            <?php
            $view = new Zend_View();
            $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');

            $view->bookingId = $this->estimateParams['booking_id'];
            $view->view = 'estimate';

            echo $view->render('tabs.phtml');
            ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">

                <?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                    <div class="btn_cont">
                        <a href="<?php echo $this->escape($this->url(array(), 'bookingAdd')); ?>" class="btn_a">
                            <div class="text_pos">
                                New Booking
                            </div>
                        </a>
                    </div>
                <?php endif; ?>
				<?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                    <div class="btn_cont">
                        <a href="<?php echo $this->escape($this->url(array('booking_id'=>$this->estimateParams['booking_id']), 'copyBooking')); ?>" class="btn_a">
                            <div class="text_pos">
                                Copy Estimate
                            </div>
                        </a>
                    </div>
                <?php endif; ?>
                <?php
                $color = '#A1A1A1';
                switch ($this->estimateParams['estimate_type']) {
                    case 'draft':
                        $color = '#A1A1A1';
                        break;

                    case 'booking':
                        $color = '#BCD68F';
                        break;
                }
                ?>
                <?php if (!empty($this->isWorkOrder)): ?>
                    <div class="typeprice" style="background-color: red; color: white;">
                        work Order Attachment File Required
                    </div>
                <?php endif; ?>
                <div class="typeprice" style="background-color: <?php echo $this->escape($color); ?>;">
                    <div id="convert_status" class="whitefont"><?php echo $this->escape(ucfirst($this->estimateParams['estimate_type'])) ?></div>
                    <div class="whitefont largefont"><?php echo $this->escape("$" . number_format($this->estimateParams['booking']['qoute'], 2)) ?></div>
                </div>
                <?php if (!$this->estimateParams['is_deleted']): ?>
                    <?php if ($this->estimateParams['estimate_type'] != 'booking'): ?>
                        <div class="gray-border-bottom">
                            <ul class="links">
                                <li class="edit">
                                    <?php if (CheckAuth::checkCredential(array('bookingEdit')) && $this->estimateParams['isAccepted']): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking_id']), 'bookingEdit')); ?>">Edit</a>
                                    <?php endif; ?>
                                </li>
                                <li class="edit">
                                    <?php if (CheckAuth::checkCredential(array('editEstimateNumber')) && $this->estimateParams['isAccepted']): ?>
                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'editEstimateNumber')); ?>','100','450','Edit Estimate Number');" class="details_info_opt">Edit Estimate Number</a>
                                    <?php endif; ?>
                                </li>
                            </ul>
                        </div>    
                        <div class="gray-border-bottom">
                            <ul class="links">
                                <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
                                    <li class="print">
                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimatePreview')); ?>','850','800','Estimate Previrew');" class="details_info_opt">Estimate Preview</a>
                                    </li>
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('sendEstimateAsEmail')) && $this->estimateParams['booking']['is_to_follow'] && $this->estimateParams['booking']['to_follow'] < time()): ?>
                                    <li class="email">
                                        <a href="javascript:;" onclick="emailEstimate('<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'sendReminderEstimateAsEmail')); ?>')">Reminder Estimate</a>
                                    </li>
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))): ?>
                                    <li class="email">
                                        <a href="javascript:;" onclick="emailEstimate('<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
                                    </li>
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
                                    <li class="send-email">
                                        <a  href="javascript:;" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking']['customer_id'], 'type' => 'estimate', 'reference_id' => $this->estimateParams['id']), 'sendEmail')); ?>');">Send Email</a>
                                    </li>
                                <?php endif; ?>

                                <?php $modelCustomerType = new Model_CustomerType(); ?>
                                <?php $customerType = $modelCustomerType->getById($this->estimateParams['customer']['customer_type_id']); ?>
                                <?php if (CheckAuth::checkCredential(array('sendWorkOrderRequestEmail')) && !empty($customerType['is_work_order'])): ?>
                                    <li class="email">
                                        <a  href="javascript:;" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking_id']), 'sendWorkOrderRequestEmail')); ?>')">Request Work Order Email</a>
                                    </li>
                                <?php endif; ?>

                                <?php if (CheckAuth::checkCredential(array('downloadEstimate'))): ?>
                                    <li class="export-as-pdf">
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'downloadEstimate')); ?>">Export as PDF</a>
                                    </li>
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('convertEstimateToBooking'))): ?>
                                    <li class="convert-to-open">
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking_id']), 'convertEstimateToBooking')); ?>">Convert to Booking</a>
                                    </li>   
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('EstimateLabel '))): ?>
                                    <li class="labels">
                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimateSelectLabel')); ?>','250','200','Estimate Label');" class="details_info_opt">Label</a>
                                    </li>
                                <?php endif; ?>
                            </ul>
                        </div>  

                        <div class="gray-border-bottom">
                            <ul class="links">
                                <li class="navigation">
                                    <?php
                                    $modelBookingAddress = new Model_BookingAddress();
                                    $bookingAddress = $modelBookingAddress->getByBookingId($this->estimateParams['booking']['booking_id']);
                                    $nearestBookingParams = array();
                                    $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                    $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                    $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                    $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                    $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                    $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                    $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->estimateParams['booking']['booking_start'])));
                                    $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($this->estimateParams['booking']['booking_start'])));
                                    $nearestBookingParams[] = 'city_id=' . urlencode($this->estimateParams['booking']['city_id']);
                                    $nearestBookingParams[] = 'booking_id=' . urlencode($this->estimateParams['booking']['booking_id']);
                                    $nearestBookingParams = implode("&", $nearestBookingParams);
                                    ?>
                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>','500','900','Nearest Bookings','<?php echo $this->escape($nearestBookingParams) ?>');">Nearest Booking</a>
                                </li>
                                <li class="navigation">
                                    <?php
                                    $findAvailabilityParams = array();
                                    $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                    $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                    $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                    $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                    $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                    $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                    $findAvailabilityParams[] = 'booking_id=' . urlencode($this->estimateParams['booking']['booking_id']);
                                    $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->estimateParams['booking']['booking_start'])));
                                    $findAvailabilityParams[] = 'city_id=' . urlencode($this->estimateParams['booking']['city_id']);
                                    foreach ($this->bookingServices as $service) {
                                        $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                    }
                                    $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                    ?>
                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>','500','1000','Find Availability','<?php echo $this->escape($findAvailabilityParams) ?>');">Find Availability</a>
                                </li>

                            </ul>
                        </div> 
						<div class="gray-border-bottom">
							<ul class="links">
								<?php if($this->estimateParams['booking']['pause_emails']){ ?>
								<li class="resume">
									<a onClick="return confirm('Are you sure you want to resume emails of this estimate?')" href="<?php echo $this->url(array('id' => $this->estimateParams['booking']['booking_id'],'process'=>'resume'), 'pauseResumeBookingEmails'); ?>" >Resume Emails</a>						
								</li>
								<?php }else{ ?>
								<li class="pause">
									<a onClick="return confirm('Are you sure you want to pause emails of this estimate?')" href="<?php echo $this->url(array('id' => $this->estimateParams['booking']['booking_id'],'process'=>'pause'), 'pauseResumeBookingEmails'); ?>" >Pause Emails</a>						
								</li>
								<?php } ?>
							</ul>
						</div>
				
						
                        <div>
                            <ul class="links">
                                <li class="make-recurring">
                                    <?php if (CheckAuth::checkCredential(array('complaintAdd '))): ?>
                                        <a href="javascript:;" onclick="AddEditComplaint('<?php echo $this->escape($this->url(array('booking_id' => $this->estimateParams['booking_id']), 'complaintAdd')); ?>');">Add Complaint</a>
                                    <?php endif; ?>
                                </li>
                                <li class="make-recurring">
                                    <?php if (CheckAuth::checkCredential(array('attachment'))): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt">Files Attachment</a>
                                    <?php endif; ?>
                                </li>

                                <?php if (CheckAuth::checkCredential(array('estimateDelete '))): ?>
                                    <li class="delete">
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimateDelete')); ?>" onclick="return confirm('are you sure you want to delete this Estimate?');">Delete</a>
                                    </li>
                                <?php endif; ?>
                            </ul>
                        </div>
                    <?php else: ?>
                        <div>
                            <ul class="links">
                                <?php if (CheckAuth::checkCredential(array('estimateDelete '))): ?>
                                    <li class="delete">
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimateDelete')); ?>" onclick="return confirm('are you sure you want to delete this Estimate?');">Delete</a>
                                    </li>
                                <?php endif; ?>
                            </ul>
                        </div> 
                    <?php endif; ?>
                <?php else: ?>
                    <div>
                        <ul class="links">
                            <?php if (CheckAuth::checkCredential(array('estimateUndelete '))): ?>
                                <li class="undelete">
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimateUndelete')); ?>" onclick="return confirm('are you sure you want to restore this Estimate?');">UnDelete</a>
                                </li>
                            <?php endif; ?>
                        </ul>
                    </div>
                <?php endif; ?>
                <div class="createdTimeDiv">
                    Created On
                    <br/>
                    <?php echo $this->escape(getDateFormating($this->estimateParams['created'])); ?>
                </div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">

    function AddEditComplaint(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=270&width=500');
        });
    }
    
    function sendEmail(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=510&width=800');
        });
    }
    
    function emailEstimate(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=510&width=800');
        });
    }
    
    
    function change_follow_date(booking_id){
       
        var value = $('#follow_date_value_'+booking_id).html().trim();
        $('#follow_date_value_'+booking_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="follow_date_'+booking_id+'" readonly="readonly" value="'+value+'" />');
        $('#follow_date_button_'+booking_id).css('padding-top','2px');
        $('#follow_date_button_'+booking_id).html('<a href="javascript:;" onclick="save_follow_date('+booking_id+')" class="a_link">Save</a>');
        $('#follow_date_'+booking_id).datetimepicker({
            ampm: true,
            timeFormat: 'hh:mm tt',
            dateFormat: 'MM dd ,yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    }
    
    function save_follow_date(booking_id){
        $('#follow_date_button_'+booking_id).css('padding-top','0');
        $('#follow_date_button_'+booking_id).html('<img src="/pic/loading-4.gif">');
        $('#label_'+booking_id).remove();
        
        var follow_date = $('#follow_date_'+booking_id).val();
        if(follow_date != ''){
            $.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array(), 'modifyFollowDate')); ?>',
                data:{
                    'follow_date':follow_date,
                    'booking_id':booking_id
                },
                success: function(result) {
                    if(result == '1'){
                        $('#follow_date_value_'+booking_id).html(follow_date);
                        $('#follow_date_button_'+booking_id).html('<a href="javascript:;" onclick="change_follow_date('+booking_id+')" class="a_link">Edit</a>');
                    }
                }
            
            });
        }else{
            $('#follow_date_value_'+booking_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="follow_date_'+booking_id+'" readonly="readonly" />');
            $('#follow_date_button_'+booking_id).css('padding-top','2px');
            $('#follow_date_button_'+booking_id).html('<a href="javascript:;" onclick="save_follow_date('+booking_id+')" class="a_link">Save</a>');
            $('#follow_date_container_'+booking_id).after('<label id="label_'+booking_id+'"class="error">Field required</label>');
            $('#follow_date_'+booking_id).datetimepicker({
                ampm: true,
                timeFormat: 'hh:mm tt',
                dateFormat: 'MM dd ,yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true
            });
        }
    }
</script>


<?php
/*
  <iframe id="ifrmPrint" src="#" style="width:0px; height:0px;"></iframe>
  <script type="text/javascript">

  function ClickHereToPrint(){
  try{
  var oIframe = document.getElementById('ifrmPrint');
  var oContent = document.getElementById('divToPrint').innerHTML;
  var oDoc = (oIframe.contentWindow || oIframe.contentDocument);
  if (oDoc.document) oDoc = oDoc.document;
  oDoc.write("<head><title>title</title>");
  oDoc.write("</head><body onload=\"this.focus(); this.print();\">");
  oDoc.write(oContent + "</body>");
  oDoc.close();
  }
  catch(e){
  self.print();
  }
  }
  </script>
 * 
 */
?>