<div class="col-lg-12 wrapper-content">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsContractorServiceAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New Service','<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Service
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                <div class="button_actions">
                    <h5>  Search Services </h5>
                </div>
                <form id="search_form" class="form-inline" action="<?php echo $this->escape($this->url(array(), 'settingsCitiesList')); ?>" method="GET" class="form-inline" role="form">
                       
                        
                            <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        
                    
                             <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-primary a_margin-responsive">Search</a> <span class="or_span a_margin-responsive">or</span>
                             <button class="a_advance btn btn-white a_margin-responsive" type="reset" >Reset</button>
                                      
                    </form>
                    
            </div>
        </div>
</div>
<div class="col-lg-12 wrapper-content ibox float-e-margins">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title">
                        <h5>All Services</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Contractor Service?');">
                    
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsContractorServiceDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Services</b></td>
                                <td><b>City Availability</b></td>
                                </tr>
                            </thead>
                            <tbody>
                               <?php $count = 0; ?>
                            <?php $modelAvailability = new Model_ContractorServiceAvailability(); ?>
                            <?php $modelCities = new Model_Cities(); ?>
                            <?php foreach ($this->data as $row) : ?>
                               
                                    <tr>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['contractor_service_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> 
                                                 <div class="details_info_l">
                                            <div>
                                                <span class="details_info_name"><?php echo $this->escape($row['service_name']) ?></span> 
                                            </div>
                                            <div class="booking_time_cont">
                                                <span style="color: #A1A1A1;">Contractor:</span> <?php echo $this->escape($row['username']) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorServiceDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id, 'id' => $row['contractor_service_id']), 'settingsContractorServiceDelete')); ?>" onclick="return confirm('are you sure you want to delete this Contractor Service?');" class="details_info_opt">Delete</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_service_id' => $row['contractor_service_id']), 'settingsContractorServiceAvailabilityList')); ?>" class="details_info_opt">City Availability</a>
                                            <?php endif; ?>
                                        </div></td>
                                         <?php $cities = $modelAvailability->getCitiesByContractorServiceId($row['contractor_service_id']) ?>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php if ($cities): ?>
                                                <?php foreach ($cities as $cityId): ?>
                                                    <?php $city = $modelCities->getById($cityId['city_id']) ?>
                                                    <div>
                                                        <?php echo $this->escape(ucfirst($city['city_name'])); ?>
                                                    </div>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no Service.</div>
        <?php endif; ?>

    
    
</div>
<div style="clear:both"></div>