<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;" class="form-horizontal">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h3>User Information :</h3>
    
        <div class="form-group">
            <label class="col-md-4" >Username <span style="color:#ff0000">*</span>: </label>
            <div class="col-md-8"><?php echo $this->form->getElement('username')->render(); ?></div>
        </div>
    

    <h3>Contact Details :</h3>

    
        <div class="form-group">
            <label class="col-md-4">Email 2: </label>
            <div class="col-md-8"><?php echo $this->form->getElement('email2')->render(); ?></div>
       </div>
        <div class="form-group">
            <label class="col-md-4" >Email 3: </label>
            <div class="col-md-8"><?php echo $this->form->getElement('email3')->render(); ?></div>
        </div>
        <div class="form-group">
            <label class="col-md-4"  >Mobile 1: </label>
            <div class="col-md-8"><?php echo $this->form->getElement('mobile1')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Mobile 2: </label>
            <div class="col-md-8"><?php echo $this->form->getElement('mobile2')->render(); ?></div>
        </div>
       <div class="form-group">
            <label class="col-md-4"  >Mobile 3:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('mobile3')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Phone 1:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('phone1')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Phone 2:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('phone2')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Phone 3:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('phone3')->render(); ?></div>
        </div>
		
		<div class="form-group">
            <label class="col-md-4"  >Fax:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('fax')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Emergency Phone:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('emergency_phone')->render(); ?></div>
        </div>
        
       
       
        
       
      
    

    <h3>Address Details :</h3>

		<div class="form-group">
            <label class="col-md-4"  >Unit / Lot No :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('unit_lot_number')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Street Number :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('street_number')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Street Name :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('street_address')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Suburb :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('suburb')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Postcode :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('postcode')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >PO Box (Postal Address):</label>
            <div class="col-md-8"><?php echo $this->form->getElement('po_box')->render(); ?></div>
        </div>
		<div class="form-group">
            <label class="col-md-4"  >Country :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('country_id')->render(); ?></div>
        </div>
		
        
        <div class="form-group" id="city_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-4">City :</label>
            <div class="col-md-8" id="city"><?php echo $this->form->getElement('city_id')->render(); ?></div>
        </div>

        <div class="form-group">
            <label class="col-lg-4">State :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('state')->render(); ?></div>
        </div>
        
           <div class="form-group">
			<div class="col-md-8 col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
</form>

<script type="text/javascript">
    function getCities(){
        if($('#country_id').val()){
            $('#city_block').css('display','table-row');
            $('#city').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id="+$('#country_id').val(),
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
</script>
