<form  class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h3>Contractor Information :</h3>
    
        <div class="form-group">
            <label class="col-lg-3 control-label">Business Name :</label>
            <div class="col-lg-9"><?php echo $this->form->getElement('business_name')->render(); ?></div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">ABN (Australian Business Number) :</label>
            <div class="col-lg-9"><?php echo $this->form->getElement('abn')->render(); ?></div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">ACN (Australian Company Number) :</label>
            <div class="col-lg-9"><?php echo $this->form->getElement('acn')->render(); ?></div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">TFN (Tax File Number) :</label>
            <div class="col-lg-9"><?php echo $this->form->getElement('tfn')->render(); ?></div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">GST (Goods and Services Tax) :</label>
            <div class="col-lg-9"><?php echo $this->form->getElement('gst')->render(); ?></div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">GST Date Registered :</label>
            <div class="col-lg-9"><?php echo $this->form->getElement('gst_date_registered')->render(); ?></div>
        </div>

    <h3>Insurance :</h3>

    
        <div class="form-group">
            <label class="col-lg-3 control-label">Insurance Policy Number :</label>
            <div class="col-lg-9"><?php echo $this->form->getElement('insurance_policy_number')->render(); ?></div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Start Date :</label>
            <div class="col-lg-9">
			<div class="input-group date">
			<?php echo $this->form->getElement('insurance_policy_start')->render(); ?>
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		  </div>	
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Expiry Date :</label>
			<div class="col-lg-9">
			<div class="input-group date">
			<?php echo $this->form->getElement('insurance_policy_expiry')->render(); ?>
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		  </div>
	    </div>
	
        <div class="form-group">
            <label class="col-lg-3 control-label">Insurance Listed Services Covered :</label>
            <div class="col-lg-9"><?php echo $this->form->getElement('insurance_listed_services_covered')->render(); ?></div>
        </div>
   

    <h3>Drivers Licence :</h3>

    
        <div class="form-group">
            <label class="col-lg-3 control-label">Drivers Licence Number :</label>
            <div class="col-lg-9"><?php echo $this->form->getElement('drivers_licence_number')->render(); ?></div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label"> Expiry Date :</label>
			<div class="col-lg-9">
			<div class="input-group date">
			<?php echo $this->form->getElement('drivers_licence_expiry')->render(); ?>
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		  </div>			
        </div>

        <div  id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
    
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#gst_date_registered , .date").datepicker({
            format: 'dd-mm-yyyy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });
    
</script>