<form id="form" class="form-horizontal" method="POST" onsubmit="do_submit('<?php echo $this->url(array('contractor_id' => $this->contractor_id), 'editWorkingHours'); ?>', '#form', '#content_modal_popup'); return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <div id="working_hours">
        <?php foreach ($this->working_hours as $key => $working_hour) { ?>
            <div class="form-group" id="working_box_<?=$working_hour['working_hours_id']?>">
                <div class="col-md-4">
                    <select class="form-control" name="day[]">
                        <option>Select Day</option>
                        <option <?php
                        if ($working_hour['day'] == 'Mon') {
                            echo "selected='selected'";
                        }
                        ?> value="Mon">Mon</option>
                        <option <?php
                        if ($working_hour['day'] == 'Tues') {
                            echo "selected='selected'";
                        }
                        ?> value="Tues">Tues</option>
                        <option <?php
                        if ($working_hour['day'] == 'Wed') {
                            echo "selected='selected'";
                        }
                        ?> value="Wed">Wed</option>
                        <option <?php
                        if ($working_hour['day'] == 'Thir') {
                            echo "selected='selected'";
                        }
                        ?> value="Thir">Thir</option>
                        <option <?php
                        if ($working_hour['day'] == 'Fri') {
                            echo "selected='selected'";
                        }
                        ?> value="Fri">Fri</option>
                        <option <?php
                        if ($working_hour['day'] == 'Sat') {
                            echo "selected='selected'";
                        }
                        ?> value="Sat">Sat</option>
                        <option <?php
                        if ($working_hour['day'] == 'Sun') {
                            echo "selected='selected'";
                        }
                        ?> value="Sun">Sun</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        <input MaxLength="5" readonly  class="addRequired time text_input stimepicker form-control" id="stparttime" name="start_time[]"  type="text" value="<?= $working_hour['start_time'] ?>" />
                    </div>
                </div>
                <div class="col-md-1" style="text-align: center;margin-top: 8px;">
                    <span> - </span>
                </div>
                <div class="col-md-3">
                    <div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        <input MaxLength="5" readonly  class="addRequired time text_input stimepicker form-control" id="stparttime" name="end_time[]"  type="text"  value="<?= $working_hour['end_time'] ?>"/>
                    </div>
                </div>
                <div class="col-md-1">
                    <a href="javascript:void(0);" onclick="deleteWorkingHours('<?= $working_hour['working_hours_id'] ?>')">
                        <i class="fa fa-times" style="color:gray;margin-top: 10px;font-size: 15px;"></i>
                    </a>
                </div>

            </div>
        <?php } ?>
    </div>
    <div class="form-group">
        <a href=""  class="col-md-12" onclick="new_working_hours(); return false;" >add another set of hours</a>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-1" id="button_cont"><input type="submit" class="btn btn-primary" value="Submit"/></div>
    </div>		

    <div class="clearfix"></div>
</form>

<script>
    function new_working_hours() {
        $("#working_hours").append('<div class="form-group"><div class="col-md-4"><select class="form-control" name="day[]"><option>Select Day</option><option value="Mon">Mon</option><option value="Tues">Tues</option><option value="Wed">Wed</option><option value="Thir">Thir</option><option value="Fri">Fri</option><option value="Sat">Sat</option><option  value="Sun">Sun</option></select></div><div class="col-md-3"><div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">' +
                '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>' +
                '<input MaxLength="5" readonly  class="addRequired time text_input stimepicker form-control" id="stparttime" name="start_time[]"  type="text"  />' +
                '</div>' +
                '</div>' +
                '<div class="col-md-1" style="text-align: center;margin-top: 8px;">' +
                '<span> - </span>' +
                '</div>' +
                '<div class="col-md-3">' +
                '<div class="input-group clockpicker1" data-placement="bottom" data-align="top" data-autoclose="true">' +
                '<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>' +
                '<input MaxLength="5" readonly  class="addRequired time text_input stimepicker form-control" id="stparttime" name="end_time[]"  type="text"  value=""/>' +
                '</div>' +
                '</div>' +
                '<div class="col-md-1">' +
                '<a href="">' +
                '<i class="fa fa-times" style="color:gray;margin-top: 10px;font-size: 15px;"></i>' +
                '</a>' +
                '</div>' +
                '</div>');
        $(".clockpicker1").clockpicker();
    }


    function deleteWorkingHours(id) {
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'deleteWorkingHour')); ?>",
            data: {working_hour_id: id},
            success: function (msg) {
                $('#working_box_'+id).hide();
                $(".success_message").html('<div class="alert alert-success alert-dismissible fade in col-md-12" role="alert" style="margin-top: 5px;">'+msg+'</div>');
            }
        });
    }
</script>

<script type="text/javascript">
    $('.clockpicker1').clockpicker();
</script>		
