<form id="form-insurance" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="return false;" enctype="multipart/form-data">
		 
			<div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
		
			<div class="form-group">
				<label  class="col-md-3">Insurance Policy Number :</label>
				<div class="col-md-9 "> <?php echo $this->form->getElement('insurance_policy_number')->render(); ?></div>
			</div>
			<div class="form-group">
				<label  class="col-md-3">Start Date :</label>
				<div class="col-lg-9">
					<div class="input-group date">
					<?php echo $this->form->getElement('insurance_policy_start')->render(); ?>
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
				
			</div>
			<div class="form-group">
				<label  class="col-md-3">Expiry Date:</label>
				<div class="col-lg-9">
					<div class="input-group date">
					<?php echo $this->form->getElement('insurance_policy_expiry')->render(); ?>
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				  </div>
			</div>
			<div class="form-group">
				<label  class="col-md-3" style="padding-right: 0px;">Insurance Listed Services Covered :</label>
				<div class="col-md-9 "> <?php echo $this->form->getElement('insurance_listed_services_covered')->render(); ?></div>
			</div>
			
			<div class="form-group">
				<label  class="col-md-3" style="padding-right: 0px;">Insurance Type:</label>
				<div class="col-md-9 "> <?php echo $this->form->getElement('insurance_type')->render(); ?></div>
			</div>
			
			<div class="form-group">
            <label class="col-md-3">Upload Photo(s) :</label>
            <div class="col-md-9">
					<div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
				<div class="dz-message" style="background-position: -33px 0;"></div>
				</div>
			</div>
        </div>
		
		
		<input type="hidden" value="" name="deleted_ids" id="deleted_ids"/>
		
			<div class="form-group">
				<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
			</div>		
	
		<div class="clearfix"></div>
</form>
<script>
 

  var deleted_ids = new Array();
  var photoDropzone = new Dropzone("#form-insurance", {
    url: '<?php echo $this->escape($this->form->getAction());?>',
    autoProcessQueue: false,
    uploadMultiple: true,
    parallelUploads: 10,
    maxFiles: 100,
	maxFilesize: 10,
    previewsContainer: '#dropzonePreview',
	acceptedFiles: ".jpeg,.jpg,.png,.gif,.doc ,.pdf",
    clickable: '#dropzonePreview',
	addRemoveLinks: true,
	removedfile: function(file) {
    var name = file.name;
    var id = file.id;
	
	deleted_ids.push(id);
    $('#deleted_ids').val(deleted_ids);
		var _ref;
		return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;        
              },

    // The setting up of the dropzone
    init: function () {
        var myDropzone = this;  
		$.ajax({
			type: "GET",
			dataType : "JSON",
			url: '<?php echo $this->escape($this->url(array('contractor_info_id' =>(isset($this->id)? $this->id : 0 ) , 'type'=>'insurance'), 'getAttacments')); ?>',
			success: function(data) {
			  $.each(data, function(key,value){
                			  
                var mockFile = { name: value.file_name, size: value.size , id : value.attachment_id};                
                myDropzone.options.addedfile.call(myDropzone, mockFile);
				var type = value.type.split("/");
				var parts = value.path.split("public");
				if(type['0'] == 'image'){
                  myDropzone.options.thumbnail.call(myDropzone, mockFile, parts['1']);                 				
				}
              });
			}
		 });
       

		
        var submitButton = document.querySelector('input[type=submit]');
        myDropzone = this; // closure		
         $("#form-insurance").on("click","input[type=submit]", function(e) {

            e.preventDefault();
            e.stopPropagation();
			$('#button_cont').html('<img src="/pic/loading-4.gif">');
            if (myDropzone.getQueuedFiles().length === 0) {			    
                do_submit('<?php echo $this->escape($this->form->getAction());?>','#form-insurance','#content_modal_popup');				
            }
            else {		   
			   
                myDropzone.processQueue();				
            }     
	
   
           });
		
		this.on("successmultiple", function(files, response) {
					  if(response == 1){
					    window.location.reload();
					  }else{
					    $('#content_modal_popup').html(response);
					  }					 
					  
                    });
                    this.on("errormultiple", function(files, response) {
					  //alert(response);
					  $('#button_cont').html('<input type="submit" name="button" id="button" value="Save" class="btn btn-primary">');
                    });
		
		
    }
});


 $(".date").datepicker({
            format: 'dd-mm-yyyy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });



</script>
