<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h1>User Information :</h1>
    <table>
        <tr>
            <td class="input_type" valign="top">Username <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('username')->render(); ?></td>
        </tr>
    </table>

    <h1>Contact Details :</h1>

    <table>
        <tr>
            <td class="input_type" valign="top">Email 2: </td>
            <td><?php echo $this->form->getElement('email2')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Email 3: </td>
            <td><?php echo $this->form->getElement('email3')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Mobile 1: </td>
            <td><?php echo $this->form->getElement('mobile1')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Mobile 2: </td>
            <td><?php echo $this->form->getElement('mobile2')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Mobile 3: </td>
            <td><?php echo $this->form->getElement('mobile3')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Phone 1: </td>
            <td><?php echo $this->form->getElement('phone1')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Phone 2: </td>
            <td><?php echo $this->form->getElement('phone2')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Phone 3: </td>
            <td><?php echo $this->form->getElement('phone3')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Fax: </td>
            <td><?php echo $this->form->getElement('fax')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Emergency Phone: </td>
            <td><?php echo $this->form->getElement('emergency_phone')->render(); ?></td>
        </tr>
    </table>

    <h1>Address Details :</h1>

    <table>
        <tr>
            <td class="input_type" valign="top">Unit / Lot No :</td>
            <td><?php echo $this->form->getElement('unit_lot_number')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Street Number :</td>
            <td><?php echo $this->form->getElement('street_number')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Street Name :</td>
            <td><?php echo $this->form->getElement('street_address')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Suburb :</td>
            <td><?php echo $this->form->getElement('suburb')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Postcode :</td>
            <td><?php echo $this->form->getElement('postcode')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">PO Box (Postal Address):</td>
            <td><?php echo $this->form->getElement('po_box')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Country :</td>
            <td><?php echo $this->form->getElement('country_id')->render(); ?></td>
        </tr>

        <tr id="city_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <td class="input_type" valign="top">City :</td>
            <td id="city"><?php echo $this->form->getElement('city_id')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">State :</td>
            <td><?php echo $this->form->getElement('state')->render(); ?></td>
        </tr>
        
        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>

<script type="text/javascript">
    function getCities(){
        if($('#country_id').val()){
            $('#city_block').css('display','table-row');
            $('#city').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id="+$('#country_id').val(),
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
</script>
