<?php 
 $attributeListValueAttachmentObj = new Model_AttributeListValueAttachment();
 $attributeListValueObj = new Model_AttributeListValue();
 $modelAttributeType = new Model_AttributeType();
 $modelUser = new Model_User();
 $enquiriesUser = $modelUser->getByUsername('enquiries');
 $contractorId = $enquiriesUser['user_id'];
?>
    <li class="service-box" id="<?= $this->service['service_id'].($this->clone ? '_' . $this->clone : '') ?>">
	             <input type="hidden" name="clone" value="<?=($this->clone ? $this->clone : '') ?>"/>
	             <input type="hidden" name="consider_min_price_<?= $this->service['service_id'].($this->clone ? '_' . $this->clone : '') ?>" value="1"/>
	             <input type="hidden" name="contractor_<?= $this->service['service_id'].($this->clone ? '_' . $this->clone : '') ?>" value="<?= $contractorId?>"/>
				 
				 <?php if(isset($this->customer_comment) && !empty($this->customer_comment)){?>
				    <input type="hidden" name="customer_comment" value="<?= $this->customer_comment; ?>"/>
				 <?php }?>
				 
				 <a class=" delete-service" href="javascript:;" onclick="confirmDeleteService('<?= $this->service['service_id'].($this->clone ? '_' . $this->clone : '') ?>')">
                 <i class="fa fa-times"></i> </a>
				 <div class="row">
				   <div class="col-md-6 col-xs-12 .col-sm-6">
				   <input type="hidden" name="services[]" value="<?= $this->service['service_id'].($this->clone ? '_' . $this->clone : '') ?>"/>
				    <div class="service-name"><h3 style="margin-top:0px;"><b><i class="fa fa-star" aria-hidden="true"></i> &nbsp; <?= $this->service['service_name']?></b></h3></div>
				   
				    <?php
                    $attributes = array();
                    $draw_attributes = array();
                    $floor_attribute = array();
					$attributes[] ='<div class="float-l col-md-7 col-xs-7">';
					 foreach($this->attributesValues as $attribute){
                       $name = 'attribute_' . $attribute['service_id'] . $attribute['attribute_id'] . ($this->clone ? '_' . $this->clone : '');
					   $attributeType = $modelAttributeType->getById($attribute['attribute_type_id']);
					   if($attributeType['is_list']){
					    $attributeList = $attributeListValueObj->getById($attribute['value']);
					   }
                    ?>
					<?php if('floor' == $attribute['attribute_variable_name'] ){					  
					  $attributeDefualtImage = $attributeListValueAttachmentObj->getByAttributeValueId($attribute['value']);
					  if(!empty($attributeDefualtImage) && $attributeDefualtImage){
					   $parts = explode("public",$attributeDefualtImage[0]['path']);
					   $defualt_image = $parts['1'];
					 }else{
					   $defualt_image = '/pic/attribute_pics/default_image.png';
					 }
					 $floor_attribute[] = '<div onclick="changeValue(\''.$attribute['attribute_id'].'\',\''.$name.'\')" class="floor-box float-l '.$name.'" data-toggle="modal" data-target="#myModal">
					   <img src="'.$defualt_image.'" width="132px" height="132px"/><span class="floor-name">'.$attributeList['attribute_value'].'</span>
					   <input type="hidden" name="'.$name.'" value="'.$attribute['value'].'" id="'.$name.'"/>
					 </div>';
					  $draw_attributes[] = '<span id="'.$name.'_summary">'.$attributeList['attribute_value'].'</span>';	
					 }else if('quantity' == $attribute['attribute_variable_name'] ){
					    $attributes[] = '<div class="form-group" onclick="changeValue(\''.$attribute['attribute_id'].'\',\''.$name.'\')">
						<div class="attribute_content  row '.$name.'"><input type="hidden" value="'.$attribute['value'].'" name="'.$name.'" id="'.$name.'"/>
						'.$attribute['value'].' m2</div></div>';
						$draw_attributes[] = '<span id="'.$name.'_summary">'.$attribute['value'].' m2 </span>';	
					 }else{					  
					  if($attributeType['is_list']){
					    $draw_attributes[] = '<span id="'.$name.'_summary">'.$attributeList['attribute_value'] .'</span>';
					    $attributes[] = '<div class="form-group " onclick="changeValue(\''.$attribute['attribute_id'].'\',\''.$name.'\')">
						<div class="attribute_content row '.$name.'"><input type="hidden" value="'.$attribute['value'].'" name="'.$name.'" id="'.$name.'"/>
						'.$attributeList['attribute_value'].'</div></div>';
					  }else{
					   $attributes[] = '<input type="hidden" value="'.$attribute['value'].'" name="'.$name.'"/>';
					  }
					  
					  
					  
					 }
                     
					 			 
					}
					$attributes[] = '</div>'; 
					$floor = implode('&ensp;', $floor_attribute);
					echo $floor.''.implode('', $attributes);
					?>
				   </div>
				   <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-11 col-xs-offset-1" style="padding:0px;">
				   <div class="details">
				    <div class="row">
					  <div class="col-md-6 col-xs-6" style="border-right: 1px solid;">
						<h4 class="subtitle-service-name"><?= $this->service['service_name']?></h4>
						<span class="service_attributes">
						 <?php echo implode('<br/>', $draw_attributes);?>
						</span>
					  </div>
					  <div class="col-md-4 col-xs-4 service_amount">
						<h4 class="<?= $this->service['service_id'].($this->clone ? '_' . $this->clone : '') ?>_total_price"><b><?= $this->totalPrice?> $</b></h4>
						INC GST	
						</div>
			         </div>
			        </div>
				   </div>
				 </div>
				   
				</li>
