<?php

$counters = 0;
$attributess = array();
$second_counter = 0;
$attributess['first'] = "";
$attributess['second'] = "";

foreach ($this->serviceAttribute as $key => $attribute):
    ?>

    <?php

    /* <div <?php if ($key != 0): ?>class="attribute_cont"<?php endif; ?> > */
    if (isset($this->type) && ($this->type == 'new-booking')) {
        $attribute['attribute_type'] = 'for_customer';
        $class = 'col-md-12';
    } else {
        $class = 'col-md-9';
    }


    $attribute_name = $this->escape($attribute['attribute_name']);
    $attribute_field = drowAttribute($attribute, 0, 0, $this->clone);
    $display = 'block';
    if (isset($this->type) && ($this->type == 'new-booking')) {
	   $modelAttributeAttachment = new Model_AttributeAttachment();
       $attributeDefualtImage = $modelAttributeAttachment->getByAttributeId($attribute['attribute_id'], 1);
	   if (!empty($attributeDefualtImage) && $attributeDefualtImage) {
            $largeParts = $attributeDefualtImage['large_file'] ? explode("public", $attributeDefualtImage['large_file']) : '';
            $defualt_image_large = $largeParts ? $largeParts['1'] : '';
            } else {
            $defualt_image_large = '/pic/attribute_pics/default_image.png';
                    }
        if ($attribute_name == 'Quantity') {
            $attributess['second'].='
			<div class="row services_attributes_with_background attribute_' . $second_counter . '" style="display:' . $display . '">
			 <div class="col-md-8">
			   <div  class="form-group">
							 <label class="control-label col-md-3">' . $attribute_name . '</label>
							 <div class="' . $class . '">' . $attribute_field . '
				</div><div style="clear:both"></div></div>
			 </div>
			 <div class="col-md-4">
			   <div  class="form-group">
							 <label class="control-label col-md-3">Unit</label>
							 <div class="' . $class . '"><select class="form-control" name="service_unit" id="service_unit"><option>m2</option></select>
				</div><div style="clear:both"></div></div>
			 </div>
			 <div class="col-md-12" style="padding:0px 15%"><img src="'.$defualt_image_large.'" style="width:100%"/></div>
			</div>';
        }
        $display = 'none';
    }

    if ($counters < 3) {
        if (!(isset($this->type) && ($this->type == 'new-booking') && ($attribute_name == 'Quantity'))) {
            $attributess['first'].='<div  class="form-group attributes_group col-md-4">
						 <label class="control-label col-md-3">' . $attribute_name . '</label>
						 <div class="col-md-9">' . $attribute_field . '
						 </div></div>';
        }
    } else {


        $attributess['second'].='<div  class="form-group services_attributes_with_background attribute_' . $second_counter . '" style="display:' . $display . '">
						 <label class="control-label col-md-3">' . $attribute_name . '</label>
						 <div class="' . $class . '">' . $attribute_field . '
						 </div><div style="clear:both"></div></div>';
        if ($this->type != 'new-booking') {

            $attributess['second'].= '';
        }
        $second_counter++;
    }







    $counters++;
endforeach;
echo json_encode($attributess);
?>
