<?php
    $dateTimeObj= get_settings_date_format();
	if(!empty($dateTimeObj))
	$JsDateFormat= dateFormat_zend_to_js($dateTimeObj['date_format']);

		?>
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
       <h3>Company Information :</h3>

        <div class="form-group">
            <label class="col-lg-4">   Company Name :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_name')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Business Name :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_business_name')->render(); ?>
            </div>
        </div>
		
		  <div class="form-group">
            <label class="col-lg-4">
                Trading Name :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_trading_name')->render(); ?>
            </div>
        </div>
		
        <div class="form-group">
            <label class="col-lg-4">
                    Company ABN (Australian Business Number) :</label>
                <div class="col-lg-8">
                    <?php echo $this->form->getElement('company_abn')->render(); ?>
                </div>
            </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company ACN (Australian Company Number) : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_acn')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
               Company GST (Goods and Services Tax) : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_gst')->render(); ?>
            </div>
        </div>  
       <div class="form-group">
            <label class="col-lg-4">
               Company GST Date Registered : </label>
            <div class="col-lg-8" id="date1">
			 <div class="input-group date">
			  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>   
                <?php echo $this->form->getElement('company_gst_date_registered')->render(); ?>
				</div>
            </div>
        </div>  
		<script>
		$(document).ready(function() {
		
		$('#date1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				//format:'dd-mm-yyyy'
				format:'<? if(!empty($dateTimeObj)) echo $JsDateFormat; else echo"dd-mm-yyyy" ?>',

            });
        
    });
     </script>

        <h3>Contact Details :</h3>

        <div class="form-group">
            <label class="col-lg-4">
               Company Website : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_website')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Enquiries Email :</label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_enquiries_email')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Invoices Email : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_invoices_email')->render(); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4">
                Company Accounts Email : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_accounts_email')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Complaints Email : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_complaints_email')->render(); ?>
            </div>
        </div>  <div class="form-group">
            <label class="col-lg-4">
                Company Mobile 1 : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_mobile1')->render(); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4">
               Company Mobile 2 :</label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_mobile2')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Mobile 3 : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_mobile3')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Phone 1 :</label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_phone1')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-4">
             Company Phone 2 : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_phone2')->render(); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4">
             Company Phone 3 : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_phone3')->render(); ?>
            </div>
        </div>
        
         <div class="form-group">
            <label class="col-lg-4">
               Company Fax :     </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_fax')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
               Company Emergency Phone :   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_emergency_phone')->render(); ?>
            </div>
        </div>
       
        <h3>Address Details :</h3>
        
          <div class="form-group">
            <label class="col-lg-4">
              Company Unit / Lot No :   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_unit_lot_no')->render(); ?>
            </div>
        </div>

         <div class="form-group">
            <label class="col-lg-4">
              Company Street Number :   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_street_no')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-4">
               Company Street Name :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_street_address')->render(); ?>
            </div>
        </div>
        
         <div class="form-group">
            <label class="col-lg-4">
               Company Suburb :   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_suburb')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-4">
              Company Postcode :</label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_postcode')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-4">
                Company PO Box (Postal Address):   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_po_box')->render(); ?>
            </div>
        </div>
      
        <div class="form-group">
            <label class="col-lg-4">
                 Country :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('country_id')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
               Company State :  </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_state')->render(); ?>
            </div>
        </div>
		<div class="form-group"  <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-lg-4">
                  City : </label>
            <div class="col-lg-8" id="city">
                <?php echo $this->form->getElement('city_id')->render(); ?>
            </div>
        </div>
        
         
<div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
    </form>

	<script type="text/javascript">
function getCitiesByState() {
		console.log($('#state').val());
        if ($('#state').val()) {
            $('#city_block').css('display', 'block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id=" + $('#country_id').val() + "&state=" + $('#state').val(),
                success: function (msg) {
					console.log(msg);
                    $('#city_block').css('display', 'block');
                    $('#city').html(msg);
                }
            });
        } else {
            $('#city_block').css('display', 'none');
        }
    }
	
</script>