<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsCompaniesAdd'))): ?>
                <div class="btn_cont">
                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('New Company','<?php echo $this->escape($this->url(array(), 'settingsCompaniesAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                         New Company
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                    <h5>  Search Companies </h5>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCompaniesList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                    <a href="#" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsCompaniesList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                    </form>
				</div>
            </div>
        </div>

<div style="margin-top:10px;" class="">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div >
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsCompaniesDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this company?');">
                <div class="ibox float-e-margins no-margin-b">
                    <div class="ibox-title">
                        <h5> All Companies List </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsCompaniesDelete'))): ?> 
                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover responsive-table setting-companies-table" id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Information</b></td>
                                    <td><b>Contact Details</b></td>
                                    <td><b>Address Details</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    
                                    <tr>
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['company_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l" style="font-size: 12px;">
                                                <div>&#187; <b>Company Name:</b> <?php echo $this->escape($row['company_name']) ?></div>
                                                <div>&#187; <b>Business Name:</b> <?php echo $this->escape($row['company_business_name']) ?></div>
                                                <div>&#187; <b>Trading Name:</b> <?php echo $this->escape($row['company_trading_name']) ?></div>
                                                <div>&#187; <b>ABN:</b> <?php echo $this->escape($row['company_abn']) ?></div>
                                                <div>&#187; <b>ACN:</b> <?php echo $this->escape($row['company_acn']) ?></div>
                                                <div>&#187; <b>GST:</b> <?php echo $this->escape($row['company_gst'] ? 'yes' : 'no') ?></div>
                                                <div>&#187; <b>GST Date Registered:</b> <?php 
												    $dateTimeObj= get_settings_date_format();
												if(!empty($dateTimeObj))
												echo getNewDateFormat($row['company_gst_date_registered']);
												else 
												echo $this->escape(date(get_config('date'), $row['company_gst_date_registered'])) ?>
											    </div>
                                            </div>
                                            <div class="details_info_l">
                                                <?php if (CheckAuth::checkCredential(array('settingsCompaniesEdit'))): ?>
                                                    <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['company_id']), 'settingsCompaniesEdit')); ?>');" class="details_info_opt">Edit</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsCompaniesDelete'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['company_id']), 'settingsCompaniesDelete')); ?>" onclick="return confirm('are you sure you want to delete this company?');" class="details_info_opt">Delete</a>
                                                <?php endif; ?>
												
                                                <div class="btn-group create-new-div action-btn">
                                                 <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Action  <span class="caret"></span></button>
                                                 <ul class="dropdown-menu">
                                                   <li>
                                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['company_id']), 'settingsCompaniesLogoUpload')); ?>" class="details_info_opt">Logo Upload</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['company_id']), 'settingsCompaniesInvoiceLogoUpload')); ?>" class="details_info_opt">Invoice Logo Upload</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['company_id']), 'settingsCompaniesSignatureLogoUpload')); ?>" class="details_info_opt"> Signature Logo Upload</a>
                                                        </li>
                                                        <li>
                                                            <a href="<?php echo $this->escape($this->url(array('company_id' => $row['company_id']), 'settingsCompanyInvoiceNoteList')); ?>" class="details_info_opt">Modify Invoice Note</a>
                                                        </li>
                                              </ul>
                                             </div>
                                                
                                                
                                                <div class="clearb"></div>
                                                <script>
                                                    $(function () {
                                                        // MENU	
                                                     //   $('#menu_<?php echo $this->escape($row['company_id']) ?>').fgmenu({
                                                       //     content: $('#menu_<?php echo $this->escape($row['company_id']) ?>').next().html(), // grab content from this page
                                                         //   showSpeed: 100
                                                        //});
                                                    });
                                                </script>
                                            </div></td>
                                        <td><div class="details_info_l" style="font-size: 12px;">
                                                <?php if ($row['company_enquiries_email']): ?>
                                                    <div>&#187; <b>Enquiries Email :</b> <?php echo $this->escape($row['company_enquiries_email']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_invoices_email']): ?>
                                                    <div>&#187; <b>Invoices Email :</b> <?php echo $this->escape($row['company_invoices_email']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_accounts_email']): ?>
                                                    <div>&#187; <b>Accounts Email :</b> <?php echo $this->escape($row['company_accounts_email']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_complaints_email']): ?>
                                                    <div>&#187; <b>Complaints Email :</b> <?php echo $this->escape($row['company_complaints_email']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_mobile1']): ?>
                                                    <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['company_mobile1']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_mobile2']): ?>
                                                    <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['company_mobile2']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_mobile3']): ?>
                                                    <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['company_mobile3']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_phone1']): ?>
                                                    <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['company_phone1']) ?></div>
                                                <?php endif; ?>    
                                                <?php if ($row['company_phone2']): ?>
                                                    <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['company_phone2']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_phone3']): ?>
                                                    <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['company_phone3']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_fax']): ?>
                                                    <div>&#187; <b>Fax :</b> <?php echo $this->escape($row['company_fax']) ?></div>
                                                <?php endif; ?>
                                                <?php if ($row['company_emergency_phone']): ?>
                                                    <div>&#187; <b>Emergency Phone :</b> <?php echo $this->escape($row['company_emergency_phone']) ?></div>
                                                <?php endif; ?>
                                            </div>
                                        </td>
                                        <td><div class="details_info_l" style="font-size: 12px;">
                                                <div>&#187; <b>City:</b> <?php echo $this->escape($row['country_name'] . ' - ' . $row['city_name']) ?></div> 
                                                <div>&#187; <b>Address :</b> <?php echo $this->escape(get_line_address($row, true)) ?></div>
                                                <?php if ($row['company_po_box']): ?>
                                                    <div>&#187; <b>PO Box :</b> <?php echo $this->escape($row['company_po_box']) ?></div>
                                                <?php endif; ?>
                                            </div></td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no Company.</div>
        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>


<script type="text/javascript">   
    function getCities(){
		
        if($('#country_id').val()){
            $('#city_block').css('display','table-row');
            $('#city').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country_id').val(),
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
    $(document).ready(function() {
		
		$('#date1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'yyyy-mm-dd'
            });
        
    });
</script>