<div class="col-lg-12 wrapper-content" style="padding-right: 26px;padding-left: 26px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsImageAttachmentAdd'))): ?>
                <div class="btn_cont">
                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Image upload','<?php echo $this->escape($this->url(array(), 'settingsImageAttachmentAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                           New Image
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div>
                    <h5>  Search Image </h5>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsImageAttachmentList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control" name="fltr[due_date]" type="text" value="<?php echo $this->escape(!empty($this->filters['due_date']) ? $this->filters['due_date'] : ''); ?>" />
                    
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsImageAttachmentList')); ?>" class="a_margin-responsive a_advance btn btn-white" >Reset</a>
                </form>
		   </div>
        </div>
    </div>
<div class="col-lg-12 wrapper-content">

    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div class="col-lg-12">
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsImageAttachmentDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Image Attachment?');">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> All Image Attachment</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsImageAttachmentDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="attach_img_table" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td class="details"><b>Image</b></td>
                                <td class="details"><b>Service Name</b></td>
                                <td class="details"><b>Tile Type</b></td>
                                <td class="details"><b>Description</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                            $modelServices = new Model_Services();
                            $modelAttributeListValue = new Model_AttributeListValue();
                            ?>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $count += 1; ?>
                                    <tr class="<?php
                                    if ($count % 2 != 0) {
                                        echo 'tr_cont_1';
                                    } else {
                                        echo 'tr_cont_2';
                                    }
                                    ?>">
                                    <tr class="gradeX">
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="details_info_l">
                                            <img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $row['thumbnail_path'])); ?>"/>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsImageAttachmentEdit'))): ?>
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Attachment Image','<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsImageAttachmentEdit')); ?>');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsImageAttachmentDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsImageAttachmentDelete')); ?>" onclick="return confirm('are you sure you want to delete this Image Attachment?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div></td>
                                        <td> <div class="details_info_l">
                                            <?php
                                            if ($row['service_id']) {
                                                $service = $modelServices->getById($row['service_id']);
                                                echo $this->escape($service['service_name']);
                                            } else {
                                                echo '-';
                                            }
                                            ?>
                                        </div>
                                        </td>
                                        <td>  <div class="details_info_l">
                                            <?php
                                            if ($row['attribute_list_value_id']) {
                                                $floor = $modelAttributeListValue->getById($row['attribute_list_value_id']);
                                                echo $this->escape($floor['attribute_value']);
                                            } else {
                                                echo '-';
                                            }
                                            ?>
                                        </div></td>
                                        <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php
                                            if ($row['description']) {
                                                echo "<a class=\"details_info_opt\" data-toggle=\"modal\" data-target=\"#popupi\" onclick=\"popupi('Description','" . $this->escape($this->url(array('id' => $row['id']), 'settingsImageAttachmentDescription')) . "');\" href=\"javascript:;\">";
                                                echo $this->escape(mb_substr($row['description'], 0, 30));
                                                echo (strlen($row['description']) > 30) ? ' ...' : '';
                                                echo '</a>';
                                            } else {
                                                echo '-';
                                            }
                                            ?>
                                        </div>
                                    </td>

                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
                       <div style="" class="noRowsMessageDIV">There are no Image Attachment.</div>


        <?php endif; ?>

    </div>
</div>

<?php ViewHelper::setStyleSheet('/css/jasny-bootstrap.min.css');?>
<?php ViewHelper::setJavaScript('/js/jasny-bootstrap.min.js'); ?> 
<script type="text/javascript">
    $('.fileinput').fileinput();
</script>