<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>

    <h3>Contact Details :</h3>

	<div class="form-group">
            <label class="col-md-3">Employee Name  <span style="color:#ff0000">*</span>:</label>
            <div class="col-md-9"><?php echo $this->form->getElement('name')->render(); ?></div>
    </div>
       
       <div class="form-group">
	  <label class="col-md-3">Email 1 <span style="color:#ff0000">*</span>:</label>
      
	 <div class="col-md-9">
              <div class="input-group">
                <?php echo ($this->form->getElement('email1')->render()); ?>
                 <span class="input-group-btn">
                 	 <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email_2').show();">
                     	<i class="fa fa-plus"></i> 
                	 </a>
                  </span>
                </div>
             </div>
	</div>
        <div id="email_2" style="display: <?php echo!$this->form->getElement('email2')->getValue() ? 'none' : 'table-row'; ?>;" class="form-group">
            <label  class="input_type col-md-3" >Email 2: </label>
            
           <div class="col-md-9">
              <div class="input-group">
               <?php echo ($this->form->getElement('email2')->render()); ?>
                 <span class="input-group-btn">
                 	 <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email_3').show();">
                     	<i class="fa fa-plus"></i> 
                	 </a>
                      	 <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email2').val('');$('#email_2').hide();">
                     	<i class="fa fa-minus"></i> 
                	 </a>
                  </span>
                </div>
             </div>
        </div>
        <div class="form-group" id="email_3" style="display: <?php echo!$this->form->getElement('email3')->getValue() ? 'none' : 'table-row'; ?>;">
            <label class="col-md-3">Email 3: </label>
            
           
               <div class="col-md-9">
              <div class="input-group">
               <?php echo ($this->form->getElement('email3')->render()); ?>
                 <span class="input-group-btn">
                 	
                      	 <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#email3').val('');$('#email_3').hide();">
                     	<i class="fa fa-minus"></i> 
                	 </a>
                  </span>
                </div>
             </div>
           
        </div>
        <div class="form-group">
            <label class="col-md-3" >Mobile 1 <span style="color:#ff0000">*</span>:</label>
            
            <div class="col-md-9">
              <div class="input-group">
               <?php echo ($this->form->getElement('mobile1')->render()); ?>
                 <span class="input-group-btn">
                 	
                      	 <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile_2').show();">
                     	<i class="fa fa-plus"></i> 
                	 </a>
                  </span>
                </div>
             </div>
            
        </div>
        <div class="form-group" id="mobile_2" style="display: <?php echo!$this->form->getElement('mobile2')->getValue() ? 'none' : 'table-row'; ?>;">
            <label class="col-md-3">Mobile 2:</label>
            
            <div class="col-md-9">
              <div class="input-group">
              <?php echo ($this->form->getElement('mobile2')->render()); ?>
                 <span class="input-group-btn">
                 	
                      	 <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile_3').show();">
                     	<i class="fa fa-plus"></i> 
                         </a>
                         <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile2').val('');$('#mobile_2').hide();">
                            <i class="fa fa-minus"></i> 
                         </a>
                  </span>
                </div>
             </div>
            
        </div>
       <div id="mobile_3" style="display: <?php echo!$this->form->getElement('mobile3')->getValue() ? 'none' : 'table-row'; ?>;" class="form-group">
            <label class="col-md-3" valign="top">Mobile 3:</label>
            
             <div class="col-md-9">
              <div class="input-group">
             <?php echo ($this->form->getElement('mobile3')->render()); ?>
                 <span class="input-group-btn">
                 	
                      	 
                         <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#mobile3').val('');$('#mobile_3').hide();">
                            <i class="fa fa-minus"></i> 
                         </a>
                  </span>
                </div>
             </div>
      </div>

       <div class="form-group">
            <label class="col-md-3" valign="top">Phone 1:</label>
            
<div class="col-md-9">
              <div class="input-group">
               <?php echo ($this->form->getElement('phone1')->render()); ?>
                 <span class="input-group-btn">
                 	
                      	 <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone_2').show();">
                     	<i class="fa fa-plus"></i> 
                	 </a>
                  </span>
                </div>
             </div>
        </div>
       <div  class="form-group" id="phone_2" style="display: <?php echo!$this->form->getElement('phone2')->getValue() ? 'none' : 'table-row'; ?>;">
            <label class="col-md-3">Phone 2:</label>
            
            <div class="col-md-9">
              <div class="input-group">
              <?php echo ($this->form->getElement('phone2')->render()); ?>
                 <span class="input-group-btn">
                 	
                      	 <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone_3').show();">
                     	<i class="fa fa-plus"></i> 
                         </a>
                         <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;"  onclick="$('#phone2').val('');$('#phone_2').hide();">
                            <i class="fa fa-minus"></i> 
                         </a>
                  </span>
                </div>
             </div>
            </div>
        <div id="phone_3" style="display: <?php echo!$this->form->getElement('phone3')->getValue() ? 'none' : 'table-row'; ?>;" class="form-group">
            <label class="col-md-3" valign="top">Phone 3:</label>
            
			 <div class="col-md-9">
              <div class="input-group">
             <?php echo ($this->form->getElement('phone3')->render()); ?>
                 <span class="input-group-btn">
                 	
                      	 
                         <a  class="btn btn-m btn-primary " href="javascript:;" style="text-decoration: none;" onclick="$('#phone3').val('');$('#phone_3').hide();">
                            <i class="fa fa-minus"></i> 
                         </a>
                  </span>
                </div>
             </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">Fax:</label>
            <div class="col-md-9"><?php echo $this->form->getElement('fax')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-3">Emergency Phone:</label>
            <div class="col-md-9"><?php echo $this->form->getElement('emergency_phone')->render(); ?></div>
    </div>
    

    <h3>Address Details :</h3>
<div class="form-group">
            <label class="col-md-3">Unit / Lot Number :</label>
            <div class="col-md-9"><?php echo $this->form->getElement('unit_lot_number')->render(); ?></div>
    </div>
         <div class="form-group">
            <label class="col-md-3">Street Number <span style="color:#ff0000">*</span>:</label>
            <div class="col-md-9"><?php echo $this->form->getElement('street_number')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-3">Street Name <span style="color:#ff0000">*</span>:</label>
            <div class="col-md-9"><?php echo $this->form->getElement('street_address')->render(); ?></div>
    </div>
        <div class="form-group">
            <label class="col-md-3">Suburb :</label>
            <div class="col-md-9"><?php echo $this->form->getElement('suburb')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-3">Postcode <span style="color:#ff0000">*</span>:</label>
            <div class="col-md-9"><?php echo $this->form->getElement('postcode')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-3">PO Box (Postal Address):</label>
            <div class="col-md-9"><?php echo $this->form->getElement('po_box')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-3">Country :</label>
            <div class="col-md-9"><?php echo $this->form->getElement('country_id')->render(); ?></div>
    </div>
	

        <div class="form-group" id="state_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-3" valign="top">State :</label>
            <div id="state_cont" class="col-md-9"><?php echo $this->form->getElement('state')->render(); ?></div>
        </div>

        <div class="form-group"id="city_block" <?php if (!$this->form->getElement('state')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-3" class="input_type" valign="top">City :</label>
            <div class="col-md-9" id="city"><?php echo $this->form->getElement('city_id')->render(); ?></div>
        </div>

  <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>        

</form>


<script type="text/javascript">
    
    function getState(){
        if($('#country_id').val()){
            $('#state_block').css('display','table-row');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country_id').val(),
                success: function(msg) {
                    $('#state_block').css('display','table-row');
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#state_block').css('display','none');
            $('#city_block').css('display','none');
        }
    }
    
    function getCities(){
        if($('#state').val()){
            $('#city_block').css('display','table-row');
            $('#city').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id="+$('#country_id').val()+"&state="+$('#state').val(),
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
</script>