

<div class="col-lg-12 wrapper-content">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div class="col-lg-8">
        <?php if ($this->data): ?>
                            <form action="<?php echo $this->escape($this->url(array(), 'settingsInquiryTypeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Inquiry Type?');">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> All Banned IPs</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsCustomerContactLabelDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="UnBlock"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover " id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $count += 1; ?>
                                   
                                    <tr class="gradeX">
                                         <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                        <td> <div class="details_info_l">
                                            <?php echo $this->escape($row['ip_address']) ?>    
                                        </div></td>
                                       

                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
                            <div style="" class="noRowsMessageDIV">There are no blocked IP.</div>
        <?php endif; ?>
    </div>
</div>
