<?php
$dateTimeObj= get_settings_date_format();
	if($dateTimeObj)
	{
		$JsDateFormat= dateFormat_zend_to_js($dateTimeObj['date_format']);
	}
	else
	{
		$JsDateFormat= 'dd-mm-yyyy';
	}
?>
<form id="form_convert_to_estimate" class="form-horizontal"  method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="submit_to_estimate('<?php echo $this->escape($this->form->getAction()); ?>','#form_convert_to_estimate','#TB_ajaxContent');return false;">
    
    <div class="form-group">
		    <label class="col-md-4" valign="top">To Follow:</label>
            <div class="col-md-8"><?php echo ($this->form->getElement('to_follow')->render()); ?></div>
	</div>
        
        <div class="form-group">
            <label class="col-md-4">Active:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('is_to_follow')->render(); ?></div>
        </div>
        <div class="form-group">
            
            <div class="col-md-8 col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
        </div>
   
</form>

<script  type="text/javascript">

    $(document).ready(function() {
        $('#to_follow').datepicker({
            format: '<?=$JsDateFormat?>',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    });
    
    function submit_to_estimate(url,form,content){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize(),
            success: function(msg) {
                if(msg == '1') {
                    window.location='<?php echo $this->escape($this->url(array(), 'estimates')); ?>'
                } else {
                    $(content).html(msg);
                }
            }
        });
    }
</script>