<script src="https://use.fontawesome.com/eddc08a476.js"></script>
<style>
table {border: 0px;}
.statusBorder
{
	
	margin-bottom:10px;
	box-shadow: 2px 2px 3px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-style: solid;
    border-width:1px;
    padding:1px;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}
/*
.statusBorder:hover {
	padding-left: 5px;
	}*/
	
.contactinfo {
	 border-radius:10px;
  background: #FFFFFF;
}

.tech {
	border-radius: 7px;
  background: #e9fde6;
  border-style: solid;
  border-color:#48bc5a;
    border-width:1px;
    
	padding:2px;
}
.glyconStyle{
    width:25px;
    height:25px;
    background: #00B0D8;
    padding:3px;
	margin:1px;
    border-radius: 100%;
    color: white;
    text-align:center;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.5px;
	border-color: #E3E3E3;
}
</style>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ container: 'body' });

});
</script>

<?php if(isset($this->data) && !empty($this->data)) { ?>
<div id="form">
<div id="result">
<?php
 foreach ($this->data as $row) {
	 $modelUser = new Model_User();
$modelClaimOwner = new Model_ClaimOwner();
	 $loggedUser = CheckAuth::getLoggedUser();
			$modelBookingStatus = new Model_BookingStatus();
			$modelBookingAddress = new Model_BookingAddress();
			$modelCustomerFeedback = new Model_CustomerFeedback();
			$status = $modelBookingStatus->getById($row['booking']['status_id']);
			$bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']);
			$modelBookingEstimate = new Model_BookingEstimate();
			$estimate = $modelBookingEstimate->getByBookingId($row['booking_id']);
					
			$modelBookingInvoice = new Model_BookingInvoice();
			$invoice = $modelBookingInvoice->getByBookingId($row['booking_id']);
					
			$modelBookingReminder= new Model_BookingReminder();
			$ReminderArray= $modelBookingReminder->getByBookingId($row['booking_id']);
		    $bookinglat = $bookingAddress['lat'];
            $bookinglon = $bookingAddress['lon'];
			
			
			 $modelBooking = new Model_Booking();
			 $booking = $modelBooking->getById($row['booking_id']);
			 $is_accepted = $modelBooking->checkBookingIfAccepted($row['booking_id']);
			 $cityId = $booking['city_id'];
			 
	 $color = '#A1A1A1';
                                            switch ($row['estimate_type']) {
                                                case 'draft':
                                                    $color = '#289a84';
                                                    break;

                                                case 'booking':
                                                    $color = '#a0c75c';
                                                    break;
                                            }
											
///////////////////// Start Rand //////////////////	 ?>

<div class="row statusBorder" style="cell-spacing:2px; border-left-color:<?=$color?>; margin: 0; margin-bottom:10px; font-size:11px; ">

<!-----///////////////////// MAIN ESTIMATE BOX //////////////////----->
<div class="col-sm-3" width="100%" style="padding:5px;  margin:0px; border:0px; border-width:0px;" > 
			
			
	<div width="100%" class="table-responsive" style="padding:3px; top:0px; bottom:0px; left:3px; right:0px; border:0px; border-width:0px;">
			<table width="100%" style="top:0px; bottom:0px;">
			
			<tr width="100%">
			<td colspan="5" width="100%">
			<table width="100%">
			<tr>
			
			<td style="color:<?=$color?>; font-style: italic;   font-weight: bold; " height="20" width="70%">
			<table>
			<tr>
			<td>
			<strong> <?php echo (strtoupper ($this->escape($row['estimate_type']))); ?></strong>
			</td>
			<td rowspan="2"><?php if (CheckAuth::checkCredential(array('bookingEdit')) && $is_accepted){ ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit'))."&type=estimate"; ?>">
			 
			    <span class="fa-stack fa-lg" style="font-size:14px;">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span>
			</a>	<?php } ?>
			</td>
			</tr>
			<tr>
			<td>
			<?php if (CheckAuth::checkCredential(array('estimateView'))){ ?>
                  <a href="<?php echo $this->escape($this->url(array('id' => $row['id']),'estimateView')); ?>" class="details_info_name" style="color:<?=$color?>;"><?php echo $this->escape($row['estimate_num']); ?></a>
                 <?php } else{ ?>
                  <span class="details_info_name"><strong><?php echo $this->escape($row['estimate_num']) ?></strong></span>
                  <?php } ?>
			</td>
			</tr>
			</table>
			</td>
			<td align="right" width="30%" style="color:<?=$color?>;">
			<!------ Actions Button --------->
			<div class="details_info_l actions-list">
                <?php
                                            $actions = array();

                                            if ($this->isDeleted) {
                                                if (CheckAuth::checkCredential(array('estimateUndelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateUndelete'))}','Are you sure you want to UnDelete this Estimate ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">UnDelete</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('estimateDeleteForEver'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateDeleteForEver'))}','Are you sure you want to Delete this Estimate For Ever ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete For Ever</a>';
                                                }
                                            } else {

                                                if ($row['estimate_type'] != 'booking') {

                                                    if (CheckAuth::getRoleName() == 'contractor') {
                                                        if ($row['not_accepted']) {
                                                            $popupConfig = "'Accept','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                            $actions[] = '<a class="a_accept"  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                                        }

                                                        if ($row['not_accepted_or_rejected']) {
                                                            $popupConfig = "'Reject','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                            $actions[] = '<a class="a_reject"  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                                        }
                                                    }

                                                    if (CheckAuth::checkCredential(array('bookingEdit')) && $row['isAccepted']) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')).'&type=estimate' . '" class="details_info_opt"> <i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>';
                                                    }

                                                     if (CheckAuth::checkCredential(array('convertBookingToInvoice'))) {
                                                      $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                                     }

                                                    if (CheckAuth::checkCredential(array('convertEstimateToBooking')) && $row['isAccepted']) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertEstimateToBooking')) . '" class="details_info_opt">Convert To Booking</a>';
                                                    }


                                                    if (CheckAuth::checkCredential(array('bookingEdit'))) {
                                                        if (isset($row['booking']['is_to_follow']) && $row['booking']['is_to_follow']) {
                                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['id']), 'removeFollowUpEstimate')) . '" class="details_info_opt">Remove Follow Up</a>';
                                                        } else {
                                                            $popupConfig = "'Follow Estimate','{$this->escape($this->url(array('id' => $row['id']), 'followUpEstimate'))}'";
                                                            $actions[] = '<a class="details_info_opt"  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Follow Up</a>';
                                                        }
                                                    }


                                                    // Find Availability
                                                    $findAvailabilityParams = array();
                                                    $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                    $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                    $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                    $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                    $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                    $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                    $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                    $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                                    $findAvailabilityParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                                    foreach ($row['services'] as $service) {
                                                        $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                                    }
                                                    $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                                    $popupConfig = "'Find Availability','{$this->escape($this->url(array(), 'findAvailability'))}','{$findAvailabilityParams}'";
                                                    $actions[] = '<a  data-toggle="modal" data-target="#popupi" href="#" onclick="popupi_with_parm(' . $popupConfig . ');" class="details_info_opt">Find Availability</a>';

                                                    //Nearest Booking
                                                    $nearestBookingParams = array();
                                                    $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                    $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                    $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                    $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                    $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                    $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                    $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                                    $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking']['booking_start'])));
                                                    $nearestBookingParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                                    $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                    $nearestBookingParams = implode("&", $nearestBookingParams);
                                                    $popupConfig = "'Nearest Bookings','{$this->escape($this->url(array(), 'getRelatedAddress'))}','{$nearestBookingParams}'";
                                                    $actions[] = '<a  data-toggle="modal" data-target="#popupi" href="#" onclick="popupi_with_parm(' . $popupConfig . ');">Nearest Bookings</a>';


                                                    if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                                        $popupConfig = "'Add Complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                                        $actions[] = '<a data-toggle="modal" data-target="#popupi" href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Add Complaint</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('estimateDiscussion'))) {
                                                        $popupConfig = "'Estimate Discussion','{$this->escape($this->url(array('id' => $row['id'],'process'=>'send','type'=>'estimate'), 'itemDiscussion'))}'";
                                                        $actions[] = '<a data-toggle="modal" data-target="#popupi" href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Estimate Discussion</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('estimateLabel'))) {
                                                        $popupConfig = "'Estimate Label','{$this->escape($this->url(array('id' => $row['id']), 'estimateSelectLabel'))}'";
                                                        $actions[] = '<a data-toggle="modal" data-target="#popupi" href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('attachment'))) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('sendAdvertisingEmail'))) {
                                                        $popupConfig = "'Advertising Email','{$this->escape($this->url(array('id' => $row['id']), 'sendAdvertisingEmail'))}'";
                                                        $actions[] = '<a data-toggle="modal" data-target="#popupi" href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Advertising Email</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('claimOwner')) && $row['booking']['created_by'] != $loggedUser['user_id']) {
                                                        $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                                        if (empty($claimOwner)) {
                                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                                        }
                                                    }
                                                }

                                                if (CheckAuth::checkCredential(array('estimateDelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateDelete'))}','Are you sure you want to delete this Estimate ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                                }
                                            }

                                            $line_actions = array_slice($actions,0,1);
                                            $drop_down_actions = array_slice($actions,1);
                                            ?>
                
                <?php if ($drop_down_actions){ ?>
                  <div class="btn-group ">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn btn-sm" style="background-color:#00B0D8;">Actions  <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <?php foreach ($drop_down_actions as $drop_down_action){ ?>
                            <li> <?php echo $drop_down_action; ?> </li>
                        <?php } ?>
                    </ul>
                </div>		
             
           
					<?php } ?>
              </div>
			</td>
			</tr>
			</table>
			</td>
			</tr>
			
			<tr height="20">
			<td align="center" width="10%"><i class="fa fa-usd fa-1x" style="color:#a9aaac;"></i></td>
			<td colspan=4><?php
                                            $modelBooking = new Model_Booking();
                                            $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id']);
                                            ?>
             <a style="color:#a9aaac;" href="<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'paymentEwayAdd')); ?>"> <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?> inc GST </a></td>
			
			</tr>
			
			<tr height="20">
			<td align="center"><i class="fa fa-clock-o fa-1x" style="color:#a9aaac;"></i></td>
			<td colspan="4"><?php if (!empty($row['booking']['to_follow'])){ ?>
                 <strong>Deferred To :</strong> <a href="javascript:;" onclick="change_follow_date(<?=$row['booking_id']?>)"> <?php echo $this->escape(getDateFormating($row['booking']['to_follow'])) ?> </a>
                <?php } ?></td>
			</tr>
			<tr height="25">
			<td align="center" valign="top"><i class="fa fa-tag fa-1x" style="color:#a9aaac;"></i></td>
			<td colspan="4" style="color:<?=$color?>" style="font-weight:bold;">
			<?php if (CheckAuth::checkCredential(array('EstimateLabel '))){ ?>
			<table width="100%">
			<tr>
			<td width="90%">
			<span id="label_<?=$row['id']?>" class="Booking_labels">
			<?php if (isset($row['labels'])){ ?>
			<ul class="booking_label">
                                    <?php foreach ($row['labels'] as $label){ ?>
                                        <li>
                                       <?php echo $this->escape($label); ?>
                                        </li>
                                    <?php } ?>
                                </span>
			</ul>
			<?php } ?> 
			</td>
			<td width="10%" style="font-size:10px;" valign="top">
			<a class ="labels_btn" title="Add Label" data-toggle="modal" data-target="#popupi" onclick="popupi('Estimate label', '<?php echo $this->escape($this->url(array('id' => $row['id']), 'estimateSelectLabel')); ?>');">
			<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:<?=$color?>"></i>
				  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                </span></a>
			</td>
			</tr>
			</table>
			<?php } ?> 
			</td>
			</tr>
			
			<tr height="10">
			<td>&nbsp </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			</tr>
			<tr height="45" width="100%">
			<td colspan="5" width="100%">
			<table width="100%">
			<tr>
			<?php
               $userObj = new Model_User();
                $user = $userObj->getById($this->escape($row['booking']['created_by']));			   
			?>
			<td><a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['booking']['created_by']), 'settingsContractorInfoList')); ?>"> <img  src="<?php
                        if ($user['avatar']) {

                            echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $user['avatar']);
                        } else {
                            echo $this->baseUrl('/pic/contractor_pic1.png');
                        }
                        ?>" width="35" height="35" class="img-circle" alt="profile"></a> <td>
			<td align="left"><?php echo date("F j ,Y", $row['created']); ?> </td>
			<td  align="right" width="20%" style="font-size:10px;">
			<a href="#"  data-toggle="modal" data-target="#popupi" class="btn btn-primary create-btn btn-xs" style="background-color:#00B0D8; padding:3px;" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('id' => $row['id']), 'estimateDisscussion')); ?>');">
			<i class="fa fa-comments fa-lg" style="color:#ffffff"></i> DISCUSSION</a>
			
			</td>
			</tr>
			</table>
			</td>
			</tr>
			
			
			</table>
			</div>
</div>
<!------------------ END ESTIMATE BOX ----------------------------------------------------------->





<!------------------ CUSTOMER BOX ---------------------------------------------------------------->
<div class="col-sm-3" style="padding:2px; margin:0px; margin-top:5px; margin-bottom:5px;">
	<div width="100%" class="table-responsive" style="vertical-align: middle; background-color:#ffffff; border-radius: 10px; min-height:180px; padding:3px;">
			<table width="100%" style=" margin: auto; height:auto;" >
			 <tr>
			 <td colspan="3">
			  <table width="100%" style="font-size:10px;">
			  <tr width="100%">
			  
			  <td style="color:#0CB225; font-weight:bold; font-size:10px;" width="50%">
               <strong>
			  <?php if (!empty($row['customer_name'])){ ?>
                  <div> <i class="fa fa-user"  style="color:#0CB225;"></i>
                    <?php if (CheckAuth::checkCredential(array('customerView'))){ ?>
                    <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black" style="color:#0CB225;"><?php echo $this->escape($row['customer_name']); ?><span class="fa-stack fa-lg" style="font-size:7px;">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span></a>
                    <?php }else { ?>
                    <?php echo $this->escape($row['customer_name']) ?>
                    <?php } ?>
										
                  </div>
                      <?php } ?>
					  
					  
					  </strong></td>
					  <td colspan="2" width="50%">
					  <span align="right" style="float:right; font-size:9px; padding:2px;">
					  <span class="btn-group ">
					  <a href="#" data-toggle="dropdown" class="dropdown-toggle">
			  <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span></a>
			  
			                        <ul class="dropdown-menu" style="color: #000000;">
                                    <?php if (CheckAuth::checkCredential(array('sendEmail'))){ ?>
                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email', '<?php echo $this->escape($this->url(array('id' => $row['customer']['customer_id'], 'type' => 'estimate', 'reference_id' => $row['id']), 'sendEmail')); ?>');">Send Email</a>
                                        </li>
                                    <?php }  
									
                                    $onHold = $modelBookingStatus->getByStatusName('ON HOLD');
                                    if ($row['booking']['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential(array(
                                                'sendBookingAsEmail'))) {
                                        ?>

                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder On Hold</a>
                                        </li>

												<?php }
                                    $tentative = $modelBookingStatus->getByStatusName('TENTATIVE');
                                    if ($row['booking']['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential(array(
                                                'sendBookingAsEmail'))) {
                                        ?>

                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder Tentative</a>
                                        </li>

												<?php }
												
												if (CheckAuth::checkCredential(array('sendBookingAsEmail'))){ ?>
                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmail')); ?>');">Email Booking</a>
                                        </li>
												<?php }

												if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))){ 
												
												$customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($row['booking_id'], $row['booking']['status_id']); 
												if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1){ ?>
                                            <li >   
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Request Feedback','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendRequestBookingFeedback')) ?>');" class="details_info_opt" >Request Feedback</a>
                                            </li>
												<?php } } ?>
												
												<?php 
												if(isset($row['booking']['original_inquiry_id']) && $row['booking']['original_inquiry_id']!=null){
												if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
													<li>
                                                 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Advertising Email','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Inquiry</a>
												 </li>
												<?php    }}
                                                 
												if (isset($estimate['id']) && $estimate['id']!=null) {
													if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
													<li class="email">
														<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
													</li>
												<?php } }?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){  ?>
														<li>
														<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
														</li>
											<?php }
											}?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
															<li>
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Statement Email','<?php echo $this->url(array('id' => $invoice['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
															</li>
											<?php }}  ?>
													
												

                                </ul>
			  </span>
			  <a href="#"  data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('id' => $row['booking_id'],'process'=>'send','type'=>'booking'), 'itemDiscussion')); ?>');">
			   <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                </span>
			   </a>
			  <a href="#"  data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="<?php echo "Mobile: ".$row['customer']['mobile1']." \r\nWork: ".$row['customer']['phone1'];?>">
			  <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
					  </span>
					  </td>
			  </tr>
			  
			  <tr width="100%">
			  
			  <td colspan="3" >
			  <div id="address_list">
                  <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                  <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $bookingAddress): ?>
                  <?php if ($row['isAccepted']): ?>
                  <?php $lineAddress = get_line_address($bookingAddress); ?>
                  <span class="glyphicon glyphicon-home" style="color:#DADBDC;"></span><a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>"> <?php echo $this->escape($lineAddress); ?> </a>
                  <?php else: ?>
                  <?php $lineAddress = get_some_details_line_address($bookingAddress); ?>
                  <?php echo $this->escape($lineAddress); ?>
                  <?php endif; ?>
                  <?php endif; ?>
                </div></td>
			  
			  </tr>
			  
			  </table>
			 
			  </td>
			  </tr>
			  <tr>
<td colspan="3"> <hr> <strong>CONTACT HISTORY</strong> </td>
			  </tr>
			  <tr>
			  <td colspan="3" width="100%">
			  <div  id = "contact_history_<?php echo $this->escape($row['booking_id']); ?>" class="details_info_l">
                <?php
                                            $inquiryContactHistory = array();
                                            if (!empty($row['booking']['original_inquiry_id'])) {
                                                $modelInquiryReminder = new Model_InquiryReminder();
                                                $inquiryContactHistory = $modelInquiryReminder->getContactHistory($row['booking']['original_inquiry_id']);
                                            }
                                            ?>
                <?php if ($inquiryContactHistory): ?>
                <?php foreach ($inquiryContactHistory as $reminder): 
				?>
                <div>
                  <?php $user = $modelUser->getById($reminder['user_id']); 
				  //echo 'test '.$user['avatar']; ?>
                  
				  <a href="<?php echo $this->escape($this->url(array('contractor_id' => $reminder['user_id']), 'settingsContractorInfoList')); ?>"> 
                        <img  src="<?php if ($user['avatar']) {
								echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $user['avatar']);
							} else {
								echo $this->baseUrl('/pic/contractor_pic1.png');
								}?>" 
						width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> </a><a href="#" data-target="#popupi" data-toggle="modal"  onclick="popupi('Add Note','<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'inquiryReminderView')); ?>');" class="details_info_opt"><?php echo $this->escape(getDateFormating($reminder['created'])); ?></a>
                  <?php if (CheckAuth::checkCredential(array('inquiryReminderDelete'))): ?>
                  <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $reminder['inquiry_id'], 'reminder_id' => $reminder['id']), 'inquiryReminderDelete')); ?>');" ><img height="10" width="10" src="/pic/remove.png" border="0" ></a>
                  <?php endif; ?>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
                <?php if (isset($row['booking_contact_history']) && $row['booking_contact_history']): ?>
                <?php foreach ($row['booking_contact_history'] as $contactHistory): ?>
                <div>
                  <?php $user = $modelUser->getById($contactHistory['user_id']); ?>
                  <a href="#" data-toggle="modal" data-target="#popupi" style="color:black;" onclick="popupi('ADD Note','<?php echo $this->escape($this->url(array('id' => $contactHistory['id']), 'bookingContactHistoryView')); ?>');" class="details_info_opt"><a href="<?php echo $this->escape($this->url(array('contractor_id' => $reminder['user_id']), 'settingsContractorInfoList')); ?>"> 
                        <img  src="<?php if ($user['avatar']) {
							echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $user['avatar']);
							} 
						
						else {
							echo $this->baseUrl('/pic/contractor_pic1.png');
							}?>" 
						width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> </a><?php echo $this->escape(getDateFormating($contactHistory['created'])); ?></a>
                  <?php if (CheckAuth::checkCredential(array('bookingContactHistoryDelete'))): ?>
                  <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $row['booking_id'], 'contact_history_id' => $contactHistory['id']), 'bookingContactHistoryDelete')); ?>');" ><img height="10" width="10" src="/pic/remove.png" border="0" ></a>
                  <?php endif; ?>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
               
              </div>
			  </td>
			  </tr>
			  <tr width="100%" align="right">
			  <td style="vertical-align:bottom; align:right;"> <a href="#"  data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('id' => $row['booking_id'],'process'=>'send','type'=>'booking'), 'itemDiscussion')); ?>');">
			   <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                </span>
			   </a> </td>
			  </tr>
			 </table>
			
	</div>
</div>

<!-------------------END CUSTOMER BOX ------------------------------------------------------------>


<!--------------------- CONTRACTOR BOX ----------------------------------------------------------->
<div class="col-sm-2" style="padding:2px; margin:0px; margin-top:5px; margin-bottom:5px;">
			<div width="100%" class="table-responsive " style=" vertical-align: middle; border:0px;">
			
			<?php 
			$userAvatar = '';
			foreach ($row['contractors'] as $contractor_id => $contractor_name){ 
			
			
			 $modelContractorServiceBooking = new Model_ContractorServiceBooking();
			 $modelBookingAttendance = new Model_BookingAttendance();
			   
			   
			    $user = $modelUser->getById($contractor_id);
				$userAvatar=$user['avatar'];
				$bookingServicesIds=array();
                 if ($user['username'] == 'enquiries') {
					 ////////////// if there is no contractors //////////////////////////////////////////////
				 $BookingServicesList = $modelContractorServiceBooking->getByBookingId($row['booking_id']);
				 ?>
			<div style="min-height:175px; background-color:#ffffff; border-radius: 10px; padding:5px; padding-bottom: 45px; ">
		<div>		
		    <table width="100%" style=" margin: auto;" valign="top">
			<tr>
			<td colspan="3" style="padding-top:5px;"><strong>SERVICES</strong> <hr> </td>
			</tr>
			<tr>
			<td colspan="3" valign="top">
			
						<?php 
						
						foreach($BookingServicesList as $service){
							
							$bookingServicesIds[$service['service_id']]=$service['service_id'];
			$serviceModule = new Model_Services();
				$serviceName = $serviceModule->getById($service['service_id']);
			?>
			<tr>
			
			<td colspan="3" valign="top">
			<?php 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Accept Admin service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                            class="details_info_opt"  style="color:#939292;"><span class="glyphicon glyphicon-star" style="color:#939292;"></span> <?=$serviceName['service_name']?> </a>  
			<?php 
			}
			else 
			{ ?>
				<a href="#"  style="color:#939292;"><span class="glyphicon glyphicon-star" style="color:#939292;"></span> <?=$serviceName['service_name']?> </a> 
			<?php } ?>
							
				</td>
			</tr>
			<?php
			}
			?>
			
			</td>
			</tr>
			</table>
			</div>
			<div align="right" style="position: absolute; bottom: 0;width: 100%;float:right; text-align:right; height:45px; z-index:10; margin-bottom:0px; padding-right:10px; left:0">
			<table width="100%" style="margin-left:5px;margin-right:5px;"> 
			<tr>
			<td width="50%" align="left">
			 <?php
                            $modelBookingAddress = new Model_BookingAddress();
                            $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']);
                            $nearestBookingParams = array();
                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($booking['booking_start'])));
                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($booking['booking_start'])));
                            $nearestBookingParams[] = 'city_id=' . urlencode($booking['city_id']);
                            $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                            $nearestBookingParams = implode("&", $nearestBookingParams);
                            ?>
			<button class="btn btn-primary create-btn btn-xs"  href="#" data-toggle="modal" data-target="#fn_nearest" style="background-color:#00B0D8; font-size:10px;padding:2px;"
                                    onclick="fn_popupi_with_parm('Nearest Booking', '<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>', '<?php echo $this->escape($nearestBookingParams) ?>');">Nearest Booking</button>
									
			<td>
			 <?php
                            $findAvailabilityParams = array();
                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($booking['booking_start'])));
                            $findAvailabilityParams[] = 'city_id=' . urlencode($booking['city_id']);
                            foreach ($BookingServicesList as $service) {
                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                            }
                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                            ?>
							<button  class="btn btn-primary create-btn btn-xs" style="background-color:#00B0D8; font-size:10px; padding:2px;"  href="#" data-toggle="modal" data-target="#fn_nearest" onclick="fn_popupi_with_parm('Find Availability', '<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>', '<?php echo $this->escape($findAvailabilityParams) ?>');">Find Availability</button>
			
			</td>
			  </tr>
			  </table>
			</div>
			</div>
					 
				<?php }
				 else {
					 //////////////// If there is a contractor ///////////////////////////////////////////////////
				 
				 $contractorservices = $modelContractorServiceBooking->getByBookingIdAndContractorId($row['booking_id'], $contractor_id);
					 ?>
					 			<div class="tech" style="min-height:175px; padding-bottom: 45px; ">
		<div>		
		    <table width="100%" style=" margin: auto;" valign="top">
			<tr>
			<td colspan="2">
			<table>
			<tr>
			
			<td colspan="2" valign="top">
			<strong><a href="#"><span class="glyphicon glyphicon-user" style="color:#48bc5a;"></span></a>
			<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black" style="color:#48bc5a;"><?php echo $this->escape(ucwords($user['username'])); ?></a></strong>
			</tr>
			
			<?php
				
                        ?>
						
			<tr>
			<td style="color:#48bc5a; font-size:10px;" colspan="2" valign="top">  
                     
	        (<?php 
			$distance=$modelBookingAddress->getDistanceByTwoAddress($user, $bookingAddress);
			
			echo number_format($distance, 2); ?> KM Away)
			   </td>
			</tr>
			
			
			</table>
			</td>
			<td align="right" valign="middle">
			<span style="padding:3px;">
			<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList')); ?>"> <img  src="<?php
                        if ($user['avatar']) {

                            echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $user['avatar']);
                        } else {
                            echo $this->baseUrl('/pic/contractor_pic1.png');
                        }
                        ?>" width="38" height="38" class="img-circle" alt="profile" border="2" style="border:2px solid #48bc5a;"></a>
			</span> &nbsp
			</td>
			</tr>
			<tr>
			<td colspan="3" valign="top">
			
						<?php 
			foreach($contractorservices as $service){
				if($service['is_accepted']){
					$glycon="glyphicon-ok-sign";
					$glyconColor="#0CB225";
				}
				else if($service['is_rejected']){
					$glycon="glyphicon-remove-sign";
					$glyconColor="#EC1302";
				}
				else if($service['is_change']){
					$glycon="glyphicon-question-sign";
					$glyconColor="#6919B2";
				}
			?>
			<tr>
			
			<td colspan="3" valign="top">
			<?php 
			if ($service['is_accepted']){ 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
                            class="details_info_opt"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a>  
			<?php 
			}
			else 
			{ ?>
				<a href="#"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a> 
			<?php }
			}	?>

             <?php 
			if ($service['is_rejected']){ 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                            class="details_info_opt"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a>  
			<?php 
			}
			else 
			{ ?>
				<a href="#"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a> 
			<?php }
			}	?>	

			<?php 
			if(!$service['is_accepted'] && !$service['is_rejected']){ 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
                            class="details_info_opt"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a>  
			<?php 
			}
			else 
			{ ?>
				<a href="#"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a> 
			<?php }
			}	?>
							
				</td>
			</tr>
			<?php
			}
			?>
			
			</td>
			</tr>
			</table>
			</div>
			<div align="right" style="position: absolute; bottom: 0;width: 100%;float:right; text-align:right; height:45px; z-index:10; margin-bottom:5px; padding-right:10px; left:0">
			<table width="100%" style="margin-left:10px;margin-right:5px;"> 
			<tr>
			<td width="40%" style="font-size:10px;" align="left"><?php 
			$lastvisited = new Model_VisitedExtraInfo();
			$lastvisitedDate =$lastvisited->getLastVisitedExtraInfoByBookingId($row['booking_id']);
			if($lastvisitedDate['is_visited'] == 1 && $lastvisitedDate['job_end']!= null){
				echo 'Visited '.date("F j ,Y", strtotime($lastvisitedDate['job_end']));
			}
			?></td>
			<td width="60%" align="right" style="font-size:10px;">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
			  <span class="fa-stack fa-lg" style="margin:0px; padding:0px;">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;margin:0px; padding:0px;" ></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
			  
                            
                                <ul class="dropdown-menu" style="color: #000000;">
                                    <?php if (CheckAuth::checkCredential(array('sendBookingAsEmailToContractor'))){ ?>
                                        <li class="email">
                                            <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmailToContractor')); ?>')">Email Booking</a>
                                        </li>

                                    <?php } ?>
									<?php 
												if($row['booking']['original_inquiry_id']!=null){
												if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
													<li>
                                                 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Enquiry','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Enquiry</a>
												 </li>
												<?php    }}
											
											if (isset($estimate['id']) && $estimate['id']!=null) {
													if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
													<li class="email">
														<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $row['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
													</li>
													<?php }}?>
									<?php 
											if (isset($row['invoice']['id']) && $row['invoice']['id']!=null) {
											
											if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){?>
														<li>
														<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $row['invoice']['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
														</li>
											<?php }
											}?>
											
											<?php 
											if (isset($row['invoice']['id']) && $row['invoice']['id']!=null) {
											if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
															<li>
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Statement','<?php echo $this->url(array('id' => $row['invoice']['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
															</li>
											<?php }}?>
													
													
													

                                </ul>
							  
							  
                           </a>
			  
			   <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'contractorDiscussion')); ?>');">
			   <span class="fa-stack fa-lg" style="margin:0px; padding:0px;">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;margin:0px; padding:0px;"></i>
				  <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                </span></a>
			  <a href="#"  data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="<?php echo "Mobile: ".$user['mobile1']." \r\nWork: ".$user['phone1'];?>">
			  <span class="fa-stack fa-lg" style="margin:0px; padding:0px;">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;margin:0px; padding:0px;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
			  &nbsp &nbsp</td>
			  </tr>
			  </table>
			</div>
			</div>
				<?php }


				?>
	
			<?php } ?>
			</div>
			</div>
<!----------------------END CONTRACTOR BOX ------------------------------------------------------->

<?php
/////////// GET AVAILABLE CONTRACTORS ///////////////
$modelContractorService = new Model_ContractorService();
/// get get contractor ids by city_id and service_id
			if (!empty($bookingServicesIds)) {
				foreach ($bookingServicesIds as $service_id) {
						if ($cityId) {
							$ContractorServices = $modelContractorService->getContractorByServiceIdAndCityId($service_id, $cityId);
						} else {
							$ContractorServices = $modelContractorService->getContractorByServiceId($service_id);
						}
					foreach ($ContractorServices as $ContractorService) {
						 $contractor_ids[$ContractorService['contractor_id']] = $ContractorService['contractor_id'];
					}
				}
				
						/// here calculate the distance between each contractor and inquiry address
			$contractorDistances = array();
			if(!empty($contractor_ids))
			{
				foreach ($contractor_ids as $contractorId) {
					if($contractorId != 1){
						$contractor = $modelUser->getById($contractorId);
						$lineAddressArray = array(
							'unit_lot_number' => $contractor['unit_lot_number'],
							'street_number' => $contractor['street_number'],
							'street_address' => $contractor['street_address'],
							'suburb' => $contractor['suburb'],
							'state' => $contractor['state'],
							'postcode' => $contractor['postcode']
						);
						$contractorAddress = get_line_address($lineAddressArray);
						?>
						<div id="contractor_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" class="AvailablecontractorDiv_<?=$row['booking_id']?>" value="<?=$contractor['user_id']?>"></div>
						<div id="contractorAvatar_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$contractor['avatar']?>"></div>
						<div id="contractorAddress_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$contractorAddress?>"></div>
						<div id="contractorDistance_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" value="<?=number_format($modelBookingAddress->getDistanceByTwoAddress($contractor, $bookingAddress), 2)?>"></div>
						<div id="contractorName_<?=$row['booking_id']?>_<?=$contractor['user_id']?>" value="<?=$contractor['username']?>"></div>
						
						<?php 
					}
				}
			}
			}
			
//////////// END GET AVAILABLE CONTRACTORS //////////// 
?>

<!------------------------------- MAP BOX -------------------------------------------------------->
			<div class="col-sm-4"  style="border-radius: 10px; margin:0px; padding:5px; height:190px;">
			<div align="right" float="right" style="float:right; right: 0; border-radius: 5px; z-index: 10;  background-color:#ffffff; position: absolute; top:0px; height:20px; vertical-align: middle; margin-top:20px; margin-right:10px; padding:3px;"> &nbsp <?=$lineAddress?> &nbsp </div>
			<div id="map_<?=$row['booking_id']?>" style="width:100%; height:180px; border-radius: 10px;"></div>
			
			</div>
			<div id="mapID_<?=$row['booking_id']?>" class="map1" value="<?=$row['booking_id']?>"></div>
			<div id="bookingAddress_<?=$row['booking_id']?>" value="<?=get_line_address($bookingAddress)?>"></div>
			<div id="userAvatar_<?=$row['booking_id']?>" value="<?=$userAvatar?>"></div>
			<div id="bookinglat_<?=$row['booking_id']?>" value="<?=$bookinglat?>"></div>
			<div id="bookinglon_<?=$row['booking_id']?>" value="<?=$bookinglon?>"></div>
			
			
<!-----------------------//$userAvatar-------- END MAP BOX -------------------------------------------------------->



</div>
<?php }?>
</div>
</div>
<?php }
?>

<script>
<?php
$session = new Zend_Session_Namespace();
$viewPopup = $session->viewPopup;
?>
<?php if ($viewPopup && $viewPopup == '1'): ?>
    <?php
    $session = new Zend_Session_Namespace();
    $session->viewPopup = '0';
    $viewPopup = $session->viewPopup;
    ?>


            $('#fn_nearest').modal('show');
            fn_popupi_with_parm('Email Quote', '<?php echo $this->escape($this->url(array(), 'sendBookingConfirmationAsEmail')); ?>', "<?php echo $alter_data; ?>");
<?php endif; ?>

</script>