<form id="form_edit_estimate_number" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_edit_estimate_number','#conten_modal_popup');return false;">
    <div class="form-group">
            <label class="col-md-4">Estimate Number:</label>
            <div class="col-md-8"><?php echo ($this->form->getElement('estimate_number')->render()); ?></div>
    </div>
            <div class="col-md-offset-4" id="button_cont">
            <?php echo $this->form->getElement('button')->render(); ?>
			</div>
</form>