<?php
$modelServices = new Model_Services();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelAttributeType = new Model_AttributeType();
$modelServiceAttributeValue = new Model_ServiceAttributeValue();
$modelAttributeListValue = new Model_AttributeListValue();
$modelCompanies = new Model_Companies();

$companyId = CheckAuth::getCompanySession();
if(empty($companyId)){
    $companyId = $this->estimate['booking']['company_id'];
}
$company = $modelCompanies->getById($companyId);

        // 29/06/2015 D.A
		$trading_name_id='';
		$trading_name_logo='';  
		
		$modelBooking = new Model_Booking();
	    $booking = $modelBooking->getById($this->estimate['booking_id']);
		if(isset($booking['trading_name_id'])){
		     	$trading_name_id=$booking['trading_name_id'];
			}else{
			    $modelTradingName = new Model_TradingName();
                $trading_Name = $modelTradingName->getDefualtTradingName($companyId);
				$trading_name_id=$trading_Name['trading_name_id'];
			}
						   
        $modelTradingName = new Model_TradingName();
        $tradingName = $modelTradingName->getById($trading_name_id);
        
		$modelEmailTemplate = new Model_EmailTemplate();
        $template = $modelEmailTemplate->getByName('send_estimate_as_email');
		 
		$modelEmailTemplate = new Model_EmailTemplate();
        $emailTemplate = $modelEmailTemplate->getById($template['id']);
        $trading_name_folder= str_ireplace(" ","_", $tradingName['trading_name']);		
		              
        $trading_namesImagesobj = new Model_TradingNameImages();
        $trading_namesImages = $trading_namesImagesobj->getByTradingnameIdandTemplateId($trading_name_id,$template['id']);   
        if($trading_namesImages){
            foreach ($trading_namesImages as $trading_namesImage) {
                $trading_name_logo= $trading_namesImage['trading_name_img'];                
            }
        }
				    
?>
<div style="background-color: white; font-family: arial; font-size: 12px;" >

    <div align="center">
        <?php if (!empty($trading_name_logo)) : ?>
            <?php if (file_exists(get_config('trading_names') . '/' . $trading_name_folder.'/'.$emailTemplate['name'] . '/' . $trading_name_logo)): ?>
                <img src="<?php echo 'http://cm.tilecleaners.com.au/uploads/trading_names_img/' . $trading_name_folder.'/'.$emailTemplate['name'] . '/' . $trading_name_logo; ?>" border="0"/>
            <?php else : ?>
                <img src="<?php echo $this->escape($this->baseUrl('/pic/tile_logo.png')); ?>" border="0"/>
            <?php endif; ?>
        <?php else : ?>
            <img src="<?php echo $this->escape($this->baseUrl('/pic/tile_logo.png')); ?>" border="0"/>
        <?php endif; ?>
    </div>
    <div style="text-align: center; font-weight: bold;">
        <?php echo (!empty($tradingName['website_url']) ? $this->escape($tradingName['website_url']) : 'Trading name Website') ?>
        |
        <?php echo (!empty($tradingName['trading_name']) ? $this->escape($tradingName['trading_name']) : 'Trading Name') ?>
        | 
        ABN:<?php echo (!empty($company['company_abn']) ? $this->escape($company['company_abn']) : 'Company ABN') ?>
    </div>
    <div style="text-align: center; margin-top: 5px;">
        Phone: <?php echo (!empty($tradingName['phone']) ? $this->escape($tradingName['phone']) : 'Trading name Phone') ?> (Sales & Equiries) 
        | 
        Email: <?php echo (!empty($tradingName['email']) ? $this->escape($tradingName['email']) : 'Trading name Email') ?>
    </div>

    <div style="margin-top: 40px;">
        <b>Quote No: <?php echo $this->escape($this->estimate['estimate_num']) ?></b>
    </div>

    <?php
    // get Customer by id to get his name and email
    $modelCustomer = new Model_Customer();
    $customer = $modelCustomer->getById($this->estimate['booking']['customer_id']);

    // get City Name And Country Name by booking city_id
    $modelCities = new Model_Cities();
    $city = $modelCities->getCityAndCountryNameByCityId($this->booking['city_id']);

    //get booking address
    $modelBookingAddress = new Model_BookingAddress();
    $bookingAddress = $modelBookingAddress->getByBookingId($this->estimate['booking_id']);
    $lineBookingAddress = get_line_address($bookingAddress);
    $lineCustomerAddress = get_line_address($customer);
    $businessName = $this->estimate['customer_commercial_info']['business_name'];
    ?>
    <table border="1" cellspacing="0" cellpadding="2" style="margin-top: 5px; width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;">
        <?php if (!empty($businessName)): ?>
            <tr>
                <td>Business Name : <?php echo $this->escape(ucfirst($businessName)); ?></td>
            </tr>
        <?php endif; ?>
        <tr>
            <td>Customer : <?php echo $this->escape(get_customer_name($customer)); ?></td>
        </tr>
        <tr>
            <td>Date of Issue : <?php echo $this->escape(date(get_config('date'), $this->estimate['created'])); ?></td>
        </tr>
        <?php if ((!empty($businessName) && $lineBookingAddress == $lineCustomerAddress) || empty($businessName)) : ?>
            <tr>
                <td style="vertical-align: top;">
                    <span>Address :</span>  
                    <?php echo $this->escape($lineBookingAddress); ?>
                </td>
            </tr>
        <?php else: ?> 
            <tr>
                <td style="vertical-align: top;">
                    <span> Business Address :</span>  
                    <?php echo $this->escape($lineCustomerAddress); ?>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <span> Booking Address :</span>  
                    <?php echo $this->escape($lineBookingAddress); ?>
                </td>
            </tr>
        <?php endif; ?>
        <tr>
            <td>Email : <?php echo $this->escape($customer['email1']); ?></td>
        </tr>
        <?php if (isset($this->estimate['customer_contacts']) && !empty($this->estimate['customer_contacts'])): ?>
            <?php foreach ($this->estimate['customer_contacts'] as $customerContact): ?>
                <tr>
                    <td><?php echo $this->escape($customerContact['contact_label']) ?>: <?php echo $this->escape($customerContact['contact']) ?></td>
                </tr>    
            <?php endforeach; ?>
        <?php endif; ?>
    </table>

    <?php if ($this->bookingServices): ?>

        <table border="1" style="margin-top: 20px; width: 100%; border-collapse: collapse; text-align: center; font-size: 12px;">
            <tr style="background-color: black; height: 30px;">
                <td style="color: white;">DESCRIPTION</td>
                <td style="color: white;" width="110">UNIT PRICE</td>
                <td style="color: white;" width="110">QTY</td>
                <td style="color: white;" width="90">TOTAL</td>
            </tr>
            <?php foreach ($this->bookingServices as $bookingService): ?>
                <?php
                $serviceId = $bookingService['service_id'];
                $clone = $bookingService['clone'];
                $bookingId = $bookingService['booking_id'];
                $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                $serviceDetails = $modelServices->getById($serviceId);
                ?>
                <tr>
                    <td style="text-align: left;">
                        <div style="clear: both;">
                            <span style="float: left;">
                                &#187; <b>Service :</b>&ensp;
                            </span>
                            <span style="float: left; width: 80%;">
                                <?php echo $this->escape($serviceDetails['service_name']); ?>
                            </span>
                        </div>
                        <?php if ($this->priceArray[$serviceAndClone] <= $serviceDetails['min_price']): ?>
                            <div style="clear: both;">
                                <span style="float: left;">
                                    &#187; <b>Min Price :</b>&ensp;
                                </span>
                                <span style="float: left; width: 80%;">
                                    <?php echo $this->escape($serviceDetails['min_price']); ?>
                                </span>
                            </div>
                        <?php endif; ?>
                        <?php
                        $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);

                        $unit_price = 0;
                        $qty = 0;

                        foreach ($serviceAttribute as $attribute) {
                            $serviceAttribute = $modelServiceAttribute->getByAttributeIdAndServiceId($attribute['attribute_id'], $attribute['service_id']);
                            $value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $serviceAttribute['service_attribute_id'], $clone);
                            switch ($attribute['attribute_name']) {
                                case 'Quantity':
                                    $qty = $value['value'];
                                    break;
                                case 'Price':
                                    $unit_price = $value['value'];
                                    break;
                                default :
                                    if ($value['value']) {
                                        $att = $modelAttributeType->getById($attribute['attribute_type_id']);
                                        ?>
                                        <div style="clear: both;">
                                            <span style="float: left;">
                                                &#187; <b><?php echo $this->escape($attribute['attribute_name']); ?> :</b>&ensp;
                                            </span>
                                            <span style="float: left; width: 80%;"> 
                                                <?php
                                                if ($att['is_list']) {
                                                    if ($value['is_serialized_array']) {
                                                        $values = unserialize($value['value']);
                                                        foreach ($values as $value) {
                                                            $attributeListValue = $modelAttributeListValue->getById($value);
                                                            if ($attributeListValue['unit_price']) {
                                                                echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</b></div>';
                                                            } else {
                                                                echo '<div>' . $this->escape($attributeListValue['attribute_value']) . '</div>';
                                                            }
                                                        }
                                                    } else {
                                                        $attributeListValue = $modelAttributeListValue->getById($value['value']);
                                                        if ($attributeListValue['unit_price']) {
                                                            echo $this->escape($attributeListValue['attribute_value']) . '</b>';
                                                        } else {
                                                            echo $this->escape($attributeListValue['attribute_value']);
                                                        }
                                                    }
                                                } else {
                                                    echo nl2br($this->escape($value['value']));
                                                }
                                                ?>
                                            </span>
                                        </div>
                                        <?php
                                    }
                                    break;
                            }
                        }
                        ?>
                    </td>
                    <td><?php echo $this->escape($unit_price); ?></td>
                    <td><?php echo $this->escape($qty); ?></td>
                    <td><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
                </tr>
            <?php endforeach; ?>
            <?php
            $subTotal = !empty($this->estimate['booking']['sub_total']) ? $this->estimate['booking']['sub_total'] : 0;
            $totalDiscount = !empty($this->estimate['booking']['total_discount']) ? $this->estimate['booking']['total_discount'] : 0;
            $callOutFee = !empty($this->estimate['booking']['call_out_fee']) ? $this->estimate['booking']['call_out_fee'] : 0;
            $gst = !empty($this->estimate['booking']['gst']) ? $this->estimate['booking']['gst'] : 0;

            $total = $subTotal + $callOutFee + $gst - $totalDiscount;

            $rowspan = 3;
            $rowspan = $totalDiscount ? $rowspan + 1 : $rowspan;
            $rowspan = $callOutFee ? $rowspan + 1 : $rowspan;
            ?>
            <tr>
                <td colspan="2" rowspan="<?php echo $rowspan; ?>" style="background-color: white;"></td>
                <td style="padding: 5px;">
                    Sub Total:
                </td>
                <td style="padding: 5px;">
                    <?php echo $this->escape(number_format($subTotal, 2)); ?>
                </td>
            </tr>
            <?php if ($callOutFee): ?>
                <tr style="border-bottom: 1px solid #A1A1A1;">
                    <td style="padding: 10px;">
                        Call Out Fee:
                    </td>
                    <td style="padding: 10px;">
                        <?php echo $this->escape(number_format($callOutFee, 2)); ?>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if ($totalDiscount): ?>
                <tr>
                    <td style="padding: 5px;">
                        Discount:
                    </td>
                    <td style="padding: 5px;">
                        <?php echo $this->escape(number_format($totalDiscount, 2)); ?>
                    </td>
                </tr>
            <?php endif; ?>
            <tr>
                <td style="padding: 5px;">
                    GST (<?php echo (100 * get_config('gst_tax')); ?>%):
                </td>
                <td style="padding: 5px;">
                    <?php echo $this->escape(number_format($gst, 2)); ?>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;">
                    Total:
                </td>
                <td style="padding: 5px;">
                    $<?php echo $this->escape(number_format($total, 2)); ?>
                </td>
            </tr>
        </table>
    <?php endif; ?>


    <div style="margin-top: 50px; border-bottom: 1px dotted black;">
        SIGNED AND DATED:
    </div>

    <div style="margin-top: 20px; text-align: center;">
        <?php echo (!empty($tradingName['website_url']) ? $this->escape($tradingName['website_url']) : 'Trading name Website') ?>
    </div>
    <div style="text-align: center;">
        Phone: <?php echo (!empty($tradingName['phone']) ? $this->escape($tradingName['phone']) : 'Trading name Phone') ?> (Sales & Equiries)
        | 
        Email: <?php echo (!empty($tradingName['email']) ? $this->escape($tradingName['email']) : 'Trading name Email') ?>
    </div>

</div>