<style>
		option[disabled=disabled]{
			background-color: #1ab394;
			color:white;
		}
	</style>
<?php
//Rand
    $dateTimeObj= get_settings_date_format();
	$db_foramt = 0;
if($dateTimeObj)
	{
		$JsDateFormat= dateFormat_zend_to_js($dateTimeObj['date_format']);
		$momentJsDateFormat = timeFormat_zend_to_Momentjs($dateTimeObj['date_format']);
		$momentJsTimeFormat= timeFormat_zend_to_Momentjs($dateTimeObj['time_format']);
		$timeZoneString  =  get_timeZone($dateTimeObj['time_format']);
		$db_foramt = 1;
	}
	else
	{
		$momentJsDateFormat = 'D-M-YYYY';
		$momentJsTimeFormat= 'LT';
		$timeZoneString  =  '';
		$JsDateFormat= 'dd/mm/yyyy';
		$db_foramt = 0;
	
	}
?>	
<form id="search_form" action="<?php echo $this->escape($this->url(array(), 'estimates')); ?>" method="GET" >
   <div class="form-group">
        <label for="Keywords" class="control-label">Keywords</label>
		 <input name="fltr[keywords]" type="text"  class="form-control" value="<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
   </div>
   		<!-- By Islam estimate type isvisited or not , estimate by phone without visit or estimated by visit -->
		<div class="form-group">
	            <label class="formLabel control-label">Is Quoted</label>
                <div id="is_visited">
                    <?php
                    $types = new Zend_Form_Element_Select('is_visited');
                    $types->setBelongsTo('fltr');
                    $types->setDecorators(array('ViewHelper'));
                    $types->setAttribs(array("id" => "is_visited", "class" => "right-side-input-text form-control"));
                    $types->setValue((!empty($this->filters['is_visited']) ? $this->filters['is_visited'] : ''));
                    $options = array('select one','Quoted by phone','Quoted OnSite');
					$types->addMultiOptions($options);
                    echo $types->render();
                    ?>
                </div>
		</div>
	
	
   	<div class="form-group">
			<?php if (!empty($this->filters['customer_id'])): ?>
                <?php
                $modelCustomer = new Model_Customer();
                $customer = $modelCustomer->getById($this->filters['customer_id']);
                $customerName = get_customer_name($customer);
                ?>
            <?php endif; ?>
	</div>
	
		<div class="form-group">
				<label class="control-label">Customer Name</label>
                <input type="text" id="auto_customer_id" name="fltr[customer_name]" class="form-control" value="<?php echo $this->escape(isset($customerName) ? $customerName : ''); ?>"/>


                <input type="hidden" id="customer_id" name="fltr[customer_id]" class="text_input" value="<?php echo $this->escape(!empty($this->filters['customer_id']) ? $this->filters['customer_id'] : ''); ?>"/>
          
		</div>
		
		<?php if(CheckAuth::getRoleName() != 'contractor'){ ?>
		<div class="form-group">
				   <label class="control-label">Users</span>
					<?php
					$modelUser = new Model_User();
					$users = $modelUser->getAllEmployee(true);
				  
					$user = new Zend_Form_Element_Select('user_id');
					$user->setBelongsTo('fltr');
					$user->setDecorators(array('ViewHelper'));
					$user->setAttrib("class", "form-control");
					$user->setValue((!empty($this->filters['user_id']) ? $this->filters['user_id'] : ''));
					$user->addMultiOption('', 'Select One');
					$user->addMultiOptions($users);
					echo $user->render();
					?>
		</div>
		<?php }?>
			<div class="form-group">
               <label class="control-label">Estimate#</label>
                <input name="fltr[estimate_num]" type="text" class="form-control" value="<?php echo $this->escape((!empty($this->filters['estimate_num']) ? $this->filters['estimate_num'] : '')); ?>" />
            </div>

           <div class="form-group">
                <label class="control-label">Booking#</label>
                <input name="fltr[booking_num]" type="text" class="form-control"   value="<?php echo $this->escape((!empty($this->filters['booking_num']) ? $this->filters['booking_num'] : '')); ?>" />
            </div>

            
           <div class="form-group">
                   <label class="control-label">Business Name</label>
                <input name="fltr[bussiness_name]" type="text" class="form-control"  value="<?php echo$this->escape((!empty($this->filters['bussiness_name']) ? $this->filters['bussiness_name'] : '')); ?>" />
            </div>
            
           <div class="form-group">
                   <label class="control-label">Address</label>
                <input name="fltr[address]" type="text" class="form-control"  value="<?php echo$this->escape((!empty($this->filters['address']) ? $this->filters['address'] : '')); ?>" />
            </div>
            
           <div class="form-group">
                   <label class="control-label">Email</label>
                <input name="fltr[email]" type="text" class="form-control"  value="<?php echo$this->escape((!empty($this->filters['email']) ? $this->filters['email'] : '')); ?>" />
            </div>
           
           <div class="form-group">
                   <label class="control-label">Mobile/Phone#</label>
                <input name="fltr[mobile/phone]" type="text" class="form-control"  value="<?php echo$this->escape((!empty($this->filters['mobile/phone']) ? $this->filters['mobile/phone'] : '')); ?>" />
            </div>

			
			
			
			<div class="form-group">
                   <label class="control-label">Booking Time</label>
                <table border="0" class="table table-bordered">
                    <tr>
                        <td class='input-group date' id='BookingStartPicker'>
							<input name="fltr[booking_start]" type="text" class="form-control"  id="booking_start_time"   value="<?php echo $this->escape((!empty($this->filters['booking_start']) ? (($db_foramt ==1)?getNewDateFormat($this->filters['booking_start'],'all'):$this->filters['booking_start']) : '')); ?>" />                   
								   <span class="input-group-addon"><i class="fa fa-calendar"></i>
								   </span>
							</td>
                        <td>-</td>
                        <td class='input-group date' id='BookingEndPicker'>
						<input name="fltr[booking_end]" type="text" class="form-control"  id="booking_end_time"   value="<?php echo $this->escape((!empty($this->filters['booking_end']) ? (($db_foramt ==1)?getNewDateFormat($this->filters['booking_end'],'all'):$this->filters['booking_end']) : '')); ?>" />
							   <span class="input-group-addon"><i class="fa fa-calendar"></i>
							   </span>
						</td>
                    </tr>
                </table>
            </div>	
            
           


            
           <div class="form-group">
                   <label class="control-label">Estimate Date Range</label>
                <table border="0" class="table table-bordered">
                    <tr>
                        <td class="txt_align_l"><input id="date_from"  class="form-control"  readonly="readonly" name="fltr[convert_date_from]" type="text"  value="<?php echo $this->escape((!empty($this->filters['convert_date_from']) ? (($db_foramt ==1)?getNewDateFormat($this->filters['convert_date_from']):$this->filters['convert_date_from']) : '')); ?>" /></td>
                        <td>-</td>
                        <td class="txt_align_l"><input id="date_to" class="form-control"  readonly="readonly" name="fltr[convert_date_to]" type="text"  value="<?php echo $this->escape((!empty($this->filters['convert_date_to']) ? (($db_foramt ==1)?getNewDateFormat($this->filters['convert_date_to']):$this->filters['convert_date_to']) : '')); ?>" /></td>
                    </tr>
                </table>
            </div>
  
  
      <?php if (CheckAuth::checkCredential(array('canSeeAllContractorEstimate'))) : ?>
                 <div class="form-group">
                    <label class="control-label formLabel">Technician Name</label>
                    <?php
                    $modelUser = new Model_User();
                    //$allContractor = $modelUser->getAllContractor(TRUE);

                    $contractor = new Zend_Form_Element_Select('contractor_id');
                    $contractor->setBelongsTo('fltr');
                    $contractor->setDecorators(array('ViewHelper'));
                    $contractor->setAttrib("class", "form-control");
                    $contractor->setValue((!empty($this->filters['contractor_id']) ? $this->filters['contractor_id'] : ''));
                    $contractor->addMultiOption('', 'Select One');
                    //$contractor->addMultiOptions($allContractor);
					$states = $modelUser->getStates();
					
					foreach($states as $key => $state){
						$displayedState = $state['state']?$state['state']:'General';
						$allContractor = $modelUser->getAllContractor(TRUE, 'ALL', $state['state']);
						if($allContractor){
							$contractor->addMultiOption($displayedState, $displayedState);
						}
						
						foreach ($allContractor as $key => $contractors) {
							$contractor->addMultiOption($key, $contractors);
						}
					}
					$contractor->setAttrib('disable', array('NSW','VIC','WA','QLD','SA','ACT','TAS','NT','unknown','General'));
					
                    echo $contractor->render();
                    ?>
                </div>
       <?php endif; ?>
	   
	          <div class="form-group">
                 <label class="control-label">Service Name</label>
                <?php
                $modelServices = new Model_Services();
                $allService = $modelServices->getAllService();

                $service = new Zend_Form_Element_Select('service_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttrib("class", "form-control");
                $service->setValue((!empty($this->filters['service_id']) ? $this->filters['service_id'] : ''));
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allService);
                echo $service->render();
                ?>
            </div>

              <div class="form-group">
                 <label class="control-label">Estimate Total Range</label>
                <table border="0" class="table table-bordered">
                    <tr>
                        <td style="text-align: left;"><input name="fltr[qoute_from]" type="text" class="form-control"    value="<?php echo $this->escape((!empty($this->filters['qoute_from']) ? $this->filters['qoute_from'] : '')); ?>" /></td>
                        <td>-</td>
                        <td style="text-align: left;"><input name="fltr[qoute_to]" type="text" class="form-control"   value="<?php echo $this->escape((!empty($this->filters['qoute_to']) ? $this->filters['qoute_to'] : '')); ?>" /></td>
                    </tr>
                </table>
            </div>
		 <?php
            $country_id = (!empty($this->filters['country_id']) ? $this->filters['country_id'] : CheckAuth::getCountryId());
            ?>
             <div class="form-group">
                <label class="control-label">Country</label>
                <?php
                $modelCountries = new Model_Countries();
                $allCountries = $modelCountries->getAllCountries();

                $service = new Zend_Form_Element_Select('country_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttribs(array("id" => "country", "class" => "right-side-input-text form-control", "onchange" => "getStateByCountryId();"));
                $service->setValue($country_id);
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allCountries);
                echo $service->render();
                ?>
               
            </div>

            <div id="display_state" style="<?php echo $this->escape(empty($country_id) ? "display: none;" : ""); ?>" class="form-group">
                <label class="control-label">State</label>
                <div id="state_cont">
                    <?php
                    $modelCities = new Model_Cities();
                    $allState = $modelCities->getStateByCountryId(($country_id), TRUE);

                    $service = new Zend_Form_Element_Select('state');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "fltr-state", "class" => "right-side-input-text form-control", "onchange" => "getCitiesByCountryId();"));
                    $service->setValue((!empty($this->filters['state']) ? $this->filters['state'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allState);
                    echo $service->render();
                    ?>
                </div>
               
            </div>

            <div id="display_city" style="<?php echo $this->escape(empty($this->filters['state']) || empty($country_id) ? "display: none;" : ""); ?>" class="form-group">
                <label class="control-label">City</label>
                <div id="city_cont">
                    <?php
                    $allCities = $modelCities->getCitiesByCountryIdAndState($country_id, (!empty($this->filters['state']) ? $this->filters['state'] : ''), TRUE);

                    $service = new Zend_Form_Element_Select('city_id');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "city_id", "class" => "right-side-input-text form-control"));
                    $service->setValue((!empty($this->filters['city_id']) ? $this->filters['city_id'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allCities);
                    echo $service->render();
                    ?>
                </div>
               
            </div>
			<input type="hidden" name="fltr[estimate_type]" value="all"/>
            <input type="hidden" name="fltr[submit]" value="on"/>
			<div class="modal-footer">
				<input type="submit" value="Search" class="btn btn-primary" id="adv-search"/>
				
			</div>
	   
	   
</form>
<script type="text/javascript">
    //
    //fun to get all city in selected country
    //
    function getStateByCountryId(){
      
        if($('#country').val()){
            $('#display_state').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country').val()+"&onChange=getCitiesByCountryId&class=form-control&name=state&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#display_state').css('display','none');
            $('#display_city').css('display','none');
        }
    }
    
    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId(){
        if($('#fltr-state').val()){
            $('#display_city').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country').val()+"&state="+$('#fltr-state').val()+"&class=form-control&name=city_id&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#display_city').css('display','none');
        }
    }
    
    $(document).ready(function() {
       $('#BookingStartPicker').datetimepicker({
	   format:'<?=$momentJsDateFormat . " " . $momentJsTimeFormat?>'//'D-M-YYYY LT'
	   });
  
  $('#BookingEndPicker').datetimepicker({
  format:'<?=$momentJsDateFormat . " " . $momentJsTimeFormat?>'//'D-M-YYYY LT'
  });
  var time = $('#BookingStartPicker').find("input").val();
		if(time){
			var date = adjust_time_format(time, '<?=$timeZoneString?>');
			$('#BookingStartPicker').find("input").val(date);		
		}
		
		$('#BookingStartPicker').on("dp.change", function(e) {
			var time = $('#BookingStartPicker').find("input").val();
			var date = adjust_time_format(time, '<?=$timeZoneString?>');
			$('#BookingStartPicker').find("input").val(date);	
		});
		
	var time2 = $('#BookingEndPicker').find("input").val();
		if(time2){
			var date = adjust_time_format(time2, '<?=$timeZoneString?>');
			$('#BookingEndPicker').find("input").val(date);		
		}
		
		$('#BookingEndPicker').on("dp.change", function(e) {
			var time2 = $('#BookingEndPicker').find("input").val();
			var date = adjust_time_format(time2, '<?=$timeZoneString?>');
			$('#BookingEndPicker').find("input").val(date);	
		});
    });
	
	
    
    $(document).ready(function() {
        $("#date_from,#date_to").datepicker({
             format: '<?=$JsDateFormat?>',//'dd-mm-yyyy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });
   
    // auto complete customer search
   
</script>
