
<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <h3>All Estimates</h3>
			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#spec"><i class="fa fa-search"></i>&nbsp;Advance Search</a>
      </div>
      <div class="col-md-7 ">
        <ul class="inline-list float-lg-r">
          <?php if (CheckAuth::checkCredential(array('estimates'))): ?>
          <?php
                                    $filterLink = array();
                                    if ($this->sub_menu == 'my_estimates') {
                                    $filterLink['my_estimates'] = true;
                                    }
                                ?>
          <li> <?php echo FilterLink::generate_link('All', array_merge($filterLink, array('fltr' => array('estimate_type' => 'all'))), isset($this->filters['estimate_type']) && $this->filters['estimate_type'] == 'all', true); ?></li>
          |
          <li><?php echo FilterLink::generate_link('Draft', array('fltr' => array('estimate_type' => 'draft')), isset($this->filters['estimate_type']) && $this->filters['estimate_type'] == 'draft', true); ?></li>
          |
          <li><?php echo FilterLink::generate_link('Booking', array('fltr' => array('estimate_type' => 'booking')), isset($this->filters['estimate_type']) && $this->filters['estimate_type'] == 'booking', true); ?></li>
          |
          <li><?php echo FilterLink::generate_link('To follow', array('sort' => 'to_follow', 'method' => 'asc', 'fltr' => array('to_follow' => true, 'estimate_type' => 'draft')), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true); ?></li>
          <?php if (CheckAuth::checkCredential(array('estimateFilterLabel'))): ?>
          <li>
                        <a  class="btn btn-white" data-toggle="modal" data-target="#popupi" href="#"
                            onclick="popupi('Filter by label','<?php echo $this->escape($this->url(array(), 'filterEstimateLabel')); ?>')"
                        >Filter By Label(s)</a>

              
                      
                      
            
          </li>
          <?php endif; ?>
          <?php endif; ?>
        </ul>
      </div>
    </div>
  </div>
  <?php if (isset($this->filters['to_follow']) && $this->filters['to_follow'] == true): ?>
  <div class="ibox-content">
    <div class="row">
      <div class="btn-group float-lg-r">
        <label class="btn btn-sm btn-white"> <?php echo FilterLink::generate_link('all', array('sort' => 'to_follow', 'method' => 'asc', 'fltr' => array('to_follow' => true)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true && !isset($this->filters['to_follow_date']), true); ?> </label>
        <label class="btn btn-sm btn-white"> <?php echo FilterLink::generate_link('past', array('fltr' => array('to_follow_date' => 'past')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'past'); ?> </label>
        <label class="btn btn-sm btn-white"> <?php echo FilterLink::generate_link('today', array('fltr' => array('to_follow_date' => 'today')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'today'); ?> </label>
        <label class="btn btn-sm btn-white"> <?php echo FilterLink::generate_link('future', array('fltr' => array('to_follow_date' => 'future')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'future'); ?> </label>
      </div>
    </div>
  </div>
  <?php endif; ?>
</div>
<div class="ibox-content">
  <?php if ($this->data): ?>
  <form method="POST" id="form" onsubmit="return confirm('Are you sure you want to delete this Estimate ?');">
    <?php if (!$this->isDeleted): ?>
    <?php if (CheckAuth::checkCredential(array('estimateDelete'))): ?>
    <input type="button" class="btn  btn-danger" 
                            onclick="doEstimateDelete('<?php echo $this->escape($this->url(array(), 'estimateDeleteBtn')); ?>');" value="Delete"/>
    <?php endif; ?>
    <?php endif; ?>
    
      <table class="table table-bordered responsive-table" id="estimate-responsive-table">
        <thead>
          <tr>
            <?php if (!$this->isDeleted): ?>
            <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall"/></th>
            <?php endif; ?>
            <th><?php echo SortOrder::generate_link('Estimate#','created') ;?></th>
            <th class="table-details"><b>Details</b></th>
            <!--<th><b>City</b></th>-->
			<th class=""><b>Amount</b></th>
            <th><b>Technician</b></th>
            <th><b>Users</b></th>
         
            <th class="estimate-contact-history"><b>Contact History</b></th>
          </tr>
        </thead>
        <tbody>
          <?php
				  $modelBookingAddress = new Model_BookingAddress();
				  $modelUser = new Model_User();
				  $modelClaimOwner = new Model_ClaimOwner();
				  $loggedUser = CheckAuth::getLoggedUser();
				  ?>
          <?php $count = 0; ?>
          <?php foreach ($this->data as $row) : ?>
          <?php $count += 1; ?>
          <tr class="<?php if ($count % 2 != 0) { echo $this->escape('tr_cont_1'); } else { echo $this->escape('tr_cont_2');} ?>"> 
            
            <!-- check box for delete -->
            <?php if (!$this->isDeleted): ?>
            <td class="estimate-chechbox">
            	<div class="details_info_l">
                	<input type="checkbox" id="delete-check" name="ids[]" value="<?php echo $this->escape($row['id']) ?>"/>
              	</div>
              </td>
            <?php endif; ?>
            <!-- end -- check box for delete --> 
            
            <!-- Estimate#-->
            <td>
			<div class="details_info_l">
                <div>
                  <?php if (CheckAuth::checkCredential(array('estimateView'))): ?>
                  <a href="<?php echo $this->escape($this->url(array('id' => $row['id']),'estimateView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['estimate_num']); ?></b></a>
                  <?php else: ?>
                  <span class="details_info_name"><b><?php echo $this->escape($row['estimate_num']) ?></b></span>
                  <?php endif; ?>
                </div>
                <?php
                                            $color = '#A1A1A1';
                                            switch ($row['estimate_type']) {
                                                case 'draft':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'booking':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                <div style="color: <?php echo $this->escape($color); ?>;"> <?php echo $this->escape($row['estimate_type']); ?> </div>
               <?php /* <div>
                  <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $row['isAccepted']): ?>
                  <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                  <?php endif; ?>
                </div>
			 */?>
                <div>
                  <?php if (!empty($row['have_attachment'])): ?>
                  <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"><img src="/pic/icons/attach.png" border="0"></a>
                  <?php endif; ?>
                </div>
             
			  
					<div class="details_info_l"  id="label_<?php echo $row['id'] ?>">
					&nbsp;
						<?php if($row['labels']): ?> <span><i class="fa fa-tag"></i>&nbsp;<b>Label(s):</b></span>
							<?php foreach ($row['labels'] as $label): ?>
							<div class="label_box"> <?php echo $this->escape($label); ?> </div>
							<?php endforeach; endif;?>
					</div>
			 </div>
			</td>
            
            <!-- end -- Estimate#--> 
            
            <!-- details -->
            <td class="details">
				<div class="details_info_l">
                <div>
                  <?php if (CheckAuth::checkCredential(array('estimateView'))): ?>
                  <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'estimateView')); ?>" class="a_link_black"><?php //echo $this->escape($row['booking']['title']) ?></a>
                  <?php else: ?>
                  <span class="span_black"><?php //echo $this->escape($row['booking']['title']) ?></span>
                  <?php endif; ?>
                </div>
                <div class="booking_time_cont"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <?php echo $this->escape(getDateFormating($row['created'])) ?> </div>
                <div id="address_list">
                  <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?>
                  <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $bookingAddress): ?>
                  <span class="time_start_color" ><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
                  <?php if ($row['isAccepted']): ?>
                  <?php $lineAddress = get_line_address($bookingAddress); ?>
                  <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>"> <?php echo $this->escape($lineAddress); ?> </a>
                  <?php else: ?>
                  <?php $lineAddress = get_some_details_line_address($bookingAddress); ?>
                  <?php echo $this->escape($lineAddress); ?>
                  <?php endif; ?>
                  <?php endif; ?>
                </div>
                <?php if ($row['isAccepted']): ?>
                <div id="city_list_inquiry">
                  <?php if (!empty($row['customer_name'])): ?>
                  <div> <i class="fa fa-user"></i>
                    <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                    <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black"><?php echo $this->escape($row['customer_name']); ?></a>
                    <?php else: ?>
                    <?php echo $this->escape($row['customer_name']) ?>
                    <?php endif; ?>
                  </div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['customer_commercial_info']['business_name'])): ?>
                  <div><span><i class="fa fa-building"></i></span> <?php echo $this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name'])) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['email1'])): ?>
                  <div><span><i class="fa fa-envelope">&nbsp;</i></span> <?php echo $this->escape($row['customer']['email1']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['email2'])): ?>
                  <div><span><i class="fa fa-envelope">&nbsp;</i></span> <?php echo $this->escape($row['customer']['email2']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['email3'])): ?>
                  <div><span><i class="fa fa-envelope">&nbsp;</i></span> <?php echo $this->escape($row['customer']['email3']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['mobile1'])): ?>
                  <div><span><i class="fa fa-mobile-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['mobile1']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['mobile2'])): ?>
                  <div><span><i class="fa fa-mobile-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['mobile2']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['mobile3'])): ?>
                  <div><span><i class="fa fa-mobile-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['mobile3']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['phone1'])): ?>
                  <div><span><i class="fa fa-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['phone1']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['phone2'])): ?>
                  <div><span><i class="fa fa-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['phone2']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['phone3'])): ?>
                  <div><span><i class="fa fa-phone">&nbsp;</i></span> <?php echo $this->escape($row['customer']['phone3']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['fax'])): ?>
                  <div><span>Fax :</span> <?php echo $this->escape($row['customer']['fax']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['po_box'])): ?>
                  <div><span>PO Box :</span> <?php echo $this->escape($row['customer']['po_box']) ?></div>
                  <?php endif; ?>
                  <?php if (!empty($row['customer']['customer_contacts'])): ?>
                  <?php foreach ($row['customer']['customer_contacts'] as $customerContact): ?>
                  <div><span><?php echo $this->escape($customerContact['contact_label']) ?> :</span> <?php echo $this->escape($customerContact['contact']) ?></div>
                  <?php endforeach; ?>
                  <?php endif; ?>
                </div>
                <?php endif; ?>
                <?php if (!empty($row['booking']['to_follow'])): ?>
                <span class="time_start_color"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Deferred To : </span> <?php echo $this->escape(getDateFormating($row['booking']['to_follow'])) ?>
                <?php endif; ?>
              </div>
              <div class="details_info_l actions-list">
                <?php
                                            $actions = array();

                                            if ($this->isDeleted) {
                                                if (CheckAuth::checkCredential(array('estimateUndelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateUndelete'))}','Are you sure you want to UnDelete this Estimate ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">UnDelete</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('estimateDeleteForEver'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateDeleteForEver'))}','Are you sure you want to Delete this Estimate For Ever ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete For Ever</a>';
                                                }
                                            } else {

                                                if ($row['estimate_type'] != 'booking') {

                                                    if (CheckAuth::getRoleName() == 'contractor') {
                                                        if ($row['not_accepted']) {
                                                            $popupConfig = "'Accept','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                            $actions[] = '<a class="a_accept"  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                                        }

                                                        if ($row['not_accepted_or_rejected']) {
                                                            $popupConfig = "'Reject','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                            $actions[] = '<a class="a_reject"  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                                        }
                                                    }

                                                    if (CheckAuth::checkCredential(array('bookingEdit')) && $row['isAccepted']) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" class="details_info_opt"> <i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>';
                                                    }

                                                     if (CheckAuth::checkCredential(array('convertBookingToInvoice'))) {
                                                      $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                                     }

                                                    if (CheckAuth::checkCredential(array('convertEstimateToBooking')) && $row['isAccepted']) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertEstimateToBooking')) . '" class="details_info_opt">Convert To Booking</a>';
                                                    }


                                                    if (CheckAuth::checkCredential(array('bookingEdit'))) {
                                                        if (isset($row['booking']['is_to_follow']) && $row['booking']['is_to_follow']) {
                                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['id']), 'removeFollowUpEstimate')) . '" class="details_info_opt">Remove Follow Up</a>';
                                                        } else {
                                                            $popupConfig = "'Follow Estimate','{$this->escape($this->url(array('id' => $row['id']), 'followUpEstimate'))}'";
                                                            $actions[] = '<a class="details_info_opt"  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');">Follow Up</a>';
                                                        }
                                                    }


                                                    // Find Availability
                                                    $findAvailabilityParams = array();
                                                    $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                    $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                    $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                    $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                    $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                    $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                    $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                    $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                                    $findAvailabilityParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                                    foreach ($row['services'] as $service) {
                                                        $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                                    }
                                                    $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                                    $popupConfig = "'Find Availability','{$this->escape($this->url(array(), 'findAvailability'))}','{$findAvailabilityParams}'";
                                                    $actions[] = '<a  data-toggle="modal" data-target="#popupi" href="#" onclick="popupi_with_parm(' . $popupConfig . ');" class="details_info_opt">Find Availability</a>';

                                                    //Nearest Booking
                                                    $nearestBookingParams = array();
                                                    $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                                    $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                                    $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                                    $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                                    $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                                    $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                                    $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                                    $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking']['booking_start'])));
                                                    $nearestBookingParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                                    $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                                    $nearestBookingParams = implode("&", $nearestBookingParams);
                                                    $popupConfig = "'Nearest Bookings','{$this->escape($this->url(array(), 'getRelatedAddress'))}','{$nearestBookingParams}'";
                                                    $actions[] = '<a  data-toggle="modal" data-target="#popupi" href="#" onclick="popupi_with_parm(' . $popupConfig . ');">Nearest Bookings</a>';


                                                    if (CheckAuth::checkCredential(array('complaintAdd'))) {
                                                        $popupConfig = "'Add Complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                                        $actions[] = '<a data-toggle="modal" data-target="#popupi" href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Add Complaint</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('estimateDiscussion'))) {
                                                        $popupConfig = "'Estimate Discussion','{$this->escape($this->url(array('id' => $row['id']), 'estimateDisscussion'))}'";
                                                        $actions[] = '<a data-toggle="modal" data-target="#popupi" href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Estimate Discussion</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('estimateLabel'))) {
                                                        $popupConfig = "'Estimate Label','{$this->escape($this->url(array('id' => $row['id']), 'estimateSelectLabel'))}'";
                                                        $actions[] = '<a data-toggle="modal" data-target="#popupi" href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('attachment'))) {
                                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('sendAdvertisingEmail'))) {
                                                        $popupConfig = "'Advertising Email','{$this->escape($this->url(array('id' => $row['id']), 'sendAdvertisingEmail'))}'";
                                                        $actions[] = '<a data-toggle="modal" data-target="#popupi" href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Advertising Email</a>';
                                                    }

                                                    if (CheckAuth::checkCredential(array('claimOwner')) && $row['booking']['created_by'] != $loggedUser['user_id']) {
                                                        $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                                        if (empty($claimOwner)) {
                                                            $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                                        }
                                                    }
                                                }

                                                if (CheckAuth::checkCredential(array('estimateDelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['id']), 'estimateDelete'))}','Are you sure you want to delete this Estimate ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                                }
                                            }

                                            $line_actions = array_slice($actions,0,1);
                                            $drop_down_actions = array_slice($actions,1);
                                            ?>
                <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>
                <?php if ($drop_down_actions): ?>
                  <div class="btn-group ">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions  <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <?php foreach ($drop_down_actions as $drop_down_action): ?>
                            <li> <?php echo $drop_down_action; ?> </li>
                        <?php endforeach; ?>
                    </ul>
                </div>		
             
           
                <?php endif; ?>
              </div>
           
            
            </td>
            
    
            
            <!-- city name -->
            <!--  <td class="details_info_l"><?php //echo $this->escape($row['city']['city_name']); ?></td>-->
			    <!-- amount -->
            <td class="amount"><div class="details_info_l">
                <?php
                                            $modelBooking = new Model_Booking();
                                            $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                                            ?>
                $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?> </div>
			</td>
            <!-- end amount --> 
            
            <!-- Technician -->
            <td><div class="details_info_l">
		
                <?php foreach ($row['contractors'] as $contractor_id => $contractor_name): ?>
                <?php $user = $modelUser->getById($contractor_id); ?>
		 <div>
												<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_id), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $this->escape(ucwords($user['username']) . ($contractor_name ? ' - ' . ucwords($contractor_name) : '')); ?></a>
                                    			</div>
                                            
                                        </div>
										<div style="text-align: center; text-color=#ffff; background-color:<?php if ($row['booking']['visited']): ?>#7a367a<?php else: ?>transparent<?php endif; ?>;">
										<?php if($row['booking']['visited']){ ?>
												<font color="ffffff"><?php echo 'Quoted Onsite'; ?></font>
												
										<?php }  ?>
										
										</div>
               
                <?php endforeach ?>
              </div></td>
      
            
            <!-- users -->
            <td><div class="details_info_l" >
                <?php foreach ($row['booking_users'] as $booking_user) : ?>
                <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
                <?php endforeach; ?>
              </div></td>
            <!-- end users --> 
            
        
            
            <!-- Contact History -->
            <td class="details_info_l"><div  id = "contact_history_<?php echo $this->escape($row['booking_id']); ?>" class="details_info_l">
                <?php
                                            $inquiryContactHistory = array();
                                            if (!empty($row['booking']['original_inquiry_id'])) {
                                                $modelInquiryReminder = new Model_InquiryReminder();
                                                $inquiryContactHistory = $modelInquiryReminder->getContactHistory($row['booking']['original_inquiry_id']);
                                            }
                                            ?>
                <?php if ($inquiryContactHistory): ?>
                <?php foreach ($inquiryContactHistory as $reminder): ?>
                <div>
                  <?php $user = $modelUser->getById($reminder['user_id']); ?>
                  <a href="#" data-target="#popupi" data-toggle="modal"  onclick="popupi('Add Note','<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'inquiryReminderView')); ?>');" class="details_info_opt"><?php echo $this->escape($user['username'] . ' - ' . getDateFormating($reminder['created'])); ?></a>
                  <?php if (CheckAuth::checkCredential(array('inquiryReminderDelete'))): ?>
                  <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $reminder['inquiry_id'], 'reminder_id' => $reminder['id']), 'inquiryReminderDelete')); ?>');" ><img height="10" width="10" src="/pic/remove.png" border="0" ></a>
                  <?php endif; ?>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
                <?php if (isset($row['booking_contact_history']) && $row['booking_contact_history']): ?>
                <?php foreach ($row['booking_contact_history'] as $contactHistory): ?>
                <div>
                  <?php $user = $modelUser->getById($contactHistory['user_id']); ?>
                  <a href="#" data-toggle="modal" data-target="#popupi" style="color:black;" onclick="popupi('ADD Note','<?php echo $this->escape($this->url(array('id' => $contactHistory['id']), 'bookingContactHistoryView')); ?>');" class="details_info_opt"><?php echo $this->escape($user['username'] . ' - ' . getDateFormating($contactHistory['created'])); ?></a>
                  <?php if (CheckAuth::checkCredential(array('bookingContactHistoryDelete'))): ?>
                  <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $row['booking_id'], 'contact_history_id' => $contactHistory['id']), 'bookingContactHistoryDelete')); ?>');" ><img height="10" width="10" src="/pic/remove.png" border="0" ></a>
                  <?php endif; ?>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
                <?php if (CheckAuth::checkCredential(array('bookingContactHistoryAdd'))): ?>
                <div style = "font-size: 12px;"> <a href="#" data-target="#popupi" data-toggle="modal"  onclick="popupi('Add Note','<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingContactHistoryAdd')); ?>');" class="details_info_opt">Add Note</a> </div>
                <?php endif; ?>
              </div></td>
            <!-- end -- Contact History --> 
            
          </tr>
          <?php endforeach; ?>
        </tbody>
      </table>
   
  </form>
</div>
<div>
  <?php if (count($this->pageLinks) > 3): ?>
  <ul class="pagination">
    <?php foreach ($this->pageLinks as $pageLink) : ?>
    <li><?php echo $pageLink; ?></li>
    <?php endforeach; ?>
  </ul>
  <?php endif; ?>
</div>
<?php endif; ?>

<div class="modal fade" id="spec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" >
        <div class="modal-dialog">
              <div class="modal-content">
              
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                           <h4 class="modal-title" id="exampleModalLabel">Advance Search</h4>
                    </div>
                    
                    <div class="modal-body">
                               <?php echo $this->render('index/filters.phtml'); ?>
  
                    </div>

              </div>
        </div>
</div>
<script type="text/javascript">
   
    
    function doEstimateDelete(url){
        $('#form').attr("action", url);
        $('#form').submit();
    }
</script>