

<?php
$MAP_OBJECT_Booking = new GoogleMapAPI();
echo $MAP_OBJECT_Booking->getHeaderJS(); 
echo $MAP_OBJECT_Booking->getMapJS(); 

?>
<div class="ibox float-e-margins no-margin-b">
		<div class="wrapper border-bottom white-bg">
				<div class="row">
				<div class="col-md-5">
					<h3>All Estimates</h3>
					<ol class="breadcrumb">
							<?php
							function breadcrumbs($separator = '', $home = 'Home') {

								$path = array_filter(explode('/', parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH)));
								$base_url = substr($_SERVER['SERVER_PROTOCOL'], 0, strpos($_SERVER['SERVER_PROTOCOL'], '/')) . '://' . $_SERVER['HTTP_HOST'] . '/';
								$breadcrumbs = array("<li><a href=\"$base_url\">$home</a></li>");
								$tmp = array_keys($path);
								$last = end($tmp);
								unset($tmp);

								foreach ($path as $x => $crumb) {
									$title = ucwords(str_replace(array('.php', '_'), array('', ' '), $crumb));
								if ($x == 1){
										
										$breadcrumbs[]  = "<li><a href=\"$base_url$crumb\">$title</a></li>";
										$breadcrumbs[]  = '<li class="active"><strong>Estimates list</strong></li>';
								}
								}

								return implode($separator, $breadcrumbs);
							}	
							echo breadcrumbs();

							?>
							
					</ol>
					
					
				</div>
				<div class="col-md-7">
							
						   <ul class="inline-list float-lg-r estimate_right_list">
							  <?php if (CheckAuth::checkCredential(array('estimates'))): ?>
								<?php
									$filterLink = array();
									if ($this->sub_menu == 'my_estimates') {
									$filterLink['my_estimates'] = true;
									}
								?>
							  <?php if (CheckAuth::checkCredential(array('estimateFilterLabel'))): ?>
									  <li>
										<a  class="btn btn-white" data-toggle="modal" data-target="#popupi" href="#"
											onclick="popupi('Filter by label','<?php echo $this->escape($this->url(array(), 'filterEstimateLabel')); ?>')"
										>Filter By Label(s)</a>

									  </li>
							  <?php endif; ?>
							  <?php endif; ?>
							    <li>
								
										<a  class="btn btn-white" data-toggle="modal" data-target="#popupi" href="#"
											onclick="popupi('Estimate Filters','<?php echo $this->escape($this->url(array(), 'estimatesByFilters')).'?'. $_SERVER['QUERY_STRING']; ?>')"
										>Filters</a>

									  </li>
							 
							</ul>
						
							
				</div>
			</div>	
		
 <div class="container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4" >
		<?php if (isset($this->filters['to_follow']) && $this->filters['to_follow'] == true): ?>
									 
										<div class="btn-group" style="margin-right:4px;">
											<label class="btn  btn-white"> <?php echo FilterLink::generate_link('all', array('sort' => 'to_follow', 'fltr' => array('to_follow' => true)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true && !isset($this->filters['to_follow_date']), true); ?> </label>
											<label class="btn  btn-white"> <?php echo FilterLink::generate_link('past', array('fltr' => array('to_follow_date' => 'past')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'past'); ?> </label>
											<label class="btn  btn-white"> <?php echo FilterLink::generate_link('today', array('fltr' => array('to_follow_date' => 'today')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'today'); ?> </label>
											<label class="btn  btn-white"> <?php echo FilterLink::generate_link('future', array('fltr' => array('to_follow_date' => 'future')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'future'); ?> </label>
									  </div>
										
								  <?php endif; ?>
								  
		</div>
    </div>
</div>
		
</div>
		
			<div class="row">
				<div class="wrapper wrapper-content">
				
<div class="ibox-content" id="estimate_data">
		<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>
</div>


			</div>
</div>


<script type="text/javascript">
   
    var filters = <?php echo json_encode($this->filters); ?>;
	var page_number = 0;
	var loading = false;
	var sort = '<?php echo $this->orderBy; ?>';
	var method = '<?php echo $this->sortingMethod; ?>';
	var is_last_request = 0; 
   function getData(filters ,page_number, is_first_time){
      if (typeof(is_first_time)==='undefined') is_first_time = 0;
	  if(is_first_time == 0 && !($('#loading_img').length > 0)){$('#form').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');}
	  $.ajax({
            type: "POST",
			dataType:'json',
            data: {'fltr': filters , 'is_first_time':is_first_time , 'page_number': page_number ,'sort':sort ,'method':method},
            url: "<?php echo $this->url(array(), 'estimates'); ?>",
            success: function (result) {
			   is_last_request = result.is_last_request;				  
			  if(is_first_time == 1){
			   $('#estimate_data').html(result.data);
			  }else{
			   $("#result").append(result.data);
			  }
			  ///////////////////// Added By Rand /////////////////////////////////////////////////
			  $.each($('.map1'), function (index, value) { 
				  id=$(this).attr('value');
				  BookingAddress = $('#bookingAddress_'+id).attr('value');
				  var contractorsIds = [];
				  $.each($('.AvailablecontractorDiv_'+id), function (index, value) { 
		
			          contractorsIds[$(this).attr('value')]=$(this).attr('value');
				  });
				drawPositionFromAddress(BookingAddress,id,contractorsIds); // draw the map

			  });
////////////////////// End /////////////////////////////////////////////////
			  
			  $('#loading_img').remove();
			  loading = false;			  
			}
		});
   
   }
   
    function doEstimateDelete(url){
        $('#form').attr("action", url);
        $('#form').submit();
    }
//////////// added By Rand : draw the map ////////////////////////
	function drawPositionFromAddress(Address,id,contractorsIds){
		bookinglat = parseFloat($('#bookinglat_'+id).attr('value'));
		bookinglon = parseFloat($('#bookinglon_'+id).attr('value'));
		var maps =[];
				var myOptions=[];
				myOptions[id] = {
					zoom: 5,
					center: new google.maps.LatLng(bookinglat, bookinglon),
					mapTypeId: google.maps.MapTypeId.MyMapApp
				}
				maps[id] = new google.maps.Map(document.getElementById("map_"+id), myOptions[id]);
				
	var marker1 = new google.maps.Marker({
					  // The below line is equivalent to writing:
					  // position: new google.maps.LatLng(-34.397, 150.644)
					  position: {lat: bookinglat, lng: bookinglon},
					  map: maps[id]
					});
		
		if(contractorsIds != null){
		$.each(contractorsIds, function (index, value) {
			          ContractorId=value;
		if (ContractorId != null){
					    ContractorAddress = $('#contractorAddress_'+id+'_'+ContractorId).attr('value');
						ContractorAvatar  = $('#contractorAvatar_'+id+'_'+ContractorId).attr('value');
						contractorName = $('#contractorName_'+id+'_'+ContractorId).attr('value');
						ContractorDistance = $('#contractorDistance_'+id+'_'+ContractorId).attr('value');
						ContractorBaseUrl ='/pic/contractor_pic.png';
						 if(ContractorAvatar != null ){
						  ContractorBaseUrl  = '/uploads/user_pic/thumb_small/'+ContractorAvatar;
						  }
						  else {ContractorBaseUrl = '/pic/contractor_pic.png';}
                          
						   drawContractorMarker(maps[id],ContractorAddress,contractorName,ContractorDistance,ContractorBaseUrl);
								
	           	}
					  });
	      }
							
	}
	
function drawContractorMarker(map,conractorAddress,contractorName,Distance,ContractorBaseUrl){
						  /// marker icon
						  var image2 = {
							url: ContractorBaseUrl,
							size: new google.maps.Size(25, 25),
							scaledSize: new google.maps.Size(25, 25),
						  };
						  var geocoder2 = new google.maps.Geocoder();
						  if(conractorAddress!=null){
				         /// Add contractor on map
						 geocoder2.geocode( { 'address': conractorAddress}, function(results, status) {
					  if (status == google.maps.GeocoderStatus.OK) {
						  map.setZoom(5);
						var marker = new google.maps.Marker({
							map: map,
							position: results[0].geometry.location,
							icon:image2,
							title:contractorName+' : '+Distance+' KM Away'
						});
					  }
								});
						  }
	}
///////// END by Rand ///////////////// 	
			// loading estimate data
	$(document).ready(function () {
	 getData(filters,page_number, 1);
		$(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {  
                   if(loading == false && is_last_request == 0){
					  loading = true;
                      page_number++;					  
					  getData(filters,page_number);
                    }
            }
    });
  });
  
</script>