<style>
    .icons-right a, .icons-left a{
        font-size:20px;
    }

    .product-gallery li, .product-gallery > div{
        width:100px;
        height:100px;
    }

    #productContainer, #productContent, .sidebar{
        min-height: 0px;
        width: auto;
    }

</style>


<?php
$loggedUser = CheckAuth::getLoggedUser();
$modelUser = new Model_User();
$modelClaimOwner = new Model_ClaimOwner();
$modelBooking = new Model_Booking();
$modelServices = new Model_Services();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelContractorInfo = new Model_ContractorInfo();
$modelUserInfo = new Model_UserInfo();
$modelAuthRole = new Model_AuthRole();
$modelServiceAttributeValue = new Model_ServiceAttributeValue();
$modelAttributeType = new Model_AttributeType();
$modelAttributeListValue = new Model_AttributeListValue();
$modelServiceAttributeValueTemp = new Model_ServiceAttributeValueTemp();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');


$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a');
?> 

<?php if (!empty($this->isWorkOrder)) { ?>

    <div class="alert alert-warning alert-dismissible fade in col-md-12" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <span class="typeprice">Work Order Attachment File Required</span>
    </div>

<?php } ?>

<div class="ibox float-e-margins no-margin-b">
    <div class="row wrapper border-bottom white-bg">

        <div class="col-md-5">
            <div class="createdTimeDiv">
                <span class="booking_title">Estimate Details</span> 
                <span class="booking_created_date">
                    <i> Created </i><?php echo $this->escape(getDateFormating($this->estimateParams['created'])); ?>
                </span>
            </div>

            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/estimates">Estimates</a>
                </li>
                <li class="active">
                    <strong>Estimate Details</strong>
                </li>
            </ol>
        </div>
        <div class="col-md-7">
            <?php
            $color = '#A1A1A1';
            switch ($this->estimateParams['estimate_type']) {
                case 'draft':
                    $color = '#A1A1A1';
                    break;

                case 'booking':
                    $color = '#BCD68F';
                    break;
            }
            ?>	
            <?php if (!$this->estimateParams['is_deleted']): ?>
                <?php if ($this->estimateParams['estimate_type'] != 'booking'): ?>

                    <nav>



                        <div class="inline float-r">
                            <?php
                            $modelBookingAddress = new Model_BookingAddress();
                            $bookingAddress = $modelBookingAddress->getByBookingId($this->estimateParams['booking']['booking_id']);
                            $nearestBookingParams = array();
                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->estimateParams['booking']['booking_start'])));
                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($this->estimateParams['booking']['booking_start'])));
                            $nearestBookingParams[] = 'city_id=' . urlencode($this->estimateParams['booking']['city_id']);
                            $nearestBookingParams[] = 'booking_id=' . urlencode($this->estimateParams['booking']['booking_id']);
                            $nearestBookingParams = implode("&", $nearestBookingParams);
                            ?>
                            <button class="btn btn-primary btn-outline "  href="#" data-toggle="modal" data-target="#fn_nearest"
                                    onclick="fn_popupi_with_parm('Nearest Booking', '<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>', '<?php echo $this->escape($nearestBookingParams) ?>');">Nearest Booking</button>


                            <?php
                            $findAvailabilityParams = array();
                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $findAvailabilityParams[] = 'booking_id=' . urlencode($this->estimateParams['booking']['booking_id']);
                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($this->estimateParams['booking']['booking_start'])));
                            $findAvailabilityParams[] = 'city_id=' . urlencode($this->estimateParams['booking']['city_id']);
                            foreach ($this->bookingServices as $service) {
                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                            }
                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                            ?>
                            <button class="btn btn-primary btn-outline " href="#" data-toggle="modal" data-target="#fn_nearest" onclick="fn_popupi_with_parm('Find Availability', '<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>', '<?php echo $this->escape($findAvailabilityParams) ?>');">Find Availability</button>
                            &nbsp;
                        </div>

                        <div class="inline float-r">
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle " aria-expanded="false">Estimate &nbsp;<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li class="edit">
                                        <?php if (CheckAuth::checkCredential(array('bookingEdit')) && $this->estimateParams['isAccepted']): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking_id']), 'bookingEdit'))."&type=estimate"; ?>"><i class="fa fa-edit"></i>&nbsp Edit</a>
                                        <?php endif; ?>
                                    </li>
                                    <li class="edit">
                                        <?php if (CheckAuth::checkCredential(array('editEstimateNumber')) && $this->estimateParams['isAccepted']): ?>
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Estimate Number', '<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'editEstimateNumber')); ?>');" class="details_info_opt"><i class="fa fa-edit"></i>&nbsp Edit Estimate Number</a>
                                        <?php endif; ?>
                                    </li>
                                    <?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                                        <li class="btn_cont">
                                            <a href="<?php echo $this->escape($this->url(array('booking_id' => $this->estimateParams['booking_id']), 'copyBooking')); ?>" class="btn_a">
                                                <div class="text_pos">
                                                    <i class="fa fa-files-o"></i>&nbsp; Copy Estimate
                                                </div>
                                            </a>
                                        </li>
                                    <?php endif; ?>


                                    <?php if (CheckAuth::checkCredential(array('estimateDelete '))): ?>
                                        <li class="delete">
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimateDelete')); ?>" onclick="return confirm('are you sure you want to delete this Estimate?');"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                                        </li>
                                    <?php endif; ?>

                                    <li class="divider"></li>

                                    <?php if (CheckAuth::checkCredential(array('bookingAdd'))): ?>
                                        <li>
                                            <a href="<?php echo $this->escape($this->url(array(), 'bookingAdd')); ?>" class="btn_a">
                                                <i class="fa fa-plus"></i>&nbsp; New Booking</a>
                                        </li>
                                    <?php endif; ?>
                                    <?php if (CheckAuth::checkCredential(array('complaintAdd '))): ?>
                                        <li class="make-recurring">   <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Complaint', '<?php echo $this->escape($this->url(array('booking_id' => $this->estimateParams['booking_id']), 'complaintAdd')); ?>');">
                                                <i class="fa fa-plus"></i>&nbsp; Add Complaint</a>
                                        </li> 
                                    <?php endif; ?>

                                    <li class="divider"></li>
                                    <?php if (CheckAuth::checkCredential(array('convertEstimateToBooking'))): ?>
                                        <li class="convert-to-open">
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking_id']), 'convertEstimateToBooking')); ?>"><i class="fa fa-exchange"></i>&nbsp Convert to Booking</a>
                                        </li>   
                                    <?php endif; ?>
                                    <li class="divider"></li>
                                    <?php if (CheckAuth::checkCredential(array('downloadEstimate'))): ?>
                                        <li class="export-as-pdf">
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'downloadEstimate')); ?>"> <i class="fa fa-external-link"></i> &nbsp Export as PDF</a>
                                        </li>
                                    <?php endif; ?>

                                    <?php if (!empty($this->isWorkOrder)): ?>
                                        <!---   <li class="typeprice"">
                                                       <i class="fa fa-upload"></i>&nbsp; work Order Attachment File Required
                                               </li>--->
                                    <?php endif; ?>

                                    <?php if (CheckAuth::checkCredential(array('attachment'))): ?>
                                        <li class="make-recurring">
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking_id']), 'bookingAttachment')); ?>" class="details_info_opt"> <i class="fa fa-upload"></i>&nbsp; Files Attachment</a>
                                        </li>
                                    <?php endif; ?>
									
									 <li class="edit">
                                        <?php if (CheckAuth::checkCredential(array('bookingEdit'))){ ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimateCacheClear')); ?>"><i class="fa fa-trash"></i>&nbsp Clear Cache</a>
                                        <?php } ?>
                                    </li>
									
                                </ul>
                            </div>    
                            <!-- email button -->
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false" style="margin-right:3px;">Email&nbsp <span class="caret"></span></button>
                                <ul class="dropdown-menu">

                                    <?php if ($this->estimateParams['pause_emails']) { ?>
                                        <li class="resume">
                                            <a onClick="return confirm('Are you sure you want to resume emails of this estimate ?')" href="<?php echo $this->url(array('id' => $this->estimateParams['booking_id'], 'process' => 'resume'), 'pauseResumeBookingEmails'); ?>" >Resume Emails</a>						
                                        </li>
                                    <?php } else { ?>
                                        <li class="pause">
                                            <a onClick="return confirm('Are you sure you want to pause emails of this estimate ?')" href="<?php echo $this->url(array('id' => $this->estimateParams['booking_id'], 'process' => 'pause'), 'pauseResumeBookingEmails'); ?>" >Pause Emails</a>						
                                        </li>
                                    <?php } ?>


                                    <?php if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))): ?>
                                        <li class="email">
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
                                        </li>
                                    <?php endif; ?>
                                    <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
                                        <li class="send-email">
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email', '<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking']['customer_id'], 'type' => 'estimate', 'reference_id' => $this->estimateParams['id']), 'sendEmail')); ?>');">Send Email</a>
                                        </li>
                                    <?php endif; ?>

                                    <?php $modelCustomerType = new Model_CustomerType(); ?>
                                    <?php $customerType = $modelCustomerType->getById($this->estimateParams['customer']['customer_type_id']); ?>
                                    <?php if (CheckAuth::checkCredential(array('sendWorkOrderRequestEmail')) && !empty($customerType['is_work_order'])): ?>
                                        <li class="email">
                                            <a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Request Work Order', '<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking_id']), 'sendWorkOrderRequestEmail')); ?>')">Request Work Order Email</a>
                                        </li>
                                    <?php endif; ?>




                                </ul>
                            </div>


                        </div>



                    </nav> 

                <?php else: ?>
                    <nav>
                        <div class="inline float-r">
                            <?php if (CheckAuth::checkCredential(array('estimateDelete '))): ?>

                                <button class="btn btn-danger " href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimateDelete')); ?>" onclick="return confirm('are you sure you want to delete this Estimate?');"><i class="fa fa-trash"></i>&nbsp; Delete</button>

                            <?php endif; ?>
                        </div>
                    </nav> 						 

                <?php endif; ?>
            <?php else: ?>
                <nav>
                    <div class="inline float-r">
                        <?php if (CheckAuth::checkCredential(array('estimateUndelete '))): ?>

                            <button class="btn btn-success" href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimateUndelete')); ?>" onclick="return confirm('are you sure you want to restore this Estimate?');">UnDelete</button>

                        <?php endif; ?>
                    </div>
                </nav>
            <?php endif; ?>
        </div>
    </div>



    <div class="row wrapper" style="background-color: <?php echo $this->escape($color); ?>;" >

        <div class="strocked-text" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Estimate Type">
            <?php echo $this->escape(ucfirst($this->estimateParams['estimate_type'])) ?>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">	
        <div class="wrapper wrapper-content">

            <div class="col-md-5">

                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        <div class="inline">
                            <b><?php echo $this->escape($this->estimateParams['estimate_num']) ?></b>

                        </div>
                        <div class="inline float-r"> <b><?php echo $this->escape("$" . number_format($this->estimateParams['booking']['qoute'], 2)) ?></b></div>
                    </div>

                    <div class="ibox-content">
                        <table class="table table_no_top_border ">
                            <tbody>





                                <tr>

                                    <td>
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Booking Address"></span>
                                        <?php echo wordwrap($this->escape(get_line_address($this->estimateParams['booking_address'])), 70, "<br />\n"); ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking']['booking_id']), 'bookingLocation')); ?>"> 
                                            &nbsp; Show Map
                                        </a>
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Date"></span>

                                        <?php echo $this->escape(getDateFormating($this->estimateParams['created'])); //echo $modelUser->covertToUserTimezone($this->estimateParams['created']) ?></td>
                                </tr>

                                <tr>
                                    <td>

                                        <i class="fa fa-user"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Owner"></i>
                                        &nbsp;
                                        <?php $owner = $modelUser->getById($this->estimateParams['booking']['created_by']); ?>
                                        <div class="inline">
                                            <?php echo $this->escape(ucwords($owner['username'])); ?>&nbsp;
                                            <?php if (CheckAuth::checkCredential(array('claimOwner')) && $this->estimateParams['booking']['created_by'] != $loggedUser['user_id']) : ?>

                                                <?php $claimOwner = $modelClaimOwner->getByBookingAndUserId($this->estimateParams['booking']['booking_id'], $loggedUser['user_id']); ?>
                                                <?php if (empty($claimOwner)) : ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['booking']['booking_id']), 'sendClaimOwner')); ?>" class="details_info_opt">Claim Ownership</a>
                                                <?php else : ?>
                                                    <b>Claim Pending</b>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                        <b>Deferred To :</b>

                                        <?php if (!empty($this->estimateParams['booking']['to_follow']) && !empty($this->estimateParams['booking']['is_to_follow'])): ?>


                                            <div class="inline" id="follow_date_container_<?php echo $this->escape($this->estimateParams['booking_id']) ?>" >
                                                <div class="inline" id="follow_date_value_<?php echo $this->escape($this->estimateParams['booking_id']) ?>" >
                                                    <?php echo $this->escape(getDateFormating($this->estimateParams['booking']['to_follow'])); ?>
                                                </div>
                                                &nbsp;
                                                <div class="inline"  id="follow_date_button_<?php echo $this->escape($this->estimateParams['booking_id']) ?>" >
                                                    <a class="btn btn-xs btn-white" href="javascript:;" onclick="change_follow_date(<?php echo $this->escape($this->estimateParams['booking_id']) ?>)" class="a_link"><i class="fa fa-edit"></i> Edit</a>
                                                </div>

                                                <input type="hidden" id="hidden_deffer_to" value="<?php echo date("d-m-Y H:i A", $this->escape($this->estimateParams['booking']['to_follow'])) ?>" />
                                            </div>

                                        <?php endif; ?>
                                        <?php if (!empty($this->estimateParams['booking']['is_to_follow'])): ?>
                                            <div class="inline">

                                                <div>
                                                    &nbsp; 
                                                    <span style="color:green;">Active</span>

                                                    <a class="btn btn-xs btn-white" href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'removeFollowUpEstimate')) ?>" class="a_link">Unfollow</a>
                                                </div>
                                            <?php else: ?>
                                                <div>

                                                    <span style="color:red;">Not Active</span>
                                                    <a class="btn btn-xs btn-white" href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Follow Up Estimate', '<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'followUpEstimate')) ?>')" class="a_link">Follow UP</a>
                                                </div>
                                            </div>
                                        <?php endif; ?>

                                    </td>
                                </tr>
                                <?php /*
                                  <?php if (!empty($this->estimateParams['booking']['to_follow'])): ?>
                                  <tr>
                                  <td>
                                  <b>Deferred To :</b>
                                  &nbsp;
                                  <div class="inline" id="follow_date_container_<?php echo $this->escape($this->estimateParams['booking_id']) ?>" >
                                  <div class="inline" id="follow_date_value_<?php echo $this->escape($this->estimateParams['booking_id']) ?>" >
                                  <?php echo $this->escape(getDateFormating($this->estimateParams['booking']['to_follow'])); //echo $this->escape($modelUser->covertToUserTimezone($this->estimateParams['booking']['to_follow'])) ?>
                                  </div>
                                  &nbsp;
                                  <div class="inline"  id="follow_date_button_<?php echo $this->escape($this->estimateParams['booking_id']) ?>" >
                                  <a class="btn btn-xs btn-white" href="javascript:;" onclick="change_follow_date(<?php echo $this->escape($this->estimateParams['booking_id']) ?>)" class="a_link"><i class="fa fa-edit"></i> Edit</a>
                                  </div>

                                  <input type="hidden" id="hidden_deffer_to" value="<?php echo date("d-m-Y H:i A",$this->escape($this->estimateParams['created']))?>" />
                                  </div>
                                  </td>
                                  </tr>

                                  <tr>
                                  <td>
                                  <b>Deferred Status :</b>
                                  <div class="inline">
                                  <?php if (!empty($this->estimateParams['booking']['is_to_follow'])): ?>
                                  <div class="inline">
                                  &nbsp;
                                  <span style="color:green;">Active</span>

                                  <a class="btn btn-sm btn-white" href="<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'removeFollowUpEstimate')) ?>" class="a_link">Remove Follow UP</a>
                                  </div>
                                  <?php else: ?>
                                  <div class="inline">

                                  <span style="color:red;">Not Active</span>
                                  <a class="btn btn-sm btn-white" href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Follow Up Estimate','<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'followUpEstimate')) ?>')" class="a_link">Add Follow UP</a>
                                  </div>
                                  <?php endif; ?>
                                  </div>
                                  </td>
                                  </tr>
                                  <?php endif; ?>

                                 */ ?>

                            </tbody>
                        </table>






                        <?php if ($this->bookingServices): ?> 
                            <table class="table table_no_top_border estimate_services">
                                <?php $counter_services = 1; ?>
                                <?php foreach ($this->bookingServices as $key => $bookingService): ?>

                                    <?php
                                    $isAccepted = $bookingService['is_accepted'];
                                    $isrejected = $bookingService['is_rejected'];

                                    $serviceId = $bookingService ['service_id'];
                                    $clone = $bookingService ['clone'];
                                    $bookingId = $bookingService ['booking_id'];
                                    $contractorId = $bookingService ['contractor_id'];
                                    $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                                    $serviceDetails = $modelServices->getById($serviceId);
                                    $user = $modelUser->getById($contractorId);
                                    $userInfo = 0;
                                    $contractorInfo = 0;
                                    $roleName = $modelAuthRole->getRoleName($user ['role_id']);
                                    ?>

                                    <tr>
                                        <td class="lineheight22">

                                            <span class="inline">
                                                <i class="fa fa-star">&nbsp;</i>
                                                <b><a href="#services_<?php echo $counter_services; ?>"><?php echo $this->escape($serviceDetails['service_name']); ?></a></b>
                                            </span>
                                            <?php if ($isAccepted == 1): ?>

                                                <span class="float-r accepted_services">
                                                    <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>

                                                        <a href="#" data-toggle="modal" data-target="#popupi"
                                                           onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $bookingId), 'rejectAdminServices')); ?>');"> 
                                                            <img height="12" width="12"
                                                                 src="/pic/white_accepted.png" border="0"
                                                                 alt="Accept">
                                                        </a>
                                                    <?php else: ?>
                                                        <img height="12" width="12"
                                                             src="/pic/white_accepted.png" border="0"
                                                             alt="Accept">
                                                         <?php endif; ?>
                                                </span>


                                            <?php elseif ($isrejected == 1): ?>
                                                <span class="float-r reject_services">
                                                    <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                                        <a href="#" data-toggle="modal" data-target="#popupi"
                                                           onclick="popupi('Accept Admin service', '<?php echo $this->escape($this->url(array('bookingId' => $bookingId), 'acceptAdminServices')); ?>');"
                                                           > 
                                                            <img height="12" width="12"
                                                                 src="/pic/white_rejected.png" border="0"
                                                                 alt="Accept">
                                                        </a>
                                                    <?php else: ?>

                                                        <img height="12" width="12"
                                                             src="/pic/white_rejected.png" border="0"
                                                             alt="Accept">

                                                    <?php endif; ?>
                                                </span>
                                            <?php elseif ($isrejected == 0 && $isAccepted == 0): ?>

                                                <span class="float-r unknown_services">
                                                    <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                                        <a href="#" data-toggle="modal" data-target="#popupi"
                                                           onclick="popupi('Accept Admin service', '<?php echo $this->escape($this->url(array('bookingId' => $bookingId), 'acceptAdminServices')); ?>');"
                                                           > 
                                                            <img height="12" width="12"
                                                                 src="/pic/white_unknown.png" border="0"
                                                                 alt="Accept">
                                                        </a>
                                                    <?php else: ?>
                                                        <img height="12" width="12"
                                                             src="/pic/white_unknown.png" border="0"
                                                             alt="Accept">
                                                         <?php endif; ?>	
                                                </span>

                                            <?php endif; ?>
                                        </td>

                                    </tr>
                                    <?php $counter_services++; ?>
                                <?php endforeach; ?>
                            </table>
                        <?php endif; ?>
                        <div>


                            <?php
                             $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($this->estimateParams['booking_id']);
                            $rowspan = 9;
                            $rowspan = !empty($totalAmountDetails['call_out_fee']) ? $rowspan + 1 : $rowspan;
                            ?>
                            <table class="table table-bordered white-bg table_no_top_border">
                                <tbody>
                                    <tr>
                                        <td>Sub Total:</td>
                                        <td><?php echo $this->escape(number_format($totalAmountDetails['sub_total'], 2)); ?></td>
                                    </tr>
                                    <?php if ($totalAmountDetails['call_out_fee']): ?>
                                        <tr>
                                            <td>Call Out Fee:</td>
                                            <td><?php echo $this->escape(number_format($totalAmountDetails['call_out_fee'], 2)); ?></td>
                                        </tr>
                                    <?php endif; ?>

                                    <tr>
                                        <td>Discount:</td>
                                        <td><?php echo $this->escape(number_format($totalAmountDetails['total_discount'], 2)); ?></td>
                                    </tr>

                                    <tr>
                                        <td>GST (<?php echo (100 * get_config('gst_tax')); ?>%):</td>
                                        <td><?php echo $this->escape(number_format($totalAmountDetails['gst'], 2)); ?></td>
                                    </tr>

                                    <tr>
                                        <td>Total:</td>
                                        <td>$<?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?></td>
                                    </tr>

                                    <tr>
                                        <td>Refund:</td>
                                        <td>(-) <?php echo $this->escape(number_format($totalAmountDetails['refund'], 2)); ?></td>
                                    </tr>

                                    <tr>
                                        <td>Total Amount:</td>
                                        <td>$<?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?></td>
                                    </tr>

                                    <tr>
                                        <td>Paid Amount:</td>
                                        <td>(-) <?php echo $this->escape(number_format($totalAmountDetails['paid_amount'], 2)); ?></td>
                                    </tr>

                                    <tr>
                                        <td>Balance Due:</td>
                                        <td>$<?php echo $this->escape(number_format($totalAmountDetails['balance_due'], 2)); ?></td>
                                    </tr>

                                </tbody>
                            </table>		
                        </div>
                    </div>
                </div>

                <?php
                if ($loggedUser['role_id'] != $contractorRoleId) {

                    $view = new Zend_View ();
                    $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common');
                    $view->contractorDistances = $this->contractorDistances;
                    $view->view = 'estimate';
                    echo $view->render('availableTechnicians.phtml');
                }
                ?>
            </div>

            <div class="col-md-7">


                <div class="ibox float-e-margins" >
                    <div class="ibox-content" >

                        <?php if (isset($this->estimateParams['labels'])): ?>
                            <ul class="booking_label">	  
                                <?php if (CheckAuth::checkCredential(array('EstimateLabel '))): ?>
                                    <li>  
                                        <button class="btn btn-primary  btn-outline labels_btn"  data-toggle="modal" data-target="#popupi" onclick="popupi('Estimate label', '<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'estimateSelectLabel')); ?>');"> 
                                            <b><i class="fa fa-tag"></i>&nbsp Label <i class="fa fa-plus"></i></b>
                                        </button>
                                    </li>
                                <?php endif; ?>	
                                <span id="label_<?php echo $this->estimateParams['id'] ?>" class="Booking_labels">
                                    <?php foreach ($this->estimateParams['labels'] as $label): ?>
                                        <li>
                                            <?php echo $this->escape($label); ?> 
                                        </li>
                                    <?php endforeach; ?>
                                </span>
                            </ul>
                        <?php endif; ?>


                    </div>	
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <?php if ($this->photo): ?>
                            <a href="<?php echo $this->escape($this->url(array('itemid' => $this->estimateParams['id'], 'type' => $this->type), 'ItemAttachmentList')); ?>" class="details_info_opt"><span class="fa fa-th"></span> Photos </a>
                        <?php else: ?>
                            Photos
                        <?php endif; ?>
                        <span class="float-r">
                            <a class="a_link " data-toggle="modal" data-target="#popupi" href="#" onclick="popupi('Add Photos', '<?php echo $this->escape($this->url(array('type' => $this->type, 'itemid' => $this->estimateParams['id']), 'ItemImageAttachmentAttach')); ?>');"><i class="fa fa-camera"></i> Add photos&nbsp;</a>

                        </span>
                    </div>
                    <div class="ibox-content">
                        <?php
                        if ($this->photo):
                            $modelServices = new Model_Services();
                            ?>
                            <div id="productContainer">
                                <div id="productContent">
                                    <ul  class="product-gallery" >
                                        <?php $number = $this->photoCount; ?>
                                        <?php foreach ($this->photo as $photo): ?>
                                            <?php
                                            list($width, $height) = getimagesize($this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['original_path'])));
                                            $service_name = '';
                                            if ($photo['service_id']) {
                                                $service = $modelServices->getById($photo['service_id']);
                                                $service_name = $service['service_name'];
                                            }
                                            ?>
                                            <li class="gallery-img" count="<?php echo $this->photoCount; ?>" number="<?php echo ($number--); ?>">
                                                <div class="viewImage" style="display:none;">
                                                    <div><?php echo $service_name; ?></div>
                                                </div>
                                                <img width = "100" height="100" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['thumbnail_path'])); ?>" imagewidth = "<?php echo $width ?>" imageheight = "<?php echo $height ?>" original="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['original_path'])); ?>"/>
                                                <div class="icons-left">
                                                    <a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Attachment Image', '<?php echo $this->escape($this->url(array('id' => $photo['image_id'], 'type' => $this->type, 'itemid' => $this->estimateParams['id']), 'ItemImageAttachmentEdit')); ?> ');" class="details_info_opt editImage"><span class="fa fa-edit"></span> </a>
                                                </div>
                                                <div class="icons-right">
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $photo['image_id'], 'type' => $this->type, 'itemId' => $this->estimateParams['id']), 'ItemImageAttachmentDelete')); ?>" onclick="return confirmImageDelete($(this))" class="details_info_opt del"><span class="fa fa-times"></span> </a>
                                                </div>

                                                <div class="content">
                                                    <div style="height:80%;overflow:auto;" class="discussions" >
                                                        <?php
                                                        $modelEstimateDiscussion = new Model_EstimateDiscussion();
                                                        $modelUser = new Model_User();
                                                        $modelAuthRole = new Model_AuthRole();
                                                        $modelContractorInfo = new Model_ContractorInfo();
                                                        $imageDiscussions = $modelEstimateDiscussion->getByImageId($photo['image_id'], 'DESC');
                                                        ?>
                                                        <ul class="disc_b">
                                                            <?php if ($imageDiscussions): ?>
                                                                <?php foreach ($imageDiscussions as $imageDiscussion): ?>
                <?php $user = $modelUser->getById($imageDiscussion['user_id']); ?>
                                                                    <li>
                                                                        <div class="normal_font"> 
                                                                            <span>
                                                                                <i class="fa fa-user"></i>
                                                                                <b><?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                                                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                                                                        <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>

                                                                                    <?php else: ?>
                                                                                        <?php echo $this->escape(ucwords($user['username'])); ?>
                <?php endif; ?>
                                                                                </b>
                                                                            </span>

                                                                            <span >
                                                                                <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                <?php echo $this->escape(getDateFormating($imageDiscussion['created'])) ?>
                                                                            </span>
                                                                        </div>
                                                                        <div class="disc_message">
                <?php echo nl2br($this->escape(wordwrap($imageDiscussion['user_message'], 20, " ", true))); ?>
                                                                        </div>


                                                                    </li>
                                                                <?php endforeach; ?>
        <?php endif; ?>


                                                        </ul>

                                                    </div>
                                                    <div class="comment_body">
                                                        <div class="errMsg">&ensp;</div>
                                                        <input type="hidden" value= "<?php echo $photo['image_id']; ?>" name="imageId" id="imageId"/>
                                                        <div class="form-group">
                                                            <label class="col-md-3"> 
                                                                Comment 
                                                            </label>
                                                            <div class="col-md-7" style="padding-left:0px;">
                                                                <textarea name="discussion" class="form-control discussion_image" style="font-size:12px;"></textarea>               								
                                                            </div>
                                                            <div class="col-md-2" style="padding-left:0px;"><a class="btn btn-primary addComment" style="line-height:32px;"><i class="fa fa-comment"></i> Post</a></div>
                                                        </div>
                                                        <div style="clear:both"></div>
                                                    </div>
                                                </div>


                                            </li>
    <?php endforeach; ?>
                                    </ul>
                                </div>
                            </div>										
                        <?php else: ?>
                            <div> There are no images. </div>
<?php endif; ?>
                        <div style="clear:both"></div>
                    </div>
                </div>

                <?php
                $customerView = new Zend_View();
                $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                $customerView->customer_id = $this->estimateParams['booking']['customer_id'];
                $customerView->allDetails = $this->estimateParams['isAccepted'];
				//get customer, to be sure the customer is available
				$modelCustomer = new Model_Customer();
				$customer = $modelCustomer->getById($this->estimateParams['booking']['customer_id']);
				if($_SERVER['REMOTE_ADDR'] == '176.106.46.142'){
					//echo $this->estimateParams['booking']['customer_id'];
					//echo $customerView->render('customer_info.phtml');
				}
				if(!empty($customer)){
					echo $customerView->render('customer_info.phtml');
				}
                
                ?>


                <div class="ibox float-e-margins  fadeInRight" id="description_block">
                    <div class="ibox-title">
                        <b>Private Notes <?php $description = wordwrap($this->estimateParams['booking']['description'], 90, "\n", true); ?></b>
<?php if ($this->canEditDetails) { ?>
                            <span class="float-r">
                                <a class="a_link"  id="edit_description"><span class="fa fa-edit"></span></a>
                            </span>
<?php } ?>
                    </div>
                    <div class="ibox-content" id="description_content">
                        <div class="bookingDescription">
<?php echo $description; ?>
                        </div>	
                    </div>
                </div>	


<?php if ($this->questions): ?>	

                    <div class="ibox">
                        <div class="ibox-title">
                            <b>Update Booking Questions </b>
                        </div>

                        <div class="ibox-content"> 

                            <table  class="table table_no_top_border">
                                <tbody>

                                    <?php foreach ($this->questions as $question):
                                        ?>
                                        <tr>
                                            <td class="labelText"><b><?php echo $question['question_text']; ?></b></td>

                                            <td class="valueText"><b><?php echo $question['answer_text'] ? $question['answer_text'] : 'No Answer'; ?></b></td>
                                        </tr>

                                        <?php
                                    endforeach;
                                    ?>

                                </tbody>
                            </table>

                        </div>	
                    </div>					
<?php endif; ?>





                <!--tabs section--> 
                <?php
                $view = new Zend_View();
                $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                $view->bookingId = $this->estimateParams['booking_id'];
                $view->view = 'estimate';
                echo $view->render('tabs.phtml');

                $uri_parts = explode('?', $_SERVER['REQUEST_URI'], 2);


                $alt_data = array();
                $alt_data[] = 'id=' . $this->estimateParams['booking_id'];
                $alt_data[] = 'go_to_url=' . urlencode("http://" . $_SERVER['HTTP_HOST'] . "" . $uri_parts[0]);

                $alter_data = implode("&", $alt_data);
                ?>



            </div>
        </div>

        <div class="ibox services no-margin-b"> 

            <div class="ibox-title col-md-12 col-lg-12 col-sm-12 col-xs-12 services_head black-gray">
                <div class="inline">&nbsp;
                    <i class="icon-services">&nbsp;</i>
                    Services  
                </div>


            </div>	

            <div class="ibox-content services_content" style="background-color:#788492 !important;">
                <?php if ($this->bookingServices): ?> 
                    <?php $service_counter2 = 1; ?>
                    <?php foreach ($this->bookingServices as $key => $bookingService): ?>
                        <?php
                        $isAccepted = $bookingService['is_accepted'];
                        $isrejected = $bookingService['is_rejected'];

                        $serviceId = $bookingService ['service_id'];
                        $clone = $bookingService ['clone'];
                        $bookingId = $bookingService ['booking_id'];
                        $contractorId = $bookingService ['contractor_id'];
                        $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
                        $serviceDetails = $modelServices->getById($serviceId);
                        $user = $modelUser->getById($contractorId);
                        $userInfo = 0;
                        $contractorInfo = 0;
                        $roleName = $modelAuthRole->getRoleName($user ['role_id']);
                        ?>
                        <?php if ('contractor' == $roleName): ?>
                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($contractorId); ?>
                        <?php else: ?>
                            <?php $userInfo = $modelUserInfo->getByUserId($contractorId) ?>
                        <?php endif; ?>

                        <div class="ibox float-e-margins"  id="services_<?php echo $service_counter2; ?>">
                            <div class="ibox-title spec_height">
                                <div class="inline">
                                    <i class="fa fa-star">&nbsp;</i>
                                    <b><?php echo $this->escape($serviceDetails['service_name']); ?></b>

                                    <a class="collapse-link" style="color:#ccc;">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>

                                </div>
                                <?php if ($isAccepted == 1): ?>

                                    <span class="float-r accepted_services">
                                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>

                                            <a href="#" data-toggle="modal" data-target="#popupi"
                                               onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $bookingId), 'rejectAdminServices')); ?>');"> 
                                                <img height="12" width="12"
                                                     src="/pic/white_accepted.png" border="0"
                                                     alt="Accept">
                                            </a>
                                        <?php else: ?>
                                            <img height="12" width="12"
                                                 src="/pic/white_accepted.png" border="0"
                                                 alt="Accept">
                                             <?php endif; ?>
                                    </span>


                                <?php elseif ($isrejected == 1): ?>
                                    <span class="float-r reject_services">
                                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                            <a href="#" data-toggle="modal" data-target="#popupi"
                                               onclick="popupi('Accept Admin service', '<?php echo $this->escape($this->url(array('bookingId' => $bookingId), 'acceptAdminServices')); ?>');"
                                               > 
                                                <img height="12" width="12"
                                                     src="/pic/white_rejected.png" border="0"
                                                     alt="Accept">
                                            </a>
                                        <?php else: ?>

                                            <img height="12" width="12"
                                                 src="/pic/white_rejected.png" border="0"
                                                 alt="Accept">

                                        <?php endif; ?>
                                    </span>
                                <?php elseif ($isrejected == 0 && $isAccepted == 0): ?>

                                    <span class="float-r unknown_services">
                                        <?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
                                            <a href="#" data-toggle="modal" data-target="#popupi"
                                               onclick="popupi('Accept Admin service', '<?php echo $this->escape($this->url(array('bookingId' => $bookingId), 'acceptAdminServices')); ?>');"
                                               > 
                                                <img height="12" width="12"
                                                     src="/pic/white_unknown.png" border="0"
                                                     alt="Accept">
                                            </a>
                                        <?php else: ?>
                                            <img height="12" width="12"
                                                 src="/pic/white_unknown.png" border="0"
                                                 alt="Accept">
                                             <?php endif; ?>	
                                    </span>

                                <?php endif; ?>

                            </div>




                            <div class="ibox-content">



                                <?php
                                $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId);
                                $unit_price = 0;
                                $qty = 0;
                                foreach ($serviceAttribute as $attribute) {
                                    if (!empty($this->isTemp)) {
                                        $value = $modelServiceAttributeValueTemp->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute ['service_attribute_id'], $clone);
                                    } else {
                                        $value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute ['service_attribute_id'], $clone);
                                    }
                                    switch ($attribute ['attribute_name']) {
                                        case 'Quantity' :
                                            $qty = $value ['value'];
                                            break;
                                        case 'Price' :
                                            $unit_price = $value ['value'];
                                            break;
                                    }
                                }
                                ?>
                                <div>
                                    <ul class="display-mobile">
                                        <li>
                                            <div>UNIT PRICE</div>
                                            <div><b><?php echo $this->escape($unit_price); ?></b></div>
                                        </li>

                                        <li>
                                            <div>QTY</div>
                                            <div><b><?php echo $this->escape($qty); ?></b></div>
                                        </li>

                                        <li>
                                            <div>TOTAL</div>
                                            <div><b><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></b></div>
                                        </li>
                                    </ul>


                                </div>
                                <div class="clearfix"></div>

                                <table class="table invoice-table table_no_top_border">


                                    <thead>										
                                    <th>
                                        Technician:	
                                        <span class="normal_font"> 
                                            <?php echo $this->escape($userInfo ? $userInfo['first_name'] . ' ' . $userInfo['last_name'] : (ucwords($user['username']) . ($contractorInfo ? ' - ' . ucwords($contractorInfo['business_name']) : ''))) ?>
                                        </span>
                                    </th>
                                    <th style="width:10%;" class="mobile-none-display" >UNIT PRICE</th>											
                                    <th class="mobile-none-display">QTY</th>
                                    <th class="mobile-none-display">TOTAL</th>
                                    </thead>
                                    <tbody>
                                    <td>

                                        <p id="service_desc">
                                            <?php
                                            foreach ($serviceAttribute as $attribute) {
                                                // $serviceAttribute = $modelServiceAttribute->getByAttributeIdAndServiceId($attribute['attribute_id'], $attribute['service_id']);
                                                if (!empty($this->isTemp)) {
                                                    $value = $modelServiceAttributeValueTemp->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute ['service_attribute_id'], $clone);
                                                } else {
                                                    $value = $modelServiceAttributeValue->getByBookingIdAndServiceAttributeIdAndClone($bookingId, $attribute ['service_attribute_id'], $clone);
                                                }
                                                switch ($attribute ['attribute_name']) {
                                                    case 'Quantity' :
                                                        $qty = $value ['value'];
                                                        break;
                                                    case 'Price' :
                                                        $unit_price = $value ['value'];
                                                        break;
                                                    default :
                                                        if ($value ['value']) {
                                                            $att = $modelAttributeType->getById($attribute ['attribute_type_id']);
                                                            ?> 

                                                            <?php if ($attribute['attribute_name'] != "Description") { ?>

                                                                <?php echo '<b>' . $this->escape($attribute['attribute_name']) . '</b>';
                                                            } ?> 

                                                            <?php
                                                            if ($att ['is_list']) {

                                                                if ($value ['is_serialized_array']) {
                                                                    $values = unserialize($value ['value']);
                                                                    foreach ($values as $value) {
                                                                        $attributeListValue = $modelAttributeListValue->getById($value);
                                                                        if ($attributeListValue ['unit_price']) {
                                                                            echo '<div><b>' . $this->escape($attributeListValue ['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue ['unit_price'], 2)) . ')</b></b></div>';
                                                                        } else {
                                                                            echo '<div>' . $this->escape($attributeListValue ['attribute_value']) . '</div>';
                                                                        }
                                                                    }
                                                                } else {
                                                                    $attributeListValue = $modelAttributeListValue->getById($value ['value']);
                                                                    if ($attributeListValue ['unit_price']) {
                                                                        echo $this->escape($attributeListValue ['attribute_value']) . '&ensp;&ensp;&ensp;<b>Price(' . $this->escape(number_format($attributeListValue ['unit_price'], 2)) . ')</b>';
                                                                    } else {
                                                                        echo $this->escape($attributeListValue ['attribute_value']) . '<br/>';
                                                                    }
                                                                }
                                                            } else {

                                                                if ($attribute['attribute_name'] == 'Description') {
                                                                    $desc = nl2br($this->escape($value ['value'])) . '<br/>';
                                                                } else {
                                                                    echo nl2br($this->escape($value ['value'])) . '<br/>';
                                                                }
                                                            }
                                                            //}
                                                        }
                                                        break;
                                                }
                                            }
                                            ?>


                                            <?php if (isset($serviceDetails['consider_min_price']) && $serviceDetails['consider_min_price']): ?>
                                                <span><b>Min-price: </b><?php echo $this->escape($serviceDetails['min_price']); ?></span>
        <?php endif; ?>

                                        <div>
                                            <span>
                                                <b>Description :</b>
                                                <?php echo $desc; ?>
                                            </span>
                                        </div>

                                        </p>
                                    </td>




                                    <td class="mobile-none-display"><?php echo $this->escape($unit_price); ?></td>
                                    <td class="mobile-none-display"><?php echo $this->escape($qty); ?></td>
                                    <td class="mobile-none-display"><?php echo $this->escape(number_format($this->priceArray[$serviceAndClone], 2)); ?></td>
                                    </tbody>

                                </table>



                            </div>
                        </div>
        <?php $service_counter2++; ?>
    <?php endforeach; ?>



                <?php endif; ?>
            </div>
        </div>
    </div>








</div>





<script>

    function UpdateTableHeaders() {
        var fixedwidth = $('.services').width();
        $(".services").each(function () {
            var el = $(this),
                    offset = el.offset(),
                    scrollTop = $(window).scrollTop(),
                    floatingHeader = $(".floatingHeader", this)

            if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
                floatingHeader.css({
                    "display": "block", "width": fixedwidth
                });
            } else {
                floatingHeader.css({
                    "display": "none"
                });
            }
            ;
        });
    }

    // DOM Ready      
    $(function () {

        var clonedHeaderRow;

        $(".services").each(function () {
            clonedHeaderRow = $(".services_head", this);
            clonedHeaderRow
                    .before(clonedHeaderRow.clone())

                    .addClass("floatingHeader");
            // .css("width", clonedHeaderRow.width())
            //.css({'position': 'fixed','top':'0','z-index':'1000'});
        });

        $(window)
                .scroll(UpdateTableHeaders)
                .trigger("scroll");

    });
</script>
<script type="text/javascript">



    $(document).ready(function () {

        var showChar;
        if ($(window).width() < 500) {
            showChar = 120;
        }
        else {
            showChar = 450;
        }

        var ellipsestext = "...";
        var moretext = "more";
        var lesstext = "less";
        $('.more_desc').each(function () {
            var content = $(this).html();

            if (content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);

                var html = c + '<span class="moreelipses">' + ellipsestext + '</span>&nbsp;<span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }

        });
        $('[data-toggle="tooltip"]').tooltip();
<?php
$session = new Zend_Session_Namespace();
$viewPopup = $session->viewPopup;
?>
<?php if ($viewPopup && $viewPopup == '1'): ?>
    <?php
    $session = new Zend_Session_Namespace();
    $session->viewPopup = '0';
    $viewPopup = $session->viewPopup;
    ?>


            $('#popupi').modal('show');
            popupi_with_parm('Booking Confirmation', '<?php echo $this->escape($this->url(array(), 'sendBookingConfirmationAsEmail')); ?>', "<?php echo $alter_data; ?>");
<?php endif; ?>



        $.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array('type' => 'booking_estimate', 'type_id' => $this->estimateParams['id']), 'updateFullTextSearchByTypeAndTypeId')); ?>',
            success: function (result) {
                console.log(result);
            }
        });


        //edit description 

        $('#description_block').on('click', '#edit_description', function (e) {
            $('.bookingDescription').summernote({focus: true});
            $('.note-insert').hide();
            $(this).after('&nbsp;&nbsp;<a class="a_link"  id="save_description"><span class="fa fa-floppy-o"></span>&nbsp;Save&nbsp;</a>');
            $(this).html('<span class="fa fa-ban"></span>');
            $(this).attr('id', 'cancel_edit');
        });

        $('#description_block').on('click', '#save_description', function (e) {
            editDescription();
        });

        $('#description_block').on('click', '#cancel_edit', function (e) {
            var description = $('.bookingDescription').html();
            $('.bookingDescription').destroy();
            $('.bookingDescription').html(description);
            $(this).html('<span class="fa fa-edit"></span>');
            $(this).attr('id', 'edit_description');
            $('#save_description').remove();
        });

        function editDescription() {
            newdescription = $('.bookingDescription').code(); //save HTML If you need(aHTML: array).
            $.ajax({
                type: "POST",
                data: {'description': newdescription},
                url: "<?php echo $this->url(array('id' => $this->estimateParams['booking']['booking_id']), 'bookingEditDescription'); ?>",
                success: function (msg) {
                    var new_description = $('#description').val();
                    $('.bookingDescription').destroy();
                    $('#save_description').remove();
                    $('#cancel_edit').html('<span class="fa fa-edit"></span>');
                    $('#cancel_edit').attr('id', 'edit_description');
                }
            });
        }

        $('.gallery-img').Am2_SimpleSlider();

        $('body').on('click', '.addComment', function (e) {

            parent = $(this).parents('.comment_body');
            comment = parent.find('.discussion_image').val();
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array('id' => $this->estimateParams['id']), 'submitEstimateDiscussion')); ?>",
                data: {'discussion': comment, 'imageId': parent.find('#imageId').val()},
                dataType: "json",
                success: function (msg) {
                    if (msg.success == 1) {
                        getCommentData(parent.find('#imageId').val(), parent);
                        //$('#discussions').removeClass('empty');
                    } else {
                        parent.parents('.product-desc').find('.errMsg').html(msg.errMsg);
                    }
                }
            });

        });


    });

    var count = 0;
    function getCommentData(ImageId, parent) {

        $.ajax({
            type: "POST",
            data: {'id': ImageId},
            url: "<?php echo $this->escape($this->url(array(), 'allEstimateImageDiscussion')); ?>",
            dataType: "json",
            success: function (msg) {
                if (count != msg.count) {
                    //alert($('#discussions').html());
                    var li_index = parent.parents('.product-information1').find('#image_num').val();

                    parent.parents('body').find('.gallery-img:eq(' + li_index + ') .discussions ul').html('');
                    parent.parents('.product-desc').find('.discussions ul').html('');
                    //alert(parent.parents('body').find('.gallery-img:eq('+li_index+') .discussions ul').html());

                    $.each(msg.discussions, function (index, discussion) {
                        parent.parents('.product-desc').find('.discussions ul').append(
                                '<li><div class="normal_font"> <span><i class="fa fa-user"></i>' +
                                '<b> ' + discussion.user.username + ' </b></span>' +
                                '<span ><i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' +
                                discussion.discussion_date + ' </span></div><div class="disc_message">' +
                                discussion.user_message + '</div></li>');

                        parent.parents('body').find('.gallery-img:eq(' + li_index + ') .discussions ul').append(
                                '<li><div class="normal_font"> <span><i class="fa fa-user"></i>' +
                                '<b> ' + discussion.user.username + ' </b></span>' +
                                '<span ><i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' +
                                discussion.discussion_date + ' </span></div><div class="disc_message">' +
                                discussion.user_message + '</div></li>');


                    });


                }

                parent.parents('.product-desc').find('.errMsg').html('');
                count = msg.count;
            }
        });
    }


    function confirmImageDelete(deleteLink) {
        var deletCommentFlag = 0;

        if (!($('#deleteComment').length))
        {
            $div1 = $('<div id="deleteComment" class="modal fade"><div class="modal-dialog"><div class="modal-content"> <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title">Confirmation Message</h4></div><div class="modal-body"> <p>Are you sure you want to continue?</p> </div><div class="modal-footer"><a type="button" class="btn btn-danger" id="okBtn">OK</a><a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a></div></div></div></div>').appendTo('body');
        }

        $("#confirm .modal-title").html('Delete Image');
        $("#confirm .modal-body").html('Are you sure you want to delete this Image Attachment?');
        $('#confirm').modal('show');

        $('body').on('click', '#confirm #okBtn', function () {

            $comments = deleteLink.parents('.gallery-img').find('.discussions ul li').length;

            if ($comments) {
                $('#confirm').modal('hide');
                $('#deleteComment').modal('show');
                $("#deleteComment .modal-title").html('Delete Image Comments');
                $("#deleteComment .modal-body").html('Are you sure you want to delete this Image Comments?');
                $("#deleteComment a:eq(0)").text('Yes');
                $("#deleteComment a:eq(1)").text('No');
                var _href = deleteLink.attr("href");
                $('#deleteComment a:eq(0)').attr("href", _href);
                $('#deleteComment a:eq(1)').attr("href", _href);
            } else {
                var _href = deleteLink.attr("href");
                window.location.href = _href;
            }
        });

        var deletCommentFlag = 'false';
        $('body').on('click', '#deleteComment #okBtn', function () {
            var deletCommentFlag = 'true';
            $('#deleteComment').modal('hide');
            var _href = $(this).attr("href");
            $(this).attr("href", _href + '?deleteComments=' + deletCommentFlag);
        });

        $('body').on('click', '#deleteComment a:eq(1)', function () {
            var deletCommentFlag = 'false';
            $('#deleteComment').modal('hide');

        });


        return false;
    }



    function change_follow_date(booking_id) {

        var value = $('#hidden_deffer_to').val();
        $('#follow_date_value_' + booking_id).html('<div class="input-group date" id="datetimepicker2"><input type="text" class="form-control" id="follow_date_' + booking_id + '"  value="' + value + '" /><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>');
        $('#follow_date_button_' + booking_id).css('padding-top', '2px');
        $('#follow_date_button_' + booking_id).html('<a href="javascript:;" onclick="save_follow_date(' + booking_id + ')" class="a_link">Save</a>');

        $('#datetimepicker2').datetimepicker({
            format: 'DD-MM-YYYY LT'
        });

        /*$('#follow_date_'+booking_id).datepicker({
         todayBtn: "linked",
         keyboardNavigation: false,
         forceParse: false,
         calendarWeeks: true,
         autoclose: true,
         timeFormat: 'hh:mm tt',
         dateFormat: 'MM dd ,yy'
         
         });*/
    }

    function save_follow_date(booking_id) {
        $('#follow_date_button_' + booking_id).css('padding-top', '0');
        $('#follow_date_button_' + booking_id).html('<img src="/pic/loading-4.gif">');
        $('#label_' + booking_id).remove();

        var follow_date = $('#follow_date_' + booking_id).val();

        if (follow_date != '') {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'modifyFollowDate')); ?>',
                data: {
                    'follow_date': follow_date,
                    'booking_id': booking_id
                },
                dataType: 'json',
                success: function (result) {
                    if (result.st == 2) {

                        $('#follow_date_value_' + booking_id).html(result.msg);

                        $('#follow_date_button_' + booking_id).html('<a href="javascript:;" onclick="change_follow_date(' + booking_id + ')" class="a_link btn btn-xs btn-white">Edit</a>');
                        $('#hidden_deffer_to').val(follow_date);
                    }
                }

            });
        } else {
            $('#follow_date_value_' + booking_id).html('<input type="text" id="follow_date_' + booking_id + '" readonly="readonly" />');
            $('#follow_date_button_' + booking_id).css('padding-top', '2px');
            $('#follow_date_button_' + booking_id).html('<a href="javascript:;" onclick="save_follow_date(' + booking_id + ')" class="a_link">Save</a>');
            $('#follow_date_container_' + booking_id).after('<label id="label_' + booking_id + '" class="error"> Field required </label>');
            $('#datetimepicker2').datetimepicker({
                format: 'D-M-YYYY LT'
            });
        }
    }
</script>


