<form id="form" enctype="multipart/form-data" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h1>Company Information :</h1>
    <table>

        <tr>
            <td class="input_type" valign="top">Company Name :</td>
            <td><?php echo $this->form->getElement('company_name')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Business Name :</td>
            <td><?php echo $this->form->getElement('company_business_name')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company ABN (Australian Business Number) :</td>
            <td><?php echo $this->form->getElement('company_abn')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company ACN (Australian Company Number) :</td>
            <td><?php echo $this->form->getElement('company_acn')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company GST (Goods and Services Tax) :</td>
            <td><?php echo $this->form->getElement('company_gst')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company GST Date Registered :</td>
            <td><?php echo $this->form->getElement('company_gst_date_registered')->render(); ?></td>
        </tr>
    </table>

    <h1>Contact Details :</h1>

    <table>
        <tr>
            <td class="input_type" valign="top">Company Website :</td>
            <td><?php echo $this->form->getElement('company_website')->render(); ?></td>
        </tr>
        
        <tr>
            <td class="input_type" valign="top">Company Enquiries Email :</td>
            <td><?php echo $this->form->getElement('company_enquiries_email')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Invoices Email :</td>
            <td><?php echo $this->form->getElement('company_invoices_email')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Accounts Email :</td>
            <td><?php echo $this->form->getElement('company_accounts_email')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Complaints Email :</td>
            <td><?php echo $this->form->getElement('company_complaints_email')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Mobile 1 :</td>
            <td><?php echo $this->form->getElement('company_mobile1')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Mobile 2 :</td>
            <td><?php echo $this->form->getElement('company_mobile2')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Mobile 3 :</td>
            <td><?php echo $this->form->getElement('company_mobile3')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Phone 1 :</td>
            <td><?php echo $this->form->getElement('company_phone1')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Phone 2 :</td>
            <td><?php echo $this->form->getElement('company_phone2')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Phone 3 :</td>
            <td><?php echo $this->form->getElement('company_phone3')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Fax :</td>
            <td><?php echo $this->form->getElement('company_fax')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Emergency Phone :</td>
            <td><?php echo $this->form->getElement('company_emergency_phone')->render(); ?></td>
        </tr>

    </table>

    <h1>Address Details :</h1>

    <table>

        <tr>
            <td class="input_type" valign="top">Company Unit / Lot No :</td>
            <td><?php echo $this->form->getElement('company_unit_lot_no')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Street Number :</td>
            <td><?php echo $this->form->getElement('company_street_no')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Street Name :</td>
            <td><?php echo $this->form->getElement('company_street_address')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Suburb :</td>
            <td><?php echo $this->form->getElement('company_suburb')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Country :</td>
            <td><?php echo $this->form->getElement('country_id')->render(); ?></td>
        </tr>

        <tr id="city_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <td class="input_type" valign="top">City :</td>
            <td id="city"><?php echo $this->form->getElement('city_id')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company State :</td>
            <td><?php echo $this->form->getElement('company_state')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company Postcode :</td>
            <td><?php echo $this->form->getElement('company_postcode')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company PO Box (Postal Address):</td>
            <td><?php echo $this->form->getElement('company_po_box')->render(); ?></td>
        </tr>

        <tr><td class="input_type" valign="top"></td><td><?php echo $this->form->getElement('button')->render(); ?></td></tr>


    </table>
</form>

<script type="text/javascript">   
    function getCities(){
        if($('#country_id').val()){
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country_id').val(),
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
    $(document).ready(function() {
        $("#company_gst_date_registered").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });
</script>