<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    company Invoice Notes
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->companies): ?>
                <div>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                        <tr class="bg_table">
                            <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                            <td><b>note</b></td>
                        </tr>

                        <?php $count = 0; ?>
                        <?php foreach ($this->companies as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                    if ($count % 2 != 0) {
                        echo 'tr_cont_1';
                    } else {
                        echo 'tr_cont_2';
                    }
                            ?>">
                                <td>
                                    <div class="details_info_l" style="font-size: 12px;">
                                        <div>Note :</b> <?php echo $this->escape($row['note']) ?></div>
                                    </div>
                                    <div class="details_info_l">
                                        <?php if (CheckAuth::checkCredential(array('settingsCompaniesEdit'))): ?>
                                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['company_id']), 'settingsCompaniesEdit')); ?>','600','500');" class="details_info_opt">Edit</a>
                                            <span class="details_breaks">|</span>
                                        <?php endif; ?>

                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('companyId' => $row['company_id']), 'settingsCompaniesAddInvoiceNote')); ?>','500','700');" class="details_info_opt">Modify Invoice Note</a>
                                        <span class="details_breaks">|</span>

                                        <?php if (CheckAuth::checkCredential(array('settingsCompaniesDelete'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['company_id']), 'settingsCompaniesDelete')); ?>" onclick="return confirm('are you sure you want to delete this company?');" class="details_info_opt">Delete</a>
                                        <?php endif; ?>
                                    </div>
                                </td>

                            </tr>
                        <?php endforeach; ?>
                    </table>

                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                </div>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Company.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsCompaniesAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsCompaniesAdd')); ?>','600','500');" class="btn_a">
                            <div class="text_pos">
                                New Company
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Companies
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCompaniesList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                        </form>
                    </div>
                    <div class="settings_border_btm_style">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance">Search</a> |
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsCompaniesList')); ?>" class="a_advance" >Reset</a>
                    </div>
                    <br/>
                </div>
            </div>
        </td>
    </tr>
</table>
