<div class="col-lg-12 wrapper-content">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsDueDateAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Due date' , '<?php echo $this->escape($this->url(array(), 'settingsDueDateAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Due date
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div>
                <div class="button_actions">
                    <h5>     Search Due Date </h5>
                </div>
                
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsDueDateList')); ?>" method="GET" class="form-inline" role="form" >
                            <input class="form-control" name="fltr[due_date]" type="text" value="<?php echo $this->escape(!empty($this->filters['due_date']) ? $this->filters['due_date'] : ''); ?>" />
                            <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                            <a href="<?php echo $this->escape($this->url(array(), 'settingsCitiesList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                
					</form>
            </div>
        </div>
    </div>
<div class="col-lg-12 wrapper-content ibox float-e-margins">

    <?php // echo BreadCrumbs::breadCrumb(); ?>
	<div class="ibox-title">
                        <h5>All Due Dates</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
					
		<div class="ibox-content">			
					
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsDueDateDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Due Date?');">

                    
                    
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsDueDateDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover " id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Due Date</b></td>
                                    <td><b>Default</b></td>
                                    <td><b>Core</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $count += 1; ?>
                                    <tr class="<?php
                                    if ($count % 2 != 0) {
                                        echo 'tr_cont_1';
                                    } else {
                                        echo 'tr_cont_2';
                                    }
                                    ?>">
                                    <tr class="gradeX">
                                         <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                        <td><div class="details_info_l">
                                            <?php echo $this->escape($row['due_date']) ?>    
                                        </div> <div class="details_info_l">
                                                <?php if (CheckAuth::checkCredential(array('settingsDueDateAdd')) && !$row['is_core']): ?>
                                                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsDueDateEdit')); ?>');" class="details_info_opt">Edit</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsDueDateDelete')) && !$row['is_core']): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsDueDateDelete')); ?>" onclick="return confirm('are you sure you want to delete this Due Date?');" class="details_info_opt">Delete</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsDueDateAsDefault'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsDueDateAsDefault')); ?>" class="details_info_opt">Set As Default</a>
                                                <?php endif; ?>
                                            </div></td>
                                        <td> <div class="details_info_l">
                                                <?php echo $this->escape($row['is_default'] ? 'YES' : 'NO') ?>    
                                            </div>
                                        </td>
                                        <td>  <div class="details_info_l">
                                                <?php echo $this->escape($row['is_core'] ? 'YES' : 'NO') ?>    
                                            </div></td>

                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                   
                




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no Due dates.</div>

        <?php endif; ?>

        </div>
    
</div>
<div style="clear:both;"></div>

