
<div class="white-bg booking-view-button-header">
    <nav> 
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle " aria-expanded="false">User Menu&nbsp<span class="caret"></span></button>
            <ul class="dropdown-menu">
			 <?php if (CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))): ?>
                <li class="contractor_info_modify_cont ">
                    <a href="javascript:;" class="contractor_a_link" onclick="AddEditContractorInfo('<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoAdd')); ?>');">Modify Contractor Info</a>
                </li>
            <?php endif; ?>
			 <?php if (CheckAuth::checkCredential(array('settingsServicesEdit'))): ?>
                <li class="contractor_info_link_cont">
                    <a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceList')); ?>" class="contractor_a_link">Modify Services</a>
                </li>
            <?php endif; ?>
			<?php if ($this->contractorInfo): ?>

                <?php if (CheckAuth::checkCredential(array('settingsContractorOwnerEdit'))): ?>
                    <li class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorOwnerList')); ?>" class="contractor_a_link">Modify Owner (s)</a>
                    </li>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsContractorEmployeeEdit'))): ?>
                    <li class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorEmployeeList')); ?>" class="contractor_a_link">Modify Employee (s)</a>
                    </li>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfEquipmentEdit'))): ?>
                    <li class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfEquipmentList')); ?>" class="contractor_a_link">Modify Equipment List</a>
                    </li>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfChemicalsEdit'))): ?>
                    <li class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfChemicalsList')); ?>" class="contractor_a_link">Modify Chemicals List</a>
                    </li>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfOtherApparatusEdit'))): ?>
                    <li class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfOtherApparatusList')); ?>" class="contractor_a_link">Modify Other Apparatus List</a>
                    </li>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsContractorVehicleEdit'))): ?>
                    <li class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorVehicleList')); ?>" class="contractor_a_link">Modify Vehicle List</a>
                    </li>
                    <li class="contractor_info_link_cont">
                        <a href="javascript:;" class="contractor_a_link" onclick="AddGmailAccounts('<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorGmailAdd')); ?>');">Modify Gmail Accounts</a>
                    </li>
                <?php endif; ?>

            <?php endif; ?>
                

            </ul>
        </div>

    </nav>
</div>