<?php 
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<table class="table table-bordered">
        <tbody>
		
			<tr>
				<td class="col-md-6">Color :</td>
				<td class="col-md-6" style="background-color: <?php echo $this->escape($colors[$this->bookingStatus['color']]) ?>;"></td>   
			</tr>
        
			<tr>
				<td class="col-md-6"  >Push Booking to Google Calender :</td>
				<td class="col-md-6"><?php echo ($this->escape($this->bookingStatus['push_google_calender']) ? 'YES' : 'NO') ?></td> 
			</tr>
        
			<tr>
				<td class="col-md-6" >Delete Booking from Google Calender :</td>
				<td class="col-md-6" ><?php echo ($this->escape($this->bookingStatus['delete_google_calender']) ? 'YES' : 'NO') ?></td>
			</tr>
		
			<tr>
				<td class="col-md-6" >Send Customer Feedback Request :</td>
				<td class="col-md-6"><?php echo ($this->escape($this->bookingStatus['request_feedback']) ? 'YES' : 'NO') ?></td>
			</tr>
		
			<tr>
				<td  class="col-md-6">Description</td>
				<td class="col-md-6"><?php echo nl2br($this->escape($this->bookingStatus['description'])); ?></td> 
			</tr>
		
		</tbody>
</table>
