<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->url(array('booking_id'=>'booking_id'), 'sendBookingAsSmsByTwilio')); ?><?php //echo $this->escape($this->form->getAction()); ?>">
              <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
	  
			  <div class="form-group hidden" >
                    <label class="col-md-3">ID: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                      <input type="text" name="booking_id" id="booking_id" value="<?php echo $this->id ?>"/> 
                    </div>
                </div>
				
				 <div class="form-group hidden" >
                    <label class="col-md-3">User ID: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-9">
                      <input type="text" name="user_id" id="user_id"  value=""/> 
                    </div>
                </div>
            	<div class="form-group">
						<label class="col-md-2 control-label">To </label>
						<div class="col-md-6">
						<select class="form-control" name="mobile_no" id="mobile_no">
						<option value="0">Please Select mobile number</option>
						<?php
						$contractor=$this->contractors;
						$user_id1=array();
						for($i=0;$i<count($contractor);$i++)
					    {
						$user_id_ext =$contractor[$i]['user_id'];
						if(in_array($user_id_ext,$user_id1))
							continue;
						array_push($user_id1,$user_id_ext);
						   echo '<option role='.$i.' value='.$contractor[$i]['mobile1'].','.$contractor[$i]['mobile2'].','.$contractor[$i]['mobile3'].'>'.$contractor[$i]['mobile1'].
								','.$contractor[$i]['mobile2'].','.$contractor[$i]['mobile3'].'</option>';
						}?>
						</select>
						</div>
						<span id="dateError" class="help-inline" style="color:#ff0000"></span>

						</div>
						
   	            <div class="form-group">
						<label class="col-md-2 control-label">Message Type</label>
						<div class="col-md-6">
						<select class="form-control" name="message_type"  id="message_type">
							<option value="0">Please Select Message Type</option>
							<?php
							
							$smsTemplates=$this->smsTemplate;
							for($j=0;$j<count($smsTemplates);$j++)
					    {
								echo '<option value='.$smsTemplates[$j]['id'].'>'.$smsTemplates[$j]['name'].'</option>';
							}?>
						</select>
						</div>
						</div>
   
                <div class="form-group">
                    <label class="col-md-2">message: <span style="color:#ff0000">*</span>:</label>
                    <div class="col-md-6">
                       <?php echo ($this->form->getElement('message')->render()); ?> 
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                        <?php echo $this->form->getElement('button')->render(); ?>
                    </div>
                </div>
             
            </form>
      
   <script>
   
   $('#mobile_no').on('change', function() {
		document.getElementById("dateError").innerHTML = "";
		$("textarea#message").val('');
		$("#message_type").val(0);

     });
      $('#message_type').change(function () {
     var selectval=$(this).val();
	 var booking_id=$('#booking_id').val();
	var mobile_no = $('#mobile_no').val();
	var option = $('option:selected', $('#mobile_no')).attr('role');
       if(mobile_no==0){
		   alert("you must choose mobile number"+mobile_no)
			document.getElementById("dateError").innerHTML = "You must choose mobile number";
			return false;
			}
	var url = "<?php echo $this->escape($this->url(array('booking_id'=>'booking_id'), 'sendBookingAsSmsByTwilio')); ?>";
	        $.ajax({
						type: "POST",
						url: url,
						dataType: "json",
						data: { 
						'id' :booking_id,
						'template_id':selectval,
						'getemp'     :1,
						'user_id'    :option,
						'temp_id'    :selectval
						},
						success: function(result)
						{
						$("textarea#message").val(result.message);
						$("#user_id").val(result.user_id);
						
						}

					});

   });

   </script>