<div class="container-fluid">
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#TB_ajaxContent');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Company : </label>
            <div class="col-lg-9">
            <?php echo $this->form->getElement('company_id') ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Trading Name : </label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('trading_name') ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Is Default</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('isDefault') ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3  " >Website URL</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('website_url') ?>
             </div>
        </div>
       
	<div class="col-md-offset-3" id="button_cont">
        <?php echo $this->form->getElement('button')->render(); ?>
       </div>
    </form>
</div>
