

<div class="ibox">
  <div class="ibox-content">
    <div class="row">
     	 <div class="col-md-5">
       		 <h3>New Message</h3>
     	 </div>
      
 	  	</div>
	 </div>
</div>

<div class="ibox no-margin-b">

		
                
                
               
                <div class="ibox-content col-md-6">
                 <div class="row">
                	  <form action="<?php echo $this->escape($this->form->getAction()); ?>" class="fform" id="fmAdd" method="post">
                    
                    <input type="hidden" class="form-control" name="inquiry_id" value="<?php echo $this->escape(isset($this->event['inquiry_id']) ? $this->event['inquiry_id'] : "" ) ?>" />
                 	<input type="hidden" name="toEstimate" value="<?php echo $this->escape(isset($this->toEstimate) ? $this->toEstimate : 0 ) ?>" />
                 	
                    <div class="form-group">
                    
                     <label> Reference Customer</label>
					 <div style="position:relative;">
                    <?php echo $this->form->getElement('auto_customer_id')->render(); ?>
					<div class="searchCustomerInputResult" id="customerResultInput"></div>
					</div>
                    <input type="hidden" id="customer_id" name="customer_id" class="text_input required" value="<?php echo $this->escape(isset($this->event['customer_id']) && !empty($this->event['customer_id']) ? $this->event['customer_id'] : '') ?>"/>
                    
                    <!-- add customer link -->
                        <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
						<?php       $Params = array ();
									$Params [] = 'asJson=' . urlencode (1);
									$Params [] = 'random=' . urlencode (number_format(microtime(true)*1000,0,'.',''));
									$Params = implode ( "&", $Params );
						?>
                             <div class="new_customer_btn float_l_r"><a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi_with_parm('New Customer','<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>','<?php echo $this->escape($Params) ?>');">new customer</a></div>
                                        
					   <?php endif; ?>
                   
                     	<?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                       <div id="edit_customer" style="display: <?php if (isset($this->event['customer_id']) && $this->event['customer_id']): ?>block<?php else: ?>none<?php endif; ?>;">
                       <a href="javascript:;" onclick="editCustomer();">edit customer</a>
                       
                       </div>
                         <?php endif; ?>
                         
                         
                       </div>
                       
                       
                         <br/>
                         <div class="form-group">
                                        <label> To Employee </label>
                                        <?php echo $this->form->getElement('employee_id')->render(); ?>
                         </div>
                         <div class="form-group">
                                    <label>Message</label>
                                    <?php echo $this->form->getElement('comment')->render(); ?>
                         </div>
                         <div class="form-group" id="button_cont">
                                    <?php echo $this->form->getElement('button')->render(); ?>
                         </div>
               	   </form>
                  </div>
               </div>
	
</div>

                
                    
            
         
<script type="text/javascript">

   function customerSearchInput() {
        var query = $('#auto_customer_id').val();
        if (query.length > 2) {
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'customerSearch')); ?>",
                data: "customer-like=" + $('#auto_customer_id').val(),
                success: function (msg) {
                    $('#customerResultInput').show();
                    $('#customerResultInput').html(msg);
                }
            });
        } else {
            $('#customerResultInput').hide();
            $('#customerResultInput').html('');
        }
    }
	 function select_customer(customer_id, customer_name) {
        if (customer_id) {
			alert("salim");

            $('#customer_id').val(customer_id);
            $("#auto_customer_id").val(customer_name);
            
            $('#customerResultInput').hide();
           
        }
    }
    
  
</script>