

<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <h3>Messages</h3>
      </div>
    
      </div>
  </div>
</div>
     
<div class="ibox float-e-margins no-margin-b">

<div class="ibox-content">
            <?php if ($this->data): ?>
         
                    <table class="table table-bordered">
                    	<thead>
                        <tr>
                            <th></th>
                            <th><b>Customer</b></th>
                            <th><b>From</b></th>
                            <th><b>Message</b></th>
                            <th><b><?php echo SortOrder::generate_link('created', 'created') ?></b></th>
                        </tr>
                        </thead>
						<tbody>
                        <?php $count = 0; ?>
                        <?php
                        ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                    if ($count % 2 != 0) {
                        echo $this->escape('tr_cont_1');
                    } else {
                        echo $this->escape('tr_cont_2');
                    }
                            ?>">
                                <td>
                                    <div class="details_info_l">
                                        <div style="font-size: 14px; padding-left: 10px;">
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'missedCallView')); ?>" class="a_black">
                                                <?php if (!empty($row['is_read'])): ?>
                                                    <img border="0" src="/pic/read_message.png">
                                                <?php else: ?>
                                                    <img border="0" src="/pic/unread_message.png">
                                                <?php endif; ?>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <?php echo $this->escape($row['customer_name']) ?>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <?php echo $this->escape($row['created_by']['username']) ?>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'missedCallView')); ?>" class="a_black">
                                            <?php
                                            echo substr($row['comment'], 0, 50);
                                            echo (strlen($row['comment']) > 50 ? '...' : '');
                                            ?>
                                        </a>
                                    </div>
                                </td>
                                <td class="details_info_l" >
                                    <div style=" margin: 10px 20px 5px 0px; font-size: 12px;">
                                        <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
</div>

          <div>
          <?php if (count($this->pageLinks) > 3): ?>
          <ul class="pagination">
              <?php foreach ($this->pageLinks as $pageLink) : ?>
                  <li><?php echo $pageLink; ?></li>
              <?php endforeach; ?>
          </ul>
          <?php endif; ?>
          </div>
  				<?php else: ?>
                	<div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Messages</h3></div>
            <?php endif; ?>
</div>

              
    
   