


<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <h3>Missed Calls</h3>
      </div>
    
      </div>
  </div>
</div>

<div class="ibox float-e-margins no-margin-b">

<div class="ibox-content">
	<div>
				<table  class="table table-bordered">
						<thead>
								<tr>
									<th>Created</th>
									<th>Created By</th>
									<th>Read</th>
								</tr>
						</thead>
						<tbody>
								<tr>
									<td><?php echo $this->escape(getDateFormating($this->missedCalls['created'])) ?></td>
									<td><?php echo $this->escape($this->missedCalls['created_by']['username']) ?></td>
									<td><?php echo $this->escape(!empty($this->missedCalls['is_read']) ? 'Yes' : 'No') ?></td>
								</tr>
								
						</tbody>
				</table>
         </div>

	
		    <div class="details_info_container">
                    <?php
                    if (!empty($this->missedCalls['customer_id'])) {
                        $customerView = new Zend_View();
                        $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                        $customerView->customer_id = $this->missedCalls['customer_id'];
                        $customerView->allDetails = true;
                        echo $customerView->render('customer_info.phtml');
                    }
                    ?>
                </div>
		
		
		
		    <div>
                <div style="background-color: #E9E9E9; padding: 5px 20px;">
                    <b>Comment :</b>
                </div>
                <div style="background-color: #F7F7F7; padding: 20px;">
                    <?php
                    $comment = wordwrap($this->missedCalls['comment'], 90, "\n", true);
                    ?>
                    <p><?php echo nl2br($this->escape($comment)); ?></p>
                
                </div>
            </div>
		
                 


</div>
</div>


