<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="submit_label('<?php echo $this->escape($this->form->getAction()); ?>','#form');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        <tr>
            <td class="input_type" valign="top">Label Title :</td>
            <td><?php echo $this->form->getElement('label_name')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">
            </td>
            <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
        </tr>
    </table>
</form>