<div class="container-fluid">
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>

        <p>You are about to delete one user, this procedure is irreversible.</p>

        <p>Do you want to proceed?</p>

        <div class="form-group">
            <div class="pull-right" id="button_cont">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <?php echo $this->form->getElement('button')->render(); ?>
            </div>
        </div>
    </form>
</div>

