<div class="menu_postion">
    <div class="sub_cont">

        <div class="sub_button <?php if ($this->sub_menu == 'reports') { ?>sub_button_selected<?php } ?>">
            <a href="<?php echo $this->escape($this->url(array(), 'reports')); ?>">
                All Reports
            </a>
        </div>

        <?php if (CheckAuth::checkCredential(array('savedReport'))): ?>
            <div class="sub_button <?php if ($this->sub_menu == 'savedReport') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'savedReport')); ?>">
                    Saved Reports
                </a>
            </div>
        <?php endif; ?>

        <div class="sub_button">
            <a href="javascript:;" onclick="$('.right_side').toggle();">
                Show Or Hide Filters
            </a>
        </div>
    </div>
</div>