<form id="label-form" method="POST" onsubmit="filter_label('<?php echo $this->escape($this->url(array(), 'filterEstimateLabel')); ?>','#label-form');return false;">
    <?php if ($this->my_estimates) { ?>
        <input type="hidden" name="my_estimates" value="true"/>
    <?php } ?>
    <div style="margin-top: 10px;">
        <input type="text" style="width: 100%;" name="label-like" id="label-like" onkeyup="labelSearch();"/>
    </div>
    <div style="overflow: auto; height: 170px; margin-top: 10px;" id="tabelResult">
        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
            <?php foreach ($this->labels as $label): ?>
                <?php $checked = isset($this->label_ids) && in_array($label['id'], $this->label_ids) ? 'checked="checked"' : ''; ?>
                <tr>
                    <td style="width: 30px;">
                        <input type="checkbox" id="label_<?php echo $this->escape($label['id']); ?>" name="label_ids[]"  value="<?php echo $this->escape($label['id']); ?>" <?php echo $checked; ?>/>
                    </td>
                    <td>
                        <label for="label_<?php echo $this->escape($label['id']); ?>"><?php echo $this->escape($label['label_name']); ?></label>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
    <div style="margin-top: 10px;" id="button_cont">
        <input type="submit" class="button" value="Filter" id="button" name="button"/>
    </div>
</form>

<script>
    function labelSearch(){
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'estimateSearchLabel')); ?>",
            data: "label-like="+$('#label-like').val(),
            success: function(msg) {
                $('#tabelResult').html(msg);
            }
        });
    }
</script>