<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
    <?php foreach ($this->labels as $label): ?>
        <tr>
            <td style="width: 30px;">
                <input type="checkbox" id="label_<?php echo $this->escape($label['id']); ?>" name="label_ids[]"  value="<?php echo $this->escape($label['id']); ?>"/>
            </td>
            <td>
                <label for="label_<?php echo $this->escape($label['id']); ?>"><?php echo $this->escape($label['label_name']); ?></label>
            </td>
        </tr>
    <?php endforeach; ?>
</table>