<form id="form_gmail" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_gmail','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h1>Contractor Gmail Account :</h1>
    <table>
        <tr>
            <td class="input_type" valign="top">Email :</td>
            <td><?php echo $this->form->getElement('email')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Password:</td>
            <td><?php echo $this->form->getElement('password')->render(); ?></td>
        </tr>
        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>