<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h1>Contractor Information :</h1>
    <table>
        <tr>
            <td class="input_type" valign="top">Business Name :</td>
            <td><?php echo $this->form->getElement('business_name')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">ABN (Australian Business Number) :</td>
            <td><?php echo $this->form->getElement('abn')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">ACN (Australian Company Number) :</td>
            <td><?php echo $this->form->getElement('acn')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">TFN (Tax File Number) :</td>
            <td><?php echo $this->form->getElement('tfn')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">GST (Goods and Services Tax) :</td>
            <td><?php echo $this->form->getElement('gst')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">GST Date Registered :</td>
            <td><?php echo $this->form->getElement('gst_date_registered')->render(); ?></td>
        </tr>
    </table>

    <h1>Insurance :</h1>

    <table>
        <tr>
            <td class="input_type" valign="top">Insurance Policy Number :</td>
            <td><?php echo $this->form->getElement('insurance_policy_number')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Insurance Policy Start :</td>
            <td><?php echo $this->form->getElement('insurance_policy_start')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Insurance Policy Expiry :</td>
            <td><?php echo $this->form->getElement('insurance_policy_expiry')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Insurance Listed Services Covered :</td>
            <td><?php echo $this->form->getElement('insurance_listed_services_covered')->render(); ?></td>
        </tr>
    </table>

    <h1>Drivers Licence :</h1>

    <table>
        <tr>
            <td class="input_type" valign="top">Drivers Licence Number :</td>
            <td><?php echo $this->form->getElement('drivers_licence_number')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Drivers Licence Expiry :</td>
            <td><?php echo $this->form->getElement('drivers_licence_expiry')->render(); ?></td>
        </tr>
    </table>

    <h1>Payment Agreement :</h1>

    <table>
        <tr>
            <td class="input_type" valign="top">Bond to be Withheld :</td>
            <td><?php echo $this->form->getElement('bond_to_be_withheld')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Commission % :</td>
            <td><?php echo $this->form->getElement('commission')->render(); ?></td>
        </tr>

        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#gst_date_registered").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });
</script>