<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <h3 style="color: #48AAE6;">Contractor Information :</h3>

            <div>
                <div class="contractor_info_tit" >Role : </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['role_name']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >Username : </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['username']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >Business Name :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['business_name']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >TFN (Tax File Number) :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['tfn']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >ABN (Australian Business Number) :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['abn']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >ACN (Australian Company Number) :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['acn']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >GST (Goods and Services Tax) :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['gst'] ? 'yes' : 'no') ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >GST Date Registered :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape(date(get_config('date'), $this->contractorInfo['gst_date_registered'])) ?></div>
                <div style="clear: both;"></div>
            </div>


            <h3 style="color: #48AAE6;">Contact Details :</h3>


            <div>
                <div class="contractor_info_tit" >Email 1: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email1']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Email 2: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email2']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Email 3: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email3']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Mobile 1: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile1']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Mobile 2: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile2']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Mobile 3: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile3']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Phone 1: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone1']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Phone 2: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone2']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Phone 3: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone3']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Fax: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['fax']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Emergency Phone: </div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['emergency_phone']) ?></div>
                <div style="clear: both;"></div>
            </div>


            <h3 style="color: #48AAE6;">Address Details :</h3>


            <div>
                <div class="contractor_info_tit" >Unit / Lot No :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['unit_lot_number']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >Street Number :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['street_number']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >Street Name :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['street_address']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit">Suburb :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['suburb']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit">Postcode :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['postcode']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit">PO Box (Postal Address):</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['po_box']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit" >City :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['country_name'] . ' - ' . $this->user['city_name']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <div>
                <div class="contractor_info_tit">State :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['state']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <h3 style="color: #48AAE6;">Insurance :</h3>

            <div>
                <div class="contractor_info_tit" >Insurance Policy Number :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['insurance_policy_number']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Insurance Policy Start :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['insurance_policy_start']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Insurance Policy Expiry :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['insurance_policy_expiry']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Insurance Listed Services Covered :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['insurance_listed_services_covered']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <h3 style="color: #48AAE6;">Drivers Licence :</h3>

            <div>
                <div class="contractor_info_tit" >Drivers Licence Number :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['drivers_licence_number']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Drivers Licence Expiry :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['drivers_licence_expiry']) ?></div>
                <div style="clear: both;"></div>
            </div>

            <?php if ($this->contractorVehicle): ?>
                <h3 style="color: #48AAE6;">Vehicle :</h3>
                <?php $counter = 1; ?>
                <?php foreach ($this->contractorVehicle as $vehicle): ?>
                    <div>
                        <div class="contractor_info_tit" ><?php echo $this->escape($counter); ?> )</div>
                        <div class="contractor_info_tit_type">Registration No. : <?php echo $this->escape($vehicle['registration_number']) ?></div>
                        <div class="contractor_info_tit_type2">Make : <?php echo $this->escape(date('Y', $vehicle['make'])) ?></div>
                        <div class="contractor_info_tit_type2">Model : <?php echo $this->escape($vehicle['model']) ?></div>
                        <div class="contractor_info_tit_type2">Color : <?php echo $this->escape($vehicle['colour']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                    <?php $counter++; ?>
                <?php endforeach; ?>
            <?php endif; ?>

            <h3 style="color: #48AAE6;">Payment Agreement :</h3>


            <div>
                <div class="contractor_info_tit" >Bond to be Withheld :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['bond_to_be_withheld']) ?></div>
                <div style="clear: both;"></div>
            </div>
            <div>
                <div class="contractor_info_tit" >Commission :</div>
                <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['commission']) ?>%</div>
                <div style="clear: both;"></div>
            </div>

            <?php if ($this->contractorOwner): ?>
                <h3 style="color: #48AAE6;">Owner(s) :</h3>
                <?php $counter = 1; ?>
                <?php foreach ($this->contractorOwner as $owner): ?>
                    <div>
                        <div class="contractor_info_tit" ><?php echo $this->escape($counter); ?> )</div>
                        <div style="float: left; margin-left: 5px;">
                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $owner['contractor_owner_id']), 'settingsContractorOwnerview')); ?>','500','650','Owner Details');"class="details_info_name"><?php echo $this->escape($owner['name']) ?></a>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <?php $counter++; ?>
                <?php endforeach; ?>
            <?php endif; ?>   

            <?php if ($this->contractorEmployee): ?>
                <h3 style="color: #48AAE6;">Employee(s) :</h3>
                <?php $counter = 1; ?>
                <?php foreach ($this->contractorEmployee as $employee): ?>
                    <div>
                        <div class="contractor_info_tit" ><?php echo $this->escape($counter); ?> )</div>
                        <div style="float: left; margin-left: 5px;">
                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $employee['contractor_employee_id']), 'settingsContractorEmployeeview')); ?>','500','650','Employee Details');"class="details_info_name"><?php echo $this->escape($employee['name']) ?></a>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <?php $counter++; ?>
                <?php endforeach; ?>
            <?php endif; ?> 

            <?php if ($this->declarationOfEquipment): ?>
                <h3 style="color: #48AAE6;">Declaration Of Equipment :</h3>
                <?php $counter = 1; ?>
                <?php foreach ($this->declarationOfEquipment as $equipment): ?>
                    <div>
                        <div class="contractor_info_tit" ><?php echo $this->escape($counter); ?> )</div>
                        <div class="contractor_info_tit_type"><?php echo $this->escape($equipment['equipment']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                    <?php $counter++; ?>
                <?php endforeach; ?>
            <?php endif; ?> 

            <?php if ($this->declarationOfChemicals): ?>
                <h3 style="color: #48AAE6;">Declaration Of Chemicals :</h3>
                <?php $counter = 1; ?>
                <?php foreach ($this->declarationOfChemicals as $chemicals): ?>
                    <div>
                        <div class="contractor_info_tit" ><?php echo $this->escape($counter); ?> )</div>
                        <div class="contractor_info_tit_type"><?php echo $this->escape($chemicals['chemicals']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                    <?php $counter++; ?>
                <?php endforeach; ?>
            <?php endif; ?> 

            <?php if ($this->declarationOfOtherApparatus): ?>
                <h3 style="color: #48AAE6;">Declaration Of Other Apparatus :</h3>
                <?php $counter = 1; ?>
                <?php foreach ($this->declarationOfOtherApparatus as $otherApparatus): ?>
                    <div>
                        <div class="contractor_info_tit" ><?php echo $this->escape($counter); ?> )</div>
                        <div class="contractor_info_tit_type"><?php echo $this->escape($otherApparatus['other_apparatus']) ?></div>
                        <div style="clear: both;"></div>
                    </div>
                    <?php $counter++; ?>
                <?php endforeach; ?>
            <?php endif; ?>

        </td>
        <td class="right_side">
            <?php if (CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))): ?>
                <div class="contractor_info_modify_cont ">
                    <a href="javascript:;" class="contractor_a_link" onclick="AddEditContractorInfo('<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoAdd')); ?>');">Modify Contractor Info</a>
                </div>
            <?php endif; ?>
            <?php if (CheckAuth::checkCredential(array('settingsServicesEdit'))): ?>
                <div class="contractor_info_link_cont">
                    <a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceList')); ?>" class="contractor_a_link">Modify Services</a>
                </div>
            <?php endif; ?>
            <?php if ($this->contractorInfo): ?>

                <?php if (CheckAuth::checkCredential(array('settingsContractorOwnerEdit'))): ?>
                    <div class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorOwnerList')); ?>" class="contractor_a_link">Modify Owner (s)</a>
                    </div>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsContractorEmployeeEdit'))): ?>
                    <div class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorEmployeeList')); ?>" class="contractor_a_link">Modify Employee (s)</a>
                    </div>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfEquipmentEdit'))): ?>
                    <div class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfEquipmentList')); ?>" class="contractor_a_link">Modify Equipment List</a>
                    </div>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfChemicalsEdit'))): ?>
                    <div class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfChemicalsList')); ?>" class="contractor_a_link">Modify Chemicals List</a>
                    </div>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfOtherApparatusEdit'))): ?>
                    <div class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfOtherApparatusList')); ?>" class="contractor_a_link">Modify Other Apparatus List</a>
                    </div>
                <?php endif; ?>

                <?php if (CheckAuth::checkCredential(array('settingsContractorVehicleEdit'))): ?>
                    <div class="contractor_info_link_cont">
                        <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorVehicleList')); ?>" class="contractor_a_link">Modify Vehicle List</a>
                    </div>
                    <div class="contractor_info_link_cont">
                        <a href="javascript:;" class="contractor_a_link" onclick="AddGmailAccounts('<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorGmailAdd')); ?>');">Modify Gmail Accounts</a>
                    </div>
					<div class="contractor_info_link_cont">
                       <a href="javascript:;" class="contractor_a_link" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'contractorDiscussion')); ?>','470','700','Booking Discussion');">Contractor Discussion</a>
                    </div>
                <?php endif; ?>

            <?php endif; ?>
        </td>
        <td class="filter_character_container">
            <div class="first_filter_character">
                M
            </div>
            <div class="filter_character_pos">
                O
            </div>
            <div class="filter_character_pos">
                D
            </div>
            <div class="filter_character_pos">
                I
            </div>
            <div class="filter_character_pos">
                F
            </div>
            <div class="filter_character_pos">
                Y
            </div>
            <div class="filter_character_pos">
                I
            </div>
            <div class="filter_character_pos">
                N
            </div>
            <div class="last_filter_character">
                G
            </div>


            <div class="first_filter_character">
                C
            </div>
            <div class="filter_character_pos">
                O
            </div>
            <div class="filter_character_pos">
                N
            </div>
            <div class="filter_character_pos">
                T
            </div>
            <div class="filter_character_pos">
                R
            </div>
            <div class="filter_character_pos">
                A
            </div>
            <div class="filter_character_pos">
                C
            </div>
            <div class="filter_character_pos">
                O
            </div>
            <div class="last_filter_character">
                R
            </div>
        </td>
    </tr>
</table>


<script type="text/javascript">
    function AddEditContractorInfo(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=500&width=450');
        });
    }
    
    function AddGmailAccounts(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=150&width=450');
        });
    }
</script>