

<div class="container-fluid">
    <form class="form-horizontal" id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" enctype="<?php echo $this->escape($this->form->getEnctype()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_upload('<?php echo $this->escape($this->form->getName()); ?>', '#content_modal_popup');">
        <?php echo $this->escape($this->message); ?>

        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Company : </label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('company_id') ?>
            </div>
        </div>




        <div class="form-group">
            <label class="col-lg-3 " >Trading Name : </label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('trading_name') ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Is Default</label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('isDefault') ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3  " >Website URL</label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('website_url') ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 ">Phone: </label>
            <div class="col-lg-9">
                <?php echo ($this->form->getElement('phone')->render()); ?>
            </div>
        </div>


        <div class="form-group">
            <label class="col-lg-3 ">Email:</label>
            <div class="col-lg-9">
                <?php echo ($this->form->getElement('email')->render()); ?>
            </div>
        </div>

            <div class="form-group">
                <div>
                    <label class="label-control col-md-3">Color :</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control pick-a-color" id="pickColor" value="<?php echo $this->form->getAttrib('colorVal');?>"/>
                        <?php echo $this->form->getElement('color'); ?>
                    </div>
                </div>
            </div>

        <div class="form-group" id="image_upload" <?php if ($this->emailHeader && !$this->form->getAttrib('change_image')): ?>style="display: none;"<?php endif; ?>>

        </div>


        <div class="col-md-offset-3" id="button_cont">
            <?php echo $this->form->getElement('button')->render(); ?>
        </div>
    </form>
</div>


<script type="text/javascript">

    $(document).ready(function(){
        $(".pick-a-color").pickAColor();
    });

    </script>
