

<div class="container-fluid">
    <form class="form-horizontal"  id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>"  enctype="multipart/form-data" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_upload('<?php echo $this->escape($this->form->getName()); ?>', '#content_modal_popup');">
        <?php echo $this->escape($this->message); ?>

        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Company : </label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('company_id') ?>
            </div>
        </div>




        <div class="form-group">
            <label class="col-lg-3 " >Trading Name : </label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('trading_name') ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Is Default</label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('isDefault') ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3  " >Website URL</label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('website_url') ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 ">Phone: </label>
            <div class="col-lg-9">
                <?php echo ($this->form->getElement('phone')->render()); ?>
            </div>
        </div>


        <div class="form-group">
            <label class="col-lg-3 ">Email:</label>
            <div class="col-lg-9">
                <?php echo ($this->form->getElement('email')->render()); ?>
            </div>
        </div>

            <div class="form-group">
                <div>
                    <label class="label-control col-md-3">Color :</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control pick-a-color" id="pickColor" value="<?php echo $this->form->getAttrib('colorVal');?>"/>
                        <?php echo $this->form->getElement('color'); ?>
                    </div>
                </div>
            </div>

        <div class="form-group">
            <label class="col-md-3">Logo</label>
            <div class="col-md-9">

                <?php
                if (isset($this->logo) && !empty($this->logo)) {
                    ?>
                    <div id="preivew-box-remove">
                        <div style="width:150px;height: 150px;border:1px solid black;" id="box-preview">

                            <img width="150" height="150" src="/uploads/trading_names_img/Logos/<?= $this->logo ?>"/>
                        </div>
                        <a href="javascript:void(0)" id="remove_img" onclick="return confirm('are you sure you want to remove logo ?');" style="width:150px;text-decoration: none;" ><i class="fa fa-times"></i> Remove</a>
                    </div>
    <?php
}
?>
                <input style="visibility:<?php if (isset($this->logo) && !empty($this->logo)) {
                    echo 'hidden';
                } else {
                    echo 'visible';
                } ?>" type="file" name="file" id="file_uploader" />
            </div>
        </div>


        <div class="col-md-offset-3" id="button_cont">
            <?php echo $this->form->getElement('button')->render(); ?>
        </div>
    </form>
</div>


<script type="text/javascript">
    $('#box-preview').on('click', function () {
        $('#file_uploader').click();
    });

    $('#remove_img').on('click', function () {
        
        $.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(), 'removeTradingNameLogo')); ?>',
            data: {logo: '<?= $this->logo ?>', id: '<?= $this->id ?>'},
            success: function (msg) {
                $('#preivew-box-remove').hide();
                $('#file_uploader').css('visibility', 'visible');
                alert(msg);
            }
        });
    });
    $(document).ready(function () {
        $(".pick-a-color").pickAColor();
    });

    </script>
