
<div class="container-fluid">
    <form class="form-horizontal" id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" enctype="<?php echo $this->escape($this->form->getEnctype()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_upload('<?php echo $this->escape($this->form->getName()); ?>', '#content_modal_popup');">
        <?php echo $this->escape($this->message); ?>

        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>

        <div id="msg" style="color: #ff0000; font-size: 15px; text-align: center; margin-bottom: 10px;">

        </div>

        <div class="form-group">
            <label class="col-lg-3">Template : </label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('template_name') ?>
            </div>
        </div>


        <div class="form-group" id="image_upload_cont"style="display: none;">
            <label class="col-md-3">
                Update selected image:
            </label>
            <div class="col-md-9">
                <input type="hidden" id="trading_id" value="">
                <div id="drop-box">
                    <p>Select Image</p>
                </div>
                <input type="file" id="updateImg" value=""  name=''  />

            </div>
        </div>

        <input type="hidden" id="trading_name_id" value="<?php echo $this->form->getAttrib('trading_name_id');?>">

        <div  id="image_upload" >

        </div>

        <div class="col-md-offset-3" id="button_cont">
            <?php echo $this->form->getElement('button')->render(); ?>
        </div>
    </form>
</div>


<script type="text/javascript">

    $(document).ready(function(){

        $('#updateImg').on('change', fileUpload);

        $('#template_name').change(function() {
            var template_name_id= $('#template_name').val();
            var trading_name_id= $('#trading_name_id').val();
            $('#image_upload_cont').hide();
            $('#image_upload').empty();
            $('#msg').empty();
            $.ajax({
                url:'<?php echo $this->escape($this->url(array(),'imagesbytemplateId')); ?>',
                type: 'POST',
                dataType: 'json',
                data: { template_name_id: template_name_id,trading_name_id:trading_name_id },
                success: function(result){
                    console.log(result.imagePlaceholder);
                    console.log(result.trading_name_imgs);
                    console.log(result.trading_name);
                    console.log(result.trading_name_ids);
                    console.log(result.imgs_name_part);
                    counter = 1;
					counterupload=1;
                    jQuery.each( result.imagePlaceholder, function( i, val ) {

                        if(result.imagePlaceholder != '' ){
                            if( jQuery.inArray(val, result.imgs_name_part )!= '-1' ){
                                var index= jQuery.inArray(val, result.imgs_name_part );
                                $('#image_upload').append('<div class="form-group"> <label class="col-md-3"> image_'+(i+1)+':  </label> <div class="col-md-9" id="image_up'+counter+'"></div></div>');
                                $("#image_up"+counter).append('<div id="image_thumbnail inline" class="fileinput fileinput-new" data-provides="fileinput">'+
                                                              ' <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 170px; height: 135px;">   <img class="updateImg_'+counter+'" src="/uploads/trading_names_img/'+result.trading_name+ '/'+result.template_name+'/'+result.trading_name_imgs[index]  +'"/>'+
                                                              '</div></div>');

                                $("#image_up"+counter).append('<div class="inline" style ="padding:1.3em;"> <a  href="" onclick="updateimg('+result.trading_name_ids[index]+' ,'+counter+');return false;">edit</a> | <a href="" onclick="deleteimg('+ result.trading_name_ids[index]+');return false;">delete</a> </div>');
                            }else{
                                $('#image_upload').append('<div class="form-group"> <label class="col-md-3"> image_'+(i+1)+':  </label> <div class="col-md-9" id="imgUpload'+counterupload+'"></div></div>');
                                $("#imgUpload"+counterupload).append('<input  type="file" id='+val+' required onchange="picUpload(this.files[0],this.id)" name='+val+' />');
                            }
                        }
                        counter++;
						 counterupload++;
                    });
                }
            });
        });

    });

    function picUpload(frmData,id){
      var image = document.getElementById(id);
        $('#msg').empty();
        if(frmData['size'] > 10240000){
            $("#msg").html("<p>Image size uploaded must not exceed 10 megabytes</p>");
            image.value = "";
        }else if(!frmData['type'].match('image.*')) {
            $("#msg").html("<p>Please use a valid image extension ( png , gif , jpg , jpeg ) </p>");
            image.value = "";
        }
    }


    function deleteimg(id)
    {
        var result = confirm("are you sure you want to delete this Image?");
        if (result) {
            var img_id=id;
            $.ajax({
                url:'<?php echo $this->escape($this->url(array(),'deleteTrdadingnameImage')); ?>',
                type: 'POST',
                dataType: 'json',
                data: { img_id: img_id },
                success: function(result){
                    $('#msg').empty();
                    $('#msg').append( result.msg );
                }
            });
        }
    }

    function updateimg(id,val_id)
    {
        var name=id;
        if($('#image_upload_cont').css('display') == 'none'){
            $('#image_upload_cont').show();
            $("#updateImg").attr("name", name);
            $("#updateImg").attr("class", 'updateImg_'+val_id);
            $("#trading_id").attr("value", name);
        } else {
            $('#image_upload_cont').hide();
        }
    }


    function fileUpload(event){
        var result = confirm("are you sure you want to change this Image?");
        if (result) {
            var class_val = $(this).attr('class');
			 $('.'+class_val).attr("src" , '/pic/ajax-loader.gif');
			
            var img_id =  $("#trading_id").val();
            $("#drop-box").html("<p>"+event.target.value+" uploading...</p>");
            files = event.target.files;
            var data = new FormData();
            var error = 0;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                if(!file.type.match('image.*')) {
                    $("#msg").html("<p>Please use a valid image extension ( png , gif , jpg , jpeg ) </p>");
                    error = 1;
                }else if(file.size > 10240000){
                    $("#msg").html("<p>Image size uploaded must not exceed 10 megabytes</p>");
                    error = 1;
                }else{
                    data.append('image', file, file.name);
                    data.append('img_id', img_id);
                }
            }

            if(!error){
                var xhr = new XMLHttpRequest();
                var editedimage = document.getElementById('updateImg');
                xhr.open('POST', '<?php echo $this->escape($this->url(array(),'updateTrdadingnameImage')); ?>', true);
                xhr.send(data);
				//console.log("1"+xhr.responseText);
                xhr.onload = function () {
                    // On Data send the following works
                    if (xhr.status === 200) {
						$('#msg').html( "<p>Image Uploaded Successfully..</p>" );
                        $('.'+class_val).attr("src" , xhr.responseText);
						//console.log("2"+xhr.responseText);
                        $('#image_upload_cont').hide();
                        $("#drop-box").empty();
                        editedimage.value = "";
                    } else {
                        $('#msg').html( "<p>Error in upload, try again.</p>" );
                        $('#image_upload_cont').hide();
                    }
                };
				//console.log("3"+xhr.responseText);
            }
        }
    }
</script>
