<?php
ViewHelper::setStyleSheet('/css/pick-a-color-1.2.3.min.css');
ViewHelper::setJavaScript('/js/tinycolor-0.9.15.min.js');
ViewHelper::setJavaScript('/js/pick-a-color-1.2.3.min.js');

?>
<div style="margin-top:10px;">
    <div class="right_side_cont ibox-content">
        <?php //if (CheckAuth::checkCredential(array('settingsCompaniesTradingNamesAdd'))): ?>
        <div class="btn_cont">
            <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Trading Name','<?php echo $this->escape($this->url(array(), 'settingsCompaniesTradingNamesAdd')); ?>');" class="btn btn-white">
                <div class="text_pos">
                    New Trading Name
                </div>
            </a>
        </div>
        <?php //endif; ?>

        <div >
            <h5>  Search Trading Name </h5>
            <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCompaniesTradingNames')); ?>" method="GET" class="form-inline" role="form">
                <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                <a href="<?php echo $this->escape($this->url(array(), 'settingsCompaniesTradingNames')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
            </form>
        </div>
    </div>
</div>

<div style="margin-top:10px;" class="">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div >
        <?php if ($this->data): ?>

            <div class="ibox float-e-margins no-margin-b">
                <div class="ibox-title">
                    <h5>All Trading Names </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover responsive-table setting-companies-table" id="editable" >
                        <thead>
                        <tr>

                            <td><b>Company</b></td>
                            <td><b>Trading Names</b></td>
                            <td><b>Website URL</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <?php $count = 0; ?>
                        <?php
                        foreach ($this->company as $row) :
                            $company_id = $row['company_id'];
                            ?>

                            <tr>

                                <td><?php echo $this->escape($row['company_name']) ?>
                                </td>
                                <td>
                                    <ul>
                                        <?php
                                        foreach ($this->data as $data) :
                                            if ($company_id == $data['company_id']) {
                                                ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $data['trading_name_id']), 'settingsCompaniesTradingNamesDelete')); ?>" onclick="return confirm('are you sure you want to delete this Trading Name?');">Delete</a>
                                                | <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $data['trading_name_id']), 'settingsCompaniesTradingNamesEdit')); ?>');" class="">
                                                    edit
                                                </a>
                                                | <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('Assign images','<?php echo $this->escape($this->url(array('id' => $data['trading_name_id']), 'settingsCompaniesTradingNamesImages')); ?>');" class="">
                                                    Assign images
                                                </a>
                                                <?php
                                                echo '<li>' . $this->escape($data['trading_name']) . '</li>';
                                                ?>

                                            <?php } endforeach; ?>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <?php
                                        foreach ($this->data as $data) :
                                            if ($company_id == $data['company_id']) {
                                                echo '<li> ' . $this->escape($data['website_url']) . ' </li>';
                                                ?>

                                            <?php } endforeach; ?>
                                    </ul>


                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>



                    </table>


                </div>
            </div>




            <div>
                <?php if (count($this->pageLinks) > 3): ?>
                    <ul class="pagination">
                        <?php foreach ($this->pageLinks as $pageLink) : ?>
                            <li><?php echo $pageLink; ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>




        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are Trading Names</div>
        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>

<?php ViewHelper::setStyleSheet('/css/jasny-bootstrap.min.css');?>
<?php ViewHelper::setJavaScript('/js/jasny-bootstrap.min.js'); ?>
<script type="text/javascript">
    $('.fileinput').fileinput();
</script>