<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Booking Summary By Chart Report
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->chartArray): ?>
                <?php ViewHelper::setUrlJavaScript('https://www.google.com/jsapi'); ?>
                <script type="text/javascript">
                    google.load("visualization", "1", {packages:["corechart"]});
                    google.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var data = google.visualization.arrayToDataTable(<?php echo $this->chartArray; ?>);

                        var options = {
                            title: 'Company Performance'
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                    }
                </script>
                <div id="chart_div" style="width: 900px; height: 500px;"></div>
            <?php else: ?>
                <div class="noRowsMessageDIV">Please Select Your Filters.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php echo $this->render('index/chart_filters.phtml'); ?>
            </div>
        </td>
    </tr>
</table>