
<div>
    <div>
        <div style="text-align: center;">
            <h1><?php echo $this->escape($this->equipmentInfo['equipment']); ?></h1>
        </div>
         <?php if (!empty($this->Attachemnts)){ ?>
        <h2>photos :</h2>
        <div style="border: 1px solid grey; padding: 10px;">
        
            <div style="float: right; padding: 10px 10px;"> 
             
               
    <?php foreach ($this->Attachemnts as $attachment){
                    ?>
             
                    <img src="<?php echo $this->baseUrl( substr($attachment['thumbnail_file'], strpos($attachment['thumbnail_file'], 'uploads'))); ?>"/>
                <?php 
                }
?>
            </div>
            <div style="clear: both;"></div>
        </div>
         <?php } ?>
    </div>
</div>
    