<form id="form" method="<?php echo $this->escape($this->form->getMethod());?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction());?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        <tr>
            <td class="input_type" valign="top">Registration Number :</td>
            <td><?php echo $this->form->getElement('registration_number')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Make :</td>
            <td><?php echo $this->form->getElement('make')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Model :</td>
            <td><?php echo $this->form->getElement('model')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Colour :</td>
            <td><?php echo $this->form->getElement('colour')->render(); ?></td>
        </tr>

        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>