<style>

    @media all  and (max-width: 801px) {

        .h1big{ font-size: 16px!important; }
        .h1big1{  font-size: 14px !important; }
        .h2big2{  font-size:12px !important; }
        .contant1{width: 90% !important;}
        .breadcrumb > li { font-size:10px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:11px !important;}
        .textcolored{margin: 10px 0px 0px 12px !important; color: #1ab394; font-size: 11px !important;}
    }
    @media all and (max-width: 450px) {

        .h1big{ font-size: 14px !important;}
        .h1big1{ font-size: 12px !important; }
        .h2big2{ font-size:10px !important; }
        .contant1{width: 100% !important;}
        .breadcrumb > li { font-size:9px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:9px !important;}
        .textcolored{margin: 10px 0px 0px 12px !important; color: #1ab394; font-size: 9px !important;}
    }
    @media all and (max-width: 320px) {

        .h1big{ font-size: 12px !important;}
        .h1big1{ font-size: 10px !important; }
        .h2big2{ font-size:9px !important;  }
        .contant1{width: 100% !important;}
        .breadcrumb > li { font-size:8px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:8px !important;}
        .textcolored{margin: 10px 0px 0px 12px !important; color: #1ab394; font-size: 8px !important;}
    }

    .h1big{display: inline-block; font-size: 67px; font-weight: 100; }
    .h1big1{color: #000000; margin-top: 0px; margin-bottom: 20px; font-size: 27px; font-weight: 100; }
    .h2big2{color: #000000; margin-top: 0px; margin-bottom: 0px; font-size:20px; font-weight: 100; }
    .contant1{width: 75%; margin:auto; margin-top: 10px;}
    .row1{background: #767371; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}
    .row2{background: #1ab394; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}
    .textcolored{margin: -15px 0px 0px 12px; color: #1ab394; font-size: 14px;}



</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <div class="h2big2">Add user to your Account</div>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                add user and pay
            </li>
            <li >
                <strong>SUB_<?php echo $this->accountId + 1000; ?></strong>
            </li>
        </ol>
    </div>
</div>

<?php
$id = $this->accountId;
$account = new Model_Account();
$accountInfo = $account->getById($id);
$user = $account->getUserById($accountInfo['created_by']);
$company = $account->getCompanyById($accountInfo['company_id']);
$plan = $account->getPlanById($accountInfo['plan_id']);
$users = $account->getUsersByCompanyId($company['company_id']);
?>


<div class="row row wrapper white-bg contant1" >
    <table class="table-responsive">
        <tbody>
        <div class="pull-right" style="margin-top: 90px;"><span class="label label-primary"><?php echo $accountInfo['account_status']; ?></span></div>
        <tr>
        <div class="h1big1" style="color: #1ab394;">SUB_<?php echo $this->accountId + 1000; ?></div>
        <p>Select and pay for how many users you need</p>
        <?php if (strcasecmp($accountInfo['account_status'], 'subscriber-trial') == 0) { ?>
            <div class="h2big2">Expire Trial subscription date: <?php echo $this->escape(getDateFormating($accountInfo['trial_end_date'])) ?></div>
        <?php } else { ?>
            <div class="h2big2">Expire subscription date: <?php echo $this->escape(getDateFormating($accountInfo['to'])) ?></div>
        <?php } ?>
        </tr>
        </tbody>
    </table>
    <hr>
    <form name="addUser" id="addUser" method="post" action="<?php echo $this->escape($this->url(array(), 'account')); ?>">
        <input type="hidden" id="nbrOfUser" name="nbrOfUser" value="0">
        <input type="hidden" id="totalAmount" name="totalAmount" value="0">


        <!--       should be added to eway form-->
        <?php if (strcmp($accountInfo['account_status'], 'Subscriber-paid') == 0) { ?>
            <input type="hidden" id="from" name="from" value="<?php echo $this->escape(time()); ?>">
            <input type="hidden" id="to" name="to" value="<?php echo $this->escape(strtotime($accountInfo['to'])); ?>">
        <?php } ?>
        <?php if (strcmp($accountInfo['account_status'], 'Subscriber-trial') == 0) { ?>
            <input type="hidden" id="from" name="from" value="<?php echo $this->escape(strtotime($accountInfo['trial_end_date'])); ?>">
            <input type="hidden" id="to" name="to" value="<?php
            $ss = strtotime($accountInfo['trial_end_date']);
            echo $this->escape(strtotime('+1 month', $ss));
            ?>">
               <?php } ?>
               <?php if (strcmp($accountInfo['account_status'], 'Overdue') == 0) { ?>
            <input type="hidden" id="from" name="from" value="<?php echo $this->escape(strtotime($accountInfo['to'])); ?>">
            <input type="hidden" id="to" name="to" value="<?php
            $ss = strtotime($accountInfo['to']);
            echo $this->escape(strtotime('+1 month', $ss));
            ?>">
               <?php } ?>
        <!--       should be added to eway form-->   



        <div class="row">
            <div class="col-xs-3">
                <?php if (strcmp($accountInfo['account_status'], 'Subscriber-paid') == 0) { ?>
                    <div><p id="prdqty" class="h1big" >1</p> users</div>
                <?php } else { ?>
                    <div><p id="prdqty" class="h1big" >0</p> users</div>
                <?php } ?>
                <div class="textcolored"><?php echo count($users); ?> currently used</div>  
            </div>

            <div class="col-xs-3" style="margin-top: 40px;">

                <a class="btn" id="btn-inc1" onclick="qty('minus'); calculateTotalAmount(<?php echo $accountInfo['id']; ?>, document.getElementById('nbrOfUser').value);"  style="background-color: #ffc656"><i style="color: white;" class="fa fa-minus" aria-hidden="true"></i></a>   
            
                <div id="btn-inc2" style="display: inline-block;"><a class="btn" onclick="qty('plus'); calculateTotalAmount(<?php echo $accountInfo['id']; ?>, document.getElementById('nbrOfUser').value); "   style="background-color: #ffc656" ><i style="color: white;" class="fa fa-plus" aria-hidden="true"></i></a></div>
              

            </div>

            <div class="col-xs-6" style="margin-top: 25px;">
                <table class="table-bordered-responsive" style="width: 80% !important;">
                    <tbody>
                        <tr style="border-bottom: 4px solid white;">
                            <td  class="h1big1 row1" name="max_users" >Max Users : <?php echo $plan['max_users']; ?></td>
                        </tr>
                        <tr style="border-bottom: 4px solid white;">
                            <td  class="h1big1 row2">Selected Plan : <?php echo $plan['name']; ?></td>
                        </tr>
                        <tr style="border-bottom: 4px solid white;">
                            <td  class="h1big1 row1">Per user : <?php echo $plan['charge_amount'] ?>$</td>
                        </tr>
                        <tr>
                            <td id="totalAmount1" class="h1big1 row2">Total Amount :<?php echo $this->totalAmount; ?>$</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div>
            <a  onclick="document.getElementById('addUser').submit();" class="btn btn-primary btn-rounded btn-outline" style="width: 45% !important; display: block; margin: 0 auto;"><i class="fa fa-info-circle" ></i> Pay Now</a>
        </div>

    </form>
</div>
<script type="text/javascript">


    function qty(val) {
        pqty = $('#prdqty').text();
        document.getElementById("nbrOfUser").value = parseFloat(pqty);
        if (val == "plus") {
            var newVal = parseFloat(pqty) + 1;
        } else {
            if (pqty >= 1) {
                var newVal = parseFloat(pqty) - 1;
            } else {
                newVal = 1;
            }
        }
        $('#prdqty').text(newVal);
        document.getElementById("nbrOfUser").value = newVal;
        if(newVal > <?php echo $plan['max_users'] - 1 - count($users);?>){
            popupi('information', '<?php echo $this->escape($this->url(array(), 'changePlanMessege')); ?>');
         
            $('#btn-inc2').html('<a class="btn" id="btn-inc" data-toggle="modal" data-target="#popupi"  onclick="popupi(information, <?php echo $this->escape($this->url(array(), 'changePlanMessege')); ?>);"   style="background-color: #ffc656" ><i style="color: white;" class="fa fa-plus" aria-hidden="true"></i></a>');
        }
    }

    function calculateTotalAmount(accountId, nbrUser) {

        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'calculateTotalAmountSubscription')); ?>",
            data: {accountId: accountId, nbrUser: nbrUser},
            success: function (data) {
                var result = parseFloat(data).toFixed(2);
                if (result !== '') {
                    $('#totalAmount1').html('Total Amount :' + result + '$');
                    document.getElementById("totalAmount").value = result;
                }
            }
        });
    }

    function calculateTotalAmount1() {

        var account_status = '<?php echo $accountInfo['account_status']; ?>';
        var nbrUser = '';
        if (account_status === 'Subscriber-paid') {
            nbrUser = 1;
        } else {
            nbrUser = 0;
        }
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'calculateTotalAmountSubscription')); ?>",
            data: {nbrUser: nbrUser},
            success: function (data) {
                var result = parseFloat(data).toFixed(2);
                if (result !== '') {
                    $('#totalAmount1').html('Total Amount :' + result + '$');
                    document.getElementById("totalAmount").value = result;
                }
            }
        });
    }
    
    window.onload = calculateTotalAmount1;


</script>




