<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#TB_ajaxContent');
        return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <div class="form-group">
        <label class="col-lg-3">Attribute :</label>
        <div class="col-lg-9">
            <?php echo $this->form->getElement('attribute_id')->render(); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 " >Default Value :</label>
        <div class="col-lg-9 default_value_box">
            <?php echo $this->form->getElement('default_value')->render(); ?>
        </div>
    </div>
	
	<div class="form-group">
        <label class="col-lg-3 " >Unit Price :</label>
        <div class="col-lg-9 ">
            <?php echo $this->form->getElement('unit_price')->render(); ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 " >Is Readonly :</label>
        <div class="col-lg-9">
            <?php echo $this->form->getElement('is_readonly')->render(); ?>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
    </div>

</form>

<script>
    $('textarea#default_value').summernote({
        height: "180px",
    });
    $('.note-editable').focusout(function () {

        $('#default_value').val($(this).html());
    });

    $('#attribute_id').change(function () {
        var attr_id = $(this).val();
        var service_id = '<?= $this->service_id?>';
        $.ajax({
            url: "<?php echo $this->url(array() , 'getDefaultValue');?>",
            data : {attr_id : attr_id , service_id : service_id },
            success: function (result) {
               $('.default_value_box').html(result);
            }
        });
    });

</script>
