<div style="text-align:center;" width="100%">
		<img src="/pic/loading-4.gif" style="display:none" id="loading_img_2">
	</div>
	
<div id = "reminder_display_<?=$this->inquiry_id?>" style="max-height: 150px; overflow: auto; overflow-y: scroll">
<?php
$modelInquiryReminder = new Model_InquiryReminder();
$modelUser = new Model_User();
$reminders = $modelInquiryReminder->getContactHistory($this->inquiry_id);

    if ($reminders){
                foreach ($reminders as $reminder){
				?>
                <div>
                  <?php $user = $modelUser->getById($reminder['user_id']); 
                        $dir = get_config('user_picture_medium') . '/'.$user['avatar'];
						$dir_no_pic = get_config('no_pic');
				  ?>
                   
				   <img  src="<?php if ($user['avatar']) {
								echo $dir;
							} else {
								echo $dir_no_pic;
								}?>" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> 
						<?php echo $user['username'] .' - '. $this->escape(getDateFormating($reminder['created'])); ?>
		
                  <?php if (CheckAuth::checkCredential(array('inquiryReminderDelete'))){ ?>
                  <a href="javascript:;" onclick="delete_this_reminder('<?php echo $this->escape($this->url(array('id' => $reminder['inquiry_id'], 'reminder_id' => $reminder['id']), 'inquiryReminderDelete')); ?>');" >
				  <img height="10" width="10" src="/pic/remove.png" border="0" ></a>
				  <div style="background-color:#F9F9F9; margin-left:32px;border-radius: 5px;padding:5px;"> &nbsp &nbsp <?=$reminder['comment']?></div>
					<hr align="center" style="width:95%;">
				<?php } ?>
                </div>
                <?php } ?>
	<?php } ?>
</div>

<form class="form-horizontal" id="reminder_form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="add_inquiry_reminder('#reminder_form');return false;">
    <!--<form class="form-horizontal" id="reminder_form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="submit_reminder('<?php echo $this->escape($this->form->getAction()); ?>','#reminder_form');return false;">-->
 
	
	<div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
  
	 
    <div class="form-group">
        <label class="col-md-3">Comment:</label>
    <div class="col-md-9">
        <?php echo $this->form->getElement('comment')->render(); ?>
        
    </div>
    </div>
	
	<div class="form-group">
   
    <div class="col-md-9 col-md-offset-3" id="button_cont">
        <?php echo $this->form->getElement('button')->render(); ?>
        
    </div>
    </div>
</form>

<script>
function add_inquiry_reminder(form_id){
	$('#button_cont').hide();
	$('#loading_img').css('display','block');
    $.ajax({
        type: "POST",
        url: "<?php echo $this->escape($this->url(array('inquiry_id' => $this->inquiry_id), 'inquiryReminderAdd')); ?>",
        data: $(form_id).serialize(),
        dataType: "json",
        success: function(data) {
			
				$(form_id).trigger("reset");
                $('#reminder_display_'+data.id).html('');
				$('#reminder_'+data.id).html('');
                $.each(data.reminders, function(index,value) {
                    $('#reminder_display_'+data.id).append(
					'<div style="font-size: 12px;">'+
					'<img  src="\''+value.avatar+'\'" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> '+
                        '<a href="javascript:;" style="color:black;" data-toggle="modal" data-target="#popupi" onclick="popupi(\'Add Note\',\''+value.url+ '\');" class="details_info_opt">' +value.reminder+'</a> '+
                        '<a href="javascript:;" onclick="delete_this_reminder(\''+value.remove_url+'\');"><img height="10" width="10" src="/pic/remove.png" border="0" ></a>'+
                    '</div>'+
					'<div style="background-color:#F9F9F9; margin-left:32px;border-radius: 5px;padding:5px;"> &nbsp &nbsp '+value.comment+'</div>'+
					'<hr align="center" style="width:95%;">'
                        );
						
					$('#reminder_'+data.id).append(
					'<div style="font-size: 12px;">'+
					'<img  src="\''+value.avatar+'\'" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> '+
                        '<a href="javascript:;" style="color:black;" data-toggle="modal" data-target="#popupi" onclick="popupi(\'Add Note\',\''+value.url+ '\');" class="details_info_opt">' +value.created+'</a> '
                        );
                });
                $('#loading_img').hide();
                $('#button_cont').show();
             
        }
    });
}

function delete_this_reminder(url){
	if(confirm('Are you sure you want to delete this Note ?')){
	$('#loading_img_2').css('display','block');
    $.ajax({
        type: "POST",
        url: url,
        data: $('#reminder_form').serialize(),
        dataType: "json",
        success: function(data) {
			
				$('#reminder_form').trigger("reset");
                $('#reminder_display_'+data.id).html('');
				$('#reminder_'+data.id).html('');
                $.each(data.reminders, function(index,value) {
                    $('#reminder_display_'+data.id).append(
					'<div style="font-size: 12px;">'+
					'<img  src="\''+value.avatar+'\'" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> '+
                        '<a href="javascript:;" style="color:black;" data-toggle="modal" data-target="#popupi" onclick="popupi(\'Add Note\',\''+value.url+ '\');" class="details_info_opt">' +value.reminder+'</a> '+
                        '<a href="javascript:;" onclick="delete_this_reminder(\''+value.remove_url+'\');"><img height="10" width="10" src="/pic/remove.png" border="0" ></a>'+
                    '</div>'+
					'<div style="background-color:#F9F9F9; margin-left:32px;border-radius: 5px;padding:5px;"> &nbsp &nbsp '+value.comment+'</div>'+
					'<hr align="center" style="width:95%;">'
                        );
						
					$('#reminder_'+data.id).append(
					'<div style="font-size: 12px;">'+
					'<img  src="\''+value.avatar+'\'" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> '+
                        '<a href="javascript:;" style="color:black;" data-toggle="modal" data-target="#popupi" onclick="popupi(\'Add Note\',\''+value.url+ '\');" class="details_info_opt">' +value.created+'</a> '
                        );
                });
                $('#loading_img_2').hide();
            
        }
    });
	}
}

</script>