<form class="form-horizontal" id="reminder_form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="submit_reminder('<?php echo $this->escape($this->form->getAction()); ?>','#reminder_form');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
  
	 
    <div class="form-group">
        <label class="col-md-3">Comment:</label>
    <div class="col-md-9">
        <?php echo $this->form->getElement('comment')->render(); ?>
        
    </div>
    </div>
	
	<div class="form-group">
   
    <div class="col-md-9 col-md-offset-3" id="button_cont">
        <?php echo $this->form->getElement('button')->render(); ?>
        
    </div>
    </div>
</form>