
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Company :</label>
            <div class="col-lg-9">
            <?php echo $this->form->getElement('company_id')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Attribute Name :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('attribute_name')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Attribute Variable Name :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('attribute_variable_name')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Is Price Attribute :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('is_price_attribute')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Attribute Type :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('attribute_type_id')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Extra Info :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('extra_info')->render(); ?>
             </div>
        </div>
        <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
       
    </form>

