<div class="col-lg-12 wrapper-content" style="padding-right: 26px;padding-left: 26px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsAttributeAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;"  data-toggle="modal" data-target="#popupi"  onclick="popupi('New Attribute','<?php echo $this->escape($this->url(array(), 'settingsAttributeAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                               New Attribute
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                    <h5>  Search Attributes </h5>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsAttributeList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />                    
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsAttributeList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                </form>
			</div>
        </div>
    </div>
<div class="col-lg-12 wrapper-content">

    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div class="col-lg-12">
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsAttributeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Attribute?');">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> All Attributes</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsAttributeDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table  table-bordered  responsive-table" id="attribute_table" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>NAME</b></td>
                                    <td><b>Details</b></td>
                                    <td><b>Attribute Value</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php $attObj = new Model_AttributeType(); ?>
                                <?php $attributeListValueObj = new Model_AttributeListValue(); ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $att = $attObj->getById($row['attribute_type_id']) ?>
                                    <?php $count += 1; ?>
                                    
                                    <tr class="gradeX">
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['attribute_id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l">
                                                <span class="details_info_name"><?php echo $this->escape($row['attribute_name']) ?></span>    
                                            </div>
                                            <div class="details_info_l">
                                                <?php if ($row['is_list'] && CheckAuth::checkCredential(array('settingsAttributeList'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('attribute_id' => $row['attribute_id']), 'settingsAttributeValueList')); ?>" class="details_info_opt">Modify Values</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>

                                                <?php if (CheckAuth::checkCredential(array('settingsAttributeEdit'))): ?>
                                                    <?php if (CheckAuth::checkIfCanHandelAllCompany('attribute', $row['attribute_id'])) : ?>
                                                        <a href="javascript:;"  data-toggle="modal" data-target="#popupi"  onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['attribute_id']), 'settingsAttributeEdit')); ?>');" class="details_info_opt">Edit</a>
                                                        <span class="details_breaks">|</span>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsAttributeDelete'))): ?>
                                                    <?php if (CheckAuth::checkIfCanHandelAllCompany('attribute', $row['attribute_id'])) : ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['attribute_id']), 'settingsAttributeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Attribute?');" class="details_info_opt">Delete</a>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div></td>
                                        <td> <div class="details_info_l">
                                                <div style="font-size: 10px;">&#187; <b>Is Price:</b> <?php echo $this->escape($row['is_price_attribute']) ? 'yes' : 'no' ?></div>
                                                <div style="font-size: 10px;">&#187; <b>Variable Name:</b> <?php echo $this->escape($row['attribute_variable_name']) ?></div>
                                                <div style="font-size: 10px;">&#187; <b>Type:</b> <?php echo $this->escape($att['attribute_type']) ?></div>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l">
                                                <?php $attributeListValues = $attributeListValueObj->getByAttributeId($row['attribute_id']); ?>
                                                <?php foreach ($attributeListValues as $attributeListValue): ?>
                                                    <div style="font-size: 10px;">&#187; <b>Value:</b> <?php echo $this->escape($attributeListValue['attribute_value']) ?></div>
                                                <?php endforeach; ?>
                                            </div></td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
                            <div style="" class="noRowsMessageDIV">There are no Attribute.</div>

        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>
