<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod());?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction());?>','#form','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    
        <div class="form-group">
            <label class="col-md-4">Attribute Value :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('attribute_value')->render(); ?></div>
        </div>
        <?php if($this->attribute['is_price_attribute']):?>
		<div class="form-group">
            <label class="col-md-4">Unit Price :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('unit_price')->render(); ?></div>
        </div>
      
        <?php endif;?>
		 <div class="form-group">
            <label class="col-md-4">Extra Info :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('extra_info')->render(); ?></div>
        </div>
		
        <div class="form-group">
			<div class="col-md-8 col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
    
</form>