<div class="col-lg-12 wrapper-content ibox float-e-margins" style="margin-top:25px">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title">
                        <h5>
						<?php
                          $role_obj = new Model_AuthRole();
                          $role = $role_obj->getById($this->role_id);
                         ?>
                          Assign Credential for <?php echo $this->escape($role['view_role_name']); ?>
						</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					
					<?php if ($this->all_credential): ?>
					
                    <form action="" method="POST">                    
                    <div class="ibox-content">
                      <div class="button_actions">
                        <div class="button_pos_l">
                            <input type="submit" value="save" class="btn btn-white"/>
                            <input type="hidden" readonly name="role_id" value="<?php echo $this->escape($this->role_id); ?>"/>
                        </div>
                        <div style="clear: both;"></div>
                    </div> 

                    <table class="table">
					    <thead>
						 <tr>
						  <th class="checkbox_booking_cont" style="width:10px"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></th>
						  <th>Credential</th>
						  <th><a href="javascript:;" id="clase_all" class="a_list">Clase All</a></th>
						  <th><a href="javascript:;" id="open_all" class="a_list" style="font-size: 12px;">Open All</a></th>
						 </tr>
						</thead>
                            
                          <tbody>
						    <tr>
							 <td colspan="4">
							   <div>
                                        <?php //check box tree  ?>
                                        <ul id="tree">
                                            <?php $modelAuthCredential = new Model_AuthCredential(); ?>
                                            <?php $background_color = array('#CCCCCC', '#FFD087', '#BEB9EE', '#73D8BC', '#FFDB5C'); ?>
                                            <?php foreach ($this->all_credential as $key => $credential): ?>
                                                <?php $color = $key % 5; ?>
                                                <li class="tree_box parent_list" style="border-radius: 7px 7px 7px 7px; padding: 7px; margin: 20px 40px 20px 0; background-color: <?php echo isset($background_color[$color]) ? $background_color[$color] : ''; ?>;">
                                                    <input type="checkbox" id="credential_<?php echo $this->escape($credential['credential_id']); ?>" name="credentials[]" <?php echo $this->escape($this->old_credentials ? (in_array($credential['credential_id'], $this->old_credentials) ? 'checked' : '') : ''); ?> value="<?php echo $this->escape($credential['credential_id']); ?>"/><label class="control-label" style="margin-left:5px;color:#000" for="credential_<?php echo $this->escape($credential['credential_id']); ?>"><?php echo $this->escape(spaceBeforeCapital(ucfirst($credential['credential_name']))); ?></label>
                                                    <?php if ($credential['childs']) : ?>
                                                        <?php echo $modelAuthCredential->drowChilds($credential['credential_id'], $credential['childs'], $this->old_credentials); ?>
                                                    <?php endif; ?>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
							 
							 </td>
							
							</tr>
						  </tbody>
                            
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php 
                                    foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>						
                        


                    </div>
                
        
            </form>
			
			  <?php else: ?>
                <div style="" class="noRowsMessageDIV">There is no Credential</div>
            <?php endif; ?>


    
    
</div>
<div style="clear:both"></div>

<script type="text/javascript">
  
    
    $('#clase_all').click(function(){ 
        $('.parent_list ul').css('display','none');
    });


	$('#open_all').click(function(){ 
        $('.parent_list ul').css('display','block');
    });
	
	$('.parent_list').click(function(){ 
        $(this).find('ul').css('display','block');
    });
	
	$(":checkbox").click(function () {
                    $(this).next().next().find(":checkbox").prop("checked", $(this).is(":checked"));
                    if ($(this).is(":checked")) {
						//alert($(this).parents().eq(2).children().eq(0).val());
						$(this).parents().eq(2).children().eq(0).prop("checked", $(this).is(":checked"));
						$(this).parents().eq(3).children().eq(0).prop("checked", $(this).is(":checked"));
						$(this).parents().eq(4).children().eq(0).prop("checked", $(this).is(":checked"));
                    }
                });
    

</script>



