<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        <tr>
            <td class="input_type" valign="top">Country :</td>
            <td><?php echo $this->form->getElement('country_id')->render(); ?></td>
        </tr>

        <tr id="city_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <td class="input_type" valign="top">City :</td>
            <td id="city"><div id="city_id-cont"><?php echo $this->form->getElement('city_id')->render(); ?></div></td>
        </tr>
        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>
<script type="text/javascript">
    function getCities(){
        if($('#country_id').val()){
            $('#city_block').css('display','table-row');
            $('#city').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country_id').val()+'&MultiCheckbox=1',
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
    $(document).ready(function(){ 
        $("label[for='city_id-all']").css('font-weight','bold');
    
        $("#city_id-all").click(function(){
            var checked_status = this.checked;
        
            $("#city_id-cont input[type='checkbox']").each(function(){
                this.checked = checked_status;
            });
        });
    });
</script>