<form id="form_color" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_color','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        <tr>
            <td class="input_type" valign="top">Color :</td>
            <td>
                <div id="calendarcolor"></div>
                <?php echo $this->form->getElement('color')->render(); ?>
            </td>
        </tr>
        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>
<script>
     $(document).ready(function() {
            var cv = $("#color").val();
            if(cv=="") { cv="-1"; }
            $("#calendarcolor").colorselect({ title: "Color", index: cv, hiddenid: "color" });
     });
</script>