<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <table>
        <tr>
            <td style="font-weight: bold; width: 230px;" valign="top">Push to Google Calender :</td>
            <td><?php echo $this->form->getElement('push_google_calender')->render(); ?></td>
        </tr>
        <tr>
            <td style="font-weight: bold; width: 230px;"valign="top">Delete from Google Calender :</td>
            <td><?php echo $this->form->getElement('delete_google_calender')->render(); ?></td>
        </tr>
        <tr>
            <td style="font-weight: bold; width: 230px;"valign="top">Send Request Customer Feedback:</td>
            <td><?php echo $this->form->getElement('request_feedback')->render(); ?></td>
        </tr>
		<tr>
            <td style="font-weight: bold; width: 230px;"valign="top">Consider for Nearest Booking Feature:</td>
            <td><?php echo $this->form->getElement('consider_for_nearest_booking_feature')->render(); ?></td>
        </tr>
        <tr><td style=" width: 230px;"valign="top" ></td><td id="button_cont"> <div style="margin-top: 10px;"><?php echo $this->form->getElement('button')->render(); ?></div></td></tr>
    </table>
</form>
