<?php
ViewHelper::setStyleSheet('/plugins/wbCalendar/css/colorselect.css');
ViewHelper::setJavaScript('/plugins/wbCalendar/src/Plugins/Common.js');
ViewHelper::setJavaScript('/plugins/wbCalendar/src/Plugins/jquery.colorselect.js');

$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Booking Status
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsBookingStatusDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Booking Status?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td class="details"><b>Name</b></td>
                                <td><b>Color</b></td>
                                <td><b>Actions</b></td>
                                <td><b>Description</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['booking_status_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>','300','600');" class="a_link_black"><?php echo $this->escape($row['name']) ?></a>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusEdit')) && !$row['is_core']): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusEdit')); ?>','100','450');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusDelete')) && !$row['is_core']): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusDelete')); ?>" onclick="return confirm('are you sure you want to delete this Booking Status?');" class="details_info_opt">Delete</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusChangeColor'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusChangeColor')); ?>','100','450');" class="details_info_opt">Change Color</a>
                                                <span class="details_breaks">|</span>                                          
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusGoogleCalender'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusGoogleCalender')); ?>','150','450');" class="details_info_opt">Modify Actions</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div style="height: 20px; width: 50px; background-color: <?php echo $this->escape($colors[$row['color']]) ?>;"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <span class="time_start_color">Push To Google Calender : </span><?php echo ($this->escape($row['push_google_calender']) ? 'YES' : 'NO') ?>
                                            </div>
                                            <div>
                                                <span class="time_start_color">Delete From Google Calender: </span><?php echo ($this->escape($row['delete_google_calender']) ? 'YES' : 'NO') ?>
                                            </div>
                                               <div>
                                                <span class="time_start_color">Send Customer Feedback Request: </span><?php echo ($this->escape($row['request_feedback']) ? 'YES' : 'NO') ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusAddDescription'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusAddDescription')); ?>','150','450');" class="details_info_opt">Description</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>

                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Booking Status.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsBookingStatusAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsBookingStatusAdd')); ?>','100','450');" class="btn_a">
                            <div class="text_pos">
                                New Booking Status
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Booking Status
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsBookingStatusList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsBookingStatusList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
