<?php 
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>
<div style="border: 1px solid #EFEFEF;  background-color: #F7F7F7; width: 100%; font-size: 11px; height: 100% ">
    <div style="padding: 10px;">
        <div style="text-align: center;">
            <h1><?php echo $this->escape($this->bookingStatus['name']); ?></h1>
        </div>
        
        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            <div style="float: left;">Color :</div>
            <div style="float: left; margin-left: 10px; height: 20px; width: 20px; background-color: <?php echo $this->escape($colors[$this->bookingStatus['color']]) ?>;"></div>
            <div style="clear: both;"></div>
        </div>
        
        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            <div style="float: left;">Push Booking to Google Calender :</div>
            <div style="float: left; margin-left: 10px; color: black;"><?php echo ($this->escape($this->bookingStatus['push_google_calender']) ? 'YES' : 'NO') ?></div>
            <div style="clear: both;"></div>
        </div>
        
        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            <div style="float: left;">Delete Booking from Google Calender :</div>
            <div style="float: left; margin-left: 10px; color: black;"><?php echo ($this->escape($this->bookingStatus['delete_google_calender']) ? 'YES' : 'NO') ?></div>
            <div style="clear: both;"></div>
        </div>
         <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            <div style="float: left;">Send Customer Feedback Request :</div>
            <div style="float: left; margin-left: 10px; color: black;"><?php echo ($this->escape($this->bookingStatus['request_feedback']) ? 'YES' : 'NO') ?></div>
            <div style="clear: both;"></div>
        </div>
        
        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            Description
        </div>
        <div style="border: 1px solid #ACD2E7; padding: 10px;">
            <?php echo nl2br($this->escape($this->bookingStatus['description'])); ?>
        </div> 
    </div>
</div>
