<?php
$loggedUser = CheckAuth::getLoggedUser();
$modelAuthRole = new Model_AuthRole ();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$adminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$flag = false;
?>
<style>
    .NotificationBox li span:first-child{
        display:none;
        float:right;
        cursor:pointer;
    }
    .NotificationBox:hover span:first-child{
        display:block;
    }
</style>

<div class="ibox">
    <div class="ibox-title">
        <span class="float-l">
            Discussion Notifications
        </span>

        <span class="float-r" id="markAllAsRead" style="cursor:pointer;">
            Mark all as Read
        </span>

        <?php if ($loggedUser['role_id'] == $adminRoleId) { ?>
            <div class="col-md-4 float-r"  style="margin-top: -8px;margin-right: 10px;">
                <select class="form-control" id="contractors_select" style="font-weight: normal;font-size: 14px;">

                    <option value="0">Select Contractor</option>
                    <?php
                    foreach ($this->contractors as $key => $contractors) {
                        $selected = "";
                        if (isset($this->contractor_id) && !empty($this->contractor_id)) {
                            $contractor_id = (int) $this->contractor_id;
                            if ($contractors['user_id'] == $contractor_id) {
                                $selected = "selected";
                            }
                        }
                        echo '<option ' . $selected . ' value="' . $contractors["user_id"] . '">' . $contractors['username'] . '</option>';
                    }
                    ?>
                </select>
            </div>
        <?php } ?>
    </div>
    <div class="ibox-content">

        <?php
        if ($this->data) {
            ?>
            <?php $count = 0; ?>
            <?php $modelAuthRole = new Model_AuthRole(); ?>
            <?php
            foreach ($this->data as $key => $row) :
                $read = explode(',', $row['read']);
                ?>
                <ul class="NotificationBox" style="padding:5px;border-bottom:1px solid rgb(231, 234, 236); <?php
                if (in_array($loggedUser['user_id'], $read)) {
                    echo 'background:#fff;';
                } else {
                    echo 'background:#edf0f5;';
                }
                $count = +1;
                ?>" class="whole_box">
                    <li style="width:100%;background:blue;"><span data-toggle="tooltip" <?php
                        if (!in_array($loggedUser['user_id'], $read)) {
                            $seen_circle = "fa-circle-thin"
                            ?>title="Mark as read"  class="mark_as_read" <?php
                                                                  } else {
                                                                      $seen_circle = "fa-circle"
                                                                      ?> title="Read" <?php } ?>><i class="fa <?= $seen_circle ?>"></i></span></li>
                                                                  <?php if ($loggedUser['role_id'] != $contractorRoleId) {
                                                                      ?>
                        <li>
                            <b><?php echo $this->escape($row['contractor_name']) ?></b>
                        </li>
                    <?php } ?>
                    <li>
                        
                        <input type="hidden" value="<?php echo $row['_id'] ?>" class="notification_id"/>
                        <input type="hidden" value="<?php echo $row['booking_id'] ?>" class="booking_id"/>																								
                        <a id="" style="color:#696969;" class="link_notification"
                           href="<?php
                          
                           if (isset($row['type'])) {
                               if ($loggedUser['role_id'] == $contractorRoleId) {
                                   $url = $this->escape($this->url(array(), 'myAccount'));
                               } else {
                                   $url = $this->escape($this->url(array('contractor_id' => $row['contractor_id']), 'settingsContractorInfoList'));
                               }
                           } else {
                               
                           }

                           echo $url;
                           ?>" 
                           ><?php echo $row['notification_text'] ?></a>

                        <?php
                        if (isset($row['thumbnails'])) {
                            echo '<ul>';
                            foreach ($row['thumbnails'] as $key => $value) {
                                echo '<li style="display:inline;margin-left:10px;"><img src="' . $this->baseUrl() . '/uploads/image_attachment/' . $value . '"/></li>';
                            }
                            echo '</ul>';
                        }
                        ?>      
                    </li>
                    <li><b><?php
                            if (isset($row['notification_user'])) {
                                echo $row['notification_user'];
                            }
                            ?></b> <?php
                        $created_date = date("M d,", $row['date_sent']);
                        $created_time = date("H:ia", $row['date_sent']);

                        echo $created_date . ' ' . $created_time
                        ?></li>
                    <li>

                        <?php
                        echo $this->escape(time_ago($row['date_sent']));
                        ?>
                    </li>


                </ul>


                <?php
                //} 
            endforeach;
            ?>
        <?php } else {
            ?>

            <div >There are no Notifications.</div>
        <?php } ?>
    </div>

</div>
<script type="text/javascript">
    $(".link_notification").click(function (e) {
        //e.preventDefault();

        $.ajax({
            url: "<?php echo $this->escape($this->url(array('status' => 1), 'changeNotificationStatus')); ?>",
            type: "POST",
            data: {notification_id: $(this).parent().find('.notification_id').val(), booking_id: $(this).parent().find('.booking_id').val()},
            success: function (data) {

            }
        });
    });

    $(".mark_as_read").click(function (e) {
        var circle_class = $(this)
        //e.preventDefault();
        $.ajax({
            url: "<?php echo $this->escape($this->url(array('status' => 0), 'changeNotificationStatus')); ?>",
            type: "POST",
            data: {notification_id: $(this).parents('ul').find('.notification_id').val(), booking_id: $(this).parents('ul').find('.booking_id').val()},
            success: function (data) {
                circle_class.parents('ul').css('background', '#fff');
                circle_class.removeClass('mark_as_read');
                circle_class.attr('data-original-title', 'Read');
                circle_class.find('.fa-circle-thin').removeClass('fa-circle-thin');
                circle_class.find('.fa').addClass('fa-circle');

            }
        });
    });

    $("#markAllAsRead").click(function (e) {
        $.ajax({
            url: "<?php echo $this->escape($this->url(array(), 'markAllAsRead')); ?>",
            type: "POST",
            data: {withCases: '1'},
            success: function (data) {
                $('.NotificationBox').css('background', 'white');
                $('.NotificationBox').find('.fa-circle-thin').removeClass('fa-circle-thin');
                $('.NotificationBox').find('.fa').addClass('fa-circle');
            }
        });
    });




    function filter(url) {
        window.location = url;
    }

    $('[data-toggle="tooltip"]').tooltip();
    $('#contractors_select').change(function () {
        var contractor_id = $('#contractors_select').val();

        window.location = "<?php echo $this->url(array(), 'discussionNotifications') ?>?contractor_id=" + contractor_id;
    });

    $.ajax({
        url: "<?php echo $this->escape($this->url(array(), 'clearCount')); ?>",
        type: "POST",
        data: {withCases: '1'},
        success: function (data) {
            $('#discussion_notification_count').html("");
            if (data != 0) {
                $('#discussion_notification_count').html(data);
            }
        }
    });

</script>
