<?php
$loggedUser = CheckAuth::getLoggedUser();
$modelAuthRole = new Model_AuthRole ();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$adminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$flag = false;
?>
<style>
    .NotificationBox li span:first-child{
        display:none;
        float:right;
        cursor:pointer;
    }
    .NotificationBox:hover span:first-child{
        display:block;
    }
	.stateOption{
		background-color: #1ab394;
		color:white;
	}
	
</style>

<div class="ibox">
    <div class="ibox-title">
        <span class="float-l">
            Discussion Notifications
        </span>

        <span class="float-r" id="markAllAsRead" style="cursor:pointer;">
            Mark all as Read
        </span>

        <?php if ($loggedUser['role_id'] == $adminRoleId) { ?>
            <div class="col-md-4 float-r"  style="margin-top: -8px;margin-right: 10px;">
                <select class="form-control" id="contractors_select" style="font-weight: normal;font-size: 14px;">

                    <option value="0">Select Contractor</option>
                    <?php
					$modelUser = new Model_User();
					$states = $modelUser->getStates();
					
					foreach($states as $key => $state){
						$displayedState = $state['state']?$state['state']:'General';
						$activeContractors = $modelUser->getAllContractor(0, $this->active, $state['state']);
						if($activeContractors){
							echo '<option class="stateOption" disables value="' . $displayedState . '">' . $displayedState . '</option>';
						}
						
						foreach ($activeContractors as $key => $contractors) {
							$selected = "";
							if (isset($this->contractor_id) && !empty($this->contractor_id)) {
								$contractor_id = (int) $this->contractor_id;
								if ($contractors['user_id'] == $contractor_id) {
									$selected = "selected";
								}
							}
							echo '<option ' . $selected . ' value="' . $contractors["user_id"] . '">' . $contractors['username'] . '</option>';
						}
					}
                    ?>
                </select>
            </div>
			<div class="col-md-2 float-r"  style="margin-top: -8px;margin-right: 10px;">
                <select class="form-control" id="active" style="font-weight: normal;font-size: 14px;" onchange="getContracotrsByStatus()">
					<?php $activeSelected = $inActiveSelected = $allSelected = ''; 
					echo $this->active;
					if($this->active == 'TRUE'){
						$activeSelected = 'selected';
					}else if($this->active == 'FALSE'){
						$inActiveSelected = 'selected';
					}else if($this->active == 'ALL'){
						$allSelected = 'selected';
					}?>
					<option <?php echo $activeSelected; ?> value="TRUE">ACTIVE</option>
					<option <?php echo $inActiveSelected; ?> value="FALSE">INACTIVE</option>
					<option <?php echo $allSelected; ?> value="ALL">ALL</option>
				</select>
			</div>
        <?php } ?>
    </div>
    <div class="ibox-content">

        <?php
        if ($this->data) {
            ?>
            <?php $count = 0; ?>
            <?php $modelAuthRole = new Model_AuthRole(); ?>
            <?php
            foreach ($this->data as $key => $row) :
                $read = explode(',', $row['read']);
                ?>
                <ul class="NotificationBox" style="padding:5px;border-bottom:1px solid rgb(231, 234, 236); <?php
                if (in_array($loggedUser['user_id'], $read)) {
                    echo 'background:#fff;';
                } else {
                    echo 'background:#edf0f5;';
                }
                $count = +1;
                ?>" class="whole_box">
                    <li style="width:100%;background:blue;"><span data-toggle="tooltip" <?php
                        if (!in_array($loggedUser['user_id'], $read)) {
                            $seen_circle = "fa-circle-thin"
                            ?>title="Mark as read"  class="mark_as_read" <?php
                                                                  } else {
                                                                      $seen_circle = "fa-circle"
                                                                      ?> title="Read" <?php } ?>><i class="fa <?= $seen_circle ?>"></i></span></li>
                                                                  <?php if ($loggedUser['role_id'] != $contractorRoleId) {
                                                                    ?>
                        <li>
                            <b><?php //echo $this->escape($row['contractor_name']) ?></b>
                        </li>
                    <?php } ?>
                    <li>
                        
                        <input type="hidden" value="<?php echo $row['_id'] ?>" class="notification_id"/>
                        <input type="hidden" value="<?php echo $row['booking_id'] ?>" class="booking_id"/>																								
                        <a id="" style="color:#696969;" class="link_notification"
                           href="<?php
                           
                           if (isset($row['item_type'])) {
                               $item_type = $row['item_type'];
                               if ($item_type == 'contractor') {
                                   if ($loggedUser['role_id'] == $contractorRoleId) {
                                       $url = $this->escape($this->url(array(), 'myAccount'));
                                   } else {
                                       $url = $this->escape($this->url(array('contractor_id' => $row['contractor_id']), 'settingsContractorInfoList'));
                                   }
                               } else if ($item_type == 'booking') {
                                   $url = $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView'));
                               } else if ($item_type == 'invoice') {
                                   $url = $this->escape($this->url(array('id' => $row['item_id']), 'invoiceView'));
                               } else if ($item_type == 'estimate') {
                                   $url = $this->escape($this->url(array('id' => $row['item_id']), 'estimateView'));
                               } else if ($item_type == 'complaint') {
                                   $url = $this->escape($this->url(array('id' => $row['item_id']), 'complaintView'));
                               }
                           } else {
                               $url = $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView'));
                           }
                           echo $url;
                           ?>" 
                           ><?php echo urldecode($row['notification_text']) ?></a>

                        <?php
                        if (isset($row['thumbnails'])) {
                            echo '<ul>';
                            foreach ($row['thumbnails'] as $key => $value) {
                                echo '<li style="display:inline;margin-left:10px;"><img src="' . $this->baseUrl() . '/uploads/image_attachment/' . $value . '"/></li>';
                            }
                            echo '</ul>';
                        }
                        ?>      
                    </li>
                    <li><b><?php
                if (isset($row['notification_user'])) {
                    echo $row['notification_user'];
                }
                        ?></b> <?php
                            $created_date = date("M d,", $row['date_sent']);
                            $created_time = date("H:ia", $row['date_sent']);

                            echo $created_date . ' ' . $created_time
                            ?></li>
                    <li>

                        <?php
                        echo $this->escape(time_ago($row['date_sent']));
                        ?>
                    </li>


                </ul>


                <?php
                //} 
            endforeach;
            ?>
        <?php } else {
            ?>

            <div style="text-align:center;">You have 0 notifications </div> 
        <?php } ?>
    </div>

</div>
<script type="text/javascript">
    $(".link_notification").click(function (e) {
        //e.preventDefault();

        $.ajax({
            url: "<?php echo $this->escape($this->url(array('status' => 1), 'changeNotificationStatus')); ?>",
            type: "POST",
            data: {notification_id: $(this).parent().find('.notification_id').val(), booking_id: $(this).parent().find('.booking_id').val()},
            success: function (data) {

            }
        });
    });

    $(".mark_as_read").click(function (e) {
        var circle_class = $(this)
        //e.preventDefault();
        $.ajax({
            url: "<?php echo $this->escape($this->url(array('status' => 0), 'changeNotificationStatus')); ?>",
            type: "POST",
            data: {notification_id: $(this).parents('ul').find('.notification_id').val(), booking_id: $(this).parents('ul').find('.booking_id').val()},
            success: function (data) {
                circle_class.parents('ul').css('background', '#fff');
                circle_class.removeClass('mark_as_read');
                circle_class.attr('data-original-title', 'Read');
                circle_class.find('.fa-circle-thin').removeClass('fa-circle-thin');
                circle_class.find('.fa').addClass('fa-circle');

            }
        });
    });

    $("#markAllAsRead").click(function (e) {
        $.ajax({
            url: "<?php echo $this->escape($this->url(array(), 'markAllAsRead')); ?>",
            type: "POST",
            data: {withCases: '1'},
            success: function (data) {
                $('.NotificationBox').css('background', 'white');
                $('.NotificationBox').find('.fa-circle-thin').removeClass('fa-circle-thin');
                $('.NotificationBox').find('.fa').addClass('fa-circle');
            }
        });
    });




    function filter(url) {
        window.location = url;
    }

    $('[data-toggle="tooltip"]').tooltip();
    $('#contractors_select').change(function () {
        var contractor_id = $('#contractors_select').val();
		var isActive = $('#active').val();

        window.location = "<?php echo $this->url(array(), 'notifications') ?>?contractor_id=" + contractor_id + "&active=" + isActive;
    });

    $.ajax({
        url: "<?php echo $this->escape($this->url(array(), 'clearCount')); ?>",
        type: "POST",
        data: {withCases: '1'},
        success: function (data) {
            $('#discussion_notification_count').html("");
            if (data != 0) {
                $('#discussion_notification_count').html(data);
            }
        }
    });
	
	function getContracotrsByStatus(){        
        if($('#active').val()){
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'getContractorsByStatus'); ?>",
                data: "status="+$('#active').val()+ "&stateFlag=1&getAllDataFlag=1",
				dataType: "json",
                success: function(contractors) {
					
					contractor_droplist = '<option value="">Select Contractor</option>'; 
					for (var i in contractors) {
						contractor_droplist = contractor_droplist+ '<option value="'+ i +' " disabled class="stateOption" >'+ i +'</option>'
						var jsonAsArry = [];
						for(var x in contractors[i]){
							var contractorArray = []; 						
							contractorArray[0] = parseInt(x); 
							contractorArray[1] = contractors[i][x];
							jsonAsArry[x] = contractorArray;
						}
						
						jsonAsArry.sort(cmp);
						for (var key in jsonAsArry) {
							contractor_droplist = contractor_droplist+'<option value="'+jsonAsArry[key][0]+'">'+jsonAsArry[key][1]+'</option>';
						}	
					}
					
					$('#contractors_select')
						.find('option')
						.remove()
						.end()
						.append(contractor_droplist);
								
                }
            });
        }else{
            console.log('active is empty....');
        }

    }
	
	function cmp(a, b) {
		return a[1].localeCompare(b[1]);
	}

</script>
