<?php
$loggedUser = CheckAuth::getLoggedUser();
$modelAuthRole = new Model_AuthRole ();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$adminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$flag = false;
if ((isset($this->is_first_time) && $this->is_first_time == 1) && empty($this->data)) {
    ?>
    <div>You have no notifications.</div>
    <?php
}
if ($this->data) {
    ?>
    <?php $count = 0; ?>
    <?php $modelAuthRole = new Model_AuthRole(); ?>
    <?php
    foreach ($this->data as $key => $row) :
        ?>


        <ul class="NotificationBox" style="padding:5px;border-bottom:1px solid rgb(231, 234, 236); <?php
        if ($row['read']) {
            echo 'background:#fff;';
        } else {
            echo 'background:#edf0f5;';
        }
        $count = +1;
        ?>" class="whole_box">
            <li style="width:100%;background:blue;"><span data-toggle="tooltip" 
                <?php
                if ($row['read']) {
                    $seen_circle = "fa-circle-thin"
                    ?>title="Mark as read"  class="mark_as_read"                                                          <?php
                                                          } else {
                                                              $seen_circle = "fa-circle"
                                                              ?> title="Read" <?php }
                                                          ?>><i class="fa <?= $seen_circle ?>"></i></span></li>
            <li>
                <b><?php echo $this->escape($row['notify_user_name']) ?></b>
            </li>

            <li>
                <input type="hidden" value="<?php echo $row['_id'] ?>" class="notification_id"/>
                <input type="hidden" value="<?php echo isset($row['item_id']) ? $row['item_id'] : 0 ?>" class="item_id"/>
                <?php
                if (isset($row['item_id'])) {
                    switch ($row['item_type']) {
                        case 'booking' :
                            $url = $this->escape($this->url(array('id' => $row['item_id']), 'bookingView'));
                            break;
                        case 'estimate' :
                            $url = $this->escape($this->url(array('id' => $row['item_id']), 'estimateView'));
                            break;
                        case 'invoice' :
                            $url = $this->escape($this->url(array('id' => $row['item_id']), 'invoiceView'));
                            break;
                        case 'inquiry' :
                            $url = $this->escape($this->url(array('id' => $row['item_id']), 'inquiryView'));
                            break;
                        case 'complaint' :
                            $url = $this->escape($this->url(array('id' => $row['item_id']), 'complaintView'));
                            break;
                        case 'contractor':
                            $url = $this->escape($this->url(array('contractor_id' => $row['item_id']), 'settingsContractorInfoList'));
                            break;
                        default :
                            break;
                    }
                    ?>	

                    <a id="" style="color:#696969;" class="link_notification"
                       href="<?php echo $url; ?>" 
                       ><?php echo $row['notification_text'] ?></a>

                <?php } 
                if (isset($row['thumbnails'])) {
                    echo '<ul style="margin-top:5px;margin-bottom:5px;">';
                    foreach ($row['thumbnails'] as $key => $value) {
                        echo '<li style="display:inline;margin-left:10px;"><img src="' . $this->baseUrl() . '/uploads/image_attachment/' . $value . '"/></li>';
                    }
                    echo '</ul>';
                }
                ?>      
            </li>
            <li><b><?php
                    if (isset($row['created_by_name'])) {
                        echo $row['created_by_name'];
                    }
                    ?></b> <?php
                $created_date = date("M d,", $row['date_sent']);
                $created_time = date("H:ia", $row['date_sent']);

                echo $created_date . ' ' . $created_time
                ?></li>
            <li>

                <?php
                echo $this->escape(time_ago($row['date_sent']));
                ?>
            </li>


        </ul>
        <script>
            $('[data-toggle="tooltip"]').tooltip();
        </script>


        <?php
        //} 
    endforeach;
    ?>

<?php }
?>
