<?php 
$loggedUser = CheckAuth::getLoggedUser();
$modelAuthRole = new Model_AuthRole ();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$flag = false;
?>
            <div class="ibox">
			<div class="ibox-title">
                
                   All Notifications
              <span class="float-r" id="markAllAsRead" style="cursor:pointer;">
                Mark all as Read
              </span>
            </div>
			<div class="ibox-content">
			
            <?php 
           
            if($this->data){
             ?>
                            <?php $count = 0; ?>
                            <?php $modelAuthRole = new Model_AuthRole(); ?>
                            <?php foreach ($this->data as $key => $row) :

                            
                            
							//var_dump($row['_id']);
							// if($row['title'] == 'new booking' && $loggedUser['role_id'] == $contractorRoleId){
							?>
							  
                                
                                <ul class="NotificationBox" style="padding:5px;border-bottom:1px solid rgb(231, 234, 236); <?php if($row['seen']){
                                echo 'background:#fff;';
                                }else{
                                echo 'background:#edf0f5;';
                                }
                             $count =+1;
                             ?>" class="whole_box">
										<li style="width:100%;background:blue;"><span data-toggle="tooltip" style="display:block;float:right;cursor:pointer;" <?php if($row['seen'] == 0){$seen_circle = "fa-circle-thin"?>title="Mark as read"  class="mark_as_read" <?php }else{ $seen_circle = "fa-circle"?> title="Read" <?php } ?>><i class="fa <?= $seen_circle?>"></i></span></li>
                                            <?php if($loggedUser['role_id'] != $contractorRoleId){?>
                                            
												<li>
                                                    <b><?php echo $this->escape($row['contractor_name']) ?></b>
                                                </li>
                                                <?php } ?>
						                        <li>
												<input type="hidden" value="<?php echo $row['_id']?>" class="notification_id"/>
												<input type="hidden" value="<?php echo $row['booking_id']?>" class="booking_id"/>																								
												<a id="" style="color:#696969;"
										href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" 
										><?php echo $row['notification_text'] ?></a>
                                        
                                                     <?php 
                                                 //   var_dump($row['thumbnails']);

                                                     if(isset($row['thumbnails'])) {
                                                echo '<ul>';
                                                    foreach ($row['thumbnails'] as $key => $value) {
                                                        echo '<li style="display:inline;margin-left:10px;"><img src="'.$this->baseUrl().'/uploads/image_attachment/'.$value.'"/></li>';
                                                    }
                                                echo '</ul>';
                                                }
                                                ?>      
                                        </li>
                                        <li><b><?= $row['notification_user']?></b> <?php 
                                        $created_date = date("M d", $row['send_date']);
                                        $created_time = date("H:i a" , $row['send_date']);

                                         echo $created_date .' '.$created_time?></li>
                                        <li>
						
                                                    <?php 
													echo $this->escape(time_ago($row['send_date']));
													
													?>
                                        </li>
                                        
                        
                                    </ul>
                                    
                                
                            <?php //} 
                            endforeach; ?>
                       

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    
               
            <?php }else{ ?>
                <div >There are no Notifications.</div>
            <?php } ?>
			</div>
       
     </div>
<script type="text/javascript">
	$(".a_black").click(function(e){
		//e.preventDefault();
		$.ajax({
                url: "<?php echo $this->escape($this->url(array('status'=> 1), 'changeNotificationStatus')); ?>",
				type: "POST",
				data : { notification_id : $(this).parent().find('.notification_id').val() , booking_id : $(this).parent().find('.booking_id').val()},
					success: function(data) {
					   
					}
				});
	});

    $(".mark_as_read").click(function(e){
        
        var circle_class = $(this)
        //e.preventDefault();
        $.ajax({
                url: "<?php echo $this->escape($this->url(array('status'=> 0), 'changeNotificationStatus')); ?>",
                type: "POST",
                data : { notification_id : $(this).parents('ul').find('.notification_id').val() , booking_id : $(this).parents('ul').find('.booking_id').val()},
                    success: function(data) {
                       circle_class.parents('ul').css('background' , '#fff');
                       circle_class.removeClass('mark_as_read');
                       circle_class.attr('data-original-title' , 'Read');
                       circle_class.find('.fa-circle-thin').removeClass('fa-circle-thin');
                       circle_class.find('.fa').addClass('fa-circle');

                    }
                });
    });

     $("#markAllAsRead").click(function(e){
        
        //var circle_class = $(this)
        //e.preventDefault();
        $.ajax({
                url: "<?php echo $this->escape($this->url(array(), 'markAllAsRead')); ?>",
                type: "POST",
                    success: function(data) {
                      $('.NotificationBox').css('background' , 'white');
                    }
                });
    });




 function filter(url){
        window.location = url;
    }

    $('[data-toggle="tooltip"]').tooltip();
</script>
