<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            
			<div class="head">
                <div class="list_title">
                   All Notifications
				   
                </div>
               
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsUserDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this User?');">
                    

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="user_info_details" style="padding-left: 20px;"><b>Notification</b></td>
                                
                            </tr>

                            <?php $count = 0; ?>
                            <?php $modelAuthRole = new Model_AuthRole(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                   
                                    <td style="padding: 20px;" >
                                        <?php //$roleName = $modelAuthRole->getRoleName($row['role_id']); ?>
										
                                        <div class="details_info_l"  style="font-size: 12px;">
											
                                            
                                            <div class="booking_time_cont">
												<div>
                                                    <span style="color: #A1A1A1;">contractor_name:</span> <?php echo $this->escape($row['contractor_name']) ?>
                                                </div>
												<div>
                                                    <span style="color: #A1A1A1;">notification_text:</span> <?php echo $this->escape($row['notification_text']) ?>
                                                </div>
												<div>
                                                    <span style="color: #A1A1A1;">send_date:</span> <?php echo $this->escape($row['send_date']) ?>
                                                </div>
                                                <div>
                                                    <span style="color: #A1A1A1;">seen:</span> <?php echo $this->escape($row['seen']) ?>
                                                </div>
												 <div>
                                                    <span style="color: #A1A1A1;">contractor_mobile_info_id:</span> <?php echo $this->escape($row['contractor_mobile_info_id']) ?>
                                                </div>
												<div>
                                                    <span style="color: #A1A1A1;">contractor_id:</span> <?php echo $this->escape($row['contractor_id']) ?>
                                                </div>
												
												
                                            </div>
                                        </div>
                                        
                                    </td>
                                    
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no User.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsUserAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsUserAdd', '400', '450')); ?>');" class="btn_a">
                            <div class="text_pos">
                                New User
                            </div>
                        </a>
                    </div>
                <?php endif; ?>


                <div class="search">
                    <div class="button_actions">
                        Search Users
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsUserList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsUserList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
 function filter(url){
        window.location = url;
    }
</script>
