<?php
$loggedUser = CheckAuth::getLoggedUser();
$modelAuthRole = new Model_AuthRole ();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
$adminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$flag = false;
?>
<style>
    .NotificationBox li span:first-child{
        display:none;
        float:right;
        cursor:pointer;
    }
    .NotificationBox:hover span:first-child{
        display:block;
    }
</style>
<div class="ibox">
    <div class="ibox-title">
        <span class="float-l">
            All SMS Notifications
        </span>
        <span class="float-r" id="markAllAsRead" style="cursor:pointer;">
            Mark all as Read
        </span>
    </div>
    <div class="ibox-content" id="notification-data">
    </div>
</div>
<script type="text/javascript">

    var page_number = 1;
	var loading = false;
	var is_last_request = 0;

	  $("#notification-data").on("click",".link_notification",function (e) {
			$.ajax({
				url: "<?php echo $this->escape($this->url(array('status' => 1), 'changeNotificationStatus')); ?>",
				type: "POST",
				data: {notification_id: $(this).parent().find('.notification_id').val(), sms_id: $(this).parent().find('.sms_id').val()},
				success: function (data) {

				}
			});
		});

     $("#notification-data").on("click",".mark_as_read",function (e) {
        var circle_class = $(this)
        $.ajax({
            url: "<?php echo $this->escape($this->url(array('status' => 0), 'changeNotificationStatus')); ?>",
            type: "POST",
            data: {notification_id: $(this).parents('ul').find('.notification_id').val(),
			sms_id: $(this).parents('ul').find('.sms_id').val()},
            success: function (data) {
                circle_class.parents('ul').css('background', '#fff');
                circle_class.removeClass('mark_as_read');
                circle_class.attr('data-original-title', 'Read');
                circle_class.find('.fa-circle-thin').removeClass('fa-circle-thin');
                circle_class.find('.fa').addClass('fa-circle');

            }
        });
    });

    $("#markAllAsRead").click(function (e) {
        var circle_class = $(this)
        e.preventDefault();
        $.ajax({
            url: "<?php echo $this->escape($this->url(array(), 'markAllAsRead')); ?>",
            type: "POST",
			data: {'sms': 1},
            success: function (data) {
                $('.NotificationBox').css('background', 'white');
                $('.NotificationBox').find('.fa-circle-thin').removeClass('fa-circle-thin');
                $('.NotificationBox').find('.fa').addClass('fa-circle');
            }
        });
    });

	  $('[data-toggle="tooltip"]').tooltip();
    $.ajax({
        url: "<?php echo $this->escape($this->url(array(), 'clearCount')); ?>",
        type: "POST",
		data: {'sms': 1},
        success: function (data) {
			
            $('#sms_notification_count').html("");
            if (data != 0) {
                $('#sms_notification_count').html(data);
            }
        }
    });
	
	   function getData(page_number,is_first_time){
	    if (typeof(is_first_time)==='undefined') is_first_time = 0;
		if(is_first_time == 0 && !($('#loading_img').length > 0)){$('#notification-data').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');}
		var link="<?php echo $this->url(array(), 'smsNotifications'); ?>";
		$.ajax({
				type: "POST",
				url: link,
				dataType: "JSON",
				data: {'page_number': page_number,'is_first_time':is_first_time},
				success: function(result)
				{
			is_last_request = result.is_last_request;	
			 $("#notification-data").append(result.data);
			 if(result.is_last_request == 0 && result.is_empty == 0){
			    $('#notification-data').append('<div class="row"><div class="col-md-6 col-md-offset-5"><a class="btn btn-primary" href="javascript:;" id="load_more"> Load More  </a></div></div>');
			   }
			  $('#loading_img').remove();
			  loading = false;
			}
			
			});

   }
   	  $(document).ready(function() {
		     getData(page_number,1);
			 $('#notification-data').on('click','#load_more',function(){    
				 $(this).remove();
				  if (loading == false && is_last_request == 0) {
							loading = true;
							page_number++;
							getData(page_number);
						}
			   });
			$(window).scroll(function () {
				if ($(window).scrollTop() + $(window).height() == $(document).height())
				{      $('#load_more').remove();
					   if(loading == false && is_last_request == 0){
						  loading = true;
						  page_number++;					  
						  getData(page_number);
						}
				}
		});
       });
	  
</script>
