<?php
   $mongo = new Model_Mongo();
$loggedUser = CheckAuth::getLoggedUser();
$user_id = $loggedUser['user_id'];
?>

<style>
    .credential li {
        /*//s border-bottom: 1px solid #898A8C;*/
        height: 40px;
        line-height: 40px;
        border-bottom : 1px solid #f3f3f4;
    }
    .credential .onoffswitch-inner:before{
        content: "Enable";
    }
    .credential .onoffswitch-inner:after{
        content: "Disable";
    }
    .credential .onoffswitch{
        width: 70px !important;
    }
    .credential .onoffswitch-switch{
        right: 52px;
    }

</style>

<div class="ibox">
    <div class="ibox-title">
        Notifications Settings
    </div>
    <div class="ibox-content" style="overflow:hidden;">
        <ul class="credential">
            <?php
            $loggedUser = CheckAuth::getLoggedUser();
             $model_notificationSetting = new Model_NotificationSetting();
            foreach ($this->userRoles as $key => $roles) {
                $notification_settings = $model_notificationSetting->getByUserIdAndCredentialId($loggedUser['user_id'], $roles['credential_id']);              
                ?>
                <li class="col-md-12"><span class="col-md-7"><?= ucfirst(spaceBeforeCapital($roles['credential_name'])) ?></span>
                    <span class="col-md-5" style="padding: 10px 0px;">
                        
                        <div class="switch inline">
                            <div class="onoffswitch ">
                                <input class="onoffswitch-checkbox" <?php if($notification_settings){?>checked="true"<?php }?> id="onoffswitch_<?= $key ?>"  type="checkbox"  onchange="change_settings('<?= $roles['credential_id'] ?>', <?= $key ?>)"/>			
                                <label class="onoffswitch-label" for="onoffswitch_<?= $key ?>">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>	
                    </span>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
</div>

<script>
    //alert("salim");
    function change_settings(credential_id, key) {
        var status = $('#onoffswitch_' + key).is(':checked');
        
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'notificationsSettings')); ?>",
            data: {credential_id: credential_id, status: status},
            success: function (msg) {
                if(msg == 'true'){
                    $('.alert_box').html('<a href="" class="alert alert-success col-md-12">Notification enabled </a>');
                }else{
                    $('.alert_box').html('<a href="" class="alert alert-success col-md-12">Notification disabled </a>');
                }
            }
        });
    }


</script>