<?php
  $loggedUser = CheckAuth::getLoggedUser();
  $modelAuthRole = new Model_AuthRole ();
  $contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
  $adminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
  $flag = false;
	if((isset($this->is_first_time) && $this->is_first_time == 1) && empty($this->data)){?>
	    <div >There are no SMS Notifications.</div>
	  <?php } ?>	
	<?php
	
        if ($this->data) {
//			echo json_encode(iterator_to_array($this->data));

		$count = 0; 
		$modelAuthRole = new Model_AuthRole(); 
        foreach ($this->data as $key => $row) :
                $read = explode(',', $row['read']);
				
				if($row['user_id'])
				$user_id=$row['user_id'];
			    else
				$user_id=0;

					
                ?>
                <ul class="NotificationBox" style="padding:5px;border-bottom:1px solid rgb(231, 234, 236); <?php
                if (in_array($loggedUser['user_id'], $read)) {

                    echo 'background:#fff;';
                } else {
                    echo 'background:#edf0f5;';
                }
                $count = +1;
                ?>" class="whole_box">
                    <li style="width:100%;background:blue;"><span data-toggle="tooltip" <?php
                        if (!in_array($loggedUser['user_id'], $read)) {
                            $seen_circle = "fa-circle-thin"
                            ?>title="Mark as read"  class="mark_as_read" <?php
						  } else {
							  $seen_circle = "fa-circle"
							  ?> title="Read" <?php } ?>><i class="fa <?= $seen_circle ?>"></i></span></li>
						  <?php //if ($loggedUser['role_id'] != $contractorRoleId) { ?>

                        <li>
                            <b><?php echo $this->escape($row['user_name']) ?></b>
                        </li>
                    <?php //} ?>
                    <li>
					
                        <input type="hidden" value="<?php echo $row['_id'] ?>" class="notification_id"/>
                        <input type="hidden" value="<?php echo $row['sms_id'] ?>" class="sms_id"/>																								
                        <a id="" style="color:#696969;" class="link_notification"
						href="<?php echo $this->escape($this->url(array('sms_id' => $row['sms_id'],'user_id'=>$user_id), 'smsInbox'));?>">
						<?php echo $row['notification_text'] ?></a>
                    </li>
					
					
                    <li><b><?php
                            if (isset($row['notification_user'])) {
                                echo $row['notification_user'];
                            }
                            ?></b> <?php
                        $created_date = date("M d,", $row['date_sent']);
                        $created_time = date("H:ia", $row['date_sent']);

                        echo $created_date . ' ' . $created_time
                        ?></li>
                    <li>
                        <?php
                        echo $this->escape(time_ago($row['date_sent']));
                        ?>
                    </li>
                  <br/>
              <?php //if ($loggedUser['role_id'] == $contractorRoleId) { ?>
				<!--<li>
                   <button type='button' class='btn btn-primary' data-toggle="modal" data-target="#popupi" 
                   style="font-size: 15px;" onclick="popupi('Reply To Message', '<?php //echo $this->escape($this->url(array('to' => 0, 'id' => $row['sms_id']), 'replySmsByTwilio')); ?>');">
                   Reply</button></li>
						  <?php // } ?>
						  </li>     
                     -->
                </ul>
				
				<script>
				  $('[data-toggle="tooltip"]').tooltip();
				  </script>

                <?php
                 
            endforeach;
            ?>
        <?php } ?>
		
		

            