<?php
ViewHelper::setUrlJavaScript('https://www.google.com/jsapi');
//echo $this->googleMapAPI->getHeaderJS();
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>

<div class="ibox float-e-margins no-margin-b">

    <div class="ibox-content">

        <table class="table table-bordered responsive-table" id="future_dash_header_table">
            <thead>
                <tr>
                    <th class="text-center"><b>Open Invoices</b></th>
                    <th class="text-center"> <b>Overdue Invoices</b></th>
                </tr>
            </thead>
            <tbody>
                <tr><td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="text-center" > 
                                        <span>
                                            $ <?php echo $this->escape(number_format($this->invoicesTotalAmount, 2)); ?>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="5" border="0" class="dashBoardBorder">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" height="82" cellspacing="0" cellpadding="5" border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="col-lg-3 text-center  " > 
                                                        <span >1 - 15 Days</span> 
                                                    </td>
                                                    <td class="col-lg-3 text-center" > 
                                                        <span >16 - 30 Days</span>
                                                    </td>
                                                    <td class="col-lg-3 text-center" > 
                                                        <span>31 - 45 Days</span> 
                                                    </td>
                                                    <td class="col-lg-3 text-center" >
                                                        <span class="fontBlue f11">Above 45 Days</span> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-lg-3 text-center" > 
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->due15, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td  class="col-lg-3 text-center" >
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->due30, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-lg-3 text-center" > 
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->due45, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-lg-3 text-center" > 
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->dueAbove, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

</div>



<div class="ibox float-e-margins no-margin-b">

    <div class="ibox-content">
        <b>Bookings Completed </b>
        <table class="table table-bordered responsive-table" id="completed_dash_table">
            <thead class="text-center">
                <tr>
                    <td></td>

                    <td > 
                        <div></div>
                        <span >
                            <div style="background-color: #4F8BC3;" >Sales</div>
                        </span> 
                    </td>
                    <td > 
                        <div></div>
                        <span >
                            <div style="background-color: #6AB859;" >Receipts</div>
                        </span> 
                    </td>
                    <td > 
                        <div></div>
                        <span >
                            <div style="background-color: #C37C4E;" >Due</div>
                        </span> 
                    </td>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr >
                    <td >  Last Year </td>

                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastYearSales, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastYearReceipts, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastYearDue, 2)); ?>
                        </span>
                    </td> 

                </tr>
                <tr >
                    <td >  Last Quarter </td>

                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastQuarterSales, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastQuarterReceipts, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastQuarterDue, 2)); ?>
                        </span>
                    </td> 

                </tr>
                <tr >
                    <td >  Last Month </td>

                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastMonthSales, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastMonthReceipts, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastMonthDue, 2)); ?>
                        </span>
                    </td> 

                </tr>
                 <tr >
                    <td >   Last Week </td>

                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastWeekSales, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastWeekReceipts, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->lastWeekDue, 2)); ?>
                        </span>
                    </td> 

                </tr>
                <tr >
                    <td >   Today  </td>

                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->todaySales, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->todayReceipts, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->todayDue, 2)); ?>
                        </span>
                    </td> 

                </tr>
                <tr >
                    <td >   This Week  </td>

                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->weekSales, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->weekReceipts, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->weekDue, 2)); ?>
                        </span>
                    </td> 

                </tr>
                <tr >
                    <td >   This Month  </td>

                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->monthSales, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->monthReceipts, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->monthDue, 2)); ?>
                        </span>
                    </td> 

                </tr>
                <tr >
                    <td >    This Quarter </td>

                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->quarterSales, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->quarterReceipts, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->quarterDue, 2)); ?>
                        </span>
                    </td> 
                </tr>
                
                 <tr >
                    <td >  This Year</td>

                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->yearSales, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->yearReceipts, 2)); ?>
                        </span>
                    </td> 
                    <td >
                        <span>
                            $ <?php echo $this->escape(number_format($this->yearDue, 2)); ?>
                        </span>
                    </td> 
                </tr>
                
            </tbody>
        </table>


    </div>

</div>

<script type="text/javascript">
    function AcceptServices(url) {
        $(document).ready(function () {
            tb_show("", url + '?height=200&width=400');
        });
    }

    //span jscontent="distance['text']"
    function getDistance() {
        alert($('#map_directions span[jsdisplay="distance"]').html());
    }

    $(document).ready(function () {
        $(function () {
            $("#accordion").accordion({
                autoHeight: false,
                navigation: true
            });
        });
    });

    google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Status of bookings');
        data.addColumn('number', 'No. od booking');
        data.addRows([
<?php foreach ($this->allBookingStatus as $bookingStatus) : ?>
                ['<?php echo $this->escape($bookingStatus['name']) ?>',<?php echo $this->escape($bookingStatus['total']) ?>],
<?php endforeach; ?>
        ]);

        var options = {
            width: 450, height: 300,
            title: 'My Booking Status'
        };


        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function test(item) {

        $(item).addClass('selected');
    }
</script>