<?php
$modelUser = new Model_User();
$modelAuthRole = new Model_AuthRole();
$modelContractorInfo = new Model_ContractorInfo();
$modelBookingEstimate = new Model_BookingEstimate();
$modelBookingInvoice = new Model_BookingInvoice();
$modelInquiry = new Model_Inquiry();
$modelComplaint = new Model_Complaint();
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>
<div class="ibox float-e-margins no-margin-b">
<div class="ibox-content">
  <?php if ($this->cronjobHistory): ?>
  <table class="table table-bordered responsive-table" id="cronjob_table">
				<thead>
						<tr>
									<th>Cronjob name</th>
									<th>Start time(GMT)</th>
									<th>Start time(Sydney)</th>
									<th>Every</th>
						</tr>
                </thead>
                <tbody>
				
                <?php
					
				foreach ($this->cronjobHistory as $cronjob){ ?>
                            <tr>
                                <td> 
                                    <span style="word-wrap:break-word;">
									<?php if (!empty($cronjob['cronjob_name'])){ 
                                        echo $cronjob['cronjob_name'];
                                    } ?>
								</span>
                                </td>
                                <td>
								
                                    <?php if (!empty($cronjob['start_time'])){ 
                                        echo $cronjob['start_time'];
                                    } ?>
									
                                </td>
								<td>
									
                                    <?php if (!empty($cronjob['start_time'])){ 
									$sydney = new DateTimeZone('Australia/Sydney');
									$gmt = new DateTimeZone('GMT');
									$date = new DateTime($cronjob['start_time'], $gmt);
									$date->setTimezone($sydney);
									echo $date->format('Y-m-d H:i:s');

                                    } ?>
									
                                </td>
								<td> 
									
                                    <?php if (!empty($cronjob['every'])){ 
                                        echo $cronjob['every'];
                                    } ?>
								
                                </td>
                               
                            </tr>
                        <?php } ?>
                </tbody>
            </table>
    <?php else: ?>
    <div style="" class="noRowsMessageDIV">There are no Emails.</div>
    <?php endif; ?>
	
	<div>
         <?php if (count($this->pageLinks) > 3): ?>
            <ul class="pagination">
                <?php foreach ($this->pageLinks as $pageLink) : ?>
                <li><?php echo $pageLink; ?></li>
                <?php endforeach; ?>
            </ul>
          <?php endif; ?>
    </div>
</div>
</div>