<?php
$modelAuthRole = new Model_AuthRole();
$modelUser = new Model_User();
$modelCustomer = new Model_Customer();
$superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
$customerRoleId = $modelAuthRole->getRoleIdByName('customer');

$loggedUser = CheckAuth::getLoggedUser();
$user_id = $loggedUser['user_id'];
$user = $modelUser->getById($user_id);
?>

<?php foreach ($this->data as $call): ?>
    <tr>
        <td>
            <?php
            if ($call['caller_user_role'] != $customerRoleId) {
                $user = $modelUser->getById($call['caller_id']);
                $username = $user['display_name'];
            } else {
                $user = $modelCustomer->getById($call['caller_id']);
                $username = $user['first_name'] . ' ' . $user['last_name'];
            }
            ?>
            <?= $username ?>
        </td>
        <td>
            <?php
            if ($call['callee_user_role'] != $customerRoleId) {
                $user = $modelUser->getById($call['callee_id']);
                $username = $user['display_name'];
            } else {
				if($call['contact_id']){
					$modelCustomerContact = new Model_CustomerContact();
					$user = $modelCustomerContact->getById($call['contact_id']);
					$username = $user['first_name'] . ' ' . $user['last_name'];
					
				}else{
					$user = $modelCustomer->getById($call['callee_id']);
					$username = $user['first_name'] . ' ' . $user['last_name'];
				}  
            }
            ?>
            <?= $username ?>

        </td>
        <td>
            <?= $call['duration'] ?>
        </td>
        <td>
            <?= date('l, M d, H:ia',strtotime($call['time'])) ?>
        </td>
        <td> <?php echo isset($call['url']) ? 
        "<audio controls>
            <source src='".$call['url']."' type='audio/mpeg'>
            Your browser does not support the audio element.
        </audio>" : ""; ?>
        </td>
    </tr>
<?php endforeach; ?>


