<?php
ViewHelper::setUrlJavaScript('https://www.google.com/jsapi');
//echo $this->googleMapAPI->getHeaderJS();
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>


<div class="ibox float-e-margins no-margin-b">

    <div class="ibox-content">
        <b>Company & Contractor Share </b>
		<br/>
        <table class="table table-bordered responsive-table" id="completed_dash_table">
            <thead class="strocked-text">
                <tr>
                    <td></td>

					<td style="background-color: #C37C4E;"> 
                        <div></div>
                        <span >
                            <div>Company Share</div>
                        </span> 
                    </td>
					<td style="background-color: #4F8BC3;"> 
                        <div></div>
                        <span >
                            <div>Contractor Share</div>
                        </span> 
                    </td>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr >
                    <td >  Last Year </td>

                    <td id="lastYearCompanyShare">
                    </td> 
					
					<td id="lastYearContractorShare">                       
                    </td> 
                </tr>
                <tr >
                    <td >  Last Quarter </td>
					
					<td id="lastQuarterCompanyShare">                        
                    </td> 
					<td id="lastQuarterContractorShare">
                    </td> 

                </tr>
                <tr >
                    <td >  Last Month </td>

					<td id="lastMonthCompanyShare">
                        
                    </td> 
					<td id="lastMonthContractorShare">
                        
                    </td> 
					

                </tr>
                 <tr >
                    <td >   Last Week </td>

					<td id="lastWeekCompanyShare">                       
                    </td>
					<td id="lastWeekContractorShare">                       
                    </td>					

                </tr>
                <tr >
                    <td >   Today  </td>
					
					<td id="todayCompanyShare">
                        
                    </td> 
					<td id="todayContractorShare">
                        
                    </td>				

                </tr>
                <tr >
                    <td >   This Week  </td>
					
                    <td id="weekCompanyShare">
                       
                    </td> 
					<td id="weekContractorShare">
                       
                    </td> 
                </tr>
                <tr >
                    <td >   This Month  </td>
					
					<td id="monthCompanyShare">                       
                    </td> 
					<td id="monthContractorShare">                        
                    </td> 

                </tr>
                <tr >
                    <td >    This Quarter </td>
					
                     <td id="quarterCompanyShare">
                        
                    </td>
					<td id="quarterContractorShare">
                        
                    </td> 


                </tr>
                
                 <tr >
                    <td >  This Year</td>
					
					<td id="yearCompanyShare">                       
                    </td> 
					<td id="yearContractorShare">                        
                    </td> 
					
                </tr>
                
            </tbody>
        </table>


    </div>

</div>

<script type="text/javascript">
	
	$(document).ready(function(){
	  
	  var last_week_period = <?php echo json_encode(getTimePeriodByName('last_week'));?> ;
	  getSharesResults(last_week_period , 'lastWeekCompanyShare' , 'lastWeekContractorShare' , 1);
	  var last_month_period = <?php echo json_encode(getTimePeriodByName('last_month'));?> ;
	  getSharesResults(last_month_period , 'lastMonthCompanyShare' , 'lastMonthContractorShare' , 1);
	  var last_quarter_period = <?php echo json_encode(getTimePeriodByName('last_quarter'));?> ;
	  getSharesResults(last_quarter_period , 'lastQuarterCompanyShare' , 'lastQuarterContractorShare' , 1);
	  var last_year_period = <?php echo json_encode(getTimePeriodByName('last_year'));?> ;
	  getSharesResults(last_year_period , 'lastYearCompanyShare' , 'lastYearContractorShare' , 1);
	  
	  var today = <?php echo json_encode(getTimePeriodByName('today'));?> ;
	  getSharesResults(today , 'todayCompanyShare' , 'todayContractorShare' , 0);
	  var this_week = <?php echo json_encode(getTimePeriodByName('this_week'));?> ;
	  getSharesResults(this_week , 'weekCompanyShare' , 'weekContractorShare' , 0);
	  var this_month = <?php echo json_encode(getTimePeriodByName('this_month'));?> ;
	  getSharesResults(this_month , 'monthCompanyShare' , 'monthContractorShare' , 0);
	  var this_quarter = <?php echo json_encode(getTimePeriodByName('this_quarter'));?> ;
	  getSharesResults(this_quarter , 'quarterCompanyShare' , 'quarterContractorShare' , 0);
	  var this_year = <?php echo json_encode(getTimePeriodByName('this_year'));?> ;
	  getSharesResults(this_year , 'yearCompanyShare' , 'yearContractorShare' , 0);
	  
	
	
	});
	
	function getSharesResults(period , CompanyShareId , ContractorShareId , is_last){
	  
	  booking_start = period.start;
	  	  
	  if(is_last){
	    booking_end = period.end;
	    request_data = {'booking_start' : booking_start , 'booking_end' : booking_end} ; 
	  }else{
	    request_data = {'booking_start' : booking_start} ;
	  }
	  
	  $.ajax({
        type: "POST",
		dataType : "JSON",
		data : request_data ,
        url: '<?php echo $this->escape($this->url(array(),'getCompanyContractorShare')); ?>',
        success: function(data) {
		    $('#'+CompanyShareId).html('<span>$ '+data.CompanyShare+'</span>');
		    $('#'+ContractorShareId).html('<span>$ '+data.ContractorShare+'</span>');
        }
     });
	  
	
	
	}
	
	
</script>
