<style>
 td a{
  color :red;
 }
</style>
<?php
ViewHelper::setUrlJavaScript('https://www.google.com/jsapi');

//18/05/2015 D.A
//ViewHelper::setStyleSheet('http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css');
//ViewHelper::setStyleSheet('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
ViewHelper::setStyleSheet('/css/daterangepicker-bs3.css');


//ViewHelper::setJavaScript('https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js');
//ViewHelper::setJavaScript('http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js');
//ViewHelper::setJavaScript('/js/date_range/moment.js');
ViewHelper::setJavaScript('/js/date_range/daterangepicker.js');

//echo $this->googleMapAPI->getHeaderJS();
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>





<div class="ibox float-e-margins no-margin-b">

	<div class="ibox-content">

    <h4>Booking Amount</h4>

    <div class="well" style="overflow: auto">

        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span></span> <b class="caret"></b>
        </div>
		<table id="BookDate" style="float: left; width:26% ; text-align: center;"  class="table table-bordered">
        </table>

        <table id="BookAmount" style="float: left; width:20%; text-align:center" " class="table table-bordered">
        </table>

		<table id="BookCount" style="float: left; width:20%; text-align:center" " class="table table-bordered">
		</table>
    </div>

</div>

    <div class="ibox-content">
        <h4>Future Bookings</h4>
        <table class="table table-bordered responsive-table" id="future_dash_table">
            <thead class="text-center">
                <tr>
                    <th></th>
                    <?php foreach ($this->futureBookingStatus as $bookingStatus): ?>
                        <th class="strocked-text" style="<?php echo 'background-color:' . $this->escape($colors[$bookingStatus['color']]) . ' !important;text-align:center !important;' ?>"> 
                           
                            <span>
                                <div><?php echo $this->escape($bookingStatus['name']); ?></div>
                            </span> 
                        </th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody id="table_res">
				<tr>
						<td> Today </td>
					<?php foreach ($this->todayAllBookingStatus as $todayBookingStatus): ?>
						<td class="bottomBorder">
							<?= $todayBookingStatus['url']; ?>
							$ <?php echo $this->escape(number_format($todayBookingStatus['total_qoute'], 2)) ?>
							
						</td> 
					<?php endforeach; ?>
				</tr>
				
                <tr class="first_td" >
                    <td > Tomorrow </td>
                    <?php foreach ($this->tomorowAllBookingStatus as $tomorowBookingStatus): ?>
                        <td >
                            <?= $tomorowBookingStatus['url']; ?>
                            $ <?php echo $this->escape(number_format($tomorowBookingStatus['total_qoute'], 2)) ?>
							
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td >This Week</td>
                    <?php foreach ($this->weekAllBookingStatus as $weekBookingStatus): ?>
                        <td >
                            <?= $weekBookingStatus['url']; ?>
                            $ <?php echo $this->escape(number_format($weekBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td >This Month </td>
                    <?php foreach ($this->monthAllBookingStatus as $monthBookingStatus): ?>
                        <td >
                            <?= $monthBookingStatus['url']; ?>
                            $ <?php echo $this->escape(number_format($monthBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td >This Quarter </td>
                    <?php foreach ($this->quarterAllBookingStatus as $quarterBookingStatus): ?>
                        <td >
                            <?= $quarterBookingStatus['url']; ?> 
                            $ <?php echo $this->escape(number_format($quarterBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td > Next Week</td>
                    <?php foreach ($this->nextWeekAllBookingStatus as $nextWeekBookingStatus): ?>
                        <td >
                            <?= $nextWeekBookingStatus['url']; ?> 
                            $ <?php echo $this->escape(number_format($nextWeekBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td> Next Month</td>
                    <?php foreach ($this->nextMonthAllBookingStatus as $nextMonthBookingStatus): ?>
                        <td>
                            <?= $nextMonthBookingStatus['url']; ?>  
                            $ <?php echo $this->escape(number_format($nextMonthBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td> Next Quarter</td>
                    <?php foreach ($this->nextQuarterAllBookingStatus as $nextQuarterBookingStatus): ?>
                        <td >
                            <?= $nextQuarterBookingStatus['url']; ?> 
                            $ <?php echo $this->escape(number_format($nextQuarterBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td >All Future Booking</td>
                    <?php foreach ($this->allFutureBookingStatus as $futureBookingStatus): ?>
                        <td >
                            <?= $futureBookingStatus['url']; ?> 
                            $ <?php echo $this->escape(number_format($futureBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
            </tbody>
        </table>


    </div>

</div>

<script>
/*$(document).ready(function(){
	var data = {};
	var i = 0;
	$(".header_td").each(function() {
			data[i] = $(this).html();
			i++
	});
	$.each( data, function( key, value ) {
		$("#table_res td:first-of-type").before(value);
			
	});
	
});*/

// 18/05/2015 D.A

/*
    $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

    $('#reportrange').daterangepicker({
        format: 'MM/DD/YYYY',
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'left',
        drops: 'down',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-primary',
        cancelClass: 'btn-default',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Cancel',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    });


    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {

       var sd=picker.startDate.format('YYYY-MM-DD');
       var ed=picker.endDate.format('YYYY-MM-DD');

       jQuery.ajax({

            url:'<?php echo $this->escape($this->url(array(),'dailyBookingAmount')); ?>',
            type: 'POST',
            data: {sd: sd, ed:ed },
            dataType: "json",
            success: function(result){
                console.log(result.date + ' ' + result.amount);
                var obj1=result.date;
                var obj2=result.amount;
                var obj3=result.bookingCount;

                $('#BookDate').empty();
                $('#BookAmount').empty();
                $('#BookCount').empty();

                $('#BookDate').append('<tr class="gray-bg"><th style="text-align: center;">Date</th></tr>');
                $('#BookAmount').append('<tr class="gray-bg"><th style="text-align: center;">Booking Amount</th></tr>');
                $('#BookCount').append('<tr class="gray-bg"><th style="text-align: center;">Booking Count</th></tr>');

                jQuery.each( obj1, function( i, val ) {
                    if(obj1 != '' ){
                    $('#BookDate').append('<tr><td>'+val+'</td></tr>');
                    }
                });

                jQuery.each( obj2, function( i, val ) {
                    if(obj2 != '' ){
                    $('#BookAmount').append('<tr><td>'+val+'</td></tr>');
                    }
                });

                jQuery.each( obj3, function( i, val ) {
                    if(obj3 != '' ){
                        $('#BookCount').append('<tr><td>'+val+'</td></tr>');
                    }
                });

            }
        });

    });

    // 21/05/2015 D.A
    Date.prototype.yyyymmdd = function() {

        var yyyy = this.getFullYear().toString();
        var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
        var dd  = this.getDate().toString();

        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]);
    };

    $(document).ready(function(){

        today = new Date();
        var sd=today.yyyymmdd();;
        var ed=today.yyyymmdd();;

        jQuery.ajax({

            url:'<?php echo $this->escape($this->url(array(),'dailyBookingAmount')); ?>',
            type: 'POST',
            data: {sd: sd, ed:ed },
            dataType: "json",
            success: function(result){
               // console.log(result.date + ' ' + result.amount);
                console.log(result);
                var obj1=result.date;
                var obj2=result.amount;
                var obj3=result.bookingCount;

                $('#BookDate').append('<tr class="gray-bg"><th style="text-align: center;">Date</th></tr>');
                $('#BookAmount').append('<tr class="gray-bg"><th style="text-align: center;">Booking Amount</th></tr>');
                $('#BookCount').append('<tr class="gray-bg"><th style="text-align: center;">Booking Count</th></tr>');

                jQuery.each( obj1, function( i, val ) {
                    if(obj1 != '' ){
                        $('#BookDate').append('<tr><td>'+val+'</td></tr>');
                    }
                });

                jQuery.each( obj2, function( i, val ) {
                    if(obj2 != '' ){
                        $('#BookAmount').append('<tr><td>'+val+'</td></tr>');
                    }
                });

                jQuery.each( obj3, function( i, val ) {
                    if(obj3 != '' ){
                        $('#BookCount').append('<tr><td>'+val+'</td></tr>');
                    }
                });
            }
        });
    });
*/



    // 18/05/2015 D.A
    $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

    $('#reportrange').daterangepicker({
        format: 'MM/DD/YYYY',
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'left',
        drops: 'down',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-primary',
        cancelClass: 'btn-default',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Cancel',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    });


    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {

       var sd=picker.startDate.format('YYYY-MM-DD');
       var ed=picker.endDate.format('YYYY-MM-DD');

       jQuery.ajax({

            url:'<?php echo $this->escape($this->url(array(),'dailyBookingAmount')); ?>',
            type: 'POST',
            data: {sd: sd, ed:ed },
            dataType: "json",
            success: function(result){
                console.log(result.date + ' ' + result.amount);
                var obj1=result.date;
                var obj2=result.amount;
                var obj3=result.bookingCount;
                var obj4=result.bookingId;

                $('#BookDate').empty();
                $('#BookAmount').empty();
                $('#BookCount').empty();

                $('#BookDate').append('<tr class="gray-bg"><th style="text-align: center;">Date</th></tr>');
                $('#BookAmount').append('<tr class="gray-bg"><th style="text-align: center;">Booking Amount</th></tr>');
                $('#BookCount').append('<tr class="gray-bg"><th style="text-align: center;">Booking Count</th></tr>');

                jQuery.each( obj1, function( i, val ) {
                    if(obj1 != '' ){
                    $('#BookDate').append('<tr class="white-bg"><td>'+val+'</td></tr>');
                    }
                });

                jQuery.each( obj2, function( i, val ) {
                    if(obj2 != '' ){
                    $('#BookAmount').append('<tr class="white-bg"><td>'+val+'</td></tr>');
                    }
                });

                jQuery.each( obj3, function( i, val ) {
                     if(obj3 != '' ){
                             if(val != '0' ){
                                 $('#BookCount').append('<tr class="white-bg"><td><a id="bookings" href="http://cm.tilecleaners.com.au/booking?booking_ids='+obj4[i]+'"> '+val+'</a></td></tr>');
                             }else{
                                 $('#BookCount').append('<tr class="white-bg"><td> '+val+'</td></tr>');
                             }
                     }
                });
            }
        });
    });

    // 21/05/2015 D.A
    Date.prototype.yyyymmdd = function() {

        var yyyy = this.getFullYear().toString();
        var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
        var dd  = this.getDate().toString();

        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]);
    };

    $(document).ready(function(){

        today = new Date();
        var sd=today.yyyymmdd();;
        var ed=today.yyyymmdd();;

        jQuery.ajax({
            url:'<?php echo $this->escape($this->url(array(),'dailyBookingAmount')); ?>',
            type: 'POST',
            data: {sd: sd, ed:ed },
            dataType: "json",
            success: function(result){
                console.log(result);
                var obj1=result.date;
                var obj2=result.amount;
                var obj3=result.bookingCount;
                var obj4=result.bookingId;

                $('#BookDate').append('<tr class="gray-bg"><th style="text-align: center;">Date</th></tr>');
                $('#BookAmount').append('<tr class="gray-bg"><th style="text-align: center;">Booking Amount</th></tr>');
                $('#BookCount').append('<tr class="gray-bg"><th style="text-align: center;">Booking Count</th></tr>');

                jQuery.each( obj1, function( i, val ) {
                    if(obj1 != '' ){
                        $('#BookDate').append('<tr class="white-bg"><td>'+val+'</td></tr>');
                    }
                });

                jQuery.each( obj2, function( i, val ) {
                    if(obj2 != '' ){
                        $('#BookAmount').append('<tr class="white-bg"><td>'+val+'</td></tr>');
                    }
                });

                jQuery.each( obj3, function( i, val ) {
                    if(obj3 != '' ){
                        if(val != '0' ){
                        $('#BookCount').append('<tr class="white-bg"><td><a id="bookings" href="http://cm.tilecleaners.com.au/booking?booking_ids='+obj4[i]+'"> '+val+'</a></td></tr>');
                        }else{
                        $('#BookCount').append('<tr class="white-bg"><td> '+val+'</td></tr>');
                        }
                    }
                });

            }
        });

    });


</script>