<?php
ViewHelper::setUrlJavaScript('https://www.google.com/jsapi');
//echo $this->googleMapAPI->getHeaderJS();
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>

<div class="ibox float-e-margins no-margin-b">
    <div class="ibox-content">
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th class="text-center"><b>Open Invoices</b></th>
                    <th class="text-center"><b>Overdue Invoices</b></th>
                </tr>
            </thead>
            <tbody>
                <tr><td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="text-center" > 
                                        <span>
                                            $ <?php echo $this->escape(number_format($this->invoicesTotalAmount, 2)); ?>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="5" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <table  cellspacing="0" cellpadding="5" class="table table-bordered" >
                                          <thead>
											   <tr>
                                                    <th> 
                                                       1 - 15 Days
                                                    </th>
                                                    <th> 
                                                      16 - 30 Days
                                                    </th>
                                                    <th> 
                                                        31 - 45 Days 
                                                    </th>
                                                    <th>
                                                        Above 45 Days 
                                                    </th>
                                                </tr>
										  </thead>
										  

										  <tbody>
                                             
                                                <tr>
                                                    <td> 
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->due15, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->due30, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td> 
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->due45, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td> 
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->dueAbove, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

</div>



<div class="ibox float-e-margins no-margin-b">

    <div class="ibox-content">
        <b>Future Bookings</b>
        <table class="table table-bordered responsive-table" id="future_dash_table">
            <thead class="text-center">
                <tr>
                    <th></th>
                    <?php foreach ($this->futureBookingStatus as $bookingStatus): ?>
                        <th> 
                           
                            <span>
                                <div class="header_td" style="<?php echo 'background-color:' . $this->escape($colors[$bookingStatus['color']]) . ';' ?>" ><?php echo $this->escape($bookingStatus['name']); ?></div>
                            </span> 
                        </th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody id="table_res">
				<tr>
						<td> Today </td>
					<?php foreach ($this->todayAllBookingStatus as $todayBookingStatus): ?>
						<td class="bottomBorder">
							<span style="color: red;"> (<?php echo $this->escape($todayBookingStatus['count']); ?>)</span> 
							$ <?php echo $this->escape(number_format($todayBookingStatus['total_qoute'], 2)) ?>
						</td> 
					<?php endforeach; ?>
				</tr>
				
                <tr class="first_td" >
                    <td > Tomorrow </td>
                    <?php foreach ($this->tomorowAllBookingStatus as $tomorowBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($tomorowBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($tomorowBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td >This Week</td>
                    <?php foreach ($this->weekAllBookingStatus as $weekBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($weekBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($weekBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td >This Month </td>
                    <?php foreach ($this->monthAllBookingStatus as $monthBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($monthBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($monthBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td >This Quarter </td>
                    <?php foreach ($this->quarterAllBookingStatus as $quarterBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($quarterBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($quarterBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td > Next Week</td>
                    <?php foreach ($this->nextWeekAllBookingStatus as $nextWeekBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($nextWeekBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($nextWeekBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td> Next Month</td>
                    <?php foreach ($this->nextMonthAllBookingStatus as $nextMonthBookingStatus): ?>
                        <td>
                            <span style="color:red;" > (<?php echo $this->escape($nextMonthBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($nextMonthBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td> Next Quarter</td>
                    <?php foreach ($this->nextQuarterAllBookingStatus as $nextQuarterBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($nextQuarterBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($nextQuarterBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
                <tr>
                    <td >All Future Booking</td>
                    <?php foreach ($this->allFutureBookingStatus as $futureBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($futureBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($futureBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
				
            </tbody>
        </table>


    </div>

</div>

<script>
/*$(document).ready(function(){
	var data = {};
	var i = 0;
	$(".header_td").each(function() {
			data[i] = $(this).html();
			i++
	});
	$.each( data, function( key, value ) {
		$("#table_res td:first-of-type").before(value);
			
	});
	
});*/
</script>
