<?php
ViewHelper::setUrlJavaScript('https://www.google.com/jsapi');
//echo $this->googleMapAPI->getHeaderJS();
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>
    <div class="ibox float-e-margins no-margin-b">
	   <div class="ibox-header">
	    <h2 class="page-header">
        Inquiries
        </h2>
	   </div>
        <div class="ibox-content">
            <table class="table table-bordered responsive-table" id="inquiry_dash_header_table">
                <thead>
                    <tr>
                        <th></th>
                        <?php foreach ($this->inquiryTypes as $inquiryType): ?>
                            <th>
                                Inquiries By <?php echo $this->escape(ucwords($inquiryType['inquiry_name'])); ?>
                            </th>
                        <?php endforeach; ?>
                        <th>
                            All Inquires
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Last Year				  
                        </td>
                        <?php foreach ($this->lastYearInquiryTypes as $lastYearInquiryType): ?>
                            <td>
                                <?php echo $this->escape($lastYearInquiryType['count']); ?>
                            </td>
                        <?php endforeach; ?>
                        <td>
                            <?php echo $this->escape($this->allLastYearInquiries); ?>
                        </td> 												
                    </tr>

                    <tr>
                        <td> Last Quarter </td>
                        <?php foreach ($this->lastQuarterInquiryTypes as $lastQuarterInquiryType): ?>
                            <td>
                                <?php echo $this->escape($lastQuarterInquiryType['count']); ?>
                            </td>
                        <?php endforeach; ?>
                        <td>
                            <?php echo $this->escape($this->allLastQuarterInquiries); ?>
                        </td> 
                    </tr>
                    <tr>
                        <td> Last Month </td>
                        <?php foreach ($this->lastMonthInquiryTypes as $lastMonthInquiryType): ?>
                            <td  >
                                <?php echo $this->escape($lastMonthInquiryType['count']); ?>
                            </td>
                        <?php endforeach; ?>
                        <td >
                            <?php echo $this->escape($this->allLastMonthInquiries); ?>
                        </td>
                    </tr>
                    <tr>
                        <td> Last Week </td>
                        <?php foreach ($this->lastWeekInquiryTypes as $lastWeekInquiryType): ?>
                            <td  >
                                <?php echo $this->escape($lastWeekInquiryType['count']); ?>
                            </td>
                        <?php endforeach; ?>
                        <td  >
                            <?php echo $this->escape($this->allLastWeekInquiries); ?>
                        </td>
                    </tr>		
                    <tr>
                        <td> Today </td>
                        <?php foreach ($this->todayInquiryTypes as $todayInquiryType): ?>
                            <td>
                                <?php echo $this->escape($todayInquiryType['count']); ?>
                            </td>
                        <?php endforeach; ?>
                        <td>
                            <?php echo $this->escape($this->allTodayInquiries); ?>
                        </td>
                    </tr>	

                    <tr>
                        <td> This Week </td>
                        <?php foreach ($this->thisWeekInquiryTypes as $thisWeekInquiryType): ?>
                            <td>
                                <?php echo $this->escape($thisWeekInquiryType['count']); ?>
                            </td>
                        <?php endforeach; ?>
                        <td>
                            <?php echo $this->escape($this->allThisWeekInquiries); ?>
                        </td>
                    </tr>	
                    <tr>
                        <td> This Month </td>
                        <?php foreach ($this->thisMonthInquiryTypes as $thisMonthInquiryType): ?>
                            <td>
                                <?php echo $this->escape($thisMonthInquiryType['count']); ?>
                            </td>
                        <?php endforeach; ?>
                        <td>
                            <?php echo $this->escape($this->allThisMonthInquiries); ?>
                        </td>
                    </tr>	
                    <tr>
                        <td> This Quarter </td>
                        <?php foreach ($this->thisQuarterInquiryTypes as $thisQuarterInquiryType): ?>
                            <td>
                                <?php echo $this->escape($thisQuarterInquiryType['count']); ?>
                            </td>
                        <?php endforeach; ?>
                        <td>
                            <?php echo $this->escape($this->allThisQuarterInquiries); ?>
                        </td>
                    </tr>
                    <tr>
                        <td> This Year </td>
                        <?php foreach ($this->thisYearInquiryTypes as $thisYearInquiryType): ?>
                            <td>
                                <?php echo $this->escape($thisYearInquiryType['count']); ?>
                            </td>
                        <?php endforeach; ?>
                        <td>
                            <?php echo $this->escape($this->allThisYearInquiries); ?>
                        </td>
                    </tr>											
                </tbody>
            </table>
        </div>
    </div>
    <div class="ibox float-e-margins no-margin-b">
        <div class="ibox-content">
		 <div class="row">
		   <div class="col-md-6 col-xs-12">
		    <div style="margin-bottom:10px;">
                    <span style="font-weight: bold; color: #2666B0;">Total Bookings :</span>
                    <span><?php echo $this->escape($this->totalBooking) ?></span>
                </div>

                <?php foreach ($this->allBookingStatus as $bookingStatus) : ?>
                    <div style="margin-bottom:10px;">
                        <span style="font-weight: bold; color: #2666B0;">Total <?php echo $this->escape($bookingStatus['name']) ?> Bookings :</span>
                        <span><?php echo $this->escape($bookingStatus['total']) ?></span>
                    </div>
                <?php endforeach; ?>
		   </div>
		   <div class="col-md-6 col-xs-12 col-offset-1">
		    <div id="chart_div"></div>
		   </div>
		 </div>
        </div>
    </div>

    <div class="ibox float-e-margins no-margin-b">
        <div class="ibox-content">
            <div class="row">
                <div style="margin-bottom:10px;">
                    <span style="font-weight: bold; color: #2666B0;">Total Service :</span>
                    <span><?php echo $this->escape($this->totalService) ?></span>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div>
                            <span style="font-weight: bold; color: #2666B0;margin-bottom:10px;">Total Service Accepted :</span>
                            <span><?php echo $this->escape($this->totalServiceAccepted) ?></span>
                        </div>

                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
					 <div class="progress" style="margin-bottom:10px;">
                       <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<?php echo $this->escape($this->totalServiceAcceptedPer . '%') ?>;">
                         <span ><?php echo $this->escape($this->totalServiceAcceptedPer) ?>%</span>
                       </div>
                    </div>
				
                    </div>
                   
                </div>
				
				<div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div>
                                <span style="font-weight: bold; color: #2666B0;">Total Service Rejected :</span>
                                <span><?php echo $this->escape($this->totalServiceRejected) ?></span>
                            </div>

                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12">
						<div class="progress" style="margin-bottom:10px;">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<?php echo $this->escape($this->totalServiceRejectedPer . '%') ?>;">
                         <span ><?php echo $this->escape($this->totalServiceRejectedPer) ?>%</span>
                        </div>
                        </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div>
                                <span style="font-weight: bold; color: #2666B0;">Total Service Not Accepted Nor Rejected :</span>
                                <span><?php echo $this->escape($this->totalServiceNotAcceptedAndRejected) ?></span>
                            </div>

                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12">
						<div class="progress" style="margin-bottom:10px;">
                       <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<?php echo $this->escape($this->totalServiceNotAcceptedAndRejectedPer . '%') ?>;">
                         <span ><?php echo $this->escape($this->totalServiceNotAcceptedAndRejectedPer) ?>%</span>
                       </div>
                        </div>
                        </div>
                       
                    </div>
				

            </div> 
        </div>
    </div>





<script type="text/javascript">
    function AcceptServices(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=200&width=400');
        });
    }
        
    //span jscontent="distance['text']"
    function getDistance(){
        alert($('#map_directions span[jsdisplay="distance"]').html());
    }
        
    $(document).ready(function(){
        $(function() {
            $( "#accordion" ).accordion({
                autoHeight: false,
                navigation: true
            });
        });
    });

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Status of bookings');
        data.addColumn('number', 'No. od booking');
        data.addRows([
<?php foreach ($this->allBookingStatus as $bookingStatus) : ?>
                ['<?php echo $this->escape($bookingStatus['name']) ?>',<?php echo $this->escape($bookingStatus['total']) ?>],
<?php endforeach; ?>
        ]);

        
		
		if($(window).width() < 450){
		  var options = {
            width: $(window).width() - 50, height: 300,
            title: 'My Booking Status'
        };
		}else{
		  var options = {
            width: 450, height: 300,
            title: 'My Booking Status'
        };
		}


        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
	
    function test(item){
            
        $(item).addClass('selected');
    }
</script>