<?php
$modelContractorInfo = new Model_ContractorInfo();
$modelAuthRole = new Model_AuthRole();
$modelUser = new Model_User();
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>

<div class="ibox float-e-margins no-margin-b">

    <div class="ibox-content">
        <form action="" method="GET" class="form-horizontal">
		 <div class="form-group" id="date11">
		 <label class="col-lg-3">Start Date</label>
                      <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
            					    <input MaxLength="10" readonly class="date text_input ends_before_starts sdatepicker form-control" id="stpartdate" name="stpartdate"  type="text" value="<?php echo!empty($this->from) ? $this->from : ''; ?>" />  
		                   </div>
					 </div>
					 <div class="form-group" id="date11">
		 <label class="col-lg-3">End Date</label>
                      <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
            					    <input MaxLength="10" readonly class="date text_input ends_before_starts sdatepicker form-control" id="stpartdate" name="stpartdate"  type="text" value="<?php echo!empty($this->from) ? $this->from : ''; ?>" />  
		                   </div>
					 </div>
          

            <?php if (CheckAuth::checkCredential(array('loggedUsersActivity')) && $this->myDashboard) : ?>
                <div class="form-group">
                    <label class="col-md-3">User</label>
                    <div class="col-md-9">
                    <?php
                    $modelUser = new Model_User();
                    $users = $modelUser->getAllEmployee(true);
                    $user = new Zend_Form_Element_Select('user_id');
                    $user->setDecorators(array('ViewHelper'));
                    $user->setBelongsTo('fltr');
                    $user->setAttrib("class", "form-control");
                    $user->setValue((!empty($this->user_id) ? $this->user_id : ''));
                    $user->addMultiOption('', 'Select One');
                    $user->addMultiOptions($users);
                    echo $user->render();
                    ?>
                    </div>
                </div>
            <?php  endif; ?>
            <input type="submit" class="btn btn-primary" value="Search" id="button" name="button">
        </form>
    </div>

</div>


<div class="ibox float-e-margins no-margin-b">

    <div class="ibox-content">
        <?php if ($this->logUserEvents): 
		if($_SERVER['REMOTE_ADDR'] == '176.106.46.142'){
		//	var_dump($this->logUserEvents);
		}
		
		?>
            <table class="table table-bordered responsive-table" id="user_activity">
                <thead class="text-center">
                    <tr>
                        <td><b>History</b></td>
                        <td><b>Event On</b></td> 
                        <td><b>Date</b></td> 
                    </tr>
                </thead>

                <tbody class="text-center">
                    <?php
					//var_dump($this->logUserEvents);
						//exit;
					foreach ($this->logUserEvents as $logUserEvent):
						
					?>
                        <?php $user = $modelUser->getById($logUserEvent['user_id']) ?>
                        <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                            <?php $username = ucwords($user['username'] . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                        <?php else: ?>
                            <?php $username = ucwords($user['username']); ?>
                        <?php endif; ?>
                        <tr>
                            <td>
									<?php if($logUserEvent['event'] == 'login'){ 
										$history = '';
                                        $history .= '<b>';
                                        $history .= $this->escape($username);
                                        $history .= '</b>';
                                        $history .= ' has logged in from ';
										$history .= '<b>';
                                        $history .= $logUserEvent['user_device_type'];
                                        $history .= '</b>';
										$history .= ', his device IP is  ';
										$history .= '<b>';
                                        $history .= $logUserEvent['user_device_ip'];
                                        $history .= '</b>';
                                       
									   echo $history;
                                        
									 } else{?>
                                    <a href="<?php echo $this->escape($logUserEvent['action']); ?>" <?php echo isset($logUserEvent['onclick']) && $logUserEvent['onclick'] ? 'onclick="' . $this->escape($logUserEvent['onclick']) . '"' : '' ?> class="a_black">
									
                                        <?php
									
										
										
                                        $history = '';
                                        $history .= '<b>';
                                        $history .= $this->escape(ucwords(str_replace('_', ' ', $logUserEvent['event_name'])));
                                        $history .= '</b>';
                                        $history .= ' has Been ';
                                        $history .= '<b>';
                                        $history .= $this->escape(ucwords($logUserEvent['event']));
                                        $history .= '</b>';
                                        $history .= ' By ';
                                        $history .= '<u>';
                                        $history .= '<i>';
                                        $history .= $this->escape($username);
                                        $history .= '</i>';
                                        $history .= '</u>';

                                        echo $history;
                                        ?>
                                    </a>
									<?php } ?>
                                </td>
                            <td>
                                <?php echo isset($logUserEvent['event_on']) ? $this->escape($logUserEvent['event_on']) : ''; ?>
                            </td>
                            <td>
                                <?php echo $this->escape(getDateFormating($logUserEvent['created'])); ?>
                                
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php else: ?>
            <div  class="noRowsMessageDIV">There is no History.</div>
        <?php endif; ?>
    </div>
	 
	 <div>
                <?php if (count($this->pageLinks) > 3): ?>
                    <ul class="pagination">
                        <?php foreach ($this->pageLinks as $pageLink) : ?>
                            <li><?php echo $pageLink; ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
     </div>
	
	
</div>


 
<script type="text/javascript">
    $(document).ready(function() {
	$('#date11 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'yyyy-mm-dd'
            });	
    });
</script>