<?php
ViewHelper::setUrlJavaScript('https://www.google.com/jsapi');
//echo $this->googleMapAPI->getHeaderJS();
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>

<div class="ibox float-e-margins no-margin-b">

    <div class="ibox-content">

        <table class="table table-bordered responsive-table" id="future_dash_header_table">
            <thead>
                <tr>
                    <th class="text-center"><b>Open Invoices</b></th>
                    <th class="text-center"> <b>Overdue Invoices</b></th>
                </tr>
            </thead>
            <tbody>
                <tr><td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="text-center" > 
                                        <span>
                                            $ <?php echo $this->escape(number_format($this->invoicesTotalAmount, 2)); ?>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="5" border="0" class="dashBoardBorder">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" height="82" cellspacing="0" cellpadding="5" border="0">
                                            <tbody>
                                                <tr>
                                                    <td class="col-lg-3 text-center  " > 
                                                        <span >1 - 15 Days</span> 
                                                    </td>
                                                    <td class="col-lg-3 text-center" > 
                                                        <span >16 - 30 Days</span>
                                                    </td>
                                                    <td class="col-lg-3 text-center" > 
                                                        <span>31 - 45 Days</span> 
                                                    </td>
                                                    <td class="col-lg-3 text-center" >
                                                        <span class="fontBlue f11">Above 45 Days</span> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-lg-3 text-center" > 
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->due15, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td  class="col-lg-3 text-center" >
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->due30, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-lg-3 text-center" > 
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->due45, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-lg-3 text-center" > 
                                                        <div >
                                                            <div >
                                                                <span >
                                                                    $ <?php echo $this->escape(number_format($this->dueAbove, 2)); ?>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

</div>



<div class="ibox float-e-margins no-margin-b">

    <div class="ibox-content">
        <b>Past Bookings </b>
        <table class="table table-bordered responsive-table" id="past_dash_table">
            <thead class="text-center">
                <tr>
                    <td></td>
                    <?php foreach ($this->pastBookingStatus as $bookingStatus): ?>
                        <td > 
                            <div></div>
                            <span >
                                <div style="<?php echo 'background-color:' . $this->escape($colors[$bookingStatus['color']]) . ';' ?>" ><?php echo $this->escape($bookingStatus['name']); ?></div>
                            </span> 
                        </td>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr >
                    <td > Last week </td>
                    <?php foreach ($this->lastWeekAllPastBookingStatus as $lastWeekAllPastBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($lastWeekAllPastBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($lastWeekAllPastBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <td >Last Month</td>
                    <?php foreach ($this->lastMonthAllPastBookingStatus as $lastMonthAllPastBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($lastMonthAllPastBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($lastMonthAllPastBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <td >Last Quarter </td>
                    <?php foreach ($this->lastQuarterAllPastBookingStatus as $lastQuarterAllPastBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($lastQuarterAllPastBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($lastQuarterAllPastBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <td >Last Year </td>
                    <?php foreach ($this->lastYearAllPastBookingStatus as $lastYearAllPastBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($lastYearAllPastBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($lastYearAllPastBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <td > Today</td>
                    <?php foreach ($this->todayAllPastBookingStatus as $todayAllPastBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($todayAllPastBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($todayAllPastBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
		<tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">This Week</td>
                                                <?php foreach ($this->thisWeekAllPastBookingStatus as $thisWeekAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($thisWeekAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($thisWeekAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                                            </tr>
                                            <tr>
                                                <td width="16%" align="right" style="height:30px; padding-right:12px; border-right: 1px solid #ECECEC;" class="bottomBorder">This Month</td>
                                                <?php foreach ($this->thisMonthAllPastBookingStatus as $thisMonthAllPastBookingStatus): ?>
                                                    <td align="right" class="bottomBorder">
                                                        <span style="color: red;"> (<?php echo $this->escape($thisMonthAllPastBookingStatus['count']); ?>)</span> 
                                                        $ <?php echo $this->escape(number_format($thisMonthAllPastBookingStatus['total_qoute'], 2)) ?>
                                                    </td> 
                                                <?php endforeach; ?>
                 </tr>
                <tr>
                    <td > This Quarter</td>
                 <?php foreach ($this->thisQuarterAllPastBookingStatus as $thisQuarterAllPastBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($thisQuarterAllPastBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($thisQuarterAllPastBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
                <tr>
                    <td > This Year</td>
                    <?php foreach ($this->thisYearAllPastBookingStatus as $thisYearAllPastBookingStatus): ?>
                        <td >
                            <span style="color:red;" > (<?php echo $this->escape($thisYearAllPastBookingStatus['count']); ?>)</span> 
                            $ <?php echo $this->escape(number_format($thisYearAllPastBookingStatus['total_qoute'], 2)) ?>
                        </td> 
                    <?php endforeach; ?>
                </tr>
                
            </tbody>
        </table>


    </div>

</div>

<script type="text/javascript">
    function AcceptServices(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=200&width=400');
        });
    }
        
    //span jscontent="distance['text']"
    function getDistance(){
        alert($('#map_directions span[jsdisplay="distance"]').html());
    }
        
    $(document).ready(function(){
        $(function() {
            $( "#accordion" ).accordion({
                autoHeight: false,
                navigation: true
            });
        });
    });

    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Status of bookings');
        data.addColumn('number', 'No. od booking');
        data.addRows([
<?php foreach ($this->allBookingStatus as $bookingStatus) : ?>
                ['<?php echo $this->escape($bookingStatus['name']) ?>',<?php echo $this->escape($bookingStatus['total']) ?>],
<?php endforeach; ?>
        ]);

        var options = {
            width: 450, height: 300,
            title: 'My Booking Status'
        };


        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
	
    function test(item){
            
        $(item).addClass('selected');
    }
</script>