<?php
$modelContractorInfo = new Model_ContractorInfo();
$modelAuthRole = new Model_AuthRole();
$modelUser = new Model_User();
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>
<div class="ibox float-e-margins no-margin-b">
<div class="ibox-content">
<?php if ($this->bookingLogs): ?>
  <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Booking#</th>
                    <th>History</th>
                    <th>Date</th>
					<th>OS</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($this->bookingLogs as $bookingLog): ?>
                            <?php $user = $modelUser->getById($bookingLog['log_user_id']) ?>
                            <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                <?php $username = ucwords($user['username'] . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                            <?php else: ?>
                                <?php $username = ucwords($user['username']); ?>
                            <?php endif; ?>
				<tr>
                                <td>
                                    <a class="a_link_black" href="<?php echo $this->escape($this->url(array('id' => $bookingLog['booking_id']), 'bookingHistory')) ?>"><?php echo $this->escape($bookingLog['booking_num']); ?></a>
                                </td>
                                <td>
                                    <a class="a_link_black" href="<?php echo $this->escape($this->url(array('id' => $bookingLog['booking_id']), 'bookingHistory')) ?>"> <?php echo $this->escape('This Booking ( ' . $bookingLog['booking_num'] . ' ) has been modified by ' . (!empty($user['username']) ? $username : 'Server')) ?> </a>
                                </td>
                                <td>
                                    <?php echo $this->escape(getDateFormating($bookingLog['log_created'])); ?>
                                </td>
								<td>
								 <?php echo $this->escape($bookingLog['os']); ?>
								</td>
                            </tr>
				<?php endforeach; ?>
                </tbody>
            </table>
</table >

<?php else: ?>
    <div style="" class="noRowsMessageDIV">There is no History.</div>
<?php endif; ?>

</div>

</div>