<?php
$modelBookingStatus = new Model_BookingStatus();
$modelCustomer = new Model_Customer();
$modelUser = new Model_User();
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>
<div class="ibox float-e-margins no-margin-b">

<div class="ibox-content">
   <?php if ($this->recent) { ?>
  <table class="table table-bordered table-striped responsive-table" id="booking-status-table">
            <thead>
                <tr>
                            <th>Date</th>
                            <th>Booking#</th>
                            <th style="width:40%">Details</th>     
                            <?php if (CheckAuth::checkCredential(array('canSeeCustomerList'))) : ?>
                            <th>Customer Name </th>
                            <?php endif ?>
                            <th>Amount</th>
                </tr>
                </thead>
                <tbody>
				<?php foreach ($this->recent as $row): ?>
               <tr>
                                <td>
                                    <div class="details_info_l"><?php echo $this->escape(getDateFormating($row['max_created'])); ?></div>
                                    <div class="details_info_l">
                                        <?php $user = $modelUser->getById($row['created_by']); ?>
                                        <span class="time_start_color">By : </span><?php echo $this->escape($user['username']); ?>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('bookingView'))) : ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                                <?php endif; ?>
                                            </div>

                                            <?php if (isset($row['estimate']) && !empty($row['estimate'])): ?>
                                                <div>
                                                    <?php if (CheckAuth::checkCredential(array('estimateView'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['estimate']['id']), 'estimateView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['estimate']['estimate_num']) ?></b></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><b><?php echo $this->escape($row['estimate']['estimate_num']) ?></b></span>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>

                                            <?php if (isset($row['invoice']) && !empty($row['invoice'])): ?>
                                                <div>
                                                    <?php if (CheckAuth::checkCredential(array('invoiceView'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['invoice']['id']), 'invoiceView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['invoice']['invoice_num']) ?></b></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><b><?php echo $this->escape($row['invoice']['invoice_num']) ?></b></span>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['convert_status']) {
                                                case 'booking':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'estimate':
                                                    $color = '#4F8BC3';
                                                    break;

                                                case 'invoice':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>;">
                                                <?php echo $this->escape($row['convert_status']); ?>
                                            </div>
                                        </div>
                                    </div>

                                </td>    
                                <td>
                                    <div class="details_info_l">
                                      <!--  <div>
                                            <a href="<?php //echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_black"><?php //echo $this->escape($row['title']) ?></a>    
                                        </div> -->
                                        <div class="booking_time_cont">
                                            <div>
                                                <span class="time_start_color">Start Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_start']))) ?> 
                                                <span class="time_end">End Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_end']))) ?>
                                            </div>
                                            <?php if ($row['convert_status'] == 'invoice'): ?>
                                                <div>
                                                    <span class="time_start_color"> Job Start Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['job_start_time']))) ?> 
                                                    <span class="time_end"> Job End Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['job_finish_time']))) ?>
                                                </div>
                                            <?php endif; ?>
                                            <div>
                                                <span class="time_start_color">Status : </span><span><?php
                                    $bookingStatus = $modelBookingStatus->getById($row['status_id']);
                                    echo $this->escape($bookingStatus['name']);
                                            ?></span>
                                            </div>
                                        </div>
                                        <?php $modelBookingAddress = new Model_BookingAddress(); ?>
                                        <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                        <div  id="address_list">
                                            <span class="time_start_color" >Address :</span>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                <?php echo $this->escape($lineAddress); ?>
                                            </a>
                                        </div> 
                                        <?php if (!empty($row['status_discussion'])): ?>
                                            <div  id="address_list">
                                                <span class="time_start_color" >Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> :</span>
                                                <a  href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['status_discussion']['discussion_id'], 'status_id' => $row['status_id']), 'showStatusDiscussion')); ?>','300','500','Status Discussion');">   
                                                    <?php echo $this->escape(substr($row['status_discussion']['user_message'], 0, 150)); ?>
                                                    <?php echo $this->escape((strlen($row['status_discussion']['user_message']) > 150 ? '...' : '')); ?>
                                                </a>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </td>
                                <?php if (CheckAuth::checkCredential(array('canSeeCustomerList'))) { ?>
									<td>
										<div>
										
											<div class="customer_db_margin_left">
												<?php if (CheckAuth::checkCredential(array('customerView'))): ?>
													<a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>">
														<?php $customer = $modelCustomer->getById($row['customer_id']); ?>
														<?php echo $this->escape(get_customer_name($customer)); ?>
													</a>    
												<?php else: ?>
													<span class="span_black">
														<?php $customer = $modelCustomer->getById($row['customer_id']); ?>
														<?php echo $this->escape(get_customer_name($customer)); ?>
													</span>    
												<?php endif; ?>
											</div>
										</div>
									</td>
                                <?php } ?>

                                <td class="details_info_r">
                                    <div class="details_info_l">
                                        $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                </tbody>
            </table>
			<div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
			<?php } else { ?>
                    <div style="" class="noRowsMessageDIV">There are no Bookings.</div>
                <?php } ?>
</div>

</div>





