<?php
$modelUser = new Model_User();
$modelAuthRole = new Model_AuthRole();
$modelContractorInfo = new Model_ContractorInfo();
$modelBookingEstimate = new Model_BookingEstimate();
$modelBookingInvoice = new Model_BookingInvoice();
$modelInquiry = new Model_Inquiry();
$modelComplaint = new Model_Complaint();
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>
<div class="ibox no-margin-b">
<div class="ibox-content">
 <?php if ($this->bookingEmails): ?>
  <table class="table table-bordered  responsive-table" id="recent_emails">
            <thead>
                <tr>
					<th></th>
					<th>Date</th>
					<th>Event On</th>
					<th>Subject</th>
					<th>Sender</th>
					<th>Cron job</th>
					<th>To</th>
                    <th></th>    
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->bookingEmails as $email): ?>
                            <tr>
                                <td> 
                                    <?php if (!empty($email['attachment_path'])): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $email['email_log_id']), 'downloadEmailPdfFile')); ?>"><img border="0" src="/pic/icons/export-as-pdf.png"></a>
                                    <?php endif; ?>
                                </td>
                                <td>
                                    <?php echo $this->escape(getDateFormating($email['created'])) ?>
                                </td>
                                <td>
                                    <div>
                                        <?php if (!empty($email['reference_id'])): ?>
                                            <?php if ($email['type'] == 'booking'): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'bookingView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($email['booking']['booking_num']); ?> </a>    
                                            <?php elseif ($email['type'] == 'estimate'): ?>
                                                <?php $estimate = $modelBookingEstimate->getById($email['reference_id']); ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'estimateView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($estimate['estimate_num']); ?> </a>    
                                            <?php elseif ($email['type'] == 'invoice'): ?>
                                                <?php $invoice = $modelBookingInvoice->getById($email['reference_id']); ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'invoiceView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($invoice['invoice_num']); ?> </a>                                           
                                            <?php elseif ($email['type'] == 'complaint'): ?>
                                                <?php $complaint = $modelComplaint->getById($email['reference_id']); ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'complaintView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($complaint['complaint_num']); ?> </a>                                           
                                            <?php elseif ($email['type'] == 'inquiry'): ?>
                                                <?php $inquiry = $modelInquiry->getById($email['reference_id']); ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $email['reference_id']), 'inquiryView')); ?>"  style="font-weight: bold;" class="a_black"><?php echo $this->escape($inquiry['inquiry_num']); ?> </a>                                                                                  
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:;"  class="a_black" data-toggle="modal" data-target="#popupi" onclick="popupi('Email','<?php echo $this->escape($this->url(array('id' => $email['email_log_id']), 'emailDetails')); ?>');" >
                                        <?php echo $this->escape($email['subject'] ? $email['subject'] : '(No Subject)'); ?>
                                    </a>
                                </td>
                                <td>
                                    <?php $user = $modelUser->getById($email['user_id']) ?>
                                    <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                        <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                    <?php else: ?>
                                        <?php echo $this->escape(ucwords($user['username'])); ?>
                                    <?php endif; ?>
                                </td>
								<td style="word-wrap:break-word;">
								<?php echo $this->escape($email['cronjob_name'] ? $email['cronjob_name'] : ''); ?>
								</td>
                                <td>
                                    <?php echo $this->escape($email['to']); ?>
                                </td>
                                <td>
                                    <a href="javascript:;" class="a_link" data-toggle="modal" data-target="#popupi" onclick="popupi('Resend Email','<?php echo $this->escape($this->url(array('id' => $email['email_log_id']), 'replayRecentEmail')); ?>');" >Resend Email</a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                </tbody>
            </table>
			<div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no Emails.</div>
                <?php endif; ?>

</div>

</div>