<?php
$modelUser = new Model_User();
$modelAuthRole = new Model_AuthRole();
$modelContractorInfo = new Model_ContractorInfo();
$modelBookingEstimate = new Model_BookingEstimate();
$modelBookingInvoice = new Model_BookingInvoice();
$modelInquiry = new Model_Inquiry();
$modelComplaint = new Model_Complaint();
?>

<?php //echo $this->render('dashboard/right_side_link.phtml'); ?>
<div class="ibox no-margin-b">
    <div class="ibox-content">

        <table class="table table-bordered  responsive-table" id="recent_emails">
            <thead>
                <tr>
                    <th>Caller</th>
                    <th>Callee</th>
                    <th>Duration</th>
                    <th>Time</th>
                    <th>call record</th>
                </tr>
            </thead>
            <tbody id="recentCalls">
            <div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>	
            </tbody>
        </table>

    </div>

</div>

<script>
    var filters = <?php echo json_encode($this->filters); ?>;
    var page_number = 0;
    var loading = false;
    var sort = '<?php echo $this->orderBy; ?>';
    var method = '<?php echo $this->sortingMethod; ?>';
    var is_last_request = 0;

    function getData(filters, page_number, is_first_time) {
        if (typeof (is_first_time) === 'undefined')
            is_first_time = 0;
        if (is_first_time == 0 && !($('#loading_img').length > 0)) {
            $('.form').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {'fltr': filters, 'is_first_time': is_first_time, 'page_number': page_number, 'sort': sort, 'method': method},
            url: "<?php echo $this->url(array(), 'recentCalls'); ?>",
            success: function (result) {

                is_last_request = result.is_last_request;
                if (is_first_time == 1) {

                    $('#recentCalls').html(result.data);
                } else {
                    $("#recentCalls").append(result.data);
                }
                $('#loading_img').remove();
                loading = false;
            }
        });

    }

    // loading inquiry data
    $(document).ready(function () {
        getData(filters, page_number, 1);
        $(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {
                if (loading == false && is_last_request == 0) {
                    loading = true;
                    page_number++;
                    getData(filters, page_number);
                }
            }
        });
    });
</script>