<?php
$modelContractorInfo = new Model_ContractorInfo();
$modelAuthRole = new Model_AuthRole();
$modelUser = new Model_User();
$modelBooking = new Model_Booking();
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>
<div class="ibox float-e-margins no-margin-b">
<div class="ibox-content">
<?php if ($this->recentDiscussion): ?>
  <table class="table table-bordered responsive-table" id="recent_discussions">
                <thead>
					<tr>
                            <th>Date</b></th>
                            <th>Booking#</th>
                            <th>Message</th>
                            <th>User</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($this->recentDiscussion as $recentDiscussion): ?>
                            <?php $user = $modelUser->getById($recentDiscussion['user_id']) ?>
                            <?php $booking = $modelBooking->getById($recentDiscussion['booking_id']); ?>
                            <tr>
                                <td>
                                    <?php echo $this->escape(getDateFormating($recentDiscussion['created'])) ?>
                                </td>
                                <td>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $recentDiscussion['booking_id']), 'bookingView')); ?>" class="a_black"> <?php echo $this->escape($booking['booking_num']) ?> </a>    
                                </td>
                                <td>
                                    <div>
                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $recentDiscussion['booking_id'],'process'=>'send','type'=>'booking'), 'itemDiscussion')); ?>','470','700','Booking Discussion');" class="a_black"> 
                                            <?php
                                            $str = nl2br($this->escape($recentDiscussion['user_message']));
                                            echo substr($str, 0, 100);
                                            if (str_word_count($str) >= 100)
                                                echo '...';
                                            ?>
                                        </a>    
                                    </div>

                                </td>
                                <td>
                                    <?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                        <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>

                                    <?php else: ?>
                                        <?php echo $this->escape(ucwords($user['username'])); ?>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                </tbody>
            </table>
			
			<?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no Discussions.</div>
            <?php endif; ?>
</div>
</div>