<?php
$modelUser = new Model_User();
?>

<?php echo $this->render('dashboard/right_side_link.phtml'); ?>
<div class="ibox float-e-margins no-margin-b">
<div class="ibox-content">
  <?php if ($this->recentComplaints): ?>
  <table class="table table-bordered responsive-table" id="recent_complaints">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Booking#</th>
                    <th>Complaint</th>
                    <th>User</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach ($this->recentComplaints as $complaint): ?>
                            <?php $user = $modelUser->getById($complaint['user_id']) ?>
                            <tr>
                                <td>
                                    <?php echo $this->escape(getDateFormating($complaint['created'])) ?>
                                </td>
                                <td>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $complaint['booking_id']), 'bookingView')); ?>" class="a_black"><?php echo $this->escape($complaint['booking']['booking_num']); ?> </a>    

                                </td>
                                <td>
                                    <?php if (CheckAuth::checkCredential(array('complaintView'))): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $complaint['complaint_id']), 'complaintView')); ?>" class="a_black"><?php
                            echo $this->escape(substr($complaint['comment'], 0, 50));
                            echo $this->escape((strlen($complaint['comment']) > 50 ? '...' : ''));
                                        ?></a> 
                                    <?php else: ?>
                                        <span class="a_black"><?php
                            echo $this->escape(substr($complaint['comment'], 0, 50));
                            echo $this->escape((strlen($complaint['comment']) > 50 ? '...' : ''));
                                        ?></span> 
                                    <?php endif; ?>
                                </td>
                                <td style="text-align: center;">
                                    <?php echo $this->escape($user['username']); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                </tbody>
            </table>
			<?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no Complaints.</div>
            <?php endif; ?>
</div>
</div>