<form id="accept_form" method="POST" onsubmit="do_submit('<?php echo $this->escape($this->url(array('bookingId' => $this->bookingId), 'rejectAdminServices')); ?>','#accept_form','#content_modal_popup'); return false;">
    <div>
        <div>
            <label for="checkboxallServices">
                <?php if($this->rejectBookingQuestions): ?>
                <input type="checkbox" id="checkboxallServices" name="ques_option" />
                <?php else: ?>
                <input type="checkbox" id="checkboxallServices" name="ques_option" onclick="showRejectQuestion('divContent')" />
                <?php endif; ?>
                <b>reject All</b>
            </label>
        </div>
        <?php if ($this->acceptedBookings): ?>
            <?php foreach ($this->acceptedBookings as $acceptedBooking): ?>
                <div>
                    <label for="<?php echo 'checkbox_' . $this->escape($acceptedBooking['id']); ?>">
                        <?php if($this->rejectBookingQuestions): ?>
                        <input type="checkbox" id="<?php echo 'checkbox_' . $this->escape($acceptedBooking['id']); ?>" name="rejected[]" value="<?php echo $this->escape($acceptedBooking['id']); ?>"/>
                        <?php else: ?>
                            <input type="checkbox" onclick="showQuestion('divContent')" id="<?php echo 'checkbox_' . $this->escape($acceptedBooking['id']); ?>" name="rejected[]" value="<?php echo $this->escape($acceptedBooking['id']); ?>"/>
                        <?php endif; ?>
                        <?php echo $this->escape($acceptedBooking['service']['service_name'] . ($acceptedBooking['clone'] ? ' ' . $acceptedBooking['clone'] : '')); ?>
                    </label>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
    <?php if($this->rejectBookingQuestions): ?>
    <div id="divContent" style='display:inline'>
    <?php else: ?>
        <div id="divContent" style='display:none'>
    <?php endif; ?>
    <?php if ($this->data): ?>
        <?php foreach ($this->data as $row) : ?>
            <div class="details_info_l" >
            <label class="col-md-12" style="margin-top: 20px;"><?php echo $this->escape($row['question_text']) ?></label>
            <input type="hidden" id="question[<?php echo $this->escape($row['id']) ?>]" name="question[<?php echo $this->escape($row['id']) ?>]" value="<?php echo $this->escape($row['id']) ?>">
            <?php if ($this->escape($row['question_type']) == "multiple"): ?>
                <?php $modelRejectBookingQuestionOptions = new Model_RejectBookingQuestionOptions();
                $options = $modelRejectBookingQuestionOptions->getByQuestionId($row['id']);
                if ($options): ?>
                    <?php foreach ($options as $option) : ?>
                        <div class="col-md-12">
                           <?php $modelRejectBookingQuestionAnswers = new Model_RejectBookingQuestionAnswers();
                            $rejectBookingQuestionAnswer = $modelRejectBookingQuestionAnswers->getByBookingIdandQuestionIdandAnswer($this->bookingId,$this->escape($row['id']),$this->escape($option['id']));
                           ?>
                            <label for="<?php echo 'checkbox_' . $this->escape($option['id']); ?>">
                                <input type="checkbox" <?php if($rejectBookingQuestionAnswer){?> checked="checked" <?php } ?> id="<?php echo $this->escape($option['option']) ?>" name="option[]" value="<?php echo $this->escape($row['id']) ?>_<?php echo $this->escape($option['id']); ?>"/>
                                <?php echo $this->escape($option['option']) ?>
                            </label>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
                </div>
            <?php else: ?>
                <br/>
                <div class="form-group">
                    <div class="col-md-12">
                        <?php
                        $modelRejectBookingQuestionAnswers = new Model_RejectBookingQuestionAnswers();
                        $rejectBookingQuestionAnswers = $modelRejectBookingQuestionAnswers->getByBookingIdandQuestionId($this->bookingId,$this->escape($row['id']));

                        ?>
                        <textarea required="required" rows="4" class="form-control" cols="30" name="answer[<?php echo $this->escape($row['id']) ?>]" id="answer" ><?php echo $this->escape($rejectBookingQuestionAnswers['answer']) ? $this->escape($rejectBookingQuestionAnswers['answer']) : '' ?></textarea>
                    </div>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    <?php endif; ?>


    <div style="margin-top: 10px;">
        <label class="col-md-12" style="margin-top: 20px;">Comment :</label>
        <div class="col-md-12">
            <textarea rows="4" class="form-control" cols="30" name="comment" id="comment" ><?php echo $this->escape($rejectBookingQuestionAnswers['comment']) ? $this->escape($rejectBookingQuestionAnswers['comment']) : '' ?></textarea>
        </div>
    </div>

    </div>


    <div style="margin-top: 10px;">
        <div style="float: left;" id="button_cont">
            <input type="submit" onclick="checkComment()"  class="btn btn-primary" value="Reject"/>
        </div>
        <div style="float: left; color: red; margin-left: 10px; margin-top: 2px;">
            <?php echo $this->escape($this->errorMsg); ?>
        </div>
        <div style="clear: both;"></div>
    </div>
</form>
<script type="text/javascript">
    //checked all checkboxs
    $(document).ready(function(){
        $("#checkboxallServices").click(function(){
            var checked_status = this.checked;
            $(":checkbox[name='rejected[]']").each(function(){
                this.checked = checked_status;
            });
        });
    });

    function showQuestion(reject_questions) {
        var rejectedChecked = $('input[name="rejected[]"]:checked').length > 0;
        var reject_questions_div = document.getElementById(reject_questions);
        if(rejectedChecked ){
            reject_questions_div.style.display = "block";
        }else{
            reject_questions_div.style.display = "none";
        }
    }

    function showRejectQuestion(reject_questions){
        var checkboxallServicesChecked = $('#checkboxallServices').is(':checked');
        var reject_questions_div = document.getElementById(reject_questions);
        if(checkboxallServicesChecked){
            reject_questions_div.style.display = "block";
        }else{
            reject_questions_div.style.display = "none";
        }
    }

    function checkComment() {
        $("input:checkbox").each(function(){
            var $this = $(this);
            if($this.is(":checked")){
               if($.trim($(this).attr("id")) == $.trim("Other")){
                   $('#comment').prop('required',true);
               }
            }
        });
    }

</script>