
<div class="white-bg booking-view-button-header">
    <nav>
        <div class="col-md-8">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle " aria-expanded="false">Booking&nbsp<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'recentHistory')); ?>">Recent Bookings History</a>

                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'cronjobHistory')); ?>">Cronjob History</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array('convert_status' => 'booking'), 'recentByConvertStatus')); ?>">Recent Bookings</a>
                    </li>
                    <?php
                    $modelBookingStatus = new Model_BookingStatus();
                    $bookingStatuss = $modelBookingStatus->getAll(array('withoutQouted' => true))
                    ?>
                    <?php foreach ($bookingStatuss as $bookingStatus): ?>
                        <li>
                            <a href="<?php echo $this->escape($this->url(array('status_id' => $bookingStatus['booking_status_id']), 'recentByBookingStatus')); ?>">Recent <?php echo $this->escape($bookingStatus['name']) ?></a>
                        </li>
                    <?php endforeach; ?>

                </ul>
            </div>
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-success dropdown-toggle " aria-expanded="false">Recent&nbsp<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="<?php echo $this->escape($this->url(array('convert_status' => 'estimate'), 'recentByConvertStatus')); ?>">Recent Estimates</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array('convert_status' => 'invoice'), 'recentByConvertStatus')); ?>">Recent Invoices</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'recentDiscussions')); ?>">Recent Discussions</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'recentComplaints')); ?>">Recent Complaints</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->escape($this->url(array(), 'recentEmails')); ?>">Recent Emails</a>
                    </li>

                </ul>
            </div>

            <div class="btn-group">
                <button  class="btn btn-default" aria-expanded="false"> <a href="<?php echo $this->escape($this->url(array(), 'logUserActivity')); ?>">User Activity</a></button>
            </div>
        </div>
        <div class="col-md-4">
            <?php $dashboardStatus = CheckAuth::getDashboardStatusDropdown(); ?>
            <?php echo $dashboardStatus; ?>
        </div>
        <div style="clear: both;"></div>
    </nav>
</div>

