

    <div>
       
        <div class="col-md-4">
          Why <?php echo $this->escape(ucwords(strtolower($this->bookingStatus['name']))); ?> :
        </div>
        <div class="col-md-8 table-bordered">
            <?php echo nl2br($this->escape($this->statusDiscussion['user_message'])); ?>
        </div> 
		<div style="clear:both;"></div>
    </div>
	

