<div class="menu_postion">
    <div class="sub_cont">
        <?php $url = isset($_SERVER['REQUEST_URI']) ? $_SERVER['REQUEST_URI'] : ''; ?>
        <?php if (!strpos($url, 'request_owners')): ?>
            <div class="sub_button first_sub_button <?php if ($this->sub_menu == 'booking') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'booking')); ?>">
                    All Bookings
                </a>
            </div>
            <div class="sub_button <?php if ($this->sub_menu == 'my_bookings') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?my_bookings=true">
                    My Bookings
                </a>
            </div>
            <div class="sub_button <?php if ($this->sub_menu == 'deleted_booking') { ?>sub_button_selected<?php } ?>">
                <?php if (CheckAuth::checkCredential(array('canSeeDeletedBooking'))): ?>
                    <a href="<?php echo $this->escape($this->url(array('is_deleted' => 'deleted'), 'isDeletedBooking')); ?>">
                        Deleted Bookings
                    </a>
                <?php endif; ?>
            </div>
            <div class="sub_button <?php if ($this->sub_menu == 'feedback_booking') { ?>sub_button_selected<?php } ?>">
                <?php if (CheckAuth::checkCredential(array('feedbackList'))): ?>
                    <a href="<?php echo $this->escape($this->url(array(), 'feedbackList')); ?>">
                        Bookings Feedback
                    </a>
                <?php endif; ?>
            </div>
        <?php endif; ?>
    </div>
</div>