<div class="col-lg-12 wrapper-content">
        <div class="right_side_cont ibox-content">
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New Chemical','<?php echo $this->escape($this->url(array(), 'declarationOfChemicalsAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Chemical
                        </div>
                    </a>
                </div>

            <div >
                <div class="button_actions">
                    <h5> Search Chemicals </h5>
                </div>
                <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'declarationOfChemicalsList')); ?>" method="GET" class="form-inline" role="form">
                             <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />                             <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span a_margin-responsive">or</span>
                             <a href="<?php echo $this->escape($this->url(array(), 'declarationOfChemicalsList')); ?>"  class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                                      
                    </form>
                    
            </div>
        </div>
</div>

<div class="col-lg-12 wrapper-content ibox float-e-margins">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title ">
                        <h5> Modify Chemicals</h5>
                        
                    </div>
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'declarationOfChemicalsDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Chemical?');">
                    
                    <div class="ibox-content">
                        <div class="">
                           
                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="city_table" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <th>Chemicals Details</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td>
                                            <div>
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> 
                                         <div class="details_info_l">
                                            <div>
                                                <span class="details_info_name"><?php echo $this->escape($row['chemicals']) ?></span> 
                                            </div>
                                            <div class="booking_time_cont">
                                                <span style="color: #A1A1A1;">Contractor:</span> <?php echo $this->escape($row['username']) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'declarationOfChemicalsDelete')); ?>" onclick="return confirm('are you sure you want to delete this Contractor Owner?');" class="details_info_opt">Delete</a>
                                        </div>
										</td>
                                        
                                        
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div class="ibox-content" class="noRowsMessageDIV">There are no Chemical.</div>
        <?php endif; ?>

    
    
</div>
<div style="clear:both"></div>