<div class="row">
 <div class="col-md-4">
  <?php echo $this->left; ?>
 </div>
 <div class="col-md-4">
  <?php echo $this->center; ?>
 </div>
 
  <div class="col-md-4">
  <?php echo $this->right; ?>
 </div>
 
</div>
            
            