
<div class="setting-box">
    <div class="setting-header">
        <b><?php echo $this->section_title; ?></b>
    </div>
    <div class="setting-body">
        <ul class="setting-list">
            <?php foreach ($this->section_actions as $action_title => $action) : ?>
                <?php if ($action['visible']) : ?>

                    <li>
                        <a <?php if (isset($action['data-toggle'])) echo 'data-toggle=' . $action['data-toggle']; ?> <?php if (isset($action['data-target'])) echo 'data-target=' . $action['data-target']; ?> href="<?php echo $action['url']; ?>" <?php echo (empty($action['onclick']) ? '' : 'onclick="' . $action['onclick'] . '"'); ?> class="a_list" ><?php echo $action_title; ?>
                            <span class="float-r">
                                <i class="icon-link"></i>
                            </span>
                        </a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>












