<div style="border: 1px solid #EFEFEF; background-color: #F7F7F7; width: 100%; font-size: 11px;">
    <div style="padding: 10px;">
        <div style="float: left; width: 70%; margin-top: 10px;">
            <div>
                <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">To</div>
                <div style="float: left; width: 80%;"><input type="text" name="to" value="<?php echo $this->escape($this->emailLog['to']); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                <div style="clear: both;"></div>
            </div>

            <div style="margin-top: 10px;">
                <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">Subject</div>
                <div style="float: left; width: 80%;"><input type="text" name="subject" value="<?php echo $this->escape($this->emailLog['subject']); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div style="clear: both;"></div>

        <div style="margin-top: 10px;">
            <div style="border: 1px solid #ACD2E7; padding: 10px; overflow:auto;">
                <?php echo $this->emailLog['body']; ?>
            </div> 
        </div>
    </div>
</div>
