<form class="form-horizontal"  id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>"  enctype="multipart/form-data" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_upload('<?php echo $this->escape($this->form->getName()); ?>', '#content_modal_popup');">


    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>

    <div class="form-group">
        <label class="col-md-3">Tag Name :</label>
        <div class="col-md-9"><?php echo $this->form->getElement('name')->render(); ?></div>
    </div>
    
    <div class="form-group">
        <label class="col-md-3">Tag Question :</label>
        <div class="col-md-9"><?php echo $this->form->getElement('question')->render(); ?></div>
    </div>
    
    <div class="form-group">
            <label class="col-md-3">Tag Image :</label>
            <div class="col-md-9">

                <?php
                if (isset($this->image) && !empty($this->image)) {
                    ?>
                    <div id="preivew-box-remove">
                        <div style="width:150px;height: 150px;border:1px solid black;" id="box-preview">

                            <img width="150" height="150" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $this->image)); ?>"/>
                        </div>
                        <a href="javascript:void(0)" id="remove_img" onclick="remove(); return false;" style="width:150px;text-decoration: none;" ><i class="fa fa-times"></i> Remove</a>
                    </div>
    <?php
}
?>
                
                <input style="visibility:<?php if (isset($this->image) && !empty($this->image)) {
                    echo 'hidden';
                } else {
                    echo 'visible';
                } ?>" type="file" name="file" id="file_uploader" <?php if (!isset($this->image) || empty($this->image)) {
                    echo 'required';
                }  ?>   />
                
            </div>
        </div>


        <div class="col-md-offset-3" id="button_cont">
            <?php echo $this->form->getElement('button')->render(); ?>
        </div>
</form>

<script type="text/javascript">
    $('#box-preview').on('click', function () {
        $('#file_uploader').click();
    });
    
    function remove(){
        if (confirm('Are you sure you want to remove image ?')){
        $.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(), 'removerateTagImage')); ?>',
            data: {id: '<?= $this->id ?>'},
            success: function (msg) {
                $('#preivew-box-remove').hide();
                $('#file_uploader').css('visibility', 'visible');
                $('#file_uploader').attr('required', true);
                alert(msg);
            }
        });
        }
    }


    </script>