<div style="margin-top:10px;">
    <?php $companyObj = new Model_Companies(); ?>
    <div class="right_side_cont ibox-content">
        <?php if (CheckAuth::checkCredential(array('settingsCitiesAdd'))): ?>
            <div class="btn_cont">
                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Rating Tag', '<?php echo $this->escape($this->url(array(), 'rateTagAdd')); ?>');" class="btn btn-white">
                    <div class="text_pos">
                        New Tag
                    </div>

                </a>
            </div>
        <?php endif; ?>
    </div>		
</div>
<div style="margin-top:10px;" class="no-margin-b">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div class="ibox-title">
        <h5>All Rating Tags</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>

        </div>
    </div>
    <div class="ibox-content">		
        <?php if ($this->data): ?>





            <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="bank_table" >
                <thead>
                    <tr>

                        <td><b>Tag Name</b></td>
                    </tr>
                </thead>
                <tbody>

                    <?php foreach ($this->data as $row) : ?>
                        <tr class="gradeX">
                            <td> <div class="details_info_l">
                                    <span class="details_info_name"><?php echo $this->escape($row['tag_name']) ?></span>

                                </div>

                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Rating Tag', '<?php echo $this->escape($this->url(array('id' => $row['rating_tag_id']), 'rateTagEdit')); ?>');" class="details_info_opt">Edit</a>
                                <span class="details_breaks">|</span>



                                <a href="<?php echo $this->escape($this->url(array('id' => $row['rating_tag_id']), 'rateTagDelete')); ?>" onclick="return confirm('are you sure you want to delete this Tag?');" class="details_info_opt">Delete</a>

                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>


            </table>





            <div>
                <?php if (count($this->pageLinks) > 3): ?>
                    <ul class="pagination">
                        <?php foreach ($this->pageLinks as $pageLink) : ?>
                            <li><?php echo $pageLink; ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>


        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no Tags.</div>
        <?php endif; ?>
    </div>

</div>
<div style="clear:both"></div>
