

<?php  //echo BreadCrumbs::breadCrumb(); ?>
<!--            <div class="head">
                <div class="list_title">
                    Settings
                </div>
                <div class="clearb"></div>
            </div>-->



<div class="col-lg-12 wrapper-content">
    <?php
    
    include dirname(__FILE__) . '/settings_blocks.phtml';

    function print_settings_table($left = '',$center='', $right = '', $counter = 0) {
                $view = new Zend_View();
                $view->setScriptPath(APPLICATION_PATH . '/modules/settings/views/scripts/settings');
                $view->left = $left;
                $view->right = $right;
                $view->center = $center;
                
                return $view->render('settings_table.phtml', true);
                
            }
			
			  $list = array();
              $counter = 0;
			  foreach ($settings_blocks as $settings_block_title => $settings_block) {
                $counter++;
                if ($settings_block['visible']) {
                    $view = new Zend_View();
                    $view->setScriptPath(APPLICATION_PATH . '/modules/settings/views/scripts/settings');
                    $view->section_title = $settings_block_title;
                    $view->section_actions = $settings_block['menu'];
                    $list[] = $view->render('settings_sections.phtml', true);
                }
				if (count($list) == 3) {
                    echo print_settings_table($list[0], $list[1], $list[2], $counter);
                    $list = array();
                }
				
            }
			
			if (count($list) == 2) {
                    echo print_settings_table($list[0], $list[1],'', $counter);
                    $list = array();
                }
			
			if (count($list)) {
                echo print_settings_table($list[0], '', $counter);
            }
            
    ?>

</div>