<div class="col-md-5 wrapper-content">

            <?php
            include dirname(__FILE__) . '/settings_blocks.phtml';

            $settings_block_title = 'Location Settings';
            $settings_block = $settings_blocks[$settings_block_title];
            if ($settings_block['visible']) {
                $view = new Zend_View();
                $view->setScriptPath(APPLICATION_PATH . '/modules/settings/views/scripts/settings');
                $view->section_title = $settings_block_title;
                $view->section_actions = $settings_block['menu'];

                echo $view->render('settings_sections.phtml');
            }
            ?>

        </td>
       </div>