
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b><?php echo $this->section_title; ?></b>
        </div>
        <div class="panel-body">
            <ul>
            <?php foreach ($this->section_actions as $action_title => $action) : ?>
                <?php if ($action['visible']) : ?>
				
                <li> <span> &#8250;&#8250;</span> <a <?php if (isset($action['data-toggle'])) echo 'data-toggle='.$action['data-toggle']; ?> <?php if (isset($action['data-target'])) echo 'data-target='.$action['data-target']; ?> href="<?php echo $action['url']; ?>" <?php echo (empty($action['onclick']) ? '' : 'onclick="' . $action['onclick'] . '"'); ?> class="a_list" ><?php echo $action_title; ?></a></li>
                <?php endif; ?>
            <?php endforeach; ?>
            </ul>
        </div>
    </div>











