
<?php
$account = new Model_Account();
?>


<!--<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>All Subscription</h5>

            </div>
            <div class="ibox-content">
                <div class="">
                    <a onclick="fnClickAddRow();" href="javascript:void(0);" class="btn btn-primary ">Add a new row</a>
                </div>
                <div class="dataTables_wrapper form-inline dt-bootstrap" id="editable_wrapper">

                    <div class="row">
                        <div class="col-sm-12">
                            <table aria-describedby="editable_info" role="grid" class="table table-bordered responsive-table" id="editable">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 20px;" colspan="1" rowspan="1"  tabindex="0" >#</th>
                                        <th style="width: 132px;" colspan="1" rowspan="1"  tabindex="0" >Subscription</th>
                                        <th style="width: 196px;" colspan="1" rowspan="1"  tabindex="0" >Details</th>
                                        <th style="width: 104px;" colspan="1" rowspan="1"  tabindex="0" >Customer</th>
                                        <th style="width: 104px;" colspan="1" rowspan="1"  tabindex="0" >Company</th>
                                        <th style="width: 104px;" colspan="1" rowspan="1"  tabindex="0" >Action</th>
                                    </tr>
                                </thead>
                                <tbody>
<?php
$counter = 0;
foreach ($this->data as $row) {
    $counter += 1;

    $user = $account->getUserById($row['created_by']);
    $company = $account->getCompanyById($row['company_id']);
    $plan = $account->getPlanById($row['plan_id']);
    ?>

                                                                                                                            <tr  class="<?php
    if ($counter % 2 != 0) {
        echo $this->escape('gradeA odd');
    } else {
        echo $this->escape('gradeA even');
    }
    ?>">


                                                                                                                                <td class="sorting_1 center"> <input id="delete-check" name="ids[]" value="23592" type="checkbox"></td>
                                                                                                                                <td>
                                                                                                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'subscriptionView')); ?>" class="details_info_name"><b>SUBSCRIPTION_<?php echo $this->escape($row['id']) ?></b></a><br>
    <?php if ($row['account_status']) { ?>                                               
                                                                                                                                                                                                                            <a class="btn btn-primary btn-rounded" style="height: 25px; line-height: 10px; font-size: 12px; cursor: default; margin-top: 5px;">active</a>
    <?php } else { ?>
                                                                                                                                                                                                                            <a class="btn btn-danger btn-rounded" style="height: 25px; line-height: 10px; font-size: 12px; cursor: default; margin-top: 5px;">Unactive</a>
    <?php } ?>
                                                                                                                                </td>
                                                                                                                                <td> 
                                                                                                                                    <a href="#" class="details_info_name"><b><?php echo $this->escape($plan['name']) ?></b></a><br>         
    <?php if ($row['created']) { ?><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Created on: <?php echo $this->escape(getDateFormating($row['created'])) ?><br><?php } ?>
    <?php if ($row['trial_end_date']) { ?><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Trial end date: <?php echo $this->escape(getDateFormating($row['trial_end_date'])) ?><br><?php } ?>
    <?php if ($row['renew_automatic_mode']) { ?><i class="fa fa-star" ></i> Renew mode: <?php echo $this->escape($row['renew_automatic_mode']) ?><br><?php } ?>                                               
                                                                                                                                </td>
                                                                                                                                <td class="center">
    <?php if ($user['first_name'] || $user['last_name']) { ?><i class="fa fa-user"></i> <?php echo $user['first_name']; ?> <?php echo $user['last_name']; ?><br><?php } ?>
    <?php if ($user['phone1']) { ?><i class="fa fa-phone-square"></i> <?php echo $user['phone1']; ?> <br> <?php } ?>                                              
    <?php if ($user['mobile1']) { ?><i class="fa fa-mobile-phone"></i> <?php echo $user['mobile1']; ?> <br><?php } ?> 
    <?php if ($user['email1']) { ?><i class="fa fa-envelope-o"></i> <?php echo $user['email1']; ?> <br>  <?php } ?> 
    <?php if ($user['po_box']) { ?><i class="fa fa-inbox"></i> <b>PO Box</b> <?php echo $user['po_box']; ?> <br> <?php } ?> 
                                                                                                                                   
                                                                                                                                </td>
                                                                                                                                <td class="center">  
                                                                                                                                    <a href="#" class="details_info_name"><b><?php echo $this->escape($company['company_name']) ?></b></a><br>      
                                                                                                                                </td>
                                                                                                                                <td align="right"> 

                                                                                                                                    <div class="dropdown" >
                                                                                                                                        <a class="btn btn-white btn-bitbucket dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                                                                            <span class="fa fa-cog"></span>   <span class="caret"></span>
                                                                                                                                        </a>

                                                                                                                                        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                                                                                                                            <li><a href="#">Change Subscription</a></li>
                                                                                                                                            <li><a href="#">Change Customer Details</a></li>
                                                                                                                                            <li><a href="#">Request Payment Method</a></li>
                                                                                                                                            <li role="separator" class="divider"></li>
                                                                                                                                            <li><a href="#">Cancel Subscription</a></li>
                                                                                                                                        </ul>
                                                                                                                                    </div>


                                                                                                                                </td>

                                                                                                                            </tr>
<?php } ?>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="row"><div class="col-sm-5"><div aria-live="polite" role="status" id="editable_info" class="dataTables_info">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-7"><div id="editable_paginate" class="dataTables_paginate paging_simple_numbers"><ul class="pagination"><li id="editable_previous" class="paginate_button previous disabled"><a tabindex="0" data-dt-idx="0" aria-controls="editable" href="#">Previous</a></li><li class="paginate_button active"><a tabindex="0" data-dt-idx="1" aria-controls="editable" href="#">1</a></li><li class="paginate_button "><a tabindex="0" data-dt-idx="2" aria-controls="editable" href="#">2</a></li><li class="paginate_button "><a tabindex="0" data-dt-idx="3" aria-controls="editable" href="#">3</a></li><li class="paginate_button "><a tabindex="0" data-dt-idx="4" aria-controls="editable" href="#">4</a></li><li class="paginate_button "><a tabindex="0" data-dt-idx="5" aria-controls="editable" href="#">5</a></li><li class="paginate_button "><a tabindex="0" data-dt-idx="6" aria-controls="editable" href="#">6</a></li><li id="editable_next" class="paginate_button next"><a tabindex="0" data-dt-idx="7" aria-controls="editable" href="#">Next</a></li></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>-->



<?php
//should read in eway form
//echo $this->totalAmount;  
//echo $this->nbrUser;
//echo date('d/m/Y', $this->from);
//echo date('d/m/Y', $this->to);
//should read in eway form
?>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>All Subscription</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Subscription</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <?php if ($this->data) { ?>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Manage subscription</h5>
                        <div class="ibox-tools">
                            <!--                        <a href="#" class="btn btn-primary btn-xs">Create new subscription</a>-->
                        </div>
                    </div>
                    <div class="ibox-content">


                        <div class="project-list">

                            <table class="table table-hover table-responsive">
                                <tbody>
                                    <?php
                                    foreach ($this->data as $row) {
                                        $user = $account->getUserById($row['created_by']);
                                        $company = $account->getCompanyById($row['company_id']);
                                        $plan = $account->getPlanById($row['plan_id']);
                                        $score = $account->calculateProfileCompleteness($row['id']);
                                        ?>
                                        <tr>
                                            <td class="project-status " id="status-<?php echo $row['id']; ?>">
                                                <?php if (strcasecmp($row['account_status'], 'non-subscriber') == 0) { ?>   
                                                    <span class="label label-default">non-subscriber</span>
                                                <?php } elseif (strcasecmp($row['account_status'], 'subscriber-trial') == 0) { ?>
                                                    <span class="label label-primary">Subscriber Trial</span>
                                                <?php } elseif (strcasecmp($row['account_status'], 'subscriber-paid') == 0) { ?>
                                                    <span class="label label-info">Subscriber Paid</span>
                                                <?php } elseif (strcasecmp($row['account_status'], 'canceled') == 0) { ?>
                                                    <span class="label label-danger">Canceled</span>
                                                <?php } elseif (strcasecmp($row['account_status'], 'suspended') == 0) { ?>
                                                    <span class="label label-warning">Suspended</span>                                                                             
                                                <?php } elseif (strcasecmp($row['account_status'], 'overdue') == 0) { ?>
                                                    <span class="label label-success">Overdue</span>                                                        
                                                <?php } ?>
                                            </td>
                                            <td class="project-completion ">

                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'subscriptionView')); ?>"><b>SUB_<?php echo $this->escape($row['id']) + 1000 ?></b></a>
                                                <br>

                                                <?php if ($row['created']) { ?>  <small>Created on: <?php echo $this->escape(getDateFormating($row['created'])) ?></small><?php } ?><br>
                                                <?php if ($row['trial_end_date']) { ?><small> <?php //echo $this->escape(getDateFormating($row['trial_end_date'])) ?></small><?php } ?>

                                            </td>
                                            <td class="project-title ">
                                                <b><?php echo $this->escape($company['company_name']) ?></b>
                                            </td>
                                            <td class="project-title ">
                                                <b><?php echo $this->escape($plan['name']) ?></b>
                                            </td>
                                            <?php
                                            $accountModel = new Model_Account();
                                            $res = $accountModel->checkAccountIfhaveRequestBefor($row['id']);
                                            if ($res) {
                                                ?>
                                                <td class="project-title ">
                                                    <span class="label label-danger">requested Phone</span>
                                                </td>
                                            <?php } else { ?>
                                                <td class="project-title ">
                                                </td>      
        <?php } ?>
                                            <td class="project-completion ">
                                                <small>Completion with: <?php echo $score; ?>%</small>
                                                <div class="progress progress-mini">
                                                    <div style="width: <?php echo $score; ?>%;" class="progress-bar"></div>
                                                </div>
                                            </td>
                                            <td class="project-people ">
        <!--                                            <a href=""><img alt="image" class="img-circle"  src="http://temp.tilecleaners.com.au/pic/contractor_pic1.png"></a>
                                                <button aria-describedby="popover112298" title="" data-original-title="" type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                                    Popover on bottom
                                                </button>-->
                                                <a tabindex="0" data-html='true' role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Subscriber info" data-content="


                                                   <div  class='contacts'>
                                                   <?php if ($this->escape(get_line_address($user))) { ?>
                                                       <i class='fa fa-map-marker'></i> <?= $this->escape(get_line_address($user)); ?> <br>                  
                                                       <?php
                                                   }
                                                   if ($user['email1']) {
                                                       ?>

                                                       <i class='fa fa-envelope'></i> <?= $this->escape($user['email1']); ?> <br>
                                                       <?php
                                                   }

                                                   if ($user['mobile1']) {
                                                       ?>

                                                       <i class='fa fa-mobile-phone'></i> <?= $this->escape($user['mobile1']); ?> <br>
                                                       <?php
                                                   }

                                                   if ($user['phone1']) {
                                                       ?>

                                                       <i class='fa fa-mobile-phone'></i> <?= $this->escape($user['phone1']); ?> <br>
                                                       <?php
                                                   }
                                                   if ($user['fax']) {
                                                       ?>

                                                       <i class='fa fa-phone'></i> <?= $this->escape($user['fax']); ?> <br>
                                                       <?php
                                                   }
                                                   if ($user['emergency_phone']) {
                                                       ?>

                                                       <i class='fa fa-phone'></i> <?= $this->escape($user['emergency_phone']); ?> 
        <?php } ?>

                                                   </div>


                                                   ">
                                                    <img alt="image" class="img-circle"  src="http://temp.tilecleaners.com.au/pic/user.png">
                                                </a>
                                            </td>
                                            <td class="project-actions ">
        <!--                                            <a href="#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>-->
                                                <div class="dropdown" >
                                                    <a class="btn btn-white btn-bitbucket dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="fa fa-cog"></span>   <span class="caret"></span>
                                                    </a>

                                                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                                                        <?php if (isset($row['customer_token_id']) && $res == TRUE) { ?>
                                                            <li><a href="#" id="addTwilioNumber" onclick="makeTwilio(<?php echo $row['company_id']; ?>);">Purchase Twilio Number</a></li>
                                                        <?php } ?>
                                                     
                                                        <!-- <li><a href="#">Update billing info</a></li>-->

                                                        <li id="ope-<?php echo $row['id']; ?>">
                                                            <?php if (strcasecmp($row['account_status'], 'suspended') == 0) { ?>   
                                                                <div role="separator" class="divider"></div>
                                                                <a  data-toggle="modal" data-target="#popupi" onClick="popupi('unsuspend subscription', '<?php echo $this->escape($this->url(array('id' => $row['id'], 'is_suspended' => 'unsuspend'), 'SuspendSubscription')); ?>');">Unsuspend Subscription</a>                                                               
                                                            <?php } elseif (strcasecmp($row['account_status'], 'subscriber-trial') == 0 || strcasecmp($row['account_status'], 'subscriber-paid') == 0) { ?>
                                                                <div role="separator" class="divider"></div>
                                                                <a  data-toggle="modal" data-target="#popupi" onClick="popupi('suspend subscription', '<?php echo $this->escape($this->url(array('id' => $row['id'], 'is_suspended' => 'suspend'), 'SuspendSubscription')); ?>');">suspend Subscription</a> 
                                                            <?php } else {
                                                                ?>

        <?php } ?>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr> 
    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    <?php } else { ?>
                        <i class="fa fa-minus-circle" aria-hidden="true"></i> There are no data to display!
<?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>

<script>



    function  makeTwilio(comID) {

        var twilioAdd = 1;
        var confirmResult = confirm('Are you sure you want to add new twilio number for this compny?');
        if (confirmResult) {
            $.ajax({
                url: "<?php echo $this->escape($this->url(array(), 'account')); ?>",
                type: "POST",
                data: {twilioAdd: twilioAdd, companyID: comID},
                success: function (data) {
                    window.location.reload();
                    //alert(data);
                }
            });
        }
    }

</script>


















