<div class="container-fluid">

    <div id="messege"></div>
    <form id="form" class="form-horizontal" method="POST" onsubmit="suspendAction(<?php echo $this->account_id; ?>, '<?php echo $this->operation; ?>'); return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <?php if ($this->operation == 'suspend') { ?> 
            <p style="margin-left: 10px;">You are about to suspend this subscription</p>
        <?php } else { ?>
            <p style="margin-left: 10px;">You are about to unsuspend this subscription</p>
        <?php } ?>
        <p style="margin-left: 10px;">Do you want to proceed?</p>
        <div class="form-group">
            <div class="pull-right" id="button_cont">
                <button type="button"  class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="submit" style="width: 70px;" class="btn btn-danger" >Yes</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    function suspendAction(id, ope) {
     
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'account')); ?>",
            data: {id: id, is_suspended: ope},
            success: function (data) {
                var result = parseInt(data);

                if (result === 1) {
                    $('#messege').html('<div class="alert alert-success" role="alert">This subscription has been suspended</div></br>');
                    $('#status-' + id + '').html(' <span class="label label-warning">Suspended</span>');
                     $('#ope-' + id + '').html(' <div role="separator" class="divider"></div><a onClick="suspendAction(' + id + ', "unsuspend"); return false;">unsuspend Subscription</a> ');
                }
                if (result === 2) {
                    $('#messege').html('<div class="alert alert-success" role="alert">This subscription has been unsuspended</div></br>');
                    $('#status-' + id + '').html(' <span class="label label-primary">Subscriber Trial</span>');
                    $('#ope-' + id + '').html(' <div role="separator" class="divider"></div><a onClick="suspendAction(' + id + ', "suspend"); return false;">suspend Subscription</a> ');
                }
                if (result === 3) {
                    $('#messege').html('<div class="alert alert-success" role="alert">This subscription has been unsuspended</div></br>');
                    $('#status-' + id + '').html('<span class="label label-info">Subscriber Payed</span>');
                    $('#ope-' + id + '').html(' <div role="separator" class="divider"></div><a onClick="suspendAction(' + id + ', "suspend"); return false;">suspend Subscription</a> ');
                }
                if (result === 4) {
                    $('#messege').html('<div class="alert alert-success" role="alert">This subscription has been unsuspended</div></br>');
                    $('#status-' + id + '').html(' <span class="label label-warning">Suspended</span>');
                    $('#ope-' + id + '').html(' <div role="separator" class="divider"></div><a onClick="suspendAction(' + id + ', "suspend"); return false;">suspend Subscription</a> ');
                }
            }
        });
    }

</script>
