<div style="margin-top:10px;">
<?php $companyObj = new Model_Companies(); ?>
 <div class="right_side_cont ibox-content">
 <?php if (CheckAuth::checkCredential(array('settingsCitiesAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Bank','<?php echo $this->escape($this->url(array(), 'settingsBankAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Bank
                        </div>
					
                    </a>
                </div>
            <?php endif; ?>
			
			<div>
			 <h5>Search Bank</h5>
			 <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsBankList')); ?>" method="GET" class="form-inline" role="form">
                <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                <select name="fltr[company_id]"  class="form-control">
                                <option value="0">Select One</option>
								<?php foreach ($companyObj->getCompaniesAsArray() as $c) : ?>
                                    <option value="<?php echo $this->escape($c['id']); ?>" <?php echo $this->escape(!empty($this->filters['company_id']) && $this->filters['company_id'] == $c['id'] ? 'selected' : '' ); ?>><?php echo $this->escape($c['name']); ?></option>
                                <?php endforeach; ?>
                                
                </select>
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <button class="a_advance btn btn-white a_margin-responsive" type="reset" >Reset</button> 
                                      
            </form>
			</div>
	</div>		
</div>
<div style="margin-top:10px;" class="no-margin-b">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
        <div class="ibox-title">
                        <h5>All Banks Accounts</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
		<div class="ibox-content">		
        <?php if ($this->data): ?>

            <form action="<?php echo $this->escape($this->url(array(), 'settingsBankDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Bank?');">
                    
                    
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsBankDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="bank_table" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Company</b></td>
                                    <td><b>Bank Name</b></td>
                                    <td><b>BSB</b></td>
                                    <td><b>Account Name</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <?php $company = $companyObj->getById($row['company_id']); ?>
                                    <?php $count += 1; ?>
                                    <tr class="<?php
                                    if ($count % 2 != 0) {
                                        echo 'tr_cont_1';
                                    } else {
                                        echo 'tr_cont_2';
                                    }
                                    ?>">
                                    <tr class="gradeX">
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['bank_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l">
                                                <span class="details_info_name"><?php echo $this->escape($company['company_name']) ?></span>    
                                            </div>
                                            <div class="details_info_l">

                                                <?php if (CheckAuth::checkCredential(array('settingsBankEdit'))): ?>
                                                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['bank_id']), 'settingsBankEdit')); ?>');" class="details_info_opt">Edit</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>

                                                <?php if (CheckAuth::checkCredential(array('settingsBankDelete'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['bank_id']), 'settingsBankDelete')); ?>" onclick="return confirm('are you sure you want to delete this Bank?');" class="details_info_opt">Delete</a>
                                                <?php endif; ?>
                                            </div>
                                        </td>
                                        <td><div class="details_info_l" style="font-size: 14px;">
                                                <?php echo $this->escape($row['bank_name']) ?>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l" style="font-size: 14px;">
                                                <?php echo $this->escape($row['bsb']) ?>
                                            </div> </td>
                                        <td class="center"> <div class="details_info_l" style="font-size: 14px;">
                                                <?php echo $this->escape($row['account_name']) ?>
                                            </div></td>

                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    
                

                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>

            </form>

        <?php else: ?>
             <div style="text-align:center" class="noRowsMessageDIV">No bank account details added.</div>
        <?php endif; ?>
    </div>
    
</div>
<div style="clear:both"></div>
