  <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#TB_ajaxContent');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Attribute :</label>
            <div class="col-lg-9">
            <?php echo $this->form->getElement('attribute_id')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Default Value :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('default_value')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Is Readonly :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('is_readonly')->render(); ?>
             </div>
        </div>

       <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
        
    </form>
