<div class="col-lg-12 wrapper-content">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsCitiesAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Service Attribute','<?php echo $this->escape($this->url(array('service_id' => $this->service_id), 'settingsServiceAttributeAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Service Attribute
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            
        </div>
</div>
<div class="col-lg-12 wrapper-content ibox float-e-margins">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title">
                        <h5> All Service Attribute</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					
        <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array('service_id' => $this->service_id), 'settingsServiceAttributeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Service Attribute?');">
                    
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsServiceAttributeDelete'))): ?>

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <th>Attribute</th>
                                    <th>Default Value</th>
                                    <th>Is Readonly</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td>
                                            <div>
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['service_attribute_id']) ?>" class="checkbox_input_pos"/>

                                            </div>
                                        </td>
                                        <td> 
                                                
                                                    <span><?php echo $this->escape($row['attribute_name']) ?></span>    
                                                
                                                </br>
                                                    <span style="color: #A1A1A1;">Service Name:</span> <?php echo $this->escape($row['service_name']) ?>
                                                
                                            
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('settingsServiceAttributeDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('service_id' => $this->service_id, 'id' => $row['service_attribute_id']), 'settingsServiceAttributeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Service Attribute?');" class="details_info_opt">Delete</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsServiceAttributeEdit'))): ?>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('service_id' => $this->service_id, 'id' => $row['service_attribute_id']), 'settingsServiceAttributeEdit')); ?>');" class="details_info_opt">Edit</a>
                                            <?php endif; ?>
                                            </div></td>
                                        <td>
                                                <?php echo $this->escape($row['default_value']) ?>
                                            
                                        </td>
                                        <td> 
                                                <?php echo $this->escape($row['is_readonly'] ? 'Yes' : 'No') ?>
                                            </td>
                                        
                                        
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div class="ibox-content" class="noRowsMessageDIV">There are no Service Attribute.</div>
        <?php endif; ?>

    
    
</div>
<div style="clear:both"></div>



