<form id="form_edit_invoice_number" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="edit_invoice_number('<?php echo $this->escape($this->form->getAction()); ?>');return false;">
    <table>
        <tr>
            <td class="input_type" valign="top">Contractor Invoice Number:</td>
            <td><?php echo ($this->form->getElement('invoice_number')->render()); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top"> </td>
            <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
        </tr>
    </table>
</form>

<script type="text/javascript">
function edit_invoice_number(url){
       
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form_edit_invoice_number').serialize(),
            dataType : "json",
            success: function(data) {
				if(data.is_updated == 1){
					 $('#contractor_invoice_num_'+data.payment_to_contractor_id).text(data.new_invoice_number);
					 tb_remove();
				}
                else{
					 alert('not updated, please try again');
				}
				
            }
            
        });
    }
   </script> 