<script type="text/javascript">
            
    var selected_service = new Array();
<?php if ($this->selectedServices): ?>
    <?php foreach ($this->selectedServices as $selectedService): ?>
        <?php
        $selectedServiceArray = explode('_', $selectedService);
        $serviceId = isset($selectedServiceArray[0]) ? $selectedServiceArray[0] : '';
        $clone = isset($selectedServiceArray[1]) ? $selectedServiceArray[1] : '';
        $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');
        ?>
                    selected_service['<?php echo $this->escape($serviceAndClone); ?>']='<?php echo $this->escape($serviceAndClone); ?>';
    <?php endforeach; ?>
<?php endif; ?>

    //
    //fun to get all city in selected country
    //
    function getStateByCountryId(){
        if($('#country_id').val()){
            $('#state_block').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country_id').val()+"&onChange=getCitiesByCountryId",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#state_block').css('display','none');
            $('#city_block').css('display','none');
        }
    }
    
    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId(){
        if($('#state').val()){
            $('#city_block').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country_id').val()+"&state="+$('#state').val()+"&onChange=getServices&isOnChange=1",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }      
    

    //
    //fun to get all service Available in selected city
    //
    function getServices(){
    
        //selected_service = new Array();
        
        if($('#city_id').val()){
            $('#keywordsResult').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'servicesAvailable')); ?>",
                data: "city_id="+$('#city_id').val()+'&type=inquiry',
                success: function(msg) {
                    $('#keywordsResult').html(msg);
                }
            });
        }
    }

    //
    //in search box any key pressed will call this fun to get service like this key 
    //
    function searchServices(){
        $('#keywordsResult').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'searchServices')); ?>",
            data: "city_id="+$('#city_id').val()+"&"+$('#fmEdit').serialize(),
            success: function(msg) {
                $('#keywordsResult').html(msg);
            }
        });
    }
    
    //
    //fun call when any service checked 
    //
    function checkService(service_id,service_name){
            
        var clone = 0;
        var service = service_id;
        while (selected_service[service]) {
            clone++
            service = service_id + '_' + clone;
        }
        
        selected_service[service] = service;
        
        //
        //add servise in featured block
        //
        $('#selectedServices').append('<div style="margin-top: 4px;" id="service_checked_'+service+'">'+
            '<div>'+
            '<div style="float: left;" class="service_clone"><img src="/pic/icons/delete.png" border="0" style="vertical-align: middle;"/><a href="javascript:;" onclick="removeService(\''+service+'\')">Remove</a></div>'+
            '<div style="float: left; padding: 0px 5px;" class="service_clone"><img src="/pic/icons/clone.png" border="0" style="vertical-align: middle;"/><a href="javascript:;" onclick="checkService(\''+service_id+'\',\''+service_name+'\')">Clone</a></div>'+
            '<div style="float: left; padding: 0px 5px;"><b>'+$('#'+service_name).html()+'</b></div>'+
            '<div style="clear: both;"></div>'+
            '</div>'+
            '<div style="margin-top: 4px;">'+
            '<div style="float: right; padding: 0px 5px 5px 5px;" id="attribute_'+service+'"></div>'+
            '<div style="clear: both;"></div>'+
            '</div>'+
            '<input type="hidden" name="services[]" value="'+service+'"/>'+
            '</div>');
            
                        
        //
        //get all servise atribute by service_id
        //
        $('#attribute_'+service).html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'drowAttribute')); ?>",
            data: "service_id="+service_id+"&clone="+clone+"&without_pricing=1",
            success: function(msg) {
                $('#attribute_'+service).html(msg);
            }
        });
    }

    //
    //fun call when any service removed
    //
    function removeService(service){
        $('#service_checked_'+service).remove();
        selected_service[service]='';
    }


    //
    //select radio customer
    //
    function select_customer(customer_id,customer_name){
        if(customer_id){
            $('#customer_id').val(customer_id);
            $(".ui-autocomplete-input").val(customer_name);
            getInquiryAddress();
            showEditCustomer();
            tb_remove();
        }
    }

    //
    //function that will display the booking address
    //
    function getInquiryAddress(){
        if($('#customer_id').val()){
            $('#inquiry_address').css('display','block');
            $('#inquiry_address').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'InquiryAddressBlock')); ?>",
                data: "customer_id="+$('#customer_id').val()+"&type=inquiry",
                success: function(msg) {
                    $('#inquiry_address').html(msg);
                }
            });
        }else{
            $('#inquiry_address').css('display','none');
        }
    }
    
    $(document).ready(function() {
        $("#deferred_date").datetimepicker({
            ampm: true,
            timeFormat: 'hh:mm TT',
            dateFormat: 'yy-mm-dd'
        });
    });
    //to show the attribute div
    function getInquiryTypeAttributes(){
        var inquiry_type_id = $('#inquiry_type_id').val();
        
        if(inquiry_type_id){
            $('#inquiry_attributes').show(500);
            $('#inquiry_attributes').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'inquiryTypeAttributes')); ?>",
                data: "inquiry_type_id="+inquiry_type_id,
                success: function(msg) {
                    if(msg == '0'){
                        $('#inquiry_attributes').hide(500);
                    } else {
                        $('#inquiry_attributes').html(msg);
                    }
                }
            });
        }else{
            $('#inquiry_attributes').hide(500);
        }
    }
    
  

    // auto complete customer search
    $(function() {
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $("#edit_customer" ).css('display','none');
                $('#inquiry_address').css('display','none');
                
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
                //
                // get Booking Address
                //
                getAddress('#customer_id','#inquiry_address','<?php echo $this->escape($this->url(array(), 'InquiryAddressBlock')); ?>');
                showEditCustomer();
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });

    function check_is_to_follow(is_to_follow){
        if($(is_to_follow).is(':checked')){
            $('#deferred_date_cont').show();
        } else {
            $('#deferred_date_cont').hide();
        }
    }
        
        
</script>