<?php $modelServiceAttribute = new Model_ServiceAttribute(); ?>
<table class="table">

    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Edit Inquiry
                </div>
                <div class="clearb"></div>
            </div>
            <form id="fmEdit" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">

                <div class="calender_slct_customer_cont">
                    <div class="calender_slct_customer_txt">Select Customer</div>
                    <div class="calender_slct_customer_dropdown">
                        <div>
                            <div class="float_l_r">
                                <div>
                                    <?php echo $this->form->getElement('auto_customer_id')->render(); ?>
                                    <?php echo $this->form->getElement('customer_id')->render(); ?>
                                </div>
                                <div>
                                    <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                                        <div class="new_customer_btn float_l_r"><a href="javascript:;" onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');">new customer</a></div>
                                    <?php endif; ?>
                                    <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                                        <div class="new_customer_btn float_l_r margin_l_10" id="edit_customer" style="display: <?php if ($this->form->getElement('customer_id')->getValue()): ?>block<?php else: ?>none<?php endif; ?>;"><a href="javascript:;" onclick="editCustomer();">edit customer</a></div>
                                    <?php endif; ?>
                                    <div style="clear: both;"></div>
                                </div>                    
                            </div>
                            <div class="calender_lens_cont"><a  href="javascript:;" onclick="customer_search('<?php echo $this->escape($this->url(array(), 'dropDownCustomerList')); ?>');"><img style="border: 1px solid lightgray;" src="/pic/lens.png" width="23" height="23"/></a></div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <?php if (CheckAuth::checkCredential(array('canSeeInquiryAddress'))) : ?>
                    <div id="inquiry_address" class="calender_info_desc_cont">
                        <div style ="font-size: 16px; font-weight: bold; float: left; padding-bottom:20px; padding-left:10px;">Inquiry Address</div>
                        <div style="clear: both;"></div>
                        <div>
                            <div class="calender_info_txt_cont">Unit / Lot No.</div>
                            <div class="calender_txt_input">
                                <input class="text_input" name="unit_lot_number"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['unit_lot_number']) ? $this->inquiryAddress['unit_lot_number'] : "") ?>" />
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <div class="margin_t_5">
                            <div class="calender_info_txt_cont">Street Number</div>
                            <div class="calender_txt_input">
                                <input class="text_input" name="street_number"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['street_number']) ? $this->inquiryAddress['street_number'] : "") ?>" />
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <div class="margin_t_5">
                            <div class="calender_info_txt_cont">Street Name</div>
                            <div class="calender_txt_input">
                                <input class="text_input" name="street_address"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['street_address']) ? $this->inquiryAddress['street_address'] : "") ?>" />
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <div class="margin_t_5">
                            <div class="calender_info_txt_cont">Suburb</div>
                            <div class="calender_txt_input">
                                <input class="text_input" name="suburb"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['suburb']) ? $this->inquiryAddress['suburb'] : "") ?>" />
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <div class="margin_t_5">
                            <div class="calender_info_txt_cont">Post code</div>
                            <div class="calender_txt_input">
                                <input class="text_input" name="postcode"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['postcode']) ? $this->inquiryAddress['postcode'] : "") ?>" />
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <div class="margin_t_5">
                            <div class="calender_info_txt_cont">P.O. box</div>
                            <div class="calender_txt_input">
                                <input class="text_input" name="po_box"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->inquiryAddress['po_box']) ? $this->inquiryAddress['po_box'] : "") ?>" />
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                    </div>
                <?php endif; ?>


                <div class="calender_info_desc_cont">

                    <div style="margin-top: 5px;">
                        <div class="calender_info_txt_cont">Country</div>
                        <div class="calender_txt_input">
                            <?php echo $this->form->getElement('country_id')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="state_block" style="margin-top: 5px;<?php if (!$this->form->getElement('country_id')->getValue()) { ?>display: none;<?php } ?>">
                        <div class="calender_slct_customer_txt">State</div>
                        <div class="calender_slct_customer_dropdown" id="state_cont">
                            <?php echo $this->form->getElement('state')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="city_block" style="margin-top: 5px;<?php if (!$this->form->getElement('state')->getValue() || !$this->form->getElement('country_id')->getValue()) { ?>display: none;<?php } ?>">
                        <div class="calender_slct_customer_txt">City</div>
                        <div class="calender_slct_customer_dropdown" id="city_cont">
                            <?php echo $this->form->getElement('city_id')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div style="margin-top: 5px;">
                        <div class="calender_slct_customer_txt">Inquiry type</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('inquiry_type_id')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div style="margin-top: 5px;">
                        <div class="calender_slct_customer_txt">Property Type</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('property_type')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div style="margin-top: 5px;">
                        <div class="calender_slct_customer_txt">Period Required</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('required_type')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <?php
                $inquiryTypeId = $this->form->getElement('inquiry_type_id')->getValue();

                $inquiryTypeId = (int) ($inquiryTypeId ? $inquiryTypeId : 0);

                $modelInquiryTypeAttribute = new Model_InquiryTypeAttribute();
                $inquiryTypeAttribute = $modelInquiryTypeAttribute->getAttributeByInquiryTypeId($inquiryTypeId);
                ?>
                <div id="inquiry_attributes" style="margin-top: 20px; background-color: #F7F7F7; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; width: 100%; padding: 40px 0px; <?php if (empty($inquiryTypeAttribute)) { ?>display: none;<?php } ?>">
                    <?php
                    if ($inquiryTypeAttribute) {
                        foreach ($inquiryTypeAttribute as $key => $attribute) {
                            $html = '';
                            if ($key == 0) {
                                $html .= '<div>';
                            } else {
                                $html .= '<div style="margin-top:5px;">';
                            }
                            $html .= '<div class="calender_slct_customer_txt">' . $attribute['attribute_name'] . '</div>';
                            $html .= '<div class="calender_slct_customer_dropdown">';
                            $html .= drowInquiryTypeAttribute($attribute, $this->inquiryId);
                            $html .= '</div>';
                            $html .= '<div style="clear: both;"></div>';
                            $html .= '</div>';

                            echo $html;
                        }
                    }
                    ?>
                </div>
                <div class="calender_slct_customer_cont extra_field">
                    <div class="button_actions">
                        <div class="calender_slct_customer_txt">To Follow</div>
                        <div class="calender_slct_customer_dropdown">
                            <label>
                                <?php $checked = (isset($this->is_to_follow) && !empty($this->is_to_follow)) ? 'checked="checked"' : ""; ?>
                                <input name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" <?php echo $checked ?>/>
                                Confirm
                            </label>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="deferred_date_cont" class="button_actions" <?php echo (isset($this->is_to_follow) && !empty($this->is_to_follow)) ? '' : 'style="display: none;"'; ?>>
                        <div class="calender_slct_customer_txt">&ensp;</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('deferred_date')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div> 
                <div style="margin-top: 20px; background-color: #F7F7F7; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; width: 100%; padding: 40px 0px;">
                    <div class="calender_slct_customer_txt">Comment</div>
                    <div class="calender_slct_customer_dropdown">
                        <?php echo ($this->form->getElement('comment')->render()); ?>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div id="services" style="margin-top: 20px; padding: 2px;" >
                    <div class="default_inquiry_services_cont">
                        <input MaxLength="200" id="auto_search" style="border: none;" class="default_inquiry_services_input_service_name" onfocus="$('#search').css('display','block');$('#auto_search').css('display','none');$('#search').focus();" type="text" value="Type Service Name to Search" />
                        <input MaxLength="200" id="search" style="border: none;" name="keywords" onkeyup="searchServices();" autocomplete="off" class="default_inquiry_services_input_search" onblur="if(!$('#search').val()){$('#auto_search').css('display','block');$('#search').css('display','none');}" type="text" />
                        <div class="default_inquiry_services_keyword_resault" id="keywordsResult">
                            <?php if ($this->all_servicesAvailabile): ?>
                                <?php foreach ($this->all_servicesAvailabile as $serviceAvailabile): ?>
                                    <div id="service_result_<?php echo $this->escape($serviceAvailabile['service_id']); ?>">
                                        <a href="javascript:;" style="text-decoration: none; color: black; font-size: 12px;" onclick="checkService('<?php echo $this->escape($serviceAvailabile['service_id']); ?>','service_name_<?php echo $this->escape($serviceAvailabile['service_id']); ?>');">
                                            <div class="float_l_r"><img style="margin: 2px;" src="/pic/arrow_down.png" border="0"/></div>
                                            <div class="calender_service_price_opt">
                                                <div id="service_name_<?php echo $this->escape($serviceAvailabile['service_id']); ?>" style="float: left;"><?php echo $this->escape($serviceAvailabile['service_name']); ?></div>
                                                <div style="clear: both;"></div>
                                            </div>
                                        </a>
                                        <div style="clear: both;"></div>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                        <div class="calender_service_total">
                            <div class="calender_service_total_service_txt" id="services_title">Services</div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="default_inquiry_services_slctd_service" id="selectedServices">
                            <?php if ($this->selectedServices): ?>
                                <?php $modelServices = new Model_Services(); ?>
                                <?php foreach ($this->selectedServices as $selectedService): ?>
                                    <?php
                                    $selectedServiceArray = explode('_', $selectedService);
                                    $serviceId = isset($selectedServiceArray[0]) ? $selectedServiceArray[0] : '';
                                    $clone = isset($selectedServiceArray[1]) ? $selectedServiceArray[1] : '';
                                    $serviceAndClone = $serviceId . ($clone ? '_' . $clone : '');

                                    $service = $modelServices->getById($serviceId);
                                    ?>
                                    <div id="service_checked_<?php echo $this->escape($serviceAndClone); ?>" style="margin-top: 4px;">
                                        <div>
                                            <div style="float: left;" class="service_clone"><img src="/pic/icons/delete.png" border="0" style="vertical-align: middle;"/><a href="javascript:;" onclick="removeService('<?php echo $this->escape($serviceAndClone); ?>');">Remove</a></div>
                                            <div style="float: left; padding: 0px 5px;" class="service_clone"><img src="/pic/icons/clone.png" border="0" style="vertical-align: middle;"/><a href="javascript:;" onclick="checkService('<?php echo $this->escape($serviceId); ?>','service_name_<?php echo $this->escape($serviceId); ?>');">Clone</a></div>
                                            <div style="float: left; padding: 0px 5px;"><b><?php echo $this->escape($service['service_name']); ?></b></div>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <div style="margin-top: 4px;">
                                            <div style="float: right; padding: 0px 5px 5px 5px;" id="attribute_<?php echo $this->escape($serviceAndClone); ?>">
                                                <?php
                                                $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($serviceId, 0);
                                                foreach ($serviceAttribute as $key => $attribute):
                                                    ?>
                                                    <div <?php if ($key != 0): ?>style="margin-top: 5px;"<?php endif; ?>>
                                                        <div class="float_l_r" style="font-size: 12px;">
                                                            <?php echo $this->escape($attribute['attribute_name']); ?> :
                                                        </div>
                                                        <div class="calender_service_slctd_service_booking_service">
                                                            <?php echo drowAttribute($attribute, 1, $this->escape(isset($this->inquiry['inquiry_id']) ? $this->inquiry['inquiry_id'] : 0), $clone); ?>
                                                        </div>
                                                        <div style="clear: both"></div>
                                                    </div>
                                                <?php endforeach; ?>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <input type="hidden" value="<?php echo $this->escape($serviceAndClone); ?>" name="services[]">
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <div class="red_color" style="font-size: 12px;"><?php echo $this->escape($this->errServices); ?></div>

            </form>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <div class="btn_cont">
                    <a href="javascript:;" onclick="$('#fmEdit').submit();" class="btn_a">
                        <div class="text_pos">
                            Save
                        </div>
                    </a>
                </div>
                <ul class="links"> 
                    <li class="navigation">
                        <a href="javascript:;" onclick="NearestBooking()">Nearest Booking</a>
                    </li>
                    <li class="navigation">
                        <a href="javascript:;" onclick="find_availability()">Find Availability</a>
                    </li>
                </ul> 

                <?php if ($this->originalInquiry): ?>
                    <div style="color: #6E6D6D; font-size: 14px; font-weight: bold; width: 200px;">
                        <div style="margin-bottom: 5px;">
                            Original Inquiry
                        </div>
                        <div class="filter_border_top"></div>
                        <div style="font-size: 12px; font-weight: normal;">
                            <div style="margin-top: 5px">
                                <div>
                                    Property Type : <?php echo $this->escape($this->originalInquiry['property_type']); ?>
                                </div>
                                <div>
                                    Name : <?php echo $this->escape($this->originalInquiry['name']); ?>
                                </div>
                                <div>
                                    Email : <?php echo $this->escape($this->originalInquiry['email']); ?>
                                </div>
                                <div>
                                    Mobile : <?php echo $this->escape($this->originalInquiry['mobile']); ?>
                                </div>
                                <div>
                                    Phone : <?php echo $this->escape($this->originalInquiry['phone']); ?>
                                </div>
                            </div>
                            <div style="margin-top: 5px">
                                <div>
                                    Address : <?php echo $this->escape($this->originalInquiry['address']); ?>
                                </div>
                                <div>
                                    City : <?php echo $this->escape($this->originalInquiry['city']); ?>
                                </div>
                                <div>
                                    Postcode : <?php echo $this->escape($this->originalInquiry['postcode']); ?>
                                </div>
                            </div>
                            <div style="margin-top: 5px">
                                <div>
                                    Service : <?php echo $this->escape($this->originalInquiry['service']); ?>
                                </div>
                                <div>                               
                                    Floor : <?php echo $this->escape($this->originalInquiry['floor']); ?>
                                </div> 
                                <div>
                                    Required : <?php echo $this->escape($this->originalInquiry['required']); ?>
                                </div>
                                <div>
                                    Comment : <?php echo $this->escape($this->originalInquiry['comment']); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </td>
    </tr>
</table>

<?php include dirname(__FILE__) . '/add_edit_js.phtml'; ?>