<form id="search_form" action="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>" method="GET" >
    <div class="search">
        <div class="button_actions">
            Search Inquiry
        </div>
        <div id="search">
            <div class="search_estimate_top_filter"></div>

            <div class="filter_book_cont">
                <span class="formLabel">Keywords</span>
                <input name="fltr[keywords]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
            </div>

            <?php if (!empty($this->filters['customer_id'])): ?>
                <?php
                $modelCustomer = new Model_Customer();
                $customer = $modelCustomer->getById($this->filters['customer_id']);
                $customerName = get_customer_name($customer);
                ?>
            <?php endif; ?>
            <div class="filter_book_cont">
                <span class="formLabel">Customer Name</span>
                <input type="text" id="auto_customer_id" style="width: 100%; padding:1px 1px 1px 0 ;" value="<?php echo $this->escape(isset($customerName) ? $customerName : ''); ?>"/>
                <input type="hidden" id="customer_id" name="fltr[customer_id]" class="text_input" value="<?php echo $this->escape(!empty($this->filters['customer_id']) ? $this->filters['customer_id'] : ''); ?>"/>
            </div>

            <div style="margin-bottom: 15px;">
                <span class="formLabel">Users</span>
                <?php
                $modelUser = new Model_User();
                $users = $modelUser->getAllEmployee(true);

                $user = new Zend_Form_Element_Select('user_id');
                $user->setBelongsTo('fltr');
                $user->setDecorators(array('ViewHelper'));
                $user->setAttrib("style", "width: 100%;");
                $user->setValue((!empty($this->filters['user_id']) ? $this->filters['user_id'] : ''));
                $user->addMultiOption('', 'Select One');
                $user->addMultiOptions($users);
                echo $user->render();
                ?>
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Inquiry#</span>
                <input name="fltr[inquiry_num]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['inquiry_num']) ? $this->filters['inquiry_num'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Business Name</span>
                <input name="fltr[bussiness_name]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['bussiness_name']) ? $this->filters['bussiness_name'] : '')); ?>" />
            </div>
            <div class="filter_book_cont">
                <span class="formLabel">Address</span>
                <input name="fltr[address]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['address']) ? $this->filters['address'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Email</span>
                <input name="fltr[email]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['email']) ? $this->filters['email'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Mobile/Phone#</span>
                <input name="fltr[mobile/phone]" type="text" style="width: 100%;" value="<?php echo$this->escape((!empty($this->filters['mobile/phone']) ? $this->filters['mobile/phone'] : '')); ?>" />
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Inquiry Date</span>
                <table border="0">
                    <tr>
                        <td class="txt_align_l"><input id="date_from" readonly="readonly" name="fltr[created_from]" type="text" style="width: 94px;" value="<?php echo $this->escape((!empty($this->filters['created_from']) ? $this->filters['created_from'] : '')); ?>" /></td>
                        <td>-</td>
                        <td class="txt_align_l"><input id="date_to" readonly="readonly" name="fltr[created_to]" type="text" style="width: 94px;" value="<?php echo $this->escape((!empty($this->filters['created_to']) ? $this->filters['created_to'] : '')); ?>" /></td>
                    </tr>
                </table>
            </div>
            <div class="filter_book_cont">
                <span class="formLabel">Inquiry Deferred To</span>
                <table border="0">
                    <tr>
                        <td class="txt_align_l"><input id="deferred_to" readonly="readonly" name="fltr[deferred_to]" type="text" style="width: 207px;" value="<?php echo $this->escape((!empty($this->filters['deferred_to']) ? $this->filters['deferred_to'] : '')); ?>" /></td>

                    </tr>
                </table>
            </div>

            <?php
            $InquiryTypeObj = new Model_InquiryType();
            $InquiryTypes = $InquiryTypeObj->getAll();
            ?>
            <div class="filter_book_cont">
                <span class="formLabel">Inquiry Type</span>
                <select name="fltr[inquiry_type_id]" style="width: 100%;">
                    <option value="">Select One</option>
                    <?php if ($InquiryTypes): ?>
                        <?php foreach ($InquiryTypes as $type): ?>
                            <?php
                            $selected = isset($this->filters['inquiry_type_id']) && $this->filters['inquiry_type_id'] == $type['inquiry_type_id'] ? 'selected="selected"' : ''
                            ?>
                            <option value="<?php echo $this->escape($type['inquiry_type_id']); ?>" <?php echo $this->escape($selected); ?> ><?php echo $this->escape($type['inquiry_name']); ?></option>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </select>
            </div>

            <div class="filter_book_cont">
                <span class="formLabel">Status</span>
                <select name="fltr[status]" style="width: 100%;">
                    <option value="">Select One</option>
                    <option value="inquiry" <?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'inquiry' ? 'selected="selected"' : ''); ?> >Inquiry</option>
                    <option value="booking" <?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'booking' ? 'selected="selected"' : ''); ?> >Booking</option>
                </select>
            </div>

            <div style="margin-bottom: 15px;">
                <span class="formLabel">Service Name</span>
                <?php
                $modelServices = new Model_Services();
                $allService = $modelServices->getAllService();

                $service = new Zend_Form_Element_Select('service_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttrib("style", "width: 100%;");
                $service->setValue((!empty($this->filters['service_id']) ? $this->filters['service_id'] : ''));
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allService);
                echo $service->render();
                ?>
            </div>

            <?php
            $country_id = (!empty($this->filters['country_id']) ? $this->filters['country_id'] : CheckAuth::getCountryId());
            ?>

            <div style="margin-bottom: 15px;">
                <span class="formLabel">Country</span>
                <?php
                $modelCountries = new Model_Countries();
                $allCountries = $modelCountries->getAllCountries();

                $service = new Zend_Form_Element_Select('country_id');
                $service->setBelongsTo('fltr');
                $service->setDecorators(array('ViewHelper'));
                $service->setAttribs(array("id" => "country", "class" => "right-side-input-text", "onchange" => "getStateByCountryId();"));
                $service->setValue($country_id);
                $service->addMultiOption('', 'Select One');
                $service->addMultiOptions($allCountries);
                echo $service->render();
                ?>
                <div style="clear: both;"></div>
            </div>

            <div id="display_state" style=";margin-bottom: 15px;<?php echo $this->escape(empty($country_id) ? "display: none;" : ""); ?>">
                <span class="formLabel">State</span>
                <div id="state_cont">
                    <?php
                    $modelCities = new Model_Cities();
                    $allState = $modelCities->getStateByCountryId($country_id, TRUE);

                    $service = new Zend_Form_Element_Select('state');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "fltr-state", "class" => "right-side-input-text", "onchange" => "getCitiesByCountryId();"));
                    $service->setValue((!empty($this->filters['state']) ? $this->filters['state'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allState);
                    echo $service->render();
                    ?>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div id="display_city" style="margin-bottom: 15px;<?php echo $this->escape(empty($this->filters['state']) || empty($country_id) ? "display: none;" : ""); ?>">
                <span class="formLabel">City</span> 
                <div id="city_cont">
                    <?php
                    $allCities = $modelCities->getCitiesByCountryIdAndState($country_id, (!empty($this->filters['state']) ? $this->filters['state'] : ''), TRUE);

                    $service = new Zend_Form_Element_Select('city_id');
                    $service->setBelongsTo('fltr');
                    $service->setDecorators(array('ViewHelper'));
                    $service->setAttribs(array("id" => "city_id", "class" => "right-side-input-text"));
                    $service->setValue((!empty($this->filters['city_id']) ? $this->filters['city_id'] : ''));
                    $service->addMultiOption('', 'Select One');
                    $service->addMultiOptions($allCities);
                    echo $service->render();
                    ?>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div style="margin-top: 5px; padding-bottom: 10px;">
                <input type="submit" value="Search" /> <span class="or_span">or</span>
                <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>" style="color: red;" class="a_advance" >Cancel</a>
            </div>

            <input type="hidden" name="fltr[status]" value="all"/>
            <input type="hidden" name="fltr[submit]" value="on"/>

            <?php /* if ($this->sub_menu == 'my_inquiries') { ?>
              <input type="hidden" name="my_inquiries" value="true"/>
              <?php } */ ?>

        </div>
        <div class="filter_bottom_border"></div>
    </div>
</form>
<script type="text/javascript">
    //
    //fun to get all city in selected country
    //
    function getStateByCountryId(){
      
        if($('#country').val()){
            $('#display_state').css('display','block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country').val()+"&onChange=getCitiesByCountryId&class=right-side-input-text&name=state&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#display_state').css('display','none');
            $('#display_city').css('display','none');
        }
    }
    
    //
    //fun to get all city in selected country
    //
    function getCitiesByCountryId(){
        if($('#fltr-state').val()){
            $('#display_city').css('display','block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->escape($this->url(array(), 'dropDownCity')); ?>",
                data: "country_id="+$('#country').val()+"&state="+$('#fltr-state').val()+"&class=right-side-input-text&name=city_id&isArrayName=1&arrayName=fltr",
                success: function(msg) {
                    $('#city_cont').html(msg);
                }
            });
        }else{
            $('#display_city').css('display','none');
        }
    }
    
    $(document).ready(function() {
        $("#date_from,#date_to,#deferred_to").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });

    
    // auto complete customer search
    $(function() {
        $( "#auto_customer_id" ).autocomplete({
       
            source: function( request, response ) {
                $("#customer_id" ).val('');
                $.ajax({
                    url: "<?php echo $this->escape($this->url(array(), 'autoCompleteCustomer')); ?>",
                    dataType:"json",
                    data: {
                        limit: 50,
                        fltr: {
                            full_name_search: request.term,
                            have_inquiry :true
                        }
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item.customer_name,
                                value: item.customer_name,
                                customer_id:item.customer_id
                            }
                        }));
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                var customer_id = ui.item.customer_id ? ui.item.customer_id : 0;
                $('#customer_id').val(customer_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });
	
</script>
