<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
				<?php 
					$modelAuthRole = new Model_AuthRole();
					$modelUser = new Model_User();
					
					$superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
					$loggedUser = CheckAuth::getLoggedUser();
					$user_id = $loggedUser['user_id'];
					$user = $modelUser->getById($user_id);
					
				
				//// test if this spam tab, if yes we dont need filters div
				if(isset($this->filters['is_spam']) && $this->filters['is_spam'] ==1){ ?>
					<div class="list_title">
                    Spam Inquiries
					</div>	
					
					<div class="sort_customer_cont">
                    <select style="width: 150px;" id="is_active" onchange="filter('<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?is_spam=1&perPage='+$('#is_active').val());">
                        <option value="">Select One</option>
                        <option value="10" <?php echo isset($this->filters['perPage']) && ($this->filters['perPage'] == 10) ? 'selected="selected"' : ''; ?> >10</option>
                        <option value="20" <?php echo isset($this->filters['perPage']) && ($this->filters['perPage'] == 20) ? 'selected="selected"' : ''; ?> >20</option>
                        <option value="30" <?php echo isset($this->filters['perPage']) && ($this->filters['perPage'] == 30) ? 'selected="selected"' : ''; ?> >30</option>
                        <option value="40" <?php echo isset($this->filters['perPage']) && ($this->filters['perPage'] == 40) ? 'selected="selected"' : ''; ?> >40</option>
                        <option value="50" <?php echo isset($this->filters['perPage']) && ($this->filters['perPage'] == 50) ? 'selected="selected"' : ''; ?> >50</option>
                        
                    </select>
					</div>

				<?php } 
				else{ ?>
					<div class="list_title">
						All Inquiries
					</div>
					
					<div class="sort_booking_cont">
                    <?php if (CheckAuth::checkCredential(array('inquiry'))): ?>
                        <?php
                        $filterLink = array();
                        if ($this->sub_menu == 'my_inquiries') {
                            $filterLink['my_inquiries'] = true;
                        }
                        ?>
                        <?php echo FilterLink::generate_link('all', array_merge($filterLink, array('fltr' => array('status' => 'all'))), isset($this->filters['status']) && $this->filters['status'] == 'all', true); ?>
                        |
                        <?php echo FilterLink::generate_link('unlabeled', array_merge($filterLink, array('fltr' => array('status' => 'inquiry', 'unlabeled' => true))), isset($this->filters['unlabeled']) && $this->filters['unlabeled'] == true, true); ?>
                        |
                        <?php echo FilterLink::generate_link('prospect', array_merge($filterLink, array('fltr' => array('status' => 'inquiry', 'un_reminded' => true))), isset($this->filters['un_reminded']) && $this->filters['un_reminded'] == true, true); ?>
                        |
                        <?php echo FilterLink::generate_link('to follow', array_merge($filterLink, array('sort' => 'deferred_date', 'method' => 'asc', 'fltr' => array('status' => 'inquiry', 'to_follow' => true))), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true, true); ?>
                        |
                        <?php echo FilterLink::generate_link('inquiry', array('fltr' => array('status' => 'inquiry')), isset($this->filters['status']) && $this->filters['status'] == 'inquiry'); ?>
                        |
                        <?php echo FilterLink::generate_link('estimate', array('fltr' => array('status' => 'estimate')), isset($this->filters['status']) && $this->filters['status'] == 'estimate'); ?>
                        |
                        <?php echo FilterLink::generate_link('booking', array('fltr' => array('status' => 'booking')), isset($this->filters['status']) && $this->filters['status'] == 'booking'); ?>
                    <?php endif; ?>

                    <?php if (CheckAuth::checkCredential(array('inquiryFilterLabel'))): ?>
                        <input type="button" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'filterInquiryLabel')); ?>','250','200','Inquiry Label','<?php if ($this->sub_menu == 'my_inquiries') { ?>my_inquiries=true<?php } ?>');" value="Filter By Label(s)"/>
                    <?php endif; ?>
                </div>
				
				<?php }
				?>
				
                <div class="clearb"></div>
            </div>

            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'inquiryDeleteBtn')); ?>" id="fmInquiries"  method="POST" onsubmit="return confirm('Are you sure you want to delete this inquiry ?');">
                    <div class="button_actions">
                        
						<?php if (isset($this->filters['is_spam']) && $this->filters['is_spam'] == 1 && ($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('inquiryMarkAsSpam')))){?>
							<div class="button_pos_l">
								<input type="button" value="Delete For Ever" onClick="delete_spam(); return false;" />
							</div>
						<?php } 
						else { ?>
							<div class="button_pos_l">
                            <input type="button" value="Delete " onClick="delete_inquiries(); return false;" />
							</div>
						<?php } ?>
						<?php 
						////check if this page is the index and view all inquires not only the spam if it views spam only we don't need mark as spam button
						if (!isset($this->filters['is_spam']) && ($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('inquiryMarkAsSpam')))){?>
							<div class="button_pos_l">
								<input type="button" value="Mark As Spam" onClick="mark_as_spam(); return false;" />
							</div>
						<?php } ?>
                        <?php if (isset($this->filters['to_follow']) && $this->filters['to_follow'] == true): ?>
                            <div style="font-size: 12px; float: right; margin-top: 3px;">
                                <?php echo FilterLink::generate_link('all', array('sort' => 'deferred_date', 'method' => 'asc', 'fltr' => array('status' => 'inquiry', 'to_follow' => true)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true && !isset($this->filters['to_follow_date']), true); ?>
                                |
                                <?php echo FilterLink::generate_link('past', array('fltr' => array('status' => 'inquiry', 'to_follow_date' => 'past')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'past'); ?>
                                |
                                <?php echo FilterLink::generate_link('today', array('fltr' => array('status' => 'inquiry', 'to_follow_date' => 'today')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'today'); ?>
                                |
                                <?php echo FilterLink::generate_link('future', array('fltr' => array('status' => 'inquiry', 'to_follow_date' => 'future')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'future'); ?>
                            </div>
                        <?php endif; ?>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" /></td>
                                <td style="width: 100px;"><?php echo SortOrder::generate_link('Inquiry#', 'created') ?></td>
                                <td class="details"><b>Details</b></td>
                                <td><b>Services</b></td>
                                <td style="width: 150px;"><b>Labels</b></td>
                                <td><?php echo SortOrder::generate_link('Failed Contact Attempts', 'latest_reminder_created') ?></td>
                            </tr>
                            <?php $modelInquiryAddress = new Model_InquiryAddress ?>
                            <?php $modelUser = new Model_User(); ?>
                            <?php $counter = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $counter += 1; ?>
                                <tr id="<?php echo $this->escape('inquiry_'. $row['inquiry_id']); ?>"  class="<?php
                        if ($counter % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['inquiry_id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('inquiryView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['inquiry_num']) ?></b></a>
                                                <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['status']) {
                                                case 'inquiry': {
                                                        if (isset($row['labels']) && !empty($row['labels'])) {
                                                            $color = '#009900';
                                                            break;
                                                        } else {
                                                            $color = '#A1A1A1';
                                                            break;
                                                        }
                                                    }
                                                case 'estimate':
                                                    $color = '#4F8BC3';
                                                    break;
                                                case 'booking':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                <?php echo $this->escape(ucfirst($row['status'])); ?>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <?php if (!empty($row['have_attachment'])): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryAttachment')); ?>" class="details_info_opt"><img src="/pic/icons/attach.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div class="customer_date_details">
                                                <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                            </div>
                                            <div id="address_list_inquiry">
                                                <?php $address = $modelInquiryAddress->getByInquiryId($row['inquiry_id']); ?>
                                                <?php $lineAddress = get_line_address($address); ?>
                                                <span class="time_start_color" >Address :</span>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryLocation')); ?>">
                                                    <?php echo $this->escape($lineAddress); ?><?php echo!empty($row['customer']['city_name']) ? " | " . $this->escape($row['customer']['city_name']) : '' ?>
                                                </a>
                                            </div>
                                            <div class="clearb"></div>
                                            <div id="city_list_inquiry">

                                                <?php if (!empty($row['customer_name'])): ?>
                                                    <div>
                                                        <span style="color: #A1A1A1;">Customer :</span>
                                                        <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                            <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black"><?php echo $this->escape($row['customer_name']); ?></a>
                                                        <?php else: ?>
                                                            <?php echo $this->escape($row['customer_name']) ?>
                                                        <?php endif; ?>
                                                    </div>   
                                                <?php endif; ?> 

                                                <?php if (!empty($row['customer']['customer_commercial_info']['business_name'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Business Name :</span> <?php echo $this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name'])) ?></div>
                                                <?php endif; ?> 

                                                <?php if (!empty($row['customer']['email1'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email1']) ?></div>
                                                <?php endif; ?> 

                                                <?php if (!empty($row['customer']['email2'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email2']) ?></div>
                                                <?php endif; ?> 

                                                <?php if (!empty($row['customer']['email3'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email3']) ?></div>
                                                <?php endif; ?> 

                                                <?php if (!empty($row['customer']['mobile1'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile1']) ?></div>
                                                <?php endif; ?> 

                                                <?php if (!empty($row['customer']['mobile2'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile2']) ?></div>
                                                <?php endif; ?>

                                                <?php if (!empty($row['customer']['mobile3'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile3']) ?></div>
                                                <?php endif; ?>

                                                <?php if (!empty($row['customer']['phone1'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone1']) ?></div>
                                                <?php endif; ?>

                                                <?php if (!empty($row['customer']['phone2'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone2']) ?></div>
                                                <?php endif; ?>

                                                <?php if (!empty($row['customer']['phone3'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone3']) ?></div>
                                                <?php endif; ?>

                                                <?php if (!empty($row['customer']['fax'])): ?>
                                                    <div><span style="color: #A1A1A1;" >Fax :</span> <?php echo $this->escape($row['customer']['fax']) ?></div>
                                                <?php endif; ?>

                                                <?php if (!empty($row['customer']['po_box'])): ?>
                                                    <div><span style="color: #A1A1A1;" >PO Box :</span> <?php echo $this->escape($row['customer']['po_box']) ?></div>
                                                <?php endif; ?>

                                                <?php if (!empty($row['customer']['customer_contacts'])): ?>
                                                    <?php foreach ($row['customer']['customer_contacts'] as $customerContact): ?>
                                                        <div><span style="color: #A1A1A1;" ><?php echo $this->escape($customerContact['contact_label']) ?> :</span> <?php echo $this->escape($customerContact['contact']) ?></div>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>

                                            </div>
                                            <?php if (!empty($row['deferred_date'])): ?>
                                                <div class="deferred"  >
                                                    <span class="deferred_color" >Deferred To :</span>
                                                    <?php echo $this->escape(getDateFormating($row['deferred_date'])) ?>
                                                </div>
                                            <?php endif; ?>
                                            <div class="clearb"></div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php
                                            $actions = array();

                                            if ($row['status'] == 'inquiry') {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryEdit')) . '" class="details_info_opt">Edit</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('inquiryConvertToBooking')) && $row['status'] == 'inquiry') {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryConvertToBooking')) . '" class="details_info_opt">Convert To Booking</a>';
                                            } elseif ($row['status'] == 'booking') {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryConvertToBooking')) . '" class="details_info_opt">Convert To Booking</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('inquiryConvertToEstimate')) && $row['status'] == 'inquiry') {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryConvertToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
                                            } elseif ($row['status'] == 'estimate') {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryConvertToEstimate')) . '" class="details_info_opt">Convert To Estimate</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('inquiryEdit'))) {
                                                if (isset($row['is_to_follow']) && $row['is_to_follow']) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'removeFollowUpInquiry')) . '" class="details_info_opt">Remove Follow Up</a>';
                                                } else {
                                                    $popupConfig = "'{$this->escape($this->url(array('id' => $row['inquiry_id']), 'followUpInquiry'))}','100','400','Follow Up Inquiry'";
                                                    $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Follow Up</a>';
                                                }
                                            }

                                            $findAvailabilityParams = array();
                                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($address['unit_lot_number']);
                                            $findAvailabilityParams[] = 'street_number=' . urlencode($address['street_number']);
                                            $findAvailabilityParams[] = 'street_address=' . urlencode($address['street_address']);
                                            $findAvailabilityParams[] = 'suburb=' . urlencode($address['suburb']);
                                            $findAvailabilityParams[] = 'state=' . urlencode($address['state']);
                                            $findAvailabilityParams[] = 'postcode=' . urlencode($address['postcode']);
                                            $findAvailabilityParams[] = 'city_id=' . urlencode($row['city_id']);
                                            foreach ($row['service_attribute'] as $service) {
                                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                            }
                                            $findAvailabilityParams = implode("&", $findAvailabilityParams);

                                            $popupConfig = "'{$this->escape($this->url(array(), 'findAvailability'))}','500','1000','Find Availability','{$findAvailabilityParams}'";
                                            $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Find Availability</a>';

                                            $nearestBookingParams = array();
                                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($address['unit_lot_number']);
                                            $nearestBookingParams[] = 'street_number=' . urlencode($address['street_number']);
                                            $nearestBookingParams[] = 'street_address=' . urlencode($address['street_address']);
                                            $nearestBookingParams[] = 'suburb=' . urlencode($address['suburb']);
                                            $nearestBookingParams[] = 'state=' . urlencode($address['state']);
                                            $nearestBookingParams[] = 'postcode=' . urlencode($address['postcode']);
                                            $nearestBookingParams[] = 'city_id=' . urlencode($row['city_id']);

                                            $nearestBookingParams = implode("&", $nearestBookingParams);
                                            $popupConfig = "'{$this->escape($this->url(array(), 'getRelatedAddress'))}','500','900','Nearest Bookings','{$nearestBookingParams}'";
                                            $actions[] = '<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');">Nearest Bookings</a>';


                                            if (CheckAuth::checkCredential(array('inquiryDiscussion'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryDisscussion'))}','470','700','Inquiry Discussion'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Inquiry Discussion</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('inquiryLabel'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('inquiry_id' => $row['inquiry_id']), 'inquirySelectLabel'))}','250','200','Search Label'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('attachment'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('id' => $row['inquiry_id']), 'sendInquiryAdvertisingEmail'))}','510','800','Advertising Email'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Advertising Email</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('inquiryDelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryDelete'))}','Are you sure you want to delete this inquiry ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                            }

                                            $line_actions = array_slice($actions, 0, 3);
                                            $drop_down_actions = array_slice($actions, 3);
                                            ?>

                                            <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                            <?php if ($drop_down_actions): ?>
                                                <a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="menu_<?php echo $this->escape($row['inquiry_id']) ?>"><span class="ui-icon ui-icon-triangle-1-s"></span>Actions</a>
                                                <div id="search-engines" class="hidden">
                                                    <ul>
                                                        <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                            <li>
                                                                <?php echo $drop_down_action; ?>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    </ul>
                                                </div>
                                                <div class="clearb"></div>
                                                <script>
                                                    $(function(){
                                                        // MENU	
                                                        $('#menu_<?php echo $this->escape($row['inquiry_id']) ?>').fgmenu({ 
                                                            content: $('#menu_<?php echo $this->escape($row['inquiry_id']) ?>').next().html(), // grab content from this page
                                                            showSpeed: 100 
                                                        });
                                                    });
                                                </script>
                                            <?php endif; ?>
                                        </div>
                                        <div class="details_info_l"></div>
                                    </td>
                                    <td class="details_info_l">
                                        <?php foreach ($row['service_attribute'] as $service_attribute): ?>
                                            <div class="details_info_l">
                                                <div style="font-size: 12px;">
                                                    <?php echo $this->escape($service_attribute['service_name']); ?>
                                                </div>
                                                <div>
                                                    <?php foreach ($service_attribute['attributes'] as $attribute): ?>

                                                        <div style="font-size: 12px;">
                                                            <?php
                                                            if (is_array($attribute['value'])) {
                                                                foreach ($attribute['value'] as $value) {
                                                                    echo $this->escape($value) . '<br/>';
                                                                }
                                                            } else {
                                                                echo $this->escape($attribute['value']);
                                                            }
                                                            ?>
                                                        </div>
                                                    <?php endforeach; ?>
                                                </div>
                                            </div>
                                        <?php endforeach; 
										$service_ids = array();
											foreach ($row['service_attribute'] as $service) {
													$service_ids[] = $service['service_id'];
											}
											$service_ids_string = serialize($service_ids);
										?>
										
										<a class="details_info_opt"  href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('inquiry_id'=> $row['inquiry_id'],'service_ids'=>$service_ids_string), 'getAllContractorDistances')); ?>','400','400','Distance to Contractors');">Distance to Contractors</a>

                                    </td>
                                    <td style="padding: 0 5px">
                                        <div class="details_info_l" id="label_<?php echo $row['inquiry_id'] ?>">
                                            <?php foreach ($row['labels'] as $label): ?>
                                                <div class="label_box">
                                                    <?php echo $this->escape($label); ?> 
                                                </div>
                                            <?php endforeach; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div  id = "reminder_<?php echo $this->escape($row['inquiry_id']); ?>" class="details_info_l">
                                            <?php if (isset($row['reminder']) && $row['reminder']): ?>
                                                <?php foreach ($row['reminder'] as $reminder): ?>
                                                    <div style = "font-size: 12px;">
                                                        <?php $user = $modelUser->getById($reminder['user_id']); ?>
                                                        <a href="javascript:;" style="color:black;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'inquiryReminderView')); ?>','180','400','ADD Note');" class="details_info_opt"><?php echo $this->escape($user['username'] . ' - ' . getDateFormating($reminder['created'])); ?></a>
                                                        <?php if (CheckAuth::checkCredential(array('inquiryReminderDelete'))): ?>
                                                            <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $row['inquiry_id'], 'reminder_id' => $reminder['id']), 'inquiryReminderDelete')); ?>');" ><img height="10" width="10" src="/pic/remove.png" border="0" ></a>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('inquiryReminderAdd'))): ?>
                                                <div style = "font-size: 12px;">
                                                    <a href="javascript:;"  onclick="showPopupWindow('<?php echo $this->escape($this->url(array('inquiry_id' => $row['inquiry_id']), 'inquiryReminderAdd')); ?>','180','400','Add Note');" class="details_info_opt">Add Note</a>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div class="button_actions">
                    <?php if (isset($this->filters['to_follow']) && $this->filters['to_follow'] == true): ?>
                        <div style="font-size: 12px; float: right; margin-top: 3px;">
                            <?php echo FilterLink::generate_link('all', array('sort' => 'deferred_date', 'method' => 'asc', 'fltr' => array('status' => 'inquiry', 'to_follow' => true)), isset($this->filters['to_follow']) && $this->filters['to_follow'] == true && !isset($this->filters['to_follow_date']), true); ?>
                            |
                            <?php echo FilterLink::generate_link('past', array('fltr' => array('status' => 'inquiry', 'to_follow_date' => 'past')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'past'); ?>
                            |
                            <?php echo FilterLink::generate_link('today', array('fltr' => array('status' => 'inquiry', 'to_follow_date' => 'today')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'today'); ?>
                            |
                            <?php echo FilterLink::generate_link('future', array('fltr' => array('status' => 'inquiry', 'to_follow_date' => 'future')), isset($this->filters['to_follow_date']) && $this->filters['to_follow_date'] == 'future'); ?>
                        </div>
                    <?php endif; ?>
                    <div style="clear: both;"></div>
                </div>
                <div style="" class="noRowsMessageDIV">There are no Inquiry.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <?php /*
              <td class="right_side" style="display: <?php echo isset($this->filters['submit']) && $this->filters['submit'] == 'on' ? 'table-cell' : 'none'; ?>;">
             */ ?>
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('inquiryAdd'))): ?>
                    <div class="btn_cont">
                        <a href="<?php echo $this->escape($this->url(array(), 'inquiryAdd')); ?>" class="btn_a">
                            <div class="text_pos">
                                New Inquiry
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <?php echo $this->render('index/filters.phtml'); ?>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript" >

 function filter(url){
        window.location = url;
    }

function mark_as_spam(){
var is_confirmed = confirm('Are you sure you want to mark this inquiry as spam?');
	if(is_confirmed){
	$.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(),'inquiryMarkAsSpam')); ?>',
            data: $('#fmInquiries').serialize(),
            dataType : "json",
            success: function(data) {
				
				if(data.are_marked){
					 $.each(data.ids, function(id,item) {
						$('#inquiry_'+item).remove();
					  });
					alert('The selected Inquiries have been marked as spam');
				
				}
				else{
					alert('Error, please try again later ');
				}
				
            }
            
        });
	}
}
function delete_inquiries(){
var is_confirmed = confirm('Are you sure you want to delete this inquiry?');
	if(is_confirmed){
		$.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(),'inquiryDeleteBtn')); ?>',
            data: $('#fmInquiries').serialize(),
            dataType : "json",
            success: function(data) {
				//alert('sccess');
                console.log(data.are_deleted);
				console.log(data.ids);
				if(data.are_deleted){
					 $.each(data.ids, function(id,item) {
						$('#inquiry_'+item).remove();
					  });
					alert('The selected Inquiries have been deleted');
				
				}
				else{
					alert('Error, please try again later ');
				}
				
            }
            
        });
	}
}


function delete_spam(){
	var is_confirmed = confirm('Are you sure you want to delete this inquiry for ever ?');
		if(is_confirmed){
			$.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(),'inquiryDeleteSpam')); ?>',
            data: $('#fmInquiries').serialize(),
            dataType : "json",
            success: function(data) {
				//alert('sccess');
                console.log(data.are_deleted);
				console.log(data.ids);
				if(data.are_deleted){
					 $.each(data.ids, function(id,item) {
						$('#inquiry_'+item).remove();
					  });
					alert('The selected Inquiries have been deleted');
				
				}
				else{
					alert('Error, please try again later ');
				}
				
            }
            
        });
		
		}
}
 
</script>