<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Deleted Inquiries
                </div>
                <div class="sort_booking_cont">
                    <?php if (CheckAuth::checkCredential(array('inquiry'))): ?>
                        <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status] " style="<?php echo $this->escape(empty($this->filters['status']) ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">all</a> |
                        <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]=inquiry" style="<?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'inquiry' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">inquiry</a> |
                        <a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]=booking" style="<?php echo $this->escape(isset($this->filters['status']) && $this->filters['status'] == 'booking' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">booking</a>
                    <?php endif; ?>
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'inquiryDeleteForeverBtn')); ?>" method="POST" onsubmit="return confirm('Are you sure you want to delete this inquiry ?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('inquiryDelete'))): ?>
                                <input type="submit" value="Delete Forever"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" /></td>
                                <td><b>Inquiry#</b></td>
                                <td><b>Details</b></td>
                                <td><b>Customer Name</b></td>
                                <td><b>Services / Deferred to</b></td>
                                <?php /*
                                  <td><b>Inquiry Type</b></td>
                                 */ ?>
                            </tr>

                            <?php $count = 0; ?>
                            <?php $modelUser = new Model_User(); ?>
                            <?php $modelService = new Model_Services(); ?>
                            <?php $modelInquiryService = new Model_InquiryService(); ?>
                            <?php $modelInquiryType = new Model_InquiryType(); ?>
                            <?php $modelCustomer = new Model_Customer(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['inquiry_id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('inquiryView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['inquiry_num']) ?></b></a>
                                                <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['status']) {
                                                case 'inquiry':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'booking':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                <?php echo $this->escape(ucfirst($row['status'])); ?>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <?php if (CheckAuth::checkCredential(array('customerLocation'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('inquiryView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryView')); ?>" class="a_link_black"><?php echo $this->escape($row['title']) ?></a>    
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <span style="color: #A1A1A1;">Date:</span><?php echo $this->escape(getDateFormating( $row['created'])) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('inquiryDeleteForever'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryDeleteForever')); ?>" onclick="return confirm('Are you sure you want to delete this inquiry ?');" class="details_info_opt">Delete Forever</a>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('inquiryUndelete'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['inquiry_id']), 'inquiryUndelete')); ?>" onclick="return confirm('are you sure you want to restore this inquiry?');" class="details_info_opt">UnDelete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                    <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </a>    
                                                <?php else: ?>
                                                    <span class="span_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </span>    
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </td>

                                    <?php if ($row['deferred_date']): ?>
                                        <td class="details_info_l">
                                            <div class="details_info_l" style="font-size: 12px;">
                                                <?php echo $this->escape(date(get_config('date'), $row['deferred_date'])) ?>
                                            </div>
                                        </td>
                                    <?php else: ?>
                                        <td class="details_info_l">
                                            <div class="details_info_l">
                                                <?php foreach ($row['allService'] as $serviceName): ?>
                                                    <div style="font-size: 12px;">
                                                        <?php echo $this->escape($serviceName); ?></div>
                                                <?php endforeach; ?>
                                            </div>
                                        </td>
                                    <?php endif; ?>

                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Inquiry.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('inquiryAdd'))): ?>
                    <div class="btn_cont">
                        <a href="<?php echo $this->escape($this->url(array(), 'inquiryAdd')); ?>" class="btn_a">
                            <div class="text_pos">
                                New Inquiry
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>" method="GET" >
                    <div class="search">
                        <div class="button_actions">
                            Search Inquiry
                        </div>
                        <div id="search">
                            <?php if (isset($_GET['advanced_search']) && $_GET['advanced_search']): ?>
                                <?php echo $this->render('index/filters.phtml'); ?>
                            <?php else : ?>
                                <div class="button_actions">
                                    <div class="float_l_r">
                                        <input name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                                    </div>
                                    <div class="search_lens_cont">
                                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance"><img style="border: 1px solid lightgray;" src="/pic/lens.png" width="23" height="23"/></a>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <a href="javascript:;" onclick="$('#search').html($('#advanced_search').html());$('#flag_advanced_search').val(1);" >Advanced Search</a>
                            <?php endif; ?>
                        </div>
                        <input type="hidden" id="flag_advanced_search" name="advanced_search" value="<?php echo $this->escape(isset($_GET['advanced_search']) && $_GET['advanced_search'] ? '1' : '0'); ?>" />
                        <div class="filter_bottom_border"></div>
                    </div>
                </form>
                <div id="advanced_search" style="display: none;"><?php echo $this->render('index/filters.phtml'); ?></div>
            </div>
        </td>
    </tr>
</table>