<table class="table">
    <tr>
        <td class="left_side">
            
                <?php 
					$modelAuthRole = new Model_AuthRole();
					$modelUser = new Model_User();
					$modelBannedIpAddress = new Model_BannedIpAddress();
					
					$superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
					$loggedUser = CheckAuth::getLoggedUser();
					$user_id = $loggedUser['user_id'];
					$user = $modelUser->getById($user_id);
					
					?>
                <div class="details_info_l floatLeft" style="padding-left: 20px;">
                    <?php if (isset($this->inquiryLabels)): ?>
                        <?php foreach ($this->inquiryLabels as $label): ?>
                            <div class="label_box">
                                <?php echo $this->escape($label['label']['label_name']); ?> 
                            </div>
                        <?php endforeach; ?>
                    <?php endif; ?>
					
                </div>
                <div class="clearb"></div>
            
            <div>
                <div class="customer_info_container" style="float:right;">
					<div>
						<?php
						$customerView = new Zend_View();
						$customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
						$customerView->customer_id = $this->inquiry['customer_id'];
						$customerView->allDetails = true;
						echo $customerView->render('customer_info.phtml');
						?>
					</div>
					<?php if ($this->contractorDistances){ ?>
					<div class="clearb"></div>
					<div style="margin-top:30px;">
						<table cellspacing="0" cellpadding="0" border="0" align="center" border="0" >
							<thead>
								<tr style="background-color: #ACD2E7">
									<td style="text-align: center; width: 200px; font-size: 14px;" height="30" class="curveLGrnLBg billToPadding txt-lft" ><b>Contractor Name</b></td>
									<td style="text-align: center; width: 200px; font-size: 14px;" height="30" class="curveLGrnLBg billToPadding txt-lft" ><b>Distance from home</b></td>
								</tr>
							</thead>
							<tbody>
								<?php foreach ($this->contractorDistances as $contractorDistance): ?>
									<tr>
										<td style="background-color: #F7F7F7; text-align: center;" class="labelText" >
										<?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))){ ?>
                                                <a target="_blank" href="<?php echo $this->escape($this->url(array('contractor_id' => $contractorDistance['contractor_id']), 'settingsContractorInfoList')); ?>" style="text-decoration: none; background-color: #F7F7F7; text-align: center;" class="labelText" ><b><?php echo $contractorDistance['name']; ?></b></a>
                                        <?php } else{ ?>
                                                 <b><?php echo $contractorDistance['name']; ?></b>
                                        <?php } ?>
										</td>
										<td style="text-align: center;" class="valueText" ><?php echo number_format($contractorDistance['distance'], 2); ?> KM</td>
									</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
					</div>
					<?php } ?>
				</div>
                <div class="details_info_container" style="float:left;" >
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
							<tr>
								<td colspan='2' height="30" class="curveLGrnLBg billToPadding txt-lft" ><b>Inquiry Details :</b></td>
							</tr>
                            <tr>
                                <td class="labelText" style="width:130px;" ><b>Inquiry #</b></td>
                                <td class="valueText"><span style="color: #333333; font-weight: bold;"><?php echo $this->escape($this->inquiry['inquiry_num']); ?></span></td>
                            </tr> 
                            <?php if (isset($this->estimate) && !empty($this->estimate)): ?>
                                <tr>
                                    <td class="labelText"><b>Estimate #</b></td>
                                    <td class="valueText">
                                        <b>
                                            <?php if (CheckAuth::checkCredential(array('estimateView')) && !$this->estimate['is_deleted']): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $this->estimate['id']), 'estimateView')); ?>" class="a_black"><?php echo $this->escape($this->estimate['estimate_num']) ?></a>
                                            <?php else: ?>
                                                <span><?php echo $this->escape($this->estimate['estimate_num']) ?></span>
                                            <?php endif; ?>
                                        </b>
                                    </td>
                                </tr> 
                            <?php elseif (isset($this->booking) && !empty($this->booking)): ?>
                                <tr>
                                    <td class="labelText"><b>Booking #</b></td>
                                    <td class="valueText">
                                        <b>
                                            <?php if (CheckAuth::checkCredential(array('bookingView')) && !$this->booking['is_deleted']): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>" class="a_black"><?php echo $this->escape($this->booking['booking_num']) ?></a>
                                            <?php else: ?>
                                                <span><?php echo $this->escape($this->booking['booking_num']) ?></span>
                                            <?php endif; ?>
                                        </b>
                                    </td>
                                </tr> 
                                <?php if (isset($this->invoice) && !empty($this->invoice)): ?>
                                    <tr>
                                        <td class="labelText"><b>Invoice #</b></td>
                                        <td class="valueText">
                                            <b>
                                                <?php if (CheckAuth::checkCredential(array('invoiceView')) && !$this->invoice['is_deleted']): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'invoiceView')); ?>" class="a_black"><?php echo $this->escape($this->invoice['invoice_num']) ?></a>
                                                <?php else: ?>
                                                    <span><?php echo $this->escape($this->invoice['invoice_num']) ?></span>
                                                <?php endif; ?>
                                            </b>
                                        </td>
                                    </tr> 
                                <?php endif; ?>
                            <?php endif; ?>
                            <tr>
                                <td class="labelText"><b>Title</b></td>
                                <td class="valueText"><?php echo wordwrap($this->escape($this->inquiry['title']), 30, "<br />\n"); ?></td>
                            </tr> 
                            <tr>
                                <td valign="top" align="right" class="labelText"><b>Deferred To</b></td> 
                                <td valign="top" class="valueText">
                                    <?php if ($this->inquiry['deferred_date']):; ?>
                                        <div id="follow_date_container_<?php echo $this->escape($this->inquiry['inquiry_id']) ?>" class="details_info_l">
                                            <div id="follow_date_value_<?php echo $this->escape($this->inquiry['inquiry_id']) ?>" style="float: left; width: 165px;">
                                                <?php echo $this->escape(getDateFormating($this->inquiry['deferred_date'])); ?>
                                            </div>
                                            <div  id="follow_date_button_<?php echo $this->escape($this->inquiry['inquiry_id']) ?>" style="float: left; margin-left: 10px;">
                                                <a href="javascript:;" onclick="change_follow_date(<?php echo $this->escape($this->inquiry['inquiry_id']) ?>)" class="a_link"> Edit</a>
                                            </div>
                                            <div class="clearBoth"></div>
                                        </div>

                                    <?php else : ?>
                                        <?php echo "Immediately"; ?>
                                    <?php endif; ?>
                                </td>

                            </tr>
                            <tr>
                                <td valign="top" align="right" class="labelText"><b>Status</b></td> 
                                <td valign="top" class="valueText"><?php echo $this->escape($this->inquiry['status']); ?></td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" class="labelText"><b>Inquiry Type</b></td>
                                <td valign="top" class="valueText"><?php echo $this->escape($this->inquiry_type['inquiry_name']); ?></td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" class="labelText"><b>Property Type</b></td>
                                <?php $modelPropertyType = new Model_PropertyType(); ?>
                                <?php $propertyType = $modelPropertyType->getById($this->inquiry['property_type_id']) ?>
                                <td valign="top" class="valueText"><?php echo $this->escape($propertyType['property_type']); ?></td>
                            </tr>
							<?php  if ($this->originalInquiry){ ?>
								<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeSearchEngineReferer'))){ ?>
								<tr>
									<td valign="top" align="right" class="labelText"><b>Search Engine Referer</b></td>
									<td valign="top" class="valueText"><?php echo $this->escape($this->originalInquiry['search_engine_referer']); ?></td>
								</tr>
								<?php } ?>
								
								<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeKeywordReferer'))){ ?>
									<tr>
										<td valign="top" align="right" class="labelText"><b>keyword Referer</b></td>
										<td valign="top" class="valueText"><?php echo $this->escape($this->originalInquiry['keywords']); ?></td>
									</tr>
								<?php } ?>
								
								<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeIpAddress'))){ ?>
								<tr>
									<td valign="top" align="right" class="labelText"><b>IP Address</b></td>
									<td valign="top" class="valueText" style="vertical-align: middle;" >
										<?php echo $this->escape($this->originalInquiry['ip_address']); 
										if(isset($this->originalInquiry['ip_address'])){
										
										// test if this ip is blocked, if yes show un block button instead of block button
										$isBanned = $modelBannedIpAddress->isBannedIP($this->originalInquiry['ip_address']);
										if($isBanned){
										?>
										<input id="unblock_btn" type="button" value="unBlock IP Address" onClick="remove_banned_ip('<?php echo $this->escape($this->url(array('ip' => $this->originalInquiry['ip_address']),'removeBannedIp')); ?>'); return false;" />
										<?php
										}
										else{
										?>
										<input id="block_btn" type="button" value="Block IP Address" onClick="add_banned_ip('<?php echo $this->escape($this->url(array('ip' => $this->originalInquiry['ip_address']),'addBannedIp')); ?>'); return false;" />
										<?php 
										}
										
										} ?>
									</td>
								</tr>
								<?php } ?>
								<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeePageUrl'))){ ?>
								<tr>
									<td valign="top" align="right" class="labelText"><b>Page Url</b></td>
									<td valign="top" class="valueText"><?php echo $this->escape($this->originalInquiry['page_url']); ?></td>
								</tr>
								<?php } ?>
								<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeWebsite'))){ ?>
								<tr>
									<td valign="top" align="right" class="labelText"><b>website</b></td>
									<td valign="top" class="valueText"><?php echo $this->escape($this->originalInquiry['website']); ?></td>
								</tr>
								<?php } ?>
																								
								<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeKeywordReferer'))){ ?>
									<tr>
										<td valign="top" align="right" class="labelText"><b>Browser</b></td>
										<td valign="top" class="valueText"><?php echo $this->escape($this->originalInquiry['browser']); ?></td>
									</tr>
								<?php } ?>
								
								<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeKeywordReferer'))){ ?>
									<tr>
										<td valign="top" align="right" class="labelText"><b>Browser Version</b></td>
										<td valign="top" class="valueText"><?php echo $this->escape($this->originalInquiry['browser_version']); ?></td>
									</tr>
								<?php } ?>
								
								<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeKeywordReferer'))){ ?>
									<tr>
										<td valign="top" align="right" class="labelText"><b>Browser Platform</b></td>
										<td valign="top" class="valueText"><?php echo $this->escape($this->originalInquiry['browser_platform']); ?></td>
									</tr>
								<?php } ?>
								<?php if($user['role_id'] == $superAdminRoleId || CheckAuth::checkCredential(array('canSeeKeywordReferer'))){ ?>
									<tr>
										<td valign="top" align="right" class="labelText"><b>Device type</b></td>
										<td valign="top" class="valueText"><?php echo $this->escape($this->originalInquiry['device_type']); ?></td>
									</tr>
								<?php } ?>
								
							<?php } ?>
                        </tbody>
                    </table>
                </div>
                <div class="clearBoth"></div>
            </div>

			<?php if(nl2br($this->escape($this->inquiry['comment']))){ ?>
					<table width="100%" cellspacing="0" cellpadding="0" border="0" style="float:left; padding-top:30px; padding-bottom:30px;">
						<tbody>
							<tr>
								<td height="30" class="curveLGrnLBg billToPadding txt-lft" >
									<div class="info_title" >
									<b> Comment : </b>
									</div>
								</td>
							</tr>
							<tr>
								<td class="defaultInnerBg padding10 txt-lft">
								<?php
									$comment = wordwrap($this->inquiry['comment'], 90, "\n", true);
								?>
									<?php echo nl2br($this->escape($comment)); ?>
								</td>
							</tr>
						</tbody>
					</table>
			<?php } ?>
			
            
            <table class="book_view_info_table_cont"  >
                <tr class="book_view_info_table_head" style="background-color: #A1A1A1;">
                    <td class="txt_white" width="20">#</td>
                    <td class="txt_white" style="text-align: left;">SERVICE</td>
                    <td class="txt_white">SERVICE DETAILS</td>
                </tr>
                <?php foreach ($this->services as $key => $service): ?>
                    <tr style="border-bottom: 1px solid #A1A1A1; background-color:<?php if ($key % 2 != 0): ?>#ECECEC<?php endif; ?>;">
                        <td><?php echo $this->escape($key + 1); ?></td>
                        <td style="text-align: left;"><?php echo $this->escape($service['service_name']); ?></td>

                        <td class="padd_5px">
                            <?php if (isset($service['attributes']) && $service['attributes']): ?>
                                <?php foreach ($service['attributes'] as $attribute) { ?> 
                                    <div>
                                        <div class="float_l_r">
                                            <?php echo $this->escape($attribute['attribute_name']); ?>
                                        </div>
                                        <div class="float_r_l">
                                            <?php
                                            if (is_array($attribute['value'])) {
                                                foreach ($attribute['value'] as $value) {
                                                    echo $this->escape($value) . '<br/>';
                                                }
                                            } else {
                                                echo $this->escape($attribute['value']);
                                            }
                                            ?>
                                        </div>
                                    </div>
                                    <div style="clear: both"></div>
                                <?php } ?>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>

            <?php
            $view = new Zend_View();
            $view->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');

            $view->inquiryId = $this->inquiry['inquiry_id'];
            $view->view = 'inquiry';

            echo $view->render('tabs.phtml');
            ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('inquiryAdd'))): ?>
                    <div class="btn_cont">
                        <a href="<?php echo $this->escape($this->url(array(), 'inquiryAdd')); ?>" class="btn_a">
                            <div class="text_pos">
                                New Inquiry
                            </div>
                        </a>
                    </div>       
                <?php endif; ?>
                <?php if (!empty($this->isWorkOrder)): ?>
                    <div class="typeprice" style="background-color: red; color: white;">
                        work Order Attachment File Required
                    </div>
                <?php endif; ?>
                <?php if (!$this->inquiry['is_deleted']): ?>
                    <?php if (CheckAuth::checkCredentialOr(array('inquiryEdit', 'inquiryConvertToBooking', 'inquiryConvertToEstimate', 'inquiryLabel'))): ?>
                        <div class="gray-border-bottom">
                            <ul class="links">
                                <li class="edit">
                                    <?php if (CheckAuth::checkCredential(array('inquiryEdit')) && $this->inquiry['status'] == 'inquiry'): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryEdit')); ?>">Edit</a>
                                    <?php endif; ?>
                                </li>
                                <li class="convert-to-open">
                                    <?php if (CheckAuth::checkCredential(array('inquiryConvertToBooking')) && $this->inquiry['status'] == 'inquiry'): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryConvertToBooking')); ?>">Convert To Booking</a>
                                    <?php endif; ?>
                                </li>
                                <li class="convert-to-open">
                                    <?php if (CheckAuth::checkCredential(array('inquiryConvertToEstimate')) && $this->inquiry['status'] == 'inquiry'): ?>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryConvertToEstimate')); ?>">Convert To Estimate</a>
                                    <?php endif; ?>
                                </li>
                                <li class="labels">
                                    <?php if (CheckAuth::checkCredential(array('inquiryLabel'))): ?>
                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('inquiry_id' => $this->inquiry['inquiry_id']), 'inquirySelectLabel')); ?>','250','200','Inquiry Label');" class="details_info_opt">Label</a>
                                    <?php endif; ?>
                                </li>
                            </ul>
                        </div>   
                    <?php endif; ?>

                    <div class="gray-border-bottom">
                        <ul class="links">
                            <li class="navigation">
                                <?php
                                $modelInquiryAddress = new Model_InquiryAddress();
                                $address = $modelInquiryAddress->getByInquiryId($this->inquiry['inquiry_id']);
                                $nearestBookingParams = array();
                                $nearestBookingParams[] = 'unit_lot_number=' . urlencode($address['unit_lot_number']);
                                $nearestBookingParams[] = 'street_number=' . urlencode($address['street_number']);
                                $nearestBookingParams[] = 'street_address=' . urlencode($address['street_address']);
                                $nearestBookingParams[] = 'suburb=' . urlencode($address['suburb']);
                                $nearestBookingParams[] = 'state=' . urlencode($address['state']);
                                $nearestBookingParams[] = 'postcode=' . urlencode($address['postcode']);
                                $nearestBookingParams[] = 'city_id=' . urlencode($this->inquiry['city_id']);
                                $nearestBookingParams = implode("&", $nearestBookingParams);
                                ?>
                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>','500','900','Nearest Bookings','<?php echo $this->escape($nearestBookingParams) ?>');">Nearest Booking</a>
                            </li>
                            <li class="navigation">
                                <?php
                                $findAvailabilityParams = array();
                                $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($address['unit_lot_number']);
                                $findAvailabilityParams[] = 'street_number=' . urlencode($address['street_number']);
                                $findAvailabilityParams[] = 'street_address=' . urlencode($address['street_address']);
                                $findAvailabilityParams[] = 'suburb=' . urlencode($address['suburb']);
                                $findAvailabilityParams[] = 'state=' . urlencode($address['state']);
                                $findAvailabilityParams[] = 'postcode=' . urlencode($address['postcode']);
                                $findAvailabilityParams[] = 'city_id=' . urlencode($this->inquiry['city_id']);
                                foreach ($this->services as $service) {
                                    $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                }
                                $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                ?>
                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>','500','1000','Find Availability','<?php echo $this->escape($findAvailabilityParams) ?>');">Find Availability</a>
                            </li>

                        </ul>
                    </div> 
                    <?php if (CheckAuth::checkCredentialOr(array('sendEmail'))): ?>
                        <div class="gray-border-bottom">
                            <ul class="links">
                                <li class="send-email">
                                    <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
                                        <a href="javascript:;" onclick="sendEmail('<?php echo $this->escape($this->url(array('id' => $this->inquiry['customer_id'], 'type' => 'inquiry', 'reference_id' => $this->inquiry['inquiry_id']), 'sendEmail')); ?>');">Send Email</a>
                                    <?php endif; ?>
                                </li>
                            </ul>
                        </div> 
                    <?php endif; ?>
                    <div>
                        <ul class="links">
                            <li class="make-recurring">
                                <?php if (CheckAuth::checkCredential(array('attachment'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryAttachment')); ?>" class="details_info_opt">Files Attachment</a>
                                <?php endif; ?>
                            </li>
                            <li class="delete">
                                <?php if (CheckAuth::checkCredential(array('inquiryDelete'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryDelete')); ?>" onclick="return confirm('are you sure you want to delete this inquiry?');">Delete</a>
                                <?php endif; ?>
                            </li>
                        </ul>
                    </div> 
                <?php else: ?>
                    <div>
                        <ul class="links">
                            <li class="delete">
                                <?php if (CheckAuth::checkCredential(array('inquiryDeleteForever'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryDeleteForever')); ?>" onclick="return confirm('are you sure you want to delete this inquiry?');">Delete Forever</a>
                                <?php endif; ?>
                            </li>
                            <li class="undelete">
                                <?php if (CheckAuth::checkCredential(array('inquiryUndelete'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->inquiry['inquiry_id']), 'inquiryUndelete')); ?>" onclick="return confirm('are you sure you want to restore this inquiry?');">UnDelete</a>
                                <?php endif; ?>
                            </li>
                        </ul>
                    </div> 
                <?php endif ?>

                <div class="createdTimeDiv">
                    Created On
                    <br/>
                    <?php echo $this->escape(getDateFormating($this->inquiry['created'])); ?>
                </div>

                <?php if ($this->originalInquiry): ?>
                    <div class="oreginalInquiry">
                        <div style="margin-bottom: 5px;">
                            Original Inquiry
                        </div>
                        <div class="filter_border_top"></div>
                        <div style="font-size: 12px; font-weight: normal;">
                            <div style="margin-top: 5px">
                                <div>
                                    Property Type : <?php echo $this->escape($this->originalInquiry['property_type']); ?>
                                </div>
                                <div>
                                    Name : <?php echo $this->escape($this->originalInquiry['name']); ?>
                                </div>
                                <div>
                                    Email : <?php echo $this->escape($this->originalInquiry['email']); ?>
                                </div>
                                <div>
                                    Mobile : <?php echo $this->escape($this->originalInquiry['mobile']); ?>
                                </div>
                                <div>
                                    Phone : <?php echo $this->escape($this->originalInquiry['phone']); ?>
                                </div>
                            </div>
                            <div style="margin-top: 5px">
                                <div>
                                    Address : <?php echo $this->escape($this->originalInquiry['address']); ?>
                                </div>
                                <div>
                                    City : <?php echo $this->escape($this->originalInquiry['city']); ?>
                                </div>
                                <div>
                                    Postcode : <?php echo $this->escape($this->originalInquiry['postcode']); ?>
                                </div>
                            </div>
                            <div style="margin-top: 5px">
                                <div>
                                    Service : <?php echo $this->escape($this->originalInquiry['service']); ?>
                                </div>
                                <div>                               
                                    Floor : <?php echo $this->escape($this->originalInquiry['floor']); ?>
                                </div> 
                                <div>
                                    Required : <?php echo $this->escape($this->originalInquiry['required']); ?>
                                </div>
                                <div>
                                    Comment : <?php echo $this->escape($this->originalInquiry['comment']); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </td>
    </tr>
</table>

<script>
    function sendEmail(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=510&width=800');
        });
    }
    
    
    
    function change_follow_date(inquiry_id){
       
        var value = $('#follow_date_value_'+inquiry_id).html().trim();
        $('#follow_date_value_'+inquiry_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="follow_date_'+inquiry_id+'" readonly="readonly" value="'+value+'" />');
        $('#follow_date_button_'+inquiry_id).css('padding-top','2px');
        $('#follow_date_button_'+inquiry_id).html('<a href="javascript:;" onclick="save_follow_date('+inquiry_id+')" class="a_link">Save</a>');
        $('#follow_date_'+inquiry_id).datetimepicker({
            ampm: true,
            timeFormat: 'hh:mm tt',
            dateFormat: 'MM dd ,yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    }
    
    function save_follow_date(inquiry_id){
        $('#follow_date_button_'+inquiry_id).css('padding-top','0');
        $('#follow_date_button_'+inquiry_id).html('<img src="/pic/loading-4.gif">');
        $('#label_'+inquiry_id).remove();
        
        var follow_date = $('#follow_date_'+inquiry_id).val();
        if(follow_date != ''){
            $.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array(), 'modifyInquiryFollowDate')); ?>',
                data:{
                    'follow_date':follow_date,
                    'inquiry_id':inquiry_id
                },
                success: function(result) {
                    if(result == '1'){
                        $('#follow_date_value_'+inquiry_id).html(follow_date);
                        $('#follow_date_button_'+inquiry_id).html('<a href="javascript:;" onclick="change_follow_date('+inquiry_id+')" class="a_link">Edit</a>');
                    }
                }
            
            });
        }else{
            $('#follow_date_value_'+inquiry_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="follow_date_'+inquiry_id+'" readonly="readonly" />');
            $('#follow_date_button_'+inquiry_id).css('padding-top','2px');
            $('#follow_date_button_'+inquiry_id).html('<a href="javascript:;" onclick="save_follow_date('+inquiry_id+')" class="a_link">Save</a>');
            $('#follow_date_container_'+inquiry_id).after('<label id="label_'+inquiry_id+'"class="error">Field required</label>');
            $('#follow_date_'+inquiry_id).datetimepicker({
                ampm: true,
                timeFormat: 'hh:mm tt',
                dateFormat: 'MM dd ,yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true
            });
        }
    }
	
	
function add_banned_ip(url){
	var is_confirmed = confirm('Are you sure you want to add this ip to banned ip ?');
		if(is_confirmed){
			$.ajax({
            type: "POST",
            url: url,
            dataType : "json",
            success: function(data) {
				if(data.done){
					alert('this ip '+ data.ip + ' is blocked successfully.');
					$('#block_btn').remove();
				}
				else{
					alert('Error,You don\'t have permission ');
				}
				
            }
            
        });
		
		}
}

function remove_banned_ip(url){
	var is_confirmed = confirm('Are you sure you want to un block this IP ?');
		if(is_confirmed){
			$.ajax({
            type: "POST",
            url: url,
            dataType : "json",
            success: function(data) {
				if(data.done){
					alert('this ip '+ data.ip + ' is removed from banned IP list.');
					$('#unblock_btn').remove();
				}
				else{
					alert('Error,You don\'t have permission ');
				}
				
            }
            
        });
		
		}
}
</script>