<div style="border: 1px solid #EFEFEF;  background-color: #F7F7F7; width: 100%; font-size: 11px; height: 100% ">
    <div style="padding: 10px;">
        
        <div style="text-align: center;">
            <img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $this->imageAttachment['thumbnail_path'])); ?>"/>
        </div>

        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            <div style="float: left;">Service Name :</div>
            <div style="float: left; margin-left: 10px; color: black;">
                <?php
                if ($this->imageAttachment['service_id']) {
                    $modelServices = new Model_Services();
                    $service = $modelServices->getById($this->imageAttachment['service_id']);
                    echo $this->escape($service['service_name']);
                } else {
                    echo '-';
                }
                ?>
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            <div style="float: left;">Tile Type :</div>
            <div style="float: left; margin-left: 10px; color: black;">
                <?php
                if ($this->imageAttachment['attribute_list_value_id']) {
                    $modelAttributeListValue = new Model_AttributeListValue();
                    $floor = $modelAttributeListValue->getById($this->imageAttachment['attribute_list_value_id']);
                    echo $this->escape($floor['attribute_value']);
                } else {
                    echo '-';
                }
                ?>
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            Description
        </div>
        <div style="border: 1px solid #ACD2E7; padding: 10px;">
            <?php echo nl2br($this->escape($this->imageAttachment['description'])); ?>
        </div> 
        
    </div>
</div>