<form id="form_request" class="form-horizontal"  method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_request','#content_modal_popup');return false;">	
	<div class="form-group">
                    <div class="col-md-5"><?php echo $this->form->getElement('user_id')->render(); ?></div>
                </div>
				
	<div class="form-group">
	    <div class="col-md-5"><?php echo $this->form->getElement('request')->render(); ?></div>
	</div>		

    <div id="button_cont">
	  <?php echo $this->form->getElement('button')->render(); ?>
	</div>	
	
	<input type="hidden" name="id" value ="<?php echo $this->escape($this->booking_id); ?>"/>
	
	
	
	
	
</form>