<form id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" enctype="<?php echo $this->escape($this->form->getEnctype()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_upload('<?php echo $this->escape($this->form->getName()); ?>', '#TB_ajaxContent');">
    <?php echo $this->escape($this->message); ?>
    <table>
        <tr>
            <td class="input_type" valign="top">File Upload :</td>
            <td><?php echo $this->form->getElement('file')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Description :</td>
            <td><?php echo $this->form->getElement('description')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Work Order :</td>
            <td><?php echo $this->form->getElement('work_order')->render(); ?></td>
        </tr>
        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>