<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    All Attachments
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->inquiryAttachment): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'inquiryFileUploadDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete these files?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('attachmentFileDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td>Name</td>     
                                <td>Size</td>
                                <td>Work Order</td>
                                <td>Description</td>
                            </tr>
                            <?php $count = 0; ?>
                            <?php foreach ($this->inquiryAttachment as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['attachment_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['file_name']) ?>    
                                        </div>
                                        <div class="details_info_l">

                                            <?php if (CheckAuth::checkCredential(array('attachmentFileDownload'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['attachment_id']), 'inquiryFileDownload')); ?>"  class="details_info_opt">Download</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('attachmentFileDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['attachment_id']), 'inquiryFileUploadDelete')); ?>" onclick="return confirm('are you sure you want to delete this file?');" class="details_info_opt">Delete</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('attachmentFileEditDescription'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['attachment_id']), 'inquiryFileEditDescription')); ?>','200','450');"class="details_info_opt">Description Edit</a>
                                            <?php endif; ?>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['size']) ?>    
                                        </div>
                                    </td>
                                    <td>
                                        <div style="  margin: 10px 0px 5px 20px; font-size: 12px;">
                                            <?php if (CheckAuth::checkCredential(array('attachmentFileEditWorkOrder'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['attachment_id'], 'work_order' => $row['work_order']), 'inquirygFileEditWorkOrder')); ?>" class="a_link_black"><?php echo $this->escape(!empty($row['work_order']) ? 'Yes' : 'No') ?></a>
                                            <?php else: ?>
                                                <?php echo $this->escape(!empty($row['work_order']) ? 'Yes' : 'No') ?>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['attachment_id']), 'inquiryFileViewDescription')); ?>','300','600');" class="a_link_black"><?php echo nl2br($this->escape(mb_strlen($row['description']) > 50 ? mb_substr($row['description'], 0, 50) . '...' : $row['description'])) ?></a>
                                        </div>
                                    </td>

                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Files.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('attachmentFileUpload'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('inquiry_id' => $this->inquiry_id), 'inquiryFileUpload')); ?>','300','450');" class="btn_a">
                            <div class="text_pos">
                                Upload file
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Files
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'inquiryAttachment')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'inquiryAttachment')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>


