<div style="border: 1px solid #EFEFEF;  background-color: #F7F7F7; width: 100%; font-size: 11px; height: 100% ">
    <div style="padding: 10px;">
        <div style="line-height: 20px; margin-top: 5px;">
            <div style="float: left; color: #666666; font-weight: bold;">Attachment File :</div>
            <div style="float: left; margin-left: 10px;">
                <a href="<?php echo $this->escape($this->url(array('id' => $this->bookingAttachment['attachment_id']), 'bookingFileDownload')); ?>" class="a_link"><?php echo $this->escape($this->bookingAttachment['file_name']) ?></a>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            <div style="float: left;">Work Order :</div>
            <div style="float: left; margin-left: 10px; color: black;"><?php echo ($this->escape($this->bookingAttachment['work_order']) ? 'YES' : 'NO') ?></div>
            <div style="clear: both;"></div>
        </div>
        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            Description
        </div>
        <div style="border: 1px solid #ACD2E7; padding: 10px;">
            <?php echo nl2br($this->escape($this->bookingAttachment['description'])); ?>
        </div> 
    </div>
</div>

