<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h3>Contact Details :</h3>
    
    <div class="form-group">
            <label class="col-md-4">Owner Name <span style="color:#ff0000">*</span>:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('name')->render(); ?></div>
    </div>
	<div class="form-group">
	  <label class="col-md-4">Email 1 <span style="color:#ff0000">*</span>:</label>
      <div class="col-md-7"><?php echo $this->form->getElement('email1')->render(); ?></div>
	  <a href="javascript:;" style="text-decoration: none;" onclick="$('#email_2').show();" class="col-md-1">
        <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
      </a>
	</div>
	
       
        <div id="email_2" style="display: <?php echo!$this->form->getElement('email2')->getValue() ? 'none' : 'table-row'; ?>;" class="form-group">
            <label  class="input_type col-md-4" >Email 2: </label>
            <div class="col-md-6"><?php echo $this->form->getElement('email2')->render(); ?></div>
           
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#email_3').show();" class="col-md-1">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#email2').val('');$('#email_2').hide();" class="col-md-1">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
           
        </div>
        <div class="form-group" id="email_3" style="display: <?php echo!$this->form->getElement('email3')->getValue() ? 'none' : 'table-row'; ?>;">
            <label class="col-md-4">Email 3: </label>
            <div class="col-md-7"><?php echo $this->form->getElement('email3')->render(); ?></div>
           
                <a href="javascript:;" class="col-md-1" style="text-decoration: none;" onclick="$('#email3').val('');$('#email_3').hide();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
           
        </div>
        <div class="form-group">
            <label class="col-md-4" >Mobile 1 <span style="color:#ff0000">*</span>:</label>
            <div class="col-md-7"><?php echo ($this->form->getElement('mobile1')->render()); ?></div>
            
                <a href="javascript:;" class="col-md-1" style="text-decoration: none;" onclick="$('#mobile_2').show();">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            
        </div>
        <div class="form-group" id="mobile_2" style="display: <?php echo!$this->form->getElement('mobile2')->getValue() ? 'none' : 'table-row'; ?>;">
            <label class="col-md-4">Mobile 2:</label>
            <div class="col-md-6"> <?php echo ($this->form->getElement('mobile2')->render()); ?></div>
            
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#mobile_3').show();" class="col-md-1">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#mobile2').val('');$('#mobile_2').hide();" class="col-md-1">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            
        </div>
        <div id="mobile_3" style="display: <?php echo!$this->form->getElement('mobile3')->getValue() ? 'none' : 'table-row'; ?>;" class="form-group">
            <label class="col-md-4" valign="top">Mobile 3:</label>
            <div class="col-md-7"><?php echo ($this->form->getElement('mobile3')->render()); ?></div>
            
                <a href="javascript:;" style="text-decoration: none;" onclick="$('#mobile3').val('');$('#mobile_3').hide();" class="col-md-1">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            
      </div>

        <div class="form-group">
            <label class="col-md-4" valign="top">Phone 1:</label>
            <div class="col-md-7"><?php echo ($this->form->getElement('phone1')->render()); ?></div>
            
                <a href="javascript:;"  style="text-decoration: none;" onclick="$('#phone_2').show();" class="col-md-1">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            
        </div>
        <div  class="form-group" id="phone_2" style="display: <?php echo!$this->form->getElement('phone2')->getValue() ? 'none' : 'table-row'; ?>;">
            <label class="col-md-4">Phone 2:</label>
            <div class="col-md-6"><?php echo ($this->form->getElement('phone2')->render()); ?></div>
            
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#phone_3').show();" class="col-md-1">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
                <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#phone2').val('');$('#phone_2').hide();" class="col-md-1">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            
        </div>
        <div id="phone_3" style="display: <?php echo!$this->form->getElement('phone3')->getValue() ? 'none' : 'table-row'; ?>;" class="form-group">
            <label class="col-md-4" valign="top">Phone 3:</label>
            <div class="col-md-7"><?php echo ($this->form->getElement('phone3')->render()); ?></div>
			
            
                <a href="javascript:;" style="text-decoration: none;" onclick="$('#phone3').val('');$('#phone_3').hide();" class="col-md-1">
                    <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
                </a>
            
        </div>
		<div class="form-group">
            <label class="col-md-4">Fax:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('fax')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-4">Emergency Phone:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('emergency_phone')->render(); ?></div>
    </div>
       
    

    <h3>Address Details :</h3>

    <div class="form-group">
            <label class="col-md-4">Unit / Lot Number :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('unit_lot_number')->render(); ?></div>
    </div>
         <div class="form-group">
            <label class="col-md-4">Street Number <span style="color:#ff0000">*</span>:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('street_number')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-4">Street Name <span style="color:#ff0000">*</span>:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('street_address')->render(); ?></div>
    </div>
        <div class="form-group">
            <label class="col-md-4">Suburb :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('suburb')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-4">Postcode <span style="color:#ff0000">*</span>:</label>
            <div class="col-md-8"><?php echo $this->form->getElement('postcode')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-4">PO Box (Postal Address):</label>
            <div class="col-md-8"><?php echo $this->form->getElement('po_box')->render(); ?></div>
    </div>
	<div class="form-group">
            <label class="col-md-4">Country :</label>
            <div class="col-md-8"><?php echo $this->form->getElement('country_id')->render(); ?></div>
    </div>
	

        <div class="form-group" id="state_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-4" valign="top">State :</label>
            <div id="state_cont" class="col-md-8"><?php echo $this->form->getElement('state')->render(); ?></div>
        </div>

        <div class="form-group"id="city_block" <?php if (!$this->form->getElement('state')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-4" class="input_type" valign="top">City :</label>
            <div class="col-md-8" id="city"><?php echo $this->form->getElement('city_id')->render(); ?></div>
        </div>

  <div class="form-group">
			<div class="col-md-8 col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>        
    
</form>

<script type="text/javascript">
    
    function getState(){
        if($('#country_id').val()){
            $('#state_block').css('display','table-row');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country_id').val(),
                success: function(msg) {
                    $('#state_block').css('display','table-row');
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#state_block').css('display','none');
            $('#city_block').css('display','none');
        }
    }
    
    function getCities(){
        if($('#state').val()){
            $('#city_block').css('display','table-row');
            $('#city').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id="+$('#country_id').val()+"&state="+$('#state').val(),
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
</script>