<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsContractorOwnerAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New Owner','<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorOwnerAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Owner
                        </div>
                    </a>
                </div> 
            <?php endif; ?>

            <div>
                <div class="button_actions">
                    <h5>    Search Owners </h5>
                </div>
                 <form id="search_form" class="form-inline" action="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorOwnerList')); ?>" method="GET" >
                        
                        
                            <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        
                    
                             <a href="javascript:;" onclick="$('#search_form').submit();" class="btn btn-primary">Search</a> <span class="or_span a_margin-responsive">or</span>
                             <button class="btn btn-white " type="reset" >Reset</button>
                                      
                    </form>
                    
            </div>
        </div>
</div>
<div style="margin-top:10px;" class="ibox float-e-margins no-margin-b">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title">
                        <h5> 
						 Modify Owners
						</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					  <div class="ibox-content">
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorOwnerDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Contractor Owner?');">
                    
                  
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsContractorOwnerDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Owners</b></td>
                                <td><b>Avatar</b></td>
                                </tr>
                            </thead>
                            <tbody>
                               <?php $count = 0; ?>
                           
                           
                            <?php foreach ($this->data as $row) : ?>
                               
                                    <tr>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['contractor_owner_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l">
                                            <div>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Owner Details','<?php echo $this->escape($this->url(array('id' => $row['contractor_owner_id']), 'settingsContractorOwnerview')); ?>');"class="details_info_name"><?php echo $this->escape($row['name']) ?></a>
                                            </div>
                                            <div class="booking_time_cont">
                                                <span style="color: #A1A1A1;">Contractor:</span> <?php echo $this->escape($row['username']) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorOwnerEdit'))): ?>
                                                <a  href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Owner Details','<?php echo $this->escape($this->url(array('id' => $row['contractor_owner_id']), 'settingsContractorOwnerEdit')); ?>');"class="details_info_opt">Edit</a>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorOwnerDelete'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id, 'id' => $row['contractor_owner_id']), 'settingsContractorOwnerDelete')); ?>" onclick="return confirm('are you sure you want to delete this Contractor Owner?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorOwnerPhotoUpload'))): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['contractor_owner_id']), 'settingsContractorOwnerPhotoUpload')); ?>" class="details_info_opt">upload Avatar</a>
                                            <?php endif; ?>
                                        </div>
										<td>
                                        <div style="float:  right; padding: 10px 10px;"> 
                                            <?php if (!empty($row['small_avatar_path'])): ?>
                                                <img src="<?php echo $this->baseUrl('/uploads/avatar/' . $row['small_avatar_path']) ?>"/>
                                            <?php else: ?>
                                                <img  style=" border: 1px solid rgb(204, 204, 204); "src="<?php echo $this->baseUrl('/pic/avatar-small.jpg') ?>"/> 
                                            <?php endif; ?>
                                        </div>
                                    </td>
										</td>
                                        
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no Owner.</div>
        <?php endif; ?>
</div>
<div style="clear:both"></div>


