<div class="menu_postion">
    <div class="sub_cont">
        <?php if (!$this->is_sub_menu) { ?>
            <div class="sub_button first_sub_button <?php if ($this->sub_menu == 'customer') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'customerList')); ?>">
                    All Customers
                </a>
            </div>
            <?php if (CheckAuth::checkCredential(array('showDeletedCustomer'))): ?>
                <div class="sub_button <?php if ($this->sub_menu == 'deleted_customer') { ?>sub_button_selected<?php } ?>">
                    <a href="<?php echo $this->escape($this->url(array(), 'showDeletedCustomer')); ?>">
                        Deleted Customers
                    </a>
                </div>
            <?php endif; ?>
            <?php if (CheckAuth::checkCredential(array('findDuplicateCustomer'))): ?>
                <div class="sub_button <?php if ($this->sub_menu == 'duplicate_customer') { ?>sub_button_selected<?php } ?>">
                    <a href="<?php echo $this->escape($this->url(array(), 'findDuplicateCustomer')); ?>">
                        Find Duplicate Customer
                    </a>
                </div>
            <?php endif; ?>
        <?php } ?>
    </div>
</div>