
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Service : </label>
            <div class="col-lg-9">
            <?php echo $this->form->getElement('service_name')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Min Price :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('min_price')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Price Equation : </label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('price_equasion')->render(); ?>
             </div>
        </div>
			<div class="form-group">
            <label class="col-lg-3 " >Estimate Time : </label>
             <div class="col-lg-9">
			  <div class="row">
			   <div class="col-md-6"> <?php echo $this->form->getElement('estimate_time')->render(); ?> </div>
			   <div class="col-md-6">
			   <select class="form-control" name="estimate_time_unit">
			    <option value="h">Hours</option>
			    <option value="m">Minutes</option>
			    <option value="s">Seconds</option>
			   </select>
			  </div>
			 </div>
           
             </div>
        </div>
		<div class="form-group">
            <label class="col-md-3">Upload Image(s) :</label>
            <div class="col-md-9">
					<div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
				<div class="dz-message"></div>
				</div>
			</div>
        </div>
		
		  <input type="hidden" value="<?php echo isset($this->default_image['attachment_id'])?  $this->default_image['attachment_id'] : 0 ?>" name="default_image_id" id="default_image_id"/>
        
        <div class="form-group">
            <div class="col-md-5">
            <label class="col-md-8">Default Image: </label>
                <div class="btn-group profile-cog">
                        <button data-toggle="dropdown" class="btn  btn-xs dropdown-toggle"><i class="fa fa-camera"></i></button>
                        <ul class="dropdown-menu setting-m">
                            <li>
                                <a>
                                <span class="span_file_input">
                                    Upload Image 
									<input name="profile_picture" type="file" id="contractor_profile" onchange="DefaultServiceImage();" accept="image/x-png, image/jpg, image/jpeg">
									
                                </span>
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-image" >
                    <div id="preview">
                        <img src="<?php
                        if ($this->default_image['thumbnail_file']) {
                            $parts = explode("public",$this->default_image['thumbnail_file']);
                            echo $this->baseUrl($parts['1']);
                        } else {
                            echo $this->baseUrl('/pic/attribute_pics/default_image.png');
                        }
                        ?>" width="180" height="150" class="img-circle circle-border" style="border-radius: 10%;" alt="profile">

                        <div id="loader_view" style="display: none;">
                            <img class="img-responsive" src="<?php echo $this->baseUrl('/pic/loading-4.gif'); ?>" />
                        </div>
                    </div>
                </div>           
            </div>
                
        </div>
		
		<input type="hidden" value="" name="deleted_ids" id="deleted_ids"/>
       
       <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
       
    </form>
	
	<script>
	
	    function DefaultServiceImage() {

        if ($('#contractor_profile').get(0).files.length != 0) {

            var fileInput = $("#contractor_profile")[0],
                    file = fileInput.files && fileInput.files[0];

            var img = new Image();

            img.src = window.URL.createObjectURL(file);

            img.onload = function () {
                var width = img.naturalWidth,
                        height = img.naturalHeight;

                window.URL.revokeObjectURL(img.src);

                if (width > 699 && height > 399) {

                    var data = new FormData();
                    jQuery.each(jQuery('#contractor_profile')[0].files, function (i, file) {
                        data.append('contractor_profile-' + i, file);
                    });

                    $("#loader_view").css('display', 'block');
                    $.ajax({
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                        url: "<?php echo $this->url(array(), 'settingSetServiceDefaultImage'); ?>",
                        data: data,
                        dataType: 'JSON',
                        // timeout: 50000,
                        success: function (msg) {
                            $('#preview').html(msg.image);
                            $('#default_image_id').val(msg.attachment_id);
                            $("#loader_view").css('display', 'none');
                        },
                        error: function (error)
                        {
                            alert("some thing error here!!");

                            console.log(error);

                        }
                    });





                } else {
                $(".modal-footer").show();
                $("#okBtn").css('display','none');
                    confirm_message('Image must be at least 700px width and 400px height');
                }
            };



        }
    }
	
	var id = <?php echo(isset($this->id)? $this->id : 0 ); ?> ;
	var deleted_ids = new Array();
	var postMaxSize = '<?php echo str_replace('M', '', ini_get('post_max_size')); ?>';
    var totalSizes = 0;   
	var photoDropzone = new Dropzone("#form", {
    url: '<?php echo $this->escape($this->form->getAction());?>',
    autoProcessQueue: false,
    uploadMultiple: true,
    parallelUploads: 10,
    maxFiles: 100,
	maxFilesize: 10,
    previewsContainer: '#dropzonePreview',
    clickable: '#dropzonePreview',
	addRemoveLinks: true,
	acceptedFiles: ".jpeg,.jpg,.png,.gif",
	removedfile: function(file) {
    var name = file.name;
    var id = file.id;
	
	deleted_ids.push(id);
    $('#deleted_ids').val(deleted_ids);
		var _ref;
		return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;        
              },

    // The setting up of the dropzone
    init: function () {
        var myDropzone = this;
		if ( id != 0 ){    
		$.ajax({
			type: "GET",
			dataType : "JSON",
			url: '<?php echo $this->escape($this->url(array('service_id' =>(isset($this->id)? $this->id : 0 )), 'settingsGetServiceImages')); ?>',
			success: function(data) {
			  $.each(data, function(key,value){
                			  
                var mockFile = { name: value.file_name, size: value.size , id : value.attachment_id};                
                myDropzone.options.addedfile.call(myDropzone, mockFile);
				var type = value.type.split("/");
				var parts = value.path.split("public");
				if(type['0'] == 'image'){
                  myDropzone.options.thumbnail.call(myDropzone, mockFile, parts['1']);                 				
				}
              });
			}
		 });
       }

        var submitButton = document.querySelector('input[type=submit]');
        myDropzone = this; // closure		
         $("#form").on("click","input[type=submit]", function(e) {
        
            e.preventDefault();
            e.stopPropagation();
			$('#button_cont').html('<img src="/pic/loading-4.gif">');
            if (myDropzone.getQueuedFiles().length === 0) {			    
                do_submit('<?php echo $this->escape($this->form->getAction());?>','#form','#content_modal_popup');				
            }
            else {		   
			   
                myDropzone.processQueue();				
            }     
	
   
           });
		
		this.on("successmultiple", function(files, response) {
		            
					  if(response == 1){
					    window.location.reload();
					  }else{
					    console.log('else');
					    $('#content_modal_popup').html(response);
					  }					 
					  
                    });
                    this.on("errormultiple", function(files, response) {
					  //alert(response);
					  $('#button_cont').html('<input type="submit" name="button" id="button" value="Save" class="btn btn-primary">');
                    });
		
         this.on("addedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes + MegaSize;
                if (totalSizes > postMaxSize) {
                    this.removeFile(file);
                    alert('Total files size is too big , Max total file size (30M)');
                }

            });

            this.on("removedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes - MegaSize;
                console.log(totalSizes);
            });
		
					
		
		
    }
});
	
	</script>


