<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsServicesAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Service','<?php echo $this->escape($this->url(array(), 'settingsServicesAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                           New Service
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                    <h5>  Search Services </h5>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsServicesList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsServicesList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                                                             

                    </form>
                     </div>
        </div>
    </div>
<div style="margin-top:10px;" class="no-margin-b">

    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div >
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsServicesDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Services?');">



                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>All Services</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settings'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table  table-bordered  responsive-table setting-services-table" id="editable" >
                            <thead>
                                <tr class="bg_table">
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Service</b></td>
                                    <td><b>Attribute</b></td>
                                    <td><b>Price Equasion</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php $modelServiceAttribute = new Model_ServiceAttribute(); ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['service_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l">
                                                <div>
                                                    <?php echo $this->escape($row['service_name']) ?> 
                                                </div>
                                                <div class="booking_time_cont">
                                                    <span style="color: #A1A1A1;">From :</span> <?php echo $this->escape($row['company_name']) ?>
                                                    <span style="color: #A1A1A1;">Min Price :</span> <?php echo $this->escape(number_format($row['min_price'], 2)) ?>
                                                </div>
                                            </div>
                                            <div class="details_info_l">
                                                <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['service_id']), 'settingsServicesEdit')); ?>');" class="details_info_opt">Edit</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['service_id']), 'settingsServicesDelete')); ?>" onclick="return confirm('are you sure you want to delete this Services?');" class="details_info_opt">Delete</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                   <div class="activePlace">                                
                        <div class="onoffswitch custome_service_switch" style="margin-top: 10px;margin-top: 10px;margin-left: -20px;">
                            <input class="checkbox_consider_min_price onoffswitch-checkbox" type="checkbox" id="serviceStaus<?php echo $row['service_id']; ?>" onchange="toggleStatusService(<?php echo $row['service_id']; ?>);" <?php if ($row['enable'] == 1){ echo 'checked'; } ?> >            
                            <label class="onoffswitch-label" for="serviceStaus<?php echo $row['service_id']; ?>">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('service_id' => $row['service_id']), 'settingsServiceAttributeList')); ?>" class="details_info_opt">Assign Attribute</a>
                                                <?php endif; ?>
												
												 <?php if (CheckAuth::checkCredential(array('settings'))){ ?>
												    <span class="details_breaks">|</span>
													<a href="<?php echo $this->escape($this->url(array('service_id' => $row['service_id']), 'settingsDiscountRangeList')); ?>"  class="details_info_opt">Service Discount</a>
                                                <?php } ?>
												
												
                                            </div></td>
                                        <td><?php $serviceAttribute = $modelServiceAttribute->getAttributeByServiceId($row['service_id']); ?>
                                            <div class="details_info_l" style="font-size: 14px;">
                                                <?php if ($serviceAttribute): ?>
                                                    <?php foreach ($serviceAttribute as $attribute): ?>
                                                        <div>
                                                            <?php echo $this->escape($attribute['attribute_name']); ?>
                                                        </div>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>
                                            </div>
                                        </td>
                                       
                                        <td class="center"> <div class="details_info_l" style="font-size: 14px;"><?php echo $this->escape($row['price_equasion']) ?></div></td>

                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
            <div style="text-align:center" class="noRowsMessageDIV">No services added.</div>

        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>


<style>
   .activePlace{
    display: inline-block;
    vertical-align: middle;
    padding-left: 23px;

   }
   .onoffswitch-inner::before{
        content: "Active";
   }
   .onoffswitch-inner::after{
        content: "Deactivate";
   }
   .onoffswitch-switch{
        right: 61px;
   }
   .onoffswitch {
        width: 80px;
   }

</style>

<script>
   function toggleStatusService(id){
      

          if($("#serviceStaus"+id).is(':checked')){
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'changeStatusOfServices'); ?>",
                data: "service_id=" + id + "&status=" +1,
                success: function (msg) {
                   /// console.log(msg);
                    
                }
            });

           
          }else{
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'changeStatusOfServices'); ?>",
                data: "service_id=" + id + "&status=" +0,
                success: function (msg) {
                   /// console.log(msg);
                    
                }
            });
            
          }
      
     
   }
</script>

