<div class="container-fluid">
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>

         <div class="form-group">
            <label class="col-lg-3 " >Service </label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('service_id')->render(); ?>
             </div>
        </div> 
        <div class="form-group">
            <label class="col-lg-3  " >Floor </label>
             <div class="col-lg-9">
                 <div class="select-floor">
                     <?php echo $this->form->getElement('floor_id')->render();?>
            </div>  
             </div>
        </div>
        
         <div id="button_cont">
        <?php echo $this->form->getElement('button')->render(); ?>
		</div>
       
    </form>
</div>
<script>
    $('#service_field').change(function () {
         $(".select-floor").html('<img class="loading-pic" src="/pic/image-loader.gif"/>');
        var service_id = $(this).val();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->url(array() , 'getFloorValues');?>",
            data: {'service_id': service_id},
            success: function (msg) {
               
                $(".select-floor").html(msg);
            }
        });
    });
</script>