<div style="margin-top:10px;">
    <?php $companyObj = new Model_Companies(); ?>

</div>

<?php
$loggedUser = CheckAuth::getLoggedUser();

                                     if($loggedUser ){
              $companyId = CheckAuth::getCompanySession();
          }

$loggedUserId = $loggedUser['user_id'];
$ModelFaqService = new Model_FaqService();
$model_faq = new Model_Faq();
/* $rows = $ModelFaqService->getByServiceId(34);

  echo count($rows);

  /*foreach($rows as $row){
  $model_faq->deleteById($row['faq_id']);
  $ModelFaqService->deleteByFaqId($row['faq_id']);
  } */
/*
  exit;
 */

/*
  foreach($this->allCategory as $category){

  $modelFaqTilecleaners = new Model_FaqTilecleaners();
  $questions  =  $modelFaqTilecleaners->getByCategoryId(81);
  echo count($questions);
  echo '<br/>';

  foreach($questions as $question){
  $faq_data = array(
  'question' => $question['question'],
  'answer' => $question['answer'],
  'created' => time(),
  'user_id' => $loggedUserId
  );
  $model_faq = new Model_Faq();
  $faq_id = $model_faq->insert($faq_data);


  //$modelServices = new Model_Services();
  //$allServices = $modelServices->getAll();

  //$allfloors =array('42','43','44','47','51','53','54','55','56','57','125','131','129','130','132','137','133');
  //$allfloors =array('49','45','48','46','50','44','121');
  $allfloors =array('45','48','46','50','44','121');
  //$allfloors =array('49','48','46','50','44','121');

  //$modelAttributeListValue = new Model_AttributeListValue();

  //$allfloors = $modelAttributeListValue->getAllFloor();
  //var_dump($allfloors);
  //exit;
  /*foreach($allfloors as $floor){
  $faq_service_data = array(
  'faq_id' => $faq_id,
  'service_id' => 33,
  'floor_id' => $floor
  );
  $model_faqService = new Model_FaqService();
  $success = $model_faqService->insert($faq_service_data);

  echo $success ;
  echo '<br/>';
  } */

/* $faq_service_data = array(
  'faq_id' => $faq_id,
  'service_id' => 41,
  'floor_id' => 54
  );
  $model_faqService = new Model_FaqService();
  $success = $model_faqService->insert($faq_service_data);
  echo $success ;
  echo '<br/>';


  }

  exit;
  } */
?>

<div class="row">

    <div class="col-lg-12">
        <div class="animated fadeInUp">

            <?php if (CheckAuth::checkCredential(array('settingsFaqAdd'))) { ?>


                <div style="" class="ibox-content m-b-sm border-bottom">
                    <div style="display: block;float:right" class = "col-md-3">

                        <div>
                            Filter By Service: <?php echo $this->allServices->render(); ?> 
                        </div>
                        <?php if($companyId ==1){ ?>
                        <div>
                            Filter By Floor: <?php echo $this->allFloors->render(); ?> 
                        </div>
                        <?php } ?>
                    </div>

                    <div style="padding: 0px;clear:both;" class="text-center p-lg">
                        <h2>If you don't find the answer to your question</h2>
                        <span>add your question by selecting </span>
                        <a href=""href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New Questions', '<?php echo $this->escape($this->url(array(), 'addFaq')); ?>');"  class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> <span class="bold">Add Question</span></a> button
                    </div>
                </div>
            <?php } ?>

            <?php if ($this->faq) { ?>

                <?php foreach ($this->faq as $key => $faq_value) { ?>
                    <div class="faq-item">
                        <div class="row">
                            <div class="col-md-6">
                                <a data-toggle="collapse" href="#faq_<?= $faq_value['faq_id'] ?>" class="faq-question"><?= $faq_value['question'] ?></a>
                                <small>Added by <strong><?= $faq_value['username'] ?></strong> <i class="fa fa-clock-o"></i> <?= getDateFormating($faq_value['created']) ?></small>
                            </div>
                            <div class="col-md-4">
                                <?php if (CheckAuth::checkCredential(array('settingsFaqEdit'))) {
                                    ?>
                                    <span class="small font-bold"><a href=""href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Questions', '<?php echo $this->escape($this->url(array('id' => $faq_value['faq_id']), 'editFaq')); ?>');"  class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> <span class="bold">Edit Question</span></a></span>
                                <?php } ?>
                                <?php if (CheckAuth::checkCredential(array('settingsFaqServiceAdd'))) { ?>
                                    <span class="small font-bold"><a href=""href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Service', '<?php echo $this->escape($this->url(array('faq_id' => $faq_value['faq_id']), 'addServiceFloor')); ?>');"  class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> <span class="bold">Add Service</span></a></span>
                                <?php } ?>
                                <div class="tag-list">
                                    <?php


                          if ($companyId != 1 ){
                              
                                    $ServicesAndFloors = $ModelFaqService->getServicesForCompaniesFAQ($faq_value['faq_id']);
                                    foreach ($ServicesAndFloors as $ServiceAndFloor):
                                        ?>
                                        <div class="serviceAndFloor">
                                            <span class="tag-item"><?= $ServiceAndFloor['service_name'] ?></span>
                                            
                                            <?php if (CheckAuth::checkCredential(array('settingsServiceFaqDelete'))) {
                                                ?>
                                                <span class="tag-item"><a href="javascript:void(0)" onclick="deleteServiceFaqCompany(this, '<?= $ServiceAndFloor['faq_service_id'] ?>')"><i class="fa fa-trash-o"></i></a></span>
                                            <?php } ?>
                                        </div>
                                        <br/>
                                    <?php endforeach; 

                          }else{
                              $ServicesAndFloors = $ModelFaqService->getServicesAndFloorByFaqId($faq_value['faq_id']);
                                    foreach ($ServicesAndFloors as $ServiceAndFloor):
                                        ?>
                                        <div class="serviceAndFloor">
                                            <span class="tag-item"><?= $ServiceAndFloor['service_name'] ?></span>
                                            <span class="tag-item"><?= $ServiceAndFloor['attribute_value'] ?></span>
                                            <?php if (CheckAuth::checkCredential(array('settingsServiceFaqDelete'))) {
                                                ?>
                                                <span class="tag-item"><a href="javascript:void(0)" onclick="deleteServiceFaq(this, '<?= $ServiceAndFloor['faq_service_id'] ?>')"><i class="fa fa-trash-o"></i></a></span>
                                            <?php } ?>
                                        </div>
                                        <br/>
                                        <?php 
                                     endforeach;   
                            
                          }
                          ?>



                                  	

                                </div>
                            </div>
                            <?php if (CheckAuth::checkCredential(array('settingsFaqDelete'))) { ?>
                                <div class="col-md-2 text-right">
                                    <span class="small font-bold"><a href="javascript:void(0)" onclick="deleteFaq(this, '<?= $faq_value['faq_id']; ?>')"   class="btn btn-primary btn-sm"><i class="fa fa-trash-o"></i> <span class="bold">Delete Question</span></a></span>
                                </div>
                            <?php } ?>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="faq_<?= $faq_value['faq_id'] ?>" class="panel-collapse collapse faq-answer">
                                    <p>
                                        <?= $faq_value['answer'] ?>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            <?php } else { ?>

                <div class="row">
                    <div class="faq-item">
                        <div class="text-center p-lg">
                            <h2> No FAQs </h2> <h4>With this Filters</h4>
                        </div>
                    </div>
                </div>


            <?php } ?>



        </div>
    </div>
</div>
<div style="clear:both"></div>

<script type="text/javascript">
    function deleteFaq(that, faq_id) {
        if (confirm('are you sure you want to delete this Question?')) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array( ), 'deleteFaq')); ?>?id=' + faq_id + '',
                data: {},
                dataType: 'json',
                success: function (result) {
                    $(that).parents('.faq-item').hide();
                }
            });
        }
    }
    function deleteServiceFaq(that, faq_service_id) {
        if (confirm('Are you sure you want to delete this Service and floor?')) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'deleteServiceFloor')); ?>?id=' + faq_service_id + '',
                data: {},
                dataType: 'json',
                success: function (result) {
                    $(that).parents('.serviceAndFloor').hide();
                }
            });
        }
    }
     /////////// this for other companies from Mohammed Mkheamar  //////
    function deleteServiceFaqCompany(that, faq_service_id) {
        if (confirm('Are you sure you want to delete this Service from this question ?')) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'deleteServiceFloor')); ?>?id=' + faq_service_id + '',
                data: {},
                dataType: 'json',
                success: function (result) {
                    $(that).parents('.serviceAndFloor').hide();
                }
            });
        }
    }
</script> 
