<?php if ($this->is_address): ?>
    <?php echo $this->MAP_OBJECT->getHeaderJS(); ?>
    <?php echo $this->MAP_OBJECT->getMapJS(); ?>
<?php endif; ?>

<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Booking Location
                </div>
                <?php if ($this->line_address): ?>
                    <div style="margin-left: 10px; font-size: 20px; float: left; padding-top: 5px; color: #999999">
                        (<a href="http://maps.google.com.au/maps?q=<?php echo urlencode($this->escape($this->line_address)); ?>" target="_blank" class="a_link"><?php echo $this->escape($this->line_address); ?></a>)
                    </div>
                <?php endif; ?>
                <div class="clearb"></div>
            </div>
            <div style="text-align: center;">
                <?php if ($this->is_address): ?>
                    <?php echo $this->MAP_OBJECT->printOnLoad(); ?>
                    <?php echo $this->MAP_OBJECT->printMap(); ?>
                    <div id="map_directions"></div>
                <?php else: ?>
                    <div style="" class="noRowsMessageDIV">There are no Address for this Booking.
                        <div style="font-size:12px; margin-top:6px;">
                            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'bookingView')); ?>">View booking</a>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <ul class="links"> 
                    <li class="back">
                        <a  id="Closebtn" href="<?php echo isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '' ?>">Back</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>