<table id="customer_contact_<?php echo($this->contact_counter); ?>">
    <tr>
        <td class="contact_label" valign="top"><?php echo ($this->formObjects["contact_label_{$this->contact_counter}"]->render()); ?></td>
        <td valign="top"><?php echo ($this->formObjects["info_{$this->contact_counter}"]->render()); ?></td>
        <td valign="top" style="width: 64px;">
            <a href="javascript:;" style="text-decoration: none; float: left;" onclick="getCustomerContact()">
                <img src="<?php echo $this->escape($this->baseUrl('/pic/+btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
            </a>
            <a href="javascript:;" style="text-decoration: none; float: left;" onclick="$('#customer_contact_<?php echo($this->contact_counter); ?>').remove();">
                <img src="<?php echo $this->escape($this->baseUrl('/pic/-btn.png')); ?>" border="0" height="22" style="vertical-align: middle;" />
            </a>
        </td>
    </tr>
</table>