<!-- TinyMCE -->
<script type="text/javascript">
    tinyMCE.init({
        // General options
        plugins : '-example', // - tells TinyMCE to skip the loading of the plugin
        mode : "textareas",
        theme : "advanced",
        relative_urls : false,
        convert_urls : false,

        // Theme options
        theme_advanced_buttons1 : "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
        theme_advanced_buttons2 : "",
        theme_advanced_buttons3 : "",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : false
    });
</script>
<!-- /TinyMCE -->
<form id="form-customer" onsubmit="tinyMCE.triggerSave(); do_submit('<?php echo $this->escape($this->url(array('id' => $this->customer_id, 'type' => $this->type, 'reference_id' => $this->reference_id), 'sendEmail')); ?>','#form-customer','#TB_ajaxContent');return false;" method="POST">
    <div style="border: 1px solid #EFEFEF; background-color: #F7F7F7; width: 100%; font-size: 11px;">
        <div style="padding: 10px;">
            <div style="float: left; width: 70%; margin-top: 10px;">
                <div>
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">To</div>
                    <div style="float: left; width: 80%;"><input type="text" name="to" value="<?php echo $this->escape($this->to); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                    <div style="clear: both;"></div>
                </div>
                <?php if (isset($this->error_mesages['to']) && !empty($this->error_mesages['to'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['to']); ?>
                    </div>
                <?php endif; ?>

                <div style="margin-top: 10px;">
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">Cc</div>
                    <div style="float: left; width: 80%;"><input type="text" name="cc"  value="<?php echo $this->escape($this->cc); ?>"style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                    <div style="clear: both;"></div>
                </div>
                <?php if (isset($this->error_mesages['cc']) && !empty($this->error_mesages['cc'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['cc']); ?>
                    </div>
                <?php endif; ?>

                <div style="margin-top: 10px;">
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">Subject</div>
                    <div style="float: left; width: 80%;"><input type="text" name="subject" id="subject" value="<?php echo $this->escape($this->subject); ?>" style="border: 1px solid #ACD2E7; padding: 0 2px; height: 20px; width: 100%;" /></div>
                    <div style="clear: both;"></div>
                </div>
                <?php if (isset($this->error_mesages['subject']) && !empty($this->error_mesages['subject'])): ?>
                    <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                        <?php echo $this->escape($this->error_mesages['subject']); ?>
                    </div>
                <?php endif; ?>
                <div style="margin-top: 10px;">
                    <div style="float: left; width: 20%; color: #666666; font-weight: bold; line-height: 20px;">Canned Responses</div>
                    <div style="float: left; width: 80%;">
                        <select name="canned-responses" id="canned_responses" onchange="fillCannedResponse();" style="border: 1px solid #ACD2E7; height: 20px; width:443px;">
                            <option value="">Select One</option>
                            <?php foreach ($this->cannedResponses as $cannedResponse): ?>
                                <option value="<?php echo $this->escape($cannedResponse['id']); ?>" <?php echo $this->escape(isset($this->cannedResponsesValue) ? ($this->cannedResponsesValue == $cannedResponse['id'] ? "selected" : "") : ""); ?> ><?php echo $this->escape($cannedResponse['name']); ?></option>
                            <?php endforeach; ?>
                        </select> 
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div style="float: right; width: 25%;">
                <div style="color: #666666; font-weight: bold;">
                    Attachment<a style="float:right" href="">Add</a>
                </div>                   
                <div style="border: 1px solid #A1A1A1; height: 80px;">
                </div>
            </div>
            <div style="clear: both;"></div>

            <div style="margin-top: 10px;">
                <textarea name="body" id="body" style="width: 780px; height: 320px; padding: 10px;"><?php echo $this->body; ?></textarea>
            </div>

            <div id="button_cont" style="margin-top: 10px;">
                <input type="submit" value="Send" /> or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" style="color: red;">Cancel</a>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    function fillCannedResponse(){
        if($('#canned_responses').val()){
            val = $('#canned_responses').val();
            $.ajax({
                type: "POST",
                url:"/ajax/fill_canned_response",
                data: "id="+val,
                dataType : "json",
                success: function(msg) {
                    tinyMCE.activeEditor.setContent(msg.body);
                    $('#subject').val(msg.subject);
                }
            });
        } else {
            tinyMCE.activeEditor.setContent('');
            $('#subject').val('');
        }
    }
</script>
