<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    All Customers
                </div>
                <div class="sort_customer_cont">
                    <?php $modelCustomerType = new Model_CustomerType(); ?>
                    <?php $customerType = $modelCustomerType->getAll(); ?>
                    <select id="customer_type" onchange="filter('<?php echo $this->escape($this->url(array(), 'showDeletedCustomer')); ?>?fltr[customer_type_id]='+$('#customer_type').val());">
                        <option value="">Select One</option>
                        <?php foreach ($customerType as $type): ?>
                            <?php $selected = isset($this->filters['customer_type_id']) && $this->filters['customer_type_id'] == $type['customer_type_id'] ? 'selected="selected"' : ''; ?>
                            <option value="<?php echo $type['customer_type_id']; ?>" <?php echo $selected; ?> ><?php echo $type['customer_type']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <div class="clearb"></div>
            </div>
            <form action="<?php echo $this->escape($this->url(array(), 'customerDeleteForeverBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Customer?');">
                <div class="button_actions">
                    <div class="button_pos_l">
                        <?php if (CheckAuth::checkCredential(array('showDeletedCustomer', 'deleteCustomerForever'))): ?>
                            <input type="submit" value="Delete Forever"/>
                        <?php endif; ?>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                        <tr class="bg_table">
                            <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                            <td><b>Details</b></td>
                            <td><b>Customer Info</b></td>
                            <td><b>Customer Type</b></td>
                        </tr>

                        <?php $count = 0; ?>
                        <?php $customerType_obj = new Model_CustomerType(); ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                            ?>">
                                <td class="checkbox_booking_cont">
                                    <div class="details_info_l">
                                        <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['customer_id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <div>
                                            <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="a_black">
                                                    <?php echo $this->escape(get_customer_name($row)); ?>
                                                </a>    
                                            <?php else: ?>
                                                <span class="a_black">
                                                    <?php echo $this->escape(get_customer_name($row)); ?>
                                                </span>    
                                            <?php endif; ?>
                                        </div>
                                        <div class="booking_time_cont">
                                            <span style="color: #A1A1A1;">Date:</span><?php echo $this->escape(getDateFormating( $row['created'])) ?>
                                        </div>
                                    </div>
                                    <div class="details_info_l">
                                        <?php if (CheckAuth::checkCredential(array('showDeletedCustomer', 'deleteCustomerForever'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerDeleteForever')); ?>" onclick="return confirm('are you sure you want to delete this Customer?');" class="details_info_opt">Delete Forever</a>
                                        <?php endif; ?>
                                        <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                            <span class="details_breaks">|</span>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerView')); ?>" class="details_info_opt">View Details</a>
                                        <?php endif; ?>
                                        <?php if (CheckAuth::checkCredential(array('showCustomerLocation'))): ?>
                                            <span class="details_breaks">|</span>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'customerLocation')); ?>" class="details_info_opt">View Location</a>
                                        <?php endif; ?>
                                </td>
                                <td class="details_info_l" style="vertical-align: top;">
                                    <div class="details_info_l" style="font-size: 12px;">
                                        <div>&#187; <b>Email :</b> <?php echo $this->escape($row['email1']) ?></div>
                                        <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['mobile1']) ?></div>
                                        <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['phone1']) ?></div>
                                        <div>&#187; <b>Fax :</b> <?php echo $this->escape($row['fax']) ?></div>
                                        <div>&#187; <b>City :</b> <?php echo $this->escape($row['country_name'] . ' - ' . $row['city_name']) ?></div> 
                                        <div>&#187; <b>PO Box :</b> <?php echo $this->escape($row['po_box']) ?></div>
                                    </div>
                                </td>
                                <td>

                                    <div class="details_info_l" style="font-size: 14px; margin-left: 30px">
                                        <?php
                                        $customerType = $customerType_obj->getById($row['customer_type_id']);
                                        ?>
                                        <?php echo $this->escape($customerType['customer_type']) ?></div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>

                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>

                </div>
            </form>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <div class="btn_cont">
                    <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                        <a href="javascript:;" onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');" class="btn_a">
                            <div class="text_pos">
                                New Customer
                            </div>
                        </a>
                    <?php endif; ?>
                </div>

                <div class="search">
                    <div class="button_actions">
                        Search Customers
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'showDeletedCustomer')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'customerList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>


<script type="text/javascript">
    function AddEditCustomer(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=630&width=560');
        });
    }
    
    function filter(url){
        window.location = url;
    }
</script>