<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Customer Details
                </div>
                <div class="clearb"></div>
            </div>
            <div>
                <div class="customer_info_container">
                <?php
                    $customerView = new Zend_View();
                    $customerView->setScriptPath(APPLICATION_PATH . '/modules/default/views/scripts/common-views');
                    $customerView->customer_id = $this->customer['customer_id'];
                    $customerView->allDetails = true;
                    echo $customerView->render('customer_info.phtml');
                    ?>
                </div>
                <div class="details_info_container">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td class="labelText"><b>Created</b></td> 
                                <td class="valueText"><?php echo $this->escape(date(get_config('date'), $this->customer['created'])); ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearBoth"></div>

                <?php //if (CheckAuth::checkCredential(array(''))  ?>
                <div id="booking-action-cont">
                    <ul>
                        <?php //if (CheckAuth::checkCredential(array('paymentCheckStatus'))): ?>
                        <li class="all-tap selected" onclick="selectTap(this);">Inquiry</li>
                        <? //php endif; ?>
                        <? //php if (CheckAuth::checkCredential(array('bookingDiscussion'))): ?>
                        <li class="all-tap" onclick="selectTap(this);">Booking</li>
                        <? //php endif; ?>
                        <? //php if (CheckAuth::checkCredential(array('BookingHistory'))): ?>
                        <li class="all-tap" onclick="selectTap(this);">Estimates</li>
                        <? //php endif; ?>
                        <? //php if (CheckAuth::checkCredential(array('Complaint'))): ?>
                        <li class="all-tap" onclick="selectTap(this);">Invoices</li>
                        <? //php endif; ?>
                        <? //php if (CheckAuth::checkCredential(array('emailDetails'))): ?>
                        <li class="all-tap" onclick="selectTap(this);">Mail History</li>
                        <? //php endif; ?>
                    </ul>

                    <div id="booking-action">
                        <div class="addInHiddenInView">
                            <?php if (!$this->customer['is_deleted']): ?>
                                <a href="<?php echo  $this->escape($this->url(array('customer_id' => $this->customer['customer_id']), 'inquiryAddToCustomerID')); ?>" class="a_link">create Inquiry</a>
                            <?php endif; ?>
                        </div>
                        <div>
                            <?php if ($this->inquiriesStatus): ?>
                                <table class="details-summary">
                                    <tr class="header-details-summary">
                                        <td width="230"><b>Status</b></td>
                                        <td><b>Inquires Count</b></td>
                                    </tr>

                                    <?php foreach ($this->inquiriesStatus as $status_key => $inquirystatus): ?>
                                        <?php
                                        $color = '#A1A1A1';
                                        switch (lcfirst($inquirystatus['name'])) {
                                            case 'inquiry':
                                                $color = '#A1A1A1';
                                                break;
                                            case 'estimate':
                                                $color = '#4F8BC3';
                                                break;
                                            case 'booking':
                                                $color = '#BCD68F';
                                                break;
                                        }
                                        ?>
                                        <tr>
                                            <td>
                                                <?php if ($inquirystatus['total']) : ?>
                                                    <a style="text-decoration: none;float: left" href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]=<?php echo $this->escape($inquirystatus['name']) ?>&fltr[customer_id]=<?php echo $this->escape($this->customer['customer_id']) ?>"> 
                                                        <div class="customer_tabs_info" style="float: left;background-color: <?php echo $color ?>;">
                                                            <?php echo $this->escape($inquirystatus['name']); ?>
                                                        </div>
                                                        <div style="float: left; margin-left: 20px; margin-top: 3px; color: #056FC3;">
                                                            show all
                                                        </div>
                                                    </a>
                                                <?php else: ?>
                                                    <div class="customer_tabs_info" style="float: left;background-color: <?php echo $color ?>;">
                                                        <?php echo $this->escape($inquirystatus['name']); ?>
                                                    </div>

                                                <?php endif; ?>
                                            </td>
                                            <td>
                                                <div class="booking_time_cont">
                                                    <?php echo $this->escape($inquirystatus['total']); ?>
                                                </div>
                                            </td>
                                        </tr>
                                    <?php endforeach; ?>
                                </table>
                            <?php else: ?>
                                <div style="" class="noRowsMessageDIV">There are no Inquiry.</div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?php // endif; ?>           
            </div>
            <?php if (CheckAuth::checkCredential(array('canAddCustomerNote'))): ?>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top: 50px;">
                    <tbody>
                        <tr>
                            <td height="40" class="curveLGrnLBg billToPadding txt-lft"> 
                                <div class="floatLeft customer_note">
                                    <b>Notes</b> (These notes are for your personal reference and will not be displayed to your customers) 
                                </div>
                            </td>
                        </tr>
                        <tr height="60">
                            <td class="defaultInnerBg padding10 txt-lft"> 

                                <?php if (empty($this->customerNotes)): ?>
                                    <div class="customer_note" style="text-align: center;">Notes have not been included for this customer yet. <?php echo 'customer_id '.$this->customer['customer_id']; ?><a href="javascript:;" onClick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerNotes')); ?>','200','450');" class="a_link">Click here</a> to add notes.</div>
                                <?php else: ?>
                                    <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:10px 10px 0 10px;">
                                        <tr>
                                            <td width="80%" >
                                                <div class="customer_note">
                                                    <?php echo nl2br($this->escape($this->customerNotes)); ?> 
                                                </div> 
                                            </td>
                                            <td style="vertical-align: top; text-align: right; font-size: 12px">
                                                <a href="javascript:;" onClick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerNotes')); ?>','200','450');" class="a_link">Modify Customer Note</a>  
                                            </td>
                                        </tr>
                                    </table>
                                <?php endif; ?>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('customerAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="AddEditCustomer('<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');" class="btn_a">
                            <div class="text_pos">
                                New Customer
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <ul class="links"> 
                    <li class="back">
                        <a  id="Closebtn" href="<?php echo isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '' ?>">Back</a>
                    </li>
                </ul> 
                <?php if (!$this->customer['is_deleted']): ?>
                    <div class="gray-border-bottom">
                        <ul class="links">
                            <li class="edit">
                                <?php if (CheckAuth::checkCredential(array('customerEdit'))): ?>
                                    <a href="javascript:;" onclick="AddEditCustomer('<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerEdit')); ?>');">Edit</a>
                                <?php endif; ?>
                            </li>
                            <?php if (get_config('under_construction')): ?>
                                <li class="statement">
                                    <a href="#" >Statement</a>
                                </li>
                            <?php endif; ?>
                            <li class="email">
                                <?php if (CheckAuth::checkCredential(array('sendEmail'))): ?>
                                    <a   href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id'], 'type' => 'customer', 'reference_id' => $this->customer['customer_id']), 'sendEmail')); ?>',510,800);">Send Email</a>
                                <?php endif; ?>
                            </li>

                        </ul>
                    </div>
                    <?php if (get_config('under_construction')): ?>
                        <div class="gray-border-bottom">
                            <ul class="links">
                                <li class="create-invoice">
                                    <a href="#">Create Invoice</a>
                                </li>
                                <li class="create-estimate">
                                    <a href="#">Create Estimate</a>
                                </li>
                                <li class="add-payment">
                                    <a href="#">Create Credit Note</a>
                                </li>
                                <li class="record-expense">
                                    <a href="#">Record Expense</a>
                                </li>
                                <li class="create-recurring-invoice">
                                    <a href="#">Create Recurring Invoice</a>
                                </li>
                                <li class="create-recurring-expense">
                                    <a href="#">Create Recurring Expense</a>
                                </li>
                                <li class="create-project">
                                    <a href="#">Create Project</a>
                                </li>
                                <li class="record-payment">
                                    <a href="#">Record Payment</a>
                                </li>
                            </ul>
                        </div>
                    <?php endif; ?>

                    <div>
                        <ul class="links">

                            <li class="merge-customer">
                                <a href="<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'fixDuplicateCustomer')); ?>">Merge Customer</a>
                            </li>
                            <?php if (get_config('under_construction')): ?>
                                <li class="stop-all-remainders">
                                    <a href="#">Stop All Remainders</a>
                                </li>
                                <li class="mark-as-inactive">
                                    <a href="#">Mark As Inactive</a>
                                </li>
                            <?php endif; ?>
                            <li class="delete">
                                <?php if (CheckAuth::checkCredential(array('customerDelete'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerDelete')); ?>" onclick="return confirm('are you sure you want to delete this Customer?');">Delete</a>
                                <?php endif; ?>
                            </li>
                        </ul>
                    </div>
                <?php else: ?>
                    <div>
                        <ul class="links">
                            <li class="delete">
                                <?php if (CheckAuth::checkCredential(array('deleteCustomerForever'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerDeleteForever')); ?>" onclick="return confirm('are you sure you want to Delete this Customer Forever?');">Delete Forever</a>
                                <?php endif; ?>
                            </li>
                            <li class="undelete">
                                <?php if (CheckAuth::checkCredential(array('customerUndelete'))): ?>
                                    <a href="<?php echo $this->escape($this->url(array('id' => $this->customer['customer_id']), 'customerUndelete')); ?>" onclick="return confirm('are you sure you want to restore this Customer?');">UnDelete</a>
                                <?php endif; ?>
                            </li>
                        </ul>
                    </div>
                <?php endif; ?>
            </div>
        </td>
    </tr>
</table>

<?php if (CheckAuth::checkCredential(array('inquiry'))): ?>
    <div id="inquiry" class="hiddenInView">
        <div class="addInHiddenInView">
            <?php if (!$this->customer['is_deleted']): ?>
                <a href="<?php echo $this->escape($this->url(array('customer_id' => $this->customer['customer_id']), 'inquiryAddToCustomerID')); ?>" class="a_link">create Inquiry</a>
            <?php endif; ?>
        </div>
        <div>
            <?php if ($this->inquiriesStatus): ?>
                <table class="details-summary">
                    <tr class="header-details-summary">
                        <td width="230"><b>Status</b></td>
                        <td><b>Inquires Count</b></td>
                    </tr>

                    <?php foreach ($this->inquiriesStatus as $status_key => $inquirystatus): ?>
                        <?php
                        $color = '#A1A1A1';
                        switch (lcfirst($inquirystatus['name'])) {
                            case 'inquiry':
                                $color = '#A1A1A1';
                                break;
                            case 'estimate':
                                $color = '#4F8BC3';
                                break;
                            case 'booking':
                                $color = '#BCD68F';
                                break;
                        }
                        ?>
                        <tr>
                            <td>
                                <?php if ($inquirystatus['total']) : ?>
                                    <a style="text-decoration: none;float: left" href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[status]=<?php echo $this->escape($inquirystatus['name']) ?>&fltr[customer_id]=<?php echo $this->escape($this->customer['customer_id']) ?>"> 
                                        <div class="customer_tabs_info" style="float: left;background-color: <?php echo $color ?>;">
                                            <?php echo $this->escape($inquirystatus['name']); ?>
                                        </div>
                                        <div style="float: left; margin-left: 20px; margin-top: 3px; color: #056FC3;">
                                            show all
                                        </div>
                                    </a>
                                <?php else: ?>
                                    <div class="customer_tabs_info" style="float: left;background-color: <?php echo $color ?>;">
                                        <?php echo $this->escape($inquirystatus['name']); ?>
                                    </div>
                                <?php endif; ?>
                            </td>
                            <td>
                                <div class="booking_time_cont">
                                    <?php echo $this->escape($inquirystatus['total']); ?>
                                </div>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Inquiry.</div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>

<?php if (CheckAuth::checkCredential(array('booking'))): ?>
    <div id="booking" class="hiddenInView">
        <div class="addInHiddenInView">
            <?php if (!$this->customer['is_deleted']): ?>
                <a href="<?php echo $this->escape($this->url(array('customer_id' => $this->customer['customer_id']), 'bookingAddToCustomerId')); ?>" class="a_link">create Booking</a>
            <?php endif; ?> 
        </div>
        <div>
            <?php if ($this->bookingStatuses): ?>
                <table class="details-summary">
                    <tr class="header-details-summary">
                        <td width="130"><b>Status</b></td>
                        <td  width="130"><b>Booking count</b></td>
                        <td width="100" style="text-align: center;"><b>Ammount</b></td>
                    </tr>
                    <?php foreach ($this->bookingStatuses as $key => $bookingStatuse): ?>
                        <?php
                        //
                        //colors from the color picker
                        //
                      
                        $colors = array(
                            '0' => '#888888',
                            '1' => '#cc3333',
                            '2' => '#dd4477',
                            '3' => '#994499',
                            '4' => '#6633cc',
                            '5' => '#336699',
                            '6' => '#3366cc',
                            '7' => '#22aa99',
                            '8' => '#329262',
                            '9' => '#109618',
                            '10' => '#66aa00',
                            '11' => '#aaaa11',
                            '12' => '#d6ae00',
                            '13' => '#ee8800',
                            '14' => '#dd5511',
                            '15' => '#a87070',
                            '16' => '#8c6d8c',
                            '17' => '#627487',
                            '18' => '#7083a8',
                            '19' => '#5c8d87',
                            '20' => '#898951',
                            '21' => '#b08b59',
                            '-1' => '#7a367a'
                        );
                        ?>
                        <tr>
                            <td>
                                <?php if ($bookingStatuse['Ammount']) : ?>
                                    <a style="text-decoration: none;float: left" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[status]=<?php echo $this->escape($bookingStatuse['booking_status_id']) ?>&fltr[customer_id]=<?php echo $this->escape($this->customer['customer_id']) ?>"> 
                                        <div class="customer_tabs_info" style="float: left;background-color: <?php echo $colors[$bookingStatuse['color']] ?>;">
                                            <?php echo $this->escape($bookingStatuse['name']); ?>
                                        </div>

                                        <div style="float: left; margin-left: 20px; margin-top: 3px; color: #056FC3;">
                                            show all
                                        </div>
                                    </a>
                                <?php else: ?>
                                    <div  class="customer_tabs_info" style="background-color: <?php echo $colors[$bookingStatuse['color']] ?>">
                                        <?php echo $this->escape($bookingStatuse['name']); ?>
                                    </div>
                                <?php endif ?>
                            </td>
                            <td>
                                <div class="booking_time_cont">
                                    <?php echo $this->escape($bookingStatuse['total']); ?>
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <?php echo $this->escape($bookingStatuse['Ammount']); ?>
                            </td>
                        </tr>
                        </a>
                    <?php endforeach; ?>
                </table>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Booking.</div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>

<?php if (CheckAuth::checkCredential(array('estimates'))): ?>
    <div id="estimates" class="hiddenInView">
        <div class="addInHiddenInView">
            <?php if (!$this->customer['is_deleted']): ?>
                <a href="<?php echo $this->escape($this->url(array('customer_id' => $this->customer['customer_id']), 'estimateAddToCustomerId')); ?>" class="a_link">create Estimate</a>
            <?php endif; ?>
        </div>
        <div>
            <?php if ($this->estimatesType): ?>
                <table class="details-summary">
                    <tr class="header-details-summary">
                        <td width="130"><b>Status</b></td>
                        <td  width="130"><b>Estimates count</b></td>
                        <td width="100" style="text-align: center;"><b>Ammount</b></td>
                    </tr>

                    <?php foreach ($this->estimatesType as $estimatesType): ?>
                        <?php
                        $color = '#A1A1A1';
                        switch (lcfirst($estimatesType['name'])) {
                            case 'draft':
                                $color = '#A1A1A1';
                                break;

                            case 'booking':
                                $color = '#BCD68F';
                                break;
                        }
                        ?> <tr>
                            <td>
                                <?php if ($estimatesType['total']) : ?>
                                    <a style="text-decoration: none;float: left" href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>?fltr[estimate_type]=<?php echo $this->escape($estimatesType['name']) ?>&fltr[customer_id]=<?php echo $this->escape($this->customer['customer_id']) ?>"> 
                                        <div class="customer_tabs_info" style="float: left;background-color: <?php echo $color ?>;">
                                            <?php echo $this->escape($estimatesType['name']); ?>
                                        </div>
                                        <div style="float: left; margin-left: 20px; margin-top: 3px; color: #056FC3;">
                                            show all
                                        </div>
                                    </a>
                                <?php else: ?>
                                    <div class="customer_tabs_info" style="float: left;background-color: <?php echo $color ?>;">
                                        <?php echo $this->escape($estimatesType['name']); ?>
                                    </div>

                                <?php endif ?>
                            </td>
                            <td>
                                <div class="booking_time_cont">
                                    <?php echo $this->escape($estimatesType['total']); ?>
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <?php echo $this->escape($estimatesType['Ammount']); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Booking.</div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<?php if (CheckAuth::checkCredential(array('invoices'))): ?>
    <div id="invoices" class="hiddenInView">
        <div class="addInHiddenInView">
            <?php if (!$this->customer['is_deleted']): ?>
				<a href="<?php echo $this->escape($this->url(array('customer_id' => $this->customer['customer_id']), 'bookingAddToCustomerId')); ?>" class="a_link">create Booking</a>
            
            <?php endif; ?> 
        </div>
        <div>
            <?php if ($this->invoicesType): ?>
                <table class="details-summary">
                    <tr class="header-details-summary">
                        <td width="130"><b>Status</b></td>
                        <td  width="130"><b>Invoices count</b></td>
                        <td width="100" style="text-align: center;"><b>Ammount</b></td>
                        <td width="100" style="text-align: center;"><b>Balance</b></td>
                    </tr>

                    <?php foreach ($this->invoicesType as $invoiceType): ?>
                        <?php
                        $color = '#A1A1A1';
                        switch (lcfirst($invoiceType['name'])) {
                            case 'draft':
                                $color = '#A1A1A1';
                                break;

                            case 'open':
                                $color = '#4F8BC3';
                                break;

                            case 'overdue':
                                $color = 'red';
                                break;

                            case 'closed':
                                $color = '#BCD68F';
                                break;

                            case 'void':
                                $color = '#00004E';
                                break;
                        }
                        ?> <tr>
                            <td>
                                <?php if ($invoiceType['total']) : ?>
                                    <a style="text-decoration: none;float: left" href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>?fltr[invoice_type]=<?php echo $this->escape($invoiceType['name']) ?>&fltr[customer_id]=<?php echo $this->escape($this->customer['customer_id']) ?>"> 
                                        <div class="customer_tabs_info" style="float: left;background-color: <?php echo $color ?>;">
                                            <?php echo $this->escape($invoiceType['name']); ?>
                                        </div>
                                        <div style="float: left; margin-left: 20px; margin-top: 3px; color: #056FC3;">
                                            show all
                                        </div>
                                    </a>
                                <?php else: ?>
                                    <div class="customer_tabs_info" style="float: left;background-color: <?php echo $color ?>;">
                                        <?php echo $this->escape($invoiceType['name']); ?>
                                    </div>

                                <?php endif ?>
                            </td>
                            <td>
                                <div class="booking_time_cont">
                                    <?php echo $this->escape($invoiceType['total']); ?>
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <?php echo $this->escape($invoiceType['Ammount']); ?>
                            </td>
                            <td style="text-align: center;">
                                <?php echo $this->escape($invoiceType['Ammount'] - $invoiceType['balance']); ?>
                            </td>

                        </tr>
                    <?php endforeach; ?>
                </table>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Booking.</div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>

<div id="mail-history" class="hiddenInView">
    <div style="margin-top: 15px;">
        <?php if ($this->emailLog): ?>
            <table class="details-summary">
                <tr class="header-details-summary">
                    <td width="130"><b>Date</b></td>
                    <td><b> Subject</b></td>
                    <td width="60" style="text-align: center;"><b>Sender</b></td>
                    <td width="60" style="text-align: center;"><b>Type</b></td>
                </tr>
                <?php $userObj = new Model_User(); ?>
                <?php foreach ($this->emailLog as $emailLog): ?>
                    <?php $user = $userObj->getById($emailLog['user_id']) ?>

                    <tr>
                        <td>
                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $emailLog['email_log_id']), 'emailDetails')); ?>','470','800','Email');" ><?php echo $this->escape(getDateFormating($emailLog['created'])) ?></a>
                        </td>
                        <td>
                            <?php echo $this->escape($emailLog['subject'] ? $emailLog['subject'] : '(No Subject)'); ?>
                        </td>

                        <td style="text-align: center;">
                            <?php echo $this->escape($user['username']); ?>
                        </td>
                        <td>
                            <?php echo $this->escape($emailLog['type']); ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no History.</div>
        <?php endif; ?>
    </div>
</div>
<script>
	$(document).ready(function() {
		$.ajax({
                type: "POST",
                url:'<?php echo $this->escape($this->url(array('type'=>'customer','type_id'=>$this->customer['customer_id']), 'updateFullTextSearchByTypeAndTypeId')); ?>',
                success: function(result) {
					console.log(result);
                    
                }
            });
	});
    function selectTap(tap){
        $('.all-tap').removeClass('selected');
        $(tap).addClass('selected');
        
        id = $(tap).html().toLowerCase().replace(' ', '-');
        $('#booking-action').html($('#'+id).html());
    }
    function AddEditCustomer(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=630&width=560');
        });
    }

</script>