<form class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#content_modal_popup');return false;">
       
        <div class="form-group">
            <label class="col-md-5">Push to Google Calender :</label>
            <div class="col-md-7"><?php echo $this->form->getElement('push_google_calender')->render(); ?></div>
        </div>
        <div class="form-group">
            <label class="col-md-5">Delete from Google Calender :</label>
            <div class="col-md-7"><?php echo $this->form->getElement('delete_google_calender')->render(); ?></div>
        </div>
        <div class="form-group">
            <label class="col-md-5">Send Request Customer Feedback:</label>
            <div class="col-md-7"><?php echo $this->form->getElement('request_feedback')->render(); ?></div>
        </div>
        <td id="button_cont"> <div><?php echo $this->form->getElement('button')->render(); ?></div>
    
</form>
