<?php
//ViewHelper::setStyleSheet('/plugins/wbCalendar/css/colorselect.css');
//ViewHelper::setJavaScript('/plugins/wbCalendar/src/Plugins/Common.js');
//ViewHelper::setJavaScript('/plugins/wbCalendar/src/Plugins/jquery.colorselect.js');

ViewHelper::setStyleSheet('/css/pick-a-color-1.2.3.min.css');
ViewHelper::setJavaScript('/js/tinycolor-0.9.15.min.js');
//ViewHelper::setJavaScript('/js/pick-a-color-1.2.3.min.js');
ViewHelper::setJavaScript('/js/pick-a-color.js');
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>

<div class="col-lg-12 wrapper-content" style="padding-right: 26px;padding-left: 26px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusAdd'))): ?>
                <div class="btn_cont">
                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add booking status','<?php echo $this->escape($this->url(array(), 'settingsBookingStatusAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                             New Booking Status
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                    <h5> Search Booking Status </h5>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsBookingStatusList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />                   
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsBookingStatusList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                    </form>
            </div>
        </div>
    </div>


<div class="col-lg-12 wrapper-content">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div class="col-lg-12">
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsBookingStatusDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Booking Status?');">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>  All Booking Status </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover responsive-table setting-bookingstatus" id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td class="details"><b>Name</b></td>
                                    <td><b>Color</b></td>
                                    <td><b>Actions</b></td>
                                    <td><b>Description</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    
                                    <tr>
                                        <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['booking_status_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('view booking status','<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>');" class="a_link_black"><?php echo $this->escape($row['name']) ?></a>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusEdit')) && !$row['is_core']): ?>
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusEdit')); ?>');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusDelete')) && !$row['is_core']): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusDelete')); ?>" onclick="return confirm('are you sure you want to delete this Booking Status?');" class="details_info_opt">Delete</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusChangeColor'))): ?>
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Change Color','<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusChangeColor')); ?>');" class="details_info_opt">Change Color</a>
                                                <span class="details_breaks">|</span>                                          
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusGoogleCalender'))): ?>
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Actions','<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusGoogleCalender')); ?>');" class="details_info_opt">Modify Actions</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div style="height: 20px; width: 50px; background-color: <?php echo $this->escape($colors[$row['color']]) ?>;"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <span class="time_start_color">Push To Google Calender : </span><?php echo ($this->escape($row['push_google_calender']) ? 'YES' : 'NO') ?>
                                            </div>
                                            <div>
                                                <span class="time_start_color">Delete From Google Calender: </span><?php echo ($this->escape($row['delete_google_calender']) ? 'YES' : 'NO') ?>
                                            </div>
                                            <div>
                                                <span class="time_start_color">Send Customer Feedback Request: </span><?php echo ($this->escape($row['request_feedback']) ? 'YES' : 'NO') ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusAddDescription'))): ?>
                                                <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Description','<?php echo $this->escape($this->url(array('id' => $row['booking_status_id']), 'settingsBookingStatusAddDescription')); ?>');" class="details_info_opt">Description</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
                            <div style="" class="noRowsMessageDIV">There are no Booking Status.</div>
        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>
