<form id="form" method="<?php echo $this->escape($this->form->getMethod());?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction());?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        <tr>
            <td class="input_type" valign="top">Attribute :</td>
            <td><?php echo $this->form->getElement('attribute_id')->render(); ?></td>
        </tr>
        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>