<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Inquiries Type
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array('inquiry_type_id' => $this->inquiry_type_id), 'settingsInquiryTypeAttributeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Inquiry Type Attribute?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeAttributeDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td style="width: 40px; text-align: center;"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Attribute</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td style="width: 40px; text-align: center;">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['inquiry_type_attribute_id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <span class="details_info_name"><?php echo $this->escape($row['attribute_name']) ?></span> 
                                            </div>
                                            <div style="font-size: 12px; color: black; margin-top: 5px;">
                                                <span style="color: #A1A1A1;">Inquiry Type:</span> <?php echo $this->escape($row['inquiry_name']) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeAttributeDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('inquiry_type_id' => $this->inquiry_type_id, 'id' => $row['inquiry_type_attribute_id']), 'settingsInquiryTypeAttributeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Inquiry Type Attribute?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Inquiry Type.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsInquiryTypeAttributeAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('inquiry_type_id' => $this->inquiry_type_id), 'settingsInquiryTypeAttributeAdd')); ?>','100','450');" class="btn_a">
                            <div class="text_pos">
                                New Inquiry Attribute 
                            </div>
                        </a>
                    </div>
                <?php endif; ?>
            </div>
        </td>
    </tr>
</table>