

<form  class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
  
    <div class="success_message">
        <?php echo $this->escape($this->successMessage); ?>
    </div>
    
    <div class="form-group">
        <label class="col-md-3">Cron job name :</label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('cronjob_name')->render(); ?>
        </div>
    </div>
    
    
     <?php if (get_config('under_construction')): ?>
      <div class="form-group">
        <label class="col-md-3">php Code :</label>
        <div class="col-md-9">
           <?php echo $this->form->getElement('php_code')->render(); ?>
        </div>
    </div>
      <?php endif; ?>
    
    
        <div class="form-group">
            <label class="col-md-3">Is Running :</label>
            <div class="col-md-9">
               <?php echo $this->form->getElement('running')->render(); ?>
            </div>
        </div>
    
  
         <div class="form-group">
                <div class="col-md-9 col-md-offset-3" id="cron">
                </div>
         </div>

         <div class="form-group">
                 <div class="col-md-9 col-md-offset-3">
                         <?php echo $this->form->getElement('every')->render(); ?>
                 </div>
        </div>
    
    
         <div class="form-group">
             <div class="col-md-9 col-md-offset-3">
                <?php echo $this->form->getElement('button')->render(); ?>
            </div>
         </div>
		 
   
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#cron').jqCron({
            enabled_minute: true,
            multiple_dom: true,
            multiple_month: true,
            multiple_mins: true,
            multiple_dow: true,
            multiple_time_hours: true,
            multiple_time_minutes: true,
            default_period: 'week',
            default_value: "<?php echo $this->form->getElement('every')->getValue() ? $this->form->getElement('every')->getValue() : '* * * * *'; ?>",
            no_reset_button: false,
            lang: 'en',
            bind_to: $('#every'),
            bind_method: {
                set: function($element, value) {
                    $element.val(value);
                }
            }
        });
    });
</script>
     
      

    