
<div class="form-horizontal" style="background-color: #F7F7F7;">
    <div>
        <div style="text-align: center;">
            <h2><?php echo $this->escape($this->cronJob['cronjob_name']); ?></h2>
        </div>

        <div class="form-group">
            <label class="col-md-3">Is Running :</label>
            <div class="col-md-9">
                <?php echo ($this->escape($this->cronJob['running']) ? 'YES' : 'NO') ?>
            </div>
         
        </div>

        <div class="form-group">
            <label class="col-md-3">Every:</label>>
            <div class="col-md-9">
                <?php echo $this->escape($this->cronJob['every']); ?>
            </div>

        </div>
        <div class="form-group">
            <label class="col-md-3">Description:</label>>
            <div class="col-md-9">
               <?php echo nl2br($this->escape($this->cronJob['description'])); ?>
            </div>

        </div>
       
     
    </div>
</div>
