<div class="col-lg-12 wrapper-content">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsContractorVehicleAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New Chemical','<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorVehicleAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                           New vehicle
                        </div>
                    </a>
                </div> 
            <?php endif; ?>

            <div>
                <div class="button_actions">
                    <h5>
					  Search vehicle
					</h5>
                </div>
                  <form id="search_form" class="form-inline" action="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorVehicleList')); ?>" method="GET" >
                       
                        
                            <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        
						
                             <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-primary a_margin-responsive">Search</a> <span class="or_span a_margin-responsive">or</span>
                             <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorVehicleList')); ?>" class="a_advance btn btn-white" >Reset</a>
                                      
                    </form>
                    
            </div>
        </div>
</div>
<div class="col-lg-12 wrapper-content ibox float-e-margins">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title">
                        <h5> 
						 All vehicles
						</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					  <div class="ibox-content">
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id), 'settingsContractorVehicleDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Vehicle?');">
                    
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsContractorVehicleDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                   <td><b>Registration#</b></td>
                                <td><b>Make</b></td>
                                <td><b>Model</b></td>
                                <td><b>Color</b></td>
                                </tr>
                            </thead>
                            <tbody>
                               <?php $count = 0; ?>
                           
                            <?php foreach ($this->data as $row) : ?>
                              
                                    <tr>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['vehicle_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                       
										
                                         <td>
                                          <div class="details_info_l">
                                            <div>
                                                <span class="details_info_name"><?php echo $this->escape($row['registration_number']) ?></span> 
                                            </div>
                                            <div class="booking_time_cont">
                                                <span style="color: #A1A1A1;">Contractor:</span> <?php echo $this->escape($row['username']) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorVehicleDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractor_info_id, 'id' => $row['vehicle_id']), 'settingsContractorVehicleDelete')); ?>" onclick="return confirm('are you sure you want to delete this Vehicle?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
									<td ><?php echo $this->escape($row['make']) ?></div></td>
                                    <td ><div class="details_info_l" style="font-size: 14px;"><?php echo $this->escape($row['model']) ?></div></td>
                                    <td ><div class="details_info_l" style="font-size: 14px;"><?php echo $this->escape($row['colour']) ?></div></td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no vehicle.</div>
        <?php endif; ?>
</div>
<div style="clear:both"></div>




