<div class="container-fluid">

<h2> Company Twilio Account Information</h2>
<br/>
<br/>
    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-lg-2">Twilio SID : </label>
            <div class="col-lg-7">
			
			<input class="form-control" name="twilio_sid" value="<?php echo $this->twilio_info['twilio_sid']?>" readonly >
            </div>
        </div>


        <div class="form-group">
            <label class="col-lg-2">Twilio Token : </label>
            <div class="col-lg-7">
			
			<input class="form-control" name="twilio_sid" value="<?php echo $this->twilio_info['twilio_token']?>" readonly>
            </div>
        </div>
		
		        <div class="form-group">
            <label class="col-lg-2">Twilio phone Number : </label>
            <div class="col-lg-7">
			
			<input  class="form-control" name="twilio_sid" value="<?php echo $this->twilio_info['twilio_number']?>" readonly>
            </div>
        </div>
		
		
		        <div class="form-group">
            <label class="col-lg-2">Twilio Account Status : </label>
            <div class="col-lg-7">
			
			<input name="twilio_sid" class="form-control"  value="<?php echo $this->twilio_info['status']?>"readonly>
            </div>
        </div>

    </form>
</div>
