
<?php
$loggedUser = CheckAuth::getLoggedUser();
$model_contractorRate = new Model_ContractorRate();
$total = 0;
?>
<?php
if ($loggedUser) {
    $class = '';
    $style = '';
    $main_style = '';
} else {
    $class = 'form-signin';
    $style = 'margin:auto;max-width:800px';
    $main_style = 'margin-top:8%';
}
?>
<?php
foreach ($this->contractors as $key => $contractor) {
//    $rate_db = array();
//    $sum_rates = array();
//    $rated_by = $loggedUser['user_id'];
//    $result = $model_contractorRate->getByContractorIdAndRatedByAndItemIdAndTagId($contractor['contractor_id'], $rated_by, $this->item_id);
//    if (!empty($result)) {
//        foreach ($result as $key => $data) {
//            $rate_db[] = $data;
//            $sum_rates[] = $data['rate'];
//        }
//
//        $rate_times = count($rate_db);
//        $sum_rates = array_sum($sum_rates);
//        $rate_value = $sum_rates / $rate_times;
////                $rate_bg = (($rate_value) / 5) * 100;
//        $total = floor($rate_value);
//    }
    ?>
    <div class="ibox float-e-margins <?php echo $class; ?>" style="margin-top:5px;<?php echo $style; ?>;<?php echo $main_style; ?>">
        <div class="ibox-title" style="border-top:#fff;">
            <h4>Customer Rating</h4>
        </div>
        
        <div class="ibox-content <?php echo $class; ?>" style="<?php echo $style; ?>">
            <form  class="form-horizontal" method="POST"  Action="">
                <div class="form-group">
                    <div class="col-md-12 contractorBox" id="rating_<?= $contractor['contractor_id'] ?>">
                        <label id='contractor_id' cont_id='<?= $contractor['contractor_id'] ?>'><b> <?= $contractor['display_name'] ?></b></label> 
                        <?php
                        foreach ($this->ratingTag[$contractor['contractor_id']] as $key => $tags) {
                            ?>
                            <div class="rate-ex1-cnt rate_box_<?= $key ?>" >
                                <div rate="1" class="rate-btn-1 rate-btn" onclick="sendRate(<?= $contractor['contractor_id'] ?>, this)" onmouseover="hoverStars(<?= $contractor['contractor_id'] ?>,<?= $key ?>, this)"></div>
                                <div rate="2" class="rate-btn-2 rate-btn" onclick="sendRate(<?= $contractor['contractor_id'] ?>, this)" onmouseover="hoverStars(<?= $contractor['contractor_id'] ?>,<?= $key ?>, this)"></div>
                                <div rate="3" class="rate-btn-3 rate-btn" onclick="sendRate(<?= $contractor['contractor_id'] ?>, this)" onmouseover="hoverStars(<?= $contractor['contractor_id'] ?>,<?= $key ?>, this)"></div>
                                <div rate="4" class="rate-btn-4 rate-btn" onclick="sendRate(<?= $contractor['contractor_id'] ?>, this)" onmouseover="hoverStars(<?= $contractor['contractor_id'] ?>,<?= $key ?>, this)"></div>
                                <div rate="5" class="rate-btn-5 rate-btn" onclick="sendRate(<?= $contractor['contractor_id'] ?>, this)" onmouseover="hoverStars(<?= $contractor['contractor_id'] ?>,<?= $key ?>, this)" ></div>
                                <div tag_id='<?= $tags['rating_tag_id'] ?>' class='rating_tag'><?= $tags['tag_name'] ?></div>
                                <div style='clear: both'></div>
                            </div>
                            <?php if (!empty($tags['rate'])) { ?>
                                <script>
                                    for (var i = <?= $tags['rate'] ?>; i >= 0; i--) {
                                        $('#rating_' + <?= $contractor['contractor_id'] ?>).children(' .rate_box_' + <?= $key ?>).find('.rate-btn-' + i).addClass('rate-btn-hover');
                                    }
                                </script>
                                <?php
                            }
                        }
                        ?>
                <!--<span style="font-size: 15px; font-weight: bold;"><b class="total_rate"><? // $total  ?></b> / 5</span>-->
                    </div>
                </div>
                <div class="form-group" style="padding: 10px;">
                    <lable for="notes">Description : </lable>
                    <textarea class="form-control" placeholder="Description" id="desc" rows="8" name="notes"></textarea>
                </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <?php if ($this->photo): ?>
                                <a href="<?php echo $this->escape($this->url(array('itemid' => $this->item_id, 'type' => 'booking'), 'ItemAttachmentList')); ?>" class="details_info_opt"><span class="fa fa-th"></span> Photos </a>
                            <?php else: ?>
                                Photos
                            <?php endif; ?>
                            <span class="float-r">
                                <a class="a_link " data-toggle="modal" data-target="#popupi" href="#" onclick="popupi('Add Photos', '<?php echo $this->escape($this->url(array('type' => 'booking', 'itemid' => $this->item_id), 'ItemImageAttachmentAttach')); ?>');"><i class="fa fa-camera"></i> Add photos&nbsp;</a>

                            </span>
                        </div>
                        <div class="ibox-content">
                            <div class="add_photo_button"><a style="margin-top:30%;display: block;" class="a_link " data-toggle="modal" data-target="#popupi" href="#" onclick="popupi('Add Photos', '<?php echo $this->escape($this->url(array('type' => 'booking', 'itemid' => $this->item_id), 'ItemImageAttachmentAttach')); ?>');">
                                    <i class="fa fa-camera fa-4x"></i><br/> Add Photos&nbsp;</a>
                            </div>
                            <?php
                            if ($this->photo):
                                $modelServices = new Model_Services();
                                ?>
                                <div id="productContainer">
                                    <div id="productContent">
                                        <ul  class="product-gallery" >
                                            <?php $number = $this->photoCount; ?>
                                            <?php foreach ($this->photo as $photo): ?>
                                                <?php
                                                list($width, $height) = getimagesize($this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['original_path'])));
                                                $service_name = '';
                                                if ($photo['service_id']) {
                                                    $service = $modelServices->getById($photo['service_id']);
                                                    $service_name = $service['service_name'];
                                                }
                                                ?>

                                                <li class="gallery-img" count="<?php echo $this->photoCount; ?>" number="<?php echo $number; ?>">
                                                    <div class="viewImage" style="display:none;">
                                                        <div><?php echo $service_name; ?></div>
                                                    </div>

                                                    <img width = "150" height="150" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['thumbnail_path'])); ?>" imagewidth = "<?php echo $width ?>" imageheight = "<?php echo $height ?>" original="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $photo['original_path'])); ?>"/>
                                                    <div class="icons-left">
                                                        <a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Attachment Image', '<?php echo $this->escape($this->url(array('id' => $photo['image_id'], 'type' => "booking", 'itemid' => $this->item_id), 'ItemImageAttachmentEdit')); ?> ');" class="details_info_opt editImage"><span class="fa fa-edit"></span> </a>
                                                    </div>


                                                    <div class="icons-right">
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $photo['image_id'], 'type' => "booking", 'itemId' => $this->item_id), 'ItemImageAttachmentDelete')); ?>" onclick="return confirmImageDelete($(this))" class="details_info_opt del"><span class="fa fa-times"></span> </a>
                                                    </div>

                                                    <div class="content">

                                                        <div style="height:80%;overflow:auto;" class="discussions">


                                                            <?php
                                                            $modelUser = new Model_User();
                                                            $modelAuthRole = new Model_AuthRole();
                                                            $modelContractorInfo = new Model_ContractorInfo();
                                                            $imageDiscussions = $modelBookingDiscussion->getByImageId($photo['image_id'], 'DESC');
                                                            ?>
                                                            <ul class="disc_b">
                                                                <?php if ($imageDiscussions): ?>
                                                                    <?php foreach ($imageDiscussions as $imageDiscussion): ?>
                                                                        <?php $user = $modelUser->getById($imageDiscussion['user_id']); ?>
                                                                        <li>
                                                                            <div class="normal_font"> 
                                                                                <span>
                                                                                    <i class="fa fa-user"></i>
                                                                                    <b><?php if ($user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                                                                            <?php $contractorInfo = $modelContractorInfo->getByContractorId($user['user_id']); ?>
                                                                                            <?php echo $this->escape(ucwords($user['username']) . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>

                                                                                        <?php else: ?>
                                                                                            <?php echo $this->escape(ucwords($user['username'])); ?>
                                                                                        <?php endif; ?>
                                                                                    </b>
                                                                                </span>

                                                                                <span >
                                                                                    <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                                                                                    <?php echo $this->escape(getDateFormating($imageDiscussion['created'])) ?>
                                                                                </span>
                                                                            </div>
                                                                            <div class="disc_message">
                                                                                <?php echo nl2br($this->escape(wordwrap($imageDiscussion['user_message'], 20, " ", true))); ?>
                                                                            </div>


                                                                        </li>
                                                                    <?php endforeach; ?>
                                                                <?php endif; ?>


                                                            </ul>
                                                        </div>
                                                        <div class="comment_body">
                                                            <div class="errMsg">&ensp;</div>
                                                            <input type="hidden" value= "<?php echo $photo['image_id']; ?>" name="imageId" id="imageId"/>
                                                            <div class="form-group">
                                                                <label class="col-md-3 col-xs-12"> 
                                                                    Comment 
                                                                </label>
                                                                <div class="col-md-7 col-xs-12" style="padding-left:0px;">
                                                                    <textarea name="discussion" class="form-control discussion_image" style="font-size:12px;"></textarea>               								
                                                                </div>
                                                                <div class="col-md-2 col-xs-12"><a class="btn btn-primary addComment" style="line-height:32px;"><i class="fa fa-comment"></i> Post</a></div>
                                                            </div>
                                                            <div style="clear:both"></div>
                                                        </div>
                                                    </div>


                                                </li>

                                                <?php $number = $number - 1; ?>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                </div>										

                            <?php endif; ?>
                            <div style="clear:both"></div>
                        </div>
                    </div>
            </form>
            
        </div>

    </div>
<?php } ?>

<script>
    // rating script
    function hoverStars(contractor_id, key, that) {
//        console.log($('#rating_'+contractor_id));
        $('#rating_' + contractor_id).children(' .rate_box_' + key).find('.rate-btn').removeClass('rate-btn-hover');
        var therate = $(that).attr('rate');
        for (var i = therate; i >= 0; i--) {
            $('#rating_' + contractor_id).children(' .rate_box_' + key).find('.rate-btn-' + i).addClass('rate-btn-hover');
        }
        ;
    }

    function sendRate(contractor_id, that) {
        var therate = $(that).attr('rate');
        var tagId = $(that).parent().find('.rating_tag').attr('tag_id');
//        var contractor_id = $('#rating_' + contractor_id).attr('cont_id');

//        alert(therate);
//            var item_id = 14552;
//            var item_type = $('#contractor_id').attr('cont_id');
//            var dataRate = 'act=rate&post_id=<?php // echo $post_id;                  ?>&rate=' + therate; //
//            $('.rate-btn').removeClass('rate-btn-active');
//            for (var i = therate; i >= 0; i--) {
//                $('.rate-btn-' + i).addClass('rate-btn-active');
//            };
        $.ajax({
            type: "POST",
            url: "<?php echo $this->url(array(), 'customerRate'); ?>",
            data: {rate: therate, tag_id: tagId, contractor_id: contractor_id},
            dataType: 'json',
            success: function (msg) {
                //$(that).parent(".contractorBox").css("background", "red");
                $('#rating_' + contractor_id).find('.total_rate').html(msg.total);
                $(that).parent().find('.rate-btn').removeClass('rate-btn-active');
                for (var i = msg.rate; i >= 0; i--) {
                    $(that).parent().find('.rate-btn-' + i).addClass('rate-btn-active');
                }
                ;
//                $(that).addClass("rate-btn-active");
            }
        });

    }
//    });
</script>


