<style>
.delete{
        display:none;
        float:right;
        cursor:pointer;
    }
	.commentBox:hover .delete{
        display:block;
    }
	
	.circle{
        display:none;
        float:right;
        cursor:pointer;
    }
	.commentBox:hover .circle{
        display:block;
    }
	.commentPhoto{
		padding-right: 15px;
	}
</style>
<?php 
$loggedUser = CheckAuth::getLoggedUser();
?>
<?php if ($this->bookingDiscussions || $this->invoiceDiscussions || $this->estimateDiscussions || $this->inquiryDiscussions || $this->complaintDiscussions): ?>
<?php if ($this->bookingDiscussions && CheckAuth::checkCredential(array('bookingDiscussion'))): 
//var_dump($this->bookingDiscussions);
?>

	<ul class="disc_b" id="booking_discussion">                                 
		<?php
		foreach ($this->bookingDiscussions as $key => $bookingDiscussion):
			$seen_ids = explode(',', $bookingDiscussion['seen_by_ids']); 
			$seen_names = explode(',', $bookingDiscussion['seen_by_names']);
			if(empty($bookingDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $bookingDiscussion['user_id'])){
			?>
			<li class="commentBox" style="background:#edf0f5;">
						   <?php }else if(!empty($bookingDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $bookingDiscussion['user_id'])){ ?>
								 <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
							<?php }else if(!in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $bookingDiscussion['user_id'])){ ?>
							 <li class="commentBox" style="background:#edf0f5;"><span style="float:right" data-toggle="tooltip" title="Mark as seen"  class="mark_as_seen circle" discussionId = "<?php echo $bookingDiscussion['_id']; ?>" type="booking"><i class="fa fa-circle-thin"></i></span>	
							<?php }elseif(in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $bookingDiscussion['user_id'])){ ?>
							   <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
						   <?php } ?>
			<?php if(CheckAuth::checkCredential(array('deleteCommentFromBookingDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $bookingDiscussion['_id']; ?>" item_id = "<?php echo $bookingDiscussion['booking_id']; ?>" type="booking" ><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $bookingDiscussion['user_id']){?>
										<span style="float:right;padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $bookingDiscussion['_id']; ?>" item_id = "<?php echo $bookingDiscussion['booking_id']; ?>" type="booking"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
						   <div class="commentPhoto" style="float:left;">
								<img  src="<?php
								if ($bookingDiscussion['avatar']) {
									echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $bookingDiscussion['avatar']);
								} else {
									echo $this->baseUrl('/pic/contractor_pic1.png');
								}
								?>" width="40" height="40" class="img-circle" alt="comment">

							</div>
				<div style = "float:left;">		   
					<div class="normal_font"> 
						<span>
							
							<b>
									<?php echo $bookingDiscussion['user']['username'];  ?>
								wrote on </b>
						</span>
						<span >
							<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
							<?php echo $this->escape(time_ago($bookingDiscussion['created']));?>
						</span>
					</div>
					<div class="disc_message">

						<?php 
						if (isset($bookingDiscussion['images']) && $bookingDiscussion['images']): ?> 
							<?php if (isset($bookingDiscussion['image_id']) && $bookingDiscussion['image_id']){?>
							  <input type="hidden" value="<?php echo $bookingDiscussion['image_id']; ?>" class="image_id"/> 
							<?php } else if(isset($bookingDiscussion['group_id']) && $bookingDiscussion['group_id']){?>
								<input type="hidden" value="<?php echo $bookingDiscussion['group_id']; ?>" class="group_id"/> 
							<?php }?>

							<div style="  width:auto;float: left;margin-right: 10px;" id="productContent">
								<ul>
									<?php
									$number = count($bookingDiscussion['images']);
									$imageCounts = 0;
									?>
									<?php
									foreach ($bookingDiscussion['images'] as $grouped_image):
									//var_dump($grouped_image);										//foreach($grouped_image['thumbnail_images'] as $k => $thumb)
										if(!empty($grouped_image['compressed_path'])){
                                            list($width, $height) = getimagesize($this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['compressed_path'])));
                                        }
										$imageCounts = $imageCounts + 1;
										$display = 'inline-block';
										if ($imageCounts > 4) {
											$display = 'none';
										} else {
											$display = 'inline-block';
										} 
										?>
										<li style="float:left;padding:0px;display:<?= $display; ?>"class="gallery-img" count="<?php echo count($bookingDiscussion['images']); ?>" number="<?php echo ($number--); ?>">
											<div class="viewTab" style="display:none;width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0.7;display: block !important;"></div>
  <?php if(!empty($grouped_image['compressed_path'])){ ?><a style="position: inherit;" data-toggle="modal" data-target="#fn_nearest"  onClick="fn_popupi_with_parm('Discussion Gallery', '<?php echo $this->escape($this->url(array('processID' => $bookingDiscussion['booking_id'], 'imageID' => $grouped_image['image_id'], 'type' => 'booking','group_id'=>$bookingDiscussion['group_id']), 'sliderTabs')); ?>');"><img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['thumbnail_path'])); ?>" imagewidth = "<?php echo $width ?>" imageheight = "<?php echo $height ?>" original="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['compressed_path'])); ?>" /></a><?php } ?>                                      
											<div class="content" style="display:none">
												<div style="height:80%;overflow:auto;" class="discussions" >
													
													<ul class="disc_b">
														<?php if (isset($grouped_image['imageDiscussions']) && $grouped_image['imageDiscussions']): ?>
															<?php
															foreach ($grouped_image['imageDiscussions'] as $imageDiscussion):
																?>
																<li>
																	<div class="normal_font"> 
																		<span>
																			<i class="fa fa-user"></i>
																			<b> <?php
																			echo $imageDiscussion['user']['username'];
																			?>
																			</b>
																		</span>

																		<span >
																			<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
																			<?php echo $imageDiscussion['discussion_date']; ?>
																		</span>
																	</div>
																	<div class="disc_message">
																		<?php echo nl2br(wordwrap($imageDiscussion['user_message'], 20, " ", true)); ?>
																	</div>
																</li>
															<?php endforeach; ?>
														<?php endif; ?>
													</ul>
												</div>

												<div class="comment_body">
													<div class="errMsg">&ensp;</div>
													<input type="hidden" value= "<?php echo $grouped_image['image_id']; ?>" name="imageId" id="imageId"/>
													<div class="form-group">
														<label class="col-md-3"> 
															Comment 
														</label>
														<div class="col-md-7" style="padding-left:0px;">
															<textarea name="discussion" class="form-control discussion_image" style="font-size:12px;"></textarea>               								
														</div>
														<div class="col-md-2" style="padding-left:0px;"><a class="btn btn-primary addComment" style="line-height:32px;"><i class="fa fa-comment"></i> Post</a></div>
													</div>
													<div style="clear:both"></div>
												</div>
											</div>
										</li>														  
									<?php endforeach; ?>

								</ul>

							</div>
						<?php endif; ?>

						<?php echo nl2br(wordwrap($bookingDiscussion['user_message'], 20, " ", true)); ?>
						<div style="clear:both"></div>
						<?php if(!empty($bookingDiscussion['seen_by_ids'])){?>
										<div class="seen_by">Seen by: <?php echo $bookingDiscussion['seen_by_names'];?></div>
									<?php }else{ ?>
										<div class="seen_by">Comment not seen</div>
									<?php }?>
					</div>
				</div>
				<div style = "clear:both;"></div>
			</li>

		<?php endforeach; ?>
	</ul>


<?php endif; ?>

<?php 
if ($this->invoiceDiscussions && CheckAuth::checkCredential(array('invoiceDiscussion'))): 
?>
	
	<ul class="disc_b" id="invoice_discussion">
		<h4>Invoice</h4>
		<?php foreach ($this->invoiceDiscussions as $invoiceDiscussion): 
		$seen_ids = explode(',', $invoiceDiscussion['seen_by_ids']); 
						$seen_names = explode(',', $invoiceDiscussion['seen_by_names']);
							if(empty($invoiceDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $invoiceDiscussion['user_id'])){
		?>
			<li class="commentBox" style="background:#edf0f5;">
						   <?php }else if(!empty($invoiceDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $invoiceDiscussion['user_id'])){ ?>
								 <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
							<?php }else if(!in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $invoiceDiscussion['user_id'])){ ?>
							 <li class="commentBox" style="background:#edf0f5;"><span style="float:right" data-toggle="tooltip" title="Mark as seen"  class="mark_as_seen circle" discussionId = "<?php echo $invoiceDiscussion['_id']; ?>" type="invoice"><i class="fa fa-circle-thin"></i></span>	
							<?php }elseif(in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $invoiceDiscussion['user_id'])){ ?>
							   <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
						   <?php } ?>
			<?php if(CheckAuth::checkCredential(array('deleteCommentFromInvoiceDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $invoiceDiscussion['_id']; ?>" item_id = "<?php echo $invoiceDiscussion['invoice_id']; ?>" type="invoice" ><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $invoiceDiscussion['user_id']){?>
										<span style="float:right;padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $invoiceDiscussion['_id']; ?>" item_id = "<?php echo $invoiceDiscussion['invoice_id']; ?>" type="invoice"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
						   <div class="commentPhoto" style="float:left;">
								<img  src="<?php
								if ($invoiceDiscussion['avatar']) {
									echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $invoiceDiscussion['avatar']);
								} else {
									echo $this->baseUrl('/pic/contractor_pic1.png');
								}
								?>" width="40" height="40" class="img-circle" alt="comment">

							</div>
				<div style = "float:left;">
				<div class="normal_font"> 
					<span>
						
						<b> 
							<?php echo $invoiceDiscussion['user_name']; ?>
						</b>
					</span>
					<span>
						<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
						<?php echo $this->escape(time_ago($invoiceDiscussion['created'])); ?>
					</span>				
				</div>

				<div class="disc_message">
					<?php echo $invoiceDiscussion['user_message']; ?>
					<?php if(!empty($invoiceDiscussion['seen_by_ids'])){?>
										<div class="seen_by">Seen by: <?php echo $invoiceDiscussion['seen_by_names'];?></div>
									<?php }else{ ?>
										<div class="seen_by">Comment not seen</div> 
									<?php }?>
				</div>
				</div><div style = "clear:both"></div>
			</li>

		<?php endforeach; ?>
	</ul> 


<?php endif; ?>

<?php if ($this->estimateDiscussions && CheckAuth::checkCredential(array('estimateDiscussion'))): ?>
	
	<ul class="disc_b" id="estimate_discussion">
		<h4>Estimate</h4>
		<?php
		$previousEstimateValue = null;
                
                //print_r($this->estimateDiscussions);

		foreach ($this->estimateDiscussions as $estimateDiscussion):
			$seen_ids = explode(',', $estimateDiscussion['seen_by_ids']); 
						$seen_names = explode(',', $estimateDiscussion['seen_by_names']);
							if(empty($estimateDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $estimateDiscussion['user_id'])){ 
			?>
<?php //echo $estimateDiscussion['group_id']; ?>
			<li class="commentBox" style="background:#edf0f5;">
						   <?php }else if(!empty($estimateDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $estimateDiscussion['user_id'])){ ?>
								 <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
							<?php }else if(!in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $estimateDiscussion['user_id'])){ ?>
							 <li class="commentBox" style="background:#edf0f5;"><span style="float:right" data-toggle="tooltip" title="Mark as seen"  class="mark_as_seen circle" discussionId = "<?php echo $estimateDiscussion['_id']; ?>" type="estimate"><i class="fa fa-circle-thin"></i></span>	
							<?php }elseif(in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $estimateDiscussion['user_id'])){ ?>
							   <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen" ><i class="fa fa-circle"></i></span>
						   <?php } ?>
			<?php if(CheckAuth::checkCredential(array('deleteCommentFromEstimateDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" item_id = "<?php echo $estimateDiscussion['estimate_id']; ?>" discussionId = "<?php echo $estimateDiscussion['_id']; ?>" type="estimate" ><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $estimateDiscussion['user_id']){?>
										<span style="float:right;padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $estimateDiscussion['_id']; ?>" item_id = "<?php echo $estimateDiscussion['estimate_id']; ?>" type="estimate"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
						   <div class="commentPhoto" style="float:left;">
								<img  src="<?php
								if ($estimateDiscussion['avatar']) {
									echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $estimateDiscussion['avatar']);
								} else {
									echo $this->baseUrl('/pic/contractor_pic1.png');
								}
								?>" width="40" height="40" class="img-circle" alt="comment">

							</div>
				<div style = "float:left;">		
					<div class="normal_font"> 
						<span>
					
							<b>     
								<?php echo $estimateDiscussion['user_name']; ?>
							</b>
						</span>

						<span >
							<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
							<?php echo $this->escape(time_ago($estimateDiscussion['created'])); ?>
						</span>
					</div>
					<div class="disc_message">

						<?php 
						if (isset($estimateDiscussion['images']) && $estimateDiscussion['images']): ?>
							<?php if (isset($estimateDiscussion['image_id']) && $estimateDiscussion['image_id']){?>
							  <input type="hidden" value="<?php echo $estimateDiscussion['image_id']; ?>" class="image_id"/> 
							<?php } else if(isset($estimateDiscussion['group_id']) && $estimateDiscussion['group_id']){?>
								<input type="hidden" value="<?php echo $estimateDiscussion['group_id']; ?>" class="group_id"/> 
							<?php }?>
							<div style="  width:auto;float: left;margin-right: 10px;" id="productContent">
								
								<ul>
									<?php
									$number = count($estimateDiscussion['images']);
									$imageCounts = 0;
									?>
									<?php
									foreach ($estimateDiscussion['images'] as $grouped_image):
                                        if(!empty($grouped_image['compressed_path'])){
                                            list($width, $height) = getimagesize($this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['compressed_path'])));
                                        }
										$imageCounts = $imageCounts + 1;
										$display = 'inline-block';
										if ($imageCounts > 4) {
											$display = 'none';
										} else {
											$display = 'inline-block';
										}
										?>
										<li style="float:left;padding:0px;display:<?= $display; ?>"class="gallery-img" count="<?php echo count($estimateDiscussion['images']); ?>" number="<?php echo ($number--); ?>">
											<div class="viewTab" style="display:none;width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0.7;display: block !important;"></div>
  <?php if(!empty($grouped_image['compressed_path'])){ ?><a style="position: inherit;" data-toggle="modal" data-target="#fn_nearest"  onClick="fn_popupi_with_parm('Discussion Gallery', '<?php echo $this->escape($this->url(array('processID' => $estimateDiscussion['estimate_id'], 'imageID' => $grouped_image['image_id'], 'type' => 'estimate','group_id'=>$estimateDiscussion['group_id']), 'sliderTabs')); ?>');"><img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['thumbnail_path'])); ?>" imagewidth = "<?php echo $width ?>" imageheight = "<?php echo $height ?>" original="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['compressed_path'])); ?>" /></a><?php } ?>                                      
											<div class="content" style="display:none">
												<div style="height:80%;overflow:auto;" class="discussions" >
													
													<ul class="disc_b">
														<?php if (isset($grouped_image['imageDiscussions']) && $grouped_image['imageDiscussions']): ?>
															<?php foreach ($grouped_image['imageDiscussions'] as $key => $imageDiscussion): ?>
																<li>
																	<div class="normal_font"> 
																		<span>
																			<i class="fa fa-user"></i>
																			<b>
																				<?php echo $imageDiscussion['user']['username']; ?>
																			</b>
																		</span>

																		<span >
																			<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
																			<?php echo $imageDiscussion['discussion_date']; ?>
																		</span>
																	</div>
																	<div class="disc_message">
																		<?php echo $imageDiscussion['user_message'] ; ?>
																	</div>
																</li>
															<?php endforeach; ?>
														<?php endif; ?>
													</ul>
												</div>

												<div class="comment_body">
													<div class="errMsg">&ensp;</div>
													<input type="hidden" value= "<?php echo $grouped_image['image_id']; ?>" name="imageId" id="imageId"/>
													<div class="form-group">
														<label class="col-md-3"> 
															Comment 
														</label>
														<div class="col-md-7" style="padding-left:0px;">
															<textarea name="discussion" class="form-control discussion_image" style="font-size:12px;"></textarea>               								
														</div>
														<div class="col-md-2" style="padding-left:0px;"><a class="btn btn-primary addComment" style="line-height:32px;"><i class="fa fa-comment"></i> Post</a></div>
													</div>
													<div style="clear:both"></div>
												</div>
											</div>
										</li>														  
									<?php endforeach; ?>

								</ul>

							</div>

						<?php endif; ?>
						<b> 
							<?php echo $estimateDiscussion['user_message']; ?>
						</b>
						<div style="clear:both"></div>
					</div>
					<?php if(!empty($estimateDiscussion['seen_by_ids'])){?>
										<div class="seen_by">Seen by: <?php echo $estimateDiscussion['seen_by_names'];?></div>
									<?php }else{ ?>
										<div class="seen_by">Comment not seen</div>
									<?php }?>
				</div>
				<div style = "clear:both;"></div>
			</li>


		<?php endforeach; ?>					                                    
	</ul>
<?php endif; ?>
<?php if ($this->inquiryDiscussions && CheckAuth::checkCredential(array('inquiryDiscussion'))): ?>
	

	<ul class="disc_b" id="Inquiry_discussion">
		<h4>Inquiry</h4>
		<?php
		$previousInquiryValue = null;

		foreach ($this->inquiryDiscussions as $inquiryDiscussion):			
			$seen_ids = explode(',', $inquiryDiscussion['seen_by_ids']); 
						$seen_names = explode(',', $inquiryDiscussion['seen_by_names']);
							if(empty($inquiryDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $inquiryDiscussion['user_id'])){ 
			?>

			<li class="commentBox" style="background:#edf0f5;">
						   <?php }else if(!empty($inquiryDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $inquiryDiscussion['user_id'])){ ?>
								 <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
							<?php }else if(!in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $inquiryDiscussion['user_id'])){ ?>
							 <li class="commentBox" style="background:#edf0f5;"><span style="float:right" data-toggle="tooltip" title="Mark as seen"  class="mark_as_seen circle" discussionId = "<?php echo $inquiryDiscussion['_id']; ?>" type="inquiry"><i class="fa fa-circle-thin"></i></span>	
							<?php }elseif(in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $inquiryDiscussion['user_id'])){ ?>
							   <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
						   <?php } ?>
			<?php if(CheckAuth::checkCredential(array('deleteCommentFromInquiryDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $inquiryDiscussion['_id']; ?>" item_id = "<?php echo $inquiryDiscussion['inquiry_id']; ?>" type="inquiry" ><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $inquiryDiscussion['user_id']){?>
										<span style="float:right;padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $inquiryDiscussion['_id']; ?>" item_id = "<?php echo $inquiryDiscussion['inquiry_id']; ?>" type="inquiry"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
						   <div class="commentPhoto" style="float:left;">
								<img  src="<?php
								if ($inquiryDiscussion['avatar']) {
									echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $inquiryDiscussion['avatar']);
								} else {
									echo $this->baseUrl('/pic/contractor_pic1.png');
								}
								?>" width="40" height="40" class="img-circle" alt="comment">

							</div>
				<div style = "float:left;">	
					<div class="normal_font"> 
						<span>
							
							<b>     
								<?php echo $inquiryDiscussion['user']['username']; ?>
							</b>
						</span>

						<span >
							<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
							<?php echo $this->escape(time_ago($inquiryDiscussion['created']));?>
						</span>
					</div>
					<div class="disc_message">

						<?php 
						if (isset($inquiryDiscussion['images']) && $inquiryDiscussion['images']): ?>
							<?php if (isset($inquiryDiscussion['image_id']) && $inquiryDiscussion['image_id']){?>
							  <input type="hidden" value="<?php echo $inquiryDiscussion['image_id']; ?>" class="image_id"/> 
							<?php } else if(isset($inquiryDiscussion['group_id']) && $inquiryDiscussion['group_id']){?>
								<input type="hidden" value="<?php echo $inquiryDiscussion['group_id']; ?>" class="group_id"/> 
							<?php }?>
							<div style="  width:auto;float: left;margin-right: 10px;" id="productContent">
								<ul>
									<?php
									$number = count($inquiryDiscussion['images']);
									$imageCounts = 0;
									?>
									<?php
									foreach ($inquiryDiscussion['images'] as $grouped_image):
                                        if(!empty($grouped_image['compressed_path'])){
                                            list($width, $height) = getimagesize($this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['compressed_path'])));
                                        }
										$imageCounts = $imageCounts + 1;
										$display = 'inline-block';
										if ($imageCounts > 4) {
											$display = 'none';
										} else {
											$display = 'inline-block';
										}
										?>
										<li style="float:left;padding:0px;display:<?= $display; ?>"class="gallery-img" count="<?php echo count($inquiryDiscussion['images']); ?>" number="<?php echo ($number--); ?>">
											<div class="viewTab" style="display:none;width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0.7;display: block !important;"></div>
                                   <?php if(!empty($grouped_image['compressed_path'])){ ?><a style="position: inherit;" data-toggle="modal" data-target="#fn_nearest"  onClick="fn_popupi_with_parm('Discussion Gallery', '<?php echo $this->escape($this->url(array('processID' => $inquiryDiscussion['inquiry_id'], 'imageID' => $grouped_image['image_id'], 'type' => 'inquiry','group_id'=>$inquiryDiscussion['group_id']), 'sliderTabs')); ?>');"><img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['thumbnail_path'])); ?>"  imagewidth = "<?php echo $width ?>" imageheight = "<?php echo $height ?>" original="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['compressed_path'])); ?>"/></a><?php } ?>                                                  
											<div class="content" style="display:none">
												<div style="height:80%;overflow:auto;" class="discussions" >
													
													<ul class="disc_b">
														<?php if (isset($grouped_image['imageDiscussions']) && $grouped_image['imageDiscussions']): ?>
															<?php foreach ($grouped_image['imageDiscussions'] as $inquiryImageDiscussion): 
															
															?>
																
																<li>
																	<div class="normal_font"> 
																		<span>
																			<i class="fa fa-user"></i>
																			<b>
																				<?php echo $inquiryImageDiscussion['user']['username']; ?>
																				
																			</b>
																		</span>

																		<span >
																			<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
																			<?php echo $inquiryImageDiscussion['discussion_date']; ?>
																		</span>
																	</div>
																	<div class="disc_message">
																		<?php echo nl2br(wordwrap($inquiryImageDiscussion['user_message'], 20, " ", true)); ?>
																	</div>
																</li>
															<?php endforeach; ?>
														<?php endif; ?>
													</ul>
												</div>

												<div class="comment_body">
													<div class="errMsg">&ensp;</div>
													<input type="hidden" value= "<?php echo $grouped_image['image_id']; ?>" name="imageId" id="imageId"/>
													<div class="form-group">
														<label class="col-md-3"> 
															Comment 
														</label>
														<div class="col-md-7" style="padding-left:0px;">
															<textarea name="discussion" class="form-control discussion_image" style="font-size:12px;"></textarea>               								
														</div>
														<div class="col-md-2" style="padding-left:0px;"><a class="btn btn-primary addComment" style="line-height:32px;"><i class="fa fa-comment"></i> Post</a></div>
													</div>
													<div style="clear:both"></div>
												</div>
											</div>
										</li>														  
									<?php endforeach; ?>

								</ul>

							</div>

						<?php endif; ?>
						<b> 
							<?php echo $inquiryDiscussion['user_message']; ?>
						</b>
						<div style="clear:both"></div>
					</div>
					<?php if(!empty($inquiryDiscussion['seen_by_ids'])){?>
										<div class="seen_by">Seen by: <?php echo $inquiryDiscussion['seen_by_names'];?></div>
									<?php }else{ ?>
										<div class="seen_by">Comment not seen</div>
									<?php }?>
				</div>
				<div style = "clear:both;"></div>
			</li>

		<?php endforeach; ?>
	</ul>

<?php endif; ?>

<?php if ($this->complaintDiscussions && CheckAuth::checkCredential(array('complaintDiscussion'))): ?>
	
	<ul class="disc_b" id="complaint_discussion">
		<h4>Complaint</h4>
		<?php foreach ($this->complaintDiscussions as $complaintDiscussion): 
		$seen_ids = explode(',', $complaintDiscussion['seen_by_ids']); 
						$seen_names = explode(',', $complaintDiscussion['seen_by_names']);
							if(empty($complaintDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $complaintDiscussion['user_id'])){ ?>
			<li class="commentBox" style="background:#edf0f5;">
						   <?php }else if(!empty($complaintDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $complaintDiscussion['user_id'])){ ?>
								 <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
							<?php }else if(!in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $complaintDiscussion['user_id'])){ ?>
							 <li class="commentBox" style="background:#edf0f5;"><span style="float:right" data-toggle="tooltip" title="Mark as seen"  class="mark_as_seen circle" discussionId = "<?php echo $complaintDiscussion['_id']; ?>" type="complaint"><i class="fa fa-circle-thin"></i></span>	
							<?php }elseif(in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $complaintDiscussion['user_id'])){ ?>
							   <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
						   <?php } ?>
			<?php if(CheckAuth::checkCredential(array('deleteCommentFromComplaintDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $complaintDiscussion['_id']; ?>" item_id = "<?php echo $complaintDiscussion['complaint_id']; ?>" type="complaint" ><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $complaintDiscussion['user_id']){?>
										<span style="float:right;padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $complaintDiscussion['_id']; ?>" item_id = "<?php echo $complaintDiscussion['complaint_id']; ?>" type="complaint"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
						   <div class="commentPhoto" style="float:left;">
								<img  src="<?php
								if ($complaintDiscussion['avatar']) {
									echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $complaintDiscussion['avatar']);
								} else {
									echo $this->baseUrl('/pic/contractor_pic1.png');
								}
								?>" width="40" height="40" class="img-circle" alt="comment">

							</div>
			<div style = "float:left;">	
				<div class="normal_font"> 
					<span>
						
						<b>     
							<?php echo $complaintDiscussion['user_name']; ?>
						</b>
					</span>

					<span >
						<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
						<?php echo $this->escape(time_ago($complaintDiscussion['created']));?>
					</span>
				</div>
				<div class="disc_message">
					<b> 
						<?php 
						if (isset($complaintDiscussion['images']) && $complaintDiscussion['images']): ?>
							<?php if (isset($complaintDiscussion['image_id']) && $complaintDiscussion['image_id']){?>
							  <input type="hidden" value="<?php echo $complaintDiscussion['image_id']; ?>" class="image_id"/> 
							<?php } else if(isset($complaintDiscussion['group_id']) && $complaintDiscussion['group_id']){?>
								<input type="hidden" value="<?php echo $complaintDiscussion['group_id']; ?>" class="group_id"/> 
							<?php }?>
							<div style="  width:auto;float: left;margin-right: 10px;" id="productContent">
								<ul>
									<?php $number = count($complaintDiscussion['images']); ?>
									<?php $imageCounts = 0; ?>
									<?php
									foreach ($complaintDiscussion['images'] as $grouped_image):
                                        if(!empty($grouped_image['compressed_path'])){
                                            list($width, $height) = getimagesize($this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['compressed_path'])));
                                        }
										$imageCounts = $imageCounts + 1;
										$display = 'inline-block';
										if ($imageCounts > 4) {
											$display = 'none';
										} else {
											$display = 'inline-block';
										}
										?>
										<li style="float:left;padding:0px;display:<?= $display; ?>"class="gallery-img" count="<?php echo count($complaintDiscussion['images']); ?>" number="<?php echo ($number--); ?>">
											<div class="viewTab" style="display:none;width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0.7;display: block !important;"></div>
                                         <?php if(!empty($grouped_image['compressed_path'])){ ?><a style="position: inherit;" data-toggle="modal" data-target="#fn_nearest"  onClick="fn_popupi_with_parm('Discussion Gallery', '<?php echo $this->escape($this->url(array('processID' => $complaintDiscussion['complaint_id'], 'imageID' => $grouped_image['image_id'], 'type' => 'complaint','group_id'=>$complaintDiscussion['group_id']), 'sliderTabs')); ?>');"><img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['thumbnail_path'])); ?>" imagewidth = "<?php echo $width ?>" imageheight = "<?php echo $height ?>" original="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['compressed_path'])); ?>" /></a><?php } ?>                                                 
											<div class="content" style="display:none">
												<div style="height:80%;overflow:auto;" class="discussions" >
													<ul class="disc_b">
														<?php if (isset($grouped_image['imageDiscussions']) && $grouped_image['imageDiscussions']): ?>
															<?php foreach ($grouped_image['imageDiscussions'] as $complaintImageDiscussion): ?>
																
																<li>
																	<div class="normal_font"> 
																		<span>
																			<i class="fa fa-user"></i>
																			<b>
																				<?php echo $complaintImageDiscussion['user']['username']; ?>
																				
																			</b>
																		</span>

																		<span >
																			<i class="glyphicon glyphicon-time" aria-hidden="true"></i>
																			<?php echo $complaintImageDiscussion['discussion_date'] ?>
																		</span>
																	</div>
																	<div class="disc_message">
																		<?php echo nl2br(wordwrap($complaintImageDiscussion['user_message'], 20, " ", true)); ?>
																	</div>
																</li>
															<?php endforeach; ?>
														<?php endif; ?>
													</ul>
												</div>

												<div class="comment_body">
													<div class="errMsg">&ensp;</div>
													<input type="hidden" value= "<?php echo $grouped_image['image_id']; ?>" name="imageId" id="imageId"/>
													<div class="form-group">
														<label class="col-md-3"> 
															Comment 
														</label>
														<div class="col-md-7" style="padding-left:0px;">
															<textarea name="discussion" class="form-control discussion_image" style="font-size:12px;"></textarea>               								
														</div>
														<div class="col-md-2" style="padding-left:0px;"><a class="btn btn-primary addComment" style="line-height:32px;"><i class="fa fa-comment"></i> Post</a></div>
													</div>
													<div style="clear:both"></div>
												</div>
											</div>
										</li>														  
									<?php endforeach; ?>

								</ul>

							</div>
						<?php endif; ?>

						<?php echo $complaintDiscussion['user_message']; ?>
					</b>


				</div>
				<div style="clear:both"></div>
				<?php if(!empty($complaintDiscussion['seen_by_ids'])){?>
										<div class="seen_by">Seen by: <?php echo $complaintDiscussion['seen_by_names'];?></div>
									<?php }else{ ?>
										<div class="seen_by">Comment not seen</div>
									<?php }?>
			</div><div style = "clear:both;"></div>
			</li>
		<?php endforeach; ?>
	</ul>
<?php endif; ?>
<?php else: ?>
	<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>
	
<?php endif; ?>