<style>
    .delete{
        display:none;
        float:right;
        cursor:pointer;
    }
    .commentBox:hover .delete{
        display:block;
    }
    .circle{
        display:none;
        float:right;
        cursor:pointer;
    }
    .commentBox:hover .circle{
        display:block;
    }

    #uploadPhotos.form-group{
        margin-bottom: 0px;
    }

    .commentPhoto{
        padding-right: 15px;
    }

    .discussionsList{
        max-height: 300px;
        overflow-y: auto;
    }

    .editVisibility{
        display:none;
        float:right;
        cursor:pointer;
    }
    .commentBox:hover .editVisibility{
        display:block;
    }

</style>
<div id = "indexDiscussions">
    <div id="StartConversationHidden" style="float:left; display:none"><h3>Start a conversation</h3></div>
    <?php
    $modelAuthRole = new Model_AuthRole();
    $loggedUser = CheckAuth::getLoggedUser();
    $contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
    ?>
    <?php if (!$this->discussions) { ?>
        <div id="StartConversation" style="float:left"><h3>Start a conversation</h3></div>
<?php } ?>


    <div style="clear:both"></div>

</div>
<?php if ($this->discussions): ?>
    <div class="ibox-content discussionsList" >
        <ul id="discussions" class="discussion_container disc_b">




            <?php
            foreach ($this->discussions as $discussion):

                $seen_ids = explode(',', $discussion['seen_by_ids']);
                $seen_names = explode(',', $discussion['seen_by_names']);
                if (empty($discussion['seen_by_ids']) && ($loggedUser['user_id'] == $discussion['user_id'])) {
                    ?>

                    <li class="commentBox" style="background:#edf0f5;">
                    <?php } else if (!empty($discussion['seen_by_ids']) && ($loggedUser['user_id'] == $discussion['user_id'])) { ?>
                    <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
                    <?php } else if (!in_array($loggedUser['user_id'], $seen_ids) && ($loggedUser['user_id'] != $discussion['user_id'])) { ?>
                    <li class="commentBox" style="background:#edf0f5;"><span style="float:right" data-toggle="tooltip" title="Mark as seen"  class="mark_as_seen circle"><i class="fa fa-circle-thin"></i></span>	
                    <?php } elseif (in_array($loggedUser['user_id'], $seen_ids) && ($loggedUser['user_id'] != $discussion['user_id'])) { ?>
                    <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
                    <?php } ?>
                    <?php if (CheckAuth::checkCredential(array('deleteCommentFromBookingDashboard'))) { ?>
                        <span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $discussion['_id']; ?>" item_id="<?php echo $this->item_id ?>" ><i class="glyphicon glyphicon-remove"></i></span>
                    <?php } else {
                        if ($loggedUser['user_id'] == $discussion['user_id']) {
                            ?>
                            <span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $discussion['_id']; ?>" item_id="<?php echo $this->item_id ?>"><i class="glyphicon glyphicon-remove"></i></span>
                        <?php }
                    } ?>
        <?php if ($loggedUser['user_id'] == $discussion['user_id']) { ?>
                        <a style="float:right;padding-right:5px;" class="editVisibility" href="#"  visibility="<?php echo $discussion['visibility']; ?>" discussionId = "<?php echo $discussion['discussion_id']; ?>" data-toggle="tooltip" title="Edit visibility"><img src="/pic/icons/edit.png" /></a>

        <?php } ?>

                    <div class="commentPhoto" style="float:left;">
                        <img  src="<?php
                        if ($discussion['avatar']) {
                            echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $discussion['avatar']);
                        } else {
                            echo $this->baseUrl('/pic/contractor_pic1.png');
                        }
                        ?>" width="40" height="40" class="img-circle" alt="comment">

                    </div>
                    <div style = "float:left;">
                        <div class="normal_font"> 
                            <span>
                                <b>	<?php echo $this->escape($discussion['user_name']); ?> (<span class="red_color"><?php echo $this->escape($discussion['user_role_name']); ?></span>)
                                </b>
                            </span>

                            <span>
                                &nbsp;
                                <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                                <?php
                                echo $this->escape(time_ago($discussion['created']));
                                //echo $this->escape(getDateFormating($discussion['created'])); 
                                ?>
                            </span>

                            <?php if ($this->type == 'invoice') {
                                if (isset($discussion['payment_id']) && $discussion['payment_id'] != 0) {
                                    ?>
                                    <b>reject payment and wrote </b> 
            <?php }
        } ?>
                        </div>


                        <div class="disc_message">
                            <?php if (isset($discussion['images']) && $discussion['images']) { ?>
                                <?php if (isset($discussion['image_id']) && $discussion['image_id']) { ?>
                                    <input type="hidden" value="<?php echo $discussion['image_id']; ?>" class="image_id"/> 
            <?php } else if (isset($discussion['group_id']) && $discussion['group_id']) { ?>
                                    <input type="hidden" value="<?php echo $discussion['group_id']; ?>" class="group_id"/> 
                                        <?php } ?>
                                <div style="  width:auto;float: left;margin-right: 10px;">

                                    <ul>
                                        <?php
                                        foreach ($discussion['images'] as $image):
                                            ?>
                                            <li style="float:left;padding:0px">
                                                <img  src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $image['thumbnail_path'])); ?>" />
                                            </li>
            <?php endforeach; ?>
                                    </ul>
                                </div>

                            <?php } ?>

        <?php echo nl2br($this->escape($discussion['user_message'])); ?>
                            <div style="clear:both"></div>
                            <input type="hidden" value="<?php echo $discussion['_id']; ?>" class="discussion_id"/> 
                        </div>
                        <?php if (!empty($discussion['seen_by_ids'])) { ?>
                            <div class="seen_by">Seen by: <?php echo $discussion['seen_by_names']; ?></div>
                        <?php } else { ?>
                            <div class="seen_by">Comment not seen</div>
        <?php } ?>
                    </div><div style = "clear:both;"></div>
                </li>

    <?php endforeach; ?>

        </ul>
    </div>
<?php else: ?>
    <div class="ibox-content discussionsList" id="popup_discussions">
        <!--
            <div id="discussions" class="empty discussion_container" style="margin-bottom: 12px;">
                <p>No Discussion for this Booking</p>
            </div>
        -->
    </div>
<?php endif; ?>

<div class="form-group" style="float:right;margin-top:15px;">
    <label >Visibility</label>	
    <select class="form-control commentVisibility" id="commentVisibility" >
        <?php if ($loggedUser['role_id'] != $contractorRoleId) { ?>
            <option value="1">Office</option>
        <?php } ?>
        <option <?php
            if ($loggedUser['role_id'] == $contractorRoleId) {
                echo "selected";
            }
            ?> value="2">Office and technicians</option>
        <option value="3">Everyone</option>
    </select>
</div>

<form  class="form-horizontal" method="POST" id="discussion_form" 
       onsubmit='<?php
       if ($this->type == 'booking')
           echo "sendDiscussion();return false;";
       /* else if	($this->type == 'complaint'){ 
         $process = isset($this->process)? $this->process: 'send';
         echo "sendDiscussion(" . "'" . $process . "'" .");return false;";} */
       else
           echo "sendDiscussion();return false;";
       ?>'>
    <div class="form-group">
        <div style = "padding-left:15px;" id="errMsg">&ensp;</div>
        <div class="col-md-12">	   
            <textarea cols="" rows="4" id="disc" name="discussion" class="descussion_txtarea form-control" placeholder="Leave a comment..."></textarea>
<?php if ($this->type == 'invoice') { ?>
                <input type="text" style="display: none !important;" name="payment_id" value="<?php echo $this->payment['payment_id']; ?>">
<?php } ?>
        </div>
    </div>

    <div id="uploadPhotos" class="form-group">
        <div class="col-md-12">
            <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
                <div class="dz-message"></div>
            </div>
        </div>
    </div>

                <?php if (CheckAuth::checkCredential(array('canNotifyOtherUsers'))) { ?>	
        <div class="row">
            <div class="col-sm-7" id="notifyText"><h3>Will notify </h3></div>
            <div class="form-group col-sm-5" >
                <select class="form-control" id="notifyPersons" multiple="multiple">
                    <option value="" selected="selected">add/remove</option>
        <?php foreach ($this->users as $user) { ?>
                        <option value="<?php echo $user['user_id']; ?>" ><?php echo $user['username']; ?></option>
    <?php } ?>

                </select>
            </div>
        </div>
    <?php } else if ($loggedUser['role_id'] == $contractorRoleId) { ?>
        <div id="notifyCustomer" class="row" style="display:none">
            <div class="col-sm-7" id="notifyText"><h3>Will notify </h3></div>
            <div class="form-group col-sm-5" >
                <select class="form-control" id="notifyPersons">					
                </select>
            </div>
        </div>
<?php } ?>

<?php //if ($this->type == 'booking') { ?>
        <div class="form-group" id="button_cont">
            <div class="col-md-9 col-md-offset-3">
                <div id="save_btn">
                    <input type="submit" value=<?php if ($this->process == 'close') {?>
                        "Close"
                    <?php } elseif ($this->process == 'open') {?>
                        "Open"
                           <?php } else {?>
                        "Send"
                           <?php } ?>
                           class="btn btn-primary">							
                    or 							  
                    <a class="btn btn-white"onclick="getData(); return false;">								   
                        Refresh  								  
                    </a>
                </div>

                <img src="/pic/loading-4.gif" style="display:none" id="loading_img">	
            </div>							

        </div>
    <?php /*} else if($this->type == 'complaint'){ ?>
      <div class="form-group">
      <div id="button_cont" class="col-md-8 col-md-offset-4">

      <!--<a onclick="$('#discussion_form').submit(); return false;" class="btn btn-primary"> -->
      <a class="btn btn-primary" id="submitButtonId">
      <div class="discussion_submit">
      <?php if($this->process == 'close'){
      ?>
      Close
      <?php }
      elseif($this->process == 'open'){
      ?>
      Open
      <?php }
      else{
      ?>
      Send
      <?php
      }
      ?>
      </div>
      </a>
      <a onclick="getData(); return false;" class="btn btn-white">
      <div class="discussion_refresh">
      Refresh
      </div>
      </a>
      </div>
      </div>
      <?php }  else { ?>
        <div class="form-group"  id="button_cont">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary" ><?php if ($this->process == 'close') {
            ?>
                        Close
                    <?php
                    } elseif ($this->process == 'open') {
                        ?>
                        Open
    <?php
    } else {
        ?>
                        Send
        <?php
    }
    ?>	</button>
                <a href="#" onclick="getData(); return false;" class="btn btn-white">Refresh</a>
            </div>
        </div>
<?php } */?>

</form>

<script type="text/javascript">
    var countAllDiscussion = $('#allDiscussionsCount').attr('count');
    var type = '<?php echo $this->type; ?>';
    function sendDiscussion(process) {
        if (typeof (process) === 'undefined') {
            var complaintProcess = '<?php echo isset($this->process) ? $this->process : 'send'; ?>';
            process = complaintProcess;
            //console.log("p " + complaintProcess);
        }
        var visibility = $('#commentVisibility').val();
        var notifyPersons;
        if ($('#notifyPersons').length > 0) {
            notifyPersons = $('#notifyPersons').val();
            if ($('#notifyPersons').val() == null) {
                notifyPersons = '';
            } else {
                notifyPersons = $('#notifyPersons').val();
            }
        } else {
            notifyPersons = '';
        }
        //$('#button_cont').html('<img src="/pic/loading-4.gif">');
       // if (type == 'booking') {
            $('#loading_img').show();
            $('#save_btn').hide();
        //} else {
       //     $('#button_cont').html('<img src="/pic/loading-4.gif">');
       // }
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->item_id, 'process' => isset($this->process) ? $this->process : 'send', 'type' => $this->type), 'submitDiscussion')); ?>",
            data: $('#discussion_form').serialize() + "&visibility=" + visibility + "&notifyPersons=" + notifyPersons,
            dataType: "json",
            success: function (msg) {
                if (msg.success == 1) {
                    if ($('#disc_tab').find('.no_result').length > 0) {
                        if (type == 'booking') {
                            $('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>');
                        } else if (type == 'complaint') {
                            $('#disc_tab').html('<ul class="disc_b" id="complaint_discussion"></ul>');
                        } else if (type == 'estimate') {
                            $('#disc_tab').html('<ul class="disc_b" id="estimate_discussion"></ul>');
                        } else if (type == 'inquiry') {
                            $('#disc_tab').html('<ul class="disc_b" id="Inquiry_discussion"></ul>');
                        } else if (type == 'invoice') {
                            $('#disc_tab').html('<ul class="disc_b" id="invoice_discussion"></ul>');
                        }

                    }
                    getData();
                    $('#discussions').removeClass('empty');

                    if (type == 'complaint') {
                        if (msg.updated == 1) {
                            $('#popupi').modal('hide');
                            parent.location.reload(1);
                        }
                    } else if (type == 'invoice') {
                        var paymentId = "<?php echo $this->payment['payment_id']; ?>";
                        if (paymentId != 0) {
                            $('#messege').html('<div class="alert alert-success" role="alert">This payment has been rejected</div>');
                            $('#reject_link_' + paymentId + '').html('<a class="details_info_opt" style="color: #ff0000 !important; cursor:default;">Rejected</a>');
                        }
                    }

                    countAllDiscussion++;
                    $('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
                    $('#allDiscussionsCount').attr('count', countAllDiscussion);
                } else {
                    $('#errMsg').html(msg.errMsg);
                }

                //if (type == 'booking') {
                    $('#loading_img').hide();
                    $('#save_btn').show();
                //} else {
               //     return_button();
               // }

            }
        });
    }

    var postMaxSize = '<?php echo str_replace('M', '', ini_get('post_max_size')); ?>';
    var totalSizes = 0;

    //if (type == 'booking') {
        var photoDropzone = new Dropzone("#discussion_form", {
            url: "<?php echo $this->escape($this->url(array('id' => $this->item_id, 'process' => isset($this->process) ? $this->process : 'send', 'type' => $this->type), 'submitDiscussion')); ?>",
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 10,
            maxFiles: 100,
            maxFilesize: 10,
            acceptedFiles: ".jpeg,.jpg,.png,.gif",
            previewsContainer: '#dropzonePreview',
            clickable: '#dropzonePreview',
            addRemoveLinks: true,
            // The setting up of the dropzone
            init: function () {
                var myDropzone = this;
                var submitButton = document.querySelector('input[type=submit]');
                myDropzone = this; // closure		
                submitButton.addEventListener("click", function (e) {

                    e.preventDefault();
                    e.stopPropagation();
                    if (myDropzone.getQueuedFiles().length === 0) {
                        sendDiscussion('send');
                    } else {
                        $('#loading_img').show();
                        $('#save_btn').hide();
                        //$('#button_cont').html('<img src="/pic/loading-4.gif">');
                        if ($('#disc').val() == '') {
                            $('#errMsg').html('Invalid Discussion');
                            return false;
                        }

                        myDropzone.processQueue();
                        countAllDiscussion++;
                        $('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
                        $('#allDiscussionsCount').attr('count', countAllDiscussion);
                    }
                });

                this.on("successmultiple", function (files, response) {

                    response = jQuery.parseJSON(response);
                    if (response.success == 1) {
                        if ($('#disc_tab').find('.no_result').length > 0) {
                            $('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>')
                        }
                        getData();
                        $('#discussions').removeClass('empty');
                    } else {
                        $('#errMsg').html(response.errMsg);
                    }
                    //return_button();
                    $('#loading_img').hide();
                    $('#save_btn').show();

                });
                this.on("errormultiple", function (files, response) {
                    //return_button();
                    response = jQuery.parseJSON(response);
                    if (response.success == 1) {
                        if ($('#disc_tab').find('.no_result').length > 0) {
                            $('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>')
                        }
                        getData();
                        $('#discussions').removeClass('empty');
                    } else {
                        $('#errMsg').html(response.errMsg);
                    }

                    $('#loading_img').hide();
                    $('#save_btn').show();
                });

                this.on("addedfile", function (file) {
                    var fileSize = file.size;
                    var MegaSize = fileSize / (1024 * 1024);
                    totalSizes = totalSizes + MegaSize;
                    if (totalSizes > postMaxSize) {
                        this.removeFile(file);
                        alert('Total files size is too big , Max total file size (30M)');
                    }

                });

                this.on("removedfile", function (file) {
                    var fileSize = file.size;
                    var MegaSize = fileSize / (1024 * 1024);
                    totalSizes = totalSizes - MegaSize;

                });

                // Execute when file uploads are complete
                this.on("complete", function () {
                    // If all files have been uploaded
                    if (this.getQueuedFiles().length == 0 && this.getUploadingFiles().length == 0) {
                        var _this = this;
                        // Remove all files
                        _this.removeAllFiles();
                    }
                });

                this.on('sending', function (file, xhr, formData) {
                    var visibility = $('#commentVisibility').val();
                    //var notifyPersons = $('#notifyPersons').val();
                    var notifyPersons;
                    if ($('#notifyPersons').length > 0) {
                        //console.log('test notify');
                        notifyPersons = $('#notifyPersons').val();
                        if ($('#notifyPersons').val() == null) {
                            notifyPersons = '';
                        } else {
                            notifyPersons = $('#notifyPersons').val();
                        }
                    } else {
                        notifyPersons = '';
                    }
                    //console.log('test notify' + notifyPersons);
                    formData.append('visibility', visibility);
                    formData.append('notifyPersons', notifyPersons);
                });



            }
        });
    //}
    setTimeout('scrollDown()', 1);


    function getData() {
        var count = 0;
        var loggedUserRoleId = '<?php echo $loggedUser['role_id']; ?>';
        var loggedUserId = '<?php echo $loggedUser['user_id']; ?>';
        var contractorRoleId = '<?php echo $contractorRoleId; ?>';
        var type = '<?php echo $this->type; ?>';
        var item_id = '<?php echo $this->item_id; ?>';
        var canDeleteComment = false;
        if (type == 'booking') {
            canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromBookingDashboard')); ?>';
        } else if (type == 'estimate') {
            canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromEstimateDashboard')); ?>';
        } else if (type == 'inquiry') {
            canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromInquiryDashboard')); ?>';
        } else if (type == 'invoice') {
            canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromInvoiceDashboard')); ?>';
        } else if (type == 'complaint') {
            canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromComplaintDashboard')); ?>';
        }


        //if (type == 'booking') {
            $('#loading_img').show();
            $('#save_btn').hide();
        //} else {
        //    $('#button_cont').html('<img src="/pic/loading-4.gif">');
        //}

        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->item_id, 'type' => $this->type), 'allDiscussion')); ?>",
            dataType: "json",
            success: function (msg) {
                console.log("count = " + msg.count);
                if (count != msg.count) {

                    if ($('ul#discussions').length > 0) {
                        $('ul#discussions').html('');
                        //$('#discussions').addClass('disc_b');
                    } else {
                        $('div#discussions').remove();
                        $('#popup_discussions').html('<ul class="disc_b discussion_container" id="discussions">');
                    }
                    if (type == 'booking') {
                        if ($('#booking_discussion').length > 0) {
                            $('#booking_discussion').html('');
                        } else {
                            $('#disc_tab').prepend('<ul class="disc_b" id="booking_discussion"></ul>');
                        }
                    } else if (type == 'complaint') {
                        if ($('#complaint_discussion').length > 0) {
                            $('#complaint_discussion').html('<h4>Complaint</h4>');
                        } else {
                            $('#disc_tab').append('<ul class="disc_b" id="complaint_discussion"><h4>Complaint</h4></ul>');
                        }
                    } else if (type == 'estimate') {
                        if ($('#estimate_discussion').length > 0) {
                            $('#estimate_discussion').html('<h4>Estimate</h4>');
                        } else {
                            $('#disc_tab').append('<ul class="disc_b" id="estimate_discussion"></ul>');
                        }
                    } else if (type == 'inquiry') {
                        if ($('#Inquiry_discussion').length > 0) {
                            $('#Inquiry_discussion').html('<h4>Inquiry</h4>');
                        } else {
                            $('#disc_tab').append('<ul class="disc_b" id="Inquiry_discussion"></ul>');
                        }
                    } else if (type == 'invoice') {
                        if ($('#invoice_discussion').length > 0) {
                            $('#invoice_discussion').html('<h4>Invoice</h4>');
                        } else {
                            $('#disc_tab').append('<ul class="disc_b" id="invoice_discussion"><h4>Invoice</h4></ul>');
                        }
                    }

                    $.each(msg.discussions, function (index, discussion) {
                        var seen_ids = discussion.seen_by_ids.split(",");
                        for (var key in discussion._id) {
                            var id = discussion._id[key];
                            //console.log("id: " + id);
                        }
                        var comment_text = '<li class="commentBox"';
                        if (seen_ids.indexOf(loggedUserId) == -1 && loggedUserId != discussion.user_id) {
                            comment_text = comment_text + 'style="background:#edf0f5;">'
                                    + '<span style="float:right" data-toggle="tooltip" title="Mark as seen"  class="mark_as_seen circle"><i class="fa fa-circle-thin"></i></span>';
                        } else if (seen_ids.indexOf(loggedUserId) > -1 && loggedUserId != discussion.user_id) {
                            comment_text = comment_text + 'style="background:#fff;">'
                                    + '<span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>';
                        } else if (discussion.seen_by_ids.length == 0 && loggedUserId == discussion.user_id) {
                            comment_text = comment_text + 'style="background:#edf0f5;">';
                        } else if (discussion.seen_by_ids.length > 0 && loggedUserId == discussion.user_id) {
                            comment_text = comment_text + 'style="background:#fff;">' + '<span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>';
                        }
                        if (canDeleteComment) {
                            comment_text = comment_text + '<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + id + '" item_id= "' + item_id + '" type = "' + type + '"><i class="glyphicon glyphicon-remove"></i></span>'
                        } else {
                            if (loggedUserId == discussion.user_id) {
                                comment_text = comment_text + '<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + id + '" item_id= "' + item_id + '" type = "' + type + '"><i class="glyphicon glyphicon-remove"></i></span>'
                            }
                        }
                        if (loggedUserId == discussion.user_id) {
                            comment_text = comment_text + '<a style="float:right;padding-right:5px;" class="editVisibility" href="#"  visibility="' + discussion.visibility + '" discussionId = "' + discussion.discussion_id + '" data-toggle="tooltip" title="Edit visibility"><img src="/pic/icons/edit.png" /></a>'
                        }

                        comment_text = comment_text + '<div class="commentPhoto" style="float:left;">';
                        if (discussion.avatar) {
                            comment_text = comment_text + '<img  src="<?php echo $this->escape($this->baseUrl('/uploads/user_pic/thumb_medium/')); ?>' + discussion.avatar + '" width="40" height="40" class="img-circle" alt="comment">';
                        } else {
                            comment_text = comment_text + '<img  src="<?php echo $this->escape($this->baseUrl('/pic/contractor_pic1.png')); ?> " width="40" height="40" class="img-circle" alt="comment">';
                        }

                        comment_text = comment_text + '</div>';

                        var discussion_text = comment_text + '<div style="float:left"><div class="normal_font"> <span> <b>' +
                                discussion.user_name + '(' + discussion.user_role_name + ')</b></span>' +
                                ' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' + discussion.discussion_date;

                        if (type == 'invoice' && discussion.payment_id != 0) {
                            discussion_text = discussion_text + '<b> Reject the payment and Wrote</b>';
                        }

                        discussion_text = discussion_text + '</span></div><div class="disc_message"><div style="  width:auto;float: left;margin-right: 10px;" >';
                        if (discussion.image_id) {
                            discussion_text = discussion_text + '<input class="image_id" type="hidden" value = "' + discussion.image_id + '"/>'
                        } else if (discussion.group_id) {
                            discussion_text = discussion_text + '<input class="group_id" type="hidden" value = "' + discussion.group_id + '"/>'
                        }

                        if (discussion.images) {
                            for (var i = 0; i < discussion.images.length; i++) {
                                discussion_text = discussion_text + '<img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/')); ?>' + discussion.images[i].thumbnail_path + '" />';
                            }
                        }

                        discussion_text = discussion_text + '</div>' + discussion.user_message + '<input type="hidden" value="' + id + '" class="discussion_id"/></div><div style="clear:both"></div>';
                        if (discussion.seen_by_names.length > 0) {
                            discussion_text = discussion_text + '<div class="normal_font" style="padding-top:5px;font-size:11px;color:#999">Seen by: ' + discussion.seen_by_names + '</div>';
                        } else {
                            discussion_text = discussion_text + '<div class="normal_font" style="padding-top:5px;font-size:11px;color:#999">Comment not seen</div>';
                        }
                        discussion_text = discussion_text + '</div><div style="clear:both;"></div></li>';

                        $('#discussions').append(discussion_text);
                        if (type == 'booking') {
                            $('#booking_discussion').append(discussion_text);
                        } else if (type == 'estimate') {
                            $('#estimate_discussion').append(discussion_text);
                        } else if (type == 'inquiry') {
                            $('#Inquiry_discussion').append(discussion_text);
                        } else if (type == 'invoice') {
                            $('#invoice_discussion').append(discussion_text);
                        } else if (type == 'complaint') {
                            $('#complaint_discussion').append(discussion_text);
                        }

                    });

                    scrollDown();
                    $('#StartConversation').html('');
                } else {
                    $('#popup_discussions, #discussions').html('');
                    if (type == 'booking') {
                        $('#booking_discussion').html('');
                    } else if (type == 'estimate') {
                        $('#estimate_discussion').html('');
                    } else if (type == 'inquiry') {
                        $('#Inquiry_discussion').html('');
                    } else if (type == 'invoice') {
                        $('#invoice_discussion').html('');
                    } else if (type == 'complaint') {
                        $('#complaint_discussion').html('');
                    }
                    //$('#popup_booking_discussions, #discussions').html('<div id="discussions" class="empty discussion_container" style="margin-bottom: 12px;"><p>No Discussion for this Booking</p></div>');
                    if ($('#indexDiscussions').find('#StartConversation').length > 0) {
                        console.log('by wala 1');
                        $('#StartConversation').html('<h3>Start a conversation</h3>');
                    } else {
                        $('#StartConversationHidden').css('display', '');
                    }


                }

                $('#disc').val('');
                $('#errMsg').html('');

                if (loggedUserRoleId == contractorRoleId) {
                    $('#commentVisibility').val(2);
                } else {
                    $('#commentVisibility').val(1);
                }
                $('#notifyPersons').val('');
                $('#notifyPersons').scrollTop(0);

                //$('#discussionsList').scrollTop(0);
                $('#notifyText').html('Will notify ');
                if (loggedUserRoleId == contractorRoleId) {
                    $('#notifyPersons').val('');
                    $('#notifyText').html('Will notify ');
                    $('#notifyCustomer').css('display', 'none');
                } else {
                    var notifyUsers = $('#notifyPersons');
                    $(notifyUsers).empty();
                    $(notifyUsers).append('<option>add/remove</option>');
                    $.each(msg.users, function (index, user) {

                        $(notifyUsers).append('<option id=' + user.user_id + ' value=' + user.user_id + '>' + user.username + '</option>');
                    });
                }
                //count = msg.count;
                //return_button();
                //if (type == 'booking') {
                    $('#loading_img').hide();
                    $('#save_btn').show();
                //} else {
                //    return_button();
                //}
                $('[data-toggle="tooltip"]').tooltip();
            }
        });
    }

    function scrollDown() {
        elem = document.getElementById('discussions');
        if (elem) {
            $('#discussions').animate({scrollTop: elem.scrollHeight});
        } else {
            elem = document.getElementById('popup_discussions');
            $('#popup_discussions').animate({scrollTop: elem.scrollHeight});
        }

    }

    function return_button() {
        $('#button_cont').html('<div class="col-lg-offset-2 col-lg-10">' +
                '<button type="submit" value="send" class="btn btn-primary" >Send</button>' +
                '<a href="#" onclick="getData(); return false;" class="btn btn-white" style="margin-left:7px">Refresh</a>' +
                '</div>');
    }

    function getCustomer() {
        var loggedUserRoleId = '<?php echo $loggedUser['role_id']; ?>';
        var contractorRoleId = '<?php echo $contractorRoleId; ?>';

        $.ajax({
            url: "<?php echo $this->escape($this->url(array('id' => $this->item_id, 'type' => $this->type), 'getBookingCustomers')); ?>",
            type: "POST",
            dataType: "JSON",
            async: true,
            success: function (msg) {
                var notifyUsers = $('#notifyPersons');
                $.each(msg, function (index, customer) {
                    if (loggedUserRoleId != contractorRoleId) {
                        $("#notifyPersons").append('<option class="customer" id=' + customer.customer_id + ' value=' + customer.new_customer_id + '>' + customer.new_name + ' - customer</option>');
                    } else {
                        $("#notifyPersons").append('<option id=' + customer.customer_id + ' value=' + customer.new_customer_id + '>' + customer.new_name + ' </option>');
                    }

                });

            }
        });
    }

    $('#discussions, #popup_discussions').on('click', '.delete', function () {
        var delete_class = $(this);
        var discussion_id = delete_class.attr("discussionId");
        var item_id = delete_class.attr("item_id");
        var type = '<?php echo $this->type; ?>';
        //console.log("by walaa2 " + type);
        var id = 0;
       // if (type == 'booking') {

            id = item_id;
            //console.log("by walaa " + id);
       // }

        var have_images = 0;
        if (delete_class.closest('li').find('.disc_message').has("img").length > 0) {
            message = 'This comment contains images. Are you sure you want to delete this Comment ?';
            have_images = 1;
        } else {
            message = 'Are you sure you want to delete this comment?';
        }

        var confirmResult = confirm(message);

        if (confirmResult) {
            $.ajax({
                url: "<?php echo $this->escape($this->url(array('flag' => 1), 'deleteItemComment')); ?>",
                type: "POST",
                data: {discussion_id: discussion_id, type: type, have_images: have_images, image_id: $(this).closest('li').find('.image_id').val(), group_id: $(this).closest('li').find('.group_id').val(), id: item_id},
                success: function (data) {
                    if (data == 1) {

                        countAllDiscussion--;
                        getData();
                        $('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
                        $('#allDiscussionsCount').attr('count', countAllDiscussion);

                        if (countAllDiscussion == 0) {
                            $('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
                        }
                    }
                }
            });
        }
    });
    $('[data-toggle="tooltip"]').tooltip();

    $("#notifyPersons").change(function () {
        var str = "Will notify ";
        var val = [];
        $("#notifyPersons option:selected").each(function () {
            val.push($(this).text());
        });
        if (val != "") {
            if (val.length > 1) {
                var lenupdated = val.length - 1;
                str = "Will notify " + val[0] + " and " + lenupdated + " more";
            } else if (val.length == 1)
                str = "Will notify " + val[0];
        }
        $("#notifyText").text(str);
    }).change();

    /*$(document).ready(function (){
     $.ajax({
     url: "<?php //echo $this->escape($this->url(array(), 'getUsers'));  ?>",
     type: "POST",
     dataType:"JSON",
     success: function (msg) {
     var notifyUsers= $('#notifyPersons');
     $(notifyUsers).empty();
     $(notifyUsers).append('<option>add/remove</option>');
     $.each(msg.users, function(index, user) {
     $(notifyUsers).append('<option id=' + user.user_id + ' value=' + user.user_id + '>' + user.username + '</option>');
     });
     }
     });
     });*/

    $(".commentVisibility").change(function () {
        var loggedUserRoleId = '<?php echo $loggedUser['role_id']; ?>';
        var contractorRoleId = '<?php echo $contractorRoleId; ?>';
        var visibility = $("#commentVisibility").val();
        var canNotifyOtherUsers = '<?php echo CheckAuth::checkCredential(array('canNotifyOtherUsers')); ?>';
        if (canNotifyOtherUsers) {
            $('#notifyPersons').scrollTop(0);
            if (visibility == 3) {
                getCustomer();
            } else {
                $("#notifyPersons").find(".customer").remove();
            }

        } else if (loggedUserRoleId == contractorRoleId) {
            if (visibility == 3) {
                var notifyUsers = $('#notifyPersons');
                $(notifyUsers).empty();
                $(notifyUsers).append('<option value = "">notify customer</option>');
                getCustomer();
                $('#notifyCustomer').css('display', '');
            } else {
                $('#notifyPersons').val('');
                $('#notifyText').html('Will notify ');
                $('#notifyCustomer').css('display', 'none');
            }
        }
    });



    /*$(".commentVisibility").change(function(){
     var loggedUserRoleId = '<?php echo $loggedUser['role_id']; ?>';
     var contractorRoleId = '<?php echo $contractorRoleId; ?>';
     var visibility = $("#commentVisibility").val();
     var canNotifyOtherUsers = '<?php echo CheckAuth::checkCredential(array('canNotifyOtherUsers')); ?>';
     if(canNotifyOtherUsers){
     $("#notifyText").html('');
     $('#notifyPersons').scrollTop(0);
     
     $.ajax({
     url: "<?php echo $this->escape($this->url(array(), 'getUsers')); ?>",
     type: "POST",
     dataType:"JSON",
     async:true,
     success: function (msg) {
     var notifyUsers= $('#notifyPersons');
     $(notifyUsers).empty();
     $(notifyUsers).append('<option>add/remove</option>');
     $.each(msg.users, function(index, user) {
     $(notifyUsers).append('<option id=' + user.user_id + ' value=' + user.user_id + '>' + user.username + '</option>');
     });
     }
     });
     
     if(visibility == 3){	
     getCustomer();
     }
     
     }else if(loggedUserRoleId == contractorRoleId){
     if(visibility == 3){
     var notifyUsers= $('#notifyPersons');
     $(notifyUsers).empty();
     $(notifyUsers).append('<option value = "">notify customer</option>');
     getCustomer();
     $('#notifyCustomer').css('display','');
     }else{
     $('#notifyPersons').val('');
     $('#notifyText').html('Will notify ');
     $('#notifyCustomer').css('display','none');	
     }
     }
     });*/


    $(document).ready(function () {
        var item_id = '<?php echo $this->item_id; ?>';
        var type = '<?php echo $this->type; ?>';
        var logged_user_id = '<?php echo $loggedUser['user_id']; ?>';
        $.ajax({
            url: "<?php echo $this->escape($this->url(array('id' => 1), 'markAllCommentsOfSpecificTypeAsSeen')); ?>",
            type: "POST",
            data: {id: item_id, type: type, logged_user_id: logged_user_id},
            success: function (data) {
                if (data == 1) {
                    getData();
                }

            }
        });
    });


    $('#discussions, #popup_discussions').on('click', '.editVisibility', function () {
        var edit_class = $(this);
        var loggedUserRoleId = '<?php echo $loggedUser['role_id']; ?>';
        var contractorRoleId = '<?php echo $contractorRoleId; ?>';
        var discussionVisibility = edit_class.attr("visibility");
        //console.log('discussionVisibility' + discussionVisibility);
        var officeSelected = OfficeAndTechniciansSelected = everyoneSelected = '';
        if (discussionVisibility == 1) {
            officeSelected = 'selected';
        } else if (discussionVisibility == 2) {
            OfficeAndTechniciansSelected = 'selected';
        } else if (discussionVisibility == 3) {
            everyoneSelected = 'selected';
        }
        if ($('.editVisibilityDiv').length) {
            $('.editVisibilityDiv').remove();
        }
        var editVisibilityDiv = '<div class="row editVisibilityDiv" style="padding-top:15px"><div class="col-sm-5 col-sm-offset-3"><label >Visibility</label><select class="form-control commentVisibility" id="newCommentVisibility" >';
        if (loggedUserRoleId != contractorRoleId) {
            editVisibilityDiv = editVisibilityDiv + '<option value="1" ' + officeSelected + '>Office</option>'
        }
        editVisibilityDiv = editVisibilityDiv + '<option value="2" ' + OfficeAndTechniciansSelected + '>Office and technicians</option><option value="3" ' + everyoneSelected + '>Everyone</option></select></div><div class="col-sm-4" style="padding-top:25px"><input type="submit" value="Edit Visibility" class="btn btn-primary editVisibilityBtn"></div></div>'
        edit_class.closest('li').append(editVisibilityDiv);
    });


    $('#discussions, #popup_discussions').on('click', '.editVisibilityBtn', function () {
        var edit_visibility_class = $(this);
        var type = '<?php echo $this->type; ?>';
        var newVisibilityValue = edit_visibility_class.parent().siblings().find('#newCommentVisibility').val();
        var discussionId = edit_visibility_class.closest('li').find('.editVisibility').attr("discussionId");
        //console.log("discussionId" + discussionId);

        $.ajax({
            url: "<?php echo $this->escape($this->url(array(), 'editDiscussionVisibility')); ?>",
            type: "POST",
            data: {discussion_id: discussionId, type: type, newVisibility: newVisibilityValue},
            success: function (result) {
                console.log("result " + result);
                if (result) {
                    //console.log("by walaa " + newVisibilityValue);
                    edit_visibility_class.closest('li').find('.editVisibility').attr("visibility", newVisibilityValue);
                    $('.editVisibilityDiv').html('<h6 style="color:#47be9d;font-size: 12px; padding-left:70px;">Updated Successfully</h5>');
                }

            }
        });


    });



</script>