<style>
	.delete{
        display:none;
        float:right;
        cursor:pointer;
    }
	.commentBox:hover .delete{
        display:block;
    }
</style>
<?php 
$loggedUser = CheckAuth::getLoggedUser();
?>
<?php if ($this->bookingDiscussions): ?>
    <ul id="discussions" class="discussion_container disc_b">
	
	
	
		
        <?php
		

		foreach ($this->bookingDiscussions as $bookingDiscussion): ?>
	
						<li class="commentBox">
						<?php if(CheckAuth::checkCredential(array('deleteCommentFromBookingDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $bookingDiscussion['discussion_id']; ?>" ><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $bookingDiscussion['user_id']){?>
										<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $bookingDiscussion['discussion_id']; ?>"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
						   <div style = "float:left;">
							<div class="normal_font"> 
								<span>
								<i class="fa fa-user"></i>
									<b>	<?php echo $this->escape($bookingDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($bookingDiscussion['user']['role_name']); ?></span>)
									</b>
								</span>

								<span>
								&nbsp;
									<i class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;</i>
									<?php echo $this->escape(getDateFormating($bookingDiscussion['created'])); ?>
								 </span>
							</div>


							<div class="disc_message">
							<?php if ($bookingDiscussion['group_id']){ 
                              $modelImage = new Model_Image();
                              $grouped_images = $modelImage->getByGroupIdAndType($bookingDiscussion['group_id'], $bookingDiscussion['booking_id'], 'booking');
							  
							  ?>
							  
							  <div style="  width:auto;float: left;margin-right: 10px;">
								<input class="group_id" type="hidden" value = "<?php echo $bookingDiscussion['group_id']; ?>"/>
							     <ul>
							    <?php
                                
								foreach($grouped_images as $grouped_image):
								 
								?>
							    <li style="float:left;padding:0px">
								    <img  src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $grouped_image['thumbnail_path'])); ?>" />
								  </li>
							    <?php endforeach;?>
							   </ul>
							  </div>
							 
							 <?php }else if (isset($bookingDiscussion['thumbnail_path'])){ ?>
							   <div style="  width:auto;float: left;margin-right: 10px;">
								<input class="image_id" type="hidden" value = "<?php echo $bookingDiscussion['image_id']; ?>"/>
							     <ul>
								  <li style="float:left;padding:0px">
								    <img style="margin-right: 10px;" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $bookingDiscussion['thumbnail_path'])); ?>" />
								  </li>
								 </ul> 
								</div> 
                              <?php } ?>							   
								<?php echo nl2br($this->escape($bookingDiscussion['user_message'])); ?>
								<div style="clear:both"></div>
							</div>
							</div><div style = "clear:both;"></div>
						</li>
						
        <?php endforeach; ?>
		
    </ul>
<?php else: ?>
<div class="ibox-content" id="popup_booking_discussions">
    <div id="discussions" class="empty discussion_container" style="margin-bottom: 12px;">
        <p>No Discussion for this Booking</p>
    </div>
</div>
<?php endif; ?>


<form  class="form-horizontal" method="POST" id="discussion_form" onsubmit="return false;">
			<div class="form-group">
				<label class="col-md-3" id="discussion">Discussion <span class="required_discussion">*</span><div id="errMsg">&ensp;</div></label>
						<div class="col-md-9">	   
							 <textarea  id="disc" name="discussion" class="descussion_txtarea form-control"></textarea>	
						</div>
				</div>
				
				<div class="form-group">
				 <label class="col-md-3">Upload photo(s)</label>
				 <div class="col-md-9">
				  <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
					<div class="dz-message"></div>
				  </div>
				 </div>
				</div>
				
				
			
			
		    <div class="form-group" id="button_cont">
						    <div class="col-md-9 col-md-offset-3">
							<div id="save_btn">
						    <input type="submit" value="Send" class="btn btn-primary">							
									 or 							  
									 <a class="btn btn-white"onclick="getData(); return false;">								   
									Refresh  								  
									</a>
							</div>
                      							
							<img src="/pic/loading-4.gif" style="display:none" id="loading_img">	
                         </div>							
						
            </div>
  
</form>

<script type="text/javascript">
var countAllDiscussion = $('#allDiscussionsCount').attr('count');
    function sendBookingDiscussion(){
        //$('#button_cont').html('<img src="/pic/loading-4.gif">');
		$('#loading_img').show();
        $('#save_btn').hide();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'submitBookingDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
                if(msg.success == 1){
					if($('#disc_tab').find('.no_result').length > 0){
						console.log('wala test');
						$('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
					
					countAllDiscussion++;
					$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
					$('#allDiscussionsCount').attr('count', countAllDiscussion);
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
				
				$('#loading_img').hide();
                $('#save_btn').show();
			
                //return_button();
            }
        });   
    }
	
	
	var postMaxSize = '<?php echo str_replace('M', '', ini_get('post_max_size')); ?>';
    var totalSizes = 0;
    
	var photoDropzone = new Dropzone("#discussion_form", {
        url: "<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'submitBookingDiscussion')); ?>",
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 100,
        maxFilesize: 10,
        acceptedFiles: ".jpeg,.jpg,.png,.gif",
        previewsContainer: '#dropzonePreview',
        clickable: '#dropzonePreview',
        addRemoveLinks: true,
        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            var submitButton = document.querySelector('input[type=submit]');
            myDropzone = this; // closure		
            submitButton.addEventListener("click", function (e) {
                
                e.preventDefault();
                e.stopPropagation();
                if (myDropzone.getQueuedFiles().length === 0) {
                    sendBookingDiscussion();
                }else{     
                    $('#loading_img').show();
                    $('#save_btn').hide();				
                    //$('#button_cont').html('<img src="/pic/loading-4.gif">');
					if($('#disc').val() == ''){
					   $('#errMsg').html('Invalid Discussion');
					   return false;
					}
					
                    myDropzone.processQueue();
					countAllDiscussion++;
					$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
					$('#allDiscussionsCount').attr('count', countAllDiscussion);
                }
            });

            this.on("successmultiple", function (files, response) {
              
				response = jQuery.parseJSON(response);               
				if(response.success == 1){
					if($('#disc_tab').find('.no_result').length > 0){
						$('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(response.errMsg);
                }
                //return_button();
				$('#loading_img').hide();
                $('#save_btn').show();

            });
            this.on("errormultiple", function (files, response) {                
                //return_button();
				response = jQuery.parseJSON(response);               
				if(response.success == 1){
					if($('#disc_tab').find('.no_result').length > 0){
						$('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(response.errMsg);
                }
				
				$('#loading_img').hide();
                $('#save_btn').show();
            });

            this.on("addedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes + MegaSize;
                if (totalSizes > postMaxSize) {
                    this.removeFile(file);
                    alert('Total files size is too big , Max total file size (30M)');
                }

            });

            this.on("removedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes - MegaSize;
				
            });
			
			  // Execute when file uploads are complete
			this.on("complete", function() {
			  // If all files have been uploaded
			  if (this.getQueuedFiles().length == 0 && this.getUploadingFiles().length == 0) {
				var _this = this;
				// Remove all files
				_this.removeAllFiles();
			  }
    });



        }
    });
    
    setTimeout('scrollDown()', 1);
    
    
    function getData(){
		var count = 0;
		var loggedUserId = '<?php echo $loggedUser['user_id']; ?>';
		var canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromBookingDashboard'));?>';
        //$('#button_cont').html('<img src="/pic/loading-4.gif">');
		$('#loading_img').show();
        $('#save_btn').hide();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'allBookingDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
                if(count != msg.count){
                    
					if($('ul#discussions').length > 0){
						$('ul#discussions').html('');
						//$('#discussions').addClass('disc_b');
					}else{
						$('div#discussions').remove();
						$('#popup_booking_discussions').html('<ul class="disc_b discussion_container" id="discussions">');
					}
					if($('#booking_discussion').length > 0){
						$('#booking_discussion').html('');
					}else{
						$('#disc_tab').prepend('<ul class="disc_b" id="booking_discussion"></ul>');
					}
        
                    $.each(msg.discussions, function(index, discussion) {
						var comment_text = '<li class="commentBox">';
						if(canDeleteComment){
							comment_text = comment_text + '<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="booking"><i class="glyphicon glyphicon-remove"></i></span>'
						}else{
							if(loggedUserId == discussion.user_id){
								comment_text = comment_text + '<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="booking"><i class="glyphicon glyphicon-remove"></i></span>'									
							}
						}
					if(discussion.thumbnail_path){
					  console.log(discussion);
					  $('#discussions,#booking_discussion').append( comment_text +
                        '<div style="float:left"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message"><input class="image_id" type="hidden" value = "'+ discussion.image_id +'"/>'+
					    '<img  style="margin-right: 10px;" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/')); ?>'+discussion.thumbnail_path+'"/>'+											 
						''+discussion.user_message+'</div></div><div style = "clear:both;"></div></li>'
                    );
					 console.log('if');  
					 
					}else if (discussion.grouped_images){
					   console.log('elseif');
					    var discussion_text = comment_text + '<div style="float:left"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message"><div style="  width:auto;float: left;margin-right: 10px;" id="group'+index+'"><input class="group_id" type="hidden" value = "'+ discussion.group_id +'"/>';
						for(var i = 0 ; i < discussion.grouped_images.length ; i ++){
						  discussion_text = discussion_text + '<img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/'));?>'+discussion.grouped_images[i].thumbnail_path+'"/>';
						}
						
						
						
						discussion_text = discussion_text + '</div>'+discussion.user_message+'</div><div style="clear:both"></div></div><div style="clear:both;"></div></li>';
						console.log(discussion_text);
						
						$('#discussions,#booking_discussion').append(discussion_text);
						
					   /*$('#discussions,#booking_discussion').append(
                        '<li><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
						'<div style="  width:auto;float: left;margin-right: 10px;" id="group'+index+'"></div>'+
					    ''+discussion.user_message+'</div><div style="clear:both"></div></li>'); 
						
						for(var i = 0 ; i < discussion.grouped_images.length ; i ++){						  
						  $('#discussions #group'+index+', #booking_discussion .group'+index).append('<img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/'));?>'+discussion.grouped_images[i].thumbnail_path+'"/>');				
						}*/
					}else{  
					    console.log('else');
					   $('#discussions,#booking_discussion').append(comment_text + 
                        '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
					    ''+discussion.user_message+'</div></div><div style="clear:both;"></div></li>'
                    ); 
					}
					
					
					
					
                    });
                  
                    scrollDown();
                }else{
						$('#popup_booking_discussions, #discussions, #booking_discussion').html('');
						$('#popup_booking_discussions, #discussions').html('<div id="discussions" class="empty discussion_container" style="margin-bottom: 12px;"><p>No Discussion for this Booking</p></div>');
						
				}
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                //return_button();
				$('#loading_img').hide();
                $('#save_btn').show();
				$('[data-toggle="tooltip"]').tooltip();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<div class="col-lg-offset-2 col-lg-10">'+
					'<button type="submit" value="send" class="btn btn-primary" >Send</button>'+
					'<a href="#" onclick="getData(); return false;" class="btn btn-white" style="margin-left:7px">Refresh</a>'+
                '</div>');
    }
	
$('#discussions, #popup_booking_discussions').on('click','.delete',function(){
	var delete_class = $(this);
	var discussion_id = delete_class.attr("discussionId");
	var booking_id = '<?php echo $this->booking['booking_id']; ?>'

	if(delete_class.closest('li').has("img").length > 0){
		//alert('contain images');
		var confirmResult = confirm( 'This comment contains images, do you want to delete those images as well?');
		if(confirmResult){
			$.ajax({
				url: "<?php echo $this->escape($this->url(array(), 'updateDeletedBookingComment')); ?>",
				type: "POST",
				data: {discussion_id: discussion_id, have_images: 1, booking_id: booking_id, image_id: $(this).closest('li').find('.image_id').val(), group_id: $(this).closest('li').find('.group_id').val()},
				success: function (data) {
					if(data == 1){
						getData();
						countAllDiscussion--;
						$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
						$('#allDiscussionsCount').attr('count', countAllDiscussion);
						
						if(countAllDiscussion == 0){
							$('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
						}
					}
				}
			});
		}	
	}else{
		//alert('doesnot contain');
		$.ajax({
			url: "<?php echo $this->escape($this->url(array(), 'updateDeletedBookingComment')); ?>",
			type: "POST",
			data: {discussion_id: discussion_id},
			success: function (data) {
				if(data == 1){
					getData();
					countAllDiscussion--;
					$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
					$('#allDiscussionsCount').attr('count', countAllDiscussion);
					
					if(countAllDiscussion == 0){
						$('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
					}
				}
			}
		});
		
	}	
});

$('[data-toggle="tooltip"]').tooltip();
</script>