

<?php if ($this->complaintDiscussions): ?>
    <div id="discussions" >
	<table class="table">
        <?php foreach ($this->complaintDiscussions as $complaintDiscussion): ?>
           
            
				<tr>
					<td>
						<?php echo $this->escape($complaintDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($complaintDiscussion['user']['role_name']); ?></span>)
					</td>
					<td>
						<?php echo $this->escape(getDateFormating($complaintDiscussion['created'])); ?>
					</td>
					<td>
					    <?php echo nl2br($this->escape($complaintDiscussion['user_message'])); ?>
					</td>
				</tr>
         
           
        <?php endforeach; ?>
		   </table>
    </div>
<?php else: ?>
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Complaint</p>
    </div>
<?php endif; ?>


<form method="POST" class="form-horizontal" id="discussion_form" onsubmit="sendComplaintDiscussion('<?php echo isset($this->process)? $this->process: 'send'; ?>');return false;">
		<div class="form-group">
        <label class="col-md-4" id="discussion">Discussion <span class="required_discussion">*</span></label>
		<div id="errMsg">&ensp;</div>
  			<div class="col-md-8">	
                    <textarea cols="" class="form-control" rows="" id="disc" name="discussion" class="descussion_txtarea"></textarea>
            </div>
		</div>
            
            <div id="button_cont">
			
                <a onclick="$('#discussion_form').submit(); return false;" class="btn btn-primary"> 
                    <div class="discussion_submit">
						<?php if($this->process == 'close'){
						?>
						Close
						<?php } 
						elseif($this->process == 'open'){
						?>
						Open
						<?php } 
						else{
						?>
						Send
						<?php
						}
						?>
						
                    </div>
                </a>
				
                <a onclick="getData(); return false;" class="btn btn-white">
                    <div class="discussion_refresh">
                        Refresh  
                    </div>
                </a>
            </div>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function sendComplaintDiscussion(process){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
		//if(process == 'send'){
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id'],'process' => isset($this->process)? $this->process : 'send'), 'submitComplaintDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
			console.log(msg);
                if(msg.success == 1){
                    getData();
                    $('#discussions').removeClass('empty');
					if(msg.updated == 1){
						$('#popupi').modal('hide');
						parent.location.reload(1);
					}
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
                return_button();
            }
        }); 
	 //}
		
		
    }
    function CloseMe()
             {
                 window.opener.location.reload();
                 window.close();
             }
    setTimeout('scrollDown()', 1);
    
    var count = 0;
    function getData(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'allComplaintDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
                if(count != msg.count){
                    
                    $('#discussions').html('');
                    $.each(msg.discussions, function(index, discussion) {
                        $('#discussions').append(
                        '<table class="table"><tr><td>'+
						discussion.user.username+'(<span class="red_color">'+discussion.user.role_name+'</span>)</td>'+
						'<td>'+discussion.discussion_date+'</td>'+
					    '<td>'+discussion.user_message+'</td></tr></table>'
                    );
					
					
                    });
                    
                    scrollDown();
                }
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                return_button();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<a class="btn btn-primary" onclick="$(\'#discussion_form\').submit(); return false;">  '+
            '<div class="discussion_submit">'+
            'Send'+
            '</div>'+
            '</a>'+
            '<a onclick="getData(); return false;" class="btn btn-white" style="margin-left:5px">'+
            '<div class="discussion_refresh">'+
            'Refresh'+
            '</div>'+
            '</a>');
    }
</script>