<style>
	.delete{
        display:none;
        float:right;
        cursor:pointer;
    }
	.commentBox:hover .delete{
        display:block;
    }
</style>
<?php 
$loggedUser = CheckAuth::getLoggedUser();
?>

<?php if ($this->complaintDiscussions): ?>


<ul class="disc_b no_padding" id="discussions">
        <?php foreach ($this->complaintDiscussions as $complaintDiscussion): ?>                          
	<li class="commentBox">
	<?php if(CheckAuth::checkCredential(array('deleteCommentFromComplaintDashboard'))){ ?>
		<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $complaintDiscussion['discussion_id']; ?>"><i class="glyphicon glyphicon-remove"></i></span>
   <?php }else{
			if($loggedUser['user_id'] == $complaintDiscussion['user_id']){?>
				<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $complaintDiscussion['discussion_id']; ?>"><i class="glyphicon glyphicon-remove"></i></span>
   <?php }} ?>
	<div style = "float:left;">	
		<div class="normal_font"> 
					<span>
					  <i class="fa fa-user"></i>
						  <b> 
							<?php echo $this->escape($complaintDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($complaintDiscussion['user']['role_name']); ?></span>)
					
							</b>
					</span>
				    <span>
						 <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
						<?php echo $this->escape(getDateFormating($complaintDiscussion['created'])); ?>
					</span>				
		</div>
		
		<div class="disc_message">
			<?php echo nl2br($this->escape($complaintDiscussion['user_message'])); ?>
		</div>
	</div><div style = "clear:both;"></div>
	</li>
	 <?php endforeach; ?>
</ul>


<?php else: ?>
<div class="ibox-content" id="popup_complaint_discussions">
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Complaint</p>
    </div>
</div>
<?php endif; ?>


<form method="POST" class="form-horizontal" id="discussion_form" onsubmit="sendComplaintDiscussion('<?php echo isset($this->process)? $this->process: 'send'; ?>');return false;">
		<div class="form-group">
        <label class="col-md-4" id="discussion">Discussion <span class="required_discussion">*</span></label>
	
  			<div class="col-md-8 no_padding">	
					<div id="errMsg" style="color:red;">&ensp;</div>
                    <textarea cols="" class="form-control" rows="" id="disc" name="discussion" class="descussion_txtarea"></textarea>
            </div>
		</div>
            <div class="form-group">
            <div id="button_cont" class="col-md-8 col-md-offset-4">
			
                <a onclick="$('#discussion_form').submit(); return false;" class="btn btn-primary"> 
                    <div class="discussion_submit">
						<?php if($this->process == 'close'){
						?>
						Close
						<?php } 
						elseif($this->process == 'open'){
						?>
						Open
						<?php } 
						else{
						?>
						Send
						<?php
						}
						?>
						
                    </div>
                </a>
				
                <a onclick="getData(); return false;" class="btn btn-white">
                    <div class="discussion_refresh">
                        Refresh  
                    </div>
                </a>
            </div>
            </div>
   
</form>

<script type="text/javascript">
var countAllDiscussion = $('#allDiscussionsCount').attr('count');
    function sendComplaintDiscussion(process){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
		//if(process == 'send'){
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id'],'process' => isset($this->process)? $this->process : 'send'), 'submitComplaintDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
			console.log(msg);
                if(msg.success == 1){
					if($('#disc_tab').find('.no_result').length > 0){
						$('#disc_tab').html('<ul class="disc_b" id="complaint_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
					if(msg.updated == 1){
						$('#popupi').modal('hide');
						parent.location.reload(1);
					}
					countAllDiscussion++;
					$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
					$('#allDiscussionsCount').attr('count', countAllDiscussion);
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
                return_button();
            }
        }); 
	 //}
		
		
    }
    function CloseMe()
             {
                 window.opener.location.reload();
                 window.close();
             }
    setTimeout('scrollDown()', 1);
    
    //var count = 0;
    function getData(){
		var count = 0;
		var loggedUserId = '<?php echo $loggedUser['user_id']; ?>';
		var canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromComplaintDashboard'));?>';
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->complaint['complaint_id']), 'allComplaintDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
                if(count != msg.count){
					if($('ul#discussions').length > 0){
						$('ul#discussions').html('');
					}else{
						$('div#discussions').remove();
						$('#popup_complaint_discussions').html('<ul class="disc_b discussion_container" id="discussions">');
					}
					if($('#complaint_discussion').length > 0){
						$('#complaint_discussion').html('<h4>Complaint</h4>');
					}else{
						$('#disc_tab').append('<ul class="disc_b" id="complaint_discussion"><h4>Complaint</h4></ul>');
					}
                    
					
                    $.each(msg.discussions, function(index, discussion) {
						
						var comment_text = '<li class="commentBox">';
						if(canDeleteComment){
							comment_text = comment_text + '<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="complaint"><i class="glyphicon glyphicon-remove"></i></span>'
						}else{
							if(loggedUserId == discussion.user_id){
								comment_text = comment_text + '<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="complaint"><i class="glyphicon glyphicon-remove"></i></span>'									
							}
						}
						
                        $('#discussions, #complaint_discussion').append(comment_text + 
							'<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
							discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
							' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
							''+discussion.user_message+'</div></div><div style="clear:both;"></div></li>'
						);
						
					
					
                    });
                    
                    scrollDown();
                }else{
						$('#popup_complaint_discussions, #discussions, #complaint_discussion').html('');
						$('#popup_complaint_discussions, #discussions').html('<div id="discussions" class="empty discussion_container"><p>No Discussion for this Complaint</p></div>');
						
				}
				
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                return_button();
				$('[data-toggle="tooltip"]').tooltip();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){ 
        $('#button_cont').html('<a class="btn btn-primary" onclick="$(\'#discussion_form\').submit(); return false;">  '+
            '<div class="discussion_submit">'+
            'Send'+
            '</div>'+
            '</a>'+
            '<a onclick="getData(); return false;" class="btn btn-white" style="margin-left:5px">'+
            '<div class="discussion_refresh">'+
            'Refresh'+
            '</div>'+
            '</a>');
    }
	
	$('#discussions, #popup_complaint_discussions').on('click','.delete',function(){
		var delete_class = $(this);
		var discussion_id = delete_class.attr("discussionId");
		var complaint_id = '<?php echo $this->complaint['complaint_id'] ?>';
		if(delete_class.closest('li').has("img").length > 0){
			var confirmResult = confirm( 'This comment contains images, do you want to delete those images as well?');
			if(confirmResult){
				$.ajax({
					url: "<?php echo $this->escape($this->url(array(), 'updateDeletedComplaintComment')); ?>",
					type: "POST",
					data: {discussion_id: discussion_id, have_images: 1, complaint_id: complaint_id, image_id: $(this).closest('li').find('.image_id').val(), group_id: $(this).closest('li').find('.group_id').val()},
					success: function (data) {
						if(data == 1){
							getData();	
							
							countAllDiscussion--;
							$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
							$('#allDiscussionsCount').attr('count', countAllDiscussion);
							
							if(countAllDiscussion == 0){
								$('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
							}
						}
					}
				});
			}	
		}else{
			//alert('doesnot contain');
			$.ajax({
				url: "<?php echo $this->escape($this->url(array(), 'updateDeletedComplaintComment')); ?>",
				type: "POST",
				data: {discussion_id: discussion_id},
				success: function (data) {
					if(data == 1){
						getData(); 
						countAllDiscussion--;
						$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
						$('#allDiscussionsCount').attr('count', countAllDiscussion); 
						if(countAllDiscussion == 0){
							$('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
						}
					}
				}
			});
		}	
	});
	
	$('[data-toggle="tooltip"]').tooltip();
</script>