<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Convert to Booking Duration
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): 
				
			?>
				
                <?php
                $modelContractorInfo = new Model_ContractorInfo();
                $modelAuthRole = new Model_AuthRole();
                ?>
                <div id="data_table">
                    <?php if ((isset($this->user['username']) && $this->user['username']) || (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) || (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'])): ?>
                        <div class="filter_criteria">
                            <div>
                                <?php if ($this->user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                    <?php $contractorInfo = $modelContractorInfo->getByContractorId($this->user['user_id']); ?>
                                    <?php echo $this->escape(($this->user['username'] ? ucwords($this->user['username']) : '') . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                <?php else: ?>
                                    <?php echo $this->escape($this->user['username'] ? ucwords($this->user['username']) : '') ?>
                                <?php endif; ?>

                            </div>
                            <div>
                                <?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
                                <?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
                                <?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <table border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table">
                        <tr style="background-color: black; color: white;">
                            <td>Booking Num</td>
                            <td>Convert to Booking Duration </td>
                            
                        </tr>
                        <?php foreach ($this->data AS $row){ ?>    
                            <tr cellpadding="100" style="text-align: center; vertical-align: top;"> 
                                <td style="font-weight:bold;" >
								<?php if (!empty($row['booking_id'])){ ?>
                                            <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_black"> <?php echo $this->escape($row['booking_num']) ?></a>
                                        <?php } 
										else{
											echo isset($row['booking_num']) ? $this->escape($row['booking_num']) : '';
										}
								?>
								</td>
                                <td><?php if(isset($row['convert_to_booking_duration'])&& $row['convert_to_booking_duration'] != 0){
										//// convert duration from hrs to days
										$duration_in_days = floor($row['convert_to_booking_duration']/24);
										$reminder_hrs = (int)$row['convert_to_booking_duration']%24;
										echo  $duration_in_days.' days and '. $reminder_hrs.' hrs';
									}
									else{
										echo '0';
									}
									?>
								</td>   
                            </tr>
                        <?php } ?>
                    </table>
                </div>
						<div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
            <?php else: ?>
                <div class="noRowsMessageDIV">No Data</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
           
            <div class="right_side_cont">
                <?php //echo $this->render('index/filters.phtml'); ?>
            </div>
			
        </td>
    </tr>
</table>