
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Service : </label>
            <div class="col-lg-9">
            <?php echo $this->form->getElement('service_name')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Min Price :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('min_price')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Price Equation : </label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('price_equasion')->render(); ?>
             </div>
        </div>
       
       <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
       
    </form>

