<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod());?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction());?>','#form','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <div class="form-group">
	  <label class="col-md-4" valign="top">Note :</label>
	  <div class="col-md-8"><?php echo $this->form->getElement('note')->render(); ?></div>
	</div>

       
	<div class="col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
</form>