

<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsCompanyInvoiceNoteAdd'))): ?>
                <div class="btn_cont">	
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi(' New Invoice Note','<?php echo $this->escape($this->url(array('company_id' => $this->company_id), 'settingsCompanyInvoiceNoteAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                          New Invoice Note
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div>
                <div class="button_actions">
                    <h5>  Search Company Invoice Note </h5>
                </div>
                <form id="search_form" action="<?php echo $this->escape($this->url(array('company_id' => $this->company_id), 'settingsCompanyInvoiceNoteList')); ?>" method="GET" >
                        <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                        
                 
                             <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-primary a_margin-responsive">Search</a> <span class="or_span a_margin-responsive">or</span>
                             <a href="<?php echo $this->escape($this->url(array(), 'settingsCompanyInvoiceNoteList')); ?>" class="btn btn-white" >Reset</a>
                                      
                </form>
                    
            </div>
        </div>
</div>
<div style="margin-top:10px;" class="ibox float-e-margins no-margin-b">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title ">
                        <h5>All Company Invoice Note</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					
       
		
            <form action="<?php echo $this->escape($this->url(array('company_id' => $this->company_id), 'settingsCompanyInvoiceNoteDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Company Invoice Note?');">
                    
                    <div class="ibox-content">
					 <?php if ($this->data): ?>
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsCompanyInvoiceNoteDelete'))): ?> 
                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="city_table" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Note</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> 
                                                
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['note']) ?>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsCompanyInvoiceNoteEdit'))): ?>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Invoice Note','<?php echo $this->escape($this->url(array('company_id' => $this->company_id,'id' => $row['id']), 'settingsCompanyInvoiceNoteEdit')); ?>');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsCompanyInvoiceNoteDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('company_id' => $this->company_id,'id' => $row['id']), 'settingsCompanyInvoiceNoteDelete')); ?>" onclick="return confirm('are you sure you want to delete this Company Invoice Note?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
										</td>
                                       
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>

						 <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Company Invoice Note.</div>
            <?php endif; ?>

                    </div>
                 
                
            </form>
			<div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>

      
    
    
</div>
<div style="clear:both"></div>
