<div class="menu_postion">
    <div class="sub_cont">
		<?php if ($this->sub_menu == 'contractors'){ ?>
		
		<?php } 
		else{
		?>
		
        <div class="sub_button first_sub_button <?php if ($this->sub_menu == 'settingsHome') { ?>sub_button_selected<?php } ?>">
            <a href="<?php echo $this->escape($this->url(array(), 'settings')); ?>">
                All Settings
            </a>
        </div>

        <?php if (CheckAuth::checkCredentialOr(array('settingsCitiesList', 'settingsCountriesList'))): ?>
            <div class="sub_button <?php if ($this->sub_menu == 'settingsLocation') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'settingsLocation')); ?>">
                    Location Settings
                </a>
            </div>
        <?php endif; ?>

        <?php if (CheckAuth::checkCredentialOr(array('settingsPaymentTypeList', 'settingsBankList', 'settingsDueDateList', 'settingsCallOutFee'))): ?>
            <div class="sub_button <?php if ($this->sub_menu == 'settingsPayment') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'settingsPayment')); ?>">
                    Payment Settings
                </a>
            </div>
        <?php endif; ?>

        <?php if (CheckAuth::checkCredentialOr(array('settingsUserList', 'settingsAuthRoleList', 'settingsCompaniesList'))): ?>
            <div class="sub_button <?php if ($this->sub_menu == 'settingsUser') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'settingsUser')); ?>">
                    User Settings
                </a>
            </div>
        <?php endif; ?>

        <?php if (CheckAuth::checkCredentialOr(array('settingsServicesList', 'settingsAttributeList', 'settingsProductList'))): ?>
            <div class="sub_button <?php if ($this->sub_menu == 'settingsServices') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'settingsServices')); ?>">
                    Services Settings
                </a>
            </div>
        <?php endif; ?>

        <?php if (CheckAuth::checkCredentialOr(array('settingsBookingStatusList', 'settingsInquiryTypeList', 'settingsComplaintTypeList', 'settingsCustomerTypeList', 'settingsPropertyTypes', 'settingsRequiredTypes'))): ?>
            <div class="sub_button <?php if ($this->sub_menu == 'settingsType') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'settingsType')); ?>">
                    Types Settings
                </a>
            </div>
        <?php endif; ?>

        <?php if (CheckAuth::checkCredentialOr(array('settingsEmailTemplateList', 'settingsCannedResponsesList'))): ?>
            <div class="sub_button <?php if ($this->sub_menu == 'settingsEmail') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'settingsEmail')); ?>">
                    Public Settings
                </a>
            </div>
        <?php endif; ?>

        <?php if (CheckAuth::checkCredentialOr(array('settingsLabelTypeList', 'settingsCustomerContactLabelList'))): ?>
            <div class="sub_button <?php if ($this->sub_menu == 'settingsLabel') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'settingsLabel')); ?>">
                    Label Settings
                </a>
            </div>
        <?php endif; ?>
		
		<?php if (CheckAuth::checkCredentialOr(array('settingsLabelTypeList', 'settingsCustomerContactLabelList'))): ?>
            <div class="sub_button <?php if ($this->sub_menu == 'settingsSecurity') { ?>sub_button_selected<?php } ?>">
                <a href="<?php echo $this->escape($this->url(array(), 'settingsSecurity')); ?>">
                    Security Settings
                </a>
            </div>
        <?php endif; ?>

		<?php } ?>
    </div>
</div>