<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php //if (CheckAuth::checkCredential(array('settingsDiscountRangeAdd'))): ?>
                <div class="btn_cont">
                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add New Range','<?php echo $this->escape($this->url(array('service_id' => $this->service_id,'attribute_id'=>$this->attribute_id), 'settingsServiceAttributeDiscountAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                             New Range
                        </div>
                    </a>
                </div>
            <?php //endif; ?>
        </div>
    </div>


	
<div style="margin-top:10px;" class="">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div>
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array('service_id' => $this->service_id,'attribute_id'=>$this->attribute_id), 'settingsServiceAttributeDiscountDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Range?');">

                <div class="ibox float-e-margins no-margin-b">
                    <div class="ibox-title">
                        <h5>  All Discount Ranges  </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsServiceAttributeDiscountDelete'))): ?> 
                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover responsive-table setting-bookingstatus" id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td class="details"><b>Size Range </b></td>
                                    <td><b>Dsicount Range (%)</b></td>                                  
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    
                                   <tr>
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>                                       
                                        <div class="details_info_l">
                                            <?= $row['min_size_range'].' to '.$row['max_size_range']; ?>
                                        </div>
                                        <div class="details_info_l">
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['id'],'service_id' => $this->service_id,'attribute_id'=>$this->attribute_id), 'settingsServiceAttributeDiscountEdit')); ?>');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>                                       
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['id'],'service_id' => $this->service_id,'attribute_id'=>$this->attribute_id), 'settingsServiceAttributeDiscountDelete')); ?>" onclick="return confirm('are you sure you want to delete this Discount Range?');" class="details_info_opt">Delete</a>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="details_info_l">
                                            <div> 
											 <?= $row['min_discount_range'].' - '.$row['max_discount_range']; ?>
											</div>
                                        </div>
                                    </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
                            <div style="" class="noRowsMessageDIV">There are no Service Attribute Discount.</div>
        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>