<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Sales By Employee Report
                </div>
                <div class="clearb"></div>
            </div>

            <?php if ($this->data): ?>
                <div id="data_table">
                    <?php if ((isset($this->employee['username']) && $this->employee['username']) || (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) || (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'])): ?>
                        <div class="filter_criteria">
                            <div>
                                <?php echo $this->escape($this->employee['username'] ? $this->employee['username'] : '') ?>
                            </div>
                            <div>
                                <?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
                                <?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
                                <?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <table border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table">
                        <tr style="background-color: black; color: white;">
                            <td>EMPLOYEE</td>
                            <td>BOOKINGS</td>
                            <?php foreach ($this->bookingStatuses AS $bookingStatus): ?>
                                <td><?php echo $this->escape($bookingStatus['name']) ?></td>
                            <?php endforeach; ?>
                            <td>COMPLAINT</td>
                            <td>Complete Amount</td>
                            <td>Quoted Amount</td>
                        </tr>
                        <?php foreach ($this->data AS $row): ?>    
                            <tr cellpadding="100" style="text-align: center; vertical-align: top;"> 
                                <td><?php echo $this->escape(ucwords($row['username'])) ?></td>
                                <td><?php echo $this->escape($row['total_booking']) ?></td>
                                <?php foreach ($row['booking_statuses'] AS $bookingStatus): ?>
                                    <td><?php echo $this->escape($bookingStatus['total']) ?></td>
                                <?php endforeach; ?>
                                <td><?php echo $row['total_complaint'] ? $this->escape($row['total_complaint']) : 0 ?></td>
                                <td>$<?php echo $row['total_invoices'] ? $this->escape(number_format($row['total_invoices'], 2)) : number_format(0, 2) ?></td>
                                <td>$<?php echo $row['total_estimates'] ? $this->escape(number_format($row['total_estimates'], 2)) : number_format(0, 2) ?></td>
                            </tr>
                        <?php endforeach ?>

                    </table>
                </div>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">Please Select Employee And Date Range.</div>
            <?php endif; ?>

        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php echo $this->render('index/employee_filters.phtml'); ?>
            </div>
        </td>
    </tr>
</table>
