<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    Inquiry Required Types
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>

                <div>
                    <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                        <tr class="bg_table">
                            <td>Name</td>
                        </tr>

                        <?php $count = 0; ?>
                        <?php foreach ($this->data as $row) : ?>
                            <?php $count += 1; ?>
                            <tr class="<?php
                    if ($count % 2 != 0) {
                        echo 'tr_cont_1';
                    } else {
                        echo 'tr_cont_2';
                    }
                            ?>">
                                <td>
                                    <div class="details_info_l">
                                        <?php echo $this->escape($row['required_type']) ?>    
                                    </div>
                                    <div class="details_info_l">
                                        <?php if (CheckAuth::checkCredential(array('settingsInquiryRequiredTypeEdit'))): ?>
                                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsInquiryRequiredTypeEdit')); ?>','100','450');" class="details_info_opt">Edit</a>
                                            <span class="details_breaks">|</span>
                                        <?php endif; ?>
                                        <?php if (CheckAuth::checkCredential(array('settingsInquiryRequiredTypeDelete'))): ?>
                                            <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsInquiryRequiredTypeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Inquiry Type?');" class="details_info_opt">Delete</a>
                                        <?php endif; ?>
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>

                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>
                </div>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Inquiry required Types.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsInquiryRequiredTypeAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsInquiryRequiredTypeAdd')); ?>','100','450');" class="btn_a">
                            <div class="text_pos">
                                New Required Type
                            </div>
                        </a>
                    </div>
                <?php endif; ?>
            </div>
        </td>
    </tr>
</table>

