<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <h3>All Contractors</h3>
		<?php 
					$model_googleDrive = new Model_GoogleDrive();
					$client = null;
					$isValid = $model_googleDrive->getClientGmailAccounts2(15, $client);

		?>
      </div>
      <div class="col-md-7 ">
        <ul class="inline-list float-lg-r">
		  <select style="width: 150px;" id="is_active" onchange="filter('<?php echo $this->escape($this->url(array(), 'contractors')); ?>?fltr[active]='+$('#is_active').val());">
                        <?php $selected = isset($this->filters['active']) && ($this->filters['active'] == 'TRUE') ? 'selected="selected"' : ''; ?>
						<option value="">Select One</option>
                        <option value="TRUE" <?php echo isset($this->filters['active']) && ($this->filters['active'] == 'TRUE') ? 'selected="selected"' : ''; ?> >Active</option>
                        <option value="FALSE" <?php echo isset($this->filters['active']) && ($this->filters['active'] == 'FALSE') ? 'selected="selected"' : ''; ?> >Inactive</option>                      
           </select>
		  
		  
        </ul>
      </div>
    </div>
	<div class="row">
	<div class="col-md-8">
	  <nav>
	 <?php if (CheckAuth::checkCredential(array('settingsUserAdd'))): ?>
	  <a class="btn btn-white btn_a" onclick="popupi('Add Customer','<?php echo $this->escape($this->url(array(), 'settingsUserAdd')); ?>');"  href="#" data-toggle="modal" data-target="#popupi">New User </a>
	 <?php endif;?>
	  </nav>
	 </div>
	</div>
  </div>
</div>

<div class="ibox float-e-margins no-margin-b"> 
  
  <div class="ibox-content">
  <?php if ($this->data): ?>
  <form action="<?php echo $this->escape($this->url(array(), 'settingsUserDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Customer?');">
    

   
   
        <?php if (CheckAuth::checkCredential(array('settingsUserDelete'))): ?>
          	<input class="btn  btn-danger" type="submit" value="Delete"/>
        <?php endif; ?>
  

  
      <table class="table table-bordered responsive-table" id="customer-responsive-table">
        <thead>
          <tr>
            <th class="checkbox_booking_cont">
            		<input type="checkbox" name="checkboxall" id="checkboxallcustomer"/>
					
            </th>
            <th><b>User Info</b></th>
            <th><b>Contact Details</b></th>
            <th><b>Address Details</b></th>
          </tr>
        </thead>
        <tbody>
          <?php $count = 0; ?>
		  <?php $modelAuthRole = new Model_AuthRole(); ?>
          <?php foreach ($this->data as $row) : ?>
          <?php $count += 1; ?>
          <tr>
            <td class="checkbox_booking_cont"><div class="details_info_l">
                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['user_id']) ?>" class="checkbox_input_pos"/>
              </div></td>
            <td>
			 <?php $roleName = $modelAuthRole->getRoleName($row['role_id']); ?>
                                        <div class="details_info_l" style="font-size: 12px;">
                                            <div>
                                                <?php if ('contractor' == $roleName): ?>
                                                    <?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')); ?>" class="details_info_name"><?php echo $row['username'] ?></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><?php echo $this->escape($row['username']) ?></span> 
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if (CheckAuth::checkCredential(array('settingsUserInfoList'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('user_id' => $row['user_id']), 'settingsUserInfoList')); ?>" class="details_info_name"><?php echo $row['username'] ?></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><?php echo $this->escape($row['username']) ?></span> 
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <div>
                                                    <span style="color: #A1A1A1;">Role:</span> <?php echo $this->escape($row['view_role_name']) ?>
                                                </div>
                                                <div>
                                                    <span style="color: #A1A1A1;">Active:</span> <?php echo $this->escape($row['active'] == 'TRUE' ? 'Yes' : 'No') ?>
                                                </div>
												<div>
                                                    <span style="color: #A1A1A1;">Calendar:</span> 
													<?php 
													/*$user = 'danielali@tilecleaners.com.au';
													$pass = 'danielanew2012';
													$service = Zend_Gdata_Calendar::AUTH_SERVICE_NAME; // predefined service name for calendar

													$client = Zend_Gdata_ClientLogin::getHttpClient($user,$pass,$service);
													$gdataCal = new Zend_Gdata_Calendar($client);*/
													
													$calendar_link = "https://www.google.com/calendar/embed?src=".$row['email1'];  ?>
													<a href="<?php echo $calendar_link; ?>" target="_blank" >view</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details_info_l actions-list">
                                            <?php
                                            $actions = array();

                                            if (CheckAuth::checkCredential(array('settingsUserEdit'))) {
                                                $popupConfig = "'Edit User','{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserEdit'))}'";
                                                $actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt"><i class="fa fa-pencil-square-o"></i>Edit</a>';
                                            }

                                            if ('contractor' == $roleName) {
                                                if (CheckAuth::checkCredential(array('settingsContractorInfoList'))) {
                                                   $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')) . '" class="details_info_opt">Contractor Info</a>';
													
                                                }
                                            } else {
                                                if (CheckAuth::checkCredential(array('loginAsThisUser'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('user_id' => $row['user_id']), 'settingsUserInfoList')) . '" class="details_info_opt">User Info</a>';
                                                }
                                            }
											if ('contractor' == $roleName) {                                                
                                                   $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorServiceList')) . '" class="details_info_opt">Services</a>';
											} 

                                            if (CheckAuth::checkCredential(array('loginAsThisUser'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserLoginAsThisUser'))}','Are you sure you want to Login as this User ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Login As This User</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('activateOrDeactivateUsers'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['user_id']), 'activateOrDeactivateUsers')) . '" class="details_info_opt">' . ($row['active'] == 'TRUE' ? 'Deactivate' : 'Activate') . '</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('settingsUserPassword'))) {
                                                $popupConfig = "'Change Password','{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserPassword'))}'";
                                                $actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Change Password</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('settingsUserDelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserDelete'))}','Are you sure you want to delete this User ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                            }
											if ('contractor' == $roleName) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'defultPage')) . '" class="details_info_opt">Defult Page</a>';
											
                                            }
											
												   
                                            $line_actions = array_slice($actions, 0, 1);
                                            $drop_down_actions = array_slice($actions, 1);
                                            ?>

                                           <?php echo implode('&ensp;', $line_actions); ?>
              <?php if ($drop_down_actions): ?>
              <!-- action button --> 
				<div class="btn-group ">
					<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<?php foreach ($drop_down_actions as $drop_down_action): ?>
							<li> <?php echo $drop_down_action; ?></li>
						<?php endforeach; ?>
					</ul>
			    </div>
	
				<!-- action button -->
              <?php endif; ?>
                                        </div>
										
										

			</td>
            <td class="details_info_l" style="vertical-align: top;">
			 <div class="details_info_l" style="font-size: 12px;">
                                            <?php if ($row['email1']): ?>
                                                <div>&#187; <b>Email :</b> <?php echo $this->escape($row['email1']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['email2']): ?>
                                                <div>&#187; <b>Email :</b> <?php echo $this->escape($row['email2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['email3']): ?>
                                                <div>&#187; <b>Email :</b> <?php echo $this->escape($row['email3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['mobile1']): ?>
                                                <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['mobile1']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['mobile2']): ?>
                                                <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['mobile2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['mobile3']): ?>
                                                <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['mobile3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['phone1']): ?>
                                                <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['phone1']) ?></div>
                                            <?php endif; ?>    
                                            <?php if ($row['phone2']): ?>
                                                <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['phone2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['phone3']): ?>
                                                <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['phone3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['fax']): ?>
                                                <div>&#187; <b>Fax :</b> <?php echo $this->escape($row['fax']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['emergency_phone']): ?>
                                                <div>&#187; <b>Emergency Phone :</b> <?php echo $this->escape($row['emergency_phone']) ?></div>
                                            <?php endif; ?>
                                        </div>
			
			</td>
            <td><div class="details_info_l" style="font-size: 12px;">
                                            <div>&#187; <b>City:</b> <?php echo $this->escape($row['country_name'] . ' - ' . $row['city_name']) ?></div> 
                                            <div>&#187; <b>Address :</b> <?php echo $this->escape(get_line_address($row)) ?></div>
                                            <?php if ($row['po_box']): ?>
                                                <div>&#187; <b>PO Box :</b> <?php echo $this->escape($row['po_box']) ?></div>
                                            <?php endif; ?>
                                        </div></td>
          </tr>
          <?php endforeach; ?>
        </tbody>
      </table>

  </form>
  <?php else: ?>
 
  <div style="" class="noRowsMessageDIV"><h3>There are no User. </h3>
                   
                </div>
</div>
<?php endif;?>
</div>
    <div>
        <?php if (count($this->pageLinks) > 3): ?>
        <ul class="pagination">
          <?php foreach ($this->pageLinks as $pageLink) : ?>
          <li><?php echo $pageLink; ?></li>
          <?php endforeach; ?>
        </ul>
        <?php endif; ?>
      </div>
	  
<script type="text/javascript">
 function filter(url){
        window.location = url;
    }
</script>	  