<form  id="customer_form" class="form-horizontal"  method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="doSubmit('<?php echo $this->escape($this->form->getAction()); ?>');
        return false;">
        
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    
		<div class="form-group">
            <label class="col-md-3">Country :</label>
            <div class="col-md-9"><?php echo $this->form->getElement('country_id'); ?></div>
		</div>
		<div class="form-group">
            <label class="col-md-3">Time Zone :</label>
            <div class="col-md-9"><?php echo $this->form->getElement('time_zone') ; ?></div>
		</div>
		<div class="form-group">
            <label class="col-md-3">Date format :</label>
            <div class="col-md-9"><?php echo $this->form->getElement('date_format') ; ?></div>
		</div>
		<div class="form-group">
            <label class="col-md-3">Time format :</label>
            <div class="col-md-9"><?php echo $this->form->getElement('time_format') ; ?></div>
		</div>
		
	
		<div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button') ; ?></div>
		</div>
          
    </table>
</form>
<script>
    function getTimeZone() {
        if ($('#countryId').val()) {
            // $('#customer_state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id=" + $('#country_id').val(),
                success: function (msg) {
                    $('#customer_state_cont').parent().show();
                    $('#custate_cont').html(msg);
                }
            });
        } else {
            $('#customer_state_block').css('display', 'none');
            $('#customer_city_block').css('display', 'none');
        }
    }
</script>