<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    
		<div class="form-group">
            <label class="col-md-3">Country :</label>
            <div class="col-md-9"><?php echo $this->form->getElement('country_id'); ?></div>
		</div>
		<div class="form-group" id="timezone_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-3">Time Zone :</label>
            <div class="col-md-9" id="time_zone_drop" ><?php echo $this->form->getElement('time_zone'); ?></div>
		</div>
		<div class="form-group" id="date_block" <?php if (!$this->form->getElement('time_zone')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-3">Date format :</label>
            <div class="col-md-9" id="date_drop"><?php echo $this->form->getElement('date_format'); ?></div>
		</div>
		<div class="form-group" id="time_block" <?php if (!$this->form->getElement('time_zone')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-3">Time format :</label>
            <div class="col-md-9" id="time_drop"><?php echo $this->form->getElement('time_format'); ?></div>
		</div>
		
	
		<div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button'); ?></div>
		</div>
          
    </table>
</form>
<script>
    function getTimeZone() {
        if ($('#country_id').val()) {
            $('#timezone_block').css('display', 'block');
            $('#time_zone_drop').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'getTimeZoneByCountry'); ?>",
                data: "country_id=" + $('#country_id').val(),
                success: function (msg) {
                    $('#timezone_block').css('display', 'block');
                    // $('#date_block').css('display', 'block');
                    // $('#time_block').css('display', 'block');
                    $('#time_zone_drop').html(msg);
                }
            });
        } else {
            $('#timezone_block').css('display', 'none');
            $('#date_block').css('display', 'none');
            $('#time_block').css('display', 'none');
        }
    }

    function getDateFormat() {
        if ($('#time_zone').val()  &&  $('#country_id').val()) {
            $('#date_block').css('display', 'block');
            $('#date_drop').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'getDateFormatByCountry'); ?>",
                data: "time_zone=" + $('#time_zone').val()+"&country_id="+$('#country_id').val(),

                success: function (msg) {
                    // $('#timezone_block').css('display', 'block');
                    $('#date_block').css('display', 'block');
                    // $('#time_block').css('display', 'block');
                    $('#date_drop').html(msg);
                }
            });
        } else {
            // $('#timezone_block').css('display', 'none');
            $('#date_block').css('display', 'none');
            $('#time_block').css('display', 'none');
        }
    }

    function getTimeFormat() {
        if ($('#time_zone').val()  /*&&  $('#country_id').val()*/) {
            $('#time_block').css('display', 'block');
            $('#time_drop').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'getTimeFormatByCountry'); ?>",
                data: "time_zone=" + $('#time_zone').val()+"&country_id=" + $('#country_id').val(),
                success: function (msg) {
                    // $('#timezone_block').css('display', 'block');
                    // $('#date_block').css('display', 'block');
                    $('#time_block').css('display', 'block');
                    $('#time_drop').html(msg);
                }
            });
        } else {
            // $('#timezone_block').css('display', 'none');
            $('#date_block').css('display', 'none');
            $('#time_block').css('display', 'none');
        }
    }
</script>