<?php
/*$pattern = "/[\s,-.]+/";
$pattern2 ="/[A-Za-z]+/";
$php_format="MMMMdy";
$string = preg_split($pattern,$php_format);
$string2 = preg_split($pattern2,$php_format);
*/
// value="h:mm:ss a zzzz" label="full   | ex: 3:30:38 PM Australia/Perth"
 //value="h:mm:ss a z"    label="long   | ex: 3:30:38 PM AWST"
// value="h:mm:ss a"      label="medium   | ex: 3:30:38 PM"
 //value="h:mm a"         label="short   | ex: 3:30 PM"
/*echo 'what is this '.timeFormat_php_to_php('H:i','3:30:38 PM Australia/Perth');
echo '<br>';
echo ' and this is the format '.timeFormat_php_to_Momentjs("h:mm:ss a z");
echo '<br>';
//echo 'hey '. date_create_from_format('H:i','14/11/2016 1:59:46 pm +0200');
//echo ' ********** '.$date;
//echo dateformat_php_to_php('Y-m-d','Jan 10, 2016 6:52:52 PM');
echo getNewDateFormat('30-12-2016 11:40:16','all');//('EEEE, MMMM d, y','30-12-2016');
echo '<br>';*/

// echo '<br>';
// echo get_timeZone('h:mm:ss a zzzz');
//echo $test['time_zone'];
// echo '<br>';
 

//$zz = strspn("h:mm:ss a zzzz","zzzz");
//echo 'this is z '.$i;
?>
<script>
//var oldValue = new Date('20-11-2016');
//parseDate
//alert(oldValue);
/*var dateValue = dateformat_js_to_js('DD, MM d, yy',oldValue);
alert(dateValue);*/
/*var oldValue = timeFormat_js_to_Momentjs('h:mm:ss a ZZ','Tue Nov 08 2016 18:41:14 GMT+0200 (Jerusalem Standard Time)');
alert(oldValue);*/
</script>
<div style="margin-top:10px;">

<?php $companyObj = new Model_Companies(); ?>
     <div class="right_side_cont ibox-content">
        <div class="btn_cont">
            <h3>Date Time configuration</h3>

        <ol class="breadcrumb" style="font-size:13px;">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/settings">Settings</a>
            </li>
                                 <li class="active">
                <strong>Date Time Configuration</strong>
            </li>
        </ol>  
        </div>
    			
    </div>		
</div>

<?php 
/*
// $locale = new Zend_Locale('en_US'); //en_US de_AT de_DE
// $list = $locale->getTranslationList('language');
$localelist = Zend_Locale::getLocaleList(); // get all local ex: ('en_AU')
// $this->bootstrap('locale');
// $locale = $this->getResource('locale');
// echo Locale::getDefault();
// $localelist = $locale->getTranslationList('date');// Time , Date, DateTime
// $timezones = DateTimeZone::listIdentifiers();
$locale = Zend_Locale::getLocaleToTerritory('US');
$locales = new Zend_Locale($locale);
$localelist = $locales->getTranslationList('date');
$localelist2 = $locales->getTranslationList('time');
var_dump($localelist2);

// $myDate = new Zend_Date('1451649600', Zend_Date::DATE_FULL, $locales);
// $date = new Zend_Date('1451649600', Zend_Date::ISO_8601);

// $date = new Zend_Date(1451649600, true, $locales);
// $myDate = new Zend_Date::now();
 // $countries = $locale->getTranslationList('Territory', 'en_US', 2);
 // $list = Zend_Locale::getTranslation('Australia');
// $date_time = new DateTime('now', 'Australia/Sydney');

// Zend_Locale_Format::setOptions(array('locale' => 'en_US','date_format' => 'dd.MMMM.YYYY'));
// $date->setTimezone('Australia/Sydney');

// echo $date->get(Zend_Date::TIME_SHORT);     

// $date = Zend_Date::now('ar_SA');
// $date = new Zend_Date();

// $date = '1451649600';

// $date = new Zend_Date($date, Zend_Date::TIME_FULL);

// $mm =  $date->get(Zend_Date::TIME_FULL); //10:30:00
// $myDate = new Zend_Date::now();
// echo $myDate;
// $date = new Zend_Date();
// $date = Zend_Date::now();
// $dates = new Zend_Date($date, Zend_Date::TIME_SHORT);

// $locale = new Zend_Locale('de_AT');
// Zend_Date::setOptions(array('format_type' => 'php'));
// $date = new Zend_Date(1451649600, false, $locale);
$date = new Zend_Date(1454332500, Zend_Date::TIMESTAMP);
 $date2 = new Zend_Date();
// outputs something like 'February 16, 2007, 3:36 am'
print $date->toString(Zend_Date::DATE_MEDIUM); echo '<br>';
print $date->toString(Zend_Date::TIME_MEDIUM); echo '<br>';
echo $date2->now('cy_GB')->toString(Zend_Date::TIME_MEDIUM);

var_dump($localelist);
*/
?>
<div style="margin-top:10px;" class="no-margin-b">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
        <div class="ibox-title">
            <h5>Date time Configuration: </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>

            </div>
        </div>
		<div class="ibox-content">		
        <?php if ($this->data): ?>

            <form action="<?php echo $this->escape($this->url(array(), '')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this date time?');">
                    
                    
                       
                        <table class="table table-striped table-bordered table-hover change-table-font responsive-table" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Country</b></td>
                                    <td><b>Time zone</b></td>
                                    <td><b>Date format</b></td>
                                    <td><b>Time format</b></td>
                                    <td><b>Action</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($this->data['id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>

                                    <td> <div class="details_info_l">
                                    <?php $countryModel = new Model_Countries();
                                    $country = $countryModel->getById($this->data['country_id']);
                                     ?>

                                            <span class="details_info_name"><?php echo $this->escape($country['country_name']) ?></span>    
                                        </div>                                       
                                    </td>
                                    <td><div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($this->data['time_zone']) ?>
                                        </div>
                                    </td>
                                    <td> <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($this->data['date_format']) ?>
                                        </div> 
                                    </td>
                                    <td> <div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($this->data['time_format']) ?>
                                        </div> 
                                    </td>
                                    <td>
                                        <div style="text-align: center;" class="">
                                            <?php if (CheckAuth::checkCredential(array('settingsDateTimeConfigurationEdit'))): ?>
                                                <a class="btn btn-primary" href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $this->data['id']), 'settingsEditDateTime')); ?>');" class="details_info_opt">Edit</a>
                                                <!-- <span class="details_breaks">|</span> -->
                                            <?php endif; ?>

                                            <!-- <?php if (CheckAuth::checkCredential(array('settingsDateTimeConfigurationDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $this->data['id']), '')); ?>" onclick="return confirm('are you sure you want to delete this Date time configration?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?> -->
                                        </div>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>

            </form>

        <?php else: ?>
            <div style="text-align:center">
                 <div style="text-align:center" class="noRowsMessageDIV">No date time configuration</div>
                 <div style="" class="btn">
                 <?php if (CheckAuth::checkCredential(array('settingsDateTimeConfigurationAdd'))) { ?>
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Add new date time configuration','<?php echo $this->escape($this->url(array(), 'settingsAddDateTime')); ?>');" class="btn btn-primary">
                        <div class="text_pos">
                            Add date time configuration
                        </div>
                    
                    </a>
                <?php } ?>
                </div>
            </div>
        <?php endif; ?>
    </div>
    
</div>
<div style="clear:both"></div>
