<div class="ibox float-e-margins no-margin-b">
    <div class="row wrapper border-bottom white-bg">
        <div class="col-md-3">
            <h3>All plan types</h3>
        </div>
        <div class="col-md-9 ">
        </div>
    </div>

    <div class="row">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="row">
                <div class="col-lg-12"> 
                    <div class="ibox float-e-margins">

                        <div class="ibox-title">
                            <h5>Manage plan types  </h5>
                            <div class="ibox-tools">
                                <a href="#" class="btn btn-primary btn-xs" data-target="#popupi" data-toggle="modal" onclick="addPlanType('<?php echo $this->escape($this->url(array(), 'addPlanType')); ?>');">New plan type</a>
                            </div>
                        </div>

                        <div class="ibox-content" id="plan_type_data">

                        <!-- /**********************/ -->
                        <div class="">
                            <table class="table table-hover responsive-table">
                                <thead>
                                    <tr>
                                        <th style="background: inherit !important; color:inherit;">Plan type name</th>
                                        <th style="background: inherit !important; color:inherit; text-align:center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php if (isset($this->data) && !empty($this->data)): 
                                    foreach ($this->data as $row) :
                                ?>
                                        <tr class="">
                                            <td class="mobile-display">
                                            <span class="text-success"><h4><?php echo $row['view_plan_type_name'] ?></h4></span>
                                                <!-- <div>
                                                    <p>Plan type name: <span class="text-success"><strong><?php echo $row['view_plan_type_name'] ?></strong></span> </p>                           
                                                </div> -->
                                            </td>
                                            

                                            <td class="project-actions" style="text-align: center;">
                                                <div class="btn-group">
                                                    <div class="dropdown" >
                                                        <a class="btn btn-white btn-bitbucket dropdown-toggle" data-toggle="dropdown"  aria-expanded="false">
                                                            <span class="fa fa-cog">  Action</span>   
                                                            <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu">
                                                            <li>
                                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit plan type','<?php echo $this->escape($this->url(array('plan_type_id' => $row['plan_type_id']), 'editPlanType')); ?>')" class="details_info_opt">Edit plan type
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="<?php echo $this->escape($this->url(array('plan_type_id' => $row['plan_type_id']), 'planTypeCredentialList')); ?>">Assign credential
                                                                </a>
                                                            </li>

                                                            <li role="separator" class="divider"></li>
                                                            <li>
                                                             <a href="<?php echo $this->escape($this->url(array('plan_type_id' => $row['plan_type_id']), 'deletePlanType')); ?>" onclick="return confirm('Are you sure you want to delete this plan type?');">Delete plan type</a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <?php endforeach;?>
                                <?php else: ?>
                                    <h3 class="font-bold">No plans types</h3>
                                    <div class="error-desc"> <br>
                                        <a class="btn btn-primary m-t" href="<?php echo $this->escape($this->url(array(), 'planTypeList')); ?>">View all plans types</a>
                                    </div> 
                                <?php endif;?>

                                </tbody>
                            </table>
                        </div>

<!-- /****************/ -->



                            <!-- <div class="row" style="display:block" id="loading_img">
                                <div class="col-md-6 col-md-offset-5"> 
                                    <img src="/pic/loading-4.gif"> 
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>      
</div>
<div style="clear:both"></div>

<script type="text/javascript">
    function addPlanType(url) {
        $(document).ready(function () {
            popupi("Add new plan type", url);
        });
    }
    </script>