<div style="text-align:center;" width="100%">
		<img src="/pic/loading-4.gif" style="display:none" id="loading_img_2">
	</div>
	<div id="baseUrl" value="<?=$this->baseUrl()?>"></div>
  <div  id = "contact_history_display_<?php echo $this->booking_id ; ?>" class="details_info_l" style="max-height: 150px; overflow: auto; overflow-y: scroll">
                <?php
				$modelBooking = new Model_Booking();
                $booking = $modelBooking->getById($this->booking_id);
				$modelUser = new Model_User();
                                            $inquiryContactHistory = array();
                                            if (!empty($booking['original_inquiry_id'])) {
                                                $modelInquiryReminder = new Model_InquiryReminder();
                                                $inquiryContactHistory = $modelInquiryReminder->getContactHistory($booking['original_inquiry_id']);
                                            }
                                            ?>
                <?php if ($inquiryContactHistory): ?>
                <?php foreach ($inquiryContactHistory as $reminder): 
				?>
                <div>
                  <?php $user = $modelUser->getById($reminder['user_id']); 
                      $dir = get_config('user_picture_path').$user['avatar'];
				     $dir_default_pic = get_config('user_default_picture_path');
					if (isset($user['avatar']) && !empty($user['avatar'])) {
							$avatar_url= $this->baseUrl($dir);
							} 
						else {
							$avatar_url=  $this->baseUrl($dir_default_pic);
							}				  ?>
                   <img  src="<?php echo $avatar_url;?>" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> 
						<?php echo $user['username'] .' - '. $this->escape(getDateFormating($reminder['created'])); ?>
		
                  <?php if (CheckAuth::checkCredential(array('inquiryReminderDelete'))): ?>
                  <a href="javascript:;" onclick="delete_reminder_history('<?php echo $this->escape($this->url(array('booking_id' => $this->booking_id, 'id' => $reminder['inquiry_id'], 'reminder_id' => $reminder['id']), 'inquiryReminderDeleteHistory')); ?>');" >
				  <img height="10" width="10" src="/pic/remove.png" border="0" ></a>
				  <div style="background-color:#F9F9F9; margin-left:32px;border-radius: 5px;padding:5px;"> &nbsp &nbsp <?=$reminder['comment']?></div>
					<hr align="center" style="width:95%;">
                  <?php endif; ?>
                </div>
                <?php endforeach; ?>
                <?php endif; 
				
				$modelBookingContactHistory = new Model_BookingContactHistory();
				$BookingContactHistory = $modelBookingContactHistory->getContactHistory($this->booking_id);
				?>
                <?php if (isset($BookingContactHistory) && $BookingContactHistory): ?>
                <?php foreach ($BookingContactHistory as $contactHistory): ?>
                <div>
                  <?php $user = $modelUser->getById($contactHistory['user_id']); 
				         $dir = get_config('user_picture_path').$user['avatar'];
						 $dir_default_pic = get_config('user_default_picture_path');
						if (isset($user['avatar']) && !empty($user['avatar'])) {
								$avatar_url= $this->baseUrl($dir);
								} 
							else {
								$avatar_url=  $this->baseUrl($dir_default_pic);
								}	
						?><img  src="<?php echo $avatar_url; ?>" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> 
						<?php 
						      echo $user['username'] .' - '. $this->escape(getDateFormating($contactHistory['created'])); ?>
                  <?php if (CheckAuth::checkCredential(array('bookingContactHistoryDelete'))): ?>
                  <a href="javascript:;" onclick="delete_reminder_history('<?php echo $this->escape($this->url(array('id' => $this->booking_id, 'contact_history_id' => $contactHistory['id']), 'bookingContactHistoryDelete')); ?>');" >
				  <img height="10" width="10" src="/pic/remove.png" border="0" ></a>
				  <div style="background-color:#F9F9F9; margin-left:32px;border-radius: 5px;padding:5px;"> &nbsp &nbsp <?=$contactHistory['comment']?></div>
					<hr align="center" style="width:95%;">
                  <?php endif; ?>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
               
              </div>

<form class="form-horizontal" id="contact_history_form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="add_contact_history('#contact_history_form');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
	<div class="form-group" >
	 <label class="control-label">Comment:</label>
	 <?php echo $this->form->getElement('comment')->render(); ?>
	</div>
	<div id="button_cont">
	<?php echo $this->form->getElement('button')->render(); ?>
	</div>
        
	<div style="text-align:center;" width="100%">
		<img src="/pic/loading-4.gif" style="display:none" id="loading_img">
	</div>
</form>

<script>
function add_contact_history(form_id){
	$('#button_cont').hide();
	$('#loading_img').css('display','block');
    $.ajax({
        type: "POST",
        url: "<?php echo $this->escape($this->url(array('booking_id' => $this->booking_id), 'bookingContactHistoryAddReminder')); ?>",
        data: $(form_id).serialize(),
        dataType: "json",
        success: function(data) {
			
				$('#contact_history_form').trigger("reset");
                $('#contact_history_display_'+data.id).html('');
				$('#contact_history_'+data.id).html('');
                $.each(data.reminders, function(index,value) {
					avatar_url = $('#baseUrl').attr('value');
					avatar_url = avatar_url+value.avatar;
                    $('#contact_history_display_'+data.id).append(
					'<div style="font-size: 12px;">'+
					'<img  src="'+avatar_url+'" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> '+
                        '<a href="javascript:;" style="color:black;" data-toggle="modal" data-target="#popupi" onclick="popupi(\'Add Note\',\''+value.url+ '\');" class="details_info_opt">' +value.reminder+'</a> '+
                        '<a href="javascript:;" onclick="delete_reminder_history(\''+value.remove_url+'\');"><img height="10" width="10" src="/pic/remove.png" border="0" ></a>'+
                    '</div>'+
					'<div style="background-color:#F9F9F9; margin-left:32px;border-radius: 5px;padding:5px;"> &nbsp &nbsp '+value.comment+'</div>'+
					'<hr align="center" style="width:95%;">'
                        );
						
					$('#contact_history_'+data.id).append(
					'<div style="font-size: 12px;">'+
					'<img  src="'+avatar_url+'" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> '+
                        '<a href="javascript:;" style="color:black;" data-toggle="modal" data-target="#popupi" onclick="popupi(\'Add Note\',\''+value.url+ '\');" class="details_info_opt">' +value.reminder+'</a> '
                        );
                });
                $('#loading_img').hide();
                $('#button_cont').show();
             
        }
    });
}

function delete_reminder_history(url){
	if(confirm('Are you sure you want to delete this Note ?')){
	$('#loading_img_2').css('display','block');
    $.ajax({
        type: "POST",
        url: url,
        data: $('#contact_history_form').serialize(),
        dataType: "json",
        success: function(data) {
			
				$('#reminder_form').trigger("reset");
                $('#contact_history_display_'+data.id).html('');
				$('#contact_history_'+data.id).html('');
				
                $.each(data.reminders, function(index,value) {
					
					avatar_url = $('#baseUrl').attr('value');
					avatar_url = avatar_url+value.avatar;
                    $('#contact_history_display_'+data.id).append(
					'<div style="font-size: 12px;">'+
					'<img  src="'+avatar_url+'" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> '+
                        '<a href="javascript:;" style="color:black;" data-toggle="modal" data-target="#popupi" onclick="popupi(\'Add Note\',\''+value.url+ '\');" class="details_info_opt">' +value.reminder+'</a> '+
                        '<a href="javascript:;" onclick="delete_reminder_history(\''+value.remove_url+'\');"><img height="10" width="10" src="/pic/remove.png" border="0" ></a>'+
                    '</div>'+
					'<div style="background-color:#F9F9F9; margin-left:32px;border-radius: 5px;padding:5px;"> &nbsp &nbsp '+value.comment+'</div>'+
					'<hr align="center" style="width:95%;">'
                        );
						
					$('#contact_history_'+data.id).append(
					'<div style="font-size: 12px;">'+
					'<img  src="'+avatar_url+'" width="30" height="30" class="img-circle" alt="profile" border="2" style="border:1px solid #48bc5a;"> '+
                        '<a href="javascript:;" style="color:black;" data-toggle="modal" data-target="#popupi" onclick="popupi(\'Add Note\',\''+value.url+ '\');" class="details_info_opt">' +value.reminder+'</a> '
                        );
                });
                $('#loading_img_2').hide();
            
        }
    });
	}
}

</script>