<table>
    <tr>
        <td  valign="top" ><b>Comment:</b></td>
        <td>
            <?php $comment = $this->form->getElement('comment'); ?>
            <?php $comment->setAttrib('readonly', true); ?>
            <?php echo $comment ?>
        </td>
    </tr>
</table>
