

<div class="wrapper-content">
<div class="ibox-content row">
          
            <form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="return false;" enctype="multipart/form-data" class="form-horizontal">
             
                <div class="form-group">
                    <label class="col-lg-2"> Subject</label> 
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('subject')->render(); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2"> Body</label> 

                    <div class="col-lg-10">  
                        <?php echo $this->form->getElement('body')->render(); ?>
                    </div>
                </div>
				
				<div class="form-group">
					<label class="col-md-2">Attach files</label>
					<div class="col-md-10">
						<div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
							<div class="dz-message" style="background-position: -33px 0;"></div>
						</div>
					</div>
				</div>

                <div style="font-size: 11px; color: grey;">
                    <?php
                    $general_placeholders = get_config('general_placeholders', array('email_notification'))->toArray();
                    if ($general_placeholders) {
                        $placeholders = array();
                        foreach ($general_placeholders as $key => $general_placeholder) {
                            $placeholders[] = $key;
                        }
                        echo implode(',', $placeholders);
                    }
                    ?><?php echo htmlentities((!empty($placeholder) ? (isset($general_placeholders) && $general_placeholders ? ',' : '') . $placeholder : ''), ENT_NOQUOTES, 'UTF-8'); ?>
                </div>


                <div class="form-group">
                    <label class="col-lg-2">Name</label> 
                    <div class="col-lg-10"> 
                        <?php echo $this->form->getElement('name')->render(); ?>
                    </div>
                </div>

              <div class="form-group">
                        <label  class="col-lg-2" >Place Holder</label> 
               <div class="col-lg-10">
                    <?php echo $this->form->getElement('placeholder')->render(); ?>
               </div>
              </div>

                <div class="form-group">
                    <label  class="col-lg-2" >  Image Place Holder</label>
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('imagePlaceholder')->render(); ?>
                    </div>
                </div>

			   <div class="form-group">
					<div class="col-lg-10 col-md-offset-2">
						<input type="submit" value="Send" class="btn btn-primary">
                    <!--
					<a href="javascript:;" onclick="$('#form').submit()" class="btn btn-primary">
                        <div class="text_pos">
                            save
                        </div>
                    </a>
					-->
                </div>
				</div>
            </form>
        
        
            
        </div>
		<div class="clearfix"></div>
</div>


<!-- TinyMCE -->
<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        // General options  
        mode: "textareas",
        theme: "advanced",
        relative_urls: false,
        convert_urls: false,
        plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",
        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,
		setup : function(ed) {
            ed.onChange.add(function(ed, l) {
				window.onbeforeunload = null; 
            });
		}
    });
</script>
<!-- /TinyMCE -->
<script>
function submitTemplate(){
	var bodyContent = tinyMCE.activeEditor.getContent();
	$.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->form->getAction()); ?>",
            //data: $('#form').serialize() ,
			data: {'name': $('#name').val(), 'subject':$('#subject').val(), 'imagePlaceholder':$('#imagePlaceholder').val(), 'placeholder':$('#placeholder').val(), 'body':bodyContent},
            dataType : "json",
            success: function(msg) {
				var url = "<?php echo $this->escape($this->url(array(), 'settingsEmailTemplateList')); ?>";
				 window.location = url; 
				 
			}
	});
}

var postMaxSize = '<?php echo str_replace('M', '', ini_get('post_max_size')); ?>';
var totalSizes = 0;
var photoDropzone = new Dropzone("#form", {
        url: '<?php echo $this->escape($this->form->getAction()); ?>',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 100,
        maxFilesize: 10,
        acceptedFiles: ".jpeg,.jpg,.png,.gif , .doc , .pdf",
        previewsContainer: '#dropzonePreview',
        clickable: '#dropzonePreview',
        addRemoveLinks: true,
        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            var submitButton = document.querySelector('input[type=submit]');
            myDropzone = this; // closure		
            //submitButton.addEventListener("click", function (e) {
            $("#form").on("click", "input[type=submit]", function (e) {
				console.log("yes");

                e.preventDefault();
                e.stopPropagation();
 
                if (myDropzone.getQueuedFiles().length === 0) {
                    //do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#wrapper');
					submitTemplate();
                } else {
					var bodyContent = tinyMCE.activeEditor.getContent();
					$('#body').val(bodyContent);
                    myDropzone.processQueue();
                }


            });

            /*this.on("successmultiple", function (files, response) {
              
				response = jQuery.parseJSON(response);               
				if(response.success == 1){
					if($('#disc_tab').find('.no_result').length > 0){
						$('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(response.errMsg);
                }
                //return_button();
				$('#loading_img').hide();
                $('#save_btn').show();

            });
            this.on("errormultiple", function (files, response) {                
                //return_button();
				response = jQuery.parseJSON(response);               
				if(response.success == 1){
					if($('#disc_tab').find('.no_result').length > 0){
						$('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(response.errMsg);
                }
				
				$('#loading_img').hide();
                $('#save_btn').show();
            });*/

            this.on("addedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes + MegaSize;
                if (totalSizes > postMaxSize) {
                    this.removeFile(file);
                    alert('Total files size is too big , Max total file size (30M)');
                }

            });

            this.on("removedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes - MegaSize;
				
            });
			
			  // Execute when file uploads are complete
			this.on("complete", function() {
			  // If all files have been uploaded
			  if (this.getQueuedFiles().length == 0 && this.getUploadingFiles().length == 0) {
				var _this = this;
				// Remove all files
				_this.removeAllFiles();
			  }
			  window.alert = function(val){console.log(val+' (alert disabled)');};
			  var url = "<?php echo $this->escape($this->url(array(), 'settingsEmailTemplateList')); ?>";
			  window.location = url; 
    });
	
			/*this.on('sending', function(file, xhr, formData){
				var bodyContent = tinyMCE.activeEditor.getContent();
				formData.append('body', bodyContent);
			});*/
	
        }
    });
	/*$(document).ready(function(){
		$('.mceFirst').keyup(function(){
			alert("length: " + tinyMCE.activeEditor.getContent());
			
		});
		
	});*/
	//location.href="javascript: window.alert = function(x) {console.log(x)}; window.confirm = function(){return true;};";
	/*$(document).ready(function(){
		window.alert = function alert(msg) {
			console.log('Hidden Alert ' + msg);
		};
	});*/
</script>


