<!-- TinyMCE -->
<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        // General options  
        mode: "textareas",
        theme: "advanced",
        relative_urls: false,
        convert_urls: false,
        plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",
        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,
		setup : function(ed) {
            ed.onChange.add(function(ed, l) {
				window.onbeforeunload = null; 
            });
		}
		
    });
	
	
</script>
<!-- /TinyMCE -->
<div class="wrapper-content no-margin-b">
          <div class="row ibox-content">
            <form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="return false;" enctype="multipart/form-data" class="form-horizontal">

                <input type="hidden" id="template_id" value="<?php echo $this->template_id; ?>">

               
                <div class="form-group"  id="image_upload">
							
						
                </div>

                    <div class="form-group">
                    <label class="col-lg-2"> Subject</label> 
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('subject')->render(); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2"> Body</label> 

                    <div class="col-lg-10">  
					 
                        <?php echo $this->form->getElement('body')->render(); ?>
                    </div>
                </div>
				
				
				<div class="form-group">
					<label class="col-md-2">Attach files</label>
					<div class="col-md-10">
						<div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
							<div class="dz-message" style="background-position: -33px 0;"></div>
						</div>
					</div>
				</div>
				
				<input type="hidden" value="" name="deleted_ids" id="deleted_ids"/>

                <div style="font-size: 11px; color: grey;">
                    <?php
                    $general_placeholders = get_config('general_placeholders', array('email_notification'))->toArray();
                    if ($general_placeholders) {
                        $placeholders = array();
                        foreach ($general_placeholders as $key => $general_placeholder) {
                            $placeholders[] = $key;
                        }
                        echo implode(',', $placeholders);
                    }
                    ?><?php echo htmlentities((!empty($placeholder) ? (isset($general_placeholders) && $general_placeholders ? ',' : '') . $placeholder : ''), ENT_NOQUOTES, 'UTF-8'); ?>
                </div>


                <div class="form-group">
                    <label class="col-lg-2">Name</label> 
                    <div class="col-lg-10"> 
                        <?php echo $this->form->getElement('name')->render(); ?>
                    </div>
                </div>


                <div class="form-group">
                    <label  class="col-lg-2" >  Image Place Holder</label>
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('imagePlaceholder')->render(); ?>
                    </div>
                </div>

				
                <div class="form-group">
						<div class="col-lg-10 col-md-offset-2">
						<input id ="submitButton" type="submit" value="Send" class="btn btn-primary">
						<!--
							<a href="javascript:;" id ="btnSave" class="btn btn-primary">
								<div class="text_pos">
									save
								</div>
							</a>
						-->
						</div>
				</div>
				
				<!--
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2" ><?php //echo $this->form->getElement('button')->render(); ?></div>
				</div>
				-->
              
            </form>

</div>
<div class="clearfix"></div>
</div>

<script>
function submitTemplate(){
	var bodyContent = tinyMCE.activeEditor.getContent();
	$.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->form->getAction()); ?>",
            //data: $('#form').serialize() ,
			data: {'name': $('#name').val(), 'subject':$('#subject').val(), 'imagePlaceholder':$('#imagePlaceholder').val(), 'placeholder':$('#placeholder').val(), 'deleted_ids':$('#deleted_ids').val(), 'body':bodyContent},
            dataType : "json",
            success: function(msg) {
				var url = "<?php echo $this->escape($this->url(array(), 'settingsEmailTemplateList')); ?>";
				 window.location = url;
				 
			}
	});
}
    var deleted_ids = new Array();
    var photoDropzone = new Dropzone("#form", {
        url: '<?php echo $this->escape($this->form->getAction()); ?>',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 100,
        maxFilesize: 10,
        previewsContainer: '#dropzonePreview',
        acceptedFiles: ".jpeg,.jpg,.png,.gif , .doc , .pdf",
        clickable: '#dropzonePreview',
        addRemoveLinks: true,
        removedfile: function (file) {
            var name = file.name;
            var id = file.id;
            deleted_ids.push(id);
            $('#deleted_ids').val(deleted_ids);
            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            var submitButton = document.querySelector('input[type=submit]');
            myDropzone = this; // closure		
            $.ajax({
                type: "GET",
                dataType: "JSON",
                url: '<?php echo $this->escape($this->url(array('email_template_id' => $this->template_id), 'settingsEmailTemplateGetAttachment')); ?>',
                success: function (data) {
                    $.each(data, function (key, value) {

                        var mockFile = {name: value.file_name, size: value.size, id: value.attachment_id};
                        myDropzone.options.addedfile.call(myDropzone, mockFile);
                        var type = value.type.split("/");
                        var parts = value.path.split("public");
                        if (type['0'] == 'image') {
                            myDropzone.options.thumbnail.call(myDropzone, mockFile, parts['1']);
                        }
                    });
                }
            });

            $("#form").on("click", "input[type=submit]", function (e) {

                e.preventDefault();
                e.stopPropagation();
                //$('#button_cont').html('<img src="/pic/loading-4.gif">');
                if (myDropzone.getQueuedFiles().length === 0) {
                    //do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#wrapper');
					submitTemplate();
                } else {
					var bodyContent = tinyMCE.activeEditor.getContent();
					$('#body').val(bodyContent);
                    myDropzone.processQueue();
					/*var url = "<?php echo $this->escape($this->url(array(), 'settingsEmailTemplateList')); ?>";
					window.location = url;*/
                }


            });
			
			this.on("complete", function() { 
				//window.alert = function(val){console.log(val+' (alert disabled)');};
			    var url = "<?php echo $this->escape($this->url(array(), 'settingsEmailTemplateList')); ?>";
			    window.location = url; 
			});
			
			

            /*this.on("successmultiple", function (files, response) {
                if (response == 1) {
                  //  window.location.reload();
					var url = "<?php echo $this->escape($this->url(array(), 'settingsEmailTemplateList')); ?>";
					window.location = url;
                } else {
                    $('#form').html(response);
                }

            });
            /*this.on("errormultiple", function (files, response) {
                //alert(response);
                $('#button_cont').html('<input type="submit" name="button" id="button" value="Save" class="btn btn-primary">');
            });*/
			
			/*this.on('sending', function(file, xhr, formData){
				var bodyContent = tinyMCE.activeEditor.getContent();
				formData.append('bodyContent', bodyContent);
			});*/


        }
    });
	
	
	/*$(document).ready(function(){
		$('#eee').click(function(){
			//$("#eee").html($("#subject").val());
			 alert("length: " + tinyMCE.activeEditor.getContent());
		});
		//alert("length: " + $("#body").val());
	});*/
	
</script>





