<!-- TinyMCE -->
<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        // General options  
        mode: "textareas",
        theme: "advanced",
        relative_urls: false,
        convert_urls: false,
        plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",
        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true
    });
</script>
<!-- /TinyMCE -->
<div class="wrapper-content no-margin-b">
          <div class="row ibox-content">
            <form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" class="form-horizontal">

                <input type="hidden" id="template_id" value="<?php echo $this->template_id; ?>">


                <div class="form-group">
                    <label class="col-lg-2">Trading Name </label>
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('trading_name') ?>
                    </div>
                </div>

                <div class="form-group"  id="image_upload">
						
						
						
                </div>

                    <div class="form-group">
                    <label class="col-lg-2"> Subject</label> 
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('subject')->render(); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2"> Body</label> 

                    <div class="col-lg-10">  
                        <?php echo $this->form->getElement('body')->render(); ?>
                    </div>
                </div>

                <div style="font-size: 11px; color: grey;">
                    <?php
                    $general_placeholders = get_config('general_placeholders', array('email_notification'))->toArray();
                    if ($general_placeholders) {
                        $placeholders = array();
                        foreach ($general_placeholders as $key => $general_placeholder) {
                            $placeholders[] = $key;
                        }
                        echo implode(',', $placeholders);
                    }
                    ?><?php echo htmlentities((!empty($placeholder) ? (isset($general_placeholders) && $general_placeholders ? ',' : '') . $placeholder : ''), ENT_NOQUOTES, 'UTF-8'); ?>
                </div>


                <div class="form-group">
                    <label class="col-lg-2">Name</label> 
                    <div class="col-lg-10"> 
                        <?php echo $this->form->getElement('name')->render(); ?>
                    </div>
                </div>


                <div class="form-group">
                    <label  class="col-lg-2" >  Image Place Holder</label>
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('imagePlaceholder')->render(); ?>
                    </div>
                </div>


                <div class="form-group">
						<div class="col-lg-10 col-md-offset-2">
							<a href="javascript:;" onclick="$('#form').submit()" class="btn btn-primary">
								<div class="text_pos">
									save
								</div>
							</a>
						</div>
				</div>
              
            </form>

</div>
<div class="clearfix"></div>
</div>


<script type="text/javascript">

    $(document).ready(function(){

        $('#trading_name').change(function() {
            var trading_id= $('#trading_name').val();
            var template_id=$('#template_id').val();
            $('#image_upload').empty();
            $.ajax({
                url:'<?php echo $this->escape($this->url(array(),'tradingNamesById')); ?>',
                type: 'POST',
                dataType: 'json',
                data: { trading_id: trading_id , template_id:template_id},
                success: function(result){
                    if(result.tradingNameImages != ''){
                    $('#image_upload').html('<label class="col-md-2"> Images of Trading Name:</label><div class="col-md-10 " id="image_up"></div>');
                    $.each( result.tradingNameImages, function( i, val ) {
                                $("#image_up").append('<div id="image_thumbnail" class="fileinput fileinput-new inline " data-provides="fileinput">'+
													      ' <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 170px; height: 135px;">   <img src="/uploads/trading_names_img/'+result.trading_name+ '/'+result.email_template+ '/'+ val +'"/>'+
														  ' </div> </div> ');
                    });
                }
                }
            });
        });
    });


</script>







