<?
/*
$BookingDetails = array();
        $ComplaintDetails = array();
        $bookingModelObj = new Model_Booking();
        $modelBookingDiscussion = new Model_BookingDiscussion();
        $modelComplaintDiscussion = new Model_ComplaintDiscussion();
      
      $status_colors = array(
            '0' => '#888888',
            '1' => '#cc3333',
            '2' => '#dd4477',
            '3' => '#994499',
            '4' => '#6633cc',
            '5' => '#336699',
            '6' => '#3366cc',
            '7' => '#22aa99',
            '8' => '#329262',
            '9' => '#109618',
            '10' => '#66aa00',
            '11' => '#aaaa11',
            '12' => '#d6ae00',
            '13' => '#ee8800',
            '14' => '#dd5511',
            '15' => '#a87070',
            '16' => '#8c6d8c',
            '17' => '#627487',
            '18' => '#7083a8',
            '19' => '#5c8d87',
            '20' => '#898951',
            '21' => '#b08b59',
            '-1' => '#7a367a'
        );
      

            $modelContractorDiscussion = new Model_ContractorDiscussionMongo();
            $lastContractorDiscussion =  $modelContractorDiscussion->getByContractorIdthelast(8);
      
      $lastContractorDiscussion[0]['is_audio'] = isset($lastContractorDiscussion['audio_path']) && !empty($lastContractorDiscussion['audio_path']) ? true : false;
      $lastContractorDiscussion[0]['images'] = isset($lastContractorDiscussion['thumbnail_images']) && !empty($lastContractorDiscussion['thumbnail_images']) ? true : false;
      
            $filters = array('contractor_id' => 8,'get_complaint'=>'yes', 'get_status'=>'yes','get_address'=>'yes');
            $allBookingsOfContractor = $bookingModelObj->getAll($filters);
            $allBookingIdsOfContractor = array();
            $allComplaintIdsOfContractor = array();
            foreach ($allBookingsOfContractor as $booking){
                 $allBookingIdsOfContractor[] = (int)$booking['booking_id'];
                 $bookingId = $booking['booking_id'];
                 $BookingDetails[$bookingId]['booking_num'] = $booking['booking_num'];
                 $BookingDetails[$bookingId]['color'] = $status_colors[$booking['color']];
                 $BookingDetails[$bookingId]['address'] = get_line_address($booking);
                 if(isset($booking['complaint_id']) && $booking['complaint_id'] != Null && !empty($booking['complaint_id'])){
                     $allComplaintIdsOfContractor[] = (int)$booking['complaint_id'];
                     $complaintId = $booking['complaint_id'];
                     $ComplaintDetails[$complaintId]['booking_num'] = $booking['booking_num'];
                     $ComplaintDetails[$complaintId]['color'] = $status_colors[$booking['color']];
                     $ComplaintDetails[$complaintId]['address'] = get_line_address($booking);
                     $ComplaintDetails[$complaintId]['complaint_num'] = $booking['complaint_num'];
                 }

            }
        $BookingDiscussions = $modelBookingDiscussion->getByBookingIds($allBookingIdsOfContractor,'desc');	
        $ComplaintDiscussions = $modelComplaintDiscussion->getByComplaintIds($allComplaintIdsOfContractor,'desc');	

$result = json_encode($ComplaintDiscussions);
print_r($result);
		/*
            $mergedArray = array_merge($BookingDiscussions, $ComplaintDiscussions);

            foreach ($mergedArray as $key => $row) {
                $created[$key]  = $row['created'];
            }

            array_multisort($created, SORT_DESC, $mergedArray);

            print_r($mergedArray);

            foreach ($BookingDiscussions as $row) {
                $BookingIds[]  = $row['booking_id'];
            }


*/

$modelBookingDiscussion = new Model_ItemImageDiscussion();
$result = $modelBookingDiscussion->getAllDiscussionByContractor(8);
/*
$loggedUser = CheckAuth::getLoggedUser();
        
        $logged_user_id =  (int)$loggedUser['user_id'];
		echo $logged_user_id;
        $modelBookingDiscussion = new Model_ItemImageDiscussion();
        $mergedArray = $modelBookingDiscussion->getAllDiscussionByContractor(8);
*/
$result = json_encode($result);
print_r($result);

?>
<div style="margin-top:10px;">
    <div class="right_side_cont ibox-content">
            <div class="btn_cont">
                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('New API', '<?php echo $this->escape($this->url(array(), 'settingsCompaniesApisAddEdit')); ?>');" class="btn btn-white">
                    <div class="text_pos">
                        Add new API
                    </div>
                </a>
            </div>
    </div>		
</div>
<div style="margin-top:10px;" class="no-margin-b">
    <div class="ibox-title">
        <h5>APIs</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>

        </div>
    </div>
    <div class="ibox-content">		
        <?php if ($this->data): ?>
            <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="bank_table" >
                <thead>
                    <tr>
                        <td><b>API Name</b></td>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->data as $row){ ?>
                        <tr class="gradeX">
                            <td> 
                                <div class="details_info_l">
                                    <span class="details_info_name"><?php echo $this->escape($row['api_name']) ?></span>
                                </div>

                                <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit API', '<?php echo $this->escape($this->url(array(), 'settingsCompaniesApisAddEdit')).'?api_name_edit='.$this->escape($row['api_name']); ?>');" class="details_info_opt">Edit Parameters</a>
                                
                                <span class="details_breaks">|</span>
                                
                                <a href="javascript:void(0)" onclick="remove('<?php echo $this->escape($this->url(array('api_name' => $row['api_name']), 'apiDelete')); ?>'); return false;" id="delete_api" class="details_info_opt" >Delete</a>

                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>

            <div>
                <?php if (count($this->pageLinks) > 3): ?>
                    <ul class="pagination">
                        <?php foreach ($this->pageLinks as $pageLink) : ?>
                            <li><?php echo $pageLink; ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>


        <?php else: ?>
            <div style="" class="noRowsMessageDIV">There are no APIs.</div>
        <?php endif; ?>
    </div>

</div>
<div style="clear:both"></div>

<script type="text/javascript">
    var $del;
    
    $('#delete_api').on('click', function () {
        $del =  $(this).parent().parent();
    });
    
    function remove(url){
        if (confirm('Are you sure you want to delete this API?')){   
        $.ajax({
            type: "POST",
            url: url,
            success: function (msg) {
                $del.remove();
                alert(msg);
            }
        });
        }
    }
    

</script>


