<style>
    .m .row div{
        padding:5px 10px;  
        font-size:14px;
    }
    .bb{
        font-weight:bold;
    }
</style>

<div class="m ibox">
    <div class="ibox ibox-content">

        <div class="input-group">
            <h3>Subscription Information</h3>       
        </div>

        <hr>
        <div class="row">
            <div class="bb col-sm-3"> 
                Company Name 
            </div>
            <div class="col-sm-5">
                <?php
                if (isset($this->company_name)) {

                    echo $this->escape($this->company_name);
                }
                ?>
            </div>
        </div>	 


        <div class="row">
            <div class="bb col-sm-3"> 
                Plan Name 
            </div>
            <div class="col-sm-5">
                <?php
                if (isset($this->plan_name)) {

                    echo $this->escape($this->plan_name);
                }
                ?>
            </div>
        </div>	

        <div class="row">	  
            <div class="bb col-sm-3"> 
                Maximum Users / Plan 
            </div>
            <div class="col-sm-5">
                <?php
                if (isset($this->plan_name)) {

                    echo $this->escape($this->max_plan);
                }
                ?>
            </div>
        </div>   

        <hr>
        <?php if (isset($this->account_status) and $this->account_status == 'trial') { ?>

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Account Status 
                </div>
                <div class="col-sm-5">

                    <?php
                    echo $this->escape($this->account_status);
                    ?> 
                </div>
            </div> 

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    End Trial Date
                </div>
                <div class="col-sm-5">

                    <?php
                    echo $this->escape($this->trial_end_date);
                    ?>
                </div>
            </div>
        <?php } else { ?>

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Account Status 
                </div>
                <div class="col-sm-5">

                    <?php
                    echo $this->escape($this->account_status);
                    ?> 
                </div>
            </div>

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Start Date
                </div>
                <div class="col-sm-5">
                    <?php
                    echo $this->escape($this->from);
                    ?>
                </div>
            </div> 	

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    End Date
                </div>
                <div class="col-sm-5">
                    <?php
                    echo $this->escape($this->to);
                    ?>
                </div>
            </div> 



            <div class="row">	  
                <div class="bb col-sm-3"> 
                    last payment amount
                </div>
                <div class="col-sm-5">
                    <?php echo $this->escape($this->last_payment); ?>  $
                </div>
            </div> 
        <?php } ?>


        <div class="row">	  
            <div class="bb col-sm-3"> 
                Remainder Days
            </div>
            <div class="col-sm-5">
                <?php
                echo $this->escape($this->remind_days);
                ?>   
            </div>
        </div> 
        <hr>

        <?php if (isset($this->account_status) and $this->account_status != 'trial') { ?> 
            <div class="row">	  
                <div class="bb col-sm-3"> 
                    paid for 
                </div>
                <div class="col-sm-5">
                    <?php
                    echo $this->escape($this->paidforusers);
                    ?> Users
                </div>
            </div> 
        <?php } ?> 
        <div class="row">	  
            <div class="bb col-sm-3"> 
                Active users you have
            </div>
            <div class="col-sm-5">
                <?php
                echo $this->escape($this->company_users_active);
                ?>  Users
            </div>
        </div> 

        <hr>

        <div class="row">	  

            <?php if (isset($this->account_status) and $this->account_status == 'trial') { ?> 


                <a  class="btn btn-primary btn-rounded btn-outline" style="width: 45% !important; display: block; margin: 0 auto;" href="<?php echo $this->escape($this->url(array('isSubscribe' => 1), 'calculateRealAddUserChangePlan')); ?>"><i class="fa fa-info-circle" ></i> Become Premium</a>

            <?php } else { ?>

                <a  class="btn btn-primary btn-rounded btn-outline" style="width: 45% !important; display: block; margin: 0 auto;" href="<?php echo $this->escape($this->url(array('isSubscribe' => 1), 'calculateRealAddUserChangePlan')); ?>"><i class="fa fa-info-circle" ></i> Renew Now</a>

            <?php } ?>

        </div> 

    </div>
</div>