<!-- TinyMCE -->
<?php ?>
<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    var type="<?php echo $this->cannedResponses['type'];?>";
       if(type=='email'){
	   tinyMCE.init({
       mode: "textareas",
       theme: "advanced",
       relative_urls: false,
       convert_urls: false,
       plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",
        // Theme options
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true
    });
	}
	
	else
	{	
    	 tinyMCE.init({
				mode : "textareas",
				theme : "advanced",
				force_br_newlines : true,
				theme_advanced_buttons1 : "link,unlink,",
				theme_advanced_buttons2 : "",
				theme_advanced_buttons3 : "",
				theme_advanced_buttons4 : "",
				theme_advanced_toolbar_location : "top",
				theme_advanced_toolbar_align : "left",
				theme_advanced_statusbar_location : "",
				theme_advanced_resizing : true
		});
			}
</script>
<!-- /TinyMCE -->
<div class="col-lg-12 wrapper-content">
          
            <form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" class="form-horizontal">

                <div class="form-group">
                    <label class="col-lg-2"> Name</label> 
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('name')->render(); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2"> Subject</label> 
                    <div class="col-lg-10">
                        <?php echo $this->form->getElement('subject')->render(); ?>
                    </div>
                </div>
                <div class="hidden"><input name="" id=""></div>
				<!------------------->
				<div class="form-group template_type">
                <label class="col-md-2"> Template Type</label>
                <div class="col-md-10">
				<select class="select_field form-control" id="template_type" name="template_type">
				<option label="Select Type" value="0"> select Type</option>
				<option label="Email" value="email" <?php if($this->cannedResponses['type']=='email') echo "selected"?>>Email</option>
				<option label="SMS" value="sms" <?php if($this->cannedResponses['type']=='sms') echo "selected"?>>SMS</option>
			    </select>
			    </div>
                  <span id="dateError1" class="help-inline col-md-offset-2" style="color:#ff0000"></span>
                </div>
				<div class="form-group typeReceiver <?php if($this->cannedResponses['type']=='email') echo'hidden'; ?>">
                <label class="col-md-2"> Receiver Type</label>
                <div class="col-md-10">
				<select class="select_field form-control" id="receiver_type" name="receiver_type">
				<option label="Select Type" value="0"> select Type</option>
				<option label="Contractor" value="contractor" <?php if($this->cannedResponses['receriver_type']=='contractor') echo "selected"?>>Contractor</option>
				<option label="Customer" value="customer" <?php if($this->cannedResponses['receriver_type']=='customer') echo "selected"?>>Customer</option>
			    </select>
			    </div>
                <span id="dateError2" class="help-inline col-md-offset-2" style="color:#ff0000"></span>
				</div>
			<!----->
                <div class="form-group">
                    <label class="col-lg-2"> Body</label> 

                    <div class="col-lg-10">  
                        <?php echo $this->form->getElement('body')->render(); ?>
                    </div>
                </div>
      </form>
      
        
            <div class="right_side_cont">
                <div class="btn_cont">
                    <a href="javascript:;" onclick="submitForm()" class="btn btn-white">
                        <div class="text_pos">
                            save
                        </div>
                    </a>
                </div>
            </div>
        
</div>

  <script>
   $( document ).ready(function() {
	     var type="<?php echo $this->cannedResponses['type'];?>";
   		if(type=='email'){
		$('.typeReceiver').addClass("hidden");
		$('.template_type').addClass("hidden");
		}
		else{
          $('.template_type').addClass("hidden");
		    }
	 //$('#template_type').attr('readonly', true);

    });
	  $('#template_type').on('change', function() {
		document.getElementById("dateError1").innerHTML = "";
		var template_type= $('#template_type').val();
		if(template_type==0){
				$('.typeReceiver').addClass("hidden");
				document.getElementById("dateError1").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;Please select template type";
			return false;
			}
			else{
				if(template_type=='sms')
				$('.typeReceiver').removeClass("hidden");
				else
				$('.typeReceiver').addClass("hidden");
			}
								
			});
			 
		$('#receiver_type').on('change', function() {
		document.getElementById("dateError2").innerHTML = "";
		var receiver_type= $('#receiver_type').val();
		if(receiver_type==0){
		document.getElementById("dateError2").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;Please select receiver type";
    	return false;
			}
			});
			
			function submitForm(){
          var type="<?php echo $this->cannedResponses['type'];?>";
   			   if(type=='sms'){
			   var receiver_type= $('#receiver_type').val();
			   if(receiver_type==0){
			   document.getElementById("dateError2").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;Please select receiver type";
			   return false;
			   }
			  }
			 var template_type= $('#template_type').val();
			   $('#form').submit();
				}

				



</script>