<style>
	.circle{
        display:none;
        float:right;
        cursor:pointer;
    }
	.commentBox:hover .circle{
        display:block;
    }
	
	.delete{
        display:none;
        float:right;
        cursor:pointer;
    }
	.commentBox:hover .delete{
        display:block;
    }
	
	#uploadPhotos.form-group{
		margin-bottom: 0px;
	}
	
	.commentPhoto{
		padding-right: 15px;
	}
	
	.discussionsList{
		height: 300px;
		overflow-y: auto;
	}
	
</style>
<div>
<?php 
$modelAuthRole = new Model_AuthRole();
$loggedUser = CheckAuth::getLoggedUser();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');?>
	<?php if (!$this->ContractorDiscussions){ ?>
		<div id="StartConversation" style="float:left"><h3>Start a conversation</h3></div>
	<?php } ?>
	
	<div class="form-group" style="float:right;">
	<label >Visibility</label>	
		<select <?php if($loggedUser['role_id'] == $contractorRoleId){
				echo "disabled";
			}?> class="form-control" id="commentVisibility" >
		<?php if($loggedUser['role_id'] != $contractorRoleId) { ?>
			<option value="1">Office</option>
		<?php } ?>
			<option <?php if($loggedUser['role_id'] == $contractorRoleId){
				echo "selected";
			}
				?> value="2">Office and Technician</option>
		</select>
	</div>
	<div style="clear:both"></div>
	
</div>


<?php 
$contractor_id= 0;
//var_dump($loggedUser);exit;
if ($this->ContractorDiscussions): 
$contractor_id = $this-> contractor_id;
?>

	<div class="ibox-content discussionsList" >
		<ul class="disc_b" id="discussions">
					<?php foreach ($this->ContractorDiscussions as $ContractorDiscussion): 
						$seen_ids = explode(',', $ContractorDiscussion['seen_by_ids']);
						//echo"wala ";print_r($seen_ids); 
						$seen_names = explode(',', $ContractorDiscussion['seen_by_names']);
						//echo"wala ";print_r($seen_names); exit;						
						//if($ContractorDiscussion['is_deleted'] == 0){
							if(empty($ContractorDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $ContractorDiscussion['user_id'])){ ?>
							
							  <li class="commentBox" style="background:#edf0f5;">
						   <?php }else if(!empty($ContractorDiscussion['seen_by_ids']) && ($loggedUser['user_id'] == $ContractorDiscussion['user_id'])){ ?>
								 <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
							<?php }else if(!in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $ContractorDiscussion['user_id'])){ ?>
							 <li class="commentBox" style="background:#edf0f5;"><span style="float:right" data-toggle="tooltip" title="Mark as seen"  class="mark_as_seen circle"><i class="fa fa-circle-thin"></i></span>	
							<?php }elseif(in_array($loggedUser['user_id'],$seen_ids) && ($loggedUser['user_id'] != $ContractorDiscussion['user_id'])){ ?>
							   <li class="commentBox" style="background:#fff;" ><span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>
						   <?php } ?>
						   
						   <?php if(CheckAuth::checkCredential(array('deleteCommentFromContractorDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $ContractorDiscussion['user_id']){?>
										<span style="float:right;padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
						    <div class="commentPhoto" style="float:left;">
								<img  src="<?php
								if ($ContractorDiscussion['avatar']) {
									echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $ContractorDiscussion['avatar']);
								} else {
									echo $this->baseUrl('/pic/contractor_pic1.png');
								}
								?>" width="40" height="40" class="img-circle" alt="comment">

							</div>
						   <div style="float:left;">
									<div class="normal_font"> 
										<span>
										  <!--<i class="fa fa-user"></i>-->
											<b> 
											<?php echo $this->escape($ContractorDiscussion['user_name']); ?> (<span class="red_color"><?php echo $this->escape($ContractorDiscussion['user_role_name']); ?></span>)
											</b>
											<?php /*if($loggedUser['role_id'] != 2){
											if($ContractorDiscussion['user_role_name'] == 'super_admin'){ 
												if($loggedUser['user_id'] == $ContractorDiscussion['contractor_id']){
													echo " to You ";
												}else
													echo " to " . $ContractorDiscussion['contractor_name'] . " ";
											}
											}*/?>
										</span>
										
										
										
										 <span >
											 <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
											  <?php //echo $this->escape(getDateFormating($ContractorDiscussion['created'])); 
											  echo $this->escape(time_ago($ContractorDiscussion['created']));?>
										 </span>
									</div>
									
									
									<div class="disc_message">
									
										<?php if(isset($ContractorDiscussion['thumbnail_images'])) {?>
											  <div style="  width:auto;float: left;margin-right: 10px;">
												 <ul>
												<?php											
												foreach($ContractorDiscussion['thumbnail_images'] as $key => $thumbnail):											 
												?>
												<li style="float:left;padding:0px">
													<img  src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/' . $thumbnail)); ?>" />
												  </li>
												<?php endforeach;?>
											   </ul>
											  </div>
										<?php }?>
												
										<?php echo nl2br($this->escape($ContractorDiscussion['user_message'])); ?>
										<div style="clear:both"></div>
										
									<input type="hidden" value="<?php echo $ContractorDiscussion['_id']; ?>" class="discussion_id"/> 
									</div>
									<?php if(!empty($ContractorDiscussion['seen_by_ids'])){?>
										<div class="seen_by">Seen by: <?php echo $ContractorDiscussion['seen_by_names'];?></div>
									<?php }else{ ?>
										<div class="seen_by">Nobody see comment</div>
									<?php }?>
								</div><div style="clear:both;"></div>
						
						   </li>
						<?php //} ?>
					    
				 <?php endforeach;?>
		</ul>
   </div>
<?php else: ?>

<div class="ibox-content discussionsList" id="contractor_discussions">	
<!-- 
	<div id="discussions" >
		<span class="fa fa-ban"></span>
		<br/>
		<h3 class="font-bold">No Discussion for this Contractor</h3>
	</div>
-->	
</div>

<?php endif; ?>
<form class="form-horizontal" method="POST" id="discussion_form" onsubmit="sendComplaintDiscussion('<?php echo isset($this->process)? $this->process: 'send'; ?>');return false;">

	<div>
			<div id="errMsg">&ensp;</div>
	
			<div class="form-group">
			 <!--<label class="col-md-3 control-label">Discussion <span class="required_discussion">*</span> </label>-->
			  <div class="col-md-12">
				<textarea cols="" rows="4" id="disc" name="discussion" class="descussion_txtarea form-control" placeholder="Leave a comment..."></textarea>	
				<!--<span id="commentGlyphicons" class="glyphicons glyphicon-envelope form-control-feedback"></span>-->				
			  </div>
			</div>
			
			
			<div id="uploadPhotos" class="form-group">
				 <!--<label class="col-md-3">Upload photo(s)</label>-->
				 <div class="col-md-12">
				  <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
					<div class="dz-message"></div>
				  </div>
				 </div>
				</div>
			<?php if(CheckAuth::checkCredential(array('canNotifyOtherUsers'))){ ?>	
			<div class="row">
				<div class="col-sm-7" id="notifyText"><h3>Will notify </h3></div>
				<div class="form-group col-sm-5" >
					<select class="form-control" id="notifyPersons" multiple="multiple">
						<option value="" selected="selected">add/remove</option>
						<?php foreach($this->users as $user){ ?>
							<option value="<?php echo $user['user_id'] ;?>" ><?php echo $user['username'] ; ?></option>
						<?php } ?>
					</select>
				</div>
			</div>
			<?php }?>
	
	<div class="form-group">
            
            <div class="col-md-8 col-md-offset-3" id="button_cont">
			  <div id="save_btn">
			    <!--<input type="submit" value="<?//= ($this->process == 'close')? 'Close' : ($this->process == 'open') ? 'Open':'Send';  ?>" class="btn btn-primary">-->
				<input type="submit" value="<?= ($this->process == 'close')? 'Close' : ($this->process == 'open') ? 'Open':'Post comment';  ?>" class="btn btn-primary">
				<!--
				<a id="cancelLink">cancel</a>-->
				
                <a onclick="getData(); return false;" class="btn btn-white">
                        Refresh  
                    
                </a>
			  </div>
               <img src="/pic/loading-4.gif" style="display:none" id="loading_img">			  
			</div>
        </div>			
	</div>			
            
</form>

<script type="text/javascript">

   function sendComplaintDiscussion(process){
        //$('#button_cont').html('<img src="/pic/loading-4.gif">');
		//if(process == 'send'){
		var visibility = $('#commentVisibility').val();
		var notifyPersons;
		if($('#notifyPersons').length > 0){
			//console.log('test notify');
			notifyPersons = $('#notifyPersons').val();
			if($('#notifyPersons').val() == null){
				notifyPersons = '';
			}else{
				notifyPersons = $('#notifyPersons').val();
			}
		}else{
			notifyPersons = '';
		}
		
        $('#save_btn').hide();
		$('#loading_img').css('display','block');
		console.log('send discussion');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor['user_id']), 'submitContractorDiscussion')); ?>",
            data: $('#discussion_form').serialize() + "&visibility=" + visibility + "&notifyPersons=" + notifyPersons,
            dataType : "json",
            success: function(msg) {
                if(msg.success == 1){
                    getData();
                    $('#discussions').removeClass('empty');
					if(msg.updated == 1){
						tb_remove();
						parent.location.reload(1);
					}
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
				$('#loading_img').hide();
                $('#save_btn').show();
				
               // return_button();
            }
        }); 
		//}
		
		
    }
       
    setTimeout('scrollDown()', 1);
    
    
    function getData(){
		var count = 0;
		var loggedUserRoleId = '<?php echo $loggedUser['role_id']; ?>';
		var loggedUserId = '<?php echo $loggedUser['user_id']; ?>';
		var canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromContractorDashboard'));?>';
        //$('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor['user_id']), 'allContractorDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {				
                if(count < msg.count){
					//console.log("if " + count);
					if($('ul#discussions').length > 0){
						$('ul#discussions').html('');
					}else{
						$('div#discussions').remove();
						$('#contractor_discussions').html('<ul class="disc_b" id="discussions">');
						$('#discussions').html('');
					}
                    
                   $('#contractor_discussion_2').html('<ul class="disc_b dis2" ></ul>');
					
                    $.each(msg.discussions, function(index, discussion) {
						
							var wroteTo;
							var seen_ids = discussion.seen_by_ids.split(",");
							for(var key in discussion._id){
								var id = discussion._id[key];
								//console.log("id: " + id);
							}
							
							/*if(loggedUserRoleId != 2){
								if(discussion.user_role_name == 'super_admin'){
									if(loggedUserId == discussion.contractor_id){
										wroteTo = " to You ";
									}else{
										wroteTo = " to " + discussion.contractor_name + " ";
									}
								}else{wroteTo = " " ;}
							}else{wroteTo = " " ;}*/

							var comment_text = '<li class="commentBox"';
						
							if(seen_ids.indexOf(loggedUserId) == -1 && loggedUserId != discussion.user_id){		
								comment_text = comment_text + 'style="background:#edf0f5;">'
								+ '<span style="float:right" data-toggle="tooltip" title="Mark as seen"  class="mark_as_seen circle"><i class="fa fa-circle-thin"></i></span>';	
							}else if(seen_ids.indexOf(loggedUserId) > -1 && loggedUserId != discussion.user_id){
								comment_text = comment_text + 'style="background:#fff;">'
								+ '<span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>';
							}else if(discussion.seen_by_ids.length == 0 && loggedUserId == discussion.user_id){
								comment_text = comment_text + 'style="background:#edf0f5;">';
							}else if(discussion.seen_by_ids.length > 0 && loggedUserId == discussion.user_id){
								comment_text = comment_text + 'style="background:#fff;">'+ '<span style="float:right;" class="circle" data-toggle="tooltip" title="Seen"><i class="fa fa-circle"></i></span>';
							}
							
							if(canDeleteComment){
								comment_text = comment_text + '<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete"><i class="glyphicon glyphicon-remove"></i></span>'
							}else{
								if(loggedUserId == discussion.user_id){
									comment_text = comment_text + '<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete"><i class="glyphicon glyphicon-remove"></i></span>'									
								}
							}
							
							comment_text = comment_text + '<div class="commentPhoto" style="float:left;">';
							if(discussion.avatar){
								comment_text = comment_text + '<img  src="<?php echo $this->escape($this->baseUrl('/uploads/user_pic/thumb_medium/')); ?>' + discussion.avatar + '" width="40" height="40" class="img-circle" alt="comment">';
							}else{
								comment_text = comment_text + '<img  src="<?php echo $this->escape($this->baseUrl('/pic/contractor_pic1.png')); ?> " width="40" height="40" class="img-circle" alt="comment">';
							}
							
							comment_text = comment_text + '</div>';

								var discussion_text = comment_text + '<div style="float:left;"><div class="normal_font"> <span>  <b>'+
								discussion.user_name+'('+discussion.user_role_name+')</b></span>'+
								' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message"><div style="  width:auto;float: left;margin-right: 10px;" >';
								for(var i in discussion.thumbnail_images){
									discussion_text = discussion_text + '<img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/'));?>'+discussion.thumbnail_images[i]+'"/>';
								}
												
								discussion_text = discussion_text + '</div>'+discussion.user_message+'<input type="hidden" value="'+ id +'" class="discussion_id"/></div><div style="clear:both"></div>';
								if(discussion.seen_by_names.length > 0){
									discussion_text = discussion_text +'<div class="normal_font" style="padding-top:5px">Seen by: '+discussion.seen_by_names+'</div>';
								}else{
									discussion_text = discussion_text +'<div class="normal_font" style="padding-top:5px">Nobody see comment</div>';
								}
								discussion_text = discussion_text +'</div><div style="clear:both;"></div></li>';
								$('#discussions,.dis2').append(discussion_text);
					
					});
                    
                    scrollDown();
					$('#StartConversation').html('');
                }else{
					$('#contractor_discussions, #discussions').html('');
					//$('#contractor_discussions,#discussions').html('<span class="fa fa-ban"></span><br/><h3 class="font-bold">No Discussion for this Contractor</h3>');
					if($("#contractor_discussion_2").has(".contractor_dis_empty").length > 0){
						$('.contractor_dis_empty').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
					}else{
						$('#contractor_discussion_2').html('<div class="contractor_dis_empty"><div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div></div>')
					}
					$('#StartConversation').html('<h3>Start a conversation</h3>');
					
				}
                
                $('#disc').val('');
                $('#errMsg').html('');
				if(loggedUserRoleId == 2){
					$('#commentVisibility').val(1);
				}
				$('#notifyPersons').val('');
				$('#notifyPersons').scrollTop(0);
				//$('#discussionsList').scrollTop(0);
				$('#notifyText').html('Will notify ');
				var notifyUsers= $('#notifyPersons');
				$(notifyUsers).empty();
				$(notifyUsers).append('<option>add/remove</option>');
				$.each(msg.users, function(index, user) {
					
					$(notifyUsers).append('<option id=' + user.user_id + ' value=' + user.user_id + '>' + user.username + '</option>');
				});
				
                count = msg.count;
                $('#loading_img').hide();
                $('#save_btn').show();
				//return_button();
				
				$('[data-toggle="tooltip"]').tooltip();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<a onclick="$(\'#discussion_form\').submit(); return false;"  class="btn btn-primary"> '+
            '<div class="discussion_submit">'+
            'Send'+
            '</div>'+
            '</a>'+
            '&nbsp; &nbsp;<a onclick="getData(); return false;" class="btn btn-white">'+
            '<div class="discussion_refresh">'+
            'Refresh'+
            '</div>'+
            '</a>');
    }
	
	
	$(document).ready(function (){
	
	   
	var postMaxSize = '<?php echo str_replace('M', '', ini_get('post_max_size')); ?>';
    var totalSizes = 0;
    
	var photoDropzone = new Dropzone("#discussion_form", {
        url: "<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor['user_id']), 'submitContractorDiscussion')); ?>",
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 100,
        maxFilesize: 10,
        acceptedFiles: ".jpeg,.jpg,.png,.gif",
        previewsContainer: '#dropzonePreview',
        clickable: '#dropzonePreview',
        addRemoveLinks: true,
        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            var submitButton = document.querySelector('input[type=submit]');
			
            myDropzone = this; // closure		
            submitButton.addEventListener("click", function (e) {
                
                e.preventDefault();
                e.stopPropagation();
                if (myDropzone.getQueuedFiles().length === 0) {
				    console.log('here');
                    sendComplaintDiscussion();
                }else{     
                    $('#loading_img').show();
                    $('#save_btn').hide();				
                    //$('#button_cont').html('<img src="/pic/loading-4.gif">');
					if($('#disc').val() == ''){
					   $('#errMsg').html('Invalid Discussion');
					   return false;
					}
                    myDropzone.processQueue();
                }
            });

            this.on("successmultiple", function (files, response) {
              
				response = jQuery.parseJSON(response);               
				if(response.success == 1){
					if($('#disc_tab').find('.no_result')){
						$('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(response.errMsg);
                }
                //return_button();
				$('#loading_img').hide();
                $('#save_btn').show();

            });
            this.on("errormultiple", function (files, response) {                
                //return_button();
				response = jQuery.parseJSON(response);               
				if(response.success == 1){
					if($('#disc_tab').find('.no_result')){
						$('#disc_tab').html('<ul class="disc_b" id="booking_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(response.errMsg);
                }
				
				$('#loading_img').hide();
                $('#save_btn').show();
            });

            this.on("addedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes + MegaSize;
                if (totalSizes > postMaxSize) {
                    this.removeFile(file);
                    alert('Total files size is too big , Max total file size (30M)');
                }

            });

            this.on("removedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes - MegaSize;
				
            });
			
			  // Execute when file uploads are complete
			this.on("complete", function() {
			  // If all files have been uploaded
			  if (this.getQueuedFiles().length == 0 && this.getUploadingFiles().length == 0) {
				var _this = this;
				// Remove all files
				_this.removeAllFiles();
			  }
    });
	
			this.on('sending', function(file, xhr, formData){
				var visibility = $('#commentVisibility').val();
				//var notifyPersons = $('#notifyPersons').val();
				var notifyPersons;
				if($('#notifyPersons').length > 0){
					//console.log('test notify');
					notifyPersons = $('#notifyPersons').val();
					if($('#notifyPersons').val() == null){
						notifyPersons = '';
					}else{
						notifyPersons = $('#notifyPersons').val();
					}
				}else{
					notifyPersons = '';
				}
				//console.log('test notify' + notifyPersons);
				formData.append('visibility', visibility);
				formData.append('notifyPersons', notifyPersons);
			});



        }
    });
    
	
	
	
	});
	$('[data-toggle="tooltip"]').tooltip();
</script>
<script>
	$(document).ready(function (){
		//$("#notifyText").html('');
		$("#notifyText").text('');
		var contractor_id = '<?php echo $this->contractor_id;?>';
		var logged_user_id = '<?php echo $loggedUser['user_id']; ?>';
		$.ajax({
            url: "<?php echo $this->escape($this->url(array(), 'markAllCommentsAsSeen')); ?>",
            type: "POST",
			data: {contractor_id: contractor_id, logged_user_id: logged_user_id},
            success: function (data) {
				if(data == 1){
					getData();
				}
				
            }
        });
		
		
		$.ajax({
				url: "<?php echo $this->escape($this->url(array(), 'getUsers')); ?>",
				type: "POST",
				dataType:"JSON",
				success: function (msg) {
					var notifyUsers= $('#notifyPersons');
					$(notifyUsers).empty();
					$(notifyUsers).append('<option>add/remove</option>');
					$.each(msg.users, function(index, user) {
						$(notifyUsers).append('<option id=' + user.user_id + ' value=' + user.user_id + '>' + user.username + '</option>');
					});
				}
			});
		
	});
	
	$('#discussions,#contractor_discussions').on("click",".delete", function (e) {
		//var contractor_id = '<?php echo $contractor_id; ?>';
        var delete_class = $(this);
		var message = "";
		if(delete_class.closest('li').find('.disc_message').has("img").length > 0){
			message = 'This comment contains images. Are you sure you want to delete this Comment ?';
		}else{
			message = 'Are you sure you want to delete this comment?';
		}
		
			var confirmResult = confirm( message);
			if(confirmResult){
				$.ajax({
					url: "<?php echo $this->escape($this->url(array(), 'updateDeletedComment')); ?>",
					type: "POST",
					data: {discussion_id: $(this).closest('li').find('.discussion_id').val()},
					success: function (data) {
						if(data == 1){
							getData();
						}
					}
				});
			}				
		
    });

/*$("#notifyPersons").change(function () {
    var str = "Will notify ";
    $( "#notifyPersons option:selected" ).each(function() {
      str += $( this ).text() + " ";
    });
    $("#notifyText").text( str );
	console.log("value selected: " + $("#notifyPersons").val());
  }).change();*/
  
  $("#notifyPersons").change(function () {
    var str = "Will notify ";
	var val = [];
	$( "#notifyPersons option:selected" ).each(function() {
		val.push($( this ).text());
	});
	if(val != ""){
		if (val.length > 1){
			var lenupdated = val.length -1;
			str = "Will notify " + val[0] + " and " + lenupdated + " more";
		}else if(val.length == 1)
			str = "Will notify " + val[0];
	}
    $("#notifyText").text( str );
  }).change();
  
		
</script>