
  <style>
  
  
  
.cont-out {
    border-bottom: 1px solid #43b3c6;
    padding: 10px 0px;
}

.cont-out div {
    display: inline-block;
    vertical-align: middle;
}


.msg-verify{
	margin:20px;
	text-align:center;
	font-size:18px;
	line-height:25px;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cont-out div{
	 display:inline-block;
	 vertical-align:middle;
}
.part-text{
	padding-left:20px;
	font-size:16px;
	line-height:25px;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cont-out{
	border-bottom:1px solid #28b193;
	padding: 10px 0px;
}

.msg-verify p{
	margin:20px;
	text-align:center;
	font-size:16px;
	line-height:25px;
}

#container_demo{
	 margin:30px;
	 border:1px solid #fcfcfc;
	 border-radius:5px;
	 padding:10px 20px 20px 20px;
	 background:#fff;
}
.alert{
	margin-top:0;
	margin: 1% 0px 0px 5%;
    width: 90%;
}

  </style>
  <div>
            <!-- Codrops top bar -->
            <div class="codrops-top">
               
            </div><!--/ Codrops top bar -->
           
           <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
					
	


                        <div id="login" class="animate form">
                            <div class="cont-out">
							  <div class="part-icon">
							    
								   <img src="<?php echo $this->escape($this->baseUrl('/pic/complete.png')); ?>" width="50px" height="50px">
								 
							     
							  </div>
							  <div class="part-text ">
							    Verify your account 
							  </div>
							</div>
							<div class="cont-out">
							  <div class="part-icon">
							     <?php if($this->step == 1 ) {?>
								   <img src="<?php echo $this->escape($this->baseUrl('/pic/notcomplete.png')); ?>" width="43px" height="43px">
								 
							     <?php }else { ?>
									 <img src="<?php echo $this->escape($this->baseUrl('/pic/complete.png')); ?>" width="50px" height="50px">
								 <?php } ?>
							  </div>
							  <div class="part-text ">
							    Add your company information
							  </div>
							  
							 
							  <?php if($this->step == 1 ) {?>
							  <a href="javascript:void(0);" data-toggle="modal" data-target="#popupi" onclick="popupi('Complete Company Information', '<?php echo $this->escape($this->url(array(), 'completecompanypanel')); ?>');" >
								<div class="btn btn-primary ">
									Start
								 </div>
                              </a>
							  <?php } ?>
							 
							</div>
							
							<div class="cont-out">
							  <div class="part-icon">
							  
							   <?php if($this->step == 2 | $this->step < 2 ) {?>
							   
								   <img src="<?php echo $this->escape($this->baseUrl('/pic/notcomplete.png')); ?>" width="43px" height="43px">
								   
								   <?php }else  { ?>
								   
									 <img src="<?php echo $this->escape($this->baseUrl('/pic/complete.png')); ?>" width="50px" height="50px">
									 
								 <?php } ?>
							  </div>
							  
							  <div class="part-text">
							   Complete your information 
							  </div>
							  
							  <div class="part-text">
							  
								<?php if($this->step == 2) {?>
							  <a href="javascript:void(0);" data-toggle="modal" data-target="#popupi" onclick="popupi('Complete Your Information', '<?php echo $this->escape($this->url(array(), 'completeadminaccount')); ?>');" >
								<div class="btn btn-primary">
									Start
								 </div>
                              </a>
							  <?php } ?>
							 
								
							  </div>
							</div>
							
							
							<div class="cont-out">
							  <div class="part-icon">
							   <?php if($this->step == 3 | $this->step < 3) {?>
								   <img src="<?php echo $this->escape($this->baseUrl('/pic/notcomplete.png')); ?>" width="43px" height="43px">
								 <?php }else { ?>
								   
									 <img src="<?php echo $this->escape($this->baseUrl('/pic/complete.png')); ?>" width="50px" height="50px">
									 
								 <?php } ?>
							  </div>
							  
							  <div class="part-text">
							    Add Users 
							  </div>
							  
							 <?php if($this->step == 3) {?> 
							  <a href="javascript:void(0);" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Users ', '<?php echo $this->escape($this->url(array(), 'toaddusers')); ?>');" >
								<div class="btn btn-primary">
									Start
								 </div>
                              </a>
							  <?php } ?> 
							  
							  
							</div>
							
							
                        </div>

                      
						
                    </div>
                </div>  
            </section>
			
			
  </div>
  
  <?php 
                    $view = new Zend_View();
                    $view->setScriptPath(APPLICATION_PATH . '/modules/settings/views/scripts/settings');
                    echo $view->render('index.phtml');
					
  ?>