<!--<script src="https://use.fontawesome.com/eddc08a476.js"></script>-->
<?php 
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
// lighter colors of the above array
$backgroundcolors = array(
    '0' => '#F3F3F3',
    '1' => '#FFE6E6',
    '2' => '#fee4fe',//FFC2D6
    '3' => '#fee4fe',//FFCBFF
    '4' => '#D4BEFF',
    '5' => '#C1E0FF',
    '6' => '#CEDEFF',
    '7' => '#e3fcfc',/* D3FFF9 */
    '8' => '#e3fcfc',/* C0FFDF */ 
    '9' => '#B5FFB9',
    '10' => '#E8FFC6',
    '11' => '#FFFFBC',
    '12' => '#FFF5C9',
    '13' => '#FFEFDA',
    '14' => '#FFD8C4',
    '15' => '#fee4fe',//FFE1E1
    '16' => '#fee4fe',//FFDDFF
    '17' => '#C6E2FF',
    '18' => '#D3E2FF',
    '19' => '#DCFFFB',
    '20' => '#FFFFCF',
    '21' => '#FFEDD6',
    '-1' => '#fee4fe'//FFDAFF
);


?>


<style>
table {border: none;}

#button:active {
    background-color: #FFFFFF !important;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

	.statusBorder
{
	padding:3px;
    border-radius:7px;
    box-shadow: 2px 2px 5px #d9dade;
    border-left-style: solid;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}
.customerBox
{
	border: 1px solid #caced0;
    border-radius:10px;
	background: #FFFFFF;
}
@media only screen and (min-width: 1025px)
{

   .minDivHeight 
   {
	min-height:170px;
   }
   /*
.row-horizon {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.row-horizon > [class*="col-md"]
{
  float: none;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}*/
.Customer-confirm-button
	{
		background:#0CB225;
		padding:3px; 
		font-size:10px;
	}
}
@media only screen and (min-width: 991px) and (max-width: 1100px) 
{

	.FontSize 
	  {
		  font-size:8px;
	  }
  .IconSize
	{
		font-size:10px;
	}
	
   .minDivHeight 
   {
	min-height:170px;
   }
.Customer-confirm-button
	{
		background:#0CB225;
		padding:2px; 
		font-size:8px;
	}
	/*
	.row-horizon {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.row-horizon > [class*="col-md"]
{
  float: none;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}*/
}


@media only screen and (max-width: 990px) {


	.minDivHeight {
		min-height:140px;
	}
.Customer-confirm-button
	{
		background:#0CB225;
		padding:3px; 
		font-size:10px;
	}
	
}
	


</style>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ container: 'body' });

});
</script>
<div style="margin:0px; padding:5px; ">
<?php 
$contractor_id = $this->contractor_id;
?>
<div id="booking_attendance_info_<?=$contractor_id?>" class="col-md-12" align="center" style="padding:0px;margin:0px;">
<?php


$modelBookingStatus = new Model_BookingStatus();
 $loggedUser = CheckAuth::getLoggedUser();
 $modelCustomerFeedback = new Model_CustomerFeedback();
 $modelBookingReminder= new Model_BookingReminder();
 $modelBookingStatus = new Model_BookingStatus();
			
    if (isset($this->data) && !empty($this->data)) {
         foreach ($this->data as $booking_attendance) { 
		    $status = $modelBookingStatus->getById($booking_attendance['booking_info']['status_id']);
///////////////// ADDED BY RAND /////////////////////////////////////
			
            ?>
			
			<!--- Contractor Booking Attendance -->
			
			 
			 
			      <?php
			 
					
				?>
			     <div onclick="draw_map('<?=$booking_attendance['booking_id']?>','<?=$contractor_id?>')"  data-toggle="collapse" data-target="#booking_details_<?=$booking_attendance['booking_id']?>_<?=$contractor_id?>" style=" padding:5px; margin:0px;width:95%; background: #f7f8fa; border-style: solid; border-color:#cdced0; border-width:1px; border-top-width:0px; border-bottom-width:0px;">
                  <table width="100%" style="border-width:0px;">
					<tr>
					<td colspan="5">
					<table width="100%">
						<tr>
						<td width="60%">
							<div style="float:left; display:inline; font-weight: bold;" valign="middle" >
							<div>
							<?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
												<a href="<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'bookingView')); ?>" class="details_info_name" style="color:<?=$colors[$booking_attendance['booking_status']['color']]?>;font-weight: bold;"><b><?=$booking_attendance['booking_status']['name']?></b></a>
											<?php else: ?>
												<span class="details_info_name" ><strong><?=$booking_attendance['booking_status']['name']?></strong></span>
											<?php endif; ?>
							</div>
							   
							<div> <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
												<a href="<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'bookingView')); ?>" class="details_info_name" style="color:<?=$colors[$booking_attendance['booking_status']['color']]?>;font-weight: bold;"><b><?php echo $this->escape($booking_attendance['booking_info']['booking_num']) ?></b></a>
											<?php else: ?>
												<span class="details_info_name"><strong><?php echo $this->escape($booking_attendance['booking_info']['booking_num']) ?></strong></span>
											<?php endif; ?>
							</div>
						   </div>
						</td>
						<td width="40%" align="right">
						<?php if($booking_attendance['is_confirmed'] == 0)
						    {?>
							 <?php if (CheckAuth::checkCredential(array('bookingReminderAdd')))
							     { ?>	   
							          <button type="button" class="btn btn-success btn-sm Customer-confirm-button" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');"> CONFIRM </button>
							 <?php } ?> 
								  
					  <?php } else {
						  ?>
						  <table style="font-size:10px;">
						  <tr>
						  <td align="right" style="white-space: nowrap; padding-right:3px;" >
								  <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
							<?php
								if($booking_attendance['last_reminder_date'] != null)
								{
									echo date("F jS",$booking_attendance['last_reminder_date']['created']);
								}
								else echo'  ' ;
								?>
									 </a>
							</td>		  
						    <td rowspan="2" width="1%" style="white-space: nowrap;">
								   <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
												  <span class="fa-stack fa-lg">
												  <i class="fa fa-circle fa-stack-2x " style="color:#0CB225;"></i>
												  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse "></i>
												</span>
												</a>
						    </td>
						   </tr> 
						   
						   <tr>
						   <td align="right" style="white-space: nowrap; padding-right:3px;" >
						   <?php if($booking_attendance['is_confirmed'] == 1)
						    {
								?>
						     <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
							    <?php
									if($booking_attendance['last_reminder_date'] != null)
									{
										echo date("H:i A",$booking_attendance['last_reminder_date']['created']);
									}
									else echo'  ' ;
								?>
							 </a>
							<?php } ?> 
						   </td>
						   </tr>
							
						</table>
					     <?php } ?>
						</td>
						
						</tr>
					
						</table>
						</td>
						</tr>
						
						
						<tr>
						<td colspan="5" style="font-size:10px;">
						<table>
						<tr>
						<td valign="top" width="1%"><i class="fa fa-clock-o"></i>
						 </td>
						 <td style="padding-left:3px;">
						 <?=date("D F j, Y,",strtotime($booking_attendance['booking_info']['booking_start']))?> <?= date("H:i A",strtotime($booking_attendance['booking_info']['booking_start']))?> - <?= date("H:i A",strtotime($booking_attendance['booking_info']['booking_end']))?>
						 <?php
			                if (!empty($booking_attendance['multiple_days'])) {
                                                foreach ($booking_attendance['multiple_days'] as $day) {
                                                    ?>
                                                    </br>
                                                     <?=date("D F j, Y,",strtotime($day['booking_start']))?> <?= date("H:i A",strtotime($day['booking_start']))?> - <?= date("H:i A",strtotime($day['booking_end']))?>
                                                    <?php
                                                }
                                            }
			                  ?>
						
						 </td>
						 </tr>
						 </table>
						</td>
						</tr>
						
						<tr>
						<td colspan="5" style="padding-bottom:5px;"> <i class="fa fa-usd"></i> $<?=$booking_attendance['booking_info']['qoute']?> inc GST</td>
						</tr>
			      </table>
				  <hr style="margin:0px; padding:0px; width:90%;">
			     </div>
				 
				 
				 
		<!--------------- Hidden booking Details box------------------>
				 
				 <div id="booking_details_<?=$booking_attendance['booking_id']?>_<?=$contractor_id?>" class="collapse statusBorder" style="width:100%; border-color:<?=$colors[$booking_attendance['booking_status']['color']]?>;">
					<table width="100%" style="border-width:0px;">
					<tr>
					<td colspan="5" style="padding:5px;">
					<table width="100%">
						<tr>
						<td width="60%">
							<div style="float:left; display:inline; font-weight: bold;" valign="middle" >
							<div>
							<?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
												<a href="<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'bookingView')); ?>" class="details_info_name" style="color:<?=$colors[$booking_attendance['booking_status']['color']]?>;font-weight: bold;"><b><?=$booking_attendance['booking_status']['name']?></b></a>
											<?php else: ?>
												<span class="details_info_name" ><strong><?=$booking_attendance['booking_status']['name']?></strong></span>
											<?php endif; ?>
							</div>
							   
							<div> <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
												<a href="<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'bookingView')); ?>" class="details_info_name" style="color:<?=$colors[$booking_attendance['booking_status']['color']]?>;font-weight: bold;"><b><?php echo $this->escape($booking_attendance['booking_info']['booking_num']) ?></b></a>
											<?php else: ?>
												<span class="details_info_name"><strong><?php echo $this->escape($booking_attendance['booking_info']['booking_num']) ?></strong></span>
											<?php endif; ?>
							</div>
						   </div>
						   <div width="5%" style="float:left; padding-lefr:2px; display:inline;" valign="middle" >        
								  <a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
								  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
								  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
								  </a>
							</div>
						</td>
						<td width="40%" align="right">
						<?php if($booking_attendance['is_confirmed'] == 0)
						    {?>
							 <?php if (CheckAuth::checkCredential(array('bookingReminderAdd')))
							     { ?>	   
							          <button type="button" class="btn btn-success btn-sm Customer-confirm-button" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');"> CONFIRM </button>
							 <?php } ?> 
								  
					  <?php } else {
						  ?>
						  <table style="font-size:10px;">
						  <tr>
						  <td align="right" style="white-space: nowrap; padding-right:3px;" >
								  <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
							<?php
								if($booking_attendance['last_reminder_date'] != null)
								{
									echo date("F jS",$booking_attendance['last_reminder_date']['created']);
								}
								else echo'  ' ;
								?>
									 </a>
							</td>		  
						    <td rowspan="2" width="1%" style="white-space: nowrap;">
								   <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
												  <span class="fa-stack fa-lg">
												  <i class="fa fa-circle fa-stack-2x " style="color:#0CB225;"></i>
												  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse "></i>
												</span>
												</a>
						    </td>
						   </tr> 
						   
						   <tr>
						   <td align="right" style="white-space: nowrap; padding-right:3px;" >
						   <?php if($booking_attendance['is_confirmed'] == 1)
						    {
								?>
						     <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
							    <?php
									if($booking_attendance['last_reminder_date'] != null)
									{
										echo date("H:i A",$booking_attendance['last_reminder_date']['created']);
									}
									else echo'  ' ;
								?>
							 </a>
							<?php } ?> 
						   </td>
						   </tr>
							
						</table>
					     <?php } ?>
						</td>
						
						</tr>
					
						</table>
						</td>
						</tr>
						
						<tr>
						<td colspan="5" style="padding:5px;">
						   
						 <table>
							<?php
								$check_status_string=''; 
								$checkstring=''; // check in or out details
								if(isset($booking_attendance['last_check']) && $booking_attendance['last_check']!=null) {
									
								if (!($booking_attendance['last_check']['check_out_time'] == '0000-00-00 00:00:00') && isset($booking_attendance['last_check']['check_out_time']))
								{
								 $check_status_string="AWAY FROM SITE";
								 $currentlat=$booking_attendance['last_check']['check_out_lat'];
								 $currentlng=$booking_attendance['last_check']['check_out_lon'];
								}
								else {
										if ($booking_attendance['last_check']['check_in_distance'] > 500) {
											$distance = $booking_attendance['last_check']['check_in_distance'] / 1000;
											$check_status_string="ON THE WAY";
											$checkstring = '  (' . number_format($distance, 2) . 'KM Away)';
											$currentlat=$booking_attendance['last_check']['check_in_lat'];
											$currentlng=$booking_attendance['last_check']['check_in_lon'];
											
										} else if ($booking_attendance['last_check']['check_in_distance'] <= 500) {
											$check_status_string="ON THE SITE";
											 $checkstring = "Checked in ".$this->escape(getDateFormating($booking_attendance['last_check']['check_in_time']));
											 $currentlat=$booking_attendance['last_check']['check_in_lat'];
											$currentlng=$booking_attendance['last_check']['check_in_lon'];
										}
								}
							}
										?>
										
							<tr>
							<td rowspan="2" width="2%">
							<?php 
							if ($check_status_string == 'AWAY FROM SITE')
							{
							?>
							<span class="fa-stack fa-lg IconSize">
								  <i class="fa fa-circle fa-stack-2x " style="color:<?=$colors[$booking_attendance['booking_status']['color']]?>;"></i>
								  <i class="fa fa-pause fa-stack-1x fa-inverse"></i>
								</span>
							<?php
							}
							else if ($check_status_string == 'ON THE WAY')
							{
							?>
							<span class="fa-stack fa-lg IconSize">
								  <i class="fa fa-circle fa-stack-2x " style="color:<?=$colors[$booking_attendance['booking_status']['color']]?>;"></i>
								  <i class="fa fa-car fa-stack-1x fa-inverse" ></i>
								</span>
							<?php
							}  
							else if ($check_status_string == 'ON THE SITE')
							{
							?>
							<span class="fa-stack fa-lg IconSize">
								  <i class="fa fa-circle fa-stack-2x " style="color:<?=$colors[$booking_attendance['booking_status']['color']]?>;"></i>
								  <i class="fa fa-play fa-stack-1x fa-inverse" ></i>
								</span>
							<?php
							}
							else echo ' ';
							?>
							
							</td>
							<td width="98%" align="right" style="color:<?=$colors[$booking_attendance['booking_status']['color']]?>; font-weight:bold; text-align:left;"class="FontSize">  
									 
							   &nbsp<?=$check_status_string?>
							   </td>
							</tr>
							
							<tr>
							<td width="98%" align="right" style="color:<?=$colors[$booking_attendance['booking_status']['color']]?>; text-align:left;" class="FontSize">  &nbsp
							<?php 
							 //get the last checkout
							 $mostRecentcheckOut= 0;
							if(isset($booking_attendance['last_check']) && $booking_attendance['last_check']!=null) {
								if (!($booking_attendance['last_check']['check_out_time'] == '0000-00-00 00:00:00') && isset($booking_attendance['last_check']['check_out_time']))
								{
									
								 echo "Left job site at : ".$this->escape(getDateFormating($booking_attendance['last_check']['check_out_time']));
								}
								else {
								echo $checkstring;}
							}
							?>
							</td>
							</tr>
							
							</table>
						   
						</td>
						</tr>
						<tr>
						<td colspan="5" style="padding:5px;">
						    <table>
								<tr>
								<td valign="top" width="1%">
								<a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
								  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
								  <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
								</a>
								 </td>
								 <td style="padding-left:3px;">
								 <?=date("D F j, Y,",strtotime($booking_attendance['booking_info']['booking_start']))?> <?= date("H:i A",strtotime($booking_attendance['booking_info']['booking_start']))?> - <?= date("H:i A",strtotime($booking_attendance['booking_info']['booking_end']))?>
								 <?php
									if (!empty($booking_attendance['multiple_days'])) {
														foreach ($booking_attendance['multiple_days'] as $day) {
															?>
															</br>
															 <?=date("D F j, Y,",strtotime($day['booking_start']))?> <?= date("H:i A",strtotime($day['booking_start']))?> - <?= date("H:i A",strtotime($day['booking_end']))?>
															<?php
														}
													}
									  ?>
								
								 </td>
								 </tr>
							</table>
						</td>
						</tr>
						<tr>
						<td style="padding:5px; padding-left:30px;">
						
						         <table border="0" style="padding-top:10px;">
																		<tbody>
									<?php 
									
									foreach ($booking_attendance['contractor_services'] as $key => $service){
									
									if($service['is_accepted']){
											$glyconColor="#0CB225";
										}
										else if($service['is_rejected']){
											$glyconColor="#EC1302";
										}
										else{
											$glyconColor="#6919B2";
										}
										
									?>

																					<tr>
																						<td style="padding:2px; padding-left:5px;"class="FontSize" >

																						   

											<?php if ($service['is_accepted']): ?>
												<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
													?>
																										<a href="#" data-toggle="modal" data-target="#popupi"
																										   onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $booking_attendance['booking_id']), 'rejectAdminServices')); ?>');"
																										   class="" style="color:#858585;"><i class="fa fa-check-circle" aria-hidden="true" style="color:<?=$glyconColor?>; font-size:14px;"></i>  <?=$service['service_name']?>
																										</a>
																									<?php else: ?>
																									   <i class="fa fa-check-circle" aria-hidden="true" style="font-size:14px;"></i>  <?=$service['service_name']?>
												<?php endif; ?>

											<?php elseif ($service['is_rejected']): ?>
												<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
																										<a href="#" data-toggle="modal" data-target="#popupi"
																										   onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $booking_attendance['booking_id']), 'acceptAdminServices')); ?>');"
																										   class="details_info_opt" style="color:#858585;">
																										   <i class="fa fa-times-circle" aria-hidden="true" style="color:<?=$glyconColor?>; font-size:14px;"></i> <?=$service['service_name']?> 
																										   </a>
																										 <?php else: ?>
																										<i class="fa fa-times-circle" aria-hidden="true" style="color:<?=$glyconColor?>; font-size:14px;"></i>  <?=$service['service_name']?> 
												<?php endif; ?>
											<?php else: ?>
												<?php if (CheckAuth::checkCredential(array('canAcceptAdminServices'))): ?>
																										<a href="#" data-toggle="modal" data-target="#popupi"
																										   onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $booking_attendance['booking_id']), 'acceptAdminServices')); ?>');"
																										   class="details_info_opt" style="color:#858585;">
																										   <i class="fa fa-question-circle" aria-hidden="true" style="color:<?=$glyconColor?>; font-size:14px;"></i>  <?=$service['service_name']?> 
													
																										</a>
																										 <?php else: ?>
																										<i class="fa fa-question-circle" aria-hidden="true" style="color:<?=$glyconColor?>; font-size:14px;"></i>  <?=$service['service_name']?> 
													
												<?php endif; ?>
											<?php endif; ?>

																						</td>


																					</tr>
																	
												  <?php } ?>
																		</tbody>

                                            </table>
						
						</td>
						</tr>
						
						<tr>
						<td colspan="5" style="padding:5px;">
						    <table>
								<tr>
								<td valign="top" width="1%">
								<a href="<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'paymentEwayAdd')); ?>">
									<span class="fa-stack fa-lg IconSize">
										  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
										  <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
										</span></a>
								 </td>
								 <td style="padding-left:3px;">
								 $<?=$booking_attendance['booking_info']['qoute']?> inc GST
								 </td>
								 </tr>
							</table>
						</td>
						</tr>

					</table>
	<!---- Draw Customer Box ------>				
						  <div class="customerBox" style="box-shadow: 2px 2px 5px #d9dade; padding:5px;">
							
								<table width="100%" style="margin-top:5px;">
									 <tr>
									 <td colspan="2">
									 	<span class="FontSize" style="font-weight:bold; padding-left:5px; font-size:10px;">
									  <?php 
									  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
									  <a href="<?php echo $this->url(array('id' => $booking_attendance['customer']['customer_id']), 'customerView'); ?>" class="a_link_black" style="color:#0CB225;"><span class="glyphicon glyphicon-user" style="color:#0CB225;"></span></a> 
									  <?php } 
									  else { ?>
										<span class="glyphicon glyphicon-user" style="color:#0CB225;"></span>
									  <?php  }?>			  
									  <?php
									  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
									  <a href="<?php echo $this->url(array('id' => $booking_attendance['customer']['customer_id']), 'customerView'); ?>" class="a_link_black FontSize" style="color:#0CB225;"><?=$booking_attendance['customer_name']?></a> 
									  <?php } 
									  else { echo $booking_attendance['customer_name']; }  ?> 
									  </span>
									  
									 </td>
									 </tr>
							
									 
									 <tr>
									  <td align="left" style="padding-left:5px;" width="45%">
									  <?php if($booking_attendance['is_confirmed'] == 0)
						    { ?>
							 <?php if (CheckAuth::checkCredential(array('bookingReminderAdd')))
							     { ?>	   
							          <button type="button" class="btn btn-success btn-sm Customer-confirm-button" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');"> CONFIRM </button>
							 <?php } ?> 
								  
					  <?php } else {
						  ?>
						  <div style="float:left; display:inline; font-size:10px; margin-left:5px;" valign="middle" >
							<div>
							<a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
							<?php
								if($booking_attendance['last_reminder_date'] != null)
								{
									echo date("F jS",$booking_attendance['last_reminder_date']['created']);
								}
								else echo'  ' ;
								?>
									 </a>
							</div>
							   
							<div> <?php if($booking_attendance['is_confirmed'] == 1)
						    {
								?>
						     <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
							    <?php
									if($booking_attendance['last_reminder_date'] != null)
									{
										echo date("H:i A",$booking_attendance['last_reminder_date']['created']);
									}
									else echo'  ' ;
								?>
							 </a>
							<?php } ?> 
							</div>
						   </div>
						   <div width="5%" style="float:left; padding-left:2px; display:inline; font-size:10px;" valign="middle" >        
								  <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
												  <span class="fa-stack fa-lg">
												  <i class="fa fa-circle fa-stack-2x " style="color:#0CB225;"></i>
												  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse "></i>
												</span>
												</a>
							</div>
					     <?php } ?>
									 </td>
									 <td align="right" style="padding-right:5px;" width="55%">
									 
									  <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
									  <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
									  <span class="fa-stack fa-lg IconSize">
										  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
										  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
										</span>
									  
															<ul class="dropdown-menu" style="color: #000000; z-index:3">

															<?php  if (CheckAuth::checkCredential(array('sendEmail'))){ ?>
																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' =>$booking_attendance['customer']['customer_id'], 'type' => 'booking', 'reference_id' => $booking_attendance['booking_id']), 'sendEmail')); ?>');">Send Email</a>
																</li>
															<?php  }
															
															$onHold = $modelBookingStatus->getByStatusName('ON HOLD');
															if ($booking_attendance['booking_info']['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential(array(
																		'sendBookingAsEmail'))) {
																?>

																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder On Hold</a>
																</li>

																		<?php }
															$tentative = $modelBookingStatus->getByStatusName('TENTATIVE');
															if ($booking_attendance['booking_info']['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential(array(
																		'sendBookingAsEmail'))) {
																?>

																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder Tentative</a>
																</li>

																		<?php }
																		
																		if (CheckAuth::checkCredential(array('sendBookingAsEmail'))){ ?>
																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'sendBookingAsEmail')); ?>');">Email Booking</a>
																</li>
																		<?php }

																		if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))){ 
																		
																		$customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($booking_attendance['booking_id'], $booking_attendance['booking_info']['status_id']); 
																		if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1){ ?>
																	<li >   
																		<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Request Feedback','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'sendRequestBookingFeedback')) ?>');" class="details_info_opt" >Request Feedback</a>
																	</li>
																		<?php } } ?>
																		
																		<?php 
																		if(isset($booking_attendance['booking']['original_inquiry_id']) && $booking_attendance['booking']['original_inquiry_id']!=null){
																		if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
																			<li>
																		 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Advertising Email','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Inquiry</a>
																		 </li>
																		<?php    }}
																		 
																		if (isset($booking_attendance['estimate']['id']) && $booking_attendance['estimate']['id']!=null) {
																			if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
																			<li class="email">
																				<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $booking_attendance['estimate']['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
																			</li>
																		<?php } }?>
																	
																	<?php 
																	if (isset($booking_attendance['invoice']['id']) && $booking_attendance['invoice']['id']!=null) {
																	if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){  ?>
																				<li>
																				<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $booking_attendance['invoice']['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
																				</li>
																	<?php }
																	}?>
																	
																	<?php 
																	if (isset($booking_attendance['invoice']['id']) && $booking_attendance['invoice']['id']!=null) {
																	if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
																					<li>
																					<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Statement Email','<?php echo $this->url(array('id' => $booking_attendance['invoice']['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
																					</li>
																	<?php }}?>
																			
																		

														</ul>
									  </a>
									  </div>
									  <div class="btn-group" style=" display:inline;border-radius:100%;">
									  <a data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id'],'process'=>'send','type'=>'booking'), 'itemDiscussion')); ?>');">
									   <span class="fa-stack fa-lg IconSize">
										  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
										  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
										</span>
									   </a>
									   </div>
									   <div class="btn-group" style=" display:inline;border-radius:100%;">
									   <a href="JavaScript:void(0)" data-toggle="modal" data-target="#myModal_<?=$booking_attendance['booking_id']?>_<?=$booking_attendance['customer']['customer_id']?>">
			                             <span class="fa-stack fa-lg IconSize">
										  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
										  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
										</span>
									  </a>
									  </div>
									  
									  <div class="modal fade" id="myModal_<?=$booking_attendance['booking_id']?>_<?=$booking_attendance['customer']['customer_id']?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin: auto;max-width:620px;">
				  <div class="modal-dialog" role="document" style="max-width:650px;">
					<div class="modal-content">
					  <div class="modal-body" align="left">
					  <div class="" style="padding:0px; margin:0px;">
						<table class="table table-hover" v-align="middle" style="text-align:center; vertical-align:middle; font-size:16px;">
			   
						  <tr class="info" style="font-weight:bold;">
							  <td  style="vertical-align:middle; font-size:12px;" colspan="2"><?php echo $booking_attendance['customer_name'];	?></td>
						  </tr>
						   <tr style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Mobile 1:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$booking_attendance['customer']['mobile1']?>'><?=$booking_attendance['customer']['mobile1']?></a></td>
						  </tr>
						  <?php if($booking_attendance['customer']['mobile2']){ ?>
						   <tr style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Mobile 2:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$booking_attendance['customer']['mobile2']?>'><?=$booking_attendance['customer']['mobile2']?></a></td>
						  </tr>
						 <?php } ?>
						 <?php if($booking_attendance['customer']['mobile3']){ ?>
						   <tr  style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Mobile 3:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$booking_attendance['customer']['mobile3']?>'><?=$booking_attendance['customer']['mobile3']?></a></td>
						  </tr>
						 <?php } ?>
						  <?php if($booking_attendance['customer']['phone1']){ ?>
						  <tr  style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Phone 1:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$booking_attendance['customer']['phone1']?>'><?=$booking_attendance['customer']['phone1']?></a></td>
						  </tr>
						  <?php } ?>
			              <?php if($booking_attendance['customer']['phone2']){ ?>
						   <tr style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Phone 2:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$booking_attendance['customer']['phone2']?>'><?=$booking_attendance['customer']['phone2']?></a></td>
						  </tr>
						 <?php } ?>
						 <?php if($booking_attendance['customer']['phone3']){ ?>
						   <tr  style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Phone 3:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$booking_attendance['customer']['phone3']?>'><?=$booking_attendance['customer']['phone3']?></a></td>
						  </tr>
						 <?php } ?>
					    </table> 
						
					  </div>
					</div>
				  </div>
				</div>
						</div>			  
									  
									  </td>
									  </tr>
									  </table>
									  </div>
									  
			      <?php
						 if(!empty($booking_attendance['customer_contact_list']))
			               {
				             foreach($booking_attendance['customer_contact_list'] as $secondaryContact) 
							 {
								 
								?>
                                         <div class="customerBox"  style=" box-shadow: 2px 2px 5px #d9dade; ">
							
								<table width="100%" style="">
									 <tr>
									 <td colspan="2">
									 	<span class="FontSize" style="font-weight:bold; padding-left:5px; font-size:10px; vertical-align:middle;">
									  <?php
									  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
									  <a href="<?php echo $this->url(array('id' => $secondaryContact['customer_id']), 'customerView'); ?>" class="a_link_black" style="color:#0CB225;"><span class="glyphicon glyphicon-user" style="color:#0CB225;"></span></a> 
									  <?php } 
									  else { ?>
										<span class="glyphicon glyphicon-user" style="color:#0CB225;"></span>
									  <?php  }?>			  
									  <?php
									  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
									  <a href="<?php echo $this->url(array('id' => $secondaryContact['customer_id']), 'customerView'); ?>" class="a_link_black FontSize" style="color:#0CB225;"><?=$secondaryContact['first_name'].' '.$secondaryContact['last_name']?></a> 
									  <?php } 
									  else { echo $secondaryContact['first_name'].' '.$secondaryContact['last_name']; } ?> 
									  </span>
									  
									 </td>
									 </tr>
							
									 
									 <tr>
									  <td align="left" style="padding-left:5px; vertical-align:middle" width="45%">
									  <?php 
									  $customerContactReminderArray= $modelBookingReminder->getByBookingIdAndCustomerContact($booking_attendance['booking_id'],$secondaryContact['id']);
										  $lastReminderDateForCustomerContact = $modelBookingReminder->getLastConfirmationByBookingIdAndCustomerContactId($booking_attendance['booking_id'],$secondaryContact['id']); 
										   $isCustomerContactConfirmed=0;
										   if(count($customerContactReminderArray)>=1)
										  {
											 $isCustomerContactConfirmed = 1; 
										  }
										  else $isCustomerContactConfirmed = 0;
									  
									  if($isCustomerContactConfirmed == 0)
						    {?>
							 <?php if (CheckAuth::checkCredential(array('bookingReminderAdd')))
							     { ?>	   
							          <button type="button" class="btn btn-success btn-sm Customer-confirm-button" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id'],'customer_contact_id' => $secondaryContact['id']), 'bookingReminderAdd_CustomerContact')); ?>');"> CONFIRM </button>
							 <?php } ?> 
								  
					  <?php } else {
						  ?>
						  <div style="float:left; display:inline; font-size:10px; margin-left:5px;" valign="middle" >
							<div>
								 <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id'],'customer_contact_id' => $secondaryContact['id']), 'bookingReminderAdd_CustomerContact')); ?>');" style="color:#0CB225;">
							<?php
								if($lastReminderDateForCustomerContact != null)
								{
									echo date("F jS",$lastReminderDateForCustomerContact['created']);
								}
								else echo'  ' ;
								?>
									 </a>
							</div>
							   
							<div>  <?php if($isCustomerContactConfirmed == 1)
						    {
								?>
						     <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id'],'customer_contact_id' => $secondaryContact['id']), 'bookingReminderAdd_CustomerContact')); ?>');" style="color:#0CB225;">
							    <?php
									if($booking_attendance['last_reminder_date'] != null)
									{
										echo date("H:i A",$lastReminderDateForCustomerContact['created']);
									}
									else echo'  ' ;
								?>
							 </a>
							<?php } ?> 
							</div>
						   </div>
						   <div width="5%" style="float:left; padding-left:2px; display:inline; font-size:10px;" valign="middle" >        
								  <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $booking_attendance['booking_id'],'customer_contact_id' => $secondaryContact['id']), 'bookingReminderAdd_CustomerContact')); ?>');" style="color:#0CB225;">
												  <span class="fa-stack fa-lg IconSize">
												  <i class="fa fa-circle fa-stack-2x " style="color:#0CB225;"></i>
												  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse "></i>
												</span>
												</a>
							</div>
					     <?php } ?>
									 </td>
									 <td align="right" style="padding-right:5px;" width="55%">
									 
									  <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
									  <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
									  <span class="fa-stack fa-lg IconSize">
										  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
										  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
										</span>
									  
															<ul class="dropdown-menu" style="color: #000000; z-index:3">

															<?php if (CheckAuth::checkCredential(array('sendEmail'))){ ?>
																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' =>$secondaryContact['customer_id'], 'type' => 'booking', 'reference_id' => $booking_attendance['booking_id']), 'sendEmail')); ?>');">Send Email</a>
																</li>
															<?php }
															
															$onHold = $modelBookingStatus->getByStatusName('ON HOLD');
															if ($booking_attendance['booking_info']['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential(array(
																		'sendBookingAsEmail'))) {
																?>

																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder On Hold</a>
																</li>

																		<?php }
															$tentative = $modelBookingStatus->getByStatusName('TENTATIVE');
															if ($booking_attendance['booking_info']['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential(array(
																		'sendBookingAsEmail'))) {
																?>

																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder Tentative</a>
																</li>

																		<?php }
																		
																		if (CheckAuth::checkCredential(array('sendBookingAsEmail'))){ ?>
																<li >
																	<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'sendBookingAsEmail')); ?>');">Email Booking</a>
																</li>
																		<?php }

																		if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))){ 
																		
																		$customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($booking_attendance['booking_id'], $booking_attendance['booking']['status_id']); 
																		if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1){ ?>
																	<li >   
																		<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Request Feedback','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id']), 'sendRequestBookingFeedback')) ?>');" class="details_info_opt" >Request Feedback</a>
																	</li>
																		<?php } } ?>
																		
																		<?php 
																		if(isset($booking_attendance['booking']['original_inquiry_id']) && $booking_attendance['booking']['original_inquiry_id']!=null){
																		if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
																			<li>
																		 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Advertising Email','<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Inquiry</a>
																		 </li>
																		<?php    }}
																		 
																		if (isset($booking_attendance['estimate']['id']) && $booking_attendance['estimate']['id']!=null) {
																			if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
																			<li class="email">
																				<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $booking_attendance['estimate']['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
																			</li>
																		<?php } }?>
																	
																	<?php 
																	if (isset($booking_attendance['invoice']['id']) && $booking_attendance['invoice']['id']!=null) {
																	if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){  ?>
																				<li>
																				<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $booking_attendance['invoice']['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
																				</li>
																	<?php }
																	}?>
																	
																	<?php 
																	if (isset($booking_attendance['invoice']['id']) && $booking_attendance['invoice']['id']!=null) {
																	if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
																					<li>
																					<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Statement Email','<?php echo $this->url(array('id' => $booking_attendance['invoice']['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
																					</li>
																	<?php }}?>
																			
																		

														</ul>
									  </a>
									  </div>
									  <div class="btn-group" style=" display:inline;border-radius:100%;">
									  <a data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('id' => $booking_attendance['booking_id'],'process'=>'send','type'=>'booking'), 'itemDiscussion')); ?>');">
									   <span class="fa-stack fa-lg IconSize">
										  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
										  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
										</span>
									   </a>
									   </div>
									   <div class="btn-group" style=" display:inline;border-radius:100%;">
									  <a href="JavaScript:void(0)" data-toggle="modal" data-target="#secondaryModal_<?=$booking_attendance['booking_id']?>_<?=$secondaryContact['customer_id']?>">
									  <span class="fa-stack fa-lg IconSize">
										  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
										  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
										</span>
									  </a>
									  </div>
									  
									  	<div class="modal fade" id="secondaryModal_<?=$booking_attendance['booking_id']?>_<?=$secondaryContact['customer_id']?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin: auto;max-width:670px;">
										  <div class="modal-dialog" role="document" style="max-width:650px;">
											<div class="modal-content">
											  <div class="modal-body" align="left">
											  <div class="" style="padding:0px; margin:0px;">
												<table class="table table-hover" v-align="middle" style="text-align:center; vertical-align:middle; font-size:16px;">
									   
												  <tr class="info" style="font-weight:bold;">
													  <td  style="vertical-align:middle; " colspan="2"><?php echo $secondaryContact['first_name'].' '.$secondaryContact['last_name'];	?></td>
												  </tr>
												   <tr style="font-weight:bold;">
													  <td  style="vertical-align:middle;">Mobile 1:</td>
													  <td  style="vertical-align:middle;"><a href='tel:<?=$secondaryContact['mobile1']?>'><?=$secondaryContact['mobile1']?></a></td>
												  </tr>
												  <?php if($secondaryContact['mobile2']){ ?>
												   <tr style="font-weight:bold;">
													  <td  style="vertical-align:middle;">Mobile 2:</td>
													  <td  style="vertical-align:middle;"><a href='tel:<?=$secondaryContact['mobile2']?>'><?=$secondaryContact['mobile2']?></a></td>
												  </tr>
												 <?php } ?>
												 <?php if($secondaryContact['mobile3']){ ?>
												   <tr  style="font-weight:bold;">
													  <td  style="vertical-align:middle;">Mobile 3:</td>
													  <td  style="vertical-align:middle;"><a href='tel:<?=$secondaryContact['mobile3']?>'><?=$secondaryContact['mobile3']?></a></td>
												  </tr>
												 <?php } ?>
												  <?php if($secondaryContact['phone1']){ ?>
												  <tr  style="font-weight:bold;">
													  <td  style="vertical-align:middle;">Phone 1:</td>
													  <td  style="vertical-align:middle;"><a href='tel:<?=$secondaryContact['phone1']?>'><?=$secondaryContact['phone1']?></a></td>
												  </tr>
												  <?php } ?>
												  <?php if($secondaryContact['phone2']){ ?>
												   <tr style="font-weight:bold;">
													  <td  style="vertical-align:middle;">Phone 2:</td>
													  <td  style="vertical-align:middle;"><a href='tel:<?=$secondaryContact['phone2']?>'><?=$secondaryContact['phone2']?></a></td>
												  </tr>
												 <?php } ?>
												 <?php if($secondaryContact['phone3']){ ?>
												   <tr  style="font-weight:bold;">
													  <td  style="vertical-align:middle;">Phone 3:</td>
													  <td  style="vertical-align:middle;"><a href='tel:<?=$secondaryContact['phone3']?>'><?=$secondaryContact['phone3']?></a></td>
												  </tr>
												 <?php } ?>
												</table> 
												
											  </div>
											</div>
										  </div>
										</div>
									  </div>
									  
									  </td>
									  </tr>
									  </table>
									  </div>
									  
                                <?php								
							 }
							 
						   }
					
			  ?>
			  <!--------------- Map box ------------------------>
			  <div style="border-radius: 5px; margin:0px; padding:5px; position: relative;">
			<div align="left" style="float:left; left: 0; border-radius: 5px; z-index: 1;  background-color:#ffffff; position: absolute; top:0px; height:20px; vertical-align: middle; margin-top:10px; margin-left:10px; padding:3px;" class="FontSize">
			&nbsp <span class="glyphicon glyphicon-map-marker"></span> &nbsp <?=$booking_attendance['booking_line_address']?> &nbsp 
			</div>
			<div id="map_<?=$booking_attendance['booking_id']?>_<?=$contractor_id?>" style="border-radius:5px; width:100%; height:155px;"></div>
			
			</div>
			<div id="mapLat_<?=$booking_attendance['booking_id']?>_<?=$contractor_id?>" value="<?=$currentlat?>"></div>
			<div id="mapLng_<?=$booking_attendance['booking_id']?>_<?=$contractor_id?>" value="<?=$currentlng?>"></div>
			<div id="bookinglat_<?=$booking_attendance['booking_id']?>_<?=$contractor_id?>" value="<?=$booking_attendance['bookingAddress']['lat']?>"></div>
			<div id="bookinglon_<?=$booking_attendance['booking_id']?>_<?=$contractor_id?>" value="<?=$booking_attendance['bookingAddress']['lon']?>"></div>
			  <!--------------- End Map box ------------------->
				  </div>
				  
				   <!--------------- END Hidden booking Details box------------------>
		     
			 
           
			<?php  } ?>   
    <?php } 
	
	////////////////// END ///////////////////////////////
	?>
         </div>    
</div>



<script>

function draw_map(booking_id, contractor_id) { 

				  bookinglat = parseFloat($('#bookinglat_'+booking_id+'_'+contractor_id).attr('value'));
				  bookinglon = parseFloat($('#bookinglon_'+booking_id+'_'+contractor_id).attr('value'));
				  latitude=parseFloat($('#mapLat_'+booking_id+'_'+contractor_id).attr('value'));
				  lngtitude=parseFloat($('#mapLng_'+booking_id+'_'+contractor_id).attr('value'));
				  console.log(bookinglat);
				  /*avatar = $('#userAvatar_'+booking_id).attr('value');
				  baseurl='';
				  if(avatar != null ){
				  baseurl = '/uploads/user_pic/thumb_medium/'+avatar;
				  }
				  else {baseurl = '/pic/contractor_pic1.png';}*/
				  
				// create the maps
				myOptions= {
					zoom: 12,
					center: new google.maps.LatLng(bookinglat, bookinglon),
					zoomControl: true,
					draggable: false,
				    zoomControlOptions: {
					  position: google.maps.ControlPosition.LEFT_CENTER
				       },
					mapTypeId: google.maps.MapTypeId.MyMapApp
				}
				map = new google.maps.Map(document.getElementById("map_"+booking_id+'_'+contractor_id), myOptions);
				var marker1 = new google.maps.Marker({
					  // The below line is equivalent to writing:
					  // position: new google.maps.LatLng(-34.397, 150.644)
					  position: {lat: bookinglat, lng: bookinglon},
					  map: map
					});
					if( latitude!=0 && lngtitude!=0){
				var marker2 = new google.maps.Marker({
					  position: {lat: latitude, lng: lngtitude},
					  map: map
					});
					// draw path between two markers
					var BathCoordinates = [
						  {lat: bookinglat, lng: bookinglon},
						  {lat: latitude, lng: lngtitude}
						];
						var RoadPath = new google.maps.Polyline({
						  path: BathCoordinates,
						  geodesic: true,
						  strokeColor: '#FF0000',
						  strokeOpacity: 1.0,
						  strokeWeight: 2
						});

						RoadPath.setMap(map);
						
						
					}
					
}

</script>



