<!-- booking attendance-->
<?php 
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
// lighter colors of the above array
$backgroundcolors = array(
    '0' => '#F3F3F3',
    '1' => '#FFE6E6',
    '2' => '#FFC2D6',
    '3' => '#FFCBFF',
    '4' => '#D4BEFF',
    '5' => '#C1E0FF',
    '6' => '#CEDEFF',
    '7' => '#D3FFF9',
    '8' => '#C0FFDF',
    '9' => '#B5FFB9',
    '10' => '#E8FFC6',
    '11' => '#FFFFBC',
    '12' => '#FFF5C9',
    '13' => '#FFEFDA',
    '14' => '#FFD8C4',
    '15' => '#FFE1E1',
    '16' => '#FFDDFF',
    '17' => '#C6E2FF',
    '18' => '#D3E2FF',
    '19' => '#DCFFFB',
    '20' => '#FFFFCF',
    '21' => '#FFEDD6',
    '-1' => '#FFDAFF'
);



?>


<style>
table {border: none;}
#button:active {
    background-color: #FFFFFF !important;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}
.tech {
	 border-radius: 7px;
  background: #EBFFF4;
  border-style: solid;
  border-color:#0CB225;
    border-width:1px;
    
	padding:2px;
}

@media only screen and (min-width: 1025px)
{
	.IconSize
	{
		font-size:12px;
	}
	.statusBorder
{
	
	margin-bottom:5px;/*10px;*/
	box-shadow: 0px 1px 1px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-width:0px;
  border-left-style: solid;
    border-left-width:1px;
    padding:1px;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}

   .minDivHeight 
   {
	min-height:170px;
   }
   .ShowEditIcon
	{
		display:inline;
	}
	.ChangeEditPosition
	{
		display:none;
	}
	.ShowButtonIcon
	{
		display:inline;
	}
	.ButtonMargins
	{
		margin:10px;
	}
	.BookingBoxHeight
	{
		padding-bottom:0px;
	}
	.Customer-confirm-button
	{
		background:#0CB225;
		padding:2px; 
		font-size:8px;
	}
}
@media only screen and (min-width: 850px) and (max-width: 1024.9px) 
{
	.statusBorder
{
	
	margin-bottom:5px;/*10px;*/
	box-shadow: 0px 1px 1px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-width:0px;
  border-left-style: solid;
    border-left-width:1px;
    padding:1px;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}
	.FontSize 
	  {
		  font-size:8px;
	  }
  .IconSize
	{
		font-size:10px;
	}
	
   .minDivHeight 
   {
	min-height:170px;
   }
   .ShowEditIcon
	{
		display:inline;
	}
	.ChangeEditPosition
	{
		display:none;
	}
	.ShowButtonIcon
	{
		display:none;
	}
	.ButtonMargins
	{
		margin:0px;
	}
	.BookingBoxHeight
	{
		padding-bottom:0px;
	}
	.Customer-confirm-button
	{
		background:#0CB225;
		padding:2px; 
		font-size:8px;
	}
}
@media only screen and (max-width: 849.5px) and (min-width: 768px) {
		.statusBorder
{
	
	margin-bottom:5px;/*10px;*/
	box-shadow: 0px 1px 1px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-width:0px;
  border-left-style: solid;
    border-left-width:1px;
    padding:1px;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}
	.FontSize 
	  {
		  font-size:7px;
	  }
  .IconSize
	{
		font-size:8px;
	}
	
   .minDivHeight 
   {
	min-height:170px;
   }
   .ShowEditIcon
	{
		display:inline;
	}
	.ChangeEditPosition
	{
		display:none;
	}
	.ShowButtonIcon
	{
		display:none;
	}
	.ButtonMargins
	{
		margin:0px;
	}
	.BookingBoxHeight
	{
		padding-bottom:0px; margin-bottom:0px;
	}
	.Customer-confirm-button
	{
		background:#0CB225;
		padding:1px; 
		font-size:7px;
	}
}
	


@media only screen and (max-width: 767px) {
		.statusBorder
{
	margin:0px;
	padding:3px;
	margin-bottom:5px;/*10px;*/
	box-shadow: 0px 0px 0px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-width:0px;
  border-top-style: solid;
    /*padding:1px;*/
	border-top-color: #0CB225;
	border-top-width: 5px;
	
}
	.ShowEditIcon
	{
		display:none;
	}
	
	.ChangeEditPosition
	{
		display:inline;
	}
	.FontSize 
  {
	  font-size:13px;
  }
	.minDivHeight {
		min-height:140px;
	}
	.changeBG{
		
		color: #EC2319;
	}
    .IconSize
	{
		font-size:14px;
	}
	
	.ShowButtonIcon
	{
		display:inline;
	}
	.ButtonMargins
	{
		margin:10px;
	}
	
	.BookingBoxHeight
	{
		padding-bottom:0px;
	}
	
	.Customer-confirm-button
	{
		background:#0CB225;
		padding:2px; 
		font-size:8px;
	}
	
}
	


</style>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ container: 'body' });
	
	/*$('.showConfirmMsg').popover({
    html: true,
    content: function() {
		id= this.id;
      return $('#confirmMsg_'+id).html();
    
})*/
});
</script>
<div id="booking-responsive-table" style="margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;">
<div style="font-size:11px; margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;" id="result" value="hhhh" >
<?php

	if (isset($this->data) && !empty($this->data)) { 
	$ArrayofData = $this->data;
	?>
	<textarea type="hidden" style="display:none;" name="DataArray" id="DataArray" value="<?=json_encode($ArrayofData)?>"></textarea>
	<input type="hidden" name="testdata" id="testdata" value="1" />
	<?php
    $userObj = new Model_User();
    if (isset($this->data) && !empty($this->data)){
         foreach ($this->data as $row) { 
///////////////// ADDED BY RAND /////////////////////////////////////
			$loggedUser = CheckAuth::getLoggedUser();
			$modelBookingStatus = new Model_BookingStatus();
			$modelBookingAddress = new Model_BookingAddress();
			$modelCustomerFeedback = new Model_CustomerFeedback();
			$status = $modelBookingStatus->getById($row['status_id']);
			$bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']);
			$modelBookingEstimate = new Model_BookingEstimate();
			$estimate = $modelBookingEstimate->getByBookingId($row['booking_id']);
					
			$modelBookingInvoice = new Model_BookingInvoice();
			$invoice = $modelBookingInvoice->getByBookingId($row['booking_id']);
					
			$modelBookingReminder= new Model_BookingReminder();
			$ReminderArray= $modelBookingReminder->getByBookingId($row['booking_id']);
			$lastReminderDate = $modelBookingReminder->getLastConfirmationByBookingId($row['booking_id']);
		    $bookinglat = $bookingAddress['lat'];
            $bookinglon = $bookingAddress['lon'];
			
			$modelContractorServiceBooking = new Model_ContractorServiceBooking();
			$BookingServicesList = $modelContractorServiceBooking->getByBookingId($row['booking_id']);
						
						
			$customerContact = new Model_CustomerContact();
			$customerContactList = $customerContact->getByCustomerId($row['customer']['customer_id']);
            $SecondaryContactsCount = count($customerContactList);
			$bookingBoxheight = 45;
			if($SecondaryContactsCount >=1)
			  {
				 $bookingBoxheight = ($bookingBoxheight*$SecondaryContactsCount) +50; 
			  }
			  else $bookingBoxheight = 45;
			
		// is the booking confirmed
		$isconfirmed = 0;
			  if(count($ReminderArray)>=1)
			  {
				 $isconfirmed = 1; 
			  }
			  else $isconfirmed = 0;
		// left border color
			$statusColor='border-left-color:'.$colors[$row['color']].';'.'border-top-color:'.$colors[$row['color']].';';
			$numberOfContractors = count($row['AllBookingContractors']);
			
			if ($numberOfContractors == 1)
			{
				$maindivWidth = "col-sm-3 col-md-3";
				$contractorDivWidth = "col-sm-4 col-md-4";
			}
			else {
				$maindivWidth = "col-sm-3 col-md-3";
				$contractorDivWidth = "col-sm-2 col-md-2";
				
			}
			
            ?>
			<div class="rowhight" id="<?=$row['booking_id']?>">
			<div class="row statusBorder " style="cell-spacing:2px; <?=$statusColor?> margin: 0; margin-bottom:10px; font-size:11px; vertical-align:middle; padding-bottom:0px;">
			
<!---- ---------------------main booking box --------------------------------------------------------------------->
			<div class="<?=$maindivWidth?> minDivHeight BookingBoxHeight" width="100%" style=" padding:2px;margin:0px; border:0px; border-width:0px;" id="MainBox_<?=$row['booking_id']?>"> 
			
			<div width="100%"  style="top:0px; bottom:0px; left:3px; right:0px; border:0px; border-width:0px; padding-bottom:<?=$bookingBoxheight+10?>px;">
		<table width="100%" style="top:0px; bottom:0px; border:0px; border-width:0px;" height="100%">
		<tr>
		<td colspan="10">
		<table width="100%">
			<tr height="20%">
			<td width="60%">
			<table width="100%">
			<tr>
			<td  style="color:<?=$colors[$row['color']]?>;font-weight: bold;"width="50%" height="10" class="FontSize">
			   <div width="5%" style="float:left; padding-right:2px;" valign="middle"  class="ShowEditIcon">
                            
					  <a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
					  
					  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
					  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
					  </a>
                </div>
				
				<div style="float:left; display:inline;" valign="middle" >
				<div>
				<?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
									<a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name" style="color:<?=$colors[$row['color']]?>;font-weight: bold;" class="FontSize"><b><?=$row['BookingStatus']?></b></a>
								<?php else: ?>
									<span class="details_info_name"><strong><?=$row['BookingStatus']?></strong></span>
								<?php endif; ?>
								</div>
				   
				<div> <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
									<a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name" style="color:<?=$colors[$row['color']]?>;font-weight: bold;" class="FontSize"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
								<?php else: ?>
									<span class="details_info_name"><strong><?php echo $this->escape($row['booking_num']) ?></strong></span>
								<?php endif; ?>
				</div>
			   </div>
			   
			   <div class="ChangeEditPosition" width="5%" style="float:left; padding-left:2px;" valign="middle" >
                            
                  <a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
				  
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
				  </a>
                </div>
				
			</td>
			
			</tr>
			<tr height="10%">
			
			<td valign="top" style="color:<?=$colors[$row['color']]?>; font-weight: bold;" class="FontSize">
			</td>
		
			
			</tr>
			
			</table>
			</td>
			<td width="40%" align="right">
			
			<!------ Actions Button --------->
  <div class="details_info_l actions-list IconSize">
                                        <?php
										
										$modelContractorServiceBooking = new Model_ContractorServiceBooking();
										$allServices = $modelContractorServiceBooking->getContractorServicesByBookingId($row['booking_id']);
										
										$notAcceptedOrRejected = 0;
										$notAccepted = 0;
											if ($allServices) {
												foreach ($allServices as $serviceCB) {
													if ((isset($serviceCB['is_accepted']) && $serviceCB['is_accepted'] == 0) && (isset($serviceCB['is_rejected']) && $serviceCB['is_rejected'] == 0)) {
														$notAcceptedOrRejected = 1;
													}
													if ((isset($serviceCB['is_accepted']) && $serviceCB['is_accepted'] == 0)) {
														$notAccepted = 1;
                    }
												}
											}
										$row['not_accepted'] = $notAccepted;	
										$row['not_accepted_or_rejected'] = $notAcceptedOrRejected;
										
										$modelBooking = new Model_Booking();
										$row['is_accepted'] = $modelBooking->checkBookingIfAccepted($row['booking_id']);
										
                                        $actions = array();

                                        if ($row['booking']['is_deleted']) {
                                            if (CheckAuth::checkCredential(array('bookingDeleteForever')) && $row['booking']['convert_status'] == "booking") {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDeleteForever'))}','Are you sure you want to delete this Booking Forever ?'";
                                                $actions[] = '<a href="#" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete Forever</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('bookingUndelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingUndelete'))}','Are you sure you want to UnDelete this Booking ?'";
                                                $actions[] = '<a href="#" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">UnDelete</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('bookingHistory'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingHistory')) . '" class="details_info_opt">Booking History</a>';
                                            }
                                        } else {
                                            if (CheckAuth::getRoleName() == 'contractor') {
                                                if ($row['not_accepted']) {
                                                    $popupConfig = "'Accept','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptServices'))}'";
                                                    $actions[] = '<a class="a_accept"  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Accept</a>';
                                                }

                                                if ($row['not_accepted_or_rejected']) {
                                                    $popupConfig = "'Reject','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectServices'))}'";
                                                    $actions[] = '<a class="a_reject"  data-toggle="modal" data-target="#popupi"   href="#"  onclick="popupi(' . $popupConfig . ');">Reject</a>';
                                                }
                                            }

                                            if (CheckAuth::checkCredential(array('bookingEdit')) && $row['is_accepted']) {
                                                $actions[] = '<a   href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '" ><i class="fa fa-pencil-square-o"></i> Edit</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('convertBookingToEstimate')) && $row['is_accepted']) {
                                                if ($row['booking']['convert_status'] != 'estimate' && $row['booking']['convert_status'] != 'invoice') {
                                                    $popupConfig = "'Convert To Estimate','{$this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToEstimate'))}'";
                                                    $actions[] = '<a   data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Convert To Estimate</a>';
                                                }
                                            }



                                            if (CheckAuth::checkCredential(array('convertBookingToInvoice')) && $row['is_accepted']) {
                                                if ($row['booking']['convert_status'] != 'invoice') {
                                                    $actions[] = '<a   href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'convertBookingToInvoice')) . '" class="details_info_opt">Convert To Invoice</a>';
                                                }
                                            }

                                            $findAvailabilityParams = array();
                                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                            $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                            $findAvailabilityParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                            foreach ($BookingServicesList as $service) {
                                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                                            }
                                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                                            $popupConfig = "'Find Availability','{$this->escape($this->url(array(), 'findAvailability'))}','{$findAvailabilityParams}'";
                                            $actions[] = '<a  data-toggle="modal" data-target="#fn_nearest"   href="#" onclick="fn_popupi_with_parm(' . $popupConfig . ');">Find Availability</a>';

                                            $nearestBookingParams = array();
                                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking']['booking_start'])));
                                            $nearestBookingParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                                            $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                                            $nearestBookingParams = implode("&", $nearestBookingParams);
                                            $popupConfig = "'Nearest Bookings','{$this->escape($this->url(array(), 'getRelatedAddress'))}','{$nearestBookingParams}'";
                                            $actions[] = '<a  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi_with_parm(' . $popupConfig . ');">Nearest Bookings</a>';

                                            if (CheckAuth::checkCredential(array('canAcceptAdminServices')) && $row['not_accepted']) {
                                                $popupConfig = "'Accept Admin Services','{$this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices'))}'";
                                                $actions[] = '<a class="details_info_opt"  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Admin Accept Service</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('bookingHistory'))) {
                                                $actions[] = '<a  href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingHistory')) . '" class="details_info_opt">Booking History</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('complaintAdd'))) {

                                                $popupConfig = "'Add complaint','{$this->escape($this->url(array('booking_id' => $row['booking_id']), 'complaintAdd'))}'";
                                                $actions[] = '<a class="details_info_opt"  data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');">Add Complaint</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('attachment'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingAttachment')) . '" class="details_info_opt">Files Attachment</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('bookingDiscussion'))) {
                                                $popupConfig = "'Booking Discussion','{$this->escape($this->url(array('id' => $row['booking_id'],'process'=>'send','type'=>'booking'), 'itemDiscussion'))}'";
                                                $actions[] = '<a data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Booking Discussion</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('bookingLabel'))) {
                                                $popupConfig = "'Booking Label','{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingSelectLabel'))}'";
                                                $actions[] = '<a data-toggle="modal" data-target="#popupi"   href="#" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Label</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('bookingDelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['booking_id']), 'bookingDelete'))}','Are you sure you want to delete this Booking ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                            }
											 $modelClaimOwner = new Model_ClaimOwner();
                                            if (CheckAuth::checkCredential(array('claimOwner')) && $row['booking']['created_by'] != $loggedUser['user_id']) {
                                                $claimOwner = $modelClaimOwner->getByBookingAndUserId($row['booking_id'], $loggedUser['user_id']);
                                                if (empty($claimOwner)) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'sendClaimOwner')) . '" class="details_info_opt">Claim Owner</a>';
                                                }
                                            }
                                        }

                                        $line_actions = array_slice($actions, 0, 1);
                                        $drop_down_actions = array_slice($actions, 1);
                                        ?>
        <?php if ($drop_down_actions): ?>
                                            <!-- action button --> 
                                            <div class="btn-group ">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn FontSize" style="background-color:#00B0D8;padding:3px; padding-left:5px; padding-right:5px; z-index:0">Actions <span class="caret"></span></button>
                                                <ul class="dropdown-menu" style="right: 0; left: auto;">
                                                    <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                        <li> <?php echo $drop_down_action; ?></li>
            <?php endforeach; ?>
                                                </ul>
                                            </div>


        <?php endif; ?>
                                    </div>

			</td>
			
			</tr>
		
			</table>
			</td>
			</tr>
			<tr height="20%">
			<td width="1%" style="padding-right:2px;">
			<a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg IconSize"> 
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                </a></td>
			<td colspan="4" style="font-size:10px;" ><span class="FontSize"><?=date("l F j, Y",strtotime($row['booking_start']))?> <?= date("H:i A",strtotime($row['booking_start']))?> - <?= date("H:i A",strtotime($row['booking_end']))?></span></td>
			
			</tr>
			
			<tr height="20%">
			<td width="1%" style="padding-right:2px;">
			<a href="<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'paymentEwayAdd')); ?>">
			<span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                </span></a></td>
			<td class="FontSize">$<?=$row['qoute']?> inc GST</td>
			<td></td>
			<td></td>
			<td></td>
			</tr>
			</table>
			</div>
			
			<div height="<?=$bookingBoxheight?>" valign="middle" align="left" width="98%"  style="position: absolute; bottom: 0;width: 100%; height:<?=$bookingBoxheight?>px; padding:5px;margin:0px; padding-bottom:5px; margin-bottom:7px; margin-top:5px;">
			  <table width="100%" style="border-radius:10px; background: #FFFFFF;">
			  <tr width="100%" valign="middle">
			  
			  <td style="color:#0CB225; padding-top:2px;" width="45%">
			  <table>
			  <tr>
			  <td>
			  <span class="FontSize" style="font-weight:bold; padding-left:5px; font-size:10px;">
              <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black" style="color:#0CB225;"><span class="glyphicon glyphicon-user" style="color:#0CB225;"></span></a> 
			  <?php } 
			  else { ?>
                <span class="glyphicon glyphicon-user" style="color:#0CB225;"></span>
			  <?php  }?>			  
			  <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black FontSize" style="color:#0CB225;"><?=$row['customer_name']?></a> 
			  <?php } 
			  else { echo $row['customer_name']; }?> 
			  </span>
			  </td>
			  </tr>
			  
			  <tr>
			  <td align="left" style=" padding-left:5px; " class="FontSize">
			  
			  <table>
			  <tr>
			  <?php 
			  
			  if(!$isconfirmed){?>
				 <td align="left" style="padding:0px; margin:0px; padding-left:2%; padding-top:2px;">
			 <?php if (CheckAuth::checkCredential(array('bookingReminderAdd'))){ ?>
                       
			 <button type="button" class="btn btn-success btn-sm Customer-confirm-button" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');"> CONFIRM </button>
			 <?php } ?> 
				  </td>
			 <?php } else { ?>		
			  <td align="left" style="padding-left:2%;" >
			  <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
		<?php
			if($lastReminderDate)
			{
				echo date("F jS",$lastReminderDate['created']);
			}
			?>
				 </a>
				  </td>
				  
			  <td style="padding-left:3px; white-space: nowrap;">
			   <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
			 
				
				  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x " style="color:#0CB225;"></i>
				  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse "></i>
                </span>
				</a>
			  </td>
			 
			 <?php } ?>
			 </tr>
			 			<?php /* if($isconfirmed){ ?>
			  <tr >
			  
			  <td style="color:#0CB225;" align="right" style=" font-size:9px; padding-left:5px;">
			  <a data-toggle="popover3" data-trigger="click" data-placement="bottom" data-content="" id="<?=$row['booking_id']?>" class="showConfirmMsg" style="color:#0CB225; font-size:9px;">
			
			  <?php
			if($lastReminderDate)
			{
				echo date("H:i A",$lastReminderDate['created']);
			}
			?>
			</a>
				  </td>
			  </tr>
			  <?php } */ ?>
			 </table>
			  
			  </td>
			  </tr>
			  </table>
			  </td>
			  <td align="right" style="padding-right:5px;" width="55%">
			  <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
			  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
			  
			                        <ul class="dropdown-menu" style="color: #000000; z-index:3">

                                    <?php if (CheckAuth::checkCredential(array('sendEmail'))){ ?>
                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' =>$row['customer']['customer_id'], 'type' => 'booking', 'reference_id' => $row['booking_id']), 'sendEmail')); ?>');">Send Email</a>
                                        </li>
                                    <?php }
									
                                    $onHold = $modelBookingStatus->getByStatusName('ON HOLD');
                                    if ($row['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential(array(
                                                'sendBookingAsEmail'))) {
                                        ?>

                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder On Hold</a>
                                        </li>

												<?php }
                                    $tentative = $modelBookingStatus->getByStatusName('TENTATIVE');
                                    if ($row['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential(array(
                                                'sendBookingAsEmail'))) {
                                        ?>

                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder Tentative</a>
                                        </li>

												<?php }
												
												if (CheckAuth::checkCredential(array('sendBookingAsEmail'))){ ?>
                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmail')); ?>');">Email Booking</a>
                                        </li>
												<?php }

												if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))){ 
												
												$customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($row['booking_id'], $row['status_id']); 
												if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1){ ?>
                                            <li >   
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Request Feedback','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendRequestBookingFeedback')) ?>');" class="details_info_opt" >Request Feedback</a>
                                            </li>
												<?php } } ?>
												
												<?php 
												if(isset($row['booking']['original_inquiry_id']) && $row['booking']['original_inquiry_id']!=null){
												if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
													<li>
                                                 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Advertising Email','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Inquiry</a>
												 </li>
												<?php    }}
                                                 
												if (isset($estimate['id']) && $estimate['id']!=null) {
													if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
													<li class="email">
														<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
													</li>
												<?php } }?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){  ?>
														<li>
														<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
														</li>
											<?php }
											}?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
															<li>
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Statement Email','<?php echo $this->url(array('id' => $invoice['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
															</li>
											<?php }}?>
													
												

                                </ul>
			  </a>
			  </div>
			  <div class="btn-group" style=" display:inline;border-radius:100%;">
			  <a href="#"  data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('id' => $row['booking_id'],'process'=>'send','type'=>'booking'), 'itemDiscussion')); ?>');">
			   <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
				  <!--<i class="fa fa-comment" aria-hidden="true"></i>-->
                </span>
			   </a>
			   </div>
			   <div class="btn-group" style=" display:inline;border-radius:100%;">
			  <a href="#"  data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Mobile: <?=$row['customer']['mobile1']?> <br /> Work: <?=$row['customer']['phone1']?>">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
			  </div>
			  </td>
			  </tr>
			  </table>
			  
			  <!-- IF THERE IS OTHER CONTACTS --> 
			  <?php 
			  
			  if($customerContactList)
			  {
				  foreach($customerContactList as $secondaryContact)
				  ?>
			<table width="100%" style="border-radius:10px; background: #FFFFFF; margin-top:5px;">
			  <tr width="100%" valign="middle">
			  
			  <td style="color:#0CB225;" width="45%">
			  <table>
			  <tr>
			  <td>
			  <span class="FontSize" style="font-weight:bold; margin-left:5px; padding-top:2px;">
              <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black" style="color:#0CB225;"><span class="glyphicon glyphicon-user" style="color:#0CB225;"></span></a> 
			  <?php } 
			  else { ?>
                <span class="glyphicon glyphicon-user" style="color:#0CB225;"></span>
			  <?php  }?>			  
			  <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black FontSize" style="color:#0CB225;"><?=$secondaryContact['first_name']?> <?=$secondaryContact['last_name']?></a> 
			  <?php } 
			  else { echo $secondaryContact['first_name'].' '.$secondaryContact['last_name']; }?> 
			  </span>
			  </td>
			  </tr>
			  
			  <tr>
			  <td align="left" style=" padding-left:5px;" class="FontSize">
			  
			  <table>
			  <tr>
			  <?php 
			  $customerContactReminderArray= $modelBookingReminder->getByBookingIdAndCustomerContact($row['booking_id'],$secondaryContact['id']);
			  $lastReminderDateForCustomerContact = $modelBookingReminder->getLastConfirmationByBookingIdAndCustomerContactId($row['booking_id'],$secondaryContact['id']); 
			   $isCustomerContactConfirmed=0;
			   if(count($customerContactReminderArray)>=1)
			  {
				 $isCustomerContactConfirmed = 1; 
			  }
			  else $isCustomerContactConfirmed = 0;
			  
			  
			  if(!$isCustomerContactConfirmed){?>
				 <td align="left" style="padding:0px; margin:0px; padding-left:2%; padding-top:2px;">
			 <?php if (CheckAuth::checkCredential(array('bookingReminderAdd'))){ ?>

			 <button type="button" class="btn btn-success btn-sm Customer-confirm-button" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id'],'customer_contact_id' => $secondaryContact['id']), 'bookingReminderAdd_CustomerContact')); ?>');"> CONFIRM </button>
			 <?php } ?> 
				  </td>
			 <?php } else {
			 ?>
			 		
			  <td align="left" style="padding-left:2%;" >
			  <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id'],'customer_contact_id' => $secondaryContact['id']), 'bookingReminderAdd_CustomerContact')); ?>');" style="color:#0CB225;">
		<?php
			if($lastReminderDateForCustomerContact)
			{
				echo date("F jS",$lastReminderDateForCustomerContact['created']);
			}
			?>
				 </a>
				  </td>
				  
			  <td  style="padding-left:3px; white-space: nowrap;"><!--rowspan="2"-->
			   <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id'],'customer_contact_id' => $secondaryContact['id']), 'bookingReminderAdd_CustomerContact')); ?>');" style="color:#0CB225;" >
			 
				  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x " style="color:#0CB225;"></i>
				  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse "></i>
                </span>
				</a>
			  </td>
			 
			 <?php } ?>
			 </tr>
			 			<?php /*if($isCustomerContactConfirmed){ ?>
			  <tr >
			  
			  <td style="color:#0CB225;" align="right" style="font-size:9px;padding-left:5px;">
			  <a data-toggle="popover3" data-trigger="click" data-placement="bottom" data-content="" id="<?=$row['booking_id']?>" class="showConfirmMsg" style="color:#0CB225; font-size:9px;">
			
			  <?php
			if($lastReminderDateForCustomerContact)
			{
				echo date("H:i A",$lastReminderDateForCustomerContact['created']);
			}
			?>
			</a>
				  </td>
			  </tr>
			  <?php } */ ?>
			 </table>
			  
			  </td>
			  </tr>
			  </table>
			  </td>
			  
			  <td align="right" style="padding-right:5px;" width="55%">
			  <div class="btn-group" id="button" style=" display:inline;border-radius:100%; background-color:#ffffff;">
			  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
			  
			                        <ul class="dropdown-menu" style="color: #000000; z-index:3;">

                                    <?php if (CheckAuth::checkCredential(array('sendEmail'))){ ?>
                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' =>$row['customer']['customer_id'], 'type' => 'booking', 'reference_id' => $row['booking_id']), 'sendEmail')); ?>');">Send Email</a>
                                        </li>
                                    <?php }
									
                                    $onHold = $modelBookingStatus->getByStatusName('ON HOLD');
                                    if ($row['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential(array(
                                                'sendBookingAsEmail'))) {
                                        ?>

                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder On Hold</a>
                                        </li>

												<?php }
                                    $tentative = $modelBookingStatus->getByStatusName('TENTATIVE');
                                    if ($row['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential(array(
                                                'sendBookingAsEmail'))) {
                                        ?>

                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder Tentative</a>
                                        </li>

												<?php }
												
												if (CheckAuth::checkCredential(array('sendBookingAsEmail'))){ ?>
                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmail')); ?>');">Email Booking</a>
                                        </li>
												<?php }

												if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))){ 
												
												$customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($row['booking_id'], $row['status_id']); 
												if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1){ ?>
                                            <li >   
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Request Feedback','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendRequestBookingFeedback')) ?>');" class="details_info_opt" >Request Feedback</a>
                                            </li>
												<?php } } ?>
												
												<?php 
												if(isset($row['booking']['original_inquiry_id']) && $row['booking']['original_inquiry_id']!=null){
												if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
													<li>
                                                 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Advertising Email','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Inquiry</a>
												 </li>
												<?php    }}
                                                 
												if (isset($estimate['id']) && $estimate['id']!=null) {
													if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
													<li class="email">
														<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
													</li>
												<?php } }?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){  ?>
														<li>
														<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
														</li>
											<?php }
											}?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
															<li>
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Statement Email','<?php echo $this->url(array('id' => $invoice['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
															</li>
											<?php }}?>
													
												

                                </ul>
			  </a>
			  </div>
			  <div class="btn-group" id="button" style=" display:inline;border-radius:100%; background-color:#ffffff;">
			  <a href="#"  data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('id' => $row['booking_id'],'process'=>'send','type'=>'booking'), 'itemDiscussion')); ?>');">
			   <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
                </span>
			   </a>
			   </div>
			   <div class="btn-group" id="button" style=" display:inline;border-radius:100%; background-color:#ffffff;">
			  <a href="#"  data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom" data-content="Mobile: <?=$secondaryContact['mobile1']?> <br \>Work: <?=$secondaryContact['phone1']?>">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
			  </div>
			  </td>
			  </tr>
			  </table>
			<?php	  
			  }
			  ?>
			  <!-- END SECONDARY CONTACTS -->
			  </div>
			
			</div>
<!------------------ end Booking Box ------------------------------>
<!--------- Contractors box  ------------------------------------------------------------------>
			<?php $borderColor='border-color:'.$colors[$row['color']].';'; 
			$currentlat=0;
				$currentlng=0;
				$userAvatar='';
				$thereIsNoContractor = 0;
			//the start of contractor box
			foreach($row['AllBookingContractors']as $contractor)
			{
				if ($contractor['contractor_details']['username'] == 'enquiries')
				{
					$thereIsNoContractor = 1;
				}
				elseif ($contractor['contractor_details']['username'] != 'enquiries'){
					$thereIsNoContractor = 0;
				$user = $userObj->getById($this->escape($contractor['contractor_id']));
				$userAvatar=$user['avatar'];
			?>
			<div height="100%" style="height:100%">
			<div height="100%" class="<?=$contractorDivWidth?>" style="padding:5px; height:100%">
			<div width="100%" class="tech minDivHeight" style="<?=$borderColor?> background:<?=$backgroundcolors[$row['color']]?>; vertical-align: middle; position: relative;padding:5px; padding-bottom:40px; min-height:160px; height:100% ">
			<div width="100%" >
			<table width="100%" >
			<tr>
			<td colspan="2" valign="center">
			<table>
			<tr>
			
			<td colspan="2" width="5%" style="padding:3px;"><span class="glyphicon glyphicon-user" style="color:<?=$colors[$row['color']]?>;"></span>&nbsp <a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor['contractor_id']), 'settingsContractorInfoList')); ?>" style="color:<?=$colors[$row['color']]?>;" style="FontSize"> &nbsp 
			<?php if(isset($contractor['contractor_details']['display_name']) && !empty($contractor['contractor_details']['display_name'])) {
			echo $contractor['contractor_details']['display_name'];}
             else{echo $contractor['contractor_details']['username'];}			?></a>
			</td>
			</tr>
			<?php
				$string=''; // attendance status
				$glyconattendance = '' ; // glycon type based on attendance status
				$data_original_title=''; // glycon attribute
				$checkstring=''; // check in or out details
				if(isset($contractor['checkList']) && $contractor['checkList']!=null) {
				if (!($contractor['checkList']['check_out_time'] == '0000-00-00 00:00:00') && isset($contractor['checkList']['check_out_time']))
				{
				$glyconattendance="fa fa-pause";
			     $data_original_title="AWAY FROM SITE";
			     $string = 'AWAY FROM SITE';
				 $currentlat=$contractor['checkList']['check_out_lat'];
				 $currentlng=$contractor['checkList']['check_out_lon'];
				}
				else {
                        if ($contractor['checkList']['check_in_distance'] > 500) {
                            $distance = $contractor['checkList']['check_in_distance'] / 1000;
                            $glyconattendance="fa fa-car";
						    $data_original_title="ON THE WAY";
                            $string='ON THE WAY';
							$checkstring = '  (' . number_format($distance, 2) . 'KM Away)';
							$currentlat=$contractor['checkList']['check_in_lat'];
							$currentlng=$contractor['checkList']['check_in_lon'];
							
                        } else if ($contractor['checkList']['check_in_distance'] <= 500) {
							$glyconattendance="fa fa-play-circle";
						    $data_original_title="ON THE SITE";
							 $string='ON THE SITE';
							 $checkstring = "Checked in ".$this->escape(getDateFormating($contractor['checkList']['check_in_time']));
							 $currentlat=$contractor['checkList']['check_in_lat'];
							$currentlng=$contractor['checkList']['check_in_lon'];
                        }
				}
			}
                        ?>
						
			<tr>
			<td rowspan="2" width="2%" style="padding-left:3px;">
			<?php 
			if ($data_original_title == 'AWAY FROM SITE')
			{
			?>
			<span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x " style="color:<?=$colors[$row['color']]?>;"></i>
				  <i class="fa fa-pause fa-stack-1x fa-inverse" style="top:0"></i>
                </span>
			<?php
			}
			else if ($data_original_title == 'ON THE WAY')
			{
			?>
			<span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x " style="color:<?=$colors[$row['color']]?>;"></i>
				  <i class="fa fa-car fa-stack-1x fa-inverse" style="top:0"></i>
                </span>
			<?php
			}  
			else if ($data_original_title == 'ON THE SITE')
			{
			?>
			<span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x " style="color:<?=$colors[$row['color']]?>;"></i>
				  <i class="fa fa-play fa-stack-1x fa-inverse" style="top:0"></i>
                </span>
			<?php
			}
			else echo ' ';
 			?>
			
			</td>
			<td width="98%" align="right" style="color:<?=$colors[$row['color']]?>; font-weight:bold; text-align:left;"class="FontSize">  
                     
	           &nbsp<?=$string?>
			   </td>
			</tr>
			
			<tr>
			<td width="98%" align="right" style="color:<?=$colors[$row['color']]?>; text-align:left;" class="FontSize">  &nbsp
			<?php 
			 //get the last checkout
			 $mostRecentcheckOut= 0;
			if(isset($contractor['checkList']) && $contractor['checkList']!=null) {
				if (!($contractor['checkList']['check_out_time'] == '0000-00-00 00:00:00') && isset($contractor['checkList']['check_out_time']))
				{
					
			     echo "Left job site at : ".$this->escape(getDateFormating($contractor['checkList']['check_out_time']));
				}
				else {
				echo $checkstring;}
			}
			?>
			</td>
			</tr>
			
			</table>
			</td>
			<td align="right">
			<span >
			<?php
			$dir = get_config('user_picture_path').$user['avatar'];
			$dir_default_pic = get_config('user_default_picture_path');

			?>
			<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor['contractor_id']), 'settingsContractorInfoList')); ?>"> <img  src="<?php
                        if (isset($user['avatar']) && !empty($user['avatar'])) {

                            echo $this->baseUrl($dir);
                        } else {
                            echo $this->baseUrl($dir_default_pic);
                        }
                        ?>" width="35" height="35" class="img-circle" alt="profile" border="2" style="border:2px solid <?=$colors[$row['color']]?>;"></a>
			</span> &nbsp
			</td>
			</tr>
			<?php 
			foreach($contractor['contractor_services']as $service){
				if($service['is_accepted']){
					$glycon="glyphicon-ok-sign";
					$glyconColor="#0CB225";
				}
				else if($service['is_rejected']){
					$glycon="glyphicon-remove-sign";
					$glyconColor="#EC1302";
				}
				else{
					$glycon="glyphicon-question-sign";
					$glyconColor="#6919B2";
				}
			?>
			<tr>
			
			<td colspan="3" style="padding:3px;"class="FontSize">
			<?php 
			
			if ($service['is_accepted']):
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
                            class="details_info_opt FontSize"  style="color:<?=$glyconColor?>;">
							<i class="fa fa-check-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
							</a>  
			<?php 
			
			else 
			: ?>
				<a href="#"  style="color:<?=$glyconColor?>;">
				<i class="fa fa-check-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
				</a> 
			<?php endif;
				?>

             <?php 
			elseif($service['is_rejected']): 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                            class="details_info_opt FontSize"  style="color:<?=$glyconColor?>;">
							<i class="fa fa-times-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
							</a>  
			<?php 
			
			else :
			 ?>
				<a href="#"  style="color:<?=$glyconColor?>;">
				<i class="fa fa-times-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
				</a> 
			<?php endif;
				?>	

			<?php 
			else : 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))):
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                            class="details_info_opt FontSize"  style="color:<?=$glyconColor?>;">
							<i class="fa fa-question-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
							</a>  
			<?php 
			
			else 
			: ?>
				<a href="#"  style="color:<?=$glyconColor?>;">
				<i class="fa fa-question-circle" aria-hidden="true" style="color:<?=$glyconColor?>;"></i> &nbsp <?=$service['service_name']?> 
				</a> 
			<?php endif;
			endif;	?> </td>
			</tr>
			<?php
			}
			?>
			</table>
			</div>
			
			</div>
			
			<!--------- the box of confirmation --------------------->
			<div height="40" valign="middle" align="center" width="100%"  style="position: absolute; bottom: 0;width: 100%; height:40px; padding-right:5px; padding-left:5px; padding-bottom:20px; margin:0px; margin-bottom:3px;" >
			  <table width="100%" height="100%" >
			  <tr>
			  <td width="50%" >
			  
			  <table>
			  <tr>
			  <?php 
			  
			  if(!$isconfirmed){?>
				 <td align="left" style="padding:0px; margin:0px;">
			 <?php if (CheckAuth::checkCredential(array('bookingReminderAdd'))){ ?>
                       
			 <button type="button" class="btn btn-success btn-sm FontSize" style="background:#0CB225;margin-left:5px; padding:2px;" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');"> CONFIRM </button>
			 <?php } ?> 
				  </td>
			 <?php } else { ?>		
			  <td align="right" class="FontSize" style="white-space: nowrap;padding-left:5px;" >
			  <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225;">
		<?php
			if($lastReminderDate)
			{
				echo date("F jS",$lastReminderDate['created']);
			}
			else echo'  ' ;
			?>
				 </a>
				  </td>
				  
			  <td rowspan="2" style="padding-left:3px; white-space: nowrap;">
			   <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');" style="color:#0CB225; ">
			 
				  <span class="fa-stack fa-lg IconSize" style="font-size:11px;">
				  <i class="fa fa-circle fa-stack-2x " style="color:#0CB225;"></i>
				  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse "></i>
                </span>
				</a>
			  </td>
			 
			 <?php } ?>
			 </tr>
			 			<?php if($isconfirmed){?>
			  <tr >
			  
			  <td style="color:#0CB225;" align="right" style=" padding-left:5px;" class="FontSize">
			  <a data-toggle="popover3" data-trigger="click" data-placement="bottom" data-content="" id="<?=$row['booking_id']?>" class="showConfirmMsg" style="color:#0CB225;">
			
			  <?php
			if($lastReminderDate)
			{
				echo date("H:i A",$lastReminderDate['created']);
			}
			else echo'  ' ;
			?>
			</a>
				  </td>
			  </tr>
			  <?php } ?>
			 </table>
			  
			 </td>
			  <td width="50%" align="right" style="padding-right:10px;">
			  <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
			  <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
			    <ul class="dropdown-menu" style="color: #000000;">
				 <?php if (CheckAuth::checkCredential(array('sendBookingAsEmailToContractor'))){ ?>
				                        <li class="email">
                                            <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Contractor','<?php echo $this->escape($this->url(array('contractor_id' => $contractor['contractor_id'], 'type' => 'contractor', 'booking_id' => $row['booking_id']), 'sendEmailToContractor')); ?>')">Send Email</a>
                                        </li>
				 <?php } ?>
                                    <?php if (CheckAuth::checkCredential(array('sendBookingAsEmailToContractor'))){ ?>
                                        <li class="email">
                                            <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmailToContractor')); ?>')">Email Booking</a>
                                        </li>

                                    <?php } ?>
									<?php 
												if($row['booking']['original_inquiry_id']!=null){
												if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
													<li>
                                                 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Enquiry','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Enquiry</a>
												 </li>
												<?php    }}
											
											if (isset($estimate['id']) && $estimate['id']!=null) {
													if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
													<li class="email">
														<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
													</li>
													<?php }}?>
									<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											
											if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){?>
														<li>
														<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
														</li>
											<?php }
											}?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
															<li>
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Statement','<?php echo $this->url(array('id' => $invoice['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
															</li>
											<?php }}?>
													
													
													

                                </ul>
							  
							  
                           </a>
			  </div>
			  <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
			   <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('contractor_id' => $contractor['contractor_id']), 'contractorDiscussion')); ?>');">
			   <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
                </span></a>
				</div>
				<div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
			  <a href="#"  data-toggle="popover" data-trigger="hover" data-html="true" data-placement="bottom" data-content="Mobile: <?=$user['mobile1']?> <br \>Work: <?=$user['phone1']?>">
			  <span class="fa-stack fa-lg IconSize">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
			  </div>
			  </td>
			  </tr>

			  </table>
			</div>
			<!--------- end of confirmation---------------->
			
			</div>
			</div>
			
		 <?php 
		 } // end if contractor is not enquiries
		 } //end of contractor loop ?> 
		 
		 
<!---- End Contracto box -----------------------------------> 

<!----------------------------------START if there is no contractor box--------------------------------->
<?php 
if ($numberOfContractors == 0 || $thereIsNoContractor == 1)
{
?>
<div class="col-sm-4"  style="padding:5px;">
		<div style=" background-color:#ffffff; border-radius: 10px; padding:5px; padding-bottom: 45px; " class="minDivHeight">		
		    <table width="100%" style=" margin: auto;" valign="top">
			<tr>
			<td colspan="3" style="padding-top:5px;"><strong>SERVICES</strong> <hr> </td>
			</tr>
			<tr>
			<td colspan="3" valign="top">
			
						<?php 
						
						foreach($BookingServicesList as $service){
							
							$bookingServicesIds[$service['service_id']]=$service['service_id'];
			$serviceModule = new Model_Services();
				$serviceName = $serviceModule->getById($service['service_id']);
			?>
			<tr>
			
			<td colspan="3" valign="top">
			<?php 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Accept Admin service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                            class="details_info_opt"  style="color:#939292;"><span class="glyphicon glyphicon-star" style="color:#939292;"></span> <?=$serviceName['service_name']?> </a>  
			<?php 
			}
			else 
			{ ?>
				<a href="#"  style="color:#939292;"><span class="glyphicon glyphicon-star" style="color:#939292;"></span> <?=$serviceName['service_name']?> </a> 
			<?php } ?>
							
				</td>
			</tr>
			<?php
			}
			?>
			
			</td>
			</tr>
			</table>
			</div>
			<div align="right" style="position: absolute; bottom: 0;width: 100%;float:right; text-align:right; height:45px; z-index:10; margin-bottom:0px; padding-right:10px; left:0">
			<table width="100%" style="margin-left:5px;margin-right:5px;"> 
			<tr>
			<td width="50%" align="left">
			 <?php
                            $modelBookingAddress = new Model_BookingAddress();
                            $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']);
                            $nearestBookingParams = array();
                            $nearestBookingParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $nearestBookingParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $nearestBookingParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $nearestBookingParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $nearestBookingParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $nearestBookingParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $nearestBookingParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                            $nearestBookingParams[] = 'stparttime=' . urlencode(date('H:i:s', strtotime($row['booking']['booking_start'])));
                            $nearestBookingParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                            $nearestBookingParams[] = 'booking_id=' . urlencode($row['booking_id']);
                            $nearestBookingParams = implode("&", $nearestBookingParams);
                            ?>
			<button class="btn btn-primary create-btn btn-xs IconSize ButtonMargins"  href="#" data-toggle="modal" data-target="#fn_nearest" style="background-color:#00B0D8;padding:2px; margin-left:5px;"
                                    onclick="fn_popupi_with_parm('Nearest Booking', '<?php echo $this->escape($this->url(array(), 'getRelatedAddress')) ?>', '<?php echo $this->escape($nearestBookingParams) ?>');">
									<span class="glyphicon glyphicon-map-marker ShowButtonIcon" style="margin-right:5px;"></span>Nearest Booking</button>
									
			<td>
			 <?php
                            $findAvailabilityParams = array();
                            $findAvailabilityParams[] = 'unit_lot_number=' . urlencode($bookingAddress['unit_lot_number']);
                            $findAvailabilityParams[] = 'street_number=' . urlencode($bookingAddress['street_number']);
                            $findAvailabilityParams[] = 'street_address=' . urlencode($bookingAddress['street_address']);
                            $findAvailabilityParams[] = 'suburb=' . urlencode($bookingAddress['suburb']);
                            $findAvailabilityParams[] = 'state=' . urlencode($bookingAddress['state']);
                            $findAvailabilityParams[] = 'postcode=' . urlencode($bookingAddress['postcode']);
                            $findAvailabilityParams[] = 'booking_id=' . urlencode($row['booking_id']);
                            $findAvailabilityParams[] = 'stpartdate=' . urlencode(date('Y-m-d', strtotime($row['booking']['booking_start'])));
                            $findAvailabilityParams[] = 'city_id=' . urlencode($row['booking']['city_id']);
                            foreach ($BookingServicesList as $service) {
                                $findAvailabilityParams[] = 'services[]=' . urlencode($service['service_id']);
                            }
                            $findAvailabilityParams = implode("&", $findAvailabilityParams);
                            ?>
							<button  class="btn btn-primary create-btn btn-xs IconSize ButtonMargins" style="background-color:#00B0D8; padding:2px; margin-right:5px;"  href="#" data-toggle="modal" data-target="#fn_nearest" onclick="fn_popupi_with_parm('Find Availability', '<?php echo $this->escape($this->url(array(), 'findAvailability')) ?>', '<?php echo $this->escape($findAvailabilityParams) ?>');">
							
				  <i class="fa fa-calendar ShowButtonIcon" style="margin-right:2px;"></i>Find Availability</button>
			
			</td>
			  </tr>
			  </table>
			</div>
			</div>
<?php
}
?>
<!----------------------------------END IF there is no contractor---------------------------------->
<!------------------------------- map box -------------------------------------------------------->
			<div class="col-sm-5"  style="border-radius: 5px; margin:0px; padding:5px; height:160px;">
			<div align="left" style="float:left; left: 0; border-radius: 5px; z-index: 1;  background-color:#ffffff; position: absolute; top:0px; height:20px; vertical-align: middle; margin-top:10px; margin-left:10px; padding:3px;" class="FontSize">
			&nbsp <span class="glyphicon glyphicon-map-marker"></span> &nbsp <?=$row['bookingAddress']?> &nbsp 
			</div>
			<div id="map_<?=$row['booking_id']?>" style="border-radius:5px; width:100%; height:155px;"></div>
			
			</div>
			<div id="mapID_<?=$row['booking_id']?>" class="map1" value="<?=$row['booking_id']?>"></div>
			<div id="mapLat_<?=$row['booking_id']?>" value="<?=$currentlat?>"></div>
			<div id="mapLng_<?=$row['booking_id']?>" value="<?=$currentlng?>"></div>
			<div id="userAvatar_<?=$row['booking_id']?>" value="<?=$userAvatar?>"></div>
			<div id="bookinglat_<?=$row['booking_id']?>" value="<?=$bookinglat?>"></div>
			<div id="bookinglon_<?=$row['booking_id']?>" value="<?=$bookinglon?>"></div>
			<div id="is_drawn_<?=$row['booking_id']?>" value="0"></div>

			
			</div>
			</div>
           
			<?php } ?>   
    <?php } 
	
	////////////////// END ///////////////////////////////
	?>
            <br>

<div style="width:100%; text-align:center;" ><a id="seeMore" class="btn btn-primary m-t" onclick="seeMore();">See More</a> </div>
			<?php  } ?> 
			
</div>
</div>
<?php 
if (!isset($this->data) && empty($this->data))
{
	?>
	<h3 class="font-bold">There are no site attendance. </h3>
	<?php
}

?>



