<?php
/*
$client = new Google_Client();
			$client->setApplicationName("Tile cleaners APP");
			//$client->setUseObjects(true); //IF USING SERVICE ACCOUNT (YES)

			if (isset($_SESSION['token'])) {
				 $client->setAccessToken($_SESSION['token']);
			}

			$key = file_get_contents(APPLICATION_PATH.'/Tile Cleaners-83d152f9fa40.p12');
			//print_r($key);
			$client->setClientId('233716746954-nsgmg6pn2dajp1flkrbsuj598jbvhck0.apps.googleusercontent.com');

			$cred = new Google_Auth_AssertionCredentials('233716746954-nsgmg6pn2dajp1flkrbsuj598jbvhck0@developer.gserviceaccount.com',
			array('https://www.googleapis.com/auth/calendar'),
			$key);
			$cred->sub = 'eng.randlulu@gmail.com';
			$client->setAssertionCredentials($cred);

			$client->setClientId(CLIENT_ID);
$service = new Google_Service_Calendar($client);
$event = new Google_Service_Calendar_Event(array(
  'summary' => 'Google I/O 2015',
  'location' => '800 Howard St., San Francisco, CA 94103',
  'description' => 'A chance to hear more about Google\'s developer products.',
  'start' => array(
    'dateTime' => '2015-05-28T09:00:00-07:00',
    'timeZone' => 'America/Los_Angeles',
  ),
  'end' => array(
    'dateTime' => '2015-05-28T17:00:00-07:00',
    'timeZone' => 'America/Los_Angeles',
  ),
  'recurrence' => array(
    'RRULE:FREQ=DAILY;COUNT=2'
  ),
  'attendees' => array(
    array('email' => 'lpage@example.com'),
    array('email' => 'sbrin@example.com'),
  ),
  'reminders' => array(
    'useDefault' => FALSE,
    'overrides' => array(
      array('method' => 'email', 'minutes' => 24 * 60),
      array('method' => 'popup', 'minutes' => 10),
    ),
  ),
));

$calendarId = 'primary';
$event = $service->events->insert($calendarId, $event);
echo 'Event created: '. $event->htmlLink;
*/
?>


<!--<script src="https://use.fontawesome.com/eddc08a476.js"></script>-->
<?php 
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
// lighter colors of the above array
$backgroundcolors = array(
    '0' => '#F3F3F3',
    '1' => '#FFE6E6',
    '2' => '#fee4fe',//FFC2D6
    '3' => '#fee4fe',//FFCBFF
    '4' => '#D4BEFF',
    '5' => '#C1E0FF',
    '6' => '#CEDEFF',
    '7' => '#e3fcfc',/* D3FFF9 */
    '8' => '#e3fcfc',/* C0FFDF */ 
    '9' => '#B5FFB9',
    '10' => '#E8FFC6',
    '11' => '#FFFFBC',
    '12' => '#FFF5C9',
    '13' => '#FFEFDA',
    '14' => '#FFD8C4',
    '15' => '#fee4fe',//FFE1E1
    '16' => '#fee4fe',//FFDDFF
    '17' => '#C6E2FF',
    '18' => '#D3E2FF',
    '19' => '#DCFFFB',
    '20' => '#FFFFCF',
    '21' => '#FFEDD6',
    '-1' => '#fee4fe'//FFDAFF
);



?>


<style>
table {border: none;}

#button:active {
    background-color: #FFFFFF !important;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
}

.tech {
	 border-radius: 7px;
  background: #e9fde6;
  border-style: solid;
  border-color:#39b54a;
    border-width:1px;
    
	padding:2px;
}

	.statusBorder
{
	padding:3px;
    border-radius:7px;
    box-shadow: 2px 2px 5px #d9dade;
    border-left-style: solid;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}

@media only screen and (min-width: 1025px)
{

   .minDivHeight 
   {
	min-height:170px;
   }
   /*
.row-horizon {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.row-horizon > [class*="col-md"]
{
  float: none;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}*/
.Customer-confirm-button
	{
		background:#0CB225;
		padding:3px; 
		font-size:10px;
	}
}
@media only screen and (min-width: 991px) and (max-width: 1100px) 
{

	.FontSize 
	  {
		  font-size:8px;
	  }
  .IconSize
	{
		font-size:10px;
	}
	
   .minDivHeight 
   {
	min-height:170px;
   }
.Customer-confirm-button
	{
		background:#0CB225;
		padding:2px; 
		font-size:8px;
	}
	/*
	.row-horizon {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.row-horizon > [class*="col-md"]
{
  float: none;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}*/
}


@media only screen and (max-width: 990px) {


	.minDivHeight {
		min-height:140px;
	}
.Customer-confirm-button
	{
		background:#0CB225;
		padding:3px; 
		font-size:10px;
	}
	
}
	


</style>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({ container: 'body' });
	
	/*$('.showConfirmMsg').popover({
    html: true,
    content: function() {
		id= this.id;
      return $('#confirmMsg_'+id).html();
    
})*/
});
</script>
<div id="booking-responsive-table" style="margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px; background: #ffffff;" class="ShowScroll">
<div  style="font-size:11px; margin:0px; padding:0px; background: #ffffff;" id="result">
<div class="row" style="margin:0px; padding:0px;">
<?php
$modelBookingStatus = new Model_BookingStatus();
 $loggedUser = CheckAuth::getLoggedUser();
 $modelCustomerFeedback = new Model_CustomerFeedback();
 $modelBookingReminder= new Model_BookingReminder();
    if (isset($this->data) && !empty($this->data)){
         foreach ($this->data as $row) { 
///////////////// ADDED BY RAND /////////////////////////////////////
			$loggedUser = CheckAuth::getLoggedUser();
			
            ?>
			<div class ="col-md-3" style="margin:0px; padding:5px; ">
			
			<!------ contractor box ------->
	          <div onclick='getBookingDataforContractor(<?=$row['contractor_id']?>);' data-toggle="collapse" data-target="#booking_attendance_info_<?=$row['contractor_id']?>" class="tech" style="height:45px;" valign="middle">
			    
				<table style="width:100%" valign="middle">
				  <tr>
				   <td style="padding:3px;">
				   <span>
				   <?php
				   $dir = get_config('user_picture_path').$row['contractor_info']['avatar'];
				   $dir_default_pic = get_config('user_default_picture_path');

				   ?>
			<a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['contractor_id']), 'settingsContractorInfoList')); ?>"> 
			<img  src="<?php
                        if (isset($row['contractor_info']['avatar']) && !empty($row['contractor_info']['avatar'])) {

                            echo $this->baseUrl($dir);
                        } else {
                            echo $this->baseUrl($dir_default_pic);
                        }
                        ?>" width="30" height="35" class="img-circle" alt="profile" border="2" style="border:2px solid <?=$colors[$row['booking_status']['color']]?>;">
						</a>
			      </span>
				  <?php
				  $display_name='';
								   if(isset($row['contractor_info']['display_name']) && !empty($row['contractor_info']['display_name'])){
									   $display_name = $row['contractor_info']['display_name'];
								   }
								   else
								   {
									   $display_name = $row['contractor_info']['username'];
								   }
				  ?>
				   <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['contractor_id']), 'settingsContractorInfoList')); ?>">
				   &nbsp <?php echo $display_name; ?></a>
	
				   </td>
				   <td align="right">
				   	  <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
						  <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
						  <span class="fa-stack fa-lg IconSize">
							  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
							  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
								<!-- <ul class="dropdown-menu" style="color: #000000;">
				 <?php if (CheckAuth::checkCredential(array('sendBookingAsEmailToContractor'))){ ?>
				                        <li class="email">
                                            <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Contractor','<?php echo $this->escape($this->url(array('contractor_id' => $row['contractor_id'], 'type' => 'contractor', 'booking_id' => '0'), 'sendEmailToContractor')); ?>')">Send Email</a>
                                        </li>
				               <?php } ?> 
                        </ul>				--> 
									   </a>
					   </div>
					   <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
						   <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('contractor_id' => $row['contractor_id']), 'contractorDiscussion')); ?>');">
						   <span class="fa-stack fa-lg IconSize">
							  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
							  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
							</span></a>
					    </div>
					    <div class="btn-group" id="button" style=" display:inline;border-radius:100%;">
						   <a href="JavaScript:void(0)" data-toggle="modal" data-target="#myModal_<?=$row['contractor_id']?>">
			                <span class="fa-stack fa-lg IconSize">
							  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
							  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
							</span>
						  </a>
						 </div>
						 
				<div class="modal fade" id="myModal_<?=$row['contractor_id']?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin: auto;max-width:670px;">
				  <div class="modal-dialog" role="document" style="max-width:650px;">
					<div class="modal-content">
					  <div class="modal-body" align="left">
					  <div class="" style="padding:0px; margin:0px;">
						<table class="table table-hover" v-align="middle" style="text-align:center; vertical-align:middle;font-size:16px;">
			   
						  <tr class="info" style="font-weight:bold;">
							  <td  style="vertical-align:middle; " colspan="2"><?php echo $display_name;	?></td>
						  </tr>
						   <tr style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Mobile 1:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$row['contractor_info']['mobile1']?>'><?=$row['contractor_info']['mobile1']?></a></td>
						  </tr>
						  <?php if($row['contractor_info']['mobile2']){ ?>
						   <tr style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Mobile 2:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$row['contractor_info']['mobile2']?>'><?=$row['contractor_info']['mobile2']?></a></td>
						  </tr>
						 <?php } ?>
						 <?php if($row['contractor_info']['mobile3']){ ?>
						   <tr  style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Mobile 3:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$row['contractor_info']['mobile3']?>'><?=$row['contractor_info']['mobile3']?></a></td>
						  </tr>
						 <?php } ?>
						  <?php if($row['contractor_info']['phone1']){ ?>
						  <tr  style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Phone 1:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$row['contractor_info']['phone1']?>'><?=$row['contractor_info']['phone1']?></a></td>
						  </tr>
						  <?php } ?>
			              <?php if($row['contractor_info']['phone2']){ ?>
						   <tr style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Phone 2:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$row['contractor_info']['phone2']?>'><?=$row['contractor_info']['phone2']?></a></td>
						  </tr>
						 <?php } ?>
						 <?php if($row['contractor_info']['phone3']){ ?>
						   <tr  style="font-weight:bold;">
							  <td  style="vertical-align:middle;">Phone 3:</td>
							  <td  style="vertical-align:middle;"><a href='tel:<?=$row['contractor_info']['phone3']?>'><?=$row['contractor_info']['phone3']?></a></td>
						  </tr>
						 <?php } ?>
					    </table> 
						
					  </div>
					</div>
				  </div>
				</div>
						 
						 
				   </td>
				  </tr>
				</table>
				
			  </div>
			 
			<!------ end contractor box ------->
			
			<!--- Contractor Booking Attendance -->
			
			 
			 <div id="booking_attendance_info_<?=$row['contractor_id']?>" class="collapse" align="center">
			     
			 </div>
			
			<!--- End Contractor Booking Attendance --->
			</div>
           
			<?php } ?>   
    <?php } 
	
	////////////////// END ///////////////////////////////
	?>
         </div>    
</div>
</div>



<script>
function getBookingDataforContractor(contractor_id){
	   if(!($('#booking_attendance_info_'+contractor_id+' > div').length >0)){
		  $('#booking_attendance_info_'+contractor_id).html('<div class="row" style="display:block ;text-align:center;" id="loading_img"><img src="/pic/loading-4.gif"> </div>');
	  $.ajax({
            type: "POST",
            data: {'fltr': '' , 'is_first_time':'' , 'page_number': '', 'contractor_id': contractor_id},
            url: "<?php echo $this->url(array(), 'bookingAttendancePerContractor'); ?>",
            success: function (result) {
			 $('#booking_attendance_info_'+contractor_id).html(result);
			 
			  
			}
		});
	   }
   
   }

</script>



