<script src="https://use.fontawesome.com/eddc08a476.js"></script>
<?php 
$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
// lighter colors of the above array
$backgroundcolors = array(
    '0' => '#F3F3F3',
    '1' => '#FFE6E6',
    '2' => '#FFC2D6',
    '3' => '#FFCBFF',
    '4' => '#D4BEFF',
    '5' => '#C1E0FF',
    '6' => '#CEDEFF',
    '7' => '#D3FFF9',
    '8' => '#C0FFDF',
    '9' => '#B5FFB9',
    '10' => '#E8FFC6',
    '11' => '#FFFFBC',
    '12' => '#FFF5C9',
    '13' => '#FFEFDA',
    '14' => '#FFD8C4',
    '15' => '#FFE1E1',
    '16' => '#FFDDFF',
    '17' => '#C6E2FF',
    '18' => '#D3E2FF',
    '19' => '#DCFFFB',
    '20' => '#FFFFCF',
    '21' => '#FFEDD6',
    '-1' => '#FFDAFF'
);



?>


<style>
table {border: none;}
.statusBorder
{
	
	margin-bottom:10px;
	box-shadow: 2px 2px 3px #888888;
	border-radius: 10px;
  background: #F9F9F7;
  border-style: solid;
    border-width:1px;
    padding:1px;
	border-left-color: #0CB225;
	border-left-width: 5px;
	
}
/*
.statusBorder:hover {
	padding-left: 5px;
	}*/
	
.contactinfo {
	 border-radius:10px;
  background: #FFFFFF;
}

.tech {
	 border-radius: 7px;
  background: #EBFFF4;
  border-style: solid;
  border-color:#0CB225;
    border-width:2px;
    
	padding:2px;
}
.glyconStyle{
    width:25px;
    height:25px;
    background: #00B0D8;
    padding:3px;
	margin:1px;
    border-radius: 100%;
    color: white;
    text-align:center;
}

.popover {
    border: 1px solid #00B0D8;
}

/* Popover Header */

/* Popover Body */
.popover-content {
	background-color:#FAFAFA;
    color: #000000;
    padding: 10px;
}

/* Popover Arrow */
.arrow {
}

.showConfirmMsg .popover{ border: 1px solid #0CB225;} 
</style>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
	
	$('.showConfirmMsg').popover({
    html: true,
    content: function() {
		id= this.id;
      return $('#confirmMsg_'+id).html();
    }
})
});
</script>
<div style="font-size:11px; ">
<?php if (isset($this->is_first_time) && $this->is_first_time == 1){

	if (isset($this->data) && !empty($this->data)) { 
	$ArrayofData = $this->data;
	?>
	<textarea type="hidden" style="display:none;" name="DataArray" id="DataArray" value="<?=json_encode($ArrayofData)?>"></textarea>
	<input type="hidden" name="testdata" id="testdata" value="1" />
	<?php
    $userObj = new Model_User();
    if (isset($this->data) && !empty($this->data)){
         foreach ($this->data as $row) { 
///////////////// ADDED BY RAND /////////////////////////////////////
			$loggedUser = CheckAuth::getLoggedUser();
			$modelBookingStatus = new Model_BookingStatus();
			$modelBookingAddress = new Model_BookingAddress();
			$modelCustomerFeedback = new Model_CustomerFeedback();
			$status = $modelBookingStatus->getById($row['status_id']);
			$bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']);
			$modelBookingEstimate = new Model_BookingEstimate();
			$estimate = $modelBookingEstimate->getByBookingId($row['booking_id']);
					
			$modelBookingInvoice = new Model_BookingInvoice();
			$invoice = $modelBookingInvoice->getByBookingId($row['booking_id']);
					
			$modelBookingReminder= new Model_BookingReminder();
			$ReminderArray= $modelBookingReminder->getByBookingId($row['booking_id']);
		    $bookinglat = $bookingAddress['lat'];
            $bookinglon = $bookingAddress['lon'];
			
            
		// is the booking confirmed
		$isconfirmed = 0;
			  if(count($ReminderArray)>=1)
			  {
				 $isconfirmed = 1; 
			  }
			  else $isconfirmed = 0;
		// left border color
			$statusColor='border-left-color:'.$colors[$row['color']].';';
			
			$numberOfContractors = count($row['AllBookingContractors']);
			if ($numberOfContractors == 1)
			{
				$maindivWidth = "col-sm-3";
				$contractorDivWidth = "col-sm-4";
			}
			else {
				$maindivWidth = "col-sm-3";
				$contractorDivWidth = "col-sm-2";
				
			}
			
            ?>
			<div class="rowhight" id="<?=$row['booking_id']?>">
			<div class="row statusBorder" style="cell-spacing:2px; <?=$statusColor?> margin: 0; margin-bottom:10px; font-size:11px; vertical-align:middle; ">
			
<!---- ---------------------main booking box --------------------------------------------------------------------->
			<div class="<?=$maindivWidth?>" width="100%" style="padding:5px;  margin:0px;" id="MainBox_<?=$row['booking_id']?>"> 
			
			
			<div width="100%" class="table-responsive" style="top:0px; bottom:0px; left:3px; right:0px; height:100%;">
			<table width="100%" style="top:0px; bottom:0px;" height="100%">
			<tr height="20%">
			<td rowspan="2">
			<span >
                            
                  <a href="<?php if (CheckAuth::checkCredential(array('bookingEdit'))){echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')); } else { echo "";}?>" class="fa-stack fa-lg"> 
				  
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
				  </a>
                </span>
				
				</td>
			<td style="color:<?=$colors[$row['color']]?>; font-style: italic; font-weight: bold;"><?=$row['BookingStatus']?></td>
			<td></td>
			<td style="color:<?=$colors[$row['color']]?>;" align="right">&nbsp &nbsp &nbsp <?= date("F jS",strtotime($row['booking_start']))?> </td>
			<td rowspan="2" align="right" >
			<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#0CB225;"></i>
				  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                </span>
			</td>
			</tr>
			
			<tr height="10%">
			<td style="color:<?=$colors[$row['color']]?>; font-weight: bold; font-size:12px;"><?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name" style="color:<?=$colors[$row['color']]?>;font-weight: bold;"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                            <?php else: ?>
                                <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                            <?php endif; ?></td>
			<td></td>
			<td style="color:<?=$colors[$row['color']]?>;" align="right">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <?= date("H:i A",strtotime($row['booking_start']))?></td>
			</tr>
			
			<tr height="20%">
			<td><span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                </span></td>
			<td colspan=4><?= date("H:i A",strtotime($row['booking_start']))?> - <?= date("H:i A",strtotime($row['booking_end']))?></td>
			
			</tr>
			
			<tr height="20%">
			<td><span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                </span></td>
			<td>$<?=$row['qoute']?> inc GST</td>
			<td></td>
			<td></td>
			<td></td>
			</tr>
			<tr height="5%">
			<td>&nbsp </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			</tr>
			<tr height="45" width="100%">
			<td colspan="5" border="1" style="border-radius:10px;background: #FFFFFF;" width="100%">
			  <table width="100%">
			  <tr width="100%">
			  
			  <td style="color:#0CB225; font-weight:bold; font-size: 1.3vmin;" colspan="3">
              <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black" style="color:#0CB225;"><span class="glyphicon glyphicon-user" style="color:#0CB225;"></span></a> 
			  <?php } 
			  else { ?>
                <span class="glyphicon glyphicon-user" style="color:#0CB225;"></span>
			  <?php  }?>			  
			  <?php
			  if (CheckAuth::checkCredential(array('customerView'))) { ?> 
			  <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black" style="color:#0CB225;"><?=$row['customer_name']?></a> 
			  <?php } 
			  else { echo $row['customer_name']; }?> </td>
			  
			  <td rowspan="2" align="right" width="50%">
			  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
			  <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
			  
			                        <ul class="dropdown-menu" style="color: #000000;">

                                    <?php if (CheckAuth::checkCredential(array('sendEmail'))){ ?>
                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email','<?php echo $this->escape($this->url(array('id' =>$row['customer']['customer_id'], 'type' => 'booking', 'reference_id' => $row['booking_id']), 'sendEmail')); ?>');">Send Email</a>
                                        </li>
                                    <?php }
									
                                    $onHold = $modelBookingStatus->getByStatusName('ON HOLD');
                                    if ($row['status_id'] == $onHold ['booking_status_id'] && CheckAuth::checkCredential(array(
                                                'sendBookingAsEmail'))) {
                                        ?>

                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderOnHoldBookingAsEmail')); ?>')">Reminder On Hold</a>
                                        </li>

												<?php }
                                    $tentative = $modelBookingStatus->getByStatusName('TENTATIVE');
                                    if ($row['status_id'] == $tentative ['booking_status_id'] && CheckAuth::checkCredential(array(
                                                'sendBookingAsEmail'))) {
                                        ?>

                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reminder Tentative','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendReminderTentativeBookingAsEmail')); ?>')">Reminder Tentative</a>
                                        </li>

												<?php }
												
												if (CheckAuth::checkCredential(array('sendBookingAsEmail'))){ ?>
                                        <li >
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmail')); ?>');">Email Booking</a>
                                        </li>
												<?php }

												if (CheckAuth::checkCredential(array('sendRequestBookingFeedback'))){ 
												
												$customerFeedback = $modelCustomerFeedback->getBybookingAndstatusId($row['booking_id'], $row['status_id']); 
												if (empty($customerFeedback['feedback']) && $status['request_feedback'] == 1){ ?>
                                            <li >   
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Request Feedback','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendRequestBookingFeedback')) ?>');" class="details_info_opt" >Request Feedback</a>
                                            </li>
												<?php } } ?>
												
												<?php 
												if(isset($row['booking']['original_inquiry_id']) && $row['booking']['original_inquiry_id']!=null){
												if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
													<li>
                                                 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Advertising Email','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Inquiry</a>
												 </li>
												<?php    }}
                                                 
												if (isset($estimate['id']) && $estimate['id']!=null) {
													if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
													<li class="email">
														<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
													</li>
												<?php } }?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){  ?>
														<li>
														<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
														</li>
											<?php }
											}?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
															<li>
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Statement Email','<?php echo $this->url(array('id' => $invoice['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
															</li>
											<?php }}?>
													
												

                                </ul>
			  </a>
			  <a href="#"  data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('id' => $row['booking_id'],'process'=>'send','type'=>'booking'), 'itemDiscussion')); ?>');">
			   <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                </span>
			   </a>
			  <a href="#"  data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="<?php echo "Mobile: ".$row['customer']['mobile1']." \r\nWork: ".$row['customer']['phone1'];?>">
			  <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
			  </td>
			  </tr>
			  
			  <tr width="100%">
			  <td><a href="#"><span class="glyphicon glyphicon-home" style="color:#DADBDC;"></span></a></td>
			  <td colspan="2" style="font-size: 1.3vmin; "><?=$row['bookingAddress']?></td>
			  
			  </tr>
			  
			  </table>
			  </td>
			</tr>
			
			
			</table>
			</div>
			</div>
<!------------------ end Booking Box ------------------------------>
<!--------- Contractors box  ------------------------------------------------------------------>
			<?php $borderColor='border-color:'.$colors[$row['color']].';'; 
			$currentlat=0;
				$currentlng=0;
				$userAvatar='';
			//the start of contractor box
			foreach($row['AllBookingContractors']as $contractor)
			{
				$user = $userObj->getById($this->escape($contractor['contractor_id']));
				$userAvatar=$user['avatar'];
			?>
			<div>
			<div class="<?=$contractorDivWidth?>" style="padding:5px; margin:0px; margin-top:0.75%; margin-bottom:0.75%;">
			<div width="100%" class="table-responsive tech " style="<?=$borderColor?> background:<?=$backgroundcolors[$row['color']]?>; vertical-align: middle; height:auto;">
			<table width="100%" style=" margin: auto; height:auto;" >
			<tr>
			<td colspan="2">
			<table>
			<tr>
			
			<td colspan="2"><a href="#"><span class="glyphicon glyphicon-user" style="color:<?=$colors[$row['color']]?>;"></span></a> &nbsp <a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor['contractor_id']), 'settingsContractorInfoList')); ?>" style="color:<?=$colors[$row['color']]?>;"><?php echo $contractor['contractor_details']['username']; ?></a></td></td>
			</tr>
			<?php
				$string=''; // attendance status
				$glyconattendance = '' ; // glycon type based on attendance status
				$data_original_title=''; // glycon attribute
				$checkstring=''; // check in or out details
				
				if (!($contractor['checkList']['check_out_time'] == '0000-00-00 00:00:00') && isset($contractor['checkList']['check_out_time']))
				{
				$glyconattendance="glyphicon glyphicon-stop";
			     $data_original_title="AWAY FROM SITE";
			     $string = 'AWAY FROM SITE';
				 $currentlat=$contractor['checkList']['check_out_lat'];
				 $currentlng=$contractor['checkList']['check_out_lon'];
				}
				else {
                        if ($contractor['checkList']['check_in_distance'] > 500) {
                            $distance = $contractor['checkList']['check_in_distance'] / 1000;
                            $glyconattendance="glyphicon glyphicon-forward";
						    $data_original_title="ON THE WAY";
                            $string='ON THE WAY';
							$checkstring = '  (' . number_format($distance, 2) . 'KM Away)';
							$currentlat=$contractor['checkList']['check_in_lat'];
							$currentlng=$contractor['checkList']['check_in_lon'];
							
                        } else if ($contractor['checkList']['check_in_distance'] <= 500) {
							$glyconattendance="glyphicon glyphicon-play";
						    $data_original_title="ON THE SITE";
							 $string='ON THE SITE';
							 $checkstring = "Checked in ".$this->escape(getDateFormating($contractor['checkList']['check_in_time']));
							 $currentlat=$contractor['checkList']['check_in_lat'];
							$currentlng=$contractor['checkList']['check_in_lon'];
                        }
				}
                        ?>
						
			<tr>
			<td rowspan="2"><a href="#"><span class="<?=$glyconattendance?>" data-placement="top" title="" data-original-title="<?=$data_original_title?>" style="color:<?=$colors[$row['color']]?>;"></span></td>
			<td style="color:<?=$colors[$row['color']]?>; font-weight:bold; font-size:12px;">  
                     
	           <?=$string?>
			   </td>
			</tr>
			
			<tr>
			<td style="color:<?=$colors[$row['color']]?>;">  
			<?php 
			 //get the last checkout
			 $mostRecentcheckOut= 0;
			
				if (!($contractor['checkList']['check_out_time'] == '0000-00-00 00:00:00') && isset($contractor['checkList']['check_out_time']))
				{
					
			     echo "Left job site at : ".$this->escape(getDateFormating($contractor['checkList']['check_out_time']));
				}
				else {
				echo $checkstring;}
				
			?>
			</td>
			</tr>
			
			</table>
			</td>
			<td align="right">
			<span >
			<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor['contractor_id']), 'settingsContractorInfoList')); ?>"> <img  src="<?php
                        if ($user['avatar']) {

                            echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $user['avatar']);
                        } else {
                            echo $this->baseUrl('/pic/contractor_pic1.png');
                        }
                        ?>" width="38" height="38" class="img-circle circle-border " alt="profile"></a>
			</span> &nbsp
			</td>
			</tr>
			<?php 
			foreach($contractor['contractor_services']as $service){
				if($service['is_accepted']){
					$glycon="glyphicon-ok-sign";
					$glyconColor="#0CB225";
				}
				else if($service['is_rejected']){
					$glycon="glyphicon-remove-sign";
					$glyconColor="#EC1302";
				}
				else if($service['is_change']){
					$glycon="glyphicon-question-sign";
					$glyconColor="#6919B2";
				}
			?>
			<tr>
			
			<td colspan="3">
			<?php 
			if ($service['is_accepted']){ 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
                            class="details_info_opt"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a>  
			<?php 
			}
			else 
			{ ?>
				<a href="#"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a> 
			<?php }
			}	?>

             <?php 
			if ($service['is_rejected']){ 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Accept Services', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'acceptAdminServices')); ?>');"
                            class="details_info_opt"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a>  
			<?php 
			}
			else 
			{ ?>
				<a href="#"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a> 
			<?php }
			}	?>	

			<?php 
			if(!$service['is_accepted'] && !$service['is_rejected']){ 
			if (CheckAuth::checkCredential(array('canAcceptAdminServices'))){
			?>
			<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Reject Service', '<?php echo $this->escape($this->url(array('bookingId' => $row['booking_id']), 'rejectAdminServices')); ?>');"
                            class="details_info_opt"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a>  
			<?php 
			}
			else 
			{ ?>
				<a href="#"  style="color:<?=$glyconColor?>;"><span class="glyphicon <?=$glycon?>" style="color:<?=$glyconColor?>;"></span> <?=$service['service_name']?> </a> 
			<?php }
			}	?>
							
				</td>
			</tr>
			<?php
			}
			?>
			
			<tr>
			<td colspan="3"  width="100%">
			
			
			<br>
			  <table width="100%">
			  <tr width="100%">
			  <?php 
			  
			  if(!$isconfirmed){?>
				 <td rowspan="3" width="50%" align="left">
			 <?php if (CheckAuth::checkCredential(array('bookingReminderAdd'))){ ?>
                       
					   <button type="button" class="btn btn-success btn-sm" style="background:#0CB225;" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');"> Confirm Booking </button>
			 <?php } ?> 
				  </td>
			 <?php } else {?>
			 
			 <!---- hidden block -----> 
<?php $modelUser = new Model_User(); ?>
                                    <div id="confirmMsg_<?=$row['booking_id']?>" name="confirmMsg_<?=$row['booking_id']?>" style="display:none; border: 1px solid #0CB225;">

                                            <?php if($isconfirmed){ ?>

												<?php foreach ($ReminderArray as $reminder){ ?>

                                                <div>

														   <?php if($reminder['user_role'] == 9){
														 $modelCustomer = new Model_Customer();
														  $user = $modelCustomer->getById($reminder['user_id']);
															$username = $user['first_name'] .' '.$user['last_name'];
													}else{
														$user = $modelUser->getById($reminder['user_id']);
														$username = $user['username'];
													} ?>

                                                    <a href="#" data-toggle="modal" data-target="#popupi" style="color:black;" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'bookingReminderView')); ?>');" class="details_info_opt"> <i class="fa fa-thumbs-up " style="color:#0CB225;">&nbsp;</i><?php echo $this->escape($reminder['type'] . ' - ' . $username . ' - ' . getDateFormating($reminder['created'])); ?></a>

                                                <?php if (CheckAuth::checkCredential(array('bookingReminderDelete'))){ ?>

                                                        <a href="javascript:;" onclick="delete_reminder('<?php echo $this->escape($this->url(array('id' => $row['booking_id'], 'reminder_id' => $reminder['id']), 'bookingReminderDelete')); ?>', 'booking');" > &nbsp <img height="10" width="10" src="/pic/remove.png" ></a>
												<?php   } ?>

                                                </div>
                                            <?php } ?>

											<?php } ?>
                                           <br>

                                <?php if (CheckAuth::checkCredential(array('bookingReminderAdd'))){ ?>
                                            <div width="100%" align="center"> <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('booking_id' => $row['booking_id']), 'bookingReminderAdd')); ?>');" class="btn btn-success" style="background-color:#0CB225;"><i class="fa fa-thumbs-up">&nbsp;</i>Confirm Booking </a> </div>
								<?php } ?>
                                    </div>
			<!---------------------------------------->				
			  <td width="20%" align="center">
			  <a data-toggle="popover1" data-trigger="click" data-placement="bottom" data-content="" id="<?=$row['booking_id']?>" class="showConfirmMsg" style="color:#0CB225;">
			  <?php 
			  
			  if (isset($contractor['LastCheckIn']['check_in_time']) && !empty($contractor['LastCheckIn']['check_in_time'])){
				  echo date("F jS",strtotime($contractor['LastCheckIn']['check_in_time']));
				  }
				  else if (isset($contractor['LastCheckIn']['check_out_time']) && !empty($contractor['LastCheckIn']['check_out_time'])){
				  echo date("F jS",strtotime($contractor['LastCheckIn']['check_out_time']));
				  }?>
				 </a>
				  </td>
				  
			  <td rowspan="2" align="left" width="20%">
			  <a data-toggle="popover2" data-trigger="click" data-placement="bottom" data-content="" id="<?=$row['booking_id']?>" class="showConfirmMsg" style="color:#0CB225;">
			  <?php 
			  if ((isset($contractor['LastCheckIn']['check_in_time']) && !empty($contractor['LastCheckIn']['check_in_time'])) || (isset($contractor['LastCheckIn']['check_out_time']) && !empty($contractor['LastCheckIn']['check_out_time']))){
				  ?>
				  <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#0CB225;"></i>
				  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                </span>
				  <?php
				  }  
			  ?>
			  
				<a/>
			  </td>
			 
			 <?php } ?>
			  <td rowspan="2" width="60%" align="right">
			  <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
			  <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
			  
                            
                                <ul class="dropdown-menu" style="color: #000000;">
                                    <?php if (CheckAuth::checkCredential(array('sendBookingAsEmailToContractor'))){ ?>
                                        <li class="email">
                                            <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Booking','<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'sendBookingAsEmailToContractor')); ?>')">Email Booking</a>
                                        </li>

                                    <?php } ?>
									<?php 
												if($row['booking']['original_inquiry_id']!=null){
												if (CheckAuth::checkCredential(array('sendInquiryAdvertisingEmail'))) { ?>
													<li>
                                                 <a href="#" data-toggle="modal" data-target="#popupi"  onclick="popupi('Email Enquiry','<?php echo $this->escape($this->url(array('id' => $row['booking']['original_inquiry_id']), 'sendInquiryAdvertisingEmail')) ?>');" class="details_info_opt">Email Enquiry</a>
												 </li>
												<?php    }}
											
											if (isset($estimate['id']) && $estimate['id']!=null) {
													if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))){ ?>
													<li class="email">
														<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Estimate', '<?php echo $this->escape($this->url(array('id' => $estimate['id']), 'sendEstimateAsEmail')); ?>')">Email Estimate</a>
													</li>
													<?php }}?>
									<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											
											if (CheckAuth::checkCredential(array('sendInvoiceAsEmail'))){?>
														<li>
														<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Invoice','<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'sendInvoiceAsEmail')); ?>')">Email Invoice</a>
														</li>
											<?php }
											}?>
											
											<?php 
											if (isset($invoice['id']) && $invoice['id']!=null) {
											if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))){ ?>
															<li>
															<a  href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Email Statement','<?php echo $this->url(array('id' => $invoice['id']), 'sendStatmentsAsEmail'); ?>')">Email Statement</a>
															</li>
											<?php }}?>
													
													
													

                                </ul>
							  
							  
                           </a>
			  
			   <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Comment', '<?php echo $this->escape($this->url(array('contractor_id' => $contractor['contractor_id']), 'contractorDiscussion')); ?>');">
			   <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                </span></a>
			  <a href="#"  data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="<?php echo "Mobile: ".$user['mobile1']." \r\nWork: ".$user['phone1'];?>">
			  <span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x" style="color:#00B0D8;"></i>
				  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span>
			  </a>
			  </td>
			  </tr>
			<?php if($isconfirmed){?>
			  <tr width="100%">
			  
			  <td style="color:#0CB225;" width="20%" align="center">
			  <a data-toggle="popover3" data-trigger="click" data-placement="bottom" data-content="" id="<?=$row['booking_id']?>" class="showConfirmMsg" style="color:#0CB225;">
			
			  
			  <?php 
			  if (isset($contractor['LastCheckIn']['check_in_time']) && !empty($contractor['LastCheckIn']['check_in_time'])){
				  echo date("H:i A",strtotime($contractor['LastCheckIn']['check_in_time']));
			   }?>
				  <a/>
				  </td>
			  </tr>
			  <?php } ?>
			  </table>
			  </td>
			  </tr>
			</table>
			
			</div>
			</div>
			</div>
			
		 <?php } //end of contractor loop ?> 
<!---- End Contracto box -----------------------------------> 

<!------------------------------- map box -------------------------------------------------------->
			<div class="col-sm-5"  style="border-radius: 10px; margin:0px; padding:5px; height:170px;">
			
			<div id="map_<?=$row['booking_id']?>" style="width:100%; height:160px; border-radius: 10px;"></div>
			
			</div>
			<div id="mapID_<?=$row['booking_id']?>" class="map1" value="<?=$row['booking_id']?>"></div>
			<div id="mapLat_<?=$row['booking_id']?>" value="<?=$currentlat?>"></div>
			<div id="mapLng_<?=$row['booking_id']?>" value="<?=$currentlng?>"></div>
			<div id="userAvatar_<?=$row['booking_id']?>" value="<?=$userAvatar?>"></div>
			<div id="bookinglat_<?=$row['booking_id']?>" value="<?=$bookinglat?>"></div>
			<div id="bookinglon_<?=$row['booking_id']?>" value="<?=$bookinglon?>"></div>

			
			</div>
			</div>
            </div>
			<?php } ?>   
    <?php } 
	
	////////////////// END ///////////////////////////////
	?>
            


			<?php  } else { ?>

            <div class="error-desc"> 
                There are no Bookings checks.
            </div> 
			
            
<?php }
}
 ?>
</div>







