<?php
$MAP_OBJECT_Booking = new GoogleMapAPI();
echo $MAP_OBJECT_Booking->getHeaderJS(); 
echo $MAP_OBJECT_Booking->getMapJS(); 

?>

<div class="ibox row">
  <div class="ibox-content">
  
    <div class="row padding-left-right">
	
      <div class="col-md-4">
			<h3>All Bookings Attendance</h3>
			<ol class="breadcrumb">
							<?php
							function breadcrumbs($separator = '', $home = 'Home') {

								$path = array_filter(explode('/', parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH)));
								$base_url = substr($_SERVER['SERVER_PROTOCOL'], 0, strpos($_SERVER['SERVER_PROTOCOL'], '/')) . '://' . $_SERVER['HTTP_HOST'] . '/';
								$breadcrumbs = array("<li><a href=\"$base_url\">$home</a></li>");
								$tmp = array_keys($path);
								$last = end($tmp);
								unset($tmp);

								foreach ($path as $x => $crumb) {
									$title = ucwords(str_replace(array('.php', '_'), array('', ' '), $crumb));
								if ($x == 1){
										
										$breadcrumbs[]  = "<li><a href=\"$base_url$crumb\">Booking Attendance</a></li>";
								}
								}

								return implode($separator, $breadcrumbs);
							}	
							echo breadcrumbs();

							?>
							
					</ol>
      </div>
	  <div class="col-md-8" style="cell-spacing:0px;">
	   <div class="col-md-4" style="padding:2px;margin:0px; text-align:right;">
	   <a href="<?php echo $this->escape($this->url(array(),'bookingAttendancePerContractor'));?>" class="btn btn-white" style="padding:7px;">
	   Attendance per contractor</a>
	   </div>
		  <div class="col-md-4" style="padding:2px;margin:0px;">
			<?php if (isset($this->select_contractor)) : ?>              
			   <?php echo $this->select_contractor->render(); ?>                  
		   <?php endif; ?>
		   </div>
		   <div class="col-md-4" style="padding:2px;margin:0px;">
			<?php if (isset($this->select_time)) : ?>              
			   <?php echo $this->select_time->render(); ?>                  
		   <?php endif; ?>
		   </div>
	  
	   
	  
	  </div>
    </div>
  </div>
</div>


<div class="ibox float-e-margins no-margin-b" style=" margin:0px; padding:0px; border-radius: 10px;  background: #F9F9F7;">
<div class="ibox-content" id="bookingAttendance_data" style=" margin:0px; padding:0px; border-radius: 10px;  background: #F9F9F7;">
			   		 <div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>							 

</div>			
</div>

<script>

	var filters = <?php echo json_encode($this->filters); ?>;
	var page_number = 0;
	var loading = false;
	  	// loading booking attendance data
	$(document).ready(function () {
	 getData(filters,page_number, 1);
		$(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {  
                   if(loading == false){
					  loading = true;
                      page_number++;					  
					  getData(filters,page_number);
                    }
            }
    });
	
  });
  	function getData(filters ,page_number, is_first_time){
      if (typeof(is_first_time)==='undefined') is_first_time = 0;
	  if(is_first_time == 0 && !($('#loading_img').length > 0)){$('#seeMore').remove();$('#result').append('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');}
	  $.ajax({
            type: "POST",
            data: {'fltr': filters , 'is_first_time':is_first_time , 'page_number': page_number},
            url: "<?php echo $this->url(array(), 'bookingCheckInCheckOutList'); ?>",
            success: function (result) {
			  if(is_first_time == 1){
			   $('#bookingAttendance_data').html(result);
			  
			  }else{
			   $("#result").append(result);
			  }
////////////////////// Added By Rand /////////////////////////////////////////////////
			  $.each($('.map1'), function (index, value) { 
				  id=$(this).attr('value');
				 is_map_drawn = ($('#is_drawn_'+id).attr('value')); 
				 
				 if(is_map_drawn == 0){
				  $('#is_drawn_'+id).attr('value',1);
				  bookinglat = parseFloat($('#bookinglat_'+id).attr('value'));
				  bookinglon = parseFloat($('#bookinglon_'+id).attr('value'));
				  latitude=parseFloat($('#mapLat_'+id).attr('value'));
				  lngtitude=parseFloat($('#mapLng_'+id).attr('value'));
				  avatar = $('#userAvatar_'+id).attr('value');
				  baseurl='';
				  if(avatar != null ){
				  baseurl = '/uploads/user_pic/thumb_medium/'+avatar;
				  }
				  else {baseurl = '/pic/contractor_pic1.png';}
				// create the maps
				var maps =[];
				var myOptions=[];
				myOptions[id] = {
					zoom: 12,
					center: new google.maps.LatLng(bookinglat, bookinglon),
					zoomControl: true,
					draggable: false,
				    zoomControlOptions: {
					  position: google.maps.ControlPosition.LEFT_CENTER
				       },
					mapTypeId: google.maps.MapTypeId.MyMapApp
				}
				maps[id] = new google.maps.Map(document.getElementById("map_"+id), myOptions[id]);
				var marker1 = new google.maps.Marker({
					  // The below line is equivalent to writing:
					  // position: new google.maps.LatLng(-34.397, 150.644)
					  position: {lat: bookinglat, lng: bookinglon},
					  map: maps[id]
					});
					if( latitude!=0 && lngtitude!=0){
				var marker2 = new google.maps.Marker({
					  position: {lat: latitude, lng: lngtitude},
					  map: maps[id]
					});
					// draw path between two markers
					var BathCoordinates = [
						  {lat: bookinglat, lng: bookinglon},
						  {lat: latitude, lng: lngtitude}
						];
						var RoadPath = new google.maps.Polyline({
						  path: BathCoordinates,
						  geodesic: true,
						  strokeColor: '#FF0000',
						  strokeOpacity: 1.0,
						  strokeWeight: 2
						});

						RoadPath.setMap(maps[id]);
						
						
					}
				 }
					
								});
////////////////////// End /////////////////////////////////////////////////
			  $('#loading_img').remove();
			  loading = false;
			  console.log(loading);
			  
			}
		});
   
   }
   
   function seeMore(){
	   $('#seeMore').remove();
	    if(loading == false){
					  loading = true;
                      page_number++;					  
					  getData(filters,page_number);
                    }
		
   }



</script>
