<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Product
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsProductDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Product?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsProductDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td style="width: 40px; text-align: center;"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Product</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td style="width: 40px; text-align: center;">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <span class="details_info_name"><?php echo $this->escape($row['product']) ?></span>    
                                        </div>
                                        <div class="details_info_l">

                                            <?php if (CheckAuth::checkCredential(array('settingsProductEdit'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsProductEdit')); ?>','100','450');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsProductDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsProductDelete')); ?>" onclick="return confirm('are you sure you want to delete this Product?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Product.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsProductAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsProductAdd')); ?>','100','450');" class="btn_a">
                            <div class="text_pos">
                                New Product
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div style="margin-bottom: 5px;">
                        Search Product
                    </div>
                    <div style="margin-bottom: 5px;">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsProductList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div style="margin-bottom: 5px; padding-bottom: 10px; border-bottom: 1px #999999 solid; width: 215px;">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsProductList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

