

<div class="container-fluid"> 
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>"  onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
     

		 <div class="form-group">
            <label >
              Address Details :   
			</label>
		
         </div>
		 
		
		
          <div class="form-group">
            <label class="col-md-3">
               Unit / Lot Number :    </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('unit_lot_number')->render(); ?>
            </div>
        </div>

         <div class="form-group">
            <label class="col-md-3">
               Street Number :   </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('street_number')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-3">
               Street Name :   </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('street_address')->render(); ?>
            </div>
        </div>
        
         <div class="form-group">
            <label class="col-md-3">
                Suburb :   </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('suburb')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-3">
                Postcode :   </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('postcode')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-3">
                PO Box :   </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('po_box')->render(); ?>
            </div>
        </div>
      
        <div class="form-group">
            <label class="col-md-3">
                 Country :  </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('country_id')->render(); ?>
            </div>
        </div>
        
         <div class="form-group" id="state_block"  <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-3">
                 State :  </label>
            <div class="col-md-9" id="state_cont">
                <?php echo $this->form->getElement('state')->render(); ?>
            </div>
        </div>

       <div class="form-group" id="city_block"  <?php if (!$this->form->getElement('state')->getValue()) { ?>style="display: none;"<?php } ?>>
            <label class="col-md-3">
                  City : </label>
            <div class="col-md-9" id="city_cont">
                <?php echo $this->form->getElement('city_id')->render(); ?>
            </div>
        </div>
		
		
		
		<div class="form-group">
            <label >
               Contact Details : 
		    </label>
		
        </div>
			
		
        <div class="form-group">
            <label class="col-md-3">
                Email 1 : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('email1')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">
                Email 2 : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('email2')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">
                Email 3 : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('email3')->render(); ?>
            </div>
        </div>
	
		<div class="form-group" id= "systemEmail_tr">
            <label class="col-md-3">
                System Email: </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('systemEmail')->render(); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">
                Mobile 1:  : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('mobile1')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">
                Mobile 2:  : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('mobile2')->render(); ?>
            </div>
        </div>  <div class="form-group">
            <label class="col-md-3">
                Mobile 3:  : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('mobile3')->render(); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">
                Phone 1:   : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('phone1')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">
                Phone 2:  : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('phone2')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">
                Phone 3:  : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('phone3')->render(); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">
               Fax:  : </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('fax')->render(); ?>
            </div>
        </div>
        
         <div class="form-group">
            <label class="col-md-3">
               Emergency Phone:     </label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('emergency_phone')->render(); ?>
            </div>
        </div>

       
         
		<div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
    </form>
</div>


<script type="text/javascript">

    function getState() {
        if ($('#country_id').val()) {
            $('#state_block').css('display', 'block');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id=" + $('#country_id').val(),
                success: function (msg) {
                    $('#state_block').css('display', 'block');
                    $('#state_cont').html(msg);
                }
            });
        } else {
            $('#state_block').css('display', 'none');
            $('#city_block').css('display', 'none');
        }
    }

    function getCities() {
        if ($('#state').val()) {
            $('#city_block').css('display', 'block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id=" + $('#country_id').val() + "&state=" + $('#state').val(),
                success: function (msg) {
                    $('#city_block').css('display', 'block');
                    $('#city_cont').html(msg);
                }
            });
        } else {
            $('#city_block').css('display', 'none');
        }
    }
	
	function getFeildByRoleId(){
        var role_name = $('#role_id :selected').text();
		
		if((role_name == 'Super Admin') || (role_name == 'Contractor')){
			var w = $('#systemEmail_tr').html();
			
			$('#systemEmail_tr').html('<label class="col-md-3">System Email: </label>'+
            '<div class="col-md-9">'+
			'<input type="text" name="systemEmail" id="systemEmail" value="" class="form-control"></div>');
		}
		else{
			$('#systemEmail_tr').html('<label class="col-md-3"></label>'+
            '<div class="col-md-9">'+'</div>');
		}
    }
	
	function setFeildValueByCompanyName(){
        var company_id = $('#company_id :selected').val();
		if($('#systemEmail')){
			$.ajax({
					type: "POST",
					url:  "<?php echo $this->url(array(), 'settingsGetCompanyInquiryEmail'); ?>",
					data: "company_id="+company_id,
					success: function(inquiryEmail) {
					   $('#systemEmail').val(inquiryEmail.replace(/"/g, ""));
					}
			});
		}
    }

</script>