<style>
    .h1big1{color: #000000; margin-top: 0px; margin-bottom: 20px; font-size: 27px; font-weight: 100; }
    .row1{background: #767371; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}
    .row2{background: #1ab394; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}
</style>
<div class="container-fluid">


    <?php if ($this->escape($this->flagName == 'upgrade_plan')) { ?>
        <p style="margin-left: 10px;">You have reach to maximum number of users in your plan subscription, You should upgrade by changing your plan.</p>            
        <div class="form-group">
            <div class="pull-right" id="button_cont">                
                <button class="btn btn-primary" onclick="upgradeButton()">UPGRADE NOW</button>
            </div>

        </div>
    <?php } elseif ($this->escape($this->flagName == 'add_billing')) { ?>
        <p style="margin-left: 10px;">You didn't add your billing information yet, you should add billing information before add new user.</p>            
        <div class="form-group">
            <div class="pull-right" id="button_cont">  

                <form name="addBillingInfo" id="addBillingInfo" method="post" action="<?php echo $this->escape($this->url(array(), 'manageBillingInformation')); ?>">
                    <input type="hidden" class="form-control" name="nameFlag" value= "add_billing_info" />            
                    <input type="hidden" class="form-control" name="operation" value= "pre_add_billing" />
                    <button class="btn btn-primary" onclick="document.getElementById('addBillingInfo').submit();">ADD BILLING INFORMATION NOW</button>
                </form>
            </div>

        </div>
    <?php } elseif ($this->escape($this->flagName == 'approve_payment')) { ?>
          <div class="col-xs-8" style="margin-top: 8px;">
            <table class="table-bordered-responsive" style="width: 80% !important;">
                <tbody>
                    <tr style="border-bottom: 4px solid white;">
                        <td id="max_user"  class="h1big1 row1" >Selected Plan : <?php echo $this->escape($this->planName); ?></td>
                    </tr>
                    <tr style="border-bottom: 4px solid white;">
                        <td  id="plan_name" class="h1big1 row2">Per User :$ <?php echo $this->escape($this->chargeAmount); ?></td>
                    </tr>
                    <tr style="border-bottom: 4px solid white;">
                        <td id="charge_amount"  class="h1big1 row1">Period : <?php echo $this->escape($this->paymentData['period']); ?> Days</td>
                    </tr>
                    <tr>
                        <td id="totalAmount1" class="h1big1 row2">Total Amount :$ <?php echo $this->escape(number_format($this->paymentData['amount'],2,'.','')); ?></td>                       
                    </tr>
                </tbody>
            </table>
        </div>           
        <div class="col-xs-4">
            <?php
            $keys = implode(",", array_keys($this->userData));
            $value =implode(",",$this->userData);
            ?>
            <?php //print_r($this->userData); ?>
            <?php //echo $this->chargeAmount; ?>
            <p>Please approve the payment for adding user.Please approve the payment for adding user.</p>
            <div class="pull-right" id="button_cont">  
                <form name="approvePaymentForm" id="approvePaymentForm" method="post" action="<?php echo $this->escape($this->url(array(), 'settingsUserAdd')); ?>">
                    <input type="hidden" class="form-control" name="userDatakeys" value= "<?php echo $keys; ?>" />   
                    <input type="hidden" class="form-control" name="userDatavalue" value= "<?php echo $value; ?>" />  
                    <input type="hidden" class="form-control" name="isApproved" value= "yes" />
                    <button class="btn btn-primary" style="margin-right: 38px !important;" onclick="document.getElementById('approvePaymentForm').submit();">APPROVE</button>
                </form>
            </div>

        </div>
       
    <?php } ?>



</div>
<script >
    function upgradeButton() {
        var host = 'http://<?php echo $_SERVER['SERVER_NAME'] ?>';
        console.log("itt click " + host);
        window.location = host + "/subscription/Payment/";
    }
</script>