<div class="menu_postion">
    <div class="sub_cont">
        <?php if (isset($this->select_status)) : ?>
            <div class="sub_button first_sub_button">
                <?php echo $this->select_status->render(); ?>
            </div>
        <?php endif; ?>

        <?php if (isset($this->select_contractor)) : ?>
            <div class="sub_button">
                <?php echo $this->select_contractor->render(); ?>
            </div>
        <?php endif; ?>
        <?php if (isset($this->select_city)) : ?>
            <div class="sub_button">
                <?php echo $this->select_city->render(); ?>
            </div>
        <?php endif; ?>
		
		<?php if (isset($this->select_active)) : ?>
            <div class="sub_button">
                <?php echo $this->select_active->render(); ?>
            </div>
        <?php endif; ?>
    </div>
</div>