<?php if (isset($this->is_first_time) && $this->is_first_time == 1): ?>
    <?php if ($this->data): ?>
        <form id="contractor_form" action="<?php echo $this->escape($this->url(array(), 'settingsUserDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Contractor?');">

            <?php if (CheckAuth::checkCredential(array('settingsUserDelete'))): ?>
                <input class="btn  btn-danger" type="submit" value="Delete"/>
                <input type="button" class="btn btn-primary" value="Delete Profile" onclick="delete_user_profile()"/>   
               
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send Email To All Contractors',  '<?php echo $this->escape($this->url(array() , 'sendEmailToAllContractors'))?>')" onclick=""><i class="fa fa-envelope-o" aria-hidden="true"></i> Send Email To All Contractors</a>
            
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Send SMS To Contractors', '<?php echo $this->escape($this->url(array(), 'sendSmsContractor')) ?>')" onclick=""> <i class="fa fa-comments" aria-hidden="true"></i>
					Send SMS To Contractors</a>
            
            <?php endif; ?> 

        <?php else: ?>
            <h3>There are no User. </h3>
        <?php endif; ?>
    <?php endif; ?>
    <?php if (isset($this->data) && !empty($this->data)): ?>
        <?php $count = 0; ?>
        <?php $modelAuthRole = new Model_AuthRole(); ?>
        <div class="row">
            <?php foreach ($this->data as $row) : ?>
                <?php $count += 1; ?>
                <?php $roleName = $modelAuthRole->getRoleName($row['role_id']); ?>
                <div class="col-lg-4">
                    <div class="contact-box contractor-box">
                        <!--by mohamed-->            
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<?php echo $row['profile_completeness']; ?>%">
                                <?php echo $row['profile_completeness']; ?>%
                            </div>
                        </div>
                        <!--by mohamed-->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <?php if ('contractor' == $roleName) { ?>
                                        <?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))) { ?>
                                            <?php if ($row['avatar']) { ?>
                                                <div id="preview"> 
                                                    <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')); ?>"><img class="img-circle m-t-xs img-responsive" style="max-width:80px; !important" src="<?php echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $row['avatar']); ?>" /></a>
                                                </div>
                                            <?php } else { ?>
                                                <div id="preview"> 							
                                                    <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')); ?>"><img class="img-circle m-t-xs img-responsive" style="max-width:75px; !important" src="<?php echo $this->baseUrl('/pic/contractor_pic1.png'); ?>" /></a>
                                                </div>
                                            <?php } ?> 
                                        <?php } else { ?>					
                                            <?php if ($row['avatar']) { ?>
                                                <div id="preview"> 
                                                    <img class="img-circle m-t-xs img-responsive" style="max-width:80px; !important" src="<?php echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $row['avatar']); ?>" />
                                                </div>
                                            <?php } else { ?>
                                                <div id="preview"> 							
                                                    <img class="img-circle m-t-xs img-responsive" style="max-width:75px; !important" src="<?php echo $this->baseUrl('/pic/contractor_pic1.png'); ?>" />
                                                </div>
                                            <?php } ?> 

                                        <?php } ?>
                                    <?php } else { ?>
                                        <?php if (CheckAuth::checkCredential(array('settingsUserInfoList'))) { ?>
                                            <?php if ($row['avatar']) { ?>
                                                <div id="preview"> 
                                                    <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')); ?>"><img class="img-circle m-t-xs img-responsive" style="max-width:80px; !important" src="<?php echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $row['avatar']); ?>" /></a>
                                                </div>
                                            <?php } else { ?>
                                                <div id="preview"> 							
                                                    <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')); ?>"><img class="img-circle m-t-xs img-responsive" style="max-width:75px; !important" src="<?php echo $this->baseUrl('/pic/contractor_pic1.png'); ?>" /></a>
                                                </div>
                                            <?php } ?> 
                                        <?php } else { ?>
                                            <?php if ($row['avatar']) { ?>
                                                <div id="preview"> 
                                                    <img class="img-circle m-t-xs img-responsive" style="max-width:80px; !important" src="<?php echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $row['avatar']); ?>" />
                                                </div>
                                            <?php } else { ?>
                                                <div id="preview"> 							
                                                    <img class="img-circle m-t-xs img-responsive" style="max-width:75px; !important" src="<?php echo $this->baseUrl('/pic/contractor_pic1.png'); ?>" />
                                                </div>
                                            <?php } ?> 
                                        <?php } ?>
                                    <?php } ?>
                                    <div class="m-t-xs font-bold"><?php echo $this->escape($row['view_role_name']) ?></div>
                                    <div class="star-rating-<?= $row['user_id']; ?>"> 
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="contractor_rate" class="rating-value" value="<?= round($row['contractorRate']); ?>">
                                    </div>
                                    <script>
                                        var $star_rating = $('.star-rating-' +<?= $row['user_id'] ?> + ' .fa');
                                        console.log($star_rating);
                                        var SetRatingStar = function () {
                                            return $star_rating.each(function () {
                                                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                                                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                                                } else {
                                                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                                                }
                                            });
                                        };

                                        $star_rating.on('click', function () {
                                            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
                                            return SetRatingStar();
                                        });

                                        SetRatingStar();
                                    </script>

                                </div>

                            </div>
                            <div class="col-sm-8 address-details" style="word-wrap:break-word">
                                <h3><strong>
                                        <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['user_id']) ?>" class="checkbox_input_pos"/>
                                        <?php if ('contractor' == $roleName): ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')); ?>" class="details_info_name"><?php echo $row['username'] ?></a>
                                            <?php else: ?>
                                                <span class="details_info_name"><?php echo $this->escape($row['username']) ?></span> 
                                            <?php endif; ?>
                                        <?php else: ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsUserInfoList'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('user_id' => $row['user_id']), 'settingsUserInfoList')); ?>" class="details_info_name"><?php echo $row['username'] ?></a>
                                            <?php else: ?>
                                                <span class="details_info_name"><?php echo $this->escape($row['username']) ?></span> 
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </strong>
                                    <?php if ($row['countAwaitingaccept'] || $row['countUnapprovedBookingContractor'] || $row['countAwaitingUpdate'] ||
                                            $row['countRejectBookingContractor'] || $row['countOpenComplaintForContractor'] || $row['countUnapprovedComplaintForContractor'] || $row['countUnapprovedPaymentsForContractor'] || $row['countClaimOwnerContractor'] || $row['countMissedCallsContractor']) {
                                        ?>
                                        <span class="dropdown">
                                            <a aria-expanded="false" class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                                <i class="fa fa-bell"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-alerts">
                                                <?php $modelBookingStatus = new Model_BookingStatus(); ?>
            <?php if ($row['countAwaitingaccept'] && $row['countAwaitingaccept'] != 0): ?>
                                                    <li>
                                                        <a class="dropdown-toggle count-info" 
                                                           href="<?php echo $this->escape($this->url(array(), 'awaitingAcceptBooking')); ?>?fltr[contractor_id]=<?php echo $row['user_id'] ?>">
                                                            Awaiting accept <span class="badge"><?php echo $row['countAwaitingaccept']; ?></span>

                                                        </a>
                                                    </li>
                                                <?php endif; ?>

            <?php if ($row['countUnapprovedBookingContractor'] && $row['countUnapprovedBookingContractor'] != 0 && CheckAuth::checkCredential(array('canApproveBooking'))): ?>

                                                    <li>
                                                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'unapproved')); ?>?fltr[contractor_id]=<?php echo $row['user_id'] ?>">
                                                            Awaiting Approval  <span class="badge"><?php echo $row['countUnapprovedBookingContractor']; ?></span>

                                                        </a>
                                                    </li>
                                                <?php endif; ?>

            <?php if ($row['countAwaitingUpdate'] && $row['countAwaitingUpdate'] != 0): ?>

                                                    <li>
                                                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'awaitingUpdateBooking')); ?>?fltr[contractor_id]=<?php echo $row['user_id'] ?>">	
                                                            Awaiting Update  <span class="badge"><?php echo $row['countAwaitingUpdate']; ?></span>

                                                        </a>
                                                    </li>
            <?php endif; ?>






                                                <?php //D.A 29/07/2015 ?>
            <?php if ($row['countRejectBookingContractor'] && $row['countRejectBookingContractor'] != 0): ?>

                                                    <li>
                                                        <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[rejectBookings]=reject&fltr[contractor_id]=<?php echo $row['user_id']; ?>">
                                                            Rejected Booking <span class="badge"><?php echo $row['countRejectBookingContractor']; ?></span>

                                                        </a>
                                                    </li>
                                                <?php endif; ?>

            <?php if ($row['countOpenComplaintForContractor'] && $row['countOpenComplaintForContractor'] != 0): ?>

                                                    <li>
                                                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>?fltr[complaintStatus]=open&fltr[contractor_id]=<?php echo $row['user_id']; ?>">	
                                                            Complaints <span class="badge"><?php echo $row['countOpenComplaintForContractor'] ? $row['countOpenComplaintForContractor'] : 0; ?></span>
                                                        </a>
                                                    </li>
            <?php endif; ?>


            <?php if ($row['countUnapprovedComplaintForContractor'] && CheckAuth::checkCredential(array('canApproveComplaint'))): ?> 

                                                    <li>
                                                        <a class="dropdown-toggle count-info" 
                                                           href="<?php echo $this->escape($this->url(array(), 'unapprovedComplaint')); ?>">
                                                            Unapproved Complaints  <span class="badge">
                <?php echo $row['countUnapprovedComplaintForContractor']; ?></span>

                                                        </a>
                                                    </li>
            <?php endif; ?>


            <?php if ($row['countUnapprovedPaymentsForContractor'] && $row['countUnapprovedPaymentsForContractor'] != 0 && CheckAuth::checkCredential(array('paymentList'))): ?>  

                                                    <li>
                                                        <a class="dropdown-toggle count-info" 
                                                           href="<?php echo $this->escape($this->url(array(), 'paymentList')); ?>?fltr[is_approved]=no&fltr[contractor_id]=<?php echo $row['user_id']; ?>">
                                                            Unapproved Payments  <span class="badge"><?php echo $row['countUnapprovedPaymentsForContractor']; ?></span>

                                                        </a>
                                                    </li>
            <?php endif; ?>



            <?php if ($row['countClaimOwnerContractor'] && $row['countClaimOwnerContractor'] != 0): ?>

                                                    <li>
                                                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'claimOwner')); ?>?fltr[user_id]=<?php echo $row['user_id']; ?> ">
                                                            <i class="fa fa-bell"></i> <span class="label label-primary"><?php echo $row['countClaimOwnerContractor']; ?></span>
                                                            Claim Owners
                                                        </a>
                                                    </li>
                                                <?php endif; ?>

            <?php if ($row['countMissedCallsContractor'] && $row['countMissedCallsContractor'] != 0): ?> 

                                                    <li>
                                                        <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>?is_read= no&user_id=<?php echo $row['user_id']; ?>"> 
                                                            <i class="fa fa-bell"></i> <span class="label label-primary"><?php echo $row['countMissedCallsContractor']; ?></span>
                                                            Messages 
                                                        </a>
                                                    </li>
            <?php endif; ?>

                                            </ul>
                                        </span>
        <?php } ?>
                                </h3>
                                <div>
                                    <div>

        <?php if (CheckAuth::checkCredential(array('activateOrDeactivateUsers'))): ?>
                                            <div>
                                                <label  class="checkup date_is_visited" style="vertical-align:top;">Active</label>
                                                <div class="switch inline">
                                                    <div class="onoffswitch custome_service_switch ">
                                                        <input  type="checkbox" <?php if ($this->escape($row['active']) == 'TRUE') {
                echo 'checked="true"';
            } ?>    class="onoffswitch-checkbox" id="active_input_<?= $row['user_id']; ?>" onchange="toggle_active_deactive(<?php echo $row['user_id']; ?>)" 
            <?php if ($this->escape($row['active']) == 'TRUE') echo 'value="true"';
            else 'value="false"'; ?>>
                                                        <label class="onoffswitch-label" for="active_input_<?= $row['user_id']; ?>" style="margin-bottom:0px">
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                        
         <?php if (CheckAuth::checkCredential(array('blockUsers'))){ ?>
                                <div>
                                    <label  class="checkup date_is_visited" style="vertical-align:top;">Block</label> 
                                    <div class="switch inline">
                                        <div class="onoffswitch custome_service_switch">
                                            <input  type="checkbox" <?php
                                            if ($this->escape($row['blocked'])) {
                                                echo 'checked="true" value="true"';
                                            }
                                            else{
                                                echo 'value="false"';
                                            }
                                                        
                                            ?>    
                                                   class="onoffswitch-checkbox" id="block_input_<?= $row['user_id']; ?>" onchange="toggle_blocked('<?= $this->url(array(), 'blockOrUnblockUsers'); ?>','<?= $row['user_id'] ?>')" 
                                                    >
                                            <label class="onoffswitch-label" for="block_input_<?= $row['user_id']; ?>" style="margin-bottom:0px">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            <?php }?>

                                    </div>
                                    <div style="margin-bottom: 5px;">

                                        <?php if (CheckAuth::checkCredential(array('calendar'))): ?>
                                            <a class="contractor_gr" style="color:#000;" href="<?php echo $this->escape($this->url(array(), 'calendar')); ?>?contractor=<?php echo $row['user_id']; ?>">
                                                <i class="fa fa-calendar fa-lg"></i><span class="nav-label">
                                                </span> </a>					
        <?php endif; ?>  																
                                        <a class="contractor_gr" style="color:#000;margin-left: 8px;" target="_blank"  href="#" onclick="window.open('<?php echo 'https://www.google.com/calendar/embed?src=' . $this->escape($row['email1']); ?>', '_blank');" >
                                            <img src="/pic/gc.png"/>											
                                        </a>
                                    </div>


                                </div>
                                <div  class="contacts">
                                   
                                    <ul><li class="float-l"><i class="fa fa-cal"></i>&nbsp;</li><li class="float-l" style="width:90%"> <?php echo $this->escape(getDateFormating($row['created'])); ?> </li></ul>                    
                                    
                                    
                                    <!-- /*******IBM*/ -->
                                    <?php
                                    $modelContractorMobileInfo = new Model_ContractorMobileInfo();
                                    $contractorDeviceInfo = $modelContractorMobileInfo->getAllByContractorId($row['user_id']);
                                    if (isset($contractorDeviceInfo) && !empty($contractorDeviceInfo)):
                                        ?>				
                                        <a href="javascript:;" class="text-success"  data-toggle="modal" data-target="#popupi" onclick="popupi('Device Information', '<?php echo $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsDeviceContractorInfo')); ?>');"><i class="fa fa-certificate text-info"></i>Devices with access to App</a>
        <?php else: ?>
                                        <i class="fa fa-certificate text-info"></i>No devices with access to App
                                    <?php endif; ?>
                                    <!-- /****End*****/ -->
                                    <ul><li class="float-l"><i class="fa fa-map-marker"></i>&nbsp;</li><li class="float-l" style="width:90%"> <?php echo $this->escape(get_line_address($row)) ?> </li></ul>                    
                                    <ul><li class="float-l"><i class="fa fa-home"></i>&nbsp;</li><li class="float-l" style="width:90%"> <?php echo $this->escape($row['country_name'] . ' - ' . $row['city_name']) ?></li></ul>
                                    <?php if ($row['email1']) { ?>
                                        <ul><li class="float-l"><i class="fa fa-envelope"></i>&nbsp;</li><li class="float-l" style="width:90%"> <?php echo $this->escape($row['email1']) ?></li></ul>
                                    <?php } ?>

                                    <?php if ($row['mobile1']) { ?>
                                        <ul><li class="float-l"><i class="fa fa-mobile-phone"></i>&nbsp;</li><li class="float-l" style="width:90%"> <?php echo $this->escape($row['mobile1']) ?></li></ul>
                                    <?php } ?>

                                    <?php if ($row['phone1']) { ?>
                                        <ul><li class="float-l"><i class="fa fa-mobile-phone"></i>&nbsp;</li><li class="float-l" style="width:90%"> <?php echo $this->escape($row['phone1']) ?></li></ul>
                                    <?php } ?>

                                    <?php if ($row['fax']) { ?>
                                        <ul><li class="float-l"><i class="fa fa-phone"></i>&nbsp;</li><li class="float-l" style="width:90%"> <?php echo $this->escape($row['fax']) ?></li></ul>
        <?php }; ?>
        <?php if ($row['emergency_phone']) { ?>
                                        <ul><li class="float-l"><i class="fa fa-phone"></i>&nbsp;</li><li class="float-l" style="width:90%"> <?php echo $this->escape($row['emergency_phone']) ?></li></ul>
                                    <?php } ?>					 	
                                </div>	

                                <div class="details_info_l actions-list">
                                    <?php
                                    $actions = array();

                                    if (CheckAuth::checkCredential(array('settingsUserEdit'))) {
                                        $popupConfig = "'Edit User','{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserEdit'))}'";
                                        $actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt"><i class="fa fa-pencil-square-o"></i>Edit</a>';
                                    }
									
		                          

                                    if ('contractor' == $roleName) {
                                        if (CheckAuth::checkCredential(array('settingsContractorInfoList'))) {
                                            $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')) . '" class="details_info_opt">Contractor Info</a>';
                                        }
                                    } else {
                                        if (CheckAuth::checkCredential(array('loginAsThisUser'))) {
                                            $actions[] = '<a href="' . $this->escape($this->url(array('user_id' => $row['user_id']), 'settingsUserInfoList')) . '" class="details_info_opt">User Info</a>';
                                        }
                                    }
                                    if ('contractor' == $roleName) {
                                        $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorServiceList')) . '" class="details_info_opt">Services</a>';
                                    }

                                    if (CheckAuth::checkCredential(array('loginAsThisUser'))) {
                                        $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserLoginAsThisUser'))}','Are you sure you want to Login as this User ?'";
                                        $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Login As This User</a>';
                                    }

                                    if (CheckAuth::checkCredential(array('activateOrDeactivateUsers'))) {
                                        $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['user_id']), 'activateOrDeactivateUsers')) . '" class="details_info_opt">' . ($row['active'] == 'TRUE' ? 'Deactivate' : 'Activate') . '</a>';
                                    }

                                    if (CheckAuth::checkCredential(array('settingsUserPassword'))) {
                                        $popupConfig = "'Change Password','{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserPassword'))}'";
                                        $actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Change Password</a>';
                                    }

                                    if (CheckAuth::checkCredential(array('settingsUserDelete'))) {
                                        $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserDelete'))}','Are you sure you want to delete this User ?'";
                                        $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                        $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserProfileDelete'))}','Are you sure you want to delete all user profile data ?'";
                                        $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete user with profile</a>';
                                    }
                                    if ('contractor' == $roleName) {
                                        $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'defultPage')) . '" class="details_info_opt">Defult Page</a>';
                                    }
                                    
                                    if(CheckAuth::checkCredential(array('sendSmsTwilio'))) 
                                     {
                                        $popupConfigs = "'Send SMS','{$this->escape($this->url(array('user_id' => $row['user_id']), 'sendSmsForContractor'))}'";
                                        $actions[] = '<a href="javascript:;"  data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfigs . ');" class="details_info_opt">Send SMS</a>';
                                     }


									  if (CheckAuth::checkCredential(array('sendSmsTwilio'))) {
												$href = "'{$this->escape($this->url(array('sms_id' => -1,'user_id'=>$row['user_id']), 'smsInbox'))}'";
                                                $actions[] = '<a href=' . $href . ' >
                                                SMS Inbox</a>';                                       
												}

                                    $line_actions = array_slice($actions, 0, 1);
                                    $drop_down_actions = array_slice($actions, 1);
                                    ?>

        <?php echo implode('&ensp;', $line_actions); ?>
        <?php if ($drop_down_actions): ?>
                                        <!-- action button --> 
                                        <div class="btn-group ">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                    <li> <?php echo $drop_down_action; ?></li>
            <?php endforeach; ?>
                                            </ul>
                                        </div>

                                        <!-- action button -->
        <?php endif; ?>
                                </div>

                            </div>	
                        </div>	


                    </div>			
                </div> 


    <?php endforeach; ?>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <a class="btn btn-primary" href="javascript:;" id="load_more"> Load More  </a>
            </div>
            <div class="col-lg-4"></div>
        </div>
    <?php endif; ?>

<?php if (isset($this->is_first_time) && $this->is_first_time == 1 && (isset($this->data) && !empty($this->data))): ?>


    </form>
<?php endif; ?>
	 


