<?php if(isset($this->is_first_time) && $this->is_first_time == 1):?>
  <?php if ($this->data): ?>
     <form id="form" action="<?php echo $this->escape($this->url(array(), 'settingsUserDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Customer?');">
        <?php if (CheckAuth::checkCredential(array('settingsUserDelete'))): ?>
          	<input class="btn  btn-danger" type="submit" value="Delete"/>
        <?php endif; ?>
      <table class="table table-bordered responsive-table" id="customer-responsive-table">
        <thead>
          <tr>
            <th class="checkbox_booking_cont">
            		<input type="checkbox" name="checkboxall" id="checkboxallcustomer"/>
					
            </th>
            <th><b>User Info</b></th>
            <th><b>Contact Details</b></th>
            <th><b>Address Details</b></th>
          </tr>
        </thead>
        <tbody id="result">
  
  <?php else: ?>
     
	 <h3 class="font-bold">There are no User. </h3>
  
<?php endif;?>
<?php endif;?>


<?php if ($this->data): ?>

<?php $count = 0; ?>
		  <?php $modelAuthRole = new Model_AuthRole(); ?>
          <?php foreach ($this->data as $row) : ?>
          <?php $count += 1; ?>
          <tr>
            <td class="checkbox_booking_cont"><div class="details_info_l">
                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['user_id']) ?>" class="checkbox_input_pos"/>
              </div></td>
            <td>
			 <?php $roleName = $modelAuthRole->getRoleName($row['role_id']); ?>
                                        <div class="details_info_l" style="font-size: 12px;">
                                            <div>
                                                <?php if ('contractor' == $roleName): ?>
                                                    <?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')); ?>" class="details_info_name"><?php echo $row['username'] ?></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><?php echo $this->escape($row['username']) ?></span> 
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if (CheckAuth::checkCredential(array('settingsUserInfoList'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('user_id' => $row['user_id']), 'settingsUserInfoList')); ?>" class="details_info_name"><?php echo $row['username'] ?></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><?php echo $this->escape($row['username']) ?></span> 
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <div>
                                                    <span style="color: #A1A1A1;">Role:</span> <?php echo $this->escape($row['view_role_name']) ?>
                                                </div>
                                                <div>
												
												<?php if (CheckAuth::checkCredential(array('activateOrDeactivateUsers'))):?>
													<div>
															<label  class="checkup date_is_visited" style="vertical-align:top;">Active</label>
															<div class="switch inline">
																<div class="onoffswitch custome_service_switch ">
																	<input  type="checkbox" <?php if($this->escape($row['active']) == 'TRUE'){ echo 'checked="true"';}?>    class="onoffswitch-checkbox" id="active_input" onchange="toggle_active_deactive(<?php echo $row['user_id'];?>)" 
																	<?php if($this->escape($row['active'])=='TRUE') echo 'value="true"'; else 'value="false"';?>>
																	<label class="onoffswitch-label" for="active_input">
																		<span class="onoffswitch-inner"></span>
																		<span class="onoffswitch-switch"></span>
																	</label>
																</div>
															</div>
													</div>
												<?php endif;?>
                                                  <?php /*  <span style="color: #A1A1A1;">Active:</span> <?php echo $this->escape($row['active'] == 'TRUE' ? 'Yes' : 'No') ?>*/?>
                                                </div>
												<div>
                                                    <span style="color: #A1A1A1;">Calendar:</span> 
													<?php 
													/*$user = 'danielali@tilecleaners.com.au';
													$pass = 'danielanew2012';
													$service = Zend_Gdata_Calendar::AUTH_SERVICE_NAME; // predefined service name for calendar

													$client = Zend_Gdata_ClientLogin::getHttpClient($user,$pass,$service);
													$gdataCal = new Zend_Gdata_Calendar($client);*/
													
													$calendar_link = "https://www.google.com/calendar/embed?src=".$row['email1'];  ?>
													<a href="<?php echo $calendar_link; ?>" target="_blank" >view</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details_info_l actions-list">
                                            <?php
                                            $actions = array();

                                            if (CheckAuth::checkCredential(array('settingsUserEdit'))) {
                                                $popupConfig = "'Edit User','{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserEdit'))}'";
                                                $actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt"><i class="fa fa-pencil-square-o"></i>Edit</a>';
                                            }

                                            if ('contractor' == $roleName) {
                                                if (CheckAuth::checkCredential(array('settingsContractorInfoList'))) {
                                                   $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')) . '" class="details_info_opt">Contractor Info</a>';
													
                                                }
                                            } else {
                                                if (CheckAuth::checkCredential(array('loginAsThisUser'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('user_id' => $row['user_id']), 'settingsUserInfoList')) . '" class="details_info_opt">User Info</a>';
                                                }
                                            }
											if ('contractor' == $roleName) {                                                
                                                   $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorServiceList')) . '" class="details_info_opt">Services</a>';
											} 

                                            if (CheckAuth::checkCredential(array('loginAsThisUser'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserLoginAsThisUser'))}','Are you sure you want to Login as this User ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Login As This User</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('activateOrDeactivateUsers'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['user_id']), 'activateOrDeactivateUsers')) . '" class="details_info_opt">' . ($row['active'] == 'TRUE' ? 'Deactivate' : 'Activate') . '</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('settingsUserPassword'))) {
                                                $popupConfig = "'Change Password','{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserPassword'))}'";
                                                $actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Change Password</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('settingsUserDelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserDelete'))}','Are you sure you want to delete this User ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                            }
											if ('contractor' == $roleName) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'defultPage')) . '" class="details_info_opt">Defult Page</a>';
											
                                            }
											
												   
                                            $line_actions = array_slice($actions, 0, 1);
                                            $drop_down_actions = array_slice($actions, 1);
                                            ?>

                                           <?php echo implode('&ensp;', $line_actions); ?>
              <?php if ($drop_down_actions): ?>
              <!-- action button --> 
				<div class="btn-group ">
					<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle create-btn">Actions <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<?php foreach ($drop_down_actions as $drop_down_action): ?>
							<li> <?php echo $drop_down_action; ?></li>
						<?php endforeach; ?>
					</ul>
			    </div>
	
				<!-- action button -->
              <?php endif; ?>
                                        </div>
										
										

			</td>
            <td class="details_info_l" style="vertical-align: top;">
			 <div class="details_info_l" style="font-size: 12px;">
                                            <?php if ($row['email1']): ?>
                                                <div><i class="fa fa-envelope">&nbsp;</i> <?php echo $this->escape($row['email1']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['email2']): ?>
                                                <div><i class="fa fa-envelope">&nbsp;</i><?php echo $this->escape($row['email2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['email3']): ?>
                                                <div><i class="fa fa-envelope">&nbsp;</i> <?php echo $this->escape($row['email3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['mobile1']): ?>
                                                <div><i class="fa fa-mobile-phone">&nbsp;</i> <?php echo $this->escape($row['mobile1']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['mobile2']): ?>
                                                <div><i class="fa fa-mobile-phone">&nbsp;</i> <?php echo $this->escape($row['mobile2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['mobile3']): ?>
                                                <div><i class="fa fa-mobile-phone">&nbsp;</i><?php echo $this->escape($row['mobile3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['phone1']): ?>
                                                <div><i class="fa fa-phone">&nbsp;</i> <?php echo $this->escape($row['phone1']) ?></div>
                                            <?php endif; ?>    
                                            <?php if ($row['phone2']): ?>
                                                <div><i class="fa fa-phone">&nbsp;</i> <?php echo $this->escape($row['phone2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['phone3']): ?>
                                                <div><i class="fa fa-phone">&nbsp;</i> <?php echo $this->escape($row['phone3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['fax']): ?>
                                                <div><i class="fa fa-phone">&nbsp;</i> <b>Fax :</b> <?php echo $this->escape($row['fax']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['emergency_phone']): ?>
                                                <div><i class="fa fa-phone">&nbsp;</i><b>Emergency Phone :</b> <?php echo $this->escape($row['emergency_phone']) ?></div>
                                            <?php endif; ?>
                                        </div>
			
			</td>
            <td><div class="details_info_l" style="font-size: 12px;">
                                            <div><i class="fa fa-home">&nbsp;</i><b>City:</b> <?php echo $this->escape($row['country_name'] . ' - ' . $row['city_name']) ?></div> 
                                            <div><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <?php echo $this->escape(get_line_address($row)) ?></div>
                                            <?php if ($row['po_box']): ?>
                                                <div><i class="fa fa-inbox">&nbsp;</i><b>PO Box :</b> <?php echo $this->escape($row['po_box']) ?></div>
                                            <?php endif; ?>
                                        </div></td>
          </tr>
		  
 <?php endforeach;?>
<?php endif; ?>


<?php if(isset($this->is_first_time) && $this->is_first_time == 1 && (isset($this->data) && !empty($this->data))):?>
        </tbody>
      </table>
  </form>
<?php endif; ?>
