<style>

    .contacts ul{
        overflow : hidden;
    }

    .contact-box{
        min-height: 450px;
    }

</style>

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-5">
                <h3>All Contractors</h3>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a> </li>
                    <li><a href="/settings">Settings</a> </li>
                    <li><a href="/settings/users">Users</a></li>
                    <li class="active"><strong>Contractors</strong></li>


                </ol>
                <?php
                //$model_googleDrive = new Model_GoogleDrive();
                //$client = null;
                //$isValid = $model_googleDrive->getClientGmailAccounts2(15, $client);
                ?>
            </div>
            <div class="col-md-7 ">
                <ul class="inline-list float-lg-r">
                    <select style="width: 150px;" id="is_active" onchange="filter('<?php echo $this->escape($this->url(array(), 'contractors')); ?>?fltr[active]=' + $('#is_active').val());">
                        <?php $selected = isset($this->filters['active']) && ($this->filters['active'] == 'TRUE') ? 'selected="selected"' : ''; ?>
                        <option value="">Select One</option>
                        <option value="TRUE" <?php echo isset($this->filters['active']) && ($this->filters['active'] == 'TRUE') ? 'selected="selected"' : ''; ?> >Active</option>
                        <option value="FALSE" <?php echo isset($this->filters['active']) && ($this->filters['active'] == 'FALSE') ? 'selected="selected"' : ''; ?> >Inactive</option>                      
                    </select>


                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <nav>
                    <?php if (CheckAuth::checkCredential(array('settingsUserAdd'))): ?>
                        <a class="btn btn-white" onclick="popupi('Add User', '<?php echo $this->escape($this->url(array(), 'settingsUserAdd')); ?>');"  href="#" data-toggle="modal" data-target="#popupi">New User </a>
                    <?php endif; ?>
                </nav>
            </div>
        </div>
    </div>
</div>




<div class="ibox float-e-margins no-margin-b"> 

    <div class="ibox-content"id="contractor-data">
        <div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>
    </div>

</div> 


<script type="text/javascript">


    function getData(filters, page_number, is_first_time) {
        if (typeof (is_first_time) === 'undefined')
            is_first_time = 0;
        if (is_first_time == 0 && !($('#loading_img').length > 0)) {
            $('#contractor_form').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
        }
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {'fltr': filters, 'is_first_time': is_first_time, 'page_number': page_number},
            url: "<?php echo $this->url(array(), 'contractors'); ?>",
            success: function (result) {
                is_last_request = result.is_last_request;


                if (is_first_time == 1) {
                    $('#contractor-data').html(result.data);
                } else {
                    $("#contractor_form").append(result.data);
                    $('#loading_img').remove();
                    loading = false;
                }
            }
        });

    }
    var date = '<?php echo date('Y-m-d', time()); ?>';
    var filters = <?php echo json_encode($this->filters); ?>;
    var page_number = 0;
    var loading = false;
    var is_last_request = 0;
    $(document).ready(function () {
        getData(filters, page_number, 1);


        $('#contractor-data').on('click', '#load_more', function () {

            $(this).remove();
            if (loading == false && is_last_request == 0) {
                loading = true;
                page_number++;
                getData(filters, page_number);
            }

        });
        $(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {
                $('#load_more').remove();
                if (loading == false && is_last_request == 0) {
                    loading = true;
                    page_number++;
                    getData(filters, page_number);
                }
            }
        });

    });
    function filter(url) {
        window.location = url;
    }

    function toggle_active_deactive(uu) {
        $.ajax({
            url: "<?php echo $this->escape($this->url(array(''), 'toggleActivateOrDeactivateUsers2')); ?>" + "?id=" + uu,
            success: function (data) {
                //alert('change success ');

            }
        });
    }

  
  function delete_user_profile() {
        var is_confirmed = confirm('Are you sure you want to delete all user profile data ?');
        if (is_confirmed) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'settingsUserProfileDeleteBtn')); ?>',
                data: $('#frmUser').serialize(),
                dataType: "json",
                success: function (data) {
                 
				 window.location.reload();
				
                }

            });
        }
    }

</script>