<style>
    #form-customer label{
        text-align: left;
    }
</style>
<form id="form-customer" method="POST" action="<?php echo $this->escape($this->url(array('user_id'=> $this->contractor_no),'sendSmsForContractor'))?>"  class="form-horizontal">
<div class="row hidden">
<input name="contractor_no" id="contractor_no" type="text" value="<?php echo $this->escape($this->contractor_no)?>">

</div>
   	
		<div class="form-group">
		<label class="control-label col-md-3"> Number of mobile</label>
		<div class="col-md-6">
		<select name="mobile_num" id="mobile_num" class="form-control">
					<option value="">Select One</option>
					<option value="1">
					  All mobile devices </option>
					 <option value="2">
					  Only the main mobile device</option>
					  </select>
                       </div>
					<span style="color:#ff0000" class="help-inline" id="dateError"></span>

				</div>

                <div class="form-group">
                <label class="control-label col-md-3">Canned Responses</label>
                <div class="col-md-6">
                    <select name="canned_responses" id="canned_responses" onchange="fillCannedResponse();" class="form-control">
                        <option value="">Select One</option>
                        <?php //service
						foreach ($this->cannedResponses as $cannedResponse){ ?>
                            <option value="<?php echo $this->escape($cannedResponse['id']); ?>" <?php echo $this->escape(isset($this->cannedResponsesValue) ? ($this->cannedResponsesValue == $cannedResponse['id'] ? "selected" : "") : ""); ?> ><?php echo $this->escape($cannedResponse['name']); ?></option>
                        <?php } ?>
						<option value="-6">New SMS</option>
                    </select> 
                </div>
				<span id="dateError1" class="help-inline" style="color:#ff0000"></span>
            </div>

            <div style="clear: both;"></div>

        </div>

    </div>
    <div style="clear: both;"></div>
		 
	 <div class="form-group">
                    <label class="col-md-3">Message:</label>
                    <div class="col-md-6">
                       
<textarea cols="80" rows="7" class="textarea_field form-control" id="body" name="body"></textarea> 
                    </div>
				<span id="dateError2" class="help-inline" style="color:#ff0000"></span>

                </div>
				
    <div id="button_cont" class="col-md-offset-2">
        <input type="submit" value="Send" id="button" class="btn btn-primary"/> 
		or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" class="btn btn-danger">Cancel</a>
    </div>


    <div style="clear: both;"></div>

</form>

<script type="text/javascript">

$('#button').on('click', function() {
				  if($("#mobile_num").val()=="")
				{
				document.getElementById("dateError").innerHTML = "You must select number of mobile";
				return false;
				}
				
					  if($("#canned_responses").val()=="")
				{
				document.getElementById("dateError1").innerHTML = "You must select canned Responses template";
				return false;
				}
				
				if($("#body").val()=='')
				{
				document.getElementById("dateError2").innerHTML = "SMS text must be filled";
				return false;
				}
				
				
			 });
			 
    function fillCannedResponse() {
		if($('#canned_responses').val()==-6)
		{
		  $('#body').val('');
		}
        if ($('#canned_responses').val() && $('#canned_responses').val()!=-6 ) {
			if ($('#canned_responses').val()) {
            val = $('#canned_responses').val();
			$.ajax({
                type: "POST",
                url: "/ajax/fill_canned_response",
                data: {id : val , type : "contractor" ,type_id : "0<?php //echo $this->reference_id?>"},
                dataType: "json",
                success: function (msg) {
                   // tinyMCE.activeEditor.setContent(msg.body);
                    $('#body').val(msg.body);
                }
            });
        } else {
                    $('#body').val('');
        }
    }
	}
	
			 $('#canned_responses').on('change', function() {
		    document.getElementById("dateError1").innerHTML = "";
		    if($("#canned_responses").val()==0){
			document.getElementById("dateError1").innerHTML = "select sms type";
			return false;
			}
			 });
</script>
