<!-- TinyMCE -->
<script type="text/javascript">
    tinyMCE.init({
        // General options
        plugins: '-example', // - tells TinyMCE to skip the loading of the plugin
        mode: "textareas",
        theme: "advanced",
        relative_urls: false,
        convert_urls: false,
        // Theme options
        theme_advanced_buttons1: "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink",
        theme_advanced_buttons2: "",
        theme_advanced_buttons3: "",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: false
    });
</script>
<style>
    #form-customer label{
        text-align: left;
    }
</style>
<!-- /TinyMCE -->
<form id="form-customer" onsubmit="tinyMCE.triggerSave();
        do_submit('<?php echo $this->escape($this->url(array(), 'sendEmailToAllContractors')); ?>', '#form-customer', '#content_modal_popup');
        return false;" method="POST" class="form-horizontal" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">

            <!--            <div class="form-group">
                            <label class="control-label col-md-2">To</label>
                            <div class="col-md-10">
                                <input type="text" name="to" value="<?php echo $this->escape($this->to); ?>"  class="form-control"/>
                            </div>
                        </div>-->

            <? //if (isset($this->error_mesages['to']) && !empty($this->error_mesages['to'])): ?>
            <!--                <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
            <? // echo $this->escape($this->error_mesages['to']); ?>
                            </div>-->
            <? //endif; ?>

            <div class="form-group">
                <label class="control-label col-md-2">Bcc</label>
                <div class="col-md-10">
                    <input type="text" name="bcc"  value="<?php echo $this->escape($this->bcc); ?>"  class="form-control"/>
                </div>
            </div>

            <?php if (isset($this->error_mesages['bcc']) && !empty($this->error_mesages['bcc'])): ?>
                <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                    <?php echo $this->escape($this->error_mesages['bcc']); ?>
                </div>
            <?php endif; ?>

            <div class="form-group">
                <label class="control-label col-md-2">Subject</label>
                <div class="col-md-10">
                    <input type="text" name="subject" id="subject" value="<?php echo $this->escape($this->subject); ?>"  class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Attachment</label>
                <div class="col-md-10">
                    <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
                        <div class="dz-message"></div>
                    </div>
                </div>
            </div>

            <?php if (isset($this->error_mesages['subject']) && !empty($this->error_mesages['subject'])): ?>
                <div style="margin-left: 110px; margin-top: 3px; color: red; font-size: 12px;  background: no-repeat 0px 50% url('/pic/icons/error.png');  padding-left: 22px;">
                    <?php echo $this->escape($this->error_mesages['subject']); ?>
                </div>
            <?php endif; ?>
            <div class="form-group">
                <label class="control-label col-md-2">Canned Responses</label>
                <div class="col-md-10">
                    <select name="canned-responses" id="canned_responses" onchange="fillCannedResponse();" class="form-control">
                        <option value="">Select One</option>
                        <?php foreach ($this->cannedResponses as $cannedResponse): ?>
                            <option value="<?php echo $this->escape($cannedResponse['id']); ?>" <?php echo $this->escape(isset($this->cannedResponsesValue) ? ($this->cannedResponsesValue == $cannedResponse['id'] ? "selected" : "") : ""); ?> ><?php echo $this->escape($cannedResponse['name']); ?></option>
                        <?php endforeach; ?>
                    </select> 
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
    <div style="clear: both;"></div>
    <div class="col-md-12">
        <div class="form-group">
            <textarea name="body" id="body"  class="form-control" style="height:500px;"><?php echo $this->body; ?></textarea>
        </div>
    </div>

    <div id="button_cont">
        <input type="submit" value="Send" class="btn btn-primary"/> or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" class="btn btn-danger">Cancel</a>
    </div>


    <div style="clear: both;"></div>

</form>

<script type="text/javascript">
    function fillCannedResponse() {
        if ($('#canned_responses').val()) {
            val = $('#canned_responses').val();
            $.ajax({
                type: "POST",
                url: "/ajax/fill_canned_response",
                data: {id: val, type: "<?php echo $this->type ?>", type_id: "<?php echo $this->reference_id ?>"},
                dataType: "json",
                success: function (msg) {
                    tinyMCE.activeEditor.setContent(msg.body);
                    $('#subject').val(msg.subject);
                }
            });
        } else {
            tinyMCE.activeEditor.setContent('');
            $('#subject').val('');
        }
    }

    //var photoDropzone = new Dropzone("#form-customer");
    var photoDropzone = new Dropzone("#form-customer", {
        url: '<?php echo $this->escape($this->url(array(), 'sendEmailToAllContractors')); ?>',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 100,
        maxFilesize: 10,
        acceptedFiles: "",
        previewsContainer: '#dropzonePreview',
        clickable: '#dropzonePreview',
        addRemoveLinks: true,
        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;

            var submitButton = document.querySelector('#form-customer input[type=submit]');
            myDropzone = this; // closure		
            submitButton.addEventListener("click", function (e) {
                if (myDropzone.getQueuedFiles().length === 0) {
                    tinyMCE.triggerSave();
                    $('#form-customer').submit();
                } else {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#button_loop').html('<img src="/pic/loading-4.gif">');
                    tinyMCE.triggerSave();
                    myDropzone.processQueue();
                }

            });


            this.on("successmultiple", function (files, response) {
                if (response == 1) {
                    window.location.reload();
                } else {
                    $('#content_modal_popup').html(response);
                }

            });
            this.on("errormultiple", function (files, response) {
                alert(response);
                $('#button_loop').html('<input type="submit" value="Save" class="btn btn-primary">');
            });
        }
    });



</script>
