<link rel="stylesheet" href="<?php echo $this->baseUrl('/js/multiSelect/css/select2.min.css'); ?>"> 
<link rel="stylesheet" href="<?php echo $this->baseUrl('/js/multiSelect/css/select2-bootstrap.min.css'); ?>">  

<style>
    #form-customer label{
        text-align: left;
    }
</style>
<form id="form-customer" method="POST" action="<?php echo $this->escape($this->url(array(),'sendSmsContractor'))?>"  class="form-horizontal">
<div class="row hidden">

</div>
    <div class="row">
        <div class="col-md-12">
    	<div class="form-group">
		<label class="control-label col-md-3">Send For</label>
		<div class="col-md-6">
		<label><input type="radio" name="chk_multiple" id="chk_multiple" value="1">&nbsp;All&nbsp;&nbsp;&nbsp;&nbsp;</label>
      	<label><input type="radio" name="chk_multiple" id="chk_multiple" value="2">&nbsp;&nbsp;All with filtters&nbsp;</label>
      	<label><input type="radio" name="chk_multiple" id="chk_multiple" value="3">&nbsp;&nbsp;Some&nbsp;</label>
    </div>
		<span style="color:#ff0000" class="help-inline" id="dateError3"></span>
    </div> 
  
   <div id="filters" class="hidden">
        <div id="activity_status" class="form-group">
		<label class="control-label col-md-3"> Activity Status</label>
		<div class="col-md-6">
		<select name="status_active" id="status_active" class="form-control">
					<option value="">Select One</option>
					<option value="true">
					  Active 					  
					  </option>
					<option value="false">
					  Inactive</option>
                    <option value="2">
					  All</option>
					  </select>
                       </div>  
					 <span style="color:#ff0000" class="help-inline" id="dateError4"></span>
    				</div>
        <div id="service" class="form-group">
		<label class="control-label col-md-3">Service</label>
		<div class="col-md-6">
		<select name="services" id="services" class="form-control" >
					<option value="">Select One</option>
                    <?php //service
						foreach ($this->services as $service){ ?>
                            <option value="<?php echo $this->escape($service['service_id']); ?>">
							
							<?php echo $this->escape($service['service_name']); ?></option>
                        <?php } ?>					  </select>
                       </div>
					 <span style="color:#ff0000" class="help-inline" id="dateError5"></span>
    				</div>
		<div id="city" class="form-group">
		<label class="control-label col-md-3">City</label>
		<div class="col-md-6">
		<select name="cities" id="cities" class="form-control">
					<option value="">Select One</option>
                    <?php //service
						foreach ($this->cities as $city){ ?>
                            <option value="<?php echo $this->escape($city['city_id']); ?>">
							
							<?php echo $this->escape($city['city_name']); ?></option>
                        <?php } ?>					  </select>
                       </div>
					 <span style="color:#ff0000" class="help-inline" id="dateError6"></span>
    	</div>
		</div>
			<div class="form-group hidden" id="some">
                                                <label for="single-append-radio" class="control-label">Select Contractors</label>
                                                <div class="input-group select2-bootstrap-prepend">
                                                 
                                                    <select id="single-append-radio"  name="multi[]" class="form-control select2-allow-clear" multiple>
                                                      <option value=""></option>
														<?php //service
															foreach ($this->contractors as $contractor){ ?>
																<option value="<?php echo $this->escape($contractor['user_id']); ?>">
																
														<?php echo $this->escape($contractor['username']); ?></option>
														<?php } ?>
												       </select>
													 <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                                                            <span class="glyphicon glyphicon-search"></span>
                                                        </button>
                                                    </span>
                                                </div>
					                           <span style="color:#ff0000" class="help-inline" id="dateError7"></span>
                                            </div>
        
		<div class="form-group">
		<label class="control-label col-md-3"> Number of mobile</label>
		<div class="col-md-6">
		<select name="mobile_num" id="mobile_num" class="form-control">
					<option value="">Select One</option>
					<option value="1">
					  All mobile devices </option>
					 <option value="2">
					  Only the main mobile device</option>
					  </select>
                       </div>
					<span style="color:#ff0000" class="help-inline" id="dateError"></span>
		</div>

         <div class="form-group">
                <label class="control-label col-md-3">Canned Responses</label>
                <div class="col-md-6">
                    <select name="canned_responses" id="canned_responses" onchange="fillCannedResponse();" class="form-control">
                        <option value="">Select One</option>
                        <?php //service
						foreach ($this->cannedResponses as $cannedResponse){ ?>
                            <option value="<?php echo $this->escape($cannedResponse['id']); ?>" <?php echo $this->escape(isset($this->cannedResponsesValue) ? ($this->cannedResponsesValue == $cannedResponse['id'] ? "selected" : "") : ""); ?> ><?php echo $this->escape($cannedResponse['name']); ?></option>
                        <?php } ?>
						<option value="-6">New SMS</option>
                    </select> 
                </div>
				<span id="dateError1" class="help-inline" style="color:#ff0000"></span>
            </div>
           <div style="clear: both;"></div>
          </div>
    </div>
		<div style="clear: both;"></div>
			 
		 <div class="form-group">
                    <label class="col-md-3">Message:</label>
                    <div class="col-md-6">
                    <textarea cols="80" rows="7" class="textarea_field form-control" id="body" name="body"></textarea> 
                    </div>
				    <span id="dateError2" class="help-inline" style="color:#ff0000"></span>
                    </div>
				
					<div id="button_cont" class="col-md-offset-2">
					<input type="submit" value="Send" class="btn btn-primary"/> or <a href="<?php echo $this->escape((isset($_SERVER['HTTP_REFERER']) ? $_SERVER['HTTP_REFERER'] : '')) ?>" class="btn btn-danger">Cancel</a>
					</div>
                    <div style="clear: both;"></div>
    </form>

<script type="text/javascript">
$('input:radio[name="chk_multiple"]').change(
    function(){
        if (this.checked && this.value == 2) {
                   $("#filters").removeClass('hidden');

        }
		else
			       $("#filters").addClass('hidden');

			   if (this.checked && this.value == 3) {
                   $("#some").removeClass('hidden');

        }
		else
			       $("#some").addClass('hidden');

    });
	
    function fillCannedResponse() {
		if($('#canned_responses').val()==-6)
		{
		  $('#body').val('');
		}
        if ($('#canned_responses').val() && $('#canned_responses').val()!=-6 ) {
			if ($('#canned_responses').val()) {
            val = $('#canned_responses').val();
			$.ajax({
                type: "POST",
                url: "/ajax/fill_canned_response",
                data: {id : val , type : "contractor" ,type_id : "0<?php //echo $this->reference_id?>"},
                dataType: "json",
                success: function (msg) {
                    $('#body').val(msg.body);
                }
            });
        } else {
                    $('#body').val('');
        }
    }
	}
	
			$('#button_cont').on('click', function() {
				if($('input:radio:checked').length <= 0){
				document.getElementById("dateError3").innerHTML = "please check on Send For";
				return false;
              }
			  
			  if($("input[name=chk_multiple]:checked").val()==3)
				{
					var len = $("select[name='multi[]'] option:selected").length;
					if(len <= 0){
					document.getElementById("dateError7").innerHTML = "You Must select at least one contractor";
				  return false;
				}
				}
				
				
 				if($("input[name=chk_multiple]:checked").val()==2)
				{
					if($("#cities").val()=="" && $("#service").val()=="" && $("#status_active").val()==""){
					document.getElementById("dateError4").innerHTML = "You Must select at least one filter";
					document.getElementById("dateError5").innerHTML = "You Must select at least one filter";
					document.getElementById("dateError6").innerHTML = "You Must select at least one filter";
				  return false;
				}
				}
				if($("#mobile_num").val()=='')
				{
				document.getElementById("dateError").innerHTML = "Choose Number of mobiles";
				return false;
				}

				if($("#canned_responses").val()=="")
				{
				document.getElementById("dateError1").innerHTML = "select sms type";
				return false;
				}
				if($("#body").val()=='')
				{
				document.getElementById("dateError2").innerHTML = "SMS text must be filled";
				return false;
				}
			 });
			 
			$('#single-append-radio').on('change', function() {
				
		    document.getElementById("dateError7").innerHTML = "";
		    var len = $("select[name='multi[]'] option:selected").length;
			if(len <= 0){
			document.getElementById("dateError7").innerHTML = "You Must select at least one contractor";
		    return false;}
			
			 });
			 		 
			$('#canned_responses').on('change', function() {
		    document.getElementById("dateError1").innerHTML = "";
		    if($("#canned_responses").val()==""){
			document.getElementById("dateError1").innerHTML = "select sms type";
			return false;
			}
			 });
			 
			 $("input[name=chk_multiple]:radio").change(function () {
 				if($("input[name=chk_multiple]:checked").val()==1 || $("input[name=chk_multiple]:checked").val()==2 ||  $("input[name=chk_multiple]:checked").val()==3)
				document.getElementById("dateError3").innerHTML = "";

			  });
			 
			 $('#mobile_num').on('change', function() {
		    document.getElementById("dateError").innerHTML = "";
		    if($("#mobile_num").val()==""){
			document.getElementById("dateError").innerHTML = "Choose Number of mobiles";
			return false;
			}
			 });
			 
			  $('#status_active').on('change', function() {
		    document.getElementById("dateError4").innerHTML = "";
		    document.getElementById("dateError5").innerHTML = "";
		    document.getElementById("dateError6").innerHTML = "";
			 });
			 
			  $('#service').on('change', function() {
		    document.getElementById("dateError4").innerHTML = "";
		    document.getElementById("dateError5").innerHTML = "";
		    document.getElementById("dateError6").innerHTML = "";
			 });
            $('#cities').on('change', function() {
		    document.getElementById("dateError4").innerHTML = "";
		    document.getElementById("dateError5").innerHTML = "";
		    document.getElementById("dateError6").innerHTML = "";
			 });
</script>
        <script src="<?php echo $this->baseUrl('/js/multiSelect/js/jquery.min.js'); ?>"></script> 
        <script src="<?php echo $this->baseUrl('/js/multiSelect/js/bootstrap.min.js'); ?>"></script> 
        <script src="<?php echo $this->baseUrl('/js/multiSelect/js/select2.full.min.js'); ?>"></script> 
        <script src="<?php echo $this->baseUrl('/js/multiSelect/js/app.min.js'); ?>"></script> 
        <script src="<?php echo $this->baseUrl('/js/multiSelect/js/components-select2.min.js'); ?>"></script> 
<script type="text/javascript">
$( document ).ready(function() {
   // $(".select2-search__field").css("placeholder", "select one");
	var jq162 = jQuery.noConflict(true);
});
</script>