<div class="col-lg-12 wrapper-content">
<div class="col-lg-12">
		  <?php echo $this->render('index/employee_filters.phtml'); ?>
        
</div>
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
    <div class="col-lg-12">
     <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Sales By Employee Report</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
					  <?php if ($this->data): ?>
                    <?php if ((isset($this->employee['username']) && $this->employee['username']) || (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) || (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'])): ?>
                        <div style="margin-bottom:10px;">
                            <div>
                                <?php echo $this->escape($this->employee['username'] ? $this->employee['username'] : '') ?>
                            </div>
                            <div>
                                <?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
                                <?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
                                <?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?>
                            </div>
                        </div>
                    <?php endif; ?>
                        <table class="table table-striped table-bordered table-hover responsive-table big-table" style="font-size:10px;" id="employee-report">
                            <thead>
                                <tr>
                            <th>EMPLOYEE</th>
                            <th>BOOKINGS</th>
                            <?php foreach ($this->bookingStatuses AS $bookingStatus): ?>
                                <th><?php echo $this->escape($bookingStatus['name']) ?></th>
                            <?php endforeach; ?>
                            <th>COMPLAINT</th>
                            <th>Complete Amount</th>
                            <th>Quoted Amount</th>  
                                </tr>
                            </thead>
                            <tbody>
                               <?php foreach ($this->data AS $row): ?>    
                            <tr cellpadding="100" style="text-align: center; vertical-align: top;"> 
                                <td><?php echo $this->escape(ucwords($row['username'])) ?></td>
                                <td><?php echo $this->escape($row['total_booking']) ?></td>
                                <?php foreach ($row['booking_statuses'] AS $bookingStatus): ?>
                                    <td><?php echo $this->escape($bookingStatus['total']) ?></td>
                                <?php endforeach; ?>
                                <td><?php echo $row['total_complaint'] ? $this->escape($row['total_complaint']) : 0 ?></td>
                                <td>$<?php echo $row['total_invoices'] ? $this->escape(number_format($row['total_invoices'], 2)) : number_format(0, 2) ?></td>
                                <td>$<?php echo $row['total_estimates'] ? $this->escape(number_format($row['total_estimates'], 2)) : number_format(0, 2) ?></td>
                            </tr>
                        <?php endforeach ?>
                          </tbody>


                        </table>
                        <?php else: ?>
                <div style="" class="noRowsMessageDIV">Please Select Employee And Date Range.</div>
            <?php endif; ?>

                    </div>
                </div>
    </div>
	
    
</div>
<div style="clear:both"></div>


