<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Filter Reports</h5>
</div>
 <div class="ibox-content">
    <form id="search_form" class="form-inline" role="form" action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
      <div class="form-group">
        <label class="control-label">Date Range</label>
         <?php echo $this->form->getElement('date_range'); ?>
		</div>
	  
	  <div class="form-group" id="date1">
        <label class="control-label">from</label>
		<div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		  <?php echo $this->form->getElement('payment_created_between'); ?>
		</div>
		</div>
		<div class="form-group" id="date2">
        <label class="control-label">To</label>
		<div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		  <?php echo $this->form->getElement('payment_end_between'); ?>
		</div>
		</div>

	 <div style="margin-top:10px;">
	  <?php echo $this->form->getElement('button'); ?> <span class="or_span">or</span>
      <a href="<?php echo $this->escape($this->form->getAction()); ?>" class="btn btn-default" >Cancel</a>
	  </div>
	</form>
	<?php echo $this->form->getElement('as_xls'); ?>
 </div>
</div>
<?php
$today = getTimePeriodByName('today');
$yesterday = getTimePeriodByName('yesterday');
$this_week = getTimePeriodByName('this_week');
$last_week = getTimePeriodByName('last_week');
$this_month = getTimePeriodByName('this_month');
$last_month = getTimePeriodByName('last_month');
$this_quarter = getTimePeriodByName('this_quarter');
$last_quarter = getTimePeriodByName('last_quarter');
$this_year = getTimePeriodByName('this_year');
$last_year = getTimePeriodByName('last_year');
?>
<script>
function selectFromToDate(){
        
        var dateRange = $("#date_range").val();
        
        var fromDate = '';
        var toDate = '';

        switch(dateRange){
            case '0': //'today'
                fromDate = '<?php echo date('Y-m-d', strtotime($today['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($today['end'])); ?>'; 
                break;
            case '1': //'yesterday'
                fromDate = '<?php echo date('Y-m-d', strtotime($yesterday['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($yesterday['end'])); ?>'; 
                break;
            case '2': //'this week'
                fromDate = '<?php echo date('Y-m-d', strtotime($this_week['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($this_week['end'])); ?>'; 
                break;
            case '3': //'previous week'
                fromDate = '<?php echo date('Y-m-d', strtotime($last_week['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($last_week['end'])); ?>';        
                break;
            case '4': //'this month'
                fromDate = '<?php echo date('Y-m-d', strtotime($this_month['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($this_month['end'])); ?>';  
                break;
            case '5': //'previous month'
                fromDate = '<?php echo date('Y-m-d', strtotime($last_month['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($last_month['end'])); ?>'; 
                break;
            case '6': //'this quarter'
                fromDate = '<?php echo date('Y-m-d', strtotime($this_quarter['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($this_quarter['end'])); ?>'; 
                break;
            case '7': //'previous quarter'
                fromDate = '<?php echo date('Y-m-d', strtotime($last_quarter['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($last_quarter['end'])); ?>';
                break;          
            case '8': //'this year'
                fromDate = '<?php echo date('Y-m-d', strtotime($this_year['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($this_year['end'])); ?>';
                break;
            case '9': //'previous year'
                fromDate = '<?php echo date('Y-m-d', strtotime($last_year['start'])); ?>'; 
                toDate = '<?php echo date('Y-m-d', strtotime($last_year['end'])); ?>';
                break;
            }
           
            $("#start_time").val(fromDate)
            $("#end_time").val(toDate)
        }
		function selectFilterOption(option){
            $("#date_range").val(option);
        }
  $(document).ready(function() {
    $('#date2 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'yyyy-mm-dd'
            });	
	$('#date1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'yyyy-mm-dd'
            });			
  });
</script> 
