<?php
$modelContractorInfo = new Model_ContractorInfo();
$modelCustomer = new Model_Customer();
$modelUser = new Model_User();
?>

<div class="col-lg-12 wrapper-content">
        <div class="right_side_cont ibox-content">
            <div >
                <div class="button_actions">
                    <h5>  Search Saved Report </h5>
                </div>
                <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'savedReport')); ?>" method="GET" class="form-inline" role="form">
                        <label>Keywords</label>
                                <input name="fltr[keywords]" class="form-control" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        <label>Report Type</label>
                            <select name="fltr[report_type]" class="form-control">
                                    <option value="0">Select One</option>
                                    <?php $modelReport = new Model_Report(); ?>
                                    <?php foreach ($modelReport->getReportType() as $report) : ?>
                                        <option value="<?php echo $this->escape($report); ?>" <?php echo $this->escape(!empty($this->filters['report_type']) && $this->filters['report_type'] == $report ? 'selected' : '' ); ?>>
                                            <?php
                                            $report = str_replace('_', ' ', $report);
                                            $report = spaceBeforeCapital($report);
                                            $report = ucwords($report);
                                            echo $this->escape($report);
                                            ?>
                                        </option>
                                    <?php endforeach; ?>
                                </select>
                        
                             <input type="submit" class="btn btn-white" value="Search" id="button" name="button"/> <span class="or_span a_margin-responsive">or</span>
                             <a href="<?php echo $this->escape($this->url(array(), 'savedReport')); ?>" class="btn btn-white" >Reset</a>
                                      
                    </form>
                    
            </div>
        </div>
</div>
<div class="col-lg-12 wrapper-content ibox float-e-margins">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title">
                        <h5>Saved Report</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					
        <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'savedReportDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Saved Report?');">
                    
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('savedReportDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="saved-reports" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <th>Report Type</th>
                                    <th>Filters</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td>
                                            <div>
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['report_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> 
                                                
                                                    <span>
													<?php
                                                $report_type = str_replace('_', ' ', $row['report_type']);
                                                $report_type = ucwords($report_type);
                                                echo $this->escape($report_type);
                                                ?>
												</span>    
                                                
                                                &ensp;(<?php echo ($this->escape(getDateFormating( $row['created']))) ?>)
                                            
                                            <div>
                                               <?php if (CheckAuth::checkCredential(array('savedReportDownload'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['report_id']), 'savedReportDownload')); ?>" class="details_info_opt">Download</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('savedReportDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['report_id']), 'savedReportDelete')); ?>" onclick="return confirm('are you sure you want to delete this Saved Report?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                            </div></td>
                                        <td>
                                               <?php
                                            $filters = unserialize($row['filters']);
                                            if (is_array($filters)) {
                                                foreach ($filters as $key => $filter) {
                                                    switch ($key) {
                                                        case 'contractor_id':
                                                            $contractor = $modelContractorInfo->getByContractorId($filter);
                                                            echo '<div>&#187; <b>Technician : </b>' . $this->escape($contractor['business_name']) . '</div>';
                                                            break;
                                                        case 'customer_id':
                                                            $customer = $modelCustomer->getById($filter);
                                                            $customer_name = get_customer_name($customer);
                                                            echo '<div>&#187; <b>Customer : </b>' . $this->escape($customer_name) . '</div>';
                                                            break;
                                                        case 'created_by':
                                                            $user = $modelUser->getById($filter);
                                                            echo '<div>&#187; <b>Employee : </b>' . $this->escape($user['username']) . '</div>';
                                                            break;
                                                        default :
                                                            if ($filter) {
                                                                $key = str_replace('_', ' ', $key);
                                                                $key = spaceBeforeCapital($key);
                                                                $key = ucwords($key);
                                                                echo '<div>&#187; <b>' . $this->escape($key) . ' : </b>' . $this->escape($filter) . '</div>';
                                                            }
                                                            break;
                                                    }
                                                }
                                            } else {
                                                echo '-';
                                            }
                                            ?>
                                            
                                        </td>
                                        <td> 
                                               <?php echo ($this->escape($row['user']['username'])) ?>
                                            </td>
                                        
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div class="ibox-content" class="noRowsMessageDIV">There are no Saved Report.</div>
        <?php endif; ?>

    
    
</div>
<div style="clear:both"></div>



