<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod());?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction());?>','#form','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
		<div class="form-group">
            <label class="col-md-3">Name :</label>
            <div class="col-md-9"><?php echo $this->form->getElement('name')->render(); ?></div>
    </div>
	
    <div class="form-group">
            <label class="col-md-3">Code :</label>
             <div class="col-md-9"><?php echo $this->form->getElement('code')->render(); ?></div>
    </div>
	<div class="form-group">
         <div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
	</div>
        
</form>
