<div style="margin-top:10px;">
    <div class="ibox float-e-margins">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsCountriesAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New Country','<?php echo $this->escape($this->url(array(), 'settingsCountriesAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New Country
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div>
                <div class="button_actions">
                    <h5>  Search Country </h5>
                </div>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCountriesList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span a_margin-responsive">or</span>
                        <button class="a_advance btn btn-white a_margin-responsive" type="reset" >Reset</button>
                     </form>
            </div>
        </div> 
	  </div>	
    </div>
<div style="margin-top:10px;" class="no-margin-b">
    <div class="ibox-title">
                        <h5>All Countries</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
	<div class="ibox-content">				
    <?php // echo BreadCrumbs::breadCrumb(); ?>
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsCountriesDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Country?');">

                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsCountriesDelete'))): ?>

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover " id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td><b>Country Name</b></td>
                                    <td><b>Code</b></td>
                                </tr>
                            </thead>
                            <tbody>

                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>                                   
                                    <tr>
                                        <td class="checkbox_booking_cont">
                                            <div class="details_info_l">
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['country_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> <div class="details_info_l">
                                            <span class="details_info_name"><?php echo $this->escape($row['country_name']) ?></span>    
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsCountriesEdit'))): ?>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi"   onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['country_id']), 'settingsCountriesEdit')); ?>');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsCountriesDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['country_id']), 'settingsCountriesDelete')); ?>" onclick="return confirm('are you sure you want to delete this Country?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div></td>
                                        <td><div class="details_info_l" style="font-size: 14px;">
                                            <?php echo $this->escape($row['country_code']) ?>
                                        </div>
                                        </td>
                                       
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    
                




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
		
            <div style="" class="noRowsMessageDIV">There are no Countries.</div>
		
        <?php endif; ?>
		
		</div>
	

   
</div>
<div style="clear:both"></div>

