<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table style="width: 100%;">
        <tr>
            <td class="input_type" valign="top" style="width: 100px;">Cronjob Name :</td>
            <td><?php echo $this->form->getElement('cronjob_name')->render(); ?></td>
        </tr>
        <?php if (get_config('under_construction')): ?>
            <tr>
                <td class="input_type" valign="top" style="width: 100px;">php Code :</td>
                <td><?php echo $this->form->getElement('php_code')->render(); ?></td>
            </tr>
        <?php endif; ?>
        <tr>
            <td class="input_type" valign="top" style="width: 100px;">Is Running :</td>
            <td><?php echo $this->form->getElement('running')->render(); ?></td>
        </tr>

        <tr>
            <td colspan="2" valign="top"><div id="cron" style="border: 1px solid #ACD2E7; padding: 5px;"></div></td>
            <?php echo $this->form->getElement('every')->render(); ?>
        </tr>

        <tr>
            <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
            <td valign="top"></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $('#cron').jqCron({
            enabled_minute: true,
            multiple_dom: true,
            multiple_month: true,
            multiple_mins: true,
            multiple_dow: true,
            multiple_time_hours: true,
            multiple_time_minutes: true,
            default_period: 'week',
            default_value: "<?php echo $this->form->getElement('every')->getValue() ? $this->form->getElement('every')->getValue() : '* * * * *'; ?>",
            no_reset_button: false,
            lang: 'en',
            bind_to: $('#every'),
            bind_method: {
                set: function($element, value) {
                    $element.val(value);
                }
            }
        });
    });
</script>