<?php
//
// Style Sheet
//
ViewHelper::setStyleSheet('/js/jquery-cron/jqCron/jqCron.css');

//
// JavaScript
//
ViewHelper::setJavaScript('/js/jquery-cron/jqCron/jqCron.js');
?>
<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Cron Jobs
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsCronJobDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Cron Job?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsCronJobDelete')) && get_config('under_construction')): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">

                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Cronjob Name</b></td>
                                <td><b>Every</b></td>
                                <td><b>Is Running</b></td>
                                <td><b>Description</b></td>
								<td style="width: 170px;" ><b>Email Template</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronJobView')); ?>','300','600');" class="a_link_black"> <?php echo $this->escape($row['cronjob_name']) ?> </a>   
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsCronJobEdit'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronJobEdit')); ?>','450','490');" class="details_info_opt">Edit</a>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsCronJobDelete')) && get_config('under_construction')): ?>
                                                <span class="details_breaks">|</span>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronJobDelete')); ?>" onclick="return confirm('are you sure you want to delete this Cron Job?');" class="details_info_opt">Delete</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l" style="font-size: 12px;">
                                            <div style="margin-bottom: 10px;">
                                                <?php echo $this->escape($row['every']) ?>
                                            </div>
                                            <div id="cron_<?php echo $this->escape($count) ?>"></div>
                                            <script type="text/javascript">
                                                $(document).ready(function() {
                                                    $('#cron_<?php echo $this->escape($count) ?>').jqCron({
                                                        enabled_minute: true,
                                                        multiple_dom: true,
                                                        multiple_month: true,
                                                        multiple_mins: true,
                                                        multiple_dow: true,
                                                        multiple_time_hours: true,
                                                        multiple_time_minutes: true,
                                                        default_period: 'week',
                                                        default_value: "<?php echo $this->escape($row['every']) ?>",
                                                        no_reset_button: false,
                                                        lang: 'en'
                                                    }).jqCronGetInstance().disable();
                                                });
                                            </script>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['running'] ? 'YES' : 'NO') ?>    
                                        </div>
										<?php if(CheckAuth::checkCredential(array('settingsCronJobRunNow'))) {?>
										<div class="details_info_l">
											<a href="<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronJobRunNow')); ?>" class="a_advance_search" >Run Now</a>
										</div>
										<?php }?>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsCronjobAddDescription'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['id']), 'settingsCronjobAddDescription')); ?>','150','450');" class="details_info_opt">Description</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
									<td>
										<div class="details_info_l">
										<?php if (!empty($row['name'])){ ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsEmailTemplateEdit'))){?>
                                                <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['email_template_id']), 'settingsEmailTemplateEdit')); ?>" class="details_info_opt"><?php echo str_replace("_"," ",$this->escape($row['name'])); ?></a>
                                            <?php } 
												else{
												 echo str_replace("_"," ",$this->escape($row['name'])); 
												}
											?>
										<?php } ?>
                                        </div>
                                    </td>
									
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Cron Jobs.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsCronJobAdd')) && get_config('under_construction')): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsCronJobAdd')); ?>','450','490');" class="btn_a">
                            <div class="text_pos">
                                New Cron Job
                            </div>
                        </a>
                    </div>
                <?php endif; ?>
                <div class="search">
                    <div class="button_actions">
                        Search Cron Job
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCronJobList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsCronJobList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

