
<div style="border: 1px solid #EFEFEF;  background-color: #F7F7F7; width: 100%; font-size: 11px; height: 100% ">
    <div style="padding: 10px;">
        <div style="text-align: center;">
            <h1><?php echo $this->escape($this->cronJob['cronjob_name']); ?></h1>
        </div>

        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            <div style="float: left;">Is Running :</div>
            <div style="float: left; margin-left: 10px; color: black;"><?php echo ($this->escape($this->cronJob['running']) ? 'YES' : 'NO') ?></div>
            <div style="clear: both;"></div>
        </div>

        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            <div style="float: left;">Every:</div>
            <div style="float: left; margin-left: 10px; color: black;"><?php echo $this->escape($this->cronJob['every']); ?></div>
            <div style="clear: both;"></div>
        </div>

        <div style="color: #666666; font-weight: bold; line-height: 20px; margin-top: 5px;">
            Description
        </div>
        <div style="border: 1px solid #ACD2E7; padding: 10px;">
            <?php echo nl2br($this->escape($this->cronJob['description'])); ?>
        </div> 
    </div>
</div>
