<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            
                <div class="btn_cont">                   
					<a href="<?php echo $this->escape($this->url(array(), 'settingsDeleteAllCache')); ?>" onclick="return confirm('Are you sure you want to delete Cache files?');" class="btn btn-white"> Clear all cache</a>
                </div>
				
				
			    <div class="btn_cont">
						<a href="<?php echo $this->escape($this->url(array(), 'settingsDeleteBookingCache')); ?>" onclick="return confirm('Are you sure you want to delete Cache files?');" class="btn btn-white"> Clear booking cache</a>              
                </div>
				
				
				<div class="btn_cont">
                  		<a href="<?php echo $this->escape($this->url(array(), 'settingsDeleteCalendarCache')); ?>" onclick="return confirm('Are you sure you want to delete Cache files?');" class="btn btn-white"> Clear calendar cache</a>                       
                </div>
				
				<div class="btn_cont">
                  		<a href="<?php echo $this->escape($this->url(array(), 'settingsDeleteInquiryCache')); ?>" onclick="return confirm('Are you sure you want to delete Cache files?');" class="btn btn-white"> Clear Inquiry cache</a>                       
                </div>
            
				<div class="btn_cont">
						<a href="<?php echo $this->escape($this->url(array(), 'settingsDeleteEstimateCache')); ?>" onclick="return confirm('Are you sure you want to delete Cache files?');" class="btn btn-white"> Clear Estimate cache</a>                       
				</div>	
				
				<div class="btn_cont">
						<a href="<?php echo $this->escape($this->url(array(), 'settingsDeleteInvoiceCache')); ?>" onclick="return confirm('Are you sure you want to delete Cache files?');" class="btn btn-white"> Clear Invoice cache</a>                       
				</div>	

				
        </div>
    </div>
