<form class="form-horizontal" id="saveAsPaidForm" action="<?php echo $this->escape($this->form->getAction()); ?>" enctype="<?php echo $this->escape($this->form->getEnctype()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>">
    <div class="success_message" id="success_message" style="font-size:14px;" ><?php echo $this->escape($this->successMessage); ?></div>

    <div id="saveAsPaidTable">
        <div class="form-group">
            <label class="col-md-3">Invoice # :</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-7">
                        <?php echo $this->form->getElement('invoice_number')->render(); ?>
                    </div>
                    <div class="col-md-5">
                        <select id="payment_to_contractor_id" name="payment_to_contractor_id"  class="form-control">
                            <option value="">Select INV#</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">date Paid:</label>
            <div class="col-md-9"><?php echo $this->form->getElement('date_paid')->render(); ?></div>
        </div>
        <div class="form-group">
            <label class="col-md-3"> Amount Paid:</label>
            <div class="col-md-9" id="amount_paid">
                <div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <?php echo $this->form->getElement('amount_paid')->render(); ?>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3"> Invoice Total Amount:</label>
            <div class="col-md-9"><div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <?php echo $this->form->getElement('invoice_total_amount')->render(); ?>

                </div></div>
        </div>
        <div class="form-group">
            <label class="col-md-3">  Cash Paid:</label>
            <div class="col-md-9"><div class="input-group m-b">
                    <span class="input-group-addon">$</span>
                    <?php echo $this->form->getElement('cash_paid')->render(); ?>
                </div></div>
        </div>

        <div class="form-group">
            <label class="col-md-3"> Payment Reference:</label>
            <div class="col-md-9"><?php echo $this->form->getElement('reference')->render(); ?></div>
        </div>

        <div class="form-group">
            <label class="col-md-12">File Upload (s) :</label>
            <div class="col-md-12">
                <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
                    <div class="dz-message"></div>
                </div>
            </div>
        </div>

        <input type="hidden" id="page_type" name="page_type"/>

        <!--<div class="form-group">
     <label class="col-md-3"> File Upload :</label>
     <div class="col-md-9" id="files" name="files"><?php //echo $this->form->getElement('file')->render();     ?>
                
                </div>
</div> -->

        <!--<div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9"><label><a href="javascript:;" onclick="add_more_files();">add More Files</a></label></div>
    </div>-->

        <div class="form-group">
            <label class="col-md-12">Description :</label>
            <div class="col-md-12"><?php echo $this->form->getElement('description')->render(); ?></div>
        </div>
        <!--End -->

        <div id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>


        <div name="booking_payments"><?php echo $this->form->getElement('booking_payments')->render(); ?> </div>

    </div>

</form>

<script>

    var photoDropzone = new Dropzone("#saveAsPaidForm", {
        url: $('#saveAsPaidForm').attr("action"),
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 100,
        maxFilesize: 10,
        previewsContainer: '#dropzonePreview',
        clickable: '#dropzonePreview',
        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;

            var submitButton = document.querySelector('input[type=submit]');
            myDropzone = this; // closure		

            $("#saveAsPaidForm").on("click", "input[type=submit]", function (e) {

                e.preventDefault();
                e.stopPropagation();
                if (myDropzone.getQueuedFiles().length === 0) {
                    $("#saveAsPaidForm").submit();
                } else {
                    $('#button_cont').html('<img src="/pic/loading-4.gif">');
                    myDropzone.processQueue();
                }


            });



            this.on("successmultiple", function (files, response) {
                response = jQuery.parseJSON(response);
                getSuccessData(response);

            });
            this.on("errormultiple", function (files, response) {
                alert('error');
            });


        }
    });

    $(document).ready(function () {

        $('div#amount_paid input#amount_paid').val(required_contractor_payment);
		//$('input#invoice_total_amount').val(required_contractor_payment);
        $('input#invoice_total_amount').val(contractor_share);
        $('input#cash_paid').val(cash_received);
        $('input#page_type').val(page_type);

        //$('td[name="booking_payments"] textarea[name="booking_payments"]').val(booking_payments); 

        $('#booking_payments').val(booking_payments);

        file_counter = 0;
        $('#date_paid').datepicker({
            format: 'dd-mm-yyyy',
            todayHighlight: true,
        });
        ////send request to get all invoices number and set them in the select element 
        $.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(), 'contractorInvoiceNumbersByContractorId')); ?>',
            data: {'contractor_id': contractor_id},
            dataType: "json",
            success: function (data) {
                
                if (data.auto_invoice_num) {
                    $('#invoice_number').val(data.auto_invoice_num);
                }
                if (data.invoice_numbers) {

                    var payment_to_contractor_id = $('#payment_to_contractor_id');
                    $.each(data.invoice_numbers, function (val, text) {
                        payment_to_contractor_id.append(
                                $('<option></option>').val(text.payment_to_contractor_id).html(text.contractor_invoice_num)
                                );
                    });

                } else {
                    console.log('error');
                }


            }
        });
    });



    /////// this function gets the invoice details from database 
    $('select').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;
        console.log('valueSelected');
        console.log(valueSelected);

        $.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(), 'paymentToContractorById')); ?>',
            data: {'payment_to_contractor_id': valueSelected},
            dataType: "json",
            success: function (data) {
                if (data) {
                    $.each(data, function (val, text) {
                        $('input#invoice_number').val(text.contractor_invoice_num);
                        $('input#date_paid').val(text.date_of_payment);
                        $('div#amount_paid input#amount_paid').val(text.amount_paid);
                        $('input#invoice_total_amount').val(text.invoice_total_amount);
                        $('input#cash_paid').val(text.cash_paid);
                        $('input#reference').val(text.payment_reference);
                        $('textarea#description').text(text.description);

                    });
                } else {
                    console.log('error');
                }
            }
        });





    });


    function getSuccessData(data) {


        if (data == 'error' || data.returedData == null) {
            $('#button_cont').html('<input type="submit" name="button" id="button" value="save" class="btn btn-primary" />');
            alert("error try again later");

        } else if (data.page_type == '1') {
            window.location.reload();
        } else if (data.flag == 1 || data.flag == 2) {
            //tb_remove();
            //alert("Your payment has been saved with the details below: \n invoice number: "+$('#invoice_number').val()+"\n amount paid: "+$('td#amount_paid input#amount_paid').val() + "\n invoice_total_amount: "+$('input#invoice_total_amount').val()+"\n cash_paid: "+ $('input#cash_paid').val());

            console.log(data.returedData);
            payment_to_contractor = 0;
            $.each(data.returedData, function (index, value) {
                $('#contractor_invoice_num_' + value.booking_id + '_' + value.contractor_id).html(value.contractor_invoice_num);
                var fun_name = 'unpaid_contractor("/reports/un_paid_contractor/' + value.payment_id + '")'
                $('#unpaid_link_' + value.booking_id + '_' + value.contractor_id).html('<a onclick=' + fun_name + ' href="javascript:;">Delete Payment</a>');
                $('#status_' + value.booking_id + '_' + value.contractor_id).html('paid');
                //$('#amount_paid_to_contractor').html('<input type="text"  />');

                $('#amount_paid_to_contractor_' + value.booking_id + '_' + value.contractor_id).html(value.payment_to_contractor);
                console.log(payment_to_contractor);
                payment_to_contractor += parseFloat(value.payment_to_contractor);
            });
            console.log('payment_to_contractor');
            console.log(payment_to_contractor);
            //////get values of payment that entered in add_invoice_number form by the user and add them to the values in the report
            entered_amount_paid = parseFloat($('div#amount_paid input#amount_paid').val().replace(",", ""));
            entered_invoice_total_amount = parseFloat($('input#invoice_total_amount').val().replace(",", ""));
            entered_cash_paid = parseFloat($('input#cash_paid').val().replace(",", ""));
            required_contractor_payment = parseFloat(required_contractor_payment.replace(",", "")) + entered_amount_paid;
            cash_received = parseFloat(cash_received.replace(",", "")) + entered_cash_paid;

            /////change old report values 

            old_invoices_received_from_contractor = $('#Invoices_received_from_contractor').html();
            old_invoices_received_from_contractor = parseFloat(old_invoices_received_from_contractor.replace(",", ""));
            new_invoices_received_from_contractor = old_invoices_received_from_contractor + entered_invoice_total_amount;
            $('#Invoices_received_from_contractor').html($.format.number(new_invoices_received_from_contractor, '#,##0.00#'));
            /////
            old_paid_to_contractor = $('#paid_to_contractor').html();
            old_paid_to_contractor = parseFloat(old_paid_to_contractor.replace(",", ""));
            new_paid_to_contractor = old_paid_to_contractor + payment_to_contractor;
            $('#paid_to_contractor').html($.format.number(new_paid_to_contractor, '#,##0.00#'));
            /////
            required_contractor_payment = $('#required_contractor_payment').html();
            required_contractor_payment = parseFloat(required_contractor_payment.replace(",", ""));
            balance_due_to_contractor = required_contractor_payment - new_paid_to_contractor;
            $('#balance_due_to_contractor').html($.format.number(balance_due_to_contractor, '#,##0.00#'));


            /*cash_received_payment = $('#cash_received').html();
             cash_received_payment=parseFloat(cash_received_payment.replace(",",""));
             new_cash_received_payment = cash_received_payment + entered_cash_paid;
             $('#cash_received').html($.format.number(new_cash_received_payment, '#,##0.00#'));*/


            old_total_payment_to_contractor_from_DB = $('#total_payment_to_contractor_from_DB').html();
            old_total_payment_to_contractor_from_DB = parseFloat(old_total_payment_to_contractor_from_DB.replace(",", ""));
            new_total_payment_to_contractor_from_DB = old_total_payment_to_contractor_from_DB + payment_to_contractor;
            $('#total_payment_to_contractor_from_DB').html($.format.number(new_total_payment_to_contractor_from_DB, '#,##0.00#'));



            /////
            old_total_amount_paid_from_DB = $('#total_amount_paid_from_DB').html();
            old_total_amount_paid_from_DB = parseFloat(old_total_amount_paid_from_DB.replace(",", ""));
            new_total_amount_paid_from_DB = old_total_amount_paid_from_DB + entered_amount_paid;
            $('#total_amount_paid_from_DB').html($.format.number(new_total_amount_paid_from_DB, '#,##0.00#'));

            if ((data.attachments).length != 0) {
                $attachments = '<table>';
                $.each(data.attachments, function (index, value) {
                    $attachments += '<tr>' +
                            '<td><a href="https://docs.google.com/viewer?url=http://cm.tilecleaners.com.au/uploads/payment_attachment/' + value.path + '" class="details_info_opt" target="_blank" >' + value.fileName + '</a></td>' +
                            '<td><a href="http://cm.tilecleaners.com.au/reports/file_download/' + value.attachmentId + '/' + value.fileName + '" class="details_info_opt"><img src="/pic/icons/download.png"></a></td>' +
                            '</tr>';
                    ;

                });
                $attachments += '</table>';
            } else {
                $attachments = 'No attachments';
            }

            document.querySelector('#success_message').innerHTML = "<table style='color: #000000;'>" +
                    "<tr style='height: 35px; font-size: 16px;'>" +
                    "<td colspan='2' style='font-weight: bold;'>Your payment has been saved with the details below:</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Invoice Number:</td>" +
                    "<td>" + $('#invoice_number').val() + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Amount Paid:</td>" +
                    "<td>" + $('div#amount_paid input#amount_paid').val() + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Invoice Total Amount:</td>" +
                    "<td>" + $('input#invoice_total_amount').val() + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Cash Paid:</td>" +
                    "<td>" + $('input#cash_paid').val() + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Reference:</td>" +
                    "<td>" + $('#reference').val() + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Business Name:</td>" +
                    "<td>" + data.returedData.business_name + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Bank Name:</td>" +
                    "<td>" + data.returedData.bank_name + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Account Name:</td>" +
                    "<td>" + data.returedData.account_name + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>ABN:</td>" +
                    "<td>" + data.returedData.abn + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>BSB:</td>" +
                    "<td>" + data.returedData.bsb + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Description:</td>" +
                    "<td>" + $('#description').val() + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td style='font-weight: bold;'>Attachments:</td>" +
                    "<td>" + $attachments + "</td>" +
                    "</tr>" +
                    "<tr style='height: 35px;'>" +
                    "<td><a  href='javascript:;' data-toggle='modal' data-target='#fn_nearest' onclick='sendEmail(\"<?php echo $this->escape($this->url(array(), 'sendpayAsEmail')); ?>" + "?id=" + data.returedData[0].payment_to_contractor_id + "&contractor_id=" + data.returedData[0].contractor_id + " \");'>Send Email</a></td>" +
                    "<td></td>" +
                    "</tr>" +
                    "</table>";
            $('#TB_ajaxWindowTitle').text('Payment Saved');
            $('#saveAsPaidTable div').remove();

        } else if (data.flag == 0) {
            //tb_remove();

            if ((data.attachments).length != 0) {
                $attachments = '<table>';
                $.each(data.attachments, function (index, value) {
                    $attachments += '<tr>' +
                            '<td><a href="https://docs.google.com/viewer?url=http://cm.tilecleaners.com.au/uploads/payment_attachment/' + value.path + '" class="details_info_opt" target="_blank" >' + value.fileName + '</a></td>' +
                            '<td><a href="http://cm.tilecleaners.com.au/reports/file_download/' + value.attachmentId + '/' + value.fileName + '" class="details_info_opt"><img src="/pic/icons/download.png"></a></td>' +
                            '</tr>';
                    ;

                });
                $attachments += '</table>';
            } else {
                $attachments = 'No attachments';
            }

            document.querySelector('#success_message').innerHTML = "Your invoice has been assigned with the details below: <br/><br/> invoice number: " + $('#invoice_number').val() + "<br/><br/> amount paid: " + $('div#amount_paid input#amount_paid').val() + "<br/><br/> invoice_total_amount: " + $('input#invoice_total_amount').val() + "<br/><br/> cash_paid: " + $('input#cash_paid').val() + "<br/><br/> Date Paid:" + $('#date_paid').val() + "<br/><br/> Reference:" + $('#reference').val() + "<br/><br/> Description:" + $('#description').val() + "<br/><br/> Attachments:" + $attachments +
                    "<br/>" +
                    "<br/>" +
                    "<a  href='javascript:;' data-toggle='modal' data-target='#fn_nearest' onclick='sendEmail(\"<?php echo $this->escape($this->url(array(), 'sendpayAsEmail')); ?>" + "?id=" + data.returedData[0].payment_to_contractor_id + "&contractor_id=" + data.returedData[0].contractor_id + " \");'>Send Email</a> " +
                    "<br/>";

            $('#saveAsPaidTable div').remove();

            $.each(data.returedData, function (index, value) {
                $('#status_' + value.booking_id + '_' + value.contractor_id).html('assigned');
                $('#contractor_invoice_num_' + value.booking_id + '_' + value.contractor_id).html(value.contractor_invoice_num);



            });
        }


    }

    function submitContractorInvoiceNumber(dataa) {

        $('#button_cont').html('<img src="/pic/loading-4.gif">');

        $.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(), 'addContractorInvoiceNumber')); ?>',
            data: dataa,
            dataType: "json",
            success: function (data) {
                if (data.success == '1') {

                    tb_remove();

                    $.each(data.booking_payment, function (index, value) {
                        $('#contractor_invoice_num_' + value.booking_id + '_' + value.contractor_id).html(value.contractor_invoice_num);
                    });

                    $("input[type='checkbox']").each(function () {
                        this.checked = false;
                    });
                } else {
                    $('#TB_ajaxContent').html(data.html);
                }
            }
        });
    }



    $("#saveAsPaidForm").submit(function (e)
    {
        $('#button_cont').html('<img src="/pic/loading-4.gif">');

        var formObj = $(this);
        var formURL = formObj.attr("action");

        if (window.FormData !== undefined)  // for HTML5 browsers
//	if(false)
        {

            var formData = new FormData(this);
            $.ajax({
                url: formURL,
                type: 'POST',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                dataType: 'json',
                success: function (data)
                {

                    getSuccessData(data);

                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    $('#button_cont').html('<input type="submit" name="button" id="button" value="save" class="btn btn-primary" />');
                    alert("please fill in all fields, and try again");
                }
            });
            e.preventDefault();
            e.unbind();
        } else  //for olden browsers
        {
            //generate a random id
            var iframeId = 'unique' + (new Date().getTime());

            //create an empty iframe
            var iframe = $('<iframe src="javascript:false;" name="' + iframeId + '" />');

            //hide it
            iframe.hide();

            //set form target to iframe
            formObj.attr('target', iframeId);

            //Add iframe to body
            iframe.appendTo('body');
            iframe.load(function (e)
            {
                var doc = getDoc(iframe[0]);
                var docRoot = doc.body ? doc.body : doc.documentElement;
                var data = docRoot.innerHTML;
                $("#multi-msg").html('<pre><code>' + data + '</code></pre>');
            });

        }

    });


    function add_more_files() {
        file_counter++;
        $('#files').append(
                '<input type="file" name="file' + file_counter + '" id="file' + file_counter + '" name="file" class="text_field" />'
                );
    }


    $('#fn_nearest').on('hidden.bs.modal', function () {
        $('body').removeAttr("style");
    });


    function sendEmail(url) {

        $('#popupi').modal('hide');
        $('#fn_nearest').addClass('new-width');
        $('#fn_nearest').css('overflow-x', 'hidden');
        $('#fn_nearest').css('overflow-y', 'auto');
        $('body').css('overflow', 'hidden');
        fn_popupi_with_parm("Send Email", url);
    }
</script>