<?php 
////general parms for first table 
												$no_of_jObs = 0;
												$contractor_invoice_numbers = array();
												$jobs_num_of_each_booking_type = array(
													'INPROCESS' => 0,
													'COMPLETED' => 0,
													'FAILED' => 0,
													'QUOTED' => 0,
													'TODO' => 0,
													'ONHOLD' => 0,
													'CANCELLED' => 0,
													'AWAITINGUPDATE' => 0,
													'TENTATIVE' => 0,
													'TOVISIT' => 0,
													'INPROCESSI' => 0
												);
												$jobs_amount_of_each_booking_type = array(
													'INPROCESS' => 0,
													'COMPLETED' => 0,
													'FAILED' => 0,
													'QUOTED' => 0,
													'TODO' => 0,
													'ONHOLD' => 0,
													'CANCELLED' => 0,
													'AWAITINGUPDATE' => 0,
													'TENTATIVE' => 0,
													'TOVISIT' => 0,
													'INPROCESSI' => 0
												);
												$amount_of_each_office_payment_type = array(
													'CHEQUE' => 0,
													'CreditCard' => 0,
													'EFT' => 0,
													'CreditCard' => 0,
													'Cash-Deposited' => 0
												);
												$cash_payments = 0;
												$office_payments = 0;
												/////$approved_refund= refund included
												$refunds_included = 0;
												$amount = 0;
												$contractor_share = 0;
												$company_share = 0;
												$approved_payment = 0;
												$unpaid = 0;
												$required_contractor_invoices_total = 0;
												$Invoices_received_from_contractor = 0;
												$paid_to_contractor = 0;
												$balance_due_to_contractor = 0;
												////required_contractor_payment = contractor_share- cash payment
												$required_contractor_payment = 0;
												$total_payment_to_contractor_from_DB = 0;
												$total_amount_paid_from_DB = 0;

?>
<div class="ibox no-margin-b">
	<div class="ibox-content">
		<div class="row">
			<h3>Contractors Bookings Summary Report</h3>
		
		</div>
	</div>
</div>

<?php echo $this->render('index/contractor_filters.phtml'); ?>
	   <?php
                        $modelAuthRole = new Model_AuthRole();
                        $loggedUser = CheckAuth::getLoggedUser();
                        $user_id = $loggedUser['user_id'];

                        $modelUser = new Model_User();
                        $user = $modelUser->getById($user_id);

                        function calculate_net_amount($gross_amount, $tax_rate) {
                            $divisor = ($tax_rate / 100) + 1;
                            $net_price = $gross_amount / $divisor;
                            $tax = $gross_amount - $net_price;
                            //echo '$net_price is '.$net_price;
                            //echo '$tax is '.$tax;
                            return $tax;
                        }
                        ?>
<div class="ibox no-margin-b">
	<div class="ibox-content">
		<div class="row"> 
	
				<ul class="inline-list">
							
							<?php if ($this->user['role_id'] != $modelAuthRole->getRoleIdByName('admin')) { ?>
								 <?php if (CheckAuth::checkCredential(array('ContractorsBookingSummaryWithSaveAsPaid'))){ ?>
										<li  id="button_cont_paid" class="popupiInput">
											<input class="button btn btn-primary" style="margin-top:5px;" type="submit" value="Save As Paid" name="button" onclick="addContractorInvoiceNumber(1)">
										</li>
								<?php } 
										}
								else{
								?>
								<li  id="button_cont_paid" class="popupiInput">
									<input class="button btn btn-primary" style="margin-top:5px;" type="submit" value="Save As Paid" name="button"  onclick="addContractorInvoiceNumber(1)" >
								</li>
								<?php } ?>
								
								<li  id="button_cont_paid" class="popupiInput">
									<input class="button btn btn-primary" style="margin-top:5px;"  type="submit" value="Assign Invoice " name="button" onclick="addContractorInvoiceNumber(0)" >
								</li>

								<?php if ($this->user['role_id'] != $modelAuthRole->getRoleIdByName('admin')) { ?>
								 <?php if (CheckAuth::checkCredential(array('ContractorsBookingSummaryWithModifyInvoiceNumber'))){ ?>
								<li  id="button_contractor_invoice_num" class="popupiInput">
									<input class="button btn btn-primary" style="margin-top:5px;" type="submit" value="Modify Invoice Number" name="button" onclick="addContractorInvoiceNumber();" >
								</li>
								<?php } 
								}
								else{
								?>
								<li  id="button_contractor_invoice_num" class="popupiInput">
									<input class="button btn btn-primary" style="margin-top:5px;" type="submit" value="Modify Invoice Number" name="button" onclick="addContractorInvoiceNumber();" >
								</li>
								<?php } ?>
								
								<li id="button_contractor_invoice_num" >
                                 <input style="margin-top:5px;" class="button btn btn-primary" type="submit" value="Calculate selected invoices" name="button" id="deletebutton" >
					             <input  type="hidden" name="selected_invoices_indexes" id="selected_invoices_indexes"  >
                    </li>
								
				</ul>
				
		
		</div>
	</div>
</div>
<div class="ibox no-margin-b">
	<form id="fmReport">
		
		<div class="ibox-content">

                <?php if ($this->contractors) : ?>
                    <?php
                    $modelContractorInfo = new Model_ContractorInfo();

                    $modelBookingContractorPayment = new Model_BookingContractorPayment();
                    ?>
                    <div id="data_table">
                        <?php if ((isset($this->user['username']) && $this->user['username']) || (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) || (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'])): ?>
										
										<div class="filter_criteria">
											<div>
												<?php if ($this->user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
													<?php $contractorInfo = $modelContractorInfo->getByContractorId($this->user['user_id']); ?>
													<a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->user['user_id']), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black" ><?php echo $this->escape(($this->user['username'] ? ucwords($this->user['username']) : '') . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?></a>
												<?php else: ?>
													<a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->user['user_id']), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $this->escape($this->user['username'] ? ucwords($this->user['username']) : '') ?></a>
												<?php endif; ?>
											</div>
											<div>
												<?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
												<?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
												<?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?></br>
											</div>
											<div>
												<?php echo $this->escape(isset($this->filters['paid_status']) && $this->filters['paid_status'] && $this->filters['paid_status'] == 1 ? 'Contractor Payment Status : ' . 'Paid To Contractor' : '') ?> 
												<?php echo $this->escape(isset($this->filters['paid_status']) && $this->filters['paid_status'] && $this->filters['paid_status'] == 2 ? 'Contractor Payment Status : ' . 'Unpaid To Contractor' : '') ?> 
											</div>
											<div>
												<?php echo $this->escape(isset($this->filters['customer_payment_status']) && $this->filters['customer_payment_status'] && $this->filters['customer_payment_status'] == 1 ? ' Customer Payment status: ' . 'Paid By Customer' : ' ') ?> 
												<?php echo $this->escape(isset($this->filters['customer_payment_status']) && $this->filters['customer_payment_status'] && $this->filters['customer_payment_status'] == 2 ? ' Customer Payment status: ' . 'UnPaid By Customer' : ' ') ?> 
											</div>
											<div>
												<?php echo $this->escape(isset($this->filters['Inv']) && $this->filters['Inv'] ? 'Contractor Invoice Number : ' . $this->filters['Inv'] : '') ?> 
											</div>

											<div>
												<?php echo $this->escape(isset($this->filters['customer_inv']) && $this->filters['customer_inv'] ? 'Customer Invoice Number : ' . $this->filters['customer_inv'] : '') ?> 
											</div>


											<div>

												<?php
												if (isset($this->filters['booking_status']) && $this->filters['booking_status']) {
													if ($this->filters['booking_status'] == 18) {
														echo $this->escape('Booking status : COMPLETED & FAILED ');
													} else {
														$modelBookingStatus = new Model_BookingStatus();
														$bookingStatus = $modelBookingStatus->getById($this->filters['booking_status']);
														$statusName = $bookingStatus['name'];
														echo $this->escape('Booking status : ' . $statusName);
													}
												}
												?> 
											</div>	
										</div>
                        <?php endif; ?>
				
				<div class="ibox-content navMask"  style="position: relative; width: 100%; overflow: hidden;overflow-x:scroll;">
				
                        <div>
                            <h4>Booking Status Summary</h4>
                        </div>
                        <table border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table table table-bordered itemsWrapper">
                           <thead> 
								   <tr>
										<th>No of Jobs</th>
										<th>IN PROGRESS</th>
										<th>QUOTED</th>
										<th>TO DO</th>
										<th>ON HOLD</th>
										<th>CANCELLED</th>
										<th>TENTATIVE</th>
										<th>TO VISIT</th>
										<th>AWAITING UPDATE</th>
										<th>IN PROGRESS (invoice)</th>
										<th>FAILED (invoice)</th>
										<th>COMPLETED (invoice)</th>
									</tr>
							</thead>
							<tbody>
								<tr>
									<td id="no_of_jObs"></td>
									<td id="INPROCESS"></td>
									<td id="QUOTED"></td>
									<td id="TODO"></td>
									<td id="ONHOLD"></td>
									<td id="CANCELLED"></td>
									<td id="TENTATIVE"></td>
									<td id="TOVISIT"></td>
									<td id="AWAITINGUPDATE"></td>
									<td id="INPROCESSI"></td>
									<td id="FAILED"></td>
									<td id="COMPLETED"></td>
								</tr>
							</tbody>
                        </table>
				</div>
				<div class="ibox-content navMask"  style="position: relative; width: 100%; overflow: hidden;overflow-x:scroll;">
                        <div>
                            <h4>Booking Payment Summary</h4>
                        </div>
                        <table border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table table table-bordered itemsWrapper ">
                            
							<thead>
										<tr>

											<th>CHEQUE</th>
											<th>CC Payments</th>
											<th>EFT</th>
											<th>C-D Payments</th>
											<th>Cash Payments</th>
											<th>Refunds Included</th>
											<th>Total Office</th>
											<th>Unpaid</th>
										</tr>
							</thead>
							<tbody>
										<tr>
											<td id="CHEQUE"></td>
											<td id="CreditCard"></td>
											<td id="EFT"></td>
											<td id="Cash-Deposited"></td>
											<td id="Cash_payments" ></td>
											<td id="refunds_included"></td>
											<td id="office_payments"></td>
											<td id="unpaid"></td>
										</tr>
							</tbody>
                        </table>
				</div>
				
				
				<div class="ibox-content navMask"  style="position: relative; width: 100%; overflow: hidden;overflow-x:scroll;">
                        <div>
                            <h4>Contractor Payment Summary</h4>
                        </div>
                        <table border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table table table-bordered itemsWrapper" >
                            
							<thead>
								<tr>
									<th>Contractor Name</th>
									<th>Company Name</th>
									<th>Commission</th>
									<th>Registered GST</th>
									<th>Total Invoiced</th>
									<th>Company Share</th>
									<th>Contractor Share </br> Required Contractor Invoices Total</th> 

									<th>Invoices Received from Contractor</th> 
									<th>Required Contractor  Payment</th> 
									<th>Paid to Contractor</th>
									<th>Cash Received</th>
									<th>Balance Due to Contractor</th>
									<th>payment_to_contractor</th>
									<th>total_amount_paid</th>
								</tr>
							</thead>
							<tbody>
											<?php foreach ($this->contractors AS $row) {
												$commission = $row['commission'];
												?>
												<tr cellpadding="100" style="text-align: center; vertical-align: top;"> 
													<td>
													
												<?php $contractorInfo = $modelContractorInfo->getByContractorId($row['user_id']); ?>
											        <?php if ($row['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) { ?>

													<a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->user['user_id']), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black" ><?php echo $this->escape($this->user['username'] ? ucwords($this->user['username']) : ''); ?></a>
												<?php } else {
													?>
													<a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->user['user_id']), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black" ><?php echo $this->escape($row['username'] ? ucwords($row['username']) : '') ?></a>
												<?php } ?>
													
													</td>
													<td><?php echo $this->escape(ucwords($contractorInfo['business_name'])) ? ucwords($contractorInfo['business_name']) : '-'; ?></td>
													<td>
												<?php echo (!empty($row['commission']) ? $this->escape($row['commission']) . "%" : 0 ) ?>
													</td>
													
													<td>
													
												<?php
													echo (!empty($row['registerd_gst']) ? 'Yes' : 'No');
													$registerd_gst = 0;
													if (!empty($row['registerd_gst'])) {
														$registerd_gst = 1;
													} else
														$registerd_gst = 0;
													?>
													
													</td>
													<td id="total_invoice"></td>
													<td id="company_share"></td>
													<td id="contractor_share"></td> 

													<td id="Invoices_received_from_contractor"></td> 
													<td id="required_contractor_payment"></td> 
													<td id="paid_to_contractor"></td>
													<td id="cash_received"></td>
													<td id="balance_due_to_contractor"></td>
													<td id="total_payment_to_contractor_from_DB"></td>
													<td id="total_amount_paid_from_DB"></td>
												</tr>
											<?php } ?>
							</tbody>
                        </table>
				</div>
			
			
				<div class="ibox-content navMask"  style="position: relative; width: 100%; overflow: hidden;overflow-x:scroll;">
			
			
			
                        <div>
                            <h4>bookings Summary</h4>
                        </div>
                        <table id="bookings_Summary" border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table table table-bordered itemsWrapper">
							<thead>
								   <tr>
										<td><input type="checkbox" name="checkboxall" id="checkboxall"  style="margin: 3px;" /></td>
										<td>Contractor Inv#</td>
										<td>Contractor Invoice Payment Status</td>
										<td>Date</td>
										<td>Job#</td>
										<td>Inv#</td>
										<td>Contractor</td>
										<td>Job Status</td>
										<td>Complaint Status</td>
										<td>Job Nature</td>
										<td>Address</td>
										<td>State</td>
										<td>Amount</td>
										<td>Discount Included</td>
										<td>Approved Payment</td>
										<td>Unapproved Payment</td>
										<td>Approved Refund</td>
										<td>Unapproved Refund</td>
										<td>Unpaid</td>
										<td>Office Payment</td>
										<td>Cash Payment</td>
										<td>Booked By</td>
										<?php /* <td>Date of Booking</td> */ ?>
										<td>Comments</td>
										<td>Company Share</td>
										<td>Contractor Share</td>
										<td>PAYMENT TO Contractor</td>
										<td>Amount Paid To Contractor</td>
									</tr>
							</thead>
							
							<tbody>
												<?php
												
												$bookings = $this->bookings;
												foreach ($this->bookings AS $row) {
													?>  

												<?php
													if (($row['contractor_INV'] == '999999999' && $user['username'] == 'Ayman') || $row['contractor_INV'] != '999999999') {

													$no_of_jObs++;
													$required_contractor_invoices_total = $required_contractor_invoices_total + $row['amount_calculated'];
													//$Invoices_received_from_contractor= $Invoices_received_from_contractor+$row['amount_paid'];
													$paid_to_contractor = $paid_to_contractor + $row['paid_to_contractor'];
													$total_payment_to_contractor_from_DB += $row['payment_to_contractor'];
													//$total_amount_paid_from_DB += $row['amount_paid'];
												?>
										

										
                                    <tr name="record" id="<?php echo $this->escape('record_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" cellpadding="100" style="text-align: center; vertical-align: top; background-color:<?php if ($row['complaint_status'] == 'closed') {
											echo '#22aa99';
											} else if ($row['complaint_status'] == 'open') echo '#ff0000'; ?>;" > 

                                            <?php $bookingContractorPayment = $modelBookingContractorPayment->getBybookingIdAndContractorId($row['booking_id'], $row['contractor_id']); ?>
										<td name="check_td" >
                                            <?php if ($row['convert_status'] == 'invoice') { ?>
                                                <input type="checkbox" name="bookings_contractor_payment[]" id="<?php echo $this->escape('checkbox_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" value="<?php echo $this->escape($row['booking_id'] . '_' . $row['contractor_id']); ?>"/>
                                            <?php } ?>
												<?php // set these hidden fields to save the values that we use the summation in the above table, 
												//we need that hidden fields in calculate selected invoices view  
												?>
                                            <input type="hidden" name="required_contractor_invoices" value="<?php echo $this->escape($row['amount_calculated'] ? $this->escape($row['amount_calculated']) : '0'); ?>"/>
                                            <input type="hidden" name="Invoices_received_from_contractor_current_booking" value="<?php echo $this->escape($row['amount_paid'] ? $this->escape($row['amount_paid']) : '0'); ?>"/>
                                            <input type="hidden" name="paid_to_contractor_current_booking" value="<?php echo $this->escape($row['paid_to_contractor'] ? $this->escape($row['amount_paid']) : '0'); ?>"/>
                                        </td>
										
										
										
                                        <td id="<?php echo $this->escape('contractor_invoice_num_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>">   

                                            <?php
                                            //if (!empty($bookingContractorPayment)) { && isset($row['payment_to_contractor']) && $row['payment_to_contractor'] !=0 
                                            if (isset($row['contractor_INV']) && !empty($row['contractor_INV'])) {
                                                $contractor_invoice_numbers[] = $row['contractor_INV'];
                                                ?>
                                                <div id="<?php echo $this->escape('contractor_invoice_num_' . $row['payment_to_contractor_id']); ?>" >
												<?php
												echo FilterLink::generate_link($row['contractor_INV'], array('fltr' => array('contractor_id' => $this->filters['contractor_id'], 'Inv' => $row['contractor_INV'])));
												?>
                                                </div>


                                                <?php if (CheckAuth::checkCredential(array('ContractorsBookingSummaryWithModifyInvoiceNumber'))) { ?>
                                                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Invoice Number','<?php echo $this->escape($this->url(array('payment_to_contractor_id' => $row['payment_to_contractor_id']), 'editContractorInvoiceNumberOnly')); ?>');"><img src="/pic/icons/edit.png" /></a>
                                                <?php } ?>
                                            <?php
                                            } else if (isset($row['contractor_INV']) && !empty($row['contractor_INV']) && isset($row['payment_to_contractor']) && $row['payment_to_contractor'] == 0) {
                                                ?>
                                                assigned
												<?php
											}
											?>

                                        </td>
										
										
                                        <td>   
                                                <?php if ($row['convert_status'] == 'invoice') { ?>
                                                <div style="padding-top: 5px;" id="<?php echo $this->escape('status_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>">
                                                    <?php
                                                    if (isset($row['payment_to_contractor'])) {
                                                        echo isset($row['paid_status']) ? $this->escape($row['paid_status']) : '';
                                                    }
                                                    ?>
                                                </div>

                                                <div style="padding-top: 5px;" id="<?php echo $this->escape('unpaid_link_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>">
                                                    <?php
                                                    if (isset($row['payment_to_contractor'])) {
                                                        if ($row['paid_status'] == 'paid' && CheckAuth::checkCredential(array('ContractorsBookingSummaryWithModifyInvoiceNumber'))) {
                                                            ?><a href = "javascript:;" onclick= "unpaid_contractor('<?php echo $this->escape($this->url(array('id' => $row['booking_contractor_payment_id']), 'unPaidContractor')); ?>')"/>Delete Payment</a>

                                                    <?php
                                                    }
                                                }
                                                ?>
                                                </div>
											<?php } ?>
                                        </td>

                                        <td>
												<?php $datetime = strtotime($row['start_date']);
												echo isset($row['start_date']) ? date("d M Y", $datetime) : '';
												?>
                                        </td>
                                        <td>
												<?php if (!empty($row['booking_id'])) { ?>
                                                <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_black"> <?php echo $this->escape($row['job#']) ?></a>
												<?php
												} else {
													echo isset($row['job#']) ? $this->escape($row['job#']) : '';
												}
												?>
                                        </td>

                                        <td>
												<?php if (!empty($row['INV#'])) { ?>
                                                <div id="<?php echo $this->escape('booking_invoice_id_' . $row['booking_invoice_id']); ?>"  >
                                                    <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking_invoice_id']), 'invoiceView')); ?>" class="a_black"> <?php echo $this->escape($row['INV#']) ?></a>
                                                </div>
													<?php if (CheckAuth::checkCredential(array('editInvoiceNumber'))) { ?>
																						<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Invoice Number','<?php echo $this->escape($this->url(array('id' => $row['booking_invoice_id']), 'editInvoiceNumber')); ?>');"><img src="/pic/icons/edit.png" /></a>
																					<?php } ?>

													<?php }
												?>
                                        </td>

                                        <td>
												<?php echo isset($row['contractor']) ? $this->escape($row['contractor']) : ''; ?>
                                        </td>   
										
                                        <td>
												<?php
													echo isset($row['job_status']) ? $this->escape($row['job_status']) : '';
													// add 1 to this status
													$job_status = str_replace(' ', '', $row['job_status']);
													$jobs_num_of_each_booking_type[$job_status] ++;
																?>
											
										</td>
										
										
                                        <td>
												<?php if (isset($row['complaint_status']) && !empty($row['complaint_status'])) { ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'complaintView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['complaint_num']) ?></b></a>
                                                <div style="padding-top: 5px;" id="<?php echo $this->escape('convert_complaint_status_' . $row['complaint_id']); ?>">
                                                    <a href = "javascript:;" onclick= "convert_complaint_status('<?php echo $this->escape($this->url(array('id' => $row['complaint_id']), 'convertStatus')); ?>')"/><?php echo $row['complaint_status']; ?></a>
                                                </div>
												<?php
													}
												?>
										</td>
										
                                        <td>
											<?php echo isset($row['job_nature']) ? $this->escape($row['job_nature']) : ''; ?>
										</td>
										
                                        <td>
                                            <?php echo isset($row['address']) ? $this->escape($row['address']) : ''; ?>
                                        </td>
										
										
                                        <td style="text-align: left;">
                                            <?php echo isset($row['state']) ? $this->escape($row['state']) : ''; ?>
                                        </td>

                                        <td name="amount">
										
											<?php
                                            echo $this->escape((!empty($row['total_contractor_service_qoute'])) ? number_format($row['total_contractor_service_qoute'], 2) : number_format(0, 2));
                                            // add amount of this booking to this status
                                            $job_status = str_replace(' ', '', $row['job_status']);
                                            //////test if the job inprocess only or IN PROGRESS(invoice)
                                            if ($job_status == 'INPROCESS' && $row['convert_status'] == 'invoice') {
                                                $job_status = 'INPROCESSI';
                                            }
                                            $jobs_amount_of_each_booking_type[$job_status] = $jobs_amount_of_each_booking_type[$job_status] + $row['total_contractor_service_qoute'];
                                            $amount = $amount + $row['total_contractor_service_qoute'];
                                            ?>
                                            <input type="hidden" name="job_status" value="<?php echo $this->escape($row['job_status'] ? $this->escape($row['job_status']) : '0'); ?>"/>

                                        </td>
										
                                        <td name="discount_included"><?php echo $this->escape((!empty($row['total_discount'])) ? number_format($row['total_discount'], 2) : number_format(0, 2)) ?></td>

                                        <td name="approved_payment"><?php
												echo $this->escape((!empty($row['approved_payment'])) ? number_format($row['approved_payment'], 2) : number_format(0, 2));
												$approved_payment = $approved_payment + $row['approved_payment'];
                                            ?>
                                        </td>
                                        
										<td name="unapproved_payment"><?php echo $this->escape((!empty($row['unapproved_payment'])) ? number_format($row['unapproved_payment'], 2) : number_format(0, 2)) ?></td>
                                       
									   <td name="approved_refund"><?php echo $this->escape((!empty($row['approved_refund'])) ? number_format($row['approved_refund'], 2) : number_format(0, 2));
												$refunds_included = $refunds_included + $row['approved_refund'];
                                            ?>
										</td>
										
                                        <td name="unapproved_refund"><?php echo $this->escape((!empty($row['unapproved_refund'])) ? number_format($row['unapproved_refund'], 2) : number_format(0, 2)) ?></td>
                                       
									   <td name="unpaid">
											<?php
                                            if (isset($row['approved_payment']) && !empty($row['approved_payment'])) {
                                                $job_unpaid = $row['total_contractor_service_qoute'] - ($row['approved_payment'] - $row['approved_refund']);
                                            } else if ($row['convert_status'] == 'invoice') {
                                                $job_unpaid = $row['total_contractor_service_qoute'];
                                            } else
                                                $job_unpaid = 0;
                                            $unpaid = $unpaid + $job_unpaid;
                                            echo number_format($job_unpaid, 2);
                                            ?>
										</td>
										
										
                                        <td name="office_payment" >
										
											<?php
                                            echo $this->escape((!empty($row['office_payment']) ) ? number_format($row['office_payment'], 2) : number_format(0, 2));
                                            $payment_type = "";
                                            if (!empty($row['payment_type']) && $row['payment_type'] != 'Cash') {
                                                $payment_type = str_replace(' ', '', $row['payment_type']);
                                                //echo 'type   '.$payment_type;
                                                if ($job_status == 'INPROCESS' && $row['convert_status'] == 'invoice') {
                                                    $job_status = 'INPROCESS_invoice';
                                                }
                                                $amount_of_each_office_payment_type[$payment_type] = $amount_of_each_office_payment_type[$payment_type] + $row['office_payment'];
                                            }

                                            $office_payments = $office_payments + $row['office_payment'];
                                            ?>
                                            <input type="hidden" name="payment_type" value="<?php echo $this->escape($payment_type); ?>"/>

                                        </td>
										
                                        <td name="cash_payment" id="<?php echo $this->escape('cash_payment_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
										<?php
												echo $this->escape((!empty($row['cash_payment'])) ? number_format($row['cash_payment'], 2) : number_format(0, 2));
												if (isset($row['cash_payment']) && !empty($row['cash_payment'])) {
													$cash_payments = $cash_payments + $row['cash_payment'];
												}
                                        ?>
										</td>

                                        <td><?php echo isset($row['booked_by']) ? $this->escape($row['booked_by']) : ''; ?></td>
                                        
										<td style="text-align: left;">
											<?php echo isset($row['comments']) ? $this->escape($row['comments']) : ''; ?>
										</td>

                                        <?php
											if (isset($row['approved_payment']) && !empty($row['approved_payment'])) {
												$calculated_contractor_share = $row['total_contractor_service_qoute'] * $commission / 100;
												/////not registerd gst
												if ($registerd_gst == 0) {
													$tax = calculate_net_amount($calculated_contractor_share, 10);
													$calculated_contractor_share = $calculated_contractor_share - $tax;
												}

												$calculated_company_share = $row['total_contractor_service_qoute'] - $calculated_contractor_share;
											} else {
												$calculated_contractor_share = 0;
												$calculated_company_share = 0;
											}
                                        ?>

                                        <td name="company_share" id="<?php echo $this->escape('company_share_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
													<?php
													if (isset($row['contractor_share'])) {
														echo number_format($row['total_contractor_service_qoute'] - $row['contractor_share'], 2);
														$company_share = $company_share + ($row['total_contractor_service_qoute'] - $row['contractor_share']);
													} else {
														echo number_format($calculated_company_share, 2);
														$company_share = $company_share + $calculated_company_share;
													}
													?>
                                        </td>
										
										
                                        <td name="contractor_share">
                                            <?php
                                            if (isset($row['contractor_share'])) {

                                                $current_contractor_share = $row['contractor_share'];
                                                $contractor_share = $contractor_share + $row['contractor_share'];
                                                $payment_to_contractor = $row['contractor_share'] - $row['cash_payment'];
                                            } else {

                                                $current_contractor_share = $calculated_contractor_share;
                                                $contractor_share = $contractor_share + $calculated_contractor_share;
                                                $payment_to_contractor = $calculated_contractor_share - $row['cash_payment'];
                                            }
                                            ?>
                                            <div id="<?php echo $this->escape('contractor_share_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
												<?php echo number_format($current_contractor_share, 2); ?>
                                            </div>

                                            <?php if (CheckAuth::checkCredential(array('ContractorsBookingSummaryWithModifyInvoiceNumber'))) { ?>
                                                <a href="javascript:;" data-toggle="modal" data-target="#popupi"
                                                   onclick="popupi('Contractor Share','<?php echo $this->escape($this->url(array('id' => $row['booking_id'], 'flag' => 1), 'setContractorShare')); ?>');"
                                                   class="details_info_opt"><img src="/pic/icons/edit.png" alt="edit" /></a>
                                                <?php } ?>

                                        </td>


                                        <td name="payment_to_contractor" id="<?php echo $this->escape('payment_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
                                                <?php echo number_format($payment_to_contractor, 2) ?>

                                        </td>
										
										
                                        <td name="amount_paid_to_contractor" id="<?php echo $this->escape('amount_paid_to_contractor_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
												<div id="<?php echo $this->escape('amount_paid_to_contractor_div_' . $row['booking_id'] . '_' . $row['contractor_id']); ?>" >
												<?php
												if ($row['convert_status'] == 'invoice' && !empty($row['payment_to_contractor'])) {
												echo $this->escape((!empty($row['payment_to_contractor'])) ? number_format($row['payment_to_contractor'], 2) : number_format(0, 2));
												} else
												echo '0.00';
												?>
													</br>
												<?php if ($row['convert_status'] == 'invoice') { ?>
												<?php if (CheckAuth::checkCredential(array('ContractorsBookingSummaryWithModifyInvoiceNumber'))) { ?>
															<a href="javascript:;" data-toggle="modal" data-target="#popupi"
															   onclick="popupi('Edit Paid Amount','<?php echo $this->escape($this->url(array('id' => $row['booking_id'], 'contractor_id' => $row['contractor_id'], 'old_paid_amount' => $this->escape((!empty($row['payment_to_contractor'])) ? $row['payment_to_contractor'] : 0)), 'editPaidAmount')); ?>' );"
															   class="details_info_opt"><img src="/pic/icons/edit.png" alt="edit" />
															</a>
												<?php } ?>
												<?php } ?>
												</div>

                                        </td>
                                    </tr>
									<?php
									}
									}
									?>
						</tbody>
                        </table>
						
						
						
						
						
                        <?php
                        $total_invoice = $jobs_amount_of_each_booking_type['INPROCESSI'] + $jobs_amount_of_each_booking_type['COMPLETED'] + $jobs_amount_of_each_booking_type['FAILED'];
                        $required_contractor_payment = $contractor_share - $cash_payments;

                        $balance_due_to_contractor = $required_contractor_payment - $paid_to_contractor;

                        ///get total paid_amount of all contractor_invoices
                        $model_paymentToContractors = new Model_PaymentToContractors();
                        if (!empty($contractor_invoice_numbers)) {
                            $contractor_id = isset($this->filters['contractor_id']) ? $this->filters['contractor_id'] : '';

                            $retArray = $model_paymentToContractors->getTotalPaidAmountByInvoicesNumberArray($contractor_invoice_numbers, $contractor_id);
                            $total_amount_paid_from_DB = $retArray['total_amount_paid'];
                            $Invoices_received_from_contractor = $retArray['invoice_total_amount'];
                        }
                        ?>
						</div>
					
					
					
					
					</div>
					
                <?php else: ?>
                   <div class="ibox"><div class="ibox-content"><h4>Please Select Contractor And Date Range</h4></div></div>
                <?php endif; ?>
                <input type ="hidden" name="start_time_value" value="<?php echo!empty($this->filters['booking_start_between']) ? $this->escape($this->filters['booking_start_between']) : '' ?>"/>
                <input type ="hidden" name="end_time_value" value="<?php echo!empty($this->filters['booking_end_between']) ? $this->escape($this->filters['booking_end_between']) : '' ?>"/>
    	</div>
	</form>
</div>

<script type="text/javascript">

$(document).ready(function() {
	
	var clicking = false;

$('.navMask').mousedown(function(){
    clicking = true;
	//console.log(clicking);
	
});

$('.navMask').mouseleave(function(){
    clicking = false;   
	//console.log(clicking);
})


$('.navMask').mousemove(function(e){
    if(clicking == false) return;
	
	var leftOffset = $(this).offset().left;
	var border = parseInt($(this).find('.itemsWrapper').width()) - 1019;
	             if(Math.abs(-e.clientX + leftOffset) < (border + 50)){
	            $(this).find('.itemsWrapper').css('margin-left', -e.clientX + leftOffset);
	                 }
					// console.log (clicking);

});
 
});

    $(document).ready(function () {
        $('#no_of_jObs').html('<?php echo $no_of_jObs; ?>');
        $('#INPROCESS').html('<?php echo '(' . $jobs_num_of_each_booking_type['INPROCESS'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['INPROCESS']) ) ? number_format($jobs_amount_of_each_booking_type['INPROCESS'], 2) : number_format(0, 2)); ?>');
        $('#INPROCESSI').html('<?php echo '(' . $jobs_num_of_each_booking_type['INPROCESSI'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['INPROCESSI']) ) ? number_format($jobs_amount_of_each_booking_type['INPROCESSI'], 2) : number_format(0, 2)); ?>');
        $('#COMPLETED').html('<?php echo '(' . $jobs_num_of_each_booking_type['COMPLETED'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['COMPLETED']) ) ? number_format($jobs_amount_of_each_booking_type['COMPLETED'], 2) : number_format(0, 2)); ?>');
        $('#FAILED').html('<?php echo '(' . $jobs_num_of_each_booking_type['FAILED'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['FAILED']) ) ? number_format($jobs_amount_of_each_booking_type['FAILED'], 2) : number_format(0, 2)); ?>');
        $('#QUOTED').html('<?php echo '(' . $jobs_num_of_each_booking_type['QUOTED'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['QUOTED']) ) ? number_format($jobs_amount_of_each_booking_type['QUOTED'], 2) : number_format(0, 2)); ?>');
        $('#TODO').html('<?php echo '(' . $jobs_num_of_each_booking_type['TODO'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['TODO']) ) ? number_format($jobs_amount_of_each_booking_type['TODO'], 2) : number_format(0, 2)); ?>');
        $('#ONHOLD').html('<?php echo '(' . $jobs_num_of_each_booking_type['ONHOLD'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['ONHOLD']) ) ? number_format($jobs_amount_of_each_booking_type['ONHOLD'], 2) : number_format(0, 2)); ?>');
        $('#CANCELLED').html('<?php echo '(' . $jobs_num_of_each_booking_type['CANCELLED'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['CANCELLED']) ) ? number_format($jobs_amount_of_each_booking_type['CANCELLED'], 2) : number_format(0, 2)); ?>');
        $('#AWAITINGUPDATE').html('<?php echo '(' . $jobs_num_of_each_booking_type['AWAITINGUPDATE'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['AWAITINGUPDATE']) ) ? number_format($jobs_amount_of_each_booking_type['AWAITINGUPDATE'], 2) : number_format(0, 2)); ?>');
        $('#TENTATIVE').html('<?php echo '(' . $jobs_num_of_each_booking_type['TENTATIVE'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['TENTATIVE']) ) ? number_format($jobs_amount_of_each_booking_type['TENTATIVE'], 2) : number_format(0, 2)); ?>');
        $('#TOVISIT').html('<?php echo '(' . $jobs_num_of_each_booking_type['TOVISIT'] . ')' . $this->escape((!empty($jobs_amount_of_each_booking_type['TOVISIT']) ) ? number_format($jobs_amount_of_each_booking_type['TOVISIT'], 2) : number_format(0, 2)); ?>');
        $('#amount').html('<?php echo $this->escape((!empty($amount) ) ? number_format($amount, 2) : number_format(0, 2)); ?>');
        $('#CHEQUE').html('<?php echo $this->escape((!empty($amount_of_each_office_payment_type['CHEQUE']) ) ? number_format($amount_of_each_office_payment_type['CHEQUE'], 2) : number_format(0, 2)); ?>');
        $('#CreditCard').html('<?php echo $this->escape((!empty($amount_of_each_office_payment_type['CreditCard']) ) ? number_format($amount_of_each_office_payment_type['CreditCard'], 2) : number_format(0, 2)); ?>');
        $('#EFT').html('<?php echo $this->escape((!empty($amount_of_each_office_payment_type['EFT']) ) ? number_format($amount_of_each_office_payment_type['EFT'], 2) : number_format(0, 2)); ?>');
        $('#Cash-Deposited').html('<?php echo $this->escape((!empty($amount_of_each_office_payment_type['Cash-Deposited']) ) ? number_format($amount_of_each_office_payment_type['Cash-Deposited'], 2) : number_format(0, 2)); ?>');
        $('#Cash_payments').html('<?php echo $this->escape((!empty($cash_payments) ) ? number_format($cash_payments, 2) : number_format(0, 2)); ?>');
        $('#office_payments').html('<?php echo $this->escape((!empty($office_payments) ) ? number_format($office_payments, 2) : number_format(0, 2)); ?>');
        $('#refunds_included').html('<?php echo $this->escape((!empty($refunds_included) ) ? number_format($refunds_included, 2) : number_format(0, 2)); ?>');
        $('#total_invoice').html('<?php echo $this->escape((!empty($total_invoice) ) ? number_format($total_invoice, 2) : number_format(0, 2)); ?>');
        $('#contractor_share').html('<?php echo $this->escape((!empty($contractor_share) ) ? number_format($contractor_share, 2) : number_format(0, 2)); ?>');
        $('#company_share').html('<?php echo $this->escape((!empty($company_share) ) ? number_format($company_share, 2) : number_format(0, 2)); ?>');
        $('#required_contractor_payment').html('<?php echo $this->escape((!empty($required_contractor_payment) ) ? number_format($required_contractor_payment, 2) : number_format(0, 2)); ?>');
        $('#unpaid').html('<?php echo $this->escape((!empty($unpaid) ) ? number_format($unpaid, 2) : number_format(0, 2)); ?>');
        $('#required_contractor_invoices_total').html('<?php echo $this->escape((!empty($contractor_share) ) ? number_format($contractor_share, 2) : number_format(0, 2)); ?>');
        $('#Invoices_received_from_contractor').html('<?php echo $this->escape((!empty($Invoices_received_from_contractor) ) ? number_format($Invoices_received_from_contractor, 2) : number_format(0, 2)); ?>');
        $('#paid_to_contractor').html('<?php echo $this->escape((!empty($paid_to_contractor) ) ? number_format($paid_to_contractor, 2) : number_format(0, 2)); ?>');
        $('#balance_due_to_contractor').html('<?php echo $this->escape((!empty($balance_due_to_contractor) ) ? number_format($balance_due_to_contractor, 2) : number_format(0, 2)); ?>');
        $('#cash_received').html('<?php echo $this->escape((!empty($cash_payments) ) ? number_format($cash_payments, 2) : number_format(0, 2)); ?>');

        $('#total_payment_to_contractor_from_DB').html('<?php echo $this->escape((!empty($total_payment_to_contractor_from_DB) ) ? number_format($total_payment_to_contractor_from_DB, 2) : number_format(0, 2)); ?>');
        $('#total_amount_paid_from_DB').html('<?php echo $this->escape((!empty($total_amount_paid_from_DB) ) ? number_format($total_amount_paid_from_DB, 2) : number_format(0, 2)); ?>');



    });

    $('#new_paid_amount1').keydown(function (e) {
        e.stopPropagation();
        alert('You pressed enter!');
        //change_amount_paid();
        return false;
    });


    function change_contractor_share(url, w) {

        $.ajax({
            type: "POST",
            url: url,
            data: $('#fmReport').serialize(),
            dataType: "json",
            success: function (data) {


                contractor_share_difference = parseFloat(data.new_contractor_share) - parseFloat(data.old_contractor_share);
                old_company_share = $('#company_share_' + data.booking_id + '_' + data.contractor_id).html();
                old_company_share = parseFloat(old_company_share.replace(",", ""));
                new_company_share = old_company_share - contractor_share_difference;
                $('#company_share_' + data.booking_id + '_' + data.contractor_id).html($.format.number(new_company_share, '#,##0.00#'));
                ///////
                old_total_company_share = $('#company_share').html();
                old_total_company_share = parseFloat(old_total_company_share.replace(",", ""));
                new_total_company_share = old_total_company_share - contractor_share_difference;
                $('#company_share').html($.format.number(new_total_company_share, '#,##0.00#'));
                //////
                old_total_contractor_share = $('#contractor_share').html();
                old_total_contractor_share = parseFloat(old_total_contractor_share.replace(",", ""));
                new_total_contractor_share = old_total_contractor_share + contractor_share_difference;
                $('#contractor_share').html($.format.number(new_total_contractor_share, '#,##0.00#'));
                /////
                cash_received = $('#cash_received').html();
                cash_received = parseFloat(cash_received.replace(",", ""));
                new_required_contractor_payment = new_total_contractor_share - cash_received;
                $('#required_contractor_payment').html($.format.number(new_required_contractor_payment, '#,##0.00#'));
                /////
                paid_to_contractor = $('#paid_to_contractor').html();
                paid_to_contractor = parseFloat(paid_to_contractor.replace(",", ""));
                balance_due_to_contractor = new_required_contractor_payment - paid_to_contractor;
                $('#balance_due_to_contractor').html($.format.number(balance_due_to_contractor, '#,##0.00#'));




            }
        });
    }


    function change_to_input_text(url, booking_id, contractor_id) {
        url = url;
        console.log(url);
        old_val = $('#amount_paid_to_contractor_div_' + booking_id + '_' + contractor_id).html();
        console.log($('#amount_paid_to_contractor_div_' + booking_id + '_' + contractor_id).html());
        //$('#amount_paid_to_contractor_div_'+booking_id+'_'+contractor_id).html('<input type="text" style="width: 80px;" id="new_paid_amount" name="new_paid_amount" value="'+$.trim(old_val)+'" />')

        marker = $('<span />').insertBefore('#new_paid_amount1');
        $('#new_paid_amount1').detach().attr('type', 'text').insertAfter(marker).focus();
        marker.remove();
        $('#new_paid_amount1').val($.trim(old_val));
    }








    function convert_complaint_status(url) {

        $.ajax({
            type: "POST",
            url: url,
            data: $('#fmReport').serialize(),
            dataType: "json",
            success: function (data) {
                console.log(data.isConverted);
                console.log(data.oldComplaintStatus);
                console.log(data.complaintId);
                if (data.oldComplaintStatus == 'closed') {

                    $('#convert_complaint_status_' + data.complaintId).closest('tr').css("background-color", "#ff0000");
                    $('#convert_complaint_status_' + data.complaintId).find('a').text('open');
                }
                else {
                    $('#convert_complaint_status_' + data.complaintId).closest('tr').css("background-color", "#22aa99");
                    $('#convert_complaint_status_' + data.complaintId).find('a').text('closed');
                }


            }
        });

    }

    $("#deletebutton").click(function () {
        total_invoices_amount = 0.0;
        total_invoices_approved_payment = 0.0;
        total_invoices_unapproved_payment = 0.0;
        total_invoices_approved_refund = 0.0;
        total_invoices_unapproved_refund = 0.0;
        total_invoices_unpaid = 0.0;
        total_invoices_office_payment = 0.0;
        total_invoices_cash_payment = 0.0;
        total_invoices_contractor_share = 0.0;
        total_invoices_company_share = 0.0;
        total_invoices_payment_to_contractor = 0.0;
        total_invoices_required_contractor_invoices = 0.0;
        total_invoices_received_from_contractor = 0.0;
        total_invoices_paid_to_contractor = 0.0;

        total_completed_invoices_number = 0;
        total_faild_invoices_number = 0;
        total_inprocess_invoices_number = 0;
        total_completed_invoices_amount = 0;
        total_faild_invoices_amount = 0;
        total_inprocess_invoices_amount = 0;

        total_cheque_payment_amount = 0.0;
        total_creditCard_payment_amount = 0.0;
        total_EFT_payment_amount = 0.0;
        total_CD_payment_amount = 0.0;



        row_num = -1;

        $('tr[name="record"]').each(function (index) {
            check_td = $(this).find('td[name="check_td"]');

            amount_str = $(this).find('td[name="amount"]').text();
            approved_payment_str = $(this).find('td[name="approved_payment"]').text();
            unapproved_payment_str = $(this).find('td[name="unapproved_payment"]').text();
            approved_refund_str = $(this).find('td[name="approved_refund"]').text();
            unapproved_refund_str = $(this).find('td[name="unapproved_refund"]').text();
            unpaid_str = $(this).find('td[name="unpaid"]').text();
            office_payment_str = $(this).find('td[name="office_payment"]').text();
            cash_payment_str = $(this).find('td[name="cash_payment"]').text();
            contractor_share_str = $(this).find('td[name="contractor_share"]').text();
            company_share_str = $(this).find('td[name="company_share"]').text();
            payment_to_contractor_str = $(this).find('td[name="payment_to_contractor"]').text();

            //required_contractor_invoices_str = $(this).find('td[name="check_td"] input[name="required_contractor_invoices"]').val();
            console.log('test');
            //console.log(required_contractor_invoices_str);
            Invoices_received_from_contractor_current_booking_str = $(check_td).find('input[name="Invoices_received_from_contractor_current_booking"]').val();
            paid_to_contractor_current_booking_str = $(check_td).find('input[name="paid_to_contractor_current_booking"]').val();

            job_status = $(this).find('td[name="amount"] input[name="job_status"]').val();
            payment_type = $(this).find('td[name="office_payment"] input[name="payment_type"]').val();

            amount = parseFloat(amount_str.replace(",", ""));
            approved_payment = parseFloat(approved_payment_str.replace(",", ""));
            unapproved_payment = parseFloat(unapproved_payment_str.replace(",", ""));
            approved_refund = parseFloat(approved_refund_str.replace(",", ""));
            unapproved_refund = parseFloat(unapproved_refund_str.replace(",", ""));
            unpaid = parseFloat(unpaid_str.replace(",", ""));
            office_payment = parseFloat(office_payment_str.replace(",", ""));
            cash_payment = parseFloat(cash_payment_str.replace(",", ""));
            contractor_share = parseFloat(contractor_share_str.replace(",", ""));
            company_share = parseFloat(company_share_str.replace(",", ""));
            payment_to_contractor = parseFloat(payment_to_contractor_str.replace(",", ""));

            //required_contractor_invoices = parseFloat(required_contractor_invoices_str.replace(",",""));
            Invoices_received_from_contractor_current_booking = parseFloat(Invoices_received_from_contractor_current_booking_str.replace(",", ""));
            paid_to_contractor_current_booking = parseFloat(paid_to_contractor_current_booking_str.replace(",", ""));


            console.log(check_td);
            row_num++;

            //console.log(this);
            if ($(check_td).find('input[type="checkbox"]').length > 0) {
                if ($(check_td).children().is(':checked')) {
                    console.log('checked');

                    total_invoices_amount += amount;
                    total_invoices_approved_payment = total_invoices_approved_payment + approved_payment;
                    total_invoices_unapproved_payment = total_invoices_unapproved_payment + unapproved_payment;
                    total_invoices_approved_refund = total_invoices_approved_refund + approved_refund;
                    total_invoices_unapproved_refund = total_invoices_unapproved_refund + unapproved_refund;
                    total_invoices_unpaid = total_invoices_unpaid + unpaid;
                    total_invoices_office_payment = total_invoices_office_payment + office_payment;
                    total_invoices_cash_payment = total_invoices_cash_payment + cash_payment;
                    total_invoices_contractor_share = total_invoices_contractor_share + contractor_share;
                    total_invoices_company_share = total_invoices_company_share + company_share;
                    total_invoices_payment_to_contractor = total_invoices_payment_to_contractor + payment_to_contractor;

                    //total_invoices_required_contractor_invoices = parseFloat(required_contractor_invoices_str.replace(",",""));
                    total_invoices_received_from_contractor = parseFloat(Invoices_received_from_contractor_current_booking_str.replace(",", ""));
                    total_invoices_paid_to_contractor = parseFloat(paid_to_contractor_current_booking_str.replace(",", ""));


                    if (job_status == 'COMPLETED') {
                        total_completed_invoices_number += 1;
                        total_completed_invoices_amount += amount;
                    }
                    else if (job_status == 'FAILED') {
                        total_faild_invoices_number += 1;
                        total_faild_invoices_amount += amount;
                    }
                    else if (job_status == 'INPROCESSI') {
                        total_inprocess_invoices_number += 1;
                        total_inprocess_invoices_amount += amount;
                    }



                    /////////////// payment type
                    switch (payment_type)
                    {
                        case 'CHEQUE':
                            total_cheque_payment_amount += office_payment;
                            break;
                        case 'CreditCard':
                            total_creditCard_payment_amount += office_payment;
                            break;
                        case 'EFT':
                            total_EFT_payment_amount += office_payment;
                            break;
                        case 'Cash-Deposited':
                            total_CD_payment_amount += office_payment;
                            break;

                    }
                }
                else {
                    console.log('unchecked');
                    $(this).closest('tr').remove();
                }

            }
            else {
                console.log('undefineddddd');
                $(this).closest('tr').remove();
            }


        });

        $('#contractor_share').html($.format.number(total_invoices_contractor_share, '#,##0.00#'));
        $('#company_share').html($.format.number(total_invoices_company_share, '#,##0.00#'));
        // $('#required_contractor_invoices_total').html($.format.number(total_invoices_contractor_share, '#,##0.00#'));  

        // $('#required_contractor_invoices_total').html($.format.number(total_invoices_required_contractor_invoices, '#,##0.00#'));  
        $('#Invoices_received_from_contractor').html($.format.number(total_invoices_received_from_contractor, '#,##0.00#'));
        $('#paid_to_contractor').html($.format.number(total_invoices_paid_to_contractor, '#,##0.00#'));
        $('#cash_received').html($.format.number(total_invoices_cash_payment, '#,##0.00#'));
        $('#required_contractor_payment').html($.format.number(total_invoices_payment_to_contractor, '#,##0.00#'));
        balance_due_to_contractor = total_invoices_payment_to_contractor - total_invoices_paid_to_contractor;
        $('#balance_due_to_contractor').html($.format.number(balance_due_to_contractor, '#,##0.00#'));

        //$required_contractor_payment= $contractor_share - $cash_payments;

        total_jobs_no = total_inprocess_invoices_number + total_completed_invoices_number + total_faild_invoices_number;
        $('#no_of_jObs').html(total_jobs_no);
        total_invoice = total_inprocess_invoices_amount + total_completed_invoices_amount + total_faild_invoices_amount;
        $('#total_invoice').html($.format.number(total_invoice, '#,##0.00#'));
        $('#INPROCESSI').html('(' + total_inprocess_invoices_number + ')' + $.format.number(total_inprocess_invoices_amount, '#,##0.00#'));
        $('#COMPLETED').html('(' + total_completed_invoices_number + ')' + $.format.number(total_completed_invoices_amount, '#,##0.00#'));
        $('#FAILED').html('(' + total_faild_invoices_number + ')' + $.format.number(total_faild_invoices_amount, '#,##0.00#'));
        $('#INPROCESS').html('(0)0.00');
        $('#QUOTED').html('(0)0.00');
        $('#TODO').html('(0)0.00');
        $('#ONHOLD').html('(0)0.00');
        $('#CANCELLED').html('(0)0.00');
        $('#AWAITINGUPDATE').html('(0)0.00');
        $('#TENTATIVE').html('(0)0.00');
        $('#TOVISIT').html('(0)0.00');
        /////////////////
        $('#CHEQUE').html($.format.number(total_cheque_payment_amount, '#,##0.00#'));
        $('#CreditCard').html($.format.number(total_creditCard_payment_amount, '#,##0.00#'));
        $('#EFT').html($.format.number(total_EFT_payment_amount, '#,##0.00#'));
        $('#Cash-Deposited').html($.format.number(total_CD_payment_amount, '#,##0.00#'));
        $('#office_payments').html($.format.number(total_invoices_office_payment, '#,##0.00#'));
        $('#Cash_payments').html($.format.number(total_invoices_cash_payment, '#,##0.00#'));
        $('#refunds_included').html($.format.number(total_invoices_approved_refund, '#,##0.00#'));
        $('#unpaid').html($.format.number(total_invoices_unpaid, '#,##0.00#'));


    });


    function unpaid_contractor(url) {

        $.ajax({
            type: "POST",
            url: url,
            data: $('#fmReport').serialize(),
            dataType: "json",
            success: function (data) {

                $('#status_' + data.booking_id + '_' + data.contractor_id).html('unpaid');
                $('#unpaid_link_' + data.booking_id + '_' + data.contractor_id).html('');
                $('#contractor_invoice_num_' + data.booking_id + '_' + data.contractor_id).html('');

                $('#amount_paid_to_contractor_' + data.booking_id + '_' + data.contractor_id).html('0.00');

                unpaid_amunt = parseFloat(data.payment_to_contractor);

                old_total_payment_to_contractor_from_DB = $('#total_payment_to_contractor_from_DB').html();
                old_total_payment_to_contractor_from_DB = parseFloat(old_total_payment_to_contractor_from_DB.replace(",", ""));
                new_total_payment_to_contractor_from_DB = old_total_payment_to_contractor_from_DB - unpaid_amunt;
                $('#total_payment_to_contractor_from_DB').html($.format.number(new_total_payment_to_contractor_from_DB, '#,##0.00#'));

                old_paid_to_contractor = $('#paid_to_contractor').html();
                old_paid_to_contractor = parseFloat(old_paid_to_contractor.replace(",", ""));
                new_paid_to_contractor = old_paid_to_contractor - unpaid_amunt;
                $('#paid_to_contractor').html($.format.number(new_paid_to_contractor, '#,##0.00#'));

                balance_due_to_contractor = $('#balance_due_to_contractor').html();
                balance_due_to_contractor = parseFloat(balance_due_to_contractor.replace(",", ""));
                new_balance_due_to_contractor = balance_due_to_contractor + unpaid_amunt;
                $('#balance_due_to_contractor').html($.format.number(new_balance_due_to_contractor, '#,##0.00#'));



            }

        });
    }


    function addContractorInvoiceNumber(flag) {
	 
	 
	
        contractor_share = $('#contractor_share').html();
        cash_received = $('#cash_received').html();
        required_contractor_payment = $('#required_contractor_payment').html();



        booking_payments = '';

        var isChecked = false;
        var isAssigned = false;

        if ($("#checkboxall").is(':checked')) {
            var checked_status = this.checked;
            $("input[type='checkbox']").each(function () {
                ///get contractor_id
                booking_contractor = $(this).val();
                booking_contractor_arr = booking_contractor.split('_');
                console.log(booking_contractor_arr[1]);
                contractor_id = booking_contractor_arr[1];
                ///////
                this.checked = checked_status;
                /////structure of booking_payment is bookingId_contractorId_paymentToContractorAmount
                if ($(this).attr("id") != "checkboxall") {
                    isChecked = true;
                    payment_to_contractor_amount = $('#payment_' + $(this).val());
                    booking_payments += $(this).val() + '_' + $.trim(payment_to_contractor_amount.text().replace(',', '')) + '_';
                    ////test if this booking assigned?? we can check this using value of amount_paid_to_contractor which is final column in the second table
                    if (flag == 1) {
                        contractor_invoice_num = $.trim($('#contractor_invoice_num_' + $(this).val()).html());
                        console.log(contractor_invoice_num);
                        console.log('by islam ');
                        if (contractor_invoice_num == 'assigned') {
                            isAssigned = true;
                            flag = 2;
                        }
                    }

                }
            });
        }
        else {
            $("input[type='checkbox']").each(function () {
                if ($(this).is(':checked')) {
                    isChecked = true;
                    ///get contractor_id
                    booking_contractor = $(this).val();
                    booking_contractor_arr = booking_contractor.split('_');
                    console.log(booking_contractor_arr[1]);
                    contractor_id = booking_contractor_arr[1];

                    /////structure of booking_payment is bookingId_contractorId_paymentToContractorAmount

                    payment_to_contractor_amount = $('#payment_' + $(this).val());
                    booking_payments += $(this).val() + '_' + $.trim(payment_to_contractor_amount.text().replace(',', '')) + '_';
                    ////test if this booking assigned?? we can check this using value of amount_paid_to_contractor which is final column in the second table
                    if (flag == 1) {
                        contractor_invoice_num = $.trim($('#contractor_invoice_num_' + $(this).val()).html());
                        console.log(contractor_invoice_num);
                        console.log('by islam ');
                        if (contractor_invoice_num == 'assigned') {
                            isAssigned = true;
                            flag = 2;
                        }
                    }
                }
            });
        }
		

        if (isChecked) {	
            if (flag == 1) {// flag == 1 payment process
			$('#popupi').modal('show');
                popupi('Saved','<?php echo $this->escape($this->url(array('flag' => 1), 'addContractorInvoiceNumber')); ?>' );
            }
            else if (flag == 0) { // flag == 0 assignment process
			$('#popupi').modal('show');
                popupi('Saved','<?php echo $this->escape($this->url(array('flag' => 0), 'addContractorInvoiceNumber')); ?>' );
            }
            else if (flag == 2) { // flag == 2 payment for assigned bookings
				$('#popupi').modal('show');
                popupi('Saved','<?php echo $this->escape($this->url(array('flag' => 2), 'addContractorInvoiceNumber')); ?>');
            }
         } else {
            alert('Please select Booking');
			
			/*$('.popupiInput').each(function(){
	        $(this).find('input[type=submit]').removeAttr('data-toggle');
	        $(this).find('input[type=submit]').removeAttr('data-target');
	        });*/
			
        }
		
		
    }

</script>
