<form class="form-horizontal" id="form_edit_invoice_number" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="edit_invoice_number('<?php echo $this->escape($this->form->getAction()); ?>');return false;">
    
	<div class="form-group">
                    <label class="col-md-3">Contractor Invoice Number :</label>
                    <div class="col-md-9">
					 <?php echo ($this->form->getElement('invoice_number')->render()); ?>
                    </div>
        </div>
	

            <div id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
        
    
</form>

<script type="text/javascript">
function edit_invoice_number(url){
       
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form_edit_invoice_number').serialize(),
            dataType : "json",
            success: function(data) {
				if(data.is_updated == 1){
					 $('#contractor_invoice_num_'+data.payment_to_contractor_id).text(data.new_invoice_number);
					 $('#popupi').modal('hide');
				}
                else{
					 alert('not updated, please try again');
				}
				
            }
            
        });
    }
   </script> 