<form class="form-horizontal" id="fmReport" action="<?php echo $this->escape($this->url(array(), 'editContractorInvoiceNumber')); ?>" method="post" enctype="multipart/form-data" onsubmit="do_uploadd('edit_form', '#content_modal_popup');">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
 
		
		<div class="form-group">
                    <label class="col-md-3">Invoice Number :</label>
                    <div class="col-md-9">
                        <input type="text" id="invoice_number" name="invoice_number" class="form-control" value="<?php echo $this->escape(isset($this->payment['contractor_invoice_num']) && !empty($this->payment['contractor_invoice_num']) ? $this->payment['contractor_invoice_num'] : '') ?>" />
                    </div>
        </div>
		
		<div class="form-group">
                    <label class="col-md-3">date Paid:</label>
                    <div class="col-md-9">
			          <input type="text" id="date_paid" name="date_paid" class="form-control" value="<?php echo $this->escape(isset($this->payment['date_of_payment']) && !empty($this->payment['date_of_payment']) ? $this->payment['date_of_payment'] : '') ?>" />
                    </div>
        </div>
		
		<div class="form-group">
                    <label class="col-md-3">Amount Paid:</label>
                    <div class="col-md-9">
			          <input type="text" id="amount_paid" name="amount_paid" class="form-control" value="<?php echo $this->escape(isset($this->payment['amount_paid']) && !empty($this->payment['amount_paid']) ? $this->payment['amount_paid'] : '') ?>" />
                    </div>
        </div>
		
		<div class="form-group">
                    <label class="col-md-3">Invoice Total Amount:</label>
                    <div class="col-md-9">
                       <input type="text" id="invoice_total_amount" name="invoice_total_amount" class="form-control" value="<?php echo $this->escape(isset($this->payment['amount_paid']) && !empty($this->payment['amount_paid']) ? $this->payment['amount_paid'] : '') ?>" />
                    </div>
        </div>
		
		
		<div class="form-group">
                    <label class="col-md-3">Cash Paid:</label>
                    <div class="col-md-9">
                       <input type="text" id="cash_paid" name="cash_paid" class="form-control" value="<?php echo $this->escape(isset($this->payment['amount_paid']) && !empty($this->payment['amount_paid']) ? $this->payment['amount_paid'] : '') ?>" />
                    </div>
        </div>
		
		
		<div class="form-group">
                    <label class="col-md-3">Payment Reference:</label>
                    <div class="col-md-9">
                     <input type="text" id="reference" name="reference" class="form-control" value="<?php echo $this->escape(isset($this->payment['payment_reference']) && !empty($this->payment['payment_reference']) ? $this->payment['payment_reference'] : '') ?>" />
                    </div>
        </div>
		
		
		<div class="form-group">
                    <label class="col-md-3">File Upload:</label>
                    <div class="col-md-9" id="files" name="files">
				        <input type="file" id="file" name="file" class="form-control" value="<?php echo $this->escape(isset($this->payment['file_name']) && !empty($this->payment['file_name']) ? $this->payment['file_name'] : '') ?>" />
                    </div>
        </div>
		
		<div class="row">
			<div class="col-md-3"></div>
			  <div class="col-md-9"><label><a href="javascript:;" onclick="add_more_files();">add More Files</a></label></div>
	    </div>
				
		<div class="form-group">
                    <label class="col-md-3">Description:</label>
                    <div class="col-md-9">
                      <textarea class="form-control" id="description" name="description"  ><?php echo $this->escape(isset($this->payment['description']) && !empty($this->payment['description']) ? $this->payment['description'] : '') ?></textArea>
                    </div>
        </div>
		
		
         <div><input type="submit" id="button_cont" name="button_cont"  value="edit" class="btn btn-primary"/></div>
        
	
            <input type="hidden" id="payment_to_contractor_id" name="payment_to_contractor_id"  value="" />
            <input type="hidden" id="attachment_id" name="attachment_id"  value="" />
			<input type="hidden" id="file_path" name="file_path"  value="" />
            
        
		<!--End -->

    
</form>
<script>
    $(document).ready(function() {
		file_counter=0;
		//$('#button_cont_paid').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(), 'editPaymentToContractor')); ?>',
            data: $('#fmReport').serialize(),
            dataType : "json",
            success: function(data) {
			
					$('#invoice_number').val(data.payment.contractor_invoice_num);
					$('#date_paid').val(data.payment.date_of_payment);
					$('#amount_paid').val(data.payment.amount_paid);
					$('#invoice_total_amount').val(data.payment.invoice_total_amount);
					$('#cash_paid').val(data.payment.cash_paid);
					$('#reference').val(data.payment.payment_reference);
					$('#file_path').val(data.payment.path);
					$('#description').val(data.payment.description);
					$('#payment_to_contractor_id').val(data.payment.payment_to_contractor_id);
					$('#attachment_id').val(data.payment.attachment_id);
				
            }
        });
		
		
		
		
		$("input[type='checkbox']").each(function(){
            if($(this).is(':checked')){
                isChecked = $(this).val();
				//alert(isChecked);
            }
        });
		$('#invoice_number').val(isChecked);
        $('#date_paid').datepicker({
            dateFormat: 'dd-mm-yy'
        });
    });

    
	function do_uploadd(form_id,content){
		
	$(content).append('<iframe id="iframe_upload_target" name="iframe_upload_target" src="#" style="display: none; width:0; height:0; border:0px solid #fff;"></iframe>');

    $('#button_cont').html('<img src="/pic/loading-4.gif">');

    $('#'+form_id).attr('target', 'iframe_upload_target');
    $('iframe[name=iframe_upload_target]').load(function(){
        var ret = frames["iframe_upload_target"].document.getElementsByTagName("body")[0].innerHTML;

        if(ret == '1'){
            window.location.reload();
        } else {
            var ret_2 = $(this).contents().text();
            if(ret_2 == '1'){
                window.location.reload();
            } else {
				//submitContractorInvoiceNumber(dataa);
				/*$.each(booking_payments, function(index,value) {
						$('#contractor_invoice_num_'+value.booking_id+'_'+value.contractor_id).html($('#invoice_number').val());
				});*/
                $(content).html(ret);
				
            }
        }
    });
}
/*
window.onunload = function()
{
   document.location.reload();
  
}*/

function add_more_files(){
        file_counter++;
        $('#files').append(
		'<input type="file" name="file'+file_counter+'" id="file'+file_counter+'" name="file" class="form-control" />'
		);
		}
</script>