<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Booking Summary By Service / Tile
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <?php
                $modelContractorInfo = new Model_ContractorInfo();
                $modelAuthRole = new Model_AuthRole();
                ?>
                <div id="data_table">
                    <?php if ((isset($this->service['service_name']) && $this->service['service_name']) || (isset($this->floor['attribute_value']) && $this->floor['attribute_value']) || (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) || (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'])): ?>
                        <div class="filter_criteria">
                            <div>
                                <?php if (isset($this->service['service_name']) && $this->service['service_name']) : ?>
                                    <?php echo $this->escape($this->service['service_name']) ?>
                                <?php endif; ?>
                            </div>
                            <div>
                                <?php if (isset($this->floor['attribute_value']) && $this->floor['attribute_value']) : ?>
                                    <?php echo $this->escape($this->floor['attribute_value']) ?>
                                <?php endif; ?>
                            </div>
                            <div>
                                <?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
                                <?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
                                <?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <table border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table">
                        <tr style="background-color: black; color: white;">
                            <td>Date</td>
                            <td>Job#</td>
                            <td>Inv#</td>
                            <td>Contractor</td>
                            <td>Job Status</td>
                            <td>Job Nature</td>
                            <td>Address</td>
                            <td>State</td>
                            <td>Amount</td>
                            <td>Approved Payment</td>
                            <td>Unapproved Payment</td>
                            <td>Approved Refund</td>
                            <td>Unapproved Refund</td>
                            <td>Unpaid</td>
                            <td>Office Payment</td>
                            <td>Cash Payment</td>
                            <td>Booked By</td>
                            <?php /* <td>Date of Booking</td> */ ?>
                            <td>Comments</td>
                            <td>Company Share</td>
                            <td>Operator Share</td>
                            <td>PAYMENT TO Operator</
                        </tr>
                        <?php foreach ($this->data AS $row): ?>    
                            <tr cellpadding="100" style="text-align: center; vertical-align: top;"> 
                                <td><?php echo $this->escape(date(get_config('date'), strtotime($row['booking']['booking_start']))); ?></td>
                                <td><?php if (!empty($row['booking']['booking_num'])): ?>
                                        <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_black"> <?php echo $this->escape($row['booking']['booking_num']) ?></a>
                                    <?php endif; ?>
                                </td>
                                <td><?php if (!empty($row['booking']['invoice']['invoice_num'])): ?>
                                        <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking']['invoice']['id']), 'invoiceView')); ?>" class="a_black"> <?php echo $this->escape($row['booking']['invoice']['invoice_num']) ?></a>
                                    <?php endif; ?>
                                </td>
                                <td>
                                    <?php echo $this->escape(ucwords($row['contractor']['display_name'])); ?>
                                </td>   
                                <td><?php echo $this->escape($row['booking']['status']['name']); ?></td>
                                <td>
                                    <?php
                                    $services_counter = 0;
                                    $services_total = count($row['services']);
                                    ?>
                                    <?php foreach ($row['services'] AS $service): ?>
                                        <?php $services_counter++; ?>
                                        <?php echo (1 < $services_total ? " *" : '') . $this->escape($service['service_name']) . ($services_counter < $services_total ? "<br>" : ''); ?>
                                    <?php endforeach; ?>
                                </td>
                                <td style="text-align: left;">
                                    <?php echo $this->escape($row['booking']['address']['line_address']); ?>
                                </td>
                                <td><?php echo $this->escape(strtoupper($row['booking']['address']['state'])); ?></td>
                                <td>$<?php echo $this->escape((!empty($row['total_amount'])) ? number_format($row['total_amount'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['approved_payment']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['approved_payment'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['unapproved_payment']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['unapproved_payment'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['approved_refund']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['approved_refund'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['unapproved_refund']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['unapproved_refund'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['unpaid']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['unpaid'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['office_payment']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['office_payment'], 2) : number_format(0, 2)) ?></td>
                                <td>$<?php echo $this->escape((!empty($row['cash_payment']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['cash_payment'], 2) : number_format(0, 2)) ?></td>
                                <td><?php echo $this->escape(ucwords($row['booking']['created_by']['username'])) ?></td>
                                <?php /* <td><?php echo $this->escape(date(get_config('date'), strtotime($row['booking_start']))) ?></td> */ ?>
                                <td style="text-align: left;"><?php echo(!empty($row['booking']['status_discussion']) ? nl2br($this->escape($row['booking']['status_discussion']['user_message'])) : '') ?></td>
                                <td>
                                    $<?php echo $row['company_share'] ? $this->escape(number_format($row['company_share'], 2)) : number_format(0, 2) ?>
                                </td>
                                <td>
                                    $<?php echo $row['operator_share'] ? $this->escape(number_format($row['operator_share'], 2)) : number_format(0, 2) ?>
                                </td>
                                <td>
                                    $<?php echo $row['payment_to_sub_contractor'] ? $this->escape(number_format($row['payment_to_sub_contractor'], 2)) : number_format(0, 2) ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </table>
                </div>
            <?php else: ?>
                <div class="noRowsMessageDIV">Please Select Service With Tile Type And Data Range.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php echo $this->render('index/common_filters.phtml'); ?>
            </div>
        </td>
    </tr>
</table>