<div class="col-lg-12 wrapper-content">
    <div class="col-lg-12">
        <?php echo $this->render('index/chart_filters.phtml'); ?>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Booking Summary By Chart Report
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>

            <div class="ibox-content">
                <?php if ($this->chartArray): ?>
                <?php ViewHelper::setUrlJavaScript('https://www.google.com/jsapi'); ?>
                <script type="text/javascript">
                    google.load("visualization", "1", {packages: ["corechart"]});
                    google.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var data = google.visualization.arrayToDataTable(<?php echo $this->chartArray; ?>);

                        var options = {
                            title: 'Company Performance'
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                    }
                </script>
                <div id="chart_div"></div>
                <?php else: ?>
                <div class="noRowsMessageDIV">Please Select Your Filters.</div>
            <?php endif; ?>
            </div>

        </div>

    </div>
</div>






