<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <h2>Change Password</h2>
	
	 <div class="form-group">
            <label class="col-lg-3">   New Password  <span style="color:#ff0000">*</span>: </label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('new_password')->render(); ?>
            </div>
        </div>
		<div class="form-group">
            <label class="col-lg-3">   New Password Confirm   <span style="color:#ff0000">*</span>: </label>
            <div class="col-lg-9">
                <?php echo $this->form->getElement('confirm_new_password')->render(); ?>
            </div>
        </div>
		
		<div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
       
</form>