<div class="container-fluid">
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Name : </label>
            <div class="col-lg-9">
            <?php echo $this->form->getElement('name')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Phone Key :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('phone_key')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Country :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('country_id')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3  " >Postcode Key :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('postcode_key')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Timezone :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('timezone')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3  ">State :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('state')->render(); ?>
             </div>
        </div>
         <div id="button_cont">
        <?php echo $this->form->getElement('button')->render(); ?>
		</div>
       
    </form>
</div>
