<div class="col-lg-12 wrapper-content">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsCitiesAdd'))): ?>
                <div class="btn_cont">
                    <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New City','<?php echo $this->escape($this->url(array(), 'settingsCitiesAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                            New City
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                <div class="button_actions">
                    <h5>  Search City </h5>
                </div>
                <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCitiesList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control"  name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                        
                            <select name="fltr[country_id]" class="form-control" onChange="getStateByCountryId();" id="country_id">
                                <option value="0">Select One</option>
                                <?php $countriesObj = new Model_Countries(); ?>
                                <?php foreach ($countriesObj->getCountriesAsArray() as $country) : ?>
                                    <option value="<?php echo $this->escape($country['id']); ?>" <?php echo $this->escape((!empty($this->filters['country_id']) && $this->filters['country_id'] == $country['id']) || CheckAuth::getCountryId() == $country['id'] ? 'selected' : '' ); ?>><?php echo $this->escape($country['name']); ?></option>
                                <?php endforeach; ?>
                            </select>
                        
                        
                            <select name="fltr[state]" class="form-control" id="state_cont">
                                <option  value="">Select One</option>
                                <?php $citiesObj = new Model_Cities(); ?>
                                <?php foreach ($citiesObj->getStateAsArray() as $state) : ?>
                                    <option value="<?php echo $this->escape($state); ?>" <?php echo $this->escape(!empty($this->filters['state']) && $this->filters['state'] == $state ? 'selected' : '' ); ?>><?php echo $this->escape($state); ?></option>
                                <?php endforeach; ?>
                            </select>
                             <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span a_margin-responsive">or</span>
                             <button class="a_advance btn btn-white a_margin-responsive" type="reset" >Reset</button>
                                      
                    </form>
                    
            </div>
        </div>
</div>
<div class="col-lg-12 wrapper-content ibox float-e-margins">
    <?php  //echo BreadCrumbs::breadCrumb(); ?>
	
	<div class="ibox-title ">
                        <h5>All Cities</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsCitiesDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this City?');">
                    
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsCitiesDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="city_table" >
                            <thead>
                                <tr>
                                    <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <th>Name</th>
                                    <th>Phone Key</th>
                                    <th>Postcode Key</th>
                                    <th>State</th>
                                    <th>Timezone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    <tr>
                                        <td>
                                            <div>
                                                <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['city_id']) ?>" class="checkbox_input_pos"/>
                                            </div>
                                        </td>
                                        <td> 
                                                
                                                    <span><?php echo $this->escape($row['city_name']) ?></span>    
                                                
                                                </br>
                                                    <span style="color: #A1A1A1;">Country:</span> <?php echo $this->escape(ucfirst($row['country_name'])) ?>
                                                
                                            
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('settingsCitiesEdit'))): ?>
                                                    <a href="javascript:;"  data-toggle="modal" data-target="#popupi"  onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['city_id']), 'settingsCitiesEdit')); ?>');" class="details_info_opt">Edit</a>
                                                    <span>|</span>
                                                <?php endif; ?>

                                                <?php if (CheckAuth::checkCredential(array('settingsCitiesDelete'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['city_id']), 'settingsCitiesDelete')); ?>" onclick="return confirm('are you sure you want to delete this City?');" class="details_info_opt">Delete</a>
                                                <?php endif; ?>
                                            </div></td>
                                        <td>
                                                <?php echo $this->escape($row['phone_key']) ?>
                                            
                                        </td>
                                        <td> 
                                                <?php echo $this->escape($row['postcode_key']) ?>
                                            </td>
                                        <td>
                                                <?php echo $this->escape($row['state']) ?>
                                           </td>
                                        <td>
                                                <?php echo $this->escape($row['timezone']) ?>
                                            </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                
                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>
            </form>

        <?php else: ?>
            <div class="ibox-content" class="noRowsMessageDIV">There are no City.</div>
        <?php endif; ?>

    
    
</div>
<div style="clear:both"></div>

<script>
 function getStateByCountryId(){
        if($('#country_id').val()){
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country_id').val()+"&onChange=getCitiesByCountryId",
                success: function(msg) {
                    $('#state_cont').html(msg);
                }
            });
        }
    }
</script>

