<form id="fmReport" action="<?php echo $this->escape($this->url(array(), 'editContractorInvoiceNumber')); ?>" method="post" enctype="multipart/form-data" onsubmit="do_uploadd('edit_form', '#TB_ajaxContent');">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        <tr>
		
            <td class="input_type" valign="top">Invoice Number :</td>
            <td><input type="text" id="invoice_number" name="invoice_number" class="text_field" value="<?php echo $this->escape(isset($this->payment['contractor_invoice_num']) && !empty($this->payment['contractor_invoice_num']) ? $this->payment['contractor_invoice_num'] : '') ?>" /></td>
                             
        </tr>
        <tr>
            <td class="input_type" valign="top">date Paid:</td>
            <td><input type="text" id="date_paid" name="date_paid" class="text_field" value="<?php echo $this->escape(isset($this->payment['date_of_payment']) && !empty($this->payment['date_of_payment']) ? $this->payment['date_of_payment'] : '') ?>" /></td>
            
        </tr>
		<tr>
            <td class="input_type" valign="top"> Amount Paid:</td>
            <td><input type="text" id="amount_paid" name="amount_paid" class="text_field" value="<?php echo $this->escape(isset($this->payment['amount_paid']) && !empty($this->payment['amount_paid']) ? $this->payment['amount_paid'] : '') ?>" /></td>
            
        </tr>
		<tr>
            <td class="input_type" valign="top"> Invoice Total Amount:</td>
            <td><input type="text" id="invoice_total_amount" name="invoice_total_amount" class="text_field" value="<?php echo $this->escape(isset($this->payment['amount_paid']) && !empty($this->payment['amount_paid']) ? $this->payment['amount_paid'] : '') ?>" /></td>
            
        </tr>
		<tr>
            <td class="input_type" valign="top"> Cash Paid:</td>
            <td><input type="text" id="cash_paid" name="cash_paid" class="text_field" value="<?php echo $this->escape(isset($this->payment['amount_paid']) && !empty($this->payment['amount_paid']) ? $this->payment['amount_paid'] : '') ?>" /></td>
            
        </tr>
		
		<tr>
            <td class="input_type" valign="top"> Payment Reference:</td>
            <td><input type="text" id="reference" name="reference" class="text_field" value="<?php echo $this->escape(isset($this->payment['payment_reference']) && !empty($this->payment['payment_reference']) ? $this->payment['payment_reference'] : '') ?>" /></td>
            
        </tr>
		
		<tr>
            <td class="input_type" valign="top">File Upload :</td>
            <td id="files" name="files">
				<input type="file" id="file" name="file" class="text_field" value="<?php echo $this->escape(isset($this->payment['file_name']) && !empty($this->payment['file_name']) ? $this->payment['file_name'] : '') ?>" />
				<a href="javascript:;" onclick="add_more_files();">add More Files</a>
			</td>
        </tr>
		
        <tr>
            <td class="input_type" valign="top">Description :</td>
            <td><textarea class="textarea_field" id="description" name="description"  ><?php echo $this->escape(isset($this->payment['description']) && !empty($this->payment['description']) ? $this->payment['description'] : '') ?></textArea></td>
        </tr>
		
		<tr>
            <td class="input_type" valign="top"></td>
            <td><input type="submit" id="button_cont" name="button_cont"  value="edit" /></td>
        </tr>
		<tr>
            <td class="input_type" valign="top"><input type="hidden" id="payment_to_contractor_id" name="payment_to_contractor_id"  value="" /></td>
            <td><input type="hidden" id="attachment_id" name="attachment_id"  value="" />
			<input type="hidden" id="file_path" name="file_path"  value="" /></td>
            
        </tr>
		<!--End -->
        
    </table>
    
</form>
<script>
    $(document).ready(function() {
		file_counter=0;
		//$('#button_cont_paid').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: '<?php echo $this->escape($this->url(array(), 'editPaymentToContractor')); ?>',
            data: $('#fmReport').serialize(),
            dataType : "json",
            success: function(data) {
			
					$('#invoice_number').val(data.payment.contractor_invoice_num);
					$('#date_paid').val(data.payment.date_of_payment);
					$('#amount_paid').val(data.payment.amount_paid);
					$('#invoice_total_amount').val(data.payment.invoice_total_amount);
					$('#cash_paid').val(data.payment.cash_paid);
					$('#reference').val(data.payment.payment_reference);
					$('#file_path').val(data.payment.path);
					$('#description').val(data.payment.description);
					$('#payment_to_contractor_id').val(data.payment.payment_to_contractor_id);
					$('#attachment_id').val(data.payment.attachment_id);
				
            }
        });
		
		
		
		
		$("input[type='checkbox']").each(function(){
            if($(this).is(':checked')){
                isChecked = $(this).val();
				//alert(isChecked);
            }
        });
		$('#invoice_number').val(isChecked);
        $('#date_paid').datepicker({
            dateFormat: 'dd-mm-yy'
        });
    });

    
	function do_uploadd(form_id,content){
		
	$(content).append('<iframe id="iframe_upload_target" name="iframe_upload_target" src="#" style="display: none; width:0; height:0; border:0px solid #fff;"></iframe>');

    $('#button_cont').html('<img src="/pic/loading-4.gif">');

    $('#'+form_id).attr('target', 'iframe_upload_target');
    $('iframe[name=iframe_upload_target]').load(function(){
        var ret = frames["iframe_upload_target"].document.getElementsByTagName("body")[0].innerHTML;

        if(ret == '1'){
            window.location.reload();
        } else {
            var ret_2 = $(this).contents().text();
            if(ret_2 == '1'){
                window.location.reload();
            } else {
				//submitContractorInvoiceNumber(dataa);
				/*$.each(booking_payments, function(index,value) {
						$('#contractor_invoice_num_'+value.booking_id+'_'+value.contractor_id).html($('#invoice_number').val());
				});*/
                $(content).html(ret);
				
            }
        }
    });
}
/*
window.onunload = function()
{
   document.location.reload();
  
}*/

function add_more_files(){
        file_counter++;
        $('#files').append(
		'<input type="file" name="file'+file_counter+'" id="file'+file_counter+'" name="file" class="text_field" />'
		);
		}
</script>