<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h1>User Information :</h1>
    <table>
        <tr>
            <td class="input_type" valign="top">Display Name <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('display_name')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Username <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('username')->render(); ?></td>
        </tr>
        <?php if ($this->form->getElement('password')): ?>
            <tr>
                <td class="input_type" valign="top">Password <span style="color:#ff0000">*</span>: </td>
                <td><?php echo $this->form->getElement('password')->render(); ?></td>
            </tr>
        <?php endif; ?>
        <tr>
            <td class="input_type" valign="top">Role <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('role_id')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Company <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('company_id')->render(); ?></td>
        </tr>
    </table>

    <h1>Contact Details :</h1>

    <table>
        <tr>
            <td class="input_type" valign="top">Email 1 <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('email1')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Email 2: </td>
            <td><?php echo $this->form->getElement('email2')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Email 3: </td>
            <td><?php echo $this->form->getElement('email3')->render(); ?></td>
        </tr>
		<tr id= "systemEmail_tr" >
            <td class="input_type" valign="top">System Email <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('systemEmail')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Mobile 1: </td>
            <td><?php echo $this->form->getElement('mobile1')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Mobile 2: </td>
            <td><?php echo $this->form->getElement('mobile2')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Mobile 3: </td>
            <td><?php echo $this->form->getElement('mobile3')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Phone 1: </td>
            <td><?php echo $this->form->getElement('phone1')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Phone 2: </td>
            <td><?php echo $this->form->getElement('phone2')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Phone 3: </td>
            <td><?php echo $this->form->getElement('phone3')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Fax: </td>
            <td><?php echo $this->form->getElement('fax')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Emergency Phone: </td>
            <td><?php echo $this->form->getElement('emergency_phone')->render(); ?></td>
        </tr>
    </table>

    <h1>Address Details :</h1>

    <table>
        <tr>
            <td class="input_type" valign="top">Unit / Lot Number :</td>
            <td><?php echo $this->form->getElement('unit_lot_number')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Street Number :</td>
            <td><?php echo $this->form->getElement('street_number')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Street Name :</td>
            <td><?php echo $this->form->getElement('street_address')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Suburb :</td>
            <td><?php echo $this->form->getElement('suburb')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Postcode :</td>
            <td><?php echo $this->form->getElement('postcode')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">PO Box (Postal Address):</td>
            <td><?php echo $this->form->getElement('po_box')->render(); ?></td>
        </tr>

        <tr>
            <td class="input_type" valign="top">Country :</td>
            <td><?php echo $this->form->getElement('country_id')->render(); ?></td>
        </tr>

        <tr id="state_block" <?php if (!$this->form->getElement('country_id')->getValue()) { ?>style="display: none;"<?php } ?>>
            <td class="input_type" valign="top">State :</td>
            <td id="state_cont"><?php echo $this->form->getElement('state')->render(); ?></td>
        </tr>

        <tr id="city_block" <?php if (!$this->form->getElement('state')->getValue()) { ?>style="display: none;"<?php } ?>>
            <td class="input_type" valign="top">City :</td>
            <td id="city"><?php echo $this->form->getElement('city_id')->render(); ?></td>
        </tr>
        
        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>

<script type="text/javascript">
	function getFeildByRoleId(){
        var role_name = $('#role_id :selected').text();
		
		if((role_name == 'Super Admin') || (role_name == 'Contractor')){
			var w = $('#systemEmail_tr').html();
			
			$('#systemEmail_tr').html('<td class="input_type" valign="top">System Email: </td>'+
            '<td>'+
			'<input type="text" name="systemEmail" id="systemEmail" value="" class="text_field"></td>');
		}
		else{
			$('#systemEmail_tr').html('<td class="input_type" valign="top"></td>'+
            '<td>'+'</td>');
		}
    }
	
	function setFeildValueByCompanyName(){
        var company_id = $('#company_id :selected').val();
		if($('#systemEmail')){
			$.ajax({
					type: "POST",
					url:  "<?php echo $this->url(array(), 'settingsGetCompanyInquiryEmail'); ?>",
					data: "company_id="+company_id,
					success: function(inquiryEmail) {
					   $('#systemEmail').val(inquiryEmail.replace(/"/g, ""));
					}
			});
		}
    }
    
	
    
    function getState(){
        if($('#country_id').val()){
            $('#state_block').css('display','table-row');
            $('#state_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownState'); ?>",
                data: "country_id="+$('#country_id').val(),
                success: function(msg) {
                    $('#state_block').css('display','table-row');
                    $('#state_cont').html(msg);
                }
            });
        }else{
            $('#state_block').css('display','none');
            $('#city_block').css('display','none');
        }
    }
    
    function getCities(){
        if($('#state').val()){
            $('#city_block').css('display','table-row');
            $('#city').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id="+$('#country_id').val()+"&state="+$('#state').val(),
                success: function(msg) {
                    $('#city_block').css('display','table-row');
                    $('#city').html(msg);
                }
            });
        }else{
            $('#city_block').css('display','none');
        }
    }
    
</script>