<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <h2>Change Password</h2>
    <table>
        <tr>
            <td class="input_type" valign="top">New Password <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('new_password')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">New Password Confirm <span style="color:#ff0000">*</span>: </td>
            <td><?php echo $this->form->getElement('confirm_new_password')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top"></td>
            <td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td>
        </tr>
    </table>
</form>