<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Users
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsUserDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this User?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsUserDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td class="user_info_details"><b>User Info</b></td>
                                <td><b>Contact Details</b></td>
                                <td><b>Address Details</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php $modelAuthRole = new Model_AuthRole(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['user_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <?php $roleName = $modelAuthRole->getRoleName($row['role_id']); ?>
                                        <div class="details_info_l" style="font-size: 12px;">
                                            <div>
                                                <?php if ('contractor' == $roleName): ?>
                                                    <?php if (CheckAuth::checkCredential(array('settingsContractorInfoList'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')); ?>" class="details_info_name"><?php echo $row['username'] ?></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><?php echo $this->escape($row['username']) ?></span> 
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if (CheckAuth::checkCredential(array('settingsUserInfoList'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('user_id' => $row['user_id']), 'settingsUserInfoList')); ?>" class="details_info_name"><?php echo $row['username'] ?></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><?php echo $this->escape($row['username']) ?></span> 
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <div>
                                                    <span style="color: #A1A1A1;">Role:</span> <?php echo $this->escape($row['view_role_name']) ?>
                                                </div>
                                                <div>
                                                    <span style="color: #A1A1A1;">Active:</span> <?php echo $this->escape($row['active'] == 'TRUE' ? 'Yes' : 'No') ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php
                                            $actions = array();

                                            if (CheckAuth::checkCredential(array('settingsUserEdit'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserEdit'))}','400','450','Edit User'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Edit</a>';
                                            }

                                            if ('contractor' == $roleName) {
                                                if (CheckAuth::checkCredential(array('settingsContractorInfoList'))) {
                                                   $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'settingsContractorInfoList')) . '" class="details_info_opt">Contractor Info</a>';
													
                                                }
                                            } else {
                                                if (CheckAuth::checkCredential(array('loginAsThisUser'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('user_id' => $row['user_id']), 'settingsUserInfoList')) . '" class="details_info_opt">User Info</a>';
                                                }
                                            }

                                            if (CheckAuth::checkCredential(array('loginAsThisUser'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserLoginAsThisUser'))}','Are you sure you want to Login as this User ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Login As This User</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('activateOrDeactivateUsers'))) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['user_id']), 'activateOrDeactivateUsers')) . '" class="details_info_opt">' . ($row['active'] == 'TRUE' ? 'Deactivate' : 'Activate') . '</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('settingsUserPassword'))) {
                                                $popupConfig = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserPassword'))}','165','450','Change Password'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Change Password</a>';
                                            }

                                            if (CheckAuth::checkCredential(array('settingsUserDelete'))) {
                                                $onclickConfirm = "'{$this->escape($this->url(array('id' => $row['user_id']), 'settingsUserDelete'))}','Are you sure you want to delete this User ?'";
                                                $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                            }
											if ('contractor' == $roleName) {
                                                $actions[] = '<a href="' . $this->escape($this->url(array('contractor_id' => $row['user_id']), 'defultPage')) . '" class="details_info_opt">Defult Page</a>';
											
                                            }
											
												   
                                            $line_actions = array_slice($actions, 0, 3);
                                            $drop_down_actions = array_slice($actions, 3);
                                            ?>

                                            <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $line_actions); ?>

                                            <?php if ($drop_down_actions): ?>
                                                <a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="menu_<?php echo $this->escape($row['user_id']) ?>"><span class="ui-icon ui-icon-triangle-1-s"></span>Actions</a>
                                                <div id="search-engines" class="hidden">
                                                    <ul>
                                                        <?php foreach ($drop_down_actions as $drop_down_action): ?>
                                                            <li>
                                                                <?php echo $drop_down_action; ?>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    </ul>
                                                </div>
                                                <div class="clearb"></div>
                                                <script>
                                                    $(function(){
                                                        // MENU	
                                                        $('#menu_<?php echo $this->escape($row['user_id']) ?>').fgmenu({ 
                                                            content: $('#menu_<?php echo $this->escape($row['user_id']) ?>').next().html(), // grab content from this page
                                                            showSpeed: 100 
                                                        });
                                                    });
                                                </script>
                                            <?php endif; ?>
                                        </div>


                                    </td>
                                    <td class="details_info_l" style="vertical-align: top;">
                                        <div class="details_info_l" style="font-size: 12px;">
                                            <?php if ($row['email1']): ?>
                                                <div>&#187; <b>Email :</b> <?php echo $this->escape($row['email1']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['email2']): ?>
                                                <div>&#187; <b>Email :</b> <?php echo $this->escape($row['email2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['email3']): ?>
                                                <div>&#187; <b>Email :</b> <?php echo $this->escape($row['email3']) ?></div>
                                            <?php endif; ?>
											<?php if ($row['system_email']): ?>
                                                <div>&#187; <b>System Email :</b> <?php echo $this->escape($row['system_email']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['mobile1']): ?>
                                                <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['mobile1']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['mobile2']): ?>
                                                <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['mobile2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['mobile3']): ?>
                                                <div>&#187; <b>Mobile :</b> <?php echo $this->escape($row['mobile3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['phone1']): ?>
                                                <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['phone1']) ?></div>
                                            <?php endif; ?>    
                                            <?php if ($row['phone2']): ?>
                                                <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['phone2']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['phone3']): ?>
                                                <div>&#187; <b>Phone :</b> <?php echo $this->escape($row['phone3']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['fax']): ?>
                                                <div>&#187; <b>Fax :</b> <?php echo $this->escape($row['fax']) ?></div>
                                            <?php endif; ?>
                                            <?php if ($row['emergency_phone']): ?>
                                                <div>&#187; <b>Emergency Phone :</b> <?php echo $this->escape($row['emergency_phone']) ?></div>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l" style="vertical-align: top;">
                                        <div class="details_info_l" style="font-size: 12px;">
                                            <div>&#187; <b>City:</b> <?php echo $this->escape($row['country_name'] . ' - ' . $row['city_name']) ?></div> 
                                            <div>&#187; <b>Address :</b> <?php echo $this->escape(get_line_address($row)) ?></div>
                                            <?php if ($row['po_box']): ?>
                                                <div>&#187; <b>PO Box :</b> <?php echo $this->escape($row['po_box']) ?></div>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no User.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsUserAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsUserAdd', '400', '450')); ?>');" class="btn_a">
                            <div class="text_pos">
                                New User
                            </div>
                        </a>
                    </div>
                <?php endif; ?>


                <div class="search">
                    <div class="button_actions">
                        Search Users
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsUserList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsUserList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
