<?php if ($this->invoiceDiscussions): ?>
       <ul id="discussions" class="discussion_container disc_b">
        <?php foreach ($this->invoiceDiscussions as $invoiceDiscussion): ?>
		
			
			
						<li>
							<div class="normal_font"> 
									<span>
										<i class="fa fa-user"></i>
										<b>	
											<?php echo $this->escape($invoiceDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($invoiceDiscussion['user']['role_name']); ?></span>)
										</b>
									</span>

									<span>
										&nbsp;
											<i class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;</i>
										<?php echo $this->escape(getDateFormating($invoiceDiscussion['created'])); ?>
									</span>
							</div>


							<div class="disc_message">
							    <?php echo nl2br($this->escape($invoiceDiscussion['user_message'])); ?>
							</div>
						</li>
        <?php endforeach; ?>
    </ul>
<?php else: ?>
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Invoice</p>
    </div>
<?php endif; ?>

<form  class="form-horizontal" method="POST" id="discussion_form" onsubmit="sendInvoiceDiscussion();return false;">
   
	
	
   	<div class="form-group">
				<label class="col-lg-2 control-label">Discussion <span class="required_discussion">*</span><div id="errMsg">&ensp;</div></label>
				<div class="col-lg-10">
					<textarea cols="" rows="" id="disc" name="discussion" class="descussion_txtarea form-control"></textarea>
					 
				</div>
        </div>
		<div class="form-group" id="button_cont">
                <div class="col-lg-offset-2 col-lg-10">
					<button type="submit" value="send" class="btn btn-primary">Send</button>
					<a href="#" onclick="getData(); return false;" class="btn btn-white">Refresh</a>
                </div>
         </div>
 
</form>

<script type="text/javascript">
    function sendInvoiceDiscussion(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'submitInvoiceDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
                if(msg.success == 1){
					if($('#disc_tab').find('.no_result')){
						$('#disc_tab').html('<ul class="disc_b" id="invoice_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
                return_button();
            }
        });   
    }
	
    setTimeout('scrollDown()', 1);
    
    var count = 0;
    function getData(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'allInvoiceDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
                if(count != msg.count){
                    
                    $('#discussions').html('');
                    $('#discussions').addClass('disc_b');
                    
                    $.each(msg.discussions, function(index, discussion) {
                   		$('#discussions').append(
                        '<li><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b> </span>'+
						' <span> &nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
					    ''+discussion.user_message+'</div></li>'
                    );
					
					$('#invoice_discussion').append(
                        '<li><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
					    ''+discussion.user_message+'</div></li>'
                    );
					
                    });
                    
                    scrollDown();
                }
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                return_button();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<div class="col-lg-offset-2 col-lg-10">'+
					'<button type="submit" value="send" class="btn btn-primary" >Send</button>'+
					'<a href="#" onclick="getData(); return false;" class="btn btn-white" style="margin-left:7px">Refresh</a>'+
                '</div>');
    }
</script>
