<style>
	.delete{
        display:none;
        float:right;
        cursor:pointer;
    }
	.commentBox:hover .delete{
        display:block;
    }
</style>
<?php 
$loggedUser = CheckAuth::getLoggedUser();
?>
<div id="messege"></div>
<?php if ($this->invoiceDiscussions): ?>
       <ul id="discussions" class="discussion_container disc_b">
        <?php foreach ($this->invoiceDiscussions as $invoiceDiscussion): ?>
		
			
			
						<li class="commentBox">
						<?php if(CheckAuth::checkCredential(array('deleteCommentFromInvoiceDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $invoiceDiscussion['discussion_id']; ?>"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $invoiceDiscussion['user_id']){?>
										<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $invoiceDiscussion['discussion_id']; ?>"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
							<div style = "float:left;">
							<div class="normal_font"> 
									<span>
										<i class="fa fa-user"></i>
										<b>	
											<?php echo $this->escape($invoiceDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($invoiceDiscussion['user']['role_name']); ?></span>)
										</b>
									</span>

									<span>
										&nbsp;
											<i class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;</i>
										<?php echo $this->escape(getDateFormating($invoiceDiscussion['created'])); ?>
										<?php if ($invoiceDiscussion['payment_id'] != 0) { ?>
											<b>reject payment and wrote </b> 
										<?php } ?>
										
									</span>
							</div>


							<div class="disc_message">
							    <?php echo nl2br($this->escape($invoiceDiscussion['user_message'])); ?>
							</div>
							</div><div style = "clear:both;"></div>
						</li>
        <?php endforeach; ?>
    </ul>
<?php else: ?>
<div class="ibox-content" id="popup_invoice_discussions">
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Invoice</p>
    </div>
</div>
<?php endif; ?>

<form  class="form-horizontal" method="POST" id="discussion_form" onsubmit="sendInvoiceDiscussion();return false;">
   
	
	
   	<div class="form-group">
				<label class="col-lg-2 control-label">Discussion <span class="required_discussion">*</span><div id="errMsg">&ensp;</div></label>
				<div class="col-lg-10">
					<textarea cols="" rows="" id="disc" name="discussion" class="descussion_txtarea form-control"></textarea>
					<input type="text" style="display: none !important;" name="payment_id" value="<?php echo $this->payment['payment_id']; ?>"> 
				</div>
        </div>
		<div class="form-group" id="button_cont">
                <div class="col-lg-offset-2 col-lg-10">
					<button type="submit" value="send" class="btn btn-primary">Send</button>
					<a href="#" onclick="getData(); return false;" class="btn btn-white">Refresh</a>
                </div>
         </div>
 
</form>

<script type="text/javascript">
var countAllDiscussion = $('#allDiscussionsCount').attr('count');
var paymentId = "<?php echo $this->payment['payment_id']; ?>";
    function sendInvoiceDiscussion(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'submitInvoiceDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
                if(msg.success == 1){
					if($('#disc_tab').find('.no_result').length > 0){
						$('#disc_tab').html('<ul class="disc_b" id="invoice_discussion"></ul>')
					}
                    getData();
					if (paymentId != 0) {
                        $('#messege').html('<div class="alert alert-success" role="alert">This payment has been rejected</div>');
                        $('#reject_link_'+paymentId+'').html('<a class="details_info_opt" style="color: #ff0000 !important; cursor:default;">Rejected</a>');
                    }
					
                    $('#discussions').removeClass('empty');
					
					countAllDiscussion++;
					$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
					$('#allDiscussionsCount').attr('count', countAllDiscussion);
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
                return_button();
            }
        });   
    }
	
    setTimeout('scrollDown()', 1);
    
    //var count = 0;
    function getData(){
		var count = 0;
		var loggedUserId = '<?php echo $loggedUser['user_id']; ?>';
		var canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromInvoiceDashboard'));?>';
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->invoice['id']), 'allInvoiceDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
                if(count != msg.count){
                    
                    if($('ul#discussions').length > 0){
						$('ul#discussions').html('');
						//$('#discussions').addClass('disc_b');
					}else{
						$('div#discussions').remove();
						$('#popup_invoice_discussions').html('<ul class="disc_b discussion_container" id="discussions">');
					}
					//$('#disc_tab').append('<h4>Invoice</h4>');
					if($('#invoice_discussion').length > 0){
						$('#invoice_discussion').html('<h4>Invoice</h4>');
					}else{
						$('#disc_tab').append('<ul class="disc_b" id="invoice_discussion"><h4>Invoice</h4></ul>');
					}
                    
                    $.each(msg.discussions, function(index, discussion) {
						var comment_text = '<li class="commentBox">';
						if(canDeleteComment){
							comment_text = comment_text + '<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="invoice"><i class="glyphicon glyphicon-remove"></i></span>'
						}else{
							if(loggedUserId == discussion.user_id){
								comment_text = comment_text + '<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="invoice"><i class="glyphicon glyphicon-remove"></i></span>'									
							}
						}
						
                   		//added by Mohammed
                        if (discussion.payment_id != 0) {
                            $('#discussions').append(comment_text +
                                    '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>' +
                                    discussion.user.username + '(' + discussion.user.role_name + ')</b> </span>' +
                                    ' <span> &nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' + discussion.discussion_date + '<b> Reject the payment and Wrote</b> </span></div><div class="disc_message">' +
                                    '' + discussion.user_message + '</div></div><div style="clear:both;"></div></li>'
                                    );

                            $('#invoice_discussion').append(comment_text +
                                    '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>' +
                                    discussion.user.username + '(' + discussion.user.role_name + ')</b></span>' +
                                    ' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' + discussion.discussion_date + '<b> Reject the payment and Wrote</b> </span></div><div class="disc_message">' +
                                    '' + discussion.user_message + '</div></div><div style="clear:both;"></div></li>'
                                    );
                        } else {
                            $('#discussions').append(comment_text +
                                    '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>' +
                                    discussion.user.username + '(' + discussion.user.role_name + ')</b> </span>' +
                                    ' <span> &nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' + discussion.discussion_date + '</span></div><div class="disc_message">' +
                                    '' + discussion.user_message + '</div></div><div style="clear:both;"></div></li>'
                                    );

                            $('#invoice_discussion').append(comment_text +
                                    '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>' +
                                    discussion.user.username + '(' + discussion.user.role_name + ')</b></span>' +
                                    ' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' + discussion.discussion_date + '</span></div><div class="disc_message">' +
                                    '' + discussion.user_message + '</div></div><div style="clear:both;"></div></li>'
                                    );
                        }
                        //added by mohamed
						
					
                    });
                    
                    scrollDown();
                }else{
						$('#popup_invoice_discussions, #discussions, #invoice_discussion').html('');
						$('#popup_invoice_discussions, #discussions').html('<div id="discussions" class="empty discussion_container"><p>No Discussion for this Invoice</p></div>');
						
				}
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                return_button();
				$('[data-toggle="tooltip"]').tooltip();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<div class="col-lg-offset-2 col-lg-10">'+
					'<button type="submit" value="send" class="btn btn-primary" >Send</button>'+
					'<a href="#" onclick="getData(); return false;" class="btn btn-white" style="margin-left:7px">Refresh</a>'+
                '</div>');
    }
	
	$('#discussions, #popup_invoice_discussions').on('click','.delete',function(){ 
		var delete_class = $(this);
		var discussion_id = delete_class.attr("discussionId");
		$.ajax({
			url: "<?php echo $this->escape($this->url(array(), 'updateDeletedInvoiceComment')); ?>",
			type: "POST",
			data: {discussion_id: discussion_id},
			success: function (data) {
				if(data == 1){
					getData();
					countAllDiscussion--;
					$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
					$('#allDiscussionsCount').attr('count', countAllDiscussion);
					if(countAllDiscussion == 0){
						$('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
					} 
				}
			}
		});
		
	});
	$('[data-toggle="tooltip"]').tooltip();
</script>
