   <?php
    $dateTimeObj= get_settings_date_format();
	if(!empty($dateTimeObj))
	$JsDateFormat= dateFormat_zend_to_js($dateTimeObj['date_format']);
	
		?>
	

<div class="ibox float-e-margins">
	<div class="ibox-content">
    	<div class="row">
				<div class="col-md-5">
					<h3>Add Payment</h3>
				</div>
           
         </div>
		</div>
		
		<div class="ibox-content">
    	<div class="row">
				<div class="col-md-5">
				    <nav>
							
							<a id="submit" href="javascript:;" onclick="$('#form').submit();" class="btn btn-primary">
									Save
							</a>
                
					 
							   <a href="<?php echo $this->escape($this->url(array('id' => $this->bookingInvoice['id']), 'invoiceView')); ?>" class="btn btn-white">
									No Payment
								</a>
           
					</nav>
           
         </div>
		</div>
		</div>
	
</div>

 <form  class="form-horizontal" id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" onSubmit="return checkPayAmount()">

<div class="ibox no-margin-b" >
				<div class="ibox-content" >
					<div class="row">
						<div class="col-md-8">
								<div class="form-group">
										<label class="col-md-3">Invoice#</label>
										<div class="col-md-9">
											<input class="form-control" type="text"  style="background-color: gainsboro" value= "<?php echo $this->escape($this->bookingInvoice['invoice_num']) ?>" />
                            <?php if (CheckAuth::checkCredential(array('editInvoiceNumber'))): ?>
                               <span> <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit Invoice Number','<?php echo $this->escape($this->url(array('id' => $this->bookingInvoice['id']), 'editInvoiceNumber')); ?>');">Edit Invoice Number</a>
								</span>
							<?php endif; ?>
										</div>
								</div>
								
								<div class="form-group">
										<label class="col-md-3">Invoice Type</label>
										<div class="col-md-9">
											<input class="form-control" type="text"  style="background-color: gainsboro" value= " <?php echo $this->escape($this->bookingInvoice['invoice_type']) ?>" readonly="readonly"/>
						
										</div>
								</div>
								
								<div class="form-group">
										<label class="col-md-3">Invoice Amount</label>
										<div class="col-md-9">
											<input class="form-control" type="text"  style="background-color: gainsboro" value= "<?php echo $this->escape(number_format($this->bookingInvoice['booking']['qoute'], 2, '.', '')) ?>" readonly="readonly"/>
										</div>
								</div>
								<div class="form-group">
										<label class="col-md-3">Invoice Date</label>
										<div class="col-md-9">
											<input class="form-control"  id="invoice_created_date" type="text" style="background-color: gainsboro" 
                                             value= "<?php 
											 if(!empty($dateTimeObj)) 
											echo getNewDateFormat($this->bookingInvoice['created']); 
											 else 
							                 echo $this->escape(date('d M Y', $this->bookingInvoice['created']));
											 ?>" readonly="readonly"/>
										</div>
								</div>
								<div class="form-group">
										<label class="col-md-3">Customer Name</label>
										<div class="col-md-9">
											<input class="form-control" type="text" style="background-color: gainsboro"  value= "<?php echo $this->escape($this->bookingInvoice['customer_name']) ?>" readonly="readonly"/>
						
										</div>
								</div>
								
								
						
								<div class="form-group">
										<label class="col-md-3">Received Date</label>
										<div class="col-md-9">
											  <?php echo $this->form->getElement('received_date')->render(); ?>
										</div>
								</div>
						
								<div class="form-group">
										<label class="col-md-3">Payment Type</label>
										<div class="col-md-9">
											<?php echo $this->form->getElement('payment_type_id')->render(); ?>
										</div>
								</div>
								
								<div class="form-group">
										<label class="col-md-3">Technician</label>
										<div class="col-md-9">
											 <?php echo $this->form->getElement('contractor_id')->render(); ?>
										</div>
								</div>
							
								<div class="form-group">
										<label class="col-md-3">Payment Amount</label>
										<div class="col-md-9">
											    <?php echo $this->form->getElement('amount')->render(); ?>
												<span>Amount paid by the customer including the <b>bank charges</b>.</span>
										</div>
								</div>
						
								<div class="form-group">
										<label class="col-md-3">Payment Reference #</label>
										<div class="col-md-9">
											     <?php echo $this->form->getElement('reference')->render(); ?>
												<div id="loader_view" style="display: none;">
													<img class="img-responsive" src="<?php echo $this->baseUrl('/pic/loading-4.gif'); ?>" />
												</div>
												<span style="color: red;" id="reference-status"></span>
										
										</div>
										
								</div>
						
								
								
								
								 <div class="calender_slct_customer_cont" style="display: none;">
									<div class="form-group">
										<label class="col-md-3">With holding Tax</label>
										<div class="col-md-9">
												<?php echo $this->form->getElement('withholding_tax')->render(); ?>
												<span for="withholding_tax">Yes, the customer has deducted withholding tax</span>
											
										</div>
									</div>
								
								
									<div class="form-group" id="amount_withheld_block" style="margin-top: 10px; <?php if (!$this->form->getElement('withholding_tax')->getValue()): ?>display: none;<?php endif; ?>">
										<label class="col-md-3">Amount Withheld</label>
										<div class="col-md-9">
											  		<?php echo $this->form->getElement('amount_withheld')->render(); ?>
										
										</div>
									</div>
								
								
									

									</div>
									<div class="calender_slct_customer_cont" style="display: none;">
											<div class="form-group" >
												<label class="col-md-3">Bank Charges</label>
												<div class="col-md-9">
													<?php echo $this->form->getElement('bank_charges')->render(); ?>
												</div>
											</div>
									</div>
									
									<div class="form-group">
										<label class="col-md-3">Description</label>
										<div class="col-md-9">
											    <?php echo $this->form->getElement('description')->render(); ?>
										
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-md-3">Acknowledgment</label>
										<div class="col-md-9">
											    <?php echo $this->form->getElement('is_acknowledgment')->render(); ?>
												<span for="is_acknowledgment">Thank your customer for the payment via email</span>
										
										</div>
									</div>
								
						

                 
						
						</div>
					</div>
				</div>
</div>
</form>

<script>
    $(document).ready(function() {
        $("#received_date").datepicker({
            //format: 'd M yyyy', 
		format: '<? if(!empty($dateTimeObj)) echo $JsDateFormat; else echo"d M yyyy"; ?>' 
		  // format:'<?=$JsDateFormat?>',

        });
    });
</script>

<script>
    var bookingId = '<?php echo (isset($this->bookingInvoice['booking']['booking_id'])? $this->bookingInvoice['booking']['booking_id'] : 0);  ?>';
	
	var bookingAmount = 0;
    $(document).ready(function () {
        $("#received_date").datepicker({
           // format: 'd M yyyy',
		  // format:'<?=$JsDateFormat?>',
		format:'<? if(!empty($dateTimeObj)) echo $JsDateFormat; else echo"d M yyyy" ?>',

            
        });		
		
		$.ajax({
            type: "POST",
            url: "<?php echo $this->url(array(), 'checkFullPaidPayment');?>",
            data: {booking_id : bookingId},
            dataType: 'json',
            success: function (data) {
             if(data.type == 'error'){
			    $('#confirm .modal-body').html(data.msg);
				$('#confirm').modal('show');
				$('#confirm #okBtn').text('YES');
				$('#confirm #cancelBtn').text('NO');
				$('#confirm #okBtn').attr('data-dismiss','modal');
				$('#confirm #cancelBtn').removeAttr('data-dismiss');
				
				$('#confirm #cancelBtn').click(function(){
					  window.location.href = data.redirectUrl; 
				});
			 }
			 
			 bookingAmount = data.amount;
            }
        });
		
    });
	
	 function checkPayAmount(){
	  var $amount = $('#amount').val();
	  $amount = parseInt($amount);
	  console.log(bookingAmount);
	  if($amount > bookingAmount){
	    return confirm ("The amount you are trying to pay is more than the estimated total amount for the booking. Are you sure you want to continue?");
	  }
	  return true;
	 } 
	 
	 /*******Start**************/

     function checkDuplicatePaymentReference() {
        $("#loader_view").css('display', 'block');
        $("#loaderIcon").show();
        jQuery.ajax({
            url: "<?php echo $this->url(array(), 'checkDuplicatePaymentReference');?>",
            data:'reference='+$("#reference").val(),
            dataType: 'json',
            type: "POST",
            success:function(data){
                if(data.type == 'error'){                
                    $("#reference-status").html(data.msg);
                    $("#reference-status").html(data.empty);
                    $("#loader_view").css('display', 'none');
                    // $("input[type=submit]").attr('disabled','disabled');
                     $("#submit").attr("disabled", "disabled");
                    // $('#submit').att( "disabled", true );
                }else{
                    $("#reference-status").html('');
                    $("#loader_view").css('display', 'none');
                    $('#submit').removeAttr("disabled");

                }
            },
            error:function (){
                alert("Some thing Error in checkDuplicatePaymentReference")
            }
        });
    } 
	/***********END**************/
      
</script>