<?php if (isset($this->is_first_time) && $this->is_first_time == 1): ?>
    <div class="col-lg-12 wrapper-content ibox float-e-margins"> 
        <div class="ibox-title">
            <div class="col-md-5">
            <?php if (isset($this->filters['file_import']) && $this->filters['file_import'] == 1) { ?>
                <h5>File Import Payments</h5> 
                <!--<a class="pull-right" href="<?= $this->url(array(), 'paymentList') ?>?fltr[is_approved]=no&fltr[file_import]=1&fltr[is_matched]=0"><i class="fa fa-file-text-o" aria-hidden="true"></i> Unknown Payments</a>-->
            <?php } else if (isset($this->filters['is_matched']) && $this->filters['is_matched'] == 0) { ?>
                <h5>Unknown Payments</h5>
            <?php } else { ?>
                <h5>Unapporved Payment</h5>
                <!--<a class="pull-right" href="<?= $this->url(array(), 'paymentList') ?>?fltr[is_approved]=no&fltr[file_import]=1&fltr[is_matched]=0"><i class="fa fa-file-text-o" aria-hidden="true"></i> Unknown Payments</a>-->
            <?php } ?>
            </div>
            <!--            <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
            
                        </div>-->
            <div class="col-md-7">
            <?php if (CheckAuth::checkCredential(array('paymentApprove'))) { ?>
                <a  href="#" data-toggle="modal" style="margin-top:-9px;" data-target="#popupi" onclick="popupi('Import Credit Card xls', '<?php echo $this->escape($this->url(array(), 'importCreditCardPayments')); ?>')" class="btn btn-primary pull-right"><i class="fa fa-upload" aria-hidden="true"></i> Import Credit Card xls</a>
                <a  href="#" data-toggle="modal" style="margin-top:-9px; margin-right: 10px;" data-target="#popupi" onclick="popupi('Import payments xls', '<?php echo $this->escape($this->url(array(), 'importBankPayments')); ?>')" class="btn btn-primary pull-right"><i class="fa fa-upload" aria-hidden="true"></i> Import payments xls</a>
                  <a  href="#" style="margin-right: 10px;line-height: 32px;margin-top:-9px;" data-toggle="modal" data-target="#popupi" onclick="popupi('Ignored Keywords', '<?php echo $this->escape($this->url(array(), 'ignoredKeywords')); ?>')" class="pull-right"><i class="fa fa-ban" aria-hidden="true"></i> Ignored Keywords</a>
            <?php } ?>
            </div>

        </div>
        <div class="ibox-content">
            <?php if (isset($this->data) && !empty($this->data)) : ?>
                <form action="" id="form" sortingMethod="POST"  onsubmit="return confirm('Are you sure you want to delete this Payments ?');">
                    <?php if (CheckAuth::checkCredential(array('paymentDelete'))) { ?>

                        <input type="button" class="btn  btn-danger" onclick="do_submit('<?php echo $this->escape($this->url(array(), 'paymentDeleteCheckedBtn')); ?>', '#form');return confirm('Are you sure you want to delete checked Payments ?');" value="Delete"/>

                    <?php } ?>

                    <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="UnapporvedPaymentTable" >
                        <thead>
                            <tr>
                                <th>Mark <input type="checkbox" id="checkAll" /></th>
                                <th><?php echo SortOrder::generate_link('Date', 'received_date') ?></th>
                                <?php if ((isset($this->filters['is_matched']) && $this->filters['is_matched'] != 0) || !isset($this->filters['is_matched'])) { ?>

                                    <th><?php echo SortOrder::generate_link('Payment Details', 'payment_type_id') ?></th>
                                <?php } if (isset($this->filters['is_matched'])) { ?>
                                    <th>User</th>
                                <?php } ?>
                                <?php if ((isset($this->filters['is_matched']) && $this->filters['is_matched'] != 0) || !isset($this->filters['is_matched'])) { ?>
                                    <th>Technician</th>
                                <?php } ?>
                                <th>Reference#</th>
                                <?php if ((isset($this->filters['is_matched']) && $this->filters['is_matched'] != 0) || !isset($this->filters['is_matched'])) { ?>
                                    <th>Total</th>

                                <?php } ?>
                                <?php if ((isset($this->filters['is_matched']) && $this->filters['is_matched'] != 0) || !isset($this->filters['is_matched'])) { ?>
                                    <th>Score</th>
                                <?php } ?>
                                <?php if (!isset($this->filters['is_matched']) && !isset($this->filters['file_import'])) { ?>
                                    <th>Insert Type</th>
                                <?php } ?>
                                <th>
                                    <?php echo SortOrder::generate_link('Amount Paid', 'amount') ?>
                                </th>

                                <?php if (isset($this->filters['is_matched']) && $this->filters['is_matched'] != 1) { ?>
                                    <th>Add to invoice</th>
                                <?php } ?>
                            </tr>
                        </thead>
                        <tbody id="result">
                        <?php else: ?>

                            <?php if (CheckAuth::checkCredential(array('paymentList'))): ?>
                            <div> 
                                <a class="btn btn-primary" href="<?php echo $this->escape($this->url(array(), 'paymentList')); ?>">View all Payment</a>
                            </div>
                        <?php endif; ?>


                        <div class="inquiry-no-result">
                            <span class="fa fa-ban">
                            </span><br/><h3 class="font-bold">
                                There are no Payment.</h3>
                        </div>

                    <?php endif; ?>
                <?php endif; ?>
                <?php
                if (isset($this->data) && !empty($this->data)):
                    $count = 0;
                    $modelCustomer = new Model_Customer();
                    $modelPaymentType = new Model_PaymentType();
                    $modelBookingInvoice = new Model_BookingInvoice();
                    $modelPayment = new Model_Payment();
                    foreach ($this->data as $key => $row) :
                        $count += 1;
                        ?>

                        <?php
                        $invoice = $modelBookingInvoice->getByBookingId($row['booking_id']);
                        $model_booking = new Model_Booking();
                        $booking = $model_booking->getById($row['booking_id']);
                        $totalAmountDetails = $model_booking->getTotalAmountBookingDetails($invoice['booking_id']);
                        $paymentType = $modelPaymentType->getById($row['payment_type_id']);
                        $customer = $modelCustomer->getById($row['customer_id']);
                        $modelCustomer->fill($customer, array('customer_commercial_info'));
                        $model_paymentInvoiceMatch = new Model_PaymentInvoiceMatch();
                        $score_count = $model_paymentInvoiceMatch->getCountByPaymentId($row['payment_id']);
                        ?>
                        <tr class="payment_row">
                            <td class="checkbox_booking_cont" <?php echo!empty($row['is_mark']) ? 'style="background-color: red;"' : ''; ?>>
                                <div class="details_info_l">
                                    <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['payment_id']); ?>" style="margin: 3px;" id="payment_<?php echo $this->escape($row['payment_id']) ?>" onclick="markPayment(<?php echo $this->escape($row['payment_id']) ?>, '<?php echo $this->escape($this->url(array('payment_id' => $row['payment_id']), 'markPayment')); ?>')" <?php echo!empty($row['is_mark']) ? 'checked="checked"' : ''; ?> />
                                </div>
                                <?php if (!empty($row['is_mark']) && !empty($row['mark_comment'])): ?>
                                    <div>
                                        <a href="#" data-target="#popupi" data-toggle="modal" onclick="popupi('Mark Payement', '<?php echo $this->escape($this->url(array('payment_id' => $row['payment_id']), 'markPaymentView')); ?>');" class="details_info_opt"><img src="/pic/comments.png" border="0"></a>
                                    </div>
                                <?php endif; ?>
                            </td>
                            <td class="details_info_l">
                                <div id="received_date_container_<?php echo $this->escape($row['payment_id']) ?>" class="details_info_l">
                                    <div id="received_date_value_<?php echo $this->escape($row['payment_id']) ?>">
                                        <?php echo $this->escape(getDateFormating($row['received_date'], false)) ?>
                                    </div>
                                    <?php if (CheckAuth::checkCredential(array('paymentApprove'))): ?>

                                        <div  id="received_date_button_<?php echo $this->escape($row['payment_id']) ?>">
                                            <a href="javascript:;" onclick="change_received_date(<?php echo $this->escape($row['payment_id']) ?>)" class="a_link"> Edit</a>
                                        </div>
                                    <?php endif; ?>
                                    <div class="clearBoth"></div>
                                </div>
                                <div id="payment_status_<?= $key ?>">
                                    <?php echo $this->escape($row['is_approved'] ? 'APPROVED' : 'UNAPPROVED'); ?>
                                </div>
                            </td>
                            <?php if ((isset($this->filters['is_matched']) && $this->filters['is_matched'] != 0) || !isset($this->filters['is_matched'])) { ?>
                                <td>
                                    <div class="details_info_l">
                                        <div>

                                            <?php
                                            if (isset($invoice['id'])) {
                                                if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))):
                                                    ?>
                                                    <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">

                                                        <?php
                                                        echo $this->escape(get_customer_name($customer));
                                                        if (!empty($customer['customer_commercial_info']['business_name'])) {
                                                            echo ' - ' . $customer['customer_commercial_info']['business_name'];
                                                        }
                                                        ?>
                                                    </a>
                                                    <?php
                                                endif;
                                            }
                                            ?>
                                        </div>

                                        <div class="booking_time_cont">

                                            <?php if (isset($invoice['id'])) { ?>
                                                <span>Amount received by </span>
                                                <b><?php echo $this->escape($paymentType['payment_type']) ?></b>

                                                <span> for </span>

                                                <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'invoiceView')); ?>" class="a_link_black"><b><?php echo $this->escape($invoice['invoice_num']) ?></b></a> <span>(<?php echo date('M d, Y', strtotime($booking['booking_start'])); ?>)</span>
                                                <?php else: ?>
                                                    <span><b><?php echo $this->escape($invoice['invoice_num']) . ', '; ?></b></span>
                                                <?php endif; ?> 

                                                <?php if (CheckAuth::checkCredential(array('bookingView'))):
                                                    ?>

                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_link_black"><b><?php echo $row['booking_num']; ?></b></a>

                                                <?php else: ?>
                                                    <span><b><?php echo $row['booking_num']; ?></b></span>
                                                <?php endif; ?>
                                            <?php } ?>
                                            <?php
                                            if (0 === $row['is_approved'] && 0 === $row['is_rejected']) {
                                                if ($score_count['count'] > 0) {
                                                    ?>
                                                    (<a href="#" data-target="#popupi" data-toggle="modal" onclick="popupi('Payment Invoice Matched', '<?php echo $this->url(array('payment_id' => $row['payment_id']), 'paymentInvoiceMatch'); ?>')"><?= 'Matched Invoices : ' . $score_count['count'] ?></a>)<?php }
                        } ?>
                                        </div>
                                    </div>
                                    <div class="details_info_l payment_links">
                                        <?php if (isset($invoice['id'])) { ?>
                                            <?php
                                            $actions = array();



                                            if (0 === $row['is_approved']) {
                                                if (CheckAuth::checkCredential(array('paymentEdit'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['payment_id']), 'editPayment')) . '"  class="details_info_opt">Edit</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('paymentDelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentDelete'))}','Are you sure you want to delete this Payment ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="deletePayment(this,\'' . $row["booking_id"] . '\',\'' . $row["payment_id"] . '\')" class="details_info_opt">Delete</a>';
                                                }
                                            }

                                            if (CheckAuth::checkCredential(array('markPayment')) && !empty($row['is_mark'])) {
                                                $popupConfig = "'Mark Comment','{$this->escape($this->url(array('payment_id' => $row['payment_id']), 'modifyMarkComment'))}'";
                                                $actions[] = '<a href="#" data-target="#popupi" data-toggle="modal" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Modify Mark Comment</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('paymentApprove')) && CheckAuth::checkCredential(array('invoiceDiscussion'))) {
                                                $popupConfig = "'Edit Invoice Number','{$this->escape($this->url(array('id' => $row['payment_id']), 'changeInvoiceNumber'))}'";
                                                $actions[] = '<a href="#" data-target="#popupi" data-toggle="modal" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Edit Invoice Number</a>';

                                                $approvePayment = "'{$this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentApprove'))}'";
                                                $unapprovePayment = "'{$this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentUnapprove'))}'";
                                                //$onclickConfirm = "'Invoice Discussion','{$this->escape($this->url(array('id' => $invoice['id'],'payment_id'=>$row['payment_id']), 'invoicePaymentDisscussion'))}','Are you sure you want to Reject this Payment ?'";
                                                $popupConfig = "'Invoice Discussion','{$this->escape($this->url(array('id' => $invoice['id'], 'payment_id' => $row['payment_id']), 'rejectPayment'))}'";
                                                if (0 === $row['is_approved'] && 0 === $row['is_rejected']) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['booking_id']), 'bookingEdit')) . '"  class="details_info_opt">Edit Invoice</a>';
                                                    $actions[] = '<a href="#" onclick="removeAssign(this,\'' . $this->url(array('payment_id' => $row['payment_id']), 'removeAssign') . '\');return false;"  class="details_info_opt">Remove Assign</a>';
                                                    $actions[] = '<div class="approve-box" style="display:inline-block;"><a href="javascript:;" onclick="approvePayment(this,' . $approvePayment . ',' . $unapprovePayment . ',\'' . $key . '\')" class="details_info_opt">Approve</a></div>';
                                                    //$actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Reject</a>';
                                                    $actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt" id ="reject_link_' . $row['payment_id'] . '">Reject</a>';
                                                } elseif (0 === $row['is_approved'] && 1 === $row['is_rejected']) {
                                                    //$actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentUnapprove')) . '" onclick="return confirm(\'Are you sure you want to Unapprove this Payment?\');" class="details_info_opt">Unapprove</a>';
                                                    //$actions[] = '<a href="javascript:;" onclick="unApprovePayment(this,' . $unapprovePayment . ',' . $approvePayment . ')"  class="details_info_opt">Unapprove</a>';
                                                    $actions[] = '<div class="approve-box" style="display:inline-block;"><a href="javascript:;" onclick="approvePayment(this,' . $approvePayment . ',' . $unapprovePayment . ' , \'' . $key . '\')" class="details_info_opt">Approve</a></div>';
                                                    $actions[] = '<a class="details_info_opt" style="color: #ff0000 !important; cursor:default;">Rejected</a>';
                                                } else {
                                                    $actions[] = '<div class="approve-box" style="display:inline-block;"><a href="javascript:;" onclick="unApprovePayment(this,' . $unapprovePayment . ',' . $approvePayment . ', \'' . $key . '\')"  class="details_info_opt">Unapprove</a></div>';
                                                }
                                            }
                                            ?>
                                            <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $actions); ?>
            <?php } ?>
                                    </div>
                                </td>
                            <?php } ?>
                            <?php
                            if (isset($this->filters['is_matched'])) {
                                $modleUser = new Model_User();
                                $user = $modleUser->getById($row['user_id']);
                                ?>
                                <td><?= $user['username'] ?></td>
                                <?php
                            }
                            ?>
        <?php if ((isset($this->filters['is_matched']) && $this->filters['is_matched'] != 0) || !isset($this->filters['is_matched'])) { ?>
                                <td>
                                    <div class="details_info_l">
                                        <?php
                                        /////// By Islam get contractor name
                                        $modleContractorServiceBooking = new Model_ContractorServiceBooking();
                                        $contractorsId = $modleContractorServiceBooking->getContractorsBybookingId($row['booking_id']);

                                        $modleUser = new Model_User();
                                        foreach ($contractorsId as $contractorId) {
                                            $contractorName = $modleUser->getContractorById($contractorId);
                                            ?>
                                            <a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractorId), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $contractorName['username']; ?></a>

                                            <?php
                                        }
                                        ?>
                                    </div>
                                </td>
        <?php } ?>
                            <td>
                                <div class="details_info_l">
        <?php echo $this->escape($row['reference']); ?>
                                </div>
                            </td>
        <?php if ((isset($this->filters['is_matched']) && $this->filters['is_matched'] != 0) || !isset($this->filters['is_matched'])) { ?>

                                <td>
            <?php if (isset($invoice['id'])) { ?>
                                        <div class="details_info_l">
                                            <ul>

                                                <li> Total :  $ <?php echo $this->escape(number_format($totalAmountDetails['total'], 2)); ?></li>
                                                <li><?php
                                                    if (isset($invoice['id'])) {
                                                        if ($totalAmountDetails['total'] != $totalAmountDetails['balance_due']) {
                                                            ?>
                                                            <div class="details_info_l">
                                                                Outstanding : $ <?php echo $this->escape(number_format($totalAmountDetails['balance_due'], 2)); ?>
                                                            </div>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                                </li>
                                            </ul>
                                        </div>
            <?php } ?>
                                </td>

                                <td>
                                    <div class="details_info_l">
                                        <?php
                                        if (isset($invoice['id'])) {
                                            if (!empty($row['score']) && !is_numeric($row['score'])) {
                                                $scores = explode(',', $row['score']);
                                                array_shift($scores);
                                                echo '<ul>';
                                                foreach ($scores as $key => $score) {
                                                    echo '<li> - ' . $score . '</li>';
                                                }
                                                echo '</ul>';
                                            }
                                        }
                                        ?>
                                    </div>
                                </td>
                            <?php } ?>
                            <?php if (!isset($this->filters['is_matched']) && !isset($this->filters['file_import'])) {
                                ?>
                                <td>
                                    <div class="details_info_l">
                                        <?php
                                        if ($row['file_import'] == 1) {
                                            ?>
                                            <div class="details_info_l">
                                                File Import</div>

            <?php } else { ?>
                                            <div class="details_info_l">
                                                Manually </div>
                                        <?php }
                                        ?>
                                </td>
        <?php } ?>
                            <td class="details_info_r">
                                <div class="details_info_l">
                                    $ <?php echo $this->escape(number_format($row['amount'], 2)); ?>
                                </div>

                                    <?php if (isset($row['is_change']) && $row['is_change']) { ?>
                                    <div class="details_info_l" style="font-size: 10px; font-weight: bold; color: red;">
                                    <?php echo $this->escape($row['is_change'] ? 'AWAITING APPROVAL' : ''); ?>
                                    </div>
                                    <?php
                                }
                                echo '<div>';
                                if ($row['booking_id'] != 0) {
                                    if ($row['is_diff_amount']) {
                                        echo ' <span class="label label-danger diff-amount-span" style="position:relative;"><i class="fa fa-times"  aria-hidden="true" onclick="removeDiffAmount(this ,'. $row['payment_id'].')" style="position:absolute;top:-6px;right:-4px;color:black;font-size:15px;cursor:pointer"></i> Different Amount  </span>';
                                    }
                                }
                                echo '</div>';
                                ?>
                            </td>
                                    <?php if (isset($this->filters['is_matched']) && $this->filters['is_matched'] != 1) { ?>
                                <td><ul><?php
                                        $popupConfig = "'Add Invoice Number','{$this->escape($this->url(array('id' => $row['payment_id']), 'changeInvoiceNumber'))}'";
                                        echo '<li><a href="#" data-target="#popupi" data-toggle="modal" onclick="popupi(' . $popupConfig . ');" class="details_info_opt"><i class="fa fa-plus" aria-hidden="true"></i> Add to invoice</a></li>';


                                        echo '<li><a onclick="ignorePayment(this,\'' . $row["payment_id"] . '\');return false;"   class="details_info_opt"><i class="fa fa-ban" aria-hidden="true"></i> Ignore Payment</a></li>';
                                        ?></ul></td>
                        <?php } ?>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>

<?php if (isset($this->is_first_time) && $this->is_first_time == 1 && (isset($this->data) && !empty($this->data))): ?>  
                    </tbody>
                </table>
            </form>
<?php endif; ?>       
    </div>
</div>

<div style="clear:both"></div>

<script type="text/javascript">


    function deletePayment(that, booking_id, payment_id) {
        if (confirm('are you sure you want to delete this Payment?')) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'paymentDelete')); ?>?booking_id=' + booking_id + '&id=' + payment_id + '',
                data: {},
                dataType: 'json',
                success: function (result) {

                    $(that).parents('.payment_row').hide();
                }
            });
        }
    }
    function removeAssign(that, url) {
        if (confirm('are you sure you want to remove invoice assigned ?')) {
            $.ajax({
                type: "POST",
                url: url,
                data: {},
                dataType: 'json',
                success: function (result) {
                    $(that).parents('.payment_row').remove();
                }
            });
        }
    }

    function ignorePayment(that, payment_id) {
        if (confirm('are you sure you want to ignore this Payment?')) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'paymentIgnore')); ?>?payment_id=' + payment_id + '',
                data: {},
                dataType: 'json',
                success: function (result) {
                    $(that).parents('.payment_row').hide();
                }
            });
        }
    }
    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });
    
    function removeDiffAmount(that , payment_id){
        if (confirm('are you sure you want to remove different amount?')) {
            $.ajax({
                type: "POST",
                url: '<?php echo $this->escape($this->url(array(), 'removeDifferentAmount')); ?>?payment_id=' + payment_id + '',
                data: {},
                dataType: 'json',
                success: function (result) {
                    $(that).parents('.diff-amount-span').hide();
                }
            });
        }
    }

</script>
