		<?php if(isset($this->is_first_time) && $this->is_first_time == 1):?>
		<div class="col-lg-12 wrapper-content ibox float-e-margins"> 
		<div class="ibox-title">
                        <h5>Unapporved Payment</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
					<div class="ibox-content">
		<?php if(isset($this->data) && !empty($this->data)) : ?>
		<form action="" id="form-payment" sortingMethod="POST" onsubmit="return confirm('are you sure you want to delete this Payment?');">
                    
                    
                      
                        <table class="table table-striped table-bordered table-hover change-table-font responsive-table" id="UnapporvedPaymentTable" >
                            <thead>
                                  <tr>
                                          <th>Mark</th>
                                          <th><?php echo SortOrder::generate_link('Date', 'received_date') ?></th>
                                          <th><?php echo SortOrder::generate_link('Payment Details', 'payment_type_id') ?></th>
                                          <th>Technician</th>
                                          <th>Reference#</th>
                                          <th>
											<?php echo SortOrder::generate_link('Amount Paid', 'amount') ?>
                                          </th>
                                      </tr>
                            </thead>
                            <tbody id="result">
							<?php else: ?>
            
              <?php if (CheckAuth::checkCredential(array('paymentList'))): ?>
                    	<div> 
                            <a class="btn btn-primary" href="<?php echo $this->escape($this->url(array(), 'paymentList')); ?>">View all Payment</a>
                   		</div>
                    <?php endif; ?>
                    
                    
              		 <div class="inquiry-no-result">
                     		<span class="fa fa-ban">
                            	</span><br/><h3 class="font-bold">
                                	There are no Payment.</h3>
                     </div>

            <?php endif; ?>
			<?php endif; ?>
<?php if(isset($this->data) && !empty($this->data)):
$count = 0;
$modelCustomer = new Model_Customer();
$modelPaymentType = new Model_PaymentType();
$modelBookingInvoice = new Model_BookingInvoice();
 foreach ($this->data as $row) :
 $count += 1; ?>

                                    <tr>
                                       <td class="checkbox_booking_cont" <?php echo!empty($row['is_mark']) ? 'style="background-color: red;"' : ''; ?>>
                                        <div class="details_info_l">
                                            <input type="checkbox" style="margin: 3px;" id="payment_<?php echo $this->escape($row['payment_id']) ?>" onclick="markPayment(<?php echo $this->escape($row['payment_id']) ?>,'<?php echo $this->escape($this->url(array('payment_id' => $row['payment_id']), 'markPayment')); ?>')" <?php echo!empty($row['is_mark']) ? 'checked="checked"' : ''; ?> />
                                        </div>
                                        <?php if (!empty($row['is_mark']) && !empty($row['mark_comment'])): ?>
                                            <div>
                                                <a href="#" data-target="#popupi" data-toggle="modal" onclick="popupi('Mark Payement','<?php echo $this->escape($this->url(array('payment_id' => $row['payment_id']), 'markPaymentView')); ?>');" class="details_info_opt"><img src="/pic/comments.png" border="0"></a>
                                            </div>
                                        <?php endif; ?>
                                    </td>
                                        <td class="details_info_l">
                                        <div id="received_date_container_<?php echo $this->escape($row['payment_id']) ?>" class="details_info_l">
                                            <div id="received_date_value_<?php echo $this->escape($row['payment_id']) ?>">
                                                <?php
												echo $this->escape(getDateFormating($row['received_date'], false)) ?>
                                            </div>
                                            <?php if (CheckAuth::checkCredential(array('paymentApprove'))): ?>
											
                                                <div  id="received_date_button_<?php echo $this->escape($row['payment_id']) ?>">
                                                    <a href="javascript:;" onclick="change_received_date(<?php echo $this->escape($row['payment_id']) ?>)" class="a_link"> Edit</a>
                                                </div>
                                            <?php endif; ?>
                                            <div class="clearBoth"></div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['is_approved'] ? 'APPROVED' : 'UNAPPROVED'); ?>
                                        </div>
                                    </td>
                                       <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))): ?>
                                                    <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <?php
                                                $invoice = $modelBookingInvoice->getByBookingId($row['booking_id']);
                                                $paymentType = $modelPaymentType->getById($row['payment_type_id']);
                                                ?>

                                                <span>Amount received by </span>
                                                <b><?php echo $this->escape($paymentType['payment_type']) ?></b>

                                                <span> for </span>

                                                <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'invoiceView')); ?>" class="a_link_black"><b><?php echo $this->escape($invoice['invoice_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span><b><?php echo $this->escape($invoice['invoice_num']).', '; ?></b></span>
                                                <?php endif; ?> 
												
												<?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
												
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_link_black"><b><?php echo $row['booking_num']; ?></b></a>
                                                <?php else: ?>
                                                    <span><b><?php echo $row['booking_num'];?></b></span>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l payment_links">
                                            <?php
                                            $actions = array();

                                            if (0 === $row['is_approved']) {
                                                if (CheckAuth::checkCredential(array('paymentEdit'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['payment_id']), 'editPayment')) . '"  class="details_info_opt">Edit</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('paymentDelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentDelete'))}','Are you sure you want to delete this Payment ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                                }
                                            }

                                            if (CheckAuth::checkCredential(array('markPayment')) && !empty($row['is_mark'])) {
                                                $popupConfig = "'Mark Comment','{$this->escape($this->url(array('payment_id' => $row['payment_id']), 'modifyMarkComment'))}'";
                                                $actions[] = '<a href="#" data-target="#popupi" data-toggle="modal" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Modify Mark Comment</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('paymentApprove')) && CheckAuth::checkCredential(array('invoiceDiscussion')) ) {
											    $approvePayment = "'{$this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentApprove'))}'";
											    $unapprovePayment = "'{$this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentUnapprove'))}'";
                                                //$onclickConfirm = "'Invoice Discussion','{$this->escape($this->url(array('id' => $invoice['id'],'payment_id'=>$row['payment_id']), 'invoicePaymentDisscussion'))}','Are you sure you want to Reject this Payment ?'";
												$popupConfig = "'Invoice Discussion','{$this->escape($this->url(array('id' => $invoice['id'], 'payment_id' => $row['payment_id']), 'rejectPayment'))}'";

										
												if (0 === $row['is_approved'] && 0 === $row['is_rejected']) {
													$actions[] = '<a href="javascript:;" onclick="approvePayment(this,' . $approvePayment . ',' . $unapprovePayment . ')" class="details_info_opt">Approve</a>';
													//$actions[] = '<a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt">Reject</a>';
													$actions[] = '<a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi(' . $popupConfig . ');" class="details_info_opt" id ="reject_link_'.$row['payment_id'].'">Reject</a>';
												} elseif (0 === $row['is_approved'] && 1 === $row['is_rejected']) {
													//$actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentUnapprove')) . '" onclick="return confirm(\'Are you sure you want to Unapprove this Payment?\');" class="details_info_opt">Unapprove</a>';
													//$actions[] = '<a href="javascript:;" onclick="unApprovePayment(this,' . $unapprovePayment . ',' . $approvePayment . ')"  class="details_info_opt">Unapprove</a>';
													$actions[] = '<a href="javascript:;" onclick="approvePayment(this,' . $approvePayment . ',' . $unapprovePayment . ')" class="details_info_opt">Approve</a>';
													$actions[] = '<a class="details_info_opt" style="color: #ff0000 !important; cursor:default;">Rejected</a>';
												} else {
													$actions[] = '<a href="javascript:;" onclick="unApprovePayment(this,' . $unapprovePayment . ',' . $approvePayment . ')"  class="details_info_opt">Unapprove</a>';
												} 
                                            }
                                            ?>
                                            <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $actions); ?>
                                        </div>
                                    </td>
										<td>
										<div class="details_info_l">
                                    <?php 
									/////// By Islam get contractor name
										$modleContractorServiceBooking=new Model_ContractorServiceBooking();
										$contractorsId=$modleContractorServiceBooking->getContractorsBybookingId($row['booking_id']);
										
										$modleUser=new Model_User();
										foreach($contractorsId as $contractorId){
										$contractorName=$modleUser->getContractorById($contractorId);
										?>
										<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractorId), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $contractorName['username']; ?></a>
                                    			
										<?php
										}
									?>
										</div>
									</td>
									<td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['reference']); ?>
                                        </div>
                                    </td>
									<td class="details_info_r">
                                        <div class="details_info_l">
                                            $ <?php echo $this->escape(number_format($row['amount'], 2)); ?>
                                        </div>
										<?php if($row['is_change']){ ?>
											<div class="details_info_l" style="font-size: 10px; font-weight: bold; color: red;">
												<?php echo $this->escape($row['is_change'] ? 'AWAITING APPROVAL' : ''); ?>
											</div>
										<?php } ?>
                                    </td>
                                        
                                    </tr>
                                  <?php endforeach; ?>
								<?php endif;?>

<?php if(isset($this->is_first_time) && $this->is_first_time == 1 && (isset($this->data) && !empty($this->data))):?>  
                            </tbody>
                        </table>
            </form>
    <?php endif;?>       
     </div>
</div>

<div style="clear:both"></div>