<div style="height:500px; overflow: scroll; overflow-x: hidden;" id="ignoredPaymentDataContainer">
    <table class="table">
        <tr>
            <th>Received Date</th>
            <th>Reference</th>
            <th>Amount</th>
            <th>Payment Type</th>
            <th>Restore</th>
        </tr>
        <tbody id="result2">
            <?php
            foreach ($this->data as $key => $ignoredPayment) {
                ?>
                <tr>
                    <td><?php 
				   $dateTimeObj= get_settings_date_format();
			       if(!empty($dateTimeObj)) 
					echo getNewDateFormat($ignoredPayment['received_date']); 
                    else
					echo $this->escape(getDateFormating($ignoredPayment['received_date'], false));?></td> 
                    <td><?php echo $ignoredPayment['reference'] ?></td>
                    <td><?php echo $this->escape(number_format($ignoredPayment['amount'], 2)); ?></td>
                    <td><?php echo $ignoredPayment['payment_type'] ?></td>
                    <td><a onclick="restore('<?= $this->url(array(), 'ignoredPayments') . '?ignoredPaymentId=' . $ignoredPayment['ignored_payment_id'] ?>');return false;">Restore</a></td>
                </tr>
            <?php } ?>
        </tbody>
    </table>

</div>
<script>
    function restore(url) {
        if (confirm('are you sure you want to restore this payment?')) {
            $.ajax({
                type: "POST",
                url: url,
                data: {},
                success: function (result) {
                    if (result == 1) {
                        window.location.href = '<?php echo $this->escape($this->url(array(), 'paymentList')); ?>?fltr[is_approved]=no&fltr[file_import]=1&fltr[is_matched]=0';
                    }
                }
            });
        }
    }


    var filters = <?php echo json_encode($this->filters); ?>;
    var page_number = 1;
    var loading = false;
    var is_last_request = 0;
    function getData(filters, page_number, is_first_time) {
        if (typeof (is_first_time) === 'undefined')
            is_first_time = 0;
            $('#payment_data2').after('<div class="row" style="display:block" id="loading_img2"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {'fltr': filters, 'is_first_time': is_first_time, 'page_number': page_number},
            url: "<?php echo $this->url(array(), 'ignoredPayments'); ?>",
            success: function (result) {
                is_last_request = result.is_last_request;
                
                console.log(result.data);
                $("#ignoredPaymentDataContainer #result2").append(result.data);
                if (result.is_last_request == 0) {
                    $('#payment_data2').append('<div class="row"><div class="col-md-6 col-md-offset-5"><a class="btn btn-primary" href="javascript:;" id="load_more"> Load More  </a></div></div>');
                }
                $('#loading_img2').remove();
                loading = false;
                console.log(is_last_request);
            }
        });

    }

    $(document).ready(function () {
        //  getData(filters, page_number, 1);

        $('#payment_data2').on('click', '#load_more', function () {
            $(this).remove();
            if (loading == false && is_last_request == 0) {
                loading = true;
                page_number++;
                getData(filters, page_number);
            }

        });

        $("#ignoredPaymentDataContainer").scroll(function () { //detect page scroll
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                if (loading == false && is_last_request == 0) {     
                    loading = true;
                    page_number = page_number + 1;
                    console.log('pNumber'+page_number);
                    getData(filters, page_number);
                }
            }
//            if ($("#ignoredPaymentDataContainer").scrollDown() + $("#ignoredPaymentDataContainer").height() == $("#content_modal_popup").height())  //user scrolled to bottom of the page?
//            {
//                
////                if (loading == false && is_last_request == 0) {
////                   
////                    loading = true;
////                    page_number++;
////                    getData(filters, page_number);
////                }
//            }
        });

//        $("#content_modal_popup").modal().on('loaded.bs.modal', function () {
//            $(this).parents('.modal-scrollable').scroll(function () {
//                //Do stuff
//                alert('salim');
//
//            });
//        });
    });




</script>