<?php
// Style Sheet
ViewHelper::setStyleSheet('/plugins/wbCalendar/css/main.css');
?>
<div class="ibox">
  <div class="ibox-content">
    <div class="row">
          <div class="col-md-5">
            <h3>Payment</h3>
          </div>
          
          
          
          <div class="col-md-7 ">
                 <?php if (CheckAuth::checkCredential(array('bookingPaymentList')) || CheckAuth::checkCredential(array('paymentList'))): ?>
                 <ul class="inline-list float-lg-r">
                 <li>
                      
                        <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingPaymentList') : $this->url(array(), 'paymentList')); ?>?fltr[is_approved]=all" style="<?php echo $this->escape(isset($this->filters['is_approved']) && $this->filters['is_approved'] == 'all' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">all</a>|
                 </li>
         		 <li> 
                         <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingPaymentList') : $this->url(array(), 'paymentList')); ?>?fltr[is_approved]=yes" style="<?php echo $this->escape(isset($this->filters['is_approved']) && $this->filters['is_approved'] == 'yes' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">approved</a> |
                 
                 </li>
                 <li> 
                   <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingPaymentList') : $this->url(array(), 'paymentList')); ?>?fltr[is_approved]=no" style="<?php echo $this->escape(isset($this->filters['is_approved']) && $this->filters['is_approved'] == 'no' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">unapproved</a> |
                 </li>
            		<li>
                    
                        <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingPaymentList') : $this->url(array(), 'paymentList')); ?>?fltr[is_mark]=yes" style="<?php echo $this->escape(isset($this->filters['is_mark']) && $this->filters['is_mark'] == 'yes' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">marked</a></li>
                    
                </ul>
                <?php endif; ?>
          </div>
		  
          
          
          
     </div>
	 <div class="row">
	 <div class="col-md-4">
							<?php
							if (CheckAuth::checkCredential(array('canSeeAllContractorReport'))){
								$modelUser = new Model_User();
								$options = $modelUser->getAllContractor(true);
							 ?>
							<select class="form-control" id="fltr['service_history_contractor_id']" onchange="filter('<?php echo $this->escape($this->url(array(),'paymentList')); ?>?fltr[is_approved]=no&fltr[contractor_id]='+$(this).val());">
								<option value="">Select Technician</option>
								<?php foreach ($options as $key=>$value){ ?>
									<?php $selected = isset($this->filters['contractor_id']) && $this->filters['contractor_id'] == $key ? 'selected="selected"' : ''; ?>
									<option value="<?php echo $key; ?>" <?php echo $selected; ?> ><?php echo $value; ?></option>
								<?php } ?>
							</select>
							<?php } ?>
					</div>
	 </div>
   </div>
     <div class="ibox-content">
         <div class="row">
           <div class="col-md-5">
               <form id="search_form">
                
                  <div class="input-group">
                        <h4>    Search Payment </h4>
                        <ul class="inline-list">
                                 <li> 
                                 <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                                </li>
                                <li>
                                <span class="input-group-btn">
                                  <input type="submit" name="button" id="button" value="Search" onclick="$('#search_form').submit();" class="btn btn-primary">
                                </span>     
                                </li>         
                        </ul>                   
                 </div>

                </form>
     
              </div>
              <div class="col-md-7">
                    <div id="RHSDIV">
                    <div style="" class="f11 ffva">
                        <b>How do I record a payment received from a customer?</b>
                        <br/>
                    
                        To do this:
                        <ol class="invoice_index_ol_style">
                            <li class="f11">Go to an invoice</li>
                            <li class="f11">Click on <b>Add Payment</b> link</li>
                            <li class="f11">Please enter the payment details</li>
                            <li class="f11">Click on <b>Save</b>
                            </li>
                        </ol>
                    </div>
                </div>
              </div>
          </div>
     </div>
</div>


<div class="ibox float-e-margins no-margin-b">
        <div class="ibox-content" id="payment_data">
		 <div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>		        
        </div>
 </div>




   

<script type="text/javascript">
    function AddEditAttributeValue(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=310&width=450');
        });
    }
    
    function markPayment(payment_id,payment_url){
        
        if ($('#payment_'+payment_id).is(':checked')) {
            $('#payment_'+payment_id).parents('.checkbox_booking_cont').css('background-color', 'red');
            popupi('Mark Comment', payment_url);
        }else{
            if($('#payment_'+payment_id).parents('tr').hasClass('tr_cont_1')){
                var color = '#FFFFFF';
            } else {
                var color = '#F0F6FC';
            }
            $('#payment_'+payment_id).parents('.checkbox_booking_cont').css('background-color', color);
            
            $.ajax({
                type: "POST",
                url: "/ajax/unmarkPayment",
                data: "payment_id="+payment_id,
                success: function(result) {
                    if(result == '1'){
                        window.location.reload();
                    }
                }
            });
        }
    }
    
    function change_received_date(payment_id){
       
        var value = $('#received_date_value_'+payment_id).html().trim();
        $('#received_date_value_'+payment_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="received_date_'+payment_id+'" readonly="readonly" value="'+value+'" />');
        $('#received_date_button_'+payment_id).css('padding-top','2px');
        $('#received_date_button_'+payment_id).html('<a href="javascript:;" onclick="save_received_date('+payment_id+')" class="a_link">Save</a>');
        $('#received_date_'+payment_id).datepicker({
            format: 'MM dd ,yyyy'
        });
    }
    
    function save_received_date(payment_id){
        $('#received_date_button_'+payment_id).css('padding-top','0');
        $('#received_date_button_'+payment_id).html('<img src="/pic/loading-4.gif">');
        $('#label_'+payment_id).remove();
        
        var received_date = $('#received_date_'+payment_id).val();
        if(received_date != ''){
            $.ajax({
                type: "POST",
                url:"/ajax/changeReceivedDate",
                data:{
                    'received_date':received_date,
                    'payment_id':payment_id
                },
                success: function(result) {
                    if(result == 1){
                        $('#received_date_value_'+payment_id).html(received_date);
                        $('#received_date_button_'+payment_id).html('<a href="javascript:;" onclick="change_received_date('+payment_id+')" class="a_link">Edit</a>');
                    }
                }
            
            });
        }else{
            $('#received_date_value_'+payment_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="received_date_'+payment_id+'" readonly="readonly" />');
            $('#received_date_button_'+payment_id).css('padding-top','2px');
            $('#received_date_button_'+payment_id).html('<a href="javascript:;" onclick="save_received_date('+payment_id+')" class="a_link">Save</a>');
            $('#received_date_container_'+payment_id).after('<label id="label_'+payment_id+'"class="error">Field required</label>');
            $('#received_date_'+payment_id).datepicker({
                format: 'MM dd ,yyyy'
            });
        }
    }
 
</script>
<script type="text/javascript">
    	function filter(url){
        window.location = url;
    }
	var filters = <?php echo json_encode($this->filters); ?>;
	var page_number = 0;
	var loading = false;
	var is_last_request = 0;
	function getData(filters ,page_number, is_first_time){
      if (typeof(is_first_time)==='undefined') is_first_time = 0;
	  if(is_first_time == 0 && !($('#loading_img').length > 0)){$('#form-payment').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');}
	  $.ajax({
            type: "POST",
			dataType: "JSON",
			data: {'fltr': filters , 'is_first_time':is_first_time , 'page_number': page_number},
            url: "<?php echo $this->url(array(), 'paymentList'); ?>",
            success: function (result) {
			 is_last_request = result.is_last_request;	
			  if(is_first_time == 1){
			   $('#payment_data').html(result.data);
			  }else{
			   $("#result").append(result.data);
			  }
			  
			  $('#loading_img').remove();
			  loading = false;
			  console.log(is_last_request);
			}
		});
   
   }
   
    $(document).ready(function () {
		getData(filters,page_number, 1);
		$(window).scroll(function () { //detect page scroll
            if ($(window).scrollTop() + $(window).height() == $(document).height())  //user scrolled to bottom of the page?
            {  
                   if(loading == false && is_last_request == 0){
					  loading = true;
                      page_number++;					  
					  getData(filters,page_number);
                    }
            }
        });
    });
</script>
<script type="text/javascript">
	 function approvePayment(object,approveUrl,unapproveUrl){
	   console.log(filters);
	   console.log(filters.is_approved);
	   if(confirm('Are you sure you want to Approve this Payment?')){
        $(object).append('.payment_links').html('<img src="/pic/loading-4.gif">');
	    $.ajax({
        type: "POST",
		data:{'ajax' : 'ajax'},
        url: approveUrl,
		dataType :"json",
        success: function(data) {
		   var unapproveUrl1 = "'"+unapproveUrl+"'";
		   var approveUrl1 = "'"+approveUrl+"'";
           if(data.type == 'success'){
		    if(filters.is_approved == 'no'){
			 $(object).parents('tr').remove();
			}else{
			  $(object).parents('.payment_links').html('<a href="javascript:;" onclick="unApprovePayment(this,'+unapproveUrl1+','+approveUrl1+')" class="details_info_opt" >Unapprove</a>');
			} 		
		   }      	 	  
		   if(data.type == 'success'){
		    style =" alert-success";
		   }else if(data.type == 'error'){
		    style =" alert-danger";
		   }
		   $('.alert_box').html('<div class="alert '+style+' alert-dismissible fade in col-md-12" role="alert" style="margin-top: 5px;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button><span class="typeprice">'+data.msg+'</span></div>');
        }
      });	    
	   }
	 }

	 function unApprovePayment(object,unapproveUrl,approveUrl){
	   if(confirm('Are you sure you want to Unapprove this Payment?')){
	    $(object).append('.payment_links').html('<img src="/pic/loading-4.gif">');
	    $.ajax({
        type: "POST",
        url: unapproveUrl,
		data:{'ajax' : 'ajax'},
		dataType :"json",
        success: function(data) {
		   var unapproveUrl1 = "'"+unapproveUrl+"'"
		   var approveUrl1 = "'"+approveUrl+"'"
           if(data.type == 'success'){
		    if(filters.is_approved == 'yes'){
			  $(object).parents('tr').remove();
			}else{
			  $(object).parents('.payment_links').html('<a href="javascript:;" onclick="approvePayment(this,'+approveUrl1+','+unapproveUrl1+')" class="details_info_opt" >Approve</a>');	
			}
		    //
		    
		   }
		   if(data.type == 'success'){
		    style =" alert-success";
		   }else if(data.type == 'error'){
		    style =" alert-danger";
		   }
          $('.alert_box').html('<div class="alert '+style+' alert-success alert-dismissible fade in col-md-12" role="alert" style="margin-top: 5px;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button><span class="typeprice">'+data.msg+'</span></div>');		   
        }
      });	    
	   }
	 }
	
</script>
