<form id="mark-form" method="<?php echo $this->escape($this->form->getMethod());?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction());?>','#mark-form','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>	
	<div class="form-group">
                    <label class="col-md-3">Comment:</label>
                    <div class="col-md-9"><?php echo $this->form->getElement('comment')->render(); ?></div>
                    
                </div>
				
        <div id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
</form>
