<?php
$model_invoice = new Model_BookingInvoice();
$model_booking = new Model_Booking();
$model_customer = new Model_Customer();
$model_customerCommericalInfo = new Model_CustomerCommercialInfo();
$modelContractorServiceBooking = new Model_ContractorServiceBooking();
?>
<form method="POST" id="form" onsubmit="changePaymentInvoice('<?php echo $this->url(array('payment_id' => $this->payment_id), 'paymentInvoiceMatch'); ?>'); return false;">
    <table class="table table-bordered responsive-table"  id="matchedInvoiceInfoTable">

        <thead>
            <tr>
                <th>Date</th>
                <th>Reference</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?
				   $dateTimeObj= get_settings_date_format();
			       if(!empty($dateTimeObj)) 
                   echo getNewDateFormat($this->payment['received_date']);
				else 
					date('M d, Y', $this->payment['received_date']); 
				?></td>
                <td><?= $this->payment['reference'] ?></td>
                <td>$ <?= number_format($this->payment['amount'], 2) ?></td>
            </tr>
        </tbody>
    </table>
    <div id="button_cont">
        <input type="submit" name="choose" class="btn btn-primary" value="Assign"/>
    </div>
    <table class="table responsive-table" id="matchedInvoicesTable">
        <thead>
            <tr>
                <th></th>
                <th>Invoice NO.</th>
                <th>Booking NO.</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Score</th>
                <th>Contractor</th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($this->payment_invoices as $key => $payment) {
                $invoice = $model_invoice->getByBookingId($payment['booking_id']);
                $booking = $model_booking->getById($payment['booking_id']);
                $customer = $model_customer->getById($booking['customer_id']);
                $customerCommericalInfo = $model_customerCommericalInfo->getByCustomerId($booking['customer_id']);
                $totalAmountDetails = $model_booking->getTotalAmountBookingDetails($booking['booking_id']);
                $contractors = $modelContractorServiceBooking->getContractorsDataByBookingId($booking['booking_id']);
                ?>
                <tr>
                    <td><input type="radio" name="paymentInvoice" value="<?= $payment['payment_invoice_match_id'] ?>"/></td>
                    <td><a href="<?= $this->url(array('id' => $invoice['id']), 'invoiceView') ?>" target="_blank"><?= $invoice['invoice_num'] ?></a></td>
                    <td> <a href="<?= $this->url(array('id' => $payment['booking_id']), 'bookingView') ?>" target="_blank"><?= $booking['booking_num'] ?></a></td>
                    <td><a href="<?php echo $this->url(array('id' => $customer['customer_id']), 'customerView'); ?>" target="_blank"><?= $customer['first_name'] . ' ' . $customer['last_name'] . ($customerCommericalInfo ? ' - ' . $customerCommericalInfo['business_name'] . ',' : ',' )?></a></td>
                    <td> $ <?= number_format($totalAmountDetails['balance_due'], 2)?></td>
                    <td> <?
				   $dateTimeObj= get_settings_date_format();
			       if(!empty($dateTimeObj)) 
                    echo getNewDateFormat($invoice['created']);
					else echo date('M d Y', $invoice['created']); 
					?></td>
                    <td><div class="details_info_l">
                            <?php
                            $scores = explode(',', $payment['score']);
                            array_shift($scores);
                            echo '<ul>';
                            foreach ($scores as $key => $score) {
                                echo '<li>' . $score . '</li>';
                            }
                            echo '</ul>';
                            ?>
                        </div></td>
                    <td><?php
                        if (count($contractors) <= 1) {
                            echo '<a href="' . $this->escape($this->url(array('contractor_id' => $contractors[0]['contractor_id']), 'settingsContractorInfoList')) . '" target="_blank">' . $contractors[0]['username'] . '</a>';
                        } else {
                            echo '<select name="contractor" class="form-control">';
                            foreach ($contractors as $key => $contractor) {
                                echo '<option value="' . $contractor['contractor_id'] . '">' . $contractor['username'] . '</option>';
                            }
                            echo '</select>';
                        }
                        ?></td>
                </tr>
            <?php } ?>
        </tbody>

    </table>
</form>

<script type="text/javascript">
    function changePaymentInvoice(url) {
        var radioChecked = $("input[name=paymentInvoice]:checked").val();
        var contractor_id = $("input[name=paymentInvoice]:checked").parents('tr').find('select').val();
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: {paymentInvoiceMatchId: radioChecked, contractor: contractor_id},
            dataType: "json",
            success: function (data) {

                if (data == 1) {
                    window.location.href = document.URL;

                }
            }
        });
    }
</script>