<?php
$modelUser = new Model_User();
$modelAuthRole = new Model_AuthRole();
$modelContractorInfo = new Model_ContractorInfo();
$modelContractorOwner = new Model_ContractorOwner();
$modelUserInfo = new Model_UserInfo();
$modelCompanies = new Model_Companies();

$companyId = CheckAuth::getCompanySession();
$company = $modelCompanies->getById($companyId);
?>
<div align="center">
    <?php if (!empty($company['company_invoice_logo'])) : ?>
        <?php if (file_exists(str_replace('\\', '/', get_config('company_logo') . '/' . $company['company_invoice_logo']))): ?>
            <img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/uploads/company_logo/' . $company['company_invoice_logo'])); ?>" border="0"/>
        <?php else : ?>
            <img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/tile_logo.png')); ?>" border="0"/>
        <?php endif; ?>
    <?php else : ?>
        <img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/tile_logo.png')); ?>" border="0"/>
    <?php endif; ?>
</div>
<div style="text-align: center; font-weight: bold;">
    <?php echo (!empty($company['company_website']) ? $this->escape($company['company_website']) : 'Company Website') ?>
    |
    <?php echo (!empty($company['company_name']) ? $this->escape($company['company_name']) : 'Company Name') ?>
    | 
    ABN:<?php echo (!empty($company['company_abn']) ? $this->escape($company['company_abn']) : 'Company ABN') ?>
</div>
<div style="text-align: center; margin-top: 5px;">
    Phone: <?php echo (!empty($company['company_phone1']) ? $this->escape($company['company_phone1']) : 'Company Phone') ?> (Sales & Equiries) 
    | 
    Email: <?php echo (!empty($company['company_invoices_email']) ? $this->escape($company['company_invoices_email']) : 'Company Invoices Email') ?>
</div>

<div style="margin-top: 20px;">
    <b>Tax Invoice No.: <?php echo $this->escape($this->invoice['invoice_num']) ?></b>
</div>

<?php
//get booking address
$modelBookingAddress = new Model_BookingAddress();
$bookingAddress = $modelBookingAddress->getByBookingId($this->invoice['booking_id']);
$lineBookingAddress = get_line_address($bookingAddress);
$lineCustomerAddress = get_line_address($this->customer);
$businessName = $this->customer['customer_commercial_info']['business_name'];
?>
<table border="1" cellspacing="0" cellpadding="2" style="margin-top: 5px; width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;">
    <?php if (!empty($this->customer['customer_commercial_info']['business_name'])): ?>
        <tr>
            <td colspan="3" style="width: 70%;">Business Name : <?php echo $this->escape(ucfirst($businessName)); ?></td>
            <td  rowspan="2"  style="width: 30%;">Date of Issue : <?php
		   $dateTimeObj= get_settings_date_format();
		   if(!empty($dateTimeObj)) 
            echo getNewDateFormat($this->invoice['created']);
            else
			echo $this->escape(getDateFormating($this->invoice['created']));
		
			//echo $this->escape(getDateFormating($this->invoice['created'], false))
			?></td>
        </tr>
    <?php endif; ?>
    <tr>
        <td colspan="3" style="width: 70%;">Customer : <?php echo $this->escape(get_customer_name($this->customer)); ?></td>
        <?php if (empty($businessName)): ?>
            <td style="width: 30%;">Date of Issue : <?php 
		   $dateTimeObj= get_settings_date_format();
		   if(!empty($dateTimeObj)) 
            echo getNewDateFormat($this->invoice['created']);
           else
			echo $this->escape(getDateFormating($this->invoice['created'], false));
        ?></td><?php endif; ?>
    </tr>
    <?php if ((!empty($businessName) && $lineBookingAddress == $lineCustomerAddress) || empty($businessName)) : ?>
        <tr>
            <td colspan="3" style="vertical-align: top;">
                <span>Address :</span>
                <?php echo $this->escape($lineBookingAddress); ?>
            </td>
            <td style="width: 30%;">Job #: <?php echo $this->escape($this->booking['booking_num']) ?></td>
        </tr>
    <?php else: ?> 
        <tr>
            <td colspan="3" style="vertical-align: top;">
                <span> Business  Address :</span>
                <?php echo $this->escape($lineCustomerAddress); ?>
            </td>
            <td  rowspan="2" style="width: 30%;">Job #: <?php echo $this->escape($this->booking['booking_num']) ?></td>
        </tr>
        <tr>
            <td colspan="3" style="vertical-align: top;">
                <span> Booking Address :</span>
                <?php echo $this->escape($lineBookingAddress); ?>
            </td>

        </tr>
    <?php endif; ?>
    <tr>
        <td colspan="4">
            <?php
            $phones = array();
            if (!empty($this->customer['phone1'])) {
                $phones[] = $this->customer['phone1'];
            }
            if (!empty($this->customer['phone2'])) {
                $phones[] = $this->customer['phone2'];
            }
            if (!empty($this->customer['phone3'])) {
                $phones[] = $this->customer['phone3'];
            }
            ?>
            Phone : <?php echo $this->escape(implode(" - ", $phones)); ?>
        </td>
        
    </tr>
    <tr>
        <td colspan="4">
            <?php
            $mobiles = array();
            if (!empty($this->customer['mobile1'])) {
                $mobiles[] = $this->customer['mobile1'];
            }
            if (!empty($this->customer['mobile2'])) {
                $mobiles[] = $this->customer['mobile2'];
            }
            if (!empty($this->customer['mobile3'])) {
                $mobiles[] = $this->customer['mobile3'];
            }
            ?>
            Mobile : <?php echo $this->escape(implode(" - ", $mobiles)); ?>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <?php
            $emails = array();
            if (!empty($this->customer['email1'])) {
                $emails[] = $this->customer['email1'];
            }
            if (!empty($this->customer['email2'])) {
                $emails[] = $this->customer['email2'];
            }
            if (!empty($this->customer['email3'])) {
                $emails[] = $this->customer['email3'];
            }
            ?>
            Email : <?php echo $this->escape(implode(" - ", $emails)); ?>
        </td>
    </tr>
    <?php if (isset($this->customerContacts) && !empty($this->customerContacts)): ?>
        <?php foreach ($this->customerContacts as $customerContact): ?>
            <tr>
                <td colspan="3"><?php echo $this->escape($customerContact['contact_label']) ?>: <?php echo $this->escape($customerContact['contact']) ?></td>
            </tr>    
        <?php endforeach; ?>
    <?php endif; ?>

</table>

<table border="1" cellspacing="0" cellpadding="4" align="center" style="margin-top: 20px; width: 100% ; text-align: center; border-collapse: collapse ">

    <tr style="background-color: black; color: white;">  
        <td style="width: 10%;"><b>Balance</b></td>
        <td style="width: 10%;"><b>Debits</b></td>
        <td style="width: 10%;"><b>Credits</b></td>
        <td style="width: 50%;"><b>Notes</b></td>
        <td style="width: 20%;"><b>Date</b></td>
    </tr>

    <?php
    $subTotal = !empty($this->booking['sub_total']) ? $this->booking['sub_total'] : 0;
    $totalDiscount = !empty($this->booking['total_discount']) ? $this->booking['total_discount'] : 0;
    $callOutFee = !empty($this->booking['call_out_fee']) ? $this->booking['call_out_fee'] : 0;
    $gst = !empty($this->booking['gst']) ? $this->booking['gst'] : 0;

    $paidAmount = !empty($this->booking['paid_amount']) ? $this->booking['paid_amount'] : 0;
    $refund = !empty($this->booking['refund']) ? $this->booking['refund'] : 0;
    $qoute = !empty($this->booking['qoute']) ? $this->booking['qoute'] : 0;

    $total = $subTotal + $callOutFee + $gst - $totalDiscount;
    $balanceDue = $qoute - $paidAmount;

    $rowspan = 5;
    $rowspan = $totalDiscount ? $rowspan + 1 : $rowspan;
    $rowspan = $callOutFee ? $rowspan + 1 : $rowspan;
    $rowspan = $refund ? $rowspan + 2 : $rowspan;
    ?>

    <tr>  
        <td><?php echo $this->escape(number_format($total, 2)); ?></td>
        <td>0.00</td>
        <td><?php echo $this->escape(number_format($total, 2)); ?></td>
        <td>Invoice No. <b><?php echo $this->escape($this->invoice['invoice_num']) ?></b></td>
        <td><?php
        $dateTimeObj= get_settings_date_format();
		if(!empty($dateTimeObj)) 		
		echo getNewDateFormat($this->invoice['created']);
	    else
		echo $this->escape(getDateFormating($this->invoice['created'], false));
		?></td>
    </tr>

    <?php foreach ($this->paymentsAndRefunds as $value) : ?>
        <tr>  
            <?php if ($value['type'] == 'payment'): ?>
                <?php $total = $total - $value['data']['amount']; ?>
                <td><?php echo $this->escape(number_format($total, 2)); ?></td>
            <?php elseif ($value['type'] == 'refund'): ?>
                <?php $total = $total + $value['data']['amount']; ?>
                <td><?php echo $this->escape(number_format($total, 2)); ?></td>
            <?php endif; ?>

            <?php if ($value['type'] == 'payment'): ?>
                <td><?php echo $this->escape(number_format($value['data']['amount'], 2)); ?></td>
            <?php else : ?>
                <td>0.00</td>
            <?php endif; ?>

            <?php if ($value['type'] == 'refund'): ?>
                <td><?php echo $this->escape(number_format($value['data']['amount'], 2)); ?></td>
            <?php else : ?>
                <td>0.00</td>
            <?php endif; ?>

            <?php if ($value['data']['discount']): ?> 
                <td><?php echo 'Discount on Invoice ,Refund Reference No. <b>' . $this->escape($value['data']['reference']) . '</b>'; ?></td>
            <?php else : ?>
                <td><?php echo $this->escape(ucfirst($value['type'])) . ' Reference No. <b>' . $this->escape($value['data']['reference']) . '</b>'; ?></td>
            <?php endif; ?>

            <td><?php
            $dateTimeObj= get_settings_date_format();
		    if(!empty($dateTimeObj)) 
			echo getNewDateFormat($value['data']['received_date']);
            else
			echo $this->escape(getDateFormating($value['data']['received_date'], false));
	?></td>
			</td>
        
		
		</tr>
    <?php endforeach; ?>

    <tr>  
        <td style="background: yellow;"><?php echo $this->escape(number_format($total, 2)); ?></td>
        <td>0.00</td>
        <td>0.00</td>
        <td></td>
        <td></td>
    </tr>
</table>

<div style="margin-top: 20px; text-align: center;">
    <?php echo $this->escape($company['company_website']) ?>
</div>
<div style="text-align: center;">
    Phone:<?php echo (!empty($company['company_phone1']) ? $this->escape($company['company_phone1']) : 'Company Phone') ?> (Sales & Equiries)
    | 
    Email: <?php echo (!empty($company['company_invoices_email']) ? $this->escape($company['company_invoices_email']) : 'Company Invoices Email') ?>
</div>