<div class="container-fluid">
    <form id="form" class="form-horizontal" method="POST" action="<?php echo $this->escape($this->url(array(), 'changePlanTrialSubscription')); ?>">

        <input type="hidden" id="newPlanId" name="newPlanId" value="<?php echo $this->escape($this->planId); ?>" /> 
        <div id="messege"></div>
        <div class="form-group">
            <label class="col-sm-3">
                Select Plan :  </label>
            <div class="col-sm-6">
                <?php echo $this->form->getElement('plan_id')->render(); ?>
            </div>
            <div id="loader" style="display: none;"><img src="/pic/loading-4.gif"></div>
            <div class="col-sm-3" id="buttonSave" style="display: block;">                   
                <button type="submit" id="btnYes" style="margin-top: 2px; width: 70px; margin-left: 40px;" class="btn btn-primary" >Save</button>
            </div>
        </div>

    </form>
</div>


<script>
//change plan calculate..............
    function calculateTotalAmountOnChangePlan(value) {
        $('#messege').empty();
        $('#loader').css('display','block');
        $('#buttonSave').css('display','none');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'checkMaxUserForSelectedPlan')); ?>",
            data: {newPlanIdSelected: value},
            success: function (data) {
                $('#loader').css('display','none');
                $('#buttonSave').css('display','block');
                var result = parseInt(data);
                if(result === 1){
                   $('#messege').html('<div class="alert alert-danger" role="alert">the actual number of user is greater than the maximum users of selected plan</div></br>');
                }else if(result === 2){
                    document.getElementById('newPlanId').value = value; 
                } 
            }
        });
    }

</script>