
<style>

    @media all  and (max-width: 801px) {

        .h1big{ font-size: 16px!important; }
        .h1big1{  font-size: 14px !important; }
        .h2big2{  font-size:12px !important; }
        .contant1{width: 90% !important;}
        .breadcrumb > li { font-size:10px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:11px !important;}

    }
    @media all and (max-width: 450px) {

        .h1big{ font-size: 14px !important; }
        .h1big1{ font-size: 12px !important; }
        .h2big2{ font-size:10px !important; }
        .contant1{width: 100% !important;}
        .breadcrumb > li { font-size:9px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:9px !important;}

    }
    @media all and (max-width: 320px) {

        .h1big{ font-size: 12px !important; }
        .h1big1{ font-size: 10px !important; }
        .h2big2{ font-size:9px !important;  }
        .contant1{width: 100% !important;}
        .breadcrumb > li { font-size:8px !important;}
        .breadcrumb > li >strong{ font-size:8px !important;}
        p{font-size:8px !important;}

    }

    .h1big{display: inline-block; font-size: 67px; font-weight: 100; }
    .h1big1{color: #000000; margin-top: 0px; margin-bottom: 20px; font-size: 27px; font-weight: 100; }
    .h2big2{color: #000000; margin-top: 0px; margin-bottom: 0px; font-size:20px; font-weight: 100; }
    .contant1{width: 75%; margin:auto; margin-top: 10px;}
    .row1{background: #767371; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}
    .row2{background: #1ab394; color: white; font-size: 20px; text-align: center; padding: 4px 7px 4px 7px;}




</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <div class="h2big2">Change plan on your account</div>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                Payment
            </li>
            <li >
                <strong>SUB_<?php echo $this->escape($this->accountId) + 1000; ?></strong>
            </li>
        </ol>
    </div>
</div>


<div class="row row wrapper white-bg contant1" >
    <table class="table-responsive">
        <tbody>
        <div class="pull-right" style="margin-top: 90px;"><span class="label label-primary"><?php echo $this->escape($this->statusAccount); ?></span></div>
        <tr>
        <div class="h1big1">SUB_<?php echo $this->accountId + 1000; ?></div>
        <p>Select plan that you need</p>
        <?php if ((strtotime($this->escape($this->trialEndDate)) >= time()) && $this->escape($this->CustomerTokenID) == null) { ?>
            <div class="h2big2">Expire Trial subscription date: <?php echo $this->escape(getDateFormating($this->trialEndDate)) ?></div>
        <?php } else { ?>
            <div class="h2big2">Expire subscription date: <?php echo $this->escape(getDateFormating($this->to)) ?></div>
        <?php } ?>
        </tr>
        </tbody>
    </table>
    <hr>


    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6">


                    <div><p id="prdqty" class="h1big" ><?php echo $this->escape($this->nbrOfRegisteredUsers); ?></p> Currently used</div>

                </div>

            </div>
            <div class="row">
                <div style="display: block !important;">
                    <label class="col-xs-4">Select Plan : </label> 
                    <div class="col-xs-8">
                        <?php echo $this->form->getElement('plan_id')->render(); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="margin-top: 8px;">
            <table class="table-bordered-responsive" style="width: 80% !important;">
                <tbody>
                    <tr style="border-bottom: 4px solid white;">
                        <td id="max_user"  class="h1big1 row1" name="max_users" >Max Users : <?php echo $this->escape($this->planMaxUser); ?></td>
                    </tr>
                    <tr style="border-bottom: 4px solid white;">
                        <td  id="plan_name" class="h1big1 row2">Selected Plan : <?php echo $this->escape($this->planName); ?></td>
                    </tr>
                    <tr style="border-bottom: 4px solid white;">
                        <td id="charge_amount"  class="h1big1 row1">Per user :$ <?php echo $this->escape(number_format($this->planChargeAmount, 2)); ?></td>
                    </tr>
                    <tr>
                        <td id="totalAmount1" class="h1big1 row2">Total Amount :$ <?php echo $this->escape(number_format($this->totalAmount, 2)); ?></td>                       
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <hr>

    <div id="payBtn">





        <div id="btnFormSubmit" style="display: inline;"></div>



    </div>

    <?php
    //echo $this->newPlanId1;
    $accountObj = new Model_Account();
    $account = $accountObj->getById($this->accountId);
    $users = $accountObj->getUsersByCompanyId($account['company_id']);
    ?>
</div>
<script type="text/javascript">

//change plan calculate..............
    function calculateTotalAmountOnChangePlan(value) {
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'changePlanSubscription')); ?>",
            data: {newPlanId: value},
            success: function (data) {

                var tmp = data.split(",");
                var result = parseFloat(tmp[5]).toFixed(2);

                $('#max_user').html('Max Users :' + tmp[1]);
                $('#plan_name').html('Selected Plan :' + tmp[2]);
                $('#charge_amount').html('Per user :' + '$' + tmp[3]);
                if (result > 0) {
                    $('#totalAmount1').html('Total Amount :' + '$' + result);
                }else{
                    $('#totalAmount1').html('Total Amount :' + '$ 0.00' );
                }

                if (value === '<?php echo $account['plan_id']; ?>') {
                    $('#btnFormSubmit').empty();
                    $("#btnDiscard").css("display", "none");
                } else
                if (tmp[1] < <?php echo count($users); ?> ) {
                    $('#btnFormSubmit').empty();
                    $("#btnDiscard").css("display", "none");
                    $('#popupi').modal();
                    popupi('information', '<?php echo $this->escape($this->url(array('newPlanId' => 3, 'isApprove' => 'approved', 'isGreaterThan' => 'yes'), 'approvePaymentSubscription')); ?>');
                } else {

                    $('#btnFormSubmit').empty();
                    $("#btnDiscard").css("display", "none");                     
                    $('#btnFormSubmit').append('<a data-toggle="modal" data-target="#popupi" class="btn btn-primary btn-outline" style="width: 15% !important; display:inline; " href="#" onclick="popupi(\'Approve Payment\',\n\
                        \'<?php echo $this->escape($this->url(array('newPlanId' => 3, 'isApprove' => 'approved', 'isGreaterThan' => 'no'), 'approvePaymentSubscription')); ?>\');"><i class="fa fa-info-circle" ></i> Approve</a>');
                    $("#btnFormSubmit").after("<a id='btnDiscard' class='btn btn-primary btn-outline' style='width: 15% !important;' href='#'><i class='fa fa-info-circle' ></i> Discard</a>");

                }
            }
        });



    }












</script>





