
	
	<?php
	  if($this->data == 'true'){
		  ?>
		   
		   
		    <section>
		    <div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8  col-xs-offset-1 col-xs-10">
             <div class="contBig mm ">
			      <div class="outbiglogo" >
				    <div class="inbiglogo">
					</div>
				  </div>
				  <div class="headnewaccount">
				    Check Your Email
				  </div>
				  
				  <div class="bodycheck" style="padding-top:30px ">
				    We've sent a verification email to your inbox 
				  </div>
				  
				  <div class="yelloemail">
				    <?php echo $this->email ;?>
				  </div>
				  
			 <div class="bodycheck">	  
				  please follow the instructions in the email 
to activate your account
				 </div>  
				 
				 
				 <div class="btncont col-sm-offset-1 col-sm-4" style="padding-top:30px; padding-botton:30px; "> 
				      <input type="button" class="btn" value="GO BACK" onclick="goback()">
				 </div>

				<form id="formmm" class="form-horizontal" method="POST" 
	                 action=" " > 

				   <input type="hidden" name="isResendForm" id="isResendForm" value="goResendform">
				   <input type="hidden" name="emailAccount" id="emailAccount" value="<?php echo $this->email ;?>">

				   <div class="btncont  col-sm-offset-2 col-sm-4" style="padding-top:30px;"> 
				      <input type="submit" class="btn" value="RESEND" id="resend" >
				   </div>
				  
				 </form> 
				</div>  
			 </div>
    
         </section>
		 
		 <script>
		
		   function goback(){
			  
			   window.location="http://www.octopuspro.com/";
			   
		   }

		   function resendSignUp(){
			  
			    $('#resend').html('<img src="/pic/loading-4.gif">');

		   }
		 </script>
		 
		 
		 <style>

		  .contBig{
		      background: #fff ;
			/*vertical-align: middle;*/
		      border-radius:18px;
		      min-height: 410px;
		      margin:23% auto 20px ;
		      
			}	
				 
		 .bodycheck {
			text-align: center;
			font-size: 18px;
			color: #9ea2a6;
			font-family: 'Open Sans', sans-serif;
          }
		  
		  .yelloemail {
			text-align: center;
			font-size: 21px;
			color: #0091d7;
			font-family: 'Open Sans', sans-serif;
          }
         
		 
		    
		 </style>
		 
	
	
		  
		  <?php
	  }
	  else{
		  
	  
	?>
	
 <section>
             <div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8  col-xs-offset-1 col-xs-10">
               <div class="contBig">
			      <div class="outbiglogo" >
				    <div class="inbiglogo">
					</div>
				  </div>
				  <div class="headnewaccount">
				    Create Your Account
				  </div> 
						
<div class="alert_box" >
<?php if ($this->messages && count($this->messages)) : ?>

    <?php foreach ($this->messages as $key => $message) : ?>
        <?php if (isset($message['type']) && 'success' == $this->escape($message['type'])): ?>

        <?php else: ?>
        
        	    <div class="alert alert-danger alert-dismissible fade in col-md-12" role="alert" style="margin-top: 5px;">
					<span class="typeprice">   <?php echo nl2br($message['message']); ?> </span>
				</div>
         
     
        
      
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>
</div>

 <form id="form" class="form-horizontal" method="POST" 
	    action=" <?php echo $this->escape($this->form->getAction()); ?>"  > 
                            
				 <div class="cont-input">
				    
					 <?php echo $this->form->getElement('company_name')->render(); ?>
				  </div>
				  
				   <div class="cont-input">
				    
					 <?php echo $this->form->getElement('username_email')->render(); ?>
				  </div>
				  
				   <div class="cont-input">
				    <?php echo $this->form->getElement('password')->render(); ?>
				  </div>
				  
				   <div class="cont-input">
				    <?php echo $this->form->getElement('password_confirm')->render(); ?>
				   </div>

                  <div class="cont-input">
                  <div class= "" >
				    	<select id="countriesN" class="inputstyle "> 
						  
						</select> 
				    </div>
				   </div> 

				    <div class="approveterms" style="">
				    	<input type="checkbox" name="agree" id="agree" > i have read and agree to <a href="#" target="_blank">terms of use </a> and 
				    	<a href="#" target="_blank">privacy policy</a>
				    </div>
				   
				   
				   <div class="btncont  col-sm-offset-4 col-sm-4"> 
				      <input type="submit" class="btn" value="SUBMIT" id="subNewAccount" disabled="disabled">
				   </div>
				   <?php echo $this->form->getElement('mode')->render(); ?>
				    <?php echo $this->form->getElement('idAccount')->render(); ?>

				   
				</form>			
              </div>
                   

                    <div class="sec-center">
                	  <div class="cen-text">
				    	Subscription auto-renew until cancelled . Cancel any time by going <br/>
				    	to Your Subscription page and choose cancel subscription <br/>
				    	contact to <span style="color:#24AADF">support@octopuspro.com</span> if you need any help .  if you cancel , charges continue through current billing period
				    </div>

				    <div class="cen-text" style="padding-bottom:20px;">
				    	Register interest as a <a href="http://<?php echo $_SERVER['SERVER_NAME']?>/login">contractor or sub contractor </a> 
				    </div>
                </div>


            </div>
               
         </section>
		 <script>

		  $(document).ready(function() {
 /*
		  
*/            var  url = "<?php echo $this->escape($this->url(array(), 'coutriesjson')); ?>";
             


             /*


             $.getJSON( url, function( data ) {
			  var items = [];
			  console.log('the val is ');
			  $.each( data, function( key, val ) {
			    //items.push( "<li id='" + key + "'>" + val + "</li>" );
			    console.log('the val is '+ val);
			  });
			 
			  
			});*/


               $.ajax({
                    url: url,
                    //force to handle it as text
                    dataType: "text",
                    success: function(data) {


                        data = JSON.parse(data);
                        $.each( data.countries, function( key, val ) {
					    
					         $('#countriesN').append('<option value="' + val.code + '">' + val.name + '</option>');
					    });
                        // get code from url  . 
                        var str =  window.location.href ;
                         var res = str.split("/") ;
                         if(res[4].length != '' ){
                         	var code = res[4] ;
                         }
                         else {
                         	var code ='AU' ; 
                         }
                        code = code.toUpperCase();
					     $("#countriesN").val(code);
                    }
                });


               function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
            
             


         $('#agree').change(function(){
         	var checker = document.getElementById('subNewAccount');
              if(this.checked)
                  //$('#txt_close').fadeIn('slow'); 
              //	console.log('is checked');
                checker.disabled = false;
              else
              	 checker.disabled = true;
                  //console.log('is not checked');

          });
                /*
		         var checker = document.getElementById('subNewAccount');
				 var sendbtn = document.getElementById('agree');
				 // when unchecked or checked, run the function
				 var checksubmit = function(){
				 	console.log("mmm");
				if(this.checked){
				    sendbtn.disabled = false;
				} else {
				    sendbtn.disabled = true;
				}
				}*/

           });

		 </script>

		 <style>
		    .contBig{
			    background: #fff ;
			    border-radius:18px;
			    min-height: 550px;
			    margin:21% auto 20px auto  ;
			    padding-bottom: 15px;

			}	
             .approveterms {
             	clear: both; 
             	padding-top: 10px;
             	margin: 0 auto;
                text-align:center;
             	font-family: 'Open Sans', sans-serif;
             	font-size: 15px;
             }
             
			@media screen and (max-width: 480px) {
	            .contBig{
				    
				    margin:120px 20px ;
			   }
           }
		 </style>
						

	  <?php } ?>
	  
	  
	   <style>
	   .sec-center{
		text-align: center;
		color : #fff;
		font-family: 'Open Sans', sans-serif;
	}

	   .cen-text{
	   	    margin: 38px;
            text-align: center;
            line-height: 23px;
            font-size: 15px;
            font-family: 'Open Sans', sans-serif;
	   }
	
	
	body{
		font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
		background: #fff url(<?php echo $this->escape($this->baseUrl('bd.jpg')); ?>) no-repeat center center fixed; 
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
		font-weight: 400;
		font-size: 15px;
		color: #1d3c41;
    }    
	
	ul{
		list-style-type:none;
		margin-left:2px;
		padding-left:0;
	}
	.errors li{
		color:#f00;
	}
	
	 .alert_box{
		 margin-right:10px;
		 margin-left:10px;
	 }
	 .btncont input[type=button], input[type=reset], input[type=submit]{
	   background: url(<?php echo $this->escape($this->baseUrl('btn.jpg')); ?>) repeat-x;
	   color:#fff;
	   width:100%;
	   margin:15px 0px;
	   font-family: 'Montserrat', sans-serif;

	 }
	 
	 .btncont input:hover{
	   background: #33c2ff;
	   color:#fff;

	 }
	 
   .cont-input{
	 margin:12px auto;
	 max-width: 81%;
   }

   @media screen and (max-width: 480px) {
	          .cont-input{
	            margin:12px auto;
	            max-width: 95%;
               }
     }

      @media screen and (max-width: 700px) {
	          .cont-input{
	            margin:12px auto;
	            max-width: 88%;
               }
     }

     @media screen and (min-width:1300px) {
	          .cont-input{
	            margin:12px auto;
	            max-width: 81%;
               }
     }


	 .inputstyle{
	    text-align:center ;
		background:#f1f1f1;
		width:100%;
		border:none;
		padding:5px;
		font-size:17px;
		font-family: 'Open Sans', sans-serif;
	 }
	 
  
	
	.outbiglogo{
	  position:relative;
	}
	
	.inbiglogo{
	   background :url(<?php echo $this->escape($this->baseUrl('octbiglogo.png')); ?>) no-repeat;
	   height:172px; 
	   width:230px;
	   position: absolute;
       top:53px;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
	}
	
	.headnewaccount{
	   padding-top:145px ; 
	   text-align:center;
	   font-size:21px;
	   color:#0091d7;
	   font-family: 'Open Sans', sans-serif;
	}
	</style>                    
		 
		 
		 
  
          