<div class="clearfix"></div>
<div id="wrapper">

<div class="wrapper ">
<div class="row">

<div class="navbar navbar-static-top white-bg-lg-12 animated fadeInRight">
<div class="mail-box-header">

    <form method="get" action="index.html" class="pull-right mail-search">

   
    </form>
    <h2>
        Gmail Emails
    </h2>
</div>
<div class="mail-box">

<?php if(count($this->emails) > 0) { ?>

    <table class="table table-hover table-mail">
				<tbody>
					<?php foreach($this->emails as $msgList) {
					$messageId = $msgList->getId(); // Grab first Message

					$optParamsGet = array();
					$optParamsGet['format'] = 'full'; // Display message in payload
					$message = $this->service->users_messages->get('me',$messageId,$optParamsGet);
					$messagePayload = $message->getPayload();
					$headers = $message->getPayload()->getHeaders();

					foreach( $headers as $header ) {
						if('Date' == $header->name){
							$headerArry['date'] = $header->value;
						} elseif('From' == $header->name){
							$headerArry['from'] = $header->value;
						} elseif('To' == $header->name){
							$headerArry['to'] = $header->value;
						} elseif('Subject' == $header->name){
							$headerArry['sub'] = $header->value;
						}
						elseif('Delivered-To' == $header->name){
							$headerArry['deliver'] = $header->value;
						}
					}

					$dateTime=$headerArry['date'];
					$date=explode(' ',$dateTime);
					?>
					
					<tr class="read">
						<td class="check-mail">
								<input type="checkbox" class="i-checks">
						</td>
						<td class="mail-ontact"><a href="<?php echo $this->escape($this->url(array('id' => $messageId), 'gmailEmailsViewMessage'));?>"><?php echo  $headerArry['from'];?></a></td>
						<td class="mail-subject"><a href="<?php echo $this->escape($this->url(array('id' => $messageId), 'gmailEmailsViewMessage'));?>"><?php echo  $headerArry['sub'];?></a></td>
						<td class="text-right mail-date" style="min-width:150px;"><?php if($dateTime!=''){ echo $date[0].' '.$date[1].' '.$date[2].' '.$date[3]; } ?></td>
					</tr>
						<?php  }  ?>
				
					
        </tbody>
    </table>
	<?php } else { ?>
			<div>Your inbox is empty.</div>
	<?php } ?>

</div>
</div>
</div>
</div>



</div>



<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
</script>


