<div>          
		  <div class="mail-box-header">

                <h2>
                    View Message
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">

                    <h3>
                        <span class="font-noraml">Subject: </span><?php echo $this->escape($this->emailLog['subject']); ?>
                    </h3>

                    <h5>

                        <?php
                        $date= date('F j, Y g:i a', $this->emailLog['created']);
                        ?>
                        <span class="pull-right font-noraml"><?php echo $this->escape($date); ?></span>


                        <span class="font-noraml">To: </span><?php echo $this->escape($this->emailLog['to']); ?>
                    </h5>
                </div>
            </div>
            <div class="mail-box">
                <div class="mail-body">
                    <?php echo $this->emailLog['body']; ?>
                </div>

            </div>
</div>
<div class="clearfix"></div>



<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
</script>
