<?php
$dateTimeObj= get_settings_date_format();
if($dateTimeObj){
	$JsDateFormat= dateFormat_zend_to_js($dateTimeObj['date_format']);
}else{
	$JsDateFormat= 'dd-mm-yyyy';
}
?>
<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>"
				onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#content_modal_popup');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
		
		
		<div class="form-group">
            <label class="col-md-4">   Display Name <span style="color:#ff0000">*</span>: </label>
            <div class="col-md-8">
                <?php echo $this->form->getElement('display_name')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">
                Username <span style="color:#ff0000">*</span>: </label>
            <div class="col-md-8">
                <?php echo $this->form->getElement('username')->render(); ?>
            </div>
        </div>
         <?php if ($this->form->getElement('password')): ?>
        <div class="form-group">
            <label class="col-md-4">
                    Password <span style="color:#ff0000">*</span>: </label>
                <div class="col-md-8">
                    <?php echo $this->form->getElement('password')->render(); ?>
                </div>
            </div>
        <?php endif; ?>
		<div class="form-group">
            <label class="col-md-4">
                First name <span style="color:#ff0000">*</span>: </label>
            <div class="col-md-8">
                <?php echo $this->form->getElement('first_name')->render(); ?>
            </div>
        </div>
		
		<div class="form-group">
            <label class="col-md-4">
                Last name <span style="color:#ff0000">*</span>: </label>
            <div class="col-md-8">
                <?php echo $this->form->getElement('last_name')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">
                Role <span style="color:#ff0000">*</span>: </label>
            <div class="col-md-8">
                <?php echo $this->form->getElement('role_id')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">
                Company : </label>
            <div class="col-md-8">
                <?php echo $this->form->getElement('company_id')->render(); ?>
            </div>
        </div>  
	
		<div class="form-group">
            <label  class="col-md-4">Business Name :</label>
            <div class="col-md-8"> <?php echo $this->form->getElement('business_name')->render(); ?></div>
        </div>
	
		<div class="form-group">
            <label  class="col-md-4">ABN (Australian Business Number) :</label>
            <div class="col-md-8"> <?php echo $this->form->getElement('abn')->render(); ?></div>
        </div>
		<div class="form-group">
            <label  class="col-md-4">ACN (Australian Company Number) :</label>
            <div class="col-md-8"> <?php echo $this->form->getElement('acn')->render(); ?></div>
        </div>
       <div class="form-group">
            <label  class="col-md-4">TFN (Tax File Number) :</label>
            <div class="col-md-8"> <?php echo $this->form->getElement('tfn')->render(); ?></div>
        </div>
		<div class="form-group">
            <label  class="col-md-4">GST (Goods and Services Tax) :</label>
            <div class="col-md-8"> <?php echo $this->form->getElement('gst')->render(); ?></div>
        </div>
		
		<div class="form-group">
            <label  class="col-md-4">GST Date Registered :</label>
			<div class="input-group date col-md-8">
				<?php echo $this->form->getElement('gst_date_registered')->render(); ?>
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
  
		<div class="form-group">
			<div class="col-md-8 col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
		
		<input type="hidden" value="1" name="contractorInfo" />
   
        
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#gst_date_registered").datepicker({
            //format: 'dd-mm-yyyy',
			format: '<?=$JsDateFormat?>',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
			autoclose:true
            
        });
    });
</script>