<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <h3>Contractor Information :</h3>
    
		<div class="form-group">
            <label  class="col-lg-4">Business Name :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('business_name')->render(); ?></div>
        </div>
	
		<div class="form-group">
            <label  class="col-lg-4">ABN (Australian Business Number) :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('abn')->render(); ?></div>
        </div>
		<div class="form-group">
            <label  class="col-lg-4">ACN (Australian Company Number) :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('acn')->render(); ?></div>
        </div>
       <div class="form-group">
            <label  class="col-lg-4">TFN (Tax File Number) :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('tfn')->render(); ?></div>
        </div>
		<div class="form-group">
            <label  class="col-lg-4">GST (Goods and Services Tax) :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('gst')->render(); ?></div>
        </div>
		
		<div class="form-group">
            <label  class="col-lg-4">GST Date Registered :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('gst_date_registered')->render(); ?></div>
        </div>
       
   

    <h3>Insurance :</h3>

    <div class="form-group">
            <label  class="col-lg-4">Insurance Policy Number :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('insurance_policy_number')->render(); ?></div>
        </div>
		    <div class="form-group">
            <label  class="col-lg-4">Insurance Policy Start :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('insurance_policy_start')->render(); ?></div>
        </div>
		 <div class="form-group">
            <label  class="col-lg-4">Insurance Policy Expiry :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('insurance_policy_expiry')->render(); ?></div>
        </div>
		<div class="form-group">
            <label  class="col-lg-4">Insurance Listed Services Covered :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('insurance_listed_services_covered')->render(); ?></div>
        </div>
    <h3>Drivers Licence :</h3>
		<div class="form-group">
            <label  class="col-lg-4">Drivers Licence Number :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('drivers_licence_number')->render(); ?></div>
        </div>
		<div class="form-group">
            <label  class="col-lg-4">Drivers Licence Expiry :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('drivers_licence_expiry')->render(); ?></div>
        </div>
    
    <h3>Payment Agreement :</h3>

  <div class="form-group">
            <label  class="col-lg-4">Bond to be Withheld :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('bond_to_be_withheld')->render(); ?></div>
        </div>
		 <div class="form-group">
            <label  class="col-lg-4">Commission % :</label>
            <div class="col-lg-8"> <?php echo $this->form->getElement('commission')->render(); ?></div>
        </div>
            <div class="form-group">
			<div class="col-md-8 col-md-offset-4" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
        
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#gst_date_registered").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
            
        });
    });
</script>