<style type="text/css">
  .modal-body{
    padding: 0px;
  }
  .device_num {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #ffffff;
}
</style>
                <!-- /******Contractor Mobile info******IBM*/ -->                          
                <div style="margin-bottom: 0px;" class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle  " data-toggle="collapse" data-parent="#accordion" href="#collapseMobileInfo">
                                <span class="collapse_arrow"></span><b><i class="fa fa-info-circle"></i>   Device Information</b>
                            </a>
                        </h4>
                        
                    </div>
                    <div  class="tabs_button">
                        <b> 
                        <?php if(isset($this->contractorDeviceInfo) & !empty($this->contractorDeviceInfo)): ?>
                            <div>Devices that have installed the app: 
                                <span class="badge badge-info"><?php echo count($this->contractorDeviceInfo); ?></span>
                            </div>

                        <?php else:  ?>
                            <div> There is no device installed app by this contractor!!</div>
                        <?php endif; ?>
                        </b>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="collapseMobileInfo" class="panel-collapse collapse in">              
                        <div style="height: 173px;overflow: auto;" class="" id="contractorMobileInfo">
                            <table class="table table-bordered dataTables-example dataTable" id="editable" role="grid" aria-describedby="editable_info">            
                                <tbody>
                                <?php foreach ($this->contractorDeviceInfo as $key => $deviceInfo): ?>
                                    <tr class="device_num" role="row">
                                        <td class="sorting_1">Device #</td>
                                        <td><?php echo $key + 1 ?></td>
                                    </tr>
                                    <tr class="gradeA even" role="row">
                                        <td class="sorting_1"> Device model </td>
                                        <td><?php echo $deviceInfo['devicemodel'] ?></td>
                                    </tr>
                                    <tr class="gradeA even" role="row">
                                        <td class="sorting_1"> Device id </td>
                                        <td><?php echo $deviceInfo['deviceuid'] ?></td>
                                    </tr>
                                    <tr class="gradeA even" role="row">
                                        <td class="sorting_1"> Device name </td>
                                        <td><?php echo $deviceInfo['devicename'] ?></td>
                                    </tr>
                                    <tr class="gradeA even" role="row">
                                        <td class="sorting_1"> Device version </td>
                                        <td><?php echo $deviceInfo['deviceversion'] ?></td>
                                    </tr>
                                    <tr class="gradeA even" role="row">
                                        <td class="sorting_1"> Device OS </td>
                                        <td><?php echo $deviceInfo['os'] ?></td>
                                    </tr>   
                                    <tr class="gradeA even" role="row">
                                        <td class="sorting_1"> App name </td>
                                        <td><?php echo $deviceInfo['appname'] ?></td>
                                    </tr>
                                    <tr class="gradeA even" role="row">
                                        <td class="sorting_1"> App version </td>
                                        <td><?php echo $deviceInfo['appversion'] ?></td>
                                    </tr>                                       
                                <?php endforeach ?>
                                </tbody>            
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /*******End********/ --> 


               