<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" 
      onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#TB_ajaxContent');return false;">

    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>

    <div class="form-group">
        <label  class="col-lg-4">Bond to be Withheld :</label>
        <div class="col-lg-8"> <?php echo $this->form->getElement('bond_to_be_withheld')->render(); ?></div>
    </div>
    <div class="form-group">
        <label  class="col-lg-4">Commission % :</label>
        <div class="col-lg-8"> <?php echo $this->form->getElement('commission')->render(); ?></div>
    </div>



     <div class="form-group">
        <label class="col-md-4">Upload Photo(s) :</label>
        <div class="col-md-8">
            <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
                <div class="dz-message" style="background-position: -33px 0;"></div>
            </div>
        </div>
    </div>
        <input type="hidden" value="" name="deleted_ids" id="deleted_ids"/>

    <div class="form-group">
        <div class="col-md-7 col-md-offset-5" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
    </div>
    <div class="clearfix"></div>
</form>


<script>
    var deleted_ids = new Array();
    var photoDropzone = new Dropzone("#form", {
        url: '<?php echo $this->escape($this->form->getAction()); ?>',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 100,
        maxFilesize: 10,
        previewsContainer: '#dropzonePreview',
        acceptedFiles: ".jpeg,.jpg,.png,.gif , .doc , .pdf",
        clickable: '#dropzonePreview',
        addRemoveLinks: true,
        removedfile: function (file) {
            var name = file.name;
            var id = file.id;
            deleted_ids.push(id);
            $('#deleted_ids').val(deleted_ids);
            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;
            var submitButton = document.querySelector('input[type=submit]');
            myDropzone = this; // closure		
            $.ajax({
                type: "GET",
                dataType: "JSON",
                url: '<?php echo $this->escape($this->url(array('contractor_info_id' => (isset($this->id) ? $this->id : 0 ), 'type' => 'payment'), 'settingsContractorInfoGetAttachment')); ?>',
                success: function (data) {
                    $.each(data, function (key, value) {

                        var mockFile = {name: value.file_name, size: value.size, id: value.attachment_id};
                        myDropzone.options.addedfile.call(myDropzone, mockFile);
                        var type = value.type.split("/");
                        var parts = value.path.split("public");
                        if (type['0'] == 'image') {
                            myDropzone.options.thumbnail.call(myDropzone, mockFile, parts['1']);
                        }
                    });
                }
            });

            $("#form").on("click", "input[type=submit]", function (e) {

                e.preventDefault();
                e.stopPropagation();
                $('#button_cont').html('<img src="/pic/loading-4.gif">');
                if (myDropzone.getQueuedFiles().length === 0) {
                    do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
                } else {

                    myDropzone.processQueue();
                }


            });

            this.on("successmultiple", function (files, response) {
                if (response == 1) {
                    window.location.reload();
                } else {
                    $('#content_modal_popup').html(response);
                }

            });
            this.on("errormultiple", function (files, response) {
                //alert(response);
                $('#button_cont').html('<input type="submit" name="button" id="button" value="Save" class="btn btn-primary">');
            });


        }
    });


    $(".date").datepicker({
        format: 'dd-mm-yyyy',
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true

    });


</script>
