<form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" 
				onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
		 
			<div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
		
			<div class="form-group">
				<label  class="col-md-5">Drivers Licence Number :</label>
				<div class="col-md-7"> <?php echo $this->form->getElement('drivers_licence_number')->render(); ?></div>
			</div>
			<div class="form-group">
				<label  class="col-md-5">Drivers Licence Expiry :</label>
				<div class="col-md-7"> <?php echo $this->form->getElement('drivers_licence_expiry')->render(); ?></div>
			</div>
		
			<div class="form-group">
				<div class="col-md-7 col-md-offset-5" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
			</div>		
	
		<div class="clearfix"></div>
</form>