<?php
ViewHelper::setStyleSheet('/css/jquery.mThumbnailScroller.css');
ViewHelper::setJavaScript('/js/jquery.mThumbnailScroller.min.js');
ViewHelper::setStyleSheet('/plugins/fancybox/jquery.fancybox.css');
ViewHelper::setJavaScript('/plugins/fancybox/jquery.fancybox.js');
ViewHelper::setJavaScript('/js/jquery.form.js');


$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
//Booking Address Map
if ($this->is_address):
    ?>
    <?php echo $this->MAP_OBJECT_Booking->getHeaderJS(); ?>
    <?php echo $this->MAP_OBJECT_Booking->getMapJS(); ?>
<?php endif; ?>
<style>
    .profile-image{
        width: 120px;
        float: left;
        margin-left: 30px;
    }
    .profile-cog{
        position: absolute;
        right: 12px;
        top: 20%;
    }
    .profile-image{
        position: relative;
    }
    .active_contractor_toggle{
        margin:10px 0px;
    }
    .active_contractor_toggle .onoffswitch-inner:before{
        padding-left: 10px;
    }
    .btn{
        padding: 6px 5px !important;
    }
    .count-info{
        color:#676A6C;
    }
    .icon-away{
        background: url('/pic/clock156.png') no-repeat;
        width: 15px;
        height: 15px;
        background-size: cover;
        display: inline-block;
    }
    .status_text{
        height: 50px;
        font-size: 12px;
        width:100%;
        margin-top:5px;
        /*float:left;*/
    }
    .status_text_disabled{
        border: none;
        background: #F3F3F4;

    }
    #add_cancel_btn{
        display: none;

    }
    .profile-info{
        float:left;

    }
    .status_box{
        margin-top:5px;
    }
    .disc_b li{
        padding:0px 5px !important;
    }

    @media (max-width: 480px) {
        .profile-info{
            float:none !important;
            width: auto !important;
        }
    }
</style>

<div class="row m-b-lg m-t-lg">
    <div class="col-md-5">

        <div class="profile-image" >
            <div id="preview">
                <img  src="<?php
                if ($this->user['avatar']) {
                    echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $this->user['avatar']);
                } else {
                    echo $this->baseUrl('/pic/contractor_pic1.png');
                }
                ?>" width="96" height="96" class="img-circle circle-border " alt="profile">

                <div id="loader_view" style="display: none;">
                    <img class="img-responsive" src="<?php echo $this->baseUrl('/pic/loading-4.gif'); ?>" />
                </div>
            </div>
            <div class="btn-group profile-cog">
                <button data-toggle="dropdown" class="btn  btn-xs dropdown-toggle"><i class="fa fa-camera"></i></button>
                <ul class="dropdown-menu setting-m">
                    <li>
                        <a>
                            <form method="POST" id="moh" enctype="multipart/form-data" action="<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingContractorPicUpload')); ?>" >
                                <span class="span_file_input">
                                    Update Profile Picture <input name="profile_picture" type="file"  id="contractor_profile" accept="image/x-png, image/jpg, image/jpeg" />
                                </span>
                            </form> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="star-rating"> 
                <span class="fa fa-star-o fa-lg" data-rating="1"></span>
                <span class="fa fa-star-o fa-lg" data-rating="2"></span>
                <span class="fa fa-star-o fa-lg" data-rating="3"></span>
                <span class="fa fa-star-o fa-lg" data-rating="4"></span>
                <span class="fa fa-star-o fa-lg" data-rating="5"></span>
                <input type="hidden" name="contractor_rate" class="rating-value" value="<?= round($this->contractorRate); ?>">
            </div>
            <script>
                var $star_rating = $('.star-rating .fa');
                var SetRatingStar = function () {
                    return $star_rating.each(function () {
                        if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                            return $(this).removeClass('fa-star-o').addClass('fa-star');
                        } else {
                            return $(this).removeClass('fa-star').addClass('fa-star-o');
                        }
                    });
                };

                $star_rating.on('click', function () {
                    $star_rating.siblings('input.rating-value').val($(this).data('rating'));
                    return SetRatingStar();
                });

                SetRatingStar();
            </script>
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">
                        <?php echo $this->escape($this->user['username']); ?>
                        <span class="dropdown">
                            <a aria-expanded="false" class="dropdown-toggle count-info" id="current_status" data-toggle="dropdown" href="#" style="
                               color: #676A6C;
                               font-size: 14px;
                               ">
                                   <?php
                                   if (trim($this->contractorInfo['status']) == 'Working') {
                                       echo '<i class="fa fa-check-circle" style="color:#89D54F;font-size: 20px;"></i>';
                                   } else if (trim($this->contractorInfo['status']) == 'Away') {
                                       echo '<i class="icon-away"></i>';
                                   } else if (trim($this->contractorInfo['status']) == 'Busy') {
                                       echo '<i class="fa fa-minus-circle" style="color:red;font-size: 20px;"></i>';
                                   } else {
                                       echo '<i class="fa fa-check-circle" style="color:#89D54F;font-size: 20px;"></i>';
                                   }
                                   ?>
                                <!--<i class="fa fa-check-circle" style="color:#89D54F;font-size: 20px;"></i>-->
                            </a>
                            <ul class="dropdown-menu con_dropdown" id="status">
                                <li style="color: #676A6C;">
                                    <a href="" >
                                        <i class="fa fa-check-circle" style="color:#89D54F;font-size: 15px;"></i>&nbsp; <span> Working </span></a>
                                </li>
                                <li style="color: #676A6C;">
                                    <a href="" >
                                        <i class="icon-away"></i>&nbsp;  <span> Away </span></a>
                                </li>

                                <li style="color: #676A6C;">
                                    <a href="">
                                        <i class="fa fa-minus-circle" style="color:red;font-size: 15px;"></i>&nbsp; <span> Busy </span></a>
                                </li>


                            </ul>
                        </span>

                        <span class="dropdown">
                            <a aria-expanded="false" class="dropdown-toggle count-info" data-toggle="dropdown" href="#" style="
                               color: #676A6C;
                               font-size: 19px;
                               ">
                                <i class="fa fa-chevron-circle-down"></i>
                            </a>
                            <ul class="dropdown-menu con_dropdown">


                                <?php if (CheckAuth::checkCredential(array('loginAsThisUser'))) : ?>

                                    <li>
                                        <a style="color: #676A6C;" onclick="confirmDelete('<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingsUserLoginAsThisUser')) ?>', 'Are you sure you want to Login as this User ?');" >
                                            <i class="fa fa-user"></i>&nbsp; Login As This User</a>
                                    </li>
                                <?php endif; ?>


                                <?php if (CheckAuth::checkCredential(array('settingsUserPassword'))) : ?>
                                    <li style="color: #676A6C;" >

                                        <a  href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Change Password', '<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingsUserPassword')) ?>');" >
                                            <i class="fa fa-unlock-alt"></i>&nbsp;Change Password</a>

                                    </li>
                                <?php endif; ?>

                                <?php if (CheckAuth::checkCredential(array('settingsUserDelete'))) : ?>
                                    <li style="color: #676A6C;">

                                        <a  href="javascript:;" onclick="confirmDelete('<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingsUserDelete')); ?>', 'Are you sure you want to delete this User ?');">
                                            <i class="fa fa-trash"></i>&nbsp;Delete</a>  
                                    </li>
                                <?php endif; ?>
                                <?php if (CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))): ?>

                                    <li style="color: #676A6C;">

                                        <a href="javascript:;"   data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Contractor Info', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoAdd')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b>&nbsp;Modify Contractor Info</a>
                                    </li>
                                <?php endif; ?>
                                <li style="color: #676A6C;">
                                    <a data-toggle="modal" data-target="#popupi" onclick="popupi('Gmail Account', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorGmailAdd')) ?>');">
                                        Modify Gmail Accounts</a>
                                </li>


                            </ul>
                        </span>

                    </h2>

                    <h4><?php echo $this->escape($this->contractorInfo['business_name']); ?></h4>
                    <small style="float:left;">
                        <?php if (CheckAuth::checkCredential(array('calendar'))): ?>
                            <a class="btn" style="color:#000;" href="<?php echo $this->escape($this->url(array(), 'calendar')); ?>?contractor=<?php echo $this->contractor_id; ?>">
                                <i class="fa fa-calendar"></i><span class="nav-label">
                                </span> </a>					
                        <?php endif; ?>  

                        <a class="btn" style="color:#000;" target="_blank"  href="#" onclick="window.open('<?php echo 'https://www.google.com/calendar/embed?src=' . $this->escape($this->user['email1']); ?>', '_blank');" >
                            <img src="/pic/gc.png"/>
                        </a>
                        <div>
                            <?php if (CheckAuth::checkCredential(array('activateOrDeactivateUsers'))) : ?>
                                <div class="active_contractor_toggle">
                                    <label  class="checkup date_is_visited">Active</label> 
                                    <div class="switch float-r">
                                        <div class="onoffswitch custome_service_switch">
                                            <input  type="checkbox" <?php
                                            if ($this->user['active'] == 'TRUE') {
                                                echo 'checked="true"';
                                            }
                                            ?>    class="onoffswitch-checkbox" id="active_input" onchange="toggle_active_deactive()" 
                                                    <?php
                                                    if ($this->user['active'] == 'TRUE')
                                                        echo 'value="true"';
                                                    else
                                                        'value="false"';
                                                    ?>>
                                            <label class="onoffswitch-label" for="active_input">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <div class="clearfix"></div>
                        </div>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table small m-b-xs">
            <tbody>
                <tr>
                    <?php //if ($this->countAwaitingaccept && $this->countAwaitingaccept != 0) { ?>
                    <td>
                        <a class="dropdown-toggle count-info" 
                           href="<?php echo $this->escape($this->url(array(), 'awaitingAcceptBooking')); ?>?fltr[contractor_id]=<?php echo $this->contractor_id ?>">
                            <strong><?php echo $this->countAwaitingaccept; ?></strong> Awaiting accept
                        </a>
                    </td>
                    <?php //} ?>

                    <?php //if ($this->countUnapprovedBookingContractor && $this->countUnapprovedBookingContractor != 0 && CheckAuth::checkCredential(array('canApproveBooking'))) { ?>
                    <td>
                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'unapproved')); ?>?fltr[contractor_id]=<?php echo $this->contractor_id ?>">
                            <strong><?php echo $this->countUnapprovedBookingContractor; ?></strong> Awaiting Approval
                        </a>
                    </td>
                    <?php //} ?>
                    <?php //if ($this->countAwaitingUpdate && $this->countAwaitingUpdate != 0) {
                    ?>
                    <td>
                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'awaitingUpdateBooking')); ?>?fltr[contractor_id]=<?php echo $this->contractor_id ?>">	
                            <strong><?php echo $this->countAwaitingUpdate; ?></strong>  Awaiting Update
                        </a>
                    </td>
                    <?php //} ?>
                    <?php
                    //if ($this->countRejectBookingContractor && $this->countRejectBookingContractor != 0) {
                    ?>
                    <td>
                        <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[rejectBookings]=reject&fltr[contractor_id]=<?php echo $this->contractor_id; ?>">
                            <strong><?php echo $this->countRejectBookingContractor; ?></strong> Rejected Booking
                        </a>
                    </td>
                    <?php // } ?>
                    <?php
                    //if ($this->countOpenComplaintForContractor && $this->countOpenComplaintForContractor != 0) {
                    ?>
                    <td>
                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>?fltr[complaintStatus]=open&fltr[contractor_id]=<?php echo $this->contractor_id; ?>">	
                            <strong><?php echo $this->countOpenComplaintForContractor ? $this->countOpenComplaintForContractor : 0; ?></strong> Complaints
                        </a>
                    </td>
                    <?php //} ?>

                </tr>
                <tr>
                    <?php
                    //if ($this->countUnapprovedComplaintForContractors && CheckAuth::checkCredential(array('canApproveComplaint'))) {
                    ?> 
                    <td>
                        <a class="dropdown-toggle count-info" 
                           href="<?php echo $this->escape($this->url(array(), 'unapprovedComplaint')); ?>">
                            <strong> <?php echo $this->countUnapprovedComplaintForContractors ?></strong>  Unapproved Complaints 
                        </a>
                    </td>
                    <?php //} ?>

                    <?php
                    //  if ($this->countUnapprovedPaymentsForContractors && $this->countUnapprovedPaymentsForContractors != 0 && CheckAuth::checkCredential(array('paymentList'))) {
                    ?> 
                    <td>
                        <a class="dropdown-toggle count-info" 
                           href="<?php echo $this->escape($this->url(array(), 'paymentList')); ?>?fltr[is_approved]=no&fltr[contractor_id]=<?php echo $this->contractor_id; ?>">
                            <strong> <?php echo $this->countUnapprovedPaymentsForContractors; ?></strong>  Unapproved Payments 
                        </a>
                    </td>
                    <?php //} ?>
                    <?php //if ($this->countClaimOwnerContractor && $this->countClaimOwnerContractor != 0) { ?> 
                    <td>
                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'claimOwner')); ?>?fltr[user_id]=<?php echo $this->contractor_id; ?> ">
                            <strong><?php echo $this->countClaimOwnerContractor; ?></strong>  Claim Owners 
                        </a>
                    </td>
                    <?php //} ?>
                    <?php
                    //  if ($this->countMissedCallsContaractor && $this->countMissedCallsContaractor != 0) {
                    ?> 
                    <td>
                        <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>?is_read= no&user_id=<?php echo $this->contractor_id; ?>"> 
                            <strong> <?php echo $this->countMissedCallsContaractor; ?></strong>   Messages  
                        </a>
                    </td>
                    <?php //} ?>
					
					<td>
                            <a class="dropdown-toggle count-info" 
                               href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>?fltr[invoice_type]=unpaid&fltr[contractor_id]=<?php echo $this->contractor_id; ?>">
                                <strong> <?php echo $this->countUnpaidInvoiveForContractor; ?></strong>  
                                Unpaid invoices 
                            </a>
                        </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">

                <div>
                    <div class="ibox-content no-padding border-left-right">

                        <div class="row" id="booking_map" style="height:200px;width:100%;margin:0 auto;">
                            <?php if ($this->is_address): ?>
                                <?php echo $this->MAP_OBJECT_Booking->printOnLoad(); ?>
                                <?php echo $this->MAP_OBJECT_Booking->printMap(); ?>
                                <div id="map_directions"></div>
                            <?php else: ?>
                                <div style="" class="noRowsMessageDIV">There is no Address for this contractor.

                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseBooking">
                                    <span class="collapse_arrow"></span> 
                                    <b>
                                        <i class="icon-booking"></i> Booking Summary
                                    </b>
                                </a>
                            </h4>


                        </div>

                        <div id="collapseBooking" class="panel-collapse collapse in">
                            <div class="panel-body no-padding">
                                <ul class="contractor_booking_list">

                                    <li>
                                        <a  href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'defultPage')); ?>" >Defult Booking Page (All)</a>
                                    </li> 


                                    <?php if (isset($this->bookingStatusCounts)):
                                        ?>
                                        <?php foreach ($this->bookingStatusCounts as $bookingStatusCount): ?>
                                            <?php if ($bookingStatusCount['total']): ?>
                                                <li>
                                                    <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[status]=<?php echo $this->escape($bookingStatusCount['booking_status_id']) ?>&fltr[contractor_id]=<?php echo $this->contractor_id; ?>"><?= $bookingStatusCount['name']; ?> <span class="badge" style="background-color:<?= $colors[$bookingStatusCount['color']] ?>"><?= $bookingStatusCount['total']; ?></span>													
                                                    </a>									  
                                                </li> 
                                            <?php endif; ?>


                                        <?php endforeach; ?>
                                    <?php endif; ?> 


                                    <?php if ($this->countUnapprovedBookingContractor && $this->countUnapprovedBookingContractor != 0 && CheckAuth::checkCredential(array('canApproveBooking'))): ?>
                                        <li>
                                            <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'unapproved')); ?>?fltr[contractor_id]=<?php echo $this->contractor_id ?>">
                                                Awaiting Approval  <span class="badge" style="background-color:#62aa00;"><?php echo $this->countUnapprovedBookingContractor; ?></span>

                                            </a>
                                        </li>
                                    <?php endif; ?>



                                    <?php if ($this->countRejectBookingContractor && $this->countRejectBookingContractor != 0): ?>
                                        <li>
                                            <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[rejectBookings]=reject&fltr[contractor_id]=<?php echo $this->contractor_id; ?>">
                                                Rejected Booking <span class="badge" style="background-color:#000000;"><?php echo $this->countRejectBookingContractor; ?></span>

                                            </a>
                                        </li>
                                    <?php endif; ?>



                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle  " data-toggle="collapse" data-parent="#accordion" href="#collapseServices">
                                    <span class="collapse_arrow"></span><b><i class="icon-services"></i>Services Provided</b>
                                </a>
                            </h4>
                            <div class="inline float-r">

                                <?php if (CheckAuth::checkCredential(array('settingsServicesEdit'))): ?>
                                    <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceList')); ?>"><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div  class="tabs_button tabs_button_left">
                            <b> 
                                <a  class="black_color upper pull-right" href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New Service', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceAdd')); ?>');" >
                                    <i class="fa fa-plus"></i> &nbsp; New Service  </a>
                                <a  class="black_color pull-left" href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorAvailability')); ?>"><i class="fa fa-map-marker" aria-hidden="true"></i> Contractor Availability</a>
                            </b>
                            <div style="clear:both;"></div>
                        </div>
                        <div id="collapseServices" class="panel-collapse collapse in">				
                            <div class="panel-body" id="contractor_services">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseDiscussion">
                            <span class="collapse_arrow"></span>	<b><i class="icon-discussion"></i>Discussion Board</b>
                        </a>
                    </h4>
                </div>
                <div  class="tabs_button tabs_button_left" >
                    <b><a class="black_color upper left-r" href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Contractor Discussion', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'contractorDiscussion')); ?>');"><i class="fa fa-plus"></i> &nbsp; Add Comment  </a>
                    </b>
                </div>
                <div id="collapseDiscussion" class="panel-collapse collapse in">	
                    <div class="panel-body">
                        <div id="contractor_discussion_2">

                            <div class="contractor_dis_empty">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion">
                <div class="tabbable">
                    <ul class="nav nav-tabs"  id="myTab">
                        <li class="active"><a href="#tabs-contactDetails" data-toggle="tab"><i class="icon-map"></i> Contact Details</a></li>
                        <li ><a href="#tabs-busInformation" data-toggle="tab"><i class="icon-contractor-info"></i> Business Information</a></li>
                        <li ><a href="#tabs-owners" data-toggle="tab"> <i class="fa fa-users"></i> Owner(s)</a></li>
                        <li ><a id="activLog" href="#tabs-activityLog" data-toggle="tab"> <i class="icon-Owners"></i> Activity Log</a></li><!--Activity log tab added by Walaa -->
                        <li ><a href="#tabs-employees" data-toggle="tab"><i class="fa fa-user"></i> Employees</a></li>
                        <li ><a href="#tabs-gmail" data-toggle="tab"><img src="/pic/gmail.png" width="21px" height="18px"/> Gmail Account </a></li>
                        <li ><a href="#tabs-bank" data-toggle="tab"><i class="icon-insurance"></i> Bank Account </a></li>
                        <li ><a href="#tabs-payment" data-toggle="tab"><i class="icon-payment"></i> Payment Agreement</a></li>
                        <li><a href="#tabs-working-hours" data-toggle="tab"><i class="fa fa-clock-o "></i> Working Hours </a></li>						
                        <li ><a href="#tabs-callLog" data-toggle="tab"> <i class="fa fa-phone"></i> Call Log</a></li>

                    </ul>
                    <div class="tab-content">
                        <div id="tabs-contactDetails" role="tabpanel" class="tab-pane active">
                            <div id="collapsetwo" class="panel-collapse">
                                <div class="panel-body no-padding">
                                    <div class="tabs_button">
                                        <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Address & Contact Info', '<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingsContractorEdit')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b></a>
                                    </div>
                                    <table class="table  table-striped table_no_top_border">
                                        <tbody>
                                            <?php if (!empty($this->line_address)) { ?>
                                                <tr>
                                                    <td> <div class="contractor_info_tit" >Address</div></td>
                                                    <td><div class="contractor_info_tit_type"><?php echo $this->line_address ?></div></td>
                                                </tr>
                                            <?php } ?>

                                            <?php if (!empty($this->user['po_box'])) { ?>
                                                <tr>
                                                    <td>  <div class="contractor_info_tit">PO Box (Postal Address):</div></td>
                                                    <td>   <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['po_box']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['country_name'])) { ?>
                                                <tr>
                                                    <td> <div class="contractor_info_tit" >City :</div></td>
                                                    <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['country_name'] . ' - ' . $this->user['city_name']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['state'])) { ?>
                                                <tr>
                                                    <td>  <div class="contractor_info_tit">State :</div></td>
                                                    <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['state']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['email1'])) { ?>
                                                <tr>
                                                    <td> <div class="contractor_info_tit" >Email 1: </div></td>
                                                    <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email1']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['email2'])) { ?>

                                                <tr>
                                                    <td><div class="contractor_info_tit" >Email 2: </div></td>
                                                    <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email2']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['email3'])) { ?>
                                                <tr>
                                                    <td><div class="contractor_info_tit" >Email 3: </div></td>
                                                    <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email3']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['mobile1'])) { ?>
                                                <tr>
                                                    <td> <div class="contractor_info_tit" >Mobile 1: </div></td>
                                                    <td>  <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile1']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['mobile2'])) { ?>

                                                <tr>
                                                    <td> <div class="contractor_info_tit" >Mobile 2: </div></td>
                                                    <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile2']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['mobile3'])) { ?>

                                                <tr>
                                                    <td><div class="contractor_info_tit" >Mobile 3: </div></td>
                                                    <td>   <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile3']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['phone1'])) { ?>
                                                <tr>
                                                    <td>  <div class="contractor_info_tit" >Phone 1: </div></td>
                                                    <td>  <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone1']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['phone2'])) { ?>

                                                <tr>
                                                    <td>  <div class="contractor_info_tit" >Phone 2: </div></td>
                                                    <td>  <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone2']) ?></div></td>

                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['phone3'])) { ?>

                                                <tr>
                                                    <td>  <div class="contractor_info_tit" >Phone 3: </div></td>
                                                    <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone3']) ?></div></td>
                                                </tr>
                                            <?php } ?>

                                            <?php if (!empty($this->user['fax'])) { ?>
                                                <tr>
                                                    <td> <div class="contractor_info_tit" >Fax: </div></td>
                                                    <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['fax']) ?></div></td>
                                                </tr>
                                            <?php } ?>
                                            <?php if (!empty($this->user['emergency_phone'])) { ?>

                                                <tr>
                                                    <td><div class="contractor_info_tit" >Emergency Phone: </div></td>
                                                    <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['emergency_phone']) ?></div></td>
                                                </tr>
                                            <?php } ?>

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                        <div id="tabs-busInformation" role="tabpanel" class="tab-pane">
                            <?php if (CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))): ?>

                                <div  class="tabs_button">
                                    <a href="javascript:;" class="contractor_a_link color-white left-r"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Contractor Info', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoAdd')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b></a>
                                </div>
                            <?php endif; ?>

                            <div id="collapseOne" class="panel-collapse">
                                <div class="panel-body no-padding">
                                    <table class="table  table-striped table_no_top_border">
                                        <tbody>

                                            <tr>
                                                <td><div class="contractor_info_tit" >Role : </div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['role_name']); ?></div></td>

                                            </tr>

                                            <tr>
                                                <td><div class="contractor_info_tit" >Username : </div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['username']); ?></div></td>

                                            </tr>

                                            <tr>
                                                <td><div class="contractor_info_tit" >Display Name : </div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['display_name']); ?></div></td>

                                            </tr>
                                            <tr>
                                                <td><div class="contractor_info_tit" >First Name : </div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['first_name']); ?></div></td>

                                            </tr>

                                            <tr>
                                                <td><div class="contractor_info_tit" >Last Name : </div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['last_name']); ?></div></td>

                                            </tr>

                                            <tr>
                                                <td><div class="contractor_info_tit" >Business Name :</div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['business_name']); ?></div></td>

                                            </tr>

                                            <tr>
                                                <td><div class="contractor_info_tit" >TFN (Tax File Number) :</div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['tfn']); ?></div></td>

                                            </tr>

                                            <tr>
                                                <td> <div class="contractor_info_tit" >ABN (Australian Business Number) :</div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['abn']); ?></div></td>



                                            <tr>
                                                <td><div class="contractor_info_tit" >ACN (Australian Company Number) :</div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['acn']); ?></div></td>

                                            </tr>

                                            <tr>
                                                <td> <div class="contractor_info_tit" >GST (Goods and Services Tax) :</div></td>
                                                <td>    <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['gst'] ? 'yes' : 'no'); ?></div></td>

                                            </tr>

                                            <tr>

                                                <td> <div class="contractor_info_tit" >GST Date Registered : </div></td>
                                                <td> <div class="contractor_info_tit_type">  <?php echo (!empty($this->contractorInfo['gst_date_registered'])) ? ($this->escape(date(get_config('date'), $this->contractorInfo['gst_date_registered'])) == '01 Jan 1970') ? '' : $this->escape(date(get_config('date'), $this->contractorInfo['gst_date_registered'])) : ''; ?></div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-owners" role="tabpanel" class="tab-pane">
                            <div class="tabs_button">
                                <?php if (CheckAuth::checkCredential(array('settingsContractorOwnerEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                    <a  class="color-white"  href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorOwnerList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                <?php endif; ?>
                            </div>

                            <div id="collapse_owners" class="panel-collapse">
                                <div class="panel-body no-padding">
                                    <ul class="contractor_booking_list">
                                        <?php if ($this->contractorOwner): ?>
                                            <?php $counter = 1; ?>
                                            <?php foreach ($this->contractorOwner as $owner): ?>
                                                <li>(<?php echo $this->escape($counter); ?> )
                                                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Owner Details', '<?php echo $this->escape($this->url(array('id' => $owner['contractor_owner_id']), 'settingsContractorOwnerview')); ?>');"class="details_info_name"><?php echo $this->escape($owner['name']) ?></a>
                                                </li>
                                                <?php $counter++; ?>
                                            <?php endforeach; ?>
                                        <?php else: ?>   
                                            <div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">No owner(s).</h3></div>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Activity log tab by Walaa -->

                        <div id="tabs-activityLog" role="tabpanel" class="tab-pane">

                            <div id="collapse_activityLog" class="panel-collapse">
                                <div class="panel-body no-padding">

                                    <div class="ibox float-e-margins no-margin-b">
                                        <div class="ibox-content" id="activity_log_data">
                                            <div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>		        
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div id="tabs-employees" role="tabpanel" class="tab-pane">
                            <div class="tabs_button">

                                <?php if (CheckAuth::checkCredential(array('settingsContractorEmployeeEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                    <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorEmployeeList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                <?php endif; ?>
                            </div>
                            <div id="collapse_emp" class="panel-collapse">

                                <div class="panel-body no-padding">
                                    <ul class="contractor_booking_list">
                                        <?php if ($this->contractorEmployee): ?>
                                            <?php $counter = 1; ?>
                                            <?php foreach ($this->contractorEmployee as $employee): ?>
                                                <li>
                                                    <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Employee Details', '<?php echo $this->escape($this->url(array('id' => $employee['contractor_employee_id']), 'settingsContractorEmployeeview')); ?>');"class="details_info_name"> (<?php echo $this->escape($counter); ?>) <?php echo $this->escape($employee['name']) ?></a>
                                                </li>
                                                <?php $counter++; ?>
                                            <?php endforeach; ?>
                                        <?php else: ?>
                                            <div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">No Employee.</h3></div>
                                        <?php endif; ?>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-gmail" role="tabpanel" class="tab-pane">

                            <div class="tabs_button">
                                <a class="color-white" data-toggle="modal" data-target="#popupi" onclick="popupi('Gmail Account', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorGmailAdd')) ?>');">
                                    <i class="fa fa-pencil fa-1x"></i>  
                                </a>
                            </div>
                            <div id="collapse_email" class="panel-collapse">
                                <ul class="contractor_booking_list">
                                    <?php if ($this->contractorGmailAccount): ?>
                                        <li><?php echo $this->contractorGmailAccount; ?></li>
                                    <?php else: ?>
                                        <li>There are no gmail account</li>
                                    <?php endif; ?>
                                </ul>
                            </div>
                        </div>
                        <div id="tabs-bank" role="tabpanel" class="tab-pane">
                            <div class="tabs_button">
                                <?php //&& (isset($this->contractorInfo['contractor_info_id']))
								if ((CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))) ): ?> 
                                    <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Bank Account Details', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoEditBankDetails')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b></a>
                                <?php endif; ?>
                            </div>
                            <div id="collapseBank" class="panel-collapse">
                                <div class="panel-body no-padding">
                                    <table class="table  table-striped table_no_top_border">
                                        <tbody>

                                            <tr>
                                                <td>     <div class="contractor_info_tit" >Bank Name :</div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['bank_name']) ?></div></td>

                                            </tr>
                                            <tr>
                                                <td><div class="contractor_info_tit" >Account Name :</div></td>
                                                <td><div class="contractor_info_tit_type">
                                                        <?php echo $this->escape($this->contractorInfo['account_name']) ?>
                                                    </div></td>

                                            </tr>
                                            <tr>
                                                <td> <div class="contractor_info_tit" >BSB :</div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['bsb']) ?></div></td>

                                            </tr>
                                            <tr>
                                                <td><div class="contractor_info_tit" >Account Number :</div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['account_number']) ?></div></td>

                                            </tr>


                                        </tbody>	
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-payment" role="tabpanel" class="tab-pane">
                            <div class="tabs_button">
                                <?php //&& (isset($this->contractorInfo['contractor_info_id']))
								if ((CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit')))): ?>

                                    <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Payment Agreement', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoEditPayment')); ?>');"><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                <?php endif; ?>
                            </div>
                            <div class="panel-body no-padding">
                                <table class="table table-striped table_no_top_border">
                                    <tbody>
                                        <tr>
                                            <td>  <div class="contractor_info_tit" >Bond to be Withheld :</div></td>
                                            <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['bond_to_be_withheld']) ?></div></td>

                                        </tr>
                                        <tr>
                                            <td><div class="contractor_info_tit" >Contractor Commission :</div></td>
                                            <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['commission']) ?>%</div></td>

                                        </tr>
                                        <?php
//                                        var_dump($this->paymentAttachment);
//                                        exit;
                                        if (isset($this->paymentAttachment)) {
                                            ?>
                                            <tr>
                                                <td><div class="contractor_info_tit" ><a href="<?php echo $this->escape($this->url(array('itemid' => $this->contractorInfo['contractor_info_id'], 'type' => 'payment'), 'ItemAttachmentList')); ?>">View Payment Agreement Attachment</a></div></td>
                                                <td></td>													
                                            </tr>

                                        <?php }
                                        ?>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div id="tabs-working-hours" role="tabpanel" class="tab-pane">
                            <?php if ('contractor' == CheckAuth::getRoleName()): ?>
                                <div class="tabs_button">
                                    <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Manage Working Hours', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'editWorkingHours')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b></a>
                                </div>
                            <?php endif; ?>

                            <div id="collapsesix" class="panel-collapse">

                                <div class="col-md-3" >
                                    <h3>Working Hours</h3>
                                </div>
                                <div class="panel-body no-padding col-md-5">
                                    <?php
                                    if (!empty($this->working_hours)) {
                                        $workingHoursData = $this->working_hours;
                                    } else {
                                        $model_workingHours = new Model_WorkingHours();

                                        $workingHours = array(
                                            '1' => array('contractor_id' => $this->contractor_id, 'day' => 'Monday', 'start_time' => '07:00', 'end_time' => '19:00'),
                                            '2' => array('contractor_id' => $this->contractor_id, 'day' => 'Tuesday', 'start_time' => '07:00', 'end_time' => '19:00'),
                                            '3' => array('contractor_id' => $this->contractor_id, 'day' => 'Wednesday', 'start_time' => '07:00', 'end_time' => '19:00'),
                                            '4' => array('contractor_id' => $this->contractor_id, 'day' => 'Thursday', 'start_time' => '07:00', 'end_time' => '19:00'),
                                            '5' => array('contractor_id' => $this->contractor_id, 'day' => 'Friday', 'start_time' => '07:00', 'end_time' => '19:00'),
                                            '6' => array('contractor_id' => $this->contractor_id, 'day' => 'Saturday', 'start_time' => '07:00', 'end_time' => '19:00'),
                                        );
                                        foreach ($workingHours as $key => $wh) {
                                            $status = $model_workingHours->insert($wh);
                                        }
                                        $filters = array(
                                            'contractor_id' => $this->contractor_id
                                        );
                                        $workingHoursData = $model_workingHours->getAll($filters);
                                        ?>
                                    <?php } ?>
                                    <?php foreach ($workingHoursData as $key => $working_hour) {
                                        ?>
                                        <div class="working-hours-list" ><span style="margin-right: 20px;width:70px;display: inline-block;"><?= $working_hour['day'] ?></span> <?= $working_hour['start_time'] ?> - <?= $working_hour['end_time'] ?> <div style="display:inline;margin-left: 10px;"><a href="javascript:;" class="contractor_a_link"  data-toggle="modal" data-target="#popupi" onclick="popupi('Manage Working Hours', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'editWorkingHours')); ?>?working_hours_id=<?= $working_hour['working_hours_id'] ?>');"><b><i class="fa fa-pencil"></i></b></a><a href="javascript:void(0)" style="margin-left:5px;" onclick="deleteWorkingHours(<?= $working_hour['working_hours_id'] ?>);return confirm('are you want delete this day ?');"><i class="fa fa-trash-o"></i></a></div></div>
                                    <?php }
                                    ?>

                                </div>
                                <div class="form-group">
                                    <a href="javascript:void(0);"  class="col-md-12" data-toggle="modal" data-target="#popupi" onclick="popupi('Manage Working Hours', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'editWorkingHours')); ?>');" >add another set of hours</a>
                                </div>

                            </div>
                        </div>
                        <div id="tabs-callLog" role="tabpanel" class="tab-pane">

                            <div class="panel-body no-padding">
                                <?php if (!empty($this->callLog)) { ?>
                                    <table class="table table-striped table_no_top_border">
                                        <thead>
                                        <th>Caller</th>
                                        <th>Callee</th>
                                        <th>Duration</th>
                                        <th>Time</th>
                                        </thead>
                                        <tbody>
                                            <?php
                                            $modelAuthRole = new Model_AuthRole();
                                            $modelUser = new Model_User();
                                            $modelCustomer = new Model_Customer();
                                            $superAdminRoleId = $modelAuthRole->getRoleIdByName('super_admin');
                                            $customerRoleId = $modelAuthRole->getRoleIdByName('customer');

                                            $loggedUser = CheckAuth::getLoggedUser();
                                            $user_id = $loggedUser['user_id'];
                                            $user = $modelUser->getById($user_id);
                                            ?>

                                            <?php foreach ($this->callLog as $call): ?>
                                                <tr>
                                                    <td>
                                                        <?php
                                                        if ($call['caller_user_role'] != $customerRoleId) {
                                                            $user = $modelUser->getById($call['caller_id']);
                                                            $username = $user['display_name'];
                                                        } else {
                                                            $user = $modelCustomer->getById($call['caller_id']);
                                                            $username = $user['first_name'] . ' ' . $user['last_name'];
                                                        }
                                                        ?>
                                                        <?= $username ?>
                                                    </td>
                                                    <td>
                                                        <?php
                                                        if ($call['callee_user_role'] != $customerRoleId) {
                                                            $user = $modelUser->getById($call['callee_id']);
                                                            $username = $user['display_name'];
                                                        } else {
                                                            $user = $modelCustomer->getById($call['callee_id']);
                                                            $username = $user['first_name'] . ' ' . $user['last_name'];
                                                        }
                                                        ?>
                                                        <?= $username ?>

                                                    </td>
                                                    <td>
                                                        <?= $call['duration'] ?>
                                                    </td>
                                                    <td>
                                                        <?= date('l, M d, H:ia', strtotime($call['time'])) ?>
                                                    </td>
                                                </tr>
                                            <?php endforeach; ?>

                                        </tbody>
                                    </table>
                                <?php } else { ?>   
                                    <div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br><h3 class="font-bold">No Calls.</h3></div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabbable">
                    <ul class="nav nav-tabs"  id="myTab">
                        <li class="active"><a href="#tabs-vehicles" data-toggle="tab"><i class="icon-vehicle"></i>  Vehicles</a></li>
                        <li ><a href="#tabs-equipment" data-toggle="tab"><i class="fa fa-wrench"></i> Equipment</a></li>
                        <li ><a href="#tabs-apparatus" data-toggle="tab"><i class="icon-Apparatus"></i> Apparatus</a></li>
                        <li ><a href="#tabs-chemicals" data-toggle="tab"><i class="icon-Chemicals"></i> Products</a></li>
                        <li ><a href="#tabs-insurance" data-toggle="tab"><i class="icon-insurance"></i> Insurance </a></li>
                        <li ><a href="#tabs-drivers" data-toggle="tab"><i class="icon-driver"></i> Drivers Licence </a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tabs-vehicles" role="tabpanel" class="tab-pane active">
                            <div class="tabs_button">

                                <?php //&& isset($this->contractorInfo['contractor_info_id'])
								if (CheckAuth::checkCredential(array('settingsContractorVehicleEdit')) ): ?>
                                    <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorVehicleList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                <?php endif; ?>
                            </div>

                            <div id="collapse_Vehicle" class="panel-collapse">
                                <div class="panel-body no-padding">

                                    <ul class="contractor_booking_list">


                                        <?php if ($this->contractorVehicle): ?>

                                            <?php $counter = 1; ?>
                                            <?php foreach ($this->contractorVehicle as $vehicle): ?>
                                                <li>
                                                    (<?php echo $this->escape($counter); ?>)
                                                    <table>
                                                        <tr>
                                                            <th>Registration No. :</th>
                                                            <td><?php echo $this->escape($vehicle['registration_number']); ?></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Make :</th>
                                                            <td><?php echo $this->escape(date('Y', $vehicle['make'])); ?></td>
                                                        </tr>

                                                        <tr>
                                                            <th>Model :</th>
                                                            <td><?php echo $this->escape($vehicle['model']); ?></td>
                                                        </tr>

                                                        <tr>
                                                            <th>Color : </th>
                                                            <td><?php echo $this->escape($vehicle['colour']); ?></td>
                                                        </tr>
                                                        <tr>
                                                            <th></th>
                                                            <td></td>
                                                        </tr>


                                                    </table>
                                                </li>
                                                <?php $counter++; ?>
                                            <?php endforeach; ?>
                                        <?php else: ?>
                                            <div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold"> No vehicles.</h3></div>



                                        <?php endif; ?> 

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-equipment" role="tabpanel" class="tab-pane">
                            <div class="tabs_button">

                                <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfEquipmentEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                    <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfEquipmentList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                <?php endif; ?>
                            </div>

                            <div id="collapse_qub" class="panel-collapse">
                                <div class="panel-body no-padding">
                                    <ul class="contractor_booking_list">
                                        <?php if ($this->declarationOfEquipment): ?>
                                            <?php $counter = 1; ?>
                                            <?php foreach ($this->declarationOfEquipment as $equipment): ?>
                                                <li>(<?php echo $this->escape($counter); ?>)<?php echo $this->escape($equipment['equipment']) ?>
                                                </li>
                                                <?php $counter++; ?>
                                            <?php endforeach; ?>
                                        <?php else: ?>
                                            <div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">  No equipment.</h3></div>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div id="tabs-apparatus" role="tabpanel" class="tab-pane">
                            <div class="tabs_button">
                                <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfOtherApparatusEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                    <a  class="color-white"  href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfOtherApparatusList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                <?php endif; ?>
                            </div>
                            <div id="collapse_Apparatus" class="panel-collapse">
                                <div class="panel-body no-padding">

                                    <ul class="contractor_booking_list">

                                        <?php if ($this->declarationOfOtherApparatus): ?>

                                            <?php $counter = 1; ?>
                                            <?php foreach ($this->declarationOfOtherApparatus as $otherApparatus): ?>
                                                <li>
                                                    (<?php echo $this->escape($counter); ?>)
                                                    <?php echo $this->escape($otherApparatus['other_apparatus']) ?>
                                                </li>
                                                <?php $counter++; ?>
                                            <?php endforeach; ?>
                                        <?php else: ?>
                                            <div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">  No equipment.</h3></div>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-chemicals" role="tabpanel" class="tab-pane">
                            <div id="collapse_chem" class="panel-collapse">
                                <div class="tabs_button">
                                    <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfChemicalsEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                        <a  class="color-white"  href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfChemicalsList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                    <?php endif; ?>
                                </div>
                                <div class="panel-body no-padding">

                                    <ul class="contractor_booking_list">

                                        <?php if ($this->declarationOfChemicals): ?>

                                            <?php $counter = 1; ?>
                                            <?php foreach ($this->declarationOfChemicals as $chemicals): ?>
                                                <li>(<?php echo $this->escape($counter); ?>)
                                                    <?php echo $this->escape($chemicals['chemicals']) ?>
                                                </li>
                                                <?php $counter++; ?>
                                            <?php endforeach; ?>

                                        <?php else: ?>   
                                            <div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold"> No products.</h3></div>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-insurance" role="tabpanel" class="tab-pane">
                            <div class="tabs_button">
                                <?php if (isset($this->contractorInfo['contractor_info_id'])) { ?>
                                    <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorInsuranceList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                <?php } ?>
                            </div>
                            <div id="collapsefive" class="panel-collapse">
                                <div class="panel-body no-padding">
                                    <ul class="contractor_booking_list">
                                        <?php if ($this->contractorInsurance): ?>

                                            <?php $counter = 1; ?>
                                            <?php foreach ($this->contractorInsurance as $insurance): ?>
                                                <li>
                                                    (<?php echo $this->escape($counter); ?>)
                                                    <table>
                                                        <tr>
                                                            <th>Insurance Policy Number :</th>
                                                            <td><?php echo $this->escape($insurance['insurance_policy_number']); ?></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Insurance Policy Start :</th>
                                                            <td><?php
                                                                echo (strlen($insurance['insurance_policy_start']) < 10 ) ? $this->escape($insurance['insurance_policy_start']) : $this->escape(date(get_config('date'), $insurance['insurance_policy_start']));
                                                                ?></td>
                                                        </tr>

                                                        <tr>
                                                            <th>Insurance Policy Expiry  :</th>
                                                            <td><?php echo (strlen($insurance['insurance_policy_expiry']) < 10 ) ? $this->escape($insurance['insurance_policy_expiry']) : $this->escape(date(get_config('date'), $insurance['insurance_policy_expiry'])); ?></td>
                                                        </tr>

                                                        <tr>
                                                            <th>Insurance Listed Services Covered : </th>
                                                            <td><?php echo $this->escape($insurance['insurance_listed_services_covered']) ?></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Insurance Type</th>
                                                            <td><?php echo $this->escape($insurance['insurance_type']) ?></td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <?php $counter++; ?>
                                            <?php endforeach; ?>
                                        <?php else: ?>

                                            <div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">  No insurance details.</h3></div>



                                        <?php endif; ?> 

                                    </ul>

                                </div>

                            </div>
                        </div>
                        <div id="tabs-drivers" role="tabpanel" class="tab-pane">
                            <div class="tabs_button">

                                <?php //&& (isset($this->contractorInfo['contractor_info_id']))
								if ((CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))) ): ?>
                                    <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Drivers Licence', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoEditLicence')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b></a>
                                <?php endif; ?>
                            </div>
                            <div id="collapsesix" class="panel-collapse">
                                <div class="panel-body no-padding">
                                    <table class="table table-striped table_no_top_border">
                                        <tbody>

                                            <tr>
                                                <td><div class="contractor_info_tit" >Drivers Licence Number :</div></td>
                                                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['drivers_licence_number']) ?></div></td>

                                            </tr>
                                            <tr>
                                                <td>Drivers Licence Type :</td>
                                                <td> <?php echo $this->escape($this->contractorInfo['driver_licence_type']) ?></td>
                                            </tr>
                                            <tr>
                                                <td><div class="contractor_info_tit" >Drivers Licence Expiry :</div></td>
                                                <td><div class="contractor_info_tit_type"><?php
                                                        echo (strlen($this->contractorInfo['drivers_licence_expiry']) < 10 ) ? $this->escape($this->contractorInfo['drivers_licence_expiry']) : $this->escape(date(get_config('date'), $this->contractorInfo['drivers_licence_expiry']));
                                                        ?></div></td>

                                            </tr>

                                            <?php if (isset($this->licenceAttachments)): ?>
                                                <tr>
                                                    <td><div class="contractor_info_tit" ><a href="<?php echo $this->escape($this->url(array('itemid' => $this->contractorInfo['contractor_info_id'], 'type' => 'licence'), 'ItemAttachmentList')); ?>">View Licence Attachment</a></div></td>
                                                    <td></td>													
                                                </tr>
                                            <?php endif; ?>
                                        </tbody>		
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </div>


    </div>
</div>

<script type="text/javascript">
    var page_number = 0;
    var loading = false;
    var is_last_request = 0;
    function getData(page_number, is_first_time) {
        if (typeof (is_first_time) === 'undefined')
            is_first_time = 0;
        if (is_first_time == 0 && !($('#loading_img').length > 0)) {
            $('#activityLogDiv').after('<div class="row" style="display:block" id="loading_img"><div class="col-md-6 col-md-offset-5"> <img src="/pic/loading-4.gif"> </div></div>');
        }
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {'is_first_time': is_first_time, 'page_number': page_number},
            url: "<?php echo $this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoActivityLog'); ?>",
            success: function (result) {
                is_last_request = result.is_last_request;
                if (is_first_time == 1) {
                    $('#activity_log_data').html(result.data);
                } else {
                    $("#result").append(result.data);
                }

                $('#loading_img').remove();
                loading = false;
                console.log(is_last_request);
            }
        });

    }


    //$(document).ready(function () {
    $("#activLog").click(function () {
        getData(page_number, 1);
        $("#tabs-activityLog").scroll(function () { //detect div scroll
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight)  //user scrolled to bottom of the div?
            {
                if (loading == false && is_last_request == 0) {
                    loading = true;
                    page_number++;
                    getData(page_number);
                }
            }
        });
    });

    //});
</script>

<script type="text/javascript">
    function cancel_message(msg) {
        $("#add_cancel_btn").hide();
//        var msg = $("#status_msg").html();
        $(".status_box").html('<p><span id="status_msg">' + msg + '</span>   <a class="status_edit" onclick="edit_message()"><b><i class="fa fa-pencil fa-1x"></i></b></a></p>');

    }
    function edit_message() {
        $("#add_cancel_btn").show();
        var msg = $("#status_msg").html();
        $(".status_box").html(' <textarea class="status_text" placeholder="Enter message ...">' + msg + '</textarea>');
    }
    $(document).ready(function () {

        $('#contractor_profile').change(function () {

            if ($('#contractor_profile').get(0).files.length != 0) {
                $("#loader_view").css('display', 'block');
                $("#moh").ajaxForm(
                        {
                            target: '#preview',
                            success: function () {
                                $("#loader_view").css('display', 'none');
                            }
                        }).submit();

            }
        });




    });
    function toggle_active_deactive() {
        $.ajax({
            url: "<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'toggleActivateOrDeactivateUsers')); ?> ",
            success: function (data) {
                //alert('change success ');

            }
        });
    }
</script>
<script>

    $('#status a').click(function (e) {
        e.preventDefault();
        var status = $(this).find('span').html();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoChangeStatus')); ?>",
            data: {status_id: status},
            dataType: "json",
            success: function (data) {
//                alert(data);
                if (data == 'Working') {
                    $("#current_status").html('<i class="fa fa-check-circle" style="color:#89D54F;font-size: 20px;"></i>')
                } else if (data == 'Away') {
                    $("#current_status").html('<i class="icon-away"></i>')
                } else if (data == 'Busy') {
                    $("#current_status").html('<i class="fa fa-minus-circle" style="color:red;font-size: 20px;"></i>')
                }
            }
        });
    });
    $('.status_btns a').click(function (e) {
        e.preventDefault();
        var status_text = $(".status_text").val();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoChangeStatus')); ?>",
            data: {status_text: status_text},
            dataType: "json",
            success: function (data) {
                $("#add_cancel_btn").hide();
                $(".status_box").html('<p><span id="status_msg">' + status_text + '</span>   <a class="status_edit" onclick="edit_message()"><b><i class="fa fa-pencil fa-1x"></i></b></a></p>');
                $(".status_text").addClass("status_text_disabled");
            }
        });
    });
    $(document).ready(function () {
        getData_2();
        load_contractor_services();
    });
    function load_contractor_services() {
        $('#contractor_services').html("....");
        $.ajax({
            url: "<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceList2')); ?> ",
            success: function (data) {
                $('#contractor_services').html(data);
            }
        });
    }



    var count = 0;
    function getData_2() {
        // $('#contractor_discussion_2').append('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'allContractorDiscussion')); ?>",
            dataType: "json",
            success: function (msg) {

                if (count < msg.count) {

                    $('#contractor_discussion_2').html('<ul class="disc_b dis2" ></ul>');
                    $.each(msg.discussions, function (index, discussion) {
                        if (discussion.image.length > 0) {
                            $('#discussions,.dis2').append(
                                    '<li><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>' +
                                    discussion.user.username + '(' + discussion.user.role_name + ')</b></span>' +
                                    ' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' + discussion.discussion_date + '</span></div><div class="disc_message">' +
                                    '<img  style="margin-right: 10px;" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/')); ?>' + discussion.image[0].thumbnail_path + '"/>' +
                                    '' + discussion.user_message + '</div></li>'
                                    );
                            //console.log('if');  

                        } else if (discussion.grouped_images.length > 0) {

                            var discussion_text = '<li><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>' +
                                    discussion.user.username + '(' + discussion.user.role_name + ')</b></span>' +
                                    ' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' + discussion.discussion_date + '</span></div><div class="disc_message"><div style="  width:auto;float: left;margin-right: 10px;" id="group' + index + '">';
                            for (var i = 0; i < discussion.grouped_images.length; i++) {
                                discussion_text = discussion_text + '<img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/')); ?>' + discussion.grouped_images[i].thumbnail_path + '"/>';
                            }



                            discussion_text = discussion_text + '</div>' + discussion.user_message + '</div><div style="clear:both"></div></li>';
                            $('#discussions,.dis2').append(discussion_text);


                        } else {
                            $('.dis2').append(
                                    '<li>' +
                                    '<div class="normal_font"><span> <i class="fa fa-user"></i> <b>' +
                                    discussion.user.username + ' (<span class="red_color">' + discussion.user.role_name + '</span>)' +
                                    '</b></span>' +
                                    '&nbsp;<span >' +
                                    '<i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' +
                                    discussion.discussion_date +
                                    '</span>' +
                                    '</div>' +
                                    '<div class="disc_message">' +
                                    discussion.user_message +
                                    '</div>' +
                                    '</li>'
                                    );
                        }
                    });


                } else {
                    $('.contractor_dis_empty').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">No comments.</h3></div>'
                            );
                }

            }
        });
    }
    $('.nav-pills, .nav-tabs').tabdrop();
	
	function deleteWorkingHours(id) {
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array(), 'deleteWorkingHour')); ?>",
            data: {working_hour_id: id},
            success: function (msg) {
                window.location.reload();
            }
        });
    }

</script>
