<?php
ViewHelper::setStyleSheet('/css/jquery.mThumbnailScroller.css');
ViewHelper::setJavaScript('/js/jquery.mThumbnailScroller.min.js');
ViewHelper::setStyleSheet('/plugins/fancybox/jquery.fancybox.css');
ViewHelper::setJavaScript('/plugins/fancybox/jquery.fancybox.js');
ViewHelper::setJavaScript('/js/jquery.form.js');


$colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
//Booking Address Map
if ($this->is_address):
    ?>
    <?php echo $this->MAP_OBJECT_Booking->getHeaderJS(); ?>
    <?php echo $this->MAP_OBJECT_Booking->getMapJS(); ?>
<?php endif; ?>
<style>
    .profile-image{
        width: 120px;
        float: left;
        margin-left: 30px;
    }
    .profile-cog{
        position: absolute;
        right: 12px;
        top: 20%;
    }
    .profile-image{
        position: relative;
    }
    .active_contractor_toggle{
        margin:10px 0px;
    }
    .active_contractor_toggle .onoffswitch-inner:before{
        padding-left: 10px;
    }
    .btn{
        padding: 6px 5px !important;
    }
    .count-info{
        color:#676A6C;
    }
</style>

<div class="row m-b-lg m-t-lg">
    <div class="col-md-5">

        <div class="profile-image" >
            <div id="preview">
                <img  src="<?php
                if ($this->user['avatar']) {
                    echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $this->user['avatar']);
                } else {
                    echo $this->baseUrl('/pic/contractor_pic1.png');
                }
                ?>" width="96" height="96" class="img-circle circle-border " alt="profile">

                <div id="loader_view" style="display: none;">
                    <img class="img-responsive" src="<?php echo $this->baseUrl('/pic/loading-4.gif'); ?>" />
                </div>
            </div>
            <div class="btn-group profile-cog">
                <button data-toggle="dropdown" class="btn  btn-xs dropdown-toggle"><i class="fa fa-camera"></i></button>
                <ul class="dropdown-menu setting-m">
                    <li>
                        <a>
                            <form method="POST" id="moh" enctype="multipart/form-data" action="<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingContractorPicUpload')); ?>" >
                                <span class="span_file_input">
                                    Update Profile Picture <input name="profile_picture" type="file"  id="contractor_profile" accept="image/x-png, image/jpg, image/jpeg" />
                                </span>
                            </form> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="star-rating"> 
                <span class="fa fa-star-o fa-lg" data-rating="1"></span>
                <span class="fa fa-star-o fa-lg" data-rating="2"></span>
                <span class="fa fa-star-o fa-lg" data-rating="3"></span>
                <span class="fa fa-star-o fa-lg" data-rating="4"></span>
                <span class="fa fa-star-o fa-lg" data-rating="5"></span>
                <input type="hidden" name="contractor_rate" class="rating-value" value="<?= round($this->contractorRate); ?>">
            </div>
            <script>
                var $star_rating = $('.star-rating .fa');
                var SetRatingStar = function () {
                    return $star_rating.each(function () {
                        if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                            return $(this).removeClass('fa-star-o').addClass('fa-star');
                        } else {
                            return $(this).removeClass('fa-star').addClass('fa-star-o');
                        }
                    });
                };

                $star_rating.on('click', function () {
                    $star_rating.siblings('input.rating-value').val($(this).data('rating'));
                    return SetRatingStar();
                });

                SetRatingStar();
            </script>
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">
                        <?php echo $this->escape($this->user['username']); ?>
                        <span class="dropdown">
                            <a aria-expanded="false" class="dropdown-toggle count-info" data-toggle="dropdown" href="#" style="
                               color: #676A6C;
                               font-size: 19px;
                               ">
                                <i class="fa fa-chevron-circle-down"></i>
                            </a>
                            <ul class="dropdown-menu con_dropdown">


                                <?php if (CheckAuth::checkCredential(array('loginAsThisUser'))) : ?>

                                    <li>
                                        <a style="color: #676A6C;" onclick="confirmDelete('<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingsUserLoginAsThisUser')) ?>', 'Are you sure you want to Login as this User ?');" >
                                            <i class="fa fa-user"></i>&nbsp; Login As This User</a>
                                    </li>
                                <?php endif; ?>


                                <?php if (CheckAuth::checkCredential(array('settingsUserPassword'))) : ?>
                                    <li style="color: #676A6C;" >

                                        <a  href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Change Password', '<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingsUserPassword')) ?>');" >
                                            <i class="fa fa-unlock-alt"></i>&nbsp;Change Password</a>

                                    </li>
                                <?php endif; ?>

                                <?php if (CheckAuth::checkCredential(array('settingsUserDelete'))) : ?>
                                    <li style="color: #676A6C;">

                                        <a  href="javascript:;" onclick="confirmDelete('<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingsUserDelete')); ?>', 'Are you sure you want to delete this User ?');">
                                            <i class="fa fa-trash"></i>&nbsp;Delete</a>  
                                    </li>
                                <?php endif; ?>
                                <li style="color: #676A6C;">
                                    <a data-toggle="modal" data-target="#popupi" onclick="popupi('Gmail Account', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorGmailAdd')) ?>');">
                                        Modify Gmail Accounts</a>
                                </li>
                            </ul>
                        </span>

                    </h2>
                    <h4><?php echo $this->escape($this->contractorInfo['business_name']); ?></h4>
                    <small style="float:left;">
                        <?php if (CheckAuth::checkCredential(array('calendar'))): ?>
                            <a class="btn" style="color:#000;" href="<?php echo $this->escape($this->url(array(), 'calendar')); ?>?contractor=<?php echo $this->contractor_id; ?>">
                                <i class="fa fa-calendar"></i><span class="nav-label">
                                </span> </a>					
                        <?php endif; ?>  

                        <a class="btn" style="color:#000;" target="_blank"  href="#" onclick="window.open('<?php echo 'https://www.google.com/calendar/embed?src=' . $this->escape($this->user['email1']); ?>', '_blank');" >
                            <img src="/pic/gc.png"/>
                        </a>
                        <div>
                            <?php if (CheckAuth::checkCredential(array('activateOrDeactivateUsers'))) : ?>
                                <div class="active_contractor_toggle">
                                    <label  class="checkup date_is_visited">Active</label> 
                                    <div class="switch float-r">
                                        <div class="onoffswitch custome_service_switch">
                                            <input  type="checkbox" <?php
                                            if ($this->user['active'] == 'TRUE') {
                                                echo 'checked="true"';
                                            }
                                            ?>    class="onoffswitch-checkbox" id="active_input" onchange="toggle_active_deactive()" 
                                                    <?php
                                                    if ($this->user['active'] == 'TRUE')
                                                        echo 'value="true"';
                                                    else
                                                        'value="false"';
                                                    ?>>
                                            <label class="onoffswitch-label" for="active_input">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <div class="clearfix"></div>
                        </div>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table small m-b-xs">
            <tbody>
                <tr>
                    <?php //if ($this->countAwaitingaccept && $this->countAwaitingaccept != 0) { ?>
                    <td>
                        <a class="dropdown-toggle count-info" 
                           href="<?php echo $this->escape($this->url(array(), 'awaitingAcceptBooking')); ?>?fltr[contractor_id]=<?php echo $this->contractor_id ?>">
                            <strong><?php echo $this->countAwaitingaccept; ?></strong> Awaiting accept
                        </a>
                    </td>
                    <?php //} ?>

                    <?php //if ($this->countUnapprovedBookingContractor && $this->countUnapprovedBookingContractor != 0 && CheckAuth::checkCredential(array('canApproveBooking'))) { ?>
                    <td>
                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'unapproved')); ?>?fltr[contractor_id]=<?php echo $this->contractor_id ?>">
                            <strong><?php echo $this->countUnapprovedBookingContractor; ?></strong> Awaiting Approval
                        </a>
                    </td>
                    <?php //} ?>
                    <?php //if ($this->countAwaitingUpdate && $this->countAwaitingUpdate != 0) {
                    ?>
                    <td>
                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'awaitingUpdateBooking')); ?>?fltr[contractor_id]=<?php echo $this->contractor_id ?>">	
                            <strong><?php echo $this->countAwaitingUpdate; ?></strong>  Awaiting Update
                        </a>
                    </td>
                    <?php //} ?>
                    <?php
                    //if ($this->countRejectBookingContractor && $this->countRejectBookingContractor != 0) {
                    ?>
                    <td>
                        <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[rejectBookings]=reject&fltr[contractor_id]=<?php echo $this->contractor_id; ?>">
                            <strong><?php echo $this->countRejectBookingContractor; ?></strong> Rejected Booking
                        </a>
                    </td>
                    <?php // } ?>
                    <?php
                    //if ($this->countOpenComplaintForContractor && $this->countOpenComplaintForContractor != 0) {
                    ?>
                    <td>
                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>?fltr[complaintStatus]=open&fltr[contractor_id]=<?php echo $this->contractor_id; ?>">	
                            <strong><?php echo $this->countOpenComplaintForContractor ? $this->countOpenComplaintForContractor : 0; ?></strong> Complaints
                        </a>
                    </td>
                    <?php //} ?>

                </tr>
                <tr>
                    <?php
                    //if ($this->countUnapprovedComplaintForContractors && CheckAuth::checkCredential(array('canApproveComplaint'))) {
                    ?> 
                    <td>
                        <a class="dropdown-toggle count-info" 
                           href="<?php echo $this->escape($this->url(array(), 'unapprovedComplaint')); ?>">
                            <strong> <?php echo $this->countUnapprovedComplaintForContractors ?></strong>  Unapproved Complaints 
                        </a>
                    </td>
                    <?php //} ?>

                    <?php
                    //  if ($this->countUnapprovedPaymentsForContractors && $this->countUnapprovedPaymentsForContractors != 0 && CheckAuth::checkCredential(array('paymentList'))) {
                    ?> 
                    <td>
                        <a class="dropdown-toggle count-info" 
                           href="<?php echo $this->escape($this->url(array(), 'paymentList')); ?>?fltr[is_approved]=no&fltr[contractor_id]=<?php echo $this->contractor_id; ?>">
                            <strong> <?php echo $this->countUnapprovedPaymentsForContractors; ?></strong>  Unapproved Payments 
                        </a>
                    </td>
                    <?php //} ?>
                    <?php //if ($this->countClaimOwnerContractor && $this->countClaimOwnerContractor != 0) { ?> 
                    <td>
                        <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'claimOwner')); ?>?fltr[user_id]=<?php echo $this->contractor_id; ?> ">
                            <strong><?php echo $this->countClaimOwnerContractor; ?></strong>  Claim Owners 
                        </a>
                    </td>
                    <?php //} ?>
                    <?php
                    //  if ($this->countMissedCallsContaractor && $this->countMissedCallsContaractor != 0) {
                    ?> 
                    <td>
                        <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>?is_read= no&user_id=<?php echo $this->contractor_id; ?>"> 
                            <strong> <?php echo $this->countMissedCallsContaractor; ?></strong>   Messages  
                        </a>
                    </td>
                    <?php //} ?>

                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Detail</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">

                        <div class="row" id="booking_map" style="height:200px;width:100%;margin:0 auto;">
                            <?php if ($this->is_address): ?>
                                <?php echo $this->MAP_OBJECT_Booking->printOnLoad(); ?>
                                <?php echo $this->MAP_OBJECT_Booking->printMap(); ?>
                                <div id="map_directions"></div>
                            <?php else: ?>
                                <div style="" class="noRowsMessageDIV">There is no Address for this contractor.

                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseBooking">
                                    <span class="collapse_arrow"></span> 
                                    <b>
                                        <i class="icon-booking"></i> Booking Summary
                                    </b>
                                </a>
                            </h4>


                        </div>

                        <div id="collapseBooking" class="panel-collapse collapse in">
                            <div class="panel-body no-padding">
                                <ul class="contractor_booking_list">

                                    <li>
                                        <a  href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'defultPage')); ?>" >Defult Booking Page (All)</a>
                                    </li> 


                                    <?php if (isset($this->bookingStatusCounts)):
                                        ?>
                                        <?php foreach ($this->bookingStatusCounts as $bookingStatusCount): ?>
                                            <?php if ($bookingStatusCount['total']): ?>
                                                <li>
                                                    <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[status]=<?php echo $this->escape($bookingStatusCount['booking_status_id']) ?>&fltr[contractor_id]=<?php echo $this->contractor_id; ?>"><?= $bookingStatusCount['name']; ?> <span class="badge" style="background-color:<?= $colors[$bookingStatusCount['color']] ?>"><?= $bookingStatusCount['total']; ?></span>													
                                                    </a>									  
                                                </li> 
                                            <?php endif; ?>


                                        <?php endforeach; ?>
                                    <?php endif; ?> 


                                    <?php if ($this->countUnapprovedBookingContractor && $this->countUnapprovedBookingContractor != 0 && CheckAuth::checkCredential(array('canApproveBooking'))): ?>
                                        <li>
                                            <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'unapproved')); ?>?fltr[contractor_id]=<?php echo $this->contractor_id ?>">
                                                Awaiting Approval  <span class="badge" style="background-color:#62aa00;"><?php echo $this->countUnapprovedBookingContractor; ?></span>

                                            </a>
                                        </li>
                                    <?php endif; ?>



                                    <?php if ($this->countRejectBookingContractor && $this->countRejectBookingContractor != 0): ?>
                                        <li>
                                            <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[rejectBookings]=reject&fltr[contractor_id]=<?php echo $this->contractor_id; ?>">
                                                Rejected Booking <span class="badge" style="background-color:#000000;"><?php echo $this->countRejectBookingContractor; ?></span>

                                            </a>
                                        </li>
                                    <?php endif; ?>



                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle  " data-toggle="collapse" data-parent="#accordion" href="#collapseServices">
                                    <span class="collapse_arrow"></span><b><i class="icon-services"></i>Services Provided</b>
                                </a>
                            </h4>
                            <div class="inline float-r">

                                <?php if (CheckAuth::checkCredential(array('settingsServicesEdit'))): ?>
                                    <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceList')); ?>"><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div  class="tabs_button">
                            <b> 
                                <a  class="black_color upper" href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New Service', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceAdd')); ?>');" >
                                    New Service &nbsp;<i class="fa fa-plus"></i> </a>
                            </b>
                        </div>
                        <div id="collapseServices" class="panel-collapse collapse in">				
                            <div class="panel-body" id="contractor_services">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">


      
            <div class="panel-group" id="accordion">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">

                            <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseDiscussion">
                                <span class="collapse_arrow"></span>	<b><i class="icon-discussion"></i>Discussion Board</b>
                            </a>
                        </h4>
                    </div>
                    <div  class="tabs_button" >
                        <b><a class="black_color upper" href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Contractor Discussion', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'contractorDiscussion')); ?>');">Add Comment &nbsp;<i class="fa fa-plus"></i> </a>
                        </b>
                    </div>
                    <div id="collapseDiscussion" class="panel-collapse collapse">	
                        <div class="panel-body">
                            <div id="contractor_discussion_2">

                                <div class="contractor_dis_empty">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="collapse_arrow"></span> <b> <i class="icon-contractor-info"></i>Business Information</b>
                            </a>
                        </h4>

                        <div class="inline float-r">
                            <?php if (CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))): ?>
                                <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Contractor Info', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoAdd')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b></a>

                            <?php endif; ?>
                        </div>
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body no-padding">
                            <table class="table  table-striped table_no_top_border">
                                <tbody>

                                    <tr>
                                        <td><div class="contractor_info_tit" >Role : </div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['role_name']); ?></div></td>

                                    </tr>

                                    <tr>
                                        <td><div class="contractor_info_tit" >Username : </div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['username']); ?></div></td>

                                    </tr>

                                    <tr>
                                        <td><div class="contractor_info_tit" >Business Name :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['business_name']); ?></div></td>

                                    </tr>

                                    <tr>
                                        <td><div class="contractor_info_tit" >TFN (Tax File Number) :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['tfn']); ?></div></td>

                                    </tr>

                                    <tr>
                                        <td> <div class="contractor_info_tit" >ABN (Australian Business Number) :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['abn']); ?></div></td>



                                    <tr>
                                        <td><div class="contractor_info_tit" >ACN (Australian Company Number) :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['acn']); ?></div></td>

                                    </tr>

                                    <tr>
                                        <td> <div class="contractor_info_tit" >GST (Goods and Services Tax) :</div></td>
                                        <td>    <div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['gst'] ? 'yes' : 'no'); ?></div></td>

                                    </tr>

                                    <tr>
                                        <td> <div class="contractor_info_tit" >GST Date Registered :</div></td>
                                        <td> <div class="contractor_info_tit_type"><?php echo $this->escape(date(get_config('date'), $this->contractorInfo['gst_date_registered'])); ?></div></td>

                                    </tr>
                                </tbody>
                            </table>





                        </div>

                    </div>
                </div>




                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">
                                <span class="collapse_arrow"></span> <b><i class="icon-map"></i>Address & Contact Details</b>
                            </a> 
                        </h4>
                        <div class="float-r inline">
                            <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Address & Contact Info', '<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingsContractorEdit')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b></a>
                        </div>
                    </div>
                    <div id="collapsetwo" class="panel-collapse collapse">
                        <div class="panel-body no-padding">
                            <table class="table  table-striped table_no_top_border">

                                <tbody>
                                    <tr>
                                        <td> <div class="contractor_info_tit" >Unit / Lot No :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['unit_lot_number']) ?></div></td>

                                    </tr>

                                    <tr>
                                        <td> <div class="contractor_info_tit" >Street Number :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['street_number']) ?></div></td>

                                    </tr>

                                    <tr>
                                        <td> <div class="contractor_info_tit" >Street Name :</div></td>
                                        <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['street_address']) ?></div></td>

                                    </tr>

                                    <tr>
                                        <td>  <div class="contractor_info_tit">Suburb :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['suburb']) ?></div></td>

                                    </tr>

                                    <tr>
                                        <td>  <div class="contractor_info_tit">Postcode :</div></td>
                                        <td>  <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['postcode']) ?></div></td>

                                    </tr>

                                    <tr>
                                        <td>  <div class="contractor_info_tit">PO Box (Postal Address):</div></td>
                                        <td>   <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['po_box']) ?></div></td>

                                    </tr>

                                    <tr>
                                        <td> <div class="contractor_info_tit" >City :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['country_name'] . ' - ' . $this->user['city_name']) ?></div></td>

                                    </tr>

                                    <tr>
                                        <td>  <div class="contractor_info_tit">State :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['state']) ?></div></td>

                                    </tr>

                                    <tr>
                                        <td> <div class="contractor_info_tit" >Email 1: </div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email1']) ?></div></td>

                                    </tr>

                                    <tr>
                                        <td><div class="contractor_info_tit" >Email 2: </div></td>
                                        <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email2']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td><div class="contractor_info_tit" >Email 3: </div></td>
                                        <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email3']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td> <div class="contractor_info_tit" >Mobile 1: </div></td>
                                        <td>  <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile1']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td> <div class="contractor_info_tit" >Mobile 2: </div></td>
                                        <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile2']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td><div class="contractor_info_tit" >Mobile 3: </div></td>
                                        <td>   <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile3']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td>  <div class="contractor_info_tit" >Phone 1: </div></td>
                                        <td>  <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone1']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td>  <div class="contractor_info_tit" >Phone 2: </div></td>
                                        <td>  <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone2']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td>  <div class="contractor_info_tit" >Phone 3: </div></td>
                                        <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone3']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td> <div class="contractor_info_tit" >Fax: </div></td>
                                        <td> <div class="contractor_info_tit_type"><?php echo $this->escape($this->user['fax']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td><div class="contractor_info_tit" >Emergency Phone: </div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['emergency_phone']) ?></div></td>

                                    </tr>

                                </tbody>


                            </table>

                        </div>

                    </div>
                </div>




                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_email">
                                <span class="collapse_arrow"></span> 
                                <b>
                                    <i> <img src="/pic/gmail.png" width="21px" height="18px"/></i>&nbsp;Gmail account 
                                </b>
                            </a>
                        </h4>
                        <div class="inline float-r">
                            <a class="color-white" data-toggle="modal" data-target="#popupi" onclick="popupi('Gmail Account', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorGmailAdd')) ?>');">
                                <i class="fa fa-pencil fa-1x"></i>  
                            </a>

                        </div>
                    </div>

                    <div id="collapse_email" class="panel-collapse collapse">
                        <ul class="contractor_booking_list">
                            <?php if ($this->contractorGmailAccount): ?>
                                <li><?php echo $this->contractorGmailAccount; ?></li>
                            <?php else: ?>
                                <li>There are no gmail account</li>
                            <?php endif; ?>
                        </ul>
                    </div>
                </div>



                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                <span class="collapse_arrow"></span> <b><i class="icon-insurance"></i>Insurance</b>
                            </a>
                        </h4>

                        <div class="inline float-r">
                            <?php if (isset($this->contractorInfo['contractor_info_id'])) { ?>
                                <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorInsuranceList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                            <?php } ?>


                        </div>
                    </div>
                    <div id="collapsefive" class="panel-collapse collapse">
                        <div class="panel-body no-padding">
                            <ul class="contractor_booking_list">


                                <?php if ($this->contractorInsurance): ?>

                                    <?php $counter = 1; ?>
                                    <?php foreach ($this->contractorInsurance as $insurance): ?>
                                        <li>
                                            (<?php echo $this->escape($counter); ?>)
                                            <table>
                                                <tr>
                                                    <th>Insurance Policy Number :</th>
                                                    <td><?php echo $this->escape($insurance['insurance_policy_number']); ?></td>
                                                </tr>
                                                <tr>
                                                    <th>Insurance Policy Start :</th>
                                                    <td><?php
                                                        echo (strlen($insurance['insurance_policy_start']) < 10 ) ? $this->escape($insurance['insurance_policy_start']) : $this->escape(date(get_config('date'), $insurance['insurance_policy_start']));
                                                        ?></td>
                                                </tr>

                                                <tr>
                                                    <th>Insurance Policy Expiry  :</th>
                                                    <td><?php echo (strlen($insurance['insurance_policy_expiry']) < 10 ) ? $this->escape($insurance['insurance_policy_expiry']) : $this->escape(date(get_config('date'), $insurance['insurance_policy_expiry'])); ?></td>
                                                </tr>

                                                <tr>
                                                    <th>Insurance Listed Services Covered : </th>
                                                    <td><?php echo $this->escape($insurance['insurance_listed_services_covered']) ?></td>
                                                </tr>
                                                <tr>
                                                    <th>Insurance Type</th>
                                                    <td><?php echo $this->escape($insurance['insurance_type']) ?></td>
                                                </tr>
                                            </table>
                                        </li>
                                        <?php $counter++; ?>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <li>
                                        No insurance details
                                    </li>
                                <?php endif; ?> 

                            </ul>

                        </div>

                    </div>
                </div>



                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                <span class="collapse_arrow"></span>  <b><i class="icon-driver"></i>Drivers Licence</b>
                            </a>
                        </h4>
                        <div class="inline float-r">

                            <?php if ((CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))) && (isset($this->contractorInfo['contractor_info_id']))): ?>
                                <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Drivers Licence', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoEditLicence')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b></a>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div id="collapsesix" class="panel-collapse collapse">
                        <div class="panel-body no-padding">
                            <table class="table table-striped table_no_top_border">
                                <tbody>

                                    <tr>
                                        <td><div class="contractor_info_tit" >Drivers Licence Number :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['drivers_licence_number']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td>Drivers Licence Type :</td>
                                        <td> <?php echo $this->escape($this->contractorInfo['driver_licence_type']) ?></td>
                                    </tr>
                                    <tr>
                                        <td><div class="contractor_info_tit" >Drivers Licence Expiry :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php
                                                echo (strlen($this->contractorInfo['drivers_licence_expiry']) < 10 ) ? $this->escape($this->contractorInfo['drivers_licence_expiry']) : $this->escape(date(get_config('date'), $this->contractorInfo['drivers_licence_expiry']));
                                                ?></div></td>

                                    </tr>

                                    <?php if (isset($this->licenceAttachments)): ?>
                                        <tr>
                                            <td><div class="contractor_info_tit" ><a href="<?php echo $this->escape($this->url(array('itemid' => $this->contractorInfo['contractor_info_id'], 'type' => 'licence'), 'ItemAttachmentList')); ?>">View Licence Attachment</a></div></td>
                                            <td></td>													
                                        </tr>

                                    <?php endif; ?>


                                </tbody>		
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">				
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed " data-toggle="collapse" data-parent="#accordion" href="#collapseBank">
                                <span class="collapse_arrow"></span> <b><i class="icon-insurance"></i>Bank Account Details</b>
                            </a>
                        </h4>

                        <div class="inline float-r">

                            <?php if ((CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))) && (isset($this->contractorInfo['contractor_info_id']))): ?> 
                                <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Bank Account Details', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoEditBankDetails')); ?>');"><b><i class="fa fa-pencil fa-1x"></i></b></a>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div id="collapseBank" class="panel-collapse collapse">
                        <div class="panel-body no-padding">
                            <table class="table  table-striped table_no_top_border">
                                <tbody>

                                    <tr>
                                        <td>     <div class="contractor_info_tit" >Bank Name :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['bank_name']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td><div class="contractor_info_tit" >Account Name :</div></td>
                                        <td><div class="contractor_info_tit_type">
                                                <?php echo $this->escape($this->contractorInfo['account_name']) ?>
                                            </div></td>

                                    </tr>
                                    <tr>
                                        <td> <div class="contractor_info_tit" >BSB :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['bsb']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td><div class="contractor_info_tit" >Account Number :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['account_number']) ?></div></td>

                                    </tr>


                                </tbody>	
                            </table>
                        </div>

                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                <span class="collapse_arrow"></span><b> <i class="icon-payment"></i>Payment Agreement</b>
                            </a>
                        </h4>
                        <div class="inline float-r">

                            <?php if ((CheckAuth::checkCredential(array('settingsContractorInfoAdd')) || CheckAuth::checkCredential(array('settingsContractorInfoEdit'))) && (isset($this->contractorInfo['contractor_info_id']))): ?>

                                <a href="javascript:;" class="contractor_a_link color-white"  data-toggle="modal" data-target="#popupi" onclick="popupi('Modify Payment Agreement', '<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorInfoEditPayment')); ?>');"><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div id="collapseseven" class="panel-collapse collapse">
                        <div class="panel-body no-padding">
                            <table class="table table-striped table_no_top_border">
                                <tbody>
                                    <tr>
                                        <td>  <div class="contractor_info_tit" >Bond to be Withheld :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['bond_to_be_withheld']) ?></div></td>

                                    </tr>
                                    <tr>
                                        <td><div class="contractor_info_tit" >Commission :</div></td>
                                        <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->contractorInfo['commission']) ?>%</div></td>

                                    </tr>
                                    <tr>

                                    </tr>
                                    <tr>

                                    </tr>
                                    <tr>

                                    </tr>
                                    <tr>

                                    </tr>
                                    <tr>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>







                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_emp">
                                <span class="collapse_arrow"></span> 
                                <b>
                                    <i class="icon-Employee"></i>Employees
                                </b>
                            </a>
                        </h4>
                        <div class="inline float-r">

                            <?php if (CheckAuth::checkCredential(array('settingsContractorEmployeeEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorEmployeeList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                            <?php endif; ?>
                        </div>



                    </div>

                    <div id="collapse_emp" class="panel-collapse collapse">
                        <div class="panel-body no-padding">

                            <ul class="contractor_booking_list">
                                <?php if ($this->contractorEmployee): ?>

                                    <?php $counter = 1; ?>
                                    <?php foreach ($this->contractorEmployee as $employee): ?>

                                        <li>
                                            <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Employee Details', '<?php echo $this->escape($this->url(array('id' => $employee['contractor_employee_id']), 'settingsContractorEmployeeview')); ?>');"class="details_info_name"> (<?php echo $this->escape($counter); ?>) <?php echo $this->escape($employee['name']) ?></a>
                                        </li>

                                        <?php $counter++; ?>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <li>
                                        There are no Employee 
                                    </li>
                                <?php endif; ?>

                            </ul>
                        </div>
                    </div>
                </div>




                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_qub">
                                <span class="collapse_arrow"></span> 
                                <b>
                                    <i class="icon-tools"></i>Equipment
                                </b>
                            </a>
                        </h4>
                        <div class="inline float-r">

                            <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfEquipmentEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfEquipmentList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                            <?php endif; ?>
                        </div>



                    </div>

                    <div id="collapse_qub" class="panel-collapse collapse">
                        <div class="panel-body no-padding">

                            <ul class="contractor_booking_list">

                                <?php if ($this->declarationOfEquipment): ?>

                                    <?php $counter = 1; ?>
                                    <?php foreach ($this->declarationOfEquipment as $equipment): ?>
                                        <li>(<?php echo $this->escape($counter); ?>)<?php echo $this->escape($equipment['equipment']) ?>
                                        </li>
                                        <?php $counter++; ?>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <li>
                                        There are no Equipment
                                    </li>
                                <?php endif; ?>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_Apparatus">
                                <span class="collapse_arrow"></span> 
                                <b>
                                    <i class="icon-Apparatus"></i>Apparatus 


                                </b>
                            </a>
                        </h4>
                        <div class="inline float-r">

                            <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfOtherApparatusEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                <a  class="color-white"  href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfOtherApparatusList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                            <?php endif; ?>
                        </div>



                    </div>

                    <div id="collapse_Apparatus" class="panel-collapse collapse">
                        <div class="panel-body no-padding">

                            <ul class="contractor_booking_list">

                                <?php if ($this->declarationOfOtherApparatus): ?>

                                    <?php $counter = 1; ?>
                                    <?php foreach ($this->declarationOfOtherApparatus as $otherApparatus): ?>
                                        <li>
                                            (<?php echo $this->escape($counter); ?>)
                                            <?php echo $this->escape($otherApparatus['other_apparatus']) ?>
                                        </li>
                                        <?php $counter++; ?>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <li>
                                        There are no Apparatus
                                    </li>
                                <?php endif; ?>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_owners">
                                <span class="collapse_arrow"></span> 
                                <b>
                                    <i class="icon-Owners"></i>Owner(s)


                                </b>
                            </a>
                        </h4>
                        <div class="inline float-r">

                            <?php if (CheckAuth::checkCredential(array('settingsContractorOwnerEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                <a  class="color-white"  href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorOwnerList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                            <?php endif; ?>
                        </div>



                    </div>

                    <div id="collapse_owners" class="panel-collapse collapse">
                        <div class="panel-body no-padding">

                            <ul class="contractor_booking_list">

                                <?php if ($this->contractorOwner): ?>

                                    <?php $counter = 1; ?>
                                    <?php foreach ($this->contractorOwner as $owner): ?>
                                        <li>(<?php echo $this->escape($counter); ?> )
                                            <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Owner Details', '<?php echo $this->escape($this->url(array('id' => $owner['contractor_owner_id']), 'settingsContractorOwnerview')); ?>');"class="details_info_name"><?php echo $this->escape($owner['name']) ?></a>
                                        </li>
                                        <?php $counter++; ?>
                                    <?php endforeach; ?>
                                <?php else: ?>   
                                    <li>
                                        There are no owner(s)
                                    </li>
                                <?php endif; ?>
                            </ul>
                        </div>
                    </div>
                </div>		




                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_chem">
                                <span class="collapse_arrow"></span> 
                                <b>
                                    <i class="icon-Chemicals"></i>Chemicals 


                                </b>
                            </a>
                        </h4>
                        <div class="inline float-r">

                            <?php if (CheckAuth::checkCredential(array('settingsDeclarationOfChemicalsEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                <a  class="color-white"  href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsDeclarationOfChemicalsList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                            <?php endif; ?>
                        </div>



                    </div>

                    <div id="collapse_chem" class="panel-collapse collapse">
                        <div class="panel-body no-padding">

                            <ul class="contractor_booking_list">

                                <?php if ($this->declarationOfChemicals): ?>

                                    <?php $counter = 1; ?>
                                    <?php foreach ($this->declarationOfChemicals as $chemicals): ?>
                                        <li>(<?php echo $this->escape($counter); ?>)
                                            <?php echo $this->escape($chemicals['chemicals']) ?>
                                        </li>
                                        <?php $counter++; ?>
                                    <?php endforeach; ?>

                                <?php else: ?>   
                                    <li>
                                        There are no Chemicals
                                    </li>
                                <?php endif; ?>
                            </ul>
                        </div>
                    </div>
                </div>			
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_Vehicle">
                                <span class="collapse_arrow"></span> 
                                <b>
                                    <i class="icon-vehicle"></i>Vehicles
                                </b>
                            </a>
                        </h4>
                        <div class="inline float-r">

                            <?php if (CheckAuth::checkCredential(array('settingsContractorVehicleEdit')) && isset($this->contractorInfo['contractor_info_id'])): ?>
                                <a  class="color-white" href="<?php echo $this->escape($this->url(array('contractor_info_id' => $this->contractorInfo['contractor_info_id']), 'settingsContractorVehicleList')); ?>" ><b><i class="fa fa-pencil fa-1x"></i> </b></a>
                            <?php endif; ?>
                        </div>



                    </div>

                    <div id="collapse_Vehicle" class="panel-collapse collapse">
                        <div class="panel-body no-padding">

                            <ul class="contractor_booking_list">


                                <?php if ($this->contractorVehicle): ?>

                                    <?php $counter = 1; ?>
                                    <?php foreach ($this->contractorVehicle as $vehicle): ?>
                                        <li>
                                            (<?php echo $this->escape($counter); ?>)
                                            <table>
                                                <tr>
                                                    <th>Registration No. :</th>
                                                    <td><?php echo $this->escape($vehicle['registration_number']); ?></td>
                                                </tr>
                                                <tr>
                                                    <th>Make :</th>
                                                    <td><?php echo $this->escape(date('Y', $vehicle['make'])); ?></td>
                                                </tr>

                                                <tr>
                                                    <th>Model :</th>
                                                    <td><?php echo $this->escape($vehicle['model']); ?></td>
                                                </tr>

                                                <tr>
                                                    <th>Color : </th>
                                                    <td><?php echo $this->escape($vehicle['colour']); ?></td>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <td></td>
                                                </tr>


                                            </table>
                                        </li>
                                        <?php $counter++; ?>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <li>
                                        There are no vehicle
                                    </li>
                                <?php endif; ?> 

                            </ul>
                        </div>
                    </div>
                </div>		
            </div>

        </div>


    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#contractor_profile').change(function () {

            if ($('#contractor_profile').get(0).files.length != 0) {
                $("#loader_view").css('display', 'block');
                $("#moh").ajaxForm(
                        {
                            target: '#preview',
                            success: function () {
                                $("#loader_view").css('display', 'none');
                            }
                        }).submit();

            }
        });




    });
    function toggle_active_deactive() {
        $.ajax({
            url: "<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'toggleActivateOrDeactivateUsers')); ?> ",
            success: function (data) {
                //alert('change success ');

            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        getData_2();
        load_contractor_services();

    });
    function load_contractor_services() {
        $('#contractor_services').html("....");
        $.ajax({
            url: "<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceList2')); ?> ",
            success: function (data) {
                $('#contractor_services').html(data);
            }
        });
    }



    var count = 0;
    function getData_2() {
        // $('#contractor_discussion_2').append('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'allContractorDiscussion')); ?>",
            dataType: "json",
            success: function (msg) {

                if (count < msg.count) {

                    $('#contractor_discussion_2').html('<ul class="disc_b dis2" ></ul>');
                    $.each(msg.discussions, function (index, discussion) {
                        $('.dis2').append(
                                '<li>' +
                                '<div class="normal_font"><span> <i class="fa fa-user"></i> <b>' +
                                discussion.user.username + ' (<span class="red_color">' + discussion.user.role_name + '</span>)' +
                                '</b></span>' +
                                '&nbsp;<span >' +
                                '<i class="glyphicon glyphicon-time" aria-hidden="true"></i> ' +
                                discussion.discussion_date +
                                '</span>' +
                                '</div>' +
                                '<div class="disc_message">' +
                                discussion.user_message +
                                '</div>' +
                                '</li>'
                                );
                    });


                } else {
                    $('.contractor_dis_empty').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>'
                            );
                }

            }
        });
    }
</script>
