<!--log-activity.phtml By Walaa-->

<!-- tabs-history --> 
            

                        <?php //echo $this->contractor_id; 
						
						if(isset($this->bookingLogs) && !empty($this->bookingLogs)): 
							$bookingLogs = $this->bookingLogs;
							if(isset($this->contractor_id) && !empty($this->contractor_id)){
								$contractor_id = $this->contractor_id;
								$modelUser = new Model_User();
								$user = $modelUser->getById($contractor_id);
							}
							$modelBookingLog = new Model_BookingLog();
						?>
                            <div id="activityLogDiv">
                                <div id="result">
                                    <?php foreach ($bookingLogs as $key => $bookingLog): 
										$previousUserLog = $modelBookingLog->getPreviousUserLog($bookingLog['log_user_id'], $bookingLog['log_id']);
										// var_dump($previousUserLog);
										$enabled = false;
										if(isset($previousUserLog) && !empty($previousUserLog)){
											$enabled = true;
										}
										// var_dump(!empty($previousUserLog));
										$activityLogeDateData = getActivityLogDateFormating($bookingLog['log_created'],$previousUserLog['log_created'],$enabled);
										if(isset($activityLogeDateData['MonthYear']) && !empty($activityLogeDateData['MonthYear'])){   var_dump($activityLogeDateData); ?>
											<div class="monthyear row">
												<div class="col-sm-12"><?php echo $activityLogeDateData['MonthYear'];?></div>
											</div>																										
										<?php	
										}
										if(isset($activityLogeDateData['MonthDay']) && !empty($activityLogeDateData['MonthDay'])){?>
											<div class="pam monthday bottomborder uiBoxWhite row">
												<div class="col-sm-12"><?php echo $activityLogeDateData['MonthDay'];?></div>
											</div>
										<?php	
										}		
										?>
										
										<div class="row pam bottomborder uiBoxWhite">
											<div class="col-sm-4">
												<label class="control-label" style="display:block;"> <a class="a_link_black" href="<?php echo $this->escape($this->url(array('id' => $bookingLog['log_id']), 'logBookingView')); ?>" target = '_blank'> <?php echo '<b>' . (!empty($user['username']) ? $this->escape(strtoupper($user['username'])) : 'Server') . '</b>' . " changed " . '<b>' . $this->escape($bookingLog['booking_num']);?> </a></label>
												<span style="font-size:9px"><?php echo $this->escape($activityLogeDateData['Time']); ?></span>
											</div>
											
											
											<?php if (!empty($bookingLog['history_details'])): ?>											
												<div class="col-sm-8">
													<ul style ="padding-left: 20px;list-style-type:circle"> 
														<?php foreach ($bookingLog['history_details'] as $historyDetails): ?>
															<li>
																<?php echo $historyDetails; ?>
															</li>
														<?php endforeach; ?>
													</ul>
												</div>     
											<?php endif; ?>
										</div>
										
                                    <?php endforeach; ?>
										
                                      
                                        
                                    
                                </div>
                            </div>
                        <?php else: 
								if(isset($this->is_first_time) && $this->is_first_time == 1){?> 
									<div class="inquiry-no-result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There is no History.</h3></div>
								<?php } ?>
                        <?php endif; ?>
                    