<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Edit Payment
                </div>
                <div class="clearb"></div>
            </div>

            <form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">

                <div class="calender_slct_customer_cont">

                    <div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Invoice#</div>
                        <div class="calender_slct_customer_dropdown"> <input type="text"  style="background-color: gainsboro" value= "<?php echo $this->escape($this->bookingInvoice['invoice_num']) ?>" readonly="readonly"/>
                            <?php if (CheckAuth::checkCredential(array('editInvoiceNumber'))): ?>
                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $this->bookingInvoice['id']), 'editInvoiceNumber')); ?>','100','450','Edit Invoice Number');" class="details_info_opt">Edit Invoice Number</a>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
					<div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Booking Num</div>
                        <div class="calender_slct_customer_dropdown"> 
							<input type="text"  style="background-color: gainsboro" value= "<?php echo $this->escape($this->bookingInvoice['booking']['booking_num']) ?>" readonly="readonly"/>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Invoice Amount</div>
                        <div class="calender_slct_customer_dropdown"><input type="text"  style="background-color: gainsboro" value= "<?php echo $this->escape(number_format($this->bookingInvoice['booking']['qoute'], 2, '.', '')) ?>" readonly="readonly"/></div>
                        <div style="clear: both;"></div>
                    </div >
                    <div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Invoice Date</div>
                        <div class="calender_slct_customer_dropdown"><input type="text" style="background-color: gainsboro" value= "<?php echo $this->escape(date("d M Y",$this->bookingInvoice['created'])) ?>" readonly="readonly"/></div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Customer Name</div>
                        <div class="calender_slct_customer_dropdown"><input type="text" style="background-color: gainsboro"  value= "<?php echo $this->escape($this->bookingInvoice['customer_name']) ?>" readonly="readonly"/></div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Invoice Type</div>
                        <div class="calender_slct_customer_dropdown"><input type="text"  style="background-color: gainsboro" value= " <?php echo $this->escape($this->bookingInvoice['invoice_type']) ?>" readonly="readonly"/></div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div class="calender_slct_customer_cont">

                    <div>
                        <div class="calender_slct_customer_txt">Received Date</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('received_date')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Payment Type</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('payment_type_id')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="margin_t_10" id="contractors">
                        <div class="calender_slct_customer_txt">Technician</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('contractor_id')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Payment Amount</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('amount')->render(); ?>
                            <div class="hint">Amount paid by the customer including the <b>bank charges</b>.</div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Payment Reference #</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('reference')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                </div>

                <div class="calender_slct_customer_cont" style="display: none;">

                    <div>
                        <div class="calender_slct_customer_txt">Withholding Tax</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('withholding_tax')->render(); ?>
                            <label for="withholding_tax">Yes, the customer has deducted withholding tax</label>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div id="amount_withheld_block" style="margin-top: 10px; <?php if (!$this->form->getElement('withholding_tax')->getValue()): ?>display: none;<?php endif; ?>">
                        <div class="calender_slct_customer_txt">Amount Withheld</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('amount_withheld')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                </div>

                <div class="calender_slct_customer_cont" style="display: none;">

                    <div>
                        <div class="calender_slct_customer_txt">Bank Charges</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('bank_charges')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                </div>

                <div class="calender_slct_customer_cont">
                    <div>
                        <div class="calender_slct_customer_txt">Description</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('description')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="margin_t_10">
                        <div class="calender_slct_customer_txt">Acknowledgment</div>
                        <div class="calender_slct_customer_dropdown">
                            <?php echo $this->form->getElement('is_acknowledgment')->render(); ?>
                            <label for="is_acknowledgment">Thank your customer for the payment via email</label>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>

            </form>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <div>
                    <a href="javascript:;" onclick="$('#form').submit();" class="btn_a">
                        <div class="text_pos">
                            Save
                        </div>
                    </a>
                </div>
                <div class="btn_cont">
                    <a href="<?php echo $this->escape($this->url(array('id' => $this->bookingInvoice['id']), 'invoiceView')); ?>" class="btn_a">
                        <div class="text_neg">
                            No Payment
                        </div>
                    </a>
                </div>

            </div>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function() {
        $("#received_date").datepicker({
            dateFormat: 'd M yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    });
</script>