<?php
// Style Sheet
ViewHelper::setStyleSheet('/plugins/wbCalendar/css/main.css');
?>
<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Payment
                </div>
                <div class="sort_booking_cont">
                    <?php if (CheckAuth::checkCredential(array('bookingPaymentList')) || CheckAuth::checkCredential(array('paymentList'))): ?>
                        <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingPaymentList') : $this->url(array(), 'paymentList')); ?>?fltr[is_approved]=all" style="<?php echo $this->escape(isset($this->filters['is_approved']) && $this->filters['is_approved'] == 'all' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">all</a> |
                        <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingPaymentList') : $this->url(array(), 'paymentList')); ?>?fltr[is_approved]=yes" style="<?php echo $this->escape(isset($this->filters['is_approved']) && $this->filters['is_approved'] == 'yes' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">approved</a> |
                        <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingPaymentList') : $this->url(array(), 'paymentList')); ?>?fltr[is_approved]=no" style="<?php echo $this->escape(isset($this->filters['is_approved']) && $this->filters['is_approved'] == 'no' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">unapproved</a> |
                        <a href="<?php echo $this->escape(isset($this->booking_id) && $this->booking_id ? $this->url(array('booking_id' => $this->booking_id), 'bookingPaymentList') : $this->url(array(), 'paymentList')); ?>?fltr[is_mark]=yes" style="<?php echo $this->escape(isset($this->filters['is_mark']) && $this->filters['is_mark'] == 'yes' ? 'text-decoration: underline; color:red;' : 'text-decoration: none; color: #4F8BC3;'); ?>">marked</a>
                    <?php endif; ?>
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="" sortingMethod="POST" onsubmit="return confirm('are you sure you want to delete this Payment?');">
                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                            <tr class="bg_table">
                                <td class="padd_l_5px">
                                    Mark
                                </td>
                                <td class="padd_l_5px" style="padding-left: 10px;">
                                    <?php echo SortOrder::generate_link('Date', 'received_date') ?>
                                </td>
                                <td>
                                    <?php echo SortOrder::generate_link('Payment Details', 'payment_type_id') ?>
                                </td>
								<td style="padding-right: 30px;">
                                    Technician
                                </td>
                                <td>
                                    Reference#
                                </td>
                                <td class="head_title">
                                    <?php echo SortOrder::generate_link('Amount Paid', 'amount') ?>
                                </td>
                            </tr>
                            <?php $count = 0; ?>
                            <?php $modelCustomer = new Model_Customer(); ?>
                            <?php $modelPaymentType = new Model_PaymentType(); ?>
                            <?php $modelBookingInvoice = new Model_BookingInvoice(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont" <?php echo!empty($row['is_mark']) ? 'style="background-color: red;"' : ''; ?>>
                                        <div class="details_info_l">
                                            <input type="checkbox" style="margin: 3px;" id="payment_<?php echo $this->escape($row['payment_id']) ?>" onclick="markPayment(<?php echo $this->escape($row['payment_id']) ?>,'<?php echo $this->escape($this->url(array('payment_id' => $row['payment_id']), 'markPayment')); ?>')" <?php echo!empty($row['is_mark']) ? 'checked="checked"' : ''; ?> />
                                        </div>
                                        <?php if (!empty($row['is_mark']) && !empty($row['mark_comment'])): ?>
                                            <div>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('payment_id' => $row['payment_id']), 'markPaymentView')); ?>','300','600');" class="details_info_opt"><img src="/pic/comments.png" border="0"></a>
                                            </div>
                                        <?php endif; ?>
                                    </td>
                                    <td class="details_info_l" style="padding-left: 10px; width: 250px;">
                                        <div id="received_date_container_<?php echo $this->escape($row['payment_id']) ?>" class="details_info_l">
                                            <div id="received_date_value_<?php echo $this->escape($row['payment_id']) ?>" style="float: left; width: 165px;">
                                                <?php echo $this->escape(getDateFormating($row['received_date'], false)) ?>
                                            </div>
                                            <?php if (CheckAuth::checkCredential(array('paymentApprove'))): ?>
                                                <div  id="received_date_button_<?php echo $this->escape($row['payment_id']) ?>" style="float: left; margin-left: 10px;">
                                                    <a href="javascript:;" onclick="change_received_date(<?php echo $this->escape($row['payment_id']) ?>)" class="a_link"> Edit</a>
                                                </div>
                                            <?php endif; ?>
                                            <div class="clearBoth"></div>
                                        </div>
                                        <div class="details_info_l" style="font-size: 10px; font-weight: bold;">
                                            <?php echo $this->escape($row['is_approved'] ? 'APPROVED' : 'UNAPPROVED'); ?>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l" style="width: 350px;">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))): ?>
                                                    <a href="<?php echo $this->url(array('id' => $row['customer_id']), 'customerView'); ?>" class="a_link_black">
                                                        <?php $customer = $modelCustomer->getById($row['customer_id']); ?>
                                                        <?php echo $this->escape(get_customer_name($customer)); ?>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <?php
                                                $invoice = $modelBookingInvoice->getByBookingId($row['booking_id']);
                                                $paymentType = $modelPaymentType->getById($row['payment_type_id']);
                                                ?>

                                                <span style="color: #A1A1A1;">Amount received by </span>
                                                <b><?php echo $this->escape($paymentType['payment_type']) ?></b>

                                                <span style="color: #A1A1A1;"> for </span>

                                                <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $invoice['id']), 'invoiceView')); ?>" class="a_link_black"><b><?php echo $this->escape($invoice['invoice_num']).', '; ?></b></a>
                                                <?php else: ?>
                                                    <span><b><?php echo $this->escape($invoice['invoice_num']).', '; ?></b></span>
                                                <?php endif; ?> 
												
												<?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_link_black"><b><?php echo $row['booking_num']; ?></b></a>
                                                <?php else: ?>
                                                    <span><b><?php echo $row['booking_num'];?></b></span>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php
                                            $actions = array();

                                            if (0 === $row['is_approved']) {
                                                if (CheckAuth::checkCredential(array('paymentEdit'))) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('id' => $row['payment_id']), 'editPayment')) . '"  class="details_info_opt">Edit</a>';
                                                }
                                                if (CheckAuth::checkCredential(array('paymentDelete'))) {
                                                    $onclickConfirm = "'{$this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentDelete'))}','Are you sure you want to delete this Payment ?'";
                                                    $actions[] = '<a href="javascript:;" onclick="confirmDelete(' . $onclickConfirm . ');" class="details_info_opt">Delete</a>';
                                                }
                                            }

                                            if (CheckAuth::checkCredential(array('markPayment')) && !empty($row['is_mark'])) {
                                                $popupConfig = "'{$this->escape($this->url(array('payment_id' => $row['payment_id']), 'modifyMarkComment'))}','200','400','Mark Comment'";
                                                $actions[] = '<a href="javascript:;" onclick="showPopupWindow(' . $popupConfig . ');" class="details_info_opt">Modify Mark Comment</a>';
                                            }
                                            if (CheckAuth::checkCredential(array('paymentApprove'))) {
                                                if (0 === $row['is_approved']) {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentApprove')) . '" onclick="return confirm(\'Are you sure you want to Approve this Payment?\');" class="details_info_opt">Approve</a>';
                                                } else {
                                                    $actions[] = '<a href="' . $this->escape($this->url(array('booking_id' => $row['booking_id'], 'id' => $row['payment_id']), 'paymentUnapprove')) . '" onclick="return confirm(\'Are you sure you want to Unapprove this Payment?\');" class="details_info_opt">Unapprove</a>';
                                                }
                                            }
                                            ?>
                                            <?php echo implode('&ensp;<span class="details_breaks">|</span>&ensp;', $actions); ?>
                                        </div>
                                    </td>
									<td>
										<div class="details_info_l">
                                    <?php 
									/////// By Islam get contractor name
										$modleContractorServiceBooking=new Model_ContractorServiceBooking();
										$contractorsId=$modleContractorServiceBooking->getContractorsBybookingId($row['booking_id']);
										
										$modleUser=new Model_User();
										foreach($contractorsId as $contractorId){
										$contractorName=$modleUser->getContractorById($contractorId);
										?>
										<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractorId), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $contractorName['username']; ?></a>
                                    			
										<?php
										
										}
									?>
										</div>
									</td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['reference']); ?>
                                        </div>
                                    </td>
                                    <td class="details_info_r" style="width: 110px; ">
                                        <div class="details_info_l" style="text-align: left;" >
                                            $ <?php echo $this->escape(number_format($row['amount'], 2)); ?>
                                        </div>
										<?php if($row['is_change']){ ?>
											<div class="details_info_l" style="font-size: 10px; font-weight: bold; color: red;">
												<?php echo $this->escape($row['is_change'] ? 'AWAITING APPROVAL' : ''); ?>
											</div>
										<?php } ?>
										
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Payment.
                    <?php if (CheckAuth::checkCredential(array('paymentList'))): ?>
                        <div class="nvoice_index_all_payment_link">
                            <a href="<?php echo $this->escape($this->url(array(), 'paymentList')); ?>">View all Payment</a>
                        </div>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">

                <div style="color:#000000;" class="rhsCustomerName rhsPanel" id="RHSDIV">
                    <div style="" class="f11 ffva">
                        <b>How do I record a payment received from a customer?</b>
                        <br>
                        <br>
                        To do this:
                        <ol class="invoice_index_ol_style">
                            <li class="f11">Go to an invoice</li>
                            <li class="f11">Click on <b>Add Payment</b> link</li>
                            <li class="f11">Please enter the payment details</li>
                            <li class="f11">Click on <b>Save</b>
                            </li>
                        </ol>
                    </div>
                </div>

                <form id="search_form">
                    <div class="search" style="margin-top: 15px;">
                        <div class="button_actions">
                            Search Payment
                        </div>
                        <div class="button_actions">
                            <div class="float_l_r">
                                <input  style="width: 170px;" name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                            </div>
                            <div class="search_lens_cont">
                                <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance"><img style="border: 1px solid lightgray;" src="/pic/lens.png" width="23" height="23"/></a>
                            </div>
                            <div  style="clear: both;"></div>
                        </div>
                    </div>
                </form>
        </td>
    </tr>
</table>


<script type="text/javascript">
    function AddEditAttributeValue(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=310&width=450');
        });
    }
    
    function markPayment(payment_id,payment_url){
        
        if ($('#payment_'+payment_id).is(':checked')) {
            $('#payment_'+payment_id).parents('.checkbox_booking_cont').css('background-color', 'red');
            showPopupWindow(payment_url,'200','400','Mark Comment');
        }else{
            if($('#payment_'+payment_id).parents('tr').hasClass('tr_cont_1')){
                var color = '#FFFFFF';
            } else {
                var color = '#F0F6FC';
            }
            $('#payment_'+payment_id).parents('.checkbox_booking_cont').css('background-color', color);
            
            $.ajax({
                type: "POST",
                url: "/ajax/unmarkPayment",
                data: "payment_id="+payment_id,
                success: function(result) {
                    if(result == '1'){
                        window.location.reload();
                    }
                }
            });
        }
    }
    
    function change_received_date(payment_id){
       
        var value = $('#received_date_value_'+payment_id).html().trim();
        $('#received_date_value_'+payment_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="received_date_'+payment_id+'" readonly="readonly" value="'+value+'" />');
        $('#received_date_button_'+payment_id).css('padding-top','2px');
        $('#received_date_button_'+payment_id).html('<a href="javascript:;" onclick="save_received_date('+payment_id+')" class="a_link">Save</a>');
        $('#received_date_'+payment_id).datepicker({
            dateFormat: 'MM dd ,yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true
        });
    }
    
    function save_received_date(payment_id){
        $('#received_date_button_'+payment_id).css('padding-top','0');
        $('#received_date_button_'+payment_id).html('<img src="/pic/loading-4.gif">');
        $('#label_'+payment_id).remove();
        
        var received_date = $('#received_date_'+payment_id).val();
        if(received_date != ''){
            $.ajax({
                type: "POST",
                url:"/ajax/changeReceivedDate",
                data:{
                    'received_date':received_date,
                    'payment_id':payment_id
                },
                success: function(result) {
                    if(result == '1'){
                        $('#received_date_value_'+payment_id).html(received_date);
                        $('#received_date_button_'+payment_id).html('<a href="javascript:;" onclick="change_received_date('+payment_id+')" class="a_link">Edit</a>');
                    }
                }
            
            });
        }else{
            $('#received_date_value_'+payment_id).html('<input type="text" style="width: 165px; font-size: 12px; padding-left:3px;" id="received_date_'+payment_id+'" readonly="readonly" />');
            $('#received_date_button_'+payment_id).css('padding-top','2px');
            $('#received_date_button_'+payment_id).html('<a href="javascript:;" onclick="save_received_date('+payment_id+')" class="a_link">Save</a>');
            $('#received_date_container_'+payment_id).after('<label id="label_'+payment_id+'"class="error">Field required</label>');
            $('#received_date_'+payment_id).datepicker({
                dateFormat: 'MM dd ,yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true
            });
        }
    }
 
</script>
