
<div style="border: 1px solid #EFEFEF;  background-color: #F7F7F7; width: 100%; font-size: 11px; height: 100% ">
    <div style="padding: 10px;">
        <div style="text-align: center;">
            <h1>Mark Comment</h1>
        </div>
      
        <div style="border: 1px solid #ACD2E7; padding: 10px;">
            <?php echo nl2br($this->escape($this->payment['mark_comment'])); ?>
        </div> 
    </div>
</div>
