<div>
    <table class="table">
        <tr>
            <td class="left_side">
                <div id="divToPrint">
                    <?php
                    $view = new Zend_View();
                    $view->setScriptPath(APPLICATION_PATH . '/modules/invoices/views/scripts/payment');
                    $view->payment = $this->payment;
                    $view->booking = $this->booking;
                    $view->invoice = $this->invoice;
                    $view->refund = $this->refund;
                    echo $view->render('statment-body.phtml');
                    ?>
                </div>
            </td>
            <td class="right_side">
                <div class="invoice_print_cont">
                    <div>
                        <a href="javascript:;" onclick="ClickHereToPrint()">Print this Invoice</a>
                    </div>
                    <div>
                        <?php if (CheckAuth::checkCredential(array('sendStatmentsAsEmail'))): ?>
                            <a href="<?php echo $this->url(array('id' => $this->booking['booking_id']), 'sendStatmentsAsEmail'); ?>">Email Invoice</a>
                        <?php endif; ?>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <iframe id="ifrmPrint" src="#" style="width:0px; height:0px;"></iframe>
    <script type="text/javascript">
        function ClickHereToPrint(){
            try{
                var oIframe = document.getElementById('ifrmPrint');
                var oContent = document.getElementById('divToPrint').innerHTML;
                var oDoc = (oIframe.contentWindow || oIframe.contentDocument);
                if (oDoc.document) oDoc = oDoc.document;
                oDoc.write("<head><title>title</title>");
                oDoc.write("</head><body onload=\"this.focus(); this.print();\">");
                oDoc.write(oContent + "</body>");
                oDoc.close();
            }
            catch(e){
                self.print();
            }
        }
    </script>
</div>




