<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Estimate Details
                </div>
                <div class="clearb"></div>
            </div>
            <div id="divToPrint">
                <?php
                $view = new Zend_View();
                $view->setScriptPath(APPLICATION_PATH . '/modules/invoices/views/scripts/index');
                $view->booking_services = $this->booking_services;
                $view->this_booking_services = $this->this_booking_services;
                $view->price_array = $this->price_array;
                $view->booking = $this->booking;
                echo $view->render('invoice-statment.phtml');
                ?>
            </div>
        </td>
        <td class="right_side">
            <div class="invoice_print_cont">
                <div>
                    <a href="javascript:;" onclick="ClickHereToPrint()">Print this Estimate</a>
                </div>
                <div>
                    <?php if (CheckAuth::checkCredential(array('sendEstimateAsEmail'))): ?>
                        <a href="<?php echo $this->escape($this->url(array('id' => $this->booking['booking_id']), 'sendEstimateAsEmail')); ?>">Email Estimate</a>
                    <?php endif; ?>
                </div>
            </div>
        </td>
    </tr>
</table>
<style>
    .right_side a{
        text-decoration: none;
        color: #2666B0;
    }
    .right_side a:hover{
        text-decoration: underline;
        color: red;
    }
</style>
<iframe id="ifrmPrint" src="#" style="width:0px; height:0px;"></iframe>
<script type="text/javascript">
    function ClickHereToPrint(){
        try{
            var oIframe = document.getElementById('ifrmPrint');
            var oContent = document.getElementById('divToPrint').innerHTML;
            var oDoc = (oIframe.contentWindow || oIframe.contentDocument);
            if (oDoc.document) oDoc = oDoc.document;
            oDoc.write("<head><title>title</title>");
            oDoc.write("</head><body onload=\"this.focus(); this.print();\">");
            oDoc.write(oContent + "</body>");
            oDoc.close();
        }
        catch(e){
            self.print();
        }
    }
</script>