<?php
$modelContractorServiceBooking = new Model_ContractorServiceBooking();
$modelServices = new Model_Services();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelContractorServiceBookingTemp = new Model_ContractorServiceBookingTemp();
$modelBooking = new Model_Booking();
$modelBookingStatus = new Model_BookingStatus();
$modelBookingStatusHistory = new Model_BookingStatusHistory();
$modelUser = new Model_User();
$modelBookingInvoice = new Model_BookingInvoice();
$modelBookingProduct = new Model_BookingProduct();
$modelProduct = new Model_Product();



/**
 * oldStatusId
 */
$oldStatusId = $modelBookingStatusHistory->getOldStatusIdByBookingId($this->bookingId);


?>

<div>    
    <form method="POST"  class="form-horizontal" id="Approved_form" action="<?php echo $this->escape($this->url(array('bookingId' => $this->bookingId), 'approvedService')); ?>">
     <div class="ibox no-margin-b">
	    <div class="ibox-content">
        <div class="row">
          <div class="col-md-5">
            <h3>Approve Booking <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
          	(<a href="<?php echo $this->escape($this->url(array('id' => $this->bookingId), 'bookingView')); ?>" target="_blank" class="details_info_name"><?php echo $this->escape($this->booking['booking_num']) ?></a>)
           
            <?php endif; ?>
            </h3>
			<h4>Technician : <?php 
			

	$contractors = $modelContractorServiceBookingTemp->getContractorServicesByBookingId($this->bookingId);
	if($contractors){
	foreach($contractors as $contractor){
			$contractor_name = $modelUser->getById($contractor['contractor_id']);
			if($contractor_name){
            $modelUser->fill($contractor_name, array('contractor_info'));
			
            ?>
			<a href="<?php echo $this->escape($this->url(array('contractor_id' => $contractor_name['user_id']), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo isset($contractor_name['contractor_name']) ? $contractor_name['contractor_name'] : ''; ?></a>
			<?php 
			
	}
}
}
			?></h4>
          </div>
            <div class="col-md-5 float-lg-r">
			 <input type="hidden" name="redirect_to_payment" value="<?php echo($this->escape($this->redirect_to_payment)); ?>"/>
             <input type="submit" value="Approved" class="btn btn-primary float-r"/>
            </div> 
          </div>
          
       </div>
	   
	   <div class="ibox-content">
        		<div class="row">
                	<div class="col-md-7">
         			    <?php
                        $status_id = $this->booking['status_id'];
                        $bookingStatus = $modelBookingStatus->getById($status_id);
                        ?>
                        <?php $productCounter = 0; ?>
                        
                    <?php if(isset($this->bookingExtraInfo)):?>
                    <div class="form-group">
                                  <label class="col-lg-4 control-label">Onsite Client Name</label>
                                  
                                <div class="col-lg-8">
                                <input MaxLength="200" class="form-control" disabled="disabled" id="onsite_client_name" name="onsite_client_name"   type="text" value="<?php echo $this->escape(isset($this->bookingExtraInfo['onsite_client_name']) ? $this->bookingExtraInfo['onsite_client_name'] : "") ?>" />
                                </div>
                      </div>
                    
                        <?php $job_start = date('d/m/Y H:i A', mySql2PhpTime($this->bookingExtraInfo['job_start'])); ?>               
                        <?php $job_end = date('d/m/Y H:i A', mySql2PhpTime($this->bookingExtraInfo['job_end'])); ?>               
                      <div class="form-group">
                          <label class="col-lg-4 control-label">Job Start Time</label>
                           <div class="col-lg-8">
                                <input MaxLength="200" class="form-control" disabled="disabled" id="job_start_time" readonly name="job_start_time"   type="text" value="<?php echo $this->escape(isset($job_start) ? $job_start : "") ?>" />
                           </div>
                      </div>     
                                
                               
                       <div class="form-group">
                           <label class="col-lg-4 control-label">Job Finish Time</label>
                           <div class="col-lg-8">
                           <input MaxLength="200" class="form-control" disabled="disabled" id="job_finish_time" readonly name="job_finish_time"   type="text" value="<?php echo $this->escape(isset($job_end) ? $job_end : "") ?>" />
                                 
                           </div>
                       </div>               
      
					    
                      
                        
                    
                       
                       
                       
                   
                        
                        
          
          

                  <?php  if ($this->allBookingProduct): ?>
                      <?php foreach ($this->allBookingProduct as $bookingProduct): ?>
                          <div id="product_item<?php echo $this->escape($productCounter? '_' . $productCounter : ''); ?>">
                             <div class="form-group">
                                   <label class="col-lg-4 control-label">Product Name</label>
                                   <div class="col-lg-8">
                                   
                                      <select disabled="disabled" name="product[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="<?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>dropdown form-control">
                                        <option value="">Select One</option>
                                        <?php $products = $modelProduct->getAll(array(), "product ASC");
                                        foreach ($products as $product): ?>
                                            <?php $selected = $bookingProduct['product_id'] == $product['id'] ? 'selected="selected"' : ''; ?>
                                            <option value="<?php echo $this->escape($product['id']); ?>" <?php echo $this->escape($selected); ?>><?php echo $this->escape($product['product']); ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                   	<div class="calender_txt_input">
                                			  Ltr
                              		</div>
                                      <input disabled="disabled" type="text" name="ltr[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="<?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>text_input form-control" value="<?php echo $this->escape(isset($bookingProduct['ltr']) ? $bookingProduct['ltr'] : ''); ?>" />
                                
                      		 </div>
                          </div>
                         </div>
                          <?php $productCounter++; ?>
                      <?php endforeach; ?>
                     <?php endif;?>


                  <div id="more_product"></div>
                   
					 
                         
						 
						 
						 
						 <?php if ('COMPLETED' == $bookingStatus['name']): ?>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Extra Comments</label>
                                     <div class="col-lg-8">
                                        <textarea disabled="disabled"  class="long_text form-control" id="extra_comments" name="extra_comments"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                                </div>
                            <?php endif; ?>
							
							
                 
                             <?php if ('FAILED' == $bookingStatus['name']): ?>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</label>
                                    <div class="col-lg-8">
                                    <textarea disabled="disabled" class="long_text required form-control"  id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                                    
                                    <input name="confirmResetAttribut" id="confirmResetAttribut" type="hidden" value="0"/>
                          			</div>
                            <?php endif; ?>
                            
                            
                            
                             
                        <?php elseif (isset($bookingStatus['name']) && 'TO DO' != $bookingStatus['name'] && 'IN PROGRESS' != $bookingStatus['name'] && 'QUOTED' != $bookingStatus['name']) : ?>
                          <div class="form-group">
                                <label class="col-lg-4 control-label">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</label>
                                 <div class="col-lg-8">
                                    <textarea disabled="disabled" class="long_text required form-control"  id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                </div>
                          		</div>
                        <?php endif; ?>
                        
                        
                        
                        
                        <?php if (isset($bookingStatus['name']) && 'ON HOLD' == $bookingStatus['name']): ?>
                        	  <div class="form-group">
                                <label class="col-lg-4 control-label">To Follow</label>
                                  <div class="col-lg-8">
                              <input disabled="disabled" name="to_follow" type="text"  id="to_follow" class="text_field date_time required form-control"  readonly="readonly"  value="<?php echo $this->escape(isset($this->booking['to_follow']) ? date('d-m-Y', $this->booking['to_follow']) : ''); ?>" />
                         		</div>
                      			</div>
                        <?php elseif (isset($bookingStatus['name']) && 'QUOTED' == $bookingStatus['name']) : ?>
 							 <div class="form-group">
                                    <label class="col-lg-4 control-label">To Follow</label>
                           
                                          <div class="col-lg-8">
                                          <label>
                                            <input disabled="disabled" name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" <?php echo $this->escape(isset($this->booking['is_to_follow']) && $this->booking['is_to_follow'] ? 'checked="checked"' : ''); ?>/>
                                            Confirm
                                        </label>
                                        </div>
                                   
                                 
                            
                     <div id="deferred_date_cont" class="button_actions" <?php echo isset($this->booking['is_to_follow']) && $this->booking['is_to_follow'] ? '' : 'style="display: none;"'; ?> >
                                    <div class="calender_slct_customer_txt">&ensp;</div>
                                    <div class="col-lg-8">
                                        <input disabled="disabled" name="to_follow" type="text"  id="to_follow" class="text_field date_time required"  readonly="readonly"  value="<?php echo $this->escape(isset($this->booking['to_follow']) ? date('d-m-Y', $this->booking['to_follow']) : ''); ?>" />
                              </div>
                            </div>
                            
                            
                            
      				</div>
                       <div class="form-group">
                           	   <label class="col-lg-4 control-label">******</label>
                                       <div class="col-lg-8">
                                       
                                       
                                        </div>
                       			</div> 
       
                    
       			 <?php endif;?>
   				</div>
			</div>
		</div>
		
		<div class="ibox-content">
          	<?php
                  $newStatus = $modelBookingStatus->getById($this->booking['status_id']);
                   $oldStatus = $modelBookingStatus->getById($oldStatusId);
             ?>
        <div class="row">
        	<div class="col-md-6">
                               <input type="radio" name="status_id" disabled="disabled" id="old_status" value="old_status"/>
                               <label for="old_status">
                               Old Status <span>(<?php echo $this->escape($oldStatus['name']); ?>)</span>
                               </label>
            
            			   
     				 
        	</div>
            <div class="col-md-6">
                     <input type="radio" name="status_id" checked="checked" disabled="disabled" id="new_status" value="new_status"/>
                    <label for="new_status">New Status <span>(<?php echo $this->escape($newStatus['name']); ?>)</span></label>
        
            </div>
        </div>
        </div>
		
		<div class="ibox-content">
             
            
        
						<?php if ($this->booking['convert_status'] == 'invoice'): ?>
                        <?php $invoice = $modelBookingInvoice->getByBookingId($this->booking['booking_id']) ?>
                        <?php if (!empty($invoice['invoice_num_temp']) && $invoice['invoice_num_temp'] != $invoice['invoice_num']): ?>
						
			  <div class="row">
            	<div class="col-md-6">
                        <input type="radio" name="invoice_num"  id="old_invoice_num" value="old_invoice_num" <?php echo isset($_POST['invoice_num']) && $_POST['invoice_num'] == 'old_invoice_num' ? 'checked="checked"' : '' ?>/>
                            <label for="old_invoice_num" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">Old Invoice Number <span style="color: #9C0000;">(<?php echo $this->escape($invoice['invoice_num_temp']); ?>)</span></label>
                       
                </div>
                <div class="col-md-6 black-bg">
                
                
                            <input type="radio" name="invoice_num" id="new_invoice_num" value="new_invoice_num" <?php echo isset($_POST['invoice_num']) && $_POST['invoice_num'] == 'new_invoice_num' ? 'checked="checked"' : '' ?>/>
                            <label for="new_invoice_num" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">New Invoice Number <span style="color: #9C0000;">(<?php echo $this->escape($invoice['invoice_num']); ?>)</span></label>
                 </div>
                 </div>
                         <?php endif; ?>
                        <?php endif; ?>
						
						
						<?php if($this->newBookingDate){
						 $newSarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($this->newBookingDate['booking_start'])));
                         $newEarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($this->newBookingDate['booking_end'])));
						 $oldSarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($this->booking['booking_start'])));
                         $oldEarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($this->booking['booking_end'])));
						?>
						<div class="row">
						<div class="col-md-6">
						 <div class="col-md-12">
						    <div class="form-group">
								    <input type="radio" name="booking_date" id="booking_time_old" value="old">
                                    <label for="booking_time_old" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">First Visit</label>
                                  <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" style="padding-left: 22px;padding-right: 32px;">
                                        <div class="row">
                                           <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date11">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input maxlength="10" readonly="" class="form-control" type="text" value="<?php echo (isset($oldSarr[0]) ? $oldSarr[0] : ""); ?>">
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="input-group" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input maxlength="5" readonly="" class="form-control" type="text" value="<?php echo (isset($oldSarr[1]) ? $oldSarr[1] : ""); ?>">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">To</div>
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input maxlength="10" readonly="" class="form-control" type="text" value="<?php echo (isset($oldEarr[0]) ? $oldEarr[0] : ""); ?>">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input maxlength="5" readonly="" class="form-control" type="text" value="<?php echo (isset($oldEarr[1]) ? $oldEarr[1] : ""); ?>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>			
                                    </div>

                                </div>
							   </div>
				
						 </div>
						</div>
						<div class="col-md-6 gray-bg">
						 <div class="col-md-12">
						    <div class="form-group">
								    <input type="radio" name="booking_date" id="booking_time_new" value="new">
                                    <label for="booking_time_new" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">First Visit</label>
                                  <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" style="padding-left: 22px;padding-right: 32px;">
                                        <div class="row">
                                           <div class="row" style="margin:0px">
                                                <div class="col-md-6">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input maxlength="10" readonly="" class="form-control" type="text" value="<?php echo (isset($newSarr[0]) ? $newSarr[0] : ""); ?>">
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="input-group" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input maxlength="5" readonly="" class="form-control" type="text" value="<?php echo (isset($newSarr[1]) ? $newSarr[1] : ""); ?>">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">To</div>
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input maxlength="10" readonly="" class="form-control" type="text" value="<?php echo (isset($newEarr[0]) ? $newEarr[0] : ""); ?>">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input maxlength="5" readonly="" class="form-control" type="text" value="<?php echo (isset($newEarr[1]) ? $newEarr[1] : ""); ?>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>			
                                    </div>

                                </div>
							   </div>
						 
						  </div>
						 </div>
						</div>				    
						<?php } ?>
						
						<?php
                        $visits_arr = array('First Visit', 'Second Visit', 'Third Visit', 'Fourth Visit', 'Fifth Visit', 'Sixth Visit', 'Seventh Visit', 'Eighth Visit', 'Ninth Visit');
                         $visit_num = 0;
						if($this->newMultipleDates){
						    foreach($this->newMultipleDates as $key=>$MultipleDate){
							 $visit_num++;
                             $newSarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($MultipleDate['booking_start'])));
                             $newEarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($MultipleDate['booking_end'])));
						     $oldSarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($this->oldMultipleDates[$key]['booking_start'])));
                             $oldEarr = explode(" ", date('d/m/Y H:i', mySql2PhpTime($this->oldMultipleDates[$key]['booking_end'])));							 
							 
 							 ?>
					  <div class="row">
						<div class="col-md-6">
						 <div class="col-md-12">
						    <div class="form-group">
								    <input type="radio" name="<?= $key ?>" id="<?= $key ?>_old" value="old">
                                    <label for="<?= $key ?>_old" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">									
							      </label>
                                  <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" style="padding-left: 22px;padding-right: 32px;">
                                        <div class="row">
                                           <div class="row" style="margin:0px">
                                                <div class="col-md-6" >
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input maxlength="10" readonly="" class="form-control" type="text" value="<?php echo (isset($oldSarr[0]) ? $oldSarr[0] : ""); ?>">
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="input-group" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input maxlength="5" readonly="" class="form-control" type="text" value="<?php echo (isset($oldSarr[1]) ? $oldSarr[1] : ""); ?>">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">To</div>
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input maxlength="10" readonly="" class="form-control" type="text" value="<?php echo (isset($oldEarr[0]) ? $oldEarr[0] : ""); ?>">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input maxlength="5" readonly="" class="form-control" type="text" value="<?php echo (isset($oldEarr[1]) ? $oldEarr[1] : ""); ?>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>			
                                    </div>

                                </div>
							   </div>
						 
						 </div>
						</div>
						<div class="col-md-6 gray-bg">
						 <div class="col-md-12">
						    <div class="form-group">
								    <input type="radio" name="<?= $key?>" id="<?= $key?>_new" value="new">
                                    <label for="<?= $key ?>_new" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">
									
									</label>
                                  <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" style="padding-left: 22px;padding-right: 32px;">
                                        <div class="row">
                                           <div class="row" style="margin:0px">
                                                <div class="col-md-6" id="date11">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input maxlength="10" readonly="" class="form-control" type="text" value="<?php echo (isset($newSarr[0]) ? $newSarr[0] : ""); ?>" />
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="input-group" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input maxlength="5" readonly="" class="form-control" type="text" value="<?php echo (isset($newSarr[1]) ? $newSarr[1] : ""); ?>">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">To</div>
                                            <div class="row" style="margin:0px">
                                                <div class="col-md-6">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>	  
                                                        <input maxlength="10" readonly="" class="form-control" type="text" value="<?php echo (isset($newEarr[0]) ? $newEarr[0] : ""); ?>">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                                        <input maxlength="5" readonly="" class="form-control" type="text" value="<?php echo (isset($newEarr[1]) ? $newEarr[1] : ""); ?>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>			
                                    </div>

                                </div>
							   </div>
						 
						  </div>
						 </div>
						</div>	
						 <?php }
						 }?>
						
						<?php if ($this->newAddress) : ?>
						   <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                <label class="col-lg-4 control-label">Old Address</label>
                                 	 <div class="col-lg-8">
                               <input type="radio"  class="form-control" name="address" <?php echo isset($_POST['address']) && $_POST['address'] == 'old_address' ? 'checked="checked"' : '' ?> id="old_address" value="old_address"/>
                               		 </div>
                      			</div>
                              </div>
                              <div class="col-md-6 gray-bg" style="padding-bottom: 5px;">
                                 <div class="form-group ">
                                <label class="col-lg-4 control-label">New Address</label>
                                 	 <div class="col-lg-8">
                           <input type="radio" class="form-control" name="address" <?php echo isset($_POST['address']) && $_POST['address'] == 'new-address' ? 'checked="checked"' : '' ?> id="new_address" value="new-address"/>
                               		 </div>
                      			</div>
                              </div>
                         </div>
                      
					  
					  <!-- new -->
					  <div class="row">
					    <div class="col-md-6">
						  <div class="form-group">
                                <label class="col-lg-4 control-label">Unit / Lot No.</label>
                                 	 <div class="col-lg-8">
                             <input class="text_input form-control" name="unit_lot_number"  type="text" value="<?php echo $this->escape(isset($this->oldAddress['unit_lot_number']) ? $this->oldAddress['unit_lot_number'] : "") ?>" />
                               		 </div>
                      	 	   </div>
						</div>
					    <div class="col-md-6 gray-bg" style="padding-bottom: 5px;">
						  <div class="form-group">
                                <label class="col-lg-4 control-label">Unit / Lot No.</label>
                                 	 <div class="col-lg-8">
                          	 	  <input class="text_input form-control" name="unit_lot_number"   type="text" value="<?php echo $this->escape(isset($this->newAddress['unit_lot_number']) ? $this->newAddress['unit_lot_number'] : "") ?>" />
                               		 </div>
                      			</div>
						</div>
					  </div>
					  
					  
					  <div class="row">
					    <div class="col-md-6">
						  <div class="form-group">
                                <label class="col-lg-4 control-label">Street Number</label>
                                 	 <div class="col-lg-8">
                          		<input class="text_input required form-control" name="street_number"   type="text" value="<?php echo $this->escape(isset($this->oldAddress['street_number']) ? $this->oldAddress['street_number'] : "") ?>" />
                               		 </div>
                      			</div>
						</div>
					    <div class="col-md-6 gray-bg" style="padding-bottom: 5px;">
						 <div class="form-group">
                                <label class="col-lg-4 control-label">Street Number</label>
                                 	 <div class="col-lg-8">
                          	 	      <input class="text_input required form-control" name="street_number"  type="text" value="<?php echo $this->escape(isset($this->newAddress['street_number']) ? $this->newAddress['street_number'] : "") ?>" />
                               		 </div>
                      			</div>
						</div>
					  </div>
					  
					  <div class="row">
					   <div class="col-md-6">
					     <div class="form-group">
                                <label class="col-lg-4 control-label">Street Name</label>
                                 	 <div class="col-lg-8">
                          	 		 <input class="text_input required form-control" name="street_address"   type="text" value="<?php echo $this->escape(isset($this->oldAddress['street_address']) ? $this->oldAddress['street_address'] : "") ?>" />
                               		 </div>
                      			</div>
					   </div>
					   <div class="col-md-6 gray-bg" style="padding-bottom: 5px;">
					    <div class="form-group">
                                <label class="col-lg-4 control-label">Street Name</label>
                                 	 <div class="col-lg-8">
                          	 	    <input class="text_input required form-control" name="street_address"  type="text" value="<?php echo $this->escape(isset($this->newAddress['street_address']) ? $this->newAddress['street_address'] : "") ?>" />
                               		 </div>
                      			</div>
					   </div>
					  </div>
					  
					  
					  <div class="row">
					    <div class="col-md-6">
						 <div class="form-group">
                                <label class="col-lg-4 control-label">Suburb</label>
                                 	 <div class="col-lg-8">
                          	 	    <input class="text_input required form-control" name="suburb"   type="text" value="<?php echo $this->escape(isset($this->oldAddress['suburb']) ? $this->oldAddress['suburb'] : "") ?>" />
                               		 </div>
                      			</div>
						</div>
					    <div class="col-md-6 gray-bg" style="padding-bottom: 5px;">
						  <div class="form-group">
                                <label class="col-lg-4 control-label">Suburb</label>
                                 	 <div class="col-lg-8">
                          	 	    <input class="text_input required form-control" name="suburb"   type="text" value="<?php echo $this->escape(isset($this->newAddress['suburb']) ? $this->newAddress['suburb'] : "") ?>" />
                               		 </div>
                      			</div>
						</div>				   
					  </div>
					  
					  <div class="row">
					    <div class="col-md-6">
						 <div class="form-group">
                                <label class="col-lg-4 control-label">Post code</label>
                                 	 <div class="col-lg-8">
                          	 	 <input class="text_input required form-control" name="postcode"  type="text" value="<?php echo $this->escape(isset($this->oldAddress['postcode']) ? $this->oldAddress['postcode'] : "") ?>" />
                               		 </div>
                      	   </div>
						</div>
					    <div class="col-md-6 gray-bg" style="padding-bottom: 5px;">
						  <div class="form-group">
                                <label class="col-lg-4 control-label">Post code</label>
                                 	 <div class="col-lg-8">
                          	   <input class="text_input required form-control" name="postcode" type="text" value="<?php echo $this->escape(isset($this->newAddress['postcode']) ? $this->newAddress['postcode'] : "") ?>" />
                               		 </div>
                      			</div>
						</div>
					  </div>
					  
                      <div class="row">
					    <div class="col-md-6">
						 <div class="form-group">
                                <label class="col-lg-4 control-label">P.O. box</label>
                                 	 <div class="col-lg-8">
                          	 	   <input class="text_input form-control" name="po_box"   type="text" value="<?php echo $this->escape(isset($this->oldAddress['po_box']) ? $this->oldAddress['po_box'] : "") ?>" />
                               		 </div>
                      			</div>
						</div>
					    <div class="col-md-6 gray-bg" style="padding-bottom: 5px;">
						 <div class="form-group">
                                <label class="col-lg-4 control-label">P.O. box</label>
                                 	 <div class="col-lg-8">
                          	     <input class="text_input form-control" name="po_box" type="text" value="<?php echo $this->escape(isset($this->newAddress['po_box']) ? $this->newAddress['po_box'] : "") ?>" />
                               		 </div>
                      			</div>
						</div>
					  
					  </div> 
						<?php endif; ?>
		</div>		

               <?php
                $subTotal = $modelContractorServiceBooking->getTotalBookingQoute($this->bookingId);
				$booking = $modelBooking->getById($this->bookingId);
                $totalDiscount = $booking['total_discount'];
                $callOutFee = $booking['call_out_fee'];
                $gstTax = ($subTotal + $callOutFee - $totalDiscount) * get_config('gst_tax');
                $totalQoute = ($subTotal + $callOutFee - $totalDiscount) + $gstTax;

                $subTotalTemp = $modelContractorServiceBookingTemp->getTotalBookingQoute($this->bookingId);
                $totalDiscountTemp = $booking['total_discount_temp'];
                $callOutFeeTemp = $booking['call_out_fee_temp'];
                $gstTaxTemp = ($subTotalTemp + $callOutFeeTemp - $totalDiscountTemp) * get_config('gst_tax');
                $totalQouteTemp = ($subTotalTemp + $callOutFeeTemp - $totalDiscountTemp) + $gstTaxTemp;

                $discountDisabled = false;
                $callOutFeeDisabled = false;
                if ($totalDiscount == $totalDiscountTemp) {
                    $discountDisabled = true;
                }
                if ($callOutFee == $callOutFeeTemp) {
                    $callOutFeeDisabled = true;
                }
                ?>

           <div class="ibox-content">
		    
			
			<?php if ($this->allBookingServices): ?>
                <?php $booking = $modelBooking->getById($this->bookingId); ?>
                <?php foreach ($this->allBookingServices as $key => $allBookingService): ?>
                    <?php
                    $bookingId = isset($allBookingService['booking_id']) ? $allBookingService['booking_id'] : 0;
                    $serviceId = isset($allBookingService['service_id']) ? $allBookingService['service_id'] : 0;
                    $clone = isset($allBookingService['clone']) ? $allBookingService['clone'] : 0;

                    $serviceDetails = $modelServices->getById($serviceId);

                    // get Old Service  with price and  his attribute
                    $oldService = $modelContractorServiceBooking->getByBookingAndServiceAndClone($bookingId, $serviceId, $clone);
                    $oldServicesAttribute = $modelServiceAttribute->getAttributeByServiceId($oldService['service_id']);
                    $oldAmountServicePrice = $modelContractorServiceBooking->getServiceBookingQoute($bookingId, $serviceId, $clone , 1);
                    $oldTotalServicePrice = $modelContractorServiceBooking->getTotalServiceBookingQoute($bookingId, $serviceId, $clone , 1);
                    $oldContractor = $modelUser->getById($oldService['contractor_id']);
                    if ($oldContractor) {
                        $modelUser->fill($oldContractor, array('contractor_info'));
                    }
                    $isChange = isset($oldService['is_change']) ? $oldService['is_change'] : 0;
                    $isNotChange = !$isChange;

                    // get New Service  with price and  his attribute
                    $newService = $modelContractorServiceBookingTemp->getByBookingAndServiceAndClone($bookingId, $serviceId, $clone);
                    $newServicesAttribute = $modelServiceAttribute->getAttributeByServiceId($newService['service_id']);
                    $newAmountServicePrice = $modelContractorServiceBookingTemp->getServiceBookingQoute($bookingId, $serviceId, $clone);
                    $newTotalServicePrice = $modelContractorServiceBookingTemp->getTotalServiceBookingQoute($bookingId, $serviceId, $clone);
					
					
					
                    $newContractor = $modelUser->getById($newService['contractor_id']);
                    if ($newContractor) {
                        $modelUser->fill($newContractor, array('contractor_info'));
                    }
                    $style = '';
                    if ($isNotChange && $oldService && $newService) {
                        $style = 'background-color: gainsboro;';
                    }
                    ?>
					
					<div class="row">
                              <div class="col-md-6 gray-bg" style="padding-top:5px;">
							    <div class="col-md-8">
								 <h4>Old Service</h4>
								  <div class="form-group">
								    <input type="radio" name="<?php echo $key ?>" <?php echo isset($_POST[$key]) && $_POST[$key] == 'old' ? 'checked="checked"' : '' ?> <?php echo ($isNotChange && $oldService && $newService) ? 'checked="checked" disabled="disabled"' : ''; ?> id="<?php echo $key . '_old' ?>" value="old"/>
                                    <label for="<?php echo $key . '_old' ?>" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; "><?php echo ($oldService ? $this->escape($serviceDetails['service_name']) : "Remove " . $this->escape($serviceDetails['service_name'])); ?></label>
								  </div>
								</div>
                                <div class="col-md-2 col-xs-6" style="text-align:right;"><h4> Amount </h4><div><?php echo $oldAmountServicePrice ? $this->escape(number_format($oldAmountServicePrice, 2)) : 0; ?></div> </div>
                                <div class="col-md-2 col-xs-6" style="text-align:right;"><h4> Total </h4><div><?php echo $oldTotalServicePrice ? number_format($oldTotalServicePrice, 2) : 0; ?></div></div>
								<div class="col-md-12">
								   <div class="form-group">
								      <input readonly="readonly" disabled <?php echo isset($oldService['consider_min_price']) && $oldService['consider_min_price'] ? 'checked="checked"' : ''; ?> type="checkbox"/>
                                      <label style ="vertical-align: text-top; ">  Consider Minimum Price ($ <?php echo $this->escape($serviceDetails['min_price']); ?>)</label>
                           
								   </div>
								</div>	
                              </div>
                              <div class="col-md-6 " style="padding-bottom: 0px; padding-top:5px">
							    
							   <div class="col-md-8">
								 <h4>New Service</h4>
                                 <div class="form-group ">
                                     <input type="radio" name="<?php echo $key ?>" <?php echo isset($_POST[$key]) && $_POST[$key] == 'new' ? 'checked="checked"' : '' ?> <?php echo ($isNotChange && $oldService && $newService) ? 'disabled="disabled"' : ''; ?> id="<?php echo $key . '_new' ?>" value="new"/>
                                     <label for="<?php echo $key . '_new' ?>" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; "><?php echo ($newService ? $this->escape($serviceDetails['service_name']) : "Remove " . $this->escape($serviceDetails['service_name'])); ?></label>
                      			</div>
								</div>
								 <div class="col-md-2 col-xs-6" style="text-align:right;"><h4> Amount </h4><div><?php echo $newAmountServicePrice ? $this->escape(number_format($newAmountServicePrice, 2)) : 0; ?></div> </div>
                                <div class="col-md-2 col-xs-6" style="text-align:right;"><h4> Total </h4><div><?php echo $newTotalServicePrice ? number_format($newTotalServicePrice, 2) : 0; ?></div></div>
								
								<div class="col-md-12">
								<div class="form-group ">
								  <input readonly="readonly" disabled <?php echo isset($newService['consider_min_price']) && $newService['consider_min_price'] ? 'checked="checked"' : ''; ?> type="checkbox"/>
                                  <label style ="vertical-align: text-top; ">  Consider Minimum Price ($ <?php echo $this->escape($serviceDetails['min_price']); ?>)</label>
								</div>
								</div>
                              </div>
                         </div>
						 
						 
						
						 
						 <div class="row">
                              <div class="col-md-6 gray-bg">
							   <div class="col-md-12">
							    <div>
                                <?php foreach ($oldServicesAttribute as $attribute): ?>
                                    <div class="form-group">
                                        <label class="label-control col-md-3">
                                            <?php echo $this->escape($attribute['attribute_name']); ?>
                                        </label>
                                        <div class="col-md-9">
                                            <?php echo drowAttribute($attribute, $this->escape(isset($bookingId) ? $bookingId : 0), 0, $clone, false, true, $style); ?>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                            </div>
							   </div>
							   
							    
                              </div>
                              <div class="col-md-6 " style="padding-bottom: 5px;">
							    <div class="col-md-12">
								  <div>
                                <?php foreach ($newServicesAttribute as $attribute): ?>
                                    <div class="form-group">
                                        <label class="label-control col-md-3">
                                            <?php echo $this->escape($attribute['attribute_name']); ?>
                                        </label>
                                        <div class="col-md-9">
                                            <?php echo drowAttribute($attribute, $this->escape(isset($bookingId) ? $bookingId : 0), 0, $clone, true, true, $style); ?>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                            </div>
								</div>
							    
                              </div>
                         </div>
					
					<?php endforeach;?>
					
					<?php
                $subTotal = $modelContractorServiceBooking->getTotalBookingQoute($bookingId , 1);
                $totalDiscount = $booking['total_discount'];
				$faild = $modelBookingStatus->getByStatusName('FAILED');
                if($oldStatus['booking_status_id'] == $faild['booking_status_id']){
				  $callOutFee = $booking['call_out_fee'];
				}else{
				  $callOutFee = 0;
				}
				
				
                $gstTax = ($subTotal + $callOutFee - $totalDiscount) * get_config('gst_tax');
                $totalQoute = ($subTotal + $callOutFee - $totalDiscount) + $gstTax;

                $subTotalTemp = $modelContractorServiceBookingTemp->getTotalBookingQoute($bookingId);
                $totalDiscountTemp = $booking['total_discount_temp'];
                $callOutFeeTemp = $booking['call_out_fee_temp'];
                $gstTaxTemp = ($subTotalTemp + $callOutFeeTemp - $totalDiscountTemp) * get_config('gst_tax');
                $totalQouteTemp = ($subTotalTemp + $callOutFeeTemp - $totalDiscountTemp) + $gstTaxTemp;

                $discountDisabled = false;
                $callOutFeeDisabled = false;
                if ($totalDiscount == $totalDiscountTemp) {
                    $discountDisabled = true;
                }
                if ($callOutFee == $callOutFeeTemp) {
                    $callOutFeeDisabled = true;
                }
                ?>
				
				<div class="ibox-content">
				<div class="row">
				 <div class="col-md-3 col-md-offset-3 gray-bg">
				  <table class="table table-bordered" style="margin-top:15px">
				  <tr>
				   <th>Sub Total</th>
				   <td><?php echo $this->escape(isset($subTotal) ? number_format($subTotal, 2) : ""); ?> </td>
				   </tr>
				   <?php $modelBookingStatus = new Model_BookingStatus(); ?>
                   <?php $faild = $modelBookingStatus->getByStatusName('FAILED'); ?>
                   <?php if ($booking['status_id'] == $faild['booking_status_id']): ?>
				   <tr>
				    <th>
					 <label for="call_out_fee_old" style="margin-right: 5px;float: left;">Call Out Fee:</label>
                     <input type="radio" id="call_out_fee_old" <?php echo isset($_POST['call_out_fee']) && $_POST['call_out_fee'] == 'old_call_out_fee' ? 'checked="checked"' : '' ?> style="float: left;" <?php echo ($callOutFeeDisabled) ? 'checked="checked" disabled="disabled"' : ''; ?> name="call_out_fee" value="old_call_out_fee"/> 
					</th>
					<td>
					 <?php echo $this->escape(isset($callOutFee) && ($oldStatus['booking_status_id'] == $faild['booking_status_id']) ? number_format($callOutFee, 2) : ""); ?>
					</td>
				   </tr>
				   <?php endif; ?>
				   <tr>
				    <th>
					 <label for="total_discount_old" style="margin-right: 5px; float: left;">Discount:</label>
                     <input type="radio" id="total_discount_old" <?php echo isset($_POST['total_discount']) && $_POST['total_discount'] == 'old_discount' ? 'checked="checked"' : '' ?> style="float: left;" <?php echo ($discountDisabled) ? 'checked="checked" disabled="disabled"' : ''; ?> name="total_discount" value="old_discount"/>                     
					</th>
					<td><?php echo $this->escape(isset($totalDiscount) ? number_format($totalDiscount, 2) : ""); ?></td>
				   </tr>
				   <tr>
				    <th>GST (<?php echo (100 * get_config('gst_tax')); ?>%):</th>
					<td> <?php echo $this->escape(isset($gstTax) ? $gstTax : ""); ?> </td>
				   </tr>
				   <tr>
				    <th>Total:</th>
					<td><?php echo $this->escape(isset($totalQoute) ? $totalQoute : ""); ?></td>
				   </tr>
				  </table>
				 </div>
				 <div class="col-md-3 col-md-offset-3 " >
				   <table class="table table-bordered" style="margin-top:15px">
				  <tr>
				   <th>Sub Total</th>
				   <td><?php echo $this->escape(isset($subTotalTemp) ? number_format($subTotalTemp, 2) : ""); ?> </td>
				  </tr>
				  
				   <?php $modelBookingStatus = new Model_BookingStatus(); ?>
                   <?php $faild = $modelBookingStatus->getByStatusName('FAILED'); ?>
                   <?php if ($booking['status_id'] == $faild['booking_status_id']): ?>
				   <tr>
				    <th>
					 <label for="call_out_fee_new" style="margin-right: 5px;float: left;">Call Out Fee:</label>
                     <input type="radio" id="call_out_fee_new" <?php echo isset($_POST['call_out_fee']) && $_POST['call_out_fee'] == 'new_call_out_fee' ? 'checked="checked"' : '' ?> style="float: left;" <?php echo ($callOutFeeDisabled) ? 'disabled="disabled"' : ''; ?> name="call_out_fee" value="new_call_out_fee"/>
					</th>
					<td><?php echo $this->escape(isset($callOutFeeTemp) ? number_format($callOutFeeTemp, 2) : ""); ?></td>
				   </tr>
				   <?php endif; ?>
				   <tr>
				    <th>
					 <label for="total_discount_new" style="margin-right: 5px;float: left;">Discount:</label>
                     <input type="radio" id="total_discount_new" <?php echo isset($_POST['total_discount']) && $_POST['total_discount'] == 'new_discount' ? 'checked="checked"' : '' ?> style="float: left;" <?php echo ($discountDisabled) ? 'disabled="disabled"' : ''; ?> name="total_discount" value="new_discount"/>  
					</th>
					<td><?php echo $this->escape(isset($totalDiscountTemp) ? number_format($totalDiscountTemp, 2) : ""); ?></td>
				   </tr>
				   <tr>
				   <th>GST (<?php echo (100 * get_config('gst_tax')); ?>%):</th>
				   <td><?php echo $this->escape(isset($gstTaxTemp) ? $gstTaxTemp : ""); ?></td>
				   </tr>
				   <tr>
				    <th>Total:</th>
					<td><?php echo $this->escape(isset($totalQouteTemp) ? $totalQouteTemp : ""); ?></td>
				   </tr>
				 </table>
				 </div>
				</div>
				 
				 
				 
				 
				</div>
					
				  <?php endif;?>	
				 
		 </div>				
	   
	   
	 </div>
	
	</form>
</div>	