<div class="ibox">
	<div class="ibox ibox-content">
    
      
                <div>
				<?php echo $this->render('approve-booking/unapproved-filters.phtml'); ?>
                </div>

         
    </div>
</div>

<div class="ibox float-e-margins no-margin-b">

<div class="ibox-content">
   
                <?php if (CheckAuth::checkCredential(array('canApproveBooking'))): ?>
				     <?php if ($this->countUnapprovedBooking): ?>
                      
                             <table class="table table-bordered responsive-table" id="unapproved-tb">
                                <thead>
                                        <tr>
                                            <th  class="table-booking"><b>Booking#</b></th>
                                            <th class="table-details"><b>Details</b></th>
                                            <th><b>Technician</b></th>
                                            <th ><b>Owner</b></th>
                                            <?php if ('contractor' != CheckAuth::getRoleName()) { ?><th><b>Approve</b></th><?php } ?>
                                            <th class="table-amount"><b> Old Amount</b></th>
                                            <th class="table-amount"><b> New Amount</b></th>
                                        </tr>
								</thead>
                                <tbody>
                                <?php $count = 0; ?>
                                <?php
                                $modelBookingStatus = new Model_BookingStatus();
                                $modelBookingAddress = new Model_BookingAddress();
                                $modelContractorServiceBookingTemp = new Model_ContractorServiceBookingTemp();
                                $modelContractorInfo = new Model_ContractorInfo();
                                $modelAuthRole = new Model_AuthRole();
                                $modelUser = new Model_User();
                                ?>
                                <?php foreach ($this->unapprovedBooking as $row) : ?>
                                    <?php $count += 1; ?>
                                    <tr class="<?php
										if ($count % 2 != 0) {
											echo $this->escape('tr_cont_1');
										} else {
											echo $this->escape('tr_cont_2');
										}
                                    ?>">

                                        <td >
                                            <div class="details_info_l">
                                                <div>
                                                    <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                                    <?php endif; ?>
                                                </div>
                                                <?php
                                                $color = '#A1A1A1';
                                                switch ($row['convert_status']) {
                                                    case 'booking':
                                                        $color = '#A1A1A1';
                                                        break;

                                                    case 'estimate':
                                                        $color = '#4F8BC3';
                                                        break;

                                                    case 'invoice':
                                                        $color = '#BCD68F';
                                                        break;
                                                }
                                                ?>
                                                <div style="color: <?php echo $this->escape($color); ?>;">
                                                    <?php echo $this->escape($row['convert_status']); ?>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="details_info_l">
                                                <div>
                                                    <?php echo $this->escape(getDateFormating($row['update_date'])); ?>
                                                    
                                                </div>
                                                <div class="booking_time_cont">
                                                    <span class="time_start_color">Start Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_start']))) ?> 
                                                    <span class="time_end">End Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_end']))) ?>
                                                    
                                                </div>
                                            </div>
                                        </td>
										<!-- By Islam -->
										<td>
                                            <div class="details_info_l"> 
                                                     <?php echo $this->escape($row['username']); ?>
                                            </div>
                                        </td>
										<?php $owner = $modelUser->getById($row['created_by']); ?>
										<td>
                                            <div class="details_info_l"> 
                                                     <?php echo $owner['username']; ?>
                                            </div>
                                        </td>
										<!-- By Islam End -->
					<?php if ('contractor' != CheckAuth::getRoleName()) { ?>					
                                        <td>
                                            <div class="details_info_l"> 
                                                <a class="details_info_opt" href="<?php echo $this->url(array('id' => $row['booking_id']), 'approvedService'); ?>">
                                                    Approve
                                                </a> 
                                            </div>
                                        </td>
                                        <?php } ?>
                                       
                                        <?php $bookingQouteTemp = $modelContractorServiceBookingTemp->getTotalBookingQouteBalance($row['booking_id']) ?>
                                        <td>
                                           <div class="details_info_l">
                                                $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?></br>
												<?php
												$modelBookingStatusHistory = new Model_BookingStatusHistory();
												$oldStatusId = $modelBookingStatusHistory->getOldStatusIdByBookingId($row['booking_id']);
                                                $bookingStatus = $modelBookingStatus->getById($oldStatusId);
                                                echo $this->escape($bookingStatus['name']);
                                                 ?>
                                            </div>
                                        </td>
										
										 <td>
                                            <div class="details_info_l">
                                                $ <?php echo $this->escape(number_format($bookingQouteTemp, 2)); ?></br>
												<?php
                                                $bookingStatus = $modelBookingStatus->getById($row['status_id']);
                                                echo $this->escape($bookingStatus['name']);
                                                 ?>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
  </div>               
                    <?php else: ?>
                    <div class="ibox-content">
                    	<div>
                        	<a class="btn btn-primary" href="<?php echo $this->escape($this->url(array(), 'booking')); ?>">View all Booking</a> 
                         </div>
                    	 <div class="error-desc"> 
                      	   There are no Unapproved Bookings.
                         </div>
                    </div>
                   
                    <?php endif; ?>
                <?php endif; ?>
  

 </div>  


