<form id="search_form" action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
    
    
    
    <div class="input-group">
    		<h3>Technician Name</h3>
            <ul class="inline-list">
		 <li> <?php if (!CheckAuth::checkCredential(array('canSeeAllContractorReport'))): ?>
          <?php $LoggedUser = Zend_Auth::getInstance()->getIdentity(); ?>
          <?php echo $LoggedUser->username; ?>
          <?php else : ?>
          <?php echo $this->form->getElement('contractors_id'); ?>
          <?php endif; ?>
          
          </li> 
          <li>
          <span class="input-group-btn">
          <?php echo $this->form->getElement('button');?> 
          </span>     
          </li>         
          </ul>                   
 	 </div>
	 
	
	
                                            
                                            
                                            

	
	

   
</form>


<script type="text/javascript">
    
    $(document).ready(function() {
        $('#header').width($('.table').width());
        $('#menu_cont').width($('.table').width());
        $('#body_cont').width($('.table').width());
        
       
    });
	
	
	
</script>