<form id="contact_history_form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="submit_contact_history('<?php echo $this->escape($this->form->getAction()); ?>','#contact_history_form');return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <table>
        <tr>
            <td  valign="top" ><b>Comment:</b></td>
            <td><?php echo $this->form->getElement('comment')->render(); ?></td>
        </tr>
        <tr><td valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>