<table class="table" >
    <tr>
        <td class="left_side" style="padding: 0; margin: 0;">
            <form method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">
                <div class="login_body">
                    <div class="login_box_pos">
                        <div class="login_box">
                            <div class="login_box_padding">
                                <div class="signin_txt">
                                    Change Email
                                </div>
                                <div class="feild_input_pos">
                                    <div class="float_l_r">
                                        <label for="email" class="label">Old Email:</label>
                                        <?php echo $this->form->getElement('old_email')->render(); ?>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="feild_input_pos">
                                    <div class="float_l_r">
                                        <label for="email" class="label">New Email:</label>
                                        <?php echo $this->form->getElement('new_email')->render(); ?>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="feild_input_pos">
                                    <div class="float_l_r">
                                        <label for="email" class="label">New Email Confirm:</label>
                                        <?php echo $this->form->getElement('confirm_new_email')->render(); ?>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>



                                <div style="margin-top: 10px; margin-left: 10px;float: left">
                                    <div >
                                        <?php echo $this->form->getElement('button')->render(); ?>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div style="clear: both;"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </td>

        <td class="right_side">
            <?php echo $this->render('index/right_side_link.phtml'); ?>
        </td>

        <td class="filter_character_container">
            <div class="first_filter_character">
                M
            </div>
            <div class="filter_character_pos">
                Y
            </div>
            <div class="first_filter_character">
                A
            </div>
            <div class="filter_character_pos">
                C
            </div>
            <div class="filter_character_pos">
                C
            </div>
            <div class="filter_character_pos">
                O
            </div>
            <div class="filter_character_pos">
                U
            </div>
            <div class="filter_character_pos">
                N
            </div>
            <div class="filter_character_pos">
                T
            </div>
        </td>

    </tr>
</table>

