<form method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">
    <div class="login_body">
        <div class="login_box_pos">
            <div class="login_box">
                <div class="login_box_padding">
                    <div class="signin_txt">
                        Forget Password
                    </div>
                    <div class="feild_input_pos">
                        <div class="float_l_r">
                            <label for="email" class="label">Password:</label>
                            <?php echo $this->form->getElement('password')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="feild_input_pos">
                        <div class="float_l_r">
                            <label for="email" class="label">Password Confirm:</label>
                            <?php echo $this->form->getElement('password_confirm')->render(); ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="btn_check_box_pos">
                        <div style="margin-top: 10px;">
                            <?php echo $this->form->getElement('button')->render(); ?>
                        </div>
                    </div>
                    <div class="login_box_foot"></div>
                </div>
            </div>
        </div>
    </div>
</form>