<div class="contractor_info_modify_cont">
    <a href="<?php echo $this->escape($this->url(array(), 'myAccount')); ?>" class="contractor_a_link">My Account</a>
</div>
<div class="contractor_info_link_cont">
    <a href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>" class="contractor_a_link"> My Messages</a>
</div>
<div class="contractor_info_link_cont">
    <a href="<?php echo $this->escape($this->url(array(), 'changePassword')); ?>" class="contractor_a_link">Change My Password</a>
</div>

<div class="contractor_info_link_cont">
    <a href="<?php echo $this->escape($this->url(array(), 'changeEmail')); ?>" class="contractor_a_link">Change My Email</a>
</div>

<div class="contractor_info_link_cont">
    <a href="javascript:;" class="contractor_a_link" onclick="changeAccountInfo('<?php echo $this->escape($this->url(array(), 'changeAccountInfo')); ?>');">Change My Info</a>
</div>

<?php if ('contractor' == CheckAuth::getRoleName()): ?>
    <div class="contractor_info_link_cont">
        <a href="javascript:;" class="contractor_a_link" onclick="AddEditContractorInfo('<?php echo $this->escape($this->url(array(), 'modfyContractorInfo')); ?>');">Modify Contractor Info</a>
    </div>

    <div class="contractor_info_link_cont">
        <a href="<?php echo $this->escape($this->url(array(), 'contractorOwnerList')); ?>" class="contractor_a_link">Modify Owner (s)</a>
    </div>

    <div class="contractor_info_link_cont">
        <a href="<?php echo $this->escape($this->url(array(), 'contractorEmployeeList')); ?>" class="contractor_a_link">Modify Employee (s)</a>
    </div>

    <div class="contractor_info_link_cont">
        <a href="<?php echo $this->escape($this->url(array(), 'declarationOfEquipmentList')); ?>" class="contractor_a_link">Modify Equipment List</a>
    </div>

    <div class="contractor_info_link_cont">
        <a href="<?php echo $this->escape($this->url(array(), 'declarationOfChemicalsList')); ?>" class="contractor_a_link">Modify Chemicals List</a>
    </div>

    <div class="contractor_info_link_cont">
        <a href="<?php echo $this->escape($this->url(array(), 'declarationOfOtherApparatusList')); ?>" class="contractor_a_link">Modify Other Apparatus List</a>
    </div>

    <div class="contractor_info_link_cont">
        <a href="<?php echo $this->escape($this->url(array(), 'contractorVehicleList')); ?>" class="contractor_a_link">Modify Vehicle List</a>
    </div>

    <?php if (CheckAuth::checkCredential(array('settingsContractorGmailAdd', 'settingsContractorGmailEdit'))): ?>
        <div class="contractor_info_link_cont">
            <a href="javascript:;" class="contractor_a_link" onclick="AddGmailAccounts('<?php echo $this->escape($this->url(array('contractor_id' => $this->user['user_id']), 'settingsContractorGmailAdd')); ?>');">Modify Gmail Accounts</a>
        </div>
    <?php endif; ?>

<?php else: ?>
    <div class="contractor_info_link_cont">
        <a href="javascript:;" class="contractor_a_link" onclick="AddEditUserInfo('<?php echo $this->escape($this->url(array(), 'modfyUserInfo')); ?>');">Modify User Info</a>
    </div>
<?php endif; ?>

<script type="text/javascript">
    function AddEditUserInfo(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=200&width=450');
        });
    }

    function AddEditContractorInfo(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=500&width=450');
        });
    }

    function changeAccountInfo(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=500&width=450');
        });
    }
    
    function AddGmailAccounts(url) {
        $(document).ready(function() {
            tb_show("", url+'?height=150&width=450');
        });
    }
</script>