<?php if(isset($this->update_booking_question['question_text'])){ ?>
<form id="form"  class="form-horizontal" method="post" onsubmit="do_submit('<?php echo $this->url(array(), 'settingsBookingUpdateQuestionsEdit') ?>','#form','#content_modal_popup');return false;">
<?php } else {?>
<form id="form" class="form-horizontal" method="post" onsubmit="do_submit('<?php echo $this->url(array(), 'settingsBookingUpdateQuestionsAdd') ?>','#form','#content_modal_popup');return false;">
 <?php } ?>
 
		<div class="form-group">
        <label class="col-md-4">Question :</label>
            <div class="col-md-8">
			<textarea rows="4" class="form-control" cols="30" name="question" id="question" ><?php echo $this->update_booking_question['question_text']? $this->update_booking_question['question_text'] : ''; ?></textarea>
			</div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Question Type :</label>
            <div class="col-md-8">
				<select name="type" id="type" class="form-control">
				  <option value="boolean" <?php if($this->update_booking_question['question_type']=='boolean'){ ?>selected <? }?> >Boolean</option>
				  <option value="text" <?php if($this->update_booking_question['question_type']=='text'){ ?>selected <? }?> >Text</option>
				  <option value="date" <?php if($this->update_booking_question['question_type']=='date'){ ?>selected <? }?> >Date</option>
				  <option value="multiple" <?php if($this->update_booking_question['question_type']=='multiple'){ ?>selected <? }?> >Multiple</option>
				</select>
			</div>
		</div>
       
            <div class="form-group">
				<div class="col-md-8 col-md-offset-4" id="button_cont"> <input type="submit" name="save"  class="btn btn-primary" value="save" /></div>
			</div>
      
   <div class="clearb"></div>

</form>

