<form id="form" method="post" onsubmit="do_submit('<?php echo $this->url(array('question_id' => $this->update_booking_question_id), 'settingsBookingUpdateQuestionsViewStatus') ?>','#form','#content_modal_popup');return false;">
 <div style="padding: 10px;">
	<?php if($this->status){ 
		//print_r($this->status);
		//echo "salim";
	?>
		
	<?  foreach($this->status as $raw){ ?>
	
	<div class="form-group">
	 <label class="col-md-4"><?php echo $raw['name']; ?></label>
	 <div class="col-md-8">
	  <input type="checkbox" name="<?php echo $raw['status_id']; ?>" id="<?php echo $raw['status_id']; ?>" style="margin: 3px;" <?php echo $raw['update_booking_question_status_id']? 'checked' : ''; ?> />
	 </div>
	</div>
        
			
		<div style="clear: both;"></div>
		<?php } ?>
		<input type="submit" name="save"  style="margin: 3px;" value="save" class="btn btn-primary"/>
		<?php
		 }
		?>
    </div>
</form>

