<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    Modify Services
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Contractor Service?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsContractorServiceDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>Services</b></td>
                                <td><b>City Availability</b></td>
                            </tr>


                            <?php $count = 0; ?>
                            <?php $modelAvailability = new Model_ContractorServiceAvailability(); ?>
                            <?php $modelCities = new Model_Cities(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['contractor_service_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <span class="details_info_name"><?php echo $this->escape($row['service_name']) ?></span> 
                                            </div>
                                            <div class="booking_time_cont">
                                                <span style="color: #A1A1A1;">Contractor:</span> <?php echo $this->escape($row['username']) ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsContractorServiceDelete'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id, 'id' => $row['contractor_service_id']), 'settingsContractorServiceDelete')); ?>" onclick="return confirm('are you sure you want to delete this Contractor Service?');" class="details_info_opt">Delete</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('contractor_service_id' => $row['contractor_service_id']), 'settingsContractorServiceAvailabilityList')); ?>" class="details_info_opt">City Availability</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <?php $cities = $modelAvailability->getCitiesByContractorServiceId($row['contractor_service_id']) ?>
                                    <td class="details_info_l">
                                        <div class="details_info_l" style="font-size: 14px;">
                                            <?php if ($cities): ?>
                                                <?php foreach ($cities as $cityId): ?>
                                                    <?php $city = $modelCities->getById($cityId['city_id']) ?>
                                                    <div>
                                                        <?php echo $this->escape(ucfirst($city['city_name'])); ?>
                                                    </div>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Service.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsContractorServiceAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceAdd')); ?>','350','400');" class="btn_a">
                            <div class="text_pos">
                                New Service
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Services
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="settings_border_btm_style">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array('contractor_id' => $this->contractor_id), 'settingsContractorServiceList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>