<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Sales By Customer Report
                </div>
                <div class="clearb"></div>
            </div>

            <?php if ($this->data): ?>
                <div id="data_table">
                    <div class="filter_criteria">
                        <div>
                            <?php echo $this->escape(get_customer_name($this->customer)); ?>
                        </div>
                        <div>
                            <?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
                            <?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
                            <?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?>
                        </div>
                    </div>
                    <table border="1" cellspacing="0" cellpadding="2" class="reports_reconciliation_table">
                        <tr style="background-color: black; color: white;">
                            <td>Name</td>
                            <td>Total Inquiry</td>      
                            <td>Total Booking</td>
                            <?php foreach ($this->bookingStatuses AS $bookingStatus): ?>
                                <td><?php echo $this->escape($bookingStatus['name']) ?></td>
                            <?php endforeach; ?>
                            <td>Total Estimate Quote</td>
                            <td>Total Invoice Amount</td>
                        </tr>
                        <?php foreach ($this->data AS $key => $data): ?>    
                            <tr cellpadding="100" style="text-align: center; vertical-align: top;"> 
                                <td><?php echo $this->escape(get_customer_name($data)) ?></td>
                                <td><?php echo $this->escape($data['total_inquiry']) ?></td>
                                <td><?php echo $this->escape($data['total_booking']) ?></td>
                                <?php foreach ($data['booking_statuses'] AS $bookingStatus): ?>
                                    <td><?php echo!empty($bookingStatus['total']) ? $this->escape($bookingStatus['total']) : 0 ?></td>
                                <?php endforeach; ?>
                                <td>$<?php echo!empty($data['total_estimate']) ? $this->escape(number_format($data['total_estimate'], 2)) : number_format(0, 2) ?></td>
                                <td>$<?php echo!empty($data['total_invoice']) ? $this->escape(number_format($data['total_invoice'], 2)) : number_format(0, 2) ?></td>
                            </tr>
                        <?php endforeach ?>
                    </table>
                </div>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">Please Select Customer And Date Range.</div>
            <?php endif; ?>

        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php echo $this->render('index/customer_filters.phtml'); ?>
            </div>
        </td>
    </tr>
</table>
