<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Customer Types
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsCustomerTypeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Customer Type?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td>Name</td>
                                <td><b>Core</b></td>
                                <td>Work Order is Required</td>
                                <td>As Booking Address</td>

                            </tr>

                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['customer_type_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['customer_type']) ?>    
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (!$row['is_core']): ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeEdit')) && CheckAuth::checkIfCanHandelAllCompany('customer_type', $row['customer_type_id'])): ?>
                                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['customer_type_id']), 'settingsCustomerTypeEdit')); ?>','100','450');" class="details_info_opt">Edit</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                                <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeDelete')) && CheckAuth::checkIfCanHandelAllCompany('customer_type', $row['customer_type_id'])): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['customer_type_id']), 'settingsCustomerTypeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Customer Type?');" class="details_info_opt">Delete</a>
                                                    <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeChangeWorkOrder'))): ?>
                                                        <span class="details_breaks">|</span>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeChangeWorkOrder'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['customer_type_id']), 'settingsCustomerTypeChangeWorkOrder')); ?>','100','450');" class="details_info_opt">Modify Work Order</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeAsBookingAddress'))): ?>
                                                <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['customer_type_id']), 'settingsCustomerTypeAsBookingAddress')); ?>','100','450');" class="details_info_opt">Modify As Booking Address</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>

                                    <td>
                                        <?php if ($row['is_core']) { ?>
                                            <div class="details_info_l"> YES</div>
                                        <?php } else { ?>
                                            <div class="details_info_l">NO</div>
                                        <?php }; ?>
                                    </td>
                                    <td>
                                        <?php if ($row['is_work_order']) { ?>
                                            <div class="details_info_l"> YES</div>
                                        <?php } else { ?>
                                            <div class="details_info_l">NO</div>
                                        <?php }; ?>
                                    </td>
                                    <td>
                                        <?php if ($row['as_booking_address']) { ?>
                                            <div class="details_info_l"> YES</div>
                                        <?php } else { ?>
                                            <div class="details_info_l">NO</div>
                                        <?php }; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Customer Types.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsCustomerTypeAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsCustomerTypeAdd')); ?>','100','450');" class="btn_a">
                            <div class="text_pos">
                                New Customer Types
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div class="button_actions">
                        Search Customer Types
                    </div>
                    <div class="button_actions">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsCustomerTypeList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />
                        </form>
                    </div>
                    <div class="filter_border_bottom">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsCustomerTypeList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

