<div style="margin-top:10px;">
        <div class="right_side_cont ibox-content">
            <?php if (CheckAuth::checkCredential(array('settingsImageTypesAdd'))): ?>
                <div class="btn_cont">
                    <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Add Image Type','<?php echo $this->escape($this->url(array(), 'settingsImageTypesAdd')); ?>');" class="btn btn-white">
                        <div class="text_pos">
                             New Image Type
                        </div>
                    </a>
                </div>
            <?php endif; ?>

            <div >
                    <h5> Search Image Type </h5>
                    <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsImageTypesList')); ?>" method="GET" class="form-inline" role="form">
                        <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />                   
                    <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span">or</span>
                    <a href="<?php echo $this->escape($this->url(array(), 'settingsImageTypesList')); ?>" class="a_advance btn btn-white a_margin-responsive" >Reset</a>
                    </form>
            </div>
        </div>
    </div>


<div style="margin-top:10px;" class="">
    <?php // echo BreadCrumbs::breadCrumb(); ?>
    <div>
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'settingsImageTypesDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Image type?');">

                <div class="ibox float-e-margins no-margin-b">
                    <div class="ibox-title">
                        <h5>  All Image Types </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="">
                            <?php if (CheckAuth::checkCredential(array('settingsImageTypesDelete'))): ?> 

                                <input type="submit" class="btn btn-primary" value="Delete"/>                     
                            <?php endif; ?>
                        </div>
                        <table class="table table-striped table-bordered  " id="editable" >
                            <thead>
                                <tr>
                                    <td class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                    <td class="details"><b>Name</b></td>
                                    <td><b>Description</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $count = 0; ?>
                                <?php foreach ($this->data as $row) : ?>
                                    
                                    <tr>
                                        <td class="checkbox_booking_cont">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['image_types_id']) ?>" class="checkbox_input_pos"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('view image type','<?php echo $this->escape($this->url(array('id' => $row['image_types_id']), 'settingsImageTypesShowDescription')); ?>');" class="a_link_black"><?php echo $this->escape($row['name']) ?></a>
                                        </div>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsBookingStatusEdit')) && !$row['is_core']): ?>
                                                <a href="#" data-toggle="modal" data-target="#popupi" onclick="popupi('Edit','<?php echo $this->escape($this->url(array('id' => $row['image_types_id']), 'settingsImageTypesEdit')); ?>');" class="details_info_opt">Edit</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsImageTypesDelete')) && !$row['is_core']): ?>
                                                <a href="<?php echo $this->escape($this->url(array('id' => $row['image_types_id']), 'settingsImageTypesDelete')); ?>" onclick="return confirm('are you sure you want to delete this Image type?');" class="details_info_opt">Delete</a>
                                               
                                            <?php endif; ?>
                                            
                                        </div>
                                    </td>
                                   
                                    <td>
                                        <div class="details_info_l">
                                            <?php if (CheckAuth::checkCredential(array('settingsImageTypesAddDescription'))): ?>
                                                <a  data-toggle="modal" data-target="#popupi" onclick="popupi('Description','<?php echo $this->escape($this->url(array('id' => $row['image_types_id']), 'settingsImageTypesAddDescription')); ?>');" class="details_info_opt">Description</a>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>


                        </table>


                    </div>
                </div>




                <div>
                    <?php if (count($this->pageLinks) > 3): ?>
                        <ul class="pagination">
                            <?php foreach ($this->pageLinks as $pageLink) : ?>
                                <li><?php echo $pageLink; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </div>


            </form>

        <?php else: ?>
                            <div style="" class="noRowsMessageDIV">There are no Image Types.</div>
        <?php endif; ?>

    </div>
</div>
<div style="clear:both"></div>
