<div class="ibox float-e-margins">
	<div class="ibox-content">
				<div class="row">
					<div class="col-md-5">
						<h3>   Upload Logo</h3>
					</div>
					<div class="col-md-7 "></div>
				</div>
        </div>
		
</div>

<div class="ibox no-margin-b">
		<div class="ibox-content col-md-6">
					<div class="row">
						
						<div class="col-md-12">
						<br/>
						<form  class="form-horizontal" id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" enctype="<?php echo $this->escape($this->form->getEnctype()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>">
							
							<?php echo $this->escape($this->message); ?>
                
						<br/>
		 <div class="form-group">
				<label class="col-md-3">Invoice Logo Upload :</label>
						<div class="col-md-9 ">
						
						
						
					
										<?php echo $this->form->getElement('image')->render(); ?>




						
						 
						</div>
				</div>
			<br/>
			 <div class="form-group">
				<label class="col-md-3">Invoice Logo :</label>
						<div class="col-md-9 ">
						 <?php echo $this->image ?>
						</div>
				</div>
			<br/>
						<div class="form-group">
								<div class="col-md-9 col-md-offset-3" id="button_cont">
									    <a href="#" class="btn btn-white" onclick="$('#<?php echo $this->escape($this->form->getName()); ?>').submit();">
               
											Upload
                     
										</a>
								</div>
						</div>
				<br/>
				</form>
				</div>
			</div>
		</div>
</div>






