<form  action="" enctype="multipart/form-data" id="photoUploadForm" method="post" class="form-horizontal" onsubmit="return false">

    
   <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
        <div class="dz-message"></div>
    </div>
	

   <div class="form-group" style="display:<?php echo (isset($this->type) && $this->type == 'complaint')? 'none':'block'?>">
         <label class="col-md-3">  Service Name : </label>
		 <div class="col-md-9">
		    <?php echo $this->form->getElement('service_id')->render(); ?>
			<div id="error" style="color:red"></div>
		 </div>
	</div>	
	
	
	<div class="form-group" style="display:<?php echo (isset($this->type) && $this->type == 'booking')? 'block':'none'?>">
         <label class="col-md-3"> </label>
		 <div class="col-md-9">
		   <?php echo $this->form->getElement('before_after_job')->render(); ?>
		   <div id="error" style="color:red"></div>
		 </div>
	</div>	
	
	
	<div class="form-group" style="display:<?php echo (isset($this->type) && $this->type == 'service')? 'none':'block'?>">
         <label class="col-md-3"> Comment: </label>
		 <div class="col-md-9">
		   <?php echo $this->form->getElement('discussion')->render(); ?>
		 </div>
	</div>	 
    
	

    
  <div class="form-group">
       <div class="col-md-9"></div>
        <div class="col-md-3" id="button_loop">
            <input type="submit" value="Save Photo(s)" class="btn btn-primary">
        </div>
    </div>
	

</form>


<script>

  var type = '<?php echo $this->type ; ?>' ; 
  var photoDropzone = new Dropzone("#photoUploadForm", {
    url: '<?php echo $this->escape($this->url(array('type' =>$this->type,'itemid' => $this->itemid), 'ItemImageAttachmentAttach')); ?>',
    autoProcessQueue: false,
    uploadMultiple: true,
    parallelUploads: 10,
    maxFiles: 100,
	maxFilesize: 10,
	acceptedFiles: ".jpeg,.jpg,.png,.gif",
    previewsContainer: '#dropzonePreview',
    clickable: '#dropzonePreview',
	addRemoveLinks: true,

    // The setting up of the dropzone
    init: function () {
        var myDropzone = this;

        var submitButton = document.querySelector('input[type=submit]');
        myDropzone = this; // closure		
        submitButton.addEventListener("click", function (e) {
			
            e.preventDefault();
            e.stopPropagation();
            if (myDropzone.getQueuedFiles().length === 0) {			    
               alert('please select at least one image');
               if(type == 'booking'){	
			        var before_after_job = 0 ;
					var selected = $("input[type='radio']:checked");
						if (selected.length > 0) {
							before_after_job = selected.val();
						 }
						  
						if(!(before_after_job)){
							$('#error').html('you have to select image type');
							return false;
						}else{
						   $('#error').html('');
						}
		       } 			   
            }
            else {
			  if(type == 'booking'){	
			        var before_after_job = 0 ;
					var selected = $("input[type='radio']:checked");
						if (selected.length > 0) {
							before_after_job = selected.val();
						 }
						  
						if(!(before_after_job)){
							$('#error').html('you have to select image type');
							return false;
						}else{
						   $('#error').html('');
						}
		       }  
			    $('#button_loop').html('<img src="/pic/loading-4.gif">');
                myDropzone.processQueue();
            }
        });
		
		this.on("successmultiple", function(files, response) {
		              console.log(response);
					  if(response == 1){
					    window.location.reload();
					  }else{
					    $('#content_modal_popup').html(response);
					  }					 
					  
                    });
                    this.on("errormultiple", function(files, response) {
					  alert(response);
					  $('#button_loop').html('<input type="submit" value="Save" class="btn btn-primary">');
                    });
		
		
    }
});


</script>