<form  action="" enctype="multipart/form-data" id="photoUploadForm" method="post" class="form-horizontal" onsubmit="return false">


    <div id="dropzonePreview" class="dropzone-previews form-control dz-clickable" style="margin-bottom:20px">
        <div class="dz-message"></div>
    </div>


    <div class="form-group" style="display:<?php echo (isset($this->type) && $this->type == 'complaint') ? 'none' : 'block' ?>">
        <label class="col-md-3">  Service Name : </label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('service_id')->render(); ?>
            <div id="error" style="color:red"></div>
        </div>
    </div>	

    <div class="form-group" style="display:<?php echo (isset($this->type) && $this->type == 'service') ? 'block' : 'none' ?>">
        <label class="col-md-3"> Floor </label>
        <div class="col-md-9">
            <div class="select-floor">
                <select class="select_field form-control"><option>Select Floor</option></select>
            </div>  
            <div id="error" style="color:red"></div>
        </div>
    </div>	
    <div class="form-group" style="display:<?php echo (isset($this->type) && $this->type == 'booking' || $this->type == 'service') ? 'block' : 'none' ?>">
        <label class="col-md-3"> </label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('before_after_job')->render(); ?>
            <div id="error" style="color:red"></div>
        </div>
    </div>	


    <div class="form-group" style="display:<?php echo (isset($this->type) && $this->type == 'service') ? 'none' : 'block' ?>">
        <label class="col-md-3"> Comment: </label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('discussion')->render(); ?>
        </div>
    </div>	 




    <div class="form-group">
        <div class="col-md-9"></div>
        <div class="col-md-3" id="button_loop">
            <input type="submit" value="Save Photo(s)" class="btn btn-primary" id="save_btn" style="display:block">
            <img src="/pic/loading-4.gif" style="display:none" id="loading_img">
        </div>
    </div>


</form>
<?php if (($this->type) && $this->type == 'service') { ?>
    <script>
        $('#service_field').change(function () {
            $(".select-floor").html('<img class="loading-pic" src="/pic/image-loader.gif"/>');
            var service_id = $(this).val();
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'getFloorValues'); ?>",
                data: {'service_id': service_id},
                success: function (msg) {

                    $(".select-floor").html(msg);
                }
            });
        });
    </script>
<?php } ?>
<script>
    var postMaxSize = '<?php echo str_replace('M', '', ini_get('post_max_size')); ?>';
    var totalSizes = 0;
    var type = '<?php echo $this->type; ?>';
    var photoDropzone = new Dropzone("#photoUploadForm", {
        url: '<?php echo $this->escape($this->url(array('type' => $this->type, 'itemid' => $this->itemid), 'ItemImageAttachmentAttach')); ?>',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 100,
        maxFilesize: 10,
        acceptedFiles: ".jpeg,.jpg,.png,.gif",
        previewsContainer: '#dropzonePreview',
        clickable: '#dropzonePreview',
        addRemoveLinks: true,
        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;

            var submitButton = document.querySelector('input[type=submit]');
            myDropzone = this; // closure		
            submitButton.addEventListener("click", function (e) {

                e.preventDefault();
                e.stopPropagation();
                if (myDropzone.getQueuedFiles().length === 0) {
                    alert('please select at least one image');
                    if (type == 'booking') {
                        var before_after_job = 0;
                        var selected = $("input[type='radio']:checked");
                        if (selected.length > 0) {
                            before_after_job = selected.val();
                        }

                        if (!(before_after_job)) {
                            $('#error').html('you have to select image type');
                            return false;
                        } else {
                            $('#error').html('');
                        }
                    }
                } else {
                    if (type == 'booking') {
                        var before_after_job = 0;
                        var selected = $("input[type='radio']:checked");

                        if (selected.length > 0) {
                            before_after_job = selected.val();
                        }



                        if (!(before_after_job)) {
                            $('#error').html('you have to select image type');
                            return false;
                        } else {
                            $('#error').html('');
                        }
                    }
                    //$('#button_loop').html('<img src="/pic/loading-4.gif">');
                    $('#loading_img').show();
                    $('#save_btn').hide();
                    myDropzone.processQueue();
                }
            });

            this.on("successmultiple", function (files, response) {
                console.log(response);
                if (response == 1) {
                    window.location.reload();
                } else {
                    $('#content_modal_popup').html(response);
                }

            });
            this.on("errormultiple", function (files, response) {
                alert(response);
                //$('#button_loop').html('<input type="submit" value="Save" class="btn btn-primary">');
                $('#loading_img').hide();
                $('#save_btn').show();
            });

            this.on("addedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes + MegaSize;
                if (totalSizes > postMaxSize) {
                    this.removeFile(file);
                    alert('Total files size is too big , Max total file size (30M)');
                }

            });

            this.on("removedfile", function (file) {
                var fileSize = file.size;
                var MegaSize = fileSize / (1024 * 1024);
                totalSizes = totalSizes - MegaSize;
                console.log(totalSizes);
            });



        }
    });


</script>