<form class="form-horizontal" id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" enctype="<?php echo $this->escape($this->form->getEnctype()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_upload('<?php echo $this->escape($this->form->getName()); ?>', '#content_modal_popup');">
  <?php echo $this->escape($this->message); ?>
      

            
             
            
            
    <div class="form-group">
        <label class="col-md-3">  
            Service Name :
        </label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('service_id')->render(); ?>
        </div>
    </div>
                        
      <!-- <div class="form-group">
        <label class="col-md-3">  
            Description :
        </label>
        <div class="col-md-9">
           <?php //echo $this->form->getElement('description')->render(); ?>
        </div>
      </div> -->
            
            
    <div class="form-group">
       
        <div class="col-md-9 col-md-offset-3" id="button_cont">
            <?php echo $this->form->getElement('button')->render(); ?>
        </div>
    </div>
   
</form>
