<?php ViewHelper::setJavaScript('/plugins/dropzone/dropzone.js'); ?>

<style>

    .icons-right a, .icons-left a{
        font-size: 15px;
    }

    .product-gallery li, .product-gallery > div {
        width : 150px;
        height : 150px;
    }

</style>

<?php $type = (isset($this->type) ? $this->type : ''); ?>
<?php $backUrl = (isset($this->backUrl) ? $this->backUrl : ''); ?>
<div class="ibox float-e-margins">


    <div class="ibox-content">
        <div class="row">
            <div class="col-md-5">
                <h3>All Attachments</h3>					
                <div style="display:<?php echo (isset($this->type) && $this->type == 'booking' || $this->type == 'estimate' || $this->type == 'inquiry' ) ? 'block' : 'none' ?>">		
                    <ol class="breadcrumb">
                        <?php

                        function breadcrumbs($type, $backUrl, $separator = '', $home = 'Home') {

                            $path = array_filter(explode('/', parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH)));
                            $base_url = substr($_SERVER['SERVER_PROTOCOL'], 0, strpos($_SERVER['SERVER_PROTOCOL'], '/')) . '://' . $_SERVER['HTTP_HOST'] . '/';
                            $breadcrumbs = array("<li><a href=\"$base_url\">$home</a></li>");
                            $tmp = array_keys($path);
                            $last = end($tmp);
                            unset($tmp);

                            foreach ($path as $x => $crumb) {
                                $title = ucwords(str_replace(array('.php', '_'), array('', ' '), $crumb));
                                if ($x == 1) {

                                    $breadcrumbs[] = "<li><a href=\"$backUrl\">$type</a></li>";
                                    $breadcrumbs[] = '<li class="active"><strong>' . $type . ' Attachments</strong></li>';
                                }
                            }

                            return implode($separator, $breadcrumbs);
                        }

                        echo breadcrumbs($type, $backUrl);
                        ?>

                    </ol>
                </div>

            </div>
            <div class="col-md-7 "></div>
        </div>
    </div>

    <div class="ibox-content" style="display:<?php echo (isset($this->type) && $this->type == 'booking' || $this->type == 'estimate' || $this->type == 'inquiry' || $this->type == 'service' ) ? 'block' : 'none' ?>"> 
        <div class="row">
            <div class="col-md-9">                   

                <a href="<?php echo $this->backUrl; ?>" class="btn btn-white" style="display:<?php echo (isset($this->type) && $this->type == 'booking' || $this->type == 'estimate' || $this->type == 'inquiry') ? 'inline-block' : 'none' ?>">
                    <i class="fa fa-long-arrow-left"></i>
                    Back to <?php echo $this->type; ?>
                </a>

                <a href="#" data-toggle="modal" data-target="#popupi"  class="btn btn-white" onclick="popupi('Add Photos', '<?php echo $this->escape($this->url(array('type' => $this->type, 'itemid' => $this->itemid), 'ItemImageAttachmentAttach')); ?>');">
                    Upload Image
                </a>


            </div>


            <div class="col-md-3" style="display:<?php echo (isset($this->type) && $this->type == 'booking' || $this->type == 'service') ? 'block' : 'none' ?>">                   
<?php echo $this->allImagesTypes->render(); ?>
            </div>

        </div>
    </div>


    <div style="margin-top:10px;" class="">

<?php // echo BreadCrumbs::breadCrumb();  ?>
        <div >

            <form action="<?php echo $this->escape($this->url(array('type' => $this->type, 'itemid' => $this->itemid), 'ItemImageAttachmentDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Image Attachment?');">
                <input type="hidden" name="itemId" value="<?php echo $this->itemid; ?>"/>                    
                <div class="ibox float-e-margins no-margin-b">
                    <div class="ibox-title">
                        <h5> All Attachments</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
<?php $modelServices = new Model_Services(); ?> 
                        <div id="productContainer">
                            <div id="productContent">
                                <ul  class="product-gallery" id="results">
                                    <?php //foreach ($this->data as $row) :  ?>

<?php //endforeach; ?>						 
                                </ul>
                                <div class="animation_image" style="display:none" align="center"><img src="/pic/loading-4.gif"></div>

                            </div>


                        </div>



                    </div>


            </form>



        </div>
    </div>
</div>

<?php ViewHelper::setStyleSheet('/css/jasny-bootstrap.min.css'); ?>
<?php ViewHelper::setJavaScript('/js/jasny-bootstrap.min.js'); ?> 
<script type="text/javascript">
    $('.fileinput').fileinput();
</script>




</div>	

<?php include dirname(__FILE__) . '/index_js.phtml'; ?>
