<form class="form-horizontal" id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" enctype="<?php echo $this->escape($this->form->getEnctype()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_upload('<?php echo $this->escape($this->form->getName()); ?>', '#content_modal_popup');">
  <?php echo $this->escape($this->message); ?>

            
                        
    <div class="form-group">
        <label class="col-md-3">  
            Service Name :
        </label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('service_id')->render(); ?>
        </div>
    </div>
                        
   <div id="button_cont">
						<button type="submit" id="clickMe" class="btn btn-primary " >Save</button>	
    </div>
    
   
</form>
