<div>
    <form id="page_block_form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#page_block_form','#TB_ajaxContent');return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <table>
            <tr>
                <td>
                    <span style="font-weight: bold" valign="top">Block Type :</span>
                </td>
                <td>
                    <?php echo ($this->form->getElement('block_type')->render()); ?>
                </td>
            </tr>
        </table>
        <div id="types">
            <?php if ($this->formObjects): ?>
                <table>
                    <?php foreach ($this->formObjects as $key => $formObject): ?>
                        <?php if ($key == 'order'): ?>
                            <tr> 
                                <td>
                                </td>
                            </tr>
                        <?php endif; ?>
                        <tr>
                            <td>
                                <span style="font-weight: bold" valign="top"><?php echo $this->escape($key); ?> :</span>
                            </td>
                            <td>         
                                <?php echo $this->form->getElement($key)->render(); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </table>
            <?php endif; ?>
        </div>
        <div id="button_cont">
            <?php echo $this->form->getElement('button')->render(); ?>
        </div>
    </form>
</div>
<script type="text/javascript">
    function getTypes(){
        
        if($('#block_type').val()){
            $('#types').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url:  "<?php echo $this->url(array(), 'getType'); ?>",
                data: "type_id="+$('#block_type').val(),
                success: function(msg) {
                    $('#types').html(msg);              
                }
            });
        }else{
            $('#types').html('');                
        }
        
    }
</script>