<?php if ($this->formObjects): ?>
    <table>
        <?php foreach ($this->formObjects as $key => $formObject): ?>
            <?php if ($key == 'order'): ?>
                <tr> 
                    <td>
                    </td>
                </tr>
            <?php endif; ?>
            <tr>
                <td>
                    <span style="font-weight: bold" valign="top"><?php echo $this->escape($key); ?> :</span>
                </td>
                <td>         
                    <?php echo $formObject->render(); ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>