<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Page Block
                </div>
                <div class="clearb"></div>
            </div>
            <div>
                <?php if ($this->data): ?>
                    <?php foreach ($this->data as $row) : ?>
                        <div class="details_info_l" style="font-size: 12px;">
                            <div>&#187; <b>block id :</b> <?php echo $this->escape($row['id']) ?></div>
                            <div>&#187; <b>block type id :</b> <?php echo $this->escape($row['block_type_id']) ?></div>
                            <div>&#187; <b>color :</b> <?php echo $this->escape($row['color']) ?></div>
                        </div>
                        <?php endforeach; ?>
                <?php else: ?>
                    <div style="border:2px #CBCFD4 dashed;width: 100%;text-align: center">
                        <input style="margin: 15px 0" type="button" value="+Add Block" onClick="showPopupWindow('<?php echo $this->escape($this->url(array('page_id' => $this->pageId), 'blockAdd')); ?>','800','800','Page Block')" />
                    </div>
                <?php endif; ?>
            </div>
        </td>
        <td class="right_side">
            <?php if ($this->data): ?>
                <input style="margin: 15px 0" type="button" value="+Add Block" onClick="showPopupWindow('<?php echo $this->escape($this->url(array('page_id' => $this->pageId), 'blockAdd')); ?>','800','800','Page Block')" />
            <?php endif; ?>

        </td>
    </tr>
</table>