<?php if ($this->estimateDiscussions): ?>
    <div id="discussions" class="discussion_container">
	 
        <?php foreach ($this->estimateDiscussions as $estimateDiscussion): ?>
		    <table class="table">
				<tr>
					<td>
						<?php echo $this->escape($estimateDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($estimateDiscussion['user']['role_name']); ?></span>)
					</td>
					<td>
						<?php echo $this->escape(getDateFormating($estimateDiscussion['created'])); ?>
					</td>
					<td>
					    <?php echo nl2br($this->escape($estimateDiscussion['user_message'])); ?>
					</td>
				</tr>
           
            </table> 
        <?php endforeach; ?>
		 
    </div>
<?php else: ?>
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Estimate</p>
    </div>
<?php endif; ?>
<div id="errMsg" style="color:red;">&ensp;</div>
<form class="form-horizontal" method="POST" id="discussion_form" onsubmit="sendEstimateDiscussion();return false;">
    
    
    <div class="form-group">
        <label class="col-md-3">Discussion <span class="required_discussion">*</span></label>
    <div class="col-md-9">
         <textarea cols="" rows="5" id="disc" name="discussion" class="descussion_txtarea form-control"></textarea>
        
    </div>
    </div>

                <div class="form-group">

                <div class="col-md-9 col-md-offset-3" id="button_cont">
                          
                         
                             <button type="submit" value="Send"  class="btn btn-primary" >Send</button>
                             or 
                      
                             <a class="btn btn-primary" onclick="getData(); return false;">
                           
                            Refresh  
                          
                            </a>

                </div>
                </div>
   

</form>

<script type="text/javascript">
    function sendEstimateDiscussion(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->estimate['id']), 'submitEstimateDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
                if(msg.success == 1){
                    getData();
                    $('#discussions').removeClass('empty');
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
                return_button();
            }
        });   
    }
    
    setTimeout('scrollDown()', 1);
    
    var count = 0;
    function getData(){
    $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->estimate['id']), 'allEstimateDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
                if(count != msg.count){
                    
                    $('#discussions').html('');
                    $.each(msg.discussions, function(index, discussion) {
                        $('#discussions').append(
                        '<table class="table"><tr><td>'+
						discussion.user.username+'(<span class="red_color">'+discussion.user.role_name+'</span>)</td>'+
						'<td>'+discussion.discussion_date+'</td>'+
					    '<td>'+discussion.user_message+'</td></tr></table>'
                    );
                    });
                    
                    scrollDown();
                }
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                return_button();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<a class="btn btn-primary" onclick="$(\'#discussion_form\').submit(); return false;"> '+
            '<div class="discussion_submit">'+
            'Send'+
            '</div>'+
				
            '</a>'+
			' or '+
            '<a  class="btn btn-white" onclick="getData(); return false;">'+
            '<div class="discussion_refresh">'+
            'Refresh'+
            '</div>'+
            '</a>');
    }
</script>