<style>
	.delete{
        display:none;
        float:right;
        cursor:pointer;
    }
	.commentBox:hover .delete{
        display:block;
    }
</style>
<?php 
$loggedUser = CheckAuth::getLoggedUser();
?>
<?php if ($this->estimateDiscussions): ?>
   <ul id="discussions" class="discussion_container disc_b">
	
    
        <?php foreach ($this->estimateDiscussions as $estimateDiscussion): ?>
		  
				<li class="commentBox">
				<?php if(CheckAuth::checkCredential(array('deleteCommentFromEstimateDashboard'))){ ?>
								<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $estimateDiscussion['discussion_id']; ?>"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }else{
									if($loggedUser['user_id'] == $estimateDiscussion['user_id']){?>
										<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId = "<?php echo $estimateDiscussion['discussion_id']; ?>"><i class="glyphicon glyphicon-remove"></i></span>
						   <?php }} ?>
						<div style = "float:left;">	
							<div class="normal_font"> 
									<span>
										<i class="fa fa-user"></i>
										<b>	
											<?php echo $this->escape($estimateDiscussion['user']['username']); ?> (<span class="red_color"><?php echo $this->escape($estimateDiscussion['user']['role_name']); ?></span>)
										</b>
									</span>

									<span>
										&nbsp;
											<i class="glyphicon glyphicon-time" aria-hidden="true">&nbsp;</i>
											<?php echo $this->escape(getDateFormating($estimateDiscussion['created'])); ?>
									</span>
							</div>


							<div class="disc_message">
								 <?php echo nl2br($this->escape($estimateDiscussion['user_message'])); ?>
							</div>
							</div><div style = "clear:both;"></div> 
						</li>
        <?php endforeach; ?>
	</ul>
<?php else: ?>
<div class="ibox-content" id="popup_estimate_discussions">
    <div id="discussions" class="empty discussion_container">
        <p>No Discussion for this Estimate</p>
    </div>
</div>
<?php endif; ?>
<div id="errMsg" style="color:red;">&ensp;</div>
<form class="form-horizontal" method="POST" id="discussion_form" onsubmit="sendEstimateDiscussion();return false;">
    
    
    <div class="form-group">
				<label class="col-md-3">Discussion <span class="required_discussion">*</span></label>
				<div class="col-md-9">
					 <textarea cols="" rows="5" id="disc" name="discussion" class="descussion_txtarea form-control"></textarea>
					
				</div>
    </div>

                <div class="form-group">

                <div class="col-md-9 col-md-offset-3" id="button_cont">
                          
                         
                             <button type="submit" value="Send"  class="btn btn-primary" >Send</button>
                             or 
                      
                             <a class="btn btn-primary" onclick="getData(); return false;">
                           
                            Refresh  
                          
                            </a>

                </div>
                </div>
   

</form>

<script type="text/javascript">
	var countAllDiscussion = $('#allDiscussionsCount').attr('count');
    function sendEstimateDiscussion(){
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->estimate['id']), 'submitEstimateDiscussion')); ?>",
            data: $('#discussion_form').serialize(),
            dataType : "json",
            success: function(msg) {
                if(msg.success == 1){
					if($('#disc_tab').find('.no_result').length > 0){
						$('#disc_tab').html('<ul class="disc_b" id="estimate_discussion"></ul>')
					}
                    getData();
                    $('#discussions').removeClass('empty');
					
					countAllDiscussion++;
					$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
					$('#allDiscussionsCount').attr('count', countAllDiscussion);
                } else {
                    $('#errMsg').html(msg.errMsg);
                }
                return_button();
            }
        });   
    }
    
    setTimeout('scrollDown()', 1);
    
    
    function getData(){
		var count = 0;
		var loggedUserId = '<?php echo $loggedUser['user_id']; ?>';
		var canDeleteComment = '<?php echo CheckAuth::checkCredential(array('deleteCommentFromEstimateDashboard'));?>';
		$('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('id' => $this->estimate['id']), 'allEstimateDiscussion')); ?>",
            dataType : "json",
            success: function(msg) {
                if(count != msg.count){
                    
					if($('ul#discussions').length > 0){
						$('ul#discussions').html('');
					}else{
						$('div#discussions').remove();
						$('#popup_estimate_discussions').html('<ul class="disc_b discussion_container" id="discussions">');
					}
					if($('#estimate_discussion').length > 0){
						$('#estimate_discussion').html('');
					}else{
						$('#disc_tab').append('<ul class="disc_b" id="estimate_discussion"></ul>');
					}
					$('#estimate_discussion').html('<h4>Estimate</h4>');
                    
        
                    $.each(msg.discussions, function(index, discussion) {
						var comment_text = '<li class="commentBox">';
						if(canDeleteComment){
							comment_text = comment_text + '<span style="float:right; padding-right:5px;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="estimate"><i class="glyphicon glyphicon-remove"></i></span>'
						}else{
							if(loggedUserId == discussion.user_id){
								comment_text = comment_text + '<span style="float:right;" data-toggle="tooltip" title="Delete" class="delete" discussionId ="' + discussion.discussion_id +'" type="estimate"><i class="glyphicon glyphicon-remove"></i></span>'									
							}
						}
                       
					$('#discussions').append(comment_text + 
                        '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b> </span>'+
						' <span> &nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
					    ''+discussion.user_message+'</div></div><div style="clear:both;"></div></li>'
                    );
					
					
					if(discussion.thumbnail_path){
					 
					  $('#estimate_discussion').append(comment_text +
                        '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message"><input class="image_id" type="hidden" value = "'+ discussion.image_id +'"/>'+
					    '<img  style="margin-right: 10px;" src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/')); ?>'+discussion.thumbnail_path+'"/>'+											 
						''+discussion.user_message+'</div></div><div style="clear:both;"></div></li>'
                    );
					   
					 
					}else if (discussion.grouped_images){
					  
					   $('#estimate_discussion').append(comment_text +
                        '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
						'<div style="  width:auto;float: left;margin-right: 10px;" id="group'+index+'"></div><input class="group_id" type="hidden" value = "'+ discussion.group_id +'"/>'+
					    ''+discussion.user_message+'</div><div style="clear:both"></div></div><div style="clear:both;"></div></li>'); 
						
						for(var i = 0 ; i < discussion.grouped_images.length ; i ++){						  
						  $('#group'+index).append('<img src="<?php echo $this->escape($this->baseUrl('/uploads/image_attachment/'));?>'+discussion.grouped_images[i].thumbnail_path+'"/>');				
						}
					}else{  
					   $('#estimate_discussion').append(comment_text +
                        '<div style="float:left;"><div class="normal_font"> <span> <i class="fa fa-user"></i> <b>'+
						discussion.user.username+'('+discussion.user.role_name+')</b></span>'+
						' <span>&nbsp;<i class="glyphicon glyphicon-time" aria-hidden="true"></i> '+discussion.discussion_date+'</span></div><div class="disc_message">'+
					    ''+discussion.user_message+'</div></div><div style="clear:both;"></div></li>'
                    ); 
					}
					
					
					
					
                    });
                    
                    scrollDown();
                }else{
						$('#popup_estimate_discussions, #discussions, #estimate_discussion').html('');
						$('#popup_estimate_discussions, #discussions').html('<div id="discussions" class="empty discussion_container"><p>No Discussion for this Estimate</p></div>');
						
				}
                
                $('#disc').val('');
                $('#errMsg').html('');
                    
                count = msg.count;
                return_button();
				$('[data-toggle="tooltip"]').tooltip();
            }
        });
    }
    
    function scrollDown(){
        elem = document.getElementById('discussions');
        $('#discussions').animate({scrollTop: elem.scrollHeight});
    }
    
    function return_button(){
        $('#button_cont').html('<a class="btn btn-primary" onclick="$(\'#discussion_form\').submit(); return false;"> '+
            '<div class="discussion_submit">'+
            'Send'+
            '</div>'+
				
            '</a>'+
			' or '+
            '<a  class="btn btn-white" onclick="getData(); return false;">'+
            '<div class="discussion_refresh">'+
            'Refresh'+
            '</div>'+
            '</a>');
    }
	
	$('#discussions, #popup_estimate_discussions').on('click','.delete',function(){
		var delete_class = $(this);
		var discussion_id = delete_class.attr("discussionId");
		var estimate_id = '<?php echo $this->estimate['id'] ?>'
		if(delete_class.closest('li').has("img").length > 0){
			//alert('contain images');
			var confirmResult = confirm( 'This comment contains images, do you want to delete those images as well?');
			if(confirmResult){
				$.ajax({
					url: "<?php echo $this->escape($this->url(array(), 'updateDeletedEstimateComment')); ?>",
					type: "POST",
					data: {discussion_id: discussion_id, have_images: 1, estimate_id: estimate_id, image_id: $(this).closest('li').find('.image_id').val(), group_id: $(this).closest('li').find('.group_id').val()},
					success: function (data) {
						if(data == 1){
							getData();	
							countAllDiscussion--;
							$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
							$('#allDiscussionsCount').attr('count', countAllDiscussion);
							
							if(countAllDiscussion == 0){
								$('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
							}
						}
					}
				});
			}	
		}else{
			//alert('doesnot contain');
			$.ajax({
				url: "<?php echo $this->escape($this->url(array(), 'updateDeletedEstimateComment')); ?>",
				type: "POST",
				data: {discussion_id: discussion_id},
				success: function (data) {
					if(data == 1){
						getData();
						countAllDiscussion--;
						$('#allDiscussionsCount').html('Discussion (' + countAllDiscussion + ')');
						$('#allDiscussionsCount').attr('count', countAllDiscussion);
						
						if(countAllDiscussion == 0){
							$('#disc_tab').html('<div class="inquiry-no-result no_result"><span class="fa fa-ban"></span><br/><h3 class="font-bold">There are no Discussions.</h3></div>');
						}
					}
				}
			});
		}	
	});
	$('[data-toggle="tooltip"]').tooltip();
</script>