<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    Settings
                </div>
                <div class="clearb"></div>
            </div>

            <?php
            include dirname(__FILE__) . '/settings_blocks.phtml';

            $settings_block_title = 'User Settings';
            $settings_block = $settings_blocks[$settings_block_title];
            if ($settings_block['visible']) {
                $view = new Zend_View();
                $view->setScriptPath(APPLICATION_PATH . '/modules/settings/views/scripts/settings');
                $view->section_title = $settings_block_title;
                $view->section_actions = $settings_block['menu'];

                echo $view->render('settings_sections.phtml');
            }
            ?>

        </td>
        <td class="right_side">
            <div class="right_side_cont">

            </div>
        </td>
    </tr>
</table>