<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="setting_table_head_cont">
                <b><?php echo $this->section_title; ?></b>
            </td>
        </tr>
        <?php foreach ($this->section_actions as $action_title => $action) : ?>
            <?php if ($action['visible']) : ?>
                <tr>
                    <td class="setting_table_list_cont">
                        <span> &#8250;&#8250;</span>
                        <a href="<?php echo $action['url']; ?>" <?php echo (empty($action['onclick']) ? '' : 'onclick="' . $action['onclick'] . '"'); ?> class="a_list"><?php echo $action_title; ?></a>
                    </td>
                </tr>
            <?php endif; ?>
        <?php endforeach; ?>
    </tbody>
</table>