<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Clean Up Duplicates
                </div>
                <div class="clearb"></div>
            </div>
            <div style="border: 1px solid #CCCCCC;">
                <?php if ($this->data): ?>
                    <table style="width: 100%;"  cellspacing="0" cellpadding="0" border="0" >
                        <tr class="setting_table_head_cont" style="font-weight: bold;">
                            <td style="width: 35% ; padding-left: 10px;" >Name</td>
                            <td style="width: 65%; padding-left: 10px;">Duplicate</td>
                        </tr>
                        <?php foreach ($this->data as $row) : ?>
                            <tr>
                                <td class="setting_table_list_cont"> <span>››</span> <?php echo $this->escape(get_customer_name($row)); ?></td>
                                <td class="setting_table_list_cont"><a style="text-decoration: none;" href="<?php echo $this->escape($this->url(array('id' => $row['customer_id']), 'fixDuplicateCustomer')); ?>">Similar(<?php echo $row['duplicate_count'] ?>)</a></td>
                            </tr>
                        <?php endforeach; ?>
                    </table>

                    <div>
                        <?php if (count($this->pageLinks) > 3): ?>
                            <ul class="pagination_duplicate_customer">
                                <?php foreach ($this->pageLinks as $pageLink) : ?>
                                    <li><?php echo $pageLink; ?></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </div>

                <?php endif; ?>
            </div>
        </td>
        <td class="right_side">
            <div class="right_side_cont">

            </div>
        </td>
    </tr>
</table>