
    <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
        <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
        <div class="form-group">
            <label class="col-lg-3">Company :</label>
            <div class="col-lg-9">
            <?php echo $this->form->getElement('company_id')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Attribute Name :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('attribute_name')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Attribute Variable Name :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('attribute_variable_name')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Is Price Attribute :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('is_price_attribute')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Attribute Type :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('attribute_type_id')->render(); ?>
             </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 " >Extra Info :</label>
             <div class="col-lg-9">
            <?php echo $this->form->getElement('extra_info')->render(); ?>
             </div>
        </div>
		<input type="hidden" value="<?php echo isset($this->default_image['attachment_id'])?  $this->default_image['attachment_id'] : 0 ?>" name="default_image_id" id="default_image_id"/>
        
        <div class="form-group">
            <div class="col-md-5">
            <label class="col-md-8">Default Image: </label>
                <div class="btn-group profile-cog">
                        <button data-toggle="dropdown" class="btn  btn-xs dropdown-toggle"><i class="fa fa-camera"></i></button>
                        <ul class="dropdown-menu setting-m">
                            <li>
                                <a>
                                <span class="span_file_input">
                                    Upload Image 
									<input name="profile_picture" type="file" id="contractor_profile" onchange="DefaultAttributeImage();" accept="image/x-png, image/jpg, image/jpeg">
									
                                </span>
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-image" >
                    <div id="preview">
                        <img src="<?php
                        if ($this->default_image['compressed_file']) {
                            $parts = explode("public",$this->default_image['compressed_file']);
                            echo $this->baseUrl($parts['1']);
                        } else {
                            echo $this->baseUrl('/pic/attribute_pics/default_image.png');
                        }
                        ?>" width="180" height="150" class="img-circle circle-border" style="border-radius: 10%;" alt="profile">

                        <div id="loader_view" style="display: none;">
                            <img class="img-responsive" src="<?php echo $this->baseUrl('/pic/loading-4.gif'); ?>" />
                        </div>
                    </div>
                </div>           
            </div>
                
        </div>
        <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		</div>
       
    </form>

	<script>
	
	function DefaultAttributeImage() {

        if ($('#contractor_profile').get(0).files.length != 0) {

            var fileInput = $("#contractor_profile")[0],
                    file = fileInput.files && fileInput.files[0];

            var img = new Image();

            img.src = window.URL.createObjectURL(file);

            img.onload = function () {
                var width = img.naturalWidth,
                        height = img.naturalHeight;

                window.URL.revokeObjectURL(img.src);

                if (width > 699 && height > 399) {

                    var data = new FormData();
                    jQuery.each(jQuery('#contractor_profile')[0].files, function (i, file) {
                        data.append('contractor_profile-' + i, file);
                    });

                    $("#loader_view").css('display', 'block');
                    $.ajax({
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                        url: "<?php echo $this->url(array(), 'settingSetAttributeDefaultImage'); ?>",
                        data: data,
                        dataType: 'JSON',
                        // timeout: 50000,
                        success: function (msg) {
                            $('#preview').html(msg.image);
                            $('#default_image_id').val(msg.attachment_id);
                            $("#loader_view").css('display', 'none');
                        },
                        error: function (error)
                        {
                            alert("some thing error here!!");

                            console.log(error);

                        }
                    });





                } else {
                $(".modal-footer").show();
                $("#okBtn").css('display','none');
                    confirm_message('Image must be at least 700px width and 400px height');
                }
            };



        }
    }
	</script>