<?php
foreach ($this->serviceAttribute as $attribute):
    ?>
    <div class="index_cont">
        <div class="index_cont_att_name">
            <?php echo $this->escape($attribute['attribute_name']); ?> :
        </div>
        <div class="index_cont_attribute">
            <?php echo $this->escape(drowAttribute($attribute)); ?>
        </div>
        <div style="clear: both"></div>
    </div>
<?php endforeach; ?>


