<?php
$loggedUser = CheckAuth::getLoggedUser ();
$modelAuthRole = new Model_AuthRole ();
$contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
?>
<div class="menu_postion">
    <div class="sub_cont">

        <div class="sub_button first_sub_button <?php if ($this->sub_menu == 'invoice') { ?>sub_button_selected<?php } ?>">
            <a href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>">
                Invoice
            </a>
        </div>
        <div class="sub_button <?php if ($this->sub_menu == 'payment') { ?>sub_button_selected<?php } ?>">
            <a href="<?php echo $this->escape($this->url(array(), 'paymentList')); ?>?fltr[is_approved]=no">
                Payments Received
            </a>
        </div>
        <div class="sub_button <?php if ($this->sub_menu == 'refund') { ?>sub_button_selected<?php } ?>">
            <a href="<?php echo $this->escape($this->url(array(), 'refundList')); ?>?fltr[is_approved]=no">
               Refunds
            </a>
        </div>
		<?php if($loggedUser['role_id'] != $contractorRoleId){ ?>
		<div class="sub_button <?php if ($this->sub_menu == 'duplicatedInvoices') { ?>sub_button_selected<?php } ?>">
            <a href="<?php echo $this->escape($this->url(array(), 'duplicatedInvoices')); ?>" >
               Duplicated Invoices
            </a>
        </div>
		<?php } ?>

    </div>
</div>