<?php
$modelContractorServiceBooking = new Model_ContractorServiceBooking();
$modelServices = new Model_Services();
$modelServiceAttribute = new Model_ServiceAttribute();
$modelContractorServiceBookingTemp = new Model_ContractorServiceBookingTemp();
$modelBooking = new Model_Booking();
$modelBookingStatus = new Model_BookingStatus();
$modelBookingStatusHistory = new Model_BookingStatusHistory();
$modelUser = new Model_User();
$modelBookingInvoice = new Model_BookingInvoice();
$modelBookingProduct = new Model_BookingProduct();
$modelProduct = new Model_Product();

/**
 * oldStatusId
 */
$oldStatusId = $modelBookingStatusHistory->getOldStatusIdByBookingId($this->bookingId);
?>
<div style="width:95%; margin: 0 auto;">
    <form method="POST" id="Approved_form" action="<?php echo $this->escape($this->url(array('bookingId' => $this->bookingId), 'approvedService')); ?>">
        <div class="head" style="margin-top: 30px;">
            <div class="list_title">
                Approve Booking
            </div>
            <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                <div style="margin-left: 10px; font-size: 20px; float: left; padding-top: 5px; color: #999999">
                    (<a href="<?php echo $this->escape($this->url(array('id' => $this->bookingId), 'bookingView')); ?>" target="_blank" class="details_info_name"><?php echo $this->escape($this->booking['booking_num']) ?></a>)
                </div>
            <?php endif; ?>
            <div style="float:right;">
                <input type="submit" value="Approved"/>
            </div>
            <div class="clearb"></div>
        </div>
		<!-- By islam
					-->
					<div >
                        <?php
                        $status_id = $this->booking['status_id'];
                        $bookingStatus = $modelBookingStatus->getById($status_id);
                        ?>
                        <?php $productCounter = 0; ?>
                        <?php if (isset($bookingStatus['name']) && ('COMPLETED' == $bookingStatus['name'] || 'FAILED' == $bookingStatus['name'])): ?>
                            <div >

                                <div style="margin-bottom: 5px;">
                                    <div class="calender_slct_customer_txt">Onsite Client Name</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <input MaxLength="200" class="required text_input" disabled="disabled" id="onsite_client_name" name="onsite_client_name"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->booking['onsite_client_name']) ? $this->booking['onsite_client_name'] : "") ?>" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <div style="margin-bottom: 5px;">
                                    <div class="calender_slct_customer_txt">Job Start Time</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <input MaxLength="200" class="required text_input" disabled="disabled" id="job_start_time" readonly="readonly" name="job_start_time"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->booking['job_start_time']) ? date('d-m-Y h:i A', $this->booking['job_start_time']) : "") ?>" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <div style="margin-bottom: 5px;">
                                    <div class="calender_slct_customer_txt">Job Finish Time</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <input MaxLength="200" class="required text_input" disabled="disabled" id="job_finish_time" readonly="readonly" name="job_finish_time"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->booking['job_finish_time']) ? date('d-m-Y h:i A', $this->booking['job_finish_time']) : "") ?>" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <div style="margin-bottom: 5px;">
                                    <div class="calender_slct_customer_txt">Customer Satisfaction</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <table align="center" cellpadding="3" id="satisfaction">
                                            <tr>
                                                <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label for="satisfaction_1">Very Dissatisfied</label></td>
                                                <td>
                                                    <label style="margin-left: 6px;" for="satisfaction_1">1</label>
                                                </td>
                                                <td>            
                                                    <label style="margin-left: 6px;" for="satisfaction_2">2</label>
                                                </td>
                                                <td>            
                                                    <label style="margin-left: 6px;" for="satisfaction_3">3</label>
                                                </td>
                                                <td>            
                                                    <label style="margin-left: 6px;" for="satisfaction_4">4</label>
                                                </td>
                                                <td>            
                                                    <label style="margin-left: 6px;" for="satisfaction_5">5</label>
                                                </td>
                                                <td rowspan="2" style="width: 60px; text-align: center; color: gray;"><label for="satisfaction_5">Very Satisfied</label></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" disabled="disabled" <?php echo $this->escape(isset($this->booking['satisfaction']) ? ($this->booking['satisfaction'] == 1 ? 'checked="checked"' : '') : ''); ?> class="required" id="satisfaction_1" name="satisfaction" value="1"/>
                                                </td>
                                                <td>
                                                    <input type="radio" disabled="disabled" <?php echo $this->escape(isset($this->booking['satisfaction']) ? ($this->booking['satisfaction'] == 2 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_2" name="satisfaction" value="2"/>
                                                </td>
                                                <td>            
                                                    <input type="radio" disabled="disabled" <?php echo $this->escape(isset($this->booking['satisfaction']) ? ($this->booking['satisfaction'] == 3 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_3" name="satisfaction" value="3"/> 
                                                </td>
                                                <td>            
                                                    <input type="radio" disabled="disabled" <?php echo $this->escape(isset($this->booking['satisfaction']) ? ($this->booking['satisfaction'] == 4 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_4" name="satisfaction" value="4"/> 
                                                </td>
                                                <td>            
                                                    <input type="radio" disabled="disabled" <?php echo $this->escape(isset($this->booking['satisfaction']) ? ($this->booking['satisfaction'] == 5 ? 'checked="checked"' : '') : ''); ?> id="satisfaction_5" name="satisfaction" value="5"/> 
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>

                                <?php  if ($this->allBookingProduct): ?>
                                    <?php foreach ($this->allBookingProduct as $bookingProduct): ?>
                                        <div style="margin-bottom: 5px;" id="product_item<?php echo $this->escape($productCounter ? '_' . $productCounter : ''); ?>">
                                            <div class="calender_info_txt_cont">Product Name</div>
                                            <div class="calender_txt_input">
                                                <select disabled="disabled" name="product[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="<?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>dropdown">
                                                    <option value="">Select One</option>
                                                    <?php $products = $modelProduct->getAll(array(), "product ASC");
													foreach ($products as $product): ?>
                                                        <?php $selected = $bookingProduct['product_id'] == $product['id'] ? 'selected="selected"' : ''; ?>
                                                        <option value="<?php echo $this->escape($product['id']); ?>" <?php echo $this->escape($selected); ?>><?php echo $this->escape($product['product']); ?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                            <div class="calender_txt_input">
                                                Ltr
                                            </div>
                                            <div class="calender_txt_input">
                                                <input disabled="disabled" type="text" name="ltr[<?php echo $this->escape($productCounter ? $productCounter : ''); ?>]" class="<?php if ('FAILED' != $bookingStatus['name']): ?>required <?php endif; ?>text_input" value="<?php echo $this->escape(isset($bookingProduct['ltr']) ? $bookingProduct['ltr'] : ''); ?>" style="width: 100px;"/>
                                            </div>
                                            
                                            <div style="clear: both;"></div>
                                        </div>
                                        <?php $productCounter++; ?>
                                    <?php endforeach; ?>
                                <?php endif; ?>


                                <div style="margin-bottom: 5px;" id="more_product"></div>

                               
                            </div>
                            <?php if ('COMPLETED' == $bookingStatus['name']): ?>
                                <div class="calender_slct_customer_cont extra_field">
                                    <div class="calender_slct_customer_txt">Extra Comments</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <textarea disabled="disabled"  class="long_text" style="width: 530px;" id="extra_comments" name="extra_comments"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            <?php endif; ?>
                            <?php if ('FAILED' == $bookingStatus['name']): ?>
                                <div class="calender_slct_customer_cont extra_field"> 
                                    <div class="calender_slct_customer_txt">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <textarea disabled="disabled" class="long_text required" style="width: 530px;" id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <input name="confirmResetAttribut" id="confirmResetAttribut" type="hidden" value="0"/>
                            <?php endif; ?>
                        <?php elseif (isset($bookingStatus['name']) && 'TO DO' != $bookingStatus['name'] && 'IN PROGRESS' != $bookingStatus['name'] && 'QUOTED' != $bookingStatus['name']) : ?>
                            <div class="calender_slct_customer_cont extra_field">
                                <div class="calender_slct_customer_txt">Why <?php echo $this->escape(ucwords(strtolower($bookingStatus['name']))); ?> ?</div>
                                <div class="calender_slct_customer_dropdown">
                                    <textarea disabled="disabled" class="long_text required" style="width: 530px;" id="why" name="why"><?php echo $this->escape(isset($this->whyDiscussion['user_message']) ? $this->whyDiscussion['user_message'] : ''); ?></textarea>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        <?php endif; ?>
                        <?php if (isset($bookingStatus['name']) && 'ON HOLD' == $bookingStatus['name']): ?>
                            <div id="deferred_date_cont" class="calender_slct_customer_cont extra_field">
                                <div class="calender_slct_customer_txt">To Follow</div>
                                <div class="calender_slct_customer_dropdown">
                                    <input disabled="disabled" name="to_follow" type="text"  id="to_follow" class="text_field date_time required"  readonly="readonly"  value="<?php echo $this->escape(isset($this->booking['to_follow']) ? date('d-m-Y', $this->booking['to_follow']) : ''); ?>" />
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        <?php elseif (isset($bookingStatus['name']) && 'QUOTED' == $bookingStatus['name']) : ?>
                            <div class="calender_slct_customer_cont extra_field">
                                <div class="button_actions">
                                    <div class="calender_slct_customer_txt">To Follow</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <label>
                                            <input disabled="disabled" name="is_to_follow" type="checkbox" onchange="check_is_to_follow(this);" <?php echo $this->escape(isset($this->booking['is_to_follow']) && $this->booking['is_to_follow'] ? 'checked="checked"' : ''); ?>/>
                                            Confirm
                                        </label>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div id="deferred_date_cont" class="button_actions" <?php echo isset($this->booking['is_to_follow']) && $this->booking['is_to_follow'] ? '' : 'style="display: none;"'; ?>>
                                    <div class="calender_slct_customer_txt">&ensp;</div>
                                    <div class="calender_slct_customer_dropdown">
                                        <input disabled="disabled" name="to_follow" type="text"  id="to_follow" class="text_field date_time required"  readonly="readonly"  value="<?php echo $this->escape(isset($this->booking['to_follow']) ? date('d-m-Y', $this->booking['to_follow']) : ''); ?>" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        <?php endif; ?>
                    </div>
				<!-- end -->
		
				

        <table style="border-collapse: collapse; margin: 0 auto; width: 100%;">
            
                <?php
                $newStatus = $modelBookingStatus->getById($this->booking['status_id']);
                $oldStatus = $modelBookingStatus->getById($oldStatusId);
                ?>
                <tr style="height: 30px; width: 100%;">
                    <td colspan="3" style="width:48%; padding-left: 8px; border: 1px solid grey;">
                        <input type="radio" name="status_id" disabled="disabled" id="old_status" value="old_status"/>
                        <label for="old_status" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">Old Status <span style="color: #9C0000;">(<?php echo $this->escape($oldStatus['name']); ?>)</span></label>
                    </td>

                    <td style="width:4%; background-color: #FFFFFF;"></td>

                    <td colspan="3" style="width:48%; padding-left: 8px; border: 1px solid grey;">
                        <input type="radio" name="status_id" checked="checked" disabled="disabled" id="new_status" value="new_status"/>
                        <label for="new_status" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">New Status <span style="color: #9C0000;">(<?php echo $this->escape($newStatus['name']); ?>)</span></label>
                    </td>
                </tr>
                <tr style="height: 30px; width: 100%;">
                    <td colspan="7" style="background-color: #FFFFFF;"></td>
                </tr>
            
            <?php if ($this->booking['convert_status'] == 'invoice'): ?>
                <?php $invoice = $modelBookingInvoice->getByBookingId($this->booking['booking_id']) ?>
                <?php if (!empty($invoice['invoice_num_temp']) && $invoice['invoice_num_temp'] != $invoice['invoice_num']): ?>

                    <tr style="height: 30px; width: 100%;">
                        <td colspan="3" style="width:48%; padding-left: 8px; border: 1px solid grey;">
                            <input type="radio" name="invoice_num"  id="old_invoice_num" value="old_invoice_num" <?php echo isset($_POST['invoice_num']) && $_POST['invoice_num'] == 'old_invoice_num' ? 'checked="checked"' : '' ?>/>
                            <label for="old_invoice_num" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">Old Invoice Number <span style="color: #9C0000;">(<?php echo $this->escape($invoice['invoice_num_temp']); ?>)</span></label>
                        </td>

                        <td style="width:4%; background-color: #FFFFFF;"></td>

                        <td colspan="3" style="width:48%; padding-left: 8px; border: 1px solid grey;">
                            <input type="radio" name="invoice_num" id="new_invoice_num" value="new_invoice_num" <?php echo isset($_POST['invoice_num']) && $_POST['invoice_num'] == 'new_invoice_num' ? 'checked="checked"' : '' ?>/>
                            <label for="new_invoice_num" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; ">New Invoice Number <span style="color: #9C0000;">(<?php echo $this->escape($invoice['invoice_num']); ?>)</span></label>
                        </td>
                    </tr>
                    <tr style="height: 30px; width: 100%;">
                        <td colspan="7" style="background-color: #FFFFFF;"></td>
                    </tr>


                <?php endif; ?>
            <?php endif; ?>
            <?php if ($this->newAddress) : ?>
                <tr style="height: 30px; width: 100%;">
                    <td colspan="3" style="width:48%; padding-left: 8px; border-top: 1px solid grey; border-left: 1px solid grey; border-right: 1px solid grey;">
                        <input type="radio" name="address" <?php echo isset($_POST['address']) && $_POST['address'] == 'old_address' ? 'checked="checked"' : '' ?> id="old_address" value="old_address"/>
                        <label for="old_address" style="margin-left: 5px; font-weight: bold;">Old Address</label>
                    </td>

                    <td style="width:4%; background-color: #FFFFFF;"></td>

                    <td colspan="3" style="width:48%; padding-left: 8px; border-top: 1px solid grey; border-left: 1px solid grey; border-right: 1px solid grey;">
                        <input type="radio" name="address" <?php echo isset($_POST['address']) && $_POST['address'] == 'new-address' ? 'checked="checked"' : '' ?> id="new_address" value="new-address"/>
                        <label for="new_address" style="margin-left: 5px; font-weight: bold;">New Address</label>
                    </td>
                </tr>

                <tr style="height: 30px; width: 100%;">
                    <td colspan="3" style="width:48%; padding-left: 8px; border: 1px solid grey;">
                        <div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Unit / Lot No.</div>
                                <div style="float: left;">
                                    <input class="text_input" name="unit_lot_number"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->oldAddress['unit_lot_number']) ? $this->oldAddress['unit_lot_number'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Street Number</div>
                                <div style="float: left;">
                                    <input class="text_input required" name="street_number"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->oldAddress['street_number']) ? $this->oldAddress['street_number'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Street Name</div>
                                <div style="float: left;">
                                    <input class="text_input required" name="street_address"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->oldAddress['street_address']) ? $this->oldAddress['street_address'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Suburb</div>
                                <div style="float: left;">
                                    <input class="text_input required" name="suburb"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->oldAddress['suburb']) ? $this->oldAddress['suburb'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Post code</div>
                                <div style="float: left;">
                                    <input class="text_input required" name="postcode"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->oldAddress['postcode']) ? $this->oldAddress['postcode'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; margin-bottom: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">P.O. box</div>
                                <div style="float: left;">
                                    <input class="text_input" name="po_box"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->oldAddress['po_box']) ? $this->oldAddress['po_box'] : "") ?>" />
                                </div>
                            </div>
                        </div>
                    </td>

                    <td style="width:4%; background-color: #FFFFFF;"></td>

                    <td colspan="3" style="width:48%; padding-left: 8px; border: 1px solid grey;">
                        <div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Unit / Lot No.</div>
                                <div style="float: left;">
                                    <input class="text_input" name="unit_lot_number"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->newAddress['unit_lot_number']) ? $this->newAddress['unit_lot_number'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Street Number</div>
                                <div style="float: left;">
                                    <input class="text_input required" name="street_number"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->newAddress['street_number']) ? $this->newAddress['street_number'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Street Name</div>
                                <div style="float: left;">
                                    <input class="text_input required" name="street_address"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->newAddress['street_address']) ? $this->newAddress['street_address'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Suburb</div>
                                <div style="float: left;">
                                    <input class="text_input required" name="suburb"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->newAddress['suburb']) ? $this->newAddress['suburb'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">Post code</div>
                                <div style="float: left;">
                                    <input class="text_input required" name="postcode"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->newAddress['postcode']) ? $this->newAddress['postcode'] : "") ?>" />
                                </div>
                            </div>
                            <div style="margin-top: 5px; margin-bottom: 5px; float :left; clear: both;">
                                <div style="float: left; color: #9C0000; width: 100px;  font-size: 14px;">P.O. box</div>
                                <div style="float: left;">
                                    <input class="text_input" name="po_box"  style="width: 200px;" type="text" value="<?php echo $this->escape(isset($this->newAddress['po_box']) ? $this->newAddress['po_box'] : "") ?>" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr style="height: 30px; width: 100%;">
                    <td colspan="7" style="background-color: #FFFFFF;"></td>
                </tr>

            <?php endif; ?>

            <tr class="calender_service_total" style="margin-top: 20px; padding: 2px;">
                <td style="width:32%; padding-left: 8px; border-left: 3px solid #ACD2E7; font-weight: bold;">Old Services</td>
                <td style="width:8%; text-align: center; font-weight: bold;">Amount</td>
                <td style="width:8%; text-align: center; border-right: 3px solid #ACD2E7; font-weight: bold;">Total</td>

                <td style="width:4%; background-color: #FFFFFF;"></td>

                <td style="width:32%; padding-left: 8px; border-left: 3px solid #ACD2E7; font-weight: bold;">New Services</td>
                <td style="width:8%; text-align: center; font-weight: bold;">Amount</td>
                <td style="width:8%; text-align: center; border-right: 3px solid #ACD2E7; font-weight: bold;">Total</td>
            </tr>

            <?php if ($this->allBookingServices): ?>
                <?php $booking = $modelBooking->getById($this->bookingId); ?>
                <?php foreach ($this->allBookingServices as $key => $allBookingService): ?>
                    <?php
                    $bookingId = isset($allBookingService['booking_id']) ? $allBookingService['booking_id'] : 0;
                    $serviceId = isset($allBookingService['service_id']) ? $allBookingService['service_id'] : 0;
                    $clone = isset($allBookingService['clone']) ? $allBookingService['clone'] : 0;

                    $serviceDetails = $modelServices->getById($serviceId);

                    // get Old Service  with price and  his attribute
                    $oldService = $modelContractorServiceBooking->getByBookingAndServiceAndClone($bookingId, $serviceId, $clone);
                    $oldServicesAttribute = $modelServiceAttribute->getAttributeByServiceId($oldService['service_id']);
                    $oldAmountServicePrice = $modelContractorServiceBooking->getServiceBookingQoute($bookingId, $serviceId, $clone);
                    $oldTotalServicePrice = $modelContractorServiceBooking->getTotalServiceBookingQoute($bookingId, $serviceId, $clone);
                    $oldContractor = $modelUser->getById($oldService['contractor_id']);
                    if ($oldContractor) {
                        $modelUser->fill($oldContractor, array('contractor_info'));
                    }
                    $isChange = isset($oldService['is_change']) ? $oldService['is_change'] : 0;
                    $isNotChange = !$isChange;

                    // get New Service  with price and  his attribute
                    $newService = $modelContractorServiceBookingTemp->getByBookingAndServiceAndClone($bookingId, $serviceId, $clone);
                    $newServicesAttribute = $modelServiceAttribute->getAttributeByServiceId($newService['service_id']);
                    $newAmountServicePrice = $modelContractorServiceBookingTemp->getServiceBookingQoute($bookingId, $serviceId, $clone);
                    $newTotalServicePrice = $modelContractorServiceBookingTemp->getTotalServiceBookingQoute($bookingId, $serviceId, $clone);
                    $newContractor = $modelUser->getById($newService['contractor_id']);
                    if ($newContractor) {
                        $modelUser->fill($newContractor, array('contractor_info'));
                    }
                    $style = '';
                    if ($isNotChange && $oldService && $newService) {
                        $style = 'background-color: gainsboro;';
                    }
                    ?>
                    <tr style="height: 30px; width: 100%; background-color: <?php echo ($isNotChange && $oldService && $newService) ? 'gainsboro' : ''; ?>;">

                        <td colspan="3" style="width:48%; border-bottom: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; border-right: 3px solid #ACD2E7; padding-left: 8px;">
                            <div style="float: left">
                                <input type="radio" name="<?php echo $key ?>" <?php echo isset($_POST[$key]) && $_POST[$key] == 'old' ? 'checked="checked"' : '' ?> <?php echo ($isNotChange && $oldService && $newService) ? 'checked="checked" disabled="disabled"' : ''; ?> id="<?php echo $key . '_old' ?>" value="old"/>
                                <label for="<?php echo $key . '_old' ?>" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; "><?php echo ($oldService ? $this->escape($serviceDetails['service_name']) : "Remove " . $this->escape($serviceDetails['service_name'])); ?></label>
                            </div>
                            <div style="float: left; margin-left: 15px;" >
                                <input readonly="readonly" disabled <?php echo isset($oldService['consider_min_price']) && $oldService['consider_min_price'] ? 'checked="checked"' : ''; ?> type="checkbox"/>
                                <label style ="vertical-align: text-top; ">  Consider Minimum Price ($ <?php echo $this->escape($serviceDetails['min_price']); ?>)</label>
                            </div>
                        </td>

                        <td style="width:4%; background-color: #FFFFFF;"></td>

                        <td colspan="3" style="width:48%; border-bottom: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; border-right: 3px solid #ACD2E7; padding-left: 8px;">
                            <div style="float: left">
                                <input type="radio" name="<?php echo $key ?>" <?php echo isset($_POST[$key]) && $_POST[$key] == 'new' ? 'checked="checked"' : '' ?> <?php echo ($isNotChange && $oldService && $newService) ? 'disabled="disabled"' : ''; ?> id="<?php echo $key . '_new' ?>" value="new"/>
                                <label for="<?php echo $key . '_new' ?>" style="margin-left: 5px; font-weight: bold; vertical-align: text-top; "><?php echo ($newService ? $this->escape($serviceDetails['service_name']) : "Remove " . $this->escape($serviceDetails['service_name'])); ?></label>
                            </div>
                            <div style="float: left; margin-left: 15px;" >
                                <input readonly="readonly" disabled <?php echo isset($newService['consider_min_price']) && $newService['consider_min_price'] ? 'checked="checked"' : ''; ?> type="checkbox"/>
                                <label style ="vertical-align: text-top; ">  Consider Minimum Price ($ <?php echo $this->escape($serviceDetails['min_price']); ?>)</label>
                            </div>
                        </td>

                    </tr>

                    <tr style="height: 30px; width: 100%; background-color: <?php echo ($isNotChange && $oldService && $newService) ? 'gainsboro' : ''; ?>;">

                        <td colspan="3" style="width:48%; border-bottom: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; border-right: 3px solid #ACD2E7; padding-left: 8px; color: #9C0000; font-size: 14px;">
                            Technician : 
							<?php if(isset($oldContractor['contractor_name'])){ ?>
							<a href="<?php echo $this->escape($this->url(array('contractor_id' => $oldContractor['user_id']), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo isset($oldContractor['contractor_name']) ? $oldContractor['contractor_name'] : ''; ?></a>
							<?php } ?>
						</td>

                        <td style="width:4%; background-color: #FFFFFF;"></td>

                        <td colspan="3" style="width:48%; border-bottom: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; border-right: 3px solid #ACD2E7; padding-left: 8px; color: #9C0000; font-size: 14px;">
                            Technician :
							<?php if(isset($newContractor['contractor_name'])){ ?>
							<a href="<?php echo $this->escape($this->url(array('contractor_id' => $newContractor['user_id']), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $newContractor['contractor_name']; ?></a>
							<?php } ?>
						</td>

                    </tr>
					
                    <tr style="padding: 2px; height: 30px; width: 100%; background-color: <?php echo ($isNotChange && $oldService && $newService) ? 'gainsboro' : ''; ?>;">
                        <td style="width:32%; border-bottom: 3px solid #ACD2E7; border-left: 3px solid #ACD2E7; padding-left: 8px; padding-bottom: 5px;">
                            <div>
                                <?php foreach ($oldServicesAttribute as $attribute): ?>
                                    <div style="margin-top: 5px; float :left; width: 100%; clear: both;">
                                        <div style="float: left; color: #9C0000; font-size: 14px;">
                                            <?php echo $this->escape($attribute['attribute_name']); ?>
                                        </div>
                                        <div style="float: right;">
                                            <?php echo drowAttribute($attribute, $this->escape(isset($bookingId) ? $bookingId : 0), 0, $clone, false, true, $style); ?>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        </td>
                        <td style="width:8%; text-align: center; border-bottom: 3px solid #ACD2E7;"><?php echo $oldAmountServicePrice ? $this->escape(number_format($oldAmountServicePrice, 2)) : 0; ?></td>
                        <td style="width:8%; text-align: center; border-bottom: 3px solid #ACD2E7; border-right: 3px solid #ACD2E7;"><?php echo $oldTotalServicePrice ? number_format($oldTotalServicePrice, 2) : 0; ?></td>

                        <td style="width:4%; background-color: #FFFFFF;"></td>

                        <td style="width:32%; border-bottom: 3px solid #ACD2E7; border-left: 3px solid #ACD2E7; padding-left: 8px; padding-bottom: 5px;">
                            <div>
                                <?php foreach ($newServicesAttribute as $attribute): ?>
                                    <div style="margin-top: 5px; float :left; width: 100%; clear: both;">
                                        <div style="float: left; color: #9C0000; font-size: 14px;">
                                            <?php echo $this->escape($attribute['attribute_name']); ?>
                                        </div>
                                        <div style="float: right;">
                                            <?php echo drowAttribute($attribute, $this->escape(isset($bookingId) ? $bookingId : 0), 0, $clone, true, true, $style); ?>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        </td>
                        <td style="width:8%; text-align: center; border-bottom: 3px solid #ACD2E7;"><?php echo $newAmountServicePrice ? $this->escape(number_format($newAmountServicePrice, 2)) : 0; ?></td>
                        <td style="width:8%; text-align: center; border-bottom: 3px solid #ACD2E7; border-right: 3px solid #ACD2E7;"><?php echo $newTotalServicePrice ? number_format($newTotalServicePrice, 2) : 0; ?></td>

                    </tr>

                <?php endforeach; ?>
                <?php
                $subTotal = $modelContractorServiceBooking->getTotalBookingQoute($bookingId);
                $totalDiscount = $booking['total_discount'];
                $callOutFee = $booking['call_out_fee'];
                $gstTax = ($subTotal + $callOutFee - $totalDiscount) * get_config('gst_tax');
                $totalQoute = ($subTotal + $callOutFee - $totalDiscount) + $gstTax;

                $subTotalTemp = $modelContractorServiceBookingTemp->getTotalBookingQoute($bookingId);
                $totalDiscountTemp = $booking['total_discount_temp'];
                $callOutFeeTemp = $booking['call_out_fee_temp'];
                $gstTaxTemp = ($subTotalTemp + $callOutFeeTemp - $totalDiscountTemp) * get_config('gst_tax');
                $totalQouteTemp = ($subTotalTemp + $callOutFeeTemp - $totalDiscountTemp) + $gstTaxTemp;

                $discountDisabled = false;
                $callOutFeeDisabled = false;
                if ($totalDiscount == $totalDiscountTemp) {
                    $discountDisabled = true;
                }
                if ($callOutFee == $callOutFeeTemp) {
                    $callOutFeeDisabled = true;
                }
                ?>
                <tr style="height: 30px;">
                    <td style="width:32%; padding-left: 8px;"></td>
                    <td style="width:8%; text-align: left; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; padding-left: 8px;">
                        <label style="font-weight: bold;">Sub Total:</label>
                    </td>
                    <td style="width:8%; text-align: center; border-bottom: 1px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                        <?php echo $this->escape(isset($subTotal) ? number_format($subTotal, 2) : ""); ?>  
                    </td>

                    <td style="width:4%;"></td>

                    <td style="width:32%; padding-left: 8px;"></td>
                    <td style="width:8%; text-align: left; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; padding-left: 8px;">
                        <label style="font-weight: bold;">Sub Total:</label>
                    </td>
                    <td style="width:8%; text-align: center; border-bottom: 1px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                        <?php echo $this->escape(isset($subTotalTemp) ? number_format($subTotalTemp, 2) : ""); ?>  
                    </td>
                </tr>
                <?php $modelBookingStatus = new Model_BookingStatus(); ?>
                <?php $faild = $modelBookingStatus->getByStatusName('FAILED'); ?>
                <?php if ($booking['status_id'] == $faild['booking_status_id']): ?>
                    <tr style="height: 30px;">
                        <td style="width:32%; padding-left: 8px;"></td>
                        <td style="width:8%; clear: both; text-align: left; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7;">
                            <label for="call_out_fee_old" style="margin-left: 5px; font-weight: bold; float: left;">Call Out Fee:</label>
                            <input type="radio" id="call_out_fee_old" <?php echo isset($_POST['call_out_fee']) && $_POST['call_out_fee'] == 'old_call_out_fee' ? 'checked="checked"' : '' ?> style="float: left;" <?php echo ($callOutFeeDisabled) ? 'checked="checked" disabled="disabled"' : ''; ?> name="call_out_fee" value="old_call_out_fee"/> 
                        </td>
                        <td style="width:8%; text-align: center; border-bottom: 1px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                            <?php echo $this->escape(isset($callOutFee) ? number_format($callOutFee, 2) : ""); ?>
                        </td>
                        <td style="width:4%;"></td>
                        <td style="width:32%; padding-left: 8px;"></td>
                        <td style="width:8%; clear: both; text-align: left; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; ">
                            <label for="call_out_fee_new" style="margin-left: 5px; font-weight: bold; float: left;">Call Out Fee:</label>
                            <input type="radio" id="call_out_fee_new" <?php echo isset($_POST['call_out_fee']) && $_POST['call_out_fee'] == 'new_call_out_fee' ? 'checked="checked"' : '' ?> style="float: left;" <?php echo ($callOutFeeDisabled) ? 'disabled="disabled"' : ''; ?> name="call_out_fee" value="new_call_out_fee"/>  
                        </td>
                        <td style="width:8%; text-align: center; border-bottom: 1px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                            <?php echo $this->escape(isset($callOutFeeTemp) ? number_format($callOutFeeTemp, 2) : ""); ?>
                        </td>
                    </tr>
                <?php endif; ?>
                <tr style="height: 30px;">
                    <td style="width:32%; padding-left: 8px;"></td>
                    <td style="width:8%; clear: both; text-align: left; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7;">
                        <label for="total_discount_old" style="margin-left: 5px; font-weight: bold; float: left;">Discount:</label>
                        <input type="radio" id="total_discount_old" <?php echo isset($_POST['total_discount']) && $_POST['total_discount'] == 'old_discount' ? 'checked="checked"' : '' ?> style="float: left;" <?php echo ($discountDisabled) ? 'checked="checked" disabled="disabled"' : ''; ?> name="total_discount" value="old_discount"/> 
                    </td>
                    <td style="width:8%; text-align: center; border-bottom: 1px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                        <?php echo $this->escape(isset($totalDiscount) ? number_format($totalDiscount, 2) : ""); ?>
                    </td>

                    <td style="width:4%;"></td>

                    <td style="width:32%; padding-left: 8px;"></td>
                    <td style="width:8%; clear: both; text-align: left; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; ">
                        <label for="total_discount_new" style="margin-left: 5px; font-weight: bold; float: left;">Discount:</label>
                        <input type="radio" id="total_discount_new" <?php echo isset($_POST['total_discount']) && $_POST['total_discount'] == 'new_discount' ? 'checked="checked"' : '' ?> style="float: left;" <?php echo ($discountDisabled) ? 'disabled="disabled"' : ''; ?> name="total_discount" value="new_discount"/>  
                    </td>
                    <td style="width:8%; text-align: center; border-bottom: 1px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                        <?php echo $this->escape(isset($totalDiscountTemp) ? number_format($totalDiscountTemp, 2) : ""); ?>
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td style="width:32%; padding-left: 8px;"></td>
                    <td style="width:8%; text-align: left; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; padding-left: 8px;">
                        <label style="font-weight: bold;">GST (<?php echo (100 * get_config('gst_tax')); ?>%):</label>
                    </td>
                    <td style="width:8%; text-align: center; border-bottom: 1px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                        <?php echo $this->escape(isset($gstTax) ? $gstTax : ""); ?>
                    </td>

                    <td style="width:4%;"></td>

                    <td style="width:32%; padding-left: 8px;"></td>
                    <td style="width:8%; text-align: left; border-bottom: 1px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; padding-left: 8px;">
                        <label style="font-weight: bold;">GST (<?php echo (100 * get_config('gst_tax')); ?>%):</label>
                    </td>
                    <td style="width:8%; text-align: center; border-bottom: 1px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                        <?php echo $this->escape(isset($gstTaxTemp) ? $gstTaxTemp : ""); ?>
                    </td>
                </tr>
                <tr style="height: 30px;">
                    <td style="width:32%; padding-left: 8px;"></td>
                    <td style="width:8%; text-align: left; border-bottom: 3px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; padding-left: 8px;">
                        <label style="font-weight: bold;">Total:</label>
                    </td>
                    <td style="width:8%; text-align: center; border-bottom: 3px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                        <?php echo $this->escape(isset($totalQoute) ? $totalQoute : ""); ?>
                    </td>

                    <td style="width:4%;"></td>

                    <td style="width:32%; padding-left: 8px;"></td>
                    <td style="width:8%; text-align: left; border-bottom: 3px solid #ACD2E7; border-right: 1px solid #ACD2E7; border-left: 3px solid #ACD2E7; padding-left: 8px;">
                        <label style="font-weight: bold;">Total:</label>
                    </td>
                    <td style="width:8%; text-align: center; border-bottom: 3px solid #ACD2E7; border-right: 3px solid #ACD2E7;">
                        <?php echo $this->escape(isset($totalQouteTemp) ? $totalQouteTemp : ""); ?>
                    </td>
                </tr>
            <?php endif; ?>
        </table>
        <input type="hidden" name="redirect_to_payment" value="<?php echo($this->escape($this->redirect_to_payment)); ?>"/>
        <div style="margin: 20px 0; float: right; clear: both;">
            <input type="submit" value="Approved"/>
        </div>
    </form>
</div>
