<form id="search_form" action="<?php echo $this->escape($this->form->getAction()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>" >
    <div class="search">
        
        <div id="search">
            <div class="filter_border_top"></div>

            <div class="filter_book_cont">
                <span class="formLabel">Contractor Name</span>
                <div class="button_actions">
                    <?php if (!CheckAuth::checkCredential(array('canSeeAllContractorReport'))): ?>
                        <?php $LoggedUser = Zend_Auth::getInstance()->getIdentity(); ?>
                        <?php echo $LoggedUser->username; ?>
                    <?php else : ?>
                        <?php echo $this->form->getElement('contractor_id'); ?>
                    <?php endif; ?>
                </div>
            </div>
			
			

            <div class="cancel_link_cont">
                <?php echo $this->form->getElement('button'); ?> 
            </div>
        </div>
        <div class="filter_bottom_border"></div>
    </div>
   
</form>


<script type="text/javascript">
    
    $(document).ready(function() {
        $('#header').width($('.table').width());
        $('#menu_cont').width($('.table').width());
        $('#body_cont').width($('.table').width());
        
       
    });
	
	
	
</script>