<div>
    <table class="table" >
        <tr>
            <td class="left_side">
                <?php if (CheckAuth::checkCredential(array('canApproveBooking'))): ?>
				<div class="sort_customer_cont" style="margin-bottom: 20px;">
							<?php
							if (CheckAuth::checkCredential(array('canSeeAllContractorReport'))){
								$modelUser = new Model_User();
								$options = $modelUser->getAllContractor(true);
							 ?>
							<select style="width: 217px;" id="fltr['service_history_contractor_id']" onchange="filter('<?php echo $this->escape($this->url(array(), 'unapproved')); ?>?fltr[service_history_contractor_id]='+$(this).val());">
								<option value="">Select Contractor</option>
								<?php foreach ($options as $key=>$value){ ?>
									<?php $selected = isset($this->filters['service_history_contractor_id']) && $this->filters['service_history_contractor_id'] == $key ? 'selected="selected"' : ''; ?>
									<option value="<?php echo $key; ?>" <?php echo $selected; ?> ><?php echo $value; ?></option>
								<?php } ?>
							</select>
							<?php } ?>
					</div>
				     <?php if ($this->countUnapprovedBooking): ?>
                        <div id="booking-action-cont" style="width: 100%; margin-bottom: 40px;">
                            <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                                <tr class="header-details-summary">
                                    <td style="padding: 5px;"><b>Booking#</b></td>
                                    <td style="padding: 5px;" style="width: 50%"><b>Details</b></td>
									<td style="padding: 5px; text-align: center;" ><b>Contractor</b></td>
									<td style="padding: 5px; text-align: center;" ><b>Owner</b></td>
                                    <td style="padding: 5px; text-align: center;"><b>Approve</b></td>
                                    <td style="padding: 5px; text-align: center;" class="head_title"><b> Old Amount</b></td>
                                    <td style="padding: 5px; text-align: center;" class="head_title"><b> New Amount</b></td>
                                </tr>

                                <?php $count = 0; ?>
                                <?php
                                $modelBookingStatus = new Model_BookingStatus();
                                $modelBookingAddress = new Model_BookingAddress();
                                $modelContractorServiceBookingTemp = new Model_ContractorServiceBookingTemp();
                                $modelContractorInfo = new Model_ContractorInfo();
                                $modelAuthRole = new Model_AuthRole();
                                $modelUser = new Model_User();
                                ?>
                                <?php foreach ($this->unapprovedBooking as $row) : ?>
                                    <?php $count += 1; ?>
                                    <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                    ?>">

                                        <td style="padding: 5px;">
                                            <div class="details_info_l">
                                                <div style="font-size: 14px;">
                                                    <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></a>
                                                    <?php else: ?>
                                                        <span class="details_info_name"><b><?php echo $this->escape($row['booking_num']) ?></b></span>
                                                    <?php endif; ?>
                                                </div>
                                                <?php
                                                $color = '#A1A1A1';
                                                switch ($row['convert_status']) {
                                                    case 'booking':
                                                        $color = '#A1A1A1';
                                                        break;

                                                    case 'estimate':
                                                        $color = '#4F8BC3';
                                                        break;

                                                    case 'invoice':
                                                        $color = '#BCD68F';
                                                        break;
                                                }
                                                ?>
                                                <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                    <?php echo $this->escape($row['convert_status']); ?>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="padding: 5px;">
                                            <div class="details_info_l">
                                                <div>
                                                    <?php echo $this->escape(getDateFormating($row['update_date'])); ?>
                                                    
                                                </div>
                                                <div class="booking_time_cont">
                                                    <span class="time_start_color">Start Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_start']))) ?> 
                                                    <span class="time_end">End Time : </span><?php echo $this->escape(getDateFormating(strtotime($row['booking_end']))) ?>
                                                    
                                                </div>
                                            </div>
                                        </td>
										<!-- By Islam -->
										<td style="padding: 5px; text-align: center;" class="details_info_l">
                                            <div class="details_info_l"> 
                                                    <a href="<?php echo $this->escape($this->url(array('contractor_id' => $row['contractor_id']), 'settingsContractorInfoList')); ?>" target="_blank" class="a_black"><?php echo $this->escape($row['username']); ?></a>
                                    		</div>
                                        </td>
										<?php $owner = $modelUser->getById($row['created_by']); ?>
										<td style="padding: 5px; text-align: center;" class="details_info_l">
                                            <div class="details_info_l"> 
                                                     <?php echo $owner['username']; ?>
                                            </div>
                                        </td>
										<!-- By Islam End -->
										
                                        <td style="padding: 5px; text-align: center; " class="details_info_l">
                                            <div class="details_info_l"> 
                                                <a class="details_info_opt" href="<?php echo $this->url(array('id' => $row['booking_id']), 'approvedService'); ?>">
                                                    Approve
                                                </a> 
                                            </div>
                                        </td>
                                        <td style="padding: 5px; text-align: center;" class="details_info_r">
                                            <div class="details_info_l">
                                                $ <?php echo $this->escape(number_format($row['qoute'], 2)); ?></br>
												<?php
												$modelBookingStatusHistory = new Model_BookingStatusHistory();
												$oldStatusId = $modelBookingStatusHistory->getOldStatusIdByBookingId($row['booking_id']);
                                                $bookingStatus = $modelBookingStatus->getById($oldStatusId);
                                                echo $this->escape($bookingStatus['name']);
                                                 ?>
												
                                            </div>
                                        </td>
                                        <?php $bookingQouteTemp = $modelContractorServiceBookingTemp->getTotalBookingQouteBalance($row['booking_id']) ?>
                                        <td style="padding: 5px; text-align: center;" class="details_info_r">
                                           <div class="details_info_l">
                                                $ <?php echo $this->escape(number_format($bookingQouteTemp, 2)); ?></br>
												<?php
                                                $bookingStatus = $modelBookingStatus->getById($row['status_id']);
                                                echo $this->escape($bookingStatus['name']);
                                                 ?>
                                            </div>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        </div>
                    <?php else: ?>
                        <div style="" class="noRowsMessageDIV" style="margin-top: 50px !important;" >There are no Unapproved Bookings.
                            <div style="font-size:12px; margin-top:6px;">
                                <a href="<?php echo $this->escape($this->url(array(), 'booking')); ?>">View all Booking</a>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endif; ?>
            </td>
            
        </tr>
    </table>
	
</div>

<script type="text/javascript">
function filter(url){
        window.location = url;
    }
</script>


