<!-- TinyMCE -->
<script type="text/javascript">
    tinyMCE.init({
        // General options
        mode : "textareas",
        theme : "advanced",
        relative_urls : false,
        convert_urls : false,
        plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true
    });
</script>
<!-- /TinyMCE -->
<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    All Email Template
                </div>
                <div class="clearb"></div>
            </div>

            <form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>">
                <div class="margin_l_20">
                    <div>
                        <div>
                            <label>Subject</label> 
                        </div>
                        <?php echo $this->form->getElement('subject')->render(); ?>
                    </div>

                    <div class="margin_t_10">
                        <div>
                            <label>Body</label> 
                        </div>
                        <?php echo $this->form->getElement('body')->render(); ?>
                        <div style="font-size: 11px; color: grey;">
                            <?php
                            $general_placeholders = get_config('general_placeholders', array('email_notification'))->toArray();
                            if ($general_placeholders) {
                                $placeholders = array();
                                foreach ($general_placeholders as $key => $general_placeholder) {
                                    $placeholders[] = $key;
                                }
                                echo implode(',', $placeholders);
                            }
                            ?><?php echo htmlentities((!empty($this->placeholder) ? (isset($general_placeholders) && $general_placeholders ? ',' : '') . $this->placeholder : ''), ENT_NOQUOTES, 'UTF-8'); ?>
                        </div>
                    </div>

                    <div class="margin_t_10">
                        <div>
                            <label>Name</label> 
                        </div>
                        <?php echo $this->form->getElement('name')->render(); ?>
                    </div>

                    <?php if (get_config('under_construction')): ?>
                        <div class="margin_t_10">
                            <div>
                                <label>Place Holder</label> 
                            </div>
                            <?php echo $this->form->getElement('placeholder')->render(); ?>
                        </div>
                    <?php else : ?>
                        <?php echo $this->form->getElement('placeholder')->render(); ?>
                    <?php endif; ?>
                </div>
            </form>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <div class="btn_cont">
                    <a href="javascript:;" onclick="$('#form').submit()" class="btn_a">
                        <div class="text_pos">
                            save
                        </div>
                    </a>
                </div>
            </div>
        </td>
    </tr>
</table>

