<form id="form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form','#TB_ajaxContent');return false;">
    <div class="success_message"><?php echo $this->successMessage; ?></div>
    <table>
        <tr>
            <td class="input_type" valign="top">Company :</td>
            <td><?php echo $this->form->getElement('company_id')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Attribute Name :</td>
            <td><?php echo $this->form->getElement('attribute_name')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Attribute Variable Name :</td>
            <td><?php echo $this->form->getElement('attribute_variable_name')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Is Price Attribute :</td>
            <td><?php echo $this->form->getElement('is_price_attribute')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Attribute Type :</td>
            <td><?php echo $this->form->getElement('attribute_type_id')->render(); ?></td>
        </tr>
        <tr>
            <td class="input_type" valign="top">Extra Info :</td>
            <td><?php echo $this->form->getElement('extra_info')->render(); ?></td>
        </tr>
        <tr><td class="input_type" valign="top"></td><td id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></td></tr>
    </table>
</form>