<table class="table">
    <tr>
        <td class="left_side">
            <?php // echo BreadCrumbs::breadCrumb(); ?>
            <div class="head">
                <div class="list_title">
                    All Attributes
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form action="<?php echo $this->escape($this->url(array(), 'settingsAttributeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Attribute?');">
                    <div class="button_actions">
                        <div class="button_pos_l">
                            <?php if (CheckAuth::checkCredential(array('settingsAttributeDelete'))): ?>
                                <input type="submit" value="Delete"/>
                            <?php endif; ?>
                        </div>
                        <div style="clear: both;"></div>
                    </div>

                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td style="width: 40px; text-align: center;"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                                <td><b>NAME</b></td>
                                <td><b>Details</b></td>
                                <td><b>Attribute Value</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php $attObj = new Model_AttributeType(); ?>
                            <?php $attributeListValueObj = new Model_AttributeListValue(); ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $att = $attObj->getById($row['attribute_type_id']) ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo 'tr_cont_1';
                        } else {
                            echo 'tr_cont_2';
                        }
                                ?>">
                                    <td style="width: 40px; text-align: center;">
                                        <div class="details_info_l">
                                            <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['attribute_id']) ?>" style="margin: 3px 3px 45px 3px;"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <span class="details_info_name"><?php echo $this->escape($row['attribute_name']) ?></span>    
                                        </div>
                                        <div class="details_info_l">
                                            <?php if ($row['is_list'] && CheckAuth::checkCredential(array('settingsAttributeList'))): ?>
                                                <a href="<?php echo $this->escape($this->url(array('attribute_id' => $row['attribute_id']), 'settingsAttributeValueList')); ?>" class="details_info_opt">Modify Values</a>
                                                <span class="details_breaks">|</span>
                                            <?php endif; ?>

                                            <?php if (CheckAuth::checkCredential(array('settingsAttributeEdit'))): ?>
                                                <?php if (CheckAuth::checkIfCanHandelAllCompany('attribute', $row['attribute_id'])) : ?>
                                                    <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['attribute_id']), 'settingsAttributeEdit')); ?>','300','450');" class="details_info_opt">Edit</a>
                                                    <span class="details_breaks">|</span>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('settingsAttributeDelete'))): ?>
                                                <?php if (CheckAuth::checkIfCanHandelAllCompany('attribute', $row['attribute_id'])) : ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['attribute_id']), 'settingsAttributeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Attribute?');" class="details_info_opt">Delete</a>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <div style="font-size: 10px;">&#187; <b>Is Price:</b> <?php echo $this->escape($row['is_price_attribute']) ? 'yes' : 'no' ?></div>
                                            <div style="font-size: 10px;">&#187; <b>Variable Name:</b> <?php echo $this->escape($row['attribute_variable_name']) ?></div>
                                            <div style="font-size: 10px;">&#187; <b>Type:</b> <?php echo $this->escape($att['attribute_type']) ?></div>
                                        </div>
                                    </td>
                                    <td class="details_info_l">
                                        <div class="details_info_l">
                                            <?php $attributeListValues = $attributeListValueObj->getByAttributeId($row['attribute_id']); ?>
                                            <?php foreach ($attributeListValues as $attributeListValue): ?>
                                                <div style="font-size: 10px;">&#187; <b>Value:</b> <?php echo $this->escape($attributeListValue['attribute_value']) ?></div>
                                            <?php endforeach; ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Attribute.</div>
            <?php endif; ?>
        </td>
        <td class="right_side">
            <div class="right_side_cont">
                <?php if (CheckAuth::checkCredential(array('settingsAttributeAdd'))): ?>
                    <div class="btn_cont">
                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array(), 'settingsAttributeAdd')); ?>','300','450');" class="btn_a">
                            <div class="text_pos">
                                New Attribute
                            </div>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="search">
                    <div style="margin-bottom: 5px;">
                        Search Attributes
                    </div>
                    <div style="margin-bottom: 5px;">
                        <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'settingsAttributeList')); ?>" method="GET" >
                            <input name="fltr[keywords]" type="text" value="<?php echo $this->escape((!empty($this->filters['keywords']) ? $this->filters['keywords'] : '')); ?>" />
                        </form>
                    </div>
                    <div style="margin-bottom: 5px; padding-bottom: 10px; border-bottom: 1px #999999 solid; width: 215px;">
                        <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search">Search</a> <span class="or_span">or</span>
                        <a href="<?php echo $this->escape($this->url(array(), 'settingsAttributeList')); ?>" class="a_advance" >Reset</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

