<div class="white-bg booking-view-button-header ibox">
    <nav> 
        <div class="btn-group">
		<div style=" font-size: 14px;">
                <div class="settings_modify_user_info_cont">
                    <?php if (CheckAuth::checkCredential(array('settingsUserInfoAdd','settingsUserInfoEdit'))): ?>
                    <a href="javascript:;" class="btn btn-primary" data-toggle="modal" data-target="#popupi" onclick="popupi('Modify User Info','<?php echo $this->escape($this->url(array('user_id' => $this->user_id), 'settingsUserInfoAdd')); ?>');">Modify User Info</a>
                    <?php endif;?>
                </div>
                <div style="clear: both;"></div>
</div>
		</div>
            </nav>
			</div>


<div class="ibox">
    <div class="ibox-content">
        <div class="ibox-title"><h3>User Information :</h3></div>
        <table class="table table-bordered">
            <tbody>
            
            <tr>
               <td><div class="contractor_info_tit" >Name : </div></td>
               <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['role_name']) ?></div></td>
               
            </tr>
	
            <tr>
                <td><div class="contractor_info_tit" >Role :</div></td>
                 <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['role_name']) ?></div></td>
               
            </tr>

            <tr>
                <td><div class="contractor_info_tit" >Username : </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['username']) ?></div></td>
                
            </tr>           
			</tbody>
		</table>
		
		<table class="table table-bordered">
			
			<h3>Contact Details :</h3>
			
            <tbody>
            <tr>
               <td><div class="contractor_info_tit" >Email 1:</div></td>
               <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email1']) ?></div></td>
               
            </tr>
	
            <tr>
                <td><div class="contractor_info_tit" >Email 2:</div></td>
                 <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email2']) ?></div></td>
               
            </tr>

            <tr>
                <td><div class="contractor_info_tit" >Email 3:  </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['email3']) ?></div></td>
                
            </tr>  
			 <tr>
                <td><div class="contractor_info_tit" >Mobile 1: </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile1']) ?></div></td>
                
            </tr>      
			<tr>
                <td><div class="contractor_info_tit" >Mobile 2: </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile2']) ?></div></td>
                
            </tr>    
			<tr>
                <td><div class="contractor_info_tit" >Mobile 3:</div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['mobile3']) ?></div></td>
                
            </tr>    
			<tr>
                <td><div class="contractor_info_tit" >Phone 1: </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone1']) ?></div></td>
                
            </tr>    
			<tr>
                <td><div class="contractor_info_tit" >Phone 2: </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone2']) ?></div></td>
                
            </tr>    
			<tr>
                <td><div class="contractor_info_tit" >Phone 3: </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['phone3']) ?></div></td>
                
            </tr>    
			<tr>
                <td><div class="contractor_info_tit" >Fax: </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['fax']) ?></div></td>
                
            </tr>    
			<tr>
                <td><div class="contractor_info_tit" >Emergency Phone:  </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['emergency_phone']) ?></div></td>
                
            </tr>   
			
			</tbody>
			</table>
			
			<table class="table table-bordered">
			
			<h3>Address Details :</h3>
			
            <tbody>
            <tr>
               <td><div class="contractor_info_tit" >Unit / Lot Number :</div></td>
               <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['unit_lot_number']) ?></div></td>
               
            </tr>
	
            <tr>
                <td><div class="contractor_info_tit" >Street Number :</div></td>
                 <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['street_number']) ?></div></td>
               
            </tr>

            <tr>
                <td><div class="contractor_info_tit" >Suburb :</div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['suburb']) ?></div></td>
                
            </tr>  
			 <tr>
                <td><div class="contractor_info_tit" >Postcode :</div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['postcode']) ?></div></td>
                
            </tr>      
			<tr>
                <td><div class="contractor_info_tit" >PO Box (Postal Address):</div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['po_box']) ?></div></td>
                
            </tr>    
			<tr>
                <td><div class="contractor_info_tit" >City : </div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['country_name'] . ' - ' . $this->user['city_name']) ?></div></td>
                
            </tr>    
			<tr>
                <td><div class="contractor_info_tit" >State :</div></td>
                <td><div class="contractor_info_tit_type"><?php echo $this->escape($this->user['state']) ?></div></td>
                
            </tr>    
			
			
			</tbody>
			</table>
		</div>
</div>

