<div class="menu_postion">
    <div class="sub_cont">
        <div class="sub_button first_sub_button <?php if ($this->sub_menu == 'estimates') { ?>sub_button_selected<?php } ?>">
            <a href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>">
               All Estimates
            </a>
        </div>
        <div class="sub_button <?php if ($this->sub_menu == 'my_estimates') { ?>sub_button_selected<?php } ?>">
            <a href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>?my_estimates=true&fltr[to_follow]=true&sort=to_follow&fltr[to_follow_date]=today&method=asc">
                My Estimates
            </a>
        </div>
		<div class="sub_button <?php if ($this->sub_menu == 'visited_estimates') { ?>sub_button_selected<?php } ?>">
            <a href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>?visited_estimates=true">
                Visited Estimates
            </a>
        </div>
        <div class="sub_button <?php if ($this->sub_menu == 'deleted_estimate') { ?>sub_button_selected<?php } ?>">
             <?php if (CheckAuth::checkCredential(array('canSeeDeletedEstimate'))): ?>
            <a href="<?php echo $this->escape($this->url(array('is_deleted' => 'deleted'), 'isDeletedEstimate')); ?>">
                Deleted Estimates
            </a>
             <?php endif; ?>
        </div>
    </div>
</div>