<?php
$status_colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);
?>
<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    All Claim Request
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form method="POST" id="form" action="" onsubmit="">
                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">

                                <td class="checkbox_booking_cont"></td>
                                <td style="padding-left: 10px; width: 100px;"><b>Claim On</b></td>
                                <td style="width: 600px;"><b>Details</b></td>
                                <td style="padding-left: 10px;"><b>City</b></td>
                                <td><b>Users</b></td>
                                <td class="head_title"><b>Amount</b></td>
                            </tr>

                            <?php $count = 0; ?>
                            <?php
                            $modelBookingStatus = new Model_BookingStatus();
                            $modelBookingAddress = new Model_BookingAddress();
                            ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                        <?php $bookingStatus = $modelBookingStatus->getById($row['booking']['status_id']); ?>
                                    <td  class="checkbox_booking_cont" style="background-color: <?php echo $this->escape($status_colors[$bookingStatus['color']]) ?>;">
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                    <?php if ($row['booking']['convert_status'] == 'booking'): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking']['booking_num']); ?> </b></a>
                                                    <?php elseif ($row['booking']['convert_status'] == 'estimate'): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['estimate']['id']), 'estimateView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['estimate']['estimate_num']); ?> </b></a>
                                                    <?php elseif ($row['booking']['convert_status'] == 'invoice'): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['invoice']['id']), 'invoiceView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['invoice']['invoice_num']); ?> </b></a>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['booking']['convert_status']) {
                                                case 'booking':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'estimate':
                                                    $color = '#4F8BC3';
                                                    break;

                                                case 'invoice':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                <?php echo $this->escape($row['booking']['convert_status']); ?>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <?php if (CheckAuth::checkCredential(array('bookingLocation'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>" class="details_info_opt"><img src="/pic/icons/location.png" border="0"></a>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <div>
                                                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                    <?php if ($row['booking']['convert_status'] == 'booking'): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>"  class="a_link_black"><?php echo $this->escape($bookingStatus['name']) . " - " . $this->escape($row['booking']['title']) ?></a> 
                                                    <?php elseif ($row['booking']['convert_status'] == 'estimate'): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['estimate']['id']), 'estimateView')); ?>" class="a_link_black"><?php echo $this->escape($bookingStatus['name']) . " - " . $this->escape($row['booking']['title']) ?></a> 
                                                    <?php elseif ($row['booking']['convert_status'] == 'invoice'): ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['invoice']['id']), 'invoiceView')); ?>" class="a_link_black"><?php echo $this->escape($bookingStatus['name']) . " - " . $this->escape($row['booking']['title']) ?></a> 
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <div class="booking_time_cont">
                                                <?php if ($row['booking']['convert_status'] == 'booking'): ?>
                                                    <span class="time_start_color">Start Time : </span> <?php echo $this->escape(getDateFormating($row['booking']['booking_start'])) ?> 
                                                    <span class="time_end">End Time : </span> <?php echo $this->escape(getDateFormating($row['booking']['booking_end'])) ?>
                                                <?php elseif ($row['booking']['convert_status'] == 'estimate'): ?>
                                                    <?php echo $this->escape(getDateFormating($row['estimate']['created'])) ?>
                                                <?php elseif ($row['booking']['convert_status'] == 'invoice'): ?>
                                                    <?php echo $this->escape(getDateFormating($row['invoice']['created'])) ?>
                                                <?php endif; ?>
                                                <div>
                                                    <span class="time_start_color">Status : </span>
                                                    <span style="font-size: 10px; font-weight: bold;">
                                                        <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $bookingStatus['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>','300','600');" class="a_link_black"><?php echo $this->escape($bookingStatus['name']) ?></a>
                                                    </span>
                                                </div>
                                                <div id="address_list">
                                                    <?php $bookingAddress = $modelBookingAddress->getByBookingId($row['booking_id']); ?> 
                                                    <?php if (CheckAuth::checkCredential(array('bookingLocation')) && $bookingAddress): ?>
                                                        <span class="time_start_color" >Address :</span>
                                                        <?php $lineAddress = get_line_address($bookingAddress); ?>
                                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingLocation')); ?>">   
                                                            <?php echo $this->escape($lineAddress); ?>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                                <div id="city_list_inquiry">
                                                    <?php if (!empty($row['customer_name'])): ?>
                                                        <div>
                                                            <span style="color: #A1A1A1;">Customer :</span>
                                                            <?php if (CheckAuth::checkCredential(array('customerView'))): ?>
                                                                <a href="<?php echo $this->url(array('id' => $row['customer']['customer_id']), 'customerView'); ?>" class="a_link_black"><?php echo $this->escape($row['customer_name']); ?></a>
                                                            <?php else: ?>
                                                                <?php echo $this->escape($row['customer_name']) ?>
                                                            <?php endif; ?>
                                                        </div>   
                                                    <?php endif; ?>
                                                    <?php if (!empty($row['customer']['customer_commercial_info']['business_name'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Business Name :</span> <?php echo $this->escape(ucfirst($row['customer']['customer_commercial_info']['business_name'])) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['email1'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email1']) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['email2'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email2']) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['email3'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Email :</span> <?php echo $this->escape($row['customer']['email3']) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['mobile1'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile1']) ?></div>
                                                    <?php endif; ?> 

                                                    <?php if (!empty($row['customer']['mobile2'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile2']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['mobile3'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Mobile :</span> <?php echo $this->escape($row['customer']['mobile3']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['phone1'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone1']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['phone2'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone2']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['phone3'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Phone :</span> <?php echo $this->escape($row['customer']['phone3']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['fax'])): ?>
                                                        <div><span style="color: #A1A1A1;" >Fax :</span> <?php echo $this->escape($row['customer']['fax']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['po_box'])): ?>
                                                        <div><span style="color: #A1A1A1;" >PO Box :</span> <?php echo $this->escape($row['customer']['po_box']) ?></div>
                                                    <?php endif; ?>

                                                    <?php if (!empty($row['customer']['customer_contacts'])): ?>
                                                        <?php foreach ($row['customer']['customer_contacts'] as $customerContact): ?>
                                                            <div><span style="color: #A1A1A1;" ><?php echo $this->escape($customerContact['contact_label']) ?> :</span> <?php echo $this->escape($customerContact['contact']) ?></div>
                                                        <?php endforeach; ?>
                                                    <?php endif; ?>
                                                </div>
                                                <?php if (!empty($row['to_follow'])): ?>
                                                    <span class="time_start_color">Deferred To : </span> <?php echo $this->escape(getDateFormating($row['to_follow'])) ?> 
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                        <div class="details_info_l">
                                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'submitClaimOwner')); ?>','100','250','Claim Owner');" class="details_info_opt">Claim Owner</a>
                                        </div>

                                    </td>
                                    <td class="details_info_l" style="padding-left: 10px;">
                                        <div class="details_info_l">
                                            <?php echo $this->escape($row['city_name']); ?>    
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l" >
                                            <?php foreach ($row['booking_users'] as $booking_user) : ?>
                                                <div style ="float: left; margin: 2px; padding: 2px 4px; background-color:#DDDDDD;">
                                                    <?php echo $this->escape(ucfirst($booking_user['user']['username'])) ?>
                                                </div> 
                                            <?php endforeach; ?>
                                        </div>
                                    </td>
                                    <td class="details_info_r">
                                        <div class="details_info_l">
                                            <?php
                                            $modelBooking = new Model_Booking();
                                            $totalAmountDetails = $modelBooking->getTotalAmountBookingDetails($row['booking_id'])
                                            ?>
                                            $ <?php echo $this->escape(number_format($totalAmountDetails['total_amount'], 2)); ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">
                    There are no Request Owners.
                </div>
            <?php endif; ?>
        </td>
    </tr>
</table>
