<form id="form_request"  method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="do_submit('<?php echo $this->escape($this->form->getAction()); ?>','#form_request','#TB_ajaxContent');return false;">
    <table>
        <tr>
            <td><div style="margin: 6px 6px;"><?php echo $this->form->getElement('user_id')->render(); ?></div></td>
        </tr>
        <tr>
            <td> 
                <?php echo $this->form->getElement('request')->render(); ?>
            </td>
        </tr>
        <tr>
            <td id="button_cont">
                <div style="margin-top: 6px;">  <?php echo $this->form->getElement('button')->render(); ?> </div>
                <input type="hidden" name="id" value ="<?php echo $this->escape($this->booking_id); ?>"/>
            </td>
        </tr>

    </table>
</form>