<div class="col-lg-12 wrapper-content">
    <div class="col-lg-12">
        <?php echo $this->render('index/contractor_filters.phtml'); ?>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Booking Summary Report
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>

            <div class="ibox-content">
                <?php if ($this->data): ?>
                    <?php
                    $modelContractorInfo = new Model_ContractorInfo();
                    $modelAuthRole = new Model_AuthRole();
                    ?>
                     <div id="data_table">
                        <?php if ((isset($this->user['username']) && $this->user['username']) || (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) || (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'])): ?>
                            <div class="filter_criteria">
                                <div>
                                    <?php if ($this->user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($this->user['user_id']); ?>
                                        <?php echo $this->escape(($this->user['username'] ? ucwords($this->user['username']) : '') . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                    <?php else: ?>
                                        <?php echo $this->escape($this->user['username'] ? ucwords($this->user['username']) : '') ?>
                                    <?php endif; ?>

                                </div>
                                <div>
                                    <?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
                                    <?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
                                    <?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    
                    <table class="table table-striped table-bordered table-hover responsive-table common-reports" >
                        <thead>

                        <th>Date</th>
                        <th>Job#</th>
                        <th>Inv#</th>
                        <th>Contractor</th>
                        <th>Job Status</th>
                        <th>Job Nature</th>
                        <th>Address</th>
                        <th>State</th>
                        <th>Amount</th>
                        <th>Approved Payment</th>
                        <th>Unapproved Payment</th>
                        <th>Approved Refund</th>
                        <th>Unapproved Refund</th>
                        <th>Unpaid</th>
                        <th>Office Payment</th>
                        <th>Cash Payment</th>
                        <th>Booked By</th>
                        <?php /* <td>Date of Booking</td> */ ?>
                        <th>Comments</th>
                        <th>Company Share</th>
                        <th>Operator Share</th>
                        <th>PAYMENT TO Operator</th>

                        </thead>
                        <tbody>
                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="gradeX">
                                    <td><?php echo $this->escape(date(get_config('date'), strtotime($row['booking']['booking_start']))); ?></td>
                                    <td><?php if (!empty($row['booking']['booking_num'])): ?>
                                            <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_black"> <?php echo $this->escape($row['booking']['booking_num']) ?></a>
                                        <?php endif; ?>
                                    </td>
                                    <td><?php if (!empty($row['booking']['invoice']['invoice_num'])): ?>
                                            <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking']['invoice']['id']), 'invoiceView')); ?>" class="a_black"> <?php echo $this->escape($row['booking']['invoice']['invoice_num']) ?></a>
                                        <?php endif; ?>
                                    </td>
                                    <td>
                                        <?php echo $this->escape(ucwords($row['contractor']['display_name'])); ?>
                                    </td>   
                                    <td><?php echo $this->escape($row['booking']['status']['name']); ?></td>
                                    <td>
                                        <?php
                                        $services_counter = 0;
                                        $services_total = count($row['services']);
                                        ?>
                                        <?php foreach ($row['services'] AS $service): ?>
                                            <?php $services_counter++; ?>
                                            <?php echo (1 < $services_total ? " *" : '') . $this->escape($service['service_name']) . ($services_counter < $services_total ? "<br>" : ''); ?>
                                        <?php endforeach; ?>
                                    </td>
                                    <td >
                                        <?php echo $this->escape($row['booking']['address']['line_address']); ?>
                                    </td>
                                    <td><?php echo $this->escape(strtoupper($row['booking']['address']['state'])); ?></td>
                                    <td>$<?php echo $this->escape((!empty($row['total_amount'])) ? number_format($row['total_amount'], 2) : number_format(0, 2)) ?></td>
                                    <td>$<?php echo $this->escape((!empty($row['approved_payment']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['approved_payment'], 2) : number_format(0, 2)) ?></td>
                                    <td>$<?php echo $this->escape((!empty($row['unapproved_payment']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['unapproved_payment'], 2) : number_format(0, 2)) ?></td>
                                    <td>$<?php echo $this->escape((!empty($row['approved_refund']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['approved_refund'], 2) : number_format(0, 2)) ?></td>
                                    <td>$<?php echo $this->escape((!empty($row['unapproved_refund']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['unapproved_refund'], 2) : number_format(0, 2)) ?></td>
                                    <td>$<?php echo $this->escape((!empty($row['unpaid']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['unpaid'], 2) : number_format(0, 2)) ?></td>
                                    <td>$<?php echo $this->escape((!empty($row['office_payment']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['office_payment'], 2) : number_format(0, 2)) ?></td>
                                    <td>$<?php echo $this->escape((!empty($row['cash_payment']) && $row['booking']['convert_status'] == 'invoice' ) ? number_format($row['cash_payment'], 2) : number_format(0, 2)) ?></td>
                                    <td><?php echo $this->escape(ucwords($row['booking']['created_by']['username'])) ?></td>
                                    <?php /* <td><?php echo $this->escape(date(get_config('date'), strtotime($row['booking_start']))) ?></td> */ ?>
                                    <td><?php echo(!empty($row['booking']['status_discussion']) ? nl2br($this->escape($row['booking']['status_discussion']['user_message'])) : '') ?></td>
                                    <td>
                                        $<?php echo $row['company_share'] ? $this->escape(number_format($row['company_share'], 2)) : number_format(0, 2) ?>
                                    </td>
                                    <td>
                                        $<?php echo $row['operator_share'] ? $this->escape(number_format($row['operator_share'], 2)) : number_format(0, 2) ?>
                                    </td>
                                    <td>
                                        $<?php echo $row['payment_to_sub_contractor'] ? $this->escape(number_format($row['payment_to_sub_contractor'], 2)) : number_format(0, 2) ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>


                    </table>
</div>
                <?php else: ?>
                    <div class="noRowsMessageDIV">Please Select Contractor And Date Range.</div>
                <?php endif; ?>

            </div>


        </div>

    </div>
    
</div>








