<div class="col-lg-12 wrapper-content">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    Convert to Booking Duration
                </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>

            <div class="ibox-content">
                <?php if ($this->data): ?>
                    <?php
                    $modelContractorInfo = new Model_ContractorInfo();
                    $modelAuthRole = new Model_AuthRole();
                    ?>
                    <div id="data_table">
                        <?php if ((isset($this->user['username']) && $this->user['username']) || (isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) || (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'])): ?>
                            <div class="filter_criteria">
                                <div>
                                    <?php if ($this->user['role_id'] == $modelAuthRole->getRoleIdByName('contractor')) : ?>
                                        <?php $contractorInfo = $modelContractorInfo->getByContractorId($this->user['user_id']); ?>
                                        <?php echo $this->escape(($this->user['username'] ? ucwords($this->user['username']) : '') . ($contractorInfo['business_name'] ? ' - ' . ucwords($contractorInfo['business_name']) : '')); ?>
                                    <?php else: ?>
                                        <?php echo $this->escape($this->user['username'] ? ucwords($this->user['username']) : '') ?>
                                    <?php endif; ?>
                                </div>
                                <div>
                                    <?php echo $this->escape(isset($this->filters['booking_start_between']) && $this->filters['booking_start_between'] ? 'From : ' . $this->filters['booking_start_between'] : '') ?>
                                    <?php echo $this->escape((isset($this->filters['booking_start_between']) && $this->filters['booking_start_between']) && (isset($this->filters['booking_end_between']) && $this->filters['booking_end_between']) ? ' - ' : '') ?>
                                    <?php echo $this->escape(isset($this->filters['booking_end_between']) && $this->filters['booking_end_between'] ? 'To : ' . $this->filters['booking_end_between'] : '') ?>
                                </div>
                            </div>
                        <?php endif; ?>
                   
                    <table class="table table-striped table-bordered table-hover "  >
                        <thead>
                            <tr>
                                <th>Booking Num</th>
                                <th>Convert to Booking Duration </th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php $count = 0; ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="gradeX">
                                    <td><?php if (!empty($row['booking_id'])) { ?>
                                            <a target="_blank" href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="a_black"> <?php echo $this->escape($row['booking_num']) ?></a>
                                            <?php
                                        } else {
                                            echo isset($row['booking_num']) ? $this->escape($row['booking_num']) : '';
                                        }
                                        ?></td>
                                    <td><?php
                                        if (isset($row['convert_to_booking_duration']) && $row['convert_to_booking_duration'] != 0) {
                                            //// convert duration from hrs to days
                                            $duration_in_days = floor($row['convert_to_booking_duration'] / 24);
                                            $reminder_hrs = (int) $row['convert_to_booking_duration'] % 24;
                                            echo $duration_in_days . ' days and ' . $reminder_hrs . ' hrs';
                                        } else {
                                            echo '0';
                                        }
                                        ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>


                    </table>
		     </div>
                <?php else: ?>
                    <div class="noRowsMessageDIV">No Data</div>
                <?php endif; ?>

            </div>

            <div>
                <?php if (count($this->pageLinks) > 3): ?>
                    <ul class="pagination">
                        <?php foreach ($this->pageLinks as $pageLink) : ?>
                            <li><?php echo $pageLink; ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </div>                           
        </div>

    </div>
   
</div>
<div style="clear:both"></div>