<?php 
$status_colors = array(
    '0' => '#888888',
    '1' => '#cc3333',
    '2' => '#dd4477',
    '3' => '#994499',
    '4' => '#6633cc',
    '5' => '#336699',
    '6' => '#3366cc',
    '7' => '#22aa99',
    '8' => '#329262',
    '9' => '#109618',
    '10' => '#66aa00',
    '11' => '#aaaa11',
    '12' => '#d6ae00',
    '13' => '#ee8800',
    '14' => '#dd5511',
    '15' => '#a87070',
    '16' => '#8c6d8c',
    '17' => '#627487',
    '18' => '#7083a8',
    '19' => '#5c8d87',
    '20' => '#898951',
    '21' => '#b08b59',
    '-1' => '#7a367a'
);

?>
<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    Bookings Feedback
                </div>
                <div class="sort_booking_cont" style="padding-bottom: 5px;">
                    <?php echo $this->feedbackStatus->render(); ?>
                </div>
                <div class="clearb"></div>
            </div>
            <?php if ($this->data): ?>
                <form method="POST" id="feedback-form" action="<?php echo $this->escape($this->url(array(), 'feedbackList')); ?>">
                    <div>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" class="list_table">
                            <tr class="bg_table">
                                <td style="width: 30px;"></td>
                                <td style="width: 10%; padding-left: 10px;">Booking#</td>
                                <td style="width: 60%"><b>FeedBack</b></td>
                                <td style=" padding-left: 40px;"><b>Created</b></td>
                                <td style=" padding-left: 40px;"><b>Status</b></td>
                            </tr>
                            <?php $count = 0; ?>
                            <?php
                            $modelBookingStatus = new Model_BookingStatus();
                            ?>
                            <?php foreach ($this->data as $row) : ?>
                                <?php $count += 1; ?>
                                <tr class="<?php
                        if ($count % 2 != 0) {
                            echo $this->escape('tr_cont_1');
                        } else {
                            echo $this->escape('tr_cont_2');
                        }
                                ?>">
                                        <?php $bookingStatus = $modelBookingStatus->getById($row['status_id']); ?>
                                    <td style="background-color: <?php echo $this->escape($status_colors[$bookingStatus['color']]) ?>;"></td>
                                    <td style="padding-left: 10px;">
                                        <div class="details_info_l">
                                            <div style="font-size: 14px;">
                                                <?php if (CheckAuth::checkCredential(array('bookingView'))): ?>
                                                    <a href="<?php echo $this->escape($this->url(array('id' => $row['booking_id']), 'bookingView')); ?>" class="details_info_name"><b><?php echo $this->escape($row['booking']['booking_num']) ?></b></a>
                                                <?php else: ?>
                                                    <span class="details_info_name"><b><?php echo $this->escape($row['booking']['booking_num']) ?></b></span>
                                                <?php endif; ?>
                                            </div>
                                            <?php
                                            $color = '#A1A1A1';
                                            switch ($row['booking']['convert_status']) {
                                                case 'booking':
                                                    $color = '#A1A1A1';
                                                    break;

                                                case 'estimate':
                                                    $color = '#4F8BC3';
                                                    break;

                                                case 'invoice':
                                                    $color = '#BCD68F';
                                                    break;
                                            }
                                            ?>
                                            <div style="color: <?php echo $this->escape($color); ?>; font-size: 11px; font-weight: bold;">
                                                <?php echo $this->escape($row['booking']['convert_status']); ?>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="details_info_l">
                                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $row['id']), 'feedbackView')); ?>','450','700','Feedback');"class="a_link_black"> <?php echo $this->escape(strlen($row['feedback']) < 300 ? $row['feedback'] : substr($row['feedback'], 0, 300) . '...'); ?></a>
                                        </div>
                                    </td>
                                    <td style=" padding-left: 40px;">
                                        <div class="details_info_l">
                                            <?php echo $this->escape(getDateFormating($row['created'])) ?>
                                        </div> 
                                    </td>
                                    <td style=" padding-left: 40px;">
                                        <div class="details_info_l">
                                            <a href="javascript:;" onclick="showPopupWindow('<?php echo $this->escape($this->url(array('id' => $bookingStatus['booking_status_id']), 'settingsBookingStatusShowDescription')); ?>','300','600');" class="a_link_black"><?php echo $this->escape($bookingStatus['name']) ?></a>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </table>

                        <div>
                            <?php if (count($this->pageLinks) > 3): ?>
                                <ul class="pagination">
                                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                                        <li><?php echo $pageLink; ?></li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <div style="" class="noRowsMessageDIV">There are no Bookings FeedBack.</div>
            <?php endif; ?>
        </td>
    </tr>
</table>
