<script type="text/javascript">
function AddConfirmMessage() 
   {
	    $('#button_cont').hide();
		$('#loading_img').css('display','block');
        $.ajax({
            type: "POST",
            url: "<?php echo $this->escape($this->url(array('booking_id' => $this->bookingId), 'bookingReminderAdd')); ?>",
            data: $('#reminder_form').serialize(),
            dataType : "json",
            success: function(msg) {
                if(msg.succsses == '1'){
					authentication = '<?=CheckAuth::checkCredential(array('bookingReminderDelete'));?>';
					$('#reminder_form').trigger("reset");
					messageHistory = '';
					$('#confirmMsgs').html('');
                   $.each( msg.reminders, function( key, value ) {
					messageLine = '';
					messageLine= messageLine+ '<a href="#" data-toggle="modal" data-target="#popupi" style="color:black;" onclick="popupi(\''+value.url+'\');" class="details_info_opt"> <i class="fa fa-thumbs-up " style="color:#0CB225;">&nbsp;</i>'+value.reminder+'</a>';
					if(authentication){
					messageLine= messageLine+'<a onclick="DeleteThisReminder(\''+value.remove_url+'\');" > &nbsp <img height="10" width="10" src="/pic/remove.png" ></a>';
					}
					messageLine= messageLine+'<div style="background-color:#F9F9F9; margin-left:20px;border-radius: 5px;padding:5px;"> &nbsp &nbsp '+value.comment+'</div>';
					messageLine= messageLine+'<hr align="center" style="width:95%;">';
					$('#confirmMsgs').append(messageLine);
					
					});
                   } 
				$('#loading_img').hide();
                $('#button_cont').show();
            }
        }); 
    }
	

		
</script>

<script type="text/javascript">
	function DeleteThisReminder(Deleteurl){
		$.ajax({
            type: "POST",
            url: Deleteurl,
            data: 1,
            dataType : "json",
            success: function(msg) {
                if(msg.succsses == '1'){
					authentication = '<?=CheckAuth::checkCredential(array('bookingReminderDelete'));?>';
					messageHistory = '';
					$('#confirmMsgs').html('');
					$.each( msg.reminders, function( key, value ) {
					messageLine = '';
					messageLine= messageLine+ '<a href="#" data-toggle="modal" data-target="#popupi" style="color:black;" onclick="popupi(\''+value.url+'\');" class="details_info_opt"> <i class="fa fa-thumbs-up " style="color:#0CB225;">&nbsp;</i>'+value.reminder+'</a>';
					if(authentication){
					messageLine= messageLine+'<a onclick="DeleteThisReminder(\''+value.remove_url+'\');" > &nbsp <img height="10" width="10" src="/pic/remove.png" ></a>';
					}
					messageLine= messageLine+'<div style="background-color:#F9F9F9; margin-left:20px;border-radius: 5px;padding:5px;">  &nbsp &nbsp '+value.comment+'</div>';
					messageLine= messageLine+'<hr align="center" style="width:95%;">';
					$('#confirmMsgs').append(messageLine);
					});
                } 
            }
        }); 
		
	}
	
</script>
<div id="confirmMsgs" style="margin-left:20px; max-height: 200px; overflow: auto; overflow-y: scroll">
<?php 

$modelUser = new Model_User(); 
$modelBookingReminder= new Model_BookingReminder();
	$ReminderArray= $modelBookingReminder->getByBookingId($this->bookingId);

 foreach ($ReminderArray as $reminder){ ?>
                  <div>

														   <?php 
												 if($reminder['user_role'] == 9)
													{
															   if (isset($reminder['customer_contact_id']))
															   {
																   $modelCustomerContact = new Model_CustomerContact();
																  $user = $modelCustomerContact->getById($reminder['customer_contact_id']);
																	$username = $user['first_name'] .' '.$user['last_name'];
															   }
																 else{ 
																	 $modelCustomer = new Model_Customer();
																  $user = $modelCustomer->getById($reminder['user_id']);
																	$username = $user['first_name'] .' '.$user['last_name'];
																  }
													}
													else
													{
														$user = $modelUser->getById($reminder['user_id']);
														$username = $user['username'];
													} 
															$customerName = '';
														if ($reminder['type'] == 'Customer')
														{
															 if(($reminder['customer_contact_id']) != null) {
																   $modelCustomerContact = new Model_CustomerContact();
																 $user = $modelCustomerContact->getById($reminder['customer_contact_id']);
																$customerName = ' ( '.$user['first_name'] .' '.$user['last_name'].' ) ';
																
															 }
															 else{
															$modelBooking = new Model_Booking();
															   $booking = $modelBooking->getById($this->bookingId);
															   $modelCustomer = new Model_Customer();
																$user = $modelCustomer->getById($booking['customer_id']);
															$customerName = ' ( '.$user['first_name'] .' '.$user['last_name'].' ) ';
															 }
														}
													$deleteReminderUrl= (string)$this->escape($this->url(array('id' => $this->bookingId, 'reminder_id' => $reminder['id']), 'bookingReminderDelete'));
				
													?>

                                                    <a href="#" data-toggle="modal" data-target="#popupi" style="color:black;" onclick="popupi('Confirm Booking', '<?php echo $this->escape($this->url(array('id' => $reminder['id']), 'bookingReminderView')); ?>');" class="details_info_opt">
													<i class="fa fa-thumbs-up " style="color:#0CB225;">&nbsp;</i>
													<?php echo $this->escape($reminder['type'] .$customerName. ' - ' . $username . ' - ' . getDateFormating($reminder['created'])); ?>
													</a>

                                                <?php if (CheckAuth::checkCredential(array('bookingReminderDelete'))){ ?>
                                                        <a onclick="DeleteThisReminder('<?php echo $deleteReminderUrl; ?>');"> &nbsp <img height="10" width="10" src="/pic/remove.png" ></a>
												<?php   } ?>
												<div style="background-color:#F9F9F9; margin-left:20px;border-radius: 5px; padding:5px;">  &nbsp &nbsp <?php echo $reminder['comment'];?></div>
                    </div>
					<hr align="center" style="width:95%;">
                                            <?php } ?>
                                        

</div>
   <br>
      
		<form class="form-horizontal" id="reminder_form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="AddConfirmMessage();return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <?php if (CheckAuth::getRoleName() != 'customer') { ?>
        <div class="form-group">
            <label class="col-md-3">Type:</label>
            <div class="col-md-9">
                <?php echo $this->form->getElement('type')->render(); ?>

            </div>
        </div>
    <?php } ?>

    <div class="form-group">
        <label class="col-md-3">Comment:</label>
        <div class="col-md-9">
            <?php echo $this->form->getElement('comment')->render(); ?>

        </div>
    </div>

    <div class="form-group">

        <div  class="col-md-9 col-md-offset-3" id="button_cont">
            <?php echo $this->form->getElement('button')->render(); ?>

        </div>
		<div style="text-align:center;">
		<img src="/pic/loading-4.gif" style="display:none" id="loading_img">
		</div>
    </div>

</form>

