<form class="form-horizontal" id="reminder_form" method="<?php echo $this->escape($this->form->getMethod()); ?>" onsubmit="submit_reminder('<?php echo $this->escape($this->form->getAction()); ?>', '#reminder_form', 'booking');
        return false;">
    <div class="success_message"><?php echo $this->escape($this->successMessage); ?></div>
    <?php if (CheckAuth::getRoleName() != 'customer') { ?>
        <div class="form-group">
            <label class="col-md-4">Type:</label>
            <div class="col-md-8">
                <?php echo $this->form->getElement('type')->render(); ?>

            </div>
        </div>
    <?php } ?>

    <div class="form-group">
        <label class="col-md-4">Notes to Technician:</label>
        <div class="col-md-8">
            <?php echo $this->form->getElement('comment')->render(); ?>

        </div>
    </div>

    <div class="form-group">

        <div  class="col-md-8 col-md-offset-4" id="button_cont">
            <?php echo $this->form->getElement('button')->render(); ?>

        </div>
    </div>

</form>