

	 <div class="form-group">
				<label class="col-md-3">Comment:</label>
				<div class="col-md-9 ">
				    
						<?php $comment = $this->form->getElement('comment'); ?>
						<?php $comment->setAttribs(array('readonly'=>'true','class'=>'form-control')); ?>
						<?php echo $comment ?>
				
                </div>
	 </div>

 <div class="clearfix"></div>
		
