<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Montserrat' rel='stylesheet' type='text/css'>
      
        
        
            <link REL="SHORTCUT ICON" HREF="<?php echo $this->escape($this->baseUrl('/pic/octlogo.png')); ?>?v=<?php echo ViewHelper::getVerision(); ?>"/>

                
        <title>
            Octopuspro 
        </title>

    </head>

    <body >
	
	
        
      <?php echo $this->layout()->content ?>
        

  
	
    </body>
</html>