<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?php ViewHelper::renderHtmlStyleSheet(); ?>
        <?php ViewHelper::renderHtmlJavaScript(); ?>
        <?php if (!empty($company['favicon'])) { ?>
            <?php if (file_exists(str_replace('\\', '/', get_config('company_logo') . '/' . $company['favicon']))){ ?>
                <link REL="SHORTCUT ICON" HREF="<?php echo $this->escape($this->baseUrl('/uploads/company_logo/' . $company['favicon'])); ?>?v=<?php echo ViewHelper::getVerision(); ?>"/>
            <?php }else { ?>
                <link REL="SHORTCUT ICON" HREF="<?php echo $this->escape($this->baseUrl('/pic/favicon.png')); ?>?v=<?php echo ViewHelper::getVerision(); ?>"/>
            <?php } ?>
        <?php }else { ?>
            <link REL="SHORTCUT ICON" HREF="<?php echo $this->escape($this->baseUrl('/pic/favicon.png')); ?>?v=<?php echo ViewHelper::getVerision(); ?>"/>

        <?php } ?>
        <?php echo $this->headTitle(); ?>

    </head>

    <body class="pace-done">
        <div id="wrapper">
            <?php $sess = new Zend_Session_Namespace(); ?>
            <?php if (isset($sess->is_employee)): ?>

            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header" style="height: auto; background:repeat" >                            
                            <div class="dropdown profile-element">
                                <span>
                                    <img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/octlogo.png')); ?>" border="0"/>
                                </span> 
                                <span>

                                    <!-- <img alt="image" class="img-circle" src="img/profile_small.jpg"> -->
                                </span>
                                <div class="home-profile" style="padding-top: 20px;">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <?php if (isset($sess->avatar) && !empty($sess->avatar)): ?>
                                            <img class="img-responsive" src="<?php echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $sess->avatar); ?>"/>
                                         <?php else: ?>
                                            <img class="img-responsive" src="<?php echo $this->baseUrl('/pic/contractor_pic1.png'); ?>" />
                                        <?php endif; ?>
                                         <span> <!--class="clear"  -->
                                            <span class="block m-t-xs">
                                                <strong class="font-bold">
                                                <?php if (isset($sess->is_employee)) {                                                
                                                       echo $this->escape(ucfirst($sess->displayName));
                                                    } ?> <b class="caret"></b>
                                                </strong>
                                            </span> 
                                            <!-- <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>  -->
                                        </span> 
                                    </a>
                                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Change password</a></li>
                                        <li><a href="#">Change email</a></li>
                                        <li class="divider"></li>
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'employeelogout')); ?>">
                                                <i class="fa fa-power-off"></i><span> Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="logo-element">
                                <img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/octlogo.png')); ?>" border="0"/>
                            </div>
                        </li>
                        <!-- <li class="special" style="background:rgba(255, 255, 255, .15);">
                            <a href="<?php /*echo "http://" . $_SERVER['HTTP_HOST'] . "/subscription" . "/account"; */?>">
                                <i class="fa fa-th-large"></i> 
                                <span class="nav-label"> Octpuspro dashboard</span>                                
                            </a>
                            
                        </li> -->                
                        <li class="">
                            <a href="<?php echo "http://" . $_SERVER['HTTP_HOST'] . "/subscription" . "/account"; ?>">
                                <i class="fa fa-pie-chart"></i> 
                                <span class="nav-label">Subscription</span>  
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="<?php echo $this->escape($this->url(array(), 'account')); ?>?fltr[subscription_status]=all" >All</a></li>
                                <li><a href="<?php echo $this->escape($this->url(array(), 'account')); ?>?fltr[subscription_status]=non-subscriber" >Non-subscriber</a></li>
                                <li><a href="<?php echo $this->escape($this->url(array(), 'account')); ?>?fltr[subscription_status]=subscriber-trial">Subscriber trial</a></li>   
                                <li><a href="<?php echo $this->escape($this->url(array(), 'account')); ?>?fltr[subscription_status]=subscriber-payed">Subscriber Paid</a></li>                                       
                                <li><a href="<?php echo $this->escape($this->url(array(), 'account')); ?>?fltr[subscription_status]=suspended">Suspended</a></li>
                                <li><a href="<?php echo $this->escape($this->url(array(), 'account')); ?>?fltr[subscription_status]=canceled">Canceled</a></li>
                            </ul>
                            <!-- <ul class="nav nav-second-level collapse">
                                <li><a href="index.html">Dashboard v.1</a></li>
                                <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                                <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                                <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                                <li><a href="dashboard_5.html">Dashboard v.5 
                                        <span class="label label-primary pull-right">NEW</span>
                                    </a>
                                </li>
                            </ul> -->
                        </li>
                        <li>
                            <a href="<?php echo "http://" . $_SERVER['HTTP_HOST'] . "/subscription" . "/plan"; ?>"><i class="fa fa-file-text-o"></i> 
                                <span class="nav-label">Plan</span>  
                                <!-- <span class="fa arrow"></span> -->
                            </a>
                            <!-- <ul class="nav nav-second-level collapse">
                                <li><a href="index.html">Dashboard v.1</a></li>
                                <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                                <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                                <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                                <li><a href="dashboard_5.html">Dashboard v.5 
                                        <span class="label label-primary pull-right">NEW</span>
                                    </a>
                                </li>
                            </ul> -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pie-chart"></i> 
                                <span class="nav-label">Coupons</span>  
                                <!-- <span class="fa arrow"></span> -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-dollar"></i> 
                                <span class="nav-label">Invoices</span>  
                                <span class="fa arrow"></span>
                            </a>
                              <ul class="nav nav-second-level collapse">
                                <li><a href="<?php echo $this->escape($this->url(array(), 'account')); ?>?fltr[subscription_status]=all" >Payment received</a></li>                          
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-cog"></i> 
                                <span class="nav-label">Setting</span>  
                                <span class="fa arrow"></span>
                            </a>
                             <ul class="nav nav-second-level collapse">
                                <li><a href="<?php echo $this->escape($this->url(array(), 'planTypeList')); ?>" >Plan types</a></li>
                            </ul>
                        </li>

                        <!-- <li class="special_link">
                            <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
                        </li> -->
                    </ul>

                </div>
            </nav>
                <!-- /*************************/ -->
                <!-- /*****************/ -->

                <div id="page-wrapper"  class="gray-bg dashbard-1">
                    <?php
                    // if (CheckAuth::getRoleName() != 'customer') { 
                    ?>
                    <div class="row border-bottom">
                        <div id="top-menu">
                            <ul> 
                                <li class="pull-left">
                                    <a class="navbar-minimalize  minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                                </li>
                                <li class="pull-left">
                                    <div class="dropdown">                                          
                                        <button  data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><i class="fa fa-building"></i></button>
                                        <ul class="dropdown-menu companies_list" role="menu" aria-labelledby="dropdownMenu1">

                                        </ul>
                                    </div>
                                    &nbsp;
                                </li>
                                <li class="pull-left">
                                    <!-- create new  btn -->
                                    <div class="btn-group">
                                        <button id="first-create-new" data-toggle="dropdown" class="btn btn-primary">New <span class="caret"></span></button>

                                        <button id="second-create-new" data-toggle="dropdown" class="btn btn-primary"><span class="fa fa-plus"></span></button>         

                                        <ul class="dropdown-menu">                                                
                                            <li>
                                                <a href="" class="new_header_btn_menu">
                                                    New Subscription
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="new_header_btn_menu">
                                                    New Plans
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="new_header_btn_menu">
                                                    New Invoices
                                                </a>
                                            </li>   
                                            <li>
                                                <a  href="#" data-toggle="modal" data-target="#popupi"onclick="popupi('New Customer', '');" > New Coupons</a>
                                            </li>
                                            <li>
                                                <a href="" class="new_header_btn_menu">
                                                    New Message
                                                </a> 
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="pull-left">
                                    <div class="btn-group" id="search-btn">
                                        <button   data-toggle="dropdown" class="btn btn-primary searchIcon">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </div>                                        
                                </li>
                                <li class="pull-left">
                                    <div class="btn-group pull-left" id="notification-list-b">
                                        <button  data-toggle="dropdown" class="btn btn-warning dropdown-toggle"> <span class="fa fa-bell"></span></button>                                            
                                    </div>
                                </li>
                                <li class="pull-left" id="btn-mobile-size">
                                    <a href="" class="btn btn-primary" style='background-color:#f8ac59 !important; color:#FFF; border-color:#f8ac59;'>
                                        <i class="glyphicon glyphicon-envelope"></i></a>
                                </li>
                                <li class="pull-right">
                                    <div class="btn-group pull-left" id="setting-b">
                                        <button  data-toggle="dropdown" class="btn btn-primary dropdown-toggle"> <span class="fa fa-cog"></span></button>
                                        <ul class="dropdown-menu setting-m">
                                            <li>
                                                <a href="">
                                                    My Account
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" class="contractor_a_link">Change My Password</a>   
                                            </li>
                                            <li>
                                                <a href="" class="contractor_a_link">Change My Email</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                                          <ul class="nav navbar-top-links float-r" id="notify_list">

                                    <li>
                                        <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'notifications')); ?>"><i class="fa fa-bell"></i> <span class="label label-primary" id="notification_count"><?php
                                                if ($this->countNotifincations == 0) {
                                                    echo "";
                                                } else {
                                                    echo $this->countNotifincations;
                                                }
                                                ?></span>Notifications</a>
                                    </li>

                                    <!-----------------sms------------------>
                                    <li>
                                        <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'smsNotifications')); ?>">
                                            <i class="fa fa-bell"></i> <span class="label label-primary" id="sms_notification_count"><?php
                                                if ($this->countSmsNotifincations == 0) {
                                                    echo "";
                                                } else {
                                                    echo $this->countSmsNotifincations;
                                                }
                                                ?></span>SMS</a>
                                    </li>


                                </ul>
                        </div>
                    </div>
                    <?php
                    // } 
                    ?>
                <?php endif; ?> 
                <div class="no-margin-b">
                    <?php echo $this->render('alert_messages.phtml'); ?>
                    <?php //$loggedEmployee = CheckAuth::getLoggedEmployee(); ?>
                    <?php
                    ?>
                    <?php echo $this->layout()->content; ?>
                </div>
            </div>
        </div>


        <div class="modal fade" id="popupi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modal_title"></h4>
                    </div>

                    <div class="modal-body">
                        <div id="content_modal_popup" >
                        </div>
                    </div>
                    <div class="modal-footer" style="display:none;"></div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="fn_nearest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modal_title2"></h4>
                    </div>

                    <div class="modal-body">
                        <div id="content_modal_popup2" >
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to continue?</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger" id="okBtn">OK</a>
                        <a type="button" class="btn btn-default" data-dismiss="modal" id="cancelBtn">Cancel</a>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <script>
            var urlType = window.location.href.split('?')[0].split("/");
            $("li.active").has("ul").removeClass('active');
            // $("li").has("ul li a[href*='/" + urlType[3] + "']").parents('li').addClass("active");

            // getCounts(urlType[3]);

            // function getCounts(urlType) {
            //     $.ajax({
            //         type: "POST",
            //         dataType: "JSON",
            //         url: "<?php echo $this->url(array(), 'getItemCounts'); ?>",
            //         data: {'type': urlType},
            //         success: function (result) {
            //             $.each(result, function (key, data) {
            //                 if ($('#' + key).find('span.label').length > 0) {
            //                     $('#' + key).find('span.label').remove();
            //                 }
            //                 $('#' + key).append('<span class="label label-' + data.color + ' pull-right">' + data.count + '</span>');
            //             });
            //             if (urlType == 'booking') {
            //                 getCounts('booking1');
            //             }

            //         }
            //     });

            // }

            $('#side-menu li').click(function () {
                var $type = $(this).attr('data-target');
                if (typeof $type !== typeof undefined && $type !== false) {
                    if (!($(this).find('span.label').length > 0)) {
                        getCounts($type);

                    }
                }
            });
        </script>
    </body>
    </html>