<!doctype html>
<?php

$modelCompanies     = new Model_Companies();
$companyId          = CheckAuth::getCompanySession();
$company            = $modelCompanies->getById($companyId);
$modelBookingStatus = new Model_BookingStatus();
$loggedUser         = CheckAuth::getLoggedUser();
$modelAuthRole      = new Model_AuthRole ();
$contractorRoleId   = $modelAuthRole->getRoleIdByName('contractor');     
//$loggedUser = CheckAuth::getLoggedUser();
ViewHelper::setJavaScript('/js/jquery.form.js');
/*
ViewHelper::setStyleSheet('/css/jquery.mThumbnailScroller.css');
ViewHelper::setJavaScript('/js/jquery.mThumbnailScroller.min.js');
ViewHelper::setStyleSheet('/plugins/fancybox/jquery.fancybox.css');
ViewHelper::setJavaScript('/plugins/fancybox/jquery.fancybox.js');
ViewHelper::setJavaScript('/js/jquery.form.js');  */
   
?>




<html>

    <head>
        <meta name="<?php  ?>">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?php ViewHelper::renderHtmlStyleSheet(); ?>
        <?php ViewHelper::renderHtmlJavaScript(); ?>
        <?php if (!empty($company['company_logo'])) : ?>
            <?php if (file_exists(str_replace('\\', '/', get_config('company_logo') . '/' . $company['company_logo']))): ?>
                <link REL="SHORTCUT ICON" HREF="<?php echo $this->escape($this->baseUrl('/uploads/company_logo/' . $company['company_logo'])); ?>?v=<?php echo ViewHelper::getVerision(); ?>"/>
            <?php else : ?>
                <link REL="SHORTCUT ICON" HREF="<?php echo $this->escape($this->baseUrl('/pic/favicon.png')); ?>?v=<?php echo ViewHelper::getVerision(); ?>"/>
            <?php endif; ?>
        <?php else : ?>
            <link REL="SHORTCUT ICON" HREF="<?php echo $this->escape($this->baseUrl('/pic/favicon.png')); ?>?v=<?php echo ViewHelper::getVerision(); ?>"/>

        <?php endif; ?>
        
        <?php if ( $company['company_id']  == 1){
                echo $this->headTitle();
        }else{
            ?>
             <title>
                 <?php echo $this->escape($company['company_name']) ;?>
             </title>
            <?php
        }

        ?>

    </head>

    <body class="pace-done">
        <div id="wrapper">

            <!-- check if user login -->
            <?php $loggedUser = CheckAuth::getLoggedUser(); ?>
            <?php if ($loggedUser): ?>

                <nav class="navbar-default navbar-static-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="nav-header">
                                <div class="dropdown profile-element" id="spacelogo"> 
                                    <span class="company-logo">
                                        <?php if (CheckAuth::getRoleName() != 'customer' ) { ?>
                                            <?php } ?>
                                            <div id="previewPicComapny">
                                            <?php if (!empty($company['company_logo'])) : ?>
                                                <?php if (file_exists(str_replace('\\', '/', get_config('company_logo') . '/' . $company['company_logo']))): ?>
                                                    <img id="complo" class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/uploads/company_logo/' . $company['company_logo'])); ?>" border="0" height="108" width="100"/>
                                                <?php else :  $nologoyet = 1 ;?>
                                                    <img id="complo" class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/octlogo.png')); ?>" height="108" width="100"border="0"/>
                                                <?php endif; ?>
                                            <?php else : $nologoyet = 1 ; ?>
                                                <img id="complo" class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/octlogo.png')); ?>"  height="108" width="100" border="0"/>
                                            <?php endif; ?>

                                            <?php if ('account_admin' == CheckAuth::getRoleName() or 'super_admin' == CheckAuth::getRoleName() ){
                                                      if( isset($nologoyet)  == 1){
                                                       ?>



                                                      <button style="display:none" title="change company logo" data-toggle="dropdown" id="cambtn" class="btn  btn-xs dropdown-toggle">
                                                        <i class="fa fa-camera"></i>
                                                      </button>

                                                      <div id="loader_view" style="display: none;">
                                                            <img class="img-responsive" src="<?php echo $this->baseUrl('/pic/loading-4.gif'); ?>" />
                                                      </div>

                                           <?php } } ?>

                                            </div>

                                                      <style>

                                                      #complo {
                                                        position: relative;
                                                      }
                                                      #previewPicComapny{
                                                         position: relative;
                                                      }

                                                      #loader_view{
                                                       // position: absolute;
                                                        top: 30px;
                                                        right: 35px;
                                                      }

                                                     #cambtn {

                                                        position: absolute;
                                                        top: 20px;
                                                        right: 9px;

                                                        border-radius: 50% !important;
                                                        font-size: 19px;
                                                        padding: 3px 7px !important;
                                                        background-color: #fff;
                                                        border: 1px solid #18a689;
                                                    }
                                                 </style>     
                                                    <form method="POST" id="imgcompany" enctype="multipart/form-data" action="<?php echo $this->escape($this->url(array('id' => $this->contractor_id), 'settingCompanyPicUpload')); ?>" >
                                                        <span  style="display:none" class="span_file_input">
                                                            change company logo <input name="profile_picture" type="file" style="" id="company_upload_pic" accept="image/x-png, image/jpg, image/jpeg" />
                                                        </span>
                                                    </form> 
                                             
                                            


                                            <?php if (CheckAuth::getRoleName() != 'customer') { ?>
                                            
                                        <?php } ?>
                                    </span>

                                    <div class="home-profile">
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                            <?php if (isset($loggedUser['avatar']) && !empty($loggedUser['avatar'])): ?>
                                                <img class="img-responsive" src="<?php echo $this->baseUrl('/uploads/user_pic/thumb_medium/' . $loggedUser['avatar']); ?>" 
                                                     />
                                                 <?php else: ?>

                                                <img class="img-responsive" src="<?php echo $this->baseUrl('/pic/contractor_pic1.png'); ?>" />

                                            <?php endif; ?>
                                            <span class="block m-t-xs"> 
                                                <?php echo $this->escape(ucfirst($loggedUser['username'])); ?>&nbsp;<span class="fa fa-angle-down"></span>
                                            </span>  
                                        </a>



                                        <ul class="dropdown-menu  m-t-xs ">

                                            <?php if (CheckAuth::getRoleName() != 'customer') { ?>    
                                                <?php
                                                $loggedUser = CheckAuth::getLoggedUser();
                                                $modelAuthRole = new Model_AuthRole ();
                                                $contractorRoleId = $modelAuthRole->getRoleIdByName('contractor');
                                                ?>
                                                <?php 
                                                    //if($loggedUser['role_id'] != $contractorRoleId&&(CheckAuth::getRoleName()!='contractor')){
                                                ?>
                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array(), 'myAccount')); ?>">
                                                        My Account
                                                    </a>
                                                </li>
                                                <?php // }elseif($loggedUser['role_id'] == $contractorRoleId && (CheckAuth::getRoleName() == 'contractor')){?>
                                                <!--<li>
                                                        <a href="<?php //echo $this->escape($this->url(array('contractor_id' => $loggedUser['user_id']), 'settingsContractorInfoList'))                     ?>">
                                                                         My Account
                                                              </a>
                                                </li> -->

                                                <?php //}  ?>
                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>" class="contractor_a_link"> My Messages</a>
                                                </li>

                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array(), 'changePassword')); ?>" class="contractor_a_link">Change My Password</a>   
                                                </li>
                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array(), 'changeEmail')); ?>" class="contractor_a_link">Change My Email</a>
                                                </li>



                                                <li class="divider"></li>
                                            <?php } ?>
                                            <li>
                                                <a  href="<?php echo $this->escape($this->url(array(), 'Logout')); ?>">
                                                    <i class="fa fa-power-off"></i><span> Log out</span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <!-- span -->
                                </div>
                                <!-- <select class="company-select" name="account">
                                      <option>Tile Cleaners Pty Ltd</option>
                                      <option>All Carpet, Rug, Upholstery & Floor Cleaning Services</option>
                                       <option>All Carpet, Rug, Upholstery</option>
                                       <option>All Carpet, Rug, Upholstery</option>
                                  </select>
                                -->
                                <div class="logo-element">
                                    <!-- logo for mobile & tablet size -->
                                    <span>
                                        <a href="/" style="text-decoration: none;">
                                            <?php if (!empty($company['company_logo'])) : ?>
                                                <?php if (file_exists(str_replace('\\', '/', get_config('company_logo') . '/' . $company['company_logo']))): ?>
                                                    <img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/uploads/company_logo/' . $company['company_logo'])); ?>" border="0"/>
                                                <?php else : ?>
                                                    <img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/logo.png')); ?>" border="0"/>
                                                <?php endif; ?>
                                            <?php else : ?>
                                                <img class="img-responsive" src="<?php echo $this->escape($this->baseUrl('/pic/logo.png')); ?>" border="0"/>
                                            <?php endif; ?>
                                        </a>
                                    </span>
                                </div>

                            </li>
                            <!-- dashboard -->
                            <?php if (CheckAuth::getRoleName() != 'customer') { ?>      
                                <li class="fordashboard">
                                    <a href="/"><i class="fa fa-tachometer"></i><span class="nav-label">Dashboard</span> <span class="fa arrow"></span></a>

                                    <ul class="nav nav-second-level">
                                    <?php if ($loggedUser['role_id'] == $contractorRoleId) {?>
                                           <li class="sub_button">                  
                                           
                                                <a href="<?php echo $this->escape($this->url(array('account'=>'contractor'), 'accountSummary')); ?>" >
                                                    Account Summary
                                                </a>
                                           </li>
                                    <?php } ?>      

                                        <?php //if (strpos($url, 'dashboard')){ ?>
                                        <?php // $url = isset($_SERVER['REQUEST_URI']) ? $_SERVER['REQUEST_URI'] : ''; ?>

                                        <?php $dashboardStatus = CheckAuth::getDashboardStatusDropdown(); ?>
                                        <?php if ($dashboardStatus) { ?>
                                            <li>
                                                <?php // echo $dashboardStatus;?>

                                            </li>


                                            <li class="sub_button <?php if ($this->sub_menu == 'future_bookings') { ?>sub_button_selected<?php } ?>">                   
                                                <a href=<?php echo "http://" . $_SERVER['HTTP_HOST'] . "/dashboard"; ?> >
                                                    Future bookings
                                                </a>
                                            </li>


                                            <li class="sub_button  <?php if ($this->sub_menu == 'past_bookings') { ?>sub_button_selected<?php } ?>">
                                                <a href=<?php echo "http://" . $_SERVER['HTTP_HOST'] . "/dashboard" . "/past"; ?>>
                                                    Past bookings
                                                </a>
                                            </li>


                                            <li class="sub_button <?php if ($this->sub_menu == 'completed_bookings') { ?>sub_button_selected<?php } ?>">
                                                <a href=<?php echo "http://" . $_SERVER['HTTP_HOST'] . "/dashboard" . "/completed"; ?>>
                                                    Completed Bookings
                                                </a>
                                            </li>


                                            <li class="sub_button <?php if ($this->sub_menu == 'inquiries') { ?>sub_button_selected<?php } ?>">
                                                <a href=<?php echo "http://" . $_SERVER['HTTP_HOST'] . "/dashboard" . "/inquiries"; ?>>
                                                    Inquiries
                                                </a>
                                            </li>
                                            <?php if (CheckAuth::checkCredential(array('companyAndContractorShare'))): ?>
                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array(), 'getCompanyContractorShare')); ?>">
                                                        Company And Contractor Share
                                                    </a>
                                                </li>
                                            <?php endif; ?>


                                        <?php } ?>

                                    </ul>
                                </li>
                            <?php } ?>
                            <!-- inquiry -->
                            <?php if (CheckAuth::checkCredential(array('inquiry'))): ?>
                                <li data-target = "inquiry" >
                                    <a href="/" id="countInquiries"><i class="fa fa-inbox"></i><span class="nav-label">inquiries</span> 
                                    </a>

                                    <ul class="nav nav-second-level fordashboard">

                                        <li class="fordashboard"><a id="countInquiry" href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>">New Inquiries

                                            </a></li>
                                        <li ><a id="countmyInquiry" href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?my_inquiries=true">My Inquiries

                                            </a></li>
                                        <?php if (CheckAuth::checkCredential(array('inquiry'))) { ?>
                                            <li><a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?fltr[to_follow]=true&sort=deferred_date&fltr[status]=inquiry&method=desc&fltr[to_follow_date]=today" id="countToFollowInquiry">To follow
                                                </a></li>
                                            <li><a href="<?php echo $this->escape($this->url(array('status' => 'all'), 'inquiry')); ?>?fltr[status]=all"> All inquiries 
                                                </a></li>

                                        <?php } if (CheckAuth::checkCredential(array('canSeeDeletedInquiry'))) { ?>
                                            <li><a href="<?php echo $this->escape($this->url(array('is_deleted' => 'deleted'), 'showDeletedInquiry')); ?>">Deleted inquiries</a></li>
                                        <?php } ?>
                                        <?php if (CheckAuth::checkCredential(array('canSeeSpamInquiry'))) { ?>
                                            <li><a href="<?php echo $this->escape($this->url(array(), 'inquiry')); ?>?is_spam=1"> Spam inquiries</a></li>
                                        <?php } ?>     
                                        <?php if (CheckAuth::checkCredential(array('inquiry'))) { ?>
                                            <li><a href="<?php echo $this->escape($this->url(array('status' => 'inquiry', 'unlabeled' => true), 'inquiry')); ?>?fltr[unlabeled]=true&fltr[status]=inquiry">Unlabeled
                                                </a></li> 
                                        <?php } ?>
                                    </ul>
                                </li>
                            <?php endif; ?>







                            <!--- booking -->              
                            <?php
                            if (CheckAuth::checkCredential(array('booking'))):
                                $yesterday = getTimePeriodByName('yesterday');
                                $today = getTimePeriodByName('today');
                                $tomorrow = getTimePeriodByName('tomorrow');
                                $cancelledStatus = $modelBookingStatus->getByStatusName('CANCELLED');
                                $onHoldStatus = $modelBookingStatus->getByStatusName('ON HOLD');
                                $canceld = isset($cancelledStatus['booking_status_id']) ? $cancelledStatus['booking_status_id'] : '';
                                $onhold = isset($onHoldStatus['booking_status_id']) ? $onHoldStatus['booking_status_id'] : '';
                                $todayUrl = $this->escape($this->url(array(), 'booking') . '?fltr[booking_start_between]=' . $today['start'] . '&fltr[booking_end_between]=' . $today['end'] . '&fltr[multiple_start_between]=' . $today['start'] . '&fltr[multiple_end_between]=' . $today['end'] . '&fltr[exclude_more_one_status]=' . $canceld . ',' . $onhold);
                                $tomorrowUrl = $this->escape($this->url(array(), 'booking') . '?fltr[booking_start_between]=' . $tomorrow['start'] . '&fltr[booking_end_between]=' . $tomorrow['end'] . '&fltr[multiple_start_between]=' . $tomorrow['start'] . '&fltr[multiple_end_between]=' . $tomorrow['end'] . '&fltr[exclude_more_one_status]=' . $canceld . ',' . $onhold);
                                ?>

                                <li data-target = "booking">
                                    <a href="/"><i class="fa fa-file-text-o"></i><span class="nav-label">Bookings</span> <span class="fa arrow"></span></a>

                                    <ul class="nav nav-second-level fordashboard">

                                        <li>
                                            <a href="<?php echo $todayUrl; ?>" id="countToday">
                                                Today

                                            </a>
                                        </li>

                                        <li>
                                            <a href="<?php echo $tomorrowUrl; ?>" id="countTomorrow">
                                                Tomorrow                                                   
                                            </a>
                                        </li>

                                        <li>
                                            <a href="<?php echo $this->escape($this->url(array(), 'booking') . '?fltr[booking_not_started_yet]=true&fltr[multiple_not_started_yet]=true&fltr[withoutEstimateStatus]=1' . '&fltr[exclude_more_one_status]=' . $canceld . ',' . $onhold); ?>" id="countFuture">
                                                Future

                                            </a>
                                        </li>


                                        <?php if (CheckAuth::checkCredential(array('canApproveBooking'))) { ?> 
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'unapproved')); ?>" id="countUnapprovedBooking">
                                                    To Approve
                                                </a>
                                            </li>
                                        <?php }; ?>

                                        <li>
                                            <a  href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[to_confirm]=true&fltr[next_working_day]=true&fltr[withoutEstimateStatus]=1" id="countToConfirm">
                                                To Confirm

                                            </a>
                                        </li>

                                        <li>
                                            <a  href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[rejectBookings]=reject&fltr[booking_not_finished_yet]=true&fltr[exclude_status]=CANCELLED&fltr[withoutEstimateStatus]=1" id="countRejectBooking">
                                                Rejected Bookings

                                            </a>
                                        </li>

                                        <li>
                                            <a  href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[acceptance]=notAcceptNorReject&fltr[withoutEstimateStatus]=1&fltr[booking_not_started_yet]=true" id="countNewRequests">
                                                New Requests

                                            </a>
                                        </li>


                                        <li>
                                            <?php
                                            $inProcessStatus = $modelBookingStatus->getByStatusName('IN PROGRESS');
                                            $toDo = $modelBookingStatus->getByStatusName('TO DO');
                                            $toVisit = $modelBookingStatus->getByStatusName('TO VISIT');
                                            ?>
                                            <a  href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[withoutEstimateStatus]=1&fltr[more_one_status]=<?= $inProcessStatus['booking_status_id'] ?>,<?= $toDo['booking_status_id'] ?>,<?= $toVisit['booking_status_id'] ?>&fltr[notAssigned]=1" id="countNotAssigned">
                                                Not Assigned

                                            </a>
                                        </li>


                                        <li>
                                            <a class="dropdown-toggle"  href="<?php echo $this->escape($this->url(array(), 'awaitingUpdateBooking')); ?>" id="countAwaitingupdateBooking">
                                                Awaiting Update 


                                            </a>
                                        </li>

                                        <li>
                                            <?php
                                            $inProcessStatus = $modelBookingStatus->getByStatusName('IN PROGRESS');
                                            ?>
                                            <a class="dropdown-toggle"  href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[status]=<?php echo $this->escape($inProcessStatus['booking_status_id']) ?>" id="countInProcessBooking">

                                                In Progress


                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-toggle" 
                                               href="<?php echo $this->escape($this->url(array(), 'awaitingAcceptBooking')); ?>" id="countAwaitingacceptBooking">
                                                Awaiting Acceptance

                                            </a>
                                        </li>

                                        <li>
                                            <a  href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?fltr[convert_status]=booking&fltr[to_follow]=true" id="countToFollowBooking">
                                                To Follow


                                            </a>
                                        </li>


                                        <li><a href="<?php echo $this->escape($this->url(array(), 'booking')); ?>"> All Bookings</a></li>

                                        <li><a href="<?php echo $this->escape($this->url(array(), 'booking')); ?>?my_bookings=true">My Bookings</a></li>

                                        <?php if (CheckAuth::checkCredential(array('feedbackList'))): ?>
                                            <li><a href="<?php echo $this->escape($this->url(array(), 'feedbackList')); ?>">Feedback</a></li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredential(array('canSeeDeletedBooking'))): ?>
                                            <li><a href="<?php echo $this->escape($this->url(array('is_deleted' => 'deleted'), 'isDeletedBooking')); ?>">Deleted</a></li>
                                        <?php endif; ?>

                                    </ul>
                                </li>
                            <?php endif; ?>     


                            <!-- estimaties -->
                            <?php if (CheckAuth::checkCredential(array('estimates'))): ?>
                                <li data-target = "estimates">

                                    <a href="/"><i class="fa fa-tag"></i><span class="nav-label">Estimates</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level fordashboard" >
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>?fltr[to_follow]=true&sort=to_follow&fltr[estimate_type]=draft&fltr[to_follow_date]=today" id="countToFollow">To Follow
                                            </a></li>
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>?visited_estimates=true">
                                                Site Visits
                                            </a></li>
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>?my_estimates=true&fltr[to_follow]=true&sort=to_follow&fltr[to_follow_date]=today&method=asc">
                                                My Estimates </a>
                                        </li>
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'estimates')); ?>">All Estimates</a></li>


                                        <?php if (CheckAuth::checkCredential(array('canSeeDeletedEstimate'))): ?>
                                            <li><a href="<?php echo $this->escape($this->url(array('is_deleted' => 'deleted'), 'isDeletedEstimate')); ?>">
                                                    Deleted 
                                                </a> </li>
                                        <?php endif; ?>



                                    </ul>
                                </li>                  
                            <?php endif; ?>     


                            <!-- invoices -->
                            <?php if (CheckAuth::checkCredential(array('invoices'))): ?>
                                
                                <li data-target="invoices ">
                                    <a href="/"><i class="fa fa-dollar"></i><span class="nav-label">Invoices</span> <span class="fa arrow"></span></a>

                                    <ul class="nav nav-second-level fordashboard">
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>?fltr[invoice_type]=open" id="countOfOpen">open
                                            </a></li>

                                        <li><a href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>?fltr[invoice_type]=unpaid" id="countOfUnpaid">Unpaid

                                            </a></li>
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>?fltr[invoice_type]=overdue" id="countOfOverdue">Overdue
                                            </a></li>
                                       <li><a href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>?fltr[invoice_type]=overdue&fltr[pending_payment]=true">Pending Payment
                                            </a></li>
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>?fltr[invoice_type]=closed">Closed</a></li>

                                        <li><a href="<?php echo $this->escape($this->url(array(), 'refundList')); ?>?fltr[is_approved]=no" id="countNewRefunds">New Refunds</a>

                                        </li>
                                        <?php if (CheckAuth::checkCredential(array('paymentList'))) { ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'paymentList')); ?>?fltr[is_approved]=no" id="countUnapprovedPayments">
                                                    New Payments 

                                                </a>

                                            </li> 
                                        <?php } ?>
                                        <?php if ($loggedUser['role_id'] != $contractorRoleId) {
                                            ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'duplicatedInvoices')); ?>" id="countDuplicates"> Duplicates 
                                                </a>
                                            </li>
                                        <?php } ?>
                                        <li> <a href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>">All Invoices</a></li>
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'paymentList')); ?>?fltr[is_approved]=no">Payments Received</a></li>

                                        <li><a href="<?php echo $this->escape($this->url(array(), 'invoices')); ?>?fltr[invoice_type]=void">Void</a></li>

                                    </ul>
                                </li>
                            <?php endif; ?>

                            <?php if (CheckAuth::checkCredential(array('customerList'))): ?>
                                <li>

                                    <a href="/"><i class="fa fa-user"></i><span class="nav-label">Customers</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level fordashboard">
                                        <?php if (!$this->is_sub_menu) { ?>
                                            <li> <a href="<?php echo $this->escape($this->url(array(), 'customerList')); ?>">
                                                    All Customers
                                                </a>
                                            </li>
                                            <?php if (CheckAuth::checkCredential(array('showDeletedCustomer'))): ?> 
                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array('is_deleted' => 'deleted'), 'showDeletedCustomer')); ?>">
                                                        Deleted Customers
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                            <?php if (CheckAuth::checkCredential(array('findDuplicateCustomer'))): ?>
                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array(), 'findDuplicateCustomer')); ?>">
                                                        Find Duplicate Customer
                                                    </a>
                                                </li>
                                            <?php endif; ?>
                                        <?php } ?>

                                    </ul>
                                </li>
                            <?php endif; ?>





                                    <!-- complaint -->
                            <?php if (CheckAuth::checkCredential(array('complaint'))): ?>

                                <li data-target="complaint">
                                    <a href="/"><i class="fa fa-smile-o"></i><span class="nav-label">Complaints</span> <span class="fa arrow"></span></a>

                                    <ul class="nav nav-second-level fordashboard">  

                                        <?php if (CheckAuth::checkCredential(array('canApproveComplaint'))): ?> 
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'unapprovedComplaint')); ?>" id="countUapprovedCompalints">Recently Resolved                                          
                                                </a>                                                                                        
                                            </li>
                                        <?php endif; ?>

                                        <li><a id="countOpenComplaint" href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>?fltr[complaintStatus]=open">Open Complaints
                                            </a></li>
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>?fltr[complaintStatus]=closed" >Closed Complaints </a></li>

                                        <!--add by mohamed-->
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>?fltr[to_follow]=true&fltr[to_follow_date]=today" id="countToFollow">To Follow
                                            </a></li>
                                        <!--add by mohamed-->

                                        <li><a href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>?fltr[complaintStatus]=all">All Complaints</a></li>


                                    </ul>
                                </li>


                            <?php endif; ?>




                            <?php if (CheckAuth::checkCredential(array('calendar'))): ?>
                                <?php
                                if (CheckAuth::getRoleName() == 'super_admin') {
                                    $companyId = CheckAuth::getCompanySession();
                                    $modelCompanies = new Model_Companies();
                                    $companyData = $modelCompanies->getById($companyId);
                                    $Email = $companyData['company_enquiries_email'];
                                } else if (CheckAuth::getRoleName() == 'contractor') {
                                    $loggedUser = CheckAuth::getLoggedUser();
                                    $loggedUserId = $loggedUser['user_id'];
                                    $modelUser = new Model_User();
                                    $userData = $modelUser->getById($loggedUserId);
                                    $Email = $userData['email1'];
                                }
                                ?>


                                <li>
                                    <a href="/"><i class="fa fa-calendar"></i><span class="nav-label">Calendar</span> <span class="fa arrow"></span></a>

                                    <ul class="nav nav-second-level fordashboard">  
                                        <li><a href="https://www.google.com/calendar/embed?src=<?php echo $Email; ?>" target="_blank">Google Calendar</a></li>                                         
                                        <li><a href="<?php echo $this->escape($this->url(array(), 'calendar')); ?>"><span class="nav-label">
                                                    Local Calendar</span></a></li>                                                                                                                                                          
                                    </ul>
                                </li>

                            <?php endif; ?>   


                            <?php if (CheckAuth::checkCredential(array('contractors'))) { ?>
                                <li class="fordashboard">
                                    <a href="<?php echo $this->escape($this->url(array(), 'contractors')); ?>"><i class="fa fa-user"></i>
                                        <span class="nav-label">
                                            Contractors
                                        </span>
                                    </a>
                                </li>       
                            <?php } ?>


                            <?php if (CheckAuth::checkCredential(array('reports'))): ?>
                                <li>     <a href="#"><i class="fa fa-folder-open"></i><span class="nav-label">Reports</span> <span class="fa arrow"></span></a>

                                    <ul class="nav nav-second-level fordashboard">
                                        <li>
                                            <a href="<?php echo $this->escape($this->url(array(), 'reports')); ?>">
                                                All Reports
                                            </a>
                                        </li>

                                        <?php if (CheckAuth::checkCredential(array('savedReport'))): ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'savedReport')); ?>">
                                                    Saved Reports
                                                </a>
                                            </li>
                                        <?php endif; ?>
                                    </ul>
                                </li>
                            <?php endif; ?>  

                            <?php if (CheckAuth::getRoleName() != 'customer') { ?>
                                <li>    
                                    <a href="#">
                                        <i class="fa fa-envelope"></i>
                                        <span class="nav-label">Emails</span>
                                    </a>                       
                                    <ul class="nav nav-second-level fordashboard">
                                        <li>
                                            <a href="<?php echo $this->escape($this->url(array(), 'gmailEmailsView')); ?>">
                                                Gmail Emails
                                            </a>
                                        </li>                           
                                        <li>
                                            <a href="<?php echo $this->escape($this->url(array(), 'localEmailsView')); ?>">
                                                Local Emails
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            <?php } ?>  



                            <?php if (CheckAuth::checkCredential(array('settings'))): ?>
                                <li>    <a href="#"><i class="fa fa-cog"></i><span class="nav-label">Settings</span> <span class="fa arrow"></span></a>


                                    <ul class="nav nav-second-level fordashboard">
                                        <li>
                                            <a href="<?php echo $this->escape($this->url(array(), 'settings')); ?>">
                                                All Settings
                                            </a>
                                        </li>

                                        <?php if (CheckAuth::checkCredentialOr(array('settingsCitiesList', 'settingsCountriesList'))): ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'settingsLocation')); ?>">
                                                    Location Settings
                                                </a>
                                            </li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredentialOr(array('settingsPaymentTypeList', 'settingsBankList', 'settingsDueDateList', 'settingsCallOutFee'))): ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'settingsPayment')); ?>">
                                                    Payment Settings
                                                </a>
                                            </li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredentialOr(array('settingsUserList', 'settingsAuthRoleList', 'settingsCompaniesList'))): ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'settingsUser')); ?>">
                                                    User Settings
                                                </a>
                                            </li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredentialOr(array('settingsCompaniesTradingNames', 'settingsCompaniesList'))): ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'settingsCompanies')); ?>">
                                                    Companies Settings
                                                </a>
                                            </li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredentialOr(array('settingsServicesList', 'settingsAttributeList', 'settingsProductList'))): ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'settingsServices')); ?>">
                                                    Services Settings
                                                </a>
                                            </li>
                                        <?php endif; ?>



                                        <?php if (CheckAuth::checkCredentialOr(array('settingsBookingStatusList', 'settingsInquiryTypeList', 'settingsComplaintTypeList', 'settingsCustomerTypeList', 'settingsPropertyTypes', 'settingsRequiredTypes'))): ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'settingsType')); ?>">
                                                    Types Settings
                                                </a>
                                            </li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredentialOr(array('settingsEmailTemplateList', 'settingsCannedResponsesList'))): ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'settingsEmail')); ?>">
                                                    Public Settings
                                                </a>
                                            </li>
                                        <?php endif; ?>

                                        <?php if (CheckAuth::checkCredentialOr(array('settingsLabelTypeList', 'settingsCustomerContactLabelList'))): ?>
                                            <li>
                                                <a href="<?php echo $this->escape($this->url(array(), 'settingsLabel')); ?>">
                                                    Label Settings
                                                </a>
                                            </li>
                                        <?php endif; ?>
                                    </ul>
                                </li>
                             <?php endif; ?>
                             <?php if(CheckAuth::getRoleName() == 'account_admin'){?>
                              <li class="fordashboard"> <a href="<?php echo $this->escape($this->url(array(), 'pagesubscription')); ?>"><i class="fa fa-th"></i><span class="nav-label">Your Subscription</span></a>
                              </li>
                             <?php }?>      

                        </ul>

                    </div>
                </nav>


                <div id="page-wrapper"  class="gray-bg dashbard-1">
                    <?php if (CheckAuth::getRoleName() != 'customer') { ?>
                        <div class="row border-bottom">

                            <div id="top-menu">
                                <ul> 
                                    <li class="pull-left">
                                        <a class="navbar-minimalize  minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                                    </li>
                               <?php if (CheckAuth::checkCredential(array('settingsCompaniesList'))){ ?>
                                   <li class="pull-left">

                                        <div class="dropdown">                                          
                                            <button  data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><i class="fa fa-building"></i></button>
                                            <ul class="dropdown-menu companies_list" role="menu" aria-labelledby="dropdownMenu1">
                                                <?php  echo CheckAuth::getCompanyDropdown(); ?>
                                            </ul>
                                        </div>
                                        &nbsp;
                                        <script>
                                            $('.companies_list li').click(function () {
                                                var company_session = $(this).find('input').val();

                                                // var company_session = $('#company_session').val();
                                                if (company_session) {
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "/ajax/setCompanySession",
                                                        data: "company_session=" + company_session,
                                                        success: function (result) {
                                                            if (result == '1') {
                                                                window.location = '/';
                                                            }
                                                        }
                                                    });
                                                }
                                            });

                                        </script>
                                    </li>  
                               <?php } ?>
                                     <li class="pull-left">
                                        <!-- create new  btn -->
                                        <div class="btn-group">
                                            <button id="first-create-new" data-toggle="dropdown" class="btn btn-primary">New <span class="caret"></span></button>

                                            <button id="second-create-new" data-toggle="dropdown" class="btn btn-primary"><span class="fa fa-plus"></span></button>         

                                            <ul class="dropdown-menu fordashboard">
                                                <?php if ($loggedUser): ?>
                                                    <li>
                                                        <a href="<?php echo $this->escape($this->url(array(), 'inquiryAdd')); ?>" class="new_header_btn_menu">
                                                            New Inquiry
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $this->escape($this->url(array(), 'bookingAdd')); ?>" class="new_header_btn_menu">
                                                            New Booking 
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $this->escape($this->url(array(), 'estimateAdd')); ?>" class="new_header_btn_menu">
                                                            New Estimate
                                                        </a>
                                                    </li>
                                                    <?php if (CheckAuth::checkCredential(array('complaintAdd'))): ?>
                                                        <li>                                                       
                                                            <a href="<?php echo $this->escape($this->url(array(), 'createComplaint')); ?>">                                                         
                                                                New Complaint                                                         
                                                            </a>                                                      
                                                        </li>
                                                    <?php endif; ?>

                                                    <li>
                                                        <a  href="#" data-toggle="modal" data-target="#popupi"onclick="popupi('New Customer', '<?php echo $this->escape($this->url(array(), 'customerAdd')); ?>');" > New Customer</a>
                                                    </li>


                                                    <li>
                                                        <a href="<?php echo $this->escape($this->url(array(), 'missedCallAdd')); ?>" class="new_header_btn_menu">
                                                            New Message
                                                        </a> 
                                                    </li>

                                                <?php endif; ?>
                                            </ul>
                                        </div>


                                    </li>

                                    <li class="pull-left">



                                        <div class="btn-group" id="search-btn">
                                            <button   data-toggle="dropdown" class="btn btn-primary searchIcon">
                                                <span class="fa fa-search"></span>
                                            </button>




                                            <form style="display:none;" id="search-small-size-form" role="search" method="GET" action="<?php echo $this->escape($this->url(array(), 'search')); ?>">
                                                <div class="input-group">
                                                    <input type="text" class="form-control white-bg" placeholder="Search.." name="keywords" autofocus >
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-primary">Go!</button>
                                                    </span> 
                                                </div>
                                                <ul class="advance_search_list">

                                                    <li><a  data-toggle="modal" data-target="#popupi" onclick="popupi('Advance Booking Search', '<?php echo $this->escape($this->url(array(), 'advanceBookingSearch')); ?>')"><img src="/pic/advance_search.png" width="14" height="14"/> Booking Search</a></li>

                                                    <li><a  data-toggle="modal" data-target="#popupi" onclick="popupi('Advance Inquiry Search', '<?php echo $this->escape($this->url(array(), 'advanceInquirySearch')); ?>')"><img src="/pic/advance_search.png" width="14" height="14"/> Inquiry Search</a></li>
                                                    <li><a  data-toggle="modal" data-target="#popupi" onclick="popupi('Advance Estimate Search', '<?php echo $this->escape($this->url(array(), 'advanceEstimateSearch')); ?>')"><img src="/pic/advance_search.png" width="14" height="14"/> Estimate Search</a></li>
                                                    <li><a  data-toggle="modal" data-target="#popupi" onclick="popupi('Advance Invoice Search', '<?php echo $this->escape($this->url(array(), 'advanceInvoiceSearch')); ?>')"><img src="/pic/advance_search.png" width="14" height="14"/> Invoice Search</a></li>           
                                                    <li><a  data-toggle="modal" data-target="#popupi" onclick="popupi('Advance Complaint Search', '<?php echo $this->escape($this->url(array(), 'advanceComplaintSearch')); ?>')"><img src="/pic/advance_search.png" width="14" height="14"/> Complaint Search</a></li>
                                                    <li><a  data-toggle="modal" data-target="#popupi" onclick="popupi('Advance Customer Search', '<?php echo $this->escape($this->url(array(), 'advanceCustomerSearch')); ?>')"><img src="/pic/advance_search.png" width="14" height="14"/> Customer Search</a></li>    
                                                </ul>
                                            </form>


                                        </div>
                                        <script type="text/javascript">
                                            $(document).ready(function () {

                                                $('.searchIcon').click(function () {
                                                    if ($(this).next().is(':visible')) {
                                                        $(this).next().hide();
                                                    } else {
                                                        $(this).next().show();
                                                    }
                                                });

                                            });
                                        </script>

                                    </li>

                                    <li class="pull-left">


                                        <div class="btn-group pull-left" id="notification-list-b">
                                            <button  data-toggle="dropdown" class="btn btn-warning dropdown-toggle"> <span class="fa fa-bell"></span></button>
                                            <ul class="dropdown-menu" id="notification-list">
                                                <!-- notification list -->    
                                                <?php if ($this->countOpenComplaint && $this->countOpenComplaint != 0): ?>
                                                    <li>
                                                        <a class="dropdown-toggle"  href="<?php echo $this->escape($this->url(array(), 'complaint')); ?>?fltr[complaintStatus]=open">   
                                                            <i class="label label-primary"><?php echo $this->countOpenComplaint ? $this->countOpenComplaint : 0; ?></i>
                                                            Complaints    
                                                        </a>
                                                    </li>
                                                <?php endif; ?>

                                                <?php if ($this->countClaimOwner): ?>
                                                    <li>
                                                        <a class="dropdown-toggle"  href="<?php echo $this->escape($this->url(array(), 'claimOwner')); ?>">
                                                            <i class="label label-primary"><?php echo $this->countClaimOwner; ?></i>
                                                            Claim Owners
                                                        </a>
                                                    </li>
                                                <?php endif; ?>


                                                <?php if ($this->countMissedCalls): ?> 
                                                    <li>
                                                        <a class="dropdown-toggle" href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>?is_read= no"> 
                                                            <i class="label label-primary"><?php echo $this->countMissedCalls; ?></i>
                                                            Messages 
                                                        </a>
                                                    </li>
                                                <?php endif; ?>


                                            </ul>
                                        </div>

                                    </li>

                                    <li class="pull-left" id="btn-mobile-size">
                                        <a href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>" class="btn btn-primary" style=' <?php if ($this->countMissedCalls): ?> background-color:#f8ac59 !important; color:#FFF; border-color:#f8ac59; <?php endif; ?>'>
                                            <i class="glyphicon glyphicon-envelope"></i></a>
                                    </li>
                                    <li class="pull-right">
                                        <div class="btn-group pull-left" id="setting-b">
                                            <button  data-toggle="dropdown" class="btn btn-primary dropdown-toggle"> <span class="fa fa-cog"></span></button>
                                            <ul class="dropdown-menu setting-m">

                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array(), 'myAccount')); ?>">
                                                        My Account
                                                    </a>
                                                </li>



                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array(), 'changePassword')); ?>" class="contractor_a_link">Change My Password</a>   
                                                </li>

                                                <li>
                                                    <a href="<?php echo $this->escape($this->url(array(), 'changeEmail')); ?>" class="contractor_a_link">Change My Email</a>
                                                </li>



                                                <li class="divider"></li>
                                                <li><a href="<?php echo $this->escape($this->url(array(), 'Logout')); ?>">Logout</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>




                                <ul class="nav navbar-top-links float-r" id="notify_list">

                                <li>
                                    <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'notifications')); ?>"><i class="fa fa-bell"></i> <span class="label label-primary" id="notification_count"><?php
                                            if ($this->countNotifincations == 0) {
                                                echo "";
                                            } else {
                                                echo $this->countNotifincations;
                                            }
                                            ?></span>Notifications</a>
                                </li>
                                
                                
                 <?php //if (CheckAuth::checkCredential(array('smsNotification'))){?>
                                
                                <li>
                                    <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'smsNotifications')); ?>">
                                    <i class="fa fa-bell"></i> <span class="label label-primary" id="sms_notification_count"><?php
                                            if ($this->countSmsNotifincations == 0) {
                                                echo "";
                                            } else {
                                                echo $this->countSmsNotifincations;
                                            }
                                            ?></span>SMS Notifications</a>
                                </li>
                                                 <?php //} ?>

                 <?php //if (CheckAuth::checkCredential(array('smsNotification'))){?>
                            <!--<li>
                                    <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'smsNotifications')); ?>">
                                    <i class="fa fa-bell"></i> <span class="label label-primary" id="sms_notification_count">
                                    <?php/*
                                            if ($this->countSmsNotifincations == 0) {
                                                echo "";
                                            } else {
                                                echo $this->countSmsNotifincations;
                                            }
                                            */?></span>SMS</a>
                                 </li>
                 <?php //} ?>-->
                                    <li>
                                        <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'discussionNotifications')); ?>"><i class="fa fa-bell"></i> <span class="label label-primary" id="discussion_notification_count"><?php
                                                if ($this->countDiscussionNotifincations == 0) {
                                                    echo "";
                                                } else {
                                                    echo $this->countDiscussionNotifincations;
                                                }
                                                ?></span>Discussion Notifications</a>
                                    </li>





                                    <?php
                                    //By islam
                                    if (0) {
                                        if ($this->countUapprovedCompalints && CheckAuth::checkCredential(array('canApproveComplaint'))) {
                                            ?> 
                                            <li>

                                                <a class="dropdown-toggle count-info" 
                                                   href="<?php echo $this->escape($this->url(array(), 'unapprovedComplaint')); ?>">
                                                    <i class="fa fa-bell"></i> <span class="label label-primary">
                                                        <?php echo $this->countUapprovedCompalints ?></span>
                                                    Resolved Complaints 1                                                                              
                                                </a>

                                            </li>
                                            <?php
                                        }
                                    }
                                    ?>











                                    <?php if ($this->countClaimOwner && $this->countClaimOwner != 0): ?>
                                        <li>
                                            <a class="dropdown-toggle count-info"  href="<?php echo $this->escape($this->url(array(), 'claimOwner')); ?>">
                                                <i class="fa fa-bell"></i> <span class="label label-primary"><?php echo $this->countClaimOwner; ?></span>
                                                Claim Owners
                                            </a>
                                        </li>
                                    <?php endif; ?>


                                    <?php if ($this->countMissedCalls && $this->countMissedCalls != 0): ?> 
                                        <li>
                                            <a class="dropdown-toggle count-info" href="<?php echo $this->escape($this->url(array(), 'missedCall')); ?>?is_read= no"> 
                                                <i class="fa fa-bell"></i> <span class="label label-primary"><?php echo $this->countMissedCalls; ?></span>
                                                Messages 
                                            </a>
                                        </li>
                                    <?php endif; ?>

                                    <?php if (CheckAuth::checkCredential(array('canSeeBookingChecks'))): ?>    
                                        <li>
                                            <a  href="<?php echo $this->escape($this->url(array(), 'bookingCheckInCheckOutList')); ?>">
                                                <span>Site Attendance</span>
                                            </a>
                                        </li>
                                    <?php endif; ?>




                                </ul>




                            </div>




                        </div>
                    <?php } ?>
                <?php endif; ?>                
                <div class="no-margin-b">
                    <?php echo $this->render('alert_messages.phtml'); ?>
                    <?php $loggedUser = CheckAuth::getLoggedUser(); ?>
                    <?php if ($loggedUser): ?>
                        <?php echo BreadCrumbs::breadCrumb(); ?>
                    <?php endif; ?>
                    <?php echo $this->layout()->content; ?>
                </div>
            </div>
        </div>


        <div class="modal fade" id="popupi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modal_title"></h4>
                    </div>

                    <div class="modal-body">
                        <div id="content_modal_popup" >
                        </div>
                    </div>
                    <div class="modal-footer" style="display:none;"></div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="fn_nearest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modal_title2"></h4>
                    </div>

                    <div class="modal-body">
                        <div id="content_modal_popup2" >
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div id="panelfirstpage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">complete steps</h4>
                    </div>
                    <div class="modal-body">
                        <p>You must complete this steps</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger" id="okBtn">OK</a>
                        <a type="button" class="btn btn-default" data-dismiss="modal" id="cancelBtn">Cancel</a>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        
        
          <div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmation Message</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to continue?</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger" id="okpanelfirst">OK</a>
                        <a type="button" class="btn btn-default" data-dismiss="modal" id="cancelBtn">Cancel</a>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

       <script>

         $("#cambtn").click(function() {
              $("#company_upload_pic").click();
          });


           $('#company_upload_pic').change(function () {



            console.log('upload fileee'+$('#company_upload_pic').get(0).files.length);



           if ($('#company_upload_pic').get(0).length != 0) {

     
                $("#loader_view").css('display', 'block');
               
                $("#imgcompany").ajaxForm(
                        {
                            target: '#previewPicComapny',
                            success: function () {
                             $("#loader_view").css('display', 'none');
                            }
                        }).submit();

              }
        });

        
            var urlType = window.location.href.split('?')[0].split("/");
            $("li.active").has("ul").removeClass('active');
            $("li").has("ul li a[href*='/" + urlType[3] + "']").parents('li').addClass("active");
            getCounts(urlType[3]);

            function getCounts(urlType) {
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: "<?php echo $this->url(array(), 'getItemCounts'); ?>",
                    data: {'type': urlType},
                    success: function (result) {
                        $.each(result, function (key, data) {
                            if ($('#' + key).find('span.label').length > 0) {
                                $('#' + key).find('span.label').remove();
                            }
                            $('#' + key).append('<span class="label label-' + data.color + ' pull-right">' + data.count + '</span>');
                        });
                        if (urlType == 'booking') {
                            getCounts('booking1');
                        }

                    }
                });

            }

            $('#side-menu li').click(function () {
                var $type = $(this).attr('data-target');
                if (typeof $type !== typeof undefined && $type !== false) {
                    if (!($(this).find('span.label').length > 0)) {
                        getCounts($type);

                    }
                }
            });


            $( "#spacelogo" ).hover(
  function() {
   // $("#cambtn").css( 'display' , 'block' );
    $( "#cambtn" ).fadeIn( 500 );
  }, function() {
    // $("#cambtn").css( 'display' , 'none' );
    $( "#cambtn" ).fadeOut( 500 );
  }
);



        </script>


    </body>
</html>