<div class="col-lg-12 wrapper-content">
    <div class="right_side_cont ibox-content">

        <div class="btn_cont">
            <a href="javascript:;" data-toggle="modal" data-target="#popupi"  onclick="popupi('New Employee', '<?php echo $this->escape($this->url(array(), 'contractorEmployeeAdd')); ?>');" class="btn btn-white">
                <div class="text_pos">
                    New Employee
                </div>
            </a>
        </div> 


        <div>
            <div class="button_actions">
                <h5>     Search Employees</h5>
            </div>
            <form id="search_form" action="<?php echo $this->escape($this->url(array(), 'contractorEmployeeList')); ?>" method="GET" class="form-inline" >
                
                    <input class="form-control" name="fltr[keywords]" type="text" value="<?php echo $this->escape(!empty($this->filters['keywords']) ? $this->filters['keywords'] : ''); ?>" />

                <a href="javascript:;" onclick="$('#search_form').submit();" class="a_advance_search btn btn-white a_margin-responsive">Search</a> <span class="or_span a_margin-responsive">or</span>
                <a href="<?php echo $this->escape($this->url(array(), 'contractorEmployeeList')); ?>" class="a_advance" >Reset</a>

            </form>

        </div>
    </div>
</div>
<div class="col-lg-12 wrapper-content ibox float-e-margins">
    <?php //echo BreadCrumbs::breadCrumb(); ?>

    <div class="ibox-title">
        <h5> 
            Modify Employees
        </h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>

        </div>
    </div>
    <div class="ibox-content">
        <?php if ($this->data): ?>
            <form action="<?php echo $this->escape($this->url(array(), 'contractorEmployeeDeleteBtn')); ?>" method="POST" onsubmit="return confirm('are you sure you want to delete this Contractor Employee?');">


                <div class="">


                    <input type="submit" class="btn btn-primary" value="Delete"/>                     

                </div>
                <table class="table table-striped table-bordered table-hover change-table-font" id="editable" >
                    <thead>
                        <tr>
                            <th class="checkbox_booking_cont"><input type="checkbox" name="checkboxall" id="checkboxall" style="margin: 3px;" /></td>
                            <th><b>Employee Details</b></th>
                            <th><b>Avatar</b></th>
                        </tr>
                    </thead>
                    <tbody>



                        <?php foreach ($this->data as $row) : ?>


                            <tr>
                                <td>
                                    <div>
                                        <input type="checkbox" name="ids[]" value="<?php echo $this->escape($row['contractor_employee_id']) ?>" class="checkbox_input_pos"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="details_info_l">
                                        <div>
                                            <a href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Employee Details','<?php echo $this->escape($this->url(array('id' => $row['contractor_employee_id']), 'contractorEmployeeview')); ?>');"class="details_info_name"><?php echo $this->escape($row['name']) ?></a>
                                        </div>
                                        <div class="booking_time_cont">
                                            <span style="color: #A1A1A1;">Contractor:</span> <?php echo $this->escape($row['username']) ?>
                                        </div>
                                    </div>
                                    <div class="details_info_l">
                                        <a  href="javascript:;" data-toggle="modal" data-target="#popupi" onclick="popupi('Employee Details','<?php echo $this->escape($this->url(array('id' => $row['contractor_employee_id']), 'contractorEmployeeEdit')); ?>');"class="details_info_opt">Edit</a>
                                        <span class="details_breaks">|</span>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['contractor_employee_id']), 'contractorEmployeeDelete')); ?>" onclick="return confirm('are you sure you want to delete this Contractor Employee?');" class="details_info_opt">Delete</a>
                                        <span class="details_breaks">|</span>
                                        <a href="<?php echo $this->escape($this->url(array('id' => $row['contractor_employee_id']), 'contractorEmployeePhotoUpload')); ?>" class="details_info_opt">upload Avatar</a>
                                    </div>
                                </td>

                                <td>
                           <?php if (!empty($row['small_avatar_path'])): ?>
                                            <div style="float:  right; padding: 10px 10px;"> 
                                                <img src="<?php echo $this->baseUrl('/uploads/avatar/' . $row['small_avatar_path']) ?>"/>
                                            </div>
                                        <?php else: ?>
                                            <div style="float:right;  padding: 10px 10px;">
                                                <img  style=" border: 1px solid rgb(204, 204, 204); "src="<?php echo $this->baseUrl('/pic/avatar-small.jpg') ?>"/> 
                                            </div>
                                        <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
        </div>
        <div>
            <?php if (count($this->pageLinks) > 3): ?>
                <ul class="pagination">
                    <?php foreach ($this->pageLinks as $pageLink) : ?>
                        <li><?php echo $pageLink; ?></li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </div>
    </form>

<?php else: ?>
    <div style="" class="noRowsMessageDIV">There are no Employees.</div>
<?php endif; ?>
</div>
<div style="clear:both"></div>
