<div class="ibox float-e-margins">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-5">
        <h3>Upload Avatar</h3>
      </div>
      <div class="col-md-7 "> </div>
    </div>
	<div class="row">
	<div class="col-md-8">
	  <nav>
	  <a class="btn btn-white btn_a" onclick="$('#<?php echo $this->escape($this->form->getName()); ?>').submit();"  href="#" >
        Upload
	  </a>
	  </nav>
	 </div>
	</div>
  </div>
</div>

<div class="ibox float-e-margins no-margin-b"> 
  
  <div class="ibox-content">
                <form id="<?php echo $this->escape($this->form->getName()); ?>" action="<?php echo $this->escape($this->form->getAction()); ?>" enctype="<?php echo $this->escape($this->form->getEnctype()); ?>" method="<?php echo $this->escape($this->form->getMethod()); ?>">
                  <?php echo $this->escape($this->message); ?>
				  <div class="form-group">
				       <label class="col-lg-3 control-label"> Avatar Upload :</label>
                        <div class="col-lg-9"><?php echo $this->form->getElement('image')->render(); ?></div>
				  </div>
				  <div style="clear:both"></div>
				</form>
  
  </div>
 </div> 