<table class="table">
    <tr>
        <td class="left_side">
            <div class="head">
                <div class="list_title">
                    All Reports
                </div>
                <div class="clearb"></div>
            </div>

            <?php
            $settings_blocks = array(
                //
                // Common Reports
                //
                'Common Reports' => array(
                    'visible' => CheckAuth::checkCredentialOr(array('bookingSummary', 'bookingServiceTileSummary')),
                    'menu' => array(
                        'Booking Summary' => array('url' => $this->escape($this->url(array(), 'bookingSummary')), 'visible' => CheckAuth::checkCredential(array('bookingSummary'))),
                        'Booking Summary By Service / Tile' => array('url' => $this->escape($this->url(array(), 'bookingServiceTileSummary')), 'visible' => CheckAuth::checkCredential(array('bookingServiceTileSummary'))),
                         'Booking Summary By Chart' => array('url' => $this->escape($this->url(array(), 'bookingSummaryByChart')), 'visible' => CheckAuth::checkCredential(array('bookingSummaryByChart'))),
                        'Convert to Booking Duration' => array('url' => $this->escape($this->url(array(), 'convertToBookingDuration')), 'visible' => CheckAuth::checkCredential(array('bookingSummaryByChart')))
                )),
                //
                // Contractor Reports
                //
                'Contractor Reports' => array(
                    'visible' => CheckAuth::checkCredentialOr(array('reportContractorsDetailedSummary', 'reportContractorsSummary', 'contractorsBookingPayment,reportContractorsPaymentDetailedSummary', 'reportContractorsBookingsSummary')),
                    'menu' => array(
                        'Contractors Bookings Summary' => array('url' => $this->escape($this->url(array(), 'reportContractorsBookingsSummary')), 'visible' => CheckAuth::checkCredential(array('reportContractorsBookingsSummary'))),
                        'Contractors Detailed Summary' => array('url' => $this->escape($this->url(array(), 'reportContractorsDetailedSummary')), 'visible' => CheckAuth::checkCredential(array('reportContractorsDetailedSummary'))),
                        'Contractors Summary' => array('url' => $this->escape($this->url(array(), 'reportContractorsSummary')), 'visible' => CheckAuth::checkCredential(array('reportContractorsSummary'))),
                        'Contractors Booking Payment' => array('url' => $this->escape($this->url(array(), 'contractorsBookingPayment')), 'visible' => CheckAuth::checkCredential(array('contractorsBookingPayment'))),
                        'Contractors Payment Detailed Summary ' => array('url' => $this->escape($this->url(array(), 'reportContractorsPaymentDetailedSummary')), 'visible' => CheckAuth::checkCredential(array('reportContractorsPaymentDetailedSummary')))
                )),
                //
                // Payment Reports
                //
                'Payment Reports' => array(
                    'visible' => CheckAuth::checkCredentialOr(array('reportPaymentReceived', 'reportRefundHistory', 'reportTimeToPay', 'reportOverdueInvoices')),
                    'menu' => array(
                        'Payment Received' => array('url' => $this->escape($this->url(array(), 'reportPaymentReceived')), 'visible' => CheckAuth::checkCredential(array('reportPaymentReceived'))),
                        'Payment To Contractors' => array('url' => $this->escape($this->url(array(), 'reportPaymentToContractors')), 'visible' => CheckAuth::checkCredential(array('reportPaymentReceived'))),
						'Overdue Invoices' => array('url' => $this->escape($this->url(array(), 'reportOverdueInvoices')), 'visible' => CheckAuth::checkCredential(array('reportOverdueInvoices'))),
                        'Refund History' => array('url' => $this->escape($this->url(array(), 'reportRefundHistory')), 'visible' => CheckAuth::checkCredential(array('reportRefundHistory'))),
                        'Time To Pay' => array('url' => $this->escape($this->url(array(), '')), 'visible' => get_config('under_construction'))
                )),
                //
                // Customer Reports
                //
                'Customer Reports' => array(
                    'visible' => CheckAuth::checkCredentialor(array('reportCustomerBalances', 'reportSalesByCustomer')),
                    'menu' => array(
                        'Customer Balances' => array('url' => $this->escape($this->url(array(), '')), 'visible' => get_config('under_construction')),
                        'Sales By Customer' => array('url' => $this->escape($this->url(array(), 'reportSalesByCustomer')), 'visible' => CheckAuth::checkCredential(array('reportSalesByCustomer')))
                )),
                //
                // Employee Reports
                //
                'Employee Reports' => array(
                    'visible' => CheckAuth::checkCredentialor(array('reportSalesByEmployee')),
                    'menu' => array(
                        'Sales By Employee' => array('url' => $this->escape($this->url(array(), 'reportSalesByEmployee')), 'visible' => CheckAuth::checkCredential(array('reportSalesByEmployee')))
                ))
            );
            ?>


            <?php

            function print_settings_table($left = '', $right = '', $counter = 0) {
                $view = new Zend_View();
                $view->setScriptPath(APPLICATION_PATH . '/modules/settings/views/scripts/settings');
                $view->left = $left;
                $view->right = $right;
                $view->margin = ($counter > 2) ? true : false;

                return $view->render('settings_table.phtml', true);
            }

            $list = array();
            $counter = 0;
            foreach ($settings_blocks as $settings_block_title => $settings_block) {
                $counter++;
                if ($settings_block['visible']) {
                    $view = new Zend_View();
                    $view->setScriptPath(APPLICATION_PATH . '/modules/settings/views/scripts/settings');
                    $view->section_title = $settings_block_title;
                    $view->section_actions = $settings_block['menu'];

                    $list[] = $view->render('settings_sections.phtml', true);
                }
                if (count($list) == 2) {
                    echo print_settings_table($list[0], $list[1], $counter);
                    $list = array();
                }
            }
            if (count($list)) {
                echo print_settings_table($list[0], '', $counter);
            }
            ?>

        </td>
        <td class="right_side">
            <div class="right_side_cont">

            </div>
        </td>
    </tr>
</table>