<div class="container-fluid">

    <div id="messege"></div>
    <form id="form" class="form-horizontal" method="POST" action="<?php echo $this->escape($this->url(array(), 'changePlanSubscription')); ?>">
        
        <input type="hidden" id="newPlanId" name="newPlanId" value="<?php echo $this->escape($this->newPlanId); ?>" />
        <input type="hidden" id="isApprove" name="isApprove" value="<?php echo $this->escape($this->isApprove); ?>" />
        <input type="hidden" id="period" name="period" value="<?php //echo $this->escape($this->period); ?>" />
         <?php if($this->escape($this->isGreaterThan) == 'no'){ ?>
        <p style="margin-left: 10px;">You are about to approve this payment to change your plan</p>      
        <p style="margin-left: 10px;">Do you want to proceed?</p>
        <div class="form-group">
            <div class="pull-right" id="button_cont">
                <button type="button" id="btnCancel"  class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="submit" id="btnYes" style="width: 70px;" class="btn btn-primary" >Yes</button>
            </div>
            
        </div>
        <?php }elseif($this->escape($this->isGreaterThan) == 'yes'){ ?>
        <p style="margin-left: 10px;">The number of actual registered user is greater than the maximum number of selected plan.</p>
        <div class="form-group">
            <div class="pull-right" id="button_cont">
                <button type="button" id="btnCancel"  class="btn btn-primary" data-dismiss="modal">OK</button>               
            </div>
            
        </div>
        <?php }elseif($this->escape($this->isGreaterThan) == 'YesNo'){ ?>
             <p style="margin-left: 10px;">You can't select this Plan.</p>
        <div class="form-group">
            <div class="pull-right" id="button_cont">
                <button type="button" id="btnCancel"  class="btn btn-primary" data-dismiss="modal">OK</button>               
            </div>
            
        </div>
        <?php } ?>
     
       
        
        
    </form>
</div>


