
      <form id="form" class="form-horizontal" method="<?php echo $this->escape($this->form->getMethod()); ?>" 
	     onsubmit="doSbmit('<?php echo $this->escape($this->form->getAction()); ?>', '#form', '#content_modal_popup');
            return false;">
			
			
        
		<script>
		$(document).ready(function() {
		
		$('#date1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
				format:'dd-mm-yyyy'
            });
        
    });
     </script>

        <h3>Contact Details :</h3>
        <input type="hidden" name="company-process" value="2">

        <div class="form-group">
            <label class="col-lg-4">
               Company Website : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_website')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Enquiries Email :</label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_enquiries_email')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Invoices Email : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_invoices_email')->render(); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4">
                Company Accounts Email : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_accounts_email')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Complaints Email : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_complaints_email')->render(); ?>
            </div>
        </div>  <div class="form-group">
            <label class="col-lg-4">
                Company Mobile 1 : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_mobile1')->render(); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4">
               Company Mobile 2 :</label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_mobile2')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Mobile 3 : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_mobile3')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
                Company Phone 1 :</label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_phone1')->render(); ?>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-4">
             Company Phone 2 : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_phone2')->render(); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-4">
             Company Phone 3 : </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_phone3')->render(); ?>
            </div>
        </div>
        
         <div class="form-group">
            <label class="col-lg-4">
               Company Fax :     </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_fax')->render(); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">
               Company Emergency Phone :   </label>
            <div class="col-lg-8">
                <?php echo $this->form->getElement('company_emergency_phone')->render(); ?>
            </div>
        </div>
       
        
        
         
          <div class="form-group">
			<div class="col-md-9 col-md-offset-3" id="button_cont"><?php echo $this->form->getElement('button')->render(); ?></div>
		  </div>
		  </div>
		  </div>
		  </div>
    </form>
	
	
<script type="text/javascript">

 function doSbmit(url){
		
		 
        $('#button_cont').html('<img src="/pic/loading-4.gif">');
        $.ajax({
            type: "POST",
            url: url,
            data: $('#form').serialize(),
            success: function (data) {
                try {
                    var json = eval('(' + data + ')');
                    console.log(json);
					
					
                    if (json.success==true) {
                    
					 window.location=json.url;
                 
					} 
                } catch (e) {
                    $('#content_modal_popup').html(data);
                }
            }
        });
	}
	
	
    function getCitiesByState() {
		console.log($('#state').val());
        if ($('#state').val()) {
            $('#city_block').css('display', 'block');
            $('#city_cont').html('<img src="/pic/loading-4.gif">');
            $.ajax({
                type: "POST",
                url: "<?php echo $this->url(array(), 'dropDownCity'); ?>",
                data: "country_id=" + $('#country_id').val() + "&state=" + $('#state').val(),
                success: function (msg) {
					console.log(msg);
                    $('#city_block').css('display', 'block');
                    $('#city').html(msg);
                }
            });
        } else {
            $('#city_block').css('display', 'none');
        }
    }
	
</script>

