 <section>
             <div class="contBig col-lg-offset-3 col-lg-5 col-sm-offset-2 col-sm-8  col-xs-offset-1 col-xs-10">
			      <div class="outbiglogo" >
				    <div class="inbiglogo">
					</div>
				  </div>
				  <div class="headnewaccount">
				    Check Your Email
				  </div>
				  
				  <div class="bodycheck" style="padding-top:30px ">
				    We've sent a verification email to your inbox 
				  </div>
				  
				  <div class="yelloemail">
				    mfkerm@gmail.com
				  </div>
				  
			 <div class="bodycheck">	  
				  please follow the instructions in the email 
to activate your account
				 </div>  
				 
				 
				 <div class="btncont  col-sm-offset-3 col-sm-6" style="padding-top:30px;"> 
				      <input type="button" class="btn" value="GO BACK">
                                      <input type="button" class="btn" value="Resend">
				   </div>
				  
				  
				  
			 </div>
    
         </section>
	  
	
    
	
	<style>
	
	
	body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #fff url(bd.png) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	
     }    
	 
	 .btncont input[type=button], input[type=reset], input[type=submit]{
	   background: url(btn.jpg) repeat-x;
	   color:#fff;
	   width:100%;
	   margin:8px 0px;
	   font-family: 'Montserrat', sans-serif;
	 }
	 
	  .btncont input:hover{
	   background: #33c2ff;
	  
	 }
	 
   .cont-input{
	 margin:10px;
   }
	 .inputstyle{
	    text-align:center ;
		background:#f1f1f1;
		width:100%;
		border:none;
		padding:5px;
		font-size:17px;
		font-family: 'Open Sans', sans-serif;
	 }
	 
   .contBig{
    background: #fff ;
    height: 420px;
    border-radius:18px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	}	
	
	.outbiglogo{
	  position:relative;
	}
	
	.inbiglogo{
	   background :url(octbiglogo.png) no-repeat;
	   height:172px; 
	   width:230px;
	   position: absolute;
       top:63px;
       bottom: 0;
       left: 0;
       right: 0;
      margin: auto;
	}
	
	.headnewaccount{
	   padding-top:145px ; 
	   text-align:center;
	   font-size:21px;
	   color:#0091d7;
	   font-family: 'Open Sans', sans-serif;
	}
	
	
	.bodycheck{
	   
	   text-align:center;
	   font-size:21px;
	   color:#9ea2a6;
	   font-family: 'Open Sans', sans-serif;
	}
	
	.yelloemail{
		   text-align:center;
	   font-size:21px;
	   color:#0091d7;
	   font-family: 'Open Sans', sans-serif;
	}
	</style>
	