<!--new subscription page by mohamed-->
<style>
    .m .row div{
        padding:5px 10px;  
        font-size:14px;
    }
    .bb{
        font-weight:bold;
    }
</style>

<div class="m ibox">
    <div class="ibox ibox-content">

        <div class="input-group">
            <h3>Subscription Information</h3>       
        </div>

        <hr>
        <div class="row">
            <div class="bb col-sm-3"> 
                Company Name 
            </div>
            <div class="col-sm-5">
                <?php
                if (isset($this->company_name)) {

                    echo $this->escape($this->company_name);
                }
                ?>
            </div>
        </div>	 


        <div class="row">
            <div class="bb col-sm-3"> 
                Plan Name 
            </div>
            <div class="col-sm-5">
                <?php
                if (isset($this->plan_name)) {

                    echo $this->escape($this->plan_name);
                }
                ?>
            </div>
        </div>	

        <div class="row">	  
            <div class="bb col-sm-3"> 
                Maximum Users / Plan 
            </div>
            <div class="col-sm-5">
                <?php
                if (isset($this->plan_name)) {

                    echo $this->escape($this->max_plan);
                }
                ?>
            </div>
        </div>   

        <hr>
        <!--*****************************************************    paid or active account    ******************************************-->
        <?php if ((strtotime($this->trial_end_date) < time()) && $this->CustomerTokenID != null && (time() >= strtotime($this->from) && time() <= strtotime($this->to))) { ?>

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Account Status 
                </div>
                <div class="col-sm-5">
                    <span class="label label-primary"><?php echo $this->escape($this->account_status); ?></span>
                </div>
            </div>

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Start Date
                </div>
                <div class="col-sm-5">
                    <?php
                    echo $this->escape($this->from);
                    ?>
                </div>
            </div> 	

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    End Date
                </div>
                <div class="col-sm-5">
                    <?php
                    echo $this->escape($this->to);
                    ?>
                </div>
            </div> 

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    last payment amount
                </div>
                <div class="col-sm-5">
                    $ <?php echo abs($this->escape($this->last_payment) * 100); ?>  
                </div>
            </div> 

        <?php } else { ?>

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Account Status 
                </div>
                <div class="col-sm-5">
                    <span class="label label-primary"><?php echo $this->escape($this->account_status); ?></span>
                </div>
            </div> 

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Trial End Date
                </div>
                <div class="col-sm-5">

                    <?php
                    echo $this->escape($this->trial_end_date);
                    ?>
                </div>
            </div>
        <?php } ?>


        <div class="row">	  
            <div class="bb col-sm-3"> 
                Remainder Days
            </div>
            <div class="col-sm-5">
                <?php
                echo $this->escape($this->remind_days);
                ?>   
            </div>
        </div> 
        <hr>

        <div class="row">	  
            <div class="bb col-sm-3"> 
                Active users you have
            </div>
            <div class="col-sm-5">
                <?php
                echo $this->escape($this->company_users_active);
                ?>  Users
            </div>


        </div> 

        <hr>

        <div class="row">
            <!-- ****************** trial Or suspended and want add billing info ************ -->
            <?php if (((strtotime($this->trial_end_date) >= time()) || (strtotime($this->trial_end_date) < time())) && $this->CustomerTokenID == null) { ?>

                <form name="addBillingInfo" id="addBillingInfo" method="post" action="<?php echo $this->escape($this->url(array(), 'manageBillingInformation')); ?>">
                    <input type="hidden" class="form-control" name="nameFlag" value= "add_billing_info" />            
                    <input type="hidden" class="form-control" name="operation" value= "pre_add_billing" />
                    <!-- ************ trial and want to add billing info or change his plan*******-->
                    <?php if (strtotime($this->trial_end_date) >= time()) { ?>
                        <a  class="btn btn-primary btn-rounded btn-outline col-sm-5 col-sm-offset-1" onclick="document.getElementById('addBillingInfo').submit();"  ><i class="fa fa-info-circle" ></i> Add Billing Information </a>       
                        <a  class="btn btn-primary btn-rounded btn-outline col-md-5"  data-toggle="modal" data-target="#popupi" onClick="popupi('Change Plan', '<?php echo $this->escape($this->url(array(), 'changePlanTrialSubscription')); ?>');"><i class="fa fa-info-circle" ></i> Change Plan</a>                       
                        <!-- ************ suspended and want to add billing info or change his plan*******-->
                    <?php } else { ?>
                        <a  class="btn btn-primary btn-rounded btn-outline col-sm-4 col-sm-offset-1" onclick="document.getElementById('addBillingInfo').submit();"  href="#"><i class="fa fa-info-circle" ></i> Become Premium </a>                               
                        <a  class="btn btn-primary btn-rounded btn-outline col-md-5"  data-toggle="modal" data-target="#popupi" onClick="popupi('Change Plan', '<?php echo $this->escape($this->url(array(), 'changePlanTrialSubscription')); ?>');"><i class="fa fa-info-circle" ></i> Change Plan</a> 
                    <?php } ?>
                </form>
                <!-- ****************** trial Or paid and want update billing info ************ -->
            <?php } elseif (((strtotime($this->trial_end_date) >= time()) || (strtotime($this->trial_end_date) < time())) && $this->CustomerTokenID != null) { ?>
                <form name="updateBillingInfo" id="updateBillingInfo" method="post" action="<?php echo $this->escape($this->url(array(), 'manageBillingInformation')); ?>">          
                    <input type="hidden" class="form-control" name="nameFlag" value= "update_billing_info" />            
                    <input type="hidden" class="form-control" name="operation" value= "pre_add_billing" />
                    <!-- ************ trial and want to update billing info or change his plan *******-->
                    <?php if (strtotime($this->trial_end_date) >= time()) { ?>
                        <a  class="btn btn-primary btn-rounded btn-outline col-sm-5 col-sm-offset-1" onclick="document.getElementById('updateBillingInfo').submit();"  ><i class="fa fa-info-circle" ></i> Update Billing Information </a>       
                        <a  class="btn btn-primary btn-rounded btn-outline col-md-5"  data-toggle="modal" data-target="#popupi" onClick="popupi('Change Plan', '<?php echo $this->escape($this->url(array(), 'changePlanTrialSubscription')); ?>');"><i class="fa fa-info-circle" ></i> Change Plan</a>                       
                        <!-- ************ paid and want to update billing info or change his plan*******-->
                    <?php } else { ?>
                        <a  class="btn btn-primary btn-rounded btn-outline col-sm-5 col-sm-offset-1" onclick="document.getElementById('updateBillingInfo').submit();"  ><i class="fa fa-info-circle" ></i> Update Billing Information </a>       
                        <a  class="btn btn-primary btn-rounded btn-outline col-md-5"  href="<?php echo $this->escape($this->url(array(), 'changePlanSubscription')); ?>"><i class="fa fa-info-circle" ></i> Change Plan</a> 
                    <?php } ?>
                </form>
            <?php } ?>

        </div> 

    </div>
</div>


















<!--the old subscription page 11/07/2016-->


    <!--<style>
        .m .row div{
            padding:5px 10px;  
            font-size:14px;
        }
        .bb{
            font-weight:bold;
        }
    </style>

    <div class="m ibox">
        <div class="ibox ibox-content">

            <div class="input-group">
                <h3>Subscription Information</h3>       
            </div>

            <hr>
            <div class="row">
                <div class="bb col-sm-3"> 
                    Company Name 
                </div>
                <div class="col-sm-5">
<?php
if (isset($this->company_name)) {

    echo $this->escape($this->company_name);
}
?>
                </div>
            </div>	 


            <div class="row">
                <div class="bb col-sm-3"> 
                    Plan Name 
                </div>
                <div class="col-sm-5">
<?php
if (isset($this->plan_name)) {

    echo $this->escape($this->plan_name);
}
?>
                </div>
            </div>	

            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Maximum Users / Plan 
                </div>
                <div class="col-sm-5">
<?php
if (isset($this->plan_name)) {

    echo $this->escape($this->max_plan);
}
?>
                </div>
            </div>   

            <hr>
<?php if (isset($this->account_status) and $this->account_status == 'trial') { ?>

                                                                                            <div class="row">	  
                                                                                                <div class="bb col-sm-3"> 
                                                                                                    Account Status 
                                                                                                </div>
                                                                                                <div class="col-sm-5">

    <?php
    echo $this->escape($this->account_status);
    ?> 
                                                                                                </div>
                                                                                            </div> 

                                                                                            <div class="row">	  
                                                                                                <div class="bb col-sm-3"> 
                                                                                                    End Trial Date
                                                                                                </div>
                                                                                                <div class="col-sm-5">

    <?php
    echo $this->escape($this->trial_end_date);
    ?>
                                                                                                </div>
                                                                                            </div>
<?php } else { ?>

                                                                                            <div class="row">	  
                                                                                                <div class="bb col-sm-3"> 
                                                                                                    Account Status 
                                                                                                </div>
                                                                                                <div class="col-sm-5">

    <?php
    echo $this->escape($this->account_status);
    ?> 
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="row">	  
                                                                                                <div class="bb col-sm-3"> 
                                                                                                    Start Date
                                                                                                </div>
                                                                                                <div class="col-sm-5">
    <?php
    echo $this->escape($this->from);
    ?>
                                                                                                </div>
                                                                                            </div> 	

                                                                                            <div class="row">	  
                                                                                                <div class="bb col-sm-3"> 
                                                                                                    End Date
                                                                                                </div>
                                                                                                <div class="col-sm-5">
    <?php
    echo $this->escape($this->to);
    ?>
                                                                                                </div>
                                                                                            </div> 



                                                                                            <div class="row">	  
                                                                                                <div class="bb col-sm-3"> 
                                                                                                    last payment amount
                                                                                                </div>
                                                                                                <div class="col-sm-5">
                                                                                                   $ <?php echo $this->escape($this->last_payment); ?>  
                                                                                                </div>
                                                                                            </div> 
<?php } ?>


            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Remainder Days
                </div>
                <div class="col-sm-5">
<?php
echo $this->escape($this->remind_days);
?>   
                </div>
            </div> 
            <hr>

<?php if (isset($this->account_status) and $this->account_status != 'trial') { ?> 
                                                                                            <div class="row">	  
                                                                                                <div class="bb col-sm-3"> 
                                                                                                    paid for 
                                                                                                </div>
                                                                                                <div class="col-sm-5">
    <?php
    echo $this->escape($this->paidforusers);
    ?> Users
                                                                                                </div>
                                                                                                <div class="col-sm-3">
                                                                                                
                                                                                                <a href="<?php echo $this->escape($this->url(array(), 'settingsUser')); ?>">
                                                                                                  <span type="button" class="btn btn-shadow btn-success"> Users settings  </span>
                                                                                                </a>
                                                                                                </div>
                                                                                            </div>

                                                                                         
<?php } ?> 
            <div class="row">	  
                <div class="bb col-sm-3"> 
                    Active users you have
                </div>
                <div class="col-sm-5">
<?php
echo $this->escape($this->company_users_active);
?>  Users
                </div>


            </div> 

            <hr>

            <div class="row">
        
           

<?php if (isset($this->account_status) and $this->account_status == 'trial') { ?> 


                                                                                                <a  class="btn btn-primary btn-rounded btn-outline" style="width: 45% !important; display: block; margin: 0 auto;" href="<?php //echo $this->escape($this->url(array('isSubscribe' => 1), 'calculateRealAddUserChangePlan'));       ?>"><i class="fa fa-info-circle" ></i> Become Premium</a>

<?php } else if (isset($this->account_status) and $this->account_status != 'trial' and ( $this->company_users_active == $this->paidforusers )) { ?>



                                                                                                <a  class="btn btn-primary btn-rounded btn-outline" style="width: 45% !important; display: block; margin: 0 auto;" href="<?php //echo $this->escape($this->url(array('isSubscribe' => 1), 'calculateRealAddUserChangePlan'));       ?>"><i class="fa fa-info-circle" ></i> Add User / Change Plan</a>

<?php } else { ?>
                                                                                                 <a  class="btn btn-primary btn-rounded btn-outline" style="width: 45% !important; display: block; margin: 0 auto;" href="<?php //echo $this->escape($this->url(array('isSubscribe' => 1), 'calculateRealAddUserChangePlan'));       ?>"><i class="fa fa-info-circle" ></i> Add User / Change Plan</a>
<?php } ?>

        </div> 

    </div>
</div>-->